[2022-02-14 19:41] coolstar opened #5361 "FW authentication questions regarding Apollo Lake chromebooks"
Hi, I have an Apollo lake Chromebook and had a few questions with SOF

According to the docs, they say that Apollo Lake is supported but it requires a BIOS change. What changes are required in the BIOS for this to work? I have a custom coreboot + tianocore firmware loaded on my Apollo lake Chromebook already (and don’t boot chrome os on there), so if the BIOS change could be documented or upstream

[2022-02-14 19:45] MrChromebox commented on #5361
ditto. I'm not seeing any differences between APL and GLK Chromebooks firmware-wise on the audio side, so clarification on what needs to be changed would be appreciated

[2022-02-14 19:52] cmurf opened #5362 "[BUG] 5.17-rc4, DMA-API: sof-audio-pci-intel-cnl 0000:00:1f.3: mapping sg segment longer than device claims to support"
**Describe the bug**
Getting a warning in dmesg when running 5.17 series kernels

[   15.267615] DMA-API: sof-audio-pci-intel-cnl 0000:00:1f.3: mapping sg segment longer than device claims to support [len=540672] [max=65536]
[   15.269962] WARNING: CPU: 0 PID: 5 at kernel/dma/debug.c:1162 debug_dma_map_sg+0x328/0x380

**To Reproduce**
Boot

**Reproduction Rate**
Always

**Expected behavior**
Not t

[2022-02-14 19:54] cmurf commented on #5362
ThinkPad X1 Carbon Gen 7 Laptop
[lspci-vvnn.txt](https://github.com/thesofproject/sof/files/8063568/lspci-vvnn.txt)

[2022-02-14 19:56] andyross commented on #5357
Indeed, it's a jargon collision.  In Zephyrese, device configurations live in a hierarchy of (in order of increasing specificity) "arch", "soc", and "board".   The file referenced above was the board configuration for this particular device in the Zephyr tree.  And the suggestion above was to use a board variant definition (which is certainly possible) to hold the "use IPC4" cookies.  And I'm sayi

[2022-02-14 20:52] marc-hb commented on #5352
I don't think so, the values seem fairly random. Here's a sample of a few different failures:

[code]

[2022-02-14 21:17] marc-hb commented on #3170
Still happening in daily 10146?model=BDW_WSB_RT286&testcase=multiple-pipeline-capture-50

Start Time: 2022-02-11 22:27:26 UTC
Kernel Branch: topic/sof-dev
Kernel Commit:  [98119478](https://github.com/thesofproject/linux/commit/98119478)
SOF Branch: main
SOF Commit: [b8954754f055](https://github.com/thesofproject/sof/commit/b8954754f055)

[2022-02-14 21:44] hedmo commented on #4662
@lgirdwood yes you are right . Other BYT/CHT devices (t100ta RT 5640) works but this on does not .

[2022-02-14 23:21] marc-hb commented on #5361
Which docs, this one? https://thesofproject.github.io/latest/platforms/intel-cavs/apollolake/index.html

This section is a bit confusing, chromebooks never require any BIOS change, I mean at least not for authentication reasons. Switching to developer mode is enough, all chromebooks ship with the community key:
https://thesofproject.github.io/latest/getting_started/intel_debug/introduction.html#ch

[2022-02-14 23:31] marc-hb opened #5363 "[BUG] keyword detection: Exception: Zero marker not found / failed to alloc 0x12500 bytes"
For the last 3 months the same check-keyword-detection test has been failing the same every day on the same platform:

[code]
[code]

Other systems never run that test, so the failure may not be ADL specific.

First such failure on the 24th November 2021 in 8428?model=ADLP_RVP_HDA&testcase=check-keyword-detection

Start Time: 2021-11-24 03:01:08 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: 7658

[2022-02-14 23:33] marc-hb commented on #5363
P1 because daily tests are failing. If lower priority then please say so and I'll SKIP it.

[2022-02-14 23:38] plbossart commented on #5357
intel_adsp_cavs25_ipc4.conf can't be a "board" definition but may not even be a 'soc' definition.

Examples to prove my point:
JSL is cAVS 2.0 but has fewer cores and memory than ICL which is also cAVS2.0.
TGL-H is cAVS 2.5 but have less memory than TGL

So yes, the split between arch, soc and board is a very good one, and our configs ought to follow that model.

[2022-02-15 00:22] plbossart commented on #5361
@coolstar @MrChromebox the issue is the CSME keys used for the SOF firmware authentication. ApolloLake Chromebooks rely on the Intel production key - which means an SOF firmware that you compile yourself would simply be rejected during the boot time. Starting with GeminiLake the key used changed, and you CAN generate the SOF firmware yourself as you as you have access to the Tensilica tools, put t

[2022-02-15 00:33] plbossart commented on #5362
Thanks for reporting this @cmurf, very puzzling problem.

As you can see from the trace, we rely on default helpers from the sound/ tree, the allocation of the DMA is not done inside the SOF driver but in those common helpers.

To check if indeed the problem is with this set of helpers would you mind trying to run the legacy driver by adding this in /etc/modprobe/alsa-base.conf (or any file in tha

[2022-02-15 00:56] MrChromebox commented on #5361
ok, so same issue as SKL/KBL then =(

[2022-02-15 00:57] cmurf commented on #5362
Added to `/etc/modprobe.d/alsa-base.conf` and the next boot contains:

[code]
[dmesg2.txt](https://github.com/thesofproject/sof/files/8064931/dmesg2.txt)

[2022-02-15 01:00] plbossart commented on #5362
Great, thanks @cmurf, it's super useful to see that both drivers behave in the same way.

At this point we will have to ping @tiwai to ask for his guidance. It's no longer an SOF bug proper but something going boink in the memory management.

[2022-02-15 01:09] plbossart commented on #5361
yes indeed.

[2022-02-15 01:11] coolstar commented on #5361
@plbossart just wondering, is it possible to update the key with a custom coreboot (even if an external flasher is required to write over the ME region), or are Apollo Lake chromebooks SOL when it comes to SOF?

[2022-02-15 02:11] XiaoyunWu6666 commented on #5355
haven't reproduced it on both TGLU_RVP_NOCODEC and  TGLU_RVP_NOCODEC_ZEPHYR .
I will post more details after I managed to reproduce it , thanks

[2022-02-15 02:27] marc-hb commented on #4414
This failure seemed to happen less systematically so I spent some time diving in recent test results. It's difficult to draw conclusions because the symptoms vary significantly. I still think it's the same failure because one way or the other it's always when testing multiple pipelines on APL_UP2_NOCODEC_ZEPHYR.  The `multiple-pipeline-all` test reports errors with `*_hw_params` the most frequentl

[2022-02-15 02:32] marc-hb commented on #5361
@cujomalainey , in the docs you helped review recently we have:

Could we add more specific product references there? It would obviously help answer the questions here. Thanks!

[2022-02-15 02:39] marc-hb commented on #5361
Note merely adding a key does AFAIK not require replacing any firmware code. However I'm not familiar with the flash layout so I unfortunately don't know which region(s) it requires to overwrite (if possible)

This looks relevant: https://www.chromium.org/chromium-os/firmware-porting-guide/2-concepts/

[2022-02-15 02:45] plbossart commented on #5361
I don't fully recall the details but there was something fused or preventing updates at or after the DVT1 hw prototype stage. In other words none of the actual products can be updated.

[2022-02-15 02:47] marc-hb commented on #5361
For non-performance sensitive testing you can use the free, crosstool-ng-based toolchain:
https://thesofproject.github.io/latest/introduction/index.html?highlight=toolchain#toolchain-faq
Don't release binaries compiled with it.

All binaries released in https://github.com/thesofproject/sof-bin are compiled with XCC.

[2022-02-15 02:53] aiChaoSONG commented on #5357
IPC4 kconfig is SOF application level configuration, so it should stay with SOF, right? @andyross
@lgirdwood if we are going to put such overlays in SOF tree, should I put them in `arch/xtensa/configs/override`,  or create a new overlay folder special for zephyr?

[2022-02-15 08:55] keqiaozhang commented on #4859
From the history, we only caught this issue once 4 months ago. So I think we can close this issue. will reopen it if we run to this issue again.

[2022-02-15 09:02] lyakh commented on #5017
These *warnings* don't exist in the current sources any more. This message is now a debug message. Debug messages aren't enabled in CI builds, are they? In any case these *warnings* cannot appear any more, let's close this.

[2022-02-15 09:02] #5017 closed

[2022-02-15 09:02] lyakh commented on #5086
#5017 is closed

[2022-02-15 09:02] #5086 closed

[2022-02-15 09:15] lyakh commented on #4542
WHL daily tests with hda-generic run successfully in CI. Also just tried to reproduced on Mantis and the bug couldn't be reproduced. Closing

[2022-02-15 09:15] #4542 closed

[2022-02-15 09:23] lyakh opened #5364 "[BUG] Some Kconfig configuration builds fail"
**Describe the bug**
Some `make menuconfig` configurations cannot be built. The "Audio components" menu contains many entries, that aren't enabled e.g. for TGL configurations and probably in all other default configurations too. Some of them can be enabled, but a build then fails, because they can only be built with xcc, because they depend on HiFi support. Yet others depend on add-on libraries an

[2022-02-15 10:32] lgirdwood commented on #5281
Pushing to v2.2 since it's a WIP.

[2022-02-15 11:57] lgirdwood commented on #4813
@mwasko fyi since Bartosz has left. Please re-assign.

[2022-02-15 11:58] lgirdwood commented on #4539
@kv2019i @lyakh who has JSL or cavs20 platform.

[2022-02-15 13:01] kv2019i commented on #4539
@lgirdwood  I think only me. There's UP board with JSL, making this is a bit hard target to support for community release.

[2022-02-15 14:59] #5294 closed

[2022-02-15 17:25] marc-hb commented on #4859
You seem to have missed my previous comment.

I just searched the test results and multiple pipelines tests are failing on BDW_WSB_RT286 _on a regular basis_.

Please either reduce the priority or close as "wontfix" but don't close as "this almost never happens" because it does happen.

Recent test failures:

[code]

[2022-02-15 18:04] marc-hb commented on #5017
I meant it's easy to have a quick look at a couple logs, hope someone did that.

It depends, again it's easy to have a look.

[2022-02-16 01:35] mengdonglin commented on #4156
This feature is a duplicate of https://github.com/thesofproject/sof/issues/4156. Close it. @plbossart  @bardliao  @brentlu Let's track #4156. Thanks

[2022-02-16 01:35] #4156 closed

[2022-02-16 01:47] cujomalainey commented on #5361
I am pretty sure if you disable RO FW write protect you can still get in there and change the key. How to do that is a completely different question as I am not a coreboot guy. Also note the many warnings you will see if you venture down that path.

GLK/CML/TGL/JSL/ADL and all following intel chips are signed with the community key. IIRC BYT/CHT/BDW can also run unsigned FW. There is just that gap

[2022-02-16 03:07] plbossart commented on #5361
@cujomalainey you are very optimistic on this one. I tried with the support of the Intel team and the Google team (Dylan, Duncan et. al) and did not succeed except on the 'Elektro' device which was pre-production hardware. The same process failed on all other devices. It would take master hacker skills to make this work without any formal support.

[2022-02-16 03:11] cujomalainey commented on #5361
I don't doubt, I have yet to see anything happen easily in that space. And this would be a high risk activity too, even with servod/ccd

[2022-02-16 06:16] marc-hb commented on #5357
I believe you're commenting on the hardware part of this name: `intel_adsp_cavs25_...` but this issue is about the software part `..._ipc4` which according to @andyross belongs to a totally different place (cause it's software). Do you think we should change the way hardware is named / configured before even looking at the software part?

[2022-02-16 06:31] lenghonglin opened #5371 "How to synchronize producers and consumers?"
Hello, everyone , I am porting sof to a new platform.

Now i meet a question with playback

<img width="418" alt="企业微信截图_16446519884853" src="https://user-images.githubusercontent.com/4686802/154208595-b1f289e3-23d1-4b5d-9f6f-c3c8fba31231.png">

`uds` means producer by `pipeline`, `cnt` means consumer by `dma`. and `BUFFER_PERIOD_COUNT` is 4.  It show that the producers can produce faster than con

[2022-02-16 09:52] aborisovich commented on #5357
Guys can we consider using [shields](https://docs.zephyrproject.org/latest/guides/porting/shields.html) for different platforms of the same family (lets say TGL and TGL-H would be both shields of intel_adsp_cavs25 board).
Then in the shield files we can define software features. Yes I know that they are not the part of the hardware configuration but they represent a feature set of 'this specific'

[2022-02-16 10:31] aborisovich commented on #5357
Guys I think we should start with creation of "platform" directory in the SOF.
This config approach is great but we also have some data in script files that in my opinion should not be there but rather bound to CMake. I am talking about: XTENSA_CORE, XTENSA_TOOLS_VERSION, RIMAGE_KEY, name dictionary entries in the xtensa-build-zephyr scripts. Those are well-known values. So I would put prj_<build>

[2022-02-16 12:12] lgirdwood commented on #5375
@mwasko fyi - can be reproduced with adl-004-drop-stable.

[2022-02-16 12:59] paulstelian97 commented on #5371
When production is faster than consumption everything is perfectly fine -- the production is just forced to stall some periods (as the buffer will report insufficient space, and components are supposed to only put in what fits), so long as the available data is sufficient to feed the next period.

On playback, the fact that the consumer is hardware and the producer is faster means the DSP just get

[2022-02-16 13:53] lenghonglin commented on #5371
Thanks for your reply.
You mean  production is faster than consumption that is normal. and if met this condition, should call `xrun`， right?

[2022-02-16 13:55] lgirdwood commented on #5371
@lenghonglin playback speed is governed by how fast your DMA (and hence DAI) consumes the data. The producer will block if the downstream pipeline is full until there is buffer space available.
So on Intel platforms, the host side playback DMA (that copies audio from the host to the DSP pipeline) will only copy data if there is enough free space.

[2022-02-16 14:06] lenghonglin commented on #5371
How to block producer ?

[2022-02-16 14:07] lenghonglin commented on #5371
I try to call `xrun` when  producers faster than consumers.
![image](https://user-images.githubusercontent.com/4686802/154281280-3e6c7694-a813-4aae-8c4c-8c43c974d443.png)

[2022-02-16 14:13] lgirdwood commented on #5371
See host.c
[code]
This will copy 0 bytes (and return NO error) if there is no free space which has the effect of not moving the ALSA position pointer and blocking any any applications which call write().

On the next timer tick the DAI DMA should have consumed data meaning there is free space from the host DMA to copy data (and unblock the producers on the host).

[2022-02-16 14:18] lenghonglin commented on #5371
I got this part, so it's very important in dai_copy
[code]

[2022-02-16 14:21] lenghonglin commented on #5371
`dma_get_data_size(dd->chan, &avail_bytes, &free_bytes);` this function will get correct `free_bytes` and if no space, will return 0. and next will block by `host_copy()`, right?

[2022-02-16 14:27] lgirdwood commented on #5371
Sorry - I should be clear, it will "block" the Linux userspace (application) producer. The FW pipeline will still keep running on every timer tick and copy data when space permits.

So the host playback DMA copy() will only copy bytes if the pipeline has free space other wise it copies 0 bytes (with NO error). Free space is created in the pipeline by the playback DAI DMA consuming (at a fixed rate

[2022-02-16 14:33] lgirdwood commented on #5273
50% complete, should be fully complete for v2.2

[2022-02-16 14:36] lgirdwood commented on #5096
FW crash so P1

[2022-02-16 14:41] lgirdwood commented on #4813
@XiaoyunWu6666 what the reproduction rate here ? "it says not 100%" are we meaning > 50%

[2022-02-16 14:43] #5375 closed

[2022-02-16 14:44] lgirdwood commented on #5335
Moving to v2.2 since this is related to IPC4

[2022-02-16 14:53] lgirdwood commented on #5323
Luckily topology2 is not end user released yet, it's still WIP so it can be aligned with ALSA 1.2.7 when its ready.  I think short term we need to remind developers that they need ALSA git for topology2 based development.

[2022-02-16 15:07] lenghonglin commented on #5371
Yes, `block by host_copy()` means host copies 0 bytes , I may have misexpressed myself.

Like this:
![image](https://user-images.githubusercontent.com/4686802/154292703-9ff3a2b8-9d19-4451-ae76-cc89a566bc77.png)

display `buffer covered` mean `producer count` - `consumer count` = 4. ps dai dma elem size is 4.

[2022-02-16 15:15] lgirdwood commented on #5371
DAI elem size 4 seems too small. On Intel platforms we program the DAI DMA copy size to 48 frames per timer tick (for 48kHz) i.e. we copy 48 * 2 * 2 bytes (48k stereo 16bit). This means the DMA updates the pipeline and consumes 48 frames per update.

[2022-02-16 15:50] lgirdwood commented on #5371
oh, you mean the DMA has 4 periods - ack we always have >= 3 DAI DMA periods on Intel to avoid the case where FW is writing and DMA is reading from the same period. Intel DAI period size is ~48 frames.

[2022-02-16 19:15] marc-hb commented on #5323
This works only as long as all SOF developers know each other.

v2 is really not the worst problem right now. v1 is silently corrupted by most ALSA versions right now, fixed by revert #5192

[2022-02-16 20:39] marc-hb commented on #4248
`src/lib/wait.c:51   ERROR poll timeout` is another, more frequent error we don't catch

https://sof-ci.01.org/sofpr/PR5192/build12056/devicetest/?model=APL_UP2_NOCODEC_ZEPHYR&testcase=multiple-pause-resume-5

[2022-02-16 20:45] marc-hb commented on #4996
https://sof-ci.01.org/sofpr/PR5192/build12056/devicetest/?model=APL_UP2_NOCODEC_ZEPHYR&testcase=multiple-pause-resume-5

[code]

[2022-02-17 02:24] marc-hb commented on #5371
A short yet precise name for this is "backpressure".

[2022-02-17 02:26] marc-hb commented on #5364
The (orphaned) kconfig.py we use offers unfortunately no "randconfig" option like the C version does.

We could still test allconfig, alldefconfig and others in CI.

[2022-02-17 02:41] bawanqin1987 opened #5380 "[BUG]open volume of pipeline,and the audio output is noisy"
**Describe the bug**
when i use pipe-passthrough-playback.m4 ,the audio data playback ok
when i use pipe-volume-playback.m4,the audio data playback with noise

**To Reproduce**
with pipe-volume-playback.m4,i feed a audio format file,and by dai--dac drv(our codec dac path),There is a noise in the speaker output
and bypass volume ,there is no noise,data is ok

**Reproduction Rate**
10/10

**Expected

[2022-02-17 02:43] bawanqin1987 commented on #5380
I initially suspect that the output of the digital field exceeds 0dB after the gameplay of volume's volume curve and the volume adjustment of our DAI DAC driver combined, which is distorted
So could you please tell me how to use volume and what should be paid attention to

[2022-02-17 02:46] bawanqin1987 opened #5381 "[SOF CODEC]how can i use sof/cadence decoder or encoder?"
i wannna use cadence encoder and decoder,how can i open the cadence codec with my sof?

i check the source support,there are cadence codec supportting,
i now,use the pipe-passthrough-playback.m4 had already test the audio ok
so ,how can i open the cadence codec with my pipeline?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features yo

[2022-02-17 03:01] plbossart commented on #5380
@bawanqin1987 would you mind adding more details:

Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
Kernel: {SHA}
SOF: {SHA}
Name of the topology file
Topology: {FILE}
Name of the platform(s) on which the bug is observed.
Platform: {PLATFORM}

???

[2022-02-17 03:29] bawanqin1987 commented on #5380
Kernel: {zephyr}
SOF: {1.5.0}
Name of the topology file
Topology: {pipe-volume-playback.m4}
Name of the platform(s) on which the bug is observed.
Platform: {CSK6}with my new add

[2022-02-17 06:13] lenghonglin commented on #5381
https://github.com/thesofproject/sof/blob/main/zephyr/CMakeLists.txt   it seems zephy sof not support codec_adpater

[2022-02-17 06:16] bawanqin1987 commented on #5381
Kernel: {zephyr}
SOF: {1.5.0}
Name of the topology file
Topology: {pipe-passthrough-playback.m4}
Name of the platform(s) on which the bug is observed.
Platform: {CSK6} our new add ,more sames to nxp

[2022-02-17 08:02] dbaluta commented on #5381
@bawanqin1987 Have a look at the pipeline we have for supporting MP3 with i.MX8QXP/i.MX8QM here:

https://github.com/thesofproject/sof/blob/main/tools/topology/topology1/development/sof-imx8-compr-mp3-wm8960.m4

You will also need tho have the cadence binary libraries: (these are provided by Cadence!!). Once you got them, you need to set some config options:

[code]

This works and it is tested fo

[2022-02-17 08:08] lenghonglin commented on #5381
`CONFIG_COMP_CODEC_ADAPTER`

[2022-02-17 08:11] lyakh commented on #4996
@marc-hb are you sure it's the correct place to put this? Isn't your log showing towards #4414 ?

[2022-02-17 08:20] dbaluta commented on #5381
We will add this to zephyr in the next few weeks. Anyhow, @bawanqin1987 can try this with proper SOF without Zephyr.

[2022-02-17 08:23] dbaluta commented on #5381
1.
You can add Cadence library anywhere on your filestem and provide the correct path to CONFIG_CADENCE_CODEC_MP3_DEC_LIB config option.

Here is on my machine:

[code]

2. I don't think I understand your question. You need to get the library from Cadence (are you a cadence customer?!), I think there are some fees involved. You will need to rebuild just the firmware and link it with Cadence librar

[2022-02-17 08:46] bawanqin1987 commented on #5381
i wanns test with my target board,so i think the .a will be Put on file system,Then the SOF on the AP side delivers the playback service, and calls. A to play after hifi4 starts?

[2022-02-17 08:47] bawanqin1987 commented on #5381
then ,i test the sof cadence codec with zpehyr os..and it's does not work? it's not support with zpehyr?

[2022-02-17 12:36] dbaluta commented on #5381
@bawanqin1987 Yes, currently codec_adapter is not supported with zephyr. I have added a first PR to add this support.

Please have a look at:

https://github.com/thesofproject/sof/pull/5384

The only thing that needs to be done is to find a way to link the cadence libraries with zepyr firmware. @lgirdwood any idea? We need a function similar with SOF - > sof_add_static_library

Meanhwile, @bawanqi

[2022-02-17 16:04] marc-hb commented on #4996
I don't remember seeing any xrun in #4414, is there?

[2022-02-17 18:18] marc-hb opened #5385 "[BUG] etrace sometimes empty on BDW and BYT"
The shared memory "etrace" is sometimes empty on BDW and BYT

This makes the sof-logger test fails like this:
[code]

Initializing the DMA trace earlier reproduces this 100% of the time: #4334. Plenty of examples there.

In theory the DMA trace and etrace should be independent from each other. But in practice, theory and practice are different.

While much much rarer, it can also happen WITHOUT th

[2022-02-18 06:09] XiaoyunWu6666 opened #5389 "[BUG]S24_LE does not work on TGLU_HDA_CAVS_IPC4"
**Describe the bug**
Aplay and arecord of  sample format of S24_LE does not work on TGLU_HDA_CAVS_IPC4

**To Reproduce**
arecord   -Dhw:0,0 -r 48000 -c 2 -f S24_LE -d 3 /dev/null -v -q
OR
aplay   -Dhw:0,3 -r 48000 -c 2 -f S24_LE -d 3 /dev/zero -v -q

**Reproduction Rate**
100%

**Environment**
Kernel Branch: integration/ipc4-wip
Kernel Commit: [b30c585d](https://github.com/thesofproject/linux/comm

[2022-02-18 06:56] marc-hb commented on #5335
Not sure what you're referring to sorry. In any case I don't have any WIP related to this.

[2022-02-18 11:24] lgirdwood commented on #5380
@bawanqin1987 check your total pipeline gain is <= 0dB. Greater than 0dB gain can cause clipping and distort the ouput. If it's not the gain, then I would check your DMA, DAI and codec configs.

[2022-02-18 13:27] d03j commented on #3868
Hi,

I'm running
Ubuntu MATE 21.10 x86_64
kernel 5.13.0-28-generic
Intel Atom/Celeron/Pentium Processor x5-E8000/J3xxx/N3xxx Series Imaging Unit
alsa k5.13.0-28-generic
PipeWire 0.3.32
sof-bytcht nau8824

And am also getting a loud beep/screech on the speakers and headphones after a minute or two playing audio.

[2022-02-18 14:29] kv2019i commented on #4539
Did a quick test with latest SOF&Zephyr and boot is still failing. FW download is successful (auth is ok), but boot fails to a timeout. Something goes wrong in the early Zephyr boot process.

[2022-02-18 17:06] MrChromebox commented on #5361
Q: Since APL Chromebooks can load, and SoF provides as part of sof-bin, the intel-signed firmware for Apollolake, why can't that be used instead? Seems others have gotten that to work by disabling route checking on the bxt-da7219-max98357a driver (ref: https://github.com/EMLommers/Apollolake_Audio/)

[2022-02-18 19:53] plbossart commented on #5361
@MrChromebox I think this should work indeed, I didn't realize we had signed versions for APL. The SOF driver would need to be selected manually with 'options snd-intel-dspconfig dsp_driver=3' since 'officially' Intel does not support this product configuration.

I am not sure why a machine driver change would be needed though, the same topology/machine driver is used for GLK and should work as is

[2022-02-19 04:26] marc-hb commented on #5352
Something strange happened _in the middle of a test_ on WHL:
https://sof-ci.01.org/softestpr/PR862/build985/devicetest/?model=WHL_UPEXT_HDA_ZEPHYR&testcase=check-suspend-resume-with-playback-5

[code]

[2022-02-19 08:09] marc-hb commented on #5335
Well now I have. A bit:
- https://github.com/zephyrproject-rtos/zephyr/pull/42993

[2022-02-19 14:49] TronFortyTwo commented on #5309
Thanks for your answers! If I get to test as you suggested I will report the results

[2022-02-19 22:57] MrChromebox commented on #5361
@plbossart small world indeed :)

I just tested a 5.16.9 mainline kernel with `snd-intel-dspconfig dsp_driver=3'` and get the following:

[code]

I get the same output (and non-functional audio) with the `.disable_route_check` added. I believe I had to copy the signed apl firmware over the community to get it to load still.

[2022-02-21 02:32] XiaoyunWu6666 commented on #4813
I would say the reproduction rate had increased a lot now , almost can be seen in every daily report together with 4434.

[2022-02-21 08:11] jsarha commented on #5352
This does not appear to happen on my TGL board. I have now run test-speaker.sh 730 times (had it running in a loop over night) on Zephyr build of the latest https://github.com/thesofproject/sof main.

[2022-02-21 10:07] lgirdwood commented on #5381
Zephyr builds SOF as a module and imports it's cmake and Kconfig. We should be able to link Zephyr + SOF module to the Cadence archive with a regular Cmake library inclusion.

[2022-02-21 10:20] bawanqin1987 commented on #5381
yes we are, my platform is csk6 (arm m0+hifi4 dsp lx7),we had already portting the xos or rtos with processor,but now,we wanna portting zephyr and sof with my processor arch
from now on, our processor with zephyr os ,include sof firmware running ok,sample ap sof alsa topology testbech (such as playback without volume ,adc record and so on ...)running ok
and then we will adaptor the cadence encode/

[2022-02-21 11:52] ujfalusi commented on #4333
@marc-hb, @XiaoyunWu6666, are we still seeing this? The dtrace is now using sync dma copy and sends the position update only when the copy has been done, in theory it should improve things (https://github.com/thesofproject/sof/pull/5329 was merged 11 days ago).

[2022-02-21 12:18] juimonen commented on #5323
@marc-hb is this still an issue? so topology2 needs the -I flag and if it is used in our build scripts for topology2, thats an issue, we need to either remove the topology2 compilation until available or message the developers to update to alsa-utils upstream head.

Unfortunately we are in transit with topology2 (some needed functionality not officially released), so what can we do? we can't even

[2022-02-21 18:01] marc-hb commented on #5323
Until a released version of alsatplg can successfully build topoV2 I suggest commenting out the wrong alsatplg version check in `topology/topology2/CMakeLists.txt` and replace it with a test for the (empty) file `topology/I_want_v2`. CMake would build v2 if and only if this trigger file is found. Developers and CIs who have a recent enough alsatplg can very easily create this empty file, everyone

[2022-02-21 18:10] perexg commented on #5323
The detection can be automated:

[code]

[2022-02-21 18:29] marc-hb commented on #5323
Until the next (and worse) problem is found (like some silent corruption?). The explicit `topology/I_want_v2` method provides a manual switch not just for this `-I` problem but for any future issue too. It's a constant reminder in `git status` that the topologies are produced by an unreleased and unpredictable alsatplg version. It draws a very clear line between developers who need bleeding edge s

[2022-02-21 22:30] marc-hb commented on #4333
The DMA trace doesn't seem to be empty anymore. However it can still get stuck, see the end of these very recent DMA traces:

https://sof-ci.01.org/sofpr/PR5394/build12089/devicetest/?model=ADLP_RVP_NOCODEC&testcase=check-playback-3times
https://sof-ci.01.org/sofpr/PR5394/build12089/devicetest/?model=ADLP_RVP_SDW&testcase=check-capture-3times
https://sof-ci.01.org/sofpr/PR5394/build12089/devicetes

[2022-02-22 02:56] marc-hb commented on #5352
TGL does not seem to reproduce the most frequently and test-speaker neither. Do you have an APL board?

I would also recommend reloading the firmware regularly, just an intuition based on staring at a lot of failures recently. https://github.com/thesofproject/sof-test/tree/main/tools/kmod works great.

[2022-02-22 06:46] juimonen commented on #5395
@aiChaoSONG yes it is a real component/widget, but it is connected via the virtual buffer. So it is not used as such. It is just convenient backend as it happens to be defined in this topology. It could be also that inside sof fw the scheduling needs a dai in the pipeline to be operational.

[2022-02-22 08:23] mengdonglin commented on #4859
Lower the priority to P2 as it's on BDW, but not P3 as it seems to be a generic issue of mixer.

@XiaoyunWu6666 @marc-hb Do you still observe this issue after PR #5374 was merged?

[2022-02-22 08:37] mengdonglin commented on #3170
As Broadwell (BDW) is a very old platform, we lower its priority and will not fix issues with multi-pipeline test cases on BDW.

[2022-02-22 08:42] XiaoyunWu6666 commented on #4859
Actually it was observed in CI daily tests only once ....
@marc-hb the recent test failures you post look actually #3170 ?

[2022-02-22 08:46] lyakh commented on #5257
fixed by #5374

[2022-02-22 08:46] #5257 closed

[2022-02-22 10:43] lgirdwood commented on #629
@mmaka1 @marcinszkudlinski pls confirm ?

[2022-02-22 11:29] ujfalusi commented on #4333
@marc-hb, true. Interesting.

[2022-02-22 11:30] lgirdwood commented on #5357
@kv2019i @mwasko @macchian @mmaka1 @aborisovich @andyross @nashif topic for Wednesday. Need to resolve soon.

[2022-02-22 12:37] wszypelt opened #5398 "[BUG] 07_06_TestKdMemLeak DSP PANIC and Keyword detection notification timeout"
**Describe the bug**
Bug was found in:
07_06_TestKdMemLeakStaticPipelines

the content of the error:
Keyword detection notification timeout
DSP panic

**Topology**
[code]
Description:
Test keyword detection feature with full topology and memory leak verification, using SSP loopback.

**To Reproduce**
Run tests with diagnostic driver
07_06_TestKdMemLeakStaticPipelines

**Reproduction Rate**
100%

*

[2022-02-22 13:21] danao81 commented on #4662
Hi all
After a long search I finally found this post
I'm going through the same issue, my audio playback randomly stops and starts a very annoying beep.
This happens when reproducing from any audio source (.mp3, video files, youtube streaming).

I tried to "add this to /etc/modprobe.d/alsa-base.conf

options snd_sof sof_debug=1"

but in my alsa-base.conf there's no "snd_sof_debug" string

Attached

[2022-02-22 16:26] plbossart commented on #4813
didn't @lyakh push some pipeline state changes recently in the firmware?

[2022-02-22 16:28] plbossart commented on #4662
@danao81 can you attach the results of 'alsa-info', that should show which modules are available in your system. lsmod | grep sof works are well...

[2022-02-22 16:35] plbossart commented on #5361
I think this one is harmless, though maybe @ranj063 can help clarify what this means.

Humm, I think I faced that problem before. I can't recall what I had to do, it could be as bad as commenting out the DAPM routes. I'll look into this.

Yes, for Google we default to the community key on all platforms. You can work around that by using

options snd-sof-pci fw_path="intel/sof"

[2022-02-22 16:44] ranj063 commented on #5361
@plbossart all of the above are because of incorrect virtual widgets in the topology. We need to remove the "DMiC" virtual widget and add virtual widgets for each of the ones missing above.

[2022-02-22 16:47] plbossart commented on #5361
@ranj063 GLK still have the DMIC widgets? Are they not needed?

[code]

[2022-02-22 16:47] plbossart commented on #5361
@MrChromebox Can you try this topology? it needs to replace the existing one in /lib/firmware/sof-tplg

[sof-apl-da7219.tplg.gz](https://github.com/thesofproject/sof/files/8118500/sof-apl-da7219.tplg.gz)

[2022-02-22 16:49] ranj063 commented on #5361
I think this one's not needed but the other two are

[2022-02-22 16:56] lgirdwood commented on #4813
Yep, updates have been merged for v2.1 to make everything more reproducible wrt IPC and pipeline copies. Issue is tracked for v2.1.

[2022-02-22 16:58] danao81 commented on #4662
Hi, thank you for the quick reply

I already tried to check alsa-info before posting , but it seems I don't have the file in the folder neither the command line works, I know it sounds weird...
I do have alsa-utils installed...

Maybe a kernel update could help?

[2022-02-22 17:03] plbossart commented on #4662
alsa-info is usually installed as /usr/sbin/alsa-info

Use lsmod | grep sof and paste the results

[2022-02-22 17:30] MrChromebox commented on #5361
that fixes it, although the audio output is listed as Headphones (vs internal speakers). I'll need to find a pair of wired headphones to test JD/HP output

[2022-02-22 17:39] MrChromebox commented on #5361
possible to default to that if SMBIOS bios-vendor is 'coreboot' (and system-manufacturer is 'Google')? That would cover APL Chromebooks running my upstream coreboot firmware

[2022-02-22 18:14] MrChromebox commented on #5361
one additional note - the volume control seems to be a bit off - it scales from 0-10%, but 11-100 is constant. So 10% is full volume (and quite loud)

[2022-02-22 18:24] marc-hb commented on #3170
The test still failed yesterday in 10402?model=BDW_WSB_RT286&testcase=multiple-pipeline-capture-50, let's close this when https://github.com/thesofproject/sof-test/pull/863 is merged so we stop testing this.

[2022-02-22 19:58] marc-hb commented on #4434
@kfrydryx, @abonislawski  any update? This is one of the few failures still impacting daily tests.

[2022-02-22 20:36] plbossart commented on #5361
this is the DMI quirk in sound/soc/sof/sof-pci-dev.c that changes the fw_path and adds the community prefix.

[code]

we'd want a quirk that works only for APL but only for Chromebooks. not sure how to go about this.

[2022-02-22 21:21] marc-hb commented on #4333
Padding after some delay?

[2022-02-22 21:56] danao81 commented on #4662
My bad, I was looking into "bin" folder and not "sbin"

Here it is the output:

dano@pop-os:/sbin$ lsmod | grep sof alsa-info
#This program is free software; you can redistribute it and/or modify
	local PATTERN='(alsa-(lib|oss|plugins|tools|(topology|ucm)-conf|utils|sof-firmware)|libalsa|tinycompress|sof-firmware)'

[2022-02-22 22:22] marc-hb commented on #4859
Sorry, I may have confused the two. I've been staring at too many logs lately.

[2022-02-22 22:46] cujomalainey commented on #5361
@MrChromebox you could pass a boot parameter to change the path from your firmware to the driver.

[2022-02-22 23:07] MrChromebox commented on #5361
@cujomalainey yup that's easy enough, was just wondering if there were a way to work around via a DMI quirk. Sadly most Chromebook users wanting to run Linux are not terribly experienced and asking them to add a kernel boot param can be challenging at times =D

[2022-02-22 23:20] cujomalainey commented on #5361
I mean you could pass straight from your AP build, no need to add alsa-conf options. No user intervention needed. Although why you need it is a bit fuzzy since it appears like this bug might warrant a fix that will be released as part of the basic build and the signing on APL should be the same as Windows so you should be able use the default paths.

[2022-02-22 23:49] medeyusa commented on #5361
Hello everyone :)

Board: reef/snappy (HP Chromebook X360 11 G1 EE)
OS: Fedora 35 w/mainline (5.17-rc5)
Firmware: alsa-sof-firmware from fedora repos (/lib/firmware/intel/sof/)
Topology posted by @plbossart
Additional kernel commandline: `snd-intel-dspcfg.dsp_driver=3 loglevel=4 snd_sof_pci.fw_path="intel/sof"`

[code]
Tested 3 and 4-pole jack, detection did not work (posted video in #apollolake-t

[2022-02-22 23:52] MrChromebox commented on #5361
@cujomalainey not sure what you mean by AP build here. And there are at least 4 issues distinct issues that I'm seeing here with APL Chromebooks:
 * need to force use of SOF driver (via `options snd-intel-dspconfig dsp_driver=3`)
 * need to use intel-signed APL DSP firmware (via `options snd-sof-pci fw_path="intel/sof"`)
 * need for fixed topology (as provided above)
 * need to fix volume scaling

[2022-02-23 00:36] coolstar commented on #5361
I’m noticing similar volume scaling issues on Skylake/Kaby Lake with max98357a in Windows (not using SOF and not on Apollo lake) but it’s the same Maxim Amp chip

I’m wondering if it might be the gain GPIO on the max98357a chip but there doesn’t seem to be a way to configure it from coreboot or from a driver

(my max98357a driver is using reverse engineered Intel SST driver api implementation   [I

[2022-02-23 00:37] cujomalainey commented on #5361
So depthcharge can pass additional parameters to the kernel if you using it. So you can pass these parameters to the driver like this https://chromium-review.googlesource.com/c/chromiumos/platform/depthcharge/+/2623109

We didnt end up using this method but it might be something you are interested in.

[2022-02-23 00:48] MrChromebox commented on #5361
@cujomalainey ok that's what I thought you meant; my upstream coreboot builds don't use depthcharge, only Tianocore/edk2

[2022-02-23 00:51] plbossart commented on #4662
@danao81 do one of these

/usr/sbin/alsa-info
lsmod | grep sof

not both on the same line...

[2022-02-23 01:09] coolstar commented on #5361
@MrChromebox @cujomalainey yeah edk2 by default can't pass params and I'm not sure how users would take to it if we baked rEFInd in with kernel parameters (which still only would work with EFISTUB linux kernels)

[2022-02-23 01:33] plbossart commented on #5361
I looked back at the work from 2019, and I don't think jack detection ever worked.

the UCM file has this:

Value {
		PlaybackPCM "hw:sofbxtda7219max,0"
		MixerName "Headphone"
		JackName "sofbxtda7219max Headset Jack"
		JackType "gpio"
		JackSwitch "2"
		OutputDspName ""
	}

and that seems to be a set of Chrome-specific UCM extensions that were never upstreamed to alsa-utils.

I have no idea what

[2022-02-23 01:34] plbossart commented on #5361
@MrChromebox any instructions to install your setup? I think my device is no longer write protected, since I installed a different kernel with SOF back in 2018-2019, but I never used the legacy boot - Chrome only.

[2022-02-23 01:44] cujomalainey commented on #5361
@plbossart unfortunately all my UCM cleanup projects have been ignored since dgreid left. Been too busy since until last week I was the only audio member in MTV. Would love to continue but got much more important fish to fry first.

Also note the snippet is very old. I deprecated JackName, JackType, and MixerName out of our repo to use upstream equivalents.

This is what ToT looks like now.
[code]

[2022-02-23 02:39] plbossart commented on #5361
@MrChromebox Tentative autodetection for APL added in https://github.com/thesofproject/linux/pull/3453. Compile-tested only, and not the most elegant code in the world. I just didn't see an alternative.

[2022-02-23 02:42] plbossart commented on #5361
we could really have a single UCM file, @perexg added support for conditional setting of a control, and the only difference between SOF and SST drivers is that this type of mixers don't exist for SOF...
[code]

[2022-02-23 03:04] coolstar commented on #5361
Testing on whitetip (Apollo Lake) in Manjaro with SOF, I can confirm working speakers here, but I notice the same volume scaling issue where 6% is 100% (odd it's the same issue I see in Windows on Skylake without SOF -- I guess max98357a is the common thing here)

Jack detection appears to be broken as well, and the speakers show up as "Headphones" but otherwise sound is indeed working

[2022-02-23 03:26] XiaoyunWu6666 opened #5405 "[BUG] IO error when multiple pause release on APL_UP2_NOCODEC_ZEPHYR"
**Describe the bug**
IO error when multiple pause release on APL_UP2_NOCODEC_ZEPHYR , but neither xrun nor ipc time out happened

I tried for several times , IO error happened with pcm Port5 Deep Buffer aplay

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg MODEL=APL_UP2_NOCODEC_ZEPHYR ~/sof-test/test-case/multiple-pause-resume.sh -r 100
**Reproduction Rate**
rather high wh

[2022-02-23 03:44] keqiaozhang commented on #5352
@jsarha，this issue is still valid in CI,  we see this issue almost every day in "CI daily test(Today's test ID:10429)".
For TGL platform, maybe you can test with [check-xrun-injection.sh. ](https://github.com/thesofproject/sof-test/blob/main/test-case/check-xrun-injection.sh)

[2022-02-23 03:44] MrChromebox commented on #5361
I've currently only officially released RW_LEGACY firmware (w/SeaBIOS) for APL, which can be flashed via my CrOS Firmware Utility Script (from ChromeOS or Linux) at https://mrchromebox.tech/#fwscript

I'm prepping to release upstream coreboot + UEFI firmware for all APL/GLK devices coinciding with the next coreboot release (4.16), but can provide you a link to test now - just shoot me an email @ m

[2022-02-23 06:58] XiaoyunWu6666 commented on #3170
@marc-hb  I think we can close this again since https://github.com/intel-innersource/drivers.audio.ci.sof-framework/pull/185 got merged and also see current test 10444
![image](https://user-images.githubusercontent.com/79959904/155273789-f16636b4-1835-417e-a1a6-c34a9712654b.png)
[console]
[code]

[2022-02-23 06:58] #3170 closed

[2022-02-23 07:53] danao81 commented on #4662
[lsmod.txt](https://github.com/thesofproject/sof/files/8122627/lsmod.txt)
[alsa-info.txt](https://github.com/thesofproject/sof/files/8122628/alsa-info.txt)

Thank you for your patience

[2022-02-23 08:02] kv2019i commented on #5018
Depends on Zephyr https://github.com/zephyrproject-rtos/zephyr/pull/41764

[2022-02-23 14:09] jsarha commented on #5096
I tried to reproduce this on my up-extreme-i11, but could not. The test case fails when I run it (due to excessive number of detected underruns?), but there is not DSP crash dump in dmesg and no obvious problem in dtrace.

This is what I did when I tried to reproduce:

1. Set my sof repo head to plbossart/sdw/add-headset-deep-buffer
2. Build fw and topologies and copy sof-tgl.ri, sof-tgl.ldc, and

[2022-02-23 14:12] lgirdwood commented on #5405
@lyakh could be a duplicate or the same as #4414 ?

[2022-02-23 14:16] kv2019i opened #5406 "[FEATURE] Implement module_init in Zephyr builds"
**Is your feature request related to a problem? Please describe.**
With Zephyr builds, each module init needs to be called separately.

In XTOS builds we have:
•	With XTOS builds, we use sof/src/include/sof/audio/component.h
#define DECLARE_MODULE(init) __attribute__((__used__)) \
»       __section(".module_init") static void(*f##init)(void) = init
•	And then sof/src/schedule/task.c:sys_module_ini

[2022-02-23 14:18] marc-hb commented on #5405
@XiaoyunWu6666 can you elaborate on this? Are you saying you could  reproduce easily? How often? AFAIK no other current test failures can be reproduced easily, so this would be an important regression + a bisectable regression.

[2022-02-23 14:58] lgirdwood commented on #5096
@plbossart does @jsarha need any specific kernel branch or commits here to reproduce ?

[2022-02-23 15:39] plbossart commented on #4662
snd_sof is loaded
[code]
so if you do a 'modinfo snd_sof' you should see the sof_debug option, and then you can add it to an /etc/modprobe.d/alsa-base.conf file (or any file with a .conf extension).

options snd_sof sof_debug=1

Make sure to copy this verbatim, in your comment above you mentioned snd_sof_debug which does not exist indeed

[2022-02-23 16:54] danao81 commented on #4662
Ok, sorry for my lack of skill but i never go so deep in the file system except for some gui modding.

So I
[modinfo _snd_sof.txt](https://github.com/thesofproject/sof/files/8126212/modinfo._snd_sof.txt)

and i can see "sof_debug:SOF core debug options (0x0 all off) (int)" as ending string.

Now how and where can I add

options snd_sof sof_debug=1

to alsa-base.conf?

[2022-02-23 17:06] marc-hb commented on #4414
Another very recent one: https://sof-ci.01.org/sofpr/PR5393/build12115/devicetest/?model=APL_UP2_NOCODEC_ZEPHYR&testcase=multiple-pipeline-capture

[2022-02-23 17:52] cujomalainey commented on #5361
@coolstar check that the jack name in the ucm matches the name under the `evtest` tool. I know the kernel changed the names at some point which our kernel uprev teams keep hitting

@plbossart you have no idea how much I want to refactor our UCMs to use that so we can stop duplicating the UCMs all over our overlays....

[2022-02-23 17:58] danao81 commented on #4662
Done.

All is working perfectly; i hope it will help other people with the same issue

Thank you very much for your help

[2022-02-23 18:02] marc-hb commented on #5361
Good old copy/paste/diverge? I don't know about UCM specifically but in general any configuration "language" that does not implement some basic "code re-use" feature should be... banned? At the very least some `include` feature. Imagine a new programming language without function calls. Everyone would laugh at that but for some reason it's widely accepted for configuration files, they're not impor

[2022-02-23 18:07] plbossart commented on #5361
I am so bad I can't even recall how to get this information. DMI decode tells me the serial number is 123456789 :-)

[2022-02-23 18:11] MrChromebox commented on #5361
from CrOS? `sudo crossystem hwid` - board name is part pre-hyphen

[2022-02-23 18:27] plbossart commented on #5361
that gives me "REEF TEST 3240", no hyphen

[2022-02-23 18:49] MrChromebox commented on #5361
ok, that means it's running a firmware image that doesn't have any device-specific info added (likely extracted from a recovery image and manually flashed). Is it an Acer Spin 11 or Asus Chromebook 213?

[2022-02-23 18:54] plbossart commented on #5361
it's an Acer pre-production prototype, no specific labels or versions.

[2022-02-23 19:05] cujomalainey commented on #5361
dmidecode should also give you some information on the board name.

@marc-hb ALSA has it, ChromeOS just never adopted it, I was working on it till we had a re-org last year

[2022-02-23 19:13] MrChromebox commented on #5361
I'm not seeing any existing UCM for any variation of bxt-da7219-max98357a - Assuming it needs to be created?

evtest identifies the HPJ as 'sof-bxtda7219max Headset Jack'

[2022-02-23 19:15] MrChromebox commented on #5361
sounds exactly the same as what I have then. Shoot me an email and I'll provide a non-public link to flash the upstream coreboot+edk2 firmware

[2022-02-23 23:31] cujomalainey commented on #5361
@MrChromebox you mean in the chromium project? Or upstream ALSA?

[2022-02-24 00:06] MrChromebox commented on #5361
@cujomalainey not seeing in upstream Alsa. I tried looking in the Chromium repos but trying to navigate those makes my head hurt

[2022-02-24 00:20] marc-hb commented on #5093
Fix submitted in #5409 , please review. I will backport to 2.1. Sorry it took so long, I had no idea the fix would be so simple. The commit message of the regression ("cmake... performed at build time") scared me and there was always something more urgent to do like actual test failures and IPC4 stuff.

[2022-02-24 07:20] lyakh commented on #5405
as @marc-hb mentioned, logs do look different, but I think the underlying reason could be the same. @XiaoyunWu6666 sorry, maybe there's still something that I cannot read properly in reports like this one - was there a reference to where to find logs and failing test results in this report? I spent minutes reading and re-reading it and couldn't find any? I found such a failing test case in the lat

[2022-02-24 08:00] lenghonglin opened #5414 "[BUG]dcache_invalidate_region causes ram data to be modified"
**Describe the bug**

with capture pipeline , during `dummy_dma_copy_crt_elem()`,  call `dcache_invalidate_region` cause ram data to be modified.

![image](https://user-images.githubusercontent.com/4686802/155485141-2f6ed130-cf77-4a17-8f2e-b91511486279.png)

![image](https://user-images.githubusercontent.com/4686802/155484754-ade16508-4ec0-47b6-955f-33a711cd9ce3.png)

as 1st picture, we can see `r

[2022-02-24 08:54] XiaoyunWu6666 commented on #5357
fix on zephyr side :https://github.com/zephyrproject-rtos/zephyr/pull/42993
potential fix on sof side :https://github.com/thesofproject/sof/pull/5412

[2022-02-24 12:29] sanzazacuro opened #5422 "[FEATURE] Variable buffer sizes in pipeline"
**Is your feature request related to a problem? Please describe.**
Is it possible to have different buffer sizes for a pipeline? For instance, a component in a pipeline can have 48 samples input and 500 samples output sent to host?

I tried creating variable widget buffer configs for a pipeline, but the actual frame size in component did not change:
[code]
![pipe1](https://user-images.githubuserco

[2022-02-24 12:38] sanzazacuro commented on #5422
How would ALSA (arecord) react to this?

[2022-02-24 13:17] kkarask opened #5423 "[BUG] FW status on IPC timeout in test 12_01_TestMixerCapture8000Hz16b16b2ch"
**Describe the bug**
IPC timeout was found in test 12_01_TestMixerCapture8000Hz16b16b2ch:

FW status on IPC timeout after 5.0 seconds:
0x00000005 0x00000000 0x00004000

This error could be related to previous issue: #4961 and #5079.

**Topology**
[code]

**To Reproduce**
Run test 12_01_TestMixerCapture8000Hz16b16b2ch with Diagnostic driver

**Reproduction Rate**
with option: --playback_iterations<

[2022-02-24 13:26] johnylin76 commented on #5375
Hi Kai,

Do you think this bug would be detectable and make bad influences for end-users of the customer devices?
Typically "playback to BT PCM while no BT audio connection" is not a reasonable action for audio server (userspace) to take. (Not guaranteed for some error states though.)
Would the FW error cause unrecoverable issues of BT PCM pipeline (or even the whole FW)?

The reason for asking th

[2022-02-24 13:45] dbaluta opened #5424 "Zephyr LL scheduler support for SOF_SCHEDULE_LL_DMA"
For now, Zephyr LL scheduler does not support SOF_SCHEDULE_LL_DMA domain type.

src/schedule/zephyr_ll.c:

[code]

On i.MX all our pipelines use SOF_SCHEDULE_LL_DMA so when switching to zephyr obviously we cannot use Zephyr LL scheduler type.

Is there a plan to support SOF_SCHEDULE_LL_DMA domain type with Zephyr LL scheduler? I've seen that there are topologies with Intel also using this schedule

[2022-02-24 13:48] dbaluta commented on #5422
What worked for me with codec_adapter component (like your custom component is to have some internal deep buffers and thus mitigate having some fixed input / output buffers.

But your question is valid. I think you can setup the buffers sizes from topology files.

[2022-02-24 14:45] lgirdwood commented on #5357
Zephyr fixed now merged, SOF side passing CI.

[2022-02-24 17:18] sathyap-chrome commented on #5375
@johnylin76 the fix for the issue is already part of new adl 004 drop merged last night. The error was detectable on few headsets which support only NBS.

Let me know if you need more details

[2022-02-24 17:40] singalsu opened #5425 "[FEATURE] Audio processing rate throttle"
**Is your feature request related to a problem? Please describe.**
Yes, with timer based scheduling the number of frames per copy() varies. Then as chain reaction the component processing MCPS max can be temporarily a lot larger than average when scheduled, even double.

**Describe the solution you'd like**
Pass from topology to pipeline a limit for frames count vs. nominal. With e.g. +10% allowed

[2022-02-24 22:59] #5395 closed

[2022-02-25 03:08] fuyuntsuo commented on #5414
Are these screen captures part of Xtensa Xplorer? Can we run SOF fw on that?

[2022-02-25 04:44] J0shuaT opened #5429 "No audio on GLK Chromebook"
I don't have any audio on my GLK Chromebook. Audio settings shows a dummy output. I saw other forum posts with similar issues, but I couldn't find a definite solution. Any help would be appreciated. Thanks!

**Here are my System specs:**
![image](https://user-images.githubusercontent.com/96457853/155654138-f56d1f59-dcfe-4468-941e-2d410e2c6961.png)

**This is the output of `aplay -l`:**

`**** List

[2022-02-25 05:51] lenghonglin commented on #5414
Xtensa Xplorer,  we can run SOF fw

[2022-02-25 07:13] dbaluta commented on #5414
I honestly do not understand the problem, but let me give you some pointers. At a first glance, after you invalidate the cache you re-read the data from RAM (but data from RAM could have been updated by the DMA, so you get different values from what was in the cache).

Next part: data alignment comes from your DMA driver.

You can have a look at `src/audio/host.c`:

host_params:
-> dma_get_attribu

[2022-02-25 07:29] keqiaozhang opened #5432 "[BUG][ADL][ZEPHYR] failed to enable target core for widget PIPELINE.7.SSP0.OUT"
**Describe the bug**
On ADLP platform, HW params ipc failed on stream 1 when testing playback. Firmware is built with zephyr xcc.
[code]

**To Reproduce**
aplay   -Dhw:0,0 -r 48000 -c 2 -f S16_LE -d 3 /dev/zero -v -q

**Reproduction Rate**
100%

**Expected behavior**
no IPC errors when playing audio

**Impact**
HW params ipc failed

**Environment**
    Kernel: sof-dev/4d8f25303dc0
    SOF: main/ht

[2022-02-25 07:35] lenghonglin commented on #5414
Thanks , i use dummy-dma in host

Yes , i use jlink to debug hifi4.

[2022-02-25 08:16] johnylin76 commented on #5375
Thanks Sathya.

Do you mean the user may sense something weird for the headset? such as sound artifacts, connection lost/unstable, and anything might bother users.

[2022-02-25 08:23] paulstelian97 commented on #5414
This looks like something unrelated is interacting with the sg elem (did some interrupt happen in the meantime?). Indeed this doesn't look like normal behaviour.

However do note that after copying a segment the driver is supposed to update and change to a different sg elem. Remember that elems is a full blown array, not just a simple pointer (you're only showing elems[0] in that debug screen). Al

[2022-02-25 09:47] miRoox commented on #4996
In today's daily test (10509), a very similar xrun error happened on TGLU_RVP_NOCODEC and ADLP_RVP_NOCODEC when running multiple pipelines in parallel, but I cannot reproduce it. I guess it's the same as this issue, but just keep an eye on it.

[2022-02-25 11:12] lgirdwood commented on #5429
It looks like the driver is loading and detecting the DSP but not going any further afaict.
[code]
@plbossart @kv2019i @ujfalusi any ideas ?

[2022-02-25 12:26] lgirdwood commented on #5414
Sorry, not following this. @lenghonglin  are you saying that the data pointed to by rptr is being modified or that rptr is being modified ?

I would expect the rptr->data to be modified after invalidate if your local cache copy is not coherent with the data in RAM (e.g. host or DMA has copied data to rptr->data).

[2022-02-25 13:43] kv2019i commented on #5429
This seems like a product with I2S audio codecs not supported in upstream (either machine driver or codec driver missing). Maybe something similar to these: https://github.com/thesofproject/linux/issues/3336

[2022-02-25 15:33] lgirdwood commented on #5018
Duplicate with #5432

[2022-02-25 16:51] J0shuaT commented on #5429
I tried the solutions described in https://github.com/thesofproject/linux/issues/3336 , but I still don't have audio :(

[2022-02-25 18:07] kv2019i commented on #5429
@J0shuaT Can you share output of "alsa-info.sh" (see https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#run-alsa-info) and "sudo dmi-decode".
And third, the NHLT table:
sudo acpidump > dump.bin
gzip dump.bin

These should reveal what kind of audio hardware this system has. If it's a Chromebook, the codec and machines drivers should be upstream. But it's also possib

[2022-02-25 19:36] J0shuaT commented on #5429
**Here is the output of `alsa-info`:** http://alsa-project.org/db/?f=4ffbda9963feb81854cc1af925a91d7e5f46e9f3

**This is the output of `sudo dmi-decode`:**

`# dmidecode 3.3
Getting SMBIOS data from sysfs.
SMBIOS 3.3.0 present.
Table at 0x0FFE5000.

Handle 0x0000, DMI type 0, 26 bytes
BIOS Information
	Vendor: coreboot
	Version: MrChromebox-4.15
	Release Date: 01/18/2022
	ROM Size: 16 MB
	Characte

[2022-02-25 19:59] hedmo commented on #4662
hi again . is there a way to reload the sound stack?

[2022-02-25 21:42] plbossart commented on #4662
yes, see the scripts we use to unload/reload modules

https://github.com/thesofproject/sof-test/tree/main/tools/kmod

but that would not fully reset the DSP unfortunately.

[2022-02-25 21:47] Zpecter opened #5436 "[BUG] Cracking sound from left speaker on Dell XPS 17 9710"
**Describe the bug**
Everytime I reproduce a sound or video, I can hear a crack from the left speaker, at the begining and at the end of the sound/video, and sometimes, even I cannot hear anything from this left speaker, and I have to flash my laptop bios from windows to reenable sounds from the left speaker. I use debian with the kernel 5.16.x and the latest version of this driver, 1.9.

**To Rep

[2022-02-25 21:50] plbossart commented on #5429
The solutions suggested in #3336 would not work, it's not the same hardware platform.

You seem to have a bog-standard GLK Chromebook, but you are using a Linux distro with @MrChromebox's firmware.

Please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/8145043/sof-dyndbg.conf.txt)
as /etc/modprobe.d/sof-dyndbg.conf, reboot and attach the dmesg log. Thanks @J0shuaT

[2022-02-25 22:06] plbossart commented on #5436
@Zpecter can you attach the result of 'alsa-info' please, it's not clear to me which SKU this is. I am not aware of any issues reported with speakers not functional.

[2022-02-25 22:23] MrChromebox commented on #5429
@plbossart there are a few different audio configs for GLK Chromebooks - the ones with rt5682+max98357a work fine, the ones with da7219+max98357a (as above) do not currently

[2022-02-25 23:11] J0shuaT commented on #5429
@plbossart Here is it: https://pastebin.com/Fr2siN4c

[2022-02-26 11:09] lgirdwood commented on #4662
@plbossart does this mean the BYT flows for S3 need to follow the module removal programming flows ?

[2022-02-26 13:29] sourcejedi opened #5437 "[BUG] Sound breaks after a few minutes playing - Dell Chromebook 11 3120 - baytrail max98090 in SOF mode"
**Describe the bug**

Sound playback works initially. After a few minutes playback, sound is replaced with a flat tone.  The driver stops accepting more audio, as can be seen by youtube video stalling.

Sound can always be cleared and restarted simply by switching consoles e.g. ctrl+alt+f1 and back. (This causes pulseaudio to relinquish the device, and then reacquire it). But it will soon break ag

[2022-02-26 20:57] ZacharyTheGamer200 opened #5438 "[BUG] No audio output on topology on HP Laptop 17-cn0xxx"
**Describe the bug**
On my HP Laptop 17-cn0xxx the audio does not work on Linux using the latest Linux Firmware release. The audio worked in a prior release in August and as recently as a few months ago but that driver may've been highly unstable because back then the system would completely freeze to the extent that no logs were recorded I don't know what the cause was. The current Linux-firmware

[2022-02-26 21:18] psammarco opened #5439 "Hp Chromebook elite c1030 no audio rt5682 SOF"
**Describe the issue**
I have got a HP chromebook elite c1030 which features a 10th gent Intel Cometlake i7-10610U chip and a rt5682 soundcard. I have been hammering my head for over a week now trying to get audio to work, but so far I have had no luck whatsoever.
I enabled all available SND and SOF related kernel modules selected in the default ChromeOS kernel config, but it made little to no dif

[2022-02-27 12:22] keqiaozhang commented on #5432
I completely forgot that I had reported a same issue before. Let's track the issue in https://github.com/thesofproject/sof/issues/5018

[2022-02-27 12:22] #5432 closed

[2022-02-27 16:08] Denisuu opened #5440 "No output on glkda7219 + glkrt5682 (OCTOPUS) Chromebook devices"
**Describe the bug**

Gemini lake processor Chromebooks that have both `sof-glkrt5682max` and/or `sof-glkda7219max` don't have working audio.
(Only dummy output).

**Reproduction Rate**

Sound doesn't work OOB on devices listed below. I've tried multiple different `firmware-sof-signed` packages ranging from 1.6.1 to 1.9.1 none seem to work.

**Impact**

Devices that are confirmed to have this issu

[2022-02-27 16:09] Denisuu commented on #5440
**Full logs**

<details>
  <summary>dmesg</summary>

[code]

</details>

<details>
  <summary>inxi -Fazy</summary>

[code]

</details>

<details>
  <summary>lsmod</summary>

[code]

</details>

<details>
  <summary>alsa-info</summary>

[code]

</details>

[2022-02-27 18:28] J0shuaT commented on #5440
I also submitted an issue for this #5429 . I also have the same type of device as you, HP Chromebook 14a (BLOOGLET)

[2022-02-28 00:09] srguglielmo commented on #5436
I'm having this popping issue as well (along with an inability to get the microphone working, but that's a separate issue).

[all-alsa-info.txt](https://github.com/thesofproject/sof/files/8149694/all-alsa-info.txt)

[2022-02-28 02:52] mengdonglin commented on #5352
Lower priority to P2, as we're going to abandon DMA-based SOF trace and use Zephyr native LOG implementation. Zephyr native LOG implementation will probably fix this problem.

[2022-02-28 03:03] aiChaoSONG commented on #5335
Correct rimage sign schema on sof side: https://github.com/thesofproject/sof/pull/5412

[2022-02-28 03:05] aiChaoSONG commented on #5357
close this RFC by #5412

[2022-02-28 03:05] #5357 closed

[2022-02-28 03:06] keqiaozhang commented on #5018
This issue is blocked by https://github.com/zephyrproject-rtos/zephyr/issues/43087.

[2022-02-28 05:06] XiaoyunWu6666 commented on #5293
For two problems in this issue ,
1) no references to the copier and base_fw, already fixed by #5344
2) wrong image signing schema used when building for IPC4 #5335 can be fixed by #5412  and zephyr https://github.com/zephyrproject-rtos/zephyr/pull/42993

This can be closed but let's wait for some days until zephyr provides fix for the xcc build so that I can make a double check

[2022-02-28 09:42] lgirdwood commented on #5438
@ZacharyTheGamer200 can you provide your dmesg output at boot and then any dmesg output after playback with aplay.

[2022-02-28 09:52] lgirdwood commented on #5440
So I think #5429 is different, as it looks like we are missing an ingredient (suspect codec??) driver/config upstream (and hence the SOF driver is not fully being bound). This issue is different as driver binding takes place but the FW fails to load.

@Denisuu I suspect this is the FW failing to be verified by the signing mechanism. i.e. the key used to validate is different to the key used to sig

[2022-02-28 10:01] lgirdwood commented on #5436
@Zpecter @srguglielmo for the left speaker popping (and being fixed by the bios, I suspect a codec configuration issue). The codecs are I2C devices and could be programmed by BIOS (SOF FW cant program them). Speakers popping at start/stop is also normal (but undesirable), this usually means the speaker playback audio path is being powered on.

Could you both try using alsamixer to verify L/R chann

[2022-02-28 10:03] kv2019i commented on #5018
To fix this issue, https://github.com/zephyrproject-rtos/zephyr/pull/41764 is mandatory but not enough on its own. Steps to fix stil needed:
- get above Zephyr fix to SOF (gated by https://github.com/zephyrproject-rtos/zephyr/issues/43087 )
- change SOF to use a different target for TGLLP/TGLH builds (cannot be done before above or otherwise we break all TGLH targets)
- change core count for TGL-L

[2022-02-28 10:06] lgirdwood commented on #5439
Looks like a duplicate of https://github.com/thesofproject/sof/issues/5429

[2022-02-28 10:09] ZacharyTheGamer200 commented on #5438
Here's the output immediately after boot after typing sudo dmesg: https://termbin.com/au1m
For aplay output I downloaded some random dummy wav file from here https://file-examples.com/index.php/sample-audio-files/sample-wav-download/. After playing that the dmesg output is as follows: https://termbin.com/r5v8

[2022-02-28 10:10] kkarask opened #5442 "[BUG] FW status on IPC timeout after 5.0 seconds in test 17_09_TestMulticoreKdWithResetCore1PlaybackD0ix16000Hz24b32b"
**Describe the bug**
IPC timeout was found in test 17_09_TestMulticoreKdWithResetCore1PlaybackD0ix16000Hz24b32b

FW status on IPC timeout after 5.0 seconds: 0x00000005 0x00000000 0x00004000

In this test multi core with keyword detection feature with D0i3 support is checked.
Playback and capture on SSP interface on internal loopback. Playback pipeline on Core 1
and capture pipeline on Core 0

FW w

[2022-02-28 10:21] #5414 closed

[2022-02-28 10:53] Denisuu commented on #5440
I think it's different because he ran this script [sof-audio-setup](https://github.com/cb-linux/breath/blob/main/bin/sof-setup-audio) as instructed in the audio section of the [Breath docs.](https://cb-linux.github.io/breath/docs.html#/?id=audio) Can you confirm this? @J0shuaT

Previously I tried the packages below, then the ones for Ubuntu Jammy through the same site because they go up to 1.9.1
[

[2022-02-28 11:54] lgirdwood commented on #5438
@ZacharyTheGamer200 it looks like we are missing a component driver (amey the codec) see.
[code]
The HDA codec is not probing above. @plbossart @kv2019i @ujfalusi fyi.

[2022-02-28 12:05] ZacharyTheGamer200 commented on #5438
I have no experience in firmware programming so I'm curious what would a fix for this issue look like?

[2022-02-28 12:14] lgirdwood commented on #5440
@Denisuu yes, please follow the docs. Also please take a look here
https://github.com/thesofproject/sof-bin/tree/main/v2.0.x/sof-v2.0

The sof-bin repo has scripts to update and install releases. There are Intel signed and community signed FW binaries.

IIUC the SOF kernel will detect a chromebook and try the community signed FW rather than trying the link in /lib/firmware/intel/sof/sof-glk.ri.

Y

[2022-02-28 12:15] lenghonglin commented on #5381
I use [sof-imx8mp-compr-mp3-wm8960](https://github.com/thesofproject/sof/blob/main/tools/topology/topology1/development/sof-imx8mp-compr-mp3-wm8960.m4) this tplg file , but it show error

![image](https://user-images.githubusercontent.com/4686802/155981740-bb939e3b-ecb0-4f06-87e1-103da5aeb1f3.png)

[2022-02-28 12:28] dbaluta commented on #5381
@dbaluta this CONFIG option must be set on SOF firmware side:

See: https://github.com/thesofproject/sof/blob/main/src/audio/Kconfig#L441

Besides this depending on what codec you want to enable you will also need to look inside:

https://github.com/thesofproject/sof/blob/main/src/audio/codec_adapter/Kconfig

[2022-02-28 12:37] lenghonglin commented on #5381
Yes, but this is sof side , i wanna know how to let host send CODEC_ADAPTOR  ipc cmd to dsp. i don't find this part code.

[2022-02-28 12:40] dbaluta commented on #5424
@lgirdwood any idea if the LL Zephyr scheduler will support LL_DMA. What's the direction on this? All our pipelines use LL_DMA domain instead of LL_TIMER and we understand if you switch them to timer or we could implement LL_DMA in LL Zephyr scheduler.

[2022-02-28 12:43] dbaluta commented on #5381
The command to create the CODEC_ADAPTER component is already sent, as you see in your screenshot. And it fails.

What I think you want on the kernel side is to have the SND_SOC_SOF_COMPRESS config option enabled so that you can use the compress interface.

This needs that you must have this Compress patch in your tree: https://lkml.org/lkml/2022/1/20/527

One question: what decoder do you want to

[2022-02-28 12:45] lenghonglin commented on #5381
Thanks , I try to find SND_SOC_SOF_COMPRESS this part code.

Yes, MP3

[2022-02-28 13:12] lgirdwood commented on #5424
@dbaluta Fwiw, Zephyr gives some scheduling advantages over xtos mode (preemption based on priority and not IRQ level) that may mean you could simplify here if you wanted ? I would be tempted to try TIMER on NXP at first and then make a decision ?

[2022-02-28 13:20] ZacharyTheGamer200 commented on #5438
Are there any other commands I could execute or tests I could run to diagnose the exact cause of the HDA codec not being probed? (namely, whether the issue is the drivers or the integration.)

[2022-02-28 13:27] lgirdwood commented on #5422
Ack, it is possible to set any sizes for each stage in the pipeline topology. The main thing is to keep the buffer small for latency and large enough for headroom.

[2022-02-28 13:28] lgirdwood commented on #5096
@XiaoyunWu6666 have you tested or seen this ?

[2022-02-28 13:38] dbaluta commented on #5424
@lgirdwood we tried the timer stuff but for some reason the sound is distorted and after a while we get the famous I/O error on aplay.

I will try to make it work with TIMER then.

[2022-02-28 13:38] Zpecter commented on #5436
[lgirdwood](https://github.com/lgirdwood) is it normal that popping sound only occurs only in one of the speakers and sometimes it appears the left speaker is disabled and only the right one has sound?

[2022-02-28 13:54] mengdonglin commented on #4434
This issue won't be fixed. When smart amplifier is present, the playback and capture (feedback) pipelines are not independent. The playback pipeline is data provider and feedback pipeline is consumer. We cannot do random pause/release on these 2 pipelines in parallel.

[2022-02-28 13:54] #4434 closed

[2022-02-28 14:04] dbaluta commented on #5381
I don't know how to answer this question. Could be that DAI is a special component.

[2022-02-28 14:08] lenghonglin commented on #5381
Thanks a bundle

[2022-02-28 14:12] psammarco commented on #5439
Hello @lgirdwood, as far as my understanding goes this is a rt5682+max98357a, however the CPU is not a GLK but a CML rather.

On ChromeOS it is recognized as such:
[code]
however, I can't get the MX98357A interface recognized under Fedora. There is simply no mention of it in dmesg, and I don't think there is a direct rt5682+max98357a CML kernel module as there is for GLK, CONFIG_SND_SOC_INTEL_GLK_

[2022-02-28 14:13] mengdonglin commented on #4813
This issue won't be fixed for the same reason as https://github.com/thesofproject/sof/issues/4434:
When smart amplifier is present, the playback and capture (feedback) pipelines are not independent. The playback pipeline is data provider and feedback pipeline is consumer. We cannot do random pause/release on these 2 pipelines in parallel. In addition, Chrome doesn't use PAUSE/RELEASE function of S

[2022-02-28 14:13] #4813 closed

[2022-02-28 14:31] ujfalusi commented on #5438
@ZacharyTheGamer200, can you enable the dynamic debugging [1] and share the dmesg?

[1] https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html?highlight=dyndbg#enable-dynamic-debug

[2022-02-28 14:34] ujfalusi commented on #5438
@ZacharyTheGamer200, you mentioned that audio worked before on the laptop. Can you roll back `sof-firmware` or the `linux` package to see which might have caused the regression?

There were a brief regression with 5.16, but it got resolved with 5.16.3.

[2022-02-28 14:44] EMLommers commented on #5361
use the tplg file on my github page.
https://github.com/EMLommers/Apollolake_Audio

[2022-02-28 14:44] kv2019i opened #5446 "[BUG] [ADL][ZEPHYR] Failed to setup widget PIPELINE.5.SSP2.OUT"
**Describe the bug**
With fix to https://github.com/thesofproject/sof/issues/5018 , a new issue is uncovered with latest main of SOF+Zephyr.
sof-test multiple-pipeline-playback.sh fails with nocodec topology.

**To Reproduce**
export TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec.tplg
cd sof-test/test-case
./multiple-pipeline-playback.sh -l 1

**Reproduction Rate**
100%

**Expected behavior**
s

[2022-02-28 14:47] lgirdwood commented on #5439
The codec may have a different I2C address than expected by the driver. Can you scan the I2C bus (using some userspace tools) and see what's found ?

[2022-02-28 14:49] lgirdwood commented on #5381
@lenghonglin all the components are being aligned along a single interface being done by @ranj063 and @jxstelter. This is WIP but will converge at some point before SOF 2.4 (Q4 2022)

[2022-02-28 14:54] lgirdwood commented on #5424
I guess the codec is clock supplier ? One thing to check is that there is overhead in the DAI DMA buffers to cater for drift (Intel uses 3 period size == 3ms) for DAI DMA buffers for drift and to avoid DMA/FW IO collisions on each period.

[2022-02-28 14:57] lgirdwood commented on #5436
You would normally hear the pop on both L & R when the codec and amps are powered on but audio can disguise the pop on the right. Try playing silence e.g. ``` aplay -f dat /dev/zero``` and if you only get a pop on the L then it could mean something to the codec engineers.

[2022-02-28 15:02] ZacharyTheGamer200 commented on #5438
To ensure I have all the correct options enabled here's a printout of my /etc/modprobe.d/sof-dyndbg.conf: https://termbin.com/c3qp
Here's the dmesg before attempting to play any audio:https://termbin.com/2quq
After attempting to play some audio from youtube: https://termbin.com/89mh
I'm play around with downgrading sof-firmware and will report back.

[2022-02-28 15:12] ZacharyTheGamer200 commented on #5438
I tried downgrading to sof-firmware 1.9.1 which I think I used on the prior install but that didn't fix it. I'm going to try downgrading to Linux 5.16.3 now.

[2022-02-28 15:15] mwasko commented on #629
yes

[2022-02-28 15:42] Zpecter commented on #5436
When I execute that command, ```aplay -f dat /dev/zero```, I don't hear anything on both speakers.

What could be the problem with that popping sound? Could it be a problem with the speaker itself (hardware)?

[2022-02-28 15:47] ujfalusi commented on #5438
@ZacharyTheGamer200, do you sound card at all? what does `cat /proc/asound/cards` show?
Can you share the output of `alsa-info.sh` as well? Also the output of `lspci`.

The audio probe aborts because probing of the two HDA codec fails and because of that we can not find the correct machine driver. Interestingly the debugprints from `snd-sof-intel-hda-common` is still missing.

Is this laptop have

[2022-02-28 16:48] kv2019i commented on #5446
This seems to be very timing sensitive:

# minimal failing case:
[code]

# working case (just add delay)
[code]

[2022-02-28 17:35] marc-hb commented on #5352
Unlike bug severity, priority is never "objectively" defined with specified metrics. Priority can be defined in many different, project-specific ways based on various inputs and preferences. However I don't think I've seen _the implementation details of the fix_ make any priority difference before.

[2022-02-28 17:36] psammarco commented on #5439
Some output here. Let me know if you need something more specific.
[code]
Also, is this issue somewhat related to this https://www.spinics.net/lists/alsa-devel/msg101261.html ?
Thanks

[2022-02-28 18:56] MrChromebox commented on #5361
and how exactly is this different from the one posted above by @plbossart ? what routes were added/removed/changed?

[2022-02-28 19:55] EMLommers commented on #5361
Oops did not read post before....  Could be the same...
Downloading a new tplg is not needed...

just...
sudo cp /lib/firmware/intel/sof-tplg/sof-glk-da7219.tplg  /lib/firmware/intel/sof-tplg/sof-apl-da7219.tplg
sudo sed -i 's/ssp1/ssp5/g' /lib/firmware/intel/sof-tplg/sof-apl-da7219.tplg
sudo sed -i 's/SSP1/SSP5/g' /lib/firmware/intel/sof-tplg/sof-apl-da7219.tplg
sudo sed -i 's/ssp2/ssp1/g' /lib/f

[2022-02-28 20:18] EMLommers commented on #5361
Why is dmic16k not supported?

If I include DMIC16k I get errors like:
soc_pcm_hw_params failed (-22)
soc_dpcm_fe_dai_hw_params failed (-22)

[2022-02-28 20:22] marc-hb commented on #5361
Please file a different issue.

[2022-02-28 20:25] Denisuu commented on #5440
@lgirdwood Ok, I read the documentation and entered the commands below. Audio still doesn't work, did I miss something or did someting wrong?

Commands I entered:
[code]

dmesg snippit:
[code]

<details>
  <summary>full dmseg</summary>

[code]
</details>

[2022-02-28 20:27] EMLommers opened #5448 "Apollolake DMIC16k"
Why is dmic16k not supported?

If I include DMIC16k I get errors like:
soc_pcm_hw_params failed (-22)
soc_dpcm_fe_dai_hw_params failed (-22)

Is this a sof-apl.ri issue or feature not implemented?

[2022-02-28 21:15] plbossart commented on #4662
Thanks @hedmo for the results. I trust that you've repeated the results multiple times

a) sof_remove.sh
b) hibernate
c) sof_insert.sh

I see no obvious difference @lgirdwood @ranj063

[code]

[2022-02-28 21:26] hedmo commented on #4662
@plbossart  . Yes i have double checked many Times with Four different kernels to. To be more correct :

a) sof_remove.sh
b) hibernate
c) sof_remove.sh
d) sof_insert.sh

Is how i am doing it via hibernate script and Always worked.

Regards

[2022-02-28 21:51] lgirdwood commented on #5440
Can you try and copy and test (one by one) the sof-glk.ri files (from the sof-bin intel-signed and community-signed directories repo) to ```/lib/firmware/intel/sof/```

This will allow the SOF driver to try both the intel and community signed GLK FW binaries.

[2022-02-28 22:01] lgirdwood commented on #5439
Yes, it could be, can you try the patch ? (or confirm you have it in your kernel)

I cant see the codec in the list above, I would probably not expect it to report the codec name (since it requires a register read to get the codec ID), but I would have at least expected to see a device being reported on the bus.

[2022-02-28 23:32] MrChromebox commented on #5440
There's no issue loading the community firmware on GLK Chromebooks, it works fine here on mine. The issue appears to be isolated to models using the the da7219+max98357a combo; ones using rt5682+max98357a are working (at least for main speaker output).

[2022-03-01 02:25] plbossart commented on #5436
@Zpecter can you confirm what happens if you use

aplay -Dhw:0,2 -f dat /dev/zero

this should play silence on your amplifiers.

if you don't hear a crack or pop, then it might be an issue with a missing ramp when starting playback. If you play a sound without a gradual increase in volume, you might hear a pop. Usually most hardware codecs do implement some sort of solution

@shumingfan Any advice

[2022-03-01 02:30] plbossart commented on #5438
@ZacharyTheGamer200 if you have HDAudio issues, you first need to try the HDaudio legacy driver. see https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html

please add this to /etc/modprobe.d/alsa-base.conf

options snd-intel-dspcfg dsp_driver=1

reboot and report the log of 'alsa-info'

Thanks!

[2022-03-01 02:33] plbossart commented on #5437
@sourcejedi this seems to be the same DMA issue we're having on BYT.

https://github.com/thesofproject/sof/issues/3868

Please add this to /etc/modprobe.d/alsa-base.conf
options snd_sof sof_debug=1

reboot and retry. Thanks!

[2022-03-01 02:36] plbossart commented on #5448
@EMLommers can you attach the log of 'alsa-info' and provide the exact commands that you used.

DMIC16k means it's 16kHz.

[2022-03-01 02:40] plbossart commented on #5439
I may be wrong but some Maxim codecs don't even have an I2C address. You won't find it in that case...

please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/8158375/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf

reboot

and attach the results of 'alsa-info'

[2022-03-01 02:45] plbossart commented on #5429
@MrChromebox I have a "Bobba" GLK device with da7219, works fine outside of the jack detection problem due to UCM.

are you sure it's not the other way around, that the ones with rt5682 are broken?

[2022-03-01 03:39] fuyuntsuo commented on #5414
Hi @lenghonglin sorry to interrupt. Just wondering how to run SOF fw on Xtensa Xplorer?

Is it a pure emulation? Or kind of debug board overlooking a real system?

[2022-03-01 03:50] shumingfan commented on #5436
@Zpecter
Please enable the debug log of the rt1308-sdw driver and share the kernel log.
Could you try the patch below?
[code]
If you still hear the pop sound, please change the setting like below.
regmap_write(rt1308->regmap, 0xc370, 0x24);
or
 regmap_write(rt1308->regmap, 0xc370, 0x34);

[2022-03-01 03:51] lenghonglin commented on #5414
We reserved the JTAG debugging interface of DSP

[2022-03-01 03:52] lenghonglin commented on #5414
We reserved the JTAG debugging interface of DSP

[2022-03-01 03:52] lenghonglin commented on #5414
We reserved the JTAG debugging interface of DSP

[2022-03-01 03:54] lenghonglin commented on #5371
Got it~  Learned a new term, Thanks again

[2022-03-01 03:54] #5371 closed

[2022-03-01 06:38] ujfalusi commented on #5438
@ZacharyTheGamer200, for the alsa-info.sh error: `sudo pacman -S tree`

[2022-03-01 07:27] ZacharyTheGamer200 commented on #5438
So you can verify I edited the alsa-base.conf file correctly: https://termbin.com/6t4hm
Output of alsa-info after doing this edit and rebooting: https://termbin.com/mm2l
The output of the file alsa-info produced: https://termbin.com/lm80
Thanks @ujfalusi for helping me resolve the error.

[2022-03-01 07:40] ujfalusi commented on #5438
@ZacharyTheGamer200, can you also share the content of the alsa-info report?
"Your ALSA information is in `/tmp/alsa-info.txt.some_random_characters`"
`cat /tmp/alsa-info.txt.some_random_characters`
It was `/tmp/alsa-info.txt.0KpwuC9uPU` in the latest log you have shared.

Thanks

[2022-03-01 07:41] ujfalusi commented on #5438
Nevermind, the third text is the content.

[2022-03-01 08:21] ujfalusi commented on #5438
The two HDA code is 10ec0236 (Realtek ALC3204) and 80862812 (HDMI)
In your logs:
[code]
It is still probing the SOF driver instead of the legacy HDA.

I do have a laptop with the same codec (it is a Dell laptop) it probes just fine (but I'm forcing the SOF driver):
[code]

I think the reason is that intel-dspcfg is in both alsa-base.conf and in sof-dyndbg.conf. Sorry about the hassle, but can you:

[2022-03-01 08:26] ujfalusi commented on #5438
@ZacharyTheGamer200, fwiw the distro kernel I'm using is `5.16.10-artix1-1` (Artix == Arch w/o systemd)

[2022-03-01 08:42] kv2019i commented on #5429
Kernel driver bug, moving to the appropriate tracker.

[2022-03-01 08:49] kv2019i commented on #5438
HDA codecs not probing is a driver issue, moving.

[2022-03-01 08:51] Denisuu commented on #5440
@lgirdwood  I just tried the intel-signed files, same thing. What do you mean one by one? You mean mixing intel-signed and community signed. That's a lot of possible combinations!

@MrChromebox I think it might be all devices that have `da7219`.

CASTA doesn't have working audio either. It gives exactly the same output as BLOOGLET when showing the contents of `/proc/asound/cards`

<details>
  <sum

[2022-03-01 08:53] aiChaoSONG commented on #5440
The kernel still request a firmware under /lib/firmware/intel/sof/sof-glk.ri, so I suspect that you are using an old kernel. New kernel will request /lib/firmware/intel/sof/community/sof-glk.ri
[code]

[2022-03-01 08:58] #5335 closed

[2022-03-01 09:55] EMLommers commented on #5448
[    0.148205] ACPI: Added _OSI(Linux-Dell-Video)
[    0.148206] ACPI: Added _OSI(Linux-Lenovo-NV-HDMI-Audio)
[    0.148208] ACPI: Added _OSI(Linux-HPI-Hybrid-Graphics)
--
[    8.286340] intel_rapl_common: Found RAPL domain dram
[    8.397944] sof-audio-pci-intel-apl 0000:00:0e.0: DSP detected with PCI class/subclass/prog-if 0x040100
[    8.747714] sof-audio-pci-intel-apl 0000:00:0e.0: bound 0000:

[2022-03-01 12:04] Denisuu commented on #5440
I just flashed mr.Chromebox UEFI firmware and installed Manjaro and updated to the latest kernel. Tried installing `sof-bin` community as mentioned above. Then tried installing the latest `sof-firmware` from AUR.

Still no output device! :(

**sof-firmware and kernel version:**
[code]
**cards:**
`/proc/asound/cards` doesn't show: `sof-glkda7219ma - sof-glkda7219max` like it does on stock ChromeOS

[2022-03-01 14:00] lgirdwood commented on #5448
@singalsu any comments ?

[2022-03-01 14:05] lgirdwood commented on #5440
Sorry, I mean trying both sof-glk.ri files for the SOF version you want. One is signed by the Intel key and the other by the community key. This would help and rule out signing issues.

[2022-03-01 14:16] EMLommers commented on #5448
http://alsa-project.org/db/?f=4a89153604b5867a98920fa34f5ba8d3f1569d2e

[2022-03-01 14:20] EMLommers commented on #5448
Do you need my .tplg file?

[2022-03-01 14:23] plbossart commented on #4333
@marc-hb seen in daily test 10553 for 2 HDaudio platforms.

[2022-03-01 14:34] lgirdwood commented on #5448
Yes, the text (M4) version is better.

[2022-03-01 14:53] plbossart commented on #5448
@EMLommers what exact command did you use? DMIC16k means you have to use a 16khz sample rate for arecord.

[2022-03-01 15:01] plbossart commented on #5440
@Denisuu your last dmesg contains nothing related to SOF, possibly due to another bug
[code]

You may want to do a blacklist snd-sof-pci-intel-apl, reboot, dmesg -C, modprobe snd-sof-pci-intel-apl, that way we can see what's really going on.

Also add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/8162478/sof-dyndbg.conf.txt)
as /etc/modprobe.d/sof-dyndbg.conf prior to

[2022-03-01 15:29] J0shuaT commented on #5440
@Denisuu I have the same problem. I am running Ubuntu with Mr. Chromeboxes UEFI test firmware, and `/proc/asound/cards`, shows this:

` 0 [PCH            ]: HDA-Intel - HDA Intel PCH
                      HDA Intel PCH at 0x91418000 irq 124`

[2022-03-01 16:23] plbossart commented on #5448
that cannot work, it's not possible to just do string substitutions in binary topology files.

In addition, we already released a topology in sof-bin, see https://github.com/thesofproject/sof-bin/blob/main/v2.0.x/sof-tplg-v2.0/sof-apl-da7219.tplg

[2022-03-01 16:28] plbossart commented on #5439
@psammarco are you using @MrChromebox's firmware here?

[2022-03-01 16:48] J0shuaT commented on #5440
@plbossart I tried blacklisting snd-sof-pci-intel-apl, since I have the same issue as @Denisuu . Here is my `dmesg` output:

`[    0.000000] microcode: microcode updated early to revision 0x1a, date = 2020-10-23
[    0.000000] Linux version 5.16.10-051610-generic (kernel@kathleen) (gcc (Ubuntu 11.2.0-16ubuntu1) 11.2.0, GNU ld (GNU Binutils for Ubuntu) 2.38) #202202161442 SMP PREEMPT Wed Feb 16 14:

[2022-03-01 16:51] Denisuu commented on #5440
@lgirdwood I tried both, so I don't think it's a signing issue.
@J0shuaT Thanks for checking! Does sof get loaded at all on your machine running Ubuntu?

@plbossart I did all the steps as described. I also blacklisted `kvm` and `kvm_intel`  because the machine won't fully shut-down, it hangs on 'kvm: exiting hardware virtualization'

Here' s the output of dmesg:

<details>
<summary> modprobe snd-s

[2022-03-01 17:10] EMLommers commented on #5448
That cannot work? Test it and I show you it is possible!
The tplg for apl I did as well. it works like a charm!

[2022-03-01 17:28] plbossart commented on #5448
@EMLommers You can choose to ignore our technical advice but I can also choose to stop providing answers. Over and out.

[2022-03-01 17:36] EMLommers commented on #5448
Why are you linking to a tplg file, which is not working!?  The routes of iDisp3 Tx , iDisp2 Tx, IDisp1 Tx are not set.
Use my script and the routes are working. It is not technical advice. If there is an official sof topology available I will use it.

[2022-03-01 17:40] plbossart commented on #5448
This was fixed already in https://github.com/thesofproject/sof/pull/5401.
Binary attached:

[sof-apl-da7219.tplg.gz](https://github.com/thesofproject/sof/files/8163674/sof-apl-da7219.tplg.gz)

[2022-03-01 17:42] EMLommers commented on #5448
I know thank you very much! But this does not include the dmic16k yet.

[2022-03-01 17:44] plbossart commented on #5440
@Denisuu @J0shuaT please attach your dmesg logs, it's horrible if you copy/paste in GitHub

[2022-03-01 17:46] plbossart commented on #5448
why do you need it? it's not very useful in Linux.

[2022-03-01 17:51] EMLommers commented on #5448
I do not need it, just liked to test possibilities of the driver, noticed it was available in the CML (7219+98357a) and GLK toplogy, but not in the APL.

[2022-03-01 18:16] EMLommers commented on #5448
I am running a Asus C223NA Chromebook, and was working on on the ucm, to get audio fixed. In the original google ucm are the hotword and 1mic and 2mic ucms, depending on the model type. Like section below was not working.

SectionModifier."Hotword Model en_us".0 {
	EnableSequence [
		cdev "hw:sof-bxtda7219max"
		cset-tlv "name='hwd_in hwd 0 mdl params' /opt/google/bxt-hotword-support/en_us.hwd-blo

[2022-03-01 18:22] psammarco commented on #5439
I have not tried the patch yet and I am not sure if it is already present in the mainline code.

[2022-03-01 18:29] psammarco commented on #5439
Here it is http://alsa-project.org/db/?f=96db906f0bff329dff50916857ecd06196ec44fd

And yes
[code]
Thanks for the support. Much appreciated!

[2022-03-01 18:31] Zpecter commented on #5436
Hi, when I execute that command, I don't hear anything on both speakers.

[2022-03-01 18:36] Zpecter commented on #5436
How do I do that?

[2022-03-01 18:37] kv2019i opened #5456 "[BUG] [ADL][ZEPHYR] boot fail to error: can't set params for DMA for trace -110"
**Describe the bug**
https://sof-ci.01.org/sofpr/PR5443/build12190/devicetest/?model=TGLU_UP_HDA_ZEPHYR&testcase=verify-kernel-boot-log

This is a regression caused by merging of:
https://github.com/zephyrproject-rtos/zephyr/pull/41828

[2022-03-01 18:56] plbossart commented on #5436
@Zpecter you have to compile the kernel yourself, using e.g. the instructions provided here: https://thesofproject.github.io/latest/getting_started/setup_linux/install_locally.html

from the details above you seem to be using linux-stable, you would need to add the patch above on top of that tree.

If you are not familiar with kernel stuff it's going to be difficult for us to provide support given

[2022-03-01 18:57] plbossart commented on #5448
@EMLommers you can remove all this modifier, this is not supported with SOF public releases. this hotwording thing is only part of ChromeOS and released by Google, not by this team.

[2022-03-01 19:00] plbossart commented on #5439
@MrChromebox yes you need an ACPI _HID to probe a platform driver, but there's no I2C support for this device. the speaker output is enabled with the 'sdmode' - just a GPIO that toggles when you want the amplifier to generate an output.

max98357a->sdmode = devm_gpiod_get_optional(&pdev->dev,
				"sdmode", GPIOD_OUT_LOW);

[2022-03-01 19:01] plbossart commented on #5439
[code]
-> no dependency on I2C

[2022-03-01 19:09] J0shuaT commented on #5440
@plbossart Here: https://pastebin.com/G5rDaEBn

[2022-03-01 19:24] MrChromebox commented on #5439
@plbossart you're right, I must have been thinking of other Maxim parts that are both codec and amp (eg, 98373).

[2022-03-01 19:54] plbossart commented on #5440
I meant use the GitHub "attach files' below the comment box. and sorry but no there is still nothing related to SOF in there.

[2022-03-01 20:15] J0shuaT commented on #5440
I am supposed to attach the dmesg as .txt file?

[2022-03-01 20:21] Denisuu commented on #5440
The same here, still nothing sof related in dmesg.

Could it be because it detects the wrong cards?

Manjaro & Ubuntu (Mr.Chromebox UEFI):
[code]
Stock ChromeOS & Ubuntu (MilkyDeveloper's Breath):
[code]

Would be easiest that I revert to stock ChromeOS kernel and use Breath to boot Linux for further testing? At least we get this error.

[code]

I removed the 2nd comment with all the expandable lo

[2022-03-01 20:27] plbossart commented on #5440
yes. .txt or .log extensions work fine.

[2022-03-01 20:31] plbossart commented on #5440
@Denisuu please attach the full dmesg log and alsa-info.
I have no idea what 'Breath' is, nor why you don't have the firmware in /lib/firmware/intel/sof/community/sof-glk.ri
To repeat: if the firmware files are not found there is nothing the SOF driver can do...

[2022-03-01 20:39] J0shuaT commented on #5440
@plbossart this is Breath: https://cb-linux.github.io/breath/

[2022-03-01 20:48] plbossart commented on #5439
@psammarco there is no I2C interface on this amplifier, so nothing to add/invent.

[2022-03-01 20:50] psammarco commented on #5439
Oh I see. So what is the issue then? Apology if the question may sound silly.

[2022-03-01 20:51] plbossart commented on #5439
I think I know what's going on:

[code]

that means we can't detect whether there are dmics or not on this device.

And most likely the matching in sound/hda/intel-dspcfg.c fails because it's not a Chromebook.

[2022-03-01 20:53] plbossart commented on #5439
[code]

What we use is

[code]

so it's not really a big surprise that the SOF driver is not selected and the firmware is not found in the right place.

[2022-03-01 20:56] J0shuaT commented on #5440
@plbossart i'll just add my `alsa-info` here too: http://alsa-project.org/db/?f=05ce4765b25d7d68e3c1b41bd3cda9ed271f81c8

[2022-03-01 20:58] plbossart commented on #5440
Same reply as in https://github.com/thesofproject/sof/issues/5439#issuecomment-1055847673, the DMI info does not match what we expect in a Chromebook so NOTHING will work.

@MrChromebox this is a disconnect here:

[code]

v. what we use

[code]

[2022-03-01 20:59] MrChromebox commented on #5439
@plbossart google (coreboot) lets OEMs override the SMBIOS data, which is why HP is listed as manufacturer vs Google. I'll disable that for my next release.

@psammarco shoot me an email for a test build with this corrected and we'll see that fixes things

[2022-03-01 21:00] MrChromebox commented on #5440
@plbossart same issue then, ugh. Will prevent the SMBIOS overrride.

[2022-03-01 21:04] Denisuu commented on #5440
@plbossart

So on ChromeOS you have 4 ways or running Linux:

- Crostini: Embedded Linux which runs in a VM on top of ChromeOS (Working audio)
- Crouton: Chroot (No working audio)
- Breath: Use the stock ChromeOS kernel to boot Linux from USB (or replace ChromeOS)
- FW change: This turns your laptop into a regular laptop (in theory not on GLK Chromebooks though)

The fist post was on Breath, I swi

[2022-03-01 21:09] plbossart commented on #5440
@Denisuu The kernel version is meaningless for ChromeOS. It's only a base version, but the Chrome team will backport hundreds of patches, so you cannot know just with a version number what the kernel supports.

What we recommend is 5.10+ as a minimum for stability. Clearly a 4.14 base won't cut it or will only work with an ancient firmware.

[2022-03-01 21:17] MrChromebox commented on #5440
@Denisuu @J0shuaT you'll need updated UEFI firmware from me to proceed further in troubleshooting (assuming the SMBIOS change doesn't resolve the issue completely). Not sure how to handle this for Breath though.

[2022-03-01 21:32] Denisuu commented on #5440
@MrChromebox Ok. I read the 'Hp Chromebook elite c1030 no audio rt5682 SOF' issue to understand what's happening. Let us know when it's ready, no rush for me.

I'm hoping once we get it working on of the 2 it will be easier to get it working on the other.

[2022-03-01 21:37] MrChromebox commented on #5440
@Denisuu shoot me an email with the board name and I'll build an update for you to try

[2022-03-01 21:45] J0shuaT commented on #5440
@MrChromebox could I also try the updated firmware?

[2022-03-01 21:47] MrChromebox commented on #5440
@J0shuaT email me with your board name

[2022-03-01 21:50] J0shuaT commented on #5440
@MrChromebox alright, thanks.

[2022-03-01 22:51] J0shuaT commented on #5440
@plbossart @MrChromebox I just flashed the firmware with the fix:
![image](https://user-images.githubusercontent.com/96457853/156262187-0d1a35c4-4d7a-428f-9576-27d2cd09c1ef.png)

I still have the dummy audio output, but here is the new `alsa-info` output: http://alsa-project.org/db/?f=6a0ac2d7553fcf8746db94cc1c4351e0a486a99e

[2022-03-01 22:56] lgirdwood commented on #4662
It must be something down in the PCI layer ? i.e. when the PCI device is unregistered ?

[2022-03-01 23:05] plbossart commented on #4662
well it's ACPI, so it's not clear how we might chase this one. it's possible that there's a BIOS _PS power method that's invoked on remove and not on suspend. No one has time to look into this to be honest.

[2022-03-01 23:21] plbossart commented on #5440
I think the DMI matching is still in the weeds.

here's what you have:
Manufacturer:      Google
Product Name:      Blooglet
Product Version:   rev4
Firmware Version:  MrChromebox-4.15
System SKU:        sku68
Board Vendor:      HP
Board Name:        Blooglet

here's what I have.

Manufacturer:      Google
Product Name:      Bobba
Product Version:   rev2
Firmware Version:  Google_Bobba.11825.0.201

[2022-03-02 01:49] MrChromebox commented on #5440
that would be DMI_BOARD_VENDOR, or at least I'd hope. I purposefully avoided changing the baseboard vendor to make this patch upstreamable

[2022-03-02 02:44] plbossart commented on #5440
@MrChromebox that would be the rational explanation but from the results above I think there's some sort of inversion.

[2022-03-02 07:12] afq984 opened #5457 "[FEATURE] Branch protection rules for `mt8195/*`"
**Is your feature request related to a problem? Please describe.**
Prevent accidentally overwriting code in `mt8195/*` branches which are used to build firmware releases.
Currently the only branch that matches this pattern is `mt8195/v0.4`.

**Describe the solution you'd like**
Set branch protection rules on `mt8195/*`.

**Describe alternatives you've considered**
Be careful to not use `git push -

[2022-03-02 08:48] hedmo commented on #4662
There are three thing that has the same problem :
Wifi = brcmfmac
Sound = sof
Rotation = intel_ishtp_hid
All need som sort of restart . ATM i have not figurer out rotation ...
They may have a parttern. i dont know ...

[2022-03-02 10:35] Denisuu commented on #5440
I think the DMI information should be like this:
[code]
`Blooglet` is listed as `Bloog` in the recovery file.

I went back to Breath to test for MilkyDeveloper: [Breath alsa-info](http://alsa-project.org/db/?f=33d2c0d009e8f0a9112fe94c48f49579b6cfed6d)
If I need to check something SMBIOS related in ChromeOS let me know.

[2022-03-02 11:16] psammarco commented on #5439
Awesome finding!!!

Done. Thanks mate :)

[2022-03-02 13:52] lgirdwood commented on #5457
@afq984 who should have Write access ?

[2022-03-02 14:08] dbaluta commented on #5457
@lgirdwood since we are here could also give write access for imx-stable-v2.0 only to @dbaluta @paulstelian97 and @TangleZ

[2022-03-02 14:16] lgirdwood commented on #5457
@dbaluta Sure.
@balakishorepati @bhiregou any similar request ?

[2022-03-02 14:50] lgirdwood commented on #5457
@dbaluta @afq984 done - please try.

[2022-03-02 15:22] iamnina commented on #5440
Hey @MrChromebox , you stated rt5682+max98357a are working, does this apply for CometLake or just gemini? I have exactly that configuration.
Is the fix applied in your test uefi rom? I would love to test, I have DRAGONAIR . ( ps. its nina, from reddit )
Cheers!

[2022-03-02 15:45] lgirdwood commented on #5093
@marc-hb if this is merged I can label for v2.1 and close ?

[2022-03-02 15:45] MrChromebox commented on #5440
just GLK. Cometlake seems to have a completely different issue.

[2022-03-02 18:02] marc-hb commented on #5093
The dictionary checksum is still not implemented for Zephyr, using the git SHA as a fallback. I have some work in progress to fix this, I still want to try to make it for 2.1. I think it's important considering how "hybrid" 2.1 is going to be.

[2022-03-02 19:54] Zpecter commented on #5436
@plbossart, I'm familiar with compiling kernel, but it's been a long time since I compile my own kernel for the last time, but I meant how to enable the debug log for the driver.

[2022-03-02 22:48] cujomalainey commented on #5457
@afq984 are we good to close this?

[2022-03-03 00:08] afq984 commented on #5457
I'll let @dbaluta close this

[2022-03-03 01:48] keqiaozhang commented on #5456
This issue has been solved and does not appear in the daily testing of all ADL / TGL zephyr platforms. Test ID:10681.

[2022-03-03 01:48] #5456 closed

[2022-03-03 01:49] shumingfan commented on #5436
@Zpecter You could refer to the website (https://01.org/linuxgraphics/gfx-docs/drm/admin-guide/dynamic-debug-howto.html#debug-messages-at-module-initialization-time).

[2022-03-03 02:44] keqiaozhang opened #5477 "[BUG][IPC3] Header reply size is empty when running audio playback/capture test on ADLP/TGLU Zephyr platforms"
**Describe the bug**
We observed this issue on ADLP/TGLU Zephyr platforms and only SSP and SDW modes are affected. From the logs,  this failure only happens when testing playback or capture with S32_LE audio format. Not sure whether it's a coincidence or not.
This is more  like a warning, audio still can work after this error. CI test ID:10681
[code]

**To Reproduce**
$ ./sof-test/test-case/check-

[2022-03-03 07:04] afq984 commented on #5457
@lgirdwood ah, can the protection rules be lifted to just "protection" only? i.e. drop all extra protection such as signed commits, PR, status checks, just prevent force push & deletion

[2022-03-03 11:37] afq984 commented on #5457
Works for me, thanks again!

[2022-03-03 14:12] rfredzim opened #5467 "[BUG] Cache handling for IPC4 mailbox handling is implemented against best programming practices"
**Is your feature request related to a problem? Please describe.**
Currently the individual IPC4 handlers that need to access IPC payload (data past the primary/extension part) as a first step call to dcache_invalidate_region(MAILBOX_HOSTBOX_BASE) in order to force a cache update when the mailbox memory is accessed.
The cache invalidation should actually end the time slot when FW accesses the data

[2022-03-03 14:19] plbossart commented on #5436
Just copy this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/8178511/sof-dyndbg.conf.txt)
as /etc/modprobe.d/sof-dyndbg.conf

if you need only the amplifier stuff use this only:
options snd_soc_rt1308_sdw dyndbg=+p
options snd_soc_rt1308 dyndbg=+p

[2022-03-03 15:22] bhiregoudar commented on #5457
@lgirdwood : We come back tomorrow on this.

[2022-03-03 16:11] lgirdwood commented on #5467
@rfredzim solution looks fine to me.

[2022-03-03 22:02] plbossart opened #5469 "[BUG] Xrun on ADP_RVP_NOCODEC"
**Describe the bug**

https://sof-ci.01.org/linuxpr/PR3338/build7261/devicetest/?model=ADLP_RVP_NOCODEC&testcase=multiple-pause-resume-5
[code]

**To Reproduce**

TPLG=/lib/firmware/intel/sof-tplg/sof-adl-nocodec.tplg MODEL=ADLP_RVP_NOCODEC ~/sof-test/test-case/multiple-pause-resume.sh -l 3 -r 5

**Reproduction Rate**
unclear, just observed this issue.

**Expected behavior**
No Xrun

**Impact**
sh

[2022-03-04 02:01] J0shuaT commented on #5440
@Denisuu I am on Manjaro with Mr. Chromeboxes firmware, and I can also confirm that the audio works! However, there is an audio scaling bug explained here: https://github.com/thesofproject/sof/issues/5361
![image](https://user-images.githubusercontent.com/96457853/156684801-ee23ae60-77f2-4469-8f74-aa11879e6c7e.png)

[2022-03-04 02:45] XiaoyunWu6666 opened #5470 "[BUG][IPC4] ipc timed out when MOD_INIT_INSTANCE with SOF ipc4"
**Describe the bug**
On ADLP RVP NOCODEC ,when playback with SSP , ipc timed out  when MOD_INIT_INSTANCE so that creating  module failed

This also happened when playback with HDMI if using sof-hda-generic.tplg on TGLU UpXtreme HDA

**To Reproduce**
 aplay   -Dhw:0,0 -r 48000 -c 2 -f S16_LE -d 3 /dev/zero -v -q
**Reproduction Rate**
100%
**Environment**
Kernel Branch: integration/ipc4-wip
Kernel C

[2022-03-04 05:36] d03j commented on #3868
FWIW, installing v1.9 from https://github.com/thesofproject/sof-bin/archive/refs/heads/main.zip solved my issue. v2.0 doesn't seem to fix it.

[2022-03-04 09:26] kkarask opened #5471 "[BUG] Play stream not running for 1 seconds during test 25_01_TestGenericProcessorRuntimeConfig48000Hz16b16b2ch"
**Describe the bug**
Simultaneous playback and capture on external loopback (same SSP) with signal amplitude verification.
Playback pipeline contains generic processor component (codec).

During test 25_01_TestGenericProcessorRuntimeConfig48000Hz16b16b2ch with option --playback_iterations=10
Exception TimeoutError occurred.
Play stream not running for 1 seconds

FW was build with chrome config.

I

[2022-03-04 10:00] kkarask opened #5472 "[BUG] Error code: -62 in test 17_08_TestMulticoreKdCore0and1PlaybackD0ix16000Hz16b16b"
**Describe the bug**
Error occurs in test TestMulticoreKdCore0and1PlaybackD0ix16000Hz16b16b

Exception SofIpcErrorResponseException occurred at 'C:\\work\\tools\\pyexecnetcache\\cavs_scripts-py\\utilities\\ipc_driver.py':760
                 FW replied with error.
                 Error code: -62
                 0x00000005 0x00000000 0x00004000

Test multi core with keyword detection feature with

[2022-03-04 10:23] lgirdwood commented on #5470
@mwasko @marcinszkudlinski  fyi - @RanderWang should be able to look at this on Monday unless someone can solve it today.

[2022-03-04 10:29] lgirdwood commented on #5471
@ranj063 any ideas ?

[2022-03-04 10:30] lgirdwood commented on #5440
@J0shuaT this could be the codec driver kcontrol has the wrong shift or mask values for this volume.

[2022-03-04 11:45] sourcejedi commented on #5437
Oh, thank you! Confirmed. Enabling `sof_debug` in `sof_snd` appears to stop the bug.

(And that option doesn't seem to flood the kernel log with debugging messages either).

[2022-03-04 12:20] bruceyurepo opened #5473 "[BUG] Using sof-fuzzer to load tplg to qemu dsp, always crash"
**Describe the bug**
When I use sof-fuzzer to load tplg to qemu dsp, it will always crash .

**To Reproduce**
1. use the latest sof source code (9709ef81dcb8e9630c55) and build sof-byt.ri
2. start up the the qemu dsp by using byt with kernel sof-byt.ri
3. try to use sof-fuzzer to load sof-byt-nocodec.tplg
4. sof-fuzzer will crash as sof-fuzzer

**Reproduction Rate**
100%

**Expected behavior**
sho

[2022-03-04 12:23] Denisuu commented on #5440
Yea I have the same issue. When lowering sound from 100% to 6% volume stays the same, when going below 4% only the right speaker turns off. Looks like the same issue as you posted.

I've been using Manjaro eversince MrChromebox recommeded it, I absolutely love it! Especially the AUR and the ability to install AUR packages through GUI so I'm staying on Manjaro. But, I wanted to test Ubuntu again ou

[2022-03-04 12:58] lgirdwood commented on #5473
@bruceyurepo are you able to run under valgrind and produce a error dump. e.g.
```valgrind -tool=memcheck ./sof-fuzzer -t sof-byt-nocodec.tplg -p byt```

[2022-03-04 13:32] RanderWang commented on #5470
@lgirdwood there is a bug in Linux driver, so we can't fix it in FW only

[2022-03-04 13:36] bruceyurepo commented on #5473
Hi @lgirdwood

When I use valgrind to test, seems no **Segmentation fault** but a **IPC timeout**

please see below dump log:

_test@ubuntu:~/sof/sof/tools/build_tools/fuzzer$ sudo LD_LIBRARY_PATH=$PATH:`pwd`/sof_parser/build/ valgrind --tool=memcheck ./sof-fuzzer -t ../topology/sof-byt-nocodec.tplg -p byt
==11525== Memcheck, a memory error detector
==11525== Copyright (C) 2002-2017, and GNU GPL'd

[2022-03-04 15:24] J0shuaT commented on #5440
@lgirdwood Is there anything I can do to fix it? Maybe an application that limits the volume?

[2022-03-04 17:42] plbossart commented on #5437
Great @sourcejedi, thanks for letting us know. May the force be with you.

this enables the firmware trace which goes in a different ring buffer, so there are no user-visible changes in dmesg.

[2022-03-04 17:44] plbossart commented on #5469
@lgirdwood this needs to be on your radar for 2.1

[2022-03-04 17:50] cujomalainey opened #5474 "[FEATURE] Easier/scalable way to resize memory maps"
**Is your feature request related to a problem? Please describe.**
Resizing memory regions to fit various use cases is not trivial in the current implementation nor is it "configurable" in the sense that you can multiple layouts and easily pick from them

**Describe the solution you'd like**
We need to first split the device memory layout from the region layout, then provide a configurable way to

[2022-03-04 17:51] cujomalainey commented on #5474
@lkoenig FYI

[2022-03-04 21:30] lgirdwood commented on #5446
@kv2019i zephyr part is merged.

[2022-03-04 22:12] lgirdwood commented on #5474
Zephyr allocator should fix this.

[2022-03-06 17:50] Zpecter commented on #5436
Hi, I was trying the different options adding those lines to the rt1308-sdw.c file, one at a time of course and recompiling the kernel, and the latest one,  regmap_write(rt1308->regmap, 0xc370, 0x34), makes a different kind of popping sound. It sounds softer and lower, and even sometimes it does not sound at all.

[2022-03-07 05:50] shumingfan commented on #5436
@Zpecter
Could you dump the registers of rt1308 while the playback and share the kernel log?
$ cat /sys/kernel/debug/regmap/sdw:X:25d:1308:00/registers (X: SdW link number)
I want to check the new settings are applied.
BTW, I also try to borrow the same machine to duplicate this problem.

[2022-03-07 07:07] keqiaozhang commented on #5293
This issue is fixed, closing this bug.

[2022-03-07 07:07] #5293 closed

[2022-03-07 07:16] keqiaozhang commented on #5477
This error blocks CI test, so set the priority to P1

[2022-03-07 10:10] Zpecter commented on #5436
Hi, yes, I hope this 3 files are what you are asking for:

[messages.txt](https://github.com/thesofproject/sof/files/8196755/messages.txt)
[registers1.txt](https://github.com/thesofproject/sof/files/8196757/registers1.txt)
[registers2.txt](https://github.com/thesofproject/sof/files/8196758/registers2.txt)

Greetings.

[2022-03-07 10:48] kv2019i commented on #5446
This is now fixed in latest main (SOF + Zephyr), so closing. There is a remaining issue tracked in https://github.com/thesofproject/sof/issues/5477

[2022-03-07 10:48] #5446 closed

[2022-03-07 11:20] lgirdwood commented on #5477
Trace shows what looks like an attempt to use DMA instead of timer scheduling
[code]
This should return an error to host, not an empty message.

@kv2019i fyi.

[2022-03-07 12:00] bruceyurepo commented on #5473
Any update here ?

[2022-03-07 12:40] kv2019i opened #5480 "[BUG][Zephyr] DMA_LL scheduler init fails on secondary cores"
**Describe the bug**
DMA_LL scheduler is not supported in Zephyr builds.

Additionally following error is printed for each secondary core boot:
[       25515.832319] (         403.124969) c1 zll-schedule       src/schedule/zephyr_ll.c:527  ERROR zephyr_ll_scheduler_init(): unsupported domain 2

Related to https://github.com/thesofproject/sof/issues/5477

[2022-03-07 12:41] kv2019i commented on #5477
@lgirdwood This is a known issue, caused by following call in sof/src/init/init.c:secondary_core_init():
scheduler_init_ll(dma_domain_get());
I filed a separate issue to track this -> https://github.com/thesofproject/sof/issues/5480

I'll continue to investigate the rootcause of the invalid IPC messages.

[2022-03-07 13:00] lgirdwood commented on #5480
@kv2019i this is intentional - DMA driven work is asynchronous and better served under Zephyr as DMA triggered IRQs and preemptable worker threads (with varying thread priority)

[2022-03-07 13:01] lgirdwood commented on #5477
ok, I think we need a ifdef around the DMA LL init with Zephyr.

[2022-03-07 13:07] kv2019i commented on #5477
The unexpected IPC irq is seen when booting the DSP from D3 and while host is waiting for FW_READY. Example log:

[ 8944.463682] sof-audio-pci-intel-tgl 0000:00:1f.3: Firmware download successful, booting...
[ 8944.476909] sof-audio-pci-intel-tgl 0000:00:1f.3: empty reply received, expected 12 bytes
[ 8944.476921] sof-audio-pci-intel-tgl 0000:00:1f.3: no reply expected, received 0x0, will be ignor

[2022-03-07 17:16] kv2019i commented on #5480
@lgirdwood We should probably get rid of the error print and leave this out from the build.

[2022-03-07 18:37] kv2019i commented on #5477
Issue rootcaused to a problem on Zephyr side. Fix submitted to Zephyr upstream as https://github.com/zephyrproject-rtos/zephyr/pull/43499

[2022-03-07 18:58] kv2019i commented on #5018
@keqiaozhang  We can close this now, right?

[2022-03-07 21:16] J0shuaT commented on #5440
@Denisuu could you explain how you got working audio on Ubuntu with Mr. Chromeboxes firmware?

[2022-03-07 22:34] psammarco commented on #5439
The change implemented by @MrChromebox which changed the OEM from HP to Google did the trick. I have now got audio, however only out of the jack.

I wonder if this is a driver SOF issue or something else related to coreboot.

Thanks

[2022-03-07 22:58] MrChromebox commented on #5439
it's not on the coreboot side, that's not within the scope of what system firmware does. The DMI system vendor change was to work around a larger problem with Linux drivers using DMI to handle different hardware classes/cases, because it was easier to do so there.

[2022-03-07 23:00] psammarco commented on #5439
Oh okay @MrChromebox, thanks for the clarification and the help. Should this issue/bug be closed then?

[2022-03-07 23:10] MrChromebox commented on #5439
in my testing, only the headphone device is detected/working on Cometlake Chromebooks, using Manjaro 21.x w/proprietary drivers as my test bed. Internal speakers are not available/selectable. Can you replicate that?

[2022-03-07 23:25] psammarco commented on #5439
Yes. It is exactly the same behaviour you have described.

[2022-03-08 02:30] marc-hb commented on #5093
Fix submitted in #5485. I love CMake (not)

[2022-03-08 03:21] keqiaozhang commented on #5477
Thanks @kv2019i , I just did a quick test with latest zephyr and this issue is gone on these ADLP/TGLU zephyr platforms.
http://sof-ci.sh.intel.com/#/result/planresultdetail/10753

[2022-03-08 06:49] J0shuaT commented on #5440
Nvm, it works OOB on Ubuntu 22.04!

[2022-03-08 06:51] keqiaozhang commented on #5446
Confirmed that this issue is fixed.

[2022-03-08 07:03] #5477 closed

[2022-03-08 08:39] #5018 closed

[2022-03-08 09:27] lgirdwood commented on #5480
I would leave it but make the message more meaningful. This make it obvious for anyone transferring a topology.

[2022-03-08 14:33] bhiregoudar commented on #5457
Could you help add @bhiregoudar @balakishorepati @sunilkumardommati @maruthi-machani for amd-rn-stable branch

[2022-03-08 15:20] lgirdwood commented on #5405
@lyakh fwiw, I've seen this in CI on the deep buffer PCM (could be PCM / pipeline specific).

[2022-03-08 15:47] plbossart commented on #5405
FWIW, it's deep buffer in name only for now.
[code]

[2022-03-08 16:26] lgirdwood commented on #5440
I would ask the Maxim folks to check the codec driver kcontrol for this volume is aligned to the codec registers (the shift or mask bits may be wrong). @ryans-lee is there someone who can help check the max98357a codec driver ?

[2022-03-08 17:01] Denisuu commented on #5439
Also the exact same behaviour on my Gemini Lake Chromebook on both your FW and Breath.

[2022-03-08 17:19] MrChromebox commented on #5439
don't you mean the opposite? on GLK the speakers work but not headphone output

[2022-03-08 17:29] Denisuu commented on #5439
![headphones](https://user-images.githubusercontent.com/24224165/157291968-af1b7405-7a04-4d69-afb4-a676ab36c32b.png)

Internal speakers are not available/selectable only headphones is selectable but sound comes out of the speakers.

[2022-03-08 18:08] MrChromebox commented on #5439
right, and on CML it only comes out of the headphones. So similar but not identical issues

[2022-03-08 22:27] marc-hb commented on #5364
We should also fail the build on kconfig warnings. kconfiglib is surprisingly lenient with malformed defconfig files, maybe with other malformed files too. Here's one-line temporary hack that achieves that:

[code]

Zephyr has a proper kconfiglib -Werror implementation, not sure how.

We have a single kconfig warning in the XTOS build right now:
[code]
@kv2019i any way to fix this warning now that

[2022-03-09 03:35] keqiaozhang opened #5493 "[BUG][TGL-H] firmware failed to boot on TGL-H laptop"
**Describe the bug**
Firmware failed to boot on TGL-H laptop. Confirmed that this is a firmware regression. It should be caused by https://github.com/thesofproject/sof/commit/95d887251ee40397300c570568d079ac9f9c7db4
(PR https://github.com/thesofproject/sof/pull/5475 by @softwarecki)
error message:
[code]

**To Reproduce**
check the dmesg after booting

**Reproduction Rate**
100%

**Expected behavi

[2022-03-09 04:48] XiaoyunWu6666 opened #5494 "[BUG][IPC4] FW error : Other failure of module instance initialization request on TGLU RVP and Upextreme when play with SSP0 and SSP2 simultaenously"
**Describe the bug**
when play with SSP0 and SSP2  simultaneously
FW error of  **  FW reported error: 104 -Other failure of module instance initialization request**  happened first
and **FW reported error: 9 - Specified resource not found** followed

**To Reproduce**
TPLG=/lib/firmware/intel/avs-tplg/cavs-tgl-nocodec.tplg MODEL=TGLU_RVP_NOCODEC_IPC4 ~/sof-test/test-case/multiple-pause-resume.sh -l

[2022-03-09 04:48] marc-hb commented on #5493
@keqiaozhang thanks for bisecting this, very useful. Could also list which TGL models are _not_ affected?

[2022-03-09 05:07] marc-hb commented on #5493
I think I have a good guess. i think it's not  95d887251ee40 but it's the next commit 0affed20e9d9:

[code]

[code]

[2022-03-09 05:22] marc-hb commented on #5493
@keqiaozhang do you have a device where you can test revert #5495?

[2022-03-09 05:30] johnylin76 opened #5496 "Confirmation of the limited memory space access via DMA in DSP"
Hi Intel,

We would like to make sure about the behavior of DMA transactions for DSP firmware running on Intel platforms.

Is it guaranteed that DSP strictly limits the explicit region of memory access via DMA? Is it possible for code running in DSP (or after random crash) to access host address space that is outside of the explicitly programmed DMA buffers?

[2022-03-09 05:35] bardliao commented on #5494
@XiaoyunWu6666 @ranj063 `multiple-pause-resume.sh -l 3 -r 5` and `run two aplay simultaneously` may not be the same issue. I can't see `FW reported error: ` when I run two aplay simultaneously.
[dmesg_ssp_simultaneously_playback.txt](https://github.com/thesofproject/sof/files/8211926/dmesg_ssp_simultaneously_playback.txt)

[2022-03-09 06:43] XiaoyunWu6666 commented on #5494
@bard  you were trying on your i11 extreme?

[2022-03-09 06:56] keqiaozhang commented on #5493
This issue affects only one platform: TGLH_SKU0A70_HDA.

[2022-03-09 09:23] shumingfan commented on #5436
@Zpecter I got the Dell XPS 17 9710. I installed the Ubuntu OS and tried to duplicate this issue on it.
Unfortunately, I can't duplicate this issue.
Even I changed the system to the same kernel version and SOF FW version.
[alsa-info-2022.03.09.txt](https://github.com/thesofproject/sof/files/8213259/alsa-info-2022.03.09.txt)

I would like to check the debug message of rt1308-sdw driver.
I can't see

[2022-03-09 09:27] paulstelian97 commented on #5496
Depends on platform. On i.MX platforms, for example, the DSP has complete access to the low 4GB of the host physical address space, and literally code sections _are_ inside a small 16MB-sized section of that address space rather than in its own memory. There are a few limitations so that really only a 128MB section is what is readily accessible (everything else has incompatible cache configuration

[2022-03-09 09:37] kv2019i commented on #4539
Reproduce the issue with plain Zephyr:
[code]

[2022-03-09 11:55] lgirdwood commented on #5496
No, Intel HDA DMA can only access host regions programmed by host driver and DSP regions programmed via FW. This allows for security between host driver and DSP FW as host cannot program DSP regions and FW cannot program host regions.

[2022-03-09 11:56] bardliao commented on #5494
Yes.

Kernel: https://github.com/thesofproject/linux/commits/integration/ipc4-wip + https://github.com/thesofproject/linux/pull/3493.
Firmware: closed-source firmware
Topology: Should be the same as yours as there is only one topology for TGL nocodec now.

[2022-03-09 11:57] lgirdwood commented on #4539
@kv2019i is trace point enabled in Zephyr or can mailbox be used to write IDs before each init code action (like tracepoint).

[2022-03-09 14:34] lgirdwood commented on #5494
@RanderWang @marcinszkudlinski fyi.

[2022-03-09 14:42] lgirdwood commented on #5405
@marc-hb @keqiaozhang how does "Port5" map to the PCM device number ?

[2022-03-09 14:43] lgirdwood commented on #4539
@andyross fyi - fixes incoming for HPSRAM.

[2022-03-09 16:20] lgirdwood commented on #5457
Done, but I can't add @maruthi-machani yet until GH invite is accepted. @maruthi-machani please let me know when you accept the invite.

[2022-03-09 16:24] dbaluta commented on #5457
All good for imx-stable-v2.0 branch. @lgirdwood can this rules be inherited for future imx-stable-* branches as @cujomalainey suggested?

[2022-03-09 17:41] marc-hb commented on #5405
There were definitely underruns in https://sof-ci.01.org/sofpr/PR5483/build12235/devicetest/?model=APL_UP2_NOCODEC_ZEPHYR&testcase=multiple-pause-resume-5

However you have to search for them, they're not conveniently located at the top or bottom.

[2022-03-09 18:27] marc-hb commented on #5352
Slightly different failure in daily 10797?model=WHL_UPEXT_HDA_ZEPHYR&testcase=check-capture-50rounds

Still happening at the very start of the test.

[code]

[2022-03-09 19:17] marc-hb commented on #5385
etrace empty on CML this time! Daily test 10714?model=CML_SKU0955_HDA_ZEPHYR&testcase=check-sof-logger

Start Time: 2022-03-03 22:27:30 UTC
End Time: 2022-03-04 02:34:58 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: [2528d9538dfd](https://github.com/thesofproject/linux/commit/2528d9538dfd)
SOF Branch: main
SOF Commit: [9709ef81dcb8](https://github.com/thesofproject/sof/commit/9709ef81dcb8)
Zephy

[2022-03-09 19:38] #5493 closed

[2022-03-09 19:55] marc-hb commented on #4333
check-sof-logger has been failing regularly again. I submitted thesofproject/sof-test#876 to "nudge" the trace again and stop the noise in test results.

Recent failures:
- https://sof-ci.01.org/sofpr/PR5501/build12279/devicetest/?model=ADLP_RVP_NOCODEC&testcase=check-sof-logger
In daily runs:
- 10797?model=ADLP_GMB_I2S_ZEPHYR&testcase=check-sof-logger
- 10797?model=ADLP_RVP_NOCODEC&testcase=check

[2022-03-09 20:50] Zpecter commented on #5436
Hi, I use Debian, and maybe there is something different. I'll try that version an check if the issue is there.

I have tried a wav file and I still can hear the sound. I have attached an audio file so you can check it.
[New Recording 12.zip](https://github.com/thesofproject/sof/files/8218125/New.Recording.12.zip)

Let's see if this file contains the logs:
[messages.txt](https://github.com/thesofp

[2022-03-10 02:49] marc-hb commented on #5469
P1 because it was one of the most common failures in daily run 10879, reproduced on 3 ADL and 1 TGL system (10879?model=TGLH_RVP_NOCODEC_ZEPHYR&testcase=multiple-pause-resume-50)

I noticed a mixer in the middle of a pipeline on all failing systems. Is this an unsupported configuration and problem similar to this?
- https://github.com/thesofproject/sof-test/issues/866

Should some pipelines skippe

[2022-03-10 03:03] keqiaozhang opened #5733 "[BUG] [ADLP] KMOD test failed on ADLP_GMB_I2S_ZEPHYR"
**Describe the bug**
IPC tx timed out for DMA_PARAMS_EXT when inserting audio modules.  This issue only observed on this platform.
This issue only happens with Zephyr firmware, no such issue with SOF-XTOS.
[code]

**To Reproduce**
$ sof-test/tools/kmod/sof_remove.sh
$ sof-test/tools/kmod/sof_insert.sh

**Reproduction Rate**
100%

**Expected behavior**
No IPC errors during the kmod test

**Impact**

[2022-03-10 03:39] marc-hb commented on #4414
Looks like turning off SSP0 and SSP1 is a good work around: no failure like this in daily test 10879

Start Time: 2022-03-09 22:27:42 UTC
End Time: 2022-03-10 02:31:16 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: [92d71723d47c](https://github.com/thesofproject/linux/commit/92d71723d47c)
SOF Branch: main
SOF Commit: [b9d971920e30](https://github.com/thesofproject/sof/commit/b9d971920e30)
Zephyr

[2022-03-10 04:40] johnylin76 commented on #5496
Thanks for the confirmation, Liam.

[2022-03-10 04:40] #5496 closed

[2022-03-10 06:17] J0shuaT commented on #5440
Where should I go to ask?

[2022-03-10 06:22] mengdonglin commented on #5469
Comments by @keqiaozhang  "this issue has affected all ADLP and TGLU/H nocodec platforms. The reproduction rate has become extremely high now. " on 2022-03-09 UTC, report ID 10879. Both XTOS and Zephyr can reproduce this issue.

[2022-03-10 07:56] hunghsienchen commented on #1630
Hello @singalsu ,
I'd like to execute a component with Testbench, while the component involves a 3rd party generated library (somelib.a) targeting Xtensa.
So I also tried to compile Testbench with xt-xcc, but encountered lots of obstacles.

I'd like to ask:
1. Do you have updates on building Testbench with xt-xcc?
2. Are there other ways to execute a component, involving with Xtensa libraries, lik

[2022-03-10 08:50] singalsu commented on #1630
Thanks for refreshing this topic @hunghsienchen !

1. The blocker for me is lack of knowledge of cmake to accomplish this. I tried once to start but I wan't able able to do what I need. The testbench code changes needed like remove of shared library code from component registration, and possible remove of file seeking in topology parsing are straightforward. Now there's also need for non-threaded

[2022-03-10 09:01] hunghsienchen commented on #1630
@singalsu Great! I'll try the cmocka tests. Thanks for your quick response!

[2022-03-10 09:59] lgirdwood commented on #5469
@keqiaozhang is there a bisect ? I'm trying to think of any recent pipeline or DMA changes, but it could be something else unrelated.

[2022-03-10 11:33] shumingfan commented on #5436
@Zpecter Our HW engineer wants to test the 1K tone wav file and record the sound again.
[1Ktone_48Khz_16b.zip](https://github.com/thesofproject/sof/files/8222804/1Ktone_48Khz_16b.zip)

I have another patch, please check below.
https://github.com/shumingfan/linux/commit/2c0cb55cbb67f2a245a374c3300c7512980f1715
Would you please test on your side?
Please enable the debug log and share the kernel log.

[2022-03-10 13:57] lgirdwood commented on #5469
@keqiaozhang thanks - moving to P2 since it for pause. Not a rc1 blocker, but should fix for final.

[2022-03-10 13:58] lgirdwood commented on #4539
@kv2019i how should we deploy this for rc1 ?

[2022-03-10 13:59] lgirdwood commented on #5398
@kfrydryx any update ? This wont be a blocker for v2.1-rc1 since Keyword is not enabled for Linux.

[2022-03-10 14:35] plbossart commented on #5469
So the question is really "why do we see an xrun on ADL_RVP" only, when the *same* topology is used across ALL cAVS platforms? Very surprising.

[2022-03-10 15:53] dbaluta opened #5510 "warning: SMP_BOOT_DELAY (defined at kernel/Kconfig:851) was assigned the value 'y'"
Hello @lyakh,

Do you have any suggestion on fixing the following warning.

[code]
i.MX8 processor are not  SMP capable but your commit:

commit 0a801aa1dd96a7288a70b4ae2f6e92ebbb815888
Author: Guennadi Liakhovetski <guennadi.liakhovetski@linux.intel.com>
Date:   Thu Apr 1 17:27:35 2021 +0200

    ADSP / SOF: don't force uniprocessor mode

    Allow SMP processing for SOF on ADSP. Note, that after

[2022-03-10 16:03] kv2019i commented on #5469
@keqiaozhang @RanderWang  @lgirdwood @lyakh This could be caused by this IPC4 change:
8451fd8b17feb114cbecc2b12b3a3f62e64e0ac ("ipc4: fix pause issue with windows audio player")

.. the change in mixer_trigger_common() does not seem ok. So far the issue has not reproduce with this reverted, but I did have trouble to reproduce this earlier, so this is not conclusive yet. Please test this out.

[2022-03-10 16:25] lgirdwood commented on #5457
Yes, I've made the wildcard "imx-*" so rules should apply to all IMX branches.

[2022-03-10 16:25] lgirdwood commented on #5457
Good to close ?

[2022-03-10 17:05] marc-hb commented on #5510
BTW we also have this kconfig warning in XTOS, would be nice to kill two birds with one stone?
[code]

[code]
cc: @kv2019i

[2022-03-10 19:17] Zpecter commented on #5436
Hi @shumingfan, I have been testing the patch for a few hours, and it seems the pop sound is gone.

I tried a lot of different videos on different sources, youtube, vimeo, etc, and some local videos and mp3 files and I don't hear the sound now.

Thank you very much

[2022-03-10 20:05] plbossart commented on #5436
The patch makes sense to me @shumingfan, i think it's better to play with registers on DAPM events than when the amplifier is initialized when the SoundWire bus starts.

[2022-03-11 01:28] shumingfan commented on #5436
@Zpecter Thanks for the testing.
Could you please help to do another test that removes the delay time?
The part of the patch below is the delay time when power-on. Please remove this line and test again.
Please share the kernel log to confirm the calibration parameters.
[code]
@plbossart I think the root cause should be the calibration parameters loading issue.
The PVDD power doesn't be ready when

[2022-03-11 07:15] lyakh commented on #5510
@dbaluta sure, let's move it to a different location from prj.conf

[2022-03-11 07:58] lyakh commented on #5469
@kv2019i sorry, could you elaborate a bit? I don't see what that commit could be breaking for IPC3?

[2022-03-11 07:58] lyakh commented on #5510
@dbaluta https://github.com/zephyrproject-rtos/zephyr/pull/43687

[2022-03-11 08:09] kv2019i commented on #5469
@lyakh Ack, you are correct. I thought the patch changed the ordering of the dev->state change, but looking at it again, that's not the case.

[2022-03-11 10:19] johnylin76 opened #5518 "[FEATURE] Checkers with limits of DSP load tracker"
**Is your feature request related to a problem? Please describe.**
We need a fair metrics to evaluate the loading on DSP cores during audio playback/capture/hotwording. To prevent from overloading, checkers should be added with configurable threshold value in CI or maybe in release xtos builds.

**Describe the solution you'd like**
- DSP load tracker on upstream for xtos mode
- Have a configurable

[2022-03-11 11:09] johnylin76 opened #5521 "[FEATURE][ChromeOS] Expose DSP load tracker info for the visibility to ChromeOS"
**Is your feature request related to a problem? Please describe.**
Currently we don't have much information for DSP in system logs attached in feedback report of audio issue. To debug the issue we need to re-build kernel with trace feature on and capture logs by sof-logger. It will be super helpful for debugging if DSP load tracker info could be obtained without those debugging steps. Moreover, we

[2022-03-11 12:04] johnylin76 opened #5522 "[FEATURE] Provide average cycle count info for performance counter"
**Is your feature request related to a problem? Please describe.**
Most SOF developers rely on performance counter to get MCPS for a running component. Currently performance counter only report the peak value which can be a lot larger than average due to the characteristics of LL scheduler. An example is if a component has the processing period larger than the pipeline period.

**Describe the solu

[2022-03-11 15:05] kv2019i commented on #5469
Continued the debug a bit and I can't find a flaw in mixer operation. Here's one case with some extra logs to mixer and dw-dma:

[code]

Not yet sure how to fix this.

[2022-03-11 15:38] XiaoyunWu6666 commented on #5494
Sorry for misleading information , this failure is found with cavs fw + integration/ipc4-wip kernel , not sof.

[2022-03-11 16:19] lyakh commented on #5469
it would be interesting to find out whether mixer pipeline is scheduled at the ticks, when triggers are processed. IIUC the following should be happening here:
1. we have pipelines A and B mixed on a mixer, which represents pipeline C to the DAI
2. In the beginning A and B are paused, C is scheduled every 1ms and is copying silence to the DAI
3. RELEASE IPC arrives for A, the pipeline task is sche

[2022-03-11 17:49] marc-hb commented on #4333
Happened again in daily run 10879 : the last daily run before workaround thesofproject/sof-test#876 was merged.

Happened on ADLP_GMB_I2S_ZEPHYR, TGLU_RVP_NOCODEC and ADLP_RVP_NOCODEC and no other product.

Start Time: 2022-03-09 22:27:42 UTC
End Time: 2022-03-10 02:31:16 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: [92d71723d47c](https://github.com/thesofproject/linux/commit/92d71723d47c)
SOF

[2022-03-11 19:35] Zpecter commented on #5436
Hi @shumingfan, I deleted that line, but I had some problems, not related with the patch but with the latest bios by Dell.

Beside the problem with the bios update, which I could not hear anything on the left speaker nor on Linux nor Windows, it still works fine, and the issue seems to be gone.

Here are the logs:
[messages.txt](https://github.com/thesofproject/sof/files/8234912/messages.txt)

Tha

[2022-03-11 22:16] lgirdwood commented on #5518
@jsarha can you link your PR here. Thanks

[2022-03-11 22:40] lgirdwood commented on #5521
@plbossart @ujfalusi @ranj063 any thoughts ?

[2022-03-11 23:14] plbossart commented on #5096
can't reproduce this, closing.

[2022-03-11 23:14] #5096 closed

[2022-03-11 23:16] plbossart commented on #4421
https://github.com/thesofproject/linux/pull/3006 is merged and we haven't seen this problem, closing

[2022-03-11 23:16] #4421 closed

[2022-03-11 23:18] #1647 closed

[2022-03-11 23:18] plbossart commented on #3280
done

[2022-03-11 23:18] #3280 closed

[2022-03-11 23:19] plbossart commented on #4370
multi-core not supported on APL

[2022-03-11 23:19] #4370 closed

[2022-03-14 01:45] XiaoyunWu6666 commented on #4859
this also happen on BYT_MB_NOCODECwhen multiple-pipeline-capture
 in inner daily test result 10992

IO error happened when start hw0:0 PCM to capture first and start hw0:0 PCM and hw0:1 PCM Deep Buffer to aplay
![image](https://user-images.githubusercontent.com/79959904/158090898-535a8a15-783d-40b6-842c-5412af5ce8eb.png)

[dmesg]
[code]

[2022-03-14 02:26] shumingfan commented on #5436
@Zpecter I can't see any log of rt1308 in the messages.txt.
Could you check the debug log enables or not?
Sorry, I'm not sure about the different settings between the old bios and new bios.
I suspect that one rt1308 as the left speaker doesn't be presented in the APCI.

[2022-03-14 02:49] XiaoyunWu6666 commented on #5281
update the issue status:
In early March we update the IPC4 test according to the validation plan . Now we no longer run sof+IPC4 on TGLU RVP NOCODEC.
Instead , we run sof zephyr +IPC4 on adl nocodec.

However , since we have blocker issue that  the UUIDs of BRNGUP and BASEFW are incompatible with cAVS 1.8+ platforms.
potential fix :https://github.com/zephyrproject-rtos/zephyr/pull/43571
 so that t

[2022-03-14 04:48] yaochunhung commented on #4816
@lgirdwood Sorry to miss your comment. I will fix this bug. thanks.

[2022-03-14 07:23] maruthi-machani commented on #5457
Accepted the requested.

[2022-03-14 09:19] ujfalusi commented on #4333
@marc-hb, I came to a conclusion that this is a feature, not a bug. Here is why:
The kernel will reset it's `host_offset` variable when the debugfs/sof/trace file is closed.
When the trace file is opened, it is opened with offset 0.
_if_ there were no trace messages after the file was closed then 0 - 0 = 0, the kernel will copy 0 bytes (from offset 0) to user space.

This is implemented like this

[2022-03-14 13:53] Zpecter commented on #5436
Hi, sorry. Let's see if this has the logs:

[messages.txt](https://github.com/thesofproject/sof/files/8245399/messages.txt)

This one is with the latest bios installed, 1.7.2.

[2022-03-14 14:15] kv2019i commented on #4539
Fixed now in main, closing this.

[2022-03-14 14:15] #4539 closed

[2022-03-14 15:25] kv2019i commented on #5469
Thanks @lyakh  This was a good debugging approach. What seems to be happening in that when we handle the RELEASE IPC, the mixer-buffer-dai pipeline gets rescheduled (as a connected pipeline). Now this is problematic as DAI is already running and with suitable timing will lead to an xrun.

I'm working on a fixes to make the transition of mixer sources from PAUSED to RELEASED, more robust. Basicly m

[2022-03-15 02:32] shumingfan commented on #5436
@Zpecter Thanks. I will send the patch to upstream.

[2022-03-15 08:38] XiaoyunWu6666 commented on #5470
This cannot be observed in IPC4 test results now because of another blocker issue : DSP firmware cannot boot successfully with sof + IPC4 because of module UUID out of range.
Potential fix PR on zephyr side via @aiChaoSONG and @RanderWang  https://github.com/zephyrproject-rtos/zephyr/pull/43571/files

[2022-03-15 14:14] marc-hb commented on #4414
A but is not fixed when it stops being tested.

[2022-03-15 22:59] marc-hb commented on #4333
Thanks for the complicated explanation but the check-sof-logger test is a fairly simple test that just restarts the firmware and tries to read the DMA trace only once. The sof-logger process is never restarted and the message you quoted is never seen in that particular test. The DMA trace should never be empty in that super simple test case. It's really testing the most basic "does it work at all"

[2022-03-16 00:54] dlarue commented on #5238
Any movement on this yet?

[2022-03-16 06:01] keqiaozhang opened #5554 "[BUG][Zephyr] ipc tx error for 0x30100000(PIPE_NEW) on ADLP Zephyr platform"
**Describe the bug**
We detected this issue in CI when testing multiple-pipeline-all on ADLP_RVP_NOCODEC_ZEPHYR platform.
[code]

**To Reproduce**
$ ~/sof-test/test-case/multiple-pipeline.sh -f p -c 20 -l 50

**Reproduction Rate**
Hard to tell, unable to reproduce this issue manually.

**Expected behavior**
NO ipc error

**Environment**
Kernel: sof-dev/d2937505b7b5
SOF : main/51e7c6180141
Zephyr C

[2022-03-16 09:40] lgirdwood commented on #4414
Known performance delta with more use of uncached memory that is currently being optimised.

[2022-03-16 12:29] ujfalusi commented on #4333
@marc-hb, yes I have been running that test on my local machines but can not reproduce it.
#3516 might give some hints on the trace position, but to be able to trace it better we would also need the diff which I added in the description.

[2022-03-16 13:17] ujfalusi commented on #4333
@marc-hb, I found a local machine which I can reproduce this and the prints were super helpful!

https://github.com/thesofproject/linux/pull/3523 should fix this for good.

Fingers crossed.

[2022-03-16 15:03] #5436 closed

[2022-03-16 15:05] plbossart commented on #5238
no progress, we haven't had any other reports of issues with the work-around @dlarue

[2022-03-16 15:13] plbossart commented on #5436
Thanks @Zpecter for reporting this and @shumingfan for taking the time to fix this, nice job.

[2022-03-16 15:41] kv2019i opened #5556 "[BUG][Zephyr] multiple-pipeline-capture-200.sh fails on ADLP-NOCODEC"
**Describe the bug**

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-adl-nocodec.tplg MODEL=ADLP_RVP_NOCODEC_ZEPHYR ~/sof-test/test-case/multiple-pipeline.sh -f c -l 200

**Reproduction Rate**
100% (with 200 iterations)

**Expected behavior**
Test passes

**Impact**
Recording fails.

**Environment**
1) sof-2.1 stable branch SOF+Zephyr
2) Name of the topology file
    * Topology: sof-cavs-n

[2022-03-16 16:46] dlarue commented on #5238
@plbossart   I wonder what I'm doing wrong then since I still get the buzzing sound after a bit of working audio? I will go back and see if I included all which was required for the work-around but I'm usually good about documenting my system changes into scripts. Script posted below.

maker@PB-Robotics-Club:~$ cat /proc/version
Linux version 5.13.0-35-generic (buildd@ubuntu) (gcc (Ubuntu 11.2.0-7

[2022-03-16 16:48] lgirdwood commented on #5556
@kv2019i I think we need to disable agent (so we only have 1 IRQ user for the timer - no context sharing) and add some checks like (untested).
[code]

[2022-03-16 19:21] kv2019i commented on #5556
#5557 did not help. Logs are less cluttered, but there's a still failure in configuring SSP1 DAI (on core3).

[2022-03-16 20:05] jairaj-arava opened #5558 "[BUG][ADL]: Glitches seen in HDMI/TBT audio playback with DMIC recording"
**Describe the bug**
Glitches/chopping are observed in HDMI/Thunderbolt (TBT) display playback with DMIC recording. The issue is not seen on speaker and headset playback with DMIC recording.
The firmware doesn't have WOV enabled but has RNTR noise suppression algo' running on C1. The issue is not seen with firmware with WOV & without RNTR.

**To Reproduce**
1. Connect HDMI/TBT display to the DUT.

[2022-03-16 20:07] jairaj-arava commented on #5558
@sathya-nujella @sathyap-chrome  @Vamshigopal @abonislawski @kv2019i @cujomalainey

[2022-03-16 20:13] plbossart commented on #5558
@jairaj-arava is the RNTR on for the DMIC path, and if yes do you have an ALSA kcontrol to disable RNTR at run-time? just checking if we can reduce the load on the DSP by putting this processing in bypass while keeping the data path identical.

[2022-03-16 20:47] ranj063 commented on #5558
@cujomalainey the interesting thing is DMIC recording + speaker/headset playback seems to be OK. It is only the link DMA that runs into an xrun. So not sure if it is the scheduler acting up

[2022-03-16 21:13] #5422 closed

[2022-03-16 21:59] marc-hb commented on #4333
Daily run 10920 (2022-03-10) was run short after the "trace nudge" was restored in sof-test (that's one week ago, sorry for the delay). The DMA trace got stuck on 2 platforms and it the nudge was enough to make the test pass only on one:

- 10920?model=TGLH_SKU0A70_HDA&testcase=check-sof-logger

  The nudge made the test pass but the DMA is very short, only 11 lines. It look incomplete but that wa

[2022-03-16 23:39] cujomalainey commented on #5558
isn't these lines signs that c0 is lagging?
[code]
Even though c0 is just doing a straight through copy?

[2022-03-17 00:09] cujomalainey commented on #5558
Looks like I may have made an error due to the fact that intel-generic-kwd and intel-generic use similar but not the exact same names, and undefined params just silently default. So RTNR is running on c0 it seems

[2022-03-17 00:13] cujomalainey opened #5560 "[FEATURE] align intel-generic-dmic*"
**Is your feature request related to a problem? Please describe.**
The following two files use roughly the same params but have slightly different names, this makes switching between them dangerous and prone to error.

tools/topology/topology1/platform/intel/intel-generic-dmic-kwd.m4
tools/topology/topology1/platform/intel/intel-generic-dmic.m4

e.g.
`DMIC_PIPELINE_48k_CORE_ID` and `DMIC_48k_CORE_

[2022-03-17 00:13] cujomalainey commented on #5558
Filed https://github.com/thesofproject/sof/issues/5560

[2022-03-17 00:52] keqiaozhang commented on #5352
New failure in daily 11126?modelFirmwareType=SOF-Zephyr&model=ADLP_RVP_SDW_ZEPHYR&testcase=multiple-pipeline-capture-50, happening at the very start of the test.

[code]

[2022-03-17 01:00] jairaj-arava commented on #5558
@cujomalainey
As discussed, I moved the core ID to 1 in tools/topology/topology1/platform/intel/intel-generic-dmic.m4 and could see the RTNR is running on CORE1 and issue is not seen any more.
Will submit the changes soon.

[2022-03-17 01:34] miRoox commented on #4996
This issue is out-of-date, now #5469 is used to track such xrun on TGLU_RVP_NOCODEC and ADLP_RVP_NOCODEC.

[2022-03-17 01:34] #4996 closed

[2022-03-17 03:09] miRoox opened #5562 "[BUG][Zephyr] ipc tx error for COMP_FREE when testing multiple pipeline all on ADLP Zephyr"
**Describe the bug**
An IPC tx error for COMP_FREE when testing multiple pipeline all on ADLP Zephyr has been observed by CI daily test 11126:

[code]

**To Reproduce**
[code]

**Reproduction Rate**
Only happened once in the CI daily test, I cannot reproduce it manually.

**Expected behavior**
No IPC error.

**Environment**
Kernel: sof-dev/https://github.com/thesofproject/linux/commit/c26e1b03638d

[2022-03-17 06:05] lenghonglin commented on #5381
@dbaluta @lgirdwood  hello， i can load mp3 decode lib in sof now.

now i have a question, i see https://github.com/thesofproject/sof/blob/bcccf1253d8b52bfdfc2ba1c4b178d747ee0cf79/src/audio/codec_adapter/codec/cadence.c#L105 this link setup `DEFAULT_CODEC_ID`,   how can i change codec_id in runtime ?

i wanna let codec_adapter support both mp3 decode and aac decodec.

[2022-03-17 07:13] paulstelian97 commented on #5381
@lenghonglin That's a good point, with the current state of affairs the codec ID cannot be overwritten. It is a task actively being worked on (since MP3 doesn't work with the current code without changing the default). See #5245 .

[2022-03-17 07:20] kv2019i commented on #5556
@lgirdwood Some log data with your patches. First the IRQs. The status doesn't change during any tests when measured at agent. Probably if some irq is blocked, that would have to be observed outside the agent:

[    25633407.734375] (           9.739583) c0 sa                          src/lib/agent.c:87   WARN irq enabled 10040 status 222
[    25641487.421875] (          10.520833) c0 sa

[2022-03-17 07:23] lenghonglin commented on #5381
So there two way to support both mp3 and aac decode.

1. creat  mp3 decode pipeline and aac decode pipeline.   but this maybe coumse more ram.
2. dynamically setup codec_id.  The codec_id will be sent by the Linux kernel running on Host. like https://github.com/thesofproject/sof/pull/5245 .
Right ?

[2022-03-17 07:29] lenghonglin commented on #5381
and It seem this  #5245 is not continuing

[2022-03-17 07:37] kv2019i commented on #5556
The missed IRQ trace didn't provide useful output. The next_tick is updated always once, so this floods the terminal.

Instead I modified the "LL scheduler" trace a bit. With 10us headroam, this fires too often and affects test execution itself, but with 10% headroom and slight modification to print "x cycles late" without the headroom included, results are as follows:

[code]

All cores are loade

[2022-03-17 07:51] dbaluta commented on #5381
This is no longer true with latest sources of SOF as we removed the codec_id from topology.

This is the way we are working now to upstream. Actually, I got back to look at this. Hope to have a solution in 1 week.

For now, just for testing you can replace at compile time DEFAULT_CODEC_ID with MP3 so that you can test it.

[2022-03-17 07:51] ujfalusi commented on #4333
@marc-hb, on my machine the bootup is pretty silent (`trace: new host_offset: 0x80`):
[code]
Self compiled FW for dtrace position tracking.

I see now, the **nudge** is local to `check-sof-logger.sh`. All it does is to force the DSP to boot up (because the trace will wake up the DSP if you send a filter update, we have discussed this already).
The odds that this will work is probably higher than o

[2022-03-17 07:58] lenghonglin commented on #5381
Thanks for you reply.  `DEFAULT_CODEC_ID with MP3 so that you can test it.`
 Yes, i am dothing like this , and it work fine now.

` I got back to look at this. Hope to have a solution in 1 week.`

What can i do for you? I've been needing that lately.

[2022-03-17 10:01] kv2019i commented on #5556
Managed to reproduce on one of the CI machines now. There's a Zephyr OS panic. Debugging it now.

[2022-03-17 10:32] dbaluta commented on #5381
What kernel are you using? What SOF version are you using.

Not sure if you can help, unless you have some ideas on how can we dinamically set the codec id as discussed in https://github.com/thesofproject/sof/pull/5245

You can help me test this change applied on SOF main, with MP3 and tell me if it still works. Thus we can spare me some cycles.

https://github.com/thesofproject/sof/pull/5559

[2022-03-17 11:14] lenghonglin commented on #5381
The sof version is v1.5, but i update `codec_apater` part files to latest.

OK

OK, i will test later.

[2022-03-17 14:16] kv2019i commented on #5556
Status update:
 - the Zephyr panic dumps are scrambled but @lyakh  managed to descramble one and it points to dai_report_xrun()
 - but in today's testing, failure has happened in multiple ways, there is not always a Zephyr panic
 - common thing is an xrun on SSP0 on core0 when three other streams are already active
 - other observed failure patterns
        - running out of memory allocating a new

[2022-03-17 16:08] plbossart opened #5564 "[BUG] IPC4 timestamping - LLP and wall clock are not updated in the same sequence"
The current implementation of the timestamping doesn't seem quite right.

[code]

The wallclock value should be updated in the same sequence where the LLP values are read, not read from a cached value updated heavens knows when.

@RanderWang @lgirdwood @mmaka1 would you concur with my analysis?

[2022-03-17 16:33] kv2019i commented on #5556
Another update:
 - issue hit without the new spinlock implementation (#5286) -- takes much longer, but can still be hit
 - issue hit on TGL -- harder to hit as well, but similar error footprint

[2022-03-18 01:19] marc-hb commented on #4333
Switch everything to the shared memory `etrace` using CONFIG_TRACEM and you will see that's incomplete.

OK :-)

It's used in other tests but in other tests it makes no PASS/FAIL difference.

The test is currently waiting for the DSP to go to sleep. We can remove that to make it simpler, it should be a one-line change. What do you think?

[2022-03-18 01:22] marc-hb commented on #4333
Similar results in daily run 11164: empty on 3 systems ADLP_GMB_I2S_ZEPHYR, ICL_RVP_HDA and ADLP_RVP_NOCODEC, test "rescued" by the nudge except on ADLP_GMB_I2S_ZEPHYR

Start Time: 2022-03-17 21:28:49 UTC

[2022-03-18 02:52] keqiaozhang commented on #5554
Observed another IPC timed out(PIPE_FREE) in daily test 11164.
** dmesg **
[code]

[2022-03-18 07:32] XiaoyunWu6666 commented on #5281
newest test result with rander's sof PR #5497 and another sof PR for adding tgl IPC4 config to platforms/tgl/ipc4_overlay.conf #5566

**Environment**
Kernel Branch: integration/ipc4-wip
Kernel Commit: [c95392aa](https://github.com/thesofproject/linux/commit/c95392aa)
SOF Branch: main + PR #5497  + PR #5566
[dmesg]
[code]

[2022-03-18 09:13] RanderWang commented on #5564
@plbossart  thanks! good catch! It a typical copy-paste-error. please check https://github.com/thesofproject/sof/pull/5568.

[2022-03-18 09:46] RanderWang commented on #5564
I search it in audio driver and find that it is not used now

[2022-03-18 10:26] ujfalusi commented on #4333
It would be interesting to have https://github.com/thesofproject/linux/pull/3523 merged and observe the daily results for couple of days.

[2022-03-18 14:23] ujfalusi commented on #4333
@marc-hb, it looks like we have two types of missing dtrace data:
1. the host_offset update comes too early and it is ignored by the kernel
- will be fixed by https://github.com/thesofproject/linux/pull/3523
2. No read is issued from user space to debugfs/sof/trace file for some unknown reason:
[code]
`check-sof-logger.sh` reports failure for the last iteration, but if we run it again manually we

[2022-03-18 15:30] lgirdwood commented on #5560
@singalsu @ranj063 fyi - need to align these in topology 2 as well.

[2022-03-18 16:00] lgirdwood commented on #5281
@RanderWang @juimonen any ideas ?

[2022-03-18 16:20] lgirdwood commented on #5554
@keqiaozhang can you log the IPC timeout as a separate issue.
@kv2019i are we able to dump the Zephyr stack dump yet from SRAM to Linux dmesg. Is this something for@ujfalusi to check ?

[2022-03-18 16:22] lgirdwood commented on #5554
[code]
@keqiaozhang are we using dynamic pipelines without FW reboot ? Could we be leaking memory ?

[2022-03-18 16:25] lgirdwood commented on #5562
@kv2019i looks like we need a debug KCONFIG option that dumps Zephyr heap usage (free/used)  when we add and remove components.

[2022-03-18 16:33] #5470 closed

[2022-03-18 18:08] jairaj-arava commented on #5558
Hi, The fix https://github.com/thesofproject/sof/pull/5565 for this issue is under review.

[2022-03-18 18:44] Zpecter commented on #5436
Yes, great job @shumingfan, and thank you for your time.

I think there is another weird bug, but it's not related to this one, the popping sound is gone, but when I change from Linux to Windows sometimes the left speaker does not emit any sound and I have to flash the bios to repair it.

[2022-03-18 19:02] ujfalusi commented on #4333
@marc-hb, pushed one more commit to https://github.com/thesofproject/linux/pull/3526 to track the trace file open and release as well.
fwiw, on my machine it looks like this:
[code]

[2022-03-21 04:38] keqiaozhang opened #5573 "[BUG][Zephyr] IPC tx timed out(COMP_CONNECT/COMP_NEW/PIPE_FREE) on ADLP Zephyr platform"
**Describe the bug**
CI detected some IPC tx timed out errors on ADLP_NOCODEC_CI zephyr platform when test multiple pipeline related cases.
The time out IDs are varied:
1. ipc tx: 0x30010000: GLB_TPLG_MSG: COMP_NEW
2. ipc tx: 0x30030000: GLB_TPLG_MSG: COMP_CONNECT
3. ipc tx: 0x30110000: GLB_TPLG_MSG: PIPE_FREE

**To Reproduce**
$ ~/sof-test/test-case/multiple-pipeline.sh -f c -l 50
$ ~/sof-test/te

[2022-03-21 04:39] keqiaozhang commented on #5554
ACK, let's track the IPC timeout issue in https://github.com/thesofproject/sof/issues/5573

[2022-03-21 05:17] keqiaozhang commented on #5554
Yes, we are using the dynamic pipelines, I have attached the tplg graph in bug description.

[2022-03-21 05:20] keqiaozhang commented on #5562
Let's close this one and track all types of IPC errors in https://github.com/thesofproject/sof/issues/5554

[2022-03-21 05:20] #5562 closed

[2022-03-21 06:37] RanderWang commented on #5281
I will check it.

[2022-03-21 09:13] shumingfan commented on #5436
@Zpecter I think you could report the new issue to https://github.com/thesofproject/linux.
It should check the ACPI first between old and new bios.

[2022-03-21 10:17] kv2019i commented on #5556
There's a draft workaround for the Zephyr timer reliability, but unfortunately the error is still happening with that workaround in place. There's still unexplained spikes in timer invocation, so there can still be a connection, but at least the error in timer average time does not explain the multiple-pipeline-capture fail.

[2022-03-21 11:45] kv2019i commented on #5573
I suspect this is related to #5556 . Assigning to myself as I'm working on that.

[2022-03-21 17:19] lgirdwood commented on #5440
Maybe the fasted solution is to check the ASoC Maxim codec drivers authors (with maxim email addresses) and email them as well as CCing the ALSA devel mailing list.

[2022-03-22 02:12] keqiaozhang commented on #5469
Observed this issue on both APL_UP2_NOCODEC_ZEPHYR and CML_RVP_NOCODEC_ZEPHYR when testing multiple-pause-resume-50. Now all “NOCODEC_ZEPHYR” platforms are affected.
Daily test ID: 11248.

[2022-03-22 08:46] #5564 closed

[2022-03-22 14:30] plbossart commented on #5439
@psammarco speaker issues are in the realm of machine driver/gpio issues, it's not strictly related to SOF proper. I don't think anyone in our team has this hardware variant so it'll be hard to suggest any solution.

[2022-03-22 15:19] ericwoud commented on #5361
I cannot get any sound on my headphone.

What does work:

The new tplg file works great.

The 10-90 percent issue is a pulseaudio issue. The ALSA control names are not standard, so pulseaudio interprets it wrong

Adding a path file like this to pulseaudio and setup a profile to use it:
[code]
Makes the speaker volume work correctly. Added the PGA1.0 1 Master control so pulseaudio can even use hard

[2022-03-22 21:22] J0shuaT commented on #5361
@ericwoud how exactly did you fix the audio scaling issue? I read your post but I don't completely understand how to apply the fix.

[2022-03-22 21:27] allyene commented on #5361
@ericwoud Headphone jack indeed doesn't work.

As for the audio scaling issue, if you switch to "Pro Audio" in pulseaudio it also resolves the issue.

Snappy@mainline
![Screenshot_2022-02-24_00-41-42](https://user-images.githubusercontent.com/81479208/159578886-832b95e0-cbbc-4e6f-87c3-1c83678ffc2c.png)

[2022-03-22 21:30] RodBarnes commented on #5361
@ericwoud @allyene Do I understand that you two have PulseAudio working?  I'm a little confused because I know that pulseaudio gets removed when the `apl-sof-setup-audio` is run.  Can you provide more info?

[2022-03-22 21:43] J0shuaT commented on #5361
@allyene Hi, I'm Speed from the Chultrabook discord server.

I don't see a "Pro Audio" option in PulseAudio Volume Control. I'm using Manjaro with the `5.15.28-1-MANJARO` kernel.

[2022-03-22 21:58] J0shuaT commented on #5361
Nevermind, I installed a package called `manjaro-pipewire` and it works!

[2022-03-22 22:31] allyene commented on #5361
Yes, it's been working ever since @plbossart posted the topology which I'm using.
Your issue with bluetooth audio doesn't seem to be related to this one, since pipewire worked perfectly even two months ago.

Hi @J0shuaT :)
I'm using fedora with latest mainline (5.17.0-128 as of the time of writing) because it makes testing much simpler. I've been planning to install gentoo, but gave up due to issu

[2022-03-23 07:13] ericwoud commented on #5361
I wonder if any of the other solutions also fix the control of the hardware mixer. I've noticed that if I run `alsactl monitor` or `alsamixer` with `sudo` then I can see what the hardware does.

Does any other fix (then fixing the path in pulseaudio) make setting volume on the volume slider actually change the volume in the hardware mixer? Does mute actually switch something on the mixer? Otherwis

[2022-03-23 07:43] ujfalusi commented on #4333
@marc-hb, I have managed to reproduce the issue (on `jf-byt-mb-nocodec-1`) with the kernel from https://github.com/thesofproject/linux/pull/3526 :
[code]
The dmesg have this to say about the runs:
[code]
The reason for the `Log header not found in logger.data.txt` failure is that sof-logger does not even open the `trace` file.

[2022-03-23 07:55] Danct12 commented on #5437
Currently using SOF on the Z8350. This is a different platform (Cherry Trail), but the same problem.

However, enabling `sof_debug` doesn't seem to stop the bug for me, but the bug happens very randomly and I had to restart Pipewire for audio to work again.

[2022-03-23 09:42] kv2019i commented on #5556
Status update:
 - one issue found in IRQ driver on Zephyr side -> https://github.com/zephyrproject-rtos/zephyr/pull/44104
 - one issue mutlicore coherency issue found with SOF scheduler code -> https://github.com/thesofproject/sof/pull/5588
 - discovery that on some systems the bug is almost impossible to hit -- no hypothesis what can explain this

[2022-03-23 12:11] lgirdwood opened #5589 "[BUG] Shared per core arrays need elems aligned to cache size on Intel DSPs"
**Describe the bug**
Arrays of structures can only be aligned in memory for the address of elem[0] but not thereafter. elems[1+] is not guaranteed to be aligned with any compiler attribute. This causes an issue even when the array in in uncache region if any client converts the elem to cached reference (which appears to be happening). See https://github.com/thesofproject/sof/pull/5512

We have the

[2022-03-23 12:14] lgirdwood commented on #5589
Zephyr only list of items
[code]
@mwasko @marcinszkudlinski @mmaka1 @kv2019i @lyakh @rfredzim fyi - we need to fix.

[2022-03-23 17:40] kv2019i commented on #5556
Status update:
- with the patches of previous comments and a workaround to https://github.com/zephyrproject-rtos/zephyr/issues/43964, I've today completed 400+ test rounds on three distinct systems without issues
- on one system, the error never appeared, which casts some doubt to the results

[2022-03-23 19:16] ericwoud commented on #5361
@J0shuaT:

This is what I did in pulseaudio:

Note I have overwritten (after backup) /usr/share/pulseaudio/alsa-mixer/profile-sets/default.conf . I did this for a quick test. I should use a different file name and a udev rule to make the profile-set file load only on the specific card. This leaves other hardware untouched.

[code]
And:
[code]
So I did not use an ucm file at all. It is only an extr

[2022-03-23 19:26] psammarco commented on #5439
I understand. So could it be that I may be missing a GPIO driver required by the speaker?

[2022-03-23 23:16] Denisuu commented on #5361
@ericwoud Thanks! Works like a charm on Gemini Lake (BLOOGLET) too. I did edit the files a little.

@J0shuaT I got a bunch of errors when I tried to install `manjaro-pipewire` until I removed some packages.
Then sound scaling worked but the sound was super crunchy/distorted.

Here are the commands I used:
[code]

<details>
<summary>sudo nano default.conf</summary>

[code]

</details>

<details>
<s

[2022-03-24 02:48] plbossart commented on #5439
@psammarco yes a GPIO sounds like a likely suspect, it's what is used to enable/disable playback on the Maxim amplifier.

[2022-03-24 03:10] miRoox opened #5594 "[BUG][Zephyr] IPC tx timed out for TRIG_STOP when multiple-pipeline-capture on CML_RVP_NOCODEC"
**Describe the bug**
CI (ID: 11355) detected an ipc tx timed out for TRIG_STOP when running multiple-pipeline-capture-50 on CML_RVP_NOCODEC.

**To Reproduce**
[code]

**Reproduction Rate**
Only once in CI, didn't reproduce it manually.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: sof-dev/https://github.com/t

[2022-03-24 09:59] lgirdwood commented on #5361
@marc-hb yeah you are right this is a little off topic, but its helpful to figure out any pulseaudio or pipewire settings that may be needed to work on certain platforms or SOF versions (in case we have to make FW/driver fixes). Maybe we need a label for soundserver discussions.

[2022-03-24 11:11] kkarask opened #5595 "[BUG] glitches in the whole file during stress test with Dmic on JSL"
**Describe the bug**
The whole file with glitches was found in test 05_03_TestDmicFifoBSimpleCapture48000hz32b32b4ch

Capture on DMIC interface FIFO B with signal verification.

**Topology**
[code]

**To Reproduce**
Run test 05_03_TestDmicFifoBSimpleCapture48000hz32b32b4ch with Diagnostic driver

**Reproduction Rate**
1/75

**Environment**
1) Firmware branch name and commit
    * SOF: Branch: v2.1

[2022-03-24 11:34] psammarco commented on #5439
Alright then. Back to the kernel configuration. Hopefully a driver missing ends up being the issue.

[2022-03-24 17:11] cujomalainey opened #5597 "[FEATURE] Disable trace suppression for select messages"
**Is your feature request related to a problem? Please describe.**
Suppression makes sense for most duplicate messages, but there are some cases where it is not helpful, e.g. a heap trace

**Describe the solution you'd like**
Special traces that cannot be suppressed that are not errors

**Describe alternatives you've considered**
Increasing the log level of the messages

**Additional context**
[co

[2022-03-24 18:31] ranj063 commented on #5597
@cujomalainey does increasing CONFIG_TRACE_BURST_COUNT=4 help at all?

[2022-03-24 18:33] cujomalainey commented on #5597
@ranj063 the count in the example there is 22 and 19.

[2022-03-24 18:39] ranj063 commented on #5597
I see how turning off adaptive filtering. TRACE_FILTERING_ADAPTIVE? Not sure if this is even allowed

[2022-03-24 20:56] J0shuaT commented on #5361
I had a similar issues. It seemed to go away after a reboot. Btw, does your Microphone work?

[2022-03-24 23:50] cujomalainey commented on #5597
Yea, just seems counter when trying to test a production build

[2022-03-25 07:09] johnylin76 commented on #5518
#5407 is merged to upstream

[2022-03-25 08:16] kv2019i commented on #5556
Performed a bisect of sort on all current fixes and it turns out the k_sem coherency fix is the key change. Others are probably valid fixed, but not required for this bug. Test details at https://github.com/thesofproject/sof/pull/5588

[2022-03-25 08:18] kv2019i commented on #5554
It is highly likely that https://github.com/thesofproject/sof/pull/5588 will fix this as well. It has a clear impact to #5556 when I run experiements with very high amount of test iterations with both with and without the patch.

[2022-03-25 08:21] kv2019i commented on #5573
Potential fix to #5556 found. May fix this scenario as well as even in 5556 the bug had many different failure modes (not always the same IPC, sometimes xrun but not always, sometimes an OS panic, etc).

[2022-03-25 08:41] kv2019i commented on #5522
When this is implemented, feature needs to be documented to https://thesofproject.github.io/latest/developer_guides/debugability/perf-counters/index.html?highlight=performance

[2022-03-25 08:41] kv2019i commented on #5521
When this is implemented, feature needs to be documented to https://thesofproject.github.io/latest/developer_guides/debugability/perf-counters/index.html?highlight=performance

[2022-03-25 08:43] kv2019i commented on #5521
I'd say an IPC to on-demand ask this information from FW would be the most suitable solution. So we could e.g. have a debugfs interface (exposed by SOF linux driver) and when CRAS queries this (at the rate it chooses), SOF drivers sends an IPC and FW replies with current DSP load tracker data.

[2022-03-25 11:21] lgirdwood commented on #5597
@cujomalainey can we work around this with a tmp fix as the Zephyr logging has different infrastructure ?

[2022-03-25 13:40] kv2019i opened #5602 "[FEATURE][Zephyr] Move all hw init code from platform_init() to Zephyr"
**Is your feature request related to a problem? Please describe.**
Much of the HW init code is already ignored in Zephyr builds in the Zephyr main() -> sof_main() -> primary_core_init() -> platform_init() code path, but not all. This work should be completed.

Examples like platform_init_hw() must be moved to Zephyr side and not the SOF definition should not be used when building for Zephyr.

This

[2022-03-25 14:44] cujomalainey commented on #5597
This is low priority so I'm fine waiting until we switch to zephyr to minimize effort

[2022-03-25 17:32] Denisuu commented on #5361
No it does not. But I don't care much TBH.

I would love to see some progress on the audio-jack, no clue where to start looking for the problem though.

[2022-03-26 04:24] marc-hb commented on #5361
Then why hide it at the bottom of a long and totally unrelated discussion?

[2022-03-26 11:17] ericwoud commented on #5361
Thanks. I deleted my unrelated posts.

[2022-03-26 14:37] Denisuu commented on #5361
I deleted my comments too. Do we open a topic surrounding GLK/APL Chromebook audio here or should we take the discussion elsewhere? Maybe here? [pulseaudio-issues](https://gitlab.freedesktop.org/pulseaudio/pulseaudio/-/issues)

[2022-03-27 17:47] J0shuaT commented on #5361
Now no one will _ever_ find it because the information is **GONE** 🙄

[2022-03-28 07:16] XiaoyunWu6666 commented on #5281
As the newest daily IPC4 testresult shows, this can be reproduced 100% by
[code]

[2022-03-29 02:31] #3852 closed

[2022-03-29 02:33] brentlu commented on #3852
backport dma patches to cml-008-patch-backport2 branch

[2022-03-29 03:55] brentlu opened #5613 "[BUG] IPC command timeout in record test"
**Describe the bug**
IPC command timeout (TRIG_STOP) in audio record. SOF log is incomplete. Suspecting FW crash during the recording.

**To Reproduce**
Run the cras_test_client command to test the dmic record function. Following is the script:

#!/bin/bash

for i in {1..300}
do
  echo "Welcome $i times"
  cras_test_client  -fS16_LE -c2 -r 48000 --block_size 720 --duration_seconds 0.015 -C /tmp/a.

[2022-03-29 03:58] brentlu commented on #5613
I saw the 'trace IO error' message in the kernel log and the sof log is incomplete. It seems to me that the software crashes during the recording on the DSP side. Any debug suggestion?

[ 1167.523778] sound pcmC0D1c: snd_pcm_common_ioctl: DROP
[ 1167.523799] sof-audio-pci 0000:00:1f.3: ipc tx: 0x60050000: GLB_STREAM_MSG: TRIG_STOP
[ 1168.030055] sof-audio-pci 0000:00:1f.3: error: ipc timed out for

[2022-03-29 10:05] singalsu commented on #5595
Thanks, can you please also upload the wav file?

[2022-03-29 10:08] kv2019i commented on #5573
No errors in Intel daily plan 11433, so potentially fixed by the fix to #5556.

[2022-03-29 10:09] kv2019i commented on #5556
No errors in Intel daily plan 11433, so potentially fixed by the fix to #5556.

[2022-03-29 10:10] kv2019i commented on #5469
This issue still exists in Intel daily plan 11433, so the fix to #5556 has no impact to this case (this is expected).

[2022-03-29 10:44] lgirdwood commented on #5510
@lyakh ping.

[2022-03-29 15:04] brentlu commented on #5613
Bisect the cml-009-drop-stable branch and identify the fix:

decd20646 SRC: Fix pointer arithmetic in circular buffer wrap functions
=> pass 1000 loops
...
6a0cf6740 dmic: change spin_lock to spin_try_lock in dmic_work()
=> pass 2000 loops
b03e15a76 spinlock: add return value to spin_try_lock macro
6071fb8db dmic: add missing schedule_task_cancel() in dmic_stop()
1fa037cc1 logger: fix build errors

[2022-03-29 17:31] kv2019i commented on #5469
Returned to this issue today. I have found two issues -- first is a mixer logic issue related to how it handles its sources switching state to PAUSED in high frequency. Another issue relates to doing PIPE_FREE on a pipe that has a mixer and is running on non-primary core. Fixes are fairly rough with a performance hit to other cases, so some development time is still needed before these can be subm

[2022-03-30 02:02] lenghonglin commented on #5602
see this https://github.com/thesofproject/sof/issues/5068#issuecomment-1011514361

[2022-03-30 08:22] lenghonglin opened #5619 "[BUG]The first frame of recording is dirty data"
**Describe the bug**
The first frame of recording is dirty data. host copy use `dummy-copy`

**To Reproduce**
capture

**Reproduction Rate**
100%

**Impact**
will produce dirty data.

**Environment**
    * SOF: 1.8

![image](https://user-images.githubusercontent.com/4686802/160797726-4a82f3cc-9d34-45ce-873f-685b7890827b.png)
the question is host->dma_buffer is updated after copy data to ringbuffer

[2022-03-30 08:55] dbaluta commented on #5619
@paulstelian97 have a look at this once you have some spare cycles.

[2022-03-30 13:18] lgirdwood commented on #5594
@miRoox @ujfalusi not sure why we dont get a FW register dump here if we know there is a FW exception ?
[code]

[2022-03-30 13:45] ujfalusi commented on #5594
My guess ia that Zephyr might not providing such? Timeout is 'normal' behaviour it might not be seen on the firmware side as an error at all.
I'll take a look, but if the firmware has not given us anything, we can not print anyrhing

[2022-03-30 19:13] marc-hb commented on #5212
cc: @aborisovich , @mmaka1 , @mwasko , @abonislawski

[2022-03-30 22:22] teburd opened #5624 "[BUG] Unaligned access in trace.c"
In the zephyr log from cavstool.py -l

[code]

From addr2line I get

[code]

On sof commit a5fd52ec43f3efe3bea3f3f3a6ee53b71022ad95

Occurs when running check-signal-stop-start.sh from sof-test and a sof-logger and cavstool.py -l are running against the firmware already.

[2022-03-31 03:38] keqiaozhang opened #5626 "[BUG] xrun on TGLU_RVP_NOCODEC when testing multiple-pipeline-all"
**Describe the bug**
CI detected the xrun issue on TGLU_RVP_NOCODEC without IPC times out or error. only xrun error reported in logger trace.
there're also

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec.tplg MODEL=TGLU_RVP_NOCODEC ~/sof-test/test-case/multiple-pipeline.sh -f p -c 20 -l 50

**Reproduction Rate**
Not sure , haven't reproduced yet

**Environment**
Kernel Branch:

[2022-03-31 03:51] miRoox commented on #5594
What a similar conversation as before https://github.com/thesofproject/sof/issues/5103#issuecomment-999010301. Maybe the log message should be corrected?

[2022-03-31 06:46] lenghonglin commented on #5619
@paulstelian97  hello, could you have a look

[2022-03-31 07:29] paulstelian97 commented on #5619
I will look at this when I have some spare time on my hand, but I make no promise of how soon it will happen.

[2022-03-31 08:19] dbaluta commented on #5619
@lenghonglin since we are very busy can you help us further investigate this issue?

Is the first frame of recording dirty data or just zeroes?

Are you using latest SOF code?

is this commit relevant?

[code]

[2022-03-31 11:35] insiderser commented on #5248
This issue still exists with Linux kernel v5.17

[2022-03-31 12:40] kkarask commented on #5595
Wav file:
[TestDmicFifoBSimpleCapture48000hz32b32b4ch.test_2022_03_24_02_58_52_fifo_b_tplg0_iter18.wav.zip](https://github.com/thesofproject/sof/files/8389393/TestDmicFifoBSimpleCapture48000hz32b32b4ch.test_2022_03_24_02_58_52_fifo_b_tplg0_iter18.wav.zip)

[2022-03-31 23:44] #5613 closed

[2022-03-31 23:44] brentlu commented on #5613
customer confirmed that the issue is resolved.

[2022-04-01 01:47] lenghonglin commented on #5619
dirty data not zero data.

the sof version is v1.8

and my point is we should update `host->dma_buffer` then copy `host->dma_buffer` to `ringbuffer`.

[2022-04-01 06:05] marc-hb commented on #5352
More DMA trace corruption with Zephyr, this time not at the very start: https://sof-ci.01.org/sofpr/PR5631/build12594/devicetest/

[2022-04-01 12:07] kv2019i commented on #5556
Not seen in Intel daily testing for multiple days, closing.

[2022-04-01 12:07] #5556 closed

[2022-04-01 12:08] kv2019i commented on #5554
@keqiaozhang Can we close. Not seen in Intel daily testing for multiple days.

[2022-04-01 12:08] kv2019i commented on #5573
@keqiaozhang can we close? Not seen in Intel daily testing for multiple days.

[2022-04-01 12:14] kv2019i commented on #5626
I believe this has same rootcause as #5469 . I have a set of PRs in review that will address this issue.

[2022-04-01 12:16] kv2019i commented on #5103
This error is potentially caused by unsafe BUFFER_FREE. Fix for this in in review at https://github.com/thesofproject/sof/pull/5635

[2022-04-01 12:19] keqiaozhang commented on #5573
Yes, not seen this issue in CI this week. Closing this bug.

[2022-04-01 12:19] #5573 closed

[2022-04-01 12:21] keqiaozhang commented on #5554
Yes, let's close this bug.

[2022-04-01 12:21] #5554 closed

[2022-04-04 00:52] aborisovich commented on #5212
Ok so looking at [standards](http://www.open-std.org/JTC1/SC22/WG14/www/standards) and citating latest C99 documentation [WG14 N1256](http://www.open-std.org/JTC1/SC22/WG14/www/docs/n1256.pdf):
6.7.4 § 3:

modifiable object with static storage duration, and shall not contain a reference to an
identifier with internal linkage

Well maybe we have a lot of definitions of modifiable objects with stati

[2022-04-04 09:07] lyakh commented on #5510
@lgirdwood as you see above, I proposed a fix, but it isn't perfect. I asked for better ideas but haven't got any suggestions so far.

[2022-04-04 13:48] lgirdwood commented on #5212
@marc-hb what are the CI, validation, size and perf results of your test PR ? No problem to remove, my understanding this was needed for historical XCC (which we no longer use).

[2022-04-04 19:57] marc-hb commented on #5212
I tried to "quickly" drop the `-fno-inline-flag` and compare binaries while compiling with the Zephyr SDK and I observed a strange and counter-intuitive result: dropping the flag increased the TEXT size a bit.

Next I wanted to diffoscope a couple .c.obj file to find clues. However finding quickly which .c.obj files to diffoscope in the first place and removing a ton of noise requires dropping -g

[2022-04-05 00:55] marc-hb commented on #5212
That does not seem to be a problem, see test PRs #5213 and #5645

Yes, the `inline` keyword seems ignored by all optimizers I tried, even in old toolchains.

`-fno-inline-functions` looks "stronger".

However `static inline` is still useful for linkage reasons: I think it's the only clean way to share functions in .h header files (@andyross). Whether these functions in .h files are actually inline

[2022-04-05 01:04] dcpleung commented on #5212
AFAIK, the GCC portion of XCC can only support C89 in terms of inlining (specially, the GNU89 inlining semantics), unless they are no longer based on GCC 4.2. IIRC, some of the inlining semantics are actually reversed between GNU89 and C99. So one has to be really careful there. Though, if we are going to use XCC-Clang, none of this would be an issue. :)

[2022-04-05 12:33] paulmenzel commented on #5439
Could be related to coreboot using probe functionality only supported by the Chromium OS Linux kernel and not yet upstreamed to the Linux kernel, cf. [[PATCH] CHROMIUM: i2c: Add device property for probing](https://lore.kernel.org/all/20211220210643.47842-1-pmenzel@molgen.mpg.de/#r).

[2022-04-05 12:50] lgirdwood commented on #5212
@marc-hb lets revisit this once we have fully aligned and stabilised with Zephyr. This interrupts the convergence flow atm and its a good thing to investigate once we have all native Zephyr APIs in use and stable.

[2022-04-05 13:48] lgirdwood commented on #5439
@paulmenzel will you be upstreaming this ?

[2022-04-05 14:31] MrChromebox commented on #5439
@lgirdwood the "probed" patch is a dirty hack due to coreboot generating invalid ACPI statuses for some i2c devices, setting everything to "present/working" and forcing the OS driver to determine if that's correct. It will not, and should not, be upstreamed

[2022-04-05 14:44] itacud95 opened #5646 "[BUG] Not able to create new playback pipeline"
**Describe the bug**
We are trying to add a playback pipeline, but having issues with DAI config(?). What is the normal procedure for adding a playback pipeline on the same pcm stream?
[code]

**To Reproduce**
Add new pipeline with `PIPELINE_PCM_ADD` `DAI_ADD` `PCM_PLAYBACK_ADD` `DAI_CONFIG` with existing `SSP_CONFIG`.

**Reproduction Rate**
1/1

**Expected behavior**
Trigger the new playback pipe

[2022-04-05 15:33] plbossart commented on #5439
The gpio support and I2C probe are orthogonal topics, aren't they? The maxim amp used in these devices don't use I2C so whatever happens for I2C is likely irrelevant.

[2022-04-05 15:53] lgirdwood commented on #5646
@itacud95 can you attach the FW trace log ?

[2022-04-05 16:44] lgirdwood commented on #5619
Does dummy_copy need to bzero() buffers prior to starting ?

[2022-04-05 19:30] psammarco commented on #5439
I already use this patch which got the touchscreen to work. Had no effect on the speaker unfortunately.

@plbossart  could the topology which handles pin routing and speaker detection be missing?

[2022-04-05 21:25] plbossart commented on #5439
The topology is DSP-centric, there's no pin routing or detection at the hardware level.

[2022-04-06 04:04] lenghonglin commented on #5619
https://github.com/thesofproject/sof/blob/7b5aa7281370c287a16600c7b010279c3fd81def/src/audio/host.c#L926 look here

[2022-04-06 07:19] keqiaozhang opened #5650 "[BUG] IPC timed out for 0x60040000(TRIG_START) when testing multiple-pause-resume on BYT_MB_NOCODEC"
**Describe the bug**
CI detected this IPC timed out in our daily test. Test ID:11602
But this issue cannot be reproduced manually.
error:
[code]

**To Reproduce**
$ /sof-test/test-case/multiple-pause-resume.sh -r 50

**Reproduction Rate**
Hard to tell, only observed this issue once in CI.

**Expected behavior**
No IPC errors

**Impact**
What impact does this issue have on your progress (e.g., anno

[2022-04-06 10:27] lgirdwood commented on #5619
@lenghonglin does your platform need to writeback or invalidate any cache here ?

[2022-04-06 10:36] lenghonglin commented on #5619
i wanna know why update copy `host->dma_buffer` to ringbuffer and then update `host->dma_buffer`

[2022-04-06 10:46] lgirdwood commented on #5619
Sorry, not following. Do you mean the host ALSA ring buffer to DSP DMA ring buffer ?

[2022-04-06 10:56] lenghonglin commented on #5619
Yes

[2022-04-06 12:14] lgirdwood commented on #5248
@insiderser thanks for letting us know, I dont think this is SOF FW or topology related as the same capture pipelines are used on other devices and work as expected for L/R channels.
@plbossart @bardliao do you know if this soundwire HW topology is used on any other platforms, could we be missing a workaround for this device that's in Windows driver for soundwire (e.g. override of default SDW slot

[2022-04-06 13:10] lgirdwood commented on #5518
Adding for v2.2 in case we want to improve.

[2022-04-06 13:12] lgirdwood commented on #5602
Making a v2.2 for Intel platforms. @dbaluta NXP likewise for v2.2 ?

[2022-04-06 13:55] bardliao commented on #5248
@lgirdwood As I know, Realtek is working on it. @jack-cy-yu Do you have any update?

[2022-04-07 02:23] jack-cy-yu commented on #5248
@bardliao from the experiment on 11 Feb, I can get voice even after step 2 or step 3, which means left and right mics are used. The debug kcontrol tries to mute L ch and R ch separately to see if the audio really muted after that, but the result shows we can still get voice even after L ch is muted or R ch is muted.

Attached file is the amixer script and the file I recorded today, I touched and r

[2022-04-07 03:15] keqiaozhang opened #5657 "[BUG][zephyr][CML] IPC tx timed out for 0x60010000(PCM_PARAMS) when testing multiple-pipeline-capture"
**Describe the bug**
Observed this issue in CI daily test 11656 and this issue only happened once and can not be reproduced manually.
Error:
[code]

**To Reproduce**
~/sof-test/test-case/multiple-pipeline.sh -f c -l 50

**Reproduction Rate**
hard to tell, only observed it once in CI.

**Expected behavior**
No ipc error

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: [8e9f9fcfcb85](htt

[2022-04-07 03:31] keqiaozhang commented on #5650
Observed the similar issue on BDW_WSB_RT286 when testing check-playback-100times. IPC timed out for 0x60050000(TRIG_STOP).  Daily test ID:11656
Dmesg:
[code]

[2022-04-07 06:13] lyakh opened #5658 "[BUG] Error codes mixed up Cadence codec adapter code"
**Describe the bug**
Multiple locations in cadence.c e.g. in `cadence_codec_init()` mix together error codes from different incompatible sets: https://github.com/thesofproject/sof/blob/7b5aa7281370c287a16600c7b010279c3fd81def/src/audio/codec_adapter/codec/cadence.c#L97

**Expected behavior**
Functions should return consistent error codes.

**Impact**
Error detection and interpretation becomes unre

[2022-04-07 06:21] dbaluta commented on #5658
Cc: @ranj063

[2022-04-07 07:10] miRoox opened #5659 "[BUG] ipc tx error for CORE_ENABLE when check-capture-100times on ADLP_RVP_NOCODEC"
**Describe the bug**
An IPC tx error for CORE_ENABLE is observed in CI daily test 11656. The test might run time-out or lose its network connection, so the console log is incomplete. After this issue happened, the DSP state seems to be corrupted and the following audio tests are failed with the same IPC error.

**To Reproduce**
[code]

**Reproduction Rate**
Cannot be reproduced manually, only happ

[2022-04-07 07:19] bardliao commented on #5248
@jack-cy-yu I think there was some misunderstanding. What @insiderser reported is that the right mic captured nothing. but your  previous experiment was to check left and right channel. As far as I know, both left and right have left and right channels. In other words, the left and right channels of @insiderser's recording could be both from the left mic.
However, according to @jack-cy-yu's last e

[2022-04-07 08:21] XiaoyunWu6666 opened #5661 "[BUG] IO and set pipeline status error on TGLU_UP_HDA_IPC4 and ADLP_RVP_NOCODEC_IPC4 with sof+IPC4"
**Describe the bug**
IO error happened and ipc timed out when setting status for pipeline
 when aplay on  TGLU_UP_HDA_IPC4 and ADLP_RVP_NOCODEC_IPC4

**To Reproduce**
"aplay   -Dhw:0,3 -r 48000 -c 2 -f S16_LE -d 3 /dev/zero -v -q " on TGLU_UP_HDA_IPC4
OR
"aplay   -Dhw:0,0 -r 48000 -c 2 -f S16_LE -d 3 /dev/zero -v -q" on ADLP_RVP_NOCODEC_IPC4

**Reproduction Rate**
100%
**Environment**
Kernel Branc

[2022-04-07 08:22] XiaoyunWu6666 commented on #5281
close and updated it to #5661 since the testplan configuration has been changed

[2022-04-07 08:22] #5281 closed

[2022-04-07 08:28] dbaluta opened #5662 "[BUG] Zephyr: SOF firmware crashes with module interface enabled"
With Zephyr, we have this in zephyr/wrapper.c

[code]
But we still call `sys_module_init()` which should see no constructors in `module_init` section.

Except that, we have a name clash when bringing CODEC_ADAPTER and the new module interface into the picture.

`src/audio/codec_adapter/codec/generic.c` declares a function named `module_init` and for this reason the compiler generates
temporary sec

[2022-04-07 08:35] dbaluta commented on #5662
Cc: @ranj063

[2022-04-07 09:48] psammarco commented on #5439
I am out of ideas at this point. Thanks for the help though.

[2022-04-07 11:52] lgirdwood commented on #5657
@kv2019i duplicate ?

[2022-04-08 10:14] kv2019i commented on #5469
Multipe PRs merged to addres sthis bug, but #5628 is still open (and under work).

[2022-04-08 14:04] kv2019i commented on #5657
This may be something different. Let me take a look.

[2022-04-11 08:52] lyakh opened #5674 "[BUG] Apparently buggy code in codec_adapter.c"
**Describe the bug**
Loop

https://github.com/thesofproject/sof/blob/5eb94a8a801ffa4922f1f173180751b70528b776/src/audio/codec_adapter/codec_adapter.c#L512-L528

introduced by 4f8a70dd23 appears to contain a bug: the `i` index is never incremented in it.

**Expected behavior**
Presumably `i` should be incremented after line 527.

[2022-04-11 13:12] dbaluta commented on #5674
@ranj063  @lyakh probably this works because we only have 1 input buffer and 1 output buffer?

[2022-04-11 21:47] plbossart opened #5677 "[BUG] 'struct ipc4_fw_registers' size and offsets varies by platform"
**Describe the bug**
To read peak value and LLP information, we need to import the fw_reg.h definitions in the kernel to figure out where to read the information in SRAM windows.
However the definitions are compilation and platform dependent, so the kernel would need to do some math and have information on cores/DMA channels. That's really a poorly defined ABI!

See src/include/ipc4/fw_reg.h

[cod

[2022-04-12 00:08] fredoh9 opened #5678 "[BUG] DMIC 4ch capture is NOT working"
**Describe the bug**
This is iPC4 + CAVS FW. I tested with ADL-P RVP + Realtek AIOC + Transducer board. But I don't think this is platform specific.
DMIC 4 ch capture is NOT working.
DMIC 2 ch capture is working fine.

**To Reproduce**
arecord -Dhw:0,10 -r 48000 -c 4 -f S32_LE -d 10 test_dmic4ch.wav -vv
arecord -Dhw:0,10 -r 48000 -c 2 -f S32_LE -d 10 test_dmic4ch.wav -vv

**Reproduction Rate**
100

[2022-04-12 03:04] RanderWang commented on #5677
we can have a function to figure out ppl_vol offset, ppl_reg offset in memory windows based on getLargeConfig

[2022-04-12 09:20] kv2019i opened #5679 "[FEATURE] Hide idc_send_msg() from SOF application code"
**Is your feature request related to a problem? Please describe.**
All SOF drivers currently expose idc_send_msg() as an interface for core-to-core communication (src/include/sof/drivers/idc.h). This is used both by low-level operating system code (e.g. arch/xtensa/lib/cpu.c) as well as application code (e.g. src/ipc/ipc-common.c).

In high level application code, to perform actions like "run this

[2022-04-12 09:44] lyakh commented on #5679
@kv2019i @aborisovich how about `ipc_process_on_core()` for one of the most common IDC uses - for IPC and a similar API for other uses? `k_p4wq_submit()` seems too implementation-specific to me too.

[2022-04-12 11:18] mwasko commented on #5677
@plbossart, @RanderWang the existing `ipc4_fw_registers`  structure in SOF is outdated. There have been major improvements in last layer, which address the problems you have listed Pierre. We need to align SOF and update this structure definition for ipc4 protocol.

[2022-04-12 14:27] fredoh9 commented on #5678
@aiChaoSONG yes, IPC3 works on same device. I updated topology I used above again.
cavs-mixin-mixout-hda-4ch-tgl and cavs-mixin-mixout-hda-2ch-tgl are used.

I will capture log today again.

[2022-04-12 17:57] fredoh9 commented on #5678
I re-captred the log, BIOS setting has DMIC 4ch 38.4MHz for NHLT, no module param set.

[0412_dmesg02_bios4ch+arecord_dmic_fail.log](https://github.com/thesofproject/sof/files/8475330/0412_dmesg02_bios4ch%2Barecord_dmic_fail.log)

[code]

[2022-04-12 18:11] juimonen commented on #5678
@fredoh9 so we are trying to look for 2 channel blob, which doesn't exist. The channel count is coming from snd_pcm_hw_params... so are you specifying the 4 channel with arecord? if that doesn't work, we probably have somewhere in the pcm topology definition a 2 channel limitation.

[2022-04-12 18:26] juimonen commented on #5678
@fredoh9 you could try to set channels_max to 4 in include/pipelines/cavs/passthrough-capture.conf and compile topologies and see what happens... not sure if that would work

[2022-04-12 18:40] ranj063 commented on #5678
@fredoh9 @juimonen i'm working on the tplg fix for this. Will post a PR soon

[2022-04-12 20:14] insiderser commented on #5248
Thanks everyone for looking into this issue.

I did some more investigation with Windows, and it looks like this is a hardware issue after all.

What misled me was that when I open the Windows' volume mixer (which shows the amplitude of microphone data), I can strangely see big amplitude spikes when I touch the right microphone. But when I record a video using the Camera app, the video doesn't hav

[2022-04-12 20:14] #5248 closed

[2022-04-12 21:12] dcompoze opened #5682 "sof-audio-pci-intel-tgl intermittent crash on audio playback (Dell XPS 13 9310)"
**Computer:** `Dell XPS 13 9310`

**BIOS/UEFI version:** `DELL BIOS 3.5.1 02/25/2022`

**Oparating System:** `Arch Linux 5.17.1-arch1-1 GNU/Linux`

**Package installed:** `sof-firmware 2.0-1 (pacman)`

**Modules loaded:** `lsmod | grep snd_sof`
[code]

**Audio packages installed (pacman):**
[code]

**Issue:**

The kernel module `snd_sof_pci_intel_tgl` started crashing since about 3-4 weeks ago aft

[2022-04-12 22:12] cujomalainey commented on #4488
Need to check RTNR to see if it needs fixing

[2022-04-12 22:17] plbossart commented on #5682
@dcompoze this is a known issue that was fixed in upstream kernel commit b7fb0ae09009d076964afe4c1a2bde1ee2bd88a9, which was applied to all recent stable kernels as well. I double-checked this is in 5.17.2, please update your kernel.

What is more concerning is why you run out of memory. We have a related bug on this, see https://github.com/thesofproject/linux/issues/3530. If you see this pattern

[2022-04-13 00:50] RanderWang commented on #5677
Thanks,  I will check the latest status

[2022-04-13 11:35] lgirdwood commented on #5674
Ack - I think @ranj063 had a plan to do all changes with 1:1 buffers and then add the m:n support.

[2022-04-13 11:56] lgirdwood commented on #5679
@nashif @andyross which Zephyr API should be used here to abstract inter processor communication e.g. to make IDC API generic.

[2022-04-14 16:50] ranj063 opened #5685 "[FEATURE] Static pipelines with IPC4"
**Is your feature request related to a problem? Please describe.**
If a widget has a volatile kcontrol associated with it, the pipeline it belongs to has to be set up statically and available all the time for the kcontrol IO to work properly all the time

**Describe the solution you'd like**
Set up the pipeline widgets during topology loading with a default config and update the config at runtime.

[2022-04-14 17:09] kv2019i commented on #5469
All patches merged for XTOS builds. For Zephyr builds I still have one patch in the works, but this is harder to hit. Let's monitor test results and close the bug if failure not seen.

[2022-04-14 20:54] #5661 closed

[2022-04-14 22:57] fredoh9 opened #5687 "[BUG][CAVS] multiple-pause-resume.sh failed in nocodec mode, input/output error"
**Describe the bug**
Clearly this is CAVS/IPC4 related issue. But I'd like to start a thread from here first.
Found aplay input/output error while testing multiple-pause-resume.sh on TGLU_RVP_NOCODEC.

**To Reproduce**
TPLG=/lib/firmware/intel/avs-tplg/cavs-tgl-nocodec.tplg MODEL=TGLU_RVP_NOCODEC_IPC4 ~/sof-test/test-case/multiple-pause-resume.sh -r 50
TPLG=/lib/firmware/intel/avs-tplg/cavs-tgl-no

[2022-04-15 05:55] XiaoyunWu6666 opened #5690 "[BUG]S24_LE does not work on TGLU_UP_HDA_IPC4 and ADLP_RVP_NOCODEC_IPC4"
**Describe the bug**
aplay with format S24_LE cause IO error
ipc time out when GLB_SET_PIPELINE_STATE ,  failed to set state for pipeline

**To Reproduce**
aplay   -Dhw:0,3 -r 48000 -c 2 -f S24_LE -d 3 /dev/zero -v -q on TGLU_UP_HDA_IPC4
aplay   -Dhw:0,0 -r 48000 -c 2 -f S24_LE -d 3 /dev/zero -v -q on  ADLP_RVP_NOCODEC_IPC4

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev

[2022-04-15 05:59] XiaoyunWu6666 commented on #5690
this is not a new issue actually but was hided by  https://github.com/thesofproject/sof/issues/5661 which was newly addressed by sof PR https://github.com/thesofproject/sof/pull/5671

[2022-04-17 04:15] mengdonglin opened #5693 "[FEATURE] CMake can pass FW micro version to rimage"
**Purpose**
Lower the risk of releasing FW binaries which are built and signed before SOF release tag is applied.
CMake can pass FW micro version to rimage as well so that rimage can store major.minor.micro version in ADSP manifest. Today it only pass major and minor version to rimage.

This feature can help us check FW version of a FW binary *.ri using https://github.com/thesofproject/sof/blob/ma

[2022-04-18 01:54] keqiaozhang commented on #5469
haven't seen this issue in CI for 10 days, closing this bug.

[2022-04-18 01:54] #5469 closed

[2022-04-18 02:07] keqiaozhang commented on #5626
Haven't seen this issue in CI for 2 weeks, all related fixes have been merged. Closing this bug.

[2022-04-18 02:07] #5626 closed

[2022-04-18 02:50] miRoox commented on #5103
This issue no longer recurs.

[2022-04-18 02:50] #5103 closed

[2022-04-18 08:23] afq984 commented on #5073
un-assigning myself as not having cycles to work on this

[2022-04-19 10:50] #5678 closed

[2022-04-19 22:15] aborisovich commented on #5679
Yes I agree, function should be named something like `ipc_process_on_core()` or maybe `ipc_process_core_local()` ? (a discreet reference to standard C "thread local" but no threads here obviously). It should probably call `k_p4wq_submit()` inside its body as implementation detail but the k_p4wq_submit name does not seem like a intuitively named function for this purpose in higher level API.

[2022-04-20 14:28] XiaoyunWu6666 opened #5701 "[BUG]IPC4_BUSY when MOD_SET_DX on TGLU_UP_HDA_IPC4"
**Describe the bug**
on IPC4 platform TGLU_UP_HDA_IPC4 which run sof zephyr IPC4 firmware
FW reported error: 4 - The system or resource is busy when MOD_SET_DX

This happened after https://github.com/thesofproject/linux/pull/3579 merged yesterday

**To Reproduce**
After loading the firmware, check the dmesg log or run below command to catch kernel log error directly
[code]

**Reproduction Rate**
1

[2022-04-20 18:44] lgirdwood commented on #5679
@aborisovich @kv2019i @nashif @andyross API naming proposed sounds good to me, but this is one for the Zephyr folks to align.

[2022-04-20 18:45] lgirdwood commented on #5693
@marc-hb any comments ?

[2022-04-20 18:46] lgirdwood commented on #5073
@greg-intel is this something you can own ?

[2022-04-20 18:51] lgirdwood commented on #5685
The kcontrol should appear (with default value) and disappear alongside the pipeline. It should get any non default value from UCM or other userspace.

[2022-04-20 18:52] lgirdwood commented on #4488
@kv2019i some mixer, @andrula-song some processing components here.

[2022-04-20 18:54] afq984 opened #5703 "Codec adapter has number of variables set in `prepare` and `params` step that are not zeroed out - @mrajwa"

[2022-04-20 18:54] afq984 commented on #5703
Sorry, created from checkbox by accident

[2022-04-20 18:54] #5703 closed

[2022-04-20 18:58] lgirdwood commented on #5690
@XiaoyunWu6666 can we close ?

[2022-04-21 00:47] marc-hb commented on #5073
After using the same Docker image for a long period we had a recent burst of upgrades because of topologies v2 and there will be a couple more coming (see #5323 + links, maybe #5386 some day) but I think this was unusual, I expect the tempo to slow down again. This means the return on investment of automating some testing will be low, more effort than testing manually.

tl;dr: I think this is a P3

[2022-04-21 01:27] greg-intel commented on #5073
Yeah, I agree with Marc.  Also, automated means someone's not actively vetting the image, which means we'd maybe want more framework than running the docker build and upload commands.

TBH, it's entirely possible, but I haven't given it too much thought.

But if someone finds themselves with the bandwidth to work on this, I'd support their effort.