[2019-01-09 16:44] lgirdwood commented on #793
@markyang can you retest, @keyonjie fix ??? is merged now.

[2019-01-09 17:02] lgirdwood commented on #743
@keyonjie did you open a new issue as @wenqingfu suggested ? Your error
[code]
Is a deref at 0x2340 is near the HDA DMA phy address and I've seen this value before.

[2019-01-09 17:09] lgirdwood commented on #801
@mengdonglin @michalgrodzicki looks like something in the error path is not reseting or free a resource correctly leading to the subsequent failure of a valid stream param.

[2019-01-09 17:11] lgirdwood commented on #802
@zhuyingjiang you need to zoom in on the audacticy screenshot and attach a small 5 second wav with the noise. It does sound like codec integration domain given that loopback works. @bardliao any comment ?

[2019-01-09 18:07] ranj063 commented on #766
@lgirdwood @dabekjakub, @fredoh9 also hit this issue while trying to load the nocodec topology on the up squared. So it is no longer a stress test issue only.
Fred, could you please help with checking if the data is getting corrupted at any point prior to the IPC being sent in the driver?

[2019-01-09 18:10] plbossart commented on #802
@zhuyingjiang can you please clarify what the platform is? if you've reworked the platform to add an I2S codec then HDMI and "analog" have nothing in common and HDMI should work regardless of the codec.
Also please add logs so that we can check what is happening during playback.

[2019-01-09 18:41] plbossart opened #810 "Baytrail/Broadwell: enable XCC compiler"
maybe with New Year's resolution this will get done in 2019?

[2019-01-09 19:30] ranj063 commented on #810
@plbossart I will look into getting BYT working. But I havent been successful in getting the core config tarball for BDW/HSW. @michalgrodzicki can you please help with that?

[2019-01-09 20:12] plbossart commented on #801
the dmesg log has suspicious values:
[  995.317346] sof-audio sof-audio: period_bytes:0x780
[  995.317350] sof-audio sof-audio: periods:33 <<<  WHAT IS THIS?
[  995.317364] sof-audio sof-audio: stream_tag 2
[  995.317403] sof-audio sof-audio: ipc tx: 0x60010000: GLB_STREAM_MSG: PCM_PARAMS
[  995.623828] sof-audio sof-audio: error: ipc timed out for 0x60010000 size 0x6c
[  995.623854] sof-audio sof

[2019-01-10 01:58] markyang commented on #793
@lgirdwood Yes, this issue has been fixed.

[2019-01-10 01:58] #793 closed

[2019-01-10 02:38] bardliao commented on #802
@lgirdwood I think what @zhuyingjiang said "loopback mode" is to short I2S TX and RX pin physically. So it is not on codec domain. @zhuyingjiang as Liam said could you attach 5 second wav with the noise? We need the noise wav for all rt5682, HDMI, and DMIC. Let's see what kinds of noise they are and check if they look the same first. Also. please attach your topology file and show the command you

[2019-01-10 05:03] zhuyingjiang opened #811 "[CML] when playback and capture simultaneously, and stop playback by Ctrl+C, the capture will also abort"
On the CML evaluation board(WHL RVP reworked with audio codec rt5682), when  playback and capture simultaneously, and stop playback by Ctrl+C, the capture will also exit.
Can be reproduce 100%.

[2019-01-10 05:12] keyonjie commented on #811
which playback/capture dais are you running? ssp, hda, dmic, or hdmi?

[2019-01-10 07:20] zhuyingjiang commented on #811
@keyonjie SSP

[2019-01-10 07:30] zhuyingjiang commented on #802
@plbossart @lgirdwood  @bardliao The platform is a reworked WHL RVP board plus a rt5682 board. The noise from HDMI is attached. I will also grasp noise from SSP and DMIC

[2019-01-10 09:15] zhuyingjiang commented on #802
![cml-dmic-capture-noise](https://user-images.githubusercontent.com/39688699/50958221-26188a00-14fb-11e9-804b-cde3272fcbee.png)
[cml-evaluate-board-dmic-rec.zip](https://github.com/thesofproject/sof/files/2744550/cml-evaluate-board-dmic-rec.zip)
The wav record from DMIC, there is a noise at the end, as picture showed.

[2019-01-10 09:50] singalsu commented on #745
The PR is now merged so this can be closed!

[2019-01-10 09:50] #745 closed

[2019-01-10 10:05] xiulipan commented on #798
@mwierzbix
LGTM, can you also add this as a README inside tools/coredumper folder?
And a example maybe better for people to confirm they have a GOOD run.

[2019-01-10 10:08] xiulipan commented on #810
@ranj063 Please CC me once this is all done. And we can update our CI to track BYT/BDW XCC build status.

[2019-01-10 10:24] markyang opened #814 "[UP2] IPC timed out after hw_params failure on APL with PCM512x"
**Summary:**
  IPC timed out after hw_params failure on APL with PCM512x.
  Both 'sof-logger' and 'sof-logger -t' are empty.

**dmesg:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: 84355364
kernel sof-dev: 7ea94936
tplg: sof-apl-pcm512x.tplg

**Log:**
[dmesg-apl.txt](https://github.com/thesofproject/sof/files/2744778/dmesg-apl.txt)

[2019-01-10 11:32] lgirdwood commented on #811
@zhuyingjiang we are missing logs etc so no one can help.

[2019-01-10 11:43] lgirdwood commented on #802
@zhuyingjiang the HDMI playback shows no digital issues (i.e. missing or repeated samples) but the waveform is not smooth. Does legacy HDMI playback to the same monitor give the same or better output ?
What about HDA analog audio ? Does it have the same noise ?
![screenshot from 2019-01-10 11-38-11](https://user-images.githubusercontent.com/12020523/50966411-b8ee0000-14cc-11e9-9492-3baf4d3348d7.pn

[2019-01-10 11:52] zhuyingjiang commented on #802
@lgirdwood I have checked the same monitor with UP2, the waveform is smooth, And I will still check with legacy HDMI, HDA analog audio still have noise. with attach that tomorrow.

[2019-01-10 11:54] zhuyingjiang commented on #811
@lgirdwood I will attach them tomorrow.

[2019-01-10 12:56] lgirdwood commented on #814
@markyang does this happen on APL with other codecs or just PCM512 ? It could be topology related if it's PCM512 only.

[2019-01-10 14:07] naveen-manohar commented on #800
@ranj063  Yes i'm tracking the same with ODMs
Shall update soon they give a positive nod

[2019-01-10 19:39] naveen-manohar commented on #800
Got customer's reply - "SOF v1.0 will not be backported to the factory branch. We need to make sure this gets fixed on the factory branch."

[2019-01-10 22:11] wenqingfu commented on #785
close as fixed

[2019-01-10 22:11] #785 closed

[2019-01-10 22:39] wenqingfu commented on #800
@dabekjakub  @keqiaozhang , you need to talk with @keyonjie if it's the same problem he run into in [this comment ](https://github.com/thesofproject/sof/issues/743#issuecomment-450275036). Before that, he reported 1000+ successful iterations of a similar test scenario as well.

Good luck!

[2019-01-11 04:51] markyang commented on #814
@lgirdwood  we only have PCM512x, cannot test other codecs.

[2019-01-11 08:20] keyonjie commented on #743
@lgirdwood @wenqingfu I created this issue aim to trace all issues found by this simultaneous playback/capture scripts, we can create sub-issues for every different error logs and different root cause, but I prefer to keep this one(just rename the title of it).

[2019-01-11 08:41] zhuyingjiang commented on #802
@lgirdwood  I have tried multiple device and case, the result is as follows:
WHL RVP with HDA driver => no noise
WHL RVP with SOF and sof-hda-generic.tplg => no noise
WHL reworked with rt5682 and sof-cnl-rt5682.tplg => noise
WHL reworked with rt5682 and sof-hda-generic.tplg => noise
WHL reworked with HDA driver => audio can't work because the rework.
Up2 with sof-apl-pcm512x.tplg with the same cab

[2019-01-11 11:11] zhuyingjiang commented on #811
[sim-play-cap-log.txt](https://github.com/thesofproject/sof/files/2749367/sim-play-cap-log.txt)
[cml-rt5682-aplay.txt](https://github.com/thesofproject/sof/files/2749368/cml-rt5682-aplay.txt)
[cml-rt5682-arecord-simultaneously.txt](https://github.com/thesofproject/sof/files/2749369/cml-rt5682-arecord-simultaneously.txt)
log of the issue:
1 aplay -D hw:0,0 48000-16bit-stereo.wav -vvvv
2 the same ti

[2019-01-11 11:47] lgirdwood commented on #814
@markyang UP^2 in nocodec mode ? Can @mengdonglin help here ?

[2019-01-11 14:53] lgirdwood commented on #743
@keyonjie please just use one issue for this error, it may show different outcomes but the sue case is always the same. Please mark other issues as duplicates and close them or mark this as duplicate and close. Having multiple issues makes this really hard to follow for the same use case error.

[2019-01-11 14:55] lgirdwood commented on #802
@zhuyingjiang ok, good work - probably noise from rework maybe jitter....

[2019-01-11 14:58] wenqingfu commented on #743
No, there is no personal preference here. We ask "one report, one issue". Please follow. You can use title renaming trick to better summarize **the** issue as time goes, but it need to be the same issue. When the topic changes, a new one is required.

When more than one issues make up a super issue, you can optionally use [Github task lists](https://help.github.com/articles/about-task-lists/) to p

[2019-01-11 15:02] lgirdwood commented on #811
@zhuyingjiang what about FW logs ?

[code]
This looks like the second stream has also stopped in the FW this then causes the driver to stop the stream, via IPC is it does not see stream movement within 100ms.

[2019-01-11 15:06] wenqingfu commented on #743
Close this bug as a dup of #766 (SMP vs UP).  new issue after [this post](https://github.com/thesofproject/sof/issues/743#issuecomment-450275036) moves to #800

[2019-01-11 15:06] #743 closed

[2019-01-11 16:22] plbossart commented on #814
Sure you can. we support the WM8804, use the Hifiberry DIGI+. I've also started looking at the RASPIAUDIO (with a maxim amp) and FE-PI (with SGTL5000)

[2019-01-11 17:20] wenqingfu commented on #800
interesting finding, thanks! can you please put down the steps you used for creating "three pipelines"?  What about  more than three pipelines? Would it make the issue reproduction even easier?

[2019-01-11 18:06] wenqingfu commented on #800
scouted symptom report in #784 shows similar error pattern, too.

[2019-01-14 03:12] markyang commented on #814
**Summary:**
  This issue cannot be reproduced on APL with PCM512x any more using the latest build.

**Test env:**
sof master: 872cefe3
kernel sof-dev: 2ac82ee9
tplg: sof-apl-pcm512x.tplg

[2019-01-14 05:59] markyang commented on #611
@lgirdwood Audio can be resumed,  but the ipc error(_ipc error for 0x60000000 size 0xc_) still exists with latest build on APL with PCM512x.

**dmesg:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: 872cefe3
kernel sof-dev: 2ac82ee9
tplg: sof-apl-pcm512x.tplg

[2019-01-14 07:55] xiulipan opened #835 "gitignore will ignore tools/topology modification"
$ git add tools/topology/sof-cnl-rt5682.m4
The following paths are ignored by one of your .gitignore files:
tools/topology/sof-cnl-rt5682.m4
Use -f if you really want to add them.

Reported by @zhuyingjiang

[2019-01-14 08:02] xiulipan commented on #835
a RFC that can fix this issue https://github.com/thesofproject/sof/pull/836

[2019-01-14 09:05] markyang commented on #788
**Summary:**
  This issue can be reproduced on APL with PCM512x using the latest build.
  sof-logger is empty. sof-logger -t log is attached below.

**dmesg:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: 872cefe3
kernel sof-dev: 2ac82ee9
tplg: sof-apl-pcm512x.tplg

**Log:**
[dmesg-apl.txt](https://github.com/thesofproject/sof/files/2754494/dmesg-apl.txt)
[logger-t.txt](https://github

[2019-01-14 09:36] xiulipan opened #837 "qemu boot status for skl, kbl and cnl can not be judged"
[qemudump.zip](https://github.com/thesofproject/sof/files/2754594/qemudump.zip)

Upload the apl/bxt as good example and skl, kbl, cnl.
[code]

The success APL had right IPC ready message in outbox
[code]

The three problem device have different behavior
CNL have no IPC ready at all
SKL and KBL should have IPC ready at offset 0xF000 as APL do I think, but they seems to have
the IPC ready message at

[2019-01-14 09:37] xiulipan commented on #837
@lgirdwood Please have a look for the QEMU boot. If I search the right bridge files?

[2019-01-14 13:06] lgirdwood commented on #814
@markyang I'll close. Please re-open it comes back.

[2019-01-14 13:06] #814 closed

[2019-01-14 13:21] lgirdwood commented on #611
@markyang This is a FW crash that's not being detected by the driver. I've added a kernel issue

https://github.com/thesofproject/linux/issues/537

[code]

[2019-01-14 13:31] #835 closed

[2019-01-14 13:35] lgirdwood commented on #788
@keyonjie can you check that all the
[code]

Have a timeout clause that will break. I have a suspicion we probably have one ion the HDA logic since the stream appears to start (but then ALSA stops it as it's position is not updating).

[2019-01-14 13:40] lgirdwood commented on #837
Cmd line shlould include ROM
[code]

On APL
[code]
on CNL
[code]
on ICL
[code]

[2019-01-14 13:50] lgirdwood commented on #837
I also see
[code]
SKL and KBL appear to work also.

I would have the CI check check for both the FW boot IPC register write and mbox message header.

[2019-01-15 00:36] ranj063 commented on #749
@wenqingfu yes this is fixed by #772 and the patches are both on glk-004 and the master branches.

[2019-01-15 02:41] wenqingfu commented on #749
Thank you, @ranj063 !

Close as fixed by #772

[2019-01-15 02:41] #749 closed

[2019-01-15 02:57] keyonjie commented on #788
@lgirdwood I believe we have some HDA DMA logic issue here, I will take looking into it after Xrun cleanup finished.

[2019-01-15 04:36] naveen-manohar commented on #800
@keyonjie Do we have a fix for this ? Please help provide an ETA.
jfyi, If the solution could not be landed in before EOW, we may need to consider to raise up a waiver request with customer.

[2019-01-15 07:00] xiulipan commented on #837
@lgirdwood I added the rom support in https://github.com/thesofproject/sof/pull/832
And what I upload is dump from my device
Could you have a look about if there are un-pushed commit from your local repo?

From the log and bridge file I uploaded as attachment I can could see anything like that

[code]

[2019-01-15 09:11] lgirdwood commented on #837
@xiulipan can you provide the command line you are using above.

[2019-01-15 09:20] lgirdwood commented on #837
There is a ^M on your terminal, maybe something todo with your terminal ? Can you check the registers all look similar. My ciode is here
[code]

[2019-01-15 10:00] keyonjie commented on #800
@naveen-manohar we have just finished back-porting those patches to sof-v0.55 and finished sanity test here, stress test just triggered, in case you can help trigger test on your side also:
https://github.com/keyonjie/sof/tree/glk-004-fix

[2019-01-15 10:31] xiulipan commented on #837
I just wrap cmd in scripts/qemu-check.sh
You need a simple modify to run kbl
[code]

Here is what I got on my machine with my qemu build

[code]

[code]

[2019-01-15 10:37] xiulipan commented on #837
@lgirdwood
Update the qemu to
[code]
And all the issues are gone.

I will update the docker and qemu-check scripts to make sure

[2019-01-15 11:41] lgirdwood commented on #837
@xiulipan one more thing, we have https://github.com/thesofproject/sof/pull/776 still to be merged after build system update. So we could enable KBL/SKL after this PR is merged. I have this commit at my end for FW testing so that probably why I boot.

[2019-01-15 13:44] xiulipan commented on #837
@lgirdwood
It seems I missed some QEMU commit, update it seems work.

I will update the scripts to directly check mbox/shim or hp-sram/ipc for the ready message.

[2019-01-16 02:53] keqiaozhang opened #848 "Stress-test: noise when injecting xrun for HDMI playback"
This issue is observed on PV recipe. we have exposed this issue before, please refer to #506. But now this issue still can be reproduced under stress test and only happens on HDMI playback.
There's no obvious errors in log or trace and this noise is more like a rustle, it can be recovered after the next xrun. I will try to capture it.

How to reproduce:
1. enable XRUN debug in chromeos-intel-pinev

[2019-01-16 02:54] keqiaozhang commented on #848
@markyang
please help to check this issue on UP2. Thanks!

[2019-01-16 09:42] markyang commented on #848
**Summary:**
  This issue can also be reproduced on UP2 with PCM512x.

**Test env:**
sof master: 9d10e1a9
kernel sof-dev: eec37ea0
tplg: sof-apl-pcm512x.tplg

[2019-01-16 09:44] naveen-manohar commented on #800
Hi @keyonjie,
Validation Team tried the fix shared by you for 50 iterations and wasn't able to hit the issue with factory test - SMT.SpeakerDMic
Also basic sanity passed. Thanks

[2019-01-16 10:50] keyonjie commented on #800
@naveen-manohar can you confirm if this noise issue is regression after apply my new fixes?

[2019-01-16 11:18] naveen-manohar commented on #800
@keyon yes we did re-verify and bursting/crackling issue is reproduced only the firmware change.
Without the firmware change, default cpfe works fine.

[2019-01-16 11:45] keyonjie commented on #800
OK thanks for the information, I figured out the fixes in UP^2 with nocodec, so let me try to figure out which patch is the convict, I suspect this one at my first think:

pipeline: switch schedule_task_idle to schedule_task

can you do a quick try if removing this commit make difference?

I will do debugging here tomorrow.

[2019-01-16 11:50] lgirdwood commented on #848
@keqiaozhang can we get a short wav file (of playing sine wave) and audacity capture showing the wave (where individual waves can be seen alongside the noise).

[2019-01-16 12:07] lgirdwood commented on #788
@dabekjakub your understanding is the same as mine, I would expect streams to be stopped prior to power down.

[2019-01-16 19:21] fredoh9 commented on #766
My case is a bit different from this thread. I built nocodec build for UP2 but I don't have sound card listed. I was trying to digest my problem/solution and issues in this thread. I attached my logs here.

[logger_0108_fails.log](https://github.com/thesofproject/sof/files/2765699/logger_0108_fails.log)
[UP2_0108_sof-dev_nocodec_tplg.log](https://github.com/thesofproject/sof/files/2765700/UP2_0108

[2019-01-16 19:54] plbossart commented on #788
On 1/16/19 6:07 AM, Liam Girdwood wrote:

ALSA has support for TRIGGER_SUSPEND and TRIGGER_RESUME, it's perfectly
legit to close the lid and suspend while audio is playing, and resume
playing later on.

That said, ChromeOS will stop the streams and restart them explicitly (I
believe there is a shortcut to have the same behavior as plain vanilla
ALSA, Curtis was looking into it).

So it depends whi

[2019-01-17 01:05] mengdonglin commented on #814
@lgirdwood  @plbossart  @markyan has UP2 in nocodec mode. And we'll receive ALC5682 and will enable it with UP2.

[2019-01-17 03:39] naveen-manohar commented on #800
@keqiaozhang  Steps we tried:
1. Boot to R72-11316.75.0 OS  & replaced with dsp firmware /lib/firmware/intel/sof-glk.ri with below md5sum and reboot - edd33e76454176f45151fc842ad2c7d7
2. Observation: Speaker audio playback to notice bursting noise soon after boot

[2019-01-17 06:49] keqiaozhang commented on #800
@naveen-manohar
Now I can reproduce this bursting noise issue, but this issue only happens with browser, no such noise with aplay.
After bisection, we found that this noise is caused by Keyon's new fix(debug: hda-dma: set timeout for preload). Now he is working on it.

[2019-01-17 08:12] keqiaozhang commented on #848
@lgirdwood
FYI
![hdmi](https://user-images.githubusercontent.com/22468760/51304209-77cc9180-1a72-11e9-92b4-dcd46948c277.PNG)
[hdmi.zip](https://github.com/thesofproject/sof/files/2767616/hdmi.zip)

[2019-01-17 08:30] lgirdwood commented on #788
@plbossart my expectation is that TRIGGER_SUSPEND/RESUME should STOP/START the stream from a FW perspective as the FW does not retain any context when the lid is shut. Iirc there is also a flag for each PCM that lets ALSA core know if TRIGGER_SUSPEND/RESUME is supported (not sure if we are setting this in topology).

[2019-01-17 10:22] keyonjie opened #856 "hda-dma will timeout at waiting for DGCS_BF true"
On APL platforms, we are randomly failed at hda_dma_host_preload() where hda-dma will timeout at waiting for DGCS_BF true.

Using simultaneous pipelines stress test can duplicate this easily. Scrip here:
https://github.com/thesofproject/sof/blob/master/tools/test/qa/tests/stability_test/multiplex_pipeline-test.sh

Setting DGCS_L1ETP at hda_dma_set_config() or Force Host DMA to exit L1 make the rep

[2019-01-17 10:23] keyonjie commented on #856
Setting it to P1 as it is blocker now.

[2019-01-17 12:58] dabekjakub commented on #788
So as You said , FW knows nothing of external conditions and in curent implementation we should just be told to stop any streams then to go to power down.  So this looks rather like kernel/alsa issue.

[2019-01-17 14:11] lgirdwood commented on #856
@keyonjie https://github.com/thesofproject/sof/pull/804 has been merged now. @slawblauciak fyi

[2019-01-17 14:33] lgirdwood commented on #788
@dabekjakub do you have any logs here from FW side as my understanding is that this should work on Chrome as @plbossart says since Chrome will send a TRIGGER_STOP and TRIGGER_START which should mean the FW will work as expected.

[2019-01-17 14:51] lyakh opened #859 "Interrupt subsystem rework"
**Relatively urgent** since this is needed for the UART support on Sue Creek.

The Sue Creek SOF port needs a driver for the DesignWare interrupt controller. While working on that it became apparent, that the current SOF interrupt subsystem isn't flexible enough for cascading interrupt controllers. Below I will describe identified issues and propose a solution. Before that a bit of background: fro

[2019-01-17 17:22] naveen-manohar commented on #800
Thanks @keyonjie can we get an ETA for #856 ?
This will help us to communicate better with our customers.

[2019-01-17 17:40] plbossart commented on #788
@lgirdwood in theory the IP can support suspend and restart from where the DMA position was, so your assertion is only true because we don't support what the hardware could do :-)

[2019-01-17 21:52] lgirdwood commented on #859
fyi @mmaka1 @tlauda

[2019-01-18 00:44] keyonjie commented on #856
I haven't tried it, but I don't think so, #804 is change for link dma only, no relationship with host dma BF waiting.

[2019-01-18 08:00] zhuyingjiang commented on #802
@bardliao Yes, the noise from rt5682 should because of the clock. and have proved that no noise of HDMI/DMIC

[2019-01-18 08:49] lgirdwood commented on #802
@bardliao @zhuyingjiang is there any PR to be merged before we close ?

[2019-01-18 08:57] bardliao commented on #802
@lgirdwood Yes, I just updated https://github.com/thesofproject/linux/pull/553 with  rt5682_sel_asrc_clk_src() added. And no other PR needed so far.

[2019-01-18 09:35] lgirdwood commented on #802
@bardliao ok, thanks. Please close when it's merged.

[2019-01-18 10:15] keyonjie commented on #856
@mmaka1 I have tried what Marcin suggested(https://github.com/thesofproject/sof/pull/783#discussion_r244994892) -- Setting DGCS_L1ETP at hda_dma_set_config() or Force Host DMA to exit L1 -- the result is that:
it makes the reproduce rate change, but can't eliminate it.

@mmaka1 can you help to look in this issue?

[2019-01-18 10:46] lgirdwood commented on #856
@keyonjie you have provided two different solutions, but you have not said which one improved the result and by how  much it improved ? Can you also try and add some delay after DMA L1 exit before the next IO operation.

[2019-01-18 11:06] dabekjakub commented on #788
We have no logs from this since on our platforms we have reproduction of
https://github.com/thesofproject/linux/issues/489

I was just throwing logical assumption out in the open that if we have tests that confirm working scenario of TRIGGER_STOP > SUSPEND > RESUME > TRIGGER_START (and we do). Then only issue possible would be kernel side.

However I looked into provided logs

This part should cat

[2019-01-18 17:56] wenqingfu commented on #856
looks like the story line is #723 (FW hang, how about time out?) -> #783 (you got it!, timeout is better than freeze) -> #800 (caused burst noise!) -> #856 (Oh no, there is noise, need a full fix).

add @dabekjakub to decide who will own it.

[2019-01-21 06:12] keyonjie commented on #856
@lgirdwood the result here looks random to me, so I can't say which one improve and by how much it improved? Then I realized I can't try that blindly, I need to understand how it should work, that's why I dropped an email about it.

[2019-01-21 06:37] keyonjie commented on #856
@wenqingfu yes, that's how the story happened, @dabekjakub can you help find a owner for it?

[2019-01-21 06:39] dabekjakub commented on #856
@keyonjie @wenqingfu  I think that @slawblauciak is our specialist in hda-dma related issues. However i will reasign this after we sync on bugscrub.

[2019-01-21 07:10] #802 closed

[2019-01-21 07:32] keyonjie commented on #856
Add more info as below:
At this BF fail cases, usually buffer is not empty(DGCS_BNE==1), and write pointer(DGBWP) is at 0x20 offset(period size is 0xc0, that means, dgbwp==0x20 or 0xe0), such as:
dgcs: 0x86810120 dgbrp: 0x0, dgbwp: 0xe0

[2019-01-21 09:58] keyonjie commented on #788
@dabekjakub as we talked in the meeting, I believe FW error first happen at trigger start before this trigger stop, here we see the trigger stop IPC timeout as FW can't respond to IPC anymore.

[2019-01-21 10:00] keyonjie commented on #788
BTW, please use generic hda tplg and machine driver on UP2, it's very easy(100%) to reproduce this issue.

[2019-01-21 10:12] singalsu commented on #797
PR #864 adds this feature.

[2019-01-22 08:01] markyang commented on #811
**Summary:**
  This issue cannot be reproduced on APL-nocodec, BYT-nocodec and BYT w/ ALC5651.

**Test steps:**
[code]

**Test env:**
sof master: 03ababfb
kernel sof-dev: a5dd3186
tplg: sof-apl-nocodec.tplg
tplg: test-ssp0-mclk-0-I2S-volume-s16le-s16le-48k-24000k-codec.tplg
tplg: test-ssp0-mclk-0-I2S-volume-s16le-s16le-48k-24000k-nocodec.tplg

[2019-01-22 10:08] lgirdwood commented on #811
thanks @markyang for testing. @zhuyingjiang so it's CML only issue. Can you retry playback on HDA and capture on SSP.  If this works then it could be DMA related.

[2019-01-22 10:36] dabekjakub commented on #856
@keyonjie Could You check this one with non-smp architecture ?

[2019-01-22 10:47] bardliao commented on #811
@lgirdwood playback on HDA and capture on SSP works. I also tried playback on SSP and capture on DMIC and it didn't work.

[2019-01-22 11:18] lgirdwood commented on #811
@bardliao @zhuyingjiang ok, both DMIC and SSP share the DW-DMA whilst HDA uses a different DMA engine. The issue here seems to be changes in DW-DMA implementation for CML. It may be worth putting in some extra debug to dw-dma.c and see the DMA engine status during the issue.

[2019-01-23 05:27] xiulipan opened #869 "Build result changes from sof-apl.ri to sof_apl.ri"
-rw-rw-r-- 1 pxl pxl 188416 1月  23 13:24 build_apl/sof_apl.ri
-rw-rw-r-- 1 pxl pxl  85880 1月  23 13:24 build_bdw/sof_bdw.ri
-rw-rw-r-- 1 pxl pxl  87056 1月  23 13:23 build_byt/sof_byt.ri
-rw-rw-r-- 1 pxl pxl  87848 1月  23 13:23 build_cht/sof_cht.ri
-rw-rw-r-- 1 pxl pxl 163840 1月  23 13:24 build_cnl/sof_cnl.ri
-rw-rw-r-- 1 pxl pxl  85880 1月  23 13:24 build_hsw/sof_hsw.ri
-rw-rw-r-- 1 pxl pxl 163840

[2019-01-23 09:55] keyonjie commented on #856
@dabekjakub I actually checked this always with UP architeture.

[2019-01-23 10:59] #869 closed

[2019-01-23 12:32] lyakh opened #873 "README has to be updated for Kconfig"
README.md has to be updated to reflect the new Kconfig-based build process.

[2019-01-23 13:37] xiulipan opened #874 "Qemu boot on byt and cht will random fail"
Dig in from https://github.com/thesofproject/sof/pull/860
Test with master HEAD

https://github.com/thesofproject/sof/commit/1f97d44a3b474664263583e6c0b1349afcf24b0c
It seems the agent has timeout of unknown reason.

CHT will 100% panic and BYT will random 10% panic in my local docker run.
[dump-byt-success.txt](https://github.com/thesofproject/sof/files/2787445/dump-byt-success.txt)
[dump-byt-fai

[2019-01-23 14:07] xiulipan commented on #874
@lgirdwood
Tried each shm bridge file and found one with trace
[code]

It seems the work queue timer for the agent on byt and cht is broken.

[2019-01-23 14:42] lgirdwood commented on #874
@xiulipan can you try latest HEAD, CHT working for me, tried 5 times

[2019-01-23 14:48] xiulipan commented on #874
@lgirdwood
I am ussing 1f97d44

A simple workaround would solve the problem.
[code]
But I think the root cause of this bug is that the first agent `static uint64_t validate(void *data, uint64_t delay)` is coming earlier than we expected due to https://github.com/thesofproject/sof/pull/860/files#r250219820
Notice the argument `uint64_t timeout` is never used here. As the queue_calc_next_timeout
[co

[2019-01-23 14:52] xiulipan commented on #874
@lgirdwood
Can not reproduce after update with e5bc088e046862650f77876e60516aac097852b5
curious about why changes dw-dma will change the behavior or work queue.

[2019-01-23 14:56] tlauda commented on #874
@xiulipan @lgirdwood Fixed in #875. My mistake.

[2019-01-23 15:46] lgirdwood commented on #874
@xiulipan wont revert if it's only showing on Qemu only as it's best to wait for confirmation on real HW (as it could be qemu bug). Now merged #875 .

[2019-01-23 15:46] #874 closed

[2019-01-23 16:21] jajanusz commented on #873
also doc/README* should be updated but i don't know which one should be there

@singalsu @lgirdwood
Why there are README-HOST and README.host in doc?

[2019-01-23 16:21] lgirdwood commented on #848
@dabekjakub looks like a mix up with DMA R/W pointers for HDMI

[2019-01-23 16:26] lgirdwood commented on #837
Looks like this is resolved now.

[2019-01-23 16:26] #837 closed

[2019-01-23 16:33] lgirdwood commented on #798
@dabekjakub I think we need this reassigned as @mwierzbix is working on something else atm.

[2019-01-23 16:43] lgirdwood commented on #784
@markyang I wonder if this is IPC related (since the FW has not crashed afaict). Do you have a similar stress test that can be run on same HW that changes a volume control value 10000 times.

[2019-01-23 16:47] lgirdwood commented on #773
@RanderWang ping, any questions ?

[2019-01-23 16:54] lgirdwood commented on #766
@ranj063 @fredoh9 any update, can we close if resolved ?

[2019-01-23 16:54] lgirdwood commented on #747
@juimonen any update ? Can we close ?

[2019-01-23 19:31] lgirdwood commented on #683
@mengdonglin seems like it's been fixed.

[2019-01-23 19:31] #683 closed

[2019-01-23 19:35] lgirdwood commented on #873
@singalsu these two READMEs are exactly the same and can be removed in favor of similar detail in sof-docs.

[2019-01-24 00:50] bardliao commented on #811
Thanks @lgirdwood, #871 solve the issue.

[2019-01-24 05:13] keyonjie commented on #856
I think SMP fails much easier comparing with UP.

[2019-01-24 06:48] juimonen commented on #747
I didn't have this issue with pr842, but can check after rebase.

[2019-01-24 07:15] RanderWang commented on #773
Hi Liam,  sorry for late. I am busy with other issues.
One Question: I find there is no power_down.s on ICL. AS I know, ICL is almost the same as CNL in FW,
so could I copy from CNL and modify it for ICL? Thanks.

[2019-01-24 07:17] keqiaozhang commented on #780
@lgirdwood
I wrote a script for ipc stress test and reproduced this issue after 125 iterations. I tested volume change with an active playback/capture stream at this time. I will test it without the playback or capture stream next.
firmware branch: glk-005-drop-stable
dmesg:
[code]
test script:
[code]
[dmesg.log](https://github.com/thesofproject/sof/files/2790556/dmesg.log)
[logger-t.log](https://

[2019-01-24 08:46] lgirdwood commented on #747
@juimonen ok pls close if all is ok after rebase.

[2019-01-24 09:23] lgirdwood commented on #773
@RanderWang I think so, but @lbetlej will be able to confirm for sure.

[2019-01-24 09:51] lgirdwood commented on #780
@keqiaozhang pls upstream the script when you get time. Please provide the test results with and without the active playback stream. Can you also try this with @keyonjie scheduler PR https://github.com/thesofproject/sof/pull/778 during playback.

[2019-01-24 10:08] dabekjakub commented on #848
@slawblauciak shouldnt xrun have been handled in kernel ?

[2019-01-24 10:13] dabekjakub commented on #798
@lgirdwood assigned @akloniex / myself  however this is low priority - we will add it to docs as soon as someone has free bandwitch

[2019-01-24 10:44] dabekjakub commented on #784
@markyang can it be reproduced on Yorp ?

@wwittbrx please try to reproduce it in our test enviroment

[2019-01-24 10:54] dabekjakub commented on #780
@wwittbrx Please reproduce this in our test enviroment.

[2019-01-24 11:05] lgirdwood commented on #848
@dabekjakub @slawblauciak yes, XRUNs are handled in the kernel by sending STOP, PREPARE and then START to audio drivers and FWs. This test allows user space to inject this condition to test how driver and FW react to STOP, PREPARE and START. It does look in this case that maybe FW is not resetting pointers for the restart correctly.

[2019-01-24 11:07] lgirdwood commented on #798
@dabekjakub thanks, Btw I want to make this mandatory in any FW crash issues to help developers.

[2019-01-24 11:17] lgirdwood commented on #784
@dabekjakub I have a feeling these similar IPC timeout issues we are seeing today are related to scheduling. i.e. the IPC reply is scheduled but not run since we don't see any exception.

[2019-01-24 11:20] dabekjakub commented on #784
@lgirdwood You are probably right and we are waiting for @bkokoszx to finish scheduler changes

[2019-01-24 12:32] lyakh opened #884 "unit testing: create a test for cross-heap buffer allocation"
A new unit test is desired, that would:
1. use rballoc() to allocate buffer memory equal to the size of the first buffer heap minus 1KiB
2. use rballoc() to allocate 2KiB of buffer memory with caps = SOF_MEM_CAPS_RAM

Purpose: test falling back from the first heap to a following one when the former one is exhausted.

[2019-01-24 13:40] lyakh commented on #873
Would be good to add rimage build instructions... I cannot seem to rebuild it...

[2019-01-24 13:46] keqiaozhang commented on #780
@lgirdwood
Without the active playback/capture, test failed at 5407th times.
trace:
[code]
dmesg:
[code]
[dmesg.log](https://github.com/thesofproject/sof/files/2790698/dmesg.log)
[logger-t.log](https://github.com/thesofproject/sof/files/2790700/logger-t.log)
[logger.log](https://github.com/thesofproject/sof/files/2790701/logger.log)

I will test with PR #778 tomorrow.

[2019-01-24 15:15] lgirdwood commented on #873
@jajanusz not clear to me either (even when reading the build all scripts). Any clues ?

[2019-01-24 15:16] lgirdwood commented on #780
@keqiaozhang ok, to clarify with playback stream fails at 125 iterations without failed at 5407 iterations. @wwittbrx looks like scheduling.

[2019-01-24 15:18] lgirdwood commented on #747
Ok, can you use the crash dump tool to dump the crash and attach logs. Also what is the pipeline you are running ?

[2019-01-24 15:30] #773 closed

[2019-01-24 16:48] juimonen commented on #747
Yes I'll figure this out. and yes I'm running src pipeline with dai set to 48 and pcm range 8-192kHz. This is with my PR842...

[2019-01-24 18:28] jajanusz opened #888 "Enable native build on Windows"
We have now CMake that can generate native makefiles for NMake/Ninja for Windows.
However there is still 1 thing that prevents us from building everything we need on Windows - Rimage.

Rimage has dependency on elf headers, so we need some kind of system-independent elf header file in rimage sources.

We can achieve it easily by using this:
https://github.com/google/rekall/blob/master/tools/windows

[2019-01-24 18:37] jajanusz commented on #228
Added in #845

[2019-01-24 18:37] #228 closed

[2019-01-24 18:39] jajanusz commented on #873
@lgirdwood @lyakh
You don't need this. It's built on demand wtih 'make bin', no effort and always up-to-date. Also now it will be valid for debug builds that require build number insterted by rimage (however need to add build number incrementing to cmake script).

[2019-01-24 18:44] jajanusz commented on #873
@lgirdwood @lyakh
Moreover we think about doing it in Python instead of C, to make it more crossplatform and not build it at all.
Also there are some things that need to be done differently like 8 bytes offset for reading modules sections. It works only by accident and can change with different cores. We need to put some time into rewriting rimage (preferably in Python to have crossplatform tool).

[2019-01-24 18:52] plbossart commented on #888
On 1/24/19 12:28 PM, Janusz Jankowski wrote:

IANAL, but SOF relies on 3-clause BSD license terms.

Someone would need to check what 2-clause BSD means.

[2019-01-24 19:31] ranj063 commented on #766
@lgirdwood I dont want to close this issue yet. We have met IPC errors lately in several different situations. This script is the only way to reproduce it consistently. I will work with @fredoh9 to check if the IPC message is intact at the point when the doorbell is sent to the DSP

[2019-01-24 20:25] tlauda opened #889 "Change pipeline copy policy to handle data not aligned to period size"
In order to fully support timer driven pipeline scheduling, the policy for pipeline data copy has to change. Fixed size of copied data is not flexible enough and requires many workarounds and shortcuts across the code base. Required changes:
1. HD-DMA: calculate transferred data size based on buffer size, read pointer and write pointer.
2. DW-DMA: calculate transferred data size based on linked li

[2019-01-24 20:43] ranj063 commented on #662
@mengdonglin closing this as the issue is fixed by building rimage

[2019-01-24 20:43] #662 closed

[2019-01-24 21:25] jajanusz commented on #888
@plbossart
Thanks for the info. IANAL too, but ISC is functionally equal to 2-clause BSD and we already have ISC in Kconfig lib.
Anyway, I guess we should leave it to people that actually are lawyers.
Can some maintainer resolve this issue?

[2019-01-25 02:03] plbossart opened #890 "Up2: 2 concurrent streams: xrun on one stream cause xrun on the other and DSP panic"
To check the independence of concurrent streams, I start two terminals.
On Terminal 1, I run a basic aplay on the Hifiberry output.
On Terminal 2, I run the sof_xrun.sh script, which plays for one second on HDMI then artificially suspends for 1s. This creates an underrun by construction.

What is interesting is that the xrun on Terminal2 create xrun for Terminal 1, and eventually a DSP panic.

Ter

[2019-01-25 02:10] keyonjie commented on #780
@keqiaozhang btw, with the latest repo, you can use '-u' to force UP(non-SMP) building, such as:
./scripts/xtensa-build-all.sh -l -u -j apl

[2019-01-25 02:22] keyonjie commented on #890
good try, can you help try if my PRs #833 and #851 help?

[2019-01-25 07:31] markyang commented on #784
@lgirdwood yes, I got a similar IPC timeout after changing a volume control value about 1000 times.

[2019-01-25 07:40] lyakh commented on #873
This is what I had yesterday:
- I had a tree from before the Kconfig switch,  with built binaries in it.
- I git-updated to the new Kconfig-based tree
- Since I didn't have a README at that time, I ran "cmake -D... ." instead of creating a build directory, as you then described in the README
- I ran "make -j..." and "make bin" but the result wasn't correct
- I checked and I think rimage wasn't up

[2019-01-25 07:43] markyang commented on #784
@dabekjakub sorry, I have no Yorp.

[2019-01-25 08:37] keqiaozhang commented on #780
@keyonjie @lgirdwood
Today I tested this issue with new sof branch sof-glk006-drop-stable, looks like this branch is much stable. w/o playback/capture stream, volume change passed 10000 iterations.
w/ playback/capture stream, volume change have passed 6000+ iterations, test is on going.
I will do more test to confirm it.
@markyang  will help to test PR #778 first on UP2 board.

[2019-01-25 10:24] lgirdwood commented on #228
Good job @jajanusz !

[2019-01-25 10:31] lgirdwood commented on #766
@ranj063 ok, fwiw the recent IPC timeout stress test failures could be related to scheduling. e.g. IPC handler is being scheduled, but not being run. I agree, pls do check message intactness through out the IPC flow.  The script can also be upstreamed when you have time.

[2019-01-25 10:33] lgirdwood commented on #889
@tlauda do you need any flags from topology here to define enable this capability in a pipeline ? @mengdonglin fyi.

[2019-01-25 10:39] lgirdwood commented on #888
BSD 2 clause is the same as BSD 3 clause minus the following condition.
[code]
From https://en.wikipedia.org/wiki/BSD_licenses

[2019-01-25 12:46] jajanusz commented on #873
It couldn't use system-wide rimage, because it uses specific path to just-built rimage in build dir. More likely you had some leftover from previous buildsystem (like for example config.h in src/include instead of <builddir>/generated/include), what caused wrong build of something.

[2019-01-25 15:44] lbetlej commented on #773
@RanderWang @lgirdwood - correct the power_down.s from CNL can be used for ICL . Note that I've just a bit cleaned up the file see PR#894 in case you want to copy it.

[2019-01-25 15:52] lgirdwood commented on #780
@keqiaozhang  thanks, good info. The differences between master and glk6 are
[code]
Do you get the same results as master ?

[2019-01-25 15:59] lbetlej commented on #773
@RanderWang  @lgirdwood - BTW> the driver shall make sure that is not accessing memory window (only IPC registers) during pm_ctx_save handling.

[2019-01-25 16:20] lgirdwood commented on #773
@ranj063 fyi, we cannot read mailbox after receiving PD IPC reply

[2019-01-25 17:03] plbossart commented on #780
On 1/25/19 9:52 AM, Liam Girdwood wrote:

I don't quite get the diffs (redid them on my side), this telling me
there are no outstanding patches on glk6 that aren't in master, and I
don't quite see anything that looks related to IPC on Up2? Wondering
what makes glk6 work better or if we are comparing the right things
(same SMP configuration, etc)?

[2019-01-25 20:19] lgirdwood opened #896 "cmake: conform to naming policy for object files .o instead of .obj"
Use .o for objects as most opensource developers expect this.

[2019-01-26 04:21] wenqingfu commented on #780
@keqiaozhang , I don't see you clearly responded Keyon's ask for non-SMP test results. The test results on 005 branch (the "bad" one) of non-SMP (with -u) and SMP (without -u) can provide important reference for developers on the two hot topics we're chasing, SMP and IPC timeout in simultaneous pipelines. previous issues like [this one](https://github.com/thesofproject/sof/issues/766#issuecomment-

[2019-01-26 15:08] jajanusz opened #898 "Port tools/ buildsystem to cmake"
FW buildsystem was ported to cmake. I think now it's time to do it for tools also - so we will have only cmake in repo.

[2019-01-26 15:09] jajanusz commented on #873
@lyakh Can I close it?

[2019-01-28 06:06] keqiaozhang commented on #780
@wenqingfu @lgirdwood
Update the current status:
1. glk005 branch + smp: can reproduce this issue.
2. glk005 branch + up: not tested yet, will check it soon.
3. glk006 branch + smp: not tested yet, will check it soon.
4. glk006 branch + up: cannot reproduce this issue.
5. glk006 branch + up + PR #778:  this PR is not good, hdmi playback will cause firmware oops, I have added comment in PR #778.  n

[2019-01-28 06:17] keyonjie commented on #780
Hi @keqiaozhang, if we can't reproduce it with "master + up", then we don't need #778.

[2019-01-28 07:17] #873 closed

[2019-01-28 08:32] michalgrodzicki commented on #531
@plbossart please verify and/or close it.

[2019-01-28 08:56] keqiaozhang opened #901 "firmware panic when running aplay on hw:0,5 but without hdmi displayer connection"
Without the HDMI connection, run aplay on HDMI will cause firmware panic, but what's interesting is that after this issue happened, both speaker and headset still can work.
How to reproduce:
1. without HDMI/DP displayer connection or set Pin5-Port* Mux to none
2. run aplay on hdmi
aplay -Dhw:0,5 -f dat -c 2 /dev/zero

sof-branch: glk-006-drop-stable
kernel:cros-sof-v4.14-rebase

dmesg:
[code]
[dme

[2019-01-28 09:01] keqiaozhang commented on #780
Updated:
glk005 branch + smp: can reproduce this issue.
glk005 branch + up: test is on going.
glk006 branch + smp: can reproduce this issueafter 895 iterations.
glk006 branch + up: cannot reproduce this issue.

[2019-01-28 09:48] xiulipan commented on #901
@keqiaozhang @plbossart
This seems to be the same issue I meet when debuging https://github.com/thesofproject/linux/issues/532

[2019-01-28 10:16] markyang commented on #784
**Summary:**
w/ playback stream, volume change passed 10000 iterations

**Test steps:**
1. aplay -Dhw:0,0 -c2 -fS16_LE -vv -i music.wav  # Terminal 1
2. ./vol-change-10000.sh   # Terminal 2

**Test env:**
sof master: 1f5a9657
kernel sof-dev: 7b67e0bb
tplg: sof-apl-pcm512x.tplg

[2019-01-28 10:24] keyonjie opened #902 "Can't recover from FW initiated Xrun"
Today's FW can't recover from FW initiated Xrun, that means, once underrun/overrun happens on component copy, the FW will dead and will not response to any IPC from host.

We can easily expose this issue with test code pasted here:
https://github.com/keyonjie/sof/commit/6ffaa8936869fde5653d452da5e69889b7d64e21

dmesg error:
[code]

sof-logger dma trace:
[code]

[2019-01-28 10:47] lgirdwood commented on #901
@dabekjakub  The interesting thing is that this exception location crops up a lot with HDMI related issues (EXCVADDR 0x000027c0 is very near HDA IP addresses). HDA driver has an array that may be incorrectly indexed when this happens ?

[2019-01-28 14:12] dabekjakub commented on #901
@lgirdwood
There is no exception data in fs again so our automated scripts stopped working :D Will have to decipher it.

In my testing i also saw ipc timeout before the panic.

[2019-01-28 14:33] mengdonglin commented on #788
This seems to be a duplicate of the generic issue https://github.com/thesofproject/linux/issues/489 on multiple platforms.

[2019-01-28 15:55] dabekjakub commented on #901
You are probably right - this is the place that relates to the exception adress provided , i am looking into it.

[code]

[2019-01-28 16:31] plbossart commented on #531
On 1/28/19 2:32 AM, michalgrodzicki wrote:

Sorry, I've asked CI to support Coverity for a while now, and I am not
going to keep doing this verification if it can be automated.

[2019-01-28 21:16] michalgrodzicki commented on #531
@plbossart - who promissed you add Coverity to the CI?
I'm askingbecause this person should be owner of the issue

[2019-01-29 00:57] wenqingfu commented on #784
@markyang , can you please help to test with non-SMP configuration as @keqiaozhang did at [issue 780](https://github.com/thesofproject/sof/issues/780#issuecomment-458046254). I feel they are very likely to be the same. Thank you in advance for the testing!

[2019-01-29 01:06] keqiaozhang commented on #780
@lgirdwood @wenqingfu
Update the test result:
glk005 branch + smp: can reproduce this issue.
glk005 branch + up: cannot reproduce this issue.
glk006 branch + smp: can reproduce this issue after 895 iterations.
glk006 branch + up: cannot reproduce this issue.

looks like this issue is related to 'smp', will do more tests to prove it.

[2019-01-29 07:40] lyakh commented on #859
@lgirdwood any progress with this?

[2019-01-29 08:37] markyang commented on #784
@wenqingfu  w/ playback stream, volume change passed 10000 iterations with the latest non-SMP firmware built by `./scripts/xtensa-build-all.sh -l -u -j apl`.

**Test steps:**
[code]

**Test env:**
sof master: f9e5bba3
kernel sof-dev: 7b67e0bb
tplg: sof-apl-pcm512x.tplg

**Scripts**
[volume-change-loop.sh.txt](https://github.com/thesofproject/sof/files/2806705/volume-change-loop.sh.txt)

[2019-01-29 09:06] markyang commented on #780
**Summary:**
    w/ playback stream, volume change passed 10000 iterations with the latest non-SMP firmware built by `./scripts/xtensa-build-all.sh -l -u -j apl`.

**Test steps:**
[code]

**Test env:**
sof master: f9e5bba3
kernel sof-dev: 7b67e0bb
tplg: sof-apl-pcm512x.tplg

**Scripts**
[volume-change-loop.sh.txt](https://github.com/thesofproject/sof/files/2806705/volume-change-loop.sh.txt)

[2019-01-29 09:53] #700 closed

[2019-01-29 09:58] jajanusz commented on #811
@bardliao @zhuyingjiang
Can we close it?

[2019-01-29 10:01] markyang commented on #784
**Summary:**
this issue can also be reproduced after 18 iterations on APL with PCM512x, with the latest non-SMP firmware built by `./scripts/xtensa-build-all.sh -l -u -j apl.`

**dmesg:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: f9e5bba3
kernel sof-dev: 7b67e0bb
tplg: sof-apl-pcm512x.tplg

**Log:**
[dmesg-aplay-loop-fail.txt](https://github.com/thesofproject/sof/files/2807080/dmes

[2019-01-29 10:07] bardliao commented on #811
@jajanusz Yes. Thanks.

[2019-01-29 10:07] #811 closed

[2019-01-29 10:15] keqiaozhang commented on #780
@lgirdwood @wenqingfu
non-smp is more stable, I only met failure once in the past 24 hours of testing.

[2019-01-29 12:16] slawblauciak commented on #856
@keyonjie how did you verify that the buffer has been in fact fully preloaded if the register values don't indicate it?

[2019-01-29 17:22] mmaka1 commented on #901
@lgirdwood, @dabekjakub

Yes, looks like a gap between the link input and the host output blocks. Could be either wrong index of a link dma or a negative (-2) channel index of the host output because another interesting thing is that channel arg is of 'int' type in a couple of places while tested only against upper bound (channel >= HDA_DMA_MAX_CHANS) in the internal hda dma routines. Could be con

[2019-01-30 00:55] keqiaozhang commented on #800
I cannot reproduce this issue any more.
@naveen-manohar
Please help to close this issue if you are satisfied with it. Thanks!

[2019-01-30 04:07] naveen-manohar commented on #800
Thanks a Ton, fix has been validated & we can close this bug

[2019-01-30 04:07] #800 closed

[2019-01-30 07:02] DarrenxWang opened #913 "CML only support 48K: when play 44.1K music, it be converted to 48K"
Summary:
CML only support 48K: when play 44.1K music, it be converted to 48K

Test steps:
Play 44.1k music, eg.
`
whl@whl-dev:~$ aplay -Dhw:0,0 -c2 -r44100 -fs16_le  Music/Titanium_20.wav
Playing WAVE 'Music/Titanium_20.wav' : Signed 16 bit Little Endian, Rate 44100 Hz, Stereo
Warning: rate is not accurate (requested = 44100Hz, got = 48000Hz)
         please, try the plug plugin
`

Test env:
sof c

[2019-01-30 09:33] lgirdwood commented on #913
@DarrenxWang this is expected behavior as there is no SRC in any of the pipelines in this topology. If this is a requirement then a new enhancement should be created.

[2019-01-30 09:33] #913 closed

[2019-01-30 09:57] markyang commented on #784
**Summary:**
This issue can also be reproduced on APL with PCM512x using the latest daily build.

**Test steps:**
[code]

**vi aplay-loop.sh:**
[code]

**Test env:**
sof master: 365b132e
kernel sof-dev: 7b67e0bb
tplg: sof-apl-pcm512x.tplg

[2019-01-30 10:17] lgirdwood commented on #784
@markyang ok, just to confirm failure increases with delay between aplay ? I would expected the opposite.

[2019-01-30 10:19] lyakh opened #916 "testbench broken"
Commit https://github.com/thesofproject/sof/commit/f15512e920889238d2940f2b3be6b932705bceb2#diff-d52adf685085b31685bcc42be6141593 broke testbench by creating private copies of variables in different C-files, including the common_test.h header and switching over functions in topology.c to using those variables without removing function parameters, that thus have been made redundant.

[2019-01-30 15:39] plbossart opened #919 "Directories for firmware releases?"
This is a joint Linux/firmware issue but filing as SOF issue to get feedback from the firmware team.

The current solution for Linux is to have all the binary .ri files in /lib/firmware/intel. This is fine for development and a limited set of products. There will be a point where we will have SOF releases, and multiple binaries provided for all platforms supported.

In Linux firmware circles, new

[2019-01-30 20:05] lgirdwood commented on #919
I'm fine for /lib/firmware/sof with symlinks for versioning binaries.

[2019-01-30 20:12] plbossart commented on #919
That's an interesting one. My initial idea was to have
/lib/firmware/intel/sof, and each contributor company/entity generates
their own binaries.

If we have a single /lib/firmware/sof, there would be a need to
coordinate binary generation across multiple companies. Not necessarily
simple

And there might be some parts that aren't shared so that even on the
same hardware you could have different b

[2019-01-30 20:45] dbaluta commented on #919
I'm in favor of /lib/firmware/<company/product>/sof. At NXP we use /lib/firmware/imx/dsp

[2019-01-31 03:25] plbossart opened #924 "topology: DAI_CONFIG isn't aligned across BYT/CHT files"
sof-byt-nocodec.m4: DAI_CONFIG(SSP, 2, 2, NoCodec-2,
sof-byt-rt5645.m4: DAI_CONFIG(SSP, 2, 0, SSP2-Codec,
sof-byt-rt5651.m4: DAI_CONFIG(SSP, 2, 0, SSP2-Codec,
sof-cht-nocodec.m4: DAI_CONFIG(SSP, 2, 0, NoCodec-2,
sof-cht-max98090.m4: DAI_CONFIG(SSP, 2, 0, SSP2-Codec,

This really needs to be revisited, it's obvious some files are not maintained.
@ranj063 can you take a look?

[2019-01-31 05:41] markyang commented on #784
@lgirdwood  According to the following test results, it seems has nothing to do with  the delay between aplays:

**Test steps:**
[code]

[2019-01-31 11:00] michalgrodzicki commented on #531
Hi @xiulipan, did you have a chance to check issue by the Coverity scan?

[2019-01-31 15:45] singalsu commented on #916
OK, thanks for reporting this!

[2019-01-31 16:59] dabekjakub commented on #901
fixed in prs #903 and #930

[2019-01-31 19:04] juimonen commented on #901
@dabekjakub, yeah the confusion was that i didn't know i was partly fixing this issue, I was fixing it along the way when doing some other pr :)

[2019-01-31 19:09] juimonen commented on #901
@dabekjakub I think issue https://github.com/thesofproject/sof/issues/747 is also fixed with these same prs. It used to oops with wrong params and invalid dma channel. With these prs it should return proper error from SRC.

[2019-01-31 20:35] lgirdwood commented on #784
@markyang @wwittbrx delays above 4 seconds will cause the driver/DSP to enter D3, so this errors > 4 seconds are probably kernel bug, but delay < 4 seconds are FW related. @wwittbrx any update at your end ?

[2019-02-01 11:37] lgirdwood opened #936 "remove conditional compilation from host.c and dai.c"
We currently have conditional compilation for DW_DMA and HDA DMA in host.c and dai.c. This should now be removed and new DMA driver ops added to push the DMA driver specific logic back into the DMA drivers (and not higher level users like host and dai).

@michalgrodzicki I've assigned to you so it's on your radar for later on. @mmaka1 fyi.

[2019-02-01 13:40] singalsu commented on #747
@juimonen @keqiaozhang I just tested that playback of all support high rates 64, 88.2, 96, 176.4, and 192 kHz works now. The high rates needs xt-xcc compiled firmware. Thanks Jaska for fixing this!

[2019-02-01 13:40] #747 closed

[2019-02-01 13:42] singalsu commented on #797
This can be closed since the PR for this feature is now merged.

[2019-02-01 13:42] #797 closed

[2019-02-01 15:20] lgirdwood opened #945 "tools/coredumper: crashes with NameError: name 'fg' is not defined"
Only tested on ubuntu 18.04 / 18.10

[code]

[2019-02-01 15:57] lgirdwood commented on #747
@singalsu we need to add some compile logic that detects compiler type and makes SRC reject at runtime rates that are too high for GCC.

[2019-02-01 15:59] juimonen commented on #747
@lgirdwood I think the logic is there. after the host dma channel oops was fixed I can see with my gcc compiled fw that src is rejecting rates it can't do...

[2019-02-01 23:06] #901 closed

[2019-02-02 16:06] lgirdwood commented on #924
@ranj063 can we close ?

[2019-02-02 16:16] lgirdwood commented on #384
@dbaluta this driver is being updated by @lyakh now, it will support trace calls and also trace_point calls for early boot. Lets make sure this UART and i.MX UART use the same client API.

[2019-02-02 19:36] ranj063 commented on #924
@lgirdwood yes. @plbossart can you please confirm?

[2019-02-03 02:29] #888 closed, assigned to jajanusz

[2019-02-04 12:50] lgirdwood opened #954 "cmake: create rule to build distribution (aka make dist)"
Add some cmake rules so we can build a source tarball like autotools "make dist" would do.

[2019-02-04 12:52] #924 closed

[2019-02-04 23:40] ranj063 opened #960 "Add parameter checker for tplg macros"
m4 doesnt care about the number of parameters passed when calling the macros. It just ignores the ones that havent been passed.
Add a parameter checker to check if the mandatory parameters have been passed.

[2019-02-05 13:54] singalsu commented on #535
This issue was fixed by PR #582.

[2019-02-05 13:54] #535 closed

[2019-02-05 13:54] singalsu commented on #532
This issues was fixed by PR #582.

[2019-02-05 13:54] #532 closed

[2019-02-05 16:56] plbossart commented on #919
No one from the firmware team chimed in so I guess there is no objection. I will file a patch this week to the alsa-devel mailing list.

[2019-02-05 16:56] #919 closed

[2019-02-05 20:44] jajanusz commented on #954
Implemented in #961

[2019-02-05 20:44] #954 closed

[2019-02-05 20:44] jajanusz commented on #898
WIP #951

[2019-02-06 17:04] singalsu opened #971 "Add to DMIC kconfig for smaller RAM usage"
E.g. DMIC_FIR_LOW_MEMORY could be defined in kconfig to include only support for 48 kHz and 16 kHz sample rates. Currently the driver with several FIR decimation coefficients sets allows setup for several FIFO A and B rates combinations between 8 - 96 kHz.

[2019-02-06 20:14] jajanusz commented on #896
Added in #966

[2019-02-06 20:14] #896 closed

[2019-02-07 11:10] jajanusz opened #977 "Deduplicate contents of platform headers"
There are a lot of common defines for cavs platforms that are duplicated in apollolake, cannonlake, icelake, suecreek.
I think it's better to move common parts to `cavs/something.h` and in `platform/something.h` just use`#include <cavs/something.h>`.

Or looking at it in different way: we should separate what is platform setting and what is cavs/ip setting, and have just platform setting include c

[2019-02-07 11:12] jajanusz commented on #977
@mmaka1 @lgirdwood
Please comment

[2019-02-07 13:04] singalsu opened #980 "IIR EQ support variable processing sizes"
Need to update the component with similar capability as volume with PR #978.

[2019-02-07 13:05] singalsu opened #981 "FIR EQ support variable processing sizes"
Need to update the component with similar capability as volume with PR #978.

[2019-02-07 13:06] singalsu opened #982 "Tone generator support for variable processing sizes"
Need to update the component with similar capability as volume with PR #978.

[2019-02-07 21:16] lgirdwood commented on #977
Common files can be de-duplicated, but files with significant differences should remain in platform/ otherwise it get's too messy.

[2019-02-08 03:12] ranj063 opened #984 "CTX_SAVE ipc failure during runtime suspend"
The CTX_SAVE ipc seems to fail always before the system enters runtime suspend:
kernel: https://github.com/ranj063/linux/tree/cros-sof-v4.19-ww05
fw: master ebf4f4b6bffe40fcc2c2bb22119492cf1758070a
topology: sof-cml-rt5682 (with PR https://github.com/thesofproject/sof/pull/976)

Will post sof-logger trace soon.

dmesg logs:
[   41.384293] sof-audio-pci 0000:00:1f.3: ipc rx done: 0x90020000

[   42

[2019-02-08 09:49] lgirdwood commented on #984
@lbetlej fyi, I assume this is calling the PM IPC reply assembly code ?

[2019-02-12 20:52] jajanusz opened #998 "Disassembly of rimage output"
In tools/README there is something like:
[code]

This option is no longer in rimage - why?
Should we get this feature back, or maybe it's not needed?

I tried to disassembly like:
[code]
It looks okish, but I'm not sure it's 100% correct, rimage inserts manifest in the middle of file and it can make disassembler fail/produce wrong output in some parts of code, or am I wrong?

If reversing manifest

[2019-02-13 10:25] michalgrodzicki commented on #766
@ranj063 I'll asign this issue to you.

[2019-02-13 10:27] michalgrodzicki commented on #788
@mengdonglin - if it's a duplicate who should be owner of this issue? @RanderWang ?

[2019-02-13 11:43] lgirdwood commented on #998
@jajanusz it's no longer needed and can be removed.

[2019-02-13 13:46] lbetlej commented on #984
@ranj063 the fw: master [ebf4f4b] includes PR#962 (@akloniex) and was verified by @emilchudzik , could you confirm that driver is not accessing memory window on CTX_SAVE reply ?

[2019-02-13 19:20] lgirdwood commented on #984
@ranj063 it's probably worth addig a BUG() macro in platform ops for  mailbox read/write() if DSP is in D3. This way we catch out any abusers.

[2019-02-13 21:12] ranj063 commented on #984
@lbetlej @lgirdwood yes we are accessing the CTX_SAVE reply indeed. @bardliao will be covering for me for the CML release. Bard, could you please take a look at this?

[2019-02-14 21:50] ranj063 opened #1010 "Merge CML and WHL with RT5682 topologies"
the only difference is the SSP port num. Add a macro to differenciate which platform the tplg is being built for and choose the port accordingly.

[2019-02-15 06:35] bardliao opened #1011 "[CML] suspend fails at the second time"
suspend_stress_test will fail at 2nd iteration.
kernel: topic/cros-sof-v4.19 branch  [8492020](https://github.com/thesofproject/linux/commit/8492020d596763defb4b627caa0c32d3347fc374)
fw: master https://github.com/thesofproject/sof/commit/84834803817632a0eed86fc1402cae83597e0c16
topology: sof-cml-rt5682 (with PR #976)
Platform: CML Chromebook

In fact, there are some error at the 1st resume:
[code]

[2019-02-15 06:53] bardliao commented on #1010
I have an idea. Currently, sof_rt5682.c supports one SSP port only. So it is not necessary to identify which ssp port is used on the dai link name. So we can use the same topology for different platforms. ie. we can call it SSP-Codec in both SSP0 and SSP1 port.

[2019-02-15 08:46] RanderWang opened #1012 "DMA Trace doesn't work on Broadwell"
I could get error log by memory window, but I can't get DMA trace log by sof-logger.
It is caused by change in scheduler: https://github.com/thesofproject/sof/commit/119273d6ef39bb54a59fd346e027cb8f976c62b3#diff-cf4b3fa43d4f67625aada25cae3275db

[2019-02-15 08:57] RanderWang opened #1013 "Playback and Capture noise on BDW"
There is no such issue on BYT which is also an old architecture.

[2019-02-15 11:35] singalsu commented on #971
This is implemented in PR #986 that has been now merged. This can be closed!

[2019-02-15 11:35] #971 closed

[2019-02-15 15:36] plbossart commented on #1010
On 2/15/19 12:53 AM, Bard Liao wrote:

It might work but you also need to change the cpu_dai_name, the
following code will not be enough

if (is_legacy_cpu) {
         links[id].cpu_dai_name = devm_kasprintf(dev, GFP_KERNEL,
                             "ssp%d-port", ssp_port);
     } else {
         links[id].cpu_dai_name = devm_kasprintf(dev, GFP_KERNEL,
                             "SSP%d Pin",

[2019-02-15 19:48] ranj063 commented on #1010
@bardliao this will work only when there's one SSP port in use. What happens if there are more than one?
and the ports are switched?

[2019-02-15 21:42] ranj063 commented on #1010
@bardliao thinking more about it. this will only fix the cpu dai name issue. WHat about the SSP index required in the dai_config. We'd still need to specify that?

[2019-02-15 21:45] ranj063 commented on #984
@lgirdwood @lbetlej out of curiosity. Whats different in the D3 flow in CNL that causes in problem? I ask because we dont seem to have this problem on GLK

[2019-02-18 03:32] bardliao commented on #1010
@plbossart

No, we can't change the cpu_dai_name, which should be the same as the name defined in the platform driver.

@ranj063 Yes, I assume there is only one SSP port used. The idea is to provide a simple and general use of machine driver and topology. We will still need different topology if there is more than one SSP port are used since we can't register two dai link with the same name.

I wa

[2019-02-18 05:07] keyonjie commented on #856
@slawblauciak I dumped the contents of those buffers to verify them.

[2019-02-18 08:27] slawblauciak commented on #848
The firmware is not capable of resetting the pointers. It should be handled by alsa/driver.
https://github.com/thesofproject/linux/issues/660

[2019-02-18 08:28] slawblauciak commented on #710
FW xrun recovery will be disabled once driver fully handles the situation
https://github.com/thesofproject/linux/issues/660

[2019-02-18 08:29] RanderWang commented on #1013
@ranj063  thanks!

[2019-02-18 10:31] mengdonglin commented on #1011
@xun2z please help to reproduce this issue.

[2019-02-18 12:59] emilchudzik opened #1019 "[WHL] Entering suspend cause reboot platform"
This command cause reboot instead od suspend/resume:
`sudo rtcwake -m mem -s 2`

Platform configuration:
WHL RVP
OS: Ubuntu 18.04.2
kernel: topic/sof-dev: branch [69a41dab](https://github.com/thesofproject/linux/commit/69a41dab)
FW: 2a86314
topology: sof-cnl-nocodec.tplg

above command works for kernel branch: sof-dev/7b67e0bb

[2019-02-18 13:02] emilchudzik commented on #1011
Hi,
I try to reproduce issue on WHL + I2S, but I have issue with entering suspend: https://github.com/thesofproject/sof/issues/1019

In spite of that FW and tplg loaded properly, aplay works.
kernel: topic/sof-dev: branch 69a41dab
FW: 2a86314
topology: sof-cnl-nocodec.tplg

On this kernel on dmesg there is no msg from CTX_SAVE/CTX_RESTORE. Is it excpected?

[2019-02-18 14:46] lyakh opened #1020 "platform_interrupt_{un,}mask() argument meaning"
The second argument of platform_interrupt_{un,}mask() functions is "mask." It is ignored on cAVS and HSW, it's only used on BYT. There it is used as:
[code]
where BIT is a constant shift, depending on the irq. In some locations these functions are called with mask=1, which makes sense - a bit is cleared or set in a register. But in many cases both those functions are called with mask=0. Isn't that

[2019-02-19 00:17] bardliao commented on #1011
@emilchudzik

You will see something like "ipc tx: 0x40010000: GLB_PM_MSG: CTX_SAVE" if CONFIG_SND_SOC_SOF_DEBUG_VERBOSE_IPC is set in kernel config.
You can set it from make menuconfig
[code]

[2019-02-19 06:08] xun2z commented on #1011
[code]

Test env:
sof cml-001-drop-stable: 1f5a965711
kernel topic/cros-sof-v4.19: f69d61898a
tplg: sof-cml-rt5682.tplg

Though ctx_save error occurs, whl will not be blocked.

[dmesg.log](https://github.com/thesofproject/sof/files/2878538/dmesg.log)

[2019-02-19 08:57] RanderWang commented on #1020
@lyakh  I only found mask = 0 in irq_disable_child which is not for BYT.
On BYT, HSW, BDW, there are only root IRQs or parent IRQs, no child IRQs.

[2019-02-19 10:27] lyakh commented on #1020
@RanderWang hm, looks like you're right, all those cases are either for cAVS-specific drivers, or for SMP, or for child interrupts, e.i. none of them is relevant to BYT. But in any case, the only valid value for mask, where it is indeed used (on BYT), is 1, so, it's a constant, i.e. it isn't needed as a parameter. I'll prepare a patch to remove that parameter. Thanks. Then I'll also reference and

[2019-02-19 11:19] emilchudzik commented on #1019
Moved to linux repo

[2019-02-19 11:19] #1019 closed

[2019-02-19 11:19] emilchudzik commented on #1019
Moved to linux repo

[2019-02-19 12:35] emilchudzik commented on #1011
I have  this option enabled.

[2019-02-19 14:06] lyakh commented on #859
@lgirdwood I've just pushed a WiP patch-set to https://github.com/thesofproject/sof/compare/master...lyakh:irq-wip - it's on top of the header-moving patch-set, which has to be improved too, so, this is only an RFC. Would be good if people could have a look at this to get some early comments whether the direction is reasonable.

[2019-02-19 14:41] emilchudzik commented on #1011
Due to reboot issue [#662](https://github.com/thesofproject/linux/issues/662) on WHL RVP+I2S instead of suspend I use another WHL to find a repro.

On WHL RVP + HDA reworks I can playback on HDA (codec ALC700) and enter suspend/resume in loop. It works fine on each iteration.

kernel: cros-sof-v4.19 / [8492020d5967](https://github.com/thesofproject/linux/commit/8492020d5967)
FW: cml-002-drop-stabl

[2019-02-19 15:39] #1013 closed

[2019-02-19 16:08] plbossart commented on #1010
On 2/17/19 9:32 PM, Bard Liao wrote:

It needs to be "ssp0-port", "ssp1-port", or "SSP0 Pin", which means the
port has to be found with a quirk. You are already doing that but it'd
need to be expanded so that you use SSP5 on Up2.

[2019-02-19 16:29] lyakh opened #1024 "FW panic on Up^2"
Am I the only one seeing
[code]
on Up^2 with the current master? Have I missed any build update?

[2019-02-19 16:34] lyakh commented on #1024
Indeed, ran `cmake && make defconfig && make bin` and it's running again... I'll close this but it's strange.

[2019-02-19 16:34] #1024 closed

[2019-02-20 02:48] bardliao commented on #1010
@plbossart Oh we may talk about different things :) I am not going to remove the quirk of ssp port. My idea is to set dai link name without port information but still keep it in the cpu_dai_name.
[code]

[2019-02-20 06:45] bardliao commented on #1011
error: ipc error for 0x40010000 size 0xc

@emilchudzik Please see #984 And it can be fixed by https://github.com/thesofproject/linux/pull/651

[2019-02-20 09:28] zhuyingjiang commented on #670
Close, this is move to #954, and solved in #951

[2019-02-20 09:28] #670 closed

[2019-02-20 14:50] emilchudzik commented on #1011
I have made check with patch thesofproject/linux#651. And playback and suspend works fine in loop. There is no error message with it.

kernel: cros-sof-v4.19 / [8492020d5967](https://github.com/thesofproject/linux/commit/8492020d5967)
FW: cml-002-drop-stable / [dcd825b](https://github.com/thesofproject/sof/commit/dcd825b923a680f63adde1b392638a14463ead63)
tplg for hda: sof-hda-generic.tplg

[code]

[2019-02-20 15:09] plbossart commented on #1011
@emilchudzik can you please make sure that if you select the nocodec mode the HDAudio options are removed. There is a known issue, see https://github.com/thesofproject/linux/issues/512

[2019-02-21 07:48] emilchudzik commented on #1011
@plbossart I have the same as in the linux#512.
Status is always "active" from:
`# cat /sys/devices/pci0000\:00/0000\:00\:1f.3/power/runtime_status`
on WHL with HDA support and with nocodec mode enabled:

[code]

[2019-02-21 15:48] singalsu commented on #916
I just created PR #1033 to address this.

[2019-02-21 15:54] plbossart commented on #1011
@emilchudzik can you unset CONFIG_SND_SOC_SOF_HDA_LINK and CONFIG_SND_SOC_SOF_HDA_AUDIO_CODEC from your configuration and rerun the test?

[2019-02-21 17:22] #1012 closed

[2019-02-22 07:26] dbaluta commented on #629
One question: so the clock handling is done on the host side and DSP sends request for various operations on the clocks, right?

[2019-02-22 15:07] plbossart commented on #629
On 2/22/19 1:26 AM, Daniel Baluta wrote:

No, it's the other way around.

The machine driver may request the I2S/MCLK clocks to be turned-on
(either at boot e.g. for an automotive platform) or on-demand with DAPM
events (e.g. for mobile devices). the machine driver uses the clk API to
make that request, and the clk is actually exposed by the SOF driver
which in turn tells the firmware to activate

[2019-02-22 17:36] plbossart opened #1039 "Kernel QA scripts are broken"
sof/tools/test/qa/run_test.sh has obviously not been run in a long time:

FIRMWARE_PATH="/lib/firmware/intel"

The new default is /lib/firmware/intel/sof for firmware and /lib/firmware/intel/sof-tplg for topology files.

[2019-02-22 18:36] dbaluta commented on #629
@plbossart  Thanks I understand! On i.MX clock handling would be really fun to implement :). That's because the clock handling is taken care by a separate firmware (running on an M4) and now is handled from the Linux side. So for this reason I've asked about the direction.

[2019-02-23 20:38] dbaluta opened #1040 "DMA usage explanations"
Hi  @lgirdwood @keyonjie ,

I hope this is the right place to ask some questions about DMA as I am a little bit confused on how things are working  now in SOF FW and how should I implement the specific components for i.MX.

1. In src/audio/host.c there is this define CONFIG_DMA_GW. What is this exactly used for?

As far as I could understand there are two types of DMA controllers supported DW-DMA

[2019-02-25 04:28] mengdonglin commented on #788
@dabekjakub @michalgrodzicki   I think @ranj063 has between working on this before her vacation. And this is a duplicate of [thesofproject/linux#489](https://github.com/thesofproject/linux/issues/489)

[2019-02-25 06:28] mengdonglin commented on #984
Kernel PR https://github.com/thesofproject/linux/pull/651/ is to fix this issue.

[2019-02-25 07:30] keqiaozhang opened #1043 "sof-logger causes machine to hang on reboot if still open"
There appears to be a bug in the sof-logger on the glk-005-drop/master branch where the sof-logger will causes a system to hang if it is still open when reboot is called.

Reproduce steps:
1. open ssh and open sof-logger:
    sof-logger -l sof-apl.ldc -t
2. open second ssh and call reboot
    sudo reboot
3. watch chromebook hang

[2019-02-25 08:10] keqiaozhang commented on #1043
@Jiangxinx , please help to check this issue on UP^2 board.

[2019-02-25 08:17] Jiangxinx commented on #1043
This issue can also be reproduced on UP2 with PCM512x.

**Test env:**
sof master: 4d715e06
kernel sof-dev: ee19d24e
tplg: sof-apl-pcm512x.tplg

[2019-02-25 08:47] mengdonglin commented on #1043
Will check from Linux side at first.

[2019-02-25 09:01] tlauda commented on #1040
@dbaluta
1. CONFIG_DMA_GW means HD-DMA.
2. It takes position from DAI component, so it doesn't really matter. Anyway, it will only send the position after transferring specific number of bytes passed from kernel (host_period_bytes).
3. Yes.
5. Host component should be generic layer and should not care about your specific HW. Currently it's not 100% the case and that's why we can see defines and ot

[2019-02-25 11:53] lgirdwood commented on #859
@lyakh please send RFC as a PR otherwise it may not be seen.

[2019-02-25 12:31] emilchudzik commented on #1011
After unset this two options runtime suspend return "suspended" for a while after end playback:

[code]

[2019-02-25 12:47] emilchudzik commented on #984
Agree. Verified on:
Platform: WHL RVP
kernel: cros-sof-v4.19 / [8492020d5967](https://github.com/thesofproject/linux/commit/8492020d5967) + PR#651 applied
FW: cml-002-drop-stable / [dcd825b](https://github.com/thesofproject/sof/commit/dcd825b923a680f63adde1b392638a14463ead63)
tplg for hda: sof-hda-generic.tplg

[2019-02-25 14:06] lgirdwood commented on #848
@slawblauciak the FW must be able to at least STOP a stream if it detects unrecoverable XRUNs and notify the host. That way the we minimise noise and allow the host to recover. This also allows pipeline developers to debug their code.

[2019-02-25 15:07] dbaluta opened #1046 "Compilation error when TRACEE = 0"
With the following change:

[code]

compilation fails on baytrail for example:

[code]

I have tried fixing it by adding an empty definition for _trace_error_with_ids but I get other errors instead.

If anyone care to have a look, otherwise I will look when have some time.

[2019-02-25 16:42] lgirdwood commented on #1040
@dbaluta as @tlauda says host.c is meant to be generic to any host DMA engine, but we do have some ifdefs that need to be removed. So your i.MX DMA wont need a full FW driver (I assume there is a host driver), but there should be a mechanism for the FW to get the DMA position from i.MX host.

[2019-02-25 16:46] lgirdwood commented on #629
@dbaluta looks like your i.MX SOF driver will need to program M4 ? There are PCM callbacks in the SOF HW abstraction layer so you could add your M4 programming to the hw_params() or prepare() callback ? Btw, if you need other callbacks, then feel free to send a PR.

[2019-02-25 20:40] dbaluta commented on #1040
@tlauda Thanks for explanations!

1,2, 3 - OK.
4 - sent a patch. thanks for review!

5 - Indeed host component should be generic, but it is DMA oriented and I'm struggling to image how it should work if the data can already be accessed from DSP side (it is in a shared SRAM).

What kind of new driver do you mean? A driver that implements a similar interface with DW DMA/HDA driver, but which instead

[2019-02-25 20:56] dbaluta commented on #1040
@lgirdwood Thanks for your answer.

Indeed makes sense that host.c should be generic to any host DMA engine. The question now is that should it be generic enough to allow non-DMA data access? Meaning that the data is already accessible by the Host component (no need to start copying it from the Linux host side to the DSP side).

By FW driver do you mean something similar with DW DMA/HDA DMA?
By ho

[2019-02-26 02:48] keyonjie commented on #1040
@dbaluta The issue you met here could be a good motivation to refine our host component part, maybe we can spit it
host.c(platform independent part, e.g. only the component driver/ops common part kept ) + host_copier.c(type: dw_dma/hda_dma/mem_cy... the platform specific part put here as a private ops callback to generic host.c).

[2019-02-26 02:56] xun2z commented on #1039
pr#1044  is to fix this.

[2019-02-26 06:19] keqiaozhang commented on #1043
More information about this bug:
1. On GLK Chromebook, this issue can also be reproduced by:
    console 1: cat /sys/kernel/debug/sof/trace
    console 2: reboot the system
2. This issue cannot be reproduce on UP2 with ubuntu OS. I also tried cros-sof-v4.14-rebase branch on UP2. logger works well with Ubuntu.

I guess this issue may related to ChromeOS file system.

[2019-02-26 06:21] zhuyingjiang opened #1048 "CLK:M/N divider support for BCLK"
Currently the M/N divider for BCLK is not enabled, on some chip such as MAX98357 "BCLK must be 32, 48, or 64X of LRCLK", so BCLK must be 1.536/2.304/3.072M, and on WHL the MCLK is 24M, can not be dividable by BCLK.
For platform to work, we need support M/N divider in the SSP config.

[2019-02-26 06:26] dbaluta commented on #1040
@keyonjie sound like a good idea. will try to move into this direction.

[2019-02-26 08:42] keqiaozhang opened #1050 "[Stress test] HDA-DMA preload timeout causes IPC timeout when running multiple pipelines"
This is more like a regression. We met this issue before, but fixed on glk branch.

How to reproduce:
1. run test scripts under tools/test/qa/tests/stability_test/:
   ./multiplex_pipeline-test.sh pcm0p pcm1p
2. or use audiofuntest tool, test script as below:
[code]
error message：
aplay: pcm_write:2051: write error: Input/output error

dmesg:
[code]
Trace:
No obverses trace error, trace log is att

[2019-02-26 10:28] Jiangxinx commented on #1050
his issue can also be reproduced on UP2 with PCM512x.
No dmesg error trace, but sof-logger have error trace.

sof-logger:
[code]

step:
1. ./multiplex_pipeline-test.sh pcm0p pcm2p

Test env:
sof master: 82d29e09
kernel sof-dev: ee19d24e
tplg: sof-apl-pcm512x.tplg

[2019-02-26 10:38] wwittbrx commented on #1050
I think this commit 3dbd1fb59 reintroduced this, please check. @slawblauciak may have more info on this.

[2019-02-26 10:44] keyonjie commented on #1050
@RanderWang here the BF bit not set error we met:

`
    0      1          DMA         109193447.343750 109193448.000000 intel/cavs/hda-dma.c:346    hda-dmac: 5 preload timeout
`

[2019-02-26 13:00] lgirdwood commented on #1043
@keqiaozhang this is a rare use case for chrome so can be deprioritized, especially since this is working on Ubuntu etc. @mengdonglin

[2019-02-26 14:30] plbossart commented on #1048
You've got to be very careful here. The M/N dividers do not provide a
clock which has a 50% duty-cycle so enabling them can have really nasty
side effects that we've seen in previous programs. Getting a good audio
output when the M/N dividers are used depends to a large part on the
clock recovery IP on the amplifier side. That's the main reason why we
never enabled those M/N dividers. The alternat

[2019-02-26 14:44] plbossart commented on #1043
On 2/26/19 12:19 AM, Keqiao Zhang wrote:

In my experience be it on Baytrail or Up2, when the system cannot reboot
it's usually due to memory corruption and issues on module remove.

You should try to remove the modules to simulate a reboot with KASAN
enabled (see memory-debug-defconfig) and see how this goes.

[2019-02-26 14:57] plbossart commented on #1050
Can we please make sure this test is run by the QA team on a regular basis? Between broken scripts and regressions something is not quite right here.

[2019-02-26 15:59] lgirdwood opened #1052 "host.c: remove DMA specific logic"
host.c has host HDA GW and DW DMA specific logic surrounded by ifdefs. This logic should be abstracted and pushed down into the DMA drivers (using new DMA ops). host.c should also support a buffer interface direct to host memories .

[2019-02-26 16:00] lgirdwood commented on #1040
@dbaluta  @keyonjie for the record I've created this https://github.com/thesofproject/sof/issues/1052

[2019-02-26 17:24] sathyap-chrome commented on #1048
i wanted to add 1 more info. on GLK platform, the Mclk / bclk is 12.5 ( MCLK 19.2 Mhz  and BCLK 1.536 Mhz) Can you help understand how that is possible. Can the same solution be moved to CML ?

[2019-02-26 17:49] plbossart commented on #1048
No, that's incorrect. on APL/GLK you can select independently the clock
source for MCLK and BCLK.

For the amplifier we use 24.576 as source for the BCLK. The 19.2 MCLK is
not connected to the amplifier so it's irrelevant.

For the codec we use the 19.2 MHz source for MCLK and BCLK.

We cannot use these settings on CML where neither 19.2 nor 24.576 MHz
are provided to the audio IP.

#SSP 5 (ID: 0)

[2019-02-27 01:41] keqiaozhang commented on #1050
@plbossart
We will add this test to our daily test basis and @stevyan is working on the broken scripts under tools/test/qa/tests/.

[2019-02-27 02:24] keqiaozhang commented on #1043
Yes, let set the priority of this issue as P2 and it's aligned with Google.

[2019-02-27 03:01] Jiangxinx opened #1054 "Check aplay function failed on daily test."
Summary:
aplay failed with 'hw params uninstall (-19)' reason.

Step:
1. aplay -Dhw:0,0 -f s16_le -c 2 -r 48000 /dev/zero

Error output:
[code]

Dmesg:
[code]

Sof-logger:
[code]

Env:
sof master: e38db1a6
kernel sof-dev: ee19d24e
tplg: sof-apl-pcm512x.tplg

Log files:
[check_aplay_function.sh-190227_104821.zip](https://github.com/thesofproject/sof/files/2908386/check_aplay_function.sh-190227_1048

[2019-02-27 03:04] ranj063 commented on #1054
This is due to the recently merged topology patch https://github.com/thesofproject/sof/pull/1047
but the unmerged kernel PR https://github.com/thesofproject/linux/pull/675

[2019-02-27 06:20] zhuyingjiang commented on #1048
@plbossart Do you mean we set the DAI run at 50K Hz Frame sync, and use SRC convert from 48K to 50K?

@singalsu Does this workable? I check we have sof-apl-src-pcm512x.m4, but don't know if we can use SRC from 48K to 50K?
a DAI config like following?
DAI_CONFIG(SSP, 1, 0, SSP1-Codec,
	SSP_CONFIG(I2S, SSP_CLOCK(mclk, 24000000, codec_mclk_in),
		SSP_CLOCK(bclk, 2400000, codec_slave),
		SSP_CLOCK(fsy

[2019-02-27 06:25] juimonen commented on #1048
@zhuyingjiang, please check https://github.com/thesofproject/sof/pull/842. There's a topology for 50kHz pipeline (we've tried it with this PR and it works fine). I'm not sure will it work without the other stuff in the PR. The PR hasn't been merged, because it is quite intrusive and @tlauda is working on a pipeline refinement/scheduling PR which is overlapping with this PR heavily.

[2019-02-27 08:06] keqiaozhang commented on #1043
@plbossart
Today I tried to remove modules with KASAN enabled, but no system hang when unloading modules.  Besides, I found one kernel issue, dai links are missing in sof_link_unload, see /thesofproject/linux/issues/680.

Test steps:
1. Enable KASAN in kernel:
[code]
2. Update the new kernel on GLK, then open logger:
sof-logger -l sof-apl.ldc -t
3. Remove modules.

[2019-02-27 08:10] dragosht commented on #1046
Also changing `#define TRACE 0` in src/include/sof/trace.h ends up with the following error on my apollolake build:

    [46%] Building C object CMakeFiles/sof.dir/src/arch/xtensa/task.c.o
    /caddy/sof-latest/sof/src/arch/xtensa/task.c: In function 'task_set_data':
    /caddy/sof-latest/sof/src/arch/xtensa/task.c:105:3: error: implicit declaration of function 'trace_error';
    did you mean 'tra

[2019-02-27 08:21] dbaluta commented on #1046
@dragosht i have some patches prepared will send them asap.

[2019-02-27 08:23] singalsu commented on #1048
@zhuyingjiang Yes, SRC supports the 48 kHz to 50 kHz conversion.

[2019-02-27 14:13] singalsu commented on #619
@juimonen This may be a bug in PCM512x. If set this this gain to -1 dB most annoying rattle disappears:

`amixer set Digital 205`

The default 0 dB can be restored with

`amixer set Digital 207`

I'll test with other device too to confirm. Though since there's a smaller rattle sound left with this tricky music sample I wonder if the SRC coefficients should be re-calculated for e.g. -1 dB attenuati

[2019-02-27 14:51] singalsu commented on #916
The PR is merged and this can be closed.

[2019-02-27 14:51] #916 closed

[2019-02-27 17:20] singalsu commented on #619
@juimonen Another GLK + DA7219 based device does the rattle too though it sounds a lot more like "impulse noise". So better to not close this and continue investigation.

[2019-02-27 20:17] #984 closed

[2019-02-28 04:27] ranj063 commented on #1011
@plbossart @emilchudzik this simple change in the kernel fixes the issue for me but it was simply a trial and error on my part. The value of 70ms timeout was based on the skylake driver and it worked in GLK.
I could use some feedback on how to determine the correct value to be set.

diff --git a/sound/soc/sof/intel/hda.h b/sound/soc/sof/intel/hda.h
index 54b817358e31..ee4817abc251 100644
--- a/sou

[2019-02-28 05:36] ranj063 commented on #1010
@plbossart @bardliao im wondering if I should go ahead and do this now or not. We will be updating the CML topology with the speaker pipeline soon at which point these two files will have to be separated. What do you think?

[2019-02-28 07:37] bardliao commented on #1010
@ranj063 In my opinion, we can have one generic topology for development platforms such as RVPs. And customized topology for products. I also have a idea that maybe we can export all ssp ports in the machine driver and let developers decide what port do they use.

[2019-02-28 10:58] zhuyingjiang commented on #1048
@juimonen with Pierre's suggestion we can config a SRC pipeline, and I have tested on rt5682 with codec SRC disabled. The only change is in tplg.

[2019-02-28 15:56] singalsu commented on #619
I did test code that outputs to trace samples values for a short time after reaching -1 dBFS positive or negative PCM code level. The traced values were parsed and plotted with Octave. The peaks seen at volume component input (=SRC output) and volume output are OK looking signal peaks often flattened to min/max PCM code without opposite polarity peaks. It looks very much like the frequent hit into

[2019-02-28 18:05] ranj063 commented on #1011
@lbetlej @mmaka1 could you please comment on the value for the ROM init timeout value?

[2019-02-28 18:29] plbossart commented on #1010
@ranj063 For CML, if you are referring to additional speaker amplifiers, they will have to be handled by a dedicated machine driver and the matching quirk to select it (as done for all Chromebooks). If there is only RT5682 connected we can share the same implementation across platforms.
@bardliao it's complicated to add all ports since we wouldn't know which ones are connected to external componen

[2019-03-01 02:36] Jiangxinx commented on #1054
Fix by thesofproject/linux#675 and  #1047.

[2019-03-01 02:36] #1054 closed

[2019-03-01 06:05] Jiangxinx opened #1062 "Register card failed on byt RT5651."
Summary:
Register card failed with 'devm_snd_soc_register_card failed (-19)' reason.
sof-logger is empty. sof-logger -t log is attached below.

Step:
1. aplay -l

Error output:
aplay: device_list:270: no soundcards found...

Dmesg:
[code]

Test env:
sof master: 58e90d90
kernel sof-dev: 65df8efe
tplg: sof-byt-rt5651.tplg

Log:
[logger.log](https://github.com/thesofproject/sof/files/2918108/logger.l

[2019-03-01 06:12] ranj063 commented on #1062
@Jiangxinx could you please check if this change in topology helps fix this?
diff --git a/tools/topology/sof-byt-rt5651.m4 b/tools/topology/sof-byt-rt5651.m4
index c64aaa48..4f8ebef2 100644
--- a/tools/topology/sof-byt-rt5651.m4
+++ b/tools/topology/sof-byt-rt5651.m4
@@ -87,3 +87,7 @@ DAI_CONFIG(SSP, 2, 0, SSP2-Codec,
                      SSP_CLOCK(fsync, 48000, codec_slave),

[2019-03-01 06:29] bardliao commented on #1010
@plbossart I know that is crazy. But I meant we use rt5682 in all ssp ports. The benefit is we can easily test all ssp ports as long as we connect it to a rt5682 codec. e.g. Currently, we have to modify the quirk table and rebuild the kernel if we want to test different ssp ports in the same RVP.
Also we don't have to specific a  ssp port in the quirk table if we export all of them.

[2019-03-01 06:55] Jiangxinx commented on #1062
@ranj063 I tried your change, can not build
sof-byt-rt5651.tplg file.

build log：
[code]

[2019-03-01 10:09] zhuyingjiang opened #1063 "CLK: MAX amplifier generate only noise on WHL/CML paltform"
This issue is from #1048,
There is only 24M MCLK on WHL/CML platform, but the MAX98357 amplifier need the BCLK to be 32/48/64 X of LRCK. so now there is only noise from the speaker.
There have 2 solutions with this: 1. enable the M/N divider(track by #1048) ; 2. use the SRC pipeline.
This issue track the SRC solution.

[2019-03-01 10:12] zhuyingjiang commented on #1048
We use the SRC solution for this now, track in #1063.
This enhancement issue will be closed for now, and will be reopen if the FW team resource is OK.

[2019-03-01 10:12] #1048 closed

[2019-03-01 11:41] #1046 closed

[2019-03-01 14:25] plbossart commented on #1010
On 3/1/19 12:29 AM, Bard Liao wrote:

I doubt we are able to expose all SSPs on any board. There are pin-mux
issues, e.g. the DMIC takes out 1 SSP, etc.

[2019-03-01 16:55] ranj063 commented on #1062
@Jiangxinx thanks, I'll take a look at it today.

[2019-03-01 23:05] plbossart commented on #1062
|ETE |

|looks like a mix of topology issues and possibly a failed codec
interaction. Are you sure the codec was properly detected?|

|so the card creation fails but the sof-audio-acpi continues. To me this
is a 'feature' of the device model that we need to work around. The
errors which happen during the probe of a platform driver are not
propagated to the caller, so maybe we need a callback invok

[2019-03-04 06:58] mengdonglin commented on #788
Closing because it seems a driver issue, will follow up by thesofproject/linux#489

[2019-03-04 06:58] #788 closed

[2019-03-04 08:16] Jiangxinx opened #1072 "[S3] Trying resume playback failed after suspend/resume on APL-nocodec"
Summary:
Fail to resume playback after suspend/resume 1 times on APL-nocodec.
sof-logger is empty. sof-logger -t log is attached below.

Step：
1.aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero& sudo ./stress-s3.sh 50 1 1

Output:
[code]

dmesg:
[code]

Env:
sof master: 24e241b8
kernel sof-dev: cf5978ae
tplg: sof-apl-nocodec.tplg

Log:
[dmesg.log](https://github.com/thesofproject/sof/files/2924828/dm

[2019-03-04 08:24] Jiangxinx opened #1073 "[S3] Failed to aplay source after suspend/resume without playback on APL-nocodec"
Summary:
Fail to check aplay function after suspend/resume 50 times without plaback on APL-nocodec.
sof-logger is empty. sof-logger -t log is attached below.

Step：
1.sudo ./stress-s3.sh 50 1 0

Dmesg:
[code]

Env:
sof master: 24e241b
kernel sof-dev: cf5978ae
tplg: sof-apl-nocodec.tplg

Log:
[dmesg.log](https://github.com/thesofproject/sof/files/2924841/dmesg.log)
[logger.log](https://github.com/t

[2019-03-04 13:32] lbetlej commented on #1011
I suggest at least 300 ms for HDA_ROM_INIT_TIMEOUT.

[2019-03-04 21:08] dbaluta commented on #1052
Hi @mmaka1,

Any idea in commit b39b17ddf3e ("comp: host: hda/dw-dma flow unification") why host and local sgl are no longer used for HDA DMA?

[2019-03-05 06:14] RanderWang commented on #497
fixed

[2019-03-05 06:14] #497 closed

[2019-03-05 06:15] RanderWang commented on #433
fixed

[2019-03-05 06:15] #433 closed

[2019-03-05 09:17] emilchudzik commented on #1011
I have just checked flow from this issue topic.

Platform: Hatch
kernel: cros-sof-v4.19 / 8492020d5967 + thesofproject/linux#651.
FW: cml-002-drop-stable / dcd825b
tplg: cml-002-drop-stable / dcd825b  [sof-cml-rt5682.zip](https://github.com/thesofproject/sof/files/2930066/sof-cml-rt5682.zip)

Commands "suspend_stress_test" in my opion return fail to suspend (see below screenshot).
When I use more

[2019-03-05 09:19] emilchudzik commented on #1011
I didn't see that thinks or WHL RVP.
Here I use: rtcwake command or short pressing power button.
Both method properly entering suspend WHL RVP.

[2019-03-05 12:00] lgirdwood opened #1078 "memory: use linker constructor sections for component init."
Place all component init functions into a linker constructor section that can be iterated at component init time.  This means we will no longer need to manually add components to audio.c as they will be automatically be added.

Also place other one time run init functions in another constructor section that can be freed and added to heap at runtime.

[2019-03-05 12:05] lgirdwood opened #1080 "platform: merge platform.h and plat_cfg.h"
Both files do the same thing so merge them.

[2019-03-05 12:08] tlauda commented on #1080
@lgirdwood platcfg.h is also used in asm code, so it might not be that easy.

[2019-03-05 13:04] singalsu commented on #619
The PR #1069 is now merged so this can be closed.

[2019-03-05 13:04] #619 closed

[2019-03-05 13:27] tlauda commented on #531
@xiulipan Any updates?

[2019-03-05 13:27] #27 closed

[2019-03-05 13:59] lgirdwood commented on #1080
ifdef ASSEMBLY etc should fix assembly usage.

[2019-03-05 14:05] lgirdwood commented on #1072
@Jiangxinx which board ?

[2019-03-05 14:06] lgirdwood commented on #1073
@Jiangxinx which board ?

[2019-03-05 17:12] ranj063 opened #1087 "Check if comp_ops are set before invoking them"
before the comp ops are invoked, we need to ensure the comp_driver for the component actually has a valid callback set.

For ex: if .cmd for a comp is not set, invoking comp_cmd would result in an exception.

[2019-03-05 17:24] ranj063 commented on #1062
@juimonen could you please take a look at this bug since you are the platform owner for BYT :)

[2019-03-06 01:27] ranj063 commented on #1011
@lbetlej we used to have this value set to 300ms before. But the suspend stress test failed and after following the analysis done fro skylake, it was decided to use 70ms. I might leave it at 70 for GLK and only change it to 300ms for CML.

[2019-03-06 02:27] Jiangxinx commented on #1073
@lgirdwood APL-UP2-NOCODEC

[2019-03-06 02:28] Jiangxinx commented on #1072
@lgirdwood APL-UP2-NOCODEC

[2019-03-06 03:03] plbossart commented on #1073
Can you clarify the reference to 'aplay'?

are you
- running the test and you see a ROM error before running aplay, in which case aplay is really irrelevant?
- or are you done with the test and resuming when aplay starts?

[2019-03-06 10:25] Jiangxinx commented on #1073
@plbossart Attach some details:
1. aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero
   result: passed.
2. sudo ./stress-s3.sh 50 1 0
  result:
[code]

[2019-03-06 14:05] wenqingfu commented on #1062
If there's a working (card at least register) combo of linux and sof commit id on BYT RT5651, maybe a bisect can find the culprit since this bug is still a new regression?  add @juimonen as owner.

It's a P1 since it's a showstopper on one supported platform

@Jiangxinx @stevyan  can you help with bisect, too?

[2019-03-06 20:45] plbossart opened #1092 "Topology: Multiple configurations for SSP DAIs"
We need the ability to expose multiple configurations per DAI in the topology file, and means for the driver to pass the relevant configuration over IPC to the firmware.
One example is support for 8 or 16 kHz for a Bluetooth HFP link.

this was filed initially as https://github.com/thesofproject/soft/issues/11, moving to SOF issues since it was missed as reported by @dragosht
The matching kernel i

[2019-03-07 10:57] Jiangxinx commented on #1062
I have done bisect, find it is caused by a kernel commit:
ASoC: SOF: remove dai capabilities from dai definitions   a044708ed

Here is the bisect results:
1.
env:
    sof master: 58e90d90
    kernel sof-dev: f147f56b
    tplg: sof-byt-rt5651.tplg
result:
    passed

2.
env:
    sof master: 58e90d90
    kernel sof-dev: a044708ed
    tplg: sof-byt-rt5651.tplg
result:
    failed

[2019-03-07 12:22] juimonen commented on #1062
@Jiangxinx I don't see that commit in the tree at all. That same place is annotated to some code from @plbossart... Is this some squash/merge problem?

[2019-03-07 17:27] abonislawski commented on #1078
Still in progress but please check if this is what you want expect. @lgirdwood
#1097

[2019-03-08 06:54] ranj063 commented on #1011
https://github.com/thesofproject/linux/pull/704 fixes this issue.
@emilchudzik could you please check if you can run a stress test with this change in the kernel

suspend_stress_test -c 500

[2019-03-08 11:50] xiulipan commented on #1062
@juimonen
I think we have some 4.20.0 to 5.0.0 switch, and I do remember I saw this PR set
https://github.com/thesofproject/linux/pull/675 and https://github.com/thesofproject/sof/pull/1047

@ranj063 could you have a look if that means we need some tplg change special for legacy platforms.
I believe some mismatch may be not be found from test since this change is some related to both tplg and driv

[2019-03-08 17:02] lgirdwood commented on #1078
@abonislawski yep, exactly as required.

[2019-03-08 21:12] fredoh9 opened #1106 "nocodec mode to set LBM in quirks"
SSP dai token has quirks which support LBM. Nocodec mode should utilize this to capture PCM data from playback pipeline. This idea came up while discussing https://github.com/thesofproject/linux/issues/640,
https://github.com/thesofproject/linux/pull/682

Linux driver print all SSP token values in sof_link_ssp_load()

SOF project is ready to handle this. Only topology file change is required.

[2019-03-09 00:37] ranj063 commented on #1062
@xiulipan my change that I mentioned in an earlier comment should fix it. I will check it today and submit a PR

[2019-03-10 05:57] ranj063 commented on #1062
@juimonen looks like the ssp2 TX/RX that were removed in ASoC: SOF: remove dai capabilities from dai definitions a044708ed caused the card registration failure.

But reverting this commit only gives me an hw_params ipc error. needs more investigation

[2019-03-10 07:11] ranj063 opened #1107 "Noisy playback on BYT with RT5651"
The recently added commit to support variable copy for the mixer component causes underruns during playback with sof-byt-rt5651.tplg.

9a6a38a609c2e1cb67715075c74005d48b665578 : mixer: add support for variable data copy

With some more recent updates to host variable copy and dwdma seem to prevent the underruns but the audio is very distorted.

[logger.txt](https://github.com/thesofproject/sof/fil

[2019-03-10 07:27] ranj063 commented on #1062
https://github.com/thesofproject/sof/pull/1108 fixes this issue
https://github.com/thesofproject/linux/pull/706 is also needed for BYT RT5651 to prevent hw_params failure

[2019-03-11 14:45] lgirdwood commented on #1011
@emilchudzik did https://github.com/thesofproject/linux/pull/704 fix it for you ? If so we should close.

[2019-03-11 14:47] lgirdwood commented on #1072
@Jiangxinx can you try with https://github.com/thesofproject/linux/pull/704 ? @ranj063 fyi.

[2019-03-11 14:57] lgirdwood commented on #1073
@Jiangxinx can you try with this https://github.com/thesofproject/linux/pull/704

[2019-03-11 14:59] lgirdwood commented on #1092
This also needs to export an enum kcontrol for each SSP port that has > 1 configuration in order for userspace to select the correct configuration based on use case.

[2019-03-11 15:01] lgirdwood commented on #1107
@ranj063 @tlauda I'm guessing this will be fixed when the variable dai/host PR is merged (pending CI and QA atm).

[2019-03-11 15:04] tlauda commented on #1107
@lgirdwood I guess so, BYT is now passing on my PR. But I'm still confused why changes in mixer component affected simple volume pipelines?

[2019-03-11 16:15] plbossart commented on #1092
that's not the ask for now. The topology can pass multiple configurations to the kernel (32 IRRC), but we only deal with the first in the kernel. We would want to limit any userspace interaction and possibly select the configuration based e.g. on sampling frequency and channels.

[2019-03-11 16:48] ranj063 commented on #1107
@tlauda BYT topology is not a simple pipeline. It has a media playback pipeline and low latency playback connected at the mixer.

[2019-03-11 17:53] #1020 closed

[2019-03-11 17:54] lgirdwood commented on #1039
@xun2z can this be closed now ?

[2019-03-11 17:56] lgirdwood commented on #1050
@keqiaozhang there have been a few recent component and pipeline updates. Can you re-check.

[2019-03-11 17:57] lgirdwood commented on #1063
@zhuyingjiang any update or can this be closed ?

[2019-03-11 18:26] tlauda commented on #1107
@ranj063 Could you check with the current master? I've fixed my host/dai var copy and CI for BYT passed.

[2019-03-11 19:00] ranj063 commented on #1107
@tlauda unfotunately no. We've still got the same problem

[2019-03-11 19:17] ranj063 commented on #1107
@tlauda it looks like we've got another problem with the sof byt topology. I cant start playback on the media pipeline at all. The recent changes to the pipeline commands are probably responsible for this.  Do you have a BYT set up? This is the only working topology we have to test out all your recent changes.

[2019-03-11 20:39] lgirdwood commented on #1107
@ranj063 I assume the other pipelines work ? Can you provide the logs for the failing media pipeline. @keqiaozhang can you try some different pipelines as part of QA, this is a big feature update so we need to make sure we give it a broad test with as many different topologies we can. Thanks.

[2019-03-11 20:49] ranj063 commented on #1107
@lgirdwood the other playback pipeline works. I think the reason might be that in the FW today we dont propagate trigger from another pipeline. I will post the logs soon

[2019-03-12 01:24] #1039 closed

[2019-03-12 01:58] keqiaozhang commented on #1050
@lgirdwood
This issue still can be reproduced with latest code base.  Error trace logs are same.
[code]
Test recipe:
sof master: 2dbe69
kernel cros-sof-v4.14-rebase: b178744d

[2019-03-12 02:29] ranj063 commented on #1050
@keqiaozhang would it be possible to try this with linux PR#695?

[2019-03-12 03:59] zhuyingjiang commented on #1063
@lgirdwood I have test this on platform GLK with MAX98357, with PR#1099, and give the reference for @sathyap-chrome, 16bits is said working on CML with MAX98357, will wait the feedback if 24/32 still works on that.
 Will close this once get the feedback.

[2019-03-12 08:49] Jiangxinx opened #1113 "[S3] HDA-DMA preload timeout after 42 suspend/resume cycles on APL UP^2"
Summary:
Fail to check aplay function after suspend/resume 42 times on APL-UP2-pcm512x.
Dmesg have no abvious error trace.

Step：
1.aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero& sudo ~/test/stress-s3.sh 50 1 1

Output:
[code]

Sof-logger:
[code]

Env:
sof master: 2dbe69e2
kernel sof-dev: facd448b
tplg: sof-apl-pcm512x.tplg

Log file:
[dmesg.log](https://github.com/thesofproject/sof/files/2955860/

[2019-03-12 09:23] Jiangxinx opened #1114 "volume pipeline copy failure with HDMI playback on APL-UP2-pcm512x."
Summary:
Fail to check HDMI aplay function on APL-UP2-pcm512x.

Step：
1.aplay -Dhw:0,2 -fS16_LE -c2 -r48000 /dev/zero

Output:
[code]
Dmesg:
[code]

sof-logger:
[code]

Env:
sof master: 2dbe69e
kernel sof-dev: facd448b
tplg: sof-apl-pcm512x.tplg

Log file:
[dmesg.log](https://github.com/thesofproject/sof/files/2956033/dmesg.log)
[logger.log](https://github.com/thesofproject/sof/files/2956034/logge

[2019-03-12 10:53] lgirdwood commented on #1050
@dabekjakub looks like a HDA DMA timeout is being cascaded into other timeouts.

[2019-03-12 11:02] lgirdwood commented on #1113
@Jiangxinx this is very similar to #1050, the log looks very similar in that HDA DAM timeout failure cascades into other errors.

[2019-03-12 11:08] lgirdwood commented on #1050
@slawblauciak looks like @RanderWang is also working on this within kernel too. https://github.com/thesofproject/linux/pull/705. Can you guys align as this may need kernel and FW fix. Thanks

[2019-03-12 11:17] lgirdwood commented on #1114
@tlauda I guess HDMI playback is working at your end ?
@Jiangxinx can you describe the pipeline this is failing on ?

[2019-03-12 11:27] tlauda commented on #1114
@lgirdwood Last time I've checked it worked. Anyway HDMI playback works on work_queue, so it's basically timer driven scheduling. During next two weeks we should have schedule refactor ready along with timer scheduling enabled, so limitation will need to be introduced for scheduling HDA-Link based pipeline only on timer.

[2019-03-12 11:47] lgirdwood commented on #1114
@mengdonglin can someone check timer scheduling for HDMI is enabled for this test in your team. Thanks

[2019-03-12 12:33] keqiaozhang commented on #1050
@ranj063
There're some conflicts when applying PR#695 to cros-sof-v4.14-rebase.
So I applied this PR to sof-dev branch and tested this issue on GLK chromebook with UbuntuOS.
This PR can reduce the probability of this issue but can't not be completely fixed. Before the probability  is about 15%, now is reduce to 1%.

[2019-03-12 20:34] ranj063 commented on #1050
@keqiaozhang thanks for checking

[2019-03-13 08:53] emilchudzik commented on #1011
on Hatch this patch doesn't help. I have still issue with first suspend, suspending doesn't work -> screen is off for a while, but logs return:
Suspend     1 of 1: sleep for  7 seconds...**Suspend failed**, s0ix count did not increment from 0)

[2019-03-13 09:24] emilchudzik commented on #1011
I suggest to check repro on CML and if doesn't exists then closed it.
I can rise new issue that on Hatch (CML CHromebook) suspending doesn't work at whole using scripts:
suspend_stress_test

[2019-03-13 11:06] mengdonglin commented on #1114
@lgirdwood @tlauda  We haven't revise, so the time_delay is still 0 by default, I think.  Could you share more info about how to "allow only timer scheduling" for HDA-link pipelines?

[2019-03-13 11:13] tlauda commented on #1114
@mengdonglin Timer scheduling is not yet ready, but we're getting there. We need to have #1089 and #1116 merged first and after that one more small PR from my side. I think I could also modify topology files and enable timer for HDA based pipelines to avoid synchronization problems between FW and Topology updates.
I wouldn't like to spend much time on this issue, because current implementation of

[2019-03-13 14:10] ranj063 commented on #1011
@emilchudzik I'm going to send you the latest coreboot that is needed for suspend stress test to work. Please give it a try

[2019-03-14 10:11] zhuyingjiang commented on #1072
#[704](https://github.com/thesofproject/linux/pull/704) doesn't help, seems not because of the delay.

[2019-03-14 12:55] lgirdwood opened #1128 "allocator: unify alloc API."
Unify the allocator API so that rballoc becomes a static function that is called internally by rmalloc. rmmaloc() will make a judgement on calling rballoc depending on request size. i.e.
1. rmalloc uses current block for small requests.
2. rmallloc uses rballoc for large requests.

This also allows the block sizes to be shrunk below the rballoc block size to make the allocations more efficient.

[2019-03-14 13:18] ranj063 commented on #1072
@lgirdwood this seems like a regression. let me check today

[2019-03-14 21:37] #1011 closed

[2019-03-14 21:56] tlauda commented on #1114
@mengdonglin PRs that will resolve the issue: #1089, #1125, #1130, #1131.

[2019-03-15 03:04] keqiaozhang commented on #1114
@tlauda
These patch series have some conflicts,  please have a check.
Or what the right order to apply these patches?

[2019-03-15 06:59] RanderWang opened #1133 "Regression: HDA audio is failed on master"
There are many many XRUN error in FW. It is caused by this commit:  dai: change flow of component copy (https://github.com/thesofproject/sof/commit/407be960c0b9591b2b43f7943d7be08c7efb271b#diff-9f8de02ec82000817dd1a9bbccac158c)

[2019-03-15 07:03] RanderWang commented on #1114
I also created a bug: https://github.com/thesofproject/sof/issues/1133 and I got the reason.

[2019-03-15 07:11] #1133 closed

[2019-03-15 07:12] RanderWang commented on #1133
duplicate

[2019-03-15 12:26] abonislawski commented on #1080
It is more tricky because it will be included, for example, from base_module.c (memory.h->platform.h) where ASSEMBLY def will not work as for .S files

So, it would be necessary to make whole platform.h working (without ifdef ASSEMBLY) which means moving some problematic things from platform.h to another already included files at this stage. Not sure if worth it.

OR instead of #ifdef ASSEMBLY use

[2019-03-15 13:12] tlauda commented on #1107
@ranj063 Can you provide log with verbose traces and not working playback (the one without a mixer).

[2019-03-15 15:21] #1010 closed

[2019-03-15 15:22] ranj063 commented on #1062
@Jiangxinx can this be closed?

[2019-03-15 15:38] lgirdwood commented on #1080
Not following. All .S files must be built with -DASSEMBLY meaning we can move any C code behind an ifdef. Same goes for linker script usage as we define -DLINKER now too.

i.e. platcfg.h
[code]

[2019-03-15 15:51] ranj063 commented on #1107
@tlauda both the playback pipelines go through the mixer in the BYT topology. not sure about this ask?

[2019-03-15 16:07] lgirdwood commented on #1107
@ranj063 I think @tlauda just needs the verbose traces when it fails via mixer playback.

[2019-03-15 16:50] ranj063 commented on #1107
@tlauda @lgirdwood here're the logs with verbose trace enabled before starting playback on PCM 1 and after starting playback
[byt_logger_pre_playback.txt](https://github.com/thesofproject/sof/files/2972084/byt_logger_pre_playback.txt)
[byt_logger_post_playback.txt](https://github.com/thesofproject/sof/files/2972085/byt_logger_post_playback.txt)

[2019-03-15 18:13] tlauda commented on #1107
@ranj063 I'm confused. After sync call on Tuesday you've concluded with @keyonjie that mixer topology never worked or at least hasn't been checked for a very long time, so we shouldn't treat it as current regression. And that you have noise with simple playback pipeline without a mixer.

[2019-03-15 18:26] ranj063 commented on #1107
@tlauda sorry I am bit confused myself. I have always tested the sof-byt-rt5651.tplg on the minnowboard and never had any noise with the low latency playback. I must admit I never tested the media playback pipeline and this is probably what keyon said too.

So back to the issue here, what I did was remove the pcm media pipeline and only have the low latency playback in topology which still include

[2019-03-15 23:13] xiulipan commented on #1062
@ranj063
I think we are testing with test topology. Could you help to check with test topology or we should to abandon to use test topology?
I did not think we have full support for the mixer now? Or we should simplify the topology we are using for byt?

[2019-03-16 02:27] ranj063 commented on #1062
@xiulipan i think we should only use sof-byt-rt5651 and report any failures with it.
It is our only topology with a mixer based pipeline so lets use it

[2019-03-18 05:24] ranj063 commented on #1073
@zhuyingjiang im starting to suspect if this is a regression at all? Are you sure rtcwake -s 2 -m mem ever worked with nocodec before? It looks like the DSP cannot be powered back on after entering S3.

But if I do "rtcwake -s 2 -m freeze", the system enters S2Idle and resume fine.

[2019-03-18 06:21] stevyan commented on #1073
I've rolled back the build version 20190227 to check this issue, it works well. However, this issue is always exist since issue #1054 occurred (Fixed by thesofproject/linux#675 and #1047) and never disappear. Anyway, the S3 operation is working (suspend/resume), but, the aplay will be failed till now.

[2019-03-18 09:48] Jiangxinx commented on #1113
This issue can still be reproduced on daily test.

Env:
sof master: eb8be5be
kernel sof-dev: 41e4680a
tplg: sof-apl-pcm512x.tplg

[2019-03-18 11:13] jajanusz commented on #998
This feature is no longer in rimage, neither in readme

[2019-03-18 11:13] #998 closed

[2019-03-18 11:14] jajanusz commented on #898
Done in #951

[2019-03-18 11:14] #898 closed

[2019-03-18 14:18] jajanusz opened #1142 "[RFC] How to sync headers for firmware and driver"
Headers from `<firmware>/src/include/uapi/ipc` and` <kernel>/include/sound/sof` have to be synced. Now we just copy them , it works, but requires attention and work from developers, also is error-prone.

The best would be to have some git submodule with headers shared by both repos, however we cannot do that in driver repo (we can pretty much just add c code and kconfigs there).

So if we'd like t

[2019-03-18 14:19] jajanusz commented on #1142
@plbossart @lgirdwood @mmaka1 @xiulipan
What do you think?

[2019-03-18 16:10] tlauda commented on #1107
@ranj063 Can you try with #1136? It fixes some volume format problems. Also can you tell me what is the format of stream and what is the format of DAI?

[2019-03-18 16:13] ranj063 commented on #1107
@tlauda I've already tried with #1136 and it didnt fix the issue.
stream format: S16_LE
DAI format: S24_4LE

what I noticed was with the above combination, playback is noisy. But if the stream format is S24_4LE as well, there is no noise, which leads me to think that maybe there's something off with the volume conversion maybe? I'm not sure though as I lookedinto the code and everything looks good

[2019-03-18 16:15] ranj063 commented on #1107
I've edited the title because I dont think it has anything to do with just variable copy on the mixer

[2019-03-18 16:42] lgirdwood commented on #1073
@stevyan, @Jiangxinx  the IPC PM context save is failing, so this looks more like a FW issue.
[code]
The driver expectation is that this and subsequent commands will succeed, which they usually do. This first command that fails is the PM IPC and that then cascades into driver side PM failures.

@ranj063 @plbossart I think it's worthwhile here to see if forcing the device into D3 at the PCI level h

[2019-03-18 16:49] ranj063 commented on #1073
@lgirdwood the log from above is a bit old. We have address the CTX_SAVE failure that happens prior to entering suspend by not reading the mem windo for this IPC.
So now the log looks like this:
PM: suspend entry (deep)
[40556.846651] PM: Syncing filesystems ... done.
[40556.849149] Freezing user space processes ... (elapsed 0.000 seconds) done.
[40556.850008] OOM killer disabled.
[40556.850010] F

[2019-03-18 17:34] lgirdwood commented on #1142
Problem is we have multiple gatekeepers and differences to comment style and headers between them, so doing a regular diff or copy wont always work. However, we can have a script that can check them and highlight any *meaningful* differences i.e. we run them through the GCC pre-processor which will strip all comments and resolve all macros. This will be able to give us a meaning full diff, it coul

[2019-03-18 17:38] lgirdwood commented on #1107
Adding @singalsu.
@ranj063 I guess you have tried gcc and xt-xcc ?

[2019-03-18 17:40] ranj063 commented on #1107
@lgirdwood xt-xcc compilation for BYT is broken. Now might be the best time to fix it. Let me work on it today

[2019-03-18 22:29] fredoh9 commented on #1106
I'm using UP2 board to test this. Initially scope is very narrow to set quirks bit but it turns out something else is missing.

This is what I’m doing and debugging.
1. Using nocodec mode in UP2. Sound card is enumerated
2. Able to play 48Khz stereo wav file in PCM0P with aplay and capture PCM samples in PCM0C with arecord
3. The Captured wav file has only silence
4. Set LBM bit in config->ssp.qui

[2019-03-19 01:24] fredoh9 commented on #1106
Interesting results. Same change works in today's tip.
Linux : 41e4680a035ec574a170947b79a93c6db3a85749 + Fred Hard corded change
SOF : 181658671f8a60d011bf9de9a5b4a06c2800c096
I will submit a PR with topology changes soon.

[2019-03-19 03:04] xiulipan commented on #1142
@jajanusz
A good idea to use CI to track changes on both.
Some issues for the sync work I have done for the API headers:
1. Different folder structure. ex. `<uapi/eq.h>(kernel) and <uapi/user/eq.h> (sof)`
2. variable type mapping ex. `u32 & uint32_t `
3. merge time for the different PRs

[2019-03-19 03:18] xiulipan commented on #1107
@ranj063 this is the situation I talked to you about byt-rt5651 tplg.
sof-byt-rt5651 involves a very complex topology included mixer. And we have no test about that component yet. So in CI we use some single volume test topology.

I will check if this is some shared problem in all mixer component or some single problem with BYT or RT5651.

[2019-03-19 04:04] ranj063 commented on #1107
@xiulipan maybe sof-byt-rt5651 is not ready for CI yet but I have the issue even with a simple volume playback pipeline on BYT

[2019-03-19 06:59] Jiangxinx commented on #1062
@ranj063 I have used sof-byt-rt5651 instead of test topology, and can register card,  but aplay failed. Sof-logger have no obvious error trace.

Dmesg:
[code]

Test env:
sof master: 18165867
kernel sof-dev: 41e4680a
tplg: sof-byt-rt5651.tplg

[2019-03-19 09:55] tlauda commented on #889
Done.

[2019-03-19 09:55] #889 closed

[2019-03-19 10:10] tlauda commented on #1107
@ranj063 Could you check with PRs #1144 and #1136?

[2019-03-19 10:18] lgirdwood commented on #1073
@ranj063 thanks for the update, did we try and extend the ROM timeout ?

[2019-03-19 10:42] abonislawski commented on #1080
Yes, thats right. Maybe I have explained this not good enough, but merging this two files with if !defined(ASSEMBLY) is very easy but the problem is to compile it :) Because the includes flow will be different now (in platform.h we have some extra includes comparing to platcfg.h),
You can check working version for APL+CNL+ICL here:
https://github.com/abonislawski/sof/commit/65f83bf818b044ae40fc25a

[2019-03-19 11:17] jajanusz commented on #1142
@xiulipan
1&2 are easy to solve if you are going to normalize everything with gcc preprocessor before doing comparison (as Liam suggested). If you want to do some *logical* instead of *textual* comparsion, we can use some other tools or even write something with clang (but they are just simple headers, so I think it's not worth it).

Just do something like `ln -s <firmware>/src/include/uapi/ipc <k

[2019-03-19 13:49] lyakh opened #1147 "Broken playback on Up^2 with HifiBerry with SRC topology"
Playback on Up^2 with a HifiBerry codec and the sof-apl-pcm512x topology currently produces strongly metallic sound. Bisection and a manual verification identified https://github.com/thesofproject/sof/pull/1045/commits/aebe3cef50424fc46915ed6dfa8d18622d22eaa1 from @tlauda as the offending commit.

[2019-03-19 14:58] lgirdwood commented on #1062
@Jiangxinx @ranj063 this looks like a FW issue, I assume there is nothing in the error log ? Might be worth adding more trace here.

[2019-03-19 15:14] tlauda commented on #1147
@lyakh Can you upload FW logs?

[2019-03-19 15:17] lgirdwood commented on #1080
The patch looks OK to me, what errors do you see when building ?

[2019-03-19 15:24] lgirdwood commented on #1142
@xiulipan I dont want to see CI flagging up ABI header file deltas. This will be common and a normal development flow as FW and kernel have different repos (kernel will lag further when upstream). They key is to manage the delta and some simple tools will help here.

[2019-03-19 15:52] xiulipan commented on #1142
@lgirdwood Got it.
So could we add a new tag as `ABI` for the track of the PR? That we can highlight ourselves to make sure we have some test and prepare on both SW and FW.

[2019-03-19 15:54] ranj063 commented on #1147
@lyakh @tlauda I think this is the same issue as https://github.com/thesofproject/sof/issues/1107
on the Up2

[2019-03-19 15:56] tlauda commented on #1147
@ranj063 On APL we are using Host DMA, so the flow is a little bit different. We don't observe any playback issues on APL, so that's why I'm asking if it's HDMI or SSP and if there is any bit conversion in between.

[2019-03-19 15:57] ranj063 commented on #1062
@lgirdwood @xiulipan you need my linux PR https://github.com/thesofproject/linux/pull/708 to get aplay to work on the minnowboard

[2019-03-19 15:58] xiulipan commented on #1107
@ranj063
Checked with byt_rt5682/5682 with simple `host -> volume -> dai ` pipeline. I now believe #1147 is a duplicate of this. We need to check the whole pipeline, not only BYT

[2019-03-19 15:59] ranj063 commented on #1147
@tlauda since Guennadi mentions the hifiberry I have to assume it is the SSP. For HDMI the hifiberry has no role to play.

[2019-03-19 16:17] ranj063 commented on #1147
@xiulipan @lyakh @tlauda I checked with the latest master (commit: 6e88bdf1) and there is no noise with the hifiberry.

But #1107 still remains.

[2019-03-19 16:18] ranj063 commented on #1073
@lgirdwood yes, for APL it has been increased from 70 to 150ms. And for CML it has been increased to 300 ms

[2019-03-19 16:38] lyakh commented on #1147
I think this is different from #1107 since that one also mentions a different commit as the culprit. Yes, SSP. The audio format is "Float 32 bit Little Endian, Rate 8000 Hz, Stereo" Log attached, I added a couple of empty lines between initialisation and playback.
[metal.txt](https://github.com/thesofproject/sof/files/2984476/metal.txt)

[2019-03-19 16:43] lyakh commented on #1147
@ranj063 I just double-checked with the same HEAD commit and the distortion is still there.

[2019-03-19 16:46] lgirdwood commented on #1142
@xiulipan no, as tagging is easy to forget and anyway the semantic versioning will mean FW/driver will still work at the oldest ABI feature level. The best thing is for maintainers to refuse to merge until PR's are pending for both FW + kernel on any ABI update (policy now started).

We do need the tools though to validate and bisect when/where/who to manage the differences when the kernel driver

[2019-03-19 16:54] tlauda commented on #1147
@lyakh 8 kHz means that the SSP is also set to 8 kHz or is there SRC in the pipeline?

[2019-03-19 16:57] ranj063 commented on #1147
@lyakh what topology are you using?
sof-apl-pcm512x.tplg without the SRC works without noise at my end.

[2019-03-19 17:23] lyakh commented on #1147
@ranj063 it turned out I was using the topology with the src, sorry for confusion. And it used to work until that commit. I tried with the "no src" topology and it's working now. Is there any reason why the "src" topology shouldn't work for playback?

[2019-03-19 17:31] tlauda commented on #1147
@lyakh @singalsu I haven't touched SRC copy, because Seppo said it's already not limited by copying period size. Maybe we should recheck it.

[2019-03-19 17:35] ranj063 commented on #1147
@lyakh the issue is still valid for SRC playback. @singalsu can you please check src copy too?

[2019-03-19 18:04] ranj063 commented on #1107
@tlauda this is the commit that causes the noise on the minnowboard
407be96    dai: change flow of component copy

[2019-03-19 18:32] lyakh commented on #1107
#1147 isn't quite the duplicate, but it's the same commit, that's causing them both

[2019-03-20 02:21] RanderWang commented on #1050
fixed by ASoC:sof:hda: fix hda preload issue #705

[2019-03-20 02:21] #1050 closed

[2019-03-20 02:24] RanderWang commented on #1114
Now the error is: hda-dmac: %d channel %d HDA Link DMA doesn't support irq scheduling

[2019-03-20 02:30] keqiaozhang opened #1152 "volume pipeline copy failure after resuming from S3 on CML"
This issue happens on HDMI playback after resuming form system S3.

How to reproduce:
1. Open one terminal and run HDMI playback:
    aplay -Dhw:0,2 -f dat -c 2 audio_file.wav
2. Open another terminal and do suspend/resume
    rtcwake -m mem -s 5
3. After resuming, HDMI playback failed with input/output error.

No obvious errors in dmesg.
Trace log:
[code]
Test Recipe:
kernel-driver: sof-v4.19-reb

[2019-03-20 02:53] RanderWang commented on #1114
I get it, https://github.com/thesofproject/sof/pull/1131/files is not merged

[2019-03-20 03:23] xiulipan commented on #1142
@lrgirdwo
That would be a good start! Thanks

[2019-03-20 05:13] RanderWang commented on #1128
@lgirdwood  One question: there is no lock to protect buffer heap used by rballoc which is only called at setup time. And other heaps are divided into small heaps by core number, so there is no need to protect these heaps.  to add lock to buffer heap ?  Do you have any advice? Thanks!

[2019-03-20 05:17] RanderWang commented on #1128
@lgirdwood  sorry, I made a mistake: there is a lock to protect buffer heap.

[2019-03-20 05:46] ranj063 commented on #1073
@stevyan could you please check something for me with the build version 20190227?
Was the DSP getting powered off and on during the S3 test?

[2019-03-20 07:33] Jiangxinx commented on #1073
@ranj063 I have checked the DSP status with version 20190227 and daily version.
step:
   1.sudo ./stress-s3.sh 50 1 0
   2.sudo cat  /sys/bus/pci/devices/0000\:00\:0e.0/power/runtime_status

Output(20190227):
   active

Dmesg(20190227):
[code]

Output(20190320):
   error

Dmesg(20190320):
[code]

[2019-03-20 08:57] tlauda commented on #1152
I've looked into kernel and FW logs and it seems there is something wrong with HDA stream after resume. From FW perspective it just stopping and starting the new pipeline, but after resume there is problem with getting new data from host/consuming data on link (cannot tell wchich one), which causes xrun.

[2019-03-20 09:04] xun2z commented on #1152
We have resume issue on cml platform before. [linux #592](https://github.com/thesofproject/linux/issues/592#issuecomment-458830800)

[2019-03-20 09:23] Jiangxinx commented on #784
Passed on daily test
Step:
1. aplay-10000.sh

Env:
sof master: 6e88bdf1
kernel sof-dev: 95b2fab5
tplg: sof-apl-pcm512x.tplg

[2019-03-20 10:54] zhuyingjiang commented on #1073
@ranj063 this issue is caused by commit 9a5e2e4ff4 and 7b12f064, revert these two can make the test passed.
But since 7b12f064 is to make NOCODEC and HDA mutually incompatible. This means NOCODEC is still depend on HDA when do suspend/resume, so there should be some bug during the NOCODEC suspend/resume.
I will go deep with this.

[2019-03-20 13:07] wenqingfu commented on #1133
duplicate of who? 1114?  if so, please don't save the four key stroke '1' '1' '1' '4', sir.. duplicate have 50% information, 'duplicate of 1114" have 100% information.

[2019-03-20 13:08] abonislawski commented on #1080
This one is working without errors but I had to play a little with includes flow (without that there were errors like implicit declaration or undefined reference, etc.).
In some places I didnt just replaced platcfg.h with platform.h, for example in memory.h platcfg.h was deleted but added platform.h to linker script. In alloc.h I have replaced memory.h with platform.h. Also deleted in cpu.h withou

[2019-03-20 14:21] ranj063 commented on #1073
@zhuyingjiang could you please paste commit id with a link so its easier to check?

[2019-03-20 15:53] lgirdwood commented on #1152
@ranj063 anything in the driver PM resume path that could impact the HDA stream (or has been changed recently) ?

[2019-03-20 15:56] ranj063 commented on #1152
@lgirdwood resuming link dma after S3 is a known issue. Libin has a patch to get it working but it is still under review.
https://github.com/thesofproject/linux/issues/489
https://github.com/thesofproject/linux/pull/725

[2019-03-20 15:58] #784 closed

[2019-03-20 18:19] wenqingfu commented on #1113
#1050 was closed by @RanderWang 's patch thesofproject/linux/#705 which merged several days ago. If @Jiangxinx 's report above still fails at the moment, it's probably not the same issue

[2019-03-21 01:21] keqiaozhang commented on #1152
@ranj063 @libinyang
I tested PR725 on WHL, it can reduce the probability of this issue(100% ->~10%). But it also introduces another issue, HDMI playback will be muted after resuming.

[2019-03-21 02:24] libinyang commented on #1152
This is another issue which I'm debugging on it. It's a codec driver issue. The root cause is the power on sequence has contest inside hdmi codec driver.

[2019-03-21 02:50] wenqingfu commented on #1152
please open a new issue and refer to the number here.

[2019-03-21 02:55] libinyang commented on #1152
This bug is duplicated with https://github.com/thesofproject/linux/issues/489

[2019-03-21 02:55] libinyang commented on #1152
OK. I will do it.

[2019-03-21 05:01] RanderWang commented on #1133
yes, I get it.

[2019-03-21 09:47] Jiangxinx opened #1161 "aplay failed after speaker test with Dhw:0,1 on BYT-mb-rt5651"
Summary:
Aplay with Dhw:0,0 failed after speaker test with Dhw:0,1 on BYT-mb-rt5651.

Step:
    1.speaker-test -Dhw:0,1 -c2 -t wav
[code]

   2.aplay -Dhw:0,0 -c2 -r48000 -fS16_LE Music/California_Dreaming_48k_16bit.wav -vv -i
[code]

Dmesg:
[code]
 Sof-logger:
[code]

Test env:
sof master: cd4633c5
kernel sof-dev: 0ba314f4
tplg: sof-byt-rt5651.tplg

Log:
[dmesg.log](https://github.com/thesofproje

[2019-03-21 12:05] tlauda commented on #1161
Please verify after applying following patches: #1136, #1159, #1160 and #1162.

[2019-03-21 12:07] tlauda commented on #1107
@ranj063 Please verify after applying following patches: #1136, #1159, #1160 and #1162. @xiulipan confirmed, that sound is now clean.

[2019-03-21 12:14] zhuyingjiang commented on #1073
@ranj063 Updated, and I made a PR[#739](https://github.com/thesofproject/linux/pull/739) for this issue, could you review it for me?

[2019-03-21 12:15] zhuyingjiang commented on #1072
This has the same root cause with #1073

[2019-03-21 12:58] wenqingfu commented on #856
Should this issue be closed by thesofproject/linux#705? @RanderWang @keyonjie @slawblauciak . If so, please close it

[2019-03-21 15:06] tlauda commented on #1147
@lyakh I cannot reproduce it with the following pipeline: [host] - [src] - [vol] - [dai (48 kHz 24 bit)] and stream params: 8 kHz, 32 bit.
I'm using current HEAD: cd4633c53e14f722e3e97a17e24a75b07a45868b.
Could you share the full log and screenshot of recorded sine wave .

[2019-03-21 15:20] lgirdwood commented on #1080
@abonislawski please do send a PR, this way CI will give it a good test too. :)

[2019-03-21 15:37] lgirdwood commented on #1133
@RanderWang please also use the duplicate label too.

[2019-03-21 16:04] ranj063 opened #1165 "Topology: quit building topology if any of the debug macros fail"
there are some debug macros defined in m4/debug.m4 that help determine if the topology has valid arguments for some macros. In case of a failure, today we continue building the topology anyway. Quit building tplg and report the error instead using m4exit() in case of errors

[2019-03-21 16:48] ranj063 commented on #1107
@tlauda confirmed fixed with the above PR's that are merged into master already.

[2019-03-21 16:48] #1107 closed

[2019-03-21 17:24] ranj063 commented on #1147
@lyakh #1107 was fixed with the recent changes on master. Can you please check if this issue still persists?

[2019-03-21 17:45] ranj063 commented on #1161
@tlauda this is not related to the noise issue. so the above PR's likely wont help

[2019-03-21 17:51] ranj063 commented on #1161
@Jiangxinx it looks like the speaker-test failed in the first step. So obviously aplay after that will fail as well.
I am suspecting the kernel is not updated.

[2019-03-21 18:08] ranj063 commented on #1161
I have verified this issue doesnt exist with these commits:
kernel  commit: 2293bc78b0
fw commit: de469547ed

[2019-03-21 18:31] tlauda commented on #1161
@ranj063 I've suggested above PR's, because probably all of them are needed to make speaker test work. Error highlighted above is fixed by #1159.

[2019-03-21 18:32] tlauda commented on #1147
@ranj063 My fixes are only applicable to non-cAVS platforms. This APL issue is caused by something else.

[2019-03-21 18:33] ranj063 commented on #1161
@tlauda all of the above PR's are merged to master now and the commit I included is the latest tip of master

[2019-03-21 22:45] cujomalainey opened #1166 "Component registration seems to violate checkpatch"
I am attempting to write a new effect component and I am currently hitting a checkpatch error that I am wondering if I should ignore since there is a reason that the rest of the components don't follow it or if I should send a pull request to fix the other components.

Currently component registration is done as follows.
[code]

When you try and submit a patch currently with this code you get
[cod

[2019-03-21 22:49] ranj063 commented on #1166
@cujomalainey checkpatch got accidentally removed when the shift to cmake happened so this was likely missed when the self registration was introduced.

[2019-03-21 23:04] cujomalainey commented on #1166
Ok, I'll draft a PR.

[2019-03-22 01:27] stevyan commented on #1062
**Summary:**
This issue has been fixed, and doesn't occurred within daily build based on BYT rt5651.

**Test env:**
sof master: 6e88bdf1
kernel sof-dev: 95b2fab5
tplg: sof-byt-rt5651.tplg

[2019-03-22 01:27] #1062 closed

[2019-03-22 06:55] RanderWang commented on #856
yes, it should be closed by thesofproject/linux#705

[2019-03-22 06:55] #856 closed

[2019-03-22 07:44] Jiangxinx opened #1169 "[APL UP2 PCM512x] - [equlizer]: regerist card failed with sof-apl-eq-pcm512x."
Summary:
   regerist card failed with sof-apl-eq-pcm512x.

Step:
1. aplay -l

Output:
aplay: device_list:270: no soundcards found...

Dmesg:
[code]

Logger:
[code]

Env:
sof master: f8703cd3
kernel sof-dev: 2293bc78
tplg: sof-apl-eq-pcm512x.tplg

Log:
[dmesg.log](https://github.com/thesofproject/sof/files/2995472/dmesg.log)
[logger.log](https://github.com/thesofproject/sof/files/2995473/logger.log

[2019-03-22 09:22] tlauda commented on #1169
Fixed by #1172.

[2019-03-22 09:46] abonislawski commented on #1166
Yes, thats because checkpatch was accidentally disabled.

Anyway this checkpatch warning is incorrect with kernel coding style:
https://www.kernel.org/doc/html/v4.11/process/coding-style.html#functions
(EXPORT just after a function body)

Or maybe there is a need to remove this empty line between function body and DECLARE_COMPONENT?

[2019-03-22 09:50] Jiangxinx opened #1173 "[WHL HDA] pulseaudio have no sound"
Summary:
pulseaudio have no sound on WHL-hda platform. Sof-logger have no obvious error trace.

Step:
1.paplay Music/California_Dreaming_48k_16bit.wav

Dmesg:
[code]

Env:
sof cml-003-drop-stable: 55ae67b
kernel sof-dev: 2293bc78
tplg: sof-hda-generic.tplg
HW: WHL (HD-A mode) with ALC700

Log:
[logger.log](https://github.com/thesofproject/sof/files/2995915/logger.log)

[2019-03-22 11:18] jajanusz commented on #1166
I think we should decide if we really want them to be static., then we should fix checkpatch to treat DECLARE_COMPONENT just like EXPORT_SYMBOL and then start fixing code according to these decisions. Some more info also there: https://github.com/thesofproject/sof/pull/1167#issuecomment-475581866

[2019-03-22 12:35] lgirdwood commented on #1166
ok, path of least resistance it to use EXPORT_SYMBOL instead. Saves changing/testing checkpatch.

[2019-03-22 12:53] jajanusz commented on #1166
I think it'd be better to not have misleading name. Export sounds like something that is globally exported not just added to container section, where it's not even accessible it with some kind of identifier.

I checked checkpatch and it's not that bad. It does just 2 things for EXPORT_SYMBOL:
1. Adds exception which allows it to be used right after another declaration without blank line - fortunat

[2019-03-22 14:27] tlauda commented on #1087
Fixed by #1177.

[2019-03-22 15:20] lgirdwood commented on #1166
@jajanusz ok, and IIRC we are not really exporting the symbols but we are only exporting/declaring components. i.e. this can only be used with components and not other symbols. So lets go with checkpatch fixes :)

[2019-03-22 15:27] plbossart commented on #1173
@Jiangxinx Can you clarify what this has to do with pulse audio? the boot issue should happen with aplay as well.

[2019-03-23 08:25] tlauda commented on #182
@keqiaozhang Do we still have repro?

[2019-03-23 08:34] tlauda commented on #590
@ranj063 Don't we already free pipelines and components on topology unload or am I missing something?

[2019-03-23 08:36] tlauda commented on #675
@lgirdwood @mengdonglin Should we close this one, as it's not FW issue?

[2019-03-23 08:38] tlauda commented on #732
@singalsu Please check with current master. The constraint is gone on cAVS platforms.

[2019-03-23 15:23] ranj063 commented on #590
@tlauda I suppose the title is not very clear on the requirement. What I meant was today when we load the topology, the driver sends IPC's to the DSP to set up the components and pipelines. But on the other hand when there are no IPC's sent to the DSP when the topology is unloaded. All we do is just power off the DSP.
I suppose the ask here is to be able to tear down a pipeline and set up a new on

[2019-03-24 13:34] #675 closed

[2019-03-24 13:42] #1166 closed

[2019-03-24 13:46] lgirdwood commented on #590
@ranj063 the FW infrastructure is already place to tear down pipelines, so we are good to go when the kernel side is ready. I think the difficulty is adding/removing a topology at runtime from userspace. There is currently no kernel interface defined to do this (could be a new ALSA ioctl though).

[2019-03-24 15:28] tlauda commented on #590
@lgirdwood Should we close this issue and open one on kernel side?

[2019-03-25 03:07] keqiaozhang commented on #182
@tlauda This issue is observed on a previous platform, this platform is not our POR any more and we don't have a device to support 4ch output now, so let's close this issue temporarily. we can reopen it if needed.

[2019-03-25 03:07] #182 closed

[2019-03-25 03:57] ranj063 commented on #590
@lgirdwood @tlauda I'll move this issue to the kernel repo

[2019-03-25 03:58] #590 closed

[2019-03-25 08:09] abonislawski commented on #1080
Done in PR #1171 so can be closed

[2019-03-25 08:09] #1080 closed

[2019-03-25 09:52] tlauda commented on #257
@plbossart Could you rescan the project to make sure all the issues are gone?

[2019-03-25 09:56] tlauda commented on #801
@markyang @mengdonglin Still reproducible?

[2019-03-25 09:58] dabekjakub commented on #676
added in #1037

[2019-03-25 09:58] #676 closed

[2019-03-25 10:14] Jiangxinx opened #1179 "[WHL] Noise in the few seconds since the start of playback on WHL-hda platform."
Summary:
Aplay have noise in the few seconds since the start of playback on WHL-hda platform.
Dmesg and Sof-logger have no obvious error trace.

Step:
1.aplay -Dhw:0,0 -r 48000 -c 2 -f s16_le Music/sine_48k_16bit_10s_stereo_l5_r2.wav -vv -i

Logger:
[code]

Env:
sof cml-003-drop-stable: 55ae67b
kernel sof-dev: e127788a
tplg: sof-hda-generic.tplg

Log file:
[dmesg.log](https://github.com/thesofproj

[2019-03-25 10:20] tlauda commented on #1179
Can you play sine wave and show us how does the noise look like?
Short recording or screenshot from Audacity will be OK.

[2019-03-25 10:36] emilchudzik commented on #1173
@Jiangxinx why did you use sof-hda-generic.tplg? did you get fw from cml-003 branch and topology from master branch?

You should use topology from the same branch as fw.

Please rebuild and try again.

[2019-03-25 11:59] singalsu commented on #1147
SRC will need some updates to behave more like other components with timer based scheduling. It supports the circular component buffers but the copy function logic to decide how many frames to process must be updated. I will start soon with needed updates.

[2019-03-25 14:13] lgirdwood commented on #1147
@singalsu scheduling time domain can come from a timer or DMA IRQ so SRC must be able to work with both. There is a PR merging that will also allow external time domains to be defined too (e.g. for ASRC)

[2019-03-25 15:16] singalsu commented on #1147
Also I just confirmed I have this issue with UP2+HiFiBerry so I can test the fix. I've assigned this bug to myself.

[2019-03-26 10:22] lgirdwood opened #1185 "ipc: support compound messages"
Firmware should be able to support compound IPC whereby multiple IPC commands are send as one (using one doorbell IRQ). This allows a speed up in initialization and reduced latency switching use cases.

We need to categorize which types we can categorize and how we handle failure for each. I can think of :-

1) Topology construction. Whole topology is rewound on failure on any component. e.g. if w

[2019-03-26 10:48] jajanusz commented on #291
Closing, #736 is more specific

[2019-03-26 10:48] #291 closed

[2019-03-26 10:56] jajanusz commented on #736
@lgirdwood
These unit tests has to be run somewhere.
Is qemu usable? If so, then I'll need some info how to run it.
In xtensa simulator I can run simple program like `main() { printf("Hello"); }` and it will print to stdout. I should be able to do it somehow in qemu.
AFAIK we use qemu in our ROM boot tests. If you could point me to some info how to setup it locally, it'd be helpful.

[2019-03-26 12:18] dragosht commented on #1092
@plbossart I have some changes available for this issue at https://github.com/dragosht/sof/commit/2c4b7a2e7ff69cc44047fc477ce88b981769f0ee . Basically, generating multiple HWConfig sections and referencing those from the BE section seems to work, but I haven't yet figured out how to deal with having multiple SOF_TKN_INTEL_SSP_SAMPLE_BITS values.

So for instance, having 2 HW configs like this:

[2019-03-26 14:18] michalgrodzicki commented on #257
Task is assigned to @xiulipan, He will do next scan.

[2019-03-26 14:19] michalgrodzicki commented on #345
#743 is closed, what is a status here?

[2019-03-26 14:24] michalgrodzicki commented on #580
@singalsu any update on this?

[2019-03-26 14:25] michalgrodzicki commented on #583
@mengdonglin what is a current status here?

[2019-03-26 14:33] michalgrodzicki commented on #736
@lgirdwood any comment?

[2019-03-26 14:34] michalgrodzicki commented on #737
@jajanusz what do you think?

[2019-03-26 14:39] jajanusz commented on #737
Everything is possible, but I'd like to have some more info about our qemu: https://github.com/thesofproject/qemu

+what I already wrote #736 - these issues are related

[2019-03-26 14:40] michalgrodzicki commented on #801
@markyang @mengdonglin any update here?

[2019-03-26 14:51] michalgrodzicki commented on #1063
@sathyap-chrome - any update?

[2019-03-26 15:03] sathyap-chrome commented on #1063
Hi Michal, sorry for the delay. due to other issues, i couldnt try this (24/32) playback . Will provide an update tomorrow EOD my time.

[2019-03-26 15:56] ranj063 commented on #1092
@dragosht please take a look at dmic.m4 for an example of how we add 2 sets of PDM_TUPLES() for the DMIC's. You might have to do something similar to it. Basically, if you have the same set of tokens, you need to have something like this ine the conf file: ie tuples."short.pdm0" and  tuples."short.pdm1".
Is this helpful?
SectionVendorTuples."DAICONFIG.DMIC0_pdm_tuples" {
	tokens "sof_dmic_pdm_toke

[2019-03-26 16:43] lgirdwood commented on #345
@keqiaozhang yeah, I think this should be closed too. Can you retest and confirm.

[2019-03-26 17:07] lgirdwood commented on #736
@jajanusz qemu simulates bare metal DSP from BYT -> ICL so it's missing C library support. In order to run the UTs on qemu (including CI) we would have to follow ROM test approach. i.e.

1) UT includes xtensa-crt.S that creates C runtime environment and jumps to main()
2)  printf() would call trace() infrastructure which would write to special memory device (which qemu printf()).

It seems we are

[2019-03-26 17:14] lgirdwood commented on #737
@jajanusz it appears the qemu docs did not transfer over to sof-docs. I will take the action.

[2019-03-26 22:48] #1169 closed

[2019-03-26 22:51] ranj063 opened #1190 "PCM512x EQ pipeline playback failure"
Unable to start playback with the EQ pipeline

kernel: sof-dev: e127788a6
FW: master: 9890d2b782

: SET_VALUE
[ 1529.683838] sof-audio-pci 0000:00:0e.0: ipc tx succeeded: 0x50010000: GLB_COMP_MSG: SET_VALUE: SET_VALUE
[ 1529.683851] sof-audio-pci 0000:00:0e.0: ipc tx: 0x40020000: GLB_PM_MSG: CTX_RESTORE
[ 1529.683907] sof-audio-pci 0000:00:0e.0: ipc tx succeeded: 0x40020000: GLB_PM_MSG: CTX_RESTOR

[2019-03-26 22:52] ranj063 commented on #1190
@singalsu @juimonen do you also see this error?
Is there a temp workaround for this that can unblock me?

[2019-03-27 01:39] stevyan commented on #801
**Summary:**
This issue cannot be reproduced with the daily build version (20190327) based on APL UP2 nocodec.

**Test Env:**
sof master: 9890d2b7
kernel sof-dev: e127788a
tplg: sof-apl-nocodec.tplg

[2019-03-27 01:39] #801 closed

[2019-03-27 07:33] keqiaozhang commented on #345
Confirmed that this issue is fixed, close this bug.

[2019-03-27 07:33] #345 closed

[2019-03-27 07:45] juimonen commented on #1190
@ranj063 yes I see it. As @singalsu said in irc the problem is the memcpy_s in component new().
memcpy_s(&dev->comp, sizeof(dev->comp)
should be
memcpy_s(&dev->comp, sizeof(struct sof_ipc_comp_process).
with that change the error is gone.
I can make PR for this if @singalsu doesn't have it ready already...

[2019-03-27 11:00] singalsu commented on #1190
The fix is in PR #1191.

[2019-03-27 12:38] lbetlej commented on #681
driver may respond with a meaningful dmesg entry on a specific ROM error code documented in sof-docs

[2019-03-27 12:40] lbetlej commented on #682
to be covered by IPC fuzzer

[2019-03-27 12:44] lbetlej commented on #848
agree , let's add STOP functionality to FW

[2019-03-27 12:53] lbetlej commented on #960
m4 format to be deprecated

[2019-03-27 12:57] lbetlej commented on #977
done

[2019-03-27 12:57] #977 closed

[2019-03-27 13:07] lbetlej commented on #560
@bkokoszx take a look at ../cavs/ssp.c for MCLK handling. This should be `CAVS_VERSION` dependent.

[2019-03-27 13:11] jajanusz commented on #560
@lbetlej
Imho it should be more like @plbossart wrote. Platform generic code that just takes values from platform/ip(for example cavs) defs.

[2019-03-27 14:29] abonislawski commented on #945
Fixed in PR #1186

[2019-03-27 14:29] #945 closed

[2019-03-27 14:30] ranj063 commented on #960
@lbetlej whats the replacement plan

[2019-03-27 14:47] lgirdwood commented on #681
Test key should be generated and added to git alongside public dev key. rimage already takes the key location as an argument so it would be easy enough to add a make target to sign with the test key.

[2019-03-27 20:42] wenqingfu commented on #1106
fixed by #1151.

@fredoh9  looks like you need to put the "fixes" magic word in the PR description post for it to automatically close fixed issue. Thanks!

[2019-03-27 20:42] #1106 closed

[2019-03-27 21:09] lgirdwood commented on #960
@lbetlej can you open a new enhancement for topology definition syntax/parsing to replace M4. This needs to be discussed and aligned. Some  requirements would be #define and #include support alongside param checking.

[2019-03-27 21:56] wenqingfu commented on #1114
now #1131 is merged. should this bug be fixed? @tlauda @RanderWang

[2019-03-27 22:13] tlauda commented on #1114
@wenqingfu Yes.

[2019-03-27 22:24] wenqingfu commented on #1114
Close. Please reopen if it still fails in your daily regression. @Jiangxinx @stevyan

[2019-03-28 01:50] mengdonglin commented on #1113
@Jiangxinx can you confirm if you can still reproduce this issue? @stevyan

[2019-03-28 03:00] mengdonglin commented on #1179
@tlauda Should we use https://github.com/thesofproject/sof/blob/cml-003-drop-stable/tools/topology/sof-hda-intel-common.m4 for cml-003? And since the timer driven scheduler is also merged by master branch, shall we revise all topology that involve HDA pipelines?

Now cml-003 is used to for both ChromeOS (WHL RVP with I2S codec ALC5682) and Ubuntu (WHL RVP with on board HD-A codec ALC700).

[2019-03-28 05:10] RanderWang commented on #1179
sof-hda-intel-common.m4  is renamed to sof-hda-generic.4 on master.

[2019-03-28 05:19] wenqingfu commented on #780
@keqiaozhang would you mind giving it a test refresh to see if this bug is still active?  thanks!

[2019-03-28 05:37] Jiangxinx commented on #1113
This issue can still be reproduced. Fail to check aplay function after suspend/resume 29 times on APL-UP2-pcm512x.
Sof-logger:
[code]

Env:
sof master: 44705dfc
kernel sof-dev: 03670025
tplg: sof-apl-pcm512x.tplg

[2019-03-28 05:39] xiulipan commented on #257
@plbossart @tlauda @plbossart
I will try to run a new round Coverity test on my own machine and to evaluate the possibility to make it into our CI.

[2019-03-28 05:53] Jiangxinx commented on #1179
I have recorded this noise by using sina wave, and there are four time frames.
1 2.59s:
![1](https://user-images.githubusercontent.com/44258626/55133372-671a5500-5160-11e9-98f2-20783f7e8cb3.png)

2 2.67s:
![2](https://user-images.githubusercontent.com/44258626/55133468-bceefd00-5160-11e9-8663-cde842e360e9.png)

3 2.75s:
![3](https://user-images.githubusercontent.com/44258626/55133474-c2e4de00-5160

[2019-03-28 06:18] Jiangxinx commented on #1114
This issue can still be reproduced in daily regression on APL-UP2-pcm512x.
 sof-looger:
[code]

Dmesg:
[code]

Env:
sof master: 44705df
kernel sof-dev: 03670025
tplg: sof-apl-pcm512x.tplg

[2019-03-28 07:39] tlauda commented on #1179
@Jiangxinx This whole sine wave looks strange and not correct, not only those 4 places. So the playback is OK at the beginning and just go like this after ~2 seconds? Do you have 100% reproduction rate?
@emilchudzik Do you see something similar on our side?

[2019-03-28 07:42] tlauda commented on #1173
@Jiangxinx It looks like problem with FW booting. Does it also reproduce with aplay? This message is weird: Connected to device alsa_output.pci-0000_00_1f.3-platform-**skl_hda_dsp_generic**.stereo-fallback (index: 0, suspended: yes).

[2019-03-28 07:43] tlauda commented on #1161
@Jiangxinx Any updates?

[2019-03-28 07:44] tlauda commented on #1114
@Jiangxinx Error due to the timer not set for HDA pipeline. It looks like you haven't used the latest topology.

[2019-03-28 07:56] singalsu commented on #732
@tlauda @michalgrodzicki @wenqingfu Oops, thanks for reminder I'll check this now!

[2019-03-28 08:12] Jiangxinx commented on #1173
Update some details:  aplay is also failed after open  pulseaudio service.  By the way, this issue can not be reproduced after close pulseaudio service:
[code]
Env:
sof cml-003-drop-stable: 55ae67b
sof master: 742f83ba
kernel sof-dev: 03670025
tplg: sof-hda-generic.tplg & sof-hda-intel-common.tplg
HW: WHL (HD-A mode) with ALC700

Attach the dmesg info of system booting up after open  pulseaudio se

[2019-03-28 08:16] keqiaozhang commented on #780
Confirmed that this issue is fixed on glk-011-drop-stable branch. It can pass 10000 iterations without errors.
let's close this bug.

[2019-03-28 08:16] #780 closed

[2019-03-28 09:39] xiulipan commented on #736
@jajanusz
you can check the
https://github.com/thesofproject/sof/blob/master/scripts/qemu-check.sh

In this script, there are some example about how to read DSP => HOST IPC payload(IPC ready message)

[2019-03-28 09:42] RanderWang commented on #1114
I validated it on HDA codec and found the issue has been fixed.

[2019-03-28 10:10] lyakh commented on #1147
I'm not sure why @xiulipan considers this to "not be an error," but I can now confirm his statement - I'm getting similar distorted "metallic" sound on MinnowBoard with rt5651 too now.

[2019-03-28 10:39] sathyap-chrome commented on #1063
Hi @lgirdwood  with 16 bits, playback was not pleasant with FSYNC of 50000. Hence we are currently using 46875 FSYNC with 16 bits playback.

With 50000 FSYNC, did you observe playbacking going unpleasant on GKL after sometime ( ~ 2 - 3 mins of playback)

With 24 bit i'm not getting a good FSYNC value . I'll try 24 bit with FSYNC 50000 and check if the playback is fine.

[2019-03-28 10:48] dragosht commented on #1092
@ranj063 Yes, this will probably be the way to deal with it. And then the driver will somehow need to get the right value of ssp.sample_valid_bits based on which hw_config it is using ...

[2019-03-28 11:01] lgirdwood commented on #1179
@bardliao could this be codec related i.e. PLL not locking ?

[2019-03-28 11:18] mengdonglin commented on #1114
@Jiangxinx @DarrenxWang @stevyan Please help to check if the sof-apl-pcm512x.tplg used by daily test has been update to latest for all HDA pipelines to use timer as scheduling source:
https://github.com/thesofproject/sof/commit/6a0dcb3a109f906a7382ff1c7c3b10c45a8e2fb4

[2019-03-28 11:19] mengdonglin commented on #1113
@Jiangxinx please check the sof-apl-pcm512x.tplg is the latest as issue https://github.com/thesofproject/sof/issues/1114

[2019-03-28 12:12] abonislawski commented on #798
Please check PR #1195 about readme
+ PR 101 in docs:
https://github.com/thesofproject/sof-docs/pull/101

[2019-03-28 12:13] tlauda commented on #1113
@Jiangxinx Can you attach the full FW log? The above error means that the component hasn't been set to COMP_STATE_PREPARE after the last playback. Maybe we didn't stop the pipeline?

[2019-03-28 13:07] plbossart commented on #1063
@sathyap-chrome why would you use 46875Hz? This isn't a frequency we want to use at all...I know it's a convenient 24MHz/512, but that's not the frequency we resample to. We need to close this issue asap.

[2019-03-28 13:38] singalsu commented on #732
I've tried this but so far no success. One of the key problem is that the pipeline params/prepare walk propagates the 50 frames per 1ms (dev->frames) from DAI to PCM. The presence of SRC type component in the pipeline is not recognized. SRC might be able to alter it in prepare walk, maybe though. So the 50 constraint for buffers gets propagated to where it should not be needed.

I was not able to

[2019-03-28 14:11] emilchudzik commented on #1179
HDA tests on our python tests works well: FW cml-003-drop-stable: 55ae67b

On linux (kernel and FW from cml003 release) and topology:
sof-hda-intel-common.m4 -> /lib/firmware/intel/sof-tplg/sof-hda-generic.tplg
- loading is ok (no error in dmesg)

- playback using aplay return errors:
[code]

[2019-03-28 14:11] emilchudzik commented on #1179
Sorry, closed by mistake, just reopen

[2019-03-28 14:14] lgirdwood commented on #1173
@Jiangxinx usually pulseaudio will "probe" the capabilities of each PCM device and this is where most of any breakage will occur. So I would really expect to see IPC timeout or FW/driver crash here, but in this case it appears PM/boot related.  Can you confirm this is only an issue with WHL and pulseaudio works with the same topology on other platforms.

[2019-03-28 14:23] lgirdwood commented on #1114
@mengdonglin blocker for 1.3-rc1

[2019-03-28 14:53] #1072 closed

[2019-03-28 15:00] wenqingfu commented on #1114
@Jiangxinx @RanderWang can you please help to do a cross checking and come to a conclusion of the testing status?

[2019-03-28 15:29] sathyap-chrome commented on #1063
@plbossart  This was recommended by maxim team. Please find attached mail discussion (attached as .txt). @bardliao is copied.
[Re BCLK not being right for MAX98357a.txt](https://github.com/thesofproject/sof/files/3018744/Re.BCLK.not.being.right.for.MAX98357a.txt)

[2019-03-28 15:53] lgirdwood commented on #736
@xiulipan would you be able to add some instructions on sof-decs for building and using qemu. You can aslo copy and pase the docs from the SOF wiki on alsa-project.org

[2019-03-28 18:08] wenqingfu commented on #1092
thesofproject/linux#758

[2019-03-29 01:10] keqiaozhang commented on #1114
This issue is fixed on GLK, HDMI playback works well.
sof/tplg:glk-011-drop-stable/55ae67b5c
kernel:cros-sof-v4.14-rebase/d4d2c3b8

[2019-03-29 01:29] stevyan commented on #1114
**Summary**
This issue is fixed on APL UP2 PCM512x, HDMI playback works well.

**Test Env**
sof master: 742f83ba
kernel sof-dev: e29122d6
tplg: sof-apl-pcm512x.tplg

[2019-03-29 01:29] #1114 closed

[2019-03-29 02:49] Jiangxinx commented on #1113
Passed on daily test.

[2019-03-29 02:49] #1113 closed

[2019-03-29 02:52] Jiangxinx commented on #1073
passed on daily test.

[2019-03-29 02:52] #1073 closed

[2019-03-29 03:06] zhuyingjiang commented on #1063
link the [PR1138 ](https://github.com/thesofproject/sof/pull/1138)

[2019-03-29 05:34] Jiangxinx commented on #1161
This issue can still be reproduced on daily test.
Test env:
sof master: 742f83ba
kernel sof-dev: e29122d6
tplg: sof-byt-rt5651.tplg

[2019-03-29 06:15] RanderWang commented on #1179
please don't try it on cml-003 now. Michal told me this is not for HDA, tested HDA on master.

[2019-03-29 06:24] RanderWang commented on #1179
@Jiangxinx  can you validate it on master ? I tested it and got no noise

[2019-03-29 07:04] Jiangxinx commented on #1179
@RanderWang I retested this issue on my side by using master branch,  the noise still exist.
Step:
1.aplay -Dhw:0,0 -r 48000 -c 2 -f s16_le ~/Music/sine_48k_16bit_10s_stereo_l5_r2.wav -vv -i

Env:
sof master: 742f83ba
kernel sof-dev: e29122d6
tplg: sof-hda-generic.tplg

[2019-03-29 07:07] juimonen commented on #1161
For me the speaker test (so playing to hw 0,1) will fail despite of playing first to hw 0,0.

attached logs for playing to hp (hw 0,0) and to speaker (0,1), not sure these correspond to actual speaker and hp devices, but you can understand the difference.

so:

aplay -Dhw:0,0 -c2 -r48000 -fS16_LE test48.wav:
[hp_test_dmesg.txt](https://github.com/thesofproject/sof/files/3021466/hp_test_dmesg.txt)

[2019-03-29 07:13] RanderWang commented on #1173
According to Michal: cml-0003 is not for HDA, please validate it on master.
I tested on master and got sound, but the sound is not enjoyable.

[2019-03-29 07:27] juimonen commented on #1161
here's the topology graph for rt5651:
![tplg](https://user-images.githubusercontent.com/1136650/55216173-bade7a00-5204-11e9-995d-48c4612817aa.png)

so there's a src on the failing pipeline, otherwise looks pretty much the same.

[2019-03-29 07:52] bardliao commented on #1179
@lgirdwood Yes, it could be. Can we use the same DUT and test it with legacy HDA driver first?

[2019-03-29 07:53] RanderWang commented on #1173
sorry，  I find that I disable PM on WHL.

[2019-03-29 07:57] singalsu commented on #579
Customer requirement for volume is at least +20 dB .. -50 dB range. I increased the priority to P2.

[2019-03-29 08:02] tlauda commented on #1161
@juimonen Could you rebuild the topology and try again? From the error log I see, that you're missing some latest changes from master.

[2019-03-29 08:11] mengdonglin commented on #1113
@Jiangxinx Please share the test recipe of today's daily test.

[2019-03-29 08:17] mengdonglin commented on #1043
@keqiaozhang Is this issue still there?

[2019-03-29 08:17] Jiangxinx commented on #1113
Not reproduce on daily test.
Step：
1.aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero& sudo ~/test/stress-s3.sh 50 1 1

Env:
sof master: 742f83ba
kernel sof-dev: e29122d6
tplg: sof-apl-pcm512x.tplg

[2019-03-29 08:18] juimonen commented on #1161
@tlauda you're right, sorry about the confusion. Now with latest sof master it fails for some volume copy stuff...
[speaker_test_logger.txt](https://github.com/thesofproject/sof/files/3021675/speaker_test_logger.txt)

[2019-03-29 08:21] Jiangxinx commented on #1073
Not reproduce on daily test.
Step：
1. sudo ~/test/stress-s3.sh 50 1 0

Env:
sof master: 742f83ba
kernel sof-dev: e29122d6
tplg: sof-apl-nocodec.tplg

[2019-03-29 08:24] keqiaozhang commented on #1043
@mengdonglin
Yes, this issue still can be reproduced on GLK chromeOS with latest sof/driver code base.

[2019-03-29 08:24] mengdonglin commented on #611
@stevyan @Jiangxinx Please check the latest status

[2019-03-29 08:25] mengdonglin commented on #583
@keqiaozhang please help to check latest status with glk 1.1

[2019-03-29 08:31] xiulipan commented on #1147
@lyakh
I mean there is no error log or error dmesg.

So you mean you have all thing run right, but get noise when play?

[2019-03-29 08:43] keqiaozhang commented on #583
@mengdonglin
I didn't observe this issue in regular test. but I still need to run the stress test to double confirm it. will update it soon

[2019-03-29 08:43] mengdonglin commented on #1173
@Jiangxinx @Jiangxinx please help to use master branch to test WHL RVP in HD-A mode, and update the status.

[2019-03-29 08:50] lyakh commented on #1147
@xiulipan The noise can be eliminated be reducing the volume, @singalsu thinks, there might be an off-by-one error (in a volume configuration?) somewhere

[2019-03-29 08:52] Jiangxinx commented on #1173
I have checked the master branch on daily version, pulseaudio still have no sound and aplay also failed after open pulseaudio service.
Env:
sof master: 742f83b
kernel sof-dev: e29122d6
tplg: sof-hda-generic.tplg
HW: WHL (HD-A mode) with ALC700

[2019-03-29 08:59] xiulipan commented on #736
@lgirdwood good idea.
I create a issue in sof-docs to track this https://github.com/thesofproject/sof-docs/issues/102

[2019-03-29 09:11] xiulipan commented on #1147
@lyakh
Maybe the volume copy function need some check.

[2019-03-29 09:11] Jiangxinx commented on #611
Not reproduce on daily test.
Step：
1.aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero& sudo ~/test/stress-s3.sh 50 1 1

Env:
sof master: 742f83b
kernel sof-dev: e29122d6
tplg: sof-apl-pcm512x.tplg

[2019-03-29 09:12] #611 closed

[2019-03-29 09:14] Jiangxinx commented on #583
Not reproduce on APL-UP2-PCM521X platform.

Env:
sof master: 742f83b
kernel sof-dev: e29122d6
tplg: sof-apl-pcm512x.tplg

[2019-03-29 09:53] tlauda commented on #1161
@juimonen The current issue you have is related to SRC copying #1147 (SRC copied 0 bytes during preload run). Nevertheless, after fixing SRC issue this ppl will still fail due to the fact, that pipelines are triggered independently and kernel didn't start mixer pipeline.

[2019-03-29 10:01] #1190 closed

[2019-03-29 10:03] singalsu commented on #1147
@tlauda I'm at the moment updating SRC work with current pipeline. It supports circular buffers already but the processing size is pre-determined.

[2019-03-29 10:06] singalsu commented on #1147
@xiulipan @lyakh I've checked that volume nor SRC does not overflow. The overflow happens in PCM512x codec. It can be avoided by setting gain "Digital" to -1. With 0 dB the full scale peaks in music can do what's seen in this issue #619 that was filed by @juimonen.

[2019-03-29 10:13] tlauda commented on #1147
@singalsu Processing size shouldn't be a problem as long as it isn't 0, because that will trigger fail in the following components e.g. volume. But since SRC can sometimes produce 0 samples, we need the mechanism for stopping pipeline processing in that situation. Returning PPL_STATUS_PATH_STOP from src_copy will handle the stopping part, but render ppl scheduled on DMA won't get rescheduled, sinc

[2019-03-29 10:19] singalsu commented on #1147
As long as DAI in playback doesn't starve (xrun), returning zero samples in other pipeline should not be an error. SRC can output 0 samples in complex 44.1 <-> 48 kHz family conversions especially in the beginning when the internal buffers are not filled enough.

When converting within 48 kHz family it can operate with constant number of frames every copy.

[2019-03-29 10:51] tlauda commented on #1147
Yes, agree, but it doesn't make sense to perform copy on the components after SRC, if it produced 0 samples during preload phase. We would output zeroes anyway and also end up with mixed up DMA pointers as it was before. In the end it comes to the right implementation. I think that @bkokoszx is working on such pipeline flow, where components due to the different processing frames can produce even

[2019-03-29 10:54] lyakh commented on #1147
Looks like I was getting that corrupted sound with pulseaudio running and a few days old kernel with CONFIG_SND_SOC_SOF_DEBUG_FORCE_IPC_POSITION set. Without pulseaudio the audio quality seemed ok, although on maximum volume it was difficult to be sure. I then replaced the kernel with a newer one without that option set, and it was able to work properly also with pulseaudio enabled. However, then

[2019-03-29 11:02] juimonen commented on #1161
@tlauda ok. I tried similar topology in up2 and don't get the src error, maybe it is just faster and there's no underrun. However as you said the pipeline doesn't play, probably because other pipeline is not triggered. So as I understand this is not byt specific thing...

attached topology to test in up2, so in sof/topology dir do:
m4 -I m4 -I common -I platform/common sof-apl-src-pcm512x.m4 > sof

[2019-03-29 11:54] lyakh commented on #1147
I rebuilt both the kernel modules and the firmware, no panic this time, but the sound is bad. Attaching the result.
[corrupted-sound.tar.gz](https://github.com/thesofproject/sof/files/3022507/corrupted-sound.tar.gz)

[2019-03-29 12:06] singalsu commented on #1147
@lyakh Yep, that's the issue I'm trying to fix now. Sounds the same in my tests.

[2019-03-29 12:12] lgirdwood commented on #732
@singalsu can you align with @keyonjie , he is working on updates to make sure all params and constraints are propagated correctly through the pipeline. You should be able to resolve any remaining SRC issues after @keyonjie work is merged.

[2019-03-29 12:29] singalsu commented on #732
Excellent, I'll restart with this in beginning of next week. I'll share to @keyonjie my test topology.

[2019-03-29 13:41] jajanusz opened #1198 "host: fix calls from shared lib to executable"
Testbench segfaults when shared libs code calls main binary code. Probably something with export-dynamic/rdynamic.

[2019-03-29 13:44] jajanusz opened #1199 "host: update testbench to handle components properly"
Since #1167 comp inits are not exported so testbench cannot get them with dlsym

[2019-03-29 13:53] jajanusz commented on #1199
I prefer to change logic to load it from comp_init section instead of having hardcoded names like now.

@singalsu Are you ok with that?

[2019-03-29 13:54] lbetlej opened #1200 "Add to github templates for issues / enhancements / RFCs / feature requests"
The requested project improvement is to add to the Github project interface templates for:
* Bug report
* Enhancement
* Feature request
* RFC / Proposal

Example project that has such support:
https://github.com/zephyrproject-rtos/zephyr/issues/new/choose
I suggest to use the templates as in the link above.
The procedure to add the templates descibed at https://help.github.com/en/articles/creating

[2019-03-29 14:23] emilchudzik commented on #1173
I have the same as @Jiangxinx on linux machine when I start aplay:
![image](https://user-images.githubusercontent.com/41113230/55238815-af577700-5235-11e9-9eda-884d064ef5e2.png)

On our python tests in windows HDA works without issues. (FW: master/[a10e69d2](https://github.com/thesofproject/sof/commit/a10e69d2))

linux Env:
FW: master/[a10e69d2](https://github.com/thesofproject/sof/commit/a10e69d2

[2019-03-29 14:29] emilchudzik commented on #1179
I have the same symptoms like in: https://github.com/thesofproject/sof/issues/1173

I can't play beacuase of this erros: ![image](https://user-images.githubusercontent.com/41113230/55239516-2b05f380-5237-11e9-812b-bd7043b8daf6.png)

linux Env:
FW: master/[a10e69d2](https://github.com/thesofproject/sof/commit/a10e69d2)
tplg: master/[a10e69d2](https://github.com/thesofproject/sof/commit/a10e69d2) ->

[2019-03-29 14:42] emilchudzik commented on #1179
I cannot reproduce both issues: #1173 and #1179.
Do you have any additional patches for kernel?
Or do you have any additional steps for your WHL linux or BIOS?

In this bug you have issue with strange noise, but on the same configuration on #1173 you have no audio.
Both issues I cannot reproduce due to unable to play at all.

[2019-03-29 14:57] emilchudzik commented on #1173
This is my steps to build kernel:
- fresh kconfig repo
- fresh linux repo -> commit e29122d/sof-dev
- make defconfig
- then merge:
bash ./scripts/kconfig/merge_config.sh .config $KCONFIG_PATH/base-defconfig $KCONFIG_PATH/sof-defconfig $KCONFIG_PATH/hdaudio-codecs-defconfig
- and build: make bindeb-pkg -j32

Did you have any additional patches or steps? Or maybe additional thinks on linux machine t

[2019-03-29 15:21] lgirdwood commented on #583
@Jiangxinx @keqiaozhang can we close ?

[2019-03-29 15:41] lgirdwood commented on #1199
@jajanusz ack, lets load all types from the init section

[2019-03-29 16:02] ranj063 commented on #1199
@jajanusz yes I think it makes sense. Thanks!

[2019-04-01 01:43] DarrenxWang opened #1204 "Tool test topology build failed"
m4: test-tone-playback.m4: 45: fatal error: Invalid parameters (8) to PIPELINE_ADD
m4: test-tone-playback.m4: 45: fatal error: Invalid parameters (8) to PIPELINE_ADD
m4: test-tone-playback.m4: 45: fatal error: Invalid parameters (8) to PIPELINE_ADD
test/topology/CMakeFiles/tests.dir/build.make:106: recipe for target 'test/topology/CMakeFiles/tests' failed
make[3]: *** [test/topology/CMakeFiles/tes

[2019-04-01 02:46] mengdonglin commented on #1073
Fixed by https://github.com/thesofproject/linux/pull/739, same as https://github.com/thesofproject/sof/issues/1072

[2019-04-01 05:36] keqiaozhang commented on #583
This issue cannot be reproduced on GLK. We can close this issue now.
SOF/tplg: glk-011-drop-stable / 55ae67b5
Kernel driver: cros-sof-v4.14-rebase/a1d6bf0d

[2019-04-01 05:36] #583 closed

[2019-04-01 06:30] RanderWang commented on #1173
@emilchudzik  this is another bug,  sof can't resume with pulse audio enabled.

[2019-04-01 09:16] lgirdwood commented on #1200
@lbetlej interestingly this adds the templates to the SOF repo ! this will mean it can then be updated by anyone. :)

@michalgrodzicki @mengdonglin I will add you guys as the default owners of bugs, features etc for firmware and driver respectively.

[2019-04-01 09:38] lgirdwood commented on #1200
Added bugs and features for SOF FW, but feature, RFC and enhancement are all the same thing so should be filed unde feature request.

@plbossart @ranj063 I'm not going to do this for kernel as it will add commits to your repo (master branch by default).  Any comments ?

[2019-04-01 09:41] lgirdwood commented on #1204
@xiulipan I dont this this make target is tested by default for CI.

[2019-04-01 09:42] jajanusz commented on #1204
It's not. CI runs `scripts/build-tools.sh`, it would run `make tests` with `-t` argument. Should @xiulipan change to run it with tests?

[2019-04-01 09:53] Jiangxinx opened #1208 "Get noise when aplay on BYT-rt5651 platform."
Summary:
Hear the wrong frequency sound when aplay correct params on BYT-rt5651 platform.
Dmesg and sof-logger have no obvious error trace.

Step:
1.aplay -Dhw:0,0 -c2 -r48000 -fS16_LE Music/sine_48k_16bit_10s_stereo_l5_r2.wav -vv -i

Output:
[code]

Env:
sof master: 052942c8
kernel sof-dev: f304b5c2
tplg: sof-byt-rt5651.tplg

Recorded sine file
[Recorded_sine.zip](https://github.com/thesofproject

[2019-04-01 10:55] lgirdwood commented on #1173
@RanderWang can you confirm this issue is seen on other platforms like APL etc ? If so it's a 1.3 blocker.

[2019-04-01 10:59] tlauda commented on #1208
@Jiangxinx Please always add logs. There is no point in creating an issue without dmesg and FW logs. What is the repro ratio?

[2019-04-01 11:34] lgirdwood commented on #1208
@Jiangxinx L/R look similarly corrupted. @bardliao could this be codec misconfiguration ?

[2019-04-01 14:05] lgirdwood commented on #186
@RanderWang @mengdonglin moving this to v1.4

[2019-04-01 14:16] lgirdwood commented on #489
@stevyan @mengdonglin should'nt this be re-opened if it's listed as related with a PM bug now ?

[2019-04-01 14:24] bardliao commented on #1208
@lgirdwood Yes, codec can copy the data from one channel to the other channel or mix L/R together and output to both L/R channels. @Jiangxinx Could you use [LR_48k.zip](https://github.com/thesofproject/sof/files/3029791/LR_48k.zip) to see if the L/R channel are output separated or not?
Regarding the frequency issue, could you measure the physical frequency of LRCK, BCLK, and MCLK?
Also, could you

[2019-04-01 23:29] wenqingfu commented on #1142
Is the conclusion to turn this into a script CI runs on every PR?  @jajanusz @xiulipan who will create the script for "meaning full diff"?

[2019-04-02 05:03] xiulipan commented on #1204
@lgirdwood
For sof-ci, we have the `-t`. But without #1206 it won't exit with error.
For travis-ci we did not test `-t`. It will generate too many logs exclude the travis limitation, so we disabled it. If we would like to enable it again, we will need to try to redirect the logs of tools build.

[2019-04-02 07:11] Jiangxinx opened #1211 "[BUG][S3] Regression test: Trying resume playback failed after suspend/resume on APL-pcm512x and APL-nocodec."
**Summary**
Fail to resume playback after suspend/resume 1 times on APL-pcm512x and APL-nocodec. sof-logger is empty. sof-logger -t log is attached below.

**To Reproduce**
1.aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero& sudo ~/test/stress-s3.sh 50 1 1

**Expected behavior**
Success to resume playback.

**Dmesg**
[code]

**Environment**
sof master: acf2bd52
kernel sof-dev: f93c4ee9
tplg: sof-apl-

[2019-04-02 07:20] #798 closed

[2019-04-02 08:15] singalsu commented on #1208
@Jiangxinx When doing error recordings please use low enough recording gain so that recording is not clipped to full scale as this is. Also mp3 encoding is not a recommended format. It's a lossy coding that does not preserve the waveform shape. Please use flac or wav format.

But I think the mp3 is representative enough to say that the effect that is heard is not wrong frequency (e.g. pitch shift

[2019-04-02 08:32] xiulipan commented on #1204
@ranj063 @singalsu @xun2z @lgirdwood
I think we can discuss here about the test topology.

If we should renew it? or just delete it?

[2019-04-02 08:47] Jiangxinx commented on #1208
@bardliao I tried LR_48K using the daily version ofter enable DEBUG in rt5651.c, L/R channel are not separated and can hear the wrong frequency sound when aplay.

Dmesg after enable DEBUG:
[code]

Log file:
[dmesg.log](https://github.com/thesofproject/sof/files/3033042/dmesg.log)

LRCK:
![20190402161148](https://user-images.githubusercontent.com/44258626/55386073-3c197200-5561-11e9-8727-f546139812

[2019-04-02 08:57] bardliao commented on #1208
@Jiangxinx All LRCK/BCLK/MCLK looks the same? And the frequency is very low. Could you double check it?

[2019-04-02 09:14] lgirdwood commented on #1142
@wenqingfu no CI script, since it will routinely fail for valid merges due to a race between kernel and firmware ABI updates. @xiulipan should be working on a script that provides a meaningful diff that can bisect the kernel/FW to show when differences were applied, the commit hash, author etc. This will allow us to track any delta.

[2019-04-02 09:17] lgirdwood commented on #1211
@Jiangxinx probable kernel bug. Firmware has not booted hence the ROM error messages. Can you log this in the kernel. I will close here, but we can re-open if it proves to be FW.

[2019-04-02 09:17] #1211 closed

[2019-04-02 09:21] lgirdwood commented on #1204
@xiulipan I think @singalsu wanted to keep a few of the test topologies for test bench. @singalsu can you name the tests you ant to keep and we can build them as part of test bench.

[2019-04-02 09:22] Jiangxinx commented on #1208
@bardliao Retested the aplay function after removed  ccflags-y += -DDEBUG, and attach dmesg info below.By the way,i have checked the LRCK/BCLK/MCLK again, and got the same results.

Git diff:

dmesg:
[code]

Log file:
[dmesg.log](https://github.com/thesofproject/sof/files/3033198/dmesg.log)

[2019-04-02 09:27] singalsu commented on #1208
@Jiangxinx Are the oscilloscope pictures above just mains interference, 50 Hz?

[2019-04-02 09:35] lgirdwood commented on #1208
Yep, and given LRCLK, BCLK and MCLK are all 50Hz means @Jiangxinx your scope is not correctly connected to the signasl and grounded. Please also make sure the playback is enabled and running  too (since scopes will "autodetect" the mains if nothing else is propagating).

[2019-04-02 09:48] singalsu commented on #1204
We have used in tests playback pipelines with host -> comp -> DAI, where comp has been volume, SRC, IIR, FIR. The PCM format to use can be stereo S32_LE and DAI parameters do not matter. Testbench can overwrite the PCM format to other that's specified in the command line.

[2019-04-02 10:13] juimonen commented on #1208
@lgirdwood don't now about scope grounding, but I just got mb&rt5651 playing first time and the audio is complete bogus. it is like really low frequency brittle or anyway something very difficult to describe. I can switch between hp and speaker so I think my alsamixer setup is at least somehow correct.

[2019-04-02 10:16] naveen-manohar commented on #766
Issue observed on CML v4 series during stress cycle
2019-03-28T14:33:40,309989+05:30 sof-audio-pci 0000:00:1f.3: error: ipc error for 0x30010000 size 0x14
2019-03-28T14:33:40,309997+05:30 sof-audio-pci 0000:00:1f.3: error: DSP failed to add widget id 0 type 27 name : SSP1.OUT stream SSP1-Codec reply -22
2019-03-28T14:33:40,309999+05:30 sof-audio-pci 0000:00:1f.3: ASoC: failed to load widget SSP1.O

[2019-04-02 10:17] sathyap-chrome commented on #766
The issue noted by @naveen-manohar is seen on power cycling stress test on CML.
This is seen 1 / 2 times in 100 power cycles.

[2019-04-02 10:19] lgirdwood commented on #1204
@singalsu Sorry, not following - we are looking for the test files you need to keep from the following.
[code]
Which ones do you need as @xiulipan will delete the others.

[2019-04-02 10:32] lgirdwood commented on #766
@naveen-manohar @sathyap-chrome could someone attach dmesg and sof-logger output. Thanks.

[2019-04-02 10:41] naveen-manohar commented on #766
[failure_dmesg.txt](https://github.com/thesofproject/sof/files/3033510/failure_dmesg.txt)
[pass_dmesg.txt](https://github.com/thesofproject/sof/files/3033512/pass_dmesg.txt)

PFA dmesg between working and non-working scenario

[2019-04-02 12:30] lbetlej commented on #1200
@lgirdwood Thank you for adding the templates for SOF repo. Actually I was looking to add them myself as a PR but I've found that for it may not work for multiple templates according to https://help.github.com/en/articles/manually-creating-a-single-issue-template-for-your-repository

[2019-04-02 13:35] emilchudzik commented on #1179
I suggest close this issue due unable to reproduce from submitter steps.
In my opinion this is issue whioch blocked playback on WHLwith HDA: https://github.com/thesofproject/linux/issues/774

[2019-04-02 13:48] lgirdwood opened #1212 "[FEATURE] IPC 2.0"
Current IPC survives MINOR and PATCH semantic ABI version updates but needs to be fully future proof. We need a fully future proof IPC where structure additions and changes are non fatal to every structure and substructure.

[2019-04-02 13:51] lgirdwood commented on #1200
@lbetlej let my try and update the file via a PR, it may be the above only applies for the initial creation.

[2019-04-02 13:59] lgirdwood commented on #1200
@lbetlej @michalgrodzicki see https://github.com/thesofproject/sof/pull/1213

[2019-04-02 14:06] bardliao commented on #1208
@lgirdwood
[code]
Does it mean there are something wrong on FW?

[2019-04-02 15:12] lgirdwood commented on #1179
@Jiangxinx can you try and use @RanderWang asound.state file (see man alsactl for info). This will guarantee you have the same codec settings. @RanderWang can you try the same file from @Jiangxinx config and see if you can reproduce.

[2019-04-02 15:20] lgirdwood commented on #1208
@bardliao yes, also something wrong with FW here too or driver here too.

[2019-04-02 19:53] plbossart opened #1215 "[BUG] Baytrail/CherryTrail: samples are not played in correct order"
**Describe the bug**

When playing samples that are incremented by one from a sample to the other, the output shows discontinuities of 96 samples, see
[baytrail.xlsx](https://github.com/thesofproject/sof/files/3035671/baytrail.xlsx)
. With regular sine waves this has the net effect of adding noise.

This clearly points to bad buffer/pointer management or scheduling issues.

**To Reproduce**

Confi

[2019-04-03 02:58] keqiaozhang commented on #489
@lgirdwood
I didn't get why this issue should be re-opened.
But I re-tested this issue on GLK and I didn't observe this issue.
Test recipe:
sof/tplg: tag/v1.3-rc1
kernel: tag/cros-sof-v4.14-rebase-v5-032819

[2019-04-03 06:03] juimonen commented on #1208
@Jiangxinx did you update SW in between the tests? I don't get why removing DDEBUG would cause error. I mean your first log doesn't contain error and I guess the streaming should not even start if you get this...?

[2019-04-03 06:29] juimonen commented on #1208
@Jiangxinx @bardliao I have the same error, but it's coming always _after_ streaming when "stop" is triggered. For e.g. I have a experimental pm setup where I'm loading topology always from scratch  when streaming starts. So in my opinion this error should not be the cause of corrupted sound...

[2019-04-03 07:51] bardliao commented on #1208
@juimonen I think we didn't see the error in the first log is that there are too many logs and it exceeds the buffer of dmesg. So we can only see the recent log.

[2019-04-03 08:07] juimonen commented on #1208
@bardliao yes understood it also later... would it be possible for you to check we are setting the codec parameters ok? Otherwise I can't think of anything else than the dma to dsp is different in this platform and/or we are copying some total garbage to codec.

[2019-04-03 09:46] lgirdwood commented on #1215
@mengdonglin @RanderWang I'm sure this is dw-dma DMA buffer R/W pointer related. The DMA on BYT does not support HW LLI mode and LLI must be programmed via SW. There have also been some recent commits to the DMA driver that should be bisected.

The issue here is the DMA HW read period (that is be sent to SSP) is being written by the FW pipeline at the same time. i.e. we are reading and writing the

[2019-04-03 11:00] tlauda commented on #1215
@ranj063 @xiulipan @lgirdwood  What has changed since issue #1107 has been fixed? Are you saying there is another regression? The only problem with noise I was aware of was problem with SRC #1161.

[2019-04-03 11:16] lgirdwood commented on #489
@keqiaozhang thanks, I think I copy pasted from the daily test but it looks like kernel bug with same number as this. Sorry about this.

[2019-04-03 11:43] mmaka1 opened #1217 "[BUG] tools/coredumper: wrong formatting"
**Describe the bug**
There are a couple of issues with the format of the output:

- `-l` options does not work unless verbose mode is on, but the usage does not mention that,
- verbose mode require tty (should not) which makes it less useful when piped with 'more' for example,
- core header fields should be printed separately and clearly described as the core header, while they are mixed with cpu

[2019-04-03 11:51] jajanusz opened #1218 "[FEATURE] Unit tests should build with -Wall -Werror"
Unit tests build successfully when there are warnings.
Build should fail when there are warnings.

We need to enable these flags and fix tests that will generate warnings

[2019-04-03 12:10] #1087 closed

[2019-04-03 12:45] juimonen commented on #1215
@tlauda @lgirdwood I did some bisecting and for me the problems start way back:
so this is minnowboard + rt5651 (and rt5651 topology, sof master  cbd3e07031)
1) 22e3cf935bd71c7d42a39f0c4389c78a25837ddc works for me I can play audio and its clean.
2) 9a6a38a609c2e1cb67715075c74005d48b665578 starts problems, this commit doesn't work at all
3) 407be960c0b9591b2b43f7943d7be08c7efb271b onward until HEA

[2019-04-03 13:12] juimonen commented on #1208
@bardliao sorry to confuse you, I think there's no issue with the codec. I had myself some issues with the build system (I think I was building some garbage firmware) see my comments in: https://github.com/thesofproject/sof/issues/1215

[2019-04-03 13:22] singalsu commented on #1147
PR #1219 fixes for me the playback quality with SRC.

[2019-04-03 13:32] singalsu commented on #980
Closing, the merged PR #1137 implemented this.

[2019-04-03 13:32] #980 closed

[2019-04-03 13:32] singalsu commented on #981
Closing, the merged PR #1137 implemented this.

[2019-04-03 13:32] #981 closed

[2019-04-03 13:37] singalsu commented on #1204
@lgirdwood I need none of those (obsolete). I seem to need to create new test pipelines so I it's better to create them from scratch cleanly.

[2019-04-03 13:44] jajanusz commented on #1204
Are these tests ran by ./testbench (+octave scripts) or on real device?

[2019-04-03 13:58] abonislawski commented on #1217
all done in PR #1220

[2019-04-03 20:29] lgirdwood commented on #1215
@tlauda not sure but CI was reporting false success.
@juimonen I've ran into this before hence I know the root cause. Can you check the DMA and it's source component R/W pointers as they are both using the same period for IO as explained above.

[2019-04-03 20:32] lgirdwood commented on #1204
@jajanusz it sounds like they are not. @singalsu ok, but we will need examples of your working test bench topologies so that others can reuse as examples. Could you upstream some of your existing test bench pipelines and that will et @xiulipan delete these tests.

[2019-04-03 20:39] #1204 closed

[2019-04-04 04:56] xiulipan commented on #1215
@tlauda @lgirdwood @juimonen
Confirmed with the today's daily build binary. With pause/resume the noise can be randomly recover.
It should be like what @lgirdwood have said

And we have fixed similar issue once. I think this maybe caused by the recent change to the pipeline.

But as https://github.com/thesofproject/sof/commit/9a6a38a609c2e1cb67715075c74005d48b665578 is something related to the mix

[2019-04-04 06:01] juimonen commented on #1215
@xiulipan 9a6a38a is the first in series of pipeline changes for variable frame size and I don't think the commits work individually. So I had to go up until 407be96 to get the pipeline even working.

[2019-04-04 06:09] ranj063 commented on #1215
@juimonen to rule out the mixer as a suspect, can you try a simple host->vol->dai pipeline on BYT?

[2019-04-04 06:28] xiulipan commented on #1215
@juimonen thanks for the hint. It is a set of patches.
@ranj063
I will do that too.

[2019-04-04 07:13] juimonen commented on #1215
@xiulipan @tomek @ranj063 @lgirdwood  I got simplified topology (without mixer) from Ranjani and it plays cleanly with master. The basic rt5651 topology with mixer has metallic sound with master. I have some unreliability in my setup so sometimes I get just low level rumble. Anyway it is quite clear that there's some issues with mixer component (or the whole pipeline including it).

[2019-04-04 07:21] ranj063 commented on #960
Fixed by https://github.com/thesofproject/sof/pull/1193

[2019-04-04 07:21] #960 closed

[2019-04-04 07:55] tlauda commented on #1215
@juimonen What is the stream format vs. dai format? Can you get me verbose FW logs? It looks like some kind of mismatch in frame_fmt between mixer and volume components.

[2019-04-04 08:07] juimonen commented on #1215
@tlauda can someone please tell me how to enable TRACEV?
I'm running ./scripts/docker-run.sh ./scripts/xtensa-build-all.sh -l byt, so how to enable it?

[2019-04-04 08:12] rsalma opened #1222 "Heap debug : Firmware build fail [BUG]"
Summary :
Firmware binaries build failed after enabling the Heap debug.

Screenshot :
![heap_debug](https://user-images.githubusercontent.com/44452536/55539036-09d25680-56c0-11e9-9706-64399baffe37.png)

Test env:
sof master

[2019-04-04 08:16] tlauda commented on #1215
@juimonen make menuconfig and select verbose traces.

[2019-04-04 08:20] juimonen commented on #1215
@tlauda doesn't work with docker so the "CI way"... that's the only setup I have atm. Where is the menuconfig inventing this? can I add it by hand to some file. I cna't add it to .config because they get always regenerated.

[2019-04-04 08:43] juimonen commented on #1215
@tlauda ok got it working by editing src/lib/Kconfig

here's the log from mixer pipeline with metallic sound:

[log_mixer.txt](https://github.com/thesofproject/sof/files/3042516/log_mixer.txt)

here's the log with simple pipeline with clean sound:

[log_simple.txt](https://github.com/thesofproject/sof/files/3042520/log_simple.txt)

[2019-04-04 08:50] xiulipan commented on #1215
@juimonen You can do it with docker. You can just run what you would like with docker. Docker used map for the device.
@tlauda @ranj063
I also tried with sof-cht-rt5682.tplg that is a simple `host->vol->dai` pipeline.
But I found if I pause/resume the playback, the noise will random come.

With the sof-byt-rt5651.tplg that is `host->vol->mixer->volume->dai`, the noise will come at beginning. But w

[2019-04-04 09:18] Jiangxinx commented on #1179
I have checked with @RanderWang . His Env can also reproduce this issue.The reason why he didn’t hear the noise before was that the music file he used was quite in the first few seconds.

[2019-04-04 09:32] bardliao commented on #1179
@Jiangxinx Do you mean the noise will only happen in the first few seconds? Sorry I didn't get why @RanderWang can't reproduce it with a sound file which is quiet in the first few seconds.

[2019-04-04 09:38] Jiangxinx commented on #1179
@bardliao Yes, the noise will only happen in the first few seconds. Then aplay will be smooth.

[2019-04-04 09:41] abonislawski commented on #1222
Nice catch, looks like this functions simply does not exists and even not exists in commit which introduced this functionality.

Fixed in PR #1223

[2019-04-04 09:43] bardliao commented on #1208
@juimonen No problem. Hope it can be fixed soon :)

[2019-04-04 09:53] lgirdwood commented on #1222
@xiulipan any reason why this slipped through CI ? I guess we are only building a few Kconfigs ?
@mengdonglin we should be able to use 0day again now thet we use Kconfig and have run build randconfig.

[2019-04-04 10:01] jajanusz commented on #1222
We build defconfigs. Having 'randconfig' would result in non-determistic CI and I think we don't want that. If we want to test things like this we should just have some config with all debug options enabled for example. Or just add something like `allnoconfig` / `allyesconfig` / `alldefconfig` (kernel-like targets).

[2019-04-04 10:14] lgirdwood commented on #1215
@xiulipan @juimonen to restate, the issue is there is a race starting or synchronizing the DW-DMA HW wrt the rest of the pipeline.

Consider the SSP DMA buffer B with two periods p0, p1. On failure, the pipeline is writing to P0 whilst the DMA is simultaneously readying from p0. Normal operation is that pipeline writes to p0 whilst DMA reads p1.

The ordering PCM data from @plbossart is a big hint

[2019-04-04 10:15] xiulipan commented on #1222
@lgirdwood
This should be some long existed bug. I was once try to test with HEAP_DEBUG but the feature seems to be totally not working. I think we may need some clean up about some debug option first then to enable it in CI. BTW: I did not think the DEBUG macros now is working.

And for each PR, we could not run all settings as it will take long time. To track all features we have, we first need

[2019-04-04 10:26] lgirdwood commented on #1179
@Jiangxinx @RanderWang, I want to check the HDA link/code is initializing correctly. Can you

1) In a terminal run arecord from HDA codec (arecord -f dat > /dev/null)
2) wait 2 seconds
3) run aplay at the same time in another terminal. Does the startup noise still occur ?

running arecord should enable the HDA link and power on HDA codec so if 3 works then it's likely we need some investigation ar

[2019-04-04 10:33] lgirdwood commented on #1222
@jajanusz @xiulipan rand config is not meant for deterministic CI, but for async background building (like 0day does for Linux) that will report any errors early before they ship in releases.

@jajanusz building ```allnoconfig / allyesconfig / alldefconfig``` would be good for CI providing we have the spare cycles. I dont want to slow CI any further atm ;)

@xiulipan please report bugs when you di

[2019-04-04 11:38] juimonen commented on #1215
@lgirdwood here's only bad log. I just can't get the clean thing out of this. Don't know if it is the excessive logging or something, but I booted the device 10 times, always bad.
[log-simple-bad.txt](https://github.com/thesofproject/sof/files/3043234/log-simple-bad.txt)

[2019-04-04 11:46] mmaka1 opened #1224 "[BUG] tools/coredumper: SNR in output very low"
**Describe the bug**
Redirection to stdin of gdb creates a lot of noise in output, a lot of empty prompts.
Use `gdb -q --command=<output_file_from_reader_py>` instead.
Pls add `quit` as the last command in the reader output to quit gdb at the end automatically.

[2019-04-04 12:09] tlauda commented on #1215
@juimonen So now also the simple topology doesn't work without noise?

[2019-04-04 12:12] juimonen commented on #1215
@tlauda yeah, I can sometimes play simple topology like couple of seconds, but then begins the noise (its like wind noise on microphone) and the music is gone. Don't know if the dma pointers get out of sync etc. I have to go way back to 22e3cf935bd71c7d42a39f0c4389c78a25837ddc to get reliable playback

[2019-04-04 12:24] juimonen commented on #1215
@tlauda there is something really strange with the system. I'm not sure how I get my device in to this low rumble mode, but for e.g. now I can play simple topology clean with master. I'm sorry about this confusion but I'm also myself confused, is it that our CI scripts are not making clean builds when I jump around in git history or is my device borked... really unreliable results

[2019-04-04 12:51] abonislawski commented on #1224
Done in PR #1226

[2019-04-04 13:25] wenqingfu commented on #1208
@juimonen , is this a duplicate of #1215?

[2019-04-04 13:29] juimonen commented on #1208
@wenqingfu not 100% sure but really looks like it.

[2019-04-04 14:57] #1217 closed

[2019-04-04 14:57] #1222 closed

[2019-04-04 15:37] ranj063 commented on #1215
@tlauda @juimonen I can confirm that with the commit cbbc6afd3 the audio is clean on my minnowboard with a **no mixer topology**. but I did see an underrun once during 2 minutes of playback but audio recovered and continued to play without any issues.

With a mixer based topology, the sound is metallic.

[2019-04-04 15:51] juimonen commented on #1215
@ranj063 if you try what @xiulipan said today in bug scrub: try aplay -i and use space to pause/resume, you can get the mixer topology also to play clean sometimes. I think this is something what @lgirdwood described so host or dai dma is getting confused. Mixer topology is just bigger so it gets to "metallic" more often.

[2019-04-04 15:56] lgirdwood commented on #1215
@juimonen thanks for the log, but it needs verbose trace enabled to see the R/W pointer or they may need manually added to trace. It would be good to see the timing and R/W pointer at trigger start and then when the pipeline is next scheduled (as this could be scheduled too soon).

[2019-04-04 16:25] wenqingfu commented on #1063
@plbossart good or not good to close this issue now?

[2019-04-04 16:33] wenqingfu commented on #1208
mark as duplicate of #1215 . @tlauda @juimonen please move covnversation to #1215. @Jiangxinx please provide testing support to #1215 and reopen this bug if you can still reproduce it after #1215 is fixed.

[2019-04-04 16:33] #1208 closed

[2019-04-04 18:05] plbossart commented on #1063
NAK. we don't have a SRC to 46.875kHz so this is not acceptable from an audio quality perspective.

[2019-04-05 05:44] kv2019i commented on #1165
@ranj063
I went through the debug.m4 macros today and upon closer look, the DEBUG macros do not check anything, but rather they add informative comments on how the values should match to those defined in driver code.

The check in DEBUG_PCM_ADD() only relates to direct input data, but this seems really painful to do in m4. I think a separate validity checker for the conf-file would be much better

[2019-04-05 05:48] ranj063 commented on #1165
@kv2019i sounds good. Thanks!

[2019-04-05 05:48] #1165 closed

[2019-04-05 09:52] jajanusz opened #1229 "[RFC] [FEATURE] Refactor host/testbench"
**Is your feature request related to a problem? Please describe.**
Current host/testbench build is bad, because of at least these few reasons:
1. Naming it host is a bit of lie, you can build it for xtensa and run testbench with xt-run (f.e. to test performance of comps implementations).
2. We build 2 things in the same tree - troublesome, messy especially for new developers. We have src/ folder t

[2019-04-05 09:54] jajanusz commented on #1229
@singalsu @lgirdwood @mmaka1
Let me know what you think

[2019-04-05 10:44] singalsu commented on #1229
What you proposed sounds good to me. Actually refactoring work by @lgirdwood that was done prior to upstreaming the testbench to separeta SOF to libraries where part are generic and part platform specific was into that direction already. The current implementation of it left issues you listed.

[2019-04-05 13:44] lgirdwood commented on #1063
@zhuyingjiang @sathyap-chrome can you check with your contacts if stereo TDM mode is less restrictive on clock ratios. I had a quick look at the datasheet and it's difficult to say. https://datasheets.maximintegrated.com/en/ds/MAX98357A-MAX98357B.pdf

[2019-04-05 13:47] lgirdwood commented on #1229
@jajanusz ACK.

[2019-04-05 16:01] singalsu commented on #1147
@lyakh Merged now, can you please check there too.

[2019-04-05 17:42] sathyap-chrome commented on #1063
Hi @lgirdwood , response from maxim.
Hi Sathya,

TDM Mode is always 8 channel, not stereo. What is the issue with clock ratios that you are seeing?

-	From the datasheet.

“The digital audio interface is highly flexible with the MAX98357A supporting I2S data and the MAX98357B supporting left-justified data. Both ICs support 8 channel time division multiplexed (TDM) data.”

Thanks,
Shalin.

[2019-04-05 18:41] jajanusz commented on #1198
Turned out to not be caused by missing `export-dynamic` but just missing functionality in host code.
Fixed #1227