[2021-03-12 16:09] lgirdwood commented on #3880
@fredoh9 we will need
1)  #if GCC < 10 around the memset(), memmove() etc
2) a similar GCC version check in Cmakefile to add ```-lc``` to the ld_flags

So here's the GCC output if anyone is interested, a nice recusive crash picked up by qemu here.
[code]

[2021-03-13 10:12] fxthomas commented on #3868
Hmm, I'm actually back to square one. I was watching a video on the same kernel I compiled in my earlier tests from `topic/sof-dev` with the SOF driver + Pipewire 0.3.23, and the same beeping appeared after 30/40 min. That's much better than the official kernel, but the issue is still there.

At this point it very well could be an hardware issue, but there's not much of interest in the logs/dmesg.

[2021-03-14 20:38] fxthomas commented on #3868
For more information, I took a recording by plugging the rt5640 output jack to an external recorder's input jack. Here is the output right before the beeping happens:

![image](https://user-images.githubusercontent.com/613594/111083092-fb2b8580-850b-11eb-8ace-106ccf353f5d.png)

Zoom on the region:

![image](https://user-images.githubusercontent.com/613594/111083299-2d89b280-850d-11eb-834e-ade740b6

[2021-03-15 09:01] jwrdegoede commented on #3868
That part about the channel-swap is interesting, as discussed in #3699 I was seeing this during my testing too, but this got fixed recently. I just checked and the fix for that is not in the 1.6.1 firmware which you are using.

In my testing the swapping only happened between open/closing of the device but I never tested for long periods at a time, so maybe the swapping you are seeing is the same;

[2021-03-15 18:02] #3809 closed

[2021-03-15 20:14] fxthomas commented on #3868
Done, the beeping is still there but I didn't hear any channel swapping. Given the seemingly random nature of all this I'm not quite ready to call it, but it looks like a small improvement at least!

Looking at the curves in my earlier message I get the impression that the beep is just caused by a 2ms buffer (96 samples@48kHz in the recording) not getting updated somewhere in the driver stack and

[2021-03-15 21:16] lgirdwood commented on #3916
@cujomalainey is this using DSP mode or legacy HDA/SSP mode ?

[2021-03-15 21:59] cujomalainey commented on #3916
@lgirdwood i think it just bit bangs the values out. Wasn't till TGL that we started using SSP. Looking to find our firmware contacts for this.

Also FYI it is not 400Hz, it is [400kHz](https://chromium.googlesource.com/chromiumos/platform/depthcharge/+/refs/heads/main/src/board/puff/board.c#54)

@lancedkhou I don't think this is an SOF issue, please file a issue on the partner issue tracker and a

[2021-03-15 21:59] #3916 closed

[2021-03-15 22:28] lgirdwood commented on #3868
@fxthomas thanks, I've listened to the ogg file and it sounds like the DMA repeats the last period continually. Can you confirm the following for me.
1) media player or aplay does not report XRUNs - no XRUNs means the host side DMA is working as expected and copying data from host buffer to DSP buffer.
2) alsamixer works and you can change DSP volumes (note this is not codec volume, the DSP contro

[2021-03-15 22:30] plbossart commented on #3868
@fxthomas we don't support pm_runtime for SOF on Cherrytrail, so this is likely a firmware issue indeed.

[2021-03-16 09:33] paulstelian97 commented on #3809
Is this issue fixed?

[2021-03-16 09:51] iuliana-prodan commented on #3809
Yes, fixed by #3867.
Another issue remains, after hundreds of playback/record we get:
[code]
But his will be handle in another issue.

[2021-03-16 09:59] paulstelian97 commented on #3809
Just checked, sometimes issues are accidentally closed by merging of pull requests on GH (the "fixes" keyword does that)

[2021-03-16 11:08] lgirdwood commented on #3809
@iuliana-prodan is this working in v1.7 ? @keyonjie has created a PR pulling all the fixes ready for final release ? so please let me know if anything is missing ?

[2021-03-16 11:56] iuliana-prodan commented on #3809
@lgirdwood yes, is working on v1.7. But these patches are not included in @keyonjie PR #3914
Can I push these patches on #3914 or @keyonjie will update that PR?

[2021-03-16 12:01] lgirdwood commented on #3809
@iuliana-prodan just send another PR with your patches for v1.7

[2021-03-16 13:32] slawblauciak commented on #3714
I've been unable to reproduce the issue:

Platform: sh-tglu-volt-sdw-03 (from CI)
Firmware: fa35ee00f29cc4cf1c3b6f550e65329dbbc66811
Kernel: Linux version 5.12.0-rc2-daily-default-20210316 (jenkins@sofbld03.ostc.intel.com) (gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0, GNU ld (GNU Binutils for Ubuntu) 2.30) #1 SMP Mon Mar 15 21:19:51 UTC 2021
(don't know the exact commit, I did not change the kernel on

[2021-03-16 13:52] anlar opened #3929 "[BUG] Unable to record sound using internal microphone (Thinkbook 13s IML)"
**Describe the bug**

After installing Fedora 33 on my laptop (Thinkbook 13s IML) I'm unable to use its internal microphone to record anything. It is recognized by system as "Digital Microphone - sof-hda-dsp", but there is no input from it.

I have tried to record using Sound Recorder (file attached to the ticket in Fedora bug-tracker, see below). There is a high noise in the beginning and after t

[2021-03-16 14:02] dbaluta commented on #3795
Closing this as we mostly figured out our way in implementing this.

[2021-03-16 14:41] #3795 closed

[2021-03-16 15:16] plbossart commented on #3714
@slawblauciak this happens in every daily test, see Intel test 2626 for example

the command was :
[code]

[code]

[code]

[2021-03-16 19:10] fxthomas commented on #3868
Thanks for confirming!

I didn't see any XRUNs.

In the latest kernels (5.11.4+) `aplay` actually stops with a write error after 4-5 seconds beeping, see at the end of the log I posted in https://github.com/thesofproject/sof/issues/3868#issuecomment-796304449:

[code]

The recording I shared was under Pipewire, where the beeping still stays persistent until I restart the PW service (presumably bec

[2021-03-17 12:02] lgirdwood commented on #3868
ok, so this is useful (I can rule out a few of the questions I asked above) - we have a pipeline like
[code]
The DMA ALSA position is updated by the host DMA position, but the host DMA position may block if there is not free space in the pipeline (the pipeline is emptied by the DMA I2S - which sounds like it's repeating the last period consistently and not emptying the DATA).

The pipeline buffers

[2021-03-17 16:01] jwrdegoede opened #3932 "[BUG][CHT] loud crackle from speakers at boot, which does not happen with SST driver"
This has been discussed before, but because the crackle became an itch to scratch for me I've ran some more tests and I' now filing an issue for this. Specifically with a 5.12-rc2 kernel on a HP Pavilion X2 10-p002nd with a ALC3276 (rt5640) codec. This is the same device where the channel-swap issue also most easily reproduced. It is as if this device has more randomness in non-initialized memory,

[2021-03-17 19:17] fxthomas commented on #3868
Yes, using `--test-position` has the same issue.

I will do that next time! :wink:

I built 536800a09c1abc36ac74e17cebb2cd7865ed85a0 (v1.6.1) that corresponds to the `sof-firmware` package I have installed from the official repos ([source](https://github.com/archlinux/svntogit-packages/blob/packages/sof-firmware/trunk/PKGBUILD)), using `./scripts/build-tools.sh` ([PKGBUILD](https://github.com/thes

[2021-03-17 21:24] plbossart commented on #3932
@jwrdegoede There are indeed major differences in the power sequence between SST and SOF drivers. The former requires the DSP to be on and start transfers of zero data, whereas for SOF we rely on DAPM/DPCM.

There's been a long standing problem that some codecs require the bclock and fsync to be stable for a while before sending data. This happens by construction with SST, but not for SOF.

Could

[2021-03-18 10:21] jwrdegoede commented on #3932
The crackle happens when pulseaudio starts, at this point in time nothing is playing, it is merely opening
the audio device. I guess it may play some silence at start to determine some hw params ?

[2021-03-18 12:24] plbossart commented on #3932
@jwrdegoede if this is PulseAudio only opening devices and setting-up hw_params, then this points to a DAPM issue. If PulseAudio starts streaming then it's an SOF issue.

[2021-03-18 12:28] slawblauciak commented on #3714
Yeah, the "-r 25" bit was the key part to reproducing this.
So, is the topology for this case available somewhere? Because the sof-tgl-sdw-max98373-rt5682 topology in the FW repo doesn't match the pipeline IDs visible in the log. The DSM should be on pipelines 3 and 4, but in the topology in the FW repo it's on pipelines 1 and 2.

[2021-03-18 12:49] plbossart commented on #3714
@slawblauciak we are using Topology: {sof-tgl-sdw-max98373-rt5682-4ch.tplg}
This is the standard topology without an actual DSM.

See attached what I pulled from test 2626
[sof-tgl-sdw-max98373-rt5682-4ch.zip](https://github.com/thesofproject/sof/files/6164184/sof-tgl-sdw-max98373-rt5682-4ch.zip)

[2021-03-18 13:29] slawblauciak commented on #3714
@plbossart where can I find the m4 for it?
Because I don't think it's based on the on in FW repository, given the pipeline ID mismatch

[2021-03-18 13:38] plbossart commented on #3714
we are using the master branch https://github.com/thesofproject/sof/blob/master/tools/topology/sof-tgl-sdw-max98373-rt5682.m4

[2021-03-18 16:26] nayakaj commented on #2775
hi
i'm new here can you help me to solve

[2021-03-18 18:17] dbaluta commented on #2775
@nayakaj  just start with a simple tr_info call for example. Understand how that works first and then add support for 64 bits.

[2021-03-19 13:16] slawblauciak commented on #3714
It appears that the feedback line is is not receiving enough data and is getting starved. Xrun is reported by DMA when we check for available data. Looking at the thing, it looks very similar if not basically identical to another problem we've detected with DSM working on SSP:
It was caused by SSP clock gating, when the playback line was shutdown, the SSP clock was gated. But, feedback was using t

[2021-03-19 14:08] jwrdegoede opened #3937 "[BUG][BYT] SOF hangs, logger shows "dw_dma_start(): dma 1 channel 1 not ready" error"
While running some tests on a HP Pavilion X2 10-n000nd, I noticed that audio would stop working when I simply increase / decrease the volume a couple of times using the volume up/down keys on the keyboard.
When changing the volume like this GNOME will play a "plop"(ish) sound on every keypress both as an auditory acknowledge and so that the user can (briefly) hear the new volume.

I think the prob

[2021-03-19 14:52] lgirdwood commented on #3868
@fxthomas ah, I think the newer tool updates are expecting a filter (its a new-ish feature), however this tool should work without filer enabled (you get all the trace). This this is a bug (i.e. the tool should just carry on if it cant find filter).
The LDC file has to match the FW version, it's basically contains all the strings for every FW trace() call. Can you check dmesg for FW version and ma

[2021-03-19 15:51] jwrdegoede commented on #3937
I've tried to reproduce this while forcing pipewire to 16 bits audio, by uncommenting the:

[code]

line in "/etc/pipewire/media-session.d/alsa-monitor.conf" and after that I can no longer reproduce the problem.

[2021-03-19 15:59] jwrdegoede commented on #3932
So what is the best way to test this?

Would disabling pulseaudio and then after a fresh boot do something like this:

[code]

With a zero byte sized test.raw work to test the opening + setting up hw_params

And maybe also repeat this (after a fresh boot) with a test.raw files with zeros ?

[2021-03-19 16:40] jwrdegoede commented on #3868
So I just accidentally trigger this on a HP Pavilion X2 10-n000nd, Bay Trail Z3736F SoC with an ALC5642 (rt5640) codec.

This is with kernel-5.12-rc3 and the official 1.6.1 SOF-fw binaries from sof-bin, using pipewire as sound-server with pipewire configured to use S16LE as sample-format.

I do have the .lc file and sof-logger binary for 1.6.1 installed, so I've grabbed sof-logger output for the b

[2021-03-19 16:43] jwrdegoede commented on #3868
Killing pipewire and then restarting it fixes the "beep" sound. sof-logger does not show any new messages after this.

[2021-03-19 18:18] jwrdegoede commented on #3937
The problem does not seem to reproduce on a ThinkPad X1 carbon 8th gen with a  "Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz" CPU.

[2021-03-19 20:52] fxthomas commented on #3868
Nice! Let me know if you need help with testing.

Got it, interesting.

I don't get anything if I do `cat /sys/kernel/debug/sof/etrace`, so I'm wondering if there isn't something else I need to enable.

Kernel says this earlier in the boot (I probably should have looked at that earlier, sorry...):

[code]

LDC file is the exact same as the v1.6.1 sof-bin package from the repository, however it say

[2021-03-19 20:55] jwrdegoede commented on #3868
Yes the Bay Trail and Cherry Trail SoCs have the same audio-block. Notice that the HP x2 on which I reproduced this has a BYT SoC and not a CHT SoC like yours has, so both are impacted by this bug.

[2021-03-20 14:59] lgirdwood commented on #3932
@jwrdegoede yes, that would be a good test. You can play /dev/zero as silence if needed.
Fwiw, I would also try an arecord after boot too, i.e. to check if general codec power on sequence is causing the crackle or is ir DAC path only.

[2021-03-20 15:02] lgirdwood commented on #3937
@jwrdegoede ok thanks, I think we may need to restrict BYT/CHT in topology to 16bit only for then time being. The 24bit DMA settings do have some differences at the SSP port level too and IIRC there is probably a golden DMA/SSP config for this with 24 bit.

[2021-03-20 15:15] lgirdwood commented on #3868
There are 2 trace debugFS pipes, one is for errors only and is persistent (etrace) and the other (trace) is for all messages. etrace being empty means there have been no errors. However, we did add a "trace is working" message recently that should show the version in etrac too, so there should at least be some data. v1.7-rc should show this, but I cant remeber for v1.6...

Looks like you need the

[2021-03-20 15:55] lgirdwood commented on #3868
This is a host DMA copy failure. i.e. the host DMA has failed to copy data from host DDR to DSP SRAM. Trace uses the same DMA so this may kill trace too.

I've done some digging and the SST FW splits the DMAC usage with DMAC1 doing host DDR <-> DSP SRAM and DMAC0 doing DSP SRAM <-> SSP i.e.
[code]
It may be that we need to do the same on BYT/CHT for reliable operation. @jwrdegoede is this somethin

[2021-03-20 16:18] jwrdegoede commented on #3868
I have 0 experience hacking on SOF so far, I don't even have a build-environment setup for it; and ATM I'm buried in a bunch of kernel regressions related to various drivers/platform/x86 kernel bugs (I'm the pdx86 subsys maintainer), so I also really don't have time to dig into this, sorry.

[2021-03-20 21:58] fredoh9 commented on #3880
fixed by https://github.com/thesofproject/sof/pull/3930

[2021-03-20 21:58] #3880 closed

[2021-03-21 15:52] fredoh9 commented on #3880
for the information, Latest #3938 patch is compiled with GCC 10 toolchains.

* https://sof-ci.01.org/sofpr/PR3938/build8369/build/

[code]

QEMU boot test also passed.

* https://sof-ci.01.org/sofpr/PR3938/build8369/boottest/

[2021-03-22 04:43] aiChaoSONG opened #3939 "[BUG][TGL-NOCODEC][v1.7] Xrun on DMIC in multiple-pipeline test"
**Describe the bug**
In multiple pipeline test case, an xrun is reported on DMIC pipeliine.
report ID:  2698

**To Reproduce**
run script: multiple-pipeline.sh -f c -l 200

**Reproduction Rate**
low, at 109 of 200

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: {topic/sof-dev d289bfd9}
    * SOF: {stable-v1.7 4

[2021-03-22 04:51] aiChaoSONG opened #3940 "[BUG][CML][SDW][v1.7] Unable to sync register on CML with RT700"
**Describe the bug**
on a CML_RVP_SDW device with RT700 codec, "Unable to sync register" is reported in check-suspend-resume-with-playback-100.sh test case.
Report ID: 2698

**To Reproduce**
run script: check-suspend-resume-with-audio.sh -l 100 -m playback

**Reproduction Rate**
at 94 of 100

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (k

[2021-03-22 07:56] RanderWang commented on #3714
@slawblauciak capture and playback don't share the same port in both master and slave. clock is off only when system set audio driver to suspend mode.

[2021-03-22 09:12] keyonjie commented on #3939
This should not be bandwidth issue as the 4 capture pipelines should take < 20% of the bandwidth only.

[2021-03-22 20:51] lgirdwood commented on #3868
@jwrdegoede no worries, I think I have an idea of where to look when time permits. Looks like the DMA channels are mutually exclusive between the DMACs.

[2021-03-22 20:57] plbossart commented on #3868
@jwrdegoede @lgirdwood @kv2019i another thing I was thinking of is the 1024 period size used by pipewire.

All the SOF topology and tests is based on 48 sample multiples, and while we can allow for 1024 periods this will introduce additional issues we don't see when all the periods are based on ms multiples. This should be fine for HDaudio audio but I am not sure how well this might work on legacy

[2021-03-22 21:06] lgirdwood commented on #3939
@mwasko @slawblauciak looks like the DMIC IRQ handler again, did we not remove this since it did nothing but report an error (and consume cycles) ?

[2021-03-23 03:19] keyonjie commented on #3868
It could be related to the scheduler missing a task and lead to xrun, we use multi-chan domain on BYT, Hi @iuliana-prodan have you hit similar issue on IMX?

[2021-03-23 08:36] slawblauciak commented on #3939
@zrombel can you try reproducing it on our RVPs?

[2021-03-23 08:58] zrombel commented on #3939
Ok, will do.

[2021-03-23 09:35] jwrdegoede commented on #3868
The /etc/pipewire/media-session.d/alsa-monitor.conf file has a (commented) api.alsa.period-size setting.

But AFAIK @fxthomas has been reproducing the beep with direct-playback using "aplay -Dhw:#", so pipewire is not involved.

[2021-03-23 09:58] iuliana-prodan commented on #3868
I didn't get any such issue on iMX.
I even test it today on an i.MX8QM with ` Firmware info: version 1:7:0-0a926` (today's sof/master) and  `Linux version 5.11.0-rc1-next-20210104` and I head no beeping sound.

[2021-03-23 10:26] mwasko commented on #3939
@lgirdwood we cannot completely ignore and suppress DMIC xrun. However to avoid DMIC xrun storm of interrupts the change was introduced to stop DMIC when xrun occurs.

[2021-03-23 10:34] zrombel opened #3947 "[BUG][TGL-012-drop-stable] DSM Multicore Stream Stall"
**Describe the bug**
In DSM test where DSM component is run on CORE 1 and rest of topology on default CORE 0 after triggering pipelines start, playback pipeline stops copying data.

**Topology**
[code]

**To Reproduce**
Run Python test:
22_05_TestDsmMulticoreSsp48000Hz24b32b2ch or 22_05_TestDsmMulticoreSsp48000Hz32b32b2ch
with parameters:
--playback-iterations=100

**Reproduction Rate**
~1/10

**E

[2021-03-23 11:01] zrombel opened #3949 "[BUG][TGL-012-drop-stable] PostProcessing Multicore Stream Stall"
**Describe the bug**
In Post Processing test where Processor component is run on CORE 1 and rest of topology on default CORE 0 after triggering pipelines start, playback pipeline stops copying data.

**Topology**
[code]

**To Reproduce**
Run Python test:
25_06_TestGenericProcessorPplMultiCorePlb48000Hz16b16b4ch or 25_06_TestGenericProcessorPplMultiCorePlb48000Hz32b32b8ch
with parameters:
--playbac

[2021-03-23 11:06] zrombel opened #3950 "[BUG][TGL-012-drop-stable] SRC Multicore Stream Stall"
**Describe the bug**
In SRC test where SRC component is run on CORE 1 and rest of topology on default CORE 0 after triggering pipelines start, playback pipeline stops copying data.

**Topology**
[code]

**To Reproduce**
Run Python test:
17_06_TestMultiCoreCompSrcPlb48000Hz32b32b4c
with parameters:
--playback-iterations=100

**Reproduction Rate**
~1/50

**Environment**
1) Name of the platform(s) on

[2021-03-23 11:39] keyonjie commented on #3949
Thanks for filing this, I hit similar issue at my end.

[2021-03-23 20:45] plbossart commented on #3868
thanks for the pointers.

you're right, for some reason I was convinced this was due to PipeWire.

[2021-03-23 21:51] fxthomas commented on #3868
Tangentially, I finally got rid of the warnings, so `sof-logger` works on the official kernel, without warnings but also without any additional messages. My `topic/sof-dev` build still shows warnings and I was not able to get anything out of it either.

_(It turns out, I was still using the test firmware build from https://github.com/thesofproject/sof/issues/3868#issuecomment-799243758 because I'm

[2021-03-24 05:27] keyonjie commented on #3939
I realize there could be this possibility for DMIC pipelines, as the DMIC is started first and DMA later. The reason we don't see this in the SSP pipelines is we are not observing xrun interrupts there.

[2021-03-24 08:01] keyonjie commented on #3939
once we can reproduce this stably, maybe worth to try if the PR #3952 help.

[2021-03-24 09:18] keqiaozhang opened #3953 "[BUG][TGL] XRUN issue on TGL_RVP_NOCODEC when testing multiple pipelines"
**Describe the bug**
CI observed xrun on TGL_RVP_NOCODEC when testing capture on multiple pipelines.  xrun happened on dmic pipeline.

**To Reproduce**
$ ./sof-test/test-case/multiple-pipeline.sh -f c -l 50

**Reproduction Rate**
first time CI observed this issue.

**Expected behavior**
No XRUN

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 4e30747d
SOF Branch: master
SOF Commit: 041

[2021-03-24 09:54] keyonjie commented on #3953
looks similar to https://github.com/thesofproject/sof/issues/3939.

It will be good if it can be reproduced not too difficult. @singalsu

[2021-03-25 17:19] fredoh9 opened #3958 "[BUG][BDW][HSW] QEMU boot test failed with GCC 10 for hsw bdw"
**Describe the bug**

After upgrading GCC 10 (https://github.com/thesofproject/sof/issues/3880), QEMU boot test failed for bdw, hsw.
Current QEMU version is QEMU 4.1.93.

**To Reproduce**
[code]

**Reproduction Rate**
100%

**Expected behavior**
QEMU boot test should be passed for all platforms

**Screenshots or console output**
[QEMU_boot_failure_bsw_bdw.txt](https://github.com/thesofproject/sof/

[2021-03-26 11:28] lgirdwood commented on #3958
@fredoh9 can you regenerate docker SDK now. It was a bug in the xtensa overlay, now fixed.

[2021-03-26 16:03] fredoh9 commented on #3958
I will re-generate docker image and check again. If all works fine, I will switch to GCC 10 toolchains over this weekends.

[2021-03-26 17:59] fredoh9 commented on #3958
I generated new Docker image and am able to verify it. New label is pushed, `thesofproject/sof:20210326`.
I will switch this image to latest in this weekends.

[2021-03-29 00:31] Dharageswari opened #3964 "[BUG] [TGL] [TGL-012-drop-stable] Audio corruption or unxpected fault with codec adapter"

[2021-03-29 00:49] #3964 closed

[2021-03-29 01:00] RDharageswari opened #3965 "[BUG] [TGL] [tgl-012-drop-stable] Audio corruption and unexpected fault with codec adapter"
**Describe the bug**

1. SOF crashes on boot with 'unexpected fault' when playback from speakers – as a result no audio (see dmesg output in unexpected_fault.txt).
To reproduce: reboot device and start playback, for example from youtube
Reproduction rate: 1/10.

2. Audio is corrupted when playback from speakers.
To reproduce: start playback on speakers, inject HP, eject HP, restore playback. Corru

[2021-03-29 01:08] RDharageswari opened #3966 "[BUG] [TGL] [tgl-012-drop-stable] Wrong source/sink settings during ALSA conformance test"
Name of component: SOF/ALSA

Brief: When doing ALSA test for SOF built sound-open-firmware-private branch, codec_adapter receives wrong source/sink parameters.

Environment:
TGL + tgl-012-drop-stable + WAVES

Detailed:
Usual way of doing alsa conformance test is running python script:
`./alsa_conformance_test.py -D hw:0,0 --rate-err-criteria 100 --log-file alsa_test_log.txt`
Output of this command

[2021-03-29 07:52] mrajwa commented on #3965
@RDharageswari, just to clarify, are steps 5,6 (pause + close/open lid ) necessary to trigger this issue?

[2021-03-29 08:21] mrajwa commented on #3965
also, you mention `CONFIG_DUMMY_CODEC` while logs clearly shows  waves_codec_configure is being used. Missing info about the topology and cores utilized

[2021-03-29 08:29] keyonjie commented on #3966
Hi @RDharageswari do you know where do the source and sink format come from?

Since it works if start test with waiting more than 5 seconds, it looks to me the the previous playback doesn't stop/reset correctly and the subsequent playback in different format failed at .hw_params().

@RDharageswari can you share the FW SOF log at the failed case?

[2021-03-29 08:32] keyonjie commented on #3965
@RDharageswari are you using CONFIG_DUMMY_CODEC? can you submit a PR with the tplg you are using?

[2021-03-29 08:55] lancedkhou commented on #3965
@mrajwa , steps 5/6 are not necessary.

When system booted into desktop, the very first audio playback could be:
a. correct/normal
b. white noise only (see enclosed video)
c. no sound can be heard

There is a chance to recover by:
step 5. close lid for around 30 secs
step 6. open lid and play again and hear the playback
it still could be a, b or c

[2021-03-29 10:10] mrajwa commented on #3965
@lancedkhou, ok thanks. Could you please show the topology settings including scheduled cores?

[2021-03-29 11:38] dbaluta commented on #3965
@RDharageswari this is very strange. So, you say that with CONFIG_DUMMY_CODEC=y this bug happens but with CONFIG_DUMMY_CODEC=n this bug doesn't happen?

I think the problem is because ``init_process`` function is missing from ``waves`` codec. It is also missing with dummy, I will fix that once @cujomalainey latest patches are in.

Can you please try this patch:

[code]

[2021-03-29 17:59] RDharageswari commented on #3966
Following is the update from waves:
This issue is not 100% reproduction rate.
Got sometimes same sink and source format when running alsa test.
Adding logs to volume component didn`t help much because volume is below stream with respect to codec adapter, and after codec adapter failed no logs from Volume
WIll check without codec-adapter.
After codec-adapter is removed from topology volume componen

[2021-03-29 18:00] RDharageswari commented on #3966
[0001-WIP-Log-volume-source-and-sink-format.patch.txt](https://github.com/thesofproject/sof/files/6223612/0001-WIP-Log-volume-source-and-sink-format.patch.txt)

[2021-03-29 18:16] fredoh9 commented on #3958
After upgrading the docker image, I closely monitored any error. It has worked fine.

[2021-03-29 18:16] #3958 closed

[2021-03-29 18:40] RDharageswari commented on #3965
Sure, will try the attached patch.
There is an update from waves:
SOF crashes on boot with 'unexpected fault' when playback from speakers – as a result, no audio.
There is no Waves processing, only the dummy codec (passthrough with memcpy) added to the topology.
[sof-logger_crash.log](https://github.com/thesofproject/sof/files/6223792/sof-logger_crash.log)
[dmesg_crash.log](https://github.com/thes

[2021-03-29 18:55] dbaluta commented on #3965
@RDharageswari thanks! Indeed the logs you provided do not contain anything related to 'waves' codec as opposed to first logs. So, I guess it the same problem reported above but related to dummy codec.

Dummy was renamed to passthrough so depending on what sources you have please try this:

[code]

[2021-03-29 19:02] dbaluta commented on #3965
@RDharageswari one more thing. Can you please attach the topology used (m4 and .tplg files). And also how to test. Are they using ALSA PCM interface or ALSA Compress interface?

I guess it's ALSA PCM as support for ALSA SOF compress is not merged yet.

[2021-03-29 20:15] RDharageswari commented on #3965
[0001-dummy-codec.patch.txt](https://github.com/thesofproject/sof/files/6224296/0001-dummy-codec.patch.txt)
it is PCM interface

[2021-03-29 23:51] cujomalainey commented on #3965
In reference to [comment](https://github.com/thesofproject/sof/issues/3965#issuecomment-809309209) from @dbaluta

Is this really the issue? How did we land the requirement without updating the existing adapters? Also why are not failing on setup if the mandatory callback is not installed? Also those additional flags, why are trying to run corrupted rather than failing if they are not set?

[2021-03-30 05:19] RDharageswari commented on #3966
Feedback from waves is that the issue is still reproducible with the above patch

[2021-03-30 05:44] keyonjie commented on #3966
Hi @RDharageswari someone should be able to debug this as the error is already in the FW logs:
[code]

[2021-03-30 06:04] dbaluta commented on #3965
@cujomalainey Cadence codec doesn't need that callback installed yet as it is handled internally. For waves / passthrough the issue should be visible but I guess there was no test with the master. Will send a patch to fix the issue.

[2021-03-30 06:46] cujomalainey commented on #3965
@dbaluta we are testing on tgl-drop-012 which doesn't have the patch to enable this yet so this callback is not the issue.

[2021-03-30 07:21] dbaluta opened #3987 "[BUG] Fail to compile waves codec support with main branch"
**Describe the bug**

Selecting CONFIG_WAVES_CODEC=y and compiling the SOF firmware I get:

[code]
@cujomalainey  @stolx is this as expected?

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)

**Reproduction Rate**
Always.

**Expected behavior**
Code should compile fine even the proprietary waves algorithm is not provided. Eventually the c

[2021-03-30 07:37] slawblauciak commented on #3966
@stolx hi, could you please help to figure this one out if it's an issue with the Waves module?

[2021-03-30 08:20] cujomalainey commented on #3987
This is WAI. Like the maxim lib, you an external lib to compile this

[2021-03-30 08:20] #3987 closed

[2021-03-30 08:21] juimonen commented on #3966
so this topology is defining a format range for the pcm like from 16 bit LE to 32 bit LE. So alsa conformance test is testing that it supports all these formats. If there is no any other component before the codec adapter that will do the conversion, the codec adapter needs to accept different formats.

[2021-03-30 08:21] cujomalainey commented on #3987
Although i agree, for future we should be stubbing this out for compile testing, but that is not our focus right now

[2021-03-30 09:00] stolx commented on #3966
@slawblauciak @juimonen
Waves codec implementation supports all frame sizes of SOF 16, 24_4LE and 32.
But we expect the source and sink to have the same format.
The issue is that sometimes during ALSA test we get sink and source of different format and check in our codec_adapter API implementation fails.
The exact place of the check:
https://github.com/thesofproject/sof/blob/main/src/audio/codec_a

[2021-03-30 09:38] keyonjie commented on #3966
@stolx usually the input format come from the ALSA PCM param while the output format could inherit from the BE DAI so they can be different, you need to check if you have made the BE DAI in your tplg file fixed, if so, you might need to add a format converter (e.g. volume) around your codec component.

[2021-03-30 13:58] stolx commented on #3965
@dbaluta @mrajwa @cujomalainey

Update on the "audio corruption" part of the issue.
It is somehow related to `CONFIG_DEBUG` and `CONFIG_TRACEV`, it is easy to reproduce when those are off.

Steps to reproduce:
1. Use tgl-012-drop-stable + this commit https://github.com/stolx/sof-custom/commit/9e9b546a649994b7a277ba5084ed7d592018d22c
commit adds all necessary changes to reproduce the issue: topolog

[2021-03-30 17:21] cujomalainey commented on #3965
Hmm, the fact that enabling debug changes things screams race condition in my head. Thanks for update. Will report findings from todays debugging.

[2021-03-30 22:28] cujomalainey commented on #3965
I think I found something related to the distortion. https://github.com/thesofproject/sof/blob/main/src/audio/codec_adapter/codec_adapter.c#L496
This function is bailing without an error which is letting the codec_adapter partially prime even though they shouldn't. This at least causes it to fail right away. I am going to try and load the config with non-data to see if that silences it and allows

[2021-03-30 22:32] plbossart commented on #3868
@fxthomas I have been testing SOF on a CHT device and it's been fine so far, I have Spotify on top of PipeWire and SOF (1.6.1 + kernel v5.12-rc5+)

Can you upload the file you are using and the exact command you are using? I'd really like to go to the bottom of this repeated noise.

[2021-03-31 01:29] cujomalainey commented on #3965
Ignore above link, it fails the cmd, not prepare like i originally thought. Though @stolx I did find something interesting unique to waves and not to the passthrough. If you play 32Le to passthrough you get normal playback but waves reduces rate from 48k to 32k according to alsa conformance. Firmware also vomits a bunch of xrun errors. I have been trying to hunt down the issue but no luck yet so f

[2021-03-31 09:01] jwrdegoede commented on #3932
Sorry I've not had time run the discussed tests yet, but I did make one interesting observation yesterday while working on getting the audio an a Dell Venue 10 5055 Pro to work. This is a Bay Trail CR device with a rt5672 codec.

Since this is a Bay Trail CR device SSP0 must be used (SSP2 is not routed on the SoCs pins), but the machine-driver atm only supports SSP2, so the audio was always being

[2021-03-31 10:05] oleggtitoff commented on #3965
Hi all,
Could you please suggest what is the right way to use the sof-coredump-reader tool?
Using it we would like to get more info about this 'unexpected fault'.

Our steps:
1. reproduce 'unexpected fault' using aplay

2. cat /sys/kernel/debug/sof/exception > exception.bin
This command creates an exception.bin file, but there are errors:
stdout:
cat: /sys/kernel/debug/sof/exception: Invalid argum

[2021-03-31 11:15] paulstelian97 commented on #3965
Try enabling

CONFIG_SND_SOC_SOF_DEBUG
CONFIG_SND_SOC_SOF_DEBUG_ENABLE_DEBUGFS_CACHE

on the kernel kconfig and rebuilding the kernel. This enables caching the exception so that it is saved and readable from the /sys/kernel/debug/sof/exception file even after the DSP turned off. You should be able to get some actual useful data rather than a file filled with zeros this way.

[2021-03-31 15:10] oleggtitoff commented on #3965
Thank you, the kernel was updated with both options enabled.
Now there are no errors after `cat /sys/kernel/debug/sof/exception > exception.bin`

`hexdump` gives such output:
[code]

But `./sof-coredump-reader.py -v -i exception.bin --stdout` still gives output full of zeros: [exception2.txt](https://github.com/thesofproject/sof/files/6237543/exception2.txt)
Please suggest?

[2021-03-31 15:21] lgirdwood commented on #3932
@jwrdegoede thanks for the update, I think @plbossart suggestion that the SSP clocks need to be running during codec initialisation is probably the reason for the crackle. I've come across codecs in the past that need the clocks running otherwise they wont clock lock or power ON/OFF correctly.

[2021-03-31 20:47] cujomalainey commented on #3966
The codec adapter should be passing the [params down the sink](https://github.com/thesofproject/sof/blob/main/src/audio/codec_adapter/codec_adapter.c#L283) I wonder if we have an order issue here where params and prepare and being called in different orders since we [cache the params](https://github.com/thesofproject/sof/blob/main/src/audio/codec_adapter/codec_adapter.c#L289) in the params callbac

[2021-03-31 21:45] fxthomas commented on #3868
Aha! I was finally able to reproduce it on my `topic/sof-dev` build after about an hour watching videos, and `sof-logger` finally shows something! :tada:

[code]

Hopefully that should give you ideas ;)

----

@plbossart The files I used to test it on were music files, so I can't post them on GitHub. However I can reproduce reliably on the official kernel after a couple of minutes, with:

1. Stop

[2021-03-31 23:36] plbossart commented on #3868
Thanks @fxthomas

@lgirdwood does this one look legit to you?
[code]

[2021-04-01 01:28] bardliao commented on #3932
I am pretty sure that rt5640 needs clock in the initialization stage. Please correct me if I am wrong @oder-chiou

[2021-04-01 02:43] keyonjie commented on #3868
@plbossart 65535(0xFFFF) is illegitimate for SSP dai DMA we always ask for channel 0 and it will return the real allocated channel index, though for HDA dai, we could use 0xFFFFFFFF to ask for not handling with a dma_channel_get().

But, for the dw_dma_channel_get(), no matter what channel index you have asked for, it will always allocated a real channel (e.g. with index 0~7), so this is not neces

[2021-04-01 07:36] jwrdegoede commented on #3932
Not that difficult and I was planning on doing that anyway since it is necessary to get working sound.

When using a machine-driver which properly supports SSP0 not much changes, still a crackle on boot (boot on a cold start and from a reboot) when gdm shows the greeter (so the first time the sound-server starts).

And the crackle still goes away when switching back to SST.

Unrelated, but interes

[2021-04-01 08:31] cujomalainey commented on #3965
This is the chrome os 5.4 fork we are working on

[2021-04-01 12:55] stolx commented on #3965
same, when only core 0 is used everything works fine

[2021-04-01 12:55] stolx commented on #3966
When everything is on core 0 all tests are "pass"

[2021-04-01 12:57] juimonen commented on #3965
@lyakh FYI you worked on issues with multicore...

[2021-04-01 15:26] plbossart commented on #3932
@jwrdegoede what happens if you disable the sound server, and play with aplay -Dhw:x.y later?
Trying to decorrelate the driver probe from use.

Also all BYT topologies are identical, so there's no difference to be expected with a name change.

[2021-04-02 12:47] lgirdwood commented on #3966
Some observations:
1) when it works after 5 seconds it means that FW has done a D0 -> D3 -> D0 transition (and all configurations are reset to defaults).
2) works on core 0 and doesn't work on other cores usually means cache coherency.

It could be that the params are entering the DSP via core 0 (for the IPC handling) and then they propagate through the pipeline, but there needs to be a writeback

[2021-04-02 13:21] slawblauciak commented on #3947
I was able to bisect and find which change introduces this behavior:
https://github.com/thesofproject/sof/commit/5104f5e02df5a720f2896d8403a880cde286f657
However, the same change exists on tgl-011-drop-stable branch, and the problem does not occur there.
This leads me to believe that this behavior is a result of at least two changes.
I suspect the problem might have its source in the scheduler aga

[2021-04-02 13:23] slawblauciak commented on #3950
Possibly related to https://github.com/thesofproject/sof/issues/3947
More information in the comments of the aforementioned issue.

[2021-04-02 13:23] slawblauciak commented on #3949
Possibly related to https://github.com/thesofproject/sof/issues/3947
More information in the comments of the aforementioned issue.

[2021-04-02 16:02] cujomalainey commented on #3966
@lgirdwood that is likely true, given the majority of the pipeline was scheduled on core 0 and this single component was scheduled on core 1.

[2021-04-06 11:31] mrajwa commented on #3965
Today I have verified tgl-012-drop-stable with DOLBY DAP lib and sof-hda-generic topology on linux kernel, the results are as follows:

1. Parallel playback and capture using aplay and arecord respectively works OK (except barely audible, low amplitude white noise in the background)
2. Playback using YT also works fine, pause/resume too (low amp noise is also present + sporadic glitches occurred)

[2021-04-06 12:57] keyonjie commented on #3947
Hi @slawblauciak @zrombel  can you try if reverting https://github.com/thesofproject/sof/commit/1fa1001e24a8bc8db419e8ff97aaf591ae8ceee5 will help?

[2021-04-06 18:42] mrajwa commented on #3965
Update: as it turns out YT playback format on my ubuntu is S16_LE while the topology was set to S32_LE - after fixing that everything is correct. @stolx @RDharageswari please adjust the format in the topology.

[2021-04-07 03:28] tchici opened #4007 "[BUG] sof-hda-dsp not recognized by ALSA after upgrade (1.6.1 to 1.7)"
**Describe the bug**

Unable to set my laptop's internal speakers or headphone jack as an output because they are not being recognized by ASLA.

**To Reproduce**

No steps to reproduce. Audio device is not recognized immediately after boot.

**Reproduction Rate**

100%

**Expected behavior**

I expected to be able to output audio to my laptop's internal speakers or headphone jack and be able to co

[2021-04-07 03:35] fbernier commented on #4007
Also experiencing loss of sound since going from 1.6.1 to 1.7. More details can be found [here](https://bbs.archlinux.org/viewtopic.php?pid=1966481#p1966481)

[2021-04-07 06:03] AviusX commented on #4007
Happens to me too. Just downgraded back to 1.6.1 and everything works again. Upgrading to 1.7 breaks all audio and the only detected sound card is "Dummy Output".

[2021-04-07 08:21] tumido commented on #4007
Same here, Arch with 5.11.11 kernel on Thinkpad Carbon X1 7th gen

journalctl:
[code]

Downgrade helped.

[2021-04-07 10:29] w4v3 commented on #4007
Adding `snd_hda_intel.dmic_detect=0` to the kernel parameters also fixed this without downgrading for me on Arch 5.11.11, Lenovo Yoga 7i.

[2021-04-07 10:42] mrajwa commented on #3965
@stolx, to address the noise issue, I believe you need to update `waves_effect_config` in waves.c according to https://github.com/thesofproject/sof/pull/4008

[2021-04-07 11:36] heftig commented on #4007
This looks like a downstream packaging bug; please close.

[2021-04-07 11:58] balazs4 commented on #4007
same story but on `Lenovo X1 Carbon Gen 8`

[code]

Downgrading to 1.6.x helped.

[2021-04-07 12:23] tchici commented on #4007
Looks like you're right. I wasn't sure how to confirm this myself at first since I had no idea how to install this directly from github. All there is under deployment is a todo.

For reference, here is the downstream bug report: https://bugs.archlinux.org/task/70327

[2021-04-07 12:23] #4007 closed

[2021-04-07 14:19] plbossart commented on #4007
it also removes support for your microphones. Not so good.

[2021-04-09 06:23] keqiaozhang opened #4066 "[TGL][SDW] XRUN causes multiple pipeline capture test to fail"
**Describe the bug**
We found this issue on TGL-chrome SDW device. when running arecord and aplay on several pipelines, it will failed with I/O error, check the dmesg, there's IPC error log: “error: ipc error for 0x60050000 size 12" and also some XRUN errors in dma trace.

**To Reproduce**
1. export TPLG=sof-tgl-sdw-max98373-rt5682-4ch.tplg
2.  $ ./sof-test/test-case/multiple-pipeline.sh -f c

**R

[2021-04-09 14:28] dbaluta opened #4018 "Processing loop in codec_adapter"
Hi @mrajwa

I need your opinion on how to fix / improving processing loop in codec_adapter.

The code is like this:

[code]

Processing loop starting at line `397` has a problem if it goes above 1 iteration. I think this doesn't happen with DAP codec.

We need to move the lines at 437/438:
[code]

inside the loop. And everything should be OK except when the codec_process() is very expensive.

For

[2021-04-09 14:35] mrajwa commented on #4018
Hi Daniel, do you have some actual problem we can reference to? I would like to get some context here.

[2021-04-09 14:42] dbaluta commented on #4018
@mrajwa I have updated the description. Please read again, maybe is more clear. Will try to summarize:

1) First problem is that if the processing loops goes more than 1 iteration it will copy wrong data to the input buffer because we update the source and local_buff outside the loop. This is fixable by moving the update of source/local_buff inside the loop.

2) Which is more problematic, is that

[2021-04-13 10:27] lgirdwood commented on #3965
@mrajwa @keyonjie can you give us an update on what has been ruled out and the current state and avenues of investigation ?

[2021-04-13 11:13] lgirdwood commented on #3947
@keyonjie @slawblauciak any updates here ?

[2021-04-13 11:16] slawblauciak commented on #3947
@lgirdwood I was only able to eliminate some possibilities: it's most likely not related to IDC or spin locks. I had some trace points set up around those and there were no oddities there. Additionally, when the issue occurs I can see that none of the pipelines actually work, the pipeline tasks are not called.
I'll be debugging it further from scheduler side.

[2021-04-13 11:16] lgirdwood commented on #3966
@keyonjie @slawblauciak any update here, I'm suspicious that cache coherency could also be a factor in some of the other tgl-012 issues. ?

[2021-04-13 11:16] lgirdwood commented on #3949
@slawblauciak @keyonjie any updates ?

[2021-04-13 11:17] lgirdwood commented on #3950
@keyonjie @slawblauciak any updates ?

[2021-04-13 11:20] slawblauciak commented on #3947
Also, neglected to mention that this issue is only reproduced with Python tests under slim driver. No attempt of reproduction under full stack was successful.

[2021-04-13 14:31] lgirdwood commented on #3947
@slawblauciak thanks, btw how is core 1 work scheduled and synchronized with core 0 in this case ?

[2021-04-13 17:06] cujomalainey commented on #3965
I'm going to be taking a look at how this adapter handles the buffers this week to see if there is an issue there.

[2021-04-13 20:19] lgirdwood commented on #3965
@cujomalainey I have a suspicion that perhaps we are not producing/consuming data on cache line size and aligned chunks. @slawblauciak @keyonjie have we double checked this ? Something could have slipped in here that means we are not alined with cache.

[2021-04-13 21:31] mrajwa commented on #3965
@lgirdwood I was only able to reproduce the noise issue with dolby codec I have. After applying the patch from https://github.com/thesofproject/sof/pull/4008 (will be updated further soon) the problem is gone. I also double checked with Keyon, we did a live debug session on friday testing post processing on multicore. We also tried to stress it a bit adding more parallel pipelines - no issue obser

[2021-04-14 00:51] marc-hb commented on #3442
No answer, closing

[2021-04-14 00:51] #3442 closed

[2021-04-14 01:16] marc-hb commented on #3890
The simplest way  to reproduce this issue (and most obvious with hindsight) is to use a firmware compiled with CONFIG_TRACEV and a `.ldc` dictionary file created without CONFIG_TRACEV. They have the same source checksum but the latter misses all `tr_dbg()` statements. In one attempt of doing so `sof-logger -t` fails with `invalid text length` and `sof-logger` without `-t` prints random garbage.

T

[2021-04-14 07:30] slawblauciak commented on #3947
@lgirdwood good question, I'm not exactly familiar with the way SMP is implemented in the firmware.

[2021-04-14 08:05] mrajwa commented on #4018
Yes I think there will be no problem with just a single processing integration on each copy.

[2021-04-14 08:38] dbaluta commented on #4018
Yes, I tested that! One iteration scenario works fine! I have though the following problem (this is not a limitation of codec adapter):

-> codec_adapter_copy()
     -> codec_init_process() [0.8ms]
     -> codec_process()  [0.6ms]

You see doing one init_process + process() in a single copy takes more that 1ms for AAC. I could fix that by using a 2ms period but doing this just because init_proces(

[2021-04-14 09:18] mrajwa commented on #4018
Interesting that init_process() takes so much time. I guess it is the decoding stage right? 1,4 ms for the whole processing procedure is still acceptable assuming you move CA component on slave core.

[2021-04-14 09:23] dbaluta commented on #4018
Yes, init_process() is decoding stage where the algorithm parses the input header, check for sync words, figures out codec parameters (channels, sample rate etc).

Unfortunately, i.MX8 integration of the DSP is single core.

Do you see any problems by doing the codec_init_process() in the first copy() and then skipping codec_process() for the first copy().

Something like this:
[code]

[2021-04-14 10:10] mrajwa commented on #4018
Why is that?

Don't you need to call codec_init_process() prior to any processing of new input? In general by skipping `codec_process()` you lose valuable time so I don't think it is a good idea.

[2021-04-14 10:11] lgirdwood commented on #3947
@slawblauciak the issue I'm thinking here if core 1 work takes too long for one iteration and how this could spill over into the core0 work (and how we could detect/report and recover)..

[2021-04-14 10:13] slawblauciak commented on #3947
@lgirdwood that was my initial though as well, but I believe the work on the cores is scheduled entirely independently and without synchronization, except for the locks in the buffer access. But again, I'm not 100% sure.

[2021-04-14 10:14] paulstelian97 commented on #4018
Maybe that's an idea for future hardware revisions, but the current one in i.MX8 (all of the supported platforms) is single core.

We need to ensure we don't break real time requirements while we have only a single core. So we have to do the bulk of the processing in a single period and if we try to do high sample rates longer periods will overload the SDMA (and will also fuck with buffer computat

[2021-04-14 10:17] dbaluta commented on #4018
1) There are no more cores. The HIFI4 DSP hardware chip has one single core.

2) codec_init_process() is called only once before decoding starts.

[2021-04-14 11:00] mrajwa commented on #4018
Ohh ok.

What you can also do is change the pipeline period so you have 2ms processing window. Maybe you can also try long deep buffering. Yet another solution would be to schedule separate task for processing on that component.

[2021-04-16 07:57] hongshui3000 opened #4040 "zephyr + sof build fail"
**Describe the bug**
file: modules\audio\sof\zephyr\CMakeLists.txt
file does not exist
[code]

[2021-04-16 09:26] hongshui3000 opened #4042 "undefined reference to `XT_ROUND_S'"
**Describe the bug**
build the code with xcc, the architecture is hifi4. But I searched the header file but did not find the definition of XT_ROUND_S.
Only found "XT_FIROUND_S", but I think the definition is different.
[code]

[2021-04-16 09:43] paulstelian97 commented on #4042
Bug also affects us on the HIFI4 part. The workaround we have done at NXP is use RG-2017.8 instead of the 2020 toolchain.

[2021-04-16 10:18] dbaluta commented on #4042
what xcc version are you using?

[2021-04-16 10:33] hongshui3000 commented on #4042
Yes i use RI-2020.5.Besides changing the tool version, are there other solutions?

[2021-04-16 10:41] hongshui3000 commented on #4042
Can someone help me look at the description of XT_FIROUND_S, I want to find out if there is any macro or function that can replace it

[2021-04-16 11:33] dbaluta commented on #4042
@hongshui3000 Before going this route can you try to:

[code]

and see if you get into other problems?

I think the best way is to upgarde SOF to a newer toolchain.

[2021-04-16 11:36] hongshui3000 commented on #4042
@dbaluta
It can work like this
[code]
I also think sof should be upgraded

[2021-04-16 12:14] hongshui3000 commented on #4042
[code]
Build fail：
[code]

[2021-04-16 12:18] hongshui3000 commented on #4042
I am not sure if XT_TRUNC_S can replace XT_ROUND_S
[code]

[2021-04-16 12:29] dbaluta commented on #4042
@hongshui3000 what are you exactly trying to do? Compile SOF with Zephyr for Intel platforms right?

Also, you might want to remove pcm_converter_hifi3.c from compilation. We got into a lot of trouble when trying to enable for RI-2020.

@paulstelian97 I think we should brainstorm and spend some days to really make sof work with a newer compiler. RI-2020 is a good start.

We need to have different

[2021-04-16 15:30] lgirdwood commented on #4042
@singalsu any comments here ?

[2021-04-16 15:31] lgirdwood commented on #4042
@lyakh fyi

[2021-04-16 15:44] singalsu commented on #4042
It's likely this ROUND.S instruction:

![image](https://user-images.githubusercontent.com/28754793/115049810-c97b5500-9ee3-11eb-94fe-d9ba370273f8.png)

[2021-04-16 16:41] paulstelian97 commented on #4042
@singalsu Any direct replacement that works on the new toolchain? Or do we need a HIFI4 version of this?

[2021-04-17 05:24] hongshui3000 commented on #4042
@dbaluta
I am using a brand new hifi4 processor, which is not in the sof library.

I consulted cadence ，Their reply to me：
[code]

[2021-04-17 07:30] hongshui3000 commented on #4042
Before finding a good solution, I first did the following processing. I think it should not affect the original code
[code]

[2021-04-17 07:53] dbaluta commented on #4042
@hongshui3000 will have a look on Monday. What platform are you trying SOF on?

SOF supports NXP imx8 platforms which have Hifi4 DSP.

[2021-04-17 08:07] hongshui3000 commented on #4042
Currently I work on my own hifi4 platform (not Intel or nxp soc) .I probably browsed the configuration of my nxp RT600 (dsp part), which is similar to my current configuration.So I think most people who use hifi4 are likely to encounter my problems

[2021-04-17 09:52] hongshui3000 opened #4044 "Is DYNAMIC_INTERRUPTS mandatory in the sof system?"
Is DYNAMIC_INTERRUPTS mandatory in the sof system?
I plan to call the sof library in zephyr, maybe my soc does not support dynamic interrupt.
What is the reason for the need for dynamic interrupt enable in sof?

If CONFIG_LIBRARY is enabled, is it necessary to enable dynamic interrupts?

file : modules\audio\sof\zephyr\wrapper.c
[code]

[2021-04-17 09:53] hongshui3000 opened #4045 "[BUG]"M_PI" does not exist"
**Describe the bug**
When I use zephyr (minimal library) to call sof, I found that there is no definition of "M_PI".
Cause build error

I added the following code：
file:modules\audio\sof\src\math\trig.c
[code]

[2021-04-17 10:07] hongshui3000 opened #4046 "[BUG]Why do I need to enable CONFIG_CAVS_TIMER?"
**Describe the bug**
This code will prevent all xtensa architecture processors from using sof (zephyr), except for the Intel CAVS platform.I don’t understand the necessity of doing so.

file:modules\audio\sof\src\schedule\timer_domain.c
[code]
Can it be changed to the following?
[code]

[2021-04-18 05:34] hongshui3000 opened #4047 "[BUG] The header file introduces the path error（sof + zephyr）"
**Describe the bug**
CONFIG_LIBRARY enable
file：modules\audio\sof\zephyr\CMakeLists.txt
When the default platform of sof is not selected, the variable “&{PLATFORM}”will not be set
[code]
The path mentioned in the code does not exist
Can it be changed to：
[code]

[2021-04-18 09:05] hongshui3000 opened #4048 "[BUG] __typeof__ or typeof"
**Describe the bug**
I use (zephyr + sof )to build the project, and I find that my compiler does not seem to be able to correctly recognize typeof. I include the typeof header file in zephyr and it will report an error.

I took a preliminary look at the sof code, and I found that there are a lot of __typeof__ and typeof in it. And both are in use. I'm not sure where the problem is. I use xt-xcc (x

[2021-04-18 09:17] hongshui3000 opened #4049 "[BUG]zephyr conflicting types "atomic""
**Describe the bug**
Using the following header file in zephyr is to find an error
sof/src/include/sof/lib/dma.h
log:
[code]
I think if there is zephyr, these should not be provided by sof.Below is my modification
[code]

[2021-04-18 14:10] lgirdwood commented on #4048
@marc-hb - looks like another alignment thing to take care of.

[2021-04-19 08:53] lgirdwood commented on #4048
@lyakh fyi - not sure if you have seen this - I guess not.

[2021-04-19 09:20] lgirdwood commented on #4042
Lets do what Cadence do in the NN libs here. They know what they are doing and we should copy their method here.

@hongshui3000 your code looks fine to me, but @singalsu needs to review all HiFi code. Please send a PR and we can merge.

[2021-04-19 10:15] kkarask opened #4050 "[BUG] glitch in 17_06_TestMultiCoreCompSrcPlb8000Hz16b16b1ch test"
**Describe the bug**
In test  17_06_TestMultiCoreCompSrcPlb8000Hz16b16b1ch glitch was found.

**Topology**
[code]

**To Reproduce**
Run test with Diagnostic driver 17_06_TestMultiCoreCompSrcPlb8000Hz16b16b1ch.

**Reproduction Rate**
Sporadic.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * SOF: BRANCH: main HASH: be065

[2021-04-19 10:23] lgirdwood commented on #4045
@singalsu an comment here ?

[2021-04-19 10:31] lgirdwood commented on #4040
Fixed by https://github.com/thesofproject/sof/pull/4051

[2021-04-19 11:19] singalsu commented on #4045
@lgirdwood It seems that src/math/trig.c gets the value M_PI from C #include <math.h>. Should SOF avoid that and define own value?

[2021-04-19 12:01] kkarask opened #4052 "[BUG] glitch in test 22_05_TestDsmMulticoreSsp48000Hz32b32b2ch"
**Describe the bug**
Glitch was found in test 22_05_TestDsmMulticoreSsp48000Hz32b32b2ch

**Topology**

'''
 +----------------------------------------------+
    | +------+   +---+   +- -+   +---+   +-------+ |
    | | Host |-->|Buf|-->|Dsm|-->|Buf|-->|SSP Dai|-------+
    | +------+   +---+   +---+   +---+   +-------+ |     |
    +------------------+   ^   +-------------------+     |

[2021-04-19 13:46] #4040 closed

[2021-04-19 13:53] lgirdwood commented on #4046
Good point. It's a bug. @lyakh can you fix.

[2021-04-19 14:36] lgirdwood commented on #4042
@hongshui3000 please also send us your patch and we can merge.

[2021-04-19 14:38] lgirdwood commented on #4045
We should use the C library versions of all these symbols.

[2021-04-19 14:39] lgirdwood commented on #4052
@kkarask I'm assuming all is good when DSM is disabled ? It looks like we have missed a deadline and slipped some data. @slawblauciak fyi.

[2021-04-19 14:40] lgirdwood commented on #4052
@kkarask I also assume that your topology is all core 0 and can you confirm if you are using low power clocks ?

[2021-04-20 01:55] hongshui3000 commented on #4045
@lgirdwood
Then I provide PR to Zephyr, but I am not sure that they will be accepted

[2021-04-20 01:57] hongshui3000 commented on #4047
Ok, I will provide PR for your reference

[2021-04-20 01:58] hongshui3000 commented on #4042
@dbaluta
 I am working for a company
@lgirdwood
Ok, I will provide PR for your reference

[2021-04-20 07:25] keyonjie commented on #4052
@kkarask what is "SOF: BRANCH: main HASH: b7ed915d911acda"? I can't find this commit in the main branch?

[2021-04-20 08:09] kkarask commented on #4052
@keyonjie Sorry, my mistake. Correct HASH is: be065e55a87b5a7b4a731856b4e7d6419de7f60e

@lgirdwood There are no glithes in other Multi core tests apart from only one issue: [(https://github.com/thesofproject/sof/issues/4050)]

All components use core = 0 except DSM = 1 in test 22_05_TestDsmMulticoreSsp48000Hz32b32b2ch.
Regarding power clocks could you please check dma_trace_log.

[2021-04-20 13:19] lyakh commented on #4046
@hongshui3000 would #4062 also work for you?

[2021-04-20 13:54] lyakh commented on #4044
@hongshui3000 the reason is that SOF requests interrupts dynamically, so, there isn't much point in not having them enabled with SOF. However, I guess, we could do something like #4063 . Note, that's a draft PR for now, let's see if others like it too or if you'd prefer to enable dynamic interrupt support for your platform.

[2021-04-20 14:14] dbaluta commented on #4044
I think we need something like this with i.MX also.

Cc: @iuliana-prodan

[2021-04-20 17:12] dbaluta opened #4064 "Discussion: How to keep track of total bytes transferred to DSP"
Compress API needs to keep track of total `consumed` bytes by the Host component (think compress playback).

On the kernel side, each period time SOF firmware Host component sends us a notification:

[code]

On the kernel side, we retrieve the position via:

[code]

So, basically Firmware reports to the kernel each period `posn.host_posn` bytes.

Here comes to confusion. I don't think I understand

[2021-04-20 18:23] iuliana-prodan commented on #4044
DYNAMIC_INTERRUPTS are not imx specific, but they are required by SOF. So, we should enable them.

[2021-04-20 18:32] lgirdwood commented on #4064
Does this need to align with ALSA position (or can there be a small difference to cater for the DMA copy) ?
Host position for playback is bytes copied to FW at pipeline entry, DAI position is the presentation position (which will have a small latency between host position).
CC @plbossart as author of ALSA compressed

[2021-04-20 18:35] lgirdwood commented on #4044
TBH, dynamic irqs can probably be deprecated once Zephyr is fully integrated and we use the static Zephyr model. Its a simplification for us.

[2021-04-20 18:40] fredoh9 commented on #4066
Transferred from linux issue. IPC errors are fixed by https://github.com/thesofproject/sof/pull/4065.
This is XRUN problem from capture pipeline.

[2021-04-20 19:20] lgirdwood commented on #4045
Fwiw, we work alongside the Zephyr developers (who also work at Intel and NXP). Dont worry, this will get resolved.

@nashif @andyross care to give us some direction on how you see Zephyr using trig ? We can carry this in the SOF headers if required.

[2021-04-20 21:09] andyross commented on #4045
The root cause is that the Zephyr minimal libc is a partial implementation and mostly skipped anything to do with floating point (because Zephyr targets often don't have hardware FPUs, or as is the case with the ADSP support only weird vectorized instructions sets without general C support -- there just hasn't been demand basically).  We support newlib as a C library which is much more compliant,

[2021-04-21 07:35] kkarask opened #4068 "[BUG] DSP panic problem in ASRC component"
**Describe the bug**
In tests 19_00_TestAsrcPlayback8000Hz32b32b2ch and 19_00_TestAsrcPlayback48000Hz16b16b2ch Panic notification occurred.

**Topology**

[code]

**To Reproduce**
Run tests with Diagnostic driver 19_00_TestAsrcPlayback8000Hz32b32b2ch and 19_00_TestAsrcPlayback48000Hz16b16b2ch.

**Reproduction Rate**
100%
Problem doesn't exist before dc0ab8a449d6aea470f787a8aac8067d9c547ec2

**Envi

[2021-04-21 07:54] XiaoyunWu6666 opened #4069 "[BUG][APL] multiple-pipeline failed on APL_UP2_NOCODEC , buffer_alloc error after initiating the 9th pipeline"
**Describe the bug**
multiple-pipeline test failed on APL_UP2_NOCODEC , show "Unable to install hw params"when doing arecord on DMIC.

**To Reproduce** [revised ]
ssh ubuntu@jf-apl-up2-nocodec-1.jf.intel.com
TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -c 20
(also run  'arecord   -D hw:0,6 -c 2 -r 48000 -f S32_LE /dev/null -q' and  'arecord

[2021-04-21 07:55] XiaoyunWu6666 commented on #4069
worked well on April 18 , failed since April 19 .
Will do bisect soon

[2021-04-21 08:18] #4047 closed

[2021-04-21 09:22] XiaoyunWu6666 commented on #4069
after bisecting , found that commit 6c2cdffd0239de4fcedc95e0cdded6acb6dac184 (HEAD -> main) is the first bad commit
Author: Keyon Jie <yang.jie@linux.intel.com>
Date:   Thu Apr 8 10:56:23 2021 +0800

    dai: dai_config refinement

    This is cleanup of the dai_config logic to make it more robust.

    The host side should send _DAI_ONFIG IPC before trigger start, it can be
    at:
    a. topolog

[2021-04-21 09:33] lgirdwood commented on #4068
@singalsu 100% reproducible so should be easy to find.

[2021-04-21 09:43] iuliana-prodan commented on #4068
I can confirm that I also found this issue.
Tried to add ASRC components in an imx pipeline who looked like: PCM0 <----> ASRC <----> volume <-----> SAI1 (wm8960).
When trying to playback a wav, even with 48kHz it crashes in SOF, I only get the IPC reply in kernel
(`sof-audio-of 556e8000.dsp: error: hw params ipc failed for stream 0`) and no logs in sof-logger.

[2021-04-21 10:55] keyonjie commented on #4069
looks like the memory is used up here, but yes, why this happen after my commit:
[code]

[2021-04-21 10:58] lgirdwood commented on #4045
@hongshui3000 it looks like we will need to carry this in SOF in the short term. Could you send a PR to fix it (and make sure the comments state the reasons). Thanks !

[2021-04-22 02:48] hongshui3000 commented on #4045
I think Zephyr should be able to accept my PR, if not. I will submit a PR in sof. @nashif @andyross  Any comments?

[2021-04-22 02:59] hongshui3000 commented on #4046
work

[2021-04-22 04:45] XiaoyunWu6666 commented on #4069
Confirmed with Keyon that this is not a DMIC-related issue .
In the CI test , we run  'TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -c 20' which means running playback pipelines first . So the testcase failed when 'arecord -Dhw:0,6 ....' since it is the 10th pipeline. Buffer_error occurs at this time.

run ' ./multiple-pipeline.sh -f c -c 5'

[2021-04-22 05:05] hongshui3000 opened #4073 "[FEATURE] Is it more reasonable to choose a file when compiling, or is it more reasonable to choose a file when cmake builds?"
**Is your feature request related to a problem? Please describe.**
I see that all files will be added in CmakeFile, I'm not sure this is a good way. Maybe I prefer to solve these problems in the early stage of cmake build, and Solving the problem during the compilation process may introduce more macro definitions.
Current CmakeFile:
[code]
At first glance at this file, I thought that all c files w

[2021-04-22 07:30] keyonjie commented on #4069
Hi @XiaoyunWu6666 can you help to try if https://github.com/thesofproject/sof/pull/4074 can fix this issue?

[2021-04-22 08:25] XiaoyunWu6666 commented on #4069
@keyonjie  Yes, #4074 can fix this issue.

[2021-04-22 08:53] paulstelian97 commented on #4073
All files **are** compiled, however each of them has conditional code so that if it doesn't apply it won't build anything. It's about what's inside those files.

[2021-04-22 10:21] keyonjie commented on #4069
Thanks for confirming, then we can close this now since the PR is merged.

[2021-04-22 10:34] #4069 closed

[2021-04-22 10:38] wszypelt opened #4076 "[BUG] glitch in test 02_00_TestPtpSimpleLoopback48000Hz24b32b8ch"
**Describe the bug**
Glitch was found in test 02_00_TestPtpSimpleLoopback48000Hz24b32b8ch

**Topology**
[code]

**To Reproduce**
Run test with Diagnostic driver 02_00_TestPtpSimpleLoopback48000Hz24b32b8ch
With options --playback-iterations=75

**Reproduction Rate**
1/75

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * S

[2021-04-22 11:03] hongshui3000 commented on #4073
What I mean is that if the platform architecture increases, too many macro judgments may be introduced into the C code. It might be better if you solve it in the Cmake file. Although it will not generate code to introduce macro judgments

[2021-04-22 11:07] dbaluta commented on #4073
Do, you mean for example to only compile eq_fir_hifi3.c for HIFI3 platforms right?

I think we need to have a better understanding what's the difference between hifi2, hifi3, hifi4 regarding software.

In my opinion, we know which HIFIx version each platform has integrated and we can use the platform define (e.g CONFIG_IMX8) to select the proper code.

I understand you want to reduce the size of t

[2021-04-22 11:10] hongshui3000 commented on #4073
If I use cmake to generate the IDE project, I think the current code will be included in the project, but it is not used in many cases. If you judge which code is needed under the current architecture in cmake, the generated project will not contain unused source code

[2021-04-22 11:15] hongshui3000 commented on #4073
This may just be a matter of code reading habits
Maybe I am used to zephyr, so I think your method is very good.

[2021-04-22 12:15] slawblauciak commented on #3947
Upon further debug I was able to partly determine source of the problem. There was a small discrepancy between latest changes made to the scheduler, between tgl-011 and tgl-012. Upon aligning the changes, I was able to get the scheduler to run somewhat properly now. However, the issue still occurs, which suggests that the task might be being incorrectly cancelled or erroneously handled otherwise.

[2021-04-22 13:05] lgirdwood commented on #4046
Thanks for confirming it works @hongshui3000 will close now.

[2021-04-22 13:05] #4046 closed

[2021-04-22 14:29] wszypelt opened #4080 "[BUG] glitch in test 02_02_TestPtpSimpleLoopbackMasterRecord16000Hz32b32b4ch"
**Describe the bug**
Glitch was found in test 02_02_TestPtpSimpleLoopbackMasterRecord16000Hz32b32b4ch
Playback pipeline is connected to slave SSP, capture pipeline is connected to master SSP.

**Topology**
[code]
**To Reproduce**
Run test with Diagnostic driver 02_02_TestPtpSimpleLoopbackMasterRecord16000Hz32b32b4ch
With options --playback-iterations=75

**Reproduction Rate**
1/75

**Environment**

[2021-04-22 15:22] singalsu commented on #4068
Thanks for reporting this! I will start checking tomorrow.

[2021-04-22 19:04] plbossart commented on #4066
@lgirdwood @ranj063 I find it very concerning that an IPC flood test leads to a capture xrun. that means somehow the IPC priority is too high or there is no bound on the IPC budget for EDF scheduling.

[2021-04-23 15:29] slawblauciak commented on #3947
@zrombel please verify the effectiveness of the linked PR

[2021-04-23 15:29] slawblauciak commented on #3949
@zrombel please verify the effectiveness of the linked PR

[2021-04-23 15:29] slawblauciak commented on #3950
@zrombel please verify the effectiveness of the linked PR

[2021-04-23 17:31] singalsu commented on #4068
Yep, confirm the panic happens with normal SOF linux driver controlled device, no need to set up diagnostic driver that eases the debugging for me.

[2021-04-24 03:56] hongshui3000 commented on #4042
The PR has been accepted and should be closed

[2021-04-24 03:56] #4042 closed

[2021-04-24 03:57] hongshui3000 commented on #4044
The PR has been accepted and should be closed

[2021-04-24 03:57] #4044 closed

[2021-04-26 11:38] singalsu commented on #4068
This avoid the panic the pipeline no more works (with SSP DAI). I wonder if dd->chan has got deprecated.

[code]
@lgirdwood Do you remember if this has been changed?

[2021-04-26 14:13] #3947 closed

[2021-04-26 14:13] #3949 closed

[2021-04-26 14:13] #3950 closed

[2021-04-26 14:19] #4049 closed

[2021-04-26 14:56] lgirdwood commented on #4068
@singalsu any asynchronous APIs should not assume a previous state. In this case the DAI API assumes that the timestamp is setup by prepare(). The DAI API needs to make this clear (where the timestamp and other async features APIs are ready) and survive any attempts to use the API prior to setup. i.e. we check for NULL

[2021-04-26 15:14] lgirdwood commented on #4066
@fredoh9 can we close ?

[2021-04-26 15:28] mrajwa commented on #3966
Is this issue still present? Today I checked on my end, the FW branch I used was tgl-012-drop-table but with linux kernel (5.9.0).
I don't reproduce this issue. Codec adapter was scheduled on core 1 while the rest of the pipeline on 0(master) core. Each time the format has changed, the stream params followed that.
I asked @zrombel to verify this on the slim driver as well, @zrombel once you have t

[2021-04-26 18:39] cujomalainey commented on #3966
Will check again, but I have not see a specific fix for this on tgl-012-drop-stable yet

[2021-04-26 18:56] mrajwa commented on #3966
@cujomalainey, I have just started working on codec adapter performance improvements (including your feedback regarding double state machine, config apply etc.) So better freeze your tests for a day, until I push my pattches.

[2021-04-26 18:59] cujomalainey commented on #3966
Noted, thanks

[2021-04-27 03:40] marc-hb commented on #3281
Was this fixed by commit 67a0a6937 / PR #3319?

[2021-04-27 05:17] mengdonglin commented on #3462
All Braswell devices have been removed from CI farm due to broken eMMC. Cannot check latest status on BSW and so close this issue.  Will file a new bug if we can reproduce this issue on Baytrail devices.

[2021-04-27 07:15] slawblauciak commented on #4052
@kkarask can you please re-check if the issue is reproducible with the current main branch? There was a relevant fix on a different platform, I wonder if it also applies to ICL.

[2021-04-27 10:26] kkarask commented on #4052
Hi, @slawblauciak
Unfortunately the problem still exists on current main branch on platforms: TGL and ICL. There are glitches in whole wav files.
Logs:
TGL 22_06_TestDsmMulticoreSdw48000Hz24b32b2ch :
[2021_04_27_10_01_42.zip](https://github.com/thesofproject/sof/files/6383782/2021_04_27_10_01_42.zip)

ICL 22_05_TestDsmMulticoreSsp48000Hz32b32b2ch:
[2021_04_27_10_29_41.zip](https://github.com/theso

[2021-04-27 10:58] zrombel opened #4101 "[BUG] DSM standalone Multicore Stream Stall"
**Describe the bug**
In DSM test where DSM component is run on CORE 1 and rest of topology on default CORE 0 after triggering pipelines start, playback pipeline stops copying data. Test were performed to check if PR https://github.com/thesofproject/sof/pull/4088 fixes issue https://github.com/thesofproject/sof/issues/3947. Root cause seems to be different - error is caused by pipeline XRUN visible

[2021-04-27 11:01] zrombel commented on #3950
Fixed by https://github.com/thesofproject/sof/pull/4088

[2021-04-27 11:05] zrombel commented on #3947
Fixed by https://github.com/thesofproject/sof/pull/4088, similar bug with different root cause found: https://github.com/thesofproject/sof/issues/4101

[2021-04-27 12:50] zrombel opened #4104 "[BUG] Post Processing XRUN when playing multiple times on same topology"
**Describe the bug**
In any Post Processing test when trying to play 2 times or more on one topology (new streams are created, topology stays intact) SteamStall caused by XRUN occurs.

**Topology**
[code]

**To Reproduce**
Any python test from groups:
25_00_TestGenericProcessorSimplePlb
25_02_TestGenericProcessorCompMultiCorePlb
25_06_TestGenericProcessorPplMultiCorePlb

with parameters:
--playbac

[2021-04-27 13:49] lgirdwood commented on #4076
@wszypelt @zrombel I didn't know we supported the same buffer for host DMA and DAI DMA ? I thought the simplest would be the passthrough volume that places a volume in the middle to make sure we dont use the same buffer for host and DAI DMA ?

[2021-04-27 13:56] lgirdwood commented on #4052
DSM and multicore is showing up in a few of these failures recently. @kkarask what's your take here since you are doing the bulk of the test runs.
1) Are we seeing multicore fail sporadically without DSM ? (points to scheduling)
2) Are we seeing DSM fail on core 0 (if possible to run on 0 - points to DSM)
It would be good to know if these issues are more likely scheduling work on other cores or ar

[2021-04-27 13:58] lgirdwood commented on #4080
@wszypelt @zrombel Not sure if we can use the same buffer for both host and DAI DMA - please confirm if topology diagram is correct.

[2021-04-27 13:59] lgirdwood commented on #4045
@hongshui3000 fyi - we had a call with @nashif and @andyross last night. Issue now fixed on SOF side.

[2021-04-27 13:59] #4045 closed

[2021-04-27 13:59] zrombel commented on #4076
This image can be a little bit confusing as "Host plb" and "Host cap" component are a part of pipelines (test documentation needs a fix). Regarding buffers: buffers shown on topology are buffers that are explicitly created by test logic by IPC "TplgBuffNew" but as far as I know one another buffer is being created implicitly by FW for data from host DMA - those buffers are not included in tests top

[2021-04-27 21:25] iuliana-prodan commented on #4068
@singalsu I've tested i.MX topology with ASRC, with your patches (#4095), and I don't get the DSP panic, anymore.

But I still have some questions regarding ASRC.
It seems to me that I can only convert from 8000 11025 16000 22050 32000 44100 48000 to 48000 Hz.
If I try a downsampling from 64000 to 48000 I get:
[code]
Which seems expected, by looking in `asrc_farrow.c`, in [`initialise_filter()`](h

[2021-04-28 01:11] marc-hb commented on #3281
Assuming fixed and closing, re-open if needed.

[2021-04-28 01:11] #3281 closed

[2021-04-28 04:16] #4064 closed

[2021-04-28 07:52] singalsu commented on #4068
@iuliana-prodan Nice that it fixes the issue for you. There's a minor document add need for that patch and then it should be good to go.
PCM512x codec usually is slave to APL so we can use the sychronous SRC to convert from 192 to 48 kHz. If the codec is master the topology could use SRC and ASRC both in same pipeline. Though this could reveal new pipeline rules issues. This is actually a good cas

[2021-04-28 09:34] kkarask commented on #4052
@lgirdwood I will run stress tests and give you answer tomorrow. We will see how fix https://github.com/thesofproject/sof/pull/4088 works.

[2021-04-28 09:52] lgirdwood commented on #4068
@singalsu ping - will we see the fix be ready to merge today ?

[2021-04-28 12:26] singalsu commented on #4068
@lgirdwood I updated the PR, hope the doxygen part add is OK.

@iuliana-prodan @kkarask There's another problem that I noticed with the I2S devel topology that my other related PR adds. The simultaneous playback and capture with ASRC pipelines into same DAI causes and I/O error for one direction with xrun recover failed error in trace. I'll add a new issue to track the add of the access filtering

[2021-04-28 12:35] singalsu opened #4110 "[BUG] Simultaneous ASRC playback and capture with same DAI fails"
**Describe the bug**
Other direction will fail to Input/Output error and xrun.

**To Reproduce**
Start simultaneous playback and capture to/from same I2S DAI

[code]

Use e.g. topology sof-cml-rt1011-rt5682-asrc.tplg if using a suitable CML device.

**Reproduction Rate**
Always.

[code]

Trace shows error

[code]

**Expected behavior**
Successful playback and capture.

**Impact**
Annoyance. We don

[2021-04-28 12:37] singalsu commented on #4110
The multiple access to same timestamping resource seems to result to incorrect time/stream flow information and cause xruns for one ASRC instance.

[2021-04-28 12:47] singalsu commented on #4110
@kkarask Here's the xrun error I noticed while testing fix for #4068.

[2021-04-28 13:24] iuliana-prodan commented on #4068
Is there a document about ASRC? Where?
I only know about SRC - https://thesofproject.github.io/latest/algos/src/sample_rate_conversion.html

So, for APL, for example, you use ASRC for upsampling and SRC for downsampling?

For imx8QM we use wm8960 codec as master.
You're saying that we can use SRC and ASRC in the same pipeline, something like:
PCM0 <----> SRC <----> ASRC <---->volume <-----> SAI1 (

[2021-04-28 15:01] singalsu commented on #3915
@ShriramShastry This should be OK to close, right?

[2021-04-28 15:14] singalsu commented on #4068
@iuliana-prodan The history of ASRC is different than SRC. This was a contribution from other team than Liam's and we got permission to publish source code (I did the "SOFifying" work) but not the document that wasn't totally suitable for this need. A from scratch written new document should be possible given some time. Add an enhancement issue for SOF Docs perhaps?

If there's need for large rate

[2021-04-28 15:49] ShriramShastry commented on #3915
Thanks , yes it can be closed.

[2021-04-28 15:49] #3915 closed

[2021-04-28 16:52] iuliana-prodan commented on #4068
@singalsu @lgirdwood @zrombel I'm looking on Intel's topologies with SRC and ASRC and on the CI ([here](https://sof-ci.01.org/sof-pr-viewer/#/build/PR4089/build6352012), for example).
Where can I find the tests for:
11_01_TestSrcSimple16000On48000Hz16b16b2ch or 17_06_TestMultiCoreCompSrcPlb48000Hz24b32b4ch?
I can only see the logs from the CI.
How/where can I find out the topology used, the test i

[2021-04-28 19:08] #4068 closed

[2021-04-28 21:19] fredoh9 commented on #4066
@lgirdwood #4065 fixes only ipc errors.
However, XRUN issue is duplicated with #3953, #3939.

[2021-04-29 01:31] astromatt42 opened #4115 "sof-audio-pci seems to prevent wake from sleep"
sof-audio-pci intermittently throws a series of errors, preventing wake from sleep. Usually I need to do a alt + sysreq + B to kill the kernel, however very occasionally it does wake up after struggling for 5min or so, which is how I obtained the dmesg output below. Please let me know if you require a more detailed error log.

[10206.820178] sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x8

[2021-04-29 12:41] kkarask commented on #4052
All results from stress tests will be available tomorrow. I will comment about reproduction rate.

[2021-04-29 13:47] lgirdwood commented on #4052
@kkarask thanks, it occurred to me that the pcm converter/copier component is also in this pipeline and also the simple pipelines with similar glitches so could be getting stuck or some confusion between DMA and module R/W pointers.
Btw, I can't read the logs.

[2021-04-30 07:31] keyonjie commented on #4101
@zrombel do you mean PR #4088 is not enough to fix this? Can you help to do a quick check if PR https://github.com/thesofproject/sof/pull/4089 help?

[2021-04-30 08:40] singalsu commented on #4068
@iuliana-prodan Those test case implementations are not open source. They use the diagnostic driver (open source under SOF) and I think they are not based on any .tplg but some generated IPC sequence. It would be useful to ASRC tests in sof-test as well to test via normal topologies and driver too.

[2021-04-30 09:21] brentlu opened #4122 "[FEATURE] Support Cirrus Logic CS42L42 headphone codec"
New topology and machine driver are created to support cs42l42 on GLK chromebooks.

Pull reguests:
  - Topology: https://github.com/thesofproject/sof/pull/4121
  - Machine driver: https://github.com/thesofproject/linux/pull/2884

[2021-04-30 12:23] keyonjie commented on #4101
#4089 can't address this issue, I can reproduce this and have some clue about it, but need to debug it after May vacation.

[2021-04-30 12:34] zrombel commented on #4101
Description updated, bug is also present in build with def_config only.

[2021-04-30 12:44] lgirdwood commented on #4101
This is an asynchronous scheduling issue. We have everything running synchronously on core 0 and DSM asynchronously (wrt core 0 pipeline copy status).
The fix is to make sure that
1) DSM source/sink buffers are large enough to cope with scheduling differences.
2) DSM should continue if reference buffer is empty- treat as 0s
3) Demux should continue if reference buffer is full.

[2021-04-30 14:50] marc-hb commented on #3617
@cujomalainey is there anything left to do here, if not can this be closed?

[2021-04-30 17:24] cujomalainey commented on #3617
yes i think we are done here

[2021-04-30 17:24] #3617 closed

[2021-04-30 22:39] cujomalainey opened #4129 "[BUG] Crash when format enabled in topology but not firmware"
**Describe the bug**
[code]

**To Reproduce**
E.g. disable FORMAT_S32LE for TGL with main

**Reproduction Rate**
every time

**Expected behavior**
hmm, hard to tell

**Impact**
Blocker to possible memory reduction methods

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: chromeos kernel
    * SOF: top of #4128
2)

[2021-05-03 17:18] juimonen commented on #4129
I can get this reproduced actually without mux/demux... with mixer pipeline at least. So we have something fishy in the format propagation when restricting to 16 bits. looks like NULL pointer access currently. Debugging more...

[2021-05-03 17:44] juimonen commented on #4129
@lgirdwood @cujomalainey I think the problem is in dai.c calling pcm_get_conversion_function() in pcm_converter. With processing reduced to 16 bit, it also compiles out everything else than 16 bit processing. If your dai is configured to 24 or 32 bit, pcm_get_conversion_function returns NULL.... and we have no checks here

I'm not sure what's the proper way to fix this:
1) just return error here i

[2021-05-03 18:42] juimonen commented on #4129
@cujomalainey can you try out if https://github.com/thesofproject/sof/pull/4131 at least fixes the crash? we can then see what to do next...

[2021-05-03 21:17] #4122 closed

[2021-05-04 14:19] singalsu opened #4136 "[BUG] 4ch volume control is not working correctly for 16 kHz DMIC DAI"
**Describe the bug**
The volume control is applied to first two channels for 16 kHz pipeline. The volume control in 48 kHz DMIC capture works OK.

**To Reproduce**

The output of amixer shows that volume is applied for two channels despite attempt to set four.

[code]
In comparison the volume command for Dmic0 looks like next with all four channels set to 60.

[code]

**Reproduction Rate**
Always.

[2021-05-04 16:32] juimonen commented on #4129
#4131 is merged. we can still experiment with #4135 and/or close this...

[2021-05-04 17:51] cujomalainey commented on #4129
I think we can close this and follow up in the PR for experimentation

[2021-05-04 17:51] #4129 closed

[2021-05-04 19:00] lgirdwood commented on #4136
@juimonen can you take a look and help @singalsu here. I've tagged for v1.8

[2021-05-05 07:32] #4018 closed

[2021-05-05 11:55] zrombel commented on #4101
Just to share quick tests results:
Unfortunately #4089 doesn't fix DSM multicore issue. Results look very similar as main branch results.
Test info: Simple - 1 iteration, Stress 20 - 20 playback iterations, Stress 200 - 200 playback iterations

  |   | sof_main_c2fe4ff10ba_defconfig | sof_main_c2fe4ff10ba_chromeconfig | sof_keyon_ll_37f11e33_defconfig | sof_keyon_ll_37f11e33_chromeconfig
-- | -- |

[2021-05-05 13:21] lgirdwood commented on #4101
@zrombel thanks for the valuable info. This looks like a fix for rc2 and TGL12 is needed. @keyonjie we need to fix this in topology to account for the async nature of the work running on core0 and core1 with respect to each other.

[2021-05-05 14:31] dbaluta opened #4141 "[BUG]/scripts/build-tools.sh -T doesn't build development topologies"
**Describe the bug**

Running `/scripts/build-tools.sh -T` doesn't build tplg files in `tools/topology/development`

Is this expected behavior? How one would build topologies in `tools/topology/development` using `build-tools.sh` script

[2021-05-05 16:08] lgirdwood commented on #4141
@singalsu fyi - I assume this is a regression ? @marc-hb fyi.

[2021-05-05 16:55] marc-hb commented on #4141
They're built only when building everything. Demo:

[code]

This single line is enough to change that:
[code]

However I have no idea whether that's desirable or not. I think @plbossart, @ranj063  have some informed opinions on what topologies should be built and when? A new `tools/topology/README.md` would not hurt.

No idea but there hasn't been any recent change AFAICT

[2021-05-05 18:00] fredoh9 commented on #4141
From SOF-CI, we use "scripts/build-tools.sh" without any option. We should build all.
But I checked on the storage server, I couldn't find development tplg files. Maybe we have some bugs when copying output.

[2021-05-05 18:50] fredoh9 commented on #4141
Sorry for a bit off the topic. This issue started with -T option...

For the storage server, there was my misunderstanding. There is no development directory, but all files are under `tplg` directories. I don't think we have any platform to use development's topology, I think, we are keeping flat directory structure for sake of simplifying deploy script. We have more option to do so also. I create

[2021-05-05 19:21] plbossart opened #4144 "[BUG] IPC timeout on GLK-Bobba w. multi-pipeline capture"
**Describe the bug**

During multi-day tests with sof-test, I found one case of IPC timeout

[code]

**To Reproduce**
run sof-test/test-case/run-all-tests.sh

**Reproduction Rate**
very infrequent

**Expected behavior**
no IPC error

**Impact**
this shouldn't happen

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kerne

[2021-05-05 19:24] plbossart commented on #4144
@fredoh9 @aiChaoSONG is this something that was observed before?

[2021-05-05 20:59] fredoh9 commented on #4144
I don't remember the error on GLK. When I scanned the logs there are some ipc timeout errors with only sof pr 4125 only (purposely didn't add the link). This is one of very hard problems in GLK. I'm running multipipeline testing with KASAN enabled build for two days.

[2021-05-06 06:35] dbaluta commented on #4141
@fredoh9 thanks for your explanations.
To sum up:
- `./scripts/build-tools.sh  -T` only builds topologies in the main directory
- if one wants to build topologies in `development` directory there is the option to run `./scripts/build-tools.sh` with no params.

[2021-05-06 06:35] #4141 closed

[2021-05-06 09:39] singalsu commented on #4136
Confirm that Jaska's #4142 fixes this.

[2021-05-06 10:13] keyonjie commented on #4101
@lgirdwood @zrombel @slawblauciak I just root caused this today, will submit fix tomorrow.

[2021-05-06 13:34] #4136 closed

[2021-05-06 13:35] lgirdwood commented on #4144
@fredoh9 please also check if this is issue in v1.8-rc1

[2021-05-06 14:49] plbossart commented on #4144
@fredoh9 It took me three days to find the error, and KASAN was also enabled. I was actually looking to reproduce the da7219 oops and found this IPC error instead...

[2021-05-06 20:46] plbossart commented on #4144
The dmesg log looks awfully similar to the TGL RVP NOCODEC reports https://github.com/thesofproject/sof/issues/3953

[code]
The direction is different, and one is an IPC error v. an IPC timeout, but that happens in both cases on a TRIG_STOP. I might have been part of the police in a previous life, I no longer believe in coincidence.

[2021-05-07 05:48] keyonjie commented on #4101
@zrombel I just updated my PR https://github.com/thesofproject/sof/pull/4089 which address the stream stall issue at my end, can you help to try it?

[2021-05-07 09:49] zrombel commented on #4101
Hi @keyonjie unfortunately stress test shows that #4089 doesen't fix this bug and stream stall still occurs.
Here are logs from the tests. Tests runs 20 playback iterations. Signle core tests passes but in multicore tests pipelines stalls.
I attached single and multicore tests logs for comparison.

[Keyon_ll_DSM_multicore_error.zip](https://github.com/thesofproject/sof/files/6440641/Keyon_ll_DSM_m

[2021-05-07 15:07] keyonjie commented on #4101
Thanks @zrombel as talked this only happen when only the DSM component is put on core1 (and all other components of the pipeline in Core 0), we should add logic to invalidate buffers when the producer and consumer of it are run on different cores.

[2021-05-07 19:11] fredoh9 commented on #4144
Daily test with (sof v1.8-rc1) is available, internal test 3755, looks good. I have a plan to run a test KASAN enabled kernel with sof v1.8-rc1 over the weekends also. Will update if I find any issue.

[2021-05-10 03:25] brentlu opened #4156 "[FEATURE] Explicit clock control"
Some codecs need external clock (mclk or bclk) to be ready in prepare stage or some function may broken.

To support those codec, we need to implement explicit clock control so machine driver could enable/disable the clock via DAPM supply widget or set_bias_level callback.

This feature has been implemented on SST FW running on Chrome KBL platforms. Following are the mailthread:
https://mailman.al

[2021-05-10 03:25] fredoh9 opened #4157 "[BUG] alsabat test fails due to signal overflow"
100% reproducible on `TGLU_SKU0A32_SDCA`. Found in Internal daily test 3634, 3669, 3673, 3691. [worked well on 2021-04-26 Daily but began to fail since 2021-04-27 Daily (http://sof-ci.sh.intel.com/#/result/planresultdetail/3577)]

Test command to reproduce,
TPLG=sof-tgl-rt711-rt1316-rt714.tplg ~/sof-test/test-case/check-alsabat.sh -p hw:sofsoundwire,0 -c hw:Device,0

[code]

[2021-05-10 03:27] brentlu commented on #4156
same request in linux
https://github.com/thesofproject/linux/issues/2907

[2021-05-10 08:39] lgirdwood commented on #1544
@ranj063 please close this when merged for v1.8
@aiChaoSONG

[2021-05-10 08:40] lgirdwood commented on #2269
Update: half implemented in v1.8 as part of IPC refactoring, to be completed in v1.9 with IPC abstraction

[2021-05-10 08:42] lgirdwood commented on #1429
Now started, some structure have fields for doxygen but some are still missing. To be completed in v1.9 as part IPC abstraction.

[2021-05-10 08:42] lgirdwood commented on #3523
@marc-hb any of your updates fix this ?

[2021-05-10 08:44] lgirdwood commented on #1092
@kv2019i @juimonen @ranj063 do we have this all upstream now ? if lets close.

[2021-05-10 08:44] lgirdwood commented on #3120
@singalsu any update here ?

[2021-05-10 08:45] lgirdwood commented on #2981
@singalsu any update ?

[2021-05-10 08:46] lgirdwood commented on #3480
@singalsu @ShriramShastry any update here, are all the maths tables now under Kconfig ?

[2021-05-10 08:48] lgirdwood commented on #1556
Static C topology removed from FW. Testbench uses topology library.
Moved to v1.9 for completion of Testbench library in FW.

[2021-05-10 08:49] lgirdwood commented on #3818
@dbaluta any update here ? Should we close or move to v1.9 ?

[2021-05-10 08:49] lgirdwood commented on #3836
In progress, but wont hit v1.8. Move to v1.9

[2021-05-10 08:50] lgirdwood commented on #3837
In progress for v1.9 as part of the codec adapter and component alignment work

[2021-05-10 08:52] lgirdwood commented on #3871
Partially implemented in v1.8 as manifest now includes the list of UUIDs that are built into the FW. What's missing now is automatic generation of this data by rimage and use by kernel. Slated for v1.9

[2021-05-10 08:56] iuliana-prodan commented on #3818
@lgirdwood @dbaluta this won't be available for v1.8, we should move it to v1.9.

[2021-05-10 09:11] lgirdwood commented on #4104
@dbaluta fyi, have you seen this on your side ? I'm wondering here if we are not correctly tearing down the codec adapter pipeline at stream close.

[2021-05-10 09:11] lgirdwood commented on #4104
[code]

[2021-05-10 09:24] lgirdwood commented on #3966
Could this also be linked to #4104

[2021-05-10 09:24] lgirdwood commented on #4104
Linked to #3966 ?

[2021-05-10 09:28] lgirdwood commented on #3467
Aim is to align with how Zephyr set configuration. More of this will align in v1.9

[2021-05-10 09:29] lgirdwood commented on #3816
@aiChaoSONG still an issue ?

[2021-05-10 09:29] lgirdwood commented on #3714
@aiChaoSONG  still an issue ?

[2021-05-10 09:30] lgirdwood commented on #3831
@fredoh9 this is now fixed right ? if so please close.

[2021-05-10 09:31] lgirdwood commented on #3347
@juimonen any update here ?

[2021-05-10 09:33] XiaoyunWu6666 opened #4163 "[BUG] pcm_Read error when capturing on TGLU_RVP_NOCODEC"
**Describe the bug**
Found on May 09 daily test http://sof-ci.sh.intel.com/#/result/planresultdetail/3845

In daily test , read error also occured in check-capture-all-formats on TGLU_RVP_NOCODEC , but cannot be manually reproduced.

**To Reproduce**
TPLG=sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/check-capture.sh -d 1 -l 1 -r 50

**Reproduction Rate**
100%  on May 10 , but other issue[refer to

[2021-05-10 09:44] aiChaoSONG commented on #3816
After checking the latest several daily report, this issue is not reproduced any more, let's close this.

[2021-05-10 09:44] #3816 closed

[2021-05-10 09:46] aiChaoSONG commented on #3714
@lgirdwood Still seen in daily report, let's keep this issue open

[2021-05-10 11:50] dbaluta commented on #4104
@zrombel I actually did notice that:
* cplay works fine at first run
* cplay gets blocked waiting for DSP to consume the frames if you start the second cplay quick enough (1-2seconds).
* if you start cplay after 2 or more seconds everything works well.

I plan to investigate this. Initially I thought that might have something to do with DRAIN which is not yet implemented.

[2021-05-10 13:28] dbaluta commented on #4104
@zrombel yes, this happens because of PM runtime suspend.

[2021-05-10 14:23] singalsu commented on #3480
@ShriramShastry We can add kconfig to cordic functions code and tables.

[2021-05-10 14:28] lgirdwood commented on #4101
I'm moving this to v1.9 the DSM feature works when the DSM **pipeline** is on core 1 but not the DSM **component**. i.e. the synchronization between DSM as a standalone component and its source and sink buffers needs aligned.

[2021-05-10 15:09] plbossart commented on #4156
If I am not mistaken this also causes a 400ms delay on GLK, if the clock is not enabled the codec will play audio with a delay.
I just can't find the issue any longer. @cujomalainey @bzhg can you help track this?

[2021-05-10 15:22] sathya-nujella commented on #4156
is this one @plbossart ?
https://github.com/thesofproject/sof/issues/2124

[2021-05-10 15:31] plbossart commented on #4156
Yes @sathya-nujella that was issue #2124 I was looking for, but it does make a reference to the WCLK aka FrameSync, so it's not trivial to fix.

[2021-05-10 16:32] brentlu commented on #4156
@plbossart At least we need to support BCLK for cs42l42. It would be better if MCLK could be supported as well since some codecs like rt5514 needs MCLK.

[2021-05-10 16:35] marc-hb commented on #3467
Just for the record: Zephyr does not use CMAKE_BUILD_TYPE.

(and .config change #3617 has been merged for some time)

[2021-05-10 20:27] gabriele-3 opened #4160 "[BUG] Missing topology for sound card chtmax98090 Baytrail chipset"
**Describe the bug**
Sound broken in SOF mode, perfectly working in SST mode.
I'm running openSUSE Tumbleweed on a Bay Trail re purposed chromebook.
When the kernel was updated to 5.12 the internal sound card stopped to work and by installing sof-firmware didn't work.
The dmesg logs showed that `sof-byt-max98090.tplg` was not available.

I worked around the issue by symlinking the available `sof-c

[2021-05-10 20:35] plbossart commented on #4160
@gabriele-3 I don't think we expected anyone to change drivers for now.
Can you double-check what your distribution set for CONFIG_SND_INTEL_BYT_PREFER_SOF?

This was intended to provide a default but maybe some distros jumped the gun.

That said, you are right that we don't generate this sof-byt-max98009.tplg file. That's a mix I'll have to fix. Thanks for reporting it.

[2021-05-10 21:56] cujomalainey commented on #4156
This would also help solve the long pcm open call for da7219 correct?

[2021-05-10 22:35] marc-hb commented on #3523
The DMA trace has always been working like this, hasn't it? I mean if you quit the logger and run it again then it only shows new traces. So this is an issue only for the shared memory, "error" trace, correct?

Unfortunately not, however some of the timestamps and messages I added should help a bit.

[2021-05-11 02:42] XiaoyunWu6666 commented on #4163
Yup

[2021-05-11 03:36] XiaoyunWu6666 opened #4164 "[BUG] dai_config IPC timeout on TGLU_RVP_NOCODEC when arecord"
**Describe the bug**
When running check-capture on TGLU_RVP_NOCODEC ,fread  failed in logger_read when arecording

**To Reproduce**
TPLG=sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/check-capture.sh -d 1 -l 1 -r 50

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: aae5bcfa
SOF Branch: main
SOF Commit: ea5d9be6a0c3
TPLG=sof-tgl-nocodec-ci.tplg
Device:TGLU_RVP_NOCODEC [jf-tglu-rvp-nocodec

[2021-05-11 03:41] XiaoyunWu6666 commented on #3462
similar issue happened on tglu-volt-sdw on May09's daily
http://sof-ci.sh.intel.com/#/result/planresultdetail/3845?model=TGLU_VOLT_SDW&testcase=multiple-pipeline-capture

[2021-05-11 05:00] #3462 closed

[2021-05-11 06:54] slawblauciak commented on #4101
This is blocking the upcoming TGL release, bumping to P1.

[2021-05-11 06:56] zrombel commented on #4101
This is fixed by #4089.

[2021-05-11 07:07] zrombel commented on #4104
Unfortunately PR #4162 doesn't fix this bug.
Logs from test with 2x playback iterations:
[MRajwa_PR4162_25_00_TestGenericProcessorSimplePlb48000Hz32b32b2ch_XRUN.zip](https://github.com/thesofproject/sof/files/6457175/MRajwa_PR4162_25_00_TestGenericProcessorSimplePlb48000Hz32b32b2ch_XRUN.zip)

[2021-05-11 07:35] slawblauciak commented on #4164
Can you please check if https://github.com/thesofproject/sof/pull/4089 is effective against this issue? Thanks

[2021-05-11 07:37] slawblauciak commented on #4163
Can you please check if https://github.com/thesofproject/sof/pull/4089 helps here?

[2021-05-11 09:24] kv2019i commented on #1092
Ack, AFAIK all is now merged. Let's have @plbossart as the reported also have a say, but unless he objects (and there's some aspect not covered by Bluetooth), let's go ahead and close.

[2021-05-11 10:17] kkarask opened #4166 "[BUG] glitch in test 14_12_TestDemuxEchoSynchronizedStreamOperation8000Hz16b16b2ch"
**Describe the bug**
Glitch was found in test 14_12_TestDemuxEchoSynchronizedStreamOperation8000Hz16b16b2ch

**Topology**
[code]

**To Reproduce**
Run test  14_12_TestDemuxEchoSynchronizedStreamOperation8000Hz16b16b2ch with Diagnostic driver

**Reproduction Rate**
Sporadic.
Problem doesn't exist before 47d223c09ff5da56073f3590d14a64bde513358d

**Environment**
1) Branch name and commit hash of the

[2021-05-11 10:39] kkarask commented on #4050
I run stress tests and found glitch in the whole wav file in test:  17_03_TestMultiCoreMultiKernelHda48000hz16b16b4ch on WHL platform.
Reproduction rate: 1/75.

Topology:
[code]
Branch: main, hash: 37d97d4357b34ba2f5f59aa575740d27f2a031c7

[17_03_TestMultiCoreMultiKernelHda48000hz16b16b4ch.zip](https://github.com/thesofproject/sof/files/6458539/17_03_TestMultiCoreMultiKernelHda48000hz16b16b4ch.zip

[2021-05-11 11:06] kkarask opened #4168 "[BUG] Keyword detection notification timeout occured"
**Describe the bug**
Keyword detection notification timeout was found in test 13_00_TestKdProductionGLK

**Topology**
[code]

**To Reproduce**
Run test 13_00_TestKdProductionGLK with Diagnostic driver

**Reproduction Rate**
1/75

**Environment**
1) Firmware branch name and commit
    * SOF: Branch: main, Hash: 37d97d4357b34ba2f5f59aa575740d27f2a031c7, Tag: v1.8-rc1
    Problem doesn't exist before

[2021-05-11 11:08] wszypelt commented on #4080
The same issue in the same reproduction appears in test
02_01_TestPtpSimpleLoopbackMasterPlayback16000Hz32b32b4ch

[2021-05-11 12:16] kkarask opened #4169 "[BUG] Keyword detection notification timeout occurred"
**Describe the bug**
Keyword detection notification timeout was found in test 07_05_TestKdDmicD0ix16000Hz16b16b2ch

**Topology**
[code]
**To Reproduce**
Run test 07_05_TestKdDmicD0ix16000Hz16b16b2ch with Diagnostic driver

**Reproduction Rate**
100/100
Problem doesn't exist before: 37d97d4357b34ba2f5f59aa575740d27f2a031c7

**Environment**
1) Firmware branch name and commit
    * SOF: Branch: main,

[2021-05-11 13:54] fredoh9 commented on #3831
@lgirdwood this is not fixed. @marc-hb I agree, we need to keep proxy-free for the docker image and set proxy when needed. I will work on it.

[2021-05-11 15:52] #1092 closed

[2021-05-12 00:42] keyonjie commented on #4163
@plbossart what do you mean by breaking CI? The basic support of putting a pipeline run on a slave core is already claimed supported, we need to ask validation of it.
IMHO, having bugs reported every time the validation of a new feature set introduced is quite common and under expected, we should go and fix them, just like what we have been doing for SDW.

[2021-05-12 01:16] plbossart commented on #4163
@keyonjie I take issue with you merging your own PR before FIRST asking for validation. I routinely ask to run more thorough daily tests before we merge. This is what we do also for changes of the kernel to a new -rc1.

Merging and then doing validation is not right, sorry.

[2021-05-12 01:40] keyonjie commented on #4163
@plbossart we did run validation before merging #4153, and if you check the May 9th daily report (the first daily after the PR merged) http://sof-ci.sh.intel.com/#/result/planresultdetail/3845, only 3 cases failed and 2 of them are stress, it is already not bad than TGLU_VOLT_SDW no?

On the other hand, there are more errors on the May 10th http://sof-ci.sh.intel.com/#/result/planresultdetail/3868

[2021-05-12 01:59] keyonjie commented on #4164
looks this is a driver regression, it pass on May 9th daily but failed on May 10th.

[2021-05-12 02:01] keyonjie commented on #4164
it happens on ADLP_RVP_NOCODEC also, not multi-core related? @plbossart FYI.

[2021-05-12 02:47] keyonjie commented on #4163
looks like the kernel has been built with wrong commit from May 10th, it is now 5.12-rc7 while 5.12-rc8 on May 9th, @keqiaozhang @marc-hb @fredoh9 @aiChaoSONG can you check?

[2021-05-12 03:09] marc-hb commented on #4163
Do you mean it was not built with 9101539a as reported or just that 9101539a is not the latest commit?

[2021-05-12 03:26] XiaoyunWu6666 commented on #4164
#4089 is effective against this issue so far

[2021-05-12 04:25] marc-hb commented on #4163
It simply depends whether these failures were known before merge and relatively easy to reproduce. If they were then they should have been fixed before merge so these tests are not "lost" for other development.

It's a very simple idea: no regression.

[2021-05-12 04:48] keyonjie commented on #4163
you are right, only build 3904 (May 11th) was wrong, the 3868 was correct, and the issue filed here based on 3845 is valid, the PR https://github.com/thesofproject/sof/pull/4089 was added to fix it.

[2021-05-12 05:41] XiaoyunWu6666 commented on #4163
#4089 is effective against this issue. [tested on ubuntu@sh-tglu-rvp-nocodec-02]
@keyonjie

[2021-05-12 06:20] hhyshw commented on #4156
@plbossart  This is Karl Sun from Cirrus . For cs42l42 ,the the PLL lock will be dependent from bclk input. Then we have all the correct setting ready for Dout and DIn.

[2021-05-12 08:24] lgirdwood commented on #4160
Now merged, we can get this in v1.8-rc2.

[2021-05-12 08:50] kkarask opened #4175 "[BUG] Memory leak detected"
**Describe the bug**
Memory leak detected in tests: 05_10_TestDmicMemLeak and 07_06_TestKdMemLeak

Topology for test 05_10_TestDmicMemLeak  :
[code]

Topology for test 07_06_TestKdMemLeak
[code]

**To Reproduce**
Run tests 05_10_TestDmicMemLeak and 07_06_TestKdMemLeak with Diagnostic driver

**Reproduction Rate**
100/100
Problem doesn't exist before: ea5d9be6a0c3087f3f026c41c381102204f57e05

**Env

[2021-05-12 10:13] wszypelt opened #4179 "[BUG] glitch in test 17_07_TestMultiCoreSrcCap48000Hz32b32b8ch"
**Describe the bug**
Glitch was found in test 17_07_TestMultiCoreSrcCap48000Hz32b32b8ch

**Topology**
[code]

**To Reproduce**
Run test with Diagnostic driver 17_07_TestMultiCoreSrcCap48000Hz32b32b8ch
With options --playback-iterations=75

**Reproduction Rate**
1/75

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * SOF B

[2021-05-12 10:28] kkarask commented on #4052
I run stress tests and found glitches with reproduction rate: 4/75.
Logs:
[22_05_TestDsmMulticoreSsp48000Hz24b32b2ch.zip](https://github.com/thesofproject/sof/files/6465529/22_05_TestDsmMulticoreSsp48000Hz24b32b2ch.zip)

[2021-05-12 11:23] wszypelt opened #4180 "[BUG] THD value is larger than acceptable value"
**Describe the bug**
Issue was found in:
[ICL]
11_03_TestSrcSamplingRateChange16000Hz32b32b8ch Repro: 1/75
11_03_TestSrcSamplingRateChange48000Hz32b32b4ch Repro: 1/75
[APL]
11_03_TestSrcSamplingRateChange48000Hz32b32b4ch Repro: 1/75

**Topology**
[code]

**To Reproduce**
Run tests with Diagnostic driver:
11_03_TestSrcSamplingRateChange16000Hz32b32b8ch
11_03_TestSrcSamplingRateChange48000Hz32b32b4c

[2021-05-12 11:56] lgirdwood commented on #4180
@wszypelt this looks like a DMA R/W race, but it's really difficult to tell which pipeline and whether it's related to ASRC or SRC. Can you try and isolate this further. I would also like to see if a volume on capture pipeline fixes this and bridges the DMAs.

[2021-05-12 12:12] lgirdwood commented on #4175
This could be two leaks, one in KWD and the other in DMIC. @singalsu can you check the dmic and @mrajwa the KWD. Thanks

[2021-05-12 12:18] mrajwa commented on #4175
@slawblauciak will check KWD

[2021-05-12 12:22] lgirdwood commented on #4156
Can anyone give some feedback on the expected clock preamble duration prior to audio data being sent ? This would help with the design.

[2021-05-12 12:40] singalsu commented on #4175
Thanks, I'll test here 05_10_TestDmicMemLeak.

[2021-05-12 12:43] lgirdwood commented on #4164
IPC timeouts are FW crashes.

[2021-05-12 12:46] lgirdwood commented on #4169
@slawblauciak is this a blocker for TGL12 ?

[2021-05-12 12:48] slawblauciak commented on #4169
@lgirdwood as far as I know TGL12 is supposed to continue using the tgl-012-drop-stable branch, therefore, no.

[2021-05-12 12:50] lgirdwood commented on #4169
@slawblauciak ok, thanks.
Some obvious errors in the logs.
[code]

[2021-05-12 12:56] lgirdwood commented on #4080
@zrombel @kkarask @wszypelt @XiaoyunWu6666 @keqiaozhang @keyonjie @slawblauciak fwiw  we are seeing a lot of glitches being reported recently in various **loopback** tests.
Can we do the following here

1)  Align these under one issue and mark the others as duplicates, they all seem to show repeated or skipped samples which is usually indicative of races between DMA and DSP buffer IO.
2) Duplicate

[2021-05-12 13:37] wszypelt commented on #4180
I edited the bug and left only the SRC pipeline. It should be noted that with these tests,
we convert various input formats on one topology and there is 1 output format.
Simultaneous playback and capture on external loopback (same SSP) with signal verification.
Playback pipeline contains SRC component and plays audio formats with different frequencies.
Subsequent input formats are run without dest

[2021-05-12 14:01] plbossart commented on #4156
yes, I don't get what is needed. @brentlu added a 10ms delay initially in the topology but it doesn't seem to fix the issue.

[2021-05-12 15:55] uhs987 commented on #4156
10ms delay is for another TX noise issue. The delay is between bclk on and dma enable to avoid noise.

@hhyshw would you describe the clock requirement of the codec with more detail? thanks.

[2021-05-12 15:57] brentlu commented on #4156
10ms delay is for another TX noise issue. The delay is between bclk on and dma enable to avoid noise.

@hhyshw would you describe the clock requirement of the codec with more detail? thanks.

[2021-05-12 16:23] hhyshw commented on #4156
At the stage, the sclk is sent out at the SNDRV_PCM_TRIGGER_START signal of trigger(). But we can't do any register access in a trigger() function that will cause kernel warnings about blocking in an atomic context (and if you don't have that warning enabled, it can cause silent bugs. ). We have tried to have a workaround patch at trigger https://chromium-review.googlesource.com/c/chromiumos/third

[2021-05-12 18:06] plbossart commented on #4156
@hhyshw the reference from 2019 is for a different driver, we do not support the clock enable from the machine driver on GLK.

To help us figure out alternate solutions, can you please clarify how much time is required before the bclk being activated and the PLL lock. I would imagine we can only enable the actual transfers *after* the PLL lock.

Also, if the issue is only on trigger start, have yo

[2021-05-12 19:29] #3831 closed

[2021-05-12 20:40] cujomalainey commented on #3966
I dont think so since this fails before we get to playback stage. But I think I have an idea what might be happening here. I have two possible theories. Unfortunately the author of the `idc` module is no longer around to answer.

First theory
1. Caches not being invalidated when handling params. Looking through the code I don't see any cache coherency when running params callbacks. Given it looks

[2021-05-13 00:43] hhyshw commented on #4156
@plbossart
The mute_stream of snd_soc_dai_ops is what we trying to enable the PLL with BCLK. The mute_stream will be ahead than the trigger start from alsa audio interface sequence.
![image](https://user-images.githubusercontent.com/17755901/118059603-84075600-b3c3-11eb-9f10-99fe34b19ee1.png)

Here is the detail status about polling the PLL lock status a few times to wait for the clock status.  Be

[2021-05-13 03:03] XiaoyunWu6666 commented on #4164
appear on **ADLP_RVP_NOCODEC** too
http://sof-ci.sh.intel.com/#/result/planresultdetail/3910?model=ADLP_RVP_NOCODEC&testcase=multiple-pipeline-capture

[2021-05-13 03:04] XiaoyunWu6666 commented on #4164
appear on **TGLH_0A5E_SDW** too
http://sof-ci.sh.intel.com/#/result/planresultdetail/3910?model=TGLH_0A5E_SDW&testcase=multiple-pipeline-capture-50

[2021-05-13 03:12] XiaoyunWu6666 commented on #4163
happen on TGLU_RVP_HDA too
http://sof-ci.sh.intel.com/#/result/planresultdetail/3910?model=TGLU_RVP_HDA&testcase=check-capture-all-formats

[2021-05-13 03:15] keyonjie commented on #4164
Yes, maybe FW change on 10th lead to this?
Anyway, the PR #4089 will fix it.

[2021-05-13 06:55] XiaoyunWu6666 opened #4184 "[BUG][TGL]TGLU_RVP_HDA failed when aplaying using HDMI , dai_hw_param error on iDisp1 Pin"
**Describe the bug**
When aplaying on HDMI[hw:0,3],it failed.  Unable to install hw params

**To Reproduce**
aplay   -Dhw:0,3 -r 48000 -c 2 -f S16_LE -d 3 /dev/zero -v -q
OR
TPLG=sof-hda-generic-4ch-kwd.tplg ~/sof-test/test-case/check-playback.sh -d 10 -l 1 -r 1

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: : 93d91f00
SOF Branch: main
SOF Commit: d337c0a9

[2021-05-13 07:39] XiaoyunWu6666 opened #4185 "[BUG]Tplg load failed on ADL-P Chrome RVP (ADLP_RVP_SDW) as coreboot doesn't enable all 4 HDMI pipelines"
**Describe the bug**
TPLG load failed on Chrome ADLP_RVP_SDW ,there a mismatch between chrome hardware and TPLG file for ADLP_RVP_SDW [sof-adl-rt711.tplg]

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 93d91f00
SOF Branch: main
SOF Commit: d337c0a9bab0
TPLG= sof-adl-rt711.tplg
Device:ADLP_RVP_SDW

**Screenshots or console output**
![image](https://user-images.githubusercontent.com/79

[2021-05-13 07:41] XiaoyunWu6666 commented on #4185
This is a known blocker
#4041 is the related pr

[2021-05-13 10:48] gabriele-3 commented on #4160
@Pierre-Louis
My distribution is openSUSE Tumbleweed, they set
CONFIG_SND_INTEL_BYT_PREFER_SOF = y as Tumbleweed is always bringing in the
very latest updates.

Il giorno lun 10 mag 2021 alle ore 22:35 Pierre-Louis Bossart <
***@***.***> ha scritto:

--
Gabriele Tettamanzi
+39 3200297141
+39 3341974862

[2021-05-13 11:25] lgirdwood commented on #4156
IIRC the SSP ports could support a clock control if the DMA/CPU FIFO IRQs were masked until trigger start. i.e we could enable port at prepare() as this would allow clocking BCLK/FRAME for 10s of ms
[code]

[2021-05-13 12:11] lgirdwood commented on #4179
Duplicate of simpler https://github.com/thesofproject/sof/issues/4076

[2021-05-13 12:12] lgirdwood commented on #4166
Duplicate of simpler https://github.com/thesofproject/sof/issues/4076

[2021-05-13 12:14] lgirdwood commented on #4080
Duplicate of simpler https://github.com/thesofproject/sof/issues/4076

[2021-05-13 12:15] lgirdwood commented on #4180
Duplicate of simpler https://github.com/thesofproject/sof/issues/4076

[2021-05-13 12:17] lgirdwood commented on #4052
Duplicate of simpler https://github.com/thesofproject/sof/issues/4076

[2021-05-13 12:21] lgirdwood commented on #4076
There is a lot of very similar loopback test failures using different audio pipelines with different processing options now marked with "duplicate" label.
All these tests have loopback in common so this simple example should be solved first as it's test case architecture is shared with the other more complex examples. Once this is solved , then the others can be retested and closed/updated as nece

[2021-05-13 12:22] lgirdwood commented on #4050
Duplicate of simpler https://github.com/thesofproject/sof/issues/4076

[2021-05-13 12:23] lgirdwood commented on #4066
@fredoh9 thanks, can you update and mark the duplicated issues with the duplicated label.

[2021-05-13 14:16] plbossart commented on #4160
thanks @gabriele-3 for reporting this.
SOF on Baytrail is mostly functional, we are still chasing random channel swaps and some noise on startup on specific platforms. I had one Chromebook with this configuration but it's no longer functional so can't really test any longer unfortunately, we have to rely on the community to help us find issues and test.

[2021-05-13 14:16] #4160 closed

[2021-05-13 14:51] fredoh9 opened #4186 "[BUG] IMX8 QEMU boot failed - qemu-check.sh regression after qemu commit f71c955 in sof-4.2 branch"
@marc-hb EDIT: this is a QEMU/IMX regression, Docker is only the messenger.
This is blocking any qemu progress like
- #5274

**Describe the bug**
SOF Docker images were upgraded to Ubuntu 20.04 and proxy-free changes.
- https://github.com/thesofproject/sof/pull/4172

after the upgrade, IMX QEMU boot failed
[code]

**To Reproduce**
for new sofqemu docker image : thesofproject/sofqemu:20210511_2
for

[2021-05-13 14:53] gabriele-3 commented on #4160
@Pierre-Louis
I'm happy to help with testing, consider that I'm not  either a dev or a
coder.

Il Gio 13 Mag 2021, 16:16 Pierre-Louis Bossart ***@***.***>
ha scritto:

[2021-05-13 15:29] marc-hb commented on #4186
@fredoh9 to save some time extracting them from https://github.com/thesofproject/sof/blob/main/.github/workflows/pull-request.yml and since you just been through them, would you mind adding some reproduction steps to the description, especially the docker commands to switch to the newer image? I mean just from memory, I mean they don't have to be perfectly tested.

Not everyone is familiar with do

[2021-05-13 17:58] fredoh9 commented on #4186
This is my first build of sofqemu image, last known build is more than year ago. I need to approach step by step. Need to focus the other task, will resume later today.

There was multiple complains saying flex and bison are not there. But surprisingly this is not fatal errors. This is not the root-cause either but will be fixed.

[code]

[2021-05-13 20:38] plbossart opened #4188 "[BUG] topology: SSP_CONFIG_DATA and SSP_MULTI_CONFIG_DATA are not aligned"
**Describe the bug**

The definitions in topology are not aligned

[code]

Some fields are only present in the multi-config case, and the parameters are off-by-one.

**Expected behavior**

Same parameters used in all cases.

**Impact**

annoyance

**Environment**

    * SOF: 8ed78885bc4164529b4aa788558fa1a491055f64

[2021-05-13 20:39] plbossart commented on #4188
@juimonen @ranj063 @kv2019i FYI

[2021-05-13 21:27] sathya-nujella commented on #4156
Hi @hhyshw
After BCLK is available to Codec, how much time (how many milli seconds??) is needed for PLL clock latching/stabilization ? Thanks!

[2021-05-13 22:01] snake0x65 commented on #4156
PLL startup time for cs42l42 is 1ms max.

[2021-05-13 22:30] fredoh9 commented on #4186
Good news and bad news.

Good news is I'm able to build my own thesofproject/sofqemu:20200422 and IMX QEMU test passes. So I don't have any setup/environment issue.

Bad news is there are about 25 commits after 20200422. I need to do git bisect. I will discuss with @lrgirdwo if I find 'bad' commit.

[2021-05-13 22:33] snake0x65 commented on #4156
Actually, what is more, important for us is to have SCLK when we switch back from PLL to internal clocks. So, after reset cs42l42 is running on internal clocks, and these clocks also used for I2C bus, then when we have SCLK ( we assume SCLK started before trigger start is called) we will switch the source from internal clocks to SCLK, during this switch I2C bus cannot be used for ~150us, and then

[2021-05-13 22:48] plbossart commented on #4156
@snake0x65 I don't fully understand the request. At what point do you switch from PLL to internal clock?

My worry is that if we keep the SCLK active until the hw_free, the SOF hw_free will be executed *before* the codec hw_free, and we still have a deadlock.

[2021-05-13 22:50] fredoh9 commented on #4186
@lrgirdwo From qemu repo, this is 'bad' commit
`f71c955 hw: mu: Add mu-write implementation`

[2021-05-14 01:13] fredoh9 commented on #4186
@dbaluta for imx8, looks just timeout silently, but imx8x and imx8m throw more logs.

[imx8m_error.txt](https://github.com/thesofproject/sof/files/6475926/imx8m_error.txt)
[imx8x_error.txt](https://github.com/thesofproject/sof/files/6475927/imx8x_error.txt)

[2021-05-14 02:28] libinyang commented on #4185
This is a known issue. We have discussion in https://github.com/thesofproject/sof/pull/4041#discussion_r621949355
We can wait for coreboot to fix it.

[2021-05-14 06:21] dbaluta commented on #4186
Thanks! I will have look.! @fredoh9 @marc-hb

[2021-05-14 06:49] snake0x65 commented on #4156
@plbossart , sorry, my explanation might be a bit confusing. CS42l42 HW required clocks to be present at the moment of switch from internal clocks to external SCLK and back. The transition takes ~150us. Currently, we are using mute_stream() callback to switch to/from PLL. UNMUTE event -> we switch to PLL, MUTE -> we switch to internal clocks. The problem is that (observed in 4.14 kernel)  when mut

[2021-05-14 11:01] lgirdwood commented on #4185
@libinyang @XiaoyunWu6666 if this is duplicate then please mark as duplicate

[2021-05-14 11:22] TilmanRpk commented on #1899
YES

[2021-05-14 13:26] wszypelt opened #4193 "[BUG] Exception SofIpcErrorResponseException"
**Describe the bug**
Bug was found in 19_01_TestAsrcCapture48000Hz32b32b2ch

the content of the error:
ERROR:Exception SofIpcErrorResponseException occurred at 'C:\\work\\tools\\pyexecnetcache\\cavs_scripts-py\\utilities\\ipc_driver.py':730 FW replied with error. Error code: -22 0x00000005 0x00000000 0x00004000

Last working build: master-2290

**Topology**
[code]

**To Reproduce**
Run test with d

[2021-05-14 13:35] lgirdwood commented on #4193
@wszypelt @kkarask I'm marking as a duplicate as all these recent loopback back have the same common denominator. We need to fix the simplest case first.
@slawblauciak @mengdonglin @keyonjie has anyone been looking at the simple loopback failures at scrub ?

[2021-05-14 13:37] juimonen commented on #4188
Do you really see this as a problem? I separated the 2 configs (single/multi) because of reviewer request. The m4 definitions trace down to dai.m4 and that should be changed also. Also I would like to keep the 2 extra parameters on top level for user to understand a little bit more what's happening. multi_ssp macro is a special case and it is used like in 0.5% of our topologies -> I could spend a

[2021-05-14 13:51] slawblauciak commented on #4193
@lgirdwood I'm attempting to figure those out atm.

[2021-05-14 14:48] plbossart commented on #4188
at a minimum the two cases should expose the same topology tokens. I don't see a reason why
SOF_TKN_INTEL_SSP_FRAME_PULSE_WIDTH
is only enabled for the multi-config case.

[2021-05-14 14:55] plbossart commented on #4156
@snake0x65 I am not familiar with this mute_stream thing, we only deal with trigger_stop, hw_free and release. Where would you want us to stop the clock?

[2021-05-14 15:14] snake0x65 commented on #4156
@plbossart hw_free() would be ideal for stop

[2021-05-14 17:07] plbossart commented on #4156
Thanks @snake0x65, we will assume the direction is to turn on the BCLK and FSYNC during .prepare() (or maybe .hw_params(), tbd) and turn them off during .hw_free(). I don't think we have a limitation at the hardware level, but there are currently missing steps in the firmware if you see #4189

[2021-05-14 17:16] plbossart opened #4194 "[BUG] SSP TX starts with a ~4.2ms delay"
**Describe the bug**

While capturing the SSP output on an Up2 board, I can see with a Logic Pro grab that the data is delayed by 4.2ms

That's a rather large undocumented delta which didn't exist in the past.

**To Reproduce**

use the nocodec mode on Up2
aplay -Dhw:0,5 -c2 -r48000 -f SLE_16 aa_left.pcm

**Reproduction Rate**

100%

**Expected behavior**

No delay or small delay.

**Impact**

Thi

[2021-05-17 05:11] libinyang commented on #4185
@lgirdwood This is not a duplicated issue, but a known issue.

[2021-05-17 09:26] XiaoyunWu6666 opened #4199 "[BUG]DSP panic and dai_config timeout on APL_UP2_NOCODEC"
**Describe the bug**
DSP panic on APL_UP2_NOCODEC ,causing multiple-pause-resume-25  to fail  since May 13
eg. internal daily 4313,4300
in case 'multiple-pause-resume-25'

**To Reproduce**
Reproduced in CI daily test since May 13)
TPLG=sof-apl-nocodec.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: caca1987
SOF Branch: main
SOF

[2021-05-17 13:15] #4163 closed

[2021-05-18 05:50] XiaoyunWu6666 opened #4212 "[BUG] multiple-pipeline.sh fails on TGLU_RVP_HDA and ADLS_RVP_HDA"
**Describe the bug**
Looks similar to a closed issue. thesofproject/sof-test#672
Multiple-pipeline capture/ Multiple-pipeline playback failed and PID mismatch occured in daily tests. [ Please refer to internal daily test 4051 .

**To Reproduce**
Can be manually reproduced 100%.
try 'TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p' or 'TPLG=

[2021-05-18 07:24] singalsu commented on #4175
@kkarask There's three DMIC driver related fixed merged #4196, #4195, and #4159. Could you please re-run 05_10_TestDmicMemLeak since I'm not able to run the test with Linux as host OS.

[2021-05-18 07:44] keyonjie commented on #4194
those 4ms could be 0s samples/data?

[2021-05-18 08:08] kv2019i commented on #4185
Thanks @libinyang ... I also didn't notice this in the tplg review. This is a bit unfortunate -- if we have some coreboot versions that enable it and some that do not (without passing the info in any runtime discoverable interface), that's going to be a mess. So let's try to get the coreboot changed asap.

[2021-05-18 08:22] singalsu commented on #4193
I'm able to replicate this issue on CML device with topology sof-cml-rt1011-rt5682-asrc.tplg. Run command "arecord -Dhw:0,0 -f dat -d 10 rec.wav"

[code]

[2021-05-18 09:45] kkarask commented on #4175
@singalsu Issue still exists after marged above PR. Problem with memory leak is present at that Hash: f510435a253373c806c49fbc32d876287bcbe801

[2021-05-18 09:50] iuliana-prodan opened #4206 "[FEATURE] ASRC component with i.MX"
**Is your feature request related to a problem? Please describe.**
While trying to add the ASRC component to an i.MX pipeline I've realize that in our DAI (more specifically for i.MX, in SAI or ESAI) we don't have the timestamp_ops implemented.
The problem is that our hardware, i.MX8QM and i.MX8QXP, doesn't have timestamp support.

**Describe the solution you'd like**
Is there any possibly to use

[2021-05-18 10:24] iuliana-prodan opened #4207 "[BUG] [CML] [APL] Incorrect topologies for demux"
**Describe the bug**
The  sof-apl-demux-pcm512x.m4 and sof-cml-demux-rt5682.m4 are incorrect since both have two inputs for a buffer (see BUF5.0 in screenshots below).

**Expected behavior**
A buffer has only 1 sink and 1 source.
See also: https://github.com/thesofproject/sof/issues/3818#issuecomment-776093909

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/top

[2021-05-18 14:22] singalsu commented on #4193
Git bisect result is

[code]

Commit e21c1f31d51c9d61bd1e26f05b3be2ca325f53ad doesn't build, and commit 80666b7cc7a9c70652a55086034d2bfcd35b3b76 produces the corrupt asrc_new() IPC. The DAI seek fail is due to initializing ASRC to push mode for capture (token value 0) while kernel has set the IPC data for pull mode correctly  (token value 1). I wonder if the new IPC is missing a big longer length

[2021-05-18 16:01] juimonen commented on #4052
@kkarask do you have any idea when these "glitch" bugs started to appear? So do you recall running these previously at some point without these errors? Just trying to little bit bisect the area... I can't reproduce the loopback glitches with linux driver (or it is quite difficult to do at least)...

[2021-05-18 16:17] lgirdwood commented on #4206
@iuliana-prodan platform timer could be used if its the same time domain that the DAI is using ?

[2021-05-18 16:29] dbaluta commented on #4206
@lgirdwood in our case DAI is using DMA domain. Our question is what exactly do we need to provide as an input to ASRC module in order to work if our DAI doesn't have support for timestamping.

[2021-05-18 20:44] lgirdwood commented on #4104
@dbaluta any update from your side here ?

[2021-05-18 20:58] mrajwa commented on #4104
@lgirdwood, @zrombel will be back from vacations in two days, once he's back I will get his platform and fix that

[2021-05-18 23:01] marc-hb commented on #4141
I got tired of this confusion too and I submitted #4210

[2021-05-19 09:44] singalsu commented on #4206
If there's no timestamp feature in HW there would be need for a timer count that is synchronized to audio clock generated by the SoC for e.g. codec that the rest of audio system is synchronized to. The DAI should count PCM frames consumed/produced by HW within timer values captured. There's likely need for stronger low-pass filtering for skew factor than with HW timestamps (minimal measure noise a

[2021-05-19 09:47] #4193 closed

[2021-05-19 10:13] iuliana-prodan commented on #4206
Can the platform timer be used?

This represents the `sample count` from `struct timestamp_data`. Have I understood correctly?

If I can use the platform timer, the `walclk_rate` will be the platform frequency, right?

[2021-05-19 10:26] singalsu commented on #4206
@iuliana-prodan Yep, that's correct. If things are correct you will get in asrc_control_loop() a cd->skew value Q2.30 that is close to 1.0. When checking thinks I've output to trace the raw and filtered skew values and extracted them for Matlab plots with some scripts. It was an ugly hack so I've not shared code. Some well thought format to get trace data to Matlab and Octave or to other favorite

[2021-05-19 10:35] kkarask commented on #4052
@juimonen Unfortunately I don't have logs, but as long as I can see the test fail on this hash: 4c1f41a91b92cba729f68c0d2e3a33b290ef075b I'm not sure about reason because I don't have logs:( maybe this help you a bit...

[2021-05-19 10:45] iuliana-prodan commented on #4206
@singalsu Thank you! Will make a POC and tweak it later. With your help :)

[2021-05-19 12:56] brentlu commented on #4156
Hi,

I implement a virtual clock driver for mclk/bclk on Linux side and add a new IPC command on FW side to support explicit clock control. Tested on my TGL chromebook.

Kernel: Chrome v5.4 kernel
FW: main head of sof github

https://github.com/thesofproject/linux/pull/2932
https://github.com/thesofproject/sof/pull/4213

Regards,
Brent

[2021-05-19 14:20] #3480 closed

[2021-05-20 10:30] keyonjie commented on #3953
@keqiaozhang @XiaoyunWu6666 can you help try if https://github.com/thesofproject/sof/pull/4221 help for this?

[2021-05-20 15:37] lgirdwood commented on #4188
@juimonen Let use the same tokens. We can set unused token to 0 or false if they are not used in 1 case. Try and spend min effort of possible here.

[2021-05-20 15:39] lgirdwood commented on #3939
@keqiaozhang still an issue today ?

[2021-05-20 15:41] lgirdwood commented on #4164
@XiaoyunWu6666 is this now fixed with recent kernel updates and on stable-v1.8 branch ?

[2021-05-20 15:42] lgirdwood commented on #3347
@juimonen apologies, you are getting all the small fixes atm. Have you had any chance to fix ?

[2021-05-20 15:44] lgirdwood commented on #3714
@aiChaoSONG @keyonjie does this also need a kernel fix ?

[2021-05-20 16:11] lgirdwood commented on #3966
@slawblauciak @mwasko fyi - lets get in for rc3 and TGL13 once @mrajwa is back from vacation.

[2021-05-20 16:24] kv2019i commented on #4185
And another PR to address the incorrect DMI info on some of the CI machines: https://github.com/thesofproject/linux/pull/2935

[2021-05-20 18:27] lgirdwood commented on #1544
Final upstream comments addressed. Marking as closed for v1.8

[2021-05-20 18:27] #1544 closed

[2021-05-21 05:37] juimonen commented on #3347
I don't fully get what's the issue here... all of these in tests directory are strings for naming, I mean they could be like "foobar_24_xyrx", just giving some meaningful names to the tests. the utils.m4 in topology defines the sample format, which I assume should be left there (we are not using it anywhere in topology currently though).

[2021-05-21 05:47] juimonen commented on #3650
this is fixed, let's close

[2021-05-21 05:47] #3650 closed

[2021-05-21 05:53] #4212 closed

[2021-05-21 06:18] XiaoyunWu6666 commented on #4164
Yes , it is

[2021-05-21 09:45] kkarask opened #4230 "[BUG] glitches in wav file with Dmic interfaces"
**Describe the bug**
Glitches was found in wav file in test 05_01_TestDmicSimpleStreamOperations48000hz32b32b4ch. In that test while pipeline is working pause and resume operation are performed on capture stream. There are glitches in most of streams.

**Topology**
[code]

**To Reproduce**
Run test 05_01_TestDmicSimpleStreamOperations48000hz32b32b4ch with Diagnostic driver

**Reproduction Rate**
1

[2021-05-21 14:10] juimonen commented on #4188
minimum effor here: https://github.com/thesofproject/sof/pull/4232

[2021-05-24 10:16] lgirdwood commented on #3347
@juimonen I think we may have more than one s24_4le definition, it's about aligning to only use a single definition for each format.

[2021-05-24 10:54] juimonen commented on #3347
@lgirdwood, hmm I think we have a lot of following:

sof-icl-rt700.m4:PIPELINE_PCM_ADD(sof/pipe-volume-capture.m4,
sof-icl-rt700.m4-       2, 1, 2, s24le,
sof-icl-rt700.m4-       1000, 0, 0,
sof-icl-rt700.m4-       48000, 48000, 48000)

from where the s24le is going to PIPELINE_FORMAT -> used in COMP_SAMPLE_SIZE macro, which checks for s24_4le, but not s24le -> it defaults to value "4", why this w

[2021-05-24 11:36] juimonen commented on #3347
@lgirdwood fyi: https://github.com/thesofproject/sof/pull/4235

[2021-05-24 11:38] lgirdwood commented on #4207
@iuliana-prodan best to grep through the topologies for demux. I think there are users for DSM or WOV.

[2021-05-24 11:57] lgirdwood commented on #4101
@zrombel @slawblauciak can we close now ?

[2021-05-24 12:00] lgirdwood commented on #4168
@kkarask is the SSP loopback pipeline running when this failure occurs ?
@mrajwa fyi.

[2021-05-24 12:09] lgirdwood commented on #4230
@kkarask are you seeing this with TGL13 or stable-v1.8 branch using kernel (instead of slim driver) ? We have seen some issues lately that have not been reproduced with the kernel and trying to understand the delta with slim driver.

[2021-05-24 12:44] kkarask commented on #4168
@lgirdwood yes, SSP pipeline is running during the test

[2021-05-24 14:19] zrombel commented on #4101
Yes, closing.

[2021-05-24 14:19] #4101 closed

[2021-05-24 14:56] lgirdwood commented on #4168
@kkarask ok, have you been able to reproduce this at all with the kernel driver ? @slawblauciak fyi - could impact TGL13.

[2021-05-24 15:03] #4164 closed

[2021-05-24 15:28] juimonen commented on #4168
@kkarask are you sure about the "problem doesn't exists before" -part as that commit really can't have too much to do with this issue? We should really bisect the fw and try to find the actual commit. I know this is a really difficult one, but I would assume the commit should be related more likely directly to SSP or fw scheduling etc.

I can't reproduce the loopback issues with linux driver and I

[2021-05-24 17:08] plbossart commented on #4207
@ranj063 is there a way to flag such mistakes while creating or parsing the topology?

[2021-05-24 17:11] plbossart commented on #4194
my current hypothesis is that we have too many periods in the pipeline and have lost the ability to 'pre-roll' the pipeline.
So yes IMHO those 4 ms are related to some delay in the pipelines and a volume ramp.

[2021-05-24 17:19] ranj063 commented on #4207
not with m4 but it is possible with tplg2.0

[2021-05-24 17:29] plbossart commented on #4207
what about when parsing the topology in the kernel?

[2021-05-24 17:32] ranj063 commented on #4207
The kernel doesnt validate the routes or does it maintain the list of connections per widget. But we can certainly reject the second route to the buffer in the FW at the time of topology parsing

[2021-05-24 17:34] plbossart commented on #4207
that would be a nice addition @ranj063.

[2021-05-24 17:43] ranj063 commented on #4207
Sure, I can certainly take a look at this.

[2021-05-25 03:17] XiaoyunWu6666 opened #4237 "[BUG][HDA][DMIC]free_block error when DMIC capture on core #1 on TGLU_RVP_HDA and JSL_RVP_HDA"
**Describe the bug**
Appeared on May 25 internal daily test  , 4171
When using DMIC to capture , cases failed and dmesg showed  dpcm_fe_dai_hw_params failed , free_block failed.

**To Reproduce**
 TPLG=sof-hda-generic-4ch-kwd.tplg ~/sof-test/test-case/check-capture.sh -d 1 -l 100 -r 1

**Reproduction Rate**
100%

**Model**
JSL_RVP_HDA
TGLU_RVP_HDA

**Environment**
Kernel Branch: topic/sof-dev
Kern

[2021-05-25 05:18] juimonen commented on #4207
waitwait.... this is not an error IMHO. The demux pipe needs a "virtual" dai to be scheduled. Also from asoc driver point of view the demux pipeline needs 2 endpoints (host/dai) to be even loaded and not generating an error. So the "echo ref" component path is not real, it is just for making this thing work.

[2021-05-25 07:43] mengdonglin commented on #4237
This issue was uncovered by a topology update with multicore in https://github.com/thesofproject/sof/pull/4200

[2021-05-25 07:45] iuliana-prodan commented on #4207
@juimonen You're saying that there is no BUF5.0, in the above screenshots?
So, MUXDEMUX1.0 has only one input (BUF1.1) and only one output (BUF1.2)?

What thing to make it work?
This part here:
![image](https://user-images.githubusercontent.com/74421316/119458604-99766b80-bd45-11eb-9090-7b2df5db02ca.png)
is virtual?
Can you, please, explain a little bit.
For example, in i.MX we only have one DAI.

[2021-05-25 08:01] juimonen commented on #4207
@iuliana-prodan so in linux driver the pipeline cannot be created if it doesn't have "endpoints". Endpoints are in this case PCM4C and SSP5.IN. if this SSP5.IN and echoref are removed the pipeline just can't be created (with current driver code). So buf5 is real, it is getting data from demux, but as echo ref is "virtual" there's no data coming from it.

So it looks ugly, but there's no like easy

[2021-05-25 08:18] fuyuntsuo commented on #4237
Fix has been deployed here #4238.

[2021-05-25 08:36] kkarask commented on #4230
@lgirdwood Today I reproduced this bug on stable-v1.8 branch with reproduction rate 1/100 but without kernel. Currently I don't have proper setup of platform to reproduce it using kernel. @mengdonglin Could you help with reproduction this issue using kernel?

I also run this test on TGL13 and all 100 iteration passed.

[2021-05-25 08:51] juimonen commented on #4230
@kkarask so we need to reproduce this with slim driver as with linux driver it is very difficult. So don't go now to linux driver but just keep using slim driver. And we need to bisect the dsp fw for trying to find the commit that causes the loopback issues.

1) choose some platform you have easy access to (like up2 APL)
2) use most simple loopback tests, just input output looped from SSP
3) bisec

[2021-05-25 09:35] lgirdwood commented on #4194
Ack, that's what I'm thinking too - fwiw, we did increase the number of DMA periods to 3 to deal with a HW issue.

[2021-05-25 09:43] singalsu commented on #4175
I could not repeat this issue with SOF in single and overlapping capture cases with arecord scripting. Maybe this should be bisected if it's a regression if there would be a good version found from the past?

[2021-05-25 10:36] kkarask commented on #4168
@lgirdwood I'm not able to reproduce it using kernel.
@juimonen Sorry for misleading, I found keyword problem also here:  5ca0e9bba3e6da8abab7faf4577aa6683200bf41
Logs:
[13_00_TestKdProductionGLK.zip](https://github.com/thesofproject/sof/files/6538547/13_00_TestKdProductionGLK.zip)

[2021-05-25 11:10] keyonjie commented on #4237
Thanks, I will submit a PR to address the real issue at the same time.

[2021-05-25 11:12] keyonjie commented on #4237
Here is the PR: https://github.com/thesofproject/sof/pull/4239

@XiaoyunWu6666 can you help to try if it can fix the issue here.

[2021-05-25 14:16] lgirdwood commented on #4199
@XiaoyunWu6666 can you run with latest main as @keyonjie has merged some DAI fixes.

[2021-05-25 15:18] lgirdwood commented on #4175
@singalsu I assume we are using uncache regiosn for DMIC config now like SSP ? Please see @keyonjie recent patches.

[2021-05-25 17:26] plbossart commented on #4207
@juimonen you are probably using the 'wrong' pipelines here, a pipeline does not need a DAI at all. See e.g. the baytrail topologies, there are host and dai pipelines. You could perfectly create a pipeline that is just a host pipeline for the echo capture.

What you describe doesn't look like a feature to me...

[2021-05-25 17:33] ranj063 commented on #4207
Ahh now I remember the virtual Echo Ref 5. I understand Echo Ref 5 is veritual but SSP5.IN is a real widget and we create it in the FW for no reason @juimonen

[2021-05-25 17:50] cujomalainey opened #4242 "[FEATURE] Expand selector capabilites"
**Is your feature request related to a problem? Please describe.**
Selector is limited to selecting single channels from 2 or 4 channels, lets make this more generic.

**Describe the solution you'd like**
 CRAS has a useful format for passing channel mappings where, in a byte array, the index is the output channel and and value is the input channel. So when channel 2 and 3 are active (due to PDM1

[2021-05-26 02:01] XiaoyunWu6666 commented on #4237
sure , will provide feedback asap :)

[2021-05-26 04:44] juimonen commented on #4207
remove SSP5_IN ->

[  147.626415] sof-audio-pci-intel-apl 0000:00:0e.0: ipc tx: 0x60010000: GLB_STREAM_MSG: PCM_PARAMS
[  147.626597] sof-audio-pci-intel-apl 0000:00:0e.0: ipc tx succeeded: 0x60010000: GLB_STREAM_MSG: PCM_PARAMS
[  147.626603] sof-audio-pci-intel-apl 0000:00:0e.0: pcm: stream dir 1, posn mailbox offset is 790832
[  147.626771]  EchoRef: ASoC: no backend DAIs enabled for EchoRef
[

[2021-05-26 05:32] juimonen commented on #4242
demux component? should be able to pick channel combinations...

[2021-05-26 05:40] XiaoyunWu6666 commented on #4237
Keyon's PR seems able to fix this issue .
Another issue hidden below appeared and its error message is as the following .
Already synced with keyon and he's debugging on it/

[sof-logger]
[code]

[2021-05-26 06:12] XiaoyunWu6666 opened #4248 "[BUG]ERROR ewt in etrace"
**Describe the bug**
Multiple 'ERROR ewt'  in etrace log when check-runtime-pm-status on apl-up2-nocodec

**To Reproduce**
TPLG=sof-apl-nocodec.tplg ~/sof-test/test-case/check-runtime-pm-status.sh -l 15

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: dcea8052
Kernel PR: 2938
SOF Branch: main
SOF Commit: 636cbefc62c9

**Platform**
APL_UP2_NOCODEC

**Screensh

[2021-05-26 07:16] XiaoyunWu6666 commented on #4199
I am afraid not, error still occurs .
Let me run it with CI

[2021-05-26 08:46] keyonjie commented on #4199
looks this could be dynamic pipeline related, can you try if reverting commit 426d7816e265 help?

[2021-05-26 08:47] keyonjie commented on #4237
Thanks @XiaoyunWu6666 for check.

Yes that should be another issue, please help to file one in case see that again.

[2021-05-26 09:00] kkarask commented on #4175
@singalsu Last stable version: 47d223c09ff5da56073f3590d14a64bde513358d First memory leak detected: ea5d9be6a0c3087f3f026c41c381102204f57e05

[2021-05-26 09:15] lgirdwood commented on #4248
Thanks, this is not a very helpful message and it's the last of the legacy message types.
[code]
@juimonen can you send a quick PR that prints a poll timeout message and includes the register, mask, val and us fields.  This will tell us which user (dw-dma, ssp or pm on Intel platforms is showing the issue). I would also make all users check the return value too and print an error.

[2021-05-26 09:19] XiaoyunWu6666 commented on #4199
i will check it later

[2021-05-26 09:46] keyonjie commented on #4248
This is from the ssp_stop(). the change from @iuliana-prodan to stop ssp dai before stopping DMA introduce this error for us, we don't see this issue on byt/bdw as we configure CONFIG_DMA_SUSPEND_DRAIN there. @juimonen FYI in case you will work on it. The quick fix could be configure CONFIG_DMA_SUSPEND_DRAIN for all Intel platforms, but I am not very happy with that.

[code]

[2021-05-26 09:47] juimonen commented on #4248
@lgirdwood @keyonjie yeah I can do the prints, but you need to decide what is the actual fix :)

[2021-05-26 10:06] lgirdwood commented on #4199
@keyonjie this is a NULL ptr dereference at NULL + 0x5c.  Do we have the FW logs ?

[2021-05-26 10:08] lgirdwood commented on #4248
@juimonen can you do the trace update and probably @keyonjie can fix the SSP ?

[2021-05-26 10:13] kv2019i opened #4250 "[BUG][Zephyr] ./multiple-pause-resume.sh sof-test fails"
**Describe the bug**
Sof-test case ./multiple-pause-resume.sh fails on TGL system with Soundwire codec and SOF compiled with Zephyr as RTOS.

**To Reproduce**
export TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-rt711-4ch.tplg
cd sof-test/test-case
./multiple-pause-resume.sh

**Reproduction Rate**
100%

**Expected behavior**
Test passes.

**Impact**
Showstopper for product use.

**Notes**
A XTOS build

[2021-05-26 10:23] juimonen commented on #4248
https://github.com/thesofproject/sof/pull/4251, printing here. Only one (I think) who was not checking return in some way was sai.c

[2021-05-26 10:25] kv2019i commented on #4250
FYI @keqiaozhang and @lyakh -- this is the only case in run-all-tests.sh on my TGL system that behaves differently from a XTOS-built FW. SOF+Zephyr+softest all latest mainline as of today.

[2021-05-26 10:43] lgirdwood commented on #4250
@kv2019i the DMIC irq handler serves no use. We can disable it as it has issues with xtos too. @singalsu please confirm we are no using this ?

[2021-05-26 11:22] singalsu commented on #4250
@lgirdwood Yep, IRQ  handler can be disabled.

[2021-05-26 13:03] kkarask commented on #4230
@juimonen I reproduced test case and bug is somewhere between: pass: 71ac0f97e9d98df7e5679fbb6669bb07229d4170 and fail: ba6ba3cfc6e835df704e83867ccf68d7e64f72cb with reproduction rate: 1/200

[2021-05-26 14:54] juimonen commented on #4230
@kkarask ok thanks! just still quite hard to imagine that any of these commits in that range would cause glitches...

[2021-05-26 15:00] lgirdwood commented on #4230
@kkarask how do we test the slim driver IO logic is correct and not glitch free. I looks like we cant reproduce with the kernel and we are seeing similar loopback bugs reported with slim driver only ?

[2021-05-26 15:01] XiaoyunWu6666 commented on #4237
hi @keyonjie
I found how can I reproduce that issue.

If I use your patch by using 'git apply xx.patch' rather than 'git am xx.patch', that will occur .

[2021-05-26 16:38] XiaoyunWu6666 commented on #4199
i tried on ubuntu@jf-apl-up2-nocodec-1.
it can help

[2021-05-26 16:43] juimonen commented on #4237
@XiaoyunWu6666 are you talking about the 2 commits in #4239? Applying them which ever way should not produce any difference, at least I can't get any differences... are you sure you're applying both 2 commits?

[2021-05-26 17:26] cujomalainey commented on #4242
@juimonen interesting, looks like mux or demux should solve the channel mapping problem, thanks for pointing this out, then we can use selector to reduce from 4 to 2 channels @bzhg FYI

[2021-05-26 17:59] marc-hb commented on #4248
FWIW I've seen this `ERROR ewt` messages since forever. That's because I've been working on the logger for some time.

I made some enhancements recently but generally speaking sof-test has not cared about errors in the firmware logs:

https://github.com/thesofproject/sof-test/issues/297#issuecomment-827327280
https://github.com/thesofproject/sof-test/pull/666
etc.

[2021-05-26 19:34] lgirdwood commented on #4199
ok, so it sounds like dynamic pipelines is freeing a resource, setting it to NULL and then we are reusing it.

[2021-05-26 19:44] plbossart commented on #4199
we are not using dynamic pipelines for nocodec, isn't it @ranj063 ?

[2021-05-26 19:53] ranj063 commented on #4199
Yes, we are. I enabled it for some nocodec topologies already

[2021-05-26 19:54] ranj063 commented on #4199
I can look into this one. I cant imagine pause/release causing panics. It has to be something else.

[2021-05-26 19:56] plbossart commented on #4199
FWIW the pause_push/release for SSPs seems completely broken, I can't figure out what the code does.

[2021-05-26 20:07] #3347 closed

[2021-05-26 20:07] #4188 closed

[2021-05-26 20:09] lgirdwood commented on #4237
@juimonen @keyonjie I think this is a case where the allocator needs to accept both cache and uncached aliases in rfree() and convert to the local alias before freeing. Zephyr uses uncached by default.

[2021-05-26 20:10] lgirdwood commented on #3714
@kv2019i could this be what you are seeing too with Zephyr ?

[2021-05-26 20:39] marc-hb commented on #3714
I'm guessing @lgirdwood is referring to (duplicate?) #4250

[2021-05-27 02:24] keyonjie commented on #3714
I think @slawblauciak is working on this from the FW side.

[2021-05-27 05:39] keyonjie commented on #4237
@lgirdwood updated in my PR #4239

[2021-05-27 06:03] XiaoyunWu6666 opened #4254 "[BUG] WARN dai_copy(): nothing to copy when aplay on TGLU_VOLT_SDW"
Describe the bug
Appeared on May 27 internal daily test , 4235

To Reproduce
TPLG=sof-tgl-sdw-max98373-rt5682.tplg ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 15 -m playback

Reproduction Rate
100%

Model
TGLU_VOLT_SDW

Environment
Kernel Branch: topic/sof-dev
Kernel Commit: 6dca03a2
SOF Branch: main
SOF Commit: d736888aa5a5

Screenshots or console output
[console]
[code]
[sof-logge

[2021-05-27 06:09] XiaoyunWu6666 opened #4255 "[BUG] IO error in rt700_jack_detect_handler on CML_RVP_SDW"
Describe the bug
Appeared on May 27 internal daily test , 4235 . in case check-suspend-resume-50
IO error in rt700_jack_detect_handler on  CML_RVP_SDW

To Reproduce
 TPLG=sof-cml-rt700-4ch.tplg ~/sof-test/test-case/check-suspend-resume.sh -l 50

Reproduction Rate
100%

Model
CML_RVP_SDW

Environment
Kernel Branch: topic/sof-dev
Kernel Commit: 6dca03a2
SOF Branch: main
SOF Commit: d736888

Screensh

[2021-05-27 06:28] XiaoyunWu6666 commented on #4237
I applied the whole patch from #4239

[2021-05-27 08:50] kv2019i commented on #3714
@lgirdwood #4250 could be related. The problem is triggered in the same scenario (simultaneous pause), but with Zephyr build, the results are a bit different:
 - one of the pipelines is always DMIC
 - I'm using a tplg with SDW (sof-adl-rt711-4ch.tplg)
 - reproduction rate is much higher, ./multiple-pause-resume.sh with default params fails every time
 - even "./multiple-pause-resume.sh  -r 2 -l 1"

[2021-05-27 11:00] lgirdwood commented on #4168
@kkarask thanks for the confirmation, I think we need to say that this could be a bug with Slim driver since we cant reproduce it with the Linux driver. We can re-open if it proves otherwise but lets close it now.

[2021-05-27 11:00] #4168 closed

[2021-05-27 12:30] XiaoyunWu6666 commented on #4237
@keyonjie  pr #4239 is good to solve this issue.

[2021-05-27 13:02] singalsu commented on #3120
I'm no more able to run this test. The python test scripts have changed beyond repairable for Linux host.

[2021-05-27 13:06] lgirdwood commented on #3120
ok, lets close for now

[2021-05-27 13:06] #3120 closed

[2021-05-27 13:08] lgirdwood commented on #4104
@dbaluta @mrajwa @zrombel any updates guys - we have some PRs under discussion but are we trending towards a fix ?

[2021-05-27 13:16] lgirdwood commented on #3939
@keqiaozhang @XiaoyunWu6666  still an issue today ?

[2021-05-27 13:19] zrombel commented on #4230
@lgirdwood: What slim driver does is: it maps memory region to read and write to ADSP to communicate with FW. It has no logic in it. All the logic is done in python test scripts. Second thing is that @kkarask found a regression point in FW and the slimdriver version hasn't change in that time so I don't see how diagnostic driver could be responsible for that bug. Diagnostic driver is heavily used

[2021-05-27 13:26] zrombel commented on #4168
@lgirdwood: I wouldn't be so sure about closing this bug. KD is problematic feature and some issues are visible only on slim driver but it may indicate that there is some problem in KD logic or some corner case and I think that someone should take a look at this as it may show it self in future. @kkarask please take a look at this issue and report it if it keeps on failing.

[2021-05-27 13:27] lgirdwood commented on #3966
@dbaluta @mrajwa @mwasko @RDharageswari any update here ? Have we solved this in TGL13 or in main ?

[2021-05-27 13:34] juimonen commented on #4230
@zrombel yeah not questioning that here, we just can't used it ourselves to find the issue and can't reproduce this with linux driver...

Did you check the commit range for bisect? quite hard to imagine any of those commits would cause this -> so is this just some random thing caused something else before?

[2021-05-27 13:48] juimonen commented on #4230
ba6ba3cfc audio: codec_adapter: Make sure local_buff has enough room for processing
dfb29d522 codec_adapter: Introduce get_samples interface
da9a5ebe2 codec_adapter: Replace hardcoded codec api ids
3500d0efe include:fix zephyr conflicting types and function
b50099947 scheduler: guard against subdivision underflow on domain clear
c9f442ba6 imx8m: remove SDMA2
71ac0f97e component: do not reset compo

[2021-05-27 14:51] kv2019i commented on #4250
Hmm, if I remove the dmic irq, the problems seems to be resolved. @singalsu I note in the error logs that uncached_dmic_active_fifos goes to negative values when the test case fails and it seems dmic_stop does not really stop the irqs. In current Zephyr builds for cavs25, the uncached mappings are not available, so cache_to_uncache() accesses are actually cached. This probably is related as dmic_a

[2021-05-27 15:15] lgirdwood commented on #4168
I agree, but this cant yet be reproduced on the Linux driver - it may be differences in timing or slim driver flow that make it reproducible on slim driver only. I would also agree that we keep testing as future FW changes make may it reproducible on the Linux driver (and hence an end user issue).

[2021-05-27 15:22] lgirdwood commented on #4250
Let nuke those IRQs :)

In current Zephyr builds for cavs25, the uncached mappings are not available, so cache_to_uncache() accesses are actually cached.

My understanding is that the Zephyr allocator should be returning uncached pointers. @lyakh please confirm.

This probably is related as dmic_active_fifos should be accessed uncached.

not sure about uncached if it's a HW IP region ?, but will n

[2021-05-27 15:35] lgirdwood commented on #4230
@zrombel thanks for the inputs, but I don't fully agree. Slim driver (Python scripts) does have different IO programming flows and timings than the kernel driver. These may expose issues or may not expose issues shown by the driver. The important part for me is "can this be reproduced at all by the driver ?" if yes, then we can fix, if no - it's more difficult to prioritize this against issues tha

[2021-05-27 16:05] singalsu commented on #4250
IRQs indicate things went wrong, ignoring those can hide issues. But in normal working system they are not needed.

If dmic_active_fifos goes negative the state machine is messed up, too much stops() called or yet another multi-core inconsistency with count not increasing into two when when both FIFOs are active. I'm debugging maybe a related issue in SOF.

[2021-05-27 17:21] lgirdwood commented on #4250
@singalsu can you make sure the DMIC allocates with the SOF_MEM_ZONE_RUNTIME_SHARED attribute when it allocates memory. Can you confirm this is the case today.

[2021-05-27 21:48] mrajwa commented on #4104
@lgirdwood I have just got a platform for testing, will be back with update soon

[2021-05-27 22:37] sathya-nujella commented on #4242
Adding @yongzhi1

[2021-05-28 09:04] wszypelt opened #4259 "[BUG] Exception SofIpcErrorResponseException 09_02_TestCreateComplexTopologyPowerFlow"
**Describe the bug**
Bug was found in 09_02_TestCreateComplexTopologyPowerFlow

the content of the error:
ERROR:Exception SofIpcErrorResponseException occurred at 'C:\\work\\tools\\pyexecnetcache\\cavs_scripts-py\\utilities\\ipc_driver.py':730 FW replied with error. Error code: -12 0x00000005 0x00000000 0x00004000

Last working build: master-2320

**Topology**
[code]
Description:
Test for D0/D3 en

[2021-05-29 03:17] Afsalmc commented on #3868
May be not very useful , But i can confirm the same bug in Baytrail Z3735f /  bytcr-rt5640 regardless of PW or Pulseaudio .

[alsa-info_before_boot_option.txt](https://github.com/thesofproject/sof/files/6563970/alsa-info_before_boot_option.txt)

[2021-05-29 14:49] fxthomas commented on #3868
Just a quick update: the issue is also still present in official builds of kernel 5.12.7 with sof-bin firmware version 1.7.

I discovered one more thing after https://github.com/thesofproject/sof-docs/issues/347#issuecomment-850844323: firmware trace logging seems to be responsible for the fact that the issue is much harder to reproduce.

Enabling it in my official kernel (without recompiling) alm

[2021-05-29 16:13] Afsalmc commented on #3868
It's a surprise for me . No beeps so far after enabling `sof_dubg ` .been playing audio for 15+ minutes , and usually this was enough for like 5 + beeps in my machine .   Will do more tests and report back . Thanks .

[2021-05-29 18:35] mrajwa commented on #4104
@lgirdwood https://github.com/thesofproject/sof/pull/4263/ this should fix the issue. However Cadence should really improve the way they document things...the reset procedure is not documented at all and this fix has been created based on library source code analysis...
That said, @kkarask could you please verify this patch against consecutive playbacks tests?
Also, I don't know if slim driver tes

[2021-05-31 04:00] Afsalmc commented on #3868
I have experienced No beeps so far .

[2021-05-31 05:59] lyakh commented on #4250
@lgirdwood it should be and it currently is on cAVS 1.5 and 1.8. And it will be on 2.0 and 2.5 too once we have fixed those linker scripts.

[2021-05-31 08:22] keqiaozhang commented on #3939
@lgirdwood , yes, this issue can still be reproduced on TGL-RVP-NOCODEC platform in today's CI test. Daily test ID:4290

[2021-05-31 08:37] singalsu commented on #3423
Closing this old issue.

[2021-05-31 08:37] #3423 closed

[2021-05-31 09:38] kkarask opened #4264 "[BUG] glitch in test 23_01_TestDaiGroupSimpleStreamOperation8000Hz24b32b2ch"
**Describe the bug**
Glitch was found in wav file in test 23_01_TestDaiGroupSimpleStreamOperation8000Hz24b32b2ch
Glitch is in the end of first stream and at the beginning of the next stream and so on.
Playback and capture on SdW interface on two internal loopbacks. Playback pipeline have the same group_id.

 **Topology**
[code]

**To Reproduce**
Run test 23_01_TestDaiGroupSimpleStreamOperation8000

[2021-05-31 11:57] slawblauciak commented on #3714
Having hard time reproducing this on new FW, I'm encountering this instead:
https://github.com/thesofproject/linux/issues/2805

[2021-05-31 12:00] lgirdwood commented on #4264
@kkarask can this be reproduced with the Linux driver. I'm really suspicious we are seeing lost of glitches with diagnostic python driver and not with the Linux driver.

[2021-05-31 12:40] kkarask commented on #2981
I run 19_00_TestAsrcPlayback8000Hz32b32b2ch with playback_iterations=100 and there are glitches in wav files. Reproduction rate 5/100.

Logs:
[2021_05_31_13_22_13.zip](https://github.com/thesofproject/sof/files/6570292/2021_05_31_13_22_13.zip)

[2021-05-31 15:20] singalsu opened #4266 "[BUG] Multi-core DMIC capture I/O error"
**Describe the bug**
Doing multiple overlapping arecord from DMIC devices ends to Input/output error.

**To Reproduce**
Use topology sof-hda-generic-2ch-dmic16kcore1.tplg from pull request https://github.com/thesofproject/sof/pull/4265 .

Then run this script dmic_arecord_test.sh.

[code]
**Reproduction Rate**
Always after starting capturing rec_b2.wav.

**Expected behavior**
The script passes to

[2021-05-31 15:34] singalsu commented on #4266
The address EPC1     0xbe02de27 corresponds to these code lines in sof-tgl.lst

[code]

The disassembly at EPC2     0xbe02d41a looks like this

[code]

[2021-05-31 15:47] singalsu commented on #4266
The error happens also with stable-v1.8 2cede3159 . The Stack dump in dmesg is:

[code]
EPC1 address points to

[code]

[2021-05-31 16:01] lgirdwood commented on #4266
@singalsu it's a NULL ptr deref and it looks like you are in IRQ level 5.

[2021-05-31 23:12] callegar opened #4268 "[BUG] No sound on N4120 tablet (Chuwi Hi10X)"
**Describe the bug**

Cannot seem to be able to get sound working on the Chuwi Hi10X convertible/tablet. It looks like there are two versions of this tablet using the same Hi10X name. The problematic one uses a Celeron N4120 Gemini lake processor and related chipset.

Trying with manjaro linux that uses a quite recent kernel and alsa. Audio is not detected apart from the HDMI outputs.

Tried `opti

[2021-06-01 00:44] keqiaozhang commented on #3953
@keyonjie , this issue can still be seen in yesterday's daily test, Test ID 4290.

[2021-06-01 01:28] keyonjie commented on #3953
Thanks, it disappear in today's 4300. So looks the issue is improved, but we can still reproduce it in a lower rate.

[2021-06-01 02:01] keyonjie commented on #4266
@singalsu I think we need to fix this first, can you try apply my PR https://github.com/thesofproject/sof/pull/4239 and re-run?
[code]

[2021-06-01 02:27] keyonjie commented on #4266
@singalsu I can reproduce this, and the panic issue will disappear if I change the pipelines from dynamic to static.

[code]

[2021-06-01 07:15] keyonjie commented on #3953
@keqiaozhang @lgirdwood one more fix needed to address this issue:
https://github.com/thesofproject/sof/pull/4269

[2021-06-01 09:17] #4237 closed

[2021-06-01 09:43] singalsu commented on #4266
@keyonjie Yep, the error does not happen if I remove the -DDYNAMIC=1 from topology build.

[2021-06-01 09:47] lgirdwood commented on #4266
Btw, I suspect ```dev->drv == NULL``` here, so the assertion itself is doing the NULL ptr deref.

[2021-06-01 14:38] plbossart commented on #3868
Copying everyone who has a BYT/CHT device or worked on DMAs before: I have no explanation for the change in behavior with the trace

@lgirdwood @keyonjie @kv2019i @bardliao @jwrdegoede @ujfalusi @lyakh

[2021-06-01 16:47] marc-hb commented on #4199
Can we please partially revert the small, `apl-nocodec` bit of 426d7816e265 to get the tests passing again while leaving this bug open? I mean just this bit:

[code]

[2021-06-02 02:13] keyonjie commented on #4242
Usually we use demux for 1 input source (M channels) to 2 output sinks (N1, N2 channels, N1, N2 <= M) and mux for 2 input sources to 1 output sink. @lgirdwood please help to comment on this.

And for the channel selector (Authored by @lbetlej), it is used for 1 input source to 1 output sink, to expand the feature described here by @cujomalainey , we can add an channel map array as below, and imple

[2021-06-02 03:27] cujomalainey commented on #4242
@keyonjie yes, the channel remapping seems a bit weird to me to be in mux and not selector, but i might be missing a use case.

[2021-06-02 04:18] juimonen commented on #4242
Originally the mux/demux was a very general "routing matrix", so it can do 1:N and N:1 input/output stream mappings. It was actually also able to mix the channels but that feature was removed as taking too much cpu (again not my choice, I personally would have just kept it as general as possible, but that's another story).

As I understand you should be able to use the mux/demux with 1:1 input/out

[2021-06-02 05:17] marc-hb commented on #4199
Submitted in #4273 . See a different bug description fixed by the same revert there.

[2021-06-02 05:41] cujomalainey commented on #4242
@juimonen thanks for the heads up, we will likely do blob generation anyways since we need to use the same topology across multiple boards which may be using any number of configurations with regards to PDM wiring

[2021-06-02 06:20] XiaoyunWu6666 opened #4274 "[BUG][APL]create_local_elems(): dma_sg_alloc() failed when multiple pipeline"
**Describe the bug**
 create_local_elems(): dma_sg_alloc() failed when multiple pipeline
happened in internal dailytest 4313

**To Reproduce**
TPLG=sof-apl-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -c 20

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 819e4e7e
SOF Branch: main
SOF Commit: 19117f620e42
Topology: sof-apl-nocodec.tplg
Platfor

[2021-06-02 06:34] XiaoyunWu6666 commented on #4274
More details
==========
[code]

**execute command**
TPLG=sof-apl-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -c 10                  **[fail]**
TPLG=sof-apl-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -c 9                     **[pass]**
TPLG=sof-apl-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f c -c 9                      **[fail]**
TPLG=sof-apl-nocodec.t

[2021-06-02 09:04] keyonjie commented on #4274
Thanks for reporting @XiaoyunWu6666 the runtime heap memory is used up on APL, I will submit a fix for it soon.

[2021-06-02 09:28] XiaoyunWu6666 commented on #4185
hi @libinyang @kv2019i  should this issue be closed?

[2021-06-02 10:26] kkarask commented on #4104
I'm working on it. This requires a change in test.

[2021-06-02 10:27] #4274 closed

[2021-06-02 10:55] keyonjie commented on #3966
@dbaluta can you re-test this with tgl-013-drop-stable branch?

[2021-06-02 11:00] keyonjie commented on #3714
This looks not available for 1.8, have to move it to 1.9

[2021-06-02 11:13] kkarask commented on #4175
@singalsu Bug free: 47d223c09ff5da56073f3590d14a64bde513358d and bugged: ea5d9be6a0c3087f3f026c41c381102204f57e05. This bug occurs every day in regression tests.

[2021-06-02 12:28] XiaoyunWu6666 commented on #4274
yes it can be fixed

[2021-06-02 12:48] XiaoyunWu6666 opened #4280 "[BUG] [ADL][SDW] IO error when bluetooth aplay on ADLP_RVP_SDW"
**Describe the bug**
 IO error happened when bluetooth aplay on ADLP_RVP_SDW.
happened in internal PR test 4322

**To Reproduce**
 aplay   -Dhw:0,14 -r 8000 -c 1 -f S16_LE -d 10 /dev/zero -v -q
OR
TPLG=sof-adl-rt711-4ch.tplg ~/sof-test/test-case/check-playback.sh -d 10 -l 1 -r 1

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 819e4e7e
SOF Branch: main
SOF C

[2021-06-02 13:00] plbossart commented on #4280
@kv2019i @yongzhi1 any idea what could possibly cause this?

[2021-06-02 16:06] cujomalainey commented on #3966
@stolx FYI

[2021-06-02 17:04] ranj063 commented on #4199
Like I mentioned, this issue not related to pause/release at all. Just testing playback simultaenously on PCM0 and PCM7 exposes the bug with dynamic pipelines. Our tests limit the number of simultaneous pipelines to 4, so we never test PCM0 and PCM7 together. Ideally the multiple-pipeline playback should have failed at the very first iteration if we had tested this combination.

[2021-06-02 17:42] marc-hb commented on #4199
Indeed I can reproduce a severe crash with a mere `sof-test/test-case/multiple-pipeline-playback.sh -c 5` (which uses both PCM0 and PCM7) whereas `sof-test/test-case/multiple-pipeline-playback.sh -c 4` (the default) does not. Patch #4282 makes that panic go away.

The bug I described in #4273 seems different. It is not affected by the #4282 patch.

@XiaoyunWu6666 could you or someone else investig

[2021-06-02 17:44] plbossart commented on #4199
I don't get the limitation @ranj063. we reduced the number of SSP tested due to memory requirements, why do the tests reduce concurrency between pipelines?

[2021-06-02 17:46] plbossart commented on #4199
I also don't get what is common between PCM0 and PCM7, the patch in #4282 fixes problems when sharing components but PCM0 is an SSP and PCM7 HDMI. There should be nothing in common.

Confused.

[2021-06-02 17:52] ranj063 commented on #4199
![sof-apl-nocodec](https://user-images.githubusercontent.com/7766921/120528696-96582c80-c390-11eb-8142-e51bd19c1726.png)

[2021-06-02 17:53] ranj063 commented on #4199
@plbossart PCM0 and PCM7 are the playback pipelines that are connected at the mixer.

[2021-06-02 18:41] kv2019i commented on #4250
I found a clear bug in current mainline that explains failures with the multiple-pause-resume.sh test -> https://github.com/thesofproject/sof/pull/4283

On Zephyr SOF builds, the result is more severe than with XTOS and thus the higher reproduction rate.

However, there is more subtle issue still on Zephyr and I still get dmic-irq flood. This seems to relate to coherence of 'dmic_active_fifos'. I

[2021-06-02 20:53] kv2019i commented on #4280
@plbossart @XiaoyunWu6666 This is expected behaviour if the Bluetooth connection is not set up. The I2s is in slave and there will be no WS/FSYNC from the BT side, so audio side will get -EIO in this case.

We'll need to develop some way to cover this in the sof-test cases.

[2021-06-02 21:06] plbossart commented on #4199
ok, thanks @ranj063. Not sure why we keep using silly numbering conventions or again using a bad mixer solution. Oh well.

[2021-06-03 01:34] keyonjie commented on #3953
@keqiaozhang @XiaoyunWu6666 looks this is fixed according to the latest daily result, please help to double check and close it if true.

[2021-06-03 01:35] keyonjie commented on #3939
@keqiaozhang @XiaoyunWu6666 looks this is fixed according to the latest daily result, please help to double check and close it if true.

[2021-06-03 01:39] keyonjie commented on #3714
@aiChaoSONG @slawblauciak looks this is not reproduced according to the latest daily report 4346?

[2021-06-03 02:09] XiaoyunWu6666 commented on #3939
@keyonjie @keqiaozhang  I'll check it

[2021-06-03 02:27] keyonjie commented on #4274
Thanks, it was closed by github automatically anyway.

[2021-06-03 03:14] keqiaozhang commented on #4280
@kv2019i ，I will try to disable the BT pipelines test in sof-test and let the chrome team to cover the BT validation.

[2021-06-03 03:57] aiChaoSONG commented on #3939
run test case 500 iterations, this issue is not reproduced, close.

[2021-06-03 03:57] #3939 closed

[2021-06-03 07:05] kv2019i commented on #4280
Ack @keqiaozhang . Should we move this to sof-test issues and track this there?

[2021-06-03 11:52] kv2019i commented on #4250
Some more clues. It seems the bug happens in the case when fifo-b is just started, fifo-a gets a pause req and then there seems to be a race with two dmic_stop(): one implementing the pause on fifoa, and another called from dmic IRQ due to xrun:

[code]

The interrupt handling seems to behave slightly differently, which explains why the problem is only seen on Zephyr builds.

[2021-06-03 13:26] #4199 closed

[2021-06-03 13:50] lgirdwood commented on #4248
Debug PRs merged, so it looks like we are polling on HW change that's not happening and will need inputs from @slawblauciak

[2021-06-03 13:54] lgirdwood commented on #2981
@kkarask I'm going to close this for the moment as it's not seen with the Linux driver (and wont be seen by users). Lets keep it on record.

[2021-06-03 13:54] #2981 closed

[2021-06-03 14:10] lgirdwood commented on #4104
@kkarask thanks, let us know when results are available. @keyonjie @mengdonglin

[2021-06-03 14:21] lgirdwood commented on #4266
@singalsu can you try with HEAD, @ranj063 has a fix that's now merged.

[2021-06-03 14:21] kv2019i commented on #4185
Ack @XiaoyunWu6666 , let's close this.

[2021-06-03 14:21] #4185 closed

[2021-06-03 14:34] lgirdwood commented on #4230
We really need to reproduce with the driver or figure out the differences in IP programming flows with Python code.

[2021-06-03 14:36] lgirdwood commented on #4207
ping @iuliana-prodan - any update here. Do we need a fix or clarification here ?

[2021-06-03 14:51] lgirdwood commented on #4144
@fredoh9 can we close ?

[2021-06-03 14:52] #4073 closed

[2021-06-03 14:54] lgirdwood commented on #4066
@fredoh9 can you link the original duplicate here and assign its owner here. thanks

[2021-06-03 14:56] lgirdwood commented on #3871
Looks like this is part of IPC4 work.

[2021-06-03 14:58] lgirdwood commented on #3852
@brentlu I'm assuming this has been fixed but not updated here  ?

[2021-06-03 14:59] lgirdwood commented on #3842
@dbaluta @paulstelian97 @iuliana-prodan I'm assuming this is now closed ?

[2021-06-03 15:00] iuliana-prodan commented on #4207
Now I understand that even if there are two inputs for a buffer (i.e. BUF5.0), there is no data coming from EchoRef since this is just a virtual component.

I didn't have the time to make a simple demux topology for imx, but it's on my todo list.

Thanks for clarifications. I believe we can close this.

[2021-06-03 15:02] lgirdwood commented on #3767
@plbossart @kv2019i @slawblauciak any update - can we close ?

[2021-06-03 15:02] paulstelian97 commented on #3842
I'm not comfortable with closing this, not at least until @dbaluta comes back from vacation and explains how it is.

Currently we're trying to delay the preparation until first copy(), and while it works, it's not exactly reliable.

[2021-06-03 15:04] lgirdwood commented on #3730
@dbaluta I'm assuming we can close this now ?

[2021-06-03 15:04] #3724 closed

[2021-06-03 15:08] plbossart commented on #3767
We haven't made any progress, but I am not sure if we should really care.
IIRC the 4th HDMI link seems to be for an embedded display so the odds of having audio on that display are rather low.

[2021-06-03 15:13] #4207 closed

[2021-06-03 16:07] kv2019i commented on #3767
Ack @plbossart , let me take this on my name. The priority is appropriate for now. In most systems, the 4th pipe is reserved for the embedded display (even when it's not in use), so in practise you are limited to at max 3 concurrent pipes.

[2021-06-03 16:30] michael-brade opened #4289 "[BUG] HP ZBook 15u G6, linux 5.10.42, sof v1.7: no hda codecs found, no matching ASoC machine driver found"
**Describe the bug**
I am trying to get sof to load and run on a HP ZBook 15u G6, mainly because the internal microphone doesn't work on a vanilla kernel. I compiled the kernel myself.

**To Reproduce**
I installed the sof firmware by cloning the repository and running `./install.sh v1.7.x/v1.7`. v1.7 is said to work with linux 5.10.x.
The I compiled and installed the kernel and rebooted. No sound

[2021-06-03 17:58] singalsu commented on #4266
@lgirdwood This I/O error happens with "ipc: ipc3: Do not reset pipeline components during comp_free". There's no more FW panic but ipc timeout:

[code]

[2021-06-03 20:25] ranj063 opened #4292 "[FEATURE] Remove support for SLK/KBL/HSW/SUE"
**Is your feature request related to a problem? Please describe.**
Not quite a feature request but rather a feature reversal to remove the dead code from the repo.

**Describe the solution you'd like**
Remove platform code that SOF doesnt support.

[2021-06-03 20:31] ranj063 commented on #2348
issue not reproduced with
"version" : {
        "kernelBranch" : "topic/sof-dev",
        "kernelCommit" : "20cf8377",
        "sofBranch" : "main",
        "sofCommit" : "fcaede7a8710"
    },

Thanks for test @fredoh9

[2021-06-03 20:31] #2348 closed

[2021-06-04 00:42] #2799 closed

[2021-06-04 03:05] XiaoyunWu6666 opened #4294 "[BUG]runtime_status remain active after aplaying on 0,0"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
Please also read https://thesofproject.github.io/latest/contribute/process/bug-tracking.html for further information on submitting bugs.

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)

**Reproduction Rate**

[2021-06-04 03:59] ranj063 commented on #4266
@singalsu, we should hold off on testing multi-core alongside dynamic pipelines. Im in the process of tackling bugs with dynamic piplines with single core and it is looking pretty promising. I will post the fixes for multi-core next week.

[2021-06-04 07:40] keyonjie commented on #3966
@stolx @RDharageswari please hep to re-try as we don't have a way to reproduce it.

[2021-06-04 11:37] kv2019i commented on #4250
With following two fixes to SOF, ./multiple-pause-resume.sh now passes cleanly on Zephyr:

https://github.com/thesofproject/sof/pull/4283
https://github.com/thesofproject/sof/pull/4297

[2021-06-04 12:40] kv2019i opened #4298 "[BUG][Zephyr][TGL] driver probe fails with multicore tplg"
**Describe the bug**
Loading a topology that has at least one pipeline assigned to non-primary DSP core. Driver and topology load fails.

**To Reproduce**
Assign one pipeline and DAI to non-primary core. E.g. iDisp1. Reload SOF driver.

**Reproduction Rate**
100%

**Expected behavior**
Driver probes successfully and loads a topology.

**Impact**
Not possible

**Environment**
1) Branch name and com

[2021-06-04 12:42] kv2019i commented on #4298
With following additional patches:
 - fix to cavs25 linker script https://github.com/zephyrproject-rtos/zephyr/pull/35490
 - revert of "cavs: memory: fix panic on tplg load for zephyr on cavs20/25"

The test still fails with following error on driver side:
[code]

No errors on FW side, last messages in adsplog:
[code]

[2021-06-04 16:42] fredoh9 commented on #4066
Duplicate of #3953
Original issue is closed.

[2021-06-04 17:37] cujomalainey commented on #3966
I can try either today or monday hopefully

[2021-06-04 17:43] singalsu commented on #4266
Yep, I added to #4265 build of non-dynamic pipelines. This issue does not happen with them.

[2021-06-05 03:09] Footsiefat opened #4301 "[SOF v1.7] Audio no longer works with newest arch on Dell Vostro 7500"
Audio used to work on my work laptop but after an update it is once again broken...

"neofetch" output:
[code]

"sudo dmesg | grep 'snd\|soc\|sof'" output

[code]

[2021-06-05 22:19] by-cx opened #4302 "[BUG] Sound on HP Spectre x360 aw2002 with Tiger Lake-H is not working on 1.8-rc2"
**Describe the bug**

When I was trying to get speakers on my notebook working I noticed that it's working with version 1.7 but not 1.8-rc2, both from sof-bin repository. I cannot see any audio output related to the integrated sound hardware with 1.8-rc2.

My notebook is: HP Spectre x360 aw2002
Which uses CPU i7-1165G7
Here is lspci:

[code]

**To Reproduce**

Working combination is:

* SOF 1.7
*

[2021-06-07 07:27] XiaoyunWu6666 opened #4304 "[BUG][HDA] DSP panic when TRIG_RELEASE on ADLS_RVP_HDA and TGLH_0A70_HDA"
**Describe the bug**
 DSP panic when TRIG_RELEASE ,in case  multiple-pause-resume on ADLS_RVP_HDA
found in daily-ADL id 4417

DSP panic when TRIG_RELEASE ,in case  multiple-pause-resume on TGLH_0A70_HDA
found in  daily id 4413

**To Reproduce**
TPLG=sof-hda-generic-2ch.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev

[2021-06-07 07:52] XiaoyunWu6666 commented on #4304
Also happened on TGLH_RVP_HDA which uses sof-hda-generic-4ch.tplg

[2021-06-07 08:22] XiaoyunWu6666 opened #4305 "[BUG][APL]buffer_alloc() failed when arecording after aplaying in multiple-pipeline-all on APL_UP2_NOCODEC"
**Describe the bug**
when  arecording in multiple-pipeline-all on APL_UP2_NOCODECs,  buffer_alloc() occurs
arecord failed ,showing  'unable to install hw params'

Strangely if I make arecord ahead of aplay , this won't happen. which means if you try 'TPLG=sof-apl-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f c -c 20 ', nothing wrong occurs.

**To Reproduce**
TPLG=sof-apl-nocodec.tplg ~

[2021-06-07 09:43] kv2019i opened #4306 "[BUG][Zephyr] multiple-pipeline-capture.sh test fails on TGL"
**Describe the bug**
Run sof-test case multi-pipeline-record.sh

**To Reproduce**
cd sof-test/test-case
export TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-rt711-4ch.tplg
./multiple-pipeline-capture.sh

**Reproduction Rate**
100%

**Expected behavior**
Test case passes without error.

**Impact**
Use-case failure. Affects CI test set.

**Environment**
1) Branch name and commit hash of the 2 repositori

[2021-06-07 10:16] kv2019i commented on #4304
FYI @singalsu  and @ranj063

Many dmic patches were merged on Friday. It does seem this only triggers on platforms with dynamic-pipelines enabled though but the error still occurs with the dmic pipeline:

[code]

[2021-06-07 10:18] kv2019i commented on #4306
Sof-test error:
[code]

[2021-06-07 10:20] kv2019i commented on #4306
FW log (with adsplog.py) [log-adsplog.txt](https://github.com/thesofproject/sof/files/6608009/log-adsplog.txt)

[2021-06-07 10:23] kv2019i commented on #4306
In terminal, I can reproduce also with these steps:
[code]

PCM numbers may vary based on tplg. In my test, four pipelines are needed, with three pipeline test passes.

[2021-06-07 12:24] mwasko commented on #4052
This issue is specific to scenario with DSM component on Core 1 while the rest of the pipeline is on Core 0. The issue is not reproducing in case when entire pipeline is on Core 1.

[2021-06-07 12:31] mwasko commented on #4052
@juimonen the issue was not reproducible on tgl-11-drop-stable branch. However when we merged scheduling refinements from tgl-11 to main branch then we started to catch quite a lot of multi-core problems (including this one). Most of the issues has already been addressed, but this one still remain - reproduced recently on tgl-13-drop-stable.

[2021-06-07 13:06] plbossart commented on #4301
@Footsiefat you give us very little information.
a) what was the configuration before the update
b) what does not work?

Please check out https://thesofproject.github.io/latest/getting_started/index.html#debug-audio-issues-on-intel-platforms

FWIW, the Arch distribution had misleading documentation on modprobe quirks in the past, if you applied some of those in the past they may or may not work wi

[2021-06-07 13:47] singalsu commented on #4304
I wonder if this is duplicate https://github.com/thesofproject/sof/issues/4266

[2021-06-07 16:18] ranj063 commented on #4304
no this is not related to #4266. THis is with singel core

[2021-06-07 17:55] marc-hb commented on #4305
@ranj063 This looks similar to #4273 that was fixed by https://github.com/thesofproject/linux/pull/2964

Sorry if it's unrelated.

[2021-06-07 20:02] ranj063 commented on #4305
no this is not related to 4273. We;re failing with -ENOMEM here @keyonjie any insights?

[2021-06-08 00:11] cujomalainey commented on #3966
forgot to write here as well my results, initial tests look promising

[2021-06-08 05:20] XiaoyunWu6666 opened #4309 "[BUG][SDW]no PCM in topology for HDMI converter when hda_dsp_hdmi_build_controls, on tglh-0a5e-sdw"
**Describe the bug**
in daily test 4434 , verify-kernel-boot-log failed on TGLH-0A5E-SDW.
when creating new PCM HDMI , error occured

**To Reproduce**
 TPLG=sof-tgl-rt711-rt1308-rt715.tplg ~/sof-test/test-case/verify-kernel-boot-log.sh
**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: d07af131
SOF Branch: main
SOF Commit: d6e29ced2430
 Topology: sof-tgl-rt711-

[2021-06-08 05:36] keyonjie commented on #3966
Thanks for the feedback, waiting for your final result.

[2021-06-08 07:02] kkarask opened #4310 "[BUG] Glitches and interrupted recording on channels 3 and 4 with Mux component"
**Describe the bug**
Glitches was found in test 14_11_TestMuxSimpleStreamOperations48000Hz32b32b4ch.
While pipelines are working pause and resume operation are done on playback stream. During this operation recording was interrupted on channels 3 and 4.

**Topology**
[code]

**To Reproduce**
Run test 14_11_TestMuxSimpleStreamOperations48000Hz32b32b4ch with Diagnostic driver

**Reproduction Rate**

[2021-06-08 07:25] kkarask commented on #4175
@singalsu Good news! Memory leak is not visible on none of the platforms.

[2021-06-08 07:36] slawblauciak commented on #4310
@kkarask @wszypelt can you please attempt to bisect this, so we have a rough idea what might be causing this?

Also, does this occur on any other platforms?

[2021-06-08 07:48] mengdonglin commented on #4304
@XiaoyunWu6666 Can you please check if this issue can be reproduced with static pipelines?

[2021-06-08 07:58] XiaoyunWu6666 commented on #4305
can be reproduced on ubuntu@sh-apl-up2-nocodec-04

[2021-06-08 08:23] XiaoyunWu6666 commented on #4304
@mengdonglin Yes I switch to stable-v1.8 branch and the issue doesn't reproduce

[2021-06-08 10:02] Footsiefat commented on #4301
@plbossart hey dude, sorry for not giving enough into. Basically I wrote this all out properly but I accidentally closed the tab so I rushed remaking it.

Good news is that after switching from pulseaudio to pipewire audio now works fine again now.

[2021-06-08 10:02] #4301 closed

[2021-06-08 10:35] wszypelt opened #4312 "[BUG] [ICL] Exception SofIpcErrorResponseException 09_01_TestCreateSspTopologyPowerFlow8000Hz32b32b8ch"
**Describe the bug**
Bug was found in 09_01_TestCreateSspTopologyPowerFlow8000Hz32b32b8ch

the content of the error:
ERROR:Exception SofIpcErrorResponseException occurred at 'C:\\work\\tools\\pyexecnetcache\\cavs_scripts-py\\utilities\\ipc_driver.py':730 FW replied with error. Error code: -22 0x00000005 0x00000000 0x00004000

Last working build: master-2320

**Topology**
[code]
Description:
Descri

[2021-06-08 10:53] wszypelt commented on #4259
Test: 09_01_TestCreateSspTopologyPowerFlow8000Hz32b32b8ch
has the same Error code on [TGL-013].

[2021-06-08 10:58] kkarask commented on #4168
I would like to add that this problem is visible every day in regression tests on APL.

[2021-06-08 13:16] wszypelt opened #4314 "[BUG][TGL-13] Expression check failed, TestPtpSimpleStreamOperations"
**Describe the bug**

Wave file without glitch

Bug was found in:
02_12_TestPtpSimpleStreamOperations8000Hz16b16b1ch
02_12_TestPtpSimpleStreamOperations8000Hz24b32b4ch
02_12_TestPtpSimpleStreamOperations8000Hz32b32b8ch
02_12_TestPtpSimpleStreamOperations16000Hz16b16b1ch
02_12_TestPtpSimpleStreamOperations16000Hz32b32b4ch
02_12_TestPtpSimpleStreamOperations24000Hz16b16b1ch
02_12_TestPtpSimpleStream

[2021-06-08 13:22] lgirdwood commented on #4314
@slawblauciak @wszypelt this looks like a slim driver or CI script issue if no glitches are observed ?

[2021-06-08 13:37] singalsu commented on #4304
Does #4313 fix this?

[2021-06-08 14:34] singalsu commented on #4175
@kkarask That's great news, thanks for update! Can this issue be closed?

[2021-06-08 14:50] lgirdwood commented on #4259
@kkarask @wszypelt would you guys also be able to paste the errors from the dma_trace.log (and the ~20 or so lines before the error) in the future on all issues. This allows the developers to triage and synchronize on this issue quicker. Thanks ! e.g.
[code]

[2021-06-08 14:51] lgirdwood commented on #4312
[code]

[2021-06-08 15:01] lgirdwood commented on #4305
@ranj063  @keyonjie We are probably forgetting to free something in the pipeline. Two options

1) cmocka can run on host we should be able to use/extend it to load topologies and run valgrind at the same time. leaks found !!
2) load this topology in testbench (agian under valgrind). Leaks found !!

[2021-06-08 15:13] lgirdwood commented on #4310
@slawblauciak the interesting part is that the glitch switches from chans 1, 2 - > 3 4 after 40ms, could be a result of host22 starting ?

[2021-06-09 01:30] keyonjie commented on #4104
@kkarask ping for update. We are gonna to freeze the 1.8 final, if this issue still exist, we will have to push it out for 1.9.

[2021-06-09 03:48] XiaoyunWu6666 commented on #4066
still happened on TGLU_VOLT_SDW in internal daily test [id 4457]
so reopen it

[2021-06-09 03:57] XiaoyunWu6666 opened #4317 "[BUG][DMIC]TGLU_RVP_NOCODEC failed to enable target core for widget PCM5C"
**Describe the bug**
found in internal daily test 4457 on  TGLU_RVP_NOCODEC， in case verify-kernel-boot-log
unable to set up DMIC1 pipeline

**To Reproduce**
TPLG=sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/verify-kernel-boot-log.sh
OR
dmesg

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: c2e91674
SOF Branch: main
SOF Commit: 5abd8a9ea572
 Topology: sof-tg

[2021-06-09 05:02] keyonjie commented on #4317
Thanks for reporting @XiaoyunWu6666 , new PR https://github.com/thesofproject/sof/pull/4318 submitted to address this.

[2021-06-09 06:10] XiaoyunWu6666 commented on #4317
#4318 fixed it

[2021-06-09 07:50] kkarask commented on #4310
@slawblauciak yes, issue exists only on APL. This bug was hidden and it is hard to find good version. Here 71ac0f97e9d98df7e5679fbb6669bb07229d4170 reproduction rate is 3/100.

[2021-06-09 08:13] #4175 closed

[2021-06-09 09:14] wszypelt opened #4319 "[BUG][TGL] glitch in test 22_00_TestDsmSsp48000Hz32b32b2ch"
**Describe the bug**
New glitch was found in test 22_00_TestDsmSsp48000Hz32b32b2ch At the beginning wave file

**Topology**
[code]
Description:
Simultaneous playback and capture on external loopback (same SSP) with signal verification.
Playback pipeline contains Dynamic Speaker Management (DSM) component.

**To Reproduce**
Run test with Diagnostic driver 22_00_TestDsmSsp48000Hz32b32b2ch
With optio

[2021-06-09 11:21] kv2019i commented on #4298
Seem to get stuck booting up core#1 in Zephyr arch code, filed https://github.com/zephyrproject-rtos/zephyr/issues/36088

[2021-06-09 12:18] kkarask commented on #4104
#4263 works with test that @mrajwa required (25_01_TestGenericProcessorRuntimeConfig with all parameters). All iteration pass (--playback_iterations=20).

Other problem occurred:
Glitch in test: 25_02_TestGenericProcessorCompMultiCorePlb48000Hz16b16b4ch reproduction rate:  2/20
![image](https://user-images.githubusercontent.com/82518823/121352598-51526e00-c92d-11eb-9407-a4925a09dd35.png)

Glitch i

[2021-06-09 12:35] mrajwa commented on #4104
Needs to verify:
- if it happens without this PR (main branch)
- if it happens in playback iterations mode or in topology iterations as well
- if it happens in the very fist iteration

[2021-06-09 15:00] #4317 closed

[2021-06-09 21:26] edward-a opened #4324 "Undefined AM_GNU_GETTEXT when building alsa-utils [WSL2 Ubuntu 20.04 LTS (Windows)]"
I am following Getting Started instructions to build SOF on WSL2 Ubuntu 20.04 LTS (Windows) and i was able to successfully compile ALSA libraries. I am however stuck on compiling alsa-utils with the following errors:

configure.ac:10: error: possibly undefined macro: AM_GNU_GETTEXT
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentation.
con

[2021-06-10 05:55] keyonjie commented on #4304
looks the case pass in all those 3 platforms with today's result 4487, @XiaoyunWu6666 shall we close it?

[2021-06-10 06:56] XiaoyunWu6666 opened #4328 "[BUG][ADL]DSP panic when TRIG_START/TRIG_RELEASE in multiple-pause-resume on ADLP_RVP_NOCODEC"
**Describe the bug**
DSP panic when TRIG_RELEASE ,in case multiple-pause-resume on
daily-ADL 4496

**To Reproduce**
 TPLG=sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 57440285
SOF Branch: main
SOF Commit: 64c5f3a46b15
Topology: sof-tgl-nocodec-ci.tplg  (multi-core enabled)

**Scr

[2021-06-10 06:57] XiaoyunWu6666 commented on #4328
This error looks similar to https://github.com/thesofproject/sof/issues/4304 but on different platforms and pipelines.
So file a new issue here

[2021-06-10 06:59] XiaoyunWu6666 commented on #4304
https://github.com/thesofproject/sof/issues/4328 looks similar but on different platforms and pipelines.
Since the case pass in all those 3 platforms with today's result 4487, let's close this issue

[2021-06-10 06:59] #4304 closed

[2021-06-10 08:50] paulstelian97 commented on #4324
Did you set the LD_LIBRARY_PATH to use the newly compiled ALSA libraries? The system ones are invariably older than the ones you need.

[2021-06-10 09:38] kkarask commented on #4104
@mrajwa it is impossible to verify if it happens without this PR (please, see the bug description).
All Post Processing tests passed in the very first iteration (with this PR and without)

I run all Post Processing tests with parameters:
--topology_iterations=6
--playback_iterations=6
 and found glitches in tests:

- 25_00_TestGenericProcessorSimplePlb48000Hz16b16b8ch
glitch occurs:
Topology=5, it

[2021-06-10 10:50] keyonjie commented on #4104
@kkarask as the glitches are another issue, can you verify if the XRUN issue original reported here is fixed by #4263 ? e.g. without #4263 does the XRUN issue happen? With PR #4263 applied, does the XRUN issue disappear?

[2021-06-10 11:11] #4305 closed

[2021-06-10 11:24] lgirdwood commented on #4324
@edward-a also worth trying your local alsa libraries and utils as code is frequently upstreamed to ALSA. We do have a copy for code that is not upstream or not yet available in a ALSA release (so it's possible you have all dependencies).
Fwiw, I dont really recommend LTS releases for desktop SW development reasons as LTS releases can fall quickly behind with developer tools / packages and become

[2021-06-10 11:33] plbossart opened #4329 "[BUG][BYT] Recurring beeps when DMA trace is not used"
**Describe the bug**
Users such as @jwrdegoede, @HoshiYamazaki and @fxthomas reported 'beeps' that occur regularly with SOF.
This does not seem to happen when the DMA trace is used.

A suggested workaround is to use
options snd_sof sof_debug=1
in /etc/modprobe.d/alsa-base.conf

**To Reproduce**
Take SOF release and use in a distro

**Reproduction Rate**
Difficult to assess, but 3 independent repor

[2021-06-10 11:33] plbossart commented on #4329
links:
https://github.com/thesofproject/sof/issues/3868#issuecomment-850845612

[2021-06-10 11:36] lgirdwood commented on #4329
Does trace have to be enabled only or need to be captured by sof-logger. i.e. it it enough that the trace is DMAed to host buffer only.

[2021-06-10 11:44] kkarask opened #4330 "[BUG] Glitch in wav file with DMIC interface FIFO B"
**Describe the bug**
Glitches was found in test 05_04_TestDmicFifoBSimpleStreamOperator48000hz32b32b4ch

**Topology**
[code]

**To Reproduce**
Run test 05_04_TestDmicFifoBSimpleStreamOperator48000hz32b32b4ch with Diagnostic driver
with parameters:
--playback_iterations=75

**Reproduction Rate**
1/75

**Environment**
1) Firmware branch name and commit
    * SOF: Branch: main, Hash: d6e29ced243079e6

[2021-06-10 13:20] plbossart commented on #4329
it's the latter as I understand it. @fxthomas please correct me it I am wrong.

[2021-06-10 13:29] lgirdwood commented on #4330
@kkarask I assume this works with FIFO A ? Can you stress ?

[2021-06-10 15:18] plbossart commented on #3937
@lgirdwood what did you mean by "restrict BYT/CHT in topology to 16bit only"? we can restrict the DAI or the PCM or both.

[2021-06-10 15:22] plbossart commented on #3522
@lgirdwood @marc-hb I haven't seen any failures for pause/resume tests on platforms with a mixer, should we close this?

[2021-06-10 15:36] plbossart commented on #3170
@lgirdwood This issue remains visible in recent Intel daily tests, it's still a problem.

[2021-06-10 15:38] plbossart commented on #3932
Adding the BYT label since it's really the same as CHT.

We might be able to solve this problem with the bitclock early start done for cAVS platforms.

[2021-06-10 15:42] plbossart commented on #4329
Closing, this is a duplicate of https://github.com/thesofproject/sof/issues/3868 which I missed to to missing labels. same problem with DMA trace.

[2021-06-10 15:44] plbossart commented on #3868
This issue is not related to a specific codec as mentioned in the title, this also happens with a WM5102 https://github.com/thesofproject/linux/issues/2485#issuecomment-858246382

Clearly an SOF issue.

[2021-06-10 15:44] #4329 closed

[2021-06-10 15:49] plbossart commented on #3344
@marc-hb @fredoh9 @lgirdwood I am not sure if this bug is current, I haven't noticed this error in a very long time. Close?

[2021-06-10 15:50] plbossart commented on #3852
@brentlu can you confirm is this bug still happens? we will close it without new information.

[2021-06-10 15:51] plbossart commented on #3681
@aiChaoSONG it's been 3 months since your last comment, can we close or is this issue still relevant?

[2021-06-10 15:53] plbossart commented on #3638
@juimonen @libinyang @lgirdwood is this still relevant? last update was in November...

[2021-06-10 15:54] plbossart commented on #3619
@brentlu did your backports solve this issue? if yes can we close?

[2021-06-10 15:55] plbossart commented on #2007
@lgirdwood @keqiaozhang I don't think this bug is still relevant, keyword detection was not enabled in CML products.

[2021-06-10 15:58] plbossart commented on #3340
@fredoh9 @aiChaoSONG does this problem still exist? I think it was a duplicate of other problems with BYT/CHT mixers. please close if this isn't a problem any longer.

[2021-06-10 16:00] plbossart commented on #3169
let's close this, there is no line of sight for a new CoreBoot update

[2021-06-10 16:00] #3169 closed

[2021-06-10 16:04] plbossart commented on #2157
Closing, Samus is well supported at the firmware level. The driver is still missing suspend/resume support but that's a different request that will probably never be implemented.

[2021-06-10 16:04] #2157 closed

[2021-06-10 16:12] plbossart commented on #2828
@timur-enikeev @foundObjects @benzea @balent @victortrac @mikerogerz @Enerccio I am going to close this issue since it's related to older SOF releases that no one should still be using. 1.6 and 1.7 have been out for a while and in use by most distributions.

If you see any problems related to SOF, please open a new issue.

[2021-06-10 16:13] #2828 closed

[2021-06-10 16:14] plbossart commented on #3395
@kv2019i @fredoh9 @marc-hb is this issue still occurring, if not can we close?

[2021-06-10 16:20] plbossart commented on #2908
@lbetlej @slawblauciak @lgirdwood this is a year-old request with the last update back in September, can we close?

[2021-06-10 16:22] plbossart commented on #2883
@bkokoszx @slawblauciak @lgirdwood this also looks like an old issue without any update? isn't this fixed already?