[2019-04-05 18:41] #1198 closed

[2019-04-05 18:42] jajanusz commented on #1199
Fixed in #1227

[2019-04-05 18:42] #1199 closed

[2019-04-06 00:40] ranj063 commented on #1173
@RanderWang @emilchudzik https://github.com/thesofproject/linux/pull/795 fixes this problem

[2019-04-06 04:55] ranj063 opened #1234 "Why don't we have TRACE_DMA_FREE for trace?"
Just like the pcm streams have a pcm params and pcm free?
Why does trace only have the TRACE_DMA_PARAMS? Do we need a free for trace?

[2019-04-08 03:32] stevyan commented on #1179
[sine_48k_stereo_440Hz.zip](https://github.com/thesofproject/sof/files/3052511/sine_48k_stereo_440.zip)

[2019-04-08 06:42] emilchudzik commented on #1173
@ranj063 did you check it on the newest kernel? Currently the blokcer is: #767.
Which commit of linux repo is working on your side with your patch?

[2019-04-08 06:43] stevyan commented on #1179
@lgirdwood I've attempted the test steps you provided, but the startup noise still can be heard at the begin of 2~3s.

[2019-04-08 07:33] RanderWang commented on #1173
As I know, there is no such issue on APL

[2019-04-08 07:40] bkokoszx commented on #560
@lgirdwood @plbossart
I think this issue can be closed since #1197 has been merged.

[2019-04-08 07:42] #560 closed

[2019-04-08 07:50] #1224 closed

[2019-04-08 08:54] jajanusz opened #1235 "[BUG] sof_add_ld_script called too early"
**Describe the bug**
Gathering of includes here: https://github.com/thesofproject/sof/blob/dc452b2771bfbcc01c49c4cbce547c1efadaa48b/src/arch/xtensa/CMakeLists.txt#L102

Should be delayed to not depend on order of cmake subdirs.

**To Reproduce**
Add includes in platform that linker script will depend on and it will fail, because they are not yet added while creating target for linker script.

[2019-04-08 11:27] singalsu opened #1236 "[BUG] Playback of 44.1 kHz content via SRC pipe crashes firmware"
**Describe the bug**
Firmware crash happens in idle after a number of plays of 44.1 kHz sample rate stereo clips. The word length of clip or the length of the clip does not impact crash probability. Quite often third play ends into a crash. Playback of other sample rates 8/16/32/48 kHz do not crash (8 -> 48 kHz is using same SRC two stage structure as 44.1 -> 48). Also xt-xcc built FW does not cra

[2019-04-08 14:03] singalsu commented on #1147
Closing.

[2019-04-08 14:03] #1147 closed

[2019-04-08 14:47] juimonen commented on #1215
I've been trying to log the dai write vs. dma read pointers and at least to me it seems that dma read pointer is always behind the dai writer (so not at least not overlapping with the current write period). I'm checking this in dw_dma_copy where dai has written a period and is updating pointers for dma (sar register value is not inside current_ptr + bytes).

I've also tried to fiddle around cache_

[2019-04-08 23:01] plbossart opened #1238 "[BUG] Cmake/rimage: cannot change default key used by rimage"
**Describe the bug**

To work on specific Intel boards, I need to change the private key used for signature. hardcoding the new path doesn't work with CMakeLists.txt, the default is always selected.

Ideally we'd want an environment variable to be able to override this default to use an out-of-tree key instead of maintaining CMake changes.

**To Reproduce**

[code]
**Expected behavior**

The new k

[2019-04-09 05:49] xiulipan commented on #1238
@plbossart
That is interesting. As far as I know if you would like to change the key used. The best way is to change the cmd of the rimage call but not something inside the CMake. But that would be a good feature to let rimage to accept costume key with some ENV or CMake option.

I will check that.

[2019-04-09 09:11] Jiangxinx opened #1241 "[S3][Regression] volume pipeline copy failure after 4 suspend/resume cycles on APL UP^2 PCM512X platform."
**Summary**
Fail to resume aplay after suspend/resume 4 times on APL-UP2-pcm512x.
Dmesg have no abvious error trace.

**To Reproduce**
1.aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero& sudo ~/test/stress-s3.sh 50 1 1

**Screenshots or console output**
[code]

**Environment**
sof master: 18d116b2
kernel sof-dev: b5ece71d
tplg: sof-apl-pcm512x.tplg

**Sof-logger**
[code]

**Log file**
[dmesg.log](htt

[2019-04-09 10:51] mmaka1 opened #1242 "[BUG] tools/coredumper: wrong location printed"
**Describe the bug**
Once absolute paths are passed to the compiler, \_\_FILE__ does not fit into the `struct sof_ipc_panic_info::filename[32]`. There is OOB and the line number is overridden. The beginning of the file name should be truncated.

[2019-04-09 11:20] jajanusz commented on #1238
Ofc ability to change key should be added long time ago, I'm suprised it took so long for someone to complain about it.

@xiulipan adds it in #1239, however we are not going to support anything via environment variables, because it's too easy to make a mess with them

[2019-04-09 11:36] jajanusz commented on #1238
@plbossart BTW I guess your changes didn't work because you changed key for build with MEU when you just build FW without MEU and use only rimage. I cannot be sure beacause there are no reproduction steps, just *proposed solution*(?).

[2019-04-09 21:31] plbossart commented on #1234
The premise for PCM streams is that they can be used with different configurations, and you use the free/hw_params sequence to pass the new config information. For the trace things are quite static atm and I don't see a need to ever change any parameters. It's on and remains on. If we started going into dynamic traces activated on request then yes most likely we'd want to free.

[2019-04-10 08:56] Jiangxinx commented on #1241
Update the daily report: this issue still exist,however,dmesg is null,sof-logger have no abvious error trace on today's version.

***To Reproduce***
1.aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero& sudo ~/test/stress-s3.sh 50 1 1

***Screenshots or console output***
[code]

***sof-logger***
[code]

***Environment***
sof master: ed6ac05f
kernel sof-dev: f0ce2c52
tplg: sof-apl-pcm512x.tplg

***Log f

[2019-04-10 09:24] singalsu commented on #579
I'm starting with this, I'll create a volume capture dmic topology and set the scale differently than currently used for playback. Then fix possible obstacles in driver and fw.

[2019-04-10 10:18] Jiangxinx opened #1250 "[BUG][BYT]Can not aplay on BYT-MB-NOCODEC platform."
**Describe the bug**
Fail to aplay on BYT-MB-NOCODEC .
Sof-logger have no abvious error trace.

**To Reproduce**
aplay -Dhw:0,0 -fs16_le -c2 -r 48000 /dev/zero

**Environment**
sof master: ed6ac05
kernel sof-dev: f0ce2c52
tplg: sof-byt-nocodec.tplg

**Screenshots or console output**
[code]

***Dmesg***
[code]

***Log file***
[dmesg.log](https://github.com/thesofproject/sof/files/3063244/dmesg.log)

[2019-04-10 10:41] xun2z opened #1251 "[BUG][WHL HDA] incorrect sound when playback"
### Description
The playback is not right with the clock frequency on both WHL RVP and CML laptop.

### Cause
commit: [cavs: ssp: generic ssp mclk configuration for cavs ](https://github.com/thesofproject/sof/commit/f5e78430ff3dbbe8bcceca5f0f4f1fa86bbd78b8) is the cause.
Playback is OK when this commit is reverted.

### To Reproduce
**kernel**
(since recent regression, I prefer to use this branch)

[2019-04-10 10:49] tlauda commented on #1250
@Jiangxinx Not FW issue, works with older kernel. Please create the issue in the linux repo.

[2019-04-10 11:18] bkokoszx commented on #1251
I believe that setting XTAL clock as a default clock on CNL will fix the problem (#1246). I will try also investigate what is a problem with PLL_FIXED (96 MHz) clock - I'm a little confused, because master/slave ssp with this clock passed.

[2019-04-10 11:42] tlauda commented on #732
@lgirdwood @singalsu @keyonjie @plbossart  The problem is also visible for the PCM Media pipeline, which is set to 192 frames. When we want to play some of the different sampling rates e.g. 8 kHz we are getting error: "host_params() error: component buffer size is not a divisor of host buffer size", which is basically true. Do we even need such constraint for DW-DMA on host side? It was already re

[2019-04-10 13:53] #1242 closed

[2019-04-10 14:39] tlauda commented on #1215
Fixed by #1247.

[2019-04-10 15:24] mengdonglin commented on #1251
@xun2z Please share test steps. And please share kmesg and sof trace if there is any error.

[2019-04-11 06:41] xiulipan commented on #1250
@tlauda @plbossart @ranj063
Reopen this issue in SOF since it maybe related with tplg

[2019-04-11 06:44] xiulipan commented on #1250
The issue happens because we would like to find some pcm from id. but got some mismatch in sof-byt-nocodec.tplg

[2019-04-11 09:18] stevyan opened #1254 "[CML] Random IPC time out issues"
**Describe the bug**
topology load failed sometimes when pulseaudio active;

** Reproduce rate ~70% when PulseAudio is active, ~30-40% when PulseAudio is disabled.
**To Reproduce**
aplay -l

**Expected behavior**
list all the playback pcm pipelines;

**Actual behavior**
no sound card found

**Environment**
Kernel: [rander/cml-validation-branch](https://github.com/RanderWang/linux) (topic/sof-dev 5

[2019-04-11 09:28] stevyan opened #1255 "[BUG][CML] Kernel panic when tried to play sound more than 3 times via HDMI"
**Describe the bug**
Kernel panic when tried to play sound more than 3 times via HDMI (hw:0,3)

**To Reproduce**
1. aplay -Dhw:0,3 -f dat <audio>
2. ctrl + z
3. repeat 1,2 more than 3 times

**Actual behavior**
Kernel panic occurred.

**Environment**
Kernel: 55f5a2ec (rander/cml-validation-branch)
Firmware: ed6ac05 (with reverted commit f5e7843)
Topology: 0efa03d(rander/cml-validation-branch)

**d

[2019-04-11 09:39] stevyan opened #1256 "[BUG][CML] aplay would be interrputed by 'write error: Input/output error' when DUT wakeup from S3"
**Describe the bug**
aplay would be interrputed by 'write error: Input/output error' when DUT wakeup from S3

**To Reproduce**
1. aplay -Dhw:0,0 -f dat /dev/zero &
2. sudo rtcwake -m mem -s 1

**Actual behavior**
Device wakeup successful, but the aplay process will be interrupted with i/o error.

**Environment**
Kernel: 55f5a2ec (rander/cml-validation-branch)
Firmware: ed6ac05 (with reverted commi

[2019-04-11 09:45] tlauda commented on #1256
@stevyan It looks like duplicate of #1152. Please verify and close. Next time please check for existing issues before creating the new one.

[2019-04-11 09:46] tlauda commented on #1254
@stevyan It's IPC timeout, so FW logs are needed.

[2019-04-11 09:47] tlauda commented on #1255
@stevyan It's kernel panic, so it should be in linux repo.

[2019-04-11 09:47] #1255 closed

[2019-04-11 10:44] juimonen commented on #1250
@tlauda what kernel sha1 this is working? I can bisect...

[2019-04-11 13:13] libinyang commented on #1256
Is this HDA audio or I2S audio? If HDA audio it should be the same as #1152

[2019-04-11 14:18] xiulipan commented on #1250
@juimonen Can be fixed with https://github.com/thesofproject/linux/pull/816

But still need confirm that no tplg change is needed.

[2019-04-11 16:03] xiulipan commented on #1250
close via https://github.com/thesofproject/linux/pull/816 is merged and confirmed by @ranj063 no spcm for BE.

[2019-04-11 16:03] #1250 closed

[2019-04-11 16:07] ranj063 commented on #1241
@Jiangxinx looking at the latest log, I dont see an error. Can you please explain what the problem is?

[2019-04-12 01:06] stevyan commented on #1256
It is HDA audio, duplicate to #1152

[2019-04-12 01:06] #1256 closed

[2019-04-12 01:36] stevyan commented on #1254
CORE  LEVEL      COMP_ID                TIMESTAMP            DELTA                FILE_NAME	CONTENT
    0      2          DMA             98479.739583     98479.742188 intel/cavs/hda-dma.c:480 	hda-dmac: 4 channel 0 -> get
    0      2          DMA             98645.729167       165.989578 intel/cavs/hda-dma.c:703 	hda-dmac: 4 channel 0 -> config
    0      2          DMA             98691.354167

[2019-04-12 04:13] stevyan commented on #1152
duplicate to thesofproject/linux#489

[2019-04-12 04:13] #1152 closed

[2019-04-12 07:38] bkokoszx commented on #1251
@mengdonglin @xun2z
@zrombel has checked this issue with #1246 patch on our python tests and regression does not exist.

@xun2z
Could you confirm that applying #1246 fixes this issue?

[2019-04-12 08:52] tlauda commented on #1254
@stevyan Does this issue reproduce with topology from master without any extra patches?

[2019-04-12 09:16] tlauda commented on #1052
@dbaluta When using HDA DMA for host transfers we don't have access to the host buffer from DSP side, so we don't need host sgl. Local sgl is just the pointer to the config sgl.

[2019-04-12 12:48] #1251 closed

[2019-04-12 16:08] naveen-manohar opened #1261 "CML: Repeatedly switching from speaker-headset-speaker... results in DSP Panic"
During Speaker playback, repeatedly switching to headset and back to speaker, within 10 iterations hit following dsp panic error.

Test Steps:
On v0.2 recipe

Play audio in speaker
Plug 3.5mm headset jack to observe audio routing to hs
now in UI system tray, change the end-point node selection to speaker and back to headset repeatedly..
Observation: Within 10 iteration of step#3 DSP panic is hit a

[2019-04-12 17:36] wenqingfu commented on #1261
@naveen-manohar appreciated if you can follow the template next time :ok_hand:

[2019-04-15 05:18] xun2z commented on #1251
confirm fixed on our HDA device

[2019-04-15 06:40] keqiaozhang opened #1263 "[BUG] IPC times out when changing volume repeatedly"
**Describe the bug**
This issue occurs during the volume change stress test, we can  send IPC interrupts continuously by changing the PGA* volume.

**To Reproduce**
The test script is attached.
[sof-test-volume.txt](https://github.com/thesofproject/sof/files/3078705/sof-test-volume.txt)

**Expected behavior**
No ipc errors when sending ipc interrupts continuously.

**Impact**
IPC timed out

**Envi

[2019-04-15 07:09] keqiaozhang commented on #1263
@Jiangxinx  please help to check this issue on other platforms, like UP2 byt etc.

[2019-04-15 07:49] keqiaozhang commented on #1263
I can also reproduce this issue on WHL, I believe this is a common issue.

[2019-04-15 09:01] kv2019i opened #1266 "sof-logger: snapshot (-s) only works on BYT/HSW/BDW"
Sof-logger (current head of 15th Apr 2019) has a hardcoded list of BYT/HSW/BDW debugfs entries and does not know about debugfs layout of newer generations.

logger.c:
static const char *debugfs[] = {
»       "dmac0", "dmac1", "ssp0", "ssp1",
»       "ssp2", "iram", "dram", "shim",
»       "mbox", "etrace",
};

[2019-04-15 10:23] singalsu commented on #1236
This issue was fixed by PR #1267 (commit 2e9264586b8d756b393b519748b552187c8339aa). I just completed playback of 10 clips with 44.1 kHz rate and no problems. Thanks @tlauda !

[2019-04-15 10:23] singalsu commented on #1236
Closing!

[2019-04-15 10:23] #1236 closed

[2019-04-15 10:26] emilchudzik commented on #1263
I have the same issue on WHL but after boot OS without making any playback, just checked dmesg:
![image](https://user-images.githubusercontent.com/41113230/56124795-be4d6180-5f77-11e9-832e-8c1d3d1860c5.png)

**Environment:**
Platform: WHL RVP - HDA mode
**Kernel:** 
2de29fae6 [thesofproject/linux: topic/sof-dev]
+d04ccf494 [RanderWang/linux:   cml-validation-20190415]
+bfb0729dd [RanderWang/linux:

[2019-04-15 10:39] emilchudzik commented on #1254
In my env I have properly loaded topology each time, but issue with pulse audio exists:

**Environment:**
Platform: WHL RVP - HDA mode
**Kernel:**
2de29fae6 [thesofproject/linux: topic/sof-dev]
+d04ccf494 [RanderWang/linux: cml-validation-20190415]
+bfb0729dd [RanderWang/linux: cml-validation-20190415]
+8a2b13a81 [RanderWang/linux: cml-validation-20190415]
+63ceb8f68 [RanderWang/linux: cml-validat

[2019-04-15 10:47] emilchudzik commented on #1173
Please check my comments:
https://github.com/thesofproject/sof/issues/1254#issuecomment-483200302

[2019-04-15 11:04] emilchudzik commented on #1179
Please check my comments:
https://github.com/thesofproject/sof/issues/1254#issuecomment-483200302.

When pulseaudio is disabled - I have clear sound, there is no any noises.

**Environment:**
Platform: WHL RVP - HDA mode
**Kernel:**
2de29fae6 [thesofproject/linux: topic/sof-dev]
+d04ccf494 [RanderWang/linux: cml-validation-20190415]
+bfb0729dd [RanderWang/linux: cml-validation-20190415]
+8a2b13a81

[2019-04-15 14:36] mengdonglin commented on #1263
@dabekjakub Please help to check from firmware side. Thanks!

[2019-04-15 14:45] mengdonglin commented on #1215
@Jiangxinx Please help to check if this issue is fixed by  #1247 on Baytrail.

[2019-04-15 14:47] keyonjie commented on #1254
Today I setup this and can duplicate the issue also, I also managed to create simultaneous 2 playback streams to duplicate the ipc timeout issue, will do advanced debugging tomorrow.

[2019-04-15 15:39] xiulipan commented on #1263
@dabekjakub @emilchudzik
That is an interesting issue, as both Volume and IPC used the scheduler. I suggest to check if there is any conflict or corruption happen before schedule tasks.
https://github.com/thesofproject/sof/blob/e14ab7088bf4673f43396f02490f717f69de0de9/src/audio/volume.c#L343

https://github.com/thesofproject/sof/blob/e14ab7088bf4673f43396f02490f717f69de0de9/src/ipc/handler.c#L1280

[2019-04-15 15:54] lgirdwood commented on #1234
I suppose this is something @mmaka1 eclipse plugin would eventually be able to control via debugFS and should probably be a feature.

[2019-04-15 16:02] lgirdwood commented on #732
@tlauda restraint can probably be removed since @keyonjie did some updates in the past that means host transfers can be unaligned and detect wraps.

[2019-04-15 16:13] bkokoszx commented on #1263
@keqiaozhang @emilchudzik
Could you check whether PR #1269 fixes this issue. In scheduler API refactor (#1089) task priority levels were changed to increasing order (0 - lowest; 1 - highest). I think that driver set pipeline priority level to default "0" value, so now pipeline task has lower priority level than ipc task.

[2019-04-16 01:24] keqiaozhang commented on #1263
@bkokoszx
This issue still can be reproduced after applying PR #1269 .

[code]

[2019-04-16 03:09] keqiaozhang opened #1270 "[BUG]trace error: invalid channel number of hda-dmac"
**Describe the bug**
This error happens after boot OS. But what's interesting is that the dmic recording works.

**To Reproduce**
Boot the system and check logger trace:
$ sudo ./sof-logger -l sof-apl.ldc -t
$ sudo ./sof-logger -l sof-apl.ldc

**Expected behavior**
No trace errors in boot stage.

**Impact**
Currently, no functional effects.

**Environment**
Kernel: origin/topic/sof-dev-2de29f
Firm

[2019-04-16 03:18] naveen-manohar commented on #1261
Apologize, yes shall follow the template for all future bugs.
Can you please help add the issue to right owner in firmware team. Thanks

[2019-04-16 05:57] Jiangxinx commented on #1173
This issue can also be reproduced on BYT rt5651 platform.

***Env***
sof master: 1b15fad8
kernel sof-dev: 2de29fa(compiled with PR #823 )
tplg: sof-byt-rt5651.tplg

[2019-04-16 07:52] emilchudzik commented on #1263
I have no issue with #PR 1269 applied on the current sof master branch without reverting any others commits.
Without this PR I had an erros even during boot.
With this patch loading FW is ok, and changing volume also works good:
![image](https://user-images.githubusercontent.com/41113230/56191416-9bc95000-602c-11e9-8d43-c93b5b26c61c.png)

**Environment:**
Platform: WHL RVP - HDA mode
**Kernel:**
2

[2019-04-16 08:01] emilchudzik commented on #1254
I have no issue with #PR 1269 applied on the current sof master branch without reverting any others commits. Without this PR I had an erros even during boot. Currently simple aplay and arecord works, also in loop.

**Environment:**
Platform: WHL RVP - HDA mode
**Kernel:**
2de29fae6 [thesofproject/linux: topic/sof-dev]
+d04ccf494 [RanderWang/linux: cml-validation-20190415]
+bfb0729dd [RanderWang/li

[2019-04-16 08:51] emilchudzik commented on #1173
Plese check my comments here: https://github.com/thesofproject/sof/issues/1263#issuecomment-483551695

[2019-04-16 09:14] Jiangxinx commented on #1241
@ranj063 This issue still exist even ignore "Suspended. Trying resume. Failed. Restarting stream. Done".After  suspend/resume, can not aplay,dmesg and sof-logger have no abvious error trace.

***To Reproduce***
1.aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero& sudo ~/test/stress-s3.sh 50 1 1
[code]

2.aplay -Dhw:0,0 -r 48000 -c2 -fs16_le /dev/zero
[code]

***Environment***
sof master: 1b15fad8
kern

[2019-04-16 10:33] emilchudzik commented on #1179
With below configuratin I have clear sound when pulseaudio is enabled or not.

**Environment:**
Platform: WHL RVP - HDA mode
**Kernel:**
2de29fae6 [thesofproject/linux: topic/sof-dev]
+d04ccf494 [RanderWang/linux: cml-validation-20190415]
+bfb0729dd [RanderWang/linux: cml-validation-20190415]
+8a2b13a81 [RanderWang/linux: cml-validation-20190415]
+63ceb8f68 [RanderWang/linux: cml-validation-201904

[2019-04-16 11:25] lgirdwood commented on #1261
@dabekjakub @michalgrodzicki fyi

[2019-04-16 11:37] lgirdwood commented on #1241
@Jiangxinx the busy error could imply that there is still a user with the sound device open. Can you confirm is pulseaudio is used here ?

https://askubuntu.com/questions/338382/pulseaudio-not-working-home-directory-not-accessible-permission-denied

Can you also try and see which application has the audio device open as this could be a pulseaudio issue.
[code]

[2019-04-16 11:41] lgirdwood commented on #1179
@bkokoszx looks like https://github.com/thesofproject/sof/commit/624c18935589b4f87bc4a058959ef5d53ac26882 is fixing quite a few issues, can you add this information to the PR and **why** this fixes the issues.

[2019-04-16 15:44] xiulipan commented on #1173
@Jiangxinx
If this issue is still with WHL HDA. If not please close this issue and create a new issue for BYT.

[2019-04-16 16:04] xiulipan commented on #1263
@emilchudzik Please see my comments in #1269
I have some concern about scheduler priority

[2019-04-16 17:54] singalsu opened #1274 "[BUG] Pipelines with EQ rattle in playback when FW is built with xt-xcc"
In short the optimized FIR core does not handle correctly timer based scheduling and the variable number of frames in copy(). This is a reminder for myself to complete the EQ update task. The non-optimized gcc version is OK.

**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
Please also read https://thesofproject.gith

[2019-04-16 20:11] ranj063 commented on #1263
@emilchudzik i've tried #1269 with sof-master: 00bbb113d0 and it didnt help. I still see the timeouts happening with the volume stress test script.

[2019-04-16 21:12] wenqingfu commented on #1238
fixed by #1248?

[2019-04-16 21:28] jajanusz commented on #1238
Yes, thanks, for noticing

[2019-04-16 21:28] #1238 closed

[2019-04-17 02:44] ranj063 commented on #1263
@lgirdwood I wanted to point out one thing here. As crazy as it sounds, adding a trace message before processing the ipc command reduces the rate of occurence of the ipc timeout. This seems to suggest a race in the IRQ handler to me.
[code]

[2019-04-17 05:14] ranj063 commented on #1234
Thanks @plbossart @lgirdwood. Maybe I'll leave this request for when the eclipse plugin in available to implement.

[2019-04-17 05:23] ranj063 commented on #1263
and with this change. The volume stress test passes as well.
[code]

[2019-04-17 06:41] Jiangxinx commented on #1241
@lgirdwood It’s true that an application is taking up audio device,and this issue can not be reproduced after kill the application.

***Environment***
sof master: 99e9f437
kernel sof-dev: 25088516(compiled with PR #823 )
tplg: sof-apl-pcm512x.tplg

[2019-04-17 07:56] tlauda commented on #766
@naveen-manohar @sathyap-chrome Could you verify with FW having this change: https://github.com/thesofproject/sof/commit/95b896b08484d5625d9603fad6b135a1e3b2331a? It should fix wrong IPC data reported in this issue.

[2019-04-17 09:29] stevyan opened #1277 "[CML]DMIC captured volume is too low and no corresponding volume controller"
**Describe the bug**
DMIC captured volume is too low, hard to hear even play via max volume.

**To Reproduce**
1. Record via DMIC Dhw:0,6 or Dhw:0,7. eg. arecord -Dhw:0,6 -r 48000 -c 2 -f s16_le cap.wav -vv -i
2. Play captured file.

**Expected behavior**
Volume is too hard to hear

**Environment**
Kernel: rander/cml-validation-20190417(topic/sof-dev, 2de29fae6+6 patch)
Firmware: bard/whl-daily-20

[2019-04-17 10:49] lgirdwood commented on #1215
@mengdonglin @tlauda according to @stevyan this is still an issue for playback but not capture on BYT.

[2019-04-17 10:51] ClarexZhou opened #1278 "[CML]No volume controller for DMIC16/32"
**Describe the bug**
No volume controller for DMIC16/32

**To Reproduce**
1. Record via DMIC Dhw:0,6 or Dhw:0,7. eg. arecord -Dhw:0,6 -r 48000 -c 2 -f s16_le cap.wav -vv -i
2. alsamixer, press F4 to check Capture items.

**Expected behavior**
Should support volume controller for DMIC16/32

**Environment**
Kernel: rander/cml-validation-20190417(topic/sof-dev, 2de29fae6+6 patch)
Firmware: bard/whl-d

[2019-04-17 10:52] tlauda commented on #1215
@lgirdwood Does @stevyan use the right topology? Note that only Dhw:0,0 works for now, Dhw:0,1 is media pipe and still needs topology changes.

[2019-04-17 11:02] ClarexZhou commented on #1277
[cap_32.zip](https://github.com/thesofproject/sof/files/3089259/cap_32.zip)

[2019-04-17 12:21] lgirdwood commented on #1215
@tlauda not sure, but I would be happy to do an v3.1-rc2 if Dhw:0,0 is working. @stevyan can you describe analog playback/capture test you are using.

[2019-04-17 12:30] emilchudzik commented on #1278
What do you mean by "3patch"?

[2019-04-17 13:11] lgirdwood commented on #1274
@singalsu this will be a blocker for 1.3. Any idea how long it will take to resolve ?

[2019-04-17 13:30] lgirdwood commented on #1263
@ranj063 good find, can you confirm if the trace_ipc("do_cmd()\n"); is still needed ?
The change here means we don't respond to DONE notification from the host until the next IRQ.

One other thing to check is that volume.c will be scheduling the ramp **a lot** and it's possible it's being scheduled more than once whilst it's still ramping (i.e. scheduled twice). We probably want to cancel it and r

[2019-04-17 13:35] lgirdwood commented on #1241
@Jiangxinx thanks, but I need to know if it's pulseaudio or aplay that's has the device open ? if it's PA then it's likely a PA bug (which can be dissected when driver upstreaming is done).

[2019-04-17 14:45] ranj063 commented on #1263
@lgirdwood I tried the volume cancel and schedule task already and.it didn't help.

The trace message is still needed. Without it, the ipc still randomly times out. Btw, I found this problem a.week ago with the fuzzer and I assumed the race was qemu related haha. Seems like it isn't.

[2019-04-17 16:29] wenqingfu commented on #1215
@juimonen  how about testing on your side? Is everything ok with @tlauda 's patch?

[2019-04-17 16:30] juimonen commented on #1215
@wenqingfu yes for me the hw0:0 device is working with @tlauda topology.

[2019-04-17 17:00] juimonen commented on #1215
@tlauda have not been following fw PR's closely, but do you have the PR also for the pause/resume fix? I think that would be very good for rc2...

[2019-04-17 17:01] tlauda commented on #1215
@juimonen It's by default fixed by #1273.

[2019-04-17 17:03] juimonen commented on #1215
@tlauda, cool and thanks!

[2019-04-18 01:22] ClarexZhou commented on #1278
update Environment:
Kernel Repo: https://github.com/RanderWang/linux/commits/cml-validation-20190417
Made from: https://github.com/RanderWang/linux/commit/2de29fae6a2dadda3eb084023be2167be85115e1 [thesofproject/linux: topic/sof-dev]
+https://github.com/RanderWang/linux/commit/d04ccf494f25624cadb8f55fdc73e79cd49d8bc1
+https://github.com/RanderWang/linux/commit/bfb0729ddca5773c5c63bacec0f701a3d157ec

[2019-04-18 01:23] ClarexZhou commented on #1277
update Environment:
Kernel Repo: https://github.com/RanderWang/linux/commits/cml-validation-20190417
Made from: https://github.com/RanderWang/linux/commit/2de29fae6a2dadda3eb084023be2167be85115e1 [thesofproject/linux: topic/sof-dev]
+https://github.com/RanderWang/linux/commit/d04ccf494f25624cadb8f55fdc73e79cd49d8bc1
+https://github.com/RanderWang/linux/commit/bfb0729ddca5773c5c63bacec0f701a3d157ec

[2019-04-18 04:33] ClarexZhou commented on #1277
Compare the capture of 2 Dell Mantis laptop and GLK Chrombook side by side. Almost in same level. Close bug.
[glk-mantis-dmic_cap_volume_Compare.zip](https://github.com/thesofproject/sof/files/3092752/glk-mantis-dmic_cap_volume_Compare.zip)

[2019-04-18 04:34] stevyan commented on #1277
closed the issue with Clare test result.

[2019-04-18 04:34] #1277 closed

[2019-04-18 06:18] Jiangxinx commented on #1241
@lgirdwood It is aplay that taking up audio device.I have no idea to comfirm it is another issue.
***Step***
aplay -Dhw:0,0 -fS16_LE -c2 -r48000 /dev/zero& sudo ./stress-s3.sh 50 1 1

***Output***
[code]
[code]

***Environment***
sof master: 99e9f43
kernel sof-dev: 90860434
tplg: sof-apl-pcm512x.tplg

[2019-04-18 07:46] juimonen commented on #1215
works for me with byt-mb + rt5651!

[2019-04-18 07:46] #1215 closed

[2019-04-18 08:15] lgirdwood commented on #1161
@juimonen can you update your test results and close if passes.

[2019-04-18 09:00] lgirdwood commented on #1263
@ranj063 ok, probably worth attaching GDB via sof-fuzzer to check state. To rule out locking it may also be worth while replacing your trace with a loop (you can vary the length - make sure it's not optimized out by the compiler, use a volatile loop counter if needed).

[2019-04-18 09:17] juimonen commented on #1161
@lgirdwood I guess the scheduling should be enabled by https://github.com/thesofproject/sof/pull/1228 which is merged, but @tlauda was mentioning some needed topology changes for the 0:1 pipeline branch...@tlauda are they somewhere already?

@lgirdwood I'm out-of-office so can't test this right now..

[2019-04-18 10:23] lgirdwood opened #1279 "[FEATURE] IPC fuzzer."
**Is your feature request related to a problem? Please describe.**
IPC mechanism needs to be fuzzed to ensure continuity of service.

**Describe the solution you'd like**
Userspace IPC fuzzer that can load and "manufacture" IPC to send to FW running on Qemu

[2019-04-18 11:13] lgirdwood opened #1280 "[FEATURE] Improve parameter refinement within pipelines."
**Is your feature request related to a problem? Please describe.**
Host drivers and userspace will pass PCM rates, formats and channels to the DSP when opening a stream. This currently require topology to match the DAI configuration to the userspace configuration and does not give much scope for refinement within the pipeline.

See https://github.com/orgs/thesofproject/teams/sof-developers/discuss

[2019-04-18 11:17] lgirdwood commented on #1280
@singalsu @keyonjie fyi.

[2019-04-18 11:20] lgirdwood commented on #1280
Changes required at buffer/component level are
[code]

[2019-04-18 11:52] dbaluta commented on #1052
@tlauda if we don't have acess to host buffer from DSP how do we copy the data?

[2019-04-18 12:07] lgirdwood commented on #1161
@juimonen Dhw:0,1 supported is targeted for v1.4 so I think we are good today for v1.3

[2019-04-18 12:07] #1161 closed

[2019-04-18 12:07] #1218 closed

[2019-04-18 12:28] lgirdwood commented on #1241
@Jiangxinx can you log this as a kernel bug, link to this one and close this issue.

@plbossart @ranj063 @kv2019i this looks like a kernel race where aplay will hang on to the PCM (and keep it BUSY), it could be that PM works when the aplay PCM is in playing state but may not when the PCM is in hw_free(), hw_params() or prepare() state ? This may prevent aplay from close()ing the PCM device.

The

[2019-04-18 12:31] lgirdwood commented on #1235
@jajanusz any update ?

[2019-04-18 12:31] #1200 closed

[2019-04-18 12:31] lgirdwood commented on #1185
@juimonen is this merged now and can be closed ?

[2019-04-18 12:32] michalgrodzicki commented on #1261
@akloniex - could you take a look?

[2019-04-18 12:38] lgirdwood commented on #1052
@dbaluta we only have access to the host buffer after copying to DSP with HDA DMA. The Intel HDA DMA is programmed by both FW and driver; driver programs host address, FW programs DSP address, I dont remember who enables the copy though.

[2019-04-18 12:40] lgirdwood commented on #1043
@keqiaozhang still reproduced ?

[2019-04-18 12:42] dbaluta commented on #1052
@lgirdwood thanks, make sense.

[2019-04-18 12:52] dbaluta commented on #1052
Here I am working on creating a new object host_copier which will expose mostly the same operations as host object (params, trigger, copy, prepare, etc). But I still cannot wrap my mind around on how to split the functionality.

For the moment it makes sense that
* dma_buffer member of host_data to stay in host.c
* dma pointer to be pushed into specific host_copier instance
* dma_sg_config config

[2019-04-18 13:07] jajanusz commented on #1235
It's kinda architectural flow.
IMHO if you'd like to have it done nicely you'd have to have `platform` folder inside `arch`, because for example I think that platforms are specifications or something more generic - arch, I guess you are not going to have 1 apollolake for xtensa and 1 for arm. This way you'd be able to handle it there. I saw it even in kernel that for example you have samsung platf

[2019-04-18 13:29] lbetlej commented on #1279
Is the goal to implement a custom user space fuzzer from scratch or to provide an easy connection for existing 3rd party fuzzers into SOF stack ?

[2019-04-18 15:01] ranj063 commented on #1279
@lbetlej we're starting off with a very primitive fuzzer from scratch. But this will probably need to evolve to use a fuzzing library if suitable later on.

[2019-04-19 01:17] ranj063 commented on #1263
@lgirdwood I will try adding to the fuzzer today but the fuzzer has the drawback of needing a 5ms between IPC's which isnt the case on the real hardware.  I will update soon

[2019-04-19 01:32] ClarexZhou opened #1282 "[CML]Serious audio distortion/drop when aplay via Dhw:0,0 and Dhw:0,3(HDMI) at same time"
**Describe the bug**
Serious audio distortion/drop when aplay via Dhw:0,0 and Dhw:0,3(HDMI) at same time

**To Reproduce**
aplay -Dhw:0,0 -f s16_le -r 48000 -c 2  wav/48California_Dreaming.wav & aplay -Dhw:0,3 -f s16_le -r 48000 -c 2  wav/48California_Dreaming.wav

**Expected behavior**
Both audio output should be good, without interaction

**Environment**
Kernel Repo:
https://github.com/RanderWan

[2019-04-19 02:46] keqiaozhang commented on #1043
@lgirdwood ,
Yes, this issue can still be reproduced on GLK ChromeOS with latest sof/master-50bd96d.
But Ubuntu OS has no such issue.
kernel: cros-sof-v4.14-rebase-a1d6bf0d

[2019-04-19 02:51] ranj063 commented on #1263
@lgirdwood i'm able to reproduce the timeout with the fuzzer and here're the registers after the timeout. Does it tell you anything? @mmaka1 could you please also take a look?
(qemu) info registers
PC=ff2d1ebb

        LBEG=ff2d2ee2         LEND=ff2d2ef8       LCOUNT=00000000          SAR=0000000e
          BR=00000000    SCOMPARE1=00000000        ACCLO=00000000        ACCHI=00000000
         MR0=

[2019-04-19 02:56] ranj063 commented on #1263
And gdb bt shows:
(gdb) bt
#0  do_task_master_core (sof=0xff303274 <sof>)
    at /home/ranjani/work/sof/sof/src/tasks/audio.c:76
#1  0xff2cc830 in master_core_init (sof=<optimized out>)
    at /home/ranjani/work/sof/sof/src/init/init.c:86
#2  0xff2cc85c in main (argc=<optimized out>, argv=0xff301fb0)
    at /home/ranjani/work/sof/sof/src/init/init.c:102

[2019-04-19 06:20] tlauda commented on #1282
@ClarexZhou Are those FW logs complete? I can see there is only one pipeline started and stopped. No traces as for the second pipeline. Maybe the second one is in legacy mode or something?
@RanderWang @bardliao Could you take a look?

[2019-04-19 06:37] tlauda commented on #1270
@keqiaozhang Wrong logs attached? I don't see such errors.

[2019-04-19 06:54] keyonjie commented on #1282
@ClarexZhou this is a regression issue on cml-validation driver side, please help verify today's recipe, if fixed, please help close it.

[2019-04-19 06:57] ranj063 commented on #1263
@tlauda could you please help take a look at the register info above too?

[2019-04-19 07:13] keqiaozhang commented on #1270
@tlauda
I just confirmed this issue but failed to reproduce it again. (It may caused by some debug patches I applied at that time, but I cannot recall that now).  I also checked with the latest firmware/driver and also cannot reproduce it.  let's close this bug.

[2019-04-19 07:13] #1270 closed

[2019-04-19 07:34] ClarexZhou commented on #1282
Error not seen on Today's recipe.  Close.
Kernel Repo:
https://github.com/RanderWang/linux/commits/cml-validation-20190419
Made from:
RanderWang/linux@2de29fa
+ RanderWang/linux@d04ccf4
+ RanderWang/linux@bfb0729
+ RanderWang/linux@8a2b13a
+ RanderWang/linux@63ceb8f
+ RanderWang/linux@db89510
+ RanderWang/linux@066e6f4
+ RanderWang/linux@bfb3fcb
+ RanderWang/linux@edc012c
+ RanderWang/linux@a9f043

[2019-04-19 07:34] #1282 closed

[2019-04-19 07:35] keqiaozhang commented on #1263
Today, I run the simultaneous playback/recording test on GLK-ubuntuOS with latest code base and got another type of IPC times out error:
Trace:
[code]
logger-t:
[code]
dmesg:
[code]
[dmesg.log](https://github.com/thesofproject/sof/files/3097367/dmesg.log)
[logger.log](https://github.com/thesofproject/sof/files/3097368/logger.log)
[logger-t.log](https://github.com/thesofproject/sof/files/3097369/lo

[2019-04-19 08:17] ClarexZhou opened #1283 "[CML]Paused aplay/arecord can't be resumed normally after DUT wake up from S3"
**Describe the bug**
Aplay resume failed once S3 and wake up from pause status.
2/5:  Failed for "write error:Input/output errror"
3/5:  Resumed process bar display playing, but no audio output.

**To Reproduce**
1.  aplay -Dhw:0,3 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i
2. press SPACE bar to pause
3. S3 and wake up via "sudo rtcwake -m mem -s 10"
4. press SPACE bar to resume apl

[2019-04-19 09:08] Jiangxinx commented on #1241
Close this as duplicated with https://github.com/thesofproject/linux/issues/848#issue-435097382

[2019-04-19 09:08] #1241 closed

[2019-04-19 09:19] ClarexZhou commented on #1283
Same issue on arecord

[2019-04-19 09:33] lgirdwood commented on #1263
@tlauda @ranj063 looks like if we get a spurious IPC interrupt on BYT (not checked others yet) we dont clear it. The ```INTSET=00000400     INTCLEAR=00000000    INTENABLE=00078f48``` shows the IPC IRQ is still set.....
[code]

[2019-04-19 10:06] emilchudzik commented on #1254
I just checked WHL RVP with HDA mode.
10/10 playback works, there is no issue when pulseaudio is enabled with loading topology also there is no IPC timeouts with environment from this comments: https://github.com/thesofproject/sof/issues/1282#issue-435017798

[2019-04-19 10:35] ClarexZhou opened #1285 "[CML]IPC timed out, error: volume put failed to resume -22 (60%)"
**Describe the bug**
IPC timed out, error: volume put failed to resume -22.

**To Reproduce**
Scenario A:
"sudo  reboot" to reboot unit.  [Frequency:60%]

Scenario B:
Volume change stress test, error occurred  after changing about 2000 times.

**Expected behavior**
.Boot up normally without timeout issue.

Environment
Kernel Repo:
https://github.com/RanderWang/linux/commits/cml-validation-20190419

[2019-04-19 13:31] lgirdwood commented on #1283
@ClarexZhou this looks like a driver issue. I assume this works when the stream is not paused before suspend ? Can you also check this on other targets. I can see TRIGGER_START which I would not expect to see if the stream is paused. @plbossart @ranj063 fyi,

[2019-04-19 13:39] lgirdwood commented on #1285
@ClarexZhou this looks like a duplicate of two issues. Scenario A is a duplicate of #1254 and scenario B #1263

[2019-04-19 13:39] #1285 closed

[2019-04-19 14:25] ranj063 commented on #1263
@lgirdwood how should we deal with this?

[2019-04-19 14:41] mmaka1 commented on #1263
@keqiaozhang Please keep GLK IPC related issues separated from BYT reports since there is different IPC HW in use. It is great to look at all of them and try to find some common root causes if there are any but most of the issues are very close to the platform specific HW (IPC HW, INT HW integration) and different piece of HW driver SOF code might be involved.

[2019-04-19 15:04] lgirdwood commented on #1052
@dbaluta yes, I think special object is probably the way to go atm. I guess your DSP can memcpy() directly from host -> DSP and schedule this based on the pipeline copy() callback. Another alternative is a dummy DMA driver that does just memcpy() ?

[2019-04-19 15:16] lgirdwood commented on #1263
@mmaka1 fwiw, I'm beginning to suspect scheduling here (since it's appearing on GLK + CML). IPC and Volume ramps (which reschedule themselves) do schedule asynchronous tasks and we may have a race as enabling a trace item seemed to help.

[2019-04-19 15:44] tlauda commented on #1263
@lgirdwood Above timeout reported by @keqiaozhang is waiting for buffer full timeout, so this is not typical IPC timeout. It should be put into separated issue. That particular error has two potential rootcauses:
1. Driver doesn't program SDxFMT register after clearing PROCEN (which I believe has been already fixed).
2. This preload loop should be executed as idle task, but if there is any other i

[2019-04-19 15:57] lgirdwood commented on #1263
@tlauda thanks I heard from @mmaka1 you have been deep diving the HW side. :)
@mmaka1 @ranj063 and I had a quick call and @ranj063 will double check FW side to rule out locking, list manipulation etc in scheduler and IRQ logic.

[2019-04-19 16:02] lgirdwood commented on #1263
@ranj063 this should change LL scheduler to IRQ level 1, EDF to level 4 and IPC IRQ at level 3
[code]

[2019-04-19 16:05] lgirdwood commented on #1263
@mmaka1 @ranj063 @tlauda looks like our IRQ handler will miss iicoming IRQs at the same level when it's processing.
[code]

[2019-04-19 16:41] ranj063 commented on #1263
@lgirdwood testing now. Thanks

[2019-04-19 16:52] ranj063 commented on #1263
@lgirdwood with your patch in https://github.com/thesofproject/sof/issues/1263#issuecomment-484941979,
the sound card fails to register. So maybe this change is too aggressive?

[2019-04-19 18:31] tlauda commented on #1173
@Jiangxinx Still reproducible?

[2019-04-19 18:31] tlauda commented on #1179
@Jiangxinx Still reproducible?

[2019-04-19 18:33] tlauda commented on #936
@lgirdwood dai.c no longer has conditional compilation. host.c conditional compilation removal is already tracked in #1052, so closing this one.

[2019-04-19 18:33] #936 closed

[2019-04-19 20:45] lgirdwood commented on #1179
@Jiangxinx if it's still open can you attach pulseaudio logs of playback and init and also run
[code]
This will provide position information of aplay and pulseaudio and we should see any issues with positions that would cause an issue in userspace.

[2019-04-20 14:28] keyonjie commented on #1254
let's validate if https://github.com/thesofproject/linux/pull/850 can benefit or even fix this issue.

[2019-04-20 16:39] ranj063 commented on #1263
@lgirdwood @mmaka1 I did a quick test that @xiulipan and I discussed.
I removed the call to schedule the vol_work in volume_ctrl_set_cmd() and I hit the same IPC timeout and this time a lot sooner. So I doubt this is a problem with interrupts getting missed but rather something more basic than that.

[2019-04-20 17:04] tlauda commented on #1263
@ranj063 Can you try to do counting of handled volume IPCs? You could increment FW status register in memory window right before clearing BUSY bit. I would like to see if it's in fact FW doesn't respond or maybe host misses the response.

[2019-04-20 17:07] ranj063 commented on #1263
I have a theory but Im not sure if it is right but let me try anyway.

We had the same volume test pass in the past and back then the host was scheduling a work for every new IPC that was sent. But recently, we've removed the work queue and we send the IPC's as soon as the DSP sends a DONE interrupt for the previous IPC. So I think that the context switching between IPC's between successive IPC's

[2019-04-21 18:54] dbaluta commented on #1052
@lgirdwood yes, I can directly memcpy from host -> DSP. For the moment I'm going with the dummy DMA driver that just does memcpy().

[2019-04-22 02:47] ranj063 commented on #1263
@lgirdwood it looks like our theory might be correct.With you PR https://github.com/thesofproject/sof/pull/1290, I run into the same IPC time when in flood the fw with test ipc;s within 2000 iterations.
error: ipc timed out for 0xb0010000 size 8
[   91.679614] sof-audio-pci 0000:00:0e.0: status: fw entered - code 00000005
[   91.679823] sof-audio-pci 0000:00:0e.0: error: unexpected fault 0x0000000

[2019-04-22 04:34] mengdonglin commented on #1173
@tlauda @Jiangxinx Rander is working on this . This is a kernel issue.

[2019-04-22 05:46] ClarexZhou commented on #1254
Error still occurred after 44 times system reboot to check ipc timeout.
Total fail 15 times after reboot 44 times.
3 times:
[code]
2 times:
[code]
2 times:
[code]
3 times
[code]
5 times
[code]
[reboot-logs_419build.zip](https://github.com/thesofproject/sof/files/3102333/reboot-logs_419build.zip)

Environment
Kernel Repo:
https://github.com/RanderWang/linux/commits/cml-validation-20190419
Made from

[2019-04-22 06:03] stevyan commented on #1173
**Summary**
This issue cannot be reproduced on BYT rt5651 platform.

**Test Recipe**
date: 2019-04-22
sof master: 0c932613
kernel sof-dev: 90860434
tplg: sof-byt-rt5651.tplg

[2019-04-22 06:07] ClarexZhou commented on #1283
It works OK when the stream is not paused before suspend.
Also:This issue cannot be reproduced on APL UP2 PCM512x platform.
Test Recipe
date: 2019-04-22
sof master: 0c93261
kernel sof-dev: 90860434
tplg: sof-apl-pcm512x.tplg

[2019-04-22 07:58] Jiangxinx commented on #1179
This issue can not be reprodused on daily test.

***Environment***
Kernel Repo: https://github.com/RanderWang/linux/commits/cml-validation-20190422
Made from: RanderWang/linux@9086043 [thesofproject/linux: topic/sof-dev]
+RanderWang/linux@c105b1b
+RanderWang/linux@ffecddc8
+RanderWang/linux@3b917aa
+RanderWang/linux@6f928a3
+RanderWang/linux@a916d2d
+RanderWang/linux@694599b
+RanderWang/linux@a433

[2019-04-22 07:59] Jiangxinx commented on #1173
This issue can not be reproduced on daily test.

***Environment***
Kernel Repo: https://github.com/RanderWang/linux/commits/cml-validation-20190422
Made from: RanderWang/linux@9086043 [thesofproject/linux: topic/sof-dev]
+RanderWang/linux@c105b1b
+RanderWang/linux@ffecddc8
+RanderWang/linux@3b917aa
+RanderWang/linux@6f928a3
+RanderWang/linux@a916d2d
+RanderWang/linux@694599b
+RanderWang/linux@a433

[2019-04-22 08:43] tlauda commented on #732
@singalsu Buffer constraint is gone and also SRC should be fixed. Could you tell us what is the currently received error?

[2019-04-22 08:46] RanderWang commented on #1263
@lgirdwood  @ranj063 @tlauda @xiulipan @keyonjie @singalsu

Keyon found the one reason and discussed with me. I think it should be the root cause.
User would send IPC cmd to FW to change volume and FW schedules a task vol_work to
change the volume slowly and continuously.

A simple model for volume changing:  change volume from 20 to 80. vol_work would be
scheduled multiple times to change volume

[2019-04-22 08:52] RanderWang commented on #1263
We could refine the work flow of volume adjustment. If the last volume task is still working, just change the value of target volume, return ok and the vol_work would dynamic check the target volume value then change the volume.

[2019-04-22 09:03] ClarexZhou commented on #1278
Now DMIC 32 volume can be adjusted via PGA 10.0 on CML laptop.
But still no way to adjust volume for DMIC16
![screenshot](https://user-images.githubusercontent.com/49641224/56493100-8bc7d980-6520-11e9-81c1-8e6c42f9cf22.PNG)

Environment
Kernel Repo: https://github.com/RanderWang/linux/commits/cml-validation-20190422
Made from: RanderWang/linux@9086043 [thesofproject/linux: topic/sof-dev]
+RanderWa

[2019-04-22 09:14] lgirdwood commented on #1263
@RanderWang it's irrelevant how long the IPC work takes. IPC will only signal DONE when ready to accept new messages. IPC can schedule work and that work is run in a different context. Flood IPC must 10k iterations.

@ranj063 DSP HW can easily cope with high IPC rate, but in light of recent driver updates we have exposed a race in FW between IPC and scheduling. Can you craete a PR for your kernel

[2019-04-22 09:18] keyonjie commented on #1263
I am thinking out something improve like this, can anybody working on this issue give a try if it take any effect:

diff --git a/src/audio/volume.c b/src/audio/volume.c
index 87d0c6a8..3ad8ee91 100644
--- a/src/audio/volume.c
+++ b/src/audio/volume.c
@@ -139,8 +139,10 @@ static uint64_t vol_work(void *data)
        /* do we need to continue ramping */
        if (again)
                return VOL_

[2019-04-22 09:35] lgirdwood commented on #1263
@keyonjie this has nothing to do with volume, please read comment from @ranj063 about flood IPC.

[2019-04-22 09:36] keqiaozhang commented on #1263
@keyonjie
I still can reproduce this issue on both GLK and WHL with your changes.

[2019-04-22 10:04] tlauda commented on #1263
@ranj063 @lgirdwood IPC timeout is too generic and we are circling around. We need to identify what has actually happened:
1. FW missed the IPC?
2. FW got the IPC but didn't respond?
3. FW got the IPC, responded properly, driver missed the response?

Also we could try to disable ll scheduler during the test. Timer is on the same irq level as ipc handler, so maybe we still have some kind of bug/rac

[2019-04-22 10:13] lgirdwood commented on #1263
@tlauda the flood IPC test carried out by @ranj063 sends an IPC that the FW will schedule and return 0; It does nothing. See PR https://github.com/thesofproject/sof/pull/1290. This means there is **no** volume or LL scheduling, it's simple a race between EDF and IPC.

[2019-04-22 10:22] tlauda commented on #1263
@lgirdwood Agent is scheduled on LL, so we always have tick of timer every 1 ms.

[2019-04-22 10:44] lgirdwood commented on #1263
@tlauda SA should tick every 750ms on APL, but it could be easily commented out.

[2019-04-22 11:40] tlauda commented on #1263
@lgirdwood Timer is configured to trigger every 1 ms, when there is at least one task in the queue. It's like that in order to support stream scheduling across different cores.

[2019-04-22 11:49] lgirdwood commented on #1263
@tlauda I've found a race
[code]
IRQ 2 is never serviced until next LL IRQ which could timeout.

[2019-04-22 11:54] lgirdwood commented on #1263
@tlauda can you point me at the code where we do the 1ms tick when there is a task, I assume this is using LL ?

[2019-04-22 12:23] tlauda commented on #1263
@lgirdwood

ll_chedule.c, line 116: `ticks = queue_calc_next_timeout(queue, ll_get_timer(queue))`.

I don't think it's a race. IPC IRQ will still be processed, since we are on passive level.

[2019-04-22 13:55] ranj063 commented on #1263
@lgirdwood @tlauda https://github.com/thesofproject/linux/pull/852 is the kernel PR.

I did quite a bit of testing last night and after I switched to the xcc compiled version of the FW, this issue is  happens far less frequently (after about 200K IPC's). Moreover, it is not reproduced on the Up2 but seen on the GLK chromebook.

I am going to modify the test a little bit further to add some payload

[2019-04-22 14:33] ranj063 commented on #1263
@lgirdwood @tlauda I was wrong about the UP2. With the attached script, I'm able to reproduce the timeout even on the UP2 quite quickly.
[test_ipc_flood.txt](https://github.com/thesofproject/sof/files/3103671/test_ipc_flood.txt)

@keqiaozhang could you please give it a try and see if you can reproduce it too?

[2019-04-22 14:39] lgirdwood commented on #1263
@tlauda sorry, I'm still not seeing where we schedule a LL task every 1ms on #master, another branch ? I can only see
[code]
and IIUC agent is every 750ms and trace is every 500ms (both longer than 300ms kernel IPC timeout), no other LL users would be active in the flood test.

@ranj063 we should upstream this script later. btw, what IPC throughput do you get and success count ?

[2019-04-22 14:49] mengdonglin commented on #1278
@libinyang @singalsu Please evaluate if we still need PR https://github.com/thesofproject/sof/pull/1271 for the 16khz DMIC, which applies passthough pipeline for this DMIC and so no volume control.

[2019-04-22 15:01] ranj063 commented on #1263
@lgirdwood i'll modify the script to calculate the throughput and success counts and submit for upstreaming soon.

[2019-04-22 15:19] lgirdwood commented on #1263
@tlauda so I can see where we initially set the 1ms LL timer but it looks like it's only being set **once**. I have agent and trace enabled so IIUC I should expect to see 1ms LL ticks but
[code]
I would expect to see 10 trace messages for "set timer" per second but I dont see any.
[code]
and ``` sof-logger -l /lib/firmware/intel/sof/sof-apl.ldc -t | grep "set timer"``` is empty.

This means the ra

[2019-04-22 16:25] tlauda commented on #1263
@lgirdwood Log something in `queue_run()`, which is the interrupt handler for the timer irq. The function `ll_set_timer()` enables the timer for the first time, but following timer sets are done in `queue_reschedule()`.

[2019-04-22 18:58] lgirdwood commented on #1263
@ranj063 if you have time can you add log in queue_run() as @tlauda suggested otherwise I'll do it tomorrow. It should tick every 1ms if agent or trace are enabled (default enabled)

[2019-04-22 19:00] ranj063 commented on #1263
@lgirdwood sure, I can check that this afternoon.

[2019-04-23 02:39] libinyang commented on #1278
#1293 is submitted for this issue

[2019-04-23 05:16] keqiaozhang commented on #1263
Yes, I also can reproduce this issue on UP^2 with test_ipc_flood scritpt.

[2019-04-23 05:46] ranj063 commented on #1263
[glk-logger.txt](https://github.com/thesofproject/sof/files/3105996/glk-logger.txt)
@lgirdwood it does looks like it is ticking every 1ms. I captured the logs for a few seconds( in the attached file).

CORE  LEVEL      COMP_ID                TIMESTAMP            DELTA                FILE_NAME	CONTENT
    0      2  SCHEDULE_LL          85702014.218750  85702016.000000 rc/lib/ll_schedule.c:325 	ll_q

[2019-04-23 05:54] ranj063 commented on #1263
Thanks @keqiaozhang.

[2019-04-23 08:51] lgirdwood commented on #1263
@ranj063 thanks for confirming the tick. @tlauda this timer task will need to be moved out of LL scheduler as be a standard "scheduled task" for SMP pipeline orchestration, but we can do this after release. I'm going to work on some PRs today to help debug.

[2019-04-23 08:53] lgirdwood commented on #1283
@mengdonglin fyi, this is a driver issue and it's unassigned

[2019-04-23 09:29] ClarexZhou opened #1296 "[CML]DMIC16 cannot record 24/32 bit audio"
**Describe the bug**
DMIC16 display support 24/32 bit, but can't record, for "set_params:1363: Unable to install hw params"

**To Reproduce**
arecord -Dhw:0,7 -r16000 -c2 -fs24_le a.wav -vv -i

**Expected behavior**
Should record successfully.

More info:
1. DMIC32 can record 16/24/32 bit successfully.
2. Volume control for DMIC16 record is OK

**Environment**
Kernel repo	https://github.com/thesof

[2019-04-23 09:32] lgirdwood commented on #1179
@Jiangxinx ok great, I assume you will close when patches are merged ?

[2019-04-23 09:33] lgirdwood commented on #1173
@Jiangxinx please close once patches merged upstream into master and sof-dev.

[2019-04-23 09:41] emilchudzik commented on #1296
Why did you use 24/32bit format on DMIC16 (16bit)?
Without alsa conversion you will be hw params errors, this is expected for your command.
For me not a bug.

[2019-04-23 09:42] #1296 closed

[2019-04-23 09:50] ClarexZhou opened #1297 "[CML]Volume changed response delay about 3-5s during DMIC recording"
**Describe the bug**
Volume changed response delay about 3-5s during DMIC recording

**To Reproduce**
1. arecord -Dhw:0,6 -r48000 -c2 -fs16_le a.wav -vv -i
2. Open another Terminal, alsamixer->F4, quickly change volume between 0-max100 (PGA10.0 for Dhw:0,6 )
3. check arecord process (recorded db *%)  during volume change

**Expected behavior**
Volume change should become effective quickly

**Envir

[2019-04-23 09:51] emilchudzik commented on #1278
@ClarexZhou lack of volume control is not a firmware issue, please rise driver issue on linux repo.

[2019-04-23 09:57] singalsu commented on #1278
@emilchudzik  Why linux/driver issue, would this be a topology issue?

[2019-04-23 10:02] ClarexZhou commented on #1278
Error isn't seen on CML 20190423 test recipe.
Firmware repo	https://github.com/RanderWang/sof/tree/cml-linux-20190423
Made from:
0c93261 [thesofproject/sof: master]
+	adf4db3 [RanderWang/sof: cml-linux-20190423]
+	1c8cbd1 [RanderWang/sof: cml-linux-20190423]

Kernel repo	https://github.com/thesofproject/linux/tree/release/sof-v5.0
Made from:
9086043 [thesofproject/linux: topic/sof-dev]
+575038e
+

[2019-04-23 10:16] singalsu commented on #579
This enhancement from PR #1272 is now merged. We can close this now.

[2019-04-23 10:16] #579 closed

[2019-04-23 10:41] singalsu commented on #1297
This is because the firmware volume uses a linear ramp that is hardcoded to be 250 ms from mute to 0 dB. Now that capture max is +30 dB (~32 times unity gain - 0 dB) the ramp could take up to 8 seconds.

I did not include modification to volume scale increase PR because this is a separate issue. To fix this there are a number of options

- Implement to driver and topology and FW the volume ramp cu

[2019-04-23 10:43] jajanusz commented on #1278
@singalsu Emil meant that it's not a firmware issue, but yes, it can be topology issue, so we may keep it **open** because topologies are in this repo, just someone from driver team has to modify them.

[2019-04-23 10:46] lgirdwood commented on #1297
@singalsu IPC supports ramp meta data
[code]
So we are probably missing from topology, kernel parsing and FW volume init ?

[2019-04-23 10:47] emilchudzik commented on #1278
Using alsamixer volume control starts driver to send suitable IPC to firmware.
Lack of volume control issue should be checked by driver/kernel guys. I'm not sure if it is topology issue.

[2019-04-23 10:51] jajanusz commented on #1278
I see you made 2 PRs related to this issue. I guess this one is the right one: https://github.com/thesofproject/sof/pull/1293

[2019-04-23 11:44] emilchudzik commented on #1263
From my WHL:
- manually changing volume using alsamixer - no issue, no ipc timeout
- using keqiao scripts (changing volume in 10ms) - also works, script executed about 50 times with reboots -> last log: [dmesg_changing_volume.txt](https://github.com/thesofproject/sof/files/3106969/dmesg_changing_volume.txt)

**My test Environment**
Kernel Repo:
https://github.com/RanderWang/linux/commits/cml-valid

[2019-04-23 11:51] libinyang commented on #1278
Yes. #1293 aims to fix this issue.

[2019-04-23 12:21] singalsu commented on #1297
@lgirdwood Yes, those are missing.

[2019-04-23 13:08] singalsu commented on #732
OK, I'll check.

[2019-04-23 13:12] mrajwa opened #1298 "[BUG] SOF_FW_MAX_SIZE - do we really need such defines?"
**Describe the bug**
If you try to link external library with our firmware you will get an error message saying

So your first attempt will be to increase the SOF_FW_MAX_SIZE define in memory.h. Doing so will cause some other defines (like i.e HEAP_BUFFER_COUNT) to go negative!

**To Reproduce**
Increase SOF_FW_MAX_SIZE by 0x10000 and try to compile firmware.

**Expected behavior**
No defines limi

[2019-04-23 13:20] emilchudzik commented on #1297
In our python tests (windows + slim driver) we use ramp meta data and it works good.

Below example for test with changing volume on DMIC:

[code]

![image](https://user-images.githubusercontent.com/41113230/56584077-3f8d9f80-65db-11e9-8e61-77b8f9aebe80.png)

For SSP it works also fine.

[2019-04-23 13:28] singalsu commented on #1297
@emilchudzik What is your VOL_MAX? If it's 65536 (linear 1.0 gain) the ramp time is the 250 ms as earlier. The slow settling of gain happens when volume is set much higher.

[2019-04-23 14:09] zrombel commented on #1297
For Python tests we are using VOL_MAX = 65536, and in test that waveform comes from volume sequence is: 65536, 16384, 32768, 49152.

[2019-04-23 14:20] zrombel commented on #1297
I've set VOL_MAX to 524288 and volume sequence to [524288, 131072, 262144, 393216] and now ramp has length of about 1,5s.
![2019-04-23 16_16_18-DUT18](https://user-images.githubusercontent.com/40820404/56588458-aca53300-65e3-11e9-8330-f55000ef369f.png)

[2019-04-23 15:33] sathyap-chrome opened #1301 "[BUG] CML Feature mask was not present in firmware manifest"
SOF FW fearure mask support for CML is not available.
The feature mask is 0x1ff.

[2019-04-23 15:38] sathyap-chrome commented on #1301
Posted fix : https://github.com/thesofproject/sof/pull/1302

[2019-04-23 15:51] singalsu commented on #1297
Max volume for Q8.16 is 2^23 - 1 = 8388607 so the ramp can take longer. However that's a very large gain (+42 dB or 128x linear) and practical gains would be always lower and ramp times a bit shorter. Though this is issue is relevant. If a mic would need a high gain e.g. start of captured utterance would be very silent with such slow ramp.

[2019-04-23 16:34] singalsu commented on #732
So there are many problems and I don't know how to work around the limitations. Essentially we want to  have DAI configuration like this

[code]

This can be tested with UP2 + HiFiberry DAC+ since it can work also with the 3.2 MHz bit clock and 50 kHz frame rate. However the next setting cannot be done

[code]

It result to this error in sof-logger

[code]

However changing the previous DAI_ADD to

[2019-04-23 17:58] lgirdwood commented on #1298
@mrajwa these were needed for BYT -> BDW since the RAM was segregated into IRAM and DRAM.  Not needed on SKL onwards though.

[2019-04-23 19:48] ranj063 commented on #1263
@lgirdwood @tlauda i didnt pay much attention to this earlier but when the IPC timeout happens, the ROM status is 0x000005 and the FW is in panic and the other day I pointed out that the panic status in the FW is 0xa which is the code for WFI. Does that tell you anything at all?

This definitely shows that its not the host that's missing the IPC but rather that the DSP is in panic.

[2019-04-23 20:09] xiulipan commented on #1263
@ranj063
If that panic happen, then we will have very serious problem.To avoid chaos brought by the `waiti` in none-zero IRQ level we add this panic. If we face it again, we may have some serious wrong with the IRQ handler or stack? Since we only have one `waiti` in the main loop.

[2019-04-23 20:31] ranj063 commented on #1263
@xiulipan at this point we cannot rule out anything.

[2019-04-24 00:56] ClarexZhou commented on #1296
Bug is reported for Display support 24/32 bit format when checking via "arecord -Dhw:0,7 /dev/null --dump-hw-params"
Available formats:
- S16_LE
- S24_LE
- S32_LE
Also DMIC32 can use all 16,24 and 32 bit format normally.

[2019-04-24 01:32] ClarexZhou opened #1303 "[CML]Laptop speaker always no audio output after plug in headset."
**Describe the bug**
Laptop speaker always no audio output after plug in headset, even after unmute speaker and increase speaker volume manually via alsamixer. Only audio output on headset.

**To Reproduce**
1. 3mm Headset is pluged in
2 .aplay -Dhw:0,0 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i
3. Open another Terminal, 'alsamixer' to unmute Speaker and increase Speaker volume manu

[2019-04-24 01:42] ClarexZhou commented on #1303
@keqiaozhang @stevyan Could you please help to check on other platforms (GLK, ICL, UP2, BYT)? Thanks.

[2019-04-24 01:52] keqiaozhang commented on #1303
@ClarexZhou
This issue can not be reproduced on GLK. Other platforms don't have speaker.

[2019-04-24 01:57] ranj063 commented on #1303
@keqiaozhang seems to suggest a UCM problem maybe?

[2019-04-24 03:00] libinyang commented on #1303
Root caused. We need disable “Auto-Mute Mode” in alsamixer.

[2019-04-24 03:04] mengdonglin commented on #1303
@libinyang How to" disable “Auto-Mute Mode” in alsamixer"?
@RanderWang Need to cover this in UCM?

[2019-04-24 03:06] libinyang commented on #1303
Just select the auto mute item and press arrow up or arrow down keys to select.

[2019-04-24 06:01] keqiaozhang commented on #1283
This issue also can be reproduced on WHL with HDMI playback, but cannot be reproduced with I2S playback(headset playback).
[code]
[dmesg.log](https://github.com/thesofproject/sof/files/3110731/dmesg.log)
[logger.log](https://github.com/thesofproject/sof/files/3110732/logger.log)
[logger-t.log](https://github.com/thesofproject/sof/files/3110733/logger-t.log)

Test recipe:
kernel:  sof-dev/2e94569
s

[2019-04-24 07:16] zhuyingjiang commented on #1063
@sathyap-chrome Can this be close now?

[2019-04-24 07:31] emilchudzik commented on #1303
This is expected behaviour, even on my private laptop or corporate laptop, or even on phones with android -> When you connect headphone by jack or pair by bluetooth then speaker is muted. This is default.

Where did the idea for this scenario test come from?

[2019-04-24 07:54] ClarexZhou commented on #1303
Issue raised for different behavior with previous builds.
Root cause for System default setting.   Close.

[2019-04-24 07:54] #1303 closed

[2019-04-24 07:57] singalsu commented on #1297
@kv2019i FYI

[2019-04-24 08:20] keyonjie commented on #1297
@singalsu maybe we should limit the maximum ramp time to e.g. 250ms, no matter how max volume we target to tune to? It introduce bad user experience that you want to change a volume but you have to wait for 3 seconds until it is done.

[2019-04-24 08:26] ClarexZhou commented on #1254
arecord start fail for IPC timeout occurred on CML laptop.

Test Recipe

Kernel repo | https://github.com/RanderWang/linux/tree/cml-validation-20190424
  Made from:
  2e94569 [thesofproject/linux: topic/sof-dev]
+ 85a86d9 [RanderWang/linux: cml-validation-20190424]
+ b51284b[RanderWang/linux: cml-validation-20190424]
+ 8f41f15 [RanderWang/linux: cml-validation-20190424]
+ 202216f [RanderWang/linux

[2019-04-24 08:44] singalsu commented on #1297
@keyonjie Yes that would be a simple and easy to do fix just in FW side. I'd like to get feedback what approach we should take to address this.

[2019-04-24 08:48] ClarexZhou opened #1305 "[CML]HDA Analog : Recorded audio has serious distortion and pop noise when volume to max."
**Describe the bug**
Recorded audio has serious distortion and pop noise when volume to max.
Much better when change headset Mic boost to 0db.

**To Reproduce**
1. Change Capture, Headset Mic Boost and HDA Analog volume(PGA 2.0 2 Master) to max
2. Record  via ''arecord -Dhw:0,0 -r48000 -c2 -fs16_le maxvolume.wav'' and play this audio file to check quality
3. Change Headset Mic Boost to 0db and oth

[2019-04-24 08:59] sathyap-chrome commented on #1063
We can close this as we have a working configuration.
We can keep the discussion on the exact BCLK for customer board configuration -Since we see different configuration being asked by customers.

[2019-04-24 09:05] singalsu commented on #732
@tlauda I get now clean playback with my 50 kHz test topology, thanks for working with the previous blockers!

Since it works now I think this issue would be best to close and the not-so-clean looking things like the one above in topology could be handled with separate issues. I think I'll show the test topology as a RFC / do not merge PR and discuss next actions there. I don't have myself test HW

[2019-04-24 09:14] singalsu commented on #732
Closing this.

[2019-04-24 09:16] libinyang commented on #1283
Bug has been root caused. It's a driver issue. I will submit a patch later.

[2019-04-24 09:32] #1063 closed

[2019-04-24 09:40] lgirdwood opened #1306 "[FEATURE] Kconfig option for pipeline data formats"
**Is your feature request related to a problem? Please describe.**
Currently components supply functions to deal with every data formta like s16le, s24le, s32. This has impact on footprint if only a single format is used.

**Describe the solution you'd like**
Kconfig options to select each pipeline format and hence conditionally build support for eeach format into components. These Kconfig options

[2019-04-24 10:05] ClarexZhou opened #1307 "[BUG][CML]HDMI aplay still work for about 5mins after plugout HDMI and restart aplay"
**Describe the bug**
HDMI aplay still work for about 5mins after plugout HDMI and restart aplay

**To Reproduce**
1.  Connect HDMI
2.  Play music via HDMI: aplay -Dhw:0,3 -r48000 -c2 -fs16_le a.wav -vv -i
3.  Disconnect HDMI
4.  Stop previous aplay and start new aplay, check

**Actual behavior**
aplay to HDMI still works after disconnected

**Expected behavior**
Should detect HDMI is disconnected.

[2019-04-24 10:19] lgirdwood commented on #1263
@ranj063 can you confirm that **every** time this is reproduced you see PANIC WFI ? Also on which platform(s) ? Since CNL+ have a different WFI path. Can you paste the relevant kernel log excerpt.

@xiulipan It is unlikely to be entering WFI deliberately during runlevel > 0, but a bad pointer or some stack corruption could easily jump to this code.

[2019-04-24 10:44] akloniex commented on #1261
@naveen-manohar
I would need few things:
1. What is "v0.2 recipe"?
2. Do you have core dump saved / can you collect one? (/sys/kernel/debug/exception file, AFAIR)
3. Could you provide sof-logger output?

These would be very helpful to have in order to root-cause the issue.

[2019-04-24 11:25] mmaka1 opened #1309 "[FEATURE] make install should publish fw uapi headers"
The headers should be available in the system for sw clients as a part of dev package (driver/apps)

[2019-04-24 11:28] mmaka1 opened #1310 "[FEATURE] pv flag should be passed to meu for signing"
This flag should be another parameter (like priv key path) to enable pre- and post-pv signing.

[2019-04-24 11:32] jajanusz commented on #1310
@mmaka1 What should that flag do? Is it some bit in manifest that is 0/1 when it's pre/post-pv signing?

[2019-04-24 12:51] ranj063 commented on #1263
@lgirdwood the WFI I saw was with the fuzzer with the BYT QEMU DSP is from my comment earlier https://github.com/thesofproject/sof/issues/1263#issuecomment-484751324 and yes it is every time the IPC times out.

I'll probably need to set up the fuzzer with the APL QEMU to see if I can reproduce it. I'm travelling today and tomorrow, so I can get to it on Friday.

[2019-04-24 13:29] lgirdwood commented on #1305
@ClarexZhou is recorder audio good quality at lower gain ? What about when Mic Boost is disabled ?
I suspect Mic Boost is not needed on this device.

[2019-04-24 13:30] lgirdwood commented on #1283
@libinyang great, please create driver issues and link to this. I will close this now.

[2019-04-24 13:32] lgirdwood commented on #1307
@ClarexZhou this is a driver bug. FW has no way of knowing whether HDMI is connected. Please re-log as driver issue.

[2019-04-24 13:45] lgirdwood commented on #1263
@ranj063 I guess you dont have CML HW ? What errors did you see on the HW (and what HW) ?

[2019-04-24 14:49] bkokoszx commented on #1254
@ClarexZhou
Did you build topology from:
0c93261 [thesofproject/sof: master]?

I've just checked this issue by building FW, kernel and topology from branches you mentioned above: https://github.com/thesofproject/sof/issues/1254#issuecomment-486122235
and I could not reproduce issue. On the other side I have following dmesg issues:
[code]

With @emilchudzik we checked this issue with kernel:
https:

[2019-04-24 15:19] mengdonglin commented on #1305
@lgirdwood @singalsu Canonical thinks sound of DMIC capture is weak without Mic Boost.
Does Mic Boost usually support some kind of Auto Gain Control ?

[2019-04-24 16:25] xiulipan commented on #1263
@lgirdwood @ranj063
Yes, maybe need to test on real HW on CML/CNL/WHL.
If it is real some pointer conceptual then we may need to check what would make this happen? My guess is call8 and call12 difference.

[2019-04-24 17:49] ranj063 commented on #1263
@lgirdwood I do have access to CML but won't be able to get to it until Friday. I'm traveling the next 2 days. I'll work with xiuli here and see if I can get you some errors

[2019-04-24 21:32] lgirdwood commented on #1305
@mengdonglin check with DMIC/codec vendor. Maybe @bardliao will know.

[2019-04-24 21:38] #902 closed

[2019-04-24 21:39] #1283 closed

[2019-04-24 22:02] #1307 closed

[2019-04-25 01:18] ClarexZhou commented on #1305
Audio quality is good at lower gain. eg. Capture volume 58% 6db, Headset Mic boost 53% 20db and PG2.0 2 at 40%.
And still has quality issue after change Mic boost is 0, and keed PGA2.0 2 and Capture volume at Max.

[2019-04-25 01:35] libinyang commented on #1283
This is a driver issue, a new issue is filed in linux:
https://github.com/thesofproject/linux/issues/866

close this issue now.

[2019-04-25 01:35] ClarexZhou commented on #1254
My mistake. update firmware info as below. And that IPC timeout only occurred one time during testing.

Firmware repo | https://github.com/RanderWang/sof/tree/cml-linux-20190424
  Made from:
  e4c1651  [thesofproject/sof: master]
+ e3ade00 [RanderWang/sof: cml-linux-20190424]
+ 08d40fc [RanderWang/sof: cml-linux-20190424]

Topology: | https://github.com/RanderWang/sof/tree/cml-linux-20190424 | Sam

[2019-04-25 02:39] keyonjie commented on #1254
@ClarexZhou as it is not easy to reproduce this kind of ipc time out issues now, can you please help capture and paste sof-logger error logs also for each fails, that is very valuable for debugging.

[2019-04-25 04:40] #1301 closed

[2019-04-25 05:59] ClarexZhou commented on #1254
Error occurred on 20190425 build after aplay.
[code]

[ipcTimeOutAfterAplay_dmesg.log](https://github.com/thesofproject/sof/files/3115346/ipcTimeOutAfterAplay_dmesg.log)
[ipcTimeOutAfterAplay_logger.log](https://github.com/thesofproject/sof/files/3115347/ipcTimeOutAfterAplay_logger.log)

**Test Recipe**
Kernel repo | https://github.com/RanderWang/linux/tree/cml-validation-20190425

  Made from:
 

[2019-04-25 06:18] tlauda commented on #1254
@ClarexZhou Please reverify this trigger start timeout with #1289.

[2019-04-25 07:26] kv2019i commented on #1297
@lgirdwood wrote:

It would seem we are not implementing the 'initial_ramp' correctly. Or if I understant that correctly -- the comment indicates this is the ramp length in milliseconds. Not sure why the word "initial" is used in the field name.

If I understand that right, the tests @zrombel  has done are not quite correct as you are specifying an initial ramp of 1ms, but you actually get a 250+m

[2019-04-25 07:36] keqiaozhang commented on #1305
This issue also can be reproduced on GLK if all related volumes are set to maximum。
Test recipe:
sof/tplg: master/395a34
kernel: sof-dev/f7e9d4a

[2019-04-25 07:39] keyonjie commented on #1254
thanks @tlauda , the PR looks making sense to me. the difficulty here we don't have constant pattern to duplicate the same issue.

[2019-04-25 08:29] keqiaozhang commented on #1297
This issue also can be reproduced on GLK, I changed the DMIC to volume pipeline in M4 file. and volume change takes a few seconds to be effective, It's a slow gradual process，please refer to the following screenshot.
![VOLUME](https://user-images.githubusercontent.com/22468760/56720916-67653a80-6776-11e9-99eb-1d34e2b0500a.PNG)

steps:
1. set the DMIC vloume kctl PGA to 20 and play the sine wav on

[2019-04-25 08:37] lgirdwood commented on #1305
@ClarexZhou @keqiaozhang please be careful with adding gain above 0dB to any Mic signal as this can introduce signal clipping as gain in the pipeline is cumulative. i.e. any cumulative pipeline gain above 0dB may clip depending on input signal size. So if Mic boots at 20dB is needed then we will probably need to keep the other capture volumes at 0dB or less. The intention is that the user can conf

[2019-04-25 08:37] #1305 closed

[2019-04-25 08:42] lgirdwood commented on #1297
@kv2019i not sure why we have ```initial_``` prefix either. This value is intended to be the gap between volume ramp increments in ms.

[2019-04-25 08:51] singalsu commented on #1305
When there is analog volume control available in codec for microphone use it to set desired gain and keep digital gain for capture as 0 dB. The signal level in SOF digital parts should be high (but not clip) and attenuation/amplification done near to endpoint.

The digital gain in capture path is useful when there is no codec gain available like in PCH or SoC direct attach DMIC case.

It would be

[2019-04-25 10:26] ClarexZhou commented on #1263
ipc error for 0x50010000 occurred during stress test on volume change on CML laptop.
[code]
[volumeIPCtimeOut_logger.log](https://github.com/thesofproject/sof/files/3116451/volumeIPCtimeOut_logger.log)
[volumeIPCtimeOut_dmesg.log](https://github.com/thesofproject/sof/files/3116452/volumeIPCtimeOut_dmesg.log)

**Test Recipe**
Kernel repo | https://github.com/RanderWang/linux/tree/cml-validation-201

[2019-04-25 11:24] singalsu commented on #1297
OK, I can start work with topology, kernel, FW patches set to implement the ramp IPC (just linear ramp type, other types later). If we would need a quick workaround fix in FW it can be done with quite low amount of work.

[2019-04-25 11:40] zrombel commented on #1297
We have tested how change of parameters **uint32_t ramp** and **uint32_t initial_ramp** affects the waveform, but from what we can observe it doesn't change anything - we tried all SOF_VOLUME_ defines and a wide range of initial_ramp <1 : 10000>. I looked in to FW code and it seems that those parameters aren't used, so this functionalities may be not implemented yet. Or maybe those parameters are

[2019-04-25 11:46] singalsu commented on #1297
@zrombel It's not implemented. Volume ramp is only defined by macros in volume.h.

[2019-04-25 12:05] zrombel commented on #1297
@kv2019i tests were made to check if volume scale the input signal properly in static state. When ramp setting will be implemented we will prepare test to cover that functionality.

[2019-04-25 12:25] kv2019i commented on #1297
@zrombel wrote:

Ack, sounds good, thanks Seppo and Zbigniew!

[2019-04-25 14:49] wwittbrx opened #1318 "[BUG] Volume: Bit conversion from 32/32 to 24/32 glitch"
### Description

FW commit 50bd96d introduces a glitch during bit conversion from 32/32 to 24/32 in slim driver tests. This happens over all samplerates and channel counts. Conversions from 32/32 to 16/16 work as expected.

The glitch looks like this (full file included in log zip):

![image](https://user-images.githubusercontent.com/41670517/56743781-8b754b80-6777-11e9-82f0-1204c8ecad4d.png)

The

[2019-04-25 15:22] singalsu commented on #1274
@lgirdwood I have now fixed 3 of 6 total FIR data format dependent cores. ETA for PR is tomorrow.

[2019-04-25 18:06] wenqingfu commented on #1307
moved to thesofproject/linux#865

[2019-04-26 07:05] ClarexZhou commented on #1254
Trigger start Time out issue is not observed with #1289 after about 60 times system reboot on CML laptop.  Keep monitor.
Only below timeout occurred once.  No error message in sof-logger
[code]

[2019-04-26 07:26] ClarexZhou commented on #1263
Error not occurred after run Volume stress test 11000 times on CML laptop,  using below daily build +2PR:  https://github.com/thesofproject/sof/pull/1326 and https://github.com/thesofproject/sof/pull/1327.

Kernel repo | https://github.com/RanderWang/linux/tree/cml-validation-20190426
Firmware repo | https://github.com/RanderWang/sof/tree/cml-linux-20190426
Topology: | https://github.com/RanderWan

[2019-04-26 07:35] keyonjie commented on #1254
Thanks @ClarexZhou this is another type of error we hit: CTX_SAVE(suspend) IPC. so it looks to be quite random, different kind of IPCs can be timed out at different cases.

[2019-04-26 07:46] emilchudzik commented on #1254
My suggestion is to create uniqe issue for each IPC timeout, with detailed test flow/step to reproduce/detailed description of environment.
If it will be generic issue it will be hard to debug and reproduce and it will become a sack for every IPC timeout.

[2019-04-26 07:53] keqiaozhang commented on #1263
I also got 10K iterations pass on GLK. But I need to apply PR#849 and PR#850 in kernel side.

Test recipe:
kernel: sof-dev + PR #849 and PR #850
sof: master +PR #1326 and PR #1327.

[2019-04-26 08:54] ClarexZhou opened #1329 "[BUG][CML]Arecord via HDA Analog always shown busy, only system reboot can recover. (Only occurred one time)"
**Describe the bug**
Arecord via HDA Analog headset always shown busy, only system reboot can recover. (Only occurred one time)

**To Reproduce**
Boot up system, aplay via analog, stop and then arecord via analog headset, check

**Expected behavior**
arecord should work normally

**Environment**
Kernel repo | https://github.com/RanderWang/linux/tree/cml-validation-20190426

 Made from:
  f7e9d4a [

[2019-04-26 09:09] naveen-manohar commented on #1261
Apologize for the delay, was working on to switch to a recipe where logger was enabled.
With below recipe, I wasn't able to hit the issue. Have requested validation team to stress test the scenario & update.

**Test Recipe:**
SOF FW source
URL: https://github.com/thesofproject/sof/tree/cml-003-drop-stable
Commit: 4731a1ad66ce78920714e7b7c17da34c0e24a523
SOF Drivers source
URL: https://github.com/t

[2019-04-26 09:40] lgirdwood commented on #1274
@singalsu great :), but tomorrow is Saturday, you mean Monday right ?

[2019-04-26 10:41] singalsu commented on #1318
Thanks @wwittbrx I'll fix this ASAP.

[2019-04-26 11:10] lbetlej opened #1330 "[BUG] CHT target is not linking after new features are added to a common code"
**Describe the bug**
The issue is reproducible with PR#949. The CHT code is not linking (BYT and all other targets link properly)

**To Reproduce**
Compile the CHT code with PR#949

**Expected behavior**
CHT/BYT code reviewed to remove unnecessary code or added slim feature configuration as a default one.

**Impact**
No impact for other platforms.

**Environment**
Compile the CHT code with PR#949

[2019-04-26 11:39] singalsu commented on #1274
@lgirdwood The fix is in PR #1331.

[2019-04-26 12:20] lgirdwood commented on #1329
@ClarexZhou looks like a driver bug. In general, anytime userspace has a file IO issue it's 90% likely to be a driver bug rather than a FW bug. Can you open this as driver issue and close this one.

[2019-04-26 12:21] lgirdwood commented on #1261
thanks @naveen-manohar, please close this if validation cant reproduce.

[2019-04-26 12:26] bkokoszx opened #1332 "[RFC] ipc: _IPC_COPY_CMD macro usage"
**Is your feature request related to a problem? Please describe.**
During handling IPC commands we utilize IPC_COPY_CMD macro for copying IPC in a safe way as it is written in code comments. What is the purpose of this solution? We declare new variable on a stack and after all we use pointer to global context variable ```_ipc```.

E.g.
In function:
 ```static int ipc_stream_pcm_params(uint32_t str

[2019-04-26 12:37] lgirdwood commented on #1330
Text size too small, lets increase it and deselect some Kconfig options.

[2019-04-26 15:19] singalsu commented on #1318
I've improved the cmocka volume test bench to test with larger numbers and I'm now able to repeat this error.

[2019-04-26 15:25] lgirdwood commented on #1318
@singalsu what's the ETA for the fix ? If today I can pull into v1.3-rc3 ? otherwise we can get it into v1.3 final next week.

[2019-04-26 15:27] lgirdwood commented on #1332
@bkokoszx see https://github.com/thesofproject/sof/pull/1336, we should be deprecating our globals to give more flexibility with allocation, positioning and use a sof context to store this stuff.

[2019-04-26 15:52] lgirdwood commented on #1330
@lbetlej see https://github.com/thesofproject/sof/pull/1338, will fix issue.

[2019-04-26 16:11] ranj063 opened #1340 "[FEATURE] New Component to copy simultaneously to multiple sink buffers"
**Is your feature request related to a problem? Please describe.**
This feature is required for BYT-CR where SSP0 and SSP2 use different AIFs

**Describe the solution you'd like**
A new component that can copy simultaneously to two sink buffers simultaneously. If one of the interfaces does not have a codec connected the samples are just dropped and should not cause an error.

**Additional context*

[2019-04-26 16:12] ranj063 commented on #1340
@plbossart could you please add any information I missed here?

[2019-04-26 16:41] #1278 closed

[2019-04-26 17:36] singalsu commented on #1318
@lgirdwood The fix is in PR #1341.

[2019-04-26 21:49] ranj063 commented on #1263
@keqiaozhang can we also test this on CML. All patches have been merged now both FW and kernel side

[2019-04-26 22:03] wenqingfu commented on #1263
@ClarexZhou has tested. see below quote two posts above:

[2019-04-26 22:05] ranj063 commented on #1263
@wenqingfu thanks! this issue is good to be closed.

[2019-04-26 22:06] #1263 closed

[2019-04-26 22:08] ranj063 commented on #1254
@keqiaozhang @ClarexZhou have you tested this with the fixes applied for #1263?

[2019-04-26 23:14] wenqingfu commented on #1274
closed in #1331

[2019-04-26 23:14] #1274 closed

[2019-04-27 01:12] wenqingfu commented on #1297
so is the conclusion "not a bug"? or what's the plan next? @singalsu @lgirdwood

[2019-04-28 01:10] ClarexZhou commented on #1329
Close and track in https://github.com/thesofproject/linux/issues/881

[2019-04-28 01:10] #1329 closed

[2019-04-28 05:43] ClarexZhou commented on #1254
ipc time out still occurred with  #1263 fix on CML laptop

Log are disabled on dmesg on current build. No error log on sof-logger.
[logger.log](https://github.com/thesofproject/sof/files/3124642/logger.log)

Kernel repo | https://github.com/bardliao/linux/tree/sof-dev-rebase-reduce-v3
-- | --
  |  
Firmware repo | https://github.com/thesofproject/sof/commits/master
  | be1331a  [thesofproject/sof:

[2019-04-28 08:30] keqiaozhang opened #1342 "[BUG] [Stress]IPC timed out after resuming form S3 on WHL-I2S"
**Describe the bug**
This issue happens in stress test. IPC timed out occurred after dozens of S3 and trace logger is  not available after this.

**To Reproduce**
$ while rtcwake -m mem -s 5 ; do sleep 2 ; done

**Expected behavior**
no errors during S3

**Impact**
IPC times out

**Environment**
1) Kernel: sof-dev/af71673
2) SOF/tplg: master/be1331
2) tplg name: sof-whl-rt5682.tplg
3) WHL-RVP, I2S

[2019-04-28 09:18] mengdonglin commented on #1342
@stevyan please check if this is the same issue you observed on UP2 in stress S3 test

[2019-04-28 09:37] stevyan commented on #1342
@mengdonglin @keqiaozhang , according to the log info, it seems be same issue with https://github.com/thesofproject/linux/issues/876.

[2019-04-28 09:47] lgirdwood commented on #1254
@ClarexZhou please enable dmesg log and try again. Please also state if fixes have improved failure rate from initial state.

[2019-04-28 10:46] keyonjie commented on #1254
ack to @lgirdwood , without dmesg log, we can't analyze anything from driver side.

btw, for the topology parsing and pipe_connect or enable_core IPC time out issue, I created a RFC driver PR, can you help check if it helps? https://github.com/thesofproject/linux/pull/888

[2019-04-28 17:15] ranj063 commented on #1254
@keyonjie if the timeout is always with the CTX_SAVE ipc, we can simply ignore the timeout in the driver andjust power down the DSP in any case. We used to have this earlier but removed it recently when we fixed the power down sequence in GLK.

@mmaka1 could you please double check the power down sequence for CNL to make sure we didnt miss anything?

[2019-04-29 01:09] ClarexZhou commented on #1254
Add 2 more ipc timed out logs on CML laptop:
1. ipc timetout during multi pipeline test
no error sof logger.
[ipctimeout_multiPipeline_dmesg.log](https://github.com/thesofproject/sof/files/3125732/ipctimeout_multiPipeline_dmesg.log)

[code]
2. ipc timeoud when start speaker-test: speaker-test -Dhw:0,0 -r48000 -f1000 -c2 -t wav -l 10
no error sof logger info
[speaker-test-logger.log](https://github

[2019-04-29 01:39] ClarexZhou commented on #1254
Try reboot 100 times on CML laptop. Only twice ipc timeout.
[dmesg_failed_56.log](https://github.com/thesofproject/sof/files/3125755/dmesg_failed_56.log)
[logger_failed_56.log](https://github.com/thesofproject/sof/files/3125756/logger_failed_56.log)
[logger-t_failed_56.log](https://github.com/thesofproject/sof/files/3125757/logger-t_failed_56.log)

[code]
failed sof-logger:
[code]
[dmesg_failed_53

[2019-04-29 06:46] wwittbrx commented on #1318
I confirmed that PR #1341 fixes this issue, once it's merged and retested on master I will close this issue. Thanks.

[2019-04-29 08:31] singalsu commented on #1297
@wenqingfu I'll implement PR set to support volume ramp tokens passing to FW volume component. Then we can specify the ramp per volume instance and have similar fast settling for high gain volume instances as we have for current attenuate-only volume instances.

[2019-04-29 09:07] lgirdwood commented on #1340
@ranj063 how does FW know which DAI has the codec connected ?

[2019-04-29 10:47] keyonjie commented on #1254
it's tricky that we still seeing this error "hda-dmac: 5 wait for buffer full timeout" in sof-logger.
@tlauda can anybody from FW team help on this?

[2019-04-29 14:30] emilchudzik commented on #1254
My suggestion is to create uniqe issue for each IPC timeout, with detailed test flow/step to reproduce/detailed description of environment.
If it will be generic issue it will be hard to debug and reproduce and it will become a sack for every IPC timeout.

@mengdonglin please verify if issue still exists and close if doesn't.

[2019-04-29 14:31] emilchudzik commented on #1179
@Jiangxinx @mengdonglin please verify issue and close if there is no repro.

[2019-04-29 14:33] emilchudzik commented on #1173
@Jiangxinx @mengdonglin please close. issue currently doesn't exists on: kernel:cml-validation-20190425 and FW: master/e4a9f86

[2019-04-29 14:33] kv2019i opened #1346 "[BUG] [APL] FW core dump has empty oops data if FW built with GCC"
**Describe the bug**
In case DSP hits an exception, it dumps oops data for the driver to read out.

What actually happens is that I get a dump file that is partially ok. I can find "struct sof_ipc_panic_info" correctly filled. E.g. I can find  SOF_IPC_PANIC_MAGIC and the rest of the struct seems ok. Start of the dump however is just zeroes and there doesn't seem to be any valid values for "struct

[2019-04-29 14:48] kv2019i commented on #1346
@mmaka1 @abonislawski it seems part of the dump is correct (panic header and stack dump), so basic procedure I follow seems to be ok. Can you take a look at the exception dumps and see if yo notice anything obviously wrong that could explain this?

Btw, I compiled now with GCC, I'll try with Xtensa toolchain as well and see if that makes a difference.

[2019-04-29 15:25] tlauda commented on #1161
@juimonen @Jiangxinx Can anyone confirm it's fixed?

[2019-04-29 16:09] kv2019i commented on #1346
Ok, bingo! When I rebuilt FW with XT toolchain, ta-daa, dump copied verbatim from /sys/kernel/debug/sof/exception looks perfectly fine. Exactly the same dump compiled with GCC results in the weird partially filled oops file I copied as attachment to this bug. Relabelled the subject, so this applies only to gcc.

[2019-04-29 16:40] naveen-manohar commented on #1261
Validation team's stress script dint hit the issue with above recipe, hence closing it. Thanks

[2019-04-29 16:40] #1261 closed

[2019-04-29 19:54] lgirdwood commented on #1346
@kv2019i Can you attach both exception binaries, this will help root cause the issue. It may be the exception window size is different between xcc and gcc (and we may have to pad if using gcc).

[2019-04-30 04:56] keyonjie commented on #1254
we might need to figure out https://github.com/thesofproject/linux/issues/724 for debugging this kind of issue with linux driver.
@wenqingfu Michael, can anyone helps on that during PRC team having 4 days' holiday here.

[2019-04-30 06:26] RanderWang commented on #1173
@emilchudzik  It is a tmp solution included in the cml-validation-20190425

[2019-04-30 06:57] jajanusz commented on #766
@naveen-manohar @sathyap-chrome ping

[2019-04-30 07:41] wwittbrx commented on #1318
Checked on master branch, commit 3262ac1. This is fixed now. Thank you, I will be closing this now.

[2019-04-30 07:41] #1318 closed

[2019-04-30 09:31] kv2019i commented on #1346
@lrgirdwo wrote:

I was looking at that but it seems there is really a lot of data missing. I'll attach the binary files and attach a hexudump diff below. The oops data seems completely zeroed out and I can't find e.g. the oops config codes anywhere in the GCC-built FW oops, so it seems it's more than an offset.

[code]

[2019-04-30 12:55] jajanusz commented on #736
With that instructions I get:
[code]

I used `git clone https://github.com/thesofproject/qemu` and then your instructions. Maybe some submodules use top commits instead of specific commits and it broke in meantime.

[2019-04-30 14:10] singalsu commented on #1297
Small update, I will have one day break due to local bank holiday. The driver and topology defines the tokens so I was able to compile a new topology with volume ramp specification. However it looks like in kernel the ramp tokens are not passed to FW so I'll debug the driver next (the FW side changes are known and quite simple).

[2019-04-30 14:36] lgirdwood commented on #736
@jajanusz what distro and version are you using, it could be an older version of a dependency library....

[2019-04-30 14:38] lgirdwood commented on #736
@jajanusz see here too, could be old dependency https://github.com/systemd/systemd/issues/8099

[2019-04-30 14:38] jajanusz commented on #736
@lgirdwood
[code]

[2019-04-30 14:42] lgirdwood commented on #736
@jajanusz 16.4 is ancient, 3 years old. Please update. In general using LTS versions > 1 year old are not good for developers I'm on 18.10, will be moving to 19.04 soon.

[2019-04-30 15:12] lgirdwood commented on #1346
@kv2019i the other thing I can think of is calling convention between C and assembler. Can you trya again and comment out arch_dump_regs_a below and see if the header is correct.
[code]

[2019-04-30 15:13] plbossart commented on #736
out of curiosity has anyone used 19.04 for SOF work since it was released on April 19?

[2019-04-30 18:06] xiulipan commented on #736
@lgirdwood @plbossart
It seems there are some update in QEMU repo?
I am now testing use Dockerhub to auto build the image used for CI test.

[2019-04-30 21:09] lgirdwood commented on #736
@xiulipan don't autobuild qemu for each SOF PR (too long, travis will timeout), just use the latest prebuilt binary in container. I will tag it in future so you can keep uptodate.

[2019-04-30 23:58] xiulipan commented on #736
@lgirdwood
I am trying to track the https://github.com/thesofproject/qemu on DockerHub only to auto update the image used for CI.
It will make the binary used for CI always auto update after we have change in QEMU. I think we will have more patches in QEMU.

Related PR here: https://github.com/thesofproject/qemu/pull/4

[2019-05-01 02:43] ranj063 opened #1352 "[BUG]Media playback is not 48KHz"
**Describe the bug**
Media pipeline playback is not at 48KHz.

**To Reproduce**
aplay -Dhw:0,4 music.wav

**Expected behavior**
Playback should be 48KHz but what I see is 44.1KHz.

**Impact**
Showstopper

**Environment**
Kernel: sof-dev: https://github.com/thesofproject/linux/commit/a5ea42b5fddf8688ab541f5c6e9f425de5a8f295
FW: master: https://github.com/thesofproject/sof/commit/6e4faef8e7fea2e4ec7

[2019-05-01 02:43] ranj063 commented on #1352
@singalsu I get a feeling this has to do with topology. Could you please take a look at the sof-apl-pcm512x topology?

[2019-05-01 09:04] lgirdwood commented on #1352
@ranj063 can you provide the output from aplay that shows it's 44.1kHz, you could try adding the -v flag to apaly too as that will dump buffers and other ALSA state. The SRC should work with 48 -> 48.

[2019-05-01 10:45] #1330 closed

[2019-05-01 22:43] fredoh9 opened #1353 "[BUG] SOF HDA mode has errors when adding routes from sof-hda-generic.tplg"
**Describe the bug**
HDA mode has topology parsing errors. There is no source or sink widget are available. This can be observed in every linux booting time. As CNL/CFL/WHL share same binaries, kernel/firmware/topology files, same problem is observed in those platforms.

**To Reproduce**
I tested with daily build of 0430, but latest version of linux/sof project have same issue.
firmware image = so

[2019-05-01 23:03] xiulipan commented on #1353
@fredoh9
Maybe you can try to solve this by adding something in `sof-hda-generic.m4` and `sof-hda-generic-idisp.m4` like the following to remove them
https://github.com/thesofproject/sof/blob/6e4faef8e7fea2e4ec71d9bc012680b446c7f8e5/tools/topology/sof-glk-rt5682.m4#L172-L192

[2019-05-02 08:39] singalsu commented on #1352
Thanks for reporting, I can do some quick checks (check playback length vs. assumed with "time aplay", check captured back 1 kHz tone frequency).

[2019-05-02 10:55] singalsu commented on #1352
@ranj063 I wasn't able to repeat this with fresh git fetch of everything on my UP2. I checked from log that SRC with this topology was initialized for 48k-48k conversion and that playback of resampled to 48 kHz song of 3:44 long song took the correct amount of seconds with "time aplay" reported value.

Can you check from sof-logger output how SRC got initialized. In my case it was:

[code]

[2019-05-02 11:23] singalsu commented on #1352
@ranj063 Though I spotted another bug with this topology. The buffers are not large enough for SRC to initialize with S24_4LE or S32_LE data format.

[2019-05-02 13:20] kv2019i commented on #1346
@lgirdwood wrote:

[...]

Calling code seems to be ok, but something in arch_dump_regs_a is definitely causing this.
Currently I've isolated the problem to "store_register_loop:" segment of exc-dump.S. If I jump over the register store loop, the dump looks ok -- both header and the special registers saved after the register store loop look ok. The code does look correct, so not yet figured out why

[2019-05-02 13:24] jajanusz commented on #736
@lgirdwood I checked with ubuntu 19.04 and QEMU built successfully.
@plbossart I built SOF (FW) today on 19.04 with instructions for 18.10 from https://thesofproject.github.io/latest/getting_started/build-guide/build-from-scratch.html
Need just minor fix for crosstool-ng -> https://github.com/thesofproject/crosstool-ng/pull/3

[2019-05-02 16:13] lgirdwood commented on #1346
@kv2019i I assume store_register_loops works if it only does 1 iteration ? Maybe worth running it through qemu and trace the registers.

[2019-05-02 18:18] kv2019i commented on #1346
@lgirdwood wrote:

The strange thing it doesn't. Even if I force iterations to one, the oops get completely messed up. :P The disassembly looks completely same as well, so pretty weird. I'll have to try in QEMU as well -- I was actually assuming coredump works under QEMU, but in fact I have not tested that myself.

[2019-05-03 11:06] singalsu commented on #1297
@lgirdwood @tlauda @wenqingfu I get now the volume ramp parameters passed to DSP. The kernel is as such OK. I just had problems with my m4 macros edits in topology to attach the ramp tokens for volume controllers.

Next I will work with FW part.

[2019-05-03 13:32] lgirdwood commented on #1297
@singalsu tahnsk, any PRs for topology ?

[2019-05-03 14:29] singalsu commented on #1297
@lgirdwood Yep there will be topology PR. I seem to need to update nearly all topologies due to parameter add for pga.m4. I've updated so far only one topology for testing.

I'm still wondering if I should provide from driver the volume instance specific vol max/min values. Currently I'm working with code that makes every transition ramp take the topology defined time (250 ms). That's a bit slow f

[2019-05-03 15:03] lgirdwood commented on #1346
@kv2019i debuging another issue and here are some qemu dumps

Memory dump of ```hexdump -C /dev/shm/qemu-bridge-hp-sram-mem | less```
[code]
Qemu registers
[code]

[2019-05-03 15:20] lgirdwood commented on #1346
@kv2019i AR regs start at offset 0xa8cc (base is 0xa800), header looks OK. A regs appear to be missing, but are duplicated in AR36 - AR51 , except AR38

[2019-05-03 15:23] lgirdwood commented on #1346
and here is stack
[code]

[2019-05-03 15:34] lgirdwood commented on #1297
@singalsu topology should define ramp for each PGA control. This should be loaded by driver during topology loading and sent to FW. Parsing order doesn't matter as volume is all parsed at once and wont be sent to FW unless all PGA are completely parsed.

[2019-05-03 15:41] ranj063 commented on #1297
@singalsu volume ramp step and type are already included and parsed in the driver. So you could just add the tokens in tpology and everything should be taken care of, right?

[2019-05-03 15:41] singalsu commented on #1297
@lgirdwood OK, then I should be able to get the linear max/min values from TLV volume scale computation.

[2019-05-03 15:42] singalsu commented on #1297
@ranj063 Yes, I have that part working already. I messed a day or two with m4 macros but I got it finally. Now the tokens appear correctly to firmware.

[2019-05-05 10:24] stevyan opened #1364 "[APL UP2 PCM512x] - [equlizer]: 'write error: Input/output error' occurred when tested the eq config files."
**Describe the bug**
'write error: Input/output error' occurred when tested the eq config files, and the failed config files perhaps are different when executed many times;

**To Reproduce**
1. cd <sof>/tools/eqctl
2. sof-eqctl -Dhw:0 -n 22 -s <all eq_iir_* files one by one>
3. sof-eqctl -Dhw:0 -n 23 -s <all eq_fir* files one by one>

**Actual Result**
[code]

**Environment**
date: 2019-5-05
linux

[2019-05-06 07:40] mengdonglin commented on #1179
Closing this issue because FW fix has been merged. Will track driver PR status by #1173

[2019-05-06 07:40] #1179 closed

[2019-05-06 10:21] abonislawski commented on #1298
@mrajwa  not a bug, just a limit of memory.

The same will happen if you will just add 0x1000000 but this doesnt mean there is a bug, there is just no memory for that. You can increase memory banks quantity in kconfig (just to check and build but this is already a max value for apl).

SOF_FW_MAX_SIZE is needed because we need to specify a size of memory segment to linker script. Previously there w

[2019-05-06 10:39] sathyap-chrome commented on #766
We failed with similar error.
The test was done using
Topology : cml_drop_0003 branch
Firmware : master

Signature 1:
2019-04-29T12:59:40,045482+05:30 sof-audio-pci 0000:00:1f.3: error: ipc error for 0x30010000 size 20
2019-04-29T12:59:40,045491+05:30 sof-audio-pci 0000:00:1f.3: error: DSP failed to add widget id 0 type 27 name : SSP0.OUT stream SSP0-Codec reply -22
2019-04-29T12:59:40,045495+05:3

[2019-05-06 10:39] sathyap-chrome commented on #766
Update: Topology and kernel : SOF V0.3 for CML.

[2019-05-06 10:50] bkokoszx commented on #1332
@lgirdwood
Ok, thanks, I see. But still after those changes, should we use IPC_COPY_CMD macro like we used before e.g. ```IPC_COPY_CMD(pcm_params, sof->ipc->comp_data)```?
We can invoke functions like ```pipeline_params``` with ```sof->ipc->comp_data``` directly without copying context to local variables.

[2019-05-06 11:29] singalsu commented on #1364
@stevyan The firmware needs to be built with xt-xcc to set FIR EQ to anything but pass-through. The gcc generated filter code is too slow to execute. Can you check with xt-xcc build this too.

[2019-05-06 14:03] smakows opened #1370 "[BUG] [APL] -22 after cycling D0 -> D3 -> D0 couple of times in monkey tests"
### Description

During running monkey tests in slim driver, after power cycling D0 -> D3 -> D0 couple of times with context saving and restoring, driver receives -22 from firmware on pipeline recreation, in phase of recreating pipeline streams.

### Recipe
FW commit de5bba49aaf2c0060a279de09580ac4205f550cb

Topology based on parallel internal SSP loopbacks

[code]

### Reproduction steps

1. Run

[2019-05-06 14:20] lgirdwood commented on #1332
@bkokoszx I think it's always safer to do the initial copy to local memory to avoid races with the driver when using the shared mailbox.

[2019-05-06 14:44] lgirdwood commented on #1370
@smakows nice graphs :) Can you paste the failure log excerpt where this fails as it not easy to find the correct log in your attachment. Thanks.

[2019-05-06 16:48] wenqingfu commented on #1297
any PR submitted yet? @singalsu

[2019-05-06 16:48] singalsu commented on #1297
I have now a working solution, next cleanup of code and doing the update to rest of topologies (I've updated and tested only sof-apl-dmic-2ch.tplg). I gave up with logarithmic ramp FW code so it will be only linear ramp with topology adjustable ramp length.

Logarithmic ramp and and the other ramp types implementation could be added as FW enhancement issues into Github. The logaritmic update is si

[2019-05-06 17:40] singalsu commented on #1297
I made an early [RFC] PR #1373 to review the volume enhance and start testing.

[2019-05-06 20:19] plbossart opened #1374 "[BUG] DSP oops information is not aligned between kernel and firmware"
kernel xtensa.h:
/* Xtensa Firmware Oops data */
struct sof_ipc_dsp_oops_xtensa {
	struct sof_ipc_hdr hdr;

firmware xtensa.h

/* Xtensa Firmware Oops data */
struct sof_ipc_dsp_oops_xtensa {
	struct sof_ipc_dsp_oops_arch_hdr arch_hdr;
	struct sof_ipc_dsp_oops_plat_hdr plat_hdr;

Firmware folks, please fix this. I don't get how this ever worked.

[2019-05-06 20:25] plbossart opened #1375 "[BUG] Detect test shall not be in uapi files"
**Describe the bug**

sof_detect_test_config (detect_test.h) has no support in the kernel and shall not be in uapi files in the first place.
Please move somewhere else, or file a proper ABI change request.

[2019-05-06 20:29] plbossart opened #1376 "[BUG] SOF Manifest change is not tracked with ABI"
**Describe the bug**

kernel manifest.h:
#define SOF_MAN_FW_HDR_FEATURES		0xff

firmware manifest.h:
#define SOF_MAN_FW_HDR_FEATURES		0x1ff

Please clarify if this is an ABI change, and if so get a proper ABI minor version. In any case please file a kernel PR, or if this is not necessary for userspace and kernel to know move out of uapi files.

[2019-05-06 20:30] plbossart opened #1377 "[BUG] sof_man_get_module() has nothing to do in manifest.h"
we don't want static inline functions in a manifest.h header, please move this somewhere else.

[2019-05-06 20:34] plbossart opened #1378 "[BUG] UAPI tokens.h not aligned between kernel and firmware"
**Describe the bug**

The SOF repo did not follow the kernel changes for the effect->process change, please fix. we should not have any EFFECT_TYPE anywhere in the firmware, it's PROCESS_TYPE now.

Also the definitions for SCHED_PERIOD/DEADLINE and TIME_DOMAIN/TIMER were not updated.

What a glorious mess.

[2019-05-06 21:03] plbossart opened #1379 "[BUG] UAPI trace.h is not aligned between kernel and firmware."
**Describe the bug**

trace.h contains a slew of definitions that are not used by the kernel. Either they are needed and we should have a proper ABI change, or they are not and the firmware needs to declared all this in another header.

[code]

[2019-05-06 21:08] plbossart opened #1380 "[BUG] UAPI topology.h file is not aligned between kernel and firmware"
**Describe the bug**

the definitions for sof_ipc_process_type is not included/used at the firmware level. How can this possibly work since comp_process will pass a 'type'? The natural conclusion is that the process_type is not checked for illegal values?

sof_event_types are defined for the kernel but not for firmware so either they are needed by the firmware or the kernel should be the only one

[2019-05-07 06:05] #1353 closed

[2019-05-07 07:38] bkokoszx commented on #1332
@lgirdwood I agree that it is safer to do initial copy and use local variable, but after all we still invoke specific function with global context variable ```err = pipeline_params(pcm_dev->cd->pipeline, pcm_dev->cd,(struct sof_ipc_pcm_params *)_ipc->comp_data);``` or after #1336 I guess it will be something like ```err = pipeline_params(pcm_dev->cd->pipeline, pcm_dev->cd,(struct sof_ipc_pcm_param

[2019-05-07 08:03] jajanusz commented on #1376
It's not ABI change, at least not for kernel, it's only used by the rimage tool to create proper manifest. Probably this file shouldn't even be in ABI...

[2019-05-07 08:27] smakows commented on #1370
Overall test flow logs can be found in log.log_groups.log file
More detailed logs (with sent and received IPCs specified) can be found in log.log
Traces from consecutive fw lives (between power cycles) can be found in dma_trace_X.log files
Traces from last, failing fw life can be found in dma_trace_6.log file (6th lifecycle)

[2019-05-07 09:33] keyonjie opened #1382 "[BUG]selector buffer new fails with KWD integrated topology on GLK"
**Describe the bug**
selector buffer new fails with KWD integrated topology on GLK.

**To Reproduce**
Just rebooting, and capture dmesg and sof-logger logs.

**Expected behavior**
PCM created and sound card created.

**Impact**
Influence KWD feature working on GLK.

**Environment**
1) Kernel:
https://github.com/thesofproject/linux/tree/topic/keyword_detect
(only one commit newer on top of topic/so

[2019-05-07 09:34] keyonjie commented on #1382
@mrajwa I add this to you and hope you can look into it.

[2019-05-07 09:36] jajanusz commented on #1229
Refactored - Moved testebench out of FW src tree and simplified few things in #1344
However there is still room to improvement in testbench area, but need to discuss in what direction development of testbench functionality will go. It's something for the next issue.

[2019-05-07 09:36] #1229 closed

[2019-05-07 10:56] mmaka1 commented on #1310
In case of post-pv signing, there should be `-mnpv true` appended to the meu args.

[2019-05-07 11:36] jajanusz commented on #1376
@plbossart @lgirdwood Architectural question - what should be in our `uapi`?
Problem with this issue and similar is that we share something with 2 types of clients kernel/driver and userspace apps. In kernel uapi is for userspace apps, but will everything from our uapi also go to uapi of kernel or just part of it (so it is kinda just interface for kernel and for userspace should be somewhere else)

[2019-05-07 12:11] jajanusz commented on #1298
@abonislawski We can add some static asserts but idk if it is ok regarding our kernel-like conventions. I saw there are like 3 `STATIC_ASSERT`s in kernel code but idk why.

[2019-05-07 14:07] jajanusz opened #1385 "[BUG] Rimage reports errors in correct image"
**Describe the bug**
While doing typical build for APL. I get part of log like:
[code]

**To Reproduce**
Build default config for apollolake.

**Expected behavior**
It shouldn't be an error. It may be warning, or no message at all if rimage would know what it should have in bootloader/fw parts of images.

**Impact**
Annoyance - we often get log messages (from devs/reporters) pointing to that part

[2019-05-07 14:08] singalsu opened #1386 "[FEATURE] Volume: Support logarithmic gain ramps"
Logaritmic gain ramps create subjectively equal amount of loudness change per unit of time so it could be the preferred ramp type. It also allows usage of shorter time ramps while avoiding clicks or zipper noise. Currently SOF only supports linear ramps. The topology and driver supports the ramp type topology token so it would be a FW only change.

The ramp type was omitted from recent PR for volu

[2019-05-07 14:46] bkokoszx commented on #1342
@keqiaozhang
Do you still have a reproduction of this issue? I performed d0->d3 python tests on WHL platform and I did not have reproduction.
Does the driver for sure not try to read from mailbox after sending CTX_SAVE? Otherwise driver can try to read from disabled memory.

[2019-05-07 16:49] kv2019i commented on #1346
@lgirdwood
Got basic gdb working at least do a degree within QEMU and it seems ROTW causes another exception and we end up in DoubleExceptionVector handler.  But that's probably just a symptom, the same code works when compiled on XT-CC. If I skip the register dump loop that uses ROTW, and dump register state, it looks suspicious (WINDOWBASE and WINDOWSTART), compared to succesful DSP oops dump wh

[2019-05-07 18:22] plbossart commented on #1376
@jajanusz @lgirdwood
It's a good question. If I look at the kernel files, the following files are NOT used:

include/uapi/sound/sof/manifest.h
include/uapi/sound/sof/trace.h
include/uapi/sound/sof/eq.h
include/uapi/sound/sof/tone.h

I would tend to agree that when the kernel does not need a file, we should not have those files in the kernel tree at all. if manifest.h and trace.h are only needed fo

[2019-05-07 21:34] xiulipan opened #1388 "[FEATURE]trace point reorder in platform_init function"
**Is your feature request related to a problem? Please describe.**
The trace point value now used in `platform_init` is out of order. After some refine of codec, there leave some blank trace point as well as miss trace point. The trace point is now misleading for new platform enable and QEMU debug.

**Describe the solution you'd like**
The trace point should be grouped and increase in order and di

[2019-05-07 21:39] xiulipan opened #1389 "[FEATURE]trace point on APL+ platform is written into memory window"
**Is your feature request related to a problem? Please describe.**
trace point should be written into register to give a full round tracking.

**Describe the solution you'd like**
Change the trace point into ipc regs. May also need kernel driver change for the trace point for different platforms.

**Additional context**
Now trace point before memory window init or platform without memory window wi

[2019-05-08 00:06] mrajwa commented on #1382
@keyonjie I took a look at that and it looks like we run out of SOF_MEM_CAPS_RAM. I bet if you make a toplogy a little bit lighter by removing some pipeline for example the problem won't show up. Can you confirm that?

[2019-05-08 01:09] keyonjie commented on #1382
@mrajwa yes, I confirm that, as i talked to you, it works when I remove the PCM99 pipeline.

[2019-05-08 07:37] singalsu commented on #1364
@stevyan Can you please check if my above thought is correct. We can close this if IIR works with gcc & xt-xcc builds and FIR works with xt-xcc build.

It's known that any longer FIR filter execute fails with gcc build because the generated code is not good.

[2019-05-08 08:00] stevyan commented on #1364
@singalsu it is occurred only for gcc compiler, and xcc compiled binary is ok.

[2019-05-08 08:05] singalsu commented on #1364
OK, thanks! Let's close this then. I hope gcc becomes eventually better for xtensa.

[2019-05-08 08:05] #1364 closed

[2019-05-08 08:05] ClarexZhou commented on #1254
0x40010000: GLB_PM_MSG: CTX_SAVE  IPC timeout occurred once after stop aplay when Pulseaudio is off. UI freeze then timetout.

[code]
**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：c99938c https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: 47fcac2  https://github.com/thesofproject/sof/commits/master |  
Topology: https://github.com/thesof

[2019-05-08 08:10] ClarexZhou commented on #1254
0x30030000: GLB_TPLG_MSG: COMP_CONNECT  ipc timed out occurred one time  after plug headset.
No error sof logger
Dmesg:
[code]
**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：c99938c https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: 05d4e19  https://github.com/thesofproject/sof/commits/master |  
Topology: https://github.com/thesofproject

[2019-05-08 10:25] singalsu opened #1391 "[FEATURE] Allow updating EQs during playback/capture"
**Is your feature request related to a problem? Please describe.**

Currently the EQs can be updated by sof-eqctl only when the pipeline they belong to is idle.

In audio tuning scenario it is desirable to on-the-fly re-configure the EQs to quickly measure or subjectively evaluate the impact of new tuning without need to start/stop system audio servers etc.

**Describe the solution you'd like**

T

[2019-05-08 10:26] singalsu commented on #1391
@lgirdwood @dbogdzix I just created this enhancement to address the closed Docs issue #116.

[2019-05-08 11:11] lgirdwood commented on #1370
@smakows thanks, but we need the excerpt pasted otherwise it's difficult to discuss this issue without searching through the logs every time there is a comment. Just need about 10 - 20 lines of trace leading upto and including the issue.

[2019-05-08 11:25] lgirdwood commented on #1332
@bkokoszx _ipc is going in v1.4, it's WIP. Feel free to work on #1336 more as I'm travelling soon and want be able to do anything with it until at least after v1.3

[2019-05-08 14:25] lgirdwood commented on #1385
@jajanusz ack, should probably be an INFO level message since all 3 sections are optional.

[2019-05-08 14:32] lgirdwood commented on #1386
@singalsu I dont think we need the precision of log() in the DSP for gain ramping, we most likely need a compressed log lookup table. i.e. log table uses same array element where log() output does not significantly change compared to previous or next input values. iiuc, we should only need to support a finite and known range of possible log() input values too ?

[2019-05-08 15:34] singalsu opened #1392 "[BUG] Testbench file component is not timer based scheduling compliant"
**Describe the bug**
The SRC test in testbench freezes with 48 kHz to 11.025 kHz test case. The fileread does not provide enough data for SRC. If SRC returns no data the pipeline tries to recover and re-prepare the pipeline but it does not help and the simulation freezes in repeating the pipeline copy and repeat.

**To Reproduce**
Run src test case in sof/tools/test/audio.

**Expected behavior**
T

[2019-05-08 16:33] wenqingfu commented on #1254
@ClarexZhou I will close this issue. Please report the last two findings as stand alone issue to track. Thanks!

[2019-05-08 16:33] #1254 closed

[2019-05-08 19:42] mrajwa commented on #1382
@keyonjie, please check if this patch #1394 fixes the issue on your side.

[2019-05-08 20:27] wenqingfu commented on #1374
@michalgrodzicki to reassign

[2019-05-08 20:27] wenqingfu commented on #1375
@michalgrodzicki to reassign

[2019-05-08 20:27] wenqingfu commented on #1378
@michalgrodzicki to reassign

[2019-05-08 20:28] wenqingfu commented on #1379
@michalgrodzicki to reassign

[2019-05-08 20:28] wenqingfu commented on #1380
@michalgrodzicki to reassign

[2019-05-08 22:26] wenqingfu commented on #1173
will close after thesofproject/linux#895 is merged

[2019-05-08 23:29] wenqingfu commented on #1376
@juimonen Would you please take this?

[2019-05-09 02:52] keqiaozhang commented on #1342
@bkokoszx
Yes, this issue is still reproducible to me, I tested it with today's code base and failed after dozens of iterations.
Please do the system S3->S0 test. D0/D3  is also working for me.

[2019-05-09 03:19] ClarexZhou opened #1395 "[BUG][CML] ipc timed out for '0x30030000: GLB_TPLG_MSG: COMP_CONNECT'"
**Summary:**
'ipc timed out for for'0x30030000: GLB_TPLG_MSG: COMP_CONNECT'  after plug in/out headset.

**To reproduce**
Do headset plug in/out several times.

**Actual result**
error: ipc timed out for '0x30030000: GLB_TPLG_MSG: COMP_CONNECT'

**Reproduce rate:** 1%

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：c99938c https://github.com/thesofproject/linux/t

[2019-05-09 03:29] ClarexZhou opened #1396 "[BUG][CML] IPC timed out for '0x60040000: GLB_STREAM_MSG: TRIG_START due to pipeline copy errors'"
**Summary:**
'ipc timed out for '0x60040000: GLB_STREAM_MSG: TRIG_START' after system reboot.

**To reproduce**
Do system reboot stress test.

**Actual result**
error: ipc timed out for '0x60040000: GLB_STREAM_MSG: TRIG_START'

**Reproduce rate:** 1%

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：c99938c https://github.com/thesofproject/linux/tree/release/sof-v5

[2019-05-09 03:34] ClarexZhou commented on #1254
@wenqingfu Report new bugs as below:
1. [BUG][CML] ipc timed out for '0x30030000: GLB_TPLG_MSG: COMP_CONNECT' #1395
2. [BUG][CML]IPC timed out for '0x60040000: GLB_STREAM_MSG: TRIG_START' #1396
3. [Bug][CML] ipc timed out for '0x40010000: GLB_PM_MSG: CTX_SAVE'  https://github.com/thesofproject/linux/issues/919

[2019-05-09 07:58] mengdonglin commented on #1254
Other IPC time out:
https://github.com/thesofproject/sof/issues/1342
https://github.com/thesofproject/linux/issues/808
https://github.com/thesofproject/linux/issues/876
https://github.com/thesofproject/linux/issues/873

[2019-05-09 08:28] juimonen commented on #1376
@wenqingfu ACK

@plbossart @jajanusz @lgirdwood if everybody agrees of removing these from kernel, the PR is:
https://github.com/thesofproject/linux/pull/923

I talked with @singalsu and at least removing eq headers should not be an issue..

[2019-05-09 09:13] smakows commented on #1370
Fixed by fixing resource management mechanisms (freeing iob for traces in slim driver)

[2019-05-09 09:13] #1370 closed

[2019-05-09 10:32] mmaka1 opened #1398 "[FEATURE] cAVS (apl, cnl, icl, ...) clk defs need cleanup and deduplication"
1. Static platform specific data and defs are mixed with the defs related to run-time clock settings.
2. Most of the cAVS platforms code may be de-duplicated and moved to a common headers.

There is experimental code (requires testing and cleanup of the default clock setting at boot complete) available here:
https://github.com/mmaka1/sof/tree/cavs-clk-def-dedup

[2019-05-09 12:55] tlauda opened #1401 "[BUG] APL GCC toolchain uses older version from Cadence"
**Describe the bug**
APL GCC toolchain uses older version from Cadence, which causes compilation failure with the latest updated headers.

[2019-05-09 12:57] #1382 closed

[2019-05-09 13:51] marcinx-zielinski commented on #536
Do you mean stream ids like in this function from _handler.c_?
`static int ipc_stream_pcm_params(uint32_t stream)`
A struct field named stream_id exists only in hda-dma.c as a declaration and appears to be unused, so please clarify.

[2019-05-09 15:07] plbossart commented on #1379
https://github.com/thesofproject/linux/pull/923 suggests to remove this from kernel files.
Agreed?

[2019-05-09 15:08] plbossart commented on #1376
fine with me.

[2019-05-09 16:24] plbossart commented on #1379
solved by https://github.com/thesofproject/linux/pull/923

[2019-05-09 16:24] #1379 closed

[2019-05-09 16:24] plbossart commented on #1376
solved by https://github.com/thesofproject/linux/pull/923

[2019-05-09 16:24] #1376 closed

[2019-05-09 16:31] plbossart commented on #1380
@juimonen can you chime in, you were involved in the effect->process change.

[2019-05-09 16:32] plbossart commented on #1378
@juimonen can you chime and check with @jajanusz what needs to be done?

[2019-05-09 16:55] lgirdwood commented on #1280
@michalgrodzicki @wenqingfu Fyi, this needs to be implemented soon as it's the basis for many complex use cases. I'm not seeing any movement on this, but do see developers raising issues that can be fixed by this.

[2019-05-09 17:20] lgirdwood commented on #1342
@bkokoszx python test is great for functional testing but should not be used for integration stress testing, it's just a waste of time. You are not comparing like for like. Use the driver and reproduce. How else to you expect to root cause ?

[2019-05-09 17:54] juimonen commented on #1378
@plbossart @jajanusz
this should do it, but please you check it also:
https://github.com/thesofproject/sof/pull/1402

as I see these are defined correctly in tokens.m4 which topology uses.

[2019-05-09 18:34] tlauda commented on #1280
@lgirdwood @akloniex @keyonjie @juimonen
I don't see how it handles the logic of choosing if we should propagate the params to the connected pipelines or not. Let's take mux topology with the loopback capture pipeline connected to the playback pipe. We don't want to pass playback stream params to the capture pipeline, because directions are different. Now let's take mixer topology. We want to pass

[2019-05-09 21:00] lgirdwood opened #1403 "[BUG] Userspace structures in uapi/user are not using ABI header"
**Describe the bug**
Userspace has no way of informing FW or driver of ABI used for binary kcontrol data.

**Expected behavior**
Userspace will use struct sof_abi_hdr as header for all binary kcontrol structures.

**Impact**
showstopper. will cause random breakage in the future.

Needs added to FW headers, kernel headers and userspace tools.

[2019-05-09 21:00] lgirdwood commented on #1403
@plbossart fyi, needs to be done prior to next kernel release.

[2019-05-09 21:16] lgirdwood commented on #1398
@mmaka1 ACK.

[2019-05-09 21:22] lgirdwood commented on #1401
@tlauda I've updated locally but I still see the same issues. Can you confirm the code is generated for CNL ?

[2019-05-09 21:24] lgirdwood commented on #536
@marcinx-zielinski I mean anything that can be validated must be validated.

[2019-05-09 21:32] lgirdwood commented on #1403
@plbossart I see this has just been removed from kernel uapi, so it just a FW/tool change now.

[2019-05-09 21:44] lgirdwood commented on #1280
@tlauda
1) playback loopback PCM to capture PCM example is first user sets the pipe params. i.e. if capture params come first then they are immutable in the pipeline until capture is closed. i.e. params can be locked based on pipe usage count.
2) mixer does not change any params. Rules are same as 1. If two PCMs are connected to a mixer, then params are immutable after the first PCM has configured

[2019-05-10 06:47] juimonen commented on #1380
@plbossart: was not involved in it too much, only barking...

1) so in user space the topology includes PROCESS_TYPE token which is a string, like "MUX".
2) in kernel we have a mapping array from this string to sof_comp_type, uint32 (topology.h)
3) in firmware the component is registering itself into a global list with sof_comp_type (topology.h)
4) in component creation the comp type (uint32) comi

[2019-05-10 06:51] juimonen commented on #1380
@plbossart so why it is working is that topology/kernel maps the SOF_PROCESS_TYPE to sof_comp_type, but firmware is not using SOF_PROCESS_TYPE at all.

[2019-05-10 07:03] juimonen commented on #1380
https://github.com/thesofproject/sof/pull/1404

[2019-05-10 07:59] jajanusz commented on #1392
I can confirm, I also noticed that SRC with conversion to lower rates doesn't work. I can tell you that it didn't work even before I started fixing testbench, so I continued testing only with converstions to higher rates (just to see if I didin't break it more).

[2019-05-10 10:55] kv2019i commented on #1346
I now got an OK exception dump (for another bug) on WHL (cnl image), built with GCC, so at least this is not happening in all cases. Rootcause still unknown.

[2019-05-10 11:10] YvonneYang2 commented on #1297
Test on CML labtop, no obvious volume delay via DMIC capture.

Test enviroment as below:
Rander UCM https://github.com/RanderWang/intel-UCM
Kernel repo：d698c4f
https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: 030c81c
https://github.com/thesofproject/sof/commits/master |
Topology: https://github.com/thesofproject/sof/commits/master . Same as above SOF repo
file: tools/top

[2019-05-10 11:24] keyonjie opened #1406 "KWD: Sometimes wait for buffer empty timeout issue happens during draining"
**Describe the bug**
Sometimes wait for buffer empty timeout issue happens during draining, especially when dma trace is more verbos.

**To Reproduce**
1. run KWD capture pipeline:
arecord -Dhw:0,8 -M -N -c 2 -f S16_LE -r 16000 tmp.wav
2. clap your hands.

**Expected behavior**
keyword is detected and keyword data is draining, PCM will start to get captured data from FW.

**Impact**
The capture pi

[2019-05-10 11:34] jajanusz commented on #1375
@plbossart It has no support in kernel but it was added+approved there https://github.com/thesofproject/sof/pull/1036 and ABI MINOR was increased, I think it was also before we agreed how to managed ABI changes. It is implemented in FW, struct is needed in uapi cos it's send via IPC, it works with slim driver, just kernel missed this feature.

[2019-05-10 11:53] jajanusz commented on #1374
@plbossart @akloniex I see problem here: https://github.com/thesofproject/sof/commit/25cd7795cc1afa0eab6ac3e2fe96b43483f27297#diff-aade49d1736cebfadcd11a13ed068aafR42

We broke uapi headers here by including something from arch in uapi.
This needs to be done in a way that doesn't rely on arch-specific things like `XCHAL_NUM_AREGS`.

[2019-05-10 12:06] jajanusz commented on #1374
There were some ideas according how it should be done https://github.com/thesofproject/sof/pull/591#discussion_r234635901 but looks like everybody forgot and kernel never used it as it should? - @mmaka1 @lgirdwood @plbossart Please figure out what you want to do with it.

[2019-05-10 12:10] jajanusz commented on #1385
@lgirdwood I thought it depends on how you use rimage. For FW that is made from 1 file it has to have all these sections, but when bootloader is in seperate file then some sections are there and rest are in main binary. So it should be error for 1 file and no error when sections are just in another files.

[2019-05-10 12:14] jajanusz commented on #1377
WIP #1405

[2019-05-10 12:14] jajanusz commented on #1378
WIP #1381

[2019-05-10 12:17] tlauda commented on #1401
@lgirdwood I haven't checked the binary, but compared GCC build logs in CI and they are basically the same, meaning same parameters are used. Also I've checked make files and other stuff and everything is the same for both APL and other platforms. I don't see any other root cause than toolchain.

[2019-05-10 12:27] tlauda commented on #1406
@keyonjie Draining is done on passive level, so the only potential problem I can see is preemption in hda_dma_wait_for_buffer_empty(). If it happens at the wrong time, we can throw an error without even checking the BNE value.

Check with this change:
[code]

[2019-05-10 13:07] plbossart commented on #1375
I don't see a reason why you have an IPC that is only relevant for the slim driver. This makes no sense. Either it's a fully supported feature exposed in the right way or it's not.

[2019-05-10 13:11] plbossart commented on #1374
@lgirdwood can you look into this, I don't have any context and you were the main reviewer on this one?

[2019-05-10 13:21] jajanusz commented on #1375
I just mentioned it works already with silm dirver and only kernel is behind. You can use it afaik.

[2019-05-10 13:27] plbossart commented on #1375
use it to do what? what's the feature here? what are the topology tokens?
if you have a feature that's only tested with the slim driver, is this really a feature we support?

[2019-05-10 13:41] slawblauciak commented on #1375
The structure is used to configure the detect_test component with certain detection parameters.
It's currently passed in the topology directly:
https://github.com/thesofproject/sof/blob/master/tools/topology/m4/detect_test_coef.m4

[2019-05-10 13:58] plbossart commented on #1380
As commented on #1404, this issue masks a problem. We have to stop using enums for process_type.

[2019-05-10 14:02] plbossart commented on #1375
so is this like the eq parameters, something that is known by the apps but is just a generic IPC with a structure that's not known to the kernel?
When you say it's tested with the slim driver, I think we are blurring layers. It's rather the application using the slim driver that sets those values, yes?

[2019-05-10 16:10] singalsu commented on #1392
I've made a fix PR into #1409.

@jajanusz Yep, you are right it was broken before your work. Due to inclusion of volume into pipeline everything but 24 bit mode tests failed.

[2019-05-10 16:16] singalsu commented on #1392
The problem with volume is that testbench does not set it up properly. I need to work with it next (can add gain and THD+N cases for it).

I wan't to add EQ test cases as well since currently there's no proper validation. I had the tests running in an ancient version of testbench that stopped being compatible so at the moment I can't change the processing arithmetic there without worry of some aud

[2019-05-10 16:36] jajanusz commented on #1375
Slim driver (+python scripts) has to use the same api as kernel, it uses the same IPCs/structs to run FW. Just look at it as simple, slow driver that reloads full fw for every testcase (unless there is some specific scenario to have hot boot). So if it works with slim driver you should be able to use the same functionality from the "normal" driver.

[2019-05-10 19:40] tlauda commented on #1396
FW logs indicate that HDA Link pointer is stuck after trigger start, so there is something wrong with the Link DMA on the kernel side.

[2019-05-11 10:02] lgirdwood commented on #1346
@kv2019i interesting, this implies differences to window registers may impact the output. I will be pushing a qemu update shortly that will let you trace execution including functions and registers. This should show how window registers are impacting the output.

[2019-05-11 10:07] lgirdwood commented on #1385
@jajanusz ok make sense, fwiw rimage can take multiple ELFs as args and your right basefw would need to generate errors but this would be info for fw runtime modules.

[2019-05-11 10:10] lgirdwood commented on #1401
@tlauda thanks, this one is confusing. I need to check again, I rebuilt APL GCC with the updates but I've lost all this work as my NUC has died. I'll revisit when I'm back from travelling.

[2019-05-11 10:15] lgirdwood commented on #1374
@plbossart will do, my understanding this update was internal after @akloniex comment. @akloniex can you update the C header in the ABI to match this PR data format change since it is actually external.

[2019-05-12 09:21] #1378 closed

[2019-05-13 07:42] keqiaozhang opened #1411 "[BUG] KWD: HDMI playback failure when using kwd tplg"
**Describe the bug**
HDMI playback failed with invalid channel -1, this issue only happens with sof-glk-da7219-kwd.tplg, no such issue after switching to sof-glk-da7219.tplg.

**To Reproduce**
aplay -Dhw:0,5 -f dat -c 2 audio.wav

**Expected behavior**
HDMI playback should works well without errors.

**Impact**
unable to play audio through HDMI.

**Environment**
1) kernel: sof-dev/35d7759478
2) fi

[2019-05-13 08:03] keqiaozhang opened #1412 "[BUG]KWD: DMIC(pcm 99) recording speed is doubled with kwd tplg"
**Describe the bug**
I tried the sof-glk-da7219-kwd.tplg on glk, but found the dmic(pcm99) 4ch recording speed is double, 2ch recording has no such issue.

**To Reproduce**
1. arecord -Dhw:0,99 -f s16_le -c 4 -r 48000 dmic.wav -vvv
2. Then use audacity to play the recorded wav file.

**Expected behavior**
normal speed

**Impact**
double speed

**Environment**
1). kernel: sof-dev/35d7759478
2). irm

[2019-05-13 08:11] kv2019i opened #1413 "[Bug][CML] Pipeline will interact with each other with 3 aplay"
**Cloned and moved bug from Linux to SOF, original bug thesofproject/linux#898 **

**Describe the bug**
This issue can occur when 3 pipeline playback are running in different terminals, when trigger the 3rd will cause HDMI playback stop with I/O error.

**To Reproduce**
1. open two terminals and do playback on each terminal with different pcm device.
terminal 1 DP playback: aplay -Dhw:0,4 -f dat -

[2019-05-13 08:15] kv2019i commented on #1413
Moved the bug here as this seems to be a firmware side issue (please see the the Linux side issue, there are a couple of logs and comments that might be useful). @bkokoszx ok for you to be in the initial assignee? I can help to run test with the Linux scenario and can help with the debug.

[2019-05-13 08:33] tlauda commented on #1413
@kv2019i To be honest, it looks more like kernel issue than FW issue. What is happening is that right after receiving params for the third stream, the Host DMA and Link DMA for the second stream stop transmitting data. Xrun is reported on the second stream, because Link DMA pointer hasn't increased, so we try to recover, but also Host DMA isn't moving (hence buffer full timeout).

[2019-05-13 08:42] keyonjie commented on #1413
This sounds interesting, can anyone print out dma channel indices for both host DMA and link DMA for those streams?

[2019-05-13 09:14] kv2019i commented on #1413
Ok, it seems with the sof+linux fix for channel allocation, this issue is fixed -> thesofproject/sof#1354

[2019-05-13 09:15] keqiaozhang opened #1414 "[BUG] WoV: DSP panic after dmic(pcm8) recording is waked up"
**Describe the bug**
This issue happens after waking up the dmic recording via the "keyword"(Clap hard), then dmic recording will stop there(need ctl+c to kill it), the dmesg shows that DSP is crashed.
I can only reproduce this issue with test recipe 1 and cannot reproduce this issue with test recipe 2.

**To Reproduce**
1. arecord -Dhw:0,8 -M -N -r 16000 -f s16_le -c 2 wov.wav -vvv
2. clap hard t

[2019-05-13 12:06] jajanusz commented on #1374
@lgirdwood @plbossart I'll handle that with changing `uint32_t ar[XCHAL_NUM_AREGS];` to vararray, but you need to handle it on kernel side by reading `sof_ipc_dsp_oops_arch_hdr.totalsize` instead of `sizeof(sof_ipc_dsp_oops_xtensa)`

[2019-05-13 13:14] slawblauciak commented on #1375
Exactly

[2019-05-13 13:56] plbossart commented on #1375
ok, so we can ignore this at the kernel level.
But we should still have an app which makes use of this component. @ranj063 @keyonjie what's missing here to perform the same tests with the kernel as with the slim driver?

[2019-05-13 13:58] plbossart commented on #1374
so we have no backwards compatible option here, right?

[2019-05-13 16:27] juimonen commented on #1280
@tlauda I might be understanding it wrong, but as I see it, the propagation of parameters to connected pipelines is not our problem. Problem is when to schedule those pipelines. Now with mixer we have "overlapping" scheduling, so depending on pcm we might need to schedule whole pipeline or parts of 2 pipelines. Now despite how we define or chop our pipelines, someone still needs to decide which pa

[2019-05-13 16:54] wenqingfu commented on #890
@stevyan @mengdonglin to verify

[2019-05-13 17:32] tlauda commented on #1280
@juimonen Currently scheduling is the least of our worries. Current logic will work correctly as long as there won't be any complicated cases. Mixer pipeline will be the one driving the scheduling of connected host pipelines, so it should be started along with the first started connected host stream. The problem is who should decide when to run mixer pipeline:
1. Host by explicitly sending ipc alo

[2019-05-13 17:47] xiulipan commented on #1375
@keyonjie are we using `sof_eqctl` now to send `sof_detect_test_confi` to key_dectection?

[2019-05-13 17:48] wenqingfu commented on #1403
Liam agreed to fix it

[2019-05-13 22:18] jajanusz commented on #1374
@plbossart I can replace `XCHAL_NUM_AREGS` with something like `MAX_NUM_AREGS` and set it to highest from all platforms, but it'd be only temporary, final solution should work more like I proposed.

[2019-05-14 01:29] keyonjie commented on #1375
@plbossart @xiulipan yes, we are using sof_eqctl tool ATM to send detector config params, the config struct itself is transparent to kernel, but it need to be known by sof_eqctl or topology writer or any other apps who want to configure that.

[2019-05-14 02:54] keyonjie commented on #1406
PR#1415 help?

[2019-05-14 02:55] mengdonglin commented on #1406
@keqiaozhang please verify https://github.com/thesofproject/sof/pull/1415

[2019-05-14 02:56] keyonjie commented on #1411
hda-dmac: 7 channel 0 HDA Link DMA doesn't support irq scheduling

@tlauda @mrajwa @jajanusz  what happens here?

[2019-05-14 03:00] keyonjie commented on #1412
@singalsu can you help answer if we can support FIFOA in 4 channels and FIFOB 2 channels simultaneously?

[2019-05-14 03:05] keyonjie commented on #1414
Tomek's sof PR#1415 should be helpful for this?

[2019-05-14 04:34] xiulipan commented on #1375
@keyonjie @lgirdwood @plbossart
So we can say that this header in uapi is needed for users of SOF FW but not needed in the kernel, right?

[2019-05-14 05:23] keqiaozhang commented on #1414
No DSP panic with below recipe:
firmware: sof-master/b73b9a + applying PR #1383 + reverting PR #1363
kernel: cros-sof-v4.14-rebase /dc349dd

[2019-05-14 06:03] ClarexZhou commented on #1396
0x60040000: GLB_STREAM_MSG: TRIG_START timed out occurred on CFL-s during playback stress test after running for about 210 times
Error Sof-logger:
[code]

Dmesg
[code]

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：9494607 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: b73b9a6 https://github.com/thesofproject/sof/commits/master +PR13

[2019-05-14 06:20] YvonneYang2 opened #1421 "[BUG][CML]Aplay not exist after do Suspeand & Resume with playback_Analog_50 times"
**Describe the bug**
Aplay not exist after do Suspeand & Resume with playback_Analog_50 times

**To Reproduce**

1. Set Suspeand & Resume with playback_Analog_50 times via command “aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero & sudo ./stress-s3.sh 50 1 1”

**Expected behavior**
Streaming will continuous playback during the 50 times test

**Impact**
Show "aplay not exist", but do aplay again can o

[2019-05-14 07:29] singalsu commented on #1412
@keyonjie It may be possible, I'll check it.

[2019-05-14 07:42] keqiaozhang commented on #1406
no above trace error with PR #1415 . But I run into below new error:
[code]

[2019-05-14 07:50] ClarexZhou opened #1422 "[BUG][CML]ipc timed out for 0x80010000: GLB_DAI_MSG: CONFIG after system boot up.(intermittent)"
**Describe the bug**
sudo reboot to do system reboot, ipc timed out for 0x80010000: GLB_DAI_MSG: CONFIG after system boot up.

**To Reproduce**
sudo reboot to do system reboot

**Expected behavior**
Bootup without any issues.

**Impact**
IPC timed out.

**Environment**
platform: CML laptop with ALC3204 codec
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：9494607 https://github.c

[2019-05-14 08:44] keqiaozhang opened #1423 "[BUG] KWD: failed to trigger DETECT9.0 and IPC error"
**Describe the bug**
This issue happens when doing the wov capture. The arecord  process just stop there and unable to wake up(clap hands hard).

**To Reproduce**
1. arecord -Dhw:0,8 -M -N -r 16000 -f s16_le -c 2 wov.wav -vvv
2. then arecord will stop there like below console output.
3. ctl+c to terminate arecord and check the dmesg and trace logger.

**Expected behavior**
keyword is detected and

[2019-05-14 09:02] sathyap-chrome opened #1424 "[BUG] Different IPC timeouts resulting in FW returning code 00000005"
**Describe the bug**
During warm boot cycling on CML platform we are reproducing the below IPC timeout resulting in topology load failing.

**To Reproduce**

Try warm boot cycling on CML platform
Upon boot, we fail at loading topology with these 2 error signatures

sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x40070000 size 12
sof-audio-pci 0000:00:1f.3: status: fw entered - code 00000005

[2019-05-14 09:06] YvonneYang2 opened #1425 "[BUG][CFL]ipc timed out for 0x50020000 size 108 after system boot up"
**Describe the bug**
sudo reboot to do system reboot, ipc timed out for 0x50020000 size 108 after system boot up.

**To Reproduce**
sudo reboot to do system reboot

**Expected behavior**
Bootup without any issues.

**Impact**
ipc tx: 0x50020000: GLB_COMP_MSG: GET_VALUE
IPC timed out

**Reproduce rate**
2/10

**Test recipe**
linux (topic/sof-dev): 7271e69
sof (master): b73b9a6
topology: sof-hda-gen

[2019-05-14 09:11] jajanusz commented on #1424
Same on seen on cml_drop 0002 as well along with attached topology and SOFv0.2 kernel.

Please point at one commit id. Prefereably master because there were many patches for IPC since cml drop.

[2019-05-14 09:14] sathyap-chrome commented on #1424
58de5323b9e1 topology: add demux topology for apl and cml
     Compiled Topology & firmware based on cml-004-drop-stable

[2019-05-14 09:23] tlauda commented on #1424
@sathyap-chrome Please also attach FW logs.

[2019-05-14 09:29] sathyap-chrome commented on #1424
I will reqeust validation to run sof logger - it was not run during this cycle. Can get logs only EOD tomorrow as this tests are run overnight due to boards limitation.,

[2019-05-14 09:38] tlauda commented on #1396
HDA Link problem. Please verify with the same changes as in #1413.

[2019-05-14 09:47] ClarexZhou commented on #1413
Error Not seen on CML laptop with thesofproject/sof#1354 and PR #895
**Environment**
platform: CML laptop with ALC3204 codec
Rander UCM https://github.com/RanderWang/intel-UCM
Kernel repo：9494607 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: https://github.com/bardliao/sof/tree/dell-test Which is commit id b73b9a64213240630d55e7b29ec19169727bd159 + PR #1354
Topology:

[2019-05-14 10:21] tlauda commented on #1406
@keqiaozhang Please fill the separate issue for the new finding.

[2019-05-14 10:21] keqiaozhang commented on #1414
Sorry for my mistake.
I found this issue with a workaround patch, but this workaround has some conflicts with PR #1363. but I didn't release it. So after removing the workaround and keep PR #1363 , there's also no DSP panic.  The results of sof-dev and cros-sof-v4.14-rebase are same now.
So let's close this issue.
The workaround is from Keyon, I pasted it as below for your reference.
[code]

[2019-05-14 10:21] #1414 closed

[2019-05-14 10:23] keqiaozhang commented on #1406
Please refer to #1423

[2019-05-14 10:28] singalsu commented on #1412
@keyonjie I'm able to repeat the issue. The decimator is forced into two channels configuration due to latter request from topology. The capture take double time and runs at half of intended rate (sort of -- the stereo channels populate the 4ch stream). This is as intended but we can add the non-symmetrical configuration as new feature. It wasn't a requirement before.

I'll see if a quick topology

[2019-05-14 10:50] keyonjie commented on #1412
Thank you so much, @singalsu makes sense.

[2019-05-14 11:11] michalgrodzicki commented on #1425
@YvonneYang2 please provide detailed reproduce step.

[2019-05-14 12:08] marcinx-zielinski opened #1429 "[IMPROVEMENT] Add IPC structs' fields documentation"
We need to have our IPCs documented to know clearly what is the purpose/role of and possibly constraints on each of the IPC struct's fields. For example, now we have:
[code]
This doc assumes that a programmer has in-depth code knowledge: what are _offset_, _id_? Another example:
[code]
What is the acceptable range of _comp_id_?

[2019-05-14 12:10] ClarexZhou commented on #1422
Error occurred twice (2nd time reload and the 34th reload)during modules reload test on cml laptop.
Error logger
[code]

[code]
[logger_all.log](https://github.com/thesofproject/sof/files/3177516/logger_all.log)
[boot_fail.log](https://github.com/thesofproject/sof/files/3177518/boot_fail.log)

[2019-05-14 12:30] tlauda commented on #1423
@keqiaozhang Traces are missing in logger-t.log. File logger.log contains errors which are not seen in the logger-t.log. Could you make sure you are not using FW with additional custom changes as in the FW panic issue?

[2019-05-14 12:43] tlauda commented on #1422
@ClarexZhou Please retest without #1354 applied.

[2019-05-14 12:58] plbossart commented on #1375
ok so we will ignore this file in the kernel so closing this bug.
@keyonjie and team, you need to fix the sof_eqctl application. It has officially nothing specific to EQ since you use it for other purposes.

[2019-05-14 12:58] #1375 closed

[2019-05-14 13:24] lgirdwood commented on #1425
dmesg shows DSP has completed IPC.
[code]

[2019-05-14 13:27] singalsu commented on #1412
@keyonjie The topology trick cannot be used, the driver always passes DAI configuration in order 0 -> 1.

However I was able to add this new feature into FW driver code. The non-symmetrical configuration works. I just successfully test capture of 32 bit 4 channels 48 kHz from DAI 0 and capture of 16 bit 2 channels 16 kHz from DAI 1. I need to test more to make sure I didn't break something else an

[2019-05-14 14:09] keyonjie commented on #1406
@tlauda I still seeing occasional "wait for buffer empty timeout" issue in my KWD capture draining case, after applied PR #1415

[2019-05-14 14:55] plbossart commented on #1374
it looks like this never worked end-to-end, so we can claim there's no ABI update needed. Let's add this with the 'right' solution, and in the kernel we'll add this as a consolidation in MINOR6.
@lgirdwood happy with this?

[2019-05-14 15:05] wenqingfu commented on #1396
with 1354 and 895 integrated (aka, the fixes mentioned in #1413), there is still occurrence

[2019-05-14 15:13] wenqingfu commented on #1412
@singalsu can you provide the PR today?

[2019-05-14 15:54] kv2019i commented on #1374
@plbossart wrote:

I would go for this. The more wide-spread method for parsing dsp oopses has been relying on debugfs exception file that was not impacted by this (it used the sram window size info) and the info we have parsed for kernel message dumps has had the issues for many months, so this seems like this is now a bugfix (to reflect the headers to the real ABI).

[2019-05-14 16:13] jajanusz commented on #1411
@keqiaozhang @keyonjie Did #1430 help?

[2019-05-14 16:59] singalsu commented on #1412
@wenqingfu @keyonjie There's PR #1432 that you can start testing with. I need to fix the bug with overlapping capture tomorrow. You don't need to use my test topologies, the sof-glk-da7219-kwd.tplg should be compatible with this driver enhance as such.

[2019-05-14 19:08] tlauda commented on #1406
@keyonjie Could you try also with #1426? It seems that APL needs longer time to fully exit L1.

[2019-05-14 19:20] lgirdwood commented on #1280
@tlauda @juimonen host will not directly schedule pipelines, but will indirectly schedule via
1) PCM device trigger()
2) kcontrol based trigger().

[2019-05-14 20:08] plbossart commented on #1380
I am not going to lay on the tracks on this one since it's not really an ABI issue but rather an miss on how we do component integration. It's likely better to file another issue to track this for 1.4.

[2019-05-15 01:02] keqiaozhang commented on #1423
@tlauda
The attached trace logs are exactly the logger outputs, I just confirmed it again and got the same traces. the code base is clean without PRs or workarounds.

[2019-05-15 01:12] keqiaozhang commented on #1411
@jajanusz
Confirmed that this issue can be fixed by PR #1430.

Test recipe:
Firmware: glk-012-stable-branch/59ad3 + PR #1430
Kernel: sof-dev/35d7759478
Platform: GLK Ubuntu 18.04

[2019-05-15 01:29] keqiaozhang commented on #1412
Thanks @singalsu.
Yes, PR #1432 can fix the 4ch dmic capture issue, but this PR also has an impact on 2ch DMIC capture. The 2ch capture is not that clear and the speed is also halved. Please help to check.

[2019-05-15 02:06] YvonneYang2 commented on #1422
Error occurred once when do reboot stress test 53 times on CFL.

**ENV**
Rander UCM https://github.com/RanderWang/intel-UCM   
Kernel repo：9494607 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Firmware repo: b73b9a6 https://github.com/thesofproject/sof/commits/master +PR1354  
Topology: https://github.com/thesofproject/sof/commits/master . Same as above SOF repo
file: tools/topology

[2019-05-15 02:16] keyonjie commented on #1406
@tlauda looks #1426 can improve it, still seeing the issue with lower reproduce rate.

[2019-05-15 05:36] tlauda commented on #1423
@keqiaozhang Have you tried with #1383? It looks like there is some mismatch between components' states.

[2019-05-15 06:03] keqiaozhang commented on #1423
@tlauda
Yes, this issue still can be reproduced with #1383 .

Test recipe:
kernel: sof-dev/44443c
firmware: glk-012-stable-branch/59ad3 +pr #1383

[2019-05-15 07:06] akloniex commented on #631
One of ways to provide echo reference signal would be to use Demux component implemented in https://github.com/thesofproject/sof/pull/1275 and used as such in topology in https://github.com/thesofproject/sof/pull/1316 .
I've also discussed another approach with @lbetlej and @mmaka1 to create new virtual dai component type which could be connected/bound via IPC to an existing dai and would serve as

[2019-05-15 07:41] singalsu commented on #1412
I tested it with UP2 and I didn't have issue with 2ch capture. The only thing that failed was the mentioned simultaneous capture from two DMIC DAI but I assume you did test it. I have the difference that I created the test topology for 4ch & 2ch from scratch and used fresh git for both kernel and firmware. I'll try to convert the topology from GLK to UP2 see if the issue is there. I didn't yet try

[2019-05-15 07:52] singalsu commented on #1412
@keqiaozhang Also could you test this PR with a much simpler topology like sof-apl-dmic-a4ch-b2ch.m4 to eliminate that issue is from some other component.

[2019-05-15 07:55] juimonen commented on #631
@akloniex the topology in 1316 already has a virtual widget for BE connection. Virtual widgets are not created at FW side at all, they just provide a way for alsa/asoc to connect incomplete graph from fe to be. I guess you mean just "normal" new component, which would be the start of the echo ref pipe from demux onwards?

The problem with echo ref pipe is that it should be only scheduled when its

[2019-05-15 08:19] keqiaozhang commented on #1423
This issue is not reproducible with PR #1434 .

[2019-05-15 09:21] keqiaozhang opened #1437 "[BUG]WoV: there will be noise occasionally in the first 2 seconds"
**Describe the bug**
During the validation, I found that there're some noise in the draining data(first 2 seconds) occasionally. There're no obvious errors in dmesg and trace. The noise wav is attached as below.
[wov.zip](https://github.com/thesofproject/sof/files/3181813/wov.zip)

**To Reproduce**
1.  play a sound on the speaker first as the capture input.
 $ aplay -Dhw:0,0 -f dat -c 2 audio.wav

[2019-05-15 09:52] keyonjie commented on #1437
@mrajwa looks there is noise in the draining data sometimes, can you help check?

[2019-05-15 10:27] YvonneYang2 commented on #1425
Reproduced steps:

1. Update the test recipe on the platform, do system reboot,check the dmesg.
2. Do aplay or arecord, check the dmesg.
3. Then do system reboot, dmesg shows this ipc-timeout issue

The ipc timeout issue only shows twice during my yesterday test.

[2019-05-15 10:40] keqiaozhang commented on #1412
@singalsu
Please refer to the attachment for both 4ch and 2ch recorded wav files on my GLK.
For the 4ch capture, only channel 1 and channel 2 have data.
For the 2ch capture, the sound is light, please turn up the volume to check it.
[dmic-2ch.zip](https://github.com/thesofproject/sof/files/3182186/dmic-2ch.zip)
[dmic-4ch.zip](https://github.com/thesofproject/sof/files/3182189/dmic-4ch.zip)

[2019-05-15 10:42] akloniex commented on #631
@juimonen
I mean completely separate echo pipeline, from topology point of view. This virtual dai that would 'listen' to data played through related dai and duplicate it via virtual dma, virtualization of said dai would be that it is not associated with any HW components, but other than that it would act as if was a 'real' dai component. There would be no additional components involved in the play

[2019-05-15 11:30] juimonen commented on #631
@akloniex ok I see, Yes definitely interesting to try out...

[2019-05-15 12:42] tlauda commented on #1406
@keyonjie Could you try with L1SEN = 0? It can be set on the host side.

[2019-05-15 13:42] tlauda commented on #1421
@YvonneYang2 Looks like kernel issue:
[code]

Please close this one and reopen in thesofproject/linux.

[2019-05-15 14:40] singalsu commented on #1412
@keqiaozhang Just to confirm things which topology and firmware did you use for this?

The 4ch 48 kHz recording looks quite OK to me. Though I'm not sure about pitch even if know this song. Is the 5s wav clip length the time you specified for arecord -d xx and with time command reported the recording task to spend? From which PCM or -Dhwx,y was this captured from.

The 2ch recording has the non-co

[2019-05-15 15:29] singalsu commented on #1412
To simplify things I created this test topology for glk. For me when using my DMIC PR #1432 capture works with good quality for both recording devices. Can you please try this there to confirm.

[code]

[2019-05-15 15:31] singalsu commented on #1412
I just ran the test this way

[code]
The resulting wav files are attached. Please compare if you can get similar result.
[glk-rec-si.zip](https://github.com/thesofproject/sof/files/3183281/glk-rec-si.zip)

[2019-05-15 15:43] singalsu commented on #1412
Also when inspecting the waveform (subtract channels 1 and 2) the result is all zeros so it confirms our GLK device has only one microphone. The single microphone drives both L and R slots of bus into PDM0 so it appears as stereo or dual mono stream.

[2019-05-15 22:34] wenqingfu commented on #1423
1434 goes to a dev branch, how about the status of these commits go into master branch? @keyonjie

[2019-05-16 00:32] fredoh9 opened #1443 "[BUG][BYT] nocodec loopback recording has only silence"
**Describe the bug**
For BYT Minnowboard, Loopback recording has only silence. Daily CI build, 5.1.0-daily-nocodec-20190516 is used. Loopback in APL UP2 nocodec mode worked fine. Linux driver parse the tplg and set ssp.quirks(=64).

[   13.852957] sof-audio-acpi 80860F28:01: tplg: config SSP2 fmt 0x4001 mclk 19200000 bclk 2400000 fclk 48000 width (24)25 slots 2 mclk id 0 quirks 64

sof dsp may not

[2019-05-16 01:28] keyonjie commented on #1423
@wenqingfu there are PRs for all those 6 commits, but are waiting for reviewing and comments, PR#1365 is controversial, @tlauda suggest to use #1383(need update to add trigger dis-propagate, I have commented there) to replace it.

[2019-05-16 01:39] keyonjie commented on #1423
sorry, @wenqingfu just realized that #1365 has been merged by Liam, thanks. So now only #1427 #1435 #1426 #1430 and #1415 are on the fly.

[2019-05-16 02:01] keyonjie commented on #1406
@tlauda sorry, don't get you with L1SEN = 0. Are you meaning FDHDL1E bit in SVCFG?

[2019-05-16 02:11] keyonjie commented on #1406
Once the issue happened, if we try to run "arecord" again, DSP panic from FW:

[code]

[2019-05-16 02:40] YvonneYang2 commented on #1421
OK. Track the issue with #951. Close the bug.

[2019-05-16 02:40] keqiaozhang commented on #1412
@singalsu
There are some misunderstandings between us, the 2ch dmic recording issue is from PCM99. Sorry, I didn't describe it clearly.  pcm99 4ch and pcm8 2ch recording devices works with good quality to me also.
Below are the test commands for each device. The songs are the same. For pcm99 2ch, real time is not right.
1. pcm99 2ch 48k recording
[code]
[pcm99-2ch-48k.zip](https://github.com/theso

[2019-05-16 02:40] #1421 closed

[2019-05-16 02:49] keyonjie commented on #1412
Hi @singalsu you haven't run the error test case what keqiao run here:
$ time arecord -Dhw:0,99 -f s16_le -c 2 -r 48000  pcm99-2ch-48k.wav -d 10

[2019-05-16 02:58] keyonjie commented on #1412
@singalsu not sure if that(using only 2 channels doesn't work with DMIC0 which is FOUR_CH_PDM0_PDM1 configured) is under your expectation or not.

[2019-05-16 05:16] sathyap-chrome commented on #1424
Attached are sof logger with corresponding dmesg logs too.
I've also attached 1 sof logger of an iteration where audio works fine.

[dmesg_failed_iteration_2.txt](https://github.com/thesofproject/sof/files/3185498/dmesg_failed_iteration_2.txt)
[sof_logger_failed_iteration_2.txt](https://github.com/thesofproject/sof/files/3185499/sof_logger_failed_iteration_2.txt)
[sof_logger_failed_iteration1.txt]

[2019-05-16 06:57] keyonjie commented on #1406
I tried non-blocking mode also, though we won't log out "wait for buffer empty timeout", the FW will hang and there is SA warning in error log:

[code]

[2019-05-16 07:22] singalsu commented on #1412
@keyonjie No, the capture channels count cannot be changed after it has been defined in topology. The DAI does not pass the channels count to DMIC driver. If the topology defines the DMIC DAI as 4ch all capture must be 4ch. Isn't it the same with SSPs too?

[2019-05-16 07:58] keyonjie commented on #1412
Yes, make sense, the same with SSPs, thank you for confirming.

[2019-05-16 08:11] keyonjie commented on #1412
@keqiaozhang can you help verify if simultaneously capture for 99 and 8 PCM works fine?

[2019-05-16 08:27] jajanusz commented on #1380
Closing, because we agreed to solve root of the problem (definitions) later and then maybe align API, but it's going to be another issue.

[2019-05-16 08:27] #1380 closed

[2019-05-16 08:31] jajanusz commented on #1235
Closing, because it's not a major issue and solving it would require major refactor (not worth), so I'd have that in mind and refactor it when there will be opportunity.

[2019-05-16 08:31] #1235 closed

[2019-05-16 08:40] keyonjie commented on #1437
@keqiaozhang can you check if https://github.com/thesofproject/sof/pull/1444 is helpful for this issue?

[2019-05-16 08:42] keqiaozhang commented on #1411
This issue is fixed on glk-012-stable-branch/94e0f0b.

[2019-05-16 08:42] #1411 closed

[2019-05-16 09:45] keqiaozhang commented on #1412
@keyonjie
Confirmed that pcm99-4ch-48k and pcm8-2ch-16k capture can work at same time.

[2019-05-16 10:24] Jiangxinx commented on #1443
I can't  observe this issue on daily test.

***recipe***
linux (topic/sof-dev) : 465c8e40
sof (master) : 73cefecd
topology : sof-byt-rt5651.tplg & sof-byt-nocodec.tplg

[2019-05-16 12:51] singalsu commented on #1412
@keqiaozhang Thanks!

[2019-05-16 14:32] #1374 closed

[2019-05-16 15:36] fredoh9 commented on #1443
@Jiangxinx can you share output file of lookback? I don't think DSP in BYT support LBM. This is problem on nocodec mode. I don't think dailytest test loopback( playback+recording).

[2019-05-16 21:50] mrajwa commented on #1437
@keqiaozhang, I can confirm I have heard similar issue some time ago but with newest fixes from integration branch it is no longer reproducible.

[2019-05-17 01:12] keqiaozhang commented on #1423
This issue is fixed in glk-012-stable-branch/90700b.

[2019-05-17 01:12] #1423 closed

[2019-05-17 01:23] keqiaozhang commented on #1412
@mrajwa
PR #1432 is landed on master branch. Please help to merge #1446 to glk-012-stable-branch.
They are the same PR but for different branches.

[2019-05-17 02:19] Jiangxinx commented on #1443
@fredoh9 Do you have reworked you device? Here are my environment and test step.
 ***Environment***
![1754268604](https://user-images.githubusercontent.com/44258626/57898495-e6d4be00-788b-11e9-9064-b3234d0a0ee9.jpg)

linux (topic/sof-dev) : 2291b8c2
sof (master) : f04bc83f
topology : sof-byt-nocodec.tplg

***Step***
aplay -Dhw:0,0 -fS16_LE -c2 -r 48000 audio.wav & arecord -Dhw:0,0 -c2 -fS16_LE tes

[2019-05-17 02:35] keyonjie commented on #1406
Hi @tlauda applied your hda dma debug patch, error log as below:

[code]

[2019-05-17 05:25] xiulipan commented on #1443
@Jiangxinx @fredoh9
All nocodec should work with nocodec tplg to make loopback in SSP drvier.
@fredoh9
Please fix the missing part in byt/ssp.c and hsw/ssp.c to set lbm bit in ssrc1

[2019-05-17 06:04] keqiaozhang commented on #1437
@mrajwa
Unfortunately, this issue is still reproducible to me. I tested it with top glk-012-stable-branch, but 16 out of 30 are failures. I attached 2 of the failures for your reference.
[test-22.zip](https://github.com/thesofproject/sof/files/3190086/test-22.zip)
[test-28.zip](https://github.com/thesofproject/sof/files/3190089/test-28.zip)

Test recipe:
kernel: sof-dev/0f3e6
firmeware:glk-012-sta

[2019-05-17 07:55] YvonneYang2 commented on #1396
Issue occurred once after do steps below:
1.System reboot with headphone connected.
2.Paplay 1.wav
3.Connect the external DP monitor, and choose to HDMI2/DP output setting in Sound settings -Output.
4.Switch the setting between headphone and HDMI2/DP2 in Sound settings -Output.

**Environment**
Rander UCM https://github.com/RanderWang/intel-UCM/tree/hdmi
Kernel repo：df06e42 https://github.com/thes

[2019-05-17 10:53] singalsu commented on #1392
The PR with fix is merged so this can be closed.

[2019-05-17 10:53] #1392 closed

[2019-05-17 12:32] lgirdwood commented on #1413
@kv2019i can we close ?

[2019-05-17 12:50] singalsu commented on #1412
The PR is now merged to glk-012-stable too.

[2019-05-17 15:05] #1377 closed

[2019-05-17 23:55] wenqingfu commented on #1412
thank you, @singalsu @keqiaozhang

fixed by #1432

[2019-05-17 23:55] #1412 closed

[2019-05-20 02:37] keqiaozhang opened #1454 "[BUG]EC: Incorrect pipeline state for stream start & stop with pusleaudio on WHL-I2S"
**Describe the bug**
There's one IPC error after booting on WHL-I2S, this ipc error is for  0x60050000 size 12.
But playback and capture are still functional.

**To Reproduce**
1. reboot the system and check the dmesg and trace directly.

**Expected behavior**
No errors or warning.

**Impact**
no direct impact so far.

**Environment**
1) Kernel: sof-dev/901cd+PR870
2) Firmware: cml-004-drop-stable

[2019-05-20 07:11] keqiaozhang commented on #1437
This issue is fixed on glk-012-stable-branch/d7c4d1.  This issue can be closed.

[2019-05-20 07:11] #1437 closed

[2019-05-20 08:45] kv2019i commented on #1413
@lgirdwood I was waiting for 1354+895 to be actually merged before closing.

[2019-05-20 14:21] lyakh commented on #1395
A suspected triplicate of https://github.com/thesofproject/linux/issues/876 and #1342

[2019-05-20 14:42] dbaluta opened #1458 "[FEATURE] Switch to SPDX license identifiers"
What is your take on switching to SPDX identifiers [1]? The license text at the beginning of each file makes code harder to read.

[1] https://spdx.org/ids-how

[2019-05-20 15:10] plbossart commented on #1458
need to consult with Intel Legal, stay tuned.

[2019-05-21 10:08] keqiaozhang commented on #1454
This issue is introduced by Pulseaudio,  no such error when PA is disabled.

[2019-05-21 10:32] keyonjie commented on #1406
Now this issue is much more easier to reproduce with smaller period-size set, e.g.:

./aplay -C -Dhw:0,8 -M -N -c 2 -f S16_LE --period-size=400 --test-nowait -r 16000 tmp.wav -vvv

[2019-05-21 10:43] keyonjie commented on #1406
I root cause this is because of we are draining too fast(e.g. finished draining ~130KB data in ~6ms), arecord will reading in period-size, each read takes about 50~100us, so here if we set period-size<2000, the issue might happen, the smaller period-size set, the easier we can duplicate the issue.

So, the conclusion is:
To achieve faster(can as fast as 6ms) draining, setting larger period-size is

[2019-05-21 10:49] tlauda commented on #1406
@keyonjie What is the exact rootcause? DMA is stopped on the host side, because ALSA thinks we are capturing too much data too fast?

[2019-05-21 12:42] singalsu opened #1461 "[BUG] WHL DMIC capture - DC filter on startup"
This is a FW side copy of Linux issue https://github.com/thesofproject/linux/issues/960.

On WHL it is seem that the HW gain ramp for DMIC capture is a bit too short. There's a relateively large DC "thump" waveform in the beginning.

**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
Please also read https://thesofproj

[2019-05-21 13:29] bkokoszx commented on #1388
@xiulipan
Do you mean for example that TRACE_BOOT_SYS_SCHED (0x3500) appears after TRACE_BOOT_PLATFORM_CLOCK (0x4150)?

[2019-05-21 14:03] sathyap-chrome commented on #1424
@tlauda
Hi, gentle ping. Are the logs in previous comment useful.
is there some temp fix i can try for the same ?

[2019-05-21 14:58] sathyap-chrome opened #1463 "[BUG] CML : IPC CTX_SAVE S3 timeout failed due to ipc error -110"
**Describe the bug**
When S3 is attempted, there is IPC timeout during resume. And subsequent S3 also fails.
What have you tried to diagnose or workaround this issue?
From the signature, this seems to be similar to https://github.com/thesofproject/sof/issues/1342
Please also read https://thesofproject.github.io/latest/howtos/process/bug-tracking.html for further information on submitting bugs.

**

[2019-05-21 14:58] sathyap-chrome commented on #1342
Same issue is seen on CML S3 tests too.
https://github.com/thesofproject/sof/issues/1463

[2019-05-21 15:10] plbossart commented on #1458
Answer: using the SPDX header instead of license text is actually Intel's recommended practice

If anyone has an objection it's time to voice it now, or we'll go ahead and do it for all Intel-contributed files. Note that the same idea of using C++ comments for .c files and C comments for .h files applies.

[2019-05-21 16:19] michalgrodzicki commented on #1463
Hi @sathyap-chrome,
could you share FW/kernel git hashes which you used here?
Are you using typical HW configuration with I2S mode?

[2019-05-21 17:13] sathyap-chrome commented on #1463
The configuration is the typical i2s mode.
Kernel is latest set of upstream patches which is v6 patches of sof.

FW and Topology : (remotes/origin/cml-004-drop-stable) 3d1a95d414ab topology: add demux topology for apl and cml

[2019-05-21 22:09] lgirdwood commented on #1425
@YvonneYang2 can you redo this with trace disabled. @mengdonglin can advise on disabling trace.

[2019-05-22 01:34] keyonjie commented on #1406
@tlauda the sequence of the error happens like this:

The DMA copying data too fast-->
arecord can't read them out in time-->
overrun happens in ALSA-->
ALSA send trigger stop to FW-->
pipeline/host dma is stopped -->
Wait for buffer empty on the stopped dma will be time out.

[2019-05-22 04:34] mengdonglin commented on #1406
@keyonjie
So this needs a fix in FW - no longer wait for buffer empty on a stopped DMA, right?

And we also need to make arecord to use a larger buffer to tolerate of the peak of data at the beginning?

[2019-05-22 06:18] YvonneYang2 commented on #1396
Issues occurred during 1000 times playback(aplay -d 1) stress test .

**Environment**
Firmware: 5fa2426 https://github.com/thesofproject/sof/tree/master
Kernel: b58f448 https://github.com/thesofproject/linux/tree/release/sof-v5.0
Topology: file: tools/topology/sof-hda-generic.tplg, sof-hda-generic-2ch.tplg same as firmware
Kconfig: https://sof-ci-storage.sh.intel.com/daily/20190521/release/linux/t

[2019-05-22 06:41] dbaluta commented on #1458
Great news. What about the files inherited from Cadence? I think we can keep them like that.

[2019-05-22 08:00] keyonjie commented on #1406
No, we should not let the xrun and DMA stopping happen.

We already have dev->params.host_period_bytes, IMO we should add wait_delay() intervals in kpb draining task, with respect to this dev->params.host_period_bytes, @mrajwa will you take this task or you want me to do it?

[2019-05-22 09:51] mrajwa commented on #1406
@keyonjie, I will debug taking your findings into account and implement solution.

[2019-05-22 10:05] keyonjie commented on #1406
@mrajwa good, btw, let me share my solution(which verified work here) for your reference.

[2019-05-22 10:06] keyonjie commented on #1406
On FW side, patch here:
[code]

[2019-05-22 10:07] keyonjie commented on #1406
It might require kernel and ABI changes also, here it's my patch for that:
[code]

[2019-05-22 10:26] YvonneYang2 commented on #1425
Test total 20 times after disabled trace. Issue not reproduced.

**Environment**
Firmware: 3e423f4 https://github.com/thesofproject/sof/tree/master
Kernel: e3ec7cf https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: sof-hda-generic-2ch.tplg same as firmware
platform ：CFL

[2019-05-22 10:45] jajanusz commented on #1458
We can use SPDX, but this one is weird ->

I see they use it like that in kernel, but why? Cannot we just use one type of comments?

[2019-05-22 12:44] wwittbrx opened #1466 "[BUG] Samples cut from recording"
### Description

All but first iteration of master-slave playback and capture will return a wave with first sample cut. This happens for most of the available formats with few exceptions:

TestPtpSimpleLoopbackMasterPlayback16000Hz32b32b8ch
TestPtpSimpleLoopbackMasterPlayback24000Hz16b16b8ch
TestPtpSimpleLoopbackMasterPlayback24000Hz32b32b8ch
TestPtpSimpleLoopbackMasterPlayback48000Hz16b16b8ch
Tes

[2019-05-22 13:08] wwittbrx opened #1467 "[BUG] KD sporadic glitches"
### Description

Stress tests of KD with DMIC test case reveal sporadic glitches with reproduction rate of ~0.2%. Logs and waves of failed iterations attached.

![image](https://user-images.githubusercontent.com/41670517/58243998-05d2c480-7d52-11e9-837a-a32ec1d00f45.png)

![image](https://user-images.githubusercontent.com/41670517/58244094-3581cc80-7d52-11e9-8037-74cc841678fb.png)

### Recipe

**F

[2019-05-22 13:13] plbossart commented on #1458
On 5/22/19 5:45 AM, Janusz Jankowski wrote:

My note was precisely to avoid this sort of debates and state a 'same as
kernel' solution.
There's been countless debates on this in kernel cycles. I believe it's
because headers can be shared and used in other areas where C++ comments
are not accepted.
It's a convention, let's stick to it and avoid wasting cycles on
cosmetic stuff. If there are multipl

[2019-05-22 13:22] dbaluta commented on #1458
The history goes like this:

When SPDX was discussed to be used inside the Linux kernel everybody agreed to use C++ style comments (//) for all the code.

Now the problem was that with old binutils ld failed to parse C++ style comments in .c files so they switched to C++ comments only to .c files :).

Nowadays, ld was files but due to historical reasons they kept the old convention.

So, they ende

[2019-05-22 13:28] plbossart commented on #1458
On 5/22/19 1:41 AM, Daniel Baluta wrote:

Let's keep them as is. Finding out whom to speak with at Cadence on this
is time I just don't have.

[2019-05-22 16:31] ranj063 commented on #1422
@ClarexZhou @YvonneYang2 the recipe used for this issue is incorrect. You cannot use FW PR 1354 without taking kernel PR 895. Please repeat this test by either taking both or removing both.

[2019-05-22 16:36] ranj063 commented on #1395
@mengdonglin can this be retested now that @lyakh patch to fix the IPC race is merged?

[2019-05-22 18:26] ranj063 commented on #1425
@YvonneYang2 this test does not include @lyakh's patch for fixing the race 042d6db4eb54a66cfd0b462013c505d8ec8bffb9.

Can you please re-test this with the latest sof-dev.

[2019-05-22 18:30] lgirdwood commented on #1395
@mengdonglin also needs retested with trace disabled too.

[2019-05-22 18:33] lgirdwood commented on #1422
@mengdonglin can we also retest with trace disabled here too.

[2019-05-22 18:35] lgirdwood commented on #1458
ACK

[2019-05-22 18:40] lgirdwood commented on #1467
@wwittbrx best to always paste the error message from the logs in the description (only a few lines needed), that ways it obvious whether its a pipeline, dmic, dma bug etc. The issue subject can also be renamed to reflect the error in the logs.

[2019-05-22 18:45] lgirdwood commented on #1466
@wwittbrx good find. What is the capture source ? dmic, SSP, etc and what is the pipeline. The one thing that occurs  to me is the SSP/DMIC FIFO could be missing the first sample if there is a race at stream start ?

[2019-05-22 20:12] lgirdwood commented on #1388
@bkokoszx yes, the ordering should be sequential with gaps for future use.

[2019-05-22 21:15] mrajwa commented on #1406
Slowing down draining is an option but opens up another issue - we may be catched by real time copy before history buffer is emptied completely. Therefore a more advanced solution is needed. I am working on it now.

[2019-05-23 01:20] keyonjie commented on #1406
@mmaka1 if you have went though the patches I pasted above, it doesn't slow down the draining necessarily, it depends on the size of host_period_bytes to decide whether to slow down and how much we should slow it down. But I am open if you have advanced solution to fix that.

[2019-05-23 01:26] ClarexZhou commented on #1422
@ranj063 . previously we used are with kernel PR 895+ FW PR 1354
Kernel repo：9494607 https://github.com/thesofproject/linux/tree/release/sof-v5.0   -> is merged #895 on May 14.
Firmware repo: b73b9a6 https://github.com/thesofproject/sof/commits/master +PR1354

And '0x80010000: GLB_DAI_MSG: CONFIG' ipc timed out also occurred on May 22 with new PR 895+ FW PR 1354
Kernel by Guennadi: https://drive.g

[2019-05-23 09:15] wwittbrx commented on #1466
I have added more information about topology and stream operations in main comment for visibility. A race is possible, but it is interesting to me that first iteration always has all samples and every subsequent one does not. I have run this for about 150 iterations to check that it always misses first sample. If this was a race I think we would see first iteration sometimes fail and subsequent it

[2019-05-23 10:03] wwittbrx commented on #1467
Unfortunately the logs don't contain any errors so I couldn't do that. I have added wave screenshots for visibility without going into logs zip. I am also currently stress testing simple DMIC capture to check if this is indeed KD related or just DMIC related. Will update as soon as I am confident with findings.

[2019-05-23 11:59] ClarexZhou commented on #1422
0x80010000: GLB_DAI_MSG: CONFIG ipc timed out occurred during aplay -d 1 stress test. System response very slow then ipc timed out.

***Environment***
disable CONFIG_SND_SOC_SOF_DEBUG_ENABLE_DEBUGFS_CACHE in kernel config.
Kernel:
https://github.com/lyakh/linux/tree/ipc-20190521
commit 5969756 ASoC: SOF: hda: couple host and link DMA during FE hw_free , PR 895
FW:
https://github.com/lyakh/sof/tree

[2019-05-23 15:08] wwittbrx commented on #1467
After over a 1000 iterations of simple DMIC capture and not detecting any glitches I would assume that the problem is with KD itself.

[2019-05-23 15:13] mrajwa commented on #1467
@wwittbrx, just to clarify, glitches occur not only in first 2100 ms but also later?

[2019-05-23 23:32] mrajwa commented on #1467
also, can you provide information about history_depth and preamble you used for this test?

[2019-05-24 02:34] ranj063 commented on #1422
@lyakh I think we have another race here. The pattern  I see in my tests with aplay stress test is that the with successive DAI_CONFIG IPC's sent, one of them at some point times out. I also think this ipc timeout might be related to the the one seen in https://github.com/thesofproject/linux/issues/958.

[2019-05-24 04:17] ClarexZhou commented on #1396
Error occurred during S3 with playback stress test.

**Environment**
Kernel: 9453da1 https://github.com/lyakh/linux/tree/ipc-timeout (with PR895)
FW:b527fd7 https://github.com/lyakh/sof/tree/ipc-timeout (with PR1354)
Topology:Same as above FW repo, file: tools/topology/sof-hda-generic.m4, sof-hda-generic-2ch.tplg
kconfig:
unset CONFIG_SND_SOC_SOF_DEBUG_ENABLE_FIRMWARE_TRACE
unset CONFIG_SND_SOC_SO

[2019-05-24 04:28] keyonjie commented on #1396
@ClarexZhou can you paste the log of 13th iteration also? I doubt error happened earlier from the log you pasted(14th one).

[2019-05-24 04:34] ranj063 commented on #1422
this is the patter I'm noticing with the aplay -d 1 stress test.
For all the iterations that pass, pcm open happens right after the previous aplay closes. But when the failure occurs, there's a long delay between when the previous stream closes and the next one begins. Here's an example taken from the above logs:
**[  977.918441] sof-audio-pci 0000:00:1f.3: pcm: close stream 0 dir 0
[  978.825222]

[2019-05-24 04:39] keyonjie commented on #1422
@ranj063 can you paste the sof-logger log and dmesg log for the previous(the one at 978.xx second) iteration? It might already has something failed there.

[2019-05-24 05:03] ClarexZhou commented on #1396
@keyonjie  previous logs are already cleaned. will past once reproduced again.

And ipc error for 0x60040000 size 12 is occurred during S3 with playback test.  Also add previous logs.
[s3_test_12_dmesg.log](https://github.com/thesofproject/sof/files/3215169/s3_test_12_dmesg.log)
[s3_test_12_logger_error.log](https://github.com/thesofproject/sof/files/3215170/s3_test_12_logger_error.log)
[s3_test_1

[2019-05-24 05:11] keyonjie commented on #1396
@ClarexZhou yes, better to paste logs for iteration:
[n-1]: normal iteration(no any errors in dmesg and sof-logger) right before the the error happen, and
[n]: the first error iteration.

BTW, better to apply https://github.com/thesofproject/linux/pull/888 to survive the sof-logger error logs.

[2019-05-24 05:11] ranj063 commented on #1422
Finally, I have a glimmer of hope here, disabling runtime PM for the HDA codec device ehdaudio0D0 allows me to run the test successfully for 1K iterations

[2019-05-24 05:15] ClarexZhou commented on #1422
Error occurred at 6th S3 with playback stress test. Also add previous log

**Environment**
Kernel: 9453da1 https://github.com/lyakh/linux/tree/ipc-timeout (with PR895)
FW:b527fd7 https://github.com/lyakh/sof/tree/ipc-timeout (with PR1354)
Topology:Same as above FW repo, file: tools/topology/sof-hda-generic.m4, sof-hda-generic-2ch.tplg
kconfig:
unset CONFIG_SND_SOC_SOF_DEBUG_ENABLE_FIRMWARE_TRACE
u

[2019-05-24 05:55] ClarexZhou commented on #890
DSP panic then ipc timed out for   0x60050000: GLB_STREAM_MSG: TRIG_STOP  occurred on CFL laptop during S3 with playback test stress test in 4th time.

**Environment**
Kernel: 9453da1 https://github.com/lyakh/linux/tree/ipc-timeout (with PR895)
FW:b527fd7 https://github.com/lyakh/sof/tree/ipc-timeout (with PR1354)
Topology:Same as above FW repo, file: tools/topology/sof-hda-generic.m4, sof-hda-gen

[2019-05-24 08:25] mrajwa commented on #1467
I haven't debug this issue yet because we have higher priority issue (the occurrence of this one is very low + it wasn't noticed outside slim driver). However at first glance it suggest me a **dmic** issue, especially when I look at the first screenshot, the waveform is cut but then restores with **damped** amplitude. After another while it is normal again. @singalsu what do you think about this?

[2019-05-24 09:36] jajanusz opened #1471 "[FEATURE] Refactor exported headers + add folder for tools."
**Is your feature request related to a problem? Please describe.**
Our current headers folders structure seems to be bad in some scenarios, it recently showed up f.e. in these PRs:
#1405 - we ended up with workaround, but not everything going to be that simple and we need some kind of place for logic shared between FW and user-space apps (but not by kernel).
#1351 - there are definitions that are

[2019-05-24 09:52] jajanusz commented on #1458
@dbaluta Thanks for info.
@plbossart Agree with your points, just wanted to know if there is some reason I don't know about.

[2019-05-24 10:36] ClarexZhou commented on #1422
Error still occurred after merge https://github.com/thesofproject/linux/pull/977

**Environment**
Kernel: 9453da1 https://github.com/lyakh/linux/tree/ipc-timeout (with PR895) +PR977
FW:b527fd7 https://github.com/lyakh/sof/tree/ipc-timeout (with PR1354)
Topology:Same as above FW repo, file: tools/topology/sof-hda-generic.m4, sof-hda-generic-2ch.tplg
kconfig:
unset CONFIG_SND_SOC_SOF_DEBUG_ENABLE_FI

[2019-05-24 10:41] ClarexZhou commented on #1422
occurred again during S3 with playback stress test in 8th.

[s3_test_8_logger_error.log](https://github.com/thesofproject/sof/files/3216443/s3_test_8_logger_error.log)
[test_7.log](https://github.com/thesofproject/sof/files/3216444/test_7.log)
[test_8.log](https://github.com/thesofproject/sof/files/3216445/test_8.log)

[2019-05-24 11:47] jajanusz commented on #1458
@lgirdwood @plbossart @dbaluta So I guess we agree for this change?
If so, I'd like to update files that we already have and require from authors of PRs that add new files to have SPDX identifiers in them.

[2019-05-24 11:52] dbaluta commented on #1458
@jajanusz you have the green light from me. Please mind the example I provided in a comment above on how to add comments for .c and .h files.

Please send the PR and we can discuss on that.

[2019-05-24 12:38] singalsu commented on #1467
@mrajwa I'll take a look into the wavs, thanks for attaching those as well.

[2019-05-24 12:55] singalsu commented on #1467
The only thing looking like this a buggy driver could do would be to launch in mid-recording the gain ramp (shouldn't happen). Adding a trace print to function dmic_work() would show in trace when the DMIC HW gain registers are updated.

Though gain ramp controls left and right channels simultaneously and in this code the channels are updated next to each other so something higher priority only ca

[2019-05-24 13:05] singalsu commented on #1467
Based on log file seems that mic clock is set to 800 kHz. If the test was acoustical with real microphone it would be good to check the datasheet of the microphone that (a low-power mode clock) 800 kHz is within normal operation range.

[2019-05-24 13:52] plbossart commented on #1458
On 5/24/19 6:47 AM, Janusz Jankowski wrote:

Agreed, thanks.

[2019-05-24 15:02] lgirdwood commented on #1422
@ranj063 @kv2019i @lyakh I see this in every test from @ClarexZhou
```[  116.160468] sof-audio-pci 0000:00:1f.3: error: host status 0x80000000 dsp status 0x00000000 mask 0x00000003```
Even when TRACE is OFF.

[2019-05-25 18:43] wenqingfu commented on #1424
one of the error report is same as thesofproject/linux#924 but on different platform. (I2S vs HDA)

[2019-05-26 15:28] wenqingfu commented on #1425
mark as fixed by thesofproject/linux#943. please reopen if you reproduce this again.

[2019-05-26 15:28] #1425 closed

[2019-05-26 15:34] wenqingfu commented on #1395
mark as fixed by thesofproject/linux#943, please reopen if reproduced.

[2019-05-26 15:34] #1395 closed

[2019-05-27 01:13] keqiaozhang commented on #1463
@sathyap-chrome
Could you please share your kernel branch(Repo URL). I will try to reproduce this issue on my test device.

[2019-05-27 02:38] xiulipan commented on #1422
@lgirdwood
We have different for cavs1.8 in cnl.c

https://github.com/thesofproject/linux/blob/924347de73e488fa21772af90566821694dcce55/sound/soc/sof/intel/cnl.c#L165-L181

[2019-05-27 06:58] wwittbrx commented on #1467
Test is performed with DMIC injector. As I said in the earlier comment, I don't think the problem is with DMIC itself, as I stress tested DMIC and glitches do not happen without KD pipeline. Preamble time is set to 500, and history depth is set to 0, so I guess it takes the default value.

[2019-05-27 07:47] wwittbrx opened #1475 "[BUG] DMIC channels 3 & 4 are silent or incorrect when recording 4 channels using DMIC"
### Description

4 channel DMIC recording does not work on GLK KD release branch. First two channels look alright, others are silent or incorrect. Neither sof-logger or dmesg show any errors as far as I can tell. Wave file and logs attached in zip archive.

This also seems to be the case on master branch of the firmware.
https://github.com/thesofproject/sof/commit/a26c51a43e436a8da15fdad39d61e13bd

[2019-05-27 09:53] keyonjie commented on #1422
@ranj063's Kernel PR https://github.com/thesofproject/linux/pull/977 fixed this issue for me.

[2019-05-27 09:59] ClarexZhou opened #1477 "[BUG][CML] IPC error for '0x60040000: GLB_STREAM_MSG: TRIG_START'"
**Describe the bug**
ipc error , but not timed out, for '0x60040000: GLB_STREAM_MSG: TRIG_START' during  S3 with playback stress test.

**To Reproduce**
Run S3 with playback stress test  "aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero & sudo ./stress-s3.sh 500 1 1"

[stress-s3.sh.txt](https://github.com/thesofproject/sof/files/3223153/stress-s3.sh.txt)

**Expected behavior**
Aplay stopped at 23th a

[2019-05-27 10:01] ClarexZhou commented on #1477
Track ipc timed out in #1396

[2019-05-27 10:02] ClarexZhou commented on #1396
Track ipc error in #1477

[2019-05-27 10:50] lgirdwood commented on #890
@ClarexZhou your comment is not related to this issue. Please assign your comment to correct issue or create a new one.

[2019-05-27 10:53] singalsu commented on #1475
@wwittbrx How many microphones does this device have?

The channel 3 is strange, it sounds as just noise. If the device would be with two microphones I'd expect it to be like channel 4. Channel 4 looks like normal capture from missing microphone.

Even if Mic3 would be broken (if 3 microphones in the device) I'd expect channel 4 to get copy of the same data.

Can you provide here or directly by em

[2019-05-27 10:56] lgirdwood commented on #1454
@keqiaozhang always best to check the FW log when you have an IPC driver error for the **real** cause of the issue. Updated title.

[2019-05-27 10:57] lgirdwood commented on #1461
@singalsu any ETA ?

[2019-05-27 10:59] lgirdwood commented on #1342
@mengdonglin any update on this, is it a duplicate ? Looks like this belongs to topology load and init after S3 category.

[2019-05-27 12:21] singalsu commented on #1461
@lgirdwood I can do today, a very small change into dmic.h. I wasn't able to reproduce similar result as @plbossart so I need to guess a bit what the ramp time increase should be.

[2019-05-27 12:22] lgirdwood commented on #1471
@jajanusz please describe what you propose.

[2019-05-27 12:25] lgirdwood commented on #1466
@wwittbrx ok, is this digital or analog loopback, you mentioned a wire ? This could also be a race at shutdown where a stale sample is left in a FIFO ?

[2019-05-27 21:16] jajanusz commented on #1471
@plbossart already propsed something there: https://github.com/thesofproject/sof/pull/1405#discussion_r282882355 ->

ipc
user (can be renamed as kernel if needed)
apps

Personally I'd make it saying more info about what's in it, instead of for whom it is, f.e.:
[code]
But I wrote most of my code as guy from userspace, so I may look at it from bad point.
Also I'm not sure how many of these things a

[2019-05-27 21:44] lgirdwood commented on #1463
@mengdonglin @wenqingfu fyi CTX_SAVE IPC timeout.

[2019-05-28 05:23] ranj063 commented on #1477
This is a very misleading error title. The problem is not that the IPC error occured after resume.

The problem is that the sof-audio-pci device failed to suspend (as below):
**[  467.845591] PM: Some devices failed to suspend, or early wake event detected**

This of course leads to the IPC error upon resume because the stream was never suspended and therefore it doesnt get the prepare() ioctl.

[2019-05-28 05:28] ranj063 commented on #1477
And  this should be a kernel bug.

[2019-05-28 05:39] ClarexZhou commented on #1477
@ranj063  thanks. Close current issue and track in https://github.com/thesofproject/linux/issues/984

[2019-05-28 05:39] #1477 closed

[2019-05-28 06:29] ClarexZhou commented on #1396
Error occurred during s3 with playback stress test at 29th.
***Environment***
Kernel: https://github.com/lyakh/linux/tree/ipc-timeout commit 9453da1 (with PR895)
FW:https://github.com/lyakh/sof/tree/ipc-timeout commit 47dc14d (with PR1354 and PR1470)
Kconfig: disable CONFIG_SND_SOC_SOF_DEBUG_ENABLE_DEBUGFS_CACHE in kernel config.

[code]
[code]

[s3_test_28_logger_all.log](https://github.com/theso

[2019-05-28 07:33] lgirdwood commented on #1467
@wwittbrx do we have a meaningful reproduction rate or are there methods to increase the reproduction rate ? It could be KD logic related since the sine waveforms do seem to join up nicely from your screenshot. i.e. we stop processing for several periods then restart.

[2019-05-28 08:19] lgirdwood commented on #1422
@xiulipan ok great, thanks for checking. It is probably worth a comment in the generically named version to state it's for 1.5 only.

[2019-05-28 08:26] lgirdwood commented on #1461
@singalsu is the ramp time platform specific or device specific. Former can be a build time macro latter can come from topology. You could always have a fallback value if device specific and topology is empty..

[2019-05-28 08:32] lgirdwood commented on #1471
@jajanusz Don't need the api/meta subdirs.
[code]

[2019-05-28 08:36] jajanusz commented on #1471
@lgirdwood So you want to make it more flat ? (There is uapi folder missing)

[2019-05-28 08:44] keyonjie commented on #1471
do we have any non-ipc interfaces needed for kernel? otherwise, only "ipc" and "meta" is good?

[2019-05-28 08:45] lgirdwood commented on #1396
@ClarexZhou your last comment is a different bug, can you open a new issue for it. Your last comment looks like a FW crash as I can see a scheduler error message which puts pipeline into an inconsistent state..
[code]

[2019-05-28 08:46] jajanusz commented on #1471
I don't know if they are needed by kernel, but they are copied to kernel repo - f.e. manifest metadata, some tokens.

[2019-05-28 09:25] ClarexZhou commented on #1396
keep monitor, and will report new issue once reproduce the scheduler error message caused ipc timed out issue again.

[2019-05-28 10:40] ClarexZhou commented on #1396
Error occurred during aplay stress test at 25th.

**Environment**
Kernel: https://github.com/lyakh/linux/tree/ipc-timeout commit 9453da1 (with PR895)
FW:https://github.com/lyakh/sof/tree/ipc-timeout commit 47dc14d (with PR1354 and PR1470)
Kconfig: disable CONFIG_SND_SOC_SOF_DEBUG_ENABLE_DEBUGFS_CACHE in kernel config.
[code]

[code]

[aplay_error_25_dmesg.log](https://github.com/thesofproject/sof/

[2019-05-28 11:14] xiulipan commented on #1422
@lgirdwood
Yes, the hda.c is actually a very misleading file name. We need some comments inline to identify what these files actually for.

[2019-05-28 11:51] lgirdwood commented on #1471
@jajanusz yes since you are restructuring. But the make install rule must prefix all these directories with "sof/" so that there is no collisions with other headers from other SW.

[2019-05-28 12:04] lgirdwood commented on #1422
@xiulipan agreed, we do have differences in version between 1.5, 1.8 and 2.x so having some comments to describe which version that file/function is for would avoid any confusion going onwards. Can you create a feature request for this ?

[2019-05-28 13:35] juimonen opened #1482 "[BUG] byt media pipeline produces distortion with 44.1kHz to 48kHz conversion"
**Describe the bug**
playback of 44.1kHz files to byt media pipe (hw:0,1) produces distortion. SRC in this case reads/writes with alternating frame count. Not observable in apl, so suspect dw-dma, even more copy_one_shot in host.c.

**To Reproduce**
playback 44.1kHz file to byt media pipe. You might need to change byt media pipe params in topology to same as in apl media pipe topology. Without thi

[2019-05-28 14:07] dbaluta opened #1484 "[FEATURE] Add ifdef for intel & dw drivers"
Probably we should ifdef also intel & dw stuff later

_Originally posted by @jajanusz in https://github.com/thesofproject/sof/pull/1457_

[2019-05-28 15:55] lyakh opened #1485 "[BUG] [WHL] SOF Oops / panic when performing an aplay + S3 stress test"
Below is a decoded exception dump, which I've got multiple times on a Mantis and a Wasp laptops, running ipc-timeout branches:
[code]

[2019-05-28 16:52] singalsu commented on #1461
The needed ramp time depends both on platform (all cAVS are similar, after cAVS this has been enhanced for faster settling) and the used microphone model in the device (model specific plus individual variation of DC component). The ramp length has been adjusted up to follow worst DC compensate settling happening in DMIC filter HW case so far. Since we don't have many test devices with digital micr

[2019-05-29 03:30] sathyap-chrome commented on #1463
@keqiaozhang we had created a branch by pulling the upstream sof patches. but we are trying to align to sof-dev branch and reproduce the issue.

1 important observation we made yesterday: if we enable no_console_suspend and earlyprintk in bootargs, the issue is not happening. In case you have them enabled, please remove and try.

[2019-05-29 03:33] ranj063 commented on #1463
@sathyap-chrome is this just an experiment or is this how this is supposed to be tested?

[2019-05-29 03:36] sathyap-chrome commented on #1463
@ranj063  by default chrome boot args dont use the no console suspend and early printk. yesterday for other issue, we tried that and saw the S3 working perfectly fine. then we removed the above bootargs and we hit this issue right away. just wanted to share observation if incase in any of your testing you have these bootargs, we should remove and test.

[2019-05-29 04:17] xiulipan commented on #1422
@lgirdwood  @plbossart
Done with https://github.com/thesofproject/linux/issues/987
We need some explanation about what is the mapping.

[2019-05-29 07:13] keqiaozhang opened #1486 "[BUG][Stress] Wait for buffer full timeout issue happens on GLK"
**Describe the bug**
I observed this issue when doing the playback stress test.  aplay stopped running with the input/output error but audio is still working for the next run.  Checking the error trace, there're some host/pipeline copy errors.
BTW,  so far, I can only reproduce this issue on GLK.

**To Reproduce**
while aplay -Dhw:0,5 -f dat -c 2 audio.wav -d 1; do :; done

**Reproduction Rate**
T

[2019-05-29 08:24] wwittbrx commented on #1466
This is analog loopback

[2019-05-29 08:27] wwittbrx commented on #1467
Reproduction rate is ~0.2%. I don't know of any methods to increase it. We could maybe reduce individual iteration execution time to run stress tests faster, I will provide more info if successful.

[2019-05-29 08:44] wwittbrx commented on #1486
Does this issue reproduce on master branch? https://github.com/lyakh/sof/tree/ipc-timeout branch is 3 commits ahead and 11 commits behind. Similar with the kernel branch. I don't feel comfortable spending time reproducing the issue observed on unofficial branches.

Also, can we reproduce the issue on GLK with ChromeOS with https://github.com/thesofproject/linux/tree/topic/cros-sof-v4.14-rebase bra

[2019-05-29 09:18] kv2019i commented on #1413
Patch merged to Linux now - https://github.com/thesofproject/linux/pull/895 Closing bug once FW side is merged as well.

[2019-05-29 11:08] juimonen opened #1487 "[BUG] Byt low latency pipeline produces distortion with S24/S32 playback"
**Describe the bug**
byt low latency playback pipe he:0,0 produces distortion with s24/s32 playback

**To Reproduce**
play s32 or s24 audio to hw:0,0
for e.g. like this in script file (play.sh 48000 test16bit.wav):
#!/bin/sh
FS=$1
BITS=32
ENDIAN=little
NCH=2
RAW=_tmp.raw
DEV=hw:0,0
sox "$2" -c $NCH -r $FS -b $BITS --endian $ENDIAN $RAW
time -p aplay -v -D$DEV -t raw -c $NCH -f S32_LE -r $FS $RAW -

[2019-05-29 11:09] lgirdwood commented on #1482
@juimonen can you confirm compiler used. Iirc SRC will use HiFi2EP intrinsics on BYT whilst it uses HIFI3 on APL.

[2019-05-29 11:09] juimonen commented on #1487
so obviously we have some buffer wrap issue somewhere...