[2020-05-29 09:51] Liviali155 commented on #2693
Tried with  [tlauda@e3f9299](https://github.com/tlauda/sof/commit/e3f9299b4fa4af5ed0d003b18f4fbd032e851a36)
1st:./check-kmod-load-unload-after-playback.sh -l 1000,error not seen
2nd:./check-kmod-load-unload-after-playback.sh -l 1000,error not seen

[2020-05-29 10:14] sinahuang commented on #2991
Issue can be fixed by PR https://github.com/thesofproject/sof/pull/2994.

[2020-05-29 10:55] lgirdwood commented on #2749
DMIC is not getting emptied fast enough.  @mmaka1 @tlauda do we need more overhead for some DMA buffers (an extra period here) ?

[code]

[2020-05-29 11:22] kv2019i commented on #2693
@tlauda wrote:

Interesting. I cross-checked the matching attached dmesg and kernel is not sending the duplicated IPCs -> FW logs show more DAI_CONFIG IPCs than what kernel is sending.  I wonder how the stack corruption could be hit in this case... it's the same case repeated many times after all.

[2020-05-29 11:34] tlauda commented on #2693
@kv2019i These multiple DAI_CONFIG IPCs are not directly responsible for stack corruption, but probably increase the probability of happening. In the past I've already observed stack being exceeded during DAI config execution and it seems that on cAVS 1.5 based platforms we need even more memory.
However it's interesting observation, that FW receives multiple IPCs and I'm pretty sure they need to

[2020-05-29 13:06] slawblauciak commented on #2971
@singalsu very well, thanks
@YvonneYang2 the new bisect can't be correct, the change you mentioned does not affect CML platforms in any way.

[2020-05-31 12:44] hsanjuan commented on #2937
I was going to open an issue about the lack of signed binaries for v1.5.0, but seeing this I guess I'll wait. Would it be possible to get signed binaries with this v1.5.1? Sound does not work with v1.4.2 and the latest kernels.

[2020-06-01 04:53] Liviali155 commented on #2693
I tested on ICL,dmesg as below:
[dmesg.txt](https://github.com/thesofproject/sof/files/4709429/dmesg.txt)

[2020-06-01 08:46] slawblauciak commented on #2929
PR merged. Closing.

[2020-06-01 08:46] #2929 closed

[2020-06-01 09:23] #2921 closed

[2020-06-01 11:53] Liviali155 commented on #2693
Tried with PR #2999,run "./check-kmod-load-unload-after-playback.sh -l 1000",error not seen

[2020-06-01 11:53] Liviali155 commented on #2921
Tried with PR #2999,run "./check-kmod-load-unload-after-playback.sh -l 1000",error not seen

[2020-06-01 11:55] slawblauciak commented on #2693
@Liviali155 that PR has been merged. Good to close?

[2020-06-02 01:49] Liviali155 commented on #2693
Closed for PR #2999 merged

[2020-06-02 01:49] #2693 closed

[2020-06-02 06:15] slawblauciak commented on #2991
PR has been merged. Closing.

[2020-06-02 06:15] #2991 closed

[2020-06-02 06:47] crazoes opened #3007 "[HELP] Trying to setup qemu emulators for development environment"
Steps undertaken:

## Build toolchain
Following instructions on https://thesofproject.github.io/latest/getting_started/build-guide/build-from-scratch.html#id9

## Build firmware
[code]

## Build qemu
[code]

## Build kernel (sof's fork)

[code]

## Build rootfs image

1. Download base image from [yocto](http://downloads.yoctoproject.org/releases/yocto/yocto-2.3/machines/qemu/qemux86-64/core-image-

[2020-06-02 07:42] slawblauciak commented on #2950
Awaiting update until next week. If none provided, the issue will be closed.

[2020-06-02 07:47] slawblauciak commented on #2959
Please verify topology and DAI configuration, which is responsible for format conversion.

[2020-06-02 08:07] paulstelian97 commented on #3007
@dianacretu Do you have any tips? I can't seem to find the proper documentation?

[2020-06-02 08:18] ClarexZhou opened #3009 "[BUG] [TGL] ipc error when tirgger wov pipline with s24_le and s32_le"
**Describe the bug**
Unable to install hw params and "ipc error for 0x60010000 size 20" is dmesg when tirgger wov pipline with s24_le and s32_le

**To Reproduce**
arecord -Dhw:0,100 -M -N -f s24_le -r 16000 -i -vvv -c2 --period-size=68000 ./tmp.wav --dump-hw-params

**Reproduction Rate**
3/3

**Expected behavior**
wov pipline should be triggered successfully

**Impact**
wov trigger failed with ipc

[2020-06-02 08:19] ClarexZhou commented on #3009
@keyonjie  please help to check first.
Error not seen with s16_le format.

[2020-06-02 09:18] dbaluta commented on #3007
@dianacretu @paulstelian97 not sure we can help with that because we only looked at DSP emulation so far.
I remember that some time ago when I looked at running the emulation at Intel I got stuck at the same problem.

@ranj063 @lgirdwood should we try with other Intel platform? What is the most stable platform to experiment with qemu?

[2020-06-02 09:23] crazoes commented on #3007
Is there any alternate setup for development and testing? Do you have a different setup that doesn't require qemu @paulstelian97 ?

I've spent past week trying to complete setup and start with the my outreachy project.

I've seen @ktrzcinx working on improving debugging as well. Maybe she can tell us what setup she has for development?

[2020-06-02 09:25] paulstelian97 commented on #3007
@crazoes I generally test on actual boards, and we have at NXP an internal setup that allows remote access to time shared boards on which I can run an arbitrary kernel + dtb (ARM) + firmware combinations for testing. I'm not sure that you have this option though, that's why qemu is recommended. And I tagged Diana because she is adding support for the NXP specific hardware in qemu.

[2020-06-02 10:04] ktrzcinx commented on #3007
Well, as usual I'm also using company internal setup for build and testing. Sometimes for tests on full stack I use real hardware. So I'm not a QEMU user actually. It's rather question for folks who maintain CI.

[2020-06-02 10:38] singalsu commented on #2986
I was running in testbench volume with 1ch (SOF_VOLUME_LINEAR, INITIAL_RAMP = 250) and got correct ramp length. I'll check next SOF_VOLUME_LINEAR_ZC on testbench. Also I'll try to set up a real device for 1ch.

[2020-06-02 12:20] singalsu commented on #2986
@jdrzaszcz I'm not getting wrong ramp length in testbench with SOF_VOLUME_LINEAR. Can you add this patch to your setup and see if the stream parameters seen by volume are correct.

[code]
For 1 ch 8 kHz it should print 1 and 8.

[2020-06-02 12:21] jdrzaszcz opened #3012 "[BUG] SOF_IPC_PANIC_EXCEPTION when CONFIG_DEBUG_BLOCK_FREE is enabled"
**Describe the bug**
SOF_IPC_PANIC_EXCEPTION occurs when compiling FW with CONFIG_DEBUG_BLOCK_FREE = y.
Panic happens after sending TplgCompFree ipc.

**To Reproduce**
Run slim driver python tests:
eg. TestPtpSimpleLoopback48000Hz32b32b2ch from fw_02_pass_through package.

**Reproduction Rate**
100%

**Expected behavior**
Panic shouldn't occurred.

**Environment**
I checked with WHL RVP.
Commit: 5

[2020-06-02 12:23] #2927 closed

[2020-06-02 12:34] jdrzaszcz commented on #2986
@singalsu I checked and it looks like volume see correct parameters.
volume_prepare(): channels = 1, vol_ramp_frames = 8
[dma_trace_1.log](https://github.com/thesofproject/sof/files/4717132/dma_trace_1.log)

[2020-06-02 13:01] lgirdwood commented on #3007
@crazoes your flow looks corrct, but sometime we have seen issues with stale posix SHM and MQs in the past. Can you try and delete /dev/shm/qemu-* and /dev/mqueue/qemu-*

You should be able to confirm that the correct IPC registers and memories are correct via checking the SHM e.g.
[code]
Interrupts (and reset control)  are sent via POSIX message queue, so the FW should send a "FW ready" message I

[2020-06-02 13:03] singalsu commented on #2986
@jdrzaszcz If the test tone frequency is e.g. 1 kHz, is the output of the test in Audacity also 1 kHz? Wrong sample rate in wav produced by the test system could also cause this.

But I'm definitely getting the issue with ZC mode and I'm doing a fix for it now.

[2020-06-02 17:28] singalsu commented on #2986
@jdrzaszcz I made PR #3013 . Can you please test if it fixes SOF_VOLUME_LINEAR_ZC mode issues. I have not been able to replicate SOF_VOLUME_LINEAR (non-ZC) issues yet, not as large deviation as you got.

[2020-06-03 01:34] Liviali155 commented on #2971
On latest sof-dev(16d98cd5)+master(30e801c4) run
step1: ./check-kmod-load-unload-after-playback.sh -l 10
step2:./check-suspend-resume-with-audio.sh -m capture -l 100
Repeat step1-step2 4times,then run "./check-suspend-resume-with-audio.sh -m capture -l 500" error not seen

[2020-06-03 03:06] xiulipan commented on #2959
Close as this is not an issue, we have limitation with format convert.
@keyonjie has https://github.com/thesofproject/sof/pull/2788 to solve this kind of wrong usage

[2020-06-03 03:06] #2959 closed

[2020-06-03 04:31] sathya-nujella opened #3017 "[TGL] Need PDM decimation coefficients with 0dB"
Need:
Currently DMIC PDM decimation coefficients are generated with -0.4dB (likely linear gain of 0.95).
Customer request decimation coefficients with 0dB.

Reason:
"Having 0dB decimation" means that user space/CRAS would like to get DMIC data without any gain applied on it.
Example usage: record a concert (with a peak SPL of close to 120dB), any static gain adjustment to the microphone means dire

[2020-06-03 04:32] sathya-nujella commented on #3017
Hi @singalsu ,
Sorry for late in getting back on this request. Customer confirmed the need.

[2020-06-03 06:14] jdrzaszcz commented on #2986
@singalsu Frequency in Audacity looks fine for 8 kHz  sample rate.
I  have run the volume inital_rampt tests with PR #3013 and it works for both SOF_VOLUME_LINEAR and default SOF_VOLUME_LINEAR_ZC  ramp mode.

[2020-06-03 07:39] keyonjie commented on #3009
Hi @ClarexZhou , we should specify buffer-size, not period-size.
see it here: https://github.com/thesofproject/sof-docs/blob/master/developer_guides/linux_driver/third_party/keyword_detect/keyword_detect.rst#run-keyword-detection-pipeline

arecord -Dhw:0,100 -M -N -f s24_le -r 16000 -i -vvv -c2 --buffer-size=68000 ./tmp.wav

[2020-06-03 08:13] ClarexZhou commented on #3009
yes. buffer size is working. Close issue

[2020-06-03 08:13] #3009 closed

[2020-06-03 08:21] singalsu commented on #2986
@jdrzaszcz Excellent news, thank you! @mengdonglin Could someone in PRC do for PR #3013 the volume component related checks to make sure it doesn't cause regressions.

I will also test today it here more before removing [RFC]. Volume is such complicated creature for controls so it needs a of attention when fundamental changes are done.

[2020-06-03 11:29] slawblauciak commented on #2971
Good to close then?

[2020-06-03 16:15] plbossart commented on #3017
What would a 0.4dB attenuation do here? I just don't get the concern.

[2020-06-03 18:18] plbossart commented on #3017
Then I don't understand what the ask was. Whether we re-add 0.4dB in the coefficients or it's done by CRAS, some clipping will happen...

[2020-06-03 19:26] cujomalainey commented on #3017
@sathya-nujella Jimmy is @chiang831

[2020-06-04 06:04] chiang831 commented on #3017
I have discussed with Leo and confirmed  that previously what we have concern is the 9dB gain. Having 0.4 dB attenuation is fine. You don't need to remove it from legacy code.
Thanks!

[2020-06-04 08:16] singalsu commented on #3017
@chiang831 @cujomalainey Thanks for update! But it ever need the filters characteristic in PDM bits decimation HW is quite well programmable. The amplification that you have seen is due to specially made DMIC configuration to optionally boost the signal in previous firmware. While in SOF the DMIC path has been always this near 0 dB. The gain is better to apply in FW components or CRAS for usual Vo

[2020-06-04 09:59] zrombel opened #3028 "[BUG][SDL] IPC Generic: DSP Panic when sending IPC with size 0"
**Describe the bug**
When sending ipc to FW with ipc size field set to zero DSP PANIC is detected. Applies to all platforms. TplgBufferNew IPC used as an example.

**To Reproduce**
Run test script:
04_01_TestFuzzIpcSizeMin

**Reproduction Rate**
100%

**Expected behavior**
IPC Error response from FW

**Environment**
1) SOF FW: branch master commit ef43899 and earlier
2) Python tests scripts: branc

[2020-06-04 10:50] mmaka1 commented on #2854
Merged as https://github.com/thesofproject/sof/commit/14dcd128bda4080f795846ed6aa04503d05c68fd

[2020-06-04 10:50] #2854 closed

[2020-06-04 10:52] mmaka1 commented on #2855
Merged as https://github.com/thesofproject/sof/commit/b5c8f83c48e2abe79d6cc85b1e48efb42b61dbda

[2020-06-04 10:52] #2855 closed

[2020-06-04 10:54] mmaka1 commented on #2856
Merged as https://github.com/thesofproject/sof/commit/de22810b0f60c36e8ed6ac022caa487a898923f1

[2020-06-04 10:54] #2856 closed

[2020-06-04 10:55] mmaka1 commented on #2857
Merged as https://github.com/thesofproject/sof/commit/bc0cbe2a2746cbe6d40fcd697c6db243cb92a4f6

[2020-06-04 10:55] #2857 closed

[2020-06-04 10:57] mmaka1 commented on #2858
Merged as https://github.com/thesofproject/sof/commit/5e6ceb0829c19f936f9a7116c75020b0864b6ede

[2020-06-04 10:57] #2858 closed

[2020-06-04 10:58] mmaka1 commented on #2859
Merged as https://github.com/thesofproject/sof/commit/622472dce0bcc04892ac282ffa8cbcc542a4c2a0

[2020-06-04 10:58] #2859 closed

[2020-06-04 11:00] mmaka1 commented on #2860
Merged as https://github.com/thesofproject/sof/commit/53eaa8c8845b67c10d6813042078371875665416

[2020-06-04 11:00] #2860 closed

[2020-06-04 11:01] mmaka1 commented on #2861
Merged as https://github.com/thesofproject/sof/commit/78b022bfd312f8a9927ab280a8f5b5f7d858b6ea

[2020-06-04 11:01] #2861 closed

[2020-06-04 11:18] mmaka1 commented on #2862
Merged as https://github.com/thesofproject/sof/commit/40f7629f0b06a48da1973f7d30cf4140d3b347a5

[2020-06-04 11:18] #2862 closed

[2020-06-04 11:29] mmaka1 commented on #2863
Merged as https://github.com/thesofproject/sof/pull/2064/commits/9adc0bc899959587135d3167bfcfa4892864e638

[2020-06-04 11:29] #2863 closed

[2020-06-04 12:37] mmaka1 commented on #2864
Temp w/a, n/a to master

[2020-06-04 12:37] #2864 closed

[2020-06-04 12:38] mmaka1 commented on #2875
Merged ashttps://github.com/thesofproject/sof/commit/b37efd554f39ae00af1e24350101360604d08164

[2020-06-04 12:38] #2875 closed

[2020-06-04 12:39] mmaka1 commented on #2876
Implemented on master in a different way, by adding a flag to pm_gate IPC command.

[2020-06-04 12:39] #2876 closed

[2020-06-04 12:42] mmaka1 commented on #2489
Fixed by https://github.com/thesofproject/sof-docs/pull/194, https://github.com/thesofproject/sof-docs/pull/200, and https://github.com/thesofproject/sof-docs/pull/216.

[2020-06-04 12:42] #2489 closed

[2020-06-04 12:43] #2374 closed

[2020-06-04 14:54] sathya-nujella commented on #3017
Thank you all for inputs. Based on discussion here, I am closing this one.

[2020-06-04 14:54] #3017 closed

[2020-06-04 15:45] buzuddha commented on #2134
I'm having issues here too. I'm new to arch. As of now I have the left speaker (weak at max volume) and the mic appears to work. See attached for how far I've gotten.

I'd be very grateful for any guidance. Thanks for your time and consideration!

[sof-troubleshoot.txt](https://github.com/thesofproject/sof/files/4731155/sof-troubleshoot.txt)

[2020-06-04 15:48] danielcherubini commented on #2134
https://wiki.archlinux.org/index.php/Lenovo_Yoga_c940#Linux_5.5_and_later

[2020-06-04 15:54] buzuddha commented on #2134
So as far as I can tell I've done what is described in the wiki.
1) installed sof-firmware using pacman
2) blacklisted snd_hda_intel and snd_soc_skl
3) added the lines to load alsa modules

[2020-06-04 16:02] paulmenzel commented on #2134
@buzuddha, this issue is closed, and your issues is probably something else. Please create a new issue.

[2020-06-04 17:44] singalsu commented on #2981
I'm now doing runs of 100x SPDIF ASRC capture test that includes THD+N measurement. I'm seeing variation of about 1 dB but so far no discontinuities. I'll continue tomorrow with more tests.

[2020-06-05 09:31] mmaka1 commented on #769
Implementation of the FW part completed by the #3010.

[2020-06-05 09:31] #769 closed

[2020-06-05 10:10] singalsu commented on #2981
I caught the first discontinuity, in my test the 3s clip THD+N dropped to -56 dB from usual -78 dB. The waveform looks like this, different looking than what you got. But it's definitely an error if it's not originated from SPDIF transmitter source.

![Screenshot from 2020-06-05 13-05-10](https://user-images.githubusercontent.com/28754793/83864583-9ac21900-a72d-11ea-838a-ef0aa8be223a.png)

[2020-06-05 12:10] singalsu commented on #2981
I've now run more than 1k of repeats and above has happened only once. Since it looks different than reported and with some kind of impulse train convolved I suspect it was a glitch from SPDIF source (macbook).

I will switch to diagnostic driver test where this reported issue happens. There was earlier also an issue that never happened with Linux driver.

[2020-06-05 12:57] #3028 closed

[2020-06-07 16:50] dbaluta commented on #3007
@crazoes I have tried your instructions on my machine and it seems that the firmware can boot correctly.

Here is the log for sof that I get:

[code]

I do get an error when trying to load the topology, which I'm now investigating. Not sure what could be the problem on your side. Do you have the kvm module installed?

[2020-06-07 17:00] dbaluta commented on #3007
@crazoes OK, so i did more research. It seems that I can reproduce your exact trace when CONFIG_TRACEM is selected when compiling the firmware.

So, we have now two ways of continuing:

1) With CONFIG_TRACEM selected I think the DSP crashes somewhere. Maybe some memory allocation is not enough.
1) Without CONFIG_TRACEM selected there is a problem with loading the topology. But what I think it happ

[2020-06-08 01:58] YvonneYang2 commented on #2971
Close for not reproduced.

[2020-06-08 01:58] #2971 closed

[2020-06-08 02:02] YvonneYang2 commented on #2735
Issue can still be reproduced with same error sof-trace log but "ipc error for 0x60050000 size 12" in dmesg with latest master and topic/sof-dev

FW: master commit: 428804e1
Kernel: topic/sof-dev commit: 1af84d0e

[2020-06-08 05:29] YvonneYang2 commented on #2749
Issue can still be reproduced as https://github.com/thesofproject/sof/issues/2749#issuecomment-635088125 said on latest topic/sof-dev(1af84d0e) and master(428804e1)

[2020-06-08 11:33] crazoes commented on #3007
@dbaluta strange but I don't have CONFIG_TRACEM set.
I am still not able to load the firmware ( not sure why it is loading for you ).
How are you compiling your firmware? Using script or manually?

[2020-06-08 12:24] dbaluta commented on #3007
@crazoes first time i compile the .ri using the script.

Then to modify CONFIG_TRACEM in sof repo I use make menuconfig, and from now on I only run 'make -j8' to compile the firmware.

So, can you try both with CONFIG_TRACEM set and unset to see what's the result? Also, make sure you have kvm enabled.

[2020-06-08 23:09] crazoes commented on #3007
@dbaluta I do have kvm enabled as per this line https://github.com/thesofproject/qemu/blob/sof-v4.2/x86-host.sh#L79

Also, I tried to set and unset CONFIG_TRACEM but got the same result both the time. No change in the output. I can still see firmware boot failure.

I do the same process as you did to compile the firmware ( first using script then make menuconfig )
If I am not wrong, CONFIG_TRACEM

[2020-06-09 06:23] YvonneYang2 opened #3035 "[BUG][v1.5.1]shows IPC error and sof error "ERROR eq_iir_init_coef(), ch 0 is set to bypass" shows during the check-audio-equalizer test"
**Describe the bug**
"ERROR eq_iir_init_coef(), ch 0 is set to bypass" shows during the check-audio-equalizer test. Issue caused by commit: 88707ca87e782631 based on the bisect result. Could you please have a look @abonislawski
All pipline can work after issue occurred. Seems has no functional side effect.

**To Reproduce**
1. Boot up system with topology has a EQ component in it
2. cd sof-test an

[2020-06-09 07:16] YvonneYang2 commented on #2880
Issue cannot be reproduced with test recipe as below:

Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev commit:5cb79ee6f
Revert  6a7c533d4a1854f54901a065d8c672e890400d8a
Revert cd0a32371db73d0b50536a7ca4f036abddff0d1d+ https://github.com/thesofproject/linux/pull/2062 + hack commit https://github.com/thesofproject/linux/commit/6769df9d4d48cfae008a8192aa5b723bc8edb804
FW: https://

[2020-06-09 07:41] abonislawski commented on #3035
Are you sure about 88707ca?
There is no trace from this commit
trace_ipc_error("ipc: invalid size 0x%x", hdr->size);

[2020-06-09 07:44] jajanusz commented on #2936
@sathya-nujella
Can you try somehow using only XTAL-divisable frequencies so (PLL is never used) in one run?

[2020-06-09 07:44] slawblauciak commented on #2950
Closing for now as no update received.

[2020-06-09 07:44] #2950 closed

[2020-06-09 08:07] jajanusz commented on #2936
@keyonjie @sathya-nujella
Can you try to cherry-pick this patch: https://github.com/jajanusz/sof/commit/c49d3e1c48cb2895fc797ea7725cb44896079dc4

It resets MN registers (that control MCLK/BCLK) when you free all SSPs.

[2020-06-09 08:19] YvonneYang2 commented on #3035
Tested it with fw compile via xcc, issue cannot be reproduced.
Close it for it's gcc specific issue.

[2020-06-09 08:19] #3035 closed

[2020-06-09 08:40] jajanusz commented on #2936
Also can you do checks with just one SSP being on?
I see you use:
[code]

Can you run it with just SSP0 and then just SSP1 and see if issue is still there?

[2020-06-09 09:57] dbaluta commented on #3007
@crazoes Ok, thanks. I couldn't figure what's the issue. So lets take it step by step.
Can you first try to see if SOF firmware boots with the fuzzer? I have forwarded you an email on how to start the fuzzer.

[2020-06-09 10:35] singalsu commented on #3035
The code should work as gcc build too, despite lower optimization level, I'll still see what happens. Even if the process would require to close this I'll still keep this as action for myself to study what happens.

[2020-06-09 12:36] singalsu commented on #3035
I'm not able to repeat this same error on a CML device with gcc build. The fail with too long FIR filter is normal and it's known.

[code]
Also re-confirm that with xt-xcc build the above check for filter length (to prevent larger fail of SOF)  does not trigger and the test case passes, no errors in trace. OK to close in my opinion too.

[2020-06-09 12:42] singalsu commented on #3035
Actually there's a minor bug in above "Filter length 0", the printed value (not set yet) is not the same as tested value. I'll make a small PR to fix the error message.

(Thanks for well prepared error report @YvonneYang2 )

[2020-06-09 15:17] keyonjie commented on #2936
Hi @jajanusz haven't tried your suggestion yet, but it looks to me that all 19.2M, 1.536M, and 2.4M is dividable by 38.4M (XTAL), so the PLL(96M) and the cardinal clock (24.576M) won't be used?

BTW, I just heard from @mrajwa that he has locally fixed this issue, so better sync with him about the solution also.

[2020-06-09 15:27] plbossart commented on #2936
@keyonjie IIRC some clock sources are not available in all S0ix states so indeed we need to be careful.

[2020-06-09 16:09] sathya-nujella commented on #2936
Sure Janusz. Let me try it and update.

[2020-06-09 21:43] Erfboom opened #3040 "[BUG] no audio through headphones on dell insirpon 7590."
**Describe the bug**
when headphones are plugged in, no audio is heard. under pavaudio, headphones will be shown as being detected and the laptop speaker will be muted. the only way to fix it is to go under configuration --> profile --> off --> play HiFi quality music.

I am using sof-firmware 1.4.2-1 on 5.6.15-arch1-1 kernel.

I have checked alsamixer to see if anything was muted as well and it's

[2020-06-10 02:00] keyonjie commented on #2936
Yes, for example, using the Audio PLL (96MHz) or HP ROSC will prevent the system entering to S0i3.x here (but fine for S0i2.0~S0i2.2). When looking to the spec, what makes me concern more is that we might need to do more (e.g. power gated the LP ROSC and XTAL) before we can enter S0i3, though I am not quite sure about this.

FWIW, @mrajwa is working on the solution here.

[2020-06-10 09:45] lgirdwood commented on #3007
@crazoes please try and run the xtensa-host.sh with -t to debug boot issues. You can also use the tracing script too, please apply this update
[code]

[2020-06-10 09:55] lgirdwood commented on #2880
Looks like 4ms of data coming 16ms after end of playback. Does this happens in SSP loopback mode ? i.e. is it a codec issue or a FW issue.

[2020-06-10 23:29] sathya-nujella commented on #2936
I tried the below:
Changes:  patch from this PR: linux/pull/2184   +  0_6 firmware with LPRO enabled.

Result:  Audio PLL is ON. So, we still have issue.

cat /sys/kernel/debug/pmc_core/substate_status_registers
AudioPLL_OFF_STS               0

[2020-06-11 01:59] ClarexZhou commented on #2937
fw v1.5.1 is released, find binaries from https://github.com/thesofproject/sof-bin/tree/stable-v1.5.1

[2020-06-11 06:22] sathya-nujella commented on #2936
on 0_6 release, we can not apply this patch because in 0_6 release we don't have this new ssp driver changes.
So, I directly checked out to janusz branch: jajanusz/mn-free-mclk and built firmware.
I don't see this function mn_release_mclk() getting called in sof logs.
Not sure if I miss some thing?

[2020-06-11 09:54] lgirdwood commented on #2937
@perexg fyi

[2020-06-11 11:04] crazoes commented on #3007
@lgirdwood There are couple of things that we tried to solve the boot problem. I would like to list them here for your information

1. Increasing the boot timeout value under sound/soc/sof/loader.c
`       sdev->boot_timeout = 10000;
`
We thought maybe dsp doesn't get enough of booting time so we tried to increase this value but nothing changed with it.

2. Printing the IRQ number ( byt_acpi_probe

[2020-06-11 11:20] dbaluta commented on #3007
@lgirdwood @crazoes I don't think there is any problem with Qemu implementation. On my side, I successfully booted the DSP but then got a timeout when loading the topology.

Lets try the debug script @lgirdwood mentioned.

[2020-06-11 11:37] lgirdwood commented on #3007
@crazoes I would expect to see the IRQ count increment, the mapping looks correct, but it may be that qemu APIs have been updated wrt IRQs on x86, maybe we are missing something. Can you check the other PCI qemu drivers for IRQ logic.
@dbaluta the SHM memory dumps will also help here, you could divert all trace to the "trace error" region (no DMA) and then use sof-logger to read the SHM file, but

[2020-06-11 17:33] sathya-nujella commented on #2936
cross checked again,
Audio PLL is ON
cat /sys/kernel/debug/pmc_core/substate_status_registers | grep LPM
LPM_STATUS_0:   0xf57c00f4
23rd bit: AUDIO_PLL off status: 0 <<indicating audio PLL is ON

[2020-06-12 11:41] keyonjie commented on #2936
Hi @jajanusz could you help to add a regular FW trace log to print out the clock power status, e.g. including CLKCTL, CLKSTS, PWRCTL and PWR_STS ?

[2020-06-12 20:57] fredoh9 opened #3047 "[BUG][ICL] KMOD test fails due to power_status is always active"
Moved the issue from linux project, https://github.com/thesofproject/linux/issues/2193

In recentl PR tests, ICL KMOD tests are failed. This is found only on ICL_RVP_HDA, but very consistent.
From daily regression report,

- linux hash: 2839e03e, sof hash: b5043671==> no issue
- linux hash: c5e14df5, sof hash: 700ca2ae ==> issue found for the first time

Module loading /unloading are working fine.

[2020-06-13 20:36] crazoes commented on #3007
@dbaluta I tried the script given by Liam.

dump.txt :- https://gist.github.com/crazoes/d6115a0a8f655d0f2f64826f3b4138a1
entry.txt :- https://gist.github.com/crazoes/ada9c73237058cf9e97e380acfc7436d

I don't really understand much so will need your help with it.

[2020-06-14 18:24] ZaheenJ opened #3049 "[BUG] Mic only detects white noise"
**Describe the bug**
The mic only produces static/white noise. It was a certain update that caused the mic to stop working properly, but I can't quite remember what was updated. I remember the kernel, and some alsa and topology packages being updated. I tried to downgrade the kernel, but that didn't fix it.

**To Reproduce**
I'm not sure if it is the kernel upgrade to 5.7 or some alsa component up

[2020-06-15 06:53] jajanusz commented on #2936
@keyonjie I can, but IMO it's wrong place to look, cos CLK* functions are for oscillators for CPU not for SSPs.

@sathya-nujella This function has no logs, but if you free'd all SSPs it should be called.

[2020-06-15 07:03] jajanusz commented on #2936
@keyonjie @sathya-nujella
Do you know at which point PLL gets turned on?
Is it already on after FW is loaded or after first SSP is configured/startedplaying/etc?

[2020-06-15 08:40] Liviali155 commented on #2776
Error reproduced on latest sof-dev(140f27c9)+master(a10b0ad2) when run module reload
1.sudo rebot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg
5../check-kmod-load-unload.sh -l 50
6../check-kmod-load-unload.sh -l 50

Failed at 36th of step6

<details>
 <summary>dmesg_error.log</summary>

[code]
</details>
After error occured,can not catch sof-logg

[2020-06-15 08:46] dbaluta commented on #3007
@crazoes dump.txt looks OK. It shows the firmware idle waiting for an interrupt. Lets debug this together in our weekly meeting.

[2020-06-15 10:01] keyonjie commented on #2936
It looks it is always on, even before the audio driver is loaded.

[2020-06-15 10:13] singalsu commented on #3049
Which of the capture devices are impacted. 0, 6, or 7?

Do you have a headphone (3 pole plug) or headset with microphone (4 pole plug) or some line-out cable connected to 3.5 mm plug. And what device is this?

[2020-06-15 18:46] ZaheenJ commented on #3049
I am not sure what you mean by 0, 6, or 7, I am sorry. I only have one mic in this scenario, and it is my laptop's built in mic. I have [speakers](https://www.cnet.com/products/altec-acs-44-speaker-s/) with no mic connected via a 3.5 mm cable. Before my mic stopped working, I always had two mic options which were headset microphone and the build in one, even though my speakers didn't have a microp

[2020-06-15 19:11] Thiago4532 opened #3052 "[BUG] Microphone not working Arch Linux kernel 5.7"
Microphone still detected but stopped working since I upgraded to linux kernel 5.7.

Linux Kernel: 5.7.2
sof-firmware: 1.5.1-1
OS: Arch Linux x86_64

[2020-06-15 20:33] #3052 closed

[2020-06-15 21:37] paulstelian97 commented on #3052
I assume the reason for closing was that it fixed by itself or you omitted some configuration that was necessary. Care to mention?

[2020-06-15 21:57] sathya-nujella commented on #2936
Also one more experiment I did, FYI:
I removed all end like speaker/headphone/hdmi from tplg and kept only DMIC.  I still see Audio PLL ON.
==
localhost ~ # aplay -l
**** List of PLAYBACK Hardware Devices ****
localhost ~ # arecord -l
**** List of CAPTURE Hardware Devices ****
card 0: sofrt5682 [sof-rt5682], device 99: DMIC (*) []
  Subdevices: 1/1
  Subdevice #0: subdevice #0

[2020-06-16 07:23] mrajwa commented on #2936
@sathya-nujella, we know that. That's why on the email thread I wrote we need to verify:

a. PMC testing screepts (are they properly aligned for TGL)? What they show is suspicious and contradicts our settings.
b. Coreboot - they may initialize something that is using this PLL

[2020-06-16 07:38] slawblauciak commented on #3049
What device is this? Would be useful to have full dmesg and sof-logger traces supplied.

[2020-06-16 07:42] slawblauciak commented on #3047
Are you sure that the bisect is 100% accurate? What's the reproduction rate here?

[2020-06-16 07:56] slawblauciak commented on #2937
Fixes merged and released. Closing.

[2020-06-16 07:56] #2937 closed

[2020-06-16 08:35] lgirdwood commented on #3049
@ZaheenJ these are the PCM device numbers from your ```arecord -l```

You can capture from thiose uisng th e```arecord -Dhw:0,x``` where x is the PCM number.

[2020-06-16 09:05] Liviali155 opened #3056 "[BUG][TGL]The Dmic volume controls were renamed from "Dmic0 Capture Volume" to "Dmic0 10 Capture Volume""
**Describe the bug**
The Dmic  volume controls were renamed from "Dmic0 Capture Volume" to "Dmic0 10 Capture Volume"

**To Reproduce**
1."sudo reboot " to reboot sysytem
2.amixer contents |less" to check the name of  Dmic volume controls

**Reproduction Rate**
10/10

**Expected behavior**
The name of Dmic  volume controls is  "Dmic0 Capture Volume"

**Impact**
The name of Dmic  volume controls is

[2020-06-16 09:07] Liviali155 commented on #3056
Need to merge https://github.com/thesofproject/sof/pull/2942

[2020-06-16 13:09] stakaz opened #3058 "[BUG] Internal Speakers not working on Acer TravelMate P614 (Realtek ALC295)"
**Describe the bug**
- The integrate speakers of the Laptop Acer TravelMate P614-51T-G2 do not produce any sound.
- HDMI cannot be used to play sound
- headphone jack works as expected
- microphone works after tweaking but is a bit noisy

**To Reproduce**
Fresh install of Arch Linux and sof-firmware
I have added a sink and a source to `/etc/pulse/default.pa` (see below), the microphone works after

[2020-06-16 13:12] stakaz commented on #3058
The speakers work well on Windows and shutting down windows without fast startup did not resolved the issue.

[2020-06-16 13:17] dbaluta opened #3059 "[FEATURE] Enhance build_tools.sh"
**Is your feature request related to a problem? Please describe.**

1) Add -h option to sof/scripts/build-tools.sh so that running ./scripts/build-tools.sh -h will call print_usage function.

2) Refactor build-tools.sh options so that for example when called with "-f" the script will only build the fuzzer not all the toools

**Describe alternatives you've considered**
I don't really like when usin

[2020-06-16 13:18] dbaluta commented on #3059
Cc: @crazoes care to have a look at this task?

[2020-06-16 15:24] paulstelian97 commented on #3058
You may try other combinations -- booting into Windows and then rebooting without a full shutdown into Linux. Fresh boot Linux without having booted Windows (try after a force-power-off, like holding down the button 4 seconds, that can also change hardware state).

[2020-06-16 15:26] paulstelian97 commented on #3059
If you want -f to only build the tools, you will need a separate switch for building the topologies and I don't recall there being any. So you say one should be introduced for this as well?

[2020-06-16 16:53] stakaz commented on #3058
Hello, unfortunately none of the windows/linux booting methods helped. Is is that common to have such issues? I thought it is much more likely to have a linux driver that does not work (hopefully yet).

[2020-06-16 17:23] paulstelian97 commented on #3058
Well the next thing to check is whether it's SOF or PulseAudio at fault. You should download some .wav file, say it is called file.wav and it is in your home folder.

Then, you'd try the command `aplay -Dhw:0,0 file.wav` or `aplay -Dhw:0,1 file.wav`. If either works, this is a problem in the UCM configuration. You may need to prepend `sudo` to these commands if you're not in the `audio` group.

Le

[2020-06-16 20:00] stakaz commented on #3058
Ok, for the sake of clarity I have uninstalled pulseaudio and depending packages. The total result is the same: headphones: yes, speaker no. However I was only able to play sound with
[code]
while trying to set a hardware card ended in different errors
[code]

Here are again some outputs
[code]

[code]

[code]
alsamixer
![alsamixer](https://user-images.githubusercontent.com/998651/84822172-8bd8420

[2020-06-16 20:02] stakaz commented on #3058
What I thick could be important is this information:

[code]
which suggests that there are no speaker outputs but the line_out is remapped to speakers.

[2020-06-16 20:52] dbaluta commented on #3059
@paulstelian97 Yes, that's true

[2020-06-17 06:29] keqiaozhang opened #3061 "[BUG] JSL: S0ix failure while WOV pipeline is running with DSP in D0IX"
**Describe the bug**
S0ix suspend failed while WoV is running.

**To Reproduce**
1. Flash s0ix enabled coreboot and EC on the JSL board with default DB (DA7219+Max98360a).
2. Boot the device.
3. Flash the latest Google kernel with TGL S0IX enable kernel patch.
4. Make sure WOV KWD is working during S0 with the below command
arecord -Dhw:0,6 -M -N -c 2 -f S16_LE -r 16000 --buffer-size=68000 tmp.wav

[2020-06-17 11:02] singalsu commented on #3049
@ZaheenJ Can you try Ubuntu 20.04 live image (try without installing option) and from Settings -> Sound -> Input device. Try the options there like "Internal Microphone - Built-in Audio". The level meter  there should follow your speech level if there's sufficient Volume level set from the widget below.

If you are willing to debug the low level audios the arecord command can be used for doing tes

[2020-06-17 11:23] YvonneYang2 commented on #2684
Issue still can be reproduced on suspend/resume stress test with latest topic/sof-dev+master.

reproduced steps:
 1. System boot up.
 2. cd sof-test then run "export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-pcm512x.tplg"
 3. cd test-case then run "./check-suspend-resume.sh -l 200"

Environment
Platform: APL UP2 with I2S PCM512x mode
Firmware: 4f1090d0 https://github.com/thesofproject/sof/commits/

[2020-06-17 16:40] fredoh9 commented on #3047
it's 100% reproducible. after revert the commit it worked fine.

[2020-06-17 17:06] crazoes commented on #3059
Topologies are getting built as part of building tools which happen by default for building fuzzer and test topologies. Should only topology not be built? Should we skip building tools(probes, logger, ctl, topology, test) altogether if not specified by let's say `-T`?

[2020-06-17 18:30] dbaluta commented on #3059
@crazoes in my opinion script should compile everything without parameters and then add a parameter for each tool: (probes, logger, ctl, topology, test, fuzzer, etc).

[2020-06-17 20:50] abonislawski commented on #2913
@sathya-nujella it is enabled in tigerlake_chrome override defconfig

[2020-06-17 21:19] lgirdwood commented on #3058
@juimonen are we missing anything here from UCM or config ?

[2020-06-18 01:49] aiChaoSONG opened #3063 "[BUG][CI][CHT][BYT] Build failure on CHT: .text will not fit in region sof_text_start"
[100%] Linking C executable sof
/home/test/xcc/install/tools/RD-2012.5-linux/XtensaTools/bin/xt-ld: sof section `.text' will not fit in region `sof_text_start'
CMakeFiles/sof.dir/build.make:1820: recipe for target 'sof' failed
make[3]: *** [sof] Error 2
CMakeFiles/Makefile2:396: recipe for target 'CMakeFiles/sof.dir/all' failed
make[2]: *** [CMakeFiles/sof.dir/all] Error 2
CMakeFiles/Makefile2:165

[2020-06-18 04:33] ZaheenJ commented on #3049
I am sorry for not responding here, but I have good news. I don't think it was a SOF problem because an update to [alsa-ucm-conf](https://www.archlinux.org/packages/extra/any/alsa-ucm-conf/) fixed everything. I also had another unrelated problem before all of these updates, everything worked but sometimes I had a problem where my speakers and mic fail and the system hanged. Now that doesn't happen

[2020-06-18 04:33] #3049 closed

[2020-06-18 08:00] singalsu commented on #3049
@ZaheenJ Thanks for resolve, update and close of issue. Please continue reporting issues if things do not work with SOF!

[2020-06-18 08:17] ClarexZhou commented on #3063
Bi-sect result: issue occurred from https://github.com/thesofproject/sof/commit/a2d1e1efdc554becec70a6c1d95491bac59800ef

[2020-06-18 08:18] ClarexZhou commented on #3063
@bkokoszx  could you please help to check first?

[2020-06-18 08:34] stakaz commented on #3058
Hey there, just a short question: it is a very recent notebook and I bought it one week ago. So, fro what can be seen now, it is more likely that it will be fixed in the near future or is it more like "another not-working hardware in linux world"? Just an impression of how it feels I would say, it could be fixed soon but I am not an expert of course.

[2020-06-18 08:52] stakaz commented on #3058
And here is a list with loaded modules

[code]

[2020-06-18 11:03] juimonen commented on #3058
@stakaz did I read it correctly that you manually configured the sinks in pulse config file? these hw0,0 and hw0,6? If you did so, we're there some issues pulseaudio autodetecting alsa outputs/inputs?

[2020-06-18 11:08] stakaz commented on #3058
Yes, at least the microphone was not working without this setting. But the headphones are detected and I can use them without the sink setting. But it does not change the problem with no HDMI/no speakers output...

THe difference is, when not explicitly set the sink I have a device where I can switch between Stereo and Multi-Channel settings but with the sink set, there only one fixed output possi

[2020-06-18 11:14] juimonen commented on #3058
@stakaz ok, it might be then as @lgirdwood hinted that there's no correct version of alsa-ucm in your setup (these are the config files that "glue" pulseaudio and sof together, so pulseaudio finds correct sinks&sources)...

If you check for example this, I think it was with arch linux:
https://github.com/thesofproject/sof/issues/3049

[2020-06-18 11:50] stakaz commented on #3058
@juimonen Thanks, after installing the last version of alsa-ucm things became much better. I now see all the correct sinks and sources of my device. The microphone works, HDMI works and headphones work as well, but still no sound through the speakers.

[code]

[2020-06-18 11:52] stakaz commented on #3058
I do not need the blacklist anymore and no manual settings for pulseaudio (except disabling `load-module module-suspend-on-idle` to avoid noise in the idle state).

[2020-06-18 12:00] stakaz commented on #3058
Anything I can test with `HDAJackRetask`?

![image](https://user-images.githubusercontent.com/998651/85017609-0663a780-b16c-11ea-8ec4-8409a6103e68.png)

[2020-06-18 13:12] stakaz commented on #3058
It seams somehow that I cannot override anything through HDAJackRetask.

[2020-06-18 15:04] singalsu commented on #2981
With a lot of help from @jdrzaszcz I have now replicated the issue with my setup and I have an initial fix done & under test. The pull mode filter core has an overrun condition protection that can happen but the SOF buffer update is not aware of the exception and thinks requested amount was processed.

[2020-06-18 15:12] stakaz commented on #3058
Could something in the `HiFi.conf` be wrong? This one seems to be used.

[code]

However I wounder why the `7` is used for the `PlaybackPCM` because `aplay -l` gives

[code]

[2020-06-18 15:26] stakaz commented on #3058
Oh no, probably it is this one:

[code]

[2020-06-19 03:06] aiChaoSONG commented on #3047
@fredoh9 I run kmod scripts on one ICL HDA device, issue not reproduced, seem it is fix, but no idea who and what PR fix this issue. Can you help to check?

No need to close linux issue and open a new sof issue, you can direct transfer issue from one repo to another.   try to search "Transfer issue" on this web page, you should know how to transfer.

[2020-06-19 03:29] YvonneYang2 opened #3068 "[TGL][007-drop-stable]"error: ipc error for 0x50040000 size 124" occurred when system boot up."
**Describe the bug**
"error: ipc error for 0x50040000 size 124" occurred when system boot up. Piplines cannot work after issue happened.

**To Reproduce**
1. Boot up system.
2. Check dmesg.

**Reproduction Rate**
100%

**Expected behavior**
system boots up without any error.

**Impact**
"error: ipc error for 0x50040000 size 124" occurred when system boot up.

**Environment**
Kernel:https://github.

[2020-06-19 03:32] keyonjie commented on #3068
The error message below should actually not impact the subsequent test? There is no initial model->data for smart_amp, that is the reason why we see this error.

[code]

We should either initialize the model->data for smart_amp, or change to just return a warning here.
@bkokoszx

[2020-06-19 03:40] fredoh9 commented on #3047
@aiChaoSONG I can check this again tomorrow.
Good to know we can transfer a github issue from different repo. I will try that in next time.

[2020-06-19 03:48] fredoh9 commented on #3047
Indeed, I quickly checked again a ICL_RVP_HDA with today's build. it is working fine.

[2020-06-19 07:09] slawblauciak commented on #3047
Good to close then?

[2020-06-19 07:17] keyonjie commented on #3068
something like this, @bkokoszx

[code]

[2020-06-19 09:50] ClarexZhou commented on #3068
Tested with PR #3069  ,  no ipc error after system boot up.
But still failed with same ipc error when trigger aplay

[code]
dmesg
[code]
[dmesg.txt](https://github.com/thesofproject/sof/files/4803758/dmesg.txt)
[all-logger.txt](https://github.com/thesofproject/sof/files/4803759/all-logger.txt)

Test recipe:
Kernel:  Sof dev [commit: 1b2f2606]
+ PR https://github.com/thesofproject/linux/pull/2208 f

[2020-06-19 12:12] sinahuang commented on #3068
Test on Chromebook  with codec 98373 in I2S mode with PR https://github.com/thesofproject/sof/pull/3069, runtime PM status keep active after do some playback/capture, and then ""error: ipc error for 0x50030000 size 124" occurred.
[code]
Test recipe:
Kernel:  Sof dev [commit: 1b2f2606]
+ PR https://github.com/thesofproject/linux/pull/2208 for DP fix
+ PR https://github.com/thesofproject/linux/pull/

[2020-06-19 12:39] stakaz commented on #3058
Could #1899 this be somehow related? Because I have a Kaby Lake processor `i7-10510U`. I wanted to compile sof-fimrware from master branch but as I see now, it is not possible, is it?

One repetitive remark: I have tested the sound on a system completely without pulseaudio and it has the same issue, so it is likely **not** the pulseaudio which causes the fault.

[2020-06-19 12:55] paulstelian97 commented on #3058
That CPU is apparently Comet Lake. I for one am not sure about the state of implementation for CML. It seems to use the Skylake implementation on your platform but I'm not sure whether it's correct. I'll leave someone from Intel comment on this.

[2020-06-19 13:03] stakaz commented on #3058
Sorry, to hasty copy/paste ;)

Just in case, could this be the reason for such a "no speaker" behavior? After all, everything else is working properly...

[2020-06-19 13:11] paulstelian97 commented on #3058
I don't know if the Skylake implementation is supposed to work on CML or there needs to be separate support. Maybe there isn't (again, I will let someone from Intel to say for sure, I'm working on the ARM-based i.MX platforms so I don't know how the Intel side works exactly). If the implementation is incompatible this might lead to behaviors like not loading at all or not connecting to the speaker

[2020-06-19 13:20] bkokoszx commented on #3068
@ClarexZhou @sinahuang
I've just updated #3069. Could you try to reproduce error with it?

[2020-06-19 16:20] plbossart commented on #3047
can we re-enable the CI tests @fredoh9 and close after CI tests report success?

[2020-06-19 16:29] plbossart commented on #3058
@stakaz let's step back a bit here.

To debug playback on speakers, the first order of business is to test with the 'legacy' driver. Please use 'blacklist snd-pci-sof', remove 'blacklist snd-hda-intel' and force the snd-hda-intel driver to be probed with 'options snd-intel-dspcfg dsp_driver=1'

Then try to play with the legacy driver. If you don't get the expected sound, then it's a codec configur

[2020-06-19 18:48] stakaz commented on #3058
Unfortunately (fortunately for sofproject ;) ) it does **not** work with legacy driver.

I have also tested all possible pin reconnections through hdajackretask but nothing worked.

Here some output. Could you help me with where to ask about the codec problem now?

Here is some output again
[code]

[code]

[2020-06-19 19:35] plbossart commented on #3058
@stakaz yes it's disappointing but at the same time it's progress if you've identified a codec configuration issue. it's not unusual, it's just back luck that it happened on your device.

Since the SOF team has limited expertise on the pin retasking, I would report this issue on the alsa-devel mailing list, cc: Takashi Iwai <tiwai@suse.de> with the subject [HDAudio][ALC295] speakers not working on

[2020-06-19 20:15] stakaz commented on #3058
Many thanks for the quick reply.

From what you know, is such an issue usually get fixed at some point?

Shell I compile the v5.8-rc1 kernel or can I get from it somewhere through arch repositories?

I will do it after the kernel try.

What do you mean by that?

Probably you can close this issue now? Or do you have some more hints for me?

[2020-06-19 20:39] plbossart commented on #3058
You're welcome @stakaz

Fixing the issue is just like other Linux issues, maintainers and domain experts will need to understand what happens and ask you to test patches. So it's useful for you to compile the kernel yourself in preparation for feedback and asks for tests.

alsa-info is a script that will upload the info on your device to the alsa-project site. You can use the reference to the uplo

[2020-06-19 21:27] fredoh9 commented on #3047
Sure, I just submitted the patch to enable KMOD tests on ICL. I will closely monitor the result after merging it.

[2020-06-19 22:31] fredoh9 commented on #3047
BTW, I did git bisect also.
After picking this, a2d1e1efdc554becec70a6c1d95491bac59800ef, it worked fine.

[2020-06-21 07:53] gobenji opened #3072 "[BUG] step up in output volume on Thinkpad X1 Carbon 7th"
**Describe the bug**
When playing some streams on the Thinkpad X1 Carbon 7th, the volume level is noticeably (~50%?) lower for the first ~0.5s.

**To Reproduce**
I can hear it by playing the [following sample](https://github.com/thesofproject/sof/files/4809046/output.wav.gz) via aplay:
`aplay -Dhw:0,0 output.wav`
The second bell ring sounds louder. Opening the file in ex. audacity shows that in fa

[2020-06-21 16:30] aleksfadini commented on #2134
I'm having the same issues, with the Cannonlake C940. Could it have to do with our version of the C940 that is different?

[2020-06-21 16:33] aleksfadini commented on #2134
I am another user having the same issue, I think our Lenovo Yoga c940 being the CannonLake version might have different hardware.
I opened this issue
https://github.com/thesofproject/linux/issues/2020#issuecomment-638265496

[2020-06-22 02:05] ClarexZhou commented on #3068
Error can be fixed via latest #3069

[2020-06-22 05:18] tlauda commented on #2909
It's unmasked as soon as there is any low latency task executed on slave core.

[2020-06-22 05:18] #2909 closed

[2020-06-22 06:41] tlauda commented on #2847
Merged on master as 56ebbad4754011935e461a1cf562afc591fa1e9d#diff-42919f6fbfbb4d0860a530af0fbd9941.

[2020-06-22 06:41] #2847 closed

[2020-06-22 06:43] tlauda commented on #2848
Merged as 4cd4fd8f12878e3e0c0e09f0affd7b762c04851b.

[2020-06-22 06:43] #2848 closed

[2020-06-22 06:44] tlauda commented on #2849
Merged as aef7bd0ba654cd909b578f275399913e1c3b.

[2020-06-22 06:44] #2849 closed

[2020-06-22 06:44] tlauda commented on #2850
Merged as 9e0d994e8d3ab0316e1fdd59fdf98d603e769cb4.

[2020-06-22 06:44] #2850 closed

[2020-06-22 06:45] tlauda commented on #2851
Merged as 0d0ee34a311b879365c5e49eb0aceaa04c4eab3f.

[2020-06-22 06:45] #2851 closed

[2020-06-22 06:46] tlauda commented on #2852
Merged as c07e43fad53afeed4872085a8b8c0056c917adcc.

[2020-06-22 06:46] #2852 closed

[2020-06-22 06:47] tlauda commented on #2853
Merged as f724ef10581a93e9524038e218cfd012b56794ba.

[2020-06-22 06:47] #2853 closed

[2020-06-22 07:46] xiulipan commented on #3063
The TEXT size on CHT is just a little out range.
After hack with memory.h, we can got the current TEXT size.
[code]

[2020-06-22 07:50] sinahuang opened #3073 "[BUG][TGL][DSM]Sound from speaker0,0 is distortion when playback and capture on speaker at the same time"
**Describe the bug**
Sound from speaker0,0 is distortion when playback and capture on speaker at the same time

**To Reproduce**
1.Run "aplay -Dhw:0,0 -f s32_le -c 2 -r 48000 sine_48k_32bit_10s_stereo_l5_r2.wav -d 5 & arecord -Dhw:0,0 -f s32_le -c 4 -r 48000 record.wav -d 5"
2.Check the sound output from speaker.

**Reproduction Rate**
5/5

<img width="863" alt="1" src="https://user-images.githubu

[2020-06-22 08:30] sinahuang commented on #3073
Error not seen with tgl-006-drop-stable released FW + tplg on https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc2 +pr3069 branch and
 kernel https://github.com/thesofproject/linux/commits/topic/sof-dev +PR#2208
PR#2184 +0001-hack-hack-98373-for-feedback-data-validation.patch.txt .

[2020-06-22 09:04] keqiaozhang opened #3076 "[BUG] firmware load failure on JSL Chrome with LPS changes"
**Describe the bug**
on JSL chrome, we found that with jasperlake_defconfig, firmware can be loaded successfully. but after changing LPS with jasperlake_chrome_overridedefconfig, firmware failed to load with errors.

**To Reproduce**
build JSL firmware with xcc:
1. mkdir build
2. cd build
3. cmake -DTOOLCHAIN=xt -DROOT_DIR=$your_path/xcc/install/builds/RG-2017.8-linux/X6H3CNL_2017_8/xtensa-elf ..

[2020-06-22 09:25] ClarexZhou commented on #3073
Error only occurred if build fw with chrome_override changes in config
make tigerlake_chrome_overridedefconfig

Error not seen if build fw with only defaultconfig

[2020-06-22 09:30] jajanusz commented on #3076
ROM error says `Mailbox upstream has invalid alignment`.
Also FW loads with diagnostic driver + our tests, so there is some integration problem.

[2020-06-22 09:38] jajanusz commented on #3073
Problem is caused by not fitting into 120MIPS (there is 400mhz clock with defconfig and 120mhz in chrome config)

[2020-06-22 09:59] mengdonglin commented on #3073
@jajanusz So this is a performance restriction caused by lower clock frequency?

[2020-06-22 10:01] jajanusz commented on #3073
Yes, we are testing some optimization fix, but if it's not enough we will need to use dynamic clock switching.

[2020-06-22 10:27] ClarexZhou commented on #3073
issue only occurred after disable LPS.
Error not seen if build with LPS enabled, and disable LPRO.

[2020-06-22 11:58] lgirdwood commented on #3072
@singalsu any comments ?

[2020-06-22 12:08] lgirdwood commented on #3073
@sinahuang @ClarexZhou are we using any demux in the topology ? We have an updated DEMUX pending that reduces from 70MCPS to 8.5 MCPS

[2020-06-22 12:14] singalsu commented on #3072
@lgirdwood @gobenji Thanks for reporting! The volume linear ramp is 250 ms long and the first "beep" in this sound clip about the same length so large amount of it, e.g. first 100 ms, get a significant attenuation. The ramp was made long to avoid zipper noise (higher frequency rattle while adjusting volume). There has been also need to conceal noise sounds in the beginning but it's more a capture

[2020-06-22 13:10] #3012 closed

[2020-06-22 14:32] mmaka1 commented on #3068
@YvonneYang2 Why is the smart-amp component provisioned with settings of size = 0? Is not the FW responding with error correct?

[2020-06-22 16:42] marc-hb commented on #2543
Here's a quick, dirty and lazy workaround for this situation:

[code]
See PR `scripts: build-tools.sh: Make tools individually buildable` #3064 for more background

[2020-06-22 16:48] fredoh9 commented on #3047
confirmed, working fine with latest build.
https://sof-ci.01.org/linuxpr/PR2220/build3978/devicetest/

[2020-06-22 16:48] #3047 closed

[2020-06-22 16:56] plbossart commented on #2901
@perexg I suggest we close this bug for now, the discussion completely drifted from the initial issue and re-reading this I am not sure what the ask is?

[2020-06-22 17:04] timur-enikeev commented on #2828
Hello. I have the same problem. Dell Inspirion 5391.

lspci item of sound card:

[code]
Ubuntu 20.04.

Is there any solution? It's very annoying problem. BTW this laptop had Ubuntu 18.04 preinstalled. But I don't work with the preinstalled version then can't check does it have this bug.

[2020-06-22 17:14] perexg commented on #2901
The original question was about the signed firmware files and compatible topologies for SoundWire hardware. If the SOF binary 1.5 release is fine, then you can close this bug.

The CONFIG_SOUNDWIRE_INTEL is not selectable from the sound/ tree in 5.8-rc2 (still) nor Mark's for-5.9 ASoC branch, so my hands are limited to add the SoundWire support to our distributions.

[2020-06-22 17:17] timur-enikeev commented on #2828
@lgirdwood

Hello. How to install the new version of sof? I see that there is different directory structure.

[2020-06-22 17:44] plbossart commented on #2901
@perexg there's only 10-odd patches or so before we can add the build, should be soonish now that all infrastructure patches are behind us.

[2020-06-22 17:44] #2901 closed

[2020-06-22 21:50] sathya-nujella commented on #3073
this is a blocker for us: we can not enable WoV + DSM feature at this moment..

[2020-06-22 22:10] RDharageswari commented on #3073
We see I/O error when we open the (feedback)capture path while speaker playback
localhost ~ # arecord -Dhw:0,0 try.wav -c4 -fs32_le -d10 -r48000
Recording WAVE 'try.wav' : Signed 32 bit Little Endian, Rate 48000 Hz, Channels 4
arecord: pcm_read:2151: read error: Input/output error

[2020-06-22 23:22] sathya-nujella commented on #3073
Is it like using LPRO for only S0ix+Wov and for all other cases use HPRO?

[2020-06-23 03:06] keyonjie commented on #3073
Yes, we use demux there.  @sinahuang @ClarexZhou can you help to try if Bartosz's PR help for this?
https://github.com/thesofproject/sof/pull/3000

[2020-06-23 03:58] sinahuang commented on #3073
Error can be seen with PR https://github.com/thesofproject/sof/pull/3000 when build with LPS and LPRO enabled.

<img width="867" alt="23" src="https://user-images.githubusercontent.com/56706782/85359392-ae9cb600-b548-11ea-89e3-01e071d97207.PNG">
[record.zip](https://github.com/thesofproject/sof/files/4817063/record.zip)

[2020-06-23 04:36] ClarexZhou commented on #3073
Error still can be reproduced with https://github.com/thesofproject/sof/commits/tgl-007-drop-stable, commit f16bf1eae6f6a.  Error can be reproduced even after disable LPRO in config with this commit.

Error not seen with PR#3000, even with LPRO enabled config

[2020-06-23 07:42] slawblauciak commented on #3073
The mentioned PR will not fix the problem if the DSM processing is enabled.

[2020-06-23 07:52] slawblauciak commented on #3058
Closing, not related to the SOF firmware or the driver.

[2020-06-23 07:52] #3058 closed

[2020-06-23 11:02] lgirdwood commented on #2828
@timur-enikeev all sof fiirmware binaries are installed under
```/lib/firmware/intel/sof```
as per the layout in the sof-bin repo. The topologies are in
```/lib/firmware/intel/sof-tplg/```
You should just be able to follow the instructions in sof-bin. Please aslo provide the output of dmesg.

[2020-06-23 11:09] lgirdwood commented on #3073
Btw, there was another DEMUX corruption fix applied yesterday (sorry, cant remeber PR), we should be applying that and #3000 as dependencies in order to fix this issue (since they fix other related issues that can impact this issue).

[2020-06-24 02:04] ClarexZhou commented on #3073
Error not seen with tgl-007-drop-stable, tag: releases/tgl/v7.0-rc5, commi: 1dd07a8a

[2020-06-24 02:47] keyonjie commented on #2936
Hi @sathya-nujella so looks we are good for this issue since we can already enter to s0i3.0, so let's wait for merge of thesofproject/linux#2184 and then close it?

[2020-06-24 02:50] sathya-nujella commented on #2936
sure, thanks!

[2020-06-24 02:57] Liviali155 commented on #3056
closed  for #2942 merged

[2020-06-24 02:57] #3056 closed

[2020-06-24 05:15] marc-hb commented on #3063
Yet everything is green in PR #2897  ?!

@xiulipan do you think this went over the limit only when PR #2897 was rebased and combined on top of some other code addition?

[2020-06-24 05:46] sinahuang opened #3092 "[BUG][TGL]Arecord0,0 sound wav files is not smooth."
**Describe the bug**
Arecord0,0 sound wav files is not smooth.

**To Reproduce**
1.Boot up system
2.aplay -Dhw:0,0 -f s32_le -c 2 -r 48000 sine_48k_32bit_10s_stereo_l5_r2.wav -d 5 & arecord -Dhw:0,0 -f s32_le -c 4 -r 48000 record.wav -d 5
3.Check the arecord files via audacity.

[record files.zip](https://github.com/thesofproject/sof/files/4823427/record.files.zip)
[sine_48k_32bit_10s_stereo_l5_r2

[2020-06-24 07:34] sinahuang commented on #2880
Error also can be reproduced on chrome book with codec 98373 in I2S mode.

[2020-06-24 08:20] jajanusz commented on #3092
What if you revert all topology changes?
These : https://github.com/thesofproject/sof/commit/462acfc3f59bc0e88b869359514281db31af388c
https://github.com/thesofproject/sof/commit/b36dabe499775ea063301af429cf31ab1aed1a2e

[2020-06-24 08:21] jajanusz commented on #3092
Or just checkout to https://github.com/thesofproject/sof/commit/e35e91de652e06183c51ecc9814e7165f780c116 and use defconfig (not chrome)

[2020-06-24 08:54] sinahuang commented on #3092
Error also can be seen on tgl-006-drop-stable .

<img width="852" alt="0062" src="https://user-images.githubusercontent.com/56706782/85524603-e552f900-b63a-11ea-8d94-43f4b132c377.PNG">
<img width="867" alt="006" src="https://user-images.githubusercontent.com/56706782/85524627-e97f1680-b63a-11ea-9a32-92e3c7132357.PNG">

[2020-06-24 10:28] lgirdwood commented on #2880
@tlauda is it possible that DMA continues to drain pipeline (or parts thereof) ?

[2020-06-24 11:21] bkokoszx commented on #3092
@sinahuang
Yours attached tgl-006-drop-stable waves looks correct. We capture current and voltage data from codec and they can be "less smooth".

On tgl-007-drop-stable (https://github.com/thesofproject/sof/issues/3092#issue-644336407), we can see small glithes:
![85505527-1faf9c80-b621-11ea-8a9e-6e371055a310](https://user-images.githubusercontent.com/41052777/85546712-787d3600-b61d-11ea-8cfb-e199

[2020-06-24 17:58] cujomalainey opened #3095 "[FEATURE] Add multi sink support to testbench"
**Is your feature request related to a problem? Please describe.**
Currently testbench only supports single output from process component, this makes it hard to test components that split streams like crossover

**Describe the solution you'd like**
Add multiple sink support to testbench

**Describe alternatives you've considered**
N/A all other solutions require hacking the code block under test

[2020-06-24 19:09] lgirdwood commented on #3095
@ranj063 @singalsu any pointers ?

[2020-06-25 06:58] jdrzaszcz opened #3096 "[BUG] Firmware returns an error on TplgCompFree on test with mixer on capture pipline."
**Describe the bug**
When running simultaneous 3 x capture and 3 x playback on loopback signal on each SSP's with mixer component on one of the capture pipeline, firmware returns an error on TplgCompFree. Error is visible since commit a21cba16d99d642dd55fd3ebdd04201fb1017c40 which check state != COMP_STATE_READY in comp_free.
When sending ipc TplgCompFree on mixer component firmware return -22.

*

[2020-06-25 12:29] singalsu commented on #3072
I created PR #3098 to address this. The topology change only works with v1.5.1 firmware but there can be some zipper noise rattle when the ramp is active. I can hear it with test signals easily, depending on music content less easily. But the beep beep notification becomes fully audible from beginning.

But the fixes for ramp rate adjustment and improvements to fractional time computation below ms

[2020-06-25 13:31] #3068 closed

[2020-06-25 15:04] plbossart commented on #3072
@singalsu we may want to be careful here in terms of user-experience.

When playing with PulseAudio, the sink remains open for 5s before being closed. So if a beep is send while the stream is active but sending zeroes, we would have no ramp in the firmware. We will however have a ramp when the sink is inactive and the beep makes it active.

Conversely, when playing with ALSA we will always have a

[2020-06-25 17:07] singalsu commented on #3072
@plbossart The ALSA audio open related fade-in ramp helps to avoid pop noise from codec in playback so this simple logic works for that. Pulse likely does also ramps so FW stream start ramp could be avoided for playback. But we don't have separate ramp duration parameters for start and normal volume adjust so some additional controls/parameters could be useful. Good to discuss to get this optimal

[2020-06-25 17:54] singalsu commented on #3095
@cujomalainey Superb, thanks! This has been in my wish list of things to do! I think this should be fairly straightforward to do. Maybe add support for multiple sources too when convenient. Also feel free to clean up command line interface if needed. There's not much dependencies to fix them into scripts.

[2020-06-25 17:59] cujomalainey commented on #3095
Excellent, that is good to hear, this will allow us to better test the crossover while the UUID stuff works its way through the PR process.

[2020-06-25 22:56] gobenji commented on #3072
Just to provide some context, in my case I noticed this problem because I use this bell sound for the terminal bell via pulseaudio:
[code]
Because of the ramp-up, the first terminal bell after the device is idle sounds noticeably weaker than a closely following bell. I find that really annoying from a UX PoV. I usually test it by simply openning an empty terminal with bash and pressing `<tab>` a f

[2020-06-27 12:26] timur-enikeev commented on #2828
@lgirdwood Hello. I have installed the 1.4.3 version, but there is the same problem. dmesg:

[code]

And how to check, have I installed this version correctly? Can I receive the current version loaded?

[2020-06-28 04:49] YvonneYang2 commented on #3092
Tested fw and tplg with latest tgl-007-stable(1dd07a8aa27d) + reverted 462acfc and b36dabe, issue can still be reproduced.
007 wav file : [007.zip](https://github.com/thesofproject/sof/files/4841702/007.zip)
![image](https://user-images.githubusercontent.com/50347470/85938175-5c3f0900-b93d-11ea-8621-6fc33692d724.png)

and tested tgl-006-stable branch again
006 wav file: [006.zip](https://github.co

[2020-06-28 06:29] YvonneYang2 opened #3102 "[BUG][TGL-tplg]"error: ipc error for 0x60010000 size 20" occurred when arecord with unsupported format."
**Describe the bug**
"error: ipc error for 0x60010000 size 20" occurred when arecord with unsupported format.  Now it only supports s16 format.

**To Reproduce**
1. Boot up system
2. arecord -Dhw:0,5 -f s32_le -c 4 -r 48000 record.wav -vv -i
3. Check dmesg

**Reproduce rate**
5/5

**Expected result**
No ipc error in dmesg and terminal shows warning like:
[code]
**Actual result**
Ipc error occurred

[2020-06-28 06:45] YvonneYang2 commented on #3102
Tested it with tplg on tgl-006-stable branch, error not seen.

[2020-06-29 02:03] YvonneYang2 commented on #3102
Tested it with #3103 , format 24_le/32_le could work and ipc error occurred.

[2020-06-29 02:51] ClarexZhou commented on #3061
Close for verified by chrome team on JSL chromebook, error not seen.

[2020-06-29 02:51] #3061 closed

[2020-06-29 02:53] ClarexZhou commented on #3073
Keep open, we are waiting for PR on Master.

[2020-06-29 03:08] keyonjie commented on #3102
Hi @naveen-manohar can you help to confirm if we will use the dmic16k for WoV on this SDW platform? if so, we might need your help to update this topology .m4 file, you can refer to sof-tgl-max98373-rt5682.m4 for the needed changes.

[2020-06-29 05:19] xiulipan commented on #3063
@marc-hb Yes, this is the issue with merge.
When #2897 run with test, it would be on code base A.
But when it is merged, it would be on code base B. I manually test with base A and B and the issue is there.

That would be an ideal solution, but the question here is you will never know what is the point for the rebase. The rebase happen when you click the merge button. At that time, the PR is merge

[2020-06-29 05:20] Liviali155 opened #3104 "[BUG][TGL][HDA]Wov pipeline will be triggered automatically no need clap hands or make some noise"
**Describe the bug**
Wov  pipeline will  be triggered automatically  no need clap hands or make some noise no matter using format  s32le/ s16le/ s24le

<img width="465" alt="Capture" src="https://user-images.githubusercontent.com/56707932/85975637-32541800-ba0b-11ea-8196-53eb19580fbf.PNG">

**To Reproduce**
1."sudo reboot" to reboot system
2.arecord -Dhw:0,7 -M -N -f s16_le -r 16000 -i -vvv -c2 --

[2020-06-29 05:40] Liviali155 opened #3105 "[BUG][TGL][HDA] Need to add PGA volume control on HDA kwd tplg"
**Describe the bug**
Need to add PGA volume control on HDA kwd tplg

**To Reproduce**
1."sudo reboot" to reboot system
2.alsamixer
3.Tab

**Reproduction Rate**
10/10

**Expected behavior**
There is PGA volume control on HDA kwd tplg

**Impact**
There is no PGA volume control on HDA kwd tplg
<img width="501" alt="Capture" src="https://user-images.githubusercontent.com/56707932/85976821-ea82c000-ba0

[2020-06-29 09:46] timur-enikeev commented on #2828
@lgirdwood  there is the same problem with 1.5 version.

I have installed the new version of SOF according to this instruction: https://wiki.debian.org/InstallingDebianOn/Thinkpad/X1 Carbon 7th Gen

[2020-06-29 20:52] lgirdwood commented on #2828
@slawblauciak any comments ? Looks like FW is looping forever and agent is complaining.
@timur-enikeev can you share the full dmesg, we need to see the full SOF logs. Thanks.

[2020-06-29 21:00] lgirdwood commented on #3104
@mrajwa any ideas ?

[2020-06-29 21:00] lgirdwood commented on #3105
@mrajwa @keyonjie any comments here ?

[2020-06-29 21:11] mrajwa commented on #3105
@lgirdwood, it is enough to set it in the topology -> `# define(KFBM_TYPE, `vol-kfbm') `

[2020-06-29 21:14] mrajwa commented on #3104
@lgirdwood, @Liviali155 sounds like wrong config. Please verify `config.activation_threshold` which is defined in `detect_test_coef.m4`

You can also read it using sof-ctl and paste here and I will take a look

[2020-06-29 22:10] timur-enikeev commented on #2828
@lgirdwood Dmesg after the fail? Or in any time (if there weren't such fails since last boot)?

[2020-06-30 01:28] keyonjie commented on #3105
yes, I can submit a quick fix for this.

[2020-06-30 01:40] keyonjie commented on #3105
@Liviali155 https://github.com/thesofproject/sof/pull/3109 is to fix this.

[2020-06-30 02:25] Liviali155 commented on #3105
Tried with #3109,error not seen
<img width="522" alt="Capture" src="https://user-images.githubusercontent.com/56707932/86076075-08a6f980-babc-11ea-8baa-94831e131511.PNG">

[2020-06-30 02:42] YvonneYang2 commented on #3092
Tested it with nocodec kernel and tplg with same test recipe as https://github.com/thesofproject/sof/issues/3092#issue-644336407 , issue cannot be reproduced.

wav file: [nocodec.zip](https://github.com/thesofproject/sof/files/4849122/nocodec.zip)
![image](https://user-images.githubusercontent.com/50347470/86077306-5290df00-babe-11ea-8dc6-904e7caaee23.png)

[2020-06-30 02:57] keqiaozhang commented on #3076
Confirmed that this issue is related to MEU version and building process.
below command line works for me. This issue can be closed.
cmake -DTOOLCHAIN=xt -DROOT_DIR=$CONFIG_PATH/xtensa-elf -DMEU_PATH=$MEU_PATH -DMEU_PRIVATE_KEY=$PRIVATE_KEY_PATH -DMEU_OPENSSL=/usr/local/ssl/bin/openssl ..

[2020-06-30 02:57] #3076 closed

[2020-06-30 05:39] YvonneYang2 opened #3112 "[BUG][TGL]Wov trigger volume is different with format s16_le/24_le/32_le."
**Describe the bug**
When set  wov capture volume under 60, wov can barely be triggered with format s16_le.
set volume under 30,  wov can barely be triggered with format s24_le.
At the same time, wov with format s32_le is so easy to be triggered even no need to make some obvious noise.

**To Reproduce**
1. Boot up system
2. Set capture volume "PGA9.0 9" 50
3. Run wov test with format 16_le/24_le/3

[2020-06-30 06:26] Liviali155 commented on #3104
After applied  #3109,there is wov volume control in alsamixer,Wov pipeline can be triggered  easier  and easier along with  the volume louder,but has another issue  https://github.com/thesofproject/sof/issues/3112,    close this issue  and continue follow up https://github.com/thesofproject/sof/issues/3112

[2020-06-30 06:26] #3104 closed

[2020-06-30 06:38] Liviali155 opened #3115 "[BUG][TGL] WOV can not be triggered after suspend/resume"
**Describe the bug**
 WOV can  not be triggered after suspend/resume

**To Reproduce**
1."sudo reboot" to reboot system
2.arecord -Dhw:0,7 -M -N -f s16_le -r 16000 -i -vvv -c2 --buffer-size=68000 ./tmp.wav
3.open another terminal to run "sudo rtcwake -m mem -s 10"
4.After wake up clap hands or make some noise to trigger wov

**Reproduction Rate**
10/10

**Expected behavior**
Wov can be triggered s

[2020-06-30 07:05] bkokoszx commented on #3092
@YvonneYang2
If we cannot reproduce this issue with nocodec topology, it looks rather like some issue codec (wrong configuration?).
@keyonjie
What do you think?

[2020-06-30 07:12] YvonneYang2 commented on #3092
The test recipe is same as https://github.com/thesofproject/sof/issues/3092#issue-644336407, and kconfig please use https://github.com/thesofproject/kconfig/blob/master/kconfig-sof-nocodec.sh .
And the tplg please select sof-smart-amplifier-nocodec.tplg and rename to sof-tgl-nocodec.tplg.

[2020-06-30 08:03] tlauda commented on #3112
@YvonneYang2 Is it a regression?

[2020-06-30 08:15] singalsu commented on #3072
The PR #3098 is merged now to git master. Successive FW releases will contain this fix.

@gobenji If you'd like to test you could build the topologies (sof-hda-generic-4ch.tplg) from git master and use it with v1.5.1 firmware. The difference to git master is that the ramp of 20 ms length is stepped in 20 ms that makes it sound a bit harsh. With the updated firmware the short ramp would use 125 us

[2020-06-30 08:46] singalsu commented on #3072
I created a zip file with testbench simulations of volume component that demonstrates the effect of tplg and fw updates in the pull request.

[alert_tone_volume_processed.zip](https://github.com/thesofproject/sof/files/4850479/alert_tone_volume_processed.zip)

Here's screenshots of the wav files with spectrograms shown:

![Screenshot from 2020-06-30 11-43-28](https://user-images.githubusercontent.

[2020-06-30 08:47] ClarexZhou commented on #3112
This isn't a regression, always behavior like this.

[2020-06-30 09:03] keyonjie commented on #3112
Hi @tlauda @ClarexZhou I just root caused and will provide a PR to fix this soon, so you can not put effort to it atm.

[2020-06-30 09:16] keyonjie commented on #3112
PR #3116 is submitted to fix the issue here.

[2020-06-30 09:38] lgirdwood commented on #2828
@timur-enikeev the full dmesg showing the SOF driver loading and operating. You can shorten it if you like by greping for "sof-" etc.

[2020-06-30 09:54] ClarexZhou commented on #3112
Verified, error not seen with PR #3116

[2020-06-30 10:31] singalsu commented on #2981
Update - with my test setup I seem to be able to fix the capture glitch issue but there's also for playback a stress test glitch seen for 8 kHz sample rate. It happens only with skew tracking enabled and I can made it disappear almost totally by making the loop filter unpractically slow. The jump in consumed samples originates from HW timestamping register. The samples count delta jumps while time

[2020-06-30 10:34] timur-enikeev commented on #2828
@lgirdwood
Current dmesg (without fail):

[code]

[2020-06-30 11:18] bkokoszx commented on #3092
@YvonneYang2
Do you have speakers connected to the setup? Can you try to verify the correctness of the streaming wave?

[2020-06-30 15:28] mmaka1 commented on #3096
Please note the test environment's sof-logger is one major version behind the fw side

logger ABI Version is 4:2:0
ldc_file ABI Version is 5:0:0

[2020-07-01 01:12] ClarexZhou commented on #3092
Yes, speakers are connected. Yvonne used device is the same one which was used by Sina when reporting this bug.  But speakers are changed since old speakers are broken.

[2020-07-01 01:57] ClarexZhou commented on #3105
Close for PR merged

[2020-07-01 01:57] #3105 closed

[2020-07-01 08:56] #3102 closed

[2020-07-01 09:13] lgirdwood commented on #2828
@timur-enikeev thanks, I can see you are running v1.5 (which had an issue on some devices), can you try v1.5.1

https://github.com/thesofproject/sof-bin/tree/stable-v1.5.1

[2020-07-01 09:20] bkokoszx commented on #3092
@ClarexZhou
Ok, but are you able to hear stream from speakers properly?

[2020-07-01 09:45] Liviali155 commented on #3115
Issue also can be reproduced when use  "echo freeze > /sys/power/state" to suspend

1."sudo reboot" to reboot system
2.arecord -Dhw:0,7 -M -N -f s16_le -r 16000 -i -vvv -c2 --buffer-size=68000 ./tmp.wav
3.open another terminal to run  "sudo su" then  "echo freeze > /sys/power/state" to suspend
4. clap hands or make some noise to trigger wov

WOV can not be triggered,at the same time if press keybo

[2020-07-01 09:54] keyonjie commented on #3115
Thanks @Liviali155

@mrajwa FYI.

[2020-07-01 12:58] timur-enikeev commented on #2828
@lgirdwood I will wait the next fail with the current version, and then install the 1.5.1

[2020-07-01 15:17] singalsu opened #3120 "[BUG] Glitches in ASRC playback stress test"
**Describe the bug**
Glitch in playback stress test with sof-diagnostic-driver environment. The issue was created because it is not similar (a much larger discontinuity) that has happened in capture (#2981) and could not be fixed similarly as capture.

**To Reproduce**
Run the playback test with sufficient number of iterations for 8 to 8 kHz conversion, e.g. 100 iterations.

**Reproduction Rate**

[2020-07-01 15:33] singalsu commented on #3120
@jdrzaszcz FYI

[2020-07-02 02:11] ClarexZhou commented on #3092
yes, max98373 speakers can output successfully. but has issue L speaker output R channel audio, R speaker output Left channel audio. This issue is tracking in https://github.com/thesofproject/linux/issues/2045#issuecomment-648636256

[2020-07-02 10:41] bkokoszx commented on #3092
@ClarexZhou @YvonneYang2
Can you try to reproduce this bug with following change:
[code]

With that change I got wave without glitches:
![image](https://user-images.githubusercontent.com/41052777/86349405-514be780-bc61-11ea-8517-dbabf74bf7d5.png)

[2020-07-03 04:47] ClarexZhou commented on #3092
Verified, seems error not seen with tplg update.
![image](https://user-images.githubusercontent.com/49641224/86432662-16ae8180-bd2b-11ea-8aa6-ed9204cd98b2.png)
![image](https://user-images.githubusercontent.com/49641224/86432619-f088e180-bd2a-11ea-966f-a5a3901449b5.png)

Attach 007 tplg error seen wav and current updated tplg error not seen wav in below
[wav.zip](https://github.com/thesofproject/s

[2020-07-03 05:30] Liviali155 commented on #3115
On TGL Volteer I2S with codec 98357 also has this issue  when use "echo freeze > /sys/power/state" to suspend with
 Kernel:
           Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev (commit: 1b2f260)
         + PR #2208 for DP fix
         + PR #2184 for wov S0i2
         + PR #2238
         + codec hack commit to verify this captured data.
         + revert regression on USB-

[2020-07-03 07:51] bkokoszx commented on #3092
@keyonjie
Do you remember the reason why we changed bclk from 9600000 to 12288000 before?

[2020-07-03 08:24] keyonjie commented on #3092
we change from 32/32 bit to 24/25 bit format, that's why we need change the bclk from 12.288M to 9.6M.

Just checked the codec side, looks the codec expects pure 24bit (not 24bit in 25bit container), @ryans-lee can you confirm this?

[2020-07-04 03:32] maaarghk opened #3126 "[BUG] Build failure when CONFIG_SND_HDA_GENERIC_LEDS not defined"
**Describe the bug**
The symbols snd_hda_gen_add_mute_led_cdev and snd_hda_gen_add_micmute_led_cdev are exported within an #ifdef block:
[start of block](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/pci/hda/hda_generic.c#L3890)
[end](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/pci/hda/hda_generic.c#L4103)

However, they are later used without checking the sam

[2020-07-04 03:34] maaarghk opened #3127 "[BUG]"
**Describe the bug**
The symbols snd_hda_gen_add_mute_led_cdev and snd_hda_gen_add_micmute_led_cdev are exported within an #ifdef block:
[start of block](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/pci/hda/hda_generic.c#L3890)
[end](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/pci/hda/hda_generic.c#L4103)

However, they are later used without checking the sam

[2020-07-04 03:35] maaarghk commented on #3127
sorry :-(

[2020-07-04 03:35] #3127 closed

[2020-07-04 12:22] maaarghk commented on #3126
Closing issue, apologies, should be on thesofproject/linux instead

[2020-07-04 12:22] #3126 closed

[2020-07-05 08:23] gobenji commented on #3072
@singalsu Thanks for tackling this problem so quickly. I tried to test the
changes but the result was unsucessful.

Using the instructions from
https://thesofproject.github.io/latest/getting_started/build-guide/build-with-docker.html
I built topology files using the upstream docker image (thesofproject/sof).
However, after installing sof-hda-generic-4ch.tplg into /lib/firmware and
rebooting, I hav

[2020-07-06 07:18] Liviali155 opened #3128 "[BUG][TGL]"DSP panic" when do pause/release of headset playbak&dmic capture"
**Describe the bug**
"DSP panic" when do pause/release of headset playbak&dmic capture
After error occured,all the pipeline can not work ,reboot can recovery

**To Reproduce**
1."sudo reboot" to reboot sysytem
2.open terminal1 to run "aplay -Dhw:0,1 -r48000 -c2 -fs24_le wav/48California_Dreaming.wav  -vv -i"
3 .open terminal2 to run " arecord -Dhw:0,99 -r48000 -c4 -fs32_le s30.wav  -vv  -i"
4.do p

[2020-07-06 07:28] Liviali155 commented on #3128
Issue also occured when do pause/release of speaker  playbak&dmic capture

[2020-07-06 08:21] ClarexZhou opened #3129 "[BUG] [TGL] No PGA volume contorl for max98373 in I2S mode speaker and DMIC48kHz"
**Describe the bug**
No PGA volume contorller for max98373 I2S and DMIC48KHZ

**To Reproduce**
1. boot up system
2. ```alsamixer``` to check PGA volumes for speaker playback
3. No PGA volume controller for speaker playback.
4. Press tab to Capture to check, also no PGA volume for speaker catpure and DMIC48kHz

[code]
![image](https://user-images.githubusercontent.com/49641224/86571765-8f6c4280-bfa

[2020-07-06 08:23] ClarexZhou commented on #3129
@keyonjie  could you please check first?

[2020-07-06 23:58] sathya-nujella commented on #3092
+ @RDharageswari

[2020-07-07 06:54] Liviali155 commented on #3129
On TGL  chrome laptop with codec 98357 in I2S mode,there is no PGA volume control in alsamixer for  EchoRef  and  DMIC48kHz
<img width="618" alt="Capture" src="https://user-images.githubusercontent.com/56707932/86731007-ad4bad00-c061-11ea-8680-a65c762a9501.PNG">

[code]

[2020-07-07 07:40] Liviali155 opened #3136 "[BUG][TGL]"error: ipc error for 0x60060000 size 12"when check DSM with quickly pause/release"
**Describe the bug**
"error: ipc error for 0x60060000 size 12" when check DSM  with quickly  pause/release  on
After error occured all the pipeline can not work,reboot can recovery

**To Reproduce**
1."sudo reboot" to reboot
2.open  terminal 1 to run "arecord -Dhw:0,3 -f s32_le -c 4 -r 48000 capture.wav -vv -i"
3.open terminal 2 to run "aplay -Dhw:0,2 -r 48000 -c 2 -fs32_le sine_48k_32bit_10s_ster

[2020-07-07 07:47] Liviali155 commented on #3136
@RanderWang  please help to check

[2020-07-07 09:53] bkokoszx commented on #3092
@keyonjie
I've changed only container from 25 to 24 (without bclk) and it did not help.

[2020-07-07 09:57] RanderWang commented on #3136
@Liviali155  can it be reproduced on I2S mode ?

[2020-07-07 10:38] Liviali155 commented on #2749
On TGL chromebook  with codec 98357 in I2S mode also can reproduce this issue when do multiple-pipeline-playback test
1.sudo reboot
2.cd sof-test
3.cd test-case
4.export TPLG=sof-tgl-max98357a-rt5682.tplg
5../multiple-pipeline-playback.sh -c 8 -l 300

Failed at 2th
<img width="630" alt="Capture" src="https://user-images.githubusercontent.com/56707932/86768700-8cdf1b00-c080-11ea-98f0-bbc770d8ae66.P

[2020-07-07 13:21] bkokoszx commented on #2721
Closed via #2897

[2020-07-07 13:21] #2721 closed

[2020-07-07 15:54] yongzhi1 opened #3144 "[BUG] [JSL]: Fail to enter S0ix while WoV pipeline is running"
**Describe the bug**
On Jasper Lake with WoV running, system is not able to enter S0ix.

**To Reproduce**

Step 1:
arecord -Dhw:0,6 -M -N -c 2 -f S16_LE -r 16000 --buffer-size=68000 tmp.wav -d 10 -vvv

Step 2:  Run powerd_dbus_suspend from another console.

Step 3: Wake up the DUT and check residency counter at
cat /sys/kernel/debug/pmc_core/slp_s0_residency_usec

**Reproduction Rate**
100%

**Exp

[2020-07-07 16:03] plbossart commented on #3129
Why would we need a volume control on an echo reference? the echo reference should be unmodified - though acoustic echo cancellation should adjust.

[2020-07-07 16:42] yongzhi1 commented on #3144
Thanks @udaymb for providing the dumps for working (w/o KWD) and non-working cases:

[s0ix-not-working-wov.txt](https://github.com/thesofproject/sof/files/4886033/s0ix-not-working-wov.txt)
[s0ix-working-wo-kwd.txt](https://github.com/thesofproject/sof/files/4886034/s0ix-working-wo-kwd.txt)

I suspect the assertion of this clock PARCAVSHUB/hda_pgda1/audiofbr_clk blocks the S0ix entry as  we have to

[2020-07-08 01:36] ClarexZhou commented on #3136
Error not seen on TGL **I2S** max98373 5682

[2020-07-08 01:51] ClarexZhou commented on #3128
Error not seen on TGL i2s max98373 5682

[2020-07-08 02:32] Liviali155 commented on #2890
On 20200708  for-next(cce047aa)+master(adc8cc22) ,error occured again when run module reload test manually
1."sudo reboot" to reboot system
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg
5../check-kmod-load-unload.sh  -l 50

Failed at 28/50
<img width="500" alt="Capture" src="https://user-images.githubusercontent.com/56707932/86867620-baba7300-c105

[2020-07-08 02:55] keyonjie commented on #3144
Hi @yongzhi1 chan you try if the PR#3130 helps?

https://github.com/thesofproject/sof/pull/3130

[2020-07-08 03:06] Liviali155 commented on #2890
On 20200708 sof-dev(ef5a473d)+master(adc8cc22),error not seen  when run module reload test  50 times manually

[2020-07-08 03:12] keyonjie commented on #3129
We don't have to have PGA for every pipeline/stream, it depends on how do we expect to tune the volume for the specific stream. @sathya-nujella what is the requirement from the end user about this?

[2020-07-08 03:24] keyonjie commented on #3092
The reason why we set it to 25 rather than 24 is to avoid using MN divider. We have dependency between bclk and the container, you should change them together.

[2020-07-08 03:26] keyonjie commented on #3112
Close it as #3116 was merged.

[2020-07-08 03:26] #3112 closed

[2020-07-08 04:29] yongzhi1 commented on #3144
Thanks @keyonjie , just tried, with KWD running, s0ix not entered with #3130 , @udaymb can you double check as well?

[2020-07-08 04:50] Liviali155 commented on #3115
Error also can be reproduced with https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc7 ,commit: 33cfa90e on TGL-U RVP with onboard codec ALC711 in HDA mode and    TGL chrome laptop I2S with codec 98357

[2020-07-08 04:56] sathya-nujella commented on #3129
We got the PGA/vol-gain ask from Customers: in DMIC48K cap and wov/DMIC16K pipelines.. not in echo ref stream.  As Pierre explained, it may be good we give un-modified data in echo ref stream?

[2020-07-08 05:33] Liviali155 commented on #2880
On TGL chromebook in  SDW mode with codec 98373  FW:https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc7 ,commit: 33cfa90e
The wave of capture file as below:
<img width="532" alt="Capture" src="https://user-images.githubusercontent.com/56707932/86880624-881d7400-c11f-11ea-867c-571bff537ae8.PNG">
[sof-logger0708.log](https://github.com/thesofproject/sof/files/4888647/sof-logger0708.lo

[2020-07-08 05:41] ClarexZhou opened #3145 "[Bug][DSM][tgl v7.0-rc7] IPC timed out and Noise output on speaker playback when start max98373 catpure"
**Describe the bug**
Sound from speaker0,0 has noise output when playback and capture on speaker at the same time

**To Reproduce**
1.Run "aplay -Dhw:0,0 -f s32_le -c 2 -r 48000 sine_48k_32bit_10s_stereo_l5_r2.wav -d 5 & arecord -Dhw:0,0 -f s32_le -c 4 -r 48000 record.wav -d 5"
2.Check the sound output from speaker.

**Reproduction Rate**
5/5

**Expected behavior**
Sound from speaker0,0 should be

[2020-07-08 05:50] Liviali155 commented on #3136
Issue still can be reproduced  with https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc7 ,commit: 33cfa90e on  TGL chromebook with codec 98373 in SDW mode

<details>
 <summary>dmesg_error.log</summary>

[code]
</details>

<details>
 <summary>sof_error.log</summary>

[code]
</details>

[dmesg_0708.log](https://github.com/thesofproject/sof/files/4888751/dmesg_0708.log)
[sof-logger_0708

[2020-07-08 05:58] aiChaoSONG opened #3146 "[BUG][CI] dsp panic on BDW and BYT"
**Describe the bug**
In CI daily and PR test, DSP panic is observed on BDW_WSB_RT286, BYT_MB_RT5682 and BYT_MB_NOCODEC

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: {topic/sof-dev ef5a473d}
    * SOF: {master adc8cc22}
2) Name of the topology file
    * Topology: {sof-bdw-rt286.tplg on BDW, sof-byt-rt5682.tpl

[2020-07-08 06:01] ClarexZhou opened #3147 "[Bug][DSM][tgl v7.0-rc7]Runtime PM keeps active after i2s max98373 DSM capture"
**Describe the bug**
This issue is split from https://github.com/thesofproject/sof/issues/3145. Runtime PM keeps active after DSM

**To Reproduce**
1. Boot up system
2. cat "/sys/bus/pci/devices/0000:00:1f.3/power/runtime_status" to check, runtime PM is suspended succesfully
3. Run "aplay -Dhw:0,0 -f s32_le -c 2 -r 48000 sine_48k_32bit_10s_stereo_l5_r2.wav -d 5 & arecord -Dhw:0,0 -f s32_le -c 4 -r

[2020-07-08 07:05] ClarexZhou opened #3148 "[Bug] [tgl v7.0-rc7][DSM] Fail to pause I2S max98373 playback while doing DSM capture simultaneously"
**Describe the bug**
Fail to pause I2S max98373 playback while doing DSM capture simultaneously. Doing pause to playback will cause "pause push error" and playback cannot be pause. If we try to pause playback for multiple times, we'll get input/output error and "0x60060000: GLB_STREAM_MSG: TRIG_PAUSE" IPC timed out in dmesg.

**To Reproduce**
1.One terminal"arecord -Dhw:0,0 -f s32_le -c 4 -r 48000

[2020-07-08 07:05] ClarexZhou commented on #3148
Might related with https://github.com/thesofproject/sof/issues/3145

[2020-07-08 07:41] Liviali155 opened #3149 "[BUG][TGL v7.0-rc7][max98357-I2S]Continuous buzzing output from speaker when aplay via speaker then run Wov"
***Describe the bug***
Continuous buzzing output from speaker when aplay via speaker then run Wov

***To Reproduce***
1."sudo reboot" to reboot system
2.open terminal1 to run "aplay -Dhw:0,0 -r48000 -c2 -fs24_le  sine_48k_32bit_10s_stereo_l5_r2.wav -vv -i"
3.open  terminal2 to run "arecord -Dhw:0,100 -M -N -f s16_le -r 16000 -i -vvv -c2 --buffer-size=68000 ./tmp.wav"

[code]
[code]

***Reproductio

[2020-07-08 07:44] Liviali155 commented on #3149
Error not seen when use firmware:
SOF: https://github.com/thesofproject/sof/tree/tgl-007-drop-stable v7.0-rc6,commit: a40b46c
+ PR#3116 for KWD trigger volume

[2020-07-08 07:51] ClarexZhou commented on #3149
Error also seen on i2s 5682-max98373, pop noise can be observed.

[2020-07-08 08:29] Liviali155 commented on #3128
"DSP panic" error not seen with  https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc7 ,commit: 33cfa90e  on TGL chromebook with codec 98357 in I2S mode
but still has issue https://github.com/thesofproject/sof/issues/2749  in  below scenerio

when do pause/release of speaker playbak&dmic capture
2.export TPLG=sof-tgl-max98357a-rt5682.tplg
./multiple-pause-resume.sh -r 100 (https://git

[2020-07-08 09:17] Liviali155 commented on #2749
Issue also can be reproduced on TGL  chromebook in  SDW mode with codec 98373 when run multipipeline with https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc7 ,commit: 33cfa90e

Issue can not be reproduced with FW:https://github.com/thesofproject/sof/tree/tgl-007-drop-stable   v7.0-rc6,commit: a40b46c1  + PR#3116 for KWD trigger volume

1.sudo reboot
2.cd sof-test
3.cd test-case
4.ex

[2020-07-08 12:31] lgirdwood commented on #3146
Thanks @aiChaoSONG I see this too now that the Jenkins CI is back, it was off for the last few days... I want to make Jenkins mandatory again. Can you bisect - it should be a recent commot from this week or last.

[2020-07-08 12:37] plbossart commented on #3092
Can you clarify why a 12.288MHz bit clock is required? That's 8 channels of 32-bit data in each direction, do we really have such a configuration?

[2020-07-08 13:41] plbossart commented on #3146
FWIW, Baytrail/Cherrytrail worked fine with the topology changes on top of commit 5441b13cdcbe951d35349e599b130e8db2cb251e ('ipc: component free fix')

That may help with the bisect?

[2020-07-08 21:00] cujomalainey opened #3153 "haswell missing from platform listing"
haswell is not listed as platform under "platforms" even though it is a build target for SOF.

[2020-07-09 02:39] aiChaoSONG commented on #3146
@lgirdwood  @plbossart  @ktrzcinx Bisect result: https://github.com/thesofproject/sof/commit/1f092df4012def1c541bf7c627ecffd51584093b

dmesg already tells us where error occured.
[code]

[2020-07-09 05:08] ClarexZhou commented on #3145
Error still seen on https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc8 ,commit: 2057409a3

[2020-07-09 05:08] ClarexZhou commented on #3147
https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc8 ,commit: 2057409a3

[2020-07-09 05:08] ClarexZhou commented on #3148
https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc8 ,commit: 2057409a3

[2020-07-09 05:10] Liviali155 commented on #3115
Error still  can be reproduced with https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc8 ,commit: 2057409a on  TGL chrome laptop I2S with codec 98357

[2020-07-09 05:11] Liviali155 commented on #3149
Error still can be reproduced with https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc8 ,commit: 2057409 on TGL chrome laptop I2S with codec 98357

[2020-07-09 05:12] #3128 closed

[2020-07-09 05:21] ClarexZhou commented on #3149
Verified on https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc8 ,commit: 2057409 on i2s 5682-max98373 , only has once pop on max98373 output after "arecord -Dhw:0,100 -M -N -f s32_le -r 16000 -i -vvv -c2 --buffer-size=80000 1.wav"

[2020-07-09 05:26] Liviali155 commented on #2880
Error still can be reproduced with https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc8 ,commit: 2057409 on TGL chrome laptop I2S with codec 98357,the same  phenomenon with   FW:https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc7 ,commit: 33cfa90

[2020-07-09 05:43] ClarexZhou commented on #2749
Error also seen on i2s 5682-max08373

[2020-07-09 08:13] ClarexZhou commented on #3145
Error also can be reproduced if load no codec with tplg sof-smart-amplifier-nocodec.tplg

[2020-07-09 08:13] ClarexZhou commented on #3147
Error also can be reproduced if load no codec with tplg sof-smart-amplifier-nocodec.tplg

[2020-07-09 08:15] ClarexZhou commented on #3148
Error also can be reproduced if load no codec with tplg sof-smart-amplifier-nocodec.tplg

[2020-07-09 10:01] lgirdwood commented on #3146
@ktrzcinx should not enough free/avail really be fatal here ? It's probably best if we trace_err() here instead and return.

[code]

[2020-07-09 10:09] ktrzcinx commented on #3146
@lgirdwood it can be easily change to `tr_err()` and return, but I believe that runtime validation with `if` should be done in higher layers of FW, where some action may be taken, here it's only for debug purposes. Otherwise we end up with "noised output" and don't really know where problem comes from.

[2020-07-09 11:00] lgirdwood commented on #3146
@ktrzcinx ok - I'm fine if the check is done by the caller (as it can give us more context), but using an assert for debug is probably a bit of overkill. Can you send a PR for the tr_err() and remove the assert() Thanks !

[2020-07-09 12:10] plbossart commented on #3146
Didn't we decide already that assert() is not permitted in SOF firmware code?

[2020-07-09 13:42] lgirdwood commented on #3146
Good point - although I may have missed that conversation but I agree, if it's not fatal then we should just report and fail.

[2020-07-09 14:24] plbossart commented on #3146
IIRC it was a thread with @dbaluta and/or @paulstelian97 on removing asserts - maybe 4-6 months ago?

[2020-07-09 16:17] paulstelian97 commented on #3146
My statement back then was not completely removing asserts, but considering them unreliable as once the Zephyr migration is complete asserts can be disabled. Asserts also should ONLY be used to catch programming errors that are caused internally in the firmware itself, not programming errors of the kernel or topologies with an invalid configuration; for those regular error reporting (return a nega

[2020-07-09 17:27] plbossart commented on #3146
@paulstelian97 given that 90% of the flows happen due to configurations sent by kernel/topology I am not sure how we might identify internal programming errors...

[2020-07-09 17:44] paulstelian97 commented on #3146
As such asserts should be a rarity. You could assert certain things about the validity of the output data. I can assert in my DMA driver that I get the proper form of descriptors from SOF or that the hardware is in a certain state. Those aren't directly controllable by the kernel so they should always be in a reasonable state, unless firmware-only programming errors occurred.

But I do agree with

[2020-07-10 03:20] Liviali155 opened #3160 "[BUG][v7.0-rc9]Wov pipeline can’t be started when using format f24_le/s32_le for “Unable to install hw params:” during speaker playback"
**Describe the bug**
Wov pipeline  can’t be started  when using format f24_le/s32_le for “Unable to install hw params:” during speaker playback

Error not seen if trigger Wov using same params without speaker playback

**To Reproduce**
1."sudo reboot" to reboot system
2.aplay -Dhw:0,0 -f s16_le -c 2 -r 48000 sine_48k_16bit_10s_stereo_l5_r2.wav  -vv -i
3.open another terminal to run “arecord -Dhw:0

[2020-07-10 03:30] ClarexZhou commented on #3115
Error also seen with https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc9 ,commit: be6c34790.
Verified on 5682-max98357a on chrome OS, error also can be reproduced (frequency: 3/5) and frequcey :2/5 system will hang and can't wake up after enter s0ix.

[2020-07-10 04:52] ClarexZhou commented on #3115
This issue is caused by alsa lib too old when building sof.  Error seen when build tplg with  libasound2 verison 1.1.0. Error not seen when build tplg with libasound2 1.1.3-5ubuntu0.2. Close

[2020-07-10 04:52] #3115 closed

[2020-07-10 05:05] keyonjie commented on #3160
Thanks for reporting @Liviali155 Looks the SRAM memory is used up in this scenario, @mrajwa can you can a look to this?

[2020-07-10 05:07] ClarexZhou commented on #3145
Error not seen on tgl v7.0-rc9, commit: be6c347 close

[2020-07-10 05:07] #3145 closed

[2020-07-10 05:08] ClarexZhou commented on #3147
Error not seen on tgl v7.0-rc9, commit: be6c347 close

[2020-07-10 05:08] #3147 closed

[2020-07-10 05:11] ClarexZhou commented on #3148
close for not seen on tgl v7.0-rc9

[2020-07-10 05:11] #3148 closed

[2020-07-10 06:34] ClarexZhou commented on #3160
Error not seen after remove WOV pipline PGA volume control via below:
[code]

[2020-07-10 07:04] ClarexZhou commented on #3149
Error not seen on I2S-5682-max98373 on https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc9 ,commit: be6c34790 after remove KWD pipline PGA volume control

[2020-07-10 08:00] Liviali155 commented on #3136
Issue still can be reproduced with https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc9,commit: be6c3479 on TGL chromebook with codec 98373 in SDW mode

[2020-07-10 09:01] ClarexZhou commented on #3149
Error not seen on I2S-5682-max98357a on https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc9 ,commit: be6c347 after remove KWD pipline PGA volume control. Close

[2020-07-10 09:01] #3149 closed

[2020-07-10 10:13] askmish opened #3161 "[BUG]"
**Describe the bug**
 Audio routes to onboard 3.5mm jack instead of HDMI after suspend/resume

**To Reproduce**
Steps to reproduce the behavior:
1. Open browser and play some music on HDMI monitor speakers
2. Suspend via gui controls/commandline
3. Resume by pressing key in USB keyboard/or any wake event
4. Audio will now route to onboard 3.5mm jack, instead of previously selected HDMI speakers

*

[2020-07-11 17:25] mikerogerz commented on #2828
Still happening on 1.5.1, although less frequently:

`[172646.062276] sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x80010000 size 120`
`[172646.062299] sof-audio-pci 0000:00:1f.3: status: fw entered - code 00000005`
`[172646.062546] sof-audio-pci 0000:00:1f.3: error: can't enter idle`
`[172646.062550] sof-audio-pci 0000:00:1f.3: error: trace point 00004000`
`[172646.062553] sof-audio-pci

[2020-07-11 19:02] timur-enikeev commented on #2828
As I see, I can't reproduce it with kernel 5.4.0 from ubuntu and sof 1.5. But with newer mainline kernels there is the same problem.

[2020-07-11 19:05] mikerogerz commented on #2828
@timur-enikeev That's what I'm running, Ubuntu 20.04 with the 5.4.0 kernel, and sof 1.5.1. It was fine for a week or so and then happened again.

[2020-07-12 04:46] ryzokuken opened #3164 "[BUG] Headphone microphone unavailable"
Pulseaudio sink:

[code]

Emphasis on `[In] Mic2: Headphones Stereo Microphone (priority: 200, not available)`

The headphone speakers do work, and show up as "plugged", while the microphone shows up as "unplugged" in `pavucontrol`.

[2020-07-12 15:35] mrajwa opened #3165 "[BUG] build-tools.sh fails after merging 3064"
**Describe the bug**
build-tools.sh fails to build topology parser.

**To Reproduce**
Just call ./scripts/build-tools.sh

**Reproduction Rate**
100%

**Expected behavior**
./scripts/build-tools.sh build all tools successfully.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: n/a
    * SOF: 318dc9f7e12ca48458ae31

[2020-07-12 18:08] mrajwa commented on #3165
This is because #3064 adds fuzzer as a default build and fuzzer depends on tplg_parser.c which has never been built before. This file tplg_parser.c has compilation problems due to missing library, namely asoc.h. I am adding it here #3166

[2020-07-13 02:16] Liviali155 commented on #2749
on TGL chromebook with codec 98357 in I2S mode
issue can be reproduced  in below scenerios

scenerio 1:
when do pause/release of speaker playbak&dmic capture
scenerio 2:
export TPLG=sof-tgl-max98357a-rt5682.tplg
./multiple-pause-resume.sh -r 100 (https://github.com/thesofproject/sof-test/blob/master/test-case/multiple-pause-resume.sh)

[2020-07-13 08:42] jdrzaszcz opened #3168 "[BUG] Setting activation_threshold in detect dummy is disable."
**Describe the bug**
After commit 2bd30262916269b17482d2912216c8ecef87a900 we can't set the activation_threshold value in detect dummy.

**Topology**
[code]

**To Reproduce**
Run one of python test where EXPECT_FAIL is True from file:
fw_07_kd/test_00_kd_detect_dummy.py

**Reproduction Rate**
100%

**Expected behavior**
We can set the activation_threshold value and then verify the notification.

*

[2020-07-13 09:57] Liviali155 opened #3169 "[BUG][BSW]"error: firmware boot failure" when do module reload test"
**Describe the bug**
"error: firmware boot failure" when do module reload test

**To Reproduce**

1."sudo reboot" to reboot system
2.cd sof-test
3. cd test-case
4. export TPLG=/lib/firmware/intel/sof-tplg/sof-cht-max98090.tplg
5../check-kmod-load-unload.sh -l 500

**Reproduction Rate**
1 round:failed at 8/500
2 round:failed 4/500

**Expected behavior**
No error occured when do module reload test

[2020-07-13 10:35] Liviali155 opened #3170 "[BUG][BYT-NOCODEC][BDW_WSB_RT286]Input/output error when simultaneous-playback-capture / multiple-pipeline-playback"
**Describe the bug**
Input/output error when do simultaneous-playback-capture test
After error occured all the pipeline can work

**To Reproduce**
1."sudo reboot" to reboot system
2.cd sof-test
3.cd test-case
4.export TPLG=sof-byt-nocodec.tplg
5../simultaneous-playback-capture.sh -l 100

**Reproduction Rate**
1 round: failed at  13/100

**Expected behavior**
No error occured

**Impact**
Input/outp

[2020-07-13 10:54] Liviali155 opened #3171 "[BUG][BYT-NOCODEC]Input/output error when aplay via (0,1) using format s24_le/s32_le"
**Describe the bug**
Input/output error  when aplay via (0,1) using format s24_le/s32_le
After error occured all the pipeline can work

**To Reproduce**
1."sudo reboot" to reboot system
2.cd sof-test
3.cd test-case
4.export TPLG=sof-byt-nocodec.tplg
5.check-playback.sh -d 3 -l 1 -r 1 -F

**Reproduction Rate**
10/10

**Expected behavior**
No error occured

**Impact**
Input/output error  when aplay

[2020-07-13 10:58] Liviali155 commented on #3171
BYT_MB_RT5682 also has this issue

[2020-07-14 02:32] Liviali155 commented on #3170
On BSW with onboard codec MAX98090 in I2S mode also has this issue with sof-dev(9eb3d58)+master(5564a902)
<img width="491" alt="Capture" src="https://user-images.githubusercontent.com/56707932/87373852-09ac5080-c5bd-11ea-8be4-5a123635d4c9.PNG">

Failed at 39/50

[code]

[dmesg0714.log](https://github.com/thesofproject/sof/files/4916196/dmesg0714.log)
[sof-logger0714.log](https://github.com/thesofp

[2020-07-14 05:44] ClarexZhou opened #3173 "[Bug][RKL]FW load failed"
**Describe the bug**
FW load failed

**To Reproduce**
"sudo reboot" to reboot

**Reproduction Rate**
5/5

**Expected behavior**
sof load successfully

**Impact**
Load failed

**Environment**
Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
Kernel:Kernel:https://github.com/thesofproject/linux/commits/topic/sof-dev (commit: 9eb3d58a)
+ https://git

[2020-07-14 05:45] ClarexZhou commented on #3173
@RanderWang  @xiulipan Any ideas about this?

[2020-07-14 07:17] RanderWang commented on #3173
now feature bit is 0x1FF, but only 0xFFF can work on RKL. So we need to discuss our feature bit setting for future chips.

[2020-07-14 07:41] slawblauciak commented on #3169
@ktrzcinx mind sharing your view on this, could this be caused by the manifest changes?

[2020-07-14 07:44] ktrzcinx commented on #3169
I suppose you are talking about extended manifest - it is disabled by default by now.

[2020-07-14 07:48] kv2019i commented on #3164
@ryzokuken Can you provide output of alsa-info.sh when you have the headset connected?

[2020-07-14 07:54] ryzokuken commented on #3164
@kv2019i the output of `alsa-info.sh` while the headphones are connected and I can listen to music on it (microphone still unavailable, as I mentioned)

[code]

[2020-07-14 08:01] mengdonglin commented on #3171
sof-byt-nocodec.tplg is created from "sof-cht-nocodec.m4", updated in https://github.com/thesofproject/sof/pull/3080 to remove SRC for Baytrail and CherryTrail by @plbossart

[2020-07-14 08:01] mengdonglin commented on #3170
@slawblauciak  sof-byt-nocodec.tplg is created from "sof-cht-nocodec.m4", updated in https://github.com/thesofproject/sof/pull/3080 to remove SRC for Baytrail and CherryTrail by @plbossart

[2020-07-14 08:19] ClarexZhou commented on #2749
move to P1 since TGL also failed.

[2020-07-14 08:55] ClarexZhou opened #3175 "[Bug][RKL] Runtime PM keeps active when in idle"
**Describe the bug**
FW load failed

**To Reproduce**
1.
1. "sudo reboot" to reboot
2. wait in idle for more than 5 seconds
3. cat "/sys/bus/pci/devices/0000:00:1f.3/power/runtime_status"

**Reproduction Rate**
5/5

**Expected behavior**
Runtime PM suspend

**Impact**
Runtime PM keeps active

**Environment**
Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kern

[2020-07-14 09:03] ktrzcinx commented on #3146
@aiChaoSONG I supposed this issue should be closed because of https://github.com/thesofproject/sof/pull/3159 merge

[2020-07-14 09:05] aiChaoSONG commented on #3146
close for #3159 merged

[2020-07-14 09:05] #3146 closed

[2020-07-14 09:05] ClarexZhou opened #3176 "[BUG][RKL] Audio output slowly than expected"
**Describe the bug**
Audio output on headset is slower than expected

**To Reproduce**
1. "sudo reboot" to reboot
2.   time aplay -Dhw:0,0 -r 48000 -c2 -fs16_le wav/48California_Dreaming.wav -d 20 -vv -i

**Reproduction Rate**
5/5

**Expected behavior**
Audio output normally

**Impact**
Audio output slowly than expected
[code]
**Environment**
Branch name and commit hash of the 2 repositories: sof

[2020-07-14 09:22] jdrzaszcz commented on #3096
This also happens with topology with demux component in capture pipeline.
[code]
Sof master commit:
Example log files: 318dc9f7e12ca48458ae3186d9a178c335e3b60a
[14_02_TestDemuxSimpleCapture48000Hz16b16b2ch.zip](https://github.com/thesofproject/sof/files/4917801/14_02_TestDemuxSimpleCapture48000Hz16b16b2ch.zip)

[2020-07-14 09:28] Liviali155 opened #3177 "[BUG][TGL]"Input/output error" occurred when do multiple-pipeline-playback test."
**Describe the bug**
"Input/output error" occurred when do multiple-pipeline-playback test.
after error occured,all the pipeline can work

**To Reproduce**
1.sudo reboot
2.cd sof-test
3.cd test-case
4.export TPLG=sof-tgl-max98357a-rt5682.tplg
5../multiple-pipeline-playback.sh -c 8 -l 300

**Reproduction Rate**
Failed at 2th when arecord via headset(0,1)

**Expected behavior**
No error occured

**I

[2020-07-14 09:30] Liviali155 commented on #3177
on TGL chromebook with codec 98357 in I2S mode
issue  also can be reproduced in below scenerios

scenerio 1:
when do pause/release of speaker playbak&dmic capture
scenerio 2:
export TPLG=sof-tgl-max98357a-rt5682.tplg
./multiple-pause-resume.sh -r 100 (https://github.com/thesofproject/sof-test/blob/master/test-case/multiple-pause-resume.sh)

[2020-07-14 09:32] Liviali155 commented on #3177
Issue also can be reproduced on TGL  chromebook in  SDW mode with codec 98373 when run multipipeline with https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc7 ,commit: 33cfa90e

Issue can not be reproduced with FW:https://github.com/thesofproject/sof/tree/tgl-007-drop-stable   v7.0-rc6,commit: a40b46c1  + PR#3116 for KWD trigger volume

1.sudo reboot
2.cd sof-test
3.cd test-case
4.ex

[2020-07-14 09:33] Liviali155 commented on #3177
Error also seen on i2s 5682-max08373

[2020-07-14 09:34] Liviali155 commented on #2749
The issue of tgl has creat another issue https://github.com/thesofproject/sof/issues/3177 to track.this issue is only used to trace apl issue

[2020-07-14 09:36] bkokoszx commented on #3092
@ClarexZhou I've updated PR #3142. Can you try to reproduce above issue with updated PR?

@plbossart There is a codec requirement for bclk/fclk ratio, which should be equal to 256 when the number of channels is equal to 8.

[2020-07-14 11:23] lgirdwood commented on #2828
@slawblauciak fyi - any idea here - it looks like we are spinning somewhere if agent cant idle.

[2020-07-14 11:26] lgirdwood commented on #3165
@jajanusz I assume we have a cmake variable that points to the kernel header path ? This needs to be used here too.

[2020-07-14 12:01] kv2019i commented on #3176
Hmm, @plbossart @jajanusz , this could be the issue with the XTAL clock (24-versus-38.4Mhz). The ratio matches with test results (takes ~33secs to play out a 20sec clip). FYI for @RanderWang

[2020-07-14 12:12] lgirdwood commented on #3168
@ranj063 could this be impacting you ? or do we need to raise a new issue ?

[2020-07-14 12:35] jdrzaszcz opened #3180 "[BUG] SOF_VOLUME_LINEAR_ZC initial ramp is not as expected."
**Describe the bug**
When running simultaneous capture and playback on external loopback (same SSP) with Volume component on playback pipeline, inital ramp length is not equal to given initial ramp parameter.
It happens with SofVolumeRamp = SOF_VOLUME_LINEAR_ZC in about 50 % test cases.
It occurs after commit 3dc0ae97ac837bc2d6d41361180d24072ae9a37e.

Example:
INITIAL_RAMP = 400
Format 48kHz 24b/3

[2020-07-14 13:27] jajanusz commented on #3165
No we don't have. These headers are usually in 'system headers path' so they are picked up be compiler without specyfing include dirs (fe. when you install linux headers with apt-get). Probably that's why it worked for everyone that was using it in the past - the headers were there, and also are there on CI.

If you don't know what package to install and just want to add include dirs locally, you

[2020-07-14 13:43] lgirdwood commented on #3180
@jdrzaszcz Fwiw, Ramp lengths are not always guaranteed to be equal with ZC enabled, it tries to pick the best zero crossing point per channel up to a certain limit. This can be +/- a certain tolerance.

[2020-07-14 13:54] lgirdwood commented on #3165
@mrajwa the package to install is usually called linux-headers. I wonder if this package is missing from install guide ?

[2020-07-14 14:18] ryzokuken commented on #3164
@kv2019i I wonder if it has anything to do with

[code]

[2020-07-14 14:20] jajanusz commented on #3165
I haven't seen it in install guide.

[2020-07-14 14:44] plbossart commented on #3169
no it's unrelated to the firmware format proper, re-trying the boot works usually so it's a timing issue at the driver/hardware level.

[2020-07-14 14:55] plbossart commented on #3176
We said we would also support the case of a RKL-CPU with a TGL-H chipset.
What CPU is that, CML?

[2020-07-14 15:38] lgirdwood commented on #3171
@Liviali155 as @mengdonglin says lets reduce the BYT/CHT tests to reflect the new topologies.

[2020-07-14 15:43] jdrzaszcz commented on #3180
@lgirdwood The tolerance in our test is set to +/- 2 %, if it too strict, what value do you propose?

[2020-07-14 15:43] lgirdwood commented on #3072
@gobenji thanks for docker fix, @xiulipan do we have a place for merging docker fixes ?
Btw @singalsu is on vacation.

[2020-07-14 15:45] plbossart commented on #3171
we use the same pipe type of the two PCM devices, so not sure why one would support a format and not the other. This looks like a fundamental bug or a topology edit issue.

[2020-07-14 15:56] lgirdwood commented on #3180
@singalsu what do you recommend ?

[2020-07-14 19:13] timur-enikeev commented on #2828
[code]
Last fail (sof 1.5.0, kernel 5.4.0-40-generic ubuntu)

[2020-07-15 01:09] marc-hb commented on #3063
Was this fixed by #3080 ? If yes please close.

[2020-07-15 01:46] aiChaoSONG commented on #3063
colse for fixed by #3080

[2020-07-15 02:37] ClarexZhou commented on #3173
PR #3178 will fix this

[2020-07-15 03:19] RanderWang commented on #3176
en, hot topic in BBS, what`s the configuration of RKL?  so...

[2020-07-15 03:35] Liviali155 commented on #3160
error not seen on  https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc10(fb801c8e5e3090406955d82e06c20fcdbfd302b4),closed it

[2020-07-15 03:35] #3160 closed

[2020-07-15 05:03] Liviali155 opened #3189 "[BUG][TGL][v7.0-rc10]Wov will repeat about 1~2s of the end of recorded file"
**Describe the bug**
Wov will repeat about 1~2s of the end of recorded file

**To Reproduce**
1."sudo reboot" to reboot system
2.arecord -Dhw:0,100 -M -N -f s32_le -r 16000 -i -vvv -c2 --buffer-size=96000 ./tmp.wav

**Reproduce Rate**
1/3

**Expected behavior**
Recorded file normal

**Impact**
Wov will repeat about 1~2s of the end of recorded file

**Environment**
Kernel:https://github.com/keyonji

[2020-07-15 05:52] Liviali155 opened #3190 "[BUG][tgl][v7.0-rc10]"error: ipc error for 0x60010000 size 20" after wake up when wov is paused"
**Describe the bug**
"error: ipc error for 0x60010000 size 20" after wake up when wov is paused
After error the pipeline of Wov still can work

**To Reproduce**
1."sudo reboot" to reboot system
2. open terminal1 to run"arecord -Dhw:0,100 -M -N -f s32_le -r 16000 -i -vvv -c2 --buffer-size=96000 ./tmp.wav -i"
3.trigger wov then pause it
3.open terminal 2 to run "sudo rtcwake -m mem -s 10" or "sudo s

[2020-07-15 06:06] Liviali155 commented on #3190
Error also seen on
https://github.com/thesofproject/sof/tree/tgl-007-drop-stable   v7.0-rc6,commit: a40b46c1

+ PR#3116 for KWD trigger volume

[2020-07-15 07:04] slawblauciak commented on #2828
@lgirdwood I'm afraid not, I don't know much about how agent works exactly.

[2020-07-15 10:12] ClarexZhou opened #3196 "[BUG] [TGL v7.0-rc10] IPC timed out and playback not work anymore if wake up from S0ix via WOV during speaker/headset playback"
**Describe the bug**
IPC timed out and playback not work anymore if wake up from S0ix via WOV during speaker/headset playback

**To Reproduce**
1. Terminal 1: aplay -Dhw:0,1 -f s16_le -c 2 -r 48000 sine_48k_32bit_10s_stereo_l5_r2.wav  -vv -i
2. Terminal 2:  arecord -Dhw:0,100  -M -N -f s32_le -r 16000 -i -vv -c2 --buffer-size=96000  1.wav
3.  Terminal 3: echo freeze > /sys/power/state

**Reproduct

[2020-07-15 10:13] ClarexZhou commented on #3196
Error also can be reproduced after removing KWD pipline volume control

[2020-07-15 11:33] sathyap-chrome opened #3221 "CML : DMIC capture has initial 350 ms muted"
On CML devices, we see 350 ms delayed start of DMIC capture.
Customer is interested to understand below things

(a) why is there is 350 ms delay ?
(b) is it specific to CML or can this be modified if required ?

I'm attaching the graph for reference ( to confirm there is no additional processing added in topology)
captured wav files from 2 customer platforms is also attached.
[DMIC_mute_issue.zip]

[2020-07-15 14:19] #3063 closed

[2020-07-15 14:20] lgirdwood commented on #3173
Merged #3178

[2020-07-15 14:29] kv2019i commented on #3164
@ryzokuken The problem is that headset is not reported to be connected:
[code]

Former is the traditional headphone with a mic (aka headset) while latter is for plugging in a plain mic.  So this looks like a codec driver problem. There have been multiple fixes to the Thinkpad X1 codecs in upstream. Trying a recent live-image of Fedora or Ubuntu might be a good idea, as folks from these distros hav

[2020-07-15 14:34] ryzokuken commented on #3164
@kv2019i I'll take this up with archlinux maintainers, thanks!

[2020-07-15 14:35] lgirdwood commented on #2828
@slawblauciak ok, can you add to scrub - agent panic means we have a while(1) {} condition somewhere in FW e.g. waiting on HW state change somewhere.
@timur-enikeev @mikerogerz @Enerccio is this always happening after resume from S3 i.e. opening laptop lid or can it happen at any time ? S3 use case has different PM flow that may mean FW is waiting for HW state change (that's not happening)

[2020-07-15 14:48] mikerogerz commented on #2828
@slawblauciak In my case, there's no suspend/resume involved.. the laptop stays on 24/7.

[2020-07-16 02:21] ClarexZhou commented on #3173
Error still can be reproduced after PR #3178 merged. @RanderWang  Any ideas?

[2020-07-16 08:50] xiulipan commented on #3173
@ClarexZhou Root cause to be the rimage submoudle update issue.
@jajanusz The git sub module issue

I see two PR https://github.com/thesofproject/sof/pull/3178 and https://github.com/thesofproject/rimage/pull/19
The latest rimage can work, but the deafult version rimage in sof did not have the latest update.
Any idea here with the git submoudule setting

below is log when I do a fresh git clone fo

[2020-07-16 08:58] jdrzaszcz commented on #3096
Yes , this PR #3197 fix this issue.

[2020-07-16 09:27] ClarexZhou commented on #3190
Error still seen on https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc10, commit: fb801c8e
Kernel: https://github.com/thesofproject/linux/tree/tgl-007-20200716, commit: 70ec4f52b

[code]
[code]
[sof-trace.txt](https://github.com/thesofproject/sof/files/4930574/sof-trace.txt)
[dmesg.txt](https://github.com/thesofproject/sof/files/4930575/dmesg.txt)

[2020-07-16 09:58] Liviali155 opened #3201 "BUG] [TGL v7.0-rc10] Wov lost data after wake up from s0ix when using format s32_le"
**Describe the bug**
 Wov lost data after wake up from s0i2x when using format s32_le
Error not seen if using format s16_le, ex:
arecord -Dhw:0,100 -M -N -f s16_le -r 16000 -c 2 --buffer-size=296000 ww.wav -vv -i

**To Reproduce**
1."sudo reboot" to reboot sysytem
2.open terminal1 to run " arecord -Dhw:0,100 -M -N -f s32_le -r 16000 -c 2 --buffer-size=296000 ww.wav -vv -i"
3.open terminal2 to run

[2020-07-16 10:13] xiulipan commented on #3173
root cause to be rimage submodule issue. Fixed by update rimage to latest version.
But still see every when FW boot up. @RanderWang Please help to confirm and we may need to report a new issue.

[code]

[2020-07-16 10:31] ClarexZhou commented on #3196
close for error not occurred after EC aligned
sof: https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc10, commit: fb801c8
Kernel: https://github.com/thesofproject/linux/tree/tgl-007-20200716, commit: 70ec4f52b

[2020-07-16 10:31] #3196 closed

[2020-07-16 12:17] lgirdwood commented on #2828
@mikerogerz do you have audio playing 24/7. DSP enters D3 speculatively if no audio for 3 seconds to prolong laptop battery. This could still be PM related if we are not coming out of D3 cleanly.
@ranj063 @kv2019i do we have any simple to disable runtime PM in the driver (without disabling kernel wide).

[2020-07-16 14:05] yongzhi1 commented on #3144
With releases/tgl/v7.0-rc9 based sof-jsl.ri  with the following config:

CONFIG_CAVS_LPS=n
CONFIG_CAVS_USE_LPRO_IN_WAITI=y
CONFIG_HAVE_AGENT=n

And PGA removed sof-jsl-da7219.tplg now, KWD/S0ix is working without the ROSC bypass.

There was an error with --buffer-size=67200:

[11875910610.677084] ( 8.229167) c0 kpb 8.42 src/audio/kpb.c:1552 ERROR kpb: host_buffer_size (537600) must be at least 588

[2020-07-16 14:18] keyonjie commented on #3144
On 7/16/20 10:05 PM, yongzhi1 wrote:

That's really good news.

[2020-07-16 15:34] plbossart commented on #2828
yes we do, you can add this to /etc/modprobe.d/alsa-base.conf (or any other .conf file in that directory)

options snd-sof-pci sof_pci_debug=1

[2020-07-16 15:44] mikerogerz commented on #2828
@lgirdwood That was something I noticed (although when I was back on stock sof in Ubuntu 20.04, where it was crashing constantly), and a workaround was to leave music on. When it crashed on sof 1.5.1 recently, it was a single alert sound (deleting a file in Gnome) that did it, and completely locked everything up. It hasn't happened ever when audio is already playing.

[2020-07-16 18:14] marc-hb commented on #3165
I think it's there, see https://github.com/thesofproject/sof/pull/3166#issuecomment-659581461

Cc: @crazoes

[2020-07-17 02:44] keyonjie commented on #3144
@yongzhi1  can you try with https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc10 (need set --buffer-size=96000) which will be used for the drop? if it is fixed, please help to close it, thanks.

[2020-07-17 03:09] Liviali155 commented on #2913
Error not seen  with https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc10 ,commit: fb801c8e5e3090406955d82e06c20fcdbfd302b4   on
  Chrome OS
TGL chromebook in  I2S mode  with codec 98357a，closed it

[2020-07-17 03:09] #2913 closed

[2020-07-17 06:25] Liviali155 commented on #3177
Error not seen with https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc10 ,commit: fb801c8e5e3090406955d82e06c20fcdbfd302b4  +https://github.com/thesofproject/linux/tree/tgl-007-20200716
on below platforms
 i2s 5682-max08373
chromebook in SDW mode with codec 98373

closed it

[2020-07-17 06:25] #3177 closed

[2020-07-17 07:57] xiulipan commented on #3173
@jajanusz @RanderWang Update test result with rimage submodule fix.

FW with `make tigerlake_defconfig` could not boot on RKL RVP faill with
`[   64.808648] sof-audio-pci 0000:00:1f.3: error: status = 0x00000000 panic = 0x00000211`

FW with `make alderlake_s_defconfig` could boot successfully.

But both FW has name `sof-tgl.ri`, will send a patch to fix the name confusing.

[2020-07-17 08:07] RanderWang commented on #3173
thanks @xiulipan.  @ClarexZhou can you confirm and close the issue ? Thanks!

[2020-07-17 09:02] lgirdwood commented on #2828
@mikerogerz ok, can you try and disable runtime PM as described by @plbossart above and let us know if that fixes things for you. This will let us know if it's PM specific on your device.

[2020-07-17 09:16] ClarexZhou commented on #3092
PR #3142 can fix

[2020-07-17 14:23] mikerogerz commented on #2828
@lgirdwood Done, and thanks. Like I mentioned, since 1.5.1 it hasn't happened as often, but I'll keep everyone posted.

[2020-07-20 01:46] ClarexZhou commented on #3173
Confirmed issue not seen after update rimage and build with ```make alderlake_s_defconfig ```.  Close

[2020-07-20 01:46] #3173 closed

[2020-07-20 01:52] ClarexZhou commented on #3176
Error still seen on sof-8675d4cb. After issue #3173 fixed and build sof-tgl.ri with "make alderlake_s_defconfig"

[2020-07-20 02:40] keyonjie commented on #2936
Hi @sathya-nujella since https://github.com/thesofproject/linux/pull/2276 is merged, can you please check and close this issue here?

[2020-07-20 02:47] ClarexZhou commented on #3189
Error also can be reproduced with kernel  https://github.com/thesofproject/linux/tree/tgl-007-20200716 and Firmware:https://github.com/thesofproject/sof/commits/releases/tgl/v7.0-rc10

[2020-07-20 05:30] ClarexZhou commented on #3189
Error only occurred when stop capture via CTRL+C, error not occurred if run and stop stream via -d 10, ```arecord -Dhw:0,100 -M -N -f s32_le -r 16000 -d 10-i -vvv -c2 --buffer-size=96000 ./tmp.wav```, verified 10 interactions

[2020-07-20 09:18] Enerccio commented on #2828
For me it happens randomly and I barely close lid at all. It can just happen on it's own, usually when I want to play new source it will crash and not play it. Sometimes I can trigger it by plugging headphones or unplugging them.

[2020-07-20 09:21] lgirdwood commented on #2828
@Enerccio ok, so these also sound like PM transitions, can you disable the DSP runtime PM as suggested by @plbossart and let us know it it fixes or otherwise.

[2020-07-20 09:28] Enerccio commented on #2828
`options snd-sof-pci sof_pci_debug=1` this?

[2020-07-20 16:23] plbossart commented on #2828
yes, that's the best way to disable pm_runtime transitions.

[2020-07-20 17:25] Enerccio opened #3208 "[BUG] No audio with 1.5.1 and kernel 5.7.9-1"
After updating to a new kernel, sof audio no longer outputs anything. I think I managed to get my output from my thunderbolt 3 dock with jack working, but without dock no audio from speakers or built in jack.
[dmesg.txt](https://github.com/thesofproject/sof/files/4949148/dmesg.txt)

[2020-07-20 17:30] hweom opened #3209 "[BUG] No sound for Intel Cannon Lake PCH cAVS on Lenovo IdeaPad S740"
**Describe the bug**
No sound via speakers or headphones. Both speakers and headphones are detected correctly, I can control volume in `pavucontrol` and I can actually see how the sound bar is moving if a sound is played, but no sound comes out.

**To Reproduce**
No special steps to reproduce (the issue is always there right after boot).

**Reproduction Rate**
100%

**Expected behavior**
Audible s

[2020-07-20 19:53] sathya-nujella commented on #2936
Yes @keyonjie , I double confirmed with team. They have some internal WIP solution with which DUT can go to S0i3.
Audio PLL is not blocker to go to S0i3.
Also I submitted a patch to pmc driver: https://patchwork.kernel.org/patch/11624647/    fixing the bit-mapping naming.  It is reviewed and accepted by PMC driver team.. waiting for it to merge in upstream. After that, will post to Google tree.  T

[2020-07-20 19:53] #2936 closed

[2020-07-21 00:27] keyonjie commented on #2936
It's very good to change the confusion naming in the PMC driver team, thanks a lot for doing that!

[2020-07-21 02:11] ClarexZhou commented on #3176
Error not seen on legacy HDA

[2020-07-21 02:52] RanderWang commented on #3176
full of underrun log:
[694849172.604167] (     2000.000000) c0 hda-dma            ..../intel/hda/hda-dma.c:872  ERROR hda_dma_link_check_xrun(): underrun detected
[694851172.656250] (     2000.052124) c0 hda-dma            ..../intel/hda/hda-dma.c:872  ERROR hda_dma_link_check_xrun(): underrun detected
[694853172.656250] (     2000.000000) c0 hda-dma            ..../intel/hda/hda-dma.c:872  ERROR

[2020-07-21 04:45] RanderWang commented on #3176
The issue can be fixed by following patch. So what is the clk frequency on TGL-H ?
[code]

[2020-07-21 07:45] slawblauciak commented on #3164
Confirmed codec configuration issue, closing.

[2020-07-21 07:45] #3164 closed

[2020-07-21 13:00] yongzhi1 commented on #3144
With releases/tgl/v7.0-rc10, there are two issues:

localhost ~ #  arecord -Dhw:0,6 -M -N -c 2 -f S24_LE -r 16000 --buffer-size=96000 /tmp/tmp.wav -vvv

[491705032.604167] (      400.989594) c0 ipc                       src/ipc/handler.c:631  ipc: pm -> restore
[491706180.781250] (     1148.177124) c0 pipe         8.47      src/audio/pipeline.c:459  pipe params dir 1 frame_fmt 1 buffer_fmt 0 rate

[2020-07-21 14:44] #3092 closed

[2020-07-21 15:52] Enerccio commented on #2828
It crashed again even with `options snd-sof-pci sof_pci_debug=1`

[dmesg.txt](https://github.com/thesofproject/sof/files/4954645/dmesg.txt)

[2020-07-21 18:10] plbossart commented on #2828
@lgirdwood do we really throw a panic for a timeout?

[code]

[2020-07-21 18:12] plbossart commented on #3176
38.4 MHz. The last platform with 19.2 MHz was APL/GLK.

[2020-07-21 20:02] mikerogerz commented on #2828
Me too, just now (also with the debug option set). This was with no audio playing, and then a random sound triggered for a dialog in Gnome.

`[94981.550671]  Analog Playback and Capture: ASoC: hw_params BE failed -110`
`[94981.550676]  HDA Analog: ASoC: hw_params BE failed -110`
`[94982.062309] sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x80010000 size 120`
`[94982.062334] sof-audio-pci

[2020-07-22 05:00] keyonjie commented on #3176
is this for SSP playback? can we check the SCR and other SSP settings also? Probing to the SSP BCLK to probe the assumption that the output clock is wrong will help directly.

[2020-07-22 05:38] RanderWang commented on #3176
NO, pure HDA platform. Thanks!

[2020-07-22 09:24] lgirdwood commented on #2828
Yes we do - this is for **long** timeouts where we cant enter WFI state i.e. something unrecoverable has happened at IRQ runlevel. If we did not do this then we fail at next IPC, this is mean to provide more context so FW devs can see the stack and see where we are spinning or which IRQ is continually repeating.

[2020-07-22 10:04] lgirdwood commented on #2828
@slawblauciak kernel PM is OFF here and it looks like playing a system sound is enough to trigger the agent. i.e we are spinning on some HW state transition forever (we shouldn't be) or is LL scheduler spinning .....

[2020-07-22 11:45] Enerccio commented on #2828
is there a way to restart sof? Without reboot?

[2020-07-22 13:16] slawblauciak commented on #2828
I wonder if Karol's DW DMA changes are in this version of the FW, they could've caused some FW hanging-for-too-long issues, but it's been a while and I kinda forgot what it all was exactly about. I'll have to check.

[2020-07-22 16:37] ymdatta opened #3222 "[BUG][Fuzzing]Testbench: Segmentation Fault: when running testbench with a topology file"
**Describe the bug**
This bug was found when fuzzing the testbench using AFL fuzzer. For a fuzzed topology file input (i.e this topology was generated by the fuzzer) testbench exits with segmentation fault(core dumped) error.

**To Reproduce**
1. Build the testbench from the using `host-build-all.sh` script from scripts directory.
2. Download the topology file from [here](https://github.com/ymdatt

[2020-07-22 16:54] plbossart commented on #2828
With the latest code, if you do a rmmod snd-sof-pci; modprobe snd-sof-pci that would reboot the DSP and re-install firmware. However we had a series of issues in previous versions so your mileage may vary. If you want to do things cleanly, try the scripts sof_remove.sh and sof_insert.sh from here: https://github.com/thesofproject/sof-test/tree/master/tools/kmod

[2020-07-22 16:55] plbossart commented on #3176
then why would changing the SSP settings impact the HDaudio playback? something's not quite right...

[2020-07-22 18:08] cujomalainey commented on #3222
We have no codeowners for tplg_parser, @ranj063, @xiulipan and @singalsu look like closest owners.

[2020-07-23 14:43] lgirdwood commented on #3222
Ack - we should add some owners to CODEOWNERS.
@ymdatta could our array index be too large ? (and does it come from topology ?)

[2020-07-23 15:23] ymdatta commented on #3222
@lgirdwood: Yes, i think index size is too large.

If you take a look at this [line](https://github.com/thesofproject/sof/blob/master/tools/tplg_parser/tplg_parser.c#L1305) from the ```tplg_parser.c```, the value of  ```array->num_elems``` was  ```826361680``` when checked via gdb. With this, i came to the above conclusion that index size is too large.

Yes, the array comes from the topology file.

[2020-07-24 07:15] Liviali155 commented on #2735
Issue still can be reproduced with latest sof-dev(e1a25077)+master(44a65d85)on apl pcm512

[2020-07-24 07:16] Liviali155 commented on #2749
Issue still can be reproduced with latest sof-dev(e1a25077)+master(44a65d8)on apl pcm512

[2020-07-24 07:35] mengdonglin commented on #3176
@plbossart @lgirdwood  suggest to introduce IPC to send clock information from driver on FW initialization

[2020-07-24 08:53] Liviali155 opened #3230 "[BUG][tgl]No sound output from HDMI when HDMI display set to 4K @60fps connected via USB-c to HDMI convertor"
**Describe the bug**
No sound output  from HDMI when HDMI display set to 4K @60fps  connected via  USB-c to HDMI convertor

Shur* – USB-c to DP convertor - AOC U2790PGU (DP display set to 4K @60fps) PASS    … Shuri has no native DP port, so actually a convertor is used here.
Shur* – native HDMI port - AOC U2790PGU  (HDMI display set to 4K @60fps)  PASS
Shur* – USB-c to HDMI convertor - AOC U2790PG

[2020-07-24 12:24] lgirdwood opened #3232 "[BUG] build: build error in idc - CONFIG_IDC_TASK_BUDGET definition is missing."
Are we missing something in kconfig to generate the default values and define CONFIG_IDC_TASK_BUDGET ?
[code]
See
[code]

[2020-07-24 12:29] lgirdwood commented on #3232
Fwiw, re-runing menuconfig did not help.

[2020-07-24 12:31] lgirdwood commented on #3232
and regenerating Cmakefile does not help either.

[2020-07-24 12:37] lgirdwood commented on #3232
Delete this - MULTICORE change in Kconfig now correctly generates.

[2020-07-24 12:37] #3232 closed

[2020-07-26 12:57] timur-enikeev commented on #2828
Will it prevent this problem? I have added, rebooted, and caugth the same problem.

[2020-07-26 12:59] timur-enikeev commented on #2828
With the latest code of what? Kernel or sof-frimware?
I have 1.5.1 sof and 5.4 kernel, but
[code]

[2020-07-27 01:19] Liviali155 commented on #3230
after use xrandr --output DP-1 --set "max bpc" 8 to lower the bpp
Shuri – USB-c to HDMI convertor - AOC U2790PGU  (HDMI display set to 4K @60fps) Pass both display and audio works wellthe issue related with the  USB-c to HDMI convertor  which was used,closed it

[2020-07-27 01:19] #3230 closed

[2020-07-27 02:25] ClarexZhou commented on #2880
Error still seen on https://github.com/thesofproject/sof/tree/releases/tgl/v7.0-rc10

[2020-07-27 08:41] Liviali155 commented on #2684
On  APL UP2 with I2S PCM512x  with  latest sof-dev (b31892b) +master(1c53b8e9)
run  "./check-suspend-resume.sh -l 200" 2times
       "check-runtime-pm-status.sh -d 10"  20 times

Error not seen

[2020-07-27 10:21] zrombel opened #3241 "[BUG][jsl-004-drop-stable] IPC timeout on StreamTrigPause on Demux Capture Topology"
**Describe the bug**
IPC timeout when sending StreamTrigPause to playback pipeline on topology with demux in capture pipeline.
[code]
**To Reproduce**
Run Slim Driver python test:
14_04_TestDemuxSynchronizedCapture48000Hz16b16b8ch
parameters:
--playback-iterations=100

**Reproduction Rate**
1/50

**Environment**
1) FW Branch: jsl-004-drop-stable, commit: 21c8900
2) FW Config: target: JSL, config:

[2020-07-27 12:05] mrajwa commented on #3189
@ranj063, can you look into that from driver perspective also?

[2020-07-27 15:30] yongzhi1 commented on #2889
Thanks @ranj063, the issue was not reproducible with #2950

localhost /sys/kernel/debug/pmc_core # suspend_stress_test -c 5
Running 5 iterations with:
  suspend: 5-10 seconds
  wake: 5-10 seconds
  backup_rtc: false
  errors_fatal: true
  fw_errors_fatal: true
  bugs fatal:  true
  warnings fatal:  false
  crcs fatal:  true
  suspend command: powerd_dbus_suspend --delay=0
  wakeup source to ignore

[2020-07-28 00:01] plbossart opened #3243 "[BUG] sof-logger -e option is broken: firmware/debug ABI confusion"
**Describe the bug**

the sof-logger error checks are broken:

[code]
This is obvious confusion between firmware and debug ABI

**To Reproduce**
use sof-logger -e option

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
firmware master 1c53b8e9dd97f10a10bae81c15974f0ff1935699

plus added patch to show the issue:

[code]

[2020-07-28 02:08] Liviali155 commented on #2684
Daily regression test also not reproduce this issue recently,closed

[2020-07-28 02:08] #2684 closed

[2020-07-28 02:52] keyonjie commented on #3129
@sathya-nujella are you good to own and follow this issue?

[2020-07-28 03:18] sathya-nujella commented on #3129
Sure @keyonjie . Let me confirm if we really need gain in echo ref path or not. As per initial understanding, not needed. But will cross check once.

[2020-07-28 03:20] xiulipan opened #3244 "[BUG]Build error with GCC9 in smart_amp_test.c"
**Describe the bug**
A new build bug when using GCC9
[code]

**To Reproduce**
[code]

**Reproduction Rate**
10/10

**Expected behavior**
The GCC build should pass

[2020-07-28 03:23] keyonjie commented on #3189
Hi @mrajwa this issue can be reproduced with 98357a machine on S0 also, please try it more times(3~5 times) to reproduce it.

[2020-07-28 03:27] xiulipan commented on #3244
@bkokoszx @mmaka1 I did not find a simple fix in code for this `-Werror=address-of-packed-member`. Any idea about how to solve the issue here?

[2020-07-28 05:18] keyonjie commented on #3129
Thanks, so at least adding PGA between host and smart_amp for playback is aligned needed, please let us know if you need help on that.

[2020-07-28 07:14] ktrzcinx commented on #3243
https://github.com/thesofproject/sof/pull/3195

[2020-07-28 07:41] slawblauciak commented on #3241
Please help to verify 24 bit and 32 bit formats.

[2020-07-28 07:52] slawblauciak commented on #3073
PR to be merged: https://github.com/thesofproject/sof/pull/3205

[2020-07-28 08:03] slawblauciak commented on #3190
To clarify with the Chrome team if this is to be a supported scenario.

[2020-07-28 08:09] slawblauciak commented on #3189
To be clarified with the Chrome team, if forceful stopping of the pipeline is to be supported.

[2020-07-28 09:14] paulstelian97 commented on #3244
Are you modifying the configuration in any way? If not, you might want to make an on-stack copy of the configuration (a new memcpy_s call).

You shouldn't take the address of any field that has alignof(field) > 1 if the embedding structure is packed. Thus the error itself is legit.

Or maybe you could make that final data[] array to be an array of chars. Not sure exactly where that structure is th

[2020-07-28 09:20] singalsu commented on #3222
Thanks for reporting! I think I can fix this.

[2020-07-28 15:34] singalsu commented on #3222
I created PR #3246 . It returns now an error for the fuzzed topology.

[code]

[2020-07-28 16:49] ymdatta opened #3247 "[BUG][Fuzzing] Testbench: Segmentation fault due to accessing pointer without null pointer checks"
**Describe the bug**
This bug was found when fuzzing the testbench using AFL fuzzer. For a fuzzed topology file input (i.e this topology was generated by the fuzzer) testbench exits with segmentation fault(core dumped) error.

**To Reproduce**
1. Build the testbench from the using `host-build-all.sh` script from scripts directory.
2. Download the topology file from [here](https://github.com/ymdatt

[2020-07-28 16:53] ymdatta commented on #3247
Some additional information:

My reasoning to why this happens is because pointer  `sa` from this line [here](https://github.com/thesofproject/sof/blob/master/src/include/sof/lib/agent.h#L43) is not checked whether it's a null pointer or not. So, when it's a null pointer, since we are accessing the pointers contents in the subsequent lines, this leads to segmentation fault.

[2020-07-28 16:54] ymdatta commented on #3247
@cujomalainey , @singalsu : Please take a look at this.

[2020-07-28 17:28] cujomalainey commented on #3247
Looks like we have our first SOF failure :+1:
No code owner for that file, blame shows @tlauda as probably best person to look at this

[2020-07-28 17:31] cujomalainey commented on #3247
Looks like we are not handling errors in sa_init which in theory could cause a NULL pointer https://github.com/thesofproject/sof/blob/master/src/lib/agent.c#L85

[2020-07-28 23:59] plbossart commented on #3170
@Liviali155 can you retry with the SOF PR https://github.com/thesofproject/sof/pull/3245

The symptoms of no dmesg error, no trace and the -EIO error seem completely aligned with my findings on those platforms.

[2020-07-29 00:00] plbossart commented on #3171
Can you retry with SOF PR #https://github.com/thesofproject/sof/pull/3245
Thanks!

[2020-07-29 00:02] plbossart commented on #810
@xiulipan XCC is enabled for BYT, yes? What about BDW?

[2020-07-29 00:04] plbossart commented on #2157
Samus is well supported now, the only bug is https://github.com/thesofproject/sof/issues/2459 at the firmware level, and we need to sort out suspend-resume + improve the position reports without IPC:
https://github.com/thesofproject/linux/issues?q=is%3Aissue+is%3Aopen+label%3ABDW

[2020-07-29 00:05] plbossart commented on #2676
not reproduced, closing

[2020-07-29 00:05] #2676 closed

[2020-07-29 01:31] plbossart commented on #2749
@Liviali155 I get very different results depending on which scripts are used on APL-Up2 w/ PCM512x

firmware: https://github.com/thesofproject/sof/pull/3245
kernel: topic/sof-dev b31892bc2404c4ecc59d863a1d5cadba6740be5b

export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-pcm512x.tplg
/multiple-pipeline-capture.sh -c 4 -l 50
-> no issues, seems to work fine (no idea what the -c 4 option means, removi

[2020-07-29 02:25] xiulipan commented on #810
@plbossart BDW/CHT/BYT XCC build are enabled, I think we can close this issue now.

[2020-07-29 02:25] #810 closed

[2020-07-29 03:00] Liviali155 commented on #3170
After applied #3245,issue still can be reproduced on BSW with onboard codec MAX98090 in I2S mode and BYT MB with nocodec
<img width="568" alt="Capture" src="https://user-images.githubusercontent.com/56707932/88751595-7eb98180-d18a-11ea-944c-95f3a5e77e9f.PNG">
[dmesg0729.log](https://github.com/thesofproject/sof/files/4992261/dmesg0729.log)
[sof-logger0729.log](https://github.com/thesofproject/sof/

[2020-07-29 03:09] Liviali155 commented on #3171
After applied #3245,issue still can be reproduced on BYT MB with nocodec
<img width="694" alt="Capture" src="https://user-images.githubusercontent.com/56707932/88752196-e2907a00-d18b-11ea-9c74-cd329d27ce20.PNG">
[0729dmesg.log](https://github.com/thesofproject/sof/files/4992291/0729dmesg.log)
[sof-logger0729.log](https://github.com/thesofproject/sof/files/4992293/sof-logger0729.log)

[2020-07-29 03:31] ClarexZhou commented on #2749
@plbossart  Verified with PR #3245 , issue still can be reproduced.
![image](https://user-images.githubusercontent.com/49641224/88753484-d5c15580-d18e-11ea-82e8-8f4b6a8dcf4d.png)

[2020-07-29 05:19] aiChaoSONG opened #3249 "[BUG][Smart_Amp] ipc timeout in smart_amp pipelines test"
**Describe the bug**
Run command `arecord -Dhw:0,2 -f dat /dev/null -vvv & aplay -Dhw:0,2 -f dat /dev/zero`, Everything is fine at the first run. but io error in terminal and  ipc timeout in dmesg at the second run. If you are lucky, you may see ipc time out at the first run. Once issue happened, playback on other pipeline fails with 'unable to install hw params'

**To Reproduce**
1. reboot
2. run

[2020-07-29 05:30] ClarexZhou commented on #3249
@aiChaoSONG  This is because echo reference capture only works when playback has data output first.

"aplay & arecord " will start at same time, might arecord first also. So got this issue.
So need using command "aplay & sleep 0.5; arecord " for echo reference test.
Such as ```aplay -Dhw:0,0 -f s16_le -c 2 -r 48000  sine_48k_16bit_10s_stereo_l5_r2.wav  & sleep 0.5; arecord -Dhw:0,6 -f s16_le -c 2

[2020-07-29 05:31] ClarexZhou commented on #3249
Do we able to close this?

[2020-07-29 05:32] aiChaoSONG commented on #3249
@ClarexZhou  No, This is in fact DSM, Pierre give it the name HW EchoRef,  Echo reference is actually FWEchoRef

[2020-07-29 06:04] Liviali155 commented on #3189
On Chrome JSL with codec  in i2s mode also has this issue
[dmesgjsl.log](https://github.com/thesofproject/sof/files/4992882/dmesgjsl.log)
[sof-loggetjsl.log](https://github.com/thesofproject/sof/files/4992884/sof-loggetjsl.log)
[tmp.zip](https://github.com/thesofproject/sof/files/4992885/tmp.zip)

[2020-07-29 07:50] Liviali155 opened #3259 "[bug][JSL] DMIC48kHz no volume control in alsamixer"
**Describe the bug**
DMIC48kHz no  volume control in alsamixer

**To Reproduce**
1."sudo reboot" to reboot sysytem
2.alsamixer

[code]

**Reproduction Rate**
10/10

**Expected behavior**
DMIC48kHz has  volume control in alsamixer

**Impact**
DMIC48kHz no  volume control in alsamixer

<img width="330" alt="Capture" src="https://user-images.githubusercontent.com/56707932/88772084-c8b65d80-d1b2-11ea-

[2020-07-29 08:27] Liviali155 commented on #3190
On Chrome JSL with codec in i2s mode also has this issue

[dmesg29.log](https://github.com/thesofproject/sof/files/4993602/dmesg29.log)
[sof-logger29.log](https://github.com/thesofproject/sof/files/4993603/sof-logger29.log)

https://github.com/thesofproject/linux/commits/topic/sof-dev(797eb03a)
https://github.com/thesofproject/sof/tree/releases/jsl/v4.0-rc1(21c8900f)

[2020-07-29 10:26] zrombel commented on #3241
From further observations:
- bug can only be reproduced on JSL.
- bug occurs only with 48kHz audio formats
- there is no error logged in dma_trace_log, but dma_trace_sink is filled with **timer_report_delay** and  **dtrace_add_event** logs

[dma_trace_1_sink.log](https://github.com/thesofproject/sof/files/4994251/dma_trace_1_sink.log)

[2020-07-29 11:24] #3165 closed

[2020-07-29 15:43] plbossart commented on #2749
@ClarexZhou there's got to be some device variation, I just reran the same test with 100 iterations and it works fine for me.

[code]

[2020-07-29 15:47] plbossart commented on #2749
@ClarexZhou do you actually run with the latest sof-test code? I don't have the same traces at all, I don't see the [COMMAND] parts, so wondering if we are aligned on the tools?

[2020-07-29 17:58] mikerogerz commented on #2828
Unsure if related, but happened again, this time while audio was playing. Was able to get audio back after using sof_remove.sh & sof_insert.sh as @plbossart recommended.

`[165784.806228] sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x80010000 size 120`
`[165784.806254] sof-audio-pci 0000:00:1f.3: status: fw entered - code 00000005`
`[165784.806486] sof-audio-pci 0000:00:1f.3: error: can't

[2020-07-29 18:46] plbossart opened #3256 "[BUG] Underflows and errors with sof-test/test-case/multiple-pause-resume.sh"
**Describe the bug**

The multi-pause-resume test has not worked in a very long time, and recent changes to the DW DMA make it worse:

[code]

with tag releases/tgl/v7.0-rc1

[code]

with SOF master 1c53b8e9dd97f10a10bae81c15974f0ff1935699

no dmesg issue, but repeated error messages in sof-logger:

[code]

reverting  61a2c75bf8335f93d0b223c85ed2c79d406d968b ('dma: dw: fix locking and calculations

[2020-07-29 20:09] plbossart commented on #3171
@Liviali155 work-around suggested with https://github.com/thesofproject/sof/pull/3257

Can you double-check the results? Also shouldn't this test be part of CI? It's been reporting no issues on this.

[2020-07-29 20:23] plbossart commented on #3170
@Liviali155 can you retry with both #3245 and https://github.com/thesofproject/sof/pull/3257

Somehow I have the feeling we have the same problem of not having enough memory resulting in some sort of underflow error. It's not clear e.g. why we have these repeated sof-logger messages in both issues

[code]

Seems to me like the firmware gets lost with bad pointers and can't recover in both https://

[2020-07-29 20:45] plbossart commented on #3170
@Liviali155  Also wondering if 61a2c75bf8335f93d0b223c85ed2c79d406d968b ('    dma: dw: fix locking and calculations in dw_dma_get_data_size') has an impact on multiple pipelines. This changes the behavior for dmic, I am trying to see if reverting it can help. Can you also try on your side.

[2020-07-29 20:49] plbossart opened #3258 "[BUG] CI regression with APL DMIC 16kHz"
The test reports for https://github.com/thesofproject/sof/pull/3245 show a single unexplained issue with APL DMIC16kHz https://sof-ci.01.org/sof-pr-viewer/#/build/PR3245/build5301944

Filing a bug to keep track of the issue in the absence of feedback.

[2020-07-29 20:54] plbossart commented on #3170
@Liviali155 Adding PR#3245, @3257 and reverting 61a2c75bf8335f93d0b223c85ed2c79d406d968b seems to solve the issue for 100 iterations. branch here: https://github.com/plbossart/sof/tree/fix/multi-pipelines
I will launch a longer test on my side.

[2020-07-30 01:32] ClarexZhou commented on #2749
Thanks.  Error was reproduced because of not switching sof-test branch.  Error not seen after using latest Master sof-test.  Close.

[2020-07-30 01:32] #2749 closed

[2020-07-30 02:40] mengdonglin commented on #3259
@yongzhi1 Can you please check if this volume control is needed for JSL Chromebook? If yes, please help add volume control into topology.

[2020-07-30 03:36] Liviali155 commented on #3170
@plbossart Used https://github.com/plbossart/sof/tree/fix/multi-pipelines(commit:d9c6405a) to test,issue still can be reproduced, failed at 287/1000
<img width="582" alt="Capture" src="https://user-images.githubusercontent.com/56707932/88877728-cad2f780-d258-11ea-8409-da3b00e81d6d.PNG">

[sof-logger0730.log](https://github.com/thesofproject/sof/files/4998623/sof-logger0730.log)
[dmesg0730.log](htt

[2020-07-30 05:51] Liviali155 commented on #3171
Tried with #3257,error not seen

[2020-07-30 10:23] jajanusz commented on #3144
@yongzhi1 please retest with https://github.com/thesofproject/sof/tree/releases/jsl/v4.0-rc1

[2020-07-30 10:28] udaymb commented on #3259
On JSL chrome waddledoo, mic is seen

alsamixer -c 0
capture tab screen shot - mic is seen
![image](https://user-images.githubusercontent.com/62392729/88907792-af76e500-d276-11ea-8de4-259836571ae9.png)

amixer -c 0 command response
[amixer-card0.log](https://github.com/thesofproject/sof/files/5000640/amixer-card0.log)

SOF: https://github.com/thesofproject/sof/tree/releases/jsl/v4.0-rc1(21c8900f)

[2020-07-30 14:50] plbossart commented on #3170
Ack @Liviali155, same on my side. My first run worked for 100 iteration, but on the second a failure happened on iteration 9/1000.

We need to figure this one out, something's not right with scheduling/concurrency. @lgirdwood FYI

[2020-07-30 15:51] yongzhi1 commented on #3259
Hi @xiulipan

Is passthrough capture used here for a special purpose? can we change it to volume?
https://github.com/thesofproject/sof/blob/master/tools/topology/platform/intel/intel-generic-dmic-kwd.m4#L54

[2020-07-30 18:48] plbossart commented on #2735
#3258 seems to be a duplicate, but contains additional information that point to the DW DMA handling being the problem?

[2020-07-30 18:53] plbossart commented on #3169
After talking with the Coreboot folks, this is clearly a problem with Coreboot not initializing the PCI BAR1 and not programming the PMC registers. This will have to be re-checked if/when there is a Coreboot version, for now we will skip these tests in CI. Moving to P3 since it's not something we can fix.

[2020-07-31 03:32] xiulipan commented on #3259
@yongzhi1 Yes, you can. It is removed as we used to use VOL comp for format conversation. Later we have some update to let DAI to have format conversation, so we remove the VOL in KWD pipeline by default.

As we have request for volume change in KWD pipeline, I have re-add those feature. Please take reference in this PR https://github.com/thesofproject/sof/pull/2405

You only need to change `defin

[2020-07-31 07:52] xiulipan commented on #3256
@plbossart Reproduced on apl_up2_pcm512x. I think we may need to enable the xrun recovery feature? Now I think we just simply stop the stream.

[2020-07-31 08:19] keqiaozhang commented on #3256
I also captured an alsabat failure on sh-cml-hel-rt5682-01,  trace log shows that it's related to XRUN:
http://sof-tcr.sh.intel.com/#/tests/3bc51155-084a-4d27-8280-698d9fc37058/detail
[code]

[2020-07-31 08:20] slawblauciak commented on #3189
When the user forcefully stops the pipeline during draining, the flow of data is aborted. There's no likely scenario that could cause the firmware to keep sending repeating data afterwards. I would recommend verifying the way the buffer read in the driver.

[2020-07-31 10:33] keyonjie opened #3265 "[BUG] error trace debugfs entry (etrace) is always empty"
The error trace debugfs entry (/sys/kernel/debug/sof/etrace) is always empty which lead to we can't get any error trace with sof-logger (sof-logger -l *.ldc), this is bad for debugging when DMA trace doesn't work because of FW hanged or crashed.

**To Reproduce**
Do anything can lead to FW reporting tr_err() or comp_err(), and check the "sof-logger -l *.ldc".

**Reproduction Rate**
100%

**Expecte

[2020-07-31 10:43] paulstelian97 commented on #3265
Either this is a regression (I have used it on i.MX8 initially before adding the DMA trace support -- heck, before adding the host DMA in the first place) or something is different between Intel and NXP platforms.

[2020-07-31 14:33] plbossart commented on #3265
We should really have a first message to check that the trace works. An empty trace is not-testable, it can mean the trace is not working or there is no error message. An 'Hello SOF" seems required for CI/daily tests to check the trace functionality, no?

@mmaka1 @xiulipan @marc-hb FYI

[2020-07-31 14:36] plbossart commented on #3256
Sorry @xiulipan I don't get your point. If we are using aplay/arecord for this tests, then the xrun recovery should already be functional at the userspace level.

[2020-07-31 14:38] plbossart commented on #3256
that looks like a different class of problem @keqiaozhang. alsa-bat should be just using the headphone output, so if we have xruns with just one stream in normal playback it's really something else. Can you file a separate bug please?

[2020-07-31 16:40] marc-hb commented on #3265
@keyonjie does revert #3245 help?

Related, test fixes: https://github.com/thesofproject/sof-test/issues/297 https://github.com/thesofproject/sof-test/issues/298

[2020-07-31 17:49] yongzhi1 commented on #3259
Hi, @xiulipan

Added a make option for DMIC01 in the same spirit:
https://github.com/thesofproject/sof/pull/3266

[2020-07-31 18:10] yongzhi1 commented on #3144
Hi @jajanusz ,

With v4.0-rc1 and v4.0-rc2, the host is not able to receive captured buffer.

Above test is done in S0 and:
- KWD_PIPE_SCH_DEADLINE_US 2000/5000
- --buffer-size=960000/672000

log stops at:

[405686538.229167] (        9.010417) c0 ll-schedule        ./schedule/ll_schedule.c:120  num_tasks 3 total_num_tasks 3
[415003866.510417] (  9317328.000000) c0 power              ../cavs/lib/p

[2020-07-31 18:57] cujomalainey commented on #2478
This has been completed correct?

[2020-08-03 06:40] mwasko commented on #3189
@ranj063 can we ask for SOF driver expertise? The initial FW debug indicate problem at driver/kernel layer

[2020-08-03 08:32] udaymb commented on #3144
Hello @yongzhi1, @jajanusz

Waddledoo setup
**SOF**: https://github.com/thesofproject/sof/tree/releases/jsl/v4.0-rc1(21c8900f)
**Kernel**: https://chromium.googlesource.com/chromiumos/third_party/kernel/+/refs/heads/chromeos-5.4
 commit 651969cf77a14349b5d500b070298cf102380ff8 + https://github.com/thesofproject/linux/pull/2276

**KWD cmd** - arecord -Dhw:0,6 -M -N -c 2 -f S24_LE -r 16000 --buffer-

[2020-08-03 08:37] jajanusz commented on #3241
Fixed with https://github.com/thesofproject/sof/commit/ed35a46a5380e0a12fa2df1d54456f4ed3f77f8d

[2020-08-03 08:37] #3241 closed

[2020-08-03 14:48] lgirdwood commented on #3243
@slawblauciak can we close now ?

[2020-08-03 16:32] yongzhi1 opened #3267 "[FEATURE] Add diagnostic dump for reset DSP failure with status = 0xffffffff"
**Is your feature request related to a problem? Please describe.**
The following error signature appeared in recent fields reports for hatch/octopus/dedede:
(10 reports in last 3 months)

Board: hatch
Model: Dragonair
Image version: R85-13261.0.0

There are error messages:
[    8.356962] sof-audio-pci 0000:00:1f.3: error: cl_dsp_init: timeout HDA_DSP_SRAM_REG_ROM_STATUS read
[    8.356971] sof-aud

[2020-08-03 18:56] ranj063 commented on #3189
@mrajwa checking at my end but can you please elaborate on which part of your debug indicated a driver problem?

[2020-08-03 20:17] lgirdwood commented on #3267
@yongzhi1 the 0xffffffff value usually means the DSP IP is in D3. Maybe you could send a kernel PR that dumps some PM regs (both DSP and PCI) in the case we read 0xffffffff.

[2020-08-03 20:37] yongzhi1 commented on #3259
Hi, @mengdonglin and @Liviali155, with #3266 and -DDMICPROC=eq-iir-volume option, we can add the following volume control:

localhost ~ # amixer -c0 cget name='Dmic0 Capture Volume'
numid=91,iface=MIXER,name='Dmic0 Capture Volume'
  ; type=INTEGER,access=rw---R--,values=2,min=0,max=70,step=0
  : values=50,50
  | dBscale-min=-50.00dB,step=1.00dB,mute=1

From review comments of #3266, Google prefers

[2020-08-03 20:46] yongzhi1 commented on #3267
@lgirdwood That's the idea, could you assign to an expert that has the best knowledge of what to be dumped?

[2020-08-04 01:51] marc-hb commented on #3243
A pointer to the fix would not hurt.

[2020-08-04 07:06] mengdonglin commented on #3144
Thank you for double check @udaymb Closed this issue as resolved.

[2020-08-04 07:06] #3144 closed

[2020-08-04 07:18] slawblauciak commented on #3247
@cujomalainey it's not possible to receive a NULL pointer when allocating on the system zone, should an allocation there fail, an immediate DSP panic would occur.

[2020-08-04 07:33] mengdonglin commented on #3259
Close this issue, as the test result is aligned with customer request.

[2020-08-04 07:33] #3259 closed

[2020-08-04 07:36] slawblauciak commented on #3265
Issue not apparent when testing with the slim driver, maybe a kernel regression?

[2020-08-04 07:56] slawblauciak commented on #3247
This is a possible fault in topology parsing code in test bench.

[2020-08-04 08:34] cujomalainey commented on #3247
@slawblauciak does that apply for the testbench? If not we should handle that case so the fuzzer can push deeper.

[2020-08-04 09:09] dbaluta commented on #3265
Cc: @IulianOlaru249 @crazoes

I also noticed this last week but I thought it's just me being unable to use sof-logger properly.

[2020-08-04 09:14] slawblauciak commented on #3247
Testbench has its own topology parser, which is based on the one used in the Linux driver. Having this in mind, it is a testbench specific issue.

[2020-08-04 10:00] lyakh commented on #3265
I hardly remember seeing error trace data in "etrace" ever. Looking through both kernel and firmware sources it seems like the kernel expects two memory window regions - SOF_IPC_REGION_DEBUG for debug and SOF_IPC_REGION_TRACE for errors, in the firmware e.g. on CAVS platforms they are initialised by `EXT_MAN_PORT()` in src/platform/intel/cavs/platform.c - so far so good. But I don't see the DEBUG

[2020-08-04 10:06] lgirdwood commented on #3265
Ack - "Hello SOF". @marc-hb do you fancy making this change, it should be a one liner for each platform in the FW ready function to add a trace_error call with the above string..

[2020-08-04 10:24] #2330 closed

[2020-08-04 10:25] #3059 closed

[2020-08-04 10:43] lgirdwood commented on #3267
@juimonen can you look at this ? We just need a few dev_err() dumps of PCI and DSP PM regs when this happens to help with debug.

[2020-08-04 15:46] mrajwa commented on #3189
@ranj063, FW pipeline is stopped but yet application gets additional data - clearly layers above FW copy more than they should.

[2020-08-04 16:00] lgirdwood commented on #3170
So we are NOT seeing this from dai.c
[code]
and only seeing warning between the ```volume -> mixer -> dai``` in the logs. i.e. the mixer is reporting the issue.

The mixer is probably calculating 0 frames due to some incorrect logic here
[code]
Since an invalid source may be added that is inactive and returns a byte count of 0. Which is then used to calc frames here
[code]
and will result in the a

[2020-08-04 17:49] cujomalainey commented on #3222
Fixed

[2020-08-04 17:49] #3222 closed

[2020-08-04 17:53] cujomalainey commented on #3247
Interesting, because based on the stacktrace my thoughts were that we simply drained all the memory for the app and the malloc for sa failed as a result and we just don't have a path to catch that in the DSP given the above handling you mentioned.

[2020-08-04 19:30] lgirdwood commented on #2157
@plbossart do you think the SSP L/R bit is inverted here ? or incorrectly documented ? It seems like the L/R swap fix is probably a SSP bit change (unless you have already tried this) ?

[2020-08-04 19:51] lgirdwood commented on #2828
@slawblauciak can someone look at the stack trace and see whats preventing the timer scheduling correctly here. I would also say that we should have a FW register that the driver can set to enable this check and panic for debug otherwise we try and keep running (as XRUN handling or stream reset may be enough to recover in some circumstances).

[2020-08-04 21:09] lgirdwood commented on #2478
@akloniex @juimonen is this now completed ?

[2020-08-04 21:13] balent commented on #2828
Do you need more information or do you have enough to debug the issue?

I tried to build sof-logger but failed. Are there any instructions how to build it? I'm trying to run `./scripts/host-build-all.sh` but I'm getting error:

[code]

I'm reproducing this issue with:

[code]

[2020-08-05 00:37] RDharageswari opened #3271 "[BUG][TGL][v7.0-rc10]"error: ERROR kpb_init_draining(): not enough data in history buffer""
**Describe the bug**
While integrating the Google Hotword module, the streaming doesnt start after the Key Phrase is detected.
arecord -Dhw:0,100 -M -N -r 16000 -c2 -f s16_le --buffer-size=96000 -vvv /tmp/wov.wav -d10
At times when I say “OK Google” the detection works and the capture also starts well, but this is not the case always.
There are scenarios where even if I say “OK Google” the capture

[2020-08-05 00:39] RDharageswari commented on #3271
[fw_log.txt](https://github.com/thesofproject/sof/files/5025459/fw_log.txt)
[wov_failure_dmesg.txt](https://github.com/thesofproject/sof/files/5025461/wov_failure_dmesg.txt)

[2020-08-05 05:49] juimonen commented on #3267
@lgirdwood ok.

[2020-08-05 06:00] xiulipan commented on #3265
@lgirdwood I am OK with this!
@marc-hb And I think you can also make patches to sof-test scripts to make a valid test for error logger now.

[2020-08-05 06:52] keqiaozhang opened #3272 "[BUG] WoV cannot be triggered with some specific sets of history_depth and preamble_time"
**Describe the bug**
When testing wov with different values of history depth and preamble time, we found that most combinations can work, but we also found that with some certain values of preamble time and history depth, wov cannot be triggered.
For example, below two sets do not work.

Preamble-time =2000
History-depth =2000
Or
preamble-time =1900
History-depth=1900

I haven't traversed all the

[2020-08-05 07:55] lyakh commented on #3265
@xiulipan @akloniex so how is the error trace supposed to work and when did it work last time? I looked at v1.0 and v1.1 and even there I couldn't  so far find that out.

[2020-08-05 08:50] slawblauciak commented on #3272
In order to make WoV more stable on JSL platforms and fix issues stemming from memory pool limitations the history depth/preamble should not be longer than 1800

[2020-08-05 09:31] lgirdwood commented on #3170
Oh, I think individual debug is still blocked on UUID PR, Maybe just be easier to change trace_dbg to trace_err in mixer_copy().

Yep, but I no longer see a sof-byt-nocodec.m4 topology in master, so could your topology binary be stale here and potentially causing an issue ?

I do suspect that mixer is not correctly getting the state of it's sources/sinks and this results in 0 bytes to copy, but th

[2020-08-05 09:59] lgirdwood commented on #3256
So 61a2c75bf8335f93d0b223c85ed2c79d406d968b changes behaviour in that both free & avail are updated regardless of direction which is a bug in the function. I suspect the caller's usage is also incorrect.

1cdff03f93d798bc464a29bf016c593d34a1d744 also fixes a race which was a problem on Zephyr and may also be a problem here.

@lyakh can you take a look at this. The DW DMA position update logic is p

[2020-08-05 10:13] jajanusz opened #3274 "[BUG] Platform & CPU timer should be distinct"
**Describe the bug**
`cpu_timer_get` and `timer_get` that get timers from `struct sof` should return distinct physical or virtual timers, so user can register handler in one of them with not overriding another one.

**To Reproduce**
(On Baytrail) Try to set handler for one timer and then to another, previous one will be removed.
Example in: https://github.com/thesofproject/sof/pull/3268

**Reprodu

[2020-08-05 10:16] jajanusz commented on #3274
@mengdonglin please assign some1 who supports baytrail, thanks

[2020-08-05 10:39] lgirdwood commented on #3274
@jajanusz ack - but the new API must map easily onto Zephyr clock APIs i..e naming and calling convention @finikorg has Zephyr clock support for all IP on his TODO list IIRC.

[2020-08-05 12:01] paulstelian97 commented on #3274
On the i.MX one, I think we only have one, so we should be able to somehow reuse part of the infrastructure for cascaded IRQs (the part that allows multiple handlers per same interrupt) within the firmware itself.

[2020-08-05 12:33] singalsu commented on #2981
There was a regression in PR #3090. While addressing the consume/produce deviation from skew there was a mistake in capture pull mode copy limit for source buffer side. It caused the copy() to process less samples than required. The new PR is #3275.

[2020-08-05 14:20] lgirdwood commented on #2828
@ymdatta @singalsu can you guys report on the testbench build failure. IIRC, this should be part of CI now.

[2020-08-05 14:22] lgirdwood commented on #2828
@balent I guess you are using HEAD ? There have been some recent testbench fixes, but any failures should have been caught by VI. Can you try and build tools from the stable v1.5 branch ?

[2020-08-05 15:08] plbossart commented on #2157
Yeah,  I tried and it's not a polarity issue (happens also with DSP_A/B). I have pictures somewhere.

[2020-08-05 17:28] ranj063 commented on #3271
@RDharageswari just to clarify, there's no S0ix in the picture here? keyword detection fails even in S0?

[2020-08-05 17:44] RDharageswari commented on #3271
yes it fails on S0 itself. I tried with & without gain module also, still i see the same behavior.

[2020-08-05 19:11] plbossart commented on #2157
@lgirdwood see screen grabs in https://github.com/thesofproject/sof/issues/2459

[2020-08-05 19:36] EvanCarroll opened #3276 "[BUG] How can I recover from DSP Panic?"
**Describe the bug**
User gets a DSP, not clear how to recover.

**To Reproduce**
Happens sporatically

**Reproduction Rate**
About once in an hour of use.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

I am getting a dsp panic,

[code]

Then sound stops working and

[2020-08-05 19:50] plbossart commented on #3276
@EvanCarroll does this happen when you are continuously playing sound?
Or just when a sound gets played after some period of idleness? Just trying to correlate with other cases, we've seen this panic in other bug reports but haven't triangulated what might cause this.
Can you also point us to the results of alsa-info so that we know what platform this happens on?
@lgirdwood FYI

[2020-08-05 19:58] plbossart commented on #3276
Possible duplicate of https://github.com/thesofproject/sof/issues/2828 ?

[2020-08-05 22:33] balent commented on #2828
I was able to run `../scripts/build-tools.sh` (from new dir) and build `sof-logger`.

The `./scripts/host-build-all.sh` is not working for me with `stable-v1.5` either. Same error.

What parameters should I use when running `sof-logger`? Which ldc file?

Thanks!

[2020-08-05 23:30] RDharageswari commented on #3271
i verified GHWD for more than 10times and it worked with the below steps:
arecord -Dhw:0,100 -M -N -r 16000 -c2 -f s16_le –buffer-size=67200 -vvv /tmp/wov.wav -d10
wait for 10sec // this is must! If you don’t wait and say “ok google” things will not work.
Say “OK Google”, the recording will start. Now Check the /tmp/wov.wav for captured data

Additionally, there was also a change to the build step

[2020-08-05 23:30] #3271 closed

[2020-08-06 06:09] xiulipan commented on #3265
@lyakh To understand how the trace work, we need to know we have 2 kinds of trace:

1.  error trace: a simple shared memory window between DSP and host (same as the IPC mailbox), which means this kind of trace can only be directly access when DSP in D0. To make it work with PM, we have some method to cache this filed into debugfs when enter suspend, but I think it is not prefect at now and will lo

[2020-08-06 06:47] lyakh commented on #3265
[snip]

@xiulipan thanks for the explanation, that's also my impression, that the current implementation isn't right and I don't understand whether and when and how it ever worked in the past.

[2020-08-06 07:12] xiulipan commented on #3265
@lyakh I did some debug and test, root cause to be we never copy anything into mailbox even if the trace is a ERROR. But all the functionality for MBOX trace is still OK. Have a simple fix: https://github.com/thesofproject/sof/issues/3265

[2020-08-06 07:14] xiulipan commented on #3265
@plbossart @lgirdwood Now all trace is refined to link with comp ctx and uuid, I found it is not that easy to just add one line **Hello SOF** directly into our code.
Any idea here? Which comp we can used here to let the hello message linked to?

[2020-08-06 08:17] paulstelian97 commented on #3265
I typically use IPC for such messages in my internal tests that don't have an obvious component.

[2020-08-06 08:47] paulstelian97 commented on #3276
If SOF is built as a kernel module, removing and reinserting the module should also reset the DSP and get sound back on, for a workaround. No guarantees that it works (for some reason for i.MX there are issues in this flow?)

[2020-08-06 08:53] dbaluta commented on #3265
@xiulipan thanks a lot for your information about traces. This is the kind of information we need to write it in sof-docs.

[2020-08-06 09:05] lyakh commented on #3265
@xiulipan nice, just as I said - we never actually copy the data to the mailbox, no idea how it has been tested with the slim driver... Wondering whether it ever worked and since when it broke down.

[2020-08-06 09:34] keqiaozhang commented on #3272
Thanks @slawblauciak  for clarification. Due to the hardware restriction on JSL, this bug can be closed.

[2020-08-06 09:34] #3272 closed

[2020-08-06 09:59] #3244 closed

[2020-08-06 10:03] lyakh commented on #3256
@plbossart I was able to reproduce `dmic_irq_handler()` errors with that patch reverted too.

[2020-08-06 10:36] lgirdwood commented on #2828
@balent the LDC files contain the debugging strings and are extracted from the ELF image as part of the FW binary build. i.e. you need to use the same LDC file that was produced as part of the FW build. The SOF LDC files are release with the binaries in SOF bin repo. Please find the v1.5 .1 LDC and binaries here
https://github.com/thesofproject/sof-bin/tree/stable-v1.5.1/lib/firmware/intel/sof/v1.

[2020-08-06 10:38] lgirdwood commented on #3276
@slawblauciak @mengdonglin fyi.

[2020-08-06 10:39] #3265 closed

[2020-08-06 11:01] lgirdwood commented on #2157
@plbossart thanks got you. Fwiw, I wonder (since swapping is consistent) if we were to write a single 32 bit word to the SSP FIFO as part of trigger for > 16 bit data output to re-order the FIFO output on the link. Alternatively we could fill the FIFO with 16 * 0s  as part of trigger start meaning the FIFO is always in a consistent state at start has send data without underruning (which may mean w

[2020-08-06 12:03] singalsu commented on #3180
I tried to avoid 64 bit arithmetic in ramp calculations for speed. Also I recall I kept possibility for pretty slow ramps, maybe near 5s, I don't remember but can check. By going to 64 bit or decreasing max ramp length it could be made more accurate. Halving max. time would 1/2 the length difference.

Though I'm not aware of use case that requires specific ramp length. Are there? Would +/- 10% be

[2020-08-06 12:18] juimonen commented on #3267
@lgirdwood @yongzhi1 https://github.com/thesofproject/linux/pull/2347
only thing I could find (easy) was this 1 PM state... not sure if it makes the log too much better :)

[2020-08-06 14:30] plbossart opened #3280 "[FEATURE] split product topologies from test topologies"
**Is your feature request related to a problem? Please describe.**

We have way too many test topologies used by SOF developers that are irrelevant for most users. This is becoming even worse with the addition of pretend-algorithms in the nocodec topologies, which were intended to be simple bypass topologies

**Describe the solution you'd like**

Move all test topologies to separate directory and

[2020-08-06 14:52] lyakh commented on #3256
While debugging this, I tried running single-stream playback and capture tests `check-signal-stop-start.sh -m playback` and `-m capture` and while they do report success I see over- and underrun messages during each pass like
[code]
and
[code]

are those "normal" / expected? @lgirdwood @plbossart @marc-hb

[2020-08-06 15:19] plbossart commented on #3256
I've never used this script, and I don't think it's part of the CI tests we run?
This could be a 'test the test script issue'.

[2020-08-06 16:03] lyakh commented on #3256
@lgirdwood could you please elaborate a bit? Why do you think those functions should be different for different DAIs and for each `DMA_DIR_*`? The DMA us working for *some* time as is and also single-stream tests work, doesn't that mean, that calculations there are correct? I can understand that it could be concurrency, i.e. a caching or a locking problem, but calculations as such seem correct?

[2020-08-07 05:34] xiulipan opened #3281 "[FEATURE]Add an error trace message for functionality check"
**Is your feature request related to a problem? Please describe.**
Add a message like **Hello SOF** into error trace to show error trace works

**Describe the solution you'd like**
- create new component to show this messge
- Add this into one existing component

**Additional context**
Discussion moved from https://github.com/thesofproject/sof/issues/3265

[2020-08-07 05:41] xiulipan commented on #3281
@plbossart @lgirdwood @lyakh @paulstelian97 @marc-hb moved the discussion in #3265 here.
 We have 2 proposal:
- create new component to show this message (need to send the message after trace init)
- Add this into one existing component (eg. Add this message in IPC comp, but may show multiple time)

Please have some comments. Then we can refine out logger check test case to track error trace statu

[2020-08-07 05:43] paulstelian97 commented on #3281
I think the message could be shown in either the generic SOF init code or in the platform init code. I suggested IPC only because messages have to be tied to some component.

Or perhaps trace init itself could show a message (configurable, of course) or just dump the message into the mailbox as some sort of initialization.

[2020-08-07 05:43] xiulipan commented on #3265
@lyakh I tried to figure out why and when the trace is broken, but no luck because of the refinement
@dbaluta Yes, I think we may missed this in sof-docs. Would you like to review my comments above and add them into doc?

[2020-08-07 05:50] xiulipan commented on #3281
@paulstelian97 I tried to add this kind for message into trace init. It used to be very easy in past if we just send trace message into mailbox. But now the trace in mailbox is actually some address and date, then we need a ldc file to parse it out.

I will have try and RFC PRs

[2020-08-07 05:52] paulstelian97 commented on #3281
We don't need ldc file to verify that there is some message, only to actually decode it. You can put in some fixed parameters in the message and the parameters don't need the LDC file to check, if you know how many there should be beforehand.

[2020-08-07 06:19] lyakh commented on #3281
Use `&sa_tr` from agent.c?

[2020-08-07 07:55] jdrzaszcz commented on #3180
I'm sure what the actual use cases look like (in some topology with src I saw 20 ms for type 2), in our tests the ramp length is between 100 and 1000 ms. I'll change tolerance to +/- 10 % and see how it works.

[2020-08-07 12:20] #3096 closed

[2020-08-07 12:23] ilia-kats commented on #3276
I'm also getting hit by this. I usually notice it when trying to use audio (playback or mic) after several hours of not using audio, but today this happened right in the middle of playback. The sound suddenly just went silent and this was in the kernel log:
[code]
This is on a Thinkpad X1 Carbon 7th using SOF firmware 1.5.1 on Arch linux. Here is alsa-info output:
[code]

[2020-08-07 12:33] paulstelian97 commented on #3276
@ilia-kats I recommend that you move those very large logs into separate files and attach them to your comment (yeah, somehow it is possible to do that). Also, I recommend you open another issue with your specific panic details, so it can be checked.

Yikes, another agent panic (DSP load got too high and the agent, a component that keeps the load in check, saw that the DSP was overloaded and stopp

[2020-08-07 13:07] lgirdwood commented on #3281
@xiulipan keep it simple. Just emit trace error level in platform_boot() for each platform.

[2020-08-07 13:25] lgirdwood commented on #3256
@lyakh over/under runs on BYT could be caused by the driver & FW using IPC for stream positions (they should use the memory window for this). Please check the driver.

The position functions are DAI  specific since they only use DAR OR SAR but not both. If we do host <-> DSP copies then DAR and SAR will both increment. When we do IO with a DAI only DAR or SAR will increment, not both. i.e. on play

[2020-08-07 14:14] EvanCarroll commented on #3276
I've updated with the result of `alsa-info`. However, I'm more concerned about knowing if recovery is possible than fixing any single issue. This issue however also happens on the X1 Carbon 7th Gen.

[2020-08-07 14:45] plbossart commented on #3276
@EvanCarroll In theory if you do a suspend operation the DSP context is lost and the firmware re-downloaded.
We do not have a recovery in place at the moment, it's been an ask for ages but we never got to it.
https://github.com/thesofproject/linux/issues/452

[2020-08-07 14:53] paulstelian97 commented on #3276
@tlauda Are you aware of any clock speed woes on KBL? Maybe that's why the agent is crying for these two and causing panics...

@EvanCarroll @ilia-kats I'd like some kernel boot logs (dmesg) from both of you to identify the exact system, topology, firmware version etc. It doesn't need to be the very log from the crashes (although it's always better), but they must have the same version (no updates

[2020-08-07 15:01] EvanCarroll commented on #3276
I'll provide that next time it crashes, I can't guarantee my firmware hasn't already updated. I use `fwupdagent`.

[2020-08-07 15:04] paulstelian97 commented on #3276
Sure thing. Maybe the update already fixed the issue though. But if it didn't, you're welcome to post all the logs so that I (or, more importantly, the devs that know your platform specifically; I don't know more than some generalities about the Intel platforms) can look into it and identify the reason for the crash. Again, with exact information we can provide a proper solution or workaround.

[2020-08-07 15:58] lyakh commented on #3256
@lgirdwood ok, got it, thanks! However, I now suspect a different problem: I suspect a problem with DMIC on APL. The same tests work on other platforms and SSP capture (instead of DMIC) works on APL too. On APL DMIC however I see sometimes
[code]

i.e. a DMIC interrupt comes after the DMIC has been stopped. @singalsu any clues?

[2020-08-07 16:02] plbossart commented on #3256
@lyakh do the tests work on GLK (cAVS1.5) as well, or only on cAVS1.8+ platforms (CNL/CML/ICL/TGL)? That could be a hint to dig further.

[2020-08-07 16:08] lyakh commented on #3256
Also interesting: I wasn't actually sure whether simultaneous capture and playback on the same SSP is supposed to work. It seems to work on CNL, but also breaks on APL

[2020-08-07 16:14] lyakh commented on #3256
@plbossart I don't think I've got any GLK systems and that test isn't in CI / daily. If somebody could run it on such a device, would be interesting. Would it make sense to try this on MB BYT?

[2020-08-07 17:10] mrajwa commented on #3189
This is the application bug I have already submitted patches to ALSA, @lgirdwood  I think we can close it.

[2020-08-07 20:01] plbossart commented on #3256
\> @plbossart I don't think I've got any GLK systems and that test isn't in CI / daily. If somebody could run it on such a device, would be interesting. Would it make sense to try this on MB BYT?

There is a GLK/BOBBA device in the CI list, and there should be a daily test for it. @xiulipan can you point @lyakh to those daily tests?

I think this also need to work on MinnowBoard.

[2020-08-07 20:02] plbossart commented on #3256
Could be something specific to APL then, not related to the actual IOs. Maybe a memory issue, APL has rather small internal memories.

[2020-08-08 00:27] daric93 commented on #1899
I have found this issue after unsuccessfully trying to get microphone working on my Lenovo Yoga C930.
Audio card is identical to the reported above:
[code]

[2020-08-08 05:50] EvanCarroll commented on #3276
It just did it again. I was watching a movie and `xscreensaver` kicked in.

I will update the topic with the logs.

[2020-08-08 06:43] lyakh commented on #3256
@plbossart yes, I did see that device in the list, and as I mentioned above, that test is neither in CI nor in daily sets, so for now it can only be checked manually.

[2020-08-09 00:12] paulstelian97 commented on #3276
The only thing that is half-suspect is "FW ABI is more recent than kernel/topology ABI is more recent than kernel" (kernel is 3:13:0 while FW/topology are 3:16:0). See if you can somehow update the SOF kernel module (if you have a module) or the kernel itself (if it's built in). Not sure if it will actually help but I'd say it's worth a shot.

[2020-08-10 05:32] sathya-nujella commented on #3129
Hi @keyonjie
1)
I confirm we don't need PGA/volume module in playback path or echo ref path. Confirmed with Google.
We don't need especially for this amp-Max98373 as it supports H/W gain control.
2)
FYI,
Only gain needed in WoV capture path, which is already there.

We can close this issue IMO.

[2020-08-10 05:33] sathya-nujella commented on #3129
Thank you Pierre. I double confirmed with Google too , we don't need vol component in echo ref path: @keyonjie -FYI

[2020-08-10 05:33] #3129 closed

[2020-08-10 08:33] keyonjie commented on #3189
Thanks for spotting this and providing solution, it is really nice catch! I added some comments about refining the PR https://github.com/alsa-project/alsa-utils/pull/51, @perexg can you help to take a look?

[2020-08-10 10:09] lgirdwood commented on #3256
@lyakh one other thing to check is that we are not reading back LLI descriptors for current block status and always readback HW registers. i.e. the HH LLI mode means descriptors are copied back to RAM (after being updated by DMAC) and must be invalidated before DSP reads them.

[2020-08-10 10:25] bkokoszx commented on #3249
@aiChaoSONG
Are you able to reproduce it also with codec topology (sof-tgl-max98373-rt5682.tplg)?

[2020-08-10 10:43] lyakh commented on #3256
I think I know when the problem occurs. It occurs when SSP playback pauses while DMIC capture is still running. In such a case pausing the playback masks, clears and disables the DMA interrupt. But then it finds, that another DMA client (DMIC) is still running, so it re-enables the interrupt. But it's too late - the DMIC overflows and doesn't recover from it any more.

[2020-08-10 10:56] slawblauciak commented on #2828
@lgirdwood there are a number of different issues all having the same exact DSP panic caused by the system agent. I believe there were talks about making this a purely debug feature, given the panic is an unnecessarily excessive measure to take in most cases. I'll see if we can talk about it on the tech sync tomorrow.

[2020-08-10 11:12] lgirdwood commented on #2828
@slawblauciak ok - yes lets have a FW register where we can turn on/off otherwise it could get difficult to debug IRQ handling or other high pririty code that will block agent.

[2020-08-10 11:14] lgirdwood commented on #3256
@lyakh btw - there are differences to IRQ mapings between APL and CNL for DW-DMA. IIR one has an IRQ per channel and ther other the IRQ is shared for all channels.

[2020-08-10 11:27] slawblauciak commented on #3243
@lgirdwood I'd leave it open until the PR gets merged.
@marc-hb apologies, it's the PR mentioned above, https://github.com/thesofproject/sof/pull/3195

[2020-08-10 11:56] slawblauciak commented on #3221
@singalsu is the ramp up time configurable?

[2020-08-10 12:28] singalsu commented on #3221
The ramp time is configurable in topology. It's logarithmic shape so it may look muted but it's not. Please plot logaritmic level vs. time so it becomes visible.

The ramp time has been optimized in known platforms to conceal best the start transient. Without it some rattle that is louder than speech is heard in the beginning.

In e.g. file tools/topology/platform/intel/intel-generic-dmic.m4 it's

[2020-08-10 12:30] slawblauciak commented on #3221
@sathya-nujella is this answer sufficient for you?

[2020-08-10 12:35] slawblauciak commented on #3190
Lowered the priority as it's been confirmed that this is not a supported scenario in use with cras.

[2020-08-10 12:36] lyakh commented on #3256
@lgirdwood exactly, this seems to be the reason

[2020-08-10 12:38] slawblauciak commented on #3189
Will close when the PR gets merged.

[2020-08-10 12:40] slawblauciak commented on #3180
@jdrzaszcz any updates?

[2020-08-10 12:50] slawblauciak commented on #3171
@Liviali155 that change has been merged, good to close now?

[2020-08-10 13:21] slawblauciak commented on #3169
Thanks for confirming this, @plbossart

[2020-08-10 13:33] slawblauciak commented on #3120
@singalsu any updates?

[2020-08-10 13:37] slawblauciak commented on #2981
@jdrzaszcz the aforementioned PR has been already merged, can you retest and confirm if it's effective?

[2020-08-10 13:40] slawblauciak commented on #2908
@abonislawski any update?

[2020-08-10 13:42] slawblauciak commented on #2890
@xiulipan can you please verify if you can still see the error?

[2020-08-10 13:46] slawblauciak commented on #2885
@jdrzaszcz isn't this the same issue you've been noticing when testing the dai groups?

[2020-08-10 13:50] plbossart commented on #3171
I'd like to keep it for now, there's no rational explanation as to why reducing the period size solves the problem. I think we have more fundamental problem with scheduling.

[2020-08-10 14:05] plbossart commented on #2885
I don't think we clear the PDI fifos for a pause. I think we keep the data as is, so don't push anything out, but the capture stream continues so when the first stream resumes it's not aligned with the capture.

We do clear the PDI when starting playback, it was added in https://github.com/thesofproject/linux/pull/1887/commits/01cc461ba4f57d8dcfdf250d38adce9fb657d189

I think no matter what we do,

[2020-08-10 14:07] slawblauciak commented on #2687
Change introduced in https://github.com/thesofproject/sof/pull/3000
Merged to master, closing.

[2020-08-10 14:07] #2687 closed

[2020-08-10 15:49] lyakh commented on #3256
More fun: an important and relevant difference is also the use of scheduler domains: the CNL uses HDA generic topologies, which use the timer domain for everything, and it doesn't use SSPs. Whereas APL / UP2 uses the DMA scheduler domain for the SSP5, and somehow that also moves DMIC to the same domain, even though in topology it's assigned to the timer domain.

[2020-08-10 15:59] plbossart commented on #3256
Good catch @lyakh. I think the DMA scheduler should only be used when the SSP is in slave mode (codec master).

But I fail to see why this would lead to a difference, if we use the DMA scheduler the interrupts are going to be more or less the same as the timer ticks, they cannot drift when the SOC is clock master.

[2020-08-10 16:13] lyakh commented on #3256
@plbossart good question why the DMA scheduler is used with SSP in master mode. And my above statement, that on APL in a DMIC + SSP test both pipelines are driven by the DMA scheduler might have been at least partially wrong... To be continued tomorrow.

[2020-08-10 16:16] plbossart commented on #3256
Chromebooks with CML (Helios?) do make use of SSP+DMIC, so that's also a good reference point.

[2020-08-10 16:50] singalsu commented on #3120
@slawblauciak I have tested a lot of things and work with debugging this nearly all the work time but I haven't found the root cause. I have a draft PR that makes the issue rare but it can still happen.

[2020-08-10 17:44] lyakh commented on #3256
@plbossart thanks, good to know!

[2020-08-10 19:19] sathya-nujella commented on #3221
Good to know Seppo that it is configurable.

[2020-08-10 19:20] sathya-nujella commented on #3221
@sathyap-chrome was discussing with Customer.. so requesting him for update.

[2020-08-11 02:41] aiChaoSONG commented on #3249
@bkokoszx I tried on TGL with codec and sof-tgl-max98373-rt5682.tplg,  issue also reproduced.  sof-tgl-codec-ci.tplg is here: https://github.com/thesofproject/sof/pull/3212

error message when issue reproduced on TGL with codec
[dmesg.txt](https://github.com/thesofproject/sof/files/5054464/dmesg.txt)

[2020-08-11 03:11] xiulipan commented on #2890
@slawblauciak Yes, we can still see this issue on for-next branch. I think this maybe related to some kernel patches not up-streamed. Will double check .

[2020-08-11 05:15] #3180 closed

[2020-08-11 05:16] jdrzaszcz commented on #3180
@slawblauciak I check it with 10 % tolerance and its ok.

[2020-08-11 05:46] jdrzaszcz commented on #2885
@slawblauciak No, it's different issue.

[2020-08-11 05:49] jdrzaszcz commented on #2981
@slawblauciak I will retest it with current master and let you know.

[2020-08-11 06:23] aiChaoSONG commented on #3249
@bkokoszx if you cannot reproduce this issue with the command in the description, Please try our test case.
1. clone https://github.com/thesofproject/sof-test, and `cd sof-test`
2. apt install python3-numpy python3-scipy
3. copy sof-tgl.ldc  to /etc/sof
4. config NOPASSWD for current user. `sudo visudo`, change `%sudo ALL=(ALL:ALL) ALL` to `%sudo ALL=(ALL:ALL) NOPASSWD:ALL`
5. make sure sof-logger

[2020-08-11 07:09] mengdonglin commented on #2776
CI doesn't reproduce this error in recent daily test on CML Mantis. So closed this issue atm.

Test recipe.
Start Time: 2020-08-09 21:25:41 UTC
End Time: 2020-08-10 00:53:35 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: 9724bf01
SOF Branch: master
SOF Commit:9f2a1abd

[2020-08-11 07:18] bardliao commented on #2124
@lgirdwood @plbossart Won't MCLK be turned on in or right after snd_sof_rintime_resume()?
@macchian Could you measure the delay in each process?
For example DSP boot: 20ms, waiting for MCLK ready: 100ms, codec power up: 150ms...
So we can focus on the critical part to shorten the delay time.

[2020-08-11 07:55] slawblauciak commented on #2006
Buffer size increased accordingly and issue has been solved.

[2020-08-11 07:55] #2006 closed

[2020-08-11 11:21] bkokoszx commented on #3249
@aiChaoSONG
Did you build firmware for chrome configuration?

Is there any special konfig for building above kernel? Is below command sufficient?
bash ./scripts/kconfig/merge_config.sh .config $KCONFIG_PATH/base-defconfig $KCONFIG_PATH/sof-defconfig $KCONFIG_PATH/sof-mach-driver-defconfig $KCONFIG_PATH/hdaudio-codecs-defconfig

Thanks

[2020-08-11 12:36] lyakh commented on #3256
As explained in #3289 this seems to be fixed but only for codec-slave modes. I don't think we're even testing the codec-master mode? Fixing it has a lower priority probably?

[2020-08-11 12:37] lgirdwood commented on #2124
@macchian is this still an issue or has it been solved hence the lack of discussion ?

[2020-08-11 18:47] plbossart commented on #2459
@lyakh FYI since you are scrubbing the DW-DMA code, might be something related to this issue.

[2020-08-11 20:20] cujomalainey commented on #2124
I am still seeing activity on internal bug

[2020-08-12 02:20] keyonjie commented on #3249
We are using force-nocodec mode for this testing, just use the kconfig-sof-nocodec.sh below directly for the kconfig:
https://github.com/thesofproject/kconfig/blob/master/kconfig-sof-nocodec.sh

I don't think so, usually we just run ./scripts/build-tools.sh to build it, @xiulipan can you help to check this?

[2020-08-12 06:45] ymdatta opened #3304 "[BUG][Fuzzing] Testbench: program aborted due to invalid write"
**Describe the bug**
This bug was found when fuzzing the testbench using AFL fuzzer. For a fuzzed topology file input (i.e this topology was generated by the fuzzer) testbench exits with Aborted(core dumped) error.

**To Reproduce**
1. Build the testbench from the using `host-build-all.sh` script from scripts directory.
2. Download the topology file from [here](https://github.com/ymdatta/sof_testb

[2020-08-12 10:56] aiChaoSONG commented on #3249
@bkokoszx We have tried 007 release FW  with latest sof-dev kernel, issue not reproduced, seems issue is on master FW.

[2020-08-12 11:12] bkokoszx commented on #3249
@aiChaoSONG
Could you also try to reproduce with master + @keyonjie  PR #3205 ?

[2020-08-12 11:21] singalsu commented on #3120
@slawblauciak @jdrzaszcz I'm not getting this error with git master firmware if I leave out option to force internal ssp. Now four rounds of 100x stress test passed. I wonder this issue can be closed?

[2020-08-12 11:35] jdrzaszcz commented on #2981
@singalsu @singalsu Hi, I rerun tests with asrc on capture pipeline and I find out only few results lower than 80 THD value (less than 1 %). But on APL I got few times stream stall on playback pipeline.

[2020-08-12 12:27] keyonjie commented on #3249
@bkokoszx just tried and that doesn't help.

[2020-08-12 12:57] brentlu commented on #2124
Turning on mclk does not help because da7219 tries to lock the fsync in prepare stage. Another possible fix is using it's "PLL bypass mode" but it requires 11.288/24.576/49.152MHz mclk. This frequency could be achieved by using cardinal clock but KBL does not support it.

[2020-08-12 13:36] #3256 closed

[2020-08-12 15:47] lyakh commented on #3170
@lgirdwood the topology is there, it's generated from the cht m4.

I see the PGA component reporting 0 available frames when this bug occurs...

[2020-08-12 19:56] victortrac commented on #2828
Probably not altogether helpful, but I am still experiencing this on sof-firmware 1.5.1-1-1 on 5.7.12-arch1-1.  I'm also on an X1 Carbon 7th Gen, like others on this issue.

It *might* be less frequent than on the 1.4.x sof-firmware?  But I also can't seem to find a pattern of what triggers the error. I could go a week without any issue, with many periods of built-in speakers, bluetooth, sleeping/

[2020-08-13 05:37] keyonjie commented on #3249
@bkokoszx if we run aplay and arecord in the same terminal without any delay as below, the FW will crash:
arecord -Dhw:0,2 -f dat /dev/null -vvv & aplay -Dhw:0,2 -f dat /dev/zero

[2020-08-13 07:50] lyakh opened #3308 "[BUG] Are "no bytes to {produce,consume}" cases actually errors?"
`comp_update_buffer_produce()` and `comp_update_buffer_consume()` in buffer.c print an "information" severity message "no bytes to {produce,consume}" when called with `bytes == 0`. In many tests these messages accompany an error, in others, like those seen in CI tests and reported by @plbossart, execution seems to continue and it is unclear whether functionality actually was affected. Are there ca

[2020-08-13 08:04] paulstelian97 commented on #3308
A case that isn't implemented but will become not-an-error will arrive with Compress support I guess. Or should the components explicitly not call the functions at all if bytes == 0?

[2020-08-13 08:37] dbaluta commented on #3308
Maybe for PCM that there could be a problem, but as @paulstelian97 said for Compress we will be having this situation pretty often, where we need an amount of bytes greater than the current period so we will need to wait for the next period to get all bytes needed.

I wonder if we can change buf_info to bug_dbg for when this case happens.

[2020-08-13 09:08] lgirdwood commented on #3170
Please let me know if you see the DMA complaining about uder/overruns. If we dont see this then the data could be getting stuck in the PGA or mixer. Btw, there may be some PCM converter between DMA and PGA that could block too.

[2020-08-13 09:14] lgirdwood commented on #3308
@lyakh whilst these are sometimes  helpful, they can flood logs - can we make them debug as suggested by @dbaluta

[2020-08-13 10:33] timur-enikeev commented on #2828
Please do any workaround. At least possibility to reload the firmware without reboot or suspend.
@plbossart, sof_remove.sh doesn't help

sof_pci_debug doesn't help too (maybe with this parameter the crash occurs more rarely.

[2020-08-13 12:39] lyakh commented on #3170
@lgirdwood no, I don't see any of those

[2020-08-13 13:20] lyakh commented on #3170
I'm wondering why the generic nocodec topology sof-cht-nocodec.m4 uses DMA schedulers?

[2020-08-13 13:25] plbossart commented on #3170
all byt/cht topologies use DMA schedulers, it's not limited to the nocodec case.