[2021-08-13 16:06] fuyuntsuo commented on #4418
I am thinking of another possibility: xcc toolchain. I have tried to build the same firmware with different optimization (for size instead of for performance) and the XRUN issue is gone. Calling for an Xtensa expert for this issue :)

[2021-08-13 16:11] plbossart commented on #4629
Thanks @aiChaoSONG, the results with the following commits don't show any issues on our test TGL-H platform.

Kernel Branch: stable/linux-5.13.y commit a37da2be
SOF Branch: v1.8 commit 9e7a8f921efb

Not sure what we missed.

@nklayman can you upload the result of 'alsa-info'? I'd like to check for possible differences with our test device. Thanks!

[2021-08-13 16:37] lgirdwood commented on #4418
Could be true - can we make sure both DW DMA and IGO are doing the allocation with cache line size alignment. I would also state that the DMA LLI is written back by DMAC HW and may have a larger writeback size (i.e. may not play well with L1$ or uncache aliases).

Can we try the following patch that makes all LLI cache line size and adds padding of one unused LLI at the start and one unused LLI at

[2021-08-13 16:43] lgirdwood commented on #4418
Interesting, something fishy is going, I suspect the DMAC may be involved and changing the CC -O levels would certainly move TEXT/DATA around.

[2021-08-14 07:47] nklayman commented on #4629
@plbossart I uploaded the `alsa-info` output in [this comment](https://github.com/thesofproject/sof/issues/4629#issuecomment-897825601). If you think something might have changed since then, let me know and I'll upload a new one.

[2021-08-14 07:48] nklayman commented on #4629
I'll also give v1.7 a shot tomorrow and will let you know if it works.

[2021-08-14 18:50] lamyseba commented on #3868
Hi, just to say I'm experiencing the same bug on a surface3, with a Kernel :
Linux surface3 5.13.7-arch1-1-surface
with an rt5645 card.
sof-firmware: 1.8-1

[2021-08-15 04:28] nklayman commented on #4629
I downgraded to v1.6 (that's what `dnf downgrade` did, didn't bother to install 1.7 manually) and everything worked just fine. If you want me to test 1.7 I can as well.

[2021-08-16 02:00] keyonjie commented on #4418
It requires some corrections, after that, the issue is W/A by the patch. @fuyuntsuo

[2021-08-16 02:36] fuyuntsuo commented on #4418
@keyonjie @lgirdwood  thanks!

keyon, would you send the corrected patch to @lancedkhou, @sathya-nujella, @RDharageswari and me? So that we can verify whether the open issues can be closed with this W/A.

[2021-08-16 03:01] keyonjie commented on #4538
@ujfalusi looks we have very limited dmesg log when DSP panic happen now?
[code]

[2021-08-16 05:57] ujfalusi commented on #4538
@keyonjie, by default we are not flooding the kernel log with repeated dumps when the firmware crashes, we print the dsp dump only once and we also print the ipc dump once (separately counted).
All optional dumps and the dump flood can be re-enabled via module parameter `sof_debug` with bit 4 is set.

The dumps have not been changed, we print the same information as before but we have markers arou

[2021-08-16 09:45] lgirdwood commented on #4538
@ujfalusi does the FW stack get dumped by default (it should not be an option) ?

[2021-08-16 09:47] XiaoyunWu6666 opened #4639 "[BUG]ipc error after system resume ,with arecord in the background on jsl-rvp-nocodec"
**Describe the bug**
Jsl-rvp-nocodec ipc error after runtime resume with -Dhw:0,1 arecord in the background (the 5/5 suspend-resume).
inner daily 5882 model=JSL_RVP_NOCODEC testcase=check-suspend-resume-with-capture-5
According to dmesg, after CTX_RESTORE , ipc error when PCM_PARAMS of stream.
Haven’t reproduced it manually.

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-jsl-nocodec.tplg

[2021-08-16 09:49] lgirdwood commented on #4418
@keyonjie can you send a PR with your updates. I think the DMA does have a minimum IO size and alignment. We dont hit this with audio buffers as they are all > 64 bytes.

[2021-08-16 10:36] ujfalusi commented on #4538
The content of the dump has not been changed and there is no option to change it. The only change is that by default we print the dump (DSP / IPC) once.
The (HDA) registers will be dumped if the fw_state is SOF_FW_BOOT_COMPLETE, if the dump is called during any other state then the registers are not printed and they were not printed in the past either.

[2021-08-16 11:18] keyonjie commented on #4418
@fuyuntsuo @lgirdwood the draft PR with the W/A here: https://github.com/thesofproject/sof/pull/4640

[2021-08-16 13:46] lgirdwood commented on #4583
@dbaluta can we close ?

[2021-08-16 14:16] plbossart commented on #4629
@nklayman if you don't mind manually adding the 1.7 firmware and topology that would be great. 1.6 is relatively ancient and it'd be easier to track changes between 1.7 and 1.8.

@lgirdwood @singalsu if you have any ideas or suggestions to help identify what causes this IPC error on TGL-H we are all ears.

[2021-08-16 14:19] fuyuntsuo commented on #4418
Hi @keyonjie @lgirdwood , I've tested it at my end and the XRUN doesn't occur anymore. Thank you both.

Apologize for being a bit pushy on this issue, whose root cause is totally beyond my expectation. Hopefully we could close all the other issues with help of this W/A.

[2021-08-16 14:20] plbossart commented on #3868
@lamyseba how did you end-up using SOF? is the CONFIG_SND_INTEL_BYT_PREFER_SOF option set, or did you use options snd-intel-dspcfg dsp_driver=3

What happens if you use
a) legacy driver
options snd-intel-dspcfg dsp_driver=1

b) SOF with trace enabled
options snd-intel-dspcfg dsp_driver=3
options snd_sof sof_debug=1

[2021-08-16 17:24] nklayman commented on #4629
I downloaded the 1.7 `.ri` file to `intel-signed` and the speakers and mic work now.

[2021-08-17 02:51] XiaoyunWu6666 opened #4643 "[BUG]spurious response 0x0:0x2 after system suspend-resume on EHL_RVP_I2S (with i915 suspending crtc failed with -22 calltrace)"
**Describe the bug**
in innner daily 5595 and 5901
on EHL_RVP_I2S
when check system suspend resume with aplay running in the backgound
Call Trace occurred and " kernel: sof-audio-pci-intel-tgl 0000:00:1f.3: spurious response 0x0:0x2, last cmd=0x20320031" error lead testcase to FAIL

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-ehl-rt5660.tplg ~/sof-test/test-case/check-suspend-resume-wit

[2021-08-17 03:10] keyonjie commented on #4418
@fuyuntsuo good that it fix the issue at your end.

Yep, the root cause of the issue looks so interesting, we will not stop here, we need to go forward and pursue an explicit explanation of it.

[2021-08-17 05:06] #4583 closed

[2021-08-17 07:25] XiaoyunWu6666 commented on #4643
hi @kv2019i could you please help to check it ? it is i915 relevant :) thx

[2021-08-17 07:51] lgirdwood commented on #4418
@fuyuntsuo @keyonjie thanks, good effort from everyone, sometimes the reasons are not obvious at the beginning but I'm glad we have resolved it.

[2021-08-17 07:53] lgirdwood commented on #4643
looping in @plbossart as this could be driver related, lets wait for more info.

[2021-08-17 08:22] aiChaoSONG opened #4645 "[BUG] [APL] Zephyr SOF link failure on APL with XCC toolchain, .bss not within `ucram`"
Zephyr SOF link failure on APL with XCC toolchain, .bss not within `ucram`, error log:
[code]

[2021-08-17 08:24] lamyseba commented on #3868
@plbossart thank your for your answer.
I'm just an average user, so my linux start with the default options set by manjaro at installation time. In fact I didn't even know how to change this options.

But when looking for some answer to the bug I experienced, I found [this page](https://github.com/linux-surface/linux-surface/wiki/Surface-3), that said:

Reading this, I realized that it was probabl

[2021-08-17 09:09] nrndda commented on #3868
Also experiencing this bug. After beeping starts video stream freezes. Couple of seconds after pausing video playback beeping stops and I can resume normal playback. Of course beeping starts again after couple of minutes of playback.

DMI: HP HP Pro Tablet 608 G1/8042, BIOS N70 Ver. 01.21 8/20/2019
Kernel: 5.14.0-rc6-g7c60610d4767-dirty with builtin snd_sof.

Setting snd_sof.sof_debug=1 in cmdline

[2021-08-17 11:20] kv2019i commented on #4382
Agreed with Karol to move this P1 ADL issue to @bkokoszx .

[2021-08-17 12:15] keyonjie commented on #4418
Hi @fuyuntsuo the PR is simplified and now looks much easier for us, can you help to verify if the new version work for you?

[2021-08-17 12:38] kv2019i commented on #4643
This looks like non-audio related error in i915 driver. The wakerefs seem to be increasing with every suspend cycle:

<span class="txtRed">[ 6826.815248] kernel: i915 0000:00:02.0: [drm] *ERROR* Suspending crtc's failed with -22</span>
[ 6826.874461] kernel: ------------[ cut here ]------------
[ 6826.874473] kernel: i915 0000:00:02.0: i915 raw-wakerefs=147 wakelocks=147 on cleanup

<span class="t

[2021-08-17 12:40] kv2019i commented on #4643
Aa, the spurious response trace is another thing. It doesn't seem to be related to the i915 errors and audio FW execution does not fail. I have not seen this before though. So this could need a separate bug to be filed if we want to track the i915 issue separately. But not sure if this is needed if no actually functionality is failing.

[ 6868.088771] kernel: sof-audio-pci-intel-tgl 0000:00:1f.3:

[2021-08-17 14:59] kv2019i commented on #4400
@XiaoyunWu6666 This should be fixed now, can you confirm? The latest daily tests no longer show this.

[2021-08-17 15:19] fuyuntsuo commented on #4418
@keyonjie this version works too. I also raise a question there.

[2021-08-17 16:02] lgirdwood commented on #4418
@RDharageswari can you arrange the full validation so we can close. Thanks !

[2021-08-17 16:21] lgirdwood commented on #4617
@kv2019i ack - blocking IDC is not good.
@aiChaoSONG are you able to reproduce with 98e8016de02ceb8637857148a348ab4ab42bfe7e locally applied ?

[2021-08-17 16:23] lgirdwood commented on #4579
@XiaoyunWu6666 can we close ?

[2021-08-17 16:26] lgirdwood commented on #4593
Yes, I think we have several issues potentially related to blocking IDC. @kv2019i fyi.
@lancedkhou did you get a chance to try https://github.com/thesofproject/sof/commit/98e8016de02ceb8637857148a348ab4ab42bfe7e
@keyonjie I'm wondering if we should have IGO run in core 1 EDF context so it's preemptable by the short term IDC ?

[2021-08-17 19:25] lgirdwood commented on #4629
This ones due to OOM for smallest allocator blocks used to alloc cache coherent buffer spinlocks for each buffer. Will be fixed in v1.9 as lock is part of new coherent API, but is topology specific for v1.8 (ie removing an unused pipeline from topology should fix it).

[2021-08-17 19:30] plbossart commented on #4629
Not sure I get the explanation @lgirdwood, this is a bog-standard HDaudio topology that even our daily tests uses without issues. We also tried using 1.8 in our tests and didn't see any issues.

The only explanation I can find is PipeWire, this is reported on Fedora34 and we of course don't test this setup...

[2021-08-18 01:52] aiChaoSONG commented on #4617
@lgirdwood I don't have a device to test, let me contact Keyon for more info.

[2021-08-18 01:57] keyonjie commented on #4593
@johnylin76 @lancedkhou could you please let us know if #4515 + #4612 + #4640 can already fix this issue?

@lgirdwood hopefully we don't need more extra commits.

[2021-08-18 02:30] lancedkhou commented on #4593
Hi Keyon,

With #4515 + #4612 + #4640 the issue can be fixed.
However, somehow there was still DSP panic found.

[4575+4612+4640-DSP-panic-messages.txt](https://github.com/thesofproject/sof/files/7004096/4575%2B4612%2B4640-DSP-panic-messages.txt)

[2021-08-18 03:39] 1994lwz commented on #4400
This bug was verified on the today's daily version, and it did not reproduce, so close it.

[2021-08-18 03:39] #4400 closed

[2021-08-18 04:58] keyonjie commented on #4593
@lancedkhou thanks, can you file it as another issue and share the reproduce steps there?

[2021-08-18 05:56] lancedkhou opened #4648 "[BUG][TGL][Chrome] DSP Panic on opening Internal Mic after plugging/unplugging a headset"
**Describe the bug**
When IGO was enabled and PRs to fix heap usage issue applied.
During recording, there was DSP panic found when plugging/unplugging a headset

**To Reproduce**

1. Flash firmware with PR #4575, #4612 and #4640 + IGO  and disable Google assistant in Settings.
2. Enable “Enable Input Noise Cancellation UI” flag then restart UI
3. Join Google meet (output: internal speaker, input:

[2021-08-18 05:57] lancedkhou commented on #4593
Hi Keyon,

Please be informed that a new issue #4648 was created to trace DSP panic.

[2021-08-18 06:23] vchernin commented on #4629
Another Fedora user here, FYI on Fedora 34 you can swap PipeWire for PulseAudio with: `sudo dnf swap --allowerasing pipewire-pulseaudio pulseaudio` (and reboot).

It might be worth trying that to see if it's a PipeWire or Fedora 34 issue.

[2021-08-18 09:27] YongAnLu00 commented on #4579
This test case failed in our daily test because some previous tests had failed and the hardware was in an abnormal state. I ran this test case independently with 600 stop-start iterations, and no error was found. So maybe we can close it.

[2021-08-18 09:27] #4579 closed

[2021-08-18 11:16] kv2019i commented on #4645
We are simply running out of memory. I uploaded a temporary workaround for CI as https://github.com/thesofproject/sof/pull/4651 , but let's keep this bug open.

[2021-08-18 11:23] kv2019i commented on #4507
Hmm, the CTX_SAVE bug is now fixed, but it seems in latest daily tests the test is still failing. When looking at the log, it seems the failure reason is now something else:
http://sof-ci.sh.intel.com/#/result/planresultdetail/5931?model=TGLH_RVP_NOCODEC_ZEPHYR&testcase=check-runtime-pm-status-15

[  603.150526] kernel: sof-audio-pci-intel-tgl 0000:00:1f.3: ipc tx: 0x30200000: GLB_TPLG_MSG: BUFFER

[2021-08-18 14:48] lgirdwood commented on #4629
@plbossart this is about limitations in the heap allocator exposed by dynamic pipelines. We run out of small blocks as the ordering of allocation requests can impact free blocks of size X as the next size up is also checked if size X is empty (i.e. free/used size X and size X +1 can vary on allocation ordering).

[2021-08-18 14:59] plbossart commented on #4629
@lgirdwood this is not using dynamic pipelines at all, the kernel code was not upstreamed yet.

[2021-08-18 15:53] kv2019i commented on #4507
I could not reproduce this locally (tried both GCC and XCC builds). This could be related to the other failures earlier in the test plan. Let's see when we have the XCC built binaries in CI, whether it helps with this as well.

[2021-08-19 00:17] mrhpearson opened #4658 "v1.8 not working on Lenovo P1G4 (Tigerlake-h) based system (v1,8-rc2 works)"
Hi,

I'm running Fedora 34 latest (5.13.10 kernel) on a Lenovo P1G4 and the audio is broken.

Doing some digging I found that v1.8-rc2 works correctly, but v1.8 doesn't. Error messsages are:

[    9.852559] sof-audio-pci-intel-tgl 0000:00:1f.3: error: ipc error for 0x60010000 size 20
[    9.852578] sof-audio-pci-intel-tgl 0000:00:1f.3: error: hw params ipc failed for stream 2
[    9.852579] sof-au

[2021-08-19 02:03] aiChaoSONG commented on #4645
@kv2019i  With the workaround #4651 form Kai, CI now enables Zephyr SOF build on CNL/ICL/TGL-H with XCC, and APL stays with GCC

[2021-08-19 03:11] XiaoyunWu6666 commented on #4552
ipc timed out also happened with system suspend resume
"failed to restore kcontrols for widget SMART_AMP5.0"
see inner daily 5946 5931

[2021-08-19 05:52] XiaoyunWu6666 opened #4656 "[BUG]APL_UP2_NOCODEC_ZEPHYR ipc timed out when PCM_FREE , when capturing with -Dhw:0,0 after capturing with DMIC16kHz & DMIC"
**Describe the bug**
APL_UP2_NOCODEC ipc timed out when PCM_FREE , when capturing with -Dhw:0,0 after capturing with -Dhw:0,10 and -Dhw:0,11 (DMIC and DMIC16)
since inner daily 5745

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg ~/sof-test/test-case/check-capture.sh -d 3 -l 1 -r 1 -F

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit:

[2021-08-19 05:58] XiaoyunWu6666 commented on #4656
caused by commit  5a42c023d

commit 5a42c023d2d1705b594566643ce6cbf95e2660e7
Author: Ranjani Sridharan <ranjani.sridharan@linux.intel.com>
Date:   Wed Aug 4 11:45:29 2021 -0700
topology1: make all cavs nocodec topologies dynamic
All cAVS platforms can use dynamic pipelines with nocodec topology.
  Signed-off-by: Ranjani Sridharan <ranjani.sridharan@linux.intel.com>

[2021-08-19 08:00] abonislawski commented on #4648
@lancedkhou could please include also linux crash/coredump file? (with fw elf)
@lgirdwood can we make this a standard for dsp panic cases? It would be much easier to run coredump-reader and immediately see backtrace for dsp panic rather than things like "EPC1 0xbe02e437" in logs

[2021-08-19 10:39] lgirdwood commented on #4658
Hi @mrhpearson are you able to send the full dmesg and the command line for the failed command. The error looks like the requested sample rate, channels or format was not available on for the given PCM device.
@plbossart fyi.

[2021-08-19 13:11] plbossart commented on #4658
Hi @mrhpearson I think this issue is a duplicate of https://github.com/thesofproject/sof/issues/4658.

I think this is related to the use of PipeWire which we don't test in our current CI.

it's very interesting that 1.8-rc2 works, earlier we identified that 1.7 worked fine but I didn't think of asking for 1.8-rc2. That may make it easier to locate the problematic patch.

Do you mind if we continu

[2021-08-19 14:06] mrhpearson commented on #4658
Hi @lgirdwood - dmesg log attached (sorry - should have done that in the original)
[sof-dmesg.log](https://github.com/thesofproject/sof/files/7014924/sof-dmesg.log)

@plbossart - not sure how/why two issues were created. Happy to carry this on here.

I'll test the firmware without pipewire and let you know.

[2021-08-19 15:11] mrhpearson commented on #4658
I see the same without pipewire - don't think that's the issue here
(And just to check - I did 'systemctl disable --global pipewire', rebooted and confirmed the service wasn't running)
Mark

[2021-08-19 18:04] #4658 closed

[2021-08-19 18:07] plbossart commented on #4629
@mrhpearson can you add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/7016885/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf, reboot and provide the dmesg log without PipeWire enabled? Thanks!

[2021-08-19 18:50] mrhpearson commented on #4629
No problem - attached (collected from journalctl as dmesg was truncated)
Please ignore the nouveau driver issues - known issue on this platform with the newer Nvidia card and I've not gotten around to installing the closed source driver.
Let me know if you need anything else
Mark

[journalctl-sof-dyndbg.log](https://github.com/thesofproject/sof/files/7017098/journalctl-sof-dyndbg.log)

[2021-08-19 19:07] plbossart commented on #4629
@mrhpearson The log says 'debian kernel', initially you mentioned Fedora?

[2021-08-19 19:53] mrhpearson commented on #4629
@plbossart - I've been running both. I switched to Debian thinking they didn't have pipewire yet....but turns out they do. So I ended up disabling pipewire there.
I can run the collection on Fedora if you want :) The behaviour between the two OS's is the same - works with 1.8-rc2 but not with 1.8

[2021-08-19 20:00] plbossart commented on #4629
@mrhpearson what causes the DMIC device to be opened then? Is this PulseAudio?

[2021-08-19 20:05] vchernin commented on #4629
I was under the impression PipeWire is available in Debian 11 and used for screen sharing, but not yet used by default for audio. See [the Debian Wiki](https://wiki.debian.org/PipeWire). Only Fedora uses it for audio by default currently AFAIK.

[2021-08-20 00:42] Semperverus commented on #3868
Writing to share that I am also experiencing this with sof-firmware on 5.13.10-arch1-1 with sound card rt5672 `[sof-bytcht rt5672]`.

My device is a Dell Venue 10 Pro 5055 A08.

[2021-08-20 02:31] aiChaoSONG commented on #4629
@plbossart  I think this issue may be TGL specific, because I am using a WHL lenovo laptop (CNL FW 1.8) with Manjaro distro, and both pipewire and pulseaudio are running.
[code]

Recipe on my laptop:
Kernel: stable 5.13.11 with Manjaro flavour kconfig
SOF: v1.8
Topology: sof-hda-generic-4ch.tplg

[2021-08-20 06:03] hedmo opened #4662 "[BUG] sof-audio-acpi-intel-byt stops and give a screaming high sound"
**Describe the bug**
after updating my system .. when i play video or listen to music , the sound gets cut of and leave me with a high screaming sound from the speakers

**To Reproduce**
install the latest kernel (5.13.12)
install the latest alsa deps...
install sof-firmware-1.8

**Reproduction Rate**
all the time

**Expected behavior**
enjoy the music/sound

**Impact**
cannot listen to music or w

[2021-08-20 08:35] XiaoyunWu6666 opened #4663 "[BUG]TGLH_RVP_NOCODEC_ZEPHYR ipc timed out when COMP_FREE , when capturing with -Dhw:0,0 for 100 seconds"
**Describe the bug**
TGLH_RVP_NOCODEC_ZEPHYR ipc timed out when COMP_FREE , when capturing with -Dhw:0,0 for 100 seconds,
after capturing with -Dhw:0,10 and -Dhw:0,11 (DMIC and DMIC16) for 100 seconds all
found in inner daily 5971

**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-h-nocodec.tplg ~/sof-test/test-case/check-capture.sh -d 100 -l 1 -r 1

**Reproduction Rate**
not 100%

**Env

[2021-08-20 08:44] XiaoyunWu6666 commented on #4538
happen in inner daily 5971 on model CML_SKU0983_SDW in testcase check-suspend-resume-50

[2021-08-20 09:09] kv2019i commented on #4656
Thanks @XiaoyunWu6666 for finding out the commit, issue under debug.

[2021-08-20 09:11] kv2019i commented on #4663
Under debug.

[2021-08-20 10:14] kkarask commented on #4519
Glitches are visible in both captures with above topology on WHL RVP Platform with reproduction rate 1/75.

Verify captured stream 1:
![image](https://user-images.githubusercontent.com/82518823/130217471-d6dee98e-2d71-4d4e-82df-1b19eb739793.png)

Verify captured stream 2:
![image](https://user-images.githubusercontent.com/82518823/130217571-c51997f0-d660-4ecd-8124-12ee35e5cb9b.png)

Logs:
[WHL_14_

[2021-08-20 11:00] keyonjie commented on #4418
@fuyuntsuo @lancedkhou I have just updated the PR #4640 , could you please help to check if it work at your end?

[2021-08-20 13:31] lancedkhou commented on #4418
Hi @keyonjie,

Though I can reproduce the panic, however, both headset and internal MIC are still working.
The voice is still coming from both headset and internal MIC and I can hear the remote sound loud and clear.

[2021-08-20 13:59] lancedkhou commented on #4648
[linux-messages.txt](https://github.com/thesofproject/sof/files/7022012/linux-messages.txt)
[sof-dump-dsp-panic.txt](https://github.com/thesofproject/sof/files/7022016/sof-dump-dsp-panic.txt)

[2021-08-20 13:59] lancedkhou commented on #4418
[linux-messages.txt](https://github.com/thesofproject/sof/files/7022020/linux-messages.txt)
[sof-dump-dsp-panic.txt](https://github.com/thesofproject/sof/files/7022021/sof-dump-dsp-panic.txt)

[2021-08-20 14:02] mrhpearson commented on #4629
@plbossart - yes, pulseaudio

I've attached a log from Fedora, just in case it is useful as a comparison

[journalctl-sof-dyndbg2.log](https://github.com/thesofproject/sof/files/7022039/journalctl-sof-dyndbg2.log)

[2021-08-20 14:17] plbossart commented on #4662
Thanks @hedmo for reporting this.

SOF should not (yet) be the default on BYT, we still have a number of bugs. I am not sure why your distro chose to enable SOF, but you can try a work-around by adding this in /etc/modprobe.d/alsa-base.conf

options snd-intel-dspcfg dsp_driver=2

that should select the 'SST' driver and fallback to what should still be the default.

If you don't mind though, we've

[2021-08-20 14:20] plbossart commented on #4662
Maybe a red-herring but the only case I am aware of where we have this error reported in https://github.com/thesofproject/linux/issues/2971

That's for a PCI device and with a different codec (HDAudio v. I2S), so this might be a coincidence
[code]

[2021-08-20 14:29] plbossart commented on #4629
thanks @mrhpearson, do you mind trying to enable the SOF trace tools

a) fetch sof-logger from https://github.com/thesofproject/sof-bin/blob/main/v1.8.x/tools-v1.8/sof-logger, make it executable and add to /usr/local/bin
b) fetch sof-tgl-h.ldc from https://github.com/thesofproject/sof-bin/blob/main/v1.8.x/sof-v1.8/sof-tgl-h.ldc and add it to e.g. /usr/lib/firmware/intel/sof-v1.8/
c) add this in /e

[2021-08-20 14:52] hedmo commented on #4662
@plbossart

thank you for the fast reply. i will go slow forward and test :

options snd-intel-dspcfg dsp_driver=2

some time before reporting back. i will provide what you with a dmesg.txt at the end of the day.

regards

[2021-08-20 15:06] hedmo commented on #4662
the test went fast and the cut off with a sound came. here you go :
[dmesg.txt](https://github.com/thesofproject/sof/files/7022442/dmesg.txt)

[2021-08-20 15:24] hedmo commented on #4662
hm . i checked the other bug and have lockups to . i thought it was because of :

https://bugzilla.kernel.org/show_bug.cgi?id=109051

but i did disable intel_idle and went with acpid . i still have lockups with acpid .

regards

[2021-08-20 15:31] plbossart commented on #4662
@hedmo I don't see any errors in the log you provided in https://github.com/thesofproject/sof/issues/4662#issuecomment-902760390

[2021-08-20 15:39] hedmo commented on #4662
no . i just did a reboot and provided the log . do you want me to check dmesg and send
one when it happends ?

[2021-08-20 15:40] plbossart commented on #4662
yes please.

[2021-08-20 15:50] hedmo commented on #4662
it came again but it wont show in dmesg. when it happends i just need to close the
window ,wait a min and it will stop.

[2021-08-20 19:45] cujomalainey commented on #4242
@sathya-nujella @yongzhi1 Do we have any updates on the test with the Mux?

[2021-08-20 22:37] sathya-nujella commented on #4648
Hi,
Here is the script to reproduce the issue via command line:

1)  Connect headset to DUT

2) run the below script and monitor "dmesg -w | grep sof " .. we can see "DSP panic" prints

==
#!/bin/bash
# UI need to be stopped to un-pin output device selection
stop ui

for i in {1..50}
do
cras_test_client --playback_f /dev/zero --select_output 6:0 --duration_seconds 10 &
cras_test_client --capture_f

[2021-08-21 11:37] hedmo commented on #4662
hi again
running  lts  kernel-5.10.52 gives me no sound . here is that dmesg :
[dmesg.txt](https://github.com/thesofproject/sof/files/7025417/dmesg.txt)

regards

[2021-08-23 01:21] keqiaozhang commented on #4538
@fredoh9 , can you help to follow up this issue? since we only have one device of this model in JF and it's hard for us reproduce the suspend/resume issue via ssh.

[2021-08-23 02:57] 1994lwz opened #4667 "[BUG]TGLU-RVP-NOCODEC-CI dsp panic/ipc timed out when multiple-pause-resume"
**Describe the bug:**
TGLU-RVP-NOCODEC-CI dsp panic/ipc timed out  when do the multiple-pause-resume test.
found in inner daily 5994

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25

**Reproduction Rate**
not 100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: af102fc2
SOF Branch: main
SOF Commit: db8ee55b

[2021-08-23 08:44] kv2019i commented on #4663
I've not had success reproducing this bug. I've tried on two separate TGL systems, but the test keeps passing.

I'm now running tests with large number of pipeline create/frees without going to runtime-suspend in between. If we are leaking some resources in pipeline-free on Zephyr, this should pick it up. If this fails, then the bug is something more subtle, related to timing or similar.

[2021-08-23 08:58] marc-hb commented on #2098
@perexg , did the more recent https://github.com/thesofproject/sof-bin/issues/46 and a couple others achieve all this? If not could you isolate and summarize what's left to do?

(just found this old issue while searching for something else)

[2021-08-23 09:06] keyonjie commented on #4648
@abonislawski can you share how to use the coredump tool? e.g. in the documentation https://thesofproject.github.io/latest/developer_guides/debugability/coredump-reader/index.html?highlight=coredump,
[code]
what is the "sys dump bin" here?

[2021-08-23 14:56] abonislawski commented on #4648
@keyonjie simply by _./sof-coredump-to-gdb.sh elf dump_file_

Linux core dump file with stack, regs dump (see panic.c)

[2021-08-23 15:13] mrhpearson commented on #4629
Thanks @plbossart

With those steps I get: error: Invalid ldc file signature.
If I run it with the version in sof-bin (that is packaged with v1.8) I just get

 TIMESTAMP         (us)              DELTA  C# COMPONENT          LOCATION                      CONTENT	ktime=182.047s  @  2021-08-23 11:07:16 -0400 EDT

Is that expected? Any steps I'm missing (I needed a reboot between (c) and (d) above)

[2021-08-23 15:19] plbossart commented on #4629
@mrhpearson this firmware packaging is a nightmare to support. Either you need to use the two .ri and .ldc files from the sof-bin repo, or the distro provides them. The requirement is that firmware and ldc files are aligned (the ldc contains a dictionary that's extracted when generated the .ri).

[2021-08-23 15:36] mrhpearson commented on #4629
@plbossart - I tried replacing both .ldc and .ri from the sof repo and that didn't work (using the intel-signed version for the .ri)
Am I missing a step?

If I install the packages from sof-bin then it works - but no debug output. Wondering what the difference is between the sof repo .ldc and the sof-bin repo (for the same version of firmware)

Mark

[2021-08-23 15:48] hedmo commented on #4662
@plbossart

adding the 'dsp_driver=2' option brings the sound back on 5.10.x . ATM it does not sync fully but i have been trying to see if my problem where in userspace and switched form pulseaudio to pipewire this weekend . i will revert back and see if the out of sync is in userspace with this problem. i still hope we can find the source with 5.13.x kernels. do you know why on older kernel use l

[2021-08-23 17:47] sathya-nujella commented on #4648
I reproduced "DSP panic", but exception file size is zero.

localhost /sys/kernel/debug/sof # ls -ls
total 0
0 -r--r--r--. 1 root root 0 Aug 23 22:38 exception

Let me cross check the CONFIG as per this comment: https://github.com/thesofproject/sof/issues/3965#issuecomment-810983696

[2021-08-23 19:36] plbossart commented on #4629
No idea what's happening @mrhpearson. I provided the same instructions in issue https://github.com/thesofproject/linux/issues/2971 and that was successful. Something must be missing but I just don't know what...

[2021-08-23 19:39] plbossart commented on #4662
There was a Kconfig added SND_INTEL_BYT_PREFER_SOF but that should not be selected, that's what may cause the unintended switch to SOF.

[2021-08-23 20:10] cujomalainey commented on #3856
Assigning rest of google folk, if anyone has spare cycles this would be something good for us to look at. Also adding another fuzz target to hit the IPCv4 fuzzer as well would be good.

[2021-08-23 20:24] mrhpearson commented on #4629
@plbossart - well - I tried it again and this time got some results. Maybe a combo of a reboot or something?
Hopefully some useful clues in the attached.

[sof-log2.txt](https://github.com/thesofproject/sof/files/7034673/sof-log2.txt)

[2021-08-23 21:21] plbossart commented on #4662
The SND_INTEL_BYT_PREFER_SOF value will be overridden by the module option, so you can always go back to SOF and help us improve it by reporting issues/logs. As seen above in https://github.com/thesofproject/sof/issues/4662#issuecomment-903857134 there are some issues with the legacy driver as well, but they will likely never be fixed.

[2021-08-23 21:29] marc-hb commented on #4629
Am I missing a step?

Reloading the driver which reloads the .ri firmware? Happens :-)

[2021-08-23 21:35] plbossart commented on #4629
Thanks @mrhpearson this is super interesting. It's indeed the same error reported earlier by @nklayman. I didn't click before but I see two dai_prepare which fail. I am not fully clear on why this happens. @ranj063 any ideas?

[code]

[2021-08-23 21:58] sathya-nujella commented on #4648
Hi @bkokoszx - FYI.

Thanks to @yongzhi1 for pointing out this CONFIG change.
I am now able to get sof/exception after enabling the below kernel config:
CONFIG_SND_SOC_SOF_DEBUG=y
CONFIG_SND_SOC_SOF_DEBUG_ENABLE_FIRMWARE_TRACE=y
CONFIG_SND_SOC_SOF_DEVELOPER_SUPPORT=y
CONFIG_SND_SOC_SOF_DEBUG_ENABLE_DEBUGFS_CACHE=y

"DSP panic" is reproduced and attached exception file.
cat /sys/kernel/debug/sof/ex

[2021-08-23 23:56] ranj063 commented on #4629
@plbossart I tested a TGL-H HDA device with 1.8 and didnt see any issues. It looks like we're running out of memory when starting the 6th audio device during pulseaudio probing. But cant explain why it fails on this particular device and not mine

[2021-08-24 00:10] ranj063 commented on #4629
@mrhpearson I have a suggestion. Could you pelase try disabling runtime PM for the SOF driver and checking if the issue persists?

youc an disable it with "options snd-sof-pci sof_pci_debug=1" in one of the conf files in /etc/modprobe.d

[2021-08-24 01:30] mrhpearson commented on #4629
Hi @ranj063  - Didn't seem to make any difference I'm afraid

kernel log and sof-logger files attached. I have that debug still enabled so let me know if it needs to be disabled.
[journalctl-sof-dyndbg3.log](https://github.com/thesofproject/sof/files/7035775/journalctl-sof-dyndbg3.log)
[sof-log3.txt](https://github.com/thesofproject/sof/files/7035776/sof-log3.txt)

Do we have any clues from the fa

[2021-08-24 01:45] aiChaoSONG commented on #4663
@XiaoyunWu6666 Could you please manually reproduce the issue with the FW CI built? Kai said he could not reproduce this issue.

[2021-08-24 01:57] XiaoyunWu6666 commented on #4663
@kv2019i @aiChaoSONG  I could manually reproduce the problem with CI built fw last week  , let me retry again and attach some details here if any

[2021-08-24 04:41] ranj063 commented on #4629
Thanks @mrhpearson. I wanted to check if there could be problems maybe we werent freeing the the memory properly during runtime suspend. Looks like it isnt the problem.

I did take a look at the diff between rc2 and 1.8 release commits and nothing stood out for me to explain the out of memory issue seen on your device.

[2021-08-24 05:13] ranj063 commented on #4629
@lgirdwood my suspicion is on these three commits that changes the allocation of the hda cha, and dai data to be on the runtime_shared heap.

https://github.com/thesofproject/sof/commit/b3278b3c5145a18d08c89e10927b341f0d6f3a7b
https://github.com/thesofproject/sof/commit/2cede3159c2fc0d225e7a886c904895cccab9019
https://github.com/thesofproject/sof/commit/fc39c7689f950f3d601143cac28d583acfff65cd

Is

[2021-08-24 05:28] keyonjie commented on #4629
Hi yes, I just back to the heap refinement PR https://github.com/thesofproject/sof/pull/4521 now, hopefully will finalize this within this week and then provide back-porting to stable-v1.8.

[2021-08-24 05:55] XiaoyunWu6666 commented on #4663
in inner daily 6013 , on case check-pause-resume-capture-100
After arecording with -Dhw:0,10 and pause release for 100 times firstly , arecording with -Dhw:0,11 and pause release for 100 times secondly , and trying to arecord with -Dhw:0,0 ,"arecord: set_params:1407: Unable to install hw params:" error happened in console.
Checked the dmesg and found ipc timed out when COMP_FREE
[code]

[2021-08-24 06:39] XiaoyunWu6666 commented on #4667
duplicate of #4606
When multiple-pause-resume , sometimes xrun happened with dmesg varying

[2021-08-24 06:39] #4667 closed

[2021-08-24 07:29] XiaoyunWu6666 commented on #4663
hi ,@kv2019i  , I managed to reproduce it manually with recipe
Kernel Branch: topic/sof-dev
Kernel Commit: 34fd0612
SOF Branch: main
SOF Commit: db8ee55b528a

But today it took me more than 5 times to reproduce it

[2021-08-24 07:40] kv2019i commented on #4663
@XiaoyunWu6666 Thanks! I could today get the ipc time out with "multiple-pause-resume" test, but not yet with the check-capture check, but it's good input that you had to run it 5+ times, so maybe I just need to run more iterations.

[2021-08-24 11:00] paulstelian97 commented on #4648
Do not trust stat here, it will report 0 for files that aren't actually 0-sized.

[2021-08-24 12:39] mrhpearson commented on #4629
I'm very happy to be a pair of hands for testing if that's useful, but I would need the signed binary for this platform.

[2021-08-24 15:09] plbossart opened #4672 "[BUG] need to rate-limit 'nothing to copy' traces when mixer source is paused."
**Describe the bug**

When we use a mixer, pausing while using a single source will cause a lot of trace messages

[code]

This is due to the fact that we don't pause a mixer but keep it active.

**To Reproduce**

use a topology with a mixer, e.g. cavs-nocodec
aplay -Dhw:0,0 -c2 -r48000 -fS16_LE /dev/zero  -vv -i
press space bar
in another terminal, run sof-logger

**Reproduction Rate**
100%

**Ex

[2021-08-24 17:46] kv2019i commented on #4663
Potential bugfix: https://github.com/thesofproject/sof/pull/4673

[2021-08-24 17:47] kv2019i commented on #4656
Potential bugfix: https://github.com/thesofproject/sof/pull/4673

[2021-08-24 17:48] kv2019i commented on #4493
Potential bugfix: https://github.com/thesofproject/sof/pull/4673

[2021-08-24 17:48] kv2019i commented on #4492
Potential bugfix: https://github.com/thesofproject/sof/pull/4673

[2021-08-24 17:48] kv2019i commented on #4414
Potential bugfix: https://github.com/thesofproject/sof/pull/4673

[2021-08-24 17:49] kv2019i commented on #4506
@XiaoyunWu6666 This should be fixed in latest main, can you check?

[2021-08-24 19:40] hedmo commented on #4662
@plbossart

today i changed the kernel option :  SND_INTEL_BYT_PREFER_SOF .
and yes it forced it to use the legacy driver . the odd sound started direct but with
an other sound more like when you are in a field and hear the crickets. hi have to add that the file : /etc/modprobe.d/alsa-base.conf was named wrong and did not have effects before but now it is working .

[2021-08-25 02:41] 1994lwz opened #4676 "[BUG] DSP panic when the FW reload or initialize the trace on the TGLH/ADLP/TGLU/ICL/CML/GLK"
**Describe the bug**
DSP panic when the FW reload or initialize the trace on the TGLH/ADLP/TGLU/ICL/CML/GLK

**To Reproduce**
do the test such as: suspend-resume, kmod-load-unload, or runtime-pm-status.

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: eb558167
SOF Branch: main
SOF Commit: 7df367451d0f
Platform: TGLH/ADLP/TGLU/ICL/CML/GLK

**Screenshots or co

[2021-08-25 02:59] keyonjie commented on #4676
Thanks for reporting, looks there is deference to NULL pointer issue in the DMA trace part.

[2021-08-25 03:04] keyonjie commented on #4676
@1994lwz can you please help to check if the PR https://github.com/thesofproject/sof/pull/4678 help?

[2021-08-25 03:27] XiaoyunWu6666 commented on #4663
This issue did not happen in today's daily 6047 .
I also run test case manually ,worked well so far.
Will track how it perform

[2021-08-25 06:00] XiaoyunWu6666 commented on #4506
I'm afraid not . in today's inner daily 6047 , it appeared again on APL_UP2_NOCODEC_ZEPHYR in case check-kmod-load-unload

[2021-08-25 10:43] kv2019i opened #4680 "[BUG] TGL_RVP_NOCODEC_ZEPHYR ipc timed out when TRIG_STOP with multiple-pipeline test"
Describe the bug
TGLH_RVP_NOCODEC_ZEPHYR ipc timed out when issuing GLB_STREAM_MSG: TRIG_STOP.

To Reproduce
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-h-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -l 50

Reproduction Rate
100%

Environment
Kernel Branch: topic/sof-dev
Kernel Commit: eb55816743ecf7a68a94e0306d069c5e50783722
SOF Branch: main
SOF Commit: 7df367451d0fa638b530c1c92f02d6

[2021-08-25 14:14] lgirdwood commented on #4648
I think the goal should be to update the core dump script to parse for the dmesg for the FW oops.

[2021-08-25 15:23] plbossart commented on #4676
This was detected in Intel daily test #6047

This can be root-caused to https://github.com/thesofproject/sof/pull/4636

The question is: how come this wasn't found in CI tests? there's a post-mortem analysis needed on such a regression.

[2021-08-25 16:05] lgirdwood commented on #4676
Not sure why CI missed this as it tests the trace on all platforms (jenkins and Internal), the reload part is also tested on the PM tests. @keyonjie are we good to close ?

[2021-08-25 16:49] kv2019i commented on #4663
@XiaoyunWu6666 This should be fixed now indeed. We do have a new failure that shows up in other tests. You can identify this from IPC timeout for TRIG_STOP. I filed https://github.com/thesofproject/sof/issues/4680 for this.

[2021-08-25 16:50] kv2019i commented on #4494
@XiaoyunWu6666 This should be fixed now indeed. We do have a new failure that shows up in other tests. You can identify this from IPC timeout for TRIG_STOP. I filed https://github.com/thesofproject/sof/issues/4680 for this.

[2021-08-25 16:50] kv2019i commented on #4493
@XiaoyunWu6666 This should be fixed now indeed. We do have a new failure that shows up in other tests. You can identify this from IPC timeout for TRIG_STOP. I filed https://github.com/thesofproject/sof/issues/4680 for this.

[2021-08-26 03:15] XiaoyunWu6666 opened #4684 "[BUG]TGLU_RVP_NOCODEC_CI ipc error when issueing GLB_TPLG_MSG:COMP_CONNECT"
**Describe the bug**
found in inner daily 6090
after firmware boot complete.
TGLU_RVP_NOCODEC_CI ipc error when issueing GLB_TPLG_MSG:COMP_CONNECT while  setting up route MUXDEMUX1.0 -> BUF7.0

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/check-signal-stop-start.sh -m playback -c 50

happened first in inner daily 6090 and secondly in 6200

**Envir

[2021-08-27 08:01] kkarask opened #4688 "[BUG] Stream interrupted during pause and resume operations"
**Describe the bug**
While pipelines connected to SdW interface are working pause and resume operation are done on playback stream.  Capture is interrupted during stream operation.

**Topology**
[code]

**To Reproduce**
Run test 16_07_TestSdwAlhLoopbackStreamOperations16000Hz24b32b4ch with Diagnostic Driver with option:
 --playback-iterations=75

**Reproduction Rate**
Sporadic, 1/75

**Environment

[2021-08-28 12:52] lgirdwood commented on #4538
sof-coredump-reader.py is in sof/tools/coredumper/

Great :)

What will this do ?

[2021-08-28 19:20] hedmo commented on #4662
kernel-5.14-rc7 :
[   11.141220] hci_uart_bcm serial0-0: supply vbat not found, using dummy regulator
[   11.141296] hci_uart_bcm serial0-0: supply vddio not found, using dummy regulator
[   11.141518] rt5645 i2c-10EC3270:00: Detected ASUS T100HAN platform
[   11.141530] rt5645 i2c-10EC3270:00: supply avdd not found, using dummy regulator
[   11.141577] rt5645 i2c-10EC3270:00: supply cpvdd not fou

[2021-08-29 19:18] hedmo commented on #4662
after many hours of recompiling a kernel i have now manage to watch youtube for more then an hour on sof-firmware :) .
i have cleaned out all soc legacy audio drivers i the kernel  because with the legacy driver i had a strange feeling they conflicted some how . the legacy driver still have the bug and comes random. on the sof driver when i clean codecs i did find that if i only added only the rig

[2021-08-30 01:11] XiaoyunWu6666 commented on #4492
hi @lgirdwood , in inner daily 6175, ipc timed out happened when multiple-pause-resume again.
[code]

[2021-08-30 01:28] rotech commented on #1899
The solution posted by plbossart only works for Realtek codecs.  Any possibility of support for other codecs?  I have a Conexant CX11970 (0x14f120d0).

[2021-08-30 02:17] XiaoyunWu6666 commented on #4552
in inner daily 6175 testcase=multiple-pipeline-capture-50
COMP_CONNECTipc error happened when runtime resume

[2021-08-30 02:27] XiaoyunWu6666 commented on #4656
havent' happened in daily test since Aug 25

[2021-08-30 02:27] #4656 closed

[2021-08-30 02:50] YongAnLu00 commented on #4538
happen in inner daily 6175 on model ADLP_RVP_NOCODEC in testcase check-suspend-resume-50

[2021-08-30 02:58] lancedkhou commented on #4593
@lgirdwood Yes. Please.

[2021-08-30 03:53] sathya-nujella commented on #4593
Hi,

Below PR's are used to test and confirm that this issue is not reproduced.
can you please help merge these, if reviews are done?

https://github.com/thesofproject/sof/pull/4575
https://github.com/thesofproject/sof/pull/4612
https://github.com/thesofproject/sof/pull/4640

[2021-08-30 08:10] kv2019i commented on #4680
@lgirdwood This is something else. When DSP is overloaded (>100% workload), processing of TRIG_STOP sometimes fails. The DSP doesn't crash and subsequent actions succeed.

[2021-08-30 09:08] XiaoyunWu6666 commented on #4507
still exist @lgirdwood  , but may be affected by the previous testcase .
I'll add reboot after previous testcase that brought ipc timed out , to see whether pure runtime suspend testcase can reproduce this  or not

[2021-08-30 10:32] lgirdwood commented on #4552
Thanks @XiaoyunWu6666 are the logs on daily test for the IPC timeouts - is the plan for daily test to also post logs here too ?

[2021-08-30 10:33] lgirdwood commented on #4593
@mwasko @abonislawski fyi - this can be closed once backport PRs are merged.

[2021-08-30 10:37] lgirdwood commented on #4538
@fredoh9

Yes - just read above about this - yes please do make sure this is enabled by default in the kernel for CI.

@XiaoyunWu6666 @YongAnLu00 can we make sure bit 4 is enabled by default for daily test too. Thanks

[2021-08-30 10:39] lgirdwood commented on #4680
@kv2019i ok, lets wait for @lyakh triggering PR to merge. The 100% utilisation means we get in a state - do we get any data from the Zephyr LL scheduler ? i.e. is tick late or does work overrrun in logs ?

[2021-08-30 15:09] abonislawski commented on #4648
Detailed description what happened in this case:

![tgl_issue4648](https://user-images.githubusercontent.com/45165721/131360465-c39f5e88-e12f-49b0-bcec-c5753db0e670.png)

1. Two interesting buffers from (added) FW logs, both with the same buffer->addr 0xbe17ae80 and different buffer->size (0x180 and 0x6000)
They are not allocated at the same time so all is ok.

2. Regs dump from host_get_copy_byte

[2021-08-31 01:22] XiaoyunWu6666 commented on #4507
from inner daily 6200 , after excluding affects from previous testcases , check-runtime-pm-status  and kmod-load-unload worked well without 'dsp not suspended'

I'll close this issue if next daily works well too , thanks

[2021-08-31 01:42] XiaoyunWu6666 commented on #4506
from inner daily 6200 , after excluding affects from previous testcases , check-runtime-pm-status and kmod-load-unload worked well without 'dsp not suspended'

I'll close this issue if next daily works well too , thanks

[2021-08-31 01:45] keqiaozhang commented on #4508
This issue cannot be reproduced after upgrading to ES silicon.
500 iteration warm reboot test passed.
489/500 iterations suspend/resume test passed, the failure is caused by the irrelevant onboard network issue:
[code]
So this issue can be closed.

[2021-08-31 01:45] #4508 closed

[2021-08-31 02:03] XiaoyunWu6666 commented on #4552
Sorry temporarily there isn't any plan of posting logs automatically , but I can post vital logs every time I update comments in issues

[2021-08-31 02:06] ranj063 opened #4699 "[BUG] FW boot failure with SOF main when trace mailbox CONFIG_TRACEM is enabled"
**Describe the bug**
FW fails to boot when built with trace mailbox enabled.

What have you tried to diagnose or workaround this issue?
Bisection points to https://github.com/thesofproject/sof/commit/7df367451d0fa638b530c1c92f02d645845dbe53
Reverting the commit fixes the problem.

**To Reproduce**
Build FW with Trace->Trace Mailbox enabled in config

**Reproduction Rate**
100%

**Expected behavior

[2021-08-31 02:06] ranj063 commented on #4699
@keyonjie FYI

[2021-08-31 03:18] XiaoyunWu6666 commented on #4684
in inner daily 6200 , on model TGLU_RVP_NOCODEC_CI , in case check-suspend-resume-with-playback-5
ipc timed out when COMP_FREE and brought DSP panic when freeing widget PCM2P

[2021-08-31 05:24] XiaoyunWu6666 commented on #4684
in inner daily 6200 , on model TGLU_RVP_NOCODEC_CI , in case check-suspend-resume-with-playback-5
ipc timed out when COMP_FREE and brought DSP panic when freeing widget PCM2P
[dmesg]
[code]
[dmesg.txt](https://github.com/thesofproject/sof/files/7081418/dmesg.txt)
[sof-logger]
[code]

[2021-08-31 05:32] XiaoyunWu6666 commented on #4603
Haven’t happened in daily tests, will  track CI more

[2021-08-31 05:50] XiaoyunWu6666 commented on #4614
in inner daily 6200 , on model TGLU_RVP_NOCODEC_CI , in case check-suspend-resume-with-playback-5
ipc timed out when COMP_FREE and brought DSP panic when freeing widget PCM2P
[dmesg]
[code]
[dmesg.txt](https://github.com/thesofproject/sof/files/7081418/dmesg.txt)
[sof-logger]
[code]

[2021-08-31 06:18] XiaoyunWu6666 commented on #4684
@keyonjie
This may be duplicate of #4552 , since many testcases 'have to' make DUTs runtime resume before tests begin ,  runtime suspend/resume errors tend to spread .

[2021-08-31 06:26] keyonjie commented on #4699
Thanks for reporting @ranj063

After debugging, just root caused this to be deadlock in the trace->lock, will submit a fix for it soon.

Good finding here, maybe we should add Not-default kconfig validation coverage to our CI also. @marc-hb @keqiaozhang

[2021-08-31 07:29] keyonjie commented on #4699
@ranj063 the PR here: https://github.com/thesofproject/sof/pull/4700

[2021-08-31 07:44] ujfalusi commented on #4680
@kv2019i, the TRIG_STOP ipc message times out, Linux would think that the DSP is crashed (we get timeout on IPC message). I have pending new fw_state to be taken by Linux in this case and this would block further IPC communications until the DSP is rebooted.
But in this case the DSP is _just_ too busy to respond. Should the IPC timeout be treated as a feature from now on and only the panic message

[2021-08-31 07:45] keyonjie commented on #4684
@juimonen @lyakh there are several related issues filed, they happens during runtime resuming stage, and looks they are multi-core related, and the error can happen quite randomly with different IPCs.

[2021-08-31 10:05] bkokoszx commented on #4584
@sathya-nujella Do you still have a reproduction of this issue? Today, I've tried to reproduce it on top of tgl-013-drop-stable and did not hit it.

[2021-08-31 10:57] kkarask commented on #4688
We don't use codec in that test. We use internal loopback just before output. When pipeline is playing it writes to a certain place in the frame and reads from exactly the same place from that frame. Both Data Port A and Data Port B indicates the same place. It is located before physical bus.

Screenshots represent pause and resume stream. In that test we perform 5x pause/resume actions on playbac

[2021-08-31 13:01] lgirdwood commented on #4688
@kkarask thanks, btw are you using the Linux soundwire drivers as part of this test or does the slim driver wholly program all host DSP and soundwire IP ?

[2021-08-31 13:08] lgirdwood commented on #4684
@XiaoyunWu6666 I've taken your latest dmesg and can see we have a NULL ptr dereference after the D0 entry (please make sure you get the FW crash dumps in the log if found).
1) We enter D3 and get the IPC timout (in your log reply above)
2) We enter D0 and crash on stream msg
[code]

[2021-08-31 13:25] plbossart commented on #4688
Sorry, I don't understand how this works. We've only used bus-level feedback in our tests. the loopback 'before physical bus' isn't a capability I am familiar with.

And I don't understand what exactly the scenario is: SoundWire does not have the concept of pause. Do you perform a bank switch to enable/disable channels for the pause on playback, while leaving the capture stream as is?

[2021-08-31 14:48] lgirdwood commented on #4648
@abonislawski good update and info here.  Any validation news on whether #4696 will fix this issue ?

[2021-08-31 15:08] lgirdwood commented on #4614
@XiaoyunWu6666 for some reason your logs above are missing the important information. i.e. from your attached dmesg
[code]
This looks like another NULL ptr dereference on stream params.

[2021-08-31 15:13] lgirdwood commented on #4680
@ujfalusi @kv2019i if FW is too busy to respond I would expect to see something in the logs to say this. e.g. LL should count number of times (per 1024 LL perf logging cycle) that there is little overhead for other work. This overhead could just be a subtraction of current time to next LL tick time and if it's less than limit we increment the count.

[2021-08-31 18:05] sathya-nujella commented on #4584
Hi Bartosz,

We don't observe "DSP panic issue now", but please see details below:

We are not testing using tgl-13 branch as is. We are applying all the below PR's on previous tgl-13 CL with IGO patches:

https://github.com/thesofproject/sof/pull/4575
https://github.com/thesofproject/sof/pull/4612
https://github.com/thesofproject/sof/pull/4640   <<< this PR has more changes than the one merged in

[2021-08-31 20:50] lgirdwood commented on #4584
@sathya-nujella thanks, can you also link the new GH issues here too so we can track.

[2021-09-01 02:56] aiChaoSONG opened #4703 "[BUG][CI] ICL and TGL-H build failure with zephyr and XCC"
This bug has been used to track two separate issues - 1) a ICL/cavs20 linker issue and 2) a more recent linker issue that affects all cAVS platforms. As of 7th Sep, we now use this to track (2) and basicly this is clone of Zephyr bug:
https://github.com/zephyrproject-rtos/zephyr/issues/38349

ICL build failed with zephyr and XCC
[code]

[2021-09-01 03:14] fredoh9 opened #4704 "[BUG] imx8lup gcc build failed"
**Describe the bug**
I'm testing with SOF docker image.

With current docker image(image id=b6be3020af7f), there is no toolchain for it.
[code]

With updated docker image(will share this information soon). it is looking for imx8ulp.toml file.
[code]

**To Reproduce**
With docker image,
./scripts/docker-run.sh ./scripts/xtensa-build-all.sh -a
or
./scripts/docker-run.sh ./scripts/xtensa-build-all.sh

[2021-09-01 03:18] XiaoyunWu6666 commented on #4688
on sh-tglu-sku0a3e-sdw-01 ,  I tried to aplay with speaker pipeline , pause resume during aplay while Dhw:0,1 Jack in arecording. No errors happened.
on sh-tglu-rvp-sdw-01, I tried to  aplay with jack out pipeline , pause resume during aplay while -Dhw:0,10 DMIC arecording . No errors happened either.

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: bed17efc
SOF Branch: main
SOF Commit

[2021-09-01 05:01] XiaoyunWu6666 opened #4706 "[BUG]ipc timed out when PIPE_NEW/TRIG_START and schedule ERROR,xrun on CML_RVP_SDWCML_RVP_NOCODEC/CML_RVP_NOCODEC"
**Describe the bug**
found in inner daily 6244 on CML_RVP_SDW
When trying to run aplay on multiple pipelines , IO error occurred with ipc timed out when issuing TRIG_START , in the 1st iteration

in inner daily  6272 on model=CML_RVP_NOCODEC in testcase=multiple-pipeline-playback-50,
When trying to run aplay on multiple pipelines , IO error occurred with ipc timed out when issuing PIPE_NEW, in the

[2021-09-01 06:26] dbaluta commented on #4704
@fredoh9 can you update rimage at the latest HEAD.

Missing imx8ulp.toml file was introduced with 9716e10a3e000aa485b37c8cfd20ce184120809b

[2021-09-01 07:51] #4603 closed

[2021-09-01 08:52] lgirdwood commented on #4703
@aiChaoSONG any reason why CI did not catch this ? (I assume we are not building Zephyr for ICL yet ?)

[2021-09-01 08:52] lgirdwood commented on #4703
@kv2019i @lyakh fyi

[2021-09-01 08:54] aiChaoSONG commented on #4703
We don't test ICL Zephyr SOF in PR, but we do build it in daily, and the failure is observed in daily build.

[2021-09-01 08:59] lgirdwood commented on #4703
Ok, can we add ICL to CI build.

[2021-09-01 09:16] aiChaoSONG commented on #4703
@lgirdwood it is already there, for example, in PR https://github.com/thesofproject/sof/pull/4705,
<img width="809" alt="Screenshot_20210901_171445" src="https://user-images.githubusercontent.com/52959957/131645803-44d5415c-d73a-404f-a616-da3e95a5a4f7.png">

[2021-09-01 09:35] kv2019i commented on #4703
A couple of notes:
 - ICL zephyr build does not work (doesn't boot even when built with gcc) -> https://github.com/thesofproject/sof/issues/4539
 - the linker script for cavs20 was just changed on zephyr side-> https://github.com/zephyrproject-rtos/zephyr/pull/36055

[2021-09-01 10:49] kv2019i commented on #4703
Needs to be fixed on Zephyr side, fix in https://github.com/zephyrproject-rtos/zephyr/pull/38201

[2021-09-01 12:43] lgirdwood commented on #4706
@XiaoyunWu6666 thanks, do you have the FW register dump and stack trace ? (its part of dmesg)

[2021-09-01 13:22] mengdonglin commented on #4688
@XiaoyunWu6666 Thanks. @kkarask @bkokoszx test in Linux shows that for 2 independent soundwire streams, pausing the playback stream will not impact the capture stream.

[2021-09-01 16:14] plbossart commented on #4688
@mengdonglin @XiaoyunWu6666 you need to use the Jack Out and Jack In devices (hw:0,0 for playback and hw:0,1 for capture)
Your other experiments use different devices on different links, that's not quite what the firmware team are testing.

[2021-09-01 16:16] plbossart commented on #4706
@lgirdwood has anything changed in the firmware for triggers? I don't think we've had any changes for SoundWire merged on the kernel side.

[2021-09-01 16:22] lgirdwood commented on #4706
@plbossart yes it's probably FW and not driver. @lyakh can you take a look. Thanks !

[2021-09-01 17:16] github-sys-admin opened #4709 "WHYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY"

[2021-09-01 17:47] #4709 closed

[2021-09-01 17:55] fredoh9 commented on #4704
with rimage's latest HEAD, imx8ulp builds fine.
`dcfcef80 config: Remove unused, platform specific, memory region definitions`

BTW, new SOF docker image was deployed from last night.

[2021-09-01 18:45] fredoh9 commented on #4704
For qemu test for imx8ulp, there are couple of places to change in scripts/qemu-check.sh. Do we need to update sofqemu docker image too?

[2021-09-02 01:25] XiaoyunWu6666 commented on #4706
in inner daily 6272 on model=CML_RVP_NOCODEC in testcase=multiple-pipeline-playback-50, When trying to run aplay on multiple pipelines , IO error occurred with ipc timed out when issuing PIPE_NEW, in the 5th iteration
[code]

[2021-09-02 04:54] keyonjie commented on #4703
@aiChaoSONG can you help to check why the on device test is not run in my PR:
https://github.com/thesofproject/sof/pull/4521

[2021-09-02 06:16] keyonjie commented on #4703
Thanks @aiChaoSONG it works now.

[2021-09-02 07:12] #4648 closed

[2021-09-02 08:29] lgirdwood commented on #4706
@XiaoyunWu6666 we really need the FW stack trace from the FW crash AND the FW logs attached.

The FW stack trace needs to be enabled in the kernel for all daily testing otherwise its impossible for developers to debug based on the message above. @keyonjie can you help @XiaoyunWu6666 configure her kernels to dump the FW stack trace ?

[2021-09-02 09:01] keyonjie commented on #4706
@lgirdwood do you mean using the sof-coredump-reader.py to read out the FW call trace from the /sys/kernel/debug/sof/exception?

[2021-09-02 09:19] lgirdwood commented on #4703
Thanks @aiChaoSONG I can see tests running again. Btw the APL Zephyr test has been removed, can we make the testing more granular so that only buildable targets are tested regardless of RTOS. i.e. non buildable targets would show up in the test results still and show "Not buildable"

[2021-09-02 09:41] aiChaoSONG commented on #4703
@keyonjie @lgirdwood  we have planned several refinements/features to address this kind of issues, we will consider your suggestions to provide better CI user experience, thanks.

[2021-09-02 13:03] kkarask commented on #4688
@lgirdwood Slim driver is just a "proxy" which passes information on. All logic about configuration is in python tests.

@plbossart FW doesn't have knowledge about SDW and doesn't pause SoundWire. Only DMA is paused by FW.
Loopback is on ALH side and is configured internally by the test.

[2021-09-02 13:48] plbossart commented on #4706
@lgirdwood if we have similar bugs for SoundWire and nocodec topologies, this points to a problem that can be checked on UpExtreme. My money is on the trace changes by @keyonjie  and the scheduling changes by @lyakh

[2021-09-02 17:38] plbossart commented on #4706
Not able to reproduce the error reported in nocodec mode w/ test 6272:
TPLG=/lib/firmware/intel/sof-tplg/sof-cnl-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -l 50

SOF: 94db5c7b2 toolschain: update header files to support newer toolschain
kernel: 6a95ae1a6a50 fixup! ASoC: SOF: handle paused streams during system suspend

[2021-09-02 18:19] plbossart commented on #4706
Never mind, I retried and it failed at iteration 35. See logs attached
[test.tar.gz](https://github.com/thesofproject/sof/files/7100915/test.tar.gz)

[2021-09-02 21:52] marc-hb commented on #4703
Not sure why this bug is marked as specific to XCC. The same Zephyr commit regressed the ICL build with the Zephyr SDK too and the same zephyrproject-rtos/zephyr#38201 fix fixes the ICL build with the Zephyr SDK too.

With zephyr SDK 0.13.0:
[code]

[2021-09-02 22:37] marc-hb commented on #4703
Totally agree that build failures on one platform should not stop tests on other platforms. This being said, repeatedly building (or testing) that is not going to be fixed very soon is very time-consuming noise that forces everyone to constantly look at test results - or end up ignoring them.

Speaking of which: #4712 temporarily disables ICL in github actions (probably not in Jenkins)

[2021-09-02 23:15] marc-hb commented on #4376
(found this while looking for something else)

@ranj063 do we have a test for this and is it passing now?

[2021-09-03 03:41] XiaoyunWu6666 commented on #4706
@lgirdwood ,thanks for  @keyonjie 's help , I updated the coredump logs above

[2021-09-03 05:50] marc-hb commented on #4703
Fix zephyrproject-rtos/zephyr#38201 has been merged (no need to disable ICL)

[2021-09-03 08:29] lyakh commented on #4706
could somebody explain to me why time stamps are not intersecting between slogger and etrace output in daily test 6272 for this failing test case except for the banner trace "SHM: FW ABI:..."?

[2021-09-03 12:40] lyakh commented on #4706
I managed to reproduce the problem and I think I have a fix - testing ATM. But the bad thing is, that PR CI doesn't catch this bug, so, when I submit my fix, we won't know whether it fixes the problem until we have merged it and have run a daily test... Can we adjust PR CI to also catch this? This bug isn't really CML-specific, it just happened to be the easiest to reproduce there. And it's also e

[2021-09-03 13:26] lyakh commented on #4706
#4715 should fix this issue

[2021-09-03 16:17] plbossart commented on #4706
@lyakh you can ask for a daily test on a specific PR, i'll send you the information through internal channels.

[2021-09-03 16:38] mrhpearson commented on #4629
Hi @keyonjie - looks like you've been working hard on PR 4521 - do let me know if there's anything I can test here to confirm it fixes this issue as expected.

[2021-09-03 17:33] cujomalainey commented on #682
As much as I agree with the consistency aspect of targeted tests, we do have a fuzzer running continuously against the FW. I could talk to my security team and see if we can get one for the kernel as well.

[2021-09-06 01:44] XiaoyunWu6666 commented on #4614
@lgirdwood  Got it , I think I missed the latest DSP dump information , will take care next time I paste logs . thanks

[2021-09-06 01:51] XiaoyunWu6666 commented on #4614
in inner daily 6328,on model=TGLU_RVP_NOCODEC_CI, in testcase=check-suspend-resume-with-playback-5
ipc timed out happened again when COMP_FREE , with  ipc tx error when COMP_CONNECT  and DSP panic afterwards (showing _Exception Cause: LoadStorePIFDataErrorCause, Synchronous PIF data error during LoadStore access_ also)
[dmesg.txt](https://github.com/thesofproject/sof/files/7112804/dmesg.txt)

[2021-09-06 03:29] keyonjie commented on #4629
@mrhpearson which tplg file does it used on? Can you build SOF firmware at your end? My PR #4521 is for main branch only, but I can do a simple hot fix commit for 1.8 if you can help to verify it.

[2021-09-06 05:44] keqiaozhang commented on #4538
@lgirdwood do you mean to enable the dynamic pipeline test on all of our CI devices?

[2021-09-06 07:40] lyakh commented on #4560
@XiaoyunWu6666 @lgirdwood @plbossart Can this be closed now that #4559 has been merged?

[2021-09-06 08:46] XiaoyunWu6666 commented on #4560
@lyakh hi , for me it's good to close since it haven't happened in daily tests for almost more than two weeks

[2021-09-06 09:45] keyonjie commented on #4560
I am still seeing this with my debugging today, but not sure if it is introduced by my local change.

Can we leave this open for some more days?

[2021-09-06 11:07] lgirdwood commented on #4703
@aiChaoSONG can we close now ?

[2021-09-06 12:40] aiChaoSONG commented on #4703
@lgirdwood Yeah, Thi ICL build failure is fixed, but we have the same failure on CNL and TGL-H, @kv2019i FYI.

[2021-09-06 12:59] wszypelt opened #4716 "[BUG] 14_11_TestMuxSimpleStreamOperations SofIpcErrorResponseException occured"
**Describe the bug**
Bug was found in:
14_11_TestMuxSimpleStreamOperations8000Hz16b16b2ch
14_11_TestMuxSimpleStreamOperations16000Hz24b32b4ch
14_11_TestMuxSimpleStreamOperations24000Hz32b32b8ch
14_11_TestMuxSimpleStreamOperations48000Hz32b32b4ch

the content of the error:
ERROR:Exception SofIpcErrorResponseException occurred at 'C:\\work\\_KK\\cavs_scripts-py\\utilities\\ipc_driver.py':730 FW repl

[2021-09-06 13:17] wszypelt opened #4717 "[BUG] 23_00_TestDaiGroupSdw Exception SofIpcErrorResponseException occurred FW error code -11"
**Describe the bug**
Bug was found in:
23_00_TestDaiGroupSdw24000Hz24b32b4ch
23_00_TestDaiGroupSdw48000Hz32b32b4ch
23_00_TestDaiGroupSdw8000Hz24b32b2ch
23_00_TestDaiGroupSdw16000Hz16b16b8ch
23_01_TestDaiGroupSimpleStreamOperation8000Hz24b32b2ch
23_01_TestDaiGroupSimpleStreamOperation16000Hz16b16b8ch
23_01_TestDaiGroupSimpleStreamOperation24000Hz24b32b4ch
23_01_TestDaiGroupSimpleStreamOperation4800

[2021-09-06 14:16] lgirdwood commented on #4717
@wszypelt can you check with https://github.com/thesofproject/sof/pull/4715

[2021-09-06 14:17] lgirdwood commented on #4716
@wszypelt can you check with https://github.com/thesofproject/sof/pull/4715

[2021-09-06 14:23] lgirdwood commented on #4538
No sorry,  I mean enable the kernel option to display FW crash stack and registers on all CI builds (it should be enabled by default, but Im not seeing it on CI or daily  test results pasted here). @keyonjie knows all the options so could locally confirm if any option is needed.

[2021-09-06 14:54] lgirdwood commented on #4703
Closed by mistake - changed title.

[2021-09-06 15:15] wszypelt commented on #4716
@lgirdwood
with #4715 unfortunately still the same error

ERROR:Exception SofIpcErrorResponseException occurred at 'C:\\work\\_KK\\cavs_scripts-py\\utilities\\ipc_driver.py':730 FW replied with error. Error code: -22 0x00000005 0x00000000 0x00004000

[code]

**Logs**
[2021_09_06_17_10_09.zip](https://github.com/thesofproject/sof/files/7116800/2021_09_06_17_10_09.zip)

[2021-09-06 15:16] wszypelt commented on #4717
@lgirdwood
with #4715 unfortunately still the same error

[2021-09-06 15:21] lgirdwood commented on #4717
@lyakh fyi

[2021-09-06 15:22] lgirdwood commented on #4716
@lyakh fyi

[2021-09-07 01:37] aiChaoSONG commented on #4703
related Zephyr issue: https://github.com/zephyrproject-rtos/zephyr/issues/38349

[2021-09-07 01:42] mrhpearson commented on #4629
Hi @keyonjie - I believe we're just using sof-hda-generic-4ch.tplg, but the firmware has to be Intel signed (at least from my experience) for it to work so I think you'd need to throw me a signed file to put on the system....let me know if there is something smarter I can do

[2021-09-07 01:44] XiaoyunWu6666 commented on #4558
happen in inner daily 636
on  model CML_RVP_SDW
in testcase check-suspend-resume-with-capture-5

[2021-09-07 02:46] XiaoyunWu6666 commented on #4506
in inner daily 6362 this is good , let's close it

[2021-09-07 02:46] #4506 closed

[2021-09-07 03:03] XiaoyunWu6666 commented on #4492
in inner daily 6362
IPC timed out when multiple-pause-resume on APL_UP2_NOCODEC_ZEPHYR still happened , when TRIG_RELEASE

[2021-09-07 03:20] XiaoyunWu6666 commented on #4706
@lyakh FYI, today we just found similar things happened to APL_UP2_NOCODEC too.
I just checked codes in sof , both APL_UP2_NOCODEC and CML_RVP_NOCODEC have dynamic pipelines enabled in their topology.
Thanks

[2021-09-07 03:23] keyonjie commented on #4629
@mrhpearson I will submit a hotfix to the 1.8 branch, but we do need to go through the signing process for a new binary release. @mwasko

[2021-09-07 03:45] XiaoyunWu6666 opened #4720 "[BUG]ipc timed out when TRIG_START and schedule ERROR,xrun on APL_UP2_NOCODEC"
**Describe the bug**
found in inner daily 6362 on APL_UP2_NOCODEC
When trying to run aplay on multiple pipelines , IO error occurred with ipc timed out when issuing TRIG_START , in the 1st iteration

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -l 50
**Reproduction Rate**
not sure
can reproduce it
**Environment**
Kernel Bran

[2021-09-07 03:46] XiaoyunWu6666 commented on #4720
related issue here : #4706

[2021-09-07 04:01] marc-hb commented on #4703
It's the same error message but I doubt it's the same failure. The original issue affected only ICL with both GCC and XCC. It was fixed by  zephyrproject-rtos/zephyr#38201 and everything was building just fine. Then, later, a completely different Zephyr PR was merged and it caused zephyrproject-rtos/zephyr#38349 which fails in different places.

[2021-09-07 04:30] keyonjie commented on #4629
@ktrzcinx @mwasko I just submitted a commit to address the issue, can you help to build and sign the tgl-h binaries with it, once @mrhpearson confirm it work, we can update the binaries to sof-bin @marc-hb @lgirdwood FYI.
https://github.com/thesofproject/sof/commit/07b9b87c9d4f5cd501620896fe1613d7e0305377

[2021-09-07 04:41] marc-hb commented on #4629
@mrhpearson would you be able you contact the BIOS team for that device? They may have a way to allow additional keys on a sample of it.

[2021-09-07 04:44] marc-hb commented on #4629
If you really just submitted  it 11 minutes ago, I doubt we have validation results to make a release already.

[2021-09-07 05:15] keyonjie commented on #4629
As we don't have reproduction here, I just performed a functional test on our CI tgl and tgl-h platforms so advanced full test may be needed, but first of all, we need the help from @mrhpearson to check if the change help to fix the issue reported here.

[2021-09-07 06:36] wszypelt commented on #4716
Last working build: SOF_FW_MASTER_01.01.00.2602 hash: 6b650bd

[2021-09-07 06:37] wszypelt commented on #4717
Last working build: SOF_FW_MASTER_01.01.00.2602 hash: 6b650bd

[2021-09-07 06:38] lyakh commented on #4706
@XiaoyunWu6666 nice, thanks for letting me know. If it's really the same issue, the same PR should fix them both.

[2021-09-07 07:10] lyakh commented on #4716
@wszypelt could you explain what these tests are - I don't see them in the list of PR QB tests? Are they new or are they only run manually, not as a part of CI?
With this specific failure the fix might be rather simple, but I'd like to be able to re-test the fix?

[2021-09-07 07:43] kv2019i commented on #4703
Agree with @marc-hb , better to keep one bug per issue. We had two separate issues, one was a specific bug in cavs20 linker script. And now a more recent Zephyr regression that causes all cAVS XCC builds to fail. But yeah, water under the bridge, so let's keep this bug open. Basicly this is a SOF copy of https://github.com/zephyrproject-rtos/zephyr/issues/38349

[2021-09-07 08:33] keqiaozhang commented on #4538
@lgirdwood  so you mean to enable the bit 1(SOF_DBG_RETAIN_CTX)?
[code]

[2021-09-07 08:44] lyakh commented on #4716
#4722 *might* help to fix this issue - untested

[2021-09-07 08:45] paulstelian97 commented on #4720
Coredump is full of zero, suspicious. Maybe hang?

[2021-09-07 12:42] lgirdwood commented on #4558
@XiaoyunWu6666 what's the reproducability now and is this fatal ?

[2021-09-07 13:12] lgirdwood commented on #4614
@XiaoyunWu6666 thanks for update.

One more super useful thing todo with any crash dump that has non zero values in the ```EPCn``` registers (where n is between 1 and 7) is to provide the disassembly of the code. This is very helpful as it saves a lot of time for developers (and since you already have all the files needed). i.e. the registers show where we have crashed in the EPC regs.
[code]
1) W

[2021-09-07 13:43] lgirdwood commented on #4538
@keqiaozhang thanks, got you now. Bit 6 should be enabled as FW registers were missing from some logs.
@ujfalusi if we have an IPC timeout and there are NO FW registers can we print something in dmesg to that effect. i.e. ```no FW context to dump.  DSP hang ?```

[2021-09-07 13:46] lgirdwood commented on #4716
@wszypelt are you able to check HEAD now with #4722 on top (one other fix is in head).

[2021-09-07 13:49] lgirdwood commented on #4629
@keyonjie @mrhpearson fwiw, we should be signing v1.9-rc1 end of this week so fix could be verified on v1.9 ? Would this work ? (as the signing process can be resource intensive for @mwasko and team).

[2021-09-07 14:03] ujfalusi commented on #4538
@lgirdwood, certainly. I have other debug related changes here and there, I will collect them to a separate PR.

[2021-09-07 14:18] plbossart commented on #4629
@keyonjie it bothers me that 'we don't have reproduction'... there's something really fishy here and trying to fix stuff without understanding what's broken doesn't seem quire right.

[2021-09-07 14:39] mrhpearson commented on #4629
I'll test whatever is available - it's pretty quick and easy to do (if signed)
For root cause - I defer completely to you guys. From my point of view it broke between 1.8-rc2 and 1.8, but I don't have the tools to be able to bisect or anything like that. I'm a bit concerned with it being guesswork - but it does look like educated guesswork.

We're seeing this issue on multiple Lenovo platforms (an

[2021-09-07 19:45] mrhpearson commented on #4629
As a minor aside - if there's any possibility of getting this fixed before Fedora's audio test day (Sept 15th) that would be really nice. I try and stick our platforms through their tests but will be limited in participation if audio is broken at the FW level.

[2021-09-07 22:43] fredoh9 commented on #4538
I overlooked the codes. Yes, looks like sof_debug parameter to have bit 6(SOF_DBG_PRINT_ALL_DUMPS) and also 'flags' need to set bit 4(SOF_DBG_DUMP_OPTIONAL), below two locations?

https://github.com/thesofproject/linux/blob/6a95ae1a6a50ef29d01434775b66546ab85a2971/sound/soc/sof/debug.c#L866

https://github.com/thesofproject/linux/blob/6a95ae1a6a50ef29d01434775b66546ab85a2971/sound/soc/sof/ops.c#L1

[2021-09-08 01:15] XiaoyunWu6666 commented on #4706
did not happen in inner daily 6401 after the https://github.com/thesofproject/sof/pull/4715 is merged

[2021-09-08 01:15] XiaoyunWu6666 commented on #4720
did not happen in inner daily 6401 after the https://github.com/thesofproject/sof/pull/4715 is merged

[2021-09-08 01:35] keyonjie commented on #4629
Good point, looks that is much realistic for us @mrhpearson

[2021-09-08 01:42] keyonjie commented on #4629
Yes, that could be, from the log it is highly possible that the runtime_shared zone is used up with this platform, it can be very easy to debug and fix it if we have the debuggable DUT. But without that, I can't guarantee anything here.

[2021-09-08 01:44] #4507 closed

[2021-09-08 02:33] XiaoyunWu6666 commented on #4414
in inner daily 6401
IPC timed out when multiple-pipeline on APL_UP2_NOCODEC_ZEPHYR still happened , when TRIG_STOP/TRIG_START

[2021-09-08 14:24] kv2019i opened #4731 "[BUG][Zephyr][TGL] PIPE_FREE IPC fails if pipe running on non-primary DSP core"
**Describe the bug**
When pipeline is freed after playback, PIPE_FREE IPC fails if the pipeline is loaded to non-primary core on cAVS2.5 platform.

**To Reproduce**
Assign one pipeline and DAI to non-primary core. E.g. iDisp1. Reload SOF driver.

**Reproduction Rate**
100%

**Expected behavior**
Driver can tear down the pipeline successfully.

**Impact**
Driver not usable until pm-runtime kicks in

[2021-09-08 14:25] kv2019i commented on #4731
FYI  @andyross @lyakh We can close https://github.com/thesofproject/sof/issues/4298 but this failure at streaming end stil lhappens. Probably some bookkeeping issue related to core disabling in the SOF wrapper.

[2021-09-08 14:25] kv2019i commented on #4298
No longer occurs with latest SOF+Zephyr mainline, closing.

[2021-09-08 14:25] #4298 closed

[2021-09-08 19:38] lgirdwood commented on #4717
@lyakh this is testing atomic DAI trigger where we have 2 PCM which trigger their DAIs at the same time i.e.
1) ALSA PCM trigger PCM0
2) FW checks and sees that PCM0 and PCM1 have joined atomic DAIs so does not trigger PCM0 DAI.
3) ALSA PCM trigger PCM1
4) FW checks and sees that both PCM0 and PCM1 have triggered so now atomically triggers both DAIs.

[2021-09-08 22:29] andyross commented on #4731
I promised to leave notes but forgot:

I bumped into an edge case in initialization earlier too, where the IPC interrupt task added from the ISR was being run on the wrong CPU.  This hits an error condition in ipc_platform_complete_cmd() where "cpu_is_me()" is false, which then exits early and never ACKs the host interrupt, causing a timeout in the linux driver.

This feels broadly similar.  I dug

[2021-09-09 02:46] XiaoyunWu6666 commented on #4558
@lgirdwood
The reproduction rate is rather low , see issue summary below
[code]

From my perspective , concerning the number of testcases that this issue affects , it is not that fatal (about one each time).

[2021-09-09 08:45] lgirdwood commented on #4558
@XiaoyunWu6666 thanks for the update.
@plbossart fwiw, there is a speculative HW channel for the DMA that switched ON/OFF to save power. @kv2019i and I were discussing this week and we could have a race between the DMA channel PM switching during the driver/FW DMA/stream shutdown logic. I wonder if there is a status bit for this that could be polled as part of the shutdown logic......

[2021-09-09 08:55] lgirdwood commented on #4731
@kv2019i is this the last IPC before we power off the core ? or is it the first after the stream stop ? The DW DMA LLI issue showed a similar behavior too.

[2021-09-10 01:36] XiaoyunWu6666 commented on #4606
This issue happened again in today's inner daily

First happened on 2021-08-22T21:21:02.680Z (Report Id: 5994)
Last happened on 2021-09-09T21:24:54.582Z (Report Id: 6472)
3 hits within 19 days totally

[2021-09-10 01:56] #4706 closed

[2021-09-10 01:56] #4720 closed

[2021-09-10 04:59] XiaoyunWu6666 opened #4742 "[BUG]ipc timed out when pause-release while capturing on TGLH_RVP_NOCODEC_ZEPHYR"
**Describe the bug**
When checking pause-release while capturing , TGLH_RVP_NOCODEC_ZEPHYR ipc timed out when TRIG_RELEASE.
This happened happened  twice in inner daily tests . One was 6422 , the other was 6472.
The 6422 was a daily test with Kernel PR: 3141 whille 6472 was today’s daily test ( alsothe first daily that after Kernel PR: 3141 got merged ).
So this issue is probably brought by Kernel

[2021-09-10 05:48] marc-hb commented on #4558
The failure in 6362 looks different to me:
[code]
This could mean this issue hasn't happened since revert #4578

[2021-09-10 11:46] ujfalusi commented on #4538
@fredoh9, the `SOF_DBG_PRINT_ALL_DUMPS` ( BIT(6) ) is for the `sof_debug` module parameter.
The `SOF_DBG_DUMP_OPTIONAL` is used internally by `snd_sof_dsp_dbg_dump()` to suppress some of the noise when the kernel is not debugged.
By setting the SOF_DBG_PRINT_ALL_DUMPS bit in sof_debug we will print the dumps marked in code with SOF_DBG_DUMP_OPTIONAL _and_ we will print _all_ dumps, never silencing

[2021-09-10 12:12] ujfalusi commented on #4538
Regarding to the error print of
[code]
It is printed in response to SOF_IPC_PANIC_MAGIC, the code is 'HDA_DSP_ROM_FW_ENTERED' and `hda_dsp_dump()` decided to print only the extended rom status because the sdev->fw_state was _not_ SOF_FW_BOOT_COMPLETE.

This is most likely happen if the firmware crashes before it had a chance to send the SOF_IPC_FW_READY message?

[2021-09-10 12:12] lyakh opened #4746 "[BUG] pipeline_comp_trigger() has a logic error"
**Describe the bug**
`pipeline_comp_trigger()` effectively does this:
[code]
and it is called from `pipeline_trigger_run()` as this:
[code]
Also note, that `pipeline_for_each_comp()` ignores non-negative return codes from the iterator function:
[code]
This means, that if `pipeline_comp_trigger()` returns `PPL_STATUS_PATH_STOP` for the first component in the pipeline, i.e. when directly called from

[2021-09-10 13:05] lgirdwood commented on #4746
@lyakh  - not intended behavior - we should respect the result and STOP. Can you fix ?

[2021-09-10 14:52] kv2019i commented on #4703
This is fixed now in main, closing.

[2021-09-10 14:52] #4703 closed

[2021-09-12 19:10] TLMcNulty opened #4751 "[BUG][APL] failed to boot DSP firmware - unknown sof_ext_man header type 3 size 0x30"
**Describe the bug**
Running an Ubuntu flavor called Gallium on an Acer Chromebook 15.
[code]

**To Reproduce**
Enable closed case debugging on an Apollo Lake device, in this case CB515-1H, install Gallium or Ubuntu, patch to 5.14 kernel.

**Reproduction Rate**
100% of the time

**Expected behavior**
dWould expect codec probe to succeed and DSP to boot
[code]

Would expect HDA driver fallback? Uns

[2021-09-13 08:19] XiaoyunWu6666 commented on #4742
@kv2019i  hi kai , do you have any new comments for this issue ?
I just found this issue 'gone' in daily tests, but I have no idea what happened because no fix PR is mentioned here.

I am double checking whether this issue did really go , or just become less likely to reproduce

[2021-09-13 11:46] jairaj-arava opened #4756 "[BUG] [ADL-M RVP]: Failed to load DSP topology during warm boot tests with RT711 on board Soundwire codec"
**Describe the bug**
During warm boot tests, we see DSP topology load failure randomly.

**To Reproduce**
1.Boot the Chromebook.
2. Copy the folder warm_cold_boot_device_check  script to the device.
3. Initiate test with command: ./start_test.sh 5 20 -> warm boot

**Reproduction Rate**
The issue happens randomly once or thrice so far in 1000 cycles.

**Expected behavior**
Sound card should be load

[2021-09-13 13:47] kkarask commented on #4716
@lgirdwood Unfortunately #4722 doesn't fix this issue.
Logs:
[ICL_14_11.zip](https://github.com/thesofproject/sof/files/7154688/ICL_14_11.zip)

@lyakh Tests are from internal Intel repository. In CI we test quickly and don't run all tests from our scope.

[2021-09-13 16:38] plbossart commented on #4751
@TLMcNulty we've never enabled Chromebooks on ApolloLake. Well, I did for development but officially the only 'official' firmware for APL is the Intel SST one. I am not too use how you ended-up using SOF, on APL we only support the open Up2 board.

If you want to use SOF, you would have to use the Intel signed firmware, not the one with the community key used for official chromebooks since Gemini

[2021-09-13 16:45] TLMcNulty commented on #4751
Thanks for the reply, I've just been seeing what's failing where while trying to get this platform to work.

I'll focus on whatever the SST has been erroring on primarily. This bug is then not relevant or helpful. Thanks @plbossart

[2021-09-13 16:45] #4751 closed

[2021-09-13 20:44] marc-hb commented on #4676
I spent some time looking at the test results of daily run 6047 and the reason this escaped PR testing is because even in the longer daily run 6047 this particular crash is relatively rare (there is a number of  other, unrelated failures in that run). Only a few platforms have experienced it, not on every test and even when it happens it's not immediately but only after a fair number of test itera

[2021-09-14 05:44] XiaoyunWu6666 commented on #4552
Also happened in inner daily  6562
on model ADLP_RVP_NOCODEC_CI
in  testcase check-suspend-resume-50 , ipc timed out when system resume in COMP_NEW phase

[2021-09-14 08:05] marc-hb commented on #4699
CONFIG_TRACEM is likely to have a severe performance impact.

[2021-09-14 12:53] Shen-long87 commented on #3868
Hello. I have a surface rt 3 model 1645 tablet. With ubuntu mate installed on 21.04. Recently updated the kernel on your converted 5.13.13 is the same bug with pip at some time. After checking what the sof-bytcht rt5645.

hdwiLpeaudio intel hdmi / dp lpe audio is not visible.

Too. There is a problem with the hardware setting to "1output / 2inputs -play hifi quality miusic" and the output tab "Hea

[2021-09-14 16:38] plbossart commented on #3868
Sorry @Shen-long87. I am not able to understand your problem report, it could be a formatting issue or a translation issue. Please open a new issue unless you are experiencing the 'persistent beeping sound' listed in the subject of this thread.

[2021-09-14 19:49] cujomalainey commented on #4242
+More Google folk, if you guys have time, it would be great to follow up on this and revert our hack in the topology section and use a mux instead

[2021-09-14 22:22] Shen-long87 commented on #3868
I can see that something translated wrong.
Yes, I have a problem with the above topic, annoying sudden sound. Caused by selecting hardware settings:
Too. There is a problem with the hardware setting to "1output / 2inputs -play hifi quality miusic" and the output tab "Headphones + stereo speaker built-in".

I have Ubuntu mate 21.04 installed with kernel 5.13.13 surface.
As I mentioned: ms surface r

[2021-09-14 23:25] marc-hb commented on #4699
BTW I rely on CONFIG_TRACEM for my transition to Zephyr "strategy", see (now reverted) commit 0def9056300a

[2021-09-15 01:32] keqiaozhang commented on #4480
Same issue observed on ADLP-RVP-NOCODEC:
https://sof-ci.sh.intel.com/#/result/planresultdetail/6549?model=ADLP_RVP_NOCODEC&testcase=check-suspend-resume-with-capture-100

[2021-09-15 01:41] XiaoyunWu6666 commented on #4742
happened in inner daily 6601 again

[2021-09-15 01:48] ranj063 commented on #4480
@keqiaozhang are you testing with the same commit in SOF as the original issue? or are you testing with latest main?

[2021-09-15 02:37] 1994lwz commented on #4617
This issue can be reproduce on the TGL-CHROME with IGO patches & IGO binary.
Check other pipeline, and only reproduce on the hw:0,99.

[2021-09-15 06:31] mengdonglin commented on #4617
@1994lwz Thank you for confirmation! Can you please share the sof-log output while running alsa_conformance_test on this pipeline? The log will be used to analyze performance.

[2021-09-15 06:50] 1994lwz commented on #4617
add the sof-logger and dmesg file as below.
[sof-logger.txt](https://github.com/thesofproject/sof/files/7167485/sof-logger.txt)
[dmesg.txt](https://github.com/thesofproject/sof/files/7167489/dmesg.txt)

[2021-09-15 07:31] juimonen commented on #4242
@cujomalainey ack, let me check with @keyonjie what we can do...

[2021-09-15 07:38] singalsu commented on #4617
@johnylin76 The proper way of testing sample rate accuracy is to play a sine tone e.g. 997 Hz with a calibrated signal generator and then analyze the captured audio file mathematically (e.g. RMS error minize fit an ideal sine for phase, frequency, amplitude).

Pure software test running on DUT without external equipment is very challenging due to lack of trusted time base in DUT and jitter of ALSA

[2021-09-15 07:54] johnylin76 opened #4769 "[BUG][TGL][Chrome] DSP Panic with large config payload (was plugging/unplugging a headset while using "Online Voice Recorder")"
**Describe the bug**
When IGO Noise Reduction was enabled and releases/tgl/v13.0-hotfix3 is applied on firmware.
During recording with "Online Voice Recorder", there was DSP panic found when plugging/unplugging a headset.

**To Reproduce**
1. Open "online voice recorder" on Chrome browser.
2. Start recording and say something (input: internal mic)
3. Plug in 3.5mm jack headset and say something (i

[2021-09-15 13:15] lgirdwood commented on #4552
@XiaoyunWu6666 is this still multicore, you changed the issue title ?

[2021-09-15 13:26] #4699 closed

[2021-09-15 14:26] plbossart commented on #3868
Does the workaround mentioned earlier work for you: add this to /etc/modprobe.d/alsa-base.conf

options snd_sof sof_debug=1

[2021-09-15 18:54] prof-dr-pepper opened #4773 "[BUG]"
**Describe the bug**
Sound driver seems to fail to load properly on Dell Latitude 7320 Detachable (see hardware probe here https://linux-hardware.org/?probe=21c50317b2) and therefore sound is not available at the device on linux.
Even though the sound adapter (hardware ID: 8086:a0c8) seems to be supported by the linux kernel the device does not work. Browsing on the internet this issue seems to ha

[2021-09-16 01:54] XiaoyunWu6666 commented on #4552
hi @lgirdwood  , this is still multicore . I changed the issue title just to make it consistent with model names in CI (TGLU_RVP_NOCODEC_CI uses multicore topology).
But if it causes any confuse , I can modify it back.

[2021-09-16 13:40] keyonjie commented on #4769
@bkokoszx @mwasko @abonislawski FYI. unfortunately another one.

[2021-09-16 13:47] keyonjie commented on #4769
@johnylin76 do you have chance to capture the FW log?
@1994lwz can you try to reproduce it?

[2021-09-16 13:52] lgirdwood commented on #4769
Prior to the crash we have a lot of IPC errors and attempts at setting a large config to component 57. What is component 57 ?
[code]

[2021-09-16 14:02] lgirdwood commented on #4769
oh it appears the oops is after the set large config to comp 57
[code]
The other crashes show similar delays with previous IPC errors.

Can we reproduce with kernel IPC logs ON and FW logs ON ?

[2021-09-16 15:28] Shen-long87 commented on #3868
I think there is something else. I'm sending the file.
Today I only had time to write back. Thank you very much for help. Therefore, WiFi works very well with this kernelm 5.13.13. Without breaking the connection. Now after 10 x Linux Ubuntu mate started working.

[2021-09-16 15:29] Shen-long87 commented on #3868
# autoloader aliases
install sound-slot-0 /sbin/modprobe snd-card-0
install sound-slot-1 /sbin/modprobe snd-card-1
install sound-slot-2 /sbin/modprobe snd-card-2
install sound-slot-3 /sbin/modprobe snd-card-3
install sound-slot-4 /sbin/modprobe snd-card-4
install sound-slot-5 /sbin/modprobe snd-card-5
install sound-slot-6 /sbin/modprobe snd-card-6
install sound-slot-7 /sbin/modprobe snd-card-7

#

[2021-09-16 20:10] lgirdwood commented on #3868
Please see https://github.com/thesofproject/sof/pull/4775. This aligns the DMA mappings to the closed source FW, but I have no BYT/CHT HW so cant validate. Also attached GCC built binaries for BYT and CHT
[sof-cht.zip](https://github.com/thesofproject/sof/files/7180698/sof-cht.zip)
[sof-byt.zip](https://github.com/thesofproject/sof/files/7180699/sof-byt.zip)
.

[2021-09-17 02:39] 1994lwz opened #4779 "[BUG] DMA trigger stop failed when suspend-resume during capturing on CML-SKU0983-SDW"
**Describe the bug**
DMA trigger stop failed when suspend-resume during capturing on CML-SKU0983-SDW

**To Reproduce**
Run command: "TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt711-rt1308-mono-rt715.tplg ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 5 -m capture"
The reproduction rate is 100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: a7bb845e
SOF Branch: main
SOF Co

[2021-09-17 07:03] 1994lwz commented on #4769
Can't test temporarily because the chrome platform of SHZ1 cannot be booted.

[2021-09-17 07:30] XiaoyunWu6666 commented on #4779
this happened in 6200 6292 6655

[2021-09-17 07:43] 1994lwz commented on #4769
This issue is reproduce on the chrome platform at SHZ1 site.

[core dump]
[code]

[2021-09-17 08:36] MastaG commented on #4629
Hi there,

I'm running Fedora 34 on a Razer Blade 15 Advanced (the tiger lake refresh).
Firmware version: alsa-sof-firmware-1.8-1.fc34.noarch

I think I'm getting hit by the same bug:
[code]

Is there some place where I can download the signed 1.9 rc1 release for testing?

[2021-09-17 08:50] keyonjie commented on #4629
@MastaG @mrhpearson 1.9 rc1 is on the way already, hopefully you will get it next week. please keep track sof-bin repo.

[2021-09-17 09:07] MastaG commented on #4629
@keyonjie Thanks brother, I already found the repository by looking into Fedora's spec file.
I'll build a updated package once it hits the repository and report back :)

[2021-09-17 10:17] johnylin76 commented on #4769
Here are the logs with kernel IPC logs ON and FW logs ON:
[sof-logger.txt](https://github.com/thesofproject/sof/files/7184828/sof-logger.txt)
[messages.txt](https://github.com/thesofproject/sof/files/7184830/messages.txt)

[2021-09-17 12:33] lgirdwood commented on #4769
The logs show 2 things
1) What appears to be heavy load on the DSP, as the scheduler cant shedule the agent on time ?
[code]
But the delay is consistent, meaning we are likely scheduling agent in a timely manner but perhaps with the wrong clock or timebase.

2) We are doing a lot (~200) IPC configuration messages prior to the crash.
[code]
We are not doing anything else at this time so could be a

[2021-09-17 15:48] plbossart commented on #4779
Sorry @XiaoyunWu6666, not following you. Are you saying the "timeout on STREAM_SD_OFFSET" and "MCP_CONTROL_HW_RST is not cleared at iteration N"  errors are correlated somehow?

@bardliao this would be interesting indeed.

[2021-09-17 16:10] lgirdwood commented on #4779
@XiaoyunWu6666 @1994lwz can someone try reverting 9fadef789e80b586c64cb963dad24f909d579afd and retest.
@ranj063 and I have a suspicion this is related to
1) DSP -> host DMA traffic volume prior to suspend (in which case multiple capture streams would also show this).
2) Time between trace being disabled and DSP entering D3. More traffic may mean DMA takes longer to enter idle (and safe to enter D3

[2021-09-18 00:03] marc-hb commented on #4333
I looked a few PR test results for BDW and BYT since #4763 was merged and it seems to have made a positive difference! Stay tuned.

[2021-09-18 03:04] XiaoyunWu6666 commented on #4779
@lgirdwood @RanderWang @plbossart
In today's inner daily 6686
both CML_SKU0983_SDW and CML_SKU0955_HDA have this issue

FYI , I tried to revert 9fadef7 and retest on CML_SKU0983_SDW (running suspend-resume-5-time during capture , for 100 rounds )
so far so good . haven't reproduce the issue (noted that this issue isn't 100% reproducible so this is just a reference)

[2021-09-18 03:43] ranj063 commented on #4779
@1994lwz @XiaoyunWu6666 could you please check if https://github.com/thesofproject/linux/pull/3166 helps fix the issue?

[2021-09-18 03:57] 1994lwz commented on #4779
I tried to revert 9fadef7 and retest on CML_SKU0955_HDA (running suspend-resume-5-time during capture , for 50 rounds ), haven't reproduce the issue.

[2021-09-18 05:50] XiaoyunWu6666 commented on #4779
hi @ranj063  . I am afraid not , the  same error appears again.
@1994lwz will make a double confirm

[2021-09-18 06:01] 1994lwz commented on #4779
the same error appears again on CML_SKU0955_HDA.

[2021-09-18 16:36] Shen-long87 commented on #3868
I'm just wondering what to do with this. Forgive me. I read link 4775 what exactly is happening. I will be monitoring the progress.

[2021-09-18 22:53] ranj063 commented on #4779
@XiaoyunWu6666 @1994lwz I have update my PR https://github.com/thesofproject/linux/pull/3166 to fix the issues during suspend-resume on capture on the CML Helios and the CML-HDA. Could you please double confirm?

@plbossart I need your help for the CML_SDW case.

[2021-09-18 22:55] ranj063 commented on #4558
@XiaoyunWu6666 @1994lwz could you please check if https://github.com/thesofproject/linux/pull/3166 helps fix this issue?

[2021-09-20 09:25] lgirdwood commented on #4779
@RanderWang @1994lwz @XiaoyunWu6666 has anyone tried reverting https://github.com/thesofproject/sof/commit/9fadef789e80b586c64cb963dad24f909d579afd AND trying multiple capture streams for this test. i.e. try 2 then 3 capture streams in this test.
This will help us determine if its more likely to be
1) Capture DMA traffic prior to D3
2) Capture (trace) DMA shutdown prior to D3.

[2021-09-20 09:29] lgirdwood commented on #3868
Thanks, let me know if you can reproduce with the binaries I've attached above. These will need unzipped and copied to the SOF firmware directory (please rename the old FW file as you may need to restore it). To test you will need to reload the SOF driver or reboot.

[2021-09-20 10:00] lgirdwood commented on #4480
@keqiaozhang are you able to do a FW stack trace when it next occurs. @keyonjie knows how to do this if you have any questions.

[2021-09-20 10:59] lgirdwood commented on #4617
@singalsu dont we have WOV buffer in the PCM99 pipeline ? Could the position readback be jittery in this case as the DMIC would underrun if the rate was too slow ??

[2021-09-20 11:44] lgirdwood commented on #4662
Please see https://github.com/thesofproject/sof/pull/4775 as a potential fix. GCC built binaries here https://github.com/thesofproject/sof/issues/3868 but may be slow since GCC does not support xtensa SIMD.

[2021-09-20 11:46] lgirdwood commented on #4538
@ujfalusi This is a bug - kernel should print out any FW crash even before FW boot complete message. Can you fix ?

[2021-09-20 11:49] lgirdwood commented on #4595
@plbossart I've asked @ujfalusi to make sure we dump FW stack and populate exception debugFW here (which driver is not doing atm as FW has not sent boot message). This should shed some light on issue as the stack trace can be run through gdb.

[2021-09-20 11:53] lgirdwood commented on #4742
This looks like a deadlock or HW hang as stack is empty.

[2021-09-20 12:00] lgirdwood commented on #4716
Looks like MUX state transition is broken.

[code]

[2021-09-20 12:01] ujfalusi commented on #4538
@lgirdwood , sure, I can take a look. Fwiw we never printed more information before the firmware boot has been completed.
Even before https://github.com/thesofproject/sof/commit/6ca5cecbd1c17 more information was only printed if `sdev->boot_complete` was *true*

I'm not sure yet, but before the boot is completed we might have invalid garbage we would be presenting to user? That could be misleading

[2021-09-20 12:48] mrhpearson commented on #4629
Thanks for the note - I'll keep an eye out for it too - I have a few platforms I can test it with.

[2021-09-20 13:25] nrndda commented on #3868
Replaced /lib/firmware/intel/sof/sof-cht.ri, removed sof_debug=1 and stil reproducing. Same beep but a bit loader and earlier.
Kernel: 5.14.6

[2021-09-20 15:32] ranj063 commented on #4779
@lgirdwood I tried 2 capture streams during suspend with my kernel PR on the helios and it works fine. My PR fixes this issue on both the helios and the HDA laptop.

[2021-09-20 16:39] plbossart commented on #4779
This issue and related PRs are really hard to follow. I ran a quick test on CML_SKU09C6_SDW (same as CML-SKU0983-SDW) and I don't see any issue.

"TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt711-rt1308-mono-rt715.tplg ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 5 -m capture"
The reproduction rate is 100% <<< NOT REPRODUCED AT ALL.

We should really deal with separate sightings and v

[2021-09-20 17:43] plbossart commented on #4779
ok, so the command above is a bit misleading. I changed it to "TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt711-rt1308-mono-rt715.tplg ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 200 -m capture" and I see errors happening somewhat randomly, e.g. round 19, 2, 25.

we probably need to change the '5' value since it leads to missed errors in CI.

[2021-09-20 19:29] plbossart commented on #4779
PR thesofproject/linux#3166 does not solve anything on  CML_SKU09C6_SDW, now trying to with a revert of 9fadef789e80b586c64cb963dad24f909d579afd

[2021-09-20 19:46] plbossart commented on #4779
Reverting 9fadef7 works in my local tests, submitted PR #4785 for more tests.

@lgirdwood @ranj063 @1994lwz @keyonjie @marc-hb FYI

[2021-09-20 23:01] marc-hb commented on #4779
Found another recent CML suspend timeout but it looks a bit different: https://sof-ci.01.org/sofpr/PR4771/build10385/devicetest/?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-capture

[code]

[2021-09-21 03:35] marc-hb commented on #4629
v1.9-rc1/intel-signed is available in git for most platforms: https://github.com/thesofproject/sof-bin/pull/54

[2021-09-21 07:26] Shen-long87 commented on #3868
Hello everyone. Isn't it better to use the audio settings from kernel 5.8? this error did not occur.

[2021-09-21 08:26] hedmo commented on #4662
Thanks . I have not had any beeping sound more after THE kernel clean out. Still rocking :) .

[2021-09-21 08:34] lgirdwood commented on #3868
Thanks, it looks like we may need the debug atm. Btw, v1.9 will have this update but it will be built with XCC as GCC builds are slow and this can also introduce issues (so we should retest with debug disabled with v1.9 next week).

[2021-09-21 09:36] MastaG commented on #4629
Hi, I can confirm the problem is solved with v1.9-rc1 !
Thanks a lot.

[2021-09-21 10:56] lgirdwood commented on #4538
@ujfalusi I dont think we will get garbage, the FW has to actively send the exception IPC so relevant data should be present. This can happen long before we send the boot complete message.

[2021-09-21 12:56] wszypelt commented on #4169
the error also started to appear in test 07_02_TestKdSsp16000Hz16b16b2ch on WHL RVP
[2021_09_21_09_43_01.zip](https://github.com/thesofproject/sof/files/7203190/2021_09_21_09_43_01.zip)

[2021-09-21 13:10] mrhpearson commented on #4629
Same here - tested and confirmed on P1G4 and it looks good. I'll test some other platforms later today but really appreciate getting this out.
Mark

[2021-09-21 13:49] plbossart commented on #4538
FWIW I reached this DSP panic on CML_SKU09C6_SDW after 150 iterations while trying to see if PR #4785 solved issue https://github.com/thesofproject/sof/issues/4779

[2021-09-21 17:32] #2098 closed

[2021-09-22 02:22] keyonjie commented on #4779
Not quite following here, @plbossart do you mean changing some Kconfig items will impact the DMA of the normal pipelines?

[2021-09-22 02:27] XiaoyunWu6666 commented on #4779
#4785 has been merged ,and in today's inner daily 6739 , CML_SKU0983_SDW and CML_SKU0955_HDA are good
No DMA trigger stop error happened.
Let's keep observing it

[2021-09-22 02:42] marc-hb commented on #4779
When the system is brittle or unstable then all bets are off.

[2021-09-22 03:18] ranj063 commented on #4779
@lgirdwood I think the right fix for this issue and #4558 is in Linux PR https://github.com/thesofproject/linux/pull/3167 and SOF PR #4793

[2021-09-22 07:02] wszypelt commented on #4169
also in test 07_06_TestKdMemLeak on WHL RVP
[07_06_TestKdMemLeak.zip](https://github.com/thesofproject/sof/files/7208404/07_06_TestKdMemLeak.zip)

[2021-09-22 08:55] ujfalusi commented on #4538
@lgirdwood , https://github.com/thesofproject/linux/pull/3170 should improve the quality and usefulness of our dumps.

[2021-09-22 09:01] keyonjie commented on #4629
@MastaG @mrhpearson thanks for the feedback.

[2021-09-22 16:44] plbossart commented on #4779
@lgirdwood @keyonjie My theory for this timeout issue is a race condition where the firmware removes access to the L2 SRAM when we stop the DMA (by clearing the DGCS_GEN bit), and as a result if there are pending DMA transactions clearing the RUN bit from the driver side times out.

By changing the way the trace works, and possibly adding more trace transactions, we may see this race condition mor

[2021-09-22 20:15] cujomalainey opened #4794 "[BUG][TGL] Stack pointer is somewhere in the buffer heap"
**Describe the bug**
In debugging some memory issues, we realized the stack pointer is never in the region we expect `__sof_stack_start <-> __sof_stack_end` Our stack pointer is always pointing to somewhere in the buffer heap. This has been observed from tgl-012-drop-stable to main

**To Reproduce**
Log your stack pointer

**Reproduction Rate**
100%

**Expected behavior**
Stack pointer is in stack

[2021-09-22 21:36] cujomalainey commented on #4794
I think I answered my own issue, it appears our tasks are full blown threads with their own stack whereas I was under the impression they were more of a workqueue with deadlines. This raises some questions though. If we have a component that requires a tall stack, how do we allocate this for strictly this task? Also I was under the impression tasks are not preemtable, so why give them their own st

[2021-09-23 06:22] keyonjie commented on #4794
@cujomalainey I think we allocate separated stack for each EDF task only, for those pipeline tasks which usually are LL task, they share the CORE specific stack.

[2021-09-23 08:55] paulstelian97 commented on #4794
To add more info, at least on i.MX, LL tasks usually run in the context of the DMA IRQ handler (as we have DMA based scheduling; I'd guess you'd use the timer IRQ handler for the timer based scheduling). And yeah, IRQ handlers don't have their own stack (as far as I know)

[2021-09-23 10:42] lgirdwood commented on #4794
@cujomalainey we can allocate individual stacks (with variable sizes) when we use the Zephyr RTOS for any task LL or preemptive.

[2021-09-23 12:11] johnylin76 commented on #4769
Hi @1994lwz , may I know which device do you use? Delbin? Drobit? Do you know the phase (Proto/DVT/EVT) and the SKU of your device?
Thanks.

[2021-09-23 12:36] lgirdwood commented on #4169
@wszypelt it looks like KPB can get enough memory for history buffer and this is possibly not leaving enough headroom for processing.
[code]
@keyonjie do we have anough of the correct memory types or does KPB need an update ?

[2021-09-23 14:46] cujomalainey commented on #4794
Understood, I think I have a better picture now, thanks.

[2021-09-23 14:47] #4794 closed

[2021-09-23 16:22] lyakh opened #4796 "[FEATURE] Reject PCM_PARAMS IPC when in ACTIVE or PAUSED state"
**Is your feature request related to a problem? Please describe.**
Certain CI tests erroneously submit PCM_PARAMS IPC when the pipeline is in ACTIVE or PAUSED state, the firmware accepts and tries to process it.

**Describe the solution you'd like**
Such IPCs should return an error to the host.

[2021-09-23 16:24] plbossart commented on #4796
isn't it a bug rather?

[2021-09-23 18:16] lyakh commented on #4796
@plbossart I have been creating too many bugs recently, so I decided to make this a feature :-) It doesn't seem to create any problems at the moment.

[2021-09-23 19:20] plbossart commented on #4796
Man, I found so many bugs lately, if I started called them features there would be several pages of enhancements!

[2021-09-24 00:47] 1994lwz commented on #4769
the device is Delbin EVT SKU2.

[2021-09-24 13:41] lgirdwood commented on #4796
@lyakh thinking the easiest approach here is to ignore the request for compatibility with Windows. i.e. just return success and report this as a warning in the logs.

[2021-09-24 13:45] lgirdwood commented on #4769
@1994lwz @bkokoszx any update or findings so far ?

[2021-09-24 19:52] mrhpearson commented on #4629
HI @keyonjie
Will we be able to make v1.9-rc1 available as a "release" (i.e. showing up here: https://github.com/thesofproject/sof-bin/releases)

The RH folk don't want to pull it in until it's listed. And as the Debian sof-firmware repo maintainer I figure I should wait until it gets an official blessing too :) (I skipped v1.8 because of it's issues)

What's the recommended process/ETA before I c

[2021-09-24 20:53] lgirdwood commented on #4629
@mrhpearson V1.9 binaries have just been merged here https://github.com/thesofproject/sof-bin
There should also be a v1.9 tarball to follow probably today or Monday from @marc-hb. RH and Debian folks should be good to pull either git or download the tarball for the release.

[2021-09-26 03:30] XiaoyunWu6666 opened #4803 "[BUG][APL] APL zephyr firmware build failed due to Zephyr-sdk incompatibility"
**Describe the bug**
in inner daily 6849, found  firmware for APL_UP2_NOCODEC_ZEPHYR was not available.
Checking the sof build logs from Jenkins , and found errors when building apl zephyr firmware
Error logs indicate an incompatibility of Zephyr-sdkConfig version (requested 0.13.1 , found 0.13.0)

[BUILD LOG]
[code]

[2021-09-27 07:36] 1994lwz commented on #4779
Use the Linux PR #3167 and SOF PR #4793 to build the kernel and firmware, not reproduce on the cml-sku0983-sdw/ cml-sku0955-hda by test the suspend-resume during capturing 100 times

[2021-09-27 08:12] wszypelt opened #4807 "[BUG] Noise before a valid signal in 07_04_TestKdDmic16000Hz16b16b2ch"
**Describe the bug**
In test  07_04_TestKdDmic16000Hz16b16b2ch noise before a valid signal was found.

**Topology**
[code]
Description:
Test keyword detection feature with full topology, using to DMIC injector to get signal.

**To Reproduce**
Run test with Diagnostic driver 07_04_TestKdDmic16000Hz16b16b2ch.

**Reproduction Rate**
Sporadic. 1/150

**Environment**
1) Branch name and commit hash of t

[2021-09-27 08:15] abonislawski commented on #4382
Yes, we dont even power up secondary cores on wake up :)
With @bkokoszx we managed to fully restore secondary cores, we will share debug code soon for testing purposes.

[2021-09-27 13:25] bkokoszx commented on #4382
Here is debug branch mentioned by @abonislawski :
https://github.com/bkokoszx/sof/tree/tgl-013-drop-stable-secondary_core_restore

@yongzhi1 Are you able to try to reproduce issue with above code?

[2021-09-27 14:55] bkokoszx commented on #4769
@lgirdwood
Not yet, I was debugging problem with D0i3->D0 multicore transition.

Is there any way to reproduce this issue by cmd line?

[2021-09-27 15:13] brianjmurrell opened #4809 "[BUG] Input from headset microphone gets choppy"
**Describe the bug**
At some point after an unknown amount of up-time, input from a headset microphone becomes choppy.  This doesn't happen immediately after a reboot but only some (unknown) time subsequently.

**To Reproduce**
Unknown

**Reproduction Rate**
100% after an unknown amount of time since boot

**Expected behavior**
Input should not be choppy

**Impact**
Makes use of the headset microp

[2021-09-27 15:21] plbossart commented on #4809
@brianjmurrell the headset is not directly controlled by the Intel PCH but by the HDaudio codec.

Can you try using the legacy driver by adding  “options snd-intel-dspcfg dsp_driver=1” to /etc/modprobe.d/alsa-base.conf.

This will prevent the internal microphones from working, but at least we should be able to see if the headset is functional without SOF.

[2021-09-27 15:38] lgirdwood commented on #4809
@plbossart hmm, this is CML capture related, so could benefit from the stream offset fixes done by @ranj063 in v1.9.1
@brianjmurrell v1.9.1 is a few weeks away, but could solve this problem.

[2021-09-27 15:40] plbossart commented on #4809
Also @brianjmurrell is there any reason why you have both PipeWire and PulseAudio? Usually it's one or the other.

[code]

[2021-09-27 15:42] plbossart commented on #4809
I don't think so, the changes are only to stop the DMA and avoid a timeout, and you would see a big issue requiring a reboot.

[2021-09-27 16:12] brianjmurrell commented on #4809
Wow!  The stack of `snd_*` kernel modules has gotten huge while I was not looking.  Any hints/tricks on how to easily `rmmod snd_intel_dspcfg` and it's entire stack of dependencies?  I'd rather not have to completely reboot.  It would be pretty disruptive to my other ongoing work.

Just because pulseaudio and bluetooth simply don't work without having to jump through hoops.  Pipewire was reported

[2021-09-27 16:23] brianjmurrell commented on #4809
Damn!  Trying to remove some `snd_*` module (I don't recall which one) hung my system.  The mouse pointer was still active but everything else was locked up hard.  Couldn't even ssh into the thing even though ping still works.  :frowning:

[2021-09-27 16:41] brianjmurrell commented on #4809
So, given that I had to reboot, I added the module parameter.

So far recording from "Built-in Audio" seems good.  But SOF sounded fine just after a reboot.  Time will tell.

[2021-09-27 17:08] plbossart commented on #4809
we have scripts in https://github.com/thesofproject/sof-test/tree/main/tools/kmod to remove/insert modules, but they may not always work, e.g. if userspace keeps a reference on a stream, etc.

[2021-09-28 03:15] lenghonglin commented on #3632
@dbaluta @lgirdwood @hongshui3000  i.MX RT support sof in hifi4 now？

[2021-09-28 05:53] Pandemonious commented on #3868
hello. I am running arch kernel 5,14.8-archy1-1 on a Dell Chromebook 11 3180.

I am experiencing the same issue with the loud ringing noise after a few minutes of audio playback. Sometimes it happens without anything else happening but I will say that it usually happens when I am moving around different programs and working the CPU.

I am using the sof-firmware and alsa-ucm-conf packages. Without

[2021-09-28 06:59] 1994lwz opened #4813 "[BUG] IPC timed out when multiple-pause-resume on TGLU-VOLT-SDW"
**Describe the bug**
in inner daily 6885 testcase=multiple-pause-resume-25
ipc timed out when multiple-pause-resume on TGLU-VOLT-SDW

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-sdw-max98373-rt5682.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25
not 100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 0715e9e6
SOF Branch: main
SOF Commit: 3e260cc8de71
Topology:

[2021-09-28 07:03] dbaluta commented on #3632
@lenghonglin no support for i.MX RT for now as we are different teams at NXP. Anyhow, this is in my plan for the future with Zephyr getting support for i.MX8 boards.

i.MX RT is a beast of different nature. Having only hifi4 and some M4 cores. This means that mostly we need to make SOF run in standalone mode.

[2021-09-28 07:05] 1994lwz commented on #4538
This issue is reproduce on the cml-sku0955-hda in the daily 6885.

[2021-09-28 07:50] singalsu commented on #4807
There's some Windows UI sound (melody with bells) in the beginning. Assign back to you, it's a lab setup issue.

[2021-09-28 07:54] #4807 closed

[2021-09-28 13:01] Vamshigopal commented on #4382
@bkokoszx In ADL we saw little different issue,  logs
[wov_spk.txt](https://github.com/thesofproject/sof/files/7244148/wov_spk.txt)

Test : if we try speaker playback after GHW(s0ix)
Observation : speaker playback is muted.
fw_branch: origin/adl-003-drop-stable

We have not reported this issue because we are seeing this behavior only with google kpd, with intel clap issue is not observed.
with you

[2021-09-28 13:39] johnylin76 commented on #4769
Unfortunately I still cannot make a script to successfully reproduce the issue with "cras_test_client --plug <N>:<M>:<0|1>" commands. It seems like a complicated problem that cannot be created by the simple combination of commands.

However, I can still reproduce the issue on my Drobit device by the manual steps, although it is also not easy to make it happen. My strategy is rebooting the device a

[2021-09-28 14:45] plbossart commented on #3868
@Pandemonious same recommendation as above:
add this to /etc/modprobe.d/alsa-base.conf

options snd_sof sof_debug=1

[2021-09-28 16:51] plbossart opened #4816 "[BUG] signed/unsigned confusions in MTK driver"
cppcheck reports warnings in MTK code

[code]
Looking at the code, there are multiple places with signed/unsigned confusions

[code]

Filing as a bug so that MTK folks can look at it.

[2021-09-28 17:01] plbossart opened #4817 "[BUG] unclear code in MTK platform timer code"
cppcheck throws the following warning:

[code]

the code looks suspicious, so filing as a bug. Not sure what the values for lowtimeout and hitimeout should be.

[2021-09-28 18:20] marc-hb commented on #4803
Fixed by SDK upgrade #4805. Longer story in #4819

[2021-09-28 18:20] #4803 closed

[2021-09-28 19:25] Shen-long87 commented on #3868
Hello everyone! Today I had time to investigate the above subject of the problem. I am an average Linux user from the Ubuntu / debian family. Sorry for using translator, I don't use English every day.

I have provided information from the file /etc/modprobe.d/alsa-base.conf

in the file, these are the settings for searching for outgoing audio calls.

autoloader aliases:
install sound-slot-0 /sbin/

[2021-09-28 19:32] Shen-long87 commented on #3868
I would like to thank you for your help.
I have a little problem with changing the card hard in the settings

[2021-09-28 19:44] plbossart commented on #3868
@Shen-long87 That's not a valid value, this value is a bitmap. This looks like a copy-paste mistake

[2021-09-28 20:46] Shen-long87 commented on #3868
yet check it out if it crashes an error with the sound.
I'm using ubuntu mate 21.04, with krenel as I wrote earlier.

[2021-09-29 01:45] kuanhsuncheng commented on #4817
Hi sir,

Create a PR for this bug.

timer: mtk: fix cppcheck bug in mt8195 timer #4823

Thanks.

[2021-09-29 03:10] XiaoyunWu6666 commented on #4480
The DSP panic reproduced again on TGLU_RVP_NOCODEC in inner daily 6914 (sorry I forgot to do a FW stack trace dump , but tried to reproduce it manually ... So the dmesg just went away)

Add 'options snd_sof sof_debug=0x41'  in /etc/modprobe.d on the DUT
Let's see what this debug option will bring to us next time the DSP panic happened in daily test
Let's see

[2021-09-29 11:25] bkokoszx commented on #4769
@johnylin76
Are you able to provide core dump file (after reproduction) with corresponding firmware .lst file (sof-tgl.lst - one of a building artifact)?

[2021-09-29 19:56] cujomalainey commented on #4568
Ping on this bug, has this issue been fixed?

[2021-09-30 02:57] keyonjie commented on #4382
@Vamshigopal I think adl-003-drop-stable is already aligned with the latest tgl-013-drop-stable so the issue you mentioned should already been fixed, can you check the top commit of your adl-003-drop-stable branch?

@bkokoszx please correct me if I am wrong.

[2021-09-30 03:21] sathyap-chrome commented on #4382
@keyonjie we saw the issue even when tgl013 FW resigned for ADL.
with or without the WA submitted in TGL.

[2021-09-30 04:47] keyonjie commented on #4382
got it, then looks @bkokoszx and @abonislawski 's fix for the LPS should be the correct way to go, we should get them for all TGL+ WoV related platforms.

[2021-09-30 07:16] bkokoszx commented on #4382
@keyonjie
adl-003-drop-stable is based on tgl-013-drop-stable. Additionally, it contains only two more topology commits, and minor change in FW referring to check buffer allocation in comp_prepare() function. So basically, there are mostly the same.

[2021-09-30 11:30] johnylin76 commented on #4769
@bkokoszx
Do you mean the core dump file generated by the method as mentioned in [sof/issues/4648](https://github.com/thesofproject/sof/issues/4648#issuecomment-903848918)?
I have generated one. Please see as attached:

[messages.txt](https://github.com/thesofproject/sof/files/7259106/messages.txt)
[sof-logger.txt](https://github.com/thesofproject/sof/files/7259108/sof-logger.txt)
[oops_coredump.t

[2021-09-30 13:08] bkokoszx commented on #4769
@johnylin76
Yes, but additionally *.lst file will be helpful (sof-tgl.lst). It contains disassembly of the code, so that we can associate addresses from coredump file provided by you with the code.
*.lst file is one of the build artifacts (in <build_dir>/src/arch/xtensa/).

[2021-09-30 17:38] ranj063 commented on #4769
here's a tentative fix for this issue: https://github.com/thesofproject/sof/pull/4833

Still being tested

[2021-09-30 20:37] cujomalainey commented on #4769
Where would the crash happen here? I am agree it is a good fix but I am having trouble reasoning out the race that would leave the lib with either freed memory or an incorrect size.

[2021-09-30 21:18] ranj063 commented on #4769
@cujomalainey I'm not certain what could cause the crash given that we're likely sending the same blob. So, theoretically the size should remain the same. But from the logs we see that there are 2 blobs (or the same blob senttwice) sent during headset removal/pug-in. Do you know what those 2 blocs are for?

[2021-09-30 22:48] cujomalainey commented on #4769
@ranj063 we know they are the hotword models, but something is being weird in how they are sent. Previously on 012 this was not an issue. FYI i now have a script you can run to repro this. Repro times range from 5s to 10min

[code]

[2021-09-30 22:55] ranj063 commented on #4769
@cujomalainey do you mind trying my PR to see if the panic still hapens on your device?

[2021-09-30 23:04] cujomalainey commented on #4769
I don't have the latest IGO lib. @johnylin76 can test. He will be coming online soon.

[2021-10-01 00:18] ranj063 commented on #4769
with my PR i'm able to hit the issue much sooner than without

[2021-10-01 06:49] bkokoszx commented on #4568
@sathya-nujella
I think we can close it now?

[2021-10-01 09:28] lgirdwood opened #4834 "[FEATURE] Integrate LPS secondary core fixes on main"
**Is your feature request related to a problem? Please describe.**
Integrate the LPS secondary core fixes on main. This is just to track.

https://github.com/bkokoszx/sof/commits/tgl-013-drop-stable-secondary_core_restore

[2021-10-01 09:30] lgirdwood commented on #4834
@andyross fyi - need to make sure Zephyr kernel has a similar flow onn secondary core power done and power up wrt to cache and kernel objects.

[2021-10-01 09:59] bkokoszx commented on #4769
@ranj063
I've tried to reproduce panic remotely using @cujomalainey script and I did not hit reproduction. Only I saw ipc errors:
[code]

[2021-10-01 14:50] brianjmurrell commented on #4809
This does provide for stable headset input.

So what next?

[2021-10-01 15:19] plbossart commented on #4809
@brianjmurrell thanks for the experiments. The good news is that there is no issue with the hardware codec management. That's beyond the scope of our SOF driver, and it is difficult for us to check since it's really very hardware specific.

if you have spare cycles and able to help us debug further, re-enabling SOF without the "options snd-intel-dspcfg dsp_driver=1” but with the latest firmware wo

[2021-10-01 18:25] brianjmurrell commented on #4809
RPM says that the current _sof_ firmware files come from alsa-sof-firmware-1.6.1-4.fc33.noarch and [the specfile](https://src.fedoraproject.org/rpms/alsa-sof-firmware/blob/f33/f/alsa-sof-firmware.spec) says they are from: [sof-bin commit f31c9ce](https://github.com/thesofproject/sof-bin/archive/f31c9ce30ac2792ec39e19da489aee7631e00654/sof-bin-f31c9ce.tar.gz) for whatever that is worth.

[2021-10-01 18:33] cujomalainey commented on #4568
No activity for 3m, I am going to close this, feel free to reopen if i am incorrect.

[2021-10-01 18:33] #4568 closed

[2021-10-01 18:40] plbossart commented on #4809
yes, 1.9 was released last week so it's not a surprise that there's a delay. 1.6 is relatively old, we've done a lot of work since, so it's really advised to try 1.9.

[2021-10-01 18:43] brianjmurrell commented on #4809
Pretty useful.  I still ended up with:

[code]

I did stop `pulseaudio.{socket,service}` but I also had to kill an `alsactl` process.  After that:

[code]

caused:

[code]
:-(  At least I commented out the `options snd-intel-dspcfg dsp_driver=1` so when I reboot I should get back to using _sof_.

[2021-10-01 18:46] brianjmurrell commented on #4809
Since 1.8 is easily/readily available from F34, going to try that first.  But will roll a 1.9 RPM if that still doesn't work.

[2021-10-01 18:50] brianjmurrell commented on #4809
Hrm.  Didn't expect it to be this bad.  But I now only have a _TU106 High Definition Audio Controller_ in `pavucontrol` now.

[code]

[2021-10-01 19:20] plbossart commented on #4809
could be a UCM issue as well, it's handled with the alsa-ucm-conf package.
Can you provide the list to the results of 'alsa-info' to see what the driver exposes?

[2021-10-01 19:28] brianjmurrell commented on #4809
It does appear in `pavucontrol` now but any attempt to choose `Comment Lake PCH cAVS *` as an input device, for example simply doesn't actually make the choice.

[alsa-info.txt](https://github.com/thesofproject/sof/files/7269687/alsa-info.txt)

[2021-10-01 19:31] brianjmurrell commented on #4809
These have appeared in `dmesg` since the above log was generated:

[code]

[2021-10-01 19:42] plbossart commented on #4809
Some of these devices are playback, the only thing you can select for input is DMIC.

Doesn't look so bad, we have the right filter of HDMI devices handled by the nVidia card.

The part that's not good is the HDaudio digital part. we've seen such issues on other boards, it depends on BIOS verbs and the presence of a digital output proper. we should probably remove this option or make it dependent

[2021-10-01 20:08] cujomalainey commented on #4769
According to @bzhg when he was checking crash, the actual crash is inside the microspeech lib on a load, but he can't tell what it is loading. I am betting we are pulling memory out from under its feet and causing it to jump into oblivion. As to how I am not sure.

[2021-10-01 21:04] ranj063 commented on #4769
@cujomalainey do you think that instead of realloc'ing the blob_handler->data pointer to a new pointer everytime, allocating data with a max size and only updating it would help solve the issue?

[2021-10-02 05:50] cujomalainey commented on #4769
@ranj063 it would be an interesting data point. I wonder if maybe we need to add trace errors and flushes to see if we are maybe hitting those paths on a crash

[2021-10-04 07:19] sathyap-chrome commented on #4382
Tested the series with below topology config on ADL Brya platform:

SPk pipe -> dump codec  (no algo running) - CORE 0
DMIC -> Intelligo - CORE1
HS pipe -> no algo running - CORE2
HDMI pipelines -> no algo running - CORE3
Results here:
[Audio_multicore_testing.xlsx](https://github.com/thesofproject/sof/files/7276098/Audio_multicore_testing.xlsx)

We also tested known issues raised in TGL when mult

[2021-10-04 10:20] kv2019i commented on #4809
Hmm, this is an interesting config. Both the GPUs seem to be enabled, Intel and the Nvidia one. This may create issues as SOF driver does not support the vga-switcheroo (dynamic switching of multiplexed GPUs). But OTOH, there are no errors related to this in the log, so this would not seem to be the source of problems here.

The "Unable to sync" smells of the regressions that were found related to

[2021-10-04 11:24] markbartonxperi opened #4838 "Codec Adapter: Initial setup data problem"
I'm hoping someone here will be able to advise.... I am currently using the SOF codec adapter mechanism as a way to integrate my company's technoloy for use in SOF. So far everything has gone fairly smoothly, so thanks to everyone for that!

The last issue I have, which I'm a little stuck on is passing my initial setup configuration to my codec adapter using the pipeline .m4 file that I have writt

[2021-10-04 11:32] brianjmurrell commented on #4809
Latest messages from the kernel as I was seeing if it was working this morning:

[code]

How likely is the 1.9 (vs. the 1.8 that I have currently) firmware to fix this?

[2021-10-04 11:37] brianjmurrell commented on #4809
That's not something that *I* set up.  Probably just the default state.  Currently it seems that the nouveau module is loaded but honestly, I have no idea which GPU is actually driving my display output at the moment.  I probably don't really care either.  I am not doing anything on this machine that the Nvidia GPU is likely to be better at performing than the Intel one.

I don't really know how t

[2021-10-04 11:40] bkokoszx commented on #4834
I've just created a PR #4839

[2021-10-04 12:00] brianjmurrell commented on #4809
pulseaudio seems to be blocked in the kernel now:

[code]

[2021-10-04 12:23] dbaluta commented on #4838
@markbartonxperi what is the output you see with sof-logger?
https://thesofproject.github.io/latest/developer_guides/debugability/logger/index.html

[2021-10-04 12:31] markbartonxperi commented on #4838
Nothing very useful, unfortunately.

[code]

When I run with the 'working' topology from my original message, and play audio content then I see all the log messages that I would expect to see, including those coming from my own codec adapter.

[2021-10-04 12:43] markbartonxperi commented on #4838
Sorry - I should probably add some other more useful diagnostics about my current target system:

SOF Firmware: I'm currently building commit a938cec8b, plus my own changes to integrate my company's technology
Up! Xtreme linux kernel: I rebuilt the kernel on Friday from commit 138c1c5da4b5 in the sof/linux repository just in case there had been any upstream changes that addressed my problem (in pa

[2021-10-04 14:29] plbossart commented on #4809
The latest dmesg still hints at codec power management issues when we use the hdac_hda codec with SOF.

[2021-10-04 15:03] markbartonxperi commented on #4838
@dbaluta I rebuilt the kernel for my Up board with some of the helpful sounding extra debug options enabled. I think setting `SND_SOC_SOF_DEBUG_RETAIN_DSP_CONTEXT` means that the log data is now persisting. Attaching the output from sof-logger after a restart.

Looks like the config has zero size when it reaches the firmware. I will start triple checking my data packing - I've checked this many ti

[2021-10-04 15:07] kv2019i commented on #4809
Hmm, this hints at the display codec getting stuck:

[234932.387380]  codec_exec_verb+0x4f/0x110 [snd_hda_codec]
[234932.387384]  hdmi_pin_setup_infoframe+0x15c/0x230 [snd_hda_codec_hdmi]

I think we are talking about multiple issues here. The "DAI Digital Codec DAI" errors you talk about earlier are completely harmless. Pipewire is opening a PCM that is not connected to any hw so you get an error

[2021-10-04 21:53] brianjmurrell commented on #4809
I've added that for my next reboot.

Maybe it's too early to determine sufficiently, but I didn't have choppy input audio today using SOF.  Maybe the update to 1.8 firmware fixed it.  I will report as time goes on.

[2021-10-05 05:34] #4817 closed

[2021-10-05 07:49] bkokoszx commented on #4813
@1994lwz
Is it reproduced only in inner testes?

[2021-10-05 07:51] juimonen commented on #4838
@markbartonxperi can you compare the .conf topology files with the working/non-working case. So you have the m4 -> which is converted to .conf -> which alsatplg converts to .tplg binary. Or can you perhaps attach here both? Just to first check that there's nothing strange...

[2021-10-05 08:10] dbaluta commented on #4838
@markbartonxperi there is definitely something wrong with the tplg file. From the log:

[code]

Maybe start adding some prints in comp_new() (ipc/ipc3/helper.c) and understand why ipc_config_specific.size = 0.

[2021-10-05 08:12] markbartonxperi commented on #4838
@juimonen
Hi - I've attached the .conf files for you to have a look at
Thanks!!

[sof-hda-generic-non-working.conf.txt](https://github.com/thesofproject/sof/files/7283982/sof-hda-generic-non-working.conf.txt)
[sof-hda-generic-working.conf.txt](https://github.com/thesofproject/sof/files/7283983/sof-hda-generic-working.conf.txt)

[2021-10-05 12:33] bkokoszx commented on #4769
It loos like with @ranj063 change (#4833) still I can reproduce DSP panic. The backtrace retrieved from coredumper is as follows:
[code]

[2021-10-05 14:41] juimonen commented on #4838
@markbartonxperi I could not immediately spot anything wrong in conf files...

@dbaluta am I reading it correctly that size is never set in codec_adapter_set_params, if msg_index is something else than 0?

[2021-10-05 15:12] lgirdwood commented on #4838
@singalsu can you advise how we are doing this with other components. I dont think there are any size limitations.
@markbartonxperi could you add more debug around
[code]
The size will be extracted from an IPC structure or IPC tuple. Btw, M4 does no macro argument validation or verification (this is fixed in topology 2) but please also check your macro argument ordering and count agianst a working

[2021-10-05 15:26] johnylin76 commented on #4769
Hi @bkokoszx do you reproduce by [script](https://github.com/thesofproject/sof/issues/4769#issuecomment-931755456) or manual plug/unplug headset?
I adapted #4483 commit and tried to reproduce by manual plug/unplug method in these 2 days, but I didn't hit the panic issue anymore. (however it could just be the luck..)

[2021-10-05 16:09] dbaluta commented on #4838
Looking at the code this looks correct.

[2021-10-05 16:40] ranj063 commented on #4769
@johnylin76 is the PR nunmber correct? 4483 seems related to zephyr?

[2021-10-05 19:14] juimonen commented on #4838
@dbaluta ok I missed the "static" in the declaration of "size".

If I interpret the dmesg correctly we should be at the 1st large ipc tx. If I recall correctly for large messages we should see tx in dmesg for all parts of the chopped message -> so if the size would be 0, and we would be in first ipc, we should bail out earlier in the codec_adapter_set_params... which makes me think something overw

[2021-10-05 19:45] markbartonxperi commented on #4838
@dbaluta @juimonen @lgirdwood
Evening all

I had some time this afternoon to try adding some extra logging on the firmware side.... I'll be honest and say my log message locations felt a bit random given that I don't know the codebase so well. And also don't completely understand the expected behaviour.

Here's a fragment from sof-logger with a few additional prints (note I'm using the error trace

[2021-10-05 19:56] brianjmurrell commented on #4809
Are you referring to something like https://01.org/linuxgraphics/gfx-docs/drm/gpu/vga-switcheroo.html or some yet-unknown-unimplemented support?  Is there something I should be doing to avoid this:

other than manually setting `snd_sof_intel_hda_common` options?

I guess I am looking for the answer to the question of what needs changing where to make this all work out of the box without the need t

[2021-10-05 20:23] bkokoszx commented on #4769
@johnylin76
I was trying to reproduce by script.

[2021-10-06 10:16] bkokoszx commented on #4769
I've added following trace points to the code:
[code]
And after reproduction with script: https://github.com/thesofproject/sof/issues/4769#issuecomment-931755456
and firmware with applied #4833, I got following regs hexdump:
[code]
The last trace point is equal to 0x6300, which confirms (due to backtrace) that firmware gets stuck somewhere in ```GoogleHotwordDspProcess()```. At the moment I do not

[2021-10-06 12:26] juimonen commented on #4838
@markbartonxperi the codec_adapter doesn't behave nicely if the control data size is over MAX_IPC_MSG_SIZE=384...

long story: driver only supports "large" messages with control data. When the widget is loaded -> data is dug out from the related config and added to the widget -> but if the total size is > 384 the control data (initial config) is discarded, as it can't be partly added.

Anyway, you

[2021-10-06 12:56] juimonen commented on #4838
@markbartonxperi so dsp is started in 2 steps. When the device boots -> we load the topology, but do basically nothing. If there's any gap before actual playback, dsp goes to power save/suspend, and basically shuts down. When you start actual streaming -> all existing components from kernel side are "reloaded". So what is in controls gets just pushed after widgets and before streaming starts. So i

[2021-10-06 15:45] juimonen commented on #4838
@markbartonxperi nice! I'll have a meeting tomorrow with the original author of the codec adapter @mrajwa and we'll discuss best way to add this.

[2021-10-07 13:26] markbartonxperi commented on #4838
@juimonen Thanks for the updates. Thinking about this selfishly(!)... If the decision ends up being that the codec_adapter should continue to fail when config size == 0, what other options are available to me for passing my initial set-up data to my code?

Thanks
Mark

[2021-10-07 14:00] juimonen commented on #4838
@markbartonxperi somehow we need to fix in codec adapter, if you want to set these "big" parameters in the topology. It doesn't help here to move them around between runtime and setup controls. 1 way to set these is put some smaller parameters in these controls in topology and send the big parameters through alsa control interface in user space.

I think the google hotword works like that. So the

[2021-10-07 14:18] juimonen commented on #4838
@markbartonxperi so to mimic the "UCM way" in testing is to setup the component with some smaller parameters. In your case they could be just bogus or whatever. Then before you start to aplay you set the big params with sof-ctl (found in sof codebase). If you set them once they will be there "forever". We use this method with eq all the time.

The unfortunate thing here is that we support big para

[2021-10-07 14:22] markbartonxperi commented on #4838
@juimonen Thanks for the reply - all understood!

I'll leave things in your hands, then. As before, feel free to let me know here if there's anything you want me to test.

Thanks again!

[2021-10-07 15:38] kv2019i commented on #4809
@brianjmurrell wrote:

Exactly that. This would seem to require new feature development. FIled
https://github.com/thesofproject/sof/issues/4854

[2021-10-08 02:52] lenghonglin commented on #3632
Fine, i want to use sof with M4 cores and hifi4 soc,  but with the offical docs, the host is linux , not rtos .  how can i port with rtos host ?

[2021-10-08 08:16] XiaoyunWu6666 commented on #4813
@bkokoszx  found ipc timed out when multiple pause release on TGLU_RVP_SDW again in inner daily test 7104

[2021-10-08 09:17] dbaluta commented on #3632
Yes, NXP BSP uses Linux not an RTOS for the host. Please ask for support here: https://community.nxp.com/

[2021-10-09 03:15] XiaoyunWu6666 opened #4859 "[BUG] IPC timed out when multiple-pause-resume on BDW_WSB_RT286"
**Describe the bug**
in inner daily 7241 testcase=multiple-pause-resume-25
ipc timed out when multiple-pause-resume on BDW_WSB_RT286

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-bdw-rt286.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25

**Environment**
Start Time: 2021-10-08 21:20:17 UTC
End Time: 2021-10-08 23:58:28 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: bd1219a2
SOF

[2021-10-11 06:21] keyonjie commented on #4538
The FW find there is no EDF task to run and asserts here:

[code]

[2021-10-11 07:52] keyonjie commented on #4538
the "trace point: 0x000041c0" means we failed in ipc_init().

[2021-10-11 12:49] kkarask opened #4863 "[BUG] Whole capture with glitch where depth conversion is done on DAI component"
**Describe the bug**
The whole file with glitch was found in tests where playback pipeline is setup that bit depth conversion is done on DAI component.  Simultaneous playback and capture on external loopback (same SSP) with signal verification.

**To Reproduce**
Run tests with Diagnostic driver:
02_13_TestPtpPlaybackBitDepthConversion16000Hz24b32b1ch
02_13_TestPtpPlaybackBitDepthConversion24000Hz2

[2021-10-11 19:53] cujomalainey commented on #4769
@bkokoszx thanks for the helpful tip. Will definitely remember to try that out. @johnylin76 can you test @keyonjie's change?

[2021-10-12 02:02] XiaoyunWu6666 commented on #4538
Thanks for providing details. Will keep it set :)

[2021-10-12 02:07] XiaoyunWu6666 commented on #4538
happen on CML_SKU0983_SDW in inner daily 7284 again

[2021-10-12 07:40] XiaoyunWu6666 commented on #4859
will close it if not happened again by Oct 15

[2021-10-12 08:47] wszypelt commented on #4863
Test script issue

[2021-10-12 08:47] #4863 closed, assigned to nobody

[2021-10-13 03:44] johnylin76 commented on #4769
Unfortunately by applying @keyonjie's change it is still easy to reproduce DSP panic issue by script (less than running 1 minute).
Here are the logs:
[messages.txt](https://github.com/thesofproject/sof/files/7334618/messages.txt)
[sof-logger.txt](https://github.com/thesofproject/sof/files/7334619/sof-logger.txt)

[2021-10-13 06:20] lyakh opened #4865 "[FEATURE] tighten up memory allocations"
The SOF heap allocations are multi-purpose with distinct features:
1. they can be cached or uncached
2. there is a special allocation type for memory, that will never be freed back. Those allocations also panic if they fail
3. there is an allocation type for larger memory block, e.g. for audio buffers
4. some of those allocation types also initialise memory with 0s

Work is currently underway to s

[2021-10-13 12:55] Tuxman2 opened #4870 "[BUG]No sound with RT5640 Baytrail sound card (bytcr-rt5640)."
**Describe the bug**
RT5640 Baytrail sound card is not recognized (bytcr-rt5640) and I've got no sound.

**Reproduction Rate**
all the time

**Expected behavior**
Have sound.

**Impact**
Can't use the sound card of my hardware (laptop hybrid PC).

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: 5.14.10
    * SOF

[2021-10-13 13:40] plbossart commented on #4870
no we didn't root-cause baytrail issues. lack of time/priorities unfortunately.

[2021-10-13 13:42] Tuxman2 commented on #4870
So, if I use your workaround, could I have sound with my rt5640 Baytrail hardware ?

[2021-10-13 14:19] markbartonxperi commented on #4838
@lgirdwood Hi - welcome back - hope you had a good break!

I made a little bit of progress with UCM - mostly getting to grips with the `alsaucm` command as well as the format of the `.conf` files. There was also a little work required on my tooling-side to generate suitable binary files. At that point I hit a bit of roadblock as I managed to run `alsaucm` in some way that killed the audio output o

[2021-10-13 19:52] plbossart commented on #4538
Also seen in my private tests for deep-buffer on CML_SKU0983_SDW
https://sof-ci.sh.intel.com/#/result/planresultdetail/7312?model=CML_SKU0983_SDW&testcase=check-suspend-resume-50

[2021-10-14 01:21] 1994lwz commented on #4779
This issue is fixed by #3167 and not reproduce on the recent daily, so close it.

[2021-10-14 01:45] ranj063 commented on #4538
@lgirdwood @plbossart I have a theory: We never "complete" the IPC task when the CTX_SAVE is sent and instead just power off the memory and return the IPC response. I'm not certain what happens when we power off the SRAM ie if it is really powered off or it is in self-refresh and somehow when we resume and initialize the IPC EDF task again, the task list is non-empty from the previous boot. I conf

[2021-10-14 02:11] keyonjie commented on #4538
@ranj063 if the task->list is not initialized, it will not be empty. We can simply add initialization e.g.
[code]

But why do you think the uninitialization of this list will lead to EDF task list empty, The ->next and ->prev will be configured in schedule_edf_task() anyway.

[2021-10-14 02:52] ranj063 commented on #4538
I see, I think I made a mistake. I should really be checking for the edf_pdata->list.

[2021-10-14 02:53] ranj063 commented on #4538
Basically, whats surprising is that the EDF task gets executed without a single IPC being sent from the host

[2021-10-14 04:49] XiaoyunWu6666 opened #4873 "[BUG]Attempt of Core En/ROM load failed before booting DSP firmware on ICL_RVP_HDA and GLK_BOB_DA7219"
**Describe the bug**
When testing kmod load unload OR check runtime pm status,
ICL_RVP_HDA and GLK_BOB_DA7219 met error when downloading and booting DSP firmware because its first attempt of Core En/ROM load failed .
This did not block the dsp init because it retried and succeeded with the second attempt.

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg ~/sof-test/test-

[2021-10-14 21:54] cujomalainey commented on #4769
@bkokoszx I have not, I am sheriff for my team this week so my time is thin, @johnylin76 might have. I still think this is likely a data corruption issue caused by stressing malloc given the memory map works fine when not constantly being swapped. It might be worth re-enabling the CRC and seeing if we catch some CRC errors.

[2021-10-15 00:25] Tuxman2 commented on #4870
Well, I defined in the /etc/modprobe.d/alsa-base.conf file, the following options:

Always no sound but here is the result of dmesg command:

If I define the dsp_driver=3, I've got the same messages as in the first post with dmesg command.
The dsp_driver=1 doesn't work.

Thanks if you know how to solve this issue.

[2021-10-15 03:38] keyonjie commented on #4538
Looks we see this in today's daily test also.
@XiaoyunWu6666 in case you can reproduce it manually, can you help to try if https://github.com/thesofproject/sof/pull/4874 help?

[2021-10-15 05:31] XiaoyunWu6666 commented on #4538
in today's inner daily test , this happened again .
@keyonjie  I will try your PR ASAP

[2021-10-15 05:57] XiaoyunWu6666 commented on #4873
hi @plbossart @ujfalusi
thanks for advice , @1994lwz has removed the SOF_DBG_PRINT_ALL_DUMPS flag from /etc/modprobe.d on ICL and GLK platforms  ,  manually tried it and found error had gone
Will observe daily test more and close this issue if it's good

[2021-10-15 07:08] bkokoszx commented on #4769
@cujomalainey
Thanks for update

[2021-10-15 11:27] ghost opened #4880 "[BUG] APL_UP2_NOCODEC_ZEPHYR with XCC failed to playback or capture"
**Describe the bug**
In APL_UP2_NOCODEC device with the firmware built with XCC and Zephyr, playback or capture any audio will fail.
**NOTE**: If build the firmware with GCC or XTOS it will work well.
This is introduced after we re-enable Zephyr builds for APL with XCC in <https://github.com/thesofproject/sof/pull/4852>.
I guess this is a Zephyr issue, but it's hard to find a commit of Zephyr that

[2021-10-15 13:34] Tuxman2 commented on #4870
Thanks for your help.

Ok, I found the problem. I modified the recent ucm files with old ucm files Ihad. So, I restored the recent ucm files and I added alsa-base.conf file in /etc/modprobe.d/ with 'options snd-intel-dspcfg dsp_driver=2' in it. Now, my hardware is recognized and I have sound. ;-)

I close this topic.

[2021-10-15 13:34] #4870 closed

[2021-10-15 14:57] lgirdwood commented on #4609
@lyakh probably can go in your bag for mixer, mux, smart amp updates to fix pipeline changes.

[2021-10-15 20:35] ranj063 commented on #4538
@keyonjie #4874 fixes the symptom not the root cause.

[2021-10-18 03:21] XiaoyunWu6666 commented on #4859
Close it now since it hasn't happened since its first appearance

 @marc-hb  Yes , sorry for mistakes.

@lgirdwood  I think yes, I will create a 'mixer' tag for it since it happened on -Dhw:0,1
![image](https://user-images.githubusercontent.com/79959904/137664367-d216744e-ae88-4437-bb3f-922f7a9af685.png)

[2021-10-18 23:54] mrhpearson commented on #4629
Just as a note for anybody reading this - Fedora has picked up v1.9 for Fedora 35 and Fedora 34.
Debian has an updated version available for Sid. At some point I assume it will make it's way into Bullseye but I haven't figured out that piece of the process yet
Ubuntu is planning on updating later but they're still doing their own thing in their own repo so I'm leaving them to it.
RHEL....I've lost

[2021-10-19 08:17] ghost opened #4887 "[BUG] Firmware boot fails on APL_UP2_NOCODEC_ZEPHYR with XCC"
**Describe the bug**
SOF-Zephyr with XCC boot fails on APL_UP2_NOCODEC devices.

**To Reproduce**
Build SOF-Zephyr with APL target and XCC toolchains, boot on the DUT.

**Reproduction Rate**
Almost 100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: https://github.com/thesofproject/linux/commit/41d1493c
SOF Branch: main
SOF Commit: https://github.com/thesofproject/sof/commit/b82e0efc

[2021-10-19 08:47] 1994lwz commented on #4680
The issue is fixed by #4884.
In daily test: 7467, the issue is not reproduced, and not reproduce by manual test, so close it.

[2021-10-19 22:33] cujomalainey opened #4892 "[FEATURE] Per component ABI versioning"
**Is your feature request related to a problem? Please describe.**
We have a strong ABI control mechanism for the IPC ABI, but nothing equivalent exists for the underlying ABI for components byte controls such as EQ/MUX/DRC. Should an audio server such as CRAS want to start generating coefficients dynamically for a number of firmware versions it becomes quite complex to track what ABI to use where

[2021-10-20 00:39] marc-hb commented on #4880
@lyakh , @kv2019i is this not a duplicate?

[2021-10-20 08:01] kkarask commented on #4169
Issue with Keyword detection notification timeout was also visible on TGL RVP platform
Branch: main, Hash: 4c3aafea4cdb88a72c3b60f502cf9b61b4dee77a
Logs:
[TGL_07_06_TestKdMemLeak.zip](https://github.com/thesofproject/sof/files/7379216/TGL_07_06_TestKdMemLeak.zip)

[2021-10-20 10:02] lyakh commented on #4680
@kv2019i are you seeing any large "perf" entries in the trace? If you can reproduce it locally, maybe you could attach a trace here?

[2021-10-20 16:58] markbartonxperi opened #4901 "audio: codec_adapter: DTS codec problem when running with sof-mt8195-mt6359-rt1019-rt5682 topology"
As a result of some internal testing on a machine running the sof-mt8195-mt6359-rt1019-rt5682 topology (but modified to use our DTS Codec pipeline on the speaker path in place of the passthrough pipeline) I received a bug report that audio output was not correct. In the recording I was sent I hear a small segment of buffer repeating ~10 times, then skipping ahead to another segment of buffer, whic

[2021-10-21 01:58] cinerea0 opened #4902 "[BUG] Tools fail to build on i686 and musl systems"
**Describe the bug**
The tools found in the "tools" directory in this repository cannot be built on i686 or x86_64-musl systems. On i686 systems the tools fail to build because of type mismatch (My knowledge of C is minimal, but it seems like "ld" should be "zd" in convert.c.). On x86_64-musl systems the tools fail to build because a topology file can't be parsed. The full error logs for these can

[2021-10-21 14:38] lgirdwood commented on #4892
Adding @plbossart @juimonen @beatabaranowska since this was discussed in TSC around topology qualifiers/negotiation but this really has to be around all ingredients.
@cujomalainey fwiw this also fits into what I'm looking at for after IPC3/4, still early days but intention is to use tuples for all IPC and this could also apply to binary kcontrol config too. https://github.com/thesofproject/ipc-tup

[2021-10-22 01:05] brentlu commented on #3619
Since the FW has been deployed since March 2020 without issue feedback til today, we can close it.

[2021-10-22 01:05] #3619 closed

[2021-10-22 09:55] kv2019i opened #4911 "[BUG] cavs-nocodec tplg puts too much content on one DSP core"
**Describe the bug**
Using all pipes the nocodec topology exposes leads to DSP overload.

**To Reproduce**
Tested on TGL-H system:

sof-test:
./multiple-pipeline.sh -f p -c 20

**Reproduction Rate**
How often does the issue happen ? i.e. 1/10 (once in ten attempts), 1/1000 or all the time.
Does the reproduction rate vary with any other configuration or user action, if so please describe and show t

[2021-10-22 13:10] wszypelt opened #4912 "[BUG] SofIpcErrorResponseException HDA-DMA Error code: -16"
**Describe the bug**
wave file is valid
Bug:
ERROR:Exception SofIpcErrorResponseException occurred at 'C:\\work\\tools\\pyexecnetcache\\cavs_scripts-py\\utilities\\ipc_driver.py':734 FW replied with error. Error code: -16 0x00000005 0x00000000 0x00004000

was found in tests:

02_20_TestPtpCaptureStreamStopStartOperation8000Hz16b16b8ch
02_20_TestPtpCaptureStreamStopStartOperation16000Hz24b32b4ch
02

[2021-10-25 06:46] #4911 closed, assigned to nobody

[2021-10-25 10:59] sanzazacuro opened #4915 "[BUG] Failed to load widget MULTIBAND_DRC1.0 when loading firmware on HP Chromebook x360"
**Describe the bug**
When building SOF for tigerlake from master with topology `sof-tgl-max98357a-rt5682` on HP Chromebook x360, dmesg prints:
`DSP failed to add widget id 0 type 33 name : MULTIBAND_DRC1.0 stream none reply 0`
and ALSA gives `failed to load widget MULTIBAND_DRC1.0`, which causes the audio interface to be disabled and I am not able to use any of the audio usecases.

**To Reproduce*

[2021-10-26 01:11] yangxiaohua2009 opened #4916 "[BUG][JSL] Failed to load firmware on JSL"
**Describe the bug**
The sof DSP failed to boot and the dmesg shows FW Poll Status: reg[0x80000]=0x80000012 timedout on JSL.
The problem looks like #2888 but the error code is different.

**To Reproduce**
Select to use sof on JSL.

**Reproduction Rate**
10/10

**Expected behavior**
DSP firmware boots normally and the start-up process goes on.

**Impact**
firmware boot failure.

**Environment**
1)

[2021-10-26 03:09] XiaoyunWu6666 opened #4917 "[FEATURE] Support build fw with assigned Zephyr commit"
**Problem Description**
There are scenarios that need supports on building fw with assigned Zephyr commit.

In CI routine daily test or PR test, we need stable Zephyr for testing, rather than using the newest zephyr every time. This can eliminate the potential negative impacts brought by the newest Zephyr commits so that we can be braver to include zephyr platforms in our PR test.

**Describe the

[2021-10-26 05:41] ghost opened #4919 "[BUG] IPC error on TRIGGER_PAUSE when multiple pause-resume on CML_SKU0983_SDW"
**Describe the bug**
IPC error on TRIGGER_PAUSE when multiple pause-resume on CML_SKU0983_SDW.
Happened on daily test 7618?model=CML_SKU0983_SDW&testcase=multiple-pause-resume-25.

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt711-rt1308-mono-rt715.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25

**Reproduction Rate**
Only once in the daily test, didn't reproduce with 100 r

[2021-10-26 07:58] #4887 closed, assigned to nobody

[2021-10-27 07:16] keqiaozhang opened #4923 "[BUG] Missing HECI PCI device and SOF firmware failed to load on ADLP Chrome device"
**Describe the bug**
I tried to run sof on ADLP chrome device w/ ubuntuOS installed, but firmware failed to boot with error:
[code]
But same firmware binary can boot under ChromeOS and we used the same coreboot image with chrome team(expect the payload for Ubuntu). This is not the key error and I also force prob i915(i915.force_probe=46a8).

**To Reproduce**
run sof on ADLP chrome device and check

[2021-10-27 11:33] kkarask opened #4929 "[BUG] FW status on IPC timeout in test 07_05_TestKdDmicD0ix16000Hz16b16b2ch"
**Describe the bug**
Tests 07_05_TestKdDmicD0ix16000Hz16b16b2ch and 07_05_TestKdDmicD0ix16000Hz24b32b2ch failed wit error:
ERROR failed to alloc 0x2ea00 bytes zone 0x3 caps 0x8 flags 0x0

**To Reproduce**
Run test 07_05_TestKdDmicD0ix16000Hz16b16b2ch or 07_05_TestKdDmicD0ix16000Hz24b32b2ch with Diagnostic driver

**Reproduction Rate**
100%

**Environment**
1) Firmware branch name and commit.
    *

[2021-10-27 11:57] #4915 closed, assigned to nobody

[2021-10-28 11:46] #4880 closed, assigned to lyakh

[2021-10-29 12:55] playXE opened #4939 "[FEATURE] Support for ES8336 on Huawei Matebook D14-15-16 with i5-10210u"
**Is your feature request related to a problem? Please describe.**
Huawei laptops ship with an Everest ES8336 sound card that is not supported by sofproject.
**Describe the solution you'd like**
Adding support for it would be really awesome
**Describe alternatives you've considered**
I already tried this repo which seems to contain a kernel built with support for it but the audio clearly does not

[2021-10-29 14:32] #4939 closed, assigned to nobody

[2021-11-01 03:03] XiaoyunWu6666 commented on #4742
YES , haven't seen it for quite long and also fix PR merged

[2021-11-01 03:03] #4742 closed

[2021-11-01 03:05] #4492 closed

[2021-11-01 05:08] XiaoyunWu6666 commented on #4492
close #4742 and #4492 , haven't been seen in daily tests for quite long

[2021-11-01 22:16] Johnnynator commented on #4902
Openend https://github.com/alsa-project/alsa-lib/issues/187 for part of the musl issue.

Done

Regarding `{v}asprintf`, what would be considered a acceptable rename?
Sof already uses quite a few nonstandard functions, so forcing musl into a standard compliant mode will break other parts.

[2021-11-02 06:34] keyonjie commented on #4929
I believe this error message actually doesn't impact the KD functionality?
This is for the KPB history buffer allocation, when fails we will retry with smaller size and the request is from LPSRAM where we have 64KB only on TGL. So I think we actually should always see this but the allocation eventually succeed so no impact in functionality. @mrajwa FYI.

[2021-11-02 06:38] keyonjie commented on #4929
BTW @marc-hb the filter feature is very annoying here that it kills useful logs for us:
"Suppressed 19 similar messages:   block %d base 0x%x size %d"

[2021-11-02 07:03] marc-hb commented on #4929
We can discuss turning TRACE_FILTERING_ADAPTIVE off by default as long as that change is:
- not buried / hidden in the middle of something unrelated like #4548
- not confused with TRACE_FILTERING_VERBOSITY as in #4548
- well tested and not triggering a regression like #4779
- not overrunning the ring buffer
- the PR is not mislabeled "Minor Fixes" as non-minor #4860 and others

Even before discuss

[2021-11-02 07:12] marc-hb commented on #4779
#4793 was replaced by #4820 and #4844

[2021-11-02 08:23] keqiaozhang commented on #4923
This is the first time we run Ubuntu on ADLP Chromebook,  I'm not sure whether it's a regression or not. But I did some debugging.
1. tried same firmware binary, only failed under Ubuntu OS.
2. tried same coreboot(same coreboot image, but with Ubuntu payload installed) and EC firmware as ChromeOS, still failed under UbuntuOS.
3. tried chrome kernel 5.10, got same results as above.

I also did some

[2021-11-02 10:26] bkokoszx commented on #4929
Hi @keyonjie
I misled you during bugscrub - it looks like we have another problem here (some timeout). @kkarask is checking that. We will make an update later.

[2021-11-02 11:04] kkarask commented on #4929
@keyonjie There is timeout on IPC:

Exception TimeoutError occurred at 'C:\\work\\KK\\cavs_scripts-py\\utilities\\ipc_driver.py':603
FW status on IPC timeout after 5.0 seconds:
0x00000005 0x00000000 0x00004000

[code]

when test passed there is a response from that IPC:
[code]
The error: ERROR failed to alloc 0x2ec00 bytes zone 0x3 caps 0x8 flags 0x0 was not the real reason test failed, so I chang

[2021-11-02 16:02] marc-hb commented on #4929
Just to be sure: the bisect result is still the same?

[2021-11-03 07:17] kkarask commented on #4929
@marc-hb yes, bisect result is still the same with reproduction rate 100%.

[2021-11-03 13:54] marc-hb commented on #4911
ll_schedule: add a DSP load tracker to ll_tasks_execute #4943

[2021-11-04 12:23] wszypelt opened #4961 "[BUG] TimeoutError occurred 12_01_TestMixerCapture24000Hz24b32b4ch"
**Describe the bug**
An error occurs if we set the playback iteration to be greater than 1

ERROR:Exception TimeoutError occurred at 'C:\\work\\_KK\\cavs_scripts-py\\modules\\sof\\stream.py':118 Capture stream not running for 1 seconds

was found in test:
12_01_TestMixerCapture24000Hz24b32b4ch

**Topology**
[code]
Prepare 3 Host-Dai playback pipelines. Mix 3 capture pipelines into one using Mixer

[2021-11-05 04:34] hongshui3000 opened #4965 "Is there an introduction and usage document for topology2?"
Is there an introduction and usage document for topology2?

[2021-11-05 10:05] singalsu opened #4967 "[FEATURE] Optimize audio processing components' source/sink buffer access, deprecate read/write frag"
**Is your feature request related to a problem? Please describe.**
Yes, audio_stream_read_frag_sXX() and audio_stream_write_frag_sXX()  cause high processing load due to their check for circular buffer wrap for every PCM sample. E.g. in stereo mixer case the overhead from those functions was 30 MCPS in CML cAVS platform.

**Describe the solution you'd like**
Access buffers in max. size blocks befo

[2021-11-05 14:04] fhost commented on #4662
Hello, I've update my laptop, and I have the same issue as the one describe here originally, and I have the same card (rt5645). After some time (few seconds to several minutes), it stops playing and I have the screaming high sound.

The issue doesn't seems to generate any logs (I've looked in pulseaudio and dmesg).

I'm on Archlinux, sof 1.8 and kernel 5.12.15.

I did not try to recompile the kern

[2021-11-05 14:43] hedmo commented on #4662
@fhost  try to remove all legacy drivers in your kernel . That worked for me.  When time comes i Will clean out My kernel more and test with legacy added again but for now i Will Keep legacy removed.

Regards.

[2021-11-05 14:54] fhost commented on #4662
Thanks ! Which drivers are the legacy ones ? I've just discover SOF today... So I still don't get way exactly it is.

[2021-11-05 17:29] plbossart commented on #4662
@fhost there's no need to remove legacy drivers as suggested above.

We haven't been able to root-cause the 'screaming sound' issue (already reported on https://github.com/thesofproject/sof/issues/3868) , so at this point you have two options
a) stay with legacy snd_intel_dspcfg.dsp_driver=2
b) enable the trace with SOF snd_sof.sof_debug=1

snd_soc_rt5645.quick=0x31 is a separate configuration for

[2021-11-05 20:11] plbossart commented on #4916
@lgirdwood @mwasko this problem was reproduced by @hli25, it would appear the firmware was signed either with the wrong key, wrong masks or wrong CSE tools.

[2021-11-05 22:34] cujomalainey commented on #4769
We are testing the CRAS workaround right now, but still underlying error exists

[2021-11-05 23:49] marc-hb commented on #4333
check-sof-logger hasn't been failing anymore, even after its "DMA nudge" was reverted in https://github.com/thesofproject/sof-test/pull/770. But that only proves the logs are not totally empty. It does not prove they're complete.

So I tried to revert locally the other DMA nudge in hijack.sh (commit https://github.com/thesofproject/sof-test/commit/89b0b24dd5193). This other nudge applies to ALL te

[2021-11-08 02:44] keqiaozhang commented on #4813
@lyakh any updates on this issue?

[2021-11-08 02:50] XiaoyunWu6666 commented on #4779
Since relevant PRs were already merged and  havent happened in inner daily tests for nearly 50 days . So close it

 relevant PRs : thesofproject/linux#3167 #4820 and #4844

[2021-11-08 16:53] mwasko commented on #4916
@plbossart the JSL 1.9 FW signature looks ok, but I will take a closer look on that

[2021-11-08 17:12] mwasko commented on #4923
That is correct and in case of unfortunate timing the retry should address the problem. The interesting part is how it actually works on Chrome OS. I would like to recommend investigation of SOF driver routine that load FW and check if there are no differences between Chrome and Ubuntu OS.

Generally from FW perspective there is not much we can do about it.

[2021-11-08 17:50] plbossart commented on #4923
@mwasko there's no difference at the driver level see above the chrome kernel used in Ubuntu also has a problem

And we already retry 3 times before throwing an error, see above.

[2021-11-08 17:55] kv2019i commented on #4834
Given #4839 is merged, this can be closed @bkokoszx  ?

[2021-11-08 23:29] cujomalainey commented on #4769
So our workaround prevents the crash, but we have a new crash that is blocking the release

[2021-11-08 23:52] cujomalainey opened #4970 "[BUG] Plug/unplug on headset stress breaks hw_params"
**Describe the bug**
Toggling between outputs/inputs breaks SOF, this is another bug found after a workaround for #4769

**To Reproduce**
[code]
on a chromebook loaded with NC and Hotword to really stress the DSP.

**Reproduction Rate**
Indeterminate

**Expected behavior**
DSP would stay alive

**Impact**
showstopper

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmw

[2021-11-09 02:37] johnylin76 commented on #4970
The firmware we use is built by TGL-013 drop stable (including [PR#4833](https://github.com/thesofproject/sof/pull/4833)). The topology file is sof-tgl-max98373-rt5682-igonr.tplg

[2021-11-09 07:31] bkokoszx commented on #4834
@kv2019i
Yes, I think we can close it.

[2021-11-09 07:31] #4834 closed

[2021-11-09 08:47] singalsu commented on #4967
Changed IGO optimize priority to high.

[2021-11-09 13:40] sanzazacuro opened #4971 "[BUG] Install custom kernel build on device for enabling debug data from DSP (HP Chromebook X360)"
**Describe the bug**
When trying to get debug data from SOF, I encouter the errors:
`error: in logger_read(), fread(..., /sys/kernel/debug/sof/etrace) failed: Operation not permitted(-1)`
`error: debugfs entry cannot be read in DSP D3`

By reading other issues in GitHub, I figured this would be solved by building a new kernel with the Kconfig flags in `sof-dev-defconfig` (in Kconfig repo, CONFIG_S

[2021-11-09 14:25] mwasko commented on #4923
In that case you need to contact BIOS/CSME team for support.

[2021-11-10 01:26] cujomalainey commented on #4970
here is a fw log of the crash. Crash starts at line 186676 from what I can tell [fw_log.txt](https://github.com/thesofproject/sof/files/7509055/fw_log.txt)

[2021-11-10 05:43] ranj063 commented on #4965
@hongshui3000 I've just opened a PR for this:
https://github.com/thesofproject/sof-docs/pull/380

[2021-11-10 17:07] plbossart commented on #4916
@yangxiaohua2009 @tomty89 @systematicat can you unzip this file
[sof-jsl-signed.ri.gz](https://github.com/thesofproject/sof/files/7514615/sof-jsl-signed.ri.gz) as /lib/firmware/intel/sof/sof-jsl.ri and retry? Internal tests show that this solves the authentication problem. This file would be added to the 1.9.2 release if it's successful. Thanks!

[2021-11-11 15:02] lgirdwood commented on #4929
@keyonjie any update ?

[2021-11-11 15:04] lgirdwood commented on #4902
Can you point to the places where we break musl ?

[2021-11-11 15:06] lgirdwood commented on #4542
@kv2019i @lyakh can we close ?

[2021-11-11 15:22] lgirdwood commented on #4919
@plbossart @keyonjie any updates, can we close ?

[2021-11-11 15:54] Johnnynator commented on #4902
You reimplement `asprintf` and `vsprintf` here:

https://github.com/thesofproject/sof/blob/158089ceb69d8c685992c52d54e07483cec32b05/tools/logger/misc.c#L15-L42

The api differs from what is usually expected on most Unix systems, so the compiler will refuse it on musl, you just got lucky not hitting the problem also on glibc.

[2021-11-11 16:59] lgirdwood commented on #4902
I wonder why we do this, it could be to support Windows?
@Johnnynator You are right, we should not be defining if already available.
@juimonen is this something you can fix. Thanks !

[2021-11-11 19:54] marc-hb commented on #4542
I've been using `sof-hda-generic-4ch.tplg` with Zephyr on my WHL Up Xtreme and I don't think I have seen anything "explode" but what does that mean? Can we have some basic reproduction steps and error message?

[2021-11-12 01:10] keqiaozhang commented on #4542
We haven't seen this issue on TGL UP Xtreme.

[2021-11-12 05:59] lenghonglin commented on #3632
How is it going now? I would like to know the progress for IMX RT for sof.  Could you ask for the situation to i.MX RT team, thanks very much!

[2021-11-12 07:20] dbaluta commented on #3632
@lenghonglin there is no plan to support OpenAMP with SOF. Anyhow, patches are welcome.

[2021-11-12 07:47] lenghonglin commented on #3632
I wonder know the plan about imx rt600 support for sof project ,  the OpenAMP is not important for me ,

[2021-11-12 07:52] dbaluta commented on #3632
As a personal project i have sof on rt600 on my todo list. But I don't have any experience with RT series and I would appreciate that I wont have time for this in the near future.

@lenghonglin what is your usecase for this? Are you an NXP customer?

[2021-11-12 09:03] lyakh commented on #4542
@lgirdwood just double-checked: I'm still getting a flood of xruns, followed by a DSP panic in `host_copy_normal()`:
[code]
[code]

[2021-11-12 09:08] lenghonglin commented on #3632
![image](https://user-images.githubusercontent.com/4686802/141441002-c06ba39a-57ea-470f-b4e5-1e2317768004.png)

yes! and  i think if imx rt support  sof project , the audio application will easy to develope~

[2021-11-12 09:53] fhost commented on #4662
Thanks! Both solution seems to work fine. I'll stick with solution b) for the moment because sof brings some improvements ;)

If I can help with something to find the root-cause, feel free to ask.

[2021-11-12 12:25] joakim-tjernlund opened #4986 "SOF FW 1.9 ABI vs kernel 5.14.17 ABI mismatch"
dmesg reports:
[code]

Should not kernel 5.14.x have matching ABI with SOF 1.9 ?

[2021-11-12 13:29] lgirdwood commented on #4986
This is allowed as the FW has to work with multiple kernel versions, but its possible this warn level should be an info as it's not fatal. @plbossart @marc-hb IIRC, was there a recent discussion on updating some of the kernel messages to different levels ?

[2021-11-12 13:35] joakim-tjernlund commented on #4986
Right, it "works"  but maybe there will be some artifacs ?
Anyhow, a recent kernel should have matching ABI, what is the point of have a new ABI if no one is using it?

[2021-11-12 15:30] lyakh commented on #4542
@plbossart sorry for not replying earlier. You mean also using the hda-generic topology on UP2? Sorry, I still haven't set up an UP2 in that mode. I have a second one, so I can use one with a hat and another one with HDA, just need to do that

[2021-11-12 15:45] plbossart commented on #4986
@joakim-tjernlund 5.14.x is already "old" compared to SOF 1.9. Due to the pipeline effect of Linux kernel integration, we upstreamed the patches for 5.14 before 5.13 was released by Linus Torvalds, so June 2021. That means that by construction some of the newer features of the SOF 1.9 release will not be enabled, but the SOF firmware operates in backwards-compatible mode.

We could argue and repai

[2021-11-12 15:59] plbossart commented on #4662
Thanks for the offer @fhost.

It's a tricky race condition to fix really. With the trace disabled well we have no logs to figure out what went wrong. And with the trace enbled we have an Heisenbug effect where the problem doesn't happen.... And all our CI tests enable the trace, so it's an area where we don't have a good coverage.

[2021-11-12 17:15] joakim-tjernlund commented on #4986
looks like even 5.15 is still on the old ABI ?
[code]

[2021-11-12 17:49] lgirdwood commented on #4916
@marc-hb fyi - will need a release update.

[2021-11-12 17:53] lgirdwood commented on #4901
@markbartonxperi any update ?

[2021-11-12 17:53] marc-hb commented on #4986
I can think of these two:

- https://github.com/thesofproject/sof-bin/issues/9
- Ignoring the PATCH level on the user side: https://github.com/thesofproject/linux/issues/2647

Even the latest [`topic/sov-dev` ](https://github.com/thesofproject/linux/commits/topic/sof-dev) branch is still on 3.18, AFAICT there hasn't been any 3.19 bump on the ABI user side anywhere yet: https://github.com/thesofpro

[2021-11-12 17:53] lgirdwood commented on #4414
@lyakh @kv2019i still an issue ?

[2021-11-12 17:55] lgirdwood commented on #4680
@lyakh @kv2019i still an issue with the sync STOP PR now merged ?

[2021-11-12 17:58] lgirdwood commented on #4923
@keqiaozhang is this failure from power ON or reboot. Just thinking if this needs @keyonjie IMR PR

[2021-11-12 18:01] lgirdwood commented on #4813
@1994lwz can you retest with HEAD, we have a pause/STOP update merged by @lyakh so would be interested

[2021-11-12 18:14] marc-hb commented on #4916
Indeed it looks like JSL was signed with the ICL key:

[code]

[2021-11-13 14:17] tomty89 commented on #4916
@plbossart Yeah the errors are gone with the firmware you linked.

However, I can't actually get proper sound out of my laptop when I have kernel 5.15.2 patched in the way I mentioned in https://github.com/thesofproject/linux/issues/3210#issuecomment-943506955. All I get is a "pop" when the device is opened (when on headphone) and closed. (But well, I suppose I'll won't actually use the internal c

[2021-11-15 06:58] lyakh commented on #4414
@lgirdwood interesting, what's the reason for the asymmetry - sending the XRUN notification to the user-space for capture overruns but not for playback underruns?

[2021-11-15 08:21] lyakh commented on #4414
Replying to myself after a discussion with @kv2019i and @ujfalusi: seems like an asymmetry might indeed be justified there. For capture any overrun means a data loss, whereas for playback some host DMA underruns might be recoverable if the DAI DMA still has enough data to copy for an additional timer period.

[2021-11-15 08:42] lyakh commented on #4414
as for the actual issue, I've just double-checked and was unable to reproduce it. In the latest daily test multiple-pipeline-capture-50 still failed on this platform, but differently. And I wasn't able to reproduce either of the issues locally. @XiaoyunWu6666 should we close this one and trace the new failure in a different issue? The classification doesn't seem to be correct, I don't think any CI

[2021-11-15 09:29] lyakh commented on #4680
@lgirdwood multiple-pipeline-playback.sh passes now in daily tests, @kv2019i good to close or were you reproducing this manually?

[2021-11-15 10:19] kv2019i commented on #4680
@lyakh @lgirdwood Good to close -- I think it's Seppo's mixer optimization PR that makes the tet pass. It was also now merged.

[2021-11-15 12:25] perexg opened #4993 "Signed files in v1.9 - increased file sizes by 40%"
I just noted that the signed firmware (.ri) file sizes are increased by 40% . It may show some issue (missing strip for the debug symbols or so) ?

[2021-11-15 18:19] plbossart commented on #4916
@tomty89 thanks for testing, much appreciated.

 the latest code we have to support Intel platforms with the ES83316 device is here: https://github.com/thesofproject/linux/pull/3107
You would need to pick this branch and install a custom kernel.

If you can give it a try and report your findings in https://github.com/thesofproject/linux/issues/2955 that would be great.

[2021-11-15 18:53] joakim-tjernlund commented on #4986
Why not? Seems strange to define a new ABI if no one is using it.

[2021-11-15 19:31] marc-hb commented on #4986
On the SOF side, 3.19 added `SOF_IPC_INFO_D3_PERSISTENT` (commit f79bbb296d77bf0d8fd) while 3.20 added `SOF_DAI_CONFIG_FLAGS_PAUSE` and related (commit f6c4853271722). Github links commits to the corresponding code reviews.

[2021-11-15 19:35] plbossart commented on #4986
it's not a 'new' ABI, only minor variations to enable new capabilities in backwards-compatible ways. There's no way we can synchronize release of kernels and firmware, and it's even worse when you take into account downstream, so these new capabilities will be used when the kernel is updated.

[2021-11-15 19:44] marc-hb commented on #4986
@plbossart are you basically saying that SOF 3.18 is the _minimum_ firmware required by the current kernel, however recent kernel versions will dynamically and already use 3.19 and 3.20 SOF features when they find them available?

The docs don't seem to mention this https://thesofproject.github.io/latest/contribute/process/abiprocess.html

[2021-11-15 20:34] plbossart commented on #4986
no, we've tested that our development kernel also works with SOF releases 1.6 and 1.7. We haven't tested earlier SOF versions but they should also work when the kernel is updated ("we don't break userspace" (tm))

I don't know what 'current' kernel means, it depends on whom you ask.

[2021-11-15 20:48] marc-hb commented on #4986
So what do the numbers 3.18 really mean when used on the kernel side?

I meant any kernel new enough to use 3.19 and 3.20 features while still being marked 3.18

[2021-11-15 22:04] plbossart commented on #4986
I have no idea what you are asking @marc-hb, please see https://thesofproject.github.io/latest/contribute/linux/development_tree.html#id3

[2021-11-15 22:24] lgirdwood commented on #4414
Lets close, we can reopen if needed.

[2021-11-15 22:34] lgirdwood commented on #4542
@lyakh any solution for the oops, looks like a NULL ptr or an assert().

[2021-11-15 22:40] tomty89 commented on #4916
@plbossart I already did (please see the linked comment above to see what exactly I've applied), and the result is above -- I get an analog alsa device, but no sound actually coming out (other than the pops mentioned).

[2021-11-15 22:42] lgirdwood commented on #4970
[code]
This has been fixed in recent kernel and FW, it causes the host DMA to get stuck and requires a reboot.
@bkokoszx do you have all the info you need to backport the fix ? It involves a change to the IPC flow in order to shutdown the DMA in the correct host/FW sequence.
@sathya-nujella this also some kernel patches that need a backport (I think they are now merged upstream).
@plbossart @ranj0

[2021-11-15 22:48] cujomalainey commented on #4970
This would be needed on TGL-013 or a new TGL branch

[2021-11-15 22:54] sathya-nujella commented on #4970
I saw these prints in my local tests, but it was not fatal in my case.  Audio worked even though I saw these prints.
Not sure if I am missing some thing.

Sure Liam, thank you.

@bkokoszx , can you please help give a test fw branch out of tgl-13 including the fixes as @lgirdwood mentioned for cross checking for this particular issue ?

[2021-11-15 23:08] plbossart commented on #4916
@hli25 did you get audible sound on the JSL platform you tested, if yes can you share the alsamixer settings used?

[2021-11-15 23:12] plbossart commented on #4970
If you allowed the device to suspend, then it's a recoverable error. but in stress tests or in cases where the device doesn't suspend there's no way to recover.

[2021-11-16 01:11] Rogety opened #4991 "[BUG] build SOF fail with docker"
**Describe the bug**
I run ./docker-build.sh in .../sof_buiilder directory
the mirror http://isl.gforge.inria.fr/ is down
Then I stuck in downloading isl-0.19.tar.xz

the mirror http://isl.gforge.inria.fr/ is down
So I change mirror https://libisl.sourceforge.io , it can work
but the cnofig file in SOF project should be change, also.
When I git branch SOF project, the script also stuck here.

**To

[2021-11-16 02:03] marc-hb commented on #4986
Unlike what our ABI versioning may sometimes look like, semver.org is **asymmetric**: it defines upgrade rules for one side only and one way backward compatibility only. Example: semver guarantees that upgrading libfoo 3.14 to libfoo 3.15 works fine when the user needs libfoo 3.12 features.  Semver says nothing about upgrading the other, "user" side and does not even care whether there is a versio

[2021-11-16 03:08] keyonjie commented on #3170
We are still seeing this in recent daily report.

[2021-11-16 07:31] lyakh commented on #4746
fixed by #4868

[2021-11-16 07:31] #4746 closed

[2021-11-16 09:02] markbartonxperi commented on #4901
@lgirdwood Apologies for the delayed reply.
As we were able to change the pipeline period for the topology of interest (mt8195) to 1000 we've been able to work around this issue in the short term.
However, it would be great to work out what changes I need to make to allow our codec to work with an optimal buffer size for any pipeline period.
I think you mentioned that I should try following up wit

[2021-11-16 09:55] bkokoszx commented on #4970
Hi @lgirdwood
Do you mean to backport those changes:
https://github.com/thesofproject/sof/pull/4922
?

[2021-11-16 11:31] hongshui3000 opened #4995 "What does "Initial infrastructure support for MS Windows" mean to release features in v1.9?"
Can you build code on windows? Or can Windows be used as a host to communicate with dsp like linux?
![1637062561(1)](https://user-images.githubusercontent.com/25566498/141978451-db0a8641-eda3-4eb8-bc28-f3c94bb1e203.jpg)

[2021-11-16 12:43] dbaluta commented on #4995
@hongshui3000 i suppose it is the IPC4 commands protocol used by windows to communicate with the SOF firmware. @lgirdwood could tell you more about this.

[2021-11-16 13:45] lgirdwood commented on #4993
@keyonjie is this DATA or BSS in the .shared_data section or both ?. I 'm thinking here this must be mostly  BSS due to the growth size ? This also sounds like a fix is needed in rimage ?

[2021-11-16 13:53] lgirdwood commented on #4995
It is indeed the IPC4 and Extended manifest support being added that is used by the Intel Windows audio DSP driver. This will also extend to support the Microsoft APO APIs (for audio processing too) and many other features used by Windows.

[2021-11-16 13:56] lgirdwood commented on #4970
@bkokoszx yes exactly those, btw there are kernel updates needed too as the IPC flow has a changed. @sathya-nujella I guess you can see the kernel patches to back port.
@mwasko fyi.

[2021-11-16 15:26] lgirdwood commented on #4991
@greg-intel are you able to reproduce since you are currently validating the SDK.
@marc-hb any impact for CI ?

[2021-11-16 15:38] juimonen commented on #4991
@Rogety you want to build the docker image yourself (are you perhaps modifying it)? or just:
"docker pull thesofproject/sof" to get the pre-built image and start to compile sof...

Anyway agreed that the image building should also work.

[2021-11-16 15:57] marc-hb commented on #4991
@Rogety can you test tentative fix https://github.com/thesofproject/crosstool-ng/pull/11 ?

[2021-11-16 16:01] marc-hb commented on #4991
Wait, one of the main purposes of the Docker image is to provide the already built toolchain(s) so you do NOT have to build them.

Either you don't build the toolchain, or you don't use the Docker image. I don't see why you're building the toolchain(s) that are already built in the image. Have another look at the documentation.

[2021-11-16 18:02] kv2019i commented on #4731
This still happens. Last logs with sof-logger working on Zephyr build:
[    11058504.716825] (         130.625000) c1 hda-dma            ..../intel/hda/hda-dma.c:937  INFO hda-dmac :7 -> remove
[    11059868.570937] (        1363.854126) c1 dma                           src/lib/dma.c:141  INFO dma_put(), dma = 0x9e05fbf0, sref = 0
[    11060057.529263] (         188.958328) c1 hda-dai      3.0   /

[2021-11-16 23:30] cujomalainey commented on #4970
ADL-003 would also need to be patched as I suspect this is a load issue related to NC algorithms.

[2021-11-17 00:05] keyonjie commented on #4731
#4994 might help, @kv2019i

[2021-11-17 01:03] hli25 commented on #4916
Please try to set "DAC" to 100 via alsamixser  @tomty89

[2021-11-17 02:03] hongshui3000 commented on #4995
good news.

[2021-11-17 02:25] XiaoyunWu6666 opened #4996 "[BUG] xrun on multiple NOCODEC platforms when multiple pause release"
**Describe the bug**
When running multiple pause release ,**dai_report_xrun(): underrun due to no data available**  happened with xrun recovery failed and pipeline stopped.
This happened on multiple nocodec platforms including CML_RVP_NOCODEC ,  JSL_RVP_NOCODEC  , TGLU_RVP_NOCODEC ,APL_UP2_NOCODEC  , ADLP_RVP_NOCODEC ,etc , since  2021-11-13 (inner daily result 8155)

**To Reproduce**
TPLG=/lib/fi

[2021-11-17 02:42] Rogety commented on #4991
I found script stuck here
[code]
I fond the reason is that
[code]
many config file in crosstool-ng in thesofproject should be modify.

I am newcomer  in my company, and I will take care of audio driver to verify board in the Chromium-OS project
I am studying SOF documentations and follow these instructions and trying to build SOF

@juimonen I guess I just need to get the pre-built image and start

[2021-11-17 03:20] XiaoyunWu6666 commented on #4996
@lyakh
FYI , @keyonjie run with the PR 4893 that reverted ]PR 4960, result : inner result 8207 The only one failure here is because of trigger release, no xrun happen.

For double confirm , I run another multiple pause release 100 test for multiple nocodec platform with PR 4893 , inner result 8251 (result pending)

[2021-11-17 05:05] marc-hb commented on #4991
https://github.com/thesofproject/crosstool-ng/pull/11

The Docker image is _already_ setup: do not rebuild the toolchains that are already built in. Don't mix up the two distinct sections in the documentation.

[2021-11-17 06:46] lyakh commented on #4731
as you last tested this, was #4987 already in your tree? It got merged a couple of hours before your last post

[2021-11-17 09:23] kv2019i commented on #4731
Still fails with today's SOF main. I think this is something in the Zephyr wrapper as this happens with 100% production rate, so this is not a timing race or anything like that.

[5261581.452358] sof-audio-pci-intel-tgl 0000:00:1f.3: ipc tx: 0x30110000: GLB_TPLG_MSG: PIPE_FREE

[2021-11-17 09:39] lyakh commented on #4996
I've looked at the latest daily result on APL nocodec, and I think I have an idea why this can be happening. The reason might be, that now that we handle STOP and PAUSE in pipeline tasks, we often have to stop several pipelines in cases, like a topology with a mixer, where the host and the DAI belong to different pipelines, and each of them has its own task. So the order might be important and whe

[2021-11-17 11:23] tomty89 commented on #4916
Nope, it doesn't help (it's 100 by default anyway). And toggling/adjusting other mixer controls doesn't seem to help either. (Btw I don't know if it's expected but there's no master control. There are only the Headphone and Speaker switches and the Headphone Mixer volume control (and a bunch of other whatsoever).

[2021-11-17 13:56] lgirdwood commented on #4995
There is, please enable the IPC4 MAJOR ABI in the Kconfig to build the Windows based IPC used by the Intel Windows driver. Please note this cannot be tested outside Intel atm as it require access Windows driver code.

[2021-11-17 14:08] lgirdwood commented on #4916
@tomty89 can you run ```amixer contents``` during playback and past the output here, it could be we are missing one mixer control setting.

[2021-11-17 14:26] lgirdwood commented on #4996
I think the general robustness fix here is that when we have connected pipeline they are allowed to overrun and underrun without it being fatal. i.e.
1) pipeline source underruns - we copy 0s
2) pipeline sink overruns - we overwrite oldest data.

[2021-11-17 14:26] lgirdwood commented on #4996
Btw, this wont stop rc1, we can fix for v2.0 final though.

[2021-11-17 15:35] plbossart commented on #4996
ALL the default topologies moving forward will have mixers and connected pipelines, not sure there's any merit in defining what we should do in a xrun. What we need to do is avoid the xrun in the first place. I've honestly NEVER seen this sort of concealment provide any benefit, in fact more often than not you end-up with worse problems such as channel swaps, etc.

[2021-11-18 00:19] Rogety commented on #4991
@man-hb OK, thank you.

[2021-11-18 00:48] keyonjie commented on #4996
If there is no simple/quick fix for it, I would suggest to revert PR 4960 for the release, and add back new version which verified pass the multi-core stressful CI later.

[2021-11-18 01:37] marc-hb commented on #4991
@greg-intel did you find a documentation issue here?

[2021-11-18 07:43] keyonjie commented on #4929
Looks we are quite lack of KWD coverage in our CI now, check-keyword-detection.sh event can't run on any of our 29 daily models, @keqiaozhang @aiChaoSONG @mengdonglin FYI.
Without that, we don't have this PM_GATE IPC validation at all, need to re-enable that and debug what happens here, with the latest main.

[2021-11-18 08:49] keqiaozhang commented on #4923
@lgirdwood this failure is from power on, so I don't think IMR PR will help.

[2021-11-18 13:59] singalsu commented on #4901
@markbartonxperi Does dev->frames work for you? It's set by framework to nominal frames count per copy() schedule. I'm using it in many components to allocate resources. I'm assuming e.g. max 1.1 times of that to be max. samples to process. Maybe that's today a bit excessive so could be closer to 1.0. Due to timer based scheduling there's quite often +/- 1 frames jitter in frames avail/free in buf

[2021-11-18 16:46] lgirdwood commented on #4996
I agree, that the xrun term is being used in too many places, it's really better suited to any external endpoint not consuming or providing data.

The connected pipelines do need to better tolerate (and avoid) underrun and overrun conditions as they can all be independently triggered by the host.  This is why we need the rules above to support connected pipelines to avoid channels swapping (as we

[2021-11-18 16:49] lgirdwood commented on #4967
PCM converter generic (high) - pls do this next.

[2021-11-18 18:32] greg-intel commented on #4991
Yes, I think step four "Get a Docker image with the SOF build environment" under "Set up docker" doesn't split the approaches into distinct enough sections.

[2021-11-18 19:16] marc-hb commented on #4991
Transferring this to sof-docs

[2021-11-18 22:38] sathya-nujella commented on #4970
with this,
	tgl-13 private branch with NC patches
	+
	https://github.com/thesofproject/sof/pull/5006

I am not able to reproduce: "sof-audio-pci 0000:00:1f.3: error: hda_dsp_stream_trigger: cmd 0: timeout on STREAM_SD_OFFSET read". Thank you to @ranj063 for sharing this minimalistic changes to avoid the issue.

Hi @cujomalainey , @johnylin76,
I ran the script with the above firmware and don't see

[2021-11-19 00:00] ranj063 commented on #4970
@sathya-nujella just to clarify, this is only meant as a hot fix for TGL. For ADL, we should backporrt both the kernel and FW fixes fully.

[2021-11-19 01:11] tomty89 commented on #4916
[amixer_controls.txt](https://github.com/thesofproject/sof/files/7567041/amixer_controls.txt)
[amixer_contents.txt](https://github.com/thesofproject/sof/files/7567046/amixer_contents.txt)

I'm not sure if that could be the cause though. It feels more like some kind of routing / pin problem to me somehow, or some low-level parameters to open the DAC is wrong. Also, after a second thought, the mixer

[2021-11-19 01:31] marc-hb commented on #4916
Please file a different bug for problems happening _after_ loading the firmware.

[2021-11-19 05:42] keyonjie opened #5007 "[BUG] [ADLP] invalid blob size for WoV detect_test"
According to CI daily report, KWD feature doesn't work and check-keyword-detection.sh case fails on adlp-rvp-hda.

Initial analyze found that the failure happens at hw_param() and test_keyword_set_config() stage, the blob size is set to 2000 where it should be 0x20.

It works with both 1.9 and 1.8 FW.

**To Reproduce**
arecord -Dhw:sofhdadsp,7 -M -N --buffer-size=96000 -f s16_le -r 16000 -c 2 /dev

[2021-11-19 11:21] markbartonxperi commented on #4901
@singalsu Thanks for the input.
I took a look at this today.... I'll try and summarise some of the above and describe what I've looked into today, as I feel like I'm missing something very obvious here :)

My test system is an Up! Xtreme, so I'm working with the `sof-hda-generic.m4` topology. I insert my codec on pipeline 1, which corresponds to the headphone output on that board.

In the first te

[2021-11-19 11:43] singalsu commented on #4901
@markbartonxperi Ouch, that looks like a bug in the framework or topology macros. Need to find out where.

[2021-11-19 12:26] bkokoszx commented on #4970
@ranj063 @sathya-nujella @cujomalainey @lgirdwood
Recently created https://github.com/thesofproject/sof/tree/adl-004-drop-stable is based on https://github.com/thesofproject/sof/tree/stable-v1.9, so it already contains "HDA DMA sequence refining" changes.

[2021-11-19 13:47] lgirdwood commented on #4901
Thanks @singalsu - lets take this fix for rc2.

[2021-11-19 13:50] markbartonxperi commented on #4901
@singalsu @lgirdwood Let me know if you want me to test anything, or debug any code paths with logging on my system.
Thanks

[2021-11-19 16:00] lyakh commented on #4996
#5000 now fixes this. See internal test result number 8332.

[2021-11-19 16:16] sathya-nujella commented on #4970
Adding @sathyap-chrome for ADL visibility.

[2021-11-19 18:03] marc-hb commented on #4916
v1.9.2 has been merged in sof-bin.git

[code]
All older `intel-signed/sof-jsl.ri` files had been signed with the `(ICL Intel prod key)`

[2021-11-19 18:24] cujomalainey commented on #4970
@johnylin76 can you produce a FW build and share internally with NC so we can stress test it? Thanks @sathya-nujella and @bkokoszx

[2021-11-19 19:24] kkurbjun commented on #1676
I am running with SOF on my laptop and have been looking into why I cannot get multi-channel audio or HDMI bitstream passthrough when SOF is loaded.  If I boot with the legacy HDA code ("options snd-intel-dspcfg dsp_driver=1" ) I am able to select 5.1 profiles with pulseaudio/pipewire but when I let SOF load I only get the option for 2 channel PCM over HDMI.

As you called out the legacy HDA drive

[2021-11-19 19:45] plbossart commented on #1676
@kkurbjun the primary reason is that the topology files for SOF/HDaudio platforms only use 2 channels. There is no real restriction in the kernel driver proper, it will just follow what the topology indicates. It's something we are planning to fix but likely in 2022 at this point. Thanks for your understanding.

[2021-11-22 01:43] keqiaozhang commented on #4873
Closing... this issue is not reproducible.

[2021-11-22 01:43] #4873 closed

[2021-11-22 08:38] wszypelt commented on #4470
Issue still occure

[2021-11-22 08:42] miRoox commented on #4538
cannot be reproduced, close.

[2021-11-22 09:19] miRoox commented on #4680
Reproduced in recently daily tests.

[2021-11-22 09:19] XiaoyunWu6666 commented on #4680
happened again in inner daily test result 8364
on model TGLH_RVP_NOCODEC_ZEPHYR
in testcase=multiple-pipeline-all-50

[dmesg]
[code]

[2021-11-22 10:00] keyonjie commented on #5007
Looks this is not reproduced with latest main, let's close it for now.

[2021-11-22 10:00] #5007 closed

[2021-11-22 10:11] keyonjie opened #5017 "[BUG][BYT][BDW] There are host position update warnings always"
There are many host position update warnings from sof-logger according to recent daily test on Intel's BDW and BYT platforms:

[code]

**To Reproduce**
Just run any playback or capture streams on BDW/BYT, and check sof-logger logs.

**Reproduction Rate**
It happens in about every 500ms~2s when the stream is active

**Expected behavior**
We didn't have this warning previous.

**Impact**
Not sure if

[2021-11-22 10:25] keqiaozhang opened #5018 "[BUG] [ADL][ZEPHYR] failed to enable target core for widget SSP0.OUT on ADLP ZEPHYR platform"
**Describe the bug**
When playing audio on adlp zephyr platform, it runs to:
[code]
After debugging, this regression is related to recently tplg changes(multi-core enabling).

**To Reproduce**
aplay   -Dhw:0,0 -r 48000 -c 2 -f S16_LE /dev/zero -vvv

**Reproduction Rate**
100%
**Expected behavior**
no ipc error

**dmesg**
[code]

**Environment**
1) Kernel Branch: topic/sof-dev /a9c617ef
2) SOF Bran

[2021-11-22 11:44] miRoox commented on #5017
After bisect, I found this warning is first introduced by b82e0efc7557e1bcaaed21ab76e36155404848b3, but it seems to bring the underlying issue to the surface, not the root cause.

[2021-11-22 13:28] Sciss commented on #2572
Hi there. I think I run into the issue listed here. The sound card is listed by aplay as

[code]
It works with Pulse Audio, and some ALSA applications like aplay, but jackd has lots of trouble with it. Finding a bug [listed for Ubuntu](https://bugs.launchpad.net/ubuntu/+source/jackd-defaults/+bug/1872244), I managed to make them work together by setting the block size to 2016, and then forcing the

[2021-11-22 13:40] buscon commented on #2572
@Sciss thanks for your suggestion and temporary solution!

I have one question though: what do you mean with block size 2016? Do you mean the buffer size? the possible value is actually 2048.

[2021-11-22 15:28] lyakh opened #5020 "[BUG] trace corruption"
**Describe the bug**
SOF trace can become corrupted sometimes

**To Reproduce**
Use sof-logger to capture debug trace and then verify the capture. Search for the timestamp jumping backwards or maybe for "nan" in one of timestamp fields (note, that the below example has some of my additional debugging)

[code]

**Reproduction Rate**
apparently rare

**Expected behavior**
trace should be consistent

[2021-11-22 16:57] lgirdwood commented on #2572
@Sciss fwiw, the minimum (kconfig default) block size used by FW is 1ms at 48kHz, so 48 * frame size. Have you been able to try this block size with your buffer config ?

[2021-11-22 19:01] marc-hb commented on #5017
The DMA on BYT and BDW has always had a fairly different set of issues: #4333

[2021-11-22 20:23] plbossart commented on #5017
@keyonjie Which topologies trigger this warning?

IIRC the BYT topologies use the 'host' and 'dai' pipelines while BDW is more 'linear' with a single pipeline. This could be quite different in terms of pipeline walks.

[2021-11-22 20:25] plbossart commented on #2572
IIRC we allowed the topologies to work with periods that were not aligned with 1ms, precisely for Jack support and power-of-two requirements. if this was the case, we might have a regression indeed.

@kv2019i does this rings a bell?

[2021-11-22 20:43] Sciss commented on #2572
I should mention I run on Debian 11; perhaps it was fixed in a newer version?

[code]

[2021-11-22 21:00] Sciss commented on #2572
Ah, I see. Well, this means I can run, for example with jack buffer size 768, and keep my jack client SuperCollider at its own default of 64 samples (which must be an integer division of the jack buffer size). So that's not too bad, just weird in the sense that programs like QJackCtl suggest a power of two.

[2021-11-23 02:20] keyonjie commented on #5017
sof-bdw-rt286.tplg and sof-byt-nocodec.tplg.

[2021-11-23 09:37] lyakh commented on #4538
I think the problem is not about whether or not the task list is empty, but that an EDF software interrupt triggers after resume. IIUC, EDF scheduling is done from software interrupts. As long as an EDF interrupt triggers, `edf_scheduler_run()` will run. And if the task list is empty, or if tasks on the list aren't suitable to be run, we get an `assert()`. So the real question seems to be why we'r

[2021-11-23 09:48] lgirdwood commented on #5017
@keyonjie are you able to improve this error as we see this when a singe component returns an unexpected return code in the pipeline position walk. We could add a
[code]

[2021-11-23 09:57] lyakh commented on #5018
Zephyr is currently limited to using 2 cores on Intel ADSP, this should be eliminated when https://github.com/zephyrproject-rtos/zephyr/pull/39603 is merged

[2021-11-23 13:30] lgirdwood commented on #4901
Will get this fixed for v2.0 rc2

[2021-11-23 15:38] marc-hb commented on #5020
Probably a duplicate of https://github.com/thesofproject/linux/issues/3275

[2021-11-24 06:43] johnylin76 commented on #4970
I have verified on my Drobit device by running the script above with #5006. The issue is not reproducible then.
I also generated the image for the full verification by our QA team. We are able to pass the manual stressing test on both Drobit and Delbin with #5006.