[2020-08-13 13:56] lgirdwood commented on #2828
@victortrac we have a PR pending here, and should be able to make a v1.5.2 release with it (and a few other fixes). @slawblauciak when do you think you could make a v1.5.2 release ?

[2020-08-13 13:57] lyakh commented on #3170
I'm curious about scheduling domains. In some cases (like in UP2 case) they seem to be freely replaceable - you can use one or another. In other cases (like BYT nocodec) only one works. What are the conditions for each domain to be applicable?

[2020-08-13 14:29] lgirdwood commented on #3170
@lyakh in principle they should do the same thing, that is schedule timely pipeline work, but there are some differences in implementation, synchronisation and maybe IRQ runlevel. i.e. they are both triggered on IRQs, the timer domain does schedules all work in order, whereas the DMA domain probably schedules on DMA IRQ and this may be asynchronous to other pipelines (and could block on other work

[2020-08-13 14:33] plbossart commented on #3170
The DMA scheduling doesn't work for HDaudio link DMAs, not interrupts are generated so you *HAVE* to use the timer-based scheduling for all HDAudio pipelines.
For SSP and DMIC, I think the two cases are equivalent, but the timer might be more efficient since there's only one tick and you can take care of all pipelines. I have never seen any data showing that 1 ms interrupt is actually a problem th

[2020-08-13 14:35] plbossart commented on #3170
And to build on this, even for Baytrail in master mode, the legacy closed-source firmware did not use DMA interrupts but also a 1ms external timer ticks, so I will assert that for the SSP using the timer or the DMA interrupt is essentially the same. I think the choice was more a case of not having to validate baytrail/cherrytrail, initially all scheduling was DMA based for early platforms and it s

[2020-08-13 14:59] lyakh commented on #3170
@lgirdwood @plbossart thanks! I've tried blatantly replacing the DMA domain with the timer domain in the BYT nocodec topology and it isn't even loading now - DW DMA errors out with some missing configuration. Investigating.

[2020-08-13 15:07] paulstelian97 commented on #3170
Hm so DMA scheduling is looked at more of as a legacy that is supported rather than the recommended way?

[2020-08-13 15:30] plbossart commented on #3170
If the interface is slave to an external device, the DMA scheduling is required. When the interface is master and synchronous with the timer tick, switching the two is a revalidation effort but I don't see how the performance might differ on paper.  But as @lyakh shows above, in practice there might be implementation issues.

[2020-08-13 22:50] yongzhi1 commented on #3267
Thanks everyone, especially @juimonen and @ranj063 for providing the patches.

Lance also attempted a fix with re-try, just added the link here for reference as there is no way to verify the solution yet:
https://chromium-review.googlesource.com/c/chromiumos/third_party/kernel/+/2340686

[2020-08-13 23:36] plbossart commented on #3267
FWIW I had a similar fix to work-around boot failures on Cyan during module load/unload tests.

https://github.com/thesofproject/linux/pull/2271

Maybe we should add this capability for real, with a cleaner flow. If we find the root cause we can already reduce the loop to 1 later, but if we don't have the loops the device is stuck.

[2020-08-14 02:44] aiChaoSONG opened #3310 "[BUG][DSM][TGL] LSB rounding in S32_LE in smart_amp pipeline"
**Describe the bug**
A nocodec topology is created to test DSM in nocodec mode: #3212.
With this topology, play a sine wave through DSM playback pipeline, and record it back through DSM capture pipeline.
The recorded data is binary same with playback data under S16_LE, but not binary same under S32_LE.
Under S32_LE, the LSB seems rounded. for example:
    `9F 75 53 0D` becomes `00 76 53 0D`
    `0

[2020-08-14 08:20] paulstelian97 commented on #3310
Something in the pipeline may be 24 bits and that could be the reason why we notice this. The data looks oddly like S24_4LE format.

[2020-08-14 11:49] lgirdwood commented on #3310
@singalsu any comments ?

[2020-08-14 12:15] lyakh commented on #3170
To recap: I've found out that all "legacy" platforms (BYT, CHT, BDW, etc.) use DMA scheduling. An attempt to switch byt-nocodec to timer scheduling failed with firmware errors, which I since then have tried to debug and fix.

I've found the reason why this doesn't work: the firmware DW DMA driver fails to set configuration in `dw_dma_set_config()` with an error:

This doesn't fail with DMA schedul

[2020-08-14 12:49] lgirdwood commented on #3170
This is a rule for when DMA uses HW LLI mode (since there is a race between writing back LL descriptors and resetting them when 2 periods are used). This rule should not apply for SW LLI on BYT.

[2020-08-14 12:56] singalsu commented on #3310
Is there processing in the pipeline, e.g. volume? A plot of the topology would be nice to attach for this issue.

[2020-08-14 14:32] lyakh commented on #3170
In the BYT case the playback topology comprises of 3 pipelines: DAI+volume+mixer, and 2 PCM+volume pipelines, connecting to that mixer. Usually during the test first the playback starts, I see the scheduler scheduling the two playback pipelines one after another. Then a bit later the capture process starts too, from which point now 3 tasks are always scheduled one after another.

But sometimes whe

[2020-08-14 18:36] plbossart commented on #3170
Impressive set of findings @lyakh, I am so glad we have you dig into all this!

[2020-08-17 07:05] aiChaoSONG commented on #3310
@singalsu There is no processing component, only BUF and MUXDEMUX.
![sof-tgl-nocodec-ci](https://user-images.githubusercontent.com/52959957/90367075-d74db180-e09a-11ea-997c-ae4e70fad1de.png)

[2020-08-17 11:59] dbaluta opened #3314 "[BUG] First period_bytes are not copied by Host in COMP_COPY_ONE_SHOT mode to source buffer"
**Describe the bug**

When implementing the compress audio feature I noticed that first 768 bytes (one period) are not copied by Host via DMA to source buffer.

**To Reproduce**
This is not noticeable when running a simple playback, because first period very likely is very small (1/10 of a second).
One can notice this by printing the sink buffer before dma start copying data.

In our IMX specific

[2020-08-17 12:00] dbaluta commented on #3314
@tlauda @marc-hb @mrajwa @ktrzcinx @akloniex @lgirdwood any clues?

[2020-08-17 12:55] lgirdwood commented on #3314
It could be that the first period is not being reported downstream ? I guess you are seeing a copy callback for it ? i.e. if you were to play 10 periods you should see 10 copies ?

[2020-08-17 14:04] dbaluta commented on #3314
That's the strange thing, that I don't see a copy callback for the first period. Not sure who should call it for our Dummy DMA driver.

I only see that Host copy callback (for ONE_SHOT_MODE) assumes that the first period is copied from somewhere else.

[code]

[2020-08-17 15:38] benzea commented on #2828
Probably not helpful, but I saw something similar happening during continuous playback (listening to a BigBlueButton conference, not sure if streaming issues could cause short pauses without audio data). Audio simply cut out suddenly.

[code]

This was on an X1 Carbon 8th Gen. Unfortunately, I didn't collect the initial error, so this seems to just be the driver trying to re-initialise the SOF fir

[2020-08-17 16:08] IulianOlaru249 opened #3316 "[debug] [panic] panic_dump calls in case of oops"
With the current flow, in case of an oops on the DSP side, the exception function (xtensa/include/arch/init.h) is called as a handler.
Then, it calls the panic_dump function, but with a NULL parameter where information about the filename and line number should be. Further on,  the panic_dump function (src/debug/panic.c) should store the information in memory for the application processor to read.

[2020-08-17 16:09] IulianOlaru249 commented on #3316
@dbaluta let me know if i am framing the problem right.

[2020-08-18 05:24] brentlu commented on #2124
Another issue is there is 220ms delay which is caused by codec driver itself (30ms x 2 in da7219_mixout_event(), 40ms x 4 in da7219_mixout_event()). Google is about to check the 220ms delay with DA.

[2020-08-18 10:12] slawblauciak commented on #3243
@plbossart PR has been merged, can you please verify?

[2020-08-18 10:13] slawblauciak commented on #3073
@ClarexZhou PR merged, good to close?

[2020-08-18 10:14] aiChaoSONG opened #3317 "[BUG][TGL-008] periodically zeros in DSM captured wave file"
**Describe the bug**
[sof-tgl-nocodec.zip](https://github.com/thesofproject/sof/files/5089655/sof-tgl-nocodec.zip)

With the nocodec topology attached, which is generated from #3212, run test case https://github.com/thesofproject/sof-test/blob/master/test-case/check-smart-amplifier.sh, when case failed, check the recorded wave under /tmp/, periodically zero in the wave file. see below.

Note: The

[2020-08-18 10:22] bkokoszx commented on #3249
@keyonjie @aiChaoSONG
In attached dmesg file we can observe:
[code]
Do you know why we see trigger stop ipc just after trigger start?

[2020-08-18 10:25] lgirdwood commented on #2981
@jdrzaszcz ok so are we saying a few glitches on APL only but other CAVS1.8+ platforms are OK ?

[2020-08-18 10:26] lgirdwood commented on #2480
@xiulipan any update here ? I think we have all the topologies and LDCs now but not the tools ?

[2020-08-18 10:27] lgirdwood commented on #2478
@bkokoszx @slawblauciak @ktrzcinx can we close this now ? I think all the parts are merged now ?

[2020-08-18 10:28] lgirdwood commented on #2384
@dbaluta @paulstelian97 any update here. Should we move to v1.7 ?

[2020-08-18 10:29] lgirdwood commented on #2371
@slawblauciak @ktrzcinx @bkokoszx any update here, I do remeber merging a similar feature ??? or shall we move to v1.7 ?

[2020-08-18 10:30] aiChaoSONG opened #3318 "[BUG][TGL] unable to install params when aplay/arecord on DMIC16k in S24_LE/S32_LE"
**Describe the bug**
On a TGL_RVP_SDW device, run `arecord -Dhw:0,4 -r 16000 -c 4 -f S24_LE -d 3 /dev/null -v -q`, you will see 'unable to install hw params', check dmesg, you get `ipc error for 0x60010000`, in sof-logger, see `ERROR volume_prepare(): sink buffer size 256 is insufficient < 2 * 256`

**To Reproduce**
run command: `arecord -Dhw:0,4 -r 16000 -c 4 -f S24_LE -d 3 /dev/null -v -q`

**Re

[2020-08-18 10:31] lgirdwood commented on #2356
Ok, I guess we can live with this. Re-assign priority and milestone unless anyone objects.

[2020-08-18 10:31] keyonjie commented on #3249
usually it is because of there is no data captured after started for e.g. 500ms timeout.

[2020-08-18 10:31] slawblauciak commented on #2371
Not familiar with this feature I'm afraid.

[2020-08-18 10:32] lgirdwood commented on #2351
@juimonen are we good, can we close now ?

[2020-08-18 10:33] lgirdwood commented on #2342
@singalsu are we good, can we close now ?

[2020-08-18 10:33] jdrzaszcz commented on #2981
@lgirdwood Not exactly.  On WHL, TGL and ICL the results on capture pipeline are fine. I found out only one fail on WHL and one on TGL (but the results on TGL were a little less than 80). I think for this platforms everything is quite good.
On APL RVP i didn't saw glitches, but I found out another problem there (quite often i got stream stall on play stream - about 25 %).

[2020-08-18 10:34] lgirdwood commented on #2311
@jajanusz any update on the progress here ? Are we good now or is there more todo ?

[2020-08-18 10:35] lgirdwood commented on #2295
@plbossart @paulstelian97 @singalsu  I think we have merged this now. Closing now. Any objections can re-open.

[2020-08-18 10:35] #2295 closed

[2020-08-18 10:35] dbaluta commented on #3316
@IulianOlaru249 yes, I think the problem is real.

Calling ```panic_dump``` with ```NULL``` as a second parameter is buggy because lets some
memory uninitialized:

[code]

Then on the Linux side we access this memory, with unpredictable results:

[code]

@lgirdwood @xiulipan what happens on Intel side when there's an exception on Firmware? For example division by zero.

[2020-08-18 10:36] lgirdwood commented on #2269
@RanderWang any progress here ?

[2020-08-18 10:38] dbaluta commented on #2384
@lgirdwood lets move to v1.7, no progress here. @IulianOlaru249 could you investigate this?

[2020-08-18 10:38] lgirdwood commented on #2172
This blocked on UUID which has now merged. @ktrzcinx do you think we can merge in next few weeks ?

[2020-08-18 10:39] ktrzcinx commented on #2478
I'have already use it, so I think it's ready

[2020-08-18 10:40] lgirdwood commented on #1833
Moving to v1.7. rimage needs support for SHA384 and for PSS signing via OpenSSL.

[2020-08-18 10:42] lgirdwood commented on #1680
@xiulipan any update. I understand we have merged a few updates now ?

[2020-08-18 10:43] lgirdwood commented on #1576
Seems not needed on older platforms and done on the newer ones. Closing.

[2020-08-18 10:43] #1576 closed

[2020-08-18 10:44] lgirdwood commented on #1544
Work in progress by @lyakh - see https://github.com/thesofproject/sof/pull/3211

[2020-08-18 10:47] lgirdwood commented on #1537
@singalsu any update on your PR https://github.com/thesofproject/sof/pull/2925 . UUID now all merged so no blockers.

[2020-08-18 10:48] lgirdwood commented on #1496
Polling IPC now added. Moving to v1.7 for GDB stubb connection to IPC polling methods.

[2020-08-18 10:50] lgirdwood commented on #1429
This is partially done. Move to v1.7.

[2020-08-18 10:50] dbaluta commented on #1496
@IulianOlaru249 after your is done I think we can have a look at this. @lgirdwood if you have some time can you give us some pointers on how to proceed here.

[2020-08-18 10:52] lgirdwood commented on #1280
@mmaka1 @keyonjie @bkokoszx I'll move to v1.7 as we have merged a few PRs for this now and have updated the docs. Do we know what is still TODO ?

[2020-08-18 10:53] lgirdwood commented on #1185
Not needed atm, so move out to v1.7

[2020-08-18 10:54] lgirdwood commented on #1092
Moving to v1.7 and making this notable.

[2020-08-18 10:56] lgirdwood commented on #681
@plbossart did you manage to have a solution for testing kernel boot flow for signing ?

[2020-08-18 11:27] ktrzcinx commented on #2371
I don't remember any PR related to this feature.

[2020-08-18 14:54] bkokoszx commented on #3249
@keyonjie

I've added following trace points to the firmware master.
[code]
I've made arecord & aplay and reproduced issue. After ``root@audiodspTGL:~# hexdump /sys/kernel/debug/sof/regs``
I get:
[code]
, which means that the latest trace point value is ``0x6000`` (``TRIGGER_START``). I have suspicion
that ``TRIGGER_STOP`` mentioned in previous comment, did not come to the FW. Is it
possible?

[2020-08-18 15:08] bkokoszx commented on #2478
@lgirdwood
I think we can close this via #2745

[2020-08-18 16:38] #3243 closed

[2020-08-18 16:53] plbossart commented on #3318
@singalsu can you look into this? I am not sure why some platforms use s16le for the dmic16kHz.
I vaguely recall it was the plan initially, but we've transitioned to support larger word sizes for kpb anyways, so wondering if we can align all dmic16k uses to rely on S32LE?

[2020-08-18 17:57] #2478 closed

[2020-08-18 20:19] fredoh9 opened #3322 "[BUG] APL/CNL Build failed due to bigger SOF_SRC_HASH"
**Describe the bug**
Build failed with warnings for APL and CNL today in my local build.(I don't think this is problem only for this two) Not sure this is my environment problem. I used to build FWs without any problem.

[code]

I checked SOF_SRC_HASH, it is 5 bytes, although src_hash variable is uint32_t.
[code]

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions use

[2020-08-18 20:44] fredoh9 commented on #3322
Looks my case, it hit else part of below

[code]

My current build tree is based on `git worktree add` and it has `.git` also.

[2020-08-19 00:20] keyonjie commented on #3249
I would suspect that the firmware is somehow hang or crashed after trigger started so didn't get the subsequent trigger stop IPC, need more debugging about what has happened after trigger started.

[2020-08-19 01:34] xiulipan commented on #2480
@lgirdwood Good point here for sof-bin to include the tools.\, but I am not sure which version tools should I put into the repo. @jajanusz Can we include the tools binary with release also?

[2020-08-19 01:36] xiulipan commented on #3316
@dbaluta I think we will raise an IPC IRQ and driver will caught that and try to dump the stack from memory window.

[2020-08-19 01:37] xiulipan commented on #1680
@lgirdwood @mengdonglin We did not got the binary from release. Do we need to add some in previous release?

[2020-08-19 04:29] keyonjie commented on #3318
Worth to try if the PR https://github.com/thesofproject/sof/issues/3318 can fix the issue.

[2020-08-19 06:15] jdrzaszcz commented on #3322
+ TGL, ICL.
Fixed by #3323

[2020-08-19 06:42] dbaluta commented on #3316
@xiulipan yes, but the information printed on the Linux kernel side is correct? I mean from the code flow, it looks like when an exception occcurs on the FW side, the panic_info structure misses filename and lineno.

This can have unpredictable behavior on the Linux kernel side when tries to print it, resulting in garbage being printed.

To demonstrate this, can you or anyone at Intel generate an

[2020-08-19 16:59] quiricada opened #3327 "[BUG]no audio"
dmesg | grep -i audio                                                                                                          [5/36]
[    0.213041] ACPI: Added _OSI(Linux-Lenovo-NV-HDMI-Audio)
[    4.263234] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040380
[    4.263236] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[

[2020-08-19 20:25] torotil opened #3328 "[BUG] Lenovo C940 no bass when playng via headphone jack"
**Describe the bug**

I got sound working on my Lenovo Yoga C940 (i7-1065G7 Ice Lake). As expected not all of the speakers are working (https://bugzilla.kernel.org/show_bug.cgi?id=205755#c4). In addition to that I don’t get any bass from the headphone jacks.

**To Reproduce**
Play some music when the headphones are plugged (using any player or even aplay). Result: Music is playing but lower freque

[2020-08-20 07:27] dbaluta commented on #1496
@lgirdwood it looks like most of the infrastructure is already there on firmware side.

So, how should this work? I assume we want to connect with GDB from Host side to DSP. So, I assume that SOF driver in the Linux kernel should expose an interface to gdb, right?

[2020-08-20 08:06] #3267 closed

[2020-08-20 09:52] lgirdwood commented on #2371
ok, will move - I think we do see panic() in the error log now so maybe that's what I'm seeing.

[2020-08-20 10:08] lgirdwood commented on #2480
@xiulipan ideally we would have our makefile
1) Checkout tools based on tag
2) build tools (alongside topologies)
3) build debian package and rpm with tools, ldcs, topologies and FW binaries,
See
https://askubuntu.com/questions/1130558/how-to-build-deb-package-for-ubuntu-18-04
https://packaging.ubuntu.com/html/packaging-new-software.html
and for rpms
https://docs.fedoraproject.org/en-US/quick-docs

[2020-08-20 10:10] lgirdwood commented on #1680
I think this is done now in sof-bin.

[2020-08-20 10:10] #1680 closed

[2020-08-20 10:16] lgirdwood commented on #1496
@dbaluta yes, the polling code is there. It needs
1) panic() handler to start GDB stub in FW (if selected in KCONFIG)
2) GDB stub to use polling IPC fro control.
3) kernel gdb tunnel that creates a char device that will tunnel GDB commands through tunnel to FW.
I think @cujomalainey has some code that does some of 1,2 and 3 that may be used as a starting point.

[2020-08-20 10:18] lgirdwood commented on #3316
@kv2019i fyi - kernel may need some checks here to avoid printing garbage.

[2020-08-20 12:48] perexg commented on #2480
@lgirdwood : It diverges from my request to put the logger tool code to another repository and maintain the compatibility with all known (previous) SOF releases (one binary should work with all released SOF firmware files). In this case, distributions can maintain this tool in a package themselves. Distributions have already a package for SOF firmware (sof-bin) and I would not mix the tools with f

[2020-08-20 13:15] lgirdwood commented on #2480
@perexg ok, your right -
@mengdonglin this may be a few days effort for @xiulipan . Do you think we can do for v1,6 ?

[2020-08-20 13:17] lgirdwood commented on #3327
@kv2019i @plbossart fyi.

[2020-08-20 13:22] lgirdwood commented on #3249
@bkokoszx @keyonjie @aiChaoSONG the timing between START and STOP is small suggesting a XRUN (i.e. position has not moved so driver automatically stops the stream).
@keyonjie can you add debug in driver to check is stream position updates at all ?

[2020-08-20 14:11] keyonjie commented on #3249
Hi @lgirdwood I think @bkokoszx has found the cause here, the FW hangs on demux_copy() after trigger started, that's why the STOP IPC got timeout. We had PR like #2788 previously on release branch to avoid the format un-alignment and this kind of hang issues, we might need similar logic for the master.

[2020-08-20 15:19] codewiz commented on #3327
I *do* have functioning audio on the X1G7 using Fedora 32 (sof 1.5.1, alsa-ucm 1.2.3.2, linux 5.8.1, pulseaudio-13.99.1)

[2020-08-20 15:20] codewiz commented on #3327
The DMIC, however, has a constant background noise, very loud.

[2020-08-20 15:54] kv2019i commented on #3327
@codewiz There was a regression in 1.5 (see   https://github.com/thesofproject/sof/issues/2937 ) that should be fixed in 1.5.1. I wonder if you just have high gains in place for the dmic (check "alsamixer -Vcapture")? Otherwise FYI @singalsu and @juimonen we could have a new case.

@quiricada Some more details would be needed. Can you post "alsa-info.sh" output? Can you try a Ubuntu 20.04 or Fedor

[2020-08-20 17:50] dbaluta commented on #1496
@cujomalainey Thanks! That's good enough for us.

[2020-08-21 07:24] xiulipan commented on #2480
@lgirdwood Here is my understanding for the request here:
- tools binary should go with sof-bin repo (we can add them in 1.6)
- tools source code should be in standalone repo. (if that means we should get soft back? Then we will face the issue why we drop soft: how to sync the headers with ABI change) I think we can have some discussion about this in next tech talk

[2020-08-21 07:45] jdrzaszcz opened #3330 "[BUG] [WHL] KD notification timeout on D0ix with chrome build."
**Describe the bug**
Kd notification timeout on WHL with chrome build on kd_with_dmic_d0ix test.
Test fail since CI build SOF_FW_NIGHLTY_CHROME_01.01.00.85 (commit: 04ba7ba4ba27432ad03c3908143343723aa04b31).
Last pass on SOF_FW_NIGHLTY_CHROME_01.01.00.84 (commit: 5b4b5532833b25efebfa587a844fa670c1422a31)

**Topology**
[code]
**To Reproduce**
Run one of python test  from file:
test_05_kd_with_dmic_

[2020-08-23 16:46] ymdatta opened #3334 "[BUG][Fuzzing] Testbench: Program exit with SIGFPE signal, Arithmetic exception"
**Describe the bug**
This bug was found when fuzzing the testbench using AFL fuzzer. For a fuzzed topology file input (i.e this topology was generated by the fuzzer) testbench exits with Floating point exception (core dumped) error.

**To Reproduce**
1. Build the testbench from the using `host-build-all.sh` script from scripts directory.
2. Download the topology file from [here](https://github.com

[2020-08-23 16:52] ymdatta commented on #3334
Some additional information that may help:

[code]

From the logic at this point in src/audio/volume/volume.c: [#L860](https://github.com/thesofproject/sof/blob/master/src/audio/volume/volume.c#L860).

[code]

In the above gdb log from issue description, substituting these values results in denominator (dev->period / ramp_update_us) becoming zero thus leading **division by zero** exception.

Hope

[2020-08-23 16:52] ymdatta commented on #3334
@cujomalainey @ranj063 : Please take a look at this crash found during fuzzing.

[2020-08-23 17:02] cujomalainey commented on #3334
Excellent find, we should probably be running sanity checks in the component to make sure the values are valid before we use them.

[2020-08-23 17:09] ymdatta opened #3335 "[BUG] [Fuzzing] testbench program exits with segmentation fault"
**Describe the bug**
This bug was found when fuzzing the testbench using AFL fuzzer. For a fuzzed topology file input (i.e this topology was generated by the fuzzer) testbench exits with segmentation fault(core dumped) error.

**To Reproduce**
1. Build the testbench from the using `host-build-all.sh` script from scripts directory.
2. Download the topology file from [here](https://github.com/ymdatt

[2020-08-23 17:09] ymdatta commented on #3335
Additional information that might help along with gdb trace log from issue description:

[code]

[2020-08-23 17:10] ymdatta commented on #3335
@cujomalainey @ranj063 : Please take a look at this crash found during fuzzing.

[2020-08-23 17:15] ymdatta commented on #3334
@cujomalainey : Since, this touches the core of SOF, i am waiting for suggestions on what kind of checks would be good to add here. But, i definitely agree on the point that we need to be adding checks in the code.

[2020-08-23 17:31] cujomalainey commented on #3334
Yep, hence why I added @singalsu as he will be able to help identify the checks needed

[2020-08-23 17:40] cujomalainey commented on #3335
Hmm, this one looks tricky. Something is wonky with the pipeline

[2020-08-24 06:20] cujomalainey commented on #3335
@tlauda you are last person to edit this code that is segfaulting, do you have any guesses what might be going on here?

[2020-08-24 06:41] juimonen commented on #3335
@cujomalainey tlauda has left the company... I think @singalsu and @ranj063 are the best experts here.

[2020-08-24 06:43] cujomalainey commented on #3335
@juimonen thanks for the heads up. Based on blame @lyakh might also be able to help.

[2020-08-24 08:37] #3322 closed

[2020-08-24 08:49] emilchudzik opened #3336 "[BUG] Unable to build topology"
**Describe the bug**
Unable to build topology using script build-tools.sh. There is many errors from alsa lib.

**To Reproduce**
cd sof repo
./scripts/build-tool.sh

**Reproduction Rate**
100%

**Environment**
Branch: master
Commit: 2e07bb9d

**Screenshots or console output**
![image](https://user-images.githubusercontent.com/41113230/91023792-4aa17700-e5f7-11ea-84e5-06379439af3e.png)

[2020-08-24 08:56] lgirdwood commented on #3336
oh, I think we need a check for alsa-lib version inthe tobology cmake. IIUC it needs a recent commit in alsa-lib that is upstream but not part of the last release. @keyonjie fyi - we need a cmake check for this commit or later version of alsa-lib

[2020-08-24 09:16] singalsu commented on #3327
That's a strange problem. The left channel sounds clean and OK, while right channel is fairly white noise with only tiny amount of speech signal heard. Can you confirm this is captured directly from DMIC 48 kHz device without Pulseaudio? There's more elegant ways but I just temporarily rename /usr/bin/pulseaudio to /usr/bin/pulseaudio.disabled and kill all current instances.

[2020-08-24 09:22] singalsu commented on #3327
@codewiz Could you please file a new issue for the noise in capture, we can continue there with that.

[2020-08-24 09:23] emilchudzik commented on #3336
with new alsa-lib, topology building is ok:
[code]

[2020-08-24 09:51] jdrzaszcz opened #3337 "[BUG][SDW] Additional data on the beginning of the wave with two internal loopbacks on SDW"
**Describe the bug**
When running simultaneous playback and capture on two SDW interface on internal loopback with pause/release with playback_iterations > 1 in next iteration are additional samples on the  on the beginning of the wave file.
This happens when all the data in the playback file is not played.
When running test withe two SDW interface on internal loopback without pause/release this a

[2020-08-24 14:44] plbossart opened #3344 "[Bug][GLK]: sof-logger number of parameters causing failure"
tracking https://sof-ci.01.org/linuxpr/PR2378/build4363/devicetest/

GLK tests show this for sof-logger:
"invalid number of parameters"?

This may be an SOF, sof-test or kernel issues, we'll transfer the issue as needed.

@fredoh9 we'll need your help on this one.

[2020-08-24 15:40] singalsu commented on #3334
Thanks for reporting, good catch! Need to think what is the proper fix for this. Rounded arithmetic might work for this case. If it's not feasible and for cases where fraction would not round up an error must be returned from prepare().

[2020-08-24 17:36] fredoh9 opened #3340 "[BUG][BSW] unable to install params when aplay on PCM0 in S24_LE/S32_LE"
**Describe the bug**
aplay -Dhw:0,0 -r 48000 -c 2 -f S32_LE -d 10 /dev/zero

`aplay: set_params:1407: Unable to install hw params:`

https://sof-ci.01.org/sofpr/PR3324/build6974/devicetest/

from etrace, looks buffer size is the problem.

[code]

**To Reproduce**
aplay -Dhw:0,0 -r 48000 -c 2 -f S32_LE -d 10 /dev/zero
aplay -Dhw:0,0 -r 48000 -c 2 -f S24_LE -d 10 /dev/zero

**Reproduction Rate**
100

[2020-08-24 18:01] ranj063 commented on #3335
@ymdatta looing at the error it seems like the SRC component is were we're seeing the segfault. But looking at the logs in the first comment, there's no logs graph elems for the connections BUF1.0 -> SRC -> 1.1 ?

[2020-08-25 06:06] jdrzaszcz commented on #2320
@plbossart @zrombel This issue occurred with dsm (smart_amp) component where topology with 8 channels is used.

Also with to  SDW ALH internal loopbacks, channels are swapped for audio formats with 8 channels. This is seen in the atomic dai test where two ALH loopback are used to verify dai synchronisation,.

[2020-08-25 06:46] bkokoszx commented on #3249
As @keyonjie wrote, we have misalignment in buffer's frame_fmt parameters. We have hardcoded format for feedback buffer:
[code]
as ATM our pipeline propagation do not cover whole DSM topology case (parameters do not reach feedback buffer).

@aiChaoSONG
Could you try to test master + PR #2788 in order to reproduce this issue?

[2020-08-25 07:01] slawblauciak commented on #3336
@emilchudzik good to close?

[2020-08-25 07:10] slawblauciak commented on #3314
@dbaluta is this issue still relevant? The patch you mentioned earlier has been merged.

[2020-08-25 07:43] slawblauciak commented on #3330
@jdrzaszcz please verify on other platforms like TGL

[2020-08-25 07:45] slawblauciak commented on #3318
@aiChaoSONG please try with the suggested patch.

[2020-08-25 07:57] dbaluta commented on #3314
@slawblauciak thanks for mentioning this. I'm closing the issue as it has been fixed.

[2020-08-25 07:57] #3314 closed

[2020-08-25 08:15] fredoh9 commented on #3344
I'm trying to reproduce on my GLK bobba, but this is not 100% reproducible. In this test, it was `check-runtime-pm-status.sh`.

Looking at around logger/convert.c,
TRACE_MAX_PARAMS_COUNT is 4. If it return error there, I think entry.header.params_num might be corrupted or garbaged already.
[code]

[2020-08-25 08:17] aiChaoSONG commented on #3249
@bkokoszx @keyonjie I tried #2788,  and I think situation become worse. DSP panic at the very beginning of running the DSM case, sof-logger exit immediately without showing any trace message.

[sof_error.log](https://github.com/thesofproject/sof/files/5122281/sof_error.log)

[2020-08-25 08:19] jdrzaszcz commented on #3330
@slawblauciak I checked it on TGL RVP platform and the issue doesn't occur there.

[2020-08-25 08:21] aiChaoSONG commented on #3340
This is a general issue on every platform.  Some pipelines are created with S16_LE, but the template we use just hard code the PCM capabilities. we may need a discussion.

[2020-08-25 08:33] emilchudzik commented on #3336
@slawblauciak yes, it can be close

[2020-08-25 08:33] #3336 closed

[2020-08-25 08:51] Valerio1474 opened #3345 "[Regression] No sound on kernel 5.8 series"
**Describe the bug**
Hello,

I don't know what might be changed from kernel 5.7.x to kernel 5.8.x but the sound has stopped working under the newest kernel. I thought that the 1.5.1 firmware could fix the problem, but to no avail.

**To Reproduce**
Compile and boot any 5.8.x kernel with same options I have on 5.7.x

**Reproduction Rate**
Always

**Expected behavior**
The expected behavior is to se

[2020-08-25 17:38] Valerio1474 commented on #3345
Hi @plbossart @kv2019i, I was finally able to compile and boot the 5.9-rc2 kernel and I can test the soundcard with:

and hear the white noise coming from my speakers.

Should I wait for the backport of the relative fix to 5.8 kernel before closing this bug?

[2020-08-25 22:38] plbossart opened #3347 "[BUG] s24_4le unused/obsolete definitions?"
We seem to have obsolete/unused definitions for s24_4le? Is this intentional or leftover from the past?

[code]

[2020-08-25 22:41] plbossart commented on #3347
@lgirdwood @mmaka1 @ranj063 @singalsu any memories on format definitions?

[2020-08-26 05:09] aiChaoSONG commented on #3318
Checked with #3324 on TGL_RVP_SDW, works perfectly.

[2020-08-26 10:41] singalsu commented on #3334
I'll do today the fix for this.

[2020-08-26 12:59] slawblauciak commented on #3276
The FW should no longer panic like that in the upcoming 1.6 release.

[2020-08-26 13:01] slawblauciak commented on #3120
@singalsu what does that option do exactly? When do we use it? Why would we want to use it?

[2020-08-26 14:12] bkokoszx commented on #3249
@aiChaoSONG
Did you rebase it with master or use #2788 directly? If you do not use rebased version, you can try: https://github.com/bkokoszx/sof/tree/pr2788-rebased
I do not have platform yet, I will try it also as soon as possible.

[2020-08-26 14:21] singalsu commented on #3247
Thanks for reporting, I just repeated the issue with c0b969d784ee77646e1235c66ce8a70371d57925 .

[2020-08-26 15:16] singalsu commented on #3247
This seems to be possible by adding sa_init() and dependencies to testbench build.

[2020-08-26 16:17] singalsu commented on #3221
Any updates to this?

[2020-08-26 16:31] singalsu commented on #3072
@gobenji I have now a similar device available for testing so I can test it myself too. I'll start today/tomorrow. I assume this problem still exists, right?

[2020-08-26 16:49] #3274 closed

[2020-08-26 20:46] #3334 closed

[2020-08-26 23:30] marc-hb commented on #1833
See also PR #3187

[2020-08-27 01:59] aiChaoSONG commented on #3249
@bkokoszx I apply #2788 to master

[2020-08-27 08:42] gobenji commented on #3072
I repeated the test in the description (double bell sound) with sof-cnl.ri and sof-hda-generic-4ch.tplg from sof-bin branch "stable-v1.5.1" and can still reproduce the same issue.

I also tried again from sof.git HEAD (420ef1b6) and built sof-hda-generic-4ch.tplg using the same procedure I described in my last comment. The resultng tplg file is:
[code]
I got a similar problem as before with exactl

[2020-08-27 09:21] singalsu commented on #3072
I just tried a fresh built topology with X1 and Ubuntu's 5.4.0-44-generic kernel. I got the same IPC errors in boot and silent playback. No errors reported by aplay nor errors seen in kernel messages during playback. The microphones capture works though. I'll try next build and install a new sof-dev kernel to see if it does the same.

[2020-08-27 10:59] #3247 closed

[2020-08-27 12:03] singalsu commented on #3072
My bad, the ZC ramp type was not yet available in v1.5.1. It's quite obvious when enabling firmware trace:

[code]

[2020-08-27 12:15] singalsu commented on #3072
This patch for topology with v1.5.1 plays sound and uses a short 20 ms linear ramp without zero crossings detect. Patching only pipe-volume-playback.m4 should be sufficient but I changed here for completeness every ZC ramp type to non-ZC.

[code]

There since v1.5.1 is the latest release there's no released fix for the fairly large attenuation of the first beep. My mistake here was to assume the g

[2020-08-27 12:27] bkokoszx commented on #3249
@aiChaoSONG
Yes, I've removed in this commit hardcoded frame format value for smart amplifier.
It should be merged just after #2788

[2020-08-27 12:43] lgirdwood commented on #3347
Possibly as a topology string only as SOF_IPC_FRAME_S24_4LE is supported.

[2020-08-27 13:48] singalsu commented on #2656
Yep, just confirm as assigned that this still happens. I'll see if I can fix this or need to get help.

[2020-08-27 14:09] singalsu commented on #2656
Umm, deleting line for BUILD_COMMAND seems to avoid the error and everything seems to be working. How did I find this out? Looked other examples of ExternalProject_Add() in SOF... I'll do a PR.

[2020-08-27 17:22] marc-hb commented on #2656
I spent more time testing this and I now understand why this `BUILD_COMMAND cmake` mistake was not fatal. It's the tricky combination of two things:
[code]

With `BUILD_COMMAND fubar` the build aborts immediately - but not with `BUILD_COMMAND cmake`

So at this point `ExternalCommand` wrongly believes `/lib/libsof_tplg_parser.so` was built. Yet that library was not built, so how come the rest of t

[2020-08-28 06:05] aiChaoSONG opened #3359 "[BUG][CML][CI] ERROR FW ABI 0x3011000 DBG ABI 0x5001000"
**Describe the bug**
On CML Helios,  `[ 6357.443608] sof-audio-pci 0000:00:1f.3: status = 0x00000000 panic = 0x00000000` is observerd in dmesg,
`ERROR FW ABI 0x3011000 DBG ABI 0x5001000` is observed in sof-logger error trace when run `check-runtime-pm-status.sh`

**Impact**
No negative impact, only noisy error message.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (fir

[2020-08-28 07:33] singalsu commented on #2656
Thanks for explanation @marc-hb ! Is there a way to debug cmake execution somehow? Tutorials? I've found it hard to understand, and out of the two nuisances even the m4 feels better to me.

[2020-08-29 06:29] marc-hb commented on #2656
Yes and no. Both cmake and make are very difficult to debug. There are a few tricks.

- Write as little cmake code as possible. If CMake code grows complicated, it's time to move it to a Python script that can be run (and of course: debugged) independently
- Break the code you're trying to debug and make sure it does break the build to make sure it's relevant. It's very frequent to stare at irrele

[2020-08-30 01:07] timur-enikeev commented on #2828
Hello. Is there any progress?

[2020-08-31 01:54] mengdonglin commented on #3359
@aiChaoSONG Can you please share more dmesg and clarify why kernel thinks this is is an error "ERROR FW ABI 0x3011000 DBG ABI 0x5001000"?

[2020-08-31 06:56] aiChaoSONG commented on #3359
close for invalid.

[2020-08-31 06:56] #3359 closed

[2020-08-31 07:28] paulstelian97 commented on #3344
I think the parameters number should be limited in firmware at compile time, so sounds like the ldc file is either corrupt or misaligned for some reason (not from the same build).

[2020-08-31 07:44] paulstelian97 commented on #2828
Sounds like another probably-unnecessary agent panic... An explanation is the DSP load gets high (even temporarily) and the idle code doesn't run often enough; when the idle code is reached again this DSP panic shows up and the firmware is dead until reloaded (suspend/resume resets the DSP).

@benzea Streaming drops leads to underruns I'm pretty certain (not 100% but close). I've seen XRUN-related

[2020-08-31 08:00] slawblauciak commented on #2828
That panic will no longer happen with the next release of SOF, should there be some actual underlying issue, it might be properly detected now.

[2020-08-31 08:35] paulstelian97 commented on #3316
Maybe simply initializing the memory in all cases (a single zero byte for filename and value -1 for line number) could also help?

[2020-08-31 08:48] paulstelian97 commented on #2311
I have identified a few todos in i.MX specific driver headers so keeping it open. Fixes should be relatively trivial so I'll try to do them today.

[2020-08-31 09:56] paulstelian97 commented on #2311
#3368 should fix it for i.MX headers once it's in a good shape.

[2020-08-31 09:59] aiChaoSONG commented on #3318
close for fix(#3324) merged

[2020-08-31 09:59] #3318 closed

[2020-08-31 10:30] #2656 closed

[2020-08-31 22:34] timur-enikeev commented on #2828
@slawblauciak When will be the next signed release of SOF?

[2020-09-01 07:24] mengdonglin commented on #2890
Close as recent CI daily test with sof-dev kernel and FW master branch cannot reproduce this issue

[2020-09-01 07:24] #2890 closed

[2020-09-01 07:57] slawblauciak commented on #2348
@ranj063 can you please confirm if it's still a problem?

[2020-09-01 08:44] mengdonglin commented on #2269
@lgirdwood Now the SSP specific code is in https://github.com/thesofproject/sof/blob/master/src/drivers/intel/ssp/ssp.c
and HDA spefic code is in https://github.com/thesofproject/sof/blob/master/src/drivers/intel/hda/hda.c

In dai.c, only function dai_config() has some type-specific logic https://github.com/thesofproject/sof/blob/master/src/audio/dai.c#L759

Do you think we need to modify this par

[2020-09-01 09:35] juimonen commented on #2351
yes let's close

[2020-09-01 09:35] #2351 closed

[2020-09-01 09:45] lgirdwood commented on #2269
@mengdonglin Ok, lets push into v.1.7 @dbaluta fyi some imx parts also need moved.

[2020-09-01 09:50] paulstelian97 commented on #2269
@lgirdwood Should I also take care of moving the i.MX parts from there in my existing PR #3368 or that is worth a new separate one?

[2020-09-01 09:53] singalsu commented on #2342
@lgirdwood Sorry this is not yet done, this is open and should be kept until I've done this.

[2020-09-01 11:41] zrombel opened #3371 "[BUG][JSL] KD: Unable to create KD topology with 24/32 sample width."
**Describe the bug**
On JSL RVP, when trying to build KD topology with audio format 16kHz 24/32 2ch, and sending StreamPmcParams IPC to host component, FW replies with ERROR -22. In TraceLog Error can be found that states:
`ERROR kpb: host_buffer_size (537600) must be at least 768000`
After changing buffer size to indicated value FW still replies with ERROR -22 to StreamPmcParams IPC but TraceLog

[2020-09-01 15:41] lgirdwood commented on #2269
@paulstelian97 It's probably best if this was done atomically in one PR - we can do for v1.7

[2020-09-01 15:42] paulstelian97 commented on #2269
Fair enough.

[2020-09-02 11:41] jdrzaszcz commented on #2981
@singalsu @slawblauciak I rerun tests with SOF master, commit: 32d32b59cb48350f8b159fd63f9f1f74741a7a0e. I run 75 playback iteration for 12 formats (3 sample rate conversion in each format except 8 kHz)
Formats:
![image](https://user-images.githubusercontent.com/46779093/91975936-796acc00-ed20-11ea-9799-abad34acc959.png)

WHL RVP - ones value lower than 80 (~65),
TGL RVP - five value lower than 80

[2020-09-02 12:54] singalsu commented on #2981
Thanks @jdrzaszcz I will continue debugging this. The -75 dB THD+N value is about the best quality a C cassette player can ever get so this issue is hard to notice subjectively. I wonder how realistic the test setup where this issue happens is. It would be better to have another real I2S transmitter in the setup that our I2S receiver follows. If the jitter of test setup loop send and receive would

[2020-09-02 16:46] singalsu opened #3378 "[FEATURE] Processing pipeline macros with volume need to get their PGA name from caller macro"
**Is your feature request related to a problem? Please describe.**
Yes, currently the general looking macros like pipe-eq-iir-volume.m4 are in practice usable only with Dmic0 endpoint. We need the same macros for HDA and SDW endpoints to avoid duplication. The old style PGAx.y like names cannot be controlled by UCM in a maintainable way. There's same issue with with playback pipeline macros.

**De

[2020-09-03 07:40] keqiaozhang commented on #3073
Close for not reproducible.

[2020-09-03 07:40] #3073 closed

[2020-09-03 14:49] ktrzcinx commented on #2735
The issue can't be reproduced with RVP-APL platform, bisect shows commit with topology changes, so it doesn't look like FW issue. I can't handle this issue because of limited access to full-linux-stack apl platform.

[2020-09-03 19:31] plbossart opened #3387 "[BUG] firmware boot failed on TGL device"
**Describe the bug**
firmware authentication/boot fails with TGL 1.5.1 firmware signed with the production key.
This is an HDaudio platform with no dmic.
The HDaudio legacy works fine.

**To Reproduce**
install latest SOF driver and boot
use 1.5.1 firmware from sof-bin/lib/firmware/intel/sof/v1.5.1/intel-signed/sof-tgl-v1.5.1-58b36ed.ri

**Reproduction Rate**
100%

**Expected behavior**
firmware r

[2020-09-03 20:36] cujomalainey opened #3388 "[FEATURE] Add sof to oss-fuzz"
**Is your feature request related to a problem? Please describe.**
Have fuzzing be an automated task so no one needs to do anything other than fix the bugs

**Describe the solution you'd like**
get project approved then integrate related infra

**Describe alternatives you've considered**
manual fuzzing is tedious

**Additional context**
Fuzzing found a fairly large number of bugs in a short period

[2020-09-03 20:38] cujomalainey commented on #3388
@ranj063 can you give me a google account email that I can use to add you.
@xiulipan if we get approved we will need to start having travis uploading builds to a bucket and will probably need your help

[2020-09-04 02:52] keqiaozhang commented on #3387
@plbossart , please try the debug key signed firmware for your TGL platform.
http://sof-ci-storage.sh.intel.com/daily/20200903/sof-7650398d/fw/debug/

[2020-09-04 03:59] xiulipan commented on #3388
@cujomalainey Do you mean we will have a google cloud server or bucket to store build binary?

[2020-09-04 04:58] cujomalainey commented on #3388
That is the idea from what I'm reading in the docs. CI would build what they need then they would run the fuzzers for us.

[2020-09-04 06:45] kv2019i commented on #3387
@plbossart Have the same. It appears these devices don't have any key for the DSP:
[    7.711122] sof-audio-pci 0000:00:1f.3: status = 0x0000002c panic = 0x00000000

0x2c -> 44 -> ADSP_CSE_VALIDATION_FAILED   ( https://thesofproject.github.io/latest/architectures/dsp/intel/cavs-boot/apollolake/apl-boot-rom.html?highlight=rom )

[2020-09-04 07:01] aiChaoSONG commented on #3317
manually run the test script,
first run, 300 iterations, passed.
second run, 500 iterations passed.

close for not reproducable on tgl--009-drop-stable and master.

[2020-09-04 07:01] #3317 closed

[2020-09-04 07:06] aiChaoSONG commented on #3310
24 valid bits is configured in the DSM SSP, that's the reason we get 32 bit data rounding to 24 bit.  but some codec do require 24 bit data, so close this for won't fix.

[code]

[2020-09-04 07:06] #3310 closed

[2020-09-04 09:02] slawblauciak commented on #3371
@zrombel as per earlier discussion, the host must comply with the new history buffer requirement.
The host buffer needs to be twice the size the history buffer.

[2020-09-04 09:04] slawblauciak commented on #3371
I was able to reproduce this issue when changing the host buffer size myself. Looking into this right now.

[2020-09-07 09:01] lgirdwood commented on #2311
@jajanusz I think we are good on Intel side too now ? Or are there still some items still TODO ?

[2020-09-07 09:23] lgirdwood commented on #3378
@singalsu so IIUC all we need here is to pass in kcontrol names from the callers ? @juimonen can you take a quick look here and report on effort. Thanks !

[2020-09-08 04:07] sathyap-chrome commented on #3221
sorry was on leave. yes. we can close this

[2020-09-08 04:07] #3221 closed

[2020-09-08 06:20] mengdonglin commented on #3387
@plbossart @kv2019i We got confirmation that this TGL platform doesn't have DMIC to PCH and SOF support is not required. Can we close this issue as won't fix?

[2020-09-08 06:25] mengdonglin commented on #3276
Close the bug now. Recovery solution from DSP panic is a big topic and will not be tracked in this bug.

[2020-09-08 06:25] #3276 closed

[2020-09-08 07:30] mengdonglin commented on #2735
@plbossart @lyakh  https://github.com/thesofproject/sof/pull/3289 has been merged. Can you help check if this issue can be reproduced on your UP2 with PCM512?

Suggest lower the priority to P2 as this topology is not a product one.

[2020-09-08 07:35] slawblauciak commented on #3387
This platform is not supported, legacy audio driver should be used.

[2020-09-08 07:35] #3387 closed

[2020-09-08 07:49] slawblauciak commented on #3176
Platform not currently supported by SOF.

[2020-09-08 07:49] #3176 closed

[2020-09-08 10:57] kv2019i opened #3395 "[BUG] DSP reset fails occasionally on ICL (rarer on other platorms?)"
**Describe the bug**
The ICL FW boot fails occasionally. Example case here:
https://sof-ci.01.org/linuxpr/PR2413/build4423/devicetest/

The driver has had retry logic since the initial upstream version and there has been multiple patches to adjust the trace output so that error-level traces are emitted only if all FW boot attempts fail.

On ICL the first-boot failure seems to happen with fairly hi

[2020-09-08 12:46] lyakh commented on #2735
@mengdonglin @plbossart I've run a multiple-pause-resume.sh test with 25 repetitions (-r 25). The first attempt failed with a "device busy" error from aplay (or arecord). No errors in dmesg or in FW traces. The second attempt ran through successfully. So, I would say I cannot reproduce it. The log does seem to look a bit different from #3256 but it's possible that the switch to the timer schedulin

[2020-09-08 14:31] mengdonglin commented on #2735
@lyakh Many thanks for the fix and double check! Let's close it.

[2020-09-08 14:31] #2735 closed

[2020-09-08 16:23] plbossart commented on #3387
I think it's a real bug in the platform configuration.
The platform indicates the DSP is supported, but the keys are wrong.
Either the DSP should NOT be indicated as supported, or the keys should be set correctly.

[2020-09-09 00:22] marc-hb commented on #3395
Just found https://github.com/thesofproject/sof-test/issues/340 which seems like a (partial?) duplicate, @fredoh9

[2020-09-09 09:33] kv2019i commented on #3395
Did a stress test on one ICL RVP with a loop putting system to suspend, resuming, booting the DSP, and then repeating the sequence.

Bug occurence rate: 0.6% (out of 13000 iterations)

With no system suspend inbetween, I did not see boots fail.

Test script:
[code]

[2020-09-09 18:33] marc-hb commented on #3395
Thanks to @kv2019i 's indications here are some relevant pointers in the kernel source. As of version 5.8, the retry logic is located in `hda_dsp_cl_boot_firmware()` in `sound/soc/sof/intel/hda-loader.c`; this is the function logging some of the relevant messages. HDA_FW_BOOT_ATTEMPTS is currently 3

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/sound/soc/sof/intel/hda-lo

[2020-09-10 01:54] timur-enikeev commented on #2828
Please answer me, when will be the next sof release with the bugfix? I think it is the critical issue, then it should be fixed as soon as possible.

[2020-09-10 04:36] marc-hb commented on #3395
From @aiChaoSONG

The message is exactly the same (even the PCI ID) and the timeout 300ms too. Only one retry. This has been much, much rarer than on ICL.

I just added `cml` to https://github.com/thesofproject/sof-test/pull/372

[2020-09-10 06:53] slawblauciak commented on #2828
@timur-enikeev I don't think there's a deadline for 1.6 release, all I know it should be somewhat soon.
@lgirdwood might be able to tell more here

[2020-09-10 09:07] timur-enikeev commented on #2828
@slawblauciak I haven't understood. Do you plan to fix the bug in the 1.6 release? Or there will be 1.5.2 release with this fix?

[2020-09-10 09:35] slawblauciak commented on #2828
@timur-enikeev I don't think there's 1.5.2 release planned. You're going to have to wait for 1.6.

[2020-09-10 10:59] slawblauciak commented on #3371
@zrombel please try this https://github.com/thesofproject/sof/pull/3399

[2020-09-10 11:06] slawblauciak commented on #3330
@jdrzaszcz can you verify if the bug is still reproducible on master? You will need https://github.com/thesofproject/sof/pull/3399 applied.

[2020-09-10 11:15] lgirdwood commented on #2828
@timur-enikeev sorry about the wait here. v1.6 release validation will be starting next week. Final PRs merging now.

[2020-09-10 12:25] jdrzaszcz commented on #3330
@slawblauciak issue didn't occur after applying pr: https://github.com/thesofproject/sof/pull/3399 on SOF master branch, commit: 64a1657bdd76858273a3e689c7ed20ff0c134029

[2020-09-10 12:28] slawblauciak commented on #3330
Alright. Closing the issue.
That PR is only required to prevent an unrelated problem from occurring.

[2020-09-10 12:28] #3330 closed

[2020-09-11 05:57] ymdatta commented on #3007
Hi @dbaluta and @crazoes : Was this issue solved and the process documented somewhere? I had the same problem a few months ago, but didn't went into further details as my project didn't need this.

[2020-09-11 09:49] lgirdwood commented on #3007
Fwiw @lyakh will be updating the qemu docs here as he is debugging some Zephyr bringup.

[2020-09-13 22:16] crazoes commented on #3007
@ymdatta we were not really able to solve this problem. We suspected some of the qemu APIs might have changed over these years and hence communication was not happening correctly.

[2020-09-14 13:58] mengdonglin commented on #1537
Closed as PR#2925 has been merged and recorded wav has less background noise with Beamformer on TGL.

[2020-09-14 13:58] #1537 closed

[2020-09-14 19:06] plbossart opened #3408 "[BUG][topology] Inconsistent support for PGA Switch"
**Describe the bug**

Topology files are inconsistent for volume/switch management, e.g. only SoundWire topologies provide a 'Master Capture Switch'. Additional topologies also support a 'Capture Switch",

It's unclear why the Switch does not exist for playback.
Mute and Volume are not synonyms, if we have a volume control we also need to have a mute.

[code]
[code]

[2020-09-14 19:07] plbossart commented on #3408
@ranj063 @juimonen @keyonjie @bardliao  FYI

[2020-09-14 20:03] wmertens commented on #1537
@mengdonglin I had a look at the PR but couldn't see any documentation. Is there somewhere an explanation of how to use this? Thanks :)

[2020-09-14 20:22] RDharageswari opened #3409 "[BUG][TGL][DSM] feedback data for DSM should be voltage information only"
DSM has 2 streams, playback and a reference capture stream.
For 2 spk solution, the expected feedback is 2 channel from the MUXDEMUX11.0 DEMUX to the Host. That is Voltage data of each stream, but today we get 4 channel output(VIVI)- voltage and current information of each stream and hence the feedback is 4 channel capture.
Ideally for 2 speakers: pb will be of 2 channel, capture will also be 2 ch

[2020-09-14 20:24] lgirdwood commented on #1537
@singalsu any comment here on the docs. Are they still WIP ?

[2020-09-14 20:29] lgirdwood commented on #3409
@RDharageswari do you think a topology change is needed here in demux or do you suspect a FW issue ?

[2020-09-14 20:32] RDharageswari commented on #3409
i see there is a mux_configuration available sof_mux_config and the right slot mapping in the topology file will actually help here.
numid=165,iface=MIXER,name='MUXDEMUX11.0 DEMUX'

[2020-09-14 23:00] RDharageswari commented on #3409
Attaching the topology for reference:
![image](https://user-images.githubusercontent.com/37420451/93146340-630b2b80-f6a3-11ea-8dbd-e4352b51521a.png)

[2020-09-14 23:00] ranj063 commented on #3409
@lgirdwood it looks like the ask is for the DEMUX component to provide 4-ch data to the DSM module and only provide 2-ch to the HOST component. Do you think we need a splitter to extract just the 2 channels from the 4-ch feedback data?

[2020-09-15 02:58] keyonjie commented on #3409
We have already designed to use macros for all of this, @RDharageswari just try to specify different values for them: e.g.

For 2 speakers:

[code]

For 4 speakers:

[code]

[2020-09-15 02:59] keyonjie commented on #3409
@RDharageswari feel free to experiment and submit tplg changes after verified.

[2020-09-15 03:04] sathya-nujella commented on #3409
SMART_FB_CHANNELS=4  (Let's say this is - VIVI )
SMART_REF_CH_NUM=2
Which of the 2 channels out of 4 are given as REF channels?

[2020-09-15 04:34] keyonjie commented on #3409
That is also programmable, @RDharageswari is doing some similar changes for the FB channels, it worth to add macros for channel mask for both FB and REF if needed:

[code]

[2020-09-15 06:54] slawblauciak commented on #3371
Fix confirmed effective.
Another problem has surfaced however, should probably have a separate issue for it.

[2020-09-15 07:25] zrombel commented on #3371
I will open an issue for newly found bug. This issue can be closed once #3399 is merged to master.

[2020-09-15 07:37] slawblauciak commented on #3171
@mengdonglin please assign it to somebody who maintains legacy platforms.

[2020-09-15 07:44] slawblauciak commented on #1575
@lgirdwood Sue Creek support is not complete in SOF as a whole and there are no use cases/commitment. Do you think we could close this for the time being?

[2020-09-15 07:51] slawblauciak commented on #3258
@zrombel please clarify.

[2020-09-15 08:00] jajanusz commented on #3249
@bkokoszx @aiChaoSONG is it fixed with #2788 ?

[2020-09-15 08:10] aiChaoSONG commented on #3249
With #2788 and #3404, issue fixed. close

[2020-09-15 08:10] #3249 closed

[2020-09-15 08:18] keqiaozhang commented on #3171
Confirmed that this issue is not reproducible for a long time.

[2020-09-15 08:30] mengdonglin commented on #3171
@plbossart @keqiaozhang Close this issue . We can monitor if this issue will happen again on BYT.

[2020-09-15 08:30] #3171 closed

[2020-09-15 08:59] zrombel commented on #3258
This test fail was a network issue that caused logs absence on 01.org build report. Previous and next PR tests execution shows no failed tests on mentioned PR. For similar issues validation rerun will be performed. Closing issue.

[2020-09-15 08:59] #3258 closed

[2020-09-15 09:00] lgirdwood commented on #1575
@slawblauciak @lyakh Luckily enough Sue creek is supported by Zephyr so we can remove the IRQ code.

Lets keep the SUE target and platform stuff atm though as this may be needed to complete the Zephyr integration. We can remove this when we know it's no longer needed (probably after v1.6 and after Zephyr 2.5 releases)..

[2020-09-15 09:24] singalsu commented on #1537
@lgirdwood @wmertens Yep, I'm doing documentation to SOF Docs. I'd expect it take one week or so for the raw content plus one more week to work with language fixes etc.

[2020-09-15 12:29] mengdonglin commented on #1575
@xiulipan Can you help disable Sue Creek building in Travis CI?

[2020-09-15 13:45] zrombel opened #3416 "[BUG][JSL][WHL] Kd Notification Timeout in D0ix"
**Describe the bug**
This bug is introduced after https://github.com/thesofproject/sof/pull/3399 fix allowed KD topology creation on JSL and WHL.
Bug regards TestKdDmicD0ix python tests with slim driver. When putting FW in D0ix state and playing audio signal on dmic, FW should send KD detection notification and start draining and recording audio data. Draining and recording audio data occurs as ex

[2020-09-15 16:46] cujomalainey commented on #3388
@ranj063 friendly ping so I can send the PR

[2020-09-15 17:37] cujomalainey opened #3419 "[BUG] Formalize definition of reset callback"
**Describe the bug**
Reset callback definition is not clear on the depth of a reset

[code]

I have noticed many components treat this callback very differently

For example:
 * DCB does nothing (maintains filter state)
 * IIR removes everything including filter config
 * volume does nothing (maintains config)

[2020-09-15 17:38] cujomalainey commented on #3419
@johnylin76 @singalsu FYI

[2020-09-16 02:31] RDharageswari commented on #3409
Hi All,
I have submitted the patches here:
https://github.com/thesofproject/sof/pull/3421

[2020-09-16 07:13] singalsu opened #3423 "[BUG] rimage segfault in build for TGL with xt-xcc"
**Describe the bug**
The build stops due to segmentation fault in rimage. The error is:

[code]

**To Reproduce**
[code]

**Reproduction Rate**
Always.

**Expected behavior**
Produce sof-tgl.ri and sof-tgl.ldc.

**Impact**
Showstopper.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: N/A
    * SOF: fa974eb1541fd

[2020-09-16 07:44] singalsu commented on #3423
Note: Based on another PR it looks the configuration should be cavs2x_LX6HiFi3_2017_8. I'll get it and re-test.

[2020-09-16 08:12] singalsu commented on #3423
The build works with the new configuration. I'll change to P3 and no milestone. I didn't close because the tool should not crash even if obsolete configuration has been used.

[2020-09-16 09:03] lgirdwood commented on #3419
@singalsu can you take a look at this after v1.6.

[2020-09-16 22:45] marc-hb commented on #3423
Pretty sure you meant #3187

You bet. I'm raising to P2 because it's hard crash that could happen in other conditions until we know better.

Adding the "rimage" keyword in the title and inlining the valgrind trace because I think it's the most useful piece. It will also make it searchable:

[code]

[2020-09-16 22:58] ranj063 commented on #3423
@singalsu have you tried my PR #3187 . You need meu for signing TGL

[2020-09-16 23:05] marc-hb commented on #3423
@singalsu I'm confused: AFAIK the build uses either MEU or `rimage` but never both in the same build.

[2020-09-17 04:45] RDharageswari opened #3428 "[BUG] [TGL] [DSM] [I2S] No feedback data captured at times after SNDRV_PCM_TRIGGER_STOP/START events on pb stream"
Steps to repro the issue:
1. Do playback on speakers
2.Start stop Start stop Start the pb stream [This start and stop refers to SNDRV_PCM_TRIGGER_STOP/START events]
3.capture feedback data for 8 seconds
4.Start stop Start stop Start the pb stream
5.capture feedback data for 8 seconds
Repeat the above for 5 times, in one of the feedback captured file, the Voltage/current data is missing.
The result

[2020-09-17 08:55] lgirdwood commented on #3423
@marc-hb are you ok to fix the crash. A graceful error message and return an error is good enough since we are not using rimage for TGL atm.

[2020-09-17 09:28] zrombel opened #3429 "[BUG][WHL][TGL] DSM Multicore: Plyaback Stream Not Running"
**Describe the bug**
In DSM python tests where DSM component is running on secondary core 1 and all other components on primary core 0, after sending trigger start to playback and capture pipelines, playback pipeline doesn't start copying data, and stream stall occurs.
Bisect shows that bug was introduced in commit 02819769ac606e3d8427d7f6f1c6b08a1683fa3e part of PR https://github.com/thesofprojec

[2020-09-17 09:49] J-Bu opened #3430 "[BUG] Dell Latitude 3410 no sound"
**Describe the bug**
We try to switch to sof sound handling for our own linux distribution and are not able to make it work on the Dell Latitude 3410 wit the official released versions from sof-bin.
The root cause is, that the device /dev/pcmC0D6c is not created when using the topology files from sof-bin we tried every version from v1.4.2 - v1.5.1. Thsi device is referenced in the alsa ucm2 files

[2020-09-17 13:33] lgirdwood commented on #3409
@RDharageswari cane we close now ? PR merged.

[2020-09-17 13:34] lgirdwood commented on #3371
@zrombel can we close ? #3399 now merged.

[2020-09-17 13:40] zrombel commented on #3371
Of course. Closing issue.

[2020-09-17 13:40] #3371 closed

[2020-09-17 13:40] lgirdwood commented on #2342
@singalsu ping

[2020-09-17 13:46] lgirdwood commented on #2311
moved to v1.7 since it depends on https://github.com/thesofproject/sof/pull/3368

[2020-09-17 17:59] marc-hb commented on #3423
While spending more time reviewing #3187 I found this is likely wrong. It seems using MEU involves rimage too. I don't know why.

Not at this moment unless you raise the priority.

[2020-09-17 18:55] ranj063 commented on #3388
@cujomalainey  sorry for the delay. here it is

ranjani.sridharan@intel.corp-partner.google.com

[2020-09-17 18:57] #3409 closed

[2020-09-18 02:10] RDharageswari opened #3432 "[BUG] [TGL] [DSM] [I2S] Echo Reference stream throws FW exception with sof-tgl-max98373-rt5682.tplg"
**Describe the bug**
Echo Reference stream throws FW exception and DSP panics, with tgl-009-drop-stable branch: 0.9 release
The sof-tgl-max98373-rt5682.tplg uses smart_amp_test component.

**Reproduction Rate**
All the time

**Expected behavior**
Echo Reference stream should capture the feedback data from codec

**Impact**
showstopper

**Environment**
tgl-009-drop-stable
sof-tgl-max98373-rt5682.tp

[2020-09-18 02:11] marc-hb opened #3433 "[BUG] sof-logger resisted pkill -INT, using -KILL"
https://github.com/thesofproject/sof-test/pull/373 was merged because https://sof-ci.01.org/softestpr/PR373/build182/devicetest was all green. However almost all tests were failing because the sof-logger resisted kill -INT. To make it worse I misused `exit_status=2` which has the special meaning Not Applicable which means no error and everything is green.

[2020-09-18 02:12] RDharageswari commented on #3432
Tried with the following formats also:
s24_le playback + s32_le capture still the same issue

[2020-09-18 02:32] marc-hb commented on #3433
Quick workaround submitted at https://github.com/thesofproject/sof-test/pull/381

[2020-09-18 04:29] marc-hb commented on #3433
I cannot reproduce locally but I got an idea:
[code]
I don't do anything `REMOTE_` maybe that's why it's happening in CI and not locally.

From https://pubs.opengroup.org/onlinepubs/7908799/xsh/signal.h.html

I've never done the REMOTE_ thing, no idea how to do it. @xiulipan or @aiChaoSONG could you compare REMOTE_ vs local for me?

[2020-09-18 04:30] marc-hb commented on #3433
I switched from -INT to -TERM and it works, please review: https://github.com/thesofproject/sof-test/pull/382

[2020-09-18 04:43] aiChaoSONG opened #3434 "[BUG][CI][TGL-010] failed to set/get ctrl ipc comp for codec adacpter component after module reload"
**Describe the bug**
In module load/reload test case, after module reloading, topology will be reloaded and component parameters will be restored.
in restoring parameters to codec adapter component, the below error showed in dmesg.
[code]

**To Reproduce**
run test case in sof-test repo:
- for TGL_RVP_HDA, run
`TPLG=sof-hda-generic-4ch-kwd.tplg ~/sof-test/test-case/check-kmod-load-unload.sh -l 50`

[2020-09-18 06:01] RDharageswari commented on #3428
unable to provide more information due to this: https://github.com/thesofproject/sof/issues/3432

[2020-09-18 06:07] keyonjie commented on #2729
This is available on master so close it.

[2020-09-18 06:07] #2729 closed

[2020-09-18 06:30] jdrzaszcz opened #3435 "[BUG][APL] Firmware debug build failed for APL platform."
**Describe the bug**
Firmware debug build has failed for APL platform since commit fc5d74fccf690b20eb53daa66400e6ef85935eae.

Debug options enabled:
echo "CONFIG_DEBUG=y" >> override.config
echo "CONFIG_TRACEV=y" >> override.config
echo "CONFIG_PROBE=y" >> override.config
echo "CONFIG_PROBE_POINTS_MAX=16" >> override.config
echo "CONFIG_PROBE_DMA_MAX=4" >> override.config
echo "CONFIG_GDB_DEBUG=y"

[2020-09-18 10:05] lgirdwood commented on #3435
@jdrzaszcz it looks like we are hitting the memory limits here form APL. I guess this all works if you remove other items like some audio processing components ?

[2020-09-18 10:17] lgirdwood commented on #3432
@RDharageswari does the sof-logger error log show any data ? Are you using the test DSM or real DSM ?

[2020-09-18 10:18] lgirdwood commented on #3428
@RDharageswari can you confirm if the exception is also on master ? Is this with real/test DSM ?

[2020-09-18 10:23] lgirdwood commented on #3434
@aiChaoSONG is there any sof-logger trace or error log here ?

[2020-09-18 10:37] aiChaoSONG commented on #3434
@lgirdwood Sorry for forgetting to mention that @keyonjie  provide a fix on tgl-010-drop-stable branch: https://github.com/thesofproject/sof/commit/6d3e2ee834eff5946d057bee07cf7c3920a9fa46

[2020-09-18 10:51] lgirdwood commented on #3423
@marc-hb lets fix crash this for v1.6-rc1 which I will tag for FW today. Will tag rimage over the weekend if you can fix.

[2020-09-18 11:25] jdrzaszcz commented on #3435
@lgirdwood Yes that's probably this problem. When I removed two audio components, firmware compilation is complete.

[2020-09-18 13:18] lgirdwood commented on #3435
@jdrzaszcz shall we close ?

[2020-09-18 13:50] RDharageswari commented on #3432
This issue is not on master, as the master uses maxim DSM component

[2020-09-18 13:56] RDharageswari commented on #3428
This issue can be reproduced on master as well. master uses the actual DSMcomponent.i don't have data to prove this issue can be reproduced without maxim DSM as the default smart_amp throws exception with feedback stream itself as in https://github.com/thesofproject/sof/issues/3432

[2020-09-18 15:34] lgirdwood commented on #3428
@RDharageswari have you tried running tools/coredumper, this will help shed light on if its related to DSM module or SOF code (it should be able to take us to the line of code) which is doing the unaligned memory read..

[2020-09-18 19:33] plbossart opened #3438 "check-alsabat-headset-playback.sh frequency failures found on BYT_MB_NOCODEC, others."
_2020-09-19 UPDATE: transferred from sof-test. The logger error discussed below is a distraction tentatively fixed by https://github.com/thesofproject/sof-test/pull/386, please ignore it (but do help review its 386 fix)_

https://sof-ci.01.org/linuxpr/PR2452/build4513/devicetest/

check-alsabat-headset-playback.sh for BYT_MB_NOCODEC

[code]
@fredoh9 @aiChaoSONG @marc-hb does this ring a bell?

[2020-09-19 06:49] jdrzaszcz commented on #3435
@lgirdwood Yes, we can close it. We will have to change config in CI for APL debug build.

[2020-09-19 06:49] #3435 closed

[2020-09-19 09:39] caseorum commented on #2459
The channel inversion appears to happen on `pulseaudio --start`. Without UCM files and running the UCM manually with amixer, everything is correct in ALSA without pulseaudio. I'm seeing
[code]
Anyone else?

[2020-09-21 02:08] aiChaoSONG commented on #3438
I think we have two issues there, one is https://github.com/thesofproject/sof-test/issues/379, I working on this but delayed due to TGL release, the other is `error: in logger_read(), fread(..., /sys/kernel/debug/sof/etrace) failed: Inappropriate ioctl for device`, I think it is sof-logger or SOF issue.

[2020-09-21 02:15] aiChaoSONG commented on #3438
@fredoh9 It's the ramp (fade in) which contributing to the frequency.

[2020-09-21 08:09] abonislawski commented on #2908
@slawblauciak looks like there is no request to unmask this bit and it is cleared from the beginning.
REG_IRQ_IL2MD_ALL for some reason cannot set it to 1

[2020-09-21 09:29] lgirdwood commented on #2908
@abonislawski @slawblauciak what are the potential side effects here ? is this a blocker for v1.6 ?

[2020-09-21 09:43] ravulapati opened #3442 "Some trace messages are missing.."
We have enabled trace.By following sof documentation we tried to run sof-logger.
We see that some trace messages were not being observed.

What could be the problem.

[2020-09-21 09:47] dbaluta commented on #3442
Can you add more details? What is the SOF firmware version, what is the log observed and what are the logs you think are missing? Also, what is the command used to retrieve the logs?

[2020-09-21 09:55] lgirdwood commented on #2459
@caseorum Fwiw, pulseaudio start does "probe" each PCM by opening and trying many different params for each PCM (which will configure different SSP settings). I wonder here if the probing is setting some SSP register transitions that swap the channels ?
Could you try and "reset" the SSP settings (probably by writing all 0s or defaults to SSP regs) at the start of ssp_set_config().

[2020-09-21 10:02] singalsu commented on #2342
The PR https://github.com/thesofproject/sof-docs/pull/286 is not yet merged. It has the content that was discussed here so I expect only grammar improvements needed.

[2020-09-21 10:06] lgirdwood commented on #3438
Fwiw, I do manually check all alsa-bat failures by downloading the WAV and listening to the output as well as viewing in audacity. I also remember discussing with @singalsu a while back that we do need to make the pass band window larger.
@singalsu can you comment on the alsa-bat pass band window size do @marc-hb can fix if necessary.

[2020-09-21 10:09] lgirdwood commented on #2342
@singalsu it should be merged soon by @deb-intel
@juimonen can you approve too. Thanks.

[2020-09-21 15:00] marc-hb commented on #3438
I shared a fix for this in the comment immediately before yours.

[2020-09-21 15:02] deb-intel commented on #2342
@lgirdwood @singalsu Yes, I will merge / edit PR 286 (and 248) today.

[2020-09-21 17:00] plbossart commented on #2459
@caseorum sorry but not buying the results. I have a Samus blue-wired to see the SSP signals and I could see the inversion at the lowest level, it's not related to amixer settings. I also see the inversion on Dell 9343 which uses a different codec.

[2020-09-21 18:48] caseorum commented on #2459
@lgirdwood That's what I was thinking, whatever probing or other init pulseaudio is doing has the effect. I was hoping this might give someone who knows pulseaudio's probing better than I an idea. I'll take a look. It looks like ssp_set_config() already has some sensible resetting. Do you have something specific worth trying?

@plbossart I set amixer settings manually just to rule out any auto-UCM

[2020-09-21 19:19] plbossart commented on #2459
@caseorum you can take pulseaudio out of the equation by using -Dhw:0,0 (or -Dhw:1,0 if you have HDMI first).

[2020-09-21 19:28] caseorum commented on #2459
@plbossart Same result. That's why I thought you might find this information useful.
[code]

[2020-09-21 19:43] plbossart commented on #2459
@caseorum can you share the mixer script you're using, I'd like to compare it to UCM2 files, thanks!

[2020-09-21 21:07] caseorum commented on #2459
@plbossart Sure. It's taken directly from UCM2.
[sound-init.txt](https://github.com/thesofproject/sof/files/5257918/sound-init.txt)

[2020-09-21 21:42] cujomalainey opened #3444 "[FEATURE]Add coverity to CI"
**Is your feature request related to a problem? Please describe.**
Static analysis is an excellent way to catch bugs, its free lets use it

**Describe the solution you'd like**
Coverity easily integrates into Travis https://scan.coverity.com/travis_ci

**Describe alternatives you've considered**
cppcheck

**Additional context**
I can hopefully try this out in next week or so

[2020-09-21 21:45] cujomalainey commented on #3444
@plbossart if you want we can investigate this for kernel builds as well. Its already running upstream, just need to scope the failure to our related code https://scan.coverity.com/projects/linux

[2020-09-21 23:04] cujomalainey commented on #3388
@xiulipan I was reading old documentation, CI is not needed

[2020-09-21 23:13] plbossart commented on #3444
@cujomalainey I used to run coverity a long time ago, but their free scans are not meant to be run for each PR. IIRC they wanted to have e.g. a branch and a check run on a weekly basis. Sometimes the scans could take up to 24 hours to complete, and there are lots of false positives. It's the same as cppcheck, it's hard to use in CI since it's extremely verbose.

[2020-09-21 23:15] plbossart commented on #3444
@cujomalainey see the info from your link: https://scan.coverity.com/travis_ci

[code]

[2020-09-21 23:19] cujomalainey commented on #3444
Maybe it worth running coverity on release branches and making cppcheck on main build? Fixing as many errors as possible before adding to CI?

[2020-09-21 23:37] plbossart commented on #3444
You don't have to convince me @cujomalainey, I run cppcheck, make W=1 and sparse on the kernel driver code. On the firmware side things can be improved....

[code]

[2020-09-21 23:50] cujomalainey commented on #3444
Are you running this manually? Because we could move this to CI for you?

[2020-09-21 23:55] plbossart commented on #3444
yes, the log is way to verbose for a CI pass/fail report. It's got to be a maintainer check done from time to time, with developers strongly encouraged to do the same.

If you look at the kernel level Colin King runs coverity but he only detects deltas from his 'known' state to the new errors. It's quite hard to automate, someone needs to look at the results.

[2020-09-22 00:00] plbossart commented on #3444
command used for reference

cppcheck --platform=unix32 --force --max-configs=1024 --inconclusive --enable=all --suppress="variableScope" src

[2020-09-22 00:02] cujomalainey commented on #3444
I mean, we could run an informational CI on only the files diffed in the PR to help infer if someone is introducing new errors.

[2020-09-22 07:40] slawblauciak commented on #3434
@aiChaoSONG could you please confirm if the change in question is effective?

[2020-09-22 07:51] aiChaoSONG opened #3446 "[BUG][logger] 'Inappropriate ioctl for device' when start logger to acquire error log"
**Describe the bug**
Once our test failed, we will start sof-logger like this `/usr/bin/sof-logger  -l /etc/sof/sof-byt.ldc -o /home/ubuntu/sof-test/logs/check-alsabat/2020-09-18-16:49:54-26390/etrace.txt` to acquire error log. and the logger conplained `error: in logger_read(), fread(..., /sys/kernel/debug/sof/etrace) failed: Inappropriate ioctl for device(25)`

check the failure in https://sof-c

[2020-09-22 07:54] aiChaoSONG commented on #3438
confirmed two issues are here,  create new ones:
- alsabat failure: https://github.com/thesofproject/sof-test/issues/379
- sof-logger failure: https://github.com/thesofproject/sof/issues/3446

close this compond issue

[2020-09-22 07:54] #3438 closed

[2020-09-22 08:51] lgirdwood commented on #2459
@caseorum what happens on 10 subsequent runs without PA ? Do they swap randomly or are they all food ?

[2020-09-22 09:22] lgirdwood commented on #1899
After some investigation it looks like running SOF on SKL or KBL wont be possible at this time due to an immutable audio DSP signing key (which is also used by all OSes for audio authentication) on the platform.  Closing this.

[2020-09-22 09:22] #1899 closed

[2020-09-22 09:49] JannF commented on #2256
Is there any progress besides the closed referenced ticket?

[2020-09-22 11:24] caseorum commented on #2459
@lgirdwood Both the correct and inverted state are 100% reproducible and stable. They invert only on PA start and stay that way.

[2020-09-22 15:39] zrombel opened #3448 "[BUG][TGL][KD]tgl-010-drop-stable: No KdDetectionNotification in D0ix for 16b/16b audio format"
**Describe the bug**
In Keyword Detection D0ix slim driver test for audio format 16000Hz16b16b2ch - when FW is D0ix, FW doesn't detect audio signal on DMIC. IPC notification is not being send to HOST and capture stream is not running.

**Topology**
[code]

**To Reproduce**
Run python test with slim driver:
07_05_TestKdDmicD0ix16000Hz16b16b2ch
with option:
--playback_iteration=100

**Reproduction R

[2020-09-22 15:57] zrombel opened #3449 "[BUG][TGL][POST PROCESSING] tgl-010-drop-stable: Stream Stall in multicore post processing for specific audio formats"
**Describe the bug**
Issue concerns all audio formats except audio format: 48000Hz 32b 32b 2ch.
In topology where all pipelines are on primary core and Post Processing is on secondary core, playback pipeline doesn't copy data on playback pipeline after trigger start is send.

**Topology**
[code]

**To Reproduce**
Run python tests with slim driver:
TestGenericProcessorMultiCorePlb48000Hz16b16b2ch
T

[2020-09-22 16:22] caseorum commented on #2459
@lgirdwood @plbossart Here are the PA logs with SST and SOF, all else being equal. It looks like PA initially uses a period size of 1199 samples, then 1200 afterwards. That might be an off-by-one channel inversion. Thoughts?
[palog-sof.txt](https://github.com/thesofproject/sof/files/5262748/palog-sof.txt)
[palog-sst.txt](https://github.com/thesofproject/sof/files/5262749/palog-sst.txt)

[2020-09-22 17:00] cujomalainey commented on #2256
@JannF this is also closed based no the resolution in #1899

[2020-09-22 17:00] #2256 closed

[2020-09-22 17:09] plbossart commented on #2459
that looks like a red-herring to me:

[code]

there's no way SOF can work with odd period sizes.

[2020-09-22 19:56] marc-hb commented on #3438
I didn't understand the purpose of creating a new one instead of keeping this one but 379 is actually an old issue, thanks for closing this duplicate.

[2020-09-22 20:04] marc-hb commented on #3446
This happens when a second, concurrent sof-logger is started and can be reproduced very easily with a one-line change, see example in https://github.com/thesofproject/sof-test/pull/386

I think it has been like this since forever, it's just no one cared about sof-logger issues before: most errors were ignored and messages were silenced, see #3402 , https://github.com/thesofproject/sof-test/pull/37

[2020-09-22 20:08] lgirdwood commented on #2459
Looking at ssp_config() it looks like rate and bit size are the only things PA could chnages (if permitted in teh topology).  The only other thing that could impact here is whether PA was also trying to do some capture probing (and somehow capture probing cuases the swap by setting other SSP bits).
@caseorum may be worth a try disabling PA alsa-source module and try the test again. This would narr

[2020-09-22 22:57] cujomalainey commented on #3388
Project has been accepted into OSS-fuzz. I am working on a trimmed docker file (removing all the xtensa stuff) and a build script for fuzzing

[2020-09-23 00:46] aiChaoSONG commented on #3438
@marc-hb This issue is actually two issues with different code, so I split it

[2020-09-23 00:55] marc-hb commented on #3395
@ranj063 thinks https://github.com/thesofproject/linux/issues/2434 might be related.

[2020-09-23 02:43] cujomalainey commented on #3388
So got it to a buildable stage, but this is going to be a challenge. oss-fuzz builds with clang and all our infra is built around gcc. Will need to make some changes.

[2020-09-23 04:57] keyonjie commented on #3432
Hi @RDharageswari can you upload the .wav file you mentioned, looks it is S16_LE format?

[2020-09-23 05:42] keyonjie commented on #3428
I can reproduce this with nocodec mode, @bkokoszx I can reproduce this with below steps:
1. run aplay in one terminal, e.g. 'aplay -Dhw:0,2 -f s16_le -r48000 -c2 /dev/random -vvv -i'
2. run arecord in another terminal, e.g. 'arecord -Dhw:0,2 -f s16_le -r48000 -c2 tmp.wav -vvv'. you should see the arecord level same with aplay (e.g. aplay terminal is 99, so is the arecord terminal).
3. stop the are

[2020-09-23 05:59] marc-hb commented on #3423
@singalsu I don't have xt-xcc and can't seem to reproduce without it. Can you please switch `xtensa-build-all.sh` back to the old configuration, reproduce again and attach your `sof-tgl` and `bootloader-tgl` files? Note there's a been a number of rimage changes in both the sof and rimage submodule so if you can reproduce with the latest of everything then even more interesting, if not with the lat

[2020-09-23 06:07] keyonjie commented on #3432
Hi @bkokoszx I can reproduce this issue, once we run aplay and arecord with different format specified, the DSP will panic.

[2020-09-23 07:56] keyonjie commented on #3434
This is fixed on tgl-010-drop-stable branch, the fix will be upstream together with post processing implementation, close the issue here.

[2020-09-23 07:56] #3434 closed

[2020-09-23 08:04] caseorum commented on #2459
@lgirdwood Good call. alsa-source is exactly the module causing the inversion. Not as narrow as you hoped, but capture probing it is.

[2020-09-23 08:07] mengdonglin commented on #3423
No segfault after using the proper configuration. Lower the priority to P3 and remove from 1.6 blockers.

[2020-09-23 09:03] Tom-0505 commented on #1011
@ranj063  can you send me too, I have met the same problem as @emilchudzik too.
THX

[2020-09-23 09:30] caseorum commented on #2459
Is there a trace or a dump you'd be interested in?

[2020-09-23 09:37] Tom-0505 commented on #1011
@emilchudzik Is this issue solved? I've met the same problem, and I've turned on HIPM,DIPM,DEVSLP, still can't solved the problem. Please kindly teach me how to do.
THX

[2020-09-23 09:40] #2342 closed

[2020-09-23 10:02] lgirdwood commented on #2459
@caseorum can you disable PA again and try an ```arecord -Dhw:1,0 -f dat -d 5 > test.wav``` prior to speaker test. I would like to know if its capture or PA probing capture that causing the swap.
Also please try running the arecord and then run speaker test whilst arecord is still running.

[2020-09-23 10:39] singalsu opened #3455 "[BUG] Non-symmetrical per channel volume controls cause wrong gain"
**Describe the bug**
The volume unmute and level change ramp stops when one of the channels reach the target gain. The channels reach the target gain at different times due to constant linear gain slope vs. time. As result only one of the channel has the correct gain.

**To Reproduce**

Run this script

[code]

**Reproduction Rate**
Always. The incorrect gains look like this:

![Screenshot from 20

[2020-09-23 10:56] lgirdwood commented on #3446
@slawblauciak could be a race or etrace is empty ?

[2020-09-23 12:04] slawblauciak commented on #3446
@lgirdwood that looks like a kernel issue to me

[2020-09-23 12:08] ktrzcinx commented on #3446
It doesn't look like like race, after quick reading the code, I looks rather like reading empty file error, but it's not fully fit bug description.

[2020-09-23 12:38] caseorum commented on #2459
speaker-test is correct if started before or during arecord capture, and stays that way as long as it runs, even after arecord has stopped. Channels are swapped if speaker-test is started after arecord exits.

[2020-09-23 14:07] lgirdwood commented on #2459
@caseorum thanks, very useful info. One thing I do notice is that
[code]
@plbossart one thing I do notice is that we never clear SSRSA_RSEN or SSRSA_TSEN in ssp_stop() after we set them in ssp_start()

[2020-09-23 15:06] plbossart commented on #2459
This is awesome, thanks @caseorum for finding this. I will look into this later this week.

[2020-09-23 15:15] timur-enikeev commented on #2828
@lgirdwood What is the status of the 1.6 release?

[2020-09-23 15:38] #3455 closed

[2020-09-23 21:40] caseorum commented on #2459
@lgirdwood I think you found the bug. I've tested the change you're suggesting (9702bfddfc98b707618d75d53280cf1d6c1ae87d) and it works on my samus. Want a PR for this?

[2020-09-23 22:14] cujomalainey commented on #3388
So, buried deep within the closed issues of oss-fuzz is what I feared. It does not support the default method of fuzzing we are doing. It only supports persistent fuzzing using shims. To continue using the current fuzzing method we will have to do our own ad hoc system. As for oss-fuzz I am working to write a shim that it can work with.

[2020-09-23 22:39] satmandu commented on #1899
There was talk earlier this year by @plbossart about the possibility of working to get intel to sign firmware for the devices with Windows firmware.  Is there any chance of that happening?

(Some devices like Kaby Lake Chromebooks, such as nocturne, should have signed firmware already for use with ChromeOS's cras. Is it possible to get signed firmware for these which would work with sof?)

(And wo

[2020-09-24 01:14] keyonjie commented on #2459
Yes, please send a PR for that, thanks.

[2020-09-24 08:59] lgirdwood commented on #2459
@caseorum yes please :+1:  We can hopefully get this in v1.6-rc1 today and definately v1.6

[2020-09-24 09:39] bkokoszx commented on #3428
@keyonjie @RDharageswari @lgirdwood
I can reproduce issue on my RVP nocodec platform with smart amplifier test component. I can see that copying process looks fine - I mean capture pipeline (even in case when arecord level is 0) processes the right amount of data. I suspect that the data is equal to 0 - I think that maybe there is some more generic problem with SSP. I will debug it.

[2020-09-24 09:46] lgirdwood commented on #3428
@bkokoszx thanks, I think we will miss v1.6- rc1 but we can hit rc final for this one.

[2020-09-24 09:56] mengdonglin opened #3462 "[BUG][BSW][EHL] DMA is broken and get aplay "write error: Input/output error" in multi-pipeline playback/capture test"
**Describe the bug**
DMA is broken and get aplay "write error: Input/output error" in multi-pipeline playback/capture test on Braswell.

**To Reproduce**
Run 2 playback pipelines and 1 capture pipeline.
1. aplay -D hw:0,0 -c 2 -r 48000 -f S16_LE /dev/zero -q
2. aplay -D hw:0,1 -c 2 -r 48000 -f S16_LE /dev/zero -q
3. arecord -D hw:0,0 -c 2 -r 48000 -f S16_LE /dev/null -q

**Reproduction Rate**
rand

[2020-09-24 10:25] lgirdwood commented on #3462
[code]
Means the channel still has data within it's internal FIFO (not SSP FIFO) from the last block copied and cannot be recovered. FW should make sure that DMA channel FIFO is completely drained prior to channel disable.
[code]
There may be an error further up the logs showing the above timeout error.

[2020-09-24 11:10] mengdonglin commented on #3462
Keep this as a known issue.

[2020-09-24 12:02] ktrzcinx commented on #3446
@aiChaoSONG could you check if this patch could help: https://github.com/thesofproject/sof/pull/3463/files ?

[2020-09-24 12:43] bkokoszx commented on #3432
@keyonjie @RDharageswari
#3464 should fix DSP panic. With this PR and different formats on playback & capture we get an error:
[code]

[2020-09-24 13:14] #2459 closed

[2020-09-24 14:35] keyonjie commented on #3432
cool @bkokoszx thanks for fixing this!

[2020-09-24 14:47] singalsu commented on #2004
I just checked that this issue does not happen with current SOF git repositories:

Kernel Branch: topic/sof-dev
Kernel Commit: 40e44b3a8841
SOF Branch: master
SOF Commit: c4aa4c176

![Screenshot from 2020-09-24 17-45-40](https://user-images.githubusercontent.com/28754793/94161128-06232880-fe8e-11ea-8bee-b8a9dad331e6.png)

This issue can be closed!

[2020-09-24 14:48] #2004 closed

[2020-09-24 16:10] plbossart commented on #1899
it appears that's not going to happen for SKL/KBL. Not my decision.

[2020-09-24 21:23] FantasyCookie17 commented on #1899
What's the rationale for that? Did Intel refuse to do it?

[2020-09-24 22:40] RDharageswari commented on #3428
Thanks @bkokoszx. Can you also check the PCM_START & PCM_STOP sequence once, to confirm if it is the same issue.
![issue](https://user-images.githubusercontent.com/37420451/94207303-33ff7180-fe7c-11ea-811f-53202a758746.jpg)

[2020-09-25 01:47] fredoh9 opened #3466 "[BUG] LPRO ext manifest is not part of firmware"
**Describe the bug**
I built with cnl firmware with CONFIG_CAVS_LPRO_ONLY=y. There is no LPRO information in ext manifest.

[code]

from the map file, this is only hit
[code]

**To Reproduce**

This fix is required
https://github.com/thesofproject/sof/pull/3465

./scripts/xtensa-build-all.sh -d -c cnl
then select Platform->Use low power ring oscillator always
then check sof.map for .fw_metadata se

[2020-09-25 01:53] fredoh9 commented on #3466
Looks this the data I need to parse. Let me see what I can do.
[code]

[2020-09-25 04:35] cujomalainey opened #3467 "[FEATURE] move debug and optimization to global configs in cmake"
**Is your feature request related to a problem? Please describe.**
Allow optimizations to be globally configurable, as they should be, we should not be enforcing anything on the developer

**Describe the solution you'd like**
move to cmake vars/env vars

**Describe alternatives you've considered**
none

**Additional context**
https://github.com/thesofproject/sof/pull/3458#discussion_r494675193

[2020-09-25 06:51] jdrzaszcz commented on #3449
I rerun the multicore postprocessing tests with tgl-010-drop-stable (hash: 251f8de33eb4f455299f7e22cb83f3d8303576ff) + https://github.com/thesofproject/sof/pull/3464, and it looks like this PR fixes this issue.

[2020-09-25 06:55] abonislawski commented on #3466
I will prepare a fix, looks like LPRO define was not updated for ext_manifest

[2020-09-25 09:59] singalsu commented on #3423
@marc-hb I can keep this as very low priority activity since I reported this. I just checked that the segfault still happens with today's rimage version. Also I don't understand why cmake runs rimage in this case if meu should handle the non-OTC key based builds.

[2020-09-25 10:11] lgirdwood commented on #2828
@timur-enikeev v1.6-rc1 now tagged. Will be signed today or Monday (after validation completes). I will be announcing here on GH and on alsa-devel when binaries can be downloaded (as soon as signed and validated).

[2020-09-25 10:13] lgirdwood commented on #3467
@jajanusz fyi.

[2020-09-25 10:37] lgirdwood commented on #3432
@RDharageswari #3464 now merged, can we close ?

[2020-09-25 12:35] keyonjie commented on #3428
Looks this is a SSP issue, @RDharageswari @bkokoszx can you try if below change help:
[code]

[2020-09-25 12:42] #3429 closed

[2020-09-25 15:09] KaiChuan-Hsieh opened #3474 "Can't find a way to create sof-tgl.ri file in stable-v1.6 branch"
I am trying to study how to utilize the SDK to create required bin files for TGL platform.
Here are steps I've done:
=> Download repo
$ mkdir -p ~/.bin
$ PATH="${HOME}/.bin:${PATH}"
$ curl https://storage.googleapis.com/git-repo-downloads/repo > ~/.bin/repo
$ chmod a+rx ~/.bin/repo
=> Download manifest
$ mkdir sof
$ cd sof
$ repo init -u git@github.com:thesofproject/sof-manifests.git
$ repo sync
=

[2020-09-25 15:24] lgirdwood commented on #3474
@ranj063 @marc-hb @juimonen can someone clarify.
@KaiChuan-Hsieh please note the crash is logged in the GH issue tracker for fixing.

[2020-09-25 17:01] bkokoszx commented on #3428
@keyonjie @lgirdwood
With above change I also did not have reproduction. It looks like more generic issue. Did we hit something similar earlier on another pipelines?

[2020-09-25 20:38] marc-hb commented on #3474
At the moment TGL requires the MEU_TOOL. I'm afraid the MEU_TOOL is available only under NDA, if correct please contact your Intel representative.

This is because rimage doesn't support signing TGL. I added this assert in https://github.com/thesofproject/rimage/commit/2156dcb00d2eb05a8 a while back because it was more "user-friendly" (ahem) than dereferencing a null or uninitialized pointer.

[2020-09-25 21:49] plbossart commented on #3474
@KaiChuan-Hsieh I hope you are aware that even if you manage to sign the firmware yourself, the generated binary will not run on platforms designed for Windows since they use a 'production key' that Intel does not release externally. The signature tools provided with MEU will only work on Chromebooks and open-platforms, but for TGL I am afraid there are no platforms available commercially at the m

[2020-09-26 00:26] naveen-manohar opened #3541 "[TGL] [I2S/SDW][max98373 DSM]: sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x40010000 size 76"
Observe following Log randomly, during stress cycling.. Speaker Audio-Functionality post this scenario is yet to be verified as its a cold-reboot stress test.
Log: [system_logs.txt](https://github.com/thesofproject/linux/files/5285932/system_logs.txt)
[code]
Recipe Based on SoF_V0.8/0.9 Release
Hardware: Volteer Proto Board

[2020-09-26 00:30] KaiChuan-Hsieh commented on #3474
@plbossart @marc-hb thanks for your kindly reply.

I am running Ubuntu 20.04 on a TGL platform, and I am seeking a way for signing it with Community key as CNL platform. Is there any way to achieve this goal without signing NDA with Intel?

[2020-09-26 00:30] RDharageswari commented on #3428
Thank @keyonjie: This works for me as well

[2020-09-26 11:37] lgirdwood commented on #3474
@KaiChuan-Hsieh do you work for OEM/ODM if so you should be able to update the OEM key manifest with your own key and sign with this ?

[2020-09-26 13:11] KaiChuan-Hsieh commented on #3474
@lgirdwood in the project, there is otc_private_key_3k.pem, I thought it is the community key for signing the firmware, I don't have any OEM key in hand, since I am not working for OEM/ODM. Is there any command instruction like "rimage -o sof-cnl.ri -c /home/u/Workspace/sof/sof/sof/rimage/config/cnl.toml -k /home/u/Workspace/sof/sof/sof/keys/otc_private_key.pem -i 3 -f 1.6 -b 1 bootloader-cnl sof-

[2020-09-27 06:15] keyonjie commented on #3428
Thanks for debugging and verification, @bkokoszx and @RDharageswari .

I create a PR https://github.com/thesofproject/sof/pull/3476 to fix this, please help to review.

[2020-09-28 23:17] cujomalainey commented on #3095
@johnylin76 this is done right?

[2020-09-29 07:33] slawblauciak commented on #3466
@fredoh9 the PR has been merged, good to close?

[2020-09-29 07:37] slawblauciak commented on #3449
@jdrzaszcz please verify if the fix is effective on latest tgl branches, thanks

[2020-09-29 07:46] abonislawski commented on #3466
@slawblauciak #3473 is also needed

[2020-09-29 13:43] lgirdwood opened #3480 "[BUG] Reduce footprint by putting large items under kconfig options"
**Describe the bug**
Improve footprint by making more data and text items optional under kconfig. Platforms with limited memories must have a smaller set of features (e.g. less SRC conversion ratios, less module, less debug etc) compared to recent platforms with larger memories.

**To Reproduce**
[code]
Low hanging fruit is

- [ ]  SRC coefficients.
- [ ] Trig tables.
- [x] primary core
- [x] Heap

[2020-09-29 14:32] singalsu commented on #3480
Yep. I can do the first two items: SRC and sine lookup tables.

[2020-09-29 14:35] lgirdwood commented on #3072
@gobenji there are also some volume fixes in v1.6-rc3
https://github.com/thesofproject/sof-bin/tree/stable-v1.6

[2020-09-29 14:36] lgirdwood commented on #2828
@timur-enikeev v1.6-rc3 now signed, available here.
https://github.com/thesofproject/sof-bin/tree/stable-v1.6

[2020-09-30 02:57] libinyang commented on #3462
EHL has the similar issue.

2020-09-29 23:06:00 UTC [REMOTE_INFO] pipeline start sleep 0.5s for device wakeup
2020-09-29 23:06:05 UTC [REMOTE_INFO] checking pipeline status
2020-09-29 23:06:06 UTC [REMOTE_INFO] preparing sleep 5
2020-09-29 23:06:11 UTC [REMOTE_ERROR] Target pipeline count: 4, current process count: 3
/home/ubuntu/sof-test/test-case/multiple-pipeline-capture.sh: line 96: 66560 Kill

[2020-09-30 06:19] jdrzaszcz commented on #3449
@slawblauciak Rerun  multicore post processing tests with playback_iterations=100 on top of tgl-010-drop-stable, hash: 0ba4010e5564120080786ac0b43d574d00bc4e2e and there was no Stream Stall for any format.

[2020-09-30 06:19] #3449 closed

[2020-09-30 11:02] lgirdwood commented on #3462
@libinyang I've changed the title to mark this as EHL too. @slawblauciak fyi.

[2020-09-30 14:33] plbossart commented on #3462
@libinyang @lgirdwood EHL should be a separate issue, there's nothing common between the two hardware solutions, it can't possibly be a common root cause.

[2020-09-30 15:37] lgirdwood commented on #3462
@plbossart this will hopefully be clarified at the next scrub, I just want to rule out anything in the pipeline logic with multiple streams.

[2020-09-30 21:56] fredoh9 commented on #3466
Final piece is https://github.com/thesofproject/sof/pull/2957, but we can close this.

[2020-09-30 21:56] #3466 closed

[2020-10-01 01:51] marc-hb commented on #2543
Fix still not cherry-picked by Ubuntu 20.04 in `libatopology2 1.2.2-2.1ubuntu2`

[2020-10-01 08:32] foundObjects commented on #2828
Thanks! This'll help some of us narrow down our sound issues.

[2020-10-02 09:27] caseorum commented on #2459
Just want to say thanks @lgirdwood, @plbossart, and everyone. This project is awesome work.

[2020-10-03 00:05] marc-hb opened #3491 "Document (overlapping) codenames for toolchains, platforms, Kconfigurations, signing schemes, etc."
What do "TGL" or "CHT" mean? Are they Intel SoCs, PCH codenames, Kconfigurations, toolchain names, signing schemes? Probably a bit of everything depending on the context, no one knows for sure. No one except @jajanusz , who agreed in https://github.com/thesofproject/sof/pull/3451#issuecomment-700545311 that some documentation is really needed. Quoting myself from there:

[2020-10-03 06:28] gobenji commented on #3072
Thanks for the heads up. I just tried with the files from stable-v1.6 commit d211dd0 but I'm still experiencing the same step up in volume when playing the sound sample from c0 using `aplay`. Just to confirm, the md5sum of the files I used are:
[code]

[2020-10-03 09:23] lgirdwood commented on #3072
@singalsu fyi could ZC be disabled or could this be something else (e.g. codec related) ?

[2020-10-03 09:28] lgirdwood commented on #3491
@marc-hb there is a platform description table in sof-docs - this info could be added in new columns. They are product names but also used  for fw and toolchain config.

[2020-10-04 13:37] caseorum opened #3492 "[BUG][BDW] Stutter on bdw-rt5677 output"
**Describe the bug**
All pulseaudio sound output stutters until any alsa utility or plugin is used with `-Dhw:...`. The stream sounds 50% interlaced with null at ~10hz. The stutter is corrected for any pulseaudio output that starts after any use of alsa (aplay, arec, audacity plugins...) with `-Dhw:` exits.

The stutter is present if and only if `SND_SOC_SOF_DEBUG_ENABLE_FIRMWARE_TRACE=n` in the k

[2020-10-04 20:11] lgirdwood commented on #3492
Could be 2 things
1) DMA position reporting latency where HW pointer being used by PA is too old (if HW pointer is being transfered via IPC rather than read from DSP memory directly). Should default to memory readback.
2) PA is writting to same period that DW DMA is reading. This can cause races with HW vs SW IO. Trace may change the timing here and make it work.

It does sound like PA is writting

[2020-10-05 06:13] jdrzaszcz opened #3493 "[BUG][DSM] Additional data in feedback channels after release in pause/release test."
**Describe the bug**
When running simultaneous playback and capture on external loopback (same SSP) with pause/release action on playback stream, after release there are additional data before wave on feedback channels.
Playback pipeline contains Dynamic Speaker Management (DSM) component.

Example wave file:
![image](https://user-images.githubusercontent.com/46779093/95044955-15517400-06e1-11eb-8

[2020-10-05 11:42] singalsu commented on #3072
@gobenji  You have same v1.6 topology and FW md5sums as I have. Could you please try the following with firmware trace. The ramp lengths for playback pipelines should be 20 ms now. The two 250 ms long ramps are for PCM6C and PCM7C for DMIC capture. The 400 long ramps are for PCM0C and PCM1C.

[code]

Subjectively the two beeps sound similarly loud  to me. If you got the above trace output and if t

[2020-10-05 16:03] plbossart commented on #3492
@caseorum I've heard somewhat random noises at times but I have never been able to point to a specific root cause. I am also confused by the description "All sound output stutters until any alsa utility or plugin is used". PulseAudio will typically idle after 5s and close the streams, so is the problem happening on startup only when PulseAudio is first started?

Also what do you mean by 'alsa util

[2020-10-05 16:22] caseorum commented on #3492
@plbossart Yes, I mean all pulseaudio output stutters until after anything from alsa closes `-Dhw:...`. `-Dpulse` stutters. I'll edit to clarify. PA's stream idle/wake changes nothing.

[2020-10-05 16:47] caseorum commented on #3492
@lgirdwood That sounds right. This bug is with the low-latency pipeline, and using the media playback pipeline yields the same blip of silence separated by a longer interval of audio. That might be race-condition weirdness, because their buffers have similar size.

[2020-10-05 17:02] marc-hb commented on #3491
These "accidental" 1:1:1 mappings seem pretty bad. Because they "accidentally" work until they don't:
https://github.com/thesofproject/sof/pull/3451#issuecomment-703759584

Short of renaming everything to tgl-toolchain, tgl-kconfig, etc., some documentation would really help mitigate.

[2020-10-05 19:28] plbossart commented on #3492
@caseorum don't use the media pipeline, it was never tested and likely is broken.
I still don't get the sequence that makes things work.

[2020-10-05 21:05] caseorum commented on #3492
@plbossart You're right, the media pipeline fails spectacularly after several seconds, but that looks unrelated. Are you trying to reproduce this? How can I help? PA saves and restores device state, so that database could be affecting what you see on boot. Or maybe systemd, udev, or alsa are storing some kind of persistent state? I boot every time with a fresh install of PA with only default confi

[2020-10-06 06:02] KaiChuan-Hsieh opened #3495 "[BUG] Dell Precision 5750 doesn't work with stable-v1.6 sof rimage and tplg"
Hello,

I try to update the sof-cnl.ri and sof-cml-rt711-rt1308-rt715.tplg from sof-bin branch stable-v1.6, but the audio doesn't work.
The sof-soundwire sound card is created, but I can't play to the designated playback device.
I also try to update to the kernel built from topic/sof-dev, the result is the same.

The OS I am using is Ubuntu 20.04

The log of alsa-info and journalctl are attached.

[2020-10-06 08:42] lgirdwood commented on #3495
@mengdonglin @keyonjie fyi

[2020-10-06 08:57] lgirdwood commented on #3495
Driver logs
[code]

[2020-10-06 09:01] lgirdwood commented on #3495
@slawblauciak fyi - there is also and IPC error here, maybe setting invalid or old kcontrol data
@KaiChuan-Hsieh - it could be possible that old alsactl or pusleaudio or UCM configs are being used to set incorrect values for some of the kcontrols (as seen in kernel logs). Can you check any config files.

[2020-10-06 09:04] juimonen commented on #3495
@lgirdwood the log says it is still 1.5.1 firmware...?

[2020-10-06 09:24] lgirdwood commented on #3492
@caseorum the quickest thing to test is to get PA to render further back from the HW ptr. There may be a PA alsa-sink-module or alsa-source-module config setting for this.
The topology could also be updated to specify a larger minimum period size and buffer size (on the host side - not the DSP pipeline buffer), alternatively PA config could be used to set buffer/period size.
Finally the DSP pipeli

[2020-10-06 09:26] lgirdwood commented on #3495
@KaiChuan-Hsieh can you confirm this is v1.6, @juimonen can you confirm the version number is not a regression (like the compiler name issue reported by @lyakh ).

[2020-10-06 09:47] lgirdwood commented on #3474
@KaiChuan-Hsieh any update ? Btw your TGL platform must be programmed with an OEM signing key (that you have access to) in order for you to sign and execute the code (by default it will use the Intel signing key which means only Intel can sign).

[2020-10-06 09:55] lgirdwood commented on #3480
@slawblauciak any comments on primary_core_data ?

[2020-10-06 10:03] slawblauciak commented on #3480
@lgirdwood not sure, not exactly familiar with the static data FW embeds in the binary.

[2020-10-06 10:15] lgirdwood commented on #3480
@slawblauciak thanks, it may need some Kconfig #idefs around some it's data members as it seems odd that on UP platforms it's 12k and on SMP platforms it's 8k ?

[2020-10-06 10:17] slawblauciak commented on #3480
@lgirdwood I'll ask around. Somebody who worked on SMP code might know.

[2020-10-06 10:43] KaiChuan-Hsieh commented on #3495
Ah sorry, it seems I am using the wrong rimage(v1.5.1) with v1.6 tplg file.
After double confirm it, the combination is okay with the latest sof-dev kernel.

[3494.tar.gz](https://github.com/thesofproject/sof/files/5333190/3494.tar.gz)

Sorry for not checking carefully.

[2020-10-06 10:43] #3495 closed

[2020-10-06 10:47] lgirdwood commented on #3495
@KaiChuan-Hsieh no worries, this is useful info to say that v1.6 works fine on this platform !

[2020-10-06 13:31] KaiChuan-Hsieh commented on #3474
@lgirdwood I still can't find a way to create sof-tgl.ri, but the sof-bin stable-v1.6 contain the rimage for TGL platform, so it is not urgent now. However, it is still helpful to have the rimage signed by the community key if someone would like to hacking the project.

[2020-10-06 13:52] lgirdwood commented on #3474
@KaiChuan-Hsieh agreed, there is a FEATURE for rimage TGL signing. Not sure when it will be done though (unless you have time). OpenSSL does the signing and is invoked by rimage, the difference for TGL is a larger key size (384 bytes) vs key size of 256 bytes for the others.

[2020-10-06 14:38] KaiChuan-Hsieh commented on #3474
@lgirdwood thanks for your hint. I'll find sometime to dig into the project, hope that I can contribute it. Link the issue to #2158, and close it.

[2020-10-06 14:38] #3474 closed

[2020-10-06 15:43] plbossart commented on #3495
@KaiChuan-Hsieh can you confirm that audio works fine, including for short notifications? we have another user report https://github.com/thesofproject/linux/issues/2479 where audio distortion is reported on Dell Precision 5750 and Dell 9700 (both with the same hardware with two amps)

@ruffson @maaarghk FYI

[2020-10-06 15:52] maaarghk commented on #3495
@KaiChuan-Hsieh Since updating to the latest kernel - topic/sof-dev - I can confirm that I still have the issue where notifications are occasionally played with distortion in the left channel, which I never had on 1.5.1 firmware. What kernel version are you on? It could be a combination of latest kernel + latest firmware, for example that causes the issue.

[2020-10-06 15:52] caseorum commented on #3492
@lgirdwood I think PA's handling of hw_ptr isn't exposed via module parameters, and I was staying out of modifying PA itself for the time being. I did test ring buffer periods (module-alsa-card fragments). I'll get to topology changes in a bit.
PA defaults to 4 periods of 25ms:
[code]
(Aside: Those are special values of start_threshold, appl_ptr, and  hw_ptr, right?)

Playback stutters with 4 or 5

[2020-10-06 17:03] caseorum commented on #3492
With trace enabled, it's bugged consistently at periods 5, 7(slightly), and 10, no bit-setting behavior. So these numbers are more or less meaningless and this looks like a race condition that is sensitive to timing in the FW and the period count in the ring buffer.

[2020-10-06 17:37] marc-hb commented on #3474
#1833

[2020-10-06 17:48] marc-hb commented on #2158
@sathya-nujella I believe #3187 implemented this, can you confirm so we can close? It seems to work for a number of people, see #3187. Note this require the MEU_TOOL, rimage is not enough.

For TGL support in rimage there is another issue: #1833

[2020-10-06 17:48] plbossart commented on #3495
@maaarghk now I am confused, in https://github.com/thesofproject/linux/issues/2479#issue-711401972 you mentioned that you had DSP panics with 1.5.1 so it's not clear to me if this can be considered as a solid base to triangulate the audio quality issue.

[2020-10-06 17:54] plbossart commented on #3492
@caseorum I don't think we've tested with odd number of periods, I would stay away from this for now.
are you positive that with the 2 period settings things work fine, including with the trace disabled?

[2020-10-06 17:54] maaarghk commented on #3495
hmm, I had DSP panics but it was after 3 or 4 days of uptime. This intermittent issue is multiple times per day.

[2020-10-06 17:57] plbossart commented on #3492
@caseorum Now that I think of it, this reminds me of https://github.com/thesofproject/linux/issues/2200.
That looks like what you are experiencing. I closed it thinking it was a Debian setup issue but maybe I was on to something.

What distro are you using if I want to reproduce your findings?

[2020-10-06 18:23] lgirdwood commented on #3495
@maaarghk could you open a new issue for intermittent distortion on v1.6. Easier for us to track to make sure it's fixed for v.16 final.

[2020-10-06 18:24] lgirdwood commented on #1833
@KaiChuan-Hsieh fyi

[2020-10-06 18:26] maaarghk commented on #3495
Sure. Do you think https://github.com/thesofproject/linux/issues/2479 should be closed as it is an issue with 1.5.1 and seems fixed in 1.6? Or would you intend to backport to 1.5.2?

[2020-10-06 18:35] lgirdwood commented on #3492
@caseorum can you try host periods at 3 i.e.
[code]
and rebuild topology.

[2020-10-06 18:42] caseorum commented on #3492
I've confirmed that the ring buffer period count is irrelevant and PA isn't involved. It's just buffer size and format.
[code]
So I think this really is a FW/driver bug. It appears that for any system, there is a buffer size that fails.

@plbossart Yes! I've run into that in testing, but I haven't yet isolated it to make sure it's the same bug. I bet so.
This is an arch linux userspace with alsa-*

[2020-10-06 19:22] caseorum commented on #3492
@lgirdwood Done. No change.

[2020-10-06 20:11] plbossart commented on #3492
@caseorum great, this is good progress.

Can you try with a buffer size that's a multiple of 192 bytes, e.g. -b 960000 ? I suspect limitations in our code. the values you used are not integer multiples for 48kHz sampling rate.

[2020-10-06 20:13] yongzhi1 opened #3498 "[FEATURE] Document how to build SOF with Zephyr"
Since SOF Zephyr upstream is close to complete, the time is ready to publish the build instructions so that people can build SOF FW based on stable_v1.6 branch with Zephyr RTOS on master branch.

cc @lrgirdwo

[2020-10-06 20:28] caseorum commented on #3492
@plbossart -b is in microseconds, so `-b100000 -r48000 -FS16_LE` is the PA default 100ms buffer, so 19200 bytes.

[2020-10-06 21:00] plbossart commented on #3492
@caseorum sorry, I read 1s. There's still got to be some magic value that's not well handled by the code, e.g. maybe it's an alignment with 1024 or something.

[2020-10-06 21:03] lgirdwood commented on #3492
Fwiw, Buffer size and format do alter the page tables that the host driver sends to the FW. The page tables are used to program FW DMA to copy from host to DSP memories. We may need a topology PCM ALSA constraint here to make sure buffers are aligned with any HW constraints.

@caseorum do you have a list of good/bad buffers and formats or have you worked out the rules for what works and what doesn

[2020-10-06 21:07] lgirdwood commented on #3498
@lyakh fyi

[2020-10-06 21:26] caseorum commented on #3492
@plbossart That's my mistake, I had a typo with one too many 0s. Edited.

@lgirdwood I'll work up an exhaustive list of every error condition I can find tomorrow.

I had estimated the stutter at 10hz by ear. If exact, that would mean the error repeats once per buffer. I'll see if it's slower/faster for larger/smaller (broken) buffers.

[2020-10-06 21:42] maaarghk opened #3499 "[BUG] Intermittent audio distortion on Dell 9700 / sof-cml-rt711-rt1308-rt715.tplg / firmware 1.6"
Intermittent audio distortion is experienced on firmware 1.6.

Videos of the issue:
* https://photos.app.goo.gl/jTZDGzPGSP8QckDf7
* https://photos.app.goo.gl/TyoTGeJuxsYAumtf9

the relevant outputs in alsamixer (distortion goes away when muted) are rt1308-1 DAC L and rt1308-1 DAC R - if you're unfamiliar with the hardware, as a reminder, these are both for the left channel despite the name but one

[2020-10-06 22:05] plbossart commented on #3499
@maaarghk you only made references to rt1308-1 and the video seems to hint at a problem on the left speaker. Can you confirm if you hear this distorsion on the right speakers as well?

This is important for us, what happens is that the firmware will push *exactly* the same content to both amplifiers which are located on separate SoundWire links. rt1308-1 then picks the left channels and rt1308-2 p

[2020-10-06 22:06] maaarghk commented on #3499
I can confirm for sure it is on left speaker only.

[2020-10-06 22:09] plbossart commented on #3499
@maaarghk thanks, this is super-useful information. I will try to cook a patch that ignores the right amplifier completely and uses the 'other' topology for Dell devices, where there is only a single amp. If you still hear the distorsion, it might be your hardware. if you don't then it's likely a problem in the firmware demux functionality.

[2020-10-06 22:21] plbossart commented on #3499
@maaarghk can you try this patch on top of your kernel:
[soundwire-left-amp.diff.txt](https://github.com/thesofproject/sof/files/5337173/soundwire-left-amp.diff.txt)

This should disable the right amp entirely as well as the demux in the firmware. You will need a different topology (-mono suffix) and a different UCM file will be loaded, but that should be fine if you have the latest stuff installe

[2020-10-06 22:58] maaarghk commented on #3499
Hi Pierre, I retried the same test of 100 notification sounds with your patch applied. As expected, audio from left speaker only. There was no distortion present.

[soflog-20201006-2340-soflog.log](https://github.com/thesofproject/sof/files/5337314/soflog-20201006-2340-soflog.log)
[soflog-20201006-2340-dmesg.log](https://github.com/thesofproject/sof/files/5337316/soflog-20201006-2340-dmesg.log)
[a

[2020-10-07 02:23] KaiChuan-Hsieh commented on #3495
@maaarghk
I remembered that I encounter the audio distortion on left channel of internal speaker once, but I didn't pay attention to it. Currently, I am working on our linux-oem kernel, https://code.launchpad.net/~vicamo/+git/ubuntu-kernel/+ref/bug-1894184/tgl-soundwire-support/oem-5.6 by adding
[0001-ASoC-Intel-Correct-codec-name-prefix-to-ACPI-machine.zip](https://github.com/thesofproject/sof/fi

[2020-10-07 06:07] caseorum commented on #3492
Awesome! With s16le, the bug is usually "fragile" like that, so setting a
different buffer length makes it go away until reboot.

Things I've noticed:
Which buffers are bugged depends, at least, on sof kernel options,
especially trace. I'll try more. It's probably the length of those code
paths.

If a buffer length is bugged with 16 bits, it's worse with 32, even though
that doubles the buffer siz

[2020-10-07 08:48] maaarghk commented on #3495
Hi, you could take a look at #3499

[2020-10-07 09:08] ktrzcinx commented on #2891
It looks like this issue can't be reproduced on latest master branch (3c073b478fb9f), @jdrzaszcz can you confirm ?

[2020-10-07 10:17] lgirdwood commented on #3492
@plbossart @caseorum it's worth checking if the distortion is synchronous and constant on every test (for the same buffer size and format) i.e. occurs every x millisecs and also the duration in sample (capturing playback to another PC recording at 48kHz is good enough to show this). Audacity renders this very well when the audio is imported (especially if a sine wave is played).
There is also some

[2020-10-07 10:28] lgirdwood commented on #3499
@KaiChuan-Hsieh fyi.

[2020-10-07 10:31] lgirdwood commented on #2891
@ktrzcinx good to know, could be the recent FIFO draining PR from @keyonjie

[2020-10-07 10:37] jdrzaszcz commented on #2891
I checked on commit: 9e9aeadd7fe4b140bb1bdd97737c9e144570d15d and it looks like this issue has been fixed. I will perform more test and than close it.

[2020-10-07 10:46] caseorum commented on #3492
@lgirdwood I'll get a capture off the 3.5mm and try getting those dumps unless @plbossart beats me to it.

Honestly, I have yet to see a failure with a 50ms 2-period buffer on any format, so that's a real option.

[2020-10-07 11:01] caseorum commented on #3492
@lgirdwood scratch that. I found a failure for S32_LE with 50ms buffer. Stutters at 20hz, so it looks like one error per buffer.

[2020-10-07 11:25] mmaka1 commented on #3480
@lgirdwood @slawblauciak primary_core_data size is not related to UP vs. SMP, it is just coincidence. The size is determined by number of interrupt levels selected in the platform configuration, as each context uses dedicated 4K stack.

[2020-10-07 11:51] lgirdwood commented on #3492
@caseorum the FW and driver code that does the buffer wrap is the same on CHT, BSW and BYT platforms. However the DMA IP on BDW is newer that the IP on CHT, BSW, BYT and hence may have a different configuration wrt DMA burst size, FIFO depth - but these are all quite small and should always align with buffer size. The other DMA difference is that HW reloads the DMA descriptors on BDW (instead of S

[2020-10-07 11:52] lgirdwood commented on #3492
Btw, has anyone tried mmap mode with aplay yet ?

[2020-10-07 11:54] lgirdwood commented on #3480
@mmaka1 thanks got you. So these are already optimised.

[2020-10-07 14:02] plbossart commented on #3499
@maaarghk thank you for your tests. This rules out a broken speaker or hardware and points to the firmware demux in my opinion. That's really the only difference with the single amp mode, the driver uses the same sequence in single and multi-link cases.

@bardliao @slawblauciak @RanderWang do you concur with my analysis?

[2020-10-07 14:56] lgirdwood commented on #3499
@juimonen btw are we able to validate demux routing logic in test bench yet ? Would be good to have such tests in CI

[2020-10-07 15:22] maaarghk commented on #3499
Hi @juimonen  - is the "soflog.log" file I attached not what you need? I am happy to do whatever other traces you need, but might need talked through it in a bit of detail because I have no familiarity with alsa nevermind sof or soundwire.

[2020-10-07 15:43] juimonen commented on #3499
@maaarghk yeah, sorry I should read more carefully. I'm not sure can we set the firmware debug level to be more verbose, we should see inside the mux_params and others what it is actually setting. I remember these kind of issues happening when for some reason the demux parameter forwarding logic goes wrong, so some audio branch thinks it using 24 bits etc. even though it is not.

[2020-10-07 16:06] caseorum commented on #3492
@lgirdwood
- It's somewhat insane to produce an exhaustive list: Failing buffer sizes (currently without trace) are at least
 ...50ms s32le
 ...every (!) buffer between 61-84ms s16le
 ...every buffer 100-125ms both s16le and s32le
For every failing buffer size, exactly double, if possible, fails as well.

- Every error has a unique, reproducible sound for that length/format pair. The error always

[2020-10-07 16:10] caseorum commented on #3492
Apologies. Slip of the finger on the close button.

[2020-10-07 17:50] maaarghk commented on #3499
If you want to email me some firmware build with extra debug info feel free.

[2020-10-07 19:46] plbossart commented on #3492
I captured the output of the SSP0 on Samus, I don't see anything wrong and I can't hear any issues

[samus.csv.gz](https://github.com/thesofproject/sof/files/5343420/samus.csv.gz)

Really don't know where this noise comes from, for me it's not reproducible.

[2020-10-07 19:46] lgirdwood commented on #3492
@caseorum thanks for the info. I've been having a look at src/audio/host.c and can see we have quite a few DMA variables that are used to do optimum copies between host and DSP memories. Are you able to rebuild FW with trace and debug and attach the trace log for working vs non working. I have a suspicion that the buffer last copy calculation is correct (since it works on other platforms) but it m

[2020-10-07 19:47] plbossart commented on #3492
I was able to completely wreck the device by choosing a size too small for the  buffer.

[code]

Probably a different issue though.

[2020-10-07 19:49] lgirdwood commented on #3492
@plbossart I think we can probably set some ALSA constraints here, until this is root caised. The interesting thing is that host DMA may be in speculative mode where it always copies to fill the free bytes in the local buffer. This may work well until we hit buffer wrpa and have to do a smaller DMA copy than normal ?

[2020-10-07 20:00] plbossart opened #3503 "[BUG] [BDW] IPC error on hw_params when buffer is too small"
**Describe the bug**

On Broadwell Samus, the following command works fine

[code]

Reducing the buffer size to a much smaller value creates unrecoverable IPC errors

[code]
sof-logger trace

[code]

Full trace included
[sof-logger.txt](https://github.com/thesofproject/sof/files/5343469/sof-logger.txt)

**To Reproduce**

Install latest firmware and kernel and run command above

**Reproduction Rate

[2020-10-07 20:02] plbossart commented on #3492
@lgirdwood see https://github.com/thesofproject/sof/issues/3503 for the buffer size issue

@caseorum I am really not able to reproduce your findings, so you recompile the firmware yourself? I am using plain vanilla broadwell with GCC, trace included.

[2020-10-07 21:28] plbossart commented on #3492
@caseorum I did retry with a clean install and I found that my aplay tests always works. When I do this sequence on reboot:

speaker-test -Dhw:1,0 -c2 -S5 -r48000 -FS16_LE -b 125000 -P4 # stutter
speaker-test -Dhw:1,0 -c2 -S5 -r48000 -FS16_LE -b 170000 -P2 # no stutter
speaker-test -Dhw:1,0 -c2 -S5 -r48000 -FS16_LE -b 125000 -P4 # no stutter

It's as if there's one good sequence that sets an inter

[2020-10-07 21:40] plbossart commented on #3492
Hurray, now I am able to see visible discontinuities with an 8 Hz period.

root@chrx:~# aplay -Dhw:1,0 -c2 -r48000 -B125000 -fS16_LE cnt_1024_left.pcm  -v

![gaps](https://user-images.githubusercontent.com/1149035/95390713-6ddc6900-08bb-11eb-990e-8a49731ba9a4.png)

if I remove the -B125000 the gaps are gone for good.

I have no idea what happens but that's at least one reproducible test case for m

[2020-10-07 21:43] plbossart commented on #3492
I just realized that the gaps happen at the start (or end) of the ring buffer. I knew 0.125 s look suspicious, but it's indeed what I set as the ring buffer size. So this clearly point to a host DMA issue, don't you think @lgirdwood ?

[2020-10-07 21:50] caseorum commented on #3492
@lgirdwood Finally back at my samus. Here are two trace logs. Built with debug and verbose trace.
[50ms-s16le-clean.txt](https://github.com/thesofproject/sof/files/5344027/50ms-s16le-clean.txt)
[125ms-s16le-bug.txt](https://github.com/thesofproject/sof/files/5344028/125ms-s16le-bug.txt)

[2020-10-07 22:04] caseorum commented on #3492
@plbossart

Yeah, I got that one too.

Yes, setting a good buffer sets some kind of state. That's that "bit setting" I was talking about. There are also buffer lengths that break it again. Your results look like your kernel has sof tracing enabled, is that so?

Yes. I've also tested releases, various build options, various kernel versions and configs.... I can reproduce this bug absolutely everywh

[2020-10-07 22:10] caseorum commented on #3492
@lgirdwood Do you still want some tracing added around the source pointer increments?

[2020-10-07 22:15] caseorum commented on #3492
@plbossart Can you try s16le at 250ms? That should be an example of what I called "horrible popping" if I'm right about your setup. Would love to see a clean capture of that.

[2020-10-07 22:37] plbossart commented on #3492
@caseorum here you go, perfect gaps at 4Hz / 250ms...

![samus-250us-buffer](https://user-images.githubusercontent.com/1149035/95395201-aed87b80-08c3-11eb-93ed-1511093ca00b.png)

[2020-10-07 23:03] plbossart commented on #3492
I think what happens is that the hw_params constraints are not set right.

[code]

I asked for 125 and got weird values.

I think what happens is this. with 125ms, the buffer size *should* be 24000 bytes = 192 * 125.

Now the period size also needs to be a multiple of 192 bytes, I think that's a fundamental limitation on Broadwell. It's not possible here since dividing in 4 periods will break the

[2020-10-07 23:40] plbossart commented on #3492
Actually ALSA isn't so bad. In this case, 125ms could not be reached, so it found 124ms for the buffer with 4 periods of 31ms.

I wonder however if the firmware (and page tables) are able to handle an odd number of 1ms ticks and DMA transfers per period.

[2020-10-08 06:35] juimonen commented on #3499
@maaarghk really appreciate your help, but I'm not sure you can install unsigned firmware (not signed with intel key) to your device, we might need to debug this with unlocked device internally. The official signing process is quite tedious, so we use it for official releases, then develop with devices with debug keys etc.

[2020-10-08 06:41] juimonen commented on #3499
@mengdonglin do we have this kind of device that someone could take a look? we should enable more debugs in firmware and try to replicate the distortion, then check that there are correct params in demux for both channels, or that the pga before is not distorting the other channel.

[2020-10-08 07:15] lyakh commented on #3498
@lgirdwood do I understand it correctly that we first need Zephyr upstream to add SOF as a module, which would make it possible to build firmware and, respectively, to document the process?

[2020-10-08 09:48] caseorum commented on #3492
@plbossart There's an issue with the constraints, like minimum buffer size, but I don't think that's related. The ALSA ring buffers and periods are consistently sane. I also think I've ruled out odd-size errors, since booting a pretty minimal kernel without trace ([config.gz](https://github.com/thesofproject/sof/files/5346691/config.gz)) is bugged for some extremely sane sizes (19200 bytes, 2-peri

[2020-10-08 10:05] lgirdwood commented on #3492
@plbossart @caseorum fwiw, the last page (where we hear the distortion) is treated differently in the page tables
[code]
AFAIU this works on BYT, CHT (as they also use page tables), so I can only assume this is probably correct (but trying a buffer size of 4k multiples would prove it).

My suspicion is the DMA elem config for the buffer wrap (especially if DMA is running in speculative mode). The

[2020-10-08 10:09] lgirdwood commented on #3503
@caseorum @plbossart this looks like the transfer size is too small for the DMAC.
[code]
i.e. a small buffer means a small page table and a small DMA page table copy.

[2020-10-08 10:44] lgirdwood commented on #3498
@lyakh we should state that in the intro and that's planned for Zephyr 2.5. The intro should state that these instructions are temporary and will change as the upstreaming completes. These instruction should show how to build it **today**
We can always update to module when @andyross and @nashif have everything ready on the Zephyr side.

[2020-10-08 13:37] plbossart commented on #3503
Not following, sorry @lgirdwood . I really never understood the whole concept of compressed page tables, and in this specific case I don't know how we could put a constraint on the buffer size after determining that the buffer size is too small. It's non-causal.

[2020-10-08 13:42] plbossart commented on #3492
@caseorum I'll retest on CHT, I have test devices and I am afraid we haven't done a good job at changing the configuration of the ring buffer. Murphy's Law still applies.

[2020-10-08 14:07] caseorum commented on #3503
@plbossart I believe he means either
1. constrain ALSA to k*(DMAC minimum, often the 4k page size IIRC) buffer sizes, which also puts a lower bound on latency, or
2. just always copy at least the minimum, which is the usual way in many applications.

(2) requires you to be sure that you won't segfault, that the dest buffer can fit the junk on the end, that that junk will be ignored, and that you a

[2020-10-08 14:35] lyakh commented on #3498
@lgirdwood today we can build Zephyr with SOF in one of (at least) 3 ways: using as a basis SOF's clone, or the clone by @andyross or mine. The first option has the advantage of being at least a project repository, not a private one, but it's outdated. The latter two options should produce the same result (once @andyross merges my patches) but they use private trees. We could maybe update SOF's ze

[2020-10-08 14:46] plbossart commented on #3503
I must be missing something. I thought the compressed page tables were passed to the firmware with an IPC? I don't see how the DMA configuration could be transmitted with a DMA, that's seems like a technical oxymoron.

[2020-10-08 15:25] plbossart commented on #3503
I just tested that this issue does NOT appear on Cherrytrail, I was able to test with really small ring buffers without issues

[code]

[2020-10-08 15:29] caseorum commented on #3503
@plbossart I'm new to this codebase, but I'm thinking the DMA is being configured (via IPC) for a copy that is too small for the DMAC on broadwell. So now we're getting into datasheet territory, but the implication here is that the newer ones have a 4k minimum, but broadwell's minimum is larger.

[2020-10-08 15:31] lgirdwood commented on #3498
Yes, please update SOF Zephyr clone to match @andyross branch with your fixes too.

[2020-10-08 15:32] lgirdwood commented on #3498
and use this for the build instructions as it's probably closest to what will merge in Zephyr master.

[2020-10-08 15:38] lgirdwood commented on #3503
@plbossart @caseorum  the compressed page table

1) takes a host 32 bit DMA SG buffer.
2) converts to PHY pages (i.e. drops LSB 12 bits from each 32bit PHY addr )
3) Squashes those remaining 20bits PHY addresses for each page into a compressed array.

The size of the compressed array of 20bit PHY page addresses is then sent to DSP. The size of the array is determined by the size of the host audio

[2020-10-08 15:39] plbossart commented on #3503
I can confirm this bug does not occur on BYT/CHT. I tested with all sequences that are reproducibly wrong on Broadwell and no issues at all.

Clearly the Broadwell DMA as some issues.

[2020-10-08 15:40] plbossart commented on #3492
I can confirm this bug does not occur on BYT/CHT. I tested with all sequences that are reproducibly wrong on Broadwell and no issues at all.

Clearly the Broadwell DMA has some issues.

[2020-10-08 15:41] lgirdwood commented on #3503
Ack, we need to find the min transfer size and make sure we never go under that for page tables or audio buffer wrap.

[2020-10-08 15:49] caseorum commented on #3492
Right. So the thought is that this and  #3503 have the same root cause, namely that the BDW DMA minimum is larger than 4k. Datasheet time.

[2020-10-08 15:58] lgirdwood commented on #3492
@caseorum @plbossart I suspect that the smallest transfer size is limited to the channel burst size. It would be quick to try gradually small buffer (in steps of 4kB) until it fails and then workout the page table size and ultimately transfer size that breaks.

[2020-10-08 16:00] lgirdwood commented on #3492
Oh, furthermore if smallest transfer size is say 16 bytes then I would further assume that all transfers must be aligned on 16 bytes for size.

[2020-10-08 16:12] caseorum commented on #3492
@lgirdwood Got it. This does mean splitting out the logic for broadwell. Or would you restrict all of them, relatively harmlessly?
I don't dip into the audio world very often, but I vaguely remember a discussion about broadwell's odd DMA situation somewhere. Maybe kernel. I'll look.

[2020-10-08 19:09] lgirdwood commented on #3492
@caseorum I think in the case for BDW we can set some attributes for DMA transfer size and alignment. We alreday have similar attributes so adding extra should not be too hard.

[2020-10-08 20:19] fredoh9 opened #3507 "[BUG] ext manifest has extra element"
**Describe the bug**
Working on https://github.com/thesofproject/linux/pull/2297.
Parsing CAVS EXT MANIFEST, it is supposed to parse total 3 elems from ext_man_cavs_config_data but total 5 of elems are parsed. There are unnecessary extra elems. It causes warnings.

Should EXT_MAN_CAVS_CONFIG_LAST_ELEM be up to date with last element? like below?
[code]

And even with this fix, first 0 is unavoidab

[2020-10-08 21:34] fredoh9 commented on #3507
In second thought, I don't remember why we have to start this from 1. I kind of remember it caused some issues but I'm not sure that concern is still valid. Can we start this enum from 0 also?

`EXT_MAN_CAVS_CONFIG_LPRO	= 0,`

[2020-10-08 22:36] ranj063 commented on #3507
It needs to start from one for the exac reason that we have static sizes array and the elems in the static array will be initialized to 0. Then you wouldnt know if it is a real element or the default element in the array?

[2020-10-08 22:37] ranj063 commented on #3507
besides if you only parse the exact number of elems based on size, you wont have this problem isnt it?

[2020-10-08 22:43] fredoh9 commented on #3507
Ah, I know remember the discussion why it starts from 1.

[2020-10-09 06:09] lyakh commented on #3507
Aren't there also maybe some other field that we can check to verify, that the element is valid? Or you could make the array size `array[LAST - 1];`? But as discussed in https://github.com/thesofproject/linux/pull/2297 I don't find the idea of the size of an array being exactly equal to the current number of possible elements, good.

[2020-10-09 06:56] jdrzaszcz commented on #2891
@ktrzcinx @lgirdwood I performed more test with script on this commit 9e9aeadd7fe4b140bb1bdd97737c9e144570d15d and there are still additional data in recorded file but not with every pause/release action.
![image](https://user-images.githubusercontent.com/46779093/95551665-865b9900-0a0b-11eb-8e58-9dc7724c6557.png)

This also heppen on top of the master commit: e5d17f3c10f3d170d3aa57460c124cf9cf77a

[2020-10-09 07:03] ktrzcinx commented on #3507
What profit it has above just skipping zero filled elements ? Maybe we should just explicit mark EXT_MAN_CONFIG_EMPTY.

it's rather array capacity, defined to workaround xcc problems with static flex arrays

[2020-10-09 09:08] lgirdwood commented on #3507
This is intentional as it means we can append new manifest elems without breaking the kernel (kernel just ignores the new feature and in this case prints a warning). The last elem ID does NOT have to be ABI aligned between FW and kernel, as long as the array elem count is correct.

[2020-10-09 09:19] lgirdwood commented on #2891
It's difficult to know if we are repeating samples (from say SSP or DMA FIFOs)  or we are skipping ahead to the next wave ? @jdrzaszcz I guess you have seen more results so can you comment ? Can you confirm we are stopping after DMA transfer has completed ? (to rule out stale DMA FIFO data).

[2020-10-09 11:06] bardliao commented on #3499
I can reproduce this issue on my CML-H laptop.

[2020-10-09 15:09] plbossart commented on #3499
welcome back @bardliao. Can you confirm if the issue happens only with 1.6 and does not happen with 1.5.1?

[2020-10-10 02:28] bardliao commented on #3499
Yes. I tried a 50 iterations test script and didn't meet the issue with 1.5.1 and I can see the issue with the same script with 1.6.
Here is my test script.
<details>
<summary>test.sh</summary>

[code]
</details>

[2020-10-10 05:26] gobenji commented on #3072
I've tried to run the `sof-logger` tool but I get in one of two situations:
* If there's no sound currently being output, the tool errors out:
[code]
I'm guessing that this is related to the `SOF_DEBUGFS_ACCESS_D0_ONLY` in
[code]
* If I run the tool while sound is being output, the tool's output is empty:
[code]
I'm guessing that neither of those cases are useful to you. Note that there is no `/sy

[2020-10-10 05:42] gobenji commented on #3072
BTW, I was beginning to wonder if this is a problem of the sound card and is not related to sof... I remembered that I first reported this problem because it was a regression. I've just gone back and tested with `snd_intel_dspcfg.dsp_driver=1` to force the legacy (non sof...) driver. Using the same double bell sample, I confirmed that there is _no_ step up in volume - the problem is not apparent w

[2020-10-10 06:11] gobenji commented on #3072
Hmm, it seems I spoke too fast. I can reproduce the same problem (or very similar) when running in legacy mode:
![Screenshot_legacy](https://user-images.githubusercontent.com/254681/95647405-1ed84300-0b0a-11eb-88f2-929221cb3340.png)
So I guess that this _is_ a problem of the sound card in the end. In any case, it is no related to sof. I'm very sorry for leading you on a wild goose chase for so lon

[2020-10-12 08:39] mrajwa commented on #3189
PR on alsa-utils has been merged, can we close it now?

[2020-10-12 09:18] keyonjie commented on #3189
yes, think so, thanks for proceeded it.

[2020-10-12 09:26] keyonjie commented on #3428
@RDharageswari shall we close this now?

[2020-10-12 09:59] #3189 closed

[2020-10-12 10:38] lgirdwood commented on #3072
@gobenji no worries, it's always good to check, it tunrns out we may have an issue with logger though if it's empty during playback. @akloniex @bkokoszx @slawblauciak is this a logger issue ? This was a logger v1.6 binary so unexpected.

[2020-10-12 10:55] jdrzaszcz commented on #2891
@lgirdwood In this test case we are playing one wave with sending  StreamTrigPause and StreamTrigRelease ipc on playback stream.
As I can see in the recorded file, after sending StreamTrigRelease , the last few samples from the previously of the recorded wave are repeated.
After sending StreamTrigPause /StreamTrigRelease to FW, we only sends trigger and we do not interfere with DMA on the host sid

[2020-10-12 11:01] paulstelian97 commented on #3072
On the logger:
* Before first playback (or capture), firmware is offline so no logs are available.
* First action will boot DSP firmware, logs are available during playback.
* As the playback stops, logs become unavailable (except on select platforms) unless log caching is enabled (the kernel can be compiled to cache the etrace logs)

What feels weird to me is why DMA trace is not available (for t

[2020-10-12 12:10] gobenji commented on #3072
Regarding sof-logger, maybe I should also mention that when I run it and the output is empty, the tool exits right away. Here is an strace of sof-logger running as described previously, in case that's of any use: [output.txt](https://github.com/thesofproject/sof/files/5364986/output.txt)
This is on a debian 5.8.0-2-amd64 kernel (based on stable v5.8.10)
I've also double-checked that there is no `t

[2020-10-12 15:31] lgirdwood commented on #2891
@jdrzaszcz ok are you saying you think it might be HDA DMA instead of DW DMA ?  I guess a simple test would be to add a simple DEBUG PCM checker in host.c (to say check that every sample has a value of +1 from the previous sample) and send a wav file of samples that increment. This would prove or otherwise if it was HDA or DW DMA.

[2020-10-12 17:49] plbossart commented on #3072
@gobenji it's always interesting to see error reports, even if they are classified as 'normal' later. We appreciate the time you spent and information provided.

If this happens with the legacy driver as well, it could very well be some ramp applied in the amplifier. I would test with a constant amplitude sine wave and see what the envelope looks like. If we see a ramp done at that level, then may

[2020-10-13 02:00] marc-hb commented on #3498
Where?

How about https://github.com/thesofproject/sof/wiki ?

[2020-10-13 02:03] marc-hb commented on #3491
Thanks to https://github.com/thesofproject/sof-test/pull/428 for this useful "bookmark": https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/sof/sof-pci-dev.c

[2020-10-13 16:19] plbossart commented on #3072
@singalsu if the firmware does any sort of volume changes then I think the firmware needs to apply the relevant ramps. Disabling ramps during firmware-controlled volume changes isn't something the amps or codec can compensate for.

It's more when the volume is 0dB that we should consider disabling ramps. The firmware does nothing and hands-over the start/stop ramp management to the external device

[2020-10-13 16:32] singalsu commented on #3072
@plbossart Yes, makes sense. I think pulseaudio tries to use FW volume controls when available vs. using internal stream gain so the scenario of only 0 dB gain in use is not something to assume for playback. What do you think about adding token to separately control the stream start unmute ramp if know that the playback codec does the same thing (now tied to volume adjust ramp setting)?

[2020-10-13 16:37] plbossart commented on #3072
I think that would be a good addition @singalsu. In general everything that an external chip might do should be exposed with a 'disable' control. Now we also want to be careful with the logic, in ALSA controls something is on or off, we don't do disable=1, that should be enable=0.

[2020-10-13 18:48] marc-hb opened #3517 "[FEATURE] drop git submodules and switch to Zephyr's "west" multi-repo tool"
Rationale, pros and cons: https://docs.google.com/document/d/1TuJ8Z4W9rr1vUuKQ0O3Vh5dPPnGw5dKizylaEPtiPcg

I suggest having questions and discussions about implementation details in this Google doc and higher level discussions here. Whatever works.

Related:
- https://github.com/zephyrproject-rtos/zephyr/discussions/34713

[2020-10-13 18:55] yongzhi1 opened #3518 "[BUG] v4.0-rc2: Not able to wake DUT from S0ix with "OK Google""
**Describe the bug**
While integrating the Google Hotword module, the Key Phrase is detected in S0, but once upon entering the S0ix, wake up DUT with Key Phase is not successful. Tested on both Waddledoo and Drawlat.

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)

Checkout the SOF fw branch:
1.https://github.com/yongzhi1/sof/tree/hotwor

[2020-10-13 19:00] juimonen commented on #3072
Hi, I get this also with my x1. You can get it in ubuntu just by hitting the backspace in terminal to get the "ping" notification. It happens only when the DSP goes to D3, you can see it in dmesg. If you hit the ping again before D3, there isn't any slow ramping. So this is related to dsp waking up, and I guess then the codec itself making some extra ramps...

[2020-10-13 20:14] mattst88 opened #3519 "[BUG] Microphone on HP Spectre x360 13-aw0xxx doesn't work"
As mentioned in the Arch Wiki (https://wiki.archlinux.org/index.php/HP_Spectre_x360_-_13-aw0xxx#Audio) and in many other places on the internet, the microphone array in the HP Spectre x360 13-aw0xxx doesn't work under SOF. It shows up in `alsamixer` but e.g. gnome-settings doesn't register any sound from the microphones. An external microphone plugged into the machine using the 3.5mm jack works fi

[2020-10-13 20:16] mattst88 commented on #3519
[code]

[2020-10-13 20:45] lgirdwood commented on #3498
Please add to sof-docs

[2020-10-13 21:00] plbossart commented on #3519
@mattst88 we routinely test the DMIC input on a variety of platforms. The hardware hasn't changed in several years and should just work (tm). What worries me the most is the guidance provided in the Arch wiki, which makes no sense really.

Can you confirm that
a) you are using the latest alsa-lib and alsa-ucm-conf
b) you've tested the mic capture at the ALSA hw: device level (should be something l

[2020-10-14 00:04] plbossart opened #3522 "[BUG] IPC error during pause/start test with multiple mixer sources"
_Initially filed as a Linux bug since the result is an IPC error, now transferred to SOF._

I've seen this error multiple times with sof-test, this is not a random error but a mixer issue from the logs.

@lgirdwood @lyakh @singalsu FYI

Log files: [multiple-pause-resume.tar.gz](https://github.com/thesofproject/linux/files/5374776/multiple-pause-resume.tar.gz)

excerpts:
dmesg:
[code]

etrace:
[cod

[2020-10-14 01:13] marc-hb commented on #3498
sof-docs is good for slow-changing documentation (and even for this it tends to be out of date)

[2020-10-14 06:00] mattst88 commented on #3519
Thanks, I installed `media-libs/alsa-ucm-conf` and `media-libs/alsa-topology-conf` in Gentoo and the microphone now works. Without them, `arecord` showed that the microphone was working at the ALSA layer.

Nothing in all of Gentoo depends on either of these packages. Should, perhaps, `media-sound/pulseaudio` depend on them?

When did getting audio working become more complex than getting 3D workin

[2020-10-14 06:00] #3519 closed

[2020-10-14 11:22] singalsu opened #3520 "[BUG] BYT: Random stereo channels swaps happen with sof-byt-nocodec.tplg"
**Describe the bug**
I have developed a test that plays different frequency sine waves in each channel to PCM0P and captures from PCM0C. The purpose of the test is volume control testing but it detects also basic issues like channel swap. The reported error indicates that the playback, ssp-loopback, or capture channels got swapped.

The topology contains also volume components and mixer in the pla

[2020-10-14 20:52] plbossart commented on #3522
@ranj063 can you help identify which platforms expose PCM devices that get mixed? I only see byt/cht for now. Thanks!

[2020-10-14 21:03] plbossart opened #3523 "[FEATURE] sof-logger -C (clear existing traces)"
**Is your feature request related to a problem? Please describe.**
When running the same test multiple times, the old traces are still visible in the output of sof-logger. It would be nice to have the moral equivalent of 'dmesg -C' to discard all existing traces.

**Describe the solution you'd like**
A command-line option to discard trace and etrace.

**Describe alternatives you've considered**
Te

[2020-10-14 21:11] lgirdwood commented on #3498
sof-docs is for all docs today as it's checked by technical writers. If any parts are out of date then they can be updated or marked as bug and assigned for update.

[2020-10-14 21:19] lgirdwood commented on #3518
@slawblauciak fyi

[2020-10-14 21:54] ranj063 commented on #3522
@plbossart apart from the byt/cht codec topologies, the byt/cght nocodec and apl nocodec topologies have mixer based PCMs

[2020-10-14 22:01] plbossart commented on #3522
@ranj063 who is the platform owner for Up2 nocodec? that bug should also impact that device.

[2020-10-14 22:07] fredoh9 commented on #3522
@marc-hb is owner of APL_UP2_NOCODEC.

[2020-10-14 22:09] plbossart commented on #3522
I actually don't see any mixers in the apl-nocodec topology

[code]

[2020-10-14 22:11] marc-hb commented on #3522
I'm the UP2 platform owner but I stuck to pcm512x so far. Finding a magic system configuration (BIOS version, ACPI override, topology, kernel config,...) that actually produced some sound was by far the most time-consuming part of the "SOF rite of passage" and a Zephyr detour + the lack of firmware loader logs made it even more painful so I avoided any configuration change so far to focus on more

[2020-10-14 22:11] fredoh9 commented on #3522
I saw a mixer.
![sof-apl-nocodec](https://user-images.githubusercontent.com/45636982/96050988-75f25680-0e2f-11eb-828b-3eaf62c6fa8f.png)

[2020-10-14 22:21] ranj063 commented on #3522
clearly someone missed updating this when they added the mixer. I wonder if that was me

[2020-10-14 22:45] plbossart commented on #3522
The Kconfig FORCE_NOCODEC is your friend. It will ignore whatever you've setup with ACPI overrides, etc, you don't need to change anything on the device itself - except make sure the sof-apl-nocodec.tplg file is present on the disk.

[2020-10-15 06:30] slawblauciak commented on #3518
@yongzhi1 does the issue occur on the releases/jsl/v4.0 tag? If so, please provide dmesg and FW traces.

[2020-10-15 07:32] marc-hb commented on #3423
Thanks @singalsu for sending me the xcc binaries. rimage crashes because the `.module` section of the `bootloader-tgl` file you sent me is either garbage or incorrectly parsed by rimage as garbage. Are you sure the `-x 24` offset argument passed to the rimage command line is correct?

More specifically, `manifest.c:man_get_module_manifest(bootloader-tgl)` finds `sof_mod.text_size` to be 1650553970

[2020-10-15 09:47] jdrzaszcz opened #3525 "[BUG][WHL][SSP] Channel swapped with trigger pause/stop/start on capture pipline."
**Describe the bug**
When running simultaneous playback and capture on external loopback (same SSP) with pause, stop and start operation are done on capture stream there are swapped channel after trigger start on captured wave file.

This commit: 242be345ca9f87db29b9cb4b12b91438d932814d fixed swapped channels with pause, stop and start operation on capture stream with dsm component on TGL platform

[2020-10-15 11:16] gobenji commented on #3072
I've tested with a 1s 440HZ sine wave sample:
![sine](https://user-images.githubusercontent.com/254681/96115865-9222f000-0f22-11eb-8f10-45d7bcc31a9c.png)
With the Thinkpad X1 line out, ~62-76ms of the sample is clipped (at the beginning I guess..), then there is a ~12ms ramp up. This is similar when using the legacy driver or the sof driver. In that screenshot it looks like the beginning of the so

[2020-10-15 11:16] #3072 closed

[2020-10-15 11:23] gobenji commented on #3072
How do you see the state of the dsp in dmesg?

I tried to disable runtime PM for the device but it did not avoid the step up.
[code]
I can see that the device remains "active" according to runtime_status, however the beginning of a sample is still noticeably clipped if I wait more than ~1s between playing two samples.

As mentioned in a [previous comment](https://github.com/thesofproject/sof/issue

[2020-10-15 11:33] juimonen commented on #3072
@gobenji

I have this in
cat /etc/modprobe.d/sof-dyndbg.conf
options snd_sof_intel_byt dyndbg=+p
options snd_sof_intel_bdw dyndbg=+p
options snd_sof_intel_ipc dyndbg=+p
options snd_sof_intel_hda_common dyndbg=+p
options snd_sof_intel_hda dyndbg=+p
options snd_sof dyndbg=+p
options snd_sof_pci dyndbg=+p
options snd_sof_acpi dyndbg=+p
options snd_sof_of dyndbg=+p
options snd_sof_nocodec dyndbg=+p
op

[2020-10-15 11:35] juimonen commented on #3072
@gobenji I think this is annoying issue, we should really ask the codec vendor is this wake up ramp necessary and can we do something about it. Probably it is there because of some clicks/pops when powering the amps, but maybe it could be shorter...

[2020-10-15 13:13] plbossart commented on #3522
@mmaka1 the state diagram in https://thesofproject.github.io/latest/developer_guides/firmware/components/component-overview.html#handle-the-component-device-state cannot work for a mixer component. When the mixer component is paused, it should go back to active when a new source starts. The trigger_release isn't the only stimulus to go from paused to active.

[2020-10-15 13:15] plbossart commented on #3522
The alternative would be that the mixer never pauses but keeps generating zeroes.

[2020-10-15 13:19] bkokoszx commented on #3525
@lgirdwood @keyonjie
It looks like we still have some problem with ```ssp_empty_rx_fifo()``` function.
With following logs:
[code]
I've got:
[code]
It looks like we there is still some entries in rx fifo. I've tried also to increase deadline, but it does not help. I've started to wonder whether we use BSY bit correctly here (BSY means that SSP is transmitting or receiving - in above case we still

[2020-10-15 14:35] plbossart commented on #3072
this will only change the PCI device status, and we know the ramp is applied by the external codec. I would try to go one level deeper:

[code]

Indeed that will keep zeroes flowing into the amp. That's a bit overkill but that's classic. We use similar solutions for keep HDMI receivers awake and remove ramps on startup.

[2020-10-15 21:07] lgirdwood commented on #3525
@jdrzaszcz can you extend RX fifo empty timeout ? It sounds like a stale sample....

[2020-10-15 21:28] plbossart commented on #3522
I just did it for you while I was debugging sof-test scripts, same error on MinnowBoard nocodec. No surprise, it's a conceptual bug of the mixer component.

[2020-10-15 23:23] marc-hb commented on #3522
Thanks for the tip, BTW this pushed me to finally fix this kernel section in the getting started guide: https://github.com/thesofproject/sof-docs/pull/295/

[2020-10-16 02:56] keyonjie commented on #3525
Thanks for reporting this @jdrzaszcz . Looks we need more experiment here, @bkokoszx found good point, I will find some time to work on this, @singalsu reported similar one on BYT https://github.com/thesofproject/sof/issues/3520, so we need mimic fixes for BYT and maybe BDW also.

[2020-10-16 06:44] jdrzaszcz commented on #3525
@lgirdwood I tried to increase SSP_RX_FLUSH_TIMEOUT to 1000 and it dose not help.
@bkokoszx also tried to increase this value and when I talked with him he confirmed that it did not help to fix this issue.

[2020-10-16 07:34] jdrzaszcz commented on #2891
@lgirdwood I don't know which DMA is causing the issue. Unfortunately, to prepare FW with  such a PCM, I will need some developer assistance. @ktrzcinx could You prepare FW with this DEBUG PCM checker?

[2020-10-16 08:42] keyonjie commented on #3525
@jdrzaszcz @bkokoszx can you confirm that you are using SSP external Tx -> Rx connection, not the SSC1.LBM for nocodec tplg?

These are facts:
1. if playback is active while capture is stopped, SSSR_BSY = 1.
2. SSSR_RNE is consistent with SSCR3.RFL, they are either both 0, or both non-0.

I observe that with SSC1.LBM set, although I stop the Rx with clearing SSSR_BSY and SSRSA_RXEN (via stopping a

[2020-10-16 12:36] jdrzaszcz commented on #3525
@keyonjie I checked 2 audio formats on TGL with your second patch on internal loopback mode and the channels weren't swapped. I have to do more tests and let you know later.
Unfortunately, I couldn't find platform with working external ssp loopback. When I will have such a platform I let you know about tests results.

[2020-10-16 14:52] singalsu commented on #3423
@marc-hb Thanks for deep dive with this! I re-tested and got the assert. Build with proper configuration for TGL works OK. I wonder if the added assert is sufficient to close this issue?

Also the working build there's rimage run:

[code]

[code]
The run is a mistake in makefiles apparently. Should another issue be created?

[2020-10-16 15:26] marc-hb commented on #3423
I think creating another SOF issue focusing on CMake and user feedback when a "non-proper" configuration is used (which one?) is probably a good idea. Then before you close this one please transfer it to the "rimage" repo, see link on the right side (I'm not sure you can transfer a closed issue)

[2020-10-17 23:28] ErnyTech opened #3529 "[BUG] Audio Card Did Not Detected on MSI Prestige 15 ALC298"
**Describe the bug**
SOF audio card didn't detected on MSI Prestige 15 (ALC298). I added blacklist snd-hda-intel in alsa-base.conf, input and output audio is not working (there is no audio card detected).

**To Reproduce**
- Install Arch Linux
- Install sof-firmware using pacman
- Add alsa-base.conf on /etc/modprobe.d/
- Reboot

**Reproduction Rate**
Always

**Expected behavior**
Audio Card is det

[2020-10-19 08:15] jdrzaszcz commented on #3525
@keyonjie I checked trigger pause/stop/start on capture pipeline (--playback-iteration=10) with clearing and resetting Rx slot for capture stop/start iterate on WHL and TGL and channels wasn't swapped channels.
On external loopback mode I performed test on WHL platform and the issue is reproducible, but reproduction is smaller than on internal loopback mode.
Logs for external loopback with @keyonj

[2020-10-19 09:00] keyonjie commented on #3525
Thanks for the experiments, @jdrzaszcz can you help to try if clearing/resetting Rx slot on your WHL external loopback mode also?

[2020-10-19 09:09] keyonjie commented on #3525
@jdrzaszcz from the log you attached for external loopback, there should be no reproduction as the SSSR_RNE is always 0 after the first round of ssp_read().

[2020-10-19 09:42] jdrzaszcz commented on #3525
Data from the test, which  FW logs I attached:
[2020_10_19_08_20_42.zip](https://github.com/thesofproject/sof/files/5400743/2020_10_19_08_20_42.zip)

In  file TestPtpCaptureStreamStopStartOperation16000Hz24b32b2ch.test[iter0]_2020_10_19_08_20_43_tplg0_iter1.wavcon.wav you can see that after ~ 3s that channels are swapped.
![image](https://user-images.githubusercontent.com/46779093/96427927-714aeb0

[2020-10-19 10:56] bkokoszx commented on #3525
@keyon, do you mean that on internal loopback you still observe channel swapping or SSSR_RNE and SSCR3.RFL are still keeping changing?
Because clearing SSRSA_SSRSA also helps me in internal case.

[2020-10-19 11:20] keyonjie commented on #3525
@bkokoszx @jdrzaszcz my experiment with change that doing the flush at ssp_start() and remove the ssp_stop() one fixes all issues observed, @lgirdwood what do you think about this?

[2020-10-19 11:33] keyonjie commented on #3525
Yes, if I run more stress test on it.

[2020-10-19 11:34] jdrzaszcz commented on #3525
@keyonjie On external loopback mode (test: for trigger pause/stop/start on capture pipeline, --playback-iteration=10) there were no swapped channels with your patch to clear and reset Rx slot.

[2020-10-19 11:35] keyonjie commented on #3525
This works for me always:

[code]

[2020-10-19 12:01] mengdonglin commented on #3416
@slawblauciak @keqiaozhang will develop a new case to test keyword detection in D0i3, please track https://github.com/thesofproject/sof-test/issues/445

[2020-10-19 13:12] xiulipan opened #3530 "[BUG]sof-logger filter is not working"
**Describe the bug**
When try to use sof-logger with filter feature with WIKI guide from https://thesofproject.github.io/latest/developer_guides/debugability/logger/index.html?highlight=logger#trace-filtering
The logger always report error with
[code]
or

[code]

**To Reproduce**
[code]

**Reproduction Rate**
10/10

**Expected behavior**
The logger should be able to accept the parameters and chang

[2020-10-19 13:30] lgirdwood commented on #3517
@marc-hb lets make sure this can work with Zephyr west and without. i.e. when we are using Zephyr or using xtos. Lets also mark this for v1.7

[2020-10-19 13:48] xiulipan commented on #3530
Root cause to be https://github.com/thesofproject/sof/blob/8a5059a8c0b1e2d67b404efe26e1b79bb6175b5b/tools/logger/logger.c#L164  optstring changed by https://github.com/thesofproject/sof/pull/3326

It should be
` static const char optstring[] = "ho:i:l:ps:c:u:tv:rd:Lf:gF:n`

[2020-10-19 13:55] xiulipan commented on #3530
After the logger fix, still got error from dmesg:
[code]

[2020-10-19 14:17] lgirdwood commented on #3523
@mwasko @slawblauciak should be simple enough todo, lets add for v1.7. Can you assign someone.

[2020-10-19 14:50] lgirdwood commented on #3522
ok, so it looks like this will hit all platforms and topologies that use mixer. @slawblauciak fyi for scrub.

[2020-10-19 14:53] plbossart commented on #3529
@ErnyTech would you mind following the suggestions in https://github.com/thesofproject/sof-docs/pull/296/commits/fd1353dfaf93a05a2b26b40e3ea94cf749d35010

We tried to provide some guidance on what we'd need to help you out, the information you posted above doesn't tell us much.
I realize the documentation is a works-in-progress, but we need to start ironing it out with real examples.

Thanks!

[2020-10-19 15:34] lgirdwood commented on #3525
@keyonjie any start latency impact on your solution ?

[2020-10-19 16:42] yongzhi1 commented on #2880
Hi, @Liviali155 , can you verify the same with https://github.com/thesofproject/sof/releases/tag/releases%2Ftgl%2Fv10.0-rc1 and cherry-pick https://github.com/thesofproject/sof/commit/20fbbe77e47421dae? In my test, the last channel is always 0. Thanks!!

[2020-10-19 17:42] udaymb commented on #3518
In both LPS and no LPS mode, KWD works
No LPS mode -
- KWD works sof-log-nolps-kwd.zip
- WoV does not work - sof-log-nolps-kwd.zip
- /var/log/messages - contains KWD and WoV logs

[sof-log-nolps-kwd.zip](https://github.com/thesofproject/sof/files/5403722/sof-log-nolps-kwd.zip)
[messages-nolps.zip](https://github.com/thesofproject/sof/files/5403524/messages-nolps.zip)
[sof-log-nolps-wov.zip](https:

[2020-10-19 18:58] plbossart opened #3534 "[BUG] [CHT] Underflow/errors reported in multiple-playback CI tests."
**Describe the bug**

https://sof-ci.01.org/linuxpr/PR2500/build4700/devicetest/

reports a failure on Chromebook Cyan on multi-playback cases.

This looks like an underflow condition that isn't well handled.

Filing as a bug to keep a trace of this.

[2020-10-19 21:05] marc-hb commented on #3522
At the risk of stating the obvious: don't close this bug until there is a test in sof-test that performs something as (deceptively?) simple as this or triggers the same bug in some other, equally simple way.

[2020-10-19 21:23] plbossart commented on #3522
yep, adding an issue against sof-test here: https://github.com/thesofproject/sof-test/issues/449

[2020-10-19 21:34] plbossart commented on #3534
Re-running the tests shows no issue reported (https://sof-ci.01.org/linuxpr/PR2500/build4703/devicetest/), so this is a transient error condition.

[2020-10-19 21:47] ErnyTech commented on #3529
Sorry, I found that DSP was not enabled by UEFI settings.
Unfortunately, I had not found clear information about DSP before the documentation he provided me.

Thanks, now it works correctly

[2020-10-19 21:47] #3529 closed

[2020-10-19 23:25] #3432 closed

[2020-10-19 23:26] #3428 closed

[2020-10-20 04:00] yongzhi1 commented on #3518
Thanks @udaymb, guess KWD means detect_test.c method while WoV refers to google_hotword_detect.c in your description.

[2020-10-20 06:52] keyonjie commented on #3525
@lgirdwood I dropped this solution and implemented a new one, which basically disables SSP port when starting another direction transmission with one direction is already run, please help to review.

@jdrzaszcz @bkokoszx can you try if it fix the issue at your end and help to review the PR https://github.com/thesofproject/sof/pull/3535 please?

[2020-10-20 06:53] keyonjie commented on #3520
@singalsu I figured out a fix for this issue here https://github.com/thesofproject/sof/pull/3535, could you please help try if it works for you also?

[2020-10-20 07:45] xiulipan commented on #3534
@plbossart will this be related with the IPC position update delay? We do see such write I/O error on legacy platforms(BYT/CHT/BDW) using IPC position update.
If enable IPC position update for HDA platforms, we will also see such kind of I/O error.

[2020-10-20 07:47] slawblauciak commented on #3522
@wwittbrx please try to reproduce with slim driver tests.

[2020-10-20 08:56] xiulipan commented on #3507
@fredoh9 I also have a RFC https://github.com/thesofproject/sof/pull/3527 to add a FIRST enum. This will keep minor when we add new enum.

[2020-10-20 09:00] xiulipan commented on #3530
@ktrzcinx After add some debug logs and find the issue is caused by unhandled `"\n"`

[code]

After add some hack into the kernel it seems the ipc can be send now.
[code]

And I got some wired outptut in trace:
`ubuntu@sh-apl-up2-pcm512x-03:~/pxl$ sudo ./sof-logger -l /etc/sof/sof-apl.ldc -t -Fc=* -Fi=ipc,pipe`

I try to filter all error message and only allow ipc and pipe logs, but it seems there

[2020-10-20 09:05] ktrzcinx commented on #3530
@xiulipan you see probably traces cached before logger-run, it's because filtering rejects messages in FW, so messages sent before setting up filters are just shown.

[2020-10-20 09:43] lgirdwood commented on #2880
@slawblauciak @bkokoszx request for TGL release v10

[2020-10-20 09:45] xiulipan commented on #3530
@ktrzcinx I just copy paste the log from the trace debug IPC, so I think the following logs should all follow the filter right?
Could you provide a way for us to test the filter feature? We would like to add a test case for this in sof-test.
PS: could you help to provide a PR to fix the `\n` parse? I do not think my hack is a good solution.
[code]

[2020-10-20 10:08] #3530 closed

[2020-10-20 10:09] lgirdwood commented on #3534
@plbossart @xiulipan we should not be reading back position via IPC but reading back from SRAM window on CHT

[2020-10-20 10:10] jdrzaszcz commented on #3525
I checked this issue with WHL RVP on external loopback and TGL RVP on internal for PR: https://github.com/thesofproject/sof/pull/3535 and it looks like it fix it.
I checked 10 playback iteration for 48 different audio formats.

[2020-10-20 11:52] ktrzcinx commented on #3530
Yes, I've added extra explanation in https://github.com/thesofproject/sof-docs/pull/299

Great idea.

There are two main aspects
1. optarg parsing - `-F` option argument has a quite wide possible range of input (1. single component instance 2. single component type 3. single pipeline 4. single component type on pipeline 5. every component)
2. Check if feature works as a whole

__After__ setting up

[2020-10-20 14:13] lgirdwood commented on #3507
@fredoh9 just fyi @ktrzcinx and @xiulipan are syncing on fix for this given discussion today on call.

[2020-10-20 15:21] plbossart commented on #3534
@lgirdwood can you double-check the linux driver and let me know if we are doing things the right way? This position report has been a problem for the longest time but only you and @keyonjie understand it.

[2020-10-20 15:23] plbossart commented on #3525
That doesn't seem right? If you disable the SSP before starting playback while capture is already running, surely the capture is impacted?

We don't want to solve a problem by creating another one, do we?

[2020-10-20 15:54] lgirdwood commented on #3534
@plbossart pointer callback is not defined for BYT/CHT so it's using mailbox and NOT IPC method.
[code]

[2020-10-20 16:53] plbossart commented on #3534
ok, so now I have no idea why we only look at the position during an IPC and why we enabled the BATCH option to disable timer-based scheduling in PulseAudio.

[2020-10-20 19:47] RDharageswari opened #3538 "[BUG][TGL] [DSM] [I2S] ctx_save ipc time out and errors are observed while speaker playback stop"
Scenario:
Below ipc time out and ctx_save ipc errors are observed at speaker playback stop.
Note:
Even though we see these errors, we did not see any functionality impact.
The next playback goes though without any issues
This issue is 100% reproducible with the DSM algorithm integrated FW.
But this issue may not be related to DSM only as it is observed in the other platforms as well.
It could also

[2020-10-21 03:38] xiulipan commented on #3530
@ktrzcinx New discussion issue for logger filter test case is https://github.com/thesofproject/sof-test/issues/457

[2020-10-21 05:21] xiulipan commented on #3395
Update the bug title as the issue is actually DSP reset before load FW to DSP.
Also add comments about other platforms, as the issue now can be seen on most platforms but with lower rate.

[2020-10-21 08:26] jdrzaszcz commented on #2891
@lgirdwood @ktrzcinx I have done some tests with FW prepared by Karol and I have bad news.
To test this, I use rising wave which means the previous value should be smaller than next value.
When I run 48 audio formats for 3 of them there were some duplicate values in FW logs (above condition wasn't True).
But the tests almost always fails.
Example:

![image](https://user-images.githubusercontent.co

[2020-10-21 10:45] lgirdwood commented on #3534
Might be worthwhile enabling the trace here in the kernel (as FW could be sending garbage at time or sending for wrong stream).

[2020-10-21 10:59] lgirdwood commented on #3538
@mwasko @fkaczmar @slawblauciak fiy
@RDharageswari good info here, can you confirm if the DSM algo was ever active prior to ctx_save ? Do you know if DSM uses LPSRAM ?
@ryans-lee does DSM do anything with LPSRAM memory ?

[2020-10-21 12:22] jdrzaszcz commented on #3525
@keyonjie @lgirdwood On external loopback, channel are also swapped. I verified it on WHL RVP with last SOF master commit: 7270988c7180e090121eedad773f1fd3a1572dc7.
Examples:
![image](https://user-images.githubusercontent.com/46779093/96718370-346e2800-13a8-11eb-92c0-6f303533d846.png)

![image](https://user-images.githubusercontent.com/46779093/96718543-75fed300-13a8-11eb-9f26-7f95a21035e5.png)

[2020-10-21 13:08] lgirdwood commented on #2891
Thanks @jdrzaszcz very useful information. Can you confirm the probability at playback buffer and capture buffer below
[code]
I'm trying to understand if the issues we see on capture are just due to downstream propagation of the issue on playback or introduced after ?
I am suspicious we are repeating data from SSP of HDA DMA FIFOs (since we are puasing on DW DMA transfer boundaries) ?

[2020-10-21 14:32] plbossart commented on #3534
@lgirdwood the DMA trace is always enabled in our tests.

[2020-10-21 14:51] lgirdwood commented on #3534
@plbossart sorry I mean from above kernel code (which may be off as it's verbose)
[code]

[2020-10-21 17:21] marc-hb commented on #3517
This should solve the problem of synchronizing multi-repo submissions like this kconfig one: https://github.com/thesofproject/sof-test/issues/458

[2020-10-21 17:27] udaymb commented on #3518
Yes @yongzhi1 - KWD means Ok-Google - Key Word

[2020-10-21 21:45] RDharageswari commented on #3538
Hi Liam,
Yes DSM is integrated in the speaker pb path.
The algo was active while speaker pb, and this issue is observed after that.

[2020-10-22 00:18] gobenji commented on #3072
After enabling the dynamic debug messages, I also see messages like the following around the time I'm playing samples:
[code]
When doing
[code]
like before, I see that the device stays in D0I0, but still, if I wait long enough (~ >2s) in between samples, there's the ramp up like mentioned earlier.

Interestingly, when leaving the power control to auto, I can get the following sequence of events:
[

[2020-10-22 07:11] marc-hb commented on #3517
This shouldn't be a problem.

I think the next step is to propose a hierarchy of (optional) manifests. In addition to the above requirement, we also don't want to force every single firmware developer to download a Linux kernel repo that is 50 times bigger than the firmware repo they need and that most people will never use. This would also slow down many CI checks; CI code frequently git clones f

[2020-10-22 07:59] naveen-manohar commented on #3541
@RDharageswari shared a patch & DSP-firmware to free-up maxim resource at stop, and with this Issue is not reproducible on SDW SKU 10/10 times.
Log: [dsm_free_fw-dmesg.lo.txt](https://github.com/thesofproject/sof/files/5421070/dsm_free_fw-dmesg.lo.txt) FW:
[sof-tgl_resigned_fix_issue.zip](https://github.com/thesofproject/sof/files/5421078/sof-tgl_resigned_fix_issue.zip)

[code]
Tried Speaker funct

[2020-10-22 08:46] RanderWang commented on #3541
great!

[2020-10-22 10:50] lgirdwood commented on #3517
@andyross @nashif  fyi

[2020-10-22 12:10] lgirdwood commented on #3538
Thanks @RDharageswari - so the issue only happens after the algo is active.

[2020-10-22 12:18] ktrzcinx commented on #2891
@lgirdwood in this test implementation only playback pipeline is paused/resumed, capture pipeline is permanently at active state, so shouldn't introduce any distortions. After excluding host dma, we may suspect dai dma and ssp. SSP cleans-up FIFO after pause, so should have any trashes after restart on release. Dw dma doesn't have good alibi.

[2020-10-22 13:28] mmaka1 commented on #3522
@plbossart The diagram you mentioned is a common generic state machine. Do you want to add another transition for all, or just for the mixer component as an exception? The thread is about the mixer, but there are/could be other components of different types in the same pipeline and they receive START being in the paused state as well.

[2020-10-22 14:57] plbossart commented on #3072
Fascinating, I didn't think of using udev to alter the power management behavior. @kv2019i @ranj063 FYI.

[2020-10-22 14:58] lgirdwood commented on #2891
Good work and findings here.  Do you think this can be solved by flushing FIFO or using the trailing bytes bits in SSP ?

[2020-10-22 15:01] plbossart commented on #3522
@mmaka1 I think the pause case is not well handled in a component can have more than one source, and each of the sources can be paused *independently*. We can either keep the existing diagram for simplicity and add a footnote, or change the diagram with e.g. a doted line arrow.

This could happen e.g. for a mux as well.

[2020-10-22 15:03] plbossart commented on #3541
Was this patch shared @naveen-manohar @RDharageswari ?

[2020-10-22 15:19] slawblauciak commented on #3522
If I understand correctly, the issue is that there are only two pipelines. If the mixer component is inside one of the source pipelines, it effectively removes your ability to have a clean way of independently stoppings/starting those sources.

Say, the pipeline 1 has source 1 and mixer.
Pipeline 2 has source 2 and connects to the mixer from the pipeline 1.

Both pipelines are stopped. You start p

[2020-10-22 15:34] plbossart commented on #3522
look at the BYT topologies, the DAI pipeline START with a mixer - same as cAVS firmware:

# PCM0 -----> volume -------v
#                            low latency mixer ----> volume ---->  SSP2
# PCM1 -----> volume -------^
# PCM0 <---- Volume <---- SSP2

Having a mixer inside of a pipeline is silly and I've been fighting for 2+ years to stop this abuse.

[2020-10-22 19:22] RDharageswari commented on #3538
should all the memory be freed before poweroff? The LPSRAM utilization is it a reason for power off not happening?
Tried one other experiment, to free memory in STOP, may not be the actual  solution
src/audio/smart_amp/smart_amp.c
        case COMP_TRIGGER_STOP:
+               smart_amp_free(dev);
                break;
        default:
And with this change the issue is not reproducible.
Also Ran

[2020-10-22 21:29] cujomalainey opened #3546 "[BUG][TGL] build is not producing ri files via docker"
**Describe the bug**
APL builds fine here is end of build log
[code]

Building on Pop-os using docker

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)
`./scripts/docker-run.sh ./scripts/xtensa-build-all.sh tgl`

**Reproduction Rate**
100%

**Expected behavior**
ri files built

**Impact**
showstopper

**Environment**
1) Branch name and com

[2020-10-22 21:32] cujomalainey commented on #3546
Looks like CI might also be silently passing https://travis-ci.org/github/thesofproject/sof/jobs/738004861#L479

Return code in my test from the build phase was 0, submodules were up to date

[2020-10-23 05:47] juimonen commented on #3546
@cujomalainey currently the tgl builds needs different signing tool, which I understand is not public (meu tool?). Also on most of our tgl devices we have either intel key or debug key, so you can't sign them with the public otc key.

[code]

So I first export the path to the private key and then specify the path to meu tool.

[2020-10-23 07:58] jdrzaszcz commented on #2891
I run test with trigger pause/release on playback pipeline with probe connected buffers.  The buffer data in the playback pipeline looks, fine there is no distortion in the captured data to the wave file.
This confirms that there is some problem with DW DMA.

[2020-10-23 10:10] lgirdwood commented on #3522
It looks like the issue here is more to do with pipeline graph walking rules and logic since mixer usage is a normal and proper pipeline usage unless I'm missing something deeper here ?

[2020-10-23 11:44] xiulipan opened #3551 "[BUG]Firmware info shows compiler is GCC for XCC build binary"
**Describe the bug**
`Firmware info: used compiler` shows wrong compiler for XCC build binary now.
Seems to be regression with https://github.com/thesofproject/sof/pull/3496

**To Reproduce**
[code]

**Reproduction Rate**
3/3

**Expected behavior**
For GCC FW we should have

[code]
For XCC FW we should have
[code]

**Impact**
The firmware info shows in dmesg maybe mislead.

**Environment**
Test wi

[2020-10-23 11:45] xiulipan commented on #3551
You can check some latest CI result for PR: https://sof-ci.01.org/sofpr/PR3544/build7509/devicetest/

[2020-10-23 12:40] lgirdwood commented on #3538
@mwasko what's the FW opinion here wrt LPSRAM and poweroff hangs ?

[2020-10-24 05:39] naveen-manohar commented on #3541
Now I notice that @RDharageswari is tracking the DSP FW issue caused due to DSM is being updated here - https://github.com/thesofproject/sof/issues/3538#issuecomment-714709012

[2020-10-24 16:18] marc-hb commented on #3538
@naveen-manohar are you saying this is a duplicate of #3541?

[2020-10-26 20:43] RDharageswari commented on #3538
Hi Marc,
There are 2 issues as a part of https://github.com/thesofproject/sof/issues/3541.
One is the IPC timeout issue:
  sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x40010000 size 76
And other is the regmap issue, i believe this is for the clean exit when the IPC error happens(Error handling)
This bug tracks the IPC timeout issue.

[2020-10-27 00:00] jairaj-arava opened #3554 "[BUG] TGL: WOV power regression in V0.10 release with 97377c3757e9 smart_amp: fix smart amplifier tplg"
**Describe the bug**
With V0.10 release the WOV power consumption is high with  97377c3757e9 smart_amp: fix smart amplifier tplg.

Without reverting the patch:
             Total system power=  54.5 mw

With reverting the patch:
             Total system power=  29.2 mw

**To Reproduce**
1. Run the WOV and keep the system in S0IX and measure the powers.

**Reproduction Rate**
Always

**Expected be

[2020-10-27 00:18] jairaj-arava commented on #3554
@keyonjie and @ranj063, helped us to narrow down the issue to the motioned patch in the topology.
We didn't see any impact in the speaker and other end points functionalities but the power consumption is higher (~24mw) with this patch during S0IX with WOV. However, by reverting the patch, the value dropped down to 29.2mw.

@abonislawski, has given a test version but we see the same behavior.

[2020-10-27 08:07] slawblauciak commented on #3551
This should fix it: https://github.com/thesofproject/sof/pull/3555

[2020-10-27 08:48] slawblauciak commented on #3546
Fixing this will require openly releasing the MEU tool to the public.
It's currently in progress.

[2020-10-27 10:18] lgirdwood commented on #3546
@slawblauciak we will need to release both Linux and Windows binaries for this tool.

[2020-10-27 16:20] plbossart commented on #3554
well d'uh. if the 24.576MHz PLL is used of course there will be more power burned than if an integer division of the clock is used. This PLL was never supposed to be used in S0i1 IIRC.

I wonder if we could still keep it, but modify the clock sources when the SSP is stopped. Currently we set the clock sources once and that means the PLL will remain on forever. Or we'd need a real clock driver wher

[2020-10-28 03:10] cujomalainey commented on #3388
oss-fuzz is going well, patches posted for all fuzzer bugs, few infra bugs to post and seed corpus is still missing. Once those are complete we can begin automated fuzzing.

https://github.com/thesofproject/sof/pull/3562
https://github.com/thesofproject/sof/pull/3561
https://github.com/thesofproject/sof/pull/3559
https://github.com/thesofproject/sof/pull/3558

[2020-10-28 10:02] slawblauciak commented on #3499
We were unable to reproduce this issue with a slim driver, no-codec setup. @jdrzaszcz replicated the topology in the tests.
Furthermore, I extracted the audio signal from the pipeline and I was able to confirm that this is not a demux issue, the audio is clear.
I noticed that changing the downmix channel configuration in alsamixer for each codec alters the way distortion occurs, it makes it a bit

[2020-10-28 11:16] mwasko commented on #3522
@lgirdwood  pipeline graph walking rules will not resolve the problem with having mixer inside of a pipeline. Please take as a reference @slawblauciak  comment:

This is a design limitation and the valid use case is to keep mixer as a start of DAI pipeline:

@wwittbrx has already confirmed that in above configuration problem no longer reproduce for playback path.

I would like to suggest to close

[2020-10-28 15:38] plbossart commented on #3499
@slawblauciak thanks for all these experiments. It's disappointing that the root-cause wasn't found but nobody assumed it'd be easy.

Can you clarify what you mean by a 'nocodec' setup?

I am starting to wonder if we should focus on the distortion itself to figure out if the data is corrupted or just offset.

Maybe we can use a 'snooping' capture channel where we just record with one sink port wha

[2020-10-28 16:02] plbossart commented on #3522
@mwasko the bug DOES happen with the mixer starting at the beginning of a pipeline, that's how I found it with two aplay commands. I don't understand your statement at all.

[2020-10-29 08:53] dbaluta opened #3566 "[BUG] Topologies fail to compile"
**Describe the bug**

Running ./scripts/build-tools.sh -t i get an error like this:

[code]
**To Reproduce**

./scripts/build-tools.sh -t

@xiulipan , @keyonjie am I doing something wrong here?

[2020-10-29 10:18] wwittbrx commented on #3522
@mwasko @plbossart Sorry for the confusion, I had incorrect flow compared to Pierre in my test case. After correcting I can see the same result.

To summarize the issue and get on the same page, please confirm if recap below is accurate:

![image](https://user-images.githubusercontent.com/41670517/97554833-a281a300-19d7-11eb-906d-fac88dd4d364.png)

We have 3 pipelines P1, P2, P3 in state COMP_STAT

[2020-10-29 11:59] lgirdwood commented on #2158
See https://github.com/thesofproject/rimage/pull/33 for rimage CAVS 2.5 signing WIP PR.

[2020-10-29 13:21] lgirdwood commented on #2891
@jdrzaszcz good find - so it looks like we may need to invoke trailing bytes or flushing in pause or resume. @keyonjie fyi.

[2020-10-29 13:38] dbaluta commented on #3566
Closing this. Problem on my side. I was using an out of date version of alsatplg.

[2020-10-29 13:38] #3566 closed

[2020-10-29 13:41] lgirdwood commented on #3541
@naveen-manohar @RDharageswari is there a PR for the fix ?

[2020-10-29 13:43] lgirdwood commented on #3538
@RDharageswari do you still need inputs here on LPSRAM from @mwasko @slawblauciak ?

[2020-10-29 13:58] #3551 closed

[2020-10-29 14:39] lgirdwood commented on #3554
Ack - ASoc does this for all codecs. Switches any fractional PLL or FLL off when not needed.

[2020-10-29 16:52] plbossart commented on #3522
Thanks for the clarification @wwittbrx, glad we are on the same wavelength now.

That seems correct.

But as noted earlier, the restriction is aligned with the state diagram here:  https://thesofproject.github.io/latest/developer_guides/firmware/components/component-overview.html#handle-the-component-device-state

So before lifting the restrictions, we'd probably need to tag components to allow fo

[2020-10-29 19:43] RDharageswari commented on #3538
Hi Liam,
Yes we are still debugging on this issue.
debugging with @bkokoszx

[2020-10-29 19:54] mwasko commented on #3554
The issue is that with current SOF design with statically created pipelines we keep the SSP clocks up & running. If we would dynamically create & destroy pipelines then there will be no problem.

[2020-10-29 20:00] yongzhi1 opened #3567 "[BUG] [TGL] [SDW] [DSM]: 2xCh ref capure slows down the playback"
**Describe the bug**
When playback is running with smart_amp_test module enabled, 2xch echo ref capture will slow down the playback noticeably, the playback speed resumes to normal upon ref capture exits.

The issue is not reproducible with 4xch capture.

**To Reproduce**

- aplay -Dhw:0,2 -c2 -f S16_LE /home/play16.wav -vvv
- arecord -Dhw:0,3 -f S16_LE  -r48000 -c4 -d100 /home/root/echo.wav -vvv

[2020-10-29 20:04] ranj063 commented on #3554
@mwasko I have a PR with dynamic pipeline loading https://github.com/thesofproject/linux/pull/2371. It is still under local test on my part but do you think this will help?

[2020-10-29 20:06] mwasko commented on #3522
Keep in mind that what your proposing would require to allow paused->active transition not only for mixer but all the other components that are behind it which basically can by any component.

I am wondering if instead of that we could on P1 pipeline pause keep the P3 mixer pipeline in active state and generate zero data at mixer level in such situation.

[2020-10-29 21:45] plbossart commented on #3567
@yongzhi1 I wasn't able to open your attachments neither on Ubuntu nor Mac.

what does 'slow down' mean?

a) the time to render a file of 10s is larger than 10s? can you run a 'time aplay ... file_10s.wav' so that we know the speed difference
b) you get underflows in the output?
c) something else?

[2020-10-29 21:47] plbossart commented on #3554
I don't think it has to do with fixed/dynamic pipelines, rather that we don't stop the clocks when the SSP is no longer used. Destroying the pipeline is a sledgehammer way of doing the same thing. It's like removing a module to test pm_runtime :-)

[2020-10-29 22:01] plbossart commented on #3522
you've probably right, it's not clear if we can detect 'when it makes sense'.

That's certainly a possibility - and a force-in-function design decision to start 'dai pipelines' by a mixer and prevent mixers from being used anywhere else.

the P3 mixer pipeline is the moral equivalent of what an audio server like PulseAudio would do, and these sort of servers never pause their output. Same for a ca

[2020-10-29 23:30] yongzhi1 commented on #3567
Hi, @plbossart

The zip file contains mp4 video, I uploaded it here:
https://www.youtube.com/watch?v=qMrD6ip_YHM&feature=youtu.be

The left side is the playback console, I then start 2xch capture from right console, stop and they tried 4xch.

[2020-10-30 02:36] keyonjie commented on #3567
since our demux component accepts output channel configs via configuration only and runtime configuration is not supported, looks we should shrink the channel support range from the pcm capability, @bkokoszx change like this could help:
[code]

[2020-10-30 04:31] yongzhi1 commented on #3567
Hi, @keyonjie

It makes sense to restrict pcm capability ch_min = ch_max, but the playback issue is still there when PIPELINE_CHANNELS=2, thanks!!

[2020-10-30 06:19] keyonjie commented on #3567
@yongzhi1 after restrict ch_min=ch_max=4, you will not be able to run arecord with PIPELINE_CHANNELS=2, the '-c4' is the only one mode supported.

[2020-10-30 11:37] ktrzcinx commented on #2891
I found that after resuming dw-dma without full dw-dma stop->start (rather by resetting SUSPEND bit) resolves issue with those additional data:

![image](https://user-images.githubusercontent.com/56579204/97700132-99620600-1aab-11eb-873a-f4aaebc97041.png)

The problem is, that this solution (at least in my implementation) sometimes has a problem with cycling LLP start:

![image](https://user-image

[2020-10-30 12:16] slawblauciak commented on #3499
After further investigation and support from @bardliao we were able to determine that it might actually be a firmware/demux issue, contrary to my previous statement.
After revert of https://github.com/thesofproject/sof/commit/5d763d63499d67ec482b35bb66f56410df26f58e the issue goes away.
It's very strange how it doesn't show up with our slimdriver tests and probes.

@plbossart by no-codec I mean do

[2020-10-30 12:26] zrombel opened #3570 "[BUG][APL] Can't build SOF APL with probes."
**Describe the bug**
Can not build SOF for APL platform with PROBES configurated due to linker error.

**To Reproduce**
Build APL target with apollolake_defconfig and additional options:
CONFIG_DEBUG=y
CONFIG_PROBE=y
CONFIG_PROBE_POINTS_MAX=16
CONFIG_PROBE_DMA_MAX=4

**Reproduction Rate**
100%

**Environment**
SOF Branch: Master, Hash: 43124daf39a961fa015761ad59ba3d6f19be7dfd and later.

**Screens

[2020-10-30 13:28] mwasko commented on #3499
@slawblauciak please also take a closer look on routines that calculate available data. As discussed the reverted patch was an optimization that check available data only once and then consume until reach the end, previously we did the available data check regularly.

However that does not explain why we do not see reproduction with probes.

[2020-10-30 14:32] lgirdwood commented on #2891
@jdrzaszcz I wonder if it's missing the SSP FIFO handshake. i.e for playback do we need to manually fill SSP FIFO with 0s so that it will assert a new FIFO watermark handshake to DMA (and restart DAM) ?

[2020-10-30 14:51] yongzhi1 commented on #3567
Hi, @keyonjie, does above mean only 4 ch is supported to work correctly at the moment?

Right now, SMART_REF_CH_NUM is set to 2 for SDW https://github.com/thesofproject/sof/commit/4893e7018f5792367e159204f4509c4e5d7fd8f followed the SSP version https://github.com/thesofproject/sof/commit/2de506025f8564dd5421ecee0511b6a51dcead example,  '-c2' is being used for 2 spk solution based on https://github

[2020-10-30 16:24] plbossart commented on #3499
Nice progress, thanks @bardliao and @slawblauciak.

ok, it's a valid test, but I was talking about snooping data on the bus itself. I think we could add this capability in the Linux driver, there's a know limitation that we cannot start two streams at the same time, so we'd need to have this snooping capability in the same stream, but a different ALH port. Need a lot more coffee.

[2020-10-31 19:29] bkokoszx commented on #3538
@RDharageswari
Could you try following patch?
[code]
We see similar issue on WHL and it helps.

[2020-11-02 02:12] keyonjie commented on #3541
since we have track this on the FW side #3538, let's close this one for driver, @naveen-manohar please re-open it if needed.

[2020-11-02 02:12] #3541 closed

[2020-11-02 06:37] mengdonglin commented on #3551
@lgirdwood Do you want to merge this fix for SOF 1.6 release?

[2020-11-02 09:10] mwasko commented on #3522
@abonislawski will evaluate the possibility to implement the mechanism for zero data generation for mixer scenario. I think there were some attempts in 'buffer' configuration to handle such use-cases.

The design check to prevent mixers from being used anywhere else then on the start of 'dai pipelines' seems like a feature that should be addressed in topology creation tool and not the FW itself.

[2020-11-02 10:43] mwasko commented on #3554
Yes, this should resolve the problem with SSP PLL draining power. However since it is quite a big design change it may be risky to integrate it for current TGL release.

Let us first investigate option to move SSP clock enable to component PREPARE state, which possibly should address the regression as well.

[2020-11-02 13:40] kv2019i commented on #3395
WIP version of ICCMAX flow implementation now available: https://github.com/thesofproject/linux/pull/2548  This could potentially help with this bug.

[2020-11-02 15:20] plbossart commented on #3522
Not that now of. Why would this help anyways? the pipeline is an abstract grouping of component and an indication to firmware that said components can be scheduled together. The driver has no real use for this information. We actually need to stop thinking in terms of long pipelines, if we start enabling topologies similar to what Windows does with SFX, MFX and EFX we will soon have a hierarchical

[2020-11-02 16:40] plbossart opened #3574 "[FEATURE] remove verbose use of tr_info"
In a number of tests, the e-trace contains stuff like

[code]

This is generated with tr_info but that really not useful. It's verbose without adding information.

This really begs the question what tr_info is supposed to be used for?

[2020-11-02 20:25] RDharageswari commented on #3538
Hi Bartsoz,
This fix is helping here as well. I tested the same scenario for around 5 times with this patch and don't see the issue happening

[2020-11-02 23:03] fredoh9 commented on #3395
Trying to reproducing without/with linux#2548. To test this, sof-test 61b077be should be reverted first, otherwise it ignores this error.

[2020-11-02 23:31] marc-hb commented on #3541
This bug is located in `sof`, it's not in `linux`.

In #3541 @RDharageswari does not think  they're duplicates.

Even if they were duplicates, this one seems to have much more information.

[2020-11-03 02:38] fredoh9 commented on #3395
I'm still able to reproduce same problem with PR#2548. Hum... I doubled checked without the problem is reproduced. This is NOT 100% but when I tried this command it's high chance to see the problem.

[code]

without/with PR#2548, I'm seeing same error pattern.
[code]

[2020-11-03 08:04] libinyang commented on #3499
As Liam required yesterday, I tested the 3-period buffer in tplg. There is not distortion now.

The tough patch is like below:

[code]

[2020-11-03 08:17] bkokoszx commented on #3538
@RDharageswari
Thanks. That's good. After you confirm this patch with stress tests, I will make a PR.

[2020-11-03 08:28] mwasko commented on #3538
As a word of explanation, the root cause of the problem seem to be the duplicated literal definition that was linked during compilation optimization to the memory location which was disabled earlier during power down process.

[2020-11-03 08:40] slawblauciak commented on #3570
@jdrzaszcz please check if you can find the FW change that introduced this regression in CI tests.
@lyakh please try to remove excess XT OS files, which are not needed for this build

[2020-11-03 09:21] lyakh commented on #3570
@slawblauciak I meant #3557 so maybe someone could check whether it gets us any memory back or I can check it myself later

[2020-11-03 09:58] keyonjie commented on #3567
@yongzhi1 the SMART_REF_CH_NUM counts here, if it is set to 2, then our PCM should claim to support 2 channels only, some change like this:

[code]

[2020-11-03 10:12] jdrzaszcz commented on #3570
@slawblauciak  On CI, the last debug build for APL platform was done on commit:7709924f16accd45fc2b159d983d84f6e994afd6, in the next build (commit: e04610b19754d0f402b3b76b0a7fb4fe24d9aa18) FW was not compiled.
When I tried to build it by myself, last commit where I can build FW for APL with such a config was commit:901e7b494512b64da80b30c3cd2f2e617fbf7732

[2020-11-03 14:22] slawblauciak commented on #3499
We've finally managed to reproduce it on RVP/no-codec. Turns out, it requires a specific demux configuration of 8 channels. We were only testing a 2ch demux configuration.

[2020-11-03 16:34] plbossart commented on #3499
why would we do this? This looks like masking an error. We have way too much buffering in SOF IMHO.

[2020-11-03 16:40] juimonen commented on #3499
@plbossart I think we found the cause for this... there's something fishy in the configuration setting in demux. So full 8x8 matrix with diagonal 1's makes the distortion and if only first 2x2 square is "diagonalized" (rest is 0) -> audio is clean. So somehow the current implementation is doing some extra copies with full diagonal matrix, it thinks it has 8 inputs and outputs. So we should discove

[2020-11-03 16:41] juimonen commented on #3499
@plbossart so you could "fix" this by zeroing all other entries outside 2x2 in topology matrices...

[2020-11-03 17:15] bkokoszx commented on #3499
@libinyang
Apart from topology change mentioned above by @juimonen, could you try to reproduce this issue with following patch?
https://github.com/bkokoszx/sof/commit/da1a5cd16be9e0eedc66b91571512a98f20b463d

@slawblauciak @juimonen
FYI

[2020-11-03 19:23] lgirdwood commented on #3538
@bkokoszx good job - I will include this in v1.6 too

[2020-11-03 19:26] lgirdwood commented on #3570
My expectation is that new features may outgrow older platforms. The safest option is to use less probe points on APL or disable it in kconfig for APL.

[2020-11-03 19:57] lgirdwood commented on #3499
@bkokoszx could you let us know any MCPS changes with your new patch. We dont want to go back to 70MCPS as before with demux.

[2020-11-03 23:18] RDharageswari commented on #3538
@naveen-manohar : Hi Naveen can you help to test if this fix helps to solve the IPC timeout issue here:
https://github.com/thesofproject/sof/issues/3541

[2020-11-04 02:59] naveen-manohar commented on #3538
@bkokoszx : Thanks for the fix.. I did verify your suggested patch on Soundwire SKU.. https://github.com/thesofproject/sof/issues/3541 Issue Isn't observed with 20 iterations I tried.

Also tried basic Speaker functionality between suspend-resume & with my limited test, it worked fine