[2020-11-04 06:30] libinyang commented on #3499
I have submitted a patch in tplg https://github.com/thesofproject/sof/pull/3580 to use the 3 period in sof-icl-rt711-rt1308-rt715-hdmi.m4

[2020-11-04 06:32] libinyang commented on #3499
@plbossart This is a draft patch. The final patch https://github.com/thesofproject/sof/pull/3580 applies to the special platforms.

[2020-11-04 06:59] libinyang commented on #3499
@bkokoszx It seems your patch can fix the distortion. Bard will test this patch on his platform too.

[2020-11-04 07:02] juimonen commented on #3499
@libinyang thanks! @bardliao if Bard's test is good, @bkokoszx please make a proper PR, this is the right way to fix this.

[2020-11-04 07:31] bardliao commented on #3499
I tested it and I can't find the distortion with [bkokoszx@da1a5cd](https://github.com/bkokoszx/sof/commit/da1a5cd16be9e0eedc66b91571512a98f20b463d) on my side

[2020-11-04 08:59] bkokoszx commented on #3499
@lgirdwood
I've performed tests with slim driver with format: ```48 kHz, 32/32, 8```, on the following topology:
![image](https://user-images.githubusercontent.com/41052777/98089427-034f2680-1e83-11eb-9423-cae81c1baa09.png)

And I've got following MCPS value for DEMUX:
[code]

[2020-11-04 10:18] bkokoszx commented on #3538
I've made a PR for this issue: #3582

[2020-11-04 11:21] slawblauciak commented on #2891
@jdrzaszcz can you please confirm that this PR is effective?

[2020-11-04 11:31] jdrzaszcz commented on #2891
@slawblauciak Hi, I checked if this PR #3576 fixes this issue and on WHL and ICL platforms tests pass 10 playback iterations for each audio formats.

[2020-11-04 12:34] slawblauciak commented on #3446
@aiChaoSONG any updates?

[2020-11-04 15:11] plbossart commented on #3499
What are the units for 1031 and 10787?

[2020-11-04 15:22] bkokoszx commented on #3499
The units are ```plat_ticks/pipeline_period``` or ```cpu_ticks/pipeline_period```. In above case (```pipeline_period = 1ms):
[code]

[2020-11-04 16:12] plbossart commented on #3499
@bkokoszx ~10 MCPS doesn't seem super-optimized for a plain data mover. We handle 48kHz data, that means an average of ~200 cycles per sample frame. DSPs should be able to do better.

It's not the end of the world for now but we will have to use an 8-ch MUX to deal with speaker-protection with I/V feedback and the number will start to be significant. see https://github.com/thesofproject/linux/pull

[2020-11-04 16:15] bkokoszx commented on #3567
@yongzhi1
Could you try to reproduce this issue with #3583 PR?

[2020-11-04 17:46] marc-hb commented on #3446
This could be a different issue but I noticed trying to access the `etrace` in suspend produces a confusing error message. More investigation / stress-testing is on my TODO list but keeps getting de-prioritized :-(

[2020-11-04 18:32] juimonen commented on #3499
@bkokoszx just for comparison can you provide the figure without your patch with same settings?

[2020-11-05 02:01] aiChaoSONG commented on #3446
@marc-hb If you mean the below error message, then we are all good, this message has nothing to do with any error, it is used to avoid an empty error trace, which will help us to detect if sof-logger error trace works. It is printed on purpose. check https://github.com/thesofproject/sof/issues/3265

[code]

[2020-11-05 07:12] marc-hb commented on #3446
No I meant some `ioctl` error message.

[2020-11-05 08:59] bkokoszx commented on #3499
@juimonen
Do you mean without PR #3583 or without whole simplification in PR #3000 ?

[2020-11-05 09:04] juimonen commented on #3499
@bkokoszx I meant without #3583. As I understood that @lgirdwood concern was that we are introducing more mips compared to the previous simplification. Or maybe you already have the figures from last simplification?

[2020-11-05 09:59] bkokoszx commented on #3499
@juimonen
Without #3000 (I've reverted https://github.com/thesofproject/sof/pull/3000/commits/5bf8188baad62eda98565d4bacc9a04712cba1e8) and without #3586 :
[code]

Without #3583 (actual master):
[code]

[2020-11-05 10:35] juimonen commented on #3499
@bkokoszx ok so 1mpcs addition to the previous 9 (9->10)? I think that's ok then...

[2020-11-05 15:40] yongzhi1 commented on #3567
Hi, @bkokoszx,

Thanks for the patches, cherry-picked them on top of tgl v10.0-rc1:
[code]
Issue is still reproducible.

I also noticed the 4xch ref capture for **L** and _R_ amp, the expected layout is **VI**_VI_, but what captured looks like _I_**VI**_V_. Right now I am using https://github.com/yongzhi1/sof/commit/085c46020b716c8e9b4b5ba037af3f5194adad0d as a workaround.

[2020-11-05 16:46] mwasko commented on #3522
In current SOF design driver owns pipeline management and in my proposition we would need on P1 pipeline pause keep the P3 pipeline active. We can of course add some logic in FW that in certain circumstances will keep DAI pipeline active but in my opinion it is not a right way to go. If the driver is responsible for pipeline management then the FW should not interfere.

[2020-11-05 16:50] plbossart commented on #3522
The driver only handles PCM devices and pause_push/resume at that level. we don't have information at the PCM level of how things are connected behind and whether there's a mixer, it's done at the DAPM level which doesn't have a notion of pause.

@ranj063 would you concur?

[2020-11-05 17:12] ranj063 commented on #3522
@plbossart that is correct. We dont handle pipeline manement in the driver and even if we know the widget connections from DAPM, there is no distinction between a widget that is active or that is paused. This issue is purely has to do with the way the pipeline params/trigger propagation, more so to do with params in fact. I think a simple fix would be (completely untested)
[code]

[2020-11-05 17:46] ranj063 commented on #3522
@mwasko @plbossart we've got more than just pipeline propagation here. The state machine transition for a comp to START is only allowed from PREPARE and not from RELEASE. I think may be we should ease that restriction as well.

I am thinking maybe keeping the pipeline P3 in active state even when paused might be the right way to do too

[2020-11-05 21:33] yongzhi1 opened #3588 "[BUG] [SDW] [TGL] MX98373 feedback capture should follow VIVI order"
**Describe the bug**
Run echo ref capture with MAX98373, and examine the recorded data from Audacity. It shows the feedback data follows RLLR/IVIV instead of LLRR/VIVI.

(Same pattern shown in probes-captured data from BUF4.1 before entering MUXDEMUX4.0)

**To Reproduce**

    Play the following URL on speaker:
    https://www.youtube.com/watch?v=6TWJaFD6R2s
    arecord -Dhw:0,3 -f S32_LE -r48000

[2020-11-05 21:36] plbossart commented on #3588
@yongzhi1 how do you know it's a firmware issue and not a codec configuration issue? What is the configuration on the SoundWire TX ports?

[2020-11-05 21:47] yongzhi1 commented on #3588
Hi @plbossart

Have to admit I do not know whether it's codec config related or now, here is the related code on port 3 programming

[code]
(from https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/codecs/max98373-sdw.c#L550)

cc @ryans-lee

[2020-11-06 02:01] keyonjie commented on #3525
Hi @jdrzaszcz @bkokoszx as you may know, on the TGP platforms we have extra issues need to be fixed, can you help to split the issues?

[2020-11-06 08:11] jdrzaszcz opened #3590 "[BUG][SSP][TGL] Channel swapped with trigger pause/stop/start on capture pipline."
**Describe the bug**
When running simultaneous playback and capture on external loopback (same SSP) with pause, stop and start operation are done on capture stream there are swapped channel after trigger start on captured wave file.

This commit: 242be345ca9f87db29b9cb4b12b91438d932814d fixed swapped channels with pause, stop and start operation on capture stream with dsm component on TGL platform

[2020-11-06 09:35] keyonjie commented on #3567
@yongzhi1 I add the capability restriction patch I mentioned above and try 'arecord -c2' with SSP and the playback speed looks correct here.

[2020-11-06 15:31] yongzhi1 commented on #3567
Hi, @keyonjie , thanks for sharing, somehow this problem only manifested itself for SDW not SSP.

[2020-11-06 16:00] slawblauciak commented on #3588
Please verify codec configuration in alsamixer. You might be able to change it to LLRR there.

[2020-11-09 08:53] RanderWang commented on #3588
[rander_amixer.txt](https://github.com/thesofproject/sof/files/5509174/rander_amixer.txt)
DSM works on my device, please check my amixer setting.  @yongzhi1 you changed channel number from 4 to 2 in topology why reported a bug with 4 channel ?

[2020-11-09 18:50] yongzhi1 commented on #3588
Thanks @slawblauciak and @RanderWang for the helpful advices.

Sorry for the confusion about SMART_REF_CH_NUM  I should mention that the issue was observed for SMART_FB_CHANNELS after https://github.com/thesofproject/sof/commit/2de506025f8564dd5421ecee0511b6a51dcead got merged.

My amixer settings do not have 'SELECTOR13.0 SELECTOR', there is no other critical differences to my eyes.

Hi, @RanderW

[2020-11-09 21:54] #3574 closed

[2020-11-09 22:00] #3538 closed

[2020-11-09 22:19] #3499 closed

[2020-11-10 02:06] keyonjie commented on #3567
@RanderWang do you think there is anything special here for SDW?

Anyway, let me submit the restriction PR as it is a right thing to do.

[2020-11-10 02:30] keyonjie commented on #3567
@yongzhi1 here it is: https://github.com/thesofproject/sof/pull/3599

[2020-11-10 05:39] RanderWang commented on #3588
@yongzhi1 I never set 'MUXDEMUX4.0 DEMUX'. I sent a email and you can check it by yourself.

[2020-11-10 08:08] abonislawski commented on #3522
Just to have more options - we can also fix this (tested and working) by keeping P3 in active state and adding flag "unrderrun_permitted" to a BUF in P3

[2020-11-10 14:00] plbossart commented on #3522
@abonislawski if you end-up with underruns at the DAI level but keep going, you might end-up with channel swaps. That's not recommended... if it's a 'software underrun' detected on the input of the mixer and you still generate zeroes that might work.
I honestly don't really see the nuance with what was suggested earlier (keep the pipeline active *without* adding the underrun_permitted as you sugge

[2020-11-10 14:53] abonislawski commented on #3522
@plbossart well, I have also a working version with generating zeroes at mixer level without underrun_permitted flag but it was told me to revert that and use this flag because _generating zeroes_ is a bad approach.
So after all we have few solutions, this is all about decision which should be applied.

[2020-11-10 16:06] plbossart commented on #3522
@abonislawski why is generating zeroes a bad approach? it's what PulseAudio does...

[2020-11-10 22:27] yongzhi1 commented on #3588
Hi, @RanderWang , thanks for sharing your setup, great appreciated.

I re-tested based on tgl-010-hot-fix-1 , commit: 83cb82d, the problem is no longer reproducible.

When testing Maxim DSM with https://www.youtube.com/watch?v=6TWJaFD6R2s, it seems the VIVI order issue is related to data format, previously it's hardcoded to S32, now I can use S16 with https://github.com/thesofproject/sof/commit/71

[2020-11-10 22:27] #3588 closed

[2020-11-11 00:02] RanderWang commented on #3567
@keyonjie on FW side, SDW makes no difference.

[2020-11-11 10:55] aravind816 commented on #2275
@lgirdwood

 Recently I have installed Deepin 20 in my Lenovo C740 i5 10th gen processor.

 Both the microphone and fingerprint is not working.

 Could you please advise how can I resolve this issue?

[2020-11-11 15:46] lgirdwood commented on #2275
Hi @aravind816 it looks like you have an older kernel and FW. Have you tried a more recent kernel and FW ?
Also please see https://thesofproject.github.io/latest/contribute/process/bug-tracking.html#how-to-report-a-bug for the information required for reporting a bug. It's best to paste dmesg directly rather than as a screenshot as it makes it easier for developers to read.

[2020-11-13 00:40] keqiaozhang commented on #3092
Verified this issue with tgl 1.0 fix branch https://github.com/bkokoszx/sof/tree/tgl-010-hot-fix-1-revert-97377c3 on TGL Chromebook/I2S mode, this issue is not reproduced.

[2020-11-13 01:56] keqiaozhang opened #3603 "[BUG] tplg load failure on TGL Chromebook w/ Maxim codec in I2S mode"
**Describe the bug**
We set up a TGL chromebook with Maxim 98373 codec in I2S mode, but tplg failed to load.
error message:DSP failed to add widget id 0 type 33 name : SMART_AMP1.0 stream none reply 0

**To Reproduce**
boot the system and check the dmesg

**Reproduction Rate**
10/10

**Expected behavior**
tplg can be loaded successfully

**Impact**
TPLG failed to load and no pipelines can be creat

[2020-11-13 08:21] slawblauciak commented on #3518
@yongzhi1 @udaymb can you please use the v4.0 (non-rc) tag instead? Also, please cherry-pick this commit, it will make traces a bit more clear https://github.com/slawblauciak/sof/commit/28df367a5bf51e7b62f5b025c28700945281607b

[2020-11-13 13:34] paulmenzel opened #3605 "[BUG] TGL Dell XPS 13 9310: Microphone/input does not work"
With the Intel Tiger Lake laptop Dell XPS 13 9310 and Debian Sid/unstable with Linux 5.9.6, SOF *stable-v1.6* and PulseAudio 13.99.3-1, the user reports, that the internal microphone does not work. First the internal device was only detected after plugging in an external headset, but after [selecting `SND_SOC_SOF_TIGERLAKE_SUPPORT`](https://bugs.debian.org/973879) and installing the SOF *stable-v1

[2020-11-13 17:28] ranj063 commented on #3603
@keqiaozhang do you have the sof-logger data?

[2020-11-16 07:13] xiulipan commented on #3462
I think this issue may split into two kinds:
1. Legacy platform using IPC position update, so for BYT/CHT/BDW. The IO error is from host side DMA
2. HDA platform do not use IPC postion update. this kind is happen from DAI DMA

https://github.com/thesofproject/linux/blob/fdf0b4d1ee9b8f909a752ac45e434e2d2dcb0d80/sound/soc/sof/intel/hda-pcm.c#L147

[2020-11-16 11:05] #3525 closed

[2020-11-16 13:01] lyakh opened #3613 "[BUG] wasted memory in DMA buffer allocations"
#2425 changed DMA buffer size on all platforms from 0x180 to 0x100, which wastes 0x80 = 128 bytes every time a 0x180 buffer is allocated, as explained in detail in https://github.com/thesofproject/sof/pull/2425#issuecomment-727966533

[2020-11-16 13:23] lgirdwood commented on #3462
This mode is no longer used in legacy HW. Legacy FW writes positions to mailbox. This came up in discussion that @plbossart and I had recently - and I confirmed the driver uses the mailbox method.

However, one thing to check is to whether the FW is additionally sending a position IPC (when the host does not ask for one) as this would certainly not be aligned with the SRAM value host would read.

[2020-11-16 14:06] mengdonglin commented on #3462
@plbossart Can you please share the CI report ID or case when you observed this issue on a JSL platform?

[2020-11-16 16:59] plbossart commented on #3613
@lyakh why would 256 be better than 384 for the block size? You would waste memory as well in other configurations.
Or put differently why not use 128 for the block size?

[2020-11-17 02:50] yongzhi1 commented on #3567
cc @naveen-manohar @ryans-lee

[2020-11-17 07:42] lyakh commented on #3613
@plbossart that's exactly my question, or to be more precise the essence of this bug. #2425 changed the block size from 384 to 256 and thus started wasting memory. My #3614 does exactly what you propose - use 128 byte blocks, but that fails to build on BDW and HSW - BSS size is exceeded, I guess an array of buffer descriptors or something exceeds the BSS now. So, maybe we have to go back to 384, i

[2020-11-17 10:23] bkokoszx commented on #3603
@RDharageswari
Could you try to reproduce it on your end?

[2020-11-17 17:15] plbossart commented on #3613
@lyakh what prevents you from using 128 for all HDaudio since we know it's a required alignment, and keep 256 for legacy platforms? we don't need to have a one-size-fits-all approach.
I don't know why changing the block allocation would result in a BSS size exceeded btw,  BSS as I understand it is for statically allocated stuff, and this is dynamic memory?

[2020-11-18 01:53] cujomalainey opened #3617 "[BUG] Cmake runs initially without CONFIG vars set"
**Describe the bug**
When we build SOF for some reason the initial call to cmake does not include any configs. You can see the travis log below that `make *defconfig` is not called till after the first call to cmake. This is causing problems with refactoring as some of the variables are resolving to null and causing bugs.

Assuming there is a reason for this initial no config call, then we are cal

[2020-11-18 08:58] keyonjie commented on #3603
We need compile with the smart_amp component for this Chromebook, @keqiaozhang and @bkokoszx

[2020-11-18 11:12] lgirdwood commented on #3613
@lyakh we may not want to spend too much time on this since it does not seem to be a blocker currently. Plus the Zephyr allocator does not have this issue ?

[2020-11-18 11:12] singalsu commented on #3520
@keyonjie The channels swap issue happens still with BYT nocodec topology (LBM quirk is set). The kernel, firmware etc. are from git today.

[code]
When I last tested near month ago #3535 it didn't help with LBM, didn't help with Tx-Rx wire and no LBM quirk.

[2020-11-18 11:26] lgirdwood commented on #3617
@jajanusz @marc-hb any inputs here ?

[2020-11-18 12:11] lyakh commented on #3613
@lgirdwood I'm fine either way: it's obviously not top priority, so I'm not wasting too much time on it (it's enough that we're wasting memory already :-) ). If we are sure we're dropping this allocator anyway soon, maybe we don't need to fix this. Also *strictly speaking* we'd need some hard evidence in what scenarios and how much RAM is wasted. If indeed my observation is correct and a vast majo

[2020-11-18 15:52] brentlu opened #3619 "[BUG][CML] audio stops during aplay playback"
**Describe the bug**
We've received a chromebox Kaisa which audio stops during playback. Need to reload the firmware to recover from this situation.

**To Reproduce**
1. Playing youtube videos to headphone or HDMI.
2. Or just run aplay

**Reproduction Rate**
It takes around 10~20 mins to waiting for this issue happens.

**Expected behavior**
The audio playback should not stops.

**Impact**
Audio f

[2020-11-18 15:57] brentlu commented on #3619
From kernel side only drop command fails. It's interesting that if the trace feature is disabled, the following pcm_free and config commands will fail, too.

[ 4442.604052] sound pcmC0D2p: snd_pcm_common_ioctl: DROP
[ 4442.604138] sof-audio-pci 0000:00:1f.3: ipc tx: 0x60050000: GLB_STREAM_MSG: TRIG_STOP
[ 4442.604403] sof-audio-pci 0000:00:1f.3: error: ipc error for 0x60050000 size 12
[ 4442.60443

[2020-11-18 19:16] marc-hb commented on #3617
I often invoke `cmake` and `make/ninja` directly (not the least when... fixing them) and from a (lack of) user friendliness perspective I always found the intermediate and extra `defconfig` step super annoying. Meta-build systems that build entire system images/distributions are very likely incompatible with such an intermediate step.

Just for the record this extra defconfig step is official and

[2020-11-18 19:47] cujomalainey commented on #3617
Ditto to marc. I think that would prevent my issues I am seeing. Right now all I am trying to do is add a linker script to the host build and I tried extracting sof_add_ld_script (name might not be exact, going off memory) from xtensa so I could share it with the host and it broke because a bunch of vars were evaluating to nothing causing arg count failures due to missing configs.

[2020-11-19 06:05] xiulipan commented on #3617
@marc-hb I think this issue is not related with kconfig, it is totally a cmake config issue. I think we can include the `make tgplp_defconfig` in cmake stage.

[2020-11-19 10:52] lgirdwood commented on #3619
@brentlu can you confirm the test ? Are you testing long duration youtube playback or are you testing runtime suspend.

It looks like there is no audio data coming from the host (which tries to recover).
[code]
Comp ID 16 is  host DMA. It looks like userspace is sending some ioctls below to recover.

[code]

[2020-11-19 11:58] bkokoszx commented on #3603
@keyonjie @keqiaozhang
As I understand issue is not reproducible when we use maxim library. Therefore, can we close it?

[2020-11-19 13:15] wwittbrx commented on #3522
@mengdonglin PR for this issue https://github.com/thesofproject/sof/pull/3618 has been submitted and can be tested. Looks good so far in slim driver tests.

[2020-11-19 16:54] brentlu commented on #3619
I'm testing youtube playback.

I do more tests today and found that the issue disappear with topology file built by myself. Still don't know what's wrong with the topology file used by google (sof-cml-rt5682.tplg) but it could explain why this issue does not happen to other CML chromebooks since the topology file is different.

I will test more times to confirm it's the topology.

[2020-11-20 11:54] lgirdwood commented on #3619
@brentlu please let us know the differences in topology files.

[2020-11-20 16:29] lyakh opened #3629 "[BUG] inconsistent locking of shared data"
It seems to me like some locking of the shared data in various parts of the firmware is inconsistent. This probably has no run-time implications at the moment, because shared data currently on Xtensa architectures is located in uncached memory, but this is wrong and can lead to problems on other architectures or when the shared memory approach on Xtensa changes. Usually a spin-lock is used to prot

[2020-11-20 21:43] cujomalainey commented on #3617
just an fyi, tried adding a return else case to the platform select in arch/xtensa/cmakelist and it doesnt work.

[code]

[2020-11-22 05:14] hongshui3000 opened #3632 "[FEATURE]OpenAMP"
Is there any plan to support OpenAMP in the sof project?

[2020-11-22 05:23] sathya-nujella opened #3633 "[BUG] [TGL] HDA controller reset fails in reboot tests"
**[Bug cloned from]**
https://github.com/thesofproject/linux/issues/2571

DUT: TGL Chrome DUT with Max98373_RT5682 **I2S**
BIOS: Coreboot

**Issue:**
Sound card creation failed.

TEST SCENARIO:
Random scenarios.
one such scenario is:
Boot DUT -> mount file system -> reboot few times to see error.

****More details:****
**ISSUE REPRODUCED WITH:**
SOF branch: tgl-011-drop-stable   top commit:  27aab

[2020-11-22 19:11] kv2019i commented on #3633
Hit on Ubuntu Linux device as well. FW 010-hotfix.

@abonislawski Would it be possible to change to a higher clock whenever DSP is stopped? It would seem that if clock is left at WOVCRO and system is reset, HDA controller will not come out of reset anymore (with high repro rate).

[2020-11-23 02:18] keqiaozhang commented on #3633
we also observed this issue when testing sof-011-drop-stable branch,  I tried to test more on TGL-RVP-HDA this morning and found that the reproduction rate is about about 30%。

[2020-11-23 10:02] mwasko commented on #3633
Is the FW even loaded when this reboot issue occurs?

[2020-11-23 10:30] lgirdwood commented on #3632
@hongshui3000 SOF now supports Zephyr as it's RTOS and Zephyr supports OpenAMP. What are the use cases or features you have in mind here ?

[2020-11-23 10:30] mengdonglin commented on #3633
Thank you @kv2019i and @keqiaozhang

@abonislawski @mwasko Please note this issue can also be reproduced on branch tgl-010-drop-stable  and tgl-010-hot-fix-1, it's not a branch specific issue for tgl-011-drop-stable

[2020-11-23 10:36] lgirdwood commented on #3633
@sathya-nujella @kv2019i I assume FW with reverted https://github.com/thesofproject/sof/commit/75561a99642c50265ffb9f94a760e52e6a2e292b has booted at least once (without a power OFF - due to the reproduction rates)  during your testing.
@mwasko it does seem that FW is booting, but I wonder if weed to force the clock in our FW D3 code to be sure (since it looks like the clock setting may survive a

[2020-11-23 10:50] abonislawski commented on #3633
@kv2019i @lgirdwood do you think disabling wovcro in ipc_pm_context_save() (pm_prepare_D3) would be a good idea to test?

[2020-11-23 11:35] lgirdwood commented on #3633
@abonislawski it's probably worth trying (and remember any delay).

[2020-11-23 13:03] kv2019i commented on #3633
@lgirdwood wrote:

Correct. DSP is loaded at least once, and then a sw-reset (system reboot) is performed.

[2020-11-24 01:15] mengdonglin commented on #3633
Link the original PR to enable WOVCRO clock of @abonislawski:  https://github.com/thesofproject/sof/pull/3418

[2020-11-24 02:21] libinyang opened #3638 "[BUG] Create Mux component fail"
**Describe the bug**
When driver sent IPC to create a mux component, FW will fail. The sof-logger output:
[  3865788.750000] (        6.770833) c0 mux                     src/audio/mux/mux.c:93   ERROR mux_set_values(): mux component is not able to mix channels
[  3865804.635417] (       15.885417) c0 demux                 src/audio/component.c:135  ERROR comp_new(): unable to create the new compo

[2020-11-24 02:23] hongshui3000 commented on #3632
I want to use openamp for communication between NXP RT600 core0 (M33) and core1 (dsp hifi4), M33 uses zephyr, HIFI4 uses zephyr and sof

[2020-11-24 03:11] ranj063 opened #3639 "[FEATURE] Upgrade topologies to work with alsa-lib upstream"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Modify the topologies to use the inclusive language suggested in recent alsa-lib updates

[2020-11-24 03:14] keqiaozhang opened #3640 "[BUG][TGL] SSP regression on TGL platform w/ Maxim98373+RT5682 codec"
**Describe the bug**
We observed this issue on TGL chromebook w/ Maxim98373+RT5682 codec,  there's no sound can be heard when playing on speaker and also some distortion when playing on headset. This issue only observed on tgl-010-hotfix and tgl-011-stable-drop branch. bisection result shows that this issue is caused by https://github.com/thesofproject/sof/pull/3418, the SSP fix for power consumpt

[2020-11-24 03:15] libinyang commented on #3638
https://github.com/thesofproject/sof/pull/3624 can fix this issue.

The mux is like:
define(matrix5, `ROUTE_MATRIX(10,
                             `BITS_TO_BYTE(1, 0, 0 ,0 ,0 ,0 ,0 ,0)',
                             `BITS_TO_BYTE(0, 1, 0 ,0 ,0 ,0 ,0 ,0)',
                             `BITS_TO_BYTE(0, 0, 1 ,0 ,0 ,0 ,0 ,0)',
                             `BITS_TO_BYTE(0, 0, 0 ,1 ,0 ,0 ,0 ,0)',

[2020-11-24 07:02] keyonjie commented on #3633
Thanks, this is useful information. @kv2019i you are right, it is reproduced with the sw-reset only.

[2020-11-24 08:38] mengdonglin commented on #3640
@keyonjie tried to fix this regression by https://github.com/thesofproject/sof/pull/3622

[2020-11-24 08:45] mengdonglin commented on #3633
PR #3641 is trying to fix this blocker issue before an official BIOS fix for WOVCRO clock is available. Will perform stress test on this PR #3641

[2020-11-24 18:55] marc-hb commented on #3522
`sof-test/test-case/multiple-pause-resume.sh -r 25` has been repeatedly but inconsistently failing. It should probably be made more deterministic.

[2020-11-24 22:18] lgirdwood commented on #3632
@hongshui3000 ok, this should be doable today but only with some Intel DSP platforms (that support Zephyr). Zephyr support for NXP platforms is planned. @dbaluta can provide more context on the NXP platforms.

[2020-11-25 01:37] WYL-12 commented on #3522
I rerun the case on sh-byt-mb-nocodec-03 and sh-bdw-wsb-rt286-02, and result is still failed, but dmesg not found ipc error info.

sh-byt-mb-nocodec-03:
[code]
sh-bdw-wsb-rt286-02:
[code]

[2020-11-25 02:28] marc-hb commented on #3522
@WYL-12 I suspect the test is failing for another reason - for instance your sof-logger seems broken.

Can you try with the `-s` flag, i.e. `./test-case/multiple-pause-resume.sh -s` ?

[2020-11-25 03:19] WYL-12 commented on #3522
I rerun the case(multiple-pause-resume.sh) with the `-s` flag on sh-byt-mb-nocodec-03 and sh-bdw-wsb-rt286-02.

sh-byt-mb-nocodec-03:
rerun more than 5 times, all passed.

sh-bdw-wsb-rt286-02:
rerun more than 5 times, random fail, dmesg not found ipc error info.
fail info:
[code]

[2020-11-25 05:48] marc-hb commented on #3522
How many lines did you scroll up? On my system the IPC error is about 50 lines away.

Please also try https://github.com/thesofproject/sof-test/pull/534

[2020-11-25 06:26] WYL-12 commented on #3522
@marc-hb  rerun test case with #3618，it seems fixed this issue and dmesg not found ipc error info.

[2020-11-25 06:59] marc-hb commented on #3522
You wrote that the test did not reproduce this bug on your system anyway, so this last run doesn't prove anything.

[2020-11-25 09:55] lgirdwood commented on #3638
@libinyang @juimonen what's the ETA for adding enum kcontrol to mux ? This will simplify.

[2020-11-25 10:06] juimonen commented on #3638
@lgirdwood sorry about the delay... I have to re-think it a bit still. The issue I'm having is that although we are not mixing we are still using the mux/demux to pick individual channels in some cases (I think @keyonjie has these uses cases in some topologies) -> so it still makes the enums cumbersome, so we are not yet that simple as ASoC mux/demux.

[2020-11-25 10:58] lgirdwood commented on #3638
@juimonen still not following why enums are complex here ?
We have 2 use cases
1) mux - (N:1) select channels from multiple sources and copy to one sink. Create enum kcontrol for each **sink** channel that lists all source channels (including a mute option).
2) demux - (1:N) select channels from 1 source to multiple sinks. Create enum kconrol for each **source** channel that list all sink channels

[2020-11-25 11:15] dbaluta commented on #3632
@hongshui3000 are you doing this as a fun project or planning to use SOF in a real product?

Our plan is to add support for Zephyr with SOF in Q2/Q3 next year for i.MX8 platforms. Also,  we plan to add support for i.MX RT as our bandwidth allows in the next summer.

[2020-11-25 11:19] juimonen commented on #3638
@lgirdwood the thing you described should be here: https://github.com/juimonen/sof/commits/mux_enum

it is very poorly tested, but exactly tried to do what you we're asking.

[2020-11-25 12:36] mengdonglin commented on #3633
@keyonjie also submitted an extra kernel fix https://github.com/thesofproject/linux/pull/2581, which sets DSP back to D0 before reboot if it is at D0i3, to fix the boot fail issue at the consequent rebooting.

[2020-11-25 13:21] abonislawski commented on #3633
@keyonjie @mengdonglin is PR #3641 still needed? Looks like this kernel fix will prevent from boot fail (forced hpro before reboot) and we can fully use wovcro as previously, is that right?

[2020-11-26 02:11] aiChaoSONG opened #3643 "[BUG][TGL] playback io error on speaker, BE and FE trigger failed"
**Describe the bug**
Do playback on speaker, there will be io error in the terminal,  and below errors in dmesg:
[code]

**To Reproduce**
aplay on speaker

**Reproduction Rate**
100%

**Impact**
speaker playback is impossible

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: { sof-dev 958115aa}
    * SOF: {3c5c7b

[2020-11-26 03:05] keyonjie commented on #3633
@abonislawski as the IP owner mentioned, it is recommend to use WOVCRO for WoV only, or even for WoV in S0Ix only, so I would suggest to keep PR #3641 also.

[2020-11-26 15:46] lgirdwood commented on #3638
Please send as a PR

[2020-11-29 15:07] juimonen opened #3650 "[BUG] Update sof docker for latest alsa-lib and alsa-utils"
**Describe the bug**
Current sof docker can't build enum topologies, because of old versions of alsa-lib and alsa-utils

**To Reproduce**
Build topology with enum control

**Reproduction Rate**
Always

**Expected behavior**
Topologies with enum controls can be built

**Impact**
Showstopper

In:
scripts/docker_build/sof_builder/Dockerfile

we have:
git clone $CLONE_DEFAULTS https://github.com/theso

[2020-11-30 08:16] juimonen commented on #3650
made this: https://github.com/thesofproject/sof/pull/3652

[2020-11-30 09:27] mengdonglin commented on #3640
Closed as #3622 merged by release branch https://github.com/thesofproject/sof/tree/tgl-011-drop-stable, RC4

[2020-11-30 09:27] #3640 closed

[2020-11-30 09:32] mengdonglin commented on #3603
Closed as won't fix as Maxim DSM library will not be upstreamed.

[2020-11-30 09:32] #3603 closed

[2020-11-30 09:35] mengdonglin commented on #3554
Fixed by release branch https://github.com/thesofproject/sof/tree/tgl-011-drop-stable, RC4

[2020-11-30 09:35] #3554 closed

[2020-11-30 20:23] plbossart commented on #3639
@ranj063 the SOF topologies should build with alsa-lib upstream, you will get a lot of messages telling that the topology needs to change but backwards compatibility is preserved. if that's not the case it's a bug. Can you clarify

I was counting on @libinyang to provide us with alsa-lib upstream packages *before* we can do the change.

Also we may want to be patient and make sure alsa-lib updates

[2020-11-30 23:38] ranj063 commented on #3639
@plbossart sorry I had a problem with compilation because of my own changes to alsa-lib master. The SOF topologies compile just fine with a lot of messages about deprecates.

[2020-12-01 07:26] WYL-12 commented on #3136
On TGL-Delbin-I2S-02 , using https://sof-ci-storage.sh.intel.com/release/sof/releases/tgl/v11.0-rc3/c6249fff6493_chrome_release/  ,issue can't be reproduced in below steps:
1."sudo reboot" to reboot
2.open terminal 1 to run "arecord -Dhw:0,0 -f s32_le -c 4 -r 48000 capture.wav -vv -i"
3.open terminal 2 to run "aplay -Dhw:0,0 -r 48000 -c 2 -fs32_le sine_48k_32bit_10s_stereo_l5_r2.wav -vv -i"
4.do p

[2020-12-01 07:30] WYL-12 commented on #2883
On TGL-Delbin-I2S-02 , using https://sof-ci-storage.sh.intel.com/release/sof/releases/tgl/v11.0-rc3/c6249fff6493_chrome_release/ ,issue can be reproduced in below steps:
1.Enable smart amp loopback:
run amp_enable.sh.txt
2.Run capture:
arecord -Dhw:0,0 -f s32_le -r 48000 -c 2 -vv rec.wav
3.While running capture, start playback:
aplay -Dhw:0,0 -f s32_le -c 2 -r 48000 -vv -i sine_48k_32bit_10s_stere

[2020-12-01 07:35] #2880 closed

[2020-12-01 07:36] WYL-12 commented on #2880
On TGL-Delbin-I2S-02 , using https://sof-ci-storage.sh.intel.com/release/sof/releases/tgl/v11.0-rc3/c6249fff6493_chrome_release/ ,issue can be reproduced in below steps:
1.enable DSM loopback
Run:
amp_enable.sh.txt
2.run playback(only for 3 seconds ) and capture at same time.
aplay -Dhw:0,0 -f s32_le -c 2 -r 48000 sine_48k_32bit_10s_stereo_l5_r2.wav
 -d 3 & arecord -Dhw:0,0 -f s32_le -c 2 -r 48000

[2020-12-01 08:25] mengdonglin commented on #3522
@WYL-12 confirmed this issue cannot be reproduced after applying PR#3618. So will wait for PR #3618 is merged and then close this issue.

[2020-12-01 09:05] keyonjie commented on #3520
Hi @singalsu can you help to try if the PR https://github.com/thesofproject/sof/pull/3656 can help on BYT for external wired loopback?

For the internal LBM, the channel random swapped in the capture is the expected behavior.

[2020-12-01 21:37] caseorum commented on #3492
@lgirdwood @plbossart I've finally been able to look at this again today. Experimentally, the BDW minimum transfer is 4 bytes. This and  #3503 are caused by the ptable DMA transfer size being too small by up to about 2.9 bytes, so the ptable wasn't always copied in full. Are you sure this doesn't affect other ptable platforms? Maybe  #3503 doesn't affect them because they have smaller minimum copi

[2020-12-01 21:52] plbossart commented on #3492
Impressive work @caseorum.

I must admit I never understood the concept of page table, and the arithmetic used both on driver https://github.com/thesofproject/linux/blob/332d9bf12a58fe890e5ce47ce22e5af89a7699d8/sound/soc/sof/utils.c#L133 and firmware sides.

@lgirdwood and @keyonjie are probably the best people to comment on this.

[2020-12-02 00:09] marc-hb commented on #3522
While not deterministic, @mengdonglin do you trust `multiple-pause-resume.sh` to reproduce frequently enough?

[2020-12-02 06:52] keyonjie commented on #3520
Hi @singalsu unfortunately, after several hours debugging, it looks to me that the external wired mode looks quite similar to internal LBM for BYT SSP, the capture can't be stopped separately so the RX FIFO watermark(RFL) keep increasing even we have cleared the RSRE (while SSE is set), so, to me, this issue looks is not easy to be fixed.

[2020-12-02 21:09] lgirdwood commented on #3136
@WYL-12 @slawblauciak can we close ?

[2020-12-02 21:20] lgirdwood commented on #3492
@caseorum good work - fwiw, the Designware DMA IP has a lot of config options and it's likely on BDW the minimum transfer is 4 bytes (which may be different on other IP that uses this DMAC).

[2020-12-02 22:03] caseorum commented on #3492
Thank you @lgirdwood and @plbossart. I'm glad I went bug hunting.

[2020-12-03 03:15] RDharageswari opened #3663 "[BUG][TGL][DSM][I2S] No Data to the DSM module when the reference stream is not opened"
**Describe the bug**
Following is the topology for Smart amplifier speaker & reference stream
![image](https://user-images.githubusercontent.com/37420451/100958530-5b546980-34d1-11eb-858e-10c20339b89f.png)

**To Reproduce**
Start the speaker playback stream and probe the BUF1.2 which is a Feedback input module to DSM component.
No Feedback data will be captured.

**Reproduction Rate**
100%

**Expe

[2020-12-03 08:07] slawblauciak commented on #3136
Issue no longer reproduced.

[2020-12-03 08:07] #3136 closed

[2020-12-03 10:40] #3492 closed

[2020-12-03 10:40] #3503 closed

[2020-12-03 13:48] #3190 closed

[2020-12-03 14:57] singalsu commented on #1835
This is tricky, need a cmake expert here.

[2020-12-03 15:55] ShriramShastry commented on #1835
grep -rl "\-O3" . | xargs sed -i 's/\-O3/\-O/g'

[2020-12-03 19:00] yongzhi1 commented on #3567
Hi, @slawblauciak, anyone tried repro the issue yet?

[2020-12-03 19:15] cujomalainey commented on #3546
@lgirdwood this is fixed correct?

[2020-12-03 19:32] #3095 closed

[2020-12-03 19:33] #1796 closed

[2020-12-03 20:26] lgirdwood opened #3665 "[FEATURE] kernel should print URL for FW binaries when FW is not found."
If you absolutely can't put the required packages in linux-firmware right
now, please have the error message give the proper URL for the firmware
package when it can't load the firmware. It took me at least half an hour
to figure out where to get it, as detailed in the opening message.

On Thu, Dec 3, 2020 at 2:45 AM Jaroslav Kysela <notifications@github.com>
wrote:

--
Bruce Perens - CEO at steal

[2020-12-03 20:26] lgirdwood commented on #3665
@plbossart @kv2019i for some reason I could not assigned this as a kernel issue.

[2020-12-03 20:39] lgirdwood commented on #3546
@cujomalainey should be, rimage can now sign for TGL and it's be merged into sof master. Maybe we are missing something in Docker ? @xiulipan ?

[2020-12-03 20:59] cujomalainey commented on #3546
I just figured. haven't tested in a while, will test and close

[2020-12-03 21:01] #3546 closed

[2020-12-03 21:03] marc-hb commented on #3665
Even before considering a URL, I had a painful on-boarding experience trying to understand the drivers' logic for deciding which `/lib/firmware/*/*.tplg` _filename(s)_ they are looking for. For that reason I've been carrying some local `dev_dbg()` hack in `drivers/base/firmware_loader/main.c` since forever.

So I'm not sure the solution should be audio-specific, should it? Or at least not entirely

[2020-12-03 23:36] plbossart commented on #3665
@marc-hb the logic is simple:

a) for each machine there's a descriptor of which topology is needed - the descriptor is identified based on codecs/DMI information:

https://github.com/thesofproject/linux/blob/25012df60c1ff8c43b989bfcb1e9690cfc7e8cf3/sound/soc/intel/common/soc-acpi-intel-tgl-match.c#L313

b) the driver loads a topology assuming an intel/sof-tplg prefix that can be overriden at will

[2020-12-03 23:39] plbossart commented on #3665
@lgirdwood I don't think there is a solution for this. The kernel has no idea where the firmware is supposed to come from, this depends on packaging. E.g. on Debian they have small packages for intel audio firmware, while others have larger packages with linux-firmware. This is completely distro-specific.

[2020-12-03 23:40] plbossart commented on #3665
see e.g. https://packages.debian.org/stretch/firmware-intel-sound

[2020-12-03 23:58] BrucePerens commented on #3665
I think you're overthinking it again :-)

You are not responsible for determining what distribution you are on and
what their packages are.

Just tell them the URL where they can find the firmware and topology files.
If they want to file a bug with their distribution, that gives them all the
information they need. If they want to get their system running by
themselves, they have the information ne

[2020-12-04 00:09] plbossart commented on #3665
@BrucePerens I've seen such recommendations but they have the side effect of removing capture (microphone) support or possibly all audio (SoundWire). we've reached out to Debian and Arch folks and it went nowhere.  I will add a section on firmware installation in our documentation [1], and we'll add a message in the kernel when it's clear what the URL is.

[1] https://thesofproject.github.io/lates

[2020-12-04 00:16] BrucePerens commented on #3665
Thank you.

Presumably the URL is under your control and this can be updated before
your next push to the kernel team?

Arch and Debian have an insufficient volunteer maintainer issue. I don't
know to what extent this is their fault. I know that being accepted as a
Debian package maintainer is so much harder than when I was Debian project
leader that I would not attempt it today. I assume this is

[2020-12-04 00:22] plbossart commented on #3665
I will rely on @lgirdwood and @marc-hb to let me know what the decision is for the URL.

the 'push to kernel team' is subject to a pipeline effect (ASoC then mainline), it's likely already too late for v5.11 so unless we manage to convince the -stable team to pick the patch for 5.4+ it'd appear in 5.12.

[2020-12-04 03:10] xiulipan commented on #3546
@lgirdwood @cujomalainey confirm fixed, will also try to refine CI build steps.

[2020-12-04 03:59] xiulipan opened #3666 "[BUG]rimage submodule f3e52cd now not on any branch"
Now the rimage submodule is checkout to https://github.com/thesofproject/rimage/commit/f3e52cd17e04dcc703a54501fd26e166c927e55e

But this commit shows
`This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository.`

This brings trouble for rimage related update.

[2020-12-04 04:01] xiulipan commented on #3666
@juimonen @lgirdwood Could you help to check where https://github.com/thesofproject/rimage/commit/f3e52cd17e04dcc703a54501fd26e166c927e55e comes from?
Could we set it to latest rimage HEAD https://github.com/thesofproject/rimage/commit/7b7c192e70c23a6024902e6781c32fc0f058c37a now

[2020-12-04 04:13] ShriramShastry commented on #1835
### Tested with below command for all -O3 replacement in all files
grep -rl "\-O3" . | xargs sed -i 's/\-O3/\-O/g'
### Tested with below command for all -O3 replacement for CMakeLists.txt files
find . -name "CMakeLists.txt" | xargs grep -rl "\-O3" | xargs sed -i 's/\-O3/\-O/g'

[2020-12-04 06:00] brentlu commented on #3619
The difference is tool chain. Google's version is built by alsa-lib/alsa-utils 1.1.9 and my version is built by 1.2.4.

[2020-12-04 06:42] linhhoaile commented on #2635
Have you found the solution to this yet? i'm having the same problem with my Flex.

[2020-12-04 06:50] xiulipan commented on #3650
@juimonen I see the alsa-lib and alsa-utils are updated to latest.
Could you try if your tplg can build with the **thesofproject/sof:20201204** image
[code]

[2020-12-04 07:27] brentlu commented on #3619
This issue still could happen with topology built by 1.2.3 but the rate decreases dramatically on the same machine.

[2020-12-04 07:56] bkokoszx commented on #3663
@RDharageswari
Hi Dhara, I think that I do not understand the issue description. Would you like to start playback stream and check BUF1.2 data without starting capture? I mean that BUF1.2 is "updated" by capture stream.

[2020-12-04 08:04] keyonjie commented on #3663
Yes @RDharageswari this is known limitation, the feedback data won't be valid before the capture pipeline is activated with today's design.

[2020-12-04 08:26] kv2019i commented on #2635
@linhhoaile It seems multiple people have got sound work on a Flex in https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1851518 -- this requires patches to the codec driver

[2020-12-04 15:20] lgirdwood commented on #3665
I think the URL should point to the sof-bin repo where the ```Readme.md``` can provide the necessary links and instructions that even novice users should be able to copy and paste if needed. The Readme would also contain the Release information and instructions/links for the previous version.

[2020-12-04 15:27] yongzhi1 commented on #3518
Logs sent in email, thanks!!

[2020-12-04 16:16] lgirdwood commented on #3666
@xiulipan it should be pointing to https://github.com/thesofproject/rimage/commit/7b7c192e70c23a6024902e6781c32fc0f058c37a
It looks like https://github.com/thesofproject/rimage/commit/f3e52cd17e04dcc703a54501fd26e166c927e55e is a development commit that was squashed and deleted.

[2020-12-04 16:21] lgirdwood commented on #1835
@juimonen can you help here, cmake support conditional logic so you can pass in -DEBUG or similar on the cmd line to select different CFLAGS.

[2020-12-04 16:26] lgirdwood commented on #3619
@brentlu can you confirm if aplay works for longer than 10mins. i.e. ```aplay /dev/zero``` Lets try and work out if this is down to a timebase difference coming from youtube.

Can you also confirm if the binary topology files built with different toolchains are the same or different.

[2020-12-07 02:06] jason77-wang opened #3707 "[cml][sdw][STRA-P]: The volume of built-in audio output is low for 1-2 sec as come back from runtime-pm"
On the STRA-P (cml soundwire audio), before runtime suspend, the audio (speaker/headphone)'s output volume is correct, after it enters runtime suspend and runtime resume, the output volume is lower than before for about 1-2 seconds,then it changes back to normal.

This issue could be reproduced with sof-firmware-v1.6 and the kernel branch sof-dev-rebase. This issue could not be reproduced on MLK O

[2020-12-07 07:38] RanderWang opened #3673 "[IPC error] sof-test/multiple-pause-resume.sh reported error when dma trace was disabled on TGL"
**Describe the bug**
[   55.864574] sof-audio-pci 0000:00:1f.3: ipc tx: 0x60070000: GLB_STREAM_MSG: TRIG_RELEASE
[   55.864773] sof-audio-pci 0000:00:1f.3: ipc tx succeeded: 0x60070000: GLB_STREAM_MSG: TRIG_RELEASE
[   56.033318] sof-audio-pci 0000:00:1f.3: pcm: trigger stream 1 dir 1 cmd 3
[   56.033332] sof-audio-pci 0000:00:1f.3: ipc tx: 0x60060000: GLB_STREAM_MSG: TRIG_PAUSE
[   56.033556] sof

[2020-12-07 09:08] brentlu commented on #3619
I've got more log for this issue.

From SOF side, it's a buffer underrun.

    0      2       BUFFER         160288579.218750  85802368.000000   src/audio/buffer.c:126 	comp_update_buffer_produce(), no bytes to produce, source->comp.id = 16, source->comp.type = 1, sink->comp.id = 17, sink->comp.type = 5
    0      2       BUFFER         160289829.114583      1249.895874   src/audio/buffer.c:126 	c

[2020-12-07 09:22] brentlu commented on #3619
I print IPC commends in kernel log. The sequence of TPLG_COMP_CONNECT commands is different but it should be fine. I see no other difference in IPC command parameters. Cannot explain why them make difference on certain machine.

[dmesg-1.1.9.txt](https://github.com/thesofproject/sof/files/5651704/dmesg-1.1.9.txt)
[dmesg-1.2.4.txt](https://github.com/thesofproject/sof/files/5651706/dmesg-1.2.4.txt)

[2020-12-07 10:01] brentlu commented on #3619
It also happens to aplay.

From kernel side the buffer is full.

[  877.329983] sound pcmC0D2p: snd_pcm_common_ioctl: WRITEI_FRAMES
[  877.329993] sound pcmC0D2p: [P] pos 16328 hw_ptr 36467864 appl_ptr 36483360 avail 872
[  877.832337] sof_rt5682 sof_rt5682: playback write error (DMA or IRQ trouble?)
[  877.832384] sound pcmC0D2p: snd_pcm_poll:
[  877.932653] sound pcmC0D2p: snd_pcm_poll:
[  877.9

[2020-12-07 11:47] lgirdwood commented on #3619
@slawblauciak fyi - aplay can also cause this issue. Could be HDA DMA getting confused over data free/avail ?

[2020-12-07 11:48] lgirdwood commented on #3619
@brentlu can you tell us the aplay command line and length of time it takes to fail with aplay (plus any other settings).

[2020-12-07 14:35] brentlu commented on #3619
@lgirdwood

Hi,

This is the command:
$ aplay -D hw:0,2 -c 2 -f S16_LE -r 48000 /dev/zero

It takes 13mins to reproduce:
2020-12-07T09:41:46.395049Z DEBUG kernel: [   93.594668] sound pcmC0D2p: snd_pcm_playback_open:
...
2020-12-07T09:54:51.025137Z DEBUG kernel: [  877.832337] sof_rt5682 sof_rt5682: playback write error (DMA or IRQ trouble?)

It's interesting that this only happen to few Kaisa dev

[2020-12-08 00:24] RDharageswari commented on #3663
Hi Keyon,
Why is there a dependency on the capture pipeline for the feedback data?
The DSM module will need this data for its processing, even during the speaker playback

[2020-12-08 00:55] keyonjie commented on #3663
@RDharageswari I know your point, but as you may know, the feedback data is generated by the capture pipeline, if the capture PCM is not active, no feedback data will be generated with today's design.

To meet the requirement you mentioned, we need to redesign the topology, e.g. put the whole playback + demux + feedback as a single pipeline and the demux -> host capture as another one. This is a s

[2020-12-08 04:30] xiulipan commented on #3666
@lgirdwood Update the rimage to have TGL-H support with https://github.com/thesofproject/sof/pull/3667

[2020-12-08 08:26] mengdonglin commented on #3673
@keqiaozhang will check if this issue can also be reproduced on TGL Chrome device with I2S audio

[2020-12-08 08:28] juimonen commented on #3650
@xiuli I tried this and it didn't compile the enum... my docker build file has direct links to alsa-lib/utild upstream... not sure if this image has the "good" versions or the update to our internal repo was bad then.

[2020-12-08 08:52] RuiqingX opened #3677 "[BUG][TGL] TGLU_VOLT_SDW has no sound when playback on speaker"
Describe the bug
Do playback on speaker,the speaker has no sound, but "aplay -l" and dmesg have no error, and it had been confirmed that it is not a hardware issue.

[code]
Device
TGLU_VOLT_SDW with sh-tglu-volt-sdw-03

To Reproduce
aplay on speaker

Reproduction Rate
100%

Impact
speaker playback is impossible

Environment
Kernel: { sof-dev 47f55b1f-1}
SOF: {c8ae78ab0e4e-3}
Platform: {Volteer}

[2020-12-08 08:55] keqiaozhang commented on #3673
Tried sof-dev + tgl-011-drop-stable branch on TGL Chrome-I2S, no reproduction so far(50+ iterations passed), only observed some xrun errors in error trace when testing "multiple-pause-resume.sh". will perform more tests.
[code]

[2020-12-08 12:06] johnylin76 opened #3678 "[BUG] sample distortion by overflow/saturation issue of iir_df2t()"
In current iir_df2t() implementation, it may produce sample overflow on the calculation of delay and forced saturation (to Q1.31) of output value in each biquad filter stage, which leads to audio distortion in some cases.

For example, the emphasis and deemphasis EQ IIR filter of our use case in the path of multiband DRC. The coefficients of those two-stage biquad EQ IIR filter are as follows:
[co

[2020-12-08 12:09] johnylin76 commented on #3678
Hi @singalsu , could you help to checkon this issue?

[2020-12-08 12:19] singalsu commented on #3678
@johnylin76 Thanks for report! I'll check it.

Meanwhile, have you checked that each of the biquad is scaled with shifts as done in example_iir_eq.m via function eq_iir_blob_quant().

[2020-12-08 15:43] bkokoszx commented on #3663
@keyonjie
Yes, you are right. At the moment we treat DSM pipelines as usual pipelines - we handle them (playback and capture) separately. As you said, if we wanted to get feedback data always, we should treat playback pipeline + capture_demux + capture_dai (we should split capture into two pipelines) as one pipeline during running aplay, which I think is a bit tricky at the moment. I'm not sure wh

[2020-12-08 18:42] cujomalainey commented on #3678
@singalsu the issue appears to be reflected in the comments for making the [temp var](https://github.com/thesofproject/sof/blob/master/src/math/iir_df2t_generic.c#L68) since you are "Shift Q3.61 to Q3.31" `3+31 =34 > 32 bits` which is an overflow of its container. And [down below](https://github.com/thesofproject/sof/blob/master/src/math/iir_df2t_generic.c#L84) you state tmp as Q1.31 without any c

[2020-12-09 03:13] johnylin76 commented on #3678
Yeah, what @cujomalainey mentioned is the main problem of iir_df2t() implementation. "tmp" would overflow on casting to int32_t (even with sat_int32 it goes wrong). And we shouldn't saturate output [in the middle of biquad stages](https://github.com/thesofproject/sof/blob/master/src/math/iir_df2t_generic.c#L89)

[2020-12-09 10:07] singalsu commented on #3678
Yep, the Q3.31 is saturated to Q1.31. The scaling of biquads via shifts when creating the blob should prevent this from happening. You can prevent this by downscaling more (one bit?) the problematic biquad and upscaling with last shift the last biquad output.

I'll try to replicate this today. I was under impression the scaling procedure is too pessimistic but with this example it might not be the

[2020-12-09 10:38] lgirdwood commented on #3663
@RDharageswar do we use PCM0C for capture or is this only ever used for DSM data ?
If its for DSM only then it could be dropped and the smart amp could directly start the second pipeline (i.e. drop PCM0C, BUF11.0, MUXDEMUX and connect BUF11.1 to smart amp - i.e. pipe1 is SSP1.IN -> BUF11.1 -> (smartamp on pipe0)).

[2020-12-09 11:06] #3666 closed

[2020-12-09 11:11] lgirdwood commented on #3650
@xiulipan Btw, do we have a docker update file ? I think we have a build file that creates all the repos etc, but is there a script that does a remote update  on the container ?

[2020-12-09 14:54] singalsu commented on #3678
@johnylin76 Is this decoding of above filters coefficients correct?

[code]

![image](https://user-images.githubusercontent.com/28754793/101645500-1f745380-3a3f-11eb-941e-407c77f585a3.png)

[2020-12-09 18:37] cujomalainey commented on #2158
I believe this is complete since the PR is closed

[2020-12-10 01:22] xiulipan commented on #3650
@lgirdwood Update local docker image with such scripts will not benefit us. It would exactly same with update your local environment. And it will also make Docker container size to increase (as old layers is kept)
To avoid container to become crazy big and different from each other, we always re-build the Docker and upload to Docker-hub. This will make sure we have a standard shared build environm

[2020-12-10 02:46] xiulipan commented on #3650
@juimonen Could you try with the Docker image I built with upstream alsa-lib?
[code]

[2020-12-10 05:47] aiChaoSONG opened #3681 "[BUG][CML][CI] firmware boot failure(timeout) on helios in suspend-resume test"
**Describe the bug**
In CI test report 1082 1059, fw boot failure on helios in suspend-resume test case, with below dmesg:
[code]

**To Reproduce**
run suspend-resume test case on heliso, or do suspend resume with rtcwake

**Reproduction Rate**
issue is seen in recent several daily test report

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit:  b2c49c1c
SOF Branch: master
SOF Commit:  cc

[2020-12-10 13:27] singalsu commented on #3678
Yep, I agree there's mistake in not saturating tmp, just cast (int32_t) is not enough. I will add saturation there like the DRC biquad version has. But when looking the scalings for DRC I don't think it's generic enough. The code needs further robustness with 64 bit saturations added for the recursive side and it increases computational complexity.

I'm still convinced each biquad need to ensure s

[2020-12-10 22:19] lgirdwood commented on #2158
Yes code is upstream in rimage now.

[2020-12-10 22:19] #2158 closed

[2020-12-15 07:50] johnylin76 commented on #3678
Thanks Seppo for the great information for the usage of iir_df2t function.
I have done some better scaling and gain adjustment to my emphasis and deemphasis filter coefficients. Details are mentioned in https://github.com/thesofproject/sof/pull/3657

I also agree your PR about fixing the overflow biquad output. Thanks

[2020-12-15 14:07] #3678 closed

[2020-12-15 15:51] dbaluta opened #3690 "[BUG IMX] Input/output error when do simultaneous playback/capture test"
**Describe the bug**
Input/output error when doing simultaneous playback.capture

**To Reproduce**

$ aplay -Dhw:3,0 -f S32_LE -c 2 -r 48000 /dev/urandom
$ arecord -Dhw:3,0 -f S32_LE -c 2 -r 48000 /dev/null

**Reproduction Rate**

100%

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: 5.10
    * SOF: imx-stable-1

[2020-12-15 16:03] dbaluta commented on #3690
@lyakh @iuliana-prodan

Regression introduced by https://github.com/thesofproject/sof/pull/3339

This happens because we reach https://github.com/thesofproject/sof/blob/master/src/schedule/dma_multi_chan_domain.c#L296
[code]
with ``dma_domain->data[i][j] = NULL``

Our DMA controller has 32 channels but only two are used for this scenario so having ```dma_domain->data->data[i][j] = NULL```.

I wond

[2020-12-16 20:10] bkokoszx commented on #3567
@yongzhi1 @lgirdwood
Yes, we can reproduce that issue.

When we start only capture pipeline (with some additional logs) we get:
[code]
Capture DAI copies only 24 frames per one period all the time (should copy 48 frames) and
it slows down playback pipeline during smart amp processing. I suspect there could be
some problem with SDW configuration - maybe capture SDW is configured to 2 channels
(pcm

[2020-12-17 05:33] keyonjie commented on #3567
Looks we can't support 2 channel FE + 4 channel BE for SDW at the moment, an alternate solution could be configuring SMART_REF_CH_NUM to 4.
@RanderWang @slawblauciak please chime in.

[2020-12-17 07:44] RanderWang commented on #3567
@yongzhi1 please check https://github.com/thesofproject/linux/pull/2643

[2020-12-17 15:34] lgirdwood commented on #3665
Kernel fix now merged.

[2020-12-17 15:34] #3665 closed

[2020-12-17 15:40] lgirdwood commented on #3690
No - only 1 channel is used per stream on Intel HW. However, on some platforms the DMA IRQ is shared by all the channels.
I would also prefer 2.
@dbaluta btw, any ETA for CI for IMX ? I guess you have CI for Zephyr, so you could get CI for free when your Zephyr port is done ?

[2020-12-17 16:21] iuliana-prodan commented on #3690
@lgirdwood you mean that when doing a dma irq clear on a channel, this might change the status on other channels too?

One more thing, regarding #3339 - when reading the commit message I see that it 's possible to have multiple tasks on the same channel, but in the code (ll_schedule.c and dma_multi_chan_domain.c) we only look for one task per channel. Am I missing something here?

[2020-12-17 17:45] dbaluta commented on #3690
Best we could do is to setup an internal CI. And now we switched to 5.10 and stable-v1.6. I will talk with Zephyr guys to see what they have in terms of CI.

Biggest stopper is that there are some architecture patches on imxes which are not yet upstream so using topic/sof-dev is out of the question for now.

[2020-12-17 23:46] yongzhi1 commented on #3567
Hi, @RanderWang, confirm the reported issue was fixed by https://github.com/thesofproject/linux/pull/2643, thanks @keyonjie, @bkokoszx and @slawblauciak for your support!!

[2020-12-18 10:16] jwrdegoede opened #3699 "[BUG][BYT][CHT] Output channel left/right swap on various BYT/CHT devices with various codecs"
**Describe the bug**
Because of the plan to drop the old SST Linux driver for BYT/CHT devices, replacing it with the SOF driver, I have been testing the Linux SOF driver on various BYT and CHT devices.

Things mostly work well, but there is one bug when using the SOF driver which is not present when using the SST driver. Sometimes the left and right playback channels are swapped. This happens with

[2020-12-18 10:40] kv2019i commented on #3699
@jwrdegoede Thanks for testing! We have one bug open for channel swapping for BYT:
https://github.com/thesofproject/sof/issues/3520

[2020-12-18 13:19] #3690 closed

[2020-12-18 13:21] lgirdwood commented on #3567
@RanderWang @yongzhi1 feel free to close if this is now fixed.

[2020-12-18 14:17] lgirdwood commented on #3699
Fwiw, this could be some extra step that is needed in the SSP or DMA shutdown so that the DMA/SSP state is consistent on stream start. The DMA IP on CHT/BYT has is the same IP as on other DSPs (Designware) but it has a slightly different IP configuration so some programming flows may need to be different.

[2020-12-21 00:55] keyonjie commented on #3699
@jwrdegoede can you confirm if the issue happen for S24/S32 only, and works fine with S16 format? if so, maybe remove the ssp_empty_rx_fifo() might help.

[2020-12-21 07:59] WYL-12 opened #3702 "[BUG][APL][CI]FW xrun failed on APL_UP2_NOCODEC with playback test."
Describe the bug
In CI test report 1293, FW xrun failed on APL_UP2_NOCODEC with playback test, with below dmesg:

[code]

To Reproduce
run check-playback-100times test case on APL.

Reproduction Rate
issue is seen in recent several daily test report

Environment:
Kernel Branch: topic/sof-dev
Kernel Commit: 27429439-3
SOF Branch: master
SOF Commit:eaa9a55d0b84-3
SOF Test Branch: master
SOF Test Com

[2020-12-21 09:51] lgirdwood commented on #3699
@keyonjie @plbossart I'm thinking this is a step or register programming order that we are missing in the SSP or DMA shutdown logic (but is being corrected by the subsequent stream start), hence why it works every second playback

[2020-12-21 10:54] jwrdegoede commented on #3699
Note AFAIK it does not work every second playback. It works about 50/50 but it is like flipping a coin not every other playback. Next time I'm testing this I will pay extra attention to this but I'm pretty sure it is NOT every other / second playback.

[2020-12-21 10:55] jwrdegoede commented on #3699
I'll try to make some time to test this soonish.

[2020-12-21 20:25] yongzhi1 opened #3705 "[FEATURE] Create a tunable dummy load to gauge FW redundant capacity"
There is no profiling tool available today to measure the peak MCPS for the whole DSP FW infrastructure.
So a configurable dummy load can be used to estimate how much MCPS left for third party algorithm, this idea is credited to @lrgirdwo .

[2020-12-22 06:32] keyonjie commented on #3699
thanks @jwrdegoede what you described are expected result to me. @lgirdwood it is not related with SSP/DMA shutdown logic, it is because of the flushing doesn't work on BYT/CHT as the capture/playback can't be stopped separately there.

[2020-12-22 08:53] jdrzaszcz opened #3706 "[BUG][ICL][Probe] Incorrect data in probe extracted file."
**Describe the bug**
When running simultaneous playback and capture on SSP interface on external loopback with probe points connected to 6 buffers, there is a problem to properly unpack the extracted probe file due to 'error: wrong state 2, err 0\n' for format:
    SAMPLING_RATE = 48000
    SAMPLE_SIZE = 32
    CONTAINER_SIZE = 32
    CHANNELS_COUNT = 8

When trying to unpack such a corrupted prob

[2020-12-22 10:31] kv2019i commented on #3707
Confirmed as FW topology issue, moving to sof component. It seems we lost the tags in transfers, will add them back.

[2020-12-22 11:04] singalsu commented on #3707
@lihow731 Can you please test with this topology.  Check where the topology file is located and replace it with this (make a backup of file first)

[code]
[sof-cml-rt711-rt1308-rt715.zip](https://github.com/thesofproject/sof/files/5729408/sof-cml-rt711-rt1308-rt715.zip)

[2020-12-22 13:21] lihow731 commented on #3707
@singalsu I'll test the topology, tomorrow.

[2020-12-23 05:35] WYL-12 opened #3710 "[BUG][TGL][CI]DSP reset failed on TGLU-VOLT-SDW in check runtime pm status test."
Describe the bug
In CI test report 1326, DSP reset failed on TGLU-VOLT-SDW in check runtime pm status test, with below error message:

Error log:
[code]
Dmesg log:
[code]

To Reproduce
run check runtime pm status test on VOLT.

Reproduction Rate
issue is seen in recent several daily test report.

Environment
Kernel Branch: topic/sof-dev
Kernel Commit: 4cfdde73-1
SOF Branch: master
SOF Commit:eaa9a

[2020-12-23 06:44] lihow731 commented on #3707
@singalsu

I tested the sof-cml-rt711-rt1308-rt715.zip, this issue still exists.

From kernel message, the ABI info: Topology: ABI 3:18:1 Kernel ABI 3:13:0
I posted the full dmesg output on https://pastebin.ubuntu.com/p/WKnsj4XVDd/ .
The video: https://drive.google.com/file/d/1LOrMj9CDJQ_z8WNPR6-pFcX_8eEV7Bzr/view?usp=sharing

[2020-12-23 06:45] KaiChuan-Hsieh opened #3711 "[BUG] Dell Machine failed to load sof-tgl.ri"
**Describe the bug**
I got a new Dell hardware. It's CPU information:
[lscpu.log](https://github.com/thesofproject/sof/files/5733650/lscpu.log)

The failed kernel log:
[journalctl-k.log](https://github.com/thesofproject/sof/files/5733653/journalctl-k.log)

Its acpi device info:
\_SB_.PC00.HDAS.SNDW.SWD0
0x000020025d071100
\_SB_.PC00.HDAS.SNDW.SWD1
0x000120025d130800
\_SB_.PC00.HDAS.SNDW.SWD2
0x000

[2020-12-23 11:06] jarek556 opened #3713 "[BUG] Acer Aspire A515-56 internal mic not working"
**Describe the bug**
Acer Aspire 5 A515-56 internal microphone not working (silence). DMIC is detected, gain control and mute are available, but there is not sound.

**To Reproduce**
Open pavucontrol, select input: not mic activity. The same in gnome settings audio.

**Reproduction Rate**
100%

**Expected behavior**
Working mic

**Impact**
Impossible to use recording and voice communication

**Env

[2020-12-23 21:26] jwrdegoede commented on #3699
I just hit this issue on a BYTCR device using SSP0 connected to AIF1 of a RT5640 codec. SSP0 always uses S16_LE format, so this means that:

1. My hunch that this was related to using SSP2 was wrong, this happens with both SSP0 and SSP2
2. This happens with both S24_SE and S16_LE formats
3. This happens on both CHT and BYT platforms.

[2020-12-24 13:02] bardliao commented on #3673
@slawblauciak @RanderWang I think the issue is that we don't handle xrun on firmware. ie. `#define NO_XRUN_RECOVERY 1`
I can see below sof-logger if I add `pipe_err(p, "No xrun_recover");` in `pipeline_xrun_recover`
[code]
[code]

[2020-12-25 02:06] aiChaoSONG opened #3714 "[BUG][CI][SDW] xrun and trigger pause/release ipc error in multiple-pause-resume"
**Describe the bug**
The multiple-pause-resume will start several pipelines, and send `space` to every pipeline process to trigger pause/release simultaneously. Under this test case,  we firstly got xrun in the firmware, and failed to recover, then `trigger pause/release ipc error` is reported.

Please check Linux CI report 1351

**To Reproduce**
run multiple-pause-resume.sh, usually can reproduce

[2020-12-25 05:56] xiulipan commented on #3673
@aiChaoSONG Is #3714 a duplicate with this?
@bardliao @RanderWang I think we do not have XRUN recovery at all now. All XRUN will break pipeline and XRUN is not tolerated now. But I remember we have some exception in WoV pipelines @keyonjie could you clarify here.

[2020-12-25 06:02] aiChaoSONG commented on #3673
@xiulipan #3174 is reproduced in our daily test, I don't think dma trace is disabled in the default kernel, but issue also reproduced.

[2020-12-28 02:05] bardliao commented on #3673
@xiulipan @aiChaoSONG IMHO, #3714 and #3673 are the same issue. Disabling DMA trace is just a way to reproduce/trigger the XRUN.

[2020-12-28 02:52] lo-leakage opened #3716 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
Please also read https://thesofproject.github.io/latest/contribute/process/bug-tracking.html for further information on submitting bugs.

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)

**Reproduction Rate**

[2020-12-28 02:52] #3716 closed

[2020-12-28 03:14] lo-leakage opened #3717 "[BUG] [Realtek ALC298] No sound from internal speakers"
**Describe the bug**
No sound from internal speakers. ( headset is ok )

I tried the test below
1) options snd-intel-dspcfg dsp_driver=1 : no sound
2) options snd-intel-dspcfg dsp_driver=3 : no sound
3) options snd-hda-intel dmic_detect=0 and options snd-hda-intel models : no sound

I have tested on windwos10 : ok, windows driver send some i2c command data for enable maxim sound amp.

**To Reprodu

[2020-12-28 07:49] keqiaozhang commented on #2776
CI caught this issue again on  CML.
https://sof-ci.sh.intel.com/#/result/planresultdetail/1371?model=CML_RVP_HDA&testcase=check-kmod-load-unload-50

[2020-12-28 08:36] keqiaozhang opened #3719 "[BUG][TGLU] "error: cl_copy_fw: timeout HDA_DSP_SRAM_REG_ROM_STATUS read" when testing runtime PM"
**Describe the bug**
CI detected below error when testing runtime PM:
**dmesg**
[code]

**etrace**
[code]

**To Reproduce**
run "./check-runtime-pm-status.sh -l 15"

**Reproduction Rate**
first discovered by CI, need more tests.

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: cc99fd4a
SOF Branch: master
SOF Commit: eaa9a55d0b84
2) Name of the topology file
    * Topology: sof-tgl-sdw-

[2020-12-28 21:13] cujomalainey commented on #3388
this is done, but fuzzer scope is limited. Need cmake changes to expand it. mainly #3617

[2020-12-28 21:13] #3388 closed

[2020-12-28 21:14] cujomalainey commented on #3617
@slawblauciak can we bump this to a P1/P2? This is blocking oss-fuzz from covering a large part of the firmware and also I think making integration of future testbench tools harder for @ShriramShastry

[2020-12-29 03:32] KaiChuan-Hsieh opened #3720 "[BUG] Multimedia audio device 8086:43c8 should load SOF driver by default"
**Describe the bug**
I have a machine which audio device is 8086:43c8, its class/subclass/prog-if is 0x040100 which is DSP present.

**To Reproduce**
Boot into linux
$ lspci -nnk
The driver for 00:1f.3 device utilize snd_hda_intel for probing the device.

**Reproduction Rate**
100/100

**Expected behavior**
The device should be probed by snd_sof_pci.

**Impact**
No ALSA card registered

**Environm

[2020-12-29 04:45] xiulipan commented on #2776
@keqiaozhang We already had an issue https://github.com/thesofproject/linux/issues/2576 to track this.

[2020-12-29 04:45] #2776 closed

[2020-12-29 04:46] xiulipan commented on #3719
@aiChaoSONG Is this a familiar issue to you?

[2020-12-29 04:57] aiChaoSONG commented on #3719
@WYL-12 reported the same issue https://github.com/thesofproject/sof/issues/3710, also reproduced in recent daily test. For me, this issue is new on volteer, but back to the previous year, I think it has reproduced on hatch/helios.

[2020-12-29 04:57] aiChaoSONG commented on #3710
close this, for duplicate of https://github.com/thesofproject/sof/issues/3719

[2020-12-29 04:57] #3710 closed

[2021-01-04 02:48] mengdonglin commented on #3707
@lihow731 On your CML STRA-P device, can this issue only be reproduced with built-in speaker output? Or can it also be reproduced with headset output?

[2021-01-04 03:27] mengdonglin commented on #3714
@slawblauciak This issue may have similar root cause as https://github.com/thesofproject/sof/issues/3673

[2021-01-04 09:22] lihow731 commented on #3707
@mengdonglin

This issue only is reproduced with built-in speaker.
This issue can not be reproduced with headset output.

[2021-01-04 09:51] singalsu commented on #3707
The patch in my opinion impacted, the start ramp is now much shorter, about 30 ms (compare to above! though should be 20) but the used MPEG audio coding may impact it. A wav capture without lossy format would be better. If there's still difference in ramp length it's caused by external amplifier, codec, etc.

![Screenshot from 2021-01-04 11-49-26](https://user-images.githubusercontent.com/28754793

[2021-01-04 14:24] singalsu commented on #3707
@lihow731 @aiChaoSONG I don't have a device like this. Do you still feel the fade-in is too long for UI beep/ping/blip like sounds?  Though the gain ramp with the PR is the same as with headset so they should sound similar unless there's difference in codec/amp power-on times.

[2021-01-04 16:32] lgirdwood commented on #3705
@yongzhi1 this is probably something that we can loop into @mrajwa codec interface to use the performance counters. i.e.the codec interface could have a passthrough mode (that just copies data) this would allow measurement of load with and without 3rd party binaries. i.e. pipeline infrastructure could be measured in passthrough mode and pipeline + 3rd party could be measured in standard mode. @mra

[2021-01-05 02:00] aiChaoSONG commented on #3707
@singalsu I was unable to reproduced this issue on one device in PRC, I guess it may be device specific.

[2021-01-05 06:04] keqiaozhang commented on #3170
CI observed this issue again on BSW_CYN_MAX98090  and  BYT_MB_NOCODEC.
http://sof-ci.sh.intel.com/#/result/planresultdetail/1441?model=BSW_CYN_MAX98090&testcase=simultaneous-playback-capture-50
http://sof-ci.sh.intel.com/#/result/planresultdetail/1441?model=BYT_MB_NOCODEC&testcase=simultaneous-playback-capture-50

[2021-01-05 08:12] libinyang opened #3724 "[BUG] memory allocation failure in mux/demux pipeline"
**Describe the bug**
When I tried to make smart amp work on CML stradale. I found the memory allocation failed.
This bug is a regression. And it is introduced by commit: 5d763d6

**To Reproduce**
Use the update topology which include mux/demux pipelines, it will fail to initialize the audio module.

**Reproduction Rate**
100%

**Expected behavior**
audio initialized successfully

**Impact**
audio

[2021-01-05 08:15] lihow731 commented on #3707
@aiChaoSONG This issue  can be reproduced on STRA-DVT2-C7 and STRA-DVT2-C8. Could you get these SKUs?
I can reproduce this issue on another platform: cyborg N 15 (CNU5-DVT1-C7). (Maybe the root cause is different)

[2021-01-05 08:16] libinyang commented on #3724
sof logger
[soflog.txt](https://github.com/thesofproject/sof/files/5768874/soflog.txt)

tplg
![sof-cml-rt711-rt1308-rt715](https://user-images.githubusercontent.com/10509113/103622170-42782180-4f71-11eb-9f81-2365e018dd4b.png)

[2021-01-05 08:32] abonislawski commented on #3706
After a quick check I can confirm that this is not probe app issue.
Extracted file is corrupted, this can be seen only on ICL RVP with 30% repro rate and only with high demanding format with several probe points so maybe a high load issue with DMA  in such heavily demanding scenario

[2021-01-05 09:00] aiChaoSONG commented on #3714
The commit https://github.com/thesofproject/linux/commit/2dbd71d9dc309e29720d07b3b5090cd3b1829468 increase the possibility to reproduce the issue.

[2021-01-05 17:18] lgirdwood commented on #3724
@libinyang it's likely we are asking for a block size that is no longer available.

[2021-01-06 02:17] libinyang commented on #3724
@lrgirdwo Yes, after some simple debug, it fails at allocating memory

[2021-01-06 03:06] libinyang commented on #3724
upload the tplg file.
[Uploading tplg.zip…]()

[2021-01-06 03:07] libinyang commented on #3724
upload the tplg
[tplg.zip](https://github.com/thesofproject/sof/files/5773719/tplg.zip)

[2021-01-06 03:12] aiChaoSONG commented on #3707
@lihow731 Some summary from my side, I cannot reproduce this issue
Kernel: sof-dev-rebase-20201201, kernel deb attached in one of the above comment
SOF: v1.6
Device: DVT1-C3
Check the video: https://www.youtube.com/watch?v=PC2SIuumcqU, playback on speaker with a 997Hz audio.

As you can see from the video, when I hit enter, bunch of messages printed in the right terminal immediately. you can check

[2021-01-06 12:49] dbaluta opened #3730 "How do we use tags on master branch?"
This questions starts from sof-logger output:

``
ERROR FW ABI 0x3012001 DBG ABI 0x5002001 tag v1.5-rc1-996-g69073c6ae4db src hash 0xc4ec3834 (ldc hash 0xc4ec3834)
``
This output looks to be correct because:

``
GIT_TAG = git describe --tags --abbrev=12 --match v*
``
and
``
$ git describe --tags --abbrev=12 --match v
v1.5-rc1-996-g69073c6ae4db
``
So, the question is how do we actually use tags? An

[2021-01-06 12:52] paulstelian97 commented on #3730
I think a tag is made for every RC and release, and when doing git describe the most recent tag that points to a commit on the branch is selected. Not sure what happens if two tags point to the same commit though, but I mean I think we shouldn't get into that case anyway.

[2021-01-06 12:57] dbaluta commented on #3730
@paulstelian97 OK, it could be an explanation. But I have more questions:
- it means that TAG for master doesn't have a meaning?
- and why do we need both tag and src hash?

[2021-01-06 13:55] lgirdwood commented on #3730
I would expect we would have the same rules as Linux here, but it looks like we are always adding the commit ID (even when commit is a tag) ?

[2021-01-06 13:55] paulstelian97 commented on #3730
I think src hash is used to identify a specific commit after the tag (tags do NOT move with new commits like branches do).

Tags point to fixed, specific commits. Tags for master are generally releases or RCs at least for this project.

In Git, tags and branches are almost the same, except branches evolve as new commits are added while tags stay attached to a specific commit. Checking out a tag al

[2021-01-06 14:10] lgirdwood commented on #3724
Then check the allocator block map and increase the heap.

[2021-01-06 14:12] lgirdwood commented on #3706
@abonislawski we may want to add some trace_err/warn in probes if the data request exceeds DMA bandwidth then, this way users will know that data may be corrupted.

[2021-01-06 15:08] dbaluta commented on #3730
@paulstelian97 @lgirdwood First thing we need to figure out why do we need the tag information in logs. I suspect that this is an easy way for the reader to identify release version.

[2021-01-06 15:46] lgirdwood commented on #3730
@ktrzcinx @abonislawski @slawblauciak any idea why the tag info is in logs ?

[2021-01-06 17:37] marc-hb commented on #3730
I see (at least) three distinct questions:
1. Why would anyone _not_ want git version information in logs that get attached to test runs and bug reports?
2. Fine-tuning of `git describe` parameters. The current `git describe` parameters look OK to me, please be specific about how you would like to change them and why.
3. The source hash is unrelated to the git version. The source hash makes sure t

[2021-01-06 18:04] sathya-nujella opened #3732 "[BUG][TGL] Audio Speaker Playback stops sporadically"
SOF Fw:
      tgl-011-drop-stable
       + Maxim98373 DSM + Hotword enable

Steps to reproduce issue:
a) Hotwording path always ON
b) Start long hour "YouTube Playback" or "local Audio-video" files. i.e. Speaker Playback
c) Audio Speaker playback stops after some time
    It is sporadic. Some times stops after hrs, some times in 30min.
d) Issue is able to reproduce in overnight tests (for e.g.  2

[2021-01-07 04:40] xiulipan commented on #3730
First answer why we have tag info, this is a part of our `sof_ipc_fw_ready` structure to dmesg log and work as HELLO WORLD TRACE log for trace system.(also see my email about 1.7 release yesterday)
[code]

@lgirdwood @dbaluta @paulstelian97 I see similar issue in our release process. We are making **VERSION TAG** from `git tag`.
which means if a git tag is not on master branch, the git description

[2021-01-07 05:15] marc-hb commented on #3730
The master branch should not try to look like the v1.6.x branch because it's not, it has different code.

The reason the master branch looks like v1.5-rc1+something is because it is v1.5-rc1 plus something.

A typical process is to tag the first Release Candidate on the branch, that's apparently what was done for v1.5-rc1. I don't know why it wasn't done for v1.6-rc1, see below.

[code]

[2021-01-07 05:16] marc-hb commented on #3730
I suggest the following "fix":
[code]
Please thumbs up or down this github comment.

[2021-01-07 07:18] dbaluta commented on #3730
@marc-hb this means that we will need to manually update the current rc0 version each time we release a new version, right?

[2021-01-07 07:23] marc-hb commented on #3730
I'm not sure what you mean by "update the current rc0 version".

Ideally, every `vN.M-rc1` release candidate (and only the first `-rc1` release candidate) would be on the master branch. If that's not possible for some reason, then my suggestion above is to have a "dummy" `vN.M-rc0` tag or `vN.M-branchpoint` tag on the master branch with no actual release candidate matching it.

[2021-01-07 07:27] dbaluta commented on #3730
@marc-hb OK, I understand your point now. Having vN.M-rc1 on master branch looks like an acceptable solution.

[2021-01-07 10:30] lihow731 commented on #3707
@aiChaoSONG
Please check [this video on google driver](https://drive.google.com/file/d/14DB92fExUGbzPx0aqDmXPqV3dGibxpLj/view?usp=sharing)

kernel: Kernel: sof-dev-rebase-20201201 (in above comment)
topology: sof-cml-rt711-rt1308-rt715.zip (in above singalsu's comment)
I enabled the dyndbg that your sof-dyndbg.conf.

I use ubuntu 20.04 (LTS, but this version is a oem preload version. It is close u

[2021-01-07 11:18] lgirdwood commented on #3732
@sathya-nujella looks like something is stopping FW from scheduling work to empty DMIC FIFOs (via the timer_domain scheduler which is reporting a delay).
Can you confirm if DSM is active during this test ? If so, does the test still fail if DSM disabled ?
This error can be caused by too much "high priority" work within the DSP (i.e. higher or similar level as the scheduler timer domain). e.g. This

[2021-01-07 11:22] lgirdwood commented on #3730
@marc-hb I assuming you are proposing the same version schema that Linux uses here ? If so I approve.

[2021-01-07 14:21] mwasko commented on #3732
@sathya-nujella can you confirm whether "dmic_irq_handler(): full fifo B or PDM" is present in the SOF logs after youtube playback stop but before the aplay to headse or HDMI?

We should probably focus first on why the playback stopped and what lead to that. The other errors after aplay to headset or HDMI are separate issues that are probably result of playback stop.

Is the hotword triggered duri

[2021-01-07 15:21] marc-hb commented on #3730
Not sure what you mean by "version schema", I don't think I've been proposing any schema. I only proposed to tag the master branch near each release branch point which I think answered the main question.

[2021-01-07 15:26] lgirdwood commented on #3730
I mean the same schema used by Linux e.g. tag-[commit]-[dirty]

[2021-01-07 15:35] marc-hb commented on #3730
In other words: the `git describe` flags? I think/hope everyone is happy with the current ones.

[2021-01-08 04:02] xiulipan commented on #3730
@lgirdwood The schema is already decided by our `git describe --tags --abbrev=12 --match v*` cmd

The real problem here is the describe are using TAG on master branch, but out newer release TAG is not on master branch.
What @marc-hb suggest here is to make a new TAG v1.6-rc1 on master branch so fix the issue.

**AND** for release 1.7 we should first make a TAG v1.7-rc1 on master branch and then ch

[2021-01-08 10:17] lgirdwood commented on #3730
Ok, good explanation @xiulipan thanks - @dbaluta I think you should have the permissions to create these tags on master for v1.6.
We should be tagging v1.7-rc1 in the next 2 weeks.

[2021-01-08 11:34] zrombel opened #3738 "[BUG][TGL-H][SOF 1.6.1] KD Notification timeout in S0"
**Describe the bug**
KD notification timeout occurs when running 07_04_TestKdDmic16000Hz16b16b2ch tests with parameter playback_iterations > 100. Bug is only present for audio format 16000Hz 16b/16b 2 channels. Bug cannot be reproduced in KD tests case with D0ix state.

**To Reproduce**
Run test with diagnostic driver:
07_04_TestKdDmic16000Hz16b16b2ch
with parameter playback_iterations > 100

**Re

[2021-01-08 11:34] dbaluta commented on #3730
@lgirdwood ok, let me try.

[2021-01-08 12:38] dbaluta commented on #3730
@marc-hb is there a particular reason for which you have chosen this commit for rc0? I would have gone with v1.6-rc1^1

``2b54bacdb topology: add KWD component into sof-tgl-sdw-max98373-rt5682 ``

[2021-01-08 13:47] marc-hb commented on #3730
Yes, 6e98d9dde423 is the `v1.6.x` branch point. `v1.6-rc1^1` is not on the master branch so tagging it would not make any difference. See my screenshot above.

[2021-01-08 14:46] dbaluta commented on #3730
@marc-hb I misused the commit v1.6-rc1~1. So, let me try to reprhase:

Here is how commits on master look:

[code]

[2021-01-08 15:09] marc-hb commented on #3730
To look at a _graph_ of branches and see branchpoints you need either a _graphical_ tool like `gitk` or `git log --graph`. `git log` without `--graph` cannot show anything useful. My screenshot above used `--graph`.

BTW an annotated tag would not hurt, I mean something like `git tag -m 'This is just the branchpoint, not a real Release Candidate' tag v1.6-rc0 6e98d9d`

[2021-01-10 17:44] sathya-nujella commented on #3732
DSM is active during the test  (speaker playback stream has Maxim-98373 DSM enabled)

[2021-01-10 17:47] sathya-nujella commented on #3732
1)
Yes,  speaker playback stopped is the main/critical issue.
2)
Hotword is not triggered during the playback. Just before playback, it has just started to keep "WoV" path ON.
3)
Because long hour playback test,
we are not able to clearly tell whether "speaker playback stopped first" or "DMIC FIFO overrun errors" coming first.

[2021-01-10 17:48] sathya-nujella commented on #3732
Sent the SOF dma trace and etrace logs in email as it involves 3rd party modules.

From SOF etrace:
..
[3188835201.093750] (  3040024.000000) c0 ll-schedule        /schedule/timer_domain.c:91   ERROR timer_report_delay(): timer 3 delayed by 12 uS 463 ticks
[3193475228.593750] (  4640027.500000) c0 ll-schedule        /schedule/timer_domain.c:91   ERROR timer_report_delay(): timer 3 delayed by 13 uS

[2021-01-11 01:15] keyonjie commented on #3732
Good that you reproduce it with dmic_stop at xrun, can you attach dmesg of this also?

[2021-01-11 01:45] sathya-nujella commented on #3732
If we enable all kernel and sof debug logs, issue was not reproducing.. so did not enable sof kernel audio driver prints.
When issue happen, there are no audio errors in dmesg.

Only changed this / Firmware built with:
a)	Error & warning prints only
b)	Enabled this print “perf comp_copy peak plat”
c)	Added dmic_stop() in dmic_irq_handler()

[2021-01-11 02:12] keyonjie commented on #3707
The issue is actually not fixed by #3708 by @lihow731, reopen it.

[2021-01-11 02:44] keyonjie commented on #3707
@lihow731 it sounds better with your latest video, do you think we can close this?

[2021-01-11 10:08] lihow731 commented on #3707
@keyonjie if this is a device specific issue, I am fine to close it.
But, I observed this issue on other machines that is no a soundwire audio.
I hope we can find the root cause.

[2021-01-11 13:41] aiChaoSONG commented on #3707
@lihow731 In the latest video you posted, I think we are aligned on the time delay, about 200ms, Do you think it is still very long for you?

[2021-01-11 16:23] lgirdwood commented on #3707
codec HW will power on slowly to reduce pops and clicks. So I would expect to see some ramping an most devices. IIRC we do this in FW for some devices too. @keyonjie @aiChaoSONG

[2021-01-11 16:29] lgirdwood commented on #3738
@mrajwa any insights ?

[2021-01-11 16:54] mrajwa commented on #3738
@lgirdwood @zrombel timeout notification often appears when the load is too high but here you claim only audio format 16000Hz 16b/16b 2 channels is affect which is suspicious since this is least demanding format, therefore the reason of timeout is likely sth else @zrombel any chance to get logs from the failing case?

[2021-01-12 03:24] lihow731 commented on #3707
@lgirdwood Got it. It's an expected behavior. I agree to close this issue. Thank you.

[2021-01-12 08:44] mengdonglin commented on #3702
Cannot reproduce this issue in CI daily test during 01/06/2021 to 01/11/2021(report ID #1478 - 1568)

[2021-01-12 08:54] slawblauciak commented on #3702
Issue no longer occurs.

[2021-01-12 08:54] #3702 closed

[2021-01-12 11:35] #1833 closed

[2021-01-12 13:13] mwasko commented on #3730
Generally the SOF release model is based on branches. This means that each new release will results in creating a new release branch like for example stable-1.6. Once the release branch gets created the process of stabilization and intensified validation begins which usually lead to creating multiple release candidates, each of them build from release branch and tagged ex. v.1.6-rc0, v.1.6-rc1..

[2021-01-12 17:41] lgirdwood commented on #1577
Supported in Zephyr. Moving to v1.9 as part f Zephyr integration.

[2021-01-12 17:43] lgirdwood commented on #1556
@ranj063 @singalsu I guess we can load topoies in testbench now ? Can we close ?

[2021-01-12 17:44] lgirdwood commented on #186
Zephyr has flexible clock APIs - moving to v1.9 for Zephyr integration.

[2021-01-12 17:45] lgirdwood commented on #1544
@ranj063 fyi - moved to v1.8 as this is likely where we will intercept with current WiP working well.

[2021-01-12 17:46] lgirdwood commented on #1496
Moving to v1.9 as part of Zephyr integration work.

[2021-01-12 17:47] lgirdwood commented on #1092
@juimonen any update here - would like to close for v1.7

[2021-01-12 17:49] lgirdwood commented on #2371
@akloniex @ktrzcinx I think this can be closed now ?

[2021-01-12 17:51] lgirdwood commented on #2384
@dbaluta any update here - move to later ?

[2021-01-12 17:52] lgirdwood commented on #1429
@mwasko @mrajwa how are we now for IPC field docs ? I've seen updates but not sure if we can close yet ?

[2021-01-12 17:53] lgirdwood commented on #1280
Move to v1.8

[2021-01-12 17:53] lgirdwood commented on #1185
Still not needed - move to v1.9

[2021-01-12 17:54] lgirdwood commented on #2269
@paulstelian97 any update ?

[2021-01-12 17:55] lgirdwood commented on #2172
All now merged.

[2021-01-12 17:55] #2172 closed

[2021-01-12 17:56] lgirdwood commented on #2480
@marc-hb @xiulipan fyi.

[2021-01-12 17:57] lgirdwood commented on #3378
@juimonen @singalsu any update here ? can we close ?

[2021-01-12 17:59] lgirdwood commented on #3120
@singalsu ping - any update ?

[2021-01-12 17:59] lgirdwood commented on #2981
@singalsu ping - any update ?

[2021-01-12 18:07] paulstelian97 commented on #2269
In the backlog, might try to sprint it these days if I get a bit of extra time (right now trying to update Xtensa compiler for i.MX platforms).

[2021-01-12 18:35] marc-hb commented on #3730
I find it worrying that the very first release candidate cannot be built from the branch point, that sounds bad. The mainline should be in state good enough to start validation at least _sometimes_! If that's really not the case then `git tag [-a] v1.x-branchpoint abcdef` is the second best option that solves the `git describe` problem reported in the description.

[2021-01-12 18:38] mrajwa commented on #1429
Sorry I have no clue, @mwasko do you follow this?

[2021-01-12 20:09] plbossart commented on #3170
@keqiaozhang is there a way we can bisect to see when the problem re-appeared?

[2021-01-12 20:30] lgirdwood commented on #3617
@mwasko can we assign someone to fix for v1.7 final. I don't think this will block the first RC.

[2021-01-12 20:33] lgirdwood commented on #3639
@ranj063 good now ? Can we close ?

[2021-01-12 20:40] lgirdwood commented on #3523
@plbossart is restarting loger enough to flush the old data out?

[2021-01-12 20:43] lgirdwood commented on #3517
Moving t v1.9 as this will occur over time as Zephyr is integrated.

[2021-01-12 20:46] ranj063 commented on #3639
@lgirdwood yeah. I think we can close this. We still use deprecates but maybe its not super important

[2021-01-12 20:46] #3639 closed

[2021-01-12 20:46] lgirdwood commented on #3480
@singalsu @johnylin76 @ShriramShastry @aiChaoSONG fyi - any chance we can move more of these under kconfig for v1.7 ?

[2021-01-12 20:51] lgirdwood commented on #3467
@cujomalainey I guess this is still WIP since Janusz has left Intel ? IIRC I've seen one or two PRs to help here but assume we need more ?

[2021-01-12 20:53] lgirdwood commented on #2311
Move to v1.9 as there is impact with Zephyr work.

[2021-01-12 20:56] lgirdwood commented on #2269
Ok, lets move it for later.

[2021-01-13 05:57] cujomalainey commented on #3467
I think we can do more work on this once we stop running Cmakes both with and without kconfig. If it's only with kconfig values set then we can adjust things as necessary

[2021-01-13 08:28] xiulipan commented on #2480
@lgirdwood What is the plan now? Move tools into rimage repo? or soft (sof-tools) repo again?

[2021-01-13 10:45] dbaluta commented on #2384
@lgirdwood i don't remember what happened to this. Lets move it for later.

[2021-01-13 10:53] mwasko commented on #3730
The release usually involve new features which requires additional validation and may expose or introduce new bug's. Generally speaking the mainline should be stable enough to build the first release candidate but the new features may still require some polishing (that is added with next 'rc' builds). It would be quite confusing to have rc0 candidate on mainline followed by the next rc on the bran

[2021-01-13 17:01] marc-hb commented on #2480
I think answering ABI questions (including your own) has to come first.

[2021-01-13 17:26] perexg commented on #2480
I think that it's pretty easy to include all header versions and use the appropriate code when a certain firmware is detected at **runtime**. It's a traditional way, how all *nix tools works (backward compatibility). The rimage is used for the fw building, right? I would create another repo for the user space tools which are supposed to be used by users (not developers).

[2021-01-13 17:54] dbaluta commented on #3730
what is v1.x-branchpoint exactly? So, how should this look like for the current master.

[2021-01-13 18:14] marc-hb commented on #3730
Confusing how, can you elaborate?

git users rarely ever look at git graphs anyway.

The "branch point" is the last commit in common between the v1.x branch and master. For the v1.6 branch it's 6e98d9dde423, see the graph I posted above. In simple cases like this one the branch point can be found with the `merge-base` command but (as often with git...) the name "merge-base" isn't great here becaus

[2021-01-13 18:57] marc-hb commented on #2480
Let me try to break this down and please correct me:

1. Make sure the (native) logger can be built very easily and independently = without building the (cross-compiled) firmware
2. Make the logger and other tools are backward compatible with old firmware and continuously validate that.
3. Move the logger etc. to a resurrected SOFT git repo

The title and description mention only 3 but attempting

[2021-01-13 19:18] perexg commented on #2480
I agree with all three points. It's exactly what I'd like to propose.

We would like to use this tool in a package for the universal distributions. We cannot predict the behaviour of users. Although, most of them is using the latest released software (kernel, user space), some of them are downgrading or preserving kernels for a reason. So we need one binary which works with all known firmware / dr

[2021-01-13 20:22] plbossart commented on #2480
the logger should be relatively easy to handle as a standalone tool, the main issue I see is that the logger needs to use the exact .ldc file matching the .ri file. If the two files don't match the translation from error code to human-readable error cannot happen and the logger will crap out.

In hindsight, I am not sure why we created a separate .ldc file, we could have added it to the firmware f

[2021-01-14 02:05] cujomalainey opened #3743 "[BUG] ALSA firmware site outdated"
**Describe the bug**
ALSA firmware page holds stale outdated content on SOF
https://www.alsa-project.org/wiki/Firmware

We should delete or update this content to point to here or the github.io site

[2021-01-14 09:22] perexg commented on #2480
Normal users are working with packages and the contents in packages is in sync. It's probably useless to load those strings to kernel (unused). It may be better to thing about the validation (put the firmware version string or maybe a hash for the whole file to the debug .lcd file for the consistency verification).

[2021-01-14 11:27] singalsu commented on #3480
Yes, I'll do the SRC coefficients and trig tables kconfig. For SRC I think the tiny conversions set (as for generic C) with only 16/32/44.1/48 but with the better quality used today should be a good default. So far there has been no need for the near full MPEG-AAC rates conversions matrix.

[2021-01-14 13:23] lgirdwood commented on #3467
@cujomalainey I think we have the global debug/optimisation configs in kconfig today but there may be one or tow places where it's hard coded in cmake. Would using only kconfig work here for you to set the cmake vars ?

[2021-01-14 14:31] lgirdwood commented on #3480
@singalsu thanks.

[2021-01-14 14:36] #3707 closed

[2021-01-14 15:07] lyakh commented on #3699
@keyonjie can you expand a bit on that? Do you know which flushing is insufficient? SSP or DMA?

[2021-01-14 15:29] lgirdwood commented on #3699
@lyakh it seems that the flipping is random and if so, could be a race between enabling DMA and SSP e.g. enabling certain SSP bits wrt DMA channel enable (like wise on disable flow too).

[2021-01-14 15:30] lgirdwood commented on #3663
@RDharageswari any update ? can we close ?

[2021-01-14 15:31] marc-hb commented on #2480
Is the kernel forced to keep in memory what it loads from  /lib/firmare ?

Done a few months ago, see #3326 and earlier.

[2021-01-14 15:31] lgirdwood commented on #3638
@juimonen any updates here ?

[2021-01-14 17:03] RDharageswari commented on #3663
Hi Liam,
Will raise as a feature request.
Will close it for now!

[2021-01-14 17:03] #3663 closed

[2021-01-14 19:34] plbossart commented on #3699
one would hope that the DMA is armed first, and the FIFO full when the SSP is enabled?

[2021-01-14 19:41] plbossart commented on #2480
it's simple today because we only have simple firmwares. in 2021, we are going to see firmware that contains 3rd-party IP, which will be released by OEMs. I will bet we are going to have confusions between the non-public and public firmwares, and with the two LDC files the potential for mismatches is even bigger.

Also for developers, it's classic that people generate a firmware, and copy it to th

[2021-01-14 19:45] plbossart commented on #2480
I think we do, we only request the firmware on the first boot but reuse it for system resume. we only call release_firmware() in the driver .remove() callback.

[2021-01-15 00:19] cujomalainey commented on #3467
Thanks, once #3617 is complete i can go around and fixup hardcoded flags where i find them

[2021-01-15 05:01] ShriramShastry commented on #3480
I will optimize the  sine lookup table with smaller size and compute the accuracy of lookup table

[2021-01-15 06:53] marc-hb commented on #2480
I forgot about power management, thanks. However I imagine the resume process would start from an already stripped image, wouldn't it? Then it would be trivial not to keep the dictionary in kernel RAM.

I just built everything and looked at file sizes. `*.ldc` file sizes range between 35K and 85K. Almost all are bigger than 60K. `*.ri` file sizes range between 90K and 270K, almost all are bigger t

[2021-01-15 09:14] perexg commented on #2480
It's just waste of resources, because the whole firmware contents is handled at the load time even if it's scratched later.

Great. I assume that the sof-logger code does some validation to avoid using wrong .lcd file now.

[2021-01-15 09:17] singalsu commented on #3480
@ShriramShastry Which table do you mean? The table in src/math/trig.c is there to provide about 100 dB SNR for any frequency 48 kHz sampled sine wave produced by the tone generator. I'd not reduce the quality if the sine is used for tone generator component. I was thinking to enable build of sine and the table only when it's part of build. Normally tone generator would not be part of build, unless

[2021-01-15 10:59] lyakh commented on #3699
@lgirdwood @plbossart @keyonjie BYT is one of several (legacy) platforms, where `CONFIG_HW_LLI` isn't available. So can it be that the clean up in this case isn't complete?

[2021-01-15 13:38] lgirdwood commented on #3699
@lyakh check the reference I sent you as the correct flow.

[2021-01-15 16:59] #3448 closed

[2021-01-15 17:14] singalsu commented on #3480
@lgirdwood The listed SRC tables sizes are from CONFIG_COMP_SRC_TINY since it's for gcc build. The next shrink option would be to disable SRC. The tiny set only has a minimum set of convenrsions.

Below are grep results from defconfig files:

[code]

There's currently three different sizes: tiny, small, and std. I could change all platforms to small. Tiny not recommended because of a lot reduced q

[2021-01-16 00:49] marc-hb commented on #3522
@lgirdwood , @plbossart , @dbaluta , @cujomalainey , others: can we stop github from auto-closing bugs when merging commits with `Fixes:` tags? Auto-closing bugs on merges makes sense when you have:
- super deterministic software
- super deterministic, fully automated and extensive test coverage run on every Pull Request
- no hardware or operating system heavily involved (cause they're not determi

[2021-01-16 07:32] cujomalainey commented on #3522
From (here)[https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue]. So appears the only solution is to no have someone put in the keyword

[2021-01-16 12:32] rogpeppe opened #3752 "[BUG] sof firmware appears to have caused Ubuntu laptop to fail wakeup"
**Describe the bug**
I just slept my X1 Carbon 7th Gen running stock Ubuntu 20.04 and it failed to wake up.

uname -a output:

[code]

I'm afraid I have no idea how to find out

Looking in the journalctl log, I saw the following log output, which includes some error messages
that mention "sof", so perhaps that's the underlying reason.

The laptop has been doing this relatively regularly (maybe onc

[2021-01-17 06:51] cinerea0 opened #3753 "[BUG] Microphone fails to be detected on Thinkpad X1 Carbon 7th Generation"
**Describe the bug**
The built-in microphone in my Thinkpad X1 Carbon 7th Generation (X1C7) fails to be detected under PulseAudio even when using SOF firmware. Setting "options snd-intel-dspcfg dsp_driver=1" allows audio to be played but does not allow for microphone use. Setting "options snd-intel-dspcfg dsp_driver=3" does not allow either audio to be played or recorded.

**To Reproduce**
On a Th

[2021-01-17 19:05] love4c14 opened #3754 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
Please also read https://thesofproject.github.io/latest/contribute/process/bug-tracking.html for further information on submitting bugs.

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)

**Reproduction Rate**

[2021-01-18 13:30] singalsu commented on #3480
@dbaluta Do you have preferences for SRC in imx*_defconfig? If no feedback, I think I'll touch only Intel platforms with my SRC component remove/reduce PR to address this memory issue.

[2021-01-18 13:35] paulstelian97 commented on #3480
For now we won't include it, but just in case plans change we can always update the defconfig as-needed.

[2021-01-18 14:13] sergiocaccamo opened #3755 "No microphone detected when using headphones on XPS 17 9700"
I have Ubuntu 20.10 kernel 5.10 oem, the speakers and the microphone now seem to work on the dell xps17 9700, which is good.
As soon as I plug the headphone in the jack the audio is correctly redirected to the headphones but the microphone stops responding.
If I look at the input, I can only select the input device "Soundwire microphone - sof-soundwire" but the microphone does nothing.
To make the

[2021-01-18 14:44] lgirdwood commented on #3754
Missing bug context.

[2021-01-18 14:44] #3754 closed

[2021-01-18 15:28] lyakh commented on #3699
@jwrdegoede Hi Hans! Interesting that you're saying, that it's only happening after 10 seconds, since SOF on CHT and BYT doesn't support runtime-PM... I can reproduce the problem but with a much lower success rate than 50 / 50. But what I did hear a couple of times: I use `speaker-test -c 2 -t sine -D hw:0,0`. It always begins playing with the left channel. If I interrupt it when it's playing the

[2021-01-18 15:36] jwrdegoede commented on #3699
@lyakh I'm testing with a full-blown GNOME desktop using pulseaudio, it takes 10 seconds for pulseaudio to close the audio-device after the last app stops using it.

So it seems to me that the coin-toss for swapping gets done on every opening of a playback-stream. This also seems to match with your experience when repeatedly running speaker-test.

[2021-01-18 16:08] lgirdwood commented on #3522
@marc-hb this is not an auto-closed bug. @slawblauciak had confirmed fix.
It sounds like you are suggesting we need an extra step where someone from CI confirms that the test for bug X has passed CI for the past Y days and than can either label the issue or close the issue ? This labelling confirmation could also be automated if we could link bugs to CI in GH somehow ???

[2021-01-18 16:09] lyakh commented on #3699
@jwrdegoede same here - Ubuntu with PA. And the speaker-test uses PA too. But I don't see PA holding sound devices open after speaker-test terminates. Maybe it's the settings application that does that?

[2021-01-18 16:13] lgirdwood commented on #3467
@marc-hb do you think you can fix #3617 this week ?

[2021-01-18 16:20] lgirdwood commented on #2480
Yes, there is now validation in logger.

[2021-01-18 16:51] lyakh commented on #3699
@jwrdegoede could you attach your `amixer contents` output here, please?

[2021-01-18 20:42] aigilea opened #3757 "[BUG] No sound on HP Spectre x360 13-aw2022ur (2020, Tiger Lake)"
**Describe the bug**
Both legacy driver and SOF driver only create devices for HDMI outputs, no speakers or headphones (or microphones). I've tried 5.8, 5.10 and 5.11 kernels with the latest 1.6.1 SOF distribution, the only difference is wording changed from dmic-related to soundwire-related around SOF initialization in dmesg.
When SOF driver is enabled PulseAudio refuses to init the card, but pla

[2021-01-18 20:57] marc-hb commented on #2480
I don't see where there is waste, sorry.

I think @plbossart 's idea goes like this:
1. The`.ldc` is made a part of the `.ri` file at build time. Absolutely zero possibility of `.ldc` mismatch. No need for any checksum.
2. After loading the `.ri` file, the SOF kernel driver immediately discards the `.ldc` part. This avoids wasting a couple hundreds kilobytes of kernel memory.
3. The user points th

[2021-01-18 22:24] marc-hb commented on #3522
Sorry, I thought it was auto-closed by github because of the timing and because there is (still) no clear indication of what testing was performed.

Yes some extra step like this but only for bugs with no deterministic CI reproduction like this one. Simpler bugs can be closed immediately.

OK, then it's never going to work :-( We'll just have to not blindly trust the "closed" status of bugs.

[2021-01-19 03:17] marc-hb commented on #3522
`multiple-pause-resume.sh` failed again in internal nightly validation run 1679 and the failure was linked to this bug. It failed on only one device. It was validating most recent commit e17b90d9b2d6 which includes tentative fix #3618

There are plenty of logs but I don't know enough about this bug to tell from them if this failure was really it.

[2021-01-19 06:46] marc-hb commented on #3467
I don't think so, sorry. I had a very quick look a long time ago and it seemed to require significant CMake surgery. I'm familiar with CMake but not with our CMakeLists.txt files.

[2021-01-19 11:02] lgirdwood commented on #3522
@marc-hb so do you have any thoughts on how we could reference a GH issue against a CI test. We already have an interface where we can tell CI to test a PR via a comment, but I've no idea if this can be done for bugs e.g.
```SOFCI test=id1,id2(cml)```
Which could tell CI that this issue is tested by tests id1 (all platforms) and id2 (on cml) and then CI could report once it was passing for a time

[2021-01-19 11:13] lgirdwood commented on #3520
@lyakh fyi

[2021-01-19 11:20] paulstelian97 commented on #2480
Not sure if it's exactly the same idea as he presented but I see value in this one. There needs to be a checksum or something, a build number maybe, that the firmware must include and the logger tool still needs to check in order to match the firmware on-disk with the loaded one.

[2021-01-19 11:31] perexg commented on #2480
You need more memory than required for the standard use at the load time and you also need some CPU time. I agree, it may be negligible, but it should be considered before any change.

Yes, so the reason for the all-in-one file is not so strong now, right?

I'm fine with any method when we can check the debug info consistency.

Another option: If we omit the CPU/memory wasting at the load and runt

[2021-01-19 13:18] lgirdwood commented on #2480
We currently have a manifest in the FW header which also includes the FW binary payload size and offset. It would be possible to stitch the ldc file at the end of the FW file so that
1) kernel would not even have to load the LDC data i.e. it reads header and loads only FW payload.
2) logger would read the header and skip the FW payload and jump directly to LDC data.
This way we would keep the sing

[2021-01-19 17:50] marc-hb commented on #2480
Checksum or not, a single file would be massively more convenient and less error-prone from the perspective of a user who just wants to use the logger.

[2021-01-19 18:00] marc-hb commented on #3522
I don't know how we would do this and I'm sorry I derailed this (important) bug. I don't think we're struggling and need to some automation to help us close bugs. So far I only observed the opposite: bugs closed  (by github or manually) without process or validation details. Today's example: https://github.com/thesofproject/linux/issues/1449#issuecomment-556109925

[2021-01-19 18:21] perexg commented on #2480
From the packaging perspective, it means (using 1.6.1) about 8% size increase - 7.3MB/0.57MB (and impossibility to split the debug info - which is not required to be installed for the standard operation). At least, I don't force to install .ldc files by default in our distros - we have alsa-sof-firmware and alsa-sof-firmware-debug packages. I mean, the split gives us more flexibility (and I can ar

[2021-01-19 22:48] cujomalainey commented on #3522
You can tell if it was closed automatically by the closing line. E.g.
Automatically `jajanusz closed this in #2148 on Dec 16, 2019`
Manual  `cujomalainey closed this on Dec 3, 2020`

[2021-01-19 23:59] ranj063 commented on #3673
@bardliao the ipc error is because the FW stops the pipeline in case of an xrun and then when the application stops the PCM after the xrun, the state is incorrect. This needs to be fixed @keyonjie FYI.

But why does the xrun happen in the first place?

[2021-01-20 07:15] bardliao commented on #3673
I have no idea so far.

[2021-01-20 14:20] yongzhi1 commented on #3518
Close it for now due to lowered priority. Thank you.

[2021-01-20 14:21] #3518 closed

[2021-01-20 18:29] marc-hb commented on #3719
Were some bug(s) filed?

[2021-01-20 20:26] plbossart opened #3767 "[BUG] TGL topology files don't always have 4 HDMI/DP pipelines"
**Describe the bug**
we seem to reuse the same topology files for ICL and TGL in HDaudio and SoundWire configurations, but TGL has 4 display pipelines, not 3.

examples: sof-icl-rt711-rt1308-rt715-hdmi.m4 sof-tgl-rt715-rt711-rt1308-hdmi.m4 sof-hda-generic-idisp.m4 sof-hda-generic.m4

**Expected behavior**
TGL topologies should expose all 4 pipelines. For HDaudio this may require a different matchi

[2021-01-21 02:39] keqiaozhang commented on #3719
This issue is caused by https://github.com/thesofproject/sof/issues/3714.  I checked the CI reports again and found that this issue only happens after issue https://github.com/thesofproject/sof/issues/3714.
The root cause is that when https://github.com/thesofproject/sof/issues/3714 happens, DSP will be in bad state.  At this time, we shouldn't test the PM case directly, we need to restore or rebo

[2021-01-21 07:25] kv2019i commented on #3767
We have this for generic HDA driver:
https://github.com/thesofproject/linux/issues/1639

For any new topologies, 4 iDisp should be exposed for sure, but for old ones, it requires some compatibility layers to do. Pierre you had a proposal in #1639 but I haven't yet looked at how to do it.

Note, this is only needed if you have four concurrent monitors all with audio capability, so a bit of a corner

[2021-01-21 17:58] marc-hb commented on #3719
@lgirdwood , @plbossart , how bad is the situation after #3714? Is it so bad that the DSP is not expected to handle the error and recover?

Agreed but only if what causes #3714 is so bad that the DSP is not expected to recover. Otherwise it's more complicated:

- On one one hand we want to test power management when starting from a "clean" state.
- On the other hand we ALSO want to test power mana

[2021-01-21 18:26] marc-hb commented on #3522
This is apparently not #3522 after all but #3714

I still feel like the testing for #3522 is scant but at least it didn't seem to have surfaced recently.

[2021-01-21 22:01] plbossart commented on #3767
@kv2019i I think as long as the machine driver advertises support for 4 HDMI links, the topology can use 3 or 4. The problems come if the topology uses MORE resources than what the machine driver shows.

I pushed https://github.com/thesofproject/linux/pull/2709 to fix all this, we can deal with a topology update later.

[2021-01-21 23:54] marc-hb commented on #3730
Is `git tag -a v1.6-branchpoint 6e98d9dde423` good enough for everyone?

[2021-01-22 02:28] keqiaozhang commented on #3719
From the test result, runtime PM and kmod test cannot survive after #3714 . So I believe none of cases can pass after #3714.
Since the first kmod test failure will trigger system reboot to restore sof, so the following tests will back to normal.
![Capture](https://user-images.githubusercontent.com/22468760/105437427-05639d00-5c9c-11eb-940a-ace8d99495c2.PNG)

[2021-01-22 02:57] xiulipan commented on #3730
@marc-hb I am OK with this workaround fix for release 1.6. @lgirdwood Do we have agreement here for release 1.7 to make first tag on master branch and then checkout to a new branch?

[2021-01-22 10:20] ShriramShastry opened #3776 "audio: tune: time domain beamformer remove 32bit function and unused variables"
**Describe the bug**
It seems matlab/octave have few function like `function bytes = w32b(word, sh)` which is unused in the code.
Identify and remove all unused function and variables

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)

**Reproduction Rate**
How often does the issue happen ? i.e. 1/10 (once in ten attempts), 1/1000 or all th

[2021-01-22 15:32] lgirdwood commented on #3673
@mwasko fyi

[2021-01-22 16:26] lgirdwood commented on #3776
@ShriramShastry can you add yourself as a codeowner for matlab code. This means adding your GH iuser ID to CODEOWNERS file for matlab/octave code (and means you get to review these file alongside @singalsu).

[2021-01-22 16:44] lgirdwood commented on #2981
@singalsu ping - maybe v1.8 ?

[2021-01-22 16:44] lgirdwood commented on #3120
@singalsu ping - maybe for v1.8 ?

[2021-01-22 16:55] singalsu commented on #3120
@lgirdwood Yep, unfortunately v1.8.

[2021-01-22 17:05] singalsu commented on #2981
@lgirdwood Yep, unfortunately v1.8. This was confirmed to happen by @jdrzaszcz with two separate I2S interfaces without LBM quirk. So it should be a real issue. I think I should create a glitch detector component, tuned to detect tiny glitches in sine wave (now only a patch for ASRC that didn't trigger) and move it around in the pipeline topology to see where it happens.

[2021-01-22 17:07] lgirdwood commented on #3732
@cujomalainey fyi - I've also added debug and testing PRs to this issue for visibility.

[2021-01-22 20:59] cujomalainey commented on #3732
Thanks, been tracking this internally, @sathya-nujella gabe me a great explanation yesterday

[2021-01-25 05:01] #3699 closed

[2021-01-25 08:00] ktrzcinx commented on #2371
@lgirdwood I don't think so, without CONFIG_TRACEM, traces other than critical are stored only in dma buffer.

[2021-01-25 15:14] mwasko commented on #3617
@bkokoszx please take a look

[2021-01-25 15:18] mwasko commented on #3523
@bkokoszx will take a look and evaluate if we can deliver it for 1.7

[2021-01-25 15:34] lgirdwood commented on #3378
@singalsu lets review for v1.8 as topology 2.0 means we probably don't need this.

[2021-01-25 15:51] singalsu commented on #3378
Probably no need, though I wonder topology 2.0 is going to handle all of what m4 does (e.g. pass correct filter blobs for processing pipelines, define processing for endpoints). For now need to do all pipeline processing changes from top level CMakeList.txt with a lot of care since pipelines are not as symmetrical as they initially look like. The PGAs names is one of the hard-coded pitfalls.

[2021-01-26 10:08] ShriramShastry commented on #3776
Sure @lgirdwood ,

[2021-01-26 15:17] bkokoszx commented on #3617
@cujomalainey
At the beginning I want to say that I am not cmake expert and maybe I am missing something. :)

I quite do not understand what kind of problem we have here. As I understand our CI's always clone clean SOF repo - they do not have any .config file at the beginning and we do not have any config errors. Could you explain in more detailed way what kind of problem we hit here and give some

[2021-01-26 15:36] marc-hb commented on #3617
Do developers use some other build system? I'm not aware of any.

[2021-01-26 15:48] lgirdwood commented on #3617
@marc-hb can you help out on this ? This will miss v1.7-rc1, but can be merged for rc2.

[2021-01-26 16:38] dbaluta commented on #631
@plbossart any progress on this :)

[2021-01-26 16:55] plbossart commented on #631
@dbaluta I think it's supported today already. we can either create an echo reference from a playback stream, or use one provided by an external amp.

@ranj063 @keyonjie can you point Daniel to the topologies where this is used?

[2021-01-26 20:23] cujomalainey commented on #3617
@bkokoszx no worries, i think most of us are CMake novices here.

The issue is the first time CMake runs its files, it runs with the the config variables undefined, this makes refactoring hard. For example the [add_ld_scripts](https://github.com/thesofproject/sof/blob/master/src/arch/xtensa/CMakeLists.txt#L132) function. I would like to make it general to any arch. These function use global variab

[2021-01-26 23:41] marc-hb commented on #3617
@bkokoszx I think I have a good enough understanding of the problem and I have a bit of Kconfig and CMake experience so unless you're dying to work on this I'm taking it on. In fact I already did something like this in the past but it was from scratch so much easier. I may still need your help for any CI issues on your side because this change will most likely breaking "backwards compatibility" fo

[2021-01-27 09:43] bkokoszx commented on #3617
@marc-hb Thanks, fell free to ask if you need any help.

@cujomalainey
Thanks, but I have one additional question. :) I understand that in the "first" round of CMake the .config file is not created yet. We do not have defined any ```CONFIG_*``` defines at that stage yet. After ```make *_defconfig (e.g. make tgplp_defconfig)``` there is "second" round of cmake and at that stage we have ```CONFIG_*`

[2021-01-27 09:50] cujomalainey commented on #3617
Not quite, I would argue the first stage should not even run.

What I am trying to do is refactor the build system so it is more friendly to x86 test builds, currently I need to be able to link in ld scripts. If I modify the ld script function right now to take in paths based on config values (which its currently accessing globally) it causes breakages in the first step even though function isn't

[2021-01-27 10:36] ktrzcinx commented on #3617
@cujomalainey `if(DEFINED CONFIG_VAR_NAME)` or `if(CONFIG_VAR_NAME)` wouldn't solve your problem ?

[2021-01-27 10:49] lgirdwood commented on #3617
Thank you @marc-hb - I guess you are the cmake "Maintainer" now.

[2021-01-27 14:59] bkokoszx commented on #3419
Hi @singalsu I'm just checking SOF 1.7 status. Were you able to take a look at this bug?

@lgirdwood Do we need it in 1.7?

[2021-01-27 15:04] bkokoszx commented on #3467
@cujomalainey Regarding https://github.com/thesofproject/sof/issues/3467#issuecomment-760560305 comment - will you be able to take a look at this after #3617 gets merged?

[2021-01-27 15:35] lgirdwood commented on #631
Yep, used today for DSM iirc. @dbaluta look for topology token for allow buffer xruns, you should be able to grep for these and find the examples.

[2021-01-27 15:35] #631 closed

[2021-01-27 17:07] dbaluta commented on #631
@lgirdwood my grep foo is weak. tried with ``xrun, allow, etc`` but couldn't find anything that makes sense.

[2021-01-27 17:27] cujomalainey commented on #3467
Yes, this should be much easier

[2021-01-27 17:29] plbossart commented on #631
[code]

[2021-01-27 17:38] cujomalainey commented on #3617
@ktrzcinx that sounds more like treating the symptom than the problem. Likely I could add that but it would likely litter the repo with them

[2021-01-27 21:27] #3419 closed

[2021-01-28 10:58] dbaluta opened #3795 "Discussion: Keyword Detection Feature"
Hi @mrajwa @keyonjie @bkokoszx

We are trying to integrate KWD with a custom keyword detection algorithm and we have some questions, hopefully you can help us:

![image](https://user-images.githubusercontent.com/62316/106128472-17e04980-6168-11eb-9564-41672c594c30.png)

Questions:

1.  our keyword detection algorithm needs 1s of data to work, is that possible with the current implementation?
2.  w

[2021-01-28 11:19] mrajwa commented on #3795
Hi @dbaluta,

1. Sure, the current solution can easily provide you about two seconds of history data (depending on the platform)
2. Upon detection KPB component starts to drain history data to the host component from that point the data are further copied and finally they end up in the user space application.
3. We have a dummy detector component which mimics the actual algorithm - on the flow cha

[2021-01-28 11:22] paulstelian97 commented on #3795
Our question is how does the detect_test/kwd component actually use the history inside the KPB component in its own detection algorithm.

[2021-01-28 11:34] mrajwa commented on #3795
It doesn't. Its only purpose is to detect sth in the real time stream.

[2021-01-28 11:40] dbaluta commented on #3795
Is the history data only to be drained to Host component? We would like that the history buffer to also be accessible from our custom detection component (Keyphrased detection algorithm).

Is there any elegant way to follow in order for our custom component to buffer 1s of data?
We could have:
- internal buffering
- copy the data from KPBM somehow

[2021-01-28 13:04] mrajwa commented on #3795
Yes the history data are stored for the HOST component to use. You can place some parser of history data in the KPB component maybe....the general idea is-> detector perform light weight / raw analyze of real time stream. If it senses sth it sends a notification to the KPB to drain history data of X seconds to host where that data is further analyzed.

[2021-01-28 13:40] paulstelian97 commented on #3795
The annoying part is that our current algorithm is still single channel so a selector is needed BUT also the host needs to receive dual channel for the long-term solution.

The NXP DSPs seem to be kinda beefy (640-800MHz depending on model) so they will take higher loads than the others. We will however still analize how well the more complex algorithms work (measure MCPS and everything) to see if

[2021-01-28 14:11] cristinailie commented on #3795
Hi mrajwa,
If KPBM draining was thought only for the host than why in the code of KPBM is an array with size=no_of_clients, a register function which basically registers the relevant data of a client to KPBM component (like the client's sink for further data transfers) and why kpb_init_draining function offers an API [1] which receives as input the kpb_client data? For example the history_depth pa

[2021-01-29 07:32] dbaluta commented on #3795
I guess this won't be a problem for us.

In our integration DSP clocks at 600-800Mhz

We have access to a shared DRAM memory area that we can virtually make it very large. We use 8MB now but it can be extended.

The real thing we want to figure out is that the current design allows us in a clean way to to accumulate 1s of data inside KWD component and do keyword processing on it.

[2021-01-29 08:24] mrajwa commented on #3795
Then I see no problem processing that data on the DSP side

[2021-01-29 08:43] paulstelian97 commented on #3795
@mrajwa About the multiple clients part... Don't we need multiple clients, namely the algorithm and the host? In particular the algorithm should peek at the data in the buffer (copy without consuming) while the host actually consumes it.

[2021-01-29 08:54] mrajwa commented on #3795
@paulstelian97, no. Consumers are on a different level, its more about user space clients like google, alexa etc... I have already said what I think you should do - place your algorithm inside KPB component so it can analyze whole history buffer on regular periods.

[2021-01-29 09:35] paulstelian97 commented on #3795
So, basically: we need to create a new topology which has just a single pipeline with a modified KPB component that has the algorithm integrated into it as well, and the state changes are provoked internally. Of course we still keep the regular wakeup thingy because I think adding new IPCs to actually communicate _which_ keyword was detected is probably **not** the way to go.

[2021-01-29 15:06] dbaluta commented on #3795
@paulstelian97 I think this is the first option we have for now. Maybe there's a better solution which we can look at it later.

Thanks a lot @mrajwa for your inputs!

[2021-01-29 15:48] lgirdwood commented on #3732
@sathya-nujella sorry, it looked like an automatic close based on a PR being merged (even though some PRs are still unmerged).

[2021-02-01 07:46] lyakh commented on #3520
presumably fixed by #3777

[2021-02-01 08:29] keqiaozhang opened #3800 "[BUG] KWD pipeline hang when DSP enters to D0i3"
**Describe the bug**
This is a regression and CI detected this issue from last Friday. After triggering, KWD pipeline will hang after DSP entered to D0i3.

**To Reproduce**
1. run kwd:
$arecord -Dhw:0,7 -M -N -r 16000 -c 2 -f S16_LE --buffer-size=96000 -d 10 /tmp/wov_S16_record.wav
2. trigger the pipeline
3. check the dmesg and console output

**Reproduction Rate**
100%

**Environment**
1. Kernel

[2021-02-01 18:35] iuliana-prodan opened #3802 "[BUG IMX] Input/output error when mixing two streams"
**Describe the bug**
Input/output error when when mixing two streams.

**To Reproduce**
$aplay -Dhw:1,0 -f S16_LE -c 2 -r 48000 -t raw /dev/urandom & aplay -Dhw:1,1 -f S16_LE -c 2 -r 48000 -t raw /dev/urandom &

**Reproduction Rate**
100%

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: 5.10
    * SOF: master
2)

[2021-02-01 21:59] cristinailie commented on #3795
@mrajwa I followed your advice to integrate my algorithm directly in kpb. My question is now - how to trigger the keyword detection event now? I mean, could I just skip the event handling and just to call kpb_init_draining when my condition for keyword detection is accomplished? Or should I simulate that the event BEGIN_DRAIN was sent? (I don't know if this is possible from the same SOF component)

[2021-02-01 21:59] cristinailie commented on #3795
@mrajwa I followed your advice to integrate my algorithm directly in kpb. My question is now - how to trigger the keyword detection event now? I mean, could I just skip the event handling and just to call kpb_init_draining when my condition for keyword detection is accomplished? Or should I simulate that the event BEGIN_DRAIN was sent? (I don't know if this is possible from the same SOF component)

[2021-02-02 01:07] keqiaozhang commented on #3800
This issue also can be reproduced on TGL-SDW Chromebook,

[2021-02-02 01:27] ranj063 commented on #3800
@keqiaozhang how do you know the DSP has hung? There's nothing in the issue that suggests that?

[2021-02-02 01:28] ranj063 commented on #3800
BTW have you disabled the system agent in the config when building the FW?

[2021-02-02 02:04] keqiaozhang commented on #3800
@ranj063 ， it's the kwd pipeline hang, not the DSP hang.  the kwd pipeline stops recording and hang when DSP enters to D0i3 mode.
This issue has nothing to do with the system agent. because we are using the default config to build FW in CI, for tgph_defconfig, system agent is enabled as default, I tried it on TGL_RVP_HDA, issue can be preproduced.  I also tried the override.config to disable the s

[2021-02-02 05:19] keqiaozhang commented on #3800
This issue is introduced by:https://github.com/thesofproject/sof/commit/8a5bcd9df6934b21c7a52a6cc3d9f72399fad0be "timer: scheduler: make all timer IO atomic in scheduler"

[2021-02-02 10:24] singalsu commented on #3520
@lyakh I got still error and detected channels swap from check-volume-levels.sh. The same happens with LBM quirk an without with Tx-Rx jumper wire.

[2021-02-02 16:32] giuzan commented on #3802
Hi,

I experienced the issue on iMX8QM using sof-imx8-cs42888-mixer.tplg. The issue can be reproduced in both branches **imx-stable-v1.5** and **imx-stable-v1.6**.

I applied the commits of this PR https://github.com/thesofproject/sof/pull/3803 on the top of both branches and I performed some tests.

### Test 1

It is basically the test you reported in bug description.

I run the following command

[2021-02-02 17:19] iuliana-prodan opened #3809 "[BUG IMX] Playback and capture occasionally fails"
**Describe the bug**
Playback and capture occasionally fails with Input/output error

**To Reproduce**
Run playback and capture simultaneously.
Or run the script below:
[code]

**Reproduction Rate**
20%

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: 5.10
    * SOF: master,  imx-stable-v1.5, imx-stable-v1.6.
2)

[2021-02-02 17:25] iuliana-prodan commented on #3802
@giuzan Thanks for testing this!
Your Test 2 scenario it's a problem we've also discovered and, since you mentioned it, I've created another bug: #3809.
This is not quite related with the mixer issue: the playback and record are started/stopped multiple times and, at some point, it fails with Input/output error.

I'm looking into this, now.

[2021-02-02 17:28] iuliana-prodan commented on #3802
@giuzan For Test 2 scenario, if you don't start/stop the playback and record it works ok:
[code]
The start/stop playback & record will be handled in #3809.

[2021-02-04 06:35] keqiaozhang opened #3814 "[BUG] KWD w/ s24_le format pipeline will stop when DSP enters to D0i3"
**Describe the bug**
We observed this issue on firmware tag tag:v11.0-hotfix1. When testing wov with S24_LE format on TGL chrome-Volteer SDW, the KWD pipeline will stop when DSP enters to D0i3. but there're no obvious errors in kernel logs or etrace.
 This issue is not the same as https://github.com/thesofproject/sof/issues/3800 on master branch. For https://github.com/thesofproject/sof/issues/380

[2021-02-04 07:16] keqiaozhang commented on #3814
Checked with today's daily recipe, both https://github.com/thesofproject/sof/issues/3814 and https://github.com/thesofproject/sof/issues/3800 can not be reproduced.
Looks like https://github.com/thesofproject/sof/commit/70b447b534c774d0067f7938e224af03018743ad can fix them all.

[2021-02-04 07:21] aiChaoSONG commented on #3714
issue always happens when we are doing pause-resume simultaneously on smart-373-spk(PCM2P), and echo((PCM3C)) pipelines. Here is how they are connected:
![image](https://user-images.githubusercontent.com/52959957/106858429-9dca3a80-66fc-11eb-96b2-0c321cb5d8db.png)

[2021-02-04 07:30] keqiaozhang commented on #3800
This issue is fixed by https://github.com/thesofproject/sof/commit/70b447b534c774d0067f7938e224af03018743ad

[2021-02-04 07:30] #3800 closed

[2021-02-04 07:52] keqiaozhang commented on #3814
I did a test to cherry pick below 2 patches to releases/tgl/v11.0-hotfix1 , this issue cannot be reproduced on Volteer-SDW.
https://github.com/thesofproject/sof/commit/8a5bcd9df6934b21c7a52a6cc3d9f72399fad0be https://github.com/thesofproject/sof/commit/70b447b534c774d0067f7938e224af03018743ad

[2021-02-04 09:31] aiChaoSONG opened #3815 "[BUG][TGL] XRUN on TGL_RVP_NOCODEC in multiple pipeline test cases"
**Describe the bug**
run multiple pipeline test cases on TGL_RVP_NOCODEC, we will get io error in the terminal, and after check sof-logger, xrun happened

**To Reproduce**
run ` ./multiple-pipeline.sh -f p` on TGL_RVP_NOCODEC device, or run every pipeline in different terminal manually.

**Reproduction Rate**
almost 100%

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (f

[2021-02-04 09:57] aiChaoSONG opened #3816 "[BUG][APL][v1.7rc1] XRUN on APL_UP2_NOCODEC with multiple-pause-resume test case"
**Describe the bug**
in SOF v1.7c1 sanity test, xrun occurred on APL_UP2_NOCODEC with multiple-pause-resume test case. Linux CI report ID: 2026

**To Reproduce**
run `multiple-pause-resume.sh -r 25`

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: {topic/sof-dev 157a2621}
    * SOF: {v1.7rc1 372d3873bd55}
2) Nam

[2021-02-04 09:59] aiChaoSONG commented on #3816
#2749 is also a IO error issue, which happens on multiple-pipeline-capture.

[2021-02-04 10:44] iuliana-prodan opened #3817 "[FEATURE][IMPROVMENT] Add a new scheduling type for topology"
**Is your feature request related to a problem? Please describe.**
Started from the pull request #3803, see discussion https://github.com/thesofproject/sof/pull/3803#discussion_r569524093

**Describe the solution you'd like**
The synchronous DMA_DOMAIN should be time independent (or the full_sync mode added in pull request #3803)
So, update the synchronous mode from DMA_DOMAIN and remove the time

[2021-02-04 11:07] iuliana-prodan commented on #3817
@lgirdwood If we choose the alternative solution 1 (add a new scheduling type for topology) I see:
- some redundant code - when creating a pipeline we use the pipeline_is_timer_driven() and based on this we choose SCHEDULE_LL_TIMER or SCHEDULE_LL_DMA. So, we should remove this, actually both LL_TIMER and LL_DMA are timer driven;
- some duplicate code - dma_multi_chan_domain should remain the same

[2021-02-04 17:37] giuzan opened #3818 "[BUG IMX]"
**Premise**

I think that the _loopback_ feature could be very useful in SOF. With _loopback_ I basically mean a _capture_ PCM from which we can read the samples that are _written_ in _playback_. You can find this functionality in ALSA, known as _ALSA Loopback_. I think that performing the loopback job inside the DSP would be very useful. Developers who want to integrate its own echo canceller blo

[2021-02-05 03:01] aiChaoSONG commented on #3815
d5840a920073e6712af2022ab3ec89816420e6ae / b90315f0f0dfaadf672adedc5901156a4a9297cc
Above two commits are related to SSP clk change, and caused this issue.
@keyonjie Please take a look.

[2021-02-05 03:07] keyonjie commented on #3815
Oh, that requires the corresponding kernel PR: https://github.com/thesofproject/linux/pull/2669

[2021-02-05 03:28] keyonjie commented on #3815
Oh, kernel PR is for rt5682 platforms only.

@aiChaoSONG can you help to try if https://github.com/thesofproject/sof/pull/3820 will fix this issue?

[2021-02-05 11:03] RDharageswari opened #3823 "[BUG] [TGL] PM Gate IPC Failure and not able to enter into D0i3"
**Describe the bug**
Start WOV, while there are no active streams.
there will be transition D0i3->D0i0->D3, while this happens the PM_GATE IPC timesout

**To Reproduce**
The following script can repro the issue:
#!/bin/bash
for i in {1..4}
do
cras_test_client --set_hotword_model 15:0:en_all
cras_test_client --listen_for_hotword /home/root/wov.wav --duration_seconds 10 & pid=`pidof cras_test_client

[2021-02-05 11:23] mengdonglin commented on #3815
@aiChaoSONG confirmed #3820 can fix this issue. Closing.

[2021-02-05 11:23] #3815 closed

[2021-02-05 11:43] lgirdwood commented on #3823
@RDharageswari what happens when we do
[code]
I am wondering if ```kill -9``` means we are having a different sequence at stream shutdown.

[2021-02-05 13:34] RDharageswari commented on #3823
Hi Liam,
cras_test_client --listen_for_hotword /home/root/wov.wav --duration_seconds 10
The above command works this way: Capture data for "10 duration_seconds" after the keyword is detected.
The intention of the above script is to get the power sequence right

[2021-02-05 15:29] lgirdwood commented on #3823
@RDharageswari ok got you, we are capturing for 10 seconds after keyword and not listening for 10 secs. One other thing that comes to mind here is what is the background noise with your test (given the difference in reproduction rates that everyone is seeing) ?

[2021-02-05 16:09] lgirdwood commented on #3818
@giuzan buffers cant do any processing here. i.e. your buf2.0 has 2 inputs. Shouldn't this be ```demix1.0 -> buf -> echoref2``` instead ?

[2021-02-05 16:22] lgirdwood commented on #3817
@iuliana-prodan it may be clearer for everyone if you were to describe the rules for the current 2 types today and then the rules for the 3rd type. i.e for LL_TIMER (from the top of my head, so I may be missing important details).
1) LL_TIMER task are ordered and scheduled to run in same sequence on synchronous timer tick. timer is rearmed at end of work so that work is run every 1ms. Timer needs

[2021-02-05 16:24] lgirdwood commented on #3814
@keqiaozhang thanks !
@mwasko @slawblauciak @abonislawski fyi.

[2021-02-05 16:44] lgirdwood commented on #3802
@iuliana-prodan fwiw, should be another two weeks until v1.7 final, so plenty of time to get the fixes merged for imx.

[2021-02-05 16:49] lgirdwood commented on #3795
@cristinailie IIRC, there is a dummy component where you can just clap to simulate the keyword.

[2021-02-05 16:54] lgirdwood commented on #3378
@juimonen @ranj063 fyi - any comment here for topology 2.0

[2021-02-05 17:32] RDharageswari commented on #3823
Hi Liam,
there is no background noise here Liam.
Just the power transition causes this issue.

[2021-02-05 22:38] cujomalainey commented on #3823
I can cause a DSP panic in a similar fashion with arecord so I don't think its the shutdown procedure.

[code]

[code]
That being said this method is a bit more involved to prevent CRAS from unloading the hotword model

[2021-02-06 10:35] giuzan commented on #3818
@lgirdwood

Yes, I agree, it sounds weird to me too that a buffer has two input streams. I would expect that the only components which are allowed to have more than one stream (in input or in output) should be only: _mixer_ (that mixes N streams into one); _demux/mux_ (the first creates one stream from many, the second creates more streams from one). Am I wrong? Or in general it is allowed also fo

[2021-02-06 11:13] giuzan commented on #3818
@lgirdwood

About your suggestion `demix1.0 -> buf -> echoref2`

Do you mean something like that?

![sof-imx8-cs42888-demux](https://user-images.githubusercontent.com/22277547/107116607-bd846e80-6874-11eb-9af8-9bc58c6e51d0.png)

[2021-02-07 12:39] keyonjie commented on #3823
Hi @slawblauciak @abonislawski @bkokoszx this is not reproduced with the master branch, I spent some time to figure out it is clock switching related, can you help to backport the upstream version of the WOVCRO and clock switching logic to see if the issue is resolved?

[2021-02-08 07:37] paulstelian97 commented on #3795
That's what we used before, but the problem is that the component cannot intercept the data. We want another intermediate test where we still don't trust our mic's data but also we get as close as possible to how the integration itself will look like.

[2021-02-08 08:25] abonislawski commented on #3823
@keyonjie just try without commit 445d65f89a9b687173fdea4205f5a64cf1ee4bd6
this is the only difference

[2021-02-08 10:26] mwasko commented on #3823
As @abonislawski pointed out, the only significant difference is keeping HPRO clock requested while in D0. This change significantly reduce the LPRO-HPRO clock switch time and improve overall FW performance. It is possible that with this change applied a kernel-FW race condition was revealed.

@ranj063 @lrgirdwo can you analyze the kernel driver power flows and verify the DSP suspend/resume progra

[2021-02-08 10:55] cristinailie opened #3827 "Period size limitation (KWD_PIPE_SCH_DEADLINE_US)"
Hello,

I am trying to increase KWD_PIPE_SCH_DEADLINE_US value on keyword detection topology (currently set to only 20ms) and I see that for more than ~120 ms  the arecord doesn't work anymore:
` error: ipc error for 0x60010000 size 20`
`hw params ipc failed for stream`
` ASoC: 3b6e8000.dsp hw params failed: -12`

Is this a SOF/platform limitation and if yes why? Or this behavior is not expected a

[2021-02-08 12:17] dbaluta commented on #3827
@cristinailie it looks SOF firmware runs out of memory.

Can you please try:

[code]

[2021-02-08 15:01] bkokoszx commented on #3823
Hi all,
I'm able to reproduce this issue on Delbin platform also with **master** branch:
- FW: master (https://github.com/thesofproject/sof/commit/9d41d63ac79e551f4022c388284c2233606788a1) + GHW + DSM

[2021-02-08 16:35] lgirdwood commented on #3823
@plbossart @kv2019i  @ranj063 any thoughts here, IIUC the kernel IPC flow should be valid (i.e no missed steps or out ouf order steps) even if we kill -9 aplay. Can we be racing here with PM ?  @abonislawski @slawblauciak @RDharageswari are you guys able to post a full kernel dmesg when the issue happens (also FW log too). Thanks !

[2021-02-08 16:42] yongzhi1 commented on #3498
Close for lowered priority.

[2021-02-08 17:11] ranj063 commented on #3823
@lgirdwood I dont think there is any sort of race in the kernel IPC flow involved when this issue happens. I will be working with @sathya-nujella to find a way to make the reproduction quicker and will come back with some more information.

[2021-02-08 18:27] lgirdwood commented on #3823
I was thinking RTD3 here, but the dmesg would quickly rule this out. Otherwise I dont see anything else.

[2021-02-08 19:00] dbaluta commented on #3827
Closing this. As discussed the memory allocation problem arrives from a multiplication that overflows uint32_t. Long term solution is to switch some variables to uint64_t.

Who would have imagined that uint32_t isn't enough for everyone.

[2021-02-08 19:00] #3827 closed

[2021-02-08 20:19] plbossart commented on #3827
It's quite common in audio to wrap-around if you play for several days... Anything that counts bytes, times or deals with sample rate needs to be handled with care.

[2021-02-08 21:02] lgirdwood commented on #3498
@lyakh @yongzhi1 reopen as we need to add more context to existing instructions.

[2021-02-09 05:36] jairaj-arava commented on #3823
Hi All,
We picked up the  'timer margine schedule' and 'timer drift avoid’ patches that got merged in tgl-011-drop-stable branch (top 2 patches here: https://github.com/thesofproject/sof/commits/tgl-011-drop-stable ) today.

With these two patches we tried to reproduce the issue on 2 DUT’s but we didn’t see the issue and it passed 500 cycles each. We are still continuing our tests.

[2021-02-09 06:52] #3802 closed

[2021-02-09 10:17] iuliana-prodan commented on #3498
@lgirdwood @lyakh @yongzhi1 where/what are the existing instructions?

I want to build SOF with Zephyr and I saw this README: https://github.com/thesofproject/sof/blob/master/zephyr/README
Are the repos and branches mentioned there still the ones to use?
Otherwise, which are the latest repos/branches for SOF and Zephyr?

Thanks!

[2021-02-09 10:23] kv2019i opened #3831 "[BUG] SOF docker image has proxy settings hardcoded for Intel network"
**Describe the bug**
The current SOF docker images have a hardcoded proxy set to Intel servers:
https://thesofproject.github.io/latest/getting_started/build-guide/build-with-docker.html

While testing the instructions from public network, scripts/docker-run.sh builds will fail due to this.

** Mitigation **
Modify scripts/docker-run.sh with

[code]

[2021-02-09 11:12] bkokoszx commented on #3823
@jairaj-arava
I've got reproduction with latest: https://github.com/thesofproject/sof/commits/tgl-011-drop-stable
at my end.

[2021-02-09 11:40] sykhro commented on #1899
What does this mean, exactly? That key can't be reused to sign new firmware?

[2021-02-09 11:49] mwasko commented on #3814
The issue on tgl-011 will be resolved by the patchhttps://github.com/bkokoszx/sof/commit/8430ed722590ba8e81f16a3e716ea56fd2aaf777 that is a part of the fix on #3732
Since we do not want to generate unnecessary noise and keep tgl-011 as stable as possible only the required fixes will be integrated.

[2021-02-09 11:58] slawblauciak commented on #3732
Issue not reproduced after more than 12 hours of testing with the supplied fixes (merged on tgl-011-drop-stable branch):
https://github.com/thesofproject/sof/commit/6fa7e0e07f9896de11b615dc8b1313e098c615fc
https://github.com/thesofproject/sof/commit/4271a0db2c3cde248361803bf609282ee18dc114

[2021-02-09 12:16] chrysophylax commented on #1899
Give it up peeps, Intel has decided to leave us behind. I'll be selling my Intel hardware and moving to AMD this year.

[2021-02-09 13:14] lgirdwood commented on #3498
Latest PR for sof docs is here

https://github.com/thesofproject/sof-docs/pull/330#pullrequestreview-586525659

This has not been tested for i.MX yet, so you will need help for iMX SOC support from Zephyr team. @dbaluta is in the loop.

[2021-02-09 13:48] lgirdwood commented on #3732
@slawblauciak when will you have the 2 PRs ready for master ?

[2021-02-09 13:51] slawblauciak commented on #3732
@lgirdwood the margin change is already on master (done by you), the other change is already here: https://github.com/thesofproject/sof/pull/3828

[2021-02-09 15:23] lgirdwood commented on #3795
@paulstelian97 sound like you may need something different here, maybe a component that consume data until a kcontrol event signals that it's deteced the keyword.

[2021-02-09 15:24] lgirdwood commented on #3732
@slawblauciak thanks, btw #3828 was failing a CI test. Looks unrelated.

[2021-02-09 16:36] plbossart commented on #1899
See https://gist.github.com/crojewsk/4e6382bfb0dbfaaf60513174211f29cb for Kabylake support.

[2021-02-09 16:42] chrysophylax commented on #1899
Thank you for the workaround!

[2021-02-09 16:44] ranj063 commented on #3823
@bkokoszx how are you reproducing it? I mean can you please share the script we can try at our end?

[2021-02-09 16:47] bkokoszx commented on #3823
@ranj063
I'm using script, which @RDharageswari shared in issue description: https://github.com/thesofproject/sof/issues/3823#issue-802071776

[2021-02-09 17:09] lgirdwood commented on #3818
@giuzan so a buffer only has 1 sink and 1 source but a processing component can have N sinks and N sources (it's upto the component designer). Your pipeline above should have a buffer between ESAI0.IN and ECHO_REF2 but otherwise looks good. Your first pipeline is good if you also connect MUX to ECHO REF (i.e. echo ref has 2 inputs).  Note you will need to tell topology that it's OK for some buffer

[2021-02-09 17:38] lgirdwood commented on #3743
@perexg apologies, I've cant remeber the spam token to update the ALSA wiki. I want to update it to
[code]

[2021-02-09 17:42] perexg commented on #3743
Updated.

[2021-02-09 18:32] cujomalainey commented on #3743
Thanks

[2021-02-09 18:32] #3743 closed

[2021-02-09 18:44] kreaninw commented on #1899
Is it working?

[2021-02-09 18:50] cujomalainey commented on #3732
I will run tests today with those patches

[2021-02-09 22:31] cujomalainey commented on #3823
Unable to repro with this patch https://github.com/thesofproject/linux/commit/248e3df1cafeecc8bc7a5601b986461b541c0c50

[2021-02-09 22:49] cujomalainey commented on #3823
Based on code inspection, seems like 5s in the magic number and likely was causing some race conditions with pcm/close and suspend to D3 which raced against the switch to D0i3

[2021-02-10 01:55] ranj063 commented on #3823
@cujomalainey this patch is necessary but I'd be surprised if this is actually the root cause. Techincally, even if the d0i3_work gets scheduled, it shouldnt do anything because snd_sof_dsp_only_d0i3_compatible_stream_active() would return false.

We're trying to reproduce the issue at our end with this patch. Will update soon

[2021-02-10 02:14] cujomalainey commented on #3347
looks like this is being picked up by some of the codec adapters

[2021-02-10 10:43] lgirdwood commented on #3347
@juimonen can you take a look at this for v1.7 - and make sure all our s24 format string are aligned.
@cujomalainey fwiw, should not be an issue in the new topology 2.0 since everything will be validated at runtime (so all strings should align)

[2021-02-10 12:03] bkokoszx commented on #3823
With updated kernel, we have reproduction with actual https://github.com/thesofproject/sof/tree/tgl-011-drop-stable.

We tried also https://github.com/thesofproject/sof/tree/tgl-011-drop-stable with reverted https://github.com/thesofproject/sof/commit/445d65f89a9b687173fdea4205f5a64cf1ee4bd6 and after 300 iterations we do not have reproduction.

[2021-02-10 18:28] plbossart opened #3836 "[BUG] need to align mixer and mux behavior for pause/stop"
**Describe the bug**

The mixer and mux seem to have different behaviors to deal with cases when one or all of the sources are paused

mixer .trigger
[code]

mux .trigger
[code]

The logic doesn't seem to be the same at all?

Also the mixer always generates zeroes, I don't see the behavior in the mux.

[2021-02-10 18:39] plbossart opened #3837 "[BUG] Smart Amp needs to handle pause/stop like a mixer/mux"
**Describe the bug**

The Smart Amp by construction takes as sources the playback stream and the capture feedback stream.
When pausing or stopping the smart amp, we need to make sure the state of the feedback stream is taken into account. If the feedback is active or paused, the component needs to remain active.

This should be generalized to ALL components that take multiple sources into account.

[2021-02-10 19:05] juimonen commented on #3836
@plbossart isn't the behavior still the same? still this is a merge clash in mixer/mux. I copied the code exactly from mixer -> mux in my recent mux fix (to actually enable more than 1 stream input), but the mixer change pr was not merged (I guess). So the codes used to look exactly the same. Anyway should be unified. And I'm pretty sure mux doesn't produce 0 in pause...

[2021-02-10 19:11] plbossart commented on #3836
@juimonen it's clearly different, in the mixer case the PAUSE trigger is translated as a COMP_STATE_ACTIVE without looking at any other conditions. I have no idea if the operator precedence is correct or if parentheses are placed in the right locations.

[2021-02-10 19:21] juimonen commented on #3836
@plbossart yes if I decipher the logic correctly (I hate these multiple line logic sentences), the mixer is different exactly because it produces 0's and mux doesn't. So in that sense the mux logic should work correctly currently -> if we change it to produce 0 also we'll need to change the logic as in mixer.

[2021-02-10 19:28] plbossart commented on #3714
I filed an issue for the firmware here: https://github.com/thesofproject/sof/issues/3837

[2021-02-10 20:51] plbossart commented on #3836
@juimonen all it takes is to take the APL nocodec topology and replace the mixer by a mux. then start multiple streams and pause/stop them independently in different terminals.

[2021-02-11 05:49] marc-hb commented on #3714
@plbossart is this issue different from #3837 and if yes how?

[2021-02-11 05:51] marc-hb commented on #3719
@ranj063 , @plbossart , @lgirdwood do you agree that recovering after issue #3714 is not possible ever? If never possible then we can close this one.

[2021-02-11 07:36] juimonen commented on #3836
@plbossart yes I was not claiming anything just for fun here... I tested again the mux/demux in hda device.

- mux with current fw -> I can play 2 streams simultaneously, play/stop/pause however I feel -> nothing bails out -> works for me (?)
- demux with current fw -> recording pipe will only record if I play something to playback pipe (gives you this "read error, no data available", so playback

[2021-02-11 15:45] plbossart commented on #3714
#3714 does not suggest any root cause.
I believe #3837 shows a problem that needs to be fixed. I can't tell you if #3837 also fixes this issue. I prefer adding separate issues with clear topics, a blanket 'underflow on machine Blah' bug report doesn't help progress IMHO.

[2021-02-11 15:46] plbossart commented on #3719
Yes, I think we should close this.

[2021-02-11 15:53] plbossart commented on #3836
For playback the triggers are propagated from sources to sinks. I think the main issue is when we have multiple sources, and a trigger coming on a single one of those sources.

I am not clear on how triggers are propagated in the capture case, but what would happen if you pause one sink of a demux and not the others?

[2021-02-11 19:48] dbaluta opened #3842 "[FEATURE] Preloading data to detect codec parameters with codec adapter"
Hi @mrajwa,

I want to add this Feature request in order to put my thoughts in order and to explore some options I have.

With Cadence codecs like mp3 in the initalization phase the codec needs some chunks of data from the input file in order
to figure out the codec parameters (sample rate, bit rate, channels etc).

The flow is mostly similar with what we have in Codec Adapter with this exception:

[2021-02-11 21:06] cujomalainey opened #3843 "[BUG][Cppcheck][EDMA] unused variables"
In imx edma driver there are some variables that are set but never used, this is upsetting cppcheck but they are explicitly labeled in comments. Paul you appear to have added some of these, do you want to suppress these errors or remove these variables?

[2021-02-12 00:10] marc-hb commented on #3714
Thanks for the clarification. So let's hope fixing #3837 fixes this one too but let's keep it open in case it's different.

[2021-02-12 09:10] singalsu commented on #3378
It would not hurt to fix this for 1.x since it's broken. As example when I did for my PR #3841 the example topology that uses various -DxPROCs I could use sof-pipe-eq-iir-volume only for DMIC capture. The topology graph gets messed up if I attempt to use it for headset microphone capture (where it also makes sense).

I'll do a fix to intel-generic-dmic.

[2021-02-12 09:35] singalsu commented on #3378
The problems looks like this:

![image](https://user-images.githubusercontent.com/28754793/107751728-71c73e80-6d26-11eb-9ca0-6b601ab3c18e.png)

[2021-02-12 14:36] dbaluta commented on #3843
@cujomalainey care to share with us the command line you use to run `cppcheck`. Just running `cppcheck` with no arguments results in no error.

[2021-02-12 14:40] dbaluta commented on #3843
Later edit:

[code]

[2021-02-12 17:03] lgirdwood commented on #3378
@singalsu can we do some temporary duplication here (and state this in big comments at the top of each file) - I dont wont to waste any extra effort on stuff that is deprecated. @plbossart @ranj063 any comments ?

[2021-02-12 17:11] lgirdwood commented on #3842
I'm thinking that
1) the compressed ALSA PCM should be able to trigger() and start sending data
2) the pipeline will trigger. The codec adapter would send 0s downstream until data was ready from codec.
3) the codec would keep consuming data (and load it's config) and then send decoded data downstream (i.e. codec adapter can stop sending 0s).

[2021-02-12 17:18] cujomalainey commented on #3843
Looks like you found them

[2021-02-12 17:33] singalsu commented on #3378
@lgirdwood I made the fix PR #3844, it's quite simple. With that included the pipelines that contained hard coded PGA names can be used more generally.

[2021-02-12 17:59] ranj063 commented on #3378
@lgirdwood @singalsu please have a look at https://github.com/ranj063/sof/blob/topic/tplg2/tools/topology2/. I've updated the branch to add the HDA generic topology and it should give you a decent idea of how naming works there. But in general, a volume component in a pipeline will have a unique name defined by the pipeine ID and volume comp index. So there should be no clashes at the top-level.

[2021-02-12 18:35] singalsu commented on #3378
Off-topic for this but thanks for examples! I think there's in 2.0 example some cleanup work that has been done for m4 topologies missing. Though I guess I named the first version of processing pipeline as high-pass capture but later I've started prefer names like pipe-eq-iir-volume-capture where we know exactly what components are instantiated.  Also it's not sensible to duplicate the .conf for e

[2021-02-12 18:39] ranj063 commented on #3378
Thanks for the feedback @singalsu. Agree that the filter-coefficients needs to be included from the top-level. I will change this. Please do take a look at the other classes and let me know if you have any suggestions for improvements.

[2021-02-12 21:14] cujomalainey commented on #3843
also, ignore divide by sizeof(pointer), those are a bug in cppcheck that I have started a topic upstream about. https://sourceforge.net/p/cppcheck/discussion/general/thread/d7881b159c/

[2021-02-15 06:59] juimonen commented on #3378
@ranj063 @singalsu in topology2 we need to be able to give explicit names to the components&controls. So we need to separate class names from instance names. This was one thing making topology1 messy -> for example some component and controls names are "locked" in UCM -> we can't compose component names from pipeline, pcm id's etc. as they might change depending on the topology/platform (or how yo

[2021-02-15 07:20] paulstelian97 commented on #3843
A refactor moved the way the DAI drivers fetch the handshake and I forgot to update edma. I feel like the compiler doesn't actually generate any code for these anyway.

Still, it would be cleaner to just remove them. Thanks for notifying.

[2021-02-17 01:51] #3719 closed

[2021-02-18 02:19] brentlu opened #3852 "[BUG] DSP panic during audio playback"
**Describe the bug**
Playback stops during audio playback. Check kernel log and find there is DSP panic message.

**To Reproduce**
Running audio play for long period of time.

**Reproduction Rate**
2/10 when running 12-hour playback.

**Expected behavior**
Should not happen the DSP panic problem.

**Impact**
Need to reboot the device for audio to work again.

**Environment**
1) Branch name and com

[2021-02-18 02:33] brentlu commented on #3852
Attach the system log.
[messages.log](https://github.com/thesofproject/sof/files/5999840/messages.log)

[2021-02-18 03:42] ranj063 commented on #3852
@brentlu can you please enable SOF dynamic debug logs and give us the dmesg logs again when the issue happens?

[2021-02-18 10:54] slawblauciak commented on #3823
The issue is a confirmed regression caused by one of later fixes: https://github.com/thesofproject/sof/commit/445d65f89a9b687173fdea4205f5a64cf1ee4bd6
The commit has been reverted as it's no longer necessary.

[2021-02-18 11:01] slawblauciak commented on #3732
All the fixes have been merged to https://github.com/thesofproject/sof/commits/tgl-011-drop-stable
They've cleared 2 test runs so far, currently running last, 3rd one.

This issue is caused by multiple erroneous conditions taking place:
- Timer being scheduled in a way that makes it unable to fire a interrupt
- Scheduling error accumulating

Both have been addressed by fixes merged on the branch.

[2021-02-18 11:28] #3843 closed

[2021-02-18 13:47] lgirdwood commented on #3852
@mwasko @slawblauciak @abonislawski fyi - @brentlu can you try master, we had a similar issues on TGL that has been fixed in master. If you cant try master then please checkin with @mwasko to get the correct fixes on your production branch.

[2021-02-18 15:18] plbossart commented on #3852
@lgirdwood @mwasko Just curious on how long those 'drop' releases are supposed to be maintained and is there an expectation that fixes are provided on those branches, instead of asking that mature products such as CML branch off the master?

[2021-02-18 16:43] oleggtitoff opened #3854 "[BUG]"
**Describe the bug**
See the bunch of warnings after building SOF from master upstream:
`[180448660.052083] ( 87622544.000000) c0 sa                          src/lib/agent.c:79   WARN validate(), ll drift detected, delta = 41010
[182488660.000000] (  2040000.000000) c0 sa                          src/lib/agent.c:79   WARN validate(), ll drift detected, delta = 41007
[190708671.250000] (  8220011.0

[2021-02-19 20:28] cujomalainey opened #3856 "[FEATURE] Expand fuzzer into codec_adapter by stubbing libraries"
**Is your feature request related to a problem? Please describe.**
Once oss-fuzz can reach components, it will still not be able to properly fuzz the codec_adapter as it cannot instantiate any of the closed source libs on x86 (let alone actually having the libs in the first place) but it will still be good to fuzz the code

**Describe the solution you'd like**
Keep stubs of the libraries in the os

[2021-02-19 20:29] cujomalainey commented on #3856
Blocked by #3833

[2021-02-20 15:25] stolx opened #3860 "[BUG] Checkpatch reports what appears to be a false error"
**Describe the bug**
Checkpatch spawns an error on switch case statement in the situation when there is intentional fallthrough from case to default, indicated by `COMPILER_FALLTHROUGH` macro, defined in sof/compiler_attributes.h.

Consider following code:
[code]
Checkpatch will report an error:
[code]

**To Reproduce**
Run checkpatch on commit ee4539b

**Reproduction Rate**
All the time

**Expect

[2021-02-22 07:50] brentlu commented on #3852
@ranj063 looks like it only happens to specific devices. we are asking odm to see if they can reproduce the issue and provide sof logs.

[2021-02-22 09:09] mwasko commented on #3852
The integration of PRs to master that address TGL long youtube playback issue is in progress. As a quick check I would suggest to build CML image from [tgl-011-drop-stable](https://github.com/thesofproject/sof/tree/tgl-011-drop-stable) branch.

@plbossart the OTC releases for upstream are build from source that is regularly branched for release from master. That include CML.

[2021-02-22 09:29] brentlu commented on #3852
There is a question from google that, does following PR also necessary for CML? And could it possibly be a fix?

https://github.com/thesofproject/sof/pull/3288

[2021-02-22 15:28] oleggtitoff opened #3864 "[BUG] Corrupted audio - sof-tgl-max98373-rt5682 topology with disabled MAXIM component"
**Describe the bug**
We observe that audio output is corrupted when using SOF built from the master and disabling the MAXIM component in the sof-tgl-max98373-rt5682 topology. Please refer to the [sof-tgl-max98373-rt5682_without_maxim](https://github.com/stolx/sof-custom/tree/sof-tgl-max98373-rt5682_without_maxim) branch.
We are not able to build the MAXIM component, so this version is closest to t

[2021-02-22 16:24] plbossart commented on #3860
it's probably fooled because there's a missing ';' at the end of COMPILER_FALLTHROUGH.

Actually in this case there is no need for a fallthrough at all?

this could be

case 2:
default: res = 2;
		break;

[2021-02-22 16:27] plbossart commented on #3852
@mwasko your team is the owner of those releases and signs them.
And my question remains: for how long will the 'drop-NN' branches be supported and who's in charge here?

[2021-02-23 07:04] keyonjie commented on #3823
Just submitted a fresh PR to address this, it is not the leaving HPRO powered on at WFI lead to the issue, the culprit is that not clearing power gate prevent bit PWRCTL.TCPDSPxPG, per my experiments.

Please see more detail in my PR:
https://github.com/thesofproject/sof/pull/3865

[2021-02-23 07:50] mwasko commented on #3852
'drop-NN' branches are created and maintained during an active development for given target. Once the feature set is complete the support is continued on master branch with all other target platforms.

[2021-02-23 08:45] slawblauciak commented on #3864
@keyonjie please verify the topology

[2021-02-23 08:49] slawblauciak commented on #3854
@oleggtitoff hi, can you please check the releases/tgl/v11.0-hotfix2 tag and test it? Thanks.

[2021-02-23 09:31] keyonjie commented on #3864
@oleggtitoff we didn't use the topology as you do to validate the dummy sample DSM component, e.g.
define(`SMART_TX_CHANNELS', 4)
define(`SMART_RX_CHANNELS', 8)
define(`SMART_FB_CHANNELS', 8)

please refer to https://github.com/thesofproject/sof/pull/3655 about how we validate that.

[2021-02-23 18:36] fxthomas opened #3868 "[BUG][BYT][CHT] Linux 5.11 Cherrytrail/rt5640 emits persistent beeping sound after a short while"
I had this issue while trying to debug https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/530 on an HP Detachable x2 ultrabook, where we're trying to see if the SOF driver is somehow more stable than SST.

This issue happens with raw ALSA (neither Pipewire/Pulseaudio running) as well as with both PW/PA.

The following sequence reproduces the issue 100% of the time:
* Enable SOF with `option

[2021-02-23 20:00] plbossart commented on #3868
Thanks for reporting this @fxthomas

Nothing really comes to my mind as a possible issue and our good friend @jwrdegoede has played quite a bit with SOF on CherryTrail.

Do you have the ability to test with the latest SOF development kernel (branch topic/sof-dev)?

@bardliao anything on the RT5640 that could help explain a sustained 'beeep'?

[2021-02-23 21:51] stolx commented on #3860
@plbossart
I agree that fallthrough in this example is not needed. Even more so, case 2 is not needed, since
[code]
is the effectively the same as
[code]

So I extended the example, added slightly more complicated "logic" to illustrate the error that I got:
[code]
checkpatch on this code will spawn the same error
ERROR: spaces required around that ':' (ctx:VxE)
+       default:

new commit with ex

[2021-02-24 02:38] bardliao commented on #3868
I guess it is something related to clock. @fxthomas Could you check is the "Platform Clock" widget always on the right state? I.e. It should be On in playback and Off after playback. You can cat the  "Platform Clock" node in /sys/kernel/debug/asoc/<card name>/dapm/. @oder-chiou @shumingfan FYI.

[2021-02-24 11:12] lgirdwood commented on #3730
@xiulipan @marc-hb yes this should all be happening now.

[2021-02-24 15:19] oleggtitoff commented on #3854
Hi @slawblauciak, thanks for your advice.

Unfortunately, we are not able to build FW from this tag.
Got this error:

[code]

We build it the same way as in the reproduction steps above, the only difference is to `git checkout tags/releases/tgl/v11.0-hotfix2`.
Do you have any ideas?

[2021-02-24 20:09] fxthomas commented on #3868
Thanks for the quick answers!

The one that's in https://github.com/thesofproject/linux/tree/topic/sof-dev? Never done a custom kernel build before, but the [docs](https://thesofproject.github.io/latest/getting_started/build-guide/build-from-scratch.html) look clear enough. I'm compiling it right now.

It's in `/sys/kernel/debug/asoc/sof-bytcht rt5640/dapm/Platform Clock`. With the same kernel it'

[2021-02-25 01:26] keyonjie commented on #3854
looks the rimage version with the release branch is different, can you try 'git submodule update' in the sof/ folder before building.

[2021-02-25 02:46] shumingfan commented on #3868
@fxthomas Would you please dump the codec registers?
1. dump registers when beep sound happened
2. dump registers when playing with the default SST driver

# dump codec registers
cat /sys/kernel/debug/regmap/i2c-10EC5640:00/registers

BTW, is it possible to measure the MCLK frequency on your side?

[2021-02-25 10:14] oleggtitoff commented on #3854
Hi @keyonjie, @slawblauciak, thanks for your comments.

Added submodule update command after checkout:

[code]

But got the same error. Could you please suggest, what else can we try?

[2021-02-26 00:53] cujomalainey opened #3871 "[FEATURE] Allow topologies to manifest and sanity check component IDs"
**Is your feature request related to a problem? Please describe.**
Speaking with @plbossart he suggested an idea where, with the rise of closed source and a large number of processing components, we could sanity check the topology against the firmware rather than having a cryptic IPC failure when the topology requests a component not in the firmware.

**Describe the solution you'd like**
If we pro

[2021-02-26 11:11] slawblauciak commented on #3814
Addressed by timer margin added in https://github.com/thesofproject/sof/pull/3770 on master branch. Similar change is done on the tgl-011 branch.

[2021-02-26 11:11] #3814 closed

[2021-02-26 11:14] slawblauciak commented on #3732
Issue resolved on tgl-011 branch, waiting for https://github.com/thesofproject/sof/pull/3768 to be merged to master.

[2021-02-26 11:26] slawblauciak commented on #3681
@keyonjie @ranj063 how is the firmware boot failure condition determined? Is it based on a timeout?

[2021-02-26 11:29] slawblauciak commented on #3633
@sathya-nujella is the issue still reproducible on the latest tgl-011-drop-stable branch?

[2021-02-26 11:41] slawblauciak commented on #3673
@RanderWang is the issue still reproducible on the latest master branch?

[2021-02-26 11:47] slawblauciak commented on #3522
Is this issue reproducible still?

[2021-02-26 15:10] lgirdwood commented on #3860
@stolx care to send a fix and remove ```case 2```

[2021-02-26 15:17] #3378 closed

[2021-02-26 15:55] sathya-nujella commented on #3633
Hi @slawblauciak ,

we have taken this PR : inux/pull/2581 to chrome kernel. With this we don't have issue [Issue is not reported in past 3~4 BKC cycles].

If kernel does not have the change, even with latest tgl-011 branch: issue is reproducible if reboot happens with wov stream open.

[2021-02-26 16:21] lgirdwood commented on #3854
@oleggtitoff are you able to clone rimage repo and build ? Something may be out of sync, sub repo may need to be pulled as well.

[2021-02-26 16:47] #3732 closed

[2021-02-27 00:31] marc-hb commented on #3522
Hard to tell as long a `multiple-pause-resume.sh` is still not reliable for other reasons like #3714 or #3837.

`multiple-pause-resume.sh` was barely reproducing this bug in the first place and I haven't seen any other test for it, is there?

[2021-03-01 02:53] keyonjie commented on #3714
@aiChaoSONG can you help to check if it reproduced in I2S smart_amp case?

[2021-03-01 02:53] keyonjie commented on #3714
@slawblauciak can you help to check it?

[2021-03-01 02:55] aiChaoSONG commented on #3714
We have smart_amp enabled in TGL_RVP_NOCODEC, and we didn't see this issue on it. check our daily report ID 2367

[2021-03-01 04:57] keyonjie commented on #3633
yes, @slawblauciak @sathya-nujella the fixes are already merged to mainline kernel, let's close the issue. @sathya-nujella please reopen it if needed.

[2021-03-01 04:57] #3633 closed

[2021-03-01 04:59] keyonjie commented on #3854
@oleggtitoff yes, do something like 'rm rimage -rf' before the 'git submodule update'.

[2021-03-01 05:20] xiulipan opened #3880 "[BUG] Build error with GCC10 in mux.c: missing memmove, memset and memcpy"
**Describe the bug**
After https://github.com/thesofproject/sof/pull/3848 merged, when build SOF with latest GCC10 binary, got below error on all cavs platform
[code]

**To Reproduce**

[code]

**Reproduction Rate**
10/10

**Expected behavior**
Build pass without error

**Impact**
GCC10 docker image could not be used in CI

[2021-03-01 05:21] xiulipan commented on #3880
@fredoh9 @lgirdwood I am not sure if this is GCC compiler issue, SOF code issue or Docker build issue. Will try to reproduce with local GCC compiler.

[2021-03-01 12:18] lgirdwood commented on #3880
@xiulipan it looks like we are assigning a > 32bit variable and hence GCC will try and call the C library.  Quickest way to solve is to define memmove()

[2021-03-01 12:21] lgirdwood commented on #3681
Yes, although the panic code looks like FW has booted.  @keyonjie can we also print the IPC message value (from FW) on a boot failure. This would at least show FW has sent boot complte.

[2021-03-01 13:26] oleggtitoff commented on #3854
Hi guys, thank you very much.
We managed to build firmware from releases/tgl/v11.0-hotfix2 tag. There are no warnings with this version.
But please tell us if you are planning to fix these warnings in the master too?

[2021-03-01 17:10] ranj063 commented on #3681
@slawblauciak boot failure is based on a timeout before which the driver expects the FW_READY IPC.

[2021-03-02 02:00] keyonjie commented on #3854
hi @oleggtitoff I think the master is already aligned with tgl/v11 after the https://github.com/thesofproject/sof/pull/3768 was merged, can you try the latest master?

[2021-03-02 02:28] brentlu commented on #3852
We've got sof and linux log from ODM. I didn't find error messages in sof log but some perf messages.

[10067700957.968750] (721327872.000000) c0 dai          1.4       src/audio/pipeline.c:198   perf comp_copy peak plat 782 cpu 3351
[23412225958.229168] (             nan) c0 dai          1.4       src/audio/pipeline.c:198   perf comp_copy peak plat 782 cpu 3374
[42166762108.177086] (

[2021-03-02 02:30] #3823 closed

[2021-03-02 03:03] keyonjie commented on #3852
@brentlu, as @mwasko mentioned above, we are only monitoring the SOF master + Linux topic/sof-dev recipes on CML now, and no this issue observed by our CI recently.

[2021-03-02 05:59] fredoh9 commented on #3880
After resolving memmove error, now linker complains memset().

[code]

[2021-03-02 06:47] fredoh9 commented on #3880
After resolving memset(), now I'm able to build build_apl_gcc/sof-apl.ri. And I tried with byt cnl icl jsl tgl tgl-h, all are working fine. So looks memmove() and memset() are only problem.

@lgirdwood I made a quick workaround on src/audio/mux/mux.c and src/audio/mux/mux.c, src/platform/intel/cavs/boot_loader.c respectively. I copied the function from gcc library below.
I'm not sure where I shoul

[2021-03-02 09:02] aiChaoSONG commented on #3714
@slawblauciak
- build topology with sof/scripts/build-tools.sh, put it to `/lib/firmware/intel/sof-tplg/`
- build sof with sof/scripts/xtensa-build-all.sh (xcc compilier), and put FW to `/lib/firmware/intel/sof/community/`， put ldc file to `/etc/sof`
- clone sof-test to your device:  `git clone https://github.com/thesofproject/sof-test.git`
- run sof-test/env-check.sh to check requirements,
- inst

[2021-03-03 00:53] NelsonJeppesen opened #3885 "[BUG] LG Gram laptop (2021 Tiger Lake) Internal speaker no sound"
**Describe the bug**
On LG Gram laptop (17z90p) (11th gen tiger lake) there is no output from internal speaker. Headphones and built-in microphone work just fine. As expected, all works in Windows

**To Reproduce**
Play any audio from any source without headphones connected

I checked `alsamixer` and everything is un-mutted with volumed maxed out

**Reproduction Rate**
100%

**Expected behavior**

[2021-03-03 10:22] oleggtitoff commented on #3854
Hi @keyonjie,
I tried the latest master and still can see the bunch of warnings.

[2021-03-03 10:39] oleggtitoff commented on #3864
Hi @keyonjie, thanks a lot! It helped with the upstream master. No issues anymore.

[2021-03-03 10:39] #3864 closed

[2021-03-03 19:55] marc-hb opened #3890 "[BUG] logger "ABI" check ignores configuration and other changes"
While comparing various build outputs I realized "by chance" why using a _source content hash_ for the logger _ABI_ check (#3195)
is flawed. It's quite obvious with hindsight: that's simply because the "source" that git knows about is not the source code that gets compiled. git misses at least: pre-processing, generated config.h, compiler flags and version  and maybe others.

These are the same re

[2021-03-03 22:38] lgirdwood commented on #3880
@fredoh9 you cant copy due to license, can you re-implement both functions and add them. Look at existing memcopy_s for guidance. Thanks

[2021-03-04 07:34] keyonjie commented on #3854
Hi @oleggtitoff thanks for information, looks the WC timer drift is a common issue for cAVS 1.8+ platforms, the reason why you didn't see it with tgl-011 is that SA is disabled there.

[2021-03-04 15:17] paulstelian97 opened #3895 "[BUG] Cannot build HIFI3 optimized PCM converter on i.MX platforms"
**Describe the bug**
I'm trying to build SOF for i.MX8 platforms with Xtensa toolchain. However, I'm getting build errors with the default KConfig.

#3894 is a workaround that permits building to complete without issue. However, it disables an optimization.

**To Reproduce**
Set up internal toolchain. Then run `scripts/xtensa_build_all.sh imx8` (or `imx8m` or `imx8x`, all manifest same issue)

**R

[2021-03-04 16:26] giuzan commented on #3818
Hi @lgirdwood and @dbaluta,

I tried the topology in the picture below. You can find the M4 here https://github.com/giuzan/sof/blob/giuzan_imx-stable-v1.6_loop/tools/topology/sof-imx8-cs42888-demux-loop.m4.

I implemented a custom component (_test loop_) that takes as sources the demux output (BUF2.2) and the DAI input (BUF2.1). My wish is that this component would couple the two 2-channels input

[2021-03-04 17:18] iuliana-prodan commented on #3818
Hi @giuzan,

I intend to look on the loopback, also. So, please, let me give it a try and I'll come back to you.

First thing to notice on your topology is that you should have two `registrable` tasks since you have ESAI input and ESAI output.
The SCHEDULE_TIME_DOMAIN_DMA was written with the assumption that there is only one `registrable` task.

Also, after how many iterations do you get the ipc

[2021-03-05 10:49] giuzan commented on #3818
Hi @iuliana-prodan,

Thanks for your feedback.

I get the ipc at the first iteration.

Ok, let me know after your try. In the middle, I'll try to apply the commit you linked and repeat the test.

[2021-03-05 10:53] iuliana-prodan commented on #3818
Great, this will be much easier to reproduce :)

[2021-03-05 12:10] lgirdwood commented on #3818
@giuzan the IPC timout looks like a hang somewhere ?

[2021-03-05 14:12] lgirdwood commented on #3852
@brentlu can they try v1.7-rc2 (it has known bugs - which are being fixed for v1.7).

[2021-03-05 14:15] lgirdwood commented on #3681
@aiChaoSONG we have had a lot of clocking improvements and fixed recently - have you tried latest master ?

[2021-03-05 15:44] giuzan commented on #3818
@lgirdwood On DSP side is difficult to evaluate that, because the sof-logger crashes after the error. I cannot see the log prints before, since I guess that they are not yet flushed.

[2021-03-05 15:57] dbaluta commented on #3818
@giuzan are you using 5.10 kernel. We have better infrastructure for debugging. It looks like firmware is crashing somewhere.

[2021-03-05 16:19] giuzan commented on #3818
@dbaluta Yes, I guess that the timeout could be due to the firmware crash, that makes impossibile handle the IPC request.
About kernel, i'm using  imx_5.4.47-2.2.0 (https://source.codeaurora.org/external/imx/linux-imx/log/?h=imx_5.4.47_2.2.0). Do you think should I move to 5.10? The latest linux-imx BSP release isn't it imx_5.4.70_2.3.0?

[2021-03-05 17:24] giuzan commented on #3818
@iuliana-prodan I tried the [fix](https://github.com/thesofproject/sof/pull/3867/commits/bfaff516a04142ffad53bb12048edab03e5a71ec) but unfortunately I have the same issue.

[2021-03-05 17:29] marc-hb commented on #3854
@keyonjie could this issue explain the very recent `25_02_TestGenericProcessorCompMultiCorePlb48000Hz32b32b4ch` failure in https://sof-ci.01.org/sof-pr-viewer/#/build/PR3896/build6134676?
It's `dma_trace.log` shows hundreds of `WARN validate(), ll drift detected, delta = 25605`

The more visible error is: `SNR value is smaller than acceptable value (80.00) on channel 0: 16.12 , 16.43, 14.99, 13.15

[2021-03-05 17:40] marc-hb commented on #3854
Same failure in https://sof-ci.01.org/sof-pr-viewer/#/build/PR3891/build6130418 but on TGL this time:

[code]

The `dma_trace.log` has "only" tens of
[code]

[2021-03-05 19:41] marc-hb commented on #3854
PR #2686 downgraded this error to a warning, because of "non-critical" drifts (~ "soft" real-time?). However I don't see anything about "critical" drifts in #2686

Should it be upgraded to an error again when the drift is too large or when there are too many in a row or both?

https://github.com/thesofproject/sof/issues?q=%22ll+detected+drift%2C+delta%22+
returns 28 issues which seems a lot, howev

[2021-03-08 02:43] aiChaoSONG commented on #3681
@lgirdwood Thanks, this issue is not see in daily test for quite a few weeks, I will observe on more week before close.

[2021-03-08 05:46] keyonjie commented on #3854
Hi all, looks the drift comes from re-requesting HPRO during exiting from WFI, @oleggtitoff can you try if https://github.com/thesofproject/sof/pull/3762 can fix the issue at your end?

@marc-hb I am not sure if the drift can lead to bad SNR or other errors, but at least it raise flag of abnormal issues happened, so at least a warning here is legit to me. BTW, PR #3762 should fix the drift issue s

[2021-03-08 07:41] mwasko commented on #3854
To avoid any regression the #3762 should be taken alongside with the #3865 (merged to master).

[2021-03-08 13:17] lgirdwood commented on #3854
@keyonjie both merged now, can we close ?

[2021-03-08 13:28] lgirdwood commented on #3818
@giuzan any idea why logger is crashing ? It may be best to fix this first as there may be some meaningful trace item that is key to solving this (e.g. the trace item may be malformed as a result of the hang or crash).
FW may be looping due to a topology loop, or may be spinning on a lock somewhere. It seems to be topology related sine you are the only person reporting this.

[2021-03-08 16:36] giuzan commented on #3818
@lgirdwood Ok thanks. At the moment I can't understand why it crashes. I will investigate on it. Anyway, do you confirm that the loopback I'm trying to arrange is, in theory, possibile?

[2021-03-08 16:46] lgirdwood commented on #3818
Yes, it may be a misconfiguration though as demux is used on production devices by Intel. It may be even worth running the pipeline copy() once and then checking the debug/trace for any obvious issues.

[2021-03-08 16:56] lgirdwood commented on #3856
@cujomalainey should be unblocked now.

[2021-03-08 17:00] lgirdwood commented on #3871
IIRC, the UUIDs for each components are built into an ELF section today. Rimage currently parses all the ELF sections so we could add a command line flag to rimage and tell it to dump UUIDs (including from pre-built images).
Note: this could also be done in a python tool if better, we do have the manifest tool and it may be simpler to add the UUID dump here.

[2021-03-08 17:20] iuliana-prodan commented on #3818
@giuzan I've checked both topologies and I believe they have some issues.
I still don't understand very well the topologies, especially the demux one, so I couldn't find the exact problem.

For both topologies, I see that the soundcards available are:
_sof-imx8-cs42888-demux-loop.tplg_
[code]
_sof-testloop-imx8qm-cs42888.tplg_
[code]
If you want to capture on -D hw:1,1 I believe you should have an

[2021-03-08 17:31] iuliana-prodan commented on #3818
One more thing for the sof-logger.
I'm also debugging an `ipc timed out` issue. I get something like this:
[code]
While running my test, I have the sof-logger started:
[code]
When the `ipc timed out` error occurs I see the above failure in the sof-logger.
But, next, if I check again the trace, I have the rest of it:
[code]
You can check the timestamp.

[2021-03-08 19:25] cujomalainey commented on #3856
ack thanks, will work on this when i get a moment

[2021-03-08 23:51] marc-hb commented on #3880
Interesting, when compiling with gcc8 -O3 I noticed this:

[code]

[2021-03-09 05:36] RanderWang commented on #3673
@slawblauciak  very sorry, so late.  I tested FW in today CI build. The XRUN error in FW appears after a few cycles of test instead of occurring immediately.

[2021-03-09 08:37] slawblauciak commented on #3890
This issue most likely doesn't cause any functional problems.
However, it's to be checked if the CI logger issues are not caused by this.
@marc-hb can you check?

[2021-03-09 08:40] paulstelian97 commented on #3895
@slawblauciak I posted this as a bug after an internal discussion with @dbaluta. I have submitted the workaround (it is merged in fact) and mentioned pull request there.

Who wrote the actual HIFI3 optimized code?

[2021-03-09 08:43] dbaluta commented on #3895
Our config is for HIFI4 maybe it is normal that HIFI3 shouldn't be supported?

[2021-03-09 08:59] marc-hb commented on #3890
I don't remember using the logger before it had a "ABI check" but I assume using a wrong .ldc file was pretty bad otherwise no one would have spent so much effort implementing this ABI check in the first place. @ktrzcinx , others? Wrong log messages, logger crashes, others?

Now it can be:
- worse because the faulty ABI check will give a false sense of security and could distract the developer awa

[2021-03-09 11:03] giuzan commented on #3818
Hi @iuliana-prodan, thanks!

About:

The hw:1,1 device is present but, being a capture device, is made visible by `arecord -l` command:
[code]

About your try, ok you have the same result of mine (with the first topology you playback and never capture, with the second you never playback and capture). Anyway, you didn't experience an ipc timeout error, but a generic ipc error. The difference could

[2021-03-09 12:58] fredoh9 commented on #3880
GCC8 also have same problem? I didn't notice. Let me try with GCC8 local setup.

[2021-03-09 13:40] jwrdegoede commented on #3868
I've been testing SOF + BYT/CHT with pipewire instead of pulseaudio as audioserver this weekend and I did notice some instabilities where sound stopped playing (no beep though) until I stopped all audio-playback for a while and then tried again.

There were also some issues with pipewire not properly executing the UCM enable-seq for capture, so the capture pipeline was not working while the gnome-

[2021-03-09 15:13] lgirdwood commented on #3818
@giuzan @iuliana-prodan looks like the pipeline state is inconsistent i.e. a component has an unexpected state at TRIGGER_START.
[code]
Stream IPC messages are notifications, this means they can be async to the pipeline copy(), could they be trashing the mailbox data ??
[code]
Also it may be worth dumping the mailbox contents and taking a look for any obvious problems.

[2021-03-09 15:14] marc-hb commented on #3880
only when you manually hardcode -O3 in CMake

[2021-03-09 15:15] lgirdwood commented on #3880
Not worth wasting time with GCC -O3 (xtensa optimisation bugs)

[2021-03-09 15:17] lgirdwood commented on #3895
@singalsu can you comment on the HiFi support

[2021-03-09 15:25] lgirdwood commented on #3868
Yes this will have impact on FW buffers and processing headroom. 24bit is on the CI test list for CHT, but it's likely not stressed like 16bit is (sinec it's the primary use case on the older HW). The CHT multi format test is here.

https://sof-ci.01.org/sofpr/PR3911/build8276/devicetest/?model=BYT_MB_NOCODEC&testcase=check-playback-all-formats

[2021-03-09 15:44] jwrdegoede commented on #3868
Ok, so that is what I expected, in that case it seems to me that it would be better if pipewire where to just use 16 bit formats on these device ?  Also note that the SOF driver is even advertising 32 bit formats (S32_LE) I would not be surprised if pipewire actually picks that one.

If you agree that pipewire just using 16bit formats would be better, then the question becomes how we achieve this.

[2021-03-09 16:18] oleggtitoff commented on #3854
Hi everybody, the issue is fixed. Thank you very much!

[2021-03-09 22:11] fxthomas commented on #3868
Yes, I used `-D sysdefault:CARD=bytcrrt5640` in SST (and the equivalent for SOF), and also made sure pipewire/pulse were not running (systemd sockets/services stopped and no processes running).

In the linked [pipewire issue comment](https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/530#note_791736) I noted the `aplay` command-lines I used for testing with the SST driver, and these include

[2021-03-09 22:24] plbossart commented on #3868
@fxthomas there is a kernel parameter to select SOF, by default SST is the default.

copy this to any file in /etc/modprobe.d/

options snd-intel-dspcfg dsp_driver=3

[2021-03-09 22:26] plbossart commented on #3868
alternatively there's also a build config
CONFIG_SND_INTEL_BYT_PREFER_SOF

but I am not sure if it's in our development version just yet.

[2021-03-09 22:45] fxthomas commented on #3868
That's the one I used, it worked on the official 5.11 kernel but not on the SOF branch when I tried. I'm rebuilding `master` right now from scratch, let's see if I can make that work better.

Looks like it's there in https://github.com/thesofproject/linux/commit/3620c5394b8b. If I can't make it work with the module option I'll try this one next.

[2021-03-10 08:03] ShriramShastry opened #3915 "[Bug] Q_CONVERT_FLOAT does not include ppm error"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**In the moment, macro Q_CONVERT_FLOAT does not  return accurate  #define value for given input of float and power .**

For Example :  Q_CONVERT_FLOAT(1.999999998137354850769043f, 29) return value 1073741824 but
round(1.9999999981373548507

[2021-03-10 09:10] lancedkhou opened #3916 "[CML][Chromebook][coreboot] I2S square wave frequency is not 400Hz"
There is a chromebook device without smart AMP design using DSP to generate I2S square wave for chromebook developer mode boot beep.

What's the issue we met:
    The I2S square wave frequency generated by DSP was not 400 as requested. It's 800Hz.

What' the expectation:
    400Hz I2S square wave.

Reference codes:

1. chromebook coreboot request 400: https://chromium.googlesource.com/chromiumos/p

[2021-03-10 22:44] cujomalainey commented on #3915
option 4, use off target preprocessed high precision values that are manually determined and copied into code while floats are kept nearby for reference. This only works currently because this macro is exclusively used with constants currently

[2021-03-11 00:01] fxthomas commented on #3868
I finally got some success!

Some observations first:
* I upgraded to [v5.11.4-arch1](https://git.archlinux.org/linux.git/commit/?h=v5.11.4-arch1&id=8e6b8c74afe7b3b939143284eb1e820eefe90893) which still beeps after a couple of minutes, but no longer persistently: the beep stops after a couple of seconds (hey, that's an improvement!). I used that as a basis for the test below.
* I was able to compi

[2021-03-11 00:59] plbossart commented on #3868
persistently: the beep stops after a couple of seconds (hey, that's an improvement!). I used that as a basis for the test below.

that's still with the SST driver, yes?

Good.
You should see the same result with v5.11.4, there are no significant differences for Baytrail/Cherrytrail.

yes, that's normal. there are two drivers registering for the same ACPI ID, so both will be loaded but only one sel

[2021-03-11 07:46] marc-hb commented on #3880
There's no optimization bug with 8.1, it is rather almost as you said:

The source location is wrong but the rest of the error message makes sense and the behavior is documented. By trial and error I isolated the missing `memset` issue to `bbzero()` (maybe -g3 + disassembly would have been faster?). This one character patch is enough to fix the `memset` error with both gcc8.1 -O3 and gcc9.2 -O3:
[

[2021-03-11 07:48] fxthomas commented on #3868
On Thu, Mar 11, 2021, 01:59 Pierre-Louis Bossart ***@***.***>
wrote:

Thanks, that's good to know!

Ah that wasn't clear, sorry. The beeping issue is with SOF.

With SST both kernels play sound fine in S16LE only. Other formats being
advertised in a broken state is a separate issue that's being worked around
in the kernel if I understand correctly.

With SOF all formats seem to play correctly, but

[2021-03-11 08:02] marc-hb commented on #3880
BTW `boot_loader.c` includes (directly or indirectly) `src/arch/xtensa/include/arch/string.h` which has a `static inline int arch_memset_s()` function that expects a missing `memset()`. However that is not the root-cause (at least not this time...) because `boot_loader.c` does not use `arch_memset_s()` so it gets optimized away.

I did not look for other `arch_memset_s()` users and where they get

[2021-03-11 14:55] singalsu opened #3923 "[BUG] Non-48 kHz rate playback via SRC pipeline into hda-generic headset wrong pitch and wrong length"
**Describe the bug**
Playback at 48 kHz rate sounds correct and playback time is as expected, e.g. 10s length clip takes 10s time to play. If 32 kHz rate clip is played it takes about 48/32 amount of time, 10s takes 15s. The pitch is lower.

The source and sink buffer parameters show e.g. correct 32 and 48 kHz in params(), prepare() and copy(). SRC seems to get correct configuration. The amount fr

[2021-03-11 15:14] plbossart commented on #3868
thanks @fxthomas
I must admit not having any clues on what might cause this beep issue with the SOF driver in v5.11, or what we did recently that could explain that it's no longer beeping.

In this kind of cases, I would try to bisect to try to find more leads.

a) start with commit 3620c5394b8b234ca77e562758127a6bb9e64720 ('ASoC: SOF: remove superfluous NULL check in debugfs read'). That's the la

[2021-03-11 18:30] fredoh9 commented on #3880
@marc-hb if I changed "d[i] = 1;" boot_loader memset error is gone. interesting experimental.
Do you have any suggestion on my PR?

[2021-03-11 18:34] singalsu commented on #3915
Hey, have you tried `Q_CONVERT_FLOAT(1.999999998137354850769043d, 29)` ?

[2021-03-11 18:41] singalsu commented on #3915
Looks like all but val1 are correct:

[code]

Gives

[code]

[2021-03-11 21:07] marc-hb commented on #3880
Initial commit c0dfb4e62ab6 added `memset` and `memcpy` in src/lib/lib.c

cc: @cujomalainey of clang "fame" (fd398c9d5ee3, 149addaef653, ...)

[2021-03-11 21:39] fxthomas commented on #3868
Got it, thanks for the pointers to the relevant commits and all the help anyway, I already have a much better view of how I troubleshoot this — and learned tons about the Linux audio stack along the way! I'll let you know when I get results from the bisect.

[2021-03-11 22:14] plbossart commented on #3868
btw I was trying on a Cherrytrail+rt5640  (headset only, no speakers) and I didn't hear anything bad with topic/sof-dev either.
I only test with -Dhw:0,0 since that's the main path and there are known issues with the mixer in the firmware.

[2021-03-11 22:35] lgirdwood commented on #3880
@fredoh9 can you apply this test, then rebuild after a build clean. I've altered the CT-ng C library config for GCC10 so we can now take the code from the C library. You may need to rename the other funcs too (and build clean)
[code]

[2021-03-11 23:48] cujomalainey commented on #3880
@marc-hb thanks for the FYI, once we have a solution here I will test it against the fuzzer build to see if we will break that

[2021-03-11 23:49] cujomalainey commented on #3880
Sorry, wrong keyboard shortcut

[2021-03-12 05:39] ShriramShastry commented on #3915
I tried on my debugger - this is resulting `**term does not evaluate to function taking 374 argument**`
d in expression is not evaluated and I get error
So not sure double works

[2021-03-12 05:42] ShriramShastry commented on #3915
Thanks a lot, i did few more experiment with different number and tried to look inside decimal conversion

[code]

[2021-03-12 08:07] paulstelian97 commented on #3915
In C, float literals are done with an "f" at the end and double has no suffix (literals are double precision by default if there is a "." in them). Is the delta too small to be covered in single precision floating point? That would explain val1.

[2021-03-12 08:54] singalsu commented on #3915
Thanks for explanation @paulstelian97 . I can't think of any need to use float literals when converting to fractions.

The default double precision literals (e.g. 0.51) seem to avoid with 32 bit fraction length the rounding error. The small error would likely happen with 64 bit fractions. But the error is really here time and here with 32 bit float it was about 1/1000 of PPM.

[2021-03-12 09:14] singalsu commented on #3915
I found this for C++ apparently https://en.cppreference.com/w/cpp/language/floating_literal

"L" seems to be long double, though I'm not sure it's guaranteed to be more accurate than a double literal.

What's interesting is that C++-17 defines hex fractions, pretty much what this reported macro is about.

[2021-03-12 09:27] paulstelian97 commented on #3915
To be clear, when converting from floating point to fixed point 32-bit, one ulp of the single precision translates to 256 of the signed int (or 128 or something). You need double precision if you want to cover differences of 1 in the fixed point format.

Long double is wider than double on x86_32 at least (where it's 80 bits, padded to 128). On other architectures it can be equivalent to double (I

[2021-03-12 09:31] paulstelian97 commented on #3915
To add to this. 2 - one ulp of the single precision gives 1.99999988079. Only 6 nines after the decimal point. The literal in the example has 8 of them, which means that the floating point number itself is correctly rounded up to 2.0f even before the conversion proper starts. So the bug isn't in Q_CONVERT_FLOAT but in the fact that the single precision floating point literal is actually exactly eq