[2018-10-10 06:49] #377 closed

[2018-10-10 06:51] xiulipan commented on #378
@keqiaozhang
If GLK branch switch to use logger?

[2018-10-10 06:56] mengdonglin commented on #225
@ZhendanYang could you check if this issue is still there with new logger?

[2018-10-10 06:59] keqiaozhang commented on #378
@xiulipan
GLK branch is still using rmbox, but this branch is freeze for release.  The next firmware release for GLK will be branch form master.

[2018-10-10 07:08] mengdonglin commented on #328
Okay, I closed it. Sorry for the late reply.

[2018-10-10 07:08] #328 closed

[2018-10-10 07:08] xiulipan opened #477 "Error trace shows nothing in memory window"
Now trace_error will show nothing in memory window. Either rmbox or logger will show nothing in error trace. Even cat the debugfs will show empty.

Error trace may be broken with new logging

[2018-10-10 07:16] mengdonglin commented on #286
@xiulipan Do you need firmware engineer to provide a formation solution for this issue?

[2018-10-10 07:32] mengdonglin commented on #180
@ZhendanYang I think we can overlook FW oops on CNL and file a new issue if WHL also has the problem.

And could you close this one and file a new bug for hw_params() failure on BYT?

[2018-10-10 07:42] ZhendanYang commented on #225
@mengdonglin BYT is in bad health at the moment. I can't check this issue for now. I'll check this issue as soon as BYT become healthy.

[2018-10-10 07:45] ZhendanYang commented on #180
@mengdonglin BYT is in bad health at this moment and I can't reproduce hw_param() failure or collect error log.

[2018-10-10 07:47] mengdonglin commented on #473
@keqiaozhang Could you try to reproduce this issue?

[2018-10-10 07:51] jajanusz commented on #280
It just doesn't break CI because buffer tests are disabled, so issue cannot be closed - need to fix buffer tests for simulator. I'll look into this

[2018-10-10 07:56] keqiaozhang commented on #473
@mengdonglin
We can reproduce this issue with logger. Even IPC error, there's still nothing in memory window.
Only when firmware panic, logger will shows some trace log.

[2018-10-10 13:35] keqiaozhang opened #479 "DMIC channels swapping LSB sequence is wrong"
When doing the 4ch DMIC capture,  the LSB bits of 32 bit PCM samples should have this side information:
![lsb](https://user-images.githubusercontent.com/22468760/46739346-ea3f1000-ccd2-11e8-9f40-76d861332a5c.png)
The LSB bits (0:1) will count 0, 1, 2, 3, 0, 1, 2, 3, … from beginning to end of capture.
But check the captured raw data in binary form, the samples would be from channel 0, and only som

[2018-10-10 17:20] cujomalainey commented on #401
Yea I'm unable to reproduce on my system and I'm working off the same location as in #473 (so 4.18 kernel, not the 4.14) I'll check this again on 4.14 once we get V0.5.

[2018-10-10 20:29] cujomalainey commented on #473
With respect to my second comment, I no longer am seeing tracing fail just from my own code with the code I pulled in from last night, but if its a memory corruption issue it could have been the memory map readjusting. The TRACEV bug is still reproducible.

[2018-10-11 09:27] akloniex commented on #473
@cujomalainey  @mengdonglin  @keqiaozhang
Enabling TRACEV and rebuilding FW causes .ldc file to regenerate. Please make sure that it's the dictionary file that you feed logger with, through -l paramter.

Also make sure that input file is correctly specified.
With no additional parameters, logger defaults to /sys/kernel/debug/sof/etrace,
with -p logger reads from stdin, (e.g. piping from other proc

[2018-10-11 14:13] dabekjakub commented on #344
@keqiaozhang

Problem couldn't be reproduced on
FW branch master: 7996f1ac10b8a8c14c87a3752d3e0dbe94d09709

Please confirm if it is still occurring and the length of playback needed for this bug to occur.

[2018-10-11 14:16] keqiaozhang commented on #473
@akloniex @mengdonglin
Confirmed that logger works well with -t parameter.
Command: sudo logger -l sof-apl.ldc  -t

[2018-10-11 14:41] keqiaozhang commented on #344
Thanks @dabekjakub .
The possibility of this issue is low and also need long time playback, I will try to reproduce it tomorrow.

[2018-10-11 15:02] cujomalainey commented on #473
@akloniex I am using the new ldc on tracev enabling and I forgot to mention all of these trace failures are with the -t parameter

[2018-10-12 05:42] keqiaozhang commented on #401
I still can reproduce this issue with kernel 4.14 +sof-master.
1. ChromeOS:R71-11041
2. sof-master: cc3fb1e4b3a
3. kernel-cros-sof-v4.14-rebase: 274bfc60
4. soft-master: 7f47792

[2018-10-12 08:53] singalsu commented on #327
As update the fix is under construction in SOFT PR #90.

[2018-10-12 08:54] singalsu commented on #329
As update the fix is under construction in SOFT PR #90.

[2018-10-12 10:34] singalsu commented on #479
I'm going to check first that the gain ramp that the driver does is not impacting this.

[2018-10-12 11:13] singalsu commented on #479
The channel info bits are FIFO packer feature so any DMIC configuration cannot overwrite the bits, good. I did a test here:

[code]

[2018-10-12 15:15] singalsu opened #487 "Successive 46 times 4ch DMIC captures crashes firmware"
A loop of "arecord -Dhw:0,6 -c 4 -f S32_LE -r 48000 -t raw -d 1 capture.raw" done 46 times causes a crash.

The actual number of loops may vary depending on platform, topology, etc. but that's what I see currently in UP2 board (APL). I'll assign this to myself and provide more information to repeat this if I need help.

Need to check if this happens also with 2ch.

[2018-10-12 17:35] cujomalainey commented on #487
Also witnessed a crash of the DSP via arecord on the V0.5 drop using 2ch on glk

[2018-10-12 18:28] cujomalainey commented on #487
Excerpt of initial crash
[code]

[2018-10-12 19:33] cujomalainey opened #489 "Arecord tampering causes DSP crashes"
I am able to cause the DSP to crash pretty easily with a simple script.
`while arecord -D hw:0,99 -f S32_LE -d 1; do :; done`

Then by tampering with loop by using C-z (to suspend) or C-c (to interrupt) you can crash the dsp pretty easily.

Example of DSP panic by interrupting loop
[code]

Another run where I suspend then resume arecord

[code]
the kernel output

[code]

These results are all from

[2018-10-12 19:53] cujomalainey commented on #401
Confirmed still present on V0.5 with rmbox on glk

[2018-10-12 20:46] ranj063 commented on #489
@singalsu is this related to the crash that you are seeing after 46 iterations of dmic capture ?

[2018-10-15 00:28] xiulipan commented on #487
@singalsu @cujomalainey

This panic happens on

[code]

1. work_schedule has some error.
The `validate` work is a bit late and make agent timeout.
2. DSP is to busy and always in IRQ
Can not enter the idle status.

[2018-10-15 00:28] xiulipan commented on #489
@cujomalainey
Seems duplicate to https://github.com/thesofproject/sof/issues/489
And like some DMIC issues

[2018-10-15 01:36] cujomalainey commented on #489
@xiulipan you linked to this issue, do you mean #487? I think thats very possible

[2018-10-15 02:35] xiulipan commented on #489
@cujomalainey
Yes, #487.
I think this panic will only happen with DMIC record.
And it is a software panic report by sa_agent.

[2018-10-15 02:49] ZhendanYang commented on #443
Another Exception Cause on UP2:

[    6.132460] sof-audio sof-audio: ipc tx: 0x80010000
[    6.132735] sof-audio sof-audio: error : DSP panic!
[    6.132742] sof-audio sof-audio: panic: dsp_oops_offset 788480 offset 788480
[    6.132745] sof-audio sof-audio: status: fw entered - code 00000005
[    6.132766] sof-audio sof-audio: error: runtime exception
[    6.132769] sof-audio sof-audio: error: tr

[2018-10-15 09:04] singalsu commented on #487
The crash does not happen if there's a "sleep 2" between captures. The suspend-resume cycle likely clears the issue in FW.

I tried to disable the gain ramp code that I suspected but it didn't prevent the crash. I also read trough the alloc & free code in dmic.c  but I could not spot any hazards.

[2018-10-15 14:10] keqiaozhang commented on #473
I re-tested it with top sof-master and enabled tracev, logger works well with -t parameter.
Here are my test steps:
1. Enable tracev(trace.h):
-#define TRACEV 0
+#define TRACEV 1
2. make sof and copy the new sof-apl.ldc and sof-apl.ri to Yorp
3. make soft and copy the new topology and logger to Yorp
3. reboot Yorp
4. run audio playback: aplay -Dhw:0,5 audio.wav
5. sudo logger -l sof-apl.ldc -t
BTW

[2018-10-15 14:32] keqiaozhang commented on #479
@singalsu
For the topology, I used default sof-apl-nocodec.tplg, not sof-apl-pcm512.tplg, just a typo.
Since there's one DSP panic issue(sof/issues/443) in sof-master. So I used sof-stable-1.2 branch for test.
So please help to provide branch/commit you used for test, I can re-test this issue with your test configure by tomorrow.

[2018-10-15 14:37] singalsu commented on #487
The errors trace looks like this after the crash has happened:
`
 CORE  LEVEL  COMP_ID        TIMESTAMP            DELTA                FILE_NAME	CONTENT
    0      2      IPC  46518382.604167  46518384.000000            apl-ipc.c:111 	Cmd
    0      2      IPC  46518386.718750         4.114583            handler.c:395 	tri
    0      2     PIPE  46518389.843750         3.125000           pipeline

[2018-10-15 16:48] singalsu commented on #479
I'll make tomorrow two PRs to help testing this (the topology that I emailed to you plus a pass-trough setting for EQ, the sof-apl-eq-dmic topology that is also suitable for this is merged now).

[2018-10-15 16:54] singalsu commented on #479
I've here completed test of 1000x 1s long captures with no channel swap faults observed.

[2018-10-16 07:38] akloniex commented on #477
PR addessing this issue was merged. Please verify and update this issue accordingly,

[2018-10-16 08:54] lgirdwood commented on #487
@mmaka1 , @tlauda any ideas on why 2 second delay helps here, it seems there is something on the DMIC shutdown path. Maybe some relationshipship between DMAC and DMIC ?

[2018-10-16 09:15] RanderWang commented on #433
@lgirdwood

Update status:
Janusz tested the FW on windows with loop-back mode,  found some noise in capture data.
I tested it on Linux, only zero data is gotten in FW and HOST.  I checked the output of codec
with an analyzer, the data is sent by codec to DSP. So I think it is very possible that Host
driver sets some HDA register wrongly

[2018-10-16 14:57] lgirdwood commented on #286
@xiulipan we could define a PLATFORM_  min limit for this value (and round up anything smaller that this).

[2018-10-16 15:08] lgirdwood commented on #225
@ZhendanYang I cant find "el2" in the source. Can you re-test with master.

[2018-10-16 15:14] lgirdwood commented on #401
@mengdonglin who's looking at this ? The only thing I can think of is that speaker test uses short wav files and maybe there is a race in FW shutdown path when trace is running...

[2018-10-16 15:17] lgirdwood commented on #489
@singalsu  Looks like another vector that may help you identifying root cause. @ZhendanYang can you try this test with SSP only to confirm it's DMIC issue.

[2018-10-16 15:20] lgirdwood commented on #473
@keqiaozhang I applied some logger updates yesterday so could this be closed now ?

[2018-10-16 15:27] lgirdwood commented on #433
@RanderWang ok to confirm

1) Codec sends PCM data to host on HDA bus validated by logic analyser.
2) Host only reads back PCM data as 0s.

So can you check

3) FW link DMA buffer contents, just add some trace to dump first samples in period on every 10th copy. This will show if FW is reading back 0s or not.

4) If FW reads 0s, please check pinmux settings for HDA Rx pin.

@mmaka1 any ideas at you

[2018-10-16 19:29] cujomalainey commented on #473
I will test again either today or tomorrow and close if it passes

[2018-10-16 19:40] cujomalainey commented on #489
@lgirdwood I don't thinks is DMIC specific, I was able to produce something similar by running a similar script and tampering with it but instead using speaker-test. Here is the DSP crash from that.

[code]

[2018-10-16 20:41] cujomalainey commented on #473
I was unable to verify as logging appears to be broken on master and sof-dev for me

[code]
I updated the kernel, firmware, logger tool, and ldc file

[2018-10-17 01:42] keqiaozhang commented on #401
@lgirdwood
I also reproduced this issue with aplay(long wav file). Keyon will look at this issue.

[2018-10-17 06:58] xiulipan commented on #286
@lgirdwood
We may need to tune this value.

Or just make fix this limitation by schedule the work to future if it missed schedule.

[2018-10-17 08:01] RanderWang commented on #433
I confirm 1 & 2. I also dump data in FW, all zero.

[2018-10-17 08:46] ZhendanYang commented on #225
Blocked by #443 . And rmbox and logger are both empty.

[2018-10-17 08:51] ZhendanYang commented on #477
On up2 with nocodec, rmbox and logger are still empty, while rmbox -t and logger -t are not.

[2018-10-17 08:58] RanderWang commented on #433
@lgirdwood

      I also tried legacy HDA, both playback & capture work.  So I think pin setting is correct

[2018-10-17 09:01] RanderWang commented on #433
I also  checked PPLC registers with Janusz, all are correct. Now I ask Janusz for help to dump other registers on Windows.

[2018-10-17 09:43] mengdonglin commented on #443
@keqiaozhang Could you share more analysis info why this is a kernel driver issue?

[2018-10-17 10:01] tlauda commented on #487
@xiulipan @lgirdwood Work queue is on lower interrupt level than DMA (2 < 5). Agent doesn't take any additional threshold between the expected value and current idle difference, so I would expect there could be potential mismatch during data transfer.

[2018-10-17 10:37] lgirdwood commented on #489
@cujomalainey ok, must be something in the pipeline or DMA related.
@ZhendanYang can you try modifying the script and use speaker-test and check this applies to both HDA and SSP endpoints. This will tell us if it's pipeline or DMA specific (since both use different DMA)

[2018-10-17 10:51] lgirdwood commented on #473
@cujomalainey oh, I think @ranj063 or someone else mentioned this yesterday. @ranj063 anything missing from the kernel ?

[2018-10-17 12:03] lgirdwood commented on #487
Hmm, SA should be scheduling work at highest level. i.e. 5 - Let me check this. Fwiw SA function  should be rolled into scheduler logic in the future.

[2018-10-17 13:43] keyonjie commented on #401
I will take look at it after logger/rmbox no output issue fixed.

[2018-10-17 17:45] cujomalainey commented on #477
Still seeing empty logs as well on glk

[2018-10-17 18:37] cujomalainey commented on #477
@akloniex why are there two logger binaries? Which one am I supposed to be using? We should delete the other one otherwise this is confusing.

[2018-10-17 21:50] michalgrodzicki commented on #327
@singalsu PR #90 is closed, what is a status of this issue?

[2018-10-18 07:49] singalsu commented on #327
@michalgrodzicki @lgirdwood @juimonen No, SOFT PR #90 is not. I feel it could be useful for merge if #92 that has a wider scope takes still time to develop. Though #90 seems to need an update. What is your recommendation. This has been open for a long time with first simple fix #90 on hold.

[2018-10-18 09:07] ZhendanYang commented on #489
On up2, tests are blocked by #443 . Please @keqiaozhang if it's a GLK issue.

[2018-10-18 11:58] mmaka1 commented on #487
@lgirdwood @singalsu The alloc.c eM1 failure may be a mem leak I recently found exercising pause/resume scenarios. The dai stops the dw-dma which enters COMP_STATE_PREPARE state (COMP_TRIGGER_PAUSE handler calls dma_stop(), not _pause()). Then when the dai is 'released', calls dw_dma_start() which being in 'prepare' registers the interrupt handlers and calls another alloc in the sys heap. After a

[2018-10-18 15:59] lgirdwood commented on #487
@singalsu patch now merged, can you retest.

[2018-10-18 16:29] mmaka1 commented on #489
@cujomalainey @lgirdwood I am able to repro DSP crash easily with the arecord loop, however I get 'out of memory', not the original 'can't enter idle'. With the #495 applied, there is no repro on my board. No other issues like the 'idle' one appeared.
Are you still observing this with 079558d?

[2018-10-18 17:33] cujomalainey commented on #473
TRACEV is now working for me on topic/sof-dev and master

[2018-10-18 18:54] lgirdwood commented on #489
@cujomalainey A PR went in today from @mmaka1 that fixed a leak in the DMA.
@ZhendanYang can you validate at your end too.

[2018-10-19 00:47] keyonjie commented on #473
@cujomalainey good to know it works now.
Are you run topic/sof-dev directly on chrome? or Ubuntu?

[2018-10-19 01:05] cujomalainey commented on #473
@keyonjie I'm running it on chrome, but I have the bxt_da7219_max####a driver patched for glk. You can see the modification here 60000680bd4f01f2dd37b3a73991149913ed9166

[2018-10-19 01:18] keyonjie commented on #473
@cujomalainey thanks, I am thinking if it is possible to run thesofproject/linux topic/sof-dev directly on chrome book(thesofproject/linux topic/cros-sof-v4.14-rebase works for that).

[2018-10-19 01:31] cujomalainey commented on #473
We just need that driver patched and we can run sof-dev no problem. I can send a pull request if we want to do that. It is slightly buggy though. Left channel on speaker only works for about 500ms before cutting out but it appears to be a UCM issue that is setting the left volume to 0 and headset isnt working currently.

If I could work off sof-dev without constantly rebasing patches that would ma

[2018-10-19 03:02] ZhendanYang commented on #394
This issue can't reproduce now. Should be fixed by #495 .

[2018-10-19 03:02] #394 closed

[2018-10-19 05:48] mengdonglin commented on #487
@singalsu will your test on  up2 be blocked by bug https://github.com/thesofproject/sof/issues/443?

[2018-10-19 05:51] mengdonglin commented on #489
@keqiaozhang can you verify this on Yorp? I think Zhendan's validation on UP2 can still be blocked by #443

[2018-10-19 06:45] RanderWang commented on #443
I tested latest master FW and kernel with had topology, no such issue

[2018-10-19 06:49] RanderWang commented on #443
sorry, with PR:https://github.com/thesofproject/linux/pull/194 and https://github.com/thesofproject/linux/pull/192

[2018-10-19 08:00] RanderWang opened #497 "set stream tag for host dma and link dma individually"
Now host dma and link dma share the same stream tag. It is not fit for some cases that the stream tags
of host dma are different with link dma. So we need to set them individually

[2018-10-19 08:21] keqiaozhang commented on #375
This is a kernel issue and fixed in cros-sof-v4.14-rebase branch.
Fixed by PR https://github.com/thesofproject/linux/pull/186

[2018-10-19 08:21] #375 closed

[2018-10-19 08:28] keqiaozhang commented on #487
@singalsu
I tested this issue on my Yorp today and passed 500 times without error, so please try with latest sof-master at your end.
sof-master: 459ccd2d65b1

[2018-10-19 08:31] ZhendanYang commented on #443
I test latest master FW and kernel with PR 194 and 192 on up2 and minnowboard. This issue still exist.

[2018-10-19 08:45] lgirdwood commented on #443
@RanderWang yep, I see it on up^2 too - looks like something with the topology loading.

[2018-10-19 08:45] keyonjie commented on #401
yes, I can duplicate this issue now.

[2018-10-19 09:04] lgirdwood commented on #497
@RanderWang can you confirm who allocates both tags, my understanding is that your change means host tag is allocated by driver and link tag by the FW.

[2018-10-19 09:06] mmaka1 commented on #497
@lgirdwood Both are done by the driver, so we'd need two separate tags coming down to the FW.

[2018-10-19 09:37] keyonjie commented on #497
@lgirdwood yes, currently we are using the same tag for both host dma and link dma, this introducing limitation and issues for hda/hdmi capture where we need the exact correct tag(to align with HDA SDI pin).

[2018-10-19 09:37] singalsu commented on #487
@keqiaozhang @mengdonglin @lgirdwood I'm no more getting this error, the capture loop is now past iteration 200 and still works OK! Thank you @mmaka1 !!!

I'll close this issue.

[2018-10-19 09:37] singalsu commented on #487
Closing.

[2018-10-19 09:37] #487 closed

[2018-10-19 10:10] mengdonglin commented on #433
PR https://github.com/thesofproject/linux/pull/194 is to fix this issue.
@RanderWang Maybe you can use the magic words "fixes #433" in your PR to automatically close this issue when your PR is merged?

[2018-10-19 10:59] keyonjie commented on #401
this should be code base mismatch issue, I can't duplicate it with sof-dev branch.
We should rebase our cros code base to new sof-dev(e.g. sof basic for upstream ones new squashed by Liam), otherwise, it's difficult to debug this kind of issues.

[2018-10-19 11:10] mengdonglin commented on #349
This is a generic HD-A issue, not only for GLK.

[2018-10-19 11:29] mengdonglin commented on #443
@ranj063 Would you please share your finding on kernel side?
If you think this is a kernel issue, we can follow up here or better move it to Linux repo.

[2018-10-19 11:47] mengdonglin commented on #432
@ZhendanYang Is the vailidation blocked by https://github.com/thesofproject/sof/issues/443 ? I think the new logger is more health now.

[2018-10-19 13:52] wenqingfu commented on #401
Be careful with that. At this stage, only if we can prove there is no new regression from sof-dev. Need @ranj063 to decide.

[2018-10-19 14:19] cujomalainey commented on #401
@keyonjie we can't move that branch up to sof-dev unfortunately. We need it as a staging area for the 4.14 kernel where as sof-dev is 4.18.

Do you guys have a plan for 4.19 yet?

[2018-10-19 14:34] cujomalainey commented on #473
@lgirdwood sounds good. I'll clean up my patch I have locally and send it off soon. The 4.18 kernel on yorp and is debugable, it just takes the UI forever to get going. But if you are using ssh it's completely functional. Its how I have been working on building my filter additions since the effect topology commits are not in the cros-rebase branch last time I check

[2018-10-20 15:42] mengdonglin commented on #394
@keqiaozhang It seems you can reproduce this issue on GLK on Oct 18. C. If you can still reproduce on GLK, please reopen it and remove APL/CNL label.

[2018-10-21 10:20] cujomalainey commented on #489
@keqiaozhang I checked out the same location and ran it 10 times with tampering and it has passed every time.

[2018-10-22 15:09] singalsu commented on #327
This issue can be closed. I just checked that arecord command with four channels is rejected (and two channels works).

[code]

[2018-10-22 15:10] singalsu commented on #327
Closing.

[2018-10-22 15:10] #327 closed

[2018-10-22 15:17] singalsu commented on #329
The SOFT PR #90 that contains a fix is merged. I just checked that stereo recording is now rejected if we use four channel DMIC capture topology (and four channels recording sounds OK).

[code]

[2018-10-22 15:17] singalsu commented on #329
Closing.

[2018-10-22 15:17] #329 closed

[2018-10-23 07:42] tlauda commented on #222
@lgirdwood @singalsu Should be closed?

[2018-10-23 07:51] tlauda commented on #286
@xiulipan @lgirdwood This issue shouldn't be possible to reproduce anymore. Work queue was reimplemented to process tasks every 1 ms (configurable in the future) in order to synchronise all cores. Can you confirm?

[2018-10-23 08:07] akloniex commented on #477
@cujomalainey Only 1 binary of sof-logger is built in the make process, You probably have some leftovers from previous runs. Please cleanup your workspace, e.g. git clean -f
@ZhendanYang Please verify if the issue occurs on revisions following PR https://github.com/thesofproject/sof/pull/490 and update this issue accordingly. Thank you.

[2018-10-23 09:02] cujomalainey commented on #477
@akloniex yep that was the issue. Sorry, I should have checked that before. I was thrown by the simultaneous name change and location move.

[2018-10-23 09:05] xiulipan commented on #286
@tlauda

As I mentioned in this issue

[code]

Now even if we try to make queue run for every 1ms, but the re  schedule is counted with us. So there may still be some work->timeout not inside the time window if the core is too busy.

[2018-10-23 09:16] tlauda commented on #286
@xiulipan Current window for work queue is 2 ms. I assume that if work queue won't be triggered for such a long time, there is something very wrong with our firmware in general.

[2018-10-23 15:14] mengdonglin commented on #349
@keqiaozhang could you help to check if PR https://github.com/thesofproject/sof/pull/504 can fix this issue except for the PAUSE/RESUME case?

[2018-10-24 02:49] ZhendanYang commented on #477
@akloniex
I did some tests on up2 with codec. I introduced XRUN injection when playback. and sof-logger -t showed some errors in red color words:

    0      1   VOLUME  92935105.520833        50.208332             volume.c:463 	xro
    0      2     COMP  92935108.072917         2.552083 ../../src/include/sof/audio/component.h:414 	Xov
    0      2  unknown  92935110.572917         2.500000 ../../

[2018-10-24 07:30] singalsu commented on #222
@tlauda @lgirdwood Yep, this check has been enabled already for a while.

[2018-10-24 07:30] singalsu commented on #222
Closing.

[2018-10-24 07:30] #222 closed

[2018-10-24 09:43] DarrenxWang opened #506 "Noise issue when XRUN injection for playback"
Summary:
Noise issue when XRUN injection for playback
No error in dmesg
the result is empty when run 'sudo ./sof-logger -l sof-apl.ldc-master-gcc'
error log:
   0      1   VOLUME  60263494.947917        49.895832             volume.c:463        xro
    0      2     COMP  60263497.552083         2.604167 ../../src/include/sof/audio/component.h:414     Xov
    0      2  unknown  60263499.895833

[2018-10-24 10:54] mengdonglin commented on #349
@keqiaozhang if you have verified that the metallic noise is gone with HDMI audio playack w/o PAUSE/RESUME, would you please update here and close this issue,  file a new issue for metallic noise at PAUSE/RESUME?

[2018-10-24 13:18] keqiaozhang commented on #506
@mengdonglin
Not sure whether we can do xrun injection on Yorp. For doing xrun injection, we need to enable the CONFIG_SND_PCM_XRUN_DEBUG  in kernel config, but chrome is using the different way to build the kernel, I will give it a try tomorrow to see if we can enable XRUN_DEBUG in chrome kernel config.

[2018-10-25 07:08] Jiangxinx commented on #477
sof-logger without the parameter -t can show error trace.

    0      1   VOLUME  31120390.833333   1004787.812500             volume.c:463        xro
    0      1     PIPE  31120404.739583        13.906250           pipeline.c:903        ePU
    0      1  unknown  31120406.927083         2.187500           pipeline.c:904        value 4
    0      1     PIPE  31120410.000000         3.072917

[2018-10-25 07:52] Jiangxinx commented on #473
Not reproduce on sof-logger while using UP2.

    0      2     HOST  56308262.447917         2.395833               host.c:650        cpy
    0      2     HOST  56308265.312500         2.864583            hda-dma.c:229        GwU
    0      2     HOST  56308268.802083         3.489583               host.c:145        irq
    0      2   BUFFER  56308272.291667         3.489583             buffer.c:1

[2018-10-25 09:08] lgirdwood commented on #506
@keqiaozhang please ask @cujomalainey if you get stuck enabling this on Chrome.

[2018-10-25 09:22] lgirdwood opened #508 "trace output should include component names from topology"
Currently trace output only contains the component type but not the component name used by topology. This could make trace confusing if a pipeline had multiple components of the same type or multiple pipelines were running simultaneously.
e.g.

[code]

Output should also contain topology name e.g. "BUFFER 1.1" in the above output.

[2018-10-25 09:30] mengdonglin commented on #473
Please follow up in kernel repo https://github.com/thesofproject/linux/issues/214

[2018-10-25 09:30] #473 closed

[2018-10-25 13:44] keqiaozhang commented on #506
Thanks @lgirdwood
Today I checked the chrome kernel config, but there's no CONFIG_SND_PCM_XRUN_DEBUG item, so there may be some dependencies that need to be selected first.
@cujomalainey Can you help on this, since "make menuconfig" doesn't work.

[2018-10-26 05:45] mengdonglin commented on #349
Keqiao has proved there is no longer metallic noise w/o PAUSE/RESUME on Yorp.
Please keep this issue open until metallic noise w/ PAUSE/RESUME is also fixed. Thanks!

[2018-10-26 06:57] markyang opened #509 "IPC error occurs after the system booted"
**Summary:**
 IPC error occurs after the system booted on APL UP2 and Cannonlake.
 It will be OK if sof is rolled-back to b793f0c1 on master branch.
 the result is empty when run 'sudo ./sof-logger -l sof-apl.ldc-master-gcc-3f3d7c04'
**dmesg**:
[    8.965431] sof-audio sof-audio: ipc tx: 0x60010000: GLB_STREAM_MSG: PCM_PARAMS
[    8.965553] sof-audio sof-audio: error: ipc error for 0x60010000 size

[2018-10-26 07:29] Jiangxinx opened #510 "HD-A topoloy breaks SOF v1.2: sof-apl-pcm512x.tplg topology load fails for HDA0.OUT"
Summary:
Tplg component load failed on APL UP2 while using sof-stable1.2 7dd4b1da.
Sof-master b793f0c is OK.

dmesg:
[    5.891558] sof-audio sof-audio: ipc tx: 0x30010000: GLB_TPLG_MSG: COMP_NEW
[    5.891627] sof-audio sof-audio: error: ipc error for 0x30010000 size 0x14
[    5.891637] sof-audio sof-audio: error: DSP failed to add widget id 0 type 27 name : HDA0.OUT stream iDisp1 reply -22
[

[2018-10-26 08:44] mengdonglin commented on #509
@RanderWang It seems your PR https://github.com/thesofproject/sof/pull/505 caused the regression. Could you comment and share to the kernel PR which is also needed?

[2018-10-26 15:52] lgirdwood commented on #509
@RanderWang reverted, it seems like the kernel PR you sent does not align with #505

[2018-10-27 14:59] mengdonglin commented on #509
@DarrenxWang Could you help to check if this issue is gone?  The PR #505 which brings this regression was reverted.

[2018-10-29 01:54] DarrenxWang commented on #509
@mengdonglin The issue is not reproduced after revert the PR #505. This week we will monitor the PR updates. Thanks!

[2018-10-29 01:55] #509 closed

[2018-10-29 02:43] DarrenxWang commented on #509
The PR #513 revert the PR #505.

[2018-10-29 02:44] ZhendanYang commented on #506
On CNL with nocodec has the similar error log:

    0      1   VOLUME 993921232.447917        71.250000             volume.c:463 	xro
    0      2     COMP 993921235.208333         2.760417 ../../src/include/sof/audio/component.h:418 	Xov
    0      2  unknown 993921238.125000         2.916667 ../../src/include/sof/audio/component.h:419 	value 65536
    0      2  unknown 993921240.989583         2

[2018-10-29 07:51] ZhendanYang opened #515 "pulseaudio: occasional glitches with some clients and configs"
Summary:
on BYT minnowboard and APL up2, pulseaudio playback is not smooth and has sticky noise. There is no error log in dmesg or sof-logger.

Reproduce step:
1. paplay music.wav or watch a video on youtube

Test env:
up2 and minnowboard both with codec
sof-master: e101263
sof-stable1.2: 7dd4b
soft-master: b5eb15
kernel sof-dev: 03cadf8
tplg: sof-apl-pcm512x.tplg on up2 and test-ssp2-mclk-0-I2S-v

[2018-10-29 10:46] xiulipan commented on #378
@keqiaozhang
That would be fine. Will track with logger later.

[2018-10-29 10:48] xiulipan commented on #286
@tlauda
Sorry for the late reply. I think the new method should solve the problem

Let us close this issue as the whole work queue is refined.

[2018-10-29 10:48] #286 closed

[2018-10-29 12:23] lgirdwood commented on #506
Looks like the volume component has had an overrun in each case (i.e. there is no space in the buffer)

[2018-10-29 13:14] lgirdwood commented on #515
@ZhendanYang please turn on pulseaudio debug and paste the logs here. Must be something pulseuadio is complaining about.

[2018-10-29 13:16] lgirdwood commented on #510
@xiulipan driver should complain here before we send to FW. Do we check that a valid BE DAI link exists when we parse each BE def in the topology ?

[2018-10-29 14:29] mengdonglin commented on #510
This seems to be a backward compatibility issue:
SOF v1.2 cannot support HD-A backends. But latest UP2 topology includes HD-A backends.

[2018-10-29 14:55] mengdonglin commented on #510
@lgirdwood  @xiulipan Can driver query the firmware capabilities on HD-A support, then decide whether to load the HD-A pipelines in FW?  Or maybe it simpler to make SND_SOC_SOF_HDA_COMMON configurable for driver on APL?

https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/sof/intel/Kconfig shows that HD-A support (SND_SOC_SOF_HDA_COMMON) is always enabled for ApolloLake (UP2). And

[2018-10-29 16:48] lgirdwood commented on #510
@mengdonglin easier to just say HDA not supported in 1.2. In this case the FW did the right thing.

[2018-10-29 16:48] #510 closed

[2018-10-30 07:41] keqiaozhang commented on #506
Thanks @cujomalainey, now I can do xrun injection on Yorp.
This issue also can be reproduced on Yorp with xrun injection.

[2018-10-30 09:19] Jiangxinx commented on #477
Not reproduced with kernel branch debug/v4.19-backport, on APL UP2 platfrom.

STEP:
1.aplay -Dhw:0,1 audio.wav
2.sudo ./xrun_injection.sh
3.sudo sof-logger -l sof-apl.ldc -o logger.log

Test env:
hardware version: UP2
sof-master: 04b1ce48
soft-master: 4ac9248
kernel debug/v4.19-backport: e7da1c4
tplg: sof-apl-pcm512x.tplg

[2018-10-30 09:20] Jiangxinx commented on #401
Not reproduced with kernel branch debug/v4.19-backport, on APL UP2 platfrom.

STEP:
1.sudo sof-logger -l sof-apl.ldc -t -o logger.log
2.aplay -Dhw:0,0 audio.wav
3.close aplay via ctrl-c
4.aplay -Dhw:0,0 audio.wav

Test env:
hardware version: UP2
sof-master: 04b1ce4
soft-master: 4ac9248
kernel debug/v4.19-backport: e7da1c4
tplg: sof-apl-pcm512x.tplg

[2018-10-30 19:20] lgirdwood commented on #506
@michalgrodzicki I guess you can reproduce on Yorp too ?

[2018-10-31 08:21] akloniex commented on #508
@lgirdwood I don't see an easy way to automate collection of these IDs, and it would be tedious to pass IDs to each and every trace_event macro. And adding separate macro that also accepts IDs will miss the point, as it is suboptimal. Do you have any idea how to implement this feature user-friendly?

[2018-10-31 15:04] mengdonglin commented on #443
we need to make logger work on DSP panic to debug this issue.  Please track logger fix on https://github.com/thesofproject/linux/issues/233

[2018-10-31 15:54] lgirdwood commented on #508
@akloniex  Add pipeline and comp ID fields to the data format then make sure all the trace macros accept these 2 IDs. If a trace user has no IDs then we can just set them as 0s.

logger will then take the pipeline ID and comp ID and then sprintf() it with component type.

[2018-11-01 01:20] mengdonglin commented on #443
@libinyang please check if https://github.com/thesofproject/sof/pull/518 improve the logger for your debugging.

[2018-11-01 02:16] keqiaozhang commented on #401
I still can reproduce this issue on new debug/cros-v4.14-rebase kernel branch.

Tested-config:
kernel-debug/cros-v4.14-rebase: 90eee4
sof-master: 43da169+ revert 62c568
soft-master: 4ac9248

[2018-11-01 04:54] mengdonglin commented on #443
@libinyang https://github.com/thesofproject/linux/pull/237 is to fix the logger failure

[2018-11-01 05:02] ranj063 commented on #401
@keqiaozhang we should not revert 62c568 with SOF master. The DSP panic while setting DMIC config has been fixed by https://github.com/thesofproject/sof/pull/519

[2018-11-01 05:13] ranj063 commented on #401
@keqiaozhang I cant reproduce this issue. I did this:

1. ./sof-logger -l sof-apl.ldc -t
2. speaker-test
3. ctrl-c to close speaker test

I could close speaker-test right away. Am I missing something here?

[2018-11-01 05:44] ranj063 opened #521 "Remove timestamp from firmware binary"
Remove timestamp info from the firmware image so that when making a release, the md5sum's can be cross-checked.

[2018-11-01 06:06] Jiangxinx commented on #477
Not reproduced with kernel branch debug/v4.19-backport, on APL UP2 platfrom.

STEP:
1.aplay -Dhw:0,0 audio.wav
2.sudo ./xrun_injection.sh
3.sudo sof-logger -l sof-apl.ldc -o logger.log

Test env:
hardware version: UP2
sof-master: 43da1696
soft-master: 4ac9248
kernel debug/v4.19-backport: 925637e3
tplg: sof-apl-pcm512x.tplg

[2018-11-01 06:10] keqiaozhang commented on #401
@ranj063
I still can reproduce this issue with top sof-master.
Please try in this way:
1. sof-logger -l sof-apl.ldc -t
2. speaker-test -Dhw:0,1 -c 2 -t wav  or run aplay -Dhw:0,1 -f dat -c 2 audio.wav
3. ctrl+c to close speaker test or aplay

For step2, If I just run speaker-test, I also can close it right away.

[2018-11-01 07:07] libinyang commented on #443
The bug can still be found:
sof-master: 43da169
sof tool: 918e401
kernel sof-dev: 2af9599a + thesofproject/linux#237
tplg: sof-apl-nocodec.tplg

[sof-logger.log](https://github.com/thesofproject/sof/files/2537551/sof-logger.log)

[sof-logger-t.log](https://github.com/thesofproject/sof/files/2537557/sof-logger-t.log)

[dmesg.log](https://github.com/thesofproject/sof/files/2537558/dmesg.log)

[2018-11-01 07:09] keqiaozhang opened #522 "suspend/resume failure after several cycles on Yorp"
This issue is more like a regression, before we can do suspend/resume more than hundreds of times. but it's easy to fail now(less then 10 times).

How to reproduce:
1. sudo suspend_stress_test

Tested with:
soft-master:4ac9248f
sof-master:43da16
kernel-debug/cros-v4.14-rebase: 90eee4
[dmesg.log](https://github.com/thesofproject/sof/files/2537554/dmesg.log)
[logger-t.log](https://github.com/thesofp

[2018-11-01 07:13] Jiangxinx commented on #401
Not reproduced with kernel branch debug/v4.19-backport, on APL UP2 platfrom.

STEP:
1.sudo sof-logger -l sof-apl.ldc -t -o logger.log
2.aplay -Dhw:0,0 audio.wav
3.close aplay via ctrl-c
4.aplay -Dhw:0,0 audio.wav

Test env:
hardware version: UP2
sof-master: 43da169
soft-master: 4ac9248
kernel debug/v4.19-backport: 925637e3
tplg: sof-apl-pcm512x.tplg

[2018-11-01 07:19] markyang commented on #443
**Summary:**
DSP panic also exists on UP^2 and on BYT.
both _sof-logger_ and _sof-logger -t_ are empty.
**dmesg:**
[   19.337364] sof-audio sof-audio: error : DSP panic!
[   19.337430] sof-audio sof-audio: panic: dsp_oops_offset 1329152 offset 1329152
[   19.337463] sof-audio sof-audio: error: runtime exception
[   19.337522] sof-audio sof-audio: error: trace point 90010000
[   19.337583] sof-audi

[2018-11-01 08:47] lgirdwood commented on #521
@ranj063 also build number - these items should only be present in developer/debug builds i.e. when DEBUG is defined.

[2018-11-01 08:50] keqiaozhang opened #523 "error trace will be cleared after a few seconds"
Now sof-logger is back to work now, but I found that error trace will be cleared in memory window after few seconds.

Please refer to below steps:
chronos@localhost ~ $ sudo /usr/local/bin/sof-logger -l /root/sof-apl.ldc
 CORE  LEVEL  COMP_ID        TIMESTAMP            DELTA                FILE_NAME        CONTENT
    0      1  unknown    103910.364583    103910.367188          dma-trace.c:417

[2018-11-01 09:05] Jiangxinx commented on #515
Still can be reproduced with kernel branch debug/v4.19-backport, on APL UP2 platfrom.

STEP:
1.pulseaudio --kill
2.pulseaudio --start --log-level=debug --log-target=newfile:/home/up2/pulse.log
3.paplay audio.wav

Test env:
hardware version: UP2
sof-master: 43da169
soft-master: 4ac9248
kernel debug/v4.19-backport: 925637e3
tplg: sof-apl-pcm512x.tplg

Pulseaudio log:
[pulse.log](https://github.com/t

[2018-11-01 09:33] lgirdwood commented on #522
@keqiaozhang how do you know suspend/resume failed ? I cant see anything in the logs.

[2018-11-01 09:35] lgirdwood commented on #401
@keqiaozhang can you provide dmesg log starting prior to oops and logger to with latest code from today. Thanks

[2018-11-01 09:50] xiulipan commented on #523
@keqiaozhang
Could you also paste the dmesg as well. To see if there are any debugfs error message in dmesg.

[2018-11-01 10:05] lgirdwood commented on #443
@markyang please also make sure you include the context prior to the crash

[code]

This shows the stream tag is wrong for DMA trace which probably causes the panic

[2018-11-01 10:15] markyang commented on #506
This issue can't be reproduced on UP2.

**STEP:**
1.aplay -Dhw:0,0 audio.wav
2.sudo ./xrun_injection.sh

**Test env:**
hardware version: UP2
sof-master: 43da169
soft-master: 4ac9248
kernel _**debug/v4.14-backport**_: 94f7a53e
tplg: sof-apl-pcm512x.tplg

[2018-11-01 10:17] markyang commented on #515
This issue can't be reproduced on UP2.

STEP:
1.aplay -Dhw:0,0 audio.wav
2.sudo ./xrun_injection.sh

Test env:
hardware version: UP2
sof-master: 43da169
soft-master: 4ac9248
kernel debug/v4.14-backport: 94f7a53e
tplg: sof-apl-pcm512x.tplg

[2018-11-01 10:28] lgirdwood commented on #515
@ZhendanYang can you attach a capture of the noise as a smal wav file and some screen shots of audacity of the noise at zoom in and zoom out levels (play a sine wave)

[2018-11-01 10:32] lgirdwood commented on #523
@xiulipan this is not coming DMA so it's possible something is over writting the window. Can you manually dump the window contents. If there is data then it's a tool bug if there is no data then a FW bug.

[2018-11-01 10:37] lgirdwood commented on #506
@markyang @Jiangxinx ok so you have same HW, FW and topology. What about your kernel configs. Can you both paste the output of
[code]
This will show which SOF options are enabled/disabled.

[2018-11-01 11:31] keyonjie commented on #401
looks trigger stop ipc is not recieved by FW at this case:
apl-ipc.c: 82 IPC Pen

[2018-11-01 11:40] xiulipan commented on #401
@keyonjie
This Pen is actually pretty tricky here. It is caused by DSP->HOST IPC reply IRQ.
There are very strict rules to forbidden HOST to send an IPC to DSP when DSP is not finished the last one, and we also enable a scheduler to handle IPC.
You can add more trace to print the IPC header, to see if we really send a STOP IPC to DSP and the DSP did not handle it due to this **IPC Pen**

[2018-11-01 13:14] keqiaozhang commented on #522
@lgirdwood
Not sure whether the relevant error logs are overwrote. I didn't find the log either and  that's the reason why I did past the log in comment box.
This issue can easy reproduce with suspend_stress_test tool, this is a buildin tool in chromeOS.
I will reproduce this issue tomorrow and dump the log in time.

[2018-11-01 13:50] keyonjie commented on #401
@ranj063 this issue is related with runtime PM, you can run 'echo on > /sys/bus/pci/devices/0000\:00\:0e.0/power/control' then you won't see this issue.

we may need to revisit & align on how should we handle trace during suspend/resume, involving both FW and driver side.

[2018-11-01 13:54] keqiaozhang commented on #401
In the first run, speaker-test just hang in there, need to stop sof-logger, then speaker-test will stop and exit.  there's no obvious error log in demsg, below is the sof-logger output:
sof-logger:
  0      2      IPC    103068.697917       104.218750            apl-ipc.c:111        Cmd
    0      2      IPC    103073.020833         4.322917            handler.c:571        PMr
    0      2      IP

[2018-11-01 15:39] singalsu commented on #416
I'll start working with debugging this. I was just able to reproduce it and confirmed that this happens with gcc build and 32->24 volume mode. It doesn't happen with 16->24 and 24->24.

[2018-11-01 16:00] ranj063 commented on #401
@keyonjie sorry I think I'm missing your point about runtime PM. once we start playback with aplay, the device should be active.

Are you talking about the device being suspended even before we start the logger?

[2018-11-01 16:18] ranj063 commented on #522
@keqiaozhang this is a driver bug. Can you please move it?

[2018-11-01 21:00] ranj063 commented on #521
https://github.com/thesofproject/sof/pull/524 addresses this issue

[2018-11-02 02:05] keyonjie commented on #401
@ranj063 yes, suspend -> start logger -> start playback.

[2018-11-02 02:16] keqiaozhang opened #526 "verbose tracing doesn't refresh"
sof-logger  -t doesn't refresh under one condition, when runtime is suspended, run sof-logger first and then do audio playback.

How to reproduce:
1. enable verbose in trace.h
2. make sure runtime is suspended
 cat /sys/bus/pci/devices/0000\:00\:0e.0/power/runtime_status
3. open the trace log on one terminal
  sof-logger -l sof-apl.ldc -t
4. run audio in another terminal
speaker-test -Dhw:0,1 -c 2

[2018-11-02 02:49] keqiaozhang commented on #522
This bug is moved to https://github.com/thesofproject/linux/issues/243

[2018-11-02 03:01] Jiangxinx commented on #443
Summary:
Still can be reproduced on BYT.
dmesg:
[    7.815679] sof-audio sof-audio: booting DSP firmware
[    7.817377] sof-audio sof-audio: ipc rx: 0x70000000: FW_READY
[    7.817382] sof-audio sof-audio: ipc: DSP is ready 0x70000000 offset 0x144000
[    7.817394] sof-audio sof-audio:  Firmware info: version 1:1-43da1 build 44 on Nov  2 2018:18:01:34
[    7.817495] sof-audio sof-audio: found ext

[2018-11-02 03:12] ZhendanYang commented on #515
I used aplay and paplay to playback the same sine wave, only paplay has noise issue.

zql@zql-MB-T:~$ aplay -D hw:0,0 -c2 -r 48000 -f s16_le sweep.wav -vv -i
Playing WAVE 'sweep.wav' : Signed 16 bit Little Endian, Rate 48000 Hz, Stereo
Hardware PCM card 0 'sof-bytcr-rt5651' device 0 subdevice 0

zql@zql-MB-T:~$ paplay sweep.wav

I recorded one sine wave for each:
test sine wave:
![screenshot from

[2018-11-02 07:36] markyang commented on #523
**Summary:**
  This issue can be reproduced on UP2 too.
  no dmesg error.
_sudo sof-logger -l ./sof-apl.ldc-master-gcc-43da1696_
 CORE  LEVEL  COMP_ID        TIMESTAMP            DELTA                FILE_NAME        CONTENT
    0      1   VOLUME   4605507.083333   4605507.000000             volume.c:463        xro
    0      1     PIPE   4605522.239583        15.156250           pipeline.c:903

[2018-11-02 08:19] lgirdwood commented on #526
@keyonjie could be related to your recent fix for debufFS PM runtime ?

[2018-11-02 08:29] lgirdwood commented on #526
@keqiaozhang  please use markdown when pasting logs. See above changes I've made.

[2018-11-02 08:34] lgirdwood commented on #443
@Jiangxinx please use markdown when pasting logs - see my above changes.

[2018-11-02 08:53] keqiaozhang commented on #526
@lgirdwood  thanks, Learned.

[2018-11-02 09:46] lgirdwood commented on #515
@ZhendanYang thanks, good info - btw its best to use a constant frequency sine wave in the future, that way it's easy to work out duration of any glitches.

Can you confirm that PA was enabled during the aplay test (i.e. PA was running during aplay usage). I need to rule out if this was paplay only issue.

Fwiw looks like PA (via paplay) is using period of 84ms and buffer of 340ms
[code]
but it is

[2018-11-02 09:55] lgirdwood commented on #523
@markyang please use the markdown for pasting logs.

@keyonjie  @ranj063 This is caused by runtime PM. Everytime we reboot the DSP after D3 -> D0 transition FW will clear the SRAM (otherwise SRAM can contain garbage). Lets make this a future enhancement to preserve old error logs from previous boots.

[2018-11-02 10:39] xiulipan commented on #526
@lgirdwood
I think **NO**. https://github.com/thesofproject/linux/pull/237 is not merged yet.
And another reason is dma-trace used another file_ops as other debugfs.

https://github.com/thesofproject/linux/blob/a5ddc3d78b47b4d3e77ac371b6f016f3a6a9278c/sound/soc/sof/trace.c#L117
`	.read = sof_dfsentry_trace_read,`

https://github.com/thesofproject/linux/blob/a5ddc3d78b47b4d3e77ac371b6f016f3a6a9278c

[2018-11-02 10:41] markyang commented on #522
**Summary:**
  This issue can be reproduced on UP2.
  both sof-logger & sof-logger -t are empty.

**dmesg:**
[code]

** 0xbe024307 in sof-apl.lst-master-xcc-43da1696**
[code]

**Test steps:**
1. aplay -Dhw:0,0 -r 48000 -c 2 -f s16_le -i -vv ~/Music/18_WAV_48000Hz_stereo_16bit.wav
2. run the following scripts:
i=0
while [ $i -lt 50 ]
do
        rtcwake -m mem -s 2
        sleep 4
        let i++
do

[2018-11-02 10:59] singalsu commented on #416
Confirmed the bug and made a fix, PR to appear soon. I need to review other conversions for similar issue. The q_multsr_sat_32x32() function ensures proper saturation to 32 bits but if the output of volume is 24 bits the result may be still be an overflow. Need to instead calculate 32 bit result and shift right by 8 to get a properly saturated 24 bit sample.

![snd_volume_rattle](https://user-imag

[2018-11-02 11:03] xiulipan commented on #523
@lgirdwood
In 37877f2b04dc8a31a8a08c5774c36fae74198984 from https://github.com/thesofproject/sof/pull/325
FW will skip the clear up for the memory window 3.

I think there are any other issues for this situation.

[2018-11-02 11:36] xiulipan commented on #523
@lgirdwood @keyonjie @ranj063
Maybe we need to check the trace_init function.
[code]
The log is here:
[code]
From TIMESTAMP we can see that actually each time the `trace_init 0` log is generate for each resume.
And almost the whole DSP is robooted.
We may need some method to store the **trace->pos** in suspend and restore them when resume, if the data in memory window of SRAM is not lost or change

[2018-11-02 11:44] lgirdwood commented on #522
This is also a FW bug so reopened.

This one looks like firmware is not validating DMA channel IDs before dereferencing. i.e. in hda_dma_stop() and other we do not validate channel is valid
[code]

This should be validated against correct channel range. Any invalid channels should be logged.

@markyang could you try the following patch. This will display an error if we attempt an invalid channel a

[2018-11-02 19:06] plbossart opened #531 "clk: Null dereference reported by Coverity"
Coverity reports an Explicit null dereference in clock_set_freq()

path:
const struct freq_table *freq_table = NULL;
switch (clock) {
default: break;
}
idx = clock_get_freq(freq_table, freq_table_size, hz);

The default case should be an error?

[2018-11-02 19:09] plbossart opened #532 "eq_iir: Array compared against 0 (Coverity)"
/* Copy new config, find size from header */

CID 324982 (#1 of 1): Array compared against 0 (NO_EFFECT)
array_null: Comparing an array to null is not useful: (*cdata).data->data, since the test will always evaluate as true.
   	Was (*cdata).data->data formerly declared as a pointer?
530                if (!cdata->data->data) {
531                        trace_eq_error("edn");
532

[2018-11-02 19:12] plbossart opened #533 "dw-dma: Using uninitialized value (Coverity)"
static uint64_t dw_dma_work(void *data, uint64_t delay)
1063{
1064        struct dma_id *dma_id = (struct dma_id *)data;
1065        struct dma *dma = dma_id->dma;
1066        struct dma_pdata *p = dma_get_drvdata(dma);
    	1. var_decl: Declaring variable next without initializer.
1067        struct dma_sg_elem next;
1068        int i = dma_id->channel;
1069
1070        tracev_dma("wrk");
1071
10

[2018-11-02 19:14] plbossart opened #534 "audio/host: questionable error handling (Coverity)"
static int host_trigger(struct comp_dev *dev, int cmd)
273{
274        struct host_data *hd = comp_get_drvdata(dev);
275        int ret = 0;
276
277        trace_host("trg");
278
279        ret = comp_set_state(dev, cmd);
280        if (ret < 0)
281                goto out;
282
283        switch (cmd) {
284        case COMP_TRIGGER_STOP:

CID 324978 (#1 of 1): Unused value (UNUSED_VALUE)
returned_

[2018-11-02 19:15] plbossart opened #535 "eq_fir: Array compared against 0 (Coverity)"
/* Copy new config, find size from header */

CID 324977 (#1 of 1): Array compared against 0 (NO_EFFECT)
array_null: Comparing an array to null is not useful: (*cdata).data->data, since the test will always evaluate as true.
   	Was (*cdata).data->data formerly declared as a pointer?
563                if (!cdata->data->data) {
564                        trace_eq_error("edn");
565

[2018-11-02 19:17] plbossart commented on #257
still an issue as of November 2...

[2018-11-02 20:41] lgirdwood opened #536 "Validate IPC input."
IPC input needs to be validated. i.e. negative stream_ids and other out of bounds variables are currently accepted.

[2018-11-02 20:44] lgirdwood opened #537 "Array bounds need to be validated"
Some client code that use arrays for representing resources (like DMA drivers to represent channels) do not validate incoming array indexes against array bounds. All array indexes must be validated when indexes are passed in from non local code.

[2018-11-04 13:14] xiulipan commented on #523
@lgirdwood
But if we used Linux trace framwork, how could we get this error trace with sof-logger.
Maybe add some kernel side mem copy for these memory window is more simple? We can append error trace or replace other regs maps to the kernel side memory.

[2018-11-04 13:33] xiulipan commented on #257
@plbossart
Waiting for the response about, it seems we did not see similar check from other check tool.

[2018-11-05 03:12] ZhendanYang opened #539 "DSP panic after system booted for topology load issue on up2"
Summary:
DSP panic happened after system booted for topology load issue. This issue is separated from #443 .

[code]
[code]

Test env:
sof-master: aeb18ee
sof tool: 2d7a933
kernel sof-dev: 93853cb
tplg: sof-apl-nocodec.tplg

Log:
rmbox and rmbox -t are both empty.
[dmesg-apl.log](https://github.com/thesofproject/sof/files/2546785/dmesg-apl.log)

Another Exception Cause on UP2:

[code]

[2018-11-05 03:13] ZhendanYang commented on #443
Move topology issue on up2 to #539 .

[2018-11-05 06:42] mengdonglin commented on #443
#443 is splitted into 2 bugs: one is #443 for stream_tag, another is described in #539

[2018-11-05 08:48] libinyang commented on #539
It seems I found why the dcache flush randomly changes the memory incorrectly. I will make another patch for #527.

However, I do think this patch is useful to improve the performance and should be merged. What do you guys think? Thanks ;-)

[2018-11-05 16:49] plbossart commented on #535
@singalsu not the PR doesn't make the warning go away. I don't quite get why we use these variable length array, what's wrong with old-fashioned pointers?

[2018-11-05 20:10] lgirdwood commented on #515
@ZhendanYang since it's paplay only issue (and nobody uses paplay directly) I've moved to P3 as it may be paplay trying to rewind too close to the pointers.

[2018-11-06 00:50] keqiaozhang commented on #515
@ZhendanYang @lgirdwood
I think we can test some Youtube videos, see if we can reproduce this issue.

[2018-11-06 01:05] mwierzbix opened #542 "debugability: macro metaprogramming: vararg counter returns 0 when token start with parenthesis"
Following macros:
1. `META_COUNT_VARAGS_BEFORE_COMPILE()`
2. `META_COUNT_VARAGS_BEFORE_COMPILE(A)`
3. `META_COUNT_VARAGS_BEFORE_COMPILE(1,2,3)`
4. `META_COUNT_VARAGS_BEFORE_COMPILE((1+2)<<2)`
5. `META_COUNT_VARAGS_BEFORE_COMPILE(2*(1+2))`

should expand to:
1. `0`
2. `1`
3. `3`
4. `1`
5. `1`

but currently they expand to:
1. `0`
2. `1`
3. `3`
4. `0`
5. `1`

This, combined with `_TRACE_EVENT_NTH` i

[2018-11-06 02:09] ZhendanYang commented on #515
@keqiaozhang
Yes, this issue can reproduce when test with Youtube videos.

[2018-11-06 02:59] xiulipan commented on #523
@lgirdwood
And also maybe useful for dma-trace failure.
OK, we can workaround this by disable PM, when we really need to debug something like that.

[2018-11-06 03:08] keyonjie commented on #523
we are working on fix dma trace been cleared issue, but for etrace cleared issue, no plan yet.

[2018-11-06 06:58] keyonjie opened #544 "handle sof_ipc_host_buffer with non-0 offset"
On SKL- platforms, we are using sof_ipc_host_buffer for host buffer definition:
/* stream ring info */
struct sof_ipc_host_buffer {
	uint32_t phy_addr;
	uint32_t pages;
	uint32_t size;
	uint32_t offset;
} __attribute__((packed));

Here, the offset is created aimed to make the DMA start copying from/to non-0 offset of the buffer.
Previously, we all set offset=0 in host side, but now we are running

[2018-11-06 07:49] keyonjie commented on #401
https://github.com/thesofproject/linux/pull/248 should be able to fix this.

[2018-11-06 11:19] lgirdwood commented on #515
@ZhendanYang can you confirm pulseaudio running when playing youtube ?

[2018-11-07 02:16] ZhendanYang commented on #515
@lgirdwood If pulseaudio is disabled, then paplay can't work and youtube videos are all silent.

[2018-11-07 07:11] markyang commented on #522
@lgirdwood I've added your patch, but the issue cannot be reproduced any more.

**Summary:**
  This issue cannot be reproduced on UP2 now(slept 50 times), but metallic noise was found.
  sof-logger is empty. sof-logger -t log is attached below.

**dmesg:**
[code]

**Test steps:**
1. aplay -Dhw:0,0 -r 48000 -c 2 -f s16_le -i -vv ~/Music/18_WAV_48000Hz_stereo_16bit.wav
2. run the following scripts:

[2018-11-07 14:08] lgirdwood commented on #515
@ZhendanYang ok, so you are confirming that pulseaudio is running whilst using youtube is playing ? (btw, web browsers can still play youtube media with pusleaudio disabled).

If yes,  this issue is more to do with pulseaudio and certain client configurations playing audio. I've changed the title and  can you attempt to reprodue with aplay + pulseaudio (but use aplay command line switch to use sam

[2018-11-07 14:19] lgirdwood commented on #522
@markyang I've re-opened as the patch is NOT a fix, but a check for invalid array bounds. This appears to be a race closing a DMA channel prior to D3. Added @mmaka1 for HDA.

@markyang can you describe use case for metallic noise, how reproducible etc.

[2018-11-08 02:49] markyang commented on #522
@lgirdwood please follow the steps below, the metallic noise will occur after sleeping several times.
step 1: run  _'aplay -Dhw:0,0 -r 48000 -c 2 -f s16_le -i -vv ~/Music/18_WAV_48000Hz_stereo_16bit.wav'_ in one Terminal.
step 2: vi suspend_stress.sh
[code]
run _'sudo ./suspend_stress.sh'_ in another Terminal.

[2018-11-08 06:04] keqiaozhang opened #550 "enable memory debug will cause firmware panic"
How to reproduce:
1. enable the memory debug in sof:
[code]
dmesg log:
[code]
sof-master:019eade

[2018-11-08 06:12] libinyang commented on #550
The bug is caused by the dcache. I will submit a patch later.

[2018-11-08 06:16] mengdonglin commented on #526
@keyonjie Is any of your recent PR will fix this issue?

[2018-11-08 06:28] keyonjie commented on #526
@mengdonglin yes, PR https://github.com/thesofproject/linux/pull/248 should fix this.

[2018-11-08 06:56] ZhendanYang commented on #515
@lgirdwood I'm confirming that pulseaudio is running whilst using youtube is playing.
I use  `paplay --rate=48000 --format=s16le --channels=2 music.wav`
and  `aplay -D hw:0,0 -c 2 -r 48000 -f s16_le music.wav` for test.
I think they both use the same buffer/period sizes:
[code]
I can't reproduce noise issue using aplay. Actually, except for paplay .wav file, system sounds also have such kind of no

[2018-11-08 07:04] keqiaozhang opened #551 "Regression: sof-logger doesn't work with -t parameter"
This is a firmware regression and it's caused by commit: 9af90ce211
PR https://github.com/thesofproject/sof/pull/530

error message:
[code]

[2018-11-08 08:10] DarrenxWang opened #552 "White noise when doing 16 bit playback/record via I2S on ICL"
Summary:
White noise when doing 16 bit playback/record by I2S on firware branch icl-001-drop-stable. 24 bit/32bit playback/capture works well w/o this issue.

And this issue seems to be a branch-specific firmware issue for icl-001-drop-stable.
Because with the same kernel & topology, this issue cannot be reproduced on firmware master branch (commit 33e4b99351) plus the patch below 0001-DMIC-Enable

[2018-11-08 09:07] akloniex commented on #551
@lgirdwood @bkokoszx @keqiaozhang
Issue is caused by misalignment between FW and sof-logger.
Expected to be solved as soon as https://github.com/thesofproject/soft/pull/118 is merged and sof-logger rebuilt.

[2018-11-08 09:57] Jiangxinx commented on #515
@lgirdwood I retested pulseaudio on both apl and byt, got the result:
1.Paplay still have noise with the kernel config (not use DPIB):
CONFIG_SND_SOC_SOF_DEBUG_FORCE_IPC_POSITION=y
2.Can't reproduce noise with the kernel config (use DPIB by default):
#CONFIG_SND_SOC_SOF_DEBUG_FORCE_IPC_POSITION
3.Aplay can't reproduce noise with both DPIB config kernel and non-DPIB config kernel.

Step:
1.paplay a

[2018-11-08 10:41] lgirdwood commented on #522
@michalgrodzicki looks like there is sometimes metallic noise after D3 transition. iirc, @mmaka1 found an timing issue where wrong period was being DMAed and this could be happening after D3.

[2018-11-08 11:15] mrajwa commented on #552
The only significant difference between the commit that is fine 33e4b99 and the icl-001-drop-stable is this commit 4fa9a7b386. @singalsu, could you please check if you see reported noise issue caused by your commit changes?

[2018-11-08 11:52] lgirdwood commented on #515
@Jiangxinx good investigative work ! DPIB mode should be enabled by default  in kernel config (please check). Difference with DPIB position readback is accuracy and latency compared to IPC/SRAM position readback (where position reported can be up to 1ms old) probably causing PA to render to close to the DSP pointer. I will close this since it's not a problem with DPIB mode and aplay works fine, it

[2018-11-08 11:52] #515 closed

[2018-11-08 12:03] mwierzbix opened #553 "debugability: macros breaking multicore builds (sof section .text not fitting in region sof_text)"
Building multicore (for instance with `--with-arch=xtensa-smp `), we get following error mesasge
`sof section `.text' will not fit in region `sof_text'`

[2018-11-08 12:03] mwierzbix commented on #553
It would maybe be good if Travis had both single- and mult- core builds?

[2018-11-08 12:04] lgirdwood commented on #553
@mwierzbix already given this task to @xiulipan , but this makes it official.

[2018-11-08 12:05] mwierzbix commented on #553
I was just about to PR a workaround, and with both @mmaka1 and @akloniex to investigate.

[2018-11-08 12:05] lgirdwood commented on #553
I guess you will be able to fix first since it's evening time now for @xiulipan

[2018-11-08 12:06] mwierzbix commented on #553
Temporary fix would be to add `0x800` to `SOF_TEST_SIZE` to allow other developers to work while we work this issue out.

And if we don't manage, then maybe @xiulipan will :)

[2018-11-08 12:08] lgirdwood commented on #553
Sorry, I was meaning have @xiulipan fix Travis CI for SMP builds, not for memory sizes

[2018-11-08 12:09] mwierzbix commented on #553
Oh, well then he would discover that they fail because of this :P

[2018-11-08 12:13] mengdonglin commented on #551
@akloniex @lrgirdwo May we request any PR/commit with ABI change add keyword "ABI" in the subject to highlight the risk?  And this PR should mention the soft PR in the body. Ideally, the SOFT update should be backward compatible and be merged at first before the SOF PR.

[2018-11-08 12:52] #542 closed

[2018-11-08 14:18] lgirdwood commented on #180
@zhuqingliang @ZhendanYang can you try this again with latest master.

[2018-11-08 14:38] dabekjakub commented on #180
@lgirdwood I repoduced it on latest master Fw and latest kernel (90eee408aea3f64949c3c095d2a338491ad5c8a4 cros-v4.14-rebase) it is reproducible.

However the timeout itself is not present in fw trace logs.

@tlauda Has also asked to move it to kernel issue list:

[2018-11-08 15:23] lgirdwood commented on #180
@dabekjakub ok thanks - @zhuqingliang @ZhendanYang please move this to kernel bug and attach the logs with latest master. Thanks. @RanderWang can you check driver is not sending 2 IPCs at once.

[2018-11-08 16:04] singalsu commented on #552
@mrajwa I don't have ICL. Do you know which bits -> bits conversion is the suspected volume controller doing?

[2018-11-08 16:41] singalsu commented on #552
I made just PR #555. That's an obvious error, sorry for that. If the playback / capture pipelines in  ICL did s24 -> s16 sample format conversion in volume that should impact.

[2018-11-09 02:07] libinyang commented on #539
@ZhendanYang
This bug should be fixed with the latest SOF

[2018-11-09 02:08] ZhendanYang commented on #551
sof-logger doesn't work even without -t on CNL:
[code]

[2018-11-09 05:03] mengdonglin commented on #433
@RanderWang Is the issue fixed or need any other PR?

[2018-11-09 05:51] mengdonglin commented on #551
@bkokoszx  Are all the PR low necessary to fix this issue? Anything missing?

SOFT: https://github.com/thesofproject/soft/pull/118
FW part: https://github.com/thesofproject/sof/pull/530
Linux part: https://github.com/thesofproject/linux/pull/222

[2018-11-09 07:49] DarrenxWang commented on #552
There is white noise when doing 16 bit playback/record by I2S.
There is no white noise when doing 24/32 bit playback/record by I2S.

[2018-11-09 08:50] bkokoszx commented on #551
@mengdonglin
Also FW PR I've made yesterday: https://github.com/thesofproject/sof/pull/548

[2018-11-09 08:59] mengdonglin commented on #349
This is a generic issue and also reproduced on ICL.

[2018-11-09 09:14] singalsu commented on #552
@DarrenxWang I don't have device to test this conversion. Can you please test if PR #555 fixes this.

[2018-11-09 09:30] mwierzbix commented on #553
Status update: workaround is already merged to master, @akloniex has a fix PRed.

[2018-11-09 09:33] bardliao commented on #552
@mrajwa @singalsu This issue is fixed by PR #555 . Thanks

[2018-11-09 10:01] mengdonglin commented on #180
Close this issue and will follow up by https://github.com/thesofproject/linux/issues/263

[2018-11-09 10:01] #180 closed

[2018-11-09 10:03] singalsu commented on #552
@bardliao Excellent, thanks!

[2018-11-09 10:30] singalsu commented on #552
Closing this issue.

[2018-11-09 10:30] #552 closed

[2018-11-09 10:37] lgirdwood commented on #533
@libinyang please send PR with above coverity output in commit message.

[2018-11-09 10:56] bkokoszx commented on #551
@keqiaozhang
Could you verify if issue still reproduces?

[2018-11-09 10:58] #553 closed

[2018-11-09 11:06] mengdonglin commented on #515
@keyonjie fyi who enables DPIB mode :-)

However, Baytrail has no DPIB support and so always using IPC position update. So I expect MinnowBoard (BYT) can still suffer from this problem occasionally.

[2018-11-09 14:13] plbossart opened #560 "cAVS SSP MCLK handling refactor"
The current MCLK handling code is duplicated multiple times, when the only difference is the value of the MCLK. We should get this information from a platform definition instead of hard-coding a define and using ifdefs

see https://github.com/thesofproject/sof/blob/805bcb10729bb7ce117d42942259ca8002429192/src/drivers/intel/cavs/ssp.c#L324

[2018-11-09 14:40] lgirdwood commented on #560
@mmaka1 I guess you were already thinking about de-duplicating this ?

[2018-11-09 17:00] lgirdwood opened #562 "logger: wrong pipeline IDs shown for some trace_pipe_with_ids() calls"
Wrong pipeline ID or comp ID shown for some pipeline trace events.
[code]
1536 and 3072 are buffer sizes not pipeline IDs

[2018-11-12 07:35] markyang commented on #539
**Summary:**
  This issue cannot be reproduced on UP2 any more.

**Test env:**
sof master: 5838f717
sof tool: 2cd668c
kernel sof-dev: 9b81e164
tplg: sof-apl-nocodec.tplg-2cd668c

[2018-11-12 09:01] #539 closed

[2018-11-12 09:52] markyang opened #563 "Topology: physical link iDisp1 (id 1) not exist"
**Summary:**
  Topology component load failed on UP2.
  sof-logger is empty. sof-logger -t log is attached below.

**dmesg:**
[code]

**Test steps:**
1. aplay -l
aplay: device_list:270: no soundcards found...

**Test env:**
sof master: 5838f717
sof tool: 2cd668c
kernel sof-dev: 9b81e164
tplg: sof-apl-pcm512x.tplg-2cd668c

**Log:**
[dmesg-apl.log](https://github.com/thesofproject/sof/files/2571280/

[2018-11-12 10:05] lgirdwood commented on #563
@RanderWang are we missing iDISP BE DAI link or something in the Kconfig ?

[2018-11-12 14:06] libinyang commented on #533
Yes, I will. After checking with peers here, I found that there is no coverity in Shanghai. I can't do the coverity test on my patch. So I will send the patch directly.

[2018-11-12 14:11] libinyang commented on #533
patch is submitted:
https://github.com/thesofproject/sof/pull/565

Please help review.

[2018-11-13 02:35] xiulipan commented on #563
@markyang
It seems the kconfig is miss some HDA HDMI options

[2018-11-13 03:10] markyang commented on #563
**Summary:**
  This issue cannot be reproduced on UP2 any more.

**Test env:**
sof master: 73475e3f
sof tool: 2cd668c
kernel sof-dev: 165b34de
tplg: sof-apl-pcm512x.tplg-2cd668c

[2018-11-13 03:10] #563 closed

[2018-11-13 06:09] libinyang commented on #534
The patch https://github.com/thesofproject/sof/pull/566 tries to fix this issue.

[2018-11-13 06:50] keqiaozhang commented on #551
@bkokoszx
Confirmed that this issue is fixed on UP^2.
For Yorp,  there's one blocker issue with top sof-master :https://github.com/thesofproject/linux/issues/277
so there's no trace log available, but the "Error: Invalid filename length." is gone.
@markyang
please help to confirm this issue on other platform. Thanks~

[2018-11-13 07:03] keqiaozhang commented on #522
I retested this issue on Yorp with Ranjani's new person kernel branch:https://github.com/ranj063/linux/commits/topic/cros-sof-v4.14-rebase
The suspend/resume can pass more than 100 iterations.

[2018-11-13 07:36] markyang commented on #551
@bkokoszx @keqiaozhang
This issue has been fixed on BYT, APL and CNL.

[2018-11-13 07:41] markyang commented on #551
There's no trace log available on BYT because of a blocker issue thesofproject/linux#233

[2018-11-13 08:43] keqiaozhang commented on #551
Thanks @markyang for your confirmation, this issue can be closed now.

[2018-11-13 08:43] #551 closed

[2018-11-13 17:13] bkokoszx commented on #562
@lgirdwood
It is necessary for pipelines to print either pipeline_id and component_id?

[2018-11-13 20:07] #534 closed

[2018-11-13 21:13] lgirdwood opened #571 "ipc: occasionally see a dropped msg from host on UP^2"
I occasionally see a dropped message from the host in the DSP logs on APL.
[code]

There is no error log in the host side as it looks like the message is only processed correctly as it shares the same message type as the next or previous message. @ZhendanYang can someone from QA try and reproduce. @RanderWang fyi

[2018-11-14 03:41] xiulipan commented on #571
[code]

@lgirdwood
This is no issue, please notice the 0x90020000 above.
[code]

We will get another IRQ from the DSP->HOST IPC **0x90020000** _reply message(done) from host_.
But the  **0x30030000** is not finished, and still in the queue.

We have used queue to avoid conflict HOST->DSP IPC

[2018-11-14 08:20] Jiangxinx opened #574 "noise when switch aplay between background & foreground."
Noise when switch aplay between background & foreground.

How to reproduce:
1.aplay -Dhw:0,0 -c2 -fS16_LE audio.wav -vv -i
2.background aplay
   ctrl+z
3.foreground aplay
   %1
4.sof-logger -l sof-apl.ldc -t -o dsp.log

Env:
hardware version: UP2
sof-master: c05850c0
soft-master: 5894ed4
kernel sof-dev: 326e446f
tplg: sof-apl-pcm512x.tplg

Log:
[dsp.log](https://github.com/thesofproject/sof/files/

[2018-11-14 08:45] lgirdwood commented on #571
@xiulipan there is no Q incoming today on FW side - all messages should be serialised using HW flow control - check with @RanderWang for details.

[2018-11-14 09:04] lgirdwood commented on #574
@Jiangxinx can you provide audacity screenshots (with several zoom levels) of capture noise when playing a fixed frequency sine wave and also some small wav file recordings. Please also try aply with bigger buffer and more periods to see if the result is the same.

@mengdonglin please can you add a section in your howto for different types of bugs. i.e. we have boot bugs, runtime logic bugs and au

[2018-11-14 09:54] xiulipan commented on #571
@lgirdwood
Sorry not a **queue**, but a scheduled task.
The error message is triggered by a DSP->HOST message  **0x90020000**'s **reply** when the last HOST->DSP message **0x30030000** is not finished and `_ipc->host_pending` still be 1

[2018-11-14 10:08] lgirdwood commented on #571
@xiulipan so are you saying the trace message from DSP -> HOST is causing this host to send a new topology message ? Looks like a kernel bug then.

[2018-11-14 10:20] smakows opened #576 "[APL] Issue with loading sof-apl-nocodec.tplg"
Commits
SOF 73475e3fbb3e29ce9f0c26e317ae8191f9827688 branch **master**, project **thesofproject**
Linux 165b34de9fdfdb80bc75352fa11ae362c0ba17f6 branch **topic/sof-dev**, project **thesofproject**
SOFT 2cd668ccfaf4af99b8ce3000a1e8faaa9a796b5b branch **master**, project **thesofproject**

![image](https://user-images.githubusercontent.com/25586329/48476271-e422de80-e7fe-11e8-8cfb-09d5f9ab7ba8.png)

[2018-11-14 10:28] markyang opened #577 "Metallic noise occurs after suspend/resume"
**Summary:**
  This issue cannot be reproduced on UP2 now(slept 50 times), but metallic noise was found.
  sof-logger is empty. sof-logger -t log is attached below.

**dmesg:**
[code]

**Test steps:**
1. aplay -Dhw:0,0 -r 48000 -c 2 -f s16_le -i -vv ~/Music/18_WAV_48000Hz_stereo_16bit.wav
2. run the following scripts:
i=0
while [ $i -lt 50 ]
do
        rtcwake -m mem -s 3
        sleep 3
        l

[2018-11-14 10:30] markyang commented on #522
Move metallic noise issue on UP2 to #577 .

[2018-11-14 13:08] singalsu opened #579 "Volume control cannot amplify the signal"
The current gain value in kernel to firmware IPC does not support > 0 dB gain and also is not very accurate at low gains due to using only lowest 17 bits of the 32 bit IPC value.

- Larger than 1.0x or 0 dB gain are useful in audio capture from microphones where the signal level can be low.
- The Q1.16 format gain can't support monotonically 0.1 dB gain steps at < -50 dB gains. Though it's a minor

[2018-11-14 13:20] singalsu opened #580 "The DMIC driver does not prevent too short microphone clock enables from happening"
Some multi-mode microphones have a state machine for sleep/sensor/normal modes. It is known that some audio servers probe the audio system with very short capture tests. If the microphone clock burst is too short some microphones may freeze erroneously until next power cycle. The issue causes any audio capture after this to be just zero PCM code.

The issue could be prevented by passing a min. clo

[2018-11-14 14:01] jajanusz opened #581 "APL gcc toolchain cannot build xtensa-smp"
Our toolchain for apl is bugged, it should have threadptr support, but it does not.
What results in errors like:
`Error: unknown opcode or format name 'rur.threadptr'` when trying to compile apl for smp

Sorry for posting it here but https://github.com/thesofproject/crosstool-ng has disabled issues

[2018-11-14 17:06] lgirdwood commented on #571
two more
[code]

and

[code]

[2018-11-14 17:07] lgirdwood commented on #581
@jajanusz which GCC version do you have ? iirc, I added threadptr a while ago

[2018-11-14 17:33] jajanusz commented on #581
@lgirdwood gcc 8.1 from today from https://github.com/thesofproject/crosstool-ng
Travis had the same problem: https://travis-ci.org/thesofproject/sof/jobs/454734132#L1663

[2018-11-14 18:41] ranj063 commented on #577
@markyang if you cannot reproduce on up2, which platform did you see it on? The test environment seems to suggest it was the up2.

[2018-11-14 18:46] #521 closed

[2018-11-14 22:03] lgirdwood commented on #581
@xiulipan is the travis CI container using latest overlay HEAD (which has THREADPTR register support)

[2018-11-14 22:22] lgirdwood commented on #581
@jajanusz doubled checked and some overlays were missing. now pushed.  @xiulipan CI container will need updated.

[2018-11-14 22:35] lgirdwood commented on #522
@keqiaozhang can we close then ? or do we need more iterations ?

[2018-11-14 22:40] lgirdwood commented on #580
@singalsu best decide ASAP what data you may or may not need from topology or kernel as ABI will be upstreaming soon.

[2018-11-15 01:51] bardliao commented on #576
@smakows I can reproduce your issue on the same commit id as yours.
But the issue is gone if I use the latest code:
kernel: sof-dev 21947cd7724218af2b5f248dbd05f0620039003c
soft: master 5894ed4cc5266f2ca859b1a59c2c82848c2f0713
sof: master 43120c923fed72a2c71dd6294097d2f6378dd74c

Could you check it on your side?
Thanks.

[2018-11-15 02:21] keqiaozhang commented on #522
@lgirdwood
Yes, this issue can be closed. I will check with Naveen about how may iterations do we need to test.

[2018-11-15 02:21] #522 closed

[2018-11-15 04:13] mengdonglin commented on #349
PR https://github.com/thesofproject/sof/pull/575 (merged to glk-004-drop-stable) fixed this metallic noise on HDMI playback pause/resume. Now the reproducible rate is low.

@keqiaozhang Could you help to close this one and file new bug to reflect the latest status?

[2018-11-15 04:31] xiulipan commented on #571
@lgirdwood

I mean `static void irq_handler(void *arg) ` will enter in two situation.
If there are only HOST->DSP msg, no such issues will happen
But we have DSP->HOST reply msg will also trigger `irq_handler` function, if the HOST->DSP msg is not finished, it will look like we drop it. But in fact, we are **handling** it right now.

[2018-11-15 04:37] xiulipan commented on #581
@lgirdwood
I will update the docker image ASAP.

[2018-11-15 06:08] keqiaozhang opened #583 "scratching noise when pause/release HDMI audio on Yorp"
This noise issue is happened when pause/release HDMI playback, the possibility is less than 5% and there's no obvious error trace.
The recorded wav file is attached.
BTW, I tried to reproduce this issue with sine wav, but failed.
[noise.zip](https://github.com/thesofproject/sof/files/2583835/noise.zip)

Kernel-topic/cros-sof-v4.14-rebase: a38231
DSP FW-origin/glk-004-drop-stable: 1f799207
Topology

[2018-11-15 06:10] keqiaozhang commented on #349
Confirmed that this issue is fixed, so this issue can be closed.
But we found another noise issue and track it in https://github.com/thesofproject/sof/issues/583

[2018-11-15 06:10] #349 closed

[2018-11-15 07:36] mengdonglin commented on #574
@lgirdwood Okay. I updated the PR but missed this. I'll further update my PR later today.

[2018-11-15 08:34] lgirdwood commented on #571
@xiulipan yes I think we always handle it (since I never see topology errors)  but we are erroneously reporting an error.  The Mask should also be checked i.e.
[code]

[2018-11-15 08:50] xiulipan commented on #571
@lgirdwood
I think this patch should solve the problem.

[2018-11-15 09:04] xiulipan commented on #581
@lgirdwood @jajanusz
docker image update done. Please have a push to have a test with #570

[2018-11-15 10:13] markyang commented on #577
**Summary:**
  This metallic noise issue also cannot be reproduced on UP2 using the latest image.

**Test env:**
sof master: 43120c92
sof tool: 5894ed4c
kernel sof-dev: 21947cd7
tplg: sof-apl-pcm512x.tplg-5894ed4c

[2018-11-15 10:13] #577 closed

[2018-11-15 10:14] markyang commented on #577
**Summary:**
  This metallic noise issue also cannot be reproduced on UP2 using the latest image.
**Test env:**
sof master: 43120c92
sof tool: 5894ed4c
kernel sof-dev: 21947cd7
tplg: sof-apl-pcm512x.tplg-5894ed4c

[2018-11-15 12:14] smakows commented on #576
On this configuration the issue is no longer reproduced.

[2018-11-15 12:14] #576 closed

[2018-11-15 13:21] singalsu commented on #580
@lgirdwood @plbossart The parameters to add would be "wake_up_time" and "mode_change_time". They should be for any microphone less than 100 ms, more likely 10 - 30 ms. If the unit would be microseconds they would fit well two uint32_t types.

[2018-11-15 13:35] jajanusz commented on #581
@xiulipan @lgirdwood
Thanks for updates, now it works

[2018-11-15 13:35] #581 closed

[2018-11-15 14:29] singalsu commented on #580
I created SOF PR #584 and matching Linux PR https://github.com/thesofproject/linux/pull/292 IPC for parameters those enable doing this enhancement with later done patches.

[2018-11-15 15:39] plbossart commented on #580
@singalsu as commented on
https://github.com/thesofproject/linux/pull/292, I don't quite get how the two parameters match the problem statement you described initially?

[2018-11-15 15:53] singalsu commented on #580
OK, I think I now get your point. Would it be better that these two parameters would only control mute (some microphones keep their output tri-stated until wake_up_time is reached) and add third min_clock_on_time?

The parameter is not found from datasheets but we can add comment to header and topology files that set it to wake_up_time if not known.

Would this be clear?

[2018-11-15 16:07] plbossart commented on #580
my understanding is this:
- wake_up_time: delay before clock on and data provided to clients
- min_clock_on_delay: clock can only be turned off once this delay expires. Data discarded immediately on stop

I don't get what mode_change relates to and the 'Time from clock change to data (us)' comment means.
Also not sure about how this related to mute?

[2018-11-15 16:21] singalsu commented on #580
The data sheet that mentioned tri-stating until wake_up_time did not describe what happens for data line when microphone mode is changed (by setting the mic clock below or above the mode change threshold).

I didn't know the fact that the line is tri-stated intentionally in some microphones when capture starts. In that case it's best to mute the entire time the CIC and FIR to prevent the tri-state

[2018-11-15 16:32] plbossart commented on #580
I am not sure how we would handle a dynamic clock frequency change without stopping the capture entirely and restarting it, e.g. when moving to a low-power usage with voice trigger handled on the DSP. If we had this requirement we'd need quite a bit of plumbing across the stack.

wake_up and min_clock_on_time are the only things we can really test without significant changes across firmware+driver

[2018-11-15 16:43] singalsu commented on #580
OK, I'll update both PRs this way. Thanks!

[2018-11-15 20:21] lgirdwood commented on #583
@keqiaozhang is this easy to reproduce with your orig wav file and cannot be reproduces with sine wave ? Please check sine wave more (and check with audacity) as this would possibly indicate an issue with gain ? rather than DMA. I assume there is also no such issue with SSP and HDMI is using passthrough pipeline ?

[2018-11-16 03:06] libinyang commented on #571
@xiulipan

Maybe I'm wrong as I'm not familiar with the hw setting. Please correct me:
with 'if (dipct & IPC_DIPCT_BUSY && dipcctl & IPC_DIPCCTL_IPCTBIE)',
we just skip the hw interrupt and don't logout the dropping message. But actually, we still drop the IPC without handling the new IPC? Actually we do accept a new IPC as dipct is IPC_DIPCT_BUSY. And in your code, you skip this as IPC_DIPCCTL_IP

[2018-11-16 03:38] xiulipan commented on #571
@libinyang
notice `IPC_DIPCCTL_IPCTBIE`, when we are handling an IPC, this enable bit will be unmask.
That `IPC_DIPCT_BUSY ` will no longer trigger IRQ here, but it is still set and not cleaned here.
There have `IPC_DIPCIE_DONE` BIT that can also trigger this IRQ. So check `IPC_DIPCCTL_IPCTBIE` to avoid make sure we handle the right IRQ triggered by the right BIT.

[2018-11-16 05:44] libinyang commented on #571
Do you mean that the second IRQ is triggered by IPC_DIPCIE_DONE?

[2018-11-16 05:47] libinyang commented on #443
It seems this bug is assigned to me. I will debug this issue after I finish some other issues on UP2.

[2018-11-16 06:15] xiulipan commented on #571
@libinyang
Yep, the one with dropping message is triggered by `IPC_DIPCIE_DONE`

[2018-11-16 07:30] keqiaozhang commented on #574
This issue can also be reproduced on Yorp.

[2018-11-16 08:13] slawblauciak commented on #583
I noticed a couple rather interesting peculiarities with this.
For once, often times **on pause**, soon before this bug manifests itself I can hear a very short audible burst of this metallic noise.
Secondly, very often the bug doesn't show up immediately after releasing, but after some time, like half a second or so. It also sometimes goes away after a second too.

I maintain a very low reproduct

[2018-11-16 10:46] singalsu opened #586 "EQ configuration data via IPC is corrupt"
I noticed this with topology sof-apl-eq-dmic.tplg. The trace shows that IIR prepare fails in start of capture.

"pipeline.c:499 	component_op_upstream() error: Component failed, err = -22"

The blob seems to be corrupt except what's in the fixed header.

[2018-11-16 11:12] lgirdwood commented on #586
@singalsu is this a tools bug or FW bug ? i.e. where is the data being corrupted

[2018-11-16 11:43] singalsu commented on #586
@lgirdwood I think it's because there's "uint32_t reserved[4]" added to into structs. The binary data in EQ topologies and data for sof-eqctl do not contain them.

We could remove those from eq.h or add the zeros to data. What do you prefer?

[2018-11-16 14:01] lgirdwood commented on #586
Tools need to be updated to use new ABI, and also send the ABI header at the start of any data. The driver should not insert this header (but should check the ABI being used against driver ABI and FW ABI versions)..

[2018-11-16 14:10] singalsu commented on #586
OK, I'll do the fixes next week into SOFT topologies, tools, and possible bugs in SOF FW with handling the gap inside configuration data.

[2018-11-16 14:34] singalsu commented on #586
Just FYI @ranj063 @juimonen There may be an issue in the kernel too. It should have failed with non-matching EQ ABI header. I can fix that next week too.

[2018-11-16 15:01] lgirdwood commented on #586
@singalsu I'm working on kernel ABI boot check part now.

[2018-11-16 15:05] lgirdwood commented on #574
@bardliao I suspect XRUN handling on the kernel side here when switching. If so its's usually down to aplay userspace scheduling of IO.

[2018-11-16 15:11] libinyang commented on #533
Suppose this bug can be closed?

[2018-11-16 15:16] jajanusz commented on #152
Fixed in #587

[2018-11-16 15:16] #152 closed

[2018-11-16 15:17] plbossart commented on #574
This isn't a bug. The time it takes between the control-Z and the bg command is typically much larger than the audio buffer, so underflows will happen.
However, what is important is that the system does not crash, so you should have a script that tests this  e.g.

[code]
and the result shows the test continues after the underflow

[code]

[2018-11-16 15:47] dabekjakub commented on #550
It is hard to debug since we can't recover exception memory as a binary - will try to work around it but if issue https://github.com/thesofproject/linux/issues/296 from kernel got fixed it would be a lot smoother.

[2018-11-16 19:07] ranj063 opened #590 "Remove pipelines and components on module unload"
Today the DSP is turned off when the SOF kernel modules are unloaded. Instead when the topology is freed, the firmware should remove the corresponding pipelines and components to be symmetric with what happens during topology loading.

[2018-11-19 01:34] mengdonglin commented on #416
@juimonen Could you help to check if this issue is fixed by PR #528 on your side? If yes, please help to close the issue. Thanks!

[2018-11-19 05:40] bardliao commented on #574
@plbossart Did you mean that the noise is not a bug? It seems xrun could muss up the data buffer.

[2018-11-19 06:39] mengdonglin commented on #152
@singalsu Would you please check if this issue can be reproduced on your APL?

[2018-11-19 08:24] #416 closed, assigned to juimonen, singalsu

[2018-11-19 09:06] jajanusz commented on #152
I checked it with my PR from friday that is already merged - It works. Is it still bugged on your apl with newest master?

[2018-11-19 10:20] lgirdwood commented on #574
@bardliao XRUN handling is expected to glitch, but is also expected to quickly recover back  to normal. It's a bug if playback/capture does not recover after XRUN.

[2018-11-19 10:44] markyang opened #592 "Fail to load nocodec topology on UP2"
**Summary:**
  Fail to load nocodec topology on UP2.  kernel 21947cd7 on Nov. 16 can work normally.
  sof-logger is empty.
  ls -l /lib/firmware/intel/
[code]
**dmesg:**
[code]
**Test steps:**
aplay -l
aplay: device_list:270: no soundcards found...

**Test env:**
sof master: 977fdd57
sof tool: a01fd666
kernel sof-dev: 38a7c34e
tplg: sof-apl-nocodec.tplg-a01fd666

**Log:**
[logger-apl-t.log](https:

[2018-11-19 12:48] bardliao commented on #574
@lgirdwood @plbossart @slawblauciak  The noise will not stop until next background/foreground switching. i.e. Playback may recover by another background/foreground switching, but not always. So, I think it is a bug. The issue can be seen on both SSP and HDMI playback.

[2018-11-19 12:56] lgirdwood commented on #592
@markyang it's looking for "sof-hda-generic.tplg" which is missing from your directory.

[2018-11-19 13:06] singalsu commented on #152
@mengdonglin Yep, confirmed here too with UP2 that 2ch and 4ch 16 bit capture worked OK.

[2018-11-19 14:36] lgirdwood commented on #574
@bardliao no bug, backgrounded tasks don't inherit the priority of the foreground shell they spawned from. The issue here is that userspace does not schedule aplay in the background with low enough latency that it did in the foreground.

[2018-11-19 14:37] plbossart commented on #592
It's more that you need to disable HDAudio support when you want to try
nocodec.

[2018-11-20 01:08] keyonjie commented on #401
thesofproject/linux#248 is closed.
@ranj063 please backport kernel #287 and #237 and then we can revisit this issue, this #401 issue is already fixed on my observation after applied them manually.

[2018-11-20 01:44] mengdonglin commented on #401
@ranj063 please @keqiaozhang when the backporting is done, so he can verify the solution.

[2018-11-20 01:55] keyonjie commented on #526
thesofproject/linux#287 merged to sof-dev, @ranj063 please backport it to cros branch then we can verify and close this issue on GLK.

[2018-11-20 02:04] keqiaozhang commented on #345
This issue still exists.
Tested with:
Kernel -cros-sof-v4.14-rebase: bf94547
DSP FW-glk-004-drop-stable: 1f799207
Topology-master: 8cc1dadd

[2018-11-20 03:43] xiulipan commented on #592
@plbossart
Now if we use config from kconfig, we will fallback to  `skl_hda_dsp_generic` but not `sof_nocodec`?
But the auto test of https://github.com/thesofproject/linux/pull/302 with kconfig will fall back to `sof_nocodec`. From the test logs, I find this machine driver change happens since https://github.com/thesofproject/linux/pull/282

I am quite confused here. If it means we'd like to disab

[2018-11-20 06:49] bardliao commented on #574
@lgirdwood How about https://github.com/thesofproject/sof/issues/506 ? Is it a bug? I can reproduce the issue on UP2. But if I use legacy hda driver, it works fine. ie. There is no noise on UP2 when I echo 1 to xrun_injection with legacy HDA driver. I tested with HDMI port for both SOF and legacy hda driver.

[2018-11-20 07:18] zhuyingjiang commented on #465
PR 597 https://github.com/thesofproject/sof/pull/597 is submit to solve this problem, we use the .tarball-version file to get the version number if the .git folder can't be found. So every time anyone who make a tag should also change the version number in the .tarball-version file. Now the .tarball-version file should be upstreamed.

[2018-11-20 08:04] bardliao commented on #506
@lgirdwood I can reproduce it on UP2. The output of "grep -rn SOF .config" is
845:CONFIG_HAVE_ARCH_SOFT_DIRTY=y
1029:CONFIG_MEM_SOFT_DIRTY=y
1791:CONFIG_CAN_SOFTING=m
1792:CONFIG_CAN_SOFTING_CS=m
4746:CONFIG_SOFT_WATCHDOG=m
4747:CONFIG_SOFT_WATCHDOG_PRETIMEOUT=y
6050:# CONFIG_VGACON_SOFT_SCROLLBACK is not set
6213:CONFIG_SND_SOC_SOF_PCI=m
6214:CONFIG_SND_SOC_SOF=m
6215:CONFIG_SND_SOC_SOF_NOCODEC=m

[2018-11-20 15:05] mengdonglin commented on #592
I feel we need to keep HDA link by default since SOF needs skl_hda_dsp_generic for WHL.  And OSV may also tend to enable it to support as many platforms as possible for end users in the future.

And now we enabled nocodec mode for validation.

What will happen on UP2 w/o the codec, if we enable both HDA links/codec and nocodec mode?
Ideally, we hope to fallback to the nocodec machine driver anyway

[2018-11-20 15:08] mengdonglin commented on #574
This seems to be a issue on recovering from XRUN, and probably a duplicate of #506

[2018-11-20 15:31] plbossart commented on #592
And to be clearer, we want to have the HDAudio link by default to enable HDMI but not the HDaudio codec. That's what my latest patches enable. You could have a default sof-defconfig, and then an extension that adds both SOF audio codec support and all required codecs in hdaudio-codecs-defconfig

[2018-11-20 16:04] plbossart commented on #592
Not sure why it's assigned to me, I am clearly not going to do anything about it. You can deal with the problem by changing the kconfig, or wait until https://github.com/thesofproject/linux/issues/284 is fixed. That latter issue is really the one which @keyonjie should be involved.

[2018-11-20 19:48] lgirdwood commented on #345
@michalgrodzicki looks like something on the stream close path is not being cleanly reset if its not working second time. @mmaka1 any ideas ?

[2018-11-20 19:55] lgirdwood commented on #506
@bardliao I've edited your above post using the markdown to make it easier to read. Does the FW recover from the XRUN and play correctly in this case/config/pipeline ?

[2018-11-20 20:04] lgirdwood commented on #574
@bardliao not an equal comparison with legacy driver since buffers, periods, latency and pipelines are all different.

[2018-11-21 01:33] bardliao commented on #506
@lgirdwood No, it doesn't always play correctly after the XRUN. I record the output by my cell phone and attach it for your reference. I hit the keyboard at around 2.8 sec in the recorded file, and XRUN happens after that.
[2018-11-21_08-54-36_8690.zip](https://github.com/thesofproject/sof/files/2602214/2018-11-21_08-54-36_8690.zip)

[2018-11-21 06:12] zhuyingjiang commented on #465
PR597 https://github.com/thesofproject/sof/pull/597 solved this problem, so close this issue.

[2018-11-21 11:49] tlauda commented on #531
@plbossart Can you rerun Coverity to confirm it's fixed with #598?

[2018-11-21 15:00] lgirdwood commented on #506
@bardliao can you capture this will a line in cable on a PC/laptop (quality is bad from a phone). There are also guidelines for reporting audio quality issues that @mengdonglin recently updated. Please follow these on the website.

[2018-11-21 21:01] jajanusz commented on #465
#605 reverted it, I described there what should be done.
One more thing tho:
I made tarball with `./autogen.sh && ./configure --enable-rimage && make dist` and it had .tarball-version inside it. However https://github.com/thesofproject/sof/archive/v1.2.tar.gz doesn't have it, you should look into how published tarballs are made because they look wrong

[2018-11-22 04:02] mengdonglin commented on #571
@lgirdwood  Closing this issue since the fixing is merged in latest https://github.com/thesofproject/sof/blob/master/src/ipc/apl-ipc.c

[2018-11-22 04:02] #571 closed

[2018-11-22 04:03] mengdonglin commented on #571
@lgirdwood please reopen this issue if you still see it. Thanks!

[2018-11-22 05:34] mengdonglin commented on #432
The test topology files are moved to: https://github.com/thesofproject/soft/tree/master/test/topology

[2018-11-22 05:40] xiulipan opened #608 "trace: error trace only show the latest one"
error trace only show the latest log

From @singalsu
[code]
[code]

[2018-11-22 05:42] xiulipan commented on #608
@singalsu
Reproduced you bug on AP2
Should be fixed by #607

[2018-11-22 06:00] markyang opened #609 "The sof does not work on UP2 with pcm512x."
**Summary:**
  The sof does not work on UP2 with pcm512x.
  sof-logger is empty. sof-logger -t log is attached below.
**dmesg:**
[code]

**Test steps:**
1. arecord -l
[code]

**Test env:**
sof master: 7a793433
sof tool: 6da07a91
kernel sof-dev: b846ee56
tplg: sof-apl-pcm512x.tplg-6da07a91

**Log:**
[dmesg-apl.log](https://github.com/thesofproject/sof/files/2606750/dmesg-apl.log)
[logger-apl-t.log]

[2018-11-22 06:02] xiulipan commented on #609
@tlauda @jajanusz @lgirdwood
This bug is a regression caused by https://github.com/thesofproject/sof/pull/603

[2018-11-22 07:02] markyang commented on #443
**Summary:**
This issue can be reproduced on BYT with the following 3 tplgs:
test-ssp2-mclk-0-I2S-volume-s24le-s24le-48k-19200k-codec.tplg
test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-codec.tplg
and sof-byt-rt5651.tplg(input s32le output s24le).

**Test env:**
sof master: 7a793433
sof tool: 6da07a91
kernel sof-dev: b846ee56

[2018-11-22 07:16] tlauda commented on #609
@xiulipan Then we also need to modify kernel. Let's not make any exceptions in terms of ipc replies. Every other ipc uses some kind of reply type message, even if it's the custom one.

[2018-11-22 07:19] xiulipan commented on #609
@tlauda
What do you mean by **exceptions**
@ranj063
I think the reply here will be used to store some important info at the suspend?

[2018-11-22 07:35] zhuyingjiang commented on #465
My PR is submit to master branch and only the release after that will take effect. v1.2.tar.gz is from another branch surely will not have .tarball-version  in it.

[2018-11-22 07:35] tlauda commented on #609
@xiulipan I mean, that we shouldn't use the same struct as a reply. It's not done for any other ipc. And I know, that in the future it will be used to store some info, but let's not get ahead of ourselves. Either way, the struct for reply will need to be changed.

[2018-11-22 07:42] bardliao commented on #506
@lgirdwood Thanks @keqiaozhang The recording file is attached. The file is done by loopback on GLK. We do xrun_injection in every 5 sec and there is a short pop when we do xrun_injection.  Ideally, playback will recover after the short pop but sometimes it doesn't. We can see the spectrogram has changed after XRUN. I think we can invite firmware folks to check it.
[noise.zip](https://github.com/th

[2018-11-22 07:42] zhuyingjiang commented on #465
@lgirdwood this is a issue of " build error for the archived tar ball" or a issue for "make dist", I think they are 2 issues. My PR #597 resolved the  "build error for the archived tar ball". while make dist is another issue while relating to this

[2018-11-22 07:45] xiulipan commented on #609
@tlauda
Ok, maybe we have some misuse here. @ranj063 Please give @tlauda some explanation about why the PM need use the same structure as reply.

But I still did not know what is the purpose of https://github.com/thesofproject/sof/pull/603

Why do you need the use generic reply for this CTX_SAVE IPC?

And if you need to change some IPC related stuff, please notify us ahead to have some buffer time

[2018-11-22 07:51] mengdonglin commented on #592
@xiulipan need your help to revise kconfig used by the building server to make daily image work on UP2.

[2018-11-22 08:22] zhuyingjiang commented on #465
@jajanusz @lgirdwood
A little more describe on this: we get version number from git tag, and compile need this version number for compiling. but if we release tarball with .git folder not included, the compile will fail for less the version number. My fix #597 is to resolve this.
As for why  [ https://github.com/thesofproject/sof/archive/v1.2.tar.gz]( https://github.com/thesofproject/sof/archive/v

[2018-11-22 09:26] #508 closed, assigned to bkokoszx, akloniex

[2018-11-22 10:05] tlauda commented on #609
@xiulipan Change in kernel is here: https://github.com/thesofproject/linux/pull/310.

[2018-11-22 10:09] markyang opened #611 "IPC error occurs during suspend/resume on APL"
**Summary:**
  Error message occurs on UP2 with pcm512x during the suspend/resume test.

**dmesg:**
[code]

**Test steps:**
1. aplay -Dhw:0,0 -c2 -fS16_LE -vv -i ~/Music/California_Dreaming_48k_24bit.wav
2. sudo ./stress_pm_S3.sh
[code]
**Test env:**
sof master: 43081afa
sof tool: c7028444
kernel sof-dev: 6a976e12
tplg: sof-apl-pcm512x.tplg-c7028444

**Log:**
[logger-apl.log](https://github.com/th

[2018-11-22 10:13] zhuyingjiang commented on #465
@jajanusz @lgirdwood
It seems we have wrong git tag format after v1.1, so "git descibe" always get  v1.1 even we have tagged v1.1-rc and v1.2 , a new issue?
===================git show v1.1:===>
tag v1.1
Tagger: Liam Girdwood <liam.r.girdwood@linux.intel.com>
Date:   Wed Apr 4 14:58:51 2018 +0100

v1.1

commit 082c86f9c55ccaca307fedc0341f7304278c5aaf
Author: Pierre-Louis Bossart <pierre-louis.boss

[2018-11-22 10:41] xiulipan commented on #592
@mengdonglin
Will do that after we have basic test cases.

[2018-11-22 10:45] xiulipan commented on #609
@tlauda
Thanks, wait for @ranj063 review.

[2018-11-22 11:42] lgirdwood commented on #465
@jajanusz @zhuyingjiang version 1.2 tag is missing from master tagged during the long stabilisation freeze in the stable branch whilst master churned. i.e. we could not merge stable back into master due to too many conflicts. This has been resolved for 1.3 since we are all working on master now.

[2018-11-22 14:16] lgirdwood commented on #609
@xiulipan merged.

[2018-11-23 02:58] xiulipan commented on #609
close via https://github.com/thesofproject/linux/pull/310

[2018-11-23 06:31] markyang commented on #432
**Summary:**
  This issue can be reproduced on BYT with ALC5651.

**Test env:**
sof master: e8ef1f21
sof tool:   ad3f3e4f
kernel sof-dev: 4a3aa5f3
tplg: test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-codec.tplg-ad3f3e4f

**Log:**
[logger-byt.log](https://github.com/thesofproject/sof/files/2609844/logger-byt.log)
[logger-byt-t.log](https://github.com/thesofproject/sof/files/2609847/logger-byt-t

[2018-11-23 08:47] juimonen opened #619 "SRC: possible signal overflow with 8/16/32 to 48 kHz conversions"
There's possibly similar issue in SRC as #416. So with extreme pumped up/compressed test input I can hear crackling noise in output.

[2018-11-23 09:04] mengdonglin commented on #443
@markyang could you verify the solution can solve this issue? We expect BYT can boot with the merged PR #613?

[2018-11-23 09:07] markyang commented on #443
**Summary:**
This issue cannot be reproduced on BYT with the following 3 tplgs:
test-ssp2-mclk-0-I2S-volume-s24le-s24le-48k-19200k-codec.tplg
test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-codec.tplg
and sof-byt-rt5651.tplg (input s32le output s24le).

**Test env:**
sof master: e8ef1f2
sof tool: ad3f3e4f
kernel sof-dev: 4a3aa5f3

[2018-11-23 09:08] mengdonglin commented on #432
@markyang Is Pulseaudio (PA) enabled in your test? Could you help to disable PA and check if this issue can be reproduced?

[2018-11-23 09:12] singalsu commented on #619
Thanks for testing & reporting this! Yep I will check & fix.

[2018-11-23 09:34] lbetlej opened #620 "PR #606 Build simple ROMs for CI testing of APL etc breaks compilation with xcc"
Looks like PR #606 breaks compilation of UP & SMP targets (APL, CNL etc.) with xcc.
See compilation logs of failed Internal Intel CI at https://quickbuild.igk.intel.com/build/3259834

[2018-11-23 10:11] jajanusz commented on #620
#606 it looks like gcc has some defaults that xcc is missing, idk, something like that makes it build for APL:
https://github.com/jajanusz/sof/commit/d0722090244a39c84998a58e35e7738d54426560
but I'm not sure that it should be like that.

@lgirdwood
I guess that will be needed only for qemu+gcc environment, so if there is no quickfix for xcc I can add flag like --enable-rom, so you will build it on

[2018-11-23 10:52] lgirdwood commented on #620
@jajanusz yes thanks, only needed for qemu CI boot test for each PRs, so not needed for other reasons.

[2018-11-23 11:00] jajanusz commented on #620
With #621 ROMs are build only when --enable-roms is passed to ./confgiure script

[2018-11-23 11:00] #620 closed

[2018-11-24 03:15] mengdonglin commented on #592
@markyang @DarrenxWang Please help to manually revise the kconfig to build a kernel image without HDA support to  test UP2 in nocodec mode, before the the building server support is ready.

[2018-11-24 04:03] mengdonglin commented on #611
@markyang Please share more information here:
-  attach the test script ./stress_pm_S3.sh
-  How many iterations will trigger the error message
-  Can system resume back from S3 and audio driver/firmware resume?

[2018-11-24 14:04] Jocelyn-Li commented on #433
https://github.com/thesofproject/linux/pull/291 is to fix this issue.

[2018-11-26 02:08] markyang commented on #609
**Summary:**
  This issue cannot be reproduced on UP2 w/ pcm512x any more.

[2018-11-26 03:27] markyang opened #625 "Failed to load DSP topology on UP2 w/ pcm512x."
**Summary:**
  Failed to load DSP topology on UP2 w/ pcm512x.
  Both 'sof-logger' and 'sof-logger -t' are empty.

**dmesg:**
[code]

**Test steps:**
aplay -l
aplay: device_list:270: no soundcards found...

**Test env:**
sof master: 6e14892b
sof tool: ad3f3e4f
kernel sof-dev: aff80d74
tplg: sof-apl-pcm512x.tplg-ad3f3e4f

**Log:**
[dmesg-apl-pcm512x.txt](https://github.com/thesofproject/sof/files/26

[2018-11-26 06:47] libinyang commented on #432
The bug is caused that pulseaudio will open/close pcm so frequently and the channels are not released, which will cause the channel is not enough.

[2018-11-26 07:37] markyang commented on #625
It was also reproduced using the latest kernel(aff80d74) + fw on NOV 23(e8ef1f21).
It wasn't reproduced using the kernel on NOV 23(4a3aa5f3) + the latest fw(6e14892).
sof-apl-pcm512x.tplg is unchanged all the time.

[2018-11-26 08:00] markyang commented on #592
**Summary:**
  This issue cannot be reproduced on UP2  w/t codec any more.

**Test env:**
sof master: 6e14892
sof tool: ad3f3e4
kernel sof-dev: aff80d74
tplg: sof-apl-nocodec.tplg-ad3f3e4f

[2018-11-26 10:08] markyang commented on #432
**Summary:**
  This issue cannot be reproduced on BYT w/ ALC5651.

Test env:
sof master: 6e14892
sof tool: ad3f3e4
kernel sof-dev: aff80d74
tplg: test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-codec.tplg-ad3f3e4 and
        test-ssp2-mclk-0-I2S-volume-s24le-s24le-48k-19200k-codec.tplg-ad3f3e4

[2018-11-26 10:49] mengdonglin commented on #625
@markyang Could you help check if HDA support is disabled in the testing kconfig? If disabled, please enable it and check again.

The UP2 connected with the HiFiberrry 512 codec needs HD-A support:
https://github.com/thesofproject/soft/blob/master/topology/sof-apl-pcm512x.m4

[2018-11-26 10:53] markyang commented on #611
@mengdonglin

- attach the test script ./stress_pm_S3.sh
  -- The scripts was already attached after step 2.
- How many iterations will trigger the error message
  -- The error message was triggered at the first time.
- confirm if system can resume from S3 and audio can resume successfully and playback can still work?
  -- system can resume from S3 and playback can work. but 'pcm_write' error will

[2018-11-26 15:55] singalsu commented on #625
@mengdonglin That worked for me, thanks!

[2018-11-26 18:50] plbossart opened #629 "SSP: need to support MCLK/BCLK/LRCLK on-demand on/off capabilities"
Some codecs need the MCLK/BCLK/LRCLK to be on before streaming starts (typically 100s of ms to avoid clicks/pops), see e.g. https://elixir.bootlin.com/linux/latest/source/sound/soc/intel/boards/kbl_rt5663_max98927.c#L86 for RT5663

The SSP IPC supports keeping the clock on a boot via the clks_control field, but it's not currently implemented. We would also miss IPC support for on/off requests on-d

[2018-11-26 20:12] plbossart opened #630 "Multiple DAI support: need split/merge capabilities"
Our hardware friends are creative people, and with multiple SSPs exposed on the SOC the hardware connectivity varies. For example for the same RT5640 codec we have 4 different ways of passing I2S data (SSP0-AIF1, SSP0-AIF2, SSP2-AIF1, SSP2-AIF2). We have similar issues with ApolloLake devices, with SSP0/1/5 used for different peripherals on different boards. The connectivity is often determined at

[2018-11-26 20:15] plbossart commented on #625
@markyang please retest with the latest defconfigs. What you need for HDMI support is CONFIG_SND_SOC_SOF_HDA_LINK=y

[2018-11-27 00:25] plbossart opened #631 "DAI: Need echo reference stream"
Since all processing on playback pipelines isn't guaranteed to be linear, we need to provide an echo reference to either userspace or DSP capture pipelines. Alternatively this echo reference might be provided by an external component (e.g. amplifier w/ DSP capabilities) and extracted from a TDM stream.

[2018-11-27 00:37] plbossart opened #632 "topology: need virtual widgets for legacy boards"
We can remove patches for Linux machine drivers by declaring virtual widgets in BYT/CHT topology files:

[code]

[2018-11-27 03:03] libinyang commented on #432
patch is submitted:
https://github.com/thesofproject/sof/pull/633

[2018-11-27 03:30] markyang commented on #625
@mengdonglin @plbossart  yes, HDA is not set in daily build. I will compile a now kernel and retest it.
\# CONFIG_SND_SOC_SOF_HDA_LINK is not set

[2018-11-27 03:45] xiulipan commented on #625
@markyang
Have you try the daily-hda kernel?

[2018-11-27 05:35] mengdonglin commented on #625
@markyang @xiulipan CONFIG_SND_SOC_SOF_HDA_LINK is needed and but we don't the HDA codecs.

[2018-11-27 05:53] markyang commented on #625
**Summary:**
 This issue cannot be reproduced on UP2 w/ pcm512x if HDA is enabled.

**Test env:**
sof master: 443233c9
sof tool: ad3f3e4f
kernel sof-dev: 0f80099c
tplg: sof-apl-pcm512x.tplg-ad3f3e4f

[2018-11-27 06:01] keqiaozhang commented on #401
Confirmed that this issue is fixed with top of cros-sof-v4.14-rebase branch.
Tested with:
kernel-cros-sof-v4.14-rebase: f8f388ef
sof-master: 443233
tplg-master: ad3f3e4f

[2018-11-27 06:01] #401 closed

[2018-11-27 06:07] markyang commented on #625
@xiulipan the daily-hda kernel worked fine. I've already updated my download scripts.

[2018-11-27 06:44] keqiaozhang commented on #526
Confirmed that this issue is fixed.
Tested with:
kernel-cros-sof-v4.14-rebase: f8f388ef
sof-master: 443233
tplg-master: ad3f3e4

[2018-11-27 06:44] #526 closed

[2018-11-27 07:05] keqiaozhang commented on #583
@slawblauciak
I got the same result as you. The noise happens only when pausing or releasing the playback and goes away after <1 second and the possibility is low, less than 5%.
Before the noise will last until next pause/release.
Tested with
kernel-cros-sof-v4.14-rebase: f8f388ef
sof-master: 443233
tplg-master: ad3f3e4

[2018-11-27 08:23] markyang opened #637 "Stress: Failed to restore the playback from S3 after more than 80 suspend/resume."
**Summary:**
  Failed to restore the playback from S3 after more than 80 times suspend/resume.
  sof-logger is empty. sof-logger -t log is attached below.

**dmesg:**
[code]

**Test steps:**
1. aplay -Dhw:0,0 -c2 -fS16_LE -vv -i sine-16k-1h-stereo-1k.wav #playback a long sine
2. sudo ./stress_pm_S3nocheck.sh

**Test env:**
sof master: 6e14892b
sof tool:   ad3f3e4
kernel sof-dev: 4a3aa5f3
tplg: sof

[2018-11-27 16:00] mengdonglin commented on #625
@markyang Please help to verify this issue after the daily image is updated.

[2018-11-27 16:03] #609 closed

[2018-11-28 01:34] libinyang commented on #432
@markyang
The patch is merged.

[2018-11-28 06:17] keqiaozhang opened #642 "sof-logger error"
Today I tried the new sof-logger( in sof repo, under /tools/logger/sof-logger), but run to the following error:
[code]
But sof-logger in soft repo is working well.

Tested with:
kernel-cros-sof-v4.14-rebase: f8f388ef
sof-master: 31cde1
tplg-master: ad3f3e4

[2018-11-28 06:39] cujomalainey commented on #642
The logger should be exactly the same with the same history as the top of SOFT. I think something is a little strange here.

[2018-11-28 06:45] markyang opened #644 "Fail to config HDA DAI on UP2 platform with pcm512x codec"
**Summary:**
    Fail to config HDA DAI on UP2 platform with pcm512x codec.
    This issue cannot be reproduced with the same kernel and firmware (443233c) on Nov. 27, so it seems to be a firmware regression.

**dmesg:**
[code]

**sof-logger:**
[code]

**Test steps:**
aplay -l
[code]

**Test env:**
sof master: 31cde1ce
sof tool: ad3f3e4f
kernel sof-dev: 4fd5f872
tplg: sof-apl-pcm512x.tplg-ad3f3e4f

[2018-11-28 06:48] keqiaozhang commented on #644
This issue is same as thesofproject/linux/issues/322.

[2018-11-28 08:07] markyang commented on #432
Summary:
This issue cannot be reproduced on BYT w/ ALC5651 anymore.
fixed by PR #633

[2018-11-28 08:07] #432 closed

[2018-11-28 08:08] mengdonglin commented on #533
@plbossart Closing this issue. Please reopen if you still see the bug. Thanks!

[2018-11-28 08:08] #533 closed

[2018-11-28 08:40] keyonjie opened #645 "FW can't recover from DAI Xrun"
On APL, I found this issue during debugging https://github.com/thesofproject/linux/issues/266, when doing simultanious playback and capture, sometimes Xrun will happen, and we can't recover from Xrun, and DSP even panic, no any further IPC is sent to driver.

How to reproduce:
repeat run: aplay -Dhw:0,1 test.wav -d 5 & arecord -Dhw:0,1 -f dat -c 2 test9.wav -d 5

dmesg:
[code]

sof-logger error tr

[2018-11-28 08:43] keyonjie commented on #642
yes I see the same issue today.

[2018-11-28 08:45] tlauda commented on #25
@lgirdwood @mmaka1 Is it already covered by the new logger and FW core dump parsing feature?

[2018-11-28 08:47] tlauda commented on #27
@lgirdwood @mmaka1 Can we close this as basic unification was done?

[2018-11-28 08:51] tlauda commented on #225
@ZhendanYang Any update?

[2018-11-28 09:39] markyang commented on #592
**Summary:**
This issue cannot be reproduced on nocodec UP2 with kernel on Nov 26.
This issue can be reproduced on nocodec UP2 with kernel on Nov 28.

**Test env:**
sof master: 31cde1c
sof tool: ad3f3e4
kernel sof-dev: 4fd5f872
tplg: sof-apl-nocodec.tplg-ad3f3e4f

**Log:**
[config-4.19.0-daily-20181128.txt](https://github.com/thesofproject/sof/files/2623767/config-4.19.0-daily-20181128.txt)
[confi

[2018-11-28 09:54] mengdonglin commented on #644
Closing this since it's a duplicate of thesofproject/linux/issues/322.

[2018-11-28 09:54] #644 closed

[2018-11-28 10:02] mengdonglin commented on #645
@keyonjie @slawblauciak Could this be the same issue of https://github.com/thesofproject/sof/issues/506？

[2018-11-28 10:15] bkokoszx commented on #642
Hi @keqiaozhang
Could you try to rebuild rimage, then sof ad try to reproduce issue?

[2018-11-28 10:18] keyonjie commented on #645
@mengdonglin this Xrun is initiated by FW so it's different with that injected from host.

[2018-11-28 10:34] mengdonglin commented on #608
Closing as fixed.

[2018-11-28 10:34] #608 closed

[2018-11-28 11:17] lgirdwood commented on #629
This could be done with another optional IPC sent during prepare() and before trigger.

[2018-11-28 11:39] tlauda commented on #257
@plbossart Please verify with #646.

[2018-11-28 11:43] tlauda commented on #258
@plbossart section[hdr->e_shstrndx].sh_size is typedefed as uint32_t, so it cannot be negative nor we shouldn't be bothered with max value. What do you propose to add here? I feel, that checking against negative or zero values is a little bit overkill.

[2018-11-28 11:54] jajanusz commented on #257
I wonder why tool complained just about 1 line, but it's wrong in 2 places, also here:
https://github.com/thesofproject/sof/blob/4bd543c337615bdd630d0fecef0dced06301a8f9/rimage/pkcs1_5.c#L191

[2018-11-28 12:13] xiulipan commented on #225
@tlauda
I think we can close this issue. Since no more rmbox is working now.

[2018-11-28 12:13] #225 closed

[2018-11-28 12:57] singalsu commented on #586
I'm now testing a fixed EQs system. It works for me and I will publish today PRs for kernel and FW to address this.

Once SOFT is merged to SOF I can make PR for topologies. I have the tools fixed too but that will need to steps. A quick fix PR would be soon ready. The later proper fix PR will have similar Matlab objects ABI as the C headers.

[2018-11-29 06:06] markyang commented on #642
**Summary:**
  This issue can be reproduced on BYT with ALC5651.
**Test env:**
sof master: 920a3bce
sof tool:   ad3f3e4f
kernel sof-dev: 405e866b
tplg: test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-codec.tplg-ad3f3e4f

[2018-11-29 06:25] markyang opened #648 "Failed to restore the playback from S3 on BYT with ALC5651."
**Summary:**
  Failed to restore the playback from S3 on BYT with ALC5651 everytime.
  sof-logger was blocked by [sof/issues/642](https://github.com/thesofproject/sof/issues/642)

**dmesg:**
[code]

**Test steps:**
1. aplay -Dhw:0,0 -c2 -fS16_LE -vv -i ~/Music/18_WAV_48000Hz_stereo_16bit.wav
2. echo mem > /sys/power/state

**Test env:**
sof master: 920a3bce
sof tool:   ad3f3e4f
kernel sof-dev: 405

[2018-11-29 08:40] markyang opened #649 "pulseaudio did not work on BYT with ALC5651"
**Summary:**
  pulseaudio did not work on BYT with ALC5651.
  sof-logger is empty. sof-logger -t log is attached below.

**Test steps:**
1. aplay -Dhw:0,0 -c2 -fS16_LE -vv -i ~/Music/18_WAV_48000Hz_stereo_16bit.wav # OK
2. paplay ~/Music/18_WAV_48000Hz_stereo_16bit.wav # no voice
3. aplay -Dhw:0,0 -c2 -fS16_LE -vv -i ~/Music/18_WAV_48000Hz_stereo_16bit.wav # OK

**Test env:**
sof master: 920a3bce

[2018-11-29 08:54] mengdonglin commented on #648
@markyang  I think SOF doesn't support power management on BYT. So this bug can be invalid.

@lgirdwood @ranj063 @xiulipan Please correct me if I'm wrong.

[2018-11-29 11:06] markyang commented on #642
Because the version change in abi.h, if the following steps were done, it will be OK:
1. git clean -dxf

2. rebuild rimage:
auotgen.sh
./configure --enable-rimage
make
sudo make install

3: rebuild sof-apl.ldc

[2018-11-29 11:38] keqiaozhang commented on #642
Thanks @markyang  and @bkokoszx
This issue can be closed now.

[2018-11-29 11:38] #642 closed

[2018-11-29 15:08] lgirdwood commented on #25
yep, I guess we can close this now.

[2018-11-29 15:08] #25 closed

[2018-11-29 15:15] lgirdwood commented on #649
@markyang  log is corrupt
[code]
How are you creating/attaching log ?

Btw, paplay issues are not supported as they use a different PA config to aplay.

[2018-11-29 15:16] lgirdwood commented on #583
@keqiaozhang can you provide some audacity screens shots and wav of the noise. Thamks

[2018-11-29 15:20] lgirdwood commented on #637
Two points

1) Driver sends STOP after resuming stream ???
[code]

2) FW timeout cause by STOP (should either return error or stop).

[2018-11-29 15:33] lgirdwood commented on #27
@mmaka1 fine by me, Ok with you ?

[2018-11-29 15:39] lgirdwood commented on #645
@keyonjie what pipeline are you using ? Is it all HDA endpoints, or does the same thing happend on non HDA endpoints like BYT. @mengdonglin can you confirm for BYT to rule out generic code and help point to HDA logic.

[2018-11-29 15:44] lgirdwood commented on #648
@markyang S3 not supported on BYT Minnowboard.

[2018-11-29 22:25] cujomalainey opened #653 "Modify version tagging to make reproducible release builds"
Ideally it would be nice if release builds were reproducible by local builders. Currently with the way version.sh is setup that is not possible because it includes a build number and timestamp in the header which cannot be reproduced by local builders. For dev builds this is fine but for a release builds it would be ideal to disable this or set it to fixed values so one could run a sha checksum co

[2018-11-30 04:50] keyonjie commented on #645
@lgirdwood both playback and capture are I2S/SSP endpoints.

[2018-11-30 04:59] xiulipan commented on #653
@cujomalainey
I think @ranj063 adn @lgirdwood had some patch to remove the timestamp and build number for the release build from https://github.com/thesofproject/sof/pull/524 and https://github.com/thesofproject/sof/pull/529
The default build now is release version that only contains the git commit hash.

Please check if it meet you requirement.

[2018-11-30 07:29] stevyan commented on #625
**Summary:**
This issue cannot be reproduced on UP2 w/ pcm512x without HDA.

Test **env:**
sof master: d189651
sof tool: d189651
kernel sof-dev: 2a933464
tplg: sof-apl-pcm512x.tplg-d189651d

[2018-11-30 07:34] keqiaozhang commented on #583
@lgirdwood
I tested a lot with 48K sine wave, but failed to reproduce it.
@slawblauciak
Could you help to provide the audacity screens shots? I cannot play 8k sine wave without the plug plugin on Yorp.

[2018-11-30 07:35] stevyan commented on #644
**Summary:**
This issue cannot be reproduced on UP2(pcm512x) with HDA configuration enabled.

**Test env:**
sof master: d189651
sof tool: d189651
kernel sof-dev: 2a933464
tplg: sof-apl-pcm512x.tplg-d189651d

**Reference:**
test@cd-apl-up2-pcm512x-01:~$ uname -a
Linux **cd-apl-up2-pcm512x-01 4.19.0-daily-hda-20181130** #88 SMP Fri Nov 30 06:59:17 CST 2018 x86_64 x86_64 x86_64 GNU/Linux
test@cd-apl-

[2018-11-30 07:36] slawblauciak commented on #583
@keqiaozhang you shouldn't need the plug if the sampling rate is 48 kHz. Just the sinewave should be at 8 kHz.

I will try to provide you with a screenshot

[2018-11-30 08:11] keqiaozhang commented on #583
Thanks @slawblauciak. I misunderstood, I just generated a 48K_16bit_2ch_800hz sine wav.  I will try it again.

[2018-11-30 08:41] #625 closed

[2018-11-30 09:51] zhuyingjiang commented on #465
@jajanusz I see in current "make dist", the autogen.sh and the scripts/ folder are removed from the tarball, are you still working on this? if yes, remove these files is intended or we need fix as the previous version tarball release do ?  What will be the compile steps after uncompressed the tarball? do ./configure --enable-rimage first?

[2018-11-30 10:00] zhuyingjiang commented on #465
@lgirdwood Since the title and depict of this issue is about "fix the build error", but in fact it is the "make dist" feature can't work. Shall we close this issue and new a "make dist" for more efficiency track? Or at least  change the title of this issue? I see changes between old tarball release and the current one, and the current tarball release exclude autogen.sh and the scripts/ folder, is

[2018-11-30 15:54] lgirdwood commented on #649
@mengdonglin paplay is not supported, if it plays silce with no DSP or driver errors then it's a PA routing/volume issue and not a SOF bug. If there are kernel IPB bus or logger errors then keep this open otherwise it should be closed.

[2018-11-30 20:58] cujomalainey commented on #653
@xiulipan thanks for the headsup, we should add that to the docs so everyone is aware of that when building releases

[2018-12-03 03:51] xiulipan commented on #653
@cujomalainey
I will close this issue and track with a sof-doc issue.

[2018-12-03 03:51] #653 closed

[2018-12-03 08:08] mengdonglin commented on #649
Previously Keqiao tested paplay on Minnowboard with ALC5651 codec.  We can check if this is a PA routing issue caused by both legacy-HDA and SOF sound cards being enabled on Minnow and PA routes audio to legacy HD-A (HDMI audio) by default.

@markyang could you help to list and share the audio devices seen by both ALSA and Pulseaudio?
(1) aplay -l
(2) pacmd

[2018-12-03 09:09] markyang commented on #506
The content of xrun_injection.sh:
[code]

[2018-12-03 09:32] markyang opened #660 "Failed to set DAI config for SSP4 on UP2 w/o codec"
**Summary:**
  Failed to set DAI config for SSP4 on UP2 w/o codec.
  This issue cannot be reproduced with the same kernel and the firmware on Nov. 26, so it seems to be a firmware regression.
  sof-logger is empty. sof-logger -t log is attached below.

**dmesg:**
[code]

**Test steps:**
aplay -l
aplay: device_list:270: no soundcards found...

**Test env:**
sof master: e94a34fc
kernel sof-dev: de1f

[2018-12-03 13:47] lgirdwood commented on #645
@keyonjie ok, looks like HDA host GW DMA becomes out of sync with DW DMA.

[2018-12-03 14:52] mengdonglin commented on #506
@slawblauciak Here are the steps used by Bard to reproduce this issue:

1.	enable XRUN debug in chromeos-intel-pineview.flavour.config:
+CONFIG_SND_DEBUG=y
+CONFIG_SND_DEBUG_VERBOSE=y
+CONFIG_SND_PCM_XRUN_DEBUG=y
2.	build and update kernel
3.	sudo su -switch to supper user
4.	aplay -Dhw:0,1 -f dat -c 2 audio.wav
5.	Inject xrun during the playback: echo 1 > /proc/asound/card0/pcm1p/sub0/xrun_inject

[2018-12-03 15:40] mengdonglin commented on #649
@lgirdwood It seems we need more debugging here. There is only 1 sound card and 1 pcm sink device. The wav is same as the sample spec of this sink.

@markyang Thanks for the info! Could you help to further check if there is any difference on the amixer settings when you're use aplay and paplay?

[2018-12-03 19:13] ranj063 opened #662 "logger complains about abi mismatch"
While trying to run the logger with the latest SOF master, I see the error:
Error: abi version in sof-apl.ldc file does not coincide with abi version used by logger

[2018-12-03 19:13] ranj063 commented on #662
kernel branch: cros-sof-v4.14-rebase
topology: SOF master (sof-glk-da7219.m4)

[2018-12-03 20:36] ranj063 commented on #662
@lgirdwood yes I used SOF master for logger, topology and firmware. I will send the PR

[2018-12-03 21:29] lgirdwood commented on #662
Thanks, btw ABI going through some changes to make all this go away with future ABI updates, hence the failures atm. Some more ABI PRs pending shortly.

[2018-12-04 05:38] mengdonglin commented on #662
Need to monitor
https://github.com/thesofproject/sof/pull/663
https://github.com/thesofproject/sof/pull/664
and further kernel update to fix this issue.

[2018-12-04 06:34] stevyan commented on #662
**Summary:**
Issue isn't seen both on the APL (pcm512x ) & BYT (rt5651):

**Test Env:**
sof master: b3692cd7
sof tool: b3692cd7
kernel sof-dev: d72b338b
tplg: sof-apl-pcm512x.tplg-b3692cd7, sof-byt-rt5651-b3692cd7.tplg

[2018-12-04 06:50] mengdonglin commented on #649
@lgirdwood Okay, let's set it to a low priority.

[2018-12-04 08:03] mengdonglin commented on #660
@markyang Could you help to locate the regression point?

[2018-12-04 09:15] xiulipan commented on #662
@stevyan
Are you sure about the test case?
I used the latest logger and still see the error. But some older logger have no such issues

[code]

[2018-12-04 09:18] xiulipan commented on #662
@ranj063
From you log, it seems we got some wrong ldc abi version.
`33554432 `is `0x2000000`, thus the SOF_ABI_VERSION_MAJOR is 2.

[2018-12-04 09:37] xiulipan commented on #662
@stevyan @bkokoszx @akloniex
Retest with build server binary, no error.
Confused about why the original bug happen.

[2018-12-04 09:38] bkokoszx commented on #662
@ranj063
Could you try to rebuild rimage, then SOF and afterwards try to reproduce issue?

[2018-12-04 14:47] jajanusz commented on #228
@lgirdwood
For initial version I want to support targets that we already use:
[code]

+What's below ->

Targets related to Kconfig:
[code]
Kernel-like make parameters:
[code]
Arch-specific targets, like:
[code]

If you need something else to be done kernel-like way or some that's specific to our project please let me know.

[2018-12-04 19:23] ranj063 commented on #662
@bkokoszx yes this problem does go away after building rimage.
I just realized that BUILD_RIMAGE is set to 0 in the xtensa_build_all script.
I thought we always build rimage before building the FW.

@xiulipan do you know why we changed this?

[2018-12-05 03:34] xiulipan commented on #662
@ranj063
That maybe some old code remaining. I was intend to have some args to set rimage build to speed up CI build and local build. That change is gone somehow, but the flag used for it is still in the scripts.
Let me have some fix for that.

[2018-12-05 04:38] zhuyingjiang opened #670 ""make dist" to release sof tarball"
Make tarball release of SOF, using the version number getting from git tag. automatically  generate sof-x.y.tar.gz.

[2018-12-05 04:40] zhuyingjiang commented on #465
Close this issue, #670 to support the feature of "make dist" to do the tarball release.

[2018-12-05 04:40] #465 closed

[2018-12-05 05:32] libinyang commented on #649
Please run `pactl set-sink-volume 0 80%` before paplay.

[2018-12-05 05:59] mengdonglin commented on #662
@xiulipan will rimage building be optional or based on the change of its dependencies?

[2018-12-05 06:00] mengdonglin commented on #660
#662 is solved by rebuilding rimage and so is not a blocker.

[2018-12-05 06:40] markyang commented on #660
@mengdonglin the same kernel and topology, only the firmware was changed.

[2018-12-05 08:10] jajanusz commented on #670
I can add tar packaing that follows kernel convention, so it will be something like `make tar-src-pkg`.
Only issue that it has comparing to autotools' `make dist` is that it has to be done in git repository (I guess it's nonissue at all). Other than that it's easier to develop, cos it's based on git-archive feature and easier to maintain, cos developers don't have to add anything to makefiles so `

[2018-12-05 09:44] DarrenxWang opened #671 "Playback is silent on WHL RVP"
Summary:
Playback by headset is silent on WHL RVP

dmesg:
no error

Test steps:
aplay -D hw:0,0 -r 48000 -c 2 -f s16_le Music/California_Dreaming_48k_24bit.wav -vv

Expected result:
Sound can be heard from the headset during playback.

Actual result:
The headset is silent.

Test env:
sof master: 12e11b76
kernel sof-dev: d0fbf1c6
tplg: sof-hda-generic.tplg.tplg-12e11b76

Log:
[dmesg.log](https://gi

[2018-12-05 10:14] lgirdwood commented on #228
Looks good to me :) We probably also need "make tools" instead or make rimage as this would include all tools and also "make topology" (@bkokoszx is splitting topology out of tools to make this easier).

[2018-12-05 10:29] lgirdwood commented on #671
@DarrenxWang what output are you expecting audio from and what are the alsamixer settings ? ASLA setting can be dumped to text file and attached using "alsactl store -f filename"

[2018-12-05 12:30] jajanusz commented on #228
I'd leave tools as they are for initial support, they have their own buildsystem anyway and we can quickly port them to kconfig after it's done for FW. Rimage is a bit different, tbh it should be just built as hostprogs for `make bin` target, `rimage` target is going to be somewhere in makefile but there should be no need to invoke it explicitly.

[2018-12-05 15:10] mengdonglin commented on #671
@lgirdwood This error is not caused by amixer setting.  @RanderWang confirmed that this regression is caused by he revised the DAI format from 32 bit to 24 bit, and need further debugging on firmware side. He found both playback and capture by ALC700 is silent now.

[2018-12-05 15:11] mengdonglin commented on #671
@DarrenxWang However, please help to share the amixer settings. It will be helpful to involve firmware engineers for further debugging.

[2018-12-06 02:34] libinyang commented on #660
This bug is caused by commit: 9bebdbf.

The root cause is dma channel is allocated statically now in 9bebdbf, which will cause dma channels are not enough for nocodec mode.

[2018-12-06 03:03] libinyang commented on #649
@markyang
Could you please verify if pactl cmd can fix this issue?

[2018-12-06 06:59] markyang commented on #649
@libinyang  Neither ```pactl set-sink-volume 0 80%``` nor ```paplay --volume=50000 xxx.wav``` works.

[2018-12-06 08:21] lgirdwood commented on #662
@ranj063 I hit this, but it's because the top level Makefile does not recurse into the tools directory to re-make the tools. You need to do this manually.

[2018-12-06 08:56] markyang opened #675 "Failed to set sof-audio hw params after the device was resumed from S3 on BYT with ALC5651."
**Summary:**
  Failed to set sof-audio hw params after the device was resumed from S3 on BYT with ALC5651.
  Both 'sof-logger' and 'sof-logger -t' are empty.

**dmesg:**
[code]

**Test steps:**
1. disable pulseaudio first(rm /usr/bin/pulseaudio),
2. sudo reboot
3. aplay -l  #
**** List of PLAYBACK Hardware Devices ****
card 0: sofbytcrrt5651 [sof-bytcr-rt5651], device 0: Passthrough (*) []
  Subde

[2018-12-06 09:20] markyang commented on #648
@xiulipan I've created a new issue to follow the 'sof-audio hw params failed' error( thesofproject/sof/issues/675 ). we can close this one.

[2018-12-06 12:24] mmaka1 opened #676 "Use vec_mem***() functions on xtensa based platforms w/ co-processor"

[2018-12-06 14:07] keyonjie commented on #645
@slawblauciak do we have easy way to disable Xrun recover for debugging purpose? e.g. reset or stop the pipeline and waiting for free cmd.

[2018-12-06 14:12] slawblauciak commented on #645
@keyonjie unfortunately no

[2018-12-06 15:39] lgirdwood commented on #675
@markyang Minnowboard does not support S3, can you try this on another BYT/CHT/BSW based board like Asus T100, or RVP.

[2018-12-06 15:41] lgirdwood commented on #645
@keyonjie @slawblauciak let me add a container for these flags in ABI update

[2018-12-06 17:16] plbossart opened #680 "debug: fault injection: block on IPC after configurable time"
To test the Linux driver error flow, add in the firmware an infinite loop triggered after N IPC messages. This is a static compilation time choice and of course not something that goes in production.
N can be :-
0: boot fails on first IPC.
~100: topology fails
~1000: PCM streaming fails.

As a refinement, the infinite loop can also be time limited to simulate temporary glitches where a single IPC

[2018-12-06 17:17] plbossart opened #681 "debug: fault injection: sign firmware with invalid key"
To make sure the Linux driver error flows get tested in a regular basis, add an invalid key to check how the driver probe releases all allocated resources.

[2018-12-06 17:20] plbossart opened #682 "topology: add bad configurations to test IPC errors"
add e.g. unsupported MCLKs rates, invalid SSPs or obvious mistakes to check how Linux deals with topology errors. Those bad configurations shall be used only to test that that the driver releases all allocated resources and the modules can be reloaded once a valid topology file is provided.

[2018-12-06 17:42] plbossart commented on #586
@singalsu both kernel and firmware are fixed, can this be closed or do you still have topology/tools updates?

[2018-12-06 20:46] lgirdwood opened #683 "logger output delayed by 1hr 11mins after boot on BYT/CHT"
Logger output is delayed by over an hour (~1hr 11mins)  on BYT/CHT platforms. It looks like either first timer work is delayed or notifications are blocked for > 1hr
[code]

[2018-12-06 22:08] plbossart commented on #683
On 12/6/18 2:46 PM, Liam Girdwood wrote:

|something's already wrong here.|

|and here, an error isn't propagated. At this point do you even care
about traces?|

[2018-12-06 22:14] plbossart commented on #683
Looking at the kernel, this should be trapped here:
[code]
Looks like we have the wrong test or something happens. You should not even go past that point

[2018-12-07 02:45] zhuyingjiang commented on #670
@jajanusz Good to know, let's follow kernel convention. And there is a problem with previous "make dist" is that it can't compile using the same compile steps in git after untar the tarball. Please note me when your solution is ready, I will double check and make it work with this.

[2018-12-07 02:49] Jocelyn-Li commented on #433
@RanderWang can this be closed as thesofproject/linux#291 was merged?

[2018-12-07 03:15] markyang commented on #675
@lgirdwood mengdonglin let me check if this is only a sof-audio issue or not. if it's just a system issue, we'll close it at once. I'll attach more info later.

[2018-12-07 04:10] mengdonglin commented on #660
@libinyang @RanderWang Could you help to clarify if "dma channel is allocated statically now in 9bebdbf" applies to both HD-A and SSP backend DAI and caused dw-dma channels are exhausted for SSP4?

[2018-12-07 04:40] libinyang commented on #660
Yes, the issue is because the channels are exhausted.

[2018-12-07 05:19] markyang commented on #649
**Summary:**
  This issue cannot be reproduced on BYT with ALC5651 using the latest build.

**Test env:**
sof master: b5d6c71b
kernel sof-dev: a71221dc
tplg: test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-codec.tplg

[2018-12-07 05:39] keyonjie commented on #660
the dmac1 unable to be used in current implementation, we need fix that.

[2018-12-07 06:09] mengdonglin commented on #660
@keyonjie Sounds good. Thanks for the root cause and there is no blocker now.

[2018-12-07 06:13] RanderWang commented on #660
this is not a bug。please refer to https://github.com/thesofproject/sof/commit/b30658d4f7a2cea334b93d4f02b313cfe1c4978e#diff-9f8de02ec82000817dd1a9bbccac158c

First dma channel is allocated at dai_new, then marcin moved it to dai_param. It is for HDA, not for I2S.
this topology should be failed before marcin's change.

[2018-12-07 06:13] libinyang commented on #660
OK. So what if we add a count for dma_get() as we certainly will call get channel if we get dma. If we have already got dma as many times as its channel number, we will use next dmac?

[2018-12-07 06:34] zhuyingjiang commented on #671
The result is 16bit and 32bit can play, but with noise, 24bit is silent. Capture can't work. I will debug on this.

[2018-12-07 08:31] michalgrodzicki commented on #550
@keqiaozhang @dabekjakub what is a status?

[2018-12-07 09:15] dabekjakub commented on #550
I am currently working on it. There were some problems along the way resulting in fix of a memory leak.
https://github.com/thesofproject/sof/pull/673
Currently i am resolving issue with filling pattern initially on whole memory map. It crashes on all platforms.

[2018-12-07 12:54] singalsu commented on #586
Yes, it works now. I'll improve later the the Matlab tools support for ABI but there's no need to keep this open.

[2018-12-07 12:54] singalsu commented on #586
Closing.

[2018-12-07 12:54] #586 closed

[2018-12-07 15:20] keyonjie commented on #645
if so, FW should only reset hardware buffer pointers and then sending an IPC to driver and waiting for synchronization before schedule again. after driver handled the Xrun IPC(and acked), FW can try to schedule next copy.

does this make sense?

[2018-12-07 18:48] ranj063 opened #686 "4ch 16-bit DMIC recording for v0.55 has dc at the beginning of recording"
Please find the recorded sample here: https://drive.google.com/file/d/1Oz6uWxcdCedkXCkLsj-Z6iCWnx1zL8xE/view?usp=sharing

Recorded on GLK chromebook

[2018-12-07 19:38] plbossart commented on #660
This thread is difficult to follow.  Are we in agreement that
a) there are 16 GP-DMA channels which can be used for SSP/DMIC, and those represent the worst-case we will ever have in terms of physical interfaces (max 2*6 SSPs + 4 DMIC). we are not in a case where we miss DMA channels and have to deal with dynamic allocation based on use cases.
b) the addition of HDAudio/iDISP has no bearing on noco

[2018-12-10 05:52] libinyang commented on #660
@plbossart

Yes, mostly you are right. The most issue is the sof code issue and a little other HW limitations.
1. sof code issue.
Currently SOF dma_get() will not check its sref and it only check num_channels_busy. However SOF code will call dma_get() for firstly for all components and then dma_channel_get() later. So we will always assign dmac0.
Patch https://github.com/thesofproject/sof/pull/687

[2018-12-10 06:04] xiulipan commented on #683
@lgirdwood
You mean that you leave a BYT boot and let it there, then after 1 hr you see the dma-trace IPC comes?

I know in some situation that this may happen: https://github.com/thesofproject/sof/issues/286
Our work timer will fail to trigger the wok if the work is rescheduled too close that when it actually handled to be some time in the past. Thus it will wait to be run next round as the timer

[2018-12-10 07:18] markyang opened #694 "DSP panic occurred after the firmware boot on BYT with ALC5651"
**Summary:**
  DSP panic occurred after the firmware boot on BYT with ALC5651.
  This issue cannot be reproduced with the same kernel & topology, and the firmware on Dec. 7, so it seems to be a firmware regression.
  sof-logger failed: ```Unable to open in file /sys/kernel/debug/sof/etrace```
  sof-logger -t is empty
**dmesg:**
[code]

**Test steps:**
1. $ aplay -l
[code]

**Test env:**
sof master

[2018-12-10 07:39] mengdonglin commented on #645
@bardliao Could you help on resetting DMA when XRUN happens per firmware team request to debug this issue?

[2018-12-10 07:41] mengdonglin commented on #649
@markyang @libinyang could you help to clarify which PR fix this issue?

[2018-12-10 07:43] markyang opened #695 "FW boot failed due to no memory window info"
**Summary:**
  Can't set params for DMA on APL with PCM512x.
  This issue cannot be reproduced with the same kernel & topology, and the firmware on Dec. 7, so it seems to be a firmware regression.
  sof-logger failed: ```Unable to open in file /sys/kernel/debug/sof/etrace```
  sof-logger -t is empty
**dmesg:**
[code]

**Test steps:**
1. $ aplay -l
aplay: device_list:270: no soundcards found...

**

[2018-12-10 07:50] libinyang commented on #649
I don't need any PR. Just the setting issue.

I'm not sure Mark's situation.

[2018-12-10 08:52] singalsu commented on #686
Here's a plot of the captured waveform

![issue_686](https://user-images.githubusercontent.com/28754793/49719833-f1e54b80-fc66-11e8-86ad-87ee1548047d.png)

The channels 1 and 2 look normal to me. Channels 3 and 4 with apparently no microphones contain a DC value of about -0.48 once the DCCOMP in HW and gain ramp controlled by FW is settled.

The tonal sound heard in the beginning is from the DCCOM

[2018-12-10 09:11] markyang commented on #649
@mengdonglin @libinyang I retested this issue with the build on Dec 5 and 6, it cannot be reproduced.
it should be a setting issue as libinyang mentioned above.
I'm just a little puzzled why ```pactl set-sink-volume 0 80%``` didn't work on last Thu.

[2018-12-10 10:12] markyang commented on #694
This issue can be reproduced if sof-acce7428 was used,  but sof-be45dacd worked fine.
So it seems that sof-acce7428 caused this firmware regression.

[2018-12-10 12:13] bardliao commented on #645
@slawblauciak @keyonjie How about we just retrun SNDRV_PCM_POS_XRUN on the .pcm_pointer function and let ALSA do everything for us?

[2018-12-11 02:43] markyang commented on #675
**Summary:**
  No sound module was loaded, do suspend/resume, then sof module cannot be loaded.
  But if the suspend/resume(the step 4 below) is skipped, it can be done successfully.
  so it seems to be a system issue.

**dmesg:**
[code]

**Test steps:**
1. add all the snd* and sof* modules in the blacklist.
2. reboot device.
3. lsmod | egrep "snd|sof" # make sure no sound module was loaded.
4. ru

[2018-12-11 03:39] xiulipan commented on #695
@markyang
From the log here
`   [ 4.128007] sof-audio sof-audio: error: have no window info`
The FW boot is failed due to no mem window info. Changed the issue title.

Root caused to be https://github.com/thesofproject/sof/pull/657 changed IPC ready structure size make mismatch between kernel and fw.

[2018-12-11 06:26] RanderWang opened #700 "sof audio pipeline with the format of 24bit doesn't work on HDA platform"
If pipeline format is set to 24bit, no sound could be heard in headphone on HDA platform.

It is caused by sample data layout.  SOF supports S24_LE, and each sample format is like pattern of 0ddd, d stands for data. Samples are padded with 0‟s at the MSB. And link dma copys  samples directly to hda bus.

But hda bus requires samples layout like pattern of ddd0. Samples are padded with 0‟s at the L

[2018-12-11 06:32] mengdonglin commented on #675
@lgirdwood Could you share more info about "Minnowboard does not support S3". Is it an BIOS/ACPI issue or board issue for Minnowboard? If yes, I'll closing this issue as "won't fix".

It seems the audio DSP firmware cannot boot after S3, even if the firmware can still be loaded.

We don't have working BYT/CHT/BSW based board like Asus T100, or RVP now.  But since other BYT/CHT can support S3, so t

[2018-12-11 07:09] mengdonglin commented on #465
Mark this issue as "won't fix". We won't fix this for SOF 1.2 but will fix it for new upstream releases (feature #670)

[2018-12-11 07:12] keqiaozhang commented on #695
This issue also can be reproduced on GLK.
cros-sof-v4.14-rebase:676c0362
sof-master:8ef289

[2018-12-11 07:16] ranj063 commented on #686
@singalsu My recording was on a board with only one mic.

But according to Naveen the issue still persists when he checked with a board that has 2 mic's. He will send out an email to you

[2018-12-11 07:18] mengdonglin commented on #649
@markyang @libinyang   Closing it since it cannot be reproduced now. We can keep an eye and file new bug/reopen it if this issue happens later.

[2018-12-11 07:18] #649 closed

[2018-12-11 08:22] mengdonglin commented on #694
Duplicate of #695 .  The error of DSP boot fail is same "error: have no window info"

[2018-12-11 09:06] slawblauciak commented on #645
@bardliao is it going to reset hardware DMA pointers though? If it will, that's fine I suppose.

[2018-12-11 09:38] jajanusz commented on #700
I think it's not like that. HDA bus requires nothing, you can just pass 24b with any padding so it doesn't matter for pass-through, but it will fail in processing components, because it expects MSB pad.
8bit shifter on HDA dma ends sounds like a solution, but I don't know yet if it's the best solution. I'd need to look at it.

[2018-12-11 12:10] slawblauciak commented on #645
@bardliao sounds good. Also, I'm sure the driver resets the pointers on either start or stop, so if ALSA calls it externally I'm fairly certain it will happen either way. The issue was that FW was doing exactly that INTERNALLY, stop -> prepare -> start, independently from the driver.

[2018-12-11 13:31] mengdonglin commented on #671
@RanderWang @zhuyingjiang So this issue is blocked or actually a duplicate of #700, right?

[2018-12-11 13:35] jajanusz commented on #671
@mengdonglin
I think you can close this issue because it's too broad, only 24b is bugged and #700 address it better.

[2018-12-11 13:46] zhuyingjiang commented on #671
Yes, this can be closed, since 16/32 playback and capture works.

[2018-12-11 13:52] Jocelyn-Li commented on #695
@mrajwa some misunderstanding here :( the issue I talked in the meeting is https://github.com/thesofproject/linux/issues/370.

[2018-12-11 14:42] zrombel commented on #700
@RanderWang We came to similar conclusions running 24/32 loopback test on WHL and ICL with ALC700 codec (using topology without volume components). When we were playing data with HDA pattern ddd0, recorded data had the same pattern ddd0. But when SOF patterned data was played 0ddd, we recorded data with patrern 0dd0. So its obvious that patterns doesn't match and some sort of converter should be i

[2018-12-11 14:59] mengdonglin commented on #592
@markyang Could you help to clarify if this kconfig issue is solved ? If yes, please close the issue.

And actually UP2 in nocodec mode failed with #660 now.

[2018-12-11 16:39] singalsu commented on #686
@ranj063 The issue doesn't look like a bug in SOF. Maybe we can close this?

[2018-12-12 02:58] mengdonglin commented on #695
@mrajwa,

Your commit https://github.com/thesofproject/sof/commit/acce742819e55f57086058a7dc6949b3a93a4076
introduced an ABI chnage. It's recommended to use 1 of the reserved 4 uint32_t for the new flag "gdb_enabled".

uint64_t locks_verbose:1;
	} debug;		} debug;

+ 	uint32_t gdb_enabled;
+
 	/* reserved for future use */		/* reserved for future use */
	uint32_t reserved[4];		uint32_t reserved[4]

[2018-12-12 05:59] zhuyingjiang commented on #671
linux version :https://github.com/thesofproject/linux: 4052ad89a474a84b2b

kconfig : https://github.com/thesofproject/kconfig : 1c7649a29db5b1930cc
make defconfig;
scripts/kconfig/merge_config.sh .config <PATH>/kconfig/base-defconfig <PATH>/kconfig/sof-defconfig <PATH>/kconfig/hdaudio-codecs-defconfig
make menuconfig  un-select HDA audio PCI

sof version: https://github.com/thesofproject/sof : 12e

[2018-12-12 05:59] #671 closed

[2018-12-12 07:53] naveen-manohar commented on #686
Can you please recheck with the captured file from UI ?

[myRecording02.zip](https://github.com/thesofproject/sof/files/2670917/myRecording02.zip)

[2018-12-12 12:10] bardliao commented on #645
@slawblauciak I tried to return SNDRV_PCM_POS_XRUN on kernel side but it doesn't work. Please see https://github.com/thesofproject/sof/issues/506 The ALSA's XRUN handling will cause FW's XRUN. So it become a infinite loop. So I think we can figure out why ALSA's XRUN handling will cause FW's XRUN first. Also, when I run the xrun_injection test today, sometimes FW will broken after it. That is an s

[2018-12-12 12:48] slawblauciak commented on #645
@bardliao so, you're saying alsa's XRUN handling (which is just resetting and starting the stream again, right?) stresses the system enough to cause an underrun on the host -> DSP transfer? It is indeed a problem.

[2018-12-12 14:53] mengdonglin commented on #592
@markyang Please share the commits of the daily image and attach kconfig here. It will be used as an anchor for reference in the future.

[2018-12-13 08:43] keyonjie opened #710 "Remove Xrun recovery inside FW."
SOF FW will need to remove recovery trying code, e.g. pipeline_prepare(), trigger start, and schedule copy.

Just keep sending Xrun IPC to host driver side, host framework(e.g. ALSA) will help to handle this recovery if possible, e.g. trigger stop and start.

[2018-12-13 09:59] bardliao commented on #645
@slawblauciak Yes, I think so. We can disable the pipeline XRUN handling first, and look into this issue.

[2018-12-13 16:05] lgirdwood commented on #683
@mengdonglin yes, needs fixed.

[2018-12-13 16:20] lgirdwood commented on #710
ok, no objections from me but we need to make sure drivers *does* do the recovery.

[2018-12-13 16:54] singalsu commented on #686
It looks and sounds quite OK but there's some strange tonal background noise. Is there a fan in the device or is the lab space noisy? Are the click sounds from keyboard typing?

There's no DC problems seen, so the this topic can be closed. But if there's no fan and the space where you tested was silent you may want to open another issue about noise.

Generally microphones should be tested in silen

[2018-12-14 01:56] mengdonglin commented on #695
@markyang  SOF has merged the fix https://github.com/thesofproject/sof/commit/f28d3fbe227deaaf75c53ac09da959eace5e9cce

Could you help to verify this solution for this issue  and its duplicate #694?

[2018-12-14 08:09] mengdonglin commented on #660
By commit https://github.com/thesofproject/sof/pull/689/commits/6c066d0c74de194e2ab6d20786473a789bbe904c, this issue is gone but topology loading will fail because “failed to set DAI config for DMIC0”.

So closing this bug and will file a new bug to folllow up.

[2018-12-14 08:09] #660 closed

[2018-12-14 08:18] keyonjie commented on #710
@lgirdwood sure, @bardliao is working on that.

[2018-12-14 08:21] Jiangxinx opened #716 "UP2 - nocodec: Failed on config DMIC DAI"
Summary:
Failed to set DAI config for DMIC0 on UP2 w/o codec.
This issue is similar to #660 ,  seems to be a firmware regression.

dmesg:
[    4.298247] sof-audio sof-audio: ipc tx: 0x80010000: GLB_DAI_MSG: CONFIG
[    4.298583] sof-audio sof-audio: error: ipc error for 0x80010000 size 0xc
[    4.298601] sof-audio sof-audio: error: failed to set DAI config for DMIC0
[    4.298606] sof-audio sof-au

[2018-12-14 08:45] libinyang commented on #660
Although this bug is closed. I suggested we still keep an eye on it as the root cause is a potential issue.

[2018-12-14 09:16] keqiaozhang opened #717 "Regression: volume change doesn't work"
First, the default value of all right channels are zero. see the following screenshot.

![capture](https://user-images.githubusercontent.com/22468760/49993761-87177580-ffc2-11e8-90b4-8ec99cb9ad9e.PNG)

Second, the volume cannot be changed.
trace error:
[code]
How to reproduce:
1. alsamixer -c 0
2. change the PGA* items.

Tested with:
1. FW: SOF master/78f13ed + PR #709
2. Kernel: topic/cros-sofv4.

[2018-12-14 09:30] keqiaozhang opened #718 "Regression: PCM read error when recording through dmic on GLK"
PCM read error when recording through dmic.

How to reproduce:
1.  arecord -Dhw:0,99 -f dat -c 4 dmic.wav

Error message:
Recording WAVE 'dmic.wav' : Signed 16 bit Little Endian, Rate 48000 Hz, Channels 4
arecord: pcm_read:2143: read error: Input/output error

Trace log:
[code]
Tested with:

FW: SOF master/78f13ed + PR #709
Kernel: topic/cros-sofv4.14-rebase/40fae8a
topology: SOF master/78f13ed

[

[2018-12-14 09:58] bardliao commented on #710
@keyonjie @lgirdwood My plan is to return SNDRV_PCM_POS_XRUN in sof_pcm_pointer when kernel receive the XRUN message from FW.

[2018-12-14 14:53] keyonjie opened #723 "Add timeout for HDA DMA Buffer full wait to avoid FW hang"
We are seeing FW	hang at waiting HDA DMA buffer full(looks we can't get buffer full at some cases, no matter how long we wait).

To avoid this, we need to implement TODO in below comment in hda-dma.c:hda_dma_host_preload(),

[code]

[2018-12-14 14:55] keyonjie commented on #723
@mmaka1 Hi Marcin, I am assigning this to you, please feel free to assign it to anybody in your team who can help on it.

[2018-12-16 16:48] plbossart opened #731 "Support for floating-point pipelines and processing"
The SOF Linux driver already supports floating-point buffers.
Some DSPs support single-precision floating-point, e.g. Intel SKL+ solutions.
Let's make sure applications can configure pipelines to handle floating point all the way to the DAIs. Of course a conversion is needed to use fixed-point required for serial links.
Conversely we need to have a buffer type check to make sure floating-point dat

[2018-12-17 01:49] mengdonglin commented on #433
Closing this issue since it's fixed by thesofproject/linux#291.

[2018-12-17 01:54] mengdonglin commented on #433
Will revisit HDA capture on WHL when #700 is fixed.

[2018-12-17 02:11] keqiaozhang commented on #718
Confirmed that this issue is fixed on glk-005-drop-stable branch.  So close this bug.
sof-glk-005-drop-stable:75410581

[2018-12-17 02:11] #718 closed

[2018-12-17 02:30] keqiaozhang commented on #717
@dabekjakub
This issue has basically been fixed, but 2 display issues need to be addressed:
1. The default value of all right channels are still 0.
2. Volume display error. Volume can be set and effective, but display is wrong as default in alsamixer like below. I think there may be some mismatched parts between driver and firmware in ABI.
Besides, the errors are still there in trace:
    0      1

[2018-12-17 07:42] zhuyingjiang commented on #716
[ 4.298583] sof-audio sof-audio: error: ipc error for 0x80010000 size 0xc
[ 4.298601] sof-audio sof-audio: error: failed to set DAI config for DMIC0
the error is the same as https://github.com/thesofproject/linux/issues/442

[2018-12-17 07:52] keqiaozhang commented on #695
This issue is gone on GLK, logger trace works well on GLK.

[2018-12-17 08:05] markyang commented on #694
**Summary:**
The issue cannot be reproduced any more.

**Test env:**
sof master: 0dad0130
kernel sof-dev: 2d3fcf16
tplg: test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-codec.tplg

[2018-12-17 08:05] #694 closed

[2018-12-17 08:09] markyang commented on #695
**Summary:**
The issue cannot be reproduced on APL with PCM512x.

**Test env:**
sof master: 0dad0130
kernel sof-dev: 2d3fcf16
tplg: sof-apl-pcm512x.tplg

[2018-12-17 08:09] #695 closed

[2018-12-17 10:15] singalsu opened #732 "Topology: PIPELINE_PCM_ADD() with 50 frames per 1 ms is rejected by firmware"
The firmware complains about the playback host sink buffer size if it is not a multiple of 32 bytes. E.g. 3x buffers of S24_LE for 50 frames needs 1200 bytes that is not accepted by FW.

Such 50 frames buffers are needed for topologies where SSP is configured for 50 kHz rate. The 50 kHz rate is needed to add flexibility to some platforms to work with some peripherals with those require 32/64 bit I

[2018-12-17 14:06] lgirdwood opened #735 "cmocka: can't build make check for host target."
make check fails for host target.
[code]
then run
[code]

[2018-12-17 14:07] lgirdwood commented on #735
@xiulipan once this is working, host cmocka build should be part of CI container tests.

[2018-12-17 14:10] lgirdwood opened #736 "cmocka: support for xtensa-gcc"
cmocka must also be able to use xtensa GCC as compiler.

[2018-12-17 14:13] lgirdwood opened #737 "cmocka: tests should also be able to run on xtensa-qemu"
cmocka tests for xtensa platforms currently run on xt-run emulator. These test should also be to run on qemu too when statically linked with xtensa-newlib.

[2018-12-17 14:14] lgirdwood commented on #737
@xiulipan once working this should be part of CI.

[2018-12-17 14:52] singalsu commented on #686
@naveen-manohar Can we close this issue?

[2018-12-17 16:19] plbossart commented on #732
@singalsu can you provide the topology file used?

[2018-12-17 16:22] naveen-manohar commented on #686
Sure Seppo. Thanks for detailed explanation and follow-up.
We can close this for now.

Regarding BG noise - You are right, there was a fan in the lab.
Thanks fro the tip on Chirp wave generation.

[2018-12-17 19:32] wenqingfu commented on #717
Should this be a new bug?

[2018-12-17 19:39] wenqingfu commented on #686
@singalsu  :sweat_smile:

[2018-12-17 20:33] lgirdwood commented on #716
@zhuyingjiang have you tried with todays HEAD as there were update merged for IPC ?

[2018-12-17 20:34] lgirdwood commented on #723
Lets make this timeout PLATFOM specific and define in platform.h

[2018-12-18 02:56] keqiaozhang commented on #717
Confirmed that this issue is fixed on latest GLK005 branch,  let's close this bug.
Fixed by commit 23da63.

[2018-12-18 02:56] #717 closed

[2018-12-18 04:44] xiulipan commented on #735
@lgirdwood
Sure, I am looking forward to enable unit test into sof-ci and travis.

[2018-12-18 06:09] mengdonglin opened #741 "CI: Work out good default kconfig for WHL to build daily image for testing"
We need to work out a concise kconfig to support WHL that has an onboard HD-A codec.  This kconfig will be used to build the kernel image for daily test and image for each PR.

[2018-12-18 06:10] #741 closed

[2018-12-18 06:11] mengdonglin commented on #741
Move this feature to Linux repo

[2018-12-18 07:32] keyonjie commented on #345
set it to P2 as this is actually critical.

[2018-12-18 07:55] keyonjie opened #743 "[stress-test]: Simultaneous playback and capture will fail at stress test."
Environment:
APL or GLK
Linux: topic/sof-dev
SOF: master
topology: with any topology file has 2 playback and 1 capture PCMs.

How to reproduce:
1. get the stress test scripts from https://github.com/thesofproject/sof/pull/742;
2. run ./stress_test.sh
3. we will find kinds of issues randomly, and see IPC timeout in driver dmesg.

[2018-12-18 08:15] keyonjie commented on #743
add a panic dmesg and lst file.

[dsp_panic_at_2400s.txt](https://github.com/thesofproject/sof/files/2689525/dsp_panic_at_2400s.txt)
[sof-apl.lst.txt](https://github.com/thesofproject/sof/files/2689526/sof-apl.lst.txt)

[2018-12-18 08:20] keyonjie commented on #743
add more logs for fail cases.

[dsp_hang.log.txt](https://github.com/thesofproject/sof/files/2689538/dsp_hang.log.txt)
[pipe_copy_stop.txt](https://github.com/thesofproject/sof/files/2689539/pipe_copy_stop.txt)
[sa_panic.log.txt](https://github.com/thesofproject/sof/files/2689540/sa_panic.log.txt)

[2018-12-18 09:08] singalsu commented on #686
Excellent, I'll close this. @wenqingfu Yep, exactly!

[2018-12-18 09:08] #686 closed

[2018-12-18 10:37] singalsu opened #744 "Add to IIR EQ S32_LE to S16_LE conversion for improved DMIC 16 bit capture"
It can be then used to convert 32 bit mode samples from DMIC capture to 16 bit and apply gain to capture. Capture from DMIC is usually quite silent so reaching typical capture levels of devices some gain need to be added, e.g. +12 .. 20 dB.

Conversion in IIR has the advantage over native 16 bit DMIC mode since the IIR can apply fixed gain offset for PCM samples in higher precision domain than oth

[2018-12-18 10:51] singalsu opened #745 "Add to SRC S16_LE processing capability"
The SRC can currently be used only in S24_LE and S32_LE pipelines. With S16_LE add it could be used anywhere. The SRC can remain internally 32 bit and shift the input and output by 16 like it does for S24_LE so this is not a big change.

[2018-12-18 11:17] singalsu opened #746 "EQ components fail to ABI check with their configuration data"
dmesg:

[code]
sof-logger:

[code]

[2018-12-18 12:32] singalsu opened #747 "Playback of > 48 kHz content fails with topology sof-apl-src-pcm512x.tplg"
When attempting to play 96 kHz (S24_LE stereo audio) the aplay command reports just "aplay: pcm_write:2011: write error: Input/output error". The sof-logger trace contains nothing from the event.

The dmesg contains this:

[code]

[2018-12-18 12:38] abonislawski commented on #743
Immediately or after X iterations?

[2018-12-18 13:56] plbossart commented on #574
On 12/18/18 1:29 AM, Keqiao Zhang wrote:

This creates a xrun and the driver/firmware aren't able to recover.
Isn't it a known issue?

[2018-12-18 13:59] slawblauciak commented on #574
Yes, it is a known issue and is being actively worked on.
See:
https://github.com/thesofproject/sof/issues/710
https://github.com/thesofproject/sof/issues/645

[2018-12-18 14:10] bardliao commented on #574
It seems worse than before. It was noise when the issue is reported, but it is IPC timed out now. ie. XRUN can kill FW now.

[2018-12-18 14:22] singalsu commented on #746
After updating ABI version in configuration blobs to 3, 0, 0 I get this new error

[code]

[2018-12-18 14:39] mmaka1 opened #749 "Potential race condition between the host driver and the dsp when going to D3"
DSP performs memory power down routine right after the `SOF_IPC_PM_CTX_SAVE` is handled and the response is written to the uplink mailbox allocated inside the memory being turned off (see `ipc_platform_do_cmd()` flow).
If the host driver is late on reading the mailbox content when signaled by the interrupt, the content is gone. Note that memory window is not disabled by the current implementation

[2018-12-18 15:02] singalsu commented on #746
@lgirdwood Should EQ set the _data->rhdr.hdr.size to something once it has handled the set data command? I understand this check for get data but for set I wonder how the component should respond. The error above is from this code in handler.c

[code]

[2018-12-18 15:10] lbetlej commented on #749
I agree that we need to have option for short IPC messages (register only). One solution is to extend current API to have a flag in register based communication that indicates if there is data in memory window that should be interpreted. Adding a reference to ongoing discussion on IPC ABI https://github.com/thesofproject/linux/issues/414

[2018-12-18 15:48] wenqingfu commented on #743
link with #345

[2018-12-18 15:52] wenqingfu commented on #743
anchor to thesofproject/linux#266

[2018-12-18 20:30] jajanusz commented on #735
@xiulipan
We need cmocka 1.1+. On our side we use 1.2, so if you want to have cmocka built from exactly the same codebase you can use https://github.com/jajanusz/cmocka - I had to make fork because original cmocka doesn't support building for embedded platforms - You should be able to build with it for host and all xtensa platforms.

[2018-12-18 20:55] lgirdwood commented on #749
We have to be careful here and abstract any register read part into the HW abstraction layer as the IPC layer is HW agnostic.  A simpler approach should use something like UDP messaging where messages can be sent by the sender whilst the receiver never replies or acknowledges a message. This would be HW agnostic and simple to abstract into the IPC layer.

[2018-12-19 00:58] keyonjie commented on #743
Randomly, usually it happens < 300 on my side.

[2018-12-19 01:19] libinyang commented on #716
@Jiangxinx
Can't reproduce this issue on the latest kernel and sof. Please test on the latest kernel and close this issue if can't reproduce

[2018-12-19 03:23] #716 closed, assigned to libinyang

[2018-12-19 04:07] xiulipan commented on #506
@ranj063 @keyonjie @lgirdwood
One hint from scheduler refine:
For the pipeline_task, the pipeline_xrun_recover will schedule a task from pipeline_trigger COMP_TRIGGER_START that will be ignored since the xrun recovery is called from pipeline_task.

Following is the workaround added by @tlauda f396500 #125 (discussion about the fix is here)

[code]

So if the task is going to accepted running task

[2018-12-19 04:53] wenqingfu commented on #574
@slawblauciak  please check out https://github.com/thesofproject/sof/issues/506#issuecomment-448462829   The topics you and @keyonjie are talking in the above two issues don't directly lead to a fix.

[2018-12-19 06:19] keqiaozhang opened #751 "dmic trace error at boot on GLK"
There're some dmic config error in trace log at boot. The DMIC function is normal.

[code]
How to reproduce:
1. After system boot, check the trace log:
sof-logger -l sof-apl.ldc -t

Tested with:
SOF/TPLG: glk-005-drop-stable/4f58fdb
Kernel: cros-sof-v4.14-rebase/730ace9

[dmic-error-logger-t.log](https://github.com/thesofproject/sof/files/2693490/dmic-error-logger-t.log)

[2018-12-19 06:43] naveen-manohar opened #752 "[GLK] SOF does not handle XRUNs correctly"
There appears to be bug with how SOF is handling XRUNs which causes audio distortion (buffer alignment error?)

How to reproduce
Run speaker-test -D hw:0,0 -t sine -c 2
Suspend and resume the task repeatedly (using C-z and fg)
Eventually you will get an iteration where the sine wave it noticeably no longer playing the correct tune and sounds distorted.

[2018-12-19 06:44] Jiangxinx opened #753 "noise when test paplay on BYT."
Noise when test paplay on BYT, since aplay is nomal.

How to reproduce:
1.paplay audio.wav

Env:
sof master: 8e1249c
kernel sof-dev: cac0c10e
tplg: sof-byt-rt5651.tplg, sof-byt-nocodec.tplg

Noise( 0.6s, 1.6s, 8.5s and 8.8s ):
![noiseissue](https://user-images.githubusercontent.com/44258626/50203035-278ee080-039b-11e9-94e1-4c5e8e256f0d.png)
![noiseissue2](https://user-images.githubusercontent.com/

[2018-12-19 06:49] mengdonglin commented on #506
This is a duplicate of issue reported by Google: https://github.com/thesofproject/sof/issues/752
It seems we may need a similar workaround of @tlauda  to fix FW XRUN recovery  or avoid XRUN on STOP/START.

[2018-12-19 06:50] ranj063 commented on #751
@keqiaozhang is dmic capture working at all?

[2018-12-19 06:52] mengdonglin commented on #574
This is a duplicater of https://github.com/thesofproject/sof/issues/752, reported by Google.

[2018-12-19 06:52] mengdonglin commented on #645
This is a duplicate of issue https://github.com/thesofproject/sof/issues/752 reported by Google.

[2018-12-19 06:55] ranj063 commented on #751
fixed by https://github.com/thesofproject/sof/pull/754

[2018-12-19 06:58] ranj063 commented on #749
@lgirdwood I agree with the UDP analogy but our driver currently only schedules messages upon receiving a reply. So that will need to change as well

[2018-12-19 07:14] keqiaozhang commented on #751
@ranj063
dmic capture works well except for the channel 4.
I'm curious about the data of channel 4. I can only hear the noise( marked as red) at the beginning, then I cannot hear anything, is this a normal behavior?
![dmic-ch4](https://user-images.githubusercontent.com/22468760/50204648-902c8c00-03a0-11e9-9bf0-9137910c16db.PNG)

[2018-12-19 07:32] ranj063 commented on #746
@singalsu the reply size should depend on what you set the replay message to be in the driver. In this case, I don't think we need to return the entire data back in the reply

[2018-12-19 08:43] singalsu commented on #746
I tried to set the rhdr.hdr.size to the length of binary data payload, this time 56 bytes (0x38). The DSP side is fine but kernel returns this:

[code]

Next I try to set it to 384 (0x180) and get this error on FW side:

[code]

This looks like a bug in IPC @lgirdwood ?

[2018-12-19 08:47] singalsu commented on #746
I can make it work with this change. Should I include this to EQ blobs update PR?

[code]

[2018-12-19 08:54] keqiaozhang commented on #751
@singalsu
Could you help to confirm the 4th channel issue of the dmic? I recorded that I got the same waveform on UP^2 with nocodec topology, I'm not sure whether these are all the normal behavior?

[2018-12-19 08:58] singalsu commented on #746
@plbossart @lgirdwood That should be fine, hope so -- looks symmetrical now at least.  But I don't understand why kernel uses and accepts only the max IPC size while e.g. this offending set data message triggered by topology sof-apl-eq-pcm512x.tplg used only 56 bytes of payload.

[2018-12-19 09:32] singalsu commented on #746
Fix for this issue is in PR #756

[2018-12-19 10:03] singalsu commented on #751
@keqiaozhang Can you please attach the waveform. It would be normal if channels 3 and 4 would be like this if there's only one or two microphones in the device.

If channel 3 contains valid audio then something is pulling the data line high when mic 3 doesn't drive the PDM bus data line. A steady logic one data line appears as negative maximum but as you see in the plot the DCCOMP feature in HW ca

[2018-12-19 10:33] singalsu opened #758 "IIR EQ should be optimized with HiFi3 intrinsics"
GCC built generic C version is slow though it's fast enough for realtime operation while there is not much other processing in firmware. Compilation with xt-xcc gives better performance but good MCPS performance and low power is achieved only with intrinsics optimized code like volume, FIR, and SRC components.

[2018-12-19 10:44] lgirdwood commented on #743
@keyonjie @abonislawski
[code]
Which means we are attempting to wait when IRQ level > 0. i.e. some code running in IRQ
 context is attempting to sleep.

[2018-12-19 11:16] lgirdwood commented on #749
@ranj063 in this case we have a flag for "no reply" messages which would force the IPC to suceed and reset any "waiting" logic to be ready for subsequent new IPCs.

[2018-12-19 11:18] lgirdwood commented on #550
@keqiaozhang can you recheck this as #738 is merged.

[2018-12-19 11:21] lgirdwood commented on #675
@mengdonglin The minnowboard BIOS does not correctly re-enable the ADSP PCI device - any PCI/BAR IO always will read 0xffffffff. Probably not a big deal as Minnow will always be plugged into a PSU, although we will need a flag in the driver platform data to prevent RTD3 on Minnowboard.

[2018-12-19 11:34] lgirdwood commented on #747
@juimonen @singalsu can you desribe the pipeline, this looks like setting 96kHz is causing a crash for your pipe.

[2018-12-19 11:37] lgirdwood commented on #574
@mengdonglin duplicates should be closed to focus discussion on the correct item. I've closed this one, can you take care of other duplicates.

[2018-12-19 11:37] #574 closed

[2018-12-19 11:39] mmaka1 commented on #749
@lgirdwood

I agree. I had assumed that this is purely the implementation of the low level IPC transport, specific for a given platform. So we are free to decide what part of the message is written into which piece of that platform specific HW. It might be completely different for another one which does not have IPC registers pairs but something else. So this should be hidden inside the IPC driver

[2018-12-19 11:40] lgirdwood commented on #648
@mengdonglin @markyang please only re-open Minnowboard S3 issues if you have a BIOS resource that can fix the issue otherwise they are distraction.

[2018-12-19 11:40] #648 closed

[2018-12-19 11:42] lgirdwood commented on #700
@zrombel volume control can convert formats if needed and @singalsu is the person to ask about it.

[2018-12-19 13:03] singalsu commented on #700
@zrombel It sounds like volume should in that case convert to S32_LE. Does it matter if the LSB side bits(7:0) in PCM samples are not zeros?

[2018-12-19 13:36] lgirdwood commented on #735
Fixed #750

[2018-12-19 13:36] #735 closed

[2018-12-19 14:59] singalsu commented on #744
PR #761 provides this capability.

[2018-12-19 17:41] ranj063 commented on #749
@lgirdwood does this "no reply" flasg already exist in the code today or is it something we need to implement?

[2018-12-19 19:48] lgirdwood commented on #749
@ranj063 something that needs added.

[2018-12-19 21:11] lbetlej commented on #749
I'm OK with "no reply" flag as a general capability but how this approach addresses potential race issue caused by driver executing D0->D3 flow after SOF_IPC_PM_CTX_SAVE is sent in parallel with FW executing its D0->D3 flow ? In my opinion there is a need to secure synchronization between the SW and FW. Driver needs to know that FW finished handling SOF_IPC_PM_CTX_SAVE (i.e. power gating is finish

[2018-12-19 23:01] plbossart commented on #749
On 12/19/18 3:11 PM, Lech Betlej wrote:

I'm with Lech, i don't see what the noreply brings. My understanding is
that you want a 'secure' way of sending a command that isn't affected by
power transitions, e.g. memory windows being power gated. You'd need
some sort of shared hardware register or leave parts of the memory bank
powered.

[2018-12-20 01:54] keyonjie commented on #743
Yes, what really confuse me is that we have actually only one wait_for_interrupt() calling(in audio.c: the while(1) main loop) after grepping the whole code.

[2018-12-20 03:07] keqiaozhang commented on #752
Verified that this issue is fixed on glk-005-drop-stable branch.
Tested with:
SOF: glk-005-drop-stable/4d7904d.
Driver: cros-sof-v4.14-rebase/2aa548d

@naveen-manohar, please help to confirm it at your end.

[2018-12-20 03:10] keqiaozhang commented on #506
Verified that this issue is fixed on glk-005-drop-stable branch.
Tested with: glk-005-drop-stable/4d7904d.

@markyang
Please help to confirm it on other platforms.

[2018-12-20 03:31] markyang commented on #611
**Summary:**
     The ipc error(```error: ipc error for 0x60000000 size 0xc```) also exists after the first time resume, but this is only a print issue, the functionality works fine, we can lower the priority.

**Test env:**
sof master: da9ab070
kernel sof-dev: cfcd5693
tplg: sof-apl-pcm512x.tplg

[2018-12-20 04:53] ranj063 opened #766 "comp_new ipc failure due to invalid ipc size with SMP arch option"
I ran into this issue today where the comp_new ipc failed because of invalid size during the suspend_stress_test. I did not use the chrome suspend_stress_test command but instead used a
custom script to suspend and resume the dsp using a debugfs entry.

The ipc size is 76 which seems to be correct but the config.hdr.size doesnt match the expected size.

dmesg logs:
[code]
logger:
[code]

Steps to

[2018-12-20 06:10] keqiaozhang commented on #751
@singalsu
The recorded wav file is attached, the 3th channel contains valid data.
[dmic.tar.gz](https://github.com/thesofproject/sof/files/2697590/dmic.tar.gz)

[2018-12-20 07:05] ranj063 opened #767 "DMIC should use SOF_ABI_VERSION instead of SOF_TKN_INTEL_DMIC_DRIVER_VERSION"

[2018-12-20 08:42] markyang commented on #506
**Summary:**
  This issue cannot be reproduced on APL with PCM512x.

**Test steps:**
[code]

**Test env:**
sof master: da9ab070
kernel sof-dev: cac0c10e
tplg: sof-apl-pcm512x.tplg

[2018-12-20 09:08] singalsu commented on #767
I added it for extra extra safety in case the configuration selection logic would be updated. There's a simple criteria to pick a most preferred option of some decimator and clock dividers programming possibilities. Updated criteria could cause the mic clock frequency to change within allowed min/max limits with identical IPC. A change in bus clock frequencies could cause different product EMI/EMC

[2018-12-20 09:30] singalsu commented on #751
Is that wrong file? The wav file is very short and corrupt. Normally file command reports the format of a wav file.

[code]

[2018-12-20 14:06] lgirdwood commented on #749
Ok, I've had a look at the power down code and it does have a pre-existing comment for IPC since there is an obvious potential for race.
@ranj063 I've created a new branch pm-d3 which sends an IPC at the completion of power down rather than at start of power down. Compile tested only.
https://github.com/thesofproject/sof/tree/lrg/topic/pm-d3

[2018-12-20 14:11] plbossart commented on #767
On 12/20/18 3:08 AM, Seppo Ingalsuo wrote:

Isn't this a generic issue though? If the IPC with a firmware component
remains the same, but the implementation changes and produces different
results, then is this really the same component? You could have the same
problem with all acoustic processing, volume control, etc., and at that
point it might be a better idea to have a module identifier rather

[2018-12-20 14:35] lgirdwood commented on #611
@mengdonglin looks like a duplicate, can we mark and close ?

[2018-12-20 14:38] lgirdwood commented on #766
@jajanusz @dabekjakub, @ranj063 mentioned a similar bug on this mornings call, can we confirm what the hdr.size is on the DSP and host sides. It could be some corruption at one end....

[2018-12-20 14:40] #506 closed

[2018-12-20 14:41] lgirdwood commented on #700
@RanderWang if you need volume then it must be added to pipeline via topology.

[2018-12-20 15:16] singalsu commented on #767
Yes, I agree with your view and it's a generic issue. E.g. two totally different AEC implementations could share the same configuration parameters and have not the same performance.

[2018-12-20 16:08] naveen-manohar commented on #752
Tried remotely and I hit a reboot when trying speaker-play cmd in Terminal-1 and suspend/resume in T-2. Shall recheck tmrw at Lab and update whether the changes are needed in 004 branch too. Thanks

[2018-12-20 16:51] ranj063 opened #769 "Add UUID for firmware components"
Implement a module identifier for modules which can be used to check if the module is compatible with the driver

[2018-12-20 18:39] ranj063 commented on #766
@dabekjakub I have pushed some changed to the kernel to print debug messages with the ipc data before sending the ipc to the same branch as below:
https://github.com/ranj063/linux/tree/debug/suspend_stress_test

[2018-12-20 20:54] wenqingfu commented on #645
fixed by #755? @keyonjie to confirm and close

[2018-12-20 21:33] wenqingfu commented on #637
dup of thesofproject/linux#370? Can you please re-test on the GLK PV release or the tip of master?

[2018-12-21 02:37] keyonjie commented on #645
yes, it's fixed via #755 , closing it now.

[2018-12-21 02:37] #645 closed

[2018-12-21 03:06] RanderWang commented on #700
@lgirdwood  I discussed with @keyonjie , for this case, it is a limitation of hda dma, and it should be transparent to user. How do you think about it?

[2018-12-21 03:07] ranj063 commented on #766
@dabekjakub some more logs from the changes I made today. I printed the ipc header and payload on both the host and DSP and I can clearly see that all the data is there but the ipc still fails. This is really baffling.

logger:
   0      2          IPC             96065.156250       125.156250            apl-ipc.c:114 	ipc: msg rx -> 0x30010000
    0      2          IPC             96070.572917

[2018-12-21 04:49] keyonjie commented on #766
@ranj063 can you share the FW patch you used for this log also?

[2018-12-21 05:00] ranj063 commented on #766
@keyonjie here it is:
https://github.com/ranj063/sof/tree/debug/suspend_stress_test

Please make sure to change the xtensa-build-all.sh to use "xtensa" instead of xtensa-smp for ARCH in apollolake.

[2018-12-21 05:01] dabekjakub commented on #766
@ranj063 that is in line with what i observed. i will have to track where the change of size to 0 occurs.

[2018-12-21 05:13] ranj063 commented on #766
@dabekjakub, @xiulipan made an amazing discovery that this could be related to the multicore support in the FW. We are testing this with xtensa arch option instead of xtensa-smp and it seems to be doing better. Do give it a try and let us know.

[2018-12-21 06:41] dabekjakub commented on #766
I don't think that disabling smp architecture is the way i will be investigating it as is. Also issue only occurs on experimental kernel. I believe we did not see it in any other circumstances.

[2018-12-21 06:50] ranj063 commented on #766
@dabekjakub agree but it could be a real issue when it comes to high frequency memory reads/writes. Not seen with our official kernel

[2018-12-21 06:50] keyonjie commented on #743
yes, I believe SMP is not compiled out cleanly yet, after change the build arch from xtensa-smp to xtensa, this issue is fixed on my side, it can pass 1000 iterations(before that it can never pass 250 iterations).

[2018-12-21 06:53] keyonjie commented on #766
@dabekjakub please consider disabling smp for the test, the issue #743 is disappear also on my side.

[2018-12-21 06:56] dabekjakub commented on #766
@keyonjie Why would i disable it if You confirmed it fixes it :P I will use that knowledge to investigate it.
@ranj063 That is right.

[2018-12-21 09:06] lgirdwood commented on #769
This would also allow several versions of the same component type to exist too (e.g. 3rd party alternatives of common components like SRC, volume could be easily differentiated and mixed with the common versions in a single topology)

[2018-12-21 09:09] lgirdwood commented on #766
@ranj063 sorry, not following can you confirm
1) IPC structure data is valid and correct on host side prior to the IPC error.
2) IPC structure and data on DSP size != host data ?

[2018-12-21 11:40] lgirdwood commented on #743
@keyonjie the non master cores should be idle (given the testing topology). @akloniex what happened to your PR that added more data/regs to the crash dump. This should also include core ID too.

[2018-12-21 11:42] lgirdwood commented on #637
Closed as duplicate

[2018-12-21 11:42] #637 closed

[2018-12-21 11:48] lgirdwood commented on #700
This can be made transparent to user by adding the volume automatically to any pipe that uses this DAI endpoint. You will need to create an M4 file for HDA (called intel-hda.m4) like we already have for SSP. This will define some macros for creating HDA Intel DAI's that will automatically add the volume control.

[2018-12-21 14:45] singalsu commented on #744
This enhancement has been merged so closing this!

[2018-12-21 14:45] #744 closed

[2018-12-21 14:46] singalsu commented on #745
This is work in progress.

[2018-12-21 15:33] ranj063 commented on #766
@lgirdwood here's an example of the difference between the host and the DSP.
The top part is the logger from the DSP and bottom part is the host side for the ipc that fails.

    0      2          IPC            100208.645833        10.052083            handler.c:1066	ipc: hdr 0x30010000 tx (76) > rx (28)
    0      2          IPC            100212.708333         4.062500            handler.c:1069

[2018-12-21 16:33] naveen-manohar opened #771 "GLK: Audio stops playing while listening with any android "Online music apps" after connect 3.5mm Headset and play"
Description:
All audio output broken after attempting to play audio in Play Music.

What steps will reproduce the problem?
1. Enable ARC++
   a. Boot to ChromeOS(any sof enabled version is fine)
   b. In system tray, go to settings and in search bar, input ‘Playstore’ and enable it. Now DUT will support
       ARC++ and playstore apps.
2. How to repro issue:
   a. Install any ARC++ music app [Goog

[2018-12-21 16:55] plbossart commented on #771
Can you please try to play with 4 ch with aplay/speaker-test -Dhw:0. if it works then it's a Chrome issue not an SOF issue.

[2018-12-21 17:45] ranj063 commented on #771
@plbossart @naveen-manohar this issue is specific to v0.55. FIxing the max channels to PIPELINE_CHANNELS fixes the issue. Already verified to work.

[2018-12-21 17:47] naveen-manohar commented on #771
Got the fix from Ranjani, many thanks to her.. This was a critical milestone blocker

[2018-12-21 17:48] #771 closed

[2018-12-21 21:40] lgirdwood commented on #766
@ranj063 thanks, btw can you try the checks in my email and can you also try and read back the data on the host side when it fails and compare it to what was sent. i.e. has it been altered on host side too ?
Please also use the debug macros for dumping that data in FW as they can be read from debugFS and easily compared to driver side dumps. The debug macro will copy data to another SRAM window th

[2018-12-21 22:02] ranj063 commented on #766
@lgirdwood I am trying the delay after powering down memory banks. I will keep you posted on the results.

Also which debug macros should I do using? Is it the ones in debug.h?

[2018-12-22 09:48] Jocelyn-Li opened #773 "PM D3 entry fixes for CNL, WHL, CML, ICL"
Make sure PM entry is completed prior to IPC.  Reference https://github.com/thesofproject/sof/pull/772 for APL fixes

[2018-12-24 06:02] keqiaozhang commented on #550
@markyang
Could you help to check this issue on APL?

[2018-12-24 06:30] RanderWang commented on #700
Hi @singalsu ,  we need a volume function to support  s24le to  s24be. Does this exist?

[2018-12-24 06:57] RanderWang commented on #773
@Jocelyn-Li  I don't understand the idea of 772. And I discuss with other team member, they also don't understand it. We don't know whether kernel driver needs to be refined

[2018-12-24 08:09] markyang commented on #550
**Summary:**
  This issue cannot be reproduced on APL with PCM512x.

**dmesg:**
[code]

**Test steps:**
enable the memory debug in sof:
[code]
2. build and update sof
3. reboot device
4. check dmesg

**Test env:**
sof master: 27c09a94
kernel sof-dev: 695380ff
tplg: sof-apl-pcm512x.tplg

[2018-12-24 08:09] #550 closed

[2018-12-24 08:36] #751 closed

[2018-12-24 17:50] wenqingfu commented on #749
Is this fixed by #772 ?

[2018-12-25 11:34] mengdonglin commented on #345
This issue https://github.com/thesofproject/sof/issues/345 is a subset of  issue https://github.com/thesofproject/sof/issues/743

[2018-12-25 11:43] mengdonglin commented on #611
@lgirdwood  thesofproject/linux#370 is more complicate than this.
May we keep it open until The ipc error(error: ipc error for 0x60000000 size 0xc) is fixed on APL?

[2018-12-25 15:12] mengdonglin opened #779 "Noise when doing PAUSE/RELEASE during HDMI audio playback"
Noise can happen when doing PAUSE/RELEASE during HDMI audio playback by aplay, and the noise will  usually disappear with another  PAUSE/RELEASE operation.

This issue never happens for I2S speaker/headset playback, or doing pause/release with the web browser player.

[2018-12-25 15:17] #779 closed

[2018-12-25 15:18] mengdonglin commented on #779
Closing this because it's a known issue  #583

[2018-12-26 07:57] keqiaozhang opened #780 "[Stress] IPC times out during the volume change"
This is a low probability issue, I only met it once and very hard to reproduce. I file it in here, hope we can find some potential risk form it.

Test scenario:
1. do audio playback on speaker in one terminal
2. change the volume(alsamixer -c 0) during the playing in another terminal.

dmesg:
[code]
[dmesg.log](https://github.com/thesofproject/sof/files/2709752/dmesg.log)
[logger-t.log](https://gi

[2018-12-27 09:43] keyonjie commented on #723
some local change which actually workaround  this issue:
[code]

[2018-12-28 08:51] markyang opened #784 "[Stress] IPC timed out after ~1000 times of aplay on APL with PCM512x."
**Summary:**
  IPC timed out after 967 times aplay on APL with PCM512x.
  sof-logger is empty. sof-logger -t log is attached below.
**dmesg:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: a2e6f82e
kernel sof-dev: 62aa5698
tplg: sof-apl-pcm512x.tplg

**Log:**
[logger-t.txt](https://github.com/thesofproject/linux/files/2714422/logger-t.txt)
[aplay_error_967.log](https://github.com/theso

[2018-12-28 08:56] keyonjie commented on #784
good reporting, thanks, @markyang

[2018-12-29 11:40] mengdonglin commented on #752
Fixed by #755 and #757, closing this issue

[2018-12-29 11:40] #752 closed

[2018-12-30 13:06] lgirdwood commented on #743
@keyonjie if it's another issue then it should be an new issue OR is it a different error caused by the same test ?

Please copy and paste the crash excerpts from the logs, also please run the coredump logger and paste here to.

[2018-12-31 06:53] mengdonglin opened #785 "[Stress] Random FW loading failure"
We are seeing that the code loader DMA sometimes fails randomly during suspend stress test.

[code]

Here's where the fw transfer fails for the first time.
So we try again...
[code]
But the ROM fails to initialize properly the second time. What does the ROM status 02000010 indicate?

[code]

The third time fails with the same error. Can someone in the FW team please help us understand what is the

[2018-12-31 09:30] jajanusz commented on #785
-62 -> it’s timeout

02000010 -> your error log states ‘ROM status’ so I guess it’s first register of ROM FW Registers, then it says only that:
wait_state = WAIT_FOR_IPC_DONE (2)
state = FSR_ROM_BASEFW_CSE_IMR_REQUEST (10)

When you want to decode ROM registers values you should go to:
https://thesofproject.github.io/latest/getting_started/cavs-boot/apollolake/apl-boot-rom.html

[2018-12-31 21:34] ranj063 commented on #785
@jajanusz does this mean the CSE has not responded or we missed the response. Its a bit of a mystery to me as why the first failure occurs and then why the second time the ROM fails to initialize the second time.

[2019-01-01 00:43] ranj063 commented on #785
![image007](https://user-images.githubusercontent.com/7766921/50569488-032bf000-0d1b-11e9-97f3-d27c5e48f736.jpg)
This diagram explains what was happening with the skylake driver and it is likely what we're seeing with SOF as well.

  Summary of the issue:

a.       There is a race condition between host OS and CSE on FW auth. The starting point is DID (where CSE get access to system memory so it c

[2019-01-01 00:44] ranj063 commented on #785
@mengdonglin @keyonjie @jajanusz FYI the aboce scenario seems like a plausible explanation for what is happening.

[2019-01-01 01:31] ranj063 commented on #785
https://github.com/ranj063/linux/commit/51c174430c1f6e57dd9513b66821299af39cb1d7
https://github.com/ranj063/linux/commit/38ac92e36e37b26a921f455c7a85dfacbf069f61

@mengdonglin @keqiaozhang can we please test with the above 2 patches on top of the latest R72 branch?

[2019-01-01 01:36] ranj063 commented on #785
Not my analysis :). This was done when the skylake driver showed similar symptoms.

[2019-01-02 07:59] singalsu commented on #700
@RanderWang Please setup volume via topology to make S24_LE to S32_LE conversion.  With that format the 24 bits signal is in the high part of the word. I assume the state of bits[7:0] does not matter for your application.

Or do you really mean we need big endian byte order swapping (packing of word bits to ram with bits[31:24] to lowest byte address, etc. like some RISC processors do)?

[2019-01-02 10:14] singalsu commented on #746
The PR is merged so this can be closed.

[2019-01-02 10:14] #746 closed

[2019-01-03 08:54] RanderWang commented on #700
@singalsu , yes, I get your idea, S24_LE to S32_LE. I agree with you and I will check the topology later

[2019-01-03 10:20] keyonjie opened #788 "[PM] playback on HDMI can't continue after suspend/resume"
How to reproduce:
1. run aplay on HDMI output;
2. run 'rtcwake -m mem -s 5' on another terminal;

Expected result: HDMI playback continue after resume from suspend;
Actual result: the playback of HDMI will stop.

This will actually block the HDMI playback suspend/resume stress test on all platforms.

[2019-01-03 17:33] singalsu commented on #745
This enhancement is provided by PR #789.

[2019-01-04 01:54] ranj063 commented on #785
@mengdonglin should we call this fixed now?

[2019-01-04 08:30] keyonjie commented on #743
@lgirdwood it is different error caused by the same test.

we tried coredump logger, but it doesn't work, do you have readme about how to use it?

[2019-01-04 10:41] singalsu opened #791 "IIR and FIR EQ tools should receive their ABI from C headers"
Currently there's parallel  Matlab m-language subset headers implementation since the languages are not source compatible. E.g. the sof-eqctl binary tool could provide in Matlab syntax the ABI information to create up-to-date configuration data for EQs. The compatibility breaks from overall SOF ABI maintenance could be avoided this way.

[2019-01-05 06:03] libinyang commented on #611
As this issue doesn't block any function test cases, I suggest we set it as P3 and put it in low priority. What's your opinion? @mengdonglin @markyang

[2019-01-07 06:51] libinyang commented on #637
@markyang @stevyan
updated to the latest kernel, sof. It seems this bug can't be reproduced.

BTW: Not sure it is exactly duplicated with  thesofproject/linux#370, as 370 doesn't run with aplay. The test cases are different.

[2019-01-07 09:13] markyang commented on #637
@stevyan

[2019-01-07 09:14] markyang commented on #611
@stevyan

[2019-01-07 09:14] markyang commented on #625
@stevyan

[2019-01-07 09:15] markyang commented on #609
@stevyan

[2019-01-07 10:29] markyang opened #793 "[PM] S3 resume on APL-nocodec gives "dw-dma 0 no channel is free""
**Summary:**
  playback cannot resume from S3 on APL-nocodec.

**dmesg:**
[code]

**Test steps:**
[code]

**Test env:**
sof master: a2e6f82e
kernel sof-dev: 5931a304
tplg: sof-apl-nocodec.tplg

**Log:**
[dmesg-apl.txt](https://github.com/thesofproject/sof/files/2732360/dmesg-apl.txt)
[logger.txt](https://github.com/thesofproject/sof/files/2732361/logger.txt)
[logger-t.txt](https://github.com/theso

[2019-01-08 06:01] ranj063 opened #795 "SOF doesnt handle XRUNS correctly"
Creating a github issue based on the partner issue created by @cujomalainey
https://partnerissuetracker.corp.google.com/u/2/issues/121161381

Steps to reproduce:
Run speaker-test -D hw:0,0 -t sine -c 2
Suspend and resume the task repeatedly (using C-z and fg)
Eventually you will get an iteration where the sine wave it noticeably no longer playing the correct tune and sounds distorted.

[2019-01-08 06:34] keqiaozhang commented on #795
@ranj063
I cannot reproduce this issue on one Bobba.
I tested the speaker-test on speaker, sound is good, no obvious noise, then I tested it on headset and recorded the sound, the waveform looks good also, no distortion.
Screen shot and the wav file are attached, please refer.
![screenshot from 2019-01-08 14-22-41](https://user-images.githubusercontent.com/22468760/50813512-971c3e00-1351-11e9-904b

[2019-01-08 06:50] ranj063 commented on #795
@cujomalainey looks like the issue cannot be reproduced on our boards. Could you please verify with the latest R72 build?

[2019-01-08 11:43] lgirdwood commented on #785
@mengdonglin ping, can we close ?

[2019-01-08 11:45] lgirdwood commented on #773
@RanderWang this is for FW only. Please have a look at the PM shutdown sequence (PM ops and IPC ops) on APL and see if similar changes have to be made for other platforms.

[2019-01-08 11:50] lgirdwood commented on #788
@keyonjie logs please.

[2019-01-08 11:54] lgirdwood commented on #611
@markyang can you check this again with latest kernel/FW. There have been some fixes in this area. Thanks.

[2019-01-08 11:57] lgirdwood commented on #793
@markyang please include the relevant log sections in the description otherwise *everyone* has to download and find the relevant area prior to making a comment.

@keyonjie this looks like your DMA channel fix is needed here ?

[code]

and
[code]

[2019-01-08 12:27] singalsu opened #797 "Implement support for secondary DMIC FIFO"
This feature is needed mainly for 16 kHz samples and 16 bits speech signal capture independently from 48 kHz full quality audio capture.

[2019-01-08 13:37] xiulipan opened #798 "tools/coredumper: need readme or documentation about how to use it"
No usage to tools/coredumper. Need some simple doc about how to use it and a example would be better.
What should be the input file and what is the legal exception output.

[2019-01-08 16:09] dabekjakub commented on #766
@ranj063 I debuged it and found that ipcs that fail call to create dai of type 0

Whilist we do not have type 0 in our predefined structs (We only have ssp dmic and hda avalible). We do overall have enum SOF_DAI_INTEL_NONE but .

[code]

in my enchanced logs You can see

    0      2          DAI             99590.937500         3.750000                dai.c:184 	ipc size ipc_dai ptr 0xbe051480 ,

[2019-01-08 17:38] naveen-manohar opened #800 "DMIC test fail when audio could not play"
Codebase: ChromeOS-firmware-R72-11316.64.0
Topology - topology: https://github.com/ranj063/soft-1/tree/sof-v0.55
DSP Firmware - https://github.com/ranj063/sof/tree/sof-v0.55

The test item "SpeakerDMic" is to loop from speaker to digital microphone. You can refer to the factory test script as below.
https://chromium.googlesource.com/chromiumos/platform/factory/+/master/py/test/pytests/audio_loop.p

[2019-01-08 23:43] ranj063 commented on #795
@keqiaozhang Thanks for testing. I'm closing this one as it has been confirmed to be fixed

[2019-01-08 23:43] #795 closed

[2019-01-08 23:49] keyonjie commented on #793
@lgirdwood yep.

[2019-01-09 00:14] wenqingfu commented on #723
according to the discussion in #783 , this issue can be closed. @keyonjie will open new issue if there are timeouts on top of it. Please be sure to include more details how to reproduce it next time.

[2019-01-09 00:15] #723 closed

[2019-01-09 00:30] wenqingfu commented on #800
same error as #743 ?

[2019-01-09 04:36] xiulipan commented on #800
@keyonjie
[code]
It seems the IPC is handled, but not in time here.

@naveen-manohar
will try to reproduce it and have some feedback.

[2019-01-09 05:40] keyonjie commented on #800
we need to duplicate it on our side to root cause it, but simultaneous pipelines stress test fails in v0.55 is our known issue.
Shall we align on that we will focus on fixing it in PV release, but not v0.55?

[2019-01-09 06:27] markyang opened #801 "[UP2] Wrong format setting on APL-nocodec makes "buffer_set_size() failed""
**Summary:**
  Wrong format setting on APL-nocodec makes "buffer_set_size() failed".

**dmesg:**
[code]

**logger:**
[code]
and
[code]

**Test steps:**
[code]

**Test env:**
sof master: 9f403d68
kernel sof-dev: 2fc33699
tplg: sof-apl-nocodec.tplg

**Log:**
[dmesg-apl.txt](https://github.com/thesofproject/sof/files/2739606/dmesg-apl.txt)

[2019-01-09 06:58] zhuyingjiang opened #802 "[CML] playback/capture has noise on CometLake, with analog HDMI/DP, still found on WHL"
On the CML RVP board (WHL RVP reworked add rt5682), the playback/capture for Analog,HDMI, DMIC all have noise.
But for loopback mode, there is no noise.

[2019-01-09 07:02] zhuyingjiang commented on #802
sine wave in loopbakc mode:
![loopback](https://user-images.githubusercontent.com/39688699/50882363-80dcb380-141f-11e9-8386-1285f4b492c0.png)

[2019-01-09 08:12] keqiaozhang commented on #800
I used my test script to test dmic capture and speaker playback at same time, it passed 1000 iterations without errors.
CMD:
arecord -Dhw:0,99 -f dat -c 4 /dev/null & aplay -D hw:0,0 -f dat -c 2 /dev/zero & sleep 3; pkill aplay; pkill arecord

I also tried to test it with audiofuntest, but failed with "Failed to exec client: No such file or directory"
[code]
@naveen-manohar
What have I missed? Cou

[2019-01-09 10:58] mwierzbix commented on #798
There is usage:
[code]
And there is exemplatory snippet:
[code]

[2019-01-09 11:59] dabekjakub commented on #800
I see that topology and FW are from @ranj063 repo.
Does this reproduce on FW master branch ?
@naveen-manohar