[2021-11-24 06:52] sathya-nujella commented on #4970
Thank you @johnylin76 for sharing test observations. Based on this, I have removed TEST label from PR. Requested team to review & merge: https://github.com/thesofproject/sof/pull/5006.

[2021-11-24 06:56] johnylin76 commented on #4970
Uploaded the firmware and ldc file with #5006
[sof-tgl-fw-pr5006.tar.gz](https://github.com/thesofproject/sof/files/7593356/sof-tgl-fw-pr5006.tar.gz)

[2021-11-24 09:26] kv2019i commented on #4986
I agree @marc-hb with most of the above and we should drop the warning. A few specific points

We have many cases where kernel conditionally uses a new ABI if and only if FW is new enough. These checks can be done because we have ABI MINOR bumps. With oldkernel+newfw and newkernel+oldfw, the new ABI is not used and things still work.

The release notes document the version the FW release has been

[2021-11-24 10:07] lyakh commented on #4538
An important question: do we know on which core the panic happens? I assume this isn't happening when restoring a secondary core after a D0ix?
After looking at the code some more, I don't see a good way to clear the EDF (software) interrupt. I think `interrupt_mask()` would would clear it, as described in an Architecture Specification document, so we could add a
[code]
pair of calls to `scheduler_

[2021-11-24 11:30] kv2019i commented on #4986
Please see https://github.com/thesofproject/linux/pull/3296 as a possible fix to this. This should codify the policy that kernel can support multiple firmware interfaces and the fact that via backporting, a kernel can have partial support for a firmware version (i.e. ABI3.19 plus some interface extensions of ABI3.20).

[2021-11-24 15:30] lgirdwood commented on #4970
@bkokoszx @mwasko fwiw #5006 LGTM, please merge if you agree.

[2021-11-24 19:16] marc-hb commented on #4986
Thanks, so this is "inspired" from but definitely different from a basic semver.org. This answer my question 9 days ago, the one @plbossart had "no idea about"

Will have a look.

I just remembered this 2016 DMC firmware change where the i915 driver went the exact opposite direction: hardcode really hard a specific DMC firmware version in the driver because:

https://lists.freedesktop.org/archives

[2021-11-24 23:38] cujomalainey commented on #4970
#5006 fixed this according to QA, thanks all

[2021-11-24 23:38] #4970 closed

[2021-11-25 13:09] kv2019i commented on #4382
@yongzhi1 @bkokoszx , ok to close now?

[2021-11-26 06:23] keqiaozhang commented on #4923
I run to this issue on another ADLP Chrome device(I2S mode) with same rom error:
[code]
The rom status `0x6000021` means `FSR_ROM_CSE_IPC_RESET_PHASE_1  `
Specifically, the CSME did not respond for this IPC in the authentication flow: `FSR_ROM_CSE_IPC_RESET_PHASE_1  Ox21`.

I'm checking this issue with coreboot team.

[2021-11-26 12:12] miRoox opened #5032 "[BUG][Zephyr] IPC error for FILTER_UPDATE when kmod unload after playback on Zephyr platforms"
**Describe the bug**
IPC error when SOF kernel modules unload after playback on most Zephyr platforms.
This issue has happened in recent daily test results since 11/24/2021.

**To Reproduce**
play the audio and then unload SOF modules, e.g.
[code]

**Reproduction Rate**
Not 100%, but can be reproduced in the first iteration on most Zephyr platforms.

**Environment**
Kernel Branch: topic/sof-dev
Ke

[2021-11-26 12:20] lgirdwood commented on #5032
@kv2019i @lyakh @marc-hb fyi

[2021-11-26 16:59] singalsu commented on #4901
@markbartonxperi Thanks, I think I have everything needed to debug this. I'll start working with this on Monday.

[2021-11-29 02:19] XiaoyunWu6666 commented on #5018
FYI
in inner daily test 8518
on  model ADLP_RVP_NOCODEC_ZEPHYR
in testcase check-alsabat-headset-playback
still failed to enable target core for widget SSP0.OUT

[2021-11-29 02:40] mengdonglin commented on #4538
This issue can be reproduced on an ADL-P device with https://github.com/thesofproject/sof/releases/tag/v1.9.2, but cannot reproduce with latest main branch

[2021-11-29 05:40] XiaoyunWu6666 opened #5038 "[BUG]underrun and IO error when aplay with Speaker twice on TGLH_0A5E_SDW and TGLU_SKU0A32_SDCA"
**Describe the bug**
xrun and IO error happened when playing with Speaker
on TGLH_0A5E_SDW and TGLU_SKU0A32_SDCA

This issue has happened in recent daily test results since 11/26/2021 [ inner daily 8502 ]
The last safe daily testresult id is 8479

**To Reproduce**
Run 'aplay   -Dhw:0,2 -r 48000 -c 2 -f S24_LE -d 3 /dev/zero -v -q ' twice
and it should happen at the second time

For your convenienc

[2021-11-29 05:49] XiaoyunWu6666 commented on #5038
The good commit is f41010d3868d
The bad commit is  3ffeb8712354
Will try to do a bisect

[2021-11-29 09:17] kv2019i commented on #5032
@marc-hb can you take a look at this?

[2021-11-29 09:31] kv2019i commented on #5038
Updated priority as this affects many test plans.

[2021-11-29 10:42] lgirdwood commented on #5038
@XiaoyunWu6666 which topology file is used on this failing case ? I can only find TGL topologies with Smart AMP and demux. Looking for the topology above. Thanks.

[2021-11-29 11:27] miRoox commented on #5038
@lgirdwood it's `sof-tgl-rt711-rt1308-rt715.tplg`

[2021-11-29 16:52] singalsu commented on #4901
@markbartonxperi I was not able to repeat this issue though I don't have similar device. I did this change to topology for the speaker path of the Chromebook device:

[code]
Both params() and prepare() of IIR with trace patches report that dev->frames is 480. The IIR copy() also got scheduled every 10 ms. Did you change for HDA generic the DAI schedule as well? If this works (get 480) then the iss

[2021-11-29 20:18] lgirdwood commented on #5038
@lyakh I've pushed ```lrg/topic/demux-test``` branch with example DEMUX topology. This should allow testing with SSP on other platforms.

[2021-11-29 21:03] yongzhi1 opened #5039 "[BUG] topology1 build broken"
With https://github.com/alsa-project/alsa-lib/issues/187 merged on alsa-lib, the topology build was broken for two cases:

1. safe_strtol_base() returns error due to null input string:

In the following example, "base" field of C_CONTROLBYTES is NULL, so it returns:
[code]

[code]
2. safe_strtol_base() returns error due to non-NULL endptr, this happened in demux_priv_1 due to spaces followed the l

[2021-11-29 23:03] plbossart commented on #5038
@lgirdwood this topology ONLY uses SoundWire. No SSP or DMIC, HDAudio for HDMI only. The demux is used to split the speaker content and render it on two separate SoundWire links, with hardware synchronization between links.

[2021-11-30 01:53] miRoox commented on #4996
After #5000 merged, this issue seems to happen only on Zephyr nocodec platforms.

[2021-11-30 06:22] keqiaozhang commented on #4779
Observed this issue again when running suspend/resume stress testing on CML_SKU0983_SDW. Test ID:8054.
[code]

[2021-11-30 12:38] Vamshigopal opened #5042 "[BUG] Early wake observed while running suspend-resume with WOV"
[](url)**Describe the bug**

when wov is running in background and suspending the system, the system enter S0ix state but doesn’t stay longer, its comes to S0 state immediately.

**To Reproduce**
cras_test_client --set_hotword_model 18:0:en_all
cras_test_client --listen_for_hotword /tmp/wov.wav &
powerd_dbus_suspend

**Reproduction Rate**
1/5 tries.

**Expected behavior**
system should stay in S0i

[2021-11-30 12:39] Vamshigopal commented on #5042
[dmesg.txt](https://github.com/thesofproject/sof/files/7625752/dmesg.txt
[sof-trace-logs.txt](https://github.com/thesofproject/sof/files/7625754/sof-trace-logs.txt)

[2021-11-30 12:42] Vamshigopal commented on #5042
@sathyap-chrome @sathya-nujella @kv2019i @ranj063 @libinyang @keqiaozhang

[2021-11-30 12:46] Vamshigopal commented on #5042
After trying bisecting experiments,
Issue not reproducing with tgl/v13.0-hotfix3 and with built release tag: releases/adl/v3.0-hotfix1 issue reproduced.

3099b80b96c8 (**tag: releases/adl/v3.0-hotfix1)** topology: intel: use 38.4Mhz MCLK for all Bluetooth use-cases
d12e4c24d132 pm_runtime: writeback secondary core's data before going to lps_wait
b04aa4b8f9e2 init: secondary_core_restore possibilit

[2021-11-30 14:11] plbossart commented on #4779
wrong bug @keqiaozhang, this had nothing to do with DMA. This should be added in https://github.com/thesofproject/linux/issues/3012

[2021-11-30 14:11] #4779 closed

[2021-11-30 16:59] plbossart commented on #5038
@lyakh is PR #5041 trying to fix this issue?

[2021-11-30 18:18] plbossart opened #5043 "[FEATURE] SoundWire topologies need to use 3 pipelines for speaker path"
As pointed out by @lyakh, the SoundWire topologies use 2 pipelines for the aggregated amplifier/speaker path.

![143814999-15f6cfc8-d70e-422c-9510-f051dade8668](https://user-images.githubusercontent.com/1149035/144104658-2da3ac86-5eda-48c5-ba20-74f9424f2e35.png)

The branch with "BUF3.2" should really be a different pipeline.

The rule is that each input and output to a mixer/mux/demux shall be ha

[2021-11-30 18:40] juimonen commented on #5043
@plbossart isn't this also a driver feature? not sure can asoc handle the 3 pipelines type connection you describe above...
I'm referring to this "virtual dai" thing we have in some topologies to terminate the pipe, would be nice to get rid of that at the same time.

[2021-11-30 18:57] plbossart commented on #5043
No I don't think it's a driver feature. We've already moved the nocodec and some HDaudio topologies to use the split pipelines with a mixer in the middle. Works fine.

The demux with the virtual dai is a different issue IMHO, it's the coupling between playback and capture that's not well handled.

[2021-12-01 01:57] XiaoyunWu6666 commented on #5038
in today's inner daily test TGLH_0A5E_SDW and TGLU_SKU0A32_SDCA are good
Will see how they perform in following workdays

[2021-12-01 09:35] lgirdwood commented on #5038
Thank you @lyakh for your timely fix and @XiaoyunWu6666 for validating.

[2021-12-01 11:13] lgirdwood commented on #5018
@kv2019i I assume we are bringing up the target core after core 0 is fully booted. @andyross is asynchronous secondary core booting/power off supported today or still WIP for some platforms ?

[2021-12-01 11:16] lgirdwood commented on #4901
@singalsu it could be a documentation issue as we have to set the 10000 in two places ? i.e. we are setting this at the pipeline endpoints for host and DAI (and there is nor SRC in the pipeline to change the rates or data sizes).

[2021-12-01 11:22] markbartonxperi commented on #4901
@singalsu @lgirdwood Thanks so much for taking a look at this.

I revisited things again in the light of your comments - I'm currently building from commit dda9d0f9f

Now, I have to say that I'm convinced I've reproduced this issue at least 4 or 5 times over since opening this issue, and I'm sure that I've always been changing the period in both the `PIPELINE` and `DAI` declarations. However, yest

[2021-12-01 12:07] lgirdwood commented on #5042
@Vamshigopal are you able to bisect further to a single commit as the list above has several candidates taht could potentially send a wake IRQ.

[2021-12-01 12:12] lgirdwood commented on #5017
@keyonjie did we send a fix for this, IIRC there was a recent update that addressed this warning ?

[2021-12-01 12:14] lgirdwood commented on #4996
@lyakh the pipeline simplification and ref counting updates after your vacation will really help this.

[2021-12-01 12:17] lgirdwood commented on #4917
@marc-hb can we close ?

[2021-12-01 12:18] lgirdwood commented on #4902
@juimonen any update, I did see some related fixes ?

[2021-12-01 12:19] lgirdwood commented on #4838
@markbartonxperi all good now, can we close ?

[2021-12-01 12:20] lgirdwood commented on #4704
@dbaluta close ?

[2021-12-01 12:33] dbaluta commented on #4704
@dbaluta @fredoh9 there is no support for imx8ulp with qemu.

[2021-12-01 16:11] kv2019i commented on #4731
Hmm, with latest SOF and Zephyr, PIPE_FREE no longer fails:

[code]

Interesting. But it works, so closing.

[2021-12-01 16:11] #4731 closed

[2021-12-01 17:05] singalsu commented on #4967
Next ones to optimize are KBP and Selector, unless other requested.

[2021-12-01 19:45] marc-hb commented on #4917
@keqiaozhang has the new `-c` feature been tested by Jenkins much yet? More in internal issue 69

[2021-12-01 19:46] kv2019i commented on #5018
There's first a simple problem that the core count default is 2 on Zephyr side. That is easy to fix. But with that done, we are seeing some weird errors. With a topology with four PCM pipelines assigned to cores 0, 1, 2 and 3, tests works ok on cores 0 and 3, but the secondary boot fails on cores 1 and 2. Debugging continues. This should be supported in both Zephyr and SOF.

[2021-12-02 01:33] keqiaozhang commented on #4917
Yes, Jenkins has been testing this `-z`  feature for 2 weeks.

[2021-12-02 02:46] marc-hb commented on #5032
Will have a look this week bar any usual "top priority" request / major regression.

[2021-12-02 02:51] #4917 closed

[2021-12-02 08:22] juimonen commented on #4902
@lgirdwood @Johnnynator https://github.com/thesofproject/sof/pull/5045, just trivial rename to avoid clash. I think this was originally done this way because of windows... would this fix your issue?

[2021-12-02 09:54] lgirdwood commented on #4704
Thanks, fwiw - I see xtensa-build-all also works for all targets with GCC11. closing

[2021-12-02 09:54] #4704 closed

[2021-12-02 09:56] singalsu commented on #4901
@markbartonxperi Great that dev->frames looks correct now! With timer based scheduling the component should be capable to process a bit less or a bit more than nominal frames count (480). Have you tried to let it process more? I don't have a rule but something like few percent more could be safe if RAM and MCPS constraints allow. With DMA events based scheduling the exact 480 frames/10 ms processi

[2021-12-02 10:03] singalsu commented on #4901
@markbartonxperi The observations with frames count could maybe due to incomplete topologies build. It's good idea to build topology1 from scratch always. The makefiles maybe do not scan all dependencies. So your topology build may not be what you edited to m4 after run "make" in tools build directory. I've had a similar issue but I could spot where it's in the cmake system unfortunately.

[2021-12-02 15:29] markbartonxperi commented on #4838
@lgirdwood Afternoon. Yes - all good now! Thanks for your help!

[2021-12-02 15:29] #4838 closed

[2021-12-02 17:42] kv2019i commented on #5018
Not a complete fix, but gets us further along: https://github.com/kv2019i/zephyr/pull/new/topic/cavs25-4cores-default

[2021-12-02 17:49] Johnnynator commented on #4902
Yeah, this fixes this specific issue.

The only remaining part is the parsing of topology files. For which there is a different tracking issue: https://github.com/thesofproject/sof/issues/5039

So I suppose this one can be closed for now.

[2021-12-02 19:01] kv2019i opened #5050 "[BUG][Zephyr] HDMI on secondary core reports many xruns"
**Describe the bug**
Flood of hda link xrun erros in sof-loggers when running HDMI pipe+dai on non-primary core.

**To Reproduce**

**Reproduction Rate**
100%

**Expected behavior**
Similar performance on secondary cores as on primary core.

**Impact**
Showstopper to use additional cores.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kern

[2021-12-02 19:01] kv2019i commented on #5018
@lgirdwood More issues found, maybe we need to move this to v2.1? New issue https://github.com/thesofproject/sof/issues/5050

[2021-12-03 02:36] XiaoyunWu6666 commented on #5038
Are we good to close this ?
No such issue on TGLH_0A5E_SDW and TGLU_SKU0A32_SDCA in inner daily tests for 3 workdays

[2021-12-03 06:34] marc-hb commented on #4420
Mostly works now

[2021-12-03 06:34] #4420 closed

[2021-12-03 06:37] marc-hb commented on #5032
The problem is May 2020 commit 0e1176d9434a413 `trace: Update trace level after ipc message` has never been compatible with Zephyr. So filter updates have been simply disabled by "quickfix" commit b31d19b6c2ad3

I'm still looking at what can be done, in the mean time the error is minor and can be ignored (unless of course you really want to change the filters at run-time - you can't)

[2021-12-03 07:30] keqiaozhang commented on #4923
The latest update from CSME team:
`the HECI device is not enumerated in your ubuntu  system, so basically communication channel with CSE is down. Hence, you are seeing the errors`

[2021-12-03 10:20] lgirdwood commented on #5050
@kv2019i different clock config on each core ? @andyross ?

[2021-12-03 10:29] #4902 closed

[2021-12-03 13:16] kv2019i commented on #4414
Still happening. This is (still) triggered by DSP overload on core0 and happens with latest daily:
https://sof-ci.sh.intel.com/#/result/planresultdetail/8639?model=APL_UP2_NOCODEC_ZEPHYR&testcase=multiple-pipeline-all-50

[2021-12-03 14:13] plbossart commented on #5038
let's close. thanks everyone for reporting, fixing and re-testing this issue.

[2021-12-03 14:13] #5038 closed

[2021-12-04 14:12] plbossart commented on #5017
still happening, see https://sof-ci.01.org/linuxpr/PR3312/build6800/devicetest/?model=BYT_MB_NOCODEC&testcase=check-kmod-load-unload-after-playback

[2021-12-06 01:57] olidietzel commented on #4916
Chuwi Hi10 Go, jsl Celeron N4500, KDE Neon unstable with signed Debian 5.16rc3 Kernel

Copied suggested fw https://github.com/thesofproject/linux/files/7341855/sof-jsl-es8336.tplg.gz and https://github.com/thesofproject/sof/files/7514615/sof-jsl-signed.ri.gz into intel/sof fw tree, is loaded, ABI warnings, still no sound device. Any hint what to do next, did i miss something? :)

uname -a

Linux t

[2021-12-06 02:46] keqiaozhang commented on #5042
Duplicated with https://github.com/thesofproject/linux/issues/3034

[2021-12-06 02:47] #4916 closed

[2021-12-06 03:08] miRoox commented on #4538
It was fixed by #4874, the patch was also cherry-picked to [stable-v1.9](https://github.com/thesofproject/sof/commit/a978086db17171ae097c0f2b4a07f9a1a2beaa7d) and [stable-v2.0](https://github.com/thesofproject/sof/commit/6672f251449aeb262420da6be8f6d6e211d17417).

[2021-12-06 03:08] #4538 closed

[2021-12-06 05:13] sathyap-chrome commented on #5042
@keqiaozhang  not sure 3034 is related as this one has a memory issue in logs unlike 3034 where the trace was just creating a wake event. I think both are different issues.

[2021-12-06 05:13] sathyap-chrome commented on #5042
@lgirdwood  we are working on that.

[2021-12-06 06:20] keyonjie commented on #4552
suppose this should already be fixed with the latest main or stable-v2.0 branch?

[2021-12-06 06:22] keyonjie commented on #4586
suppose this should already be fixed with the latest main or stable-v2.0 branch?

[2021-12-06 06:23] keyonjie commented on #4553
suppose this should already be fixed with the latest main or stable-v2.0 branch?

[2021-12-06 10:41] miRoox opened #5055 "[BUG][Zephyr] fimware boot failure on TGLH_RVP_NOCODEC Zephyr platform"
**Describe the bug**
SOF-Zephyr boot fails on TGLH_RVP_NOCODEC devices.
This is a Zephyr regression. After bisecting, I found it was first introduced by https://github.com/zephyrproject-rtos/zephyr/commit/af79664da3debec8d168e01dac6098dac88841cf.

**To Reproduce**
Build SOF-Zephyr with tgl-h target, boot on DUT.

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commi

[2021-12-06 11:03] sathyap-chrome commented on #5042
@lgirdwood we have narrowed down further.

On the ADL003, we have few private patches to enable Google hotword and the issue is seen with that. Interesting is that patch itself is to move the Cmake version from 3.10 to 3.13.

So we did further investigation to conclude that this commit is indeed introducing the issue

Exp 1 : TGLv13.0-hotfix3 as is + test with INTEL CLAP == NO SPURIOUS WAKES SEEN

[2021-12-06 15:05] plbossart commented on #4916
try https://github.com/thesofproject/linux/pull/3107 and file a separate issue if this doesn't work for you.

[2021-12-06 15:07] plbossart commented on #4939
This is tracked at https://github.com/thesofproject/linux/issues/3248 and the latest code is at https://github.com/thesofproject/linux/pull/3107

[2021-12-06 16:31] cujomalainey commented on #5042
Hi Satya, are you referring to the cake version jump to 3.13? That should already be upstream and in this repo.

[2021-12-06 23:12] marc-hb commented on #3395
Important, November 2021 refactoring: https://github.com/thesofproject/linux/pull/3250

[2021-12-06 23:13] marc-hb commented on #4873
Important, November 2021 refactoring: thesofproject/linux#3250

[2021-12-07 01:44] marc-hb commented on #5032
https://github.com/thesofproject/sof-test/pull/820 (temporarily?) disables the sof-test code that triggers this error message, please help review.

[2021-12-07 06:52] keyonjie commented on #4266
suppose this issue should already be fixed with latest main or stable-v2.0?

[2021-12-07 08:25] mengdonglin commented on #5043
@plbossart @lyakh Can you please share more info why "The rule is that each input and output to a mixer/mux/demux shall be handled by a different pipeline"?

[2021-12-07 11:19] kv2019i commented on #5055
D'oh, my mistake completely. I was assuming arch/xtensa/configs/tgph_defconfig would be taken in, but that's not the case at all. I'll come up with a fix.

[2021-12-07 13:29] kv2019i commented on #5055
Fix is available, but requires both Zephyr and SOF changes:
https://github.com/thesofproject/sof/pull/5059
https://github.com/zephyrproject-rtos/zephyr/pull/40960

[2021-12-07 16:25] plbossart commented on #5043
@mengdonglin this is required to allow multiple streams to be handled by the same capture or playback endpoint.

We've started with the 'single pipeline' approach and it's just awful to maintain with a mixer in the middle of a pipeline. It's way simpler to use a 3 pipeline topology as we've done for cavs-nocodec, and are currently extending to HDaudio/SoundWire.

[2021-12-07 17:09] yongzhi1 commented on #5039
Thanks @ranj063 for the fix https://github.com/thesofproject/sof/pull/5057, thus to close the issue.

[2021-12-07 17:10] #5039 closed

[2021-12-07 18:27] bkokoszx commented on #5042
A little update.

With @kv2019i and @Vamshigopal we were trying to compare binaries with and without CMAKE update patch.
Here are the only significant difference in build log between tgl-013-drop-stable+cmake_patch (left) and tgl-013-drop-stable (right):
![image](https://user-images.githubusercontent.com/41052777/145084820-c246e8fe-510a-46d0-942f-976da0f0ec64.png)
It is hard to explain for me why

[2021-12-07 19:57] bkokoszx commented on #5042
The .static_log_entries difference could be probably caused by this trace:
[code]

[2021-12-07 21:50] cujomalainey commented on #5042
Well, that is the last time I try to respond to a message on my phone

Can we dump a verbose build to see what the differences are in the log?

[2021-12-08 04:48] Vamshigopal commented on #5042
@cujomalainey  attached the verbose build logs for above observation.  If you are looking for same.

[build-log-with-cmake.txt](https://github.com/thesofproject/sof/files/7673434/build-log-with-cmake.txt)
[build-log-without-cmake.txt](https://github.com/thesofproject/sof/files/7673435/build-log-without-cmake.txt)

[2021-12-08 13:40] cujomalainey commented on #5042
Hi Vamshi,

Are you building with multicore enabled? If so, please disable it to help the logs align better. Thanks

[2021-12-08 13:47] bkokoszx commented on #5042
Hi @cujomalainey
here are log from building made by ``make bin`` command
[build-log-with-cmake-bkokoszx.txt](https://github.com/thesofproject/sof/files/7676388/build-log-with-cmake-bkokoszx.txt)
[build-log-without-cmake-bkokoszx.txt](https://github.com/thesofproject/sof/files/7676390/build-log-without-cmake-bkokoszx.txt)
The main difference is in .static_log_entries section size, which I wrote abo

[2021-12-08 14:05] cujomalainey commented on #5042
@bkokoszx Thanks, I also see a diff involving python in your log

[code]

Python is involved in the [breaking change](https://github.com/thesofproject/sof/commit/a0acad341455b08b1a4cc408dcb76c022f722fa3#diff-1e7de1ae2d059d21e1dd75d5812d5a34b0222cef273b7c3a2af62eb747f9d20aL20). I wonder if maybe there is a different in artifacts generated. Can we check that? Is the script just gereating the autocon

[2021-12-08 16:00] sathyap-chrome commented on #5042
Will try that !!

[2021-12-08 16:21] sathyap-chrome commented on #5042
Oh you mean just the build to be a single thread !! got it

[2021-12-08 21:28] lgirdwood commented on #5042
So I've found something funny with structure alignment and the build (some structures having different alignments set), probably unrelated but worth double check.
I'm seeing a delta between what rimage and SOF use for some structure sizes esp when using ```ALIGN_UP_COMPILE(sizeof(struct ext_man_fw_version), EXT_MAN_ALIGN),```
e.g. the manifest structures are aligned on 16bytes when used but on 4 b

[2021-12-08 21:34] lgirdwood commented on #4266
Yep, think we fixed on tgl13 or earlier and have not seen on daily. closing.

[2021-12-08 21:34] #4266 closed

[2021-12-09 17:56] marc-hb commented on #5042
- Binaries include the git version by default, which makes comparing binaries across git version very painful. But there is a very simple workaround: create a two-lines long `sof/.tarball-version` file. I always have one like this:
[code]
- I also find this useful:
[code]
[The design of the dictionary checksum is wrong](https://github.com/thesofproject/sof/issues/3890), it should checksum the dict

[2021-12-10 03:01] marc-hb opened #5067 "[BUG] scripts/build-tools.sh can corrupt development topologies"
SOF main branch, commit 7c6186acb6ba

Run these:
[code]
Save and compare the output `sof/tools/build_tools` directories each time and compare them. They don't have the same content. In one case some development topologies files are likely to be corrupted.

I learned this the really hard way while testing a totally unrelated CMake fix.

Finer-grained reproduction:

[code]

Compare with:

[code]

Bu

[2021-12-10 05:00] keyonjie commented on #4684
should already be fixed with main or stable-v2.0

[2021-12-10 07:36] lenghonglin opened #5068 "[FEATURE]support for rpmsg"
![image](https://user-images.githubusercontent.com/4686802/145535137-d97a2305-5d17-4909-8992-f76c37cadcd2.png)

I see the ppt say sof already support rpmsg, but in the sof project , i have not find this part code,  how's it going?

[2021-12-10 13:36] dbaluta commented on #5068
This is a thing that i'm interested in seeing it done. I think there was no progress on this and I didnt see any patches.

My goal would be to have a look at this in 2022.

Anyhow, if you have some time I think the support is already in Zephyr so the only thing that might be needed would be a driver in the Linux kernel to implement remoteproc/rpmsg.

[2021-12-10 13:56] lgirdwood commented on #5068
@lenghonglin this slide is quite old and out of data as plans evolved.
rpmsg patches for the kernel exist that @lyakh worked on in 2020. They went few a few rounds of patch submissions but were de-prioritised due to an HDA based virtualization interface being upstreamed. @lyakh is back next Tuesday so could point you to his code if you want to complete it.

The CMSIS work morphed into Zephyr, whic

[2021-12-10 15:14] lgirdwood commented on #4684
Ack - not seen this in daily for a long time especially after the D3 fixes merged - we can close now and reopen if it comes back.

[2021-12-10 15:14] #4684 closed

[2021-12-10 17:41] marc-hb commented on #5055
Change of plan, @kv2019i submitted a revert to 2 cores: zephyrproject-rtos/zephyr/pull/41013

[2021-12-10 17:42] marc-hb commented on #4965
Doc update merged, @hongshui3000 can we close?

[2021-12-10 17:43] marc-hb commented on #4995
Closing.

[2021-12-10 17:43] #4995 closed

[2021-12-10 17:52] marc-hb commented on #4923
What does "enumerated" mean here? Enumerated by whom? Where can this enumeration be seen or seen missing?

Indeed, with the same kernel even! Pure user space code should not affect low level CSE communication channels like this, this does not make sense.

[2021-12-10 18:01] marc-hb commented on #4141
Except for this "install" race condition I just discovered: #5067

[2021-12-10 18:07] marc-hb commented on #5067
I can think of a number of "quick fixes" but I could first use some idea of what purpose development topologies serve. Maybe a quick fix is not to copy / "install" them one level up if no one cares about them.

[2021-12-10 18:22] plbossart commented on #5067
'Development' topologies are typically added for a specific purpose such as
a) testing an interface that requires custom hardware not widely available
b) adding paths for testing (e.g. nocodec-ci), which extends a baseline
c) added modules that are not or not yet part of the baseline.

The intent is that they are developer-maintained, but not suitable for release or use by non-developers. there is

[2021-12-10 23:58] marc-hb commented on #5067
It does thank you!

This took a while (always with CMake...) but I think I have a pretty good fix: #5071

[2021-12-11 01:33] afq984 opened #5073 "[FEATURE] Make github actions build docker images and push to ghcr.io"
**Is your feature request related to a problem? Please describe.**
docker.io/thesofproject/sof AFAIK is built manually and can become stale from time to time

**Describe the solution you'd like**
make GitHub Actions build docker images `on: schedule` and push GitHub Action built docker images to ghcr.io (GitHub container registry)

**Describe alternatives you've considered**
- Do nothing.
- Build

[2021-12-11 01:34] afq984 commented on #5073
cc @cujomalainey @marc-hb

[2021-12-11 01:55] marc-hb commented on #5073
It is possible to trigger some actions only when certain files/directories are modified, the Zephyr project uses this:

https://github.com/trilom/file-changes-action

https://github.com/zephyrproject-rtos/test_results/blob/ef9cc5a9387649/.github/workflows/check_results.yml#L33
uses: trilom/file-changes-action@v1.2.3

[2021-12-11 02:12] marc-hb commented on #5073
Automated builds are nice, but without testing they're not worth much. That's why Docker images are built manually right now: because images have to be manually tested anyway. So for now I don't see the value of storing in some cloud all these docker images (one for every PR?) if they're not tested at all.

By the way how does ghcr.io compare with  Docker Hub that we use currently, why do you seem

[2021-12-11 02:30] afq984 commented on #5073
yes that's possible, but I think we should also build periodically since I don't think we can detect xtensa-overlay, crosstool-ng & friends' changes easily now.

Also nit about `uses: trilom/file-changes-action@v1.2.3`: we should use `trilom/file-changes-action@96385226e7e8530961a9bfebcd319aa054e8012c` instead to avoid supply chain attacks as tags are mutable, unless we treat github.com/trilom as

[2021-12-11 02:37] lenghonglin commented on #5068
Zephyr already support with SOF and OpenAMP(implement with IPM) , but But SOF still uses IPC3/IPC4.

I Think if SOF run on Zephyr, SOF shound call zephyr drivers, such dma , ipm, openamp. or will maintain two sets of drivers.

[2021-12-11 02:39] lenghonglin commented on #5068
yes, we already implement RPMSG with Zephyr , If SOF support RPMSG , we don't need rewrite ipc

[2021-12-11 08:29] hedmo commented on #4662
hi again .

i have started on an other device (t100ta) with an generic kernel and the it came back again . this time with : bytcr_rt5640 .

still no output in dmesg :(

[    8.065738] iTCO_wdt iTCO_wdt.2.auto: initialized. heartbeat=30 sec (nowayout=0)
[    8.073296] bytcr_rt5640 bytcr_rt5640: quirk IN1_MAP enabled
[    8.073306] bytcr_rt5640 bytcr_rt5640: quirk realtek,jack-detect-source 3
[    8

[2021-12-11 08:38] elzii commented on #1899
Would you mind detailing the steps you took? Trying to do this on a Pixelbook Eve 2017.

[2021-12-11 08:49] afq984 commented on #5073
A clean pull from
* docker.io/thesofproject/sof took 60.13 seconds
* ghcr.io/afq984/sof took 67.60 seconds

While the docker.io registry download is much faster (I don't have a good way to measure it though), the time is dominated by image extraction so the difference isn't that much.

[2021-12-11 21:19] marc-hb commented on #5073
Thanks for asking very good questions and starting this discussion. There is one simple way to solve most of these problems: 1. Extract `sof/scripts/docker_build/` into a new git repo / github project. There is no reason to have a very tight coupling of the versions of our Docker image (or the toolchains) with the `sof` git repo as we have now. The former are external and optional dependencies. I

[2021-12-11 22:26] marc-hb commented on #5073
There is a good chance the Github registery is very fast when used from Github-hosted Github Actions.

Maybe this if you really really want to test
https://devops.stackexchange.com/questions/2731/downloading-docker-images-from-docker-hub-without-using-docker

Right, a large optimization of a small part is actually a small optimization. As long as the performance is comparable I would focus on all

[2021-12-12 02:21] afq984 commented on #5073
Yeah I imagine that'd make a lot of things easier

maybe git submodule is a good candidate?

The docs isn't very clear about what this command does, but it seems to list what each image layer adds on top of the previous layer, rather than the history of different builds:

[code]

Given that I think having a lot of builds won't actually pollute its output.

docker images similarly to git can be tag

[2021-12-12 03:09] #4965 closed

[2021-12-12 03:13] hongshui3000 commented on #5068
I very much hope that zephyr and sof can unify the driver framework so that we don't need to maintain two sets of drivers. Of course it may take time to do it, but I think it’s worth it

[2021-12-12 15:12] dbaluta commented on #5068
@hongshui3000 I think that's the intention in the future. We talked about this in this presentation: https://youtu.be/9kPSG5q6gmA?t=518

[2021-12-12 19:48] marc-hb commented on #5073
Submodules have very few fans, I think we should move to `west` instead which is what Zephyr uses. Long story in #3517.

In this particular case though I think a "stable" config file with few revisions would be much simpler and do the job. Either submodules or west would be overkill and unnecessarily require people to learn a new tool (git submodules have been "new" to me for 15 years, I have to r

[2021-12-13 01:50] keqiaozhang commented on #4606
This issue is fixed on main and v2.0 branch.

[2021-12-13 01:50] #4606 closed

[2021-12-13 02:11] keqiaozhang commented on #4614
Confirmed that this issue is fixed with latest main and stable v2.0 branch.

[2021-12-13 02:11] #4614 closed

[2021-12-13 02:12] keqiaozhang commented on #4586
Confirmed that this issue is fixed with latest main and stable v2.0 branch.

[2021-12-13 02:12] #4586 closed

[2021-12-13 02:12] keqiaozhang commented on #4553
Confirmed that this issue is fixed with latest main and stable v2.0 branch.

[2021-12-13 02:12] #4553 closed

[2021-12-13 02:12] hongshui3000 commented on #5068
@dbaluta  By the way, Zephyr currently has some issues with high-priority interrupts and interrupt nesting on the xtensa architecture. I think nxp may also encounter these issues . Maybe you can give me some suggestions. thanks
https://github.com/zephyrproject-rtos/zephyr/issues/40946
https://github.com/zephyrproject-rtos/zephyr/issues/41039
https://github.com/zephyrproject-rtos/zephyr/issues/4094

[2021-12-13 02:12] keqiaozhang commented on #4458
Confirmed that this issue is fixed with latest main and stable v2.0 branch.

[2021-12-13 02:12] #4458 closed

[2021-12-13 02:16] keqiaozhang commented on #4552
Confirmed that this issue is fixed with latest main and stable v2.0 branch.

[2021-12-13 02:16] #4552 closed

[2021-12-13 02:16] keqiaozhang commented on #4372
Confirmed that this issue is fixed with latest main and stable v2.0 branch.

[2021-12-13 02:16] #4372 closed

[2021-12-13 02:23] keqiaozhang commented on #4481
Confirmed that this issue is fixed with latest main and stable v2.0 branch.

[2021-12-13 02:23] #4481 closed

[2021-12-13 02:46] XiaoyunWu6666 commented on #4433
Close this since it haven't happened in CI daily tests
Fix： PR #4439.

[2021-12-13 02:46] #4433 closed

[2021-12-13 02:52] XiaoyunWu6666 commented on #4328
Haven't reproduced it for days , close it

[2021-12-13 02:52] #4328 closed

[2021-12-13 03:00] XiaoyunWu6666 commented on #4639
This issue only happened once in inner daily 5882 and do not happen any more after that day. I think we are good to close it but

Hi @bkokoszx  @abonislawski  , do you have any ideas on possible solutions?

[2021-12-13 04:39] lenghonglin opened #5077 "How to get dsp log from host?"
Hi Guys, i bought IMX8MP to study SOF.
And i follow this [article](https://thesofproject.github.io/latest/getting_started/nxp/sof_imx_user_guide.html) to build firmware. I get `sof-imx8m.ldc` and `sof-imx8m.ri`.

 Finally, Then copy to `/lib/firmware/imx/sof/`. But when i reboot the system, don't find `/sys/kernel/debug/sof/` this directory.

And I wonder know how to get dsp log and how to verify

[2021-12-13 10:02] lyakh commented on #5043
The sof-tgl-sdw-max98373-rt5682.m4 topology has a similar and related issue, arguably even more severe: one capture and one playback PCMs are connected there via a demux and a smart amp. If I count correctly such a topology should be using 5 pipelines, currently that part of the topology is using 2 pipelines. That is also currently causing intermittent multiple-pause-resume failures in daily tests

[2021-12-13 11:12] #4639 closed

[2021-12-13 11:12] lgirdwood commented on #5067
@marc-hb can we close ?

[2021-12-13 11:35] lgirdwood commented on #5068
@hongshui3000 - yes, plan is to move all arch/, platform/ and drivers to Zephyr.

[2021-12-13 11:40] lgirdwood commented on #5077
@lenghonglin Have you enabled debugFS in your kernel. @dbaluta may have a specific kernel Kconfig for the IMX8MP platform. Also please check https://thesofproject.github.io/latest/index.html for details. If they are missing we can add.

[2021-12-13 11:55] lgirdwood commented on #4672
@lyakh @keyonjie did one of you work on a PR that updated this message to dbg level ? or a similar fix ?

[2021-12-13 12:09] lgirdwood commented on #4769
@cujomalainey are both crashes solved now ? I've not seen any updates since the DMA fixes were merged so I'm assuming were are good ?
@sathyap-chrome @sathya-nujella fyi.

[2021-12-13 12:37] dbaluta commented on #5077
@lenghonglin what kernel are you using? For the SOF debugfs to appear you need:

[code]

[2021-12-13 12:39] kkarask opened #5079 "[BUG] [v2.0] FW replied with error. Error code: -22 in test 12_01_TestMixerCapture24000Hz24b32b4ch"
**Describe the bug**
Error occurs in test 12_01_TestMixerCapture24000Hz24b32b4ch
FW replied with error. Error code: -22 0x00000005 0x00000000 0x00004000

**Topology**
[code]

**To Reproduce**
Run test 12_01_TestMixerCapture24000Hz24b32b4ch

**Reproduction Rate**
100%

**Environment**
1) Firmware branch name and commit
Git branch: v2.0, Hash: b678a4dcaa1e7ad0c6a056e17dd38bfe095a4464

3) Name of the

[2021-12-13 13:13] cujomalainey commented on #4769
@lgirdwood i believe this crash can still be replicated with the script. We simply modified CRAS so it won't hit it. It might be worth testing with another component that a large config payload.

[2021-12-13 13:39] lenghonglin commented on #5077
![image](https://user-images.githubusercontent.com/4686802/145821828-4a50a745-b35a-4f6d-b85e-1279563c050b.png)
I don't see `sof`.

![image](https://user-images.githubusercontent.com/4686802/145822002-fe89f3df-c747-42a3-91ea-2dc1bc56e2be.png)

![image](https://user-images.githubusercontent.com/4686802/145822022-aed9d2e1-767a-4c04-a96e-6f2ced2d7614.png)

But there are  sof files. So i doubt sof is n

[2021-12-13 13:41] cujomalainey opened #5080 "[FEATURE] Add fuzzing endpoints for math functions"
**Is your feature request related to a problem? Please describe.**
We have a lot of math functions with precise lookups. If not implemented correctly they could in theory be overflowed resulting in either broken audio or bad memory accesses.

**Describe the solution you'd like**
Fuzz endpoints for the math functions. Fuzzing time should be quite short since there is no state.

**Describe alternati

[2021-12-13 13:42] cujomalainey commented on #5080
@afq984 I set you as the placeholder owner, if you have time to do this great, otherwise I might bump it to Eddy once I add him to the org

[2021-12-13 13:45] lenghonglin commented on #5068
@lgirdwood  good news

[2021-12-13 13:49] dbaluta commented on #5077
First 5.4 is ancient.

You could use https://source.codeaurora.org/external/imx/linux-imx?h=lf-5.10.y

We are working on having 5.15 by th end of the year.

Make sure you boot your board with imx8mp-mek-sof-wm9860.dtb otherwise SOF will not be enabled.

[2021-12-13 14:32] lenghonglin commented on #5077
OK, i will try to build 5.15

[2021-12-13 15:15] #5067 closed

[2021-12-13 15:26] plbossart commented on #1899
See comment above https://github.com/thesofproject/sof/issues/1899#issuecomment-776070707

[2021-12-13 15:29] plbossart commented on #5043
@lyakh the demux should be at the end of a host pipeline, not the start of a new dai pipeline one as done for the mixer.

[2021-12-13 15:31] plbossart commented on #5043
actually it depends. My comment applies for the case where we use the demux to split the playback stream to go to multiple amps. The case of sof-tgl-sdw-max98373-rt5682.m4 is different, IIRC the demux is on a capture path, isn't it?

[2021-12-13 16:06] kv2019i commented on #5042
A quick update:
  - problem is only happening on some ADL system (e.g. on a brya board I have, problem is not reproduced)
  - we have at least one report of problem occuring without the cmake min-ver patch
  - on affected boards, there is some linkage to tracing (e.g. occurence rate changes with certain traces disabled), but the exact relation is not clear

[2021-12-13 18:10] kv2019i commented on #5050
With the icache fix of
https://github.com/zephyrproject-rtos/zephyr/pull/41045

Without icache fix:
[   101175197.490076] (        1121.250000) c1 zll-schedule       src/schedule/zephyr_ll.c:132  INFO ll task 0xbe079840 pipe-task <f11818eb-e92e-4082-82a3-dc54c604ebb3> avg 40160, max 40256

With the fix:
[    25074202.336974] (        1098.854126) c1 zll-schedule       src/schedule/zephyr_ll.c:132

[2021-12-14 07:17] lyakh commented on #5043
It is in capture. yes

[2021-12-14 07:22] kkarask opened #5082 "[BUG] FW replied with error. Error code: -22 0x00000005 0x00000000 0x00004000 in test 07_06_TestKdMemLeakStaticPipelines"
**Describe the bug**
Error code occurred in test 07_06_TestKdMemLeakStaticPipelines
 FW replied with error. Error code: -22 0x00000005 0x00000000 0x00004000

**Topology**
[code]

**To Reproduce**
Run test 07_06_TestKdMemLeakStaticPipelines with Diagnostic driver

**Reproduction Rate**
100%

**Environment**
1) Firmware branch name and commit
Branch: main, Hash: cb280c4c5968800e56e5c5519088c6138a30e

[2021-12-14 07:23] kkarask opened #5083 "[BUG] Glitch in the whole file on JSL platform"
**Describe the bug**
Glitch was found in the whole file in test 07_04_TestKdDmic16000Hz24b32b2ch

**Topology**
[code]

**To Reproduce**
Run test 07_04_TestKdDmic16000Hz24b32b2ch with Diagnostic driver

**Reproduction Rate**
1/75.

**Environment**
1) Firmware branch name and commit
Tag: v2.0, Hash: b678a4dcaa1e7ad0c6a056e17dd38bfe095a4464

2) Name of the platform(s) on which the bug is observed.

[2021-12-14 08:48] bkokoszx commented on #5079
@kkarask Do we have a reproduction also on main branch?

[2021-12-14 09:55] lgirdwood commented on #5080
@singalsu @ShriramShastry fyi.
@cujomalainey I guess we can do this via the cmocka or host based build ? If this works well we could extend to other APIs that take host data (at the layers down from the IPC like the components set / get config()).

[2021-12-14 10:02] lgirdwood commented on #5079
@kkarask this looks a good test, is there anyway we can get this test topology in topology format for developer debug ? Fyi @lyakh will be looking at connected pipeline issues and logic in the next few weeks so this topology would be needed for the debug.

[2021-12-14 10:12] lgirdwood commented on #5083
@kkarask can you retest with #5049 as we have discovered a big optimization for KPB that may help here.

[2021-12-14 10:50] lgirdwood commented on #5050
@kv2019i @andyross some things to check.
1) do we know if the core1 tasks are starting when expected i.e. there is no delay running the c1 task for each tick
2) Is there anyway to dump all secondary core DSP special registers (i.e. regs we read/write with rsr/wsr and compare to core0)
It just seems to me we have a correct config for core0, but something is different with core1..3 and this could be

[2021-12-14 13:23] bkokoszx commented on #5079
@lgirdwood maybe we are missing some patch from main branch on stable-v2.0?

[2021-12-14 14:03] cujomalainey commented on #5080
We really just need to copy the [ipc fuzz endpoint](https://github.com/thesofproject/sof/blob/main/tools/oss-fuzz/fuzz_ipc.c), drop all the calls to initialize SOF since the math should not need it. Drop the initialize function. Register the new endpoint and setup for short fuzzing (like 5-10s should probably be good). And we are good.

Thinking about it, it might be better to simply sample the do

[2021-12-14 17:15] marc-hb opened #5086 "[BUG] [BYT] WARN pipeline_get_timestamp(): DAI position update failed"
**Describe the bug**

https://sof-ci.01.org/sofpr/PR5074/build11349/devicetest/?model=BYT_MB_NOCODEC&testcase=multiple-pipeline-capture has many:

[code]

**To Reproduce**

On BYT, run multiple-pipeline-capture test?

**Reproduction Rate**

Observed only that time.

**Expected behavior**

No warning.

**Impact**

No idea sorry.

**Environment**

From https://sof-ci.01.org/sofpr/PR5074/build11349/d

[2021-12-14 17:17] marc-hb commented on #5086
From @ujfalusi

The only other place where it is called is in src/audio/host.c host_update_position() if hd->no_stream_position is 0.

[2021-12-14 17:18] marc-hb commented on #5086
From @lyakh

[2021-12-15 15:03] kv2019i opened #5093 "[FEATURE][Zephyr] Make Zephyr version visible in extended manifest and/or version logs"
**Is your feature request related to a problem? Please describe.**
Currently it is impossible to tell from FW behaviour and default Linux kernel logs, whether the FW was built with XTOS or Zephyr as RTOS. Furthermore, it's not possible to discover the version of Zephyr that has been used.

**Describe the solution you'd like**
Possible solutions:
 - adding to FW_READY
 - adding to extended manifest

[2021-12-15 15:16] kv2019i opened #5094 "[FEATURE][Zephyr] Implement arch_cpu_disable_core and cpu_power_down_core in wrapper.c"
**Is your feature request related to a problem? Please describe.**
Currently secondary cores are only powered down when DSP is put to suspend, or via out-of-band means (on Intel cAVS1.5, host controls power directly for the DSP cores).

Zephyr now implements interface to start/stop xtensa cores, so this should be used in wrapper.c.

[2021-12-15 17:59] marc-hb commented on #5093
There is a `is_zephyr` test in sof-test but I agree it's a hack:

It searches for "zephyr" strings in the .ldc file and  that file is of course optional.
https://github.com/thesofproject/sof-test/commit/007683c95d7bca00

So I don't think you can "cleanly" tell from Linux right now. The FW_READY field seems limited, any suggestion on how to extend it? How about something (new?) in `/sys/kernel/debu

[2021-12-15 18:55] dbaluta commented on #5077
@lenghonglin where did you buy i.MX8MP and how much did it cost?

@ranj063 maybe we can figure out a way to send you an i.mx8mp for codec_adapter patches.

An alternate way, would be to enable compress patches for Intel (I can point you to NXP internal tree, current kernel is 5.15). The only way we need to figure out after that is to create a topology for one of your intel boards.

[2021-12-15 19:04] ranj063 commented on #5077
I like the alternate suggestion @dbaluta

[2021-12-15 19:09] dbaluta commented on #5077
@ranj063 I think you can try to cherry-pick this patch https://github.com/thesofproject/linux/pull/3222/commits

into your tree and then adapt this topology https://github.com/thesofproject/sof/blob/main/tools/topology/topology1/development/sof-imx8-compr-mp3-wm8960.m4

for intel DAI and codec.

With this kernel is ready! Then on the firmware side you need to set this config options:

CONFIG_COMP_

[2021-12-15 23:05] plbossart opened #5096 "[BUG] DSP panic with HDaudio topologies w/ deep-buffer"
**Describe the bug**

With deep-buffer enabled, the DSP panics (v1.9.3)

**To Reproduce**

https://github.com/thesofproject/sof/pull/4611 (copy topology on target)
https://github.com/thesofproject/linux/pull/3331

 TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg ~/sof-test/test-case/multiple-pipeline-playback.sh -l 1

**Reproduction Rate**

100%

**Expected behavior**

no DSP panic.

**

[2021-12-16 07:29] lenghonglin commented on #5077
Sorry for an awkward question that How to include imx8mp-mek-sof-wm9860.dtb?

[2021-12-16 08:07] dbaluta commented on #5077
@lenghonglin lets chat on. https://gitter.im/thesofproject/community

[2021-12-16 08:35] kv2019i commented on #5042
We have now test data pointing to an algorithm and dmic sensitivity issue.

Some of the observations earlier in the debug were related to https://github.com/thesofproject/linux/issues/3034 . By disabling FW trace, that can be excluded from experiments.

If we then force zero input (e.g. by muting with a PGA in the pipeline) on affected systems, we no longer unexpected early/spurious wakes. Some of

[2021-12-16 09:35] bawanqin1987 opened #5098 "[SOF] sof/script/run-mocks.sh with error"
**Describe the bug**
when we wanna run ./modules/audio/sof/scripts/run-mocks.sh with ZEPHYR_WORK_SPACE for testting cmock ut case.
1.config the SOF as below,BUILD_UNIT_TESTS=ON,BUILD_UNIT_TESTS_HOST=OFF
![企业微信截图_1639646917828](https://user-images.githubusercontent.com/80995796/146344864-944691ef-e103-430f-be9a-ef164475649f.png)

2.and run the sh,there is error:
![企业微信截图_16396471027442](https://use

[2021-12-16 09:36] bawanqin1987 commented on #5098
and then ,when i ON the BUILD_UNIT_TESTS_HOST,and the test ok.
i check the log,it's use local gcc,but it's not xt-xcc

[2021-12-16 10:32] bawanqin1987 commented on #5098
yes,i had already install the hifi4 xtensa toolchain:
![企业微信截图_16396506319003](https://user-images.githubusercontent.com/80995796/146354941-a5c564db-9a78-4311-8ca9-fd3b2b898cd4.png)

because i use the the xtensa_build_zephyr.sh is ok to build
![企业微信截图_16396507273947](https://user-images.githubusercontent.com/80995796/146355240-7b7955f7-55b1-416b-bc00-5569f163aeb0.png)

[2021-12-16 10:35] bawanqin1987 commented on #5098
i check the run_cmock sh and xtensa_build_all.sh ,The environment Settings are the same
![企业微信截图_16396509396534](https://user-images.githubusercontent.com/80995796/146355741-8e1585a2-d0fc-4464-9633-afee577200a4.png)

[2021-12-16 10:52] bawanqin1987 commented on #5098
Failed to compile here, but wonder why show config failed
![企业微信截图_16396519046386](https://user-images.githubusercontent.com/80995796/146358332-7eabdcb2-7a59-43a9-b250-437d7ea55e95.png)

[2021-12-16 10:55] bawanqin1987 commented on #5098
and i check the process,sof build cmock with host and xtensa supported,you can check the process.
They all have macros to control them
native compiler and toolchain compiler also supported.

[2021-12-16 11:21] bawanqin1987 commented on #5098
i set the PATH with my run cmock.sh,as below:
![企业微信截图_16396535877261](https://user-images.githubusercontent.com/80995796/146362464-148ebc1c-0362-46f5-a266-0bc98208abd7.png)
and run the shell:
![企业微信截图_16396536504344](https://user-images.githubusercontent.com/80995796/146362616-28861984-5e37-431a-bc95-3a1b7e2bad65.png)

why the process dual with xt-gcc,i can not set this tool.

[2021-12-16 11:40] bawanqin1987 commented on #5098
ok, and i modify the run cmock -D
![企业微信截图_1639654645114](https://user-images.githubusercontent.com/80995796/146364901-669fddb7-2e7d-4d13-9071-e26f66369832.png)

and check the compile log:
![企业微信截图_16396547085935](https://user-images.githubusercontent.com/80995796/146365046-0582fed8-cec4-4299-85ef-a49b91755cad.png)

but there some files report error,I suspect that files compiled with XT-XCC do not

[2021-12-16 12:06] lgirdwood commented on #5096
Looks like an assert()

[2021-12-16 12:08] lgirdwood commented on #5079
@kkarask can you confirm this works on main branch but not on v2.0 ?
I think we have all the fixes, but if we can confirm then I can check for missing patches.

[2021-12-16 12:33] lgirdwood commented on #5098
@bawanqin1987 can you try and update the SOF module to the latest HEAD.
We will need to wait for @marc-hb to comment here on the configuration required to use XT toolchain.

[2021-12-16 12:35] lgirdwood commented on #5094
We need to start using native Zephyr APIs and wrap the xtos version of these functions.

[2021-12-16 12:38] lgirdwood commented on #5080
Fwiw, all the mocka and testbench can all run with valgrind now (and testbench pulls in more of pipeline logic too).

[2021-12-16 12:42] lgirdwood commented on #5068
@hongshui3000  thanks for logging the issues, fwiw both @dcpleung @andyross are working on them.

[2021-12-16 13:06] cujomalainey commented on #5080
that looks good, I think if we add sanitizers we should be good, specifically ubsan and maybe address, memory i think should not matter as we are not doing allocs in math

[2021-12-16 14:51] kkarask commented on #5083
@lgirdwood FW was build: stable-v2.0 with #5049 and reproduction of this bug is 1/500.

[2021-12-16 15:15] plbossart commented on #5096
I vote with two hands to remove all asserts from the firmware. It makes our life miserable for no good reason.

[2021-12-16 20:46] lgirdwood commented on #5096
Yep, this is agreed - I think its an ongoing process.

[2021-12-17 01:43] marc-hb commented on #5098
This bug is really too confusing, please close it and file a new, clearer and simpler bug if needed (probably not).

- Don't use screenshots, use copy/paste. Screenshots are not searchable and not indexed and they block copy/paste of your commands which is required to reproduce your issue.

- Copy/paste only the relevant bits.

- If you make code changes, at the very least share your modifications

[2021-12-17 01:59] miRoox commented on #5055
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/41013

[2021-12-17 01:59] #5055 closed

[2021-12-17 02:23] bawanqin1987 opened #5102 "[SOF]Run cmock with xtensa toochain,build and excute error"
**sof/script/run-mocks.sh with xtensa toolchain report some error**
1. i check the run cmock process,it's support HOST and XTENSA toolchain(xt-gcc/xt-xcc)
2. so,i modify the run cmock configs,as below:
larryba@debian:~/project/zephyrproject$ cd modules/
audio/          bsim_hw_models/ crypto/         debug/          fs/             hal/            lib/            tee/
larryba@debian:~/project/zeph

[2021-12-17 02:30] bawanqin1987 commented on #5102
the modify i attach the file,So you can reproduce the problem
[modify run cmocks sh file.txt](https://github.com/thesofproject/sof/files/7731684/modify.run.cmocks.sh.file.txt)

[2021-12-17 05:43] bawanqin1987 commented on #5098
ok  ,i  submit another case for you

[2021-12-17 05:43] #5098 closed

[2021-12-17 06:28] marc-hb commented on #5093
Note the Zephyr commit is visible in the build logs, see for instance f8cd20fa3e74 in https://sof-ci.01.org/sofpr/PR5066/build11393/build/tgl_zph_error.txt

Ideally, each test run should be unambiguously linked to well defined build, at least in CI it should be. But I agree it's not always the case and it's rare to have "too much" version control.

[2021-12-17 06:40] marc-hb commented on #5102
Thanks for the report, so much clearer than #5098.

As I wrote at the bottom of #5098, I'm not aware of any CMake wrapper script that supports cross-compiled unit tests.

First things first: does it work when you follow the official documentation and use CMake directly? https://thesofproject.github.io/latest/developer_guides/unit_tests.html

[2021-12-17 06:50] lyakh commented on #5096
@lgirdwood @plbossart for cases where there's really no meaningful path forward in the firmware - would it be possible to save some debug information in an area of RAM, preserved over resets, reset and then read out and send that debug information to the host via normal logging?

[2021-12-17 06:54] bawanqin1987 commented on #5102
of course run cmock support ,also i check the unit_tests.html
1.if we use the xtensa crosstool,we should config some development :
Export XTENSA_TOOLS_ROOT as you normally do when building the firmware.

Build the firmware using ./xtensa-build-all.sh and take note of the following variables in the build log: PATH, XTENSA_SYSTEM and the -DROOT_DIR parameter.

export the PATH and XTENSA_SYSTEM value

[2021-12-17 06:58] marc-hb commented on #5102
You lost me sorry. Can you answer this question with "yes" or "no"?

[2021-12-17 06:59] bawanqin1987 commented on #5102
Even if you compile an executable using cross-compilation, just because it doesn't run locally doesn't mean it can't compile
but now it's build error .some files preprocesser report datatype check error...i think these files
syntax does not adapter with our xtensa crosstool chain...

for another,i had already use script xtensa-build-zephyr.sh/xtensa-build-all.sh success for building.

[2021-12-17 07:02] bawanqin1987 commented on #5102
yes.i had already tried.host on is ok .host off and xtensa xt-xcc/xt-gcc  crosstoolchain is not pass.

[2021-12-17 07:06] marc-hb commented on #5102
Good. So there is no bug, I'm removing the "bug" label. I don't understand everything you wrote but I believe you are requesting a more convenient way to cross-compile and run the unit tests. This is a valid request but it's not a priority right now. If you find how to do it, please submit a pull request.

[2021-12-17 07:11] bawanqin1987 commented on #5102
wait.but and you have method to use the https://thesofproject.github.io/latest/developer_guides/unit_tests.html
with xtensa crosstoolchain ,The documentation says yes, but actually the command used in the documentation failed.
so That's why I tried to modify run Cmock because I saw that the process supports cross-compilation .
so ,how i can i do using xtensa crosstool with cmock case??
the unit te

[2021-12-17 07:20] marc-hb commented on #5102
You wrote:

But now you are saying "no"? This is extremely hard to follow.

[2021-12-17 07:25] bawanqin1987 commented on #5102
i mean unit_tests.html ,host tool gcc is ok to support ,but the xtensa toolchain failed to follow the documentation recommendations.

how can i do?

[2021-12-17 07:29] bawanqin1987 commented on #5102
Example: Running tests for APL¶
mkdir build_ut && cd build_ut
cmake -DBUILD_UNIT_TESTS=ON -DTOOLCHAIN=xt -DINIT_CONFIG=apollolake_defconfig \
    -DROOT_DIR=/xcc/install/builds/RG-2017.8-linux/X4H3I16w2D48w3a_2017_8/xtensa-elf ..
make -j4 && ctest -j8

and this example,I think the description here is problematic,when we create the ut_test dir and cd the dir,there is no cmakelist,Of course, the cma

[2021-12-17 07:45] miRoox opened #5103 "[BUG] TGLU_RVP_NOCODEC IPC timed out for PIPE_FREE when multiple-pipeline-all"
**Describe the bug**
In inner test ID 8954, model=TGLU_RVP_NOCODEC, testcase=multiple-pipeline-all-50,
When running all pipelines in parallel on TGLU_RVP_NOCODEC, IPC timed out for PIPE_FREE.

**To Reproduce**
[code]
**Reproduction Rate**
Around 1/150 in manual reproduction.

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: https://github.com/thesofproject/linux/commit/9e5edeba
SOF Bran

[2021-12-17 07:54] miRoox commented on #5086
Seems duplicate #5017?

[2021-12-17 09:36] kkarask commented on #5079
@lgirdwood This bug could be related with #4961. I have checked one more time and this issue occurs only if playback iterations is greater than 1 then the Error code: -22 shows up.
Sum up this issue doesn't work on main branch either. Sorry for misleading you.

[2021-12-17 17:03] plbossart commented on #5096
@lyakh isn't that what the etrace is about, saving stuff in memory windows so that they can be read on errors?

[2021-12-17 17:12] ranj063 commented on #5096
@lyakh we can use memory window 0 in this case no?

[2021-12-18 09:47] prof-dr-pepper opened #5111 "Topology file missing for Latitude 7320 Detachable"
The topology file "sof-tgl-rt711-l0-rt1316-l1-mono-rt714-l3.tplg" that is required for https://github.com/thesofproject/linux/issues/3161 to work is still missing in sof-bin.

Regards,
Marcus

[2021-12-18 10:08] Thorval opened #5112 "Realtek ALC711-CG in Dell Precision 5760 does not work"
Dear SOF developers,

I have a new Dell Precision 5760 laptop with a built-in Realtek ALC711-CG sound card which does not work with the SOF firmware. It worked with the preinstalled Windows - so, It's not a hardware defect. This sound card is apparently built into new Dell XPS and Precision laptops and probably will affect many users.
I am running Debian 11 "Bullseye" with a 5.10 kernel. I have tr

[2021-12-20 06:29] ranj063 opened #5113 "[BUG]Topology load failure with recent redirection"
**Describe the bug**
Topology fails to load with error:
[code]

**To Reproduce**
Build topology with SOF main and boot the device

**Reproduction Rate**
100%
**Expected behavior**
Topology should load successfully.

**Impact**
showstopper

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: {SHA}
    * SOF: https://

[2021-12-20 06:29] ranj063 commented on #5113
@marc-hb FYI

[2021-12-20 07:08] lyakh commented on #5096
@plbossart @ranj063 makes sense, so we just have to implement that :-)

[2021-12-20 07:35] marc-hb commented on #5113
I really don't see how eb34437 could make any _content_ difference. If it did this would be exposing a very severe bug in `alsatplg`, much more serious than a simple permission issue. I just reverted it locally and permissions aside all the `.tplg` files are byte for byte identical.

[2021-12-20 08:51] kkarask opened #5114 "[BUG] [v2.0] Error code: -62 0x00000005 0x00000000 0x00004000 occurred in test 17_08_TestMulticoreKdCore1PlaybackD0ix16000Hz16b16b"
**Describe the bug**
Error occurred in test 17_08_TestMulticoreKdCore1PlaybackD0ix16000Hz16b16b:

Exception SofIpcErrorResponseException occurred at 'C:\\work\\tools\\pyexecnetcache\\cavs_scripts-py\\utilities\\ipc_driver.py':763
FW replied with error.
Error code: -62
0x00000005 0x00000000 0x00004000

Test multi core with keyword detection feature with D0i3 support.
Playback and capture on SSP int

[2021-12-20 09:56] kv2019i commented on #5114
@lyakh can you take a look?

[2021-12-20 10:54] kkarask commented on #5114
After retest commit: 689e06d78b6e821dce776deb6ed4abea2f24bc2d problem exists too but with lower occurrence rate.

[2021-12-20 11:33] lyakh commented on #5114
@kkarask could you please also attach a full firmware trace when this test isn't failing for comparison? Thanks!

[2021-12-20 12:46] kkarask commented on #5114
@lyakh Logs without fail:
[TGL_pass_without_error_code-62.zip](https://github.com/thesofproject/sof/files/7745341/TGL_pass_without_error_code-62.zip)

Logs with fail:
[TGL_fail_with_error_code-62.zip](https://github.com/thesofproject/sof/files/7745345/TGL_fail_with_error_code-62.zip)

[2021-12-20 14:14] bkokoszx commented on #5114
I think I have fix for this case:
https://github.com/bkokoszx/sof/commit/de4a61d1eb1146db3df31dbb11cb318c9306f4e8

Before @lyakh commit (https://github.com/thesofproject/sof/commit/92510c938e3107d184d7a7cd0578b42b090cbf9a) in above case, ```domain_unregister``` was invoked during ```schedule_task_cancel```

after pause pipeline on core 1.
[code]
After @lyakh commit we do not hit timer_unregister:

[2021-12-20 15:19] lyakh commented on #5114
@bkokoszx thanks for the fix! I posted a comment there, please, have a look

[2021-12-20 22:31] lgirdwood commented on #5113
Could we have a race in the build ? Do we need to force clean topology bimaries ? Do we have stale intermediate topology build files anywhere ?

[2021-12-20 23:45] marc-hb commented on #5113
As a coincidence, I tested this commit with very different number of threads because I was fixing an unrelated and proven CMake race condition with `development/` topologies (#5067). While testing #5067 I never noticed any other race. I tested again with `-j1` and `-j400` and the number of threads makes zero difference to anything.

For the record here's the expected file right now:
[code]
@ranj06

[2021-12-21 00:26] ranj063 commented on #5113
A few more details about my environment:

Ubuntu 20.04
shell type: bash
alsatplg version 1.2.6
libasound version 1.2.6.1
libatopology version 1.2.6.1

[corrupt-tplg.tar.gz](https://github.com/thesofproject/sof/files/7748696/corrupt-tplg.tar.gz)

And manual redirection with the alsatplg command works fine but redirection with the build-tools.sh script results in a corrupt tplg file. Here's the brok

[2021-12-21 00:33] marc-hb commented on #5111
It has not been backported to 1.9.x (feel free to cherry-pick 425743e7723422 and submit) but it is in 2.0 which is being released: https://github.com/thesofproject/sof-bin/blob/main/v2.0.x/sof-tplg-v2.0/sof-tgl-rt711-l0-rt1316-l1-mono-rt714-l3.tplg

[2021-12-21 01:58] marc-hb commented on #5102
What problem? The error messages in the `sof run cmock with xt-xcc error.txt` attachment are in Chinese. The common language for this project is English.

If you want others to understand your bugs, you must provide the absolute minimum steps required to reproduce. Build with a single thread `-j1` so there is a single error message not interleaved with unrelated stuff, then provide the concise err

[2021-12-21 02:01] marc-hb commented on #5113
I believe your CMake version was 3.16.3

Also: is it affecting just this .tplg file or others or most or all? `diff -qr build_tools.before/ build_tools.after`

[2021-12-21 03:34] bawanqin1987 commented on #5102
sorry , i can not found where excute the command :
from the URL : https://thesofproject.github.io/latest/developer_guides/unit_tests.html :
i check the steps:
Example: Running tests for APL
1. mkdir build_ut && cd build_ut (i can not understand why cd build_ut??and where can i mkdir the build_ut dir??)
2. cmake -DBUILD_UNIT_TESTS=ON -DTOOLCHAIN=xt -DINIT_CONFIG=apollolake_defconfig \
    -DROOT_DI

[2021-12-21 07:36] singalsu commented on #5083
Is the glitch happening in | Host | or | KD Dummy| ? Select is usually 1ch but it can operate with 2ch bypass so I'm wondering if e917018f62abd380e99c64b12f7f2b5299340e5f could impact.

[2021-12-21 08:03] bkokoszx commented on #5082
@kkarask I assume this is a regression. Could you provide exact commit, which introduces the regression?

[2021-12-21 08:11] #5111 closed

[2021-12-21 08:45] bkokoszx commented on #5094
@mwasko fyi

[2021-12-21 08:56] mengdonglin commented on #5112
@Thorval Dell Precision 5760 is a supported device model of SOF. We'll double check mainline kernel v5.10 and SOF upstream versions and come back to you.

[2021-12-21 09:09] keqiaozhang opened #5120 "[BUG] [ZEPHYR] corruption of the end of the DMA trace ring buffer ("sof-logger was already dead")"
EDIT: this is caused by DMA trace corruption, mostly with XCC and mostly with Zephyr (but not just). See below - @marc-hb

**Describe the bug**
We observed this error on some zephyr platforms recently. From the console log, it shows that sof-logger was already dead, but there're no obvious errors in dmesg or DMA trace. Since the error trace is not available on zephyr platforms, so we don't know wh

[2021-12-21 15:11] dbaluta commented on #5120
@marc-hb i'm also looking at to sof zephyr these days. what should is the status of sof logger support with zephyr?

on my side running:

[code]

but no other message.

while running sof-logger without `-t` option i get a similar error as reported in the issue.

[code]

[2021-12-21 15:19] lgirdwood commented on #5112
@Thorval Not sure why FW would fail to boot here, Linux 5.10 should have all the support for TGL DSP and soundwire. Did 5.14 work with SOF v1.9.3 ?
@plbossart @ranj063 @kv2019i any ideas ?

[2021-12-21 15:44] marc-hb commented on #5120
@dbaluta the DMA trace (sof-logger -t) works normally noww, check any recent sof-ci/jenkins result. The shared memory `etrace` requires a different script, we use https://github.com/zephyrproject-rtos/zephyr/commit/9fecab03eeb3

@keqiaozhang, @dbaluta  you're using the wrong. ldc file, always `rsync` both `.ldc and .ri` files at the same time.

https://docs.zephyrproject.org/2.3.0/guides/kconfig/m

[2021-12-21 15:56] marc-hb commented on #5120
There will never be an error from the kernel or from the firmware when using the wrong .ldc file.

There is no .ldc checksum with Zephyr right now, working on it.

I also recommend never having any .ldc file in` /etc` to avoid mismatches.

[2021-12-21 16:03] kv2019i commented on #5112
Hmm, this seems odd. Only change affecting the boot are the ICCMAX patches, but those are in 5.10, so should be good.

Just to double check, @Thorval can you check that the Intel Management Engine (ME) is not disabled in BIOS. Please see https://thesofproject.github.io/latest/getting_started/intel_debug/introduction.html#user-space-and-filesystem-requirements and https://thesofproject.github.io/la

[2021-12-21 16:24] lgirdwood commented on #5096
panic() should do this today.

[2021-12-21 16:36] lgirdwood commented on #5103
@miRoox is there any stack trace with the FW exception (kernel may need to display stack trace).
@ujfalusi should stack trace be enabled by default in dmesg ?

[2021-12-21 16:45] ujfalusi commented on #5103
@lgirdwood, in case of IPC timeout we don't have stack trace available. The stack can be only shown if we have firmware panic or assert.
The dtrace or etrace from debugfs might provide some hint on why we have timeout.

[2021-12-21 17:10] lgirdwood commented on #5102
@mengdonglin @marc-hb I wonder if we have a configuration difference between the xt tooling or the environment that Intel is using and the xt tooling / environment that @bawanqin1987 is using ? This could explain why it's not working at all for @bawanqin1987.
@mengdonglin could someone with the xt tooling run the cmocka script and past all the commands and the output here so that @bawanqin1987 can

[2021-12-21 17:19] lgirdwood commented on #5093
extended manifest ?

[2021-12-21 17:21] lgirdwood commented on #4901
@markbartonxperi can we close ?

[2021-12-21 17:23] lgirdwood commented on #4382
Can reopen if needed.

[2021-12-21 17:23] #4382 closed

[2021-12-21 17:32] lgirdwood commented on #5103
@ujfalusi should we see it here as the log says we have a FW exception ?
[code]

[2021-12-21 18:34] fincan opened #5122 "[BUG] Huawei Matebook 14s headphone / speaker problem"
I tried different distros Ubuntu 21.10/Fedora and now Arch linux. I have an issue with speaker, headphone settings.
First of all the laptop has 4 speakers and 4 dijital mics.
Well these are problems:
1) Gnome volume slider does not effect on volume. Each clicks give same beep until below %5 and volume goes down.
2) If I plug a headphone, no sound at headphone and  sound still comes from speakers.

[2021-12-21 18:43] ujfalusi commented on #5103
This is printed from `snd_sof_handle_fw_exception()` which is only called from ipc.c when we have TX timeout. I don't know why it is printing `Firmware exception`, but we have the timeout pointed out before.

I guess the idea is that this could be called from different places (it is not) and be a generic "exception" printer. The problem is that if we don't have a panic then we don't have callstack

[2021-12-21 18:45] marc-hb commented on #5120
@dbaluta for logging on Zephyr please review #5110 but even more urgently zephyrproject-rtos/zephyr/pull/41282 (3 lines long linker script addition)

[2021-12-21 19:22] kv2019i commented on #5050
@lgirdwood  @andyross
It seems the non-primary DSP cores are not running at correct clocks. I could verify all logic is working as expected, but a simple synchronous processing loop (with no access to HW peripherals, just DSP processing) runs ~8X slower on core1 than core0. The observed speed doesn't match LP/HP cro clocks, but this is pretty close to XTAL output rate, so that's one possibility. I

[2021-12-22 01:43] aiChaoSONG commented on #5113
There are debug logs from alsatplg in the corrupt topology. The debug option is on with ranjani's alsatplg. in the script, these logs are redirected to the topology file, too.
![image](https://user-images.githubusercontent.com/52959957/147020564-68cc3d80-71f6-4127-b1eb-442c74409b6b.png)

[2021-12-22 06:03] marc-hb commented on #5120
I took a closer look at the latest daily test results and I found random trace corruption across ALL tests (and all platforms),  even the PASSing test runs! Most of the time the sof-logger can recover from it and the tests PASS, sometimes there is just too much corruption and the test fails.

It seems to happen at random places, not at any particular point in time.

Trying to reproduce now.

[code

[2021-12-22 07:02] marc-hb commented on #5113
Awesome find @aiChaoSONG , you rock! (why didn't I open the attached file mysefl? Maybe it was too late after a long day...)

@ranj063 please use `fprintf(stderr, ...)` for your debug logs, this should avoid the issue.

Closing.

[2021-12-22 07:31] marc-hb commented on #5120
I can finally reproduce but only with XCC. No reproduction with the Zephyr SDK 0.13.2

[2021-12-22 08:28] marc-hb commented on #5120
I had a look at check-playback-100s on APL Zephyr in many recent daily test results. They all have "periodic DMA trace corruption" from the moment I enabled sof-logger in Zephyr tests (daily 8417, November 23rd). What's recent is only how worse it became, until now the sof-logger was merely skipping the corruption.

Every time I saw periodic DMA trace corruption with Zephyr, I checked the logs for

[2021-12-22 09:18] Thorval commented on #5112
Many thanks for your suggestions, of which the following two led to a working sound card!

1), Fedora 35 Live Session
Kernel 5.14.10, SOF firmware 1.8.2
I had to choose the SOF soundwire speaker in the Gnome3 settings.

2). Debian "Bullseye" with Kernel from Backports and SOF firmware from "Testing"
Kernel 5.14.0, SOF firmware 1.9.1
Worked out-of-the-box in KDE Plasma5.

So, at least a Kernel 5.14

[2021-12-22 12:16] sanzazacuro opened #5123 "[BUG] No mic data on HP Chromebook X360"
**Describe the bug**
I am not able to get mic data on device with `intel-generic-dmic` pipeline. Kernel log reports `No GPIO consumer dmicen found` and
`SSP1-Codec: ASoC: no backend capture stream`. Is there anything that needs to be patched for Intel dmic?

**To Reproduce**
`arecord -f dat micTest.wav`

**Reproduction Rate**
100%

**Expected behavior**
Get mic data in DSP.

**Impact**
Showstopper

[2021-12-22 12:26] kkarask commented on #5083
@singalsu Output wav file is on the Host side according to current knowledge. After detection KD Dummy should find out it and go to the Host. Is there any way to confirm it? Maybe some additional logs?
I have checked both commits you pointed and there is no impact. All 500 iterations passed.

[2021-12-22 12:52] bkokoszx commented on #5114
@lyakh
I've just created PR #5124 with fix.

[2021-12-22 15:13] marc-hb commented on #5120
Actually, not all platforms. It seems to affect only WHL and APL but not TGL. There are some logging failures with TGL but no periodic DMA trace corruption like this. It seemed to have appeared a bit more recently on WHL.

[2021-12-22 16:40] kv2019i opened #5125 "[BUG] sof-coredump-reader gdb script has a fixed reset vector address"
**Describe the bug**
The sof/tools/coredumper/sof-coredump-reader.py script parses a DSP oops and converts this to a gdb command script that can be used with xtensa xt-gdb for analysis of the coredump.

The script sets a breakpoint to reset vector and this address is fixed in the output. This is problematic as the reset vector address is not
same for all targets. The coredump reader should support

[2021-12-22 16:42] kv2019i commented on #5125
On Intel TGL platforms, this problem can be worked around by doing:
[code]
... to the coredump-reader output (see https://github.com/thesofproject/sof-docs/pull/391 for the recently added documentation on how to use this).

[2021-12-22 20:49] lgirdwood commented on #5083
The glitch is very periodic and looks to be 1 per ms, this could point to the DMA (host or DMIC). @kkarask what's the buffer size for each DMA ?

[2021-12-23 00:57] cujomalainey commented on #5125
@lkoenig @bzhg FYI

[2021-12-23 03:30] marc-hb commented on #5120
@lyakh got the right intuition (thx! the reason why the corruption is periodic in "stable" tests is because it happens exactly  at the **end of the ring buffer** / wrapping time, every time. In my testing the corruption was either never happening (e.g.: with the Zephyr SDK) or always happening (e.g.: with XCC) at the end of the ring buffer.

Instead of the end of the ring buffer, some corrupted da

[2021-12-23 04:29] aiChaoSONG commented on #5102
@bawanqin1987 I am not able to reproduce the issue you reported here. Below is the output of `run-mocks.sh`. the tests are successfully built.
[cmocka_build_with_xtensa.txt](https://github.com/thesofproject/sof/files/7766660/cmocka_build_with_xtensa.txt)
[code]
I used the script you modified, the difference are the toolchain version and the processor config. In the log you attached, `malloc.h` is

[2021-12-23 04:58] XiaoyunWu6666 commented on #5112
Hi @Thorval

Mainline kernel 5.10 may not

FYI, if you have to use kernel 5.10 , then may you try kernel of this tag 'release-sof-tgl-h-beta' ?

Link :https://github.com/thesofproject/linux/tree/release-sof-tgl-h-beta
I've tried kernel built with this tag (it's a 5.10 rc5)  + firmware of v1.5 (or even the newest 2.0) , the sound card works.

[2021-12-23 05:00] bawanqin1987 commented on #5102
i used the hifi4 XtDevTools\install\builds\RI-2020.4-win32\venus_hifi4，and this tool i used the script xtensa-build-test.sh
/xtensa-build-zephyr.sh with xtensa toolchain is ok to build.

[2021-12-23 05:03] aiChaoSONG commented on #5102
@bawanqin1987  can you find the file `malloc.h` under `.../venus_hifi4/xtensa-elf/include`?

[2021-12-23 05:03] bawanqin1987 commented on #5102
![企业微信截图_16402358278073](https://user-images.githubusercontent.com/80995796/147190601-58867d82-59e6-42a9-8c56-3c510de7b4ae.png)

[2021-12-23 05:06] bawanqin1987 commented on #5102
so there is no malloc.h ,but this xtensa_elf,We have already used this version of the core configuration file and it is all good
but sof cmock used.

[2021-12-23 05:07] aiChaoSONG commented on #5102
@bawanqin1987  somewhere in #5098, you seem to enable clang, maybe you should try to enable it here in the cmoka test?

[2021-12-23 05:11] bawanqin1987 commented on #5102
Xt-xcc/XT-clang both toolchains have been used, except for the xT-XCC build here .
you mean i need config xt-clang?

[2021-12-23 05:15] bawanqin1987 commented on #5102
which files i need to modify?but i can not found sof/cmock support xt-clang .

[2021-12-23 05:17] aiChaoSONG commented on #5102
I mean export XCC_USE_CLANG like what you do in the below picture.
![image](https://user-images.githubusercontent.com/52959957/147191338-b2fa79dc-e937-485e-a48f-00d153f94b74.png)

please try to remove `XCC_USE_CLANG=1` from xtensa-build-all.sh, and see you still build SOF successfully?

[2021-12-23 05:22] bawanqin1987 commented on #5102
i know , I mean other files also have related processing, I see only XCC processing in the Cmake file  ：
![企业微信截图_16402369234716](https://user-images.githubusercontent.com/80995796/147191976-d9ee4b3c-98d9-499b-b09d-85351a2244a0.png)

[2021-12-23 05:29] bawanqin1987 commented on #5102
XCC_USE_CLANG=1  i check this mean use xt_clang

[2021-12-23 05:30] bawanqin1987 commented on #5102
Is the correct setting，You want me to remove it and then./run cmock.sh?

[2021-12-23 05:35] bawanqin1987 commented on #5102
when i remove the XCC_USE_CLANG=1,and run the script run_cmocks.sh ,it 's also error:
![企业微信截图_16402376951799](https://user-images.githubusercontent.com/80995796/147193132-341c1548-0798-4278-a11c-57bdac624008.png)

[2021-12-23 05:47] bawanqin1987 commented on #5102
![企业微信截图_16402383502275](https://user-images.githubusercontent.com/80995796/147194077-86dc4a62-e9d9-4208-853c-8f7c2fa121e1.png)
build all,before run cmock ,it's always sucess,no error,With or without XCC USE CLANG!

[2021-12-23 05:53] aiChaoSONG commented on #5102
@bawanqin1987 I think your environment for building SOF/Zephyr is correct. and the scripts in sof repo are also good. The problem here is that when you want to build cmocka test,  the tests uses `malloc.h`, but it doesn't exist in your processor config.

[2021-12-23 06:21] aiChaoSONG commented on #5102
@bawanqin1987 for the tests that include `malloc.h`, for example sof/test/cmocka/src/audio/mixer/mixer_test.c, can you replace `#include <malloc.h>` with `#include <stdlib.h>` and try again?

[2021-12-23 06:54] aiChaoSONG commented on #5102
@bawanqin1987  Please help to check if #5126 fixes your issue.

[2021-12-23 08:01] marc-hb commented on #5120
Some data mining  in the test results (i.e., large `grep -r`) showed that WHL UPX was never experiencing this corruption until daily test 8866 on Dec 12. Starting from the next daily test run 8897, it experienced the same end-of-DMA-ring-buffer corruption systematically. This allowed me to bisect the regression to this particular commit from @andyross (PR zephyrproject-rtos/zephyr/pull/40609)

[co

[2021-12-23 08:43] bawanqin1987 commented on #5102
ok, i will merge the malloc build error issue, but still have others error!....please check my attachment build log.
![企业微信截图_16402490145039](https://user-images.githubusercontent.com/80995796/147213326-7d5cdcf1-9e8e-4b91-bd0c-a77db8126102.png)

[2021-12-23 08:48] marc-hb commented on #5120
The toolchain situation with WHL UPX is almost "reversed" compared to APL UP2: while the corruption on WHL UPX appeared only recently with XCC (see bisect in previous comment), it's been happening since forever with the Zephyr SDK 0.12.3 on WHL UPX! More precisely, "forever" = zephyr commit cf0c5e2a1ce5 `lib/os: Add sys_heap_usable_size()` which is the oldest zephyr commit  compatible with today's

[2021-12-23 09:30] aiChaoSONG commented on #5102
Please don't attach a lot of pictures, instead, upload the full log in a text file, this gives more context.

[2021-12-23 09:32] bawanqin1987 commented on #5102
[Uploading cmock build error with xtensa tool.txt…]()

[2021-12-23 09:43] bawanqin1987 commented on #5102
[Uploading stdint.txt…]()

[2021-12-23 09:45] bawanqin1987 commented on #5102
![企业微信截图_16402526472630](https://user-images.githubusercontent.com/80995796/147221607-65ef2655-5a4a-4ecc-a157-a68dfe95d414.png)
it's cadence hifi4 sdk package include files,we can not modify it.

[2021-12-23 09:53] bawanqin1987 commented on #5102
We don't have permission to modify it,So if we need to modify this bug, we need sof to adapt.

[2021-12-23 12:51] kkarask commented on #5083
@lgirdwood If you mean buffer size on host side it is 1MB

[2021-12-23 20:24] lgirdwood commented on #5083
Sorry, I mean on the DSP. We need at least 3 * 1ms on the HDA GW DMA and the same again for the DMIC DMA.

[2021-12-23 20:38] #5114 closed

[2021-12-24 04:56] ranj063 commented on #5113
I'm sorry @marc-hb , I cannot use stderr for debug logs. That's not the right fix. If debug logs will get redirected too, this patch needs to be reverted. Anyway isn't the original problem for which u submitted this change already been fixed upstream?

[2021-12-24 05:24] marc-hb commented on #5120
Test run https://sof-ci.01.org/sofpr/PR5130/build11462/devicetest/ shows XTOS can also reproduce this but only on CML and especially on one particular CML product (CML_SKU0955_HDA), much more than on the other CML. Interestingly, no problem on TGL+Zephyr. All this run is using XCC AFAIK.

There are also some failures in suspend/resume tests on other platforms but my gut feeling is not to worry too

[2021-12-24 07:47] marc-hb commented on #5113
Why not?

Considering `alsatplg -o -` is supported, how come debug logs go to stdout at the same time? Can you explain how to reproduce this?

Yes it just got fixed days ago. Not everyone is using the latest alsatplg.

[2021-12-24 08:25] marc-hb commented on #5113
OK that was easy. See commit message of revert #5132

[2021-12-24 08:52] aiChaoSONG commented on #5102
@bawanqin1987  could you please check the files you uploaded here

and here

They are not uploaded at all.

[2021-12-24 09:21] markbartonxperi commented on #4901
@lgirdwood @singalsu Yes, this is all sorted now. Our codec is now working with topologies configured for periods of 1000 or 10000.
Thanks very much for all the help!

[2021-12-24 09:21] #4901 closed

[2021-12-24 15:42] andyross commented on #5120
Just seeing this the first time: yes, this definitely looks like cache interaction to me.  Can you dump the address and size of the DMA buffer on the offending systems?  Maybe one edge is misaligned or incorrectly flushed?  Another possibility is linker interaction, given the recent churn.  This may have always been potentially overlapping, but the recent tightening up of boundaries might have pus

[2021-12-24 15:48] #4558 closed

[2021-12-24 15:54] andyross commented on #5120
Looking quickly, it looks like the DMA buffer is just the trace buffer in low memory, at SRAM_TRACE_BASE.  This should be below anything Zephyr touches by definition.  Maybe there's a flushing issue?  The code is leaving dirty cache blocks on one core that get flushed out on top of correct data from another?  That could be sensitive to SMP timing issues, and that IDC switchover you bisected to abs

[2021-12-24 15:56] andyross commented on #5120
Also, given the application: one thing you could try would be to use an uncached address (e.g. z_soc_uncached_ptr() at runtime, or equivalent math on SRAM_TRACE_BASE) for all access to the buffer.  The local core, almost by definition, will never be reading back any data it writes, the only value the cache provides is a little bit of write combining optimization.

[2021-12-25 17:16] marc-hb commented on #4048
@hongshui3000 is this still a problem? SOF+Zephyr has changed a lot. If yes please provide reproduction steps with git versions of everything. It not please close.

[2021-12-25 20:44] #5102 closed

[2021-12-25 20:54] #5032 closed

[2021-12-25 20:55] #5113 closed

[2021-12-25 20:57] lgirdwood commented on #4048
@andyross whats the preference in Zephyr ? we can align.

[2021-12-26 00:41] Ninjastorm380 opened #5134 "Laptop audio dies after a while (Dell G3 3590)"
hello! recently I had set up my old dell laptop as a stand in for my main laptop (which is down for repair work), and while I was gaming (proton experimental latest, wine staging 7), audio would stop working altogether. I originally did not know the cause, but compiling my favorite performance kernel (xanmod-rog) improved it a little. I have provided a log up to the moment after audio loss. I thin

[2021-12-26 06:09] hedmo commented on #4662
Backing down : 1.9.3 > 1.9 solve it .

Regards

[2021-12-26 09:08] lenghonglin opened #5135 "[BUG] Cannot load firmware on i7-1165G7"
**Describe the bug**
cannot load signed firmware v1.8
![image](https://user-images.githubusercontent.com/4686802/147403664-2130136b-9f20-4734-8bd0-762f63f4a42d.png)

**To Reproduce**
follow this [part](https://thesofproject.github.io/latest/getting_started/build-guide/build-from-scratch.html#step-3-build-toolchains-from-source) to build toolchian and update sof firmware.
![image](https://user-imag

[2021-12-26 20:30] lgirdwood commented on #5134
@Ninjastorm380 thanks, are you saying this error happens every time the system load is high or does it happen when you are playing audio for a long time ? Trying to figure out what the use case is that causes the issue.

[2021-12-26 20:35] lgirdwood commented on #5135
@lenghonglin the otc_private key only works with hardware that has the otc key programmed into the BIOS. This key update can only usually be done by OEMs. Can you confirm if the Intel signed v1.8 or Intel signed v1.9 works on your HW.

[2021-12-26 21:01] Ninjastorm380 commented on #5134
@lgirdwood on stock arch kernel, it can happen pretty much out of the blue (IE: just running discord), but with a clanged xanmod-rog kernel, it only readily occurs while running a intensive game (warframe is a good free working choice for that part) while playing music from another source (I was running newgrounds audio from firefox when this happened) while running OBS studio (I was prepping for

[2021-12-26 21:07] Ninjastorm380 commented on #5134
thus, I suspect something is not keeping up while under load (buffer overrun/underrun?), as the crash frequency goes down with a newer optimized kernel.

stock arch kernel is currently linux 5.15.11
xanmod rog kernel is currently linux-xanmod-rog 5.15.10

[2021-12-26 21:18] Ninjastorm380 commented on #5134
tldr: my use case this fails on is general functionality on the stock kernel, and only while under load with the custom kernel

[2021-12-27 01:37] lenghonglin commented on #5135
https://github.com/thesofproject/sof-bin  i can update sof with this repo, Intel signed v1.8 , Intel signed v1.9 , Intel signed v2.0 all work fine.

But using the SOF version I compiled myself was problematic.

[2021-12-27 09:22] Ninjastorm380 commented on #5134
just saw that there was an update to sof-firmware. will test stability in the morning.

[2021-12-27 11:47] lenghonglin commented on #5135
what difference between [community](https://github.com/thesofproject/sof-bin/tree/main/v1.8.x/sof-v1.8/community) and [intel-signed](https://github.com/thesofproject/sof-bin/tree/main/v1.8.x/sof-v1.8/intel-signed).

the `community version` show the same error.

[2021-12-27 14:28] lenghonglin commented on #5135
update kernel to 5.13 now

[2021-12-27 19:32] Ninjastorm380 commented on #5134
@lgirdwood finished testing. same issue on newest release. did a whole recording of it happening + another dmesg log. strangely enough, nothing talking about asoc this time?
[dmesg.log](https://github.com/thesofproject/sof/files/7781451/dmesg.log)
[Audio Crash Recording (google drive link)](https://drive.google.com/file/d/1plJ0HSDehZVnLCgAdd-YAfo5KLkaR9kH/view?usp=sharing)

[2021-12-27 20:27] lgirdwood commented on #5135
@lenghonglin the community version is signed with a *public* signing key. This means anyone can sign it (so it's not secure), but it is very useful for developers using developer platforms like Chromebooks and UP boards (which all support the public "otc" key).
The Intel key is secret to Intel only and will work on end user devices (like laptops and PCs) that run Linux.

[2021-12-27 20:52] lgirdwood commented on #5134
@Ninjastorm380 can you confirm all the audio endpoints you have been using before the crash. I can see analog HDA realtek PCMs and also DP/HDMI PCMs.  I am suspicious we have a DSP DP/HDMI interaction with the Intel GPU (when it's disabled as Nvidia is used ?) or incorrectly with the Nvidia driver via HDMI audio APIs ?  (possibly by pulseaudio or pipewire probing all PCMs). @plbossart @kv2019i any

[2021-12-27 22:29] Ninjastorm380 commented on #5134
last test was just laptop display only, one before was with my external display connected. both had the same audio failure. I know laptop display is LVDS/DP and that there is another DP on the usb-c port, and that there is a HDMI port on the left hand side.

[2021-12-27 22:30] Ninjastorm380 commented on #5134
as noted in my video, the integrated mic audio can't be adjusted without a lockup. could it be something interacting with the DMIC array?

[2021-12-27 22:31] Ninjastorm380 commented on #5134
@lgirdwood

[2021-12-28 00:58] Ninjastorm380 commented on #5134
audio endpoints: 3.5mm audio jack (trrs) headset is all that I was using for audio, although the hdmi port was connected to my second monitor on the older log.

[2021-12-28 01:32] lenghonglin commented on #5135
It mean i can't build sof by myself?

[2021-12-28 02:09] libinyang commented on #5112
@Thorval As per the link @XiaoyunWu6666 pointed, please try to backport the commit https://github.com/thesofproject/linux/commit/a0cbd7bf112eccbc81c2d94261607e5f4f678378 and have a try.

[2021-12-28 03:37] marc-hb commented on #5135
It depends which audio keys have been configured in your UEFI firmware image. It's product specific.
https://thesofproject.github.io/latest/getting_started/intel_debug/introduction.html#firmware-binary

This information does not really matter, this Intel processor will use any key found in the UEFI image.

Most system vendors configure their products to allow only official releases signed by Intel

[2021-12-28 05:10] #4048 closed

[2021-12-28 05:55] lenghonglin commented on #5135
`byt` `bdw` `cht` don't need to be signed.  but how can I find the specific model for the platform?

[2021-12-28 17:02] kv2019i commented on #5050
@lgirdwood @andyross I now cross-checked the numbers with CCOUNT and bumping irq level to 5 to ensure nothing else is running, and results still match, we are in fact running slower. Today I found one difference. Zephyr is setting local clock gating (TCPLCK to CLKCTL) for core1 while XTOS builds are not. Unfortunately changing this to prevet clock gating also Zephyr doesn't change the results, we

[2021-12-28 21:41] Ninjastorm380 commented on #5134
[dmesg.log](https://github.com/thesofproject/sof/files/7786423/dmesg.log)

another failure, and it's got entries pointing to asoc again.
was using my headset, had firefox playing music, discord was doing voice calls, and was playing warframe

[2021-12-28 22:27] lgirdwood commented on #5134
[code]
This is really a FW error as the IPC request fails for hw_params.

Can you confirm you are using a sound server like pipewire or pulseaudio as I would expect the sound server to mix the streams and keep the PCM open but the log above shows what looks like a new PCM being opened (do you know which of the applications is opening the last PCM). Need to figure out the usage so we can duplicate.

[2021-12-28 22:30] lgirdwood commented on #5135
By default most Intel based devices will use the Intel key, except for Chromebooks and UP boards (and possibly other devices from other manufacturers). There is no easy way to check this except by trying to boot the FW.

[2021-12-29 01:35] #5135 closed

[2021-12-29 05:02] Ninjastorm380 commented on #5134
@lgirdwood pipewire is the backend, with pipewire-alsa, pipewire-jack, and pipewire-pulse for compat with WINE

[2021-12-29 05:06] Ninjastorm380 commented on #5134
as for what application opened the new stream? dunno, as this happens without anything new being opened (the most recent log was with playing warframe for about 15-30 minutes straight in that scenario. nothing new opened in that timeframe.)

[2021-12-29 11:45] kv2019i commented on #5050
Created a standalone Zephyr PR to reproduce the problem: https://github.com/zephyrproject-rtos/zephyr/pull/41496

[2021-12-30 09:13] lenghonglin commented on #5135
Is there a way for the dsp to output `dbg` logs?  @lgirdwood

[2021-12-30 09:31] Thorval commented on #5112
Sorry, compiling and testing a kernel is beyond what I am able to do. Meanwhile, I have changed to the more recent Debian "Bookworm", where both sound card and graphics driver work with the more recent Kernel 5.15. I have informed the Debian SOF firmware package maintainer about a possible problem with Kernel 5.10 in Debian "Bullseye".
Many thanks again for your suggestions!

[2021-12-30 15:13] Ninjastorm380 commented on #5134
testing on fedora 35 to see if this issue happens on it as well.

[2021-12-30 15:32] Ninjastorm380 commented on #5134
@lgirdwood yep audio cut out, and I think I know why: a couple of seconds before audio died, it started cutting up a little bit, as though something was struggling (reminded me of a buffer underrun in pulse). could the FW/Pipewire be crashing because of that? on another note, it seems to only crash persistently with easyeffects, pavu, warframe, discord, OBS (tytan build), and my custom sound strea

[2021-12-30 15:49] Ninjastorm380 commented on #5134
at the end of dmesg.log, these show up at about the same time as the audio artifacts, right before it just died.
`[Dec30 10:20] perf: interrupt took too long (2505 > 2500), lowering kernel.perf_event_max_sample_rate to 79000`
`[Dec30 10:25] perf: interrupt took too long (3138 > 3131), lowering kernel.perf_event_max_sample_rate to 63000`
IPC = interrupt, right?

[2021-12-30 21:17] lgirdwood commented on #5134
Could be,that or another interrupt. This usually means the system is heavily loaded. Is there any information from the PW logs. Is it possible to enable and attach the PW logs here.

[2021-12-31 09:43] mengdonglin commented on #5135
@lenghonglin I think NO. Because the firmware binaries from https://github.com/thesofproject/sof-bin are for release, not for FW development.  Since you're deep diving in FW, I suggest you no longer use OEM x86 laptops which always requires SOF FW signed by Intel production key. Please consider using a open x86 platform which can run SOF FW signed by the community key (OTC key). e.g. Tiger Lake UP

[2021-12-31 20:31] lgirdwood commented on #5135
@lenghonglin you can also use a Chromebook for SOF development or certain development platforms from NXP, Mediatek or AMD. I will create a feature request so we can list all the updated and new HW that can be used on sof-docs

[2022-01-01 10:07] Ninjastorm380 commented on #5134
Couldn't figure out how to get pipewire to do logging. if you have a link to some instructions, I would love to read them.

[2022-01-01 21:57] wisbit opened #5140 "No card sound deteted TECLAST F15 Intel Celeron/Pentium Silver Processor High Definition Audio"
Hi,
bought a new laptop, Teclast F15+.
Intel Celeron/Pentium Silver Processor High Definition Audio
Audio card chip ID : 8086:3198

Only HDMI sound detected

Inxi :
`Audio:
  Device-1: Intel Celeron/Pentium Silver Processor High Definition Audio
    driver: snd_hda_intel v: kernel alternate: snd_soc_skl,snd_sof_pci_intel_apl
    bus-ID: 00:0e.0 chip-ID: 8086:3198 class-ID: 0401
  Sound Server-1: A

[2022-01-02 19:30] andyross commented on #4048
Sorry, just noticing this.  I don't think Zephyr has any particular consensus here.  We use this only in a few places, and where we do it's always used as `__typeof__`, presumably because the bare symbol isn't exposed in some `--std=...` mode or another.  But I don't see any attempt at fallback code for toolchains that don't have it, so it doesn't look fully baked to me.

[2022-01-03 15:35] sanzazacuro opened #5142 "[FEATURE] Open usecase/pipeline without being triggered by host"
**Describe the solution you'd like**
Two items:

- How can a source pipeline be triggered on DSP without being triggered by pcm stream from host? For instance, run a source pipeline (pipeline with a module generating a signal) as always on after boot.

- How can a sink pipeline be set to always on, and constantly consume dmic data? For instance, run `intel-generic-dmic` pipeline as always on after

[2022-01-03 17:38] dbaluta commented on #5142
@ranj063 i remember you said you have some code for hostless components?

[2022-01-03 20:31] marc-hb commented on #4186
@dbaluta is this still a problem? Fred is out of the office for a while.

[2022-01-03 21:52] lgirdwood commented on #5083
Yes, we need a way to upstream these test topologies so they can be reproduced by developers to check/debug.

[2022-01-03 21:59] lgirdwood commented on #5142
The host id intended to control pipelines, but there should be nothing preventing some init code calling the IPC functions directly to create pipelines and start/stop them. This is probably a bit of extra effort atm, but @kv2019i was looking at a simplified audio API to be used for host less implementations.

[2022-01-04 09:57] dbaluta commented on #4186
@marc-hb let's see if we have any bandwidth to look at this in a timeframe of 2 weeks.

If not we can temporarily skip qemu check for imx8.

[2022-01-04 14:18] kv2019i commented on #4680
This should be fixed with Zephyr PR https://github.com/zephyrproject-rtos/zephyr/pull/41547

[2022-01-05 04:56] hongshui3000 commented on #5142
Looking forward to hostless implementation

[2022-01-05 07:46] keqiaozhang commented on #4923
Coreboot team has found the root cause of this issue.
The GBB (Google Binary Block) flags are defined in the vboot_reference source, one option called "GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC", if this option is enabled in coreboot(enable the EC sync), the OS will enters to recovery mode, then the CSE will be disabled and cannot send End-of-Post (EOP) message.

The solution is that we can modify the GBB

[2022-01-05 08:01] kv2019i commented on #5120
Routing to @ujfalusi and @jsarha for investigation.

[2022-01-05 11:48] lgirdwood commented on #5134
@Ninjastorm380 t looks like pipewire has a ```top``` debug command that can be used to detect what is causing any xrun (and possibly leading to the other failures). See the bottom text here https://gitlab.freedesktop.org/pipewire/pipewire/-/wikis/Troubleshooting

[2022-01-05 12:42] lenghonglin opened #5150 "how to trigger dummy_dma_copy?"
Hello , everyone, I am adapting SOF to the new platform.

I wanna use `dummy_dma` to copy host buffer to dsp buffer, of course, dsp can directly access
all of the host physical memory.

The current progress is that sof already complete the pipeline and can be TRIG_START.

If i use hardware DMA  to copy buffer, then dsp receive `TRIG_START` , the will call `dma_start()` within `host_trigger`, the b

[2022-01-05 13:03] dbaluta commented on #5150
dumma_dma is a dummy DMA not associated with any DMA controller. We needed this in order to fit into SOF having Host copy the date from/to AP using DMA.

@paulstelian97 can you offer more details?

[2022-01-05 13:36] lgirdwood commented on #5120
IIRC, the DMA minimum block size may be 2 * cache line size on some platforms. Can we force the DMA block copy size to be multiples of 128 bytes and re test.

[2022-01-05 18:45] #5050 closed

[2022-01-05 19:23] marc-hb commented on #4923
EC sync (update) is a normal security feature so I don't understand why the Chromebook would enter recovery mode when using it. Recovery mode was never mentioned in this bug before. Also, the OS is not involved in recovery because recovery mode is designed to recover the OS.

How does that follow?

This disables the EC sync flag 0x200 but resets all other (more or less unknown) flags too
https://g

[2022-01-05 20:56] greg-intel commented on #5073
Thanks for the information and verification @afq984.  After working with some docker images today, I can see how there'd be a benefit to potentially leveraging some of this.

[2022-01-06 02:57] keqiaozhang commented on #4923
The previous GBB set flags are: 0x00000239

This is used to change the GBB flags for the Tianocore Coreboot.

Because set_gbb_flags is only available under ChromeOS, but we aim to flash the coreboot with Tianocore to support UbuntuOS. So we change the GBB flags for the Tianocore coreboot and flash this coreboot image to install UbuntuOS.
So this is more like a workaround,  I think they can disable

[2022-01-06 04:41] Ninjastorm380 commented on #5134
@lgirdwood
[dmesg.log](https://github.com/thesofproject/sof/files/7819489/dmesg.log)
[pw-top.log](https://github.com/thesofproject/sof/files/7819492/pw-top.log)

I couldn't link journalctl.log, as github kept throwing an error: 'is not included in the list'.
Also, the pw-top output is a fair bit messy, so you might have to parse for the values you want (doesn't appear to be meant for human eyes).

[2022-01-06 06:36] lenghonglin commented on #5150
And i found `IMX8` don't use `zephyr_ll_scheduler` rather than `schedule_task_init_ll`.
![image](https://user-images.githubusercontent.com/4686802/148339641-f6d2ad16-1434-4f74-b369-92af312aafb3.png)

Why?

[2022-01-06 07:21] marc-hb commented on #4923
The previous flags can be whatever. To change one line in a configuration file no one overwrites the entire configuration file (which would make it impossible to know what fixed anything).

This is the first time Tianocore is mentioned in this bug. Previously it was:

Still not clear how the EC version or update affects the CSME or recovery mode. It's all very nebulous.

[2022-01-06 11:50] paulstelian97 commented on #5150
`dummy_dma` just does its copies inside the `copy()` callback itself, which is what is called by the IRQ handler (which was at least originally due to using DMA scheduling; I'm unsure of the state of the transition to Zephyr-compatible scheduling as of now).

The IRQ from the DAI DMA triggers `pipeline_copy()` which in turn will call `host_copy()` which itself calls `dummy_dma_copy()`. Maybe a few

[2022-01-06 12:48] dbaluta commented on #5150
@lenghonglin I think we are still using schedule_task_init_ll because the interrupt support in Zephyr for imx8 is not complete. Full switch to zephyr is planned for this year for all imx8 supported platforms.

[2022-01-06 15:29] sanzazacuro commented on #5142
@kv2019i Would the simplified hostless API lgirdwood mentioned above be a wrapper for ipc4/helper.c and ipc4/handler.c?

[2022-01-06 19:45] greg-intel commented on #3491
These links helped me a little:
[ChromeOS Lead Vehicle Programs and Details](https://wiki.ith.intel.com/display/ChromeOS/ChromeOS+Lead+Vehicle+Programs+and+Details) (Updated July 2021)
[ChromeOS Platform Decoder](https://wiki.ith.intel.com/display/ChromeOS/ChromeOS+Platform+Decoder) (Updated December 2021)

[2022-01-06 22:19] lgirdwood commented on #5134
Ack, it looks likes it output from an terminal format and codes. The dmesg though has more info
[code]
For context the the commands being sent are
[code]
So we fail to free the PCM and restart it.
@Ninjastorm380 it looks like we may need the full kernel logs. @ujfalusi can we enable full IPC logs in the driver using a kernel command line ?

[2022-01-06 22:39] lgirdwood commented on #3491
@greg-intel feel free to add links to these in sof-docs if not already stated.

[2022-01-07 03:07] miRoox opened #5164 "[BUG]DSP panic when playback with signal stop-start on BDW_WSB_RT286"
**Describe the bug**
In the internal daily test 9209, DSP panic is observed on BDW_WSB_RT286 when playback with signal stop-start.

**To Reproduce**
[code]

**Reproduction Rate**
Only once in the daily test.

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: https://github.com/thesofproject/linux/commit/7446c50ebb128c85d61294a6c8000cf88e986fd8
SOF Branch: main
SOF Commit: https://github.

[2022-01-07 06:01] lenghonglin commented on #5150
Got it, I'm just very curious,Thanks to answer~

[2022-01-07 06:41] Ninjastorm380 commented on #5134
`cat /proc/sys/kernel/printk`
`7       4       1       7`
kernel loglevel is already at max (I think), unless you guys aren't specifying your log level on your messages.

[2022-01-07 06:50] ujfalusi commented on #5134
@Ninjastorm380, in order to see the full logs, you need to enable the dynamic debugging, please see:
https://thesofproject.github.io/latest/getting_started/intel_debug/suggestions.html#enable-dynamic-debug.

What is interesting in the errors that we did received a reply for the message but it came back as size 0. Prior messages were correct as nothing has been reported.
We can confirm that with th

[2022-01-07 06:51] Ninjastorm380 commented on #5134
Possibly because I was running EndeavourOS for the first few logs, and Fedora 35 for the latest

[2022-01-07 06:54] Ninjastorm380 commented on #5134
@lgirdwood all the options have been set, restarting and performing test once more.

[2022-01-07 07:10] Ninjastorm380 commented on #5134
@lgirdwood here is the dmesg log
[dmesg.log](https://github.com/thesofproject/sof/files/7827116/dmesg.log)

it was very short this time, it skipped cutting out the system audio and went to a full system lockup... will run another test to see if we get different results

[2022-01-07 07:21] Ninjastorm380 commented on #5134
[dmesg.log](https://github.com/thesofproject/sof/files/7827165/dmesg.log)
another log. this time the audio started to underrun pretty hard before the system locked up again

[2022-01-07 08:28] lenghonglin commented on #5150
Slove it! Thanks everyone, the audio stream already run on my platform

[2022-01-07 08:29] #5150 closed

[2022-01-07 09:25] keqiaozhang opened #5395 "[BUG] soc_pcm_hw_params() failed (-22) for Echo reference pipeline on ADL-P Brya I2S Chrome device"
**Describe the bug**
When playing on speaker pipeline, there's an IPC error: "ipc: comp 0 pipeline not found".
This is an ADLP Chrome device and run with the latest sof-dev+sof main.
so I doubt that some kernel patches are missed in sof-dev branch from upstream.

**To Reproduce**
`aplay -Dhw:0,0 -f dat -c 2 /dev/zero -vvv -d 5
`

**Reproduction Rate**
100%

**Expected behavior**
no errors while pl

[2022-01-07 09:49] ujfalusi commented on #5134
@Ninjastorm380, from the log it is clear that the playback stream is constantly stopped and started which indicates the underflow.
In the last log the playback starts at line 2465, the capture starts at 2489 and the playback immediately got stopped at line 2493.
From there on, the playback stream is constantly in underrun and get stopped/started.

You do not have this issue without audio capture r

[2022-01-07 15:22] lgirdwood commented on #5134
Yeah, it looks like we repeat stream start, stop, reset, dai config forever.
[code]
@ujfalusi btw, do you know why we send DAI config IPC twice ?
@Ninjastorm380  what userspace application is starting audio at 449 seconds ? Are you able to provide it's context or cmd line.

[2022-01-07 15:55] ujfalusi commented on #5134
@lgirdwood, the dai config messages are part of the correct sequencing implementation of the HDA DMA start and stop.

[2022-01-07 18:33] Ninjastorm380 commented on #5134
I think 449 was when my isolation script was executed, which opens 3 virtual streams. I use those streams to monitor individual application audio outputs.

[2022-01-07 18:44] Ninjastorm380 commented on #5134
@ujfalusi
[alsa-info.txt](https://github.com/thesofproject/sof/files/7830678/alsa-info.txt) before executing my isolation script, and just playing audio from firefox
[alsa-info.txt](https://github.com/thesofproject/sof/files/7830688/alsa-info.txt) afyer running my Isolation script, still just playing audio in firefox. firefox has automatically switched over to using 'application-capture-output'.

[2022-01-07 18:51] Ninjastorm380 commented on #5134
running with just firefox does not trigger the issue. firefox + script does not trigger either. This only triggers while under moderate to heavy stress (warframe @ max GFX settings on 'application-capture-output' + OBS + StreamISolation.sh + Discord on 'discord-capture-output' + firefox on 'application-capture-output' + Pavucontrol + VLC on 'vlc-capture-output', which results in an average all cor

[2022-01-07 19:35] Ninjastorm380 commented on #5134
warframe + script + firefox does not trigger, but as soon as I launched OBS on top of those, I got a full system lockup again.
[dmesg.log](https://github.com/thesofproject/sof/files/7830946/dmesg.log)

[2022-01-07 20:16] Ninjastorm380 commented on #5134
I just noticed, but after a reboot, my power light started blinking while in use. Looking up the codes for this laptop I got this:
`2 amber flashes and 8 white flashes = system board error`
is it possible that this could be related?

[2022-01-07 20:20] Ninjastorm380 commented on #5134
and on a related note, I get a usb sound card in the mail today. is it possible to disable the SoF driver so that I am just using the external card?

[2022-01-07 22:13] lgirdwood commented on #5134
Does OBS on it's own cause this issue ? Just trying to figure what is doing all the stream operations and why ? We have similar stress tests but OBS may be doing something different which we need to figure and out try and reporduce.

A system board error could hang your device and could be contributing here , e.g. if load is high then the board may heat up too much and lock.
Yep, USB audio can be

[2022-01-07 22:17] lgirdwood commented on #5164
@miRoox are you able to run the stack trace script with the output ?

[2022-01-08 02:39] Ninjastorm380 commented on #5134
@lgirdwood I forgot something in the puzzle! easyeffects is set up in my environment (to give noise reduction to the headset I use with this.). testing with OBS + script + firefox in a fresh EndeavourOS install results in no hang and no issues. once warframe gets installed, i'll have the 'heavy load' part of the equation to try.

tldr: it's very possible it could be easyeffects + script + OBS + bu

[2022-01-08 03:33] Ninjastorm380 commented on #5134
@lgirdwood had OBS + Firefox + script running, and nothing else. audio has become useless, but is not gone. audio is monotonous and erratic in duration, almost like cellphone interference, and only happens while audio is supposed to be playing. I suspect the DSP tripped and fell over this time.
here's the log.
[dmesg.log](https://github.com/thesofproject/sof/files/7832508/dmesg.log)

[2022-01-08 03:41] Ninjastorm380 commented on #5134
scrach that, eventual system lockup, as per usual.

[2022-01-08 03:42] Ninjastorm380 commented on #5134
will run that test again

[2022-01-08 03:45] miRoox commented on #5164
@lgirdwood sorry, this error only appeared once in daily tests and I can't reproduce it manually with even 500 stop-start iterations (`-c 500`).

[2022-01-08 04:17] Ninjastorm380 commented on #5134
`[ 2078.747257] sof-audio-pci-intel-cnl 0000:00:1f.3: ipc tx: 0x60050000
[ 2078.747907] sof-audio-pci-intel-cnl 0000:00:1f.3: ipc tx succeeded: 0x60050000
[ 2078.748431] sof-audio-pci-intel-cnl 0000:00:1f.3: FW Poll Status: reg[0x160]=0x20140000 successful
[ 2078.748438] sof-audio-pci-intel-cnl 0000:00:1f.3: ipc tx: 0x60030000
[ 2078.748602] sof-audio-pci-intel-cnl 0000:00:1f.3: ipc tx succeeded:

[2022-01-08 05:13] Ninjastorm380 commented on #5134
so far, it appears to not readily crash while under light to no load. tested multiple times with firefox + script + obs. only one crash out of 15 attempts. adding steam + warframe to the mix for heavy load scenario.

[2022-01-08 05:44] Ninjastorm380 commented on #5134
no crash yet, but with steam pre-compiling shaders (which is putting the cores at pretty high averages), i'm seeing multiple of those IPC blocks again.
[code]

[2022-01-08 05:57] Ninjastorm380 commented on #5134
question: how would you disable powersave features for the SoF driver? I think I have had a bit of insight, and want to try something.

[2022-01-08 16:21] lamyseba commented on #3868
Hi, any news on this bug? Is it solved in newer kernels ?

[2022-01-08 18:20] Pandemonious commented on #3868
for me it stopped happening with a kernel update, so yeah ... Wish I knew more.

[2022-01-08 18:37] jwrdegoede commented on #3868
Maybe the new kernel is no longer using the SOF driver? What is the output of "dmesg | grep sof" ?

[2022-01-09 01:26] Ninjastorm380 commented on #5134
just finished a 2+ hour test. no crash at all with pipewire node powersave disabled and intel hda powersave disabled. so bad powersave interactions to blame?

dmesg:
[dmesg.log](https://github.com/thesofproject/sof/files/7834310/dmesg.log)

[2022-01-09 06:39] nrndda commented on #3868
The bug still persist.
Kernel: 5.16.0-rc8-gb2b436ec0205-dirty
sof-audio-acpi-intel-byt 808622A8:00: Firmware info: version 2:0:0-b678a
sof-audio-acpi-intel-byt 808622A8:00: Firmware: ABI 3:20:0 Kernel ABI 3:18:0

[2022-01-09 14:21] lamyseba commented on #3868
Hi,  just asking about setting options. In his message, @plbossart suggested to set option `snd_sof sof_debug=1`. Reading this and not knowing about what "options" is, I supposed it was kernel options, and that is what my further message was showing. But reading further message from @plbossart , I think I was wrong : @plbossart was talking about modprobe/alsa options  that should be set in the   `

[2022-01-10 02:19] keqiaozhang commented on #4434
Recently, we added the ADLP Chrome device ADLP_BRYA_SDW to CI, this device has some codec as TGLU_VOLT_SDW and this issue also can be reproduced on ADLP platform, the error logs are almost the same. please refer to inner test ID:9237.

[2022-01-10 02:50] #5042 closed

[2022-01-10 05:36] Ninjastorm380 commented on #5134
@lgirdwood seems like I have indeed fixed the issue, however, there is still a system lockup after a while (greater than 4 hours runtime at high load). I suspect that to be a nvidia/wayland issue.

it seems pretty clear that powersave options/events were causing the audio cutout, does this narrow that down for you guys?

[2022-01-10 06:37] specious opened #5168 "[BUG] ipc tx error on suspend/resume (error loading HDA0.OUT)"
Sound is not restored on suspend/resume with the recent 5.16-rc7 kernel.

This is the kernel log on wake:

[code]

It works perfectly with the 5.15.13 kernel.

Perhaps it has something to do with the [recent changes](https://lore.kernel.org/alsa-devel/20211125101520.291581-4-kai.vehmanen@linux.intel.com/T/).

**Impact**

Annoyance (need to reboot to restore sound)

**Environment**

This is on a Th

[2022-01-10 09:06] ujfalusi commented on #5134
@Ninjastorm380, how did you disabled the powersave(s)? In the dmesg log I can see this:
[code]
The power saving for the audio should only kick in (in driver level) when you don't have active stream as we don't yet have deep buffer support and that would increase the latency to gain on power, which is not good for your use.
The frequency scaling of the DSP however can trigger scheduling issues resu

[2022-01-10 12:14] hav4k opened #5172 "Dummy output and no sound with KUU Xbook laptop (ES8336)"
Hi.

Just install OpenSUSE Tumbleweed with last kernel 5.16 and SOF-bin, fixed dummy output but persist no sound. What can i do? Bluetooth works fine, speakers and headphones not.

sudo dmesg | grep -i sound shows something of quirk 0x30... i will edit later with output.

Regards and thanks for help.

[2022-01-10 13:11] lgirdwood commented on #5168
@specious how often does this happen ? Fwiw, the changes https://lore.kernel.org/alsa-devel/20211125101520.291581-4-kai.vehmanen@linux.intel.com/T/ were a fix for a similar issue on CML hardware so it may be something is still not right (and this fix was stress tested on a lot of HW).
Btw, are you able to run sof-logger next time this happens and attache the FW log. See https://thesofproject.githu

[2022-01-10 13:11] lgirdwood commented on #5168
@kv2019i fyi.

[2022-01-10 13:50] lgirdwood commented on #5134
@kv2019i @singalsu fyi

[2022-01-10 16:43] lgirdwood commented on #5142
@sanzazacuro we are thinking something higher level API, the IPC is low level tightly coupled to the host drivers (and will change over time). @kv2019i did you an example  API in mind ? Were you thinking something like ALSA lib or smaller/simpler ?

[2022-01-10 19:16] plbossart commented on #5112
@Thorval I don't think we can make this TigerLake device work with 5.10, there are just too many changes that happened for that platform in 2021.

[2022-01-10 19:41] plbossart commented on #5134
Maybe a red-herring but this IPC error looks similar to the report in https://github.com/thesofproject/linux/issues/2971

[2022-01-10 19:46] plbossart commented on #3868
@lamyseba the name of the file does not matter, you can use /etc/modprobe.d/mysoftest.conf if you prefer. The .conf extension is however required.

[2022-01-10 19:49] plbossart commented on #4662
@hedmo it seems rather suspicious that downgrading the firmware makes BYT work, we've had this issue since 1.6.1. Likely a bit of luck here.

[2022-01-10 19:53] plbossart commented on #5142
What about the codec configuration part? You still need to do the hw_params/prepare/trigger for the codec driver, and only the kernel can do this. I don't think a firmware-only solution would help at all, would it?

[2022-01-10 19:56] lgirdwood commented on #5142
I think the use case here is no host, i.e. a stand alone board like a smart device running an rtos like zephyr.

[2022-01-10 20:05] hedmo commented on #4662
@plbossart . yes . that is why i added this because it was never a conflict  with legacy driver  and hope you may find a pattern or change between the versions. i have been using dist (prebuild) kernels to and they are working with 1.9 . 1.9.3 did not work on both
rt5640 and rt5645 but works with 1.9 . i am using 1.9 for now with no issues but with tr5645.
it  stops working after hibernate. if you

[2022-01-10 20:34] plbossart commented on #4662
@hedmo It would be very useful to confirm
a) if you see any difference between SOF 1.9 and 1.9.3, and SOF 2.0 (which is now out it seems)

b) I am curious about the hibernate part, which is a point that no one else mentioned. maybe we are missing something when coming out of S3 that causes the 'screaming high sound' at some point. If you can try testing with a continuous test without ever hibernat

[2022-01-10 20:45] hedmo commented on #4662
@plbossart  i Will send dmesg logs from all versions and the log after hibernate . I Always listen to music or watching YouTube . The only thing that stops the sound is is to pause or Close the program ( kill the stream) . I can add that i am using intel_idle.max_cstate=2

[2022-01-11 02:12] aiChaoSONG commented on #3446
This is not reproducible any more, let's close

[2022-01-11 02:12] #3446 closed

[2022-01-11 05:13] specious commented on #5168
It happens consistently on wake. I can boot and have audio, but after the first suspend/resume, it will require a reboot to get it back.

I'd love to help diagnose what is occurring. I can boot into the 5.16-rc7 kernel and test it out. I just installed the `sof-tools` package and it's got the logger and two other utilities.

How exactly do I run the logger? I'm not sure what the `ldc` file is and

[2022-01-11 07:40] ujfalusi commented on #5134
@plbossart, indeed the symptoms are strikingly similar as well as the hardware setup (discrete NVIDIA with Optimus).

I have not seen these reply size is 0 and looking at the firmware code I don't really see how that is possible.
My first hunch was (with a small heart attack) is that I did changed how the reply is read back from the DSP (move it to a common function) [1], but it is not yet upstrea

[2022-01-11 10:48] Ninjastorm380 commented on #5134
A mistake on my end. the powersave option is applied to snd_hda_intel as well, along with a pipewire conf file disabling per-node powersave.

on the nose here. the scale was shifting so rapidly due to power events in kernel. each power event corresponded to a stream reinit in the IPC calls.

you would think that, but after disabling powersave, no more underflows. period.

specifically, touching th

[2022-01-11 17:14] plbossart commented on #5168
@specious here are some ideas to help find the root cause

a) downgrade to SOF version 1.9.3 . I see that you are using 2:0:0-b678a so we need to rule out a firmware issue in the last release

b) prevent dynamic pipelines for HDaudio. this can be done with the quirk

options snd_sof sof_debug=0xF

[code]

[2022-01-11 17:46] kv2019i commented on #5142
I'm afraid no ready code yet. When we looked at this for early Zephyr/SOF work, we ended up using the SOF Linux driver and existing SOF topology files in the end still. While more complex to get something new up and running, there is still benefits to having the ability to reuse all the graphs and most important (for our use-case back then), having the ability to modify the graph without touching

[2022-01-11 17:48] ranj063 commented on #5142
@dbaluta yes, I have code from 3 years ago rotting somewhere to make the tone pipeline work. But it needs to revisited and possibly re-written.

[2022-01-11 17:51] kv2019i commented on #5125
This is fixed with #5147 , closing.

[2022-01-11 17:51] #5125 closed

[2022-01-11 20:09] teburd opened #8680 "rimage: segfault when parsing the wrong key"
I mistakenly put public rather than private key as the key argument and got a confusing segfault in place of a nice error message. @marc-hb mentioned this should probably be ticketed, so here it is!

[2022-01-12 06:40] lenghonglin commented on #5068
Is there a detailed plan？
We are now in the process of adapting the SOF driver or the Zephyr driver.(DAI, DMA, IPC)
Zephyr alread support DMA and IPC driver.
If adapt SOF driver, will lack Zephyr driver.
If adapt Zephyr driver,There is no good way to be called by SOF

[2022-01-12 07:14] aiChaoSONG opened #5193 "[BUG] [Topology1] Macro "PIPELINE_FORMAT" and "PCM_ID" not expanded"
**Describe the bug**
The macro `PIPELINE_FORMAT` is not replaced with its value, for example, s32le, in the generated conf by m4.

**To Reproduce**
Run script to build topology: `./script/build-tools.sh -T`
Search the keyword `PIPELINE_FORMAT` from sof/tools/build-tools/topology/\*.conf

Issue introduced by c687815185948d49350e4b58d59e786ac16339e1, confirmed.

PCM_ID is not expanded, `PIPELINE_FOR

[2022-01-12 07:16] aiChaoSONG commented on #5193
@lkoenig FYI

[2022-01-12 10:02] sanzazacuro commented on #5142
Thanks for info @kv2019i , I will experiment a little more with the IPC handlers.

[2022-01-12 10:44] kv2019i opened #5375 "[BUG] soc_pcm_hw_params() failed (-22) for PCM7 (BT) on ADLP I2S Chrome device"
**Describe the bug**
sof-test failure on the BT PCM node

Intel internal daily plan reference: #9293

**To Reproduce**
sof-test
 ~/sof-test/test-case/check-playback.sh -d 3 -l 1 -r 1 -F

Or directly with aplay

aplay   -Dhw:0,7 -r 8000 -c 1 -f S16_LE -d 3 /dev/zero -v -q
`
**Reproduction Rate**
100%

**Expected behavior**
Playback to BT PCM is expected to fail if no Bluetooth audio connection is e

[2022-01-12 11:23] kv2019i opened #5195 "[BUG][Zephyr] FW not suspended after dmic test"
**Describe the bug**
 check-runtime-pm-status-15 fails on SOF Zephyr build on UP WHL board
See Intel internal daily plan #9293

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg MODEL=WHL_UPEXT_HDA_ZEPHYR ~/sof-test/test-case/check-runtime-pm-status.sh -l 15

**Reproduction Rate**

**Expected behavior**
Test should pass (system should go to runtime suspend)

**Impact**
In

[2022-01-12 11:24] kv2019i commented on #5195
Can you @marc-hb take a look (you have the board)? Tagging P1 as this is blocking CI.

[2022-01-12 13:50] lgirdwood commented on #5193
That's good to know PIPELINE_FORMAT is being set by accident. @lkoenig are you able to fix and set to s32le ?

[2022-01-12 14:11] lgirdwood commented on #5142
@sanzazacuro also please see the testebench. It does use teh IPC code and the also calls the pipeline APIs directly. We could have a higher level "stream" API where streams can be configured and controlled and another higher level "topology" API where topologies can be constructed (both these APIs could bypass the IPC calls and use the underlying logic called by IPC to do the same thing). This wou

[2022-01-12 14:17] lkoenig commented on #5193
@lgirdwood I took the option to define it as the DAI_FORMAT. Should I instead define it as s32le ?

[2022-01-12 22:05] lgirdwood commented on #5193
No, I think the fix is fine. Lets wait for @aiChaoSONG to validate and close.

[2022-01-12 22:38] lgirdwood commented on #5068
@lenghonglin maybe this is something you want to work alongside @juimonen and discuss.

Fwiw, the general work going on now is
@dcpleung is working on taking the DMA drivers into zephyr IIUC ?
@andyross is working on the IPC and IDC drivers, this should be ready next week where @lyakh will adapt the SOF code to use the new Zephyr IPC/IDC drivers.
@aiChaoSONG is working on changing the SOF log/trac

[2022-01-13 01:38] marc-hb commented on #5017
I grepped through test results and I confirm this started to happen systematically on BYT and BDW on Oct 15 which is the exact date b82e0efc7557e1bca was merged.

P1 because it affects all test results.

[2022-01-13 02:15] lenghonglin commented on #5068
good, I wanted to be more involved because we had this problem with sof.
The other things is that our soc is internally integrated with codec. How do we abstract this kind of interface?

[2022-01-13 08:32] XiaoyunWu6666 commented on #5195
This may not be a single issue .

Below are some findings observed from inner CI daily testresults and our issue identification records :
Since  UP WHL board was added to CI (late Nov ,2021)  , it had the issue of"ipc timed out when TRIG_STOP with multiple-pipeline test" .
check-runtime-pm-status-15 is the case that goes after this ,  and it got affected and always failed at the first round (so it

[2022-01-13 08:38] XiaoyunWu6666 commented on #5195
I add a 'reset' after multiple-pipeline-all-50 testcase , then the runtime-pm-status doesn't get affected
please check inner planresult 9342

[2022-01-13 11:02] lkoenig commented on #5193
PCM_ID is also reported to not be defined.
The issue  PCM_ID is caused by detect pipeline being created with PIPELINE_ADD instead of PIPELINE_PCM_ADD.
detect pipeline expect to be attached to a PCM.
I wonder if the correct fix would be to use PIPELINE_PCM_ADD in those case  ? @lgirdwood what do you think ?

[2022-01-13 14:24] lgirdwood commented on #5068
Probably a good to create a codec interface in Zephyr. It should include the DAI API and it should also create APIs for PM,  clocks, jack insert, controls. Please take a look at Linux ASoC codec interface as most concepts can be reused. Feel free to send me an email to discuss.

[2022-01-13 16:23] plbossart commented on #5017
Indeed the change in https://github.com/thesofproject/sof/commit/b82e0efc7557e1bcaaed21ab76e36155404848b3#diff-d4c9ae9324e27d2f5c74a47c27602e66eb981eec2ac459b99ad81f3277f34aacR458 seems to add those warnings.

@lyakh @lgirdwood any idea why this was needed?

[2022-01-14 01:52] lenghonglin commented on #5068
I mean maybe we should re-design Zephyr Codec API

[2022-01-14 06:33] marc-hb commented on #3890
wontfix

[2022-01-14 06:33] #3890 closed

[2022-01-14 06:36] marc-hb commented on #5093
Some progress at last, the very first step is to fix the clash and confusion between Zephyr's version.h and SOF's version.h, please review #5207. I have a number of unsubmitted fixes that depend on #5207

[2022-01-14 11:55] lgirdwood commented on #5168
@specious ```/lib/firmware/intel/sof``` and ```/lib/firmware/intel/sof-tplg``` are directories e.g. on my PC
[code]
These are then populated with the binaries and links.

[2022-01-14 11:58] lgirdwood commented on #5017
This is non fatal so can be made a ```tr_dbg()```

[2022-01-14 17:27] marc-hb opened #5212 "Why do we use -fno-inline-functions?"
-fno-inline-functions was added in 2016 by giant commit c0dfb4e62ab6ef7 `core: initial import of open source DSP firmware`

Then it was transferred from automake to CMake in 2019 by commit e0ba98d21ae8 `cmake: add CMakeLists for firmware build`

It was copied to the Zephyr build by initial Zephyr commit de41202f8fea

None of these explains why.

[2022-01-14 17:48] marc-hb commented on #5212
From @andyross about Zephyr:

[2022-01-14 18:46] marc-hb commented on #5212
#5213 test removes the flag and shows "typical" failures, not worse than usual.

[2022-01-14 22:29] lgirdwood commented on #5212
This was based on historical XCC settings so will need more analysis for code size, perf and stability.

[2022-01-15 04:00] Ninjastorm380 commented on #5134
Got another lockup. happened at the exact same time as my laptop dimmed the display while I was playing music.

[2022-01-15 18:07] hedmo commented on #4662
@plbossart  i got some free time now . wil start with hibernate :

dmesg before :
[dmesg.txt](https://github.com/thesofproject/sof/files/7875526/dmesg.txt)

dmesg after :
[dmesg-after.txt](https://github.com/thesofproject/sof/files/7875532/dmesg-after.txt)

[2022-01-17 07:24] xxxbxxx commented on #5168
got the same issue!

workaround to avoid reboot:
[code]

[2022-01-17 08:05] specious commented on #5168
If the module is built into the kernel, is there also a way to reinitialize it?

[2022-01-17 08:49] lkoenig commented on #5193
PR #5194 contains CL to address issues shown in that bug report.
The .conf files after those change differs from the ones prior c687815
A quick fix could be also to revert  c687815

[2022-01-17 13:41] #5193 closed

[2022-01-17 15:13] lkoenig commented on #5193
@mwasko just wanted to make sure you saw the comment I made [above](https://github.com/thesofproject/sof/issues/5193#issuecomment-1014274876)

[2022-01-17 17:38] plbossart commented on #5134
playing music on what endpoint? HDMI or local speaker/headphone? That's an important precision for us to look into suspend issues.

[2022-01-17 17:47] plbossart commented on #4662
@hedmo I don't see anything useful in the logs, did you notice any difference?

[2022-01-18 04:14] specious commented on #5168
My kernel configuration: [config-linux-5.16-20220117.txt](https://github.com/thesofproject/sof/files/7886114/config-linux-5.16-20220117.txt)

[2022-01-18 06:14] specious commented on #5168
My kernel configuration: [config-linux-5.16-20220118.txt](https://github.com/thesofproject/sof/files/7886592/config-linux-5.16-20220118.txt)

Although all drivers are built in, everything works perfectly with the 5.15.13 kernel, and until a sleep/wake also on 5.16.0.

I was simply wondering if there's any way to get the driver to reinitialize without doing an `rmmod`.

[2022-01-18 08:46] mengdonglin commented on #4923
This issue was fixed by coreboot. Close it.

[2022-01-18 08:46] #4923 closed

[2022-01-18 08:48] #3965 closed

[2022-01-18 12:19] miRoox commented on #5195
This failure is caused by the previous failure about multiple pipelines, which is already reported in https://github.com/thesofproject/sof/issues/4680. As @XiaoyunWu6666 said, if we reboot system after multiple-pipeline-all-50, the subsequent tests won't fail. Therefore, this is not a real bug but just DSP state had been corrupted at this point.

[2022-01-18 12:19] #5195 closed

[2022-01-18 13:37] lgirdwood commented on #4662
Dont see anything either in the logs, but I dont know if we should expect to see normal level SOF driver PM messages for hibernate (maybe these need debug log level).
@hedmo does restarting streams help after hibernate ? What about restarting pulseaudio or pipewire help after hibernate or unload and reload sof modules ?

[2022-01-18 13:42] hedmo commented on #4662
@lgirdwood . I can provide a sig debug dmesg to . About hibernate .
Nothing works (restarting stream not restart pulse). I dont know what module to unload. tr5640 works after hibernate tho.

[2022-01-19 01:26] Ninjastorm380 commented on #5134
@plbossart was on integrated speakers.

[2022-01-19 01:35] plbossart commented on #5134
Thanks @Ninjastorm380. This is surprising, in theory the screen dimming is completely independent from audio operations. We even test SOF on headless devices or using SSH without using the screen, ever. I can't think of any sequence, maybe others have better ideas. @kv2019i @ujfalusi any suggestions?

[2022-01-19 03:19] Ninjastorm380 commented on #5134
you were able to reproduce the hang?

[2022-01-19 03:38] plbossart commented on #5134
no. just sharing my analysis based on the little I know of hardware design :-)

[2022-01-19 03:44] Ninjastorm380 commented on #5134
ah

[2022-01-19 03:44] Ninjastorm380 commented on #5134
is it possible that dell did something screwy in the design of this laptop?

[2022-01-19 03:51] plbossart commented on #5134
The firmware and drivers are not Dell specific:

[Dec25 18:58] sof-audio-pci-intel-cnl 0000:00:1f.3: error: reply expected 12 got 0 bytes

[2022-01-19 04:24] Ninjastorm380 commented on #5134
I was wondering on the hardware, though

[2022-01-19 09:46] lyakh commented on #5017
@plbossart I added that to make sure we always test error codes of `pipeline_for_each_comp()`. In this case it means that when getting a timestamp on a pipeline we reached an inactive component. It would be interesting to run a test with
[code]
effectively following @lgirdwood's suggestion, to see what component that is. Then we should be able to judge better how important this is?

[2022-01-19 15:06] plbossart commented on #5017
Can you submit a test PR @lyakh ? Thanks!

[2022-01-19 19:02] marc-hb commented on #5120
It's been happening more on TGL recently:
- https://github.com/thesofproject/sof/pull/5224#issuecomment-1015836091
- In daily tests 9447 , TGLU_UP_HDA_ZEPHYR failed many tests but  WHL_UPEXT_HDA_ZEPHYR only one.

It really comes and goes as seemingly unrelated code changes come and go. However once a well defined configuration reproduces then it reproduces consistently. "Randomly deterministic".

[2022-01-19 19:31] andyross commented on #5120
Did you ever get a chance to dump the buffer extents (start pointer and length) on a failing configuration?

Also, I'd be really curious whether the problem simply goes away entirely if you use an uncached pointer for the buffer and remove the cache control steps completely.   I'll be honest: I think that code is hurting you more than helping.  The nature of this buffer being streaming and write o

[2022-01-20 07:09] lyakh commented on #5017
@plbossart #5233

[2022-01-20 11:13] kkarask commented on #4437
Glitch was found in test 19_00_TestAsrcPlayback8000Hz32b32b2ch on ICL RVP platform too.
Hash:  1165dae2b586bfac8ba2140f52a4e46fa32201a9

![image](https://user-images.githubusercontent.com/82518823/150327876-b9679b0e-f7dc-4276-974b-c64ef383be60.png)

Logs:
[ICL_19_00_TestAsrcPlayback8000Hz32b32b2ch.zip](https://github.com/thesofproject/sof/files/7904601/ICL_19_00_TestAsrcPlayback8000Hz32b32b2ch.zip

[2022-01-20 16:51] jsarha commented on #5120
I was able to produce the issue also on gcc built zephyr firmware on up-i11:

`[    94204324.589990] (     1997820.000000) c0 zll-schedule       src/schedule/zephyr_ll.c:141  INFO ll task 0x9 <bad uid ptr 0x0000000e> avg 560, max 1608
error: log_entry_address          0 is not in dictionary range!
warn: Seeking forward 4 bytes at a time until re-synchronize.

Found valid LDC address after skipping

[2022-01-20 17:51] jsarha commented on #5120
I also think I found a race in src/trace/dma-trace.c trace_work(). The function first copies the log entries with dma_copy_to_host_nowait() and then sends SOF_IPC_TRACE_DMA_POSITION with ipc_msg_send() right after that. At least in theory the Linux side may be faster in reading the buffer than the DSP is in writing it.  However, implementing a dma_copy_to_host_wait() by adding DMA_COPY_BLOCKING to

[2022-01-20 17:59] jsarha commented on #5120
Also if my findings - based on some hackish debug code - are correct, the log entries sometimes get corrupted right in the middle of the circular buffer between the DSP and Linux and not (only) when the circular buffer wraps from the end to the beginning. However, this finding should be taken with a grain of salt since it looks like my debug code changes are somewhat changing the behavior of the t

[2022-01-20 18:14] marc-hb commented on #5120
Across all my testing I've never seen that. I also analyzed many test logs and the message `error: log_entry_address X is not in dictionary range!` always appeared at very regular intervals.

[2022-01-21 03:55] dlarue opened #5238 "[BYT] x5-e8000 sound eventually locks to a screech"
I have a dozen Vulkan 10" tablets running Kubuntu 21.10 and it was sof-bin which allowed sound to start working but myself and some others have experience the sound system failing with a constant screech sound after a few minutes of playback. It takes logging out to stop it.
I've installed sof-bin version 2.0.x and was wondering if you thought another version might be better suited for this hardwa

[2022-01-21 12:04] lyakh opened #5242 "[BUG] iterating pipelines with `pipeline_for_each_comp()` can unnecessarily abort early"
**Describe the bug**
`pipeline_for_each_comp()` is used on multiple code paths to iterate pipeline components and to scan connected pipelines recursively. It uses buffer `.walking` flags to prevent returning to already scanned paths. However that flag seems to have side effects and in fact might not be needed at all.

First side effect of that flag occurs when using IPC to update stream position,

[2022-01-21 12:38] plbossart commented on #5238
It's likely the same problem we've seen on Baytrail for ages.
see https://github.com/thesofproject/sof/issues/3868

please try the same work-around with the trace enabled:

add this to /etc/modprobe.d/alsa-base.conf

options snd_sof sof_debug=1

[2022-01-21 13:18] lgirdwood commented on #5242
@lyakh we do need a flag to indicate "I've been here before" to avoid infinite loops. Fwiw, the WM9713 codec has such a loop in the audio topology so not this is a real use case.

[2022-01-21 15:24] dlarue commented on #5238
Still get the screech with "option snd_sof sof_debug=1" in the modprob.d config file.
Trying the sof-cht.ri which was posted in a zip file on one of the machines now but that didn't solve the problem for one on that thread.

[2022-01-21 16:13] lyakh commented on #5242
@lgirdwood I cannot claim that I fully understand what the present code is trying to achieve with the `.walking` flag, but it is my impression that it's exactly what it is there for. The original commit 968eaf162156 ("pipeline: add a flag to indicate if the buffer is being traversed") doesn't explain a lot apart from saying - don't walk the same buffer twice. But there's no explanation as to which

[2022-01-21 16:15] plbossart commented on #5238
@dlarue just to confirm, you need to reboot for the option to take effect.

If this doesn't work, the only option is to switch back to the legacy driver:
options snd-intel-dspcfg dsp_driver=2

This issue has been known for about a year and all the development team is busy on newer products, I am skeptical on this ever being fixed.

@lgirdwood FYI.

[2022-01-21 16:30] dlarue commented on #5238
Yes, I've been rebooting just to make darn sure things grabbed changes.
setting debug=1 didn't work but it seems "options snd-intel-dspcfg dsp_driver=3" is lasting a long time so far.
I've seen this mentioned in the thread and it was not set by default in Kubuntu 21.10.
What is driver option 3?  options snd-intel-dspcfg dsp_driver=3

[2022-01-21 16:35] plbossart commented on #5238
dsp_driver = 0 -> autodetection, this will dependent on Kconfig options
CONFIG_SND_INTEL_BYT_PREFER_SOF=y -> SOF driver and open-source firmware
CONFIG_SND_INTEL_BYT_PREFER_SOF=n -> SST legacy driver and closed-source firmware

forcing a non-zero value overrides the autodetection and Kconfig options
dsp_driver = 1 -> irrelevant in this case.
dsp_driver = 2 -> SST legacy driver and closed-source fi

[2022-01-21 17:09] lgirdwood commented on #5242
The primary aim is not to walk the same path more than once, this also avoids loops. Feel free to update and make this clearer.

[2022-01-21 17:21] lgirdwood commented on #4437
@singalsu any comments ? Any idea if we have enough MCPS for each config ?

[2022-01-21 17:27] lgirdwood commented on #5134
The only thing I can think of is a relationship between Intel HDMI audio and Nvidia HDMI audio via any GFX switcheroo (but I'm not a HW expert).

[2022-01-21 20:44] dlarue commented on #5238
ok, thanks for explaining.
It's been running on one machine for about an hour so far with dsp_driver=3 option, the debug option and the posted sof-cht.ri
Now it's been looping on a long audio file for over 2 hours on two machines without failure.

[2022-01-23 00:45] insiderser opened #5248 "[BUG] Right microphone not used on Dell XPS 17 9700"
**Describe the bug**
Only the left microphone is used for audio capture on Dell XPS 17 9700.

When I physically touch the left microphone, the captured audio spikes with a lot of noise (as expected). But when I touch the right microphone, the captured audio is the same, e.g. there are no noise spikes (not expected).

If I mute the left microphone completely in alsamixer (leaving only the right one

[2022-01-23 08:12] hedmo commented on #4662
good morning .

i dont know if this is for any help but on legacy drivers i get this :

`[   39.002061] intel_sst_acpi 808622A8:00: Wait timed-out condition:0x0, msg_id:0x1 fw_state 0x3
[   39.002075] intel_sst_acpi 808622A8:00: fw returned err -16
[   39.002088] sst-mfld-platform sst-mfld-platform: ASoC: error at snd_soc_dai_startup on ssp2-port: -16
[   39.002101]  SSP2-Codec: soc_pcm_open() fai

[2022-01-23 10:02] hedmo commented on #4662
i have checked with sof debug but nothing useful there. legacy driver on rt5645 still does not work .

[2022-01-23 13:37] dumprop commented on #5168
I have same problem on opensuse - https://bugzilla.suse.com/process_bug.cgi
alsa-info.sh with broken audio https://alsa-project.org/db/?f=9aa7cd2010b1474ccc835b55d807077bc69018d6

[2022-01-23 15:05] hedmo commented on #4662
more info when hibernated.. if i turn sof-bytcht rt5645 off it will disappear frm the list and i cannot turn it on again but it is still in alsamixer...

[2022-01-23 16:26] dlarue commented on #5238
I'm starting to believe it does work on the x5-e8000 media processor in these tablets after it ran for a day looping an audio file on one tablet and another played a 2 hour video twice without failure.

It did not work with just the sof_debug=1 entry and required including specifying the dsp_drive to use the open-source SOF driver.

options snd-intel-dspcfg dsp_driver=3
options snd_sof sof_debug=1

[2022-01-24 07:01] XiaoyunWu6666 commented on #4560
haven't seen it in CI for over 3 months

[2022-01-24 07:01] #4560 closed

[2022-01-24 07:02] #4595 closed

[2022-01-24 07:04] XiaoyunWu6666 commented on #4526
haven't seen it in CI for months

[2022-01-24 07:04] #4526 closed

[2022-01-24 07:05] XiaoyunWu6666 commented on #4643
haven't seen it in CI for months

[2022-01-24 07:05] #4643 closed

[2022-01-24 07:08] XiaoyunWu6666 commented on #4333
haven't seen it in CI for months

[2022-01-24 07:09] XiaoyunWu6666 commented on #4248
haven't seen it in CI for months

[2022-01-24 07:11] XiaoyunWu6666 commented on #4813
seen together with #4434

[2022-01-24 07:12] XiaoyunWu6666 commented on #5164
haven't seen it in CI after its first occurence

[2022-01-24 07:12] #5164 closed

[2022-01-24 07:19] XiaoyunWu6666 commented on #3953
haven't seen this bug in CI daily test for months

[2022-01-24 07:19] #3953 closed

[2022-01-24 07:43] XiaoyunWu6666 commented on #4376
@plbossart  Hi pierre , we do not have CNL platforms in CI .
Do we still have this issue ? Is it fixed?

[2022-01-24 07:48] XiaoyunWu6666 commented on #4584
@sathya-nujella Could you please provide other relevant GH issue links? thanks

[2022-01-24 07:50] XiaoyunWu6666 commented on #4629
Closed this since this was solved

[2022-01-24 07:50] #4629 closed

[2022-01-24 07:52] XiaoyunWu6666 commented on #5017
Let's see whether this can disappear after #5233 got merged

[2022-01-24 08:19] carmilso commented on #5168
Hi! I have exactly the same issue but with `snd_sof_pci_intel_tgl`. Thanks for the `rmmod` workaround, I'll keep subscribed to the issue

[2022-01-24 11:53] lgirdwood commented on #5248
@singalsu @plbossart  any ideas ? It looks like the Mics are being mixed into the left channel. I suspect this is happening in the codec (RT715) but amixer looks ok AFAICT

[2022-01-24 12:06] lgirdwood commented on #4662
@hedmo hmmm, if the legacy driver/fw also does not work then I suspect its similar issue to the same issue with the older Minnowboards where S4/S4 also did not recover the DSP (DSP PCI device never comes out of power off states).

S3 works on Chrome/Windows though, so I suspect that Coreboot and the Windows driver are doing something extra at S3/4 -> S0 to the DSP PCI device flow (the same Linux d

[2022-01-24 12:16] hedmo commented on #4662
@lgirdwood  . The legacy driver does not work at all.

[2022-01-24 12:46] tiwai commented on #5168
You can unbind and rebind via sysfs. It's a hard-way, equivalent with the device hot-unplug/plug the PCI device, so it might hit other bugs, though.

[2022-01-24 13:06] lgirdwood commented on #5168
@dumprop @carmilso do you guys see the same line in your dmesg ?
[code]
That shows the HDA0.OUT widget loading message. This may point to some IP programming flow in FW that is failing when we try and use that HDA stream.

[2022-01-24 13:20] lgirdwood commented on #4584
@XiaoyunWu6666 this was fixed last year so should be closed. I'll close, we can always reopen if needed.

[2022-01-24 13:20] #4584 closed

[2022-01-24 13:23] lgirdwood commented on #5238
also related/duplicate of #4662

[2022-01-24 13:37] JCesarMolina opened #5253 ""Hello World Tutorial" doesn't compile"
Hello,
I the this [article](https://thesofproject.github.io/latest/developer_guides/firmware/component-tutorial/tut-i-basic-fw-code.html?highlight=dev_comp_config)  , until everything is ok. But when i try to compile the part "Hello World Tutorial" i got several errors such us:
![errors](https://user-images.githubusercontent.com/85807475/150790996-03ef0a56-d859-4c10-8992-9f3822a7a646.PNG)
It seems

[2022-01-24 13:56] singalsu commented on #5248
The dmesg.txt does not reveal which topology is used. It's unlikely that SOF causes this (a demux?) but to confirm adding this file to module options would make a more verbose kernel log. Example from my device:

[code]

[2022-01-24 13:56] plbossart commented on #5248
We don't play with microphone selection in the SOF firmware, we get two channels over SoundWire from the RT715 codec, so it's likely a bad setup of alsa mixers.

@insiderser do you use UCM for setting up the mixers? Can you provide the values used for rt715 controls?

Adding Realtek team: @jack-cy-yu  @shumingfan in case they can help with mixer setups.

[2022-01-24 14:03] plbossart commented on #4662
I remember working on ASUS TA100 and HAN100 and having no problems with hibernate, this is really surprising that you would see this. I will have to find time to retry.

[2022-01-24 14:09] plbossart commented on #5238
Thanks for testing and sharing your results @dlarue

Can I ask you to try to hibernate and see if audio works when you resume the device? That would help with other reports we're seeing on CHT devices. Thanks!

[2022-01-24 15:01] insiderser commented on #5248
@plbossart Yes, I use alsa-ucm. Should I open an issue with them instead?

@singalsu Topology is intel/sof-tplg/sof-cml-rt711-rt1308-rt715.tplg [[dmesg.txt](https://github.com/thesofproject/sof/files/7926403/dmesg.txt)]

[2022-01-24 15:17] #2678 closed

[2022-01-24 15:49] marc-hb commented on #2678
Tests check for neither errors not warnings... anything goes. https://github.com/thesofproject/sof-test/pull/799

[2022-01-24 16:11] marc-hb commented on #4248
@XiaoyunWu6666 we don't detect firmware ERRORS. Did you really spend the enormous time needed to look at every etrace of every test on every platform every day? I doubt it.

https://github.com/thesofproject/sof-test/pull/799

[2022-01-24 16:15] dlarue commented on #5238
I don't currently have a swap partition on the tablets and so it only sleeps right now. It survives sleep just fine.
I'll boot one tablet from USB and create a 4GB swap partition( 4GB of RAM ) and see if I can enable hibernate to test this.

[2022-01-24 16:17] marc-hb commented on #4333
Only because there is a workaround. Please read the comments above (or ask)

[2022-01-24 16:39] plbossart commented on #5248
@insiderser can you attach the results of 'alsa-info', so that we can double check which SKU this device is and check if we have one available for tests.

[2022-01-24 16:52] singalsu commented on #5248
The topology is currently like this in git main. There's two capture PCMs (PCM1C and PCM4C) and there's no mux component in them. PGA and EQIIR do not have channel data duplication capability.

![sof-cml-rt711-rt1308-rt715](https://user-images.githubusercontent.com/28754793/150827245-8d879eea-8972-4c88-9b59-75a0ccff2cff.png)

[2022-01-24 18:53] plbossart commented on #5248
the two capture paths are for headset mic (RT711) and local mics (RT715). They are completely independent can be used concurrently.

[2022-01-24 18:54] saligrama commented on #5134
Having the same issues and it doesn't seem necessarily linked to suspend/resume. Have an X1 Carbon Gen 9 (i5-1145G7) running Arch Linux, kernel 5.16.2 and sof 2.0.

[2022-01-24 19:20] insiderser commented on #5248
@plbossart Sure.
[alsa-info.txt](https://github.com/thesofproject/sof/files/7928234/alsa-info.txt)

[2022-01-24 19:39] dumprop commented on #5168
Yes, unless I can't see `mei_hdcp 0000:00:16.0-b638ab7e-94e2-4ea2-a552-d1c54b627f04: bound 0000:00:02.0 (ops 0xffffffff822ad480`. I have:
[code]
(on boot, if it's make sense)
[code]
(after resume, so there are no anything related to mei_hdcp)

[2022-01-24 22:00] dlarue commented on #5238
On one tested system sound still works on restart from hibernate.
One guy said the fix did not help him but I've not validated what he really tested and he can't work with me until next week.
I've put out a script to a group with dozens of these Vulcan tablets running Linux so hopefully I'll have more feedback later this week.

[2022-01-25 08:16] aiChaoSONG commented on #95
close, because we already have volume component, and we have ramp up in there. No pop-noise found.

[2022-01-25 08:16] #95 closed

[2022-01-25 08:26] mengdonglin commented on #4418
Set it to P3 as with PR #4640, no impact on user experience.

[2022-01-25 08:28] mengdonglin commented on #4418
@lancedkhou  Close this issue. Please create a new issue to track remaining problem if need.

[2022-01-25 08:28] #4418 closed

[2022-01-25 08:36] mengdonglin commented on #5248
@shumingfan  Can you help check ALC715 mixer settings in the attached alsa-info?

[2022-01-25 08:46] abonislawski commented on #3673
@RanderWang could you please check if this issue is still valid?

[2022-01-25 08:59] abonislawski commented on #4104
@kkarask is the glitch problem still valid? If yes, please open a new issue

[2022-01-25 08:59] #4104 closed

[2022-01-25 09:04] mengdonglin commented on #4376
This issue cannot be reproduced after SOF v2.0 and recent daily test on CML_RVP_NOCODEC with multicore and dynamic pipeline (e.g. test ID 9689)

[2022-01-25 09:04] #4376 closed

[2022-01-25 09:37] jack-cy-yu commented on #5248
@mengdonglin The mixer setting looks good to me. Is the same setting works on other platform?

[2022-01-25 10:04] lyakh opened #5257 "[BUG][APL] pause-resume tests xrun on UP2 with pcm512x HiFiBerry cards / topology"
**Describe the bug**
The pcm512x topology hasn't been tested by CI for some time. Having re-added it to daily tests, pause-resume tests showed a regression. It is supposedly related to that topology's non-traditional mixer placement in the pipeline and to recent changes in trigger processing.

**To Reproduce**
[code]

**Reproduction Rate**
Seems easy enough to reproduce. E.g. at the above link it

[2022-01-25 11:16] ujfalusi commented on #5134
I have got my hand on a test device (Dell G15, i7-11800H, RTX 3060 | 5.16.1-artix1-1, world/pipewire 1:0.3.43-5, world/nvidia 495.46-9, extra/nvidia-prime 1.0-4., KDE/Plasma)
Running xonotic-0.8.2 via prime-run, fullHD youtube video, arecord -fdat | aplay -fdat for about one and a half hours. Every now and then I plug/unplug a headset. DMIC works, HS mic also. All looks normal so far.

I really ho

[2022-01-25 12:10] jack-cy-yu commented on #5248
@insiderser Could you help to dump the register during recording?

[2022-01-25 13:00] insiderser commented on #5248
@jack-cy-yu I can try, but please send me the steps to take to do this, as I'm not familiar with how to debug SOF.

[2022-01-25 13:53] jack-cy-yu commented on #5248
During recording, please go to "/sys/kernel/debug/regmap/<sdw addr>/ ", then you can do "cat registers" to dump register.

[2022-01-25 15:45] lgirdwood commented on #3673
@XiaoyunWu6666 can you comment if you still see this issue ? if not we can close.

[2022-01-25 16:01] lgirdwood commented on #4769
Tracking for 2.1 - @cujomalainey @sathya-nujella pls append the script here if you have it. Thanks.

[2022-01-25 17:55] lgirdwood commented on #4242
Ping @afq984 @bzhg @poloo5582 ?
Will push to v2.1

[2022-01-25 19:09] cujomalainey commented on #4769
@lgirdwood
[code]
Usually takes a couple of minutes

[2022-01-25 19:21] cujomalainey commented on #4242
I think this is defunct, it seems that MUX/DEMUX can handle channel reduction/copying/dropping, so I don't think we even really need the selector anymore

[2022-01-25 22:53] marc-hb commented on #5077
Is this still an issue?

[2022-01-25 23:51] vadz opened #5260 "[BUG] No actual sound, although everything seems correct, on Dell XPS 17 9700"
**Describe the bug**
Using Debian Bookworm (Testing) with 5.15.0-3-amd64 kernel and firmware-sof-signed 1.9-1 everything seems to work correctly from software point of view, but there is no sound at all, even at maximum volume level.

I've switched to Bookworm from Bullseye (Stable) because audio didn't work at all there, with errors when booting firmware. In Bookwork these errors don't occur any

[2022-01-26 00:19] dlarue commented on #5238
well crap, I did a ffresh clonezilla image of Kubuntu on another tablet, applied my sound patching script and sound played for some time but a few hours later I checked and it was screeching....

[2022-01-26 06:46] RanderWang commented on #3673
I will check it. too old

[2022-01-26 19:56] cujomalainey opened #5273 "[BUG] Remove HiFi code duplication in HiFi buffer management"
Tracking bug for https://github.com/thesofproject/sof/pull/5169#discussion_r790016690

[2022-01-26 19:57] cujomalainey commented on #5273
Turns out github links don't point to resolved comments properly. This bug is track the deduplication of *_setup_circular(source) functions in HiFi sections.

[2022-01-26 20:36] insiderser commented on #5248
Thanks. Here are the dumps:

[sdw:0:025d:0711:00-sdw.txt](https://github.com/thesofproject/sof/files/7945375/sdw.0.025d.0711.00-sdw.txt)
[sdw:0:025d:0711:00.txt](https://github.com/thesofproject/sof/files/7945376/sdw.0.025d.0711.00.txt)
[sdw:1:025d:1308:00.txt](https://github.com/thesofproject/sof/files/7945377/sdw.1.025d.1308.00.txt)
[sdw:2:025d:1308:00.txt](https://github.com/thesofproject/sof/f

[2022-01-27 02:52] XiaoyunWu6666 commented on #3170
in inner daily 9751 and 9715, when check-playback/check-capture on BDW_WSR_RT286 , IO error happen in the first play

[2022-01-27 06:22] Ninjastorm380 commented on #5134
G3 15 (it's from 2019) is what I got. completely different unit.

[2022-01-27 06:24] Ninjastorm380 commented on #5134
not suspend resume, but power events (display dimming, state changes, etc.)

[2022-01-27 08:00] ujfalusi commented on #5134
I know, but this is the closes thing I can get (laptop w/ NVIDIA GPU via Optimus).

Tried few hours of DeusEx MD (running the benchmark + arecord | aplay) for few hours, but the fan noise was unbearable, I was not able to reproduce it.

However I was able to break audio with: log out as user, ssh in as root, killall -u <username>, `aplay -Dplughw:1,0 -fdat /dev/zero` and either close the lid or `r

[2022-01-27 09:28] jack-cy-yu commented on #5248
@insiderser Could you help try attached patch? The purpose for this patch is to check whether DMIC is normal or not
[0001-ASoC-rt715-add-hidden-register-for-debug.zip](https://github.com/thesofproject/sof/files/7949245/0001-ASoC-rt715-add-hidden-register-for-debug.zip)
.

[2022-01-27 11:30] tmoesi commented on #5168
Hi,
I have a very similar issue and have to do
[code]
to get my audio to work after wakeup from suspend.

This is my dmesg:
[code]
**Environment**

I am running a Lenovo Yoga 7 slim with kernel `5.16.2-1-MANJARO`.
Information around the hardware can also be found at https://linux-hardware.org/?probe=896b348390.

[2022-01-27 11:37] tiwai commented on #5168
A similar bug report on bugzilla.kernel.org https://bugzilla.kernel.org/show_bug.cgi?id=215535

It suggests that the first bad commit is 5fcdbb2d45df6afb654674379546996b0027aa3e
("ASoC: SOF: Add support for dynamic pipelines")

[2022-01-27 13:47] lgirdwood commented on #5273
@cujomalainey fyi @singalsu is creating a spreadsheet for all the SIMD optimizations/cleanups. Will be able to share it soon.

[2022-01-27 14:51] lgirdwood commented on #5168
@plbossart @ranj063 is there a kernel config or module option that can disable dynamic pipelines so we can root cause and workaround atm ?

[2022-01-27 15:05] lgirdwood commented on #3170
@XiaoyunWu6666 I'm suspicious we have over budget MCPS given that both are HiFi2 and will use the generic C processing with the frag API. @singalsu fyi - lets retest this again after all the frag APIs users have been fixed.

[2022-01-27 15:12] lgirdwood commented on #5238
This sounds like it could be a race between DMA and the pipeline logic, we do have some optimisation in development for HiFi2 DSPs that can increase pipeline performance by 20 - 40%. I hope this could help here and reduce occurrence. @singalsu another user for the frag API update which should land in the next few weeks. @dlarue would you be able to help test this update when ready ?

[2022-01-27 15:15] lgirdwood commented on #4680
@miRoox @kv2019i good to close ?

[2022-01-27 15:19] lgirdwood commented on #4242
ok, lets close - we can always reopen if needed. Thanks.

[2022-01-27 15:19] #4242 closed

[2022-01-27 15:21] lgirdwood commented on #5093
@marc-hb both PRs merged, happy to close or do you have other updates pending ?

[2022-01-27 15:22] marc-hb commented on #5093
There's at least one more fix I'm working on.

[2022-01-27 15:33] dlarue commented on #5238
@lgirdwood yes, I can test on these tablets.

[2022-01-27 15:39] ujfalusi commented on #5168
Hi,

While trying to reproduce a different issue I think I did hit this issue:
https://github.com/thesofproject/sof/issues/5134#issuecomment-1022943267

In short: 5.16.1-artix1-1 kernel
suspend while aplay is running and on resume I see
[code]
stopping aplay and starting it again will fail and I have this in the dmesg:
[code]

Checked that vanilla 5.16 and 5.16.1 also have the same issue, but 5.17

[2022-01-27 15:43] lgirdwood commented on #5077
Can reopen if still an issue.

[2022-01-27 15:43] #5077 closed

[2022-01-27 21:12] galibozek commented on #4809
Same error on Arch - 5.16.3-arch1-1, SOF: 2.0
[code]

[2022-01-27 21:22] plbossart commented on #4809
@galibozek this error is usually harmless, we don't actually use the digital output in any device. Do you see any real issue or just reporting those logs?

[2022-01-28 02:42] miRoox commented on #4680
It seems there is only the sof-logger issue (#5120) in this platform. I think it's good to close.

[2022-01-28 02:42] XiaoyunWu6666 commented on #5257
happened in inner daily 9800
model APL_UP2_PCM512X
testcase check-pause-resume-playback-100

With IO error in console

[etrace]
[code]

[2022-01-28 05:12] RanderWang commented on #3673
I checked with latest kernel commit ddcea4bef6  and fw  0bf7b73dc8c today. I can't reproduce the bug. Let's close it

[2022-01-28 05:12] #3673 closed

[2022-01-28 06:01] Ninjastorm380 commented on #5134
@ujfalusi you got easyeffects installed + a few virtual pipewire streams? I found those to be instrumental to enabling the audio crashing/system hanging.

[2022-01-28 06:33] XiaoyunWu6666 opened #5281 "[BUG] IO and set pipeline status error on TGLU_RVP_NOCODEC_IPC4 with sof+IPC4"
**Describe the bug**
ipc error happened when setting status for pipeline 3 when aplay or arecord with PCM: Port1 [hw:0,1]
on TGLU_RVP_NOCODEC_IPC4

**To Reproduce**
TPLG=/lib/firmware/intel/avs-tplg/cavs-mixin-mixout-hda.tplg MODEL=TGLU_UP_HDA_IPC4 ~/sof-test/test-case/check-playback.sh -d 3 -l 1 -r 1 -F

**Reproduction Rate**
almost 100%

**Environment**
    * Kernel: inner source linux topic/sof

[2022-01-28 11:21] #4680 closed

[2022-01-28 11:59] ujfalusi commented on #5134
I did not had easyeffects but had few playback streams running.
I can overload the system with few easyeffects plugins to have close to constant underruns and glitches, kept only  the compressor for now.
Let's see.

[2022-01-28 21:13] Ninjastorm380 commented on #5134
@ujfalusi here's my pipewire config. just remove the .txt and drop it into ~/.config/pipewire

[pipewire.conf.txt](https://github.com/thesofproject/sof/files/7961849/pipewire.conf.txt)

[2022-01-30 10:09] galibozek commented on #4809
@plbossart I did not observe any real problem

[2022-01-31 07:32] XiaoyunWu6666 opened #5293 "Unable to enable Zephyr+IPC4: tplg2 component load failed"
**Describe the bug**
Unable to load topology on TGLU_UP_HDA_IPC4  which is used to enable zephyr+ipc4 in CI.

To enable IPC4 ,intel_adsp_cavs25.conf is modified as stated in Environment section
Not sure whether this is merely a topology problem or a kernel side problem .
Any advice ? thanks!

**Environment**
* Kernel: inner source linux topic/sof-cavs-dev f81ca4668a
* SOF: main branch plus PR 5231

[2022-01-31 09:45] lgirdwood commented on #5257
@lyakh @XiaoyunWu6666 Does this happen on Zephyr ?

[2022-01-31 10:59] lgirdwood commented on #5293
@lyakh can you take a look at this, thanks !

[2022-01-31 12:31] wszypelt opened #5294 "[BUG] 19_01_TestAsrcCapture Exception SofIpcErrorResponseException occured -22 error code"
**Describe the bug**
Bug was found in:
19_01_TestAsrcCapture8000Hz16b16b2ch
19_01_TestAsrcCapture48000Hz32b32b2ch

the content of the error:
Exception SofIpcErrorResponseException occurred at 'C:\\work\\tools\\pyexecnetcache\\cavs_scripts-py\\utilities\\ipc_driver.py':763 FW replied with error. Error code: -22 0x00000005 0x00000000 0x00004000

Last working build: SOF_FW_MASTER_01.01.00.3043 hash:

[2022-01-31 13:15] lgirdwood commented on #5134
@Ninjastorm380 any reason why you have the default latency commented out ?
[code]
Do you have any hints what this would be when commented out ?
I've also noticed your config has 3 default sinks ?

[2022-01-31 13:17] lgirdwood commented on #5068
@juimonen can you share your DAI work with @lenghonglin for discussion. Thanks

[2022-01-31 13:26] lgirdwood commented on #5294
@singalsu the ASRC sink rate should be coming from the DAI here right ?

[2022-01-31 15:21] plbossart commented on #4809
thanks @galibozek. we'll need to work on this and remove this path when it's not fully enabled in the codec driver. Or alternatively remove the digital path since it's not used by anyone.

[2022-01-31 16:20] lgirdwood commented on #4809
@singalsu fyi - are there any frag API users in the DMIC pipes ? I assume we can fix those all for v2.1 to give a DMIC performance boost that may help here.

[2022-01-31 16:21] lgirdwood commented on #5120
@jsarha any update here ?

[2022-01-31 16:27] lgirdwood commented on #4769
@marc-hb @greg-intel @aiChaoSONG @XiaoyunWu6666 fyi - we need a stress/CI test that sends a sequence of large config messages to our WOV dummy component as we have a crash in the large message handling whilst doing a playback and capture.

[2022-01-31 19:18] marc-hb commented on #4769
Can someone who worked on this bug and understand enough about it please file a more detailed test description in a new https://github.com/thesofproject/sof-test/issues? A detailed description of what CRAS does or did is a minimum.

[2022-01-31 19:38] jsarha commented on #5120
Not yet. Still working on a new angle to tackle the issue.

[2022-02-01 02:00] Ninjastorm380 commented on #5134
I just copy-pasta'd from [here](https://gitlab.freedesktop.org/pipewire/pipewire/-/wikis/Virtual-Devices#loopback) , but with the names and descriptions changed for the virtual streams. the rest is default.

[2022-02-01 09:22] singalsu commented on #5273
I've noticed that audio_stream_bytes_without_wrap() performs better in many cases than using same circular start-end registers for several circular buffers in the hot loop.  I will test the most important components with such change and change code if my test devices show processing time improvement.

[2022-02-01 09:26] singalsu commented on #5294
Yes that's correct, the HW params get from SSP DAI should propagate it to pipeline.

[2022-02-01 12:04] singalsu commented on #4809
Attach of a sine wave recording would be useful, see tone 440 Hz comment above. Or get a sine wave player app to your smartphone and use it as sound source. https://apps.apple.com/us/app/sine-wave-generator/id1118935547 https://play.google.com/store/apps/details?id=sine.wave.signal.generator&hl=en_IE&gl=US

[2022-02-01 12:08] lyakh commented on #5293
@lgirdwood @mengdonglin @XiaoyunWu6666 sorry, I don't see a reference to the CI test result nor do I see firmware trace here. But the error is verry telling: -12 is `-ENOMEM`... I'm guessing some topology value got corrupted and there's a large number somewhere where memory size is expected.

[2022-02-01 13:21] lgirdwood commented on #5293
Looks like this will need @RanderWang to fix when back from vacation.

[2022-02-01 13:38] kv2019i commented on #5094
Implemented with https://github.com/thesofproject/sof/pull/5298 .

The native interface will be a Zephyr replacement of SOF runtime PM for DSP cores.

[2022-02-01 15:43] lgirdwood commented on #4769
@marc-hb  The aim is to not test for this exact bug, but for the use case where it occurs. The active streams and large config IPC run at different contexts with xtos so we may have a race. Being able to do a test with running streams and sending large config IPCs would be helpful. Feature request added here https://github.com/thesofproject/sof-test/issues/847
Fwiw,  doing active streams and flood

[2022-02-01 22:26] insiderser commented on #5248
Sorry for taking time. Here are the dumps:
[sdw:0:025d:0711:00.txt](https://github.com/thesofproject/sof/files/7982314/sdw.0.025d.0711.00.txt)
[sdw:1:025d:1308:00.txt](https://github.com/thesofproject/sof/files/7982315/sdw.1.025d.1308.00.txt)
[sdw:2:025d:1308:00.txt](https://github.com/thesofproject/sof/files/7982316/sdw.2.025d.1308.00.txt)
[sdw:3:025d:0715:00.txt](https://github.com/thesofproject

[2022-02-01 23:13] plbossart opened #5301 "[BUG] spelling mistakes"
deevelopppherz cantt spehll

[log.txt](https://github.com/thesofproject/sof/files/7982518/log.txt)

run codespell!

[code]

[2022-02-02 08:31] ujfalusi commented on #5134
@Ninjastorm380, I have been running the laptop I have for few days but I'm close to conclude that I'm not going to be able to reproduce the issue.

What bugs me is that touching DMIC gain is alone makes your laptop freeze, which one of these are doing that?
1.
[code]
2.
[code]

Are you able  to ssh in to the laptop?
If so, can you connect it via ethernet, ssh in to the laptop.
log out from your de

[2022-02-02 09:24] Ninjastorm380 commented on #5134
Currently, I no longer have access to that laptop (I got the missing components ordered for my tower, so I loaned it out again), but I know it was dmic0 that caused the immediate lockups. Nothing is working at all, not even pings (lockup at kernel level?) when the laptop freezes. The eventual lockups don't seem to be caused by dmic0, however. those only occurred under high CPU + GPU load using som

[2022-02-02 09:24] Ninjastorm380 commented on #5134
@ujfalusi

[2022-02-02 10:39] lgirdwood commented on #5094
@kv2019i can we close now ?

[2022-02-02 12:47] ujfalusi commented on #5134
@Ninjastorm380, components are hard to find these days ;)

Any chance you will get it back sometime? We were unable to reproduce this so far and by the look of it it could be not even audio related. Some Optimus setups tend to be more fragile than others and afaik they do cause problems here and there.
It would be great to be able to debug it further to find the rootcause for the benefit of you an

[2022-02-02 13:04] kv2019i commented on #5094
Yes, closing.

[2022-02-02 13:38] kv2019i commented on #5094
Unfortunately have to reopen this immediately back :( -> https://github.com/thesofproject/sof/pull/5303

[2022-02-02 17:11] marc-hb commented on #5301
Pretty sure we have checkpatch --codespell in CI now.

[2022-02-02 17:13] marc-hb commented on #5253
Should this be transferred to sof-docs?

[2022-02-02 18:09] plbossart commented on #5301
yes it's there.
      CHK_CMD_OPTS: --ignore UNKNOWN_COMMIT_ID --codespell

whether it's actually used is a different story. The list above was created by just running codespell in the sof directory and filtering out false positives (such as afe -> safe)

[2022-02-02 18:10] Ninjastorm380 commented on #5134
I am talking about two separate lockup conditions. lockup by dmic0 is instantaneous, and halts everything. the eventual lockup (at least when pipewire node power suspend is disabled) seems to leave some things functional (sound continues playing, even newgrounds playlists from the web!).

[2022-02-02 18:11] Ninjastorm380 commented on #5134
as for when i'll get it back? earliest is in 4 weeks.

[2022-02-02 18:18] dumprop commented on #5168
Yes, now I don't notice such a problem

[2022-02-02 18:21] marc-hb commented on #5301
What I meant is maybe all the examples above date from a pre-codespell era.

[2022-02-02 18:56] saligrama commented on #5134
My issue seems to now be fixed after updating to kernel 5.16.4. 36 hours of uptime so far with multiple suspend/resume cycles and sound is still going strong.

[2022-02-03 10:06] sanzazacuro opened #5308 "[BUG] Custom IPC message data invalid when fetched from kernel"
**Describe the bug**
I want to send a custom ipc message from DSP to host. The ipc message size and data pointer is invalid when fetched from kernel. This is how its setup:

_on dsp:_

[code]

_in_kernel, ipc driver (ipc.c):_

[code]

Is there anything I have done wrong in order to fetch the message content correctly from the DSP?

**Reproduction Rate**
100%

**Environment**
1) Branch name and com

[2022-02-03 12:33] jack-cy-yu commented on #5248
@insiderser Do you have recorded files for three different hidden register setting? We'll need to analyze the audio files based on different settings.

[2022-02-03 14:30] TronFortyTwo opened #5309 "[BUG] Sound not wokring (no sinks) on Matebook D15"
**Describe the bug**
I have installed Arch on a Huawei MateBook D15, and I get no sound from the speaker. As far as I understand ALSA can't see my speakers. Alsa only sees the HDMI outputs but no analog output (more details below). I know it's not an hardware issue since it works on windows. Even with a jack headphone sound doesn't work. I can also reproduce in other distribution such as ubuntu.
I

[2022-02-03 14:36] eworm-de commented on #5309
This is a duplicate of https://github.com/thesofproject/linux/issues/3248

[2022-02-03 15:22] plbossart commented on #5309
yes, it's a duplicate.

You need to remove this
options snd_intel_dspcfg dsp_driver=1

Please try PR https://github.com/thesofproject/linux/pull/3338

and install topology files mentioned in https://github.com/thesofproject/linux/pull/3338#issuecomment-1013246294

[2022-02-03 17:19] marc-hb commented on #5120
I'm afraid this has been by far the most frequent test failure in recent daily runs, especially when looking at Zephyr :-(

[2022-02-03 19:23] insiderser commented on #5248
Here's the recording I did while dumping the registers the last time. You can also hear me "touching" the microphones (the last 10 seconds).
[record.zip](https://github.com/thesofproject/sof/files/7997455/record.zip)

I don't understand what you mean under "three different hidden register setting." I'm not familiar with how to debug Linux kernel or its modules, or how SOF works.

[2022-02-03 20:13] hedmo commented on #4662
guys . i have made a mistake . i had not added : options snd_sof sof_debug=1
now it looks like 2.0 works without screaming sound . hibernate is still broken.

regards

[2022-02-04 03:34] jack-cy-yu commented on #5248
@insiderser I mean to add the register setting in rt715_io_init in rt715.c . Please check the "0001-ASoC-rt715-add-hidden-register-for-debug.patch", there is a register setting specific for debug only,

+	/*  For debug only */
+	rt715_index_write(rt715->regmap, 0x1a, 0x0); // all rising latch
+

with this setting, all recording data is supposed to get from Left channel, and you can get the recordi

[2022-02-04 09:37] lgirdwood commented on #5168
Closing since resolved with kernel update.

[2022-02-04 09:37] #5168 closed

[2022-02-04 09:58] lgirdwood commented on #5308
@sanzazacuro can you look at how host.c does this for unsolicited position update messages. I think you need to define a struct
[code]

Best to grep host.c for "ipc_msg" as it has full flows for msg usage.

[2022-02-04 13:16] kv2019i commented on #4414
Raising priority, this is seen regularly in Intel daily testing and traces show this is not a question of performance hitting a brickwall, but rather a functional error.

[2022-02-04 13:50] jsarha commented on #5120
Here is what I have established so far with my upx-i11.

I changed the log record size to 64 bytes (= cache line length) always to make the issue more manageable. On the DSP side the dma buffer is 8192 bytes long and on the Linux host side the dma buffer is is 8 times the size of the DSP side buffer, e.g. 64k.

With 64-byte log entries every 128th entry is always broken. This happens 7 of 8 in the

[2022-02-04 14:02] plbossart opened #5315 "[BUG] CONFIG_SOF_ZEPHYR shall not override hardware definitions"
**Describe the bug**

This sort of code is completely wrong: the ALH registers do not exist in CAVS_VERSION_1_5 but will be programmed anyways.

#if CAVS_VERSION >= CAVS_VERSION_1_8 || CONFIG_SOF_ZEPHYR
/* init HW  */
static void platform_init_hw(void)
{
	io_reg_write(DSP_INIT_GENO,
		GENO_MDIVOSEL | GENO_DIOPTOSEL);

	io_reg_write(DSP_INIT_IOPO,
		IOPO_DMIC_FLAG | IOPO_I2S_FLAG);

       // BUG!

[2022-02-04 21:59] greg-intel commented on #5301
I don't see "runing" on there.

[2022-02-05 01:43] marc-hb commented on #5257
Still observed with today's daily run 9986. P1 because it's affecting daily test results. If it's actually low severity explain why and I will SKIP this test until the bug is fixed.

Kernel Branch: topic/sof-dev
Kernel Commit: https://github.com/thesofproject/linux/commit/03175849
SOF Branch: main
SOF Commit: cf04ada3236b

[2022-02-07 11:47] insiderser commented on #5248
@jack-cy-yu Thanks for the explanation!

Only the left microphone was used in all cases (0x0, 0xff00, 5500). No recordings were silent.

[2022-02-07 18:37] rdft4e commented on #3868
Hi, it was difficult to find you. The term "screech" made me the clue.
I confirm it in
Ubuntu 20.04.3 LTS, Kernel release:    5.13.0-28-generic,x86_64
snd_soc_sst_bytcr_rt5651 (card 1)
SOF - sof-bytcht rt5651, BESSTARTech-Z83_F-Defaultstring-T3MRD
The persistent beep appeared after a large updating/upgrading of this LTS.

The modification of alsa-base.conf with
options snd_sof sof_debug=1
solved t

[2022-02-07 18:40] plbossart commented on #3868
no. the former is related to a debug option of the SOF driver, while the latter will select the SST driver - i.e. NOT SOF.
if you want options snd_sof sof_debug=1 to have any effect you need options snd-intel-dspcfg dsp_driver=3

It's been more than a year and we haven't root caused the issue. Don't hold your breath.

[2022-02-07 18:49] rdft4e commented on #3868
I do not have snd-intel-dspcfg dsp_driver=3 explicit in the alsa-base.conf but I am "pretty sure" that options snd_sof sof_debug=1 solve the arbitrary continous beeping. If it come back I will try the options snd-intel-dspcfg dsp_driver=3 but now I am not touching  nothing for the momento and crossfingering.

[2022-02-07 19:21] plbossart commented on #3868
check your kernel config @rdft4e, you probably have the CONFIG_SND_INTEL_BYT_PREFER_SOF option set. that would override the default which is to use snd-intel-dspcfg dsp_driver=2 on those devices.

[2022-02-08 07:42] RanderWang commented on #5293
Last time I found that the uuid of copier was not built into FW manifest, so it can't be found. @XiaoyunWu6666 can you decode FW to check uuid ? thanks

[2022-02-08 08:47] singalsu commented on #5301
Thanks Pierre! I'll fix the Matlab scripts in tools/tune/*, those are all my typos :) Plus processing components src/audio/*.

The checkpatch scrit gives a lot of false issues so typos may well be missed from between those.

[2022-02-08 09:11] abonislawski commented on #5294
@softwarecki any update?

[2022-02-08 09:39] jack-cy-yu commented on #5248
@insiderser I add another debug control to check the Sdw dataport status (see the attached patch), please help to do one more experiment, thanks!
This control is added for dmic issue debug
1. Please use amixer cset to set "Debug Ctrl" to 1
   after dmic start to record, our AE team need to know the
   initial status of Sdw dataport.
2. (During recording) Please use amixer cset to set "Debug Ctrl"

[2022-02-08 10:30] softwarecki commented on #5294
I have it on my list, I will post a fix soon

[2022-02-08 12:21] afq984 opened #5323 "[BUG] alsatplg: invalid option -- 'I' in debian:unstable"
**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)
[code]

**Environment**

[code]

alsatplg is from the alsa-utils 1.2.6-1 package in the debian:unstable docker image.

there's indeed no `-I` flag in https://github.com/alsa-project/alsa-utils/blob/v1.2.6/topology/topology.c so I don't think it is a downstream packaging problem

[2022-02-08 14:04] CBala21 opened #5325 "[BUG][TGL-U][audio capture] DSP panic after long time recording test for about 19 hours"
**Describe the bug**
A DSP panic error was reported after a long time recording test for about 19 hours.
Basically the use case is , audio capture through I2S in slave mode configuration.

[62976.411003] sof-audio-pci-intel-tgl 0000:00:1f.3: error : DSP panic!

[62976.411686] sof-audio-pci-intel-tgl 0000:00:1f.3: status: fw entered - code 00000005

[62976.412138] sof-audio-pci-intel-tgl 0000:00:1f

[2022-02-08 14:40] XiaoyunWu6666 commented on #5293
hi @RanderWang , I decoded FW  and got info below.
However, I could not get any relevant hints in it ...

[code]

[2022-02-08 15:25] dbaluta commented on #5093
@marc-hb so after your fixes we will have a banner with zephyr version + SOF version, right?

[2022-02-09 01:57] RanderWang commented on #5293
thanks. according to your info,   there are only two modules and copier is missed.
please check my info.  These info are added by rimage with config of tgl-cavs
[code]

[2022-02-09 05:06] XiaoyunWu6666 commented on #5293
hi @rander , It seems that the firmware I built  was different from you , maybe there is a gap between ways we built.
 Below is mine :
Step 1 : fetch the newest sof code
Step 2  : apply PR 5231
Step 3 : zephyrproject/zephyr/samples/subsys/audio/sof/boards/intel_adsp_cavs25.conf
 Add below to
[code]
Step 4 : build firmware with script : ./scripts/xtensa-build-zephyr.sh tgl

[2022-02-09 05:37] RanderWang commented on #5293
I only built it for xtos, not zephyr.  The FW structure should be the same for both cases

[2022-02-09 06:21] XiaoyunWu6666 commented on #5293
@aiChaoSONG found some IPC4 files were not specified in sof/zephyr/CMakeLists.txt, so they are not built when building with zephyr.
However after adding inclusion of src/audio/copier.c and src/audio/base_fw.c , the decode output of zephyr-build firmware still lacks copier component.
@lyakh @RanderWang  Are there any other dependencies for enabling copier when building zephyr firmware?
Many thanks~

[2022-02-09 06:28] marc-hb commented on #3890
`COMP_BASEFW_IPC4` will also be ignored and cause a collision.

- #4808
- thesofproject/linux/pull/3334

[2022-02-09 07:06] XiaoyunWu6666 commented on #5293
Just synced with @aiChaoSONG , he found some mismatch in zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs25/board.cmake
[code]
However , we need  board_set_rimage_target(tgl-cavs) instead to enable using tgl-cavs.toml when signing with tool rimage

[2022-02-09 09:34] lgirdwood commented on #5325
@CBala21 can you update to SOF v2.0 as v1.5 is quite old. v2.0 has many fixes for TGL.

[2022-02-09 11:07] lgirdwood commented on #5323
@afq984 can you try with latest alsa-utils HEAD.
@greg-intel fyi - may need a container update.

[2022-02-09 11:09] lgirdwood commented on #5308
@sanzazacuro all good now - can we close ?

[2022-02-09 11:36] afq984 commented on #5323
Haven't tested HEAD, but probably just the version check needs to be updated once `-I` makes itself into a release: https://github.com/thesofproject/sof/blob/e5d95d1dd3b336f3c465c137187d820e427c00b4/tools/topology/topology2/CMakeLists.txt#L21

[2022-02-09 11:58] lgirdwood commented on #5093
@marc-hb whats teh ETA for the above ? Will be creating a stable v2.1 in about two weeks and I think this will be needed.

[2022-02-09 16:10] lyakh commented on #5017
@XiaoyunWu6666 are these gone now? Can this be closed?

[2022-02-09 16:53] kv2019i opened #5335 "[BUG] [Zephyr] Wrong rimage signing schema used when building for IPC4"
**Describe the bug**
When SOF is built for IPC4, a different signing schema (e.g. "tgl-cavs") must be used.

When building for Zephyr, signing schema is not change and resulting image is not correct.

Zephyr signing tool (west zephyr/scripts/west_commands/sign.py) takes the target from RIMAGE_TARGET.

SOF scripts to build with IPC4 should specify an alternative target RIMAGE_TARGET when building f

[2022-02-09 17:49] marc-hb commented on #5323
The `-I` is missing on Fedora too, I already reported this in https://github.com/thesofproject/sof/pull/5192#issuecomment-1020618788

I think this `-I` option is supposed to be present in 1.2.5, so this looks more like an ALSA configuration bug.

[2022-02-09 17:52] ranj063 commented on #5323
@marc-hb  the -I option was added after the 1.2.6 release. So we need a new release version for alsatplg and update the check in our scripts.

[2022-02-09 21:30] marc-hb commented on #5323
Thanks, now that I see that commit https://github.com/alsa-project/alsa-utils/commits/c8c348e28a258f17e387 is 3 commits _after_ tag v1.2.6. I got confused by the test `#if SND_LIB_VER(1, 2, 5) < SND_LIB_VERSION` . Maybe the `-I` _user interface was added after v1.2.6 while the corresponding feature was added in alsa-lib in 1.2.5?

Funny enough I think we need a container "downgrade" right now, it

[2022-02-09 22:39] greg-intel commented on #5323
@marc-hb @lgirdwood give me a container, and I'll make it happen.  Whatever is decided.  If it's a roll-back, just tell me what recent container should be leveraged, and I'll have the reference updated in minutes.  That's super easy.

[2022-02-10 07:04] perexg commented on #5323
Why the test in the build system is not against the '-I' option in this case (avoid the version check)?

Also note that 1.2.6 should work, but the relative include path (against the parent file) is used which probably does not align with your tree (add symlinks?).

[2022-02-10 07:31] lyakh commented on #5293
@XiaoyunWu6666 yes, I think I know why: there are no references to the copier, so it isn't linked into the image. You need to add a prototype of and a call to `sys_comp_copier_init()` to sof/zephyr/wrapper.c similar to, e.g. `sys_comp_tone_init()`

[2022-02-10 07:36] lyakh commented on #5293
...and yes, I presume a call to `sys_comp_basefw_init()` has to be added too, possibly other modules as well, if you're adding those too

[2022-02-10 08:21] RanderWang commented on #5281
I will check it

[2022-02-10 08:25] RanderWang commented on #5293
@lyakh it is another issue. Currently rimage adds module UUID to extended fw manifest according to tgl-cavs.toml and driver will check it. Now the UUID is not added to FW extended manifest since it use tgl.toml

[2022-02-10 10:40] #5308 closed

[2022-02-10 15:39] lgirdwood commented on #5335
@marc-hb IIUC, you have a few WIP PRs to support Zephyr. Do any cover this ?

[2022-02-10 16:59] marc-hb commented on #5323
Because the dependency is not just on `-I` and because a version number is so far the best known way to label, identify and track a number of  features and bugs.

BTW isn't `#if SND_LIB_VER(1, 2, 5) < SND_LIB_VERSION` a version check too? Maybe autoconf could do this instead? I digress sorry.

The commit that introduced `-I` is 3 commits _after_ v1.2.6. Looks like `-I` has simply been never releas

[2022-02-10 18:55] insiderser commented on #5248
@jack-cy-yu Still only the left microphone is used after doing any of steps 1-3 or 5. Step 4 mutes the recorded audio completely. To repeat, step 2 does not mute the left microphone.

[dmesg.txt](https://github.com/thesofproject/sof/files/8043552/dmesg.txt)

[2022-02-10 18:55] perexg commented on #5323
The goal should be to make things working with the released and the development code, if you want to use or test some new functionality ahead of the release. So the version check is irrelevant for this and you need to find another way. Another goal is to be friendly to the users of the build system.

The SND_LIB_VER() checks were added to allow compilation of alsatlg with the older alsa-lib withou

[2022-02-10 22:28] marc-hb commented on #5093
Just noticed that #5224 is now broken, now it shows: `zephyr:BUILD_VERSION` as in:

`INFO DMA: FW ABI 0x3014001 DBG ABI 0x5003000 tags SOF:v2.0-rc1-432-g364a34ae3b00 zephyr:BUILD_VERSION` :-(
Example: https://sof-ci.01.org/sofpr/PR5340/build11976/devicetest/?model=TGLU_UP_HDA_ZEPHYR&testcase=check-sof-logger

Probably because of
- zephyrproject-rtos/zephyr/pull/42527

It depends whether this is hi

[2022-02-11 02:08] aiChaoSONG commented on #5293
@lgirdwood For 1),  the patch is here: https://github.com/thesofproject/sof/pull/5344, For 2) Kai has reported an issue, https://github.com/thesofproject/sof/issues/5335, I I don't have a good solution to un-hardcode the rimage sign schema, or provide an override mechanism.

[2022-02-11 03:52] miRoox commented on #5120
In today's daily test (10105), this issue still happened on TGLH_RVP_NOCODEC_ZEPHYR and APL_UP2_NOCODEC_ZEPHYR.

[2022-02-11 04:04] marc-hb commented on #5120
@miRoox I looked at these test results. The sof-logger dies too but with immediately and with a different error message. In this bug the sof-loggers was dying only after many `error: log_entry_address 0x.... is not in dictionary range!` warnings which I don't see in 10105

I will spend more time scanning the logs to make sure but so far I think this is a different issue.

[2022-02-11 04:17] miRoox commented on #5120
@marc-hb thanks for your correction, now the DMA trace shows:
[code]

Perhaps this is a different issue.

[2022-02-11 06:04] marc-hb opened #5345 "error: log_entry_address 0x___ is not in dictionary range"
This is a follow-up to #5120.

#5120 was describing a very regular DMA corruption type: every time the end of the ring buffer was reached when it was misaligned.

The frequency of `error: log_entry_address 0x____ is not in dictionary range` errors has massively gone down now ([even before the alignment fix was merged](https://github.com/thesofproject/sof/pull/5329#issuecomment-1034565091)). But it

[2022-02-11 06:05] marc-hb commented on #5120
I filed follow-up issue #5345

[2022-02-11 06:05] #5120 closed

[2022-02-11 06:07] marc-hb commented on #5120
@miRoox could you please file yet another issue for the immediate failures on TGL?

[2022-02-11 06:12] marc-hb commented on #5345
Test PR #5340 makes the sof-logger stricter and demonstrates an easy way to reproduce.

[2022-02-11 07:55] aiChaoSONG commented on #5335
I filed a patch on zephyr side to add sign schema overriding support https://github.com/zephyrproject-rtos/zephyr/pull/42724. @lgirdwood @kv2019i @lyakh not sure they will accept it.

[2022-02-11 08:07] jack-cy-yu commented on #5248
@insiderser I've got the device and did the same experiment, I got the same result, step 2 doesn't mute the left microphone, and that's the strange point because if the device ONLY uses left mic, audio should be muted after step 2. I can get voice even after step 2 or step 3, which means left and right mics are used. This experiment is suggested by our AE team, they'd like to know that recorded fi

[2022-02-11 11:35] lyakh commented on #5315
#5346 resolved this

[2022-02-11 12:34] lgirdwood commented on #5248
@insiderser can you confirm which capture PCM is being used for the test. In the topology diagram above we have 2 capture PCMs (one has EQ) but both should NOT mute one channel.

[2022-02-11 14:57] lgirdwood commented on #536
@cujomalainey it should be since it's IPC data and coming from the host or fuzzer.
@ranj063 do you see any gaps here with fuzzer ? are we fuzzing all IPC messages ?

[2022-02-11 14:59] lgirdwood commented on #5093
No, lets track this for v2.1, it can be fixed in next 5 weeks before v2.1 final.

[2022-02-11 16:27] insiderser commented on #5248
@lgirdwood I guess it's PCM4C. When I mute PGA5.0 in amixer, all microphones are muted as well.

[2022-02-11 18:35] marc-hb commented on #4859
Happened in https://sof-ci.sh.intel.com/#/result/planresultdetail/10141?model=BDW_WSB_RT286&testcase=multiple-pipeline-capture

Looks like bugs don't fix themselves...

[2022-02-11 18:59] cujomalainey commented on #536
There is still the gap of fuzzing all the way down to the component. We need to remove the whole dll system in the testbench to make that work. It will be a pain because then we have to have a linker script for the host build so we can dynamically register components like we do on a real build. This would also allow us to use xt-run on the testbench since it doesn't support dynamic libs either.

[2022-02-11 20:35] hedmo commented on #4662
checked some errors after hibernate :
dmesg = pci 0000:00:03.0: can't change power state from unknown to D0 (config space inaccessible)

lspci = 00:03.0 Multimedia controller: Intel Corporation Atom/Celeron/Pentium Processor x5-E8000/J3xxx/N3xxx Series Imaging Unit (rev ff)

[2022-02-12 01:44] marc-hb opened #5352 "[BUG] [ZEPHYR] sof-logger dead: Invalid filename length 1650680879 or ldc file does not match firmware"
Rarely, the sof-logger dies like this at the very start of a test:
https://sof-ci.01.org/sofpr/PR5340/build11976/devicetest/?model=TGLU_UP_HDA_ZEPHYR&testcase=test-speaker

[code]

This happens in about 1 out 50 test runs.

The dictionary is valid because other tests immediately before and after are fine in the exact same configuration.

While the "sof-logger was already dead" error message  is in

[2022-02-12 01:47] marc-hb commented on #5120
I did it in new
- #5352

[2022-02-14 03:16] XiaoyunWu6666 commented on #4996
haven't seen this for long time in daily tests , close it

[2022-02-14 03:28] XiaoyunWu6666 opened #5355 "[BUG][TGL] xrun with ipc error when COMP_CONNECT when aplay and arecord simultaneously on TGLU_RVP_NOCODEC"
**Describe the bug**
when running simultaneous playback and capture , xrun happened with ipc error when COMP_CONNECT
since inner daily testresult 10158

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec.tplg MODEL=TGLU_RVP_NOCODEC ~/sof-test/test-case/simultaneous-playback-capture.sh -l 25

**Reproduction Rate**
Not sure , haven't reproduced yet
**Environment**
Kernel Branch: topi

[2022-02-14 05:55] RanderWang commented on #5281
I can't reproduce it on old ipc4 kernel branch, so it should be caused by kernel

[2022-02-14 09:12] aiChaoSONG opened #5357 "[RFC][CI] Build SOF on Zephyr with IPC4"
We can already build SOF+Zephyr+IPC4+XCC manually with some hack or workaround, some issues need to be addressed before adding the build support in our build script.

SOF Application Kconfig is here: [intel_adsp_cavs25.conf](https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/subsys/audio/sof/boards/intel_adsp_cavs25.conf) it is for IPC3.  We cannot make this one file flexible for both

[2022-02-14 09:29] lgirdwood commented on #5248
@singalsu is there anyway that the EQ on pipeline 5 above could mute only 1 channel ? I'm assuming that the same processing is done on both channels ?

[2022-02-14 09:55] lgirdwood commented on #4662
@hedmo ok, the same thing happened with the early Revs of Minnowboard. The audio DSP PCI device could not enter D0 after S3. However, it could enter D0 on other BYT/CHT devices with Linux + coreboot or with Windows which makes me think we are missing a register programming sequence that's done by coreboot or by the WIndows driver.

The coreboot code for baytrail/cherrytrail based chromebooks is al

[2022-02-14 11:19] lgirdwood commented on #5355
@XiaoyunWu6666 can this be reproduced with Zephyr ?

[2022-02-14 11:33] ujfalusi commented on #5281
@RanderWang, what is the 'old ipc4 kernel'? Can you reproduce with 'new ipc4 kernel' (which one is the new?)?
Can it be reproduced with the really new `integration/ipc4-wip` branch?
I can not make the `cavs-tgl-nocodec.tplg` work on my up-xtreme i11 board to test.

[2022-02-14 11:34] ujfalusi commented on #5281
@RanderWang, what is the 'old ipc4 kernel'? Can you reproduce with 'new ipc4 kernel' (which one is the new?)?
Can it be reproduced with the really new `integration/ipc4-wip` branch?
I can not make the `cavs-tgl-nocodec.tplg` work on my up-xtreme i11 board to test.

[2022-02-14 11:39] lgirdwood commented on #5357
@kv2019i @mwasko @nashif @andyross whats the preference here that would work for Zephyr  ?
My understanding is that the board naming is resolved, but how do we differentiate the same board and carry upstream ?

[2022-02-14 11:52] insiderser commented on #5248
@lgirdwood For context, when I completely mute the left channel of PGA5.0 via amixer (e.g. leaving only the right channel to be not muted), still only the left microphone is used.

[2022-02-14 12:08] lgirdwood commented on #5248
@insiderser thanks for info, fwiw I dont think it's likely for EQ to mute/copy channels or for volume to do this but @singalsu can confirm.

[2022-02-14 12:29] mwasko commented on #5357
@aiChaoSONG using board revision looks good to me.

[2022-02-14 12:49] bardliao commented on #5281
I would suggest that we focus on the HDA test for now. As I know, currently, https://github.com/thesofproject/linux/tree/integration/ipc4-wip supports HDA only.

[2022-02-14 15:59] lgirdwood commented on #5357
So IIUC, this looks like a Zephyr "application" or Zephyr "module" configuration that could apply to any (or most) boards that run the SOF application / module. @andyross this would point more to a collection of overlays that would exist in the SOF module repo and be combined with the Zephyr config at build time ?

[2022-02-14 18:46] plbossart commented on #5357
I think there's a definition/language issue here @aiChaoSONG @andyross

intel_adsp_cavs25_ipc4.conf cannot be a board definition, it's an IP description.

A board description would be skl-hda-generic-4mics or adl-max98387-ssp2. The board makes use of the IP along with a subset of interfaces, gpios, external audio codecs, you name it.