[2019-12-05 13:26] lbetlej commented on #2118
@perexg @hsanjuan The updated binaries (CNL and ICL) for SOF 1.4.1 release are available for download. Could you test them out and report if issue can be closed ? Thank you.

[2019-12-05 14:00] moreka commented on #2118
For me the binary loads without problems now. But still, there is only noise when I try to record audio (by using `pavucontrol` I see that the microphone is always having some noise, even when everything is quite). Here's the related dmesg log for sof:
[code]

[2019-12-05 15:24] musiclvme opened #2174 "[FEATURE] Add a way to check APL firmware boot log"
**How to check the dsp firmware boot log**
I know that sof-logger is a good way to check runtime log, but how to check firmware boot log ?
is there a existed way or not?

**Describe alternatives you've considered**
Does trace_point(TRACE_BOOT_START)  means boot log, how to check this log on APL?
uart would be added to check boot log in the future on APL?

[2019-12-05 15:27] paulstelian97 commented on #2174
@tlauda I feel like this issue isn't platform specific. Any input on that?

[2019-12-05 15:40] plbossart commented on #2172
@paulstelian97 it's not necessarily runtime instead of build-time, it's also useful to use Kconfig to select a config directly so that you don't have to do any real-time configuration. But you can still allow the user to override the default set in Kconfig.
It's quite common for kernel Kconfigs to set a default value for a module parameter, but that parameter can still be overridden by the user.

[2019-12-05 15:42] paulstelian97 commented on #2172
That I'd still consider runtime, even if you can change defaults at compile time. I need to figure out
how the runtime changes in case something is wanted different from what kconfig does.

[2019-12-05 16:07] plbossart commented on #2118
Thanks @moreka for the update

this looks like a new topology is needed? are you using the topology file that came with the device?

yes, it's a known issue, we are working on this. It's harmless, please ignore this misleading log.

[2019-12-05 16:43] moreka commented on #2118
Thanks @plbossart. It was always confusing for me how to obtain the topology files. (I am using the one that comes with the Ubuntu's linux-firmware package... this was supposed to be for sof1.3, though). Is there a place I can download the most recent topology file for my machine?

[2019-12-05 16:47] hsanjuan commented on #2118
@moreka you can build them (I follow instructions at https://github.com/thesofproject/sof/tree/master/tools)

[2019-12-05 17:00] perexg commented on #2118
The tar ball with signed / unsigned fw and topology files is here: ftp://ftp.alsa-project.org/pub/misc/sof/sof-firmware-1.4.1.tar.bz2 .

I did a quick test and this fw can be finally loaded to DSP. There are 'Dmic0 Capture Volume / Switch' controls and only 4 channels are accepted for DMIC capture.

@plbossart : I think that it's time to push this fw to linux-firmware repo ASAP with the topology f

[2019-12-05 17:10] plbossart commented on #2118
the topology files should go with UCM files IMHO. That's where we add/remove controls.

[2019-12-05 17:15] moreka commented on #2118
I have used the provided files by @perexg and still the following is shown:
[code]

[2019-12-05 17:19] ranj063 commented on #2118
[   10.788457] sof-audio-pci 0000:00:1f.3: error: invalid kcontrol count 2 for volume
@moreka This seems to suggest the kernel is older? Previously, we limited the number of kcontrols to 1 but not it can be > 1.

[2019-12-05 17:21] perexg commented on #2118
I don't think so. It affects how the driver works, thus it's part of the firmware not the user space. We can handle the differences using UCM2 conditions.

[2019-12-05 17:28] plbossart commented on #2118
well, the topology exposes PCM and kcontrols to applications. the kernel doesn't care about the contents, it just parses the file and does whatever is asked of it.
We've always said we want UCM and topology to be aligned.

[2019-12-05 17:30] plbossart commented on #2118
There is al

not to mention that the topology files can be regenerated at will, unlike firmware which has to be signed and cannot be compiled unless you have the proper non-public compiler tools.

[2019-12-05 17:35] plbossart commented on #2118
and I forgot that the initial topologies were in alsa-lib, not the linux-firmware tree.

[2019-12-05 17:52] pfps commented on #2118
TLDR: Things are better, but nowhere near perfect on a Lenovo Yoga C940.  There are glitches that require reboot.  Also, how do I figure out how to enable other speakers or get a topology file?

Well, the signed 1.4 firmware certainly did something me on my Lenovo Yoga C940 (Ice Lake).  It loaded the firmware and I could play through pulseaudio

idefix ~> journalctl -b -1 | grep "sof-\|alsa-\|puls

[2019-12-05 19:40] perexg commented on #2118
Only source topology files were in alsa-lib (now moved to a separate repo). From my point of view, instead of the hard coded things in the driver (the usual way), you introduced this description to reduce the work in the driver (like the device tree does) and I think that the original idea was that the hardware vendors create own topology / UCM combos. The topology files are loaded just like anoth

[2019-12-05 19:43] perexg commented on #2118
I'm trying to get additional information from Lenovo for your hardware. If speakers are connected to HDA, the SOF firmware won't help you, but it's just a step forward. Also, I will update Fedora bits because the HDMI issue is resolved in pulseaudio now: https://gitlab.freedesktop.org/pulseaudio/pulseaudio/merge_requests/213 .

[2019-12-05 20:08] pfps commented on #2118
@pxreg Getting information from Lenovo would be awesome.  (I tried and got the usual "ask Linux" response.)  Getting information about the speakers would be useful even if they are connected to HDA as I could then check out how to make them work.  However, it looks to me as if the other speakers are not connected via HDA - at least I was unable to get them to emit sounds using hda-analyzer, and I

[2019-12-05 20:15] perexg commented on #2118
The other tricks are to play with the EAPD settings and with GPIO settings in the HDA codec, but it would be better to get more info from the hardware vendor (I communicate directly with some people from Lenovo - no promises, but we may get something).

[2019-12-05 20:30] pfps commented on #2118
@pxreg I admit I don't understand EAPD and all the GPIO settings. I tried fiddling with EAPD but all it did was turn off all sound.

[2019-12-05 20:37] plbossart commented on #2118
The point is that those binary topology files should be handled by a package, not part of linux-firmware.

no, we use the topology on Baytrail, Cherrytrail and all platforms supported by SOF. this is not HDAudio specific.

I maintain they should be a separate package since they are not provided in binary form.

[2019-12-06 03:05] keyonjie commented on #2164
we already have the fix for this, will provide it soon.

[2019-12-06 07:42] dengyangchao opened #2176 "[BUG]DSP panic when change DMIC arecord between HW:0,6 and HW:0,7 quickly"
**Describe the bug**
DSP panic when change DMIC arecord between HW:0,6 and HW:0,7 quickly.
Can execute a script ```test1.sh``` like below:
[code]

Arecord -l  list
[code]

**To Reproduce**
1.Reboot system via"sudo reboot".
2.Wait runtime PM to suspend.
3.Execute script via```./test1.sh```
[test1.sh.txt](https://github.com/thesofproject/linux/files/3930864/test1.sh.txt)

**Reproduction Rate**
3/3

[2019-12-06 09:42] xiulipan commented on #2176
The issue can also be reproduced by change the order to.
[code]

[2019-12-06 10:20] dengyangchao commented on #2176
Tried on ICL-U RVP ALC700 HDA mode, use the Nov 1st daily test version still can reproduce.
Recipe as below:
Platform: ICL-U RVP with onboard codec ALC700 in HDA mode
Firmware: fe321d65 https://github.com/thesofproject/sof/commits/master
Kernel: c265f25d https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware

[2019-12-06 11:59] zrombel opened #2180 "[BUG] Mixer in capture pipeline - DSP PANIC"
**Describe the bug**
DSP send Panic Notification after StreamTriggerStart to capture pipeline containing mixer component. Panic occurs in second playback iteration.
In first iteration stream are created, audio is played and captured correctly, streams are freed.
In second iteration on same topology (components are not freed after first iteration) new streams are created and after StreamTriggerStar

[2019-12-07 16:53] hsanjuan commented on #2118
I confirm the cnl binary loads fine for me.

[2019-12-07 16:53] #2118 closed

[2019-12-08 06:04] MayurVirkar opened #2181 "[BUG] Cannot load firmware on HP Spectre x360"
**Describe the bug**
Cannot load firmware for Linux kernel version 5.4.*. Everything works fine for version 5.3.*.
As a result, speakers + mic don't work.

**To Reproduce**
Upgrade kernel to 5.4.*

**Reproduction Rate**
10/10

**Expected behavior**
The firmware to be loaded and everything to work fine.

**Impact**
Showstopper: Laptop is basically useless as I cannot make and receive calls or watch

[2019-12-08 08:27] mengdonglin commented on #2164
We need a fix in PCH settings by coreboot: system can enter runtime S0ix only when Audio DSP is off

[2019-12-08 08:37] #2164 closed

[2019-12-08 11:37] sathyap-chrome opened #2538 "RT5682 recording is sometime noisy"
On 2 of CML customer designs, sometimes the recording is having noise.

Steps to reproduce:
arecord -f cd -d 10 (Fail Rate: 3/10 times)

Use Chrome OS image latest : it is using SOF v0.8
Attached is 1 of failed recording.

NOTE: this issue is not triaged - just logging many are not able to access the customer report.
[Fail_3.zip](https://github.com/thesofproject/linux/files/3936167/Fail_3.zip)

[2019-12-08 16:14] bin101 opened #2182 "[BUG] invalid kcontrol count 2"
**Describe the bug**
Hello,
I reported this issue also to the [arch linux bugtracker](https://bugs.archlinux.org/task/64768) but I don't really think this is a sof-firmware issue but maybe you already know the exact source of this issue and can support to solve it.

My system is an X1 Carbon 7th gen

**To Reproduce**
install 5.4.x kernel from arch core repo and sof-firmware 1.4.1 from arch extra r

[2019-12-08 16:24] bin101 commented on #2181
As far as I understood the sof and hda modules cannot be loaded simultaneous.
Tray blacklisting the hda modules:

#### **`/etc/modprobe.d/blacklist.conf`**
[code]

[2019-12-09 05:38] MayurVirkar commented on #2181
Thank you for your response.
I don't think that's the issue here but gave it a try anyway and no luck.
From what I understand is its either not able to identify my hardware properly or the drivers are not loaded maybe due to some signature issue. BUT I leave it to the experts.

[2019-12-09 06:03] xiulipan commented on #2181
@MayurVirkar can you check do you have the tplp files in you folder `/lib/firmware/intel/sof-tplg/sof-hda-generic-2ch.tplg`?

[code]

[2019-12-09 06:05] juimonen commented on #2182
@bin101 problem is that this kernel version does not support extra control (mute switch) added to dmic path in topology. So either you need newer kernel or older topology file, so there should not be anything wrong with firmware.

[2019-12-09 07:06] MayurVirkar commented on #2181
@xiulipan Why did I start with that? :(
You are right, I don't have those files. I have
[code]

[2019-12-09 08:05] bin101 commented on #2182
@juimonen so I guess this feature will be introduced with kernel 5.5 and newer? Because currently I am using 5.4.2.

[2019-12-09 08:21] juimonen commented on #2182
@bin101 that is my understanding, the patches for this are in kernel audio tree.

[2019-12-09 08:28] juimonen commented on #2182
@bin101 patches are in linus' tree 5.5-rc1

[2019-12-09 09:19] xxxbxxx commented on #2181
hi!
comparing a boot log from 5.4 and 5.3, I noticed a new line:
`kernel: snd_hda_intel 0000:00:1f.3: Digital mics found on Skylake+ platform, aborting probe`

a search brought me here, and to that commit:
https://patchwork.kernel.org/patch/11050465/

so maybe the issue is that snd_hda_intel disables itselfs and expect some other module to take over?

nb: I have a spectre x360, but I am not using

[2019-12-09 09:40] bin101 commented on #2182
@juimonen
Could you maybe give me a link to the patch/repository?

Because if I compare the kcontrol validation function from 5.5-rc1 and 5.4 it is still the same:
https://github.com/torvalds/linux/blob/v5.4/drivers/staging/greybus/audio_topology.c#L527
https://github.com/torvalds/linux/blob/v5.5-rc1/drivers/staging/greybus/audio_topology.c#L527

To be more precise audio_topology.c wasn't changed

[2019-12-09 14:20] #2182 closed

[2019-12-09 15:47] plbossart commented on #2181
@xxxbxxx did the microphone path work with 5.3 with snd_hda_intel?
We added a dynamic detection of the DMIC (Digital Microphones) not handled by snd_hda_intel, so either the information is incorrect and snd_hda_intel should be used, or snd_hda_intel never fully worked for the capture path and you do need to move to the use of snd-sof-pci.

[2019-12-09 20:25] xxxbxxx commented on #2181
I downgraded back to 5.3 to double check, and indeed no audio input device are detected.  (which I never use, so I didn't really pay attention before..)

I also tried tried to `modprobe snd-sof-pci` which loads the module successfully (in 5.4, doesn't exist in 5.3 - vanilla arch linux)
but nothing happens, no log in dmesg or anything.
I guess I'll have to look deeper into this...

[2019-12-09 20:52] plbossart commented on #2181
the module used to be call sof-pci-dev, it was renamed upstream

[2019-12-09 20:55] xxxbxxx commented on #2181
So...
of course nothing happens when I run modprobe, the module was already loaded during the boot process.

It didn't find the firmware, which indeed wasn't on the disk.  Turns out (on arch-linux at least) it isn't in the core/linux-firmware package.
So I installed it from the sof-firmware package. see https://www.archlinux.org/packages/extra/any/sof-firmware/files/
And now the module finds it!

[2019-12-09 21:04] bin101 commented on #2181
`sof-audio-pci 0000:00:1f.3: error: invalid kcontrol count 2 for volume`

you need at least kernel 5.5-rc1

[2019-12-09 21:07] plbossart commented on #2181
you are using a kernel that's older than the topology files.

That said, it's just awful for users to have to track topology changes. @juimonen @ranj063 should we just ignore the second control in that case instead of throwing an error?

[2019-12-09 21:32] xxxbxxx commented on #2181
ok.
so I tried to get a older version of the firmware:
ftp://ftp.alsa-project.org/pub/misc/sof/sof-firmware-1.3.1.tar.bz2
But i still get the same error.
[code]

any idea where I can find the correct matching firmware?

[2019-12-09 21:40] plbossart commented on #2181
It's not the firmware binary but the topology binary you need. @juimonen may be able to help here.

[2019-12-09 21:53] xxxbxxx commented on #2181
oh! that's it!
so using the firmware from the archlinux package (which is just:
ftp://ftp.alsa-project.org/pub/misc/sof/sof-firmware-1.4.1.tar.bz2 )

and overwritting the topology files from
ftp://ftp.alsa-project.org/pub/misc/sof/sof-firmware-1.3.1.tar.bz2
(folder usr/lib/firmware/intel/sof-tplg/ )

works!

[2019-12-09 22:09] xxxbxxx commented on #2181
It's not perfect though:  a recording device is now detected (in pulse audio), but it doesn't seem to record anything at first glance.
And there still are errors in the log (probaly caused by  the firmware being a bit too recent for the kernel?)

[code]

[2019-12-10 02:36] aiChaoSONG commented on #2181
@xxxbxxx the "error: no reply expected, received 0x0" is actually not an error, it's more like a warning, and has no impact on anything.

[2019-12-10 04:11] xiulipan commented on #2181
@plbossart I think this would be impossible if we do not have changed the ASoC code for that. We had a discussion about this in https://github.com/thesofproject/sof/issues/2077. It was default set to allow only 1 control, and after our change in v5.5 it will accept 2 control. So you can not let the kernel to do that in the past.

Maybe we can only use the 2-control tplg for the device that need th

[2019-12-10 04:29] joshk0 commented on #2134
I'm experiencing a similar issue. Please let me know if I should file a separate bug.

[code]

I am running Ubuntu 19.10 Eoan on 5.3.0-24-generic. Hardware is a Lenovo X1 Carbon 7th Gen. The sound card is as follows (It's different from that of the OP but the error seems very similar)

[code]

I can provide more hardware info on request. Thank you!

[2019-12-10 06:07] MayurVirkar commented on #2181
Wow, Looks like I missed a lot.
@plbossart @xiulipan The mic did not work in kernel 5.3. On top of that, HP Spectre has 4 speakers, but only 2 worked on kernel 5.3

I downloaded latest SOF firmware from alsa and replaced the files in firmware directory.
This is what i get now

[code]

[2019-12-10 06:17] MayurVirkar commented on #2181
Update:
Now I am on kernel 5.5-rc1. Speakers work now, but 2/4.
It detects the microphone, but it doesnt seem to record anything, ie no input.

New dmesg
[code]

[2019-12-10 07:02] pfps commented on #2134
The most recent versions load for me, but I haven't had a chance to put everything through its paces because of other issues.   You need special kernels and not-yet-generally-released versions of firmware, alsa, and pulseaudio, though.  Ubuntu tends to lag quite a bit behind the bleeding-edge versions of software so it may be a while until everything is picked up there.

The X1 V7 is different fro

[2019-12-10 08:35] juimonen commented on #2181
@plbossart @xiulipan yes the issue is exactly that recording topologies with 2 controls just don't load with older kernels. I'm fine changing the default dmic topology to 1 control, however I don't know how to detect and load correct topology for more than 1 control. I don't get why we had the restriction for 1 control in the first place, really causing us problems now.

@MayurVirkar your latest d

[2019-12-10 08:56] dengyangchao commented on #2165
Issue can't reproduce on  **sof-dev(3c391073) + v1.3**  and **sof-v5.0(32c6c62) + v1.3**
recipe as below:

Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev  3c391073
Kernel: https://github.com/thesofproject/linux/commits/release/sof-v5.0  32c6c62
FW: https://github.com/thesofproject/linux-firmware/tree/master/intel/sof/cml/intel     sof-cml-v1.3-0f73628.ri      rename to sof-cm

[2019-12-10 08:58] dengyangchao commented on #2176
Issue can't reproduce on **sof-dev(3c391073) + v1.3** and **sof-v5.0(32c6c62) + v1.3**
recipe as below:

Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev 3c391073
Kernel: https://github.com/thesofproject/linux/commits/release/sof-v5.0 32c6c62
FW: https://github.com/thesofproject/linux-firmware/tree/master/intel/sof/cml/intel   sof-cml-v1.3-0f73628.ri     rename to sof-cml.ri
Pl

[2019-12-10 09:14] juimonen commented on #2165
@dengyangchao can you run the following before and after the volume change and see if the values are correct:
"amixer contents | grep -i dmic -A2"
you should see dmic volumes and switches,,,

[2019-12-10 10:17] dengyangchao commented on #2165
@juimonen Catch the value before and after volume change

[code]

[2019-12-10 10:31] juimonen commented on #2165
@dengyangchao so the last log is after you changed the volume back? so it stays in 29 even though it should be in 50 (original value)?

[2019-12-10 10:41] dengyangchao commented on #2165
@juimonen  No, the log just showed before change the value and after change, i also tried to change the value back,
and via command"amixer contents | grep -i dmic -A2", dmic value are correct.

[2019-12-10 10:50] juimonen commented on #2165
@dengyangchao ok. the logger log looks ok, I was thinking if the mute is for some reason turned on with volume going zero, but that doesn't seem to be the case. Only thing I see is the volume taking bigger values in the end than the initial 2exp16... @singalsu are the big volume values in the end of log acceptable or is it possibly overflowing or something similar?

[2019-12-10 10:55] MayurVirkar commented on #2181
@juimonen Ahmm, need some help here.
[code]

So which device you want me to try?

Also, no, the pulse has never recognized my microphone till date.

[2019-12-10 11:05] juimonen commented on #2181
@MayurVirkar so something like:
arecord -Dhw:0,6 -c 2 -r 48000 -f S16_LE test.wav

It might be that you get "device busy" because pulseaudio might be reserving the device... then you need to do the following:
1) open /etc/pulse/client.conf -> uncomment/set "autospawn=no" -> save
2) pulseaudio --kill
3) retry arecord

[2019-12-10 11:07] juimonen commented on #2181
@MayurVirkar so dmic alsa devices are usually Dhw:0,6 and Dhw:0,7.

[2019-12-10 11:58] singalsu commented on #2165
@juimonen The topology defines capture volume scale up to 20-30 dB I recall so the values greater than 65536 (equals 1.0 or 0 dB) are normal unless the topology defined the scale only up to 0 dB.

The alsa .conf file is as far as I know flat without hierarchy so need to make sure the things like tokens are with unique identifiers (e.g. append pipeline ID if there's only volume instance in a pipeli

[2019-12-10 12:05] juimonen commented on #2165
@singalsuo the dsp logger log attached shows that the volume down and up are going / should go to the same widget id... so for some reason we have flat output?

[2019-12-10 12:25] singalsu commented on #2165
Also strange why the about 10s wait is needed for this issue to trigger. I have't tried this yes myself but will do. I've tested a lot with volume recently due to improving the volume ramp forcing PR but I've been only quickly changing volume without the wait.

[2019-12-10 13:04] MayurVirkar commented on #2181
@juimonen
WORKS!! Both, 0,6 and 0,7.
For the first time in the last 10 months, and I am able to record audio on my laptop on Linux! Thanks, man!

So now, the question is, how to configure PulseAudio to recognize proper input devices permanently?

[2019-12-10 13:30] singalsu commented on #2176
I changed for my WHL device the recording to stereo. I don't get DSP panic but an I/O error for the fourth capture: "arecord: pcm_read:2103: read error: Input/output error".

The error trace shows a lot of errors of type "dmic_irq_handler() error: full fifo B or PDM overrrun". It means that FIFO watermark has been exceeded in DMIC HW due to DMA has stopped consuming data. And DMA could stop consum

[2019-12-10 13:40] juimonen commented on #2181
@MayurVirkar cool! and apologies for the annoyance...

We are currently in a transition phase, which makes things quite complicated, so:
Pulseaudio has 2 methods of recognizing the audio devices:
1) "legacy" paths/profiles
2) UCM conf files

"legacy" is currently the standard in most distros, but upstream is at this very moment trying to move to UCM based setups. So if you want to try out the near

[2019-12-10 13:41] bin101 commented on #2181
@MayurVirkar You could also tell pulseaudio to bind the device manually in the meantime:

in ~/.config/pulse/default.pa:
load-module module-alsa-source device=hw:0,6

replace the hw id by the device which worked for you. In my case I also had to append channels=4 otherwhise my recorded voice was kind of slow-motion.

You can also test it first before creating the file with i.e.:
pacmd load-module

[2019-12-10 13:55] singalsu commented on #2176
When I change capture to four channels, I get the panic too.

[2019-12-10 20:36] joshk0 commented on #2134
Yeah, worse yet i seem to have a different build of the V7. Most people with V7s have [this sound card](https://certification.ubuntu.com/catalog/component/8086:9dc8) (8086:9dc8 instead of 8086:02c8) and it seems like Ubuntu 19.10 does work with those, but 02c8 seems to be slightly different.

[2019-12-10 20:43] plbossart commented on #2134
02c8 == CometLake LP
9dc8 == CannonLake

@joshk0 which firmware version were you trying to use?

@lbetlej FYI

[2019-12-11 01:53] keqiaozhang opened #2190 "[BUG] CML: failed to load DSP firmware after resuming form S3"
**Describe the bug**
This is the first time we have tested S3 on CML Chrome device, but unfortunately, it failed to boot DSP firmware again after resume.
This error happened in the first cycle.

**To Reproduce**
1. echo 0 > /var/lib/power_manager/suspend_to_idle
2. restart powerd
3. echo deep > /sys/power/mem_sleep
4. suspend_stress_test -c 1
5. check the kernel log and sof trace.

**Reproduction

[2019-12-11 02:13] ranj063 commented on #2190
@keqiaozhang is S3 POR on CML chrome? I have a feeling this might need coreboot changes. @sathyap-chrome can you please comment?

[2019-12-11 03:15] sathyap-chrome commented on #2190
@ranj063  S3 is not POR but we always try S3 cycling to ensure both sleep flows works as expected.
Can you elaborate more on the changes you feel needed.

Does S3 issue in TGL have same / similar signature ?

[2019-12-11 03:35] ranj063 commented on #2190
@sathyap-chrome I'm not sure what changes are needed. But wasn't there a point when S0ix was not enabled and S3 was the default? Do you know what was.dine to enable S0ix?

[2019-12-11 04:01] sathyap-chrome commented on #2190
S3 or Soix is more decision in powerd and some userspace controls.
And S3 flow is tested on minimal setups every weekly test cycle.

For us the issue happened on only 1 board till now. Since keyiao is able to reproduce, its worth trying to fix if its a genuine error

[2019-12-11 04:21] ranj063 commented on #2190
@sathyap-chrome from the logs it doesnt look like the system enter S3 successfully at all no?
@keqiaozhang can you please try adjusting the min and max value for suspend and see if the system stays in S3 for that long before resuming?

[2019-12-11 05:11] sathyap-chrome commented on #2190
@ranj063  tried setting min 20 seconds in suspend.
suspend_stress_test -c 1 --suspend_min=20 - still issue is seen.

[2019-12-11 05:17] sathyap-chrome commented on #2190
I tested with upstream/cml-007-pm-ctx-save FW too and still see same issue.
let me know if any more data is needed.

[2019-12-11 09:15] singalsu commented on #2165
I'm able to repeat this issue too.

[2019-12-11 10:29] mmaka1 commented on #2190
The error status 06000021 reports the ROM is waiting for CSE IPC reset sequence to complete. Looks like incorrect timing between CSE and ADSP ROM transition from coming out of S3.

[2019-12-11 10:49] zrombel commented on #2041
I was able to reproduce this issue on master branch commit 65de27d2cbfe7bdaaf5c45da2677e7c933dcc294.
WHL after 636 playback iterations.
ICL after 921 playback iterations.

Logs:
[Multicore Stream Stall Logs.zip](https://github.com/thesofproject/sof/files/3949922/Multicore.Stream.Stall.Logs.zip)

[2019-12-11 11:12] MayurVirkar commented on #2181
Hello @bin101
As I have two devices, when I run
[code]
and check pavucontrol, it works.
but adding it to the file kills the pulseaudio server.

Secondly, they show up as different devices, any way merge those devices?

[2019-12-11 11:23] mmaka1 commented on #2176
Pls attach the core dump content as well anytime a dsp panic is reported.

[2019-12-11 11:37] singalsu commented on #2165
I was able to fix this, doing a PR. The mute/unmute functions need to use volume_set_chan() to alter tvolume.

[2019-12-11 12:41] bin101 commented on #2181
@MayurVirkar your default.pa should only contain this:
[code]
Why do you want to merge those devices?
Please see this only as a temporary workaround until the desired adjustments in alsa-ucm-conf, alsa-lib, alsa-utils and pulseaudio were made like @juimonen mentioned.

[2019-12-11 12:55] wwittbrx commented on #2150
Could you check if cherry-picking https://github.com/thesofproject/sof/commit/cc4c356d7db464388ca7995c38b93c302cf07868 fixes this issue for you? This is just a quick workaround, not a full fix, so don't close the issue if you can't reproduce.

[2019-12-11 14:52] ranj063 commented on #2190
@sathyap-chrome what do you mean by issue still seen? Do you mean that the system stays in S3 for 20s and then fails to resume after ? Or it doesnt manage to stay in S3 for 20s?

[2019-12-11 16:18] singalsu commented on #2165
@aiChaoSONG can you please test if PR #2196 fixes this for you.

[2019-12-11 17:01] sathyap-chrome commented on #2190
I mean the IPC timeout issue is still seen.
@mmaka1 comment may be true as we are not seeing this on all devices but a few.

let me know what could be next step or debug idea.

[2019-12-12 02:08] aiChaoSONG commented on #2190
Test 2000 times with the procedures mentioned here with keyon’s backport kernel (https://github.com/thesofproject/linux/tree/chrome-4.19-backport) and 008 FW on ChromeOS, not reproduced.

[2019-12-12 02:13] keqiaozhang commented on #2190
@sathyap-chrome
For 008 recipe, snd_soc_skl must be blacklisted, or you will hit tplg failure like
[code]

[2019-12-12 03:29] aiChaoSONG opened #2197 "[BUG][FEATURE] add snd_soc_cml_rt1011_rt5682 to kmod_script"
**Describe the bug**
After kernel PR #1565 being merged, we can load the correct driver on CML with rt1011 and rt5682 codecs, and we got one more module need to remove in the kmod_script.

[2019-12-12 03:55] sathyap-chrome commented on #2190
@keqiaozhang yes. this change will be part of 008 recipe when we push to chrome.

So if we use 008 recipe, you are not seeing the S3 issue ?

[2019-12-12 04:20] sathyap-chrome commented on #2190
@aiChaoSONG @keqiaozhang can you check also if its FW / kernel that might fix this ?

Can we take 007 FW and only move the kernel and see if issue happens or not .

[2019-12-12 04:33] aiChaoSONG opened #2199 "[BUG] need to add support for snd_soc_cml_rt1011_rt5682 module removal in kmod_scripts"
**Describe the bug**
After Kernel PR #1565 being merged, correct driver is loaded on CML with rt1011 and rt5682, we got one more module need to be removed in module unload/reload test

need to add support for snd_soc_cml_rt1011_rt5682 module removal.

[2019-12-12 04:34] aiChaoSONG commented on #2199
should be fixed in #2198

[2019-12-12 05:10] sathyap-chrome commented on #2190
I tested with same (https://github.com/thesofproject/linux/tree/chrome-4.19-backport) but using FW and tplg from 007 - issue is still reproduced. So maybe its the FW fixes of 008 that is helping this fix ?

[2019-12-12 05:22] sathyap-chrome commented on #2190
@aiChaoSONG @keqiaozhang

 I see the error my device even after using 008 FW and kernel
[   64.367374] sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x40010000 size 76
[   64.367395] sof-audio-pci 0000:00:1f.3: error: status = 0x001d003c panic = 0x00000000

Note that the error happens on only a few boards, so we should first reproduce the issue with 007 and on the same board try 008 Fw 7 ke

[2019-12-12 05:27] sathyap-chrome commented on #2190
can you try S3 on ubuntu with sof-dev ?

[2019-12-12 06:08] dengyangchao commented on #2165
@singalsu  After applied #2196  , issue can't reproduce.
platform: CML notebook with ALC3204 HDA codec

[2019-12-12 06:12] dengyangchao commented on #2144
Issue can reproduce on CML notebook with ALC3204 HDA codec, when do DMIC (HW:0,6) pause-release stress test.

Firmware: 98d7ab21 https://github.com/thesofproject/sof/commits/master
Kernel: 6714c4e1 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-2ch.tplg same as firmware

[2019-12-12 08:07] aiChaoSONG commented on #2190
@sathyap-chrome not reproduced this issue on ubuntu with sof-dev + master

[2019-12-12 08:09] keqiaozhang commented on #2190
@sathyap-chrome
We did some debugging this afternoon and found that this is not a sof related issue but a coreboot regression. we tried the old version(before R80) on same devices and issue is not reproducible. Please try it on your devices.

[2019-12-12 09:13] singalsu commented on #2165
@dengyangchao Nice, thanks for testing! It would be good to have an automated test script for applying the controls in idle before and during streaming to measure the rec/play level vs. applied control. The logic in handling volume and mute controls is getting quite complex. I tried myself to test various cases but likely still without 100% coverage. E.g. very frequent controls applying before a p

[2019-12-12 09:46] dengyangchao commented on #2150
@wwittbrx  I added the commit cc4c356  , it works , issue can't reproduce.
Platform: CML Chrome with onboard codec RT5682 in I2S mode

[2019-12-12 13:22] perexg commented on #2131
Fixed with 1.4.1 topology files.

[2019-12-12 13:22] #2131 closed

[2019-12-12 13:23] singalsu commented on #2176
I get no more the panic if I remove IIR from DMIC capture pipes. I'll debug now if there's a memory issue there.

[2019-12-12 13:32] perexg opened #2200 "[FEATURE] Upstream the firmware and topology files"
We need to settle really the way, how the firmware and topology files will be pushed to upstream for the universal Linux usage. Actually, I cannot use SOF firmware files in our enterprise distribution, because they are not in upstream (linux-firmware). The same rule is for the topology files. The sources for alsatplg are not pushed to upstream (https://github.com/alsa-project/alsa-topology-conf -

[2019-12-12 13:55] juimonen commented on #2200
https://github.com/alsa-project/alsa-topology-conf/pull/1

This is from 1.4.1 tag. comments and suggestions please @plbossart @kv2019i @ranj063 and others...

[2019-12-12 14:02] paulstelian97 commented on #2200
@juimonen For the i.MX8 topologies, we will need to update them as they currently have outdated backend names. Currently we're working on the kernel side (machine driver) to figure out what the final form is, and then we will send updates for the codec variants of the topologies. Does this mean that follow-up updates will come to alsa-project too, separately? Main concern is that the changes would

[2019-12-12 15:02] plbossart commented on #2200
@perexg I agree with the need to fix all this, unfortunately it's crunch time for all of us and we've been distracted by other releases and travel. That's not an excuse I know but no one is trying to avoid the problem.

The firmware will be imported in linux-firmware, that's a given but it's taking time. We've apparently had misleading information on required configurations.

For the topology, I'v

[2019-12-12 15:37] perexg commented on #2200
I expected that point. The problem is that if other project will decide to use another preprocessor, then we need to add extra build infrastructure to https://github.com/alsa-project/alsa-topology-conf.

For distributions and almost all users, those files are "black magic" anyway, thus make them readable do not help us so much from the perspective to have working audio in the Linux system.

I thin

[2019-12-12 15:50] plbossart commented on #2200
@perexg ok, so if there is no expectation that those .conf files are human-readable and that we don't have to deal with git diff/merge issues, we can indeed generate those files for each release and import them. At some point we are planning to ditch M4 and use a more formal way of generating/editing topologies so that would also make sure there is no disruption in the release process.

What I am

[2019-12-12 15:52] juimonen commented on #2200
@paulstelian97 are they outdated if using 1.4.1 tagged firmware? or has the change appeared later? I can remove imx conf files from initial import... Distros need to somehow track the dependencies what topology will work with what firmware as we might have breaks there, like really new topology might not work with old firmware...

[2019-12-12 17:02] singalsu commented on #2176
Nothing yet found out but some status update here: In verbose trace this is the last seen before panic that happens at trigger start for the pipeline. There's no component copy() operations happening after.

[code]
The IIR has something to do with the crash though. The crash still happens if I comment out the processing

`//cd->eq_iir_func(dev, cl.source, cl.sink, cl.frames);`

But the crash can b

[2019-12-12 17:41] perexg opened #2201 "[BUG] topology sof-bdw-codec.m4 (sof-bdw-rt5640.conf)"
It seems that there are two merged compound blocks SectionGraph.SSP0 in sof-bdw-rt5640.conf:

<pre>
SectionGraph."SSP0" {
        index "1"
        lines [
                "SSP0.OUT, , BUF1.3"
        ]
}
</pre>

<pre>
SectionGraph."SSP0" {
        index "2"
        lines [
                "BUF2.0, , SSP0.IN"
        ]
}
</pre>

The current configuration loader (alsatplg) parses this like:

<pre>

[2019-12-12 17:45] perexg commented on #2201
https://github.com/alsa-project/alsa-lib/commit/9980e18c3c99da42a90a98b140a0ffe7d0f92cd3

[2019-12-12 18:23] perexg commented on #2200
My version of the normalized output was added to alsatplg (might be also used for the "check" what is really parsed):

https://github.com/alsa-project/alsa-utils/commit/08d2341a176248a346efbdaa6d8878f3ebd627da
https://github.com/alsa-project/alsa-utils/commit/2656d4bec8fab8b4b9046d3b8c9c255dc2166014

I added also possibility to sort the identifiers for the normalized output, but it might result wi

[2019-12-13 00:59] mengdonglin commented on #2144
This issue is to be worked around by https://github.com/thesofproject/sof/pull/2191

[2019-12-13 00:59] mengdonglin commented on #2146
This issue is to be worked around by https://github.com/thesofproject/sof/pull/2191

[2019-12-13 01:00] mengdonglin commented on #2150
@dengyangchao This issue is to be worked around by https://github.com/thesofproject/sof/pull/2191

[2019-12-13 01:01] mengdonglin commented on #2166
@dengyangchao This issue is to be worked around by https://github.com/thesofproject/sof/pull/2191 of @slawblauciak

[2019-12-13 01:30] Liviali155 commented on #2146
Yes,I tried with #2191,error not seen

[2019-12-13 02:44] Liviali155 commented on #2144
Yes,Tried with  #2191,error not seen on below platforms:
CFL-S RVP with onboard codec ALC700 in HDA mode
APL UP2 with nocodec

Firmware: f5bcc4b https://github.com/thesofproject/sof/commits/master
Kernel: 9c0401ca https://github.com/thesofproject/linux/commits/topic/sof-dev

[2019-12-13 02:54] #2197 closed

[2019-12-13 03:06] dengyangchao opened #2202 "[BUG]Ipc timed out for 0x60050000 size 12 when start arecord via DMIC"
**Describe the bug**
Ipc timed out for 0x60050000 size 12 when start arecord via DMIC.

**To Reproduce**
1.Reboot system via"sudo reboot".
2.Wait runtime PM to suspend.
3.arecord via command"arecord -Dhw:0,7 -r48000 -c4 -fs16_le test.wav -vv -i"

**Reproduction Rate**
2/4
Tried 4 times and issue occur 2 times

**Expected behavior**
Arecord via dmic normal
**Impact**
occur ipc timed out

**Environm

[2019-12-13 03:07] Liviali155 commented on #2150
Yes,tried with #2191,error not seen
***Environment***
Platform: CML Chrome with onboard codec RT5682 in I2S mode
Firmware: f5bcc4bb https://github.com/thesofproject/sof/commits/master
Kernel: 9c0401ca https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/sof-cml-rt5682-max98357a.tplg same as firmware

[2019-12-13 03:19] dengyangchao commented on #2202
Issue also can reproduce via below method:
1.when start DMIC Arecord, use "ctrl+z" and "fg" to switch background and foreground, then repeat.
2.when start DMIC arecord, use "ctrl+c" to stop arecord then re-arecord via dmic, repeat the steps.

[2019-12-13 04:01] joshk0 commented on #2134
Hi, thanks for your answer. I tried using the [1.3 signed one](https://github.com/thesofproject/sof/releases/download/v1.3/sof-cnl-signed-intel.ri). I wasn't sure if i could go to the very latest one on the kernel version that I'm on (5.3.0-24-generic in Ubuntu); can i?

Also, can you confirm my mental model that I'm not even getting to the point where the topology files are a factor? As long as I

[2019-12-13 05:51] aiChaoSONG opened #2203 "[BUG][CML] Pulse Noise on speaker pipeline in pause/release test"
**Describe the bug**
run aplay via speaker pipeline,  and press Space to pause/release playback, you can here pulse noise(sounds like "pa"). check dmesg and sof-logger, no clear errors found.

**To Reproduce**
1. run `aplay -Dhw:0,5 -f dat -i -vvv -c 2 ./longwave.wav`
2. Press SPACE to pause/release playback

***MAKE SURE WAVE FILE CAN OUTPUT SOUND, DO NOT PLAY /dev/zero***

if not reproduced with

[2019-12-13 06:09] Liviali155 commented on #2166
Tried with #2191，error not seen
***Environment***
Platform: GLK Chrome with onboard codec DA7219 in I2S mode
Firmware: f5bcc4bb https://github.com/thesofproject/sof/commits/master
Kernel: 9c0401ca https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-glk-da7219.tplg same as firmware

[2019-12-13 07:02] dbaluta commented on #2200
@juimonen it's OK you can keep the files in the initial import. The names of the DAI links from topology should match the names we provide in the kernel, but the changes in the kernel are not yet upstream so it doesn't matter for now what's in the topology files.

For consistency, I would prefer you to add them with the initial import and we will modify them later.

[2019-12-13 08:38] dengyangchao commented on #2202
Issue can reproduce on CML laptop with onboard cedec ALC3204 in HDA mode.
Start arecord via headset(HW:0,0), then use "ctrl+z" and "fg" to switch background and foreground

Firmware: f5bcc4bb https://github.com/thesofproject/sof/commits/master
Kernel: 9c0401ca https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-2ch.tplg same as firmware
Platf

[2019-12-13 11:01] jajanusz commented on #1686
Added in https://github.com/thesofproject/sof/pull/2160

[2019-12-13 11:01] #1686 closed

[2019-12-13 11:25] paulstelian97 commented on #2067
#2122 is merged now. @dbaluta and everyone else: Should I also consider the macros in `<sof/math/numbers.h>` for turning into inline functions or not?

[2019-12-13 12:07] jajanusz commented on #2067
Macros in numbers.h are different, they are more like templates from C++. you have MIN for float,double,int etc, if you'd like to turn them into function in C and keep the same functionality you'd have to make it for every number type.

[2019-12-13 13:07] paulstelian97 commented on #2067
@jajanusz Weren't all uses in the SOF code for int?

I guess I'll close this then.

[2019-12-13 13:07] #2067 closed

[2019-12-13 13:13] kv2019i commented on #2201
@ranj063 @juimonen  @xiulipan -- can you take a look at this BDW issue?

[2019-12-13 13:21] juimonen commented on #2201
@kv2019i quickly checked yesterday, but was not able immediately to understand the issue... so is the parsing wrong in alsa-lib, but still this topology is working in bdw devices?

[2019-12-13 13:24] jajanusz commented on #2067
I guess most uses now will be for ints 8-32 signed/unsiged, what already would give you ~6 almost copy-pasted functions, there are is float support incoming.

[2019-12-13 13:50] kv2019i commented on #2134
@joshk0 @pfps There are multiple issues in the logs. First HDMI codec initializing fails
[    5.328957] sof-audio-pci 0000:00:1f.3: error: codec #2 probe error, ret: -5
... and then FW load fails:
[   32.101032] sof-audio-pci 0000:00:1f.3: error: load fw failed ret: -110

I may have idea how to solve #1. A fix in i915 driver is needed on some ICL platforms (0x34C8, sof-icl.ri). The patches were no

[2019-12-13 14:24] kv2019i commented on #2134
@joshk0 wrote:

I think so yes. Your device has a different generation audio-DSP (0x02c8 -> cAVS1.8 -> sof-cnl.ri, see:
https://thesofproject.github.io/latest/platforms/intel-cavs/index.html ), so the issue potentially different than what is seen on IceLake (0x34c8, sof-icl.ri).

In general we have backwards compability for minor-version changes in ABI. The old-kernel new-fw combo is in practise l

[2019-12-13 14:36] kv2019i commented on #2181
I think we should. Based on our own ABI rules, minor ABI-version changes should be backward-compatible (sof/src/ipc/handler.c).

[2019-12-13 14:39] perexg commented on #2201
The problem is that 'index' first index value is lost. It's not only a problem for bdw - it seems that you define SectionGraph.SSP0 mutliple times in many configuration files (thus 'index' entries are overwriten while [] array is merged). It may cause problems.

[2019-12-13 14:41] perexg commented on #2201
BTW: A quick question: Is the order of the defined structure important? Or it does not matter? This question is, because if I sort the compound identifiers, the conf file has the same size, but the binary topology file size differs.

[2019-12-13 14:46] perexg commented on #2201
The lines {} block is probably fine for old and new alsa-lib parser, because the index values used internally for the [] array are usually skipped. The problem is only that you lost the first index field initialization (`index '1'` line).

[2019-12-13 15:04] singalsu commented on #2176
With bisecting I found that this stops working at commit c7d01494bb74ea628e4a15fab9c0f0656b6749ff "pipeline: fix tasks initialization".

[2019-12-13 15:04] singalsu commented on #2176
@tlauda Do you have idea why this impacts the alternating DMIC devices capture?

[2019-12-13 16:15] mmaka1 commented on #2202
Is it a regular stream close that fails or consequence of io error handling after 500ms t/o by arecord?

[2019-12-13 16:15] ranj063 commented on #2201
@perexg Could you please check if #2207 fixes the issue for you?

[2019-12-13 16:20] mmaka1 commented on #2176
@singalsu @tlauda There are also much simpler failures (single device, no switch, no stress) of DMIC capture, see #2202.

[2019-12-13 21:10] perexg commented on #2201
I found another issue in the topology library which explains the different output sizes for the binary files. The fix is here: https://github.com/alsa-project/alsa-lib/commit/2b50b594dcbf69f8dcc6e8cf673748f7063c3c17

[2019-12-13 21:20] perexg commented on #2200
The discussion continues in the initial import from @juimonen here: https://github.com/alsa-project/alsa-topology-conf/pull/1

[2019-12-15 18:33] joshk0 commented on #2134
Update: The latest sof-cnl.ri file works with the original 5.3.0-24-generic kernel so I won't file an issue. BTW, I also tried that on 5.5-rc1, which now wants sof-cml.ri. On that kernel version, I got it to work by symlinking sof-cnl.ri to sof-cml.ri. Could that be because of https://patchwork.kernel.org/patch/11262555/ ? I find it strange that this is the only place on the internet which mention

[2019-12-15 18:46] perexg commented on #2134
I believe that Intel should release signed sof-cml.ri, too. The changes are probably queued to 5.6 kernel - https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/log/?h=for-5.6 .

[2019-12-16 01:49] dengyangchao commented on #2202
When issue occur, arecord shows I/O error

[2019-12-16 03:44] aiChaoSONG commented on #2199
#2198 merged, close this

[2019-12-16 03:44] #2199 closed

[2019-12-16 05:05] YvonneYang2 opened #2208 "[SDW][CML]IO errors occurred when do aplay with pulse audio enabled."
**Describe the bug**
Aplay cannot work and shows IO error with pulse audio enabled. Issue cannot be reproduced when disabled pulseaudio.
Tested it with https://github.com/thesofproject/sof/commits/cml-010-drop-stable second commit cc4c356, aplay can work normally. So seems issue is caused by top commit 79c682b

**To Reproduce**
1. Enable the PA and reboot.
2. Aplay via "aplay -Dhw:0,2 -r48000 -c2

[2019-12-16 05:08] YvonneYang2 commented on #2208
@slawblauciak Could you please have a look? Thanks ~

[2019-12-16 08:11] zrombel opened #2209 "[BUG][ICL] TriggerStart IPC timeout on pipeline with ALH DAI."
**Describe the bug**
After creating topology with playback and capture pipelines containing ALH DAI component, when creating and deleting PcmStreams multiple times (topology is not destroyed), when sending IPC TrigStart to playback pipelines FW doesn't reply. Bug occurs only with audio formats 16b/16b where container size is converted to 32b on DAI component. May be connected with PR https://githu

[2019-12-16 08:15] slawblauciak commented on #2208
Can you please try this PR? https://github.com/thesofproject/sof/pull/2210

[2019-12-16 08:24] YvonneYang2 commented on #2208
Tested it with cml-010-drop-stable(79c682b) + #2210 , issue cannot be reproduced.

[2019-12-16 08:38] dengyangchao commented on #2165
Issue can't be reproduced, since #2196 has been merged, close.

[2019-12-16 08:38] #2165 closed

[2019-12-16 09:25] YvonneYang2 commented on #2208
Since #2210 has been merged into https://github.com/thesofproject/sof/commits/cml-010-drop-stable, aplay can work normally. But with #2210, dmesg will always print same info like :
[code]

[error_trace.log](https://github.com/thesofproject/sof/files/3967097/error_trace.log)
[dmesg.log](https://github.com/thesofproject/sof/files/3967098/dmesg.log)
[logger_full.log](https://github.com/thesofproject/

[2019-12-16 09:38] YvonneYang2 opened #2211 "[BUG][CML] Dmesg print same info all the time."
**Describe the bug**
With https://github.com/thesofproject/sof/commits/cml-010-drop-stable (c6f349e) , System boot up, then check the dmesg. Dmesg will print same info all the time.
Function will not be effected.

Checked it with  https://github.com/thesofproject/sof/commits/cml-010-drop-stable (cc4c356 ), issue cannot be reproduced.

**To Reproduce**
1. System boot up.
2. Check the dmesg.

**Repr

[2019-12-16 09:41] YvonneYang2 commented on #2208
Since original issue cannot be reproduced, close it.  Track https://github.com/thesofproject/sof/issues/2208#issuecomment-565976490 in https://github.com/thesofproject/sof/issues/2211

[2019-12-16 09:41] #2208 closed

[2019-12-16 11:58] #1847 closed

[2019-12-16 12:15] lgirdwood commented on #2157
@wenqingfu @mengdonglin do we have any Samus HW ?

[2019-12-16 12:22] jdrzaszcz opened #2213 "[BUG] TriggerStart IPC timeout in bit depth conversion stress test."
**Describe the bug**
After creating topology with playback and capture pipelines with bit depth conversion on DAI, when creating and deleting PcmStreams multiple times (topology is not destroyed), when sending IPC TrigStart to playback pipelines FW doesn't reply.

**Topology**
[code]

**To Reproduce**
Slim Driver python test:
On APL, WHL, ICL:
test_13_playback_bitdepth_conversion with --playback_i

[2019-12-16 15:28] lgirdwood commented on #2144
#2191 now merged, @singalsu @dengyangchao I've updated issue to reflect new root cause.

[2019-12-16 15:35] #2096 closed

[2019-12-16 15:39] lgirdwood commented on #2203
@aiChaoSONG can you paste in audacity screenshots showing the pop (palying sine wave). Please also attach small wavs of pop during sine wave.

[2019-12-16 15:41] lgirdwood commented on #2190
@sathyap-chrome please close if confirmed coreboot regession.

[2019-12-16 15:50] lgirdwood commented on #2202
@dengyangchao can you try with latest master with HiFi3 disabled. See #2191

[2019-12-16 16:01] singalsu commented on #2202
I'm not able to repeat this issue on WHL that I have myself (hw:0,0 hw:0,6 hw:0,7 with repeated ctrl-z and fg) . I tried both gcc and xt-xcc builds. The bug was not filed for WHL though.

[2019-12-16 16:05] singalsu commented on #2176
I'm not able to repeat issue #2202 with WHL. On WHL the panic with repeated capture from different device happens always always for me.

@tlauda Do you have thoughts for the bisect finding above? (https://github.com/thesofproject/sof/commit/c7d01494bb74ea628e4a15fab9c0f0656b6749ff)

[2019-12-16 16:13] lgirdwood commented on #2211
@YvonneYang2 can you recreate this as a kernel issue. i.e. we need to rate limit the trace IPC debug.

[2019-12-16 16:26] lgirdwood commented on #2170
@mmaka1 fyi, looks like this will also need to be fixed for ECL plugins.

[2019-12-16 16:40] paulstelian97 opened #2214 "[BUG] DSP panic on XRUN storm"
**Describe the bug**
If I do arecord | aplay (full command in "reproduce" section), then I do something on the system known to trigger Xruns (incoming SSH connections do the trick for this system in particular, at least when netbooted). Usually after a number of Xruns (which varies between 2 at a minimum to 20 for much of the commit range, though some fail after more than 100 Xruns) I get DSP pani

[2019-12-16 16:51] cujomalainey commented on #2157
I think we found the issue in the said links in another bug, we are patching both samys and buddy to support SOF

[2019-12-16 18:13] cujomalainey commented on #2157
https://github.com/thesofproject/linux/pull/1484

[2019-12-16 18:31] youling257 commented on #1847
with "platform: cht: reset ssp clk M/N dividers on boot" patch, i see these warning.
[   10.293720] sof-audio-acpi 808622A8:00: error: sink SSP0.IN not found
[   10.294200] sof-audio-acpi 808622A8:00: ASoC: no sink widget found for SSP0.IN
[   10.294594] sof-audio-acpi 808622A8:00: ASoC: Failed to add route modem_in -> direct -> SSP0.IN
[   10.295097] sof-audio-acpi 808622A8:00: error: source SSP0

[2019-12-16 18:34] ranj063 commented on #1847
@youling257 you'll need  https://github.com/thesofproject/sof/pull/2171/commits/edd8d70c58980c45d3d0b1e856d18f08f65605cc to fix those errors

[2019-12-16 21:02] lgirdwood commented on #2214
@paulstelian97 it's probably also worth scripting and upstreaming a version of this test so we can have a general script to force xrun storms for future test/debug/CI.
Could we be in an IRQ storm here (since we are continually rescheduling new pipeline copies) ? This would explain why there is no exception.

[2019-12-16 21:18] lgirdwood commented on #2201
@perexg  IIUC, it looks like the "SSP0" identifier is used to create 2 compound graphs (one is used for playback and the other for capture) but the parser will try and merge this into a single graph (and drop the index). Looks like #2207 should fix this ?

[2019-12-16 21:21] lgirdwood commented on #2209
@zrombel #2029 now merged, is this now resolved ?

[2019-12-16 22:01] zrombel commented on #2209
No, this bug is still reproducible and may be caused by PR #2029 .

[2019-12-17 01:07] mengdonglin commented on #2211
@Liam, I created kernel feature https://github.com/thesofproject/linux/issues/1632 to implement rate limit the trace IPC debug. So I re-open this issue to track why FW is sending so many trace messages.

[2019-12-17 01:10] mengdonglin commented on #2211
@YvonneYang2 Please help to test tip of latest https://github.com/thesofproject/sof/commits/cml-010-drop-stable, commit https://github.com/thesofproject/sof/commit/5e5f69eb5ad14322a5f4599860a40f8009393d89 (dynamic clock change for waiti, fix for CML/CFL system hang by @jajanusz ). Now it's on top of commit https://github.com/thesofproject/sof/commit/cc4c356d7db464388ca7995c38b93c302cf07868 (disabl

[2019-12-17 01:37] aiChaoSONG commented on #2203
@lgirdwood I think it is a little bit hard to loop back for the speaker(not the same SSP as headphone and DMIC), and I tried sof-cnl-nocodec.tplg, there are some error to load this topology. I will ask some veterans for suggestions, and any suggestions from you?

[2019-12-17 04:26] sathyap-chrome commented on #2190
@lgirdwood   i have kept it open as i'm not able to see similar results - i also got pushed back to see if we can identify why this could be an issue and how to avoid. We checked that coreboot is not having any relavant fixes in this area.

Will debug further - if we identify root cause, then will close.

[2019-12-17 05:09] Liviali155 commented on #2146
Error not seen on  APL UP2 with PCM512x in I2S mode
Firmware: 85e462ad https://github.com/thesofproject/sof/commits/master
Kernel: c5e4a391 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-apl-pcm512x.tplg same as firmware

closed it

[2019-12-17 05:09] #2146 closed

[2019-12-17 05:40] dengyangchao commented on #2166
Issue can't be reproduced since #2191 merged, close.

[2019-12-17 05:40] #2166 closed

[2019-12-17 05:45] dengyangchao commented on #2144
Issue can't be reproduced since #2191 merged, close.

[2019-12-17 05:45] #2144 closed

[2019-12-17 05:50] dengyangchao commented on #2202
Issue can't reproduced, since #2191 merged.Close

[2019-12-17 05:50] #2202 closed

[2019-12-17 05:54] dengyangchao commented on #2150
Issue can't be reproduced, since #2191 merged, close

[2019-12-17 05:54] #2150 closed

[2019-12-17 06:55] YvonneYang2 commented on #2211
Tested it with latest  https://github.com/thesofproject/sof/commits/cml-010-drop-stable (top commit: 5e5f69e ), issue cannot be reproduced.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: cf2660a
FW: https://github.com/thesofproject/sof/commits/cml-010-drop-stable commit: 5e5f69e
tplg: Same with FW branch, sof-cml-rt711-rt1308-rt715.tplg
platf

[2019-12-17 07:33] dengyangchao commented on #2077
As branch intel-next updated to 5.5 rc1,  issue can't reproduce, close.

Recipe:
kernel:  intel next  tag: intel-5.5-rc1-2019-12-09
SOF: master commit: 98d7ab21

[2019-12-17 07:33] #2077 closed

[2019-12-17 08:12] Liviali155 commented on #2114
Use ”amixer cget ..." to get the value of PGA3.0 3,the value will change along with adjusting in alsamixer,but the volume of output do not change,as capture

<img width="640" alt="Capture" src="https://user-images.githubusercontent.com/56707932/70976509-07e1e380-20e7-11ea-81ed-4e5d11281aee.PNG">

[2019-12-17 08:16] paulstelian97 commented on #2214
@lgirdwood I don't know of any variant that is consistent to cause many Xruns (as in once in 2 seconds, like in my manual test case), do you have any idea? For me simply loading up the system using new SSH connections worked but I'm not sure this works on your test boards.

I don't think there is any IRQ storm (at least my cascaded IRQ controller driver doesn't claim any; not sure about IPC IRQ st

[2019-12-17 08:26] juimonen commented on #2114
@Liviali155 @singalsu seems that message is again flowing correctly up to dsp component, but nothing is happening.... so in logger we see messages going to comp id 22. @Liviali155 can you attach the logs all the way from the dsp boot that we could verify that comp id 22 is actually correct volume component in correct pipeline?

[2019-12-17 08:52] lgirdwood commented on #2084
@sathya-nujella @jajanusz any updates ?

[2019-12-17 08:59] lgirdwood commented on #2174
@musiclvme this looks like we need a very simple script to parse dmesg for the trace point debug printk on boot failure. This script could additionally also run the gcc preprocessor on trace.h so taht dmesg trace point values could be matched with current values.

[2019-12-17 09:12] liam commented on #2211
This Liam isn't interested. Please do some research on how mentions work on
GitHub.

On Tue, 17 Dec 2019, 06:55 YvonneYang2, <notifications@github.com> wrote:

[2019-12-17 09:27] wwittbrx opened #2217 "[BUG] kpb_prepare() error: wrong host params"
**Describe the bug**
KD pipeline is unable to start after merging https://github.com/thesofproject/sof/pull/2038 on master due to "kpb_prepare() error: wrong host params".

**To Reproduce**
arecord -M -N -D hw:0,8 -f s24_le -c 2 -r 16000 -d 10 record_kd.wav

**Reproduction Rate**
100%

**Expected behavior**
KD pipeline starts normally.

**Impact**
Showstopper

**Environment**
1) Branch name and co

[2019-12-17 09:39] juimonen commented on #2211
@liam yes obviously confusing you with our Liam @lgirdwood. I didn't find quickly a easy way to remove just you from this issue, but I guess you should be able to unsubscribe yourself (from the right sidebar hopefully). Sorry about the extra noise/effort for you and welcome back if audio stuff starts to interest you...

[2019-12-17 10:03] wwittbrx commented on #2217
@lgirdwood Why was this pull request merged without passing CI? https://sof-ci.01.org/sof-pr-viewer/#/build/PR2038/build4547433 clearly shows problems with KD tests.

[2019-12-17 10:14] liam commented on #2211
Thanks. I get so many of these mails that they all annoy me. Nothing
personal of course.

On Tue, 17 Dec 2019, 09:39 Jaska Uimonen, <notifications@github.com> wrote:

[2019-12-17 10:47] Liviali155 opened #2219 "[BUG]Unexpected sof error trace print when trigger aplay/arecord"
**Describe the bug**
Unexpected sof error trace print when trigger aplay/arecord, but aplay/arecord can work normally, just an error message output

**To Reproduce**
1.sudo reboot
2.aplay -Dhw:0,1 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i -d 1
3.sudo sof-logger -l /etc/sof/sof-*.ldc

**Reproduction Rate**
10/10

**Expected behavior**
There is no sof error trace print when aplay/are

[2019-12-17 11:01] mrajwa commented on #2217
This happens because test cases are outdated. More than a month ago, having feedback from customers about their KWD usage + knowing all technical aspects we decided to reject host buffers < kd buffer. Once you provide host buffer sufficiently big enough the problem is gone.

[2019-12-17 11:37] paulstelian97 commented on #2219
IMX8 also has this issue:

` 0      1           SA         1500815271.153153 110893208.000000      src/lib/agent.c:55  	validate(), ll drift detected, delta = 1330786`

[2019-12-17 11:48] singalsu commented on #2219
The file sof_trace1217.log looks empty except the header. There should definitely be something seen from the playback.

[2019-12-17 11:54] paulstelian97 commented on #2219
@singalsu I think this is an older problem. Should I come back with a full log dump on IMX? This one definitely isn't empty but, given the line you have noticed in my comment, takes quite a bit longer to reproduce.

[2019-12-17 12:01] singalsu commented on #2219
I was wondering if this is related to audio processing and created load in pipelines. I'm seeing this quite often when I'm testing processing components. I wondered if there's SRC in hw:0,1. Seeing trace and component prepare() calls helps to figure out what's included.

[2019-12-17 12:03] kv2019i commented on #2134
@joshk0  wrote:

Ok, good!

Yes, this is very recent change (in upstream the main patch is "ASoC: Intel: acpi-match: split CNL tables in three", part of 5.5-rc1 already). Matching FW release has not been made, but it will be included (FYI @lgirdwood and @xiulipan )

[2019-12-17 12:07] paulstelian97 commented on #2219
@singalsu In my case there is only two HOST, two VOLUME and two DAI (the DAI components being tied to the same hardware), as seen in the sof-imx8qxp-cs42888.m4 topology, one of each per stream (playback + capture simultaneously). No SRC.

For the tested topologies I think there is at least one that doesn't have SRC (sof-tgl-rt711-rt1308.m4 doesn't seem to have any), although I believe it's not rel

[2019-12-17 12:36] tlauda commented on #2219
@Liviali155 @singalsu @paulstelian97 Please try with #2220.

[2019-12-17 12:44] paulstelian97 commented on #2219
@tlauda If Livia reports it to be fixed (issue seems to happen much more quickly on the Intel platforms) you should be good to merge. I will chime in if the agent doesn't trigger any issue in 2 hours.

[2019-12-17 12:51] paulstelian97 commented on #2219
@tlauda Actually... something more interesting is happening. Your commit has the perverse effect on my system, now getting stuff like:

[code]
(note: even more than visible here)

[2019-12-17 12:52] paulstelian97 commented on #2219
(all errors are happening while DSP is idle)

[2019-12-17 12:54] tlauda commented on #2219
@paulstelian97 #2220 was wrong. Please try with #2221.

[2019-12-17 12:54] paulstelian97 commented on #2219
Trying with #2221 now, will report.

[2019-12-17 13:03] paulstelian97 commented on #2219
Trying. Now I've got a storm of these logs after an Xrun (as in, 2 seconds worth of such logs) with no panic. For me getting these with the small delta is better than getting a delta large enough to trigger a panic but both cases are still bad.

Timestamp of first error: 182888957.115616
Timestamp of last error in burst: 198076948.747748
Actual error message is the same.

[2019-12-17 13:11] paulstelian97 commented on #2219
@Liviali155 IMX remains as broken as it was before. Can you report if #2221 fixes the issue on the Intel platforms? If so, I'll allow that to be merged and I'll keep on working with the agent disabled for now on IMX.

[2019-12-17 15:09] lgirdwood commented on #2180
@zrombel good find. It seems like something on the mixer stop/tear down path is not being correctly handled.

[2019-12-17 15:15] plbossart commented on #2174
I don't get the ask. If the firmware does not boot, you will not even get a firmware trace.

[2019-12-17 15:23] paulstelian97 commented on #2174
Right now I'm investigating boot issues on my end and no, platform_trace_point on the various Intel platforms just writes some value in a specific memory location to be checked.

I have actual issues with traces which happen during platform init, after the traces themselves are initialized but before boot is complete -- while SOF will write in the mailbox (with mailbox traces enabled) that can't b

[2019-12-17 16:26] lgirdwood commented on #2041
@zrombel these logs are big, can you paste the relevant sections showing the failure. Thanks.

[2019-12-17 16:31] singalsu commented on #2176
I'm no more getting DSP panic when PR #2223 by @tlauda is applied.

[2019-12-18 02:02] aiChaoSONG opened #2224 "[BUG][CML] pause/release headset capture will cause pulse noise in recorded wave"
**Describe the bug**
pause/release headset capture with SPACE will cause pulse noise in the recorded wave.
![pause_release_trigger_noise](https://user-images.githubusercontent.com/52959957/71048847-9dc74e00-217b-11ea-9436-96762901397e.png)

**To Reproduce**
1. run arecord via headset pipeline: `arecord -Dhw:0,0 -f dat -r 48000 -i -vvv -c2 ./headset.wav`
2. press SPACE in pair(double press)(see pic

[2019-12-18 02:26] aiChaoSONG commented on #2224
I also observed:
1. once the pulse is seen, it will exist along the whole recording.
2. once the pulse is seen, unplug headset, it disappears, insert jack back, it appears again.
3. once the pulse is seen,  continue double press SPACE, it may disappear and appear again.
4. Some of kcontrols which may change data route have influence on the pulse noise and the recording, such as `ADCDAT Mux` and `S

[2019-12-18 02:42] keyonjie commented on #2190
the log 'unknown ROM status value 06000021' is valuable, @sathyap-chrome do you see the same on your side?

[2019-12-18 03:21] sathyap-chrome commented on #2190
the error signature is same on my side and @keqiaozhang side for S3. I can share more logs if needed

[2019-12-18 03:30] Liviali155 commented on #2219
Tried with #2221 ,error not seen on below platforms:
APL-UP2 nocodec
APL-up2 PCM512x in I2S mode
TGL RT711 in HDA mode
BYT nocode,

But can reproduce on:
BYT 5682 in I2S mode.

[2019-12-18 04:06] Liviali155 opened #2225 "[BUG][APL][gcc]DSP panic in eq-test"
**Describe the bug**
DSP panic in eq-test, issue only seen  when build with gcc compiler, error not seen when build with xcc compiler

**To Reproduce**
1.   Firmware is build with gcc compiler
2.  cd ~/sofcitest/sof-test-suites/eq-test/eqctl
3.  ./eq_test.sh

**Reproduction Rate**
10/10

**Expected behavior**
EQ test pass

**Impact**
aplay: pcm_write:2011: write error: Input/output error
And DSP p

[2019-12-18 04:15] xiulipan commented on #2157
@cujomalainey I have test on one device with https://github.com/thesofproject/sof/pull/2188 and https://github.com/thesofproject/sof/pull/2095
Will try to redo the test after rebase and update thesofproject/linux#1484

[2019-12-18 05:56] keyonjie commented on #2190
I think this issue happens only on 007 recipe?
Can you please cherry-pick an upstream commit from https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/log/?h=for-next and retry?

184fdfca4ba63d57a668 ASoC: SOF: Intel: hda: correct ROM state mask

[2019-12-18 06:10] aiChaoSONG commented on #2203
@lrgirdwo @mmaka1 I run some test with nocodec tplg, and the pause/release interval is 0.2s, and there is surely some pulse here, please see the picture and attached wave. seems we lost some samples. but if we change pause/release interval to 0.5s, things are much better, see attached wave.
![spk_pulse_2](https://user-images.githubusercontent.com/52959957/71059827-d7f61700-219e-11ea-8250-11c525a86

[2019-12-18 06:18] Liviali155 commented on #2114
I catch the log from bootup,as attachment
[dmesg1218.log](https://github.com/thesofproject/sof/files/3976871/dmesg1218.log)
[sof_trace.txt](https://github.com/thesofproject/sof/files/3976872/sof_trace.txt)

[2019-12-18 06:35] juimonen commented on #2114
@Liviali155 thanks, looks like the commands are going to the correct component, nothing is just happening... btw is this related to 44.1kHz somehow (as the title says) or also happening with 48kHz files, or whatever format you play to pipeline 1?

[2019-12-18 06:39] Liviali155 commented on #2114
Error only seen when play 44100Hz audio via pipeline 1
Error not seen when play 48000Hz audio via pipeline 1

[2019-12-18 07:06] juimonen commented on #2114
@Liviali155 ok, have you tested this before and it was working or is this regression? we had some pipeline parameter handling changes in firmware lately...

[2019-12-18 07:08] Liviali155 commented on #2114
Yes, It is a regression caused by firmwire commit 63a55299

[2019-12-18 07:15] juimonen commented on #2114
@tlauda fyi... @Liviali155 kind of having trouble to understand how that commit can affect volume processing though...

[2019-12-18 08:37] dengyangchao commented on #2176
Tried on both ICL-U RVP and CML Laptop, after applied #2223 , issue can't be reproduced.

Platforms:
ICL-U RVP with onboard codec ALC700 in HDA mode
CML laptop with onboard codec ALC3204 in HDA mode

[2019-12-18 08:42] singalsu commented on #2225
Thanks for reporting but from where can I retrieve sofcitest?

Meanwhile could you test if PR #2223 fixes this issue.

[2019-12-18 08:47] sathyap-chrome commented on #2190
I will try SOF v0.8 and get back.
But i tried the patch suggested on top of SOF v0.7 stack we have and the issue is still seen on failing CB images.

[2019-12-18 09:22] xiulipan opened #2227 "[BUG] [BDW] aplay failed on bdw"
**Describe the bug**
aplay will got `aplay: pcm_write:2011: write error: Input/output error` error
**To Reproduce**
aplay -Dhw:0,0 -f dat /dev/zero -vvv

**Reproduction Rate**
10/10

**Expected behavior**
aplay can work

**Impact**
bdw playback is broken again

**Environment**
last kernel (98b6f21f) with nocodec
and fw with 3d44dead

**Screenshots or console output**
[code]
error trace:
[code]
dma

[2019-12-18 09:28] paulstelian97 commented on #2227
Related to #2214 (same bisect, same manifestation). In my case, once aplay fails I cannot start it again and arecord also fails with IPC timeout.

[2019-12-18 09:40] Liviali155 commented on #2225
Tried with #2223, issue can  still be reproduced
sofcitest.zip as attachment
Test step:
1.chmod +x sof-ctl (sof-ctl can be found at ~/sof/tools/build_tools/ctl after build success)
2.sudo mv sof-ctl /usr/bin/
3.get sof-apl-eq-pcm512x.tplg,then renamed to sof-apl-pcm512x.tplg
4.reboot
5.cd ~/sofcitest/sof-test-suites/eq-test/eqctl
6./eq_test.sh

[sofcitest.zip](https://github.com/thesofproject/sof/

[2019-12-18 10:01] sathyap-chrome commented on #2190
With SOFv0.8 based patches on chrome tree also this issue is seen on failing . attached logs for both
a. dmesg with SOF v0.7 + only patch taken
b. dmesg with SOF v0.8
[dmesg_sof008.txt](https://github.com/thesofproject/sof/files/3977765/dmesg_sof008.txt)
[dmesg_logs_rom_fix.txt](https://github.com/thesofproject/sof/files/3977766/dmesg_logs_rom_fix.txt)

[2019-12-18 10:08] xiulipan commented on #2227
@paulstelian97  update with some debug finding:
Add trace here and find there is no such caller to dma chan in the `notify->list`
https://github.com/thesofproject/sof/blob/3d44dead6fd750e308ee160ab8da34f48f55feeb/src/lib/notifier.c#L118-L122

Then add log to https://github.com/thesofproject/sof/blob/3d44dead6fd750e308ee160ab8da34f48f55feeb/src/lib/notifier.c#L69 the chan was unregistered from http

[2019-12-18 11:48] paulstelian97 commented on #2227
@xiulipan Can you actually point out to where the notifier_register would happen after a dw_dma_channel_put happened? Also, would XRUN recovery have anything to do with that situation?

[2019-12-18 12:15] singalsu commented on #2225
Thanks @Liviali155 ! I'm now able to repeat this issue. It happens after completing IIR tests with second FIR response. The first FIR test is a simple "flat" one coefficient filter and it's passed. The second test with a much longer mid-boost response fails.

I suspect it's due to insufficient execution speed with gcc build. Maybe I should limit in gcc version the max filter length to something th

[2019-12-18 12:24] jajanusz commented on #2084
Waiting for info from HW team.
Basically for the same values of SSP & M/N registers it worked on ICL (that has the same clocks) and doesn't work on TGL, maybe there are some difference in HW impl (maybe due to introduction of ssp sync) and we need to do some extra steps..

[2019-12-18 12:45] singalsu commented on #2225
PR #2221 avoids the DSP panic. I tested it because the error trace contained "validate(), ll drift detected, delta = 27959" like events.

The playback is with non-default FIR still fails due to known reason but at least it fails in a more nice way with that PR included.

I think I should add for gcc build a runtime fail for exceeding know safe limit (around 30 tap filter). And make available at le

[2019-12-18 12:53] singalsu commented on #2225
With the PR applied the error trace shows "timer_report_delay(): timer 3 delayed by 221 uS 4262 ticks" and aplay fails to "aplay: pcm_write:2011: write error: Input/output error" that's a lot nicer behavior than a panic.

[2019-12-18 13:27] lgirdwood commented on #2209
@zrombel ah sorry, I mean the subsequent patch to #2029 that disables the HiFi3, but I guess we are suspecting the same issue.

[2019-12-18 13:32] lgirdwood commented on #2214
@paulstelian97 Fwiw, the system agent will force a panic iff the DSP does not go into the idle state (not sure if this is 63 though without checking)

[2019-12-18 13:35] paulstelian97 commented on #2214
@lgirdwood Yeah, I already mentioned that the agent is explicitly disabled. With the agent enabled, the problem is quite a bit older (as in since the last refactors to the agent itself a few months ago).

I wonder if this 63 (explicitly triggered panic) comes from there actually being a hang and the last code not being cleared. I could try adding a memset(0) of the exception mailbox at boot to tes

[2019-12-18 13:58] lgirdwood commented on #2211
@mengdonglin this is the kernel printing out that it's received a new trace IPC (which indicates lots of trace messages). Only the kernel can rate limit this IPC log (as it's not FW generated trace). I've closed as it's only fixable in the kernel.

[2019-12-18 13:58] #2211 closed

[2019-12-18 14:08] lgirdwood commented on #2217
@wwittbrx that was merged in error as CI SNR was poor with SCHEDULER and some other failures.
@mrajwa does this mean we need new KD CI tests now ? Where do we document the KWD min/max buffer sizes ?

[2019-12-18 14:14] lgirdwood commented on #2174
@plbossart FW boot failure wont give any trace data, but it does give trace_point data (i.e. integers, generic on all platforms) and worst case ROM values (on Intel SKL+)

[2019-12-18 14:15] wwittbrx commented on #2217
For this PR we will be running tests manually as there are some other issues with it. Once PR is ready to merge we will need to coordinate so that test repository update and merge happen at roughly the same time to avoid impact on other PRs.

[2019-12-18 14:16] paulstelian97 commented on #2174
@lgirdwood Trace points are *almost* generic, on i.MX the trace_point macro is a no-op. What would the best implementation be? Just storing it in a (fixed) location that kernel code or memtool would be able to pick it up?

[2019-12-18 14:31] mrajwa commented on #2217
@lgirdwood, I am afraid we don't officially document it yet. We have agreed on it on mailing list already though. Yes, we need to slightly change test cases to use different buffer sizes. The other issue @wwittbrx mentioned is because there is one more PR which needs to be merged but I would really like this one to be merged first.
Okay, let's change test cases and I will submit this PR again.

[2019-12-18 14:37] lgirdwood commented on #2224
@bardliao any insight here, it look like a codec driver (pause/release) issue if the noise disappears when headset is removed  (2, 4, 5 and 7) ? Should be add realtek to issue ?

[2019-12-18 14:41] lgirdwood commented on #2227
@xiulipan, @fredoh9  what's ETA for BDW on CI ?

[2019-12-18 15:24] lgirdwood commented on #2203
@aiChaoSONG potentailly looks like stale data in the DAI FIFO (that's replayed at unpuase). What interface HDA, SSP are you playing from ?
@tlauda it could be we are pausing the DAI prior to FIFO being empty ?

[2019-12-18 15:28] lgirdwood commented on #2114
@singalsu any hints here ?
@juimonen volume updates are also scheduled and ramped. It could be that they are not being run by scheduler (esp if 44.1kHz conversion is utilising DSP)

[2019-12-18 15:36] lgirdwood commented on #2176
#2223 pending CI approval prior to merge.

[2019-12-18 15:50] lgirdwood commented on #2225
@singalsu supporting a very reduced filter length is best for gcc. It just needs to be functional, you could state this in Kconfig too when selecting the EQ component.

[2019-12-18 15:53] lgirdwood commented on #2174
@paulstelian97 yes, just write it to a known offset in your mailbox or shared IP. Something that both easy for your driver and FW.

[2019-12-18 16:01] lgirdwood commented on #2217
@mrajwa ok, please resubmit. @wwittbrx pls review and approve if aligned, I will wait until we see your approval prior to merge.

[2019-12-18 16:11] paulstelian97 commented on #2174
Will come back with an implementation early next year (I don't think I have the time this week) for trace points for my platform.

Anyway, back on traces. At least my code does print out some early traces in the probe() functions of various drivers such as EDMA and ESAI. Without an actual serial console (currently I only have a hacky implementation) I cannot see those traces, which is why I at lea

[2019-12-18 16:57] ranj063 commented on #2227
@xiulipan How could this happen within the last 2 days? When we merged https://github.com/thesofproject/sof/pull/2188, wasnt aplay working?

[2019-12-18 19:35] singalsu opened #2231 "[BUG] FIR EQ produces periodic glitches as HiFi3 xcc build"
**Describe the bug**
The bug does not happen with default EQ configuration (flat). Setting up for a longer response triggers the periodic 2ms or 4ms repeated glitch.

**To Reproduce**
sof-ctl -n 23 -s eq/eq_fir_loudness.txt
aplay -Dhw:0,0 sine.wav

**Reproduction Rate**
About 3/4 of playback attempts sound corrupt. About 1/4 are clean. All playback attempts with gcc build are clean.

**Expected be

[2019-12-19 01:23] bardliao commented on #2224
@lgirdwood Yes, it could be. @aiChaoSONG Could you check if MCLK is active when the recording is paused? If not, please check if MCLK starts before I2S BCLK. IIRC, MCLK starts before BCLK is a requirement of rt5682. @shumingfan can you take a look?

[2019-12-19 01:35] aiChaoSONG commented on #2203
@lgirdwood , it's SSP

[2019-12-19 04:07] shumingfan commented on #2224
@aiChaoSONG @bardliao I want to involve our hardware AE to debug this issue.
He wants to know which is customer and project name to this issue?

[2019-12-19 08:53] #2176 closed

[2019-12-19 11:36] paulstelian97 commented on #2214
Found new repro, simply closing arecord while aplay is still running is enough to cause DSP crashes. Need more to investigate, when I have a good repro I will reopen and investigate. Will check my bisect against this variant too.

[2019-12-19 12:09] paulstelian97 opened #2233 "[BUG] DSP panic when stopping arecord while aplay is running"
**Describe the bug**
A clear and concise description of what the bug is.
Whenever I'm running aplay and arecord in parallel and then stop arecord I will get a DSP crash.

What have you tried to diagnose or workaround this issue?
Tried bisecting, found that 07bf590 breaks it and with the parent commit the playback continues just fine.

**To Reproduce**
Steps to reproduce the behavior: (e.g. list co

[2019-12-19 12:10] paulstelian97 commented on #2214
Closing, much simpler repo at #2233 (same regression). Apparently the Xruns actually cause arecord to stop and they aren't the direct cause of the crash but arecord stopping is.

[2019-12-19 12:10] #2214 closed

[2019-12-19 12:24] paulstelian97 commented on #2233
Additionally, stopping aplay while letting arecord running has the same effect.

[2019-12-19 13:38] dbaluta commented on #2233
@paulstelian97 @akloniex @jajanusz

Actually there is no panic. I suspect there is a deadlock introduced by the notifier changes. Can someone at intel try to following simple use cases:

1. Start record
2. Start aplay
3. Interrupt record (Ctrl + C).

[2019-12-19 14:00] jajanusz commented on #2233
@tlauda @akloniex is it related to that bug with notifier sending msg to wrong core?

[2019-12-19 14:04] paulstelian97 commented on #2233
@jajanusz On further investigation, I have noticed that I get stuck in an infinite loop in the `list_for_item_safe` loop inside `notifier_register`. Which is odd to me. I'm watching over the mailbox and I keep seeing a custom trace from that loop filling it up and the timestamps everchanging.

I don't see what could corrupt the list to that level. notifier_register and notifier_unregister use spin

[2019-12-19 16:16] paulstelian97 commented on #2233
On other combinations I have managed to have it actually deadlock on the spinlock notify->lock. That is besides the infinite list BS (where I have `wlist->next == wlist` but `wlist->prev != wlist` -- yes I'm getting that).

i.MX is single core btw (at least for now).

[2019-12-19 16:33] #2227 closed

[2019-12-19 16:40] singalsu commented on #1391
Status update: This is half done. I still need to make this for FIR. ETA ww02 2020.

[2019-12-19 20:16] lgirdwood commented on #2203
@tlauda SSP trailing bytes ?

[2019-12-19 20:35] #2219 closed

[2019-12-20 07:59] Liviali155 commented on #2225
On latest sof master test ,there is no DSP panic in dmesg,the issue is just "aplay: pcm_write:2011: write error: Input/output error" in eq test,because  #2221 merged

[2019-12-20 08:09] jdrzaszcz opened #2236 "[BUG][APL] Stream stall on simple stream operation stress tests."
**Describe the bug**
When running simultaneous capture and playback on external loopback (same SSP) with pause/release on playback pipeline after some iteration capture stream or playback stream is not running, stream stall.

**Topology**
[code]

**To Reproduce**
Slim Driver python test:
On APL run test:
02_12_TestPtpSimpleStreamOperations48000Hz24b32b8ch with --playback_iterations>=1000

**Reprod

[2019-12-20 08:30] Liviali155 commented on #2225
Tried with PR #2230,tips"Equalizer test failure with eq_fir_mid.txt" and dmesg show "error: ipc error for 0x60010000 size 20"

<img width="586" alt="Capture" src="https://user-images.githubusercontent.com/56707932/71241057-994e9100-2345-11ea-8d2a-5c2706791cd5.PNG">

<details>
 <summary>dmesgerror.log</summary>

[code]
</details>

[code]
[dmesg1220.log](https://github.com/thesofproject/sof/files/39

[2019-12-20 08:35] singalsu commented on #2225
Yep, I'll it to PR #2230. There's also similar issue with GCC built ASRC. I'll add it with soon coming PR for it.

[2019-12-20 08:41] Liviali155 commented on #2225
Sorry for click a wrong menu to closed it，reopen it

[2019-12-20 08:47] singalsu commented on #2225
There's a new eq_fir_mid.txt version included in the PR. Please update sofcitest with it once PR #2230 is merged.

[2019-12-20 09:43] lgirdwood commented on #2236
@jdrzaszcz I like your topology diagrams :) Do you have a tool that generates these ?
Also can you paste the relevant error messages from the logs into the report as this allows the developers to quickly check and report any observations that could help. Just 10 or so lines is enough.

[2019-12-20 10:20] jdrzaszcz commented on #2236
@lgirdwood You can use this tool http://asciiflow.com/ to generate topology diagrams.
I have added log with information about drift. In one example, there are no more logs after drift, in another there is additional information.

[2019-12-20 11:15] lgirdwood commented on #2236
@jdrzaszcz thanks, lot more meaningful now. Btw, I've used markdown on the log but it looks like it's has some garbage in the file ? (maybe CR/LF ?)
@tlauda could IPC processing get lost with the drift error ?

[2019-12-20 11:28] paulstelian97 commented on #2236
The garbage must be ANSI codes to show colors etc. Looks like that.

[2019-12-20 11:29] jdrzaszcz commented on #2236
@lgirdwood Thanks for making the log info more transparent. These are some special characters (as far as I know they are useful to coloring the lines) and we received output  this log from sof_logger,  if we would like to get output without this signs, then some changes should be made in sof_logger.

[2019-12-20 11:34] paulstelian97 commented on #2236
In the source code, `tools/logger/logger.c:268` there is the condition to check if the output file is a tty and to disable colors if it's not. Why shouldn't that work? At least on my end it works fine.

[2019-12-20 11:58] jdrzaszcz commented on #2236
@paulstelian97 Thanks for information.

[2019-12-20 12:00] paulstelian97 commented on #2236
Anyway this looks like the host doesn't handle IPC in time and the IPC queue fills up. But why would the host be slow to respond?

[2019-12-20 13:15] paulstelian97 commented on #2233
I have new data which I still need to investigate: I think rzalloc returns to the notifier the same address twice without a rfree call inbetween. The only rfree happens in the _next_ block between these. An expert on that, anyone?

[etrace dump](https://github.com/thesofproject/sof/files/3988397/memtrace.log) (DMA trace won't flush due to the while(1) loop inserted upon list corruption being detec

[2019-12-20 13:32] paulstelian97 commented on #2233
Found the bug and it's in the memory allocator. Will attempt to push today before leaving for vacation but, if I don't manage, I'll leave the info for someone else to pick up -- apparently the field `first_free` becomes stale for some reason. Do we have (failing) unit tests related to this field?

[2019-12-20 13:48] lgirdwood commented on #2233
@jajanusz possible missing/failing UT for allocator ? See previous message.

[2019-12-20 14:16] paulstelian97 commented on #2233
An explanation of what I understood of alloc_block and free_block and their usage of first_free.

Let's say we have a heap with two blocks. Initially they are both free:

[code]

Now allocate one of the blocks. It will give out the first free block, from where "first_free" points, and will search for the next free block. Nothing wrong with this. It becomes:

[code]

Let's also allocate the second

[2019-12-20 21:57] paulstelian97 commented on #1860
@keyonjie Does this still apply?

[2019-12-21 17:25] singingtelegram opened #2241 "[BUG] Audio device not recognized on HP Omen 17"
**Describe the bug**
No audio device (except dummy device) available.

**To Reproduce**
Upgrade to 5.4 kernel. / Attempt to make DMIC available under Linux by blacklisting snd_hda_intel and switching to SOF (kernel bug #201251).

**Reproduction Rate**
10/10

**Expected behavior**
SOF firmware is loaded and the audio device is detected.

**Impact**
Unable to output audio.

**Environment**
Platform:

[2019-12-23 03:40] Liviali155 commented on #2225
After update eq_fir_mid.txt and sof-apl-eq-pcm512x.tpl,Issue can still be reproduced

[2019-12-23 11:00] #1860 closed

[2019-12-23 11:05] #2233 closed

[2019-12-23 12:15] jajanusz commented on #2084
@lgirdwood @plbossart
We missed change register desc. `ECS` bit is not officialy supported since cavs 2.0, looks like it worked on ICL as `undefined behavior `, on cavs2+ ECS has to be always 1.

[2019-12-24 01:53] keyonjie commented on #1860
@paulstelian97 @lgirdwood yes, this is closed via PR#1995

[2019-12-24 13:41] lgirdwood commented on #2084
@jajanusz I guess this means we need an update to ignore this then on 2.0+, Is there a PR?

[2019-12-25 06:56] shumingfan commented on #2224
We had done some experiments like loopback the signal inside/outside of codec when pulse noise happened. We heard the sound from the headset mic to the headphone. The sound is OK.
Another test is that AP outputs the signal to SoC instead of rt5682i codec. This issue still happened.
This issue we are discussing on Google issue tracker and please check the website below.
https://partnerissuetracker.

[2019-12-26 08:15] mengdonglin commented on #2113
@mrajwa Can you please check this issue? This issue cannot be reproduced with cml-008 branch, so we suspect the master branch may missing something.

[2019-12-31 05:51] dengyangchao opened #2245 "[BUG][tag-v1.4.1]DSP panic when arecord via DMIC"
**Describe the bug**
DSP panic when change DMIC arecord between HW:0,6 and HW:0,7 quickly.
Same issue #2176  has been fixed on master through PR #2223, should back port to release v1.4.1

Can execute a script test1.sh like below:
[code]
Arecord -l list
[code]
**To Reproduce**
1.Reboot system via"sudo reboot".
2.Wait runtime PM to suspend.
3.Execute script via./test1.sh
test1.sh.txt

**Reproduction

[2020-01-02 12:16] jajanusz commented on #2084
There is no PR. I'll make it. I think current implementation is wrong even pre-ICL. If I understand correctly you can have only 1 master clock source for M/N for all SSPs BCLK, so we should track if there is any active SSP already using M/N as BCLK source, if so then we cannot look for  BCLK source, but just have to use what is already there and just tune M/N divider for that port (because that's

[2020-01-02 13:04] singalsu commented on #2225
For me the new eq_fir_mid.txt passes the test. Based on screenshot above the file you are using is the old one. You can see the content of the new file below:

[code]

As you can see above the eq_fir_loudness.txt fails so that case need to be removed for tests for gcc build. Only the xt-xcc build can run it. Please let me know if check/fix of your eq_fir_mid.txt helped.

[2020-01-02 16:56] singalsu commented on #2231
I've found the issue. The mixed use of generic and even FIR function in EQ copy() corrupts the align for 64 bit loads from FIR delay line. The fix is to use only even # of frames processing.

[2020-01-02 17:19] ranj063 commented on #2084
@jajanusz just wnated to clarify one thing. The TGL topology under consideration no longer requires the M/N divider for any of the BCLK's

[2020-01-02 19:03] plbossart commented on #2084
@jajanusz are you saying that the attached clock tree is no longer accurate? If ECS has to be zero always, it means we cannot bypass the M/N dividers, and thus have to use the same source clock for all SSPs?

[APL-clocks.pdf](https://github.com/thesofproject/sof/files/4017015/APL-clocks.pdf)

[2020-01-03 02:08] jajanusz commented on #2084
@plbossart Yes, I don't have pdf for ICL/TGL like you have for APL, but it's wrote in registers description for cavs 2.x that ECS=1, so you can pretty much only take bclk from m/n.

@ranj063 It doesn't matter if TPLG actually needs M/N, even if it doesn't the clock is going to go by M/N (cos ECS=1, just M/N is 1/1)

[2020-01-03 02:29] plbossart commented on #2084
Right, but in that case we would want to use 32-bit slots for both the codecs and the speaker amplifier, instead of 25 and 32 respectively as we do today, instead of using M/N to generate a bclock.

[2020-01-03 08:53] dragosht opened #2248 "[BUG][BYT] Build failure when CONFIG_GDB_DEBUG=y"
**Describe the bug**
Enabling the GDB stub for BYT currently ends up in a build error.

**To Reproduce**
    make menuconfig
    Select Debug --> GDB Stub
    make

    sof/src/debug/gdb/ringbuffer.c:12:44: error: 'SRAM_DEBUG_BASE' undeclared here (not in a function); did you mean 'MAILBOX_DEBUG_BASE'?
    volatile struct ring * const rx = (void *) SRAM_DEBUG_BASE;

[2020-01-03 10:14] Liviali155 commented on #2225
Tried on latest sof-dev+master used commmand:
./sat -c "tplg=sof-apl-pcm512x.tplg" -s eq-test -xcheck-audio-equalizer.sh
eq test pass both on gcc and xcc
but when use ./eq_test.sh to test,both failed on gcc and xcc:
[code]

Environment
Kernel: 52ec20e2 https://github.com/thesofproject/linux/commits/topic/sof-dev
SOF: 0194175d  https://github.com/thesofproject/sof/commits/master
Topology: sof-apl-e

[2020-01-03 10:54] singalsu commented on #2225
The script should be updated, it's "sof-ctl" and not the old executable name ("sof-eqctl").

[2020-01-03 11:42] singalsu commented on #2231
The fix is in SOF PR #2249 .

[2020-01-03 17:11] paulstelian97 commented on #2248
An easy fix would be to copy src/platform/imx8/include/lib/memory.h lines 73-100 ("Mailbox configuration") to src/platform/baytrail/include/lib/memory.h somewhere, they're missing. Maybe I'll do it on Monday.

[2020-01-06 02:33] Liviali155 commented on #2225
After updated the script, eq test pass on xcc,test failure with eq_iir_bandpass.txt on gcc,dmesg show " error: ipc error for 0x60010000 size 20"

<img width="787" alt="Capture" src="https://user-images.githubusercontent.com/56707932/71791399-d1591200-306f-11ea-9a32-f3f3e42f3d3f.PNG">

Environment
Kernel: 52ec20e2 https://github.com/thesofproject/linux/commits/topic/sof-dev
SOF: 373f3319 https://gi

[2020-01-06 03:53] robhancock opened #2251 "[BUG]Missing firmware/failure to boot on Lenovo M720s with Coffee Lake CPU"
**Describe the bug**
The latest Fedora 31 kernel update with version 5.4.7 fails to load any DSP firmware for Coffee Lake on a Lenovo M720s machine:
[code]

Attempting to symlink the signed/sof-cnl-signed-intel.ri to sof-cfl.ri inside /lib/firmware/intel/sof allows the firmware to load, however selecting the headphone output in the GNOME sound settings results in the machine immediately hard-freez

[2020-01-06 10:11] perexg commented on #2251
Just for reference: The Fedora's alsa-firmware package contains v1.4.1 firmware files.

[2020-01-06 11:22] lgirdwood commented on #2245
Relevent context
Kernel
[code]
Firmware
[code]
Firmware trace is not as uptodate as error log above.

[2020-01-06 11:34] lgirdwood commented on #2248
@xiulipan looks like a gap in the CI, i.e. we are not building with some debug options.

[2020-01-06 11:38] paulstelian97 commented on #2248
Guess CI again only builds on defconfig. Maybe there should be an extra build for all non-conflicting options enabled, possibly two on BYT which cannot simultaneously enable everything due to lack of IRAM?

[2020-01-06 13:53] lgirdwood commented on #2251
It looks like we are loading the wrong firmware from dmesg i.e. loading v1.1 instead of v1.4.1, but I'm suspicious here as ABI matches (and v1.1 was ABI ~3.8 IIRC).

@plbossart @ranj063 does the kernel side look OK, I see we are using MSI IRQs and the we get an spurious IRQ at firmware boot.

@robhancock can you try and disable Pulseaudio and try again (renaming it will stop it being started after

[2020-01-06 15:21] lgirdwood commented on #1899
@chrysophylax thanks, we have been internally looking at how to make SKL/KBL platforms more FW developer friendly but we are blocked by immutable signing keys which means only Intel can sign code for these platforms (making external community collaboration practically impossible). On APL onwards the signing keys are changeable and can be updated by OEM, etc. Sorry about this. I will update this FE

[2020-01-06 15:40] perexg commented on #2251
How you can detect the firmware version at boot? From the hash? `1:1:0-fcf6c`

[2020-01-06 15:54] plbossart commented on #1899
@lgirdwood see https://bugzilla.kernel.org/show_bug.cgi?id=201251, there are quite a few folks who can't get the DMICs to work on KBL platforms. Even if we only provide an Intel signed version of the SOF firmware, that would still be very helpful.

[2020-01-06 16:02] plbossart commented on #2251
no, fcf6c8c416f790ad3d9f76bf75b5b528c11896c7 is v1.4.1. I don't know what the format of the
version 1:1:0-fcf6c is supposed to mean, the sha1 is correct but the 1.1. looks like something that was never updated.

no, that's the usual warning that we need to remove. nothing problematic.

I would recommend testing with the topic/sof-dev branch to rule out any backport issues or missing patches.

[2020-01-06 16:22] robhancocksed commented on #2251
Some updates I added to the RH Bugzilla entry:

I confirmed that snd-intel-dspcfg.dsp_driver=1 on the kernel command line restores the working behavior, so that is a workaround for now. Also, the update to alsa-firmware seems to allow the firmware to load properly now with the default options. But the lockup issue persists in that configuration.

It seems like the output from "aplay -L" is rather

[2020-01-06 16:31] robhancocksed commented on #2251
Also, given that the proper firmware symlink wasn't even in place for Coffee Lake (and some other CPUs) in the upstream firmware repositories, it seems hard to believe that this setup was ever fully tested on this hardware. How did this code get merged into the upstream kernel in such a state? At this point it's a clear regression. Maybe defaulting to dsp_driver=1 for now is the best interim solut

[2020-01-06 16:36] lgirdwood commented on #1899
@plbossart I agree, it would be helpful to provide this signed version for working DMIC, I didn't realise the DMIC had multiple issues (kernel, ACPI, topology) on KBL.
@lbetlej @mmaka1 what would it take to validate and sign base level functionality on KBL ? We already have the SOF memory map and build support for KBL but it needs validated and signed. I have some kernel patches to support the boo

[2020-01-06 16:46] lgirdwood commented on #2251
@robhancock fwiw, theres still some discussion on upstreaming the firmware binaries so your link should work fine once the binaries are merged. There is currently a FW repo here (on SOF project), feel free to use but we are rebasing it frequently atm until upstream discussion is aligned.

[2020-01-06 17:00] robhancocksed commented on #2251
@lgirdwood , my point was that since the firmware symlink wasn't in place to allow the driver to even load, it's obvious that the rest of the code was never tested on this hardware, at least not in the configuration that was merged upstream. And indeed, once the firmware does get loaded it doesn't work. It sure looks like Intel dropped the ball on this - as was mentioned elsewhere on Bugzilla,
'it

[2020-01-06 17:04] plbossart commented on #2251
@robhancock we've contributed patches to make the life of distros simpler and while things are not perfect we've not dropped the ball. I don't help to use sarcasm or diss the work of people who are trying to fix things.

[2020-01-06 17:44] perexg commented on #2251
@plbossart : I am really sorry, that were my words. I am a bit tired to get all components together (fighting with the driver/firmware incompatibilities, topologies, UCM, pulseaudio to get things working properly in last months). My point is that upstream should be first, then you can say that Linux has full support for the hardware. Thank you for your work.

[2020-01-06 18:13] ranj063 commented on #2084
@jajanusz I can update my PR to align with this direction but just a quick confirmation for CAVS 2.0+, ECS bit should always be set indicating that we always use M/N (even if it mean 1/1) and the clock source for BCLK for all SSP ports have to be common? Is this correct? Also, is there any restriction for the MCLK at all? Does it have to be a common clock source for all SSP's?

[2020-01-06 18:55] chrysophylax commented on #1899
It's true, even an Intel-signed only version would be very helpful for a big pool of users. I had issues with almost everything on my Intel i5-8250u until I ripped out binary blobs from my chromebook image (see https://github.com/GalliumOS/galliumos-distro/issues/536) and jammed it into my Linux install. It'd be much nicer to do this in a non-hacky way.

[2020-01-06 18:59] plbossart commented on #2084
@ranj063 the MCLK is orthogonal to SSPs, there are 2 MCLKs but a single source (you can only change the dividers for each MCLK).

[2020-01-06 19:16] plbossart commented on #1899
You are lucky in a way, the configuration for topology/SSPs would work on a Chromebook, but for a generic HDAudio solution those binary blobs don't even exist, the combination of HDaudio+DMIC was not enabled with the KBL driver. So it's not really about doing things in a a less hacky-way but really enable those devices.

[2020-01-06 19:20] ranj063 commented on #2084
@plbossart I'm a bit confused by "MCLK is orthogonal to SSPs". In the SSP driver, we configure the MCLK by choosing the MCLK source for every SSP config IPC and we could in theory end up choosing 2 different MCLK sources while configuring 2 SSP's, isnt it?

[2020-01-06 19:21] cujomalainey commented on #1899
This would be excellent to have for when it comes time for KBL kernel uprev. Will make my life much easier when it comes to enabling the new kernel. It would help with debugging having the insight into the firmware. Is there anything that I can help do to enable this?

[2020-01-06 19:29] plbossart commented on #2084
no, that's not supported. You can only select one MCLK source. see the diagram above.

[2020-01-06 19:30] plbossart commented on #2084
And we have 2 MCLKs even when we can have up to 6 SSPs, so there is no 1:1 mapping

[2020-01-06 19:34] ranj063 commented on #2084
hmm then is the logic in the SSP driver today correct? What happens during this step https://github.com/thesofproject/sof/blob/c68605403c52ac43ac1b97dec780b9407026ec7f/src/drivers/intel/cavs/ssp.c#L367?
The last SSP to be configured is the one that gets to choose which clock source to use for the MCLK?

[2020-01-06 19:45] plbossart commented on #2084
yes, the MCLK programming is not really good. we should really have a clock driver, as 'documented' by the  /* TODO: move this into M/N driver */

[2020-01-06 19:48] ranj063 commented on #2084
@plbossart then does it make sense to fix this now along with the changes required for this bug? In which case, I'm afraid it might be beyond my expertise and probably for suited for @jajanusz to handle it?

[2020-01-07 02:12] dgreid commented on #1899
Of the two options, it would be best if we had some kind of stub that allowed Chrome OS to sign firmware.
However, having an Intel-signed SoF blob for kabby lake will make our lives much easier when it's time to move KBL off of 4.4 kernels. If that's an easier request, I'm all for going that route.

[2020-01-07 02:42] xiulipan commented on #2248
@paulstelian97 @lgirdwood will try to do some random config on daily build in CI to catch this kind of issues. It would take too much time on PR test, but I think it would be OK to do a daily scan for this.

[2020-01-07 06:58] mengdonglin commented on #2082
Close this issue since KWD is working well with cml-008-drop. So we don't need to fix this in cml-007.

[2020-01-07 06:58] #2082 closed

[2020-01-07 09:36] jajanusz commented on #2248
@lgirdwood @xiulipan It was discussed many times over few months that these tests should be added because some1 finds out every month it fails when enabling/disabling traces/debug options.
I'd not worry about travis taking more time to complete as it runs tests (successfully) in ~2 minutes, while there are CIs that take 20-40m to complete (when build is ok and it has to go on with python tests), s

[2020-01-07 10:13] jajanusz commented on #2084
@plbossart @ranj063 Yes it needs bigger refactor. MCLK and BCLK are independent, but all BCLKs will share the same source clock and then you have SCR+M/N to change freq per SSP, all (2) MCLKs also share the same source and can have 2 dividers configured.

[2020-01-07 12:43] jajanusz commented on #2251
@lgirdwood I've loaded binary mentioned here on production platform, however you are right that version string is weird:
[code]
 I'll check if everything is ok on fw side with versioning, maybe some tags messed up git tag commands used in buildsystem.

[2020-01-07 13:27] plbossart commented on #1899
@lgirdwood to make Chrome/KBL off of 4.4 kernels, we'd need to enable the SSP clock control from the machine drivers, they use clk_prepare_enable/disable for the MCLK and BCLK

https://github.com/thesofproject/linux/blob/52ec20e276a6b49f74f77b18e04cf1b1359b75ae/sound/soc/intel/boards/kbl_rt5663_rt5514_max98927.c#L102

That's an added functionality that's not needed for regular HDAudio+DMIC cases

[2020-01-07 13:37] jajanusz commented on #2251
@lgirdwood version string got fixed in #2255 , just version from tag was wrong, commit hash was ok , so you can assume that in mentioned log the binary with version 1.4.1 was used

[2020-01-07 14:08] lgirdwood commented on #1899
@plbossart ok, thanks - Btw I've pushed my kernel patches here
https://github.com/thesofproject/linux/tree/lrg/topic/kbl-fw-loader

These have only been tested on early KBL HW, this needs completed by someone with mature KBL development HW (and can sign code).

So in order to have working SOF on KBL with DMIC it looks like we would need (off the top of my head):-

1) Completion of driver codeloade

[2020-01-07 14:25] plbossart commented on #2084
just to be clear about the 'same'
- all MCLKs share the same source
- all BCLKs share the same source
- the MCLK and BCLK source can be different

agree?

[2020-01-07 14:36] jajanusz commented on #2084
Yes

Depends. It's M/N that can have only 1 source and all BCLKs share the same M/N source (with different dividers). So on ICL+ yes they share the same source, on previous platforms where you can set ECS=0, then you can have 2 sources M/N & raw XTAL.

Yes

[2020-01-07 14:42] lgirdwood commented on #2248
I also dont mind if this is daily and then bisected if there is a failure, I would not want CI to take longer than it already does given the number of time I have to manually restart it for many PRs.

[2020-01-07 15:34] lgirdwood commented on #2251
Thanks @jajanusz now merged #2255

[2020-01-07 23:44] cujomalainey commented on #1899
I will make a bug for this so we can track this independently

[2020-01-08 00:15] plbossart commented on #1899
I think we should split the work. The more urgent is to make sure there is a solution for plain vanilla HDAudio+DMIC, so that would be

a) Completion of driver codeloader.
b) firmware generation and signature
c) firmware/driver cross-validation on HDaudio+DMIC platforms
d) firmware/driver in CI

and then for Chrome
e) Machine SSP clock control.
f) smart-amp integration capabilities (used on some v

[2020-01-08 00:21] cujomalainey opened #2256 "[FEATURE] Stub loader for Kabby and Skylake platforms"
**Is your feature request related to a problem? Please describe.**
Kabby and Skylake platforms have immutable keys for loading DSP firmware which prevents SOF from being loaded without having Intel sign the blobs.

**Describe the solution you'd like**
The alternative is have a stub loaded that is signed with the intel key and have that stub load OTC signed builds through the existing communication

[2020-01-08 00:25] cujomalainey commented on #2256
@dgreid

[2020-01-08 13:11] singalsu commented on #1391
SOF PR #2259 will complete the work for this enhancement issue when it is merged.

[2020-01-08 13:13] singalsu commented on #2231
PR #2249 is now merged and this error no more happens. We can close this!

[2020-01-08 13:13] #2231 closed

[2020-01-08 13:17] singalsu commented on #2225
@Liviali155 There's need to remove eq_fir_loudness.txt for gcc build tests. So there would need to be a command line parameter passed to eq_test.sh to prevent testing it with not optimized version code.

Or alternatively make the fail an expected and required event for gcc build version test. It would be even better.

[2020-01-08 13:19] jajanusz commented on #2256
@lgirdwood @mmaka1 Doesn't it break security at all?

[2020-01-08 14:18] lgirdwood commented on #2225
@singalsu why would installing hw_params fail with GCC ? I would expect us to fail after the stream had started with some XRUNs, not before stream start ? Could this be a ```#ifdef GCC``` logic bug in the EQ ?

[2020-01-08 14:23] lgirdwood commented on #2256
@jajanusz I don't think so, IIUC it means that the stub will only boot code signed with Google Private key, in a similar way we have today with the OEM key manifest on APL+. It also wont work on any system with secure OS boot enabled in BIOS. I would say it's only useful on Chrome and Linux/Windows booting with secure boot disabled (where there is no security anyway)

[2020-01-08 14:50] singalsu commented on #2225
The `#if defined FIR_MAX_LENGTH_BUILD_SPECIFIC` code causes an intentional fail when the firmware has been configured for too long filter for the GCC build to handle. In this case the example eq_fir_loudness.txt  is such.  The -EINVAIL fail in prepare() prevents the firmware into go into endless xruns mode (and scheduler related panic that happened before PR #2221).

I wanted to keep there one fil

[2020-01-08 15:27] lgirdwood commented on #2225
@singalsu thanks got you, we can ignore this test for GCC then with big FIR lengths.

[2020-01-08 15:57] plbossart commented on #2256
and Chromebooks use the community key anyways starting with GLK, so it'd be the same level of security (essentially guaranteed by the protected filesystem, not by firmware signature).

[2020-01-08 17:57] cujomalainey commented on #2256
That is correct, we use the open source keys since we rely on our fs verification for firmware integrity. Once the device is in dev mode users can create their own firmware signed with the open source keys.

[2020-01-08 18:04] cujomalainey opened #2262 "[FEATURE] Detailed minimum requirements doc"
**Is your feature request related to a problem? Please describe.**
New partners will need to be able to identify if their DSP is capable of supporting SOF. This will help them figure out if any changes are needed to their systems to support SOF.

**Describe the solution you'd like**
A document on the SOF website detailing minimum requirements, such as MIPS, RAM etc. If we want to go the extra mile

[2020-01-08 21:20] pfps opened #2263 "[BUG] instructions on how to submit a bug refer to a non-existant file"
https://thesofproject.github.io/latest/howtos/process/bug-tracking.html results in a 404 message for me.

**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
Please also read https://thesofproject.github.io/latest/howtos/process/bug-tracking.html for further information on submitting bugs.

**To Reproduce**
Steps to rep

[2020-01-08 21:26] pfps opened #2264 "[BUG] Fedora 31 (kernel 5.4.7) SOF firmware load fails on Yoga C940 (i7-1065G7 Ice Lake)"
**Describe the bug**

Fedora 31 has SOF audo enabled, but the firmware fails to load on my Yoga C940, resulting in no audio devices being available.  The laptop has a digital microphone array, several HDA speakers, and headphone jack with microphone input.

**To Reproduce**
Boot into current version of Fedora 31.

**Reproduction Rate**
Sometimes - reason unknown

**Expected behavior**
The firmware

[2020-01-08 23:15] plbossart commented on #2263
the link should be https://thesofproject.github.io/latest/contribute/process/bug-tracking.html

@pfps where did you find this broken link?

[2020-01-09 00:14] hsanjuan opened #2265 "[BUG][CNL 1.4.1] IPC timeout when setting DAI config."
I get lots of errors from sof-audio-pci:

[code]

Pulseaudio seems to hang and fails to restart of retry:

[code]

Can anyone help? Is this normal? I built the topology files from the 1.4.1 release tag.

[2020-01-09 01:22] pfps commented on #2263
It's on the form that you get when you open a bug issue.  I've included the form in the original report.

[2020-01-09 02:27] jajanusz commented on #2263
@pfps The issue should be fixed when #2266 will be merged. Thanks for reporting!

[2020-01-09 02:28] pfps commented on #2263
Here's hoping my other bug has such a quick solution.  :-)

[2020-01-09 02:35] jajanusz commented on #2264
FW logs won't help because FW didn't even start at that stage. It failed on phase when ROM verifies FW image. Is it vanilla FW that comes in Fedora 31 ? Can you paste here fw binary that you have/had in /lib/firmware/intel/sof* ? (if I'm correct the file should be named sof-icl.ri for your model)

[2020-01-09 11:07] lgirdwood commented on #2262
I guess we could say Baytrail is current minimum ? 168k data RAM, 96k instruction RAM. I've had passthrough pipelines with volume working on baytrail at 50Hz. @mmaka1 @lbetlej @plbossart @dbaluta any comments here. We could add this to sof-docs ?

[2020-01-09 11:19] lgirdwood commented on #2265
@hsanjuan this is not normal. The only thing I can see that could be an issues is the different ABI versions for some ingredients.
[code]
Are you able to try the latest linux topic/sof-dev branch HEAD alongside topology from SOF v1.4.1 tag ?

[2020-01-09 11:24] #2263 closed

[2020-01-09 11:27] lgirdwood commented on #2264
@pfps are you able to try the latest kernel topic/sof-dev branch ? @plbossart @ranj063 fyi

[2020-01-09 11:52] lgirdwood opened #2269 "[FEATURE] Make dai.c generic and move DAI specific code into DAI drivers."
**Is your feature request related to a problem? Please describe.**
dai.c contains programming code for ssp, hda etc, this IP specific code should be in the dai driver and not the DAI core.

**Describe the solution you'd like**
Move all DAI specific logic to dai drivers.

[2020-01-09 13:09] pfps commented on #2264
Probably, but I'll need some instructions.

[2020-01-09 13:35] hsanjuan commented on #2265
Thanks, some more information from my side.

I'm now on Kernel 5.4.8. Also had problem on 5.4.7, but things worked better on 5.3.x (and maybe early 5.4.x). The Kernel 5.3 with sof v1.3 worked (sound system started fine at least), but I was also using older alsa (1.1.5 instead of 1.2.1.2) and pulseaudio (11.1 instead of 13.0).

Unfortunately it is likely not possible to me to test with special kern

[2020-01-09 13:52] zrombel opened #2270 "[BUG][APL][KD] Detection signal data a the beginning of drained data"
**Describe the bug**
BUG found on APL platform in Keyword Detection test incorporating DMIC interface. Test plays 6 second wave file on dmic injector where 3 s is silent and 3 s contain sine signal. When Dummy component detects sine signal on DMIC interface it triggers KPB component to drain history buffer and continue playing realtime data. Recorded wave file should contain ~2.1 s of silence and

[2020-01-09 15:29] lgirdwood commented on #2264
@pfps oh, sorry I'm no Fedora kernel expert, lets see what the others say before you have to try this. The ROM error may be indicative we are missing a kernel patch in the Fedora kernel (since kernel programs HW to boot ROM code). @perexg how up to date is this kernel with sof-dev ?

[2020-01-09 15:34] pfps commented on #2264
@jajanusz  Maybe.   I had been running some test Fedora kernels before, but I thought everything was upgraded to stock.  However, I ended up with /lib/firmware/intel/sof-icl.ri and /lib/firmware/intel/sof-icl-v1.4.1.ri - the latter is from the earlier test setup.
I've attached both.  (I had to attach renamed copies.)
[sof-icl-v1.4.1.ri.txt](https://github.com/thesofproject/sof/files/4041096/sof-ic

[2020-01-09 15:40] lgirdwood commented on #2265
@hsanjuan kernel ABI will catch up with FW (upstreaming means official kernel releases are usually behind though from time to time), although the intention is that MINOR ABI updates wont break anything but rather limit some functionality.

It's difficult to test all ABI combinations, since we have kernel, topology and FW - but usually CI is validating everything from HEAD (so ABI is usually at mos

[2020-01-09 15:41] perexg commented on #2264
We are using the properly signed 1.4.1 firmware binaries (from the 1.4.1 release tag from this source - github) and the driver code from 5.5 and partially from 5.6 kernels. So basically, it should be latest and I don't think that there are some fixes in the firmware loader code. The firmware boots on other machines properly.

The used firmware files: ftp://ftp.alsa-project.org/pub/misc/sof/sof-fir

[2020-01-09 15:42] perexg commented on #2264
It might be that ICL firmware files have the trouble with the signing again.

[2020-01-09 15:43] lgirdwood commented on #2270
@singalsu any inputs ?

[2020-01-09 15:46] pfps commented on #2264
Stay tuned.  I just did a dnf update and an alsa-firmware update is being installed - version 1.2.1-4.fc31 .   Maybe the last dnf update picked up the new kernel but not the new firmware.

[2020-01-09 15:53] perexg commented on #2264
You may compare files with the source:

  https://github.com/thesofproject/sof/releases
  https://github.com/thesofproject/sof/releases/download/v1.4.1/sof-icl-v1.4.1.ri

[2020-01-09 15:54] perexg commented on #2264
Just checked and the sha256sum matches... ba3b8945dd4efe6fa4738b0fb66333a2e5b63d249eab0bae498faeb7fa90e8ce

[2020-01-09 16:14] singalsu commented on #2270
@lgirdwood DMIC starts with filters muted but there's possibility the FIFOs could contain old samples when started. I'll do some checks with my APL board.

[2020-01-09 16:15] lgirdwood commented on #2264
@lbetlej  @mmaka1 any ideas on the ROM error in code loader on ICL ?

[2020-01-09 16:19] singalsu commented on #2270
Also to be safe the KPB should reject any positive detections for the first 500 ms or so after start. As seen in HDA capture many codecs output some noise in the beginning.

[2020-01-09 16:45] lgirdwood commented on #2264
@tlauda @jajanusz have you guys seen this ROM code ?

[2020-01-09 17:43] hsanjuan commented on #2265
Yes, the Opensuse stable kernels (maybe I can run a nightly kernel build too, I'll report back).

[2020-01-09 17:49] plbossart commented on #2264
I just checked that this can't possibly due to a timeout value being too low. The timeout is set at 3s, so it's for sure this comes from a bad configuration, not something that needs more time (as we've seen in the past).

[2020-01-09 21:10] hsanjuan commented on #2265
Ok, I am now testing with `5.5.0-rc5-1.g288dac0-default #1 SMP Mon Jan 6 05:28:20 UTC 2020 (288dac0)` which is more recent.

* The first pulseaudio autostart still seems to hang: need to kill it and restart it (I need to investigate more what is happening).
* After that, it starts fine but the Cannon Point-LP High Definition Audio Controller profile is set to `Off`. The `Play Hifi quality music` s

[2020-01-09 22:06] jajanusz commented on #2264
It means `ADSP CSE VALIDATION FAILED`.
It's not some timeout, CSE says that it validated image and image is invalid.
Why? Hard to say with current info, maybe mismatch in bios+CSME combo, FW has to be signed for CSME (engine itself and keys that are there), if you change there is possibility that differently signed FW is needed.

Is BIOS there stock? Isn't it some debug device?
Did it work before

[2020-01-09 22:23] hsanjuan commented on #2265
This was me starting pulseaudio and systemd trying to do the same upon request from RealtimeKit. Now pulseaudio starts fine first time.

[2020-01-10 03:09] pfps commented on #2264
The Lenovo C940 is a laptop.  The BIOS is whatever Lenovo put on it.  The report came from a debug kernel, if that matters, but I'm also getting the same error on the non-debug kernel.

This is the first time I've even got this far under Linux, so I don't know if there is some new problem with the kernel.  I did run some custom kernels a while ago, but as far as I can tell I'm running standard Fed

[2020-01-10 07:04] Liviali155 opened #2271 "[BUG][APL-nocodec]Unexpected sof error trace print after bootup"
**Describe the bug**
Unexpected sof error trace print after bootup
just an error message output

**To Reproduce**
1.sudo reboot
2.sudo sof-logger -l /etc/sof/sof-*.ldc

**Reproduction Rate**
10/10

**Expected behavior**
There is no sof error trace after boot up

**Actual result**
There is sof error trace output after bootup

[code]
There is no dmesg error log
[dmesg0110.log](https://github.com/the

[2020-01-10 07:53] perexg commented on #2264
It's a bit dup of: https://github.com/thesofproject/sof/issues/2134

@pfps: If I understand correctly, you was able to use the latest 1.4.1 ICL firmware - https://github.com/thesofproject/sof/issues/2134#issuecomment-563895508 . Or not?

[2020-01-10 08:55] zrombel commented on #2270
@singalsu I was suspecting the same about DMIC containing some old data but in my opinion is not the issue. First of all detection is triggered in right moment - after 3s of playback, if there was some data in DMIC FIFO detection would happen at the very beginning of playback. Second I've modified test so the sine signal fade over time, but data at the beginning still have full amplitude just like

[2020-01-10 09:06] lgirdwood commented on #2265
@kv2019i @juimonen any comments on the pulseaudio / UCM errors ? Are our updates all merged ?
@hsanjuan this looks better but not perfect, the other thing I would do it check out SOF git and rebuild the topologies to the latest version.
[code]
You should then be able to copy all the new *.tplg files to ```/lib/firmware/intel/sof-tplg/```

[2020-01-10 10:05] lgirdwood commented on #2271
@singalsu any ideas ?

[2020-01-10 10:22] lgirdwood commented on #2264
@jajanusz @lbetlej IIUC, we may have two CSME BIOS version on production ICL that require different audio FW binaries now (same code but signed differently )?

[2020-01-10 10:37] lgirdwood commented on #2270
@singalsu @zrombel are we sure we have cleared all buffers prior to DMIC trigger start ?
@singalsu how big is the DMIC FIFO ? does it need cleared prior to start ?

[2020-01-10 10:46] singalsu commented on #2271
Yes, this is known and harmless. But it can be fixed easily. I actually tried once but static code analysis nagged unnecessarily about it so I kept it as is. I can do it now another way.

[2020-01-10 10:48] lgirdwood commented on #2271
@singalsu ok, thanks. Tagged for v1.5

[2020-01-10 10:50] zrombel commented on #2270
@lgirdwood is there a way to explicitly clear buffers? This issue can be reproduced on first iteration, right after ADSP power on and in that case i thing that buffers are empty.

[2020-01-10 10:52] lgirdwood commented on #2270
@zrombel pipeline should clear buffer before trigger start. If in doubt check with @tlauda

[2020-01-10 14:22] hsanjuan commented on #2265
Actually, forgot to mention that I was testing with topology built from master.

Are ALL needed? I just copied the  sof-hda-generic-4ch.tplg and set the sof-hda-generic.tplg symlink to it.

[2020-01-10 15:06] plbossart commented on #2264
that would be a huge monkey wrench if we can't detect which CSME version is being used...

[2020-01-10 15:12] pfps commented on #2264
@perexg Aaah, I had forgotten that I was able to get the firmware loaded once. I didn't have time then to check out what happened with sound though.
But I was running an unsigned kernel so I had secure boot turned off. (I'm still amazed that Lenovo lets me turn of secure boot - very refreshing.)

So I turned off secure boot and ... the firmware loads!

Jan 10 10:00:29 idefix kernel: sof-audio-pci

[2020-01-10 15:15] paulstelian97 commented on #2264
You'll need to provide what topology file you are using, kernel version, firmware version (the logs from your last reply help). I'd argue there is a mismatch between topology and firmware that could cause a lack of soundcards. Feel free to open new bug in that case. If you see a topology load failure in the logs do provide it as well.

[2020-01-10 15:32] lgirdwood commented on #2265
@hsanjuan ok, good - you have updated the correct file.
@kv2019i @juimonen any clues on the pulseaudio and UCM stuff ?
@kv2019i does the HDMI unplugged event need any of your latest HDA/HDMI kernel patches ?

[2020-01-10 15:34] perexg commented on #2264
@pfps : Show the boot log again.

[2020-01-10 17:37] kv2019i commented on #2265
@lgirdwood wrote:

No extra patches needed for HDMI, 5.5-rc5 has also the common HDMI driver support in.

We'd need a bit more data to try to see what is happening. @hsanjuan could you post the UCM file you have installed for sof-hda-dsp, the kernel config (to see which HDA codec driver you have built with) and a bit more of the pulseaudio log (some of the errors are harmless, Pulseaudio tries to

[2020-01-10 19:30] pfps commented on #2264
@prexg : I did a new boot, and now things are even better.  I don't know why the last boot ended up in a state with no soundcards.  Here is some current state

idefix testing> aplay -l
**** List of PLAYBACK Hardware Devices ****
card 0: sofhdadsp [sof-hda-dsp], device 0: HDA Analog (*) []
  Subdevices: 1/1
  Subdevice #0: subdevice #0
card 0: sofhdadsp [sof-hda-dsp], device 1: HDA Digital (*) []

[2020-01-10 21:28] pfps commented on #2264
So I rebooted this morning and most everything was working!  I could record using the digital mic and play on the main speakers.  Integration with PulseAudio wasn't perfect but usable.  I've attached the boot log.
[boot.txt](https://github.com/thesofproject/sof/files/4048032/boot.txt)
A new Fedora kernel came out so I upgraded and rebooted.  The firmware loaded but something later failed.  It look

[2020-01-10 21:58] pfps commented on #2264
I rebooted five or six times into the kernel that was working this morning (5.4.7).  Each time I got the error about failing to init iDisp1.  I'm not sure whether this is due to some other change in the upgrade (but I didn't see anything that looked relevant) or whether there is some timing or other environmental issue that changed behaviour.

[2020-01-10 21:59] lgirdwood commented on #2264
@kv2019i any inputs on the HDMI error ?
[code]

[2020-01-10 22:16] perexg commented on #2264
Latest pulseaudio have UCM fixes from me. I need to manage the pulseaudio update for Fedora (I am not the maintainer for this package).

Speakers: https://bugzilla.kernel.org/show_bug.cgi?id=205755

[2020-01-10 22:31] perexg commented on #2245
It looks like a serious issue. When will be 1.4.2 released?

[2020-01-10 22:39] plbossart commented on #2245
It's annoying but not necessarily a crippling problem IMO.

The microphone users will typically always use the full-band 48kHz input, the 16kHz path is really intended for application such as hotwording/event detection. switching between the two cases is unlikely.

To be honest, I don't even know why this path would be exposed to users in a regular HDaudio+PulseAudio case and without additional no

[2020-01-11 09:47] hsanjuan commented on #2265
Thank you so much for helping me through! I very much appreciate it.

I have been using the alsa provided version https://github.com/alsa-project/alsa-ucm-conf/tree/v1.2.1.2/ucm2/sof-hda-dsp (in the 5.4.x I had to rename it back to `sof-skl_hda_card/` but now the devices are correctly named `sof-hda-dsp`). It seemed to me that this was very much based on the original lenovo-provided UCM file (whic

[2020-01-11 16:12] lgirdwood commented on #2264
@perexg I'm also assuming your next signed kernel will have the updates in the unsigned kernel that's working for @pfps  ? The OS boot code signing should have no impact on DSP capability or DSP code signing (two different code signing mechanisms).

[2020-01-11 16:28] lgirdwood commented on #2245
@plbossart IIUC, it looks like the 48kHz path on DMIC is also causing the issue when switching between PCM6 and 7 ?

@xiulipan @fredoh9 @zrombel it seems like we have a small hole in the CI stress test coverage (i.e. alternating playback and capture devices). We need a test that stress tests alternating capture/playback to multiple PCM devices (like the test in this report).

[2020-01-11 16:52] pfps commented on #2264
@lgirdwood  Hmm, that leaves me even more confused.

But just now I rebooted (after making some minor changes) and things are working again.   This is with a signed kernel - Fedora 5.4.7-200.fc31.x86_64+debug - but with secure boot off.
 I'll try to figure out what makes the difference.  I'm going to keep kernel logs for my attempts.

[2020-01-11 22:46] pfps commented on #2264
I tried rebooting quite a few times this afternoon.  I didn't find any method that guaranteed a success.  The last seven times I just tried doing the same thing - restart from the XFCE logout dialog box without touching the sound system beyond checking whether it was working using aplay -l.  Five restarts were successes and two were failures.  Each time I recorded the boot journal using journalctl

[2020-01-12 12:23] p-try opened #2275 "[BUG] Microphone array not working on Lenovo Yoga C740 (Comet Lake, i7-10510U)"
**Describe the bug**
On my Lenovo Yoga C740 with a Comet Lake CPU (i7-10510U), the dual-microphone array does not work. Speakers are working. In GNOME settings, "Input device" shows "Multichannel input (sof-hda-dsp)", but the input monitor bar (below the input selection combo box) does not register any input noise and Audacity records only silence.
I have "dmic0" and "dmic1" in alsamixer, though.

[2020-01-12 17:02] FantasyCookie17 commented on #1899
I could test software made for solving this issue, as I have an AKALI360 as well. However I don't think I'm good enough at programming to seriously contribute to the development apart from this. Does the `alsa-firmware` package available in most distros contain the SOF?

[2020-01-13 02:23] ClarexZhou commented on #2190
Close for S3 is not supported with ubuntu os. Close this issue and check the case after R81 branch out with latest SOF driver and FW.

[2020-01-13 02:23] #2190 closed

[2020-01-13 02:46] xiulipan commented on #2245
@lgirdwood We have had a test (https://github.com/thesofproject/sof-test/blob/master/test-case/check-playback.sh with -r 3 option) for this situation after we find the issue (https://github.com/thesofproject/sof/issues/2176) in master branch and got that fixed (https://github.com/thesofproject/sof/pull/2223).

[2020-01-13 03:04] Liviali155 commented on #2271
Issue can also be reproduced on CML Mantis with  ALC3204 in HDA mode

Tried with PR #2272 ,error not seen on both APL NOCODEC and CML Mantis with  ALC3204 in HDA mode

[2020-01-13 03:35] keyonjie commented on #2113
Hi @aiChaoSONG can you try if reverting the below commit will fix the issue:

https://github.com/thesofproject/sof/commit/078c3c1a71390c8c69ae22d3854956891e8fb5fd

[2020-01-13 03:53] #2225 closed

[2020-01-13 03:54] Liviali155 commented on #2225
reference the previous  comment of lgirdwood

[2020-01-13 05:33] dengyangchao opened #2279 "[BUG][CML]Ipc timed out for 0x60040000 size 12 after reboot"
**Describe the bug**
Pulse aduio enabled, and Ipc timed out for 0x60040000 size 12 after reboot
When issue occur, system get stalled and hard to use
**To Reproduce**
1.Reboot system via"sudo reboot"
2.check dmesg via "dmesg -w"

**Reproduction Rate**
5/5

**Expected behavior**
system reboot normal

**Impact**
Ipc timed out for 0x60040000 size 12

**Environment**
Platform: CML Chrome with onboard c

[2020-01-13 05:40] aiChaoSONG commented on #2113
@keyonjie after reverting 078c3c1, still cannot trigger in s16_le.

[2020-01-13 06:01] juimonen commented on #2275
the boot log doesn't look that bad... probably your pulseaudio is using sw volume, so could you check with amixer if the dmic mute switch is on (this is not visible in alsamixer), so something like: "amixer contents | grep "Dmic0 Capture Switch" -A2"... also you could check with "dmesg -w" during recording runtime do you get some other errors? Then you could try just bypassing pulseaudio and tryin

[2020-01-13 06:09] aiChaoSONG commented on #2224
this issue is not a sof issue nor kernel issue, close for now

[2020-01-13 06:55] mengdonglin commented on #2084
Fixes #2276 is available on https://github.com/thesofproject/sof/tree/tgl-003-drop-stable

[2020-01-13 08:30] aiChaoSONG commented on #2113
After bisect, this issue is caused by 7003c1f,  after reverting 7003c1f, issue not reproduced on master.
@ktrzcinx Please take a look, and fix this.

[2020-01-13 08:44] dengyangchao commented on #2279
Caused by master 91fb594, and may related arecord HW:0,8

[2020-01-13 09:46] sinahuang opened #2280 "[CML][BUG ]Multi-pipeline: all streams killed when DSP core utilisation > 100%"
**Describe the bug**
Multi-pipeline display "input/output error" when playback/capture more than 6 piplines at the same time. Aplay/arecord function can't be effected after issue occured. Can recover it if playback/capture not more than 6 piplines.

**To Reproduce**
1.sudo reboot
2.Run "./multiplex_pipeline-test.sh pcm0p pcm2p pcm3p pcm5p pcm7p pcm1c pcm4c".

scripts:
[multiplex_pipeline-test.txt]

[2020-01-13 11:03] lgirdwood commented on #1899
@FantasyCookie17 AKALI360 should be also be a good platform for testing thanks. FW binaries will be heading for linux-firmware package, we are still sorting out mechanics of this.

[2020-01-13 11:56] lgirdwood commented on #2264
@pfps thanks for this testing. Sorry if your confused a little on the code signing, the OS and DSP FW are two separate signing systems, they _should_ have no impact on each other.
@kv2019i fyi, are we missing one of your HDMI updates here or any comments here? It looks like we may have a race between display and audio init ?

[2020-01-13 12:14] kv2019i commented on #2264
@lgirdwood wrote:

This looks like a known bug I fixed in i915 driver and merged to 5.5-rc kernel. If  the tested Fedore kernel (5.4.8-200.fc31.x86_64+debug), does not have these patches, this is probably the reason.

87c1694533c9 drm/i915: save AUD_FREQ_CNTRL state at audio domain suspend
1580d3cdddbb drm/i915: Fix audio power up sequence for gen10+ display

If not, then this is potentially a new

[2020-01-13 12:33] perexg commented on #2264
@kv2019i : Thanks for the comment. The video driver updates has not been backported yet. I will do this ASAP.

[2020-01-13 14:28] kv2019i commented on #2265
@hsanjuan wrote:

Ok. That seems to be the (last?) remaining issue. In 5.4/5.5 we switched to a common HDMI codec driver. This unfortunately impacts the user-space interface seen by UCM. The old Lenovo UCM file you provide a link above, is written for the old driver (it has rules like "cset "name='hif5-0 Jack Switch' on"). The upstream 1.2.1.2 version https://github.com/alsa-project/alsa-ucm-conf/

[2020-01-13 15:40] lgirdwood commented on #2245
@plbossart @xiulipan ok thanks, I now have #2223 in the 1.4-stable branch

[2020-01-13 15:40] pfps commented on #2264
@perexg Given that SOF appears to be out of Fedora 31 for now, is Rawhide suitable for testing SOF (and the fixes for the other speakers)?
@lgirdwood No problem.  I'm interesting in getting the microphone array on my machine to work and have some time now to put into getting to do so.

[2020-01-13 16:20] lgirdwood commented on #2275
@p-try thanks, would be good to see your arecord dmesg and cmd line with pulseaudio disabled as suggested by @juimonen

[2020-01-13 21:52] hsanjuan commented on #2265
OK, in the meantime I asked the openSUSE folks to enable this:

https://bugzilla.opensuse.org/show_bug.cgi?id=1160819

[2020-01-14 04:55] sinahuang commented on #2280
This issue is caused by commit https://github.com/thesofproject/sof/commit/91fb594bd9455fcf8415a588cf45e6294ac46e0e

[2020-01-14 05:39] ClarexZhou commented on #2280
@mmaka1 could you please check first?

[2020-01-14 05:40] dengyangchao commented on #2279
@mmaka1   please help to check this

[2020-01-14 08:25] mengdonglin commented on #2113
@ktrzcinx can you please check this regression?

[2020-01-14 08:28] xiulipan opened #2890 "[DUT][ICL] random error: cl_dsp_init: timeout HDA_DSP_SRAM_REG_ROM_STATUS read"
random dsp error message will appear on ICL RVP when FW need to be loaded(boot/runtime_pm_resume/s3_resume)

<details>
 <summary>dmesg example</summary>

[code]
</details>

previous discussion in https://github.com/thesofproject/sof-test/pull/16
@bardliao @ranj063

[2020-01-14 08:29] aiChaoSONG commented on #2113
@mengdonglin  I have sent a pr to fix this

[2020-01-14 08:29] ktrzcinx commented on #2113
And I approve it

[2020-01-14 08:30] ktrzcinx commented on #2113
* @aiChaoSONG fix PR

[2020-01-14 10:34] #2271 closed

[2020-01-14 10:34] Liviali155 commented on #2271
PR #2272  merged,closed

[2020-01-14 11:07] qinwan-hp opened #2286 "[BUG][CML]Can't detect Mic jack of combo headset"
**Describe the bug**
Plug in headset, the headphone jack can be detected, but the mic jack can seldom to be detected.
If prohibit the codec runtime auto-suspend, the headphone and mic jack can be detected normally.
If change to hda driver, the headphone jack and mic jack can be detected normally.

**To Reproduce**
Plugin headset

**Reproduction Rate**
Almost near to 100%

**Expected behavior**
Bot

[2020-01-14 13:31] paulstelian97 commented on #2280
Is it possible to dynamically use a different oscillator dependent on load? As in using the higher performance one when there is need.

[2020-01-14 20:42] lgirdwood commented on #2264
@pfps @perexg we are now validation testing v1.4.2 should be able to sign and release it next week.

[2020-01-14 20:48] #2113 closed

[2020-01-14 20:50] lgirdwood commented on #2279
@singalsu any comments on the DMIC ?

[2020-01-14 21:14] lgirdwood commented on #2280
@plbossart any ideas, nothing obvious in any of the logs. Not sure yet if it's SDW only.

[2020-01-14 21:15] lgirdwood commented on #2280
@sinahuang can you retry this with 2,3,4,5 streams - it may still be an issue with less streams.

[2020-01-14 21:20] p-try commented on #2275
Thank you very much for your answers and suggestions.

I stopped pulseaudio using
[code]

`dmesg -w` during `arecord test.wav`
[code]

`amixer contents | grep "Dmic0 Capture Switch" -A2`
[code]

[2020-01-14 21:44] lgirdwood commented on #2275
@p-try can you try arecord when pulseaudio is disabled and send the dmesg. Fwiw, there will be some dmic fixes in 1.4.2 due out next week.

[2020-01-15 01:22] sinahuang commented on #2280
Test with 2,3,4,5 streams, issue can't be reproduced. Issue only can be reproduced when more than 6 piplines.

[2020-01-15 01:48] plbossart commented on #2280
on this hardware there are 3 playback devices and 2 capture ones.
What you are doing is enabling all of them, and then add HDMI.

I suspect you must run out of resources at some point and underflow. That would explain why there's no error in dmesg, but you consistently cannot play

Rather than using a scripts, please try manually adding a stream for each of the devices in a different ssh terminal,

[2020-01-15 05:38] sinahuang commented on #2280
On CML-H Laptop there are  5 playback devices and 2 capture ones.
[code]

If I manually adding a stream for each of the devices in a different ssh terminal, the error happened after added the 7th devices.

 dmesg logs:
[dmesg.log](https://github.com/thesofproject/sof/files/4063229/dmesg.log)
[kern.log](https://github.com/thesofproject/sof/files/4063230/kern.log)
[sof_error_trace.log](https://githu

[2020-01-15 06:51] dengyangchao commented on #2279
When issue occur, do suspend-resume via command "sudo rtcwake -m mem -s 10" can make it back to work, but runtime PM always active.
[code]

[code]
[dmesg.log](https://github.com/thesofproject/sof/files/4063418/dmesg.log)
[error-trace.log](https://github.com/thesofproject/sof/files/4063419/error-trace.log)

[2020-01-15 11:21] lgirdwood commented on #2280
@tlauda @mmaka1 any comments here ? Are we running out of FW resources with 7 streams ? I'm assuming cycles ? Would scheduler spit out debug if scheduling requirements are not met ?

[2020-01-15 11:25] lgirdwood commented on #2279
@ranj063 @kv2019i it looks like we have a lot of HDMI DAI config IPC errors prior to suspend, and it even looks like we are sending this message during suspend ?

[2020-01-15 12:49] kv2019i commented on #2279
@lgirdwood
The HDMI errors don't look right, but I suspect they are not the rootcause but rather second order damage. The first error seems to be at roughly 14.495sec in the bootprocess:

[   14.494840] sof-audio-pci 0000:00:1f.3: ipc tx: 0x60040000: GLB_STREAM_MSG: TRIG_START
[   14.494848] sof-audio-pci 0000:00:1f.3: pcm: open stream 0 dir 1
[   14.494854] sof-audio-pci 0000:00:1f.3: period min

[2020-01-15 14:09] singalsu commented on #1391
This feature is complete since SOF commit c0b9b4057e4dc408c9af5c9695b9d052ab1d3702 .

[2020-01-15 14:09] singalsu commented on #1391
This is OK to close!

[2020-01-15 14:09] #1391 closed

[2020-01-15 14:12] paulstelian97 commented on #2280
If you revert 91fb594 you can play more than 6 just fine? From what I see that commit simply selects a lower power clock for the DSP. I understand that you did identify it as the culprit in the bisect but it is not clear to me if reverting it would fix it (with the side effect of higher power consumption).

[2020-01-15 14:30] lgirdwood commented on #2280
@paulstelian97 @sinahuang good find, I did not see that in the log.
@mmaka1 looks like we have hit our CPU limit with the low power clock, It looks like we need a more friendly message here to help the users understand this. We should also continue with the streams 0 - 5 and kill stream 6 if the scheduler can never meet it's deadline (as the newest work)

[2020-01-15 14:31] lgirdwood commented on #2172
Lets initially pencil in for 1.6

[2020-01-16 02:48] sinahuang commented on #2280
If you revert https://github.com/thesofproject/sof/commit/91fb594bd9455fcf8415a588cf45e6294ac46e0e , issue can't be reproduced.

[2020-01-16 03:36] plbossart commented on #2280
@mmaka1 If we use the 120MHz ring oscilator, can we use 4 cores? Wondering if we could move some of the HDMI stuff to different cores.
Or when we use HDMI we switch to 400MHz, it's not a low-power usage anyways.

[2020-01-16 03:42] dengyangchao commented on #2279
Disable UCM issue can't be reproduced,  update the UCM via https://github.com/thesofproject/alsa-ucm-conf/pull/25 issue can't be reproduced.
So, close issue.

[2020-01-16 08:54] cujomalainey opened #2293 "[BUG] Traces not being flushed"
**Is your feature request related to a problem? Please describe.**
When tracing, if no additional traces come after your trace and there was a flush in the middle of the traces then it appears SOF hung in the middle of your code, this is not ideal.

**Describe the solution you'd like**
A simple timer to track the last trace, and flush the buffer if no additional traces arrive in that time.

**Desc

[2020-01-16 10:38] lgirdwood commented on #2280
@sinahuang this is a kconfig option, between LP and HP clocks, so it's now a configuration limitation rather than a bug.
To me this issue is now more about why stream 0 - 5 are being killed when stream 6 puts CPU utilisation > 100%

[2020-01-16 10:42] lgirdwood commented on #2279
@dengyangchao I have to reopen this issue as the IPC timeout still exists. i.e. FW should not IPC timeout and crash under any circumstances.

[2020-01-16 10:56] lgirdwood commented on #2293
@cujomalainey ACK, my understanding is that we should be flushing trace when buffer reaches watermark or after a short timeout (whichever is sooner). Fwiw, the trace_error() data is synced into the smaller error buffer, but it's probably too small for general debug.

[2020-01-16 11:05] lgirdwood opened #2295 "[FEATURE] host XRUNs should not stop DSP pipelines"
**Is your feature request related to a problem? Please describe.**
An XRUN on the host side will stop the DSP pipeline.
[code]

**Describe the solution you'd like**
Pipeline to ramp last host period to silence and play silence (with ramp up) until new host data is available.

@singalsu does the ramping here sound reasonable for host playback XRUNs

[2020-01-16 11:54] lgirdwood opened #2296 "[BUG] APL: Multiple-pipeline: HDA playback host DMA is starved and stream is stopped."
**Describe the bug**
Seeing this on several Jenkins CI results for multiple PRs.
[code]

**To Reproduce**
Run the multiple-pipeline test. i.e.
https://sof-ci.01.org/sofpr/PR2285/build4541/devicetest/APL_UP2_PCM512X/multiple-pipeline-playback.sh/slogger.txt

Other configuration is default CI.

[2020-01-16 13:14] cujomalainey commented on #2293
This very well may be mute, we may have been looking at old code given https://github.com/thesofproject/sof/commit/b37efd554f39ae00af1e24350101360604d08164#diff-b855e4ebd5e9885452d01c6822f59b35

[2020-01-16 13:35] paulstelian97 commented on #2295
For ramping to silence there needs to be enough of a warning beforehand in order to make a ramp that isn't that abrupt, @singalsu Is the 1ms (default pipeline half-buffer) enough to make a ramp-down that isn't stupidly abrupt when it happens?

There were some stubs related to firmware XRUN handling, and it's a somewhat recent change that the default config has become to simply not handle them and

[2020-01-16 15:17] plbossart commented on #2280
well, you can't really guarantee a quota for previous allocated streams, and only fail for new streams.  when you end-up exceeding the available resources, I don't think we can gracefully exit, it's just completely random which stream underflows and gets killed.

[2020-01-16 15:21] paulstelian97 commented on #2280
A priority system maybe? Or at least only one stream should Xrun rather than all, even if it's not that deterministic which of them?

[2020-01-16 15:33] plbossart commented on #2280
IIRC with EDF scheduling, once you exceed the total resources there's no way you can guarantee what happens in a predictable way. EDF is optimal until it breaks.

[2020-01-16 15:43] mmaka1 commented on #2279
Having #2285 merged, you could revert the clock back to 400MHz, and grep 'perf' keyword to find cpu peak reported. If >120K then FW execution takes too long and may result in DMIC overruns and other bad behavior. Would be interesting to see when that high load happens.

[2020-01-16 15:57] plbossart commented on #2295
On 1/16/20 5:05 AM, Liam Girdwood wrote:

when would you see an XRUN on the host side first (where the bandwidth
is typically orders of magnitude larger than the audio link and we use
larger buffers and burst transfers). XRUNs are usually due to issues on
the link side due to shallower FIFOs/smaller buffers and isochronous
transfers.

And here is looks like a DAI issue first?

[2020-01-16 20:24] lgirdwood commented on #2295
Host usually has high bandwidth, but the latency is not guaranteed especially when data is coming from a media with occasional high latency like MMC. Fwiw, aplay buffer defaults are especially bad with MMC.

Yes, you are right, I did not see the "_link_" part in the HDA trace, that being said we should not stop the stream on XRUNs.

[2020-01-16 20:26] lgirdwood commented on #2279
@mmaka1 are you suggesting high load could cause the IPC timeout in this issue ?

[2020-01-16 21:54] lgirdwood commented on #2280
We can timestamp a stream/task at startup and if EDF is consistently above a threshold for X iterations we can kill the newest task until EDF stabilises. It's not perfect but it's a lot better than all streams stopping.
It's probably also feasible to determine whether we should start a stream given current EDF utilisation (per core) and pipeline budget, again not perfect but better than killing al

[2020-01-16 22:20] plbossart commented on #2295
@lgirdwood I don't really believe in concealment for things that are fundamentally broken. You will just delay the inevitable and muck with timestamps, which could e.g. ripple into A/V sync, not to mention pops due to discontinuities if your last sample was full-scale.

Why not play the last buffer backwards while we are at it, that would keep the same spectral content and bpm :-)

If the data pro

[2020-01-16 22:22] plbossart commented on #2280
Right, I think some resource management is inevitable and expected in fact with EDF.

[2020-01-17 03:05] cujomalainey commented on #2293
Reading top of tree this looks like it should be working, I will follow up with Ben offline and see if we can trace why some of the traces are falling being. In the mean time I will convert this to a bug report.

@bzhg can you add the snippets (traces and logs) just so we have context?

[2020-01-17 07:46] aiChaoSONG opened #2298 "[BUG][cml-008-patch-backport] switch recording format on wov pipeline while speaker playback causes dsp panic"
**Describe the bug**
while speaker playback, if we run arecord with s16_le via wov pipeline for several times, then use s24_le run wov pipeline, there will be dsp panic.

**To Reproduce**
1.	Reboot
2.	Play sound via speaker: aplay -Dhw:0,5 -f dat -c2 -i -vvv ./somewave.wav
3.	Run arecord -Dhw:0,8 -M -N -f s16_le -r 16000 -c 2 -i -vvv -d 4 –buffer-size=68000 ./wov.wav, and trigger recording
4.	Run

[2020-01-17 10:08] lgirdwood commented on #2295
@plbossart XRUNs in userspace or disc IO, whilst uncommon do happen so I don't think we can just stop the streams. We should at least try and continue and let userspace then manage any recovery or stream state change.

Pops will still happen if last sample is full scale and we stop the stream.

Fwiw, aplay defaults are not well suited to MMC (or any source with occasional high latency), they can s

[2020-01-17 10:10] lgirdwood commented on #2280
@tlauda @mmaka1 @lbetlej do you guys have EDF resource management in mind atm ?

[2020-01-17 10:12] lgirdwood commented on #2293
@cujomalainey ok, it's marked as required fix for v1.5

[2020-01-17 10:30] lgirdwood commented on #2298
@mrajwa @keyonjie not sure if it's related, but we do get a KPB allocation error
``
 CORE  LEVEL      COMP_ID                TIMESTAMP            DELTA                FILE_NAME	CONTENT
    0      1          MEM          81683566.718750  81683568.000000      src/lib/alloc.c:273 	error: 155 blocks needed for allocation but only 154 blocks are remaining
    0      2      KEYWORD         147849475.104

[2020-01-17 11:29] mrajwa commented on #2298
@lgirdwood, allocation error log is just a misleading warning which really says "there is not enough memory for one of the requested memory pool" and since we don't see concecutive kpb_prepare(0 error message saying sth like "allocation of histor buffer failed" it means that the next memory pool was sufficient to fullfill the request.... I have to go back to https://github.com/thesofproject/sof/pu

[2020-01-17 11:55] plbossart commented on #2295
It's not really our job to compensate for aplay using bad defaults...
I'd rate this feature as a very low priority, and I don't see which products would actually be enhanced by this.

[2020-01-17 13:01] paulstelian97 commented on #2295
I'd argue that on Xrun the pipeline ought to either play silence until userspace resolves it or trigger a pause, not outright stop. But if userspace can handle the stop (I see about 10 Xruns per minute on my system with some non-default buffer sizes doing arecord|aplay and although the Xruns cause issues with the sound at times, just wait a few seconds for the next Xrun which fixes it, and I only

[2020-01-17 14:00] lgirdwood commented on #2298
@mrajwa fwiw, @mmaka1 is thinking over changes to future trace APIs

[2020-01-17 14:48] zrombel opened #2300 "[BUG][ICL][TGL][WHL] - Stream stall in mixer topology"
**Describe the bug**
Test is creating topology containing 3x Host-Buffer piplines connected to mixer pipeline. After sending trigger_start to host pipelines data is not copied through playback pipelines.
Bug is audio format independent.

**Topology**
[code]

**To Reproduce**
Run Python test incorporating slim driver:
tests/sof/fw_12_mixer/test_00_mixer_playback.py::TestMixerPlayback48000Hz32b32b2c

[2020-01-17 15:27] plbossart commented on #2295
Nothing is going to help if your system underflows 10 times per minute.

[2020-01-17 15:33] paulstelian97 commented on #2295
Yeah in my case it's caused by the much smaller buffer sizes than the aplay/arecord defaults (768 bytes instead of ~64 kB) but just wanted to point out how they are handled. Of course I wouldn't expect that many if I left it with the default. What I mentioned was that play-silence can be useful in case of the odd-xrun, and maybe it's less visible to the user as well as recovery can be faster in th

[2020-01-19 08:46] YvonneYang2 commented on #2280
Do 6 multipiplines aplay/arecord , and pause/release on aplay0,2(RT1308) can also cause IO error.
May be related to this issue?

e.g
Terminal 1: aplay -Dhw:0,0 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i
Terminal 2: aplay -Dhw:0,2 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i
Terminal 3: aplay -Dhw:0,6 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i
Terminal 4:

[2020-01-19 13:06] p-try commented on #2275
I haven't had any luck with disabling pulseaudio using [these](https://kodi.wiki/view/PulseAudio/HOW-TO:_Disable_PulseAudio_and_use_ALSA_(without_removing_PulseAudio)_for_Ubuntu#Removing_PulseAudio_from_Ubuntu_-_why_it_may_not_be_such_a_good_idea) instructions (the pulseaudio process was still running) so I removed it completely using `apt purge`.

I still get the same dmesg when running arecord:

[2020-01-20 09:02] juimonen commented on #2275
@p-try the dmesg messages you have should not be fatal... could you still try explicit hw definitions with arecord, so omething like: "arecord -Dhw:0,6 -d 10 -f S16_LE -c 2 -r 48000 test.wav " ?

[2020-01-20 09:45] lgirdwood commented on #2280
@YvonneYang2 yep, any EDF overload will currently kill all streams and this is currently showing in low power clock mode. We are looking at EDF resource management.

[2020-01-20 15:04] singalsu commented on #2295
It's not simple to conceal gaps. Doing something like described (attenuate and repeat a block) would make just funny/annoying banjo sounds. The Rx speech error concealment in early GSM phones was like that :^)

[2020-01-21 01:34] #2084 closed

[2020-01-21 10:23] slawblauciak commented on #2275
Can you please post the full dmesg log? Thanks

[2020-01-21 10:32] slawblauciak commented on #2245
Can you please confirm whether this is fixed as of #2223 ?

[2020-01-21 10:36] slawblauciak commented on #2134
Any updates on this issue? Is it still relevant in the light of the aforementioned commit?

[2020-01-21 10:39] slawblauciak commented on #2123
Is this issue still reproducible on master?

[2020-01-21 10:46] lgirdwood commented on #2134
@slawblauciak I've tagged v1.4.2 now as it passes all validation on the development boards, I think we just need @lbetlej to arrange the signing now.

[2020-01-21 12:35] #2217 closed

[2020-01-21 13:09] pfps commented on #2134
I think that this can be closed.  I have been able to load the software on my Yoga C940.  (There are other issues with this laptop, but those are reported elsewhere.)

[2020-01-21 14:08] paulmenzel commented on #2134
@pfps, could you please paste the relevant log lines (including the Linux version, and firmware version) for the archive and reference?

[2020-01-21 14:35] danielcherubini commented on #2134
@pfps could you update this page https://wiki.archlinux.org/index.php/Lenovo_Yoga_c940 with the update to SOF, and it would be nice if you could add any other issues you have?

[2020-01-21 17:03] pfps commented on #2134
@paulmenzel OK.
I've attached information from a successful load and semi-successful startup.  Sometimes the load succeeds but the startup fails.  I think that this has been addressed recently, but the current Fedora 31 kernel doesn't have SOF so I'm waiting for everything to be available in Fedora Rawhide.
@danielcherubini I did some minor changes to the Arch page.
[Lenovo-C940-SOF.txt](https://g

[2020-01-21 17:15] paulmenzel commented on #2134
Thanks. The gist should be.

[code]

No idea what version 1:1:0-fcf6c is.

[2020-01-21 17:26] perexg commented on #2134
It's wrong tag interpretation in the released binary firmware from Intel. Use 'fcf6c' git hash prefix only. It should be fixed with the recent firmware files. It's 1.4.1 firmware. https://github.com/thesofproject/sof/commit/fcf6c8c416f790ad3d9f76bf75b5b528c11896c7

[2020-01-21 20:58] chrysophylax commented on #2256
As a Linux end-user, I'd gladly rather take no secure boot and have working sound :+1:

[2020-01-22 10:34] jajanusz opened #2311 "[FEATURE] Refactor include/sof/drivers"
**Is your feature request related to a problem? Please describe.**
Headers in include/sof/drivers should be platform-agnostic, however there are symbols specific for platform/vendor (f.e. in ssp/mn/mu). These files are included by all platforms so only generic symbols should be there.

**Describe the solution you'd like**
Non-platform-agnostic symbols should be moved to `platform/*` folders and ju

[2020-01-22 11:18] lgirdwood commented on #2256
@cujomalainey @dgreid @chrysophylax I'm working on some prototype code now, will test on APL.

[2020-01-22 12:54] singalsu opened #2312 "[BUG] ASRC pull mode implementation is missing"
**Describe the bug**
The ASRC capture direction where pull mode is set by topology does not work for other than 1:1 rates conversion. Capture at lower or higher rate than DAI rate results to xruns. This is because ASRC is using only push mode code.

**To Reproduce**
arecord

**Reproduction Rate**
100%

**Expected behavior**
Working capture

**Impact**
Showstopper for capture from non-synchronous D

[2020-01-22 12:55] singalsu commented on #2312
@lgirdwood ETA for PR submit is this week.

[2020-01-22 20:23] p-try commented on #2275
@juimonen Your command worked, sound was recorded properly this time. Does this mean pulseaudio is the problem?

The full dmesg is here: [https://drive.google.com/file/d/1UZZbn0VNiJHv-Npxbo3Bl0ZutHlPD6kv/view?usp=sharing](https://drive.google.com/file/d/1UZZbn0VNiJHv-Npxbo3Bl0ZutHlPD6kv/view?usp=sharing)

[2020-01-22 21:00] juimonen commented on #2275
@p-try yes I think it is. Your pulseaudio probably doesn't create a source for dmic at all... you now have several input sources from alsa, and pulseaudio just doesn't handle the naming (it is a quite new thing, so pulseaudio paths configuration just doesn't support it) You could check for example with "pactl list sources".
We are working on this in upstream by trying to switch pulseaudio to use u

[2020-01-23 08:58] paulstelian97 opened #2318 "Add the equivalent of Linux COMPILE_TEST to SOF"
Maybe we need to eventually add some sort of equivalent to COMPILE_TEST from the kernel into SOF? This way we can avoid situations where the default configuration works but others may break. There are several past compile errors in non-default configurations (e.g. enabled debug or enabled verbose trace) and who knows if there aren't any current errors?

Suggestion is to add this COMPILE_TEST to SO

[2020-01-23 09:56] jdrzaszcz opened #2320 "[BUG] Mixed channnels on sdw_alh_loopack_volume"
**Description**
When running simultaneous playback and capture on SdW interface on internal loopback with volume components on both pipelines after few iteration there are mixed channels on recorded files. It heppend on 8 channels audio formats.
When running the same test without volume components this problem didn't occur.

**Topology**
[code]
**To Reproduce**
Slim Driver python test:
On WHL run

[2020-01-23 11:19] lgirdwood commented on #2320
@singalsu any comment here ?
@jdrzaszcz I guess this is working when chans < 8 ?

[2020-01-23 11:23] jdrzaszcz commented on #2320
Yes, when less than 8 channels, recorded files looks fine.

[2020-01-24 09:40] singalsu commented on #2312
PR #2322 adds this missing code.

[2020-01-24 12:14] singalsu commented on #2101
@aiChaoSONG The PR #2109 is merged so I re-tested this on a WHL HDA platform with headset disconnected. The start waveform is now clean so I think this can be closed.

![Screenshot from 2020-01-24 14-11-11](https://user-images.githubusercontent.com/28754793/73068367-b7169500-3eb3-11ea-981b-a9ebdb2ba55a.png)

[2020-01-24 12:15] singalsu commented on #2101
Closing this issue.

[2020-01-24 12:15] #2101 closed

[2020-01-26 21:17] p-try commented on #2275
Thank you so much for your help. The ucm file for sof-hda-dsp looks promising, the microphone is listed there as `hw:${CardId},6` and according to `arecord -l` this is exactly my hardware layout.

I have compiled and installed the latest commit of pulseaudio and copied the alsa-ucm-conf files to /usr/share/alsa/ucm. I have now run into the issue that the ucm configuration for sof-hda-dsp is provid

[2020-01-27 11:01] hsanjuan commented on #2265
Ok, I know have a `CONFIG_SND_SOC_SOF_HDA_COMMON_HDMI_CODEC=y` kernel. I see the HDMI outputs in pulseaudio, however the ` Cannon Point-LP High Definition Audio Controller profile` still says `Unavailable` (but can be selected anyways and works):

![image](https://user-images.githubusercontent.com/1027022/73169462-6b0a6100-40fc-11ea-8db6-0b367a8dcdde.png)

Would this be an UCM problem to report in

[2020-01-27 14:28] slawblauciak commented on #2213
Does this still occur?
I wonder if it might be somehow related to #2298

[2020-01-27 14:32] slawblauciak commented on #2213
Does this still occur on master?

[2020-01-27 14:37] slawblauciak commented on #2114
@tlauda any updates on this issue?

[2020-01-27 16:31] lgirdwood commented on #1429
@lbetlej I'll move this into v1.6

[2020-01-27 16:32] lgirdwood commented on #186
@jajanusz @dbaluta I guess this is all good now ?

[2020-01-27 16:33] lgirdwood commented on #1678
@ktrzcinx I guess this can be closed now ?

[2020-01-27 16:38] lgirdwood commented on #1680
@mengdonglin @fkaczmar @lbetlej lets move this into v1.6 territory since we are still discussing the binary packaging with other maintainers.

[2020-01-27 16:41] lgirdwood commented on #1537
@singalsu I guess this is on target for v1.6 given your current work ?

[2020-01-27 16:42] lgirdwood commented on #1576
@mengdonglin ping

[2020-01-27 16:42] #2140 closed

[2020-01-27 16:49] lgirdwood commented on #2280
EDF resource management target v1.6

[2020-01-27 16:49] lgirdwood commented on #2293
@cujomalainey @bzhg any updates ?

[2020-01-27 16:52] lgirdwood commented on #2296
@slawblauciak @bkokoszx moving this into v1.6 since it involves XRUN handling changes and is linked to our EDF resource management work.

[2020-01-27 16:53] lgirdwood commented on #2300
@zrombel moving to v1.6 since we have no users for this topology yet.

[2020-01-27 17:02] lgirdwood commented on #2265
@hsanjuan I think @juimonen and @kv2019i have done some recent UCM updates and PA integration fixes , can you guys comment.

[2020-01-27 17:03] lgirdwood commented on #2264
@pfps did the v1.4.2 release work for you ?
https://github.com/thesofproject/sof/releases/tag/v1.4.2
Sorry, we don't yet have binaries packaged yet, still under discussion.

[2020-01-27 17:05] lgirdwood commented on #2245
I guess @dengyangchao is still on vacation, #2223 has been reported by others to fix this.

[2020-01-27 17:05] #2245 closed

[2020-01-27 17:09] lgirdwood commented on #2275
@p-try ok, please keep us updated, fwiw new stable FW is out v1.4.2
https://github.com/thesofproject/sof/releases/tag/v1.4.2

[2020-01-27 17:21] benoitg commented on #2264
ftp://ftp.alsa-project.org/pub/misc/sof/sof-firmware-1.4.2.tar.bz2 did solve the problem for me on Ubuntu (kernel 5.5.0-050500rc7-generic)

[2020-01-27 17:25] pfps commented on #2264
@lgirdwood  I'm still trying to figure out an easy way to test.

[2020-01-27 18:44] cujomalainey commented on #2293
@bzhg is OOO till tomorrow, 1.5 is fine, it is also fine if it gets punted, this appears to be a stray case limited to us.

[2020-01-27 21:36] mrajwa commented on #2270
@zrombel, can you please retest with this patch https://github.com/thesofproject/sof/pull/2329

Thanks

[2020-01-27 21:39] mrajwa commented on #2298
@aiChaoSONG, I have tested cml-008-patch-bakcport as well as master branches and I admit this bug is on both of them. This is very rare case but after debugging it a come up with a fix. Therefore could you please test below patch and check if it fixes the isssue:

https://github.com/thesofproject/sof/pull/2329

[2020-01-28 06:41] ktrzcinx commented on #1678
Yes

[2020-01-28 06:41] #1678 closed

[2020-01-28 07:21] dbaluta opened #2330 "[FEATURE] Add a driver for SDMA controller found on i.MX8MP"
**Is your feature request related to a problem? Please describe.**
SDMA controller can be found on some i.MX NXP boards. We now target a SOF driver for i.MX8MP.

There is already a driver in Linux for SDMA that might be used as an example:
https://elixir.bootlin.com/linux/v5.5/source/drivers/dma/imx-sdma.c

**Describe the solution you'd like**
The driver should implement DMA API from SOF.

**Descr

[2020-01-28 09:52] slawblauciak commented on #1820
@emilchudzik is the issue still relevant?

[2020-01-28 10:53] lgirdwood commented on #2330
@dbaluta given the differences between imx8 and imx8mp I think it may justify it's own row in the platforms table in sof-docs. That way it should be easier to differentiate if we add new columns for other features etc.

[2020-01-28 10:55] slawblauciak commented on #2236
@jdrzaszcz is this issue still reproducible on master? If yes, does it happen with high frequency clock enabled in the platform settings of menuconfig?

[2020-01-28 11:00] dbaluta commented on #2330
@lgirdwood I was waiting for toolchain support for imx8m (imx8mp is just one instance of imx8m) to be merged and then will update the document. So, far there is no mention of imx8m in the sof-docs (as far as i remember).

[2020-01-28 11:07] dbaluta commented on #2330
@lgirdwood I remember it wrong. Actually, documentation for i.MX8M was already merged. Anyhow, let my try to look for platforms table in sof-docs, I don't know where it can be found :D

[2020-01-28 11:08] dbaluta commented on #2330
@lgirdwood found it will send a patch, asap.

[2020-01-28 11:18] dbaluta commented on #2330
@lgirdwood done. https://github.com/thesofproject/sof-docs/pull/168

[2020-01-28 13:52] jdrzaszcz commented on #2213
Yes, still occur, but the reproduction rate is lower and playback_iterations has to be over 1000 for all platforms.
I checked it with 0e83f7d094630c3cdbc93a138ccc91efcd4c7ffa commit.

[2020-01-28 13:58] lgirdwood commented on #2213
@slawblauciak @jdrzaszcz fwiw, @mrajwa made an interesting observation https://github.com/thesofproject/sof/pull/2329 that may impact this use case too.

[2020-01-29 08:24] kv2019i commented on #2265
@hsanjuan @lgirdwood Yes, I think there is still some issue with UCM and/or the Pulseaudio version. Can you provide a copy of your UCM file (a provide a git pointer where you got it) and the pulseaudio log?

[2020-01-29 08:37] hsanjuan commented on #2265
@kv2019i I use the standard alsa files from: https://github.com/alsa-project/alsa-ucm-conf/tree/v1.2.1.2/ucm2/sof-hda-dsp. Here's a fresh pulseaudio log:

<details>
  <summary>pulseaudio log (click to expand) </summary>
<pre>
[09:34:04] ~ $ pulseaudio -k; pulseaudio -vvvvv
I: [pulseaudio] main.c: setrlimit(RLIMIT_NICE, (31, 31)) failed: Operation not permitted
I: [pulseaudio] main.c: setrlimit(RLI

[2020-01-29 09:13] zrombel commented on #2270
PR #2329 does not fix this bug, Further more I found that this bug is also reproducible with SSP interface, so it's not only DMIC bug.

[2020-01-29 09:15] kv2019i commented on #2265
Thanks @hsanjuan ! This looks pretty good, all the devices are found and no errors are seen. The only odd thing is this, which I think makes the profile marked as not available in UI:

This is good:
I: [pulseaudio] module-alsa-card.c: Found UCM profiles
D: [pulseaudio] alsa-ucm.c: UCM mapping: Mapping HiFi: hw:sofhdadsp,5: sink dev HDMI3
D: [pulseaudio] alsa-ucm.c: UCM mapping: Mapping HiFi: hw:so

[2020-01-29 12:01] mrajwa commented on #2270
@zrombel, ok we know what happens. Can you in test change history_depth (the amount of data host requested from history buffer) from 2,1 seconds to 2 seconds? It looks like we have a delay on FW side and new data overwrite oldest data in history buffer.

[2020-01-29 13:26] dragosht opened #2334 "[BUG] Build failure when spinlock debugging is on"
**Describe the bug**
Enabling spinlock debugging ends up in a build failure.

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)

     make menuconfig
     Enable Debug --->
     [*] Spinlock debug

The build fails with:

    [ 52%] Building C object CMakeFiles/sof.dir/src/arch/xtensa/schedule/schedule.c.o
     xtensa-byt-elf-gcc  -DRELATIVE

[2020-01-29 14:10] p-try commented on #2275
Again, I stole some packages from Fedora to get alsa-utils version 1.2.1 which supports ucm2. Aaaand..... it is working now! GNOME settings is now showing "Digital Microphone - sof-hda-dsp" as the input device and the volume bar is registering noise. Also, recording in Audacity is working now. I expect that everything will be working out-of-the-box as soon as the updated alsa and ucm packages are

[2020-01-29 14:32] lgirdwood commented on #2275
@p-try your welcome.

[2020-01-29 14:32] #2275 closed

[2020-01-30 06:30] jdrzaszcz commented on #2236
This issue dosen't occure on master branch now.
I checked it with 0e83f7d094630c3cdbc93a138ccc91efcd4c7ffa commit.

[2020-01-30 06:30] #2236 closed

[2020-01-31 10:03] lgirdwood opened #2342 "[FEATURE] Developer guide document for testbench usage"
**Is your feature request related to a problem? Please describe.**
A simple document describing what the test bench is, why it is useful and how to use it. i.e all the steps needed with some example where users can see it working..

[2020-01-31 10:05] lgirdwood commented on #2342
I would also add context here about how this also allow GDB and valgrind usage too, i.e. since SOF memory resource calls are mapped to malloc and friends then valgrind can detect leaks, out of bounds access etc

[2020-02-01 20:10] pfps commented on #2264
@lgirdwood I think I'm now running with 1.4.2.   How can I check?

What I am running is Fedora 31 kernel 5.4.14-200.fc31.x86_64 and alsa-firmware 1.2.1.5.fc31, which according to https://bugzilla.redhat.com/show_bug.cgi?id=1772498#c100 has the 1.4.2 firmware.

Some boots are successful, but sometimes I see
Feb 01 15:02:07 idefix kernel: sof-audio-pci 0000:00:1f.3: Firmware info: version 1:1:0-fcf6

[2020-02-02 13:21] pfps commented on #2134
I'm running with a version of Fedora that I think should have good SOF support - kernel 5.4.14-200.fc31.x86_64

Sometimes everything starts fine and the mic is fine and the speakers are OK.  Sometimes the firmware loads but I see an immediate failure, as in
Feb 01 15:02:07 idefix kernel: sof-audio-pci 0000:00:1f.3: Firmware info: version 1:1:0-fcf6c
Feb 01 15:02:07 idefix kernel: sof-audio-pci 000

[2020-02-02 13:51] danielcherubini commented on #2134
It’s working fantastic on Arch 5.5 on the C940

[2020-02-03 08:19] emilchudzik commented on #1820
This issue doesn't occur on: https://github.com/thesofproject/sof/pull/2212

[2020-02-03 08:19] #1820 closed

[2020-02-03 08:33] kv2019i commented on #2134
@pfps wrote:

If you can reproduce this, can you file a new bug on this and provide full kernel logs? Firmware is loading here, so we can close this bug. This could be a case where communication with i915 is failing and that is blocking audio driver load.

And ditto here.

[2020-02-03 09:21] zrombel commented on #2270
After validating with PR https://github.com/thesofproject/sof/pull/2343 on APL platform bug no longer can be found. PR https://github.com/thesofproject/sof/pull/2343 is fixing it.

[2020-02-03 10:10] lgirdwood commented on #2264
@pfps sorry it still looks like 1.4.1 since it had a bug in getting tags from git
```: version 1:1:0-fcf6c```. Can you copy https://github.com/thesofproject/sof/releases/download/v1.4.2/sof-icl-v1.4.2.ri to /lib/firmware/intel/sof (and overwrite the current sof-icl.ri)

[2020-02-03 10:47] singalsu commented on #2342
Yep, that's very useful.

[2020-02-03 11:31] zrombel opened #2347 "[BUG][WHL][CML][DMIC] IPC timeout in tests incorporating DMIC interface"
**Describe the bug**
Bug occurs on WHL platform, in tests with DMIC interface.
IPC timeout happens when sending IPC **DaiConfig** or **PcmParams** to FW.
No Trace Logs are received, memory window debug might be needed.
After bisect commit bce7f241d293d65d0fd38d280fb577b162621daa is found to introduce the bug.

**To Reproduce**
Any Python scripts DMIC test with option --iterations=100

**Reproducti

[2020-02-04 02:07] ranj063 opened #2348 "[BUG]COMP_FREE IPC times out with gcc built FW"
**Describe the bug**
COMP_FREE IPC is sent to the FW when the topology is taken down. Previously, when the SOF device runtime suspends, the DSP is always powered off. So the topology components didnt need to the freed and the COMP_FREE IPC was never used. But with the multi-client implementation in the SOF driver, each client is responsible for freeing the components in the DSP FW when the device

[2020-02-04 11:22] lgirdwood commented on #2348
@ranj063 I'm not seeing any kernel oops or crash info for the FW. Can you switch this on. But what I have seen so far is that it seems to be very similar trace logs i.e.
[code]
All the traces I've seen so far trigger comp 40 (Host DMA component) then free comp 40. There is nothing in error log which is suspicious since our exception code should put something there.

@jajanusz @tlauda Any reasons w

[2020-02-04 12:24] juimonen opened #2351 "[FEATURE] Documentation how to use sof mux/demux component"
**Is your feature request related to a problem? Please describe.**
We don't have documentation for mux/demux component.

**Describe the solution you'd like**
We should have some documentation.

**Describe alternatives you've considered**
Documentation is the only way.

[2020-02-04 13:45] #2201 closed

[2020-02-04 17:59] MayurVirkar commented on #2181
Hello guys,
Sorry for the long silence.
So update from my side, now I am on Manjaro with Linux 5.5.0-1-mainline.
I got to all the original issue discussed here is resolved, but mic works fine, the speakers work fine.
But only 2 out of four speakers work. Top ones they dont work, bottom ones do.

Anyway to fix this issue?

[2020-02-04 18:42] plbossart commented on #2181
@MayurVirkar the speakers should be handled by the Hdaudio codec.
Can you try to use
blacklist snd-sof-pci

and see if the legacy snd-hda-intel driver loads?

I suspect a platform configuration issue, not something related to processing by the SOF firmware.

[2020-02-04 22:40] ranj063 commented on #2348
@lgirdwood what particular options should I switch on? On the kernel side, I'have pretty much everything enabled.

[2020-02-05 08:48] tlauda commented on #2348
@lgirdwood I think the FW logs are out of sync or corrupted. Timestamps are totally messed up and I don't see any COMP_FREE IPC. There are only STREAM_PCM_FREE.

@ranj063 Could you specify which exact component does fail during free operation? I can't tell this from dmesg. Or is it just random?

[2020-02-05 09:02] paulstelian97 commented on #2348
@tlauda Did you look into etrace? On crashes DMA trace tends to lag behind and not show the final logs, at least for me.

[2020-02-05 12:04] jajanusz commented on #2170
RELATIVE_FILE works just like __FILE__ (gives name of compilation unit, but is determmenistic, when __FILE__ can be whatever compiler decides it to be and can change between runs in different locations), what means that they are just misused in cases that you mentioned. I didn't get deeply into issue but if traces are used just-like-that in headers they will never work and it has to be reworked.

[2020-02-06 07:55] kfialkox opened #2353 "[BUG] WHL SSP Stream stall in KD tests"
**Describe the bug**
In KD tests - Keyword detection notification timeout

**To Reproduce**
07_02_TestKdSsp16000Hz24b32b2ch
topology_iterations=10
playback_iterations=10

**Reproduction Rate**
1 on 80

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * SOF: 0469a018ba856b0fd96b042c4011301e988d0f8f
    * python tests: eba84

[2020-02-06 11:23] lgirdwood commented on #2353
@kfialkox could you paste the appropriate parts of the log here. i.e. just a the trace section that shows the fault. This helps with discussion as new reviewers dont have to keep opening and searching the zip file.

[2020-02-06 13:04] zrombel opened #2356 "[BUG] SSP waveform error when fclk width > sample width"
**Describe the bug**
Bug regards configuration of FCLK pulse with of SSP interface. When setting frame_pulse_width > sample bit depth (for example sample bit depth = 16 and frame_pulse_width = 17, or sample bit depth = 32 and frame_pulse_width = 33) SSP wave forms are generated incorrectly: FCLK frequency changes and data bits are shifted. Bug occurs **only when channel count is greater then 1** a

[2020-02-06 15:07] jajanusz commented on #2356
@zrombel I guess it's on current master, right?

[2020-02-06 16:11] zrombel commented on #2356
Right. Found on master branch commit 0469a018ba856b0fd96b042c4011301e988d0f8f but it seems it's present in FW since beginning.

[2020-02-06 18:26] plbossart commented on #2356
IIRC there was a hardware "feature" that the pulse has to be limited to the first slot in master mode.
@lbetlej does this ring a bell? We had such requirements a long time ago from our automotive friends, I am not sure the SSP supports e.g. a TDM mode with a long pulse (or even half cycle)

[2020-02-06 21:12] paulstelian97 commented on #2170
@jajanusz So inline functions should just not use traces? That's quite the limit.

[2020-02-07 14:31] wwittbrx opened #2360 "[BUG] Keyword detection timeout in D0iX"
**Describe the bug**
Keyword detection timeout in slim driver tests with D0iX flow.

It is caused by lost notification from detector component. Detector itself works ok, and triggers the draining (see wave screenshot, it looks as expected), but the notification does not arrive to driver, which causes the test to time out.

![image](https://user-images.githubusercontent.com/41670517/74036329-582943

[2020-02-07 15:44] lgirdwood commented on #2360
@wwittbrx there are some pending PRs to be merged for keyword. Could you retest with @mrajwa latest unmerged fixes.

[2020-02-08 00:18] stripes416 opened #2361 "[BUG] left/right speaker test backwards for apl-up2-pcm512x"
**Describe the bug**
When running ./test-speaker.sh on apl-up2-pcm512x I noticed that the 'front left' & 'front right' audio is coming out of the wrong side of the headset. The audio is clear, just the sides are reversed.

**To Reproduce**
With headset inserted, run the sof-test/test-speaker.sh via ./test-speaker.sh.

**Reproduction Rate**
10/10

**Expected behavior**
Audio should come out of the

[2020-02-08 17:09] jlaham commented on #2134
@danielcherubini is it working for you with PulseAudio on your C940?

I'm running GNOME on Arch (package versions below) with no custom patching. On a normal boot all sound devices (connected at 0000:00:1f.3) are detected, however I'd get no sound. Digging in a little further, aplay and arecord will list devices detected and alsamixer will run, but they will all hang before completing. Further dig

[2020-02-09 05:20] poscat0x04 commented on #2134
Can confirm it's working on Arch with kernel 5.5+

[2020-02-10 08:31] keyonjie commented on #2360
Hi @wwittbrx I believe you keep the x86 system in S0 state when performing the test, right?
Can the similar issue being reproduced with Linux driver? if so, we can debug it in Shanghai at the same time. @aiChaoSONG

[2020-02-10 09:45] slawblauciak commented on #2360
The reproduction rate is low and requires specific conditions, which are most likely can't occur under full stack. The fix would be nice-to-have as it impacts CI.

[2020-02-10 10:00] lgirdwood commented on #2361
@stripes416 I'm guessing this is good with all other APL boards ? Can you check if the SSP topology config is that same as a working board. If not, it could be the SSP mode config, if same it could be a codec setting that's swapping channels. @bardliao @plbossart @tlauda fyi

[2020-02-10 10:22] bardliao commented on #2361
@stripes416 I just checked it on my side and I didn't see the issue with my Up2 board. Your headset is actually connected to a Y cable and the Y cable is connected to the PCM512 board, right? Could you double check is the Y cable connected to the PCM512 board in the same color? ie. red to red and white to white.

[2020-02-10 10:44] lgirdwood commented on #2134
@jlaham Thanks, I've pasted here below too. We have seen some issues with Linux, Pulseaudio and UCM integration that have caused similar issues, I think now that @kv2019i and @juimonen have recently upstreamed all remaining UCM/Pulseaudio fixes. Any out standing guys ?
I also see you have FW version v1.4.1 (based on the incorrect version string, version v1.4.2 has been released recently so I'd rec

[2020-02-10 10:59] kv2019i commented on #2134
@jlaham Based on this trace:
[  181.602985] snd_hda_codec_hdmi ehdaudio0D2: Unable to sync register 0x2f8100. -5

I think you are hitting same bug as:
https://github.com/thesofproject/linux/pull/1764
Fixed with following patch series sent upstream:
https://mailman.alsa-project.org/pipermail/alsa-devel/2020-February/162509.html

Did you have HDMI/DP monitor connected during boot?

PS As stated earl

[2020-02-10 18:41] stripes416 commented on #2361
@bardliao -- @fredoh9 confirmed with his apl-up2-pcm512x that this is an issue with his as well. We connect our headset directly to the codec itself.

![IMG_20200210_102236](https://user-images.githubusercontent.com/15620458/74179157-c1de6300-4bf1-11ea-9cdb-54b03880446a.png)

[2020-02-11 01:34] jlaham commented on #2134
Thanks both for your feedback.

@kv2019i I did not have anything plugged in; trying to keep my machine as "vanilla" as can be when debugging these sorts of issues.

I was to make some significant progress on this from my end, and now have a functioning system; following are my findings:
1. I can confirm that firmware is loading fine now
2. Only caveat is that every few reboots there will be one wh

[2020-02-11 02:35] bardliao commented on #2361
Looks our PCM512 board are not identical. Mine doesn't have jack connector.
![70542519](https://user-images.githubusercontent.com/8856808/74206789-dc7b0f80-4cb7-11ea-8ab7-64d41b153826.jpg)
I confirmed that our kernel, SOF, and topology are the same.
The only different I can imagine is mixer settings. Here is my result of "amixer contents"
[up2_amixer.txt](https://github.com/thesofproject/sof/files

[2020-02-11 09:37] lgirdwood commented on #2134
@jlaham can you attach the dmesg for 2 next time it happens.

[2020-02-11 09:43] lgirdwood commented on #2361
@stripes416 this could even be a PCB layout bug if it's working with @bardliao codec board. If codec settings look sane then check codec pin directly i.e. play left only audio and use scope on pin.

[2020-02-11 09:51] kv2019i commented on #2134
@jlaham wrote.

Ack, and based on your previous logs, I believe this is fixed with in upstream kernel (see link to patches above). If rootcause is the same, reloading the SOF kernels driver can also help to detect the devices.  Thank you for the report!

[2020-02-11 09:52] kv2019i commented on #2134
@lgirdwood @perexg Can we close this now?

[2020-02-11 10:00] lgirdwood commented on #2134
@kv2019i I think so. It can be re-opened if needed.

[2020-02-11 10:00] #2134 closed

[2020-02-12 09:31] zrombel commented on #2353
Bug cannot be reproduced neither on hash 0469a01 nor on current master. It probably was a platform issue. Closing issue.

[2020-02-12 09:31] #2353 closed

[2020-02-12 09:32] amerysong commented on #2360
@wwittbrx could you please detailed list the test procedures？and is there any script i can use？ because the reproduction rate is low， manually trigger is really time consuming @keyonjie

[2020-02-12 09:33] aiChaoSONG commented on #2360
@wwittbrx could you please detailed list the test procedures？and is there any script i can use？ because the reproduction rate is low， manually trigger is really time consuming @keyonjie

[2020-02-12 11:31] aiChaoSONG commented on #2298
@mrajwa Are you sure #2329 fix this issue？ since #2329 cannot directly applied to 008-backport, I port it myself, but only get ipc error when run wov pipeline. if I am porting it wrong, can you  provide the fw you compiled?

[2020-02-12 12:44] lgirdwood commented on #2265
This is also showing up on APL CI for multiple PRs now.
[code]

[2020-02-12 12:45] lgirdwood commented on #2265
@slawblauciak please re-assign as needed. It seems this is now being seen on multiple CAVS versions.

[2020-02-12 13:01] lgirdwood opened #2371 "[FEATURE] trace: make last trace item persistent"
**Is your feature request related to a problem? Please describe.**
Currently only trace_error() messages are entered into the persistent buffer. This means we are unable to find the fault if FW crashes and DMA trace buffer is not flushed.

**Describe the solution you'd like**
Reserve the first item in the persistent trace buffer (error buffer) for the last trace message. This way (for any FW crash

[2020-02-12 13:08] paulstelian97 commented on #2371
I typically enable TRACEM so that the mailbox also receives the non-error traces, is that what you mean? (that one only gets the errors by default)

[2020-02-12 14:14] lgirdwood commented on #2371
I mean here if TRACE_M is disabled, i.e. you need to retain errors and last trace message.

[2020-02-12 14:17] paulstelian97 commented on #2371
I see, so a form of limited TRACE_M even when TRACE_M itself is disabled.

[2020-02-12 14:30] lgirdwood commented on #2371
yeah, ideally to fast track CI reports and any user bug reports.

[2020-02-12 14:57] lgirdwood commented on #2265
Related to #2347 ?

[2020-02-12 15:10] lgirdwood commented on #2347
I think this is a duplicate of #2265
This also appears to happen with SSP DAI config too (taken from recent CI failures on APL).
[code]
The funny thing is that we iterate over the same component twice here ? @tlauda list corruption ?
[code]

[2020-02-12 15:22] mmaka1 opened #2374 "[FEATURE] New ABI version dedicated for debug interface"
**Is your feature request related to a problem? Please describe.**
The sof-logger and potentially other debug API clients perform ABI compatibility check using the single FW ABI version. The same one is used by the primary FW client which is the kernel driver. If there is a change made to the debug API, the main ABI has to be updated to protect integrity of the debug tools while such a change may

[2020-02-12 15:23] mmaka1 commented on #2374
@plbossart @lgirdwood @dbaluta @paulstelian97 Please share your opinion.

[2020-02-12 15:35] paulstelian97 commented on #2374
I am for maintaining separate ABIs. I believe in the future a third ABI will also be required for modules (I doubt my ability to just link them in directly, because the rimage format doesn't hold all required information to just link like in the ELF style) so having separate, individually updateable ABIs is what will happen anyway.

When you change the kernel interface ABI, the kernel driver will

[2020-02-12 16:11] zrombel commented on #2347
Seems like bug no longer occurs.
Fix found in commit 9985b014d24af2781420de183ab648b9327b6724 - no error in 400 iterations.
Confirming on top master 7e88cc01f4c5feabf148aefeb032d82d94264e50 - no error in 400 and still running up to 1000 iterations. I will give update tomorrow when test are over.

[2020-02-12 16:55] plbossart commented on #2374
well it depends on the intent.
for the kernel, we are always backwards-compatible with older firmware.
But in the case of debug tools, what's the story? do we assume that sof-logger and others are all matching the firmware version?

[2020-02-12 17:36] mmaka1 commented on #2374
@plbossart Yes, there is a consistency check in the sof-logger. I'd like to keep it since I am going to change the log entry format and that protection of dsp<->dbg-client (sof-logger in this case) API use integrity is quite useful. However it is based on the only main ABI version atm.

[2020-02-12 19:39] MayurVirkar commented on #2181
Same result with both.
Only 2 speakers out of four work..

[2020-02-13 02:56] aiChaoSONG opened #2377 "[BUG] PCM0P rate_min error in sof-cml-rt1011-rt5682.conf"
seems we have some error in macro expansion.
[code]

[2020-02-13 09:35] dengyangchao opened #2379 "[BUG][BYT]Ipc error 0X60010000 size 20 when try speaker test on media playback"
**Describe the bug**
Ipc error 0X60010000 size 20 when try speaker test on media playback.
When issue occur, try aplay will occur I/O error, and only reboot can back it to normal.

**To Reproduce**
1.Reboot via "sudo reboot"
2.Speaker test via "speaker-test -Dhw:0,1 -r48000 -f1000 -c2 -t wav -l 10"

**Reproduction Rate**
5/5

**Expected behavior**
No error occur, and speaker test output normal

**

[2020-02-13 10:11] lgirdwood commented on #2347
@zrombel ok, thanks for checking. I will keep checking CI too.

[2020-02-13 10:20] dengyangchao commented on #2379
Old issue,  can run speaker test on HW:0,0 and output normal
when run on HW:0,1(media playback) cause ipc error

[2020-02-13 10:22] zrombel commented on #2347
Confimed fix on top master 7e88cc0 - no error in 1000 iterations. Funny thing is that commit 9985b01 only touches traces, is it possible that bug still exists but is well hidden ? @lgirdwood what do you thing about closing the bug?

[2020-02-13 10:24] lgirdwood commented on #2377
@aiChaoSONG can you provide details, which topology, can you fix it's likely wrong ordering.

[2020-02-13 11:06] aiChaoSONG commented on #2377
@lgirdwood should be fixed by #2380

[2020-02-13 14:21] dbaluta opened #2384 "[FEATURE] Add support for sparse in SOF"
**Is your feature request related to a problem? Please describe.**
Better support for static analysis.

https://en.wikipedia.org/wiki/Sparse
https://elinux.org/Sparse

**Describe the solution you'd like**

Similar with Linux kernel, we need an option to build that runs sparse. In Linux kernel to run sparse
you just need to do

make C=1   [targets] Check all c source with checker tool

**Describe a

[2020-02-13 14:22] dbaluta commented on #2384
Cc: @IulianOlaru249 @jajanusz @paulstelian97

[2020-02-13 14:30] paulstelian97 commented on #2384
I have looked a bit into this and a simple recommendation is to build sparse for the system you're building the firmware on, then use the `CC` and `REAL_CC` variables to do the actual build: `REAL_CC` would contain the path to the xtensa-gcc or xcc compiler (what `CC` was before) and `CC` would be updated to point to the `cgcc` wrapper script within Sparse itself. You still need to build Sparse fo

[2020-02-13 17:19] plbossart commented on #2384
+1
Sparse and cppcheck are my favorite tools these days.
Coverity is more complicated to enable.

[2020-02-13 21:45] lgirdwood commented on #2347
@xiulipan @mengdonglin any objections ?

[2020-02-14 01:11] plbossart opened #2385 "[BUG] topology: rt711-rt1308-rt715: don't change DMIC/HDMI device number depending on number of speakers"
Depending on the number of playback channels, the 'DMIC" device attached to rt715 will be either hw:0,3 or hw:0,4. I suggest we keep it constant, even if it means a hole in the device list.

There is no requirement that the list of devices be incremental, it's ok to have holes.

While I am at it, we should not use "DMIC" but 'Internal mics". The RT715 can deal with analog microphones IIRC.

@Rande

[2020-02-14 01:24] plbossart commented on #2385
update: the HDMI device numbers are also changed and this causes the UCM file to no longer work.

We need to keep a match between topology and UCM!

[2020-02-14 04:11] xiulipan commented on #2347
@lgirdwood @lgirdwood
This looks like the race condition with APL NOCODEC, same error with HW PARAMS

This bug will also influence WHL

@zrombel are you testing with XCC FW or GCC FW?

[2020-02-14 07:47] Liviali155 opened #2386 "[BUG][CML]"error: ipc timed out for 0x60050000 size 12" when running multipipeline using more than 6 pipelines"
**Describe the bug**
I/O error when running multipipeline using more than 6 pipelines
After Issue reproduced,all the pipelines can not work,only reboot can recovery

**To Reproduce**
1.sudo reboot
2. ./multiplex_pipeline-test.sh pcm0p pcm3p pcm4p pcm0c pcm6c pcm7c

**Reproduction Rate**
10/10

**Expected behavior**
There is no I/O error,all the pipelines can work normally

**Actual result**
I/O er

[2020-02-14 08:36] paulstelian97 commented on #2386
Can you disable the system agent? (HAVE_AGENT=n). If that's guilty then either it will work or it will fail above 6 pipelines but recover once you go below that I think.

[2020-02-14 08:39] zrombel commented on #2347
@xiulipan I'm testing only XCC builds

[2020-02-14 08:57] Liviali155 commented on #2386
Bi-sect result:
caused by Firmware commit 91fb594b[](https://github.com/thesofproject/sof/commit/91fb594bd9455fcf8415a588cf45e6294ac46e0e)

[2020-02-14 09:05] Liviali155 commented on #2386
Related #2280

[2020-02-14 09:12] paulstelian97 commented on #2386
I suppose there needs to be a way for firmware to recover and continue the streams it could carry if it can't dynamically switch clocks.

We should continue the discussion on #2280, it's a manifestation of the same actual issue (not being able to manage being overloaded in terms of DSP usage)

[2020-02-14 11:10] RanderWang commented on #2385
yes, I agree with you. Please check my PR. thanks!

[2020-02-14 12:55] tlauda commented on #2347
@lgirdwood @xiulipan I've rootcaused this issue to too small default stack size for EDF tasks. Here is the fix: https://github.com/thesofproject/sof/pull/2388. Let's see if it will also help with APL failures.

[2020-02-14 14:28] #2385 closed

[2020-02-14 14:34] lgirdwood commented on #2386
@tlauda @lbetlej @plbossart @paulstelian97 @dbaluta this is down as a opne for EDF scheduling, lets say closure for v1.6. i.e. we reject new work that wont fit in EDF. TSC discussion subject too.

[2020-02-15 09:47] aiChaoSONG commented on #2377
close for fixed by #2380

[2020-02-15 09:47] #2377 closed

[2020-02-16 14:37] xiulipan commented on #2347
@tlauda Thanks for the fix, it seems the issue on APL is gone.

[2020-02-17 04:35] Liviali155 opened #2390 "[BUG][glk][sof_v1.3]"Input/output error" when aplay via (0,5)"
**Describe the bug**
"Input/output error" when  aplay via (0,5)
After issue reproduced,All the pipeline can work normally

**To Reproduce**
1.cd sof-test(sof-test as attachment)
2.cd test-cases
3.export TPLG=/lib/firmware/intel/sof-tplg/sof-glk-da7219.tplg
4. ./check-alsabat.sh

**Reproduction Rate**
10/10

**Expected behavior**
There is no I/O error when aplay via (0,5)

**Actual result**
There i

[2020-02-17 06:28] dengyangchao commented on #2379
Issue also can be reproduced on BYT Nocodec

[2020-02-17 06:51] dengyangchao opened #2391 "[BUG][APL][PCM512X][tag-v1.4.2] Tplg load fail "tplg component load failed -22""
**Describe the bug**
Tag v1.3 and tag v1.4.2 tplg load fail "tplg component load failed -22"
And sof-dev +master can't reproduce the issue.

**To Reproduce**
1.Reboot system via "sudo reboot".
2.Check via "dmesg".

**Reproduction Rate**
100%

**Expected behavior**
Tplg load normal, and no error
**Impact**
Tplg load fail

**Environment**
platform: APL UP2 with PCM512X in I2S mode
Firmware: 66a5ae9

[2020-02-17 06:52] dengyangchao commented on #2391
Sof-dev + tag v1.3 also can reproduce the issue

platform: APL UP2 with PCM512X in I2S mode
Firmware: 5dd9aac https://github.com/thesofproject/sof/releases
Kernel: b2d98237 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: sof-apl-pcm512x.tplg

[2020-02-17 07:13] dengyangchao opened #2393 "[BUG][BYT][Nocodec] Pause-release aplay cause "ipc error for 0x60070000 size 12""
**Describe the bug**
Pause-release aplay cause "ipc error for 0x60070000 size 12"

**To Reproduce**
1.Reboot system via "sudo reboot"
2.Aplay via command "aplay -Dhw:0,1 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"
3.Pause-release aplay.
4.Repeat step 3.

**Reproduction Rate**
3/3
1st reproduced at 8th
2nd reproduced at 14th
3rd reproduced at 10th

**Expected behavior**
Pause-release

[2020-02-17 08:32] wwittbrx commented on #2391
Did you remember to set up ACPI scripts on this platform? Don't know if this is still required but might be worth a check
https://github.com/thesofproject/acpi-scripts

[2020-02-17 08:54] dengyangchao commented on #2391
@wwittbrx Yes, already added the acpi scripts.

[2020-02-17 09:00] dengyangchao commented on #2391
Looking at the CI history, I found that the issue started to appear after the January 24th kernel update
http://sof-tcr.sh.intel.com/#/campaigns

[2020-02-17 09:57] dengyangchao commented on #2114
Issue can't be reproduced with below recipe, close

Platform: BYT with nocodec  & BYT with RT5682 in I2S mode
Firmware: b206b7a https://github.com/thesofproject/sof/commits/master
Kernel: b2d98237 https://github.com/thesofproject/linux/commits/topic/sof-dev

[2020-02-17 09:57] #2114 closed

[2020-02-17 11:25] lgirdwood commented on #2347
@zrombel can we close ?

[2020-02-17 11:28] lgirdwood commented on #2390
@Liviali155 why do we care about v1.3 ? Does this happen on master or v1.4.2 ?

[2020-02-17 11:36] mmaka1 commented on #2172
The existing TRACE_CLASS_ id space does not seem to scale for fw parts that may be independently developed, like components and dais while still seems good enough for parts of the infrastructure. Therefore #2366 reduced trace class level identification of components and dais to single TRACE_CLASS_COMP and TRACE_CLASS_DAI (this one re-used from the dai-component) with a plan to bring back precise i

[2020-02-17 11:44] paulstelian97 commented on #2172
I'd argue that, for the purpose of bug reporting, a more fine tuned runtime filtering might be necessary. That's what I got from Pierre. The flow would be: bug reported, we'd ask for a specific runtime configuration and a reproduction, unless the bug has very low reproducibility we'd get the specific logs so we could focus on fixing the specific issue itself. Perhaps runtime filtering can be done

[2020-02-17 13:14] Liviali155 commented on #2390
Error only seen on v1.3,not seen on master and v1.4.2

[2020-02-17 15:08] lgirdwood commented on #2172
@mmaka1 @paulstelian97 TSC agenda item ?

[2020-02-17 15:21] dbaluta commented on #2172
@lgirdwood added it. I will invite @paulstelian97 to TSC meeting if he can join and also if there no objections. Anyway, I know the general idea.

[2020-02-17 15:34] lgirdwood commented on #2390
@Liviali155 any users of this PCM/feature on v1.3 ?

[2020-02-17 16:25] lgirdwood commented on #2172
@mmaka1 please also attend and present the ECL plugins if they are ready.

[2020-02-18 02:24] aiChaoSONG opened #2400 "[BUG][CML]unable to install hw params for speaker pipeline"
**Describe the bug**
run aplay on speaker pipeline (hw:0,5), you will see "unable to install hw params" error.

**To Reproduce**
run `aplay -Dhw:0,5 -f dat -r 48000 -i -vvv -c 2 ./somewave.wav`

**Reproduction Rate**
100% on helios

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: {b2d98237}
    * SOF: {53d35e49}