[2022-04-21 02:16] XiaoyunWu6666 commented on #5690
@lgirdwood I'm afraid that not yet ?
This error can be seen in today's daily result still , also the theoretically  potential fix hasn't been merged #5696

[2022-04-21 07:04] ujfalusi commented on #5701
@RanderWang, can this be because we are missing some cleanup in kernel or firmware side? It looks to me that the SET_DX fails fro primary core on suspend (ctx_save) in this sequence:
[code]
We have a fail with pipeline 4 during preparing for playback, this aborts the setup and we go to stop and do some cleanup. Then runtime suspend, but SET_DX fail due to either secondary core is still enabled or

[2022-04-21 11:05] #5662 closed

[2022-04-21 16:50] dblaber opened #5709 "[BUG] Failed to start DSP on Resume (Failure to boot DSP Firmware after resume)"
Hello all, please help me out if I am not provided right information (any docs, or additional debugging information I can provide). I am having this issue after multiple Sleeps (Suspend to ram) and resumes, where my audio devices are completely gone. It is intermittent, does not happen every resume, but happens often. I see this in the kernel logs when the issue occurs.

4/21/22 7:09 AM	kernel	sof

[2022-04-22 02:24] cujomalainey commented on #4488
Also AEC needs this

[2022-04-22 07:25] ujfalusi commented on #5701
After more investigation it turned out that we might have another explanation:
Zephyr does not support turning cores off and the SET_DX for core0 fails because other core than core0 is enabled:
[code]
This is on tgl where core3 is needed for booting up the DSP.
With a PR from @kv2019i this error is worked around for the time being: https://github.com/thesofproject/sof/pull/5708

[2022-04-22 10:05] lgirdwood commented on #4488
@eddy1021 @ranj063 @singalsu fyi - updates on the list.

[2022-04-22 10:06] lgirdwood commented on #4488
@jsarha fyi - one for you too.

[2022-04-22 12:29] jsarha commented on #4488
Gathering context ATM, to get on track what is needed and where...

[2022-04-25 02:49] keqiaozhang commented on #5690
@XiaoyunWu6666 , please help to check this issue with https://github.com/thesofproject/sof/pull/5696. Thanks!

[2022-04-25 02:57] J0shuaT opened #5724 "Headphone Jack and Mic not working on GLK Chromebook"
Hello. I've been here before to resolve the issue of no sound on my GLK chromebook. Now that is fixed, the only thing keeping my device from being fully functional under Linux is the lack of headphone jack and microphone support. I would like to know if there is anything I can do to fix the issue.

Here is `alsa-info`:
http://alsa-project.org/db/?f=d212af755856cf2cdd57b1f9f8e79786dd571cf6

[2022-04-25 03:10] XiaoyunWu6666 commented on #5690
Sure , I tried with #5696 , it can solve this issue (though [FW#5701](https://github.com/thesofproject/sof/issues/5701)
 [BUG]IPC4_BUSY when MOD_SET_DX on TGLU_UP_HDA_IPC4 will affect the testcase also

[2022-04-25 08:54] #5690 closed

[2022-04-25 16:29] cujomalainey commented on #4488
@eddy1021 leave the codec / module adapter to @ranj063 as she is doing a lot of work there right now.

[2022-04-26 07:37] miRoox opened #5732 "[BUG] IPC tx error for TRIG_START on APL_UP2_PCM512X when testing multiple pause-resume"
**Describe the bug**
CI (ID: 12065) detected an IPC tx error for TRIG_START when running multiple-pause-resume-50 on APL_UP2_PCM512X.

**To Reproduce**
[code]

**Reproduction Rate**
It is only observed once in CI and cannot be reproduced manually.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: https://github.c

[2022-04-26 12:42] lyakh opened #5737 "[BUG][IPC4] wrong error handling in IPC4, potentially leading to missed failures"
**Describe the bug**
Files under src/ipc/ipc4/ mostly use error codes from `enum ipc4_status` which includes 0 as `IPC4_SUCCESS` and positive integer values as errors, but some code in that directory also uses negative POSIX return codes to indicate errors. Sometimes those codes are mixed. Sometimes checks like `if (ret < 0)` are performed where IPC4 errors are returned, so errors will be missed.

[2022-04-26 22:54] marc-hb commented on #5073
The Docker image with the Zephyr SDK is available on both docker.io and ghcr.io. So I submitted a switch of our Zephyr build to ghcr:
- #5738

It's not faster. I still think it's valuable, see why in #5738

[2022-04-27 03:20] afq984 commented on #5073
Reading #5738, I do feel this FR is essentially two independent things combined together:
1. Use CI to build docker images
2. Host the docker image also on ghcr.io

While there's no great demand on (1), how about hosting the docker image on both docker.io & ghcr.io? The benefits would be the same of #5738, not sure if it's worth the maintenance burden though.

[2022-04-27 08:15] XiaoyunWu6666 commented on #5701
Thanks for the fix!

This wasn't observed in daily IPC4 test result (id:12080) after #5708  merged .
May we close it ? :)

[2022-04-27 10:03] lgirdwood commented on #5737
@RanderWang @marcinszkudlinski @tmleman any comment or PR ?

[2022-04-27 10:16] lgirdwood commented on #5701
@kv2019i can we close ?

[2022-04-27 10:51] kv2019i commented on #5701
As @XiaoyunWu6666  and @ujfalusi both confirmed, then yes.

[2022-04-27 10:51] #5701 closed

[2022-04-28 01:53] marc-hb commented on #5352
Downgrading this failure to a SKIP because it's too frequent; too much pollution
- thesofproject/sof-test/pull/895

[2022-04-28 04:54] marc-hb opened #5747 "[BUG] check-kmod-load-unload.sh causes hard kernel lockups"
**Describe the bug**

`~/sof-test/test-case/check-kmod-load-unload.sh -l 25` causes hard kernel lockups

This is a very recent regression in daily tests.

**To Reproduce**

[code]

or

[code]

**Reproduction Rate**

Too early to tell.

**Environment**

First bad daily test: 12140

Start Time: 2022-04-27 22:29:55 UTC
End Time: 2022-04-28 02:49:19 UTC
< >>
Kernel Branch: topic/sof-dev
Kernel Commit:

[2022-04-28 05:04] marc-hb commented on #5747
ADLP_RVP_NOCODEC_CI sh-adlp-rvp-nocodec-02

[code]

TGLU_SKU0A3E_SDW  jf-tglu-sku0a3e-sdw-01
[code]

[2022-04-28 06:21] aiChaoSONG commented on #5747
It doesn't make sense to me that the SOF code change causes kernel issue, and in the meanwhile, there is no error in sof logger.

[2022-04-28 13:37] plbossart commented on #5747
Agree with @aiChaoSONG, we should try to see if we can identify regressions due to recent upstream merges.

95ec8d32e6b6355514bbe267f5bef4abb6c8b4b3 (04/21)
8f77d721dd559bcf67368c606dd5d3f5f776c929 (04/18)

[2022-04-28 16:45] marc-hb commented on #5733
More severe kmod crashes just spotted in
- #5747

[2022-04-28 17:59] marc-hb commented on #5747
A short reminder that we have been regularly having lockups in suspend/resume tests since forever; we just got used to them and many are likely NOT audio related (but we can't tell of course).

While they could be more than one day old, hard lockups in kmod tests seem very new.

[2022-04-29 01:42] miRoox commented on #5732
Happened again in today's daily test (ID: 12177).

[2022-04-29 02:13] lenghonglin opened #5751 "[BUG] ASSERTION FAIL with arch_is_in_isr() when triger start"
**Describe the bug**
![image](https://user-images.githubusercontent.com/4686802/165875057-af4ae336-9198-48ee-9b63-40212f08b1f6.png)

when enable `CONFIG_ASSERT` . It show `ASSERTION FAIL` .

![image](https://user-images.githubusercontent.com/4686802/165878580-81625161-4d72-4e3e-8248-fe72cd12f533.png)

It seem `k_sem_take` execute in isr.

**To Reproduce**
when triger start, maybe it will cause thi

[2022-04-29 08:05] RanderWang commented on #5737
I will check and give fix

[2022-04-29 15:04] plbossart commented on #5751
asserts are evil. I don't know how many times I'll have to ask that they be removed with proper error handling used instead. @lgirdwood FYI

[2022-04-29 16:28] kv2019i commented on #4333
In Intel daily test run 12177 I see a clear IPC failure in setting up the logger (ADLP_GMB_I2S_ZEPHYR):

[   89.504320] kernel: sof-audio-pci-intel-tgl 0000:00:1f.3: ipc tx: 0x90030000: GLB_TRACE_MSG: DMA_PARAMS_EXT
[   90.007325] kernel: sof-audio-pci-intel-tgl 0000:00:1f.3: ipc tx timed out for 0x90030000 (msg/reply size: 80/12)
[   90.007363] kernel: sof-audio-pci-intel-tgl 0000:00:1f.3: preven

[2022-04-29 16:42] ujfalusi commented on #4333
@kv2019i, I think it is the same issue as #5733, it is under investigation

[2022-04-29 17:45] plbossart commented on #5747
@marc-hb It's hard to conclude for TGLU_SKU0A3E_SDW, there's only one failed test but it comes without any dmesg info.

[code]

[2022-04-29 19:20] marc-hb commented on #5747
Yes the reproduction rate has been very low so it's very hard to draw any conclusion. Apologies for sharing with this SOF git log too early.

I spent time gathering data and filing this bug because:
- I don't remember us ever experiencing any hard crash on kmod testing. Suspend/resume crashes: yes, kmod: no.
- We had 3 systems experiencing hard lockups in the same kmod test in the same daily run.

[2022-04-29 20:52] plbossart commented on #5747
I will agree with you @marc-hb that in general kmod load/unload issues are directly related to audio issues, since we don't touch the other drivers. That makes the occurrences of such bugs less likely than the generic case where all possible drivers could impact suspend-resume.

I also agree that there is no such thing as coincidence, we should absolutely keep track of this issue. I wasn't trying

[2022-04-30 02:36] mengdonglin commented on #5693
@aiChaoSONG Thanks, you will find my PR is almost same as your comments :)

[2022-05-01 18:04] sturn42 commented on #3868
Is it possible that the SOF firmware playing audio in stereo could be part of the problem? I am curious as I noticed the SST firmware plays back in mono when I changed to it.

[2022-05-02 14:04] plbossart commented on #3868
@sturn42 That would be a bug of the SST firmware/driver or a configuration issue. On some platforms there's also a mono speaker only, so there is a downmix in the codec IIRC.
The I2S link is always configured as stereo btw. The word clock aka frame sync toggles and defines the position of left and right channels.

[2022-05-03 02:42] onealpai2266 opened #5761 "Modify the memory configuration"
Hi All,
I modified the CONFIG_HP_MEMORY_BANKS value 46 to 50  (path "src/arch/xtensia/configs/tgplp_deconfig"),
because ri image isn't complier successly, it show "cannot move location counter backwards ( from be300000 to be2e0000 ) ..."  it seems there's not enough memory size to use, so try to change  the  CONFIG_HP_MEMORY_BANKS value to avoid this error. But i got the audio drvier won't be work

[2022-05-03 05:31] wwangsa commented on #3868
Hi,
Hopefully my experiments helps at the higher level. I experienced the same issue with fxthomas and Pandemonious. I encountered continuous beep after several minutes of any video/music playback and the sound stops after the playback is paused. Finally, the problem went away with Manjaro Qonos 21.2.6 with Kernel 5.15.32-1 XFCE on Acer Chromebook (Edgar CB3-341 -- Intel Braswell).  Before I lande

[2022-05-03 06:16] ujfalusi commented on #5747
It is hard to reproduce for sure, last week I took the tglh machine and I saw once a lockup:
[code]
Which is FS, storage related by it's look.

Today after <50 iteration the `rmmod` got blocked when trying to remove `snd_hda_codec` and not long after:
[code]
This looks awfully similar and if I recall I got the first lockup also not long after I first logged in to the tglh machine (`sh-tglh-0a70-hd

[2022-05-03 10:15] kv2019i commented on #5761
@onealpai2266 CONFIG_HP_MEMORY_BANKS describes the amount of banks in the hardware and it has to match hardware. 46 is the correct value for this hardware (tgplp).

Can you describe with what version (of SOF and compiler) you get the compiler error?

[2022-05-03 10:18] kv2019i commented on #5751
@lenghonglin Can you retest with newer SOF and Zephyr? You are using very old versions of both (SOF1.8 versus latest SOF2.1 and Zephyr2.7 versus Zephyr3.0 released).

I don't see how this can happen with current code. The domain thread is specifically run in a Zephyr thread, not ISR:
[code]

[2022-05-03 10:52] sanzazacuro opened #5763 "[BUG] Scheduling/frame size for dmic pipeline seems capped at low rate"
**Describe the bug**
I want to increase the frame size/scheduling of a dmic pipeline from the default 1000us/48 frames to 10 000us/480 frames. However, the pipeline seems capped at 128 frames when I try to adjust it higher. Im guessing this is due to some hardware outside the DSP. So my question is, how can I up this rate to around 480 frames? Is there any other place than the `PIPELINE_PCM_ADD` o

[2022-05-03 10:54] sanzazacuro opened #5764 "[BUG] Adjusting frame size of a dmic pipeline seems capped at low rate"
**Describe the bug**
I want to increase the frame size/scheduling of a dmic pipeline from the default 1000us/48 frames to 10 000us/480 frames. However, the pipeline seems capped at 128 frames when I try to adjust it higher. Im guessing this is due to some hardware/codec outside the DSP. So my question is, how can I up this rate to around 480 frames? Is there any other place than the `PIPELINE_PCM_

[2022-05-03 10:56] sanzazacuro commented on #5764
Duplicate

[2022-05-03 10:56] #5764 closed

[2022-05-03 12:02] ujfalusi commented on #5747
Run about 1700 iteration of `check-kmod-load-unload.sh` after rebooting `sh-tglh-0a70-hda-01` and not a single error.

[2022-05-03 13:45] plbossart commented on #3868
@wwangsa I would bet the differences in results is largely due to the kernel configurations, some kernels enable the DSP firmware trace and some don't, but as can be read above the only current/known work-around is to enable the trace...

[2022-05-04 08:08] lenghonglin commented on #5751
https://github.com/zephyrproject-rtos/zephyr/pull/42806  this pr slove my problem

[2022-05-04 08:12] kv2019i commented on #5751
Solved in latest release, so closing the issue.

[2022-05-04 08:12] #5751 closed

[2022-05-04 13:07] kv2019i commented on #5679
There's one additional set of users found in src/include/sof/audio/component_ext.h:
 - IDC_MSG_TRIGGER, IDC_MSG_PREPARE

It seems these are not used anywhere, but we need to address this one way or another.

[2022-05-04 15:00] #5679 closed, assigned to nobody

[2022-05-04 15:35] jsarha commented on #4488
Looks to me that somebody beat me to it:
https://github.com/thesofproject/sof/commit/1c136b1d2f6a7f55bd69c6580ffc979a9880f447

@lgirdwood was there something more to this, or should I just tap my ✅ ?

[2022-05-04 16:45] kv2019i opened #5775 "[FEATURE] embed SOF version to FW manifest header on Zephyr builds"
**Is your feature request related to a problem? Please describe.**

./tools/sof_ri_info/sof_ri_info.py sof-foo.ri

Zephyr SOF build:
cavs0015 (ADSP Manifest) file offset 0x22e0 name ADSPFW build **ver 0.0.0.0** feature mask 0xffff image flags 0x0

XTOS SOF build:
  cavs0015 (ADSP Manifest) file offset 0x2300 name ADSPFW build **ver 2.0.0.1** feature mask 0xffff image flags 0x0

Found while reviewi

[2022-05-05 14:23] XiaoyunWu6666 opened #5777 "[BUG][IPC4 zph]set state for pipeline failure on ADLP_RVP_NOCODEC"
**Describe the bug**
in inner daily test result 12303
when arecord with -Dhw:0,0
Pcm read connection timed out  on model ADLP_RVP_NOCODEC when check-capture-all-formats with set pipeline state failure

**To Reproduce**
 TPLG=/lib/firmware/intel/avs-tplg/cavs-tgl-nocodec.tplg MODEL=ADLP_RVP_NOCODEC_IPC4 ~/sof-test/test-case/check-capture.sh -d 3 -l 1 -r 1 -F
OR
arecord   -Dhw:0,0 -r 48000 -c 2 -f S

[2022-05-05 14:41] XiaoyunWu6666 commented on #5777
set state for pipeline failure also happen in inner daily result 12303 on model TGLU_UP_HDA when multiple-pipeline-playback-50  with sof xtos IPC4 fw

[2022-05-05 14:51] XiaoyunWu6666 opened #5778 "[BUG][XTOS IPC4]ipc timed out when MOD INIT INSTANCE when aplay and pause release on TGLU UP HDA"
**Describe the bug**
 ipc timed out when MOD INIT INSTANCE and failed to create module gain.4.1 when aplay with pipeline3 and pause release
This happened in inner daily result12303 on model TGLU_UP_HDA in testcase multiple-pause-resume-50

**To Reproduce**
TPLG=/lib/firmware/intel/avs-tplg/cavs-mixin-mixout-hda.tplg MODEL=TGLU_UP_HDA_IPC4XTOS ~/sof-test/test-case/multiple-pause-resume.sh -r 50

**

[2022-05-05 20:52] #5522 closed

[2022-05-06 05:31] XiaoyunWu6666 commented on #5777
set state for pipeline failure also happend in inner daily result 12339  , with unknown fw error
on model TGLU_UP_HDA_IPC4ZPH when check-playback-100times at the 95/100 rounds
[dmesg]
[code]

[2022-05-06 07:50] wszypelt commented on #4470
It looks like the problem is no longer present, I'm closing

[2022-05-06 07:50] #4470 closed

[2022-05-06 09:17] lgirdwood commented on #5778
@XiaoyunWu6666 does this happen with Zephyr ?

[2022-05-07 13:21] Denisuu commented on #5440
Reddit u/nsx2brz posted a workaround to get headphone-jack working on GLK devices.
I can confirm it works on my HP 14a BLOOGLET on Manjaro kernel 5.17.1-3

Original post: [Workaround for GLK audio (sof-glkda7219max)](https://www.reddit.com/r/chrultrabook/comments/ui6ghn/workaround_for_glk_audio_sofglkda7219max/)

Run the following script as root:
<details>
  <summary>Audio-jack fix</summary>

[cod

[2022-05-07 13:21] #5440 closed

[2022-05-09 02:57] miRoox commented on #5659
Such error only happened once and never reproduced again, close it.
Reopen it if observe in the future.

[2022-05-09 02:57] #5659 closed

[2022-05-09 03:01] miRoox commented on #5594
This error wasn't observed again for a long time.
Reopen it if we find it again.

[2022-05-09 03:01] #5594 closed

[2022-05-09 08:47] lgirdwood commented on #5763
@singalsu I assume the DMIC can handle larger period sizes like 10ms ?
@sanzazacuro what error do you see when you try a 10ms period with DMIC ?

[2022-05-09 08:48] miRoox opened #5789 "[BUG] xrun after TRIG_PAUSE on ADLP_GMB_I2S_ZEPHYR when testing multiple pause resume"
**Describe the bug**
CI detected the xrun after receiving TRIG_PAUSE on ADLP_GMB_I2S_ZEPHYR when testing multiple pause resume.

**To Reproduce**
[code]

**Reproduction Rate**
Observe only once in CI.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: topic/sof-dev|https://github.com/thesofproject/linux/commit/68b

[2022-05-09 09:04] #5693 closed

[2022-05-09 10:14] kv2019i commented on #5789
Hmm, this is interesting.  The last statement of slogger log is PCM_PARAMS:
[     3206997.372565] (          20.052082) c1 ipc                      src/ipc/ipc3/dai.c:185  INFO ipc_comp_dai_config() dai type = 3 index = 3
[     3207454.924631] (         457.552063) c0 ipc                  src/ipc/ipc3/handler.c:1604 INFO ipc: new cmd 0x60010000
...
[     3207823.414199] (          34.687500) c0 pi

[2022-05-09 12:31] singalsu commented on #5763
@sanzazacuro It should not be DMIC IP related, the FIFO is not even 1 ms deep so default 1 ms schedule consists of several DMA bursts.  Did you change the period also for DAI_ADD?

[2022-05-09 20:02] eddy1021 commented on #4488
Mark `dcblock`, `selector`, `smart amp`, and `kpb` as done.
`crossover` is blocked by pulls #5729

[2022-05-10 07:16] kv2019i opened #5794 "[FEATURE][meta] Use Zephyr native interfaces"
This is a meta issue to track work to move SOF code to use Zephyr native interfaces.

Change in brief: SOF application code will transition to Zephyr application interfaces. Change is done incrementally so that build with the "in-tree XTOS" continuous to work.

Guard rails:
 - code in sof/src/audio is the primary application code, should only use Zephyr interfaces
 - drivers in sof/src/drivers  sh

[2022-05-10 07:59] XiaoyunWu6666 commented on #5778
@lgirdwood
 ipc timed out when MOD_UNBIND or MOD_INIT_INSTANCE happened with sof xtos
as for zephyr ,  ipc timed out when MOD_UNBIND has happened

However , sometimes  with multiple pause resume testcase this issue did not happened and ipc error when set pipeline state happened and fw report unknown error when processing the request , see #5777

[2022-05-10 08:02] singalsu commented on #5763
I got 48 kHz DMIC pipeline running with 10 ms scheduling but not 16 kHz. The error I get into FW trace with a modified sof-hda-generic-2ch.tplg is this. The topology macro intel-generic-dmic.m4 seems to calculate buffers sizes for the pipeline wrong when I tried to change macro values from 1000 to 10000.

[code]
@sanzazacuro Are you able to check if you get the same error? With my device I view th

[2022-05-10 08:47] XiaoyunWu6666 commented on #5778
Actually I found it hard to tell whether this was a regression or an issue that always exist because we had some blocker issues for sof IPC4  that may block/affect a serial of testcases before and they were solved by some recent sof commits

[2022-05-10 10:03] singalsu commented on #5763
@sanzazacuro If you have similar error, please check if PR #5795 helps.

[2022-05-10 10:39] ujfalusi commented on #5747
Managed to reproduce it again after reserving and logging in to the machine:
[code]
The last thing printed by the test on console:
[code]
Plenty of memory was available before starting the test run:
[code]

[2022-05-10 11:44] kv2019i commented on #5789
I've been trying to reproduce this locally for a full day (not exactly same config but a cAVS2.5 I2S platform), but no luck so far. So would be really good to get the "etrace" output on CI when this is hit.

[2022-05-10 14:03] mengdonglin opened #5797 "SOF 2.2 Release Checklist"
Pre RC1 Steps:
- [x] tag any of the issues and feature lists with milestone v2.2  https://github.com/thesofproject/sof/issues?q=is%3Aopen+is%3Aissue+milestone%3Av2.2
- [x] Align on FW and topology layout update in https://github.com/thesofproject/sof-bin
- [x] Choose a SOF commit on main branch as candidate for branch out stable-v2.2
- [x] Choose a Zephyr commit on main branch as candidate for bra

[2022-05-10 16:53] marc-hb commented on #5747
There's a hung journald also in
- https://github.com/thesofproject/linux/issues/3387

[2022-05-10 19:09] marc-hb commented on #5797
Should this be part of https://github.com/thesofproject/sof-bin/blob/main/HOWTO-new-release.md ?

[2022-05-11 14:27] lgirdwood commented on #5747
Could this be aplay/soundserver hanging on to an audio file ? I dont think its an audio device file (since ext4 is mentioned in the logs).

[2022-05-11 14:57] lgirdwood commented on #5763
@sanzazacuro did the update fix your issue ? if so we can close.

[2022-05-11 16:45] marc-hb commented on #5352
This made a huge difference but there are still some failures, typically like this:
https://sof-ci.01.org/sofpr/PR5796/build327/devicetest/?model=CML_RVP_SDW_ZEPHYR&testcase=check-sof-logger
[code]

There is only so much DMA corruption you can ignore.

[2022-05-11 20:15] plbossart commented on #5747
I saw a similar issue today on TGLU_SKU0A32_SDCA while running basic sof-test stuff manually, where we don't use files really - except for left/right tests.

[2022-05-12 04:34] ujfalusi commented on #5747
It is more like journald causes filesystem lockup (or vice versa)
module unload load generates fair amount of logs due to tplg build up on some platforms, but the system must be able to handle this. It is nowhere near to an fs stress test

[2022-05-12 06:32] marc-hb commented on #5747
If we can avoid a filesystem and/or journald bug by reducing log spam then we just should. We have neither time nor resources nor expertise to debug stuff like this.

It's not like log spam is useful anyway, in fact it's unreadable and cumbersome and slowing us down even when it does not crash.

[2022-05-12 08:43] sanzazacuro commented on #5763
Yes, thanks, COMP_PERIOD_FRAMES fixed the issue.

[2022-05-12 08:43] #5763 closed

[2022-05-12 11:44] mengdonglin commented on #5797
@marc-hb Do you mean we should list the required steps in https://github.com/thesofproject/sof-bin/blob/main/HOWTO-new-release.md?

[2022-05-12 12:45] kv2019i commented on #5777
I debugged this on Zephyr build and got a OS panic:
[00000003] <err> os:  ** CPU 0 EXCCAUSE 13 (load/store PIF data error)
[...}
Backtrace:0xBE02198D:0xBE076400 0xBE021850:0xBE076440 0xBE021A1B:0xBE076480 0xBE021A96:0xBE0764C0 0xBE024E15:0xBE076530 0xBE02515F:0xBE0765E0 0xBE025402:0xBE076630 0xBE0255AD:0xBE076670 0xBE025C9C:0xBE0766A0 0xBE016A7E:0xBE0766D0 0xBE01D5E4:0xBE0766F0 0xBE024BB8:0xBE0767

[2022-05-12 14:35] kv2019i opened #5809 "[BUG][IPC4] "Failed to set up connected widgets" on second PCM open"
**Describe the bug**
A variant of https://github.com/thesofproject/sof/issues/5777

FAILS:
aplay   -Dhw:0,1 -r 48000 -c 2 -f S16_LE -d 10 /dev/zero -v -q
aplay   -Dhw:0,1 -r 48000 -c 2 -f S16_LE -d 10 /dev/zero -v -q
aplay   -Dhw:0,1 -r 48000 -c 2 -f S16_LE -d 10 /dev/zero -v -q

WORKS:
aplay   -Dhw:0,1 -r 48000 -c 2 -f S16_LE -d 10 /dev/zero -v -q
sleep 3
aplay   -Dhw:0,1 -r 48000 -c 2 -f S16_LE

[2022-05-12 14:55] kv2019i commented on #5809
FYI @RanderWang , @ranj063 and @miRoox

[2022-05-12 15:09] kv2019i commented on #5809
If logging is enabled with CONFIG_ZEPHYR_LOG=y (all SOF logs go to SRAM window via Zephyr logging backend), the bug is not reproduced. This suggests timing plays a role in triggering the problem. Logging via SRAM changes DSP execution timing.

[2022-05-12 16:04] ranj063 commented on #5809
@kv2019i do you have a typo in your command? Ar eyou really trying to open the same PCM device three times?
[code]

[2022-05-12 16:24] #5777 closed

[2022-05-12 17:51] marc-hb commented on #5797
Yes or as another, template file close to it. Then for each release we can copy the template into a new issue like this one.

This would make the template reviewed, version controlled and available outside Github.

[2022-05-13 01:58] mengdonglin commented on #5797
@marc-hb Okay. I can work on PR to update in https://github.com/thesofproject/sof-bin/blob/main/HOWTO-new-release.md

[2022-05-13 07:31] pabs3 opened #5814 "[FEATURE] enable loading alternate builds?"
Since most hardware manufacturers require Intel signatures on SOF binaries, most people who have hardware that can run SOF can't modify, rebuild and reinstall SOF. In addition the distributions that package SOF can't build SOF from source and have users load their SOF binaries. It would be nice if both or either of these could happen.

I can think of three ways for that to happen:

Intel could req

[2022-05-13 08:50] singalsu commented on #1971
This issue was fixed by 0 dB gain conversion set #5622.

[2022-05-13 08:50] #1971 closed

[2022-05-13 08:55] singalsu commented on #4522
There's work in progress PR in #5603.  It depends on #5306 also.

[2022-05-13 09:00] sanzazacuro opened #5815 "[BUG] Increase memory size for linking large static library to module"
**Describe the bug**
I have a custom module which links a static library. It seems that the firmware, with the library, exceeds maximum memory, as it tries to write beyond address 0x0be2f0000 (max on tigerlake memory config)
`tigerlake.x:494 cannot move location counter backwards (from 00000000be2f0000 to 00000000be2e0000)`

I tried to decrease the DMA heap size slightly to make room for my librar

[2022-05-13 10:49] lgirdwood commented on #5814
@pabs3 thanks for the question, fwiw this is something we are trying to improve in the future for the community and it wont be an immediate fix.

Signing is used by some Intel and AMD (and maybe other vendors too) based devices to provide a secure computing environment (alongside the OS signing) and is a certification requirement by some OS vendors.

The FW signing is bypassed on Chromebooks or on

[2022-05-13 11:04] lgirdwood commented on #5747
Can we try a ```sync``` between each ```rmmod``` and see if this has any impact ? This would flush FS cache.

[2022-05-13 11:46] lgirdwood commented on #4488
#5729 merged.
@ranj063 any comment on the codec adapter part (in the BUG description) ?

[2022-05-13 11:47] lgirdwood commented on #5809
@mwasko @marcinszkudlinski fyi - not sure if you have seen this issue yet.

[2022-05-13 14:31] ApostolosB opened #5819 "[BUG] Headphones are not detected when you boot with them plugged in"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
Please also read https://thesofproject.github.io/latest/contribute/process/bug-tracking.html for further information on submitting bugs.
When i plug in headphones and start my laptop they are not detected. I have to plug them out and then in again for them to work.

**

[2022-05-13 17:39] ranj063 opened #5820 "[BUG][SOF Zephyr][IPC4]Suspend/resume with capture fails with IO error on ADL/TGL"
**Describe the bug**
Suspend/resume test with capture fails with a IO error right after resuming.

**To Reproduce**
SOF_LOGGING=none TPLG=/lib/firmware/intel/avs-tplg/sof-tgl-nocodec.tplg ./check-suspend-resume-with-audio.sh -m capture -l 1

**Reproduction Rate**
100%
EDIT BY @XiaoyunWu6666 :in CI, it's almost 2/7 -- 3/7 , according to testresults in past week
**Expected behavior**
The stream shou

[2022-05-13 23:17] pabs3 commented on #5814
@lgirdwood thanks for the response and it is great to hear that this is
being worked on, I look forward to hearing any developments on this and
encourage you to post updates here when they happen.

I'm curious why the Chromebooks in developer mode and developer boards
require the public community key instead of allowing unsigned firmware?
Signing with the public community key seems to add no value

[2022-05-14 15:16] ApostolosB commented on #5819
[alsa-info.txt](https://github.com/thesofproject/sof/files/8693230/alsa-info.txt)

The requested file.

[2022-05-14 22:06] yongzhi1 opened #5822 "[BUG][MTL] 4xch DMIC capture returned read error"
**Describe the bug**
With 4xch DMIC capture returns:
arecord: pcm_read:2178: read error: Input/output error

**Topology**
diff --git a/tools/topology/topology2/cavs/CMakeLists.txt b/tools/topology/topology2/cavs/CMakeLists.txt
index 9caab6880..33a396cde 100644
--- a/tools/topology/topology2/cavs/CMakeLists.txt
+++ b/tools/topology/topology2/cavs/CMakeLists.txt
@@ -29,7 +29,7 @@ PREPROCESS_PLUGINS=

[2022-05-15 03:37] kreaninw commented on #2251
I know this bug is closed. But I want to update the situation regarding SOF driver on the Coffee Lake CPU, **i5-8250U** on Acer Swift SF514-52T  in my case.

I am running on Fedora 36, my packages are:
[code]

When I enabled the SOF driver with `options snd-intel-dspcfg dsp_driver=3` in the `/etc/modprobe.d/snd-intel.conf` file. Then running `sudo dracut --force` and reboot.

After rebooted, my ap

[2022-05-16 01:52] keqiaozhang commented on #5733
@lyakh any updates? It always fails in CI.

[2022-05-16 03:08] keqiaozhang commented on #5820
@ranj063 , we did not observed this issue in CI, please share more log about this I/O error.
There's only one IPC error happens on ADLP_RVP_NOCODEC_IPC4 platform(Iris will file a new bug to track this issue). Most of the suspend/resume with audio test cases can passed on other IPC4 platforms. Please refer to daily_IPC4 test reports for details.

[2022-05-16 06:30] mwasko commented on #5809
@kv2019i I will ask firmware validation team to verify if we can reproduce this issue in scenario with Diagnostic Driver.

I would also like to ask you to do an experiment and add background capture stream (that will prevent D3 entry) and then run:

aplay -Dhw:0,1 -r 48000 -c 2 -f S16_LE -d 10 /dev/zero -v -q
sleep 3
aplay -Dhw:0,1 -r 48000 -c 2 -f S16_LE -d 10 /dev/zero -v -q
sleep 3
aplay -Dhw:0

[2022-05-16 07:17] lyakh commented on #5733
@keqiaozhang I'm still debugging this. I think I have to discuss with Zephyr developers more actively

[2022-05-16 07:21] lenghonglin commented on #5794
Is there something news to share after TSC？

[2022-05-16 07:40] juimonen commented on #5822
the dmic dai index 1 is for 16khz fifo. So we should be able to run 48 khz fifo also with 4 ch

[2022-05-16 11:45] XiaoyunWu6666 commented on #5778
Close this issue since we won't pay much attention to sof IPC4 XTOS.
The testresult of sof IPC4 XTOS is merely for providing controlled experiment result for sof IPC4 zephry

[2022-05-16 11:46] #5778 closed

[2022-05-16 12:49] XiaoyunWu6666 opened #5825 "[BUG][IPC4] IO error with ipc timed out when GLB_CREATE_PIPELINE on both TGLU_UP_HDA_IPC4ZPH and ADLP_RVP_NOCODEC_IPC4"
**Describe the bug**
IO error on both TGLU_UP_HDA_IPC4ZPH and ADLP_RVP_NOCODEC_IPC4 which run sof IPC4 Zephyr test configuration.
IPC timed out when GLB_CREATE_PIPELINE and create module failure happened on both platforms.

**To Reproduce**
TPLG=/lib/firmware/intel/avs-tplg/cavs-tgl-nocodec.tplg MODEL=ADLP_RVP_NOCODEC_IPC4 ~/sof-test/test-case/check-playback.sh -d 3 -l 1 -r 1 -F
OR
TPLG=/lib/firmw

[2022-05-16 15:35] XiaoyunWu6666 opened #5827 "[BUG][IPC4]ipc error 9 on SET_PIPELINE when suspend/resume with FW error "specified resource not found" on ADLP_RVP_NOCODEC_IPC4"
**Describe the bug**
Suspend/resume fails  on ADLP_RVP_NOCODEC_IPC4 at the Round 9/50
This happened first in inner daily IPC4 12604 with  FW error "specified resource not found"
and ipc error when setting pipeline state

**To Reproduce**
TPLG=/lib/firmware/intel/avs-tplg/cavs-tgl-nocodec.tplg MODEL=ADLP_RVP_NOCODEC_IPC4 ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 5 -m capture

**Env

[2022-05-16 15:39] XiaoyunWu6666 commented on #5820
BUG link for suspend resume IPC error on ADLP RVP NOCODEC IPC4 :https://github.com/thesofproject/sof/issues/5827

[2022-05-17 02:44] XiaoyunWu6666 commented on #5820
Suspend/resume with capture/playback fails with IO error and ipc time out on ADLP RVP NOCODEC happened in inner daily IPC4 12637 when check-suspend-resume-with-playback

ipc time out when create module  and dsp init failed after that
[code]

[IPC4-dmesg.txt](https://github.com/thesofproject/sof/files/8704681/IPC4-dmesg.txt)

[2022-05-17 03:46] XiaoyunWu6666 commented on #5820
hi @ranj063 , Did you see only IO error in the console without dmesg error when you found this issue ?

I checked past tests for TGLU_UP_HDA (sof Zephyr IPC4) and ADLP RVP NOCODEC(sof Zephyr IPC4)  in inner CI.
There are a couple of possible types of errors:
I . only IO error in the console log  : inner IPC4 result 12563 12593
II. fw report error specified resource not found when setting pipeline

[2022-05-19 09:02] hongshui3000 opened #5835 "Compile the sof topology2 file on windows"
sof is already able to support windows, is there any plan for alsatplg to support being able to run on windows. In this way topology compilation can also be done on windows.

[2022-05-19 12:55] plbossart commented on #5835
alsatplg is part of the alsa-utils package, which is not maintained by this SOF team - though we did make contributions.

Even in Windows, you can use WSL to open a Linux terminal and compile topologies. Not sure what the ask is here really.

[2022-05-19 13:59] hongshui3000 commented on #5835
I learned from the sof doc that this alsatplg is needed to compile the topology. But the documentation doesn't mention how to install the alsatplg . I am not clear how to install it in WLS or linux

[2022-05-20 04:07] miRoox opened #5836 "[BUG] stack overflow on BYT_MB_NOCODEC when multiple pause resume"
**Describe the bug**
CI observed a stack overflow error when testing multiple pause resume.

**To Reproduce**
[code]

**Reproduction Rate**
Only once in CI.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: https://github.com/thesofproject/linux/commit/32531ea13fd2
    * SOF: https://github.com/thesofproject/sof/

[2022-05-20 10:41] wszypelt opened #5840 "[BUG] Captured signal is silent in TestMixerPlayback"
**Describe the bug**
Captured signal is silent in TestMixerPlayback
Issue was found in:
[ICL]
12_00_TestMixerPlayback16000Hz16b16b8ch Repro: 1/75

**Topology**
Description:
Mix 3 playback pipelines into one using Mixer component, loopback signal on external SSP connection, record signal on record pipeline with audio verification.
[code]

**To Reproduce**
Run tests with Diagnostic driver:
12_00_Tes

[2022-05-20 12:17] dkrzysiak opened #5841 "[BUG] THD value is larger than acceptable in TestEqFirSimple"
**Describe the bug**
THD value is larger than acceptable in TestEqFirSimple
Issue found in:
[ICL]
20_00_TestEqFirSimple8000Hz32b32b4ch

**Topology**
Description:
Test is performing simultaneous playback and capture on external SSP interface with recorded signal quality verification.
Playback pipeline contains FIR EQ component with basic configuration.
[code]

**To Reproduce**
Run tests with Diagno

[2022-05-20 14:26] Tatsh opened #5842 "[BUG] Speech synthesis always skips randomly on speakers"
**Describe the bug**
When I watch a Twitch stream or use the speech synthesis API in Chrome, the start of the TTS always gets skipped, and from there parts are skipped randomly.

If you try to have Chrome say 'Hello World', it just says 'o' and cuts off everything else. Longer messages play a bit more but the beginning is still cut off. The monitor shows the same result so it is not the speakers.

[2022-05-23 02:06] keqiaozhang commented on #5657
We haven't seen this issue in CI in the past month and a half. Let's close this one and reopen if it happens again.

[2022-05-23 02:06] #5657 closed

[2022-05-23 02:55] XiaoyunWu6666 commented on #5825
in inner daily IPC4 12776 on model TGLU_UP_HDA_IPC4ZPH in testcase check-playback-all-formats , the IO error happened again with FW ERROR
[dmesg]
[code]

[2022-05-23 03:00] XiaoyunWu6666 commented on #5827
I checked past tests for TGLU_UP_HDA (sof Zephyr IPC4) and ADLP RVP NOCODEC(sof Zephyr IPC4)  in inner CI.
There are a couple of possible types of errors:

I . only IO error in the console log  : inner IPC4 result 12563 12593 (#5820 )
II. fw report error specified resource not found when setting pipeline state 3 on ADL , no IO error : inner daily IPC4 12604
III. IO error with ipc time out when cre

[2022-05-23 09:11] kv2019i commented on #5809
Tested this with latest main as of today and issue no longer happens. Most probably #5817 is the fix. Closing.

[2022-05-23 09:11] #5809 closed

[2022-05-23 09:33] perexg opened #5845 "[FEATURE] Two stage firmware loader"
According the feedback from the Linux community, I saw an idea to use the two stage firmware loader to allow running a custom firmware on the hardware platforms requiring signed firmware files with the non-public keys.

Could we discuss, if this mechanism is possible?

[2022-05-24 07:55] keqiaozhang opened #5850 "[BUG][ADLP] ipc tx timed out for 0x60060000（TRIG_PAUSE）when testing multiple-pause-resume on ADLP Chrome device"
**Describe the bug**
CI detected this issue in today's daily test ID:12812. but failed to reproduced it again. IPC timed out when TRIG_PAUSE and there're some XRUNs detected in DMA trace.

[code]
**DMA-trace**
[code]

**To Reproduce**
`~/sof-test/test-case/multiple-pause-resume.sh -r 50`

**Reproduction Rate**
This issue is reproducible. I reproduced this issue once in 5 rounds of tests.

**Enviro

[2022-05-24 07:56] kv2019i commented on #5842
@Tatsh Which OS are you using? ChromeOS or some Linux distro?

[2022-05-24 07:59] singalsu commented on #5842
@Tatsh The attached wav file does not represent what you hear when the bug happens. Please record the output that you get.

[2022-05-24 11:56] Tatsh commented on #5842
Gentoo

[2022-05-24 12:18] lyakh opened #5855 "[BUG] DMIC interrupt requested twice"
**Describe the bug**
The DMIC driver on many cAVS platforms registers two DAI interfaces, sharing the same interrupt. This means, if the DMIC DAIs are opened simultaneously the interrupt is requested twice. This triggers an assertion error with Zephyr, because the second registration then happens while the interrupt is already enabled.This produces an assertion failure when `CONFIG_ASSERT` is enab

[2022-05-24 16:14] plbossart commented on #5842
@Tatsh if this was due to the SOF firmware/driver, you would see the same effect on headphones, can you please double-check? If you don't then it's an amplifier issue.

[2022-05-25 02:35] Tatsh commented on #5842
You are correct. With headphones the issue never occurs.

[2022-05-25 08:14] juimonen commented on #5822
fix in https://github.com/thesofproject/sof/pull/5837

[2022-05-25 10:42] lgirdwood commented on #5842
@Tatsh any idea on which speaker amplifier is used on your device ? There are Realtek folks here so may be able to provide help if it's a Realtek amp.

[2022-05-25 10:52] lgirdwood commented on #5850
@keqiaozhang can you turn on Zephyr lock debugging and try again (Zephyr KCONFIG). @lyakh I assume this is correct method to enable Zephyr lock debug ?

[2022-05-25 11:37] dkrzysiak opened #5856 "[BUG] BBB value is smaller than acceptable value in TestSdwAlhLoopback"
**Describe the bug**
BBB value is smaller than acceptable value in TestSdwAlhLoopback
Glitch in wave.
Issue found in:
[ICL]
16_00_TestSdwAlhLoopback48000Hz32b32b8ch

**Topology**
Description:
Simultaneous playback and capture on SdW interface on internal loopback with signal verification.
[code]

**To Reproduce**
Run tests with Diagnostic driver:
16_00_TestSdwAlhLoopback48000Hz32b32b8ch Repro: 1/7

[2022-05-25 12:15] lgirdwood commented on #5841
@dkrzysiak do we know if these are pipeline glitches or processing quality issues ?

[2022-05-25 12:21] sanzazacuro commented on #5815
Fixed by increasing `HEAP_BUFFER_BLOCK_SIZE`

[2022-05-25 12:21] #5815 closed

[2022-05-25 12:34] wszypelt commented on #5840
@lgirdwood My mistake, I have already corrected the description and topology

[2022-05-25 12:41] keqiaozhang commented on #5850
Before trying Zephyr lock debugging.  I did more tests this afternoon.
First this issue is reproducible, I tested with https://github.com/thesofproject/sof/commit/9611d126ba5d4939c8a5a841e10663aac2b89e41 and hit this issue twice in 10 rounds of `multiple-pause-resume.sh -r 50`.
Then I tested this cases ten times with the old commit https://github.com/thesofproject/sof/commit/f3ec2e590a1e99c6574883

[2022-05-25 13:15] lgirdwood commented on #5820
@kv2019i @ujfalusi does this need the Zephyr core PM patches you guys have been looking at ?

[2022-05-25 13:15] lgirdwood commented on #5733
@lyakh ping any updates ?

[2022-05-25 13:18] lgirdwood commented on #5825
@RanderWang pls check with @lyakh on Zephyr lock debugging (and enable it and retest).

[2022-05-25 13:47] lgirdwood commented on #5814
There is a lot of infra that expects a signature here, so this is a workaround so that no other changes are needed in the other ingredients.

That could be a big list, we already have a platform list on sof docs, but in general Intel based Chromebooks and UP boards all use the public signing key. All other Intel platforms should use the private Intel key.

We need to live within the requirements o

[2022-05-25 13:48] lgirdwood commented on #5797
Stable branch created.

[2022-05-25 13:54] lgirdwood commented on #5794
@lenghonglin apologies, I and some other TSC member were travelling last week.

Please see minutes here. https://github.com/orgs/thesofproject/teams/steering-committee/discussions/31

[2022-05-25 14:02] lgirdwood commented on #5835
@aborisovich is the expert on getting stuff to build on Windows. @hongshui3000 can you look at the python build script and see how this build topology1 on Windows, we may be able to modify for topology2 ?

[2022-05-25 14:19] dkrzysiak commented on #5841
@lgirdwood I would bet on pipeline, repro was performed locally on pre-checked ICL. To my mind, machine error was excluded.

[2022-05-25 14:32] lgirdwood commented on #5850
This is an optimization that make the pipeline run faster so we could be exposing a race.

@andrula-song can you fix the following
[code]
Locks should be acquired and released symmetrically. @keqiaozhang can you try again with the suggested change and then again with the lock debug.

[2022-05-25 15:49] Tatsh commented on #5842
@lgirdwood it is Realtek. On the MSI website for Windows drivers:

![image](https://user-images.githubusercontent.com/724848/170304241-d5341e89-31f5-4e59-a489-8fb832d3912a.png)

[2022-05-25 19:35] lgirdwood commented on #5842
@bardliao which Realtek folks would be able to give help here ?

[2022-05-25 19:59] lgirdwood commented on #5835
Sorry, your right - this file is just building the FW and not the topology on Windows.

Can you try https://thesofproject.github.io/latest/developer_guides/tech/compile_wsl.html and adapt WSL to install alsa-utils and follow these instructions ?

https://thesofproject.github.io/latest/developer_guides/topology2/topology2.html#building-2-0-configuration-files

It seems we need to be able to build a

[2022-05-25 20:59] Tatsh commented on #5842
Here's alsa-info and I will report after rebooting on the option change.
[alsa-info.txt](https://github.com/thesofproject/sof/files/8774491/alsa-info.txt)

[2022-05-25 21:16] Tatsh commented on #5842
Adding the option did not make a difference. I don't see proof that it used the option but I did try putting it on the command line with `snd-intel-dspcfg.dsp_driver=1` and this did not make a difference either.

[code]

[2022-05-25 21:35] plbossart commented on #5842
ok, so bog standard ALC298 codec with 2 DMICs. That's been used by tons of people...

[2022-05-25 21:38] plbossart commented on #5842
@Tatsh the option clearly didn't take effect, you should only see snd-hda-intel instead.

[2022-05-25 23:46] pabs3 commented on #5814
@lgirdwood Thanks for the details, that makes sense given current constraints.

Please do consider allowing shim to manage the keys too though.

--
bye,
pabs

https://bonedaddy.net/pabs3/

[2022-05-26 00:44] hongshui3000 commented on #5835
building the topology on wsl is a usable alternative. At least for windows users they don't need to start a linux host, just to build a topology.

[2022-05-26 01:13] RanderWang commented on #5827
First we need [5844](https://github.com/thesofproject/sof/pull/5844). and we still have a random issue in stress test. I am debugging it

[2022-05-26 01:37] lenghonglin commented on #5794
but zephyr does not support DAI interface

[2022-05-26 01:49] andrula-song commented on #5850
@lgirdwood  @keqiaozhang Use new PR https://github.com/thesofproject/sof/pull/5857 to track this bug.

[2022-05-26 03:29] XiaoyunWu6666 commented on #5825
After Rander's PR #5843 merged , seemed less testcases on TGL UP HDA are affected .
For example , check playback/capture all formats testcase won't fail on it.

But still ipc time out happened when setting pipeline state when playback for 100 times on both ADL RVP NOCODEC and TGL UP HDA.

[2022-05-26 03:37] bardliao commented on #5842
I always ping @shumingfan :)

[2022-05-26 03:46] Tatsh commented on #5842
I think I booted correctly now. There is no mention of dsp in the boot log. pavucontrol shows more than just the `Play HiFi` profile.

The issue persists in the no-SOF/DSP mode.

[2022-05-26 03:56] XiaoyunWu6666 commented on #5827
Some notes FYI:

(Sometimes the FW "specified resource not found " error does not happen and the failure looks similar to #5820 then , with ipc timed out when setting pipeline status)

[2022-05-26 09:08] shumingfan commented on #5842
@Tatsh I reported this issue to the owner of Realtek engineer and copied his comments below.

Then end users can try Windows to see if the situation is the same.
If it is, it is confirmed to be a hardware (hardware codec) problem, please end user to change the machine.
If not, please end user to give us more details.
"sudo su root" type password  to enter root
"echo 1 > /sys/module/snd_hda_codec/p

[2022-05-26 09:10] keqiaozhang commented on #5850
@lgirdwood and @andrula-song

Confirmed that PR https://github.com/thesofproject/sof/pull/5857 can fix this issue. 15 rounds of test passed(`~/sof-test/test-case/multiple-pause-resume.sh -r 50`). It took about 4 and a half hours.

[2022-05-26 10:32] lgirdwood commented on #5835
Yeah, we do work on alsa-lib and alsa-utils packages as part of SOF so we do need a good method to make sure we can support git version of these packages on WSL.

Were you able to build alsa-lib or alsa-utils from git on WSL ? If so it's probably worth a PR updating sof docs to help others on WSL.

[2022-05-26 11:49] hongshui3000 commented on #5835
Some dependent packages are missing, and some cannot be downloaded from the default address. I am currently unable to compile them on wsl

[2022-05-26 12:39] lgirdwood commented on #5835
Which deps ? My understanding is that alsa-lib and alsa-utils can be stripped down to the bare minimum by using ```./configure --disable-this --disable-that``` and so on.

[2022-05-26 14:50] hongshui3000 commented on #5835
alsa-lib
![image](https://user-images.githubusercontent.com/25566498/170512811-0e4a4963-9b8a-4566-9834-f23f0a5af485.png)
![image](https://user-images.githubusercontent.com/25566498/170513057-745a0d8e-f6da-43fc-ac78-1733a2ddf40c.png)
alsa-utils
![image](https://user-images.githubusercontent.com/25566498/170513370-b62eccaf-daf1-42e9-9cb9-fc738bd36d89.png)

[2022-05-26 17:44] dkrzysiak commented on #5840
Same mistake occurred in these 4 cases:

12_00_TestMixerPlayback8000Hz24b32b8ch
log:
[TMP_8000_24_32_8.zip](https://github.com/thesofproject/sof/files/8780983/TMP_8000_24_32_8.zip)

12_00_TestMixerPlayback16000Hz32b32b4ch
log:
[TMP_16000_32_32_4.zip](https://github.com/thesofproject/sof/files/8780989/TMP_16000_32_32_4.zip)

12_00_TestMixerPlayback16000Hz24b32b8ch
log:
[TMP_16000_24_32_8.zip](https

[2022-05-26 21:36] Tatsh commented on #5842
Updated alsa-info: [alsa-info.txt](https://github.com/thesofproject/sof/files/8782283/alsa-info.txt)

Windows does not have the problem. I ran the same videos, ran speech synthesis, and had no issues.

[2022-05-27 00:34] hongshui3000 commented on #5835
![image](https://user-images.githubusercontent.com/25566498/170605454-3f0a6ee6-b3ab-4577-a7da-edc4dc3dbcc8.png)
autoconf can be installed, but still shows that libtool is missing

[2022-05-27 00:36] hongshui3000 commented on #5835
autoconf can be installed, but still shows that libtool is missing
![image](https://user-images.githubusercontent.com/25566498/170605665-d80a6345-c1ea-414e-8fb0-c95d27388476.png)

[2022-05-27 05:24] lyakh commented on #5850
@keqiaozhang @lgirdwood yes, just enable `CONFIG_ASSERT` then `CONFIG_SPIN_VALIDATE` will be enabled automatically too

[2022-05-27 05:38] lyakh commented on #5733
@lgirdwood a few updates, yes. Mostly I now have two lines of working with this:
1. #5852 eliminates a "scheduling in atomic context" bug, that has been identified in the DMIC driver as a part of this work, but which isn't really the cause of these failues
2. DSP core power down with Zephyr on TGL. This isn't supported so far, and when this problem occurs I see core 1 booting after kernel module r

[2022-05-27 06:05] lyakh commented on #5850
@lgirdwood @andrula-song Interesting. Locking and unlocking only takes place if the object is shared, which in this case should mean, if the buffer is connecting two pipelines, running on different cores. And AFAICS sof-tgl-sdw-max98373-rt5682.m4 has everything on core 0. So, this must be something different...

[2022-05-27 07:43] lyakh commented on #5836
@lgirdwood like #5861 ?

[2022-05-27 13:50] lgirdwood commented on #5835
@hongshui3000 apologies, I thought libtooli would be pulled in as a dependency of auto tools. pls try
```sudo apt-get install libtool```

[2022-05-27 13:52] lgirdwood commented on #5835
If you hit another tool not found can you google form "ubuntu install <toolname>". This should give you the apt-get package name etc

[2022-05-27 22:10] cujomalainey opened #5863 "[BUG] MT8186 files are missing owners"
**Describe the bug**
All main directories should have owners

[2022-05-28 01:14] yongzhi1 opened #5865 "[FEATURE] Add HDMI pipe to topology2"
**Is your feature request related to a problem? Please describe.**
Since machine drivers usually assume the presence of HDMI as shown in the following example:
https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sof_sdw_common.h#L27

It's necessary to add support in topolgoy2 to avoid error return by codec_card_late_probe() ,

[2022-05-28 02:33] #5822 closed

[2022-05-28 02:55] hongshui3000 commented on #5835
After installing the tool, it can be compiled, but the compilation of alsa-lib can be successful, but the compilation of alsa-utils fails and the log is as follows. Do you have any suggestions?
[code]

[2022-05-28 09:15] johnylin76 opened #5866 "[BUG] the potential issue on codec_adapter_new() error caused by large config private data"
**Describe the bug**
The topology is failed to load due to the error on codec_adapter_new() if we put the codec-specific config to the private data of either setup or runtime config byte-control. (e.g. [put the default setting to runtime config](https://github.com/thesofproject/sof/pull/5860/commits/c11e9c14c7910475d8270d3e58111bc0a6a30a74))

The root cause is in sof-kernel while allocating a new

[2022-05-29 05:35] jimmychm opened #5867 "[BUG]"
**Describe the bug**
I have been trying to install Linux on my system (UX482EG)

**To Reproduce**
I haven't been able to pinpoint what causes the sound to stop working when it initially does, but whatever it is that causes it to stop working, happens quite

**Reproduction Rate**
How often does the issue happen ? i.e. 1/10 (once in ten attempts), 1/1000 or all the time.
Does the reproduction rate v

[2022-05-30 02:06] bardliao commented on #5865
@yongzhi1 [sof_sdw_common.h#L27](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sof_sdw_common.h#L27) is for sof_sdw.c, but your machine driver is sof_rt5682.c.
Could you print the value of hdmi_num in your side? https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sof_rt5682.c#L865
We need more kernel log on the issue, please apply the

[2022-05-30 06:36] jonah-chen commented on #5867
I have the same issues on the Asus Zenbook UP5401EA with the LTS kernel as well.
[code]

[2022-05-30 07:29] keqiaozhang commented on #5850
Bad news, this issue still can be reproduced with the tip main branch. https://github.com/thesofproject/sof/commit/a7b2b29cc649bee7d4b86c686db98632346c497b.
It seems that https://github.com/thesofproject/sof/pull/5857 doesn't really fix the problem.

[2022-05-30 07:38] lyakh commented on #5850
exactly. As my previous comment says - this doesn't appear related to me.

[2022-05-30 09:40] lgirdwood commented on #5866
@mwasko fyi issue on ADL-04 branch
@ranj063 does this also apply to the main branch ? (if so, maybe a single fix is needed)

[2022-05-30 10:55] lgirdwood commented on #5835
Does installing gettext help ?

```sudo apt-get install gettext```

Also you will need to run ```./configure --disable-all-stuff-you-dont-need```

[2022-05-30 10:56] lgirdwood commented on #5863
@thesofproject/mediatek @kuanhsuncheng fyi.

[2022-05-30 11:09] kuanhsuncheng commented on #5863
Got it, I will add our members. thanks.

[2022-05-30 12:05] hongshui3000 commented on #5835
The program installation can be completed, but it cannot run normally. The following libraries exist, but the display still cannot be found. Is the version of the library wrong?
[code]

[2022-05-30 12:29] lgirdwood commented on #5835
The runtime linker does not know where to find your new ALSA library (it may be installed in a different place for WSL). I would search your WSL filesystem for all copies of libasound.so and make sure your new version is getting copied to the correct place.

[2022-05-30 12:41] hongshui3000 commented on #5835
yes it can work now. Thanks

[2022-05-30 12:45] RanderWang commented on #5820
?  I don't have time to debug Linux kernel.

[2022-05-30 13:34] #5835 closed

[2022-05-30 15:31] kv2019i commented on #5850
I'd propose a P2 priority just to help order bugfixing work. I tried to locally reproduce this and it seems this takes multiple hours to trigger, so it seems P2. Please increase/decrease based on rate of occurence.

[2022-05-31 07:41] kv2019i commented on #5820
@lgirdwood @RanderWang I'll try to reproduce this today. This shouldn't depend on the Zephyr PM patches.

[2022-05-31 10:50] kv2019i commented on #5820
I don't think the original case occurs anymore. I could not reproduce this on a local nocodec/tgl machine, dspite multiple hours of test iterations. Looking at our daily tests, I don't see this occuring anymore. E.g. daily plan 12977 is clean. I'll lower to P2 to reflect this.

[2022-05-31 14:23] #5775 closed

[2022-06-01 04:54] jonah-chen commented on #5867
I was able to fix my issue by flashing the BIOS to an older version. However when I flashed the BIOS back to the latest version, the issue did not resurface. Hence, I believe this issue is likely caused by something else that is now resolved.

The original poster's issue is likely different. Thanks.

[2022-06-01 08:55] dkrzysiak opened #5877 "[BUG] Network issue found in TestBluetoothOffload"
**Describe the bug**
BUG was found in:
24_00_TestBluetoothOffloadSsp16b16b2ch
24_00_TestBluetoothOffloadSsp24b32b4ch
24_00_TestBluetoothOffloadSsp32b32b8ch

Error content:
ERROR:Exception SofIpcErrorResponseException occurred at 'C:\\work\\tools\\pyexecnetcache\\cavs_scripts-py\\utilities\\ipc_driver.py':756 FW replied with error. Error code: -16 0x00000005 0x00000000 0x00004000

Last working buil

[2022-06-01 09:32] dkrzysiak opened #5878 "[BUG] SNR value is smaller than acceptable value in TestPtpPlaybackBitDepthConversion"
**Describe the bug**
SNR value is smaller than acceptable value in TestPtpPlaybackBitDepthConversion
Issue found in:
[ICL]
02_13_TestPtpPlaybackBitDepthConversion8000Hz16b16b2ch

**Topology**
Description:
Simultaneous playback and capture on external loopback (same SSP) with signal verification.
Playback pipeline is setup that bit depth conversion is done on DAI component
(e.g.: if host component

[2022-06-01 14:41] dkrzysiak opened #5879 "[BUG] Playback file not found in captured file in TestMixerPlayback"
**Describe the bug**
Playback file not found in captured file in TestMixerPlayback
Issue found in:
[ICL]
12_00_TestMixerPlayback16000Hz16b16b8ch

**Topology**
Description:
Mix 3 playback pipelines into one using Mixer component, loopback signal on external SSP connection, record signal on record pipeline with audio verification.

[code]

**To Reproduce**
Run tests with Diagnostic driver:
12_00_Tes

[2022-06-02 07:43] RanderWang commented on #5820
please try this bug with the coming IPC4 rework

[2022-06-02 13:28] kv2019i commented on #5825
Managed to reproduce this on cAVS2.5 nocodec system. I enable full Zephyr logs and FW logs show:

6902998250257 ipc: comp 3 not found
6902998251157 failed to process msg 19 status 9
6902998251797 ipc4: 0 failed err 9
6902998268744 ipc: comp 3 not found
6902998269364 failed to process msg 19 status 9
6902998269990 ipc4: 0 failed err 9
6903017548544 ipc: comp 3 not found
6903017549165 failed to proc

[2022-06-02 15:07] lgirdwood commented on #5825
So we should reply with an error but it looks like we are not ?

[2022-06-02 16:33] kv2019i commented on #5825
@mwasko  Here's one reproducible IPC4 bug.

[2022-06-03 07:04] mwasko commented on #5825
@wszypelt please run the described flow and verify if it reproduce on MTL hardware

[2022-06-03 15:00] kv2019i commented on #5825
Update: it seems with https://github.com/thesofproject/sof/pull/5844 and https://github.com/thesofproject/sof/pull/5887 , I can no longer reproduce this case on cAVS2.5 nocodec platform. FYI to @mwasko @wszypelt  @RanderWang . Without these fixes, the issues is easy to hit (on every run of the sof-test check-playback.sh case).

[2022-06-05 23:10] friedelino opened #5892 "[BUG] PM / Firmware boot failure due to timeout after resume from hibernate on linux kernel 5.18"
**Describe the bug**

I am running NixOS x86_64 Linux on a Dell XPS9310 with Intel Tiger Lake Sound. Just upgraded to most recent NixOS-version (22.05) which includes kernel upgrade from 5.17.11 to 5.18.
After the upgrade i came across following problematic behaviour:
- when I boot to console, login and invoke `systemctl hibernate` hibernation works only one time because when i resume from hiberna

[2022-06-06 16:21] plbossart commented on #5892
Thanks for the report @friedelino, much appreciated.

This looks like a regression, my money would be on the change we added for IMR support between 5.17 and 5.18
5fb5f51185126 ('ASoC: SOF: Intel: hda-loader: add IMR restore support')

Could you
a) attach the result of 'alsa-info' so that we know what device you have
b) try to use 'systemctl suspend' instead?
c) disable the IMR boot by setting thi

[2022-06-06 16:22] plbossart commented on #5892
@ranj063 @ujfalusi @kv2019i @bardliao FYI

[2022-06-06 17:48] ujfalusi commented on #5892
@friedelifr, would it be possible to attach the full kernel log?
Since this happens after hibernate, it certainly looks like IMR boot issue.
We have a followup patch for IMR boot which adds recovery for the IMR failure (but that showed rare sideffect for which we have another patch, not yet upstream).
What is strange in the error is that we don't have any meaningful reason code from the DSP, 0xfff

[2022-06-06 22:25] friedelino commented on #5892
http://alsa-project.org/db/?f=4342d05ad4716decacf2320f2038192a758fabff

this is the `alsa-info` output from my system booted with linux 5.18.0 after i did a couple of hibernate/suspend tries which are also logged in the alsa-dmesg log at the end of the file

yes i tried it. it's almost the same behaviour again with one difference: when i boot a fresh system (with no anterior hibernation tries or a

[2022-06-06 22:57] plbossart commented on #5892
@friedelino I don't understand the comments with 'systemctl suspend', you only added a truncated dmesg log with zero information so it's hard to understand what happens.

please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/8848748/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf (the extension matters), reboot, redo this step b) and attach the entire dmesg

[2022-06-06 23:16] friedelino commented on #5892
I truncated the first log because the relevant information is shown in the truncated Version (there are *No* Error messages). The 2nd (dmesg2.txt) Log is a full dmesg Log as you requested. Still, i can submit another one tomorrow.

[2022-06-06 23:22] plbossart commented on #5892
@friedelino The suspend case is a lot more worrying and should be our first priority. This is what we test on a regular basis and SHOULD work. Hibernate is one step further, more complicated. Let's fix the 'simple' case first, shall we?

[2022-06-07 02:21] keqiaozhang opened #5898 "[BUG] IPC timed out for 0x60050000(TRIG_STOP) when testing playback on BDW"
**Describe the bug**
CI observed this issue on BDW_WSB_RT286 when testing playback.
[code]

**To Reproduce**
`~/sof-test/test-case/check-playback.sh -d 1 -l 100 -r 1`

**Reproduction Rate**
Only observed this issue once in CI, no reproductions by manual check.

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: [f7d6f01d0d16](https://github.com/thesofproject/linux/commit/f7d6f01d0d16)

SO

[2022-06-07 03:43] XiaoyunWu6666 commented on #5827
in inner daily 13137 on model TGLU_UP_HDA_IPC4ZPH when check-suspend-resume-with-capture-5
 ipc timed out happened when MOD BIND
[code]

[2022-06-07 06:07] ujfalusi commented on #5892
@friedelino, please try to attach full logs as hints might be visible outside of the 'interest area'. Can you check simple runtime suspend resume as well (aplay, wait, aplay, wait, ...)?
Please also add the `sof-dyndbg.conf` so we can see more debug messages to help us rootcause and fix the issue.

It looks to me that the DSP boot sequence was OK (IMR boot is suspected, which does not have much wa

[2022-06-07 07:02] RanderWang commented on #5677
@mwasko  I found the latest definition link in your email, when do you plan to update it ? We need to develop Linux kernel feature base on it. Thanks!

[2022-06-07 14:31] kfrydryx commented on #5877
Can you confirm ssp port is enabled?
Is this a new scenario or a regression on ssp loopback?

[2022-06-07 17:33] Noammac commented on #5892
Hello, I seem to be having the same issue. I installed the `sof-dyndbg.conf` file and found that even repeated `systemctl suspend` s would result in a working configuration, but a single `systemctl hibernate` would break sound and require removing the DSP and rescanning.
Attached are two logs confirming this. It would appear that the problem arises when recovering from RAM image, at least in my ex

[2022-06-07 18:17] plbossart commented on #5093
Heads up to Zephyr folks: the firmware version information is typically the first thing we look at when trying to support the community. We absolutely need to have the ability to add all the information that's currently only visible with sof-logger in the kernel console logs. @marc-hb @kv2019i @lgirwood this needs to be added 'soon' that the upstream kernel logs this information.

[code]

[2022-06-07 18:57] Noammac commented on #5892
Both logs had attempted a `systemctl suspend` and then a `systemctl hibernate`.
New lo
[new_dmesg_log.txt](https://github.com/thesofproject/sof/files/8855827/new_dmesg_log.txt)
g

[2022-06-07 19:43] plbossart commented on #5892
Is the new log with the option above @Noammac ? I still see 'booting from IMR directly'. It could also be that the option is incorrect...

[2022-06-07 19:49] plbossart commented on #5892
sorry, my bad @Noammac @friedelino, the command should be

options snd-sof sof_debug=0x81

One day I'll learn how to count to 7.

[2022-06-07 19:58] Noammac commented on #5892
Ah lol
Changed setting, and can report that there's no error after hibernation. Log's attached.
[another_dmesg_log.txt](https://github.com/thesofproject/sof/files/8856189/another_dmesg_log.txt)

[2022-06-07 20:10] plbossart commented on #5892
Thanks @Noammac, I am glad this chicken bit added "just in case" solves your problem. Only the paranoid survive, etc.
Just to be clear, can you confirm that you ONLY had a problem with 'systemctl hibernate', and 'systemctl suspend' worked fine for you?

[2022-06-07 20:24] Noammac commented on #5892
Can confirm, tried multiple suspends with no issue, and it only became a problem once I attempted to hibernate.

[2022-06-07 20:51] friedelino commented on #5892
I also did some more testing. the first round is with sof_debug=0x81 set:

directly after boot: [dmesg-afterboot.txt](https://github.com/thesofproject/sof/files/8856405/dmesg-afterboot.txt)
1st try suspend: [dmesg-1st-suspend-try.txt](https://github.com/thesofproject/sof/files/8856406/dmesg-1st-suspend-try.txt)
2nd suspend: [dmesg-2nd-suspend-try.txt](https://github.com/thesofproject/sof/files/885

[2022-06-07 21:06] plbossart commented on #5892
@friedelino I have no explanation for your second results, the IMR boot decision is made on the resume path, there's nothing related to IMR that would prevent the suspend from happening. Wow, that's very very odd.

[2022-06-07 21:09] plbossart commented on #5892
@Noammac @friedelino  Are you familiar or comfortable with compiling your own kernel? I don't have any devices on which hibernate works, so will have to rely on crowd-sourcing for tests. We have instructions here https://thesofproject.github.io/latest/getting_started/setup_linux/install_locally.html is this helps.

[2022-06-08 03:27] XiaoyunWu6666 commented on #5825
ipc error when trying to set pipeline running
see inner result  13187   model ADLP_RVP_NOCODEC_IPC4 when check-capture-100times
[code]

[2022-06-08 04:52] #5473 closed

[2022-06-08 08:37] hyunlee1o opened #5904 "[BUG] Failed to load intel/sof/sof-adl.ri (-2) Dummy output."
**Describe the bug**

**What have you tried to diagnose or workaround this issue?**
I tried to install firmware-sof-signed, also also followed the installer from this repo correctly. Didnt work.

**To Reproduce**
Just boot.

**Reproduction Rate**
Works on each boot

**Expected behavior**
Sound working.

**Impact**
Sound doesn't work

**Environment**
1) Branch name and commit hash of the 2 reposito

[2022-06-08 11:51] kv2019i commented on #5904
@hyunlee1o Do you have /lib/firmware/intel/sof/sof-adl.ri on your system? It would seem something has gone wrong in the FW file install process.

[2022-06-08 13:36] lgirdwood commented on #5794
@kv2019i we should add the DAI/DMA integration here too ?

[2022-06-08 13:47] lgirdwood commented on #5825
Ok, so it looks like we need a fix to replace PR #5844 with a new PR. @mwasko fyi.

[2022-06-08 16:20] hyunlee1o commented on #5904
I even installed the specific debian package `firmware-sof-signed `for this and it did absolutely nothing.
Not even `isenkram-autoinstall` thing did help.

[2022-06-08 21:49] hyunlee1o commented on #5904
Supposedly i am using the latest debian testing branch so this is why it should work.
Thank you for being so nice with this kinda undocumented report.
Im closing then.

[2022-06-08 21:49] #5904 closed

[2022-06-09 02:10] keqiaozhang commented on #5850
Found another IPC timed out issue for 0x60040000 (TRIG_START) when testing multiple-pipeline-playback.  Test report ID:http://sof-ci.sh.intel.com/#/result/planresultdetail/13207

**dmesg**
(dump from journalctl):
[code]

**logger**
[code]
[logger.txt](https://github.com/thesofproject/sof/files/8866193/logger.txt)

[2022-06-09 09:23] kv2019i commented on #5850
@keqiaozhang It would be good to get output of "sudo cat /sys/kernel/debug/sof/etrace" (or run "sudo cavstool.py -l" during the test). The sof-logger output doesn't show what happens around the error and it is possible the DSP hits a fatal error (and sof-logger stops working when this happens). The "etrace" file would show what has happened.

[2022-06-09 12:07] lyakh commented on #5733
I was able to reproduce the sporadic core boot problem with a modified native Zephyr test, that bug is now tracked in https://github.com/zephyrproject-rtos/zephyr/issues/46372

[2022-06-09 15:01] keqiaozhang commented on #5850
Here are the logs I captured for IPC timed out 0x60040000 (TRIG_START):

**etrace**
$ sudo cat /sys/kernel/debug/sof/etrace
[code]
**cavstool**
[code]

**dmesg**

[code]

[2022-06-09 19:29] kv2019i commented on #5850
Thanks @keqiaozhang . So there's no fatal errors from the OS in etrace, so this is something in the audio/IPC logic.

[2022-06-09 20:16] kv2019i commented on #5797
https://github.com/thesofproject/sof/releases/tag/v2.2-rc1 created

[2022-06-09 22:21] friedelino commented on #5892
@plbossart  I managed to compile the thesofproject/linux kernel-fork with your fix https://github.com/thesofproject/linux/pull/3687 and booted it again with dyndbg. I can confirm that hibernate and suspend now function normally. Here are my logs:

1) boot then suspend:
[dmesg-withpatch-suspend.txt](https://github.com/thesofproject/sof/files/8874247/dmesg-withpatch-suspend.txt)

2) boot then hibern

[2022-06-09 22:49] plbossart commented on #5892
Awesome, thanks @friedelino for testing!

[2022-06-10 05:41] friedelino commented on #5892
Thanks a lot for your quick response and your fix @plbossart!

[2022-06-10 05:41] #5892 closed

[2022-06-10 21:28] marc-hb commented on #5850
There is https://github.com/thesofproject/sof-test/pull/897 but I just confirmed `cavstool.py` is not compatible with D3. Off-topic here, discuss in https://github.com/thesofproject/sof-test/pull/897

[2022-06-11 08:37] Danct12 commented on #3868
I haven't seen the issue coming back lately on Arch Linux, kernel 5.18.2 and SOF 2.1.1-1. I was able to play games and watch YouTube videos without running into this issue.

[2022-06-11 19:51] ikrivosheev opened #5908 "[BUG] Error on go to hibernate"
**Describe the bug**
[code]

**To Reproduce**
`systemctl suspend-then-hibernate`

**Reproduction Rate**
Always

**Expected behavior**
Computer go to hibernate

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: `9f4fda38f1c59f7a20a76eff48a0cb302cb0e8e55bda53ec0f1807e10dcdad3a` (arch linux)
    * SOF: `adcd22ba2f2aa

[2022-06-11 20:05] nrndda commented on #3868
Still present without snd_sof.sof_debug=1
Kernel 5.18.3
sof-audio-acpi-intel-byt 808622A8:00: Firmware info: version 2:1:1-3964a
sof-audio-acpi-intel-byt 808622A8:00: Firmware: ABI 3:21:0 Kernel ABI 3:19:1

[2022-06-13 02:39] XiaoyunWu6666 opened #5909 "[BUG]APL UP2 NOCODEC playback ipc error when PCM_PARAMS"
**Describe the bug**
ipc error when PCM_PARAMS at the 64/100 loop on 2rd pipeline , OR at 164/200 loop on 1st pipeline when doing stress playbacks.
(This number isn't fixed with firmware varying , but if you use the same FW built with the same sof commit, the number of loop when the failure happen should be the same)

**To Reproduce**
```TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg MODEL

[2022-06-13 02:40] XiaoyunWu6666 commented on #5909
Could it be a memory issue ? The number of loops that cause such error is quite certain , the 164th loop of playback

[2022-06-13 03:26] miRoox opened #5911 "[BUG] DSP panic when setting volume after checking kmod load-unload after playback on BDW_WSB_RT286"
**Describe the bug**
The CI (ID: 13257) observed a DSP panic on BDW_WSB_RT286 when it tests volume after checking kmod load-unload after playback.

**To Reproduce**

[code]

**Reproduction Rate**
Almost 100%

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: https://github.com/thesofproject/linux/commit/4f67e36392

[2022-06-13 04:36] miRoox commented on #5911
After bisecting, this regression is introduced by f7663de1f41308b80bac4618b5835fcda1ff8fac.

[2022-06-13 05:20] XiaoyunWu6666 commented on #5909
under bisect

[2022-06-13 06:24] lenghonglin commented on #5898
ll_schedule or zephyr_ll ?

https://github.com/thesofproject/sof/pull/5912

[2022-06-13 08:48] #5558 closed

[2022-06-13 14:14] dkrzysiak commented on #5877
Confirmed, regression on ssp loopback.

[2022-06-13 14:31] lgirdwood commented on #5898
ll_schedule, BDW platform not yet on Zephyr.

[2022-06-13 14:32] lgirdwood commented on #5898
ll_schedule, BDW platform not yet on Zephyr.

[2022-06-13 14:43] lgirdwood commented on #5908
@ikrivosheev thanks for the report, the DSP should be OFF for hibernate S4, but it looks like something is blocking it.
@keqiaozhang @miRoox can someone try the same test on TGL.
@ujfalusi @plbossart fyi.

[2022-06-13 14:44] lgirdwood commented on #5909
@ranj063 fyi - looks like a race in module API/volume somewhere.

[2022-06-13 14:56] wszypelt commented on #5825
@XiaoyunWu6666 If possible, I would like to ask for a topology description and full test logs so that we can reproduce issue in our tests on MTL

[2022-06-13 15:07] ujfalusi commented on #5908
Likely duplicate of #5892 ?

[2022-06-13 15:10] ujfalusi commented on #5908
In S4 and S5 the IMR boot is not possible due to the fact that the backup sram loosing it's content.
The Linux side fix is: https://github.com/thesofproject/linux/pull/3687

[2022-06-13 15:18] ikrivosheev commented on #5908
@ujfalusi yes! This is a duplicate, close

[2022-06-13 15:21] plbossart commented on #5911
Likely that the legacy config was not added for Broadwell @ranj063  ?

[2022-06-14 02:01] keqiaozhang opened #5921 "[BUG] alsabat test failed on ADLP_RVP_NOCODEC_ZEPHYR"
**Describe the bug**
CI detected alsabat test failed on ADLP_RVP_NOCODEC_ZEPHYR in this week. After some debugging, this issue only happens with Zephyr firmware and the repro rate is high ~50%.  No reproductions with xtos firmware.
It seems that it's a Zephyr regression, will try to bisect next.

**To Reproduce**
 ~/sof-test/test-case/check-alsabat.sh -p hw:sofnocodec,0 -c hw:sofnocodec,0 -C 2

**

[2022-06-14 02:51] lenghonglin commented on #5898
I met this issue before, the reason is the `edf_workq` have not be schedule, maybe the `pipe-task` not suspend by itself, So other task could not have chance to run.

[2022-06-14 06:25] miRoox commented on #5911
The DSP panic happened when setting the volume with playback, all the previous steps (check playback, kernel module unload-reload) worked well.

I can't reproduce this issue with the same steps on TGL or ADL.

The map file is attached under the dmesg.

[2022-06-14 15:22] lgirdwood commented on #5911
[code]

and it looks like it's using module adapter ?

[code]

Afaict, it looks like we are doing a volume ramp? We have a crash at IRQ level 5 (which only has timer 3)

[2022-06-15 00:34] marc-hb commented on #5921
Transferred to the SOF repo.

Can you make sure BOTH the SOF versions and Zephyr versions are the same? They both appear in sof-logger output.

Starting with TGL the rimage signature is randomized with a salt; so you cannot compare two `.ri` files directly.
You cannot compare `.elf` or `.o` files either because we compile with `-g`.
This is why I added the `--erase_vars` feature to `sof/tools/sof_

[2022-06-15 07:06] dkrzysiak commented on #5856
The same issue on 02_00_TestPtpSimpleLoopback48000Hz24b32b8ch on WHL

[2022-06-15 08:53] dkrzysiak opened #5922 "[BUG] SNR value is smaller than acceptable value in TestPtpVolumeLoopback"
**Describe the bug**
SNR value is smaller than acceptable value in TestPtpVolumeLoopback
Issue found in:
[WHL]
02_03_TestPtpVolumeLoopback48000Hz24b32b8ch

**Topology**
Description:
Simultaneous playback and capture on external loopback (same SSP) with signal verification.
Playback pipeline contains volume component.

[code]

**To Reproduce**
02_03_TestPtpVolumeLoopback48000Hz24b32b8ch 1/50

**Rep

[2022-06-15 13:59] lgirdwood commented on #5922
@singalsu looks at first glance like the gain sign could be flipping ? but I dont see how this could be per sample, possibly DMA/SSP ?

[2022-06-15 15:39] lyakh opened #6317 "[FEATURE] Add sparse build to CI"
**Is your feature request related to a problem? Please describe.**
We added sparse support to Zephyr and we are in the process of adding it to SOF, but without running automated sparse builds on PRs we are guaranteed to regularly break sparse-guarded features like cached vs. uncached memory disambiguation.

**Describe the solution you'd like**
A Zephyr+sparse build has to be executed for each PR a

[2022-06-15 23:43] ranj063 commented on #5911
@miRoox can you please check if this helps: https://github.com/thesofproject/sof/pull/5927

[2022-06-16 07:15] wenliangwu commented on #4186
@dbaluta
Sorry to bother you.
Is this still a problem?
Because _.github/workflows/pull-request.yml_  should be updated with #5274  after the problem is fixed.

[2022-06-16 07:23] miRoox commented on #5911
Thanks. I checked it multiple times and never see it again with #5927.

[2022-06-16 08:54] paulstelian97 commented on #4186
@wenliangwu @dbaluta is currently on leave for roughly a week. We can wait or I could check on it.

[2022-06-16 09:22] wenliangwu commented on #4186
@paulstelian97 It's not urgent. I just want to check the status. Thanks.

[2022-06-16 13:28] WalterSmuts opened #5929 "[BUG] Hibernation panic"
**Describe the bug**
Sound stops working when I wake from hibernation.

**To Reproduce**
Hibernate and wake.

**Reproduction Rate**
100%.

**Expected behavior**
Sound works after hibernation as before.

**Impact**
Sounds stops working after hibernation and I need to reboot (or reload some drivers - help if you know which or what todo) to get it working again.

**Environment**
Not sure about all th

[2022-06-16 14:51] keqiaozhang commented on #5921
There is no difference w/o `-d`. This issue is much more complicated than I though. I spent more than 5 hours debugging it, but I got lost in bisecting.  The current conclusion is that this issue has nothing to do with the kernel, but it is still uncertain whether it is caused by FW or Zephyr. This issue has been existed much longer than I expected but with low reproduction rate. I will continue t

[2022-06-16 15:15] plbossart commented on #5929
Known issue https://github.com/thesofproject/sof/issues/5892

[2022-06-16 15:16] plbossart commented on #5929
Fixed by https://github.com/thesofproject/linux/pull/3687

[2022-06-16 16:31] kv2019i opened #5930 "[BUG][Zephyr] performance lower with PCM0/mixer pipe of sof-cavs-nocodec"
**Describe the bug**
Performance between Zephyr and XTOS builds is on par with PCM2 pipeline with sof-cavs-nocodec, but with the same FW versions (SOF/Zephyr), on same hardware, the PCM0/PCM3 pipelines that include a mixer, show significantly slower pipeline execution.

Issue can be seen with SOF2.0 and SOF2.1 releases, so this is not a recent regression.

**To Reproduce**
aplay -vv -i -Dplughw:0,

[2022-06-16 16:39] kv2019i commented on #2650
FYI @jsarha @ujfalusi

[2022-06-16 18:05] lgirdwood commented on #384
closed, Zephyr has this already for this platform.

[2022-06-16 18:17] lgirdwood commented on #5929
Closing since fix is merged.

[2022-06-16 18:17] #5929 closed

[2022-06-16 18:24] lgirdwood commented on #5921
@keqiaozhang Zephyr native drivers ? Looks like a performance issue that we need to track as waveform is good, the FFT failure is caused by a glitch.

[2022-06-16 18:27] lgirdwood commented on #5921
@marc-hb please dont set bug priorities. I or @mengdonglin will set and track Intel issues. Thanks.

[2022-06-16 18:40] marc-hb commented on #5921
I won't override any bug priority set by you, @mengdonglin and others but in this case there was no priority set at all and this is making many PRs fail (when almost no other bug does anymore).

BTW it would be great to have some basic triage guidelines written down.

[2022-06-17 09:15] lgirdwood commented on #5797
@mengdonglin any updates here ?

[2022-06-17 09:59] keqiaozhang commented on #5921
I have done the bisection and the bad commit points to:

https://github.com/zephyrproject-rtos/zephyr/commit/d660492914ec5524d94536604d0a2dbb95b29c9f

[code]
I also did below tests to make sure the result is reliable:
1.	Tested the previous commit d84989a and 1K iterations passed.

![image](https://user-images.githubusercontent.com/22468760/174275989-c443a4a7-c162-4939-925b-8ebc1164b3d3.png)

2.	T

[2022-06-17 13:23] singalsu commented on #5922
@dkrzysiak Is there by chance a similar test without volume. Does it pass always?

[2022-06-17 14:02] XiaoyunWu6666 commented on #5909
hi @ranj063 Have you seen any suspicious fault in this commit?
I can provide a double confirm if necessary.

[2022-06-17 14:18] marc-hb commented on #5921
Impressive work @keqiaozhang

@nordic-krch any insight?

[2022-06-17 14:27] lgirdwood commented on #5921
@nashif any ideas why above Zephyr commits could cause some audio glitches (could be scheduling ?) as my understanding is that above bisect commit would only impact the log startup ? or would this impact every log event or log flush ?

[2022-06-17 17:45] kv2019i commented on #5921
Manage to reproduce this on a TGL system now. Our ll timer logs reveal something interesting:

[code]

So when the test fails, we can observe two very large spikes in pipeline execution time (22326, that 3x the average). This is still within DSP capacity and we observe no overruns, so not immediately clear why we are seeing glitches.

[2022-06-17 19:21] mrhpearson opened #5934 "[BUG] How to support 4 channel microphone on Lenovo X1 Carbon 10"
**Describe the bug**
Honestly not sure if this is a bug or a feature request - but the Lenovo X1 Carbon 10 has 4 microphones:
  - Dmic0 Front
  - Dmic0 Rear
  - Dmic1 2nd Front
  - Dmic1 2nd Rear
They are not individually configurable and I'm not sure we have them setup correctly and am looking for guidance on what to do for the next steps

I've done some initial debugging with Jaroslav Kysela (th

[2022-06-17 19:22] mrhpearson commented on #5934
FYI @perexg

[2022-06-17 19:53] perexg commented on #5934
Thanks Mark to create this issue. The UCM configuration does not include the support the Dmic Front/Rear volume and switch controls at the moment. We need to know the mapping of those controls to the PCM stream channels.

Could we get more details about this?

[2022-06-17 19:58] plbossart commented on #5934
@mrhpearson the main problem is that we have no idea at the driver level which microphone is placed where. All that the driver and firmware do is provide a 4ch stream. UCM would need to have a channel map to figure out which mics is which, before we can control individual mics in an idiot-proof way.

For now the usage is more of an 'all or nothing', where all mics gets the same volume and mute/unm

[2022-06-17 20:04] perexg commented on #5934
The `all or nothing` does not explain the control by pair. I would assume the single value control to do this. It appears that two stereo (double channel) controls are in the way.

[2022-06-17 20:07] plbossart commented on #5934
my point @perexg is that the pairs are completely random, depending on how the board is routed. Even if it worked the usage would be questionable at best.

[2022-06-17 20:12] perexg commented on #5934
I don't follow this. The attenuation/gain is implemented in firmware, right? DSP sends the 4ch PCM stream, so where's the issue to do a 1:1 map between this volume control and the channel in the PCM stream? I'm not talking about the physical mic placement.

[2022-06-17 20:13] mrhpearson commented on #5934
Got it - I'll see if I can get a channel map then. I assume I can get that from schematics?
Thanks for the responses!

[2022-06-17 20:16] plbossart commented on #5934
I am talking about physical mic placement. If you want a 'front' and 'rear' mixer control, you need to know what the front and rear is. The driver and firmware don't have this information.

[2022-06-19 17:51] perexg commented on #5934
We are not on the same track. Basically, UCM needs to define an abstraction for the PCM devices and associated hardware volume control. It means that the volume control should match the number of channels in the PCM stream. My point is that SOF defines 4 channel PCM stream for microphones, but there are multiple stereo controls to set the switch / volume for this 4 channel stream.

I have a polite

[2022-06-20 04:14] ranj063 commented on #5909
@keqiaozhang can I please have a link to the SOF logger output? dmesg shows an IPC tx error

[2022-06-20 05:19] keqiaozhang commented on #5909
@ranj063 , please refer to https://sof-ci.sh.intel.com/#/result/planresultdetail/13434?model=APL_UP2_NOCODEC&testcase=check-playback-100times

[2022-06-20 07:26] XiaoyunWu6666 commented on #5825
Sure , taking ADLP RVP NOCODEC as an example. @wszypelt
Here is the zip file where the cavs-tgl-nocodec.tplg used by ADLP RVP NOCODEC is used.
[cavs-tgl-nocodec (3).zip](https://github.com/thesofproject/sof/files/8938424/cavs-tgl-nocodec.3.zip)

Complete dmesg logs is here.
[dmesg.txt](https://github.com/thesofproject/sof/files/8938407/dmesg.txt)

[2022-06-20 14:20] lgirdwood commented on #5922
@dkrzysiak btw, is this with Zephyr or xtos ?

[2022-06-20 14:38] lgirdwood commented on #5921
@kv2019i looks like we have a time difference between glitch and previous corresponding sample of 15 samples. This aligns with FIFO depth. Do we see a corresponding extra time for the dma_copy(), in particular any delay around clearing LLI DONE bits ?

I am suspicious we may see the glitches when we have a FIFO handshake that is at the end of a DMA LLI copy. i.e. the DMA has to reload and copy (an

[2022-06-20 15:18] lgirdwood commented on #5909
Not a P1 blocker as FW still operational (i.e. no crash) and is intermittent.

[2022-06-20 16:23] kv2019i commented on #5921
Thanks @singalsu . The glitches are indeed present. Curiously, there is only one unexpected sample, surrounded by correct samples, and even that one incorrect sample has a value that is very close to expected value. Following is a dump of individual sample values in a a sequence where spectrum reveal glitches. The test tone is 997Hz sine samples at 48kHz sampling. Values in float 32bit representat

[2022-06-20 18:55] ferrellsl commented on #5440
Thanks Denisuu.  I confirm that the script above enables the audio jack and the mic on an Acer Chromebook CB311-9H and an HP Chromebook 14G6-4020-8 both running Ubuntu 22 and flashed with MrChromebox's UEFI firmware.  Thank you so much!

[2022-06-21 07:10] mengdonglin commented on #5898
Move BDW platform to maintenance mode and SOF v2.2 will be the last upstream release with support for this platform. There will be no more bug fixing effort on this platform.

[2022-06-21 07:10] #5898 closed

[2022-06-21 07:10] mengdonglin commented on #4859
Move BDW platform to maintenance mode and SOF v2.2 will be the last upstream release with support for this platform. There will be no more bug fixing effort on this platform.

[2022-06-21 07:10] #4859 closed

[2022-06-21 07:21] mengdonglin commented on #5437
Move BYT platform to maintenance mode and SOF v2.2 will be the last upstream release with support for this platform. There will be no more bug fixing effort on this platform.

[2022-06-21 07:21] #5437 closed

[2022-06-21 07:21] mengdonglin commented on #5238
Move BYT and CHT platform to maintenance mode and SOF v2.2 will be the last upstream release with support for this platform. There will be no more bug fixing effort on this platform.

[2022-06-21 07:21] #5238 closed

[2022-06-21 07:22] mengdonglin commented on #3937
Move BYT platform to maintenance mode and SOF v2.2 will be the last upstream release with support for this platform. There will be no more bug fixing effort on this platform.

[2022-06-21 07:22] #3937 closed

[2022-06-21 07:24] mengdonglin commented on #3932
Move BYT and CHT platform to maintenance mode and SOF v2.2 will be the last upstream release with support for this platform. There will be no more FW bug fixing effort on this platform.

[2022-06-21 07:24] #3932 closed

[2022-06-21 07:24] mengdonglin commented on #3868
Move BYT and CHT platform to maintenance mode and SOF v2.2 will be the last upstream release with support for this platform. There will be no more FW bug fixing effort on this platform.

[2022-06-21 07:24] #3868 closed

[2022-06-21 07:25] mengdonglin commented on #3534
Move CHT platform to maintenance mode and SOF v2.2 will be the last upstream release with support for this platform. There will be no more FW bug fixing effort on this platform.

[2022-06-21 07:25] #3534 closed

[2022-06-21 07:56] lyakh commented on #5733
An update: a brute-force fix is available: https://github.com/zephyrproject-rtos/zephyr/issues/46372#issuecomment-1161393193 but a clean fix still has to be developed

[2022-06-21 11:25] ikrivosheev commented on #5908
@ujfalusi how do changes come into linux main repository? I see that changes have been made in fork but I cannot understand when it comes into mainline.

[2022-06-21 12:10] kv2019i commented on #5921
Quick update:
 - with a longer test sequence, errors can still be seen even with logging disabled and I can see also multi sample errors
 - I could see glitches also with older Zephyr
 - it seems there is a connection to https://github.com/zephyrproject-rtos/zephyr/issues/46378 -- with a workaround to that bug, I see clean long test sequences with recent Zephyr and logging enabled

[2022-06-21 12:18] lgirdwood commented on #5921
@lenghonglin fyi - could be similar to your issue.

[2022-06-21 12:20] lgirdwood commented on #5921
so, logger affects the reproduction rate. logger does NOT share the same DMAC, but may be a heavy uncache user ?

[2022-06-21 12:51] ikrivosheev commented on #5908
@ujfalusi thank you! I will add it today.

[2022-06-21 13:27] squat commented on #5908
I'm having exactly the same issue when using sof-firmware v2.1.1 on `Linux x 5.18.5-arch1-1` on my Dell XPS 13.

If I downgrade SOF to v2.0 then suspending works as expected.

Note: I see this issue with any suspend operation, not just suspend-then-hibernate.

[2022-06-21 14:29] plbossart commented on #5909
it'd be a blocker if pm_runtime is disabled on the host side @lgirdwood

ipc errors are fatal for now.

[2022-06-21 14:34] plbossart commented on #5908
Agree @ujfalusi this is a different error - we should not have any IPC errors, ever. The firmware downgrade clearly hints at a firmware regression.

[2022-06-21 14:41] plbossart commented on #5934
I also vaguely recall some sort of framework limitation.

In practice even if we had a better volume control at the driver/firmware level, we would still have issues in terms of user interaction. PulseAudio and PipeWire will do a matrixing operation to downmix to 2ch without any user control. @kv2019i worked on this a long time ago and we are clearly very far from having good support for anything

[2022-06-21 15:04] serhiy-katsyuba-intel commented on #5825
@kv2019i, @RanderWang, I observe a problem with k_sleep() in IPC processing task. That is a call inside `ipc_wait_for_compound_msg()` (for example, see this PR #5887).
In the latest code that line is
`k_sleep(Z_TIMEOUT_US(250));`
two weeks ago it was
`k_sleep(Z_TIMEOUT_TICKS(10000));`
and somewhat earlier it was
`wait_delay(10000);`

With `k_sleep(Z_TIMEOUT_TICKS(10000));` version I observe such a

[2022-06-21 15:08] igor-winograd commented on #5908
I also having sof-firmware v2.1.1-1 on Linux x 5.18.5-arch1-1 with platform Lenovo Thinkpad e15g2.
My kernel log with /etc/modprobe.d/sof-dyndbg.conf:
[dmesg.log](https://github.com/thesofproject/sof/files/8950096/dmesg.log)

[2022-06-21 15:53] plbossart commented on #5908
@igor-winograd I don't see any issues in your log file?

[2022-06-21 16:04] ikrivosheev commented on #5908
My kernel log: [dmesg.log](https://github.com/thesofproject/sof/files/8950547/dmesg.log)

[2022-06-21 16:07] kv2019i commented on #5921
It seems logging is one symptom and not the rootcause. One new finding is that this specifically happens with PCM0 where the playback path goes via shared mixer path. If alsabat is run on PCM2 (mixer with only one input), I have not been able to reproduce the problem. When the problem triggers and captured audio has corruption, following is seen at timer tick:

[code]

I tested this with same meth

[2022-06-21 16:13] plbossart commented on #5908
It's the same error actually, the IPC error is preceded by a boot failure. The second hibernate fails because the resume failed already. We should probably have a check that we don't try ANY IPC during the suspend operation if the DSP didn't boot...

[2022-06-21 16:14] ranj063 commented on #5909
@keqiaozhang could you please check if https://github.com/thesofproject/sof/issues/5909 fixes the issue?

[2022-06-21 17:07] perexg commented on #5934
I think that we should start somewhere and the first level is the driver (and firmware in this case). Note that USB driver offers the multi-channel controls right now:

[code]

The alsamixer is capable to split the multichannel to 2ch / 1ch bars and I don't know any issues with amixer regarding the multi-channel support. Writing that, the currently used smixer layer in alsa-lib uses fixed position

[2022-06-21 17:43] mrhpearson commented on #5934
Obviously happy to help out with this however I can. My audio knowledge is sadly lacking but I would love to learn along the way.

@perexg - you should have access to some X1C10's thru RH, but if you have trouble getting hold of one let me know and I'll see if I can find you one.

[2022-06-21 19:21] fredoh9 commented on #5909
@ranj063 you mean, https://github.com/thesofproject/sof/pull/5943?

[2022-06-21 19:55] fredoh9 commented on #5909
I tested with daily build(without the fix) first, failed at 64/100. I'm using this comamnd,

`TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg MODEL=APL_UP2_NOCODEC ~/sof-test/test-case/check-playback.sh -d 1 -l 100 -r 1`

With https://github.com/thesofproject/sof/pull/5943, I am able to run the command twice without any problem. Looks good.

[2022-06-22 08:35] afq984 opened #5945 "[FEATURE] Update branch protection rules for `mt8195/*`"
Please help with updating the branch protection rules for `mt8195/*`:

1. Change the pattern from `mt8195/*` to one of:
    1.  `mt????/v0.*`
    1.  `mt[0-9][0-9][0-9][0-9]/v0.*`
1. Owners: Change to @thesofproject/google + @thesofproject/mediatek

[2022-06-22 09:00] dkrzysiak commented on #5922
@singalsu there isn't. Volume has a specific topology, where SSP Dai is part of pipe_plb.
@lgirdwood xtos

[2022-06-22 11:00] ikrivosheev commented on #5908
@ujfalusi @plbossart close issue as duplicate?

And my question:

[2022-06-22 11:38] ujfalusi commented on #5908
@ikrivosheev, the patches are in linux-next, it depends when stable will pick them (the last patch out of the three will have conflict, but it is trivial).
While waiting for them to be backported you can disable the IMR booting (it was introduced in 5.18 and it is a nice to have feature - for those who do not suspend to disk ;) ) by adding
[code]
to `/etc/modprobe.d/sof.conf` for example (and remo

[2022-06-23 02:17] RanderWang commented on #5825
@serhiy-katsyuba-intel  Can you try https://github.com/thesofproject/sof/pull/5844 ? This was a fix for another ipc issue

[2022-06-23 03:25] XiaoyunWu6666 commented on #5909
Nice to see a fix merged yesterday!
The error did not happen in today's daily test , will keep monitoring for a few days to see whether we can close this issue :)

[2022-06-23 05:39] miRoox opened #5948 "[BUG] Unable to install hw params when playback during multiple-pause-resume on APL_UP2_PCM512X"
**Describe the bug**
In the daily test (ID: 13499), it failed to install hw params during multiple-pause-resume on APL_UP2_PCM512X because of "invalid stream data offset for PCM 0".

**To Reproduce**
[code]

**Reproduction Rate**
Only once in the CI testing. Cannot reproduce it manually.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kerne

[2022-06-23 10:15] serhiy-katsyuba-intel commented on #5825
#5844 is not directly applicable for MTL as we use IPC driver from src/drivers/intel/**ace**/ipc.c, the fix applies to src/drivers/intel/**cavs**/ipc.c.

Anyway, I have additional observations. When multiple pipelines are running it looks like IPC task thread cannot get CPU time. I reproduce it on FPGA. At the end of the test host sends PAUSE, I see IPC interrupt is triggered and IPC task is sched

[2022-06-23 10:57] rdurkalx commented on #5825
Hi, I would like to reproduce this bug on MTL platform. But I can't open cavs-tgl-nocodec (3).tplg file, can You write me what topolgy from https://github.com/thesofproject/sof/tree/main/tools/topology/topology1 You are using to reproduce this bug ?

[2022-06-23 16:42] kv2019i commented on #5921
@keqiaozhang With https://github.com/zephyrproject-rtos/zephyr/pull/46744 merged to upstream, I expect the problem to no longer occur in SOF CI tests. Let's monitor this next week. If the fix holds, we can close this bug and continue follow up in the Zephyr bug 46378 .

[2022-06-23 18:23] kv2019i commented on #5921
First Intel daily test clean (13499), using Zephyr upstream commit 13499 (with the fix included). Will continue monitoring and keeping the bug open until more data is available.

[2022-06-24 01:05] XiaoyunWu6666 commented on #5909
did not happen in daily tests of June 23 24

[2022-06-24 04:42] XiaoyunWu6666 commented on #5909
close with #5943 and a couple of good results in daily tests

[2022-06-24 04:42] #5909 closed

[2022-06-24 20:24] plbossart opened #5950 "[BUG] topology: sof-tgl-rt711-rt1308 does not expose a switch on capture"
As usual when we have the same topology in different files we can't keep them aligned.

The sof-tgl-rt711-rt1308 uses the wrong pipeline, which leads to the error when parsing UCM file reported in https://github.com/alsa-project/alsa-ucm-conf/issues/179

[2022-06-27 03:35] miRoox commented on #5850
Another IPC timed out issue for 0x80010000 (CONFIG) when testing multiple-pipeline-playback is found in daily test (ID: 13547):

**dmesg**
[code]
[full_dmesg.txt](https://github.com/thesofproject/sof/files/8988460/full_dmesg.txt)

[2022-06-27 23:17] Steven-- commented on #5908
Amazing, thanks! I was actually having troubles on suspend but only after either:
- resuming form hibernation at least once.
- having suspended and resumed at least once before but, in this case, the problem was intermittent.

Laptop model: Thinkpad E14 (Gen 12). Kernel 5.18.0.

Controller:
00:1f.3 Multimedia audio controller: Intel Corporation Tiger Lake-LP Smart Sound Technology Audio Controller

[2022-06-28 02:29] lenghonglin commented on #5921
nope , i will describe more detail in https://github.com/thesofproject/sof/pull/5912

[2022-06-28 10:58] hereblur commented on #5867
I have similar problem with my zenbook ux3402.

Sound works perfect on Bluetooth and 3.5mm but no sound on internal speakers.

I tried on fedora 36, ubuntu live-usb (22), even compiled the kernel (5.19.0-rc3).
[
[alsa-info.txt](https://github.com/thesofproject/sof/files/9000329/alsa-info.txt)
](url)

[2022-06-28 21:41] plbossart commented on #5867
@hereblur Here's the reference from @ryanprescott to snoop verbs

https://github.com/ryanprescott/realtek-verb-tools/wiki/How-to-sniff-verbs-from-a-Windows-sound-driver

[2022-06-29 02:03] gimait opened #5960 "[BUG] No sound below 100Hz in XPS 15"
**Describe the bug**
The integrated speakers in my laptop do not output any frequencies below roughly 100Hz.
I have had this issue since I got the computer, several months ago, and tried to find a solution, asking for help [here](https://bugzilla.kernel.org/show_bug.cgi?id=215233) and [here](https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/2162), without much success so far.
I have tried

[2022-06-29 09:53] serhiy-katsyuba-intel commented on #5825
Further investigation shows that the cause of the problem in my case was logging. Logging (call to comp_err() ) takes about 159 us on FPGA. The test was executed without any parameters to receive logs from DSP, so in theory logging should do almost nothing. But this is not that case. In comparison a call to a function that basically does nothing (buffer_acquire() ) takes about 4 us.
 In my case th

[2022-06-29 10:12] lgirdwood commented on #5945
@afq984 sorry for the delay, COVID finally caught me last week. I've used option i. Please try.

[2022-06-29 11:34] lgirdwood commented on #5950
@plbossart PR now merged. Good to close ?

[2022-06-29 12:04] lgirdwood commented on #5908
@ujfalusi can we close now ? i.e. are all patches in -next now ?

[2022-06-29 12:08] ujfalusi commented on #5908
@lgirdwood, yes all patches are in linux-next and we also have a workaround fro current kernels (`sof_debug=128`)
Closing.

[2022-06-29 12:08] #5908 closed

[2022-06-29 13:48] lgirdwood commented on #5960
@singalsu @plbossart could we be missing verbs for DSM or another smart amp here ?

[2022-06-29 15:56] lgirdwood commented on #5825
@serhiy-katsyuba-intel good findings. Do we have any assert() in the comp_err() paths ? IIUC, @kv2019i found an performance issue with assert flow with the Zephyr build config and XCC.
Are we also fully using the native Zephyr LOG() calls from the comp_err call (or do we still have some legacy trace logic running)?

[2022-06-29 17:16] ranj063 opened #5965 "[BUG] Zephyr ignores the topology setting for pipeline scheduling period"
**Describe the bug**
Pipeline tasks are always scheduled every ms irrespective of what the topology requests.

**To Reproduce**
Use https://github.com/thesofproject/sof/pull/5958 for setting the pipeline period in topology

**Reproduction Rate**
100%

**Expected behavior**
Pipelines must be scheduled based on the period set in topology

**Impact**
We cannot enable multi-stream feature with pipelin

[2022-06-29 17:16] ranj063 commented on #5965
@lyakh @kv2019i  @lgirdwood FYI

[2022-06-29 18:51] afq984 commented on #5945
Thanks, it works:
`mt8186/v0.1` is now protected, can `push`, and can't `push --force`

[2022-06-29 18:51] #5945 closed

[2022-06-29 19:20] ranj063 opened #5966 "[FEATURE] Support for scheduling long period tasks"
**Is your feature request related to a problem? Please describe.**
How do we support a pipeline with deep-buffering requirement connected to the mixer-dai pipeline that runs every 1ms.

This is required to support the multi-stream feature that needs pipeline with variable period sizes connected via mixer to the DAI.

[2022-06-30 07:25] kv2019i commented on #5965
I don't think this blocks larger period multiple streams -> https://github.com/thesofproject/sof/pull/5958#discussion_r910692671
Still a missing bit in the scheduler.

[2022-06-30 08:00] hongshui3000 commented on #5965
I think this PR should also be related to this issue:https://github.com/thesofproject/sof/pull/5912

[2022-06-30 13:16] lgirdwood commented on #5966
@lenghonglin fyi

[2022-06-30 17:29] singalsu commented on #5934
Yep, I have one with four microphones so I can contribute the data for it and test it.

[2022-07-04 01:14] keqiaozhang commented on #5921
Confirmed that this issue is gone in CI. Closing it.

[2022-07-04 01:14] #5921 closed

[2022-07-04 01:56] keqiaozhang commented on #5733
Conformed that this issue is fixed byhttps://github.com/zephyrproject-rtos/zephyr/pull/46587 and it's not reproducible on GMB, closing this bug.

[2022-07-04 01:56] #5733 closed

[2022-07-04 06:08] lenghonglin commented on #5966
At first, From a design perspective, i think the `task->start`calculation method should stay the same.

At Second, For my application scenario, I assumed audio formats of 16K,16bit,1ch, period_byte of 1KB, and almost 30ms. So this means I can execute pipe-task in less than 30ms. If long Period Tasks are not supported, this will slow down the CPU to do unnecessary work. In addition, I would like to

[2022-07-04 08:43] serhiy-katsyuba-intel commented on #5825
comp_err still calls legacy trace logic. embargo branch did not yet switch to use Zephyr LOG.

Sorry, I was busy with high priority task (and will continue for a couple of days) and was not able to debug the issue further :-/

[2022-07-04 14:32] lgirdwood commented on #5965
@lyakh can you take care of this ?

[2022-07-04 15:18] lgirdwood commented on #5966
So the Low Latency (LL) scheduler is designed for simple 1ms periodic synchronous work with tghe following rules

1) tasks cannot be preempted.
2) all tasks must execute in less than the 1ms time slice.

Providing 1 & 2 hold then we can execute less frequent tasks at any period.

This does not scale when the workload takes > 1 ms to execute and hence means we need to use a different scheduler algo

[2022-07-05 03:01] lenghonglin commented on #5966
The other things is that Can we consider config `period_byte` by topology?

[2022-07-05 03:06] guglovich opened #5983 "[FEATURE] Support Kaveri 7850K"
I thought I had previously seen support in one of the lists or files, but couldn't find it, it may have been removed.
I would like to see support for the Kaveri 7850K APU. It has the Xtensa HiFi 2 that you support.

[2022-07-05 08:42] lgirdwood commented on #5983
@thesofproject/amd @balakishorepati fyi.

[2022-07-05 08:47] ujfalusi opened #5986 "[BUG] [XTOS/Zephyr] IPC4: any pipeline with GAIN module is broken"
**Describe the bug**
Any IPC4 pipeline involving a GAIN (or Volume) module does not work, as of now causing a firmware crash with NULL pointer dereference

**To Reproduce**
Use IPC4 SOF firmware (XTOS or Zephyr) with a topology containing GAIN module, like cavs-mixin-mixout-hda.tplg (TGLU_UP_HDA)
`aplay -Dplughw:0,0 <wav file> -v`

**Reproduction Rate**
10/10

**Expected behavior**
Firmware does n

[2022-07-05 08:51] ujfalusi commented on #5986
fwiw, the `0x7c0d4880` is a curious number for a buffer size on a gain module...

[2022-07-05 08:58] aiChaoSONG commented on #5986
@ranj063 FYI

[2022-07-05 15:53] plbossart commented on #5966
No. Period_bytes is related to the latency and expected buffering. It's not an indicator of the duration of the processing.

[2022-07-05 16:25] ujfalusi commented on #5986
fyi, @lgirdwood, @plbossart

[2022-07-05 16:29] ranj063 commented on #5986
@ujfalusi I think this is expected. The gain module conversion to use module API with IPC4 was likely not tested.

[2022-07-05 18:58] ranj063 commented on #5966
@lgirdwood are you saying that  the EDF tasks in xtos are not preemptible and thats the reason we cannot implement this feature with xtos?

[2022-07-05 19:04] ujfalusi commented on #5986
@ranj063, if it is expected then the GAIN should not be part of any (IPC4) topology as it is not working?

[2022-07-06 08:57] RanderWang commented on #5986
I may get some hint. We should copy spec to module->private_data but now we copy spec data to dst->data which is at some offset of module->private_data since adapter is built for processing. https://github.com/thesofproject/sof/blob/main/src/audio/module_adapter/module/generic.c#L56

[2022-07-06 12:21] ewfuentes opened #5989 "[BUG] microphone detected but not working on 2022 Razer Blade 15"
**Describe the bug**
I've installed Ubuntu 22.04 on a 2022 Razer Blade 15. Audio playback appears to be working (apart from L/R audio channels being flipped), but the built in microphone, while detected, doesn't seem to be recording any sound. This was tested by going to the ubuntu sound settings, making some noise and not seeing any activity from the meter.

![image](https://user-images.githubuse

[2022-07-06 13:51] plbossart commented on #5989
There's no smoking gun @ewfuentes, the only part where we have a known issue is the case of 2 DMICs connected to PDM1, instead of the usual PDM0.

Can you please add this to /etc/modprobe.d/alsa-base.conf

[code]
reboot and run this command

[code]
check that the DMIC device is  card 0, device 6, then

[code]

Try to record your voice during this 10s test, and then look at the test.wav file with a

[2022-07-06 14:29] ewfuentes commented on #5989
After adding the option to alsa-base.conf, `arecord -l` shows the microphone as being on card 1 (instead of 0) device 6.
[code]

I used the following command to record myself (note the device and `-f` instead of `-s`):
[code]

Looking at the wav file in audacity shows some promise! There are 4 channels and channels 3 and 4 contain me speaking. Channels 1 and 2 have some audio artifact , but are ot

[2022-07-06 16:21] plbossart commented on #5989
excellent @ewfuentes

Can you do me a favor and retest with this file
[sof-hda-generic-2ch-pdm1.tplg.gz](https://github.com/thesofproject/sof/files/9056487/sof-hda-generic-2ch-pdm1.tplg.gz)

it should be the same functionality as before, just trying to make sure the updated file is correct.

[2022-07-06 16:23] plbossart commented on #5989
copy it over as sof-hda-generic-2ch.tplg

[2022-07-06 17:38] plbossart commented on #5989
Can you try with this update
[sof-hda-generic-2ch.tplg.gz](https://github.com/thesofproject/sof/files/9056962/sof-hda-generic-2ch.tplg.gz)

I only hard-coded a PDM0 to PDM1 change, if that doesn't work we'll have to ask @singalsu for help.

[code]

There are additional changes in the config that I don't quite get, the old working file has this
DMIC_CONFIG(1, 500000, 4800000, 40, 60, 48000,
and the

[2022-07-06 17:50] ewfuentes commented on #5989
The one you just sent me (`dd17ba1a`) does work.

[code]

[2022-07-06 19:05] jike212 commented on #4809
This is an older issue but I just began experiencing the same thing on my X1 Carbon Gen 9 (Tigerlake) and Fedora 36. It just started happening a few days ago and I'm not sure why.

My `dmesg` resembles @brianjmurrell and @galibozek's posts. Anything else I can test?

[2022-07-06 19:13] plbossart commented on #5989
ok, that's good @ewfuentes. I had a mistake in my M4 file, fixed now.

So the short story is that you have a working solution. If you want a long-term solution, we will have this topology file included in official releases (2.3+) and you will be able to use a kernel parameter to select the topology (no file override required). Unfortunately, we have a number of bugs in the kernel override so you w

[2022-07-06 19:33] datmischa opened #5993 "[BUG] Samsung Galaxy Book2 Pro 360 no sound through speaker"
**Describe the bug**
On my Galaxy Book2 Pro 360, there is no audio output through the internal speakers. Audio works fine with headphones (wired as well as bluetooth), could not test over usbc - displayport cable yet, but guessing this works too. If I play some test sound through speaker-test, I can see the indicator in the plasma-pa applet moving.
I tested the internal microphone with arecord, it

[2022-07-06 19:33] ewfuentes commented on #5989
Amazing! Thank you so much for your help!

To recap, the steps are:
1. Download [this updated topology](https://github.com/thesofproject/sof/files/9056962/sof-hda-generic-2ch.tplg.gz).
2. unzip it using `gunzip sof-hda-generic-2ch.tplg.gz`. This result in `sof-hda-generic-2ch.tplg` being extracted from the archive.
3. Make a back up copy of the existing topology by running `sudo cp /lib/firmware/i

[2022-07-06 20:50] plbossart commented on #4809
@jike212 please check if by any chance you had an update of the SOF firmware. There was a release last week, that's the only thing that I can think of.

[2022-07-06 20:59] lgirdwood commented on #5989
@plbossart do you want to keep this open until https://github.com/thesofproject/linux/pull/3740 is merged ?

[2022-07-06 21:01] ranj063 commented on #5986
@RanderWang @ujfalusi I figured out why you're seeing the failure with the gaim module with the module interface. It is because of this line while creating buffers during module binding:
https://github.com/thesofproject/sof/blob/4b4b752a149bd7b25c846d4117f58e5ce64bc275/src/ipc/ipc4/helper.c#L243

Fundamentally, this is wrong. We should never access the individual component's private data outside o

[2022-07-06 21:20] lgirdwood commented on #5966
Sorry, I'm saying the EDF tasks in xtos are preemptable by LL tasks (as they are IRQ context) but not by other EDF tasks. i.e. all EDF tasks on xtos have the same priority. However on Zephyr we can have preemptable tasks with different priorities (where the scheduler will pick the highest priority task)

[2022-07-07 01:24] ranj063 commented on #5986
@ujfalusi please check if https://github.com/thesofproject/sof/pull/5994 fixes the issue for you

[2022-07-07 01:30] RanderWang commented on #5986
As you know all the modules inherites from base_module_config in C++, so we can use the first base module cfg

[2022-07-07 05:44] ujfalusi commented on #5986
The firmware crash is fixed by this patch.

[2022-07-07 10:44] lgirdwood commented on #4809
@jike212 can you provide the audio driver output in your dmesg thanks.

[2022-07-10 01:35] datmischa commented on #5993
I finally got my speakers working.

**Steps to reproduce**
`/etc/pulse/default.pa`
`#load-module module-suspend-on-idle`
and run the script (credits to [drlucas from manjaro.org](https://forum.manjaro.org/t/howto-set-up-the-audio-card-in-samsung-galaxy-book/37090))
[https://pastebin.com/raw/zsXp2vz6](url)

I have to rerun the script every time I restart/wake the PC from sleep.
What would be the ap

[2022-07-11 14:53] dkrzysiak commented on #5442
New errors appeared, 'Nonetype' and 'DSP Panic'
[2022_07_08_14_07_52-731cceb8-1251-48dc-ae83-887c5a332d60.zip](https://github.com/thesofproject/sof/files/9085117/2022_07_08_14_07_52-731cceb8-1251-48dc-ae83-887c5a332d60.zip)
.

[2022-07-11 22:29] plbossart commented on #5934
This list from USB3 only makes sense for multimedia playback. It doesn't make much sense for a microphone array capture. Most descriptors I am aware of borrow heavily from another description that was initially used for USB mic arrays.
https://docs.microsoft.com/en-us/windows-hardware/drivers/audio/microphone-array-geometry-descriptor-format

I think this was also used in the HDaudio NHLT descript

[2022-07-13 01:14] keqiaozhang opened #6003 "[BUG] ipc tx error for 0x60010000 when testing playback on APL_UP2_PCM512X"
**Describe the bug**
Playback failed on PCM 0,0  with  ipc tx error for 0x60010000.
This is a sof regression with 100% reproduction rate. So far we only observe this issue on APL_UP2_PCM512X only.
The bisect shows that this issue is caused by:
https://github.com/thesofproject/sof/commit/95f6f88be705858a61915e07e22cedb7d739018e

**To Reproduce**
aplay   -Dhw:0,0 -r 48000 -c 2 -f S16_LE -d 3 /dev/ze

[2022-07-13 03:21] aborisovich commented on #3517
Initial draft done in [PR6005](https://github.com/thesofproject/sof/pull/6005).

[2022-07-13 09:54] softwarecki commented on #6003
@keqiaozhang Please check this patch https://github.com/softwarecki/sof/commit/c204bfd7ce02d14ad17b18b8175ee085e7f4e21e

[2022-07-13 19:01] marc-hb commented on #6003
@softwarecki how about submitting your tentative fix as a draft PR? It looks like a fix, not like a debug patch...

I don't think PR testing includes the configuration that was regressed (otherwise it would have been caught in the first place...) but testing on other hardware configurations never hurts.

[2022-07-13 22:11] yongzhi1 opened #6007 "[BUG]Build topology2 with combination of SSP DAI duplex and playback triggered coredump"
**Describe the bug**

Modified cavs-nocodec to use two SSP port:

SSP0 - duplex
SSP1 - playback

Sample changes https://github.com/yongzhi1/sof/tree/test-ssp1-playback

**To Reproduce**
make topology2_sof-mtl-nocodec
`Generating sof-mtl-nocodec.tplg
find_modes(): fs not set
saving nhlt as binary in nhlt-ace-mtl-nocodec.bin
alsatplg: malloc.c:2379: sysmalloc: Assertion `(old_top == initial_top (av)

[2022-07-14 03:01] keqiaozhang commented on #6003
Confirmed that the patch can fix the issue.

[2022-07-14 06:19] bardliao commented on #6007
The issue happens if SSP2 is removed.
I can build with [test.diff.txt](https://github.com/thesofproject/sof/files/9109079/test.diff.txt), but I will see build error if I remove SSP2. @ranj063 @juimonen Can you take a look?

[2022-07-15 08:01] #6003 closed, assigned to softwarecki

[2022-07-15 08:15] lgirdwood commented on #6007
@yongzhi1 are you able to manually invoke the tplg compiler with this source file under valgrind ? This will throw up the errors and show which lines are at fault  (may be easy to fix too).

[2022-07-17 06:37] changedsoul opened #6013 "No Sound - Arch Linux 5.18.12-arch1-1 - hanging shutdown [BUG]"
This on a Dell XPS 17 9720 Laptop with Intel Corporation Alder Lake PCH-P High Definition Audio Controller (rev 01).
I have gone thru the wiki and installed sof-firmware as instructed.

sof version: sof-firmware 2.2-1

with sof-installed:

        Subsystem: Dell Device 0afe
        Kernel driver in use: sof-audio-pci-intel-tgl
        Kernel modules: snd_hda_intel, snd_sof_pci_intel_tgl

when the

[2022-07-17 11:33] psykana opened #6014 "Why do topologies have generic names?"
Take a look at this commit, for example: https://github.com/thesofproject/sof/pull/5974/files
The only thing that indicates that this tolopogy is for an HP Omen 16 device is the commit message. This goes for pretty much for the entire library of SOF topologies.
As someone who's just getting into SOF, I am really surprised that finding what runs on your machine appears to require some sacred knowle

[2022-07-17 18:52] ranj063 commented on #6014
@psykana the main reason it to reduce maintenaning multiple topology files and promote reuse. The topology file associate with a machine is associated with the platform, the DAI's on the platform and the codecs on a device rather than the device name itself. There could be several devices out there with the same set of DAI's/codecs for the same platform. It is unrealistic to maintain a separate to

[2022-07-18 02:26] akssri opened #6015 "[BUG] ES8336: firmware complains about missing topology file sof-apl-es8336-ssp5.tplg"
**Describe the bug**
Laptop (obscure JP model: Donki Nanote Next UMPC03-SR) tries to load es8336 module but fails due to missing topology file. Searching github for "sof-apl-es8336-ssp5.tplg" yielded no results.

**To Reproduce**
Start system; check dmesg logs.

**Reproduction Rate**
Every boot.

**Expected behavior**
Sound driver to load.

**Impact**
No audio device shown with ALSA etc.

**Enviro

[2022-07-18 08:27] direc85 commented on #6013
I noticed you have the same issue with the same lines in `dmesg` than I did:

Same here with a Tiger Lake laptop (Lenovo X1 Carbon) and Manjaro Linux. I made a [Manjaro forum post](https://forum.manjaro.org/t/no-sound-with-sof-firmware-2-2-pipewire-alsa-1-2-7-1-sequence-command-devdisall-is-ignored/116874) about it (pardon the URL and original title, I was sidetracked at first).

I managed to rest

[2022-07-18 14:00] dbaluta opened #6017 "Append toolchain version next to SOF version in dmesg"
**Is your feature request related to a problem? Please describe.**
Users need a way to find out which toolchain was used to compile the firmware. For the moment there is no way (as i know) to dynamically determine this at runtime.

**Describe the solution you'd like**

We need to find a way to append toolchain version, to be displayed in this message:

[   13.923997] sof-audio-of-imx8m 3b6e8000.ds

[2022-07-18 14:46] akssri commented on #6015
@lgirdwood can confirm. couldn't find the file in either in the installed package or in sof-bin repo.

[2022-07-18 15:27] plbossart commented on #6013
@changedsoul the shutdown issues are known, they fixes were contributed upstream last week.

The bigger issue is why the probe fails. Can you please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/9133208/sof-dyndbg.conf.txt) as /etc/modprobe.d/sof-dyndbg.conf (the extension matters), reboot and attach the dmesg log.

Also please attach the 'alsa-info' log.

[2022-07-18 15:29] plbossart commented on #6013
That's not normal and should be filed as a separate bug @direc85. I have no idea why downgrading the firmware would help.
@lgirdwood FYI.

[2022-07-18 15:54] plbossart commented on #6015
Indeed we've only seen SSP0 or SSP2 used, we've never seen a case where SSP5 was used. It could be a mistake in the NHLT table, we currently use the SSP with the highest index declared in NHLT, maybe this is not correct.

@akssri can you dump the ACPI tables and/or look at the NHTL with the latest ACPICA tools?

[2022-07-18 15:59] lgirdwood commented on #6017
@dbaluta I think we have this already, but it may be behind a Kconfig for reproducible builds. Can you check ?

[2022-07-18 16:03] lgirdwood commented on #6013
@changedsoul we had a similar issue on a Chromebook that was resolved with a slightly different shutdown flow. Adding @kv2019i who is back next week and implemented the Chromebook fix. It may additionally need to be used here. Please keep using v2.1.1 for the moment.

[2022-07-18 16:07] plbossart commented on #6013
@lgirdwood the shutdown issue is only on SoundWire device where we tried to remove a headset device property in the machine driver that was not set on deferred probe. Nothing to do with the SOF PCI shutdown problems.

[2022-07-18 19:43] plbossart commented on #6014
@psykana there's nothing 'sacred' here, what we try to do in the Linux driver is to at boot time from the hardware, PCI and ACPI subsystem what the platform is. It's not different from what is done in other part of the Linux sound subsystem. We typically don't use commercial names unless we have no alternative, the DMI quirks that were introduced for the HP Omen 16 are the last-resort to fix a bro

[2022-07-19 01:37] keqiaozhang opened #6020 "[BUG] DSP panic when testing signal stop/start on DMIC pipeline"
**Describe the bug**
This is a sof regression and happens on a lot of our models(Please refer to our daily test:http://sof-ci.sh.intel.com/#/result/planresultdetail/14058).

The bisecting result points to:
https://github.com/thesofproject/sof/commit/9d9ba739b3d9745aef0953a092bd255f2e9a59c6

**To Reproduce**
1. `~/sof-test/test-case/check-signal-stop-start.sh -m capture -c 50`
2. This issue can als

[2022-07-19 02:28] miRoox opened #6022 "[BUG][APL_UP2_PCM512X] kcontrol xx read failed for widget EQIIR y.z"
**Describe the bug**

This regression is observed in today's daily test (ID: 14058). Every time the EQIIR widget is set up, there is an IPC tx error for GET_DATA (0x50040000) with the kcontrol read failure.

The bisect result shows it's introduced from 9d9ba739b3d9745aef0953a092bd255f2e9a59c6.

**To Reproduce**
check dmesg after system boot

**Reproduction Rate**
100%

**Environment**
1) Branch na

[2022-07-19 08:59] direc85 commented on #6013
Thanks, I'll do that,.

[2022-07-19 11:18] pfps opened #6026 "[BUG] no multichannel sound through video on Intel Ice Lake laptop with integrated graphics"
**Describe the bug**

I'm not even sure that this is a bug, or that it is an SOF bug, but it looks to me as if my laptop should be able to play multi-channel sound through its video (HDMI/DP) outputs.  But attempts to do so result in two-channel sound or fail completely.  Is there something in SOF that needs to be changed to enable multi-channel sound through the video outputs?

**To Reproduce**
P

[2022-07-19 11:36] dbaluta commented on #6017
@lgirdwood indeed we have this in /work/repos/sof/CMakeLists.txt:77

[code]

I need to find a way to enable it on Zephyr. It works without zephyr for now.

[2022-07-19 11:36] #6017 closed

[2022-07-19 13:52] lgirdwood commented on #6026
I'm pretty sure we are missing an 8 channel topology here for this configuration and possibly some IP programming.

The default fw build supports 8 channel pipelines when set in the topology, so this could be tried as a first step. However, if this does not work, we may need to set other IP bits for 8 channels in the FW or GFX driver (if using DP/HDMI audio). Fwiw, this is on the road map for @kv2

[2022-07-19 14:28] pfps commented on #6026
OK, I have a setup that can be used for testing (laptop, TV, 5.1 speaker system connected to TV via ARC).

When I plug in the connection to the TV (and speaker system), I get ELD information in /proc/asound/card0/eld#2.3

[code]

[2022-07-19 14:37] akssri commented on #6015
PFA the acpidump
[acpidump.txt](https://github.com/thesofproject/sof/files/9142032/acpidump.txt)

[2022-07-19 15:07] plbossart commented on #6013
@changedsoul the Dell SKU is not handled in the kernel for now, this is a device Dell didn't mention to us....

[code]

The weird part is that we end-up selecting an existing configuration that fails at run-time with all kinds of SoundWire issues.

I think what's happening is that we detect a 2-amp machine, but since we are missing the SKU support we use the 1-amp version in the machine driver.

[2022-07-19 15:17] plbossart commented on #6026
@pfps it's a known SOF limitation that's unlikely to be fixed for 'old' platforms like IceLake.

If you want to play multichannel audio, the best shortcut is to add this in /etc/modprobe.d/alsa-base.conf
[code]

This will force the HDaudio legacy driver to be used. You will not have any limitation on HDMI, but you will not be able to use the local microphones. It's not ideal I know but that's the

[2022-07-19 15:57] plbossart commented on #6015
That's a tough one. The NHLT indicates support for SSP0 and SSP5, but the SSP5 is referenced multiple times on render. That looks like a bug.

[nhlt.dsl.txt](https://github.com/thesofproject/sof/files/9142675/nhlt.dsl.txt)

Please try with this file, unzip it and copy it to /lib/firmware/intel/sof-tplg
[sof-apl-es8336-ssp5.tplg.gz](https://github.com/thesofproject/sof/files/9142753/sof-apl-es8336-

[2022-07-19 16:25] pfps commented on #6026
@plbossart With the legacy driver I don't get any sound from the HDMI-connected speaker system, even when connecting directly with all the alsamixer controls unmuted.

[2022-07-19 16:38] plbossart commented on #6026
Not sure how to help you @pfps, we always recommend to try with the legacy driver. If that doesn't work then you are not on solid ground to start debugging further.

[2022-07-19 17:25] pfps commented on #6026
I can get sound to the speakers with the SOF driver, just only stereo sound.  So something is working better here than with the legacy driver.  It is possible, I suppose, that the SOF driver has exposed a pipeline that goes through the Realtek chip, which can only handle stereo as far as I know, and then to the video stream.  But there are those exposed 8-channel maps and 8-channel amplifiers.

I'

[2022-07-19 18:13] plbossart commented on #6026
there is no connection between the Realtek codec and the HDMI path. They are completely independent codecs.

[2022-07-19 18:30] fredoh9 commented on #6020
I was able to reproduce the problem, one thing I noticed, after the problem happened, `sudo reboot` didn't work. I had to trigger power cycle. Not sure why.

[2022-07-19 20:48] pfps commented on #6026
That's good to know.  So the S/PDIF 1 alsamixer control that mutes the HDMI-connected speakers is in the HDMI codec as is the PGA8.0 8 Master Playback Volume alsamixer control that changes its volume.  The pipeline to get to the HDMI-connected speakers appears to be going through hardware that has 8 channels it is just that something is limiting the sound to 2 channels.

[2022-07-19 20:52] plbossart commented on #6026
no, the 'PGA8.0 8 Master Playback Volume' is an SOF control. It's internal to the Intel DSP and not to the HDMI codec. The entire DSP path is stereo.

[2022-07-19 20:57] pfps commented on #6026
So the sound that's playing through the HDMI-connected speakers is not going through the Intel Icelake HDMI codec?  Even though the output device in pulse audio volume control is called HDMI / DisplayPort 2?

[2022-07-19 21:32] pfps commented on #6026
Oh.

[2022-07-19 21:52] cujomalainey opened #6032 "[FEATURE] Dynamic pcm capabilities discovery"
**Is your feature request related to a problem? Please describe.**
Currently our topology system defines the pcm capabilities for a pipeline, this causes issues when they are overreaching/incorrect. This is further compounded when a component in the pipe does not check for valid params correctly and tries to run something it shouldnt (look back to glk bugs where DAI was running 4ch into speakers).

[2022-07-19 23:27] plbossart commented on #6032
@cujomalainey the topology defines how many PCMs will be present and it's a natural progression to have the PCM capabilities part of the topology as well. The firmware cannot possibly know what the graph looks like, so there's no way it could store any sort of information.

in practice PCM capabilities are often quite broad, with converters inside the graph restricting the formats as needed (e.g.

[2022-07-20 02:53] miRoox commented on #6020
Fixed by #6029.

[2022-07-20 02:53] #6020 closed

[2022-07-20 02:53] miRoox commented on #6022
Fixed by #6029.

[2022-07-20 02:53] #6022 closed

[2022-07-20 04:51] yongzhi1 commented on #6007
I tried the following cmd line but it returned error, will spend a little more time later:

alsatplg -I /home/cowboy/sof/tools/topology/topology2/cavs -D PLATFORM=mtl,NUM_DMICS=2,PREPROCESS_PLUGINS=nhlt,NHLT_BIN=nhlt-ace-mtl-nocodec.bin -p -c sof-mtl-nocodec.conf -o sof-mtl-nocodec.tplg
ALSA lib conf.c:810:(get_char_skip_comments) Invalid search dir /home/cowboy/local/share/alsa/cavs
ALSA lib conf

[2022-07-20 14:27] plbossart commented on #5677
@RanderWang wasn't this fixed already and can we close?

[2022-07-20 14:28] plbossart commented on #4144
no update in a year, closing

[2022-07-20 14:28] #4144 closed

[2022-07-20 14:29] plbossart commented on #3767
In hindsight it was a mistake to introduce 4 streams. We should keep existing topologies as is and move on.

[2022-07-20 14:29] #3767 closed

[2022-07-20 14:32] #630 closed

[2022-07-21 01:14] keqiaozhang opened #6042 "[BUG] IPC timeout in sof-logger-check"
**Describe the bug**
CI detected some different failures when checking sof-logger:
1. on ADLP_GMB_I2S_ZEPHYR:http://sof-ci.sh.intel.com/#/result/planresultdetail/14129?model=ADLP_GMB_I2S_ZEPHYR&testcase=check-sof-logger
**logger.error**
[code]
2. On APL_UP2_NOCODEC_ZEPHYR:http://sof-ci.sh.intel.com/#/result/planresultdetail/14124?model=APL_UP2_NOCODEC_ZEPHYR&testcase=check-sof-logger
** console ou

[2022-07-21 03:14] akssri commented on #6015
Thanks! I tried using the new topology file but it looks there are some ABI issues,
[code]

[2022-07-21 08:24] RanderWang commented on #5677
yes we can since it was fixed.

[2022-07-21 08:36] wszypelt opened #6034 "[BUG] Volume DSP Panic on IPC response timeout, DSP Panic notification"
**Describe the bug**

ERROR:Exception DspPanicError occurred at 'C:\\work\\tools\\cavs_scripts-py\\utilities\\ipc_driver.py':171 DSP Panic on IPC response timeout! 0x00000005 0x0DEAD006 0x00004000
ERROR:Exception DspPanicError occurred at 'C:\\work\\tools\\cavs_scripts-py\\utilities\\ipc_driver.py':171 DSP Panic notification received: SOF_IPC_PANIC_EXCEPTION 0x00000005 0x0DEAD006 0x00004000

Bug o

[2022-07-21 12:42] #5677 closed

[2022-07-21 12:45] lgirdwood commented on #6034
@ranj063 module adapter related ?

[2022-07-21 13:55] plbossart commented on #6015
Ah bummer. I just realized I hard-coded support for SSP0..2 in sound/soc/intel/boards/sof_es8336.c

[code]

That was stupid of me but hey I can't test any of this myself....

if you know how to recompile your own kernel, you can fix this by replacing all this code by

ssp = SOF_ES8336_SSP_CODEC(5);

I'll provide a better solution when I get a bit of time.

[2022-07-21 13:58] plbossart commented on #6015
Rather use what I had in the SOF driver

[code]

[2022-07-21 17:01] cujomalainey commented on #6032
@plbossart that is why I proposed solution one, which relies on dynamic discovery of capabilities after the graph has been created

Also solution 2 works as the topology still defines the capabilities, but requires the topology to be update to date on a per module basis.

[2022-07-21 17:48] plbossart commented on #6032
There are very very few cases where we actually need any sort of discovery/negotiation/configuration IMHO @cujomalainey

In all topologies, we have 'host' and 'dai' pipelines. The latter usually operate at a fixed rate which is pretty much aligned with hardware capabilities of external hardware components. E.g. speaker protection works at a fixed rate, with a fixed number of channels. On capture,

[2022-07-21 17:53] plbossart commented on #6015
@akssri please retest with the hack above or with the patches in PR https://github.com/thesofproject/linux/pull/3776

[2022-07-21 21:44] cujomalainey commented on #6032
The problem is we are dropping in algorithms that cannot operate within the full range of the DAI/Host endpoints. Especially when there is more than one block in a pipe, having the capabilities as a overall sum in each pipe independently is prime for stale and incorrect values. I am just trying to move us to a way in which we are at least able to easily update a component with new features (e.g. N

[2022-07-21 22:01] rhowe opened #6038 "[BUG] No audio on Dell XPS Plus 13 9320"
**Describe the bug**
No audio devices detected on a Dell XPS Plus 13 9320

Linux 5.18.0, Debian unstable.

Tested with both Debian firmware-sof-signed package (2.1.1) and also using the sof 2.2 release installed manually (after removing the firmware-sof-signed package)

**To Reproduce**
Install Debian unstable

Observe no audio devices were detected

**Reproduction Rate**
All the time

**Expected

[2022-07-21 22:30] plbossart commented on #6032
If you chain components that rely on incompatible formats, you have a problem and need adapters.
If most of your components can only support S16_LE, then you can limit the pipeline at the topology definition time.

It seems you're asking for a run-time tool to fix broken topologies. That doesn't seem wise to me. Why not fix the topologies? Arguably dealing with topologies requires skills, but magi

[2022-07-21 22:39] plbossart commented on #6038
We added support for this sku 0AF3

[code]
This was added in commit  8f4fa45982b3f2daf5b3626ca0f12bde735f31ff ("ASoC: Intel: sof_sdw: Add support for SKU 0AF3 product") and should be present in 5.18

You probably have an invalid kernel configuration or something.

if you want to debug, add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/9163180/sof-dyndbg.conf.txt)
as /e

[2022-07-22 02:22] keqiaozhang opened #6039 "[BUG]Long-running cavstool cause random failures"
**Describe the bug**
I'm enabling the zephyr logging tool `cavstool` in sof-test to capture the etrace for Zephyr platforms.
Since the `cavstool` can follow a ring buffer in etrace, so we start the `cavstool` for the whole test duration, no only at the end of the test(Please refer to https://github.com/thesofproject/sof-test/pull/897). But I found that starting BOTH `sof-logger` DMA trace AND `cav

[2022-07-22 18:12] marc-hb commented on #6039
Is this not a duplicate of thesofproject/sof-test/issues/941 ? (which was not an sof-test issue either)

[2022-07-22 20:29] cujomalainey commented on #6032
Yes but further updates to the module may change that, and it requires updating across all the pipe definitions which may contain modules the updater is not familiar with. Hence it does not scale.

Hence why i recommended solution 2 which is a modification in the definition of the topologies as a possible solution

The system can always be built with overrides (as any good design should)

[2022-07-22 21:55] marc-hb commented on #6039
OK, the difference is: #941 is not long-running. But it seems to fail the same, just more rarely.

[2022-07-23 17:35] aleksfadini commented on #5867
I am having the same problem with a ZenBook Pro Duo UX582ZM.

The speakers do not appear in alsamixer. The headphones do, and sound is fine through headphones jack.

$ aplay -l
**** List of PLAYBACK Hardware Devices ****
card 0: sofhdadsp [sof-hda-dsp], device 0: HDA Analog (*) []
  Subdevices: 1/1
  Subdevice #0: subdevice #0
card 0: sofhdadsp [sof-hda-dsp], device 3: HDMI1 (*) []
  Subdevices: 1

[2022-07-25 08:13] juimonen commented on #6007
@yongzhi1 I'm able to build your branch... let's sync offline our alsa-utils versions.

[2022-07-25 20:45] lgirdwood commented on #5867
@bardliao would anyone from Realtek be able to suggest the correct verbs here ?

[2022-07-26 00:14] marc-hb commented on #6042
No check-sof-logger failure in recent daily runs and the zephyr logs are there... maybe someone fix this while fixing something else?

- No check-sof-logger failure in daily 14218
Start Time: 2022-07-25 21:29:47 UTC

- No check-sof-logger failure in daily 14198
Start Time: 2022-07-24 21:29:42 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: [70f9e7b34a9d](https://github.com/thesofproject/linux/comm

[2022-07-26 04:38] marc-hb commented on #5352
Still happening: https://sof-ci.01.org/softestpr/PR943/build110/devicetest/?model=ADLP_RVP_SDW_ZEPHYR&testcase=test-speaker

[2022-07-26 06:01] bardliao commented on #5867
Kailang <kailang@realtek.com> and Pshou <pshou@realtek.com> may help.

[2022-07-26 07:56] #6026 closed

[2022-07-26 14:10] pfps commented on #6026
I'm confused as to just what SOF is supposed to handle.   It appears to me that SOF is claiming the entire audio hardware on my Ice Lake laptop, which I take to include some DSP hardware, a RealTek ALC298 (or emulator), and Intel Icelake HDMI audio.  SOF is doing something with the DSP and the ALC298, but doesn't appear to be doing anything useful with the HDMI audio, even though the hardware does

[2022-07-26 14:25] kv2019i commented on #6026
@pfps The DSP is used on all audio paths. HDMI/DP display audio is supported, but with current DSP topologies this is limited to stereo configuration. You can switch back to snd-hda-intel driver and disable DSP with following kernel option:

options snd_intel_dspcfg dsp_driver=1

On your laptop, the biggest thing you lose is support for the integrated digital microphone (on Linux desktop systems w

[2022-07-26 16:08] pfps commented on #6026
I haven't been able to get multi-channel sound through HDMI working on the hda-intel driver either.  I think the problem is that multi-channel sound to my speaker system needs AC3 encoding, or at least that's what I see in the eld information.

@kv2019i Do you mean that DSP is used on all audio paths in SOF or overall?  It looks like the former because you say that the hda-intel driver disables th

[2022-07-26 17:25] kv2019i commented on #6026
@pfps It should definitely work with snd-hda-intel.  Probably best to first test with some app that can send encoded AC3 to ALSA (or try first with a HDMI receiver that can handle PCM multichannel, and only then move to AC3 encoded).

For the other question, we currently have a limitation that either all endpoints are handled via DSP or none are. This forces us to route audio streams to HDMI also

[2022-07-26 17:35] pfps commented on #6026
@kv2019i That's somewhat encouraging.  Is there any way I can help?

[2022-07-26 19:55] marc-hb commented on #2775
The sof-logger is being deprecated, I think this should be closed.

[2022-07-27 07:42] paulstelian97 commented on #2775
What are we using instead of it now?

[2022-07-27 22:24] lgirdwood commented on #2775
@paulstelian97 trace/logging tools are in transition now to be fully Zephyr-ized. Good news is that there is a bunch of nice Zephyr tools (that do work with 64bits) bad news is that we have not completed the Zephyr log integration as of today. It's still WIP with target of v2.3

[2022-07-27 23:32] marc-hb commented on #6042
It's back today in daily 14276?model=ADLP_GMB_I2S_ZEPHYR&testcase=check-sof-logger on just one system :-(

[2022-07-28 02:16] akssri commented on #6015
(Apologies for the delay in testing this.)

I compiled the kernel using the config from Arch's package
https://github.com/archlinux/svntogit-packages/tree/packages/linux/trunk

Still no luck.

[code]

the module does seem to be getting loaded,
[code]

but no sound card,
[code]

[2022-07-28 05:40] #2775 closed

[2022-07-28 14:32] plbossart commented on #6015
@akssri can you please add this file
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/9210975/sof-dyndbg.conf.txt)
as /etc/modprobe.d/sof-dyndbg.conf, reboot and attach the full dmesg log. Thanks!

[2022-07-29 21:51] marc-hb commented on #6042
I got distracted by the migration to west but I have some good leads, stay tuned.

[2022-07-30 01:27] yongzhi1 commented on #6007
Thank you for the info, not sure if this made sense https://github.com/thesofproject/alsa-utils/commit/e10ce54c80b441eca11ecb8265d7f42fc0c4e446

[2022-07-30 04:44] akssri commented on #6015
PFA the full dmesg log; please lmk if you need anything else. Thanks!
[dmesg-220730.txt](https://github.com/thesofproject/sof/files/9224795/dmesg-220730.txt)

[2022-08-01 02:41] miRoox commented on #5948
Never reproduce. Reopen it if we see it again.

[2022-08-01 02:41] #5948 closed

[2022-08-01 03:13] katyo opened #6062 "sof-glk-es8336-dmic2ch-ssp2.tplg missing"
This required to support Teclast F5.

[code]

[2022-08-01 08:15] Polyvyanyy opened #6068 "Missing sof-apl-es8336-ssp1.tplg"
Missing sof-apl-es8336-ssp1.tplg

`[    8.427955] sof-audio-pci-intel-apl 0000:00:0e.0: DSP detected with PCI class/subclass/prog-if info 0x040100
[    8.428270] sof-audio-pci-intel-apl 0000:00:0e.0: DSP detected with PCI class/subclass/prog-if 0x040100
[    8.428477] sof-audio-pci-intel-apl 0000:00:0e.0: bound 0000:00:02.0 (ops i915_audio_component_bind_ops [i915])
[    8.435396] sof-audio-pci-in

[2022-08-01 08:18] marc-hb commented on #6062
This is because d87adcd2dcb0 has not been back-ported to v2.2 yet.

cc: @plbossart

[2022-08-01 10:14] lgirdwood commented on #6007
@juimonen any update ?

[2022-08-01 10:43] juimonen commented on #6007
@lgirdwood I'll check still with Yong the issue as I can't reproduce... but we might have different versions of alsa-utils

[2022-08-01 15:56] plbossart commented on #6015
@akssri can you check the configuration, there's something very odd here

[code]

These two lines are the last step, and there's no card created. Please make sure you don't have any blacklists for sof_es8336 or try to do a manual 'modprobe snd_soc_sof_es8336'

Or maybe the log was truncated?

[2022-08-01 16:02] plbossart commented on #6015
also use this file, we forgot sof_es8336...
[sof-dyndbg.conf.txt](https://github.com/thesofproject/sof/files/9235362/sof-dyndbg.conf.txt)

[2022-08-01 16:06] plbossart commented on #6062
try this file @katyo (unzip and copy to /lib/firmware/intel/sof-tplg after backing-up your setup)
[sof-glk-es8336-dmic2ch-ssp2.tplg.gz](https://github.com/thesofproject/sof/files/9235394/sof-glk-es8336-dmic2ch-ssp2.tplg.gz)

[2022-08-01 20:43] plbossart opened #6066 "[BUG] Failed capture tests on DELL SKU 0A32 with SOF 2.2"
**Describe the bug**

Running sof-test with SOF 2.2 production-signed firmware results in failure for all capture tests

FAIL: capture-d100l1r1; capture_d1l100r1; capture_d1l1r50;

This is on a device with Fedora 36 installed (pipewire disabled).

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-rt711-rt1316-rt714.tplg MODEL=TGLU_SKU0A32_SDCA ~/sof-test/test-case/check-capture.sh -d 10 -

[2022-08-01 20:46] plbossart commented on #6066
The same test seems to pass in Intel internal tests
https://sof-ci.sh.intel.com/#/result/planresultdetail/14339?model=TGLU_SKU0A32_SDCA&testcase=check-capture-10sec

@keqiaozhang @marc-hb any ideas what could have gone sideways or be dependent on Ubuntu v. Fedora setups?

[2022-08-01 21:51] marc-hb commented on #6066
[code]
It looks like `arecord` is simply crashing without any error message.

There's no sof-test error either because a long time I made the mistake of adding `set -e` before fixing shellcheck warnings:
[code]
can you please try this fix?
[code]

[2022-08-01 22:15] plbossart commented on #6066
@marc-hb thanks, I removed the spurious leftover 'fi' and looks indeed like an arecord status issue

[code]

[2022-08-02 01:10] kfrydryx commented on #6034
Still reproducing. Bisect points to module adapter - first bad commit f7663de1f41308b80bac4618b5835fcda1ff8fac.

[2022-08-02 01:41] keqiaozhang commented on #6042
Above errors are unrelated to this bug. it's just looking for the firmware `dsm_param.bin` of the codec in /opt/google/dsm/dsmparam.bin. We just lack DSM algorithm, which will not affect the audio function.

[2022-08-02 03:15] akssri commented on #6015
dmesg log with the new modprobe conf,
[20220802_dmesg_vamana.txt](https://github.com/thesofproject/sof/files/9238756/20220802_dmesg_vamana.txt)

Checked that there was nothing else in modprobe.d or kernel-arg being passed elsewhere, and that the module was being loaded (this was the case at bootup, but the log was dumped after manually running modprobe).
[code]

[2022-08-02 09:31] lgirdwood commented on #6066
@plbossart I assume if we arecord to a file rather than /dev/null the file is empty ? i.e. we dont capture any data ?

[2022-08-02 09:41] lgirdwood commented on #6034
@wszypelt @kfrydryx is this only reproducing with the loopback ? What happens if gain is NOT set prior to test. The DEAD code is an assert().
@lyakh can you take a look at this, thanks !

[2022-08-02 10:01] marc-hb commented on #6066
Thanks, I edited my comment above. As you have tested it, could you please submit this as a quick sof-test fix? Thanks in advance.

[2022-08-02 11:08] wszypelt commented on #6034
@lgirdwood
I do not know why. does not provide information about IPC4 regression tests.
During these tests, he failed the SDW test
### TestSdwTransferLoopback.test_16_00_loopback [m0-sdw_0_pdi_2_to_sdw_1_pdi_3-48000Hz_24in32bit_2ch] ###
I report the matter to the appropriate team so that they will try to fix it as soon as possible.

[2022-08-02 14:39] plbossart commented on #6066
indeed checking the file size would be a good way to check that something was captured...

[2022-08-02 14:42] plbossart commented on #6015
it's likely the same issue reported in https://github.com/thesofproject/linux/issues/3336#issuecomment-1202616039 by @ejmarkow

Somehow the introduction of HDMI inputs broke everything. Please revert that patch and retry.

What a mess.

[2022-08-02 15:08] lyakh commented on #4339
This isn't a bug, it's a feature. It's no longer the case with Zephyr.

[2022-08-02 15:08] #4339 closed

[2022-08-02 17:49] #6007 closed

[2022-08-04 02:33] miRoox opened #6075 "[BUG] Unable to install hw params when recording with hw:0,4 on Dell laptops"
**Describe the bug**
On the ADL and TGL Dell laptops, arecord with hw:0,4 will report error
[code]

The bisect result shows it is introduced by e4a53594403d40926b349423045b0f13c252b220 (#5976).

**To Reproduce**
[code]

**Reproduction Rate**
100%

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: https://github.co

[2022-08-04 07:57] plbossart commented on #6075
I would rephrase the wording, 'unable to install' hints at a bad configuration when the real issue is an IPC error.

[code]

It's likely that there are multiple hidden issues nested, the iir message below looks very suspicious, there is nothing specific related to those capture streams, only the source is different (RT715 v. DMIC).

[code]

[2022-08-04 08:53] dbaluta opened #6077 "[FEATURE] Implement DRAIN for compress audio pipeline"
**Is your feature request related to a problem? Please describe.**

Implement compress API drain

**Describe the solution you'd like**

Compress API provides `SNDRV_PCM_TRIGGER_DRAIN` and SOF also offers command `SOF_IPC_STREAM_TRIG_DRAIN` but we need to implement the actual functionality both in Linux kernel driver and SOF FW

Linux kernel:

* forwards `SOF_IPC_STREAM_TRIG_DRAIN` to FW and waits

[2022-08-04 09:35] plbossart commented on #6068
https://github.com/thesofproject/sof/pull/6078

test files attached, install to /lib/firmware/intel/sof-tplg (after saving your existing setup)
[es8336-topologies.tar.gz](https://github.com/thesofproject/sof/files/9258521/es8336-topologies.tar.gz)

[2022-08-04 11:09] dbaluta commented on #6077
Main questions here:

1) How kernel knows that DRAIN has finished?
2) Do we need a new IPC from FW to Linux kernel driver to announce that drain has finished?

[2022-08-04 12:01] apakuls opened #6082 "[BUG] TGL CODEC DSP Panic notification"
**Describe the bug**

ERROR:Exception DspPanicError occurred at 'C:\\work\\tools\\pyexecnetcache\\cavs_scripts-py\\utilities\\ipc_driver.py':171 DSP Panic on IPC response timeout! 0x00000005 0x0DEAD006 0x00004000
ERROR:Exception DspPanicError occurred at 'C:\\work\\tools\\pyexecnetcache\\cavs_scripts-py\\utilities\\ipc_driver.py':171 DSP Panic notification received: SOF_IPC_PANIC_EXCEPTION 0x00000

[2022-08-04 12:31] lgirdwood commented on #6077
@dbaluta fwiw, IPC4 does have a pipeline state change IPC to indicate the drain has stopped, but we need to add this to ipc3 too.

[2022-08-04 12:32] junocomp commented on #6068
@plbossart works

[2022-08-04 15:26] lgirdwood commented on #6082
@wszypelt is this with xtos or Zephyr ?

[2022-08-04 16:12] dbaluta commented on #6077
@lgirdwood do you mean End Of Stream state?

[code]

[2022-08-04 17:46] yongzhi1 opened #6087 "[BUG] alsatplg: Support SSP direction for each DAI"
**Describe the bug**
SSP DAI direction based on individual dai_index is not supported:
https://github.com/alsa-project/alsa-utils/blob/master/topology/nhlt/intel/ssp/ssp-process.c#L531

**To Reproduce**
Sample changes https://github.com/yongzhi1/sof/tree/test-ssp1-playback.

Build above topology and check loopback capture on SSP0.

**Reproduction Rate** 100%

**Expected behavior**
We should be abl

[2022-08-05 03:17] barry-waves opened #6090 "[BUG][topology] How to get the values declaimed in PIPELINE_PCM_ADD in codec adapter"
In sof-tgl-max98357a-rt5682.m4 of adl-004-drop-stable branch, there is a SPK_MIC_PERIOD_US to define the schedule  period.

[code]
In ./src/audio/codec_adapter/codec/waves.c, we expect the value of component->period_bytes associates with SPK_MIC_PERIOD_US. However, the value of component->period_bytes is always 192.

[code]
Could you give us some advice to get correct value which associates with S

[2022-08-05 03:40] XiaoyunWu6666 opened #6091 "[BUG] xrun on TGLH RVP NOCODEC ZEPHYR when testing multiple pause resume"
**Describe the bug**
When multiple pause resume on TGLH RVP NOCODEC ZEPHYR, xrun happened
in inner test result 14447

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-h-nocodec.tplg MODEL=TGLH_RVP_NOCODEC_ZEPHYR ~/sof-test/test-case/multiple-pause-resume.sh -r 50

**Reproduction Rate**
Observe only once in CI so far

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: [655b48ffac

[2022-08-05 07:13] lyakh opened #6093 "[BUG] a line seems to be optimised out, that should cause a NULL dereference exception"
**Describe the bug**
A line of code clearly has to dereference a pointer, where the above line prints it as NULL, and no exception is generated, when built with xcc.

**To Reproduce**
Use https://github.com/thesofproject/sof/commit/95b128e4f614acf844c1fd9388232a44f8255ae6 and build an XTOS based firmware for TGL, then run it on an SDW platform. Observe the following log:
[code]
specifically see th

[2022-08-05 07:31] wszypelt commented on #6082
@lgirdwood xtos

[2022-08-05 08:06] juimonen commented on #6087
@yongzhi1 could you try out:
https://github.com/juimonen/alsa-utils/tree/dai_index_fix

thanks!

[2022-08-05 08:41] lyakh commented on #6093
I modified the code a bit:
[code]
to make the location between the two calls to `platform_timer_get()` obvious. Here's the disassembly:
[code]

[2022-08-05 09:16] marc-hb commented on #6091
@XiaoyunWu6666 is a brand new regression? Did it start with
- #5976

just like this other new regression?

- #6075

[2022-08-05 09:18] marc-hb commented on #6093
Was this discovered while debugging recent regressions #6075 and/or #6091? Just trying to connect some dots, sorry if unrelated.

[2022-08-05 09:51] dbaluta opened #6095 "[BUG] SOF freezes when running SRC pipeline conversion 44.1khz -> 48khz"
**Describe the bug**

SOF freezes when playing file with following parameters: 44.1Khz, 32bits, 2 channels. Only FW compiled with Xtensa toolchain see this issues. GCC builds are ok.

**To Reproduce**

Use `sof-imx8mp-src-wm8960.m4` and do:

`aplay -Dhw:0,0 audio41k2c32b.wav`.

aplay freezes and no sound can be heard.

**Reproduction Rate**

always

**Expected behavior**

aplay should play the wav

[2022-08-05 11:29] marc-hb commented on #6091
`TGL: enable CONFIG_INCOHERENT correctly` was reverted in #6094

[2022-08-05 12:16] kv2019i opened #6100 "[BUG] PCM probe does not work with multicore topologies"
**Describe the bug**
The pcm probe client uses notifier_register() to register to buffers (to probe). The notifier interface registers the notifier just for the calling CPU and if the buffer is attached to a pipeline running on a different core, no notifications are received and thus no data is probed.

**To Reproduce**
Use a multicore pipeline like cavs-nocodec. Start playback with pipeline assig

[2022-08-05 13:50] apakuls opened #6101 "[BUG] TimeoutError occurred TestPtpParallelInternal"
**Describe the bug**
ERROR:Exception TimeoutError occurred at 'C:\\work\\tools\\pyexecnetcache\\cavs_scripts-py\\utilities\\hda_streamer.py':600 Play stream not running for 1 seconds

Bug was found in:
10_01_TestPtpParallelInternal8000Hz16b16b2ch
10_01_TestPtpParallelInternal48000Hz32b32b8ch
10_01_TestPtpParallelInternal48000Hz24b32b4ch
10_01_TestPtpParallelInternal24000Hz32b32b8ch

**Topology**
[

[2022-08-05 13:51] apakuls commented on #6101
Also occurs on:
12_01_TestMixerCapture8000Hz16b16b2ch
12_01_TestMixerCapture16000Hz16b16b8ch
12_01_TestMixerCapture24000Hz24b32b4ch
12_01_TestMixerCapture48000Hz32b32b4ch

14_03_TestDemuxSynchronizedPlayback8000Hz24b32b2ch
14_03_TestDemuxSynchronizedPlayback24000Hz24b32b8ch
14_10_TestDemuxMemLeakStaticPipelines

[2022-08-05 14:09] plbossart commented on #6091
possible similar sighting in https://sof-ci.01.org/linuxpr/PR3796/build485/devicetest/?model=ADLP_RVP_SDW_ZEPHYR&testcase=multiple-pause-resume-5
xrun leading to IPC error.

[2022-08-05 14:17] apakuls opened #6102 "[BUG] IPC timeout after 5.0 seconds in test 14_05_TestDemuxSynchronizedSimpleStreamOperations8000Hz16b16b4ch"
**Describe the bug**
ERROR:Exception TimeoutError occurred at 'C:\\work\\tools\\cavs_scripts-py\\utilities\\ipc_driver.py':171 FW status on IPC timeout after 5.0 seconds: 0x00000005 0x00000000 0x00004000

Bug was found in:
14_05_TestDemuxSynchronizedSimpleStreamOperations8000Hz16b16b4ch
14_05_TestDemuxSynchronizedSimpleStreamOperations16000Hz24b32b4ch
14_05_TestDemuxSynchronizedSimpleStreamOperati

[2022-08-05 14:56] lgirdwood commented on #6102
@apakuls xtos or Zephyr ?

[2022-08-05 14:59] lgirdwood commented on #6091
Pause is always a P2.

[2022-08-05 15:03] plbossart commented on #6091
I disagree @lgirdwood, If we end-up with a fatal IPC error it's a P1. Xruns are tolerable since they are not fatal.

[2022-08-05 15:05] lyakh commented on #6093
@marc-hb #6075 , yes

[2022-08-05 15:11] lgirdwood commented on #6091
It's P2 as it's real world usage is negligible and I'd rather focus on issues that will hit the majority of users (and we have some). Sure, become a P1 is it causes IPC timeout or crash.

[2022-08-05 15:11] lyakh commented on #6093
Further, the same problem also appears on TGL, where the code was modified to add that NULL-dereference, also when built with crosstool gcc and with the Zephyr toolchain. Apparently that code should run during initial DAI configuration and during potential run-time DAI re-configuration. The `ipc_dai_data_config()` function is only called from `dai_params()` in dai-legacy.c and dai-zephyr.c, and in

[2022-08-05 15:16] lgirdwood commented on #6100
@kv2019i xtos or zephy ?

[2022-08-05 15:20] lgirdwood commented on #6101
@apakuls can you confirm xtos/zephyt and whether multicore ?

[2022-08-05 15:27] plbossart commented on #6091
https://sof-ci.01.org/linuxpr/PR3796/build485/devicetest/?model=ADLP_RVP_SDW_ZEPHYR&testcase=multiple-pause-resume-5 is an IPC error and crash @lgirdwood
it's like a kernel oops, it doesn't matter how we got there, it shouldn't happen. Rather, it shall not happen.

[2022-08-05 15:54] kv2019i commented on #6100
@lgirdwood wrote:

Both.

[2022-08-05 16:47] yongzhi1 commented on #6087
Hi, thank you @juimonen for the quick fix, it works as expected now!!

[2022-08-05 16:58] lgirdwood commented on #6091
This looks like the same issue/use case and it now qualifies as a P1 since it's a FW crash/fatal. i.e no longer a survivable IPC error reply as reported initially but now a fatal IPC timeout.

[2022-08-05 17:11] #6087 closed

[2022-08-08 02:59] miRoox commented on #6075
Fixed by #6094

[2022-08-08 02:59] #6075 closed

[2022-08-08 03:14] XiaoyunWu6666 commented on #6091
I ran a stress multiple pause resume test on ADLP TGLH TGLU zephyr platforms (NOCODEC and SDW) to see if there are any clues

[2022-08-08 07:53] singalsu commented on #6095
Thanks for report @dbaluta ! There seems to be another freeze possibility that that the larger internal buffer triggered.

Have you tried if 11.025 to 8 kHz freezes now?

[2022-08-08 08:04] singalsu commented on #6095
"Only FW compiled with Xtensa toolchain see this issues. GCC builds are ok." --> this is a very good pointer for starting debugging, it sounds like a bug in xcc version

[2022-08-08 09:01] Polyvyanyy commented on #6068
firmware is loaded, but sound not working
audio card detected as ES8336

[2022-08-08 09:18] plbossart commented on #6068
@Polyvyanyy please use the recommended setup from https://github.com/thesofproject/linux/wiki/ES8336-support

[2022-08-08 09:19] plbossart commented on #6068
SSP1 issue is fixed by https://github.com/thesofproject/sof/pull/6078, closing this specific problem. Topologies are available in the wiki.

[2022-08-08 09:19] #6068 closed

[2022-08-08 09:20] plbossart commented on #6062
Fixed by https://github.com/thesofproject/sof/pull/6078

See https://github.com/thesofproject/linux/wiki/ES8336-support for recommended setup, and file a new issue under the Linux project if this doesnt' work.

[2022-08-08 09:20] #6062 closed

[2022-08-08 09:21] plbossart commented on #6015
Fixed by https://github.com/thesofproject/sof/pull/6078

See https://github.com/thesofproject/linux/wiki/ES8336-support for recommended setup, and file a new issue under the Linux project if this doesnt' work.

[2022-08-08 09:21] #6015 closed

[2022-08-08 11:42] wszypelt commented on #6102
@lgirdwood Platform issue

[2022-08-08 11:42] #6102 closed

[2022-08-08 11:51] wszypelt commented on #6101
@lgirdwood Platform issue

[2022-08-08 11:51] #6101 closed

[2022-08-09 07:14] lyakh commented on #6093
Update: just checked, that doing the same - adding a low address (e.g. 0x10) dereference in `main()` behaves in one of two ways: (1) causes an exception when reading from it - as expected or (2) causes no problem when writing to it.

[2022-08-09 07:41] kv2019i commented on #6082
@apakuls On TGL, we only support having components of a pipeline on the same core. Here it seems the playback pipeline has a single component on another core "Playback pipeline contains generic processor component on different core.". Can you confirm this is the case? If true, this can be closed as won't fix, @mwasko to confirm.

[2022-08-09 07:56] aiChaoSONG commented on #6090
I don't think you want  process_module->period_bytes (src/audio/module_adapter/module/waves.c), because it is calculated with
[code]
that's why you always get 192.

can you try the dev->period (comp_dev), or dev->pipeline->period.

[2022-08-09 08:10] lgirdwood commented on #6093
@lyakh what happens when
1) your pointer is volatile ?
OR
2) You write back the cache after the write ?

[2022-08-09 08:24] lyakh commented on #6093
Update Nr.2: on BYT neither writes to nor reads from low addresses cause exceptions.
Update Nr.3: actually using 0 instead of a low address has the same effect

[2022-08-09 08:27] lyakh commented on #6093
@lgirdwood sorry, I checked assembly. I'm rather sure those actual addresses (0x10, 0, etc.) are used, which of course are outside of any RAM addresses - cached or uncached.

[2022-08-09 08:27] lyakh commented on #6093
@mmaka1 any idea about this?

[2022-08-09 08:49] lgirdwood commented on #6093
Can you check anyway, this could be misconfiguration of the cache_attr for the HW (see the linker script for value and pls check it's value is aligned with HW).

[2022-08-09 09:39] singalsu commented on #6095
In my test with UP2 with modified sof-apl-pcm512x.tplg to add support for s32_le (#6109) I don't get freeze with HiFi3 xt-xcc build with 8881a406af67536b9ac6bfbb53d1c712aacdae81 that is just before @dbaluta 's revert.

I think I need to test with Zephyr since I assume imx8 used it, apply to my test topology similar pipeline buffers parameters as on imx8. Also imx8 seems to be HiFi4, and there's a

[2022-08-09 09:55] barry-waves commented on #6090
Hi Mr. Song,
Thanks for your great help. I can get the correct value.

[2022-08-09 09:56] #6090 closed

[2022-08-09 09:57] lyakh commented on #6093
@lgirdwood I see what you mean... IIRC @andyross and @ceolin checked and double-checked those flags for Zephyr, do you think such an effect could be possible via their misconfiguration?

[2022-08-09 12:57] paulmenzel opened #6111 "[BUG] Dell XPS 13 9315: No sound cards detected"
On the Dell XPS 13 9315 with Debian sid/unstable and Linux 5.19 from the suite *experimental*, very often no soundcards are found.

    00:1f.3 Multimedia audio controller [0401]: Intel Corporation Device [8086:51cc] (rev 01)

[Output of `/usr/sbin/alsa-info`](https://alsa-project.org/db/?f=debacf544a4340e3f6013a102a235acfe777ca73)

    [   14.611798] soundwire sdw:2:025d:1316:01: Probe not comple

[2022-08-09 13:00] paulmenzel commented on #6111
Added soundwire error messages.

[2022-08-09 13:01] plbossart commented on #6111
know issue duplicate of https://github.com/thesofproject/linux/issues/3777

Solved by upstream commits, see https://lore.kernel.org/alsa-devel/20220621225641.221170-1-pierre-louis.bossart@linux.intel.com/

[2022-08-09 14:19] singalsu commented on #6095
Zephyr build is not triggering this issue for me. Has anyone replicated this issue with HiFi3?

[2022-08-09 16:08] paulmenzel commented on #6111
Thank you for the prompt reply. I am happy fixes are in Linus’ master branch.

Two questions:

1.  Is that a regression in Linux 5.18?
2.  Did Dell send one of these devices to Intel, so they can be used for testing?

[2022-08-09 16:13] paulmenzel commented on #6111
For the record, the [Linux messages](https://github.com/thesofproject/sof/files/9292818/20220808-dell-xps-13-9315-ubuntu-20.04-5.14.0-1047.54-oem-dmesg.txt) from the Dell OEM Ubuntu 22.04 installation.

[2022-08-09 17:03] andyross commented on #6093
Unfortunately the cAVS/MTL platforms put registers in that low 512M block, so we can't use the region protection bits to deny access.  That region is marked rw/uncached.  Whether or not an address faults (some do, for sure) is entirely up to the bus hardware.

Once there's hardware available with an MMU, there will be more options.  Also on some of the devices (I want to say cAVS 1.5 can do this b

[2022-08-09 17:09] andyross commented on #6093
Just checked: indeed, the core-isa.h files in the sof tree have XCHAL_HAVE_XLT_CACHEATTR==1 for BYT and APL, but all other platforms (AMD/NXP/MediaTek included) are 0.   So that's not really much of an option.

[2022-08-09 17:15] andyross commented on #6093
FWIW: the cacheattr register actually doesn't exist on platforms with Region Protection Option, the HAL code to set it actually interprets the register value at runtime.  We have a smaller, plausibly-too-optimized-for-its-own-good version here: https://github.com/zephyrproject-rtos/zephyr/blob/main/include/zephyr/arch/xtensa/cache.h#L163

[2022-08-09 17:27] ceolin commented on #6093
Just for curiosity, can you check what is the access mode for this address ? Not familiar with this part of SoF code, but I think `glb_addr_attr` should give you it.

[2022-08-09 17:29] ceolin commented on #6093
We are using identity map without translation, aren't we ?

[2022-08-09 17:31] andyross commented on #6093
Right.  The code is aware of the "with translation" distinction (because it has to set up the top three bits differently), but for compatibility we don't try to do any mapping.

[2022-08-09 17:47] ceolin commented on #6093
I may be missing something, but only baytrail and apollolake have support for translation.
[code]

[2022-08-09 17:48] andyross commented on #6093
Right.   Thus "not much of an option". :)

[2022-08-10 06:42] lyakh commented on #6093
that all sounds wonderful... But reading from those addresses does generate an exception, so the DSP "knows" that they are invalid? I looked at some of the registers and the lowest addresses I see begin soon after 0x1000 so about the low 4k of addresses seem to be invalid? So it's the bus hardware bug, that it raises exceptions on reading from there but not on writing to that area?

[2022-08-10 07:05] plbossart commented on #6111
Unclear. The probe message has been there for multiple cycles, since commit 528be501b7d4a ("soundwire: sdw_slave: add probe_complete structure and new fields")

it's not clear what caused the timeout in practice. Possibly PCI power management?

Yes, and we didn't see the issue with the Canonical OEM image. It's likely a configuration that causes delays in the probe and timeouts.

[2022-08-10 07:24] dbaluta commented on #6095
I have this replicated with XTOS not Zephyr. Also, have not tried  `11.025 to 8 kHz` as our base is 48Khz and we convert from X to 48Khz always.

I might find some time at the end of the week to test this scenario.

Also, as you noticed i.MX used HIFI4.

[2022-08-10 10:16] paulmenzel commented on #6111
Yes, me neither, but I’d thought the Intel (FLOSS) QA is going to test mainly with the upstream versions.

[2022-08-10 10:41] wszypelt commented on #6082
@kv2019i
- create topology: playback pipeline (core = 0) with generic processor component (core = 1) and capture pipeline
 (core = 0)connected to SSP

With that in mind, I am closing the issue as won't fix

[2022-08-10 10:41] #6082 closed

[2022-08-10 12:23] pjdobrowolski opened #6115 "[BUG] #5027 provides changes for logger blocking compilation with MSYS2"
Changes made in #5027 require inotify which is available Linux Only. What blocks compilation.

Possible solution:
 - Switching off logger from default west compilation.
 - Revert commit and use different solution
 - Add ifdefs to turnoff that feature on Windows

[2022-08-10 12:45] plbossart commented on #6111
I was the author of that broken solution in commit 528be50 ("soundwire: sdw_slave: add probe_complete structure and new fields") and we never saw any issues in all our tests. It's just luck that we had a solution ready: I was doing some cleanups to make the driver more compliant with the device model, and remove all sorts of timing dependencies to rely instead of the deferred probe mechanism. I ha

[2022-08-10 13:04] lgirdwood commented on #6115
@pjdobrowolski  can you ifdef atm for MSYS2 ? Sof logger is not the long term tool as Zephyr tooling will be used for log and trace. If you dont need to run it on MSYS2 then faster to remove from compilation if building on MSYS2

[2022-08-10 13:14] turowicz opened #6116 "[BUG] microphone not detected and not working on 2022 Razer Blade 14"
**Describe the bug**
I've installed Ubuntu 22.04 on a 2022 Razer Blade 14. Audio playback appears to be working, but the built in microphone, is not being detected, doesn't seem to be recording any sound. I am also not able to detect a connected BT speaker with a mic (Jabra).

![image](https://user-images.githubusercontent.com/1055391/183909163-62c805c7-4d36-4bdd-ac19-f6f0845cd85a.png)

**To Repro

[2022-08-10 13:33] keqiaozhang opened #6117 "[BUG][IPC4]Error 6 “Unknown error while processing the request“ happens when testing suspend/resume with capture on TGL/ADL"
**Describe the bug**
We observed this issue on TGL/ADL when testing IPC4+SOF Zephyr firmware.  The reproduction is high, it may happens at the first round of test on some platforms.  But it only happens when testing suspend/resume with capture, no such issue when testing the suspend/resume with playback.
[code]

**To Reproduce**
For example on ADLP_RVP_NOCODEC_IPC4:
TPLG=/lib/firmware/intel/avs-tp

[2022-08-10 13:34] plbossart commented on #6116
@turowicz an you please attach the result of 'alsa-info', it's not clear that you are even using the SOF driver?

[2022-08-10 13:37] turowicz commented on #6116
http://alsa-project.org/db/?f=c857e693b115cecaa37910551102054d8c9e1c8c

[2022-08-10 13:47] plbossart commented on #6116
That's an AMD device, that will be for the AMD folks to comment on. I have no idea if this platform is supposed to be handled by SOF.

[2022-08-10 13:59] keqiaozhang opened #6118 "[BUG][IPC4] ipc timed out for 0x13020004|0x0 GLB_SET_PIPELINE_STATE on TGLU_UP_HDA_IPC4ZPH"
**Describe the bug**
This issue happens when testing playback on TGLU_UP_HDA with IPC4 SOF Zephyr configuration.
The IPC error is:
[code]
It seem that this issue only happens with HDA mode. we didn't observer this issue with SDW or I2S mode.

**To Reproduce**
TPLG=/lib/firmware/intel/avs-tplg/cavs-mixin-mixout-hda.tplg MODEL=TGLU_UP_HDA_IPC4ZPH ~/sof-test/test-case/check-playback.sh -d 10 -l 1 -r

[2022-08-10 14:05] turowicz commented on #6116
I came here from there: https://github.com/thesofproject/sof/issues/5989

[2022-08-10 14:13] lgirdwood commented on #6091
@marcinszkudlinski fyi - could be related to issues you have been looking at. @lyakh can you take a look at this for TGL ?

[2022-08-10 14:21] lgirdwood commented on #6117
@keqiaozhang can you try with trace on/off (as this is a capture stream too). @plbossart could be a timing difference with IPC3 flow (its very similar to the issue with the old DMA stop / suspend flow before @ranj063 fixed the flows)?

[2022-08-10 14:30] lgirdwood commented on #6116
@thesofproject/amd fyi.

[2022-08-10 14:35] lgirdwood commented on #6077
Yes, a similar IPC3 mechanism could be used to indicate "I've finished playing the stream"

[2022-08-10 14:45] andyross commented on #6093
That matches my experience, though I never tried to probe the exact behavior.  For sure I've gotten some reasonable-looking exceptions on null pointer dereferences.  It makes perfect sense that the hardware designers would put a poison region at the bottom of memory.  Frustrating if it only works for reads, though.

[2022-08-10 14:46] ceolin commented on #6093
Did you were able to get the access mode for these address that are behaving like this ? There are access mode that raises exceptions in fetch but not in load  and store operations.

[2022-08-10 22:23] jairaj-arava opened #6120 "[FEATURE]: Optimization of mixer component"
For now on ADL, in no-codec mode, we used Mixer component to mix mutliple PCM's and calculated MCPS during runtime. We found the mixer component is consuming ~21MCPS as shown below
[   131849772.417011] (         160.000000) c2 **mixer**        1.0   ....../pipeline-stream.c:196  INFO perf comp_copy peak plat 2027 **cpu 21068**.
Hence, the mixer component has to be optimized to lower the MCPS cons

[2022-08-10 22:24] jairaj-arava commented on #6120
@sathya-nujella @ranj063 @lgirdwood

[2022-08-10 22:45] aborisovich opened #6121 "[BUG] script xtensa-build-zephyr.py fails on python 3.6"
**Describe the bug**
Running script `./scripts/xtensa-build-zephyr.py tgl` on Python 3.6.X will result in error since `shlex.join`
was introduced in Python 3.8:
![image](https://user-images.githubusercontent.com/12482515/184032537-285922c4-d85e-43a2-af98-d81b74363098.png)

**To Reproduce**
Install Python 3.6.X according to instructions on [Zephyr - Getting Started](https://docs.zephyrproject.org/l

[2022-08-10 22:45] sathya-nujella commented on #6120
We need the Mixer optimizations for one of Chrome DUT with HiFi3 based. Thank you.

[2022-08-10 22:55] aborisovich opened #6122 "[BUG] script xtensa-build-zephyr.py fails on Windows"
Script xtensa-build-zephyr.py fails its execution on Windows system.
It looks like west_root_dir variable value returned by west tool has postfix of "/r" (carriage return) character (where on linux os it is a "\n" (newline character).
![image](https://user-images.githubusercontent.com/12482515/184036982-c39fbd55-2802-47bd-9a2f-89bd9266472a.png)

**To Reproduce**
Execute command `./sof/scripts/xten

[2022-08-10 22:59] nashif commented on #6121
that is the minimum required, you do not need to use it, you should use a more recent version if you can.

[2022-08-11 01:07] keqiaozhang commented on #5850
CI detected this issue on ADLP_RVP_NOCODEC:
http://sof-ci.sh.intel.com/#/result/planresultdetail/14549?model=ADLP_RVP_NOCODEC&testcase=multiple-pause-resume-50
**etrace**
[code]
**dmesg**
[code]

[2022-08-11 01:45] aborisovich commented on #6121
@lgirdwood @marc-hb can we define Python 3.8.x as minimal requirement for SOF project?
Which Python version CI runs (for both Zephyr and non-Zephyr CI)?

[2022-08-11 07:33] kuanhsuncheng opened #6127 "SOF binary blob release"
Hi partners,

This Allen from MediaTek.

I create this issue to ask about SOF binary blob release.

We are going to develop sof with other third party colleagues in mt8186.

If we want to share the SOF binary blob to to them, is it ok we send a PR to linux-firmware.git ?

or could we create a branch in thesofproject/sof-bin?

Please kindly let me know if you have any concern.

Thanks.

[2022-08-11 08:04] keqiaozhang commented on #6117
This issue can still be reproduced after disabling trace in kernel.

[2022-08-11 12:20] lgirdwood commented on #6117
@keqiaozhang ok, thanks so it seems similar to the issue that @kv2019i and @ranj063 looked at in the past where 1 capture stream is enough to block suspend/resume in some situations.

[2022-08-12 01:59] kuanhsuncheng commented on #6127
Hi @dbaluta  @plbossart @lgirdwood @marc-hb,

Please let us know, if there is a better way to do, thanks.

[2022-08-12 07:15] lyakh commented on #6100
probes don't acquire buffers correctly, let me try to cook up a patch

[2022-08-12 07:56] ujfalusi opened #6136 "[BUG] [XTOS/Zephyr] IPC4: any pipeline with MIXIN/MIXOUT module is broken"
**Describe the bug**
Any IPC4 pipeline involving a MIXIN/MIXOUT module does not work, as of now causing a firmware crash with NULL pointer dereference

**To Reproduce**
Boot a machine using cavs-mixin-mixout-hda.tplg (upXtreme-i11 for example)
Try to play audio on analog output:
aplay -i -Dplughw:0,0 <file>

**Reproduction Rate**
100/100

**Expected behavior**
Audio is playing.

**Impact**
Makes a

[2022-08-12 08:01] ujfalusi commented on #6136
FYI @serhiy-katsyuba-intel, @lyakh

[2022-08-12 08:03] ujfalusi commented on #5986
This is now fixed, closing.

[2022-08-12 08:03] #5986 closed

[2022-08-12 08:28] lyakh commented on #6136
#6118 is also an instance of this bug

[2022-08-15 07:26] kv2019i commented on #6100
Discussion about how to fix this: https://github.com/thesofproject/sof/pull/6137#discussion_r945478298

[2022-08-15 07:59] lgirdwood commented on #6121
Ack - I think most distros are running 3.10 now.

[2022-08-15 08:04] lgirdwood commented on #6122
@aborisovich do we need an ```if (WIN32)``` here in the script do use ```\r```?

[2022-08-15 08:50] marc-hb commented on #6115
Compiling sof-logger on Windows was always a long shot. Most of what the sof-logger code does is reading and parsing `/sys/kernel/debug/sof/` which is never going to work on Windows. It can also decode a recorded trace off-line but who's going to capture on Linux and decode on Windows?

I recommend disabling sof-logger compilation in `xtensa-build-zephyr.py` when run on Windows. Should be the fast

[2022-08-15 09:12] marc-hb commented on #6121
tl;dr: 3.8 requirement is fine by me.

Python 3.6 is out of support, should never be used: https://www.python.org/downloads

Zephyr requirements are one thing, SOF requirements are another. Maybe Zephyr wants to be extraordinarily nice and not break backward-compatibility with insecure 3.6 but that does not mean SOF has to be as "nice". Zephyr has obviously many more users than SOF.

3.7 is suppor

[2022-08-15 10:40] lgirdwood commented on #6127
@kuanhsuncheng this is an interesting discussion. There are some complexities around deploying the FW binaries and the topology files and the debug trace files. e.g. trying to keep all in sync when topology will update faster.
There was also a latency in getting code into linux-firmware, but this may be faster now.

Intel decided to use a sof-bin repo to solve the synchronization with topology and

[2022-08-15 12:06] lyakh commented on #6136
should be fixed by #6138

[2022-08-15 12:25] lgirdwood commented on #6115
Intel has engineers who will want to do this, we need to work this out.

[2022-08-15 12:42] kuanhsuncheng commented on #6127
Hi Liam,

Thanks for your reply. That will be great if we can use sof-bin.

@tinghan-shen send a pull request to linux firmware.
https://lore.kernel.org/linux-firmware/bee56d689e67b4bb4d46d14d07e93ab212a6bb6b.camel@mediatek.com/T/#u

We will adjust according to PR upload status in linux firmware.

Thank you for the information about my question.
Allen

[2022-08-15 12:42] #6127 closed

[2022-08-15 15:18] lyakh commented on #6034
@wszypelt can this still be reproduced? But this test isn't in the standard CI, so we don't see it in PR testing?

[2022-08-15 17:05] junocomp opened #6140 "No Mic on ES8336"
Using the latest es8336 topologies and kernel 5.19, the microphone is not detected. Sound/speakers work fine.

[2022-08-15 22:55] aborisovich commented on #6122
Well yeah but in bug resolution I just stripped down all trailing whitespaces.
Basically on linux OS west command `west topdir` returns eg.:
_/home/root/projects/sof_workspace/sof\n_
And on Windows OS west topdir returns eg.:
_C:\workspace\sof_workspace\sof/r_
(note trailing visible whitespaces).
So I just removed them all.

[2022-08-15 22:56] #6122 closed

[2022-08-16 06:11] ujfalusi commented on #6136
With https://github.com/thesofproject/sof/pull/6138 merged, the issue is resolved.
Thanks again @lyakh !

[2022-08-16 06:11] #6136 closed

[2022-08-16 07:58] kv2019i commented on #6066
@plbossart @marc-hb So is there any bug aside arecord crashing on Fedora?

[2022-08-16 08:19] lyakh commented on #6091
Doesn't this look like a #5850 duplicate?

[2022-08-16 11:30] plbossart commented on #6066
it's not really crashing @kv2019i, only returning a status that is understood as a failure. That must be an upstream change IMHO, but I don't really have time to bisect it this week.

[2022-08-16 12:56] aborisovich commented on #6115
@marc-hb can you please fix the issue with logger by ifdefing this missing on MSYS2 header and feature?
Reading debug-fs is not applicable to Windows anyway. It should be all 'ifdefed' somehow as 'linux only'.

[2022-08-16 13:03] lakotamm opened #6145 "[BUG] Incorrect speaker mapping and driver setting on Inspiron 16 Plus 7620"
There are 4 speakers on Inspiron 16 Plus 7620. 2 top firing (high frequency) and 2 bottom firing (lower frequency). By default only the bottom firing speakers are detected by the sof-hda-dsp driver.

According to alsa-info the laptop is using ALC3254 codec and only speakers on pin 0x14 are detected. Using the HDA-Intel driver we managed to find the correct connections for the second pair of speake

[2022-08-16 15:47] kv2019i commented on #6066
Ack @plbossart , let's keep this open. Just wondering whether this is the right tracker for the bug, or is this is a sof-test issue. But got it, we don't really know yet.

[2022-08-16 20:47] lgirdwood commented on #6145
@plbossart @ujfalusi question for you guys.

[2022-08-17 08:18] lyakh commented on #5242
Preventing pipeline parameter negotiation from walking the pipeline backwards to where we came from seems indeed intentional, negotiation it only meant to check other branches on multi-source or multi-sink components.

[2022-08-17 17:30] marc-hb commented on #6115
OK, I'm quite surprised by this considering the earlier comments below. Change of mind?

I'd like to but I'm on sort-of-vacation right now and even when at work I don't have any Windows environment to test this on. Sorry to insist but I think disabling sof-logger compilation in the script is really the fastest, smallest and easy to revert short-term workaround until someone can provide the right `

[2022-08-17 18:00] junocomp opened #6152 "So sound after hibernate"
I have a tablet that can only go on Hibernate (suspend not supported).

Running `kernel 5.19` and have the latest topologies from `es8336` which sound is working.

After returning from hibernate (linux-swap partition) I get no sound at all. The sound card is detected, I can even see it on alsamixer but no sound is coming out. The only way to get sound again is by restarting the device.

[2022-08-17 20:14] marc-hb commented on #5323
v1.2.7 is out, tentative fix in:
- #6153

[2022-08-17 20:18] jairaj-arava opened #6154 "[FEATURE]: Enhancement of SOF mixer to overcome saturation possibility"
Adding multiple PCM streams (pipelines) to the mixer component may result in possibility of Saturation in the output. Hence, need mixer enhancements to overcome this.

[2022-08-17 20:21] jairaj-arava commented on #6154
@sathya-nujella

[2022-08-18 02:11] RanderWang commented on #6095
I can reproduce it with Linux kernel + cSOF + cavs-src-gain-mixin.tplg

[2022-08-18 02:43] aborisovich commented on #6121
Ok then, is anyone willing to update SOF project documentation with this information?
I think it should be placed somewhere in the https://thesofproject.github.io/latest/getting_started/index.html#build-sof .

[2022-08-18 07:20] RanderWang commented on #6095
two issues:
(1) need to revert
[code]
a error happen
     src/audio/src/src.c:709  INFO src_params(), source_rate = 44100, sink_rate = 48000
     src/audio/src/src.c:711  INFO src_params(), sourceb->channels = 2, sinkb->channels = 2, dev->frames = 48
     src/audio/src/src.c:720  INFO src_params(), blk_in = 0, blk_out = 0
....../pipeline-params.c:340  INFO pipe prepare
     src/audio/src/src.c:967

[2022-08-18 08:15] plbossart commented on #6154
This is a decade-old problem that's simply fixed by adjusting the gains on all paths prior to mixing to make sure there's no saturation added. In other words, the problem is solved PRIOR to mixing.

If you want a more elaborate solution, the mixer will have to include a dynamic range control unit which is considerably more expensive in terms of processing power, latency if a look-ahead buffer is a

[2022-08-18 08:49] abonislawski commented on #6115
We are using it from the very beginning on windows with python tests just to parse input file

[2022-08-18 10:54] singalsu commented on #6095
This was with xt-xcc? Can you try if gcc built firmware has this issue?

[2022-08-18 11:32] marc-hb commented on #6115
I didn't know sorry. This should really be in some CI then.

Not sure what you mean by "very beginning" but I remember @aborisovich struggling to compile it with MSYS2 6 months ago, see
- #5299

What "input file" are you referring to? `.ldc` dictionary?

[2022-08-18 12:29] lgirdwood commented on #6152
@junocomp can you attach the dmesg after hibernate and any dmesg logs when attempting playback after hibernate. Thanks

[2022-08-18 12:36] #5323 closed

[2022-08-18 12:39] lgirdwood commented on #6121
@marc-hb could you update sof-docs with Python version and the new alsa-lib version (merged) ?

[2022-08-18 14:34] marc-hb commented on #6121
Python >= 3.8 assert submitted in #6162. Assert is better than documentation: documentation gets out of date and people don't read it (gross exaggeration to get the point across).

For alsa-lib sof-docs has always been recommending to build from git (but many people skip that)

[2022-08-18 14:51] aborisovich commented on #6115
Yes, option sof-logger -d worked
![image](https://user-images.githubusercontent.com/12482515/185425977-e224954a-00cb-4988-967d-30bbd85acf86.png)

[2022-08-18 15:50] lyakh commented on #6091
I found that daily test result Nr. 14447 and I see the xrun messages as quoted in this report, but I don't see IPC timeouts there?

[2022-08-18 15:55] lyakh commented on #6091
ah, I see that @lgirdwood changed the original report title and added an "IPC timeout" there. Interestingly, I don't see an IPC timeout in *that* daily result, but I found a similar xrun in daily result Nr. 14634 on ADLP RVP nocodec XTOS and there I do see an IPC timeout, so that one is more similar to #5850 although the latter one is on a Chrome device and it's the HDA DMA that's hitting an xrun

[2022-08-18 16:42] abonislawski commented on #6115
sof-logger is much older than 5 months, in the past it was working fine with cygwin build, my first tries are from 2018 :) and it was used under windows to parse tgl, cnl and older platforms logs. On MTL we are using sof-logger too (but only as temporary debug solution).

No, input file contains logs, substitute of debugfs trace file in linux. Python tests with diag driver can save dma output as .

[2022-08-18 20:20] marc-hb commented on #6115
OK, that must be why #5299 was called "resurrect" then :)

Thanks for the additional details, `sof-logger` should really be compiled in some Windows CI then, otherwise it will keep bitrotting and breaking regularly.

I will try to `#ifdef linux` the inotify bits in the next few days, it should be easy enough but due to the Windows CI gap I will need someone else to actually test it on Windows (unt

[2022-08-18 20:27] marc-hb commented on #6115
Actually: what `#ifdef "magic"` should be used here? In other words, how does one make the difference between Linux versus Cygwin versus MSYS2? Considering the last two try hard to impersonate Linux on Windows...

[2022-08-19 06:45] abonislawski commented on #6115
Maybe ifdef for this feature which depends on additional build parameter (in xtensa-build-zephyr.py there is check linux vs windows)?
but this is not really an urgency, on our fpga platforms we have old builds from 2021 with cygwin1.dll :) So Im not sure if newest build with msys2 was ever used (maybe never will if this tool will be obsolete soon), there is rarely need to update if it just works.

[2022-08-19 08:01] kfrydryx commented on #6115
@marc-hb  MSYS porting guide might be helpful, fe. there is a list of platform checks https://www.msys2.org/wiki/Porting/

[2022-08-19 08:14] lyakh commented on #5850
A similar failure on the same platform again in daily test Nr. 14634

[2022-08-19 08:45] #6121 closed

[2022-08-19 08:55] lgirdwood commented on #6115
@marc-hb @aborisovich @kfrydryx @abonislawski  Is there a simple path to run basic WSL2 GH actions to prevent Windows failures ? I found https://github.com/features/actions which seems to indicate we can have a Windows container. However, I'm not a Windows user and no idea if this Windows container configuration would be suitable.

[2022-08-19 11:52] lyakh commented on #6091
indeed, I'd say this one is more like #5850

[2022-08-21 12:22] F0xedb commented on #5993
Hi @lgirdwood,

I'm able to replicate the verbs working on the Galaxy Book 2 Pro 360.

Since the original Author is not replying I might be able to assist with getting the minimal verb list to get it working.
What is the best approach to get this minimum set of verbs?

[2022-08-21 14:42] Bsplesk opened #6168 "[BUG] ASUS EXPERTBOOK B7402FEA not work headphones"
**Describe the bug**
When connect the 3.5 jack headphones, the device appears, but there is no sound.

**Environment**
Operating System: Arch Linux
Kernel: Linux 5.19.2-arch1-1
Hardware Model: ASUS EXPERTBOOK B7402FEA_B7402FEA
Firmware Version: B7402FEA.303
extra/sof-firmware 2.2-1

https://alsa-project.org/db/?f=2a4e20e05d8671f43ca3b31463e486e563746da6

[2022-08-22 09:15] lgirdwood commented on #6168
@Bsplesk can you confirm is speakers or display audio work ? If so, it could be that the driver is not sending all the HDA verbs to enable the codec headphone path.

[2022-08-22 09:19] lgirdwood commented on #5993
@F0xedb  I think you have to use this tool to dump the needed verbs https://github.com/Conmanx360/QemuHDADump, once known they can then be upstreamed to the Linux codec driver.
@plbossart @ujfalusi @bardliao please correct me if I'm wrong.

[2022-08-22 14:08] lyakh commented on #5850
A similar failure on the same platform again in daily test Nr. 14634

@keqiaozhang sorry, I'm looking at 13207 and not seeing those IPC timeouts that you pasted here, are you sure it wasn't a different test? In that test I do see a multiple-pipeline-playback TIMEOUT failure on ADLP_GMB_I2S_ZEPHYR, but no IPC timeouts. However, there's also a check-sof-logger failure there with an IPC timeout for D

[2022-08-22 14:43] wszypelt commented on #6034
@lyakh @kfrydryx @lgirdwood
Issue still reproducing, with playback iteration > 1. In CI we test all tests with playback_iteration = 1. Therefore, it does not show this issue. We perform stress tests every two weeks.

[2022-08-23 00:43] #4488 closed

[2022-08-23 02:42] keqiaozhang commented on #6118
This issue is still reproducible on TGLU_UP_HDA_IPC4ZPH.
Please refer to inner test: http://sof-ci.sh.intel.com/#/result/planresultdetail/14754?model=TGLU_UP_HDA_IPC4ZPH&testcase=check-capture-all-formats

[2022-08-23 06:02] keqiaozhang opened #6172 "[BUG][IPC4] Failed to create module copier.SSP.8.1 when testing multiple pipeline"
**Describe the bug**
Observed this issue in our daily test with driver IPC4 + SOF Zephyr IPC4 firmware on ADLP-nocodec platform.
CI test ID:14754
the error message:
[code]
![image](https://user-images.githubusercontent.com/22468760/186083481-3ecdd4c8-1351-42ac-8a0f-ca5cea1f5923.png)

**To Reproduce**
TPLG=/lib/firmware/intel/avs-tplg/cavs-tgl-nocodec.tplg MODEL=ADLP_RVP_NOCODEC_IPC4 ~/sof-test/tes

[2022-08-23 06:11] keqiaozhang opened #6173 "[BUG][IPC4] ipc timed out for 0x12090000| GLB_DELETE_PIPELINE when testing multiple pipeline"
**Describe the bug**
Observed this issue on ADLP-NOCODEC with driver IPC4+ SOF Zephyr IPC4.
CI test ID:14754
error message:
[code]
![image](https://user-images.githubusercontent.com/22468760/186083237-ea2da2f0-dc89-413b-a733-8ccee20eed81.png)

**To Reproduce**
almost 100%

**Reproduction Rate**
TPLG=/lib/firmware/intel/avs-tplg/cavs-tgl-nocodec.tplg MODEL=ADLP_RVP_NOCODEC_IPC4 ~/sof-test/test-case

[2022-08-23 10:35] lyakh commented on #6118
@keqiaozhang correct me if I'm wrong, but the original bug description was for playback, whereas this bug, that you linked here, seems to be for capture? It *can* well be the same kind prob

[2022-08-24 09:37] marc-hb commented on #5212
cc: @andrula-song , @singalsu , @lyakh , @ShriramShastry

[2022-08-24 10:06] lgirdwood commented on #6034
Ok, so the Linux CI will test multiple times, but I dont think it uses the loopback mode above. @fredoh9 can you confirm if we have a similar loopback test in the Jenkins CI ?

[2022-08-24 10:08] lgirdwood commented on #6173
IPC timeouts are P1. @juimonen are you able to get any mtrace out to help with this ?

[2022-08-24 10:40] juimonen commented on #6173
@lgirdwood so upxtreme has currently only 1 ssp, so cant test multipipeline case in that. Need to find some device to work with.

[2022-08-25 02:06] keqiaozhang opened #6185 "[BUG][ADL] ipc tx timed out for 0x60050000| TRIG_STOP when testing multiple pipeline on ADLP-NOCODEC"
**Describe the bug**
Observed this issue in our CI daily test.  There's a ipc tx timed out for 0x60050000| TRIG_STOP when testing `multiple-pipeline-playback-50.sh`. There's a dai xrun error in etrace.

**dmesg**
[code]
**etrace**
[code]
**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-adl-nocodec.tplg MODEL=ADLP_RVP_NOCODEC ~/sof-test/test-case/multiple-pipeline.sh -f p -l 50

**Reproductio

[2022-08-25 08:35] mengdonglin commented on #6185
Closing as this issue is observed with XTOS building. Will focus on Zephyr building on main branch for TGL/ADL platforms.

[2022-08-25 08:47] plbossart commented on #6185
we have to fix this, otherwise changes for PR #https://github.com/thesofproject/sof/pull/6131 will not work either.

[2022-08-25 12:04] lyakh commented on #6091
Having studied 5 daily and 1 PR test failures with IPC timeouts I came to the conclusion, that we are looking at 2 failure types:
[code]
I tried to reproduce the problem with the multiple-pause-resume test on an UP-Xtreme TGL board with both topologies (nocodec was modified to only include SSP0) - no success so far.

[2022-08-25 22:44] marc-hb commented on #6115
Fix submitted in #6191. Someone should try to compile #6191 with MSYS. I went for the `HAS_INOTIFY` route which easily let me lie and pretend I didn't have it so I'm pretty confident it should work on MSYS.

[2022-08-26 02:21] keqiaozhang opened #6192 "[BUG][IPC4] IPC4 firmware build on main branch is broken"
**Describe the bug**
The IPC4+Zephyr firmware build is broken on main branch.
This is a regression and caused by:
https://github.com/thesofproject/sof/commit/a0b832686cfdacb5b2d61f7002aa41b210d215db

**build errors**
[code]

[2022-08-26 03:21] miRoox opened #6193 "[BUG] IPC error for 0x80010000 (CONFIG) when testing multiple pipelines on TGLU_RVP_NOCODEC"
**Describe the bug**
CI observes an IPC error for 0x80010000 (CONFIG) when testing multiple pipelines on TGLU_RVP_NOCODEC.
Resilt ID: 14867?model=TGLU_RVP_NOCODEC&testcase=multiple-pipeline-all-50

**To Reproduce**
[code]

**Reproduction Rate**
Around 1/10

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: https:/

[2022-08-26 07:16] keqiaozhang commented on #5398
I can reproduce this issue on my TGL UP Xtreme i11 board with `sof-hda-generic-4ch-kwd.tplg`.

This issue only happens with loopback mode. In other words, it happens when running sof playback and kwd capture at same time.
If I use a USB sound card as input to trigger KWD, this error will not happen.

I did the bisection and found that this is a regression and caused by `c04b7fc13eb64ff70795ac16dab

[2022-08-26 08:29] plbossart commented on #6091
@lyakh I find the table above confusing, if you have a timeout on DMIC, isn't that using the DW DMA? how can we have xruns on the HDA DMA here?

[2022-08-26 09:22] juimonen commented on #6192
fix here: https://github.com/thesofproject/sof/pull/6195

[2022-08-26 10:24] lyakh commented on #6091
@plbossart I meant, that there are no xruns on DW DMA in those cases. HDA DMA xruns - no idea if they're related, e.g.
[code]
see https://sof-ci.01.org/linuxpr/PR3796/build485/devicetest/?model=ADLP_RVP_SDW_ZEPHYR&testcase=multiple-pause-resume-5

[2022-08-26 10:36] lgirdwood commented on #5398
@lyakh fyi - another stop/pause issue.

[2022-08-26 10:47] kv2019i opened #6196 "[FEATURE][Zephyr] IPC should be sent at OS panic"
**Is your feature request related to a problem? Please describe.**
In XTOS builds, the OS panic handler calls platform_panic(), which on all SOF platforms sends an IPC which is picked up by the Linux SOF driver, which again does a DSP panic dump to kernel log. This functionality is missing from Zephyr builds and no DSP panic dump is printed by the Linux driver.

[2022-08-26 10:50] #6118 closed

[2022-08-26 10:50] lgirdwood commented on #6196
This should also invoke the GDB stub at some point in RO and polling mode

[2022-08-26 10:55] lyakh commented on #5398
interesting, that it's caused by my above commit, but the log has "ERROR failed to alloc 0x41900 bytes zone 0x3 caps 0x8 flags 0x0" in it

[2022-08-26 10:59] lyakh commented on #5398
@keqiaozhang how do you reproduce it? Which test do you run? If you have a panic message - can you see where it panics?

[2022-08-26 11:10] lgirdwood commented on #6192
Merged and closing.

[2022-08-26 11:10] #6192 closed

[2022-08-26 11:19] lgirdwood commented on #5398
@keqiaozhang are you also able to get FW dump/trace/dmesg when panic() occurs ?

[2022-08-26 11:26] keqiaozhang commented on #5398
Here are the steps:
1. loop the headset output to DMIC injector input.
2. run aplay on headset: `aplay -Dhw:0,0 -f dat -c 2 test.wav `
3. open another terminal and run kwd: `arecord -Dhw:0,7 -M -N -r 16000 -c 2 -f S16_LE --buffer-size=96000 -d 10 /tmp/wov_S16_record.wav -vvv`
4. run step 3 again, the DSP panic happens at the second run.

**dmesg**
[code]
**trace**
[code]

[dmesg-kwd.txt](https://g

[2022-08-26 14:24] plbossart commented on #6091
@lyakh The HDAudio host DMA would be used, there's really no notion of xrun at that level. There's a very large DDR buffer as destination.The xruns only make sense at the link level, no?

[2022-08-26 15:13] lyakh commented on #5398
#6197 fixes at least the variant, that @keqiaozhang managed to reproduce - many thanks for bisecting!

[2022-08-27 23:22] Friptick commented on #4662
This fixed the screaming issue on my Asus Cherrytrail device after an upgrade from Ubuntu 20LTS to 22LTS. Thanks @plbossart for the tip and for your work.

Couple of quick dumb questions:
- since when did enabling debugging fix a bug?!
- am I right to be disturbed that upgrading a supposedly stable LTS release of Ubuntu introduced a pretty bad hardware-related bug?

[2022-08-28 16:22] Kito-san commented on #5993
This issue seems to affect other Galaxy Book Models too

[2022-08-29 01:14] keqiaozhang commented on #6185
Observed this issue again in CI stress test: http://sof-ci.sh.intel.com/#/result/planresultdetail/14917?model=ADLP_RVP_NOCODEC&testcase=multiple-pipeline-playback-200