[2021-06-10 16:24] plbossart commented on #2320
Where do we stand on this, the last update was in August 2020? @jdrzaszcz @zrombel @slawblauciak @lgirdwood

[2021-06-10 16:51] marc-hb commented on #3344
The DMA can sometimes stop in the middle of a log statement which can explain this.

I made a number of logger fixes recently, so I recommend closing and re-opening with more details if this is seen again. Commits 96f6a7b385bd, 1a79de1c1669, d54a9281f884, 1a79de1c1669 should provide better error messages. See also 73378e269f78.

More changes:
https://github.com/thesofproject/sof/commits/73df64444b

[2021-06-10 16:56] marc-hb commented on #3344
I have added a sequence number in my workspace and it shows that two consecutive log statements are sometimes swapped.

[2021-06-10 17:38] plbossart commented on #3344
ok let's close and file a new issue if applicable. Thanks @marc-hb

[2021-06-10 17:38] #3344 closed

[2021-06-10 17:58] kv2019i commented on #3395
I believe yes, we are hiding this with the multiple DSP boot retries. The boot-from-IMR code @keyonjie might actually help to this.
That's another question whether we want to keep a bug open.

[2021-06-10 18:13] marc-hb commented on #3522
OK so I did the simple thing what everyone in either development or validation should always do to "test the test" but apparently never ever does because we love our green failures: I simply reverted the fix dcbee3cdf3dc (minor conflict, easily solved) and ran the test again on my UP2. It fails on PCM7 like this:

[code]

Is this close enough to the original issue which I didn't try to understand?

[2021-06-10 19:31] plbossart commented on #3522
we see this sort of logs all the time with pause_push/release and suspend/resume while playing back. I don't think this is problematic.

Let's close this, thanks for the feedback @marc-hb

[2021-06-10 19:31] #3522 closed

[2021-06-10 20:01] marc-hb commented on #3395
I think we could easily test this with a small, `[DO NOT UPSTREAM]` kernel patch that prints an error after the 1st or 2nd boot retry.

[2021-06-10 21:42] fxthomas commented on #3868
In a way that's good news, this means it'll be somewhat easier to reproduce!

These are just idle hypotheses, and I'm probably wrong, but could it be that either:

* some part of the code/firmware is causing the issue by sometimes writing a bit too far outside of their allowed range, which becomes less likely when `sof_debug` reserves some additional memory regions, or
* the issue is a race that's

[2021-06-11 01:41] aiChaoSONG commented on #3681
@plbossart let's close this, fixed already

[2021-06-11 01:41] #3681 closed

[2021-06-11 01:56] keqiaozhang commented on #2007
@plbossart , yes. this bug is is invalid for CML, close it.

[2021-06-11 01:56] #2007 closed

[2021-06-11 02:01] aiChaoSONG commented on #3340
fixed by https://github.com/thesofproject/sof/commit/e4fa878, close

[2021-06-11 02:01] #3340 closed

[2021-06-11 03:02] keyonjie commented on #3966
@cujomalainey please help to close it if it doesn't reproduce with tgl-013-drop-stable.

[2021-06-11 03:13] keyonjie commented on #3590
this should already be closed by https://github.com/thesofproject/sof/commit/60dfaa7ee30189c4e23fd392ae5f8f9b7bb21113

@jdrzaszcz @kkarask can you double check if we can close this?

[2021-06-11 03:15] keyonjie commented on #3520
@singalsu @lyakh looks we have to close this as wont_fix, no advance effort is planned to work on it.

[2021-06-11 03:30] cujomalainey commented on #3966
In my testing so far this has been good, i think its safe to close unless we see it pop up again, but i think it might be worth adding single core components into the testing pipeline to detect this in CI in the future

[2021-06-11 03:30] #3966 closed

[2021-06-11 03:50] XiaoyunWu6666 opened #4333 "[BUG]Empty or stuck DMA trace - Initial FW ABI banner message not found in logger.data.txt"
@marc-hb EDIT: after making testing more deterministic in https://github.com/thesofproject/sof-test/pull/710, now reproduced 100% on BDW and BYT, see any recent test results like for instance this one: https://sof-ci.01.org/softestpr/PR720/build763/devicetest/?model=BYT_MB_NOCODEC&testcase=check-sof-logger

**Describe the bug**
inner daily 4532  ; model=TGLU_RVP_HDA (and many others, see below); t

[2021-06-11 05:05] keyonjie commented on #3966
Thanks @cujomalainey , yes component level multi-core will be next declared support, maybe delivered with Zephyr together.

[2021-06-11 06:43] kkarask commented on #4104
@keyonjie yes, #4263 fixed the original issue.

[2021-06-11 07:16] lyakh commented on #3520
do we have a list of "known won't-fix issues" to be tracked in case they do get fixed by accident or they have to be re-opened and we can benefit from earlier discussions?

[2021-06-11 07:16] keyonjie commented on #4104
Thanks, then let's close this once #4263 merged and file a new one for the glitches issue.

[2021-06-11 07:37] keyonjie commented on #3520
yes, we have a label for that, just add it to this issue

[2021-06-11 09:22] lgirdwood commented on #2908
@andyross @nashif fyi
@mwasko @slawblauciak whats the impact here, and can we close if fixed.

[2021-06-11 09:30] singalsu commented on #1971
I changed this into enhancement it's really minor issue.

[2021-06-11 10:42] lgirdwood commented on #4333
@XiaoyunWu6666 I assume you are using latest logger (built using same commit ID as FW) ?
@marc-hb assigning, but please re-assign if it turns out not to be a logger update issue.

[2021-06-11 10:47] lgirdwood commented on #4266
@singalsu any update, can we close ?

[2021-06-11 10:50] kv2019i commented on #4250
Fixes merged, closing.

[2021-06-11 10:50] #4250 closed

[2021-06-11 10:51] #3308 closed

[2021-06-11 10:54] lgirdwood commented on #2320
@mwasko fyi - we seem to have a lot of old issues that can be closed once confirmed fixed. @slawblauciak can we go over and close all old issue at next scrub ?

[2021-06-11 13:20] lgirdwood commented on #3868
@fxthomas I suspect its a DMA issue, we need to do this DMA channel mapping (we have first come first served today on CHT).
[code]

[2021-06-11 14:01] lyakh opened #4339 "[BUG] LL-scheduler disables interrupts when running all tasks"
**Describe the bug**
`schedule_ll_tasks_run()` is the LL-scheduler function, that runs all LL tasks and updates the scheduler state. It disables local interrupts for the entire duration of the function, i.e. all tasks are running with interrupts disabled.

**Expected behavior**
LL tasks should be interruptible.

[2021-06-11 16:38] lgirdwood commented on #2883
Yes, I think it's fixed. Closing.

[2021-06-11 16:38] #2883 closed

[2021-06-11 16:42] lgirdwood commented on #3937
Restrict the DAI - it seems SSP likes 16 bit best.

[2021-06-11 16:45] plbossart commented on #3937
we enabled the SSP with 24bits in the past, only 16bit was used to talk to the modem on SSP0.
I'll try to cook-up a patch to change this to 16bits, we are in work-around mode here.

[2021-06-11 18:08] fredoh9 commented on #3395
`[DO NOT UPSTREAM]` patch is up to maintainers, but I don't think there is no point to keep this issue open as we are hiding this issue already and set P3 for this. I will close this if no one has objection in 24 hours.

[2021-06-11 18:31] cujomalainey opened #4342 "[BUG] Comp data handler mishandled by multiple components on error in create step"
A simple grep of the repo returns

[code]

Note Google hotword has two free calls, this is because all other components do not free the handler in the event they fail in the create step (unless the handler is the last step [unchecked, but i know this isn't true for all components, e.g. igo, drc, etc]). Some components don't even check to see if handler was allocated successfully (smart amp test).

[2021-06-11 18:31] cujomalainey commented on #4342
Please leave this issue as I have a possible assignee who will be helping with the project.

[2021-06-11 23:25] marc-hb commented on #4333
I just rewrote that test in https://github.com/thesofproject/sof-test/pull/666, before that it was not checking anything. So it is not obvious whether the lack of DMA trace is a recent regression (for instance caused  by recent #4327), or it has always been a problem and we never noticed (green failure...)

[2021-06-12 03:59] marc-hb commented on #4333
I logged into the storage server to explore the generic_test results and I found that the DMA trace on TGLU_RVP_HDA has been empty 20% of the time; 50 times out of 250 runs. So this is NOT a recent regression and there is no reason to revert the #4327 fixes.

There is a reason why thesofproject/sof-test#666 was called "rewrite check-sof-logger so it can actually find (existing) bugs". Don't shoot

[2021-06-14 03:56] #3395 closed

[2021-06-14 08:18] #3730 closed

[2021-06-14 10:37] singalsu commented on #4266
@lgirdwood  Yes this issue still happens.

[2021-06-14 11:02] kkarask commented on #4330
@lgirdwood yes, it works with FIFO A. I run stress tests and reproduction rate is 5/200.

[2021-06-14 12:56] kkarask commented on #3590
@keyonjie I double check and problem still exists. It occurs with different Frame formats all with high reproduction rate ~80%. It happens together with glitches in wav file.

[2021-06-14 18:59] lgirdwood commented on #4330
@singalsu any difference here between A (working) and B (glitch 5/200) ?

[2021-06-15 07:26] mengdonglin commented on #4328
@fredoh9 Can you reproduce this issue?

[2021-06-15 08:00] singalsu commented on #4330
@lgirdwood The A and B paths in HW are identical except DMA configuration.

@kkarask If the configuration of A and B is swapped in topology, does the issue swap too?

[2021-06-15 08:13] kkarask opened #4353 "[BUG] [v1.8] glitch in test 02_19_TestPipelineCreateDelete16000Hz32b32b8ch"
**Describe the bug**
Glitch was found near the start of the capture in test 02_19_TestPipelineCreateDelete16000Hz32b32b8ch

**Topology**
[code]

**To Reproduce**
Run test 02_19_TestPipelineCreateDelete16000Hz32b32b8ch with Diagnostic driver
with parameters:
--playback_iterations=75

**Reproduction Rate**
1/75

**Environment**
1) Firmware branch name and commit
    * Branch: main, Hash: 9e7a8f921ef

[2021-06-15 08:18] keyonjie commented on #3520
closing this as wont_fix.

[2021-06-15 08:18] #3520 closed

[2021-06-15 08:54] lgirdwood commented on #4353
@kkarask when we do see glitches with slim driver, are they spread evenly through the file or always near the start of the test. i.e. above I can see the glitches near the start of the capture.

[2021-06-15 09:04] mengdonglin commented on #4066
Comments by @RanderWang : this issue is caused by https://github.com/thesofproject/linux/commit/3a27875e91fb9c29de436199d20b33f9413aea77.

[2021-06-15 09:11] keqiaozhang opened #4354 "[BUG][TGL] tplg load failed on TGL chrome SDW device"
**Describe the bug**
TPLG failed to load widget GHD13.0. This is a regression and happened from last Friday. Daily Test ID:4568
This issue is caused by https://github.com/thesofproject/sof/commit/6dd44d5b4c4b380ce415ec1ad2b3ff9118ceea9f
Google hotword library is added in sof-tgl-sdw-max98373-rt5682.m4.

**To Reproduce**
check the demsg after boot

**Reproduction Rate**
100%

**Expected behavior**

[2021-06-15 09:44] keqiaozhang commented on #4354
@plbossart, can we create a new tplg(passthrough mode, like sof-tgl-sdw-max98373-rt5682-ci.m4  in tools/topology/development folder) for CI test?

[2021-06-15 11:25] lgirdwood commented on #4354
@keqiaozhang I think we are out of heap. Are you building the Google hotword in to the FW or is it disabled in Kconfig ?

[2021-06-15 11:48] lgirdwood commented on #4066
@RanderWang @keqiaozhang does this cause a delay between sending IPC messages ? Can someone confirm ?

[2021-06-15 12:34] kkarask commented on #4330
@singalsu In that test we have configured only FIFO B and there are glitches.
We have another test where only FIFO A is configured and it works well.
We have also a test where FIFO A and FIFO B are configured and the problem doesn't exist.

[2021-06-15 12:40] singalsu commented on #4330
I was thinking a case where FIFO A is configured to 16 kHz, does the FIFO A make then glitches?

[2021-06-15 13:26] plbossart commented on #4354
@keqiaozhang @RanderWang is this related to SoundWire topologies moving to dynamic pipelines?

[2021-06-15 13:50] keqiaozhang commented on #4354
We didn't build google hotword into FW, but the tplg is changed to build with google hotword as default.  that's the gap and causes the tplg load fails on Volteer.

[2021-06-15 13:57] plbossart commented on #4354
@keqiaozhang @lgirdwood @bzhg I am afraid the commit 6dd44d5b4c4b380ce415ec1ad2b3ff9118ceea9f needs to be reverted. This changed the default to topology to use a 3rd party library that is not present in the firmware that we test in the Intel/public CI.

You need to put the Google-specific topologies in a separate folder and not touch public ones.

[2021-06-15 16:26] fredoh9 commented on #4328
I'm NOT able to reproduce this issue with my current build.

- "kernelBranch" : "topic/sof-dev",
- "kernelCommit" : "57440285",
- "sofBranch" : "main",
- "sofCommit" : "73df64444b75"

I will sync to both tip and try again.

[2021-06-15 16:36] marc-hb commented on #4333
While working on some Zephyr issues I discovered that `ipc_send_queued_msg()` is run like this:
[code]
This seems strange to me: could this cause some IPCs to be delayed for a very long time? I'm not considering Zephyr in this bug.

Cc: @lgirdwood , @lyakh , @kv2019i , @keyonjie , @plbossart

[2021-06-15 17:06] fredoh9 commented on #4328
I'm NOT reproduce this issue with latest tip also.
- "kernelBranch" : "topic/sof-dev",
- "kernelCommit" : "47c75a5b",
- "sofBranch" : "main",
- "sofCommit" : "a68b1af80d1a"

But what a coincident, I had same issue with my TGL Voxel, and I was looking at the issue yesterday.
Is this something to do with SMART_AMP?
[code]
[slogger_error.txt](https://github.com/thesofproject/sof/files/6657418/slogger

[2021-06-15 17:15] fredoh9 commented on #4328
From the internal test 4496, two arecord(hw:0,0, hw:0,1) was running before hit the problem. Nothing to do with SMART_AMP though. Let me try with the same pipes in manual.
[code]

![sof-tgl-nocodec-ci](https://user-images.githubusercontent.com/45636982/122095506-52b6e700-cdc2-11eb-8389-6382f12c9825.png)

[2021-06-15 21:17] marc-hb commented on #1575
@lyakh do you still care about this?

[2021-06-15 21:41] marc-hb opened #4356 "ipc_send_queued_msg() has a hard dependency on the EDF scheduler"
I found this IPC scheduling and dependency issue while troubleshooting DMA traces on Zephyr but I suspect it has consequences even without Zephyr. In fact I wonder whether it could maybe explain the very long standing #4333 "lag" in DMA traces  too.

In Zephyr the problem is simple (once you know it!): no (legacy) EDF scheduler -> `task_main_primary_core` does not run -> no IPC TX flush -> no DMA

[2021-06-15 21:45] marc-hb commented on #4356
Thanks @kv2019i and @lyakh for trying to solve this issue offline, can you please share the "best bits" here?

cc: @lgirdwood , @andyross , @plbossart and @nashif

[2021-06-15 22:16] cujomalainey commented on #4354
Whoops yep apologies, that was my fault, its only a partial revert of the config lines e.g. https://github.com/thesofproject/sof/commit/6dd44d5b4c4b380ce415ec1ad2b3ff9118ceea9f#diff-5493c06560e041c10cd41f29644f38cda164adb107dafa05b9c74dc45dda08afR91

[2021-06-16 06:31] lyakh commented on #1575
I still have two Sue Creek boards! :-D But frankly - their support has never been completed, it's just sitting there bit-rotting by the minute. So I'd be grateful to anyone submitting a clean PR to completely but **cleanly** wipe out Sue Creek support from SOF.

[2021-06-16 07:07] keyonjie commented on #4104
1.8 is already froze, postpone this to 1.9

[2021-06-16 09:36] keyonjie commented on #3953
The issue happen again from yesterday, looks regression, reopen it.

[2021-06-16 09:57] keyonjie commented on #4330
@lgirdwood we have run out the 1.8 time, so this have to be pushed out to 1.9.

[2021-06-16 09:58] keyonjie commented on #4353
@lgirdwood push out to 1.9?

[2021-06-16 12:07] lgirdwood commented on #4333
@marc-hb the LL scheduler on SOF will tick so this is not an issue, however we run Zephyr in tickless mode so all IPC work should be done in IPC threads.

1) IPC command from host - we wake our IPC command thread and do the command from host. This is preemptable.
2) IPC notifications to host - we wake our IPC notification thread and sent the message to host. This is preemptable.

e.g something lik

[2021-06-16 15:25] plbossart commented on #3953
This doesn't seem the right bug, the TGL_NOCODEC issue is related to an IPC error, not an xrun.

[2021-06-17 07:59] XiaoyunWu6666 commented on #3170
buffer warning 'no bytes to produce' and ' no bytes to consume' don't appear these days .
but we can still get ' WARN dai_copy(): nothing to copy' from dai

[2021-06-17 09:54] kv2019i commented on #4356
@marc-hb I think we should use the Zephyr ktimer API (like used in the ll-scheduler in zephyr_domain.c) to create a repeating task to flush out the IPC send queue. This could be registered from IPC code if needed (DMA traces or position updates requested).

[2021-06-17 11:18] lgirdwood commented on #4356
@marc-hb lets do as @kv2019i says, we either DMA copy the buffer to host on
1) Buffer free space < some limit - we can then wake the DMA thread
2) Periodic empty - lets say every second we wake the DMA thread.

We have the logic to determine if conditions 1 or 2 are true today, but do not have the thread today.

The thread should be similar to
[code]
To really simplify the logic for 2 (and reusing

[2021-06-17 11:19] kkarask commented on #4330
@singalsu In case where FIFO A is configured as 16 kHz problem doesn't occur.

[2021-06-17 11:36] lyakh commented on #4356
@kv2019i `k_timer` directly? That runs in the interrupt context...

[2021-06-17 11:40] kv2019i commented on #4356
@lyakh a similar k_thread_create woken up by the timer IRQ as in zephyr_domain.

[2021-06-17 11:43] kv2019i commented on #4356
And a plain k_thread which sleeps, flushes IPCs and sleeps again, would do as well.

[2021-06-17 11:55] lgirdwood commented on #4356
@lyakh can you link your existing kthread code as an example for @marc-hb

[2021-06-17 12:43] kv2019i commented on #4306
I'll take this to myself. With PR4306 the test works on many systems, but with the TGL RVP configuration it still fails due to too high DSP load. I'm working on moving application buffers back to cached address range, which will solve this issue, but let's keep the bug open until then.

[2021-06-17 17:39] marc-hb commented on #4356
I think the `trace_work()` DMA thread already does that and it even runs in Zephyr already. However it merely adds the `posn` update IPC to a (shared?) IPC queue and it's only that IPC queue that does not get flushed (yet) in Zephyr.

[2021-06-17 22:06] plbossart opened #4369 "[BUG] misleading SSP timeout log"
**Describe the bug**

In pretty much all traces of devices using the SSP, we see this log

[code]

This doesn't seem to be meaningful, the results are ok even with this 'ERROR', and it's a WARN at the SSP level.

This needs to be either fixed or demoted to a reasonable log value.

[2021-06-17 22:48] plbossart opened #4370 "[BUG] build fail on APL with CONFIG_CORE_COUNT=1"
**Describe the bug**

Multi-core is currently disabled on APL. It would be REALLY NICE to remove this restriction.

Sadly, even with SRC removed the code just doesn't fit.

[code]

**To Reproduce**
change apollolake_defconfig and try to build

**Reproduction Rate**
100%

**Expected behavior**
ability to compile in multi-core mode with some components removed.

**Impact**
Super-annoying for tests

[2021-06-17 22:51] plbossart commented on #4354
This seems to be fixed @keqiaozhang, can you please double-check and close?

[2021-06-18 02:39] XiaoyunWu6666 commented on #3953
'Strangely' it disappeared in inner daily 4705

The only failed case for TGLU_RVP_NOCODEC is multiple-pause-resume-25.sh , which cannot be manually reproduced manually , however.

Is any commit that was merged yesterday suspicious ?

[2021-06-18 03:35] XiaoyunWu6666 commented on #4328
@fredoh9  FYI , not sure whether they are relevant or not.

in inner daily ADL [4706 model=ADLP_RVP_NOCODEC  testcase=multiple-pause-resume-25 ], xrun happens and causes pause push error: connection timed out
[dmesg log]
[code]
[sof-logger]
[code]

[2021-06-18 05:20] XiaoyunWu6666 opened #4372 "[BUG]xrun and ipc timeout in multiple-pause-resume on ADLP_RVP_NOCODEC"
**Describe the bug**
xrun happens and ipc timed out when PCM_PARAMS
in inner daily ADL 4679

**To Reproduce**
TPLG=sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25

**Reproduction Rate**
almost 100% with inner daily ADL 4679 recipe

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 56ab165b
SOF Branch: main
SOF Commit:fdcf636530f5
 Topology:sof-tgl-nocodec-ci.t

[2021-06-18 08:44] marc-hb commented on #4333
Some interesting experiments and results in https://github.com/thesofproject/sof-test/pull/710

- Reloading the drivers (which reboots the DSP) seems to reproduce 100% on BDW and BYT
- As has been empirically observed by many people for a very long time, the DMA trace is not empty or lost, it's only stuck. A simple "nudge (log level change, aplay,... ) gets it finally out.

[2021-06-18 11:49] lgirdwood commented on #4369
@keyonjie Lets make the wait a WARN

[2021-06-18 13:25] plbossart opened #4376 "[BUG] IPC error + DSP Panic with multi-core+dynamic pipelines CNL_NOCODEC tests"
**Describe the bug**

With the simple following unit test, the DSP crashes

[code]
[dmesg.log](https://github.com/thesofproject/sof/files/6677246/dmesg.log)

[code]

[code]
**To Reproduce**
run the test!

**Reproduction Rate**
100% but after 2 iterations of capture. This points to an allocation/release problem

**Expected behavior**
No IPC error and DSP crash

**Impact**
show-stopper

**Environmen

[2021-06-18 13:33] plbossart commented on #4376
Disabling multi-core either by reverting 97bfb24d701c254279e407f3388b02fa77045a68 or using https://github.com/thesofproject/linux/pull/3003 with options snd_sof sof_debug=0x20 in /etc/modprobe.d/alsa-base.conf

Clearly a multicore issue.

[2021-06-18 13:46] plbossart commented on #4376
@ranj063 I am afraid this one in for you...

[2021-06-20 10:02] carlos-ferreira commented on #3868
Just wanted to confirm that i experienced the same issue on my HP Detachable x2 p000np on Arch Linux Kernel 5.12.11-arch1-1.
I can also confirm that adding options snd_sof sof_debug=1 to /etc/modprobe.d/sof-debug.conf solves the issue for me.

[2021-06-21 05:43] ranj063 opened #4380 "[BUG] Disabling a secondary core and re-enabling it results in IDC timeout"
**Describe the bug**
Disabling a secondary core and then re-enabling it without a D3 cycle always results in an IDC timeout

**To Reproduce**
1. Schedule a pipeline on core 1 in topology with dynamic pipelines
2. Start aplay/arecord on that pipeline
3. Stop aplay/arecord
4. start aplay/arecord for the second time before the DSP enters D3

**Reproduction Rate**
100%

**Expected behavior**
No IDC ti

[2021-06-21 05:44] ranj063 commented on #4380
@lgirdwood @keyonjie here're the logs for the issue that I'm seeing with enabling/disabling secondary cores without a D3 cycle.

[2021-06-21 14:37] plbossart commented on #4380
@ranj063 is this limited to APL..CNL or does this also carry over to TGL? The flows for core power management are different so wondering if this can happen for TGL as well.

[2021-06-21 14:38] ranj063 commented on #4380
BTW the logs "ERROR powering down secondary core 1" and "ERROR powering up secondary core 1" are simply logs. there're no errors while powering up/down

[2021-06-21 14:42] lgirdwood commented on #4380
Smells like cache. I bet we are not writing back global context on core N power down and invalidating it on core N power on. This probably doesn't show during regular boot sine all topology is loaded before any streams.

[2021-06-21 14:48] ranj063 commented on #4380
I dont know if this can happen on TGL as well. I'd say most likely yes but need to confirm.

[2021-06-21 14:50] plbossart commented on #4380
@ranj063 I would think to some extent it should be 'easier' to handle on TGL, all the power is controlled by firmware.

for TGL-,  I am not sure if the firmware knows that a coreN (N>0) was powered off. Is there a mandatory sequence to send a 'prepare for power-down' IPC before turning the coreN off?

[2021-06-21 23:32] yongzhi1 opened #4382 "[BUG] [TGL Chrome] Sporadic playback failure on speaker, headset and HDMI"
**Describe the bug**
All the boards ran for 1 hour without any issue for YouTube streaming, but if we pause and play few times, then there is no sound coming.

**To Reproduce**
Play youtube for few seconds, pause for few seconds to 5 mins, then resume playback and observe no sound.

**Reproduction Rate**
100% (The issue can happen on speaker, headset and HDMI with equal rate.)

**Expected behavior

[2021-06-21 23:33] yongzhi1 commented on #4382
cc @RDharageswari @ranj063

[2021-06-22 02:30] XiaoyunWu6666 opened #4383 "[BUG][ADL]dai_config error when aplaying HDMI1 on ADL"
**Describe the bug**
When running aplay on HDMI1 , dai_config error occured

**To Reproduce**
on ADLP_RVP_SDW, run aplay   -Dhw:0,5 -r 48000 -c 2 -f S16_LE -d 10 /dev/zero -v -q
on ADLP_RVP_HDA , run  aplay   -Dhw:0,3 -r 48000 -c 2 -f S16_LE -d 10 /dev/zero -v -q

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: b1c762a1
SOF Branch: main
SOF Commit: 86c9a037e

[2021-06-22 02:35] plbossart commented on #4354
No answer and no issue in last daily tests, closing.

[2021-06-22 02:35] #4354 closed

[2021-06-22 04:24] marc-hb commented on #4376
@fredoh9 ,  @XiaoyunWu6666  is `check-capture.sh -d 1 -l 1 -r 3` not part of any test plan!? @plbossart is this an unusual combination of parameters and is it required? Did you say `-r 2` or more above?

I wonder what is the difference between:
[code]

[2021-06-22 06:38] keyonjie commented on #4382
Hi @yongzhi1 can you attach sof-logger logs also?

[2021-06-22 07:57] keyonjie commented on #4372
This happens on TGL also, according to today's daily 4778

[2021-06-22 07:58] keyonjie commented on #4372
It works with 1.8, looks like a regression.

[2021-06-22 11:10] lgirdwood commented on #4382
@yongzhi1 can you also confirm if the DSM is in the output path here. I know we have the same pause test in CI but it may not be holding for 5 secs and it wont be using DSM.

[2021-06-22 12:54] yongzhi1 commented on #4382
Sure, the dmesg.txt was provided by validation, here are the logs I captured:

[dmesg-003.txt](https://github.com/thesofproject/sof/files/6694334/dmesg-003.txt)
[dsp-log-003.txt](https://github.com/thesofproject/sof/files/6694335/dsp-log-003.txt)

[2021-06-22 12:59] yongzhi1 commented on #4382
Yes, but the same issue can be reproduced on headset and HDMI as well:
[dmesg-hdmi.txt](https://github.com/thesofproject/sof/files/6694355/dmesg-hdmi.txt)

[2021-06-22 13:15] kkarask commented on #4050
Problem with multi core was found also in test 17_07_TestMultiCoreSrcCap48000Hz32b32b8ch in capture pipeline where src component is on core 1:

[code]

Reproduction rate: 3/75

Branch: main, Hash: d5d2b41c63ab0715c5f122ac1cfcdbaed8df40b1

![image](https://user-images.githubusercontent.com/82518823/122930248-1a884900-d36c-11eb-9dcb-92b7d22d1fbb.png)

[ICL_17_07_TestMultiCoreSrcCap48000Hz32b32b8ch.z

[2021-06-22 14:36] #4066 closed

[2021-06-22 14:43] plbossart commented on #4376
@marc-hb I just extracted the command line from the run-all-tests.sh log. literal copy/paste.

[2021-06-22 17:38] fredoh9 commented on #4376
This is part of PR test and Daily test. And part of run-test-all.sh

You mean the difference betwewn -r (round), -l (loop)?
'Round' is going through all the pipeline and repeat, i.e PIPE1 -> PIPE2 -> PIPE3 and repeat(we called this round :) )
'Loop' is repeating with single pipe, i.e looping PIPE1 -> looping PIPE2 -> looping PIPE3

[2021-06-22 19:54] marc-hb commented on #4376
@fredoh9 just explained me why we didn't catch this: it's not that we don't run with these parameters, it's about that specific hardware and/or topology configuration

[2021-06-22 20:14] plbossart commented on #4376
@fredoh9 @marc-hb @ranj063 I added a flag to force dynamic pipelines to be used, it'd be interesting to start running daily tests with this kernel parameter set. If we don't start forcing this validation we'll be relatively blind...

[2021-06-23 01:05] cujomalainey opened #4388 "[BUG] Logger output sometimes combines .c filename with .h line number"
**Describe the bug**
comp_over/underrun seem to generate bad meta data about themselves. See the below log
`[    69363746.827066] (          17.343750) c0 dai          11.67          src/audio/dai.c:704  ERROR comp_overrun(): sink->free = 768, copy_bytes = 0`
that was generated by a call to `comp_overrun` at `src/audio/dai.c:1073` the actual log line comes from `src/include/sof/audio/component.h:7

[2021-06-23 10:09] lyakh commented on #4382
From the DSP log:
[code]
that's the first occurrence of the `ERROR idc_wait_in_blocking_mode() error: timeout` error and 112955 and 95011 deltas are huge. On TGL the timer ticks with 38.4MHz, i.e. those deltas are like 3 and 2.5ms roughly. Looks like some code path is blocking interrupts for too long.

[2021-06-23 10:18] kkarask opened #4392 "[BUG] glitches with SSP interface during pause, stop and start operations"
**Describe the bug**
Glitches was found in  test:s 02_20_TestPtpCaptureStreamStopStartOperation48000Hz32b32b2ch and 02_20_TestPtpCaptureStreamStopStartOperation16000Hz24b32b4ch
While pipelines are working pause, stop and start operation are done on capture stream.

**Topology:**
[code]

**To Reproduce**
Run test 02_20_TestPtpCaptureStreamStopStartOperation48000Hz32b32b2ch or 02_20_TestPtpCaptureSt

[2021-06-23 12:45] plbossart commented on #3673
@RanderWang is this issue still relevant? It's not tracked in CI or daily tests.

[2021-06-23 12:46] plbossart commented on #3337
@slawblauciak is this issue still relevant, and if yes should it be tagged as a 'diagnostic driver' issue?

[2021-06-23 12:48] plbossart commented on #2885
@slawblauciak is this issue still relevant and isn't it a 'diagnostic driver' tag that's needed?

[2021-06-23 13:57] yongzhi1 commented on #4382
Thanks @lyakh for the insight , so it seems the kernel side IPC error is because idc_do_cmd() get blocked to process the pipeline param cmd.

With the following proof-of-concept, the issue seems to be fixed, but I am sure you can provide the right fix :)
https://github.com/yongzhi1/sof/commit/f61f493b64f9099110e3a9f5b046f293eecdd6ab

[idc-temp-fix-log.txt](https://github.com/thesofproject/sof/file

[2021-06-23 20:30] fredoh9 commented on #4376
I'm ready to run a daily-test with the flag to force dynamic pipelines to be used. I will run it right after scheduled daily test. My change is in staging branch in sof-sh repo for now. I ran test run with PR test plan (testplanresult 4831).

[code]

[2021-06-24 01:16] RanderWang commented on #3673
This is a hint or fast way to trigger multiple-pause-resume issue, not a root reason. In my opinion, it is caused by schedule in FW

[2021-06-24 04:37] fredoh9 commented on #4376
- daily test 4834 is scheduled, daily test
- daily test 4838 is the one, set the flag to force to use dynamic pipeline.

Both daily test are using same SHA1(s), this will be good comparison.

[2021-06-24 05:58] lyakh commented on #4382
Unfortunately I don't have a *simple* correct fix. We have some clues which code paths are blocking interrupts for a long time in some scenarios and it would be easy enough to find out which one is doing that here, but fixing them is often rather difficult.

[2021-06-24 07:20] kkarask commented on #4166
Glitch was visible on TGL platform with Demux component too.
Hash: 7cc9a80ab8cc5ea70c190c266a310f60fcaeea80 (SOF_FW_MASTER_01.01.00.2432)

![image](https://user-images.githubusercontent.com/82518823/123219073-c5b01400-d4cc-11eb-883a-950efca05b0a.png)

[TGL.zip](https://github.com/thesofproject/sof/files/6707094/TGL.zip)

[2021-06-24 13:20] dbaluta commented on #3818
This is for v1.9

[2021-06-25 06:08] XiaoyunWu6666 opened #4400 "[BUG] TGLH_RVP_NOCODEC_ZEPHYR/APL_UP2_NOCODEC_ZEPHYR ipc timeout when CTX_SAVE"
**Describe the bug**
APL_UP2_NOCODEC_ZEPHYR ipc timeout when CTX_SAVE after it is suspended
**To Reproduce**
 TPLG=sof-apl-nocodec.tplg ~/sof-test/test-case/check-runtime-pm-status.sh -l 15
OR
TPLG=sof-apl-nocodec.tplg ~/sof-test/test-case/check-suspend-resume.sh -l 50

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 695d444a
SOF Branch: main
SOF Commit:
86c

[2021-06-25 06:27] marc-hb commented on #1346
After banging my head really hard and pulling a lot of hair I had the funny idea of hitting https://www.google.com/search?q=arch_dump_regs_a There is a single hit on the entire Internet: this page.

To avoid someone getting hurt again I submitted panic comments and a workaround suggestion in PR #4401

[2021-06-25 09:02] marc-hb commented on #4333
Workaround 710 has been merged, please link to test results if you see this again.

710 is a _workaround_, not a fix.

[2021-06-25 11:54] lgirdwood commented on #4400
@XiaoyunWu6666 thanks, btw - can you add the Zephyr label for anything zephyr related. Thanks !

[2021-06-25 13:27] lgirdwood commented on #4166
Thanks @kkarask - btw, I'm assuming that the timer starts for all your audacity dumps at the start of the captured wave file ? I'm just trying to confirm as this looks like a glitch mid flow after 4.34 seconds ? (and not glitching at the start)

[2021-06-25 13:30] lgirdwood commented on #4382
@yongzhi1 there is some incoming multicore fixes, probably coming Monday - we should retest with these.
@ranj063 fyi.

[2021-06-25 15:37] plbossart commented on #1346
https://en.wikipedia.org/wiki/Googlewhack !

[2021-06-28 01:53] marc-hb commented on #4388
Thanks @cujomalainey , good catch.

The `_DECLARE_LOG_ENTRY()` dictionary macro uses a mix of: 1. the standard `__LINE__` macro, and: 2. the custom RELATIVE_FILE macro implemented in `scripts/cmake/misc.cmake` and introduced by commit 24f3160977c. As you can see in that commit, the purpose of RELATIVE_FILE is to remove prefixes like `/home/curtis/SOF/` prefixes from paths. As it is implemented in

[2021-06-28 02:34] cujomalainey commented on #4388
Thanks for the explanation Marc. Very interesting. I am also wondering the implications here. The header technically has the logger call but the location of the call to comp_Xrun is much more useful. Maybe we should block logger calls in header files to avoid this? (In other words forcing comp_Xrun to be a macro)

[2021-06-28 03:22] XiaoyunWu6666 opened #4411 "[BUG]Dai_params failed to alloc dma buffer when running multiple-pipeline on TGLU-RVP_SDW"
**Describe the bug**
dai failed to alloc dam buffer when running multiple-pipeline on TGLI_RVP_SDW[sh-tglu-rvp-sdw-01]

**To Reproduce**
 TPLG=sof-tgl-rt711-rt1308-4ch.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -c 20

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 5b851f48
SOF Branch: main
SOF Commit: bccecb1a8eed

**Screenshots or console output**

[2021-06-28 04:14] marc-hb commented on #4388
I agree logger calls in .h files seem like a bad idea. In this particular case I can see at least two simpler and better solutions than converting the `comp_Xrun()` functions to macros because these functions are invoked only once each!! So this particular problem can be solved by:
1. either moving these functions from component.h to dai.c, or
2. move only their `comp_err()` call to dai.c, next to

[2021-06-28 05:32] XiaoyunWu6666 commented on #4333
hi @marc-hb  I found a sof-logger related failure has happened on ADLP_RVP_HDA since 3 days ago.
inner 4883?model=ADLP_RVP_HDA&testcase=check-sof-logger

[2021-06-28 05:41] XiaoyunWu6666 opened #4413 "[BUG]sof-logger doesn't work on APL_UP2_NOCODEC_ZEPHYR"
**Describe the bug**
sof-logger doesn't work on APL_UP2_NOCODEC_ZEPHYR , showing 'error: Error while reading /etc/sof/sof-apl.ldc'

**To Reproduce**
 sudo sof-logger -l /etc/sof/sof-apl.ldc

[2021-06-28 06:20] marc-hb commented on #4388
I couldn't resist the appeal of finding and abusing a compiler warning to find all instances of this. It's happening in only 6 functions:

[code]

[code]

[2021-06-28 06:22] ranj063 commented on #4382
I have a theory here. I think what happens is when the playback stream is paused(stooped in chrome), the DSP enters D0i3 because the wov stream is running. And then when the stream is unpaused, the DSP transitions from D0i3->D0i0 and fails to send IDC to the secondary core. Could it be that we dont restore the secondary cores after a D0i3 cycle?

[2021-06-28 06:47] XiaoyunWu6666 opened #4414 "[BUG] IPC timed out when multiple-pipeline on APL_UP2_NOCODEC_ZEPHYR"
**Describe the bug**
ipc timed out when multiple-pipeline on APL_UP2_NOCODEC_ZEPHYR

**To Reproduce**
arecord   -D hw:0,10 -c 4 -r 48000 -f S16_LE /dev/null -q’ on the DUT
**Reproduction Rate**
100%

**Environment**
Start Time: 2021-06-27 21:21:11 UTC
End Time: 2021-06-28 02:15:54 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: 5b851f48
SOF Branch: main
SOF Commit: bccecb1a8eed

**Screenshots or c

[2021-06-28 07:03] marc-hb commented on #4333
No: there was topology issue in that run and all tests failed.

[2021-06-28 08:21] XiaoyunWu6666 commented on #4333
@marc-hb  Sorry for giving the wrong info. Please refer to this one
inner daily-ADL 4903?model=ADLP_RVP_SDW&testcase=check-sof-logger

[2021-06-28 08:28] marc-hb commented on #4333
This is a different issue, there's a completely different error message:
[code]
Plenty of other tests failed in the same run. So  far this bug has only make check-sof-logger failed.

[2021-06-28 08:40] libinyang commented on #4382
I still can't reproduce this issue on Delbin. I have done the test for more than 1 hour with dozens of pause/resume on youtube.

- I have updated the fw and tplg.
    7aac4106dd4d2a90b69fdb4d40d7ad18  sof-tgl.ri
    e451294e818f8860647ee2aa2d0e57b5  sof-tgl-max98373-rt5682.tplg
- I have enabled the GHWD by adding “--enable-features=EnableDspHotword” in /etc/chrome_dev.conf and reboot.

[2021-06-28 10:04] kkarask opened #4416 "[BUG] Glitches in the whole file with DSM Multicore (SDW interface)"
**Describe the bug**
The whole file with glitches was found in test 22_06_TestDsmMulticoreSdw48000Hz32b32b2ch.

Playback pipeline (core 0) with dsm component (core 1) and capture pipeline (core 0) connected through SDW  interface with internal loopback.

**Topology**
[code]
Glitches was visible in the whole file with SSP interface on commit bccecb1a8eed84a0737fdf2878204adfb6cf845d, but it happened

[2021-06-28 12:00] kkarask commented on #4166
@lgirdwood While pipelines are working pause and resume operation are done on playback and echo reference streams. Glitch is visible between the streams during these operations.

![image](https://user-images.githubusercontent.com/82518823/123632492-48600880-d818-11eb-959c-8c293a6d0292.png)

[2021-06-28 15:39] plbossart commented on #4411
@XiaoyunWu6666 please do not conflate two bugs on separate platforms that have nothing to do with each other. TGP-SDW and JSL-nocodec are as similar as diesel or electric cars. Please file two separate issues.

[2021-06-28 16:30] plbossart commented on #4411
@lgirdwood @ranj063 the difference between tests points to the following commits

6/28 Daily test 4904: FAIL SOF commit  bccecb1a8eed

6/26 Daily test 4887: PASS SOF commit 2d70f100c7ad

git log --oneline 2d70f100c7ade0def40fa14d4de9458ae7ed32f5..HEAD
(not tested) 0cf1f8854 (HEAD -> main, origin/main) buffer: fix double list deletion detected by valgrind.
bccecb1a8 dai: only process DAI config for

[2021-06-28 18:56] ranj063 commented on #4382
@yongzhi1 confirmed that problem can only be reproduced with WOV enabled and that confirms my theory. Here's the long explanation for the issue:

The chrome tplg has 1 pipeline on core 1 and the rest on core 0 with woV is enabled. When a pipeline running on core 0 is started and then paused (chrome stops streams when paused), wov is the only pipeline left running and the DSP enters D0i3.

For the

[2021-06-28 19:43] lgirdwood commented on #4411
@plbossart there was a double free in DMIC that @ranj063 has just fixed (now merged).
@XiaoyunWu6666 can you check again with the latest main branch.

[2021-06-28 19:58] ranj063 commented on #4382
@lgirdwood I have one outstanding issue with dynamic pipelines and multicore today (and thats only based on my testing). We need to more testing to rule out more issues.

[2021-06-28 20:36] RDharageswari opened #4418 "[BUG] [TGL] XRUN on speaker/headset path with the IGO integrated firmware while starting the PCM99 capture"
**Describe the bug**
With the IGO integrated firmware and topology, XRUN is observed in the playback pipeline, be it headset/the speaker path with DSM module.

**To Reproduce**
Start playback on one terminal(speaker with DSM or the headset pipeline)
localhost ~ # aplay -Dhw:0,0 Titanium_low1.wav -c2 -r48000 -fs24_le
start capture on other terminal:
localhost ~ # arecord -Dhw:0,99 try.wav -c4 -r480

[2021-06-28 20:42] RDharageswari opened #4419 "[BUG] [TGL Chrome] Fw panic when we overwrite the firmware & topology binary to the file system first time and boot it"
**Describe the bug**
Fw panic when we copy the firmware & topology binary to the file system first time and boot it

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)

**Reproduction Rate**
whenever we copy the firmware & topology for the first time on a board.
The problem goes away if we reboot

**Expected behavior**
No firmware panic and

[2021-06-28 20:45] RDharageswari commented on #4419
[FW_panic_while_boot.txt](https://github.com/thesofproject/sof/files/6729194/FW_panic_while_boot.txt)

[2021-06-28 21:52] iuliana-prodan opened #4420 "[Query] How can I use sof-logger with Zephyr .ri image?"
**Describe the query**
I have a zephyr.ri image, obtained by building SOF with Zephyr.
This is loaded and booted and I have my sof card available:
[code]

How can I use sof-logger to check the traces obtained in SOF?
What .ldc file can I use?
How can I obtained the .ldc file from SOF with Zephyr? Is it possible?

**To Reproduce**
I've tried reading the trace with the ldc file obtained from SOF wit

[2021-06-28 22:25] yongzhi1 commented on #4382
To summarize my understanding, as a fix, the dynamic pipelines fit the use case/runtime paradigm perfectly, it may represent the least effort to "extend" D0ix support to CoreX right now.

[2021-06-28 22:42] marc-hb commented on #4420
I'm working on this, will hopefully submit something working this week. Related:

Add new mtrace_printf() and use it for DMA init error handling and demoting banner to INFO level #4389
Restore early tracing #4334
ipc_send_queued_msg() has a hard dependency on the EDF scheduler #4356

Also take note of
[BUG]Empty or stuck DMA trace - Initial FW ABI banner message not found in logger.data.txt #4333

[2021-06-28 22:57] plbossart opened #4421 "[BUG] TGLU_RVP_SDW: DSP panic on suspend/resume"
**Describe the bug**

https://sof-ci.01.org/linuxpr/PR3006/build5945/devicetest/?model=TGLU_RVP_SDW&testcase=check-suspend-resume-with-capture

**To Reproduce**
cmd: TPLG=sof-tgl-rt711-rt1308-4ch.tplg ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 1 -m capture

**Reproduction Rate**
Seen once so far

**Expected behavior**
No DSP panic

**Impact**
showstopper

**Environment**
1) Branch

[2021-06-28 23:06] marc-hb commented on #4420
Sorry forgot to mention that there is a partial solution that already works: https://github.com/zephyrproject-rtos/zephyr/pull/35186

At least it works for Intel hardware, dunno about IMX sorry.

[2021-06-29 01:11] XiaoyunWu6666 commented on #4411
Yes , let's leave this for TGLU_RVP_SDW and open a new one for JSL_RVP_NOCODEC.

[2021-06-29 01:25] XiaoyunWu6666 opened #4422 "[BUG]Dai failed to alloc dma buffer when running multiple-pipeline on JSL_RVP_NOCODEC"
**Describe the bug**
dai failed to alloc dam buffer when running multiple-pipeline on   JSL_RVP_NOCODEC

**To Reproduce**
 TPLG=sof-jsl-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -c 20

**Reproduction Rate**
100%

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 5b851f48
SOF Branch: main
SOF Commit: bccecb1a8eed
TPLG:sof-jsl-nocodec.tplg
Platform: JSL_RVP_NOCODEC

**Env

[2021-06-29 01:57] XiaoyunWu6666 opened #4423 "[BUG][TGLH] IPC error when BUFFER_NEW , while multiple-pipeline on TGLH_0A70_HDA"
**Describe the bug**
in inner daily test 4928, model=TGLH_0A70_HDA, testcase=multiple-pipeline-all
when running multiple pipelines to arecord
ipc error happened when BUFFER_NEW

**To Reproduce**
TPLG=sof-hda-generic-2ch.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -c 20
If 'TPLG=sof-hda-generic-2ch.tplg ~/sof-test/test-case/multiple-pipeline.sh -f c -c 20' to run capture first then play, it

[2021-06-29 02:18] XiaoyunWu6666 opened #4424 "[BUG]TGLU_VOLT_SDW dai_config() error : No memory for dai_config"
**Describe the bug**
TGLU_VOLT_SDW dai_config() error : No memory for dai_config occurred when running multiple pipeline

**To Reproduce**
TPLG=sof-tgl-sdw-max98373-rt5682.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -c 20
If 'TPLG=sof-hda-generic-2ch.tplg ~/sof-test/test-case/multiple-pipeline.sh -f c -c 20' to run capture first then play, it went wrong also.
**Reproduction Rate**
100%

**

[2021-06-29 02:28] libinyang commented on #4382
I can reproduce this issue now with the help from @sathya-nujella to enable "Ok Google" feature.

@ranj063 's explanation makes sense and should be the root cause. @yongzhi1 Could you try https://github.com/thesofproject/sof/pull/4390 on your side? I will set my environment to build the new fw/tplg on my side at the same time.

[2021-06-29 07:35] slawblauciak commented on #4424
Are dynamic pipelines enabled in those topologies?

[2021-06-29 07:45] mengdonglin commented on #4421
Issue observed in testing PR https://github.com/thesofproject/linux/pull/3006

[2021-06-29 07:54] XiaoyunWu6666 commented on #4424
No , according to sof/tools/topology/topology1/CMakeLists.txt
[code]
no DDYNAMIC=1 here @slawblauciak

[2021-06-29 07:56] slawblauciak commented on #4392
@kkarask does the glitch only occur at the point of starting/stopping the stream? Or are they randomly scattered around in the stream?

[2021-06-29 09:13] XiaoyunWu6666 commented on #4411
It still happens . inner test 4947?model=TGLU_VOLT_SDW&testcase=multiple-pipeline-all
[sof-logger]
[code]

[2021-06-29 09:23] kkarask opened #4426 "[BUG] Glitch in test 24_00_TestBluetoothOffloadSsp24b32b4ch"
**Describe the bug**
Glitch was found in test 24_00_TestBluetoothOffloadSsp24b32b4ch near the start of the capture

**Topology**
[code]
**To Reproduce**
Run test 24_00_TestBluetoothOffloadSsp24b32b4ch with Diagnostic driver

**Reproduction Rate**
1/75

**Environment**
1) Firmware branch name and commit
    * SOF: bccecb1a8eed84a0737fdf2878204adfb6cf845d
2) Name of the platform(s) on which the bug

[2021-06-29 09:25] iuliana-prodan commented on #4420
Thanks, @marc-hb!
For now, I'll try the partial solution, see if it works for i.MX.

[2021-06-29 09:31] XiaoyunWu6666 opened #4427 "[BUG] JSL_RVP_NOCODEC check alsabat failed"
**Describe the bug**
happened since inner daily test 4887  , while 4882 is still good
when check-alsabat-playback ,get warning and the case failed
[code]
This is a regression , I use the sof recipe of inner daily test 4882 and it got a PASS back

**To Reproduce**
TPLG=sof-jsl-nocodec.tplg ~/sof-test/test-case/check-alsabat.sh -p hw:sofnocodec,0 -c hw:sofnocodec,0 -C 2
**Reproduction Rate**
100%

*

[2021-06-29 10:14] lgirdwood commented on #4414
@XiaoyunWu6666 I assume this is APL only ? If so, looks like we are OOM (out of memory)

[2021-06-29 10:28] lgirdwood commented on #4388
Lets fix in Zephyr as we can do things like ```printf("%s : %d", __func__, __LINE__);``` as we cant use %s today.

[2021-06-29 11:34] lgirdwood commented on #4424
@XiaoyunWu6666 can you provide the trace for heap after the topology has loaded. This is a big structure so it's probably taking a larger block.

[2021-06-29 11:53] kkarask commented on #4392
@slawblauciak glitches are visible between the start/stop operation like here:

![image](https://user-images.githubusercontent.com/82518823/123792276-bf60d400-d8e0-11eb-8122-6d02bdacd7ce.png)

[2021-06-29 12:36] wszypelt opened #4429 "[BUG] glitch in 17_00_TestMultiCoreSameKernelSsp16000Hz32b32b4ch test"
**Describe the bug**
In test  17_00_TestMultiCoreSameKernelSsp16000Hz32b32b4ch glitch was found.

**Topology**
[code]
playback and capture pipelines both on same core (different than default 0)

**To Reproduce**
Run test with Diagnostic driver 17_00_TestMultiCoreSameKernelSsp16000Hz32b32b4ch
With options --playback-iterations=75

**Reproduction Rate**
Sporadic. 1/75

**Environment**
1) Branch name

[2021-06-29 12:38] lgirdwood commented on #4423
@XiaoyunWu6666 I think this is out of memory too. What does the trace show for heap usage ?

[2021-06-29 12:39] lgirdwood commented on #4422
Ok I think the memory errors today are all related, lets see the heap map and fix them.

[2021-06-29 12:46] lgirdwood commented on #4419
@RDharageswari can you confirm that you copy files (how ? over NFS, scp ?) and then immediately reboot (how) ?
This could also be kernel issue or FS cache. Have you tried copy files then unload/reload modules ?
@ujfalusi anything in kernel flow for FW loading that would break here ?

[2021-06-29 12:50] lgirdwood commented on #4411
@XiaoyunWu6666 thanks, I think 4 OOM issues in 2 days means we need to check the heap map trace info on TGL.

[2021-06-29 13:04] kv2019i commented on #4400
@lyakh  routing to you as you have an APL.

[2021-06-29 13:49] bkokoszx commented on #4419
@lgirdwood @RDharageswari
I was able to reproduce this issue. I remove tplg and fw files, then I copy tplg/fw using scp and reboot by ```sudo reboot```. Sometimes after reboot I get dsp panic in dmesg.

Once I also had a case, that just after reboot I did not have panic, but then I tried to run:
[code]
and after that I got similar panic.

[2021-06-29 14:05] ujfalusi commented on #4419
Can it be not related to firmware copying and it is just a coincident? Or is it more likely to happen after delete fw/tplg, copy new fw/tplg, then reboot?
Fwiw, in the log the panic happens when loading the topology, specifically with a timeout of sending (SOF_IPC_GLB_PM_MSG|SOF_IPC_PM_CORE_ENABLE) message (`ipc timed out for 0x40070000 size 12`), it is hard to say if it is for the `pipeline->core

[2021-06-29 15:07] mwasko commented on #4382
The FW is power gating cores when they are not used, so in this scenario CoreX has already been power off prior to entry to D0i3. If the core power off would cause that issue then I would expect to see the same problem in scenario with pause of pipeline on Core 1 and then resume (with second pipeline running on Core 0). The unique thing that we perform in D0i3 with WoV is switch to WOV CRO clock a

[2021-06-29 15:19] slawblauciak commented on #4418
Here are my observations:

I was successfully able to reproduce the issue. At the point of problem occurring (I/O error in aplay) I could see an xrun in the FW trace logs, followed by a constant flow of warnings from the system agent, which shows a consistent problem in the DSP core taking too long to process.

`[    11611479.642768] (       31989.634766) c0 sa                          src/lib/age

[2021-06-29 15:25] ranj063 commented on #4382
@mwasko when is a core "in use"? When a pipeline is active or does it simply mean a pipeline and its components are initialized and scheduled to be on that core?

[2021-06-29 15:26] ranj063 commented on #4419
@RDharageswari can you confirm this is tgl-013 specific problem?

[2021-06-29 15:55] marc-hb commented on #4388
Zephyr will change this for sure but `%s` is not the problem here, the problem is RELATIVE_FILE.

[2021-06-29 16:07] cujomalainey commented on #4388
Interesting trick __FILE__ vs __BASE_FILE__. Is base just before the pre processor and file is after?

[2021-06-29 16:19] plbossart commented on #4427
@XiaoyunWu6666 please double-check that all mixer values are set to 0dB and all switches are on. I tested on Up2-nocodec and alsabat will only work if the mixer settings are correct. We did change the topology so the mixer values are likely incorrect.

[2021-06-29 16:38] yongzhi1 commented on #4382
Did another experiment, the results seem to agree with above hypothesis:

Step 1: repro the no sound issue with youtube.
Step 2: close the DUT lid to trigger "sleeps".
Step 3: wait a little while, open the lid, the youtube playback works fine.

[2021-06-29 17:05] marc-hb commented on #4388
I suspect `__BASE_FILE__` is GNU-specific

https://gcc.gnu.org/onlinedocs/cpp/Common-Predefined-Macros.html

[2021-06-29 18:45] kv2019i commented on #4306
With PR4417 merged, this issue is now fixed. Closing.

[2021-06-29 18:45] #4306 closed

[2021-06-29 18:57] RDharageswari commented on #4419
I have seen this problem only with tgl-13. Did not hit it before.

[2021-06-29 22:04] #4356 closed

[2021-06-29 22:46] plbossart commented on #4419
This reminds me of the odd behavior with firmware being changed reported by @marc-hb https://github.com/thesofproject/linux/pull/2954

Some sort of firmware caching issue?

[2021-06-29 23:03] marc-hb commented on #4419
I'm confused by the description of this bug: is the same, valid and sane firmware used all the time in every single reproduction steps?

The problem solved (for me) by https://github.com/thesofproject/linux/pull/2954 is much simpler to describe:
1. Load a firmware that invokes panic() _voluntarily at a certain point._
2. That panicky firmware gets CACHED until the next reboot, no way to replace it

[2021-06-29 23:16] ranj063 commented on #4419
no the issue is seen on a TGL product

[2021-06-29 23:19] marc-hb commented on #4414
Could #4428 (just merged) make any difference or is it a completely different code path?

[2021-06-29 23:21] marc-hb commented on #4419
I meant: this does not seem like it would affect a _consumer_, sorry for the confusion.

[2021-06-30 01:10] fuyuntsuo commented on #4418
Thanks @slawblauciak . Your observation is correct that IGO  component takes about 9.5 ms to complete. That's why we moved it to Core 1 (c32a0e032fc04df2edaab0dd1b7f012f9c50d73e) so that other components and IDC shouldn't be affected by IGO's long computing time. We just don't understand why IDC still complains and why smart-amp turns out to be xrun even in this case.

Here is a information might

[2021-06-30 01:46] fuyuntsuo commented on #4418
Another question: does the performance counter count cycle or instruction? If cycle then 3.5M cycles should be okay. If instruction ,then cycle-per-instruction matters as you pointed out.

[2021-06-30 02:39] keyonjie commented on #4418
@fuyuntsuo it's big information that the IGO component takes about 9.5 ms to complete each iteration, this will for sure blocks other tasks (e.g. 1ms SA task) regular runs.

[2021-06-30 02:55] ranj063 commented on #4418
@keyonjie SA is disabled in the chrome prpducts.

[2021-06-30 03:02] XiaoyunWu6666 commented on #4427
Yes alsabat only works well if the mixer settings are correct . If using the recipe on daily 4482 I can find some setting that fixs this case .However with 4887 , modifying the alsamixer seeting doesn't help to make things better.
If I set all the volume maximum , i got an
[code]
If I set all mixer values 0db
then I got
[code]

Is there any suspicious commit? Or should I do a bisect?

[2021-06-30 03:19] keyonjie commented on #4418
Okay, I see that from @slawblauciak 's comment:
[code]

Anyway, we still have bunch of pipelines scheduled in 1ms period.

@fuyuntsuo how could it happen to takes 9.5ms for each IGO .copy()? it's ~40 times of DSM or GHD!

[2021-06-30 03:31] XiaoyunWu6666 opened #4433 "[BUG]Dai failed to alloc dma buffer when running multiple-pipeline on TGLH_0A5E_SDW"
**Describe the bug**
dai failed to alloc dam buffer when running multiple-pipeline on  TGLH_0A5E_SDW

**To Reproduce**
 TPLG=sof-tgl-rt711-rt1308-rt715.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -c 20

**Reproduction Rate**
100%

**Environment**

Kernel Branch: topic/sof-dev
Kernel Commit: 6b53609c
SOF Branch: main
SOF Commit:
6bbf6b0d3cfa

**Screenshots or console output**
[etrace]
[code

[2021-06-30 03:37] XiaoyunWu6666 commented on #4433
may be duplicated with #4411

[2021-06-30 03:39] XiaoyunWu6666 commented on #4411
TGLH_0A5E_SDW with this issue too #4433

[2021-06-30 03:39] fuyuntsuo commented on #4418
Hi @keyonjie, let's make this assumption here if the answer is not blocking this issue. We could discuss why IGO takes much cycles via email since Intel has signed NDA with us. Can anyone from Intel bridge us?

[2021-06-30 03:41] fuyuntsuo commented on #4418
May I know what does SA stand for? And why it is affected given IGO is running on Core 1.

[2021-06-30 03:50] XiaoyunWu6666 opened #4434 "[BUG][TGL][ADLP]dai_report_xrun: overrun happens when pausing one smart-amp pipeline on TGLU_VOLT_SDW and ADLP_BRYA_SDW"
**Describe the bug**
 when dw_dma_get_data_size.  xrun was detected and then dai report xrun with 'overrun due to no space'
since inner daily testresult 4961

**To Reproduce**
TPLG=sof-tgl-sdw-max98373-rt5682.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25
or:
Just run playback on pcm2(smart amplifier pipeline) and capture on pcm3(feedback pipeline):
1.  Terminal A:$ aplay -D hw:0,2 -r 48

[2021-06-30 04:09] ranj063 commented on #4418
@fuyuntsuo SA is the system agent. It is not enabled in the chrome product FW. So its not a concern

[2021-06-30 04:42] cujomalainey commented on #4418
@keyonjie GHD and DSM are all on Core 0, IGO is on Core 1, so SA aside, Core 1 should not block work on Core 0. So why is core 0 blocked on messages?

[2021-06-30 05:05] keyonjie commented on #4418
@cujomalainey @fuyuntsuo yes, as all DSP cores share the same timer for timer driven tasks scheduling, let's talk about the details via email.

[2021-06-30 05:06] XiaoyunWu6666 commented on #4414
But APL_UP2_NOCODEC is good these days.
see inner daily test 4904 4928 4961

[2021-06-30 06:52] mwasko commented on #4382
The hypothesis assume that in the process of D0i3 transition the pipeline on CoreX (other then 0) is being destroyed and need to be setup again on D0i3 exit. The experiment with close LID (sleep) confirm that after D3 (FW gets reloaded and initialized again) we can recover. This is expected but does not confirm the hypothesis - most of other FW-Driver error states would be recovered as well in the

[2021-06-30 06:55] RanderWang commented on #4424
it is very likely caused by https://github.com/thesofproject/sof/commit/928dba0853efa4cd0d79aa66b1e9c221b8813a8f.

[2021-06-30 07:06] fuyuntsuo commented on #4418
@RDharageswari @harshapriya-n @sathya-nujella Could you help bridge @cujomalainey and me with Intel engineers who are enthusiastically supporting this issue?

[2021-06-30 07:18] XiaoyunWu6666 commented on #4423
@lgirdwood
log from inner daily  4961  model=TGLH_0A70_HDA   testcase=multiple-pipeline-all
[code]

[2021-06-30 07:45] keyonjie commented on #4418
@RDharageswari @sathya-nujella please create a thread about this, including me and Slawomir please.

[2021-06-30 07:56] XiaoyunWu6666 commented on #4424
thanks @RanderWang for your information .
I revert 928dba0 and got a PASS for this case

[2021-06-30 08:00] XiaoyunWu6666 commented on #4427
replacing only the tplg file works.

[2021-06-30 08:06] XiaoyunWu6666 commented on #4427
➜  sof git:(fdd8ec03b) ✗ git bisect good fdd8ec03b
b5b0b2c4f23cd86b245096395e963a9af5f4fa86 is the first bad commit
commit b5b0b2c4f23cd86b245096395e963a9af5f4fa86
Author: Pierre-Louis Bossart <pierre-louis.bossart@linux.intel.com>
Date:   Fri Jun 18 14:44:53 2021 -0500

    topology: use same file for all cavs 1.8+ nocodec topologies

    The beginning of the end of insanity?

    Signed-off-by:

[2021-06-30 08:25] sathya-nujella commented on #4418
Hi @keyonjie ,  Done.

[2021-06-30 09:17] kkarask opened #4435 "[BUG] Glitches in test 17_01_TestMultiCoreMultiKernelSsp24000Hz24b32b8ch"
**Describe the bug**
Glitches was found in test 17_01_TestMultiCoreMultiKernelSsp24000Hz24b32b8ch
Playback (core 0) and capture (core 1) pipelines connected to SSP with external loopback.

**Topology**
[code]
**To Reproduce**
Run test 17_01_TestMultiCoreMultiKernelSsp24000Hz24b32b8ch with Diagnostic driver

**Reproduction Rate**
1/75

**Environment**
1) Firmware branch name and commit
    * SOF: B

[2021-06-30 10:11] lgirdwood commented on #4435
@kkarask it looks like a lot of these are duplicates in that the test and topology are similar with similar results. Can we label this and other similar glitches as duplicates of the original simple glitch. Thanks

[2021-06-30 10:13] lgirdwood commented on #4424
@RanderWang @XiaoyunWu6666 please provide a heap dump - we need to refine all heap pools to align with actual usage. @keyonjie is working on this.

[2021-06-30 10:17] lgirdwood commented on #4427
@XiaoyunWu6666 fwiw, I've also seen similar issues with background noise on the DUTs. Have you tried switching off the DUTs and test PC for an hour and retesting ?

[2021-06-30 10:21] keyonjie commented on #4418
Hi @fuyuntsuo @RDharageswari @sathya-nujella I analyze the LL scheduler part and make some refinement in the PR #4436 , hope it helps.

[2021-06-30 10:25] lgirdwood commented on #4423
@XiaoyunWu6666 thanks - that the info we need. @keyonjie can you look at this and it appears trace filtering has switched OFF some of the heap dump so we are missing info.

[2021-06-30 10:39] lgirdwood commented on #4419
This is what I was thinking too, VFS cache could do this but ```sudo reboot``` done by @bkokoszx should do a ```sync``` and writeback to disk.

@bkokoszx can you try and execute ```sync fw_file_name``` to forcibly flush VFS cache version of FW prior to reboot.

[2021-06-30 10:54] lgirdwood commented on #4166
@kkarask thanks, I'm forming an opinion now that we probably have a timing difference in IPC messages and stream DMA operations between diagnostic driver and Linux driver. Is there anyway you can dump the log sections relating to the glitches only with the timestamps of IPC and stream DMA programming/IRQs to compare against the kernel dmesg. @slawblauciak what do you think ?

[2021-06-30 10:55] slawblauciak commented on #4418
Alright. I was at least partially incorrect in my last comment.
@fuyuntsuo your question regarding the CCOUNT actually made me realize that. Yes, it is cycles, meaning, the IGO copy does take exactly 9.5 ms. As such, my initial suspicion is completely incorrect.

However, after a short chat with Keyon, we came to conclusion that given the current scheduling paradigm, the FW cannot support differen

[2021-06-30 11:12] lgirdwood commented on #3953
@XiaoyunWu6666 @keqiaozhang any update on this ? If it's still not showing then we could close ?

[2021-06-30 11:16] lgirdwood commented on #4372
@keyonjie  @kv2019i  Are we sure we are masking/clearing the DMIC IRQ ? as we are getting an IPC timout here and AFAICT not a crash (i.e. are we spinning in DMIC IRQ) ?

[2021-06-30 11:24] kkarask opened #4437 "[BUG] Glitches on ASRC component"
**Describe the bug**
Glitches was found in test 19_00_TestAsrcPlayback8000Hz32b32b2ch
Playback pipeline contains ASRC.

**Topology**
[code]

**To Reproduce**
Run test 19_00_TestAsrcPlayback8000Hz32b32b2ch with Diagnostic driver

**Reproduction Rate**
Sporadic.

**Environment**
1) Firmware branch name and commit
    * SOF: Branch: main, Hash: eb7add5135fda83c779b936b76e57f54fd293a8d

2) Name of the

[2021-06-30 11:42] kv2019i commented on #4372
@keyonjie @lgirdwood  Given this does not happen on 1.8 and happens on multicore tplg, I wonder if it's related to this dmic commit "Drivers: Intel: DMIC: Run dmic_work() in the same core as other driver". The fix this does seems correct and I'd actually expect the reverse result, but given the results, this could be related. I could not reproduce this locally yet. Bisect is probably the best opti

[2021-06-30 12:18] bkokoszx commented on #4419
@lgirdwood
I did so and I was able to reproduce this issue with ```sync fw_file``` before ```sudo reboot```.

I was also trying to analyze exception and stack logs from dmesg with ```sof-tgl.lst``` file. I do not have any special conclusions yet, but we can see that:
[code]
points to the:
[code]
, which is used in: ```cavs_pm_runtime_core_en_memory()``` and ```cavs_pm_runtime_core_dis_memory()```

[2021-06-30 14:17] plbossart commented on #4434
@lgirdwood Daily test 4928 on 6/29 seems to work, Daily test 4961 on 6/30 does not.

We haven't merged anything at the kernel level that is related to SoundWire or streaming, more precisely we merged @RanderWang's fix that made this problem go away.

Firmware changes?

[2021-06-30 14:19] plbossart commented on #3953
we removed the mixer and smart amp from the topology so made this test more robust, we should close and reopen an issue when we re-add the mixer.

[2021-06-30 14:22] plbossart commented on #4427
@lgirdwood in nocodec topologies, we use the loopback mode, there is not dependency on external components/noise.

@XiaoyunWu6666 the same topology works on APL and TGL, and locally on CNL. I don't think you root-caused the issue.

[2021-06-30 16:12] ranj063 commented on #4419
@bkokoszx https://github.com/thesofproject/linux/pull/3018 fixes the issue. I still need to refine it to align with other multi-core changes but the underlying problem is to disables the secondary cores before shutdown

[2021-06-30 16:26] plbossart commented on #4427
I tried directly on the device and the recorded wave file is clearly complete garbage.

![jsl](https://user-images.githubusercontent.com/1149035/123997391-f5ac5b00-d995-11eb-817c-5674627a4527.png)

if this is a topology-only change it's probably in the SSP configuration then.

[2021-06-30 17:07] marc-hb commented on #4419
According to the bug description the problem happens when the host boots. How can a DSP shutdown fix make a difference?

[2021-06-30 17:13] ranj063 commented on #4419
its not just a boot, its a reboot. So shutdown can make a difference. We've seen issues similar to this in the past and we have a shutdown callback for the PCI device to put the DSP in D3 already. This just adds on to it

[2021-06-30 17:38] yongzhi1 commented on #4382
Hi, @mwasko, I agree with you that closing the lid means DSP FW reload, so it's equal to a reset.

For the "ERROR idc_wait_in_blocking_mode() error: timeout",

1. Can be reproduced by on-line recorder app
2. Can be reproduced by cold reboot alone

[dsp-cold-reboot-dmic.log](https://github.com/thesofproject/sof/files/6742875/dsp-cold-reboot-dmic.log)

Dynamic pipelines need some porting effort as w

[2021-06-30 19:32] plbossart commented on #4427
The only thing I found in the topology was that going back to s24le seems to work...

@XiaoyunWu6666 can you retry with https://github.com/thesofproject/sof/pull/4438. Make sure that you have all mixers to 0dB and switches on - asound.state attached below

[jsl-nocodec-asound.state.txt](https://github.com/thesofproject/sof/files/6743536/jsl-nocodec-asound.state.txt)

@lgirdwood @keyonjie any idea

[2021-06-30 20:44] plbossart commented on #3714
@XiaoyunWu6666 this is not tracked in Intel daily tests and you've added https://github.com/thesofproject/sof/issues/4434

closing this one for clarity.

[2021-06-30 20:44] #3714 closed

[2021-06-30 22:43] RDharageswari commented on #4418
Hi @keyonjie @slawblauciak,
I did test the patches from https://github.com/thesofproject/sof/pull/4436 and don't see the XRUN at my end with the IGO module and the speaker with DSM in the pipeline

[2021-06-30 22:45] RDharageswari commented on #4419
Today i was still able to repro the issue, even with https://github.com/thesofproject/linux/pull/3018

[2021-07-01 00:15] RDharageswari commented on #4419
Even when the same firmware file is overwritten we hit the issue.
This issue is not consistently observed every time.

[2021-07-01 01:06] marc-hb commented on #4356
#4428 addressed this differently and temporarily

[2021-07-01 02:10] XiaoyunWu6666 commented on #4427
yes 4438 worked

[2021-07-01 02:44] XiaoyunWu6666 commented on #4414
According to inner daily 5000.
When multiple-pipeline ( playback , capture or both ), ipc timed out can happen at several stages including PCM_PARAMS, TRIG_START , TRIG_STOP .... not only at a specific stage .

[2021-07-01 02:49] RanderWang commented on #4424
The error message indicated wrong usage of memory zone

src/lib/alloc.c:755  ERROR failed to alloc 0xd8 bytes zone 0x4 caps 0x1 flags 0x0
src/lib/alloc.c:596  ERROR alloc trace: unsupported mem zone
src/lib/alloc.c:768  ERROR failed to alloc 0xd8 bytes zone 0x4 caps 0x1 flags 0x0
src/lib/alloc.c:596  ERROR alloc trace: unsupported mem zone
src/ipc/ipc3/dai.c:253  ERROR dai_config(): No memory for

[2021-07-01 03:12] keyonjie commented on #3953
to be accurate, no mixer in sof-tgl-nocodec-ci.m4, the reason we don't see this in daily basically because we are testing a different tplg now.

[2021-07-01 05:52] marc-hb commented on #4413
Close this once https://github.com/thesofproject/sof-test/pull/724 is merged and the test is SKIPped

For the longer term and the test to PASS there is issue is #4420

[2021-07-01 07:05] fuyuntsuo commented on #4418
Thanks for @slawblauciak @keyonjie @RDharageswari prompt action on this issue. I've also tested this patch on my TGL DUT and the issue has been solved. LL timer is no long complaining and speaker is not getting xrun neither.

@slawblauciak Yes. It would have been surprising if the performance counter shows instructions count instead of cycle count. Thanks for explanation!

[2021-07-01 07:07] dbaluta commented on #3842
we've moved the params detecting in copy() function. All good. Closing now.

[2021-07-01 07:07] #3842 closed

[2021-07-01 09:16] kkarask commented on #4169
Problem with keyword detection with Dmic interface was visible also on WHL platform.

![image](https://user-images.githubusercontent.com/82518823/124097883-4d14fe80-da5c-11eb-9657-452740ea9ec2.png)

[WHL_07_05_TestKdDmicD0ix16000Hz24b32b2ch.zip](https://github.com/thesofproject/sof/files/6746938/WHL_07_05_TestKdDmicD0ix16000Hz24b32b2ch.zip)

[2021-07-01 21:31] marc-hb commented on #3868
Linking to another, "stuck DMA" issue, sorry if not related #4333

[2021-07-01 22:28] RDharageswari commented on #4419
with the following changes @bkokoszx suggested:
diff --git a/src/platform/intel/cavs/lib/pm_runtime.c b/src/platform/intel/cavs/lib/pm_runtime.c
index aba17421135a..84970c6366fc 100644
--- a/src/platform/intel/cavs/lib/pm_runtime.c
+++ b/src/platform/intel/cavs/lib/pm_runtime.c
@@ -328,8 +328,8 @@ static inline void cavs_pm_runtime_core_dis_memory(uint32_t index)
        /* Address is calculated f

[2021-07-01 23:18] marc-hb commented on #4419
Additional comments in #4441

[2021-07-01 23:43] ranj063 commented on #4434
@plbossart this one is not SDW I think. I saw this today with the TGL nocodec tplg. Haven't been able to understand what's going on. And it is also on the same test multiple-pause-resume.

This could be a genuine issue but I won't rule out the test itself being the culprit. I need to go through the script to figure out.

[2021-07-02 01:26] marc-hb commented on #4419
I just got to the bottom of the other issue: the failure to reload a new firmware after a firmware panic, see latest commit message in `release_firmware()` fix https://github.com/thesofproject/linux/pull/2954

tl;dr: it was not "caching" but "batching"

This could interact with this different issue and make it even harder to test, so I suggest testing with https://github.com/thesofproject/linux/pu

[2021-07-02 07:37] XiaoyunWu6666 opened #4443 "[BUG] RMMOD snd_sof_pci_intel_tgl cause check-sof-logger TIMEOUT"
**Describe the bug**
when  remove modules , it may cause over 1 min to remove module snd_sof_pci_intel_tgl , thus leading to testcase TIMEOUT

**To Reproduce**
sof-test/tools/kmod/sof_remove.sh

**Reproduction Rate**
100%

**Platform**
tglu-rvp-hda

[2021-07-02 08:55] XiaoyunWu6666 commented on #4427
same issue happen on TGLU_RVP_NOCODEC in daily 5028 too

[2021-07-02 09:16] XiaoyunWu6666 commented on #4400
some logs on TGLH_RVP_NOCODEC_ZEPHYR look quite similar to logs on APL_UP2_NOCODEC

Shall I open some new issues for TGLH_RVP_NOCODEC?

[2021-07-02 09:58] bkokoszx commented on #4419
I've also tried change mentioned by @RDharageswari (https://github.com/thesofproject/sof/issues/4419#issuecomment-872588622) and I did not have reproduction (tried several times ~20).

[2021-07-02 10:02] slawblauciak commented on #4382
@yongzhi1 please try this PR and tell me if you can still reproduce the issue
https://github.com/thesofproject/sof/pull/4444

[2021-07-02 13:16] lgirdwood commented on #4382
@ujfalusi it looks like this kernel error is wrong, should it be "no volatile kcontrol found" ?

[2021-07-02 13:24] lgirdwood commented on #4400
I dont think we are not calling the Zephyr power OFF, but going through the SOF power OFF only (meaning Zephyr will still have active IP. IRQs etc).
@dcpleung fyi - is there a z_power_off() ready with the CAVS power off logic ready ? This CAVS logic can be copy and pasted from SOF (some of it is assembly).

[2021-07-02 13:25] ujfalusi commented on #4382
@lgirdwood, it depends, but I think in this case it is printed because:
`dynamic widgets cannot have volatile kcontrols` it is from `sof_set_pipe_widget()`

My guess is that the topology is not correct?

[2021-07-02 13:50] lgirdwood commented on #4382
ok, can we update the kernel message ?

Could be, @yongzhi1 can you check the topology here ? Could be a bug here too.

[2021-07-02 14:03] ujfalusi commented on #4382
Now that I know why it is printed, it is clear and it states the reason fore the error.
I can try to come up with something, but so far I could not find a compact enough one to fit under 100 char column.

[2021-07-02 14:13] slawblauciak commented on #4419
Relevant PR created here: https://github.com/thesofproject/sof/pull/4446

[2021-07-02 15:56] giuzan commented on #3818
@lgirdwood sorry for my late answer, but i was moved for a while to another project, i had not chances to work on it.

[2021-07-03 01:33] marc-hb commented on #4413
Test is skipped now

[2021-07-03 01:33] #4413 closed

[2021-07-03 21:33] yongzhi1 commented on #4382
Hi, @slawblauciak , thanks for the patch, with everything remains the same as the original tgl-013-drop-stable + #4444, I can still repro the issue: [dsp-pr4444-log.txt](https://github.com/thesofproject/sof/files/6759066/dsp-pr4444-log.txt)

[2021-07-05 02:36] XiaoyunWu6666 commented on #4427
Shall I keep them in one issue or open a new one ? I will try whether #4438 can fix CML_RVP_NOCODEC and TGLU_RVP_NOCODEC or not later

[2021-07-05 02:55] XiaoyunWu6666 commented on #4414
[update inner daily logs on this case , this platform]
according to inner daily ADL 5071?model=APL_UP2_NOCODEC_ZEPHYR&testcase=multiple-pipeline-playback-50 , still IO error but
not much error message in dmesg logs

[2021-07-05 03:53] XiaoyunWu6666 opened #4449 "[BUG] sof-logger resisted pkill -TERM, using -KILL on BYT_MB_NOCODEC"
**Describe the bug**
'sudo pkill -TERM sof-logger'   failed  ,  so use 'pkill -KILL'  instead
found in inner daily test 4487 on BYT_MB_NOCODEC check-capture-10sec.

But cannot reproduced manually  , sof-logger can be pkilled normally via manual experiment.

**Log**
[dmesg]
[code]

[2021-07-05 08:18] keyonjie commented on #4382
Hi @yongzhi1 can you try to disable LPS:
remove the 1st line 'CONFIG_CAVS_LPS=y' in src/arch/xtensa/configs/override/tigerlake_chrome.config and rebuild the FW.

[2021-07-05 14:02] yongzhi1 commented on #4382
With the .config update as suggested, the issue is no longer reproducible: [dsp-pr4444-log-02.txt](https://github.com/thesofproject/sof/files/6764663/dsp-pr4444-log-02.txt). During my test, only observed no sound once with the trace flooded with:

[code]

[2021-07-06 01:11] jacksongoode opened #4450 "[BUG]"
So I've exhausted the resources online but maybe someone knows some more info. This may be an alsa issue but I suspect it could be something happening with sof.

The microphone array on the X1 Carbon's from the 6th/7th/8th gen on have a 4 channel microphone array at the top. I recently reinstalled 20.04 (with kernel 5.8.0-45) and only the two microphones on the left side are registering. I've had

[2021-07-06 07:37] mengdonglin commented on #4450
Please share the full dmesg output @jacksongoode

[2021-07-06 07:50] keyonjie commented on #4433
We should not see this anymore since commit 928dba0 was been reverted in PR https://github.com/thesofproject/sof/pull/4439.

But anyway, I am working on the PR https://github.com/thesofproject/sof/pull/4445 to make more use of our HP SRAM banks, which will fix this issue even with requiring more runtime_shared buffers.

[2021-07-06 12:29] lgirdwood commented on #4372
@singalsu any comment here ? Can the DMIC work be "EDF" work ?

[2021-07-06 12:37] plbossart commented on #4427
@XiaoyunWu6666 I think we are still having alsa mixer issues....

[2021-07-06 13:40] plbossart commented on #4427
Actually it's more like *ONLY* APL_NOCODEC can work with s32le, I just tried with CML_NOCODEC and using the same fix as on JSL s24le works. no idea why. see https://github.com/thesofproject/sof/pull/4456

[2021-07-06 15:35] dcpleung commented on #4400
I don't think we have anything PM related for CAVS in Zephyr.

[2021-07-06 19:42] marc-hb commented on #4420
BTW you'll need to revert 4e8743f76f82 `zephyr: imx: split initialization` that just got merged. I'm curious why you needed that, maybe it was just a copy/paste of cavs commit cf8e35f860a73? I submitted a revert of the latter in #4452

[2021-07-07 02:47] XiaoyunWu6666 opened #4457 "[BUG]IO error when simultaneous playback -capture on TGLU_RVP_NOCODEC , JSL_RVP_NOCODEC, CML_RVP_NOCODEC"
**Describe the bug**
A new failure in inner daily test 5118
happened on TGLU_RVP_NOCODEC , CML_RVP_NOCODEC and JSL_RVP_NOCODEC

when running simultaneous playback and capture, IO error occurred

**To Reproduce**
 TPLG=sof-tgl-nocodec.tplg ~/sof-test/test-case/simultaneous-playback-capture.sh -l 25 (on tglu_rvp_nocodec)

**Reproduction Rate**
almost 100%

**Environment**
Kernel Branch: topic/sof-de

[2021-07-07 03:22] XiaoyunWu6666 commented on #4457
even DSP panic on ADLP_RVP_NOCODEC in daily-ADL 5117

[2021-07-07 03:33] XiaoyunWu6666 opened #4458 "[BUG]IO error when simultaneous playback -capture on ADLP_RVP_NOCODEC/TGLU_RVP_NOCODEC_MULTICORE"
**Describe the bug**
IO error happened when simultaneous playback capture and multiple-pause-resume on ADLP_RVP_NOCODEC in daily-ADL 5117
Even with DSP panic when TRIG_START in simultaneous playback and capture .
However , when I tried the case manually , this usually led the DUT to reboot and lost connection.

**To Reproduce**
TPLG=sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/simultaneous-playbac

[2021-07-07 03:56] XiaoyunWu6666 commented on #4458
does it have something to do with #4328

[2021-07-07 04:37] XiaoyunWu6666 opened #4459 "[BUG]PCM_PARAMS timed out when aplaying with -Dhw:0,0 on TGLH_RVP_NOCODEC_ZEPHYR and APL_UP2_NOCODEC_ZEPHYR"
**Describe the bug**
happen in inner daily 5118
PCM_PARAMS timed out on  TGLH_RVP_NOCODEC_ZEPHYR and APL_UP2_NOCODEC_ZEPHYR
when aplaying with -Dhw:0,0

**To Reproduce**
TPLG=sof-apl-nocodec.tplg ~/sof-test/test-case/check-playback.sh -d 3 -l 1 -r 1 -F
OR
aplay   -Dhw:0,0 -r 48000 -c 2 -f S16_LE -d 19 /dev/zero -v -q

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 6bd3089a
SOF Branch:

[2021-07-07 05:01] XiaoyunWu6666 commented on #4328
#4458

[2021-07-07 05:14] XiaoyunWu6666 commented on #4372
I guess this is related to multicore and we only test multicore with sof-tgl-nocodec-ci.tplg on ADLP_RVP_NOCODEC ,right , so I remove TGL from the title and the label @keyonjie @keqiaozhang  thanks

[2021-07-07 09:27] XiaoyunWu6666 opened #4461 "[BUG]ADLP_RVP_NOCODEC alsabat failed since S32_LE without PGA is not supported"
**Describe the bug**
In daily 5518 we used sof-tgl-nocodec-ci.tplg back for ADLP_RVP_NOCODEC and check-alsabat failed on it due to format mismatch.

Check-alsabat test take S16_LE as the default format , while pcm0 capture is in a passthrough mode supporting only S32_LE format on ADLP_RVP_NOCODEC , thus leading the check-alsabat failure

@keyonjie 's fix PR here:https://github.com/thesofproject/so

[2021-07-07 14:39] plbossart commented on #4427
All alsa-bat tests pass now with PR #4456, let's close this.

[2021-07-07 14:39] #4427 closed

[2021-07-08 03:34] XiaoyunWu6666 commented on #4461
looks ADLP_RVP_SDW has this problem in check-alsabat-headset-playback too
see inner daily_ADL 5159

I see in m4 file that is used to build tplg for ADLP_RVP_SDW , does it mean pcm0 capture does not support S16_LE either?

[code]

[2021-07-08 05:31] XiaoyunWu6666 opened #4465 "[BUG][GLK]Xrun and IO error when multiple-pause-resume on GLK_BOB_DA7219"
**Describe the bug**
happened in inner daily 5153
model=GLK_BOB_DA7219
testcase=multiple-pause-resume-25
xrun is observed and  io error happened

**To Reproduce**
 TPLG=sof-glk-da7219.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 143fbb70 storage: 143fbb70
SOF Branch: main
SOF Commit: 690481ae6990 storage: 690481ae6990

**Scre

[2021-07-08 06:47] slawblauciak commented on #4419
The PR is unfortunately not correct as it prevents SRAM power gating. However, that does point at a probable area where the fault exists. There appears to be a race condition happening with SRAM power gating. Simply adding as much as one additional trace point for debug makes the issue go away, making this problem extremely difficult to debug. However, that does present a potential workaround: sim

[2021-07-08 11:47] slawblauciak commented on #4419
@RDharageswari please try this PR https://github.com/thesofproject/sof/pull/4466

It makes the delay for power gating HP SRAM longer.

[2021-07-08 15:07] plbossart commented on #4465
Probably the same issue as with NOCODEC topologies, where we also use the early bclk enablement.

PR https://github.com/thesofproject/sof/pull/4462 should hopefully fix this.

[2021-07-08 18:29] iuliana-prodan commented on #4420
@marc-hb I've tried you're commits from #4452 and I've reverted mine - [here's ](https://github.com/iuliana-prodan/sof/commit/194f0b1bb60a8e7ee41cfab06993a54926d55cbd) the commit from my branch, but now I cannot load the topology:
[code]
Is this working on Intel's platforms with Zephyr?

On i.MX, without enabling dma trace, so without [this](https://github.com/iuliana-prodan/sof/commit/194f0b1bb60

[2021-07-08 18:35] #4457 closed

[2021-07-08 19:25] marc-hb commented on #4420
@iuliana-prodan first a disclaimer: I'm not claiming the DMA trace is ready for prime time, not even with #4452 . This being said, I do not observe any or the errors you posted.  I have "other problems" :-)

In general I think a good rule of thumb is to ignore all errors past the first one. So  I would first look into the sof_ext_man and ABI warnings - unless of course you know exactly what they m

[2021-07-08 19:52] marc-hb commented on #4420
Forgot this sorry: we are seeing scheduling issues and IPC timeouts in Zephyr even without enabling the DMA trace. So it could also be just the messenger.

If you don't absolutely need it right now and I would recommend not trying it yet.

[2021-07-08 21:27] plbossart commented on #4434
@ranj063 I don't think this has anything to do with TGL-nocodec. All the issues I see are between the Speaker and 'Amplifier Reference' devices

[code]

And given the topology, I think it's a case of dependencies between connected streams that's not well handled.
![sof-tgl-sdw-max98373-rt5682 (1)](https://user-images.githubusercontent.com/1149035/124992963-4e6c9b00-e009-11eb-9b9d-789e34f3c622.png)

[2021-07-08 21:28] #4461 closed

[2021-07-08 21:51] plbossart commented on #4434
And I can prove my theory with two simple commands

in terminal 1, run
[code]

and in terminal two run

[code]

After a 10s of monkey testing with the space bar, both streams reached an xrun.

of course when I tried to reproduce the issue I couldn't, so it's a nasty race condition somewhere.

[2021-07-08 21:56] ranj063 commented on #4434
@plbossart oh this has to be mux/demux acting up most likely.

[2021-07-08 22:02] plbossart commented on #4434
@ranj063 we could test this theory with a modified topology where BUFF3.0, SMARTAMP3.0 and BUF3.2, i.e. completely independent pipelines. If we still see a problem it would point to a SoundWire enable/disable issue (that would be surprising though since we don't have this problem with other SoundWire topologies, this is the only case where we have a demux and joined pipelines).

[2021-07-08 22:06] plbossart commented on #4434
I think the rules need to be
a) any component with more than one source (and a single sink) can only pause when all its sources are paused. (that applies to mixer, mux and smart-amp)
b) any component with more than one sink (and a single source) can only pause when all its sinks are paused (that applies to demux)

[2021-07-09 12:29] wszypelt opened #4470 "[BUG] 24_01_TestBluetoothParallelOffloadSsp Exception SofIpcErrorResponseException occurred"
**Describe the bug**
Bug was found in:
24_01_TestBluetoothParallelOffloadSsp16b16b2ch
24_01_TestBluetoothParallelOffloadSsp24b32b4ch
24_01_TestBluetoothParallelOffloadSsp32b32b8ch

the content of the error:
ERROR:Exception SofIpcErrorResponseException occurred at 'C:\\work\\tools\\pyexecnetcache\\cavs_scripts-py\\utilities\\ipc_driver.py':730 FW replied with error. Error code: -22 0x00000005 0x000

[2021-07-09 16:06] ranj063 commented on #4434
@plbossart is this correct to assume that we pause smart-amp only when all sources are paused? In theory, we should be using the smart-amp in such a way that when the playback stream in paused, the reference capture stream is also paused via UCM perhaps. But in reality, the way we test the smart_amp is by treating the playback and capture streams as separate streams. Im wondering if we should add

[2021-07-09 16:09] plbossart commented on #4434
@ranj063 I am not sure if we need to special-case the smart-amp component. We've already added logic in the mixer code to deal with one source paused/others active, I think it's only a matter of making sure the smart-amp component follows the same logic.

[2021-07-10 04:27] marc-hb commented on #4459
It bisected this, see #4472

In the Zephyr logs this shows as

[code]

[2021-07-11 02:24] marc-hb commented on #4420
More specifically:
- the crash introduced by your PR #4217
- the scheduler regression introduced by PR #4377

After reverting these two locally I think I'm back on track.

[2021-07-12 06:29] sathya-nujella commented on #4419
Hi @slawblauciak
FYI,
I got a script which does the below:
chrome DUT:
       loop {
	mount -o remount,rw /
	cp /root/sof-tgl.ri /lib/firmware/intel/sof/community/
	cp /root/sof-tgl-max98373-rt5682.tplg /lib/firmware/intel/sof-tplg/voxel/
         sync
        reboot
       }
Within 10 cycles of the script, I was able to repro the original issue with tgl_13.

   Using this script, I have verified

[2021-07-12 06:34] marc-hb commented on #4419
@sathya-nujella I really don't understand how copying the firmware files can make any difference. Linux does not have any `/lib/firmware` "memory" that persists across reboots, if it had that would be a serious (security?) issue.

Can you please try to reproduce with the same loop but without the copies? (and without #4466). Everything else the same.

In other words I don't believe the title of th

[2021-07-12 06:37] sathya-nujella commented on #4419
Yes @marc-hb .
Validation teams has tried normal reboot cycles without copying any firmware & topologies: no issues reported.

Issue did not report in previous TGL releases, we got reports only in TGL_13 based.

[2021-07-12 06:45] marc-hb commented on #4419
Maybe this was just because the original firmware is not affected, only the new one.

[2021-07-12 07:56] slawblauciak commented on #4419
@marc-hb I was able to reproduce the issue as well. It only occurs after the FW binary is replaced.

[2021-07-12 08:16] marc-hb commented on #4419
With a different version? If not then it could be timing issue, has anyone tried to replace another, unrelated firmware file?

[2021-07-12 08:37] slawblauciak commented on #4419
No, the same version even.

[2021-07-12 14:40] marc-hb commented on #4419
OK then this must be a timing issue. Can you please try to copy similar and unrelated files in the same directories and see if it reproduces the same?

[2021-07-12 18:51] fredoh9 commented on #4328
After switching to unified nocodec, haven't seen this issue, Removed P1

[2021-07-12 19:11] fredoh9 opened #4480 "[BUG] TGLU_RVP_NOCODEC DSP panic while suspend-resume test"
**Describe the bug**
DSP panic logs seems different from the others DSP panic, and after seeing DSP panic, following FW status and IPC are working fine.

[code]

Found in internal weekly stress test, test result 5213.
model=TGLU_RVP_NOCODEC&testcase=check-suspend-resume-100

**To Reproduce**
TPLG=sof-tgl-nocodec.tplg ~/sof-test/test-case/check-suspend-resume.sh -l 100

**Reproduction Rate**
not su

[2021-07-12 19:14] fredoh9 commented on #4480
check-suspend-resume-with-capture-25 in same weekly test found same DSP panic.

[2021-07-12 19:21] plbossart commented on #4480
@fredoh9 are you saying that the same commits pass or fail depending on how long the tests are?

[2021-07-12 19:29] plbossart commented on #4480
Answering to my own question

PASS: https://sof-ci.sh.intel.com/#/result/planresultdetail/5216?model=TGLU_RVP_NOCODEC&testcase=check-suspend-resume-50

TPLG=sof-tgl-nocodec.tplg ~/sof-test/test-case/check-suspend-resume.sh -l 50

Start Time: 2021-07-11 21:20:54 UTC
End Time: 2021-07-11 23:45:30 UTC

Kernel Branch: topic/sof-dev
Kernel Commit:
62368fe1
SOF Branch: main
SOF Commit:
5374da8c8917

FAI

[2021-07-12 19:52] ranj063 commented on #4480
@plbossart @fredoh9 I think this issue is related to https://github.com/thesofproject/sof/issues/4419

There's a temporary workaround for it in https://github.com/thesofproject/sof/pull/4466

[2021-07-12 19:59] plbossart commented on #4480
@ranj063 we are not changing the firmware as described in #4419. What makes you think it might be related?

[2021-07-12 20:16] ranj063 commented on #4480
The other issue can be reproduced even without changing the FW @plbossart. @slawblauciak confirmed it in one of the comments

[2021-07-13 01:43] XiaoyunWu6666 commented on #4328
This happened in inner daily 5244 model=TGLU_RVP_NOCODEC_MULTICORE testcase=check-capture-50rounds
inner daily 5244 model=TGLU_RVP_NOCODEC_MULTICORE testcase=check-capture-50rounds

[2021-07-13 06:34] slawblauciak commented on #4480
As mentioned before, can you try this PR and see if it helps? https://github.com/thesofproject/sof/pull/4466

[2021-07-13 06:36] slawblauciak commented on #4470
From what I understood this is a regression.
@wszypelt do we know when it has last worked before?

[2021-07-13 07:20] mengdonglin commented on #4465
@XiaoyunWu6666 Can we still reproduce this issue? PR #4462 has been merged.

[2021-07-13 07:42] XiaoyunWu6666 commented on #4465
yes ,thanks

[2021-07-13 07:42] #4465 closed

[2021-07-13 07:43] mengdonglin commented on #4458
This issue isn't reproduced in daily test report 5215. I guess it was fixed by PR #4462.

[2021-07-13 08:59] XiaoyunWu6666 opened #4481 "[BUG]IO error and DSP panic when check-capture-50round on ADLP_RVP_NOCODEC/TGLU_RVP_NOCODEC_MULTICORE"
**Describe the bug**
when check capture continuously on smart-nocodec ,on ADLP_RVP_NOCODEC/TGLU_RVP_NOCODEC_MULTICORE , IO error happened with dsp panic.
inner daily  5244  model=TGLU_RVP_NOCODEC_MULTICORE&testcase  check-capture-50rounds

**To Reproduce**
TPLG=sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/check-capture.sh -d 1 -l 1 -r 50
not sure about reproduction rate but can increase the number

[2021-07-13 15:28] ranj063 commented on #4480
@fredoh9 would it be possible to check if #4466 helps with this issue?

[2021-07-13 21:43] cujomalainey opened #4485 "[FEATURE] Clarify walkback logic for components"
Currently on failure many functions (e.g. volume [prepare](https://github.com/thesofproject/sof/blob/main/src/audio/volume/volume.c#L883)) exit and update their state but do not call the respective handler to properly transition to that state. Others clear local state but don't update their component state (smart amp [prepare](https://github.com/thesofproject/sof/blob/main/src/audio/smart_amp/smar

[2021-07-13 22:26] cujomalainey opened #4487 "[FEATURE] Update and remove passthrough definitions"
some components have outdated manual copy code, we need to clean these up with the new `audio_stream_copy` function.

Current spotted ones are:
* [Crossover](https://github.com/thesofproject/sof/blob/72121fb06c0f059cf0977d02596adb9cc0e6b12c/src/audio/crossover/crossover_generic.c#L101) This works because the definition of [`audio_stream_copy`](https://github.com/thesofproject/sof/blob/72121fb06c0f

[2021-07-13 22:27] #4342 closed

[2021-07-14 00:10] cujomalainey opened #4488 "[BUG] Reset Handler Cleanup"
Follow up from [here](https://github.com/thesofproject/sof/pull/3789/files#diff-c3b15aa3cf6ee70bf6aab304248b7e223c4876a91b558b9ad8cde290a6604c52R326)

Now that we have well defined behaviour for the reset handler we need to followup on cleaning up state in reset. Initial scan shows some components still in violation

- [ ] Codec adapter has number of variables set in prepare and params step that a

[2021-07-14 02:55] XiaoyunWu6666 commented on #4411
dma buffer issue seems to disappear from daily test result .
Let's close it and reopen once it happened again

[2021-07-14 02:55] #4411 closed

[2021-07-14 03:02] XiaoyunWu6666 commented on #4424
dma buffer issue seems to disappear from daily test result .
shall we close it ? and reopen once it happened again

[2021-07-14 03:30] XiaoyunWu6666 commented on #4423
buffer_new issue seems to disappear from daily test result .
shall we close it ? and reopen once it happened again

[2021-07-14 03:30] XiaoyunWu6666 commented on #4422
dma buffer allocation issue seems to disappear from daily test result .
shall we close it ? and reopen once it happened again

[2021-07-14 05:53] RDharageswari commented on #4418
I still see some issue in my testing. with the tgl-13 branch with the fixes above.
If i have the following configs enabled in kernel, I dont see any issues.
+CONFIG_SND_SOC_SOF_DEBUG=y
+CONFIG_SND_SOC_SOF_DEBUG_ENABLE_FIRMWARE_TRACE=y
+CONFIG_SND_SOC_SOF_DEVELOPER_SUPPORT=y

If i dont have the above in kernel i see the following issue:
Start playback on one terminal(speaker with DSM)
localhost ~ #

[2021-07-14 12:37] lyakh commented on #4400
Just ran both tests on an UP2 with a PCM512x codec with an SMP tweak with an older 5.11-ish kernel - no reproduction. Then repeated the tests with a current 5.14-ish - and both tests failed. check-runtime-pm-status.sh failed with
[code]
and check-suspend-resume.sh failed with
[code]

[2021-07-14 14:27] lgirdwood commented on #4400
@lyakh @dcpleung part of the power down is that we need to disable all IP that can cause bus transactions prior to D3. i.e. we need to ensure the timer is OFF (the enable bit must be clear). Today, SOF takes care of most IP, but some IP (like timer) is under Zephyr control today.

[2021-07-14 15:34] lyakh commented on #4459
@XiaoyunWu6666 @mengdonglin good to close this? A fix in in upstream #4479

[2021-07-14 16:29] dcpleung commented on #4400
Zephyr doesn't even have a way to shutdown the device (though there is `sys_reboot()`). The model assumes that the hardware would run forever.

I wonder if it is possible to utilize PM deep sleep to do this, by enabling PM in Zephyr and implementing `pm_power_state_set()`. Deep sleep is only allowed when there is need to power off the DSP. Then you can do shutdown instead.

[2021-07-14 19:19] plbossart commented on #4422
The same error was seen in https://sof-ci.sh.intel.com/#/result/planresultdetail/5261?model=JSL_RVP_NOCODEC&testcase=multiple-pipeline-all

[2021-07-14 20:40] plbossart commented on #2124
@brentlu @cujomalainey @fletcherw @bzhg does the recent work with the early BCLK enabling solve this SRM lock delay? I vaguely recall seeing such a statement, but the explanations above only talk about FSYNC which is still enabled in the trigger phase when data transfers start (the actual data come with a delay due to SOF pipelining).

Also adding @lgirdwood and @sathya-nujella on the Intel side.

[2021-07-15 02:00] aiChaoSONG opened #4491 "[BUG] SOF linker error, .bss cannot fit into sof_fw section"
The APL FW cannot be built with XCC because of a linker error, the issue is also reproduced on CI.
[code]

[2021-07-15 06:04] XiaoyunWu6666 opened #4492 "[BUG] IPC timed out when multiple-pause-resume on APL_UP2_NOCODEC_ZEPHYR"
**Describe the bug**
in inner daily 5308 testcase=multiple-pause-resume-25
ipc timed out when multiple-pause-resume on APL_UP2_NOCODEC_ZEPHYR

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25

**Environment**
Start Time: 2021-07-15 02:10:50 UTC
End Time: 2021-07-15 04:47:20 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: 9b

[2021-07-15 06:17] XiaoyunWu6666 commented on #4459
good to me .
As daily test shows , ipc timed out on TGLH_RVP_NOCODEC_ZEPHYR and APL_UP2_NOCODEC_ZEPHYR when multiple-pipeline/ pause-release / suspend-resume , do not happen when simply aplay .

[2021-07-15 07:03] XiaoyunWu6666 opened #4493 "[BUG] IPC timed out when multiple-pipeline on TGLH_RVP_NOCODEC_ZEPHYR"
**Describe the bug**
ipc timed out and when multiple-pipeline on  TGLH_RVP_NOCODEC_ZEPHYR

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-h-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f c -l 50

**Environment**
Start Time: 2021-07-15 02:10:50 UTC
End Time: 2021-07-15 04:47:20 UTC
Kernel Branch: topic/sof-dev
Kernel Commit: 9b277b80
SOF Branch: main
SOF Commit: 0fa9f7d89202

[2021-07-15 07:05] XiaoyunWu6666 opened #4494 "[BUG] IPC timed out when multiple-pause-resume on TGLH_RVP_NOCODEC_ZEPHYR"
**Describe the bug**
inner daily 5289?model=TGLH_RVP_NOCODEC_ZEPHYR&testcase=multiple-pause-resume-25
ipc timed out in multiple-pause-resume , when arecord with DMIC and DMIC16kHz  on TGLH_RVP_NOCODEC_ZEPHYR

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-h-nocodec.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25

**Environment**
Start Time: 2021-07-15 02:10:50 UTC
End Time: 20

[2021-07-15 08:14] aiChaoSONG commented on #4491
revert 38f18bd082747c7fc0859987c9a034c663118266 fix the issue

[2021-07-15 09:39] kkarask commented on #4166
Glitches are visible in test 14_08_TestDemuxEchoSynchronized48000Hz32b32b4ch without start/stop operations . The topology is the same.

WHL RVP platform (near the start of the capture:)
![image](https://user-images.githubusercontent.com/82518823/125765990-77ef6b6d-e317-4bc1-ab91-951c9ea94dea.png)

APL RVP platform (the whole file):
![image](https://user-images.githubusercontent.com/82518823/125766

[2021-07-15 10:10] wszypelt opened #4497 "[BUG] Glitch in 10_05_TestIpcStressUnderLoad8000Hz16b16b8ch"
**Describe the bug**
Test 10_05_TestIpcStressUnderLoad8000Hz16b16b8ch
Glitch was found near the start of the stream

**Topology**
[code]

**To Reproduce**
Run test with Diagnostic driver 10_05_TestIpcStressUnderLoad8000Hz16b16b8ch
With options --playback-iterations=75

**Reproduction Rate**
Sporadic. 1/75

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology

[2021-07-15 10:13] kkarask opened #4498 "[BUG] Glitches on the whole capture with HDA intefaces"
**Describe the bug**
Glitch was found in test 06_04_TestHdaPipelineCreateDelete48000hz24b32b4ch
Playback and capture pipelines are connected HDA interface.
Play  stream on playback pipeline, record stream on capture pipeline, destroy topology, repeat creating topology, playing and recording.

Glitches are visible on the whole capture on 1, 2, 4 channels. 3 channel has glitches only at the beginnin

[2021-07-15 10:21] wszypelt opened #4499 "[BUG] Glitch in 14_03_TestDemuxSynchronizedPlayback24000Hz24b32b8ch"
**Describe the bug**
Test 14_03_TestDemuxSynchronizedPlayback24000Hz24b32b8ch
Glitch was found near the start of the stream.

**Topology**
[code]

**To Reproduce**
Run test with Diagnostic driver 14_03_TestDemuxSynchronizedPlayback24000Hz24b32b8ch
With options --playback-iterations=75

**Reproduction Rate**
Sporadic. 2/75

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (

[2021-07-15 10:57] slawblauciak commented on #4491
P1 as it blocks SOF CI

[2021-07-15 11:04] kkarask commented on #4491
It affects CI SOF regression tests. Builds are failing due to that issue.

[2021-07-15 13:43] lgirdwood commented on #4491
@aiChaoSONG PR revert merged. Lets re-test.
@keyonjie fyi, will need a fix on APL.

[2021-07-15 16:51] cujomalainey commented on #2124
I haven't tested, I am working remote till aug ~10 (currently at the mercy of westjet and they are doing their best to mess with me) so I can't pull ToT and test. I didn't see any work land in the machine driver for the da7219, we would need to enable the clock early there wouldn't we?

[2021-07-15 16:57] plbossart commented on #2124
we use the same topology as for the CS42L42 and the changes in the kernel are related to the SSP in general, not the machine driver.

[2021-07-15 18:23] marc-hb commented on #4459
Thanks @XiaoyunWu6666 , closing

[2021-07-15 18:23] #4459 closed

[2021-07-16 02:21] sathya-nujella commented on #4382
Hello,
Thank you @ranj063 and team,

For TGL alone, we got approval from Google to take the below change as CHROMIUM only patch for Chrome-kernel 5.4 and got merged there (CHROMIUM only: can not go upstream)  as a fix for this issue  (for future platforms - dynamic pipelines, not this WA)

Diff which is taken for ref:

[code]

https://chromium-review.googlesource.com/c/chromiumos/third_party/kerne

[2021-07-16 09:53] marc-hb commented on #4420
A few rough edges and not reviewed yet but PR #4503 works4me if you want to give it a try. Tested only with a revert of #4377 for now.

[2021-07-16 10:36] lyakh commented on #4414
I'm looking at daily test from 15.07 number 5308. APL_UP2_NOCODEC_ZEPHYR failed several tests there, e.g. multiple-pipeline-playback-50 and the failure links to this bug report. However this issue is specifically for an arecord failure, whereas that failure is playback. Further 5308 doesn't have any "IPC timed out" entries in the kernel log. That failure therefore seems to be unrelated.

[2021-07-16 14:33] lgirdwood commented on #4492
@XiaoyunWu6666 @mengdonglin it looks like these Zephyr related issues from yesterday are all probably related.

[2021-07-16 19:40] plbossart commented on #4422
and it's not visible in test 5308. let's see if this continues....

[2021-07-16 20:04] lgirdwood commented on #4434
@XiaoyunWu6666 are these memory bugs now still all open after #4445 merged ?

[2021-07-16 20:12] lgirdwood commented on #4424
@XiaoyunWu6666 this and the other memory PRs should be tested and closed as @keyonjie fix has been merged.

[2021-07-16 20:12] #4424 closed

[2021-07-16 20:28] lgirdwood commented on #4423
Fixed by @keyonjie heap patch.

[2021-07-16 20:28] #4423 closed

[2021-07-16 20:32] lgirdwood commented on #4400
@dcpleung ```pm_power_state_set()``` wont work on it's own as we need to make sure we are disabling all IP, masking IRQs etc. e.g. the timer must be switched off so that it will never assert during the shutdown flow, and scheduling needs to be shutdown prior to timer etc..

[2021-07-16 20:58] dcpleung commented on #4400
Just for clarification, when you say shutdown, do you mean the SoC is totally off, so next time it starts from scratch (like power-cycle)? If so, it might be possible to fake deep sleep into a shutdown.

[2021-07-16 21:10] plbossart commented on #4424
@lgirdwood we haven't tested TGL_VOLT_SDW for a while due to boot issues... It's unclear how this platform works at the moment.

[2021-07-16 21:21] lgirdwood commented on #4422
@XiaoyunWu6666 can you retest, @keyonjie heap PR is merged so lots of the recent memory issues can be retested and closed if good.

[2021-07-16 21:25] lgirdwood commented on #4400
I mean the DSP is totally OFF and it does start from scratch next time. The DSP FW must power off and shutdown all it's internal facing IP before the host driver puts the DSP PCI device into D3. Not doing this can lead failure to enter D3 or D0.

[2021-07-19 01:01] XiaoyunWu6666 commented on #4422
Sure. I will give the feedback soon

[2021-07-19 07:36] XiaoyunWu6666 commented on #4423
in inner daily 5308 , this bug did not happen

[2021-07-19 07:37] XiaoyunWu6666 commented on #4434
TGLU_RVP_SDW boot_failed  in inner daily 5308 , let me double check it

[2021-07-19 07:44] XiaoyunWu6666 commented on #4434
@lgirdwood @plbossart
inner daily 5343 model=TGLU_VOLT_SDW testcase=multiple-pause-resume-25
inner daily 5343 model=TGLU_VOLT_SDW testcase=multiple-pipeline-capture-50
this issue still happened.
[etrace]
[code]

[2021-07-19 07:52] keyonjie commented on #4434
@lgirdwood @XiaoyunWu6666 this is not memory issue, it is xrun issue so my heap refinement will not help.

[2021-07-19 08:18] lgirdwood commented on #4434
@keyonjie ok, can you change the subject then to match the bug.

[2021-07-19 08:22] keyonjie commented on #4434
sure, done.

[2021-07-19 09:22] XiaoyunWu6666 commented on #4424
@lgirdwood @plbossart
below are two fail cases in daily test on TGLU_VOLT_SDW, both about xrun
inner daily 5343?model=TGLU_VOLT_SDW&testcase=multiple-pipeline-capture-50
inner daily 5343?model=TGLU_VOLT_SDW&testcase=multiple-pause-resume-25

It seems to have nothing to do with 'failed to alloc dma buffer'

[2021-07-19 13:48] slawblauciak commented on #4418
This looks like an entirely different issue altogether. The xrun doesn't seem to appear anymore, as the stream keeps going, even though there's nothing coming through the speakers. I don't know about you, but I also noticed occasional DSP panics originating from DMA, right here:

`static void dw_dma_verify_transfer(struct dma_chan_data *channel,
				   struct dma_cb_data *next)`

More specifically

[2021-07-19 14:43] lgirdwood commented on #4418
So this could be a race between synchronizing the SRAM with the DMA HW LLI DONE bits and a pipeline state change (for start/stop etc). We probably need a spinlock around this and the state change (we may be missing a lock in one of these places).

[2021-07-19 15:46] fuyuntsuo commented on #4418
We are able to reproduce the issue on our side, but the observation is quite different:

1. It does not relate to the kernel config. Whether the debug config is enabled or not, the issue can be reproduced.
2. This issue is barely reproducible using ChromeOS App (such as online audio record plus Youtube). Combined 1&2, it's very likely to be a timing or a memory issue.
3. The speaker xrun is not 10

[2021-07-19 16:29] singalsu commented on #4488
Thanks @cujomalainey for nice summary! I'm targeting make a fix PR before my vacation next week for components assigned to me.

[2021-07-19 16:38] yongzhi1 commented on #4382
Close as [CR #3025608](https://chromium-review.googlesource.com/c/chromiumos/third_party/kernel/+/3025608) got merged.

[2021-07-20 01:22] XiaoyunWu6666 commented on #4434
Yes , thanks @keyonjie
As what we discussed before , do you think current daily test is not 'hard' enough to reproduce xrun issue? for example in today's daily test TGLU_RVP_NOCODEC_MULTICORE is with all green . However , this issue is still hiding below.

[2021-07-20 02:47] XiaoyunWu6666 opened #4506 "[BUG]APL_UP2_NOCODEC_ZEPHYR dsp not suspended after 15s when check-kmod-load-unload"
**Describe the bug**
APL_UP2_NOCODEC_ZEPHYR
dsp not suspended after 15s when check-kmod-load-unload
inner daily 5356 model=APL_UP2_NOCODEC_ZEPHYR testcase=check-kmod-load-unload-25

**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg ~/sof-test/test-case/check-kmod-load-unload.sh -l 25

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 8877846e storage: 8877846e
SOF

[2021-07-20 02:55] XiaoyunWu6666 opened #4507 "[BUG] dsp not suspended after 15s when runtime suspend on TGLH_RVP_NOCODEC_ZEPHYR"
**Describe the bug**
TGLH_RVP_NOCODEC_ZEPHYR dsp not suspended after 15s when check-kmod-load-unload
inner daily 5356 model=TGLH_RVP_NOCODEC_ZEPHYR testcase=check-runtime-pm-status-15

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-h-nocodec.tplg ~/sof-test/test-case/check-runtime-pm-status.sh -l 15

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 8877846e storage: 8877846e

[2021-07-20 03:21] XiaoyunWu6666 opened #4508 "[BUG]firmware boot failure after resume ,on ADLS_RVP_HDA and IO error happened"
**Describe the bug**
firmware boot failure after resume ,on ADLS_RVP_HDA and IO error happened
inner daily 5357?model=ADLS_RVP_HDA&testcase=check-runtime-pm-status-15
[dmesg]
[code]

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-2ch.tplg ~/sof-test/test-case/check-runtime-pm-status.sh -l 15

**Reproduction Rate**
not sure
**Environment**
Kernel Branch: topic/sof-dev
Kernel Com

[2021-07-20 07:35] mengdonglin commented on #4507
@slawblauciak thinks this may have relation with https://github.com/thesofproject/sof/issues/4480

[2021-07-20 07:36] mengdonglin commented on #4508
@slawblauciak thinks this may have relation to #4480

[2021-07-20 07:41] slawblauciak commented on #4491
@aiChaoSONG good to close now?

[2021-07-20 07:45] #4422 closed

[2021-07-20 08:11] aiChaoSONG commented on #4491
keyon provided new fix, 424beb0f8ff9548efeef8f2bc81baf70e0415e40, close.

[2021-07-20 08:11] #4491 closed

[2021-07-20 09:06] mengdonglin commented on #3965
@RDharageswari Do you think we can close this issue?

[2021-07-20 10:08] kkarask commented on #4080
Glitch was found also in test where playback pipeline is connected to master SSP, capture pipeline is connected to slave SSP (02_01_TestPtpSimpleLoopbackMasterPlayback48000Hz32b32b4ch).
Reproduction rate: 2/75.

![image](https://user-images.githubusercontent.com/82518823/126306238-519b41a7-4bc4-448d-a65a-1b7dc5b552a4.png)

[2021-07-20 15:06] kv2019i commented on #4508
So I guess the link to issue #4480 is patch https://github.com/thesofproject/sof/pull/4466 . Multiple boots have succeeded before the failure, so this could be related.

[2021-07-20 17:42] kv2019i commented on #4507
I could reproduce this on a TGL-U platform as well. This looks the same as #4400 . The log I get is this:

[ 3247.161405] sof-audio-pci-intel-tgl 0000:00:1f.3: ipc tx: 0x40010000: GLB_PM_MSG: CTX_SAVE
[ 3247.663096] sof-audio-pci-intel-tgl 0000:00:1f.3: error: ipc timed out for 0x40010000 size 76
[ 3247.663111] sof-audio-pci-intel-tgl 0000:00:1f.3: preventing DSP entering D3 state to preserve cont

[2021-07-21 07:17] wszypelt opened #4519 "[BUG] glitch in 14_04_TestDemuxSynchronizedCapture48000Hz32b32b4ch"
**Describe the bug**
Test 14_04_TestDemuxSynchronizedCapture48000Hz32b32b4ch
Glitch was found near the start of the stream.

**Topology**
[code]
"Demuxing" one playback pipeline using Demux component in capture pipeline into two capture pipelines, where
Demux component is included in Host-Dai pipeline with Volume component.
loopback signal on external SSP connection. Record signals on capture pipe

[2021-07-21 07:18] kkarask commented on #4180
Glitches are visible in the capture stream when SRC component is in playback and capture pipeline.

Tests which failed: 11_02_TestSrcSimpleCapture48000On16000Hz32b32b4ch and 11_01_TestSrcSimple16000On48000Hz32b32b4ch witch reproduction rate 1/75.

[2021-07-21 07:44] wszypelt opened #4520 "[BUG] Glitch in 17_04_TestMultiCoreCompVolPlb8000Hz16b16b1ch"
**Describe the bug**
In test 17_04_TestMultiCoreCompVolPlb8000Hz16b16b1ch glitch was found.

**Topology**
[code]
The internal loopback (same SSP) test with pipelines run on the same cores with signal verification.
Playback pipeline contains volume component runs on different core.

**To Reproduce**
Run test with Diagnostic driver 17_04_TestMultiCoreCompVolPlb8000Hz16b16b1ch
With options --playback

[2021-07-21 08:28] lgirdwood commented on #4080
@kkarask we think we may be getting closer to why the python driver and the no_codec CI devices are showing some issues as more reproducible.  Python driver and no codec mode are probably sending IPCs for some sequences faster that the kernel driver in codec mode (as codec mode means lots of slow & blocking I2C IO with codecs).

Can you rerun the test with #4471 locally merged and let us know if t

[2021-07-21 08:30] lgirdwood commented on #4508
Are we booting from IMR of using code loader here ?

[2021-07-21 08:32] lgirdwood commented on #4506
Thanks @XiaoyunWu6666 , this issue is a work item on @kv2019i list. We are missing some parts of the IP shutdown sequence as they are being transferred into Zephyr SOC support. @dcpleung fyi.

[2021-07-21 09:18] lgirdwood commented on #4507
@XiaoyunWu6666 this is the same bug as the APL version, it's on @kv2019i task list. @dcpleung fyi.

[2021-07-21 09:24] lgirdwood commented on #4180
@kkarask can you alos test this with #4471 locally. Thanks, we think they may all be related.

[2021-07-21 11:26] singalsu opened #4522 "[BUG] Component tuning and audio test scripts do not work with topology2"
**Describe the bug**

The Matlab language scripts in tools/tune and tools/test/audio directories do not work with topology2.

**To Reproduce**
Create configuration blob for component or run audio_process_test().

**Reproduction Rate**

**Expected behavior**
Similar as with topology1

**Impact**
Showstopper for doing new component setup blobs with topology2. Only minimal configuration blobs
set for

[2021-07-21 13:25] singalsu commented on #4372
@lgirdwood Sorry for slow response, I missed this. The scheduling of dmic work is not critical.  The execution of HW gain updates do not need to be in exact grid, some jitter is allowed. I don't think it would make the zipper noise from gain updates audible. Also if a 200 ms ramp is 200 +/- 5 ms something or maybe even +/- 10 ms it does not impact use cases. I can test this, how is the work type c

[2021-07-21 13:32] singalsu commented on #4372
@lgirdwood @RanderWang We could eliminate HW gain ramping in dmic driver if we could ensure there's always volume component in the capture pipeline that could do the unmute ramp. The logaritmic ramp type would need to be added to volume. In DMIC NHLT patch I've replaced the topology defined ramp duration with hard-coded sample rate dependent ramp. It's not nice and but currently there's no other w

[2021-07-21 18:58] lgirdwood commented on #4372
@singalsu can the unmute ramp steps be part of the copy() callback. e.g. every copy() increment the volume ?

[2021-07-21 23:09] iuliana-prodan opened #4523 "[FEATURE] Extend zephyr_ll to get its LL system tick from the DMA IRQ"
**Is your feature request related to a problem? Please describe.**
Now the zephyr_ll gets its LL system tick from the timer. This runs in IRQ context and is non preemptable.
Therefore is limited to timer_domain - see [here](https://github.com/thesofproject/sof/blob/main/src/schedule/zephyr_ll.c#L450)

**Describe the solution you'd like**
Extend zephy_ll to get its LL system tick from the DMA IRQ

[2021-07-22 02:56] XiaoyunWu6666 opened #4526 "[BUG][APL]dai_sg_alloc ERROR when multiple-pipeline on APL_UP2_NOCODEC"
**Describe the bug**
inner daily 5401?model=APL_UP2_NOCODEC&testcase=multiple-pipeline-all
(also inner daily 5449?model=APL_UP2_NOCODEC&testcase=multiple-pipeline-all)
when multiple-pipeline ,dms_sg_alloc failed with err -12 in dai_capture_params. causing  ipc error when PCM_PARMS

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg ~/sof-test/test-case/multiple-pipeline.sh -f

[2021-07-22 03:37] ranj063 commented on #4526
@XiaoyunWu6666 could you please check if https://github.com/thesofproject/sof/pull/4521/ can fix this?

[2021-07-22 04:28] marc-hb commented on #4526
Before testing a fix: can this be reproduced easily?

[2021-07-22 04:40] XiaoyunWu6666 commented on #4526
yes, it can

[2021-07-22 04:46] ranj063 commented on #4526
@marc-hb I added a PR to add 2 more PCMs to all nocodec topologies yesterday for deep buffer support. Im not surprised this showed up. If Keyon's PR doesnt help, we might need to trim down the pipelines for APL nocodec.

[2021-07-22 04:53] XiaoyunWu6666 commented on #4526
Yes let me check

[2021-07-22 05:22] keyonjie commented on #4526
the PR#4521 is not quite ready yet, let's try it later.

[2021-07-22 05:50] marc-hb commented on #4526
Thanks, mentioning commit 6516a8c89ba0 would have helped.

[2021-07-22 06:11] marc-hb commented on #4523
From #4503

[2021-07-22 08:36] kkarask commented on #4180
@lgirdwood I run tests with SRC component  with #4471 and found fails:

- test: 11_01_TestSrcSimple16000On48000Hz32b32b8ch
glitch with reproduction rate: 1/100.
![image](https://user-images.githubusercontent.com/82518823/126611142-eae2376d-0e9f-4442-9fb2-bac4f6b5b163.png)

- test: 11_01_TestSrcSimple16000On48000Hz24b32b4ch
glitch with reproduction rate: 1/100
![image](https://user-images.githubuse

[2021-07-22 08:37] kkarask commented on #4080
@lgirdwood I rerun tests on #4471  and tests passed, but problem can still exists because reproduction rate is not high. See also related issue: https://github.com/thesofproject/sof/issues/4180

[2021-07-22 09:07] kv2019i commented on #4493
I could reproduce this now on a TGL system.

[2021-07-22 09:24] kv2019i commented on #4493
Hmm, it seems the occurence rate is less than <1/10. If the multi-pipeline test is run for more than 10 iterations, then you start hitting failures reliably. Curiously, the IPC timeout is preceded by a  DSP overload situation:

68475050 1783204 us, 45 us:  ssp_start()
68477892 1783278 us, 74 us:  task add 0x9e059d50 0x1fffa180U priority 0 flags 0x0
68482700 1783403 us, 125 us:  validate(), ll drif

[2021-07-22 11:16] slawblauciak commented on #4418
This new issue of playback audio going away is not related to the initially reported xrun problem. The xrun was caused by incorrect scheduling of multicore tasks in the firmware. This new problem however, is caused by something wrong going on in the DMA driver. The tasks and scheduling in this particular case are functioning correctly. As to what exactly is going on, I'm still trying to track down

[2021-07-22 13:13] kv2019i commented on #4493
Tested with XCC build and the problem is no longer hit. With GCC build, the nocodec pipeline load goes to 90% during the test case and if there are transient spikes in processing, the DSP can no longer catch up. The XCC build has sufficient margin to handle stream start/stop actions on core0 and the problem is not hit.

XCC build requires recently merged XCC patchset to Zephyr -> https://github.co

[2021-07-22 13:39] plbossart commented on #4526
I just don't get how we end-up with such regressions.

Ranjani's change to use the deep-buffer was tested with PR #4516 - no problems detected.
https://sof-ci.01.org/sofpr/PR4516/build9704/devicetest/

The mixer change was also tested https://sof-ci.01.org/sofpr/PR4517/build9703/devicetest/

????

[2021-07-22 14:29] fuyuntsuo commented on #4418
Thanks for clarification @slawblauciak . Indeed the DMIC period workaround is a false positive. We did reproduce the issue later.

From what we have seen with tracev, the `read_ptr` below suddenly becomes to zero for unknown reason. Then XRUN occurs.

However we also find that both `channel->dma` and `DW_SAR(channel->index)` do not change compared to the previous `dw_dma_free_data_size()` being ca

[2021-07-22 15:51] plbossart commented on #4526
Bisecting results:

[code]

[2021-07-22 15:55] plbossart commented on #4526
https://github.com/thesofproject/sof/pull/4532 reverts all the recent commits impacting APL from the first bad commit above.

[2021-07-22 16:21] ranj063 commented on #4526
we dont run multiple-pipeline-all test in the device test for PRs. thats why

[2021-07-22 19:53] lgirdwood commented on #4080
Thanks @kkarask, do you mean that #4471 decreases the reproduction rate ? if so by how much ?

[2021-07-22 19:57] lgirdwood commented on #4180
Thanks again @kkarask , so for this topology it reduces the reproduction rate, but not full fix.

[2021-07-22 20:12] lgirdwood commented on #4180
@kkarask do you know the buffer/period size used by the diagnostic driver on the host side, if we were to see glitches in the first 2 - 5 ms this could be explained by FW (as it uses 1ms buffers), but these glitches could be related to the size of host side buffers.

[2021-07-22 23:37] joeracer321 opened #4535 "[BUG] Dell XPS 17 9710 No Audio"
Several users, myself included do not have functioning audio in Ubuntu.  This bug was originally reported to the Ubuntu board, but after their review, they suggested reporting the bug here.  This issue appears to be common to several distributions and versions.  The original thread can be found here: <<https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/1935850>>. I've attached the text fro

[2021-07-22 23:49] #4535 closed

[2021-07-23 02:53] keyonjie commented on #4418
Is the google KWD enabled with the test? Can we try this with Google Assistant disabled?
On the other side, is it possible to try this with the SOF main branch? We have several later DMIC multi-core related fixes on the main IIRC.

[2021-07-23 04:30] XiaoyunWu6666 opened #4538 "[BUG]DSP panic when suspend-resume on cml-sku0983-sdw and cml-sku0955-hda"
**Describe the bug**
in inner daily  /5449?model=CML_SKU0983_SDW&testcase=check-suspend-resume-50
DSP panic when suspend-resume

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt711-rt1308-mono-rt715.tplg ~/sof-test/test-case/check-suspend-resume.sh -l 50
**Reproduction Rate**
rather low maybe , cannot reproduce it yet (once I can , I'll update this comment)

**Environment**
Kernel Bra

[2021-07-23 10:05] kv2019i opened #4539 "[BUG][Zephyr][JSL] boot fails on cavs20 platforms"
**Describe the bug**
SOF-Zephyr boot fails on cavs20 platforms like JSL.

**To Reproduce**
Build SOF-on-Zephyr with icl target, boot on DUT.

**Reproduction Rate**
100% (tested on two separate systems)

**Expected behavior**
Boot successful.

**Impact**

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: 5.13.0-rc5

[2021-07-23 11:11] kkarask commented on #4080
@lgirdwood yes, it looks like reproduction rate was decreased. After run 3000 tests result is 0.001% fail.

[2021-07-23 11:29] lgirdwood commented on #4080
@lyakh fyi

[2021-07-23 12:08] kv2019i opened #4541 "[FEATURE][IPC4] build time checks for bitfield ordering in packed structs"
**Is your feature request related to a problem? Please describe.**
Some ABI structs in SOF (like src/include/ipc4/module.h) use bitfields in packed structs. This usage is dependent on compiler behaviour and how it covers packed-attribute for such structs (e.g. endianess of the bitfield).

**Describe the solution you'd like**
SOF should have a build time check that compiler is following expected ru

[2021-07-23 12:13] plbossart commented on #4535
Duplicate of https://github.com/thesofproject/linux/issues/3057

[2021-07-23 12:38] kkarask commented on #4180
@lgirdwood Buffer size depends on audio format and is different in each test. For test
11_03_TestSrcSamplingRateChange16000Hz32b32b8ch buffer_size = 1024
11_03_TestSrcSamplingRateChange48000Hz32b32b4ch buffer_size = 1536

[2021-07-23 14:00] lgirdwood commented on #4180
So this looks very small for a 32bit sample size * 8 channels host buffer. i.e. 1 frame is 256 bytes, so we only get 4 frames in the buffer or 240uS

Do you mean 1024 frames instead ??  This would give us 15.625 ms per buffer.

Ditto as above, could this be in frames ?

Btw, do you also know how these buffer are sent via DMA, i.e. how many chunks/periods are the buffers split into when programming

[2021-07-23 15:07] lyakh opened #4542 "[BUG][ZEPHYR][HDA] hda-generic topologies don't work"
**Describe the bug**
Tested a sof-hda-generic topology on Mantis / CNL and it exploded with HDA link DMA timeouts. Tested both dynamic and static topology, single- and multi-core. The nocodec topology works with Zephyr on the same hardware and the same kernel.

**To Reproduce**
load Zephyr-built firmware.

**Reproduction Rate**
100%

[2021-07-23 15:21] lgirdwood commented on #4493
@lyakh @kv2019i @andyross fyi performance should also align shortly once we move objects into cache region, @ranj063 is working on the coherency issues so that we can use cache alias when needed. @andyross I guess you have plans for cache alisa usage on Zephyr code too ?

[2021-07-23 15:38] lgirdwood commented on #4488
@cujomalainey @singalsu I've added check boxes to allow us to follow whats done. @singalsu please update.

[2021-07-26 08:33] kkarask opened #4547 "[BUG] FW replied with error. Error code: -12"
**Describe the bug**
During test 19_00_TestAsrcPlayback8000Hz32b32b2ch error code was found.
FW replied with error. Error code: -12 0x00000005 0x00000000 0x00004000

**Topology**
[code]

**To Reproduce**
Run test 19_00_TestAsrcPlayback8000Hz32b32b2ch with Diagnostic driver.

**Reproduction Rate**
100% on APL RVP

**Environment**
1) Firmware branch name and commit
    * SOF: Branch: main, Hash: 004

[2021-07-26 10:32] lgirdwood commented on #4547
Looks like we are OOM here. @keyonjie fyi, probably a good idea to dump heap (from alloc.c) when we fail to alloc memory.
@kkarask I'm assuming this was the only topology loaded ? Did other ASRC tests work on this platform ?

[2021-07-26 10:34] lgirdwood commented on #4547
@kkarask oh, I see there is a fix. Can you try this test again with #4521 locally merged.

[2021-07-26 10:47] keyonjie commented on #4547
hi @lgirdwood @kkarask we are quite difficult to allocate big runtime blocks on APL, here looks the request of 2684 Bytes failed for asrc, I am adding more useful logs to print out the heap blocks usage when needed: https://github.com/thesofproject/sof/pull/4548

[2021-07-26 10:49] juimonen commented on #4547
just curious, is this the only format/samplerate that fails, or are there others?

[2021-07-26 23:01] RDharageswari commented on #4418
Hi Keyon,
I am able to repro the issue without Ghoogle Assistant also.

[2021-07-27 00:47] johnylin76 commented on #4488
Updated check boxes for drc and multiband_drc since #4546 is merged.

[2021-07-27 06:04] XiaoyunWu6666 opened #4551 "[BUG] timeout on STREAM_SD_OFFSET read when suspend-resume on CML"
**Describe the bug**
timeout on STREAM_SD_OFFSET read when suspend-resume on CML
inner daily /5515?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-capture-5
**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt1011-rt5682.tplg ~/sof-test/test-case/check-suspend-resume-with-audio.sh -l 5 -m capture

**Environment**
Start Time: 2021-07-26 21:24:47 UTC
End Time: 2021-07-27 04:58:29 UT

[2021-07-27 06:04] XiaoyunWu6666 opened #4558 "[BUG] timeout on STREAM_SD_OFFSET read when suspend-resume on CML Helios"
**Describe the bug**
timeout on STREAM_SD_OFFSET read when suspend-resume on CML
inner daily /5515?model=CML_HEL_RT5682&testcase=check-suspend-resume-with-capture-5
**To Reproduce**
[code]
`-S 1 -w 3` save some time while preserving an acceptable ssh experience. For faster reproduction on a local system try `-S 1 -w 1`?

`-m capture` is critical: `-m playback` never reproduced even after 100 itera

[2021-07-27 06:48] XiaoyunWu6666 opened #4552 "[BUG]ipc timed out when runtime resume/system-suspend-resume on TGLU_RVP_NOCODEC_CI"
**Describe the bug**
Found in  inner daily 5515
According to console ,dsp already got suspended .
When tried  'arecord -D hw:0,1 -r 48000 -c 2 -f S16_LE /dev/null -q' (Iteration 12/15)  ,error happened.
According to dmesg,ipc timed out when kernel sending PIPE_COMPLETE to firmware to complete pipeline PIPELINE.3.SSP1.OUT

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec-ci.tplg ~

[2021-07-27 07:01] XiaoyunWu6666 opened #4553 "[BUG]ipc timed out when CTX_SAVE on TGLU_RVP_NOCODEC_MULTICORE"
**Describe the bug**
inner daily 5515?model=TGLU_RVP_NOCODEC_MULTICORE&testcase=check-suspend-resume-50
ipc timed out when CTX_SAVE
**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/check-suspend-resume.sh -l 500
**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 2113dc7f
SOF Branch: main
SOF Commit: 57ee04f2d931
 Topology: sof-tgl-nocodec-ci

[2021-07-27 09:56] kkarask commented on #4547
@lgirdwood unfortunately PR #4521 doesn't fix this issue. Results are exactly the same with #4521 and without it.

@juimonen all tests with sample rate 24/32 and 32/32 failed.

Results:

![image](https://user-images.githubusercontent.com/82518823/127129790-22abfc2b-ee8f-4d24-8bf6-412693cd8664.png)

[2021-07-27 10:50] keyonjie commented on #4552
looks the pipeline complete IPC timeout for pipeline 3 on core 3, @lyakh is it possible related with your commit "ipc: let secondary cores acknowledge IPC message"?

[2021-07-27 11:03] keyonjie commented on #4547
@lgirdwood @kakulesza we need to get https://github.com/thesofproject/sof/pull/4548 merged first to capture more valuable logs for this issue.

[2021-07-27 13:29] XiaoyunWu6666 commented on #4553
I run this directly after rebooting and got a FAILED at the 259/500 rounds (really hard to reproduce)
[code]

[2021-07-27 14:01] lgirdwood commented on #4552
@XiaoyunWu6666 how reproducible is this ?
@keyonjie A lot of the multicore issues are related to cache coherency and shared object access races. @ranj063 work should be merged first before we start deep diving other multicore issues (since we dont wont to duplicate effort).

[2021-07-27 14:35] lyakh commented on #4553
@XiaoyunWu6666 can we figure out what core tge failing IPC was sent to? We either need a longer kernel log before the failure or a firmware trace, ideally both :-) Could you attach files instead of pasting?

[2021-07-27 14:47] lgirdwood commented on #4553
Long term we should be able to IPC flood ping to the other cores.

[2021-07-27 20:41] lgirdwood commented on #4558
@XiaoyunWu6666  are you able to do some further investigation.

1) locally revert 0def9056300a4b23d909ba0b36256087af91d2fe and try 20 iterations
2) locally revert  9a7a5ce17dcb339e3fd667c8f12dd50db13afe31 and try 20 iterations.

OR redo the bisect with 20 iterations (based on @plbossart being able to reproduce with 10). Thanks !

@marc-hb @lyakh fyi

[2021-07-27 22:00] plbossart commented on #4558
Note that sometimes 10-20 iterations is not enough. I just ran a check which didn't fail in 50, and my last took 36

[code]

[2021-07-27 22:59] plbossart commented on #4558
With these two commands, I was able to run 100 iterations without issues.

[code]

[2021-07-27 23:06] plbossart commented on #4558
And with these 3 commands I get an error in 11 iterations

[code]
[code]

I would say this confirms the bisect and rules out all following commits after 0def9056300a4b23d909ba0b36256087af91d2fe

[2021-07-28 01:02] marc-hb commented on #4558
I can reproduce relatively quickly to on `jf-cml-hel-rt5682-01` with `TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt1011-rt5682.tplg  sof-test/test-case/check-suspend-resume-with-audio.sh -S 1 -w 3 -l 50 -m capture`... even after reverting both 57ee04f2d931296 and 0def9056300a4 !

Note the DSP is permanently wedged after a failure, `sof-test/tools/kmod/sof_remove` and `_insert` cannot recover it. A

[2021-07-28 01:59] marc-hb commented on #4558
As I wrote in the previous comment, with `TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt1011-rt5682.tplg sof-test/test-case/check-suspend-resume-with-audio.sh -S 1 -w 3 -l 50 -m capture` I can reproduce fairly quickly after about 30 iterations. I **do not think this is a recent SOF regression because I  reproduced with different, weeks-old commits. I even checked out the SOF tag v1.8 and reproduced

[2021-07-28 06:11] XiaoyunWu6666 opened #4560 "[BUG]underrun due to no data available when multiple-pipeline on CML_HEL_RT5682"
**Describe the bug**
in inner daily  5539?model=CML_HEL_RT5682&testcase=multiple-pipeline-all
underrun happened when multiple pipeline and xrun recovery failed
can reproduce it
**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt1011-rt5682.tplg ~/sof-test/test-case/multiple-pipeline.sh -f p -c 20

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 85bfa34a
SOF Branch: main
SOF C

[2021-07-28 06:24] XiaoyunWu6666 opened #4561 "[BUG]underrun and ipc timed out when multiple-pause-resume on CML_HEL_RT5682"
**Describe the bug**
in inner daily   5539?model=CML_HEL_RT5682&testcase=multiple-pause-resume-25
underrun happened when multiple-pau-resume and xrun recovery failed , ipc timed out  also
can reproduce it
**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt1011-rt5682.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 85b

[2021-07-28 07:18] fredoh9 commented on #4558
@marc-hb Same problem with v1.8, that's hard to believe.
I tested with recently daily build, I was able to reproduce the same result with daily build reported.

After reverting two commits above @plbossart mentioned, I'm not able to reproduce the problem.
this is my sof git tree after reverting
[code]

I used this command,
`TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt1011-rt5682.tplg ~/sof-test/te

[2021-07-28 07:22] marc-hb commented on #4558
Looking at daily test results 5539 I see the failures happened in two steps on some platforms and only the first step on others.

- The first and common step is the single-line error message `error: hda_dsp_stream_trigger: cmd X: timeout on STREAM_SD_OFFSET read`. The test stops because of that error but it does not seem fatal.
- The second and less common step starts with the same message, just w

[2021-07-28 08:44] kkarask opened #4563 "[BUG] Glitches in the whole file when pipelines with multicore connected to HDA"
**Describe the bug**
The whole file with glitches was found in test 17_03_TestMultiCoreMultiKernelHda48000hz16b16b4ch

**Topology**
Topology: playback (core 0) and capture (core 1) pipelines connected to HDA with link loopback

[code]

**To Reproduce**
Run test 17_03_TestMultiCoreMultiKernelHda48000hz16b16b4ch with Diagnostic driver with parameter:
--playback_iterations=75

**Reproduction Rate**
1

[2021-07-28 09:05] bardliao commented on #4558
I can still reproduce the issue when  57ee04f2d9312968a8e11fd916195bbacd667180 and 0def9056300a4b23d909ba0b36256087af91d2fe are reverted on my CML SKU 098F device.
[dmesg_revert_2_commits.txt](https://github.com/thesofproject/sof/files/6891626/dmesg_revert_2_commits.txt)

[code]
And test with latest v1.8.x firmware from https://github.com/thesofproject/sof-bin/tree/main/v1.8.x is still on going, s

[2021-07-28 09:08] lgirdwood commented on #4558
So v1.8 would have been validated with a different kernel version. It's also possible the reproducability is dependent on the kernel version too. Has anyone tried the kernel from the v1.8 tag date with HEAD and v1.8 ?

[2021-07-28 09:18] XiaoyunWu6666 commented on #4553
@lyakh I tried that on ubuntu@sh-tglu-rvp-nocodec-multicore-01 again and it failed at the 219 rounds
[code]
[dmesg.log.txt](https://github.com/thesofproject/sof/files/6891782/dmesg.log.txt)

[2021-07-28 09:33] wszypelt opened #4564 "[BUG] Glitch in 10_02_TestPtpParallelExternal8000Hz32b32b8ch"
**Describe the bug**
Test 10_05_TestIpcStressUnderLoad8000Hz16b16b8ch
Glitch was found near the start of the stream

**Topology**
[code]
Simultaneous playback and capture on multiple pipelines connected do various interfaces (SSP loopback, SSP master/slave, DMIC).

**To Reproduce**
Run test with Diagnostic driver 10_02_TestPtpParallelExternal8000Hz32b32b8ch
With options --playback-iterations=75

*

[2021-07-28 09:46] wszypelt opened #4565 "[BUG] Glitch in test 20_01_TestEqIirSimple48000Hz32b32b4ch"
**Describe the bug**
Test 20_01_TestEqIirSimple48000Hz32b32b4ch
Glitch in the whole wav file

**Topology**
[code]
Test is performing simultaneous playback and capture on external SSP interface with recorded signal quality verification.
Playback pipeline contains IIR EQ component with basic configuration.

**To Reproduce**
Run test with Diagnostic driver 20_01_TestEqIirSimple48000Hz32b32b4ch
With o

[2021-07-28 10:03] keyonjie commented on #4558
the SOF v1.8 was tested with this kernel: https://github.com/thesofproject/linux/tree/release-sof-1.8-20210524

[2021-07-28 10:22] wszypelt commented on #4310
Glitches are visible in test 14_00_TestDemuxEchoSynchronized48000Hz32b32b4ch without start/stop operations . The topology is the same.

ICL RVP platform (near the start of the capture:)

![Capture](https://user-images.githubusercontent.com/82375849/127306854-04082074-186e-41e2-8624-d94f25ac1e41.PNG)

[2021-07-28 10:34] lgirdwood commented on #4558
So we do the following for stream START|STOP
[code]
Where the wait delay is 300uS
[code]
The DSP can take up to the next LL tick (up to 1ms) to do the stream DMA START | STOP. Can we try increasing the timeout to 1100uS (including some overhead).

This could be too long for kernel trigger atomic context so we could also remove this polling check here and place it in the PCM position callback e.g.

[2021-07-28 10:43] wszypelt commented on #4435
Glitches are visible in test 17_00_TestMultiCoreSameKernelSsp16000Hz32b32b4ch  The topology is the same, but pipe_plb and pipe_cap  is on the same core(core = 1)
ICL RVP platform (near the start of the capture:)
![image](https://user-images.githubusercontent.com/82375849/127309433-0bb46437-2f1c-41e8-831f-c5a69bfba553.png)

[2021-07-28 16:12] plbossart commented on #4558
We've had issues with firmware boot for a while now, see the query https://github.com/thesofproject/linux/issues?q=is%3Aissue+is%3Aopen+label%3ACSE

What I see from the logs is that we seem to have different patterns of failure

a. the pattern in this bug
[code]

b. a different pattern in kmod tests

Marc's post above and in https://github.com/thesofproject/linux/issues/3056
[code]
c. and yet anot

[2021-07-28 16:26] plbossart commented on #4558
I am not fully convinced @lgirdwood, the key point is that we *only* see this issue in suspend-resume tests. If we had a problem with DMAs we would have seen it in regular playback/capture tests. It's the suspend-resume part that's really important.

[2021-07-28 17:33] lgirdwood commented on #4558
The trace uses the DMA too and is on the LL 1ms tick. Can you try and extend the delay ?

[2021-07-28 17:40] ranj063 commented on #4558
@lgirdwood im trying to reproduce it now. Will try extending the timeout too

[2021-07-28 17:42] marc-hb commented on #4558
Note when I reproduced with the v1.8 tag yesterday it was with gcc10, NOT with XCC.

[2021-07-28 17:49] marc-hb commented on #4558
There are two threads involved: `trace_work` (#4452) and `ipc_send_queued_msg` (#4428). Ignoring Zephyr, `trace_work` runs every 500ms. Not sure about `ipc_send_queued_msg`.

If you don't care waiting until the DMA buffer is full then you can disable `trace_work` entirely.

[2021-07-28 17:56] ranj063 commented on #4558
@lgirdwood extending the timeout delay to 1100us did not help

[2021-07-28 18:26] marc-hb commented on #4558
I tested once again on `jf-cml-hel-rt5682-01` after a night's sleep to make really really sure. Cleaned everything twice and compiled the `v1.8` tag exactly with gcc10:
 `TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt1011-rt5682.tplg ~/sof-test/test-case/check-suspend-resume-with-audio.sh -S 1 -w 3 -m capture` reproduces after 10 iterations.

On the exact same system the v1.8 release tarball compile

[2021-07-28 19:05] lgirdwood commented on #4558
Is ignoring the timeout harmful ? i.e. is it a warning rather than an error ?

[2021-07-28 19:07] ranj063 commented on #4558
if it is really the case of not being able to stop the DMA, then it will likely have power implications or worse prevent system suspend entry.

[2021-07-28 19:16] ranj063 commented on #4558
@bardliao do you mind retrying this? I just tried reverting and the test passes on my helios

[2021-07-28 19:48] lgirdwood commented on #4558
@marc-hb one thing that is obvious is that ```ipc_pm_context_save()``` is NOT switching trace OFF and disabling the DMA channel on the DSP side. Can you make a test patch that
1) calls ```trace_off()``` at the start of  ```ipc_pm_context_save()```.
2) waits or verifies that trace is actually OFF - trace is using one shot IIRC and scheduled via EDF

The issue I'm thinking here if trace DMA is still

[2021-07-28 19:51] ranj063 commented on #4558
@lgirdwood I just rtied something similar in pm_context_save(), disable trace, cancel th scheduled work and free the trace buffer. But it didnt help either

[2021-07-28 20:09] lgirdwood commented on #4558
ok, I assume you have also tried leaving the HPSRAM etc ON ie. dont do any of the power savings in the PM CTX SAVE path and see if this makes any difference ?

[2021-07-28 22:48] RDharageswari opened #4568 "[BUG] [TGL] PCM 99 capture fails with the IGO integrated firmware with Google Assistant "OK Google" feature"
**Describe the bug**
Turn on Google Assistant "OK Google" feature,
arecord -Dhw:0,99 try.wav -c4 -r48000 -fs32_le -d60
localhost ~/dhara # Recording WAVE 'try.wav' : Signed 32 bit Little Endian, Rate 48000 Hz, Channels 4
arecord: set_params:1405: Unable to install hw params:
ACCESS:  RW_INTERLEAVED
FORMAT:  S32_LE
SUBFORMAT:  STD
SAMPLE_BITS: 32
FRAME_BITS: 128
CHANNELS: 4
RATE: 48000
PERIOD_TIME:

[2021-07-28 23:23] marc-hb commented on #4558
Based on @plbossart 's experiments in #4566 I tried the following switch to `va_copy` (with gcc10). The test fails the same, this makes no difference AFAICT. I believe @ranj063 tried something  very similar with XCC and it failed for her too.

The information about `va_copy` and re-use is very... vague or conflicting. For sure `va_copy` must be used if you want to scan the list twice _concurrently

[2021-07-28 23:33] marc-hb commented on #4558
https://pubs.opengroup.org/onlinepubs/009695399/basedefs/stdarg.h.html says:

This seems to imply that invoking va_start() a second time after va_end() _is_ OK.

It's probably easy to dissamble and compare with diffoscope but no time right now unfortunately

[2021-07-29 02:51] bardliao commented on #4558
Yes, I retested it and it failed at round 20. Note that I was testing with gcc build.
[dmesg_fail_round_20.txt](https://github.com/thesofproject/sof/files/6897594/dmesg_fail_round_20.txt)

[2021-07-29 02:56] ranj063 commented on #4558
Oh, can you please try xcc?

[2021-07-29 03:40] keyonjie commented on #4568
looks the buffer heap is used up here, it is understandable as both KPB history buffer and this IGO are requires of quite big buffer, need to debug and fine tune this part:
[code]

[2021-07-29 05:05] bardliao commented on #4558
Yes, and it looks like gcc and xcc do have different results. I tried with internal 20210719 daily test binaries (commit f96e25ffcc8d). The xcc one pass and the gcc one fail.
[dmesg_f96e25-gcc-fail.txt](https://github.com/thesofproject/sof/files/6898019/dmesg_f96e25-gcc-fail.txt)
[dmesg_f96e25-xcc-pass.txt](https://github.com/thesofproject/sof/files/6898020/dmesg_f96e25-xcc-pass.txt)

[2021-07-29 08:23] kkarask commented on #4180
@lgirdwood Sorry, it was my mistake. I thought about buffer between components when I wrote above values.
I have checked host side buffer and it is equal to 1 MB in all tests.

[2021-07-29 08:55] XiaoyunWu6666 commented on #4558
This issue did not happen in http://sof-ci.sh.intel.com/#/result/planresultdetail/5494 and happened in http://sof-ci.sh.intel.com/#/result/planresultdetail/5515. Let me try to bisect

[2021-07-29 10:21] lgirdwood commented on #4558
Thanks @bardliao , obvious differences between compilers are C calling ABI, code speed, layout of TEXT and DATA.

I can see 2 really interesting things from the data

1) GCC trace always shows **two** trace IPCs after TRIGGER_START whilst XCC always shows **one**.  @bardliao are you able to provide the FW trace logs for each build to check for differences in the trace data ? The trace message shou

[2021-07-29 12:19] lgirdwood commented on #4558
Some things to try

1) Switch of trace Kconfig in FW and retry with GCC - will help rule out trace.

2) Modify the script to stop the stream immediately before the suspend (as close as possible). Stress test 100 times, this will help establish whether the stream must be running (alongside the trace)

3) Consume any remaining bytes in the HDA host DMA FIFO (i.e. update the DMA read pointer on the h

[2021-07-29 13:57] ranj063 commented on #4560
the problem was introduced by https://github.com/thesofproject/sof/commit/9a7a5ce17dcb

@lyakh FYI

[2021-07-29 13:59] ranj063 commented on #4561
this was introduced by https://github.com/thesofproject/sof/commit/9a7a5ce17dcb too. @lyakh FYI

[2021-07-29 14:06] lyakh commented on #4560
@XiaoyunWu6666 can I get a full dmesg, please?

[2021-07-29 14:15] plbossart commented on #4560
https://sof-ci.sh.intel.com/#/result/planresultdetail/5568?model=CML_HEL_RT5682&testcase=multiple-pipeline-all

[dmesg.txt](https://github.com/thesofproject/sof/files/6901155/dmesg.txt)
[slogger.txt](https://github.com/thesofproject/sof/files/6901163/slogger.txt)

[2021-07-29 16:06] lgirdwood commented on #4560
@lyakh from the logs above pasted by @plbossart it looks like we get stuck somewhere for ~10ms after starting SSP1
[code]
This also causes the agent to be late, so it seems we are spinning somewhere with IRQs OFF.

[2021-07-29 16:23] lgirdwood commented on #4561
Looks to be the same cause as #4560, potentially spinning with IRQs OFF (but this time a lot longer).

[2021-07-29 19:37] plbossart commented on #4558
@lgirdwood

1. we can't remove the trace, currently all sof-test scripts *require* the DMA trace to be enabled.
I tried just that in https://github.com/thesofproject/linux/pull/3021 and it was a complete fail.
I think it's a dependency we need to remove but it's not going to happen overnight.

2. We can't also change the script to stop, because doing so would change what we test. The point of susp

[2021-07-29 19:42] marc-hb commented on #4558
Note it's mostly optional at the developer level already. Otherwise yes, automation always uses it and depends on it right now. Discussed in https://github.com/thesofproject/sof-test/issues/726

[2021-07-29 20:41] plbossart commented on #4560
One possible reason why we only see this problem on Helios is the topology:

![sof-cml-rt1011-rt5682](https://user-images.githubusercontent.com/1149035/127562392-60283427-5733-4cf3-9258-c1006a2b0e26.png)

The code now explicitly does

[code]

Is this a valid assumption when there are split/joins in pipelines?

[2021-07-30 01:28] fuyuntsuo commented on #4568
Add more information: `igo` is using the Buffer Zone as its working buffer (<40KB IIRC. code [here](https://github.com/thesofproject/sof/blob/53718867df8501f745795e674ca92cf1c16443e5/src/audio/igo_nr/igo_nr.c#L308)) but `kpb` is using Run-time Zone (49KB in the log. code [here])

Are the sizes of these two zone supposed to be determined in linking time instead of run-time?

[2021-07-30 04:38] bardliao commented on #4558
[sof-trace-gcc.txt](https://github.com/thesofproject/sof/files/6905076/sof-trace-gcc.txt)
[sof-trace-xcc.txt](https://github.com/thesofproject/sof/files/6905077/sof-trace-xcc.txt)
I only tested with 3 runs. i.e. sof-test/test-case/check-suspend-resume-with-audio.sh -S 1 -w 3 **-l 3** -m capture
Both test are pass.
And I can see slight difference between the two traces.
For example, I can see some

[2021-07-30 06:22] lyakh commented on #4560
@plbossart the loop topology is a great tip, thanks! Wondering what other devices have similar ones and particularly which of them I have available for testing...

[2021-07-30 07:50] bardliao commented on #4560
I don't know if this helps. I print ` p->trigger.cmd` in `pipeline_task`
[code]
And it seems no `WARN pipeline_task(): bard: p->trigger.cmd 1` before `ERROR hda_dma_link_check_xrun(): underrun detected`
[trace.txt](https://github.com/thesofproject/sof/files/6905806/trace.txt)

[2021-07-30 08:57] keyonjie commented on #4568
the 'kpb' history buffer could requires up to e.g. 384KB history buffer at buffer zone.

[2021-07-30 08:58] keyonjie commented on #4568
@fuyuntsuo @RDharageswari please help to check if the PR https://github.com/thesofproject/sof/pull/4575 help for this issue.

[2021-07-30 10:45] plbossart commented on #4560
Indeed it seems this loop needs to be handled, but it's unlikely to be the cause of this issue: we don't actually test the 16kHz input !!

This is a gap in our coverage, so we need to change the tests and be ready for new bugs to pop-up...

[2021-07-30 11:13] lyakh commented on #4560
@plbossart @lgirdwood I think I have a trace. What that my patch does is move "trigger START" to task context. What that means, is that when the host sends a "trigger START" the firmware will get the IPC, and schedule its processing in the pipeline's LL scheduling task. Next scheduling tick the scheduler begins scheduling tasks. I.e. it runs a loop over its list of scheduled tasks. One of those ta

[2021-07-30 12:55] lyakh commented on #4560
we have a problem with Helios speakers:
[code]
i.e. all other DAIs initialise in under 100us, and the speaker DAI takes more than 10ms

[2021-07-30 15:44] fuyuntsuo commented on #4568
@keyonjie
I've applied the PR to private repo `tgl-013-drop-stable` but it fails during compiling due to memory map change.
[log.txt](https://github.com/thesofproject/sof/files/6908523/log.txt)

Actually I have tried to build the IGO with Github Main branch but fails neither. Seems like after the commit dcd4f34c63de0e4e56228591007d796c2764bf2b we don't have enough memory for IGO any more.
[dcd4f3.

[2021-07-30 17:58] yongzhi1 commented on #4568
Hi @keyonjie, thanks to PR #4575, the reported issue should have been resolved. That said, I have not done extensive testing, only verified the reported scenario, ie. WoV + DMIC recording.

[2021-07-30 21:04] lgirdwood commented on #4560
@lyakh lets resolve the 10ms SSP start on Monday and then we can reapply this one alongside the pause/stop update.
I've no idea why SSP start would take 10ms to start.....

[2021-07-30 21:49] lgirdwood commented on #4558
@XiaoyunWu6666 please close on Monday if all is good.

[2021-07-30 21:52] lgirdwood commented on #4568
@yongzhi1 @RDharageswari who will be able to do full test (and when) ? @mwasko fyi.
@keyonjie @slawblauciak good efforts in debugging this issue !

[2021-07-31 06:16] marc-hb commented on #4558
Please don't close this even when the tests pass. Reverting important features without a clue why they failed is not a solution. Set it to the lowest priority if you want.

[2021-08-02 02:31] XiaoyunWu6666 commented on #4558
in inner daily [id:5635] CML Helios is good ,let's lower the priority of this issue.

[2021-08-02 03:04] XiaoyunWu6666 commented on #4558
Close it now since relevant feature was reverted in #4578

Since this issue takes only several rounds to reproduce in testcase check-suspend-resume-with-capture-5 , we'll test how long it will take additionally to add this case in PR test.
If the extra time is acceptable ,we can track how it goes in PR test.

[2021-08-02 04:11] keyonjie commented on #4418
@RDharageswari @fuyuntsuo I can't reproduce this issue with https://github.com/thesofproject/sof/pull/4575 applied.

Without that PR, I saw params error, so was unable to reproduce it.

[2021-08-02 05:34] XiaoyunWu6666 opened #4579 "[BUG]ipc timed out when check-signal-stop-start-playback on APL_UP2_NOCODEC_ZEPHYR"
**Describe the bug**
in inner daily 5635?model=APL_UP2_NOCODEC_ZEPHYR&testcase=check-signal-stop-start-playback-50
after run stop/start test on PCM:Port5 Deep Buffer,playback, ipc timed out
cannot reproduce though (with -c 500)
**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg ~/sof-test/test-case/check-signal-stop-start.sh -m playback -c 50
**Reproduction Rate**
not sure

**

[2021-08-02 06:26] a5a5aa555oo commented on #3868
Having the same issue and adding the following module parameters doesn't solve the issue.

$ cat /etc/modprobe.d/snd*
blacklist snd_hdmi_lpe_audio
options snd-intel-dspcfg dsp_driver=3
options snd_sof sof_debug=1
$ cat /sys/module/snd_sof/parameters/sof_debug
1
$ cat /sys/module/snd_intel_dspcfg/parameters/dsp_driver
3

My tablet notebook is Genuine E10T3W with a ATOM Z3735F CPU and ALC5642 audio

[2021-08-02 06:52] lyakh commented on #4560
@lgirdwood I think I know why, because of this line
[code]
in platform/intel/cml.m4 which sets `SOF_TKN_INTEL_SSP_BCLK_DELAY` for SSP1 to 10 which then is used in
[code]
in ssp.c. Any idea why that is needed?

[2021-08-02 07:52] bardliao commented on #4560
Some codecs need BCLK enabled while configuring their registers.  With SET_SSP1_CONFIG_DATA sets BCLK will start a provided delay before SSP data start and the codecs can configure their registers in the time. Using SSP_CC_BCLK_ES (BCLK early start) may also work now. See
https://github.com/thesofproject/sof/pull/4391/commits/32d04e9a47a19131ee627cac6f9905d16acfaaf1

[2021-08-02 08:23] XiaoyunWu6666 commented on #4552
inner daily 5635?model=TGLU_RVP_NOCODEC_MULTICORE&testcase=check-kmod-load-unload-after-playback-5 has similar logs
[dmesg]
[code]

[2021-08-02 08:34] XiaoyunWu6666 commented on #4552
inner daily  5635?model=TGLU_RVP_NOCODEC_MULTICORE&testcase=check-runtime-pm-status-15 has similar logs .
When setting up new components ,ipc timed out happened
[dmesg]
[code]

[2021-08-02 17:59] dbaluta opened #4583 "CHANNELS_MIN definition is wrong"
For example the idiom:

[code]

is wrong. Because if CHANNELS_MIN is not define it will set it to 2 (CHANNELS_MIN = 2) but the side effect is that from now on the CHANNELS_MIN will stay defined.

By luck this didn't cause any trouble by now. I think I have found the correct in my patch but we should also fix the rest of the patches. Will se if I have time for this in the following days until then

[2021-08-02 18:34] sathya-nujella opened #4584 "[BUG][TGL][Chrome] DSP Panic when PCM99 Capture start during Playback with IGO integrated firmware"
**Describe the bug**
With IGO integrated firmware and topology, During playback, when PCM99 capture starts, DSP panic issue is observed.

**To Reproduce**

1. Youtube playback
2. suspend resume DUT (in Chrome: suspend_stress_test -c 5)
3. Suspend/resume is done Successfully
4. Playback Continue
5. arecord -Dhw:0,99 -f S32_LE -r 48000 -c 4 -d 20 /tmp/test.wav
6. As soon we start arecord, DSP panic

[2021-08-02 18:46] sathya-nujella commented on #4418
+ @yongzhi1  - Yong has tried. Requesting @yongzhi1  to share his observations too.

[2021-08-02 18:46] sathya-nujella commented on #4418
Hi,
My observations on the issue: https://github.com/thesofproject/sof/issues/4418#issuecomment-879612135   with with #4575 applied.

1) It is not easy to reproduce the issue described above.  But please see (3) below.
I did this and could not catch the issue.

Youtube playback
+
loop for 100 times with PCM99 capture.

//No issues here.

2)
To stress and look for different ways to repro issue: I i

[2021-08-02 18:58] sathya-nujella commented on #4584
[dmesg_sof_issue_4584_dsp_panic.txt](https://github.com/thesofproject/sof/files/6919072/dmesg_sof_issue_4584_dsp_panic.txt)

[2021-08-02 19:07] sathya-nujella commented on #4584
@RDharageswari , @yongzhi1 , @ranj063 , @keyonjie , @slawblauciak  - FYI

[2021-08-02 20:11] yongzhi1 commented on #4418
Tried the playback immediately followed by recording test with SOF FW trace debug turned off:

[code]

1. Observed DSP panic only once [dsp-panic.txt](https://github.com/thesofproject/sof/files/6919329/dsp-panic.txt)
2. Did not observe any other error in dmesg log.
3. Did not observe muted playback.
4. Observed high pitched noise during playback, repro rate: > 1/10 iterations.

[2021-08-02 20:27] ranj063 commented on #4418
@sathya-nujella @yongzhi1 can you please attach the dmesg with dynamic logs enabled?

[2021-08-02 21:01] yongzhi1 commented on #4418
With SOF debug enabled, here is the log captured at the moment when noise was heard

[dmesg-noise.txt](https://github.com/thesofproject/sof/files/6919578/dmesg-noise.txt)

Re-run the test with DSP trace log enabled:

[code]

[dsp-underrun.log](https://github.com/thesofproject/sof/files/6919549/dsp-underrun.log)

[2021-08-02 21:05] lgirdwood commented on #4560
Ok, this is broken. @lyakh so this will need reflected in the LL PR. i.e. we will need to
1. Check for any early DAI enablement. We could have an new API for this e.g ```early_trigger()``` and call this at LL tick 0. (this starts the SSP BCLK)
2. LL tick 10 then calls trigger()
3. LL tick 11 then does the first copy.

This means we can remove the busy wait in ssp.c

[2021-08-02 21:15] plbossart commented on #4560
Not following @lgirdwood

Yes there is a 10ms delay that looks like a copy-paste mistake, it's not really necessary here.

But is it wrong? Is there any assumption that the trigger completes immediately, and if yes what did change in @lyakh's update?
We have a couple of wait_delay() calls in the SSP, and it'd be useful to clarify the rules/expectations on what a wait is tolerated.

[2021-08-03 00:39] sathya-nujella commented on #4584
As @ranj063  mentioned enabled all kernel dynamic logs.

We can see, kernel driver sent PCM Capture99 START and it is successful.

[  252.753079] sof-audio-pci 0000:00:1f.3: pcm: hw params stream 99 dir 1
[  252.753084] sof-audio-pci 0000:00:1f.3: generating page table for 00000000642fc1c2 size 0x10000 pages 16
[  252.753092] sof-audio-pci 0000:00:1f.3: FW Poll Status: reg=0x40000 successful
[  25

[2021-08-03 00:40] sathya-nujella commented on #4584
Tried this patch, still issue is reproducible:

SOF fw: tgl_13 + IGO private patches + PR:#4575 + Below patch ----> still panic issue happens.

https://github.com/thesofproject/sof/commit/b91818be32beceedb3ba3e87da52a5cb445c2fa9

[2021-08-03 01:11] XiaoyunWu6666 commented on #4560
Close it now since relevant feature was reverted in #4578

[2021-08-03 01:11] XiaoyunWu6666 commented on #4561
Close it now since relevant feature was reverted in #4578

[2021-08-03 01:11] #4561 closed

[2021-08-03 01:31] bardliao commented on #4558
BTW, I can still reproduce the issue with https://github.com/thesofproject/sof/pull/4578/ merged in GCC build. That could be a different issue.

[2021-08-03 02:26] XiaoyunWu6666 commented on #4481
did not see this in CI daily tests , was there any possible solutions that has solved it?

Shall we close it or just lower the priority

[2021-08-03 03:47] XiaoyunWu6666 commented on #4458
haven't happened in daily tests for quite long

[2021-08-03 03:48] XiaoyunWu6666 commented on #4372
did not see this in CI daily tests , was there any possible solutions that has solved it?
I lower the priority , shall we close it?

[2021-08-03 03:48] XiaoyunWu6666 commented on #4328
did not see this in CI daily tests , was there any possible solutions that has solved it?
I lower the priority , shall we close it?

[2021-08-03 03:49] XiaoyunWu6666 commented on #4508
did not see this in CI daily tests , was there any possible solutions that has solved it?
I lower the priority , shall we close it?

[2021-08-03 05:51] lyakh commented on #4560
@plbossart my PR moved the trigger:START processing from the IPC thread context to the pipeline task context. And when you busy-loop for 10ms in a LL task you block all other LL tasks for that time.

[2021-08-03 06:24] lyakh commented on #4560
@lgirdwood yes, this is a possibility. And you're proposing to keep the order of component triggering otherwise the same? Maybe it would be more like a late trigger, than an early trigger. I.e. in the loop where all START triggers are called, a component can return a status, that tells the caller, that the component needs a delay. The loop would then break. 10 ticks later the `trigger_late()` call

[2021-08-03 08:00] keyonjie commented on #4553
maybe @ranj063 's work on dynamic pipeline + multi-core can help?
https://github.com/thesofproject/linux/pull/3019

[2021-08-03 08:23] XiaoyunWu6666 opened #4586 "[BUG]ipc timed out when SET_DATA on TGLU_RVP_NOCODEC_MULTICORE"
**Describe the bug**
Found in inner daily 5635 on model TGLU_RVP_NOCODEC_MULTICORE in testcase check-runtime-pm-status-15.
According to console, after dsp suspended , tried  'aplay -D hw:0,0 -r 48000 -c 2 -f S16_LE /dev/zero -q' and connection timed out
According to dmesg,ipc timed out when kernel sending SET DATA to firmware

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec-ci.t

[2021-08-03 09:52] lgirdwood commented on #4553
@mengdonglin @keyonjie I'm going to ignore multicore issues atm until @ranj063 has merged her fixes. No point in duplicating the effort atm.

[2021-08-03 10:43] lgirdwood commented on #4560
So the delay is fine as it's needed by the codec, but its how we are delaying that is an issue. @lyakh will update FW so we can do any codec required delay and add this to pipeline state machine i.e. we will probably have a 2 internal TRIGGER_START commands that can be used internally (no change for host).

I think a rough rule of thumb is probably less than 100uS in total for DAI state transition

[2021-08-03 10:55] lgirdwood commented on #4583
@dbaluta can this be closed now PR is merged ?

[2021-08-03 11:29] dbaluta commented on #4583
@mengdonglin this PR is for all other instances of CHANNELS_MIN. It is a bug that it isn't detected because of some luck. I will try to take care of this by EOW.

[2021-08-03 12:38] lgirdwood commented on #4508
@XiaoyunWu6666 lets monitor this over next few days and we can close if it's no longer reproducing.

[2021-08-03 12:38] lgirdwood commented on #4328
Lets monitor and close if not reproducing in next few days.

[2021-08-03 12:38] lgirdwood commented on #4372
Lets monitor and close if not reproducing over next few days.

[2021-08-03 12:39] lgirdwood commented on #4458
Lets monitor and close if not reproducing over next few days.

[2021-08-03 12:39] lgirdwood commented on #4481
Lets monitor and close if not reproducing over next few days.

[2021-08-03 13:02] lgirdwood commented on #4418
@RDharageswari @yongzhi1 looks like the SSP start is taking about 100uS to complete (10% of an LL time slice) and this could be having a knock on effect for the other components. i.e. a temporary over MCPS budget that causes an xrun as buffers fill/empty by HW.
[code]

[2021-08-03 13:24] lgirdwood commented on #4310
@wszypelt are you guys seeing anything in the FW logs here ? Is it possible to attach the logs ?

[2021-08-03 13:28] lgirdwood commented on #4563
@kkarask lets re-test this after @ranj063 multicore fixes are merged as she has found and fixed a few isues that will cause the above glitches.

[2021-08-03 13:37] lgirdwood commented on #4552
Lets wait until @ranj063 multicore patches are merged as this will need retested.

[2021-08-03 13:48] lancedkhou opened #4593 "[BUG][TGL Chrome] Failed to open Internal Microphone on plugging/unplugging a headset"
**Describe the bug**
Using online voice record to do recording.
Plug and unplug a headset while recording via internal Mic would fail.

**To Reproduce**
1. Start recording by "Online Voice Recorder" on Chrome Browser. During the following steps, make the sound and check the waveform to make sure the recording is still valid.
2.  (No headset is plugged) record by Internal Microphone.
3. Plug the he

[2021-08-03 13:49] lancedkhou commented on #4593
uploading sof-logger and kernel/system messages.

[sof-logger.txt](https://github.com/thesofproject/sof/files/6924521/sof-logger.txt)
[messages.txt](https://github.com/thesofproject/sof/files/6924524/messages.txt)

[2021-08-03 13:52] lgirdwood commented on #4593
@bkokoszx @RDharageswari @sathya-nujella @keyonjie fyi.

[2021-08-03 14:02] lgirdwood commented on #4593
This could be related to #4584 and #4568 as it seems we have some MCPS overshoot which cascades into a DMIC FIFO overrun. It could be the IDC starting and blocking the DMIC being drained.
[code]

[2021-08-03 14:08] lgirdwood commented on #4180
Thanks 1MB makes sense. Do you know how this 1MB is partitioned into DMA descriptors ? The DMA wont send this a single 1MB chunk, but will split up the buffer to smaller chunks. We need to know the DMA chunk size for each use case (or how it is worked out).

[2021-08-03 14:19] wszypelt commented on #4310
@lgirdwood
This is very sporadic issue:
on SOF_FW_MASTER 01.01.00.2506
hash: 9648fb65a5b8b86707e0a160efa992f3f3c97f59
Reproduction 1/75
**Logs:**
[2021_07_27_03_32_35.zip](https://github.com/thesofproject/sof/files/6924734/2021_07_27_03_32_35.zip)

New Stress test's on: SOF_FW_MASTER 01.01.00.2520 **without issue**
hash: d38c3c39129149c1e0adf3501b7f950ba3f0611c

[2021-08-03 14:29] plbossart commented on #4418
@lgirdwood this can be optimized by doing an early_clk enablement for the SSP, so that the trigger only starts the data transfers
But we're still going to fail if we don't have a pre-rolled pipeline....

[2021-08-03 14:53] lgirdwood commented on #4310
No errors in the logs, warning only point to capture DAI running out of data at stream start so would not explain the glitches at 100ms above.
[code]

[2021-08-03 15:06] plbossart commented on #4418
I have no idea what the last wait_delay(PLATFORM_SSP_DELAY) is for.

This was added in commit 5d42e0fdf0 but for the 'slave mode' according to the commit message? It's very small anyways, 2400-3000-4800 cycles depending on the platform.

I am not sure it makes sense though to wait inside of a spinlock-protected section, this piece of code has always looked controversial to me.

[2021-08-03 15:23] plbossart commented on #4418
We can make the wait_delay(PLATFORM_SSP_DELAY)  conditional on the slave mode.

[2021-08-03 15:29] lgirdwood commented on #4418
Looking at the ordering flow in dai.c and ssp.c it looks like a NOP. i.e. we are not delaying in between any DMA/SSP IP programming flows. We only delay at the end for trigger(start) and at the beginning for trigger(stop).

[2021-08-03 15:42] plbossart commented on #4418
Not following @lgirdwood if we wait to let the FIFO status settle doesn't this precisely impact the DMA flows?

[2021-08-03 16:54] ranj063 commented on #4418
@lgirdwood @plbossart maybe the SSP changes are needed anyway but I do want to call out that the original xrun issue is no longer reproducible. Even the muted playback when Igo capture is started is fixed with the latest backports. What remains is an occasional DSP panic with stress tests.

[2021-08-03 18:13] lgirdwood commented on #4418
AFAICT we are delaying for no reason, the DMA is started before the SSP e.g.
1) DMA start
2) SSP start
3) SSP FIFO Delay
4) IPC reply.

ok, this is good - but we should still look at removing these delays and validate on slave mode.

[2021-08-03 19:35] sathya-nujella commented on #4584
with @ranj063 , tried the below change to move capture buffers to core-1 ----> we still hit the DSP panic issue.

[code]

[2021-08-04 03:19] XiaoyunWu6666 commented on #4552
in inner daily 5685 , this does not appear (but let's keep observing it in following daily tests)
FYI , another issue happened on TGLU_RVP_NOCODEC_MULTICORE, ipc timed out when SET_DATA
inner 5685?model=TGLU_RVP_NOCODEC_CI&testcase=check-suspend-resume-50 AND
inner 5685?model=TGLU_RVP_NOCODEC_CI&testcase=check-suspend-resume-with-capture-5

[2021-08-04 03:42] XiaoyunWu6666 opened #4595 "[BUG]DSP panic happened after sleep finished and boot DSP firmware, on CML_SKU0983_SDW"
**Describe the bug**
When running arecord with -Dhw:0,1 in the background ,DSP panic happened after sleep finished  and boot DSP firmware, on CML_SKU0983_SDW
Found in inner daily 5685 , on model CML_SKU0983_SDW, in testcase check-suspend-resume-with-capture-5.
Haven’t reproduced it yet though.

**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt711-rt1308-mono-rt715.tplg ~/sof-test/test

[2021-08-04 05:26] XiaoyunWu6666 opened #4596 "[BUG]ADLS_RVP_HDA TIMEOUT when check-kmod-load-reload"
**Describe the bug**
This happened after ADL DUTs added back to inner daily tests , and check-kmod-load-reload-25 tested on ADLS_RVP_HDA.

TIMEOUT happened :
- before dsp suspended (inner daily 5657)
- OR  when check firmware load information after kmod load (inner daily 5685)
- OR  when waiting dsp to become suspended(inner daily 5595)

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-hda-g

[2021-08-04 07:25] XiaoyunWu6666 opened #4597 "[BUG]ipc timed out when CORE_ENABLE, when kmod unload load on TGLU_RVP_NOCODEC_CI"
**Describe the bug**
when kmod unload load for multiple rounds on TGLU_RVP_NOCODEC_CI , ipc timed out when CORE_ENABLE

**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/check-kmod-load-unload.sh -l 25

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 32657609
SOF Branch: main
SOF Commit: e2fc7082e1be
 Topology: /lib/firmware/intel/sof-tplg

[2021-08-04 07:29] johnylin76 commented on #4593
Hi Lance, thanks for the bug creation. In fact we have some updates in the following comments in the original bug.
After adopting PR#4575 fix, the situation you mentioned above seems quite hard to be reproduced then.

But we also have observed another issue with PR#4575 fix, the scenario is using "Google Meet". It would be observed that it failed to start capturing with PCM99 and Google Meet lost

[2021-08-04 08:05] lyakh opened #4598 "[BUG] `mixer_trigger()` aborts playback PAUSE trigger propagation"
**Describe the bug**
Playback PAUSE triggers are unconditionally terminated by the mixer component.

First of all this code in `mixer_trigger()`
[code]
contrary to what the comment above it says, will prevent the mixer from stopping on PAUSE even if no other pipelines, using the mixer are currently active. Because capture is handled separately above that code, this only affects playback. That mean

[2021-08-04 09:11] bardliao commented on #4418
It looks like the delay is for synchronization from the commit message, so I guess it is necessary. But as @plbossart mentioned, we can make it conditional on the slave mode

[2021-08-04 12:01] lgirdwood commented on #4595
FW panic() or assert() here,  looks like its maybe during boot according to dmeg (cant see topology or streams), fw log only shows the previous boot AFAICT.

[2021-08-04 12:02] lgirdwood commented on #4598
@ranj063 fyi - looks like it's needed for low power pipes.

[2021-08-04 12:11] lgirdwood commented on #4418
I dont see this code doing anything, its a delay for no reason (which could be lost with all the refactoring since Tomek left). I could see the point if the delay was in between DMA/SSP IP programming, but it's not. It's at the beginning of ssp_stop() and the end of ssp_start().

We can do this in consumer mode, but I would also like to test this here too.

[2021-08-04 12:19] bkokoszx commented on #4418
Referring to @ranj063 comment:
https://github.com/thesofproject/sof/issues/4418#issuecomment-892006190

Just to be on the same page: I also cannot reproduce xrun and mute playback issue with:
https://github.com/thesofproject/sof/pull/4575

@sathya-nujella @RDharageswari
Can you confirm that with above changes you can reproduce only DSP panic issue occasionally?

[2021-08-04 12:54] lgirdwood commented on #4584
@sathya-nujella is there anything in the FW error log or sof-logger prior to the panic ?

[2021-08-04 12:56] lgirdwood commented on #4584
@sathya-nujella do the buffer core change or #4575 have any impact on the reproduction rate or reproduction point ?

[2021-08-04 13:11] sathya-nujella commented on #4584
Hi @lrgirdwo ,    same reproduction point in both experiments.

[2021-08-04 13:13] lgirdwood commented on #4552
Please log this as a separate issue.

[2021-08-04 13:21] sathya-nujella commented on #4418
Hi,
For DSP panic, there were two reports:
1) @yongzhi1 reported and he observed once:  https://github.com/thesofproject/sof/issues/4418#issuecomment-891300799

2) I tried to see if any consistent way and got some test sequence which can repro - so created a new BUG:  https://github.com/thesofproject/sof/issues/4584

[2021-08-04 13:23] sathya-nujella commented on #4584
Nothing specific error in sof-logs.
@keyonjie  is able to repro too with same steps.  Any observations please?

[2021-08-04 13:53] lgirdwood commented on #4418
I have a feeling here these could possibly be all related. I am suspicious of cache coherency around core 0 LL pipelines and core 1 module using different scheduling time slices. i.e. 1ms vs ~12ms (according to trace). Both core 0 work and core 1 work will share some buffers for processing but core 0 will access the buffer 12 times to the core 1 time and we need to make sure that all accesses are

[2021-08-04 14:48] plbossart commented on #4598
IIRC this was a feature, not a bug. When we pause a mixer we generate zeroes, isn't it?

dcbee3cdf3 (Adrian Bonislawski   2020-11-18 09:05:17 +0100 239) mixer: dont stop mixer on pause

[2021-08-04 15:23] plbossart commented on #4595
Test 5585 included the kernel changes for multi-core and dynamic pipelines, but IIRC this was tested by @bardliao and @ranj063

[2021-08-04 16:52] ranj063 commented on #4598
@lyakh I also think this was specifically added as a feature and is not a bug

[2021-08-04 17:00] ranj063 commented on #4595
http://sof-ci.sh.intel.com/#/result/planresultdetail/5449 shows a similar failure with the suspend/resume test. I think this issue is a duplicate of https://github.com/thesofproject/sof/issues/4538

[2021-08-04 17:00] plbossart commented on #4595
Can't reproduce this, even with 50 iterations:

[code]

This also doesn't seem like a critical issue, this happened in iteration 0 but iteration 1 succeeded.
I am also not clear how a dsp panic can happen at such an ealy stage.

[code]

[2021-08-04 17:03] plbossart commented on #4595
Agree @ranj063 we've seen this before.

I also vaguely recall a comment, maybe from @lyakh, in another issue where it wasn't clear why a dsp panic was thrown in early stages.

[2021-08-04 17:12] ranj063 commented on #4595
a panic can show up only as a result of an IPC RX but at this stage IPC interrupts shouldnt even be enabled. quite strange!

[2021-08-04 17:20] ranj063 commented on #4595
oh actually I think the panic shows up as soon as the IPC interrupts are enabled during boot. still quite strange. We should either ignore this or check for fw boot state to determine if the panic is valid or not.

[2021-08-04 17:47] lyakh commented on #4598
@plbossart @ranj063 So when the pipeline with a mixer is paused, the DAI isn't stopped, right? Doesn't that mean, that it keeps consuming power? DMA, clock, etc.?

[2021-08-04 18:02] plbossart commented on #4598
Pause is usually not a scenario tracked in power KPIs.
Very few solutions actually enable pause_push/release, it's not used by CRAS/PipeWire/PulseAudio.
And in theory we shouldn't even support INFO_PAUSE in linux since we can't restart exactly at the same point.
I suggested removing PAUSE support a while back but it's supported in Windows, so long term this stays as a requirement.

[2021-08-04 18:52] sathya-nujella commented on #4584
Hi @bkokoszx ,
As you asked on how to repro from remote with command line, I was able to repro.. please see below steps.

(not great script, just to repro)
1)
Boot DUT
2)
in terminal-1,
cras_test_client --playback_f /dev/zero

3)
in terminal-2
(running this script)

#!/bin/bash
for i in {1..10}
do
suspend_stress_test -c 1
sleep 5
arecord -Dhw:0,99 -f S32_LE -r 48000 -c 4 -d 10 /tmp/test.wav
sleep

[2021-08-04 18:56] lgirdwood commented on #4595
Its only fundamental init related stuff that can panic here, most likely some IP programming, but I cant see anything in dmesg as I think debug has been disabled (as panic dumps the stack etc)

[2021-08-04 18:58] lgirdwood commented on #4598
I think this is no longer true as I've not seen in IPC4. @mwasko can you confirm ? We could remove this and simplify some logic.

[2021-08-04 19:02] plbossart commented on #4598
I suggested this back in 2019 and we decided to keep PAUSE: https://github.com/thesofproject/linux/issues/1339

[2021-08-04 19:06] lgirdwood commented on #4598
Maybe time to revisit if no use by Windows is confirmed.

[2021-08-04 19:32] lgirdwood commented on #4593
Thanks @johnylin76 fwiw the log is very similar to above.
1) SSP start
2) New pipeline task
3) igo copy()
4) DMIC underun IRQ.
5) IDC blocking timeouts.

@lancedkhou are you able to apply this FW debug patch and reproduce. @sathya-nujella @bkokoszx I'm suspicious in this instance we send the IDC and block for too long.

[code]

[2021-08-05 00:21] ranj063 opened #4602 "[BUG]Enabling/disabling secondary cores in a loop fails with an IDC timeout"
**Describe the bug**
Enabling/disabling the secondary cores by sending the PM_CORE_ENABLE IPCs in a loop results in an IDC timeout within20-30 iterations eventually leading to a DSP Panic. Increasing the MEMORY_POWER_CHANGE_DELAY from 256 to 512 helps to a certain extent but the test fails within a few hundred iterations with the same result.

**To Reproduce**
Send PM_CORE_ENABLE IPC to enable cor

[2021-08-05 01:20] XiaoyunWu6666 opened #4603 "[BUG]TGLU_RVP_NOCODEC_CI dsp not suspended after 15s when check-kmod-load-unload"
**Describe the bug**
dsp not suspended after 15s when check-kmod-load-unload
inner daily 5709?model=TGLU_RVP_NOCODEC_CI&testcase=check-kmod-load-unload-25

**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/check-kmod-load-unload.sh -l 25

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 16d5c452
SOF Branch: main
SOF Commit: d486a9ff9896
Top

[2021-08-05 01:50] fuyuntsuo commented on #4418
If I am not mistaken, all the IGO related issue is still tied to the topology `max98373-rt5682`. Maybe we can try to reproduce these issues on another topology, like, `max98357a-rt5682`. For reasons I don't understand, syndrome and reproduce rate could be totally different between different topologies (given the identical FW).

For example, there was a mystery issue I encountered few weeks ago: be

[2021-08-05 02:32] keyonjie commented on #4584
The scenarios and issues here are actually quite complicate, yes, I reproduce it with @sathya-nujella 's help, basically the most easiest way to reproduce it are:
1. running GHW at background (on Core 0).
2. perform a suspend/resume cycle (GHW will be stopped and restarted).
3. run the IGO_NC capture (on Core 1).

We will see DSP panic sometimes, and DMIC xrun some other times.

I locally have bac

[2021-08-05 03:05] XiaoyunWu6666 commented on #4552
Yes , there are several separate issues for TGLU_RVP_NOCODEC_CI : #4586 #4553 #4603  . The two mentioned above is in #4586

FYI , in today's inner daily 5709 , #4552 did not happen .

[2021-08-05 06:10] keyonjie commented on #4602
@ranj063 do you have the FW log of it?

[2021-08-05 08:24] keyonjie commented on #4602
Looks we have memory leak during DSP core disable/enable cycles and it lead to system zone used up eventually.

[2021-08-05 09:48] bkokoszx commented on #4584
@sathya-nujella
Thanks for sharing script. I am able to reproduce panic issue with it.

[2021-08-05 10:06] johnylin76 commented on #4593
Hi @lgirdwood , I repro-ed with your patch. Logs are as attached.

[sof-logger.txt](https://github.com/thesofproject/sof/files/6937770/sof-logger.txt)
[messages.txt](https://github.com/thesofproject/sof/files/6937780/messages.txt)

[2021-08-05 11:16] mwasko commented on #4598
There are three pipeline states that can be set by the host in Windows:

RESET Resets pipeline.
PAUSED Pauses pipeline.
RUNNING Starts pipeline.

[2021-08-05 16:59] ranj063 commented on #4602
@keyonjie the out of memory panic is because of a flaw in my script that goes on and does disabling he core after enabling fails. The real problem though is the first IPC error in my dmesg log which is actually because of an IDC timeout when trying to enable the core:

[code]

[2021-08-05 18:37] plbossart commented on #4542
@lyakh I would assume the same problem happens on Up2 without any ACPI initrd override - plain HDMI playback would also fail?

[2021-08-06 02:21] keyonjie commented on #4602
@ranj063 Okay, then we need to focus on the IDC timeout.

[2021-08-06 04:38] XiaoyunWu6666 opened #4606 "[BUG][BUG]when pause-release, dai_report_xrun(): underrun due to no data available when pause release on TGLU_RVP_NOCODEC_CI"
**Describe the bug**
in inner daily 5738 5745
when doing multiple pause release on TGLU_RVP_NOCODEC_CI when arecording
 dai_report_xrun(): underrun due to no data available when pause release on TGLU_RVP_NOCODEC_CI

Manual trial showed that ..[pending, not reproduced yet]

**To Reproduce**
TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/multiple-pause-resume.sh -r 25

[2021-08-06 10:29] lgirdwood commented on #4593
@lancedkhou can you try https://github.com/thesofproject/sof/pull/4608
This probably wont fix the issue, but it will give more insights for the team.

[2021-08-06 13:32] lyakh opened #4609 "[BUG] wrong TGL nocodec CI topology"
**Describe the bug**
Multiple links to a buffer sink in topology1/development/sof-tgl-nocodec-ci.m4

BUF7.0 has two components sending data to it: "ECHO REF 7" and "MUXDEMUX1.0"
![tplg](https://user-images.githubusercontent.com/1363683/128518035-8748c056-ae62-4157-b60b-994c96879857.png)

[2021-08-06 13:43] lyakh commented on #4609
APL demux topology https://github.com/thesofproject/sof/blob/main/tools/topology/topology1/sof-apl-demux-pcm512x.m4 has the same bug:
![tplg-apl-demux](https://user-images.githubusercontent.com/1363683/128519566-d1342d14-50ca-440f-b44d-cc322ced93af.png)

[2021-08-06 13:50] lyakh commented on #4609
https://github.com/thesofproject/sof/blob/main/tools/topology/topology1/sof-cml-demux-rt5682-max98357a.m4 and https://github.com/thesofproject/sof/blob/main/tools/topology/topology1/sof-cml-demux-rt5682.m4 have the same problem

[2021-08-06 13:54] lgirdwood commented on #4609
Looks like a copy and paste error.
1) TGL needs a MUX as BUF7.0 source that muxes ECHOREF7 and MUXDEMUX1.0
2) APL  needs a MUX as BUF5.0 source that muxes ECHOREF5 and MUXDEMUX1.0

[2021-08-06 13:57] sathya-nujella commented on #4584
Adding @fuyuntsuo to this issue -FYI

[2021-08-06 13:59] lgirdwood commented on #4602
@keyonjie and @ranj063 please locally merge https://github.com/thesofproject/sof/pull/4608
This should held shed light on the IDC blockers....

[2021-08-06 14:36] bkokoszx commented on #4418
A little update:
With https://github.com/thesofproject/sof/pull/4575 sometimes I am still reproduce a problem with zeroing ```lli``` mentioned by @slawblauciak here:
https://github.com/thesofproject/sof/issues/4418#issuecomment-882562833

[2021-08-06 15:05] lgirdwood commented on #4606
@XiaoyunWu6666 can you always paste the 15 log messages before the first ```ERROR``` log message. This gives the devlopers some context prior to the error. Thanks.

[2021-08-06 16:27] plbossart commented on #4609
This reminds me of a thread with @juimonen and @ranj063
I think the conclusion was it was a feature not a bug. Something to do with pipeline scheduling.

[2021-08-06 16:52] iuliana-prodan commented on #4609
The discussion was here: https://github.com/thesofproject/sof/issues/4207

[2021-08-06 16:55] plbossart commented on #4609
Yep. that's the one, thanks @iuliana-prodan

[2021-08-06 18:18] plbossart commented on #4595
I reproduced this today after 270 iterations...

[panic.tar.gz](https://github.com/thesofproject/sof/files/6947315/panic.tar.gz)

[2021-08-08 15:00] fuyuntsuo commented on #4584
@sathya-nujella I have problem to reproduce your environment (tgl-013 in google private repo + PR #4575). The image build fails. Seems like the memory doesn't fit anymore. Log here.
[build_log.txt](https://github.com/thesofproject/sof/files/6950969/build_log.txt)

Can you push your working commit to private repo as detached head so that I can align with yours. Thanks.

[2021-08-08 22:00] sathya-nujella commented on #4584
Sure @fuyuntsuo.

FYI - Build works with this:
1)checkout to this one: (private google repo)
https://chrome-internal-review.googlesource.com/c/chromeos/third_party/sound-open-firmware-private/+/3982238
2)
wget https://patch-diff.githubusercontent.com/raw/thesofproject/sof/pull/4575.patch
git am 4575.patch
3)
IGO library in respective folder

Can you please share build error ?
Also do 'git submodul

[2021-08-08 22:04] sathya-nujella commented on #4382
Google told us, as kernel WA can not go upstream: WA is accepted for temporary and asked to provide upstream SOF/driver solution for this BUG.
Adding ADL tag and re-opening the bug. Thank you!

[2021-08-08 22:05] sathya-nujella commented on #4382
@Vamshigopal  - FYI

[2021-08-09 01:45] fuyuntsuo commented on #4584
thanks @sathya-nujella I am able to build the image. Trying to reproduce issue now.

[2021-08-09 02:24] keyonjie commented on #4584
@fuyuntsuo ping me if you can't reproduce the issue.

[2021-08-09 04:40] fuyuntsuo commented on #4584
@keyonjie. Following @sathya-nujella 's comment [here](https://github.com/thesofproject/sof/issues/4584#issuecomment-892892284), I am still not able to see any error in dmesg at this moment.

May I know what does `cras_test_client --playback_f /dev/zero` and `suspend_stress_test -c 1` do? The latter command shows lots of logs during each iteration.

[2021-08-09 05:13] keyonjie commented on #4584
@fuyuntsuo let's discuss details in email thread or even call directly, it is inefficient here.

[2021-08-09 06:29] johnylin76 commented on #4593
Hi @lgirdwood , I tried with #4608. Logs are as attached.

[sof-logger.txt](https://github.com/thesofproject/sof/files/6952471/sof-logger.txt)
[messages.txt](https://github.com/thesofproject/sof/files/6952473/messages.txt)

[2021-08-09 09:16] keyonjie commented on #4418
@bkokoszx I found that this may be related with the igo_nr component, just raised it to @fuyuntsuo and he is debugging it from the 3rd party library side at the same time.

[2021-08-09 09:24] XiaoyunWu6666 opened #4613 "[BUG]"
**Describe the bug**
found in inner daily 5772?model=TGLU_RVP_NOCODEC_CI&testcase=simultaneous-playback-capture-25
After aplay and arecord simultaneously in the background , sleep for 5 seconds and try to kill aplay process .
However , found error in aplay process after sleep.

**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/simultaneous-playback-ca

[2021-08-09 09:54] XiaoyunWu6666 commented on #4586
duplicate as #4552 ,all happened when runtime resume

[2021-08-09 09:56] XiaoyunWu6666 commented on #4552
two duplicated issues : #4597  #4586

[2021-08-09 12:04] XiaoyunWu6666 opened #4614 "[BUG]ipc timed out when runtime suspend and COMP_FREE on TGLU_RVP_NOCODEC_CI"
**Describe the bug**
found in inner daily 5772?model=TGLU_RVP_NOCODEC_CI&testcase=check-suspend-resume-50
Accordingly in round 28/50, when runtime suspend , ipc timed out when COMP_FREE

**To Reproduce**
 TPLG=/lib/firmware/intel/sof-tplg/sof-tgl-nocodec-ci.tplg ~/sof-test/test-case/check-suspend-resume.sh -l 50
**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: b7329735
SOF Branch: main

[2021-08-09 13:17] tibirna opened #4616 "Improper default configuration of Realtek ALC 233 (used by Lenovo m920sff)"
(NOTE: the full downstream report for this is here: https://bugzilla.suse.com/show_bug.cgi?id=1188685)

After successful (and uneventful) installation of OpenSUSE 15.3 on my Lenovo m920sff, the sound card is auto-configured in such a way that sound is played in both the speakers and the headphones connected to the computer. Connecting the headphones doesn't silence the the speakers. The active sou

[2021-08-09 21:04] lgirdwood commented on #4593
@johnylin76 thanks for the logs. @bkokoszx the logs are giving an idea that the following flow may be happening
1) IGO is running on core 1
2) blocking IDC is sent c0 -> c1 (PM IDC ??? 0x4000000)
3) IDC on C1 is not processed as IGO still running
4) IDC blocking on C0 prevents pipeline running on C0 and DMIC overruns.....

@lancedkhou @johnylin76 can someone try 98e8016de02ceb8637857148a348ab4ab42

[2021-08-10 02:09] keyonjie commented on #4609
@juimonen I don't think every pipeline has to have both 'host' and 'dai' component, if you check the mixer pipelines and WoV pipelines you will find one of it doesn't have a 'dai', so here the 'SSP5.IN' and 'ECHO REF 5' can be removed.

[2021-08-10 02:23] keyonjie commented on #4382
Hi @sathya-nujella do you mean that we need the upstream version for TGL also, or only for ADL?

[2021-08-10 02:23] keyonjie commented on #4593
Hi @lrgirdwo @johnylin76 FYI that @fuyuntsuo is debugging this form the IGO library side.

[2021-08-10 02:40] keyonjie commented on #4614
Looks it fails during the tearing down here, @ranj063 FYI.

[2021-08-10 04:45] johnylin76 opened #4617 "[BUG] [TGL] rate error > 200 by alsa_conformance_test for PCM99 capture"
**Describe the bug**
The rate error > 200 for capture device hw:0,99 measured by alsa_conformance_test for firmware w/ IGO

**To Reproduce**
Run the following command and check the rate error:
[code]
**Reproduction Rate**
How often does the issue happen ? always

**Expected behavior**
The rate error should be low (e.g. < 1 measured on other TGL board w/o IGO)

**Impact**
The performance of audio w

[2021-08-10 09:23] juimonen commented on #4609
@keyonjie if I remember correctly, I tried to remove those and it just didn't work... but not sure. AFAIK this was coming from some ASoC layer code that there needs to be FE and BE in every pipeline. But needs to be checked again, things might have changed.

[2021-08-10 13:59] kv2019i commented on #4579
Potential bugfix https://github.com/thesofproject/sof/pull/4618

[2021-08-10 14:00] kv2019i commented on #4400
Potential bugfix https://github.com/thesofproject/sof/pull/4618

[2021-08-10 14:02] kv2019i commented on #4542
I've not seen issues with HDMI/DP tests, so this sounds a bit odd. I'll take a look.

[2021-08-10 15:07] wszypelt commented on #4180
@lgirdwood
As far as I know it works like this: Diagnostic buffer is big because we handle it in test code (in python) We do it by checking the buffer in time intervals. not in interrupts.

This is irrelevant for the operation of the FW as we configure the HDA DMA via the diagnostic driver. The FW creates the input and output buffers and also configures the buffer.

If we want to send something vi

[2021-08-11 02:50] XiaoyunWu6666 opened #4621 "[BUG]DMIC/Bluetooth pcm create failure on multiple platforms"
**Describe the bug**
found in inner daily 5802, on multiple ADL TGL platforms including
**on ADLP_RVP_HDA TGLU_RVP_NOCODEC_CI TGLU_VOLT_SDW, CML_HEL_RT5682,can't create pcm DMIC**
**on ADLP_RVP_SDW, can't create pcm Bluetooth**

**To Reproduce**
boot the DUT with topology built by recipe built below ,  DUT failed to set up soundcards

**Environment**
Kernel Branch: topic/sof-dev
Kernel Commit: 251

[2021-08-11 02:51] XiaoyunWu6666 commented on #4621
Reverting commit  "topology: remove side effects from macro definitions"  659266685b4358ded2f779b29d34166432108f71 can make this issue disappear.
[code]

[2021-08-11 02:57] aiChaoSONG commented on #4617
@johnylin76 Could you please describe the test procedures, and how the `rate` is calculated? it will help us to understand more about your test case.

[2021-08-11 11:19] wszypelt commented on #4563
I have re-tested over 800 iterations. All iterations pass.

[2021-08-11 11:20] #4563 closed

[2021-08-12 02:48] XiaoyunWu6666 commented on #4621
hi @kv2019i could you please help to check why 659266685b4358ded2f779b29d34166432108f71 affect both DMIC and Bluetooth pcm creation , thanks so much

[2021-08-12 05:01] nklayman opened #4629 "[BUG] DMIC IPC error with release 1.8"
**Describe the bug**
sof doesn't initialized properly on boot so there are no input or output options in the sound settings.

**To Reproduce**
On a Dell Inspiron 16 Plus 7610 (Tiger Lake H, RTX 3000), fresh install of Fedora 34. Boot computer, check sound settings, see no outputs. Error messages printed in `dmesg`. Disabling sof with `options snd-intel-dspcfg dsp_driver=1` in `modprobe.d` makes sp

[2021-08-12 05:55] kv2019i commented on #4621
Ack @XiaoyunWu6666  found the rootissue, will submit a patch soon.

[2021-08-12 14:31] plbossart commented on #4629
oh and I forgot @nklayman if you can upload the results of alsa-info.sh that would be useful. It looks like you have a 'standard' HDaudio codec+dmic configuration but there might be additional details for us to look at. Thanks!

[2021-08-12 16:21] #4602 closed

[2021-08-12 17:28] nklayman commented on #4629
@plbossart Thanks for the quick response, here's the information you asked for:

`dmesg | grep sof-audio-pci` without display connected:
[code]
Full dmesg log: [dmesg.txt](https://github.com/thesofproject/sof/files/6977230/dmesg.txt)
The monitor plug in error is gone, but all the other errors remain.

Alsa info output (I used script from [here](https://www.alsa-project.org/wiki/AlsaInfo)): [alsa-i

[2021-08-12 18:10] plbossart commented on #4629
ok, so it's an error on DMIC capture

[code]

we may need to use the firmware trace to figure out what happens at the firmware level.

Please add this to /etc/modprobe.d/alsa-base.conf
options snd_sof sof_debug=1

If 'sof-logger' is not installed on your system, install it to e.g. /usr/local/bin from https://github.com/thesofproject/sof-bin/tree/main/v1.8.x/tools-v1.8

And last, extract the firmwa

[2021-08-12 18:25] nklayman commented on #4629
I created the `alsa-base.conf` file and added the line and rebooted, but I couldn't find the `.ldc` file. Inside of `/usr/lib/firmware/intel` there is only `sof` and `sof-tplg` (plus other non-sof stuff), no sof-v1.8. The `sof` dir has a `sof-tgl-h.ri` file, but that gave an `invalid ldc file signature` error. I also searched the entire system for a `.ldc` file but nothing showed up. Any ideas?

[2021-08-12 18:54] plbossart commented on #4629
you do use firmware v1.8, this is what I see in the logs
[code]

Maybe your distro didn't pick the ldc files. Try to get it from https://github.com/thesofproject/sof-bin/blob/main/v1.8.x/sof-v1.8/sof-tgl-h.ldc

if this doesn't work, pick both the .ri and .ldc files and add them in your firmware directory (do a backup first so that you don't wreck your distro and can revert that change).

the .ri f

[2021-08-12 19:00] nklayman commented on #4629
I downloaded the file you linked and it seemed to work, here's the output from the `sof-log` command:
[sof-log.txt](https://github.com/thesofproject/sof/files/6977862/sof-log.txt)

I did plug the display in since booting and before running that command, is that an issue?

[2021-08-12 19:31] plbossart commented on #4629
@nklayman I don't see any errors or smoking gun in the firmware trace. Did you get an error on the kernel side when you tried?

[2021-08-12 19:35] plbossart commented on #4629
did you see an 'ipc error' message in the dmesg log prior to running the sof-logger command?

[2021-08-12 19:45] plbossart commented on #4629
Note that in some cases enabling the trace makes things work by changing timings, that's why I was asking the question.

[2021-08-12 19:49] nklayman commented on #4629
I didn't save the dmesg log from that boot unfortunately. Here's the dmesg and sof-log from the current boot (with monitor):
[sof-log.txt](https://github.com/thesofproject/sof/files/6978165/sof-log.txt)
[dmesg.txt](https://github.com/thesofproject/sof/files/6978166/dmesg.txt)

This time the sof-log has a ton of error messages. I'm gonna try rebooting a few times and see if I can get no errors to s

[2021-08-12 20:15] plbossart commented on #4629
Thanks @nklayman now we have enough information to ask @lgirdwood @ranj063 @keyonjie for help. I think we saw this before, looks like we need a hot fix for v1.8...

sof-logger output
[code]

dmesg
[code]

[2021-08-12 20:32] nklayman commented on #4629
Glad that I could give you the information you need! I tried rebooting and checking the logs another five times and got errors in the log every time. Let me know if there's anything I can test or do to help.

[2021-08-12 21:27] plbossart commented on #4629
IIRC the dma buffer lock is a rather recent issue, so maybe it's not there in previous version.

As a temporary work-around, maybe you can try going back to version 1.7. I'd be a hack, we've fixed a number of issues in 1.8 but we've obviously let a critter through. You can find the 1.7 version here: https://github.com/thesofproject/sof-bin/blob/main/v1.7.x/sof-v1.7/intel-signed/sof-tgl-h.ri

As us

[2021-08-12 21:49] plbossart commented on #4629
I just checked and we have daily tests for SOF firmware and kernel on a TGL-H HDA platform.

@fredoh9 @aiChaoSONG is there a way we can try running the SOF firmware 1.8 with Linux stable 5.13.x on that TGLH_0A70_HDA platform?

[2021-08-13 01:59] XiaoyunWu6666 commented on #4621
thanks @kv2019i 's quick fix https://github.com/thesofproject/sof/pull/4630 , today's inner daily 5850 is good .
Let's close this issue.

[2021-08-13 01:59] #4621 closed

[2021-08-13 03:08] aiChaoSONG commented on #4629
@plbossart Yes, we have a kernel build job for stable kernel, I will post more details in teams channel.

[2021-08-13 08:45] kv2019i commented on #4617
FYI @keyonjie @lgirdwood I think this matces with the theory that some processing is blocked (on other cores) when IGO is running.  We are getting very uneven updates for dmic capture but only with IGO image, and this is picked by alsa_conformance_test.

@aiChaoSONG This is the standard alsa-conformance test in Chrome https://chromium.googlesource.com/chromiumos/platform/audiotest/+/refs/heads/mas

[2021-08-13 10:07] fuyuntsuo commented on #4418
status update: it's buffer clearing that causes speaker XRUN. I've provided two patches (NG and OK) to demonstrate this issue even in absence of IGO library.

[2021-08-13 10:11] fuyuntsuo commented on #4418
I also find that inside `alloc_heap_buffer()` there is a `CONFIG_DEBUG_BLOCK_FREE` to zero the allocated memory. Is this CONFIG enabled by default?

[2021-08-13 10:12] fuyuntsuo commented on #4593
@keyonjie is this the same issue as #4418 ?

[2021-08-13 12:02] kv2019i commented on #4542
Ran a full test on TGL HDA machine and no issues. So either this specific to CNL/WHL, or it was fixed with recent commits. Assigning back to @lyakh to revalidate on Mantis.

[2021-08-13 12:37] keyonjie commented on #4418
I checked the heap allocation, the dma lli buffer is next to the igo handler buffer (but no overlap), it is still strange to me that writing the igo handler buffer impacts the DW dma.