[2019-05-29 11:09] lgirdwood commented on #1484
Ack

[2019-05-29 11:12] lgirdwood commented on #1485
@dabekjakub one for your bug scrub

[2019-05-29 11:17] juimonen commented on #1482
@lgirdwood I'm using gcc here. this really seems like a buffer wrap issue etc. to me the discontinuity seems to coincide quite nicely with host split dma transfer but can't be sure. I think SRC calculation issue would produce much worse results...

[2019-05-29 11:18] singalsu commented on #1482
@lgirdwood Good point, need the information.

There's the thing that the SRC with HiFiEP intrinsics is not yet fixed for timer based scheduling (at that time no xtensa built testbench, no device to test it a while ago - now I can at least test with device again so I should do it).

SRC on BYT should work with gcc build but not with xt-xcc  build. I updated only the HiFi3 intrinsincs version with p

[2019-05-29 11:18] juimonen commented on #1487
btw the strange thing here is that I can play s24/s32 48khz just fine to media pipe hw:0,1...

[2019-05-29 11:19] singalsu commented on #1482
@juimonen Thanks, then it's not the non-updated HiFiEP intrinsics issue.

[2019-05-29 11:20] juimonen commented on #1482
btw there's little bit similar issue @singalsu found on 0,0 device:
https://github.com/thesofproject/sof/issues/1487

[2019-05-29 11:38] juimonen opened #1488 "[BUG] Byt media pipe plays audio too fast."
**Describe the bug**
Byt media pipe hw0:1 plays audio "speeded up" like 2-8x times. Makes speed metal out of your hard rock songs.

**To Reproduce**
Play audio to media pipe hw:0,1

**Reproduction Rate**
Always

**Expected behavior**
Normal speed

**Impact**
showstopper

**Environment**
1) latest kernel, latest firmware
2) toppology: sof-bt-rt5682.tplg
3) platform: byt mb/rt5682, t100
4) Reproduci

[2019-05-29 11:39] juimonen commented on #1488
https://github.com/thesofproject/sof/pull/1489 fixes this. I'm not totally sure about the actual root cause...

[2019-05-29 11:47] #1173 closed

[2019-05-29 11:51] juimonen commented on #1482
you need  https://github.com/thesofproject/sof/pull/1489 even to try this in byt

[2019-05-29 12:50] lgirdwood commented on #1461
@singalsu ok, I guess we have matlab/octave script to generate this data ? if so, it can be included in M4 atm using Make to generate the outpt which can be included in M4. This same matlab script can then also be invoked by topology 2.0 compiler when it arrives.

[2019-05-29 13:13] lgirdwood commented on #1463
@sathyap-chrome both those args will impact timing and no_console_suspend will probably impact the overall system PM state. Is there any impact if you remove the early printk (and keep console) ? and any impact the other way around ? This may shed light on whether it's more timing or PM....

[2019-05-29 13:19] lgirdwood commented on #1413
@kv2019i FW #1354 merged.

[2019-05-29 13:23] lgirdwood commented on #1487
@juimonen what does aplay -v show for both pipelines as this may relate to host period size.

[2019-05-29 14:27] singalsu commented on #1461
@lgirdwood I think a Python script could calculate in topology 2.0 scenario the unmute ramp time based on mic data sheet max DC value % and platform audio cluster version information. I don't expect build servers to have Octave available so I'd like to avoid it. The computed parameter would be a single milliseconds value for ramp length and passed as a new DMIC token to firmware driver.

Before th

[2019-05-29 15:43] sathyap-chrome commented on #1463
@lgirdwood  Agreed. we had limited EVTs to try the test multiple times. I can give this data tomorrow.
Also i tried with the PR#943 kernel patch on my tip and tried very few cycles of S3. I didnt observe ipc timeouts but there were some other issues ( still not triaged if its audio or not) . will keep you posted by EOD tomorrow

[2019-05-29 17:19] plbossart commented on #1461
I think at some point we are going to have to recognize the difference between firmware processing graph and platform hardware configuration.
Currently we stick the two pieces of information in the same topology file, but that leads to all sorts of maintenance issues. If we have two platforms with the same codec but different DMICs, we are completely hosed.

[2019-05-29 18:19] singalsu commented on #1461
Yep, though fortunately the variation in DC level settling is not so large. I think most of the needed mute time originates from platform and not from the component. The DC compensation in HW is slower than needed due to things that sometimes happen in engineering.

[2019-05-29 19:53] kv2019i commented on #1413
Ack, closing.

[2019-05-29 19:53] #1413 closed

[2019-05-30 11:28] plbossart commented on #1212
@lgirdwood I have zero cycles to work on this until Q4.

[2019-05-30 11:30] lgirdwood commented on #1212
IPC 2.0 should have the following requirements.
1) Support IPC deprecation
2) Support IPC growth
3) Support IPC discoverability.
4) Support multiple classes of features (not just audio).

Requirements can be met if :

1) IPC "ID space" is split into several classes like audio, debug, sensors, etc
2) Each IPC class has a set of supported IPC commands (with GUID).
3) Each IPC command is tightly coup

[2019-05-30 11:32] lgirdwood commented on #1212
@plbossart I know, it's to keep you in the loop.

[2019-05-30 12:39] zrombel opened #1494 "[BUG][WHL] MultiKernel Stream Stall"
**Describe the bug**
MultiKernel Issue: HDA-DMA is not starting after sending trigger_start to stream. Pipelines are created on same core different than 0.

**To Reproduce**
Create Playback and Capture on same core > 0, start streams.
Python test case: tests/sof/fw_02_pass_through/test_16_ptp_simple_loopback_same_kernel_core.py

**Reproduction Rate**
10%

**Environment**
Tested with python tests.

[2019-05-30 14:05] lgirdwood opened #1496 "[FEATURE] GDB polling stub entry for FW crashes"
**Is your feature request related to a problem? Please describe.**
There needs to be a Kconfig debug option that invokes the GDB stub in IPC polling mode (i.e.not using scheduler for IPC) upon any FW exception or crash.

**Describe the solution you'd like**
GDB stub will be started in polling mode for any FW crash if enabled in Kconfig. GDB commands over IPC should be polled (by reading IPC regist

[2019-05-30 23:04] jajanusz opened #1497 "[BUG] Coefficients files need license info"
Files below are missing licenses. Please add BSD license + copyright. Actually these files without that shouldn't be even in repo. Blocker for #1458

Sorry for troubling you, but author should apply that initial license. I don't know if I can touch these files without your permission.

List of files:
[code]

[2019-05-30 23:06] jajanusz opened #1498 "[BUG] Logger files need license info"
Files below ~~are missing licenses~~ have GPL License. Please add BSD license + copyright.

List of files:
[code]

[2019-05-30 23:09] jajanusz opened #1499 "[BUG] GDB files need license info"
Files below are missing licenses. Please add BSD license + copyright. Actually these files without that shouldn't be even in repo. Blocker for #1458

Sorry for troubling you, but author should apply that initial license. I don't know if I can touch these files without your permission.

List of files:
[code]

[2019-05-30 23:16] jajanusz opened #1500 "[BUG] KPB UT files need license info"
Files below are missing licenses. Please add BSD license + copyright. Actually these files without that shouldn't be even in repo. Blocker for #1458

Sorry for troubling you, but author should apply that initial license. I don't know if I can touch these files without your permission.

List of files:
[code]

[2019-05-31 07:08] jajanusz commented on #1498
@lgirdwood @plbossart  We have GPL license in logger, should it be like this?
The same goes for rimage, should it be gpl?

[2019-05-31 07:52] singalsu commented on #1497
@jajanusz They are automatically generated, I'll add the BSD license creation to the generator script and re-run.

[2019-05-31 08:10] jajanusz commented on #1497
@singalsu I'm going to change all files to use SPDX identifiers anyway, so you can add it to your script and already use spdx instead of full license. You just need something like this on top of file:
For .c files:
[code]

For .h files:
[code]

[2019-05-31 08:43] juimonen opened #1502 "[BUG] byt media pipe doesn't work with "192 frames per 4000us deadline""
**Describe the bug**
Byt media pipe plays audio with funny 4-8 times speed if you set up
"192 frames per 4000us deadline" in topology. However,  "48 frames per 1000us deadline" works.

**To Reproduce**
Just play audio to media pipe hw:0,1

**Reproduction Rate**
Always

**Expected behavior**
Normal speed

**Impact**
Can't change scheduling params

**Environment**
1) kernel: latest, fw:latest
2) top

[2019-05-31 08:47] tlauda commented on #1502
@xiulipan @juimonen For EDF scheduler deadline is just maximum allowed time for the task to be executed. Media pipeline is one of couple pipes connected to the mixer, which is further connected to the DAI. DAI is set to 1 ms period, so the pipeline_copy will be executed every 1 ms and propagated to the every connected pipeline. Since media pipe is set to 192 frames we will get 4 times speed (192 f

[2019-05-31 09:05] xiulipan commented on #1502
@tlauda
Thansk for the quick answer!
@juimonen
I think this issue is very worth for the root cause.

Maybe we can refine this issue to track this limitation mentioned by @tlauda

[2019-05-31 09:59] juimonen commented on #1482
@tlauda you have any "quick" cure for this? I'm not sure I'm interpreting correctly but is this like "dma_copy_one_shot" always copying the same fixed amount of data and not taking into account the actual needed data size?

[2019-05-31 10:03] juimonen commented on #1487
@tlauda also this looks like some buffer wrap issue, but I think this is different to #1482? #1482 we are leaving stuff out and "catenating" buffer's together (so actually playback is shorter than it supposed to be). In this we are playing as long as it should be, but missing pieces from the waveform.

[2019-05-31 10:05] tlauda commented on #1482
@juimonen Yes, but it was always like this. The question is, if this has ever worked for BYT?

[2019-05-31 10:08] kv2019i commented on #1463
Issue very likely to be problem with MSI interrupt mode and fixed by https://github.com/keyonjie/linux/commit/08be9af66613b1298c702ebb15d6bc4d15b77cc9 So not a SOF/FW bug.

[2019-05-31 10:10] tlauda commented on #1487
@juimonen Could you verify if the mixer uses the right processing function (mix_n_s32)?

[2019-05-31 10:13] juimonen commented on #1482
@tlauda hmm I'm quite new with byt, so not sure. It was also only recently that the SRC coefficients we're "downscaled" to be able to run without xruns with gcc compilation. Can't we just set the transfer size and start position in copy_one_shot? I think the dma callback at least should handle buffer wraps etc.

[2019-05-31 10:25] tlauda commented on #1482
@juimonen It's not so easy to do, but of course can be accomplished. I haven't touched it, since I don't have any BYT platforms.

[2019-05-31 10:28] juimonen commented on #1482
@singalsu so has this ever worked for youin byt? I think you we're using xt-xcc compilation and running src?

[2019-05-31 10:31] emilchudzik commented on #1396
@ClarexZhou reporting issue on non-official branch (official is master or alpha/beta/pv branches) is only debug, so please report it directly to owner od code.

Please double check issue on master or cml-hda... branch.

[2019-05-31 10:50] singalsu commented on #1482
@juimonen The media pipeline worked a long time ago in BYT but it suffered from same regular glitches as   the low latency pipe prior to SOF 1.1. So, it's long time ago since it last worked.

I've kept the SRC relaxed always for gcc so both versions have executed in real-time in BYT. I'm myself building & testing stuff nearly always with gcc.

[2019-05-31 10:59] juimonen commented on #1482
@singalsu @tlauda so am I interpreting this correctly that this has never worked _correctly_ in byt with dw-dma?

[2019-05-31 11:01] zrombel opened #1503 "[BUG][WHL] Multi Kernel Error -62 on trigger_pause IPC"
**Describe the bug**
After sending trigger_pause FW replies with error: -62

**To Reproduce**
Create playback pipeline on Core 1, capture pipeline on Core 0. Start Streams, play audio, Pause Streams.
Python test case:
- tests/sof/fw_02_pass_through/test_17_ptp_simple_loopback_multi_kernel_core.py
- with modification on pipelines core indexes
- playback-iterations parameter 100

**Reproduction Rate

[2019-05-31 13:24] ranj063 commented on #1463
@kv2019i I checked with @sathyap-chrome and he mentioned that the issue was fixed with https://github.com/thesofproject/linux/pull/943

@sathyap-chrome could you please confirm and close the issue if that is still correct?

[2019-05-31 14:22] sathyap-chrome commented on #1463
I would like to run more stability before closing this issue.
Will keep you posted.

@ranj063 is it good idea to still take keyonjie/linux@08be9af ?
Even if i dont hit issues after picking PR#943 ?

[2019-05-31 14:59] ranj063 commented on #1463
@sathyap-chrome we're still discussing if disabling MSI for all platforms is the way to go. If you see issues with CTX_SAVE, please try it and let us know if it helps. Otherwise, I'd say lets wait till it is merged to sof-dev.

[2019-05-31 15:06] #1309 closed

[2019-05-31 15:21] lgirdwood commented on #1458
@jajanusz do you have an ETA for this ?

[2019-05-31 15:23] lgirdwood commented on #1497
@singalsu this is now a v1.3 blocker.

[2019-05-31 15:35] lgirdwood commented on #1498
@jajanusz there is no reason why it needs to be GPL. All contributions to logger are from Intel so please update to BSD.

[2019-05-31 15:36] lgirdwood commented on #1499
@mrajwa this is blocker for v1.3 release.

[2019-05-31 20:09] lgirdwood commented on #1403
@singalsu I'm looking for users of the structures in include/user/eq.h but cant find any non firmware users ? How is the ABI currently specified for this data ?

[2019-05-31 20:27] lgirdwood commented on #1403
@singalsu one more thing, I also cant see where eqctl inserts ABI information, I guess this in the .txt files ?

[2019-05-31 20:29] ranj063 commented on #1403
@lgirdwood yes the ABI is manually added into the txt files

[2019-05-31 20:34] fredoh9 opened #1506 "[BUG][GLK] HDMI failed to get afg sub nodes, no soundcard"
Daily build of 0530 has no soundcard due to HDMI failures.
linux-80a2cb89
sof-92fc7067

I tried daily build of 0530 onto my GLK Ubuntu RT7219 platform but I see hdmi codec failure, no soundcard. (full log attached)

[    5.018689] HDMI HDA Codec ehdaudio0D2: HDMI: failed to get afg sub nodes
[    5.018693] HDMI HDA Codec ehdaudio0D2: Failed in parse and map nid with err: -22
[    5.018710] HDMI HD

[2019-05-31 20:37] fredoh9 commented on #1506
@ranj063 reported she found same issue in CML chromebook. And Chrome team found suspicious commit.

I tried to revert the commit id, but looks same to me.
333ee2257de8 ASoC: SOF: Intel: hda: fix the hda init chip

I can try git bisect and update this candidate commit here.

[2019-05-31 20:42] lgirdwood commented on #1506
@fredoh9 this is a driver issue. Please log under linux repo.

[2019-05-31 20:42] #1506 closed

[2019-05-31 21:04] akloniex commented on #1498
License has been updated. PR was merged.
@jajanusz please close this issue.

[2019-05-31 21:07] jajanusz commented on #1498
@akloniex thanks
Added in #1505

[2019-05-31 21:07] #1498 closed

[2019-06-01 09:55] jajanusz commented on #1458
@lgirdwood I already made script that does it for me ;) But wasn't sure, if I can add intial licenses on behalf other developers. Later I got info that I can do that, so I'll make PR today with missing licenses + change to SPDX.

[2019-06-02 15:38] #1458 closed

[2019-06-02 15:38] #1497 closed

[2019-06-02 15:38] #1499 closed

[2019-06-02 15:38] #1500 closed

[2019-06-03 01:58] keqiaozhang commented on #1486
@wwittbrx
I just tried the latest kernel sof-dev and firmware master branch on my GLK, this issue can still be reproduced.
Test recipe:
kernel: sof-dev/0a747dc
sof/tplg: master/8901e
platform: GLK-Ubuntu

[2019-06-03 05:25] keqiaozhang commented on #1486
This issue is easy to reproduce(within ten times) when DEBUG_VERBOSE is enabled in kernel side.
CONFIG_SND_DEBUG_VERBOSE=y

The kernel config file is attached.
[linux-sof -config.txt](https://github.com/thesofproject/sof/files/3245961/linux-sof.-config.txt)

[2019-06-03 08:00] juimonen commented on #1487
@tlauda s32/s24 playback to hw:0,0 uses s32 mixer function (and produces distortion). "normal" aplay to hw:0,0 uses s16 mixer function. s32/s24 playback to hw:0,1 seems to use also s32 mixer function (but doesn't produce distortion).

[2019-06-03 08:17] juimonen commented on #1487
@tlauda if I "rewind" fw code to 9be2694232ccbf2d0b559233885ac91e0379cac2 before dw-dma overhaul _and_ apply your a720164cd5ae4c4e656e0cb7d74b199cd9f3ee1a on top of it ->s32 playback to hw:0,0 works...

[2019-06-03 08:19] juimonen commented on #1487
@tlauda sorry meant your (I cherry picked it): 5d554c515d43ddd3ed4148cd22f2a95d135dff2c

[2019-06-03 08:27] tlauda commented on #1487
@juimonen Can you bisect the faulty commit?

[2019-06-03 08:28] keqiaozhang commented on #1342
The failure is changed to system hang with latest code base and no kmsg and trace available.
Test recipe:
kernel: sof-dev/0a747dc
firmeware: master/8901e0
Platforme: WHL-I2S
TPLG: sof-cml-rt5682.tplg

[2019-06-03 08:29] juimonen commented on #1487
@tlauda attached verbose logs of s32 playback to hw00 (distortion) and hw01 (clean)

[test_play_s32_00.txt](https://github.com/thesofproject/sof/files/3246549/test_play_s32_00.txt)
[test_play_s32_01.txt](https://github.com/thesofproject/sof/files/3246550/test_play_s32_01.txt)

[2019-06-03 09:50] mrajwa commented on #1467
@wwittbrx, it means detection is active after 500ms and you will drain **zero** bytes from history buffer, is that what you really want in this test? Also the default `history depth` shall be set to 2100 ms.

[2019-06-03 09:56] wwittbrx commented on #1467
@mrajwa I meant that I don't set history depth at all in this test. That means that in the IPC we send zeroes for this field. I was under the impression that if we do that, we will fall back to default defined in FW code, which as you said is 2100.

[2019-06-03 10:15] juimonen commented on #1487
@tlauda bisected and the commit to break s24/s32 is e2b994ee03916edef0f9269f1b4c9310dfab43f9

[2019-06-03 11:14] juimonen commented on #1487
@tlauda there's something really dodgy in the platform_dw_dma_set_transfer_size macro.... the old one before cleanup produces sane buffer size values... the new macro produces something like overflowed pointer values... I'm not totally sure I understand how this should work. If I change it the "old way": (lli->ctrl_hi = DW_CTLH_CLASS(class) | (size & DW_CTLH_BLOCK_TS_MASK)) things are working...

[2019-06-03 11:35] juimonen commented on #1487
@tlauda so I mean I don't think you can replace a = b | c with a |= b and a |= c

[2019-06-03 14:04] tlauda commented on #1487
Fixed by #1487.

[2019-06-03 14:04] #1487 closed

[2019-06-03 15:28] singalsu commented on #1497
@jajanusz @lgirdwood Thanks for doing the update! Sorry, I didn't know it was that urgent.

I'll update the script to use the new short header.

[2019-06-03 21:58] mrajwa commented on #1486
@keqiaozhang, I am working on fix for very related "wait for buffer empty" issue. I think this should also cover this problem. I will commit in following days.

[2019-06-03 23:21] #1494 closed

[2019-06-04 10:33] #1488 closed

[2019-06-04 10:50] jajanusz commented on #1471
done in #1504

[2019-06-04 10:50] #1471 closed

[2019-06-04 11:14] wwittbrx commented on #1486
@keqiaozhang does this happen on different devices for you?
I was unable to reproduce with -D hw:0,0 or -D hw:0,1.
With -D hw:0,5 reproduction is easy.

Either way, I suggest we wait for Marcin's fix and check if it solves our problem.

[2019-06-04 13:10] keqiaozhang commented on #1486
@wwittbrx
This issue cannot be reproduced on I2S(hw:0,0/hw:0,1). it's easy to reproduce on HDA audio(hw:0,5/hw:0,6)

[2019-06-05 06:51] tlauda commented on #1389
@xiulipan I understand your thinking, but I don't see any spare registers to use for that and ipc regs are for sure not a good idea. Unless platform offers dedicated log regs I don't think we can use anything besides memory window. Anyway memory window with status regs is enabled by ROM, so we have traces even before FW boot. If some platform will ever have some dedicated regs we can revisit this.

[2019-06-05 08:02] #1466 closed

[2019-06-05 09:07] lgirdwood commented on #1403
Merged #1517

[2019-06-05 09:07] #1403 closed

[2019-06-05 11:01] singalsu commented on #1461
The PR #1479 is merged so this can be closed.

[2019-06-05 11:01] #1461 closed

[2019-06-05 12:13] singalsu opened #1521 "[BUG] DMIC 48 kHz capture is louder than 16 kHz, should be same level"
**Describe the bug**
The 48 kHz capture has about 2 dB higher level than than 16 kHz.  This suggest the DMIC registers values computation or filter coefficients scaling code has a mistake.

**To Reproduce**
Capture same acoustical sine wave source from the  48 kHz device and 16 kHz device. Make sure the volume controllers for capture paths are set similarly.

Measure RMS level from wav file signal

[2019-06-05 12:15] singalsu commented on #1521
I'll dump the used programming to simulation model and see if I can reproduce this.

[2019-06-05 12:34] singalsu commented on #1521
Hmm, I used topology sof-apl-dmic-a2ch-b2ch.m4 that setups microphones 1 and 2 for 48k device and microphones 3 and 4 for 16k device. This seems like a mistake in my test. I'll check with suitable topology for this and close this issue if confirmed.

[2019-06-05 12:53] singalsu commented on #1521
Yes, confirmed the same levels with topology that uses same microphones. Closing...

[2019-06-05 12:53] #1521 closed

[2019-06-05 13:28] mrajwa commented on #1486
@keqiaozhang, have you noticed any dependency on --period-size? Like bigger/smaller values cause this issue to happen more/less frequently?

[2019-06-05 13:44] singalsu commented on #1403
@lgirdwood The EQ tool gets the ABI via function SOF/tools/tune/eq/eq_get_abi.m. Currently the version is hard coded there manually to 3.0.0.

I've been wondering if tools like sof-ctl could return the ABI header in usable form for Matlab code. The C headers can't be used for other languages easily.

[2019-06-05 15:24] xiulipan commented on #1389
@tlauda
https://github.com/thesofproject/sof/blob/eca023476fce5782873dfe1123ab68afe31493f0/src/arch/xtensa/boot_loader.c#L239-L240

I think this would be a TODO for APL+, which means from CNL and CNL+

[2019-06-05 16:33] tlauda commented on #1352
@ranj063 Is this still a valid case? It looks like @singalsu cannot reproduce it.

[2019-06-05 16:36] tlauda commented on #1389
@xiulipan It's pretty old comment. I know that on non-cAVS platforms trace points are in fact put into IPC regs, but I'm not fan of doing it also on cAVS platforms, since we have memory window.
@lgirdwood What's your take?

[2019-06-05 19:27] lgirdwood commented on #1403
@singalsu I intend to add some features requests for this.

[2019-06-05 20:22] #1503 closed

[2019-06-05 20:51] lgirdwood commented on #1389
This is probably best via a shared register since it does not depend on SRAM windows init being complete, but not sure how easy this will be as IIUC the BUSY IRQ bit needs to be set in order for the updates to appear on the host side.

[2019-06-06 06:42] #1388 closed

[2019-06-06 08:10] jajanusz commented on #95
@singalsu @lgirdwood Are we going to make it? Or maybe we can assume that you can use volume ramp as fader?

[2019-06-06 08:13] jajanusz commented on #130
@ranj063 Is issue solved with #1194 ?

[2019-06-06 08:35] singalsu commented on #95
Using volume would be idea since we have those in every pipeline. But does ALSA/ASoC have capability to do such control or would this need to be additional control layer within SOF?

[2019-06-06 08:42] singalsu commented on #95
Also maybe this isn't no more an issue with audio servers like CRAS and Pulseaudio?

[2019-06-06 08:42] jajanusz commented on #257
Going to be closed with #1524 as initial issue will be fixed.
@xiulipan If you are going to plug Coverity to CI you can create new issue.

[2019-06-06 10:15] tlauda commented on #258
@xiulipan Closing as non issue. You can reopen if Coverity will still complain.

[2019-06-06 10:15] #258 closed

[2019-06-06 10:16] tlauda commented on #531
@xiulipan Fixed with #598.

[2019-06-06 10:16] #531 closed

[2019-06-06 10:22] tlauda commented on #544
@keyonjie @lgirdwood SKL+ platforms don't use this buffer at all. The right starting data should be put at the beginning of BDL on the host side, so the Host DMA Gateway gets the right samples. Gateway starts from the beginning after every reset and pointer cannot be explicitly controlled by the DSP.
Can we close this?

[2019-06-06 10:40] tlauda commented on #766
@naveen-manohar @sathyap-chrome Do we still observe such issues with kernel without MSI?

[2019-06-06 10:43] tlauda commented on #810
@ranj063 Is there any progress?

[2019-06-06 10:48] tlauda commented on #848
@keqiaozhang Can you reverify? There were some changes in both HDMI and XRUN handling.

[2019-06-06 10:48] tlauda commented on #884
Done in #1416.

[2019-06-06 10:48] #884 closed

[2019-06-06 10:49] tlauda commented on #890
@plbossart Please reverify if the issue still exists.

[2019-06-06 10:55] jajanusz commented on #258
@plbossart @tlauda May be marked as false positive in Coverity. Someone can hack elf section header to have big value 4 fun and it will only result in calloc failing to allocate memory, or crashing rimage. Non-security issue. Doing sanity checks for things like this will only make code less readable.

[2019-06-06 10:55] #1040 closed

[2019-06-06 11:00] jajanusz commented on #384
WIP #957

[2019-06-06 11:06] lgirdwood commented on #130
@bardliao can we close now ?

[2019-06-06 11:12] lgirdwood commented on #95
@singalsu we can use std ALSA kcontrols to control faders in volume. They could be added to volume component topology as to whether a certain volume control exposed fader functionality..

[2019-06-06 11:13] jajanusz commented on #536
This issue is about sanity checks in FW code. Not about checking what we can remove from the code, or about fuzzer app that is going to tests if invalid ipcs gonna break FW.

[2019-06-06 11:33] jajanusz commented on #537
@mmaka1 Is it done/WIP?

[2019-06-06 11:37] marcinx-zielinski commented on #536
I know. I just referred to the example given by lgirdwood. We can't do sanity checks on dead code, that would be pointless. I understand that the task is just to put the sanity checks everywhere it is possible and refers to working code.

[2019-06-06 11:45] jajanusz commented on #580
@singalsu Was it addressed in some PR? Can I close it?

[2019-06-06 11:58] jajanusz commented on #632
@plbossart Is it done? I guess it need changes in topology files, so someone from SW have to look into it.

[2019-06-06 12:00] kv2019i commented on #95
@singalsu I'm not convinced this should be done at the low-level. In most end-user systems audio server (Pulseaudio, CRAS, JACK) is producing constant audio stream to ALSA and music pause is not directly visible to the ALSA device. If a low-level app directly pauses, SOF will not be getting PCM samples, so it's a bit tricky from where you get the samples to fade out with. You'd have to add some de

[2019-06-06 13:06] jajanusz commented on #681
It will just add unnecessary burden to the codebase. It's something that just CI/occasional checks should do, some check with random key and try to load it. For sure it shouldn't be placed next to valid keys.
The most we can add to the repo for that is some script with its invalid key.

@mengdonglin Probably @xiulipan is the best person to be assigned for this one.

[2019-06-06 13:21] jajanusz commented on #710
WIP #1439

[2019-06-06 13:29] jajanusz commented on #737
@lgirdwood  @mmaka1 Should w invest time into that? Imo we should stick to one of xt-run or qemu. Supporting both may be extra effort we don't want. At most we should care of 1 simulator + host tests, actively supporting multiple simulators from our side may be too time-consuming. It's not like you just have to run it on qemu. Later we gonna have for example coverage so you'll have to add profiler

[2019-06-06 13:34] bardliao commented on #130
In my opinion, yes.

[2019-06-06 13:35] singalsu commented on #758
@jajanusz OK, got it. It's a fairly small task, I'll start doing next week.

[2019-06-06 13:36] jajanusz commented on #758
@singalsu It would be great. However it's low priority task, so feel free to do it only if you have nothing better to do.

[2019-06-06 13:38] #130 closed

[2019-06-06 13:47] jajanusz commented on #791
@singalsu What do you mean by `should receive their ABI`? Do you need some struct defs in matlab scripts that are in C and you have to duplicate them in matlab?

[2019-06-06 13:51] singalsu commented on #580
@jajanusz I do have now suitable test HW with the mic model that is sensitive to short clock bursts to verify if this can happen. I'll update shortly my results. If it happens the fix will be quite simple on FW side.

Though we might need another DMIC token into driver side. The IPC struct has been already updated with placeholders for the needed data.

[2019-06-06 14:19] singalsu commented on #791
Yes I've transformed the needed headers into Matlab code to create without manual work e.g. the ascii hex blob to include from topology or the ascii decimal blob to pass with sof-ctl. The solution for making the blob in Matlab is ugly and not good for maintenance.

I think some C helper tool would be more elegant since it could use the SOF ABI headers as such and insert the pretty stable EQs confi

[2019-06-06 14:57] kv2019i opened #1526 "[BUG] start/stop of SSP/nodec stream interferes with another stream"
**Describe the bug**
This is a clone of Linux bug https://github.com/thesofproject/linux/issues/854
The history is a bit complex to follow, but upon study of the bug today, the case is as follows:

Two PCM playback clients connected to SSP in nocodec mode. One client is kept stream, while other continuously starts and stops.

**To Reproduce**
Aplay instructions in
https://github.com/thesofproject/

[2019-06-06 15:02] kv2019i commented on #1526
[soflog.txt](https://github.com/thesofproject/sof/files/3262189/soflog.txt)

Annotated bits from above log.
client 1 (all the time running) is started
[code]

Then client 2 (start/stop in loop) is stopped and started and start fails
[code]

Xrun recovery fails for client 2, but that also brings down client 1:

[code]

[2019-06-06 19:08] yongzhi1 opened #1527 "[BUG] KWD: not able to trigger detection with glk-012-stable-branch based FW"
**Describe the bug**

Checkout glk-012-stable-branch and build FW, not able to trigger key phase detection using default clap hands sound.

mkdir build_apl && cd build_apl
cmake -DTOOLCHAIN=xtensa-apl-elf -DROOT_DIR=`pwd`/../../xtensa-root/xtensa-apl-elf ..
make apollolake_defconfig
make bin -j4

**To Reproduce**
arecord -Dhw:0,8 -M -N -c2 -f S16_LE -r 16000 /tmp/test.wav -vvv

**Reproduction Rate

[2019-06-06 19:26] lgirdwood commented on #537
@jajanusz I think this is mostly done now, it was especially needed on the DMA drivers as channels were using arrays.

[2019-06-06 19:37] lgirdwood commented on #536
@marcinx-zielinski sanity checks should be for any data passed in externally in from host. handler.c can check the headers (since they are common), but the feature specific IPC should be checked at the next level (in the feature specific code). We can't check everything, but obvious limits, types, sizes can be validated.

[2019-06-06 20:55] lgirdwood commented on #737
@jajanusz I'm happy with xtrun today, but we probably want to keep this feature "open" for the community as this may be useful to run cmocka on non xtensa targets with qemu.

[2019-06-06 21:02] lgirdwood commented on #758
@singalsu lets have this for v1.4 since it's a small task, Btw does FIR require the same ?

[2019-06-06 21:16] lgirdwood commented on #791
@singalsu we probably need a small C tool that includes the ABI header that can be used by your matlab code to insert the header with the correct ABI for the matlab tool.

[2019-06-06 21:21] lgirdwood commented on #1526
@kv2019i are these two pipelines connected via the mixer ? or are they not connected. Just confused seeing HDMI and SSP then seeing MIXER in the logs.

[2019-06-07 06:06] lgirdwood commented on #1527
@yongzhi1 can you include the firmware log too. @mrajwa could we be missing a patch ?

[2019-06-07 06:38] jajanusz commented on #859
@lyakh Is it WIP in #1053 or #1355 ?

[2019-06-07 07:27] singalsu commented on #758
@lgirdwood FIR is optimized already since it was hit worst by generic C implementation. Fortunately I did the intrinsics version for year ago OSTS demo.

[2019-06-07 07:30] kv2019i commented on #1526
@lgirdwood wrote:

Good point, yes they are. This is the standard pipe of:
https://github.com/thesofproject/sof/blob/master/tools/topology/sof-apl-nocodec.m4

![tplg](https://user-images.githubusercontent.com/46528387/59088099-23398e00-890f-11e9-8e03-a373769345c8.png)

Updated the title to reflect this related to two streams connected via mixer.

[2019-06-07 07:53] #257 closed

[2019-06-07 09:18] mrajwa commented on #1527
@lgirdwood, he has also notified me about the problem via email (providing logs). I checked that and it looks like his gcc build is treating config structs differently than xt-xcc does. Therefore he has incorrect config. For example `cd->config.activation_threshold` has some trash value, therefore detection will never happen. Once I am done with my current work I will provide a gcc fix for that.

[2019-06-07 10:47] tlauda commented on #1526
@kv2019i Fail happens when you are stopping client 0 and client 1 is running. As long as you are stopping client 1 everything is working. It doesn't really matter, because it's still a bug, but just wanted to make sure you are aware of that.

[2019-06-07 11:58] jajanusz commented on #1142
@lgirdwood @xiulipan
Any conclusions? IMO Now when we have 1 folder that is for kernel and you can literally just get files from that folder to 1 folder in kernel and ipc folder to another, it's easy to have bot/CI that takes care of keeping kernel in sync.

FW is provider of headers, so you just check if something got merged to the master and then do automatically PR in kernel repo, or just notif

[2019-06-07 12:12] jajanusz commented on #1310
Enabled in #1384 , user is able to pass any flag that is needed, not just pv

[2019-06-07 12:12] #1310 closed

[2019-06-07 12:14] jajanusz commented on #1332
@bkokoszx I hope @lgirdwood answered your questions. Looks like issue is resolved for me. If you need more info feel free to reopen.

[2019-06-07 12:14] #1332 closed

[2019-06-07 12:18] jajanusz commented on #1340
@ranj063 can you do this with recent implementations of f.e. mux or you still need some specific component? I'm not sure how complete topology you'd like to look.

[2019-06-07 12:21] jajanusz commented on #1346
@kv2019i I don't know from where you get oops defs, but these in kernel were wrong. Can you still reproduce the issue after recent ABI align / coredumper updates?

[2019-06-07 12:29] jajanusz commented on #1352
@ranj063 This may no longer be bugged as @singalsu did some fixes to SRC, can you try to reproduce it with current codebase?

[2019-06-07 12:52] jajanusz commented on #1398
@mmaka1 Done in #1431 ?

[2019-06-07 13:00] jajanusz commented on #1406
@mrajwa @keyonjie @tlauda Is it still a problem?

[2019-06-07 13:07] jajanusz commented on #1443
@xiulipan @Jiangxinx @fredoh9 More like you need quirks support in byt/hsw ssp.c at all. Why there are no  ssp quirks for these platforms?

[2019-06-07 13:18] lgirdwood commented on #1142
@jajanusz we can only track delta (after running pre-processor) and then bisect any commits that are missing on on side. But in general that dashboard will show status for each PR (and I dont merge until dashboard is aligned for both kernel and FW).

[2019-06-07 13:21] singalsu commented on #580
@jajanusz @michalgrodzicki @plbossart I did the re-verify. The conclusion is that I'm not able to get the microphone state freeze to mute happen with any very short captures prior to a longer test capture.

I tested with 2 ms increment to do capture of 10, 12, 14, ... 50 ms. The range 50 - 100 ms range I tested with 10 ms steps. I inspected the PCM samples level from the 5.0s long capture after ea

[2019-06-07 13:23] singalsu commented on #580
Closing this issue.

[2019-06-07 13:23] #580 closed

[2019-06-07 13:24] lgirdwood commented on #1340
The only problem with this is it wastes a DMA channel. @ranj063 what's the usecase for this again, I guess this where we have some machines where the ASoC machine driver cant determine which SSP is used ?

[2019-06-07 13:28] singalsu commented on #791
@lgirdwood Yes that looks like the best approach. I think I should be able to do it in mid July.

[2019-06-07 20:25] lgirdwood opened #1534 "[FEATURE] sof-ctl should be able to accept binary data."
**Is your feature request related to a problem? Please describe.**
sof-ctl currently only takes ASCII CSV as it's data format. Add support for raw binary data.

**Describe the solution you'd like**
sof-ctl should be able to read/write raw binary data.

[2019-06-07 20:30] lgirdwood opened #1535 "[FEATURE] sof-ctl should be able to insert ABI header."
**Is your feature request related to a problem? Please describe.**
sof-ctl currently can't insert ABI header.  A common use case is to generate new binary blob (using proprietary tools) and upload to FW for runtime tuning. Proprietary tools may not be able to generate the header.

**Describe the solution you'd like**
A command line argument like ```sof-ctl -a 3:8:0``` to insert header for ABI. If

[2019-06-07 20:36] #1266 closed

[2019-06-07 21:05] lgirdwood opened #1536 "[FEATURE] EQ support runtime coefficient updates"
**Is your feature request related to a problem? Please describe.**
Currently the EQ can only update coefficients when the component is stopped.

**Describe the solution you'd like**
EQ should be able to update coefficients during stream runtime.

[2019-06-07 21:13] lgirdwood opened #1537 "[FEATURE] Beamformer"
**Is your feature request related to a problem? Please describe.**
Beamformer using array of 4 or more DMICs

**Describe the solution you'd like**
@singalsu will leave this open for you to define.

[2019-06-07 21:29] lgirdwood commented on #1536
duplicate of https://github.com/thesofproject/sof/issues/1391

[2019-06-07 21:29] #1536 closed

[2019-06-07 21:30] lgirdwood commented on #1280
@juimonen this is probably in your area since you have worked through the 50kHz stuff. This is P1 for v1.4

[2019-06-07 21:32] lgirdwood commented on #1279
@ranj063 I assume we will be good to merge our current fuzzer after IPC is done ?

[2019-06-07 21:34] lgirdwood commented on #1052
@michalgrodzicki @mengdonglin lets make this P1 for v1.4 as it cleans up our DMA logic a lot. @tlauda has already made a start, but lets track with this feature.

[2019-06-08 07:28] jajanusz commented on #682
@plbossart @lgirdwood @lbetlej Do we need this? Fuzzer should test it without need for keeping bad topologies in repo. Probably we should close it and stick to #1279

[2019-06-10 05:14] xiulipan commented on #257
@jajanusz
The Coverity may not be in CI as it would require third party sever to analysis and take long time for result showing. And the result can not be export for sharing, developer may need access to Coverity to review the test result.
Need to figure out a way to test with Coverity.

[2019-06-10 06:04] xiulipan commented on #681
@jajanusz @plbossart @lgirdwood
What would this key used for?
Do you mean add some fail case test in CI?
I will take that as a new feature request.

[2019-06-10 06:08] xiulipan commented on #1443
@jajanusz
Thanks for the tips,I checked the code and we did missed some loopback set up for BYT/HSW.
@fredoh9 Could you check patch #1538 from @jajanusz

[2019-06-10 08:21] singalsu commented on #1537
Great, I think this will be very useful. I'd propose to start with a fixed time domain beamformer for a 16 kHz DMIC pipeline. Such simple beamformer is well compatible with with possible with other firmware or user space based other processing like AEC and NS.

The filter coefficients would be passed like EQ coefficients from user space. We have now the large data IPC support so this can be done (

[2019-06-10 09:08] naveen-manohar commented on #1475
@wwittbrx This is similar to the observations filed in https://github.com/thesofproject/sof/issues/686
And its not an issue if channel-3 & 4 has negative DC or null on a board with only 2 dmics connected(as per board schematics).

@singalsu: From the board schematics, i dont observe DMIC-3 and DMIC-4 are connected, may be .brd file can explain more on why we observe null for ch-3 & -ve DC for ch-4

[2019-06-10 09:14] #1398 closed

[2019-06-10 09:17] lgirdwood commented on #791
@singalsu great, marked it for v1.4

[2019-06-10 09:32] lgirdwood commented on #682
@jajanusz yep, I think @ranj063 should be able to confirm that fuzzer can take existing valid topollogies and mangle them to check Linux driver error paths.

[2019-06-10 09:56] #537 closed

[2019-06-10 10:00] jajanusz commented on #544
We don't plan implementing this. Feel free to reopen if topic comes back.

[2019-06-10 10:00] #544 closed

[2019-06-10 10:01] jajanusz commented on #632
@plbossart @ranj063 @kv2019i ping

[2019-06-10 10:04] jajanusz commented on #848
@keqiaozhang @markyang ping. Can you recheck?

[2019-06-10 10:05] jajanusz commented on #1352
@ranj063 Closing as others couldn't reproduce it. If you still have this issue feel free to reopen.

[2019-06-10 10:05] #1352 closed

[2019-06-10 10:28] lgirdwood commented on #681
@xiulipan this is to test driver handling paths for FW boot/signing failure. Maybe best option is to have rimage cmd line option that signs with random data. This way we don't have to carry "testing keys" and rimage can still sign using random data (as the private key).

[2019-06-10 10:35] jajanusz commented on #681
@lgirdwood I prefer to clutter some deep folder that no1 looks into instead of rimage codebase.
Also CI should be deterministic, I know it's near to impossible to match valid key, but still, it makes CI non-deterministic.

[2019-06-10 12:42] lgirdwood commented on #681
@jajanusz I'm also fine with signing with an empty or 0 key (as long as driver error flow is tested)

[2019-06-10 14:28] plbossart commented on #682
@jajanusz This is a different level of validation. A bad config can be applied and tested on a regular basis by QA.  It's like module load/unload, it should be part of the basis acceptance tests.
Fuzzing has elements of randomness to it that will prevent it from being used on a regular basis, and the interpretation of the results could take time.
Different tools really.

[2019-06-10 14:59] jajanusz commented on #682
@plbossart You are right, for regular (CI) tests you need something else than fuzzer. I just didn't know what you want to achieve, but now it's clear.

[2019-06-10 18:52] plbossart opened #1543 "[BUG] Cppcheck warnings"
**Describe the bug**

Cppcheck throws quite a few warnings on the SOF code.

**To Reproduce**
Install cppcheck and run this command
cppcheck --platform=unix32 --force --max-configs=1024 --inconclusive --enable=all src

**Reproduction Rate**
N/A

**Expected behavior**
Zero unexplained warnings

**Impact**
Code quality

**Environment**
SOF master

**Screenshots or console output**
N/A. Results are a

[2019-06-10 19:51] lgirdwood opened #1544 "[FEATURE] Topology builder 2.0"
**Is your feature request related to a problem? Please describe.**
M4 topology allows for pre-processing and generation of topology alsa conf format but does not allow easy validation, semantic or syntax checking.

**Describe the solution you'd like**
1st pass - Use M4 for preprocessing of "include" and "define" of constants.
2nd pass - Develop parser for where topology can be validated alongside

[2019-06-10 19:55] lgirdwood commented on #1544
@mmaka1 which format does the eclipse plugin use for topology data ? We will need to make sure cmd line and GUI tools can work alongside each other.

[2019-06-10 20:02] lgirdwood commented on #1543
@xiulipan fyi, cppcheck could be added to CI

[2019-06-11 02:53] keqiaozhang commented on #848
@jajanusz @tlauda
Verified this issue with latest code base and got 1K iterations pass. This issue can be closed now.

Test recipe:
sof: master/c0c858
kernel: sof-dev/a50a2
tplg: sof-glk-da7219.tplg
platform: GLK-I2S/Ubuntu 18.04

[2019-06-11 02:53] #848 closed

[2019-06-11 03:39] xiulipan commented on #1543
@lgirdwood
Got it.

@plbossart
Do we also need cppcheck for linux kernel?

[2019-06-11 06:33] lyakh commented on #859
@jajanusz I'm waiting for comments from @lgirdwood to decide which way to go. We wanted to abandon #1053 and use #1355 but it turns out, the latter has its difficulties too.

[2019-06-11 07:05] #1385 closed

[2019-06-11 10:15] lgirdwood commented on #1543
@mengdonglin fyi, will need someone to fix the issues.

[2019-06-11 10:35] lgirdwood commented on #859
@lyakh apologies for the delay, please do keep pinging me if needed. #1355 is the way to go, can you remind us of the "difficulties"  in a few sentences.

[2019-06-11 13:05] plbossart commented on #1543
On 6/10/19 10:39 PM, xiulipan wrote:

Cppcheck generates a lot of false alarms and is quite hard to configure,
so I am not sure if it makes sense to add it as a required gate keeping
tool.
I know the Canonical folks use it but to check for new errors, not to go
down to zero warnings.
If we can add it as an informative tool it could be useful though.

I run cppcheck on the kernel manually, along wi

[2019-06-11 13:18] tlauda commented on #1389
@lgirdwood For cAVS ROM enables memory window, so trace points should be available as soon as ROM jumps to FW.

[2019-06-11 13:31] #1484 closed

[2019-06-11 21:10] lgirdwood commented on #1389
@tlauda ok thanks, SRAM window it is then. @xiulipan  no need to use IPC register now, comment can be deleted.

[2019-06-12 11:24] wwittbrx commented on #1486
@keqiaozhang I can't reproduce this issue at current master branches
https://github.com/thesofproject/sof/commit/8eb6a7861dfa45866376dedb3f14131f8f531ac4
https://github.com/thesofproject/linux/commit/dd9faeff45bfd4ab61af24ae43755c20fbb28a3e

Can you confirm it on your side?

[2019-06-12 11:26] tlauda commented on #1486
@keqiaozhang @wwittbrx If you can't reproduce it anymore, you can assume it has been fixed by #1546.

[2019-06-12 13:16] #1389 closed

[2019-06-12 15:40] lgirdwood opened #1556 "[FEATURE] topology IPC builder"
**Is your feature request related to a problem? Please describe.**
Static topology is currently hard coded into FW binaries as C code. This is inflexible and does not support reuse of existing tools. We need to be able to stitch in topology data as an array of IPC messages into the FW binary (as an ELF section).

**Describe the solution you'd like**
1) Small cmd line tool that converts native kern

[2019-06-12 21:43] ranj063 commented on #1556
@lgirdwood @kv2019i the testbench only does the tplg binary parsing but skips the IPC. But the fuzzer branch has the complete code for this.

[2019-06-13 12:30] lgirdwood commented on #1556
@ranj063 great thanks, we can separate this code out and build as a library that can bus used by fuzzer, test bench and FW.

[2019-06-13 15:18] xiulipan commented on #1543
@plbossart
I am going to add following cmd to run in CI with cppcheck, do you think it is ok?
`cppcheck --platform=unix32 --force --max-configs=1024 --inconclusive --enable=all sound/soc/sof`

[2019-06-13 21:46] plbossart commented on #1543
On 6/13/19 10:18 AM, Pan Xiuli wrote:

As I mentioned you are going to see a ton of warnings. cppcheck does not
deal well with callbacks - reports them as being unused - and provides
too many reports of variable scope
I think cppcheck should be used to check *new* warnings only - and only
on an informative basis. It shouldn't block CI.

[2019-06-14 01:15] keqiaozhang commented on #1486
Thanks @tlauda  and @wwittbrx
This issue is not reproducible to me, I got 50K iterations pass with latest code base. So this issue can be closed now.
Test recipe:
Kernel: sof-dev/96033e6b
Firmware: master/96a544e6

[2019-06-14 01:15] #1486 closed

[2019-06-14 07:46] mengdonglin commented on #1406
@keyonjie @keqiaozhang @tlauda Is this issue also fixed by PR #1546  ?

[2019-06-14 08:14] lgirdwood commented on #1543
@xiulipan @plbossart so this is maybe something we need to run weekly instead of CI so that a human can fix without blocking CI. Fwiw, we could store the false positives in git so that any developer can diff the false positives against the latest generated report file.

[2019-06-14 08:16] lgirdwood commented on #1543
@mengdonglin most of these issues are valid and are relatively simple fixes. One days work to fix most of them.

[2019-06-14 08:18] tlauda commented on #1406
@mengdonglin No.

[2019-06-14 08:49] mrajwa commented on #1406
@mengdonglin, @tlauda this issue is fixed by:
https://github.com/mrajwa/sof/commits/cml-005-drop-stable [FW]
https://github.com/thesofproject/linux/pull/1037 [Kernel]

[2019-06-14 11:17] xiulipan commented on #1543
@lgirdwood
Like @plbossart said, there will be tons of false alarm and I do not think human can identify what is **new**  warning when we see them.

Maybe store every scan log in daily and try to diff the logs may be a good solution here. I will try to enable cppcheck for daily build and store the report.

[2019-06-14 14:45] singalsu commented on #758
@lgirdwood I didn't find time for this, new ETA is beginning of July, after my vacation ends plus need some work days.

[2019-06-14 14:51] singalsu commented on #1475
@naveen-manohar Are devices of this model producing similar capture waveform, especially for channel 3 (some fairly silent noise, not null) that's quite different from channel 4 (large dc value, as expected for not connected microphone)?

[2019-06-14 15:49] kv2019i commented on #1346
@jajanusz wrote:

Sorry for late reply. I did not rely on kernel defintions. Rather I dump the whole exception window area and just use the coredump script to analyze. This way kernel definitions are not in play (they are just used to print out some summary data to kernel dmesg).

When I trigger the oops myself (null reference or __asm__("ill")), I still get the corrupt oops as decoded by coredump

[2019-06-15 06:42] fredoh9 commented on #1443
I tested #1538 on MB NOCODEC mode. it worked fine. Looks good to me. Thank you for the fix.

[2019-06-15 10:03] #1443 closed

[2019-06-15 14:24] plbossart commented on #1543
The more complicated parts are the void pointer arithmetic, which is easy to fix in a wrong way or to make the code really unreadable.

[2019-06-17 06:49] keqiaozhang commented on #1406
@mrajwa
I tested above recipe on GLK Chromebook, but I run to DSP panic after draining, The reproduction rate is 100%.

**console output**
[code]
**dmesg**
[code]
**trace**
No obvious trace errors, the trace logs are attached.
[logger.log](https://github.com/thesofproject/sof/files/3295538/logger.log)
[logger-t.log](https://github.com/thesofproject/sof/files/3295539/logger-t.log)
[dmesg.log](https

[2019-06-17 10:44] lyakh commented on #1485
@tlauda shall we close this now that #1508 has been merged?

[2019-06-17 10:49] jajanusz commented on #766
@naveen-manohar @sathyap-chrome Closing as we don't have this error on RVPs and probably the problem is gone on your side on kernel w/o MSI. Feel free to reopen this issue, if you still have this problem.

[2019-06-17 10:49] #766 closed

[2019-06-17 10:51] jajanusz commented on #890
@plbossart @stevyan @mengdonglin Do you still see this issue?

[2019-06-17 11:33] jajanusz commented on #1485
@lyakh Do you still get panic? In PR you wrote that it doesn't solve issue fully.

[2019-06-17 12:13] lyakh commented on #859
@jajanusz @lgirdwood I think this is outdated again or there is some confusion. In my understanding the decision now is to use common for all CPU cores IRQ controller descriptors, allocated from non-cacheable RAM. I'll update #1053 with a new version.

[2019-06-17 12:54] jajanusz commented on #1396
@emilchudzik @ClarexZhou Can we close it? Looks like it turned out to be kernel-side issue.

[2019-06-17 12:56] jajanusz commented on #1401
@lgirdwood @tlauda ping

[2019-06-17 13:37] kv2019i opened #1572 "[BUG] start/stop floods with applications using start threshold, e.g. with aplay+S3"
**Describe the bug**
There seems to be an issue with handling a TRIG_START when following conditions apply:

- stream has been previously running and then restarted (1) S3 suspend+resume, 2) application stopped with SIGSUSPEND, 3) XRUN, or 4) applications which start/stop the stream with snd_pcm_drop() + snd_pcm_prepare() + snd_pcm_start()))
- application has set the "start_threshold" SW parameter

[2019-06-17 13:48] kv2019i commented on #1572
Annotating the attached log 20190617-soflog.txt:

The succesful playback of stream ends in the log with this:
[code]

Then starts a repeated sequence where host trying to restart the stream, it doesn't work, it stops it again (xrun handling), and tries to start again. This happens many times:

[code]

Sometime we get into FW XRUN handling:
[code]

And yet one case in the start/loop is failure to s

[2019-06-18 01:29] ClarexZhou commented on #1396
Close for not reproduced

[2019-06-18 01:29] #1396 closed

[2019-06-18 07:21] YvonneYang2 commented on #1406
Tested on GLK Chromebook with test recipe as below. Not found DSP panic in dmesg log but console showed Xrun alert info, and arecored failed.

**test recipe**
Kernel: https://github.com/thesofproject/linux/tree/topic/keyword_detect +PR1037
SOF/TPLG: https://github.com/mrajwa/sof/commits/cml-005-drop-stable
Platform: GLK-Chromebook/ChromeOS

**frequency**
8/10

**console**
[code]
**logger**
[code]

[2019-06-18 12:51] lgirdwood commented on #1401
@jajanusz this got stuck in my NUC failure. Will fix for 1.4

[2019-06-18 13:03] lgirdwood opened #1574 "[BUG] Build fails with TRACE disabled"
**Describe the bug**
Disable all trace in Kconfig.
[code]
Error trace should should write only to persistent/shared buffer when TRACE is disabled.

[2019-06-18 13:07] lgirdwood commented on #1574
rimage also broken too when TRACE disabled..
[code]

[2019-06-18 14:20] kv2019i commented on #1572
Status update: The root of the problem seems to be the first DMA position that is visible to driver. Not clear yet whether this is FW or Linux driver bug (could be the latter as well, based on today's debug).

Log file showing the problem (driver log):

[ 1758.669701] sof-audio-pci 0000:00:1f.3: D: trig-ptr0 12408
[ 1758.669713] sof-audio-pci 0000:00:1f.3: ipc tx: 0x60040000: GLB_STREAM_MSG: TRIG_

[2019-06-18 14:29] lyakh opened #1575 "[BUG] 2 Sue Creek regressions"
SOF support for Sue Creek doesn't have a high priority, but so far it is the only platform, that can be used for testing of the Cascading Interrupt Controller patch series #1053 .

Two regressions have been identified in the current SOF master branch (as of https://github.com/thesofproject/sof/commit/0dd6c238146d2465d39d5d26eb6ebf191a20f251) on Sue Creek:

1. PR #1483 broke bootloader startup on S

[2019-06-18 14:52] lgirdwood opened #1576 "[FEATURE] Linker Section alignment for BYT, HSW, IMX8"
**Is your feature request related to a problem? Please describe.**
Linker section alignment can be optimised like https://github.com/thesofproject/sof/pull/1568 for CAVS targets.

**Describe the solution you'd like**
Same optimisation for non CAVS targets.

[2019-06-18 15:06] lgirdwood opened #1577 "[FEATURE] Allocator custom block mappings via kconfig"
**Is your feature request related to a problem? Please describe.**
Allow allocator HEAP pool and block mappings to be customised via Kconfig.

**Describe the solution you'd like**
Kconfig menu would allow for sizing of HEAP pools like IMR, LPSRAM, uncache, etc (size == 0 means pools is disabled) and also allow the block mappings for each size to be specified. Kconfig not expected to validate the s

[2019-06-18 17:32] ranj063 opened #1578 "[BUG][GLK][Capture] Overrun during pause-release"
**Describe the bug**
System shows I/O error when pause arecord then resume. Similar behaviour with all arecord devices. Looks like a pipeline overrun when the user releases pause.

**To Reproduce**
1. Arecord via "arecord -Dhw:0,1 -r48000 -c2 -fs16_le 1.wav -vv -i"
2.Pause arecord
3.Resume asrecord

**Reproduction Rate**
100% on GLK Ubuntu
On BYT it happens after a few iterations of pause/release

[2019-06-18 19:27] lgirdwood commented on #1575
@lyakh this should be 2 issues with descriptive titles. Have you tried booting on qemu ?

[2019-06-18 19:27] abonislawski commented on #1575
As I already commented in this PR: there is obvious bug for suecreek and it is already fixed in PR #1567
We cannot test suecreek platform, that's why we didnt spotted it before

[2019-06-18 20:48] abonislawski commented on #1574
rimage problem looks like rimage is always looking for "static_log_entries" section and needs it to move on, but in this case it was not created by linker (TRACE disabled).
I think we can fix this by removing this requirement, it will still be looking for "static_log_entries" section but its still ok if not found.
Also looks like rimage is already ready for that scenario because later will check i

[2019-06-18 23:05] jajanusz commented on #1574
@abonislawski @lgirdwood Yea, It was optional before, just changed it to mandatory in non-bootloader modules while it should be optional at all.

[2019-06-19 13:45] kv2019i commented on #1572
The root cause seems to be mis-synchronization of the host DMA pointer.

When Linux application goes through the STOP/XRUN->PREPARE->START transitions, at PREPARE the **DMA position should be reset to 0**. This is however not done. FW does not do this in host.c TRIG_START, and Linux driver does not do this in sof/pcm.c:prepare(). What follows is this:

Success case:
[  421.704543] sof-audio-pci 00

[2019-06-19 22:26] wenqingfu commented on #1422
not reproducible after the thesofproject/linux#1013 et al.

[2019-06-19 22:26] #1422 closed

[2019-06-19 22:28] wenqingfu commented on #1342
not reproducible after thesofproject/linux#1013 et al.

[2019-06-19 22:28] #1342 closed

[2019-06-20 04:35] ranj063 commented on #1578
@tlauda FYI. what I notice is that on GLK, the first dai_copy() after release ends up in a overrun because dd->dma_buffer->free is always 0. Could you please take a look?

[2019-06-20 09:57] dbaluta commented on #1576
@paulstelian97 can you please have a look at this?

[2019-06-20 10:27] lgirdwood commented on #1575
@xiulipan I guess qemu CI did not detect this issue ? I would have expected boot failure.

[2019-06-20 16:42] xiulipan commented on #1575
@lgirdwood
We did not enable QEMU with Suecreek yet, is the QEMU support it now?

[2019-06-20 17:17] ranj063 commented on #1578
@michalgrodzicki could you please assign someone to take a into this?

[2019-06-20 18:22] abonislawski commented on #1575
@xiulipan @lgirdwood it would be great to enable boot test for sue creek if possible

[2019-06-20 20:38] mrajwa commented on #1578
@ranj063 looks like we are facing the same issue on in KWD although conditions are a bit different. Have you spotted commit which causes it?

[2019-06-20 22:56] ranj063 commented on #1578
@mrajwa no I am not sure when this feature ever worked on GLK. I'll try to find out today.

[2019-06-21 04:58] keyonjie commented on #1578
@mrajwa @ranj063 I think you hit 2 kinds of xrun here, they are both because of copy_bytes == 0:
copy_bytes = MIN(avail_bytes, dd->dma_buffer->free),
but @ranj063's case is dd->dma_buffer->free == 0 after pause/release, and @mrajwa's case is avail_bytes from dw-dma driver is 0.

For the former case, we can check how it handled the pausing(e.g. does the last pipeline_copy() is finished before pause

[2019-06-21 09:45] jajanusz commented on #1298
`SOF_FW_MAX_SIZE` is just limited by HP memory size. There is not point in increasing it manually if it will not fit into memory. If your platform has more memory/banks it will try to use as much as it can.

[2019-06-21 09:45] #1298 closed

[2019-06-21 11:13] lyakh commented on #1575
@abonislawski no, #1567 doesn't fix it. I'm surprised we don't have Sue Creek in our CI, @xiulipan hasn't it been once included there?

[2019-06-21 11:26] jajanusz commented on #1575
@lyakh There is building in CI, but no boot test. I guess that's because sue boot process is different than on other platforms.

[2019-06-21 14:47] abonislawski commented on #1575
@lyakh yes, #1567 fix boot problem because boot stack was placed at address "0". If there is another bug then we need a platform to test it.

[2019-06-21 21:49] ranj063 commented on #1578
@mrajwa I've gone back as far as a month and I still can reproduce this issue.

[2019-06-23 21:57] lgirdwood commented on #1575
@xiulipan yes we have sue creek qemu support, it should boot.

[2019-06-24 02:50] xiulipan commented on #1575
@lgirdwood
Let me try and add support into CI. And I think I need to test with latest QEMU also.

[2019-06-24 03:06] YvonneYang2 commented on #1578
Issue reproduced when stop via "ctrl + z" , then resume via command "fg".

**Test recipe:**
Firmware: 767a81bd-2 https://github.com/thesofproject/sof/tree/master
Kernel: 0087d4af-2 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: sof-glk-da7219.tplg same as firmware
platform ：GLK

**console**
[code]
[xrun_error_dmesg.log](https://github.com/thesofproject/sof/files/33190

[2019-06-24 07:39] dbaluta commented on #1576
@paulstelian97 Thanks! So, this is resolved for IMX8. Intel people need to have a look for byt and hsw.

[2019-06-24 07:59] lyakh commented on #1575
@lgirdwood would you have a pointer to up-to-date qemu instructions?

[2019-06-24 11:29] tlauda commented on #1578
@ranj063 Could you share FW logs? What is the sequence from kernel perspective on pause/release? What stream bits are you setting?

@YvonneYang2 In your logs I see that you are doing stop/start instead of pause/release. It looks like there is some kind of host pointer mismatch after such sequence.

[2019-06-24 15:20] ranj063 commented on #1578
@tlauda the firmware logs are in https://github.com/thesofproject/linux/issues/1022

For the sequence, please refer to https://github.com/thesofproject/linux/blob/0087d4afe31bad40a0f365b774547fd69124d58c/sound/soc/sof/intel/hda-stream.c#L215

[2019-06-24 15:39] tlauda commented on #1578
@ranj063 Logs in thesofproject/linux#1022 are from the older version of FW without couple of crucial fixes.

[2019-06-24 16:18] lgirdwood commented on #1576
@dbaluta great, @mengdonglin this one is trivial, needed for non CAVS versions.

[2019-06-24 16:23] lgirdwood commented on #1575
@lyakh I guess qemu is not building for you ?

https://alsa-project.org/wiki/Firmware#Using_the_Qemu_DSP_emulator

There are differences with dependencies compared with the old instruction on alsa wiki on newer distros, can you try configuring with
[code]
Please also add the latest build instruction to sof-docs.

[2019-06-24 16:59] ranj063 commented on #1578
@fredoh9 could you please attach the logs from the GLK Ubuntu with the latest codebase for SOF and sof-dev?

[2019-06-25 01:51] ranj063 commented on #1578
@tlauda here's the logger output:
[glk-log.txt](https://github.com/thesofproject/sof/files/3323213/glk-log.txt)

[2019-06-25 01:52] ranj063 commented on #1578
and here's the dmesg:
[glk-dmesg.txt](https://github.com/thesofproject/sof/files/3323215/glk-dmesg.txt)

[2019-06-25 01:53] YvonneYang2 commented on #1578
I did two ways to check if both can reproduce the issue before I caught the logs, so there may be play/pause in the dmesg.
I catch the new logs with the test recipe https://github.com/thesofproject/sof/issues/1578#issuecomment-504840027 on glk ubuntu as below, please check them. The logs is classified by the different operations.  The stop/resume log only covers the stop/resume operation. Then do

[2019-06-25 05:50] tlauda commented on #1578
@ranj063 Kernel doesn't restart capture host stream on release. In the logs we can see that only the first host copy is successful and after incrementing the pointers data isn't consumed by Host DMA. I've done such experiment with slim driver and I get the same result, when I don't start again Host DMA.

[2019-06-25 05:56] tlauda commented on #1572
@kv2019i If we are talking about DMA position read from stream HW registers, then it can only be reset on kernel side by resetting Host DMA.

[2019-06-25 06:35] lyakh commented on #1575
@lgirdwood sorry, I just never tried using qemu for a Sue Creek emulation. Would that only run the boot simulation, since I don't see support for an SPI connection between the host and the xtensa?

[2019-06-25 09:37] #1052 closed

[2019-06-25 09:38] lgirdwood commented on #1575
@lyakh yes, that's correct there is no SPI simulation yet (although I have not checked if DW SPI is used by other qemu targets). Boot test is all we are doing, so FW will write to SPI regs (and wont crash).

[2019-06-25 11:28] lyakh commented on #1575
@abonislawski I just retested - the current top of "master" branch with this your PR applied still doesn't boot. It might well fix one issue with the memory-layout commit on Sue Creek, but there are definitely more problems. I would prefer a complete fix over a patch that improves the situation theoretically, but still cannot be successfully tested.

[2019-06-25 11:33] jajanusz commented on #1574
Fixed in #1579 + #1580

[2019-06-25 11:33] #1574 closed

[2019-06-25 15:22] kv2019i commented on #1572
@tlauda wrote:

Hmm, thanks, so it seems to be. And if host resets the DMA, it needs to let FW know about it and currently this means IPC_STREAM_PCM_PARAMS.

@lgirdwood Any historical reasons why IPC interface does not have IPC_STREAM_PREPARE()? Both ALSA PCM and ASOC ops interface have a separate prepare() method, but SOF IPC does not have. In SOF side IPC implementation, handler.c seems to imple

[2019-06-25 15:27] ranj063 commented on #1578
@tlauda the PAUSE_RELEASE logic in the kernel is exactly the same as that for START. But the thing that is different is that we do not do stream hw_params() before PAUSE_RELEASE. do you think we need to send the hw_params IPC before restarting the DMA after PAUSE_RELEASE?
We do not seem to have any issues with playback though. So I'm not sure whats missing here. @kv2019i any thoughts?

[2019-06-25 16:07] tlauda commented on #1578
@ranj063 We don't need to set hw_params() before PAUSE_RELEASE. Maybe you could debug and see if the correct capture stream is running? It's weird that it's working for playback.

[2019-06-25 16:18] kv2019i commented on #1578
Ack on that... setting hw_params() again would be against ALSA API as the DMA pointers would be reset.

[2019-06-25 17:09] ranj063 commented on #1578
thanks @kv2019i . @tlauda ack. let me debug a bit more today and get back with details about whether the  stream info has changed during pause_release

[2019-06-25 21:32] ranj063 commented on #1578
@tlauda i can confirm that the host DMA is restarted during PAUSE_RELEASE for the same stream capture stream that was started.

[2019-06-26 06:32] ranj063 commented on #1578
@tlauda its not just weird that it is working for playback, it is also working with arecord on APL

[2019-06-26 07:08] tlauda commented on #1578
@ranj063 Are you telling me that it only fails for GLK and not for APL? Are the kernel and FW the same for both platforms?

[2019-06-26 14:08] wwittbrx opened #1591 "[FEATURE] Allow DMIC to accept 24/32 fifo bits config"
**Is your feature request related to a problem? Please describe.**

This feature is required for keyword detection pipelines with 24/32 format. Currently when trying to configure DMIC this way we get error: fifo_bits EINVAL.

**Describe the solution you'd like**

Add support for configuring DMIC for 24/32 format capture.

[2019-06-26 15:24] ranj063 commented on #1578
@tlauda yes. The kernel, FW and topology are the same in fact as I'm testing the nocodec mode.

[2019-06-27 04:16] Jiangxinx opened #1593 "[BUG][BYT] Input/output error when capture a audio for 3 minutes via I2S Analog on byt-rt5651 and nocodec platform."
**Describe the bug**
capture a audio for 3 minutes via I2S Analog on byt-rt5651 and nocodec platform :
overrun!!! (at least 140.888 ms long)
arecord: pcm_read:2103: read error: Input/output error

**To Reproduce**
arecord -Dhw:0,0 -fS16_LE -c2 -r48000 test.wav -vv -d 180

**Reproduction Rate**
100%

**behavior**
[code]

**sof-logger**
[code]

***bisect result***
Caused by master (#1587).

**Enviro

[2019-06-27 05:42] mengdonglin commented on #1593
@Jiangxinx BYT has no HD-A analog support in HW level. Seems to be a typo. You're using I2S analog in no codec mode, right?

[2019-06-27 05:44] Jiangxinx commented on #1593
@mengdonglin sorry, i have changed the title.

[2019-06-27 10:11] keqiaozhang commented on #1578
I can reproduce this issue on WHL-I2S, the reproduction rate is about 10%.

[2019-06-27 10:13] tlauda commented on #1578
@keqiaozhang Please attach FW logs.

[2019-06-27 10:22] keqiaozhang commented on #1578
@tlauda

**Trace log on WHL**
[code]
[logger-whl.log](https://github.com/thesofproject/sof/files/3334120/logger-whl.log)

[2019-06-27 10:23] Jiangxinx commented on #1578
The reproduction rate is 100% on BYT platform.

***sof-logger***
[code]

***log file***
[logger.log](https://github.com/thesofproject/sof/files/3334123/logger.log)

[2019-06-27 10:26] tlauda commented on #1578
@keqiaozhang Attached logger-whl.log is empty.

[2019-06-27 10:39] keqiaozhang commented on #1578
Sorry,  trace log is updated.
[logger-whl.log](https://github.com/thesofproject/sof/files/3334190/logger-whl.log)

[2019-06-27 10:43] ClarexZhou opened #1594 "[BUG] dmesg does't stop flushing sof log after s3 when enter s3 with headset connected and sound setting opened."
**Describe the bug**
Headset capture not work anymore when suspend & wake up stress test with sound setting opened.

**To Reproduce**
1. Headset is connected
2. Open Settings->Sound, select Input table.
3. 'sudo rtcwake -m mem -s 30' to enter S3 and wake up.
4.  speaker to headset mic, check 'Input level' for headset in sound setting works
5. Repeat step3 and step 4 for more than 30 times.

**Repr

[2019-06-27 11:04] tlauda commented on #1578
@keqiaozhang Could you try to get logs from the start? Here we are in xrun loop and I'm not sure what caused the initial error.

[2019-06-27 12:35] singalsu commented on #1591
The DMIC HW supports only S16_LE and S32_LE compatible data formats so the conversion to S24_4LE would need to happen in FW.

[2019-06-27 13:42] tlauda commented on #1578
@mengdonglin @Jiangxinx @keqiaozhang @ranj063
1. BYT - fixed in #1597 (please verify).
2. WHL - need logs from the start to know what exactly has caused this xrun loop.
3. GLK - debug in progress.

[2019-06-27 14:09] #1485 closed

[2019-06-27 16:53] kv2019i commented on #1572
For now, this bug seems to be a driver side issue, moving to driver -> https://github.com/thesofproject/linux/issues/1062

Addition of new prepare IPC is a separate topic and will be handled as an enhancement if other solutions to solve this issue prove out to be problematic.

[2019-06-27 16:53] #1572 closed

[2019-06-28 02:01] keqiaozhang commented on #1578
@tlauda
This is all trace output, looks like it overflowed. I will try to disable the XRUN recovery to capture the first XRUN.

[2019-06-28 02:53] RanderWang commented on #1594
I reproduced the XRUN recovery case by modifying hda_dma_avail_data_size.
Just let hda_dma_avail_data_size always return 0 after capture works 10 seconds,
At this time, FW would recover XRUN and arecord just seems hang but not stop.
then do S3 and resume from S3, you will find so many XRUN recovery messages.

hda_dma_avail_data_size will only returns 0 when status & DGCS_BNE == 0

[code]

[2019-06-28 05:55] keqiaozhang commented on #1578
@tlauda
The full trace log is attached. be noticed that the xrun recovery is disabled by
[code]
***Trace***
[code]
[logger-whl-no-xrun-recovery.log](https://github.com/thesofproject/sof/files/3337699/logger-whl-no-xrun-recovery.log)

[2019-06-28 06:30] tlauda commented on #1578
@keqiaozhang Thanks! How many pauses do you need to do to make it reproduce?

[2019-06-28 07:10] keyonjie commented on #1578
good, @keqiaozhang, maybe worth to add some log to check if the channel is really opened at this case, something like:
[code]

[2019-06-28 09:06] mengdonglin commented on #1463
@sathyap-chrome  @ranj063  Closing this issue because we cannot reproduce it in recent regression test for weeks.  All driver fixes have been merged to sof-dev.
@sathyap-chrome Please reopen it if you can still reproduce it after fetching all driver updates.

[2019-06-28 09:06] #1463 closed

[2019-06-28 09:07] mengdonglin commented on #1424
@sathyap-chrome  @ranj063  Closing this issue because we cannot reproduce it in recent regression test for weeks.  All driver fixes have been merged to sof-dev.
@sathyap-chrome Please reopen it if you can still reproduce it after fetching all driver updates.

[2019-06-28 09:07] #1424 closed

[2019-06-28 09:53] RanderWang commented on #1594
I also did some changes in codecs and sof kernel driver to generate infinite XRUN recovery, but I didn't get any XRUN.

(1) don't program  codec for capture stream when resuming from S3.  Codec will not send data to controller with this change. But no XRUN occurred.
 (2) don't program controller for capture stream when resuming from S3. Still no XRUN occurred.

Until now, our QA still cant reprodu

[2019-06-28 11:29] ClarexZhou commented on #1594
Finally got bug reproduced.  Bug can be reproduced via below steps:
1.	Boot up with headset connected
2.	Open sound setting quickly after unit boot up
3.	Go to Input page, highlight headset, check capture not work. But no repeat messages send in dmesg. (same issue with #1055 Headset arecord not work when plug in headset as soon as wake up from S3 (2/12))
4.	Keep sound setting opened, enter S3 and

[2019-06-28 11:53] tlauda commented on #1594
@ClarexZhou Do you have FW logs?

[2019-06-28 14:37] #1593 closed

[2019-06-29 15:44] #1526 closed

[2019-06-29 15:49] lgirdwood commented on #1591
@singalsu @wwittbrx can be done by adding volume in the topology. i.e. 32bit DMIC with volume converting 32 -> 24.

[2019-07-01 01:44] ClarexZhou commented on #1594
Attach logs.

sof-logger
···
 CORE  LEVEL      COMP_ID                TIMESTAMP            DELTA                FILE_NAME	CONTENT
    0      1         PIPE 2.14     57460664.635417  57460664.000000 src/audio/pipeline.c:920 	pipeline_xrun_recover()
    0      1         COMP          57463117.447917      2452.812500 rc/audio/component.c:252 	comp_get_copy_limits() error: source component buffer has

[2019-07-01 06:25] keqiaozhang commented on #1578
@keyonjie  @tlauda
I retested this bug with latest top master branch, the reproduction rate is < 1%.
here is the trace log after applying above patch(run recovery is also disabled).
***logger***：
[code]
***logger -t***
[code]
[xrun-logger-t.log](https://github.com/thesofproject/sof/files/3344168/xrun-logger-t.log)

[2019-07-01 07:02] tlauda commented on #1594
@ClarexZhou Please get FW log with XRUN disabled as @keqiaozhang did it with different bug: https://github.com/thesofproject/sof/issues/1578#issuecomment-506611258.

[2019-07-01 07:05] RanderWang commented on #1594
@tlauda  @jajanusz
The FW log maybe not useful for you because it is full of XRUN. I have an idea: if XRUN recovery occurs infinite, can we just stop recovery after first continuous  recoveries ? So that we can get few log and it is more easy to get the first XRUN point.

For this case, we found that for a special operation,  capture didn't work before S3 and infinite XRUN happened after S3. Now I

[2019-07-01 08:43] ClarexZhou commented on #1594
The dmesg keeps flushing issue can't be reproduced after disabled xrun recovery.

sof-logger:
[code]

[sof-logger__xrunRecoveryDisbale.log](https://github.com/thesofproject/sof/files/3344641/sof-logger__xrunRecoveryDisbale.log)
[dmesg_xrunRecoveryDisbale_dmesg.log](https://github.com/thesofproject/sof/files/3344642/dmesg_xrunRecoveryDisbale_dmesg.log)
[sof-logger_all_xrunRecoveryDisbale.log](https

[2019-07-01 09:20] jajanusz commented on #1594
@RanderWang Looks more like kernel issue. FW is not spamming anything, you just fell into some loop on your side (maybe there are some interrupts that trigger it on your side but I doubt it). There are no messages generated (by FW) but you keep rereading them, can you check what causes it?

[2019-07-01 10:10] Jiangxinx opened #1599 "[BUG][BYT]Aplay Input/output error on BYT-RT5651 and nocodec platform"
**Describe the bug**
aplay: pcm_write:2011: write error: Input/output error  on BYT-RT5651 and nocodec platform

**To Reproduce**
aplay -Dhw:0,0 -fS16_LE -c2 -r 48000 /dev/zero -vv -i

**Reproduction Rate**
100%

**Screenshots or console output**
[code]

**sof-logger**
[code]

**Bisect result**
unfinished

**Environment**
Firmware: 2b093579 https://github.com/thesofproject/sof/commits/master
Kerne

[2019-07-01 10:13] jajanusz commented on #1594
Probably the same issue as: https://github.com/thesofproject/linux/issues/1064

[2019-07-01 10:30] tlauda commented on #1578
@ranj063 For GLK and WHL please verify if deasserting L1SEN bit helps.

[2019-07-01 21:01] ranj063 commented on #1578
@tlauda we can confirm disabling L1SEN fixes the problem on GLK. But given that this issue is not reproducible on other platforms, how should we go about doing this? @lgirdwood what do you think?

[2019-07-01 21:58] jajanusz commented on #1578
@ranj063 As @keqiaozhang wrote there is low repro rate on WHL. Maybe he can stress test it.

[2019-07-01 22:12] ranj063 commented on #1578
@jajanusz sure, I dont have a WHL with I2S reworks to test at my end. I'll work with @keqiaozhang tonight to test it.

But I wonder if this issue is limited to I2S DAI's. We havent seen it in any of the HDA DAI capture scenarios. I am wondering what would be the correct fix.
1. To disable L1SEN for all platforms or
2. To disable L1SEN for all platforms with I2S DAI's

[2019-07-02 13:01] xiulipan commented on #1599
Bisect to be #1595
https://sof-ci.01.org/sofpr/PR1595/build2373/devicetest/BYT_MB_NOCODEC/check_aplay_function.sh/check_aplay_function.sh.txt

@tlauda I see the fix and I think it is good for the issue.

[2019-07-02 13:15] #1599 closed

[2019-07-02 13:31] jajanusz commented on #1599
@xiulipan So why did it pass when I was merging #1595 ? Were there some changes in CI?

[2019-07-02 13:35] xiulipan commented on #1599
@jajanusz
I think there is some issue in test case that try to get the wrong return value not from the aplay itself but from some other cmd.

[2019-07-03 06:55] RanderWang commented on #1594
@jajanusz  @tlauda Thanks for your advice. My finding was changed in my debug progress and the final reason is: wrong link dma channel is set to FW after S3.

[2019-07-03 08:16] tlauda commented on #1594
Kernel issue, fix in https://github.com/thesofproject/linux/pull/1072.

[2019-07-03 08:16] #1594 closed

[2019-07-03 12:28] lbetlej opened #1610 "[FEATURE] Separation of volume control and PCM conversion functionalities"
PCM format conversion and volume control are independent audio signal processing actions.  To have better functional separation of components the 2 functionalities of existing Volume component shall be separated. Low power use cases call for for FW components footprint optimization as well.

Requested change is to create 2 separate components : PCM converter and Volume control and implementation o

[2019-07-03 14:30] #1534 closed

[2019-07-04 06:53] lgirdwood commented on #1610
@lbetlej these were historically converged since volume control would be on most pipelines and this would give any PCM format conversion needed downstream for free (and avoiding the need for an extra copy), but you are right this does not provide a library for other users (which we could use internally by volume). I would still keep volume performing PCM format conversion though.
I think we can re

[2019-07-06 14:59] tlauda commented on #1591
Currently it will be supported by adding volume and later on we will do pcm conversion in some other component (after converter and volume separation).

[2019-07-06 14:59] #1591 closed

[2019-07-08 03:18] YvonneYang2 commented on #1578
Test on GLK with test recipe as below, I/O error caused by "ctrl + z / fg" is not reproduced. Pause/Resume can still reproduce the bug.

Test recipe:
Firmware: 27cdfbdb https://github.com/thesofproject/sof/commits/master
Kernel: fdfcca4c https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-glk-da7219.tplg same as firmware
platform： GLK

[pause_dmesg.log](

[2019-07-08 06:13] tlauda commented on #1578
@ClarexZhou Temporary workaround for this issue is https://github.com/thesofproject/linux/pull/1070.

[2019-07-08 08:42] YvonneYang2 commented on #1578
Check on GLK with https://github.com/thesofproject/linux/pull/1070, issue not reproduced.

Test recipe:
Firmware: 27cdfbd https://github.com/thesofproject/sof/commits/master
Kernel: fdfcca4c https://github.com/thesofproject/linux/commits/topic/sof-dev + https://github.com/thesofproject/linux/pull/1070
Topology: file: tools/topology/sof-glk-da7219.tplg same as firmware
platform： GLK

[2019-07-08 10:44] mengdonglin commented on #1578
@Jiangxinx @keqiaozhang Could you please check other platforms can reproduce this issue with thesofproject/linux#1070?

[2019-07-08 10:55] keqiaozhang opened #1614 "[BUG] some glitches happen when testing WoV on WHL"
**Describe the bug**
Some glitches happen occasionally in the recorded wav when testing the wov.

**To Reproduce**
Run below command line repeatedly.
1. arecord -Dhw:0,8 -M -N -f s24_le --period-size=400 -r 16000 -c 2 wov.wav -d 10 -vvv
2. check the recorded wav file.
3. you may hear the glitches.

**Reproduction Rate**
Reproduction rate is about 5%

**Expected behavior**
no glitches and no noises

[2019-07-08 10:55] keqiaozhang opened #1615 "[BUG] Keyword detection trigger failure on WHL with S24_LE format"
**Describe the bug**
This issue only happens on WHL when doing the wov testing,  Sometimes detection cannot be triggered after clapping.

**To Reproduce**
Run below test command repeatedly
1. arecord -Dhw:0,8 -M -N -f s24_le --period-size=400 -r 16000 -c 2 wov.wav -d 10 -vvv
2. clap your hands to trigger the detection.

**Reproduction Rate**
Reprodcution rate is about 20%

**Expected behavior**
de

[2019-07-08 11:16] singalsu commented on #1614
@keqiaozhang Please attach an example wav so we can analyze what happens. I don't have a system myself to test this.

[2019-07-08 11:51] keqiaozhang commented on #1614
@singalsu
The wav file is attached.

[2019-07-08 12:58] singalsu commented on #1614
@keqiaozhang Thanks!

Maybe there's repeatedly missing blocks of sound? The glitches seems to occur in 40 ms period long bursts. I'd suggest to record loud, less than 100 Hz sine wave to see if there's e.g. some regular pattern for the glitches.

Also it would be safe to apply e.g. +24 dB gain in the volume component PGA for keyword capture path. Now the signal is very low level.

[2019-07-08 15:05] wwittbrx opened #1617 "[BUG] Xrun on simultaneous recording for DMIC FIFO's with KD topology"
**Describe the bug**
During simultaneous recording on both FIFO's for KD topology we get an xrun.

**To Reproduce**
run arecord -D hw:0,1 -f s32_le -r 48000 -c 4 record_normal.wav -d 10 & arecord -M -N -D hw:0,8 -f s24_le -c 2 -r 16000 -d 10 record_kd.wav

**Reproduction Rate**
100%

**Expected behavior**
FIFO A pipeline records audio for 10 seconds. FIFO B waits for trigger event, drains buffer a

[2019-07-08 17:32] mrajwa commented on #1406
This issue is fixed on https://github.com/thesofproject/sof/tree/cml-005-drop-stable

[2019-07-08 22:27] michalgrodzicki commented on #1406
@mrajwa please submit code from release branch to the master,

[2019-07-09 01:29] keyonjie commented on #1617
Good catch, @wwittbrx.

@keqiaozhang I believe we can duplicate this on WHL RVP also.

[2019-07-09 06:37] Jiangxinx commented on #1578
I can still reproduce this issue with  thesofproject/linux#1070 on BYT platform.
***Test recipe:***
Firmware: 27cdfbd https://github.com/thesofproject/sof/commits/master
Kernel: 1da8b5fa https://github.com/thesofproject/linux/commits/topic/sof-dev + thesofproject/linux#1070
Topology file: sof-byt-rt5651.tplg & sof-byt-nocodec.tplg
platform：BYT

***Output***
[code]

***sof-logger***
[code]

[2019-07-09 08:19] mrajwa commented on #1615
I will handle this one.

[2019-07-09 08:34] mrajwa commented on #1614
@keqiaozhang, I like Seppo suggestion about sine wave test. Can we instead of playing some music around use dmic injector and provide it plain sine wave with low frequency?

[2019-07-09 08:45] singalsu commented on #1614
I'd recommend to get a good active speaker to lab. I have myself at work a small Genelec speaker and it is capable to drive a microphone near to it's limits. It's lot easier to do a quick test with a speaker since every board need to  be prepared for connection to DMIC injector. Of course DMIC injector is noiseless and highest quality but there's more effort.

[2019-07-09 16:32] ranj063 commented on #1578
@Jiangxinx didnt you verify that https://github.com/thesofproject/sof/pull/1597 fixes this issue for BYT?

[2019-07-10 02:07] Jiangxinx commented on #1578
@ranj063 I have verified #1597 and can fix this issue,but it reproduced again from 20190706:
Firmware: 27cdfbdb https://github.com/thesofproject/sof/commits/master
Kernel: fdfcca4c https://github.com/thesofproject/linux/commits/topic/sof-dev

The previous version (20190705) can work fine:
Firmware: fcd72767 https://github.com/thesofproject/sof/commits/master
Kernel: 86b820f2  https://github.com/th

[2019-07-10 02:17] keyonjie commented on #1578
@Jiangxinx what #1605 have done is only disable Xrun recovery, so in this test case, even you revert #1605, you should still see errors like this in sof-logger:
[code]

[2019-07-10 06:18] Jiangxinx commented on #1578
@keyonjie I double checked  #1605, sof-logger can still occur errors after revert #1605 , but capture will work normally, not see any Input/output error.

[2019-07-10 07:07] keyonjie commented on #1578
@Jiangxinx Thanks, that means Xrun still happened at pause-release, but the xrun recovery can help to recover it at this case.

[2019-07-10 15:38] sathyap-chrome opened #1623 "BCLK jitters with m/n dividers"
**Describe the bug**
With m/n divider patches taken in, we used the attached topology to get below configuration:
BCLK = 128fs with TDM PCM B format, 4ch, 32bit/ch

The BCLK is expected to be 6.144 Mhz.
Measurements on board showed jitters on BCLK and also variance between 6-8 Mhz.

Find the attached scope shot too.

Provide more details on if the variance and jitters is expected and if it is, wha

[2019-07-11 05:36] keqiaozhang commented on #1614
@mrajwa
we don't have DMIC injector in PRC.  Could @wwittbrx  help on this?

[2019-07-11 08:42] abonislawski commented on #1623
This is how it works. The average frequency will be 6.144MHz.
![m6144ch4](https://user-images.githubusercontent.com/45165721/61036030-8b750700-a3c8-11e9-80a6-05305a1d3eb5.png)

[2019-07-11 08:46] #1623 closed

[2019-07-11 14:58] singalsu commented on #758
SOF PR #1624 addresses this requirement.

[2019-07-11 15:44] singalsu opened #1625 "[BUG] FIR EQ distorts"
**Describe the bug**

The FIR EQ component distorts really bad at higher frequencies when built with xt-xcc for HiFi3 platforms (APL). The gcc build works OK. The test filter response is flat and therefore the distortion is not due to amplification. I used topology sof-apl-eq-pcm512x.tplg and created a custom version that contains only FIR (removed IIR). Similar IIR only pipeline works OK as both

[2019-07-11 15:51] singalsu commented on #1625
Note: As workaround if EQ pipeline is needed in SOF it is better to drop FIR from pipeline until this bug is fixed. Use "pipe-eq-iir-volume-playback.m4" instead of "pipe-eq-volume-playback.m4".

[2019-07-12 08:34] singalsu opened #1630 "[FEATURE] Statically linked testbench for xt-xcc build"
**Is your feature request related to a problem? Please describe.**
Yes, there's currently no way to simulate pipelines with xtensa intrinsics optimized code. The xtensa libraries (newlib, uclib, xclib) do not support dlopen() feature. It makes building and using current testbench impossible for xt-run environment.

Also the topology parsing of testbench could be replaced with pre-calculated and at

[2019-07-12 08:37] jajanusz commented on #1630
@singalsu I would somehow link testbench with unit tests, so you'll have nice simple template there (with your file components from testbench) and you just put in your processing components that you want to test/perf.

@mmaka1 You wanted something like this, can you describe how you think it should look?

[2019-07-12 08:41] singalsu commented on #1630
@ranj063 @jajanusz @kv2019i @lgirdwood @tlauda Does this proposal sound good to you?

Also the cmake build testbench is rather compilicated. I failed in build even before reaching dlopen(). I tried to make changes to build with xt-xcc but got stuck with include of platform specific headers. The cmake build system looks rather complicated and I wasn't able to fix it for my need. We should be able t

[2019-07-12 08:48] jajanusz commented on #1630
@singalsu Having it as part of testing framework will make it easy and they will be statically linked for whatever platform you choose.
Yes cmake for testbench may seem complicated, but it was necessary to split testbench and FW code.
I can make it work with xt-xcc in current form, but I think testbench shouldn't look as it is now.
F.e. are topology parser and components+scheduling architecture ne

[2019-07-12 08:49] singalsu commented on #1630
@jajanusz Yep, a "file read -> desired component 1-> desired component 2 -> ... -> file write" pipeline executor that supports initialization of components via normal IPC controls is what I'd need. The earlier test bench version that used static pipeline macros was like that I used it to develop tone generator, SRC and EQ code.

[2019-07-12 08:51] singalsu commented on #1630
@jajanusz A simplified testbench is OK as long as the IPC between testbench and components is similar to real SOF. I agree the current version has got more complicated than necessary.

[2019-07-12 14:10] zrombel opened #1632 "[BUG] Pipelines with SRC component work only when converting from lower to higher sampling rates"
**Describe the bug**
Pipelines with SRC component work only when converting from lower to higher sampling rates. For example if playback pipeline with SRC component is created, host side sampling rate is 16kHz and DAI side sampling rate is 48kHz pipeline works as expected. When host side sampling rate is 48kHz and DAI side sampling rate is 16kHz pipe line fail to copy data.

This bug is caused of

[2019-07-12 14:29] singalsu commented on #1625
Fix is available in SOF PR #1633.

[2019-07-16 02:57] keqiaozhang opened #1640 "[BUG]sof-ctl: failed to store the ABI header"
**Describe the bug**
The abi header cannot be stored by "sof-ctl -Dhw:0 -n 14 -b -o wov.config"
only can store the 32 bytes detect test config.

**To Reproduce**
sof-ctl -Dhw:0 -n 14 -b -o wov.config
od -x wov.config

**Reproduction Rate**
100%

**Expected behavior**
should get 64 bytes
00000000 4f53 0046 0000 0000 0020 0000 8000 0300
00000010 0000 0000 0000 0000 0000 0000 0000 0000
00000020 0020

[2019-07-16 03:17] keyonjie commented on #1640
@keqiaozhang Thanks for reporting it, I will figure out a patch to fix it soon.

[2019-07-16 05:24] keyonjie commented on #1640
@keqiaozhang I just create a PR https://github.com/thesofproject/sof/pull/1641 to address this.

[2019-07-16 06:23] keqiaozhang opened #1642 "[BUG] incorrect size of drained data after history_depth is changed"
**Describe the bug**
I tried to test wov with different history depths,  it can be set with new value, but it doesn't work. only 2.1s draining data can be saved, After checking the code, I found that there's one line hard code to set the history_depth back to 2.1s in firmware. so I tried to remove it, but after this, the detection cannot be triggered.
What I did is
[code]

**To Reproduce**
1. crea

[2019-07-16 09:37] mrajwa commented on #1615
@keqiaozhang, the release branch has been updated regarding this issue.

[2019-07-16 09:42] keyonjie commented on #1615
+ @hualongfeng who might be able to help on this also.

[2019-07-16 10:22] mrajwa commented on #1642
@keqiaozhang, I don't think this it is an issue. First of all you have to make sure that as long as your preamble time is shorter than buffering time (2,1s always) You have to provide history depth less or equal to preamble time(*). If you don't, you will get obvious error which you hit already "kpb_init_draining() error: not enough data in history buffer".

* Keep in mind that history_depth can n

[2019-07-17 06:23] keqiaozhang commented on #1615
@mrajwa
I tried the latest release branch, but this issue is still reproducible on both cml and whl-rvp.
Firmware info:
https://github.com/thesofproject/sof/commit/b85c320c4aa7898608d64bdd5caa73bbd59f9380

**trace**
[code]
[logger-t.txt](https://github.com/thesofproject/sof/files/3400420/logger-t.txt)

[2019-07-17 08:37] keqiaozhang commented on #1642
@mrajwa
I got your point. but the history depth should be configurable. then we can test with various preamble times and history depths.

[2019-07-17 08:42] mrajwa commented on #1642
@keqiaozhang, right. I will unlock this feature in the next patch on release branch.

[2019-07-17 09:44] ClarexZhou opened #1645 "[BUG] sof-logger -t is empty when run in 2nd time."
**Describe the bug**
Sometimes empty log is output when run "sudo sof-logger -l /etc/sof/sof-*.ldc -t"

**To Reproduce**
1. sudo sof-logger -l /etc/sof/sof-*.ldc -t
2. ctrl+c to exit
3. sudo sof-logger -l /etc/sof/sof-*.ldc -t

**Reproduction Rate**
3/3

**Expected behavior**
sof logger should always output.

**Actual result**
sof logger is empty when print 2nd time.

**Environment**
linux (topic/

[2019-07-17 10:00] #1640 closed

[2019-07-17 10:20] xiulipan commented on #1645
@ranj063 @ClarexZhou
I think this is not a issue.

In Linux driver, when we read out from trace for once. We will move the buf position so that if there is no more dma trace, we will have empty trace as we have read out them already.

[2019-07-17 10:24] xiulipan commented on #1645
did some test and make a correction:

In Linux driver, when we read out from trace for once in **PM suspend**. We will try to read out from some invalid buffer and flush the existing trace.

@ClarexZhou If you try to get trace with an aplay running, you will always get data. But if the device is idle and you run twice, you will get nothing.

@ranj063 if we need to disable the cache when we are in

[2019-07-17 14:31] kv2019i commented on #1645
@ClarexZhou Ack on comment from @xiulipan . This is the expected behaviour in trace (-t) mode. User-space client (i.e. sof-logger) is responsible to store the trace. Once read, kernel trace buffer will be empty.

This was changed in Q2 to fix issues of getting duplicated/missing traces when running sof-logger over runtime PM suspend/resume cycles.

@xiulipan What you describe in second comment doe

[2019-07-17 19:59] plbossart opened #1647 "[FEATURE] Add hw_params/prepare/hw_free callbacks for DAIs"
**Is your feature request related to a problem? Please describe.**
The addition of the bclock_delay exposes a conceptual problem with the DAI support. The code adds a delay in the trigger-start case, but that is not really desirable (as discussed with @lbetlej)

What we would really want is to start the bitclock as soon as the parameters are defined (hw_params or prepare) and the trigger duration

[2019-07-18 02:25] xiulipan commented on #1645
@kv2019i
Thanks for the clarification. Then I think this issue is not a bug now?

[2019-07-18 05:31] keqiaozhang commented on #1615
@mrajwa
Looks like this issue only occurs when testing S24_LE format.  No such issue when testing S16_LE format.

[2019-07-18 06:39] hualongfeng opened #1648 "[BUG]detection trigger failure with GCC toolchain"
**Describe the bug**
I tried to test the issue 1615, but it can not be triggered after clapping when I used GCC tool-chains to compile the firmware.

**To Reproduce**
Run below test command

    1. arecord -Dhw:0,8 -M -N -f s24_le --period-size=400 -r 16000 -c 2 wov.wav -d 10 -vvv
    2. clap your hands to trigger the detection.
**Reproduction Rate**
always not trigger,100%

**Expected behavior**

[2019-07-18 10:29] jajanusz opened #1649 "[BUG] Checkpatch is out-of-date"
**Describe the bug**
F.e. our checkpatch will not allow this
[code]
While checkpatch in kernel repo will allow string to exceed 80chars limit (as long as it's last thing in the line).

I guess there are more irritating things, that were fixed over time in kernel repo and were not ported here.

**To Reproduce**
Run checkpatch on example patch.

**Reproduction Rate**
100%

**Expected behavior**
I ex

[2019-07-18 11:57] mrajwa commented on #1649
@jajanusz, but as for this 80 character limit - does it complain about 80 character straight with no line break or 80 in total? If it is the former case then I would say its OK.

[2019-07-18 12:11] zrombel opened #1650 "[BUG] Playback silence for formats 8kHz 16b/16b 1ch and 24kHz 16b/16b 1ch"
**Description**
Issue concerns two audio formats:
- 8kHz 16b/16b 1ch
- 24kHz 16b/16b 1ch
For those formats there was a need of setting period_source and period_sink parameters in pipeline components at minimal value of 4.

After commit 528c72baefa299dd46f593f91246ac7f76c3047a there are two issues:

1) Silent samples at the beginning of playback on pipeline HOST -> BUF -> DAI
![image](https://user-

[2019-07-18 13:15] jajanusz commented on #1649
I'm talking about string literal without break, for example 80+ chars in 1 textual, not logical line.
While it may make sense for many arguments then it's not practical for long error messages. It makes grepping/searching inconvenient and string-splitting is actually banned in kernel guidelines - our checkpatch encourages us to go against this guideline.

[2019-07-19 09:49] emilchudzik opened #1655 "[BUG] Glitches occured during ERS tests randomly."
**Describe the bug**
Glitches was detected in EchoReferenceSignal python tests on random freq/sample&container size and channels count

**To Reproduce**
Run fw_14_echo_reference_signal/test_00_ptp_ers.py.
Mostly the test repetition passed.

**Reproduction Rate**
About 15% from 400 iterations.

**Expected behavior**
clean sound, no glitches, no noises

**Impact**
noise can be heard

**Environment**

[2019-07-19 14:03] mrajwa commented on #1615
@keqiaozhang, I have provided patch for this on release branch. Please verify if it solved the issue.

[2019-07-19 14:26] mrajwa commented on #1614
@keqiaozhang, what is the status, does the issue still occur with latest patches?

[2019-07-19 22:18] ranj063 commented on #1645
@xiulipan yes, this is expected behaviour. It was agreed upon already to have it working this way. The way to work around the issue is to save the trace to a file and then use sof-logger with the save trace file.

[2019-07-20 07:59] tlauda commented on #1649
@jajanusz Can we also get rid of some of the not applicable warnings? This one is very annoying: WARNING: Please update ABI in accordance with http://semver.org.

[2019-07-21 09:47] mrajwa commented on #1617
Fixed, patch available on release branch. @wwittbrx please confirm if it is working now.

[2019-07-22 01:49] ClarexZhou commented on #1645
close for not a bug

[2019-07-22 01:49] #1645 closed

[2019-07-22 03:02] hualongfeng commented on #1615
I test the the latest release branch(d6335a4154) on cml chromebook, this issue is still reproducible.

The below is test script. And when the issue occur, the following are not trigger unless wait 3 second.

#!/bin/bash

rm -r ~/Desktop/test/*

for (( i=1; i <= 100; i++ ))
do
	arecord -Dhw:0,8 -M -N -f S24_LE --period-size=400 -r 16000 -c 2 ~/Desktop/test/wov$i.wav -d 10 -vvv
	sleep 1
done

[2019-07-22 06:07] YvonneYang2 commented on #1615
Test it on WHL-I2S with test recipe as below, issue still can reproduced.

The frequency :  1/5      1/7      1/2

Test recipe:
Firmware: d6335a4 https://github.com/thesofproject/sof/commits/cml-005-drop-stable
Kernel: 9c986c3 https://github.com/thesofproject/linux/commits/topic/keyword_dete

[2019-07-22 06:23] YvonneYang2 commented on #1614
Test it on whl-i2s with test recipe as below, issue not reproduced. Close the bug.

Test recipe:
Firmware: d6335a4 https://github.com/thesofproject/sof/commits/cml-005-drop-stable
Kernel: 9c986c3 https://github.com/thesofproject/linux/commits/topic/keyword_detect
Topology:sof-cml-rt5682.tplg link from sof-whl-rt5682-kwd.tplg
platform: whl-i2s

[2019-07-22 06:23] #1614 closed

[2019-07-22 07:04] keqiaozhang commented on #1642
@mrajwa
Can we set history_depth bigger than 2.1s?
I tried to set history depth=3.0s and preamble size=5.0s, it can trigger after 5.0s, but the draining data is very short(the data before the detection), less than 0.5s, please have a check.

[2019-07-22 07:09] YvonneYang2 commented on #1454
Issue not reproduced on whl-i2s with test recipe as below. So close the bug.

Test recipe:
Firmware: a513ac72 https://github.com/thesofproject/sof/commits/master
Kernel: 44c31df1 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology:file: sof-cml-rt5682.tplg link from sof-whl-rt5682.tplg
platform: whl-i2s

[2019-07-22 07:09] #1454 closed

[2019-07-22 07:22] Jiangxinx commented on #890
This issue can not be reproduced on daily test.
***Environment***
Firmware: a513ac72 Master
Kernel: 44c31df1 on topic/sof-dev
Topology: file: sof-apl-pcm512x.tplg
platform: apl-up2

[2019-07-22 07:24] #890 closed

[2019-07-22 08:23] bkokoszx commented on #1650
In our current flow of propagating prepare across the simple pipeline (HOST->DAI) we have respectively:
1. host_params()
2. dai_params().
Both of this functions invoke buffer_set_size function on the same buffer. In host_params() we perform buffer alignment to 32 B (for above format and period=4 buffer size is equal ALIGN_UP_32B(8 * 2B) * 4 = 128B). On the other hand in dai_params() we do not have

[2019-07-22 08:37] keqiaozhang opened #1659 "[BUG] Topology load failure on CML"
**Describe the bug**
Tplg failed to load on CML ChromeBook. This is more like a regression, no such issue on cml-005-drop-stable branch.

**To Reproduce**
check the dmesg after system boot.

**Reproduction Rate**
100%.

**Expected behavior**
No failure after booting

**Impact**
failed to create the audio pipelines

**Environment**
1) kernel: https://github.com/thesofproject/linux/commit/44c31df18c

[2019-07-22 11:25] wwittbrx commented on #1617
Confirmed fixed as of https://github.com/thesofproject/sof/commit/d6335a415431ac9f7e0af3f5322b8eb642b14083. Closing the issue.

[2019-07-22 11:25] #1617 closed

[2019-07-22 14:17] zrombel commented on #1650
@bkokoszx changes fixes this bug. I have checked it with pass-trough pipelines, pipelines with volume and mixer, so it should be merged into master.

[2019-07-22 14:21] ranj063 commented on #1659
@keqiaozhang so you;re saying the same kernel works with the cml-005 branch?

[2019-07-23 01:25] hualongfeng commented on #1615
This is error tips on firmware branch(6335a4).
[error.txt](https://github.com/thesofproject/sof/files/3419684/error.txt)

[2019-07-23 01:48] keqiaozhang commented on #1659
Yes, same kernel and tplg binary works with cml-005 branch.

[2019-07-23 01:58] keqiaozhang commented on #1578
This issue is not reproducible on WHL-I2S after applying thesofproject/linux#1070.

[2019-07-23 02:01] keyonjie commented on #1659
@keqiaozhang maybe master is not ready for cml chromebook? We released them with cml-0045, cml-005, cml-006, but may be some commits are not submitted to master yet.

Can you provide the sof-logger logs also, looks the buffer allocation failed there.

[2019-07-23 02:10] keqiaozhang commented on #1659
@keyonjie
sof-logger is not available after this issue. No traces output.

[2019-07-23 04:49] jajanusz commented on #1649
This one is good reminder, problem with it is that checkpatch is too dumb to know that you already applied what it suggests and you cannot get rid of this warn...

[2019-07-23 06:14] tlauda commented on #1649
@jajanusz That's why I think it eliminates itself from being useful. We shouldn't automatically enforce the rule we cannot verify.

[2019-07-23 06:20] jajanusz commented on #1649
@tlauda It's not even in kernel repo, so I guess @lgirdwood added that, but I guess it would be better to just auto-label it with ABI (similar to how CODWOWNERS work). Someone would need to add it to CI, here's some inspiration -> https://tech.lendinghome.com/auto-labeling-pull-requests-118c84f188d3

[2019-07-23 10:14] jdrzaszcz opened #1664 "[BUG]Missing sample in mixer test."
**Describe the bug**
When we are using topology:
3 playback pipelines Host - Buff connected withe playback Mix-Buff-Dai pipeline.
There are missing samples in the very beginning of the recorded wave in mixer test.

The problem occur when first mixer pipeline stream was started then other three playback pipelines.
To bypass this problem we can first start stream one off the Host-Buff pipeline then

[2019-07-23 11:48] zrombel opened #1665 "[BUG] Glitches on stream when another stream is being started"
**Description**
When stream is being stared a glitch can be found on already running stream.
Example of three playback pass-through pipelines:
Sending trigger start to all pipelines:
2019-07-23 13:34:55,303 | Sending StreamTrigStart (60040000, 00000000)
2019-07-23 13:34:55,709 | Sending StreamTrigStart (60040000, 00000000)
2019-07-23 13:34:55,975 | Sending StreamTrigStart (60040000, 00000000)
Time

[2019-07-23 21:31] mrajwa commented on #1467
Still reproducible?

[2019-07-25 10:29] mrajwa commented on #1615
@keqiaozhang @YvonneYang2 @hualongfeng, it's because I missed some related patches, sorry about that. They are pushed now, so please test again.

[2019-07-26 05:52] YvonneYang2 commented on #1615
Check it on WHL-I2S with test recipe as below, run arecord 150 times, issue cannot reproduce.

Test recipe:
Firmware: 4f590d4 https://github.com/thesofproject/sof/commits/cml-005-drop-stable
Kernel: 9c986c3 https://github.com/thesofproject/linux/commits/topic/keyword_detect

[2019-07-26 07:43] keqiaozhang commented on #1615
I still can reproduce this issue on cml with S24_LE format.

Test recipe:
Firmware: 4f590d4 https://github.com/thesofproject/sof/commits/cml-005-drop-stable
Kernel: 9c986c3 https://github.com/thesofproject/linux/commits/topic/keyword_detect

[2019-07-26 07:59] YvonneYang2 commented on #1615
Update https://github.com/thesofproject/sof/issues/1615#issuecomment-515319154. test 150 times with s16_le format cannot reproduce the bug, but can still reproduce the issue with s24_le format.

Reproduce rate: 1/17
[log_17.txt](https://github.com/thesofproject/sof/files/3434782/log_17.txt)

[2019-07-26 08:16] keqiaozhang commented on #1642
@mrajwa
I still can reproduce above issue on latest code base, bug title is revised.

Test recipe:
Firmware: 4f590d4 https://github.com/thesofproject/sof/commits/cml-005-drop-stable
Kernel: 9c986c3 https://github.com/thesofproject/linux/commits/topic/keyword_detect

[2019-07-26 08:20] #1401 closed

[2019-07-26 09:09] ClarexZhou opened #1674 "[BUG][CFL] System freeze when capture via both 2 DMIC at same time."
**Describe the bug**
 System freeze when capture via both 2 DMIC at same time.

**To Reproduce**
1. Open one terminal, run 'arecord -Dhw:0,6 -r48000 -c2 -fs32_le -vv -i 1.wav'
2. Open one terminal, run 'arecord -Dhw:0,7 -r48000 -c2 -fs16_le -vv -i 2.wav'

**frequency**
100%

**Actual result**
System freeze

**Expected result**
Both capture works OK.

**Environment**
linux (topic/sof-dev): f745362c

[2019-07-26 09:10] mrajwa commented on #1615
@keqiaozhang @YvonneYang2, logs doesn't say much, can I have dmesg. Also, how often does it happen? If there is no detection I assume you terminate arecord and start again, then can you trigger?

[2019-07-26 10:16] YvonneYang2 commented on #1615
Set the interval time between terminate arecord and start as 10s, issue occurred at 43rd.
If no detection occurred, terminate it and start, can work again. Logs please see work_again.txt.

[logger43.log](https://github.com/thesofproject/sof/files/3435276/logger43.log)
[work_again_dmesg.txt](https://github.com/thesofproject/sof/files/3435277/work_again_dmesg.txt)
[work_again_logger.txt](https://git

[2019-07-26 16:07] xiulipan commented on #1674
@jajanusz @lyakh
I checked the logs and found before Jul.24 all test case is passed. But from Jul.25 the test case is not pass. Linux is not changed between these two days.

Only un-test PR that merged on Jul.24 is https://github.com/thesofproject/sof/pull/1592
The test case is test by CI on Jun.28 and not re-test.

Could you try to revert https://github.com/thesofproject/sof/commit/825646595580ff

[2019-07-26 16:29] xiulipan commented on #1674
@ClarexZhou @jajanusz @lyakh
It seems this issue is already fixed by #1669

[2019-07-26 20:12] plbossart opened #1675 "[BUG] DMIC capture extremely low on WHL laptop with 1.3 signed firmware"
**Describe the bug**

with the 1.3 signed firmware, the sound captured w/ DMICs is inaudible. With earlier versions it was low but still audible

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)

change the IP as needed
scp sof-cnl-signed-intel.ri root@192.168.1.185:/lib/firmware/intel/sof/
ssh root@192.168.1.185 'cd /lib/firmware/intel/so

[2019-07-26 20:14] plbossart commented on #1675
see wave file attached and screenshot. The DC removal is still out of whack
[plb.wav.gz](https://github.com/thesofproject/sof/files/3437287/plb.wav.gz)
![Screenshot from 2019-07-26 15-12-33](https://user-images.githubusercontent.com/1149035/61978928-16085980-afb8-11e9-8f0b-f5093af1102c.png)

[2019-07-26 21:48] plbossart opened #1676 "[FEATURE] Need pipeline/DAIs with dynamic configurations"
**Is your feature request related to a problem? Please describe.**

Outputs such as HDMI may support of variety of sample rates and formats, as reported by the receiver with the ELD/EDID information.
The current SOF firmware+topologies assume fixed configurations which don't allow us to support such configurations.

**Describe the solution you'd like**

We need a mechanism where the topologies do

[2019-07-27 11:30] #1650 closed

[2019-07-27 20:54] mrajwa commented on #1642
No, 2.1 is the MAX time-size of the history buffer. So the limit of history depth is 2100 [ms].

Wait a while, something dosn't add up here - how could you manage to trigger KWD if you had set history depth to incorrect, out of the bound, 3 seconds value? You should get
`"kpb_init_draining() error: not enough data in history buffer".

How do you change history depth, what files do you modify and t

[2019-07-29 03:20] dengyangchao commented on #1674
Test it on CFL with test recipe as below, issue not reproduced. Close the bug.
Test recipe:
Firmware: f7809a2e
Kernel: f745362c
Topology:sof-hda-generic-2.tplg same path as firmware
platform: CFL

[2019-07-29 03:21] #1674 closed

[2019-07-29 06:45] Jiangxinx opened #1677 "[BUG][BYT] Failed while do playback and capture at same time on BYT MinnowBoard platform: I/O error (100%)"
**Describe the bug**
Failed while do playback and capture at same time on MinnowBoard BYT-NOCODEC and BYT-rt5651 platform: I/O error (100%). Dmesg and sof-logger have not any abvious error traces.
I think it is caused by PR #1053 that I had reproduced on the 20190726.

**To Reproduce**
1.
terminal 1:
[code]
terminal 2:
[code]

2.
terminal 1:   ctrl+c stop the playback
[code]
terminal 2:
[code]

**

[2019-07-29 07:30] mengdonglin commented on #1578
@Jiangxinx Please help to check if https://github.com/thesofproject/linux/pull/1070 can fix this issue on Baytrail.

[2019-07-29 07:32] tlauda commented on #1578
@mengdonglin It can't. Problems on byt and cAVS platforms are totally unrelated.

[2019-07-29 13:00] lgirdwood opened #1678 "[FEATURE] FW boot metadata needs to include compiler name and version"
**Is your feature request related to a problem? Please describe.**
We need to be able to determine firmware compiler and compiler version from firmware boot metadata.

**Describe the solution you'd like**
Some non debug fields added to FW boot structure.

[2019-07-29 14:03] lgirdwood opened #1679 "[FEATURE] rimage should be able to re-sign FW with different key"
**Is your feature request related to a problem? Please describe.**
Currently we need to rebuild FW ELF file to sign with a different key (impossible if FW comes as a binary and is missing some sources or compiler tools). It should be possible for rimge to re-sign so that users can take community/intel/vendor signed releases and resign them for debug or for running on other hardware.

**Describe th

[2019-07-29 14:11] lgirdwood opened #1680 "[FEATURE] Tools - Need FW binary release script"
**Is your feature request related to a problem? Please describe.**
A script is needed to take FW binaries and topologies (with version/git tag suffix information) and copy them to correct directories within the Linux FW repo. This will include creating any soft links to reflect the correct version (so that driver stings dont need to be changed).

FW binaries would also have to be copied into corre

[2019-07-29 14:12] lgirdwood commented on #1680
@mengdonglin I will do this manually for v1.3, but this needs @xiulipan to create something here before v1.4

[2019-07-30 05:53] keqiaozhang commented on #1659
@mrajwa
Any updates on this bug?  This is a blocker for new release in this week.

[2019-07-30 12:37] lgirdwood opened #1686 "[FEATURE] Tools - needs FW binary introspection script"
**Is your feature request related to a problem? Please describe.**
A script is needed that can read FW binaries and dump manifest and FW boot metadata.

**Describe the solution you'd like**
A simple python script.

[2019-07-30 14:38] zrombel opened #1687 "[BUG] -62 IPC ERROR on StreamTrigPause for Multikernel pipelines"
**Description**
Topology:
Topology composed of one playback pipeline (on core 0) and one capture pipeline (on core 1).

Test case:
Stress test is creating streams for both pipelines, plays and captures wave file, gracefully stops streams and free them. Whole process repeats 100 times.

Bug:
When sending Ipc StreamTrigPause to capture stream FW responds with IPC error -62.

**To Reproduce**
Run pyt

[2019-07-30 21:54] mrajwa commented on #1615
@YvonneYang2, @keqiaozhang please retest with https://github.com/thesofproject/sof/tree/cml-007-drop-stable

[2019-07-30 21:55] mrajwa commented on #1659
@keqiaozhang I think it is fixed, please try with master branch or https://github.com/thesofproject/sof/tree/cml-007-drop-stable

[2019-07-31 05:58] YvonneYang2 commented on #1615
Issue still reproduced with test recipe as below. Meanwhile, arecord status will stuck during test. Sometimes, arecord stuck issue will block the trigger issue validation.

Reproduce rate:
Trigger issue: 1/11
arecord stuck: 1/5

Test recipe:
Firmware: 442cfb2 https://github.com/thesofproject/sof/commits/cml-007-drop-stable
Kernel: f267c3d https://github.com/thesofproject/linux/commits/topic/keywor

[2019-07-31 06:41] YvonneYang2 commented on #1578
As comment https://github.com/thesofproject/sof/issues/1578#issuecomment-509135444 said, thesofproject/linux#1070 can fix the issue on glk.

[2019-07-31 07:23] aiChaoSONG opened #1690 "[BUG] Playback/capture cannot resume after being stopped in background"
**Describe the bug**
Resuming Playback/Capture from stop will cause underrun/overrun, and the aplay/arecord never continues playing/recording, it seems that they are waiting for something.

**To Reproduce**
1. run command `aplay -Dplughw:0,0 -c2 -f dat -i -vvv Titanium_20.wav`. or `arecord -Dplughw:0,0 -c2 -fdat -i -vvv  headset.wav`
2. Press `CTRL + Z`.
3. Press `fg`.

**Reproduction Rate**
100%

[2019-07-31 07:27] keqiaozhang commented on #1659
Confirmed that this issue is fixed on both cml-007-drop-stable and master branches.
master: https://github.com/thesofproject/sof/commit/c6dd4797874db228e78285fbe80cd8b77e62536d
cml-007-drop-stable: https://github.com/thesofproject/sof/commit/442cfb2f2bbc05cd1617cd205aeeb18d9dfb699a

[2019-07-31 07:27] #1659 closed

[2019-07-31 08:08] keqiaozhang commented on #1642
I retested this bug with below recipe, but I run to this issue:
Tested with default history depth and preamble size, no issues.
But for example: set history depth=1.5s and preamble size=2.0s, it can be triggered, but no draining data(before detection) is recorded. it can only record the data after detection, even set the history depth and preamble size back to default 2.1s, still no draining data.

[2019-07-31 08:20] mrajwa commented on #1642
Huh, how do you reset back these parameters? I assume you change topology file reboot and start again right?  If sof you should get as you said:

So something doesn't add up here

[2019-07-31 08:47] keqiaozhang commented on #1642
Here is the detector config after changed: history depth=1.5s and preamble size=2.0s
$ sof-ctl -Dhw:0 -n 14 -br
[code]
from the sof-logger, the draining time is 0ms
[code]

[logger-aft.txt](https://github.com/thesofproject/sof/files/3450662/logger-aft.txt)
[dmesg.txt](https://github.com/thesofproject/sof/files/3450667/dmesg.txt)

[2019-07-31 09:12] jajanusz commented on #1686
@mmaka1 @lgirdwood It looks like https://github.com/thesofproject/sof-ecl-plugins is already capable of it. I don't like that duplication of tools. Also this one is going to have some parts that could be common with rimage. I guess there will be more tools coming like this. Maybe we should rewrite rimage to python, this way f.e. all manifest/metadata code will be shared between tools (and even ecl

[2019-07-31 09:33] mrajwa commented on #1642
`kpb_init_draining(): requested draining of 0 [ms]` explains why you are getting no draining data.
Looks like your config is not properly aligned with

[2019-07-31 09:44] keqiaozhang commented on #1642
Thanks Marcin, after updating my test script. this issue is gone. let's close this bug.

[2019-07-31 09:44] YvonneYang2 opened #1692 "[BUG][WHL]Arecord hung after trigger successfully."
**Describe the bug**
Arecord will hang after trigger it.
**To Reproduce**
1. Run command "arecord -Dhw:0,8 -M -N -r 16000 -c2 -f s24_le -vvv 1.wav" or with s16_le format
2. Trigger it.

**Reproduction Rate**
80%

**Expected behavior**
Arecord successfully after trigger arecord.

**Impact**
Arecord hung after trigger it

**Environment**
Firmware: 442cfb2 https://github.com/thesofproject/sof/commits

[2019-07-31 09:45] #1642 closed

[2019-07-31 09:50] YvonneYang2 commented on #1615
Arecord stuck issue will track in #1692

[2019-07-31 23:19] mrajwa commented on #1692
@YvonneYang2, logs look preatty fine. If that issue happens, you presumably terminate arecord and start again - now what happens? Are you able to trigger again and record with no problem or it no longer works.

PS: I can not reproduce this issue on neither CML nor WHL

[2019-08-01 02:26] aiChaoSONG commented on #1690
This issue persists with **sof-dev kernel`eaa1eb1c`** and  **master sof`67a48ca8`** today(Aug 1st).

[2019-08-01 02:29] YvonneYang2 commented on #1692
Retest it again, when issue happened, terminate arecord and start again cannot recover it, will still reproduce the issue after trigger it.(logs please see again_xxx.log) Only reboot can recover it.

Logs as below
[dmesg.log](https://github.com/thesofproject/sof/files/3454605/dmesg.log)
[logger.log](https://github.com/thesofproject/sof/files/3454606/logger.log)
[logger_error.log](https://github.co

[2019-08-01 08:29] mrajwa commented on #1692
Logs, again are clear. Can you try, before test run

and send logs again if they reveal sth new.

[2019-08-01 09:50] tlauda commented on #1690
@aiChaoSONG Provide FW logs please.

[2019-08-02 02:53] aiChaoSONG commented on #1690
This bug can only be reproduced with aplay/arecord running under zsh,  under bash, running aplay/arecord will cause xrun,  but apaly/arecord can resume, and xrun has no influence on audio quality.

[2019-08-02 02:53] #1690 closed

[2019-08-02 08:20] jajanusz opened #1699 "[BUG] Checkpatch scans only last commit"
**Describe the bug**
When there are multiple commits in PR, then `sof-ci/jenkins/pr-checkpatch` scans only the last one.

F.e. in https://github.com/thesofproject/sof/pull/1611 it should show `camel case` error for each commit, not only for the last one.

**To Reproduce**
Make PR with 2+ commits where each have checkpatch issues. Checkpatch errors will be reported only for the last one.

**Reprodu

[2019-08-02 08:26] xiulipan commented on #1699
@jajanusz
It check all commits in log
https://sof-ci.01.org/sofpr/PR1611/build2702/checkpatch/

The checkpatch will spilt check each commit.

I will try once locally to see if there is such issue

[code]

[2019-08-02 08:28] jajanusz commented on #1699
@xiulipan I see it shows various commits IDs, but error is shown only for the one. Try to run it f.e. for demux_copy and mux_copy commit and both have issues, but it shows issue only for mux_copy.

[2019-08-02 08:39] xiulipan commented on #1699
@jajanusz
I try to run
`./scripts/checkpatch.pl --no-tree --codespell --strict -g 467d76ae16ea~..9d72e583efa3`

locally and it indeed return the same logs.

but if I run
[code]

There will be two different. I think that would be check patch issue. Will check it.

Also try with the latest checkpatch from Linux repo, the same issue here.

[2019-08-02 08:45] jajanusz commented on #1699
@xiulipan maybe it's checkpatch script issue and not CI issue if it works with kernel's checkpatch. So it may be caused by https://github.com/thesofproject/sof/issues/1649

[2019-08-02 09:00] YvonneYang2 opened #1700 "[BUG][WHL]volume adjust not work when change volume based on sof-cml-demux-rt5682 tplg"
**Describe the bug**
Volume cannot be changed during playback when using sof-cml-demux-rt5682 tplg.

**To Reproduce**
1. Aplay with command "aplay -Dhw:0,0 -r48000 -c2 -fs16_le California_Dreaming_48k_16bit.wav -vv -i"
2. Open alsamixer, adjust PGA1.1 1 volume.

**Reproduction Rate**
100%

**Expected behavior**
Wav volume should be changed

**Impact**
Wav volume cannot be changed.

**Environment**

[2019-08-05 04:15] xiulipan commented on #1699
@jajanusz I also tested with the latest checkpatch form kernel repo, it have the same issue. In one context, the **CamelCase** error will only report once. I think we should have some patch to the checkpatch.

[2019-08-05 07:27] mengdonglin commented on #1578
@tlauda Could you please analyze #1597 and #1605 and share some insights why it seems #1597 can fix this issue and #1605 introduced it again?
Please see validation comments: https://github.com/thesofproject/sof/issues/1578#issuecomment-509878507

[2019-08-07 06:09] keqiaozhang opened #1708 "[BUG] Unable to reset the priority and core tokens in tplg"
**Describe the bug**
I tried to reset the priority and DSP coreID tokens to test the smp support, but failed to change them. The priority and core are still "0"  in conf file after changing the pipeline to different priority and core ID.

**To Reproduce**
eg:
1. Change the pipeline 1 as priority 1 and dispatch it to core 1
[code]
2. build the tplg and check the conf file
[code]
3.  priority and ds

[2019-08-07 06:27] paulstelian97 commented on #1708
From a manual run through the m4, it appears that the section you wanted to see the priority changes comes from DAI_ADD near line 70, not where you change it. Indeed, if I change the scheduling parameters of THAT call I will notice them in the .conf file.

Usually scheduling doesn't come from the PCMs but from the actual hardware interface, I guess.

[2019-08-07 06:42] keqiaozhang commented on #1708
Thanks @paulstelian97
I just realized it. only change the priority and core in DAI_ADD will take effect. These 2 tokens in PCM_ADD seem useless.

[2019-08-07 10:02] juimonen commented on #1708
@keqiaozhang so close this one?

[2019-08-07 12:22] #1687 closed

[2019-08-07 12:45] youling257 opened #1709 "[BUG]support Baytrail-CR ssp0 aif1?"
<6>[    4.577860] bytcr_rt5640 bytcr_rt5640: BIOS Routing: AIF1 connected
<6>[    4.596005] bytcr_rt5640 bytcr_rt5640: quirk IN3_MAP enabled
<6>[    4.601385] bytcr_rt5640 bytcr_rt5640: quirk realtek,jack-detect-source 2
<6>[    4.606758] bytcr_rt5640 bytcr_rt5640: quirk realtek,over-current-threshold-microamp 2000
<6>[    4.612543] bytcr_rt5640 bytcr_rt5640: quirk realtek,over-current-scale-facto

[2019-08-07 12:47] tlauda commented on #1709
@youling257 Kernel issue. Please move this bug to kernel repo: https://github.com/thesofproject/linux/issues.

[2019-08-07 12:47] #1709 closed

[2019-08-07 12:58] #1625 closed

[2019-08-07 16:12] plbossart commented on #1675
@singalsu can you please take a look now that you are back?

[2019-08-08 01:18] keqiaozhang commented on #1708
@juimonen . This issue can be closed.

[2019-08-08 01:18] #1708 closed

[2019-08-08 10:35] dabekjakub opened #1714 "[BUG] allocating continious blocks can set wrong first free"
alloc.c line 299
[code]

Probable bug here - this is not always first free (it most likely works now because we do not free resources mid work yet)	but if there was a realocation or any block was fited in a hole in memory this can result in first free beeing block which is already used.

[2019-08-08 12:05] tlauda commented on #1677
@Jiangxinx I cannot reproduce this bug with current master 62b59ce76244b6d8c7745dfc1ee889b4669c6ceb. Could you confirm whether it's still there?

[2019-08-08 12:19] singalsu commented on #1675
@plbossart I'll start with this, thanks for reporting & reminding. I have a suitable laptop to test here.

Concerning that attached waveform plot I'd no more increase the unmute ramp time to conceal the PCM negative values drift. It would be better to place IIR EQ component with high-pass into topology. Then the unmute ramp could be even shortened from current length. The slow DC offset removal se

[2019-08-08 12:28] tlauda commented on #1578
@mengdonglin @YvonneYang2 Fixed on BYT with #1715. GLK debug still in progress.

[2019-08-08 12:58] singalsu commented on #1675
@plbossart Can you check the alsamixer settings. The topology has volume controllers for the both DMIC capture devices so the gain could be adjusted up. I suspect the gain is in default 0 dB state for them.

I wasn't able to use the tool for plotting topologies for this so I can't name the PGAx.y instances to check. Something in this topology doesn't work with the old tool.

But since we need the

[2019-08-09 02:12] Jiangxinx commented on #1578
Can not be reproduced with  #1715 on BYT platform.

[2019-08-09 09:23] keqiaozhang opened #1719 "[BUG] IPC error when stopping the WoV pipeline"
**Describe the bug**
Each time when stopping the WoV pipeline, there're some IPC errors show in dmesg and trace logger, but  no functional impact.

**To Reproduce**
1. arecord -Dhw:0,8 -M -N -r 16000 -c2 -f s24_le -vvv -d 10 wov.wav
2. after that, check the dmesg and trace.

**Reproduction Rate**
100%

**Expected behavior**
no IPC error when trigger stop.

**Impact**
more like a warning, no functi

[2019-08-09 13:15] singalsu commented on #1675
![tplg](https://user-images.githubusercontent.com/28754793/62781510-d6b23080-bac0-11e9-9cde-f16be335b629.png)

[2019-08-09 13:17] singalsu commented on #1675
In this case PGA10.0 and PGA11.0 should get e.g. +20 dB default gain if not done via adding EQ to pipes.

[2019-08-10 09:22] mengdonglin commented on #1578
@tlauda thank you!  Please notify us when your new https://github.com/thesofproject/sof/pull/1722 is merged.

[2019-08-13 08:37] Jiangxinx opened #1723 "[BUG][BYT] Can not hear the sound on byt rt5682 platform."
**Describe the bug**
Can not hear  the sound on byt rt5682 platform.

**To Reproduce**
aplay -Dhw:0,0 -fS16_LE -c2 -r 48000 audio-files/raw/test-c2-r48000-fs16_le-d60.raw -vv -i

**Reproduction Rate**
100%

**Environment**
Firmware: c6f1b08f https://github.com/thesofproject/sof/commits/master
Kernel: 4730d842  https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: sof-byt-rt5682.tp

[2019-08-13 08:41] tlauda commented on #1723
@Jiangxinx I am able to get loopback data with SSP Tx connected to the SSP Rx, so it looks like some kind of codec issue.

[2019-08-13 16:42] singalsu commented on #1675
I just created SOF PR #1725. It's addressing these issues with high-pass EQ (IIR). Here are 16 kHz and 48 kHz demo recordings with 0 dB PGA10.0 and PGA11.0 settings with WHL laptop.

[rec16k_eq_demo.wav.gz](https://github.com/thesofproject/sof/files/3497991/rec16k_eq_demo.wav.gz)
[rec48k_eq_demo.wav.gz](https://github.com/thesofproject/sof/files/3497993/rec48k_eq_demo.wav.gz)

[2019-08-14 07:46] Jiangxinx opened #1726 "[BUG][BYT] IPC error when do multiple pipeline playback test on byt nocodec platform."
**Describe the bug**
DSP panic when do multiple pipeline playback test on byt nocodec platform.

**To Reproduce**
1.Open terminal1:  aplay -Dhw:0,0 -fS16_LE -c2 -r 48000 /dev/zero -vv -i
[code]
Open terminal2:  aplay -Dhw:0,1 -fS16_LE -c2 -r 48000 /dev/zero -vv -i
[code]

2.Then ctrl+c stop  terminal2's playback,and open terminal2's playback again.
terminal2:
[code]

terminal1:
[code]
**Reproducti

[2019-08-15 08:24] Jiangxinx commented on #1723
@tlauda All of 5682 platform from my side have this problem, Do you know if 5682 codec platform need an additional amixer configuration?

[2019-08-16 09:05] ClarexZhou opened #1727 "[BUG][CML Chrome] tplg sof-cml-rt5682-max98357a.tplg load failed"
**Describe the bug**
 tplg component load failed -12

**To Reproduce**
Boot up and check on CML chrome notebook.

**Reproduction Rate**

100%

**Expected behavior**
tplg load successfully

**Environment**
linux (topic/sof-dev):  b45315d5
sof (master): ebf406d0
tplg: sof-cml-rt5682-max98357a.tplg, same with firmware branch.
Platform: CML Chrome notebook.

**Regression** from sof commit https://gith

[2019-08-19 01:17] ClarexZhou commented on #1727
tplg can be loaded on CML chromebook after apply PR #1728

[2019-08-19 01:29] aiChaoSONG commented on #1727
Firmware can be loaded normally after disabling Wov feature.
To disable Wov feature, go to **sof/tools/topology** folder, change **line 9** in **sof-cml-rt5682-max98357a.m4** from ```include(`sof-cml-rt5682-kwd.m4')``` to ```include(`sof-cml-rt5682.m4')```

[2019-08-19 07:46] YvonneYang2 commented on #1726
Only run command "aplay -Dhw:0,1 -r48000 -c2 -fs16_le /dev/zero -vv -i" can reproduce the issue.

**Reproduced rate**
100%

**Environment**
Firmware: ebf406d0 https://github.com/thesofproject/sof/commits/master
Kernel: a600576c https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology:file: tools/topology/sof-byt-nocodec.tplg

**dmesg**
[code]
[dmesg.log](https://github.com/thesofproje

[2019-08-19 09:28] singalsu commented on #758
This can be closed since PR #1624 is merged.

[2019-08-19 09:28] #758 closed

[2019-08-19 09:30] singalsu commented on #1675
PR #1725 is now merged so this can be closed.

[2019-08-19 09:30] #1675 closed

[2019-08-19 10:15] lgirdwood commented on #1714
@dabekjakub good catch, any ETA for fix ?

[2019-08-19 10:18] lgirdwood commented on #1719
@mrajwa @keyonjie fyi - does this mean anything to you guys ?

[2019-08-19 10:19] lgirdwood commented on #1723
@bardliao fyi - any obvious incorrect mixers ?

[2019-08-19 10:52] lgirdwood commented on #1727
@ClarexZhou what is the FW log ? I'm guessing we have run out of free memory ?

[2019-08-19 11:06] juimonen commented on #1727
I checked the buffer sizes in topology conf file before and after my framecount patch and with the fix
#1728 they are the same... I'm not sure if something has changes in the memory maps etc...?

[2019-08-19 11:32] dabekjakub commented on #1714
As soon as i finish up alignment and pm memory features- week or two.

[2019-08-20 01:33] aiChaoSONG commented on #1727
FW trace log and error log are both empty

[2019-08-20 02:39] keyonjie commented on #1727
Why the size of buf 8.0 is 0? Is it recent regression? @ClarexZhou @aiChaoSONG
[code]

[2019-08-20 03:21] juimonen commented on #1727
@keyon yes it was a clear bug in the frame count calculation patch, nobody was too much testing kwd (kwd is almost only one using special buffer size). it is fixed with #1728 and the buffer sizes should be the same as before the change.

[2019-08-20 03:36] juimonen commented on #1727
so do not test this without #1728... btw it should be merged, don't know why it is not...

[2019-08-20 04:10] aiChaoSONG commented on #1727
after several test on different commit, commit `77b6db88` initially shows the bug

[2019-08-20 05:08] juimonen commented on #1727
@aiChaoSONG so to see what is happening, apply #1728, build topologies again and see/attach here fw logs/dmesg

[2019-08-20 05:32] aiChaoSONG commented on #1727
Firmware now can be loaded normally.
[soflogger.log](https://github.com/thesofproject/sof/files/3518837/soflogger.log)
[dmesg.log](https://github.com/thesofproject/sof/files/3518838/dmesg.log)

[2019-08-20 06:50] dengyangchao opened #1731 "[BUG][ICL] DMIC I/O error when doing pause 4ch arecord then resume"
**Describe the bug**
Pause arecord then resume, wait 5s, system shows I/O error

**More info**
when connecting DP or HDMI issue can not reproduce

**To Reproduce**

1.Arecord via "arecord -Dhw:0,6 -r48000 -c4 -fs16_le 1.wav -vv -i"
2.Pause arecord
3.Resume arecord
4.Wait 5s

**Reproduction Rate**
100%

**Expected results**
Resume playback normally after pause-release

**Actual result**
I/O error
!

[2019-08-20 08:43] dengyangchao commented on #1677
issue can reproduce on **GLK-Chrome**

**To reproduce**
1. arecord -Dhw:0,1 -r48000 -c2 -fs16_le 1.wav -vv -i
2. aplay -Dhw:0,1 -r48000 -c2 -fs16_le /dev/zero -vv -i
3. pause-release arecord
4. use "ctrl+c" to stop aplay
5. arecord shows i/o error

**Frequency**
100%

**Test recipe**
Firmware: 5476ed7 https://github.com/thesofproject/sof/commits/master
Kernel: a600576c https://github.com/thesofpro

[2019-08-20 12:12] bardliao commented on #1723
@Jiangxinx @lgirdwood Yes, please set below to true.
 'HPOL Playback Switch'
 'HPOR Playback Switch'

[2019-08-20 14:06] plbossart commented on #1723
On 8/20/19 7:12 AM, Bard Liao wrote:

This just proves my point about only using maintained UCM files and not
rely on asound.state...

[2019-08-21 01:35] ClarexZhou commented on #1727
Close for PR #1728 is merged.

[2019-08-21 01:35] #1727 closed

[2019-08-21 02:05] Jiangxinx commented on #1723
Passed after set: 'HPOL Playback Switch' and  'HPOR Playback Switch' to true.

[2019-08-21 02:05] #1723 closed

[2019-08-21 03:39] plbossart opened #1733 "[BUG] topology: sof-hda-generic-idisp.m4 prevents card probe"
**Describe the bug**

on Up2 with the -idisp-generic topology, we see the following errors

[code]
with recent changes in the kernel (' ASoC: soc-core: tidyup for snd_soc_dapm_add_routes()
'), these errors are now trapped and the card probe fails.

we need to fix the topology to remove those routes.

**To Reproduce**
Take an Up2 with no SSP outputs, only HDMI, and the latest topic/sof-dev kernel a

[2019-08-21 03:40] plbossart commented on #1733
log for problematic configs:

[code]

[2019-08-21 03:41] plbossart commented on #1733
And while we are at it we should fix these topology files to align formats and capabilities, the generic and generic-idisp versions are just too different for no good reason.

[2019-08-21 03:42] plbossart commented on #1733
@kv2019i @ranj063 FYI.

[2019-08-21 05:41] dengyangchao commented on #1731
issue still can reproduce, but can not reproduce when connecting DP or HDMI

**to Reproduce**
1.reboot system via "sudo reboot" and wait it to suspend status
2.Arecord via "arecord -Dhw:0,6 -r48000 -c4 -fs16_le 1.wav -vv -i"
3.Pause arecord
4.Resume asrecord wait 10s
Reproduce rate 100%

**More info**
1. connect DP or HDMI, then reboot via "sudo reboot" and wait it to suspend status
2. Arecord via

[2019-08-21 06:45] kv2019i commented on #1733
FYI to @singalsu as well. He's been looking at a topology related crash as well.

[2019-08-21 06:54] YvonneYang2 commented on #1677
Issue as https://github.com/thesofproject/sof/issues/1677#issuecomment-522917198 said on glk cannot be reproduced when apply patch https://github.com/thesofproject/linux/pull/1070

[2019-08-21 08:16] Jiangxinx commented on #1578
Can not be reproduced with #1722 on BYT rt5682 platform.

[2019-08-21 08:25] Jiangxinx commented on #1677
Both #1070  and #1722 can not work for this issue on byt rt5682 platform.

[2019-08-21 10:46] singalsu commented on #1733
@kv2019i I get this with WHL if I try to leave out digital and idisp stuff from topology. It looks similar:

[code]

[2019-08-22 10:43] mmaka1 opened #1739 "[WIP] [BUG] cavs: core 3 must be powered on for loads > 120 MCPS on icl"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
Please also read https://thesofproject.github.io/latest/howtos/process/bug-tracking.html for further information on submitting bugs.

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)

**Reproduction Rate**
How

[2019-08-22 20:03] mrajwa commented on #1719
@lgirdwood, @keqiaozhang yes I am aware of it. The problem is that sometimes we stop KWD pipelines when it is performing its long-last tasks (draining is a good example here). During such tasks KWD pipeline can not be reset right away. Instead we record reset request, stop current task gracefully, and finally reset. The source of IPC error is the busy state we return. I will try to come up with mo

[2019-08-23 07:26] xiulipan commented on #1733
@plbossart
Fixed with the https://github.com/thesofproject/sof/pull/1746

Test on my own UP2 and 3 PCM can work with sound output to HDMI monitor.

[2019-08-23 10:12] #1482 closed

[2019-08-23 23:01] plbossart opened #1753 "[FEATURE] Need detailed information on configuration supported by firmware"
**Is your feature request related to a problem? Please describe.**
Now that we have a Kconfig-based solution, we cannot assume that e.g. for APL all features supported by SOF were selected by the user. It's possible that e.g. DMIC support is compiled out, and if the kernel tries to make use of this capability there would be an error that cannot be easily tracked to the wrong firmware being used.

[2019-08-26 05:16] YvonneYang2 commented on #1578
Can still reproduce the bug on glk platform with #1722

[2019-08-26 07:31] dengyangchao opened #1756 "[BUG][ICL]When set capture volume to 0 DMIC 4ch still can capture voice"
**Describe the bug**
When set capture volume to 0  DMIC 4ch still can capture voice, the issue exist on both 0,6 and 0,7

**To Reproduce**
1. Reboot system via"sudo reboot"
2. wait it to suspend status
3. Set alsamixer DMIC capture volume to 0
4. Arecord via "arecord -Dhw:0,6 -r48000 -c4 -fs16_le 1.wav -vv -i" or "arecord -Dhw:0,7 -r48000 -c4 -fs16_le 1.wav -vv -i"
5. aplay the capture via "paplay

[2019-08-26 07:55] tlauda commented on #1726
@YvonneYang2 Fixed by #1722. Could you recheck?

[2019-08-26 08:08] Jiangxinx commented on #1726
@tlauda This issue still can be reproduced
[code]

***Environment***
Firmware: 66da4e89 https://github.com/thesofproject/sof/commits/master
Kernel: 2a22b942 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology:file: tools/topology/sof-byt-nocodec.tplg

[2019-08-26 08:23] tlauda commented on #1726
@Jiangxinx Do you still have panic? Because now it looks like problem with simultaneous streaming. Please also apply #1757 and check again.

[2019-08-26 08:48] dengyangchao commented on #1578
issue can reproduce on CFL with #1722

**Reproduce rate**
1/113

**Test recipe**
Firmware: 66da4e8 https://github.com/thesofproject/sof/commits/master
Kernel: 2a22b942 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware
platform：CFL

[2019-08-26 12:00] tlauda opened #1760 "[BUG][cAVS 1.8][Capture] Pause-release overrun"
**Describe the bug**
System shows Input/Output error when pause arecord then release. Similar behavior with all arecord devices. Pipeline overrun after some time of releasing the pause.

**To Reproduce**
1. arecord -Dhw:0,1 -r48000 -c2 -fs16_le 1.wav -vv -i
2. Pause arecord.
3. Release arecord.

**Reproduction Rate**
Under 10%.

**Expected behavior**
Resume capture after pause-release.

**Impact**

[2019-08-26 12:01] tlauda commented on #1578
Issue for cAVS 1.8 created here: https://github.com/thesofproject/sof/issues/1760.

[2019-08-26 13:41] finikorg opened #1761 "[BUG] assert call should not include code"
assert() may be disabled and should not include any code, at the moment there are lots of memcpy constructions inside assert().

[2019-08-26 14:01] paulstelian97 commented on #1761
In the SOF codebase asserts cannot be disabled by any config. If that will change in the future, we do need to be aware of the pattern used with memcpy_s and on disabling still allow side effects to run.

For example, whenever we will disable assert we could do

    #if CONFIG_ASSERT
    #define assert(cond) (void)((cond) || (panic(SOF_IPC_PANIC_ASSERT), 0))
    #else
    #define assert(cond) (con

[2019-08-26 15:28] #1677 closed

[2019-08-27 05:48] aiChaoSONG opened #1762 "[BUG][CML] IPC timed out when headset playback/capture in two-pipeline test"
**Describe the bug**
In one-capture and one-playback multi-pipeline test, if headset playback or capture (not both) present, an i/o error will be raised in both terminal. Then check dmesg output, you will see ipc timeout error. Note that single pipeline works normally.

**To Reproduce**
*Method 1*
1. do aplay through speaker with command: `aplay -Dhw:0,5 -c2 -fdat -i -vvv ./longwave.wav` in one te

[2019-08-27 05:50] Jiangxinx commented on #1726
@tlauda I checked again on byt nocodec platform after #1757 was merged, can't reproduced the DSP panic error, however, the ipc error still exist:
[code]

[2019-08-27 05:53] aiChaoSONG commented on #1762
Test with today's kernel and topology(08/27) and yestoday's sof, this issue not present.

[2019-08-27 07:27] #1733 closed

[2019-08-27 08:10] YvonneYang2 commented on #1578
Issue can be reproduced with steps as below on GLK platform as  https://github.com/thesofproject/sof/issues/1677#issuecomment-523323273 said, but tried to apply  thesofproject/linux#1070 , issue is gone.

**To reproduce**

1. arecord -Dhw:0,1 -r48000 -c2 -fs16_le 1.wav -vv -i
2. aplay -Dhw:0,1 -r48000 -c2 -fs16_le /dev/zero -vv -i
3. pause-release arecord
4. use "ctrl+c" to stop aplay
5. arecord s

[2019-08-27 08:44] dengyangchao commented on #1760
issue can reproduce on CFL

**Test recipe**
Firmware: 2cbb1a02 https://github.com/thesofproject/sof/commits/master
Kernel: 136b7aaf https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware
platform：CFL

[dmesg.log](https://github.com/thesofproject/sof/files/3545114/dmesg.log)

[2019-08-27 20:01] mrajwa commented on #1692
@YvonneYang2 @keqiaozhang I think we can close this one?

[2019-08-28 01:35] aiChaoSONG commented on #1762
`commit 53529b10` introduces this bug

[2019-08-28 02:05] keqiaozhang commented on #1692
Confirmed that this issue is caused by a known issue with Host DMA(more like a hardware issue) and can be fixed by resetting or disabling the LI support("L1 Support Enable(L1SEN)" bit). So this is not a sof issue, let's close it.

[2019-08-28 02:05] #1692 closed

[2019-08-28 10:52] jdrzaszcz opened #1771 "[BUG] - Timeout Error on play stream in parallel internal test."
**Describe the bug**
Timeout error In parallel internal test when trying to start plb_stream on second SSP.
IPC Timeout after sending StreamTrigStart.
This also happens in the demux test.

Sending StreamTrigStart (60040000, 00000000)
Payload:
0000000C 60040000 00000008
FW status on IPC timeout: 0x00000005 0x00000000 0x00004000
Waiting for IPC notifications to drain

Occurs after this commit:
53529

[2019-08-28 13:30] mrajwa opened #1772 "[BUG] Recent change in calculations of frame count breaks KWD topology"
**Describe the bug**
Recent change in calculations of frame count from stream params made by commit id f9ec396b8ffe7ce4f72e11dc1f0e92222e6e78f5 |  pipeline: calculate frame count from stream params breaks buffer sizes in KWD topology therefore causing immediate XRUNs

**To Reproduce**
Use master branch + either KWD topology (i.e sof-cml-rt5682-kwd.tplg) + run arecord -Dhw:0,8 -M -N -r 16000 -c2 -f

[2019-08-28 15:24] juimonen commented on #1772
trying to fix this in #1773. has to be tested I'm now with limited access to test devices

[2019-08-29 01:59] aiChaoSONG opened #1775 "[BUG] WoV cannot trigger with topic/sof-dev(kernel) and master(sof) branch"
**Describe the bug**
Wov cannot trigger with topic/sof-dev(kernel)  and master(sof) branch

**To Reproduce**
1. run `arecord -Dhw:0,8 -M -N -r 16000 -c2 -f s24_le -vvv -d 5 wov.wav`
2. make some sound to trigger wov.

**Reproduction Rate**
100%

**Expected behavior**
Wov should be triggered and start  recording.

**Environment**
1) Kernel: `topic/sof-dev`
2) SOF: `master`
3) Topology: `sof-cml-rt5

[2019-08-29 02:02] aiChaoSONG commented on #1772
What machine do you use, cannot reproduce due to [WoV cannot trigger with topic/sof-dev(kernel) and master(sof) branch](https://github.com/thesofproject/sof/issues/1775)

[2019-08-29 02:26] Jiangxinx commented on #1578
This issue still can be reproduced on byt nocodec platform today, but the reproduction rate is very low (about 1/20), also have not observed obvious error trace from dmesg and sof-logger .
***output***
[code]
***dmesg***
[code]
***sof-logger***
[code]

***Test recipe***
Firmware: 7791303c https://github.com/thesofproject/sof/commits/master
Kernel: f95e4ebf https://github.com/thesofproject/linux/co

[2019-08-29 07:03] aiChaoSONG opened #1776 "[BUG] KWD topology sof-glk-da7219-kwd.tplg load failed on GLK Chrome"
**Describe the bug**
KWD topology load failed on GLK Chrome with return code -22

**To Reproduce**
Boot up and check on CML chrome notebook.

**Reproduction Rate**
100%

**Expected behavior**
topology should be loaded sucessfully

**Environment**
1) Kernel: `topic/sof-dev f95e4ebf`
2) SOF: `master 7791303c`
3) Topology: `sof-glk-da7219-kwd.tplg`
4) Platform: `GLK Chrome`
5) OS: `Ubuntu 1804`

[cod

[2019-08-29 07:06] aiChaoSONG commented on #1776
A previous similar load failed bug is fix on cml chrome #1727, #1727 may share the same cause with this one.

[2019-08-29 07:08] juimonen commented on #1776
@aiChaoSONG so is it out of memory error? can you see dsp logs?

[2019-08-29 07:12] aiChaoSONG commented on #1776
@juimonen  trace log and error log are both empty

[2019-08-29 07:19] juimonen commented on #1776
@aiChaoSONG indeed the glk wov capture pipeline is configured for 48000kHz -> hence bigger buffers as in cml (where it is 16kHz). So let's change it to 16kHz

[2019-08-29 07:37] juimonen commented on #1776
@aiChaoSONG can you try with https://github.com/thesofproject/sof/pull/1777

[2019-08-29 07:46] aiChaoSONG commented on #1776
@juimonen #1777 fix this bug, let's wait it  to merge

[2019-08-29 11:42] wwittbrx commented on #1775
Could you attach sof-logger output? I wonder if this is a duplicate of https://github.com/thesofproject/sof/issues/1772.

Also I think topic/sof-dev does not have all PR's merged, https://github.com/thesofproject/linux/tree/topic/keyword_detect should work better, not sure though.

[2019-08-30 02:36] ClarexZhou opened #1782 "[BUG][SDW]Aplay/ arecord isn't continued after switch to background then switch back foreground."
**Describe the bug**
Aplay/ arecord isn't continued after switch to background then switch back foreground.

**To Reproduce**
1. aplay -Dhw:0,0 -r48000 -c2 -fs24_le wav/long.wav -vv -i
2. press ctrl-z to put aplay background
3. enter 'fg' to switch aplay foreground.

**frequency**
100%

**Actual result**
Aplay isn't continued.

**Expected result**
Aplay should be continued normally.

**Environment

[2019-08-30 02:44] ClarexZhou opened #1783 "[BUG][SDW] Aplay failed for IO transfer timed out then "0x80010000: GLB_DAI_MSG: CONFIG" ipc timed out"
**Describe the bug**
IO transfer timed out then "0x80010000: GLB_DAI_MSG: CONFIG" ipc timed out when trigger aplay

**To Reproduce**
1. aplay -Dhw:0,0 -r48000 -c2 -fs32_le wav/long.wav -vv -i -d 180
2. Ctrl-c to stop
3. aplay -Dhw:0,0 -r48000 -c2 -fs24_le wav/long.wav -vv -i -d 180

**frequency**
< 10%

**Actual result**
Aplay failed for IO transfer timed out then "0x80010000: GLB_DAI_MSG: CONFIG"

[2019-08-30 03:09] ClarexZhou opened #1784 "[BUG][SDW] 'DMIC16k: ASoC: trigger FE failed -110' then '0x60030000: GLB_STREAM_MSG: PCM_FREE' ipc timed out when do multi-pipeline test."
**Describe the bug**
'DMIC16k: ASoC: trigger FE failed -110' then '0x60030000: GLB_STREAM_MSG: PCM_FREE' ipc timed out when do multi-pipeline test.

**To Reproduce**
1. Terminal A:   aplay -Dhw:0,0 -r48000 -c2 -fs32_le wav/long.wav -vv -i
2. Terminal B:   arecord  -Dhw:0,1 -r48000 -c2 -fs32_le 1.wav -vv -i
3. Terminal C:  arecord  -Dhw:0,3 -r48000 -c2 -fs16_le 1.wav -vv -i

**frequency**
2/2

**Ac

[2019-08-30 03:31] YvonneYang2 opened #1785 "[BUG][SDW]Aplay/arecord shows prepare error after switch to background then switch back foreground."
**Describe the bug**
aplay/arecord will show prepare error after switch to background then switch back foreground. Dmesg shows  SDW0-Playback: ASoC: backend prepare failed -22. Only reboot can recover the issue.

**To Reproduce**

1.aplay -Dhw:0,0 -r48000 -c2 -fs16_le 1.wav -vv -i or arecord -Dhw:0,1 -r48000 -c2 -fs32_le 1.wav -vv -i
2.Do "ctrl+z" to backgound, then do "fg" to foreground
3. Repeat

[2019-08-30 03:44] YvonneYang2 opened #1786 "[BUG][SDW]Headset arecord shows I/O error after pause and resume."
**Describe the bug**
Headset arecord will show I/O error after resume from paused status when pulseaudio is on. Trigger arecord again can recover the issue

**To Reproduce**
1.Make sure pulseaudio is on
2.Arecord -Dhw:0,1 -r48000 -c2 -fs32_le 1.wav -vv -i
3.Do pause and resume, then wait for 5-10s

**frequency**
100%

**Expected result**
Arecord normally after resume

**Actual result**
Arecord sto

[2019-08-30 04:07] YvonneYang2 opened #1787 "[BUG][SDW] Aplay+ arecord DMIC32 will cause IO error and dmesg shows ipc timed out for 0x60050000 size 12"
**Describe the bug**
Aplay + arecord DMIC32 will cause IO error and dmesg shows ipc timed out for 0x60050000 size 12
Terminate it then areocrd or aplay can work.

**To Reproduce**
1.Aplay -Dhw:0,0 -r48000 -c2 -fs32_le 2.wav -vv -i
2.Arecord -Dhw:0,2 -r48000 -c4 -fs32_le 1.wav -vv -i

**frequency**
100%

**Expected result**
Both arecord normally

**Actual result**
Arecord stop and shows IO error af

[2019-08-30 04:15] ClarexZhou opened #1788 "[BUG][SDW]Parecord can't capture audio for stream 0 dir 0 is used."
**Describe the bug**
Parecord can't capture audio for stream 0 dir 0 is used.

**To Reproduce**
1. parecord 1.wav
2. paplay 1.wav

**frequency**
100%

**Actual result**
Parecord can't capture audio for stream 0 dir 0 is used.

**Expected result**
Parecord should use correct pcm.

**Environment**
linux: https://github.com/thesofproject/linux/commits/integration/soundwire-alpha commit: a8f3408
sof:

[2019-08-30 04:21] ClarexZhou opened #1789 "[BUG][cml] Paplay has no audio output when playing captured fs24_le audio."
**Describe the bug**
Paplay has no audio output when playing captured fs24_le audio. Audio can be played via aplay successfully.

**To Reproduce**
1. arecord -Dhw:0,1 -r48000 -c2 -fs24_le 1.wav -vv -i
2. paplay 1.wav

**frequency**
100%

**Actual result**
Paplay has no audio output when playing captured fs24_le audio. Audio can be played via aplay successfully.

**Expected result**
audio should be

[2019-08-30 09:45] wwittbrx commented on #1772
I can confirm that #1773 fixes this issue.

[2019-08-30 09:57] jajanusz commented on #1772
Fixed in #1773

[2019-08-30 09:57] #1772 closed

[2019-08-30 13:29] lgirdwood commented on #1714
@dabekjakub ping

[2019-08-30 13:33] lgirdwood commented on #1719
@mrajwa ok, it sounds like we can also imrpove the error handling too. I.e. we can return -EAGAIN so that host SW knows to try again (and give time for draining to complete).

[2019-08-30 13:56] lgirdwood commented on #1726
@Jiangxinx do things recover after the IPC error if you try again ?

[2019-08-30 14:59] lgirdwood commented on #1279
@ranj063 anything still pending here ? I'm assuming we are all done for initail fuzzer ?

[2019-08-30 16:09] lgirdwood commented on #1753
@plbossart this probably fits into the scope of IPC2.0 enumeration where we send the supported IPCs to host and could also include supported DAI types ?

[2019-08-30 16:17] lgirdwood commented on #1760
@dengyangchao do you have  FW log ? does FW recover after restarting arecord ? Can you show output of arecord.

[code]

[2019-08-30 16:37] lgirdwood commented on #1762
@ClarexZhou @aiChaoSONG I see that the latest kernel fixes this issue, but we still have a FW crash. Can FW be recovered without a reboot ?
@tlauda given the absense of any errors in the FW log we could be stuck in DW DMA IRQ handler ?

[2019-08-30 16:40] lgirdwood commented on #1771
@tlauda Seems the related to https://github.com/thesofproject/sof/issues/1762

[2019-08-30 18:47] lgirdwood commented on #1576
@mengdonglin anyone with a free hour to do this for v1.4rc2 ?

[2019-08-30 19:12] lgirdwood commented on #791
@singalsu is this now merged, can we close ?

[2019-08-30 19:14] lgirdwood commented on #1535
@singalsu is this merged now ?

[2019-08-30 19:22] lgirdwood commented on #1391
@singalsu I've made this P1 for v1.5, the EQ should accept the new coefficients and only update them when after copy() completes.
Btw, I'm assuming updating the coefficients here is equivalent of adjusting EQ sliders on a traditional HiFi ?

[2019-09-02 01:22] aiChaoSONG commented on #1776
#1777 is merged, so let's close this issue.

[2019-09-02 01:22] #1776 closed

[2019-09-02 01:50] dengyangchao commented on #1760
issue still can reproduce with below recipe,  @lgirdwood  yes, the FW will recover after restarting arecord

Firmware: 008285ea https://github.com/thesofproject/sof/commits/master
Kernel: f95e4ebf https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware
platform：CFL

[dmesg.log](https://github.com/thesofproject/sof/files/

[2019-09-02 01:50] aiChaoSONG commented on #1762
This issue can be reproduced with `sof 008285ea`, and FW automatically recover without a reboot. after recovery, aplay & arecord  funciton well. @lgirdwood

[2019-09-02 02:21] aiChaoSONG commented on #1775
this issue exists even before the release of cml-007, I think it is not a duplicate of #1772. I think some code of sof or kernel  may not be put upstream. @wwittbrx @lgirdwood

[2019-09-02 02:25] Jiangxinx commented on #1726
@lgirdwood Yes,it can be recover after I/O error,and this issue also can be reproduced on byt rt5682 platform today.

[2019-09-02 08:03] singalsu commented on #791
@lgirdwood Sorry, no it's not yet done. Could the feature to return ABI header data e.g. in simple comma separated numbers format be added to sof-ctl executable?

[2019-09-02 08:09] singalsu commented on #1535
@lgirdwood Sorry no. The usage of this feature is not clear. Why do we want to specify the version in command line if we do not know the rest of the ext binary structure?

In another feature issue #791 the idea is that sof-ctl would return the current ABI constant blurb and process component could then insert the stable (hopefully!) own binary settings data.

[2019-09-02 08:24] singalsu commented on #1391
@lgirdwood Yep, the update on the fly can be made if the new configuration request is now larger than previous. It's not in practice a severe limitation, in filter tuning the IIR or FIR order can be kept the same. I'm assuming we would not do free()-malloc() during playback.

We don't have direct slider adjustable EQ type in firmware. But it could be supported by having some computing in user spac

[2019-09-02 08:30] keqiaozhang commented on #1775
@mrajwa
Please make sure all WoV-related fixes or patches are landed on master, we need to align the status with release branch. Thanks.

[2019-09-02 11:26] singalsu commented on #1535
@lgirdwood I noticed that @keyonjie has added option "-r" but it's not exactly this.

If you mean overwrite the bytes location with command line provided version it's a simple change.

How should the header validate ("If this arg is not given then sof-ctl should validate header instead.") behave from user point of view?

[2019-09-02 15:29] singalsu commented on #791
@lgirdwood I created PR #1792 that implements this enhancement.

[2019-09-02 18:47] mrajwa commented on #1775
@keqiaozhang, @aiChaoSONG, please wait for these two patches #1768 and #1689

[2019-09-02 18:52] mrajwa commented on #1648
This issue should be fixed by #1768, @hualongfeng please verify.

[2019-09-02 18:52] mrajwa commented on #1615
This issue should be finally fixed by #1768, @keqiaozhang please verify on your side.

[2019-09-03 06:24] aiChaoSONG commented on #1775
On CML Chrome, after applying #1768 and #1689, still cannot trigger due to some errors. @keqiaozhang  @mrajwa
[code]

[2019-09-03 06:28] YvonneYang2 commented on #1775
@mrajwa ,Wov shows IO error before trigger it on WHL platform with topic/sof-dev(kernel) and master(sof) branch. Issue still can be reproduced after applying #1768 and #1689

**error logger without patch 1768 and 1689**
[code]

**error log after applying patch 1768 and 1689**
[code]

**all logs**
[dmesg after applying patch.log](https://github.com/thesofproject/sof/files/3568009/dmesg.after.applyi

[2019-09-03 06:30] YvonneYang2 commented on #1615
Issue is blocked by #1775 , so cannot verify it now.

[2019-09-03 07:42] mrajwa commented on #1775
Have you applied #1768 and #1689 on top of the master branch? The XRUN issue was caused by https://github.com/thesofproject/sof/issues/1772 and should be fixed now on master branch. I did some testes yesterday and did not see this issue anymore. However I saw IPC timeout error in dmesg...I think this issue is handled by somebody already.

[2019-09-03 07:45] mrajwa commented on #1775
@YvonneYang2, what I/O error are you talking about? All I see is XRUN?

[2019-09-03 07:48] aiChaoSONG commented on #1775
PR #1773 fix #1772, and #1773 is merged, but we still see xrun with master branch. btw, we are using daily version of kernel and sof. @mrajwa

[2019-09-03 08:00] YvonneYang2 commented on #1775
I/O error is showed in console when do arecord
![Capture](https://user-images.githubusercontent.com/50347470/64154629-cee97000-ce63-11e9-91b5-a6f00036d235.PNG)

[2019-09-03 08:31] mrajwa commented on #1615
@YvonneYang2, can you test cml-007-drop-stable, with #1768 merged into?

[2019-09-03 08:35] aiChaoSONG commented on #1775
retest with latest kernel and sof, no xrun, but there is a mem allocation erro , let't start a new issue. @YvonneYang2 @mrajwa

[2019-09-03 08:58] aiChaoSONG opened #1793 "[BUG] sof memory allocation error with Wov topology"
**Describe the bug**
in testing wov with kernel `topic/sof-dev` and sof `master`,  there will be a mem allocation error, after running arecord, make some sound, there will be a *wrong host params* error in the sof-logger output. these errors may cause the issue of wov cannot triggered.

**To Reproduce**
1. run sof-logger `sudo sof-logger -l sof-cnl.ldc -t`
2. run arecord, `arecord -Dhw:0,8 -M -N -

[2019-09-03 09:12] mrajwa commented on #1793
@aiChaoSONG, the allocator error is expected although we have to think about making it more warning like.
As for

I see you haven't specified --period-size in arecord so it uses the default one and FW calculated that this is not sufficient to drain the data. Try with --period-size=400 for example.

[2019-09-03 09:16] aiChaoSONG commented on #1793
closed for invalid

[2019-09-03 09:16] #1793 closed

[2019-09-03 09:46] keqiaozhang commented on #1775
@YvonneYang2
I/O error is caused by the missing "-M -N" options, please retest it. Thanks!

[2019-09-03 09:50] keqiaozhang commented on #1615
@mrajwa
I tried to manually apply your PR1768 on 007 stable branch, but failed, there're some hard conflicts, please check the src/audio/pipeline.c, "flags" is still in used and can not be removed, so I keep the flags definition and run test on WHL, this issue still can be reproduced with 100%, even the S16_LE format.

[2019-09-03 10:00] YvonneYang2 commented on #1775
Retest it with right command " arecord -Dhw:0,8 -r 16000 -c2 -f s16_le -vvv -i 1.wav -M -N
", I/O error is gone. But still can reproduce the original issue with #1768 and #1689 .

**error logger**
[code]

**all logs**
[dmesg.log](https://github.com/thesofproject/sof/files/3568932/dmesg.log)
[error_logger.log](https://github.com/thesofproject/sof/files/3568933/error_logger.log)
[logger.log](https:/

[2019-09-03 12:29] wwittbrx commented on #1775
Please check the following recipe:

FW 90873c5 + #1689 + #1740 + #1768
Kernel f95e4eb + PR1037

I have checked this recipe today on my CML platform and it works for me with no issues.
As far as I know this is the only working recipe based on master branches. Please make sure you include all FW PRs and one kernel PR.

The test command I use for testing is
`sudo arecord -M -N -D hw:0,8 -f s24_le -c

[2019-09-03 21:10] cujomalainey opened #1796 "[FEATURE] DCR implementation API discussion"
**Is your feature request related to a problem? Please describe.**
Enable DC Removal filters in SOF

**Describe the solution you'd like**
This bug is to figure out the fine details of the implementation

**Describe alternatives you've considered**
N/A

**Additional context**
@singalsu figured we could figure out the details on the API and implementation. Then we can assign this back to me to track

[2019-09-04 02:07] YvonneYang2 commented on #1775
Test it with recipe as below, issue cannot reproduce on WHL platform.

FW: master branch 90873c5 + #1689  + #1740  + #1768
Kernel: topic/sof-dev branch f95e4eb + PR1037

[2019-09-04 06:46] YvonneYang2 commented on #1615
Test it 200 times on WHL platform with recipe as below, issue cannot reproduce.

FW 90873c5 + #1689  + #1740  + #1768
Kernel f95e4eb + PR1037

[2019-09-04 08:38] wwittbrx commented on #1775
Ok, we are on the same page then. Lets wait for PRs to be merged to their respective master branches, retest and then close this issue.

[2019-09-04 10:01] aiChaoSONG commented on #1615
Test it 200 times on CML Chrome with recipe as below, issue cannot reproduce too.

FW: master branch 90873c5 + #1689 + #1740 + #1768
Kernel: topic/sof-dev branch f95e4eb + PR1037

[2019-09-04 10:06] mrajwa commented on #1615
Good, can we close this issue now?

[2019-09-04 11:05] jdrzaszcz opened #1798 "[BUG]Fw replied with error after sending StreamTrigerStart after enable and disable core 1."
**Describe the bug**
After sending StreamTrigerStart FW replied with error in same_kernel_core test and multi_kernel_core test.
Exception SofIpcErrorResponseException occurred at 'C:\\work\\JD\\cavs_scripts-py\\utilities\\ipc_driver.py':560
FW replied with error.
Error code: -62
0x00000005 0x00000000 0x0000400
Test flow for same_kernel_core test:
- build playback and capture pipelines on SSP loopb

[2019-09-04 12:05] #1798 closed

[2019-09-04 12:07] jdrzaszcz commented on #1798
Bug in test function get_fw_loader().fw_disable_core().

[2019-09-04 12:15] zrombel opened #1800 "[BUG] IPC error -22 on tigger_pause on topology with DEMUX component"
**Describe the bug**
Topology:
[code]
Description:
After successful play and capture on all pipelines and sending first trigger_pause to PIPE 3, when sending trigger_pause to PIPE 4 FW response with error -22. In trace log this entries can be found

Trace log:
[code]

**Reproduction Rate**
5%

**Expected behavior**
Stream should pause and stop gracefully.

**Environment**
1) Found on FW Master bra

[2019-09-05 07:57] dengyangchao opened #1802 "[BUG][ICL]show I/O error when unplug headset during capture"
**Describe the bug**
show I/O error when unplug headset during capture

**To Reproduce**
1. Reboot system via "sudo reboot"
2. Wait it to suspend status
3. Arecord via "arecord -Dhw:0,0 -r48000 -c2 -fs16_le 1.wav -vv -i"
4. Unplug headset

**Reproduce rate**
100%

**Expected behavior**
the arecord can still process

**Impact**
show I/O error

**Environment**
Firmware: 2036b0f0 https://github.com/t

[2019-09-05 09:01] singalsu commented on #1796
The simplest way for DCR would be to use the processing component type with binary controls. A separate tool or if simple task a m4 macro within topology could create the blob data.

This approach would need only add of SOF_COMP_DCR into sof_comp_type enums and SOF_PROCESS_DCR in sof_ipc_process_type enums in topology.h and a line to sof_process[] array initilization in topology.c.

[2019-09-05 15:14] singalsu commented on #1535
@lgirdwood @keyonjie Please help describe this requirement (how it differs from existing "-r" and now proposed "-p" functionality). I'd like to keep PR #1792 as [RFC] until we have this one implemented as well.

[2019-09-06 01:13] bardliao commented on #1785
@YvonneYang2 This is actually a kernel issue.

[2019-09-06 01:13] #1785 closed

[2019-09-06 01:43] bardliao commented on #1788
@ClarexZhou @YvonneYang2 Looks like parecord try to record from SDW0-speakers? I think we will need UCM to tell parecord to use SDW0-mics as a recording device. So, close it for now.

[2019-09-06 01:43] #1788 closed

[2019-09-06 01:46] YvonneYang2 commented on #1785
Will track in https://github.com/thesofproject/linux/issues/1178

[2019-09-06 11:06] keyonjie commented on #1535
Hi @lgirdwood can you help to describe the usage scenario that you mentioned with "A command line argument like sof-ctl -a 3:8:0 to insert header for ABI. If this arg is not given then sof-ctl should validate header instead."?

Per my understanding, we have 2 kinds of usage scenarios when using sof-ctl tool:

1. get: to get tlv kcontrol value (run without '-s'). for this scenario, we will get the

[2019-09-06 15:23] lgirdwood commented on #1535
@singalsu @keyonjie intention is to allow external tuning tools (which do not know anything about ABI) to be able to send and recieve data from the FW.

1) Set data. external tool generates coefficients, but we cant send them to FW without header. Tools takes external coefficients, inserts the header and sends to FW.

2) Get data. External tool needs to read data without ABI. Tool reads data and s

[2019-09-06 15:45] singalsu commented on #1535
Option "-r" should do this for write and read but it doesn't work as I thought it would be. This test is with ASCII CSV data. I'm not using myself binaries at the moment.

[code]

Maybe this should be fixed? I'll test next with binary data, need to do a convert script...

[2019-09-06 15:51] lgirdwood commented on #1796
@lbetlej is there an existing API in CAVS ?

[2019-09-06 15:54] lgirdwood commented on #1796
@cujomalainey do you have a schedlue in mind ?  1.5 / 1.6 timeframe ?
@mengdonglin @michalgrodzicki fyi

[2019-09-06 15:57] lgirdwood commented on #1802
@dengyangchao looks like kernel error since FW has no interaction with headset IRQ. Can you paste cmd line output to confirm.

[2019-09-06 16:00] lgirdwood commented on #1726
@tlauda looks like we are waiting on DMA emptying ?
[code]

[2019-09-06 16:08] lgirdwood commented on #1391
@singalsu sounds like a topic for the audio conference. @plbossart I guess we need alsamixer/alsalib support for binary TLV sliders for EQ type users.

[2019-09-06 16:10] singalsu commented on #1535
Here's my test with binary data without header, write works:

[code]
Also binary data get without header works

[code]
So in my opinion examples 1-2 by @lgirdwood work with binary data.

@keyonjie Should I work to fix the CSV ASCII data set/get with -r ?

[2019-09-06 16:14] cujomalainey commented on #1796
I do not currently, my fall is looking like it is going to be quite busy, I'm hoping early in the new year.

[2019-09-06 18:21] plbossart commented on #1391
That wasn't what I was suggesting, rather that the application can provide new binary data at any time, and the the firmware takes care of smoothing transitions to avoid pop-clicks.

[2019-09-08 12:24] lgirdwood commented on #1648
@hualongfeng ping, can you update.

[2019-09-08 12:31] lgirdwood commented on #1800
@zrombel can you update the diagram and desciption to number your PCM's and SSPs to make it easy to follow. Thanks.

[2019-09-09 01:52] dengyangchao commented on #1802
![Screenshot from 2019-05-24 00-36-42](https://user-images.githubusercontent.com/52945407/64498464-2d40a380-d2e7-11e9-8958-fd073ac7c250.png)

it seems kernel issue, so close it and open kernel issue to track

[2019-09-09 01:52] #1802 closed

[2019-09-09 02:15] dengyangchao commented on #1802
https://github.com/thesofproject/linux/issues/1187  track on #1187

[2019-09-09 02:29] keyonjie commented on #1535
@singalsu yes, you are using the correct command lines, set/get for CSV ASCII text data with -r(raw data without ABI header) is not supported yet (as we don't have this requirement in demux or kwd scenarios, I didn't work on that), it will be good if you can add this for EQ.

[2019-09-09 07:03] keqiaozhang commented on #1648
@YvonneYang2
Please help to verify #1768.

[2019-09-09 08:28] dabekjakub commented on #1731
duplicate os #1760

[2019-09-09 08:28] #1731 closed

[2019-09-09 10:38] YvonneYang2 commented on #1648
Test it on whl with FW GCC toolchain compiled , issue cannot reproduce.

Test recipe:
FW: master branch 90873c5 + #1689 + #1740 + #1768
Kernel: topic/sof-dev branch f95e4eb + PR1037

[2019-09-09 13:12] lgirdwood commented on #1535
@singalsu @keyonjie please support this for binaries too. Most 3rd party tuning tools will emit only binary tuning data.

[2019-09-09 13:32] lgirdwood commented on #1648
@YvonneYang2 I've renamed this as it's not a compile failure.

[2019-09-09 13:40] mrajwa commented on #1648
@lgirdwood, I think we can close this issue as it seems to be fixed now. Do you Agree?

[2019-09-09 14:30] zrombel commented on #1800
Sure, pipelines id and component id on schematics matches log.

[2019-09-10 02:30] YvonneYang2 commented on #1648
Test it on whl with test recipe as below, arecord with s24_le format will hang after trigger it successfully .

Reproduced rate :100%

Test recipe:
FW: master branch 92b23fa8 (pr1689 has already been merged)+ #1740  + #1768
Kernel: topic/sof-dev branch 21f22f5 + PR1037

**error logger**
[code]
[dmesg.log](https://github.com/thesofproject/sof/files/3593352/dmesg.log)
[logger.log](https://github.com

[2019-09-10 02:40] Jiangxinx opened #1811 "[BUG][BYT]Capture failed (arecord: set_params:1363: Unable to install hw params) on byt nocodec platform."
**Describe the bug**
arecord: set_params:1363: Unable to install hw params on byt nocodec platform.

**To Reproduce**
arecord -Dhw:0,0 -fs16_LE -c2 -r 48000 1.wav -vv -i

**Reproduction Rate**
100%

**output**
[code]

**dmesg**
[code]

**sof-logger**
[code]

**Environment**
linux: https://github.com/thesofproject/linux/commits/integration/soundwire-alpha commit: fa20ceba
sof: https://github.com/th

[2019-09-10 04:37] aiChaoSONG opened #1812 "[BUG] ipc timeout in suspend stress test"
**Describe the bug**
ipc timeout error when run stress S0ix check.

**To Reproduce**
1. reboot.
2. run suspend stress test script.
3. error will occur in some iteration.

*Note that in which iteration this error occur is not sure, so you may rerun script several times, and make sure there is enough iteration in each run (eg. 200 iterations).*

**Reproduction Rate**
75%

**Expected behavior**
suspe

[2019-09-10 07:10] Jiangxinx commented on #1811
Update the new reproduce step:
It only can be reproduced before doing any playback test.

**bisect result**
Caused by #1710

[2019-09-10 07:21] ClarexZhou commented on #1811
@tlauda , seems one regression by #1710, could you please check on this?

[2019-09-10 07:25] dengyangchao commented on #1802
@lgirdwood  add sof error log, please check again
[code]

[2019-09-10 09:18] dengyangchao commented on #1812
issue also can reproduce on CML and CFL

**to reproduce**
1. reboot via"sudo reboot"
2. Run with command aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero & sudo ./stress-s3.sh 300 1 1

**reproduce rate**

1/143

**dmesg**
[code]
[dmesg.log](https://github.com/thesofproject/sof/files/3594776/dmesg.log)

[2019-09-10 11:28] mrajwa commented on #1648
@YvonneYang2 well this is what testing active developing branch means - you are prone to new bugs and this is exactly what happens here. I think @tlauda is working on this already.

[2019-09-10 13:42] wwittbrx commented on #1812
Please include firmware logs when the error occurs.

[2019-09-10 21:30] mrajwa commented on #1648
Update, fix for edf scheduler issue has already been merged into master.

[2019-09-11 02:40] dengyangchao commented on #1812
issue still occur on CFL

**recipe**
Firmware: 09a44ab7 https://github.com/thesofproject/sof/commits/master
Kernel: fa20ceba https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware

[s3_test_114_logger_all.log](https://github.com/thesofproject/sof/files/3598566/s3_test_114_logger_all.log)
[s3_test_114_logger_error.log](h

[2019-09-11 05:43] Jiangxinx commented on #1811
Can not be reproduced with #1816 .

[2019-09-11 12:48] #1811 closed

[2019-09-11 13:43] emilchudzik opened #1819 "[BUG] Distortion at the beginning of recording wave - Demux tests with ch.mapping"
**Describe the bug**
Small glitch occurs at the beginning of the recording wave for tests with Demux based on channel mapping.

**To Reproduce**
Run python test test_04_demux_channel_mapping.py.

**Reproduction Rate**
10% from 50 executions.

**Expected behavior**
clean recording wave without distortion

**Environment**
Windows python tests
Platform WHL-RVP - I2S mode.
Firmware from branch:
https:

[2019-09-11 13:59] emilchudzik opened #1820 "[BUG] Huge distortion - Demux tests with ch.mapping"
**Describe the bug**
Distortion occurs on whole recording wave in tests with Demux based on channel mapping.

**To Reproduce**
Steps to reproduce the behavior: (e.g. list commands or actions used to reproduce the bug)

**Reproduction Rate**
2% from 50 executions.

**Expected behavior**
clean recording wave without distortion

**Environment**
Windows python tests
Platform WHL-RVP - I2S mode.
Firmwa

[2019-09-11 14:14] lgirdwood commented on #1820
@emilchudzik looks like clipping and saturation. Can you try and lower the volume on the CODEC. @singalsu do you agree ?

[2019-09-12 05:45] YvonneYang2 opened #1839 "[BUG][SDW]aplay 0,0 + aplay 0,2 or aplay 0,3 + arecord 0,1 will cause ipc timed out 6005000 size 12"
**Describe the bug**
aplay 0,0 + aplay 0,2 or aplay 0,3 + arecord 0,1 will cause ipc timed out 6005000 size 12, other functions are ok .

**To Reproduce**
1.Boot up system
2.Run ./rt1308_mixer.sh, ./rt711_mixer.sh and ./rt715_mixer.sh
3.open a terminal to run aplay -Dhw0,0 test.wav
4.Open another terminal to run aplay -Dhw0,2 test.wav

**frequency**
100%

**Expected result**
Aplay normally

**Actu

[2019-09-13 08:44] lgirdwood commented on #1819
@emilchudzik how many samples are wrong ? It could be SSP FIFO size or period size ?

[2019-09-13 10:22] singalsu commented on #791
The PR #1792 is merged now so we can close this!

[2019-09-13 10:22] #791 closed

[2019-09-13 10:23] singalsu commented on #1535
The PR #1792 is merged now so we can close this!

[2019-09-13 10:23] #1535 closed

[2019-09-16 02:54] dengyangchao commented on #1812
1. the issue first time observed in ww37.1,  commit: master 92b23fa8 , but is low reproduce rate
2. change to ww36.5 commit: master ba32f4ad, test 2000 times issue not occur
3. in ww37.2, commit: master 596f761b, the reproduce rate add to about 1/150

step 1-3 kernel are topic/sof-dev fa20ceba

[2019-09-16 03:25] dengyangchao opened #1830 "[BUG][CML][CFL]ipc timed out for 0x80010000 size 144 when doing module unload/reload"
**Describe the bug**
ipc timed out for 0x80010000 size 144 when doing module unload/reload,
caused by master 8c61213c

**To Reproduce**

1.Disable Pulseaudio via "sudo mv /usr/bin/pulseaudio /usr/bin/pulseaudio.bak"
2.Do system reboot via "sudo reboot"
3.Wait till runtime PM status is suspned
4.run ./sof_bootloop.sh

**frequency**
1/40

**Actual result**
ipc timed out for 0x80010000 size 144

**Ex

[2019-09-16 03:40] dengyangchao commented on #1830
issue also can reproduce on CFL-S RVP

[2019-09-16 04:32] dengyangchao commented on #1812
issue can reproduce on ICL-RVP, when doing module unload/reload

**reproduce rate**
1/5
**Environment**
Firmware: 2bd725df https://github.com/thesofproject/sof/commits/master
Kernel: 6cf9ef05 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware
platform：ICL-RVP
**dmesg**
[code]
[boot_fail.log](https://github.com/theso

[2019-09-16 05:32] dengyangchao commented on #1830
issue observed on CML and CFL-S RVP
when doing stress test via"aplay -Dhw:0,0 -r48000 -c2 -fs16_le /dev/zero & sudo ./stress-s3.sh 300 1 1"
**recipe**
Firmware: 2bd725df https://github.com/thesofproject/sof/commits/master
Kernel: 6cf9ef05 https://github.com/thesofproject/linux/commits/topic/sof-dev

[code]
[s3_test_3_logger_all.log](https://github.com/thesofproject/sof/files/3614822/s3_test_3_logg

[2019-09-16 06:56] dengyangchao commented on #1760
issue still exist on ICL when doing pause 4ch arecord then resume #1731
**frequency**
100%

**recipe**
Firmware: 2bd725d https://github.com/thesofproject/sof/commits/master
Kernel: 6cf9ef05 https://github.com/thesofproject/linux/commits/topic/sof-dev
**dmesg**
[code]
**sof-logger**
[code]
[dmesg.log](https://github.com/thesofproject/sof/files/3615019/dmesg.log)
[logger.log](https://github.com/thes

[2019-09-16 07:06] dengyangchao commented on #1760
issue still exist on CFL
**frequency**
1/80
**recipe**
Firmware: 2bd725d https://github.com/thesofproject/sof/commits/master
Kernel: 6cf9ef05 https://github.com/thesofproject/linux/commits/topic/sof-dev

**dmesg**
[code]
**sof-logger**
[code]

[dmesg.log](https://github.com/thesofproject/sof/files/3615047/dmesg.log)
[logger.log](https://github.com/thesofproject/sof/files/3615048/logger.log)
[logge

[2019-09-16 07:49] juimonen commented on #1726
I can reproduce this also. I don't see any obvious error's in the logs. For some reason it looks like that in the error case (start/stop stream 2 during simultaneous stream 1), the stream 1 data feed is disturbed and pipeline stops for xrun. Like the host dma from kernel->dsp is getting jammed for the existing stream->xrun->pipeline stop.

[2019-09-16 10:06] wwittbrx commented on #1812
What platform/OS/coreboot are you using? I tried to reproduce this issue but my system reboots on rtcwake command. I'm testing on CML laptop with Ubuntu 19.04.

[2019-09-16 10:25] aiChaoSONG commented on #1812
@wwittbrx  I think CML not support S3 yet, you can test this with S0, run
`echo s2idle > /sys/power/mem_sleep`,  rtcwake now will sleep to S0 instead of reboot

[2019-09-16 11:06] juimonen commented on #1726
@tlauda so pipeline 0,1 src component _always_ gives me in the beginning: "No data to process. pipeline_task(): xrun recover failed! pipeline will be stopped!". But most of the time pipeline is not stopped, so streams are happily continuing to play... So could it be some timing with pipeline state, that every now and then the pipeline is actually able to stop -> hence we get this error? I can try

[2019-09-16 11:20] lgirdwood commented on #1726
@juimonen I assume you are using XCC for this debug since it builds a faster SRC for the media pipeline.

[2019-09-16 11:32] juimonen commented on #1726
@lgirdwood no I'm using gcc. In this use case src should not do any conversion, just copy through

[2019-09-16 11:35] lgirdwood opened #1833 "[FEATURE] rimage: support for TGL code signing"
**Is your feature request related to a problem? Please describe.**
rimage needs to be able to sign tigerlake fw binaries.

**Describe the solution you'd like**
rimage needs to have command line option for TGL that will use TGL manifest and sign TGL binaries.

[2019-09-16 13:09] juimonen commented on #1726
@Jiangxinx @YvonneYang2 can you try this with https://github.com/thesofproject/sof/pull/1834
at least for me it seems to fix the issue.... sometimes this bug is pretty hard to reproduce

[2019-09-16 18:29] wenqingfu commented on #1830
@tlauda

[2019-09-17 05:27] aiChaoSONG commented on #1812
issue reproduction becomes really low with kernel `6fc7eb300` and sof `0ba3fec5`. Run 3 times of S0 stress test on CML:
- Without playback/capture, reproduced in iteration 249
- Without playback/capture, 300 iterations no reproduction
- With headset playback, 300 iteraitons no reproduction

[2019-09-17 07:22] #1714 closed

[2019-09-17 08:01] dengyangchao commented on #1812
use two ICL-RVP run 200times, issue can not reproduce when doing module unload/reload

Firmware: 0ba3fec5 https://github.com/thesofproject/sof/commits/master
Kernel: 6fc7eb300 https://github.com/thesofproject/linux/commits/topic/sof-dev

[2019-09-17 09:00] singalsu opened #1835 "[BUG]Testbench build for debug does not produce debug friendly code"
**Is your feature request related to a problem? Please describe.**
The cmake build of testbench does not generate an executable without optimization. When run in debugger (gdb + graphical front end) the optimized executable has variables optimized out and code stepping is not linear. The hand editing of makefiles manually to remove code optimization is cumbersome due to complexity of cmake generat

[2019-09-17 09:20] singalsu opened #1836 "[FEATURE]Testbench build with xt-xcc for profiling and debugging with Xplorer tools"
**Is your feature request related to a problem? Please describe.**
The testbench (SOF/tools/testbench) can be currently built only for Linux and possibly also for Windows host. Due to shared libraries runtime load for components the xt-run and C library supplied with Xplorer can't build and run it. Therefore currently only generic C versions of SOF component can debugged and tested in simulation e

[2019-09-17 09:22] Jiangxinx commented on #1726
@juimonen I tried #1834 on byt nocodec platform, and can't reproduce this issue.

[2019-09-17 09:30] singalsu commented on #1836
Sorry, this is a duplicate. I forgot that there's already issue #1630.

[2019-09-17 09:30] #1836 closed

[2019-09-17 14:56] lgirdwood commented on #1812
@dengyangchao is it survivavable ? i.e. is everything OK and working if kernel modules are reloaded ?

[2019-09-17 15:00] lgirdwood commented on #1830
@dengyangchao is this survivavble when FW is reloaded ?

[2019-09-18 01:54] aiChaoSONG commented on #1762
can only reproduce this issue with `headset capture + speaker playback`  or `DMIC capture + headset playback` now. **Kernel: 6fc7eb30      SOF:573e0b17**

[2019-09-18 04:15] dengyangchao commented on #1812
@lgirdwood when issue occur, then use ```sof_remove.sh``` and```sof_insert.sh```, it back to normal

[2019-09-18 04:18] dengyangchao commented on #1830
@lgirdwood when issue occur, then use```sof_remove.sh```and```sof_insert.sh```, it back to normal

[2019-09-18 07:28] Jiangxinx commented on #1726
Fixed by #1834 .

[2019-09-18 07:28] #1726 closed

[2019-09-18 13:58] plbossart commented on #1762
@wenqingfu did you really intend to close this issue? Doesn't look like it's fixed?

[2019-09-18 18:31] wenqingfu commented on #1726
I found an occurrence in https://sof-ci.01.org/linuxpr/PR1161/build1870/devicetest/ again, but not sure the FW is with #1834 or not.

[2019-09-18 19:13] juimonen commented on #1726
I think it is with #1834 as I don't see any src complain messages.  This could be another error somehow related to https://github.com/thesofproject/linux/pull/1219. I think we have some occasional jam in ending the stream, which gives input/output error in userspace. I have not found the root cause, but it seems somehow related to the draining/pm_wait... So my suspicion is that it is in upper laye

[2019-09-19 07:19] aiChaoSONG commented on #1812
I have encountered ipc timeout in basic tests several times, but ipc timeout occur very randomly(not able to predict which test case cause it, and it may occur in any test case after running test for a while), so I think recent ipc timeout issue (#1812, #1830 and #1839) is not caused by suspend, module reload or multi-pipeline aplay. And recent changes to sof may introduce some accumulated errors,

[2019-09-19 08:01] YvonneYang2 commented on #1839
Issue can still reproduce with test recipe as below.

Test recipe:
Firmware: 460c41aa https://github.com/thesofproject/sof/commits/master
Kernel: 4ac5440 https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg:  sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt711-rt1308-rt715.tplg  https://github.com/bardliao/sof/blob/fix/soundwire-tplg/tools/topology/
platform: ICL RVP

[2019-09-19 08:59] singalsu opened #1843 "[BUG]Glitches in beginning of playback via SRC pipe"
**Describe the bug**
Especially with 48 kHz content playback to Media Playback device the first fraction of a second has discontinuities in output waveform. The effect can be heard when listening carefully.

Witht other sample rates like 32 kHz there's typically one glitch. 48 kHz has several (5).

**To Reproduce**
Playback of 48 kHz content to hw:0,4 device in UP^2 with default topology sof-apl-p

[2019-09-19 09:17] dengyangchao commented on #1830
run 200 times the issue not reproduce on CFL-S RVP when doing unload/reload

**recipe**
Firmware: 460c41aa https://github.com/thesofproject/sof/commits/master
Kernel: 6fc7eb30 https://github.com/thesofproject/linux/commits/topic/sof-dev

[2019-09-19 11:17] kv2019i commented on #1761
I'd like to reopen this and add some folks @lgirdwood @jajanusz @tlauda

To me SOF use of assert is not following normal industry standards and can lead to mistakes like we had in Zephyr PoC. E.g.

ANSI C and opengroup -> assert() should not have side-effects
https://pubs.opengroup.org/onlinepubs/009695399/basedefs/assert.h.html

MS guidelines:
https://docs.microsoft.com/en-us/cpp/c-runtime-librar

[2019-09-19 12:27] paulstelian97 commented on #1761
@kv2019i From what I've seen many asserts with side effects in the arguments are really calls to memcpy_s. The memcpy_s function can be made to have the assert inside it (the C standard allows a "constraint handler" to be called in case one of the conditions making it return -EINVAL is encountered; this "constraint handler" may very well be a panic() call, possibly even with a different type from

[2019-09-19 17:09] cujomalainey opened #1845 "[FEATURE] Add Cherrytrail to CI"
ChromeOS is upreving cht kernels, we are migrating the platform to SOF in the process. To help smooth integration it would be best to have CHT devices in CI.

[2019-09-19 17:15] kv2019i commented on #1761
@paulstelian97 Ack, I think that would be much better.

Other alternative is to rename the assert() to something else (product_assert() or something better), so it is clear to people reading the code that this is not your standard ANSI C assert but something else.

[2019-09-19 17:27] plbossart commented on #1845
There are 3 types of CHT devices i can think of:
- Chromebooks. For CI we'd need to use e.g. a Cyan platform with Ubuntu to be able to test the latest kernel.
- Windows devices. I have an Asus T100HA and a headless device, they could be repurposed for CI. Those devices are picky wrt reboot so would need to be tied to a networked power supply to guarantee stable reboots.
- Up board. @singalsu do we

[2019-09-19 17:31] juimonen commented on #1845
@plbossart we have sof-apl-src-50khz-pcm512x.m4 which was only initially tested, and well it was working then...

[2019-09-19 21:16] cujomalainey opened #1847 "[BUG] Cherrytrail DMA fails occasionally"
**Describe the bug**
Cherrytrail playback fails, reboots sometimes gets system to a good state which allows playback but occasionally this will appear in the logs

[code]
or
[code]

**To Reproduce**
Load cyan with SOF Tot and attempt to run a speaker test

**Reproduction Rate**
4 out of 5 reboots approximately

**Expected behavior**
system is stable

**Impact**
blocker for kerneluprev for bsw

**E

[2019-09-20 00:20] cujomalainey commented on #1847
Possibly interesting line that might be causing the DMA to crash, does it really have 65k channels?
[code]

[2019-09-20 05:57] finikorg commented on #1761
Can we just have something like
[code]

[2019-09-20 05:57] dengyangchao commented on #1830
the issue reproduced on CFL-S RVP when doing module unload/reload
**frequency**
1/34
**recipe**
Firmware: b0bb5a33 https://github.com/thesofproject/sof/commits/master
Kernel: 6fc7eb30 https://github.com/thesofproject/linux/commits/topic/sof-dev

[2019-09-20 06:55] paulstelian97 commented on #1847
Looks like some sort of weird issue, like casting -1 to a uint16_t? I noticed the pattern of using negative channel numbers in dma_get() as called from host. Can you show a few lines before that interesting one?

[2019-09-20 07:06] paulstelian97 commented on #1847
Found the relevant code for the real issue (line numbers are wrong), the channel stop seems to fail waiting for FIFOs to be empty (function dw_dma_stop, only with CONFIG_DMA_SUSPEND_DRAIN -- which is enabled on CHT and BYT).

Someone who's actually working on that platform?

[2019-09-20 07:24] tlauda commented on #1847
Please try to increase the timeout. It might be that ocassionally FIFO is not emptied on time. Disabling the channel witf FIFO not empty is causing DMA hang and that's why you cannot restart it.

[2019-09-20 07:27] paulstelian97 commented on #1761
@kv2019i I'm doing some changes right now on this one. One question though: if memcpy_s detects a condition should it still trigger a panic even if assertions are disabled?

[2019-09-20 08:33] paulstelian97 commented on #1761
@finikorg @kv2019i Can you give me input on this draft PR? If it's good we can go forward.

[2019-09-20 13:22] kv2019i commented on #1556
After discussion with @lgirdwood tagging with P3 and removing Notable for now.

[2019-09-20 14:02] plbossart opened #1853 "[BUG] 50kHz SRC hw_params fail on APL/CHT"
**Describe the bug**

hw params fail when using the 50kHz SRC on APL with the sof-apl-src-50khz-pcm512x.tplg
The same error happens when using this topology on CHT.

**To Reproduce**
Use Up2 board, connect HiFiberry board, add PCM512x support with ACPI scripts, copy sof-apl-src-50khz-pcm512x.tplg to target and symlink it as sof-apl-pcm512x.tplg

**Reproduction Rate**
100%

**Expected behavior**
cl

[2019-09-20 14:04] plbossart commented on #1853
@singalsu @juimonen can you guys take a look please?

[2019-09-20 14:07] tlauda commented on #1853
@plbossart @singalsu @juimonen Looks like there is not enough heap space for the buffer allocation. Probably SRC requires larger buffer and hence the problem.

[2019-09-20 14:42] juimonen commented on #1853
@tlauda this topology is quite small and samplerate is only 50khz... I wonder how we can run out of memory? @plbossart do you see the created buffer sizes in fw logs? Can you attach the full logs?

[2019-09-20 16:08] juimonen commented on #1853
so in the topology I see only 3 buffers sized 1200, 1200 and 800 bytes, we should have enough mem?

[2019-09-20 16:19] plbossart commented on #1853
@juimonen it's probably easier to get answers to your questions if you run the tests yourself... I have no added value here, I just reported that the functionality is broken.

[2019-09-20 16:26] singalsu commented on #1853
@plbossart I was busy with other things but fortunately next week looks much better now so I will be able to work with this. Thanks for testing and reporting the bug!

It could be just that the buffers resize code fails now. With previous 50 kHz run we used hacked topology with buffer sizes tweaks that might have avoided to trigger the issue.

[2019-09-20 16:30] cujomalainey commented on #1847
Doubling the DMA timeout (for baytrail) did not change the behaviour. It seems to consistently fail on master but on 005-cml-drop it flakes and I was able to get audio working a couple times

[2019-09-20 16:31] cujomalainey commented on #1847
@paulstelian97 yes I noticed this morning I forgot to update the ldc between builds which caused incorrect line numbers

[2019-09-20 18:12] plbossart commented on #1853
No worries @singalsu. I added the topology if you want to try on the Up board. I assumed the issues where the same but the SRC and memory sizes are different so there might be a different root cause for the hw_params fail.

[2019-09-20 22:29] cujomalainey commented on #1796
We are working on a plan to get this upstream, will fill you in @lgirdwood at ELC

[2019-09-20 23:10] cujomalainey commented on #1847
changing all the cherrytrail only dmac configs in `src/platform/baytrail/lib/dma.c` to `#if 0` allows cherrytrail to work. I am going to look closer at the last controllers config

[2019-09-23 07:30] ClarexZhou commented on #1839
on CML rtc700 SDW RVP, same ipc timed out when aplay + DMIC32 arecord.
**Environment**
Firmware: 0b47129  Master
Kernel: e24f321b on integration/soundwire-latest
Topology: file: same with firmware branch, sof-cml-rt700.m4
platform: CML RVP with onboard ALC700 in SDW mode

[2019-09-23 08:32] YvonneYang2 commented on #1839
on ICL rtc700 SDW RVP, same ipc timed out when aplay device 0,0 + DMIC32 arecord.

[2019-09-23 09:19] aiChaoSONG opened #1856 "[BUG] ipc timeout and card instantiation failure in reboot stress test"
**Describe the bug**
When do reboot stress test on CML Chrome, there will be ipc timeout and card instantiation failure. Sometimes only ipc timeout occurs, sometimes both issues occur. if card instantiation failed occurs, topology will be failed to load.

**To Reproduce**
do system reboot

**Reproduction Rate**
2/100

**Expected behavior**
no ipc timeout, card instantiated and tplg load succesfull

[2019-09-23 09:21] aiChaoSONG commented on #1856
after disabling i915 power well with `GRUB_CMDLINE_LINUX_DEFAULT="i915.disable_power_well=0` in /etc/defaults/grub, this issue still occurs.

[2019-09-23 09:25] aiChaoSONG commented on #1856
this issue should be a kernel issue, reopen it on kernel repo

[2019-09-23 09:25] #1856 closed

[2019-09-23 14:26] lgirdwood commented on #1845
@wenqingfu fyi

[2019-09-23 14:30] lgirdwood commented on #1812
@aiChaoSONG thanks, can you work more on root causig this with a reproducable test. We can then re-prioritize if it turns out to be something not related to context save.

[2019-09-23 14:36] lgirdwood commented on #1847
@cujomalainey that's a good fine and interesting, these values are internal DMAC channel priority configurations. They are intended to allow the DMAC to give bandwidth and FIFO priority to some channels over other ones. We do not use these currently in SOF so it should be safe to comment on CHT platform.

[2019-09-23 20:39] keyonjie opened #1860 "[FEATURE] Add DMA trace run-time enable/disable feature"
**Is your feature request related to a problem? Please describe.**
At the moment, DMA trace will be enabled and started by default, we can't pause or disable it after it is started. This will lead to issue that it is impossible to fulfil the feature when the system is entering some special state (e.g. low power d0i3 state where DMA trace is required to be stopped).

**Describe the solution you'd l

[2019-09-25 01:52] Jiangxinx opened #1868 "[BUG][APL][CI]Speaker-test on APL_UP2_NOCODEC - IPC timed out (from gitlab)"
**Describe the bug**
From CI (https://gitlab.devtools.intel.com/sof-ci/sofcitest/issues/186), hw_params didn't go through well sometimes while do speaker-test on APL_UP2_NOCODEC platform.
https://tcr.sh.intel.com/#/tests/fc68dcdf-70cb-4c51-ae73-370d8ba68cb8/detail
https://tcr.sh.intel.com/#/tests/53744105-f046-4004-925f-0993eb388a00/detail

By the way, I can't reproduce this issue manually.

**To

[2019-09-25 02:52] wenqingfu commented on #1868
If you cannot reproduce it manually, I would like it to be reported later.  The links quoted are not qualified for using on Github, anyway. Please quote CI test results on 01.org

[2019-09-25 02:52] #1868 closed

[2019-09-25 03:23] wenqingfu commented on #1775
All PRs above has been merged. Can this issue be closed now?  @keyonjie @mrajwa

[2019-09-25 03:26] aiChaoSONG commented on #1775
@wenqingfu We will run tests on several platforms today, if everything is fine, then this issue can be closed.

[2019-09-25 07:02] aiChaoSONG opened #1869 "[BUG] hw param installation failed in wov test on GLK Chrome"
**Describe the bug**
once run arecord on wov pipeline, there will be an "Unable to install hw params" message in the terminal, check kernel and sof logs, you'll see the issue.

**To Reproduce**
run `arecord -Dhw:0,8 -M -N -r 16000 -c2 -f s16_le -vvv -d 5  wov.wav`

**Reproduction Rate**
100%

**Environment**
1) Branch
    * Kernel:  topic/sof-dev {e03f8829}
    * SOF: master {d42c0195}
2) Name of

[2019-09-25 07:09] YvonneYang2 commented on #1775
Issue cannot reproduce on whl-i2s and CML Chrome platforms. Close the bug.

Test recipe:
Firmware: d42c019 https://github.com/thesofproject/sof/commits/master
Kernel: c0f21e6 https://github.com/thesofproject/linux/commits/topic/sof-dev

[2019-09-25 07:09] #1775 closed

[2019-09-25 07:17] aiChaoSONG commented on #1869
This issue can also be observed on CML Chrome with [wovapp](https://github.com/aiChaoSONG/wovapp) in S24_LE mode.
run `./wovapp -Dhw:0,8 -d5 -t -s -fs24_le -p 400 -N`
*Notice: this app works fine in s16_le mode*

[2019-09-25 08:00] YvonneYang2 commented on #1869
Check on WHL-I2S, same behavior as CML Chrome when run wovapp in s24_le mode.
This app also woks fine in s16_le mode .

[2019-09-25 08:35] mrajwa commented on #1860
I don't understand what is the issue here, are you trying to say logs during d0i3 should not be send or what?

[2019-09-25 09:16] lyakh opened #1870 "[BUG] demux configuration shouldn't be in binary form"
Demux is a generic topology component, that can be included in different pipelines. It is defined in muxdemux.m4 and it requires a SectionControlBytes with parameters. A demux is usually added to an audio playback pipeline by including pipe-demux-playback.m4. There the demux configuration includes a number of human-readable parameters and a binary data blob. That data blob is defined in demux_coef