[2020-02-18 02:39] Liviali155 commented on #2390
Error not seen on v1.4.2, closed it

[2020-02-18 02:39] #2390 closed

[2020-02-18 04:21] dengyangchao commented on #2391
Below are some info i tried
1. Sof-dev Feb 17th(b2d98237) +master Feb 17th(b206b7a8) ,  issue can't be reproduced.
2. Sof-dev Jan 23rd(37a07941)   + tag_v1.4.2   ,    issue can't be reproduced.
3. Sof-dev Jan 24th(9b1e6574)   + tag_v1.4.2    ,   issue can reproduce

[2020-02-18 06:02] aiChaoSONG commented on #2400
bisect, and de73e60a8 cause this issue.

[2020-02-18 07:39] dengyangchao opened #2401 "[BUG][APL][PCM512X]EQ-test occur ipc error for 0x60010000 size 20"
**Describe the bug**
EQ-test occur ipc error for 0x60010000 size 20

**To Reproduce**
1. Reboot system via "sudo reboot".
2. Wait 5s make runtime PM to suspend
3. cd /sof-test-fix-add_eq_test/test-case
4. Run "export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-pcm512x.tplg"
5. Execute command "./check-audio-equalizer.sh"

**Reproduction Rate**
3/3

**Expected behavior**
EQ-test pass

**Impact**
IPC

[2020-02-18 08:06] slawblauciak commented on #2379
Is this a regression?

[2020-02-18 08:13] dengyangchao commented on #2393
HW:0,0 also can reproduce the issue too, and even 20191203 sof-dev+master, issue also can be reproduced.
[code]

[2020-02-18 08:20] slawblauciak commented on #2391
That FW version is likely not compatible with the kernel/driver, to name one difference, there were many changes in the topologies and their ABI.

[2020-02-18 08:26] slawblauciak commented on #2391
1.3 is likely incompatible with the top of the kernel, there were quite a few changes in the topologies I believe. As for 1.4.2, it will have to be verified.

[2020-02-18 08:39] slawblauciak commented on #2296
@zrombel can you please check if this is reproducible on our platforms?

[2020-02-18 08:45] slawblauciak commented on #2386
Can you please verify whether it's reproducible with high freq clock enabled in the menuconfig?
Just to confirm the rootcause.

[2020-02-18 08:51] slawblauciak commented on #2265
Can you please test it with 1.4.2? Ideally it would also have to be with the latest kernel, to make sure there are no ABI/functionality incompatibilities.

[2020-02-18 08:56] slawblauciak commented on #2264
Can you make sure your BIOS is up to date?

[2020-02-18 08:57] slawblauciak commented on #2251
Is this still an issue after that PR's been merged?

[2020-02-18 09:06] dengyangchao commented on #2401
Caused by master de73e60 , @bkokoszx please help to check

[2020-02-18 09:14] zrombel commented on #2347
I will run tests once again on top of master and if the bug doesn't reproduce I will close the bug.

[2020-02-18 10:39] lgirdwood commented on #2400
@bkokoszx looks like maybe a duplicate of #2379 too.

[2020-02-18 10:40] lgirdwood commented on #2379
Duplicate of #2400 ?

[2020-02-18 10:45] jdrzaszcz opened #2402 "[BUG] Stream stall ASRC capture pipeline."
**Describe the bug**
When running simultaneous capture and playback on external loopback (same SSP) with ASRC component on capture pipeline there is stream stall on capture pipeline.
The test applies to 2 channels and other elements of the audio format do not matter.

**Topology**
[code]
**To Reproduce**
Run one the test 19_02_TestAsrcCaptureSamplingRateChange on https://gitlab.devtools.intel.com/

[2020-02-18 10:49] lgirdwood commented on #2393
@dengyangchao related to #2400 ? Can you bisect.

[2020-02-18 11:16] Liviali155 opened #2404 "[BUG][CML]" ipc error for 0x60060000 size 12"when do Capture-pause-release test using headset(0,0)"
***Describe the bug***
I/O error when do Capture-pause-release test using headset (0,0)
After error occurred arecord stop,but if arecord again,it can work normally

***To Reproduce***
1.sudo reboot
2. ./sof-test-pause-release.sh -t pcm0c (script as attachment)

<img width="266" alt="Capture" src="https://user-images.githubusercontent.com/56707932/74728005-ffd82880-527c-11ea-9d27-08cb4363a159.PNG">

[2020-02-18 11:18] singalsu commented on #2402
Thanks for reporting! I'll try repeat this here with 16 kHz or 8 kHz DMIC capture pipeline.

[2020-02-18 11:34] Liviali155 commented on #2404
Seems a Firmware regression issue
I changed firmware to 20200110(commit:c6baa979),error not seen

[2020-02-18 12:25] Liviali155 commented on #2404
Bi-sect result:
caused by Firmware commit 91fb594b[](https://github.com/thesofproject/sof/commit/91fb594bd9455fcf8415a588cf45e6294ac46e0e)

[2020-02-18 12:26] Liviali155 commented on #2404
Related #2280

[2020-02-18 12:52] zrombel commented on #2296
I will try to reproduce it.

[2020-02-18 13:19] lgirdwood commented on #2264
@slawblauciak not following your BIOS comment ? v1.4.2 is booting for @pfps now, issue seems to be related to kernel ?

[2020-02-18 13:21] bkokoszx commented on #2400
@lgirdwood
I've just added few debug logs to FW.
In above case, we try to make ```aplay``` with ```-c2``` (channels parameter set to 2). But, when we configure dai and send ```dai_set_config()``` to FW, we set: ```ssp->params.tdm_slots``` to 4.
[code]
There is a mismatch between our hardware parameters and pcm parameters. As I understand, now FW works properly and returns an error when there is a

[2020-02-18 13:23] slawblauciak commented on #2264
Yes, you're right, the comments were a bit hard to follow.

[2020-02-18 13:25] pfps commented on #2264
@slawblauciak I'll try updating my BIOS soon.  It's been a while and I should do this anyway, but I have to switch disks to update the BIOS so I don't do it very often.

[2020-02-18 13:34] lgirdwood commented on #2264
@pfps please hold off the BIOS update for the moment, can you try v1.4.2 and latest kernel.

[2020-02-18 13:35] wwittbrx commented on #2400
@aiChaoSONG Is any special setup required for this? I tried installing the newest kernel (b2d9823) but Ubuntu fails at boot and the platform turns off. Older kernel (v5.5) boots just fine.

[2020-02-18 13:42] perexg commented on #2264
I think that this bug may be closed. From the @pfps comments in Fedora's bug https://bugzilla.redhat.com/show_bug.cgi?id=1772498 the 1.4.2 firmware loads fine now with the i915 patch https://lore.kernel.org/r/20200206200223.7715-3-kai.vehmanen@linux.intel.com .

The other major issue we're facing right now with the 5.5 kernel: https://github.com/thesofproject/linux/issues/1747

[2020-02-18 13:47] #2251 closed

[2020-02-18 13:49] lgirdwood commented on #2401
Looks like a dupe of #2379 and some others on the same bisect commit

[2020-02-18 14:46] aiChaoSONG commented on #2400
@wwittbrx No special setup is needed. if the kernel you build fails, you can use ci daily kernel: https://sof-ci-storage.sh.intel.com/daily/. or try to rebuild with the kconfig we use: https://sof-ci-storage.sh.intel.com/daily/20200218/linux-b2d98237-2/config-daily-default-20200218-0.txt

[2020-02-18 14:59] wwittbrx commented on #2400
I'm getting the same result with daily kernel, looks like a platform issue, I will reinstall Ubuntu to start fresh and retry.

[2020-02-18 15:25] zrombel commented on #2347
No reproduction on master top 53d35. Closing Issue.

[2020-02-18 15:25] #2347 closed

[2020-02-18 16:19] #2264 closed

[2020-02-18 16:35] lgirdwood commented on #2404
@Liviali155 is this fatal ? Does audio continue or do you need to restart aplay ?
@slawblauciak This looks like a race that's easy to reproduce with slower clock ?

[2020-02-18 21:30] stripes416 commented on #2361
@bardliao here is amixer contents from my apl-up2-pcm512x.
[kledford_up2_amixer_contents.txt](https://github.com/thesofproject/sof/files/4221745/kledford_up2_amixer_contents.txt)

(sorry for the time delay, was out of town for a few days)

[2020-02-19 02:00] bardliao commented on #2361
The mixer settings are the same except HDMI settings. So, it is not an amixer setting issue. As @lgirdwood mentioned, we should think about the possibility of layout issue. But I think we can close the issue since there is nothing we can do.

[2020-02-19 02:07] Liviali155 commented on #2404
After error  occurred  arecord stop,but if arecord again can work normally

[2020-02-19 02:20] dengyangchao commented on #2379
@lgirdwood This issue is different with #2400 , found it when do speaker-test front left and front right on pipeline media playback

[2020-02-19 06:03] tlauda commented on #2348
@ranj063 Issue still seen?

[2020-02-19 06:47] dengyangchao commented on #2296
I tried this Scenario on sof-dev + master , do multiple-pipeline-playback stress test and **fail at 487th**.

![error-cap](https://user-images.githubusercontent.com/52945407/74808372-b1329900-5325-11ea-8548-b5ade2d609c1.PNG)

Platform: APL UP2 with PCM512X in I2S mode
Firmware: 53d35e49 https://github.com/thesofproject/sof/commits/master
Kernel: 861c3087 https://github.com/thesofproject/linux/comm

[2020-02-19 07:10] dengyangchao commented on #2393
@lgirdwood It's hard to bisect, i tried and even at date 20191001 master also can reproduce the issue

[2020-02-19 07:38] bkokoszx commented on #2400
@lgirdwood
Could you please refer to comment: https://github.com/thesofproject/sof/issues/2400#issuecomment-587457169 ?

[2020-02-19 09:26] jdrzaszcz commented on #2296
I run test 10_01_TestPtpParallelInternal8000Hz16b16b1ch with playback_iterations=1000 on APL RVP and couldn't reproduse this bug.
Above test runs simultaneous playback and capture on three pipelines connected do SSP interfaces.
I will try with parallel exteralnal.
Parallel exteralna test runs simultaneous playback and capture on multiple pipelines connected do various interfaces (SSP loopback, SSP

[2020-02-19 09:28] tlauda commented on #2296
@jdrzaszcz It's playback and capture on HDA Link, not SSP.

[2020-02-19 09:30] jdrzaszcz commented on #2296
@tlauda As far as I know  APL UP2 don't have HDA.

[2020-02-19 09:32] tlauda commented on #2296
@jdrzaszcz `hda_dma_link_check_xrun() error: xrun detected` it says here that XRUN happened on HDA Link.

[2020-02-19 10:01] jdrzaszcz commented on #2296
@tlauda Thank for the explanation.

[2020-02-19 10:15] jdrzaszcz commented on #2296
In our tests this bug is not reproducible and we can't do it with DAI HDA, because we don't have the proper setup.

[2020-02-19 12:01] lgirdwood commented on #2361
@bardliao ack - now closing. It can be re-opened if this happens on other APL boards

[2020-02-19 12:01] #2361 closed

[2020-02-19 12:13] lgirdwood commented on #2379
@dengyangchao there is no memory to allocate page descriptors ?
[code]
caused here
[code]
@mengdonglin can you assign - we need to also add an error trace message here too. The is no heap free with this block size.

[2020-02-19 13:22] lgirdwood commented on #2393
@dengyangchao ok, btw @ktrzcinx has some DMA and SSP fixes in the pipeline that may fix this. These fixes currently blocked on CI issue on BDW that @fredoh9 and @xiulipan are fixing.

[2020-02-19 13:29] lgirdwood commented on #2400
@bkokoszx This can be fixed with the multi-dai config (it basically extends your recent pipeline params work) so that the DAI can also be updated to use a new config if the pipeline cannot be configured to do the conversion.
In the short term we could add a converter in the pipeline that can convert 2c to 4chan until multi DAi is ready.

[2020-02-19 14:21] lgirdwood commented on #2296
We need to role this into EDF scheduler work i.e. how to correctly reschedule and start after xrun. Lets close now.

[2020-02-19 14:21] #2296 closed

[2020-02-19 17:55] stripes416 commented on #2361
sounds good. Thanks for looking into this guys!

[2020-02-19 20:52] FantasyCookie17 commented on #1899
Is there anywhere I can track progress on this? Or should I just look at which kind of pull requests and commits in general get accepted?

[2020-02-19 21:22] plbossart commented on #1899
it's rather easy to track progress: there's been no progress since January...

[2020-02-19 21:59] Aurelien- commented on #2134
Hello, I am commenting here as I have some issues with the sof driver with my C940 under manjaro gnome with kernel 5.5.4-1 or 5.6-rc2. I have never been able to make the speakers working (showing  fake output in gnome sound manager) or the mic except partially with kernel 5.4. I moved to the unstable branch to test with latest packages.

The main error in dmesg is the following:

[    0.688206] so

[2020-02-19 22:07] plbossart commented on #2134
This looks like you don't have any firmware installed on your device?

can you do a

ls -l /lib/firmware/intel/sof*

and paste the results?

[2020-02-19 22:26] Aurelien- commented on #2134
Thanks for your very quick answer ! Indeed, no sof installed, I thought it was by default... No now it seems ok from dmesg but still no speakers/mic detected by gnome...

[    0.687163] software IO TLB: mapped [mem 0x1ea78000-0x22a78000] (64MB)
[    2.807355] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    2.807732] sof-audio-pci 0000:00:1f.3: Digital mi

[2020-02-19 22:30] Aurelien- commented on #2134
Ok I had to reboot a second time as hinted in a previous comment and it is now working ! Sorry for having polluted the issue... Thanks for the help !

[2020-02-20 10:58] Liviali155 commented on #2400
On TGL HDA and CML Mantis also can reproduce this issue when arecord (0,0) using "-fs32_le" or "-fs24_le"
***To Reproduce***
1.sudo reboot
2."arecord -Dhw:0,0 -r48000 -c2 -fs24_le test.wav -vv -i"  or "arecord -Dhw:0,0 -r48000 -c2 -fs32_le test.wav -vv -i

<img width="263" alt="Capture" src="https://user-images.githubusercontent.com/56707932/74927152-106dd780-5412-11ea-94cb-fc996deb97b8.PNG">

<de

[2020-02-20 11:15] bkokoszx commented on #2400
@lgirdwood
Thanks, I understand, but do we really need here, in that special case, that the SSP be configured with 4 channels (not 2; codec required this)?

The easiest way returning to previous state is to remove checking channel parameter in dai_verify() function.

Due to channel converter- should it be implemented as separate component or just static dai function? In 2->4 conversion case, shoul

[2020-02-20 11:42] lgirdwood commented on #2400
I would make it a separate component. This way it can be used anywhere and also allows certain post processing on some channels and not others.

[2020-02-20 12:35] Liviali155 opened #2452 "[BUG][TGL]Then volume is small and have much noise when arecord via dmic using format s24_le"
**Describe the bug**
Then volume is small and have much noise when arecord via dmic (0,6) or (0,7) using format fs24_le compared with using format fs32_le/fs16_le

**To Reproduce**
1.sudo reboot
2.keep the volume of  arecord not change
3.arecord -Dhw:0,6  -r48000 -c4 -fs24_le   fs24_le.wav -vv -i
  arecord -Dhw:0,6  -r48000 -c4 -fs32_le   fs32_le.wav -vv -i
  arecord -Dhw:0,6  -r48000 -c4 -fs16_le

[2020-02-20 14:35] lgirdwood commented on #1280
@bkokoszx lets mark this as 50% done, but it's blocking on multi-dai which we can push into v1.6

[2020-02-20 14:36] lgirdwood commented on #2293
@cujomalainey @bzhg any update - will push into v1.6

[2020-02-20 14:39] #2312 closed

[2020-02-20 14:40] lgirdwood commented on #2270
@mrajwa any update on the Prs ? Is this blocking on @lbetlej returning ?

[2020-02-20 14:41] bkokoszx commented on #2401
@dengyangchao
Can you check whether PR #2414 fixes this issue?

[2020-02-20 14:48] mengdonglin commented on #2348
Lower the priority since this issue cannot be reproduced by xcc.

[2020-02-20 16:27] bzhg commented on #2293
Hi Liam, let me test with master again. I was on an old branch.

[2020-02-20 18:39] bzhg commented on #2293
Just rebased my code on master @ 135cace3 and the tracer is working perfectly. Will bisect and backport the appropriate patches when working on old branches. I think we can close this now. Sorry about the spam.

[2020-02-20 18:53] #2293 closed

[2020-02-20 21:10] #2020 closed

[2020-02-20 21:10] #632 closed

[2020-02-20 21:13] chrysophylax opened #2418 "[BUG] No sound on Lenovo IdeaPad S540-13IML i7-10510U on ClearLinux w. kernel 5.5.3x"
**Describe the bug**
Failure to load drivers on i7-10510U leads to only Dummy Output being available.

What have you tried to diagnose or workaround this issue?
Running very recent kernel (5.5.3.x)

**To Reproduce**
Boot Intel ClearLinux 5.5.3 on a Lenovo S540 13IML with an i7-10510U CPU. No sound.

**Reproduction Rate**
Every time.

**Expected behavior**
Working sound card output selectable in GN

[2020-02-20 22:45] chrysophylax commented on #1899
Is there something the less-technical community can do to help? test stubs or such? I have a AKALI360 I'm willing to do software surgery on for the cause.

[2020-02-20 22:48] plbossart commented on #1899
unfortunately the bulk of the work is very low-level boot flows and the firmware would again need to be signed by Intel for devices designed for Windows. It's going to happen but we've several Q1 topics already.

[2020-02-20 22:50] chrysophylax commented on #1899
OK, thanks for the reassuring words that it's not forgotten :-)

[2020-02-21 07:05] dengyangchao commented on #2401
@bkokoszx  Tried #2414 and still failed
[code]

[dmesg.log](https://github.com/thesofproject/sof/files/4234676/dmesg.log)
[logger.log](https://github.com/thesofproject/sof/files/4234677/logger.log)

[2020-02-21 07:59] bkokoszx commented on #2400
@lgirdwood
I have one more thought - why can't just use mux/demux with special config (1 source/sink)? I think that demux/mux can be use as channel converter in some way

[2020-02-21 08:51] bkokoszx commented on #2401
@dengyangchao
I've tried to reproduce with recipe from here: https://github.com/thesofproject/sof/issues/2401#issue-566703970
And I did not have reproduction. Here are my logs:
[dmesg.txt](https://github.com/thesofproject/sof/files/4235100/dmesg.txt)
[logger.txt](https://github.com/thesofproject/sof/files/4235102/logger.txt)

Maybe are there any updates in sof-test-fix-add_eq_test.zip test scripts

[2020-02-21 09:11] dengyangchao commented on #2401
@bkokoszx I got the scripts from here, https://github.com/thesofproject/sof-test/pull/63.
if you use the sof-test-fix-add_eq_test.zip, before setp 4 you need run "export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-pcm512x.tplg"(I've updated the reproduce steps).
BTW, the tplg is sof-apl-eq-pcm512x.tplg rename to sof-apl-pcm512x.tplg

[2020-02-21 09:20] mrajwa commented on #2270
@lgirdwood yes it's my responsibility, I will submit PR for soon.

[2020-02-21 10:09] perexg commented on #2102
Another round: https://mailman.alsa-project.org/pipermail/alsa-devel/2020-February/163649.html

[2020-02-21 10:18] lgirdwood commented on #2102
@perexg @plbossart can we close once fix is merged upstream.

[2020-02-21 10:46] lgirdwood commented on #2400
@bkokoszx ok, if that will do it it will be fine until multi DAI is merged.

[2020-02-21 12:50] lgirdwood commented on #2356
Pushed to v1.6 until further comments can be aligned.

[2020-02-21 12:56] lgirdwood commented on #2213
@jdrzaszcz any update, are we still seeing this ? @tlauda it looks from the tail of the last log that the IPC logic get in a muddle prior to the timeout ?
[code]

[2020-02-21 13:14] lgirdwood commented on #2404
@slawblauciak @mmaka1 can we make the 400M clock the default for CML etc, the low power clock can then be optionally selected by user who need it until the switching is dynamic at runtime.

[2020-02-21 13:14] lgirdwood commented on #2402
@singalsu any update ?

[2020-02-21 13:20] bkokoszx commented on #2401
@dengyangchao
I've checked with new recipe and test passed (please look at: test_log.txt file):
[logger.txt](https://github.com/thesofproject/sof/files/4236138/logger.txt)
[test_log.txt](https://github.com/thesofproject/sof/files/4236139/test_log.txt)
[dmesg.txt](https://github.com/thesofproject/sof/files/4236140/dmesg.txt)

Firmware: #2414
Kernel: https://github.com/thesofproject/linux/tree/861c3

[2020-02-21 16:36] plbossart commented on #2400
there are no plans to support the multi-dai for now, and I don't get why the demux would be used in 1source 1 sink mode. for SoundWire we need 1src 2 sinks?

[2020-02-21 17:55] MayurVirkar commented on #2181
How can I debug it further?

[2020-02-23 21:42] #2401 closed

[2020-02-24 01:53] mengdonglin commented on #2402
@jdrzaszcz which platform is used to reproduce this issue?

[2020-02-24 02:12] mengdonglin commented on #2391
@dengyangchao can you bi-sect the difference between the 2 kernel?

[2020-02-24 06:13] jdrzaszcz commented on #2402
@mengdonglin I checked it on APL and WHL RVP

[2020-02-24 08:52] bkokoszx commented on #2400
@plbossart
It's because in that topology SSP has been configured with ```ssp->params.tdm_slots=4```, but when we try to make ```aplay``` with argument ```-c2``` (channels) we configure pipeline with pcm channel parameter equals to 2. There is a mismatch between hardware and pcm configuration and we need to make conversion from 2 to 4 inside the pipeline. As I understand we are able to use DEMUX in

[2020-02-24 09:41] dengyangchao commented on #2391
@mengdonglin I tried, but the code seems re-base, can't find the correct order of commit

[2020-02-24 09:42] sathyap-chrome opened #2426 "[FEATURE] Impulse Noise reduction as a post processing in DSP"
**Is your feature request related to a problem? Please describe.**
on CML platform, we have seen a noise introduced by RT5682 ( in attachement). This noise is an impulsive and frequent than a 1 time noise.
  The idea of this feature is to see if we can identify and eliminate (or minimise) such noise

**Describe the solution you'd like**
  The solution is explained in the attachment. i would ask my

[2020-02-24 10:25] emilchudzik commented on #2041
There is no repro of stream stall on multicore tests on top branch from commit: c35e1aa6.
Exectued tests: each audio format x1000 iteration -> ~48k of tests without stream stall during the weekend

[2020-02-24 10:25] #2041 closed

[2020-02-24 10:33] jdrzaszcz commented on #2180
Still occur on master: 1d273c3a9f155624144199e36a14ffafeec345ca commit

[2020-02-24 10:39] lgirdwood commented on #2181
@MayurVirkar I guess you have also tried to open alsamixer and tried to manually adjust the codec settings ? It could be the defaults have some speakers muted ?

[2020-02-24 11:24] lgirdwood commented on #2402
@jdrzaszcz btw, which buffer(s) are overrun/underun here ? I wonder if we need more buffering around the ASRC to deal with drift.

[2020-02-24 11:34] lgirdwood commented on #2426
@singalsu can you review and comment. Thanks

[2020-02-24 11:47] jdrzaszcz commented on #2402
@lgirdwood As far as I know there is no overrun/underun here only strem stall on capture pipeline and I don't see any overrun/underun in logs.

[2020-02-24 11:50] lgirdwood commented on #2180
@zrombel we should attach raw topology files when reporting these errors too, useful for other testers and developers.

[2020-02-24 11:52] juimonen commented on #2426
@sathyap-chrome couple of naive question:
1) your original signal levels are quite low compared to peaks... so what happens if you have very high levels in the original signals?
2) peaks seems to be really sharp (like only 1 sample long), so is a simple low pass causing audible artefacts?

a) Anyway we have general fir with possibility for arbitrary response, I don't think we have anything adaptiv

[2020-02-24 11:59] jdrzaszcz commented on #2213
I checked it with 1d273c3a9f155624144199e36a14ffafeec345ca commit and don't see this issue after updating piplines prioritys.

[2020-02-24 12:07] jdrzaszcz commented on #2300
I checked it with 1d273c3a9f155624144199e36a14ffafeec345ca commit and don't see this issue after updating piplines prioritys.

[2020-02-24 12:08] #2300 closed

[2020-02-24 12:17] singalsu commented on #2426
To me this looks like rather bad HW design (on CML). The codec power and audio bus needs to have proper filtering components resulting from signal integrity simulations. Has this error been forwarded to HW team?

[2020-02-24 13:29] singalsu commented on #2426
The presentation doesn't look solid. The spectral leakage slide about time shift effect to DFT with boxcar window has nothing to do with described simple time domain procedure. Or maybe there's connection but I don't see such with just the slides. The human vocal tract also generates impulses and noises. Such proposed strong non-linear processing will degrade severely performance for speech recogn

[2020-02-24 13:40] lgirdwood commented on #2402
@jdrzaszcz can you point out the error in the logs. I cant see anything after a quick check. I would expect to see a scheduler error if the pipeline is not run (stalled ?).

[2020-02-24 14:10] bkokoszx commented on #2400
@lgirdwood @plbossart
Sorry, my bad. I was not aware of variables like: ```config->ssp.tx_slots;``` and ```config->ssp.rx_slots;```, that specify which slots should be filled. When we try to play 2 channel stream and configure ssp with tdm_slots equal to 4 and tx_slots equal to e.g. 0b0011 everything should be correct. We do not need any DEMUX here. I will make PR resolving this issue today/tomorr

[2020-02-24 14:11] xxxbxxx commented on #2181
hi,

not directly related, but to track the issue bubbling up the stack:

On archlinux,  there was an upgrade to the recently released alsa.
which broke the playback with an error in the log:
`pulseaudio:` `UCM file does not specify 'PlaybackChannels' ...`

The fix was to compile a pulseaudio package from the git master.

[2020-02-24 15:43] singalsu commented on #2402
I'm not able to capture at 24 kHz via ALSA (Warning: rate is not accurate (requested = 24000Hz, got = 22050Hz)). Do you know @lgirdwood if I can modify arecord or ALSA/ASoC kernel to achieve that?

[2020-02-24 15:57] singalsu commented on #2402
I'm using this topology (modified sof-apl-asrc-pcm512x.m4 - changed asrc-volume-capture to asrc-capture):

![tplg-22501](https://user-images.githubusercontent.com/28754793/75167780-9352a300-572e-11ea-920f-6490f1707e49.png)

I'm not able to repeat the stall issue by capturing alternatively 16 -> 32/48 kHz. I can't do 24 kHz due to apparent ALSA limitation.

I'll still tweak the DMIC16k configration

[2020-02-24 16:04] Liviali155 commented on #2400
Error not seen with 20200224  on tgl hda
Platform: TGL-U RVP with onboard codec ALC711 in HDA mode
Firmware: 1d273c3a https://github.com/thesofproject/sof/commits/master
Kernel: 1d2ad939 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/ sof-hda-generic-4ch.tplg same as firmware

[2020-02-24 16:19] singalsu commented on #2402
With 8 kHz DMIC DAI and 1st capture attempt 8 -> 8 kHz I got this warn (comp_update_buffer_produce(), no bytes to produce, source->comp.id = 18, source->comp.type = 2, sink->comp.id = 15, sink->comp.type = 19) into trace. Component 18 is DMIC1.IN and component 15 is ASRC3.0. However the captured wav clip was still OK.

[code]

[2020-02-24 16:31] singalsu commented on #2402
Still no stalls. I can get with 8 kHz DAI the above warning in about 10% of cases. The used conversion 8 -> X kHz does not seem to impact. The file length does not vary per same capture rate.

@jdrzaszcz I'm not able to access the repo for the script that was used. What kind of capture duration and repeat pattern does it use? I wonder I should do a lot of very short captures or alternatively let i

[2020-02-24 18:06] danielcherubini commented on #2264
@pfps  how are you updating bios? windows dualboot?

[2020-02-24 18:16] pfps commented on #2264
@danielcherubini I have two SSDs, one with windows and one with linux.  To update the bios I just swap them.  It does look, however, that Lenovo now has a way to update the BIOS from a USB stick, but I haven't used that method.  I just ran across some working that looked like this was possible when I grabbed the last BIOS update.

[2020-02-24 18:25] danielcherubini opened #2429 "[BUG] [1.4.2] Profile not loading in Pulseaudio"
**Describe the bug**
There's two bugs here I think,
1. Pulseaudio won't load the profile `HiFi: Play HiFi quality Music (priority 8000, available: no)` I need to manually enable it and then Audio works fine
2. Restarting, or shutting down will result in a kernel panic, rolling back to 1.4.1 will resolve this issue.

This happens on Arch 5.4, 5.5, and 5.6 on a Lenovo C940

**To Reproduce**
It happe

[2020-02-24 18:46] danielcherubini commented on #2264
@pfps I'm looking now and i don't see the USB method you're talking about.. can you enlighten?

[2020-02-24 18:52] pfps commented on #2264
@danielcherubini In https://support.lenovo.com/us/en/downloads/ds541233 "UEFI shell environment" second looks like it is providing a way to update the BIOS without using Windows.

[2020-02-24 19:24] danielcherubini commented on #2264
@pfps last message .. sorry to derail... i only see the .exe and a .txt file.. i think the instructions at the bottom might be generated somewhere

[2020-02-24 23:15] bkokoszx commented on #2400
@Liviali155 @aiChaoSONG
Could you check whether issue can be reproduce with PR #2430 ?

[2020-02-25 01:17] aiChaoSONG commented on #2400
@bkokoszx issue fixed by #2430

[2020-02-25 03:19] sathyap-chrome commented on #2426
@singalsu Thanks for the feedback Seppo. We are working with codec and hw team to identify a solution. I will share more details as they are more clear.

Idea is to see if we can find a sw wa as CML is almost ready for shipping. Note that the issue was first seen with 44.1 , but later is reproduced with 48k too (but a little hard to)

@juimonen Can you share some sample topology / snippet on how t

[2020-02-25 03:33] Liviali155 commented on #2400
Error not seen with latest [sof/dev(8bf1a297)](https://github.com/thesofproject/linux/commit/8bf1a297a8b3deda946ee2f9aebab1843e03f155) and [master(8b595069)](https://github.com/thesofproject/sof/commit/8b595069dc23990b09b6cbe686f8f870234aba39) on
CML laptop with onboard codec ALC3204 in HDA mode
TGL-U RVP with onboard codec ALC711 in HDA mode

Not need  #2430

[2020-02-25 06:25] ShriramShastry commented on #2426
@juimonen
 1. _your original signal levels are quite low compared to peaks... so what happens if you have very high levels in the original signals?_
[Sriram] , Yes - as per slide number 7 (page-7) signal levels is low because it has only silence  and Channel-2 has impulse noise.  From subplot 3, we can see that Impulse noise is filtered out with silence left on the line. You can play "pOrigL_R.wav

[2020-02-25 06:58] jdrzaszcz commented on #2402
@singalsu I'm useing 3 seconds sine wave.

[2020-02-25 07:23] aiChaoSONG commented on #2224
Codecs seems fine, reopen

[2020-02-25 07:32] jdrzaszcz commented on #2402
@lgirdwood Unfortunately there is no error in the log. I only have TimeoutError: Capture stream not running for 1 seconds in the test, and I have zeros recorded in the capture file.

[2020-02-25 08:24] singalsu commented on #2402
@jdrzaszcz In your setup is the capture SSP a slave for an external clock? I don't have here a slave capture interface to test with. I've only tested with slave SSP for playaback (SPDIF out). If it was master, DMIC should be pretty similar as SSP. Though DMIC has a deeper FIFO and maybe that warning that I saw was due to the FIFO not reaching watermark fast enough with low capture rates.

@lgirdwo

[2020-02-25 08:27] jdrzaszcz commented on #2402
@singalsu  In my setup I have loopback on one SSP.

[2020-02-25 08:33] singalsu commented on #2402
@jdrzaszcz Since I'm not able to replicate could you do a favor and get the firmware trace output for failing test with a modified asrc.c. Please change in line  839 the comp_dbg() to comp_info(), similarly line 785 comp_cl_dbg() to comp_info(). It would show how many frames the ASRC can copy every period and how the DAI skew tracking is doing. (Or is there nowadays a way to enable verbose trace o

[2020-02-25 08:34] singalsu commented on #2402
Is the SSP clocked internally by SoC or by external non-synchronized clock?

[2020-02-25 08:40] jdrzaszcz commented on #2402
SSP is clocked internally by SoC.

[2020-02-25 08:40] slawblauciak commented on #2224
Is this reproducible on the high DSP clock?

[2020-02-25 08:51] singalsu commented on #2426
@ShriramShastry Thanks for explanation and shared code!

We could try a brick-wall low-pass FIR as first test. I can prepare for you a topology to test with. Which SOF base topology are you using and which capture PCM is impacted by this issue?

What are the min/max capture sample rates you are using and what is your required audio bandwidth for the application? The FIR won't remove as much impuls

[2020-02-25 09:02] sathyap-chrome commented on #2426
@singalsu the topology is [sof-cml-rt5682.m4](https://github.com/thesofproject/sof/blob/master/tools/topology/sof-cml-rt5682-kwd.m4) and
the PCM is PCM0

[2020-02-25 10:22] jdrzaszcz commented on #2402
@singalsu I made the changes, test result in attachment.
[2020_02_25_11_11_19.zip](https://github.com/thesofproject/sof/files/4249421/2020_02_25_11_11_19.zip)

[2020-02-25 10:45] emilchudzik commented on #2209
Double checked issue on two platforms ICL RVP.
There is no repro on commits: c35e1aa (24.02) and 8b59506 (25.02)

[2020-02-25 10:45] #2209 closed

[2020-02-25 11:08] singalsu commented on #2426
Here's a quick test with FIR and IIR filters. The filters have cut-off at 7 kHz (assume speech bandwidth @ 48 kHz) and about 40 dB attenuation. Original waveform and spectra:

![Screenshot from 2020-02-25 13-00-44](https://user-images.githubusercontent.com/28754793/75241497-d95f4380-57ce-11ea-851d-a01a85831090.png)

IIR filtered
![Screenshot from 2020-02-25 13-01-44](https://user-images.githubuser

[2020-02-25 11:32] singalsu commented on #2402
Strange, it looks like the third run when capturing 24k -> 24k lasted for 3s and still the wav file was empty. Maybe the output wasn't flushed. But there was no asrc_reset() and asrc_free() in the end and no reported output frames after last skew report.

I wonder if ASRC got stuck into a busy loop. I remember fixed such issue in push mode with a check and emergency bail out. Maybe that can happen

[2020-02-25 12:13] slawblauciak commented on #2404
Hmm, the FW log doesn't appear complete. I can see many pause/release operations being done from the dmesg, but only one in the FW trace. Is the trace you provided cut in any way? Does it always end up like that?

[2020-02-25 12:26] emilchudzik opened #2432 "[BUG][ICL] 80-90% stream stall on pipeline with ALH DAI on 8k audio formats"
**Describe the bug**
After creating topology with playback and capture pipelines containing ALH DAI component, then running simultaneous capture and playback on timer driven pipelines, pipelines stop copping data after trigger_start and stream stalls.
Bug occurs only with these audio formats:

- 8k 16/16 1ch
- 8k 24/32 1ch
- 8k 32/32 1ch

**Topology**
[code]

**To Reproduce**
Run slimdriver python

[2020-02-25 13:03] paulstelian97 commented on #2404
When doing sof-logger is the -l parameter offered? etrace has a tendency of being incomplete.

[2020-02-25 13:31] Liviali155 commented on #2404
I reproduced the issue again,this time I got the sof_errortrace,but seems I didn't catch the complete sof_trace used command "sudo sof-logger -l /etc/sof/sof-*.ldc -t -o sof_trace0225.log"

<details>
 <summary>sof_errortrace.log</summary>

[code]
</details>

[dmesg0225.log](https://github.com/thesofproject/sof/files/4250194/dmesg0225.log)
[sof_errortrace0225.log](https://github.com/thesofproject/s

[2020-02-25 13:45] juimonen commented on #2404
@Liviali155 can you also try to reproduce this with patch in: https://github.com/thesofproject/linux/pull/1689? I'm wondering if the codec gets into some strange state because we are switching it on/off like crazy...

[2020-02-25 15:23] singalsu commented on #2426
The enhanced sof-cml-rt5682 topology with FIR low-pass is now in [RFC] PR  #2434 . It should give similar result to simulation above. I don't have this device so I can't test.

[2020-02-25 15:47] plbossart commented on #2426
@sathyap-chrome I have never seen a product compensate for a broken hardware link with a filter. That makes no sense at all. Fix the hardware!

[2020-02-26 00:45] bardliao commented on #2224
@aiChaoSONG As I know, Realtek suspects that is a layout or HW design issue. They provided a solution to ODM and are waiting for new HW version to verify. @shumingfan Is there any update on the status of new HW version?

[2020-02-26 01:19] shumingfan commented on #2224
@bardliao
I think there is no new progress for now. Realtek HW's AE left a comment on Google issue tracker last week.
I post his commit here.
[From Realtek Albert Chen]
The issue phenomenon is completely different between ALC1011 and ALC5682.
ALC1011 request bclk output earlier than data is to prevent some sounds disappearing while start playback.
And currently issue is random noise happened durin

[2020-02-26 02:47] Liviali155 commented on #2404
Tried with thesofproject/linux#1689,log as attachment,seems still didn't catch the complete sof_trace
<details>
 <summary>sof_errortrace.log</summary>

[code]
</details>

[dmesg1689.log](https://github.com/thesofproject/sof/files/4253093/dmesg1689.log)
[sof_errortrace1689.log](https://github.com/thesofproject/sof/files/4253095/sof_errortrace1689.log)
[sof_trace1689.log](https://github.com/thesofpr

[2020-02-26 03:50] sinahuang opened #2445 "[TGL][BUG][SDW]" Unable to install hw params:" display when captured via arecord0,4(dmic)."
**Describe the bug**
" Unable to install hw params:" display when captured via arecord0,4(dmic).

**To Reproduce**
1. Boot up system..
2.  Arecord -Dhw:0,4 -r16000 -c4 -fs16_le 00.wav -vv -i

**Reproduced rate**
100%

**Expected result**
Arecord should work successfully.

**Actual result**
Dmesg shows "error: ipc error for 0x60010000 size 20" and arecord cannot work.

[code]

[code]
**Test recipe*

[2020-02-26 03:53] sathyap-chrome commented on #2426
@plbossart completely agree. we have been pushing for Hw fix only. this was a thought if for some reason, hw fix is not feasible ( currently few CML platforms are approaching production)

[2020-02-26 06:17] jdrzaszcz commented on #2213
Can't reproduse on master branch 1d273c3a9f155624144199e36a14ffafeec345ca commit.

[2020-02-26 06:17] #2213 closed

[2020-02-26 06:25] bardliao commented on #2224
Let's close it for now since Realtek is working with Google. We can reopen it if Realtek needs our help.

[2020-02-26 06:25] #2224 closed

[2020-02-26 06:30] aiChaoSONG opened #2435 "[BUG][CML][WOV] hw params ipc error when run arecord via wov pipeline"
**Describe the bug**
if we run arecord on wov pipeline immediately after the first run(first run ended by CTRL+C or -d parameter), it is very easy to get "unable to install hw params". but if we wait for some time and then initiate the second run, everything's fine. once this error happens, wait for sometime(10s), we can still run arecord and trigger recording normally.

**To Reproduce**
- reboot

[2020-02-26 06:33] jdrzaszcz commented on #2180
Issue doesn't occur after setting proper schedule_component_id to all capture pipelines.

[2020-02-26 06:33] #2180 closed

[2020-02-26 06:48] juimonen commented on #2404
@Liviali155 ok thanks, at least the error trace seems to be consistent so xrun (no data), recover fail, and pipeline stop.

[2020-02-26 07:10] keyonjie commented on #2435
This could be the regression by merging PR#2228? @mrajwa @bkokoszx just got chance to review the PR source, the removing of the line "return PPL_STATUS_PATH_STOP;" making me nervous.

[2020-02-26 07:52] bkokoszx commented on #2400
I've made reopen. As I understand correctly, #2430 is required for SSP, not for HDA.

[2020-02-26 08:01] aiChaoSONG commented on #2400
@bkokoszx #2430 surely fix this issue. The HDA platform mentioned above is not the same root cause as this one. and even without #2430, the issue on HDA platform cannot reproduced with the latest sof.
Let's keep this open for a while, and close this after #2430 merged.

[2020-02-26 08:57] tlauda commented on #2320
@lgirdwood @jdrzaszcz Issue happens also without volume with simple host - dai pipeline. It's rather related to SDW configuration on host side and has nothing to do with FW. Someone with better knowledge on SDW should look into configuration done by test framework.

[2020-02-26 10:21] lgirdwood commented on #2320
@plbossart @ranj063 any comments here ?

[2020-02-26 10:33] emilchudzik commented on #2432
After change dma transfer treshold from 15 to 21, there is no repro.
All audio formats passed in 500 tests.

[2020-02-26 10:33] #2432 closed

[2020-02-26 10:35] lgirdwood commented on #2181
Thanks @xxxbxxx , there are some updates from UCM and Pulseaudio from @juimonen that are being or have been upstreamed and some kernel patches too. I guess this will all stabilise as the distros update.

[2020-02-26 10:48] ClarexZhou opened #2438 "[BUG]DMIC/ Headset will capture empty sound after turn down volume to zero then turn it up."
**Describe the bug**
System boot up or wake up from s3, then do arecord via DMIC / Headset. Turn down the capture volume  to zero then turn it up, DMIC/Headset will capture empty sound.

**To Reproduce**
1. Boot up system
2. Terminal 1: 'arecord -Dhw:0,4 -f dat 1.wav -vv -i'
3. Terminal 2: 'alsamixer', then turn down the PGA5.0 5 volume till zero then turn it up.

**Reproduced rate**
4/5

**Expect

[2020-02-26 10:53] ClarexZhou commented on #2438
Error not seen when using tplg without PR #2431, and same cml-010-drop-stable commit: 5e5f69e FW.
Error not seen when using tplg with PR #2431 , but using Master branch FW, commit a6726cf2.

[2020-02-26 11:08] libinyang commented on #2438
The PR add 2 "switch" controls in the tplg, one is for headset MIC, the other is for DMIC. User can use the "switch" controls to mute the capture pipeline (the volume pipeline with 'switch' support). The driver need the switch control because the driver need the 'switch' controls to support MIC LED.

[2020-02-26 11:17] lgirdwood commented on #2435
@aiChaoSONG teh pipeline and IPC code run far faster than 10s, can you try this again with smaller delays and let us know when the problem starts. This way will help us identify if its more FW or driver related.

[2020-02-26 12:04] bkokoszx commented on #2435
@keyonjie @aiChaoSONG
I've checked firmware before PR #2228 on commit: https://github.com/thesofproject/sof/tree/b206b7a8d63c5c940c3c2ad17d3f4030e3705810

I still have reproduction.

[2020-02-26 12:49] bkokoszx commented on #2435
@keyonjie @aiChaoSONG
I think the issue is caused by to small host buffer size. I cannot reproduce issue when I force biggest buffer size:
```arecord -Dhw:0,8 -M -N -r16000 -c2 -fs16_le -i -vvv -d 5 --buffer-size 67200 ./wov.wav```
Can you check?

[2020-02-26 13:02] juimonen commented on #2438
so we have couple of patches in master that will probably affect this:

related PR's
https://github.com/thesofproject/sof/pull/2196
62dbfcff5cd20f0de688d817c8a070ad94e4c3c5

https://github.com/thesofproject/sof/pull/2109
e525c177b5dda8fc4c19b422026fa5f90d913522
901a963a678cbb1b3eb6e53ab29d80f82cd488d2
dcf722f826a405e4ae87b0d3ad87df1f5f0eeeb5
9d4ca10639a637905bdf76a0cb3677bcaf775f71

so we should t

[2020-02-26 13:19] juimonen commented on #2438
https://github.com/thesofproject/sof/pull/2441
@ClarexZhou can you try if above PR helps?

[2020-02-26 13:50] lgirdwood commented on #2435
@bkokoszx good find, perhaps we need to enforce the minimum host buffer size via topology (otherwise we can block on userspace freeing up buffer space as it reads)

[2020-02-26 15:36] plbossart commented on #2320
Can you clarify what 'internal loopback' refers to? Is this a loopback inside the Cadence IP (or ALH), or do you push data on the bus with a data port and capture it with another?

I would also recommend that you use test modes such as Logic1 and PRBS to look at data integrity issues. That's precisely for this sort of integration that we added them in the standard :-)

[2020-02-26 15:46] singalsu commented on #2402
@jdrzaszcz Can you please retest with PR #2443 . I was able to replicate the quality issue here in testbench run. But since I wasn't able to replicate the stall in testbench nor in my UP2 setup I'm not sure this helps with stall. But I think the copy() frame counts control could have requested a conflicting amount to input and output in pull mode. The PR also gives more flex for push mode where al

[2020-02-26 22:21] lgirdwood commented on #2438
@ClarexZhou does this bug occur in master ?

[2020-02-26 22:21] lgirdwood commented on #2438
@singalsu any comments ?

[2020-02-27 02:06] aiChaoSONG commented on #2435
@keyonjie @lgirdwood @bkokoszx Sorry for the misleading, we do need to specify a larger buffer-size. with a larger buffer-size, issue not reproduced.

[2020-02-27 02:06] #2435 closed

[2020-02-27 02:25] ClarexZhou commented on #2438
Error not occurred in master

[2020-02-27 02:38] ClarexZhou commented on #2438
Can't apply this patch on cml-010-drop-stable directly for merge failed.

[2020-02-27 03:11] ClarexZhou commented on #2438
Error also can be reproduced via rt711 headset capture.

[2020-02-27 06:22] juimonen commented on #2438
@ClarexZhou can you just try the PR 2441 itself? it is on top of 010-drop-stable already...

[2020-02-27 06:27] libinyang commented on #2438
agree with Jaska, especially for 62dbfcf. The description is very similar with our issue.

[2020-02-27 06:42] jdrzaszcz commented on #2402
@singalsu Since PR #2443 has been merged i tested ASRC on capture pipline with master branch: 109450e6fdaa9308732e0358dc10680e673f7d58 commit. Unfortunately there is still stream stall on capture pipeline.

[2020-02-27 06:48] ClarexZhou commented on #2438
Error not seen with PR #2441  on  cml-010-drop-stable

[2020-02-27 08:40] jdrzaszcz commented on #2320
This is test with ALH loopback.

[2020-02-27 10:40] lgirdwood commented on #2445
@sinahuang @ClarexZhou I cant see any issue in the FW log. Can you run again and extra the FW trace for the failed operation. I would expect to see an error message in trace. Also please attache error trace log.

[2020-02-27 10:49] singalsu commented on #2452
@xiulipan Thanks for doing the raw format check! It looks like format converter issue indeed.

@Liviali155 Is the issue similar with gcc and xt-xcc built firmware? The format converter uses a different optimized code version when built with xt-xcc.

[2020-02-27 10:58] singalsu commented on #2402
@jdrzaszcz Thanks for testing! I'll continue trying to replicate the issue by forcing more drift etc in real device and testbench.

Did you run the THD+N test, were the low performing capture conversions improved? If there was no improvement then the tests there did not trigger the issues those I found yesterday in testbench. The corruption was so bad that there was every now and then (about every

[2020-02-27 11:04] jdrzaszcz opened #2453 "[BUG][WHL][APL] - stream stall on test with multi probe extraction."
**Describe the bug**
Creating topology with playback and capture pipelines containing 2 volume component for each pipeline and connecting probe points for extracting data from 6 buffers.
Then running simultaneous capture and playback on timer driven pipelines, pipelines stop copping data after trigger_start on playback pipleline and stream stalls.

Bug occurs only with these audio formats:

- 24k

[2020-02-27 11:12] sinahuang commented on #2445
FW bisect result：
Regression caused by kernel commit：https://github.com/thesofproject/sof/commit/de73e60a8c627debeb93f040d7aa3d1cfc2b04aa
@bkokoszx please check it.

[2020-02-27 11:46] wwittbrx commented on #2452
I have taken the fs24_le.zip from the original post and converted the file with the tool we use in slim driver tests. The result looks ok to me, the volume is ok and I don't hear more noise than in fs16 or fs32. I have attached the original and converted file. So to me this is not an issue and should be closed.

[fs24_le.zip](https://github.com/thesofproject/sof/files/4261395/fs24_le.zip)

[2020-02-27 12:03] lgirdwood commented on #2445
@bkokoszx fyi - bisected to https://github.com/thesofproject/sof/commit/de73e60a8c627debeb93f040d7aa3d1cfc2b04aa

[2020-02-27 12:18] singalsu commented on #2402
The DAI skew factor looks very normal in your test runs for 8->24, 16->24, and 24->24 kHz. After filtering it deviates very little from 1.0 for every copy(). So the problem is not skew related. The plot is extract from DMA trace.

![Screenshot from 2020-02-27 14-13-31](https://user-images.githubusercontent.com/28754793/75444349-f1b89500-596b-11ea-96c1-64683f065be9.png)

[2020-02-27 12:55] singalsu commented on #2452
I tried raw conversion with sox and gave correct looking result too. The output can be could be wav as well. Flac might be more robust format.

`sox --rate 48000 --bits 32 --channels 2 --encoding signed-integer fs24.raw fs24.flac vol 256`

Also confirm that the captured S24 raw was OK.

[2020-02-27 13:24] singalsu commented on #2452
For @xiulipan 's recording:

`sox --rate 48000 --bits 32 --channels 4 --encoding signed-integer s24_le.raw s24_le.flac vol 256`

Though in about 0.45s - 0.75s time there's some "noise". Maybe it's unrelated?

[2020-02-27 13:32] kv2019i commented on #2452
@singalsu wrote:

Or competing solution:
apt-get install ecasound
ecasound -f:s32_le,2,48000 -i fs24.raw -f:s16_le,2,48000 -o fs24-out.wav -ea:25600 -ev

You'll also get some simple amplitude statistics printed out when conversion is ready.

This uses same trick as Seppo with sox. Very few apps support ALSA's S24_LE directly. It's primarily intended to communicate with audio hardware, not for dire

[2020-02-27 13:38] singalsu commented on #2452
Nitpick, this doesn't lose precision:

`ecasound -f:s32_le,4,48000 -i s24_le.raw -f:s32_le,4,48000 -o fs24-out.wav -ea:25600 -ev -x`

(I typed and Kai instructed :^)

[2020-02-27 16:32] kv2019i commented on #2181
@MayurVirkar @lgirdwood As the original issue (firmware loading) is now solve, maybe time to close this. Ok?

@MayurVirkar I understand the 4-speaker problem remains, but as that happens with the legacy HDA driver as well, this seems like a codec driver/mixer-setting issue not related to SOF, so this is better handled via ALSA bugzilla and list (codec driver maintainers do not watch this github).

[2020-02-27 17:44] singalsu commented on #2402
@jdrzaszcz I found a potential end of data hazard from pull mode copy() functions. The function could get stuck if the end of input is reached too early. Could you please test if this patch would impact the freeze?

[asrc_patch.zip](https://github.com/thesofproject/sof/files/4263077/asrc_patch.zip)

[2020-02-27 19:57] lgirdwood commented on #2181
We can reopen if needed.

[2020-02-27 19:57] #2181 closed

[2020-02-27 20:06] plbossart opened #2459 "[BUG] Broadwell: channel inversion on SSP0 output"
**Describe the bug**
 Left and right channels are inverted on Broadwell Samus

**To Reproduce**
play on speakers or headset

**Reproduction Rate**
100%

**Expected behavior**
left on left, right on right

**Impact**
user experience

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: {SHA}3fb1efccd560e388ca2527dcdda

[2020-02-27 20:21] plbossart commented on #2459
update: this does not look like frame polarity issue, in DSP_A mode with a single bit pulse, the left channel is in the wrong location

![bdw-left-dsp-a-inverted](https://user-images.githubusercontent.com/1149035/75483358-4b20c400-596c-11ea-9702-80d18cbc9126.png)

This looks more like a bad DMA programming or a true data error

[2020-02-27 20:22] lgirdwood commented on #2402
[code]

[2020-02-27 20:44] lgirdwood commented on #2459
@plbossart I wonder if the DMA word size is 16 bits rather than 32 bit writes to the SSP FIFO.

[2020-02-27 21:07] plbossart commented on #2459
oh, so all samples would be off by 16 bits then, i.e. not a channel inversion but a delay pushing the right sample into the next frame?

[2020-02-28 01:55] ClarexZhou commented on #2438
Error is fixed on cml-010-hot-fix branch. Close

[2020-02-28 01:55] #2438 closed

[2020-02-28 01:58] aiChaoSONG commented on #2400
close for #2430 merged.

[2020-02-28 01:58] #2400 closed

[2020-02-28 03:42] Liviali155 commented on #2452
I used format_converter.exe to convert fs24_le.wav,then used  Audacity to check,the wave is normal,closed it
<img width="938" alt="fs24" src="https://user-images.githubusercontent.com/56707932/75508502-5aad1500-5a1f-11ea-9471-9a57879f56b3.PNG">

[2020-02-28 03:42] #2452 closed

[2020-02-28 04:32] xiulipan commented on #2452
@singalsu @wwittbrx @kv2019i Thanks for checking the issue, it seems the issus is caused by the s24_3le support is rare in real world.

[2020-02-28 05:35] sinahuang opened #2465 "[BUG][TGL]"loading /lib/firmware/intel/sof/sof-tgl.ri failed with error -22" display when system boot up successfully."
**Describe the bug**
Can't load "sof-tgl.ri "files normally after system boot up successfully. Aplay -l display “nosoundcard”.

**To Reproduce**
1.Run "./inst.sh 20200228-tgl"
2.Run "ll /lib/firmware/intel/sof*" to check the FW install normally.
3.Run "aplay -l"

**Reproduction Rate**
5/5

**Expected behavior**
System should work normally.

[code]
**Environment**
Kernel:https://github.com/thesofpr

[2020-02-28 05:41] sinahuang commented on #2465
FW bisect result：
Regression caused by FW commit：https://github.com/thesofproject/sof/commit/109450e6fdaa9308732e0358dc10680e673f7d58
@singalsu please help to check it.

[2020-02-28 06:38] juimonen commented on #2465
@sinahuang the commit you pointed out above is changes to testbench script? I don't see how it could affect boot or anything?

[2020-02-28 07:07] jdrzaszcz commented on #2402
@singalsu Hi, i checked it with your path and there is still a stream stall. The reproduction rate is even higher than without it. Example logs in attachment.
[2020_02_28_07_49_21.zip](https://github.com/thesofproject/sof/files/4265640/2020_02_28_07_49_21.zip)
[2020_02_28_07_51_20.zip](https://github.com/thesofproject/sof/files/4265641/2020_02_28_07_51_20.zip)

[2020-02-28 08:21] sinahuang commented on #2465
Closed it, for my wrong operation.

[2020-02-28 08:21] #2465 closed

[2020-02-28 08:37] singalsu commented on #2402
Thanks for testing, I really appreciate your help!

Strange, here that exit condition triggers only in the end of playback. My capture loop script captures 100 times 8->8/16/32 kHz and not a single stall ever. Though I'm capturing from DMIC and not from SSP.

Can you revert the patch and go to git master and error traces to pull16() to see where it gets stuck. I can't think of anything else now. E

[2020-02-28 08:40] singalsu commented on #2465
Thanks, that would have been a weird one!

[2020-02-28 09:26] jdrzaszcz commented on #2402
I Reverted the changes and apply new patch.
Logs in attachment.
[2020_02_28_10_11_17.zip](https://github.com/thesofproject/sof/files/4266245/2020_02_28_10_11_17.zip)
[2020_02_28_10_11_31.zip](https://github.com/thesofproject/sof/files/4266246/2020_02_28_10_11_31.zip)

[2020-02-28 09:40] singalsu commented on #2402
@jdrzaszcz I'm sorry, there's no new traces. It seems like the test was run for 32 bit capture while I patched the 16 bit data function. Here's added traces to pull32() to get the traces.

[asrc_pull16_pull32_debug.zip](https://github.com/thesofproject/sof/files/4266347/asrc_pull16_pull32_debug.zip)

[2020-02-28 10:35] jdrzaszcz commented on #2402
@singalsu Oh, sorry i didn't notice, that it was connected with bit rate.

I rerun the tests with ASRC on capture and in some cases I didn't got any logs.
I attached logs of all test cases.
[ASRC_capture.zip](https://github.com/thesofproject/sof/files/4266579/ASRC_capture.zip)

[2020-02-28 11:32] singalsu commented on #2402
There's three cases with FAIL and these pX traces present:

- 19_01_TestAsrcCapture16000Hz16b16b2ch

- 19_01_TestAsrcCapture24000Hz16b16b2ch

- 19_01_TestAsrcCapture48000Hz32b32b2ch

Two first of them have "p3" as last entry, no exit "p4". One has "p0" as last entry. Is it so that the test system does not capture the mailbox error trace? I've found with Linux driver that the DMA trace to not flush

[2020-02-28 11:56] jdrzaszcz commented on #2402
On slim driver we are using the same tool as on Linux driver.

[2020-02-28 12:20] singalsu commented on #2402
OK, yes it looks like dma_trace_1_sink.log wraps on longer cases so it must be the etrace.

After "p3" there's straightforward deterministic loop code with intrinsics optimizations. I can't spot anything hazardous there. What if there would be 64 bit read/write align fault trap or panic in FW, would it show up in the log files with slim driver?

[2020-02-28 13:34] lgirdwood commented on #2459
DMA looks ok, but I do see lots of comments in ssp.c for frame polarity and "logic for inverted_frame" flag.

[2020-02-28 13:38] jdrzaszcz commented on #2402
As far as I know when we have panic, all data is dumped from the memory window and save to file.

[2020-02-28 13:40] paulstelian97 commented on #2402
@jdrzaszcz I have seen that code but that doesn't work for hangs. This one is an instance of hanging so the automatic flush on panic isn't going to happen.

[2020-02-28 16:28] lgirdwood commented on #2402
@singalsu if your suspicious of the intrinsics you could replace with a small C version or partially comment out sections and see if we are still hanging.

[2020-02-28 16:32] plbossart commented on #2459
For DSP_A the frame polarity looks fine.

[2020-03-02 03:25] YvonneYang2 opened #2473 "[BUG][CML]Sound from aplay0,0(RT711) and aplay0,2(RT1308) auto speed up."
**Describe the bug**
Sound from Aplay0,0(RT715) or Aplay0,2(RT1308) auto speed up.  options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 and without option both can reproduce it.

**To Reproduce**
1. Boot up with pulse audio on.
2. Run command "aplay -Dhw:0,2 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"

**Reproduced rate**
100%

**Expected result**
Sound from Aplay0,0(RT715) o

[2020-03-02 03:32] YvonneYang2 opened #2474 "[BUG][CML]Pause/release at very fast rate will cause ipc error for 0x60060000 size 12, then DSP panic!"
**Describe the bug**
Pause/release at very fast rate on all pipline will cause ipc error for 0x60060000 size 12, then DSP panic! options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 and without option both can reproduce it.

**To Reproduce**
1. Boot up with pulse audio on.
2. Run command "play -Dhw:0,2 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"
3. Do pause/release at very fas

[2020-03-02 04:00] YvonneYang2 opened #2475 "[BUG][CML]Switch source in sound setting will cause DSP panic."
**Describe the bug**
Switch output source(mostly occurred in aplay0,0(RT715) and aplay0,2(RT1308)) in sound setting will cause DSP panic! options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 and without option both can reproduce it.

**To Reproduce**
1. Boot up with pulse audio on.
2. Run command "paplay test.wav -vvv"
3. Switch output source in sound setting.

**Reproduced rate**
80% If not

[2020-03-02 04:11] YvonneYang2 opened #2476 "[BUG][CML]Multipipline stress test will cause I/O error, if try it again, will cause DSP panic!"
**Describe the bug**
Multipipline test will cause I/O error, if try it again, will cause DSP panic! options snd-sof-intel-hda-common sdw_clock_stop_quirks=0x1 and without option both can reproduce it.

**To Reproduce**
1. Boot up with pulse audio on.
2. Run command "./multiplex_pipeline-test_update.sh pcm0p pcm2p pcm5p pcm1c pcm4c"
3. Check failed logs in folder named "logs"

**Reproduced rate**
1

[2020-03-02 09:31] singalsu commented on #2402
I'll test here if it's possible to run the generic C as xt-xcc build in realtime, if yes I'll make patch to test. Good idea!

[2020-03-02 10:57] singalsu commented on #2402
Unfortunately even 16 kHz capture is too slow with generic C on cAVS1.5 (APL). I suppose cAVS1.8 is not significantly faster.

Would you @jdrzaszcz be OK for another added traces test? Since some traces seem to be left out, I'd add even more and finer grained traces into pull mode functions to narrow the potentially freezing functions.

[2020-03-02 11:25] jdrzaszcz commented on #2402
@singalsu Ok, add more traces and then i will rerun the tests.

[2020-03-02 12:41] bkokoszx commented on #2445
@sinahuang @lgirdwood
With @emilchudzik we have tried to set up TGL platform (we have been using https://github.com/thesofproject/kconfig/blob/master/kconfig-sof-default.sh), but we have some error in kernel.
![kernel](https://user-images.githubusercontent.com/41052777/75676897-85e76c80-5c8a-11ea-92a1-0a62fd6b8ecf.PNG)
Do you have any suspicion what might be a root cause?

@sinahuang
Maybe could y

[2020-03-02 12:51] singalsu commented on #2402
@jdrzaszcz Thanks! Here's one more to try with more "pX" output to trace.
[more_asrc_debug.zip](https://github.com/thesofproject/sof/files/4275447/more_asrc_debug.zip)

[2020-03-02 12:52] Liviali155 opened #2467 "[BUG][TGL]"ipc error for 0x60060000" when do pause/resume test with multipipeline"
Describe the bug
"ipc error for 0x60060000" when do pause/release test with  multipipeline(random)
After error occured aplay/arecord again,it can work normal

To Reproduce
1.sudo reboot
2.plugin HDMI&DP
3.open 6 terminal to run below commands Separately
[code]
4.do pause/release Separately

Reproduction Rate
Tested 3times,reproduced 1time

Expected behavior
There is no I/O error when do pause/rele

[2020-03-02 14:15] lkraav opened #2469 "I: [pulseaudio-13.99.1] alsa-util.c: Error opening PCM device hw:sofhdadsp,6: No such file or directory"
Machine: Dell 7390 Ice Lake
Kernel: 5.5.7-gentoo+
Alsa-info: http://alsa-project.org/db/?f=e46cd6d581178ee8251c0d54b458cde23441ad11
Pulseaudio: 13.99.1
SOF-firmware: 1.4.2

Something is preventing Pulseaudio from completing profile initialization. Only error I'm seeing is in issue title. Full pulseaudio debug log below for reference. Any thoughts on what to try next?

[code]

[2020-03-03 02:21] dengyangchao opened #2472 "[BUG]Multi media playback+analog pause and stop cause ipc error for 0x60070000 size 12"
**Describe the bug**
Multi media playback+analog pause and stop cause ipc error for 0x60070000 size 12.
When issue occur, sof can still work.
[code]

**To Reproduce**
1. Reboot system via "sudo reboot"
2. Open terminal 1 to aplay HW:0,0 "aplay -Dhw:0,0 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"
2. Open terminal 2 to aplay HW:0,1 "aplay -Dhw:0,1 -r48000 -c2 -fs16_le wav/48California

[2020-03-03 02:22] dengyangchao commented on #2472
APL UP2 NOCODEC
APL UP2 PCM512X
BYT MB NOCODEC
these 3 platform can also reproduce the issue

[2020-03-03 05:16] sinahuang commented on #2445
Issue also can be reproduced on TGL-Y with codec ALC711 and  RT1308 in SDW mode.

Attached the kernel binary :http://sof-ci-storage.sh.intel.com/daily/20200303/linux-65f9d39d-1/linux-image-5.6.0-rc3-daily-default-20200303_5.6.0-rc3-topic-sof-dev-65f9d39d-1_amd64.deb

[2020-03-03 06:39] jdrzaszcz commented on #2402
@ Hi, I have run tests with ASRC on capture with your patch and I always have stream stall.
I attached logs of all test cases.

[ASRC_capture.zip](https://github.com/thesofproject/sof/files/4279623/ASRC_capture.zip)

[2020-03-03 06:39] MayurVirkar commented on #2181
Hi,
The issue is back.. No microphone ditected..
I am on kernel 5.6.0-rc4-1, everything works fine on kernel 5.5.*..

`
[    3.429070] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    3.430402] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[    3.430415] sof-audio-pci 0000:00:1f.3: enabling device (0000 -> 0002)
[

[2020-03-03 08:02] kv2019i commented on #2181
@MayurVirkar D'oh, sorry to hear that. Can you post full dmesg and if possible, also output of "alsa-info"? I'm asking this as the above log does not show any fatal errors:

This is harmless. There's a patch going to upstream that suppresses this trace print as it is misleading.

This means the firmware has loaded, so the at least this is not a new case of the original
problem you have.

... so th

[2020-03-03 08:47] emilchudzik commented on #2445
@plbossart We have enabled SDW and DMIC in BIOS.
Kernel binary:
http://sof-ci-storage.sh.intel.com/daily/20200302/linux-30887e1f-2/linux-image-5.6.0-rc3-daily-default-20200302_5.6.0-rc3-topic-sof-dev-30887e1f-2_amd64.deb

Full dmesg below:
[dmesg.txt](https://github.com/thesofproject/sof/files/4280148/dmesg.txt)

[2020-03-03 08:52] slawblauciak commented on #2445
Just to make sure, https://github.com/thesofproject/sof/pull/2430 has been merged recently, is this still reproducible?

[2020-03-03 08:53] tlauda commented on #2472
@dengyangchao Please verify whether #2477 fixes the issue.

[2020-03-03 09:11] singalsu commented on #2402
It's quite interesting that every case failed this time. At least now I have a lot of cases to study, thanks!

[2020-03-03 09:22] sinahuang commented on #2445
Yes，issue still can be reproduced on the latest FW.

[2020-03-03 09:26] tlauda commented on #2467
@Liviali155 Could you verify whether L1SEN is disabled?

[2020-03-03 09:41] YvonneYang2 commented on #2473
Error seen with Kernel: sof-dev + FW: cml-010-drop-stable (commit: 5e5f69e) + PR2431

[2020-03-03 09:41] YvonneYang2 commented on #2474
Error seen with Kernel: sof-dev + FW: cml-010-drop-stable (commit: 5e5f69e) + PR2431

[2020-03-03 09:41] YvonneYang2 commented on #2475
Error seen with Kernel: sof-dev + FW: cml-010-drop-stable (commit: 5e5f69e) + PR2431

[2020-03-03 09:41] YvonneYang2 commented on #2476
Error seen with Kernel: sof-dev + FW: cml-010-drop-stable (commit: 5e5f69e) + PR2431

[2020-03-03 09:57] singalsu commented on #2402
Only the directories 19_01_TestAsrcCapture8000Hz16b16b2ch, 24b32b2ch, and 32b32b2ch contained the traces.  Two of them exits normally with "p6" the copy() filter core while one has as last item "p5". That does not make sense since it must follow "p0" or "p6". So the trace cannot be complete.

It's not possible to study why all other tests failed this time. The trace outputs contain only the header

[2020-03-03 10:18] lgirdwood commented on #2181
@MayurVirkar probably best we create a new issue with full dmesg and alsa-info for the microphone.

[2020-03-03 11:54] emilchudzik commented on #2445
@plbossart could you explain us one question. Even if the platform support SDW or not, I have disabled support SDW in kernel config and disable SDW in BIOS. Why kernel still want to check SDW machine driver? It blocks further loading.
We'd like to disable SDW to omit issue with SDW machine driver and focus on DMIC and this bug.
Is it possible?

Kconfig that we tried today:
https://github.com/theso

[2020-03-03 13:07] wwittbrx commented on #2360
Issue not reproduced on master with notification fixes and improvements in test flow, closing.

[2020-03-03 13:07] #2360 closed

[2020-03-03 13:09] tlauda commented on #2348
@mengdonglin @ranj063 Can we still reproduce it with gcc?

[2020-03-03 13:41] lgirdwood opened #2478 "[FEATURE] Allow components/buffers to XRUN"
**Is your feature request related to a problem? Please describe.**
Currently if a component source buffer underruns or a component sink buffier overruns the pipeline  will enter an XRUN status and attempt recovery. This is desired in most pipelines but some topologies need to support use cases where we expect buffers to underrun or overrun.
[code]
In the example above we two host PCMs that can be

[2020-03-03 13:43] lgirdwood commented on #2478
Needed for https://github.com/thesofproject/sof/pull/2407 and https://github.com/thesofproject/sof/pull/2462

[2020-03-03 13:46] lgirdwood commented on #2478
@akloniex @sebcarlucci fyi.

[2020-03-03 13:48] Liviali155 commented on #2467
releated with https://github.com/thesofproject/sof/issues/2404

[2020-03-03 13:51] Liviali155 commented on #2467
How  to check it?

[2020-03-03 13:59] tlauda commented on #2467
@ranj063 @plbossart Is L1SEN also disabled on TGL platforms?

[2020-03-03 14:20] lgirdwood commented on #2348
@ranj063 maybe also worth running the same sequence through the fuzzer.

[2020-03-03 15:32] tlauda commented on #2265
@hsanjuan @lgirdwood @slawblauciak Can we close this bug? DAI config timeouts seem to be fixed now.

[2020-03-03 15:33] tlauda commented on #2279
@lgirdwood @dengyangchao @mmaka1 Anything new?

[2020-03-03 15:39] tlauda commented on #2404
@lgirdwood @Liviali155 Basically the same problem as with #2467. If L1SEN is disabled, then it looks like some kind of pause/release sequence problem with this HDA codec. In the FW log we can clearly see, that the new data hasn't arrived on HDA link after releasing the stream. I'm suggesting codec issue, since we haven't seen this kind of error on CI for a long long time (since the HDA DAI sequenc

[2020-03-03 15:41] tlauda commented on #2004
@singalsu Ping.

[2020-03-03 16:58] perexg opened #2480 "[FEATURE] Move logger (and debug tools?) to other repository"
Actually, the SOF repository is "all in one" now. While we have the sof-bin repository now, the debug tools which are supposed to be used by the end users for the problem analysis like sof-logger should be moved to a separate repository. The code should be compatible with all SOF firmware/driver releases.

[2020-03-03 17:10] plbossart commented on #2181
right, I've seen other reports that the dmic is not detected so we'd want to track this with a different issue. This no longer a firmware load issue

[2020-03-03 17:13] plbossart commented on #2467
Our default config is:

[code]

[2020-03-03 17:17] ranj063 commented on #2467
Yes, it is disabled for all of our HDA platforms but only when a capture stream is open.

[2020-03-03 17:17] plbossart commented on #2445
well then it's not the default...
if there is no SoundWire Kconfig we fall back to HDaudio.
You must do something wrong, sorry.

[2020-03-03 17:25] hsanjuan commented on #2265
Sorry, I did not manage to test yet, but I'll re-open if it still happens when I do.

[2020-03-03 17:25] #2265 closed

[2020-03-04 03:16] Liviali155 commented on #2467
Found a step which can reproduce this issue every time,step as below:
1.sudo reboot
2.plugin HDMI&DP
3.open 4 terminal to run below script Separately at the same time
[code]

 "./sof-test-pause-release.sh -t pcm0c"  will I/O error,script as attachment
[sof-test-pause-release.txt](https://github.com/thesofproject/sof/files/4284874/sof-test-pause-release.txt)

[2020-03-04 05:54] Liviali155 commented on #2386
Tested on jf-cfl-rvp-hda-1 also can reproduce this issue,step as below:
1.cd sof-test(sof-test as attachment)
2.cd test-case
3. export TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg
4. ./multiple-pipeline-capture.sh  -l 50

I/O error and dmesg show "error: ipc timed out for 0x60050000 size 12"

Platform: CFL-S   RVP with onboard codec  ALC700 in HDA mode

<details>
 <summary>dmesg_erro

[2020-03-04 07:22] dengyangchao commented on #2472
@tlauda
Tried on
APL UP2 NOCODEC
APL UP2 PCM512X
BYT MB NOCODEC
BYT MB RT5682
After applied #2477 , issue can't be reproduced.

[2020-03-04 08:13] singalsu commented on #2004
@tlauda It's not a codec issue since it depends pipeline and happens with media pipe that inputs other than 48 kHz content. Though this issue is old so I should re-test if this still happens.

[2020-03-04 08:25] #2472 closed

[2020-03-04 09:02] aiChaoSONG commented on #2279
@tlauda This issue is because we expose wov pipeline to pulseaudio in ucm. remove that pipeline from ucm,  no issue at all.

[2020-03-04 10:05] dengyangchao opened #2482 "[BUG][APL][PCM512X] Xrun detected when do mutil-playback stress test"
**Describe the bug**
Xrun detected when do mutil-playback stress test.

**To Reproduce**
1. Reboot system via "sudo reboot"
2. Cd /sof-test/test-case
3. Execute command "export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-pcm512x.tplg
4. Run stress test via command " ./multiple-pipeline-playback.sh -l 2000"

**Reproduction Rate**
1/519
Tried to run 2000 times and fail at 519th

**Expected behavior**

[2020-03-04 10:12] jajanusz commented on #2480
We had it like that previously but TBH I don't remember what was the issue - probably something with keeping headers shared by tools and FW aligned (ABI changes).

[2020-03-04 10:13] lgirdwood commented on #2404
+ @kv2019i @ranj063 @plbossart fyi - what are we doing here on the host side for HDA pause/release. My understanding is that the HDA link may power OFF (stream STOP only ?) after a timeout period to save power (i.e. codec then needs to be brought back up etc).

[2020-03-04 10:16] emilchudzik commented on #2445
You didn't read carefully our problem with SDW/HDA on TGL.
I ask you:
Why during loading linux, kernel still want to check SDW machine driver, even if I disable SDW support in the konfig. The same for HDA...

That's why I change default kconfig.
Because we want to debug DMIC issue ftom topic. -> without problems with SDW and HDA.
There is still problem:
![image](https://user-images.githubuserconte

[2020-03-04 10:19] jajanusz commented on #2480
Anyway splitting is always good and we should do this.
It could be problematic because of how tools and FW code was coupled, but with new build-system and some refactor it shouldn't be that big issue.
FW doesn't have hard dependency on these tools, the tools depend on some headers from FW and in case of f.e. testbench some runtime code - but it can be exported as .so lib that this tool can use.

[2020-03-04 10:20] perexg commented on #2480
As I wrote, those tools must support all ABI versions for the released (tagged) firmware files.

[2020-03-04 10:37] lgirdwood commented on #2279
Pulseaudio will probe each PCM device by attempting to open it multiple times with different configuration params. It then works out which PCM params are supported and which are not supported.
@aiChaoSONG does the FW crash immediately as soon as pulseaudio is started. Can you try and manually start pulseaudio (after host + FW boot) with debug enabled in the command line. If the IPC timeout happens

[2020-03-04 10:43] lgirdwood commented on #2482
@dengyangchao can you confirm the number of active streams that are being tested here. I can see four from the screenshot.

[2020-03-04 10:47] lgirdwood commented on #2445
@emilchudzik as a sanity check, can you delete your current SOF modules ```/lib/modules/version/kernel/sound/soc*``` and re-install. Sometimes old modules with previous kconfig options can persist in the modules dir and create issues. If this does not cure the issue can you raise this as a bug on the kernel, as it seems the Kconfig options from HDA/SDW are being ignored.

[2020-03-04 10:49] lgirdwood commented on #2480
@xiulipan fyi. This will need to be added into your release scripting.

[2020-03-04 10:51] ClarexZhou commented on #2445
This issue is only reproduced on TGL with codec ALC711 in SDW mode. DMIC capture works ok on TGL with codec ALC711 in HDA mode.

[2020-03-04 12:58] hsanjuan commented on #2265
With Linux 5.5.7 and topologies from master:

[code]

There is no IPC timeout. Sound works. And the speakers are no longer appearing as "unavailable" in pulseaudio.

[2020-03-04 15:51] plbossart commented on #2445
@emilchudzik I stand by my comment that if SoundWire is not enabled, you should not see any messages related to SoundWire.

Look at hda.c

[code]

If SoundWire was truly not supported in the kernel, you would land on the second fallback.

[2020-03-04 20:30] lgirdwood opened #2485 "[BUG] cml-010-drop-stable patches missing from master."
The following patches are missing from master and need to be merged.
```git log --pretty=format:"%h%x09%an%x09%s"  origin/master..origin/cml-010-drop-stable```

- [x] 5e5f69eb        Janusz Jankowski        interrupt: dynamic clock change for waiti
- [x] cc4c356d        Slawomir Blauciak       workaround: disable hifi3 pcm conversion

[2020-03-04 22:08] lgirdwood commented on #2478
@bkokoszx can you have a chat with @akloniex - also needed for echo ref

[2020-03-05 02:07] dengyangchao commented on #2482
@lgirdwood Yes, the script use four streams for mutil-playback test, HW:0,0 HW:0,1  HW:0,2 and HW:0,3

[2020-03-05 02:37] ClarexZhou commented on #2379
@xiulipan  will add an error trace message

[2020-03-05 03:29] YvonneYang2 commented on #2473
Error not seen with sof-dev switch from 0x3 to 0xf in https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/soundwire/intel.c#L111 + cml-010-hot-fix

[2020-03-05 03:29] YvonneYang2 commented on #2474
Error not seen with sof-dev switch from 0x3 to 0xf in https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/soundwire/intel.c#L111 + cml-010-hot-fix

[2020-03-05 03:29] YvonneYang2 commented on #2475
Error not seen with sof-dev switch from 0x3 to 0xf in https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/soundwire/intel.c#L111 + cml-010-hot-fix

[2020-03-05 03:30] YvonneYang2 commented on #2476
Error not seen with sof-dev switch from 0x3 to 0xf in https://github.com/thesofproject/linux/blob/topic/sof-dev/drivers/soundwire/intel.c#L111 + cml-010-hot-fix

[2020-03-05 03:40] ClarexZhou opened #2486 "[BUG][CML][UCM]Speaker/Headphone playback in alsamixer is still muted after selected as output source"
**Describe the bug**
Speaker/Headphone is still muted in alsamixer after selected as output source from system sound setting.

Note: The speaker playback mute/unmut status on alsamixer is different thing with pulseaudio speaker output mute/unmute via system sound setting.

**To Reproduce**
Step1: Headset is connected-> select Headset as output source
Step2: alsamixer, press M to mute Speaker playb

[2020-03-05 07:04] Liviali155 commented on #2404
On CFL-S RVP also can reproduce this issue
1.cd sof-test(as attachment)
2.cd test-case
3.export TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg
4.check-pause-resume.sh -c 100 -m capture

I/O error when pause/release arecord(0,0),dmesg show "ipc error for 0x60060000 size "
Platform: CFL-S RVP with onboard codec ALC700 in HDA mode

<details>
 <summary>dmesg_error.log</summary>

[code]
</d

[2020-03-05 07:31] aiChaoSONG commented on #2279
@lgirdwood  I reboot the device, and manually start pulseaudio after DSP suspended (with DMIC16k in UCM), attached file is the log from the time I press ENTER to start pulseaudio. Only hw params IPC error, and NO IPC timeout found.   tried 5 times, same result.

[dmesg.txt](https://github.com/thesofproject/sof/files/4291490/dmesg.txt)

Since this issue is reported, we have a lot of patch merged, m

[2020-03-05 07:53] xiulipan commented on #2379
@lgirdwood PR send https://github.com/thesofproject/sof/pull/2487
Log dump on one BYT with speaker test
[code]

[code]

The issue seems to be the  **max buffer size 2096640** too big. Can also reproduce by following aplay.

@singalsu @tlauda Is it OK for us to have such big `BUFFER_SIZE BUFFER_TIME BUFFER_BYTES` with SRC comp?
[code]

Normal volume pipeline hw params
[code]

[2020-03-05 10:32] emilchudzik commented on #2445
This is config part when I disable HDA and SDW:

[code]

This is what I found in linux repo:
![image](https://user-images.githubusercontent.com/41113230/75968976-896b3580-5ece-11ea-9015-e31d2003137a.png)

As you see there is mismatch in naming, because in config there is added **_LINK**,

BDW this condition is always entered in first fallback
#if IS_ENABLED(CONFIG_SND_SOC_SOF_INTEL_SOUNDWIRE)
even

[2020-03-05 10:54] lgirdwood commented on #2279
@aiChaoSONG are you confirming it works on master now if pulseaudio started automatically at boot ?

[2020-03-05 10:59] lgirdwood commented on #2379
@xiulipan we may need to factor this into the BYT topologies as max buffer size.  I dont think we have use case for deep buffering on BYT yet as we could work out the elems on the fly when needed (i.e. no pre-alloc and calc of elems).

[2020-03-05 13:10] plbossart commented on #2474
@bardliao @RanderWang @slawblauciak I wonder if the firmware has the change needed for the MAT change? I remember very clearly there was a firmware dependency that was required to use this 0x3

[2020-03-05 13:45] YvonneYang2 commented on #2474
Error not seen with sof-dev(0x3) commit: 24d9781 + cml-010-hotfix + https://github.com/thesofproject/sof/commit/f73332eafedf5443f01bf26027fde2578e847ced#

[2020-03-05 13:46] YvonneYang2 commented on #2473
Error not seen with sof-dev(0x3) commit: 24d9781 + cml-010-hotfix + f73332e

[2020-03-05 13:46] YvonneYang2 commented on #2475
Error not seen with sof-dev(0x3) commit: 24d9781 + cml-010-hotfix + f73332e

[2020-03-05 13:47] YvonneYang2 commented on #2476
Error not seen with sof-dev(0x3) commit: 24d9781 + cml-010-hotfix + f73332e

[2020-03-05 16:54] lgirdwood opened #2489 "[BUG] Component programming guide is not up to date with code."
**Describe the bug**
https://thesofproject.github.io/latest/developer_guides/firmware/components/index.html appears to be out of data with recent updates to the component programming flows.

**Impact**
Difficult for 3rd parties to integrate components.

**Fix**
The API documentation and diagrams should come more from the doxygen generated pages. i..e the static pages should link/insert doxygen gen

[2020-03-06 01:58] aiChaoSONG commented on #2279
@lgirdwood Yes, even pulseaudio start at boot, ipc timeout is gone,  and only three hw param ipc error in dmesg log.

[2020-03-06 05:17] mengdonglin commented on #2379
@singalsu Please help to remove SRC pipeline from BYT topology. Thanks

[2020-03-06 06:06] bardliao commented on #2474
@plbossart Yes, you are right. That's a mismatch issue. We can either set DMAT to 0xf on kernel topic/sof-dev or set DMAT to 0x3 on FW cml-010-hotfix.

[2020-03-06 06:54] dengyangchao opened #2491 "[BUG][APL][PCM512X]Ipc timed out for 0x60050000 size 12 when do capture test on HW:0,0"
**Describe the bug**
Ipc timed out for 0x60050000 size 12 when do capture test on HW:0,0
Use "crtl+z" and "fg" to change foreground and background also can reproduce the issue.
When issue occur, sof can't back to work, wait a few minates system will get freeze.

[code]
**To Reproduce**
1. Reboot via "sudo reboot"
2. Use command "cd /sof-test/test-case" to use sof-test  test scripts.
3. Execute "ex

[2020-03-06 06:54] sinahuang opened #2492 "[BUG][TGL]"ASoC: trigger FE cmd: 1 failed: -110" display after boot up system."
**Describe the bug**"
ASoC: trigger FE cmd: 1 failed: -110" display after boot up system, and then system can be freezed.

**To Reproduce**
1.Install FW and Kernel ;
2.Boot up system.

**Reproduction Rate**
5/5

**Expected behavior**
System boot up successfully and work normally.

**Impact**
"ASoC: trigger FE cmd: 1 failed: -110" display after boot up system and system can be freezed.

[code]

<de

[2020-03-06 07:14] Liviali155 opened #2494 "[BUG][GLK]"ipc timed out for 0x60040000 size 12" when run Check-playback: Stress - 100x"
**Describe the bug**
"ipc timed out for 0x60040000 size 12" when run Check-playback: Stress - 100x
After error occured,all the pipeline can not work,reboot can recovery

**To Reproduce**
1.cd sof-test(as attachment)
2.cd test-case
3. ./check-playback.sh -d 1 -l 100 -r 1

**Reproduction Rate**
3/3

**Expected behavior**
There is no I/O error when run playback stress

**Actual result**
I/O error,dme

[2020-03-06 07:20] dengyangchao opened #2493 "[BUG][APL][PCM512X]Ipc timed out for 0x60010000 size 108 when do muti-pipeline tress test"
**Describe the bug**
Ipc timed out for 0x60010000 size 108 when do muti-pipeline tress test.
When issue occur, sof can't back to work, wait a few minates system will get freeze.

**To Reproduce**
1. Reboot via "sudo reboot"
2. Use command "cd /sof-test/test-case" to use sof-test test scripts.
3. Execute "export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-pcm512x.tplg"
4. Mutil-pipeline test via comm

[2020-03-06 07:25] sinahuang commented on #2492
Bi-sect result:
Regression caused by FW commit: https://github.com/thesofproject/sof/commit/034c54a16a6536352dc85914517a49fd7ca8f0fd
@lbetlej   please check it.

[2020-03-06 07:35] dengyangchao commented on #2491
Caused by master c60bcd0 , @tlauda please help to check

[2020-03-06 08:16] dengyangchao commented on #2493
Caused by master c60bcd0 , @tlauda please help to check

[2020-03-06 08:29] Liviali155 commented on #2386
On TGL U HDA also can reproduce this issue
1.sudo reboot with HDMI&DP connected
2. ./multiplex_pipeline-test.sh pcm0p pcm3p pcm4p pcm0c pcm6c pcm7c

I/O error,dmesg show "ipc timed out for 0x60050000 size 12"
<details>
 <summary>dmesg_error.log</summary>

[code]
</details>

<details>
 <summary>sof_errortrace.log</summary>

[code]
</details>

Platform: TGL-U RVP with onboard codec ALC711 in HDA mod

[2020-03-06 08:53] MayurVirkar opened #2496 "[BUG] Microphone not detected"
**Describe the bug**
Unable to detect microphone input

**To Reproduce**
Upgrade to kernel 5.6

**Expected behavior**
Microphone to be detected..

**Impact**
Annoyance..

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: 5.6.0-rc4-1-mainline
    * SOF: 1.4.2-1

**Screenshots or console output**
**Dmesg**
[code]
**

[2020-03-06 08:54] MayurVirkar commented on #2181
Done :)
https://github.com/thesofproject/sof/issues/2496

[2020-03-06 10:12] Liviali155 commented on #2491
related with https://github.com/thesofproject/sof/issues/2493,caused by the same Firmware commit

[2020-03-06 10:27] lgirdwood commented on #2379
@mengdonglin @singalsu @xiulipan lets fix the max buffer size issue first in topology before removing SRC.

[2020-03-06 10:29] lgirdwood commented on #2279
ok great.

[2020-03-06 10:29] #2279 closed

[2020-03-06 10:32] tlauda commented on #2493
@dengyangchao What is the host vs dai format of the last started stream? I'm trying to find out which pcm conversion method is faulty.

[2020-03-06 10:38] lgirdwood commented on #2494
@Liviali155 I assume you mean you will bisect it ?

[2020-03-06 10:39] tlauda commented on #2467
@ClarexZhou @Liviali155 Could you check whether it reproduces with FW from this branch https://github.com/tlauda/sof/tree/topic/hda-link-xruns.

[2020-03-06 10:42] lgirdwood commented on #2386
@lbetlej it seem the Low Power clock canary is now singing :-)

[2020-03-06 10:57] Liviali155 commented on #2494
Caused by master c60bcd0 , @tlauda please help to check

[2020-03-06 10:58] Liviali155 commented on #2494
related with #2493 by the same Firmware commit

[2020-03-06 11:09] bkokoszx commented on #2445
@lgirdwood @sinahuang
Going back to the main thread, thanks for @ClarexZhou  for sharing remote TGL.

In topology file ```sof-tgl-rt711-i2s-rt1308.m4``` we have ```dmic16k``` configured in stereo mode:
[code]
, so is it all right that we want here to record 4 channels?
```arecord -Dhw:0,4 -r16000 -c4 -fs16_le 00.wav -vv -i```

If we want to record 2 channels we should make little change in topolog

[2020-03-06 11:20] lgirdwood commented on #2491
@singalsu fyi - the HiFi3 issue is back. Can we narrow this down to a particular conversion or does it apply to all types ?

[2020-03-06 11:21] lgirdwood commented on #2493
@singalsu fyi

[2020-03-06 11:21] lgirdwood commented on #2494
@singalsu fyi

[2020-03-06 11:22] tlauda commented on #2494
@Liviali155 What is the PCM conversion here? What is the format for host and what is for dai?

[2020-03-06 12:37] Liviali155 commented on #2494
Issue occured when aplay via HDMI(0,5) or (0,6)

[code]
<img width="364" alt="Capture" src="https://user-images.githubusercontent.com/56707932/76084179-43a38f80-5fea-11ea-8396-1a936053523e.PNG">

[2020-03-06 13:01] Liviali155 commented on #2494
Tried with https://github.com/thesofproject/sof/pull/2499 , issue can not  be reproduced

[2020-03-06 13:54] tlauda commented on #2493
@dengyangchao Please try with #2499.

[2020-03-06 13:55] tlauda commented on #2491
@dengyangchao Please try with #2499.

[2020-03-06 17:40] katsar0v opened #2502 "How do I install SOF under Ubuntu?"
This not a bug, but rather a feature request (maybe for docs). I have Dell Inspiron 7590 which has no microphone working when a fresh Ubuntu is installed (the 3.5mm jack does not work as well). ArchLinux -https://wiki.archlinux.org/index.php/Dell_Inspiron_15_(7590) says it works with the newest sof firmware, but how do I install it under Ubuntu?
I hope not every new Dell user has to clone this rep

[2020-03-06 20:58] lgirdwood commented on #2445
@bkokoszx this should be fixed in the multi DAI config (when its merged). I would keep it 4 chans on the DMIC, userspace alsa-plugins) can always convert to stereo if needed.

[2020-03-06 21:40] plbossart commented on #2445
No, it's by design.

All platforms capable of enabling SoundWire select  SND_SOC_SOF_INTEL_SOUNDWIRE_LINK_BASELINE

there in menuconfig  you have a user visible switch

config SND_SOC_SOF_INTEL_SOUNDWIRE_LINK
	bool "SOF support fo

and that switch controls whether or not the code enables soundwire.

config SND_SOC_SOF_INTEL_SOUNDWIRE_LINK_BASELINE
	tristate
	select SND_SOC_SOF_INTEL_SOUNDWIRE if S

[2020-03-08 21:00] bkokoszx commented on #2445
@sinahuang
Can you check whether PR#2506 fixes this issue?

[2020-03-09 03:54] sinahuang commented on #2445
Check this issue with PR#2506 on TGL-U RVP, issue can't be reproduced. PR#2506 seems can fix this issue.

[2020-03-09 06:50] dengyangchao opened #2507 "[BUG]Sof-logger ABI version is mismatch with .ldc file built by xcc"
**Describe the bug**
Error: abi version in /etc/sof/sof-apl.ldc file does not coincide with abi version used by logger.
logger ABI Version is 4:2:0
ldc_file ABI Version is 3:14:0

**To Reproduce**
1. Reboot via "sudo reboot"
2. Check with command "sudo sof-logger -l /etc/sof/sof-apl.ldc -t"

**Reproduction Rate**
100%

**Expected behavior**
Can see sof trace print normal

**Impact**
No sof trace b

[2020-03-09 06:53] dengyangchao commented on #2491
@tlauda Tried with #2499 , issue still can be reproduced.  Fail at 136th.
There is no sof trace because #2507

[dmesg.log](https://github.com/thesofproject/sof/files/4304933/dmesg.log)

[2020-03-09 06:58] tlauda commented on #2491
@dengyangchao What is the capture format and what is the dai format?

[2020-03-09 06:58] dengyangchao commented on #2493
@tlauda After applied #2499 issue still can be reproduced

[dmesg.txt](https://github.com/thesofproject/sof/files/4305040/dmesg.txt)

[2020-03-09 07:17] Liviali155 commented on #2507
on below platforms also has this paoblem
GLK Chrome with onboard codec DA7219 in I2S mode
CML laptop with onboard codec ALC3204 in HDA mode
ICL-U  RVP with onboard codec ALC700 in HDA mode
TGL-U RVP with onboard codec ALC711 in HDA mode
CFL-S RVP with onboard codec ALC700 in HDA mode

[2020-03-09 07:20] dengyangchao commented on #2491
@tlauda
Add info
[code]
and the platform is APL-UP2 with codec PCM512X in I2S mode

[2020-03-09 08:46] dengyangchao commented on #2507
Bi-sect result: caused by master 332e150 , @mmaka1 please help to check this

[2020-03-09 09:53] Liviali155 commented on #2386
On TGL U HDA also can reproduce this issue when paplay then suspend/resume
1.paplay  -vv wav/48California_Dreaming.wav
2.sudo rtcwake -m mem -s 10

 Internel error ,dmesg show "error: ipc timed out for 0x60050000 size 12"

<img width="329" alt="Capture" src="https://user-images.githubusercontent.com/56707932/76201510-58706500-622e-11ea-8175-a797846e1734.PNG">

<details>
 <summary>dmesg_error.log</

[2020-03-09 10:41] emilchudzik commented on #2492
We have still issue with proper setup TGL and SDW
- reworks SDW on ALC711  and I2S on 1308 - done
- BIOS settings:

- kernel: kernel: 24d9781/sof-dev
- FW: c35e1aa6/master or c60bcd0a/master
- acpi-scripts for TGL added: https://github.com/thesofproject/acpi-scripts/tree/master/TGL-RVP

there is still errors from SDW:
[code]

full dmesg after boot OS:
[dmesg.txt](https://github.com/thesofproject/s

[2020-03-09 11:51] mmaka1 commented on #2507
Rebuild and upgrade the logger when you see a version mismatch.

[2020-03-09 12:01] slawblauciak commented on #2494
@Liviali155 PR has been merged, are we good to close this?

[2020-03-09 12:30] slawblauciak commented on #2485
I don't think we want HIFI3 PCM conversion disabled by default on master.
@jajanusz I don't suppose the dynamic clock change is required either?

[2020-03-09 12:37] paulstelian97 commented on #2485
HIFI3 conversion may no longer need to be disabled as PR#2499 is now merged.

[2020-03-09 13:08] emilchudzik commented on #2492
Thanks @RanderWang for bring up SDW on my machine.

We have no repro on the newest FW top:
FW: 0996f794a/master
kernel: 24d9781/sof-dev
tplg: Same with FW branch, sof-tgl-rt711-i2s-rt1308.tplg
platform: TGL-U RVP with codec ALC711 in SDW mode and RT1308 in I2S mode

I check also with disabled option in make menuconfig during FW building:
`Patform -> [ ] Enable low power ring oscillator as the defa

[2020-03-09 20:45] lgirdwood commented on #2485
Updated, just the clock change now.

[2020-03-09 23:29] RDharageswari opened #2511 "[BUG] [TGL] WOV capture fails for the second time on TGL Chrome DUT"
**Describe the bug**
WOV capture fails for the second time.

**To Reproduce**
1)Start the WOV capture:
   arecord -Dhw:0,7 -M -N -c 2 -f S16_LE -r 16000 --buffer-size=64000 tmp.wav -vvv
2)Start tapping on the DMIC and the WOV capture starts.
3)Press Ctrl+C
4)Second time start the WOV capture.
localhost ~ #
 tmp.wav -vvv arecord -Dhw:0,7 -M -N -c 2 -f S16_LE -r 16000 --buffer-size=64000
Recording W

[2020-03-09 23:46] RDharageswari commented on #2511
[sof-tgl-max98357a-rt5682.m4.txt](https://github.com/thesofproject/sof/files/4309523/sof-tgl-max98357a-rt5682.m4.txt)

[2020-03-10 00:54] Liviali155 commented on #2467
Tried with https://github.com/tlauda/sof/tree/topic/hda-link-xruns.,error not seen

[2020-03-10 00:55] Liviali155 commented on #2467
Tried with https://github.com/tlauda/sof/tree/topic/hda-link-xruns.,error not seen

[2020-03-10 02:04] Liviali155 commented on #2386
Test with latest sof/dev+master on TGL U HDA and CML laptop with onboard codec ALC3204 in HDA mode ,error not seen when paplay then suspend/resume,error only seen when do multipipeline

Platform: TGL-U RVP with onboard codec ALC711 in HDA mode
Firmware: 0996f794 https://github.com/thesofproject/sof/commits/master
Kernel: ac3abc56 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topolog

[2020-03-10 02:34] Liviali155 commented on #2494
PR #2499 merged,closed

[2020-03-10 02:35] #2494 closed

[2020-03-10 02:54] xiulipan commented on #2507
@mmaka1 After debug into the issue, I found that if I use GCC compiler the ABI version will be 4.2 in ldc, but If I use XCC compiler, I will still get 3.14 in ldc file. Logs below

The ABI version for 0996f794a177 **XCC** FW is still `00 e0 00 03`
[code]

The ABI version for 0996f794a177 **GCC** FW is still `00 e0 00 03`
[code]

@lgirdwood @tlauda @jajanusz Any idea about this build result differe

[2020-03-10 08:12] mengdonglin commented on #2467
@tlauda Has the fix been merged by master branch?

[2020-03-10 08:33] tlauda commented on #2467
@mengdonglin Not yet.
@Liviali155 Error is not seen, but does the recording look correct? No glitches?

[2020-03-10 08:51] Liviali155 commented on #2467
I tested on https://github.com/tlauda/sof/tree/topic/hda-link-xruns. with below steps:
1.sudo reboot
2.plugin HDMI&DP
3.open 4 terminal to run below script Separately at the same time

 ./sof-test-pause-release.sh -t pcm0p
 ./sof-test-pause-release.sh -t pcm3p
 ./sof-test-pause-release.sh -t pcm4p
 ./sof-test-pause-release.sh -t pcm0c

error not seen ,other glitches means I need to test other func

[2020-03-10 08:53] tlauda commented on #2467
@Liviali155 I mean if the recorded file is OK? No quality problems or pops?

[2020-03-10 09:31] tlauda commented on #2467
@Liviali155 @mengdonglin Fix in PR #2512.

[2020-03-10 09:32] tlauda commented on #2482
@dengyangchao Please verify with #2512.

[2020-03-10 09:33] tlauda commented on #2404
@Liviali155 Please verify with #2512.

[2020-03-10 09:59] sinahuang commented on #2492
Issue still can be reproduced on my side with master (commit:  0996f794)+sof-dev  (commit:ac3abc5)

[2020-03-10 10:25] lgirdwood commented on #2507
@xiulipan interesting, are we getting confused between IPC ABI version and Debug ABI version
[code]

[2020-03-10 10:48] lbetlej commented on #2492
@sinahuang Could you check FW build with disabled option in make menuconfig during FW building:
Platform -> [ ] Enable low power ring oscillator as the default clock ? As @emilchudzik reported we have no repro.

[2020-03-10 11:14] lgirdwood opened #2515 "[FEATURE] Improve topology macro argument validation"
**Is your feature request related to a problem? Please describe.**
The topology pre-processor (i.e. M4) has no way to validate input data on macro arguments. This can successfully compile, but fail at runtime.

**Describe the solution you'd like**
Create a "make validate" rule as part of M4 pre-processing. This will invoke M4 using a different include $PATH whereby it's macro definitions do not cr

[2020-03-10 11:16] mmaka1 commented on #2507
@xiulipan Are you sure you did a clean build? I am using xcc all the time. This is from my system:
[code]
You should also see the current dbg abi version when running rimage as Liam mentioned:
[code]

[2020-03-10 11:25] sinahuang commented on #2492
Verified it with disabled option in make menuconfig during FW building, issue can't be reproduced.

[2020-03-10 11:46] tlauda commented on #2492
@sinahuang @lbetlej @emilchudzik Spurious DMIC overrun interrupt led to infinite IRQ handler triggering. With 30492d73f919bd925198dd234fb176f47900ee79 we are now clearing the bit. I think issue can be closed.

[2020-03-10 12:04] #2492 closed

[2020-03-10 12:58] Liviali155 commented on #2467
Tried with PR #2512
Error not seen and the recorded file is normal

[2020-03-10 13:00] Liviali155 commented on #2386
Tried with PR #2512
There is I/O error when multipipeline using more than 6 pipelines,but there is no error message in dmesg,and  all the pipeline can work well after error occured

Platform: CML laptop with onboard codec ALC3204 in HDA mode
Platform: TGL-U RVP with onboard codec ALC711 in HDA mode

[2020-03-10 13:05] Liviali155 commented on #2404
Tried with PR #2512 ,error not seen
Platform: CML laptop with onboard codec ALC3204 in HDA mode
               TGL-U RVP with onboard codec ALC711 in HDA mode

[2020-03-10 15:39] tlauda commented on #2280
@lgirdwood @lbetlej What is the expectation here? Pipelines are scheduled with low latency scheduler (timer) and not with EDF, so EDF resource management won't help here. I imagine that the first step would be to review what pipelines are run here and measure their cycles. We need to assess whether some of the components is not optimized. Assuming everything will look correct, I think the resource

[2020-03-10 15:44] dbaluta opened #2520 "Do not hardcode SAI/ESAI parameters"
@paulstelian97 I think we should not hardcode parameters but try to read them from sai->params.

We need something similar with ssp_get_hw_params.

_Originally posted by @dbaluta in https://github.com/thesofproject/sof/pull/2500_

[2020-03-10 15:45] dbaluta commented on #2520
@IulianOlaru249 @constantinraducanu you can have a look at this if you have some time.

[2020-03-10 17:43] ymdatta commented on #2520
@dbaluta: Yes, i will take a look at this. Can you assign this issue to me? Thanks.

[2020-03-10 17:46] costi2 commented on #2520
@dbaluta I will look on this too.

[2020-03-10 21:52] RDharageswari commented on #2511
[WOV_Working.zip](https://github.com/thesofproject/sof/files/4314967/WOV_Working.zip)
Adding the topology patches

[2020-03-11 02:09] dengyangchao commented on #2482
@tlauda Tried with #2512 , run 2000 times and issue can't reproduce

[2020-03-11 05:13] xiulipan commented on #2507
@mmaka1 @lgirdwood I did some dig in and find this is related to maybe compiler. Here is my analysis:

First to easily dump info from ELF file I add some debug patch to change the ENUM
[code]
Then I add some logs into rimage:

[code]

And here is what I got
[code]
Dump from elf file
Note the size for the `SOF_IPC_EXT_CC_INFO  cc_versionis` is 0x50, but actually the size is 0x4c. Not sure if this i

[2020-03-11 05:42] xiulipan commented on #2507
@macchian @lgirdwood @ktrzcinx I have a fix here to change flex array into static one to avoid issues between different compiler. https://github.com/thesofproject/sof/pull/2522
I can also think solution like, move the flex array to the end of the fw_ready_metadata section.

[code]
rimage logs will becomes to
[code]

[2020-03-11 07:15] Liviali155 opened #2523 "[BUG][ICL]"ipc timed out for 0x40010000 size 76" when do "suspend-resume with HDMI playback"or"suspend-resume with arecord(dmic:0,7)"
**Describe the bug**
"ipc timed out for 0x40010000 size 76" when do "suspend-resume with HDMI playback(0,3)"or"suspend-resume with arecord(dmic:0,7)
[code]
[code]
**To Reproduce**
1.sudo reboot
2.cd sof-test(as attachment)
3.cd test-case
4.export TPLG=sof-hda-generic-4ch.tplg
5."./check-suspend-resume-with-audio.sh -l 15 -m capture" or "./check-suspend-resume-with-audio.sh -l 15 -m playback"

**Re

[2020-03-11 07:20] Liviali155 commented on #2523
Error not seen on below platforms:
CML laptop with onboard codec ALC3204 in HDA mode
GLK Chrome with onboard codec DA7219 in I2S mode

[2020-03-11 07:32] ktrzcinx commented on #2507
As I see, there is a bug in XCC because  ` RG-2017.8-linux` string should be terminated with '\0' but I can't see it. Moreover this terminating zero is included in `sizeof(CC_DESC)`, so there is also a solution like this:

[code]
After this change:
[code]

Another possible issue in future is related with lack of memory alignment, `SOF_IPC_EXT_PROBE_INFO` starts just after `SOF_IPC_EXT_CC_INFO`, bu

[2020-03-11 07:39] keyonjie commented on #2224
Hi @aiChaoSONG can you try the method provided by Albert to check if the noise is from ADC via the 5682 A-D D-A loopback feature?

Please following sequence setup.
1. modify drivers/base/regmap/regmap-debugfs.c to enable regmap write permission
--- a/drivers/base/regmap/regmap-debugfs.c
+++ b/drivers/base/regmap/regmap-debugfs.c
@@ -274,7 +274,7 @@ static ssize_t regmap_map_read_file(struct file *

[2020-03-11 08:30] aiChaoSONG commented on #2224
@keyonjie
- trigger noise in recording
- aplay /dev/zero
- I hear nothing but very tiny white noise
so noise may not be produced by codec

[2020-03-11 08:56] keyonjie commented on #2224
Thanks @aiChaoSONG

So next step let's try if we can reproduce similar issue with nocodec SSP LBM feature.

Using any other verified inputs(e.g. input from AP, from rt5651, DMIC injector, ...) to reproduce it can help for analyzing also.

[2020-03-11 09:08] dengyangchao commented on #2491
After applied #2519 , tried 1000 times issue can't be reproduced.

[2020-03-11 09:17] tlauda commented on #2482
Fixed with #2512.

[2020-03-11 09:17] #2482 closed

[2020-03-11 09:17] tlauda commented on #2467
Fixed with #2512.

[2020-03-11 09:17] #2467 closed

[2020-03-11 09:17] tlauda commented on #2404
Fixed with #2512.

[2020-03-11 09:17] #2404 closed

[2020-03-11 09:38] dbaluta commented on #2520
@ymdatta @costi2 @IulianOlaru249 great o know about your interest.

If you have time you can also try to see if you can tackle one of unassigned issues from here. Check with the reporter of the issue for more details.

https://github.com/thesofproject/sof/issues?q=is%3Aissue+is%3Aopen+FEATURE

[2020-03-11 09:59] lgirdwood commented on #2386
@Liviali155 can we close ?

[2020-03-11 10:04] #2491 closed

[2020-03-11 10:14] Liviali155 commented on #2386
Still has I/O error

[2020-03-11 10:15] tlauda commented on #2493
@dengyangchao Please verify with #2519. It's already merged.

[2020-03-11 10:35] xiulipan commented on #2507
@kakulesza Yep, I think this is because that the `0` at the end maybe merged by the all four sections in `__section(".fw_ready_metadata")` is merged in ELF.
Your solution will result a overflow as the CC_DESC STRING has no termination. It will result in issues in the later use.

[2020-03-11 12:11] sinahuang commented on #2280
Test with sof-dev (commit:d05959) +master (commit:8e5ab9c), issue also can be reproduced on TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode when playback/capture more than 5 piplines at the same time.

[2020-03-11 12:41] sinahuang opened #2531 "[TGL][BUG] "error : DSP panic!" occured when do multi-pipeline stress test."
**Describe the bug**
"DMIC: ASoC: trigger FE cmd: 1 failed: -110" occured when do multi-pipeline stress test. After issue occured, all pipleline can't work. Can be recovered by rebooting system.

**To Reproduce**
1. Sudo reboot
2. Run "./multiplex_pipeline-test.sh pcm0p pcm2p pcm6p pcm1c pcm3c".

scripts:

[multiplex_pipeline-test.txt](https://github.com/thesofproject/linux/files/4318309/multiplex

[2020-03-11 12:57] bardliao opened #2529 "[BUG] Distortion on the second pipeline connected to demux"
**Describe the bug**
Distortion can be seen on the second amp output with https://github.com/thesofproject/sof/pull/2526 applied

**To Reproduce**
1. run aplay
2. listen to the output from both amps

**Reproduction Rate**
100%

**Expected behavior**
Clear output from both amps

**Impact**
annoyance

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and l

[2020-03-11 13:00] bardliao commented on #2529
@slawblauciak I know the sof-log log is not sufficient for the audio quality issue. But can you check if you can find anything wrong with the sof-log log? In the meantime, I will try to do loopback to capture the audio data for you.

[2020-03-11 18:32] mmaka1 commented on #2507
@xiulipan

It seems to work on my system since the beginning because I am compiling with the Windows version of the tools and this section looks like (note 4c and two extra zeroes because of shorter description):
[code]

[2020-03-11 21:05] lyakh commented on #2391
This is a known incompatibility. We've replaced the kernel support for Up^2 / apl-pcm512, it's now incompatible with the original topology. We've updated the topology too. So "both new" and "both old" work, but a mix of old and new doesn't.

[2020-03-11 21:42] plbossart commented on #2391
Ack, the old topology only worked with the machine driver code that was not upstreamed. Now that we did all the cleanups and upstreamed the machine driver, the new topology is required.

[2020-03-12 03:20] sinahuang commented on #2531
This issue happened after blocked issue #2492 fixed with FW commit:https://github.com/thesofproject/sof/commit/30492d73f919bd925198dd234fb176f47900ee79, from my bi-sect result might be caused by https://github.com/thesofproject/sof/commit/30492d73f919bd925198dd234fb176f47900ee79 or https://github.com/thesofproject/sof/commit/c596217ca5c405c5cf65a3b91267123e59645e29
@tlauda Please help to check it.

[2020-03-12 03:26] Liviali155 commented on #2386
Tested on latest sof/dev(e9fe7928)+master(0d0e5b73)
on TGL-U RVP with onboard codec ALC711 in HDA mode:
I/O error when multipipeline using more than 6 pipelines,dmesg show "error: ipc timed out for 0x60050000 size 12",after error occured,all the pipeline can not work

on CML laptop with onboard codec ALC3204 in HDA mode
I/O error when multipipeline using more than 6 pipelines,but no error message

[2020-03-12 04:01] xiulipan commented on #2507
@mmaka1 Oh, that explain why we have different result. The issue seems to be more related to the `cc_version.c` .
@jajanusz @tlauda @lgirdwood Do you know any issue like this here?
It seems the flex length structure in ELF may not have the right layout as we expected. So I think we should avoid flex length structure in ELF file #2522

[2020-03-12 05:05] aiChaoSONG commented on #2224
@keyonjie I tried nocodec kernel and tplg:
- only arecord, run arecord 30 times or pause-release
- aplay fixed level wave, and arecord, run arecord 30 times or pause-release
- aplay /dev/zero, and arecord, run arecord 30 times or pause-release
- aplay a normal music, and arecord, run arecord 30 times or pause-release
none of the above test reproduced the issue. Very wired.

[2020-03-12 05:05] dengyangchao commented on #2493
Tried 2000 times issue can't be reproduced, close

[2020-03-12 05:05] #2493 closed

[2020-03-12 05:16] lancedkhou commented on #2224
@aiChaoSONG
The noise symptom might be low reproduction rate in a certain sku of SoC.
Normally I will use test scripts to reproduce.

Let me mail you test scripts to see whether it helps.

[2020-03-12 06:16] Liviali155 opened #2532 "[BUG][BSW]“DSP panic” when test "Check-playback: Stress - 100x""
**Describe the bug**
“DSP panic” when test "Check-playback: Stress - 100x",error occured when aplay via (0,0),after error occured,all the pipeline can not work,reboot can recovery

used device: jf-bsw-cyn-max98090-4

[code]

**To Reproduce**
1.sudo reboot
2.cd sof-test(as attachment)
3.cd test-case
4. export TPLG=/lib/firmware/intel/sof-tplg/sof-cht-max98090.tplg
5.check-playback.sh -d 1 -l 100 -r

[2020-03-12 06:30] Liviali155 commented on #2532
Error not seen on below paltforms:
GLK Chrome with onboard codec DA7219 in I2S mode
CML laptop with onboard codec ALC3204 in HDA mode

[2020-03-12 07:39] xiulipan opened #2533 "[BUG]DEMUX comp not work normally with channel 4 to 2 with format conversion"
**Describe the bug**
The DEMUX should copy the data from source to sink without any error, but now with DEMXU comp, the copy out data is broken.

**To Reproduce**
Use demux tplg sof-apl-demux-pcm512x.tplg (need #2524 )  to replace the sof-apl-pcm512x.tplg on UP2 PCM512X

[code]

**Reproduction Rate**
100%

**Expected behavior**
The record wav should be same as input wav

**Impact**
This will be a

[2020-03-12 07:43] xiulipan commented on #2533
Also test with https://github.com/thesofproject/sof/pull/2525 on TGL
wav files attached
2ch_0312_04.wav test on APL with DEMUX and 32le-2ch-sin-100-200hz.wav
4ch_0312_01.wav test on TGL with DEMUX and 32le-8ch-sin-100-800hz.wav
8ch_0312_02.wav test on TGL with DEMUX and 32le-8ch-sin-100-800hz.wav
8ch_0312_03.wav test on TGL with nocodec loopback and 32le-8ch-sin-100-800hz.wav
[demux_test.zip](http

[2020-03-12 08:32] bardliao commented on #2529
@slawblauciak I did a loopback test today, and I can get the same distortion as what I hear.  An interesting thing is that the sound is very clear when I test it with a 1K tone.
Below are the recording file captured by loopback. The first picture is 1k tone and the second one is a voice says left channel and right channel repeatedly.
![1k](https://user-images.githubusercontent.com/8856808/76501595

[2020-03-12 08:35] slawblauciak commented on #2529
I'm on it. Can you also reproduce the issue by generating some other tone? Like 1.5K? Or 2K?

[2020-03-12 09:02] dengyangchao commented on #2533
@xiulipan  Applied #2524 and rename sof-apl-demux-pcm512x.tplg  to  sof-apl-pcm512x.tplg   on platform APL-UP2-PCM512X. Then tried below scenarios:
1. Aplay via HW:0,0(headset) is no output
2. Aplay via HW:0,1(HDMI) can heard the output and no noise.
Did i do something wrong here?
[amixer.txt](https://github.com/thesofproject/sof/files/4323211/amixer.txt)

[2020-03-12 09:39] singalsu opened #2534 "[BUG] Volume tokens in topologies may conflict with other pipelines"
**Describe the bug**
We have a common mistake in SOF topology files with volume tokens. Different pipelines share the same identifier names for tokens "containers": capture_pga_tokens, capture_pga_conf, playback_pga_tokens, playback_pga_conf. Therefore editing volume ramp length (SOF_TKN_VOLUME_RAMP_STEP_MS) in one pipeline macro can have no impact or side effect to other volume pipelines. We migh

[2020-03-12 09:42] xiulipan commented on #2533
@dengyangchao Interesting. I only care about the 0,0 headset codec output. Can you check amixer setting with normal UP2 PCM512X.

[2020-03-12 09:48] bardliao commented on #2529
@slawblauciak That is the result of testing with your testing file.
![sine](https://user-images.githubusercontent.com/8856808/76508549-8d2c2880-6489-11ea-9802-ca9faae094a1.png)
[sine.zip](https://github.com/thesofproject/sof/files/4323403/sine.zip)

[2020-03-12 10:00] singalsu opened #2535 "[FEATURE] Define filter blobs for processing components at topology top level"
**Is your feature request related to a problem? Please describe.**
The amount of processing variants in tools/topology/sof/pipe-x-y.m4 are growing and the macro names can be confusing. We have pipelines with 40 Hz high-pass some with +20 dB gain and some with 0 dB gain and it can't be seen from the macro names. Also some pipelines use coefficients for 16 kHz rate and some 48 kHz rate.

The pipelin

[2020-03-12 10:01] singalsu commented on #2535
@lgirdwood What do you think of this proposal? I'm not good with m4 so I don't know if this is the best approach but at least it seemed to work when I tried.

[2020-03-12 10:18] lbetlej commented on #2511
@RDharageswari  Is the issue reproduced with arecord option
-d, --duration=# Interrupt after # seconds ?

[2020-03-12 10:57] tlauda commented on #1043
@keqiaozhang Still reproduced?

[2020-03-12 10:58] tlauda commented on #1346
@kv2019i Still reproduced?

[2020-03-12 11:04] tlauda commented on #1575
@xiulipan Is there any progress with adding sue to qemu boot test?

[2020-03-12 11:09] tlauda commented on #1869
Ancient bug. Everything is working now.

[2020-03-12 11:09] #1869 closed

[2020-03-12 11:15] tlauda commented on #2011
Fixed some time ago.

[2020-03-12 11:15] #2011 closed

[2020-03-12 11:16] tlauda commented on #2102
@perexg Can be closed?

[2020-03-12 11:22] tlauda commented on #2374
@mmaka1 To be closed?

[2020-03-12 11:38] plbossart commented on #2532
@Liviali155 if you see an error on Cherrytrail you should also see it on Baytrail/Minnowboard?

[2020-03-12 11:48] lgirdwood commented on #2280
@tlauda we do need resource management, i.e. each component has a measured worst case cost per number of samples per platform. e.g volume 24bit cost on platform X is Y cycles. This can then bo worked out at runtime and rejected if new load + current load > budget.

[2020-03-12 11:54] Liviali155 commented on #2532
@dengyangchao please help to check on Baytrail/Minnowboard

[2020-03-12 11:56] Liviali155 commented on #2532
Bisect result:
Changed Firmware to 0214 (4d17d0de),error not seen
Changed Firmware to 0217 (b206b7a8I),issue can be reproduced

[2020-03-12 13:36] jdrzaszcz commented on #1800
Still occur on master branch, commit: b5eb50df955dabc7e1a34c757ae5662c620d6dde

[2020-03-12 14:11] lbetlej commented on #2280
@lgirdwood @lauda resource management is an interesting topic itself:

1. I'm with you on component level worst case compute requirements for each audio format
2. The measurement process has to account: DSP configuration, SRAM memory access time (waitstates) and cache worst case latency for each audio format (SRC as an example)
3. The worst case utilization has to be visible at 2 levels:

-  topol

[2020-03-12 16:32] lgirdwood commented on #2532
@Liviali155 can you bisect again, the commits above are unrelated to playback on CHT. One is for GDB and the other for ASRC. Are you sure  b206b7a is at fault ?

[2020-03-12 17:07] lgirdwood commented on #2533
I would like to see demux/mux fixed to remove the binary blobs. this is related to poor understaning and usage complexity. @juimonen fyi.

[2020-03-12 17:12] lgirdwood commented on #2534
these components should be per component instance and not global for all of that same type.

[2020-03-12 17:14] lgirdwood commented on #2535
@singalsu looks sound.

[2020-03-12 17:54] perexg commented on #2102
Yes, it seems that this patch is not necessary. The panic is gone with the latest driver / firmware.

[2020-03-12 17:54] #2102 closed

[2020-03-12 18:59] RDharageswari commented on #2511
Yes i could reproduce the issue with 10 seconds also:
arecord -Dhw:0,7 -M -N -c 2 -f S16_LE -r 16000 --buffer-size=64000 tmp.wav -vvv -d 10

dmesg logs: first time:
[ 2866.862857] sof-audio-pci 0000:00:1f.3: DSP core(s) enabled? 0 : core_mask 1
[ 2866.862902] sof-audio-pci 0000:00:1f.3: Debug PCIR: 00000010 at  00000044
[ 2866.862910] sof-audio-pci 0000:00:1f.3: Turning i915 HDAC power 0
[ 2866.86

[2020-03-12 19:00] RDharageswari commented on #2511
Yes i could reproduce the issue with 10 seconds also:
arecord -Dhw:0,7 -M -N -c 2 -f S16_LE -r 16000 --buffer-size=64000 tmp.wav -vvv -d 10

dmesg logs: first time:
[ 2866.862857] sof-audio-pci 0000:00:1f.3: DSP core(s) enabled? 0 : core_mask 1
[ 2866.862902] sof-audio-pci 0000:00:1f.3: Debug PCIR: 00000010 at  00000044
[ 2866.862910] sof-audio-pci 0000:00:1f.3: Turning i915 HDAC power 0
[ 2866.86

[2020-03-12 20:21] juimonen commented on #2533
@lgirdwood ok, it is now very clear what you want, thanks. I've been little bit hesitant to work on the demux on fw side (as it is not done by me), but I'll see what I can do. I'll make some RFC PR suggestions about the structs and topology.

[2020-03-12 21:51] lgirdwood commented on #2533
@juimonen thanks - if we look at the config structures used by the binary kcontrol (Ive added comments inline)
[code]
They need documented for sure alongside the mux code that sets the data.

We either need to represent a mux (N streams -> 1 stream) or a demux (1 stream -> N streams).

1) For every MUX and DEMUX output channel we create an enum kcontrol that contains all possible input stream chan

[2020-03-13 02:52] aiChaoSONG commented on #2538
@plbossart
a) No need to pause/release, just run arecord several times, noise will appear
c) I just found change bclk from 2.4MHz to 4.8 MHz, this issue disappeared. So we suspect that this issue should be related to SSP clock. 4.8MHz is not the final solution, let's leave this to FW team to see if there is any SSP register not properly configurated.

[2020-03-13 03:48] xiulipan commented on #2533
@lgirdwood Do you mean that we need a refine for MUX/DEMUX? I agree that the binary blob is very hard to understand and config. But how long would this take?

@juimonen Do you have any idea why we got this issue with following binary blob?
https://github.com/thesofproject/sof/blob/366aa67822a578e134765cf59def4e429d4e08c1/tools/topology/m4/demux_coef_default.m4#L1-L11
It should work with the sof-ap

[2020-03-13 04:47] dengyangchao commented on #2532
@Liviali155 issue can't reproduce on BYT Minnowboard with codec RT5682 in I2S mode

[2020-03-13 05:05] sathyap-chrome commented on #2538
@plbossart The sof-rt5682.m4 is what is used for all CML using RT5682 (the rt1011 variant reuses this for RT5682 config. only speaker config is additional)

So i see only difference, GLK with MCLK 19.2 and CML with 24.
considering the same, i want to give a try if we can set MCLK to 19.2 on CML ( for test purpose using M/N support) and see if issue is still seen.

I've reached out to vendor too on

[2020-03-13 05:27] sathyap-chrome commented on #2538
@aiChaoSONG can you try if below change works on CML ?

I'm trying to see if we can use MCLK as 19.2 ( hope M/N can take care of this ? )

-       SSP_CONFIG(I2S, SSP_CLOCK(mclk, SSP_MCLK_RATE, codec_mclk_in),
+       SSP_CONFIG(I2S, SSP_CLOCK(mclk, 19200000, codec_mclk_in),

[2020-03-13 05:29] bardliao commented on #2529
@slawblauciak The distortion is gone if I revert https://github.com/thesofproject/sof/pull/2541. I also tried adding a PGA to the second DAI, and the distortion happens. So, what I observed is the distortion will happen if a PGA on the second pipeline. In other words, the second pipeline can only work with pass through pipeline.

[2020-03-13 05:39] bardliao commented on #2529
I also don't observe distortion if I play a 32bits wav no matter if a PGA on the second pipeline or not. @RanderWang Do you have any comments?

[2020-03-13 06:30] aiChaoSONG opened #2543 "[BUG] unsupported widget type asrc when run build-tools.sh"
The SND_SOC_TPLG_DAPM_ASRC is delete from upstream alsa-lib(`src/topology/damp.c: line24~line48`), so topologies contain ASRC component will be failed to build. we got :`widget 'ASRC1.0': unsupported widget type asrc` error when run build-tools.sh.

alsa-lib commit which makes the change: https://github.com/alsa-project/alsa-lib/commit/aa1bac2d04bd1fb4ccae96a1136e60454298a710

[2020-03-13 06:31] aiChaoSONG commented on #2543
@lgirdwood @plbossart What are we going to do with this?

[2020-03-13 07:01] aiChaoSONG commented on #2538
@sathyap-chrome Changing mclk to 19200000 doesn't help with this issue, I got `tplg component load failed` and `failed to instantiate card`

[2020-03-13 08:08] slawblauciak commented on #2529
@bardliao looking at the #2541: I don't really understand why it was like that to begin with. Why apply volume to only one of the demux outputs. It is an interesting finding tho, it's very strange.

[2020-03-13 08:13] sathyap-chrome commented on #2538
Thankd for checking @aiChaoSONG

[2020-03-13 08:33] tlauda commented on #1973
@dengyangchao Still reproduced?

[2020-03-13 08:34] tlauda commented on #2123
@ranj063 Ping.

[2020-03-13 08:36] aiChaoSONG commented on #1973
@tlauda The only hatch in PRC is broken, we are unable to verify this issue.

[2020-03-13 08:39] tlauda commented on #2203
@ktrzcinx @aiChaoSONG I see some fixes have been merged. Do you still see the issue?

[2020-03-13 08:43] Liviali155 commented on #2532
Regression caused by Firmware commit:https://github.com/thesofproject/sof/commit/99df3ae2bfd6ace400694c873060aca2707b74d0

[2020-03-13 08:44] Liviali155 commented on #2532
@tlauda  please help to check it

[2020-03-13 09:06] aiChaoSONG commented on #2203
@tlauda I can not hear the noise, but we still have very tiny amount of data lost, if this doesn't matter, we can close this now.
![Screenshot from 2020-03-13 17-03-11](https://user-images.githubusercontent.com/52959957/76606285-f45ee100-654c-11ea-8ff3-42af9497a312.png)

[2020-03-13 09:17] tlauda commented on #2203
@aiChaoSONG This is expected on SSP. Transfer can end in the middle of the link list item and next one starts from the next item, so some small amount of data is lost.

[2020-03-13 09:18] aiChaoSONG commented on #2203
@tlauda Fine, let's close this.
close for fixed by #2364

[2020-03-13 09:18] #2203 closed

[2020-03-13 09:45] tlauda commented on #2248
@lgirdwood Even after resolving this build issue GDB code still won't fit into text. IRAM on BYT is simple too small to have it supported along with the rest of default features. Should we somehow block this config option on BYT platform?

[2020-03-13 09:49] bardliao commented on #2529
@slawblauciak The reason of #2541 is that I want to keep the same volume level for two pipelines. @RanderWang said he think the issue probably due to bad format conversion. ie, convert 16/24 bits to 32 bits  see https://github.com/thesofproject/sof/blob/master/src/audio/dai.c#L769.

[2020-03-13 09:52] slawblauciak commented on #2529
I think there's a problem with stream param propagation, also why you had to do that hack with the 2 channels. So, I think it might all be related. I'm currently investigating that.

[2020-03-13 09:55] juimonen commented on #2533
@xiulipan demux has never worked perfectly. The first version we did was only working with branched demux pipe directly connected to scheduler (pcm) i.e. you could not add any components to branched pipeline. This was because our fw scheduling didn't support this kind of pipe.

So I only recently tried to change the interface to use tokens and faced the same situation as you, so idisp id's we're w

[2020-03-13 09:55] Liviali155 commented on #2523
Error not seen on latest sof/dev/(ae18d452) +master(366aa678),closed it

[2020-03-13 09:55] #2523 closed

[2020-03-13 10:18] wwittbrx commented on #2511
I can't reproduce this issue on TGL RVP with slim driver tests.

Running on
https://github.com/mrajwa/sof/commits/tgl_dev_2
746cb8b965d362a99b10d140fa869da80dc9cefa

Are we running on the same FW? Also, could you provide us with the kernel source?

[2020-03-13 10:23] jdrzaszcz opened #2546 "[BUG][APL][WHL] SOF_IPC_PANIC_ASSERT in KD with SSP"
**Describe the bug**
Running keyword detection feature with full topology,  using SSP loopback to get injection signal.
When reloading the topology without reloading FW in 17 Iterations is an exception Timeout error in the playback stream and than Panic.

**Topology**
[code]
**To Reproduce**
Slim Driver python test:
test_02_kd_with_ssp.py
with --topology_iterations=100
Repo:
https://gitlab.devtool

[2020-03-13 10:26] jdrzaszcz commented on #2010
Can't reproduce on Sof master branch: 15736c57667e541e619ec82618c322b7977f5fbd

[2020-03-13 10:26] #2010 closed

[2020-03-13 10:42] singalsu opened #2547 "[FEATURE] All codec or DMIC capture pipelines should contain high-pass IIR or DC block"
**Is your feature request related to a problem? Please describe.**
The DMIC as direct attach, DMIC via codec, and codec headset input pipelines should include high-pass filtering function. The high-pass or DC blocking  feature in direct attach DMIC and several codecs seems to be insufficient to suppress the pop noise in capture beginning. The DC pulse is often much stronger than typical speech lev

[2020-03-13 13:34] jdrzaszcz opened #2548 "[BUG]Invalid data in probe point."
**Describe the bug**
When new extraction probe point is added purpose isn't verified by FW.
Also, after adding several extraction probe points, returned Node ID is different when all extraction probe points use the same dma.

**To Reproduce**
On rvp 10.91.113.87 with linux setup:
run: crecord -c0 -d22 -b8192 -f4 -FS32_LE -R48000 -C4 /tmp/extract.wav
login as superuser
echo 2,5,6 > /sys/kernel/debu

[2020-03-13 14:51] plbossart commented on #2538
the only difference is a divider value.
we'd need to verify if indeed the MCLK is taken as the source clock for the codec PLL, if the behavior changes depending on the value of the BCLK, it means that either the BCLK is taken as a reference, or that the ratio between MCLK/BCLK should not be larger than a specific factor.

[2020-03-13 14:57] lgirdwood commented on #2543
@aiChaoSONG can you bisect to see when this was removed and who did it ?

[2020-03-13 14:59] tlauda commented on #2543
@lgirdwood It's already in the bug:

[2020-03-13 15:01] plbossart commented on #2543
@aiChaoSONG Sorry I don't get what you meant by 'delete from upstream'. It was never added?

@singalsu you've added those topologies with ASRC, did you face any issues with alsa-lib?

[2020-03-13 15:08] lgirdwood commented on #2248
@tlauda lets fix the compilation part - the linker error will stay to remind users to remove features.

[2020-03-13 15:12] tlauda commented on #2532
@lgirdwood Is there any difference in DRAM size between BYT and CHT? Only way that commit could cause this is trying to use memory, which isn't available.

[2020-03-13 15:19] tlauda commented on #2532
@Liviali155 The FW binary you're using is built with GCC or XCC? I've built current master with GCC and test passed multiple times, but I haven't tried with XCC as I don't have config.

[2020-03-13 15:31] jajanusz commented on #2485
5e5f69e Janusz Jankowski interrupt: dynamic clock change for waiti ->https://github.com/thesofproject/sof/pull/2326

[2020-03-13 15:31] #2485 closed

[2020-03-13 15:34] lgirdwood commented on #2533
Yes, we only refine the topology so that we create enum kcontrols instead of this undecipherable blob. The ABI between FW and kernel remains the same.The FW will still support the blob method, but should also be able to use the enums.
1) Kernel needs some helper functions to store a local blob for each mux/demux component in topology. It then allows the enum kcontrol to change the internal blobs b

[2020-03-13 15:41] lgirdwood commented on #2547
@singalsu would it make sense to only run the IIR/DC block st capture start then ramp it down -> off ? i.e. to save resources

[2020-03-13 15:48] singalsu commented on #2547
No, the offset remains there all the time in worst case and it will vary in time due to temperature etc. If the component would automatically switch to bypass after e.g. 1s the offset would appear again.

The xtensa optimize IIR is very efficient. Also we can optimize the new DC blocker.

[2020-03-13 15:55] singalsu commented on #2543
I haven't got this issue. I've run tools build with various recent Ubuntu Linuxes. There has no more been need to use alsa tools git version to create SOF topologies.

Why is ASRC being removed from ALSA?

[2020-03-13 16:00] tlauda commented on #2543
It looks like some kind of accidental removal?
Maybe @perexg could elaborate.

[2020-03-13 16:08] perexg commented on #2543
Yep, it's accidental removal. Fixed in alsa-lib's master. Thanks for the note.

[2020-03-13 16:38] lgirdwood commented on #2532
No, both the same memory.. We could revert stack size change for BYT/CHT given they have simpler features compared to APL etc.

[2020-03-13 16:38] jajanusz commented on #2507
Do you mean on linux version of compiler? For me it's weird that same version of compiler gives different output just cos of os, but anyway, it's better to w/a issue with having fixed sizes on problematic fields.

[2020-03-13 16:53] lgirdwood commented on #2547
@singalsu ok great, btw we will need to look at quantifying the worst case load in cycles for each platform based on frames, channels formats etc.  This is easier for fixed cost processing like volume, but you may need to come up with ways to quantify for ASRC, SRC etc. Just something ti think about, needed for EDF scheduler updates.

[2020-03-13 16:54] #2543 closed

[2020-03-13 22:46] RDharageswari commented on #2511
I am currently using the OTC repo with few changes from broonie tree:
31f37b4d5033 ASoC: SOF: Intel: hda-loader: clear the IPC ack bit after FW_PURGE done
2337f615bf53 ASoC: SOF: ipc: check ipc return value before data copy
907e9be8f1ac ASoC: SOF: pcm: skip DMA buffer pre-allocation
Firmware used was:
TGL FW memory layout changing
@Rajwa, Marcin have a simple test branch for the reference KWD HDA

[2020-03-13 23:16] RDharageswari commented on #2511
@xiulipan Can you please help with the kernel?

[2020-03-15 23:33] mrajwa commented on #2511
@RDharageswari, kernel has a problem with triggering stream. This is unknown kernel so I can't tell why is it failing, please provide link to the source.

[2020-03-16 01:29] Liviali155 commented on #2532
I used XCC

[2020-03-16 02:07] keyonjie commented on #2511
Hi @xiulipan can we try if we can reproduce this issue with Ubuntu on RVP?

[2020-03-16 02:26] mengdonglin commented on #2379
Close this issue for max buffer size restriction of Baytrail. Will reopen when BUFFER_SIZE BUFFER_TIME BUFFER_BYTES for SRC compoment can be adjusted for Baytrail. @lrgirdwo @xiulipan @singalsu @dengyangchao

[2020-03-16 06:05] sinahuang commented on #2531
Tested with master(commit:8e5ab9c2)+sof-dev(commit: 0f90705), issue can be reproduced.
Test for 300 times, failed at 37th time.
[multipipeline_test_37_logger_error.log](https://github.com/thesofproject/sof/files/4336247/multipipeline_test_37_logger_error.log)
[multipipeline_test_37_all_logger.log](https://github.com/thesofproject/sof/files/4336245/multipipeline_test_37_all_logger.log)
[multipipeli

[2020-03-16 06:58] singalsu commented on #2379
@lgirdwood @mengdonglin Sorry, I didn't understand from above if SRC should be changed or is it OK with other changes.

Removing 44.1 kHz family from conversions and keeping only 8/16/32/48 kHz would allow SRC to work with same 2 periods buffers as other components. But the "mp3 44.1 kHz" is the most common use case for SRC so I don't know if there's any sense to reduce the BYT configuration even

[2020-03-16 08:03] #2248 closed

[2020-03-16 08:21] xiulipan commented on #2507
@jajanusz After debug, it seems to be related to the flex length structure when assemble to section in ELF. The appending length will disappear.

[2020-03-16 08:36] xiulipan commented on #2507
Update with compare test between GCC and XCC, it seems to be some issue related to compiler linker.

[code]

XCC got header size 0x50, actual binary size 0x4c

[code]
GCC got both size is 0x50

[code]

[2020-03-16 08:51] singalsu opened #2551 "[BUG] SOF tools build fails"
**Describe the bug**

I'm using Ubuntu 19.10 and I get this with GCC version 9.2.1

[code]

**To Reproduce**
Run scripts/build-tools.sh

**Reproduction Rate**
How often does the issue happen ? i.e. 1/10 (once in ten attempts), 1/1000 or all the time.
Does the reproduction rate vary with any other configuration or user action, if so please describe and show the new reproduction rate.

**Expected be

[2020-03-16 08:53] paulstelian97 commented on #2551
I feel like this is a deja-vu. Does it happen on master or on which branch?

[2020-03-16 08:56] singalsu commented on #2551
On git master.

[2020-03-16 09:00] #1543 closed

[2020-03-16 09:03] singalsu commented on #2551
Topologies can be build with this quick edit

[code]

[2020-03-16 09:10] paulstelian97 commented on #2551
@abonislawski Can you take a look?

[2020-03-16 09:12] aiChaoSONG commented on #1043
issue not produced on CML Chrome(helios)

[2020-03-16 09:15] ClarexZhou commented on #1043
Close for old issue on GLK and not reproduce on cml chrome.

[2020-03-16 09:15] #1043 closed

[2020-03-16 09:30] xiulipan commented on #2511
@keyonjie @RDharageswari @mrajwa confirmed with master(47420dc92c5e48fec50161e8b157a66b31cc9193) + https://github.com/thesofproject/sof/pull/2405
Kernel https://github.com/thesofproject/linux/commit/0f9070542fa2feb1e5486c6160c44f65b672aef8
kconfig https://github.com/thesofproject/kconfig/blob/master/kconfig-sof-default.sh
[code]
dmesg
[code]
Full DMA trace log is attached.
[kwd.txt](https://github

[2020-03-16 09:35] mrajwa commented on #2511
@xiulipan, please show arecord command you start with.

[2020-03-16 09:44] xiulipan commented on #2511
@mrajwa
CMD is `arecord -Dhw:0,7 -M -N -c 2 -f S32_LE -r 16000 tmp.wav -vvv`

Test with some debug log code

[code]
Got new error logs

[code]
It seems the `kpb->buffer_size` is not init before parpare?

[2020-03-16 09:49] xiulipan commented on #2511
@mrajwa @RDharageswari @keyonjie Also test with runtime-pm.
This issue only happen with no-pm-suspend/resume between two record.
@wwittbrx I think for slim driver test, every test is with fresh loaded FW?

[2020-03-16 09:51] abonislawski commented on #2551
Looks like something new (pointer (alignment 4) may result in an unaligned pointer value) in GCC.
No warnings on GCC 7.3.0

[2020-03-16 10:14] lgirdwood commented on #2379
@singalsu yes, please send a PR that reduces SRC to just 8/16/32/48 on BYT, CHT. It would also be good to put something in the Kconfig SRC help to state assumption on memory sizes and as an example 44.1kHz would not easily fit in BYT unless other baisc features were removed. Thanks.
@mengdonglin This can be closed after @singalsu has submitted his PR.

[2020-03-16 10:24] wwittbrx commented on #2511
@xiulipan We have more iteration options. There are normal iterations, which reload FW every time as you said, we also have topology iterations, which free all components and start again with topology building without reloading, and playback iterations, which only free the streams and restarts them. I tested this with all iteration kinds.

Please try this command with buffer size specified:
arecor

[2020-03-16 10:34] dandv opened #2553 "Friendlier README"
I found this repo via the [ArchLinux page on getting sound to work](https://wiki.archlinux.org/index.php/Lenovo_ThinkPad_X1_Carbon_(Gen_7)#Volume_Controls) on this annoying downgrade of the ThinkPad X1C (sound and microphone worked fine on 6th gen machines, but not on 7th gen; how is this progress? Anyway). I'm a Linux user, but not a Linux developer (I'm a webdev). I'd still like to have sound vo

[2020-03-16 10:43] lgirdwood commented on #2551
@abonislawski Please update your GCC. Your version is now rather ancient.

[2020-03-16 10:58] lgirdwood commented on #2553
@deb-intel is this something you can take care of ?

[2020-03-16 11:13] mrajwa commented on #2511
@xiulipan, @RDharageswari there is a bug on my testing branch which result in wrong validation of host params on the very first call only. But if this is the case it means you did not specified proper host buffer size. Please use the command @wwittbrx shown above.

PS: I have also fixed the missing check on FW side. The patch is already available on https://github.com/mrajwa/sof/tree/tgl_dev_2

[2020-03-16 13:14] singalsu commented on #2379
A fix proposal is in PR #2555. The 44.1 kHz playback still works but everything above 48 kHz is removed. Playback works on my T100 now. With git master it didn't work. Can you @dengyangchao please test with this PR if it helps!

[2020-03-16 13:24] plbossart commented on #2553
@dandv if you build the firmware yourself, it will not run on the ThinkPad devices which are locked by a production key - the authentication will fail.
You can only compile+run the firmware on 'open' platforms, such as the Up2, Up Extreme boards and Chromebooks.

[2020-03-16 14:31] dandv commented on #2553
@plbossart: I'm confused... That [ArchLinux page](https://wiki.archlinux.org/index.php/Lenovo_ThinkPad_X1_Carbon_(Gen_7)#Audio) advises ThinkPad X1C owners to install the SOF. Are some of [the releases](https://github.com/thesofproject/sof/releases) binaries compatible with the X1C 7th gen? Which extension?

[2020-03-16 14:37] plbossart commented on #2553
@dandv they should have said 'install the binaries from https://github.com/thesofproject/sof-bin/tree/stable-v1.4.2'
The go.sh script should install everything and then the kernel will pick what's necessary for your platform (firmware binary and topology).

You will still need to make sure you have a UCM file installed from alsa-ucm-conf.

[2020-03-16 14:39] deb-intel commented on #2553
@lgirdwood Let me see what I can do. I might ask you questions a little later. . . . .

[2020-03-16 15:16] plbossart commented on #2551
Guys, can you please use Ubuntu 19.10 for development? I am also hit by this issue. Thanks

[2020-03-16 15:19] plbossart commented on #2551
CI as well btw...

[2020-03-16 15:27] plbossart commented on #2551
compile fix

[code]

[probe_fix.diff.txt](https://github.com/thesofproject/sof/files/4338905/probe_fix.diff.txt)

[2020-03-16 16:09] lgirdwood commented on #2553
@deb-intel thanks, it's more about answering questions that @dandv has raised regarding getting and deploying the firmware for casual users. i.e. using the sof-bin repo as @plbossart has described. Also some text on the Intel code names, probably we cant point to wikipedia ? My understanding is that initial SOF support should be 20.04 releases of RH/Ubuntu so users can obviously get the FW as part

[2020-03-16 16:10] tlauda commented on #2546
@jdrzaszcz #2557 should fix the issue. Another problem is the fact, that test framework increases pipeline id every topology iteration. Probably the same one should be reused.

[2020-03-16 17:59] abonislawski commented on #2551
Fixed in #2559

[2020-03-16 18:38] deb-intel commented on #2553
@lgirdwood Do you think a developer should go through the README page again and update it? I don't think it has been technically reviewed in a while. I can definitely correct the confusion on the Intel code names and make grammatical content updates, but I think a real user/installer should review/update this page. Thoughts?

[2020-03-16 19:53] RDharageswari commented on #2511
arecord -M -N -D hw:0,7 -f s24_le -c 2 -r 16000 --buffer-size=68000 record.wav -vvv -d 5
Even with the command i got the error:

[  125.321329] sof-audio-pci 0000:00:1f.3: Turning i915 HDAC power 0
[  125.321345] sof-audio-pci 0000:00:1f.3: error: transition from 0 to 4 not allowed
[  125.321346] sof-audio-pci 0000:00:1f.3: error: failed to power down DSP during suspend -22
[  125.321354] sof-audi

[2020-03-16 19:55] tlauda commented on #2533
@xiulipan What is the final statement? I'm not sure whether it's worth looking into or maybe you're configuration is wrong?

[2020-03-16 19:59] tlauda commented on #2531
@sinahuang It looks like DMIC clocking problem. Are you sure your HW is correctly configured/reworked? We don't see such behavior on our TGL RVPs.
@emilchudzik Could you help with our rework list and BIOS settings?
@singalsu Any ideas?

[2020-03-16 20:18] akloniex commented on #2478
@lgirdwood Regarding implementation details for the underrun case, I can think of 2 ways of approaching the subject:
1. Minimal changes, mostly focused around components' copy functions (check underrun-related flag in buffer, read as much as buffer has, fill in the zeros as needed)
2. Far-fetched changes regarding buffer read management, so that underrun would be transparent to the components, by

[2020-03-16 23:15] yongzhi1 opened #2560 "[BUG][JSL][KD] DSP panic happens when running KD pipleline"
**Describe the bug**
Run KD pipeline with arecord returns:

[  223.798829] sof-audio-pci 0000:00:1f.3: error: no reply expected, received 0x0
[  223.912254] sof-audio-pci 0000:00:1f.3: firmware boot complete
[  223.952422] sof-audio-pci 0000:00:1f.3: error : DSP panic!
[  223.957961] sof-audio-pci 0000:00:1f.3: status: fw entered - code 00000005
[  223.964977] sof-audio-pci 0000:00:1f.3: error: ru

[2020-03-16 23:17] yongzhi1 commented on #2560
[dmesg-err-log.txt](https://github.com/thesofproject/sof/files/4340762/dmesg-err-log.txt)

[2020-03-17 00:09] wenqingfu commented on #2391
close as won't fix

[2020-03-17 00:09] #2391 closed

[2020-03-17 03:10] sinahuang commented on #2531
My HW configure/reworks as below:
1. Reworked SDW on ALC711 and I2S on 1308 on TGL-RVP .

2. BIOS settings:
Set Audio Link Mode to Advanced Link Config
Enable: HDA link, DMIC #0, DMIC #1 , SSP #2, SDW #1 (ALC1308 is on SSP #2, ALC711 is on SDW #1）
Enter HD Audio DSP Features Configuration, Enable I2S and select I2S Codec: Realtek ALC1308

[2020-03-17 03:28] mengdonglin commented on #2298
@aiChaoSONG @mrajwa Since #2329 is merged by master, customer can get the fix from master later. Closed this issue on cml-008-patch-backport as won't fix.

[2020-03-17 03:28] #2298 closed

[2020-03-17 03:46] dengyangchao commented on #2379
@singalsu Since #2555 merged, tried with master df6c637.
No error observed on HW:0,0(low latency), found ipc error on HW:0,1(media playback) when try speaker-test

48K in media playback(HW:0,1):
1. Playback can work well, but speaker-test still occur ipc error 0x60010000
![Screenshot from 2020-03-16 23-13-55](https://user-images.githubusercontent.com/52945407/76819435-1dc88700-6843-11ea-952e-7a4a8

[2020-03-17 04:27] dandv commented on #2553
I'm a real user and would be happy to test-drive the binaries, *if* there's a stable release.

Unfortunately I can't risk downtime due to unstable releases, or other things than sound breaking.

First off, the `go.sh` script is not implemented yet - https://github.com/thesofproject/sof-bin/blob/master/go.sh.

Second, how did they ArchLinux folks who wrote that wiki page manage to install everythin

[2020-03-17 05:23] xiulipan commented on #2511
@wwittbrx @mrajwa @RDharageswari Test with tgl_dev_2 branch patches.
It works with `--buffer-size=68000`
@mrajwa Could you try to send a PR for your fixes on tgl_dev_2?

[2020-03-17 05:30] xiulipan commented on #2533
@tlauda Still testing, not sure if it is some configure issue or comp issue.

[2020-03-17 06:14] sathyap-chrome commented on #2538
Update from codec vendor : based on our experiments, codec vendor make certain modifiation in driver to support 24M CLK and not use internal PLL and sees positive results. working on a clean patch for the same. will update here in couple of days

[2020-03-17 09:00] dengyangchao commented on #2393
Issue can't be reproduced, close.

[2020-03-17 09:00] #2393 closed

[2020-03-17 09:24] lbetlej commented on #2478
@lgirdwood @akloniex @tlauda could you follow up on idea regarding buffer reader API ?

[2020-03-17 09:25] singalsu commented on #2379
I get the same error with speaker-test. It doesn't look like firmware issue, nothing abnormal in the sof-logger output. There's even a kernel crash happening sometime after the IPC error.

[2020-03-17 09:27] sathyap-chrome commented on #2538
https://patchwork.kernel.org/patch/11441955/ is the fix from codec vendor for the issue.
Thanks to all for help in debug.
 Closing the issue now.

[2020-03-17 10:16] singalsu commented on #2531
@tlauda Those RORs should not happen. Apparently some slowness with DMA capture apparently does it. The other source for ROR is wrong configuration of decimation but I doubt it as happened since it worked until 37th time. I wonder if in addition to clearing the status bit should the FIFO be emptied by setting FINIT for OUTCTLRx? That would flush all the samples in FIFO and create discontinuity int

[2020-03-17 10:21] jdrzaszcz commented on #2546
@tlauda yes pr 2557 fix this issue. Btw, thanks for the hint.

[2020-03-17 11:35] lgirdwood commented on #2553
@deb-intel I can go through some of the details and send a PR, if you can do the codenames and clean it up for grammar.
@dandv thanks, and no need to risk downtime. I think the 20.04 distro releases onwards should have all the ingredients in place for users who want to test updated firmwares and build their own topologies. I guess the arch folks had the correct kernel patches and used the sof-bin

[2020-03-17 11:40] mrajwa commented on #2511
@xiulipan, I think you meant "could you upstream your fix from tgl_dev_2" right?

[2020-03-17 11:57] Liviali155 commented on #2532
on BDW with codec RT286 in WSB mode also has this issue when run "check-playback-100times"

<img width="576" alt="Capture" src="https://user-images.githubusercontent.com/56707932/76854130-889cb100-6889-11ea-8043-d88d23de8936.PNG">

<details>
 <summary>dmesg_error.log</summary>

[code]
</details>

[dmesg.txt](https://github.com/thesofproject/sof/files/4343278/dmesg.txt)

[2020-03-17 12:41] tlauda commented on #2560
@yongzhi1 Please try with #2562.

[2020-03-17 12:43] #2538 closed

[2020-03-17 12:46] tlauda commented on #2531
@singalsu I think it won't help in the long run. It looks like there is something fundamentally wrong with the DMIC clocking.
@sinahuang Do you have any other TGL RVP? Maybe there is something wrong with the HW on this one, since we don't observe such issue on our boards.

[2020-03-17 12:50] deb-intel commented on #2553
@lgirdwood Deal! Thanks!

[2020-03-17 12:59] dandv commented on #2553
@lgirdwood: I'm running 18.04 LTS, and updating to 20 would risk some downtime (or take some significant downtime to avoid the risk; I usually update to the next LTS when upgrading my laptop).

Any way I can test a stable build on Ubuntu 18.04?

[2020-03-17 14:34] tlauda commented on #2478
@lgirdwood Is this mechanism in some way related to the improved buffer locking API you've mentioned here https://github.com/thesofproject/sof/pull/2545#discussion_r392920305?

[2020-03-17 15:22] tlauda commented on #2476
Fixed on branch https://github.com/thesofproject/sof/tree/cml-010-hot-fix2.

[2020-03-17 15:22] #2476 closed

[2020-03-17 15:23] tlauda commented on #2475
Fixed on branch https://github.com/thesofproject/sof/tree/cml-010-hot-fix2.

[2020-03-17 15:23] #2475 closed

[2020-03-17 15:23] tlauda commented on #2474
Fixed on branch https://github.com/thesofproject/sof/tree/cml-010-hot-fix2.

[2020-03-17 15:23] #2474 closed

[2020-03-17 15:23] tlauda commented on #2473
Fixed on branch https://github.com/thesofproject/sof/tree/cml-010-hot-fix2.

[2020-03-17 15:23] #2473 closed

[2020-03-17 15:34] tlauda commented on #2532
@Liviali155 Please verify with #2563.

[2020-03-17 15:42] lgirdwood opened #2564 "[FEATURE] Dependent PCMs - Userspace handling"
**Is your feature request related to a problem? Please describe.**
This is not a FW feature but a userspace feature and here is probably the best place to log it for the moment.

There are now many audio features where we have multiple PCMs and some of these PCMs are dependant on the others.i.e.
[code]
_PCM1 above is dependent on PCM0 for data_

Consider the above example where playback PCM0 is th

[2020-03-17 15:43] lgirdwood commented on #2564
@dgreid @cujomalainey any take on CRAS changes here ?
@juimonen @kv2019i any comments on UCM and PA updates here ?
@lbetlej fyi.

[2020-03-17 16:42] plbossart commented on #2564
@lgirdwood this is not enforceable, we have no control on userspace deployment and readiness in downstream distros. Just look how complicated it is just for people to get the firmware and topology files, UCM2 is not even ready.

The only way to do this would be a modification of PCM states so that the dependencies are handled within the kernel. That we can control, though it's still anyone's guess

[2020-03-17 16:56] lgirdwood commented on #2564
The only thing I can think of today that would be similar in the kernel is USB audio device. i.e.

1) Active playback on PCM0 causes PCM1 device to be created and udev etc is notified.
2) Playback stopping on PCM0 causes PCM1 device to be deleted (like USB device removal) and udev etc is notified.

Userspace handles it like USB audio.

This would enforce the ordering and Pulseaudio/CRAS already wo

[2020-03-17 17:01] lgirdwood commented on #2379
@singalsu can you log the kernel crash.

[2020-03-17 17:08] cujomalainey commented on #2564
@lgirdwood we have a notion of Echo Reference devices currently in our UCM. I have been trying to get the definition upstreamed. Its not as general as this use case but seems to serve a similar purpose.

[2020-03-17 17:10] lgirdwood commented on #2553
@dandv sorry, I'm not really that knowledgeable about ubuntu packaging, I don't know if @tanuk plans to make deb packages for 18.04 ? This would also mean back porting kernel patches to 18.04 which is probably not trivial effort.

[2020-03-17 18:39] plbossart commented on #2564
I don't think that's how USB Audio works? PCM streams are mapped to endpoints, they are statically created upon parsing of the descriptors. The streams are also handled at the kernel level when e.g. the capture path is used as a clock to let the driver how many samples it can push (implicit async)

I am not aware of any cases where PCM devices came and go. It's hard enough when a card comes and go

[2020-03-17 19:43] juimonen commented on #2564
I have to agree with @plbossart here, this seems really difficult to make somehow logical and usable in user space. If we have a pcm, you should be able to open and play or capture from it, no matter in what ever some other pcm state is. I would think that it should be accepted that echo reference path is like an extra capture pipeline in FW (needs as many dma's etc.)...

[2020-03-17 19:51] yongzhi1 commented on #2560
Hi, @tlauda, to try #2562 , can you share jsl_defconfig for xcc build? Thanks!!

[2020-03-17 19:55] mrajwa commented on #2511
@RDharageswari, have you tested with latest https://github.com/mrajwa/sof/tree/tgl_dev_2?
I don't follow what FW and kernel do you use....

[2020-03-17 21:07] lgirdwood commented on #2564
I'm meaning that the PCM device(s) are being created upon USB audio device insertion (as part of USB bus enumeration) and vice versa on USB removal. Pulseaudio is clever enough to switch between removable PCMs upon removal/insertion.

Afaik, it's just USB, IIRC HDMI creates them even if there is no monitor. Topology also supports this today, but it's never been tested.

[2020-03-17 21:21] lgirdwood commented on #2564
Not really, device state is important. Users cannot be guaranteed to perform device ops if the device is not ready. There are lots of standard errnos for this sort of thing and in this case ENODATA is appropriate if the PCM has no data.

It is a "capture" pipeline, but it's data is only meaningful if and only if the playback PCM is running.

[2020-03-17 21:48] plbossart commented on #2564
The only things that work are
a) creating/removal of devices as part of a plug event
b) static creation of devices based on topology but a jack event that makes them visible/usable (e.g. headset capture or HDMI playback)

I am not aware of PCM devices coming and going otherwise.

[2020-03-18 01:44] RDharageswari commented on #2511
Hi @mrajwa
I did check with the attached firmware on my kernel and still see issues.
First 2 /3 iterations go well and the moment i hit the failure..subsequent capture fails.
I am using the FW built out of https://github.com/mrajwa/sof/tree/tgl_dev_2
For the kernel i am trying to re-test with v5.4.Will update once i test.

[2020-03-18 02:37] dengyangchao commented on #2379
Set buffer size to 2096640, then aplay via comand"aplay -Dhw:0,1 -f dat /dev/zero -vvv -i --buffer-size=2096640 --dump-hw-params"
occur same ipc error
Also tried to set buffer size to 64K/32K/16K through below commands,  it work well, no error occur.
aplay -Dhw:0,1 -f dat /dev/zero -vvv -i --buffer-size=64000 --dump-hw-params
aplay -Dhw:0,1 -f dat /dev/zero -vvv -i --buffer-size=32000 --dump-hw-pa

[2020-03-18 03:31] xiulipan commented on #2511
@mrajwa @RDharageswari I run more times on my DUT, did not see issue like your said that failed on 3/3.

Below is my 5/5 tests
[code]

[2020-03-18 03:59] yongzhi1 commented on #2560
I just tried daily/20200317/sof-df6c637e/fw/xcc/sof-jsl.ri.
md5sum sof-jsl.ri
e61f34aa388c32a769023c0ebe1aafd8  Downloads/sof-jsl.ri

And here is the error:

[  126.921642] sof-audio-pci 0000:00:1f.3: error : DSP panic!
[  126.927875] sof-audio-pci 0000:00:1f.3: status: fw entered - code 00000005
[  126.935761] sof-audio-pci 0000:00:1f.3: error: runtime exception
[  126.942583] sof-audio-pci 0000:

[2020-03-18 04:58] sinahuang commented on #2531
Used the other TGL RVP with  codec ALC711 in SDW mode and RT1308 in I2S mode, issue still can be reproduced.

Test for 300 times, failed at 28th time.
[multipipeline_test_28_dmesg.log](https://github.com/thesofproject/sof/files/4347007/multipipeline_test_28_dmesg.log)

[2020-03-18 06:25] sinahuang opened #2569 "[BUG][CML-H]“error：can't find BE for DAI ALH0x202.OUT” display after booting up successfully."
**Describe the bug**
“error：can't find BE for DAI ALH0x202.OUT” display after booting up successfully. Aplay via any pipeline after issued occurred, " error: no config for DAI (null)" shows.

**To Reproduce**
1. Boot up system.
2. Check the dmesg.

**Reproduction Rate**
5/5

**Expected behavior**
Device can boot up successfully, no error.

[code]
[code]

**Impact**
“error：can't find BE for DAI ALH

[2020-03-18 06:39] mengdonglin commented on #2511
@mrajwa Can you please share a PR for master branch to support KWD on TGL?

[2020-03-18 06:43] sinahuang opened #2570 "[BUG][CML]" error: ipc error for 0x60010000 size 20" display when aplay via speaker0,2."
**Describe the bug**
Speaker0,2 can't work normally, dmesg show " error: ipc error for 0x60010000 size 20".

**To Reproduce**
1.Boot up system.
2.aplay -Dhw:0,2 -fs16_le -c2 -r 48000 -vv -i wav/48California_Dreaming.wav

**Reproduction Rate**
5/5

**Expected behavior**
Aplay0,2  should work normally.

**Impact**
" error: ipc error for 0x60010000 size 20" display when aplay via speaker0,2.
[code]
[

[2020-03-18 07:39] tlauda commented on #2560
@yongzhi1 Fix is not yet on master. You need to build it manually with #2562 on top of it.

[2020-03-18 08:21] buscon opened #2571 "[BUG] Wiskey Lake i7-8665U Processor - which DTOOLCHAIN"
I have a Wiskey Lake i7-8665U Processor, can I build sof for such processor? if yes, which toolchain should I set in DTOOLCHAIN ?

thanks

[2020-03-18 08:50] kv2019i commented on #2564
@lgirdwood There's long history with linking PCM's via snd_pcm_link:
https://www.alsa-project.org/alsa-doc/alsa-lib/group___p_c_m.html#gac6c33091b049985baa6466e8fe93917e

... but describing semantics of the PCM connections, is a much harder problem. Existing infra indeed assumes the application has out-of-band information about PCM-to-PCM links, and when and how to use them. E.g. the

To me it sou

[2020-03-18 09:05] buscon opened #2572 "[FEATURE] Is it possible to run sof and along with the Jack connection kit?"
Hi,

Is it possible to run sof and along with the Jack connection kit?
I tried to do that but I get:
Wed Mar 18 10:02:08 2020: creating alsa driver ... hw:sofsklhdacard|hw:sofsklhdacard|1024|3|48000|0|0|nomon|swmeter|-|32bit
Wed Mar 18 10:02:08 2020: configuring for 48000Hz, period = 1024 frames (21.3 ms), buffer = 3 periods
Wed Mar 18 10:02:08 2020: ALSA: final selected sample format for capture:

[2020-03-18 09:14] tlauda commented on #2531
@sinahuang If it only reproduces with multiple pipelines, then please verify with higher clock. Please build FW with disabled low power clock: **Platform -> [ ] Enable low power ring oscillator as the default clock**.

[2020-03-18 09:18] #2334 closed

[2020-03-18 09:18] #2532 closed

[2020-03-18 09:28] singalsu commented on #2379
This kernel is not new (maybe two weeks old) but here's the dmesg:

[code]

[2020-03-18 09:40] jajanusz commented on #2529
@bardliao Can you share all the formats that fail?
Also please share the topology that you used for your 'loopback' case?

[2020-03-18 09:44] mrajwa commented on #2511
@mengdonglin, sure however we still don't know what is the reason of the issue @RDharageswari is describing.
@RDharageswari, on the beginning you said the second capture fails, now you are saying "First 2 /3 iterations go well..." so something changed recently?
The issue seems to be on kernel side not being able to change states.
I am waiting for your tests results with different kernel.

[2020-03-18 09:44] #2546 closed

[2020-03-18 09:56] YvonneYang2 commented on #2570
Reverted https://github.com/thesofproject/sof/commit/5e8de9fd52e67d96a57445b279b2b7947505bf6e , issue is gone on CML-U

[2020-03-18 09:58] singalsu commented on #2379
@lgirdwood No more kernel crash with today's topic/sof-dev kernel.

[2020-03-18 09:58] sinahuang commented on #2531
Checked on FW with disabled low power clock: Platform -> [ ] Enable low power ring oscillator as the default clock, Issue still can be reproduced.

[2020-03-18 10:22] lgirdwood commented on #2478
@tlauda yes, hooking into the buffer API is probably the best way forward. i.e.
[code]

[2020-03-18 10:26] sinahuang commented on #2570
Reverted commit :https://github.com/thesofproject/sof/commit/5e8de9fd52e67d96a57445b279b2b7947505bf6e , issue can't reproduce on CML-H.

[2020-03-18 10:26] sinahuang commented on #2569
Reverted commit :https://github.com/thesofproject/sof/commit/5e8de9fd52e67d96a57445b279b2b7947505bf6e, issue can't reproduce on CML-H.

[2020-03-18 10:29] bardliao commented on #2529
@jajanusz I think the issue could be related to [dconfig->frame_fmt = SOF_IPC_FRAME_S32_LE;](https://github.com/thesofproject/sof/blob/master/src/audio/dai.c#L772). Could you check it first?
I only tested S16_LE and S32_LE for now. And S32_LE works (no noise). I can test more if you need it.
I don't keep my topology of the loopback test. I modified on both kernel topology for the loopback test. Th

[2020-03-18 10:29] singalsu commented on #2379
I'll do a PR, speaker-test with 48k works, need to adjust still for 44.1k to work too...

[2020-03-18 10:58] jajanusz commented on #2529
I've seen that comment, but what you want me to do with it? It looks like HW requirement so it has to stay 32bit, if it doesn't work for non-32bit formats then volume has bad conversion logic or topology doesn't make sense.

I'd like to but we don't have repro, so it's hard to  check. That's why I ask for all these things, so we can get repro on our side ;)

[2020-03-18 11:09] jajanusz commented on #2529
@bardliao Please add logs that show which method conversion was chosen in dai_params, so we'll know if demux is propagating correct formats.
After this: https://github.com/thesofproject/sof/blob/b20191b362a6d14a44eead247ae677edd90ff6dd/src/audio/dai.c#L279

[2020-03-18 11:47] lgirdwood commented on #2564
There are a lot of possible ways to solve PCM dependence in the kernel, system libraries (alsa-lib, tinyalsa) and userspace (sound servers). I'd like to suggest we initially look at the low hanging fruit here in order to enable more community involvement in improving support throughout the stack.

I've updated proposal in the feature given comments. @perexg any comments on above feature ?

[2020-03-18 11:47] bardliao commented on #2529
@jajanusz Please below is the environment to repro it.
Platform:  Dell CML-H laptop
kernel: https://github.com/bardliao/linux/commits/synchronize-playback
FW&Tplg: https://github.com/bardliao/sof/commits/demux-test

[2020-03-18 12:15] bardliao commented on #2529
dd->frame_fmt is always 2, and local_fmt depends on the testing wav format. ie. It is 0 for S16_LE and 2 for S32_LE. But I don't know how to check if we use functions defined in pcm_converter_generic.c or pcm_converter_hifi3.c.

[2020-03-18 12:21] Liviali155 commented on #2532
Tried with PR  #2563 on BSW,error not seen

[2020-03-18 12:22] tanuk commented on #2553
@lgirdwood I'm not involved with Ubuntu, are you mixing me with someone else?

[2020-03-18 12:26] lgirdwood commented on #2571
@buscon you will need the CNL GCC compiler, we are working on making the Cadence XCC compiler a free download too.
https://thesofproject.github.io/latest/platforms/index.html

However, most laptops and PCs are using FW code signing meaning Intel or the OEM can only sign the code for those devices. If you want to run your own code on Whiskeylake then you will need a Whiskeylake Chromebook or the UP

[2020-03-18 12:44] jajanusz commented on #2529
Can you change 0x02 in demux blob (it takes format from there instead from pipeline)?
[code]
There should be 0x00 for 16 bits.
So it'll look more like:
[code]
Let me know if that helps.

[2020-03-18 12:53] buscon commented on #2571
thank you!

[2020-03-18 12:53] #2571 closed

[2020-03-18 13:04] tlauda commented on #2531
@sinahuang Could you check again? I've rebuilt the master with this option disabled and the test has passed 300 times on your platform.

[2020-03-18 13:54] singalsu commented on #2379
The PR is #2574 . I just noticed that speaker-test can't be used with "-t wav" with different "-r" than the supplied "speaker left, speaker right" wav clip 48 kHz. Option "-f 997 -t sine" works for any "-r".

[code]

[2020-03-18 14:10] tlauda commented on #1819
@emilchudzik Please reopen after feature is merged to master and issue still exists.

[2020-03-18 14:10] #1819 closed

[2020-03-18 14:23] lgirdwood commented on #2572
@buscon there should be nothing preventing this except maybe the topology doesn't support the jack config (I think you are also probably the first person to try Jack). Any chance you can share your dmesg, plus any other logs (sof-logger will dump FW logs).
It does look like the topology you are using does not support 32bit via the PCM (but pipeline may do internally within DSP), can you try 24 or

[2020-03-18 14:34] lgirdwood commented on #2553
@tanuk apologies if I am, are you still maintaining debian audio packages ?

[2020-03-18 14:41] buscon commented on #2572
Thank you for your answer.

Dmesg does log something else, maybe it tells you something? Here it is:
[11276.589313] snd_hda_codec_realtek ehdaudio0D0: didn't find PCM for DAI Digital Codec DAI
[11276.589314] snd_hda_codec_realtek ehdaudio0D0: ASoC: can't open codec Digital Codec DAI: -22
[11276.589315]  Digital Playback and Capture: ASoC: BE open failed -22
[11276.589316]  HDA Digital: ASoC: faile

[2020-03-18 15:01] yongzhi1 commented on #2560
Thanks @tlauda , with that now I have:
localhost ~ # sof-logger -l /home/sof-jsl.ldc
 CORE  LEVEL      COMP_ID                TIMESTAMP            DELTA                FILE_NAME	CONTENT
    0      1          KPB 8.41       506767.760417    506767.750000      src/audio/kpb.c:596 	kpb_copy() error: nothing to copy sink->free 0 source->avail 1296
    0      1          KPB 8.41       546768.072917

[2020-03-18 15:04] tlauda commented on #2560
@yongzhi1 Could you check whether the same issue happens on master + #2562? It might be either some missing hotfix or some kind of bug in topology.

[2020-03-18 15:39] plbossart commented on #2572
@buscon can you first try with plain vanilla aplay and use hw:0,0? I don't think I've seen anyone use the Digital (SPDIF) output as well. and please attach the full dmesg log and point us to the link where the alsa-info.sh results are stored, thank you

[2020-03-18 15:46] lgirdwood commented on #2572
@buscon sof-logger is part of the sof repo, IIRC scripts/build-tools.sh should build it.

[2020-03-18 16:15] plbossart commented on #2569
Yeah, we need to be more careful with topology changes, we need the matching machine driver to be ready as well, or refer to a PR.

[2020-03-18 16:18] ranj063 commented on #2511
@RDharageswari looking at the original logs: It looks like after you start the WoV stream, the DSP enters D0I3 but never exits back to D0I0 when you close the stream. And this is why you see that the transition from D0I3 -> D3 ( 0 to 4 in the logs) is not allowed.

**[  348.303273] sof-audio-pci 0000:00:1f.3: New DSP state 0 substate 1** --> DSP is in D0I3
[  365.964915] sof-audio-pci 0000:00:1f.3

[2020-03-18 16:56] yongzhi1 commented on #2560
Hi, @tlauda ,

Applied #2562 on top of master branch at:
6749a36c3c33 ipc: buffer: Properly free buffer using buffer_free instead of rfree.
6e43ab8ecd9a ipc: buffer: Remove obsolete rfree on NULL pointer.

The logger complained version
localhost ~ # sof-logger -l /home/sof-jsl.ldc
Error: abi version in /home/sof-jsl.ldc file does not coincide with abi version used by logger.
logger ABI Version is

[2020-03-18 17:06] buscon commented on #2572
I did not mention that, but pulseaudio works without problems, so aplay with hw:0,0 works too.,
The alsa-info.sh results are here:
http://alsa-project.org/db/?f=178d7ffbb4b7854b1189531af241bf8019fb8cd7

Dmesg:
[dmesg.log](https://github.com/thesofproject/sof/files/4350309/dmesg.log)

[2020-03-18 17:09] buscon commented on #2572
ok, so far I've been using the already compiled version, so I do not have that for now.

[2020-03-18 17:24] tlauda commented on #2560
@yongzhi1 Looks like problem with DMIC.

[2020-03-18 17:37] yongzhi1 commented on #2560
Thanks @tlauda, will find a setup with working DMIC and share the results.

[2020-03-18 19:37] perexg commented on #2564
Adding @tiwai to the discussion. This is basically a loopback / slave device requirement. My opinions:

1) kernel should return an error when the stream is not available as proposed (ENODATA or ENOLINK etc.), if the PCM device is not able to give the silence
2) the stream presence should be detected using a control (ALSA control API)
3) UCM value should describe which control can be used for the d

[2020-03-18 21:58] #2551 closed

[2020-03-18 22:26] tlauda commented on #1655
@emilchudzik To be retested when feature is finally implemented on master.

[2020-03-18 22:26] #1655 closed

[2020-03-19 05:15] dengyangchao commented on #2379
After applied #2574 , below commands can work well, issue can't be reproduced.
[code]
If use command "speaker-test -Dhw:0,1 -r44100 -f1000 -c2 -t wav -l 10"  it shows sample rate doesn't match
[code]

[2020-03-19 06:32] sinahuang commented on #2531
Check it again with master (commit: f1fa3be9) +sof-dev(commit:45f6424) after disabled low power clock: Platform -> [ ] Enable low power ring oscillator as the default clock , issue still can be reproduced.

Test for 300 times, failed at 29th time.

[multipipeline_test_29_dmesg.log](https://github.com/thesofproject/sof/files/4352982/multipipeline_test_29_dmesg.log)

[2020-03-19 07:12] akloniex commented on #2533
@xiulipan any status update? do you need some help with demux configuration?

[2020-03-19 07:25] singalsu commented on #2379
Yep, that looks like a bug in speaker-test. It should resample the wav clip or issue an error if "-r" is given with -"t wav".

It's a good idea to replace 1 kHz sine wave tests with 997 Hz. 997 is prime number so it won't repeat the same PCM code values as 1 kHz would and possibly hide buffering errors.

[2020-03-19 07:35] bardliao commented on #2569
It should be "fixed" if we remove the [SOF_SDW_NO_AGGREGATED ](https://github.com/thesofproject/linux/blob/topic/sof-dev/sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c#L247)flag. But we still need #2539 #2540 or alternative PR to make synchronized playback work.

[2020-03-19 08:30] tiwai commented on #2564
Speaking of HD-audio HDMI: the dynamic PCM device creation was one of proposals at the time we had worked on HDA HDMI implementation.  But this approach wasn't taken because it didn't work with PA: PA expects the devices belonging to the card don't change once after probed.  USB-audio does the whole card-level hotplug / unplug, hence it works with the dynamic creation and removal, as suggested in

[2020-03-19 08:41] tiwai commented on #2564
I think we can see things separately: some feasible low-hanging fruits and the rest.
A good low-hanging fruit would be the new error code for the insufficient setup. This can be applied to a HDMI device, too, for example.  But, as mentioned in the above, we have to test this carefully before actually applying.

For the rest, the PCM stream dependency, there are indeed many different ways to solve

[2020-03-19 08:42] bardliao commented on #2529
@jajanusz With this change, S16_LE file can play but S32_LE is noisy.

[2020-03-19 08:50] tlauda commented on #2569
@bardliao Are you going to change something in topology or should we move this bug to linux repo?

[2020-03-19 09:13] xiulipan commented on #2533
@akloniex I am not sure if my configure is wrong, but I can make it work with 2-ch. But it seems not work well with 4-ch. Can you give some advice?

[2020-03-19 09:16] tlauda commented on #2533
@xiulipan @akloniex It's probably because mux/demux for some reason uses hardcoded format from blob instead from params. It's the same issue as with bit depth in #2529.

[2020-03-19 09:19] tlauda commented on #2531
@sinahuang Run 300 iterations again and test passed with low power clock disabled. Can you make sure you are using the right firmware?

[2020-03-19 09:28] tlauda commented on #2124
@lgirdwood @plbossart Keeping this here or maybe turning into feature?

[2020-03-19 09:28] #2123 closed

[2020-03-19 09:33] jajanusz commented on #2529
That's expected behaviour, you have to match format there with your format.

[2020-03-19 09:44] emilchudzik commented on #2529
@bardliao I have CML-H as you:
Platform: Dell CML-H laptop

I use your kernel and FW and topology.
kernel: https://github.com/bardliao/linux/commits/synchronize-playback
FW&Tplg: https://github.com/bardliao/sof/commits/demux-test

But I have no repro with it.

Then I try with your patch: https://github.com/thesofproject/sof/issues/2533 and still no repro.

I use alsamixer to volume up controls.
Th

[2020-03-19 09:49] bardliao commented on #2569
Can we ignore this issue and #2570 until #2539 and #2540 are merged? I will send a kernel PR to remove SOF_SDW_NO_AGGREGATED after #2539 and #2540 are merged.

[2020-03-19 10:24] emilchudzik commented on #2529
Could you share how you made loopback? I see in comments that you record to file output, so you have to modify toplogy to made loopback, right?

[2020-03-19 10:30] Liviali155 opened #2585 "[BUG][BDW]“DSP panic” when test "Check-playback: Stress - 100x""
Describe the bug
“DSP panic” when test "Check-playback: Stress - 100x",error occured when aplay via (0,0),after error occured,all the pipeline can not work,reboot can recovery

used device: sh-bdw-wsb-rt286-03
[code]

To Reproduce
1.sudo reboot
2.cd sof-test
3.cd test-case
4. export TPLG=/lib/firmware/intel/sof-tplg/sof-bdw-rt286.tplg
5. ./check-playback.sh -d 1 -l 100 -r 1(https://github.com/thes

[2020-03-19 10:52] bardliao commented on #2529
But, the problem is we don't know what format will user play. Besides, there is no issue on the 1st pipeline connected to demux. The issue happens only on the 2nd pipeline.

[2020-03-19 10:55] Liviali155 commented on #2585
same issue as https://github.com/thesofproject/sof/issues/2532

[2020-03-19 10:56] bardliao commented on #2529
Sorry, it should be #2541. I applied it to my repo, too
https://github.com/bardliao/sof/commits/demux-test

No, I didn't modify topology manually and yes, sof-cml-rt711-rt1308-rt715.tplg is the right one.

[2020-03-19 11:00] bardliao commented on #2529
Ok, I will do it.

[2020-03-19 11:11] tlauda commented on #2585
@Liviali155 The patch is already merged. Could you bisect?

[2020-03-19 11:26] emilchudzik commented on #2529
My mistake, I used 2541, not 2533 (error i pasting here)

[2020-03-19 11:44] singalsu commented on #2402
There's a fix proposal in PR #2587

[2020-03-19 12:27] bardliao commented on #2529
@emilchudzik The loopback environment is:
kernel: https://github.com/bardliao/linux/commits/demux-loopback-test
sof: https://github.com/bardliao/sof/commits/demux-looback-test
Please run below script before testing.
[rt711_mixer.txt](https://github.com/thesofproject/sof/files/4354383/rt711_mixer.txt)
[rt1308_mixer.txt](https://github.com/thesofproject/sof/files/4354384/rt1308_mixer.txt)
Open two t

[2020-03-19 12:45] sinahuang commented on #2531
Checked this issue on latest FW (commit:f1fa3be9) with disabled low power clock: Platform -> [ ] Enable low power ring oscillator as the default clock,test for 300 times, issue can't be reproduced.

[2020-03-19 13:24] tlauda commented on #2531
@mengdonglin Issue caused by overload of DSP. Similar to #2386 and #2280.

[2020-03-19 16:06] akloniex commented on #2533
@tlauda Mux/Demux uses params that were passed to it during params propagation, and overwrites what was in the blob in it's configuration, inside mux_params() function call.
The problem might occur if demux has 2 downstream pipelines with different number of channels configured, which was not doable in the past, when components held params, but currently, after moving params to buffers, such confi

[2020-03-19 16:07] lgirdwood commented on #2124
@plbossart machine driver infrastructure in ASoC  ? or something similar ? My only other though is putting this 400ms delay in codec trigger() (not used atm IIRC)

[2020-03-19 16:24] tlauda commented on #2533
@akloniex Actually you're right. Params are updated, but processing function is not. You've just rootcaused the issue.

[2020-03-19 16:34] akloniex commented on #2533
@tlauda You're right. In the past that was done in (de)mux_prepare function, but must've been lost to history.
I'm currently doing some minor cleanup around mux, so I might tackle this issue in the meantime.

[2020-03-19 17:24] ranj063 commented on #2511
problem root caused to a missing patch in the chrome backport:
"ASoC: SOF: Intel: CNL: add set_power_state() ops" https://github.com/thesofproject/linux/commit/73b51957122d

@sathya-nujella FYI

[2020-03-19 18:31] RDharageswari commented on #2511
Since we work remotely i was just able to do
arecord
Ctrl+C
multiple times and verify. I couldn't still validate the end to end stack.
As of now using the board from India and will verify it tonight with actual functionality and S0ix then update

[2020-03-19 18:31] RDharageswari commented on #2511
Since we work remotely i was just able to do
arecord
Ctrl+C
multiple times and verify. I couldn't still validate the end to end stack.
As of now using the board from India and will verify it tonight with actual functionality and S0ix then update

[2020-03-19 22:30] plbossart commented on #2124
we really need to expose MCLK, BCLK, FSYNC with the clock framework and let the machine driver turn them on/off at will (either on startup/shutdown or on DAPM event).

it's been done before by the Skylake driver. The main issue for us is the FSYNC which can only work if we start dummy DMA transfers with zero-ed data. MCLK and BCLK can be turned on without audio transfers.

[2020-03-20 06:27] tanuk commented on #2553
I have never maintained any packages in Debian. I maintain audio packages in OpenEmbedded.

[2020-03-20 07:14] kv2019i commented on #1346
@tlauda I'm stuck in a continuous stream of P1 bugs, so I haven't had time to test this in recent times. As nobody else seems to have hit this, let's downgrade to P3 and upon next triage round, let's close if no new findings (and I've not reproduce by that time).

[2020-03-20 07:15] tlauda commented on #1346
@kv2019i OK, thanks for the update.

[2020-03-20 09:09] tlauda commented on #2529
Fixed by #2589.

[2020-03-20 09:09] #2529 closed

[2020-03-20 09:10] tlauda commented on #2533
@xiulipan Let us know whether #2589 fixes the issue.

[2020-03-20 09:15] tlauda commented on #2560
@yongzhi1 Are you sure the topology is correct?
@keyonjie Could help verify if #2490 is OK?
KWD is working with our slim driver on JSL.

[2020-03-20 10:01] Liviali155 commented on #2585
Changed firmware to 20200214(commit:4d17d0de-XCC),issue can still be reproduced
Changed firmware to 20200103(commit:0194175d-GCC),no DSP panic,but there is "error: ipc timed out for 0x60010000 size 108" when test "Check-playback: Stress - 100x",log as below:

<details>
 <summary>sof_errortrace.log</summary>

[code]
</details>

<details>
 <summary>dmesg_error.log</summary>

[code]
</details>

[dmes

[2020-03-20 10:43] lgirdwood commented on #2124
@plbossart we could hook this into hw_params IPC. i.e. have a topology flag that just says "keep playing silence until trigger(start)". This way FW can play silence, we schedule pipeline normally but we manually disconnect the DAI source component from the DAI buffer (until we get trigger(start) where we can then reconnect the DAI buffer source component and process the full pipeline).
@tlauda any

[2020-03-20 10:54] xiulipan commented on #2533
@tlauda @akloniex It seem the 4ch => 2ch or 8ch => 4ch DEMUX still not working well
@emilchudzik could you confirm do you check DEMUX like this?

I am using https://github.com/thesofproject/sof/pull/2525
Please also help to check if my control bytes have any issue in #2525
4ch => 2ch sof-tgl-nocodec-mux-4ch.tplg
![image](https://user-images.githubusercontent.com/37825714/77156706-dd833600-6ada-11e

[2020-03-20 10:58] juimonen commented on #2533
@xiulipan check this out: https://github.com/thesofproject/sof/pull/2594
would probably help you a lot in configuration...
also this might help:
https://github.com/thesofproject/sof-docs/pull/203

[2020-03-20 11:12] xiulipan commented on #2533
@juimonen I checked my byte configure, and I think I have the right configuration. The result looks wired, so I need to double confirm about the configuration so that we can start to reproduce the issue.

[2020-03-20 11:16] lgirdwood commented on #2553
Thanks @tanuk, must be my age!  I do remember you working on Pulseaudio and audio userspace when you were at Intel. I think @dbaluta is taking care of packaging SOF for OE atm.

[2020-03-20 12:05] plbossart commented on #2124
We already have parameters for this in hw_params, but we need this even outside of hw_params, when there is no streaming.
E.g. if you want to turn the clocks on at boot and leave them on, it has to be a separate IPC.
In the cAVS days, the IPC was something related to DMA configs.

[2020-03-20 12:16] singalsu commented on #2402
@jdrzaszcz PR #2587 is now merged. Can you please re-test?

[2020-03-20 12:28] tlauda commented on #2533
@xiulipan Your configuration looks OK. Could you make sure that your SSP is configured to 4/8 channels? And also please try with FW built with disabled low power clock. I've noticed that DEMUX is very load heavy. Platform -> [ ] Enable low power ring oscillator as the default clock.

[2020-03-20 14:46] azrdev commented on #2102
I can confirm a booting Thinkpad X1 Carbon Gen.7 (no kernel or DSP crashes) of Fedora31 with package versions
kernel-5.5.9-200.fc31.x86_64
alsa-ucm-1.2.2-1.fc31.noarch
alsa-firmware-1.2.1-4.fc31.noarch

and the following kernel boot log in dmesg:
[code]

[2020-03-20 15:10] singalsu commented on #2379
PR #2574 is merged so we can close this issue.

[2020-03-20 15:10] #2379 closed

[2020-03-20 16:25] lgirdwood commented on #2124
@plbossart so you mean for the DAI topology load part ? I though we had that part, its should be simple enough from FW side. i.e. we append the "enabled DAI playback of 0s" check when we do the pipeline complete IPC, this would switch ON the DAI (we would need to de-couple the source component like before though).

[2020-03-20 16:41] ranj063 commented on #2511
@RDharageswari can you please close this issue once you've verified with the added kernel patch?

[2020-03-20 16:57] plbossart commented on #2124
@lgirdwood I meant than the machine driver could control when the clock are turned off/on, for example when the dailinks are initialized, or on a DAPM event. This is really machine specific and doesn't belong in the topology btw, it's tied to external codec requirements, not to the firmware topology

[2020-03-20 19:06] RDharageswari commented on #2511
@ranj063 , I couldnt verify the functionality lsat night due to limited board availability. Will get the board only on Monday.

[2020-03-20 22:05] yongzhi1 commented on #2560
Hi @tlauda , @keyonjie, I double checked the topology, but did not catch anything unusual:

![widegts](https://user-images.githubusercontent.com/19287706/77209499-6646a580-6acc-11ea-97a3-4a1a59985306.png)

[2020-03-23 09:45] xiulipan commented on #2511
I have create sof-tgl-max98373-rt5682.tplg with KWD in https://github.com/thesofproject/sof/pull/2405

@RDharageswari @emilchudzik could you have a try on the Chrome DUT?
I am using the latest master FW 9da1fce2478df1f5b4993228410ecadae35c22bd
and sof-dev kernel 9b5b6c2a3aef3ed119f89cd5cdd0726153b71bd4

[2020-03-23 09:52] jdrzaszcz commented on #2402
I have re-tested this issue with master branch and can't reproduce.

[2020-03-23 09:52] #2402 closed

[2020-03-23 10:28] singalsu commented on #2402
Great! Also thanks for a lot of help from you with this issue!

[2020-03-23 12:34] tlauda commented on #2585
@Liviali155 Have this ever worked?

[2020-03-23 14:16] lgirdwood commented on #2585
@Liviali155 can you try the following diff
[code]

I'm suspicious we have a problem waiting on DMA channels flushing. This should at least give us more insights.

[2020-03-23 15:07] Liviali155 commented on #2585
on latest sof/dev+matser still has this issue

[2020-03-23 15:10] lgirdwood commented on #2585
@Liviali155 can I see the logs for the above diff. This will stop the idle panic, but it may provide more detail in dmesg, trace or error trace.

[2020-03-23 15:11] Liviali155 commented on #2585
How should I try

[2020-03-23 15:39] lgirdwood commented on #2585
Open src/lib/agent.c (in a text editor) and comment out the lines in red above to look like the lines in green.

[2020-03-24 01:55] bardliao commented on #2570
The issue is ``error: can't find BE for DAI ALH0x202.OUT`` This is due to mismatch between machine driver and topology. It will be fixed by https://github.com/thesofproject/linux/pull/1928

[2020-03-24 02:09] bardliao commented on #2569
This is due to mismatch between machine driver and topology. It will be fixed by thesofproject/linux#1928

[2020-03-24 03:17] keyonjie commented on #2531
I hit similar issue during DSM playback and echo reference capture running simultaneously, I think we should disable LPRO by default until we can handle it dynamically, thoughts? @mmaka1 @tlauda

[2020-03-24 06:15] RDharageswari commented on #2511
i verified the Wov functionality with the latest master FW 9da1fce
and the missed patch "ASoC: SOF: Intel: CNL: add set_power_state() ops" thesofproject/linux@73b5195
functionality works fine.

[2020-03-24 08:12] #2511 closed

[2020-03-24 08:15] mengdonglin commented on #2386
Caused by DSP overload, commented by @tlauda  https://github.com/thesofproject/sof/issues/2531#issuecomment-601175843

[2020-03-24 08:16] mengdonglin commented on #2280
Caused by DSP overload, please see comments of @tlauda  https://github.com/thesofproject/sof/issues/2531#issuecomment-601175843

[2020-03-24 09:29] sinahuang commented on #2569
Issue can't be reproduced with sof-dev (commit:9b5b6c2a3)+pr1928 and master(commit:d12ad78) +pr2569+pr2540+pr2541.

[2020-03-24 09:29] sinahuang commented on #2570
Issue can't be reproduced with sof-dev (commit:9b5b6c2a3)+pr1928 and master(commit:d12ad78) +pr2569+pr2540+pr2541.

[2020-03-24 11:40] Liviali155 commented on #2585
On latest sof/dev(9b5b6c2a)+master(d12ad78d), seems the Reproduction Rate is very low,
 I  run "./check-playback.sh -d 1 -l 100 -r 1" 6times.only reproduced once "error: ipc timed out for 0x60010000 size 108"

After I comment out the lines in red  line then build the firmware to run below command agagin,issue can not be reproduced
1."./check-playback.sh -d 1 -l 100 -r 1"  6 times
2../check-playbac

[2020-03-24 11:57] tlauda commented on #2585
@Liviali155 @lgirdwood I think it just randomly reproduced for my PR: https://sof-ci.01.org/sofpr/PR2593/build5499/devicetest/.

[2020-03-24 12:05] tlauda commented on #2585
@lgirdwood Unfortunately I don't think the agent will work correctly for platforms, which are not scheduled based on timer. Its purpose is to detect drifts in timer interrupts, but with pipelines scheduled asynchronously on DMAs we can easily starve the agent. Taking into consideration that BYT/CHT and HSW/BDW platforms are not supposed to handle more complicated processing, maybe we should disabl

[2020-03-24 12:16] lgirdwood commented on #2585
@tlauda ack, we should have the kconfig option and disable for older platfioms.

[2020-03-24 13:33] lgirdwood commented on #2564
@mengdonglin @lbetlej we need the following items fro the low hanging fruit. Most items below are only a few lines of code. This should then mean we are good for all similar pipelines where we have dependent PCM or linked PCMS. @dgreid @cujomalainey good for you guys, may delay echo ref a few weeks.

- [ ] Firmware to return -ENODATA on trigger(START|RELEASE) for PCM pipelines with no data. @aklon

[2020-03-24 13:47] perexg commented on #2564
UCM already has SND_USE_CASE_MOD_ECHO_REF modifier for this. No change is required.

[2020-03-24 14:04] kv2019i commented on #2564
@lgirdwood I can take the error passing tasks, no prob, but think they are purely nice to have for the full feature. Not all applications trigger the stream explicitly (with 0<start_threshold<buffer_size), so even if passed, a category of apps will not be handling this. But yes, it is still helpful for debug, so we can do this. I don't think it should delay the feature though.

The really mandator

[2020-03-24 14:21] perexg commented on #2564
HDMI: Perhaps the audio driver can be notified about the not available GFX at the device creation time.

[2020-03-24 14:25] lgirdwood commented on #2564
This should still be propagated up from FW to userspace as a negative code so most applications should pick this up whether using ALSA R/W IO or mmap APIs.

But yes, it is still helpful for debug, so we can do this. I don't think it should delay the feature though.

Yes, CRAS will know the correct order to trigger the PCMs(), but I think @cujomalainey will take care of the CRAS parts.

[2020-03-24 22:31] lgirdwood opened #2622 "[BUG] Firmware crash on COMP_NEW IPC"
**Describe the bug**
Firmware will crash on topology PCM load if DC blocker component is built in and NOT used.
[code]

**To Reproduce**
Merge https://github.com/thesofproject/sof/pull/2462 and load FW.

**Reproduction Rate**
100%

**Environment**
Master HEAD. In fact master from last few days been failing on CI.

[2020-03-24 23:52] elorriaux opened #2623 "[BUG] Failed to use SOF on HP zbook 15 G6"
**Describe the bug**
dmesg reports:
[    4.122285] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    4.122812] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[    4.123269] sof-audio-pci 0000:00:1f.3: enabling device (0000 -> 0002)
[    4.123798] sof-audio-pci 0000:00:1f.3: warning: No matching ASoC machine driver fou

[2020-03-25 00:43] marc-hb commented on #2543
FWIW reproduced with out-of-the-box alsa-lib 1.2.2-1.fc31

[2020-03-25 09:05] dengyangchao opened #2628 "[BUG][UP2][PCM512X]Headset arecord can't capture voice"
**Describe the bug**
PCM512x arecord can't capture voice. No error message.
[code]

**To Reproduce**
1."Sudo reboot" with headset connected.
2.cd sof-test
3.cd test-case
4. export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-pcm512x.tplg
5. ./check-capture.sh -d 100 -l 1 -r 1(https://github.com/thesofproject/sof-test/blob/master/test-case/check-capture.sh)

**Reproduction Rate**
100%

**Expected beha

[2020-03-25 09:24] tlauda commented on #2628
@dengyangchao There are no FW logs. Are you sure it's not kernel/alsamixer/UCM problem?

[2020-03-25 09:31] dengyangchao commented on #2628
@tlauda i have updated a sof log, i'm not sure it is a sof issue or kernel issue, so i open a bug here to track, if it is a kernel issue ,i'll transfer to kernel

[2020-03-25 11:04] Liviali155 commented on #2585
Tried with PR #2617,run 2000 times,error not seen
./check-playback.sh  -d 1 -l 2000 -r 1

[2020-03-25 11:05] keyonjie commented on #2533
I spent some time to understand how mux/demux and its configuration blob work, I think basically they can work, though the channel mapping/mask is a little bit convoluted.

What I concern most is that we have designed a too *powerful* component -- which can not only support channel multiplexer, but also channel mixer features. The good point is that it is very flexible for use, but the bad point i

[2020-03-25 11:19] tlauda commented on #2533
@keyonjie Good point. I have minor patch in the backlog, which instead of iterating over all source channels, it only scans channels mask. From what I've seen it cuts down MCPS by 30% for 8 channels, but still we are talking about ~70 MCPS for two sink buffers.

@singalsu Do you know if there is a smart way for doing this using SIMD instructions? We basically  just need to take mask of channels fr

[2020-03-25 11:36] Liviali155 commented on #2386
After  disabled low power clock: Platform -> [ ] Enable low power ring oscillator as the default clock,error not seen on TGL-U RVP with onboard codec ALC711 in HDA mode

[2020-03-25 12:30] singalsu commented on #2533
The SIMD multiply or multiply-add instruction can be set to work with slots of data with multiplier weights set to fractional 0 or 1.0 values to let the slots pass. The control decoding should set up this kind of weights vector in advance for copy() operation to consume along data. Such way the demux processing should be fast. The weight can be 16 bit so then the multiply should be able to handle

[2020-03-25 12:50] juimonen commented on #2533
Generally I would not vote for degrading the functionality. If we are mix/muxing 8 channels, it _will_ take mips. If we are taking mips, but not doing anything useful, it should be fixed.

[2020-03-25 14:08] jajanusz opened #2631 "[FEATURE] Scripts with arguments should use getopts"
**Is your feature request related to a problem? Please describe.**
Manual parsing of arguments makes code harder to read can cause issues like one that is reported here: https://github.com/thesofproject/sof/pull/2625

**Describe the solution you'd like**
Use getopts where applicable

[2020-03-25 14:09] #2585 closed

[2020-03-25 14:11] lgirdwood commented on #2533
@keyonjie we should NOT be mixing any channels here. We should only be muxing or demuxing them. The enum kcontrols will fully support any mapping in both modes.

@juimonen @singalsu @tlauda The mapping functionality means we need to do expensive operations during init only and de-compose the copy() to a more complex memcpy()

MUX: we have multiple sources and one sink. e.g.
[code]
and the same for

[2020-03-25 15:40] keyonjie commented on #2533
I think we have no real usage of the channel mixing function from mux/demux component until now, so it is not too late to degrade it if it really help on performance.

[2020-03-25 15:56] keyonjie commented on #2533
This is good example, ack.

[2020-03-25 18:10] #2570 closed

[2020-03-26 03:00] ClarexZhou commented on #2628
The PCM512x we used not support Port5 capture. Close.

[2020-03-26 03:00] #2628 closed

[2020-03-26 03:41] sinahuang opened #2633 "[BUG][CML-H]" error: ipc error for 0x60010000 size 20" display when aplay via speaker0,2."
**Describe the bug**
Speaker0,2 can't work normally, dmesg show " error: ipc error for 0x60010000 size 20".  " error: ipc error for 0x60010000 size 20" also can be showed in dmesg after booting up successfully.

**To Reproduce**
1.Boot up system.
2.aplay -Dhw:0,2 -fs16_le -c2 -r 48000 -vv -i wav/48California_Dreaming.wav

**Reproduction Rate**
5/5

**Expected behavior**
Aplay0,2  should work norma

[2020-03-26 05:35] ArtOfSettling opened #2635 "[BUG] Failed to detect Audio Card Samsung Book Flex 2020."
Default install of Ubuntu 18.04 LTS, required driver sof-icl.ri was not installed by default, after manually installing latest version (1.4.2), Dummy Audio is still detected and system fails to find Audio Card.

Expected behavior
Audio Card should be detected and functional after installing SOF driver.

Impact
No Audio / Mic

Environment
Kernel : 5.5.13-050513-generic

[code]

[2020-03-26 06:26] ArtOfSettling commented on #2635
Ok, so I managed to get somewhere with this myself. It seems like I was somehow missing the required firmware. The file 'sof-hda-generic-2ch.tplg' was missing from my system. I downloaded it manually and got  bit farther. My system now detects some cards and Audio Devices show up correctly on my system. However there is no audio.

My dmesg...

[code]

[2020-03-26 06:49] ArtOfSettling commented on #2635
Some additional logs whilst playing back audio.

[code]

[2020-03-26 07:12] sinahuang commented on #2633
Test with sof-dev ( commit:a27277) and master (commit:  ae53aeb)+PR#2540 +pr#2539, issue can be fixed.

[2020-03-26 08:28] tlauda commented on #2622
Issue fixed in #2462 itself.

[2020-03-26 08:28] #2622 closed

[2020-03-26 08:30] #2569 closed

[2020-03-26 08:53] Liviali155 opened #2638 "[BUG][GLK]"error: ipc error for 0x60010000 size 20" when arecord via dmic(0,99) using S32_LE/ S24_LE format"
**Describe the bug**
"error: ipc error for 0x60010000 size 20" when arecord via dmic(0,99) using  S32_LE/ S24_LE format
If using S16_LE has no this issue,after issue occured ,all the other pipeline can work normally
[code]

**To Reproduce**
1.sudo reboot
2. arecord -Dhw:0,99 -r 48000 -c 4 -f S32_LE  test.wav -vv -i

**Reproduction Rate**
10/10

**Expected behavior**
Dmic arecord can work normally

[2020-03-26 08:57] Liviali155 commented on #2638
Changed the kernel and master to 20191201 also has this problem

[2020-03-26 09:21] Liviali155 commented on #2638
On CML Chrome with onboard codec RT5682 and RT1011 in I2S mode has no this issue

[2020-03-26 12:00] lgirdwood commented on #2635
@ArtOfSettling it looks liek the FW you have is older, can you try the latest stable v1.4.2
https://github.com/thesofproject/sof-bin
It's in the stable-v1.4.2 branch.

[2020-03-26 12:54] ArtOfSettling commented on #2635
Yes, no worries.

Boot dmesg after the uograde :

[code]

When playing audio the following repeats

[code]

[2020-03-26 13:47] crazoes commented on #2631
@jajanusz @dbaluta I am working on this one.

[2020-03-26 13:56] lgirdwood commented on #2635
@juimonen is @ArtOfSettling missing UCM/Pualseaudio patches ?

[2020-03-26 14:03] ArtOfSettling commented on #2635
Definitely not, actually, I have not patched either. Do you have the patches to hand (or know where I can find them)?

-------- Original Message --------
On Mar 26, 2020, 22:56, Liam Girdwood wrote:

[2020-03-26 14:40] plbossart commented on #2635
For Ubuntu 18.04 LTS, see see https://github.com/thesofproject/linux/issues/1877#issuecomment-596600017

[2020-03-26 15:03] jajanusz commented on #2631
@crazoes Thanks, I've updated description to use `getopts` instead of `getopt`, I think it's better cos it's in posix standard while `getopt` is not. Are you ok with that?

[2020-03-26 15:06] jajanusz commented on #2631
Also there is one script that uses it already: https://github.com/thesofproject/sof/blob/9d9620ae05ca351d53f71f6d0a3a7587cc650e23/scripts/scan/clang-scan-build-xtensa.sh#L37

[2020-03-26 16:47] lgirdwood commented on #2638
@Liviali155 please check that your topology supports this format.

[2020-03-26 17:44] sebcarlucci opened #2643 "[BUG] Segmentation Fault when running testbench for processing components"
**Describe the bug**
Running the testbench causes a seg fault. I was able to isolate the issue at
_src/include/sof/audio/pipeline.h_ in the function pipeline_posn_offset_get().

I tried removing commits e34a64d16a582d7399f630a0e7110755a39fca4f and b20191b362a6d14a44eead247ae677edd90ff6dd and this issue was resolved.

**To Reproduce**
Run the testbench

**Reproduction Rate**
100%

**Environment**
s

[2020-03-26 17:45] sebcarlucci commented on #2643
fyi @singalsu @tlauda

[2020-03-26 18:12] singalsu commented on #2643
Please try this PR #2630

[2020-03-26 18:25] cujomalainey commented on #2564
I spoke with the audio team. Our tech lead broke down the variations of definitions

[code]

I have added a task to my item list to align our upstream naming for conflicting devices

Also as @perexg mentioned we are not aligned with upstream on how to define an echo reference channel, that we will need to fix as well. Does the upstream definition have a clarification on whether the reference chann

[2020-03-26 18:36] sebcarlucci commented on #2643
issue fixed by PR #2630

[2020-03-26 20:42] lgirdwood commented on #2564
IIUC we have the SND_USE_CASE_MOD_ECHO_REF modifier which could contain a token indicating PCM triggering order. It would be an

The naming collision above is a bit unfortunate, is the Google naming in the CRAS codebase ? I winder if we could we alias some of this via UCM to align better.

I've edited below with my understanding/suggestions
[code]
_* means we use the SND_USE_CASE_MOD_ECHO_REF modi

[2020-03-26 22:30] akloniex commented on #2478
@lgirdwood What should xrun-permitted buffers report when asked for avail/free data?
`(uint32_t)-1` seems 'most reasonable', but it doesn't feel comfortable, please clarify that for me.
If such buffer reported actual avail/free, client component would prevent xrunning in the first place, so such buffers need to alter their reports somehow.

[2020-03-27 07:23] Liviali155 commented on #2638
I used below command to check ,support S32_LE/ S24_LE format:
[code]

[2020-03-27 08:30] singalsu commented on #2643
It's not yet merged. Let's reopen this.

[2020-03-27 09:04] keqiaozhang opened #2645 "[BUG][TGL][KWD] KWD only works with buffer_size >= 67200,"
**Describe the bug**
KWD only works with buffer size >=67200, or it will be failed with "ipc error for 0x60010000 size 20"
So what the range of buffer size for KWD on TGL?

**To Reproduce**
$ arecord -Dhw:0,100 -M -N -c 2 -f S32_LE -r 16000 --buffer-size=67100 kwd.wav -vvv

**Reproduction Rate**
10/10

**Expected behavior**
KWD can works with different buffer size

**Impact**
What impact does this

[2020-03-27 09:16] Liviali155 opened #2646 "[BUG][GLK]"DSP panic" when do module load/unload test"
**Describe the bug**
"DSP panic" when do  module load/unload test,Seems only a error message,has no imapct on function
After error occured,all the pipeline can work normally

**To Reproduce**
1.sudo reboot
2. cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-glk-da7219.tplg
5../check-kmod-load-unload.sh(https://github.com/thesofproject/sof-test/blob/master/test-case/check-kmod-load-

[2020-03-27 09:17] Liviali155 commented on #2646
Changed the Firmware to 20191201(feb9e2b) also has this problem

[2020-03-27 09:27] Liviali155 commented on #2646
On CML Chrome with onboard codec RT5682 and RT1011 in I2S mode
TGL-U RVP with onboard codec ALC711 in HDA mode
has no this issue