[2020-03-27 10:25] lgirdwood commented on #2478
@akloniex I think it's appropriate to say that these buffers will report they have buffer_size free and buffer_size avail.

[2020-03-27 10:31] lgirdwood commented on #2478
@akloniex in fact we probably want to be more logical here with rules.

1) Buffer is full data - report buffer_size avail and period_size free
2) Buffer is empty - report period_size avail and buffer_size free
3) Buffer is not empty or full - report normally.

This way we should not block existing users.

[2020-03-27 10:41] paulstelian97 commented on #2478
How would the data itself be extracted from the buffers now? Until now it was simply by requesting a pointer for each sample from the buffer but now I feel like this approach may not work properly. Did I miss a PR which changes this logic?

[2020-03-27 10:42] keyonjie commented on #2533
@xiulipan @bkokoszx @akloniex I have root caused the noise issue here, will submit a PR tonight.

[2020-03-27 10:48] paulstelian97 commented on #2643
@singalsu It is now.

[2020-03-27 10:54] singalsu commented on #2643
Yep it is. I'll close this!

There's another issue in testbench build it seems that is related to gcc version 9.2.1. I can create a PR for it.

[2020-03-27 10:54] #2643 closed

[2020-03-27 11:12] lgirdwood commented on #2638
@bkokoszx this is another one where we need the 2/4 channel DMIC option.

[2020-03-27 11:16] lgirdwood commented on #2645
@keyonjie @mrajwa I guess this is intentional, we should have this in topology though so that ALSA will reject this directly.

[2020-03-27 11:31] lgirdwood commented on #2646
I see this twice in the logs **before** the FW boots. Could this be left over from a previous FW crash or @lbetlej is it a ROM error ?

[2020-03-27 12:09] mrajwa commented on #2645
@lgirdwood yes this behaviour is expected. We reject buffer sizes which won't allows for secure draining, especially in d0ix. By having this in the topology I guess you min to set MIN_BUFFER_SIZE accordingly to our calculated min buffer size so ALSA will reject user space request right away right?
If so I agree and I will add this support to the topology.

[2020-03-27 12:36] lgirdwood commented on #2478
It will us the same approach as the DMA trace buffer, i.e. oldest data is discarded

[2020-03-27 12:38] lgirdwood commented on #2533
@keyonjie Will your PR include the performance fix ?

[2020-03-27 13:12] lgirdwood commented on #2645
@mrajwa yep, that's what I mean. Thanks.

[2020-03-27 14:38] akloniex commented on #2478
@paulstelian97 @lgirdwood wrote how this situation will be handled, few comments above:

[2020-03-27 15:00] paulstelian97 commented on #2478
So the buffer is modified accordingly.

[2020-03-27 16:29] ranj063 opened #2650 "[FEATURE]Improve probe point add API"
**Is your feature request related to a problem? Please describe.**
When multiple probe points are added with the same command, only probe points with valid input description should be added and the rest disregarded.

**Describe the solution you'd like**
Currently, the API returns an error upon hitting the first invalid probe point description. Instead, we should process all valid inputs and reject

[2020-03-27 16:29] ranj063 commented on #2650
@abonislawski FYI

[2020-03-27 20:19] cujomalainey commented on #2564
Yep, that is correct.

@dgreid thoughts? @chiang831

[2020-03-28 04:04] keyonjie commented on #2533
@lgirdwood not yet, the performance fix is a relative big change(corresponding tplg/blob and ABI changes needed) so better to do it after the recent releases.

Here comes the PR: https://github.com/thesofproject/sof/pull/2653, please help review, it is verified  in DSM+Echo Ref scenario.

[2020-03-28 04:54] ArtOfSettling commented on #2635
Ran this with and without blacklisting.

dmesg shows

[code]

Seems like it actually detects and does some work with the microphone, still no sound unfortunately

[2020-03-28 09:14] chiang831 commented on #2564
Hi Liam, could you please point me to an example of the token defined in
SND_USE_CASE_MOD_ECHO_REF modifier ?
I could not find the doc in https://www.alsa-project.org/alsa-doc/alsa-lib/group__ucm.html or the existing UCM using that token.

In CRAS use case, CRAS needs to know the echo reference device name for a speaker device.
Ideally, after scanning through UCM file when the card struct and devi

[2020-03-28 09:53] crazoes opened #2656 "[BUG] Incorrect cmake command while building fuzzer with build-tools.sh"
**Describe the bug**
When using the build-tools script to build the fuzzer, in build step for `sof_parser_ep`, one of the cmake commands is not correct. Getting the following halfway in the output:

[code]

Despite this, the script and build both are running successfully or so it seems, so this may or may not be a bug, but this certainly doesn't look right since one of the intermediate cmake comma

[2020-03-28 10:22] YvonneYang2 opened #2658 "[BUG][CML]DSP Panic occurred when pause/resume on aplay0,2(RT1308)"
**Describe the bug**
DSP Panic occurred when pause/resume on aplay0,2(RT1308)
Revert commit 6713d90, issue is gone. It seems the change of commit 6713d90 has conflicts with https://github.com/thesofproject/linux/pull/1897

**To Reproduce**
1. Boot up.
2. Run command via "aplay -Dhw:0,2 -r48000 -c2 -fs16_le wav/48California_Dreaming.wav -vv -i"
3. Do pause/resume, if issue not reproduced, please do

[2020-03-28 11:07] #2453 closed

[2020-03-28 11:07] #2548 closed

[2020-03-28 16:09] marc-hb commented on #2551
Submitted different fix: `Revert __builtin_assume_aligned(4) probe packet, replace with aligned(4)` #2655

[2020-03-28 17:12] plbossart commented on #2635
@ArtOfSettling can you share the results of "arecord -l"
Or better yet just the link to the results of alsa-info (or alsa-info.sh, can't recall how it's called)

[2020-03-28 23:02] ArtOfSettling commented on #2635
alsa-info as requested :)

http://alsa-project.org/db/?f=cf6d6a903ddb5068115d0e1306fc0f5bec10ce32

[2020-03-28 23:19] plbossart commented on #2635
@ArtOfSettling so you do have a DMIC device, so can you just try and record manually?

See https://github.com/thesofproject/linux/issues/1877#issuecomment-595978695

[2020-03-28 23:27] ArtOfSettling commented on #2635
I tried both arecord and aplay (for input / output) but neither played or recorded anything. :(

[2020-03-28 23:38] ArtOfSettling commented on #2635
I'm not sure if ts is usefu information but I managed to get audio paying trough my bluetooth headphones if I navigated to the settings pane and manually changed the profile (The profile at the bottom of the sound settings pane). It was already set to High Fidelity Playback but I had to change it to HSP/HFP and back to High Fidelity Playback, then audio came over when using bluetooth headphones.

[2020-03-28 23:41] ArtOfSettling commented on #2635
I've actually noticed that I can hear audio with incredibly low volume and tons of distortion if using wired headphones. It's barely perceptible. alsamixer shows everything turned up to the max.

[2020-03-28 23:43] plbossart commented on #2635
can you
a) dmesg -C (to clear console)
b) arecord -Dhw:0,6 -c2 -r48000 -f S32_LE -d 10 mytest.wav
c) provide both terminal output and dmesg log

Thanks! And no the BT info is not useful, different subsystem.

show the terminal output when you did record?

[2020-03-28 23:49] ArtOfSettling commented on #2635
Here ya go.

[code]

[2020-03-29 16:55] plbossart commented on #2635
Have you tried to play or visualize mytest.wav, e.g. with audacity?
Also we'd need dynamic debug enabled. I don't know if there's a shortcut to do it, we typically enable this by default in our development tree.

[2020-03-29 19:24] lgirdwood commented on #2656
@jajanusz any inputs ?

[2020-03-29 23:04] fredoh9 opened #2661 "[Enhancement] sof-apl-dmic clean up"
**Describe the bug**
There are many sof-apl-dmic*.m4 in topology. Most of codes are duplicated and can be shared/reused. Maybe some files can be deleted simply. And review entire DMIC macro for further enhancement.

1. sof-apl-dmic-a2ch-b2ch.m4
2. sof-apl-dmic-a2ch-b4ch.m4
3. sof-apl-dmic-a2ch.m4
4. sof-apl-dmic-a4ch-b2ch.m4
5. sof-apl-dmic-a96k-b16k.m4
6. sof-apl-dmic-b2ch.m4
7. sof-apl-dmic.m4

[2020-03-30 00:39] plbossart commented on #2661
to the best of my knowledge, these files are for test purposes and are not used as-is by the driver - I am not aware of any case where we look for those files in ACPI tables (see sound/soc/intel/common)

So maybe we can move them to a test directory, but I am not sure there's value in optimizing them. Macros, etc, quickly make files complicated for tests.

@singalsu this is for you :-)

[2020-03-30 04:10] marc-hb commented on #2656
Good catch, even more impressive catch without #2654 :-)

I had a very quick look at this.

Here's a more "focused" reproduction:

[code]

The `tools/fuzzer/CMakeLists.txt:ExternalProject_Add(sof_parser_ep,...)` command looks suspicious.

It's very scary that this failure doesn't stop the build, but maybe it's just because this library is not used anywhere now yet built anyway because of `BUILD_AL

[2020-03-30 06:49] RanderWang commented on #2658
https://github.com/thesofproject/sof/blob/master/src/drivers/dw/dma.c#L348.  Since sdw controller is stopped first, so DW FIFO will never be consumed, so timeout occurred, and watch dog will reset hardware.

[2020-03-30 07:20] RanderWang commented on #2658
@ktrzcinx  can you check 1edaef67f40afd84a0b40d38fb06b4aa05abd0a5, it is only applied for BYT & CHT.

[2020-03-30 09:34] singalsu commented on #2661
Yep I created this to test various non-symmetrical configurations for the DMIC IP. They really belong to test topologies like the SSP variations.There's a lot more supported variation than this set that I at time of creation considered as minimum to test.

I need to figure out how to script the possible parameters combinations and add that to tplg-build.sh. The topology file names will change to f

[2020-03-30 09:52] galmoc commented on #2635
hi all, thank you for this great thread and your efforts!

i have a very similar issue with my Acer Swift SF 314-57. maybe it's the same chipset as in the Samsung Book Flex, didn't check.

I updated the firmware,
Downloaded the last _'sof-icl.ri'_ file and put it in '/lib/firmware/intel/sof',
Modified 'alsa-base.conf' to add blacklists

 No luck so far. only my Bluetooth headset allows me to hear

[2020-03-30 12:22] sinahuang commented on #2386
Issue still can be reproduced on CML-H with sof-dev  (commit:a272777 + PR1943 + PR1954+PR1897 )and cml-011-drop-stable  (commit:c48aeff).

[dmesg30.log](https://github.com/thesofproject/sof/files/4402579/dmesg30.log)
[sof_1_trace30.log](https://github.com/thesofproject/sof/files/4402581/sof_1_trace30.log)
[sof_error_trace30.log](https://github.com/thesofproject/sof/files/4402599/sof_error_trace30.

[2020-03-30 17:59] plbossart commented on #2635
@galmoc Ubuntu kernel 5.3.0-42 is known to be broken. please try and update, newer versions look fine.

[2020-03-31 01:55] ArtOfSettling commented on #2635
@galmoc I'm not sure we have the exact same issues, but I have also updated my kernel from 5.3.x. I'll create a gist with everything i've done when I manage to get it all working.

@plbossart I ended up listening to the file on another machine and there is playback, sure enough. URL, if you're interested in hearing me clap : https://keybase.pub/terrydrever/mytest.wav

So, we have successful record

[2020-03-31 02:53] mengdonglin commented on #2507
worked around by https://github.com/thesofproject/sof/pull/2647

[2020-03-31 02:55] Liviali155 commented on #2507
Error not seen because PR #2647 merged，closed it

[2020-03-31 02:55] #2507 closed

[2020-03-31 07:17] mengdonglin commented on #2633
PR #2540 is closed and replaced by https://github.com/thesofproject/sof/pull/2594. PR #2539 is closed and to be replaced by new PR by @slawblauciak

[2020-03-31 09:45] slawblauciak commented on #2270
@mrajwa any updates on this issue?

[2020-03-31 10:45] Liviali155 opened #2672 "[BUG][CML]ASRC]“error: ipc error for 0x60010000 size 20” when aplay/arecord with headset(0,0)"
**Describe the bug**
“error: ipc error for 0x60010000 size 20” when aplay/arecord with headset(0,0)

[code]
**To Reproduce**
1.download sof-hda-asrc-2ch.tplg rename to sof-hda-generic-2ch.tplg
2.sudo reboot
3.aplay -Dhw:0,0 -r48000 -c2 -fs16_le  wav/48California_Dreaming.wav -vv -i or
  arecord -Dhw:0,0 -r48000 -c2 -fs16_le s30.wav

**Reproduction Rate**
5/5

**Expected behavior**
The pipeline can

[2020-03-31 10:46] ktrzcinx commented on #2658
Thanks @RanderWang , @YvonneYang2 please check reproduction with changes from https://github.com/thesofproject/sof/pull/2673

[2020-03-31 11:21] Liviali155 opened #2674 "[BUG][CML][EQ]"no FIR or IIF filter is available in this pipeline, skip" when do EQ test"
**Describe the bug**
" no FIR or IIF filter is available in this pipeline, skip" when do EQ test
The pipeline aplay/arecord normally
[code]
**To Reproduce**
1.chmod +x sof-ctl
2.sudo mv sof-ctl /usr/bin/
3.get sof-hda-generic-eq-2ch.tplg,then renamed to sof-hda-generic-2ch.tplg
4.reboot
5.cd sof-test
6.cd test-case
7.export TPLG=/lib/firmware/intel/sof-hda-generic-2ch.tplg
8../check-audio-equalize

[2020-03-31 11:52] plbossart commented on #2635
@ArtOfSettling Capture seems fine, no? what volume issue are you referring to?

![Screenshot from 2020-03-31 06-51-02](https://user-images.githubusercontent.com/1149035/78023325-0e097200-731c-11ea-96bc-4784503ae15b.png)

[2020-03-31 11:53] ArtOfSettling commented on #2635
@plbossart capture looks perfect, but when I play it back on my machine, there's no audio coming from the speakers (or headphones).

[2020-03-31 13:46] paulstelian97 commented on #2635
@plbossart I think he's saying that he can't listen his recording on the affected machine, there is a volume issue on the playback side.

@ArtOfSettling If you can kill pulseaudio and try playing with aplay instead (as root would be simplest) and let us know if it's audible that way it would be nice, to be able to distinguish between kernel/firmware (which would also affect aplay) vs UCM (which on

[2020-03-31 14:03] plbossart opened #2676 "[BUG] IPC error with SSP slave on Up2"
**Describe the bug**
IPC error after underflow / TRIG_STOP

**To Reproduce**
boot, modprobe snd-sof-pci, speaker-test -Dhw:0 -c2 -r48000

**Reproduction Rate**
100%

**Expected behavior**
no underflows w/ slave mode and no IPC error

**Impact**
showstopper

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: {SHA} a

[2020-03-31 14:10] plbossart commented on #2676
One observation is that the DSP doesn't seem to go to D3, ever, as if it was busy all the time?

[2020-03-31 14:24] plbossart commented on #2635
@ArtOfSettling did you install the UCM files as recommended:
https://github.com/thesofproject/alsa-ucm-conf/tree/sof_ucm1/ucm/sof-skl_hda_card

[2020-03-31 23:22] ArtOfSettling commented on #2635
@plbossart , @paulstelian97 is correct, I can't listen to the recording on my affected machine, the volume is incredibly low and distorted when using wired headphones, when using the built in speakers, I can't hear anything at all.

@paulstelian97 I killed pulseaudio and tried aplay, but still nothing perceptible from my speakers, same problem from my headphones.

@plbossart I have indeed installe

[2020-04-01 04:55] aiChaoSONG opened #2678 "[RFC] clarify firmware errors and warnnings"
On CI, we have a test case to check firmware trace log, and grep "error" from the log. But sometimes, we see the key word "error" in the trace log, but the error is not actually a really error.
For example: `ERROR validate(), ll drift detectec, data = 25549`  and other block alloc errors.

We are not sure we should fail the test case or not. We can make a white list to ignore those "errors", but b

[2020-04-01 04:58] aiChaoSONG commented on #2678
@lgirdwood @tlauda @ktrzcinx @mmaka1 @bkokoszx @dbaluta @jajanusz @slawblauciak @wwittbrx

[2020-04-01 05:31] YvonneYang2 commented on #2658
Issue can be reproduced on below test recipe:

**kernel**: topic/sof-dev branch commit 3bdd89d + thesofproject/linux#1943 + thesofproject/linux#1954 + thesofproject/linux#1897
**FW**: master branch commit 1e39cee

Then tried to apply #2673 on master, issue is fixed.

[2020-04-01 06:15] keqiaozhang opened #2679 "[BUG][DSM] Channel 3,4 are empty when testing with S16_LE format"
**Describe the bug**
Tested the DSM on TGL, S24_4LE and S32_LE are working well. but when testing with S16_LE format, channel 3 and 4 are empty in the recorded wav. From waveform, it looks like the data of channel 3 and 4 are mixed in channel 1 and 2.

![DSM](https://user-images.githubusercontent.com/22468760/78111848-e0ade880-742f-11ea-83fd-3163ddf32fdf.PNG)

**To Reproduce**
aplay -Dhw:0,0 -f S1

[2020-04-01 07:59] xiulipan commented on #2646
@lgirdwood the pattern is quite wired, I think there is a DSP panic happen before the FW load success. log from a PR CI test: https://sof-ci.01.org/sofpr/PR2680/build5647/devicetest/GLK_BOB_DA7219/check-kmod-load-unload/dmesg.txt

`0x0dead000  => SOF_IPC_PANIC_MEM `
[code]

[2020-04-01 08:36] singalsu commented on #2672
@mengdonglin Yep, this is known. Playback is rejected due to incorrect pipeline paramters (zero sample rate). There's no more crash , it was fixed by my PR, but the same fix as was done for SoundWire by @bardliao needs to be done for HDA.

[2020-04-01 08:39] slawblauciak commented on #2679
Low priority for now, this format is not supported currently.

[2020-04-01 10:44] lbetlej opened #2682 "[FEATURE] Formalize tracking if all content from product branches is upstreamed"
**Is your feature request related to a problem? Please describe.**
There is a need to establish procedure to verify that fixes/features are not lost during upstream process between product release (from release branch) and master branch.

**Describe the solution you'd like**
For every commit on a product branch there is created a separated issue. The issue is assigned to author of a commit on a pr

[2020-04-01 10:47] paulstelian97 commented on #2635
So capture works but playback doesn't, at either kernel or firmware level.

When trying aplay, can you also fiddle around in alsamixer to try to unmute or give an increased volume? (try the easiest fixes _first_ to see if there is merely a configuration issue instead of an actual bug)

[2020-04-01 10:50] paulstelian97 commented on #2682
I think this belongs to the linux repo? For SOF this repo _is_ the upstream.

[2020-04-01 10:57] paulstelian97 commented on #2679
Probably the DMA engine is still configured for 4 bytes per elementary transfer instead of 2? Who's the owner of the DMA engine on this platform?

[2020-04-01 11:02] paulstelian97 commented on #2678
The ll drift detected one should be transient, maybe a reason of concern but could happen when the load is high (multiple pipelines stress test). I think this one is fine to ignore for the most part (when the drift is too high you get a panic though)

Allocation errors may be considered errors, however there was a rejected proposal to mark certain allocations as not giving out an error (via usage

[2020-04-01 11:07] lbetlej commented on #2682
@paulstelian97 By upstream I meant the master branch in SOF firmware repo. There is a bunch of additional branches in the repo that are used for SOF releases targeting dedicated customers/features. There changes from the branches are later upstreamed (merged to master) following standard PR review process.

[2020-04-01 11:15] paulstelian97 commented on #2682
Ah, fair enough, this wasn't clear to me.

I still think that for those of us who receive notifications for all of the PRs/issues or whenever I'm trying to look for an old PR this may generate a lot of noise.

[2020-04-01 11:56] juimonen commented on #2533
Hi, I tried the sof-apl-demux-pcm512 topology and with some older firmware it worked somehow (distorted sound), now when I updated to latest firmware, recording is totally silent... @kv2019i suspects we don't even have playback (with audible sound). Little bit difficult to remotely debug this...
@tlauda @akloniex can you try this in up2?

[2020-04-01 11:57] juimonen commented on #2533
and yes sorry I had my up2 dusting for a while, so no idea what he old firmware was. I was updating everything to latest and greatest.

[2020-04-01 11:59] ArtOfSettling commented on #2635
So, I tested every combination I thought was meaningful for my machine with alsamixer, it was basically fiddling with every settings on/off up/down and no luck with the audio. I'm attaching a screengrab of my alsamixer, see if anything is obviously borked. I tried with and without pulseaudio.

![Screenshot from 2020-04-01 20-57-28](https://user-images.githubusercontent.com/1755178/78134798-a9edc78

[2020-04-01 12:01] kv2019i commented on #2533
@juimonen Ack, demux topology doesn't work with today's FW master. I tried going back to 1.4.2 and there it still works as expected. So something has broke.

[2020-04-01 12:04] ArtOfSettling commented on #2635
If it's useful at all, the hardware specs for this device are listed as.

AKG Stereo Speakers ( Max 5 W x 2 ) with Smart Amp

[2020-04-01 12:08] ArtOfSettling commented on #2635
Another interesting thing is that I can see audio is being played with pavucontrol : (This is with pulseaudio and pavucontrol), but no sound  comes out of the speakers.

![Screenshot from 2020-04-01 21-06-53](https://user-images.githubusercontent.com/1755178/78135421-d5bd7d00-745c-11ea-896e-3eb7cbcb4359.png)

[2020-04-01 13:06] lgirdwood opened #2684 "[BUG] IPC timeout setting DAI config"
**Describe the bug**
IPC timeout when setting DAI config for SSP5 reported by CI several times now.

**To Reproduce**
Run the following test
[code]

**Reproduction Rate**
Not sure, probably 50% since I've seen it twice on CI.

**Expected behavior**
No FW crash

**Impact**
Showstopper

**Environment**
CI config
[code]

**Screenshots or console output**
[code]
Please also include the relevant sectio

[2020-04-01 13:27] ArtOfSettling commented on #2635
Some additional potentially useful information :

UCM files :
![Screenshot from 2020-04-01 22-25-47](https://user-images.githubusercontent.com/1755178/78142411-df98ad80-7467-11ea-97a8-65b2eedad4ee.png)

sof firmware files :
![Screenshot from 2020-04-01 22-23-54](https://user-images.githubusercontent.com/1755178/78142453-eaebd900-7467-11ea-86a5-283b81f05bee.png)

Is it possible my setup is selectin

[2020-04-01 13:36] wenqingfu commented on #2646
from CI results in a timeline, this is a regression started happening in the last two days.

[2020-04-01 13:37] paulstelian97 commented on #2635
Hm I wonder if the Smart Amp has something to do with this, I have seen that there are a few open pull requests so I'm not certain about the support.

Topology should be selected correctly by the Linux driver based on ACPI and SMBIOS information so, unless there is a peculiar bug in this situation, it should be correct.

[2020-04-01 13:40] dwrobel commented on #2684
I'm observing the similar repeating on the  Lenovo Yoga C740-14IML.

dmesg excerpt:
[code]

kernel: kernel-5.5.11-200.fc31.x86_64

[2020-04-01 13:53] dwrobel commented on #2684
A question, is there maybe a way to somehow reload/reboot the firmware without rebooting the whole machine?

[2020-04-01 15:01] lgirdwood opened #2687 "[BUG] mux/demux should not do channel mixing"
**Describe the bug**
Demux and mux should do demux and mux only. No mixing. Mixing is done by the mixer. Mux/demux currently is over complex and heavy at 70MCPS

**Expected behavior**
No mixing.
Mux N:1 stream only.
Demux 1:N streams only.

**Impact**
It's almost unusable today by most sof-developers due to configuration complexity and doing too much. Lets simplify to reduce complexity and MCPS. T

[2020-04-01 15:18] mmaka1 commented on #2678
No error should be whitelisted imo. Unexpected events that do not reduce any functionality as the system is able to recover should not be logged as errors. The latter is sth to stop, investigate and fix.
There is a PR (see link above) that addresses the agent message.

[2020-04-01 15:27] lgirdwood commented on #2684
@dwrobel thanks for the info, best to unload and reload the SOF driver modules. I think auto recovery is on @plbossart plans for SOF driver, but not sure when .

[2020-04-01 15:42] lgirdwood commented on #2533
See #2687 lets simplify.

[2020-04-01 15:44] lgirdwood commented on #2679
Isn't demux/mux used here ? see #2687

[2020-04-01 15:45] lgirdwood commented on #2682
@wenqingfu any inputs ?

[2020-04-01 15:52] lgirdwood commented on #2646
@xiulipan panic does a ```while(1)``` so should not get any further.
@Liviali155 can you bisect given it's only started to happen in last 2 days.

[2020-04-01 15:56] plbossart commented on #2635
@ArtOfSettling yes at this point I would try and blacklist snd-sof-pci and 'unblacklist' snd-hda-intel.
If you can't get any playback working with the legacy HDaudio platform, then it's a codec issue. Maybe you have a missing quirk or something.

The SOF driver is only needed for the DMIC, and you've shown this work. So let's try the playback part and triangulate what the issue might be.

[2020-04-01 15:58] plbossart commented on #2684
when we have a watchdog coming from the DSP :-)

[2020-04-01 16:00] lgirdwood commented on #2684
@plbossart hehe, I was thinking some reload logic tacked onto IPC timeout handling. i.e close any open streams and reload FW

[2020-04-01 16:04] kv2019i commented on #2635
@ArtOfSettling @plbossart Yup, it starts to look like ALC298 codec driver is also missing some functionality, see e.g. this:
https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/1851518

[2020-04-01 16:33] mrajwa commented on #2270
@slawblauciak @zrombel the fix should be covered by this PR https://github.com/thesofproject/sof/pull/2688

[2020-04-01 16:34] mrajwa commented on #2645
@lgirdwood  I have added patch for it in this PR https://github.com/thesofproject/sof/pull/2688

[2020-04-01 16:54] mrajwa commented on #2560
@yongzhi1 please provide FW & Kernel commit ID + the topology file you are using.

PS: The topology graph you provided above is not very readable and likely not correct

[2020-04-01 18:19] fredoh9 opened #2689 "[RFC] enhance topology validation"
**Describe the bug**
Lately I have worked on topology clean up and enhancements. Before every push I need to make sure no side effect nor unwanted changes are accidentally introduced. Simple changes also required careful check. Sometime quotation or extra `,` create different results. hard to find.

Current sof-ci supports checkpatch and build. Defintely we need more.

1. M4 macro validation. I fo

[2020-04-01 18:46] plbossart commented on #2684
that's a part of the solution, but that requires the driver to send IPCs, which isn't necessarily possible or practical in all cases. E.g. during playback there are no IPCs, or only indirect ones when an underflow is reported by the core.

[2020-04-01 20:37] marc-hb commented on #2678
Thanks, I agree non-errors should not lie and pretend they are errors, this is confusing not just for CI but for everyone :-) I can think of one exception though: when _testing error handling itself_ (the area that consistently has the least test coverage). In that particular case the tests themselves are ideally smart enough to trap the logs?

[2020-04-01 23:36] ArtOfSettling commented on #2635
@paulstelian97 @plbossart Yes! You guys are completely correct, if I blacklist snd-sof-pci and get snd-hda-intel running, I have exactly the same problem.

In that case the steps i've run so far (incase they're useful for anyone else with mic issues).

from a base of ubuntu 18.04 LTS,
1. update kernel to 5.5.13,
2. Install linux-firmware (somehow it was missing from my system).
3. Add the UCM file

[2020-04-02 01:58] RanderWang commented on #2658
thanks @ktrzcinx  and @YvonneYang2 , so this PR is effective.

[2020-04-02 02:35] Liviali155 commented on #2646
I check the test result of CI,it should not be a regression,the result of 20200320 has DSP panic too,because the issue https://gitlab.devtools.intel.com/sof-ci/sofcitest/issues/407,the error was not found
[code]
<details>
 <summary>dmesg_error.log</summary>

[code]
</details>

[check-kmod-load-unload.sh.txt](https://github.com/thesofproject/sof/files/4418609/check-kmod-load-unload.sh.txt)
[cmd.txt

[2020-04-02 02:41] ArtOfSettling commented on #2635
I followed the thread from @kv2019i (https://bugs.launchpad.net/ubuntu/+source/alsa-driver/+bug/1851518) but was unable to get anything working. Attached is a screenshot of everything I tried after switching away from sof.

![Screenshot from 2020-04-02 11-39-49](https://user-images.githubusercontent.com/1755178/78205313-cbd86000-74d6-11ea-833b-0d5a41804bde.png)

I tried 4 different models, but eac

[2020-04-02 03:14] ArtOfSettling commented on #2635
Please ignore the above, I had not correctly unblacklisted sof.

I managed to get at least headphones working.

[2020-04-02 04:04] sinahuang opened #2690 "[BUG][CML][tplg]"error: ipc error for 0x60010000 size 20" happened after booting up successfully."
**Describe the bug**
Dmesg shows "error: ipc error for 0x60010000 size 20" after booting up successfully.

**To Reproduce**
1.Boot up system successfully
2.Check the dmesg.

**Reproduction Rate**
5/5

**Expected behavior**
Ipc error should't  happen after boot up successfully.

**Impact**
"error: ipc error for 0x60010000 size 20" happened after booting up successfully.
[code]

**Test recipe**

Ker

[2020-04-02 04:28] sinahuang commented on #2690
Bisect result:
Caused by commit: https://github.com/thesofproject/sof/commit/f755277000b56a4a240809ba1a6bb52288c4895d
@libinyang , please help to check it.

[2020-04-02 05:39] sinahuang commented on #2690
On ubuntu 20.04, error also can be reproduced if  ctrl+ c to stop any piple's playback.

[2020-04-02 07:59] lgirdwood commented on #2684
@plbossart I think we should be OK here as any stream error (caused by FW crash) would mean no movement of the hw_ptr which will always result in an IPC (where we can trap the crash).

[2020-04-02 09:04] lgirdwood commented on #2689
@fredoh9 some of these need to go into the ALSA compiler, i..e validation of type

[2020-04-02 11:17] Liviali155 opened #2693 "[BUG][APL]"error: ipc error for 0x80010000 size 12" when do check-kmod-load-unload-after-playback.sh test"
**Describe the bug**
"error: ipc error for 0x80010000 size 12" when do check-kmod-load-unload-after-playback.sh test
After error occured,all the pipeline can not  work,reboot can recovery

**To Reproduce**
1.sudo reboot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg
5../check-kmod-load-unload-after-playback.sh -l 50

**Reproduction Rate**
2/3

**Expect

[2020-04-02 15:04] kv2019i commented on #2564
@lgirdwood @perexg @cujomalainey et al I've confirmed -ENODATA is passed to user-space correctly through kernel driver (I only had to modify FW, no changes to kernel were needed).

With unpatched application, trying to record from echo reference PCM without the master device running, one gets this:
arecord: pcm_read:2103: read error: No data available

I also made RFC patches to alsa-utils and als

[2020-04-02 16:27] plbossart opened #2696 "[FEATURE] update system agent to deal with DMA scheduling"
**Is your feature request related to a problem? Please describe.**
Follow-up to https://github.com/thesofproject/sof/pull/2671, let's make sure the system agent does work with DMA-based scheduling (either disabled or more intelligent)

No solution in mind, just making sure we don't forget about this thread.

[2020-04-02 21:45] lgirdwood commented on #2564
@chiang831 apologies, missed this update until Kai posted.

@juimonen can you help here, is this in the UCM2 updates ?

ok, this is fine. You will need to check your XRUN handling as the echo ref may return -ENODATA if it's starved long enough during XRUN handling on the primary PCM.

Yes it does thanks.

[2020-04-02 21:46] lgirdwood commented on #2564
@kv2019i ok, that's great - did the kernel need any update for PCM to PCM topology ?

[2020-04-03 00:04] yongzhi1 commented on #2560
Hi, @mrajwa,

Here is the kernel I am using:
https://chromium.googlesource.com/chromiumos/third_party/kernel/+/refs/heads/chromeos-5.4

Just rebased topology  #2490 and rebuild FW at
d00c8d599bae kpb: perform additional pointer sanity checks.

With the follow cmd, the log showed failure at validate_host_params() for HOST_BUFFER_MIN_SIZE(hb_size_req) > host_buffer_size:

# arecord -Dhw:0,6 -M -N -c

[2020-04-03 06:35] juimonen commented on #2564
I think the ECHO_REF token is an oldie in alsa-lib, but I've not seen it any conf actually using it...
@perexg you know any conf using that or other examples?

[2020-04-03 09:20] emilchudzik commented on #2679
Issue fixed on:
Sof: bkokoszx/topic/smart-amp-revert-mux (859110d79)
Tplg: sof-tgl-smart-amplifier.m4 (rename it to sof-tgl-nocodec.tplg)

Checked on:
Kernel: thesofproject/linux topic/smart-amp topic/smart-amp (10b767431cbb)
Platform:TGL

[2020-04-03 09:21] mrajwa commented on #2560
@yongzhi1, you are missing a kernel patch from @keyonjie I believe. Clearly you are asking for host buffer size 64000 frames but getting about half of it. @keyonjie, can you point @yongzhi1 to the patch which fixes the problem with setting host buffer size? I've checked his topology and it looks OK in terms of min/max settings.

[2020-04-03 09:25] mrajwa commented on #2560
@yongzhi1, can you please try to add this kernel patch https://github.com/thesofproject/linux/pull/1717/commits/bf82c24a59b83f0d116c8f969887ad78471f595d

[2020-04-03 09:27] Liviali155 opened #2700 "[BUG][CML]"error: ipc timed out for 0x60040000 size 12" after bootup"
**Describe the bug**
"error: ipc timed out for 0x60040000 size 12" after bootup,all the pipeline can not work

**To Reproduce**
1.sudo reboot
2."dmesg -w" to check dmesg

**Reproduction Rate**
3/5

**Expected behavior**
There is no error message in dmesg,all the pipeline can work

**Impact**
"error: ipc timed out for 0x60040000 size 12" after bootup,all the pipeline can not work

![webwxgetmsgimg]

[2020-04-03 09:40] keyonjie commented on #2560
Sorry, worked on TGL and didn't notice the tagging to me.

@yongzhi1 there is issue with your tplg, the KWD pipelines are mixed. let me review your .m4 file and give some comments.

[2020-04-03 09:47] keyonjie commented on #2533
@juimonen @kv2019i can you try the latest master as @akloniex 's #2600 was merged yesterday?

[2020-04-03 09:49] emilchudzik opened #2701 "[BUG][TGL][DSM] Unexpected samples at the end of rec file."
**Describe the bug**
There is unexpected samples at the end of recorded file, when used DSM feature on TGL platform with nocodec mode.

Begining is OK:
![begining](https://user-images.githubusercontent.com/41113230/78346041-c8101080-759e-11ea-9e05-8abac43dd29f.PNG)

Ending is not OK:
![end](https://user-images.githubusercontent.com/41113230/78346048-c9d9d400-759e-11ea-81ab-dd3837f8a724.PNG)

**To

[2020-04-03 09:53] Liviali155 opened #2702 "[BUG][CML]"DSP panic" after bootup"
Describe the bug
"DSP panic " after bootup,all the pipeline can not work

To Reproduce
1.sudo reboot
2."dmesg -w" to check dmesg

Reproduction Rate
2/5

Expected behavior
There is no error message in dmesg,all the pipeline can work

Impact
"DSP panic" after bootup,all the pipeline can not work
![webwxgetmsgimg](https://user-images.githubusercontent.com/56707932/78347864-aed58700-75d3-11ea-9fff-ea4

[2020-04-03 09:54] Liviali155 commented on #2702
Error not seen on ubuntu 18.04

[2020-04-03 09:54] Liviali155 commented on #2700
Error not seen on ubuntu 18.04

[2020-04-03 09:54] Liviali155 commented on #2700
Related with https://github.com/thesofproject/sof/issues/2702

[2020-04-03 10:01] lgirdwood commented on #2700
I'm suspecting this is related to Pulseadio on ubuntu 20.04 probing the PCM devices and the FW is getting in a mess. I guess this is not seen if you disable PA on Ubuntu 20.04 ?

[2020-04-03 10:07] YvonneYang2 commented on #2533
Tested it with latest sof-dev (commit:fce7f93) + master (commit: d7ad0c13), issue can still be reproduced on APL-UP2-PCM512X.
tplg: same as fw branch: rename sof-apl-demux-pcm512x.tplg to sof-apl-pcm512x.tplg

Reproduce steps:
[code]
Screenshot:
![2ch](https://user-images.githubusercontent.com/50347470/78348914-61f2b000-75d5-11ea-82ba-c2baf4a08f01.PNG)

[wav_files_and_demsg_sof_trace.zip](https://

[2020-04-03 10:09] keyonjie commented on #2560
@yongzhi1 looks your new version works now?

![image](https://user-images.githubusercontent.com/10458135/78349410-2c9a9200-75d6-11ea-9161-dd5fe025be3c.png)

[2020-04-03 10:33] ClarexZhou opened #2703 "[BUG] [CML] IPC timed out for 0x60040000: GLB_STREAM_MSG: TRIG_START on ubuntu 20.04"
**Describe the bug**
IPC timed out for 0x60040000: GLB_STREAM_MSG: TRIG_START on ubuntu 20.04 with UCM2

Error not seen with ubuntu 18.04 with UCM1.

**To Reproduce**
1.  System os is 20.04 (get from cdimage.ubuntu.com/ubuntu/daily-live/current)
2. UCM2 https://github.com/thesofproject/alsa-ucm-conf/pull/29 is used and pulseaudio is enabled.
3. Boot up system and check dmesg -w

**Reproduction Rat

[2020-04-03 10:40] Liviali155 commented on #2700
Bisect result:Caused by firmware commit https://github.com/thesofproject/sof/commit/5550a5f6768d52b9793f964e5bdd522452012db4

@tlauda  please check it

[2020-04-03 10:45] Liviali155 commented on #2700
Yes,after disable PA,error not seen

[2020-04-03 10:48] Liviali155 commented on #2702
After disable PA,error not seen

[2020-04-03 12:33] kv2019i commented on #2564
Yeah, @chiang831 @juimonen , I don't think ECHO_REF has been used. It's a modifier in UCM, so in theory it would go like this (modifying the examples in use-case.h):

 1. Set verb to SND_USE_CASE_VERB_VOICECALL (for a call)
 2. Call snd_use_case_get("CapturePCM") and snd_use_case_get("PlaybackPCM") to get ALSA PCM names for speaker and microphone
 3. Set verb to SND_USE_CASE_VERB_VOICECALL (for a

[2020-04-03 12:50] lgirdwood commented on #2703
@mengdonglin @fkaczmar looks like we have a blocker for v1.5, pulseaudio has  some updates in the latest ubuntu that is breaking FW. There are a few other issues related to this today.

[2020-04-03 12:51] lgirdwood commented on #2703
@ClarexZhou does this happen when pulseaudio is disabled ?

[2020-04-03 13:44] kv2019i commented on #2703
Disabling pulseaudio is worth a try definitely. It seems one start IPC just fails. There are multiple successful starts, but one of them fails:

[    4.798245] sof-audio-pci 0000:00:1f.3: ipc tx: 0x60040000: GLB_STREAM_MSG: TRIG_START
[    5.305810] sof-audio-pci 0000:00:1f.3: error: ipc timed out for 0x60040000 size 12

In FW, only clear errors are these:

[ 13518802.135417] (             nan) c0

[2020-04-03 14:28] Liviali155 commented on #2674
On glk eq test also failed.all the pipeline can work normally
test step:
To Reproduce
1.chmod +x sof-ctl
2.sudo mv sof-ctl /usr/bin/
3.get sof-glk-eq-da7219.tplg,then renamed to sof-glk-da7219.tplg
4.reboot
5.cd sof-test
6.cd test-case
7.export TPLG=/lib/firmware/intel/sof-glk-da7219.tplg
8../check-audio-equalizer.sh(https://github.com/thesofproject/sof-test/blob/master/test-case/check-audio-equal

[2020-04-03 14:37] perexg commented on #2564
Note that UCM was designed mostly by Liam, so I am a bit surprised, why the ball is on my side (Liam's commit introduced this). The modifiers is something which was introduced in the beginning. It's true that they are not used to this time.

Modifier is the runtime thing. The idea is to allow the additional configuration when you activate such functions like the echo audio reference. You can just

[2020-04-03 15:08] kv2019i commented on #2564
@perexg wrote:

:) My bad completely, I just noted you mentioned ECHO_REF modifier in this thread, and didn't bother to checkup the code history at all. Thanks a lot for the reply. So this exists, but just hasn't been used yet. Please others take a look -- do we just go with the existing echo reference modifier, or add something new.

[2020-04-03 15:08] lgirdwood commented on #2564
@perexg I think the ball was passed in your direction since you mentioned using the modifier first :-)
In general, this was the intention of the modifier. It was to cover any extra optional configuration needed for the use case that would not fit elsewhere. It would work as intended in this case.

[2020-04-03 15:47] chiang831 commented on #2564
Thanks for the example and explanation.
I am still concerned on the usage and whether it can scale.
I listed my question below with the example by Jaroslav:

1. How to associate this echo reference modifier (and device) to the output device.
On one sound card, there are one speaker and one headphone output device.
Usually we know echo reference device should be associated with the speaker device.

[2020-04-03 15:55] perexg commented on #2564
The associated master devices are listed in SupportedDevices [] list. In the above example, the "Mic" device have the "Echo Reference" modifier. Multiple devices can be listed here, but it would also mean, that only one of those devices can be used at runtime (the SupportedDevice/ConflictingDevice lists should describe that correctly).

For multiple instances, I think that we should follow the rec

[2020-04-03 16:09] plbossart commented on #2703
@ClarexZhou please update the UCM files, I pushed to the wrong tree :-(

I have no issues on Olympic when doing basic tests + suspend resume.

[2020-04-03 16:14] fredoh9 opened #2707 "[Enhancement][Topology] configure filter effect for each pipeline"
**Describe the bug**
This is one of review comment and input from https://github.com/thesofproject/sof/pull/2660

From the above PR, PIPELINE_FILTERx is defined and it can be extended further. Currently PIPELINE_FILTER1 and PIPELINE_FILTER2 are defined, PIPELINE_FILTER1 for IIR and PIPELINE_FILTER2 for FIR. This way we can extend test with different IIR/FIR filters without duplicating topology fil

[2020-04-03 20:11] #2661 closed

[2020-04-04 12:51] chiang831 commented on #2564
Hi @perexg, thanks for the explanation.
I am not quite sure why a "Mic" device is associated with a "Echo Reference" modifier.
Maybe you mean the echo reference device is named "Mic."?

But since multiple devices can be put into SupportedDevice list, I guess my use case can be like:
[code]
If we can use this format, then CRAS can identify that there is a echo reference device at hw:${CardID},99 to

[2020-04-04 18:44] yongzhi1 commented on #2560
Thanks @mrajwa and @keyonjie,

Cherry-picked the 2 patches, with that:

1) The same error still happens for buffer-size=64000
arecord -Dhw:0,6 -M -N -c 2 -f S16_LE -r 16000 --buffer-size=64000 /tmp/tmp.wav -vvv -d 5
Recording WAVE '/tmp/tmp.wav' : Signed 16 bit Little Endian, Rate 16000 Hz, Stereo
arecord: set_params:1403: Unable to install hw params:
ACCESS:  MMAP_INTERLEAVED
FORMAT:  S16_LE
SUBF

[2020-04-04 22:33] leezu opened #2712 "[BUG] HP EliteBook 840 G6 SoF errors"
**Describe the bug**
On HP EliteBook 840 G6 with kernel 5.6.2 and linux-firmware 20200316, dmesg shows many sof related errors and the microphone does not work.

**To Reproduce**
Get a HP EliteBook 840 G6?

**Reproduction Rate**
Happens every time

**Expected behavior**
No errors in dmesg. Microphone works.

**Impact**
Microphone doesn't work.

**Environment**
1) Branch name and commit hash of the

[2020-04-05 02:04] keyonjie commented on #2560
@yongzhi1 please use buffer-size>=67200 otherwise the fw will reject. Yes, your tplg looks odd, the one I showed above is built after applied your tplg pr, let me attach my .tplg file.

[2020-04-05 15:58] keyonjie commented on #2560
Hi @yongzhi1 your detect pipeline is not started, looks the DAPM widget event not happens, looks your kernel is missing a lot of SOF commits upstreamed after 5.4, so I suggest to backport those commits to 5.4 kernel first.

[2020-04-05 23:28] yongzhi1 commented on #2560
Hi, @keyonjie, the kernel branch we are using is the same as TGL/volteer, should not we expect same behavior?

[2020-04-06 10:19] slawblauciak commented on #2703
@plbossart so this is a UCM issue?

[2020-04-06 11:02] kv2019i commented on #2564
Thanks @perexg and @chiang831 . So it seems the existing UCM infra actually can cover all the needs. As it is already there, I'd say let's start by using it.

[2020-04-06 13:06] slawblauciak commented on #2633
Fix awaiting merge #2666

[2020-04-06 15:08] lbetlej opened #2714 "Commit: e4d567c6: topology: buffer: Add flags field to struct sof_ipc_buffer."
This is automatically generated issue to track if changes from commit e4d567c6 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2715 "Commit: eb0b270c: topology: fix ID typo in kfbm pipeline"
This is automatically generated issue to track if changes from commit eb0b270c found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2716 "Commit: 1b7bfefc: topology: add pipe-vol-kfbm-capture to have vol before kfbm"
This is automatically generated issue to track if changes from commit 1b7bfefc found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2717 "Commit: e8ca50d0: topology: intel: add generic dmic key word dection"
This is automatically generated issue to track if changes from commit e8ca50d0 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2718 "Commit: 8f3e79ad: topology: add hda generic kwd pipeline"
This is automatically generated issue to track if changes from commit 8f3e79ad found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2719 "Commit: d6fd943d: topology: add KWD comp into sof-tgl-max98373-rt5682"
This is automatically generated issue to track if changes from commit d6fd943d found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2720 "Commit: 6069afa8: topology: add smart amp component type"
This is automatically generated issue to track if changes from commit 6069afa8 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2721 "Commit: 0a644fb9: smart_amp: add smart_amp component template"
This is automatically generated issue to track if changes from commit 0a644fb9 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2722 "Commit: 08b4510e: topology: m4: add dsm component for smart amplifier usage"
This is automatically generated issue to track if changes from commit 08b4510e found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2723 "Commit: 29168d7a: topology: add demux coef blob for use with smart amplifier"
This is automatically generated issue to track if changes from commit 29168d7a found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2724 "Commit: 838c99ee: topology: add demux capture pipeline"
This is automatically generated issue to track if changes from commit 838c99ee found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2725 "Commit: 8bedecb6: topology: TGL smart amplifier initial version"
This is automatically generated issue to track if changes from commit 8bedecb6 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2726 "Commit: 84d558a0: [Hack]topology: dsm_demux_coef: hack for nocodec LBM data check"
This is automatically generated issue to track if changes from commit 84d558a0 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2727 "Commit: 5f338c04: kpb: perform additional pointer sanity checks"
This is automatically generated issue to track if changes from commit 5f338c04 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2728 "Commit: 78d5a113: tgl: disable CONFIG_CAVS_LPRO"
This is automatically generated issue to track if changes from commit 78d5a113 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:08] lbetlej opened #2729 "Commit: 859110d7: mux: add handle of demux in .params() to fix noise issue"
This is automatically generated issue to track if changes from commit 859110d7 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-004-drop-stable are upstreamed.

[2020-04-06 15:55] plbossart commented on #2703
dunno, I couldn't reproduce this.

[2020-04-06 16:05] akloniex commented on #2714
https://github.com/thesofproject/sof/pull/2580 which consisted of that exact commit was merged 4 days ago.
@lbetlej Please verify that your inssue generator is properly tuned. Maybe it gave a false-positive, for commit which was on mater and not on tgl branch?

[2020-04-06 17:52] gingerDevilish opened #2733 "Automated code review for sof"
Hi!
I am a member of the team developing **monocodus** — a service that performs automatic code review of GitHub pull requests to help organizations ensure a high quality of code.

We’ve developed some useful features to the moment, and now we’re looking for early users and feedback to find out what we should improve and which features the community needs the most.

We ran **monocodus** on a pre-c

[2020-04-07 00:35] Liviali155 commented on #2693
Changed firmware to 20200318(a133d5d5),issue can not be reproduced
Changed firmware to 20200330(1ce07dcf),issue can be reproduced

[2020-04-07 04:09] YvonneYang2 commented on #2703
Checked newest ucm2 https://github.com/thesofproject/alsa-ucm-conf (commit: 4722f5b ) +PR#29 , issue is gone on cml-u

[2020-04-07 04:13] YvonneYang2 commented on #2703
Close it since not issue not reproduced with latest sof-dev(commit:052e45d7) + master(commit:b4e8b1e) + ucm2 ( https://github.com/thesofproject/alsa-ucm-conf (commit: 4722f5b ) +PR#29 )

[2020-04-07 04:13] #2703 closed

[2020-04-07 04:16] Liviali155 commented on #2700
Error not seen on latest sof/dev/ +master，closed it
Platform: CML laptop with onboard codec ALC3204 in HDA mode
Firmware: b4e8b1e4 https://github.com/thesofproject/sof/commits/master
Kernel: 052e45d7 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-2ch.tplg same as firmware

[2020-04-07 04:16] #2700 closed

[2020-04-07 04:18] Liviali155 commented on #2702
Error not seen on latest sof/dev/ +master，closed it
Platform: CML laptop with onboard codec ALC3204 in HDA mode
Firmware: b4e8b1e https://github.com/thesofproject/sof/commits/master
Kernel: 052e45d7 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-2ch.tplg same as firmware
UCM2:https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm

[2020-04-07 04:18] #2702 closed

[2020-04-07 04:39] keyonjie commented on #2560
Hi @yongzhi1 the DAPM widget power state doesn't work on your KWD pipelines, there is similar issue reported for TGL smart amplifier here: https://github.com/thesofproject/linux/issues/1987

Need further debug to root cause it.

[2020-04-07 05:26] Liviali155 opened #2735 "[BUG][APL]ipc error and error trace with "ERROR dw_dma_get_data_size(): xrun detected" when do Pause/Release: simultaneous playback/capture test"
Describe the bug
"ERROR dw_dma_get_data_size(): xrun detected" when do Pause/Release: simultaneous playback/capture  test
After error occured,all the pipeline can not work,reboot can recovery

Used ubuntu@sh-apl-up2-pcm512x-02:

[code]

[code]
To Reproduce
1.sudo reboot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-pcm512x.tplg
5../multiple-pause-resume.sh -r 25(h

[2020-04-07 05:32] sinahuang commented on #2690
Checked this  issue with master(commit:b4e8b1e4) + #2954 and topic/sof-dev(commit:052e45d) + #1982 + #1943, issue can't be reproduced.

[2020-04-07 05:54] fredoh9 commented on #2674
I tested eq test in WHL with sof-hda-generic-eq-4ch.tplg. Worked fine.

And I tested same eq test in CML Mantis with sof-hda-generic-eq-2ch.tplg. It worked fine as well. Please double check you used eq topology for testing
[code]

However for GLK is real error. GLK eq topology support only IIR filter in DMIC capture. Let me provide custom test script for now.

[2020-04-07 06:23] fredoh9 commented on #2674
When I submit equalizer test, I assume EQ in playback pipeline. That was not good assumption. And there is a TODO to update tplgtool to populate eq pipeline only. I will check with @aiChaoSONG for tplg tool support.

By that time, can you use this test script for glk eq test? I tested with sof-glk-eq-da7219.tplg in GLK BOBBA.
[check-audio-equalizer-glk-dmic.sh.txt](https://github.com/thesofproject

[2020-04-07 06:35] fredoh9 commented on #2674
For your CML Mantis error, I see you have only IIR.
`
2020-03-31 09:12:45 UTC [INFO] eq_support= EQIIR2.0
`

It should have IIR and FIR. I'm not sure what went wrong.
`
2020-04-06 23:29:34 UTC [INFO] eq_support= EQIIR1.0 EQFIR1.0
`

[2020-04-07 06:38] aiChaoSONG commented on #2674
@fredoh9 The feature is now available,  In the test script, use `func_pipeline_export $tplg "eq:any"` to get all pipelines with EQ. then iterate all pipelines you get as other test scripts do.

[2020-04-07 06:45] fredoh9 commented on #2674
@aiChaoSONG thanks. I will take a look when I'm available for this task.

[2020-04-07 07:16] slawblauciak commented on #2727
https://github.com/thesofproject/sof/pull/2681

[2020-04-07 07:16] #2727 closed

[2020-04-07 08:18] bardliao commented on #2690
So this should be a alh data param issue which will be fixed by  [thesofproject/linux#1982](https://github.com/thesofproject/linux/pull/1982) and [thesofproject/linux#1943](https://github.com/thesofproject/linux/pull/1943)

[2020-04-07 09:16] xiulipan commented on #2715
@lbetlej  what is AR for these sets of issues?

[2020-04-07 11:11] Liviali155 commented on #2735
Bisect result:Caused by firmware commit https://github.com/thesofproject/sof/commit/8b7f1fafd20e1a0445bda7ab30190559b592e7e6

[2020-04-07 11:38] slawblauciak commented on #2531
Hi @sinahuang, can you please retest it now?
The high performance clock is now default on TGL, as a result this issue should no longer occur.

[2020-04-07 11:41] slawblauciak commented on #2280
@sinahuang should no longer occur on master, high performance clock is enabled by default

[2020-04-07 11:42] slawblauciak commented on #2386
@sinahuang should no longer occur on master, high perf clock has been set as default

[2020-04-07 12:06] sinahuang commented on #2386
Issue can't be reproduced with sof-dev  commit:052e45d and master commit:  b4e8b1e4 on on CML-H and CML-U, so closed it

[2020-04-07 12:06] #2386 closed

[2020-04-07 12:07] sinahuang commented on #2280
Issue can't be reproduced with sof-dev commit:052e45d and master commit: b4e8b1e on on CML-H and CML-U, so closed it.

[2020-04-07 12:08] #2280 closed

[2020-04-07 12:09] sinahuang commented on #2531
Issue can't be reproduced with sof-dev commit:052e45d and master commit: b4e8b1e on TGL-U RVP with codec ALC711 in SDW mode and  RT1308 in I2S mode. So closed it.

[2020-04-07 12:09] #2531 closed

[2020-04-07 12:17] emilchudzik opened #2736 "[BUG] lost samples at beginning while stress demux"
**Describe the bug**
Lack of samples in demux tests at the beginning in recorded file. Topology scheme below.
Demux in this tests using masking will "redirect" odd channels to dai1 and even channels to dai2.

Topology:
![image](https://user-images.githubusercontent.com/41113230/78667036-8d78e180-78d8-11ea-9a9f-dab5eb8dc1e2.png)

**To Reproduce**
Python tests with slim driver on any audio format wi

[2020-04-07 12:54] lgirdwood commented on #2733
@gingerDevilish Thanks, I've installed to evaluate how useful it will be for SOF. we can then make a judgement and decide whether use or not. @thesofproject/steering-committee fyi

[2020-04-07 12:54] tlauda commented on #2696
@lgirdwood @mmaka1 Any ideas on how to make it work with DMA based scheduling, other than disabling the agent? The whole purpose of the agent is to track drifts in system ticks. Accepting any other async source of the interrupts kills this purpose. We could think about scheduling such pipes as EDF tasks, but it won't work for platforms, where DMA expects real-time data reload.

[2020-04-07 13:17] keyonjie commented on #2560
Hi @yongzhi1, can you help try if https://github.com/thesofproject/linux/pull/1993 can fix the issue?

[2020-04-07 13:17] paulstelian97 commented on #2696
Is it possible to have a hybrid approach, where platforms that don't require immediate reload can still schedule the DMA pipelines in EDF and benefit from the agent? The flow being something like: DMA driver is notified that an interrupt has arrived (possibly a new callback) if it needs to do something immediately, e.g. prepare new hardware transfer descriptors if the hardware itself cannot fetch

[2020-04-07 13:37] paulstelian97 commented on #2735
Did you turn off the agent on that firmware? This commit switches to DMA scheduling which doesn't work well with the agent (currently).

[2020-04-07 14:02] lgirdwood commented on #2696
Agent needs to be aware of different time domains where drift will be expected and is non fatal up to a point. e.g. if DMA being clocked by external clock drifts > 10% per period then we can alert the user (no need to panic). We could pass in a flag here to agent from client to help.
We should only panic if we dont enter the idle loop every so often.

[2020-04-07 14:05] slawblauciak commented on #2645
@keqiaozhang @mrajwa Are we good to close this issue?

[2020-04-07 14:49] mrajwa commented on #2270
Problem no longer reproducible after PR #2688, therefore I am closing this issue.

[2020-04-07 14:49] #2270 closed

[2020-04-07 15:21] cujomalainey commented on #2733
Sounds like a great topic for the next TSC meeting

[2020-04-07 17:25] yongzhi1 commented on #2560
Hi, @keyonjie, confirmed your fix, think this issue can be closed.

[2020-04-07 21:15] #2714 closed

[2020-04-08 02:49] keqiaozhang commented on #2645
Yes, this issue can be closed.

[2020-04-08 02:49] #2645 closed

[2020-04-08 02:56] xiulipan commented on #2715
close via https://github.com/thesofproject/sof/pull/2405

[2020-04-08 02:56] #2715 closed

[2020-04-08 02:56] xiulipan commented on #2716
close via https://github.com/thesofproject/sof/pull/2405

[2020-04-08 02:56] #2716 closed

[2020-04-08 02:56] xiulipan commented on #2717
close via https://github.com/thesofproject/sof/pull/2405

[2020-04-08 02:56] #2717 closed

[2020-04-08 02:56] xiulipan commented on #2718
close via https://github.com/thesofproject/sof/pull/2405

[2020-04-08 02:56] #2718 closed

[2020-04-08 02:56] xiulipan commented on #2719
close via https://github.com/thesofproject/sof/pull/2405

[2020-04-08 02:56] #2719 closed

[2020-04-08 07:20] marc-hb commented on #2733
http://www.catb.org/esr/writings/taoup/html/ch01s06.html#id2878450

Report failures only. Don't spam everyone who submits a small doc fix with a new "Great codestyle!" congratulatory email every time they force-push a typo fix.

[2020-04-08 08:13] bkokoszx commented on #2445
@sinahuang @ClarexZhou
I have to update PR #2506. Can you check whether it can be reproduce with updated PR.

Above PR generates to separate topology files: ```sof-tgl-rt711-i2s-rt1308-2ch.tplg``` and
```sof-tgl-rt711-i2s-rt1308-4ch.tplg```.

If you want to run ```arecord -c4```, you should use ```sof-tgl-rt711-i2s-rt1308-4ch.tplg```.
If you want to run ```arecord -c2```, you should use ```sof-tgl

[2020-04-08 08:39] Liviali155 commented on #2674
I retested on CML Mantis with sof-hda-generic-eq-2ch.tplg,result is  pass
sof/dev/(6ae32d68)+master(17f92963)
<img width="563" alt="Capture" src="https://user-images.githubusercontent.com/56707932/78763091-4f9eba80-79b7-11ea-99e1-a1bd6a122586.PNG">

[2020-04-08 08:44] slawblauciak commented on #2658
As agreed with @plbossart pause/release operations are not supported on endpoints with multiple synchronized links.

[2020-04-08 08:54] lgirdwood commented on #2733
@gingerDevilish we are sometimes seeing 2 reviews instead of 1 after a force push.

[2020-04-08 09:55] lgirdwood commented on #2674
@Liviali155 can this be closed ? or are there other tests pending ?

[2020-04-08 09:58] aiChaoSONG commented on #2674
This is actually an sof-test issue, may transfer it to sof-test

[2020-04-08 10:55] YvonneYang2 commented on #2658
Since the issue could be reproduced with kernel topic/sof-dev + thesofproject/linux#1943 + thesofproject/linux#1954 + thesofproject/linux#1897, but now these PRs are replaced by https://github.com/thesofproject/linux/pull/1982 and https://github.com/thesofproject/linux/pull/1943, retested them with latest https://github.com/thesofproject/linux/pull/1897, issue can still be reproduced on cml-u.

Th

[2020-04-08 10:58] slawblauciak commented on #2658
Naturally, but I assume you tested it on aplay0,2, which is a case we don't support.
It should be tested on something that has a single link.

[2020-04-08 11:18] sinahuang commented on #2445
Issue can't be reproduced with PR https://github.com/thesofproject/sof/pull/2506 and  PR generates topology files.
if run arecord -c4 with  sof-tgl-rt711-i2s-rt1308-4ch.tplg, arecord can work normally.
 if run arecord -c2 with sof-tgl-rt711-i2s-rt1308-2ch.tplg, arecord can work normally.

[2020-04-08 13:45] gingerDevilish commented on #2733
@lgirdwood Thanks for noting that! Could you provide the link/screenshot showing double reviews?

Also, if you have any suggestions about what kind of suggestions you would like to see and use, we'll be happy to take notes and add this functionality.
We are looking both into adding existing formatters and static analyzers (ex.: clang-tidy) to the system and making them produce user-friendly output

[2020-04-08 13:50] gingerDevilish commented on #2733
@marc-hb Thanks for a great source — I'll definitely check it out (omg, Unix Philosophy, it's pretty interesting reading even if not for fixing the tool)

Do you mean that if the bot hasn't found any issues in the code, it _shouldn't_ be telling you explicitly there are no issues?

[2020-04-08 14:23] dbaluta commented on #2733
I don't mind seeing a check that everything is OK.

[2020-04-08 14:26] paulstelian97 commented on #2733
It would be preferred if no issues are mentioned like this.

Maybe the bot could add it to the checks just like SOFCI. To note that if the bot is added to have such permissions its reviews will also count towards mergeability.

[2020-04-08 14:32] marc-hb commented on #2733
Yes, it should email failures at most.

Ideally, even emailing failures should be configurable: most statuses and checks in https://github.com/thesofproject/ do not send any email at all, monocodus is the almost the first one.

One of the main advantages of post-email tools like github is that they don't dump everything - important stuff and not - in a single inbox with the practical requirement t

[2020-04-08 14:58] Liviali155 commented on #2693
Bisect result:Caused by firmware commit https://github.com/thesofproject/sof/commit/3073aa5fc4dbe3c5b42b3cca84692fd64e15f73a

@tlauda  please check it

[2020-04-08 15:48] plbossart commented on #2658
We agreed to skip pause/release for synchronized links in a first version. It'll be needed for Chrome support.

[2020-04-08 16:48] fredoh9 commented on #2674
I agreed the warning is due to missing -r option. this is not blocking issue for the test.
I will close this and submit a issue to sof-test.

[2020-04-08 16:48] #2674 closed

[2020-04-08 17:36] gingerDevilish commented on #2733
It appears that the reason for that behavior is that the bot uses comments in order to give code review, just like regular users do, and unlike most statuses and checks. This means that if you have notifications about comments in your pull requests enabled, you will get notifications about bot's comments.
(if this is not so, any additional info will be helpful)

Do you think this behavior should a

[2020-04-08 18:32] #2445 closed

[2020-04-08 18:36] #2736 closed

[2020-04-08 19:03] paulstelian97 commented on #2733
I don't think it's emails that are being phased out, rather there is a new notifications experience on the web notifications page (and how you open notifications and get back to them). Email notifications are not going away. I've been using the new experience in beta and I still get all the emails (and have to mark them as read because I read them from the web interface anyway)

[2020-04-08 20:14] marc-hb commented on #2733
(if this is not so, any additional info will be helpful)

[2020-04-08 20:23] marc-hb commented on #2733
Thanks, yes this is what seems to be happening, it makes sense. I did indeed observe monocodus "spamming" not just my inbox but also the PR page in case of multiple force pushes.

Force pushes are [not recommended on github](https://github.com/zephyrproject-rtos/zephyr/pull/14444#issuecomment-575320941) but they map a very common (the most common?) git review model outside github so a number of pr

[2020-04-09 02:32] YvonneYang2 commented on #2658
Commented as https://github.com/thesofproject/sof/issues/2658#issuecomment-610890594, I tested with aplay0,2 on cml-u laptop which has a single link. Issue can still be reproduced.

[2020-04-09 03:30] Liviali155 commented on #2646
Tried with PR#1992,issue still can be reproduced

[2020-04-09 04:21] sinahuang commented on #2633
Issue can't be reproduced with latest FW master (commit:939c14 ) and kernel side + PR https://github.com/thesofproject/linux/pull/1982 and https://github.com/thesofproject/linux/pull/1943 after speaker sync enabled.

[2020-04-09 07:20] sinahuang opened #2749 "[BUG][APL] "Input/output error" occurred when do multiple-pipeline-capture test."
Describe the bug
"Input/output error" occurred when multiple-pipeline-capture test. After error occured,all the pipeline can not work,reboot can recovery.

Used ubuntu@sh-apl-up2-pcm512x-02:

[code]

[code]
To Reproduce
1.sudo reboot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-pcm512x.tplg
5.. ./multiple-pipeline-capture.sh -c 4 -l 50 (https://github.com/thesofp

[2020-04-09 07:20] sinahuang commented on #2749
Bisect result:Caused by firmware commit:https://github.com/thesofproject/sof/commit/8b7f1fafd20e1a0445bda7ab30190559b592e7e6

[2020-04-09 07:24] Liviali155 commented on #2749
related with https://github.com/thesofproject/sof/issues/2735

[2020-04-09 07:57] lgirdwood commented on #2646
@Liviali155 can you update which PR you tested, above PR is a bug.
Please also put a space between "PR" and "#nnnn" as GH will then automatically insert a link for you.

[2020-04-09 07:59] Liviali155 commented on #2735
After turn off the agent，issue still can be reproduced

[2020-04-09 08:04] paulstelian97 commented on #2735
How many pipelines? It's possible we have an issue of overloading the system so you may need to also disable the low-power clock (if it applies to this platform, I'm not sure)

[2020-04-09 08:06] Liviali155 commented on #2646
OK,this PR https://github.com/thesofproject/linux/pull/1992

[2020-04-09 08:11] Liviali155 commented on #2735
Error occured when do pause/release of
 aplay -D hw:0,0 -r 48000 -c 2 -f S16_LE -vv -i /dev/zero -q
arecord -D hw:0,0 -r 48000 -c 2 -f S16_LE -vv -i /dev/null -q

 I will try to disable the low power to check it

[2020-04-09 08:29] lgirdwood commented on #2749
Seems related to slave SSP support which can be fixed for v1.6

[2020-04-09 08:29] lgirdwood commented on #2749
@plbossart fyi.

[2020-04-09 12:04] Liviali155 commented on #2735
It seems it has no low power clock item,I have no method to disable low-power clock
<img width="506" alt="Capture" src="https://user-images.githubusercontent.com/56707932/78893125-530c7180-7a9d-11ea-9757-6ee97c78df1a.PNG">

[2020-04-09 16:32] marc-hb opened #2752 "[BUG] [GREEN FAILURES] host-testbench.sh ignores errors"
**Describe the bug**
host-testbench exits with success 0 when tests fail. Random, recent example in PR #2751:

https://travis-ci.org/github/thesofproject/sof/jobs/672996210 is green but:
[code]
I didn't even have to spend time to search for this example, I only looked at the most recent PR.

Ignoring failures is the very worst type of validation issue because it makes everyone think everything is

[2020-04-09 22:52] paulstelian97 commented on #2735
Hm, the particular topology you mention in the issue shouldn't be affected at all by that commit if I read it correctly. @plbossart @tlauda can you take a look?

The commit contents says you manually copy one of the topologies (removing the -master and -44100 suffixes if there). The one without such a suffix should remain identical and thus this commit shouldn't affect it.

[2020-04-10 02:03] plbossart commented on #2735
that bisect result looks like a false positive to me?

[2020-04-10 03:31] Liviali155 commented on #2646
Tried with PR #2751,issue still can be reproduced

[2020-04-10 03:57] Liviali155 commented on #2735
I retest it：
https://github.com/thesofproject/sof/commit/8b7f1fafd20e1a0445bda7ab30190559b592e7e6  fail
https://github.com/thesofproject/sof/commit/1ecf435d137864b1d1d1a95521611559444a8c72 pass

[2020-04-10 08:26] tlauda commented on #2646
@Liviali155 But PR #2751 has nothing to do with this bug. Why would you test with it?

[2020-04-10 08:32] Liviali155 commented on #2646
I just see the message：
@kv2019i kv2019i mentioned this issue 16 hours ago
schedule: dox: complete api documentation #2751

[2020-04-10 13:06] macchian commented on #2124
@plbossart , @lgirdwood, @tlauda ,  could we have your comments on

he main issue for us is the FSYNC which can only work if we start dummy DMA transfers with zero-ed data. MCLK and BCLK can be turned on without audio transfers.the fsync/WCLK turn on earlier in machine driver? Is it possible to

[2020-04-10 14:56] gingerDevilish commented on #2733
Okay, thanks for the corrections. It seems that either way the correct course of action would be to look at more ways to reduce repeating and redundant comments because the notifications are seemingly not going anywhere any soon if we continue to do it the code review way.

Yes, I am pretty aware of that, and in fact, we use rebase-based workflow in our projects, so force-pushes are ubiquitous for

[2020-04-10 15:20] keyonjie commented on #2726
the PR https://github.com/thesofproject/sof/pull/2759 is to address this.

[2020-04-10 15:20] keyonjie commented on #2725
the PR https://github.com/thesofproject/sof/pull/2759 is to address this.

[2020-04-10 15:20] keyonjie commented on #2724
the PR https://github.com/thesofproject/sof/pull/2759 is to address this.

[2020-04-10 15:20] keyonjie commented on #2723
the PR https://github.com/thesofproject/sof/pull/2759 is to address this.

[2020-04-10 15:20] keyonjie commented on #2722
the PR https://github.com/thesofproject/sof/pull/2759 is to address this.

[2020-04-10 15:42] lgirdwood commented on #2124
@macchian yes this is all doable.
1) FW needs some new IPCs to turn on/off SSP clocks when asked by machine driver (it can send the zerod DMA buffer).
2) machine driver needs to create some DAPM events to send the new IPCs. @plbossart IIRC, there is already CLOCK DAPM types, so perhaps we could define these in machine driver and have sof-core do the IPC (meaning any changes to machine driver are p

[2020-04-10 15:52] plbossart commented on #2124
@lgirdwood it was my understanding that folks wanted to use  devm_clk_get("sspN_fsync"), clk_prepare_enable(). That's how it was done in the Skylake driver.

[2020-04-10 15:57] lgirdwood commented on #2124
@plbossart fine by me, the FW change is the same either way.

[2020-04-10 16:02] plbossart commented on #2124
right, but the clock framework is a bit of a pain to implement.

[2020-04-10 16:06] lgirdwood commented on #2124
The path of least resistance is maybe DAPM then ?

[2020-04-10 16:23] marc-hb commented on #2752
Reducing the default verbosity would also help IMHO.

[2020-04-10 17:01] plbossart commented on #2124
No I am thinking that maybe the right thing to do is have the SOF core create a clock client - but only when an I2S-based machine driver is used and not for HDaudio. Then the client sends IPCs as required. Since we can play with pm_runtime in the prepare_enable/disable_deprepare, the DSP would remain on as long as the clock is needed.
We could even prototype this with a small change to @ranj063 's

[2020-04-10 17:06] wenqingfu commented on #2646
It can be traced as back as 11th Mar 2020 , the earliest date old retention policy allowed. I'm sure it can be traced back even earlier if there are more database record, so unfortunately the actual date here isn't much helpful on bi-sect.  Just a FYI.

“Luckily" this "DSP panic" issue is 100% reproducible when unload the kernel module, hopefully the root cause can be relatively easy.

[2020-04-10 17:14] wenqingfu commented on #2646
thanks for the diligent follow up, @Liviali155 !  Because this is currently a CI blocker, so every PR submitter who responsibly check the CI on-device testing result would be puzzled, and they may eventually figure out that this issue is tracking it and quote as reply in their PR review, GH would automatically create a link in this thread pointing back to that conversation. You need to read the co

[2020-04-10 19:04] gingerDevilish commented on #2733
JFYI: We have removed the "all good, approving" message on PR approval as redundant for now. Hopefully, there'll be less spam now.

[2020-04-10 20:23] ranj063 commented on #2646
@lgirdwood @mrajwa The reason for this DSP panic is that after the module is reloaded, the lp_sram_init times out here:
https://github.com/thesofproject/sof/blob/b12a6626c5ade0a2d102d5a8a4f0147eefea813a/src/arch/xtensa/boot_loader.c#L307

Does it have to do with maybe an improper LP SRAM power gating reset possibly?

[2020-04-10 20:25] ranj063 commented on #2646
Also this check here makes no sense.
https://github.com/thesofproject/sof/blob/b12a6626c5ade0a2d102d5a8a4f0147eefea813a/src/arch/xtensa/boot_loader.c#L330

lp_sram_init can never return anything < 0. Thats why even though the DSP panics, we go on with FW load anyway

[2020-04-11 05:59] Liviali155 commented on #2646
ok,I got it

[2020-04-12 15:00] mengdonglin commented on #2646
Update the priority to P1 as it is causing 100% failure in Linux PR test.

[2020-04-12 19:18] lgirdwood commented on #2646
@tlauda @lbetlej any comment on the LPSRAM init failing ?

[2020-04-13 10:04] ClarexZhou opened #2763 "[EHL][BUG] ipc error for 0x60010000: GLB_STREAM_MSG: PCM_PARAMS when trigger DMIC capture"
**Describe the bug**
ipc error for 0x60010000: GLB_STREAM_MSG: PCM_PARAMS when trigger DMIC capture.
No effect for other pipline usage once error occurred

**To Reproduce**
arecord -Dhw:0,2 -fS16_LE -c4 -r48000 1.wav -vv -i

**Reproduction Rate**
3/3

**Expected behavior**
DMIC capture should works.

**Impact**
DMIC capture failed for "arecord: set_params:1403: Unable to install hw params" and ipc

[2020-04-13 10:05] Liviali155 commented on #2672
This issue also can be reproduced on sof v1.5-rc1 after download sof-hda-asrc-2ch.tplg rename to sof-hda-generic-2ch.tplg
Kernel:4b4681eb Sof-dev
fw:5f7d4e2 https://github.com/thesofproject/sof/releases/tag/v1.5-rc1
UCM2(https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm2/sof-hda-dsp)

[2020-04-13 10:20] Liviali155 commented on #2693
This issue also can be reproduced on sof v1.5-rc1
Kernel:4b4681eb Sof-dev
fw:5f7d4e2 https://github.com/thesofproject/sof/releases/tag/v1.5-rc1

[2020-04-13 12:24] sinahuang commented on #2646
Error also can be seen with  FW: https://github.com/thesofproject/sof/releases/tag/v1.5-rc1 commit：4b4681eb +https://github.com/thesofproject/linux/commits/topic/sof-dev branch commit：5f7d4e2

[2020-04-13 12:24] sinahuang commented on #2638
Error also can be seen with FW: https://github.com/thesofproject/sof/releases/tag/v1.5-rc1 commit：4b4681eb +https://github.com/thesofproject/linux/commits/topic/sof-dev branch commit：5f7d4e2

[2020-04-13 12:30] plbossart commented on #2646
maybe a red herring but could we try to revert this kernel patch "ASoC: SOF: Intel: hda-ctrl: add reset cycle before parsing capabilities"
It's the only thing I can think of that changes the boot flow. It's required for SoundWire platforms but maybe it has adverse effects on others. We could never get clear information from hardware folks on this.

[2020-04-13 12:34] ClarexZhou commented on #2763
Error also seen on sof Master, commit 3808dfec

[2020-04-13 17:11] marc-hb commented on #2733
There is still one email every time though:

[2020-04-13 22:41] ranj063 commented on #2646
@plbossart I Just tried with this revert and still see the same error. I think this panic pre-dates this patch and it was caught much later because the CI test script missed this.

[2020-04-13 22:43] plbossart commented on #2646
ok, thanks for testing.

[2020-04-13 23:58] mrajwa commented on #2646
This piece of code you quoted checks power status of configured LPSRAM banks. If it times out there it means they were not powered on time. Have you tried to increase the counter there or add some other delay to check if it eventually powers on o not? This implementation was based on already existing hpsram_init which basically does the same thing.
BTW, this code is there for a year now, haven't w

[2020-04-14 02:06] mengdonglin commented on #2693
Change priority to P1 since it blocks following SOF Linux CI tests

[2020-04-14 05:34] Liviali155 opened #2764 "[BUG][CML]warning error message in dmesg "error: unknown DSP message 0xf0000000" when do Check-suspend-resume: 50x test"
Describe the bug
"error: unknown DSP message 0xf0000000" when do Check-suspend-resume: 50x test
Seems only a error message,has no impact on function,after error occured,all the pipeline can work normally

sh-cml-rvp-hda-02

To Reproduce
1.sudo rebot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg
5../check-suspend-resume.sh -l 50

Reproduction Rate

[2020-04-14 07:25] mengdonglin commented on #2672
Tplg PR https://github.com/thesofproject/sof/pull/2750 and kernel PR https://github.com/thesofproject/linux/pull/2007 submitted.

Still need firmware update to config rate and channels, please see  https://github.com/thesofproject/sof/pull/2750#issue-401287535 @singalsu @slawblauciak

[2020-04-14 11:09] paulstelian97 commented on #2733
Well that's the best it can do without Github checks. Being completely silent might also mean that it's broken.

[2020-04-14 11:24] tlauda commented on #2693
Sorry, but this piece of code is only executed when slave cores are active. APL is not even build with SMP enabled, so idc.c is compiled out. Your bisect is wrong.

[2020-04-14 13:36] slawblauciak commented on #2672
FW change https://github.com/thesofproject/sof/pull/2765

[2020-04-14 20:09] dbaluta commented on #2733
@gingerDevilish My feedback so far is that the bot is super annoying with the comments. I mean, it makes review harder to do because you might miss lines of code because of comments inserted by the bot.

I think the best way to be that the bot will run as a 'github status'. Could be integrated with Travis CI or with Github actions.

[2020-04-14 20:16] plbossart commented on #2733
So far we haven't seen a single valid report that wasn't caught by checkpatch and other tools, so I suggest we shelve this tool until it's mature or useful.

[2020-04-15 07:25] aleksfadini opened #2766 "sof errors on Lenovo Yoga C940 with cpu Cannon Lake i9-9880H [BUG]"
Sound is working erratically

[code]

Microphone not woring right either, tried a few fixes that worked fron Yoga c940 IceLake but not working for the Cannon Lake version.

**Environment**
    * Kernel: Linux GreatGentleGiant 5.6.4-arch1-1 #1 SMP PREEMPT Mon, 13 Apr 2020 12:21:19 +0000 x86_64 GNU/Linux

    * SOF: arch linux, sof-firmware 1.4.2-1

[2020-04-15 08:48] ktrzcinx commented on #1610
Done in https://github.com/thesofproject/sof/pull/2029

[2020-04-15 08:48] #1610 closed

[2020-04-15 11:32] bkokoszx commented on #2638
@Liviali155 @sinahuang
Can you check whether PR #2767 fixes this issue?

[2020-04-15 12:06] sinahuang commented on #2638
Issue can't be reproduced with PR https://github.com/thesofproject/sof/pull/2767, so issue can be fixed by this PR.

[2020-04-15 12:07] Liviali155 commented on #2693
I am sorry,I will recheck it

[2020-04-15 15:27] plbossart commented on #2638
Well that's rather a kernel driver bug if we accept S32_LE for the front-end but it's not supported by the topology? @ranj063 what do you think?

[2020-04-16 06:29] keqiaozhang commented on #2646
Bisect result shows that this regression is caused by(one year ago):
[code]
Commit info: https://github.com/thesofproject/sof/commit/c17de6a9793e9554eff46e8659fd91be2ea3a3f3

Kernel version for testing(GLK-V1.2 release kernel version): https://github.com/thesofproject/linux/commit/18a233f3f676a98dde00947535d99ab1a54da340

[2020-04-16 09:22] kv2019i commented on #769
Status check:

The UUID support has been added on FW side and is used for tracing. It is documented here:
https://thesofproject.github.io/latest/developer_guides/firmware/components/component-overview.html

What is missing is ability to use UUID from kernel side. Things missing (or are implemented but not documented):
 - method to discover UUIDs of a loaded FW
 - method to describe topologies with

[2020-04-16 10:40] dbaluta opened #2775 "[FEATURE] Add support for uint64_t in sof-logger"
**Is your feature request related to a problem? Please describe.**

We need to be able to log 64bit variables.
[code]

First we will need to understand how intrusive the changes are, how hard is to implement this and if it is worth it.
For now we can always workaround this issues by printing upper and lower 32bits.

[2020-04-16 10:41] dbaluta commented on #2775
Cc: @IulianOlaru249  @ymdatta @crazoes  feel free to look at this if you have some time. Just let a comment here so there won't be duplicate work.

[2020-04-16 10:56] lgirdwood commented on #2733
Now removed.

[2020-04-16 10:56] #2733 closed

[2020-04-16 10:59] lgirdwood commented on #2752
@singalsu fyi - is this a quick fix for you ?

[2020-04-16 11:02] lgirdwood commented on #2646
@slawblauciak @mrajwa I guess the fix is to increase the delay ? If you can do this today I can merge for v1.5

[2020-04-16 11:03] Liviali155 opened #2776 "[BUG][CFL]Warning error message ”error: DSP trace buffer overflow 4294967295 bytes“ occured in dmesg when do module reload test"
*Describe the bug
Warning error message ”error: DSP trace buffer overflow 4294967295 bytes“ occured in dmesg   when do Check-suspend-resume: 50x test
Seems only a error message,has no impact on function,after error occured,all the pipeline can work normally

jf-cfl-rvp-hda-2

To Reproduce
1.sudo rebot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg

[2020-04-16 11:08] singalsu commented on #2752
@marc-hb @singalsu I have never used this script. I'll take a look but also it's an option to remove it from repository.

[2020-04-16 11:10] ymdatta commented on #2775
@dbaluta : I would like to work on this, can you assign it to me? Thanks.

[2020-04-16 11:11] paulstelian97 commented on #2775
It will be a major logger ABI change because the actual structures of the log messages will change -- the 4 parameter fields have to be changed from 32-bit integers to 64-bit integers and sof-logger has to be updated as well (which might prove tricky due to how 64-bit variables are passed on the stack differently from all others -- 16-bit and 8-bit integers are passed like 32-bit integers but 64-b

[2020-04-16 11:17] lgirdwood commented on #769
@mmaka1 your call. Need your inputs here on your plan.

[2020-04-16 12:42] wenqingfu commented on #2646
There was a false positive test case bug that we only recently corrected.

[2020-04-16 12:45] lgirdwood commented on #2752
@singalsu I think CI uses this script then, @xiulipan can you confirm ?

[2020-04-16 13:13] ranj063 commented on #2646
@lgirdwood I increased the delay to 512 in lp_sram_init() and it didnt help.

[2020-04-16 13:18] Liviali155 commented on #2672
Tried with PR #2750&PR #2007& PR #2765
 aplay/arecord (0,0) can work,but dmesg still has error message “error: ipc error for 0x60010000 size 20”

<details>
 <summary>dmesg_error.log</summary>

[code]
</details>

[dmesg0416.log](https://github.com/thesofproject/sof/files/4487318/dmesg0416.log)
[sof-logger0416.log](https://github.com/thesofproject/sof/files/4487320/sof-logger0416.log)

[2020-04-16 13:22] slawblauciak commented on #2672
Can you please provide the sof error trace?

[2020-04-16 13:25] Liviali155 commented on #2672
There is no sof error trace,and the error dmesg message occured after bootup

[2020-04-16 13:26] singalsu commented on #2752
Yes, this has been recently updated by @xiulipan and it should be fixed to detect early fails too.

[2020-04-16 14:52] #2638 closed

[2020-04-17 01:10] xiulipan commented on #2752
@lgirdwood @singalsu It seems the CI for the testbench works for few days before it get error again. I will try to fix it asap.

[2020-04-17 02:49] keqiaozhang commented on #2646
Bi-sect result points to:
commit c17de6a9793e9554eff46e8659fd91be2ea3a3f3
Author: Marcin Rajwa <marcin.rajwa@linux.intel.com>
Date:   Mon Apr 15 12:46:48 2019 +0200

memory: enable LPSRAM on APL

Signed-off-by: Marcin Rajwa <marcin.rajwa@linux.intel.com>

Kernel version for testing:https://github.com/thesofproject/linux/commit/2291b8c29a77e822f514d96433efc9a4cf00d1e8

@mrajwa , please help to conf

[2020-04-17 04:05] Liviali155 opened #2783 "[BUG][CML]ASRC]Warning message “error: ipc error for 0x60010000 size 20”occured in dmesg after bootup on ubuntu 20.04"
***Describe the bug***
Warning message “error: ipc error for 0x60010000 size 20”occured  in dmesg  after bootup
Just a error message,ALL the pipeline can work
[code]
***To Reproduce***
1.download sof-hda-asrc-2ch.tplg rename to sof-hda-generic-2ch.tplg
2.sudo reboot
3.dmesg -w

Reproduction Rate
5/5

***Expected behavior***
There is no error message in dmesg

***Impact***
“error: ipc error for 0x6

[2020-04-17 04:08] Liviali155 commented on #2672
Because aplay/arecord  can work after applied  PR #2750&PR #2007& PR #2765,just a error message in dmesg occured,so closed this issue,have creat another issue  https://github.com/thesofproject/sof/issues/2783 to trace Warning message issue

[2020-04-17 04:08] #2672 closed

[2020-04-17 06:51] Liviali155 commented on #2783
This issue also can be reproduced on sof v1.5-rc2+PR2750 after download sof-hda-asrc-2ch.tplg rename to sof-hda-generic-2ch.tplg
Kernel:f9b87470 Sof-dev
fw: 66e20171 https://github.com/thesofproject/sof/releases/tag/v1.5-rc1+PR2750
UCM2(https://github.com/thesofproject/alsa-ucm-conf/tree/master/ucm2/sof-hda-dsp)

<details>
 <summary>sof_errortrace.log</summary>

[code]
</details>

<details>
 <summ

[2020-04-17 07:09] slawblauciak commented on #2783
Interesting, it would appear FW is unable to allocate 1660 bytes for frame processing in asrc.

[2020-04-17 08:13] Liviali155 commented on #2693
@tlauda  I recheck it
Seems the issue caused by https://github.com/thesofproject/sof/commit/1a01f7490f7b79834de081f214d329e4ce93442e

Tried on https://github.com/thesofproject/sof/commit/bc5f3a6cde0e253a8141f5b53571192c40d69818 8times, pass

[2020-04-17 08:37] mrajwa commented on #2646
Yes, debugging in ongoing...in touch...

[2020-04-17 08:45] singalsu commented on #2783
Sounds like running out of 2 kB pool. I don't understand how the fail is not propagated and streaming aborted.

[2020-04-17 08:55] singalsu commented on #2783
I checked from code the ASRC prepare() flow and the -ENOMEM should abort the playback. I noticed a minor mistake in the previous allocation fail handling (lines 622-630) and will do a fix PR that avoids free of null pointer by changing the goto into err instead of err_free_buf. But it won't help this issue.

[2020-04-17 14:45] lbetlej opened #2790 "Commit: e9a0359b: trace: add mn class"
This is automatically generated issue to track if changes from commit e9a0359b44d37afaf78d94c3a7dc86305dbb075f found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-003-drop-stable are upstreamed.

[2020-04-17 14:45] lbetlej opened #2791 "Commit: 4d58cf62: drivers: intel: ssp: move M/N to separate driver"
This is automatically generated issue to track if changes from commit 4d58cf625e462a4d85a09f1d2fd2a84412c00c00 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-003-drop-stable are upstreamed.

[2020-04-17 14:45] lbetlej opened #2792 "Commit: 7a59d686: drivers: intel: mn: spinlock for registers access"
This is automatically generated issue to track if changes from commit 7a59d6868c120c03ca0bea57f4dcf432748ccfb5 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-003-drop-stable are upstreamed.

[2020-04-17 14:45] lbetlej opened #2793 "Commit: aceeb393: drivers: intel: mn: bclk sources"
This is automatically generated issue to track if changes from commit aceeb3939083b18c80535b488c74276c5e54e380 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-003-drop-stable are upstreamed.

[2020-04-17 14:45] lbetlej opened #2794 "Commit: fb14aac9: platform: intel: dai: add MCLKs count"
This is automatically generated issue to track if changes from commit fb14aac95f82bf84ef4d880ee23c1177fe94a46d found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-003-drop-stable are upstreamed.

[2020-04-17 14:45] lbetlej opened #2795 "Commit: 34a1df56: drivers: intel: mn: mclk sources"
This is automatically generated issue to track if changes from commit 34a1df5629e1b78dee37f0a56a0db74766d137c5 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-003-drop-stable are upstreamed.

[2020-04-17 14:45] lbetlej opened #2796 "Commit: 1bb517ab: drivers: intel: mn: refactor mn_set_mclk"
This is automatically generated issue to track if changes from commit 1bb517ab9f643eda61b0bb4f075812f47b483f71 found as a result of comparison https://github.com/thesofproject/sof/compare/master...tgl-003-drop-stable are upstreamed.

[2020-04-17 14:54] lbetlej opened #2797 "Commit: 90d54369: arch: workaround: fix abi alignment"
This is automatically generated issue to track if changes from commit 90d54369d05062d363ab533fc91223f1d0c93f39 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-011-drop-stable are upstreamed.

[2020-04-17 14:54] lbetlej opened #2798 "Commit: 40757633: alh: obtain hw params from ipc config"
This is automatically generated issue to track if changes from commit 407576333880b7a898f846a5d9bb86c24b53f09e found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-011-drop-stable are upstreamed.

[2020-04-17 14:54] lbetlej opened #2799 "Commit: b93dda55: [HACK]: topology: demux_coef_default: modify pipeline id"
This is automatically generated issue to track if changes from commit b93dda55ddb6d71dc67fea48e78607724060aabd found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-011-drop-stable are upstreamed.

[2020-04-17 14:54] lbetlej opened #2800 "Commit: 102a4aaf: Revert "dw_dma: Split DMA pause and stop command""
This is automatically generated issue to track if changes from commit 102a4aafaea7ed9182f7d531435b7d52a3e85968 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-011-drop-stable are upstreamed.

[2020-04-17 14:54] lbetlej opened #2801 "Commit: 68b5ab82: kpb: perform additional pointer sanity checks"
This is automatically generated issue to track if changes from commit 68b5ab82e6d24e78ff189c65831c171bc3c9d389 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-011-drop-stable are upstreamed.

[2020-04-17 22:59] marc-hb commented on #2752
I'm not sure what you meant here but I filed this bug very specifically about "green failures" = green failed test. Once all failures are red we can close this bug.

[2020-04-19 08:09] dingesista opened #2805 "[BUG]"
**Describe the bug**
Thinkpad X1 Carbon 7th generation
Debian Unstable, Linux 5.5.0-2-amd64 Debian 5.5.17-1 (2020-04-15) x86_64 GNU/Linux
Has sound, but microphones are not detected.

**Expected behavior**
It would be great to have the mics working.

**Impact**
A headset microphone works fine, so not all is lost.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/

[2020-04-19 19:21] #2722 closed

[2020-04-19 19:25] lgirdwood commented on #2783
@singalsu sound like we need to increase pool size here on CML

[2020-04-20 02:08] keyonjie commented on #2724
the PR #2759 is merged, so closing this.

[2020-04-20 02:09] keyonjie commented on #2725
the PR #2759 is merged, so closing this.

[2020-04-20 02:09] #2725 closed

[2020-04-20 02:09] keyonjie commented on #2726
the PR #2759 is merged, so closing this.

[2020-04-20 02:09] #2726 closed

[2020-04-20 02:09] #2724 closed

[2020-04-20 02:10] keyonjie commented on #2723
the PR #2759 is merged, so closing this.

[2020-04-20 02:10] #2723 closed

[2020-04-20 02:17] ClarexZhou opened #2806 "[BUG] [v1.4.2] System hang when boot up with pulseaudio on one CFL laptop"
**Describe the bug**
On one Nvidia GPUs laptop, system will hang when system boot up with pulseaduio enaBled.

Error seen with fw 1.4.2 but not see with latest master and 1.5-rc1 fw.

**To Reproduce**
1. Pulseaduio is enabled
2. Boot up system

**Reproduction Rate**
3/3

**Expected behavior**
Boot up system successfully

**Impact**
System hang during boot up.

**Environment**
1) Branch name and co

[2020-04-20 05:46] ClarexZhou commented on #2806
System also hang in below steps if disabled pulseaduio:
1. boot up system after disable pulseaudio
2. Change PGA in playback volume to max via alsamixer
3. 'aplay -Dhw:1,0 -f dat music.wac -vv -i',   -> System hang.   No error dmesg when system hang

[2020-04-20 07:16] slawblauciak commented on #2798
Change already on master

[2020-04-20 07:16] #2798 closed

[2020-04-20 07:17] slawblauciak commented on #2801
Change already on master

[2020-04-20 07:17] #2801 closed

[2020-04-20 08:12] singalsu commented on #2783
@lgirdwood  Yep, that should avoid the error. I'll test here, hope it happens with a CFL too that I can use.

[2020-04-20 08:43] lgirdwood commented on #2806
@mengdonglin @fkaczmar @lbetlej I know that v1.5 is imminent,  but v1.4.x is shipping with all the 20.04 Ubuntu/Redhat releases. If we are good with v1.5 on Ubuntu/ RH 20.04 then we can ship this as the fix rather than a new v1.4.3 release (as either way we the distros have to update FW).

[2020-04-20 10:27] Liviali155 opened #2810 "[BUG][CML][EQ]EQ test failed as no FIR/IIF pipelines available for pipeline 0~3"
**Describe the bug**
EQ test failed
The pipeline aplay/arecord normally
Caused by 736762b3 https://github.com/thesofproject/sof/releases/tag/v1.5-rc3
[code]
**To Reproduce**
1.chmod +x sof-ctl
2.sudo mv sof-ctl /usr/bin/
3.get sof-hda-generic-eq-2ch.tplg,then renamed to sof-hda-generic-2ch.tplg
4.reboot
5.cd sof-test
6.cd test-case
7.export TPLG=/lib/firmware/intel/sof-hda-generic-2ch.tplg
8../che

[2020-04-20 11:24] Liviali155 commented on #2810
Issue also can be reproduced on master
sof/dev  202bac22
master  504ec438

[2020-04-20 11:35] bkokoszx commented on #2728
Closed via #2641

[2020-04-20 11:36] #2728 closed

[2020-04-20 13:40] bardliao commented on #2799
@lbetlej https://github.com/thesofproject/sof/commit/b93dda55ddb6d71dc67fea48e78607724060aabd is not required for master. It was replaced by https://github.com/thesofproject/sof/pull/2666 and https://github.com/thesofproject/sof/pull/2675

[2020-04-20 14:00] jajanusz commented on #2790
It's in this PR: https://github.com/thesofproject/sof/pull/2276/commits

[2020-04-20 14:00] #2790 closed

[2020-04-20 14:00] jajanusz commented on #2791
It's in this PR: https://github.com/thesofproject/sof/pull/2276/commits

[2020-04-20 14:00] #2791 closed

[2020-04-20 14:01] jajanusz commented on #2792
It's in this PR: https://github.com/thesofproject/sof/pull/2276/commits

[2020-04-20 14:01] #2792 closed

[2020-04-20 14:01] jajanusz commented on #2793
It's in this PR: https://github.com/thesofproject/sof/pull/2276/commits

[2020-04-20 14:01] #2793 closed

[2020-04-20 14:01] jajanusz commented on #2794
It's in this PR: https://github.com/thesofproject/sof/pull/2276/commits

[2020-04-20 14:01] #2794 closed

[2020-04-20 14:01] jajanusz commented on #2795
It's in this PR: https://github.com/thesofproject/sof/pull/2276/commits

[2020-04-20 14:01] #2795 closed

[2020-04-20 14:04] jajanusz commented on #2796
Squashed into commit https://github.com/thesofproject/sof/pull/2276/commits/c0495a9086b225e78f0ff9c40d05bba467439c0f from this PR: https://github.com/thesofproject/sof/pull/2276/commits

[2020-04-20 14:04] #2796 closed

[2020-04-20 14:10] lbetlej opened #2814 "Commit: cc4c356d: workaround: disable hifi3 pcm conversion"
This is automatically generated issue to track if changes from commit cc4c356d7db464388ca7995c38b93c302cf07868 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-010-hot-fix2 are upstreamed.

[2020-04-20 14:10] lbetlej opened #2815 "Commit: 5e5f69eb: interrupt: dynamic clock change for waiti"
This is automatically generated issue to track if changes from commit 5e5f69eb5ad14322a5f4599860a40f8009393d89 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-010-hot-fix2 are upstreamed.

[2020-04-20 14:10] lbetlej opened #2816 "Commit: 85103836: topology: add pipe-volume-switch-capture pipeline"
This is automatically generated issue to track if changes from commit 85103836388a613a392e6f11f96d11bf13b442be found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-010-hot-fix2 are upstreamed.

[2020-04-20 14:10] lbetlej opened #2817 "Commit: 7d906a46: topology: sof-icl-rt711-rt1308-rt715 add MIC MUTE LED support"
This is automatically generated issue to track if changes from commit 7d906a4698621f56ed59cb6b5d89996a6e59ef80 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-010-hot-fix2 are upstreamed.

[2020-04-20 14:10] lbetlej opened #2818 "Commit: 93a98956: Volume: Fix handling of mute and unmute control"
This is automatically generated issue to track if changes from commit 93a9895606bea3ca5a175c1cebe719b8ee92e9cd found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-010-hot-fix2 are upstreamed.

[2020-04-20 14:10] lbetlej opened #2819 "Commit: c2da0820: Volume: Fix for gain ramp step macro value"
This is automatically generated issue to track if changes from commit c2da082062e1dd4c67363a1eaea774f4da7f8cfd found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-010-hot-fix2 are upstreamed.

[2020-04-20 14:10] lbetlej opened #2820 "Commit: b393c4d1: Volume: Always launch ramp in beginning of copy() operations"
This is automatically generated issue to track if changes from commit b393c4d10585a7a29cf00e8408b64cf59c7c7fbb found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-010-hot-fix2 are upstreamed.

[2020-04-20 14:10] lbetlej opened #2821 "Commit: a7aa5574: Volume: Simplify ramp calculation and provide constant rate on/off"
This is automatically generated issue to track if changes from commit a7aa55748a034a72f3cf89a5813c7fd405b2078e found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-010-hot-fix2 are upstreamed.

[2020-04-20 14:10] lbetlej opened #2822 "Commit: 0ed0dbae: Volume: Simplify volume synchronization to host"
This is automatically generated issue to track if changes from commit 0ed0dbae7a73f7d3a648199c0ad9f95944d8ec85 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-010-hot-fix2 are upstreamed.

[2020-04-20 14:10] lbetlej opened #2823 "Commit: 9ddcb008: dai: ALH set burst_elems"
This is automatically generated issue to track if changes from commit 9ddcb008ec3ee3dc6a4436ba8dfb721684bc1c9b found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-010-hot-fix2 are upstreamed.

[2020-04-20 15:53] plbossart commented on #2806
@lgirdwood unrelated topic but can we make sure all firmwares are generated for 1.5, I don't want to regenerate the baytrail/broadwell/apl/cml once as I did last time.

[2020-04-20 16:36] singalsu commented on #2820
@lbetlej The description is very brief, I don't understand. Is there something for me to do for this and similar other automatic issues?

[2020-04-21 03:18] Liviali155 commented on #2810
Without 736762b https://github.com/thesofproject/sof/releases/tag/v1.5-rc3,eq test is pass,result as below:
[code]
[dmesg0421.log](https://github.com/thesofproject/sof/files/4507443/dmesg0421.log)
[eq_pass.txt](https://github.com/thesofproject/sof/files/4507444/eq_pass.txt)
[sof-logger0421.log](https://github.com/thesofproject/sof/files/4507445/sof-logger0421.log)

[2020-04-21 04:08] xiulipan commented on #2810
@Liviali155 Please try with #2827

[2020-04-21 04:34] Liviali155 commented on #2810
Tried with PR #2827,error not seen

[2020-04-21 04:57] Liviali155 commented on #2783
I tried on CI devices  CML laptop with onboard codec ALC3204 in HDA  which is ubuntu 18.04 with lastest sof/dev(f17b96ae) +master(504ec438),error not seen
But I used my own CML laptop with onboard codec ALC3204 in HDA mode which is ubuntu 20.04,issue can be reproduced
Seems this issue only occured on ubuntu20.04

[2020-04-21 05:31] Enerccio opened #2828 "[BUG] Sound output does not produce any output, neither directly from speakers nor via headphone jack"
**Describe the bug**
This morning I woke up and tried to play youtube on my lenovo c940 running manjaro linux kernel 5.5. And no sound came out of my line speaker connected via headphone jack. So I unplugged it but still nothing. This is first time it happened, I have no idea what causes it. Reboot fixed it.

**To Reproduce**
First time happened.

**Reproduction Rate**
First time happened

**Expec

[2020-04-21 07:15] mengdonglin commented on #2806
@lrgirdwo @fkaczmar @jajanusz latest result shows this issue is very likely to be the system hang issue we previously fixed for customer.

[2020-04-21 07:37] slawblauciak commented on #2828
We're gonna need more information and a reproduction path for this.
Could you please upload the firmware trace when you encounter the issue again with the SOF logger?
And the entire dmesg dump would be helpful too.

[2020-04-21 07:47] jajanusz commented on #2806
I checked the source code of https://github.com/thesofproject/sof/tree/v1.4.2 and it does not have fix for hangs that was merged in this PR: https://github.com/thesofproject/sof/pull/2326

[2020-04-21 08:05] Enerccio commented on #2828
Will do, it was unexpected so what I did was reboot. These logs are from journalctl

[2020-04-21 08:11] Enerccio commented on #2828
Where can I find the logger? I only have these:

[code]

[2020-04-21 08:16] mengdonglin commented on #2806
Thank you! @jajanusz  Can this fix be applied to https://github.com/thesofproject/sof/tree/v1.4.2?

[2020-04-21 08:58] tlauda commented on #2633
Kernel side PR merged.

[2020-04-21 08:58] #2633 closed

[2020-04-21 09:14] zrombel commented on #1800
According to @tlauda suggestions test were changed and at this point trigger_start, trigger_pause and trigger_stop is only send to PIPE 5 and then internally propagated by FW to PIPE 3 and 4. After test changes bug cannot be reproduced. Closing Issue.

[2020-04-21 09:14] #1800 closed

[2020-04-21 09:58] #2810 closed

[2020-04-21 12:21] lgirdwood commented on #2828
@Enerccio I dont think that sof-logger is being shipped as an rpm/deb currently. It needs to be manually built atm. Please clone the SOF FW repo and run ./scripts/host-build-all.sh This will give you all the tooling.

[2020-04-21 16:39] mrajwa commented on #2646
@keqiaozhang, I know what is happening and how to fix it. However the rootcause is unusual bahaviour of the HW. So before I go into implemntation of the solution, I would like you please you to tell on how many GLK platforms this issue is observed? I want to rule out bad silicon part.

[2020-04-21 16:43] ranj063 commented on #2646
@mrajwa iwe have observed this on our CI GLK systems and I have seen this on my yorp as well. So i doubt its the issue with one or two boards.

[2020-04-21 21:07] fredoh9 commented on #2534
After #2660, mow Volume tokens have  PIPELIN_ID.
i.e pga_tokens_1,  pga_conf_1

[2020-04-21 21:07] #2534 closed

[2020-04-21 21:10] fredoh9 commented on #2689
There is no immediate and EASY automated solution.
Close for now.

[2020-04-21 21:10] #2689 closed

[2020-04-21 21:17] fredoh9 commented on #2646
@mrajwa I found same problem in my GLK too. This was consistent problem for a while.

[2020-04-22 01:22] keqiaozhang commented on #2646
@mrajwa , according to my observation, there is no GLK models that cannot reproduce this issue.

[2020-04-22 01:22] Liviali155 commented on #2783
Tried with PR  https://github.com/thesofproject/sof/pull/2831/files,error not seen

[2020-04-22 03:00] RanderWang commented on #2823
https://github.com/thesofproject/sof/commit/9ddcb008ec3ee3dc6a4436ba8dfb721684bc1c9b is included in master branch

[2020-04-22 03:00] #2823 closed

[2020-04-22 04:18] keyonjie commented on #769
Thanks for the summarize. yes, let me investigate on the implementation from the driver side and create new item to support UUID.

[2020-04-22 04:50] Liviali155 commented on #2783
Error not seen on latest sof/dev(8dc1789e) +master(0befebb7),closed it

[2020-04-22 04:50] #2783 closed

[2020-04-22 06:12] YvonneYang2 commented on #2658
Issue cannot be reproduced on sdw cml-u laptop with latest latest sof-dev(8dc1789) and master(0befebb7). Close it.

[2020-04-22 06:12] #2658 closed

[2020-04-22 06:39] Enerccio commented on #2134
It happened again. Unfortunately, I didn't know what to do with sof-logger and hardlocked myself with save state options so I lost dmesg. But it seems it happens every time I leave computer idle for long time (night sleep). Will check if it happens again today, but can you tell me what exactly I need to do with that sof-logger?

[2020-04-22 06:48] Enerccio commented on #2828
It happened again. Unfortunately, I didn't know what to do with sof-logger and hardlocked myself with save state options so I lost dmesg. But it seems it happens every time I leave computer idle for long time (night sleep).

@lgirdwood Will check if it happens again today, but can you tell me what exactly I need to do with that sof-logger?

[2020-04-22 07:40] tlauda commented on #2776
@ranj063 @kv2019i @plbossart Any ideas when the kernel prints such error?

[2020-04-22 07:45] tlauda commented on #2693
@Liviali155 Still impossible. This commit just adds new function. Please verify again your bisect.

[2020-04-22 08:09] lbetlej commented on #2820
@singalsu Correct, you are expected to check if changes from commit b393c4d are upstreamed and close the issue after verification. If they are not upstreamed then the issue remains open to indicate  that there is work left to do.Check #2682 for background on the process.

[2020-04-22 08:31] #2696 closed

[2020-04-22 08:54] tlauda commented on #1973
@aiChaoSONG Demux component and topology changed. Please reopen if ever retested.

[2020-04-22 08:54] #1973 closed

[2020-04-22 09:21] singalsu commented on #2820
@lbetlej Thanks for explanation! This was also mentioned today in our team meet with @mengdonglin so we all now now what these are about.

[2020-04-22 09:28] singalsu commented on #2822
This patch is included to master.

[2020-04-22 09:28] #2822 closed

[2020-04-22 09:35] lgirdwood commented on #2828
@Enerccio sof-logger details are here https://thesofproject.github.io/latest/developer_guides/debugability/logger/index.html
Fwiw, we have a v1.4.3 coming out this week (to fix a reported hang, could be the same as your issue) so lets retest with v1.4.3. v1.5 is also due out this week too, so will also be worth testing.

[2020-04-22 09:37] singalsu commented on #2821
This patch is present in master.

[2020-04-22 09:37] #2821 closed

[2020-04-22 09:39] paulstelian97 commented on #2693
IPC errors seem to be heisenbugs... I think someone needs to decode the 0x80010000 message and see what IPC it is.

[2020-04-22 09:43] singalsu commented on #2820
This patch is in master.

[2020-04-22 09:43] #2820 closed

[2020-04-22 09:44] singalsu commented on #2819
This patch is in master.

[2020-04-22 09:44] #2819 closed

[2020-04-22 09:55] singalsu commented on #2818
This patch is in master.

[2020-04-22 09:55] #2818 closed

[2020-04-22 11:36] jajanusz commented on #2815
It's just quick-fix version of proper fix that was applied on master in https://github.com/thesofproject/sof/pull/2326

[2020-04-22 11:36] #2815 closed

[2020-04-22 12:18] jajanusz commented on #2806
But 1.4.2 is not aligned with master from Feb 21, there are just cherr-picks from that date, so it needs more changes.
Anyway I'll make PR with backport for branch 1.4-stable.

[2020-04-22 16:42] wenqingfu commented on #2646
when can we have a patch? @mrajwa  thanks!

[2020-04-22 17:19] kv2019i commented on #2776
@tlauda wrote:

This is print when FW sets the overflow message in the trace message:
[code]

... this is called directly from the inbound IPC handler on the driver side.

[2020-04-22 17:31] Enerccio commented on #2828
Gotcha @lgirdwood, how do I check which ldc file I use though?

[2020-04-23 09:41] slawblauciak commented on #2828
I believe it'd be sof-icl.ldc

[2020-04-23 11:48] mrajwa commented on #2646
@wenqingfu, I have just pushed patches
Kernel -> https://github.com/thesofproject/linux/pull/2044
FW -> https://github.com/thesofproject/sof/pull/2837

[2020-04-23 12:39] singalsu commented on #2763
I'm missing something maybe, but why do you attempt to use -r 48000 for a 16 kHz PCM?

[2020-04-24 04:21] sinahuang commented on #2646
Check this issue with sof-dev (commit:8dc25) +PR https://github.com/thesofproject/linux/pull/2044 and master (commit: 761bbac)+PR https://github.com/thesofproject/sof/pull/2837, error can't be reproduced.

[2020-04-24 06:13] Enerccio commented on #2828
It happened again, unfortunately I can't use git logger:

[code]

maybe sof-fimware should be bundled with logger by default :/

here is the dmesg at least

[dmesg.log](https://github.com/thesofproject/sof/files/4526983/dmesg.log)

[2020-04-24 06:54] hugh712 opened #2842 "[BUG][CML] sof fails during the initialization: cl_dsp_init: timeout HDA_DSP_SRAM_REG_ROM_STATUS read"
**Describe the bug**
"sof-audio-pci 0000:00:1f.3: error: sof_probe_work failed err: -110" occurred during system boot up, and sof failed to initialize.

**To Reproduce**
1.System boot up.
2. Check dmesg

**Reproduction Rate**
100%

**Expected behavior**
sof can be loaded and initialized normally.

**Actual result**
Error message shows, and sof failed to initialize.

**dmesg**
[hp-sof-fail-dmesg.tx

[2020-04-24 07:05] ClarexZhou commented on #2763
Error also seen with -r 16000
[code]

[2020-04-24 07:32] mengdonglin commented on #2842
This issue happens on an HP CML laptop.  It seems like https://github.com/thesofproject/sof/issues/2136, which is caused by back ME. How to check on the ME side?

Dmesg for this issue:
[    9.030719] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    9.030975] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[    9.03098

[2020-04-24 07:56] cooper-chiou commented on #2842
Some note from OSV in sof-logger failure.

We tried to run the sof-logger to collect the log, but it failed and reported "error: Unable to open in file /sys/kernel/debug/sof/trace", so it looks like this debugging too depends on the sof driver initialize without error and could work, but for our case, the sof fails during the initialization, so far we has not run the sof-logger successfully.

[2020-04-24 08:20] mengdonglin commented on #2842
@hugh712 @cooper-chiou Please test with latest sof-dev kernel with SOF FW v1.4.2 binary.

[2020-04-24 13:34] lbetlej opened #2847 "Commit: 43512458: platform: define and use CONFIG_SYSTICK_PERIOD"
This is automatically generated issue to track if changes from commit 435124580a6fd49477cf2f1676b74f614000e322 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2848 "Commit: 9932c338: platform: remove PLATFORM_LL_DEFAULT_TIMEOUT definition"
This is automatically generated issue to track if changes from commit 9932c3388d8c6e2fed1a2e46266aeda9c34524ba found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2849 "Commit: 9e14ac1c: agent: add error tracing macro"
This is automatically generated issue to track if changes from commit 9e14ac1cb3cf6c9893f7b1026ea3b4677eb4fe8e found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2850 "Commit: 28c453cc: agent: refactor agent to be more useful"
This is automatically generated issue to track if changes from commit 28c453ccf0453348b390d819867225711cb7aa16 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2851 "Commit: 123ba8f5: agent: remove disable and enable functions"
This is automatically generated issue to track if changes from commit 123ba8f5152bb9db11324574d46c1b38cb5aa608 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2852 "Commit: baf2b2db: platform: remove PLATFORM_IDLE_TIME definition"
This is automatically generated issue to track if changes from commit baf2b2db4d5f136003783df3d0ab6476ebea8efa found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2853 "Commit: 6d543cee: edf_schedule: do not pass sof structure anymore"
This is automatically generated issue to track if changes from commit 6d543cee74eda17a7d125c639ea4ab7c94437e52 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2854 "Commit: f3ba9394: pm-runtime: cavs: add power gating control for dsp cores"
This is automatically generated issue to track if changes from commit f3ba93943a54045fdd6d7f193d1c150678732d18 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2855 "Commit: 6d4000f9: platform: cavs: use pm-runtime api to power gate dsp cores"
This is automatically generated issue to track if changes from commit 6d4000f9e519f35020fb2ef85e752ab541cf1a0a found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2856 "Commit: a928c8fa: pm: cavs: add lps flow"
This is automatically generated issue to track if changes from commit a928c8fa0d7f6759793ef581056cfc39d831561e found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2857 "Commit: 5d3f4a35: ipc: add pm power gating message"
This is automatically generated issue to track if changes from commit 5d3f4a35e65f14164c98f84e4f04d90d1614c86f found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2858 "Commit: b4f0b839: ipc: cavs: read set d0ix request directly from ipc registers"
This is automatically generated issue to track if changes from commit b4f0b8395748c5b60ebbbe38bd1507328cf11b80 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2859 "Commit: 55fdc5b4: ipc: pm: handle prevent-power-gating flag in pm-runtime"
This is automatically generated issue to track if changes from commit 55fdc5b4db8d84a85b9efc246f792fc335350589 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2860 "Commit: 4852ae6d: kpb: disable pm-runtime of DSP#0 for data draining"
This is automatically generated issue to track if changes from commit 4852ae6da8f616ddbabe54ff9b7655f126838f1c found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2861 "Commit: 88048f48: dma-trace: fix race condition during initialization"
This is automatically generated issue to track if changes from commit 88048f489a748bf29be4be1eca8b8eb94a66baea found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2862 "Commit: e52bee05: cnl: shim: fix typo in CLKCTL bits definition"
This is automatically generated issue to track if changes from commit e52bee0570e4fd988d334f8d0e0b8a9ebb76c3c7 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2863 "Commit: 10b12bb5: cnl: clk: change default clock to 120MHz low power osc"
This is automatically generated issue to track if changes from commit 10b12bb5a03377bf7509872685afe9ea9edf380f found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2864 "Commit: 8817f50b: cavs: agent: disable system agent until can run on higher pri"
This is automatically generated issue to track if changes from commit 8817f50b53e32f1986f0fe839f3e11531ddac28b found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2865 "Commit: e6f96842: ipc: add callbacks to ipc events"
This is automatically generated issue to track if changes from commit e6f9684241ecc51f600475564c1eb68f606e99a1 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2866 "Commit: 6d699588: ipc_msg: limit input parameters to ipc callbacks"
This is automatically generated issue to track if changes from commit 6d6995885c0a6db5eb691a9e99c00a7c8d3e9629 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2867 "Commit: 15b4f028: ipc: handle callbacks during message queue and send"
This is automatically generated issue to track if changes from commit 15b4f0282f6ced817793d98964f2ccdbfdffa612 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2868 "Commit: 51930fc3: detector: Postpone KPB notification until host IPCwas sent"
This is automatically generated issue to track if changes from commit 51930fc39e7b92d3127dcb714fc73adb26f064d8 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2869 "Commit: 1d7f2255: kpb: display state changes in more convenient way"
This is automatically generated issue to track if changes from commit 1d7f22559e64b564ce9701e7ad0c1f126b8635d3 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2870 "Commit: 69c9c63e: lib: Make sure shifted quantity is treated as 64bit type"
This is automatically generated issue to track if changes from commit 69c9c63ee7bab136fba8f6a9614e3fab49197e5a found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2871 "Commit: 6343a918: cnl: Access to HPSRAM power gating status register - macro updated"
This is automatically generated issue to track if changes from commit 6343a9185832c24c56589ae326bf0741b4fb0984 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2872 "Commit: 33f72630: topology: add token for low power PCM."
This is automatically generated issue to track if changes from commit 33f72630297f60fd0cf4fd1dd579c521c5bc9160 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:34] lbetlej opened #2873 "Commit: 00feda4f: topology: pcm: add helper for creating low power Capture PCM."
This is automatically generated issue to track if changes from commit 00feda4f97b3c2c9c76d635ed70897d8f962cf5e found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:35] lbetlej opened #2874 "Commit: b3929c67: topology: pipe-kfbm-capture: create low power PCM for KWD PCM"
This is automatically generated issue to track if changes from commit b3929c67707de2fc3b9c9e770bd50e631eb34c92 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:35] lbetlej opened #2875 "Commit: df781a14: trace: complete trace on/off api including dma trace state"
This is automatically generated issue to track if changes from commit df781a14b3c468c9d83e71493d7a1c3ef6353f9f found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:35] lbetlej opened #2876 "Commit: 755933e7: ipc: add commands to turn tracing on/off"
This is automatically generated issue to track if changes from commit 755933e797852ab489ccf6b877487166784d4bf9 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 13:35] lbetlej opened #2877 "Commit: f7dfd05b: add NO_TRACE flag to SETD0IX IPC"
This is automatically generated issue to track if changes from commit f7dfd05b9fa4f92264905a47c0d9b155a9ce6602 found as a result of comparison https://github.com/thesofproject/sof/compare/master...cml-008-drop-stable are upstreamed.

[2020-04-24 14:25] lbetlej commented on #2871
Positive verification on 33a0990cc476862e47a5289ba1cc146eed0ef7e8

[2020-04-24 14:26] #2871 closed

[2020-04-24 14:28] lbetlej commented on #2870
Positive verification on 33a0990cc476862e47a5289ba1cc146eed0e

[2020-04-24 14:28] #2870 closed

[2020-04-24 14:31] dbaluta commented on #2870
@lbetlej what's with 33a0990 ?

[2020-04-24 18:54] sealse opened #2879 "firmware is not installed"
**Describe the bug**
On page https://bugzilla.kernel.org/show_bug.cgi?id=206085 I was told that it is necessary to install your firmware

cmake not worked

**To Reproduce**

**Reproduction Rate**
all the time

**Expected behavior**
Firmware compiled

**Impact**
The sound does not work

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel d

[2020-04-25 06:17] hugh712 commented on #2842
@mengdonglin

still doesn't work, here is the dmesg
[hp-sof-failed-dmesg-2.log](https://github.com/thesofproject/sof/files/4532468/hp-sof-failed-dmesg-2.log)

[2020-04-26 00:46] keyonjie commented on #2873
This is already in master so closing it.

[2020-04-26 00:46] #2873 closed

[2020-04-26 00:46] keyonjie commented on #2877
This is already in master so closing it.

[2020-04-26 00:46] #2877 closed

[2020-04-26 00:47] keyonjie commented on #2874
This is already in master so closing it.

[2020-04-26 00:47] #2874 closed

[2020-04-26 00:47] keyonjie commented on #2872
This is already in master so closing it.

[2020-04-26 00:47] #2872 closed

[2020-04-26 06:38] mengdonglin commented on #2842
The same error pattern in the above dmesg of sof-dev

<details>
 <summary>dmesg</summary>

[code]
</details>

[2020-04-26 07:56] RanderWang commented on #2842
When error occurs, the ROM initialization is failed. It is very likely that the ROM is waiting for ME.
So changing FW or driver don't make effect.

[2020-04-26 09:12] keqiaozhang opened #2880 "[BUG][TGL][DSM] one additional sample will be captured after playback ends"
**Describe the bug**
This issue happens when playback ends first. From the captured wav, there's one more cycle of single is captured.  After more tests, we found that this issue only happens with s32_le, no reproductions when testing with S16_LE.

For example :
**To Reproduce**
1. enable DSM loopback
Run:
[amp_enable.sh.txt](https://github.com/thesofproject/sof/files/4534963/amp_enable.sh.txt)
2.

[2020-04-27 06:14] keqiaozhang commented on #2880
Duplicated as https://github.com/thesofproject/sof/issues/2701

[2020-04-27 07:02] slawblauciak commented on #2763
I think it's still trying to use the 48000 rate unless you do -Dplughw:0,2

[2020-04-27 07:04] slawblauciak commented on #2763
Also, is DMIC supposed to support rates other than 16kHz on that platform?

[2020-04-27 07:27] juimonen opened #2881 "[FEATURE] SOF should notify user space about incompatible parameters between components"
**Is your feature request related to a problem? Please describe.**
Currently SOF doesn't give you any warning or any heads up if you connect components with "incompatible" parameters together. This is quite visible in branched pipelines including for example mux/demux component. So you might end up pushing S32 data into S16 buffer or similar and get noise/silence as result. And it is really diffic

[2020-04-27 07:31] ClarexZhou commented on #2763
only using Dhw:0,2 directly, and dump info as below:
[code]

[2020-04-27 08:05] lgirdwood commented on #2881
Pipeline complete IPC could perform some simple validation and  return error data if not valid configs are available. Like wise hw_params could also provide this error data.  @kv2019i @juimonen how will you deal with this in userspace, sinec error meta data will also be returned.

[2020-04-27 08:16] ClarexZhou commented on #2806
Close for error is fixed on https://github.com/thesofproject/sof/commits/v1.4.3

[2020-04-27 08:16] #2806 closed

[2020-04-27 08:49] keqiaozhang commented on #2679
This issue is fixed in tgl-005-drop-stable branch. We tested it on Volteer-I2S and this issue is not reproducible.
Test recipe:
Driver: fce7f934f + https://github.com/thesofproject/linux/pull/1971 + https://git.kernel.org/pub/scm/linux/kernel/git/broonie/sound.git/commit/?h=for-next&id=914f674bec6efe42f9d6b036850a618fd1698290
Firmware:
SOF branch:  tgl-005-drop-stable Commit: 277a9717
TPLG: sof-tg

[2020-04-27 08:49] #2679 closed

[2020-04-27 09:54] bkokoszx commented on #2701
Duplicated with #2880. Closed

[2020-04-27 09:54] #2701 closed

[2020-04-27 10:14] bkokoszx opened #2883 "[BUG][TGL][DSM] old/wrong data at the beginning of released stream"
**Describe the bug**
This issue happens when playback pipeline is stopped and release several times. At the beginning of released stream appears about 1 ms of old/wrong data.
![image](https://user-images.githubusercontent.com/41052777/80359903-d17b5880-887e-11ea-83f6-656be23d17a2.png)

**To Reproduce**
1. Enable smart amp loopback:
   run [amp_enable.sh.txt](https://github.com/thesofproject/sof/fi

[2020-04-27 10:51] paulstelian97 commented on #2883
Does the wrong data fit well at the end of the previous stream?

[2020-04-27 11:05] slawblauciak commented on #2763
It's a topology issue, the pipelines are not configured properly and have their stream parameters mismatched with DAI hardware configuration.

Also, a note to previous testing attempts: the hardware is configured only for 2 channels, so -c4 is also not going to work.

I'll prepare a PR shortly.

[2020-04-27 12:37] jdrzaszcz opened #2885 "[BUG][SDW] Wrong data after release in sdw_alh_loopback_stream_operations"
**Description**
When running simultaneous playback and capture on SdW interface on internal loopback with pause/release on playback stream after release at the beginning comes wrong data.

Example recorded file:
![image](https://user-images.githubusercontent.com/46779093/80371393-22487c80-8892-11ea-8825-69a8b9c58107.png)

**Topology**
[code]

**To Reproduce**
Slim Driver python test from file:
tes

[2020-04-27 12:55] slawblauciak commented on #2763
https://github.com/thesofproject/sof/pull/2886

[2020-04-28 00:09] yongzhi1 opened #2889 "[DUT][JSL] random error: cl_dsp_init: timeout HDA_DSP_SRAM_REG_ROM_STATUS read"
Describe the bug
On JSL-Rev2 volume rvp board with ES1 silicon. After flashing coreboot, in first few cold boot cycle(using power switch for coldboot) audio works and then it gets into this error condition.

To Reproduce:
1.	Flash Coreboot
2.	Put system in freeze (echo freeze > /sys/power/state)
3.	Cold boot (Power off/Power on) setup using web power switch.
4.	After 1-2 cold boot cycle, DSP reset

[2020-04-28 00:45] keqiaozhang opened #2888 "[BUG][JSL] Firmware load failure on new JSL platform"
**Describe the bug**
We received one new JSL platform weeks ago and codec ALC700 in HDA mode as default. I tried the latest kernel driver and firmware on it, but DSP firmware failed to boot with error code "0x0000002c".

**To Reproduce**
check dmesg after system is booted.

**Reproduction Rate**
10/10
**Expected behavior**
sof can load successfully.

**Impact**
firmware boot failure.

**Environmen

[2020-04-28 01:11] ranj063 commented on #2888
@keqiaozhang seems like 2 issues here:
1. HDA codec probe failed.
2. probably an issue with FW signing?

[2020-04-28 02:26] mengdonglin commented on #2889
@yongzhi1 Will flashing coreboot solve this issue?

[2020-04-28 03:00] yongzhi1 commented on #2889
Sure @mengdonglin, thanks for the pointer, will check with @sathyap-chrome.

[2020-04-28 03:01] sathyap-chrome commented on #2889
@mengdonglin the issue in CML was due to flashing DCI enabled Coreboot and later switching back to another CB. But in that case, all boots failed until reflashed.

Here the scenario is working in some boots and not working on others.
But will check once from coreboot team

[2020-04-28 06:29] mengdonglin commented on #2890
Transfer to SOF repo from linux issue #1703, to group with other DSP boot failure.

[2020-04-28 07:16] ClarexZhou commented on #2763
Verified and error can be fixed by PR #2886

[2020-04-28 07:24] slawblauciak commented on #2828
Ah, apologies. We neglected to mention that you'll need to build it from the right branch, since you're using 1.4.2 release.

@lgirdwood which release branch is appropriate for that version? Is it 1.4-stable?

[2020-04-28 07:28] mengdonglin commented on #2888
@keqiaozhang Can you file another issue to track HDA codec probe failure?

[2020-04-28 07:48] kv2019i commented on #2888
@mengdonglin wrote:

Ack. This seems like a separate problem. This is HDMI codec init failing:
[code]

.. and with current driver, this will not block driver probe anymore. HDMI will just be disabled, but other codecs should be usable.

[2020-04-28 08:18] jdrzaszcz opened #2891 "[BUG][SSP] Additional data after release in test_12_ptp_simple_stream_operations"
**Describe the bug**
When running simultaneous playback and capture on SSP interface on internal loopback with pause/release on playback stream after release at the beginning some additional data. The wave looks good in every interval , but when I cut the silence, the waves don't match.

Example recorded file:
![image](https://user-images.githubusercontent.com/46779093/80463160-1616fa80-8938-11ea-

[2020-04-28 08:28] Liviali155 commented on #2890
On icl run  multiple-pipeline-playback also can reproduce this issue with latest sof/dev(8f1c6ad6) +master(de2dcbbc)

After error occured ,all the pipeline can work

1.sudo reboot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-hda-generic-4ch.tplg
5../multiple-pipeline-playback.sh -l 50

***Reproduction rate***
Run 50times,failed at 44th

<img width="693" alt="Capture"

[2020-04-28 09:37] slawblauciak commented on #2533
@akloniex mind taking a look at it?

[2020-04-28 09:44] slawblauciak commented on #2693
@paulstelian97 that's a DAI config message.

[2020-04-28 14:36] tlauda commented on #2888
`0x2C` indicates signature verification failure. It looks like you have wrong FW signature.

[2020-04-28 14:38] tlauda commented on #2890
`0x6000010` indicates that ROM is still waiting for response from CSE regarding IMR allocation. What is the value of the timeout? It looks like timing issue.

[2020-04-28 16:43] yongzhi1 commented on #2889
For #2136 , the error happened at load phase, here .load_firmware is passed, but .run failed:

[   32.275870] sof-audio-pci 0000:00:1f.3: error: dsp init failed after 3 attempts with err: -110

[2020-04-29 03:16] Liviali155 commented on #2890
Add the log complete
[dmesg042.log](https://github.com/thesofproject/sof/files/4549651/dmesg042.log)
[sof-logger0429.log](https://github.com/thesofproject/sof/files/4549652/sof-logger0429.log)

[2020-04-29 05:26] sinahuang commented on #2690
Issue can't be seen with sof-dev(commit：8f1c6ad) +PR #2058 (note :PR2058 is for other blocked issue #2031) and master (commit:af38b20b), closed it.

[2020-04-29 05:26] #2690 closed

[2020-04-29 08:02] tlauda commented on #1988
@fredoh9 Does this bug still exist? I haven't seen any failure in CI for a long time.

[2020-04-29 08:03] tlauda commented on #2004
@singalsu Could you verify whether the bug still exists?

[2020-04-29 08:09] tlauda commented on #2007
@keqiaozhang Could you reproduce the issue with current master? There were many changes in KPB. Probably some of the reported problems don't reproduce anymore.

[2020-04-29 09:04] xiulipan commented on #2888
@tlauda You are right, the FW load issue is gone with debug key FW.
@keqiaozhang with `i915.force_probe=4e51` the HDA HDMI codec probe is also fine on the board.
Please double check and close the issue

[2020-04-29 09:23] keqiaozhang commented on #2888
Thanks @xiulipan. This issue is solved after using debug key FW

[2020-04-29 09:23] #2888 closed

[2020-04-29 13:45] juimonen commented on #2533
latest firmware af38b20bc84f79c8 and latest topology sof-apl-demux-pcm512x.tplg I can get proper sound from echoref pipe!

terminal 1:
aplay test_play.wav

Terminal 2:
 arecord -Dhw:0,4 -f S16_LE -c 2 -r 48000 -d 10 test.wav

So maybe someone else can also verify?

[2020-04-30 01:49] ClarexZhou commented on #2776
Error not occurred on sof-dev commit:8f1c6ad6 and master commit: af38b20b.
1st round 500 interactions: Pass
2nd round 500 interactions: Pass
3rd round 1k interactions: Pass

Keep monitor.

[2020-04-30 06:55] juimonen commented on #2533
@akloniex any idea why we didn't use the "caps" in ipc_buffer for underrun/overrun flags and defined new flags?

struct sof_ipc_buffer {
        struct sof_ipc_comp comp;
        uint32_t size;          /**< buffer size in bytes */
        uint32_t caps;          /**< SOF_MEM_CAPS_ */
        uint32_t flags;         /**< SOF_BUF_ flags defined above */

I think it is also 32bit bit value which is

[2020-04-30 10:12] Liviali155 commented on #2693
Tried on https://github.com/thesofproject/sof/commit/6713d90c21004f45ce5e25708087b8c77a78ff2a 500 times pass
https://github.com/thesofproject/sof/commit/4e87899f25b0c859169c1dfd4dd9f9fd65d48ad2 failed

@ktrzcinx could you please help check it ,seems it is a regression caused by https://github.com/thesofproject/sof/commit/4e87899f25b0c859169c1dfd4dd9f9fd65d48ad2

[2020-04-30 11:33] ktrzcinx commented on #2693
@Liviali155 https://github.com/thesofproject/sof/commit/4e87899f25b0c859169c1dfd4dd9f9fd65d48ad2 doesn't change sof behavior at all, it's just simple change in sof build system

[2020-04-30 14:00] perexg opened #2901 "[BUG] FW / Topologies for SoundWire"
**Describe the bug**
The 1.4.2 firmware and topology files cannot be used with the latest kernel compiled from topic/sof-dev branch.

**Expected behavior**
No errors at boot.

**Impact**
Development showstopper.

**Environment**
Dell Precision 5750 - i5-10400H / RT1308 / RT711? (cannot 100% confirm, but I see related errors in dmesg)

[2020-04-30 14:21] plbossart commented on #2901
@perexg there is no plan to be backwards compatible with older topologies for SoundWire, we changed the machine driver so you have to get the newer topologies.
Can you confirm which SKU this platform is, just to check if you are using the 2 or 4-speaker version?

[2020-04-30 15:39] perexg commented on #2901
Ok, topology loaded, sof-soundwire card available. I cannot get Speakers working (using the sof-soundwire ucm in your repo). Headphones seems working, The links seems to be initialized three times:

[code]

Found a little component string issue (extra ',' after cfg-spk:4):

[code]

[2020-04-30 16:16] plbossart commented on #2901
ok, so that's the 4 speaker version, which means there are 2 RT1308 amps on links 1 and 2.

[2020-04-30 16:20] plbossart commented on #2901
The 4 speaker conf is still WIP with @libinyang. I don't have such a device so I am not sure if the https://github.com/thesofproject/alsa-ucm-conf/pull/34 is correct.

That's not normal. Maybe linked to HDMI, I don't see a reason why we would do this. All SDW DAIs are available on startup.

Nice catch. @RanderWang do you remember where this was set?

``

[2020-05-01 01:35] libinyang commented on #2901
There are 2 tiny issue in https://github.com/thesofproject/alsa-ucm-conf/pull/34.
One is we should use "PGA 3.1 3" instead of "PGA3.0 3" in RT1308-2.conf (4 speaker tplg are using 'PGA3.0 3 Master Playback Volume'). I think may be we can refine the tplg to fix it?
The other issue is: in HiFi.conf, we should include RT1308.conf instead of RT1308-1.conf.

BTW: I have a the patches in my own repo: ht

[2020-05-01 08:33] perexg commented on #2901
Regarding topologies: It seems ugly to me to expose all (non-functional) controls. I know, it's nice for debugging / looking for something, but it's really confusing for the end users.

Also, if the functionality is TIED to some path (like headphones or so), the appropriate controls should be renamed (do not use PGA 3.1 3, use headphones / speaker names or so..).

[2020-05-01 13:13] plbossart commented on #2901
@perexg what makes you think those controls are not functional?
Or did you mean that they are not intended for end-users? That bridge was crossed many moons ago when we started seeing codecs and DSPs with hundreds of controls, with the understanding that some higher intelligence in userspace (UCM, HAL, etc) would configure them.

That said for the topologies I agree the PGA x.y.z names are horribl

[2020-05-01 15:27] perexg commented on #2901
I mean controls without the usage / connection. I understand that the user space controls are created using the topology files and those topology files describe the real hardware paths (you renamed this PGA controls to Dmic for the digital microphone input on DSP). I assume that the topology knows about the purpose of the path (thus the associated controls), doesn't? Perhaps, I don't see something

[2020-05-01 17:51] plbossart commented on #2901
The controls added by topology are only for the DSP graph, and it's not always possible to know what the usage will be. see for example some topologies, there is no information at the topology level that tells us what each pipeline is used for.

![image](https://user-images.githubusercontent.com/1149035/80828040-4665cf80-8baa-11ea-96c2-d3a1704516f8.png)

[2020-05-01 19:15] perexg commented on #2901
Ok, I see. The components string contains only detected chips on the bus? So there is no information related to ALH0x102.OUT and the real hardware connected to this output in the driver / topology at all?

[2020-05-01 19:28] ranj063 commented on #2901
@plbossart but the kcontrols are added in topology. The graph above doesnt show the controls assicated with the widgets but it would be fairly easy to add them to the graph.

[2020-05-01 20:23] plbossart commented on #2901
For DAI, the topology specifies the dai_id (e.g. ALHx102 means link 1 PDI 2) and the dailink_id, but the information for the dailink is part of the machine driver. It's one of the issues with the topology, it doesn't describe the connections outside of the DSP, which is both good and bad.
Good because e.g. with the same Baytrail topology using SSP2 and dailink0 we can deal with different platforms

[2020-05-04 06:27] juimonen commented on #2901
@plbossart @perexg In HDA topologies we use mainly the HDA created mixer elements and related controls -> that's why we get "proper" names to most volumes (Dmic being an exception). In HDA topologies you can very well adjust the volume from "PGA_dadadidaa" and it has an effect, but we prefer using the codec volume. And as we have the codec volume, it doesn't make too much sense for the user to use

[2020-05-04 13:12] mengdonglin commented on #2889
@yongzhi1 Can you please use the debug card to dump the HW status? It will help us to check with HW team where  the HW gets stuck.

[2020-05-05 13:37] lbetlej opened #2908 "[BUG] Interrupts from PMC are not masked on cavs platfroms"
**Describe the bug**
Bit #5 in REG_IRQ_IL2MD(0): 0xb00050 is not set. Expectation is that the bit will be set for all DSP cores.
Since in a default mask bit #5 is set  (#define REG_IRQ_IL2MD_ALL	0x03F181F0) there is a need to investigate how the bit is cleared.

[2020-05-05 13:41] lbetlej opened #2909 "[BUG] Interrupt from wall clock 0 on cavs plafroms is masked on a slave cores"
There is a need to check why on TGL interrupt from wall clock 0 (bit 22 in IL2MDx register) is masked when a slave core is enabled.

[2020-05-05 14:31] semitom commented on #2828
I'm also affected by this issue on my lenovo yoga c940 running arch linux kernel 5.6.10 using sof-firmware 1.4.2-1.

It is odd because the issue started between several reboots while I was trying to debug hanging shutdowns. Right after I rebooted without the `snd_hda_intel.dmic_detect=0` boot flag, the sound stopped working and journalctl got spammed with the mentioned messages.

[code]

Since the

[2020-05-05 15:06] perexg commented on #2901
Yes, I know this. But the HDA driver does the mapping job (to pretty names / functional names) in this case. I understand that this mapping is completely missing in ASoC (replaced by the hardware related descriptors). The hardware related descriptors are really confusing for the end users (including the non-unified names - strings) and all GUI mixer applications are ruled out to be understandable.

[2020-05-06 12:01] Liviali155 commented on #2776
Error not occured on sof-dev(c08157b6)+master(6ce635aa)
1st round 1000 interactions: Pass
2nd round 1000 interactions: Pass

[2020-05-06 12:45] dbaluta commented on #2172
Copying here a message from @lgirdwood

[code]

[2020-05-06 13:33] syrofoam opened #2911 "[BUG][v1.4.2] no sound kernel 5.6.10. sof-cnl-ri"
**Describe the bug**
Hardware: HP EliteBook 830 G6.
Comes only up with dummy output in Pulsemixer and a fake soundcard in Alsamixer.

**To Reproduce**
Boot kernel
5.6.10-zen & 5.6.10 normal same problem in both kernels.

**Reproduction Rate**
100%.

**Expected behavior**
Working sound when i boot my laptop.

**Impact**
I like music & sound.
none, I can boot LTS kernel 5.4.38-LTS and everything wor

[2020-05-06 14:27] plbossart commented on #2911
@syrofoam the 'official' firmware release can be found at https://github.com/thesofproject/sof-bin/tree/stable-v1.4.2
copy this and use the go.sh script to install all the simlinks.

alternatively create a symlink from sof-cnl.ri to sof-cfl.ri

[2020-05-06 15:27] syrofoam commented on #2911
Downloaded the firmware release:
New dmesg output:

/'    3.789915] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    3.791502] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[    3.791555] sof-audio-pci 0000:00:1f.3: enabling device (0000 -> 0002)
[    3.792396] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class

[2020-05-06 15:47] plbossart commented on #2911
@syrofoam this seems to be a nasty issue with firmware authentication.
In the past we had a different binary for CFL but I can't find it.
@lgirdwood @jajanusz can you me find the 1.3.1 binary for CFL, i'd like to test a theory that this is a problem with the PV bits.

[2020-05-07 00:47] jairaj-arava opened #2913 "TGL: S0IX entry is failing while WOV pipeline is running with DSP in D0IX"
**Describe the bug**
On Tiger Lake with WOV running and the DSP in D0IX, we observed S0IX entry is getting failed.

**To Reproduce**
1. Flash s0ix enabled coreboot and EC on the Tiger Lake board with default DB (Max98357a).
2. Boot the device.
3. Flash the latest Google kernel with  TGL S0IX enable kernel patch.
4. Make sure WOV KWD is working during S0 with the below command
**arecord -Dhw:0,100

[2020-05-07 00:58] jairaj-arava commented on #2913
ranj063 , suggested some firmware changes as below, but still we see the issue.
https://github.com/thesofproject/sof/pull/2189/commits/dfb7dca19bc8abf487628e5add16c60c6fb7cf1e

[2020-05-07 01:22] ClarexZhou commented on #2776
Close for error not seen

[2020-05-07 01:23] ranj063 commented on #2913
@mmaka1 Do you think this failure could be the result of not enabling LPRO or LPS in TGL? I enabled LPRO in the config but that didnt fix the problem. Enabling LPS resulted in an FW build failure

[2020-05-07 06:56] YvonneYang2 commented on #2735
Double checked, same result with @Liviali155 . Issue can not be reproduced with commit 1ecf435 after 1000 times test but can be reproduced with commit 8b7f1fa. Bisect result shows the root cause came from commit  8b7f1fa

[2020-05-07 12:32] lgirdwood commented on #2911
@mengdonglin do you have the 1.3.1 binary for CFL ?

[2020-05-07 12:38] lgirdwood commented on #2828
I think the v1.4.3 was tagged yesterday, it should be available in sof-bin after it's signed.

[2020-05-07 14:45] lgirdwood commented on #2879
@sealse have you read the getting started guide ?
https://thesofproject.github.io/latest/getting_started/index.html
There are some dependencies that need installed.
Are you looking for FW binaries or tools ?

[2020-05-07 14:49] lgirdwood commented on #2891
@jdrzaszcz do you mean pause and release here ? i.e. the stream is not aligned after pause release cycle ?

[2020-05-07 14:49] lgirdwood commented on #1988
Ack, lets close.

[2020-05-07 14:49] #1988 closed

[2020-05-08 04:30] yongzhi1 commented on #2889
Thanks @mengdonglin , we are still waiting for the validation results, for the HW status dump, do you mean some HD-A audio registers?

[2020-05-08 04:56] jairaj-arava commented on #2913
Hi,

We had a debug session with our S0IX team using ITP & below are our findings:
1.  **HDA PLL** is **shutdown** during normal (without wov) S0IX and S0IX functionality is working good.
2. On the other hand with WOV + S0IX, we see **HDA PLL** is **Active** and S0IX is failing (residency counter is not increasing).

Attached the kernel logs and sof-logger.
[soix_wov_not_workingLatest.txt](https:/

[2020-05-08 05:24] jdrzaszcz commented on #2891
@lgirdwood Yes, that's right. For me, the additional data looks like it has been copied  from some buffer again.

[2020-05-08 09:17] keyonjie commented on #2913
LPS on TGL is not implemented yet, it doesn't compile with it.

[2020-05-08 09:20] keyonjie commented on #2913
From the driver point of view, maybe worth to double confirm if EM2.L1SEN is enabled in this scenario, on CML days, this block us to enter S0I3 for quite long time.

The bit should be 1 if the related kernel commits are all there, I only want it to be confirmed.

[2020-05-08 09:50] mmaka1 commented on #2913
@ranj063 LPS is not enabled on TGL, but before we start investigating the PM settings, need to find out what is going on in this failing scenario. There are some unusual activities logged, not just incorrect pwr setup.

[2020-05-08 10:03] wwittbrx commented on #2913
@jairaj-arava

Could you provide commit hashes for FW, topology, logger, kernel and the patch? Coreboot version would be helpful too. We could try and reproduce the issue on our device.

[2020-05-08 10:07] mmaka1 commented on #2913
@jairaj-arava Pls also note that the .ldc file must come from the same build as the fw .ri file.

[2020-05-08 10:42] lgirdwood commented on #2891
Looks like 16 samples are being repeated which is incidentally the SSP FIFO size. IIRC, there are SSP register for trailing bytes and this may need to be cheked.

[2020-05-08 20:11] jairaj-arava commented on #2913
Hi,

Today we had a debug session and below are some additional findings:

1. We ruled out the suspect that the traces  **src/audio/host.c:784   host_copy(): no bytes to copy** in the firmware logs is not causing any issue with S0IX.
2. We enabled LPR0 and seen the same behavior.

Below is the kernel code base we used for our experiments:
clone: **https://chromium.googlesource.com/chromiumos/third

[2020-05-09 00:59] keyonjie commented on #2913
@jairaj-arava, from the kernel log, it looks the system has not entered s2idle at all, you didn't do any waking up here, right?
[code]

[2020-05-09 02:46] YvonneYang2 commented on #2735
Tried to test it on latest sof-dev + revert commit 8b7f1fa , issue cannot be reproduced.

[2020-05-09 03:45] jairaj-arava commented on #2913
@keyonjie
Yes with S0IX+ WOV, we didn't wake up the system and it was waking by itself (though the logs shows suspend of devices complete after 35.464 msecs  / resume of devices complete after 427.128 msecs).

To rule out the same, earlier we forcefully made the DSP to D0I3 and with out running any WOV path, we entered into normal S0IX cycling (suspend_stress_test -c 1). We saw the system is not e

[2020-05-09 08:15] Liviali155 opened #2921 "[BUG][APL-nocodec]"error: ipc timed out for 0x80010000 size 216" when do check-kmod-load-unload-after-playback.sh test"
**Describe the bug**
"error: ipc timed out for 0x80010000 size 216" when do check-kmod-load-unload-after-playback.sh test
After error occured,all the pipeline can not  work,reboot can recovery

**To Reproduce**
1.sudo reboot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-nocodec.tplg
5../check-kmod-load-unload-after-playback.sh -l 50

**Reproduction Rate**
Round 1:

[2020-05-09 08:31] Liviali155 commented on #2693
On lastest sof-dev(d43dc16c)+master(782066e),error "error: ipc error for 0x80010000 size 12" not seen ,but has another error "error: ipc timed out for 0x80010000 size 216",have creat another issue https://github.com/thesofproject/sof/issues/2921 to check,closed this issue

[2020-05-09 09:26] mengdonglin commented on #2842
Customer confirmed this issue cannot be reproduced after upgrading the whole system.

Maybe there is some hardware issue for this HW sample, or its BIOS doesn’t initialize the audio PCI device properly. And the issue seems to be fixed by upgraded system.

Output from lspci -v on a failed sample:
00:1f.3 Audio device: Intel Corporation Device 06c8 (prog-if 80)
       Subsystem: Hewlett-Packard Comp

[2020-05-09 09:26] #2842 closed

[2020-05-09 10:07] Liviali155 commented on #2921
This issue occured from 20200508
Chnaged FW to 20200507( # 6ce635aa),error not seen ,but has issue #2693

[2020-05-11 10:25] Liviali155 commented on #2921
I retest it ,seems this issue occured from commit (2c9bb63)@Tomasz Lauda,please help to check it

[2020-05-11 17:47] fredoh9 commented on #2535
This can be closed. Remaining enhancements are described in
https://github.com/thesofproject/sof/issues/2707

[2020-05-11 17:47] #2535 closed

[2020-05-11 18:38] olividir commented on #2911
I think I have similar issue to this.
[code]
I did the dmesg with sudo,,, which didn't really do anything.
Some other stuff I decided to try:
[code]
I just got kernel 5.6.11 and those are reads from that version.

[2020-05-11 21:18] sealse commented on #2879
Thank you very much for the answer, but I managed to solve the problem with
sound on my laptop by putting your library from bin, it’s probably not
relevant anymore, close the bug

чт, 7 мая 2020 г. в 17:45, Liam Girdwood <notifications@github.com>:

--
Best Regards, Sergey

[2020-05-12 07:17] mengdonglin commented on #2911
@lgirdwood @plbossart 1.3.1 is not for public release. I can share with you offline

[2020-05-12 07:20] keyonjie commented on #2913
OK, this means it is not the WoV itself making the problem, have you ever checked the L1SEN bit when entering S0ix cycle?

[2020-05-12 07:27] #2879 closed

[2020-05-12 07:58] mengdonglin commented on #2911
@olividir Can you please share the output of lspci -v?
This error was previously reported on another HP laptop. We compared its lspci output with another working device,  it seems its BIOS doesn't initialize the audio PCI device properly and so the PCI memory is disabled.  Please find more info in https://github.com/thesofproject/sof/issues/2842#issuecomment-626136239

@plbossart @lgirdwood, @jaja

[2020-05-12 09:01] singalsu commented on #2535
@fredoh9 Yup, I'm also now using this work in testbench to test EQs with not-flat response that improves a lot tests coverage.

Currently PIPELINE_FILTER1 is hard coded to IIR and PIPELINE_FILTER2 is hard coded to FIR. It works for now but eventually the middle layer should pass the configuration to any type first processing component in pipeline with PIPELINE_FILTER1 and use "...2" or "...3" when

[2020-05-12 09:09] emilchudzik opened #2927 "[BUG] Negative scenario. Pipeline still working after component free during playback."
**Describe the bug**
Checking FW behaviour for negative scenarios with component free during playback for pipeline with volume component.

Test steps:
- load FW
- create topology: playback connected to SSP
- play 3 seconds stream on playback pipeline
- during playback execute component free for Volume component and Buffer component
- check if there is error SofIpcErrorResponseException in communic

[2020-05-12 15:22] singalsu opened #2929 "[BUG] Firmware panic in FIR EQ fir_cmd_set_data() assert"
**Describe the bug**
The memcpy_s() in the function has incorrect destination size and halts the firmware when a suitable size blob (series of multiple) is received. I found this bug with beamformer FIR and fixed it already there. I'll make a PR shortly for EQ.

[code]
**To Reproduce**
Send a blob with 4x filters of length 64 (attached - I modified the mid boost FIR example this way) with sof-ctl

[2020-05-12 16:02] singalsu commented on #2929
I just created PR #2930.

[2020-05-13 00:11] LazyGeniusMan opened #2931 "[BUG] Audio Card Did Not Detected on Swift 3 54G ALC256"
**Describe the bug**
SOF audio card  did'nt detected on Swift 3 SF314-54G (ALC256), instead it's only detect Intel HDA PCH. Even when i add `blacklist snd-hda-intel` in alsa-base.conf, input and output audio is not working (there is no audio card detected).

**To Reproduce**
1. Install Manjaro 20.0.1
2. Install `sof-firmware` using pacman
3. Add `alsa-base.conf` on /etc/modprobe.d/
4. Reboot

**Ex

[2020-05-13 00:38] ranj063 commented on #2931
@LazyGeniusMan it doesnt look like the SOF driver is getting probed at all. Is SOF enabled in the kernel config?

[2020-05-13 00:40] ranj063 commented on #2931
Could you paste the output of `lsmod | grep snd'?

[2020-05-13 00:54] LazyGeniusMan commented on #2931
How to do that? sorry I am very new in Linux, about a week. After a quick search I don't quite understand, is it has something to do with building custom kernel? all I get is there's config file in `/proc/config.gz`

[code]

[2020-05-13 01:11] LazyGeniusMan commented on #2931
@ranj063
In case this is needed `zcat /proc/config.gz | grep SOF` :
[code]

[2020-05-13 01:23] ranj063 commented on #2931
@LazyGeniusMan thanks. so the snd_sof_pci module has not loaded and the kernel config seems to enable it. @plbossart any ideas?

[2020-05-13 06:11] sinahuang commented on #2646
Error can't be seen after PR 2044 merged, so closed it.

[2020-05-13 06:11] #2646 closed

[2020-05-13 07:55] jairaj-arava commented on #2913
Hi,

We had a ITP debug session on the Volteer Proto 1 platform and below are our findings:

**ITP Results:**

  **only S0IX:**
                                             We see both HDA PLL and ACRO (Audio Calibrated Ring Oscillator) are off and the S0IX functionality is working good.
![Working_PLL_STATUS](https://user-images.githubusercontent.com/55807706/81785919-cdbd1800-94b3-11ea-8fde-dc7a5

[2020-05-13 09:38] #2752 closed

[2020-05-13 09:43] singalsu opened #2932 "[BUG] IIR EQ fails to configure with long data blob"
**Describe the bug**
The IIR configuration max size is 1024 bytes but a large enough configuration blob that is split to parts by process components IPC fails in iir_cmd_set_data().

**To Reproduce**
Create a long configuration data blob. I made it from loudness EQ by adding to blob four more response shapes (modified example_iir_eq.m script). Then apply it with sof-ctl and playback audio.

**Repr

[2020-05-13 09:59] YvonneYang2 commented on #2735
Now with latest sof-dev+master, issue can be reproduced with same error sof-trace log but "ipc error for 0x60050000 size 12" in dmesg.

dmesg:
[code]
error sof-trace:
[code]

Test recipe:
kernel: topic/sof-dev (0773fe68)
fw: master (782066e0)

[dmesg_.txt](https://github.com/thesofproject/sof/files/4621188/dmesg_.txt)
[slogger.txt](https://github.com/thesofproject/sof/files/4621189/slogger.txt)

[2020-05-13 10:30] kv2019i commented on #2931
@LazyGeniusMan This is a Kabylake system:
00:1f.3 Multimedia audio controller [0401]: Intel Corporation Sunrise Point-LP HD Audio [8086:9d71] (rev 21)

SOF is not support these systems. SOF is enabled as the default driver for 7th Gen (Whiskey Lake) and newer in upstream. In latest upstream, the Intel SST driver was enabled for 7th Gen Kabylake systems that have a PCH digital mic (see patch "ALSA:

[2020-05-13 10:47] singalsu commented on #2932
The PR with fix is in #2933.

[2020-05-13 12:14] LazyGeniusMan commented on #2931
dang, how come generation after mine worked first :(, I should've bought i3 varian for this laptop since it has 7th gen Kaby Lake (i3-7020u) or wait a few months for 8th Whiskey Lake or even bought the Ryzen varian, what a regret haha.

@kv2019i

What's left, is for me to speak with Takashi about addition of said codec to known-codecs table - more often than not, given codec belongs to entire fami

[2020-05-13 12:38] kv2019i commented on #2931
@LazyGeniusMan wrote:

It took me a while where is this quote from. :) I put the quote to a web search and apparently this is from here: https://bugzilla.kernel.org/show_bug.cgi?id=201251#c182 , right?

I don't think that necessarily applies to your case. For a fully working audio, you will need a working BIOS (from your laptop vendor) and codec drivers (from Realtek, Conexant or upstream), in add

[2020-05-13 13:10] LazyGeniusMan commented on #2931
Yes, that's right. My bad for not linking it, I thought you were coming from that by saying "see patch "ALSA: hda: Allow SST driver on SKL and KBL platforms with DMIC".

oh, I thought when they are mentioning Kaby Lake it's for 8th gen.

So that's like my issue here, right ?

Also I wanna ask, if I buy USB Sound card, microphone or headset with USB port, will this issue will affect those device to

[2020-05-13 15:09] kv2019i commented on #2931
@LazyGeniusMan wrote:

ark.intel.com is your friend to parse the CPU product names, e.g. https://ark.intel.com/content/www/us/en/ark/products/codename/82879/kaby-lake.html

Indeed, that's why I was mentioning it. I recommend filing a bug to bugzilla.kernel.org which is more appropriate tracker for bugs in the SST driver.

Correct, USB is completely separate.

I cannot really confirm this -- the he

[2020-05-13 19:33] Enerccio commented on #2828
I keep getting random crashes even when in use now:

[code]

[2020-05-13 20:04] LazyGeniusMan commented on #2931
Oh the 8th gen is Kaby Lake R, i didn't notice the "R" before.

You mean by "Correct" is the USB device will work?, I was asking "Willi this issue affect Audio Device with USB port". "Correct" for the answer kind of confused me.

If I remember it correctly I've read something like "Audio Device with USB port come with it's own Sound Card and will use it's own Sound Card. Audio Device with jack por

[2020-05-13 20:19] plbossart commented on #2931
@LazyGeniusMan USB operation is orthogonal to that of the internal PCI audio device, so no impact/correlation.

[2020-05-13 23:56] marc-hb commented on #2543
While no release include the v1.2.2-6-gcaf77a93cef5 fix yet, it has been cherry-picked in the `alsa-git.patch` of alsa-utils version 1.2.2 **-2** .fc31 https://koji.fedoraproject.org/koji/rpminfo?rpmID=21111550

On Ubuntu 20.04, alsa-utils 1.2.2-1ubuntu1 does not have this fix.

[2020-05-14 02:00] LazyGeniusMan commented on #2931
Ok thanks for response.

**CONCLUSION**
Kaby Lake R (Intel 8th gen) is not supported yet. So internal mic and external mic won't work. For internal mic I haven't found any workaround, but for external mic through laptop's jack port you can make it work by adding `options snd-hda-intel model=dell-headset-multi` in `/etc/modprobe.d/*.conf`, if external mic still not detected change audio setting to

[2020-05-14 07:17] sathya-nujella opened #2936 "[TGL]: S0i3 is blocked by AUDIO PLL being ON"
**Describe the bug**
On TGL DUT:  DSP IP shows, it is in D3, but AUDIO PLL is ON. This is preventing DUT to enter S0i3.

**To Reproduce**
1) Flash S0ix enabled coreboot and EC on the Tiger Lake board with default DB (Max98357a + ALC5682I) -> Boot DUT -> run 'suspend_stress_test -c 1' which puts system to S0ix and wakes it
2) Check AUDIO PLL status when system is in suspend state

[Note: During thi

[2020-05-14 07:42] kv2019i commented on #2931
@LazyGeniusMan wrote:

Slight correction for the records: Not supported by this project (SOF firmware). It is supported in upstream Linux via Intel SST driver and firmware for older generations of hardware:

sound/soc/intel/skylake/skl.c

#if IS_ENABLED(CONFIG_SND_SOC_INTEL_KBL)
»       /* KBL */
»       { PCI_DEVICE(**0x8086, 0x9D71**),
»       »       .driver_data = (unsigned long)&snd_soc_acpi_

[2020-05-14 09:57] perexg opened #2937 "[BUG] v1.5 - Digital Microphone issues"
Issues:

* the controls were (again!) renamed from "Dmic0 Capture Volume" to "Dmic0 10 Capture Volume" ?
* the dmic volume is weaker than with 1.4.2

Control settings:

[code]

Testing sof-bin - v1.5 branch...

The peak is only ~1% for my voice with this setting using the arecord test:
  `arecord -vvv -f dat -c 4 -D hw:0,6 /tmp/a.wav`

[2020-05-14 10:26] realfossy opened #2938 "[BUG] No sound on Lenovo Yoga S740-15IRH (81NX0012GE) Core i9-9880H"
Used OS: Ubuntu Mate 20.04 freshly installed
Problem: No sound on speaker, sound on headset works without a problem. Headsets gets detected automaticlally when plugged in.

Sound software: ALSA-System

I have googled alot, but no solution or hint that would work. Is anyone out there working on this problem already? Is there a workaround available?
Best regards
Dirk

dmesg | grep 00:1f.3
[    1.722

[2020-05-14 10:52] zrombel opened #2939 "[BUG][APL] SRC component frequency conversion fails for certain combinations"
**Describe the bug**
Bug is related to PR: #2898 and is introduced to master with commit: #aded79d.
Before bug introduction every conversion between 8kHz, 16kHz, 24kHz and 48kHz worked properly.
Now SRC conversion matrix looks as follows:

In \ Out | 8 kHz | 16 kHz | 24 kHz | 48 kHz
-- | -- | -- | -- | --
8 kHz | PASS | FAIL | FAIL | FAIL
16 kHz | FAIL | PASS | FAIL | PASS
24 kHz | FAIL | FAIL | F

[2020-05-14 10:59] juimonen commented on #2937
@perexg, crap, this is clear bug from us... We obviously have still issues testing the full stack from kernel to user space, dmic being the hard one. It is caused by firmware commit  d65495e984ec922ed7bb3d25. This needs to be fixed.

Before we might have had also amplifying eq parameters so you could have better volume then, @singalsu FYI.

[2020-05-14 11:03] singalsu commented on #2937
@perexg What device model is this and what topology name does the kernel load? We seem to have a confusion with gains, sorry for that. Also does the above indicate that you have already maximized the available user volume control for capture (70. 70)?

[2020-05-14 11:03] kv2019i commented on #2937
FYI @lgirdwood @mengdonglin  @fredoh9

This seems to be a regression with this patch:
https://github.com/thesofproject/sof/pull/2660/

The patch changed ALSA mixer controls which our UCMs rely on:
https://github.com/alsa-project/alsa-ucm-conf/blob/master/ucm2/sof-hda-dsp/HiFi.conf

... I think this calls for a 1.5 hotfix. Can you @mengdonglin check how this passed validation?

[2020-05-14 13:11] perexg commented on #2937
It's Lenovo Carbon X1 7th gen (sof-cnl.ri + sof-hda-generic-idisp-4ch.tplg).

[2020-05-14 14:45] juimonen commented on #2937
@fredoh9 can you take a look at this? If I remove the pipeline numbering "index" values cause issues with alsatplg. Old topologies before your commit had dmic indexes close to each other, but now when the dmic0 and dmic1 index are separated far away, alsatplg can't compile same name mixer elements...

@ranj063 you have any idea how this should work? And what's the meaning of index values in topolo

[2020-05-14 18:19] juimonen commented on #2937
hmm, I think the change was made because we had 2 "Capture Volume" control definitions (name identical) for Dmic0 and Dmic1 in conf file. I think ASoC layer is combining these for alsamixer as, so we get nice "Dmic0 Capture Volume".

But as I now see the alsa-lib conf parsing code, it is actually merging the "duplicate" definitions, so we have in essence only 1 "Capture Volume" definition. It was

[2020-05-14 18:30] perexg commented on #2937
Sorry, I don't get what you're doing with the alsa-lib configs. Could you show me the pieces you refer (from the .conf files not .m4 files)?

[2020-05-14 19:16] juimonen commented on #2937
@perexg sorry for being confusing... I'm just trying to understand how the conf parser works and I need to jump between alsa-utils and alsa-lib.

Attached a conf where I removed the volume control numbering (working as the old way) and it doesn't compile with alsatplg. I renamed the conf to txt as you can't attach otherwise

- However if you change the second "Capture Volume" index from 8 to 4, it

[2020-05-14 20:09] perexg commented on #2937
You can imagine the configuration like a tree. You have this in your config:

[code]

The result after load is:

[code]

If I normalize your unreadable configs using `alsatplg -n t.conf  -o n.conf` the problem is visible:

[code]

There is no 'index 3' section, because configs get merged (identical identifier "Capture Volume" in the configuration tree) - last parsed entry wins in this case.

The '

[2020-05-14 20:16] perexg commented on #2937
Thinking more: Perhaps, it may be sufficient to add a suffix to the control mixer name specified in SectionControlMixer and strip it in the topology library when the contents is written to the output binary file. Like "Capture Volume|Dmic0" where "|Dmic0" will be stripped. If I understand correctly, the identical mixer control names may exists if they're in different functional groups, right?

[2020-05-15 03:20] victortrac commented on #2828
Exact same issue here.

- X1 Carbon, 7th Gen.
- Linux carbon 5.6.11-arch1-1 #1 SMP PREEMPT Wed, 06 May 2020 17:32:37 +0000 x86_64 GNU/Linux
- sof-firmware 1.4.2-1

It seems to come and go randomly since the 5.6.x kernels. All sound breaks, including bluetooth.

[2020-05-15 04:00] sinahuang opened #2940 "[BUG][GLK]"DSP panic" when do module load/unload test"
**Describe the bug**
"DSP panic" when do  module load/unload test,Seems only a error message,has no imapct on function
After error occured,all the pipeline can work normally

**To Reproduce**
1.sudo reboot
2. cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-glk-da7219.tplg
5../check-kmod-load-unload.sh(https://github.com/thesofproject/sof-test/blob/master/test-case/check-kmod-load-

[2020-05-15 06:40] juimonen commented on #2937
@perexg, Yes the idea was exactly that we would have same named controls, but in different indexes. So the prefixing pga name would be the differentiator. But as you said, with current methods, to get this right, we need to have different control names also.

Anyway this current method of attaching pipeline id to control name is bad, because it changes all the time (or can change). So it needs to

[2020-05-15 07:29] juimonen commented on #2937
I made now this:
https://github.com/thesofproject/sof/pull/2942

So Dmic0 name remains as it was and Dmic1 is indexed. I think we don't currently reference Dmic1 in upstream UCM's so UCM's should work with this....

[2020-05-15 09:11] perexg commented on #2937
It's just a workaround. I would really prefer a fix. Some thoughts:

1) the SectionControlMixer controls are static, so the name should be unique and adding a next extra prefix in the driver seems like a big mistake (why not define directly 'Dmic0 Volume Control') ?

2) allow private instantions of the control mixer elements for DAPM widget (enhance the config syntax and improve the alsa-lib's top

[2020-05-15 09:45] Liviali155 commented on #2937
Matins(TPLG: sof-hda-generic-2ch.tplg)
1.4.2 The controls named  "Dmic0 Capture Volume" and  "Dmic1 Capture Volume"
1.5   The controls named  "Dmic0  10 Capture Volume" and  "Dmic1 Capture Volume"
1.4.2 The peak can up to 99% when recorded using dmic (set volume as maximum)
1.5    The peak only 20%~30% when recorded using dmic (set volume as maximum)

TGL HDA RVP(TPLG: sof-hda-generic-4ch.tplg)
1.

[2020-05-15 10:41] singalsu commented on #2937
The change in capture sensitivity (meaning dBSPL -> dBFs, we really should use other calibrated metric than arecord-%) can be due to several issues:

- Device with 3 or more microphones receive to firmware only volume control for channels 1 and 2. Channels 3, 4, ... operate with default gain of 0 dB. I wonder what channels get extracted by Pulseaudio when e.g. 2ch capture is done?

- We may have h

[2020-05-15 12:16] juimonen commented on #2937
@Liviali155 Do you see the dmic volume control having any effect with my patch and new firmware? So do you see increase/decrease in levels? And can you also check that alsamixer dmic0 setting is also moving? So we are wondering do we have some issues with volume setting for 4 channel dmic....

[2020-05-17 19:32] perexg commented on #2937
Just note: arecord uses the really dumb sample level % (so for 16-bit, 1% = 65536 / 100 = a sample value between 655 and 1311). No dBxxx related conversions.

Wow. Another inconsistency.

I think that only first two channels are used, so the volume control problem is invisible.

[2020-05-18 08:43] keyonjie commented on #2936
@sathya-nujella so do you mean that s0ix residencies don't get increased even no any audio is run?

[2020-05-18 09:01] Liviali155 commented on #2937
Yes,  on TGL HDA RVP dmic volume control has effect,I can see increase/decrease in levels,but the peak less 10% when changed the volume to maximum,and still can capture voice when changed volume to 0,see issue https://github.com/thesofproject/linux/issues/1799

[2020-05-18 10:00] lgirdwood commented on #2828
@Enerccio @victortrac can you guys try v1.4.3 or v1.5. They have now been signed and can be found here
https://github.com/thesofproject/sof-bin

Please see the v1.4.3 and v1.5 branches.

[2020-05-18 10:27] mrajwa commented on #2006
@keqiaozhang @mengdonglin can we close this issue?

[2020-05-18 13:10] slawblauciak commented on #2932
@singalsu good to close?

[2020-05-18 14:19] singalsu commented on #2932
@slawblauciak Sure, closing now!

[2020-05-18 14:19] #2932 closed

[2020-05-18 19:06] lgirdwood commented on #769
@keyonjie @kv2019i sorry guys, I've not heard any of the use cases where we need to reference components by UUID.

1) PCMs - referenced by ALSA ID.
2) Kcontrols - referenced by ALSA ID
3) debugFS - passed directly - userspace can translate
4) probes - not really applicable since we need instance ID rather than component UUID.

The only place where I see the need for the UUID is when the component

[2020-05-18 21:38] sathya-nujella commented on #2936
I checked with my S0ix enabling team. Here are the details.
TGL supports different S0ix states: S0i2, S0i3 and other sub states like S0i2.1/S0i2.2/S0i3.1 etc.
If system is able to successfully enter S0i2, then Low Power Mode 0 Residency counter (LPM_0_RES = S0i2 residency counter) will be incremented.
Like wise, if system enters successfully S0i3 ==> LPM_3_RES/S0i3.0 residency counter will be incr

[2020-05-19 06:50] keyonjie commented on #2936
OK, Thanks for the details @sathya-nujella

BTW, we do need the Chrome environment to duplicate and debug the issue.

[2020-05-19 07:41] #2931 closed

[2020-05-19 10:06] peileeli opened #2948 "[TGL] pcm read/write error when loading 16bit, 8k, 6 channel topology"
**Describe the bug**
I have loaded a 6channel, s16_le, 8k topology. However I faced the error below:
root@intel-corei7-64:~/aud# arecord -vD hw:0,0 -r16000 -c6 -fS16_LE output.wav -d1
Recording WAVE 'output.wav' : Signed 16 bit Little Endian, Rate 16000 Hz, Channels 6
Warning: rate is not accurate (requested = 16000Hz, got = 8000Hz)
         please, try the plug plugin
Hardware PCM card 0 'sof-noc

[2020-05-19 10:07] peileeli commented on #2948
[multichannel-issue.zip](https://github.com/thesofproject/sof/files/4649678/multichannel-issue.zip)

uploaded the dmesg and sof-logger

[2020-05-19 10:53] singalsu commented on #2937
@Liviali155 Can you please try SOF PR #2949. It re-introduces the +20 dB EQ gain that seems to be still needed.

[2020-05-19 11:16] peileeli opened #2950 "[BUG][EHL][S0ix.y]S0i2.0 fails to enter with SES0 binary of EHL BIOS"
**Describe the bug**
S0i2.0 fails to enter with SES0 binary of EHL BIOS

**To Reproduce**
1. Flash with the BIOS and Yocto package
2. Make the necessary BIOS settings for S0ix.y :
Intel Advanced Menu → Debug Setting --> Kernel Debug Serial Port --> Debug Port Disabled
--
Intel Advanced Menu→ Debug Setting → Platform Debug Consent→ Manual
Intel Advanced Menu → Debug Setting → Advanced Debug Setting

[2020-05-19 12:14] singalsu commented on #2939
@zrombel Hi, can I keep support for 11.025 kHz, 12 kHz, 22.05 kHz in/out removed? As addition to above table I'd keep 32 kHz supported. As a nice N * 8 kHz rate, the support doesn't need much RAM.

[2020-05-19 12:53] lgirdwood commented on #2948
@peileeli your topology is configured to 8k audio only. If you want to set 16k or other rates then you can either use the SRC or set the rate to 16k.

[2020-05-19 13:06] zrombel commented on #2939
11.025 kHz, 12 kHz, 22.05 kHz can be kept removed, I don't think there is any production topology using this sampling rates, and we don't cover them in python tests.

[2020-05-19 13:22] dbaluta commented on #2939
@zrombel @singalsu what about 44.1KHz is that supported? This is usually a rate requested by customers.

For us will be good to have the multiple of  11.025KHz rates (with a stress on 44.1KHz).  I know
that SRC algorithms can be pretty nasty. In this case what is the drawback of having them supported?

Is the implementation or the fact that they use a lot of resources? At least keep them under som

[2020-05-19 13:38] zrombel commented on #2939
As far as i know 44.1KHz sampling rate is not supported at this point.

[2020-05-19 16:07] singalsu commented on #2939
@zrombel Thanks for confirm! @dbaluta Yep, 44.1 <-> 48 remains supported. Also the full set 8 - 192 kHz remains available for xt-xcc build via Kconfig.

[2020-05-19 17:21] dbaluta commented on #2939
@singalsu Thanks!

[2020-05-20 02:37] Liviali155 commented on #2937
Tried with PR  #2949
TGL HDA RVP:
The issue controls name still can be reproduced as below
The controls named "Dmic0 10 Capture Volume" and "Dmic1 Capture Volume"

The peak can up to 60%~70% when recorded using dmic6 (set volume as maximum)
But the peak still less than 10% when recorded using dmic7(set volume as maximum)
<img width="349" alt="Capture" src="https://user-images.githubusercontent.com

[2020-05-20 04:38] sathya-nujella commented on #2936
We are checking on Chrome DUT as we are able to put it in to S0ix. Not sure on other OS's. On your system, can you please put DUT to run time D3.
Check if audio pll shows up as in step-3 of bug description. But, I don't know if that is right method for this problem to debug. Please check.

[2020-05-20 05:19] xiulipan commented on #2950
Looks very like https://github.com/thesofproject/sof/issues/2889
Happen only on certain device with certain IFWI

[2020-05-20 06:50] peileeli commented on #2948
i'm able to play without error now. Thanks for the help @lgirdwood

[2020-05-20 06:50] #2948 closed

[2020-05-20 06:57] juimonen commented on #2937
@Liviali155 please use together the 2 PR's from @singalsu and me:
#2942 and #2949. Together these should fix naming and volume.

[2020-05-20 06:58] xiulipan opened #2959 "[BUG]DEMUX comp not work normally with channel 4 to 2 with format conversion"
**Describe the bug**
Used to be https://github.com/thesofproject/sof/issues/2533
The DEMUX should copy the data from source to sink without any error, but now with DEMXU comp, the copy out data is broken when copy channel 4 to channel 2 with format conversion

**To Reproduce**
Use demux test tplg sof-apl-demux-pcm512x.tplg (https://github.com/thesofproject/sof/pull/2958 )  to replace the sof-apl-n

[2020-05-20 06:58] xiulipan commented on #2533
Move to new #2959 with new test and new issue.

[2020-05-20 06:58] #2533 closed

[2020-05-20 07:17] juimonen commented on #2959
@xiulipan can you still be more specific, so you are playing s32, so is the 32 or 16 bit demux data broken?

[2020-05-20 07:22] juimonen commented on #2959
@xiulipan although all bugs are bad, we should probably try playing S16 data as I don't see too many user space folks/apps ever using s32. Demux should be able to convert this to s32/s24 if some fw internal component uses that (or use the original S16).

Or is CRAS for example playing s32? just checking here, as I don't know...

[2020-05-20 08:11] xiulipan commented on #2959
@juimonen Playing s32 and demux extract s16 is broken.
I will try to playback s16 and update the test case. Not sure what CRAS will behave
@keyonjie Could you help to give more info with the smart amp usage here?

[2020-05-20 08:19] xiulipan commented on #2959
@juimonen with s16 source. the s32 demux is not working. So I think we do not support format switch in the demxu.
![image](https://user-images.githubusercontent.com/37825714/82422850-92bf7380-9ab5-11ea-8455-e69b672e5fbc.png)

[2020-05-20 08:30] Liviali155 commented on #2937
After applied with #2949,volume still has issue when arecord via dmic(0,7)

[2020-05-20 08:33] juimonen commented on #2937
@Liviali155 ok this is as it supposed to be. We left the 16khz pipeline volume intentionally without eq boost as the 16khz pipe is not referred in upstream UCM's currently. @singalsuo FYI.

[2020-05-20 08:42] keyonjie commented on #2959
yes, @xiulipan  mux/demux is expected to do channel mux/demux only, no sample rate or sample format changing inside it.

[2020-05-20 08:42] singalsu commented on #2937
@juimonen @Liviali155 @lgirdwood I realized afterwards that it would be possible to increase the loudness of 16 kHz PCM. There's a separate macro for it so it's possible without conflicts. The macros system that was introduced is not yet complete but this seems possible.  Maybe it should be done to avoid confusion. I'll do that change for next non-RFC version.

Thanks for testing this!

[2020-05-20 09:31] tlauda commented on #2921
@Liviali155 That patch shouldn't have any functional impact. Could you verify again to make sure it's this specific patch that caused it?

[2020-05-20 10:08] YvonneYang2 commented on #2693
Issue can be reproduced with latest sof-dev(commit:3914cd29) and master(commit: d9e3d4d4) on apl nocodec and apl I2S PCM512x platforms.

Reopen it.

[2020-05-20 10:42] YvonneYang2 opened #2971 "[BUG][CML]"0000:00:1f.3: error: firmware boot failure" occurred during suspend/resume with audio stress test."
**Describe the bug**
During suspend/resume with audio stress test, dmesg will show
[code]

**To Reproduce**
1.Boot up system.
2. Run "./check-kmod-load-unload-after-playback.sh -l 10".
(https://github.com/thesofproject/sof-test/blob/master/test-case/check-kmod-load-unload-after-playback.sh)
3. Run "./check-suspend-resume-with-audio.sh -m capture -l 100"
 (https://github.com/thesofproject/sof-test/

[2020-05-20 13:21] lgirdwood commented on #2959
Can we fix demux https://github.com/thesofproject/sof/issues/2687 please.

[2020-05-20 13:39] singalsu commented on #2937
@Liviali155 There's now PR #2961. Can you please check that it gives similar capture level for 16 kHz DMIC as the just merged #2949 change for 48 kHz did.

[2020-05-20 19:55] kv2019i commented on #769
Ack @lgirdwood . Actually that's aligned with the summary I put earlier:
https://github.com/thesofproject/sof/issues/769#issuecomment-614526960
... all the requirements for UUID usage are linked to topology loading, and ability to detect configuration mismatches at load time. I agree with you that we have no other use-cases where UUID would be used (well, tracing is one, but for that the UUID conv

[2020-05-21 02:26] Liviali155 commented on #2937
Tried with PR #2961, it actually gives similar capture level for 16kHz DMIC as the just merged #2949 change for 48 kHz did.

[2020-05-21 03:00] keyonjie commented on #2959
@mmaka1 has a discussion topic related to this here: https://github.com/orgs/thesofproject/teams/sof-developers/discussions/38

I am not clear what the implementation plan for that, but the PR https://github.com/thesofproject/sof/pull/2788 should help to reject and avoid getting and providing wrong data to the user space.

[2020-05-21 09:18] lgirdwood commented on #2959
@keyonjie @xiulipan I want demux/mux to only to muxing and demuxing only. No mixing or format conversions please. I am not following from your comments if you are aligned with this ?

[2020-05-21 09:33] keyonjie commented on #2959
I got your point, but looks nobody is working on that #2687, everybody is waiting for the mux/demux author @akloniex to work on that?

[2020-05-21 13:33] jajanusz commented on #2936
Which MCLK/BCLK do you use? Does issue happen when you use only XTAL for these clocks (NO PLL at all) ?

[2020-05-21 13:35] jajanusz commented on #2936
There is no code responsible in FW for powering PLL, we just select source for mclks/bclks (it's xtal by default), but maybe we should switch back to XTAL when PLL is no longer used, however I need to know if issue is still here if you use only XTAL.

[2020-05-21 13:37] ranj063 commented on #2936
@jajanusz just to confirm, there is no active audio here. The DSP is in D3 but the audio PLL is still on.

[2020-05-21 13:39] jajanusz commented on #2936
I know, but if the last used topology (before puasing/stopping audio) used PLL it's still selected as mclk/bclk source (instead of xtal), I was trying to figure out if it can impact if it's powered on even if it's not actively used.

[2020-05-21 13:56] lgirdwood commented on #2959
@juimonen fyi on #2687

[2020-05-21 19:56] Valerio1474 opened #2968 "[BUG] No sound with SOF drivers on 5.6.14 and previous kernels"
**Describe the bug**
Hardware: HP Omen 15-dh0002nl
My digital mic is not working with the classic alsa driver. So I tried the SOF drivers this  leads to errors that renders the sound card unusable.

**To Reproduce**
Boot kernel without snd-intel-dspcfg.dsp_driver=1 option or using any other value except 1 (0,2,3)

**Reproduction Rate**
Always with custom and stock kernels since 5.3.x to 5.6.14

**

[2020-05-22 00:14] Liviali155 commented on #2890
On latest sof-dev(2de2b2ac)+master(11ee3b87 )  run
./check-kmod-load-unload-after-playback.sh -l 1000
error not seen

[2020-05-22 02:22] sathya-nujella commented on #2936
@jajanusz
we are testing on a DUT which uses this tplg:
https://github.com/thesofproject/sof/blob/master/tools/topology/sof-tgl-max98357a-rt5682.m4

[2020-05-25 09:47] olividir commented on #2911
@mengdonglin
Updating the BIOS on my machine sorted the sound out. I am running Kernel 5.6.xx with sound now. Just wanted to let you know.

[2020-05-25 10:44] lgirdwood commented on #2911
@olividir ok thanks, we can close now.

[2020-05-25 10:44] #2911 closed

[2020-05-25 12:49] zrombel commented on #2939
Fix in https://github.com/thesofproject/sof/pull/2953.

[2020-05-25 12:49] #2939 closed

[2020-05-25 13:27] wmertens commented on #1899
Commenting to help find other users find this issue:

If you have an Acer Swift 3 with an 8th gen Intel CPU and you want your Intel Digital Microphone Array (DMIC) under Linux, then you need to subscribe to this issue.

[2020-05-25 13:35] 3ddd commented on #1899
what type of controller do you have on Acer? This one?
lspci -nn | grep Audio
00:1f.3 Multimedia audio controller [0401]: Intel Corporation Sunrise Point-LP HD Audio [8086:9d71] (rev 21)

[2020-05-25 13:45] zrombel commented on #2320
I had some time to look at the problem and will summarize it a little.
This bug only shows on audio formats with 8 channels, namely:
8000Hz 16b/16b 8ch
8000Hz 24b/32b 8ch
8000Hz 32b/32b 8ch
16000Hz 16b/16b 8ch
16000Hz 24b/32b 8ch
16000Hz 32b/32b 8ch
24000Hz 16b/16b 8ch
24000Hz 24b/32b 8ch
24000Hz 32b/32b 8ch
48000Hz 16b/16b 8ch
48000Hz 24b/32b 8ch
48000Hz 32b/32b 8ch
For other formats with channel

[2020-05-25 14:09] wmertens commented on #1899
yes correct
[code]

The realtek codec is ALC265

[2020-05-25 15:14] 3ddd commented on #1899
would that Request affect my x360 1040 G5 with Conexant Codec?
Multimedia audio controller [0401]: Intel Corporation Sunrise Point-LP HD Audio [8086:9d71] (rev 21)
	Subsystem: Hewlett-Packard Company Sunrise Point-LP HD Audio [103c:8470]

!!HDA-Intel Codec information
!!---------------------------
--startcollapse--

Codec: Conexant Generic
Address: 0
AFG Function Id: 0x1 (unsol 1)
Vendor Id: 0x14f

[2020-05-25 18:24] sathya-nujella commented on #2936
Tried this experiment, still audio PLL is ON:
"Built SOF  fw with below two changes:
a) LPS - sof/pull/2951
b) LPRO :
Not sure if this is the right method to completly enable LPRO -- but sharing the result"
./src/arch/xtensa/configs/override/tigerlake_chrome.config
	+CONFIG_CAVS_LPRO=y
./src/arch/xtensa/configs/tigerlake_defconfig
	+CONFIG_CAVS_LPRO=y
"
Used this built SOF fw during the test..

[2020-05-25 19:03] syrofoam commented on #2911
I did blacklist snd_hda_intel, blacklist snd_soc_skl. Rebooted. Disabled microphone in bios. Rebooted again, now it works here too.

[2020-05-26 02:23] keyonjie commented on #2936
@sathya-nujella you can run 'make menuconfig' in the build_tgl_xcc folder and select it under "CAVS  --->" folder:
[code]
after saved, you will see "CONFIG_CAVS_LPS=y" in generated/.config

[2020-05-26 02:54] Liviali155 commented on #2890
On 20200526 for-next(e0b2db35)+master(136b48ce) ,error occured again when run Check Runtime PM status
[code]
[dmesg.txt](https://github.com/thesofproject/sof/files/4679657/dmesg.txt)
[slogger.txt](https://github.com/thesofproject/sof/files/4679658/slogger.txt)

[2020-05-26 05:47] sathya-nujella commented on #2936
Thank you @keyonjie. Let me cross check and update result again.

[2020-05-26 06:40] tlauda commented on #2921
@Liviali155 Ping.

[2020-05-26 06:53] Liviali155 commented on #2921
@YvonneYang2  is verifying it,Hi Yvonne,do you have result now

[2020-05-26 07:22] YvonneYang2 commented on #2921
The bisect result shows the commit ba88351 caused the issue.
Tried ba88351 can reproduced the issue.
But tried it's last commit 6ce635a , it will always reproduce issue https://github.com/thesofproject/sof/issues/2693 while not #2921.

[2020-05-26 07:46] jajanusz commented on #2971
Can you post full sw+fw logs?

[2020-05-26 11:34] kv2019i commented on #2635
@ArtOfSettling wrote:

...

A bit late follow-up, but that is good to hear. So the remaining problem you have is with the codec driver and that is better dealt as a bug to ALSA kernel (https://www.alsa-project.org/wiki/Bug_Tracking) or via distro (like you mentioned). It seems https://bugzilla.kernel.org/show_bug.cgi?id=207423 is covering this problem. Thanks for reporting the issue!

[2020-05-26 11:34] #2635 closed

[2020-05-26 12:18] tlauda commented on #2693
@ranj063 @kv2019i I've noticed something weird in FW log (slogger.txt). After freeing and recreating the whole topology again every DAI config IPC is sent twice instead of once. Also IPC parameters for the faulty IPC are totally messed up. Could take a look into the kernel code?

[2020-05-26 13:21] perexg commented on #2937
Could you release 1.5.1 in sof-bin with this fix?

[2020-05-26 14:17] plbossart commented on #2320
@zrombel I still don't have a good understanding of what loopback you are enabling. What registers are you playing with?

For the PRBS stuff, the code is enabled w/ https://github.com/thesofproject/linux/pull/2117

[2020-05-26 15:59] singalsu commented on #2971
@YvonneYang2 I have a Comet Lake-U based device so I will try to repeat this.

[2020-05-26 19:53] yongzhi1 commented on #2889
Hi, @mengdonglin @xiulipan , the issue was not reported recently with latest BKC, so let me close it.

[2020-05-26 19:53] #2889 closed

[2020-05-27 01:26] YvonneYang2 commented on #2971
Sorry for the wrong bisect result since the issue is not 100% reproducible.
I tried it again and I could reproduce the issue with commit 863eb0a07 and cannot reproduce with it's last commit 97fd4837. But I'm not sure commit 863eb0a07 is the right bisect result because i cannot revert the commit to double check.

Here here are the logs.
[sof-trace1.log](https://github.com/thesofproject/sof/files/46

[2020-05-27 01:39] sathya-nujella commented on #2936
now enabled LPS and also cross checked by adding build error.. it is taking effect.
This is what we did: 0_6 release fw tag + sof/pull/2951 + LPS config enable.

Result is same. Audio PLL is on during S0ix (suspend/resume)
LPM_STATUS_0:	0xf57c00f4
AudioPLL_OFF_STS               0

[2020-05-27 02:04] YvonneYang2 commented on #2921
@dbaluta Could you please have a look to see if the commit could cause the issue? thanks~

[2020-05-27 06:47] rentalagent666 opened #2980 "[BUG] Glitches on asrc capture stress test."
**Describe the bug**
When running simultaneous capture and playback on external loopback (same SSP) with ASRC component on capture pipeline, with playback iteration >= 75, there are small gliches on capturead wave. Therefore, the THD value in the wave verification is worse than expected.

**Example captered stream**

Spectogram:
![image](https://user-images.githubusercontent.com/60582003/82986269-

[2020-05-27 06:51] jdrzaszcz opened #2981 "[BUG] Glitches on asrc capture stress test."
**Describe the bug**
When running simultaneous capture and playback on external loopback (same SSP) with ASRC component on capture pipeline, with playback iteration >= 75, there are small gliches on capturead wave. Therefore, the THD value in the wave verification is worse than expected.

**Example captered stream**

Spectogram:
![image](https://user-images.githubusercontent.com/60582003/82986269-

[2020-05-27 06:51] jdrzaszcz commented on #2980
Duplicated

[2020-05-27 06:51] #2980 closed

[2020-05-27 06:54] jairaj-arava commented on #2913
@mrajwa  has provided us a firmware image with LPRO selected as default clock source. With this we had a ITP debug session and we see ACRO is off or shutdown during S0IX + WOV but still S0IX is failed with WOV.

But we found some differences as below from today’s debug session. We see main_divider, other clocks in the clock tree and all the power domains (HAD_PGD*) are ON during S0IX+WOV. These al

[2020-05-27 07:18] singalsu commented on #2981
Interesting, thanks for reporting @jdrzaszcz ! When doing 75+ tests, how long were each play/capture tests?

[2020-05-27 07:23] jdrzaszcz commented on #2981
@singalsu On each iteration we play 3 seconds stream.

[2020-05-27 07:56] YvonneYang2 commented on #2749
Issue cannot be reproduced with latest sof-dev(commit: 866e4d55) and master(commit: 6cfd3e5a) .
So close it.

[2020-05-27 08:39] bkokoszx commented on #2720
Closed via #1896

[2020-05-27 08:39] #2720 closed

[2020-05-27 11:08] lgirdwood commented on #2937
@lbetlej @fkaczmar @mengdonglin can we do a v1.5.1 next week ?

[2020-05-27 14:19] zrombel commented on #2320
@plbossart  Thank for the PR, will look into it.

Ok, so I'm pasting all register values that we are setting.

Audio format: 48kHz 32b/32b 8ch
Playback port:  SdW Instance: 0, PDI 2, DP 1
Capture port: SdW Instance: 0, PDI 3, DP 2
SdW Frame: Columns: 4 (index 1), Rows: 100 (index 9)
Platform: ICL

[code]

[2020-05-27 15:47] singalsu commented on #2971
@YvonneYang2 Thanks for update. I tried to start with this but I get this error. I have sof firmware directory fetched to parallel directory and topologies and test topologies build. What is missing?

[code]
Since it's apparently not FIR related maybe someone else can look this?

[2020-05-28 02:27] YvonneYang2 commented on #2971
Sorry for the not detailed steps.

1.Boot up system.
2.Run command "export TPLG=/lib/firmware/intel/sof-tplg/sof-cml-rt1011-rt5682.tplg
3. Run "./check-kmod-load-unload-after-playback.sh -l 10".
(https://github.com/thesofproject/sof-test/blob/master/test-case/check-kmod-load-unload-after-playback.sh)
4. Run "./check-suspend-resume-with-audio.sh -m capture -l 100"
(https://github.com/thesofproject/

[2020-05-28 04:16] Liviali155 commented on #2749
Error occured again with  latest sof-dev(0d22f66b)+Master(46897802) when run Pause/Release: simultaneous playback/capture - 100x in CI stress test
1.sudo reboot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-tplg/sof-apl-pcm512x.tplg
5. ./multiple-pause-resume.sh -r 25

<details>
 <summary>dmesg_error.log</summary>

[code]
</details>

<details>
 <summary>sof_error.log</summary>

[2020-05-28 04:33] Liviali155 commented on #2921
On glk also occured this issue with latest sof-dev(0d22f66b)+master(46897802) when run Check kmod load/unload in CI stress test
1.sudo reboot
2.cd sof-test
3.cd test-case
4.export TPLG=/lib/firmware/intel/sof-glk-da7219.tplg
5../check-kmod-load-unload.sh -l 50(https://github.com/thesofproject/sof-test/blob/master/test-case/check-kmod-load-unload.sh)

<details>
 <summary>dmesg_error.log</summary>

[2020-05-28 06:24] jdrzaszcz opened #2986 "[BUG] Too short volume initial ramp in format 8kHz 16b/16b 1ch"
**Describe the bug**
When running simultaneous capture and playback on external loopback (same SSP) with Volume component on playback pipeline, inital ramp length is not equal to given initial ramp parameter.
It happens with
SofVolumeRamp = SOF_VOLUME_LINEAR,
SofVolumeRamp = SOF_VOLUME_LINEAR_ZC, and only for format 8kHz 16b/16b 1ch

Example for SOF_VOLUME_LINEAR_ZC:
INITIAL_RAMP = 40
Expected 312

[2020-05-28 06:36] singalsu commented on #2986
@jdrzaszcz Thanks for through testing! The ZC mode inaccuracy is in my list but I wasn't aware of linear mode inaccuracy. Can you still add what volume transitions (as dB, or Q16.16 linear gain) did you apply in above examples?

[2020-05-28 06:50] jdrzaszcz commented on #2986
@singalsu The gain was from VOL_MIN = 0 to VOL_MAX = (1 << 16)

[2020-05-28 06:57] singalsu commented on #2986
Yep, for that transition the lengths should be as you expected. I think I can create next week a PR to fix these.

[2020-05-28 08:13] singalsu commented on #2971
@YvonneYang2 I was not able to repeat this. The second script check-suspend-resume-with-audio.sh just froze in round 83. There's no error in dmesg (journctl -f -k) window that I had open.

(I realize now the huge effort in bisect, only single run took very long time)

[2020-05-28 08:57] tlauda commented on #2921
@Liviali155 Could you check with this patch https://github.com/tlauda/sof/commit/e3f9299b4fa4af5ed0d003b18f4fbd032e851a36 and let me know whether it helps.

[2020-05-28 08:58] tlauda commented on #2693
@YvonneYang2 Could you check with this patch https://github.com/tlauda/sof/commit/e3f9299b4fa4af5ed0d003b18f4fbd032e851a36 and let me know whether it helps.

[2020-05-28 09:47] sinahuang opened #2991 "[BUG][TGL][SDW]"ipc error for 0x60010000 size 20" occured when captured via arecord0,4(dmic)."
**Describe the bug**
" Unable to install hw params:" display when captured via arecord0,4(dmic) and dmesg shows "ipc error for 0x60010000 size 20" .

**To Reproduce**
1. Boot up system..
2.  Arecord -Dhw:0,4 -r 16000 -c4 -fs16_le 00.wav -vv -i

**Reproduced rate**
100%

**Expected result**
Arecord should work successfully.

**Actual result**
Dmesg shows "error: ipc error for 0x60010000 size 20" an

[2020-05-28 09:53] sinahuang commented on #2991
Might be related to issue  https://github.com/thesofproject/sof/issues/2445

[2020-05-28 16:26] plbossart commented on #2991
@sinahuang you are trying to record 48kHz on the 16kHz link, this cannot possibly work.

[2020-05-29 01:35] sinahuang commented on #2991
Error still can be seen when arecord with 16kHz link.
[code]

[2020-05-29 09:40] singalsu commented on #2971
@slawblauciak Can someone else take this? I have in my list the volume and ASRC fixes where I know what to do. This new bisect round no more points to FIR topology.

[2020-05-29 09:43] Liviali155 commented on #2921
Tried with  [tlauda@e3f9299](https://github.com/tlauda/sof/commit/e3f9299b4fa4af5ed0d003b18f4fbd032e851a36)
1st:./check-kmod-load-unload-after-playback.sh -l 1000,error not seen
2nd:./check-kmod-load-unload-after-playback.sh -l 1000,error not seen