[2018-05-31 20:56] lgirdwood opened #1 "DMA trace output can contain repeated trace data blocks"
The DMA trace data read by rmbox can contain repeated blocks of trace data.

[2018-06-21 14:12] lgirdwood opened #6 "Trace mailbox shows garbage"
The trace mailbox is outputting garbage on APL data after patch 80f3d47215c67afb0036b09b849a12799e584254 was applied.

0x0 [6076024018.780075]	delta [********]	value 0x03a3b651fd7d6ccc
0x10 [26736773379.643696]	delta [********]	value 0x0f2eac82f5e4a85a
0x20 [304907117229.521912]	delta [********]	value 0xe5847e76513e5b06
0x30 [922837080142.584229]	delta [********]	value 0xfae37d57071fc582
0x40 [951

[2018-06-21 14:59] lgirdwood commented on #6
Can be reproduced by running "rmbox" on the host. Expectation is that SRAM window may contain 1 or 2 error message but that's all. The rest should be all 0s.

[2018-06-22 08:22] lgirdwood opened #7 "Firmware crash when attempting playback on UP^2"
Audio playback seems to be broken on my up squared due to the this
commit: 7c281d3d894ce8e9b9ea5a6a314c5c9d8e631d3e.

I get "unable to install hw_params" error when I start aplay.

Please find attached the dmesg log below.

[   30.124183] sof-audio sof-audio: pfn i 15 idx 37 pfn 17dc7f
[   30.124203] sof-audio sof-audio: period_bytes:0x3f00
[   30.124210] sof-audio sof-audio: stream_tag 1
[   30.4

[2018-06-22 08:23] lgirdwood commented on #7
Bisected to commit 14ca1fa3d5a1d7b40bcbfc36d66b0ad96198a21c

[2018-06-22 08:57] keqiaozhang commented on #7
This regression also happens on CNL-RVP.

[2018-06-22 09:27] xiulipan commented on #7
The rmbox log is here:
0x0 [53.891054] delta [53.891054]       dai xru
0x10 [53.891885]        delta [0.000831]        dai xru
0x20 [53.891895]        delta [0.000011]        pipe pxr
0x30 [53.889751]        delta [********]        value 0x17707574
0x40 [53.890408]        delta [0.000657]        value 0x17707574
0x50 [53.891054]        delta [0.000646]        dai xru
0x60 [53.891056]        delta

[2018-06-22 09:53] xiulipan commented on #7
After adding some debug trace patch the panic disappear.
It seems we have some potential memory issues.
I remember we have such a regression mouths later and disappear with some new add patches. Need to root cause it now.

[2018-06-22 10:16] xiulipan commented on #7
in etrace (sudo rmbox) and dma trace (sudo rmbox -t)
value 0x17707574
shows only with the patch [https://github.com/thesofproject/sof/commit/7c281d3d894ce8e9b9ea5a6a314c5c9d8e631d3e]
But this patch did not add any trace_value in the commit.
After revert this patch this strange trace value also disappear.
There is definitely some error with this patch.
Hope this info can have some help.

Thanks

[2018-06-22 11:41] tlauda opened #9 "Wrong core-isa.h is included using gcc"
During build process using gcc, the wrong core-isa.h is included.
It should be the one from the platform directory, but header from xtensa-root/xtensa-xxx-elf/include/xtensa/config/core-isa.h is taken.

[2018-06-22 11:46] tlauda opened #10 "Lack of support for THREADPTR register in xtensa-overlays"
Need to add support for THREADPTR register for gcc.

[2018-06-22 13:02] lgirdwood commented on #6
Confirmed on my UP^2.

[2018-06-22 13:03] #6 closed

[2018-06-23 09:10] xiulipan commented on #7
confirmed work on my UP2
but still see unknown
trace value 0x17707574

0xaf80 [86.264330]      delta [0.001000]        value 0x17707574
0xaf90 [86.265330]      delta [0.001000]        value 0x17707574
0xafa0 [86.266330]      delta [0.001000]        value 0x17707574
0xafb0 [86.267330]      delta [0.001000]        value 0x17707574

[2018-06-23 10:49] tlauda commented on #7
0x17 means it is pm_runtime trace message. You just don't have it defined in rmbox.

[2018-06-24 06:00] ranj063 commented on #7
It doesnt work quite as expected
Audio plays only for about 10 seconds and then I get "underrun!!!" with aplay. Here's the dmesg log:
[   47.096639] sof-audio sof-audio: PCM: stream 0 dir 0 DMA position 10560 DAI position 1653024
[   47.180437] sof-audio sof-audio: posn mailbox: posn offset is 0xc104c
[   47.180446] sof-audio sof-audio: posn : host 0xe400 dai 0x656280 wall 0x13cd394c
[   47.180461

[2018-06-25 06:52] tlauda commented on #7
What is the format you are playing?
Are you sure the issue is still related to the commit https://github.com/thesofproject/sof/commit/14ca1fa3d5a1d7b40bcbfc36d66b0ad96198a21c?

[2018-06-25 13:45] lgirdwood commented on #10
Support now added with tag overlay-20180623. Needs run time testing,

[2018-06-25 15:00] #9 closed

[2018-06-26 03:30] ranj063 commented on #7
I am playing 16-bit format with a colume pipeline and output format is 24-bit
let me confirm if the issue is due to that commit still

[2018-06-26 06:27] zhuqingliang opened #17 "DSP trace buffer overflow on APL and CNL"
System Environment

sof-master:     3507eb2d0835dab4b19cbb80f6d6ab0c1b0ef3e3
soft-master:    bd7dc88231f31d385340310cef467f211a739eeb
sof-dev:          9b843df48bbaea2a067df9d098cd700d3abd6155
sof-4.14:         ad3d2be6fdf4d7a2e7d892e0e90929218d9e1ac3

check dmesg log when boot.

Attachments

[dmesg.log](https://github.com/thesofproject/sof/files/2135782/dmesg.log)
[rmbox.log](https://github.com/t

[2018-06-26 08:57] RanderWang commented on #17
yes, I am working on it.

[2018-06-26 13:40] xiulipan opened #19 ""DSP panic" when ALSA XRUN recovery"
When ALSA detect a xrun, a stop/start pattern for the recovery is send to firmware. This pattern is not supported now and will cause the DSP to have some error.

[2018-06-26 14:40] lgirdwood commented on #19
Please detail the trace logs when this happens in both FW and driver.

[2018-06-26 14:41] tlauda commented on #10
I'm confirming, that with that overlay the sources are building without errors.

[2018-06-26 20:16] tlauda commented on #7
@ranj063 Any updates? Still visible on top of the master? From what I'm seeing in the log, it looks like maybe issue #17.

[2018-06-26 20:43] ranj063 commented on #7
@tlauda sorry I didnt time to check this yesterday. I will update today.

[2018-06-27 03:03] ranj063 commented on #7
@tlauda , I've just tested my UP2 and the problem no longer exists and the playback is clean without distortion as well.

But, I cant play more than a few seconds of audio likely due to #17.

[2018-06-27 03:20] xiulipan commented on #7
@ranj063 Can you check the 0xbe01b018 in you sof-apl.lst
Where the panic happens?

[2018-06-27 04:09] xiulipan opened #22 ""DSP panic" when pause/release capture and playback is runing"
When runing aplay and arecord same time and pause the capture will cause panic
[65799.112194] sof-audio sof-audio: PCM: stream 0 dir 0 DMA position 11136 DAI position 92688
[65799.151303] sof-audio sof-audio: pcm: trigger stream 0 dir 1 cmd 4
[65799.151347] sof-audio sof-audio: ipc: send 0x60070000
[65799.151521] sof-audio sof-audio: ipc: 0x60070000 succeeded
[65799.151597] sof-audio sof-audio: PC

[2018-06-27 04:10] xiulipan commented on #22
rmbox error trace:

0x0 [65793.655709]      delta [********]        dai xro
0x10 [65793.655723]     delta [0.000014]        pipe pxr
0x20 [65793.656288]     delta [0.000564]        pipe pxr
0x30 [65793.656292]     delta [0.000005]        comp CEs
0x40 [65793.656293]     delta [0.000001]        value 0x0000000000000003
0x50 [65793.656295]     delta [0.000002]        pipe eOp
0x60 [65793.656296]

[2018-06-27 04:45] zhigang-wu commented on #22
where is the panic location based on the *.lst file?

[2018-06-27 07:58] keqiaozhang commented on #7
I have tested this issue on my UP2 board， this issue is no longer exists with nocodec tplg and codec tplg.
For nocodec topology, the ssp waveform is normal with different input frequency of sine.
For codec topology, the sound is clean without errors, but #17  trace buffer overflow issue is still exists.
Test env:
sof-dev: cb05347d9f85e18b414098d512c8287c297933d2
sof-master:599e1800bab31883cf1f9e84

[2018-06-27 07:58] #7 closed

[2018-06-27 11:57] lgirdwood commented on #22
xiulipan please label this issue. i.e. HW, regression etc

[2018-06-27 12:02] lgirdwood opened #25 "Python script to read DSP oops"
Write a python script to parse the DSP firmware oops message and then lookup the corresponding EPC C functions from the map/dissassembly files Dsiplay the EPS states too for each level.

Also look up each function and parameters from stack dump using map/disassembly files.

[2018-06-27 14:19] xiulipan commented on #22
sorry about that. I tried to do the label work but found it is not same as my own repo.
It seems I did not have the access to do the label work.

[2018-06-28 12:18] Jocelyn-Li opened #27 "DMA flow unification"
The main goal of the unified flow is to make sure that SW/FW/HW sequences are correct, especially in case of DMA stop where sporadic DMA hangs are possible otherwise. It is also a direct preparation for hda-dai implementation that needs to cooperate with the hda-dma.

[2018-06-28 12:20] Jocelyn-Li opened #28 "Link DMA Support"

[2018-06-28 12:22] Jocelyn-Li opened #29 "Power gating of memory banks on D3 entry"

[2018-07-01 11:52] RanderWang commented on #17
it is fixed by my patch

[2018-07-01 11:52] #17 closed

[2018-07-02 14:55] #10 closed

[2018-07-04 08:41] zhuqingliang opened #46 "pcm512x codec topology load fail on APL at UP^2 board"
sof-dev kernel: f9ab80f566cfcff9e03eaa5e5bbdc510767cd818
sof: c454399e8890c1d7eb007857f0dbe018d244eeb7
soft: 629d2a6bf1d0cf3c5b069d06fd120ed43ef5040f
using sof-apl-pcm512x.tplg
dmesg log
[    5.472861] bxt-pcm512x bxt-pcm512x: info: override FE DAI link SSP5-Codec
[    5.472873] bxt-pcm512x bxt-pcm512x: ASoC: CPU DAI sof-audio not registered
[    5.472877] bxt-pcm512x bxt-pcm512x: snd_soc_register

[2018-07-04 10:11] zhuqingliang opened #48 "Partial waveform distortion on CNL with volume topology"
![image](https://user-images.githubusercontent.com/29194447/42271152-31cd254e-7fb5-11e8-8e3a-85495c385ae8.png)
sof-dev kernel: f9ab80f566cfcff9e03eaa5e5bbdc510767cd818
sof: c454399e8890c1d7eb007857f0dbe018d244eeb7
soft: 629d2a6bf1d0cf3c5b069d06fd120ed43ef5040f
use test-ssp0-mclk-0-I2S-volume-s16le-s16le-48k-24000k-nocodec.tplg
run alsabat check /tmp/bat.* waveform

[2018-07-04 14:08] keqiaozhang opened #50 "Playback and capture's volume kctls are mixed in one page"
There're different views of kctl in amixer setting, but we found that all kctls of playback and capture are mixed together. For example, in playback view page, we also can found the kctl of capture and vice versa. This is a common issue on each platform.
![kctl](https://user-images.githubusercontent.com/22468760/42281603-a0c612fa-7fd6-11e8-95ba-f50aff89f531.PNG)

[2018-07-04 18:50] lgirdwood commented on #50
This is an ALSA specific issue that relies on naming strings to help userspace to determine whether a kcontrols playback or capture.
I think here ALSA uses the second string to determine direction, can you try and change the topology to use "PGA4.0 Capture Master Volume" instead ?

[2018-07-05 03:46] xiulipan commented on #46
This bug should be go with soft or sof.
I had a PR for this https://github.com/thesofproject/linux/pull/12
But since we did not have an solution about how to handle the DMIC part, we may need both the PR and some modification on topology.

[2018-07-05 03:49] xiulipan commented on #50
@keqiaozhang
You can take a reference here about the control name
https://www.alsa-project.org/~tiwai/writing-an-alsa-driver/ch06s03.html

[2018-07-05 08:47] Jocelyn-Li commented on #25
Suggest to put into SOF 1.3

[2018-07-05 11:45] zhuqingliang opened #58 ""DSP panic" when run aplay on GP using tdf8532 codec"
4.17-dev:   28fc73b252eaa6438e9c10a854f7067db24f07cd
sof:           709d6301e1ab2a0b2d0e45ad3621610a20232f5b
soft:          600e2692bd336bb3c1ac9154f3bdb60833ffc96b
aplay -Dhw:0,0 -f s32_le -r 48000 -c4    4channel-32b.wav
check dmesg
[   46.547323] sof-audio sof-audio: error : DSP panic!
[   46.547342] sof-audio sof-audio: panic: dsp_oops_offset 788480 offset 788480
[   46.547351] sof-audio sof-a

[2018-07-05 18:58] lgirdwood commented on #50
“SOURCE DIRECTION FUNCTION”.  Ok, so we need to change topology. e.g. "PGA4.0 Master Capture Volume" should become "Master Capture Volume PGA4.0". Can you update topology kcontrol builder macro to fix this.

[2018-07-05 19:00] lgirdwood commented on #46
Have review comments been addressed for https://github.com/thesofproject/linux/pull/12 ? If so, please push and ping.

[2018-07-06 02:21] zhigang-wu commented on #58
this information is not enough.
next time please paste the rmbox's log and the *.lst file.
and how long this issue will happen: immediately or for a little while.
did you do the pause/release operation during aplay?

[2018-07-06 02:50] zhigang-wu commented on #58
this issue should be same as "ALSA XRUN recovery not working".
when the alsa XRUN, it will send out the stop/start command to fw.
the fw can not recover correctly. the panic happens.

[2018-07-06 08:24] lgirdwood commented on #58
@zhigang-wu it would also be good to avoid the NULL + 0x40 dereference too. i.e. emit trace and return an error if this condition happens rather than deref NULL + 0x40

[2018-07-06 10:01] xiulipan commented on #46
Should be fixed with
https://github.com/thesofproject/soft/pull/19 and https://github.com/thesofproject/linux/pull/12
Change both machine driver and topology to fit the newest dai changes.

[2018-07-09 01:27] keqiaozhang opened #69 "2 samples of SSP port are silent"
There are 2 samples(49,50) of SSP port are silent (0).  This issue is happened on APL with passthrough and volume topologies. Please see below:
![sampling_issue](https://user-images.githubusercontent.com/22468760/42426380-21c10f46-835a-11e8-8dab-d125cf50561a.jpg)

[2018-07-09 01:50] zhigang-wu commented on #69
this is periodically or only one time in the whole playing process?

[2018-07-09 11:01] tlauda commented on #69
Is it playback or capture issue?

[2018-07-09 12:24] zhuqingliang opened #74 "11 samples of SSP waveform point are error on APL with nocodec tplg"
environment:
sof-dev:   bbe7c7a835b66dfe34eee7feeea78893cbb71a01
sof:      fa48c42abf83155d1bd42fafd4993d9b421ab5e0
soft:     ff8eb10b1877bb0fac8adf0124c36762a5f912fd

Reproduce Steps:
using test-ssp5-mclk-0-I2S-volume-s16le-s16le-48k-24576k-nocodec.tplg as sof-apl-nocodec.tplg
run : alsabat -Dhw:0,0 -f dat -c2 -r 48000 -F 997
audacity open /tmp/bat.wav.*
![image](https://user-images.githubusercon

[2018-07-09 12:30] zhuqingliang commented on #74
[dmesg.log](https://github.com/thesofproject/sof/files/2176120/dmesg.log)
[rmbox.log](https://github.com/thesofproject/sof/files/2176121/rmbox.log)

[2018-07-09 13:38] keqiaozhang commented on #50
@lgirdwood
Only adjust the string order in topology doesn't help. The root cause may related to the first string. A control is usually defined from the three parts as “SOURCE DIRECTION FUNCTION”.   Source is a string such as “Master”, “PCM”, “CD” and “Line”, so the first string should not be PGA*. Xiuli will help to check how the control name is parsed in kerenl side.

[2018-07-09 21:38] lgirdwood commented on #74
How can you capture analog data if this is nocodec mode ? It seems like this should be using a topology for a codec.

[2018-07-09 21:51] lgirdwood commented on #69
Period size is 48 samples. @keqiaozhang can you also confirm if HW DMA linked list mode is used or not here ?

[2018-07-10 02:56] zhuqingliang opened #75 "can not make firmware"
This issue is caused by commit :  17c929ebf66f7c604fc72bce403446f3d9319826

Reproduce Steps:
./script/xtensa-build-all.sh

error message:
checking whether the C compiler works... no
configure: error: in `/home/user/workspace/reef/sof':
configure: error: C compiler cannot create executables

[2018-07-10 03:41] xiulipan commented on #75
bisect to #67
In configure file the compiler check macro is not replaced with AM_* flags and compiler check in configure will fail.

[2018-07-10 04:11] RanderWang commented on #1
it is fixed by https://github.com/thesofproject/sof/commit/b51fefb16ae7305722ce9b52c33a3d1b99eba577

[2018-07-10 04:11] #1 closed

[2018-07-10 07:36] tlauda commented on #74
What does alsabat exactly do in terms of FW pipelines?
Does it create both render and capture pipelines and somehow loopbacks it back from SSP?
I'm trying to understand if this is for sure render problem or maybe a capture problem.

[2018-07-10 08:06] keqiaozhang commented on #74
alsabat will create playback and capture pipeline, then play a specific sine wav and capture it through the loopback.
Today I used logic pro to capture the data from SDO port, look like the data is normal, so it's most like a capture issue.
![screenshot from 2018-07-10 16-02-00](https://user-images.githubusercontent.com/22468760/42497192-183d5f72-845b-11e8-83e8-ef2d057990d5.png)

[2018-07-10 08:32] jajanusz commented on #75
It works for APL/CNL for me. Please try setting SUPPORTED_PLATFORMS=(apl cnl) in scripts/xtensa-build-all.sh and let me know what you get. Thanks

[2018-07-10 08:44] keqiaozhang commented on #75
@jajanusz
Still not working with exit 77. T
[config.log](https://github.com/thesofproject/sof/files/2179565/config.log)
he config.log is attached.

[2018-07-10 08:52] jajanusz commented on #75
@keqiaozhang
Looks like script didn't set XCC, XTOBJCOPY, XTOBJDUMP variables.
Do you have XTENSA_TOOLS_ROOT variable set to directory that has directory structure as expected by script? With folders like:
[code]

[2018-07-10 08:55] jajanusz commented on #75
@keqiaozhang
Also please let me know if it build for you without script with something like:
[code]
With properly set variables of course.

[2018-07-10 08:58] keqiaozhang commented on #75
@jajanusz
I have set the XTENSA_TOOLS_ROOT, but nothing help.
 $ ./configure --with-arch=xtensa --with-platform=cannonlake --with-root-dir=/home/zhangke/xtensa/XtDevTools//install/builds/RF-2016.4-linux/X6H3CNL_2016_4_linux/xtensa-elf --host=xtensa-cnl-elf CC=xt-xcc OBJCOPY=xt-objcopy OBJDUMP=xt-objdump --with-dsp-core=X6H3CNL_2016_4_linux

[2018-07-10 09:07] jajanusz commented on #75
Can you send config.log for your last command, where you manually set CC=xt-xcc?

[2018-07-10 09:57] jajanusz commented on #75
I think it's not a problem directly caused by flags (it should pass even with no flags), if you think otherwise you can test it with changing CFLAGS to whatever you think should be there. Do it before autoconf checks first time for compiler, what is probably there: https://github.com/thesofproject/sof/blob/a48ceddc82b6dc2cfd64a622f5c32fc80293692d/configure.ac#L141

C compiler is not checked with *

[2018-07-10 12:13] zhigang-wu commented on #22
this bug is fixed by this patch:
https://github.com/thesofproject/sof/pull/35

[2018-07-10 12:14] musiclvme opened #76 "compile error:Need OpenSSL libcrypto for rimage code signing"
use   ./configure --enable-rimage to enable rimage, but got errors

**compile host machine info:**
ubuntu 16.04

**error log as follow:**
checking for OPENSSL_config in -lcrypto... no
configure: error: Need OpenSSL libcrypto for rimage code signing

It indicates that openSSL libcrypto is necessary for rimage, should I install it by myself?

[2018-07-10 12:22] zhigang-wu commented on #76
yes, you have to install it yourself.
sudo apt-get install libssl-dev

[2018-07-10 20:30] lgirdwood commented on #22
@keqiaozhang please close if you can confirm fixed

[2018-07-10 21:19] lgirdwood commented on #74
@keqiaozhang SSP capture FIFO  is probably full of stale data. It could be cleared during trigger by reading the SSP FIFO directly using DSP reads.

[2018-07-10 23:57] plbossart opened #78 "GCC compilation broken - again"
commit 17c929eb ('autotools: replace user variables with automake variables') adds options that GCC doesn't understand

gcc -DHAVE_CONFIG_H -I. -I../../src/include    -fno-inline-functions -nostdlib -mlongcalls -mtext-section-literals -I /data/pbossart/SOF-public/sof-sdk/sof.git/src/arch/xtensa/include -I /data/pbossart/SOF-public/sof-sdk/sof.git/src/arch/xtensa/xtos -I /data/pbossart/SOF-public/s

[2018-07-11 00:42] jajanusz commented on #78
It didn't work with GCC even before with flags from configure.ac (at least for me) or it was side effect, because imho we should check every flag that we add to CFLAGS etc with AC_COMPILE_IFELSE or AX_CHECK_COMPILE_FLAG then append it or not - to avoid issue that you get (invoking compiler with flags that it doesn't support) - it should had been done like this from the beginning if we want to supp

[2018-07-11 00:58] jajanusz commented on #78
Also flags from top of configure.ac:

- -Wall -Werror -Wl,-EL -Wmissing-prototypes - every each of them should be checked if is supported and moved to AM_CFLAGS

- -O2 -g - do like above or leave it to be set by AC_PROG_CC

[2018-07-11 01:17] keqiaozhang commented on #75
@jajanusz
I verified the latest code base this morning, now only APL can pass the compilation with xcc. but CNL, this issue still exists.  Please help to address it.
[config.log](https://github.com/thesofproject/sof/files/2182634/config.log)

[2018-07-11 01:38] Jocelyn-Li commented on #74
Keqiao, please make sure it is FW issue or driver issue.

[2018-07-11 02:58] keqiaozhang commented on #75
@jajanusz
Reconfirm the case on CNL. From the config.log you can see that we miss some xtensa config of CNL for xt-xcc. Will retest after get the right version xt-xcc config for CNL.

[2018-07-11 05:38] keqiaozhang opened #79 "IPC timed out after system is booted"
This issue is caused by PR#71:trace: fix dma trace with repeated data bug on APL&CNL.
Due to the compilation issue #78 and #75, I only found this issue on APL. Will check on other platforms after the compilation issues are fixed.
[dmesg.log](https://github.com/thesofproject/sof/files/2183091/dmesg.log)
[rmbox.log](https://github.com/thesofproject/sof/files/2183092/rmbox.log)

[2018-07-11 06:21] RanderWang commented on #79
I also checked it at commit: fa48c42abf which my patch is based on at the day I made PR, not such issue. I think it is not caused by my patch but I will help to fix it.

[2018-07-11 06:38] jajanusz commented on #75
It looks like problem with your installation/config. I have the same core as yours.
Your log says what error is:
[code]
You can for example just set env variable like:
[code]
Let me know if it helps.
Thanks

[2018-07-11 06:44] keqiaozhang commented on #75
@jajanusz
Thanks, we have root caused this bug, it's because we don't have X6H3CNL_2016_4_linux, our developer is working on it.

[2018-07-11 10:54] tlauda commented on #48
FW built with gcc or xcc?

[2018-07-11 13:15] keqiaozhang commented on #48
@tlauda
We use gcc for CNL.

[2018-07-11 14:03] zhuqingliang commented on #46
with the environment ：
sof-dev: b87a468a5bf1863b3d371cb9dfe2c718225feb68
sof: 71413cb0050c16e4926c627bd457644e9045e568
soft:47339d2302f445c3b35d50f9720ee649dd2f739b
test-ssp5-mclk-0-I2S-volume-s16le-s16le-48k-24576k-codec.tplg
tplg load successfully .

[2018-07-11 14:43] lgirdwood commented on #46
@zhuqingliang please close if you are confirming it's resolved.

[2018-07-11 14:50] lgirdwood commented on #48
Looks like the SSP DMA is reading the period written by volume.

[2018-07-11 15:03] zhigang-wu commented on #48
@lgirdwood
If the same buffer is read and written, that would means sometimes the DMA IRQ interval became short. or the pipeline is scheduled for a little late. is that correct?

[2018-07-11 15:07] xiulipan commented on #79
should be fixed by #82
@keqiaozhang  could you test to confirm

[2018-07-11 15:08] lgirdwood commented on #48
@zhigang-wu check the r/w pointers for SSP DMA at trigger start.

[2018-07-11 15:15] zhigang-wu commented on #48
@lgirdwood
But from the wave displayed, it seems this distortion happened during the playing process.
I agree check the R/W pointer is only choice to confirm this issue. it is the result.
But I am curious how this situation happened. figure out this reason, the bug will be fixed easily.
I think maybe the DMA or pipeline is abnormal sometimes.
Do you think is there any other possibility?
I think ma

[2018-07-11 15:43] tlauda commented on #69
@keqiaozhang Issue should be fixed with #84. Please reconfirm, that both passthrough and volume pipelines don't have this problem anymore.

[2018-07-11 15:49] tlauda commented on #48
It's more likely the cache problem.
Can this issue be easily reproduced (e.g. it's only happening for 24 kHz) or it's rather a random problem?

[2018-07-11 15:52] tlauda commented on #74
@zhuqingliang You have used command run : alsabat -Dhw:0,0 -f dat -c2 -r 48000 -F 997, but screen from Audacity says it's 44.1 kHz. Which one is wrong?

[2018-07-12 00:58] #46 closed

[2018-07-12 01:37] keqiaozhang commented on #79
This issue is fixed.

[2018-07-12 01:37] #79 closed

[2018-07-12 12:42] keqiaozhang commented on #69
This issue is fixed in latest code base.
sof-master:6b94226b81efc8a71cc01d962f460fa5a7fa850d

[2018-07-12 12:42] #69 closed

[2018-07-12 12:58] xiulipan commented on #19
@tlauda
The reproduce steps are easy:
1. aplay on one PCM eg. PCM 0 on CARD0
2. inject a alas XRUN or wait for one to happen (may take long time on UP2 and always happen on GP)
` echo 1 > /proc/asound/card0/pcm0p/sub0/xrun_injection`
This may need `CONFIG_SND_PCM_XRUN_DEBUG=y` in config

[2018-07-12 14:00] keqiaozhang opened #93 "XCC compile failed on CNL"
The root cause is that we miss X6H3CNL_2016_4_linux of builds.
[config.log](https://github.com/thesofproject/sof/files/2188869/config.log)

[2018-07-12 14:02] keqiaozhang commented on #75
summary:
The compilation issue is caused by 17c929e and both gcc and xcc cannot work.
1. gcc compilation issue: let's track it with #78
2. xcc compilation issue: now we only support  APL and CNL platform. For APL, this issue is fixed by Jajanusz, commit ID:de100b7d2823e0496a0cad055625063204d0d585. For CNL, it's because we miss  build "X6H3CNL_2016_4_linux".  so this issue can close now and track t

[2018-07-12 14:02] #75 closed

[2018-07-12 14:30] keqiaozhang commented on #93
Thanks Tomasz for sharing the build of "X6H3CNL_2016_4_linux",
After installed it, now I can use xt-xcc to compile firmware on CNL.

[2018-07-12 19:38] lgirdwood commented on #48
@zhigang-wu it may also be cache like @tlauda says if this works fine on BYT.

The GP DMA reads the period in blocks into the DMA FIFO before they are sent out to the SSP FIFO. i.e. I've seen it fetch 24 frames, then 16 then 8 (for a 48 frame period) from the period to the DMA FIFO. There can be a race between these DMA reads and any writers into this period, so if you note that the distortion is

[2018-07-12 19:51] lgirdwood commented on #74
@keqiaozhang, @tlauda   ok, since this is first time only then we should read the SSP FIFO as part of the SSP driver init to clear out any stale samples. Should be a easy fix to try.

[2018-07-12 20:12] tlauda commented on #19
@xiulipan
Actually one more question. What do you mean by saying that xrun always happens on GP? I didn't hear about such issue.

[2018-07-12 20:12] lgirdwood commented on #78
We need to force CFLAGS to the correct flags for our FW, tools and host testbench. AC_PROG_CC is failing as it invoke the xensa compiler without the correct flags for building binary FW images (i.e. its using default CFLAGS for building userspace ELF).

[2018-07-12 22:02] plbossart commented on #78
@jajanusz: point taken, but in general people use ./configure CFLAGS="-O0" ... when they have access to a debugger. It's not really useful for firmware we mostly debug with traces, and if people have a need for this they can always edit the defaults. Let's just fix this and get out of this CI nightmare.

[2018-07-13 02:07] orlant opened #94 "LOGO PROPOSAL FOR Sof"
hello my name is orlando velasquez I am a graphic designer, I like to make contributions and projects that need logo, I have noticed that even this project does not have if you allow me I can design for you.

[2018-07-13 02:52] keqiaozhang commented on #22
verified, this issue is fixed.

[2018-07-13 02:52] #22 closed

[2018-07-13 06:32] zhigang-wu commented on #19
@tlauda
This issue happened on the native Linux (GP platform) very high possibility. Keqiao also reproduces this issue. the ALSA detected the xrun and try to recover from the xrun. it will send the stop command to firmware first, then send the start command to firmware. it will assume the xrun will disappear. but actually the firmware hits the xrun after start received.
the firmware itself will al

[2018-07-13 06:41] zhigang-wu commented on #19
@tlauda
do you think we could set up the JTAG tool on the GP board?
that would help us debug this kind of issue.

[2018-07-13 06:49] ghost opened #95 "feature request: adding the fader module to fix the pop noise when pause/release operation"
When you pause/release during the playing music, you will hear the pop noise during this process.
It seems this pop noise is caused by lacking of the fade out fade in feature.
playing the silence area to music area, there is no volume ramp up process.
playing the music area to silence area, there is no volume roll down process.

[2018-07-13 07:58] tlauda commented on #93
@keqiaozhang So issue can be closed?

[2018-07-13 08:11] zhuqingliang commented on #48
frequence 997 is ok,  frequency 234  or 1234 is error  on latest commit

2d92796072856e530c3a1bce4f0a9ce2c74692d4

[2018-07-13 08:29] xiulipan commented on #93
@tlauda @keqiaozhang
Should the config be updated to some place that we can access?

[2018-07-13 08:29] #93 closed

[2018-07-13 08:39] zhigang-wu commented on #95
this can be use a sine wave (or constant data wave file) to confirm this.
get the result of I2S with loopback mode or result of amplifier's output with scope.

[2018-07-13 09:43] xiulipan commented on #19
[   21.720926] sof-audio sof-audio: pcm: trigger stream 0 dir 0 cmd 0
[   21.720963] sof-audio sof-audio: ipc: send 0x60050000
[   21.721887] sof-audio sof-audio: ipc: 0x60050000 succeeded
[   21.724661] sof-audio sof-audio: pcm: trigger stream 0 dir 0 cmd 1
[   21.724694] sof-audio sof-audio: ipc: send 0x60040000
[   21.724838] sof-audio sof-audio: ipc: 0x60040000 succeeded
[   21.727941] sof-aud

[2018-07-13 09:59] zhigang-wu commented on #19
[ 23.448424] sof-audio sof-audio: pcm: trigger stream 0 dir 0 cmd 0
[ 23.448480] sof-audio sof-audio: ipc: send 0x60050000
[ 23.752306] sof-audio sof-audio: error: ipc timed out for 0x60050000 size 0xc // no DSP panic is handed here. Maybe host is waiting for reply?
-----------------------------------------------------------
when this stop command is received in firmware, the firmware will try to

[2018-07-13 10:32] xiulipan commented on #19
@zhigang-wu

that is the point

We highly suspect that this stop is the trigger.
This stop is because the aplay exit because of the xrun could not recovery and cause IO error.

Thanks for the hint, I will check the macro
CONFIG_SOC_SOF_DEBUG_XRUN_STOP

[2018-07-13 10:42] zhuqingliang commented on #58
the DSP panic issue when playback is fixed in latest sof-master

[2018-07-13 10:42] #58 closed

[2018-07-13 11:59] zhigang-wu commented on #19
I suspect the last stop is coming for the second ALSA xrun.
you can confirm this adding the trace log in the function "snd_pcm_update_state()".
the whole logic i think like this below:
1. in the first alsa xrun, the stop and start commend is sent out to firmware.
which can be watched in the time stamp "[ 21.720926]" and "[ 21.724661]".
it seems the message is sent and reponsed is received correctl

[2018-07-13 12:06] zhigang-wu commented on #58
@zhuqingliang
Did you confirm this issue at this case? the alsa xrun happened in the host.
which platform did you confirm this issue?

[2018-07-13 12:11] zhuqingliang opened #96 "fail to load all codec topologies under topology/test directory on GP platform"
description:
topoogy/sof-apl-tdf8532.tplg load well , but topology/test/test-ssp4-mclk-0-I2S-volume-s16le-s16le-48k-24576k-codec.tplg load failed.
environment:
sof-dev: a3a39f21218c074c71cd28b0c2c782b1626df3e3
sof: c454399e8890c1d7eb007857f0dbe018d244eeb7
soft: 47339d2302f445c3b35d50f9720ee649dd2f739b
tplg file name :
topology/test/test-ssp4-mclk-0-I2S-volume-s16le-s16le-48k-24576k-codec.tplg
topo

[2018-07-13 12:26] zhuqingliang opened #97 "'ipc error' in dmesg log when boot up using nocodec tplg on GordonPeak"
environment:
sof-dev:  a3a39f21218c074c71cd28b0c2c782b1626df3e3
sof:       c454399e8890c1d7eb007857f0dbe018d244eeb7
soft:      47339d2302f445c3b35d50f9720ee649dd2f739b
tplg file name :
  topology/sof-apl-nocodec.tplg
topology/test/test-ssp5-mclk-0-I2S-volume-s16le-s16le-48k-24576k-nocodec.tplg
topology/test/test-ssp5-mclk-0-I2S-volume-s24le-s24le-48k-24576k-nocodec.tplg

reproduce steps:
check dme

[2018-07-13 12:45] zhuqingliang opened #98 "arecord "input /output error" using nocodec tplg on GordonPeak"
description:
aplay failed , but arecord  works well . The bug is probably related to 	https://github.com/thesofproject/sof/issues/97:  'ipc timed out' in dmesg log when boot up using nocodec tplg on GordonPeak

environment:
sof-dev: a3a39f21218c074c71cd28b0c2c782b1626df3e3
sof: 2d92796
soft: 47339d2302f445c3b35d50f9720ee649dd2f739b
tplg file name :
topology/sof-apl-nocodec.tplg
topology/test/test-

[2018-07-13 12:56] Jocelyn-Li commented on #19
@xiulipan this issue does not happen with xcc?

[2018-07-13 13:22] zhigang-wu commented on #19
@Jocelyn-Li
“XCC will end up in hang after multiple attempt”
this is not normal status.

[2018-07-13 13:44] tlauda commented on #96
From dmesg3.log:
[    6.514771] sof-audio sof-audio: ASoC: physical link SSP4-Codec (id 0) not exist
[    6.514777] sof-audio sof-audio: error: tplg component load failed -22
[    6.514789] sof-audio sof-audio: error: failed to load DSP topology -22
[    6.514792] sof-audio sof-audio: ASoC: failed to probe component -22

It's drivers issue, not FW. Can you confirm and close?

[2018-07-13 13:46] zhuqingliang commented on #98
the bug is same as sof bug , on c454399e8890c1d7eb007857f0dbe018d244eeb7 , the bug is gone.

[2018-07-13 13:46] #98 closed

[2018-07-13 14:12] zhuqingliang opened #100 "Fail to load topology/sof-apl-pcm512x.tplg on up^2"
environment:
sof-dev: a3a39f21218c074c71cd28b0c2c782b1626df3e3
sof:  2d92796072856e530c3a1bce4f0a9ce2c74692d4
soft: 47339d2302f445c3b35d50f9720ee649dd2f739b

log ：

[dmesg5.log](https://github.com/thesofproject/sof/files/2192986/dmesg5.log)

[2018-07-13 14:23] tlauda commented on #100
Driver problem., not FW related.

[2018-07-13 14:47] zhuqingliang opened #101 "Stress test: pause/release playback or capture when both playback and capture are running will cause IPC timed out error"
environment:
on UP^2
sof-dev: a3a39f21218c074c71cd28b0c2c782b1626df3e3
sof: 2d92796072856e530c3a1bce4f0a9ce2c74692d4
soft: 47339d2302f445c3b35d50f9720ee649dd2f739b
tplg file name :
topology/test/test-ssp5-mclk-0-I2S-volume-s16le-s16le-48k-24576k-nocodec.tplg

reproduce steps:
run aplay and arecord at same time , pressing space key ,don't release . A few seconds later ' input/output error' . check

[2018-07-13 15:00] zhuqingliang opened #102 "'ipc timed out' on GordonPeak once boot up"
environment:
sof-dev: a3a39f21218c074c71cd28b0c2c782b1626df3e3
sof:  2d92796072856e530c3a1bce4f0a9ce2c74692d4
soft: 47339d2302f445c3b35d50f9720ee649dd2f739b
tplg file name :
topology/sof-apl-tdf8532.tplg

reproduce steps:
check dmesg log once boot up

log:
[dmesg7.log](https://github.com/thesofproject/sof/files/2193135/dmesg7.log)
[rmbox7.log](https://github.com/thesofproject/sof/files/2193136/rmb

[2018-07-13 15:18] tlauda commented on #19
@zhigang-wu But with xcc we don't have panic. From what we've seen with @xiulipan, hang on xcc is due to the wrong state machine, after trying to stop the ppl during xrun recovery. I'm not sure how big are the default interrupt stacks in xtos and how they are handled with multiple irqs execution at once, but maybe the panic is due to tha stack overflow. Xrun recovery is done on some software inter

[2018-07-13 16:23] plbossart commented on #94
we have a logo already

[2018-07-13 16:23] #94 closed

[2018-07-13 17:32] plbossart opened #103 "volume: zipper noise with fast changes"
When I play on Up2 w/ the PCM512x codec, I can hear zipper noise when I keep pressing on up and down arrows to change the PGA Master Volume. This was reported before but apparently the fixes aren't enough. I view this as a bug, volume changes should not introduce audio artifacts (same as soft mute).

[2018-07-13 19:22] tlauda commented on #103
@plbossart HiFi3 or generic implementation?

[2018-07-13 19:29] plbossart commented on #103
This was on APL so I guess HiFi3.

On 07/13/2018 02:22 PM, Tomasz Lauda wrote:

[2018-07-14 08:54] tlauda commented on #102
Fixed on master. Please confirm and close.

[2018-07-14 08:55] tlauda commented on #97
Fixed on master. Please confirm and close.

[2018-07-14 08:58] tlauda commented on #50
Shouldn't this issue be under linux repo instead of sof?

[2018-07-14 10:56] lgirdwood commented on #50
Closed as should be kernel issue.

[2018-07-14 10:56] #50 closed

[2018-07-14 11:01] lgirdwood commented on #19
@zhigang-wu if you suspect infinite recursion, then put a limit on the call depth of this function. Does the problem go away or is different ?

[2018-07-14 11:03] lgirdwood commented on #103
@singalsu this may need ZC or a smaller step size.

[2018-07-14 11:09] lgirdwood commented on #100
@zhuqingliang it's a topology (likely) or kernel issue. Can you close and re-open in correct issue area.

[2018-07-14 11:13] lgirdwood commented on #95
@zhigang-wu this is a feature request for a fader. Please change title to feature request and label appropriately.

[2018-07-16 01:13] keqiaozhang commented on #78
This issue is fixed.
sof-master:c4a9cca0a94969fbf1ecb42d660c0e40279d9ffa

[2018-07-16 01:13] #78 closed

[2018-07-16 01:44] zhigang-wu commented on #19
@lgirdwood
I do not think it is a right solution to fix this bug.
I am refining the patch bug fix: "DSP panic" when ALSA XRUN recovery #88.
which can fix this issue.

[2018-07-16 02:04] zhigang-wu opened #106 "The volume of rear channels can not be changed on GP platform."
when you play the four-channel music file on the GP platform, you will find the rear channel volume
can not be changed. the root cause is:
the tplg did not support this feature.
the "C_CONTROLMIXER" in "pipe-volume-playback.m4" and "pipe-volume-capture.m4"
only support two channels volume change.

I am not familiar with the m4 language. and who can help fix this issue?
but please pay attention dur

[2018-07-16 02:10] keqiaozhang commented on #48
@tlauda This issue only happening on CNL.

[2018-07-16 05:05] tlauda commented on #106
Should be moved to soft repo.

[2018-07-16 05:10] xiulipan commented on #96
@zhuqingliang
Please move this bug into SOFT repo.
https://github.com/thesofproject/soft/issues

This bug is because GP has multiple DAIs and test topology is all set with dai id to be 0

[2018-07-16 05:10] #96 closed

[2018-07-16 05:42] keqiaozhang commented on #102
This issue is fixed.

[2018-07-16 05:42] #102 closed

[2018-07-16 06:33] zhuqingliang commented on #100
The bug is moved to soft , please refer to https://github.com/thesofproject/soft/issues/29

[2018-07-16 06:33] #100 closed

[2018-07-16 06:50] keqiaozhang opened #107 "noise issue when both front L and front R are connected on GP-MRB"
This issue occurs when both front L and front R are connected, but disconnect one of them, the noise will disappear.
sof-dev:a3a39f21218c074c71cd28b0c2c782b1626df3e3
sof-master:c4a9cca0a94969fbf1ecb42d660c0e40279d9ffa
soft-master:2abbfc0910ce9767d01462638d719309746844d1
tplg:sof-apl-tdf8532.tplg

how to reproduce:
1. ensure both front L and front R are connected.
2. aplay -D hw:0,0 -f S32_LE -r 48

[2018-07-16 07:30] lgirdwood commented on #107
This does not appear to be a firmware bug, perhaps the codec settings need adjusted to driver both L & R outputs here ?

[2018-07-16 07:56] zhuqingliang commented on #97
I test with  c4a9cca0a94969fbf1ecb42d660c0e40279d9ffa . ' ipc error' is still exist.

[2018-07-16 08:37] lgirdwood commented on #97
Userspace is trying to set some HW params not supported by the topology. @zhuqingliang what aplay arguments are you using ?

[2018-07-16 08:37] keqiaozhang commented on #107
No codec kctls are exposed in amixer setting.
![amixer](https://user-images.githubusercontent.com/22468760/42749519-8288ddf6-8916-11e8-9c80-3ab55461527a.PNG)

[2018-07-16 08:39] lgirdwood commented on #107
The codec driver then. Should be logged as a driver issue.

[2018-07-16 08:53] keyonjie commented on #107
tdf8532 codec driver doesn't export any kcontrol at the moment, it's controlled via ioc i2c command, if we can make sure the data is correct on SSP pins, better to report them to Dirana or integration team.

[2018-07-16 09:51] xiulipan commented on #97
@zhuqingliang
If the pulse audio is enabled?
If it does, please disable it and give the log with `--dump-hw-params` in aplay
Such as

Then try to play each supported format to see if which will hint the same IPC error.
Or start the rmbox trace first and then start the pulse audio.

The rmbox log you uploaded have no error info. Maybe is flushed by other trace.
You can then upload the error trace t

[2018-07-16 10:05] lgirdwood commented on #106
@RanderWang please open this as topology issue.

[2018-07-16 10:05] #106 closed

[2018-07-16 10:37] lgirdwood commented on #19
@zhigang-wu I'm not proposing a solution, I'm asking a question about a potential problem you have raised and you never answered. Is this related to infinite recursion or not ?

[2018-07-16 10:39] lgirdwood commented on #78
@keqiaozhang can you add all the build targets into CI, i.e. host, testbench and unit tests too. Thanks.

[2018-07-16 11:00] jajanusz commented on #78
@keqiaozhang you need to build cmocka lib for every platform for UT, if you'll need help with this let me know

[2018-07-16 12:39] zhigang-wu commented on #101
the initial analysis for this log:
1. you press the space key for capture feature to trigger this issue.
2. the firmware's xrun is happened first, then ipc timeout.
3. the timestamp between two log file are not conformance, rmbox's log has the issue is at about 8502s, the dmesg's log has the issue is at about 8507s.
4. the first part of log in rmbox, I analysis here:
0x0 [8502.764351]	delta [*****

[2018-07-16 12:45] zhigang-wu commented on #107
no sure this noise is still exist during playing the sine wave or not, if yes we could use the scope to probe the point of analog output.

[2018-07-16 12:51] zhigang-wu commented on #19
@lgirdwood
I can not confirm this point. I did not have enough trace log for this.

[2018-07-16 12:58] zhuqingliang opened #113 "'rmmod sof_acpi_dev' kernel panic on BYT with sof-byt-nocodec.tplg"
environment:
sof-dev: a3a39f21218c074c71cd28b0c2c782b1626df3e3
sof:  c4a9cca0a94969fbf1ecb42d660c0e40279d9ffa
soft: 2abbfc0910ce9767d01462638d719309746844d1

reproduce steps:
using topology/sof-byt-nocodec.tplg or topology/sof-byt-rt5651.tplg
rmmod sof_acpi_dev

log:
[dmesg.log](https://github.com/thesofproject/sof/files/2197659/dmesg.log)
[rmbox.log](https://github.com/thesofproject/sof/files/219

[2018-07-16 13:44] plbossart commented on #107
On 7/16/18 3:53 AM, Keyon wrote:

Yes, there is no requirement for volume control in the firmware for that
specific board but still it's a good issue to fix to make sure we can do
volume control for 2+ channels

[2018-07-16 14:35] lgirdwood commented on #101
please also add rmbox error log. just run "rmbox". How reproducible in % ?

[2018-07-16 14:35] zhuqingliang commented on #113
The issue is moved to https://github.com/thesofproject/linux/issues/33

[2018-07-16 14:35] #113 closed

[2018-07-16 14:48] keqiaozhang commented on #107
This issue is moved to thesofproject/linux#34

[2018-07-16 14:48] #107 closed

[2018-07-16 20:17] plbossart commented on #19
There is an even easier way to reproduce the issue on Up^2: start one playback, hit Control-z to suspend the app, restart with fg. The timeout and panic errors are not recoverable without removing/reloading kernel modules.

root@ubilinux4:~# speaker-test -Dhw:0,0 -c2 -r48000 -FS32_LE -t sine

speaker-test 1.1.3

Playback device is hw:0,0
Stream parameters are 48000Hz, S32_LE, 2 channels
Sine wave

[2018-07-17 05:03] keqiaozhang commented on #78
@jajanusz @lgirdwood  I will follow up and keep you updated. Thanks~

[2018-07-17 05:37] zhuqingliang opened #115 "Stress Test: long time simultaneous playback and capture will cause IPC timed out on UP^2"
description:
aplay and arecord both run . After 20 minutes more or less , both stopped and prompt ' Input/output error',
then check dmesg log , sometimes there will be 'ipc timed out'.

System Environment
sof-v4.14 :  cae4773bbd83b392be18c7d6fc1b35369b7ed715
sof:  c4a9cca0a94969fbf1ecb42d660c0e40279d9ffa
soft:2abbfc0910ce9767d01462638d719309746844d1

reproduce steps:
aplay -Dhw:0,0 -fdat -c2 -r 48

[2018-07-17 08:15] zhuqingliang commented on #97
I rename pulseaudio , 'ipc error' is missing.

[2018-07-17 08:18] keqiaozhang opened #116 "PCM read/write error when buffer size < 768 on APL"
Today I tried to test playback with specified buffer size and found that if the buffer size is less than 768, it will easy introduce I/O error  and even with IPC timed out.
How to reproduce:
1. aplay -D hw:0,0 -r 48000 -c 2 -f S16_LE /dev/zero --buffer-size=384
  It will stop with pcm read/write error.
[dmesg-bufsize.log](https://github.com/thesofproject/sof/files/2200760/dmesg-bufsize.log)
[rmbox

[2018-07-17 10:13] lgirdwood commented on #115
Related to XRUN handler running. Probably a duplicate of XRUN bug ?

[2018-07-17 10:21] lgirdwood commented on #116
This looks like another duplicate of the XRUN bug. @keqiaozhang can you check.

[2018-07-17 10:22] lgirdwood commented on #97
ok, so pulseaudio tries lots of different audio formats when it starts to determine which formats the sound card will accept. In this case PA is trying a format our topology does not accept and the error response is correct.

[2018-07-17 10:52] xiulipan commented on #97
@lgirdwood

[2018-07-17 12:40] plbossart commented on #116
Don't we have by-design limitations on the buffer/period sizes? If the topology states that the host DMA can work with 48 samples, that's 192 bytes and already larger than the period in the firmware you are using in this case on the host side. I'd think the ALSA period needs to be >= the firmware period?

[2018-07-17 12:52] plbossart commented on #97
Can you clarify what the issue is here? I don't get how we can "expose [a] format we did not accept"
I'd suggest adding a log in the kernel to explicitly trace the hw_params requested by the application, so far we see min/max and not the actual value used, which makes it difficult to root cause

[2018-07-17 17:23] lgirdwood commented on #97
@xiulipan the pipeline topology can still reject params accepted by the driver as the driver params are only based on the host component and not the full pipeline. The end result is the same to userspace. Please do not re-open issue.

[2018-07-17 17:23] #97 closed

[2018-07-17 17:33] tlauda commented on #74
Please verify on current top of master. I cannot reproduce this problem anymore.

[2018-07-18 02:34] xiulipan commented on #97
@plbossart
for example.
We used to claim we support S16_LE S24_LE and S32_LE for all pass-through topology
But only one will be supported by the pipeline, so there is the same ipc error at that moment.
That bug was fixed by:
https://github.com/thesofproject/soft/commit/b799e3fa3bab7f5df70f2458bda42de167e65fb3
I am just suspecting that we may have some similar PCM_CAPABILITIES issues here.
@lgirdwo

[2018-07-18 02:39] plbossart commented on #97
What? the nocodec topologies are all based on pipelines with volumes, so we can perfectly support S32LE even if the dai doesn't.

[2018-07-18 02:48] xiulipan commented on #97
@plbossart
First, we still have test typologies with no volumes, they are **passthrough** topology
it was true for volume pipelines will support more format, but the problem I mentioned above was for the **passthrough pipelines** test topology

[2018-07-18 03:21] zhuqingliang commented on #74
We perform test with  e69ebddb4f61a0e7047efb728f7d7525171b6690 . There are a long period of blank bit at the head of bat.wav* .  The reproduce percentage is about 20% to 30%.
reproduce steps ：
1.using test/test-ssp5-mclk-1-I2S-volume-s32le-s32le-48k-24576k-nocodec.tplg
2.reboot
3. run ` alsabat -Dhw:0,0 -f s32_le -r 48000 -c2 -F300`  once boot up
4. audacity open /tmp/bat.wav.*
![image](https://us

[2018-07-18 07:53] lgirdwood commented on #74
@zhuqingliang have you verified this delay/race is not coming from alsabat/Linux userspace ?

[2018-07-18 07:58] zhuqingliang opened #122 "Stress Test: 'DSP panic' after long time simultaneous playback and capture on BYT"
description:
aplay and arecord both run . After 1 to 3 minutes , both stopped and prompt ' Input/output error',
then check dmesg log ,  there will be 'DSP panic' ：
[  240.561830] sof-audio sof-audio: error : DSP panic!
[  240.561861] sof-audio sof-audio: panic: dsp_oops_offset 1329152 offset 1329152
[  240.561899] sof-audio sof-audio: error: can't enter idle
[  240.561917] sof-audio sof-audio: err

[2018-07-18 11:02] tlauda commented on #19
Please verify with 4ba4aa8998ebe81b10a6896f0b10800373c7eb22.

[2018-07-18 12:48] keqiaozhang commented on #116
I will check this tomorrow.

[2018-07-18 13:35] tlauda commented on #74
@zhuqingliang Can you provide dmesg log? I'm using the same topology and the same alsabat command, but I cannot reproduce this issue. Tried to reboot and run alsabat ~20 times.

[2018-07-18 15:34] tlauda commented on #101
Please verify with 4ba4aa8.

[2018-07-18 15:35] tlauda commented on #115
Please verify with fd55d5f7d869e3fef92f579fcce19b52f6aa4f57.

[2018-07-18 15:35] tlauda commented on #122
Please verify with fd55d5f7d869e3fef92f579fcce19b52f6aa4f57.

[2018-07-19 04:05] zhuqingliang commented on #74
If run alsabat several times , the issues will not happen again .

[2018-07-19 04:05] #74 closed

[2018-07-19 08:08] xiulipan commented on #101
after run aplay and arecord at same time
inject XRUN for ALSA
`echo 1 > /proc/asound/card0/pcm0p/sub0/xrun_injection`

[  336.761868] sof-audio sof-audio: error : DSP panic!
[  336.761886] sof-audio sof-audio: panic: dsp_oops_offset 788480 offset 788480
[  336.761894] sof-audio sof-audio: status: fw entered - code 00000005
[  336.761920] sof-audio sof-audio: error: runtime exception
[  336.761927]

[2018-07-19 08:21] keqiaozhang opened #128 "Stress test: noise issue when keep injecting xrun"
I found this issue on up^2 with pcm512 tolg. when I playing a 48K_32bits wav file and keep injecting xrun, then I can hear noises from time to time.

How to reproduce this issue:
1. aplay -D hw:0,0 -f S32_LE -r 48000 -c 2 48K_32bits.wav
2. inject xrun in other terminal.

How to inject run:
You can inject xrun by writing to a proc file when CONFIG_SND_PCM_XRUN_DEBUG is set in kernel config.
For thi

[2018-07-19 11:30] lgirdwood commented on #128
The dmesg attached is the wrong log. Can you also attach audacity trace.

[2018-07-19 11:38] lgirdwood commented on #101
@xiulipan you have some memory dereference of 0x00060534 around the code at 0xbe014732, looks like it's crashed when running at level 1 (IPC idle level)

[2018-07-19 11:55] lgirdwood commented on #116
@keqiaozhang ok, please close once you are satisfied.

[2018-07-19 14:07] keqiaozhang commented on #128
@plbossart
The noise I reported here is not the pop issues, I'm pretty sure about this. I tested with hifiberry codec, I will find another way to record the data. This noise come and go during the test and Xiuli also reproduce this issue.
@xiulipan
Please help to give more tech explanation.

[2018-07-19 20:57] ranj063 opened #130 "Retrieve information about time since boot to provide the correct trace timestamps after system resume"
After suspend/resume, the trace timestamps are reset to 0 and do not align with the kernel logs.
We need this enhancement to be able to provide an offset with information about time since boot and offset the the trace timestamps accordingly.

[2018-07-20 00:36] #116 closed

[2018-07-20 01:04] keqiaozhang commented on #116
This issue is fixed by PR#125.

[2018-07-20 01:12] zhigang-wu commented on #22
fixed by PR #35

[2018-07-20 01:28] keqiaozhang commented on #74
This issue is fixed  by PR#111.

[2018-07-20 01:31] keqiaozhang commented on #78
This issue is fixed by PR#105.

[2018-07-20 01:34] keqiaozhang commented on #75
This issue is fixed by PR#77.

[2018-07-20 02:14] xiulipan commented on #101
@lgirdwood  this is very similar to issue #19 panic message.
How could you tell it

I found that the PS is modified by our panic_rewind function and always disable all interrupts.

[2018-07-20 02:39] xiulipan commented on #128
@plbossart maybe @keqiaozhang test is too aggressive, actually you can random inject xrun just like pasue/resume the pipeline. Then you will hear distortion noise just like the UP2 one.

[2018-07-20 05:37] xiulipan commented on #19
@tlauda
With xcc, both single play/capture did not enter any pipeline recovery. No error then.
@keqiaozhang
With gcc, single play seems to be fine please confirm with more stress test.
single capture will enter pipeline xrun recovery and end in a panic after stress test.
We may still have some potential risk with GCC and capture pipeline.

[2018-07-20 05:42] xiulipan commented on #19
dmesg:

[  216.321335] sof-audio sof-audio: error : DSP panic!
[  216.321349] sof-audio sof-audio: panic: dsp_oops_offset 788480 offset 788480
[  216.321356] sof-audio sof-audio: status: fw entered - code 00000005
[  216.321379] sof-audio sof-audio: error: runtime exception
[  216.321384] sof-audio sof-audio: error: trace point 00004000
[  216.321389] sof-audio sof-audio: error: DSP Firmware Oops

[2018-07-20 06:23] Jocelyn-Li commented on #106
Moved to https://github.com/thesofproject/soft/issues/31

[2018-07-20 06:28] Jocelyn-Li commented on #102
@Jocelyn-Li test

[2018-07-20 06:29] keqiaozhang commented on #69
This issue is fixed by PR#84.

[2018-07-20 06:32] Jocelyn-Li commented on #102
@Jocelyn-Li test

[2018-07-20 06:34] Jocelyn-Li commented on #102
@Xu Guangxin  test

[2018-07-20 06:34] Jocelyn-Li commented on #102
@Xu Guangxin  test

[2018-07-20 06:35] Jocelyn-Li commented on #102
@xuguangxin test

[2018-07-20 06:41] Jocelyn-Li commented on #102
@tlauda can you update the PR fix here?

[2018-07-20 06:44] keqiaozhang commented on #98
This issue is fixed by PR#99.

[2018-07-20 06:51] Jocelyn-Li commented on #116
This issue is fixed by https://github.com/thesofproject/sof/pull/125

[2018-07-20 06:55] keqiaozhang commented on #79
This issue is fixed  by https://github.com/thesofproject/sof/pull/82

[2018-07-20 06:57] keqiaozhang commented on #17
This issue is fixed by https://github.com/thesofproject/sof/pull/23

[2018-07-20 07:22] keqiaozhang commented on #1
This issue is fixed by https://github.com/thesofproject/sof/pull/71

[2018-07-20 07:23] keqiaozhang commented on #6
This issue is fixed by https://github.com/thesofproject/sof/pull/11

[2018-07-20 07:31] xiulipan commented on #19
Test with DMIC capture and SSP playback on APL with DMIC test topology

Still get panic when inject XRUN into capture

[  900.643956] sof-audio sof-audio: ipc: send 0x60040000
[  900.644122] sof-audio sof-audio: ipc: 0x60040000 succeeded
[  900.644134] sof-audio sof-audio: PCM: stream 6 dir 1 DMA position 384 DAI position 939840
[  900.645657] sof-audio sof-audio: error : DSP panic!
[  900.645663]

[2018-07-20 07:44] keqiaozhang commented on #93
This issue is fixed  by https://github.com/thesofproject/sof/pull/77

[2018-07-20 07:52] xiulipan commented on #19
PR fixes for this bug is #124 #125

[2018-07-20 07:56] Jocelyn-Li commented on #96
Moved to https://github.com/thesofproject/soft/issues/27

[2018-07-20 08:03] keqiaozhang commented on #9
This issue is fixed by https://github.com/thesofproject/sof/pull/16

[2018-07-20 08:12] Jocelyn-Li commented on #50
moved https://github.com/thesofproject/linux/issues/43

[2018-07-20 10:07] lgirdwood commented on #128
@keqiaozhang , @xiulipan please be more descriptive about the noise/distortion. i.e how long does it last, does the audio recover. Please also attach a audacity screenshot.

[2018-07-20 10:15] lgirdwood commented on #101
@xiulipan it looks like level 5 actually, I misread PS. i.e level 1 -> 5 sequence and possibly the same corruption problem as https://github.com/thesofproject/sof/issues/19. Have you managed to do any binary chop of code yet to find the issue ?

[2018-07-20 12:48] zhuqingliang commented on #122
I test with  d696d8f8bad1490575a8293e0982786300eb52db , the bug is still exist.

[2018-07-20 13:00] lgirdwood commented on #122
This oops message means we have taken too long to enter the idle state, i.e. something is preventing the CPU from enter WAITI state. This could be a deadlock, forever loop or some code is not yeilding the CPU.

[2018-07-20 14:58] plbossart commented on #17
I still get these dma-trace overload logs with the latest firmware on Up2

[2018-07-23 03:03] xiulipan commented on #128
@lgirdwood will update the loopback PCM audacity screenshot.

This distortion is similar to the pause/release noise.

It will last to end if we did not do anything after we heard the noise

The audio may recover after another XRUN injection (thus a stop/start pattern)

[2018-07-23 03:15] xiulipan commented on #101
@lrgirdwood
I checked the xtensa manual and found that the PS is actually be changed by the panic_rewind function. In that function we disable all interrupt by setting the PS.INTLEVEL to 5 to disable all interrupt level below and equal 5.
`         asm volatile("rsil      %0, 5"
                   : "=a" (flags) :: "memory");
`
So I found it is hard to know which interrupt is coming as we got into

[2018-07-23 06:37] tlauda commented on #128
@xiulipan
Please verify with if issue still exists with 956585e089d4c9d43621575108bda4d7905eb99d.

[2018-07-23 08:54] keqiaozhang commented on #128
@tlauda
Verified with the latest commit 7a2f8c20, the issue still exists. The audacity screenshot and the audio wav are attached.
I tested it with hifiberry codec and record the data via another machine.
Test steps:
1. Play a 48k-32bit-997Hz- sine wav
2. Inject the xrun per second.
3. Capture the data.
Noise occurs and disappears at random when injecting xrun.
![noise](https://user-images.githubus

[2018-07-23 13:01] singalsu commented on #103
@lgirdwood Sure, I will check some options after doing the updates to my UP2. Also as 3rd option logarithmic step could cope with larger step length. Zero crossings detection based volume update could be best but it would need largest amount of work.

[2018-07-23 13:29] zhuqingliang commented on #122
The bug still exist on 7a2f8c20777caac678b53810da37875bea3ac2fe

[2018-07-24 05:57] xiulipan commented on #102
Fixed by https://github.com/thesofproject/sof/issues/99

[2018-07-24 06:01] xiulipan commented on #58
random bug.
Maybe not fix but did not tested out.

[2018-07-24 06:39] xiulipan commented on #10
fixed by compiler overlays.

[2018-07-24 06:42] xiulipan commented on #7
fixed by #23

[2018-07-24 08:57] tlauda commented on #128
@keqiaozhang @xiulipan
With all my patches I've verified that HDA DMA and GPDMA pointers are correct after stop and start sequence and they don't overlap each other. Transfers should be continued correctly without any glitches, but for some reason 1 in 5 times the stream is corrupted. The only last thing I can think of is some kind of data inconistency on kernel side. I've also noticed that kernel

[2018-07-24 08:58] tlauda commented on #19
@xiulipan
Should be fixed on top of c65d73397cc04da4600e02b7d91ac0423dc55ece.

[2018-07-24 08:59] tlauda commented on #115
@xiulipan
Capture xrun should be fixed on top of c65d73397cc04da4600e02b7d91ac0423dc55ece.

[2018-07-24 11:19] zhuqingliang commented on #115
I test with  7a2f8c20777caac678b53810da37875bea3ac2fe  for 30 minutes , the issues do not reproduce. The bug is gone.

[2018-07-24 11:19] #115 closed

[2018-07-24 11:21] tlauda commented on #115
Fixed by #143.

[2018-07-24 11:58] tlauda commented on #48
@keqiaozhang
How long does it take for glitches to appear? I've tried couple of times with ~2 min playbacks and I didn't see any distortion.

[2018-07-24 15:08] plbossart commented on #128
@tlauda what is the expected behavior then? I thought we were done with the HDAudio DMA programming sequence issues, looks like it's still wrong?

[2018-07-24 15:48] singalsu commented on #103
I can now repeat the issue with my UP2+HiFiBerry after some struggle with fresh code. It's a bit hard to hear the zipper with music but with sine (997 Hz) it's quite audible.

[2018-07-24 15:54] singalsu commented on #103
The effect is also a bit different when pressing cursor keys in alsamixer vs. running successive commands like
'amixer sset 'PGA1.0 Master Playback Volume 1',0 10 10'
and
'amixer sset 'PGA1.0 Master Playback Volume 1',0 32 32'
so there may be two different issues. For the cursor keys case I wonder if the previous ramp has completed before the new target gain is received.

Note: I'm testing with gc

[2018-07-25 01:43] keqiaozhang commented on #48
@tlauda
This issue still can be reproduced with latest code base(sof-master: 3a29be). I tested on ssp 0 with nocodec tplg, since no ssp0 nocodec tplg under topology/test/, so I generated it myself by adding "simple_test nocodec volume "NoCodec-0" s16le SSP 0 s16le 25 16 2400000 24000000 I2S 0 SIMPLE_TESTS[@]" in tplg-build.sh. This issue happens from beginning to end.
![noise](https://user-images.

[2018-07-25 07:14] xiulipan commented on #128
Test with L300Hz R400Hz Sine wave on UP2 with hard link loopback on SSP5 with XRUN injection.

Find some strange thing after STOP/START ( the whole test did not get any noise issues).
After start a few samples ( 100 samples) are following the STOP moment, then it continue on with some other data that can not easy find belong to.

![l300r400](https://user-images.githubusercontent.com/37825714/43184

[2018-07-25 07:31] tlauda commented on #128
@plbossart
Proposed flow was supposed to be the three step procedure:
1. Send IPC (maybe PAUSE?) to FW to stop updating read/write pointer of Host DMA.
2. Set RUN = 0.
3. Send IPC (STOP?) to FW to disable Host DMA gateway.

Currently we are doing steps 1 & 2 after receiving COMP_TRIGGER_STOP IPC, which is after driver sets RUN = 0. So as you can see, FW for a moment will still read/write Host DMA

[2018-07-25 07:50] tlauda commented on #48
@keqiaozhang
I'm running alsabat -Dhw:0,0 -f s16_le -r 48000 -c2 -F234 with the same topology as yours and I don't see any glitches. Volume in alsamixer set to 100% for both playback and capture. Are you connecting SSP pins externally?

[2018-07-25 11:37] singalsu commented on #103
I will submit a pull request with 250 ms long linear volume ramp (was 64 ms) and with gain value update rate increased to  every 1 ms (was 2 ms). I can still hear very silent zipper noise with sine wave but no more with music. If it's considered still too noisy maybe there's still room for some ramp length increase. Or consider changing ramp to logarithmic (still a small change) or even use ZC det

[2018-07-25 15:34] #103 closed

[2018-07-26 07:35] lgirdwood commented on #122
@zhigang-wu please lookup each EPC register when you next reproduce from the dissasembly and log the  functions that each EPC is running in.

[2018-07-26 08:01] lgirdwood commented on #128
@tlauda, @plbossart , @xiulipan we zero a period during xrun iirc. It looks like we may need to either fill period with last value or fade/unfade. @singalsu ?

[2018-07-26 08:08] tlauda commented on #128
@lgirdwood
In this situation there is no xrun in FW, only in ALSA.
From FW perspective it is stop - start sequence, during which buffers aren't cleared.

[2018-07-26 08:10] lgirdwood commented on #128
@tlauda ok, so a fade is something @singalsu may look at in the future.

[2018-07-26 08:15] tlauda commented on #128
I think we should try reset the stream after the stop sequence and reinitialize it before the start. That would also require to prepare() pipeline before the start to reinit the buffers. This way we're going to have the clean slate and basically the same situation as before the first start. There shouldn't be any noise.

[2018-07-26 09:55] zhigang-wu commented on #128
@tlauda
I found something, it seems there is mismatch between the host dma's hardware read/write pointer and the buffer's read/write pointer sometimes.
I think it is a hardware issue. this mismatch happen sometimes. I think that is the reason: when i use
the prepare() patch, it still has the noise issue.
I attached two files: "0001-test-add-the-trace-code-to-check-hw-pointer-mismatch.txt" is the t

[2018-07-26 10:05] tlauda commented on #128
@zhigang-wu
It's more likely that write pointer has wrapped around to 0. You should additionaly read DGCS and check BF bit.

[2018-07-26 11:12] jajanusz opened #152 "DMIC: 16bits FIFOs record at double rate"
DMIC works correctly only for 32bit (fifo_bits_a), for 16b it records at double rate - for example 10s squeezed into 5s with 2x tempo.

[2018-07-26 11:33] jajanusz opened #153 "cmocka ut: Unit tests should be uniquely identifiable by function names"
We have to use naming like we were using with first unit test (f.e. list, audio buffer) - name of the testing function should go like test_<path-to-header>_<condition>, like test_math_numbers_gcd_when_something_then_something, otherwise we will have in TAP logs on CIs logs like:
For files:
[code]
TAP output will look like
[code]
And we don't know for which one it failed.
So please make your test n

[2018-07-26 12:20] lgirdwood commented on #128
@tlauda rather than sending two additional IPCs for reset() + prepare() after STOP | PAUSE, we should probably do this automatically in FW after STOP | PAUSE. That way we have lower latency to restart/recover a stream since we have two less IPC messages ?
@zhigang-wu can you have a look at calling reset() and prepare() in firmware after STOP | PAUSE and evaluate.

[2018-07-26 12:22] lgirdwood commented on #152
@singalsu looks like DMA width is wrong for 16bit mode. probably reading back 32bits.

[2018-07-26 12:29] jajanusz commented on #153
@lgirdwood I asked them already to fix names. You can assign me to all UT patches.

[2018-07-26 12:32] singalsu commented on #152
I will do checks once I'm able to get this working again UP2 (code in dai.c line 671->) . I have still some issue with topology and kernel.

[2018-07-26 12:43] slawblauciak commented on #153
Fixed in https://github.com/thesofproject/sof/pull/155

[2018-07-26 13:57] zhigang-wu commented on #128
@lgirdwood @tlauda
I checked with another test code, i will attached the test code and log after i am back to office.
from that log, it seems no matter it is the first start or start after xrun (no matter how many xrun happen). the host dma's hw pointer will show the right value: r_ptr=0x00, w_ptr=0x300.
let me explain it.
1. this is the first start, the host dma pointer will change like below:
th

[2018-07-26 14:02] keqiaozhang commented on #48
@tlauda
This issue is related to the compiler and this issue happens only with gcc,  with xcc, there's no such issue.  So this explains what you found last night.

[2018-07-26 14:10] lgirdwood commented on #128
@tlauda  great thanks :)

[2018-07-26 14:20] zhigang-wu commented on #128
It's more likely that the write pointer has wrapped around to 0. You should additionaly read DGCS and check BF bit.
---------------------------------------------------------------------
@tlauda
you means before the dma_copy() is called, we should check the BF bit in the DGCS, right?  I will try this.
maybe before the dma_copy() is called, the w_ptr is changed already. something abnormal happened.

[2018-07-26 14:46] #153 closed

[2018-07-26 15:58] lgirdwood commented on #128
@zhigang-wu looks like tlauda will fix this tomorrow, can you look at the other outstanding issues.

[2018-07-26 16:13] singalsu commented on #152
I can repeat the bug now. With DMIC the 16 bit stereo data frame is packed to 32 bit word as <L><R>. And mono data is packed as <L><L>. Is SSP similar? If SSP packs 16 bit data differently it could explain this.

[2018-07-26 16:30] singalsu commented on #152
Testing this
[code]

[2018-07-26 17:18] singalsu opened #157 "Trace: The trace output is not displayed when it arrives"
The trace in APL platform doesn't update the display per trace event but in larger blocks only when more trace data arrives. E.g. it is not possible to see volume trace events for latest alsamixer key press for PGA gains. Or as other example I can't see DMIC capture trace events before I run another capture.

This makes debugging harder when the needed information need to be looked back from much

[2018-07-26 18:16] ranj063 commented on #152
@singalsu I think this is an error. I've sent you a patch that addresses this issue by setting the config only for the comp who's dai_index matches the dai_index in the config. Please give it a try.

[2018-07-27 01:01] zhigang-wu commented on #128
@lgirdwood
OK. I will move on other issue.

[2018-07-27 02:55] keqiaozhang commented on #19
Confirmed that this issue is fixed in sof-master.

[2018-07-27 02:55] #19 closed

[2018-07-27 08:43] keqiaozhang opened #161 "noise occurs intermittently when injecting xrun for playback on BYT"
This issue happens when injecting xrun and the noise issue interval occurs. For example, this time is good and next time will be bad.
how to reproduce:
1. play a wav file
2. inject the xrun every 2 seconds
    echo 1  > /proc/asound/card0/pcm0p/sub0/xrun_injection
then you can hear the noise form time to time.
[dmesg-xrun.log](https://github.com/thesofproject/sof/files/2234959/dmesg-xrun.log)
[xru

[2018-07-27 08:44] zhigang-wu commented on #161
this can be fixed with the prepare() operation before start.
I tested it on BYT already.

[2018-07-27 09:00] RanderWang commented on #122
It is caused by XRUN.  you would get kernel panic when XRUN happens.  I also checked the EPC register and didn't find any useful info.

I tried the https://github.com/thesofproject/sof/pull/129/commits/390e60f82266b80e1256ffacf0dd6e6a4b3ca2dd suggested by zhigang.  This patch kills the panic

[2018-07-27 10:37] singalsu commented on #152
I noticed that  if I set "dd->config.burst_elems = 4;" for DMIC in dai_config() the change is seen in dw-dma.c. Therefore it is very likely that some later code overwrites dd->config.src_width to 2. Maybe some SSP specific thing kicks in?

[2018-07-27 11:04] singalsu commented on #152
I can make DMIC 16bit capture work by commenting out these lines from dai_capture_params()

[code]
My question is that can this SSP specific thing be done instead in dai_config for type SOF_DAI_INTEL_SSP?

[2018-07-27 11:46] jajanusz commented on #152
@singalsu
I think we shouldn't set config fields in many places, it will get messy, better to set config once in *_params functions and then use them in dai_config as we do now. We have to find better way to figure out what widths to set before passing config to dai_config

[2018-07-27 11:53] singalsu commented on #152
Then there should be DAI type check in _*params and apply differently src_width and dest_width.

[2018-07-27 12:08] singalsu commented on #152
I'll make a pull request with edits to dai_capture_params().

[2018-07-27 15:48] Jocelyn-Li commented on #48
@tlauda Can this issue be fixed with different gcc compiler option?  Any suggestions?

[2018-07-30 06:03] xiulipan opened #167 "noise when pause/release playback on BYT"
noise happen when pause/release playback, and continue pause will make the noise disappear. Very similar behavior with #161

[2018-07-30 06:41] lgirdwood commented on #157
Trace should be sent every 500ms or when buffer > half full, whichever happens first. @RanderWang can you check.

[2018-07-30 07:21] lgirdwood commented on #48
@Jocelyn-Li @keqiaozhang the issue is because GCC does not generate optimised HiFi2/3 SIMD instructions for volume control yet. Lets fix later with gcc update.
@keqiaozhang can you enable verbose trace for both xcc and gcc volume and paste the output of a 5 pipeline schedules for both. This way we will see the difference in performance for volume between gcc and xcc atm.

[2018-07-30 08:31] tlauda commented on #48
@lgirdwood Last time I checked volume module compiled with GCC took ~5 MCPS to execute, so it's very unlikely it's because of lack of SIMD instructions. Maybe there are some additional scheduling issues. I will take a look.

[2018-07-30 08:44] keqiaozhang commented on #48
@lgirdwood
Please refer to the attached log files.
[rmbox-trace-gcc.txt](https://github.com/thesofproject/sof/files/2240315/rmbox-trace-gcc.txt)
[rmbox-trace-xcc.txt](https://github.com/thesofproject/sof/files/2240316/rmbox-trace-xcc.txt)

[2018-07-30 09:26] ghost opened #168 ""DSP panic" during capture, do the pause/release, the firmware enter panic."
platform info:
on the apl platform.

code version info:
sof: master:  commit-id: 4157d939b75d13aacd1d5c70b37a141890892ef4
linux: topic/sof-dev: commit-id: 46b7b641555171efd7834f41f666bb47f12d05b0
tool: master: commit-id: debaf8f889607406159a13f8bba7d7218243683d

reproduce steps:
1. do the capture operation.
2. pause / release the capture.
3. the issue will be reproduced.

[rmbox-error.txt](https:/

[2018-07-30 09:33] zhigang-wu commented on #168
bisect the patch "8c23b24".

[2018-07-30 09:39] xiulipan commented on #167
Fix by #169

[2018-07-30 09:51] xiulipan commented on #161
fix by #169 and #170

[2018-07-30 10:02] xiulipan commented on #128
maybe fixed by #170
please have a try.

[2018-07-30 10:45] keqiaozhang commented on #168
This issue is related to the compiler, confirmed that this issue only happens with gcc compiler and cannot reproduce this issue with xcc.

[2018-07-30 10:56] lgirdwood commented on #48
@tlauda ok, that's good to know, I am working on hifi 2/3 for gcc but it wont be ready for a while.

[2018-07-30 10:57] #167 closed

[2018-07-30 11:08] lgirdwood commented on #168
@keqiaozhang can you paste the disassembly of the functions that EPC1 and EPC5 are pointing to. Thanks

[2018-07-30 12:03] zhuqingliang opened #172 "'error log' in dmesg when boot up on CNL using sof-cnl-rt274.tplg"
description:
run dmesg once boot up , but aplay and arecord work well.

[    5.645901] cnl_rt274 cnl_rt274: snd-soc-dummy-dai <-> Passthrough 0 mapping ok
[    5.645962] cnl_rt274 cnl_rt274: ASoC: no sink widget found for Dummy Playback
[    5.645965] cnl_rt274 cnl_rt274: ASoC: Failed to add route ssp2 Tx -> direct -> Dummy Playback
[    5.645968] cnl_rt274 cnl_rt274: ASoC: no source widget found

[2018-07-30 13:40] keqiaozhang commented on #168
@lgirdwood
EPC1     0xbe01c264
be01c264:       106452                  s32i    a5, a4, 64

EPC5     0xbe01c261
be01c261:       40c422                  addi    a2, a4, 64

sof-apl.lst is attached and renamed as sof-apl.txt
[sof-apl.txt](https://github.com/thesofproject/sof/files/2241322/sof-apl.txt)

[2018-07-31 01:52] zhigang-wu commented on #168
I do not think the PR 8c23b24 is right.

when the capture works, it looks like that,  at the start point.
1. the DAI's DMA is first to start, this means the DAI-DMA's HW pointer is updated first.
2. when one period data is received, the cb() function is entered, the buffer pointer will be updated.
At this time, the DAI-DMA's HW pointer and buffer pointer are matched.

when the pause command comes:

[2018-07-31 02:59] keqiaozhang commented on #161
Confirmed this issue is fixed.

[2018-07-31 03:16] xiulipan commented on #168
8c23b24 should be 58bc284905ee8203c17e7d62e4e57bb0bf4dd2b4

[2018-07-31 05:45] xiulipan opened #173 ""trace error" stress test for start playback and capture at sametime cause dma trace error on BYT"
reproduce step:
start playback
start and stop capture when error happen

rmbox log:

0x0 [188.520303]        delta [188.520303]      dma eS0
0x10 [188.520305]       delta [0.000003]        value 0x0000000000000007
0x20 [188.520308]       delta [0.000003]        value 0x0000000000000203
0x30 [188.520310]       delta [0.000002]        value 0x0000000000000003
0x40 [188.520313]       delta [0.000003]

[2018-07-31 06:00] tlauda commented on #172
I think it's soft/kernel issue.
Can we move this to the appropriate project?

[2018-07-31 06:14] tlauda commented on #168
@zhigang-wu @xiulipan This is actually a nice catch, but it also means, that we have the wrong approach to the stop sequence implementation. Until now I have assumed, that after stop - start we should continue from the previous pipeline state, but it seems that we should just drop everything and start from the beginning. I think we should revert 58bc284905ee8203c17e7d62e4e57bb0bf4dd2b4 and play ar

[2018-07-31 07:15] xiulipan commented on #173
reproduce rate < 5 %

[2018-07-31 07:16] keqiaozhang opened #174 ""DSP panic"Stress test: start playback and capture at same time and pause/release for capture will cause DSP panic"
Reproduce steps:
1. open a console and run:
   aplay -D hw:0,0 -f dat -c 2 /dev/zero & arecord -D hw:0,0 -f dat -c 2 /dev/null -i
2. Press the space key to do pause/release for capture.
Simple pause/release for capture will make firmware xrun, but the pipeline recovery success when no playback.

[dmesg.log](https://github.com/thesofproject/sof/files/2243981/dmesg.log)
[rmbox-t.log](https://github.

[2018-07-31 07:32] xiulipan commented on #173
when error happen, the DMA trace seems did not stop and continue try to call dma-copy but always get fail, the error trace will have upate all time.
rmbot log:
keep try to dma-copy every scheduler.
0x1b0 [517.302752]      delta [0.494783]        dma eS0
0x1c0 [517.302755]      delta [0.000003]        value 0x000000000000000f
0x1d0 [517.302758]      delta [0.000003]        value 0x0000000000000003

[2018-07-31 07:33] keqiaozhang opened #175 ""DSP panic" Stress test: inject xrun and do pause/release for capture will cause DSP panic on GP-MRB"
How to reproduce:
1. run: arecord -Dhw:0,0 -f dat -c 2 /dev/null -i
2. inject xrun for capture.
    echo 1 > /proc/asound/card0/pcm0c/sub0/xrun_injection
3. press space key to do pause/release for capture.

tplg: test-ssp4-mclk-0-I2S-volume-s16le-s16le-48k-24576k-nocodec.tplg

[rmbox.log](https://github.com/thesofproject/sof/files/2244189/rmbox.log)
[dmesg.log](https://github.com/thesofproject/sof

[2018-07-31 08:01] tlauda commented on #174
Isn't it the duplicate of #168?

[2018-07-31 08:01] tlauda commented on #175
Isn't it the duplicate of #168?

[2018-07-31 08:58] zhigang-wu commented on #168
this issue can be fixed by the revert PR #176

[2018-07-31 10:00] xiulipan commented on #175
@tlauda I think they are the same

[2018-07-31 10:04] zhuqingliang commented on #172
move to https://github.com/thesofproject/soft/issues/46

[2018-07-31 10:04] #172 closed

[2018-07-31 11:19] zhuqingliang commented on #168
also reproduced on CNL with  5e83da7fc170dd9eccdf97e32a516a5b294a41bf

[2018-07-31 12:53] keqiaozhang commented on #175
@tlauda @xiulipan
Thanks for your input. I will try to revert PR143 and test it again,  if it cannot be reproduced, I will close this bug.

[2018-07-31 12:54] keqiaozhang commented on #174
@tlauda
Thanks for your input. I will try to revert PR143 and test it again,  if it cannot be reproduced, I will close this bug.

[2018-07-31 13:01] keqiaozhang commented on #128
@xiulipan
I cannot reproduce this issue on BYT.
On APL, this issue still exists, but the reproduce rate is reduced to <20%.

[2018-07-31 13:59] zhuqingliang opened #180 "Stress test: simultaneous playback and capture will cause Input/output error"
The reproducibility is about 30%.
How to reproduce:
1. start playback and capture at same time
aplay -D hw:0,0 -r 48000 -f S24_LE -c 2 /dev/zero  -d 5 & arecord -D hw:0,0 -c 2 -f S24_LE -r 48000 /dev/null -d 5
2. repeat step 1.

environment:
on CNL
sof-dev:  18917b91d619664c4e38b7180ff89bd9c1397758
sof: 5e83da7fc170dd9eccdf97e32a516a5b294a41bf
soft:  fdf39244b7684c4a17707f9bc9ffc92699230cb2
tplg f

[2018-07-31 14:54] zhuqingliang commented on #180
the reproduce rate is about 15%

[2018-07-31 15:02] tlauda commented on #180
No errors/xruns in neither dmesg nor rmbox logs.
Problem should be checked from kernel side.

[2018-07-31 15:54] Jocelyn-Li commented on #180
@zhuqingliang Does this issue only happen on CNL?

[2018-08-01 02:58] zhuqingliang commented on #180
the issue also happens when use tplg  "test-ssp0-mclk-0-I2S-volume-s16le-s16 le-48k-24000k-nocodec.tplg " on CNL.

On APL , the issues is same as CNL ,  no errors in demsg log.
On BYT,  the issues happens with "ipc timed out" in dmesg log.
BYT log:
[dmesg.log](https://github.com/thesofproject/sof/files/2247864/dmesg.log)
[rmbox.log](https://github.com/thesofproject/sof/files/2247867/rmbox.log)

[2018-08-01 06:34] keqiaozhang opened #182 "Support volume control for 4-channel stream"
How to reproduce:
1. aplay -D hw:0,0 -f S32_LE -r 48000 -c 4 4ch_32bit.wav
2. adjust the PGA value in alsamixer
The sound is keep loud, even set the volume as 0.

[volume_dmesg.log](https://github.com/thesofproject/sof/files/2248268/volume_dmesg.log)
[volume_rmbox.log](https://github.com/thesofproject/sof/files/2248269/volume_rmbox.log)

[2018-08-01 06:40] tlauda commented on #180
If we confirmed, that the error isn't coming from the FW, can we move this issue to kernel?

[2018-08-01 12:36] keqiaozhang commented on #161
We did a stress test on BYT today and found that this issue still can be reproduced, repetition is low about 5%.
But with PR #170, this issue is hard to reproduce. So let's reopen this bug until PR#170 is merged.

[2018-08-01 14:50] lgirdwood commented on #173
@xiulipan looks like DMA was stopped prior to DMA copy completion. This happens when the DMA is waiting on SSP FIFO handshakes to empty the DMA buffer. i.e. the SSP port is being disabled before DMA has finished copying period.

[2018-08-01 15:19] lgirdwood commented on #180
@zhuqingliang can see any errors on the CNL logs.

@RanderWang on BYT looks like from log that kernel is sending 2 IPC messages at once.

[48194.809293] sof-audio sof-audio: stream_tag 0
[48194.809310] sof-audio sof-audio: pcm: trigger stream 0 dir 0 cmd 1
[48194.809334] sof-audio sof-audio: ipc: send 0x60010000
[48194.809357] sof-audio sof-audio: ipc: send 0x60040000
[48194.809490] sof-audio sof-

[2018-08-01 15:28] michalgrodzicki commented on #28
The feature will be delivered soon.
New feature is not an issue. I'll close the issue.

[2018-08-01 15:28] #28 closed

[2018-08-02 01:54] zhuqingliang opened #184 ""DSP trace buffer overflow" in dmesg on APL using sof-apl-nocodec.tplg once boot up"
environment:
on APL
sof-dev: 08f7ddbcdd7eb4fcbf43cef09272215ef53dba7c
sof: c1123ec2ab994a3d1dadd2c64e4e352c75e88e0e
soft: cfff9e0b0402f0f7dd2bd9ba915fd6d1599b2fc8
tplg file name :
topology/spf-apl-nocodec.tplg

reproduces steps:
dmesg| grep error

log:
[dmesg.log](https://github.com/thesofproject/sof/files/2251767/dmesg.log)
[rmbox.log](https://github.com/thesofproject/sof/files/2251768/rmbox.log)

[2018-08-02 02:33] keqiaozhang commented on #128
Update:
This issue still can be reproduced on BYT APL and CNL and the reproducibility is low about 10%.

[2018-08-02 02:57] #168 closed, assigned to nobody

[2018-08-02 03:03] keqiaozhang commented on #180
Update:
This issue still can be reproduced with latest code base.  When input/output error occurs, aplay and arecord will stop immediately, but no ipc timed out or firmware panic error, so you can rerun aplay and arecord.

[2018-08-02 03:07] keqiaozhang commented on #175
Confirmed that this issue is fixed by PR#178.

[2018-08-02 03:07] #175 closed

[2018-08-02 03:09] keqiaozhang commented on #174
Confirmed that this issue is fixed by PR#178.

[2018-08-02 03:09] #174 closed

[2018-08-02 03:12] xiulipan commented on #173
@lgirdwood
Thanks for the hint. I will check if we have some stop order issues there.
It seems on BYT all 3 DMA ( and maybe 4 DMA in the second log?)
The DMA TRACE did not have a FIFO connected but it still got into the enabled status.
I will double check if we have some error when handling the DMA stop/start if we failed one of them.

[2018-08-02 03:15] keqiaozhang commented on #101
Confirmed  that this issue is fixed by PR#178.

[2018-08-02 03:15] #101 closed

[2018-08-02 03:34] plbossart commented on #184
Liam and me saw a similar issue on GLK yesterday after adding only 4 data traces in the SSP code.

[2018-08-02 03:41] xiulipan commented on #184
@plbossart @lgirdwood
This seems can not be avoid since we get too many trace log when setting up the ppl.
When the tplg first loaded in KERNEL, too many IPCs flushed into DSP and dma-buffer is overflow very fast.
Will check with @RanderWang after he is back about the up-limitation flow rate of the DMA-trace.

[2018-08-02 03:44] #161 closed

[2018-08-02 03:48] xiulipan opened #185 "travis ci will timeout when build docker"
travis ci now is configured to use docker for every build check. But the docker build need much time and cause the check timeout.
Need to update the dockerfile with some pre-built docker image.

[2018-08-02 03:56] plbossart opened #186 "Clock API needs to be reworked"
The clock API does not account for the fact that a given SSP can be programmed to work with different sources (XTAL, PLL)

[2018-08-02 04:00] lgirdwood commented on #184
@xiulipan flow rate is fine, iirc problem is due to driver enabling DMA trace after topology has loaded.

[2018-08-02 04:05] lgirdwood commented on #180
@keqiaozhang can you try this again on BYT after reverting kernel commit 145f6f21fe0d35d02443d921bdb435cf80be8aee.

Can you paste the cmd line console log when the error happens on CNL/APL.

[2018-08-02 04:08] lgirdwood commented on #182
@keqiaozhang can you tell us which volume control you are changing.

[2018-08-02 04:15] plbossart commented on #184
@xiulipan we saw the message after adding a total of 8 traces, if it results in an overflow then something is very wrong with buffer management. We are not talking about massive bandwidth issues exceeding what the DMA hardware can do...

[2018-08-02 05:30] keqiaozhang commented on #182
@lgirdwood
I changed the PGA1.0 Master Playback Volume 1 when playback(I've basically tried all of PGA*), I retested this issue today, but unable to reproduce it, checked with Zhigang, it's more like a random issue, I will do more tests to confirm it.

[2018-08-02 07:52] keqiaozhang commented on #180
@lgirdwood
After reverting the patch, this issue is hard to reproduce on BYT, I tested it more than 100 times.
But on CNL and APL, this issue still can be reproduced and reproducibility is low.
test@test-CannonLake:~$ aplay -Dhw:0,0 -fS16_LE -c2 -r 48000 /dev/zero -d 3 & arecord -Dhw:0,0 -c2 -r 48000 -fS16_Le /dev/null -d 3
[1] 2216
Recording WAVE '/dev/null' : Signed 16 bit Little Endian, Rate 48

[2018-08-02 07:58] keqiaozhang commented on #182
This issue cannot reproduced with latest code base, I tested it more than 20 times. so let's close this bug.

[2018-08-02 08:00] keqiaozhang commented on #48
@tlauda
I did a sweep test today and this issue cannot be reproduced. let's close this bug.
This issue is fixed by PR#177.

[2018-08-02 08:00] #48 closed

[2018-08-02 08:30] keqiaozhang commented on #122
This issue cannot be reproduced after more than 20mins. So close this bug.

[2018-08-02 08:30] #122 closed

[2018-08-02 08:33] keqiaozhang commented on #128
Confirmed that this issue is fixed by PR#170 on BYT APL and CNL.

[2018-08-02 08:33] #128 closed

[2018-08-02 10:19] SinianYang opened #187 "Stress test: ipc error when playback and capture(through DMIC) at the same time."
This issue happens when running playback and capture at same time and run capture through dmic.
but we can rerun aplay and arecord after ipc error happened.

The reproducibility is almost 100%.
How to reproduce:
    1.start playback and capture at same time
       aplay -D hw:0,5 -c 2 -r 48000 -f s16_le /dev/zero -d 3 & arecord -D hw:0,6 c 4 -r 48000 -f s32_le
       /dev/null -vv -i -d 3
     2.r

[2018-08-03 01:53] keqiaozhang opened #191 "SoC master mode support in SOF"
We need to support codec-master mode in SOF.

[2018-08-03 02:31] SinianYang opened #192 "DMIC:ipc error and DSP panic when doing pause / release"
This issue happens when run capture through dmic.

The reproducibility is almost 100%.
How to reproduce:
1. arecord -D hw:0,6 -c 4 -r 48000 -f 32_le  /dev/null -vv -i
2. pause / release

Environment:
on UP^2
sof-dev: 08f7ddbcdd7eb4fcbf43cef09272215ef53dba7c
sof: c1123ec2ab994a3d1dadd2c64e4e352c75e88e0e
soft: cfff9e0b0402f0f7dd2bd9ba915fd6d1599b2fc8
tplg file name: sof-apl-nocodec.tplg
log:
[dmesg.

[2018-08-03 10:07] singalsu commented on #192
You have an old rmbox binary since it doesn't show dmic trace texts.

[2018-08-03 13:25] singalsu commented on #192
I tried to repeat this but I don't get DSP panic. Does it happen with first space key press or do you need press pause a lot of times or very rapidly or something?

[2018-08-06 02:32] SinianYang commented on #192
@singalsu
I just tested this issue and found out that when I used "-c 1" or "-c 2" in "arecord -D hw:0,6  -r 48000 -f 32_le /dev/null -vv -i" there was no such problem, but when I used "-c 4", once I first pressed space key, the dsp would panic. And I have already update reproduce steps and logs.

[2018-08-06 05:01] keqiaozhang opened #195 "GCC compilation broken again"
This is a regression and caused by thesofproject/sof/pull/189 - ae793d26e
Error info：
dw-dma.c: In function 'dw_dma_stop':

dw-dma.c:489:18: error: unused variable 'lli' [-Werror=unused-variable]
  struct dw_lli2 *lli;
                  ^
dw-dma.c:488:6: error: unused variable 'i' [-Werror=unused-variable]
  int i = 0;
      ^
cc1: all warnings being treated as errors

[config.log](https://github.

[2018-08-06 05:10] keqiaozhang commented on #195
This issue happens on BYT BDW and HSW.

[2018-08-06 15:17] mwierzbix opened #198 "rstrcmp - comparing different lengthed strings"
In `src\lib\lib.c::rstrcmp(const char *s1, const char *s2)` no check is done for compared strings' lengths.

`rstrcmp("aa", "aab")` will return 0, whereas gcc implementation of `strcmp` will return -1.
Is this by design, or an oversight?

From C standard draft (https://port70.net/~nsz/c/c11/n1570.html#7.24.4.2) :

Technically, null terminator is an inherent part of valid c-string.
So when comparin

[2018-08-06 15:47] plbossart commented on #198
Indeed looks like a bug to me. Good old strcmp issue...

[2018-08-06 16:05] mwierzbix commented on #198
C in a nutshell ;)
Will make a pull request in a moment.

[2018-08-06 17:43] mwierzbix commented on #198
Fix candidate @ https://github.com/thesofproject/sof/pull/199

[2018-08-07 08:30] RanderWang commented on #157
two issue for this case. I will create two PRs for this issue

[2018-08-07 08:33] RanderWang commented on #184
Yes, I have made a solution to fix this issue. I will create PR after I refine it

[2018-08-07 12:11] lgirdwood commented on #180
@RanderWang looks like locking on HW IPC needs some updates. Can you revert the BYT kernel patch too.

[2018-08-07 12:55] keqiaozhang commented on #195
Confirmed that this issue is fixed by thesofproject/sof/pull/196.

[2018-08-07 12:55] #195 closed

[2018-08-07 15:02] xiulipan opened #206 "version.sh will fail in travis CI"
in travis CI, there are a special order to git clone and build
to reproduce run
[code]
or just try to build rimage.

Then we will get some error like

[2018-08-07 15:07] xiulipan commented on #206
we may need some new version.sh to handle all situation.
In this case, we have no git tag.

[2018-08-07 20:40] #198 closed

[2018-08-07 21:59] plbossart opened #209 "Random IPC + DSP status issues on startup (APL/LeafHill)"
I sometimes get this sort of errors (DSP status in the weeds and unknown errrors). rebooting makes it go away, not 100% reproducible.

[    4.706216] sof-audio sof-audio: tplg: config SSP0 fmt 0x4001 mclk 24576000 bclk 1536000 fclk 48000 width (16)16 slots 2 mclk id 0
[    4.706234] sof-audio sof-audio: ipc tx: 0x80010000: GLB_DAI_MSG: CONFIG
[    4.706250] sof-audio sof-audio: ipc rx: 0x90020000:

[2018-08-08 02:00] plbossart commented on #209
and another one after 200 load/unload without issues...

[   39.395133] sof-audio sof-audio: ipc tx: 0x30130000: GLB_TPLG_MSG: PIPE_COMPLETE
[   39.395160] sof-audio sof-audio: error : DSP panic!
[   39.395424] sof-audio sof-audio: panic: dsp_oops_offset 788480 offset 788480
[   39.395427] sof-audio sof-audio: status: fw entered - code 00000005
[   39.395791] sof-audio sof-audio: error: runtime ex

[2018-08-08 02:14] plbossart commented on #152
@singalsu Looks like this issue was solved, if yes let's close it?

[2018-08-08 02:36] zhuqingliang commented on #184
bug still exist in  31d8aa4c7a8a1656b9ead18d16a9625dae4ca1e1.

[2018-08-08 07:55] jajanusz commented on #152
@plbossart
@singalsu wrote how to fix it, but PR needs changes, we shouldn't set widths in set_config, so I'll set them in some proper callback while doing ssp mux/demux, it's not high priority issue, but please keep it open

[2018-08-08 08:25] ZhendanYang opened #210 "Stress test : keeping pressing space key when playback and capture at the same time causes ipc timed out."
This issue exists on apl and cnl.
Environment:
on up^2 using gcc
sof-v4.14: 14d7f16ce31d27f9171368ef0bfbbf00f6f160d4
sof: 31d8aa4c7a8a1656b9ead18d16a9625dae4ca1e1
soft: 91bb08dd8ce6305bda1649d0171c48456ba75421
tplg: sof-apl-nocodec.tplg

reproduce steps:
1. aplay -Dhw:0,0 -fS16_LE -c 2 -r 48000 /dev/zero  & arecord -Dhw:0,6 -f S32_LE -r 48000 -c 2 dmic.wav -vv -i
2. keep pressing space key

log:
[

[2018-08-08 09:14] lgirdwood commented on #210
@RanderWang this is kernel bug related to IPC serialization.

[2018-08-08 09:36] lgirdwood commented on #209
@plbossart this looks more like something on the firmware side that's causing the timout as the kernel log timestamps do show a timeout. Can you update the script to dump fw logs when timeout happens. Fwiw, this would be a good one for gdb when it's ready.

[2018-08-08 10:58] lgirdwood commented on #209
@plbossart btw, is this also seen on UP^2 ?

[2018-08-09 07:31] #206 closed

[2018-08-09 10:15] ZhendanYang opened #215 "Noise when recording 8ch data via DIRANA"
Summary: Audios recorded via DIRANA is full of noise and can barely hear the record content clearly.  This error doesn't happen every time but alternately. This error occurs in a pass/fail/pass/fail pattern or a fail/pass/fail/pass pattern.

Sample:
[testwav.zip](https://github.com/thesofproject/sof/files/2276835/testwav.zip)

reproduce steps:
1. arecord -D hw:0,1 -c 8 -r 48000 -f s32_le test.wav

[2018-08-09 10:57] lgirdwood commented on #215
@SinianYang this is a driver/codec bug, not firmware. Please move to kernel.

[2018-08-09 16:28] plbossart commented on #209
This happens on both LeafHill and Up2. Did you mean add a call to rmbox -t when the issue is detected?

[2018-08-09 16:30] plbossart commented on #210
Agree with @lgirdwood, there's definitively something fishy about IPCs (could be missing some interrupts since the code doesn't always use spin_lock_irqsave

[2018-08-09 16:33] plbossart commented on #215
@SinianYang did you mean the error occur exactly 50% of the time, in a pass/fail/pass/fail pattern?

[2018-08-09 19:47] cujomalainey commented on #78
I believe this issue has regressed again, I am experiencing this on master (at 597194f3dd8f7899384d0819548e05f75257ad15) in the docker container.

from `./scripts/xtensa-build-all.sh -l byt`

[code]

[2018-08-09 20:00] cujomalainey commented on #78
Ignore the above comment, its something with docker-run script. If you jump into the containers bash then run the commands then things work fine.

[2018-08-09 20:14] lgirdwood commented on #209
@plbossart yes, lets dump the persistent error log

[2018-08-10 01:07] zhigang-wu commented on #215
the TDF8532 Codec did not support the capture feature.
why you do this test?
Could you confirm the device you used? it is enumerated for the DIRANA?
If yes, please correct the title of this bug report.

[2018-08-10 01:34] zhigang-wu commented on #215
@lgirdwood
At present, we cannot confirm this issue caused by which part.
But It must be a regression issue.

[2018-08-10 01:36] zhigang-wu commented on #215
the capture stream path is:
MIC -> DIRANA -> SSP2(DSP) -> Driver(Kernel)
maybe it is caused by firmware.

[2018-08-10 03:58] xiulipan commented on #78
@cujomalainey
Are you sure about using the docker-run script will result in above log?
It seems you are try to build without a cross-compiler exist.

The configure fallback to gcc when find no cross-compiler.

[2018-08-10 04:32] cujomalainey commented on #78
@xiulipan it was an error on my behalf, somehow I omitted the container script after I just finished building in the container. Apologies for reviving a dead thread.

[2018-08-10 06:41] SinianYang commented on #215
@plbossart  sometimes in a fail/pass/fail/pass pattern.
I update the issue summary and upload a test wav sample.

[2018-08-10 08:10] SinianYang commented on #215
This error happens every time now at latest code base :
sof-dev: 2de67aacaa795ed216b176dbee799f0ec18d6403
sof: 597194f3dd8f7899384d0819548e05f75257ad15
soft: fe1f3ba18072ab70697d00648cd110a3131c12b4
tplg: sof-apl-tdf8532.tplg

[2018-08-10 13:41] singalsu commented on #192
This trace output shows that the topology has configured DMIC for 2ch (num_pdm_active == 1, a pdm controller provides two channels so this should be 2 for 4ch) . It's no wonder that it fails. I think the bug is that this is not rejected cleanly.

[code]

[2018-08-10 16:57] plbossart opened #222 "Add support for GCC 7/ -Wimplicit-fallthrough=3"
Linux kernel folks have started detecting implicit fallthroughs in switch cases, and it's becoming a requirement to explicitly add a comment to state the fallthrough is intentional (no missing break statement).
This is supported by GCC7, SOF should make use of this more recent compiler to improve the code.

[2018-08-13 03:36] xiulipan commented on #222
reference here
https://developers.redhat.com/blog/2017/03/10/wimplicit-fallthrough-in-gcc-7/
@plbossart
Should we try to build Linux with GCC 4.8 to GCC 8.1 to avoid potential issues?

[2018-08-13 05:38] xiulipan commented on #184
fixed by #204

[2018-08-13 05:38] xiulipan commented on #157
fixed by #204

[2018-08-13 05:38] xiulipan commented on #185
fixed by #207

[2018-08-13 05:38] #185 closed

[2018-08-13 07:52] RanderWang commented on #180
@lgirdwood  I test it with latest code and only find the error: aplay: main:788: audio open error: Device or resource busy.

It is not caused by my patch and I got this bug for a long time. there is a anther error message without my patch.

[2018-08-13 07:54] RanderWang commented on #180
I am debugging it and will update what I find

[2018-08-13 10:15] lgirdwood commented on #180
@RanderWang ok, I'm just suspicious that we see 2 IPC commands.

[2018-08-14 02:44] RanderWang commented on #180
I tested with latest kernel driver & FW, and the batch file from keqiao with a few times.
all the tests are successful and no any error. @zhuqingliang can you help to validate it again.

[2018-08-14 05:34] keqiaozhang commented on #157
Confirmed this issue is fixed by thesofproject/sof/pull/204。

[2018-08-14 05:34] #157 closed

[2018-08-14 08:19] keqiaozhang commented on #173
This issue is hard to reproduce with latest code base, it may benefit from /thesofproject/sof/pull/189 and /thesofproject/sof/pull/208. Close this bug.

[2018-08-14 08:19] #173 closed

[2018-08-14 09:57] SinianYang commented on #180
@RanderWang
I tested with latest code base and this issue still exist.
sof : bfc7e467f7b283d0b7db5dff7321c8c5ec400980
soft : fe1f3ba18072ab70697d00648cd110a3131c12b4
sof-dev : 2a7a5d94466a903a05b42093eb2a383510704ded
tplg file : test-ssp0-mclk-0-I2S-volume-s16le-s16 le-48k-24000k-nocodec.tplg
complier: xcc

[2018-08-14 13:16] keqiaozhang opened #225 "Trace error: "dma eI2" when doing pause/release"
This issue happens on BYT when playback or capture. but it doesn't affect audio.  The reproducibility is low < 5%.
[rmbox-t.log](https://github.com/thesofproject/sof/files/2287023/rmbox-t.log)
[rmbox.log](https://github.com/thesofproject/sof/files/2287025/rmbox.log)

How to reproduce:
1. aplay -Dhw:0,0 -f dat -c 2 /dev/zero & arecord -D hw:0,0 -f dat -c 2 /dev/null -i
2. press the space key to do

[2018-08-14 13:26] lgirdwood commented on #225
@xiulipan lets also dump the error code if we can. It's probably harmless notification and could be verbose trace level.

[2018-08-15 03:32] xiulipan commented on #225
@lgirdwood
will done. I believe this is because BYT will have three channel enable with only one IRQ handler.
Let me try to enable all SSP on BYT and have a test.

[2018-08-15 06:55] xiulipan commented on #210
@lgirdwood @plbossart
I found that we may have some error inside the firmware.
When I reproduced one IPC timeout and dig into the trace, I found that the DSP come to alive after few mintes.

Here is the demsg logged the back to live DSP.
The DSP got into hang in 60s, and suddenly got back to live at 204s with a interrupt from
CAPTURE stream from function
`irqreturn_t hda_dsp_stream_threaded_handle

[2018-08-15 09:36] RanderWang commented on #180
It cant be reproduced on BYT, and failed on APL.
So I will debug it on APL

[2018-08-15 10:38] lgirdwood commented on #210
@xiulipan so you mean that FW blocks/spins/sleeps on something for 144s and then returns to normal ?
The capture IRQ is probably freeing a resource/lock ?

Might be worth adding some debug to IPC IRQ handler in FW to trace each message received. That way you can check if IPC IRQ is received for timeout message and work from there. Remeber IPC message is recived at IRQ level 2 but processed later o

[2018-08-15 10:42] lgirdwood opened #228 "Replace autotools with Kconfig"
Replace GNU autotools with Linux Kconfig for SOF build and configuration.

[2018-08-16 02:56] xiulipan commented on #210
@lgirdwood
I am not sure about that. This bug is totally random and hard to reproduce if you add some log.
I will try to analysis the pattern like you said.

I still could not tell if the final TRIGGER_STOP ipc cause the DSP hang or the DSP hang make the ALSA send a STOP to DSP. I think it should be the DSP in hang first and no IPC message could be received then. I will have some log to figure thi

[2018-08-16 05:35] pratik0509 commented on #25
Hey, I would like to work on this if it is still open?

[2018-08-16 09:04] RanderWang commented on #180
The dai position of playback is overwrote by record, so no dai position is updated to alsa

ipc: firmware initiated, msg:0x600a0000, msg_ext:0x0
ipc: firmware initiated, msg:0x600a0006, msg_ext:0x0
ipc rx: 0x600a0006
posn : host 0x3f00 dai 0x3f00 dir 0x1
PCM: stream 0 dir 1 DMA position 4032 DAI position 4032
ipc rx done: 0x600a0006
PCM: stream 0 dir 1 DMA position 4032 DAI position 4032
ipc: firm

[2018-08-16 09:09] RanderWang commented on #180
@lgirdwood  @xiulipan  the msg sent to host is not serialized. we need to check the pre-msg has been processed when sending next msg.  I check the APL spec, the done bit in DSP is cleared immediately after host clear busy bit in IRQ function. Now I try find a way to clear done bit after a msg is processed.

Hi xiuli, do you have any finding?

[2018-08-16 09:42] xiulipan commented on #180
@RanderWang
good finding. this will surely cause some problem.
Let use find a workaround for it to confirm the bug.

@lgirdwood
I think this may also influenced DMA trace position update IPC, maybe #210 have some related to this issue.

[2018-08-16 09:57] RanderWang commented on #180
@lgirdwood @xiulipan
I found a correct register setting sequence. Next I will submit a PR to refine SOF and kernel.

[2018-08-16 11:12] lgirdwood commented on #180
@RanderWang @xiulipan notifications should be serialised. A queue has already been implemented on FW side to help with this, so it looks like the notification busy status is incorrect.

[2018-08-16 11:27] lgirdwood commented on #25
@pratik0509 yep, still open. please have a look at the oops messages in some of the sof issues for examples of text format.. The C format is defined in uapi/ipc.h.  You will also need some xtensa ISA documentation to help you understand the DSP registers. Google for "xtensa ISA".

The goal is to read the oops message and provide a stack dump, alongside runlevel,  C code that each EPC register poin

[2018-08-17 07:42] keqiaozhang commented on #192
Since the DMIC is configured as 2ch in topology and this bug can only reproduce with 4ch, so let's close this bug.

[2018-08-17 07:42] #192 closed

[2018-08-17 07:52] keqiaozhang commented on #187
Close this bug, we cannot reproduce this issue with 2ch DMIC and topology doesn't support 4ch so far. we will test with 4ch after this feature is enabled in tplg.

[2018-08-17 07:52] #187 closed

[2018-08-17 09:57] RanderWang commented on #180
@lgirdwood  @xiulipan

I make the patch, it works with some random IPC timeout at topology loading time.  The IPC timeout issue is not caused by my patch, but it just makes a interrupt issue come out.  I debug with xiuli , find that the IPC interrupt is received by DSP, but the FW sleep at "waiti", so the IPC_CMD function cant be
scheduled. It is caused by DMA trace interrupt.

I and xiuli will go

[2018-08-17 09:59] RanderWang commented on #180
Next time I will update my GCC. According to xiuli, my patch works well with newer GCC.

[2018-08-17 10:13] ZhendanYang opened #230 "Pulseaudio fails to playback with topology sof-cnl-rt274,tplg"
Summary: There are ipc error in dmesg after booting on cnl.

Environment:
sof-dev: 5420b87addf10a074fb81a555dff05a4a177af93
sof: bfc7e467f7b283d0b7db5dff7321c8c5ec400980
soft: a01d56f852d0b0fa865b666e5e7acc4baee1e1be
tplg file: sof-cnl-rt274,tplg

Logs:
[dmesg.log](https://github.com/thesofproject/sof/files/2296513/dmesg.log)
[rmbox.log](https://github.com/thesofproject/sof/files/2296514/rmbox.log

[2018-08-17 10:13] SinianYang opened #231 "ALSA XRUN happen when playback or capture on each platform"
ALSA XRUN will random happen when playback or capture on APL, BYT, CNL.
This issue will be reproduce with high possibility with BUFFER_SIZE/PERIOD_SIZE=2
But audio functions are not affected by this issue.
This issue need developer to comment.
@xiulipan

[2018-08-17 10:16] lgirdwood commented on #230
@SinianYang this looks like Pulseaudio trying lots of different hw_params() and is expected. Not an error unless all hw_params are rejected, in that case it's a topology bug.

[2018-08-17 10:18] lgirdwood commented on #231
@SinianYang we are missing a whole lot of details here. Logs, commit IDs, command line used in test etc.

[2018-08-17 10:33] lgirdwood commented on #231
@xiulipan I need to rule out if this is FS related as eMMC has high latency. i.e. does playing /dev/zero work ? or capturing to /dev/null ?

[2018-08-17 10:42] xiulipan commented on #180
could be fixed by PR https://github.com/thesofproject/linux/pull/88 and #232

[2018-08-17 10:52] xiulipan commented on #231
@lgirdwood
This issue is here to track later findings.
I think we did not do this test now. Will update the result here later.

[2018-08-17 10:54] xiulipan commented on #230
@lgirdwood
If this is some issues with our `SectionPCMCapabilities` in tplg.
Should we not pass some un-supported in tplg for diver?

[2018-08-17 11:03] xiulipan commented on #180
@lgirdwood
let me make some clarify.
When test on Rander's dev platfom with his build env. We meet some IPC timeout issues on BOOT up tplg load time. But the DSP is not dead since it will recover to receive IPC from HOST to finish other tplg load work and can playback on the succeed pipeline.

With debug, we found that the DSP receive the IPC from host, but did not handle it ontime.
After add log

[2018-08-17 11:06] SinianYang commented on #230
@lgirdwood  If I turn off Pulseaudio, there is no ipc error. Once I run pulseaudio --start, ipc error occurs. And paplay, parecord can't work normally.

[2018-08-17 11:32] xiulipan commented on #210
After apply #232 and https://github.com/thesofproject/linux/pull/88
The reproduce bug will not be influence by the #180.

After enable TRAVEV and TRACEM, on APL, bootup will failed with some tplg ipc timeout. But the DSP is not dead since DMA TRACE is continue on later.

This should be the same issue faced with @RanderWang in #180

[2018-08-17 13:32] lgirdwood commented on #180
@xiulipan two changes can be made

1) can you add a check prior to waiti that checks the INTENABLE register against a mask of known and active interrupts for that platform. if INTENABLE  & mask == 0 then we will never wake up. i.e. platform mask would always have IPC IRQ enabled, plus any active timers, plus any DMA. This check should return immediately (and trace once) if no active IRQ sources ar

[2018-08-18 14:10] pratik0509 commented on #25
@lgirdwood Sorry missed the mail before. I'll get to it asap :)

[2018-08-20 04:45] xiulipan commented on #180
@lgirdwood
1. Will try with the INTENABLE reg dump
2. Do you mean we should disable all irq in  `ipc_process_msg_queue();`?
But in some ipc handler function, such as stop/pause. We have some wait for complete function that shares the same wait function. What should we do to these functions, to enable only DMA level irq with the right MASK?

[2018-08-20 07:39] lgirdwood commented on #180
@xiulipan , no I mean keep the IPC IRQ disabled until we enter WFIl

[2018-08-20 08:28] RanderWang commented on #180
cnl is fixed by https://github.com/thesofproject/sof/pull/235
apl is fixed by https://github.com/thesofproject/sof/pull/234

But there is another issue on apl with this PR. We will go on working on it.

[2018-08-20 08:33] lgirdwood commented on #180
@RanderWang ok, but my comment #2 still needs fixed as it's a race.

[2018-08-20 08:34] RanderWang commented on #209
The behavior of this issue is the same as https://github.com/thesofproject/sof/issues/180 with my commit.
So lets fix it together.

[2018-08-20 08:47] xiulipan commented on #180
@lgirdwood
Dmesg：
Failed to new a dai comp:

Confirmed from the trace log

So I think we need to both disable IPC irq after WFI.

[2018-08-20 10:14] lgirdwood commented on #180
@xiulipan I'm not following your last statement.  I mean something like this

`diff --git a/src/ipc/apl-ipc.c b/src/ipc/apl-ipc.c
index 233d527b..0be00b0d 100644
--- a/src/ipc/apl-ipc.c
+++ b/src/ipc/apl-ipc.c
@@ -130,9 +130,6 @@ done:
        /* write 1 to clear busy, and trigger interrupt to host*/
        ipc_write(IPC_DIPCT, ipc_read(IPC_DIPCT) |IPC_DIPCT_BUSY );

-       /* unmask Busy interr

[2018-08-20 10:33] xiulipan commented on #180
@lgirdwood
Last comment is some log that confirmed that we will have some IPC IRQ outside the WFI.

I will try this patch to see if it could work.
So we do not mask Interrupt here now? But to disable the IPC IRQ come into DSP?

[2018-08-20 11:12] lgirdwood commented on #180
@xiulipan the intention here is that the IPC IRQ is masked until we enter WFI, meaning we catch all IPC IRQ. The current code has a race if a new IPC happens after the previous one is processed but before we enter WFI (i.e. IPC IRQ occurs but it is not processed until after WFI).

[2018-08-21 01:26] SinianYang commented on #231
@lgirdwood
There is no xrun when playing /dev/zero or capturing to /dev/null. But if I play /dev/zero and capture /dev/null at the same time, both overrun and underrun occur.

[2018-08-21 06:35] xiulipan commented on #180
@lgirdwood
**Confirmed** the race with trace log above.

New issues with TRACEV enable

It seems the `ipc IRQ` is happening not inside the `arch_wait_for_interrupt(level);` but in the `tracev_event`
If that means we should not have a log before WAITI, otherwise we may not wait what we expect.
[code]

[2018-08-21 07:31] RanderWang commented on #180
I have another bug with this patch. I am debugging it.

[   47.495727] sof-audio sof-audio: ipc rx done: 0x600a0000
[   47.495766] sof-audio sof-audio: ipc rx: 0x900a0000
[   47.495770] sof-audio sof-audio: error: unhandled trace message a0000
[   47.495924] sof-audio sof-audio: pcm: free stream 0 dir 0
[   47.496162] sof-audio sof-audio: ipc rx done: 0x900a0000
[   47.496188] sof-audio sof-audio:

[2018-08-21 07:55] RanderWang commented on #180
the bug disappears after I  clean and rebase my kernel code. So it is not a bug.

[2018-08-21 07:59] RanderWang commented on #180
@lgirdwood
I reviewed your patch. Do we need to check whether the IPC interrupt has been masked then do unmask? just like
if(masked IPC busy bit)
  umask IPC busy bit

[2018-08-21 08:32] RanderWang commented on #180
sorry, make a mistake

[2018-08-21 08:38] xiulipan opened #238 "IPC IRQ may be handled outside wait_for_interrupt"
In the src/tasks/audio.c

[code]

`wait_for_interrupt` expect an interrupt and then `ipc_process_msg_queue` can process the IPC.
But if IPC interrupt is handled in other place, eg(in `schedule`), and we may have to wait for another interrupt to make the `ipc_process_msg_queue` go. This will cause the IPC timeout from HOST dmesg.

This should be the root cause of #209
And new issue of #180

[2018-08-21 08:39] xiulipan commented on #180
@lgirdwood
I will create a new issue to track this new issue #238

[2018-08-21 08:47] keqiaozhang commented on #215
I modified the topology to support 2ch or 4ch on SSP2, both of them can get clear sound without such noise, this issue only happens with 8ch capture.

[2018-08-21 09:10] zhigang-wu commented on #215
@keqiaozhang
you can do a test to confirm one point: whether the 8-channel volume component has problem.
Do the loopback on the UP^2 on tdm8 mode. to make sure the captured result is OK or not.

[2018-08-21 09:18] xiulipan commented on #238
@lgirdwood
Test with some flags, it will make the DSP busy with handling the endless IRQ. The flags will not disable the IRQ, DSP could not control when the IRQ comes. A flag will not fix this issue
@RanderWang
We may need to mask the interrupt rather then clear or check it. This may solve the problem caused by register clean limitation.

[2018-08-21 09:50] lgirdwood commented on #238
@xiulipan yes IRQ will need masked. You could alter like wait_for_interrupt(level, irq_unmask), that way wfi would unmask the IRQ prior to entering WFI.

[2018-08-22 04:09] pratik0509 commented on #25
@lgirdwood I looked up for Xtensa ISA exception registers and went through the C format in ipc.h and some of the oops messages. What I understood till now is:
Building a tool which helps in debugging the code. The tool will parse the oops messages and try to link it with the function call or line of code which was responsible for it and generate a Trace Stack(if possible).
Sorry if it sounds dumb,

[2018-08-22 06:37] keqiaozhang commented on #191
This feature is supported in sof master.
PR: /thesofproject/sof/pull/243

[2018-08-22 06:37] #191 closed

[2018-08-22 08:09] keqiaozhang commented on #182
This issue still can be reproduced during our test, the reproducibility is about 5%, reopen this bug to track this issue.

[2018-08-22 10:35] lgirdwood commented on #25
@pratik0509 so we want to take the register dump and stack trace addresses and lookup the symbols for those addresses in the firmware disassembly text file (*.dis). i.e. the inputs to the script would be a kernel dmesg and a firmware disassembly file. The outputs would be the call trace (from the stack dump) and the function that each EPC register pointed too.

[2018-08-22 10:38] ZhendanYang opened #247 "Volume issue when recording via dirana."
Summary:
I captured several .wav files using arecord -c 2 via dirana, I spoke at a similar volume everytime, but sometimes the recorded sound's volume can be too low to hear clearly.
Here are the .wav files:
[test.wav.zip](https://github.com/thesofproject/sof/files/2309904/test.wav.zip)

Reproduce step:
1.arecord -D hw:0,1 -c 2 -r 48000 -f s32_le test.wav -vv -i
2.repeat step 1 for several times

[2018-08-22 10:38] lgirdwood commented on #25
@pratik0509 it's maybe worth while installing Docker and building some firmware images using Docker container. See sof.git/scripts/README.docker. This will give you the disassembly files and firmware binaries. The next step would be to take some dmesg files from github SOF issues tracker and use both dmesg and disassembly file to test your scipt. Please note that you will need to build the firmwar

[2018-08-23 20:58] plbossart opened #257 "rimage: strcpy possible buffer overflow"
This code in pkcs1_5.c is flagged by Coverity as problematic
[code]
CID 313456 (#1 of 1): Copy into fixed size buffer (STRING_OVERFLOW)
3. fixed_size_dest: You might overrun the 256-character fixed-size string path by copying image->key_name without checking the length.
   	4. parameter_as_source: Note: This defect has an elevated risk because the source argument is a parameter of the current func

[2018-08-23 21:02] plbossart opened #258 "rimage: insecure data handling"
Coverity reports the following issue

[code]

313455 Untrusted value as argument
The argument could be controlled by an attacker, who could invoke the function with arbitrary values (for example, a very high or negative buffer size).

In elf_read_sections: An unscrutinized value from an untrusted source used as argument to a function (for example, a buffer size) (CWE-20)

[2018-08-24 03:16] xiulipan commented on #257
@plbossart i will thake #257 and #258.
If Covertiy is some new scan? and how could I re-run to check if this could solve the problem.

[2018-08-24 03:50] xiulipan commented on #238
@lgirdwood
Let me explain the similar situation of IPC/IPC process and DMA/pipeline schedule copy.

[code]

If one DMA IRQ is handled outside WFI, then WFI won't exit and can not go into function `schedule()`.
So the scheduled pipeline copy task can not be executed until next IRQ comes. As the pipeline copy has more strict timeline request there may be some xrun for the dai.

[2018-08-24 08:03] lgirdwood commented on #238
@xiulipan DMA DAI IRQ calls schedule() directly to schedule all pipeline work, so it's guranteed to always run. The difference with IPC is that we currently delay the processing to this loop (by using a flag), but that can race. The solution is to schedule_idle() the IPC work as a task that should be executed when next idle.

[2018-08-24 08:27] xiulipan commented on #238
@lgirdwood
Sorry about the mistake, I find I misread the code.
Yes the DMA IRQ is not like the IPC IRQ.

But waht if the WFI did not got another IRQ intime, and wait to the IPC timeout?

I think we can jump this waiti if we have unhandled IPC message.

[2018-08-24 09:38] RanderWang commented on #210
I also debug this issue. Now after thousand cycles of pause-resume, the DSP is no response to host and IPC timeout. I found that the DSP hang when resumed from paused status.

[2018-08-24 10:56] lgirdwood commented on #210
@RanderWang resuming during pause state is a different and new issue. Could be that the driver has not restored context correctly.

IPC race with BUSY bit has been identified on APL and CNL and @xiulipan is doing PR.

[2018-08-24 10:57] jajanusz commented on #228
I can do that, but I have already other tasks assigned, so idk if I'll be able to do it before 1.3 release date (Oct 1st).

[2018-08-24 11:26] lgirdwood commented on #228
@jajanusz great, we should also create a config for each platform too.

[2018-08-27 05:40] ZhendanYang opened #263 "Failed to load sof on UP^2 with GLK-003-drop branch"
Summary:
Failed to load sof on UP^2 with GLK-003-drop branch.

Environment:
on up^2 using gcc/xcc
sof: glk-003-drop-stable 3093cf65872eb30c32a621b87be76b39c820e6ce
soft: master 41861aac373eb1f6978bfdb0bbe97cd882b1785a
sof-dev: 7481f7af7ac711504ae52fa9ae5cb5c3322ea91f
tplg: sof-apl-nocodec.tplg
Log:
[dmesg-263.log](https://github.com/thesofproject/sof/files/2326209/dmesg-263.log)
[rmbox-t-263.log](

[2018-08-27 07:01] xiulipan commented on #238
@lgirdwood
I have a patch that enable the schedule_idle solution. But it seems there still be the similar error.

If some IPC IRQ happens before WFI and schedule a task, then WFI will wait for some IRQ to exit the WFI. Then `schedule()` will schedule the idle task, but the IPC process will timeout at that time.

I think we may need some timer work like the DMA_TRACE to set some timer IRQ for the I

[2018-08-27 08:15] ZhendanYang commented on #180
I tested this issue on BYT on latest code base.
Here are some findings:
reproduce steps:
1. aplay -D hw:0,0 -c 2 -r 48000 -f s16_le /dev/zero --period-size=192 --buffer-size=384 & arecord -D hw:0,0 -f s16_le -c 2 -r 48000 /dev/null -i -vv --period-size=192 --buffer-size=384
2. press space key until input/output error occurs
simultaneous playback and capture will cause Input/output error, after err

[2018-08-27 10:47] lgirdwood commented on #263
dmesg shows SOF has loaded ? Playback working too.

[2018-08-27 10:49] lgirdwood commented on #238
@xiulipan give the task a deadline when you schedule it. It will be scheduled before this deadline.

[2018-08-27 11:25] lgirdwood commented on #180
@ZhendanYang we need to be clear as we have two type of IPC errors.
1) IPC timeout - fatal usually means FW has hung/crashed.
2) IPC error - driver sent IPC request that FW cant handle (normal operation - may not be FW bug, but could be driver or topology issue.).

The last log is caused by the IPC notification coming when ALSA has closed the stream (but it looks liek FW did not get that message).

[2018-08-27 13:34] keyonjie commented on #263
dmesg also shows it loading cnl topology?

[2018-08-28 03:31] xiulipan commented on #180
@lgirdwood
I have checked the BYT dmesg. It seems there are some kernel panic

This seems to be related with position update. I will try to reproduce that on BYT. But this bug seems to be related with kernel.

[2018-08-28 03:36] xiulipan commented on #238
@lgirdwood
I tried to use `schedule_task_idle` with timeout of 100ms. But the test result seems to be no effect.
I found that the deadline won't take effects until the `schedule` function is called.

The problem now is that we can't not exit WFI if some IRQ is handled outside WFI. The task uses software IRQ that could not solve our problem. I am trying to use `work` with timer to have some schedul

[2018-08-28 04:40] keyonjie commented on #263
@ZhendanYang does expanding 256B block number fixing this?

[2018-08-28 05:37] ZhendanYang commented on #263
@keyonjie
Expanding 256B block number from 64 to 128 can fix this issue.

[2018-08-28 05:44] keyonjie commented on #263
@ZhendanYang good to know that, thanks.

[2018-08-28 05:46] keyonjie commented on #263
@ZhendanYang @keqiaozhang can either of you do a patch to fix it and send PR?

[2018-08-28 06:10] keqiaozhang commented on #263
@keyonjie
There's already a patch in sof master, so we need to cherry-pick it to glk-003-drop branch.
Commit ID : thesofproject/sof/commit/fc3ed5eaef4b928cfe08dd6f7f96831638312c72

[2018-08-28 08:02] Jocelyn-Li commented on #263
@mmaka1 can you please apply the patch commit ID : fc3ed5e to this branch?

[2018-08-28 09:01] RanderWang commented on #210
call stack after ipc timeout:

[   52.800377] sof-audio sof-audio: error: ipc timed out for 0x60050000 size 0xc
[   52.800928] sof-audio sof-audio: status: fw entered - code 00000005
[   52.801399] sof-audio sof-audio: error: unexpected fault 0x00000007 trace 0x00004000
[   52.801952] sof-audio sof-audio: error: unknown reason 00000007
[   52.802377] sof-audio sof-audio: error: trace point 0000400

[2018-08-28 09:08] RanderWang commented on #210
EPC1 is in <memcpy>
EPC2 is in  <do_task>
EPC3 is in  <platform_pm_runtime_put>
EPC5 is in <schedule_task_complete>

[2018-08-28 09:47] RanderWang commented on #210
I add trace log in dai_dma_cb or in dw_dma_irq_handler, no ipc timeout.
I also try to  enable tracev to get some hint. But I didn't get ipc timeout with tracev enabled.
So it is difficult for me to get hint by trace log.

[2018-08-28 09:56] RanderWang commented on #210
I also call arch_interrupt_get_enabled to dump interrupt enabled register at failed time and at normal time. Both value are 0x1d8.

[2018-08-28 11:54] #238 closed

[2018-08-29 01:33] RanderWang commented on #210
@lgirdwood  they are included in the kernel panic dump

[2018-08-29 01:33] RanderWang commented on #210
@tlauda  yes, good idea, I will try

[2018-08-29 08:42] RanderWang commented on #210
@lgirdwood  @tlauda  @xiulipan

Hi all,  I work with xiuli find there is a deadloop in schedule function and it is caused by a task is enqueued two times. After fixing this issue, the bug is killed

[2018-08-29 08:59] lgirdwood commented on #210
@RanderWang great work :)

[2018-08-29 09:03] ZhendanYang opened #272 "Stress test : Keeping pause/resume or XRUN injection can causes DSP panic when playback or capture"
Summary:
Keep pressing space key for pause/resume or inject XRUN when playback or capture can cause ipc error, dsp panic, ipc time out.

Repreduce steps:
1. aplay -D hw:0,0 -c 2 -r 48000 -f s16_le music.wav --period-size=192 --buffer-size=384 -vv -i
2. press space key until input/output error
3. dmesg

Environment:
sof-dev : f9c923e5ca9b38df7ddc71f26b55eb2bd1ffed46
sof :
matser branch : f10b52f5e4

[2018-08-29 09:03] ZhendanYang opened #273 "Playback thread be killed immediately after run aplay."
Summary:
playback will be killed immediately after I run "aplay -D hw:0,0 -c 2 -r 48000 -f s16_le music.wav --period-size=192 --buffer-size=384 -vv -i", and we can find ipc time out in dmesg

Reproduce steps:
1. aplay -D hw:0,0 -c 2 -r 48000 -f s16_le music.wav --period-size=192 --buffer-size=384 -vv -i
2. terminal will show "killed" and then dmesg
(It can not easily reproduce on up^2, but more ea

[2018-08-29 09:03] ZhendanYang opened #274 "DSP panic after booting up"
Summary:
DSP panic when baytrail boot up, but this doesn't happen every time. When I disable pulseaudio, this issue disappears. I git revert commit df0d70150ec7c99de128e219e4aef72fc94ec1b9 in sof-master, after that, either I enable or disable pulseaudio, this issue can't be repreduced.

Reproduce steps:
1. boot
2. dmesg

Environment:
on byt
sof-dev : f9c923e5ca9b38df7ddc71f26b55eb2bd1ffed46
sof st

[2018-08-29 09:18] lgirdwood commented on #272
It's a (NULL + 0x40) pointer deref at run level 5, probably in the scheduler.

[2018-08-29 09:26] lgirdwood commented on #273
This looks like two issues.

@zhigang-wu  driver error handling code in sof_pcm_close is deref a NULL pointer probably as part of cleanup.
@RanderWang the FW part could be related to the scheduler. Can we try this with your new fix.

[2018-08-29 09:27] zhigang-wu commented on #273
@lgirdwood
OK, I will move on this to root cause it.

[2018-08-29 09:28] lgirdwood commented on #274
duplicate of #272

[2018-08-29 09:42] xiulipan commented on #272
@lgirdwood
Yes, this panic bugs seems come back.
Since we implement IPC message with scheduler I believe this is related to scheduler.

[2018-08-29 12:02] lgirdwood commented on #272
@xiulipan I've spotted a possible race we need to resolve in scheduler. We need to add a check to make sure we are not appending a task to the list twice. We should check the schedule list for the task and only re append the task if it's not present. Atm we add the task to the list regardless in _schedule_task().

[2018-08-29 23:20] wenqingfu commented on #263
'git branch --contains fc3ed5 ' shows it's been included in glk-003-drop-stable.

I'm confused.

[2018-08-30 03:12] keqiaozhang commented on #263
Yes, this commit it included in glk-003-drop-stable before, but after after some mergers, this patch is missed or changed as before.
I used git blame but failed to get the information for this change.
I also tried git bisect, but lead to a wrong commit.
Anywhere, we need to change the HEAP_RT_COUNT256 to 128 for UP^2. or please Xiuli to send another PR to glk-003-drop-stable branch.

[2018-08-30 04:13] xiulipan commented on #272
@lgirdwood
Yes, this is what @RanderWang and I have found yesterday. But test with the patch seems have no help to this regression.
We also find that `edf_get_next` and reschedule have some problem.

[code]

[2018-08-30 07:04] keqiaozhang opened #276 "Failed to load nocodec tplg on UP^2 with master branch"
Failed to loadsof-apl-nocodec.tplg  on UP^2.  but pcm512 codec tplg can be loaded and audio works well.
Trace log：
0xe30 [0.069816]        delta [0.000028]        dai new
0xe40 [0.069824]        delta [0.000008]        mem eMF
0xe50 [0.069827]        delta [0.000002]        comp eCN
0xe60 [0.069828]        delta [0.000001]        ipc eCn
0xe70 [0.069829]        delta [0.000001]        ipc cn1

Tes

[2018-08-30 07:21] keqiaozhang opened #277 "ipc time out after system S3 on UP^2"
Audio failed to recovery form system S3, it will cause ipc time our error on UP^2 with pcm512 codec tplg.
How to reproduce:
1. aplay -D hw:0,0 -f dat -c 2 audio.wav & sleep 5; echo mem > /sys/power/state
2.  press any keys to wake up
3. audio stopped after S3 and ipc time out error in dmesg

Test config: sof-dev + sof-master + soft-master
sof-dev: bafb590
sof-master: 9944905
soft-master: 41861aa
T

[2018-08-30 08:03] zhigang-wu commented on #273
the kernel panic's root cause is found:
1. when the DSP firmware has problems: ipc timeout, it will stop the sof' resume process.
    then the pointer of substream->runtime->private_data will not be allocated.
2. because of the resume process stopped, the suspend operation will start.
    the suspend process will enter the hda_dsp_pcm_close() function to access this NULL pointer.
    the kernel pa

[2018-08-30 08:47] keqiaozhang opened #278 "Firmware oops when pulseaudio is enabled"
Pulseaudio will cause firmware oops on CNL and BYT
[dmesg.log](https://github.com/thesofproject/sof/files/2335366/dmesg.log)
[rmbox-t.log](https://github.com/thesofproject/sof/files/2335368/rmbox-t.log)

How to reproduce:
1.  make sure pulseaduio is enable(ls /usr/bin/pulseaudio)
2. check the dmesg after system is booted.

[2018-08-30 08:48] xiulipan commented on #272
@lgirdwood

Use XCC we get some panic that seems we have idle for too long time.

[code]

I think we may hint this bug because we are not in WFI of the `src/tasks/audio.c` But in `wait_for_completion_timeout(&dd->complete);` in `dai_comp_trigger`.

[2018-08-30 09:08] lgirdwood commented on #228
@jajanusz @ mmaka1 pre-packed that we could use. Can also be used on Windows.

http://ymorin.is-a-geek.org/projects/kconfig-frontends

[2018-08-30 09:11] lgirdwood commented on #276
@ZhendanYang master bugs are P3 atm as it's in development. stable-1.2 bugs have priority.

[2018-08-30 09:26] lgirdwood commented on #273
@zhigang-wu lets check this is suspend process, if its NULL then we just return an error and dont suspend.

[2018-08-30 09:27] jajanusz opened #280 "UT don't work after master merge"
After merge UT build fails, I'll fix it

[2018-08-30 09:31] lgirdwood commented on #274
duplicate of #210

[2018-08-30 09:31] lgirdwood commented on #278
duplicate of #210

[2018-08-30 10:13] lgirdwood commented on #272
@xiulipan scheduler runs at highest IRQ level, so it cant be preempted by dai_trigger(). It can schedule dai_trigger() to be run, but at a lower IRQ level.

Can you try the following.
[code]

can you also change the scheduler error trace to use trace_error() too.

[code]
The NULL pointer deref is always at offset 0x40. What happens if you add some padding uint32_t to the start of the scheduler and

[2018-08-30 11:12] jajanusz commented on #280
@slawblauciak
Can you fix alloc tests after https://github.com/thesofproject/sof/pull/281 is merged?

[2018-08-30 11:13] singalsu opened #282 "Host platform build fails"
The x86 compiled libraries and testbench binary are used by component tests in SOFT/test. The host build fails after next branch merge to master.

The host build is done with
[code]
The first error is
[code]

[2018-08-30 11:19] singalsu commented on #282
@jajanusz This may have some common with your reported issue with UT.

[2018-08-30 11:32] xiulipan commented on #210
@lgirdwood

yes, the list is broken since we try to append one list item twice into the list. But the list item shares the same **next** and **prev** pointer, which make the list to be a chaos. This is what you have mentioned in #272

For the list item del

Actually we will remove the task as the task is complete.
[code]
And this is called in
[code]
from `arch_run_task`

[2018-08-30 11:35] lgirdwood commented on #282
@singalsu easy fix, can you define this for host build as sizeof(uint32_t)

[2018-08-30 11:37] lgirdwood commented on #272
@xiulipan agreed, workq may have the error instead or alongside the scheduler.

[2018-08-30 11:49] lgirdwood commented on #272
@xiulipan please also add locking around this list too
[code]
This list iterator can be preemptied by the scheduler.

[2018-08-30 11:52] xiulipan commented on #272
@lgirdwood
I have tried to lock this and make all thing related atomic, but seems there are several bugs that cause the final result. I have take notes and will try this. Thanks for reminding.

[2018-08-30 11:57] singalsu commented on #282
@lgirdwood Adding that to src/arch/host/include/arch/sof.h seems to work. I'll continue with next fixes and see if I can get this built...

[2018-08-30 13:00] lgirdwood commented on #272
@xiulipan thanks, btw - please dont wait to send all patches as one PR. i.e. patch for locking irq list is a bug fix so should be sent asap in it's own PR to allow testing.

[2018-08-30 13:05] singalsu commented on #282
Yep, I can compile it now. I'll clean up the work make a pull request.

[2018-08-30 13:48] singalsu commented on #282
Fix proposal is in PR #283 .

[2018-08-30 14:17] tlauda commented on #272
@lgirdwood @xiulipan If we want to lock this list, then you need to rewrite the whole scheduling process. Right now locking the list potentially will block scheduling of the task with the same priority, if the interrupt will be set during task execution.

[2018-08-30 15:06] lgirdwood commented on #272
@tlauda @xiulipan @RanderWang  I was thinking locking like this

[code]

This was the list is always locked but the task runs without holding the lock.

[2018-08-31 03:04] xiulipan commented on #272
@lgirdwood
I am still testing. I am not sure if this is a fix or not. I am afraid we will involve new regression.
Will send feedback ASAP.

[2018-08-31 05:35] mengdonglin commented on #280
Set the milestone to "TBD"

[2018-08-31 05:58] jajanusz commented on #280
There are only just alloc tests giving error - they don't even fail, they just crash with message:
[code]
So I guess the problem is not with the tests and may go away when we solve memory problems.

[2018-08-31 07:34] lgirdwood commented on #272
@xiulipan Can you check task->state prior to running task->func and also set task->state prior to deleteing from list

[code]

[2018-08-31 07:34] xiulipan commented on #272
Here I am not sure if we complete first IPC process. Because the second IPC process comes in from the
`wait_for_completion_timeout`

[code]

From the trace **dai tsw** is called and the paired **dai tsc** is called ever after another IPC with released comes.

0xab960 [34.172782]     delta [0.000794]        ipc IRQ
0xab970 [34.172783]     delta [0.000002]        ipc Nms
0xab980 [34.172787]     delt

[2018-08-31 07:35] xiulipan commented on #272
@lgirdwood
I think we need some check to make sure above situation will not happen.

[2018-08-31 07:36] lgirdwood commented on #272
@xiulipan please do

[code]

This immediatley removes the task from the list after the func() now.

[2018-08-31 07:43] lgirdwood commented on #272
@xiulipan can you modify above to remove task from list before we call task->func()

[2018-08-31 07:44] lgirdwood commented on #272
@xiulipan  i.e.
[code]

[2018-08-31 07:45] xiulipan commented on #272
@lgirdwood
I will try to fix this bug, since I am now root caused the risk situation.
I thing remove it first may have some help. I will have some test and try to send the PR.

[2018-08-31 07:55] xiulipan opened #286 "work_reschedule_default could not accept too small timeout"
If the timeout is too small we will get some too small delta for the queue timeout.
EG.
if we call
`work_reschedule_default(&trace_data->dmat_work,  DMA_TRACE_RESCHEDULE_TIME);`
at 1000us.
The DMA_TRACE_RESCHEDULE_TIME is now 5us. and the `dmat_work->timeout` is 1005us.
Then in the queue_get_next_timeout
[code]
Then the IRQ will comes at 1050 us and we have some window in `is_work_pending`, then t

[2018-08-31 07:56] xiulipan commented on #286
Need to exceed DMA_TRACE_RESCHEDULE_TIME to workaround this bug now.

[2018-08-31 08:10] xiulipan commented on #272
@lgirdwood
Test with the patches above.
The first IPC send to the DSP is timeout.

[2018-08-31 08:28] mengdonglin commented on #247
Close this issue since this platform is no longer support. We'll use other platform to cover capture.

[2018-08-31 08:28] #247 closed

[2018-08-31 08:32] mengdonglin commented on #230
We only have 1 CNL RVP used by validation team. Drop this when we have new GLV board?

[2018-08-31 08:36] mengdonglin commented on #230
Close this bug since we no longer support ALC274 codec but use no codec mode to test CNL platform.

[2018-08-31 08:36] #230 closed

[2018-08-31 08:59] jajanusz commented on #282
Still fails for me after #283  because of 'uninitialized' char pointers warnings in gcc version 5.4.0, what versions do we support?

[2018-08-31 09:09] lgirdwood commented on #282
@jajanusz gcc 5.x is deprecated, we are all using gcc 7.x or 8.x. i.e. Ubuntu ships with 7.3 now. Can you paste the build errors.
@singalsu which version of gcc do you have, I guess you don't see this ?

[2018-08-31 09:38] jajanusz commented on #282
@lgirdwood
Error is:
[code]
It just complains that char pointers are unintialized while it doesn't matter cos strkok_r will initialize them. I tested with gcc 7.3 and it also showed that error

[2018-08-31 09:53] lgirdwood commented on #282
@jajanusz great thanks !

[2018-08-31 09:53] #282 closed

[2018-08-31 09:55] RanderWang commented on #210
@lgirdwood @tlauda  @xiulipan

Hi all,  I don't think the deadloop is the root reason of this bug. It is a issue but never happen in normal case. It is caused by my change. I scheduled the pipe after ipc timeout.

I add many logs and confirm it is still caused by dai interrupt missing. I tuned my test case and made the IPC timeout at a fix point. The following is the fixed log.

0x0 [3.111575]	del

[2018-08-31 11:45] lgirdwood commented on #210
@RanderWang Scheduler, workQ and DMA are all level 5 interrupts, meaning they cannot pre-empt each other. e.g if scheduler is running then DMA IRQ will not get services until scheduler IRQ completes. Please align with @xiulipan and mkae sure you also have latest scheduler & task testing updates.

[2018-08-31 12:30] RanderWang commented on #210
@lgirdwood  but IRQ_task run on lower level than dma interrupt ?  I also check the SSP setting when IPC timeout. all the ssp registers are correct. And I check the output of I2S pin, both bit clock and sync clock are
correct. And ssp is also a level 5 interrupt. If I set sss register to test ssp interrupt when ipc timeout, dma interrupt is triggered every 2us. So I don't know why so many dma inter

[2018-08-31 13:03] lgirdwood commented on #210
@RanderWang  irq_task can run at multiple levels and is platform dependent. If the IRQ task priority < scheduler/workQ then it can be preempted. If you are seeing DMA irqs every 2us then the DMA irq is not being cleared. Please update with @xiulipan as there is a race that causes list corruption, leading to potential execution of random code (and hence you may never clear DMA IRQ).

[2018-09-01 10:08] jajanusz opened #291 "Cmocka unit tests for all platforms"
I made cmocka fork that enables us to build cmocka for any compiler and platform that supports stdlib, you can read how to build here: https://github.com/jajanusz/cmocka/blob/master/README.md#compiling-for-embedded

I tested it with xtensa compiler, it works for all platforms - apl, cnl, etc
However our baytrail toolchain is missing std lib that is essential for cmocka, but if we will have richer

[2018-09-01 15:09] mmaka1 commented on #263
glk-003 is for glk fixes only atm

[2018-09-03 02:33] ZhendanYang commented on #274
DSP panic can also happen after booting on APL using glk-003 branch sof, either I enable or disable pulseaudio. But kernel panic can happen only after booting when pulseaudio is enabled.
sof : glk-003-drop-stable 0ead9e762b36b87cd59afe44e90f912978a79fad
kernel : bafb59032343459cc4019cb65e515595451357e7
soft : d40087fdd4ecaf0329059ef63527e3d4664b2d59
log:
[dmesg-bootpanic.log](https://github.com/th

[2018-09-03 07:10] RanderWang commented on #210
@lgirdwood  @tlauda
fix by https://github.com/thesofproject/sof/pull/292

[2018-09-03 07:23] keqiaozhang opened #293 "IPC timed out after system is booted on BYT with sof master branch"
Failed to load tplg and ipc time out. Trace log is not available.
Test config: sof-dev + sof-master + soft-master
sof-dev: bafb590
sof-master: 9944905
soft-master: 41861aa
tplg name: test-ssp2-mclk-0-I2S-volume-s16le-s16le-48k-19200k-codec.tplg

[dmesg-byt.log](https://github.com/thesofproject/sof/files/2344565/dmesg-byt.log)

[2018-09-03 07:38] ZhendanYang opened #295 "DSP panic when simultaneously playback and capture"
Summary：playback and capture at the same time will lead to DSP panic. This issue exists on APL, BYT and CNL, and this exists on sof master, stable 1.2 glk-003 branch.
sof :

Reproduce steps:
aplay -D hw:0,0 -c 2 -r 48000 -f s16_le /dev/zero --period-size=192 --buffer-size=384 & arecord -D hw:0,6 -c 2 -r 48000 -f s32_le /dev/null --period-size=192 --buffer-size=384 -vv -i

Environment；
master: 9d55

[2018-09-03 07:44] xiulipan commented on #272
#292 will fix unhanded IPC issues part that caused by the list chaos.
Also need the arch task refine to avoid run same IPC process twice.
[code]

[2018-09-03 07:56] jajanusz commented on #293
Commit https://github.com/thesofproject/sof/commit/9d552d532bb9f57c05a9dae0944057b2aaf0ec9b didn't touch BYT at all.

Please check if it worked after and before this one - https://github.com/thesofproject/sof/commit/35ed394a26a4ec70bc3b47970c7f9c00a57d113b

[2018-09-03 08:09] keqiaozhang commented on #293
@jajanusz
This regression is not introduced by your commit 9d552d5.
This issue happened several days ago after next branch merged into master.

[2018-09-03 08:12] xiulipan commented on #272
The noise will recover at another **dai xru**

[2018-09-03 08:13] xiulipan commented on #272
Pretty sure is caused by xrun recovery pointer chaos.

[2018-09-03 08:27] xiulipan commented on #272
part patch about arch task #298

[2018-09-03 08:37] jajanusz commented on #293
Actually there is one thing that I'm not sure if is ok for baytrail (because I couldn't test it) - it's feature mask in rimage - https://github.com/thesofproject/sof/pull/290/commits/a53d982e1675238cce9db2ced6b8c00873799879
So after you'll be sure that you resolved all issues related to master&next merge, that's the only thing that changed for baytrail.

[2018-09-03 08:47] keqiaozhang commented on #293
I just tested it with 35ed39 (before a53d982) and this issue still can be reproduced. so this issue may not related to your changes. I will try to bisect tomorrow.

[2018-09-03 10:54] jajanusz commented on #291
@lgirdwood I'd like to update the wiki about unit tests - will you move our custom cmocka somewhere else or can I use my link eveywhere?

[2018-09-03 13:47] lgirdwood commented on #291
@jajanusz please adds the cmocka examples and docs to sof-docs. I've also added xtensa-newlib to github that we can use as our C library for tests. @xiulipan will be able to help adding newlib and cmocka testing as part of Docker CI when he is free.

[2018-09-03 14:30] lgirdwood commented on #295
@ZhendanYang please check if this is duplicate before logging. The scheduler list corruption can cause lots of different looking bugs but they all share similarities i.e.

EXCCAUSE 0x0000000d (always true)
EXCVADDR 0x00000040 (always < 0x100)
PS       0x00070025 (last digit is always 5).

Please do not log any other issues with the above characteristics until speaking with @RanderWang and @xiulipa

[2018-09-03 14:34] lgirdwood commented on #293
@keqiaozhang pleas provide rmbox output too, this could be related to the list corruption which should be fixed tomorrow.

[2018-09-04 01:30] keqiaozhang commented on #293
Bisection failed, because there're plenty of commits are unable to build.
@lgirdwood rmbox is not available after system is booted. Like shown below:
zql@zql-MB-T:~$ sudo rmbox -t
using 19.20MHz timestamp clock

[2018-09-04 02:56] keqiaozhang commented on #293
@lgirdwood
Checked with the latest code base, this issue is still there.
sof-master:4c0b1d4

[2018-09-04 09:26] lgirdwood commented on #293
@keqiaozhang I mean rmbox without the -t

[2018-09-04 13:19] singalsu commented on #222
I have gcc version 7.3.0 so I can start with this.

[2018-09-04 13:26] singalsu commented on #182
I don't have a 4ch output device. But I think I can add a level meter code with trace for each channel after volume and see if I can reproduce this with some nocodec topology.

[2018-09-05 00:59] keqiaozhang commented on #293
@lgirdwood
Same result, there's no error log output.
zql@zql-MB-T:~$ sudo rmbox

Error log:
using 19.20MHz timestamp clock

[2018-09-05 07:41] ZhendanYang opened #307 "ipc error for GLB_STREAM_MSG: PCM_PARAMS when playback on BYT"
Summary:
Playback can't work and ipc error is found in dmesg.

[   70.544029] sof-audio sof-audio: ipc tx: 0x60010000: GLB_STREAM_MSG: PCM_PARAMS
[   70.544377] sof-audio sof-audio: error: ipc error for 0x60010000 size 0x14
[   70.544394] sof-audio sof-audio: ASoC: sof-audio hw params failed: -22
[   70.544401] sof-audio sof-audio: pcm: free stream 0 dir 0

0x0 [62.187105]	delta [62.187105]	host e

[2018-09-05 11:53] RanderWang commented on #272
@lgirdwood  @xiulipan
xiuli has sent a report to describe the strange bug, and I update my finding for I suddently got a clear picture on my way home.

The kernel panic is caused by IPC schedule change. It is a exception in FW at
ipc_cmd
     dai_comp_trigger
     {
        case PAUSE:
         inline wait_for_complete()
        {
                 ....
                register a4(store the correct

[2018-09-05 11:58] tlauda commented on #272
@RanderWang @xiulipan @lgirdwood
IPC's are no longer executed on passive level, so arch_wait_for_interrupt(0) lowers IPC task level to 0 and other tasks are triggering task execution irq level and causing stack overflow. PR #284 should fix this issue, but I think it indicates that the scheduler has still problem with locking task list.

[2018-09-05 12:08] RanderWang commented on #272
It is a strange behavior!  I dumped all the a0 - a15 before and after wait_interrupt() and have interesting finding. many registers are changed, and two special register are useful,  one is return address register a0, another is a data register a7.

           a0 = correct return address of dai_comp_trigger

           a7 = correct data for this function

            wait_for_interrupt(0)

[2018-09-05 12:11] RanderWang commented on #272
@tlauda  @lgirdwood @xiulipan

hi Tomasz,  xiuli has tried your patch, still kernel panic

[2018-09-05 12:45] lgirdwood commented on #272
@tlauda sounds like we need a check in WFI that returns an error if run level is not 0
@ZhendanYang can you please check PR #284, we need this checked before merging.

[2018-09-05 13:02] lgirdwood commented on #272
@RanderWang @xiulipan  Please try the following patch and fix any subsequent panics.
[code]

[2018-09-05 13:06] lgirdwood commented on #272
@xiulipan @RanderWang @tlauda  here is the user list for WFI
[code]

[2018-09-06 08:06] xiulipan commented on #272
@lgirdwood

- To fix waiti bugs. we need

#284 #314

- For list item,
 1. we may need some unification about how to refine the list_item_del. We may need to init every item at each del. #303 or #300
2.  #313 for some potential bugs.

- WFI check patch set
#315 https://github.com/thesofproject/linux/pull/108

With all these patches now the #272 and #210 should all be fixed.
But now have some xrun i

[2018-09-06 13:48] lgirdwood commented on #272
@cujomalainey patches above now being merged, should be fully validated next week.

[2018-09-07 08:31] ZhendanYang commented on #274
DSP panic will occur after boot on BYT either enable or disable pulseaudio using stable 1.2 branch.
This can be a blocker since I can't re-test issue #180 , #210 , #272 .

[2018-09-07 08:35] lgirdwood commented on #274
@ZhendanYang this is the wait state error code.  @xiulipan are we missing any patches ?

[2018-09-07 08:41] xiulipan commented on #274
@lgirdwood
Did not test with BYT. Need to test with it. I think we may miss some WFI for the BYT.

[2018-09-07 08:43] RanderWang commented on #274
@xiulipan  @lgirdwood  yes, this case is different with APL. The EPCx is different with APL.

[2018-09-07 08:53] ZhendanYang commented on #272
This issue can't be reproduced on APL and CNL with stable-1.2 branch(commit 251e68f291853e3c22ce617f23f94c01231268db), need to test on BYT before close this issue.

[2018-09-07 08:53] ZhendanYang commented on #180
This issue can't be reproduced on APL and CNL with stable-1.2 branch(commit 251e68f291853e3c22ce617f23f94c01231268db), need to test on BYT before close this issue.

[2018-09-07 08:53] RanderWang commented on #274
@xiulipan @lgirdwood  no such issue on bdw

[2018-09-07 08:54] lgirdwood commented on #274
@xiulipan ipc-pmc.c on BYT

[2018-09-07 08:56] ZhendanYang commented on #210
This issue can't be reproduced on APL and CNL with stable-1.2 branch(commit 251e68f291853e3c22ce617f23f94c01231268db).

[2018-09-07 09:03] xiulipan commented on #274
@lgirdwood @RanderWang
We need a clean up for all platforms and have a test for this.
Add SOF_IPC_PANIC_WFI is a very good idea to help debug this kind of bug.

[2018-09-07 10:07] singalsu commented on #222
@lgirdwood I will introduce a PR that enforces -Wimplicit-fallthrough=3 for SOF rimage and host builds. I assume there's no GCC7 for xtensa available so I'll not change it yet. There was one fix need for rimage (add comment that's sufficient for level 3 check.)

[2018-09-07 10:26] singalsu commented on #222
This is addressed by PR #323

[2018-09-07 14:11] singalsu opened #327 "DMIC capture accepts 4ch recording but gives corrupted audio when configured for 2ch"
The number of channels (used PDM stereo controllers count) is defined in topology parameters. Now the capture runs but results corrupted audio. Example of this kind of violation is to use topology sof-apl-nocodec.tplg or sof-apl-da7219.m4 and run capture like:

time arecord -Dhw:0,6 -c 4 -f S32_LE -r 48000 -d10 tmp.wav --dump-hw-params

The time print shows that such capture will take 20s instead

[2018-09-07 14:43] lgirdwood commented on #327
@singalsu ok so dmic driver should reject channels if not supported by topology. Host driver does not have internal pipeline logic to do this rejection.

[2018-09-07 15:04] singalsu opened #328 "EQ settings fail to persist in idle due to suspend/resume"
The kernel and firmware have been just updated with EQ feature enabling. The topology and binary tool for EQ configuration will be later up-streamed with SOFT.

The DSP suspend-resume cycle currently erases the filter coefficients configuration that has been previously sent from user space to DSP via ASoC ext bytes put feature. Without configuration the EQ switches to bypass configuration. The iss

[2018-09-07 15:15] singalsu opened #329 "DMIC capture with 2ch when configured for 4ch gives corrupt audio"
The captured audio sounds like 1/2x speed due to capturing all four microphones but formatting the output as 2ch.

The DMIC FW driver should get the actual capture channels count from DAI and disable for the capture session the non-used PDM controllers for excess channels.

The driver can do only best effort, e.g. capture from microphones 0 and 1 for 2ch capture. It does not currently have informa

[2018-09-07 21:15] lgirdwood commented on #328
This needs to be cached and @ranj063 has already created infrastructure to do this. Lets add a generic cache for each binary kcontrol.

[2018-09-07 21:53] ranj063 commented on #328
@lgirdwood I will fix the issue with caching the byte controls data for the EQ.

[2018-09-07 21:54] cujomalainey opened #331 "Noise in channels on GLK"
I'm seeing a lot of noise in GLK  occasionally in channels, sometimes the noise is only for a split second at the beginning sometimes it continues. This is at the top of stable-1.2 and it doesn't appear to matter what pipeline I use to trigger the issue (i.e. headphones and speakers are both reproducible.)

To verify I used speaker-test to generate a sine wave at 440Hz and used my phone to verify.

[2018-09-07 22:17] cujomalainey commented on #331
This may or may not be related, but I am seeing the firmware boot after every time I run speaker-test.

[code]

[2018-09-07 22:30] ranj063 commented on #331
@cujomalainey Could you please give the glk-0003-drop-stable branch a try? I had similar issues with playback which has been fixed by PR#326.

[2018-09-07 22:43] ranj063 commented on #331
@cujomalainey the firmware boot that you are seeing is likely because runtime_pm is enabled and the DSP is going in and out of D3

[2018-09-07 22:56] cujomalainey commented on #331
@ranj063 yep I cannot reproduce it on that branch and if I checkout before the merge I always get noise. I tried cherry-picking over the change but it wasn't merging nicely so I left it for now.

Ah that explains it, and I verified by disabling runtime_pm. So many new features since I last time I looked at this project last year.

Thanks @ranj063

[2018-09-07 22:56] #331 closed

[2018-09-09 02:17] bardliao commented on #293
schedule_task_init and schedule_task_config are missing in byt-ipc.c.
Please try the patch below.

[0001-ipc-add-missing-schedule_task_init-config.patch.txt](https://github.com/thesofproject/sof/files/2363909/0001-ipc-add-missing-schedule_task_init-config.patch.txt)

[2018-09-09 05:07] ranj063 commented on #328
@singalsu I have sent you a patch for retreiving the cached byte control data after resume. Could you please try it out?

[2018-09-10 06:01] ZhendanYang commented on #263
This issue still exist on latest code base:
sof: glk-003-drop-stable 13ac4f95bd2cfb3e626d9d9d476e6f0f4289a58c
soft: master d77beaf8bd5260058c00a3fe8f56940eb0962498
kernel: 66dc735d45f64fcfc868c3772bb2c4c52446c000
This issue is a blocker since daily regression test can't be peformed for GLK-003 branch.

[2018-09-10 06:05] ZhendanYang commented on #273
Can't be reproduced on stable-1.2 branch. Test on GLK-003 is blocked by issue #263 .

[2018-09-10 06:12] ZhendanYang commented on #274
Can't reproduce on APL and CNL with stable-1.2 branch firmware either pulseaudio is enabled or disabled.
But can reproduce on BYT with stable-1.2 branch firmware either pulseaudio is enabled or disabled.
This is a blocker for validating other issues.

[2018-09-10 06:14] ZhendanYang commented on #276
This issue can't be reproduced so close it.

[2018-09-10 06:14] #276 closed

[2018-09-10 06:16] ZhendanYang commented on #278
duplicate of #274 .

[2018-09-10 06:35] ZhendanYang commented on #272
This issue can't be reproduced on APL and CNL with stable-1.2 branch(commit 251e68f291853e3c22ce617f23f94c01231268db)

on APL and CNL with master branch(commit: 7abb55fe722c9a180aa36ad8ed9c8ca906fcc829): no more DSP panic, instead of ipc timeout:

[ 1895.936287] sof-audio sof-audio: error: ipc timed out for 0x60040000 size 0xc
[ 1895.936312] sof-audio sof-audio: status: fw entered - code 00000005

[2018-09-10 06:38] xiulipan commented on #274
@ZhendanYang
@RanderWang have PRs for BYT #333

[2018-09-10 06:56] ZhendanYang commented on #295
Can't reproduce on APL and CNL with stable-1.2 branch. Test on BYT is blocked by #274 .

[2018-09-10 07:32] mengdonglin commented on #295
Will create new bug to track IPC timeout with master branch on CNL.
CNL has no DSP panic now.

[2018-09-10 07:36] mengdonglin commented on #272
CNL has no DSP panic now. Will create new bug track IPC timeout.

[2018-09-10 07:42] mengdonglin commented on #215
Close this issue for no customer attention and will re-open if situation changes.
We will cover 8-channel capture in other platforms for the moment.

[2018-09-10 07:42] #215 closed

[2018-09-10 08:08] ZhendanYang opened #337 "Stress test: press space key/XRUN injection when playback or capture will cause ipc timeout on APL and CNL"
Summary:
Stress test: press space key will cause ipc timeout on APL and CNL.

[   54.688310] sof-audio sof-audio: error: ipc timed out for 0x60070000 size 0xc
[   54.688330] sof-audio sof-audio: status: fw entered - code 00000005
[   54.688356] sof-audio sof-audio: error: unexpected fault 0x00000000 trace 0x00004000
[   54.688364] sof-audio sof-audio: error: waking up any trace sleepers
[   54.688

[2018-09-10 08:13] ZhendanYang commented on #337
IPC timeout can also occur when simultaneous playback and capture on CNL.

[  136.800332] sof-audio sof-audio: error: ipc timed out for 0x60010000 size 0x60
[  136.800350] sof-audio sof-audio: status: fw entered - code 00000005
[  136.800440] sof-audio sof-audio: error: unexpected fault 0x00000000 trace 0x00004000
[  136.800447] sof-audio sof-audio: error: waking up any trace sleepers
[  136.80053

[2018-09-10 10:01] singalsu commented on #328
That's wonderful, I'm testing it now! I do see an error with ABI magic and version not set. I'll see if I can fix that.

[2018-09-10 12:40] lgirdwood commented on #293
@bardliao pls send PR if it fixes issue.

[2018-09-10 13:03] lgirdwood commented on #272
CNL has different IPC IP compared to APL so could also be driver bug.

[2018-09-10 13:12] singalsu commented on #328
@ranj063 I got it working! In the code instead there's need to check that there's a valid IPC message stored to scontrol before sending to DSP. The 1st fail will with component IPC prevent success for later runtime. I'll send a new version patch back to you for check.

[2018-09-10 14:55] mengdonglin commented on #337
@lgirdwood Need your help to merge stable 1.2 branch which contains the fix

[2018-09-11 00:45] bardliao commented on #293
@lgirdwood Yes, the [PR 332](https://github.com/thesofproject/sof/pull/332) has been merged.

[2018-09-11 06:35] keqiaozhang opened #344 "PCM I/O write error during aplay HDMI playback on GLK"
This issue happens when doing long time playback through HDMI.

How to reproduce:
1. speaker-test -D hw:0,5 -c 2 -t wav

Error message:
Write error: -5,Input/output error
xrun_recovery failed: -5,Input/output error
Transfer failed: Input/output error

Test env:
kernel-cros-sof-v4.14-rebase: e4bc814c982d5
sof-glk-003-drop-stable: f245831ea
soft-master:d77beaf8b

[dmesg.log](https://github.com/theso

[2018-09-11 07:03] keqiaozhang opened #345 "[GLK][br-glk] IPC time out error when speaker headset and HDMI playback work at same time on GLK"
This issue happens at the second time. it's OK during the first run.
How to reproduce:
1. speaker-test -Dhw:0,0 -c 2 -t wav & speaker-test -Dhw:0,1 -c 2 -t wav & speaker-test -Dhw:0,5 -c 2 -t wav

Error log:
[code]
Test env:
kernel-cros-sof-v4.14-rebase: e4bc814c982d5
sof-glk-003-drop-stable: f245831
soft-master:d77beaf8b

[dmesg.log](https://github.com/thesofproject/sof/files/2369692/dmesg.log)
[

[2018-09-11 07:28] keqiaozhang opened #346 "[GLK][br-glk] playback silence issue after arecord on GLK"
Test with headset: use arecord to capture audio, then use aplay to check the recorded data or play audio file, there's nothing can be heard. But after hot-plug the headset,  you can hear the sound. repetition rate is 100%.  I also tried to play with speaker after arecord, no such issue.
How to reproduce:
1. arecord -D hw:0,1 -f s32_le -c 2 -r 48000 test.wav
2. aplay -D hw:0,1 test.wav (you can hea

[2018-09-11 07:47] keqiaozhang opened #347 "No HDMI/DP audio output option in audio setting on GLK"
With sof, there's no HDMI/DP audio output option in audio setting(chrome OS, HDMI/DP displayer
 is connected), like sof.PNG. The normal state should be like normal.PNG.

![sof](https://user-images.githubusercontent.com/22468760/45345766-df149980-b5d9-11e8-8334-96aa46846c4b.PNG)
![normal](https://user-images.githubusercontent.com/22468760/45345774-e6d43e00-b5d9-11e8-8e7d-9dcd2595b985.PNG)

[2018-09-11 08:18] keqiaozhang opened #348 "[GLK][br-glk] trace error "mem eMm" after system is booted on GLK"
There're full of mem eMm error message in rmbox log after system is booted.
error log:
0x120 [0.084200]        delta [0.000004]        mem eMm
0x130 [0.084202]        delta [0.000001]        value 0x0000000000000124
0x140 [0.084203]        delta [0.000001]        value 0x0000000000000001

Test env:
kernel-cros-sof-v4.14-rebase: e4bc814c982d5
sof-glk-003-drop-stable: f245831
soft-master:d77beaf8b

[2018-09-11 08:41] keqiaozhang opened #349 "[GLK][br-glk] metallic noise when DP/HDMI audio playback on GLK"
This noise issue is easily triggered by pause/release.

How to reproduce:
1. aplay -Dhw:0,5 -r 48000 -c 2 -f s16_le test.wav -i
2. press the space key to do pause/release

[dmesg.log](https://github.com/thesofproject/sof/files/2370178/dmesg.log)
[rmbox.log](https://github.com/thesofproject/sof/files/2370180/rmbox.log)
[rmbox-t.log](https://github.com/thesofproject/sof/files/2370181/rmbox-t.log)

T

[2018-09-11 09:50] lgirdwood commented on #293
@keqiaozhang can now be validated.

[2018-09-11 10:24] ZhendanYang opened #351 "[APL][br-glk] DSP panic after booting up on APL with glk-003 branch"
Summary:
DSP panic after booting on APL with GLK-003 branch firmware.

[    6.901681] sof-audio sof-audio: error : DSP panic!
[    6.901692] sof-audio sof-audio: panic: dsp_oops_offset 788480 offset 788480
[    6.901696] sof-audio sof-audio: status: fw entered - code 00000005
[    6.901716] sof-audio sof-audio: error: can't enter idle
[    6.901718] sof-audio sof-audio: error: trace point 00004000

[2018-09-11 10:24] ZhendanYang opened #352 "[APL/CNL][br-master]ipc error after boot on APL and CNL."
Summary:
There are ipc errors after boot on APL and CNL when pulseaudio is enabled.
But playback and capture still work.

[    9.330713] sof-audio sof-audio: error: ipc error for 0x60010000 size 0x14
[    9.330723] sof-audio sof-audio: ASoC: sof-audio hw params failed: -22
[    9.330727] sof-audio sof-audio: pcm: free stream 0 dir 1
[    9.330735] sof-audio sof-audio: ipc tx: 0x60030000
[    9.330

[2018-09-11 10:24] ZhendanYang opened #353 "[BYT][br-1.2] Stress test: keep pause/resume or XRUN injection when playback or capture can cause ipc error"
Summary:
keep pause/resume or XRUN injection when playback or capture can cause ipc error
[   99.937334] sof-audio sof-audio: error: ipc error for 0x60070000 size 0xc
[   99.937372]  Passthrough: ASoC: trigger FE failed -16
[   99.937395] sof-audio sof-audio: pcm: trigger stream 0 dir 0 cmd 3
[   99.937427] sof-audio sof-audio: ipc tx: 0x60060000
[   99.937933] sof-audio sof-audio: ipc tx succeede

[2018-09-11 11:02] jajanusz opened #354 "[HOST] int-to-pointer cast breaks compilation"
While building host like:
[code]
For these versions of gcc:
[code]
I get error:
[code]

Surrounding function like:
[code]
Works for host build, however will break for xcc, so we can do something like:
[code]

We can also fix it in makefiles but it's problematic cos you would have to add it to all compilation units that use that header, or to disable it at all what is not good.

What do you think i

[2018-09-11 13:00] singalsu commented on #354
@jajanusz Thanks, I'll look this

[2018-09-11 13:06] lgirdwood commented on #354
@jajanusz probably best to define a CONFIG_HOST macro in config.h (via autotools) that can be used to exclude a lot of code that should not be included in host build anyway or emit an error if someone tries to.

[2018-09-11 13:21] lgirdwood commented on #352
@ZhendanYang This is normal and expect for pulseaudio and other audio servers at startup time. PA is checking the sound device to see which sample rates and formats it's supports. It only know about supported capabilities by FW returning an error resuylt when an unsupported format is requested.

All sound server init errors should only be logged as a bug if playback/capture does not work.

[2018-09-11 13:21] #352 closed

[2018-09-11 14:49] cujomalainey commented on #347
Does CRAS recognize the HDMI output properly?

[2018-09-12 10:26] mengdonglin commented on #347
@cujomalainey, how to check if CRAS recognize the HDMI output properly?
aplay -l can list the devices.  We're not sure if there are any other gap on ELD detection or UCM for CRAS to expose the 'HDMI1' as an output.

[2018-09-12 17:20] cujomalainey commented on #347
Also please send the path of where you are putting the UCM files

[2018-09-13 05:38] mengdonglin commented on #293
@ZhendanYang please help to verify if this fix can work.

[2018-09-13 07:33] ZhendanYang commented on #293
@lgirdwood @mengdonglin @bardliao
Actually, I verified this issue yesterday and told the result to bard already.
This issue was blocked by #274 , so I couldn't make sure this issue is fixed or not. SInce bard debuged this issue with a commit without issue #274 , so I may re-test this issue after #274 fixed.
[    8.349951] sof-audio sof-audio: error : DSP panic!
[    8.349990] sof-audio sof-audio:

[2018-09-13 11:07] xiulipan commented on #210
APL fixed with #367 #368 on master branch

[2018-09-13 11:57] naveen-manohar commented on #347
Try using attached ucm, copied to path /usr/share/alsa/ucm/
[sof-glkda7219max.2mic.zip](https://github.com/thesofproject/sof/files/2379146/sof-glkda7219max.2mic.zip)

.. Also ensure that the machine driver is compatible for HDMI Audio.
https://chromium-review.googlesource.com/c/chromiumos/third_party/kernel/+/1220403

[2018-09-14 05:02] ZhendanYang commented on #337
Test with latest code base and this issue can't reproduce, so I'll close it.
Test env:
kernel: sof-dev ae5f868
sof: matster f17abe644c3b583213914b3d98e27f55786ef8c7
soft: d77beaf

[2018-09-14 05:02] #337 closed

[2018-09-14 05:15] ZhendanYang commented on #210
Latest status:
Test with stable 1.2 branch, APL and CNL have no such issue.
Test with master branch, on APL, there has DSP panic:

[  707.987916] sof-audio sof-audio: error : DSP panic!
[  707.987924] sof-audio sof-audio: panic: dsp_oops_offset 788480 offset 788480
[  707.987928] sof-audio sof-audio: status: fw entered - code 00000005
[  707.987949] sof-audio sof-audio: error: runtime exception
[

[2018-09-14 05:56] ZhendanYang commented on #274
Latest status:
Test with stable1.2 branch(f7ea2e61606f78a047a7353cb8042242c93448dc), enable and disable pulseaudio both will cause DSP panic, but seems the reproducibity is much less than before.
Test with master branch(f17abe644c3b583213914b3d98e27f55786ef8c7), DSP panic occurs every time whether enable pulseaudio or not.

[2018-09-14 07:51] keqiaozhang opened #375 "[glk][br-master] System failed to enter S3 and S0ix"
System failed to suspend.

Test step:
sudo suspend_stress_test -c 25

dmesg:
[ 1322.489381] PM: Wakeup pending, aborting suspend
[ 1322.489392] last active wakeup source: rtc_cmos
[ 1322.489401] PM: suspend of devices aborted after 0.025 msecs
[ 1322.489403] PM: Some devices failed to suspend, or early wake event detected
[ 1322.489409] net lo: Unbalanced pm_runtime_enable!
[ 1322.489413] PM: resu

[2018-09-14 11:37] lgirdwood commented on #274
@ZhendanYang is the reason still [ 8.249425] sof-audio sof-audio: error: unknown reason 0dead00a ??

This is the wait checker we have to detect incorrect wait transition states

[2018-09-14 11:49] mengdonglin commented on #347
@naveen-manohar Thank you!  @keqiaozhang verified it works.
@ranj063 Could you help to back port the machine driver patch to cros-4.14-rebase?

[2018-09-14 11:55] mengdonglin commented on #346
This seems not a firmware bug but more likely to be a codec driver issue.

[2018-09-16 12:12] mengdonglin opened #376 "Add support for Sue Creek"
This is to test linking issues and pulls in Zenhub. I'm trying Zenhub to manage issues and pulls automatically as much as possible.

Since Zhigang has create the initial PR #374 for Sue Creek, so I create this issue for his PR.

[2018-09-17 01:51] keqiaozhang opened #377 "[GLK][br-glk] rmbox log will be cleared after a few seconds"
Memory window log will be cleared after a few seconds

Please refer to below steps:
At the third time, rmbox is empty.
chronos@localhost ~ $ sudo rmbox

Error log:
using 19.20MHz timestamp clock
0x0 [7.214370]  delta [7.214370]        value 0x0000000000000001
0x10 [7.214371] delta [0.000002]        value 0x0000000000000000
0x20 [7.214372] delta [0.000001]        dai ed0
0x30 [7.214373] delta [0.00

[2018-09-17 02:03] keqiaozhang opened #378 "[GLK][br-glk] trace log time stamp is disordered"
Keep run rmbox -t will get different outputs and the time stamp is disorder.

First run output:
.............
0x1f50 [4.087000]       delta [0.000002]        volume trg
0x1f60 [4.087002]       delta [0.000002]        dai trg
0x1f70 [4.087003]       delta [0.000002]        dai tsp
0x1f80 [4.087042]       delta [0.000038]        host DDi
0x1f90 [4.467072]       delta [0.380030]        ipc Cmd
0x1fa0

[2018-09-17 02:06] keqiaozhang commented on #348
Confirmed that this issue cannot be reproduced in latest sof-glk-003-drop-stable branch.
commit ID:95b4a6d4

[2018-09-17 02:06] #348 closed

[2018-09-17 02:14] ZhendanYang commented on #274
@lgirdwood
No, the reason changed.
With stable-1.2 branch, when pulseaudio enabled :
[    8.214583] sof-audio sof-audio: error : DSP panic!
[    8.214594] sof-audio sof-audio: panic: dsp_oops_offset 1329152 offset 1329152
[    8.214624] sof-audio sof-audio: error: invalid wait state
[    8.214630] sof-audio sof-audio: error: trace point 90010000
[    8.214636] sof-audio sof-audio: error: DSP Firmw

[2018-09-17 03:33] xiulipan commented on #274
@ZhendanYang

is same as

@lgirdwood
We still missing one PR https://github.com/thesofproject/sof/pull/335
to remove all waiti on BYT

And we need to enable another DMA stop just like #342

With updated #335 and #342, I think BYT could be good.

[2018-09-17 06:28] ZhendanYang commented on #180
Latest status:

on CNL with master branch:
simultaneous playback and capture will cause Input/output error, no error in dmesg and can recover itself.

on APL with master branch:
run "aplay -D hw:0,0 -c 2 -r 48000 -f s16_le /dev/zero --period-size=192 --buffer-size=384 -d 5 & arecord -D hw:0,6 -c 2 -r 48000 -f s32_le /dev/null --period-size=192 --buffer-size=384 -vv -i -d 5" at second time will cau

[2018-09-17 06:47] keqiaozhang commented on #349
HSD link: https://hsdes.intel.com/appstore/article/#/1506756707

[2018-09-17 06:48] keqiaozhang commented on #344
HSD link: https://hsdes.intel.com/appstore/article/#/1506756720

[2018-09-17 06:52] keqiaozhang commented on #378
HSD link: https://hsdes.intel.com/appstore/article/#/1506756845

[2018-09-17 06:54] keqiaozhang commented on #377
HSD link: https://hsdes.intel.com/appstore/article/#/1506756850

[2018-09-17 07:30] ZhendanYang commented on #353
Only playback(no pause/resume, no XRUN) can also cause ipc error.
[   56.651142] sof-audio sof-audio: ipc tx: 0x50020000
[   56.651371] sof-audio sof-audio: ipc tx succeeded: 0x50020000
[   56.862720] sof-audio sof-audio: pcm: trigger stream 0 dir 0 cmd 1
[   56.862746] sof-audio sof-audio: ipc tx: 0x60040000
[   56.863033] sof-audio sof-audio: error: ipc error for 0x60040000 size 0xc
[   56.86306

[2018-09-17 07:50] ZhendanYang commented on #295
Can't reproduce on latest code base:
sof stable-1.2: f17abe644c3b583213914b3d98e27f55786ef8c7
kernel sof-dev: 50792bc
soft: d77beaf
Instead of DSP panic, simultaneously playback and capture will cause ipc error.
[  528.473892] sof-audio sof-audio: generating page table for 000000004265c04c size 0xc00 pages 1
[  528.473895] sof-audio sof-audio: pfn i 0 idx 0 pfn 343a0
[  528.473899] sof-audio sof-a

[2018-09-17 14:37] mengdonglin commented on #376
@zhigang-wu I guess you may want to keep this issue for other sub tasks or PRs for Sue Creek. So I keep it open although I noticed your PR has been merged.

[2018-09-17 14:45] mengdonglin commented on #376
Close this issue since since its PR has merged. @zhigang-wu please re-open it if need. Thanks!

[2018-09-17 14:45] #376 closed

[2018-09-17 14:59] mengdonglin commented on #328
@ranj063 Would you please share the PR# here when it's ready?
Take this as a enhancement for the moment.

[2018-09-17 15:44] mengdonglin commented on #351
Close this issue because all generic fixes on glk-003 branch have been merged by master. And we should use master branch to test non-GLK platforms to assure compatibility. glk release branch does not focus on compatibility across platforms.

[2018-09-17 15:44] #351 closed

[2018-09-17 15:46] mengdonglin commented on #277
Remove branch label br-glk because all generic fixes on glk-003 branch have been merged by master.  So testing with master branch will be okay for mature platforms. glk release branch does not focus on compatibility across platforms.

[2018-09-17 15:48] mengdonglin commented on #273
Close this issue because all generic fixes on glk-003 branch have been merged by master.  So testing with master branch will be okay for mature platforms. glk release branch does not focus on compatibility across platforms.

@ZhendanYang please reopen it if this issue can be reproduced by master branch.

[2018-09-17 15:48] #273 closed

[2018-09-17 15:49] mengdonglin commented on #263
Close this issue because all generic fixes on glk-003 branch have been merged by master.  So testing with master branch will be okay for mature platforms. glk release branch does not focus on compatibility across platforms.
@ZhendanYang please reopen it if this issue can be reproduced by master branch.

[2018-09-17 15:49] #263 closed

[2018-09-17 15:50] mengdonglin commented on #231
Remove branch label br-glk because all generic fixes on glk-003 branch have been merged by master.  So testing with master branch will be okay for mature platforms. glk release branch does not focus on compatibility across platforms.

[2018-09-17 15:51] mengdonglin commented on #272
Close this issue because all generic fixes on glk-003 branch have been merged by master.  So testing with master branch will be okay for mature platforms. glk release branch does not focus on compatibility across platforms.

@ZhendanYang Please re-open this issue if it can be reproduce by master branch and use br-master to track it. Thanks!

[2018-09-17 15:51] #272 closed

[2018-09-17 18:49] #210 closed

[2018-09-17 22:33] lgirdwood opened #384 "UART driver for Sue Creek"
@zhigang-wu  please use this as starting point for UART, it must not block and should use IRQ for Tx/Rx data.

[code]

[2018-09-18 03:28] mengdonglin commented on #349
@keqiaozhang Please verify if this issue is solved by latest cros-4.14-rebase kernel.
It seems the kernel patch has been merged to solve this issue:
https://github.com/thesofproject/linux/commit/94f143a4a975430096e6ec24f15a7ab708626b51

@ranj063  I keep you as the bug owner before Keqiao verify and close this bug.

[2018-09-18 05:29] xiulipan commented on #274
@ZhendanYang
#335 and #342 is merged on stable-1.2
Please verify.

I will send merge PR from stabe-1.2 to master.

[2018-09-18 05:34] xiulipan commented on #295
@ZhendanYang
Please re test the case.

Should be fixed on stable-1.2

[2018-09-18 05:34] xiulipan commented on #307
@ZhendanYang
Retest please, should be fixed.

[2018-09-18 05:35] xiulipan commented on #353
@ZhendanYang
Retest thanks.

[2018-09-18 07:38] keqiaozhang commented on #349
Checked with latest cros-4.14-rebase kernel+ sof-glk003 firmware , this issue is still exists.
Checked with latest cros-4.14-rebase kernel+ sof-master firmware, pause/release HDMI audio will cause IPC error, HSD link：https://hsdes.intel.com/appstore/article/#/1506757990

[2018-09-18 07:50] ZhendanYang commented on #274
Verified. This issue can't reproduce on stable-1.2, but still exists on master.

[2018-09-18 12:45] singalsu commented on #328
@mengdonglin This bug has been fixed by PR https://github.com/thesofproject/linux/pull/121

[2018-09-19 03:33] wenqingfu commented on #180
looks like a regression again between 251e68f and f7ea2e6 on stable-1.2? Can you help to bisect, @ZhendanYang

[2018-09-19 05:42] ranj063 commented on #375
@keqiaozhang can you please verify if the issue is fixed with https://github.com/thesofproject/linux/pull/141?
It has been merged into cros-sof-v4.14-rebase

[2018-09-19 06:55] xiulipan opened #391 "DMIC capture will cause FW panic on UP2"
Summary: second arecord with DMIC will cause FW panic

Platform: APL UP2
SOF commit: e4e3cb131cff6047436b741d2de001071e86fa03
Reproduce steps:
run `arecord -D hw:0,6 -f S32_LE tmp.wav -vv -i ` for twice

dmesg log:
[  110.608559] sof-audio sof-audio: error: Exception Cause: LoadProhibitedCause, A load referenced a page mapped with an attribute that does not permit loads
[  110.608568] sof-audio so

[2018-09-19 06:56] xiulipan commented on #180
@ZhendanYang
This is a new issues with DMIC
Test with `arecord -D hw:0,6 -f S32_LE tmp.wav -vv -i ` and the second run will cause FW panic.
I create a new issuse https://github.com/thesofproject/sof/issues/391
Please do not test with DMIC in all stress test now.

[2018-09-19 09:01] ZhendanYang commented on #353
Verified. Can't reproduce on latest code base.
Test env:
sof stable-1.2: 7dd4b1da6ea40bf8c5c404c0e606e48cd3d33e62
kernel sof-dev: bc51a6f
soft master: d77beaf

[2018-09-19 09:01] #353 closed

[2018-09-19 09:01] ZhendanYang commented on #307
Verified. Can't reproduce on latest code base.
Test env:
sof stable-1.2: 7dd4b1d
kernel sof-dev: bc51a6f
soft master: d77beaf

[2018-09-19 09:01] #307 closed

[2018-09-19 09:02] ZhendanYang commented on #295
Verified. Can't reproduce on latest code base.
Test env:
sof stable-1.2: 7dd4b1d
kernel sof-dev: bc51a6f
soft master: d77beaf

[2018-09-19 09:02] #295 closed

[2018-09-19 09:02] ZhendanYang commented on #307
Verified. Can't reproduce on latest code base.
Test env:
sof stable-1.2: 7dd4b1d
kernel sof-dev: bc51a6f
soft master: d77beaf

[2018-09-19 09:06] ZhendanYang commented on #180
This issue can't reproduce on stable-1.2 branch with latest code base on APL, BYT and CNL.
Test env:
sof stable-1.2: 7dd4b1d
kernel sof-dev: bc51a6f
soft master: d77beaf

[2018-09-19 09:15] zhigang-wu commented on #384
@lgirdwood
should we use the DMA for this operation?

[2018-09-19 10:10] ZhendanYang opened #394 "Stress test: Keeping pause/resume or XRUN injection can causes DSP panic when playback or capture"
Summary:
Keeping pause/resume or XRUN injection can causes DSP panic when playback or capture.

[   66.816385] sof-audio sof-audio: error : DSP panic!
[   66.816397] sof-audio sof-audio: panic: dsp_oops_offset 788480 offset 788480
[   66.816417] sof-audio sof-audio: status: fw entered - code 00000005
[   66.816485] sof-audio sof-audio: error: out of memory
[   66.816492] sof-audio sof-audio: error

[2018-09-19 20:02] lgirdwood commented on #384
@zhigang-wu no

[2018-09-20 07:34] xiulipan commented on #391
Have some test and find that the bug is related to memory alloc.

[code]

The log now with the panic is:

[2018-09-20 07:36] xiulipan commented on #391
@lgirdwood @mmaka1
This seems to be that we have some error with memory alloc. Need to check that what is going wrong with the mem alloc.

[2018-09-20 07:44] xiulipan commented on #391
@ZhendanYang Test with newest master commit d7404c5
The issue is gone.
@mmaka1
This issue seems to be fixed by #383. I see that you have reorg the whole mem alloc and maybe this case will not be triggered. But if this is a potential risk?

[2018-09-20 10:02] xiulipan commented on #394
@lgirdwood
Now the IPC process task is lower into interrupt LV1.
I think this maybe the cause.
I will debug to see if we can use other level interrupt to avoid this issues.

[2018-09-20 10:10] xiulipan commented on #391
@ZhendanYang
Enable **DEBUG_BLOCK_FREE** and can be reproduce on master d7404c5 with every aplay or arecord second run.

[code]

@mmaka1 @lgirdwood
Try to enable **DEBUG_BLOCK_ALLOC** too. Buf failed at boot up time.
It seems we have some wrong use of mem alloc here. Need to debug later.

[2018-09-20 10:49] #391 closed

[2018-09-20 11:34] lgirdwood commented on #394
@xiulipan the error is out of memory according to the log. Changing the schedule priority is a hack

[2018-09-20 11:53] lgirdwood commented on #274
@xiulipan the master branch out of memory may need heap size adjustment.. Btw it would be nice if panic() also included line number and filename in the dump it gives to the kernel.

[2018-09-20 19:52] cujomalainey opened #401 "Speaker-test hangs on close if rmbox -t open then dsp panic"
Open rmbox -t before running speaker-test then try to close speaker-test via ctrl-c
Speaker-test will hang until rmbox is closed.

Observed on GLK v0.4 drop

If you try and use the speaker again after closing speaker test and rmbox then the DSP panics
[code]

[2018-09-21 03:10] ZhendanYang commented on #277
Verified. This issue is gone on APL with both stable-1.2 and master branch.

[2018-09-21 03:10] #277 closed

[2018-09-21 08:36] xiulipan commented on #394
@lgirdwood
Will check with the DEBUG_BLOCK_FREE/ALLOC with https://github.com/thesofproject/sof/pull/398
I found that we may have some issues with mem alloc.

[2018-09-21 08:56] xiulipan opened #403 "panic dump contains line number and filename"
Dump the filename and line number if we are using software panic.

[2018-09-21 08:56] xiulipan commented on #274
@lgirdwood
OK, I create a issues https://github.com/thesofproject/sof/issues/403 to track this

[2018-09-21 09:28] mengdonglin commented on #375
@keqiaozhang Can the fix work for your GLK device?

[2018-09-21 10:06] mengdonglin commented on #346
Close this issue since it's not firmware issue, tracking it by kernel issue: https://github.com/thesofproject/linux/issues/154

[2018-09-21 10:06] #346 closed

[2018-09-21 10:09] mengdonglin commented on #375
It seems Ranjani has fixed this issue, so add label "fixed" and wait for validation.

[2018-09-21 13:28] lgirdwood commented on #403
@xiulipan and also preserve the IRQ level prior to switching IRQs OFF.

[2018-09-21 14:09] lgirdwood opened #408 "cmocka: missing tests for _trace_event_mbox_atomic"
[code]

[2018-09-21 20:20] mmaka1 commented on #391
@xiulipan Moved back all system allocations to the sys zone once the heap was partitioned for SMP to enable 'free' on a core power down. Sys aligns mem buffers and ensures the allocation is successful. Btw there is no need for NULL ptr testing there anymore.

[2018-09-24 07:55] jajanusz commented on #408
@akloniex
caused by https://github.com/thesofproject/sof/pull/390
please check UTs before making PR next time

[2018-09-24 15:18] mengdonglin commented on #375
@ranj063 It seems system suspend/resume can work on your GLK, could you clarify which SOF firmware branch you're using? master or glk-003-drop-stable?

[2018-09-25 02:38] keqiaozhang commented on #375
@ranj063 @mengdonglin
Tested with latest sof-master+ kernel-cros-sof-v4.14-rebase , audio device 0000:00:0e.0 failed to suspend: error -110.
But check with sof-glk-003-drop-stable, system suspend/resume(s2idle) is supported, I tested with suspend_stress_test for more than 10 times and the runtime_status is also correct.
So this issue is fixed in sof-glk-003-drop-stable + kernel-cros-sof-v4.14-reba

[2018-09-25 03:03] xiulipan commented on #391
@mmaka1
Will have a full test with alloc and free later to remove all potential risk.
Thanks for the explanation

[2018-09-25 05:51] ZhendanYang commented on #394
Test with latest code base on APL and CNL, the rmbox shows like this:

0x0 [851251515568.947144]	delta [********]	value 0x2000130c00000000
0x10 [851251531898.770874]	delta [********]	value 0x2000126c00000000
0x20 [851251545767.936035]	delta [********]	value 0x2000433400000000
0x30 [851251558966.012695]	delta [********]	value 0x2000405400000000
0x40 [851251573058.874146]	delta [********]	value 0x20

[2018-09-25 05:53] xiulipan commented on #394
@ZhendanYang
Any error in terminal or dmesg?
This seems to be some rmbox garbage.

[2018-09-25 05:55] keqiaozhang commented on #377
This issue can also be reproduced in sof master branch.
checked with sof-master:5450a2fcd8.

[2018-09-25 05:58] keqiaozhang commented on #378
This issue can also be reproduced in sof master branch.
checked with sof-master:5450a2fcd8.

[2018-09-25 06:46] keqiaozhang commented on #378
This issue can easy reproduce with suspend/resume.
Please check the rmbox -t before/after system S3.
How to reproduce:
1. sudo rmbox -t
2. sudo suspend_stress_test
3. sudo rmbox -t

[2018-09-25 06:51] ZhendanYang opened #412 "DMA trace shows garbage"
Summary:
DMA trace shows garbage after system booted.

0x0 [370751867.016533]	delta [******** ]	value 0x200060e800000000
0x10 [370966167.988907]	delta [******** ]	value 0x2000602000000000
0x20 [371134387.541333]	delta [******** ]	value 0x200060c000000000
0x30 [385518725.147307]	delta [******** ]	value 0x2000130c00000000
0x40 [385535949.755733]	delta [******** ]	value 0x200010dc00000000
0x50 [38555

[2018-09-25 10:09] lgirdwood commented on #412
@bardliao is working on update for tracing that will also fix ABI update

[2018-09-25 10:46] mengdonglin commented on #375
@ranj063  @mmaka1 would you like to sync on the patches that need to be cherry picked from glk-003-drop-stable to master?

[2018-09-25 14:01] mmaka1 commented on #375
@mengdonglin There is a single one for FW b8d7166, no issue with merging this one.

[2018-09-25 19:45] lgirdwood commented on #375
@mengdonglin @mmaka1 now cherry picked and merged https://github.com/thesofproject/sof/commit/b8d7166ff14d435de83e447ad64cbde8a2ddfc52

[2018-09-26 06:38] xiulipan commented on #412
@lgirdwood
I asked @akloniex that we may missing some rmbox update to support the new format.
close this issue
move to SOFT https://github.com/thesofproject/soft/issues/75

[2018-09-26 06:38] #412 closed

[2018-09-26 07:21] juimonen opened #416 "Volume component signal overflow with extreme levels"
There's mild crackling noise coming from volume component if volume levels are at maximum and incoming signal has very high levels (has to peak at max sample values). This is very "pathological" use case but might actually happen, I was getting this with pcm ripped from CD and running through sox conversion to 48kHz (which clipped couple of very high level samples). Also able to get it with a sine

[2018-09-26 09:08] xiulipan commented on #274
@lgirdwood
Now panic info patch set is test with BYT and APL, here is the result on BYT

[    5.685890] sof-audio sof-audio: error : DSP panic!
[    5.686049] sof-audio sof-audio: error: out of memory
[    5.686132] sof-audio sof-audio: error: trace point 00004170
[    5.686220] sof-audio sof-audio: error: panic happen at alloc.c:131

[code]

Will send the PR first and start debut this issue.

[2018-09-26 14:55] #274 closed

[2018-09-27 01:48] keqiaozhang commented on #375
@mmaka1
This issue still can be reproduced in latest sof-master. so there's still have a gap between glk003 and master branch. Please help to confirm this.
[  255.313810] PM: suspend entry (s2idle)
[  255.313818] PM: Syncing filesystems ... done.
[  255.329545] PM: Preparing system for sleep (s2idle)
[  255.334709] PM: Suspending system (s2idle)
[  256.505791] PM: suspend of devices complete after

[2018-09-27 02:12] keqiaozhang commented on #375
@mmaka1 I also found that firmware will be panic after system is booted in sof-master, this issue maybe blocked by this regression.

[2018-09-27 03:02] ZhendanYang opened #425 "Firmware build fail"
Summary:
Firmware build failed for BYT and CNL.

work.c: In function 'work_new_queue':
work.c:501:19: error: 'PLATFORM_WORKQ_DEFAULT_TIMEOUT' undeclared (first use in this function)
  queue->timeout = PLATFORM_WORKQ_DEFAULT_TIMEOUT;
                   ^
work.c:501:19: note: each undeclared identifier is reported only once for each function it appears in
Makefile:486: recipe for target 'libcore_a-w

[2018-09-27 03:09] xiulipan commented on #425
#421 CI build Result.

[2018-09-27 03:24] ZhendanYang opened #427 "DSP panic after booted when using xcc-built firmware"
Summary:
When I use xcc to build firmware(sof-apl.ri), DSP panic will occur after booted. But gcc has no such problem.

[    5.773771] sof-audio sof-audio: error : DSP panic!
[    5.773779] sof-audio sof-audio: panic: dsp_oops_offset 788480 offset 788480
[    5.773783] sof-audio sof-audio: status: fw entered - code 00000005
[    5.773803] sof-audio sof-audio: error: runtime exception
[    5.773806

[2018-09-27 10:28] xiulipan commented on #425
close vi e3108d653fc1c9a9d19283e4ef9328ccd5efefab

[2018-09-27 10:28] #425 closed

[2018-09-28 06:29] ZhendanYang opened #432 "hw_params() fails with pulseaudio at 48kHz, 16bit stereo."
Summary:
On BYT, when enabled pulseaudio, playback and capture can't work. There are a lot of ipc error in dmesg log.

[  129.111820] sof-audio sof-audio: error: ipc error for 0x60010000 size 0x14
[  129.111836] sof-audio sof-audio: ASoC: sof-audio hw params failed: -22
[  129.111844] sof-audio sof-audio: pcm: free stream 0 dir 0
[  129.111858] sof-audio sof-audio: ipc tx: 0x60030000
[  129.111913

[2018-09-28 06:33] ZhendanYang commented on #427
This issue only happen on nocodec up2, but up2+hifiberry has no such issue.

[2018-09-28 06:34] xiulipan commented on #432
blocked by trace issues https://github.com/thesofproject/soft/issues/75
No debug tools now

[2018-09-28 06:55] ZhendanYang commented on #180
@wenqingfu

Latest status:
This issue can not reproduce on APL(up2) now, but still exists on CNL. On BYT, even worse, input/output error can lead to ipc error:

[  133.210279] sof-audio sof-audio: error: ipc error for 0x60010000 size 0x14
[  133.210322] sof-audio sof-audio: ASoC: sof-audio hw params failed: -22
[  133.210343] sof-audio sof-audio: pcm: free stream 0 dir 0
[  133.210373] sof-audio s

[2018-09-28 07:04] ZhendanYang commented on #278
Test with latest code base, this issue can't reproduce
Test env:
sof master: 299ccbc
sof tool: 60c3937
kernel: sof-dev 51ebd5d

[2018-09-28 07:04] #278 closed

[2018-09-28 07:07] ZhendanYang commented on #293
Test with latest code base, this issue can't reproduce.
Test env:
sof master: 299ccbc
sof tool: 60c3937
kernel: sof-dev 51ebd5d

[2018-09-28 07:07] #293 closed

[2018-09-28 09:10] keyonjie opened #433 "HDA analog capture with all 0s"
I tested with glk-003-drop-stable branch(commit 22fa01d059589) on my LeafHill, arecord can run with HDA analog codec device, but all captured PCM data are 0s.

@mmaka1 can you help on this?

[2018-09-28 15:33] mengdonglin commented on #433
@RanderWang Could you help to share if capture can work on WHL after you enables HD-A on WHL? Thanks

[2018-09-29 03:01] RanderWang commented on #433
@mengdonglin  yes, all zero. Thank you for your info and I don't have to debug kernel

[2018-09-29 03:47] mengdonglin commented on #432
@ZhendanYang Could you use the new logger with master branch from now on?
If it's working, we can remove the blocker.

[2018-09-29 03:50] mengdonglin commented on #427
@ZhendanYang Could you provide logger info?

[2018-09-29 04:02] mengdonglin commented on #354
@jajanusz @singalsu May I know if you're working on this issue?

[2018-09-29 05:55] mengdonglin commented on #401
@keqiaozhang Could you reproduce this issue on the code base for GLK v0.5 drop?

[2018-09-29 06:47] mengdonglin commented on #401
@akloniex @mmaka1 Could you help to evaluate if this issue can be fixed in GLK v0.5 release that still uses rmbox or next release that uses the trace logger?

[2018-09-29 06:53] ZhendanYang commented on #427
This issue can't reproduce with latest code base.
Test env:
sof master: a97cd4f0832c5faf39737c2544a5539c77c250a4
sof tool: 918e401
kernel sof-dev: 32f5efe

[2018-09-29 06:53] #427 closed

[2018-09-29 07:32] ZhendanYang opened #443 "DSP panic after system booted"
Summary:
DSP panic happened after system booted.

[    8.142381] sof-audio sof-audio: error : DSP panic!
[    8.142451] sof-audio sof-audio: panic: dsp_oops_offset 1329152 offset 1329152
[    8.142484] sof-audio sof-audio: error: runtime exception
[    8.142544] sof-audio sof-audio: error: trace point 90010000
[    8.142605] sof-audio sof-audio: error: panic happen at :0
[    8.142665] sof-audio s

[2018-09-29 15:34] mengdonglin commented on #408
@jajanusz @lrgirdwo Is this issue fixed by #410? Can we close it.

[2018-09-30 02:33] mengdonglin commented on #416
@juimonen Could you add the labels for the platform and branch on which you observe the bug? Thanks!

[2018-09-30 03:28] mengdonglin commented on #231
@ZhendanYang @bardliao Let's check this issue after APL RVP is set up.

[2018-09-30 03:40] mengdonglin commented on #180
@RanderWang @ZhendanYang @wenqingfu Maybe we can focus on fixing BYT at first?

CNL has no customer interest and will be dropped when WHL and ICL is ready.  WHL has no request for I2S but ICL does. So if ICL also has this bug, we can involve firmware engineer to cover ICL.

[2018-09-30 08:17] juimonen commented on #416
I saw this with up2 and master branch. However I think this will manifest in all configurations, but I have not tested all of them. It could be a certain "version" of the volume processing function (like some 24 bit to 32 bit) but I could not find/fix it yet because trace went berserk...

[2018-10-01 09:44] lgirdwood commented on #354
@mengdonglin I think this is now fixed

[2018-10-01 09:53] lgirdwood commented on #401
@mengdonglin looks like a driver issue (hang until rmbox closed) and fw issues (panic). Will need someone from driver team to check. However @bardliao  trace update may fix it.

[2018-10-01 10:34] jajanusz commented on #354
For me host build is still broke, When I build current master, I get error:
[code]

[2018-10-01 10:35] tlauda commented on #354
@jajanusz Pull latest changes. You are missing adee39984b609142d88e0316855d03fcfb94b219.

[2018-10-01 12:02] jajanusz commented on #354
I'm not sure if it was intended to work like that but bug was caused by taking includes from installation dir ($prefix) instead of from project, so if there are changes in includes and you don't clean your installation dir it fails. Anyway it works now with clean build & clean installation dir.

[2018-10-01 12:02] #354 closed

[2018-10-01 15:12] lgirdwood commented on #416
@singalsu any thoughts on this one ?

[2018-10-01 15:20] lgirdwood commented on #180
@ZhendanYang this is now 2 different bugs - 1) A FW oops of CNL, 2) a hw_params() failure on BYT. hw_paramas wil return an error if the driver is asking a rate it does not support so please make sure you list the topology and cmd line for any hw_param() failure.

I would close this now and re-open as two different issues, for 1) and 2) above.

[2018-10-01 15:35] #408 closed

[2018-10-01 15:54] singalsu commented on #416
Yes, I've heard this noise too. There's rattle with highest volume and it goes away with next lower step. The volume mode in the test pipeline is 32->24. I need to test if there's difference in gcc and/or xt-xcc compiled volume since they use a different gain algo core. We can debug this now when we got trace to work again.

[2018-10-05 15:00] lbetlej commented on #29
Support for APL/GLK  platfroms added as #135

[2018-10-05 15:00] #29 closed

[2018-10-08 06:29] ewanglong opened #465 "There is build error for the archieved tar ball"
1) download https://github.com/thesofproject/sof/archive/v1.2.tar.gz;
2)unzip it in local and follow the building steps:
$autogen.sh
$./configure --enable-rimage
$make
will meet below error:
man_apl.c:64:30: error: expected expression before ‘,’ token
    .major_version = SOF_MAJOR,
                              ^

It was due to there is no git tag by directly tar ball building. May refer to below

[2018-10-08 06:59] ZhendanYang commented on #443
Summary:
DSP panic happened after system booted.

[    5.736743] sof-audio sof-audio: error : DSP panic!
[    5.736752] sof-audio sof-audio: panic: dsp_oops_offset 788480 offset 788480
[    5.736756] sof-audio sof-audio: status: fw entered - code 00000005
[    5.736778] sof-audio sof-audio: error: runtime exception
[    5.736780] sof-audio sof-audio: error: trace point 00004000
[    5.736782] sof-

[2018-10-08 08:13] xiulipan commented on #465
@ewanglong
Yes, this bug is related to the `git tag`.
We will have some fix for it. We may not rely on the git tag anymore to avoid this problem.

[2018-10-08 14:03] lgirdwood commented on #443
@ZhendanYang adding a little more context shows it's related to trace init.
[code]

[2018-10-08 14:07] lgirdwood commented on #443
and on APL it is a topology loading issue
[code]
So this issue is really 2 issues, one for trace init on BYT and the other for topology on APL.

[2018-10-08 19:58] cujomalainey opened #473 "Verbose tracing breaks new logger"
Enabling TRACEV in the firmware causes the logger to output absolutely nothing. Firmware appears to operating just fine according to dmesg otherwise.

Observed at:
Kernel: 1 commit off 93853cbf8f8252ec04dd8b70328cb004d1d4566a to patch glk dialog max codec for 4.18
SOF: ccaff5c87e5bb2ba29fc804abde0f47bd93cebea
SOFT: 2d7a933aa8655e99d95d7bafec53a14b410494af (dirty, but only with regards to some m4 f

[2018-10-09 02:48] ZhendanYang commented on #443
Add BYT DSP panic info:

  942 static inline uint32_t arch_interrupt_global_disable(void)
  943 {
  944         uint32_t flags;
  945
  946         asm volatile("rsil      %0, 5"
  947 **ff2c099b**:       006590                  rsil    a9, 5
  948 {
  949         struct sof_ipc_dsp_oops_xtensa *x =
  950                 (struct sof_ipc_dsp_oops_xtensa *) mailbox_get_exception_base();
  951
  952

[2018-10-09 03:10] xiulipan commented on #465
@lgirdwood
I will check that. Maybe our script will try to regenerate the version and overwrite it?

[2018-10-09 23:08] cujomalainey commented on #473
I think this might be related to a larger issue in the system due to something like memory corruption as I'm still experiencing trace issues with a dirty build. But I can fix them by adding a trace in weird spot in the code (host_copy_int) (tested 5X to be sure adding and removing the trace was fixing the logging.) Without the additional trace I only get the first 3 traces out of the dsp even thou

[2018-10-10 05:11] xiulipan commented on #403
close via #423

[2018-10-10 05:11] #403 closed

[2018-10-10 05:45] cujomalainey commented on #401
Initial tests show the new logger is not susceptible to this bug. Will keep investigating.

[2018-10-10 06:05] keqiaozhang commented on #401
@cujomalainey
Could you share your test branch/commit?
I also tried logger with latest sof master and this issue still exists.

[2018-10-10 06:07] cujomalainey commented on #401
There is a chance that it might be working correctly because if the bugs I'm seeing in #473. I'll verify tomorrow when I'm in the office.

[2018-10-10 06:47] keqiaozhang commented on #378
Confirmed that this issue cannot reproduced with logger and we will switch to use logger for trace, so this bug can be closed.

[2018-10-10 06:48] #378 closed

[2018-10-10 06:49] keqiaozhang commented on #377
Confirmed that this issue cannot be reproduced with logger and we will switch to use logger for trace, so this bug can be closed.