[2019-09-25 09:20] lyakh opened #1871 "[BUG] a tool for demux binary configuration generation should be open source and publicly available"
demux_coef_default.m4 contains a binary blob for demux configuration, that has to be eliminated as mentioned in #1870. However, if it is necessary to keep the binary configuration at least for some time, a tool for its generation has to be made publicly available under an open source licence.

[2019-09-25 10:06] YvonneYang2 commented on #1648
Check it on whl-i2s with test recipe as below, issue cannot reproduce. So close the bug.

Test recipe:
Firmware: d42c019 https://github.com/thesofproject/sof/commits/master
Kernel: c0f21e6 https://github.com/thesofproject/linux/commits/topic/sof-dev
tplg:   sof-whl-rt5682-kwd.tplg rename sof-cml-rt5682.tplg

[2019-09-25 10:06] #1648 closed

[2019-09-26 07:29] aiChaoSONG opened #1877 "[BUG] interrupt arecord after wov triggered causes ipc timeout and dsp panic"
**Describe the bug**
interrupt wov pipeline when it is triggered will cause ipc timeout and dsp panic.

**To Reproduce**
1. run `arecord -Dhw:0,8 -M -N -r 16000 -c2 -fs16_le -vvv -d5 wov.wav`
2. make some sound to trigger recording.
3. once triggered, press `CTRL + C` to interrupt arecord.

**Reproduction Rate**
100%

**Expected behavior**
arecord exit successfully, no error occur

**Environment**

[2019-09-26 07:51] YvonneYang2 commented on #1830
Issue can be reproduced on ICL RVP with codec ALC700 in SDW mode when doing module unload/reload

**frequency**
1/85

Test recipe
Firmware: 3ce82a1 https://github.com/thesofproject/sof/commits/ +PR1851 (For HDMI tplg)
Kernel: abc49c2 https://github.com/thesofproject/linux/commits/integration/soundwire-latest
[boot_fail.log](https://github.com/thesofproject/sof/files/3656560/boot_fail.log)

[2019-09-26 08:43] wwittbrx opened #1878 "[BUG] DAI components cannot be freed without configuring"
**Describe the bug**
DAI components (tested for SSP and DMIC) will throw DSP panic on sof_ipc_free if they have not been configured (for example with sof_ipc_dai_ssp_params).

**To Reproduce**
Run test_01_kd_detect_dummy_large_msg.py on diagnostic driver setup.

**Reproduction Rate**
100%

**Expected behavior**
Component free will be handled gracefully without panic.

**Environment**
    SOF: http

[2019-09-26 10:21] dengyangchao commented on #1760
issue over 20 times run can not occur on ICL-RVP with #1731

**Recipe**
Firmware: 3ce82a15 https://github.com/thesofproject/sof/commits/master
Kernel: e03f882 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-hda-generic-4ch.tplg same as firmware
platform: ICL-RVP

[2019-09-27 02:40] wenqingfu commented on #1762
err.. darn it.. sorry, butter finger..

[2019-09-27 06:06] dengyangchao commented on #1830
issue can be reproduced on GLK-chrome when doing module unload/reload

**frequency**
1/73

**test recipe**
Firmware: 7046e849 https://github.com/thesofproject/sof/commits/master
Kernel: 578ff8d7 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-glk-da7219.tplg same as firmware

[boot_fail.log](https://github.com/thesofproject/sof/files/3661097/boot_fai

[2019-09-27 07:52] dengyangchao commented on #1812
issue can be reproduced on GLK-chrome  when run aplay+suspend stress test

**test recipe**
Firmware: 7046e84 https://github.com/thesofproject/sof/commits/master
Kernel: 578ff8d7 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-glk-da7219.tplg same as firmware

[code]
**logger-log**
[code]

[s3_test_194_logger_all.log](https://github.com/thesofproject/

[2019-09-27 15:55] #1878 closed

[2019-09-27 17:06] wenqingfu commented on #1812
thanks. @aiChaoSONG ! #1830 points to PR #1797.  Can you please try if this issue is also related with patch? unfortunately, we step into the deep water that only rounds of stress testing can prove something is truly fixed... @ClarexZhou to help

[2019-09-27 18:42] #1578 closed

[2019-09-27 19:55] tokyovigilante opened #1885 "[BUG] [CNL] Firmware load fails on 5.4 mainline kernel"
**Describe the bug**
HW - Lenovo X1 Yoga G4 (i7-8665U with Cannon Lake Audio), Fedora 31 beta.

I've built a 5.4/mainline kernel (commit da05b5ea12c1e50b2988a63470d6b69434796f8b) with the 5.4 ALSA/sound fixes merged, and SOF from master (commit 913644b1a837fdcb21839584310063b7eb9e4720). I get the kernel log:
[code]
I realise this may be an unsupported configuration, however the 5.3 SOF code and fi

[2019-09-27 21:26] plbossart commented on #1885
@tokyovigilante did you mean that you compiled the firmware yourself with GCC and using the community key? If yes, I don't think this can work. You'd have to use the 1.3 firmware signed with the Intel production key.

[2019-09-27 21:31] tokyovigilante commented on #1885
Thanks for the reply. That's correct, I just followed the build instructions. Is that signing process available to end users?

[2019-09-27 22:00] plbossart commented on #1885
Unfortunately no. The OEM decides which keys are used. You can only sign your own firmware on 'open' platforms such as Up2 boards or Chromebooks based on GeminiLake or newer.

Also the issue is unlikely to be due to the firmware. The firmware only provides stereo to the HDaudio codec, and I would *guess* the split between tweeter/woofer is handled in the amplifier stages - outside of the chipset a

[2019-09-28 11:03] tokyovigilante commented on #1885
Thanks for the clarification. That is a little disappointing, as it does detract from the open nature of the project if I'm unable to use it outside an OEM-provided build. Lenovo has provided one for the 5.3 kernel to be fair though.

However on rebooting to the current 5.3 release kernel provided by Fedora (Linux firebert 5.3.1-300.fc31.x86_64 #1 SMP Tue Sep 24 21:00:05 UTC 2019 x86_64 x86_64 x86

[2019-09-29 03:19] Jiangxinx opened #1886 "[BUG][BYT][Capture] Input/output error during pause-release."
**Describe the bug**
Since #1578 had been closed, but this issue still can be reproduced on byt nocodec platform,  the reproduction rate is very low (about 1/20).  And sof can continue work fine after this issue occurs,  I also can not observe obvious error trace from dmesg and sof-logger .

**To Reproduce**
1.Arecord via "arecord -Dhw:0,0 -r48000 -c2 -fs16_le 1.wav -vv -i"
2.Pause arecord
3.Resum

[2019-09-29 20:31] tlauda commented on #1812
@wenqingfu I'm already working on it. Should have potential fix tomorrow.

[2019-09-30 05:01] tlauda commented on #1886
@Jiangxinx It is very similar to the sporadic fail with alsabat. No errors in FW, but ALSA for some reason detects the XRUN and stops pipeline. @juimonen You think https://github.com/thesofproject/linux/pull/1219 can potentially fix it?

[2019-09-30 05:09] juimonen commented on #1886
@tlauda it could help... worth testing anyway. I guess in the thesofproject/linux#1219 general agreement was that having pm_downtime 0 reveals something that is the root cause for this, and as the case is quite hairy (and I have other stuff to do) I didn't have time to actually figure out what is the problem.

[2019-09-30 05:34] aiChaoSONG commented on #1812
@tlauda I have run some tests on different commits, and now I can conclude that commit [edf_schedule: implement the new version of EDF scheduler](https://github.com/thesofproject/sof/commit/20acc16791aff21ecda549ffebbcec85f84130f8) introduces this ipc timeout issue. Did your fix related to the newly implemented scheduler? If not, please look into this commit and see if there is any flaw in it

[2019-09-30 09:49] lgirdwood commented on #1843
@singalsu I assume SRC is reading ahead ? It could just be we need to zero all SRC source buffer before we start.

[2019-09-30 09:53] lgirdwood commented on #1761
@paulstelian97 @finikorg @kv2019i ACK, assert() should be non custom (operate/usage as expected) and we should rename with prefix if we need to customise.

[2019-09-30 09:58] lgirdwood commented on #1853
@singalsu CHT has less free memory than BYT (due to extra SSP and DMACs being allocated). See @cujomalainey PRs for disabling DMAC2.

[2019-09-30 10:04] paulstelian97 commented on #1761
@lgirdwood Would renaming the current `assert` function to some sort of `require` function be a nice change? I don't think `prod_assert` and similar would actually click.

[2019-09-30 10:33] lgirdwood commented on #1860
@mrajwa @keyonjie I'm assuming this is a request for an new IPC command to disable the DMA trace ?

[2019-09-30 10:35] lgirdwood commented on #1870
@tlauda @jajanusz fyi - we need to kill these binary blobs -everything must be human readable.

[2019-09-30 10:36] lgirdwood commented on #1877
@mrajwa @keyonjie fyi - I'm assuming you are still working on this.

[2019-09-30 10:37] lgirdwood commented on #1760
@tlauda are we blocking next record on DMA copy completion ?

[2019-09-30 12:31] lgirdwood commented on #1812
@aiChaoSONG good work to root cause this. It's a blocker now for v1.4

[2019-09-30 12:54] lgirdwood commented on #1761
@paulstelian97 best option is to change as per @finikorg comment. It's pretty industry standard.

[2019-09-30 17:07] tlauda commented on #1760
@dengyangchao  @ClarexZhou This issue should not occur with the latest kernel. Please verify.

[2019-09-30 17:08] tlauda commented on #1771
@jdrzaszcz @lgirdwood Should be fixed with #1850.

[2019-09-30 17:08] tlauda commented on #1762
@aiChaoSONG Should be fixed with #1850.

[2019-10-01 07:56] singalsu commented on #1853
@lgirdwood Thanks, good point, I didn't know. Also I think there's a bit excess in topologies with SRC for buffers that could be reduced.

[2019-10-01 10:24] lgirdwood commented on #1760
@tlauda Btw, I've seen this pause release CI failure appear twice today on CI. https://sof-ci.01.org/sofpr/PR1889/build3371/devicetest/

[2019-10-01 10:27] lgirdwood commented on #1853
@singalsu good find, it's likely CHT topology has drifted from BYT topology. They should be aligned.

[2019-10-01 10:27] tlauda commented on #1760
@lgirdwood Yes, but it's a different issue. It only happens for HDA Link playback and it's tracked here: https://github.com/thesofproject/linux/issues/1160.
This one here is for capture and it should be not reproducible with L1SEN disabled.

[2019-10-01 12:15] wwittbrx commented on #1812
I cannot reproduce this issue with https://github.com/thesofproject/sof/pull/1887 applied. Please check it on your side.

[2019-10-01 12:15] wwittbrx commented on #1830
I cannot reproduce this issue with https://github.com/thesofproject/sof/pull/1887 applied. Please check it on your side.

[2019-10-01 13:39] plbossart commented on #1853
We don't have a topology with 50kHz SRC for BYT, do we? I adapted the one from APL for these tests. And even on APL it still doesn't work despite the much larger internal memory.

[2019-10-01 14:20] lgirdwood commented on #1853
@plbossart we probably dont, @singalsu does XCC make any footrpint difference for SRC i.e. will it squeeze into CHT. Have you also edited kconfig to remove any unsued components ?

[2019-10-01 15:17] juimonen commented on #1853
So the memory for this topology is minimal. probably one of the smallest footprints we have... let me check this tomorrow, there's something else going wrong.

[2019-10-01 15:43] cujomalainey commented on #1853
@lgirdwood, the other cht topologies likely need the additional fixes I have been applying to the maxim one as well

[2019-10-02 12:37] juimonen commented on #1853
The problem is that 50khz topology is using pipe-src-playback pipeline (not pipe-src-volume-playback). So in 50kHz topology SRC is connected directly to DAI and SRC is using 3 periods and DAI 2 periods. Because the last buffer is "dma connected" it is not allowed to do resize (this is the current code in dai) -> thus fail. If you have this kind of connection in the middle of the pipeline (like in

[2019-10-02 13:27] tlauda commented on #1886
@Jiangxinx Should go to kernel repository.

[2019-10-02 13:27] #1886 closed

[2019-10-02 13:33] tlauda commented on #1665
@zrombel Pleas verify with master.

[2019-10-02 13:38] tlauda commented on #1632
@zrombel Please verify with master.

[2019-10-02 13:49] tlauda commented on #1853
@juimonen SRC is not allowed to perform the resize of such buffer, but DAI should be able to do it. I think the problem is that DAI in topology is set to just 2 periods, thus it calculates wrong buffer size and make wrong resize.

[2019-10-02 13:59] juimonen commented on #1853
@tlauda ok. I'm not sure which one is better..?. src to 2 or dai to 3 periods... anyway good that the dai patch is there. I think the src 3 periods is some old leftover so it should work with 2 I guess.

[2019-10-02 14:06] tlauda commented on #1853
@juimonen For APL my patch is setting every DAI to 3, but maybe for CHT 2 would be better.

[2019-10-02 16:34] plbossart commented on #1853
I can understand the DAI using 3 periods, since it needs to deal with the preloading stuff.

I don't understand why we would have different DAI settings on different platforms?
I just don't see why a processing element would require 3 periods?

Too many periods, too little time...

[2019-10-02 21:53] wenqingfu commented on #1760
after https://github.com/thesofproject/linux/pull/1070 was merged,  I don't see Input/Output error happen on the labelled platforms as well.  Can we close this issue?

[2019-10-02 23:34] cujomalainey commented on #1847
Continuing DMA failure discussion from #1862

@lgirdwood  I logged the SSP state post start and pre stop

[code]
See attached for full dump of initial states from set config
[bad_after_set_config.txt](https://github.com/thesofproject/sof/files/3683770/bad_after_set_config.txt)
[good_after_set_config.txt](https://github.com/thesofproject/sof/files/3683771/good_after_set_config.txt)
[good_before_set

[2019-10-03 04:52] #1760 closed

[2019-10-03 07:12] #1615 closed

[2019-10-03 07:18] tlauda commented on #1853
@plbossart It's because we're using the last buffer in pipeline directly as the DMA buffer (which is a mistake in my opinion). We've changed scheduling for cAVS platforms to schedule all pipelines on one DMA irq, so due to the specifics of DMA IP we need 3 periods for it to work correctly (timer scheduling will also require such change). I really think we should separate DMA buffers from pipeline

[2019-10-03 17:18] cujomalainey opened #1898 "[BUG] CHT suspend resume causes bogus firmware oops"
**Describe the bug**
Firmware fails to both stay stable after a resume and crash properly. On cml-drop-007 this causes a kernel panic due to the fact that the driver does not detect the bogus panic and ends up reading unavailable memory.

**To Reproduce**
Suspend then resume a device, then attempt playback

**Reproduction Rate**
everytime

**Expected behavior**
audio would continue working after s

[2019-10-03 17:47] cujomalainey commented on #1845
#1847 and #1898 are both regressions that would have likely been caught by CI. Getting boards added once the platform is stabilized would be really helpful.

[2019-10-03 21:07] chrysophylax opened #1899 "[FEATURE] Kaby Lake support"
**Is your feature request related to a problem? Please describe.**
Kaby Lake devices are currently not supported by SOF. There are many of us who would appreciate having audio out through our audio jack & speakers.
Quoted from the documentation

**Describe the solution you'd like**
A roadmap to support for Kaby Lake devices, e.g. i5-8250u or some concrete description of how the platforms differ de

[2019-10-03 21:23] lgirdwood opened #1900 "[BUG] docker: sof_qemu fails to build"
**Describe the bug**
Follow getting started and install docker.
run
[code]
Then
[code]

[2019-10-04 06:46] juimonen commented on #1853
made this to move us forward: https://github.com/thesofproject/sof/pull/1901

@tlauda I tested your commit and changed the dai periods in sof-apl-src-50khz pipe: I could only get noise out... So should I perhaps somehow change the SSP params also?

Anyway we can graduate to that, when I/we discover what is the issue.

[2019-10-04 10:07] paulstelian97 opened #1903 "Unclear usage of DMA_CB_TYPE_IRQ in SSI-SPI"
I have noticed after the recent refactor of interrupt handling that almost all usages of DMA_CB_TYPE_IRQ have been removed, but there still is a callback registered for this in SSI-SPI. However I don't see any other usage (including potential call site for this callback) of this macro.

Is this callback type even doing anything right now? Is it alright that it is still there, or to ignore it compl

[2019-10-04 11:41] tlauda commented on #1903
@paulstelian97 Aligned SSI-SPI driver: #1904.

[2019-10-04 11:41] #1903 closed

[2019-10-04 11:43] paulstelian97 commented on #1903
Thanks, was unclear for the Dummy DMA if I needed to care about that callback anymore.

[2019-10-04 12:02] tlauda commented on #1853
@juimonen It looks like you played different bit depth and had no component to perform pcm conversion. With pipelines without volume we should probably somehow restrict pcm formats available on host. Is there a way to do that from m4 level?

[2019-10-04 12:17] juimonen commented on #1853
@tlauda hmm ok, I guess we don't have conversions in any other component than volume. Should we add this kind of feature into host etc?

We have the PCM_CAPABILITIES macro used for example like following: PCM_CAPABILITIES(Passthrough Playback PCM_ID, `S32_LE,S24_LE,S16_LE', PCM_MIN_RATE, PCM_MAX_RATE, 2, PIPELINE_CHANNELS, 2, 16, 192, 16384, 65536, 65536)

So I think you should be able to restrict

[2019-10-04 12:19] tlauda commented on #1853
@juimonen There's already task for extracting it from volume #1610.

[2019-10-04 20:53] cujomalainey commented on #1847
fun little tidbit, a suspend/resume cycle (with suspend enabled on byt/cht) appears to fix this bug

[2019-10-07 06:58] wwittbrx commented on #1877
This issue cannot be reproduced with d1f4320. Please check it on your side so we can close it.

[2019-10-07 07:41] wwittbrx commented on #1467
This issue cannot be reproduced with d1f4320, closing.

[2019-10-07 07:41] #1467 closed

[2019-10-07 14:24] lgirdwood commented on #1847
@cujomalainey one other thing to check is that DMA HW LLI mode is not used on CHT, iirc only SW LLI mode should be used on BYT, CHT and BSW (worth checking sw-dma.c config here). This can cause corrupted audio.
@mengdonglin can someone check all the SSP bits as I'm travelling for next two weeks.

[2019-10-07 16:26] singalsu commented on #1632
@zrombel @lgirdwood Thanks for reporting, I'll check this.

[2019-10-07 22:25] fredoh9 opened #1909 "[BUG][GLK] KWD is broken"
**Describe the bug**
Set hwparams failed.
Firmware return errors,
src/lib/alloc.c:273   error: 6 blocks needed for allocation but only 1 blocks are remaining

Whereas aplay and arecord are working fine in other pipelines.

**To Reproduce**
sudo su
arecord -N -M -Dhw:0,8 -c 2 -r 16000 -f s16_le tmp.wav -vvv

**Reproduction Rate**
100%

**Expected behavior**
start keyword dection

**Impact**
broken

[2019-10-08 01:47] aiChaoSONG commented on #1762
This issue is fixed by #1850, so close it

[2019-10-08 01:47] #1762 closed

[2019-10-08 05:08] aiChaoSONG commented on #1812
1000 times no reproduction on CML Chrome, Please verify on your side, if issue cannot be reproduced either, please help close this issue @dengyangchao

[2019-10-08 05:37] aiChaoSONG commented on #1909
This is the same issue as #1869

[2019-10-08 06:08] xiulipan commented on #1900
@lgirdwood Are you working with ROOT?
the UID should be the user that create the qemu image.

I have some auto build scripts for the qemu. Let get some CI for the qemu also.

[2019-10-08 06:52] #1909 closed

[2019-10-08 07:08] aiChaoSONG commented on #1877
The behavior is normal, but I still see some error messages:
**dmesg**
[code]
**sof-logger**
[code]

[2019-10-08 07:44] dengyangchao commented on #1812
issue can not reproduce on CFL, CML, ICL-RVP and GLK-Chrome, so close the issue

[2019-10-08 07:44] #1812 closed

[2019-10-08 08:33] dengyangchao commented on #1830
issue can not reproduce on CML, CFL, ICL-RVP HDA and GLK-Chrome, so close the issue

[2019-10-08 08:33] #1830 closed

[2019-10-08 08:42] Jiangxinx opened #1911 "[BUG][BYT] pause release error: Device or resource busy when do playback/capture test."
**Describe the bug**
Pause release error: Device or resource busy when do playback/capture test on BYT platform.

**To Reproduce**
1.Playback via "aplay -Dhw:0,0 -r48000 -c2 -fs16_le 1.wav -vv -i"
2.Pause aplay
3.Resume aplay

**Reproduction Rate**
1/20

Environment
Firmware: fee25179 https://github.com/thesofproject/sof/commits/master
Kernel: df832fb2 https://github.com/thesofproject/linux/commit

[2019-10-08 08:43] tokyovigilante commented on #1885
On further review it seems you are correct and only signed firmware is able to be loaded on my ThinkPad. I have reverted to the signed 1.3 firmware and topology, but this is not compatible with the current sof-dev kernel branch (with the recent 5.4 rc1 merge) as follows:

[code]
Neither ALSA nor Pulseaudio detect the hardware. I assume this is due to incompatibilities with the SOF firmware v1.3 an

[2019-10-08 13:21] kv2019i opened #1913 "[BUG] remove void* arithmetic"
**Describe the bug**
SOF codebase has multiple instances of doing arithmetic with void pointer. This is illegal both in ANSI C and C++, although allowed by many compilers.

There's no good reason to have such code in the codebase.

**To Reproduce**
Pass -pedantic-errors or -Werror-pointer-arith to GCC build.

**Reproduction Rate**
100%

**Expected behavior**
No illegal C/C++ constructs used.

**Im

[2019-10-08 14:10] plbossart commented on #1885
yes we have plans to provide signed releases. I am not sure we can do signed nightly builds due to logistics, @lgirdwood would need to comment.

The problem you have is a bug on our side, we should be backwards compatible with the 1.3 firmware and topology even when updating the kernel. @ranj063 @kv2019i does the dmesg trace above ring a bell?

@xiulipan @wenqingfu as discussed we need to have a k

[2019-10-08 14:42] plbossart commented on #1913
+1

[2019-10-08 16:27] tokyovigilante commented on #1885
Thanks again for the reply, that's good to know releases will be ongoing.

I should mention the above dmesg trace is after symlinking from `sof-hda-generic.tplg` to `sof-cnl-nocodec.tplg`. Lenovo provided only the `sof-hda-generic.tplg` and without the symlink (but with the 1.3 firmware and the 5.4 kernel i get:

<detail>
<summary>
dmesg
</summary>

[code]

</detail>

[2019-10-08 18:52] plbossart commented on #1885
I think you have a config issue for your kernel, most likely you didn't select HDAudio support.

please make sure you have this enabled.
CONFIG_SND_SOC_SOF_HDA_LINK=y
CONFIG_SND_SOC_SOF_HDA_AUDIO_CODEC=y

[2019-10-09 07:01] bardliao commented on #1839
@YvonneYang2 Could you test it with latest FW? It seems that I can't reproduce the issue with latest FW.

[2019-10-09 07:40] singalsu commented on #1475
@wwittbrx This is labeled as P1 bug but with no further input it's hard understand what happens. Can we close this if it was just one possibly broken device?

[2019-10-09 07:41] Jiangxinx commented on #1911
This issue also can be observed on apl platform.

[2019-10-09 07:51] tlauda commented on #1911
@Jiangxinx Please provide FW logs from APL.

[2019-10-09 08:06] Jiangxinx commented on #1911
Add apl logs:

**Screenshots or console output**
[code]

**dmesg**
[code]

**sof-logger**
[code]

**Environment**
Firmware: c8bc4b2c https://github.com/thesofproject/sof/commits/master
Kernel: 0f665a4f  https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-apl-pcm512x.tplg
platform： APL

[2019-10-09 08:13] tlauda commented on #1911
@Jiangxinx Are you playing on HDA?

[2019-10-09 08:19] Jiangxinx commented on #1911
@tlauda No, I played using I2S device ( -Dhw:0,0 ).

[2019-10-09 08:53] kamal-ap opened #1915 "[BUG][CML][sof0.7] KWD feature is broken"
**Describe the bug**
SOF release 0.7
URL: https://github.com/thesofproject/linux/commits/topic/keyword_detect
Commit: 6664b426664b42  Tag: release-sof-cml-kwd-20190809

SOF FW source | URL: https://github.com/thesofproject/sof/commits/cml-007-drop-stable       Commit: 0207c7546fe23607249279162c7742fad0e93475

Chromium backported kernel  : https://chromium-review.googlesource.com/c/chromiumos/third

[2019-10-09 09:00] tlauda commented on #1915
@kamal-ap Could you attach full dmesg and also FW logs from logger app?

[2019-10-09 10:48] tokyovigilante commented on #1885
I reviewed my config and those opions were indeed not present, however I could not find them even after running `make oldconfig` with the standard Fedora config copied over, nor with `make olddefconfig`. However they seemed to build after merging the relevent fragments from `sof/kconfig`

However I am still unable to load the 1.3 firmware/topology:

<details>
<summary>dmesg:</summary>

[code]

</d

[2019-10-09 15:02] tokyovigilante commented on #1885
That's with the symlink removed, the only 1.3 topology file Lenovo is currently providing is `sof-hda-generic.tplg`, so I assume those messages relate to the nocodec topology being absent.

[2019-10-10 01:51] xiulipan commented on #1885
@plbossart @mengdonglin
We will try to add a matrix of test for daily test for CI:
FW: release 1.3/1.4/master
Kernel: sof-dev/linux/audio for-next
Any other release version need to be tracked?

[2019-10-10 02:37] plbossart commented on #1885
@xiulipan it'd be good if you can test integration/soundwire-latest with the SoundWire options enabled on older platforms w/o SoundWire, just to check if things work without any impact from the added SoundWire initializations/parsing.
Just today I found a case I didn't manage on Up2 w/ hda-generic-idisp so it'd be quite good before going upstream. We should use the latest firmware there. It's a di

[2019-10-10 03:20] YvonneYang2 commented on #1839
Check it on icl 3-in-1 with test recipe as below , issue cannot reproduce.

Test recipe:
Firmware: fe68e9b https://github.com/thesofproject/sof/commits/master
Kernel: 0df05b7 https://github.com/thesofproject/linux/tree/integration/soundwire-latest
tplg:  sof-icl-rt711-rt1308-rt715-hdmi.tplg rename sof-icl-rt711-rt1308-rt715.tplg  path same as FW branch
platform: ICL RVP, with codec ALC711 -RT1308,

[2019-10-10 03:21] #1839 closed

[2019-10-10 11:03] tlauda commented on #1632
@singalsu I think it is fixed. There is #842 mentioned in bug description and it's already merged, so I think we're good.

[2019-10-10 11:07] tlauda commented on #859
Implemented.

[2019-10-10 11:32] #1406 closed

[2019-10-11 10:05] tlauda commented on #1843
@singalsu On BYT it looks even worse with 48 kHz:

![image](https://user-images.githubusercontent.com/40232714/66643641-71dd9880-ec1f-11e9-93b9-0f70c3d7fc24.png)

[2019-10-11 12:22] wwittbrx commented on #1915
Hi @kamal-ap I have checked your recipe on Ubuntu CML platform and I have reproduced the 'failed to trigger DETECT9.0' error. However, this error happens on pipeline shutdown when we free the components (after GLB_STREAM_MSG: TRIG STOP). It does not have any effect on KD detection and your recorded file should look fine and arecord should exit successfully.

To put it simply the error happens afte

[2019-10-11 22:05] keyonjie commented on #1915
@kamal-ap which platform were you running on? It looks there are difference b/w rt5682 and rt1011.

[2019-10-12 01:30] aiChaoSONG opened #1923 "[BUG] Topology load failed on CML Chrome"
**Describe the bug**
Topology load failed

**To Reproduce**
reboot system and check dmesg

**Reproduction Rate**
100%

**Expected behavior**
Topology should be loaded successfully

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel driver).
    * Kernel: {5edcfdf3}
    * SOF: {c7d01494}
2) Name of the topology file
    * Topology: {sof-c

[2019-10-12 01:49] aiChaoSONG commented on #1923
caused by [cfe81f512](https://github.com/thesofproject/sof/commit/cfe81f5127eb9ba8267e6481b34f686db91d0079)

[2019-10-12 08:29] Bin-QA opened #1924 "[BUG][TGL] multi-pipeline playback or capture failed with 'DSP panic'"
**Describe the bug**
Running multiple pipelines can cause DSP Panic on TGL.

**To Reproduce**
Scenario 1:
Playback via headset (device 0,0) and HDMI monitor (device 0,4) simultaneously.
1. In terminal to run "aplay -D hw:0,0 -f dat 48California_Dreaming.wav"
2. In other terminal to run "aplay -D hw:0,4 -f dat 48California_Dreaming.wav"

Scenario 2:
Playback and capture via headset simultaneously.

[2019-10-12 10:10] YvonneYang2 opened #1925 "[BUG][SDW]arecord+aplay will cause I/O error."
**Describe the bug**
aplay 0,0/2/3 + arecord 0,4--> ctrl+z and fg on arecord 0,4 --> I/O error
arecord 0,1 and arecord 0,4 --> pause/release --> I/O error
arecord 0,1 + aplay 0,0/2/3 aplay --> I/O error
Seems commit f648e8a (https://github.com/thesofproject/linux/pull/1070/commits) has been removed in soundwire-latest branch
error log is same as https://github.com/thesofproject/sof/issues/1578

**

[2019-10-12 10:41] YvonneYang2 opened #1926 "[BUG][SDW]Switch source in sound setting, sound output stopped but paplay still running."
**Describe the bug**
Switch source in sound setting, sound output stopped but paplay still running.

**To Reproduce**
1.paplay via command "paplay test.wav -vvv "
2.open sound settings and switch output source between speaker and headphone.

**frequency**
100%

**Expected result**
Palay work normally.

**Actual result**
Paplay has sound output before switch source, then sound stopped but paplay st

[2019-10-12 10:49] ClarexZhou opened #1927 "[BUG][SDW] Parecord can't capture audio normally(keeps repeat the latest word before change volume) if change input volume from sound setting"
**Describe the bug**
Parecord can't capture audio normally if change input volume from sound setting

**To Reproduce**
1. Capture audio via "parecord 1.wav -vvv"
2. Open sound setting, select input source
3. Change input source volume

**Reproduction Rate**
100%

**Expected behavior**
Parecord  volume should be changed and should capture audio successfully.

**Impact**
Parecord can't capture audio

[2019-10-12 15:14] plbossart commented on #1927
@ClarexZhou please update your bug description with a better wording than "can't capture audio normally". Does it stop playing, if the volume not right, is the audio distorted? The description is not clear enough as is, we can't figure out what 'normal' means

[2019-10-14 01:18] ClarexZhou commented on #1927
Audio isn't captured after volume is changed. Always repeat the latest word before changing volume.
eg.  Speaker "test one two three"-> then change volume->speak others-> always "three" is repeated to play after volume changed.
Attach the recorded audio file.
[1.zip](https://github.com/thesofproject/sof/files/3722695/1.zip)

[2019-10-14 06:02] YvonneYang2 commented on #1927
Issue is caused by commit 71d9ee4(master branch)

@tlauda Could you have a look? Thanks.

[2019-10-14 06:24] YvonneYang2 opened #1928 "[BUG][SDW] IPC timed out for 0x60050000: GLB_STREAM_MSG: TRIG_STOP occurred during multipipline stress test."
**Describe the bug**
IPC timed out for 0x60050000: GLB_STREAM_MSG: TRIG_STOP occurred during multipipline stress test.

**To Reproduce**
Run command "./multiplex_pipeline-test.sh pcm0p pcm4p pcm1c pcm2c pcm3c"

**Reproduction Rate**
1/54

**Expected behavior**
Multipipline works normally.

**Impact**
Dmesg shows 0x60050000: GLB_STREAM_MSG: TRIG_STOP.

**Environment**
Firmware: e755494 Master
Kerne

[2019-10-14 07:17] Bin-QA commented on #1924
Verify patch:  https://patch-diff.githubusercontent.com/raw/thesofproject/linux/pull/1037.patch
Couldn't catch "POSTION" in dmesg keyword
This Bug still exist

[2019-10-14 07:50] jajanusz commented on #1924
@Bin-QA Repro recipe is incomplete - What kernel did you use?

[2019-10-14 07:55] Bin-QA commented on #1924
@jajanusz internel test kernel

[2019-10-14 08:55] jajanusz commented on #1924
@Bin-QA We don't work on BUGs with kernel that we don't have, if you want us to reproduce error, please give commit hash of kernel that you see error with.

[2019-10-14 09:45] slawblauciak commented on #1924
Please check on a timer-driven pipeline, with SSP or SDW.
To make a pipeline timer-driven in the topology, the 11th param of PIPELINE_PCM_ADD has to be set to SCHEDULE_TIME_DOMAIN_TIMER.

[2019-10-14 10:29] xiulipan commented on #1924
@jajanusz Can you try to dump the exception with sof-coredump-to-gdb.sh?
The exception is attached.

[2019-10-14 14:47] singalsu commented on #1632
@tlauda I'm having problems to replicate this. I've set up for testing capture SRC pipelines for both 48 kHz and 16 kHz DMIC DAI. Capture 48 -> 48 kHz via SRC works but e.g. 48 -> 16 kHz doesn't. It's maybe the reported issue. Capture for 16 ->16 kHz, 16 -> 32 kHz,  works OK.

In module src.c line 589 "params->rate = cd->source_rate;" looks suspicious. I think it should be instead "params->rate =

[2019-10-14 14:51] tlauda commented on #1632
@singalsu What is the pipeline and FW commit you are using and getting crash?

[2019-10-14 14:52] singalsu commented on #1632
I'm using git master fetched today with a custom topology. We don't have in git any capture SRC topologies.

[2019-10-14 14:54] tlauda commented on #1632
@singalsu Can you describe how does the pipeline look like and what are the params? I would like to reproduce it on my end.

[2019-10-14 14:58] singalsu commented on #1632
I need to clean up for you a topology to test with. I'll email it tomorrow.

I'm currently using patched bxt pcm512x machine driver to introduce the DMIC BEs. The topology contains one playback SRC and two capture SRCs. To avoid the complexity I'll make a simple nocodec machine driver topology with single SRC capture pipe.

[2019-10-14 18:34] plbossart opened #1937 "[BUG] DSP panic when using SSP0 on BYT"
**Describe the bug**

For BYT-CR, we need to use SSP0 instead of SSP2. A tentative kernel patch is suggested here:
https://github.com/thesofproject/linux/pull/1312

The PR generates a DSP panic, which can be reproduced with the regular kernel with partial changes to the topology.

It's likely that I don't fully get the topology changes needed, but regardless a DSP panic is a really bad thing ...

[2019-10-14 18:36] plbossart commented on #1937
@ranj063 could you take a look at the topology file changes to see if there is anything obvious that should be fixed?

[2019-10-14 21:34] fredoh9 commented on #1845
I got a CHT UP board from @lgirdwood today. Usually we allocate at least two devices for a platform.
Need to discuss with internal team and update here.

[2019-10-14 21:38] plbossart commented on #1845
I was not able to progress with the Up board since the extra pinctrl patches we used back in the 4.14 time no longer apply, and I have no idea how to set-up the pins needed for I2C/I2S as needed. There doesn't seem to be a path to upstream this work, so this board looks like a dead-end for our audio work.

[2019-10-15 04:07] sathyap-chrome commented on #1915
@keyonjie  This is run on Helios : this uses RT5682 for Headset and RT1011 for SPK AMP.

[2019-10-15 07:19] aiChaoSONG commented on #1869
I bisect commit by commit, sof commit a35ec91 cause this issue. As the commit is from 40 days ago, please look at it and fix this issue asap. @mrajwa

[2019-10-15 07:56] tlauda commented on #1937
@plbossart Could you check with https://github.com/thesofproject/sof/pull/1942?

[2019-10-15 08:25] aiChaoSONG opened #1943 "[BUG]demux tplg load failed on CML chrome"
**Describe the bug**
demux topologys load failed on CML chrome, but with different error message(see below).

**To Reproduce**
use demux topology (sof-cml-demux-rt5682.tplg or sof-cml-demux-rt5682-max98357a.tplg)

**Reproduction Rate**
100%

**Expected behavior**
tplg should be loaded successfully

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and li

[2019-10-15 10:02] Bin-QA commented on #1924
Add kernel configure for Kernel

[config.txt](https://github.com/thesofproject/sof/files/3728588/config.txt)

[2019-10-15 20:32] plbossart commented on #1937
@tlauda PR #1942 does improve things, I don't get a DSP panic but a regular IPC error.

[code]

now I need to figure out how to replace SSP2 by SSP0, which is about to test my understanding of topology stuff (or lack thereof rather).

[2019-10-15 20:47] ranj063 commented on #1937
@plbossart the topology changes look good. Im not sure why you're seeing this error. I had a similar error on my BYT this morning that got resolved by updated my FW with master

[2019-10-15 21:14] tlauda commented on #1937
@plbossart As I already mentioned, you're getting this error because you are running the stream without previously configuring SSP 0 with DAI config. I suspect that this is the reason:
[code]

Wild guess, but maybe the second number is the actual dai index?

[2019-10-15 21:20] tlauda commented on #1937
Edit: To be precised, you're sending dai config to the dai, which doesn't exist.

[2019-10-15 22:01] plbossart commented on #1937
no, the first number is definitively the DAI index, and the second the dai link index.

the error does not happen while loading the topology but when playing audio. I believe I am sending the SSP0 index during the IPC_DAI_CONFIG, but I am not sure what happens during the hw_params (can't figure out how the DAI IPC happens).

There are additional issues with the topology, doing a blind change for S

[2019-10-16 07:57] #1923 closed

[2019-10-16 08:06] Jiangxinx commented on #1911
This issues still can be reproduced on BYT platform. However, the phenomenon is very strange.
I tested it on two similar devices (byt-nocodec) ,and one can reproduce it, another cannot reproduced it. It seems that this issue is not related to the sof version, and will suddenly appear from time to time.

**Environment**
Firmware: b5982a46 https://github.com/thesofproject/sof/commits/master
Kernel:

[2019-10-16 08:51] YvonneYang2 commented on #1927
Only test it with master + #1935 + thesofproject/linux#1277 since has conflicts when merge #1946. Issue cannot reproduce on icl 3-in1 rvp.

[2019-10-16 08:54] #1943 closed

[2019-10-16 09:08] aiChaoSONG commented on #1700
issue can be produced on Hatch with sof-cml-demux-rt5682.tplg and sof-cml-demux-rt5682-max98357a.tplg

[2019-10-16 09:27] tlauda commented on #1937
@plbossart You're changing dai index just in DAI_CONFIG but not in DAI_ADD macros. Basically you are configuring SSP 0, but you have DAI components connected to SSP 2.

[2019-10-16 09:42] tlauda commented on #1937
@plbossart Try #1951. It should return an error on dai config.

[2019-10-16 10:44] sathyap-chrome commented on #1915
We got report that this issue is specific to 1 platform and its mostly due to low DMIC gain.
We can close this bug and we can track the specific issue and get back if we need sof team support.

[2019-10-16 11:01] tlauda commented on #1632
Should be fixed with #1947 and #1952.

[2019-10-16 11:18] singalsu commented on #1632
@tlauda Thanks! I'll test the combination of those.

[2019-10-16 12:09] dbaluta opened #1954 "ipc_comp_dai_config really needs some refactoring"
ipc_comp_dai_config really needs some refactoring. Outer switch can be replaced with an if so that we can decrease the number of indentation levels.

This is a good first issue.

_Originally posted by @dbaluta in https://github.com/thesofproject/sof/pull/1951#issuecomment-542668791_

[2019-10-16 12:37] singalsu commented on #1632
Yep, I'm happy to confirm that these both applied fix the SRC related problems!

[2019-10-16 17:26] ranj063 opened #1958 "[BUG]No errors reported when a new pipeline with an already existing pipeline ID is created"
**Describe the bug**
When a new pipeline is created, the FW checks to see if the comp_id exists but doesnt check if the pipeline_id already exists.

The problem is that when creating topology, there is no way to verify that the pipeline ID's are unique. The issue is compounded when we load multiple topologies with each topology oblivious to the pipeline ID's in the other topology.

**To Reproduce*

[2019-10-16 17:33] ranj063 commented on #1958
@tlauda there are 2 ways to fix this problem and I suppose we need both.
The FW should reject a new pipeline request with a duplicate pipeline ID.
Also, in the driver we could have a monotonically increasing pipeline ID's that make sure that the ID's are always unique. But this would mean that the pipeline ID that the topology provides is only a reference and could be overwritten by the driver.

W

[2019-10-16 18:03] tlauda commented on #1958
@ranj063 Agree on the first one, however I'm not sure how would you like to resolve the second one. In topology we define DAI apart from the rest of the pipeline and "connect" them together based on pipeline id. How would the driver know which DAIs are connected to which pipeline and how to pair them? In theory we can change PIPELINE macros in topologies, so it will take DAI as an argument. This w

[2019-10-16 18:13] ranj063 commented on #1958
The pipeline ID's are only used to find out the name of the widget to connect to. So for example, PIPELINE_SINK_1 should translate to BUF1.1 and the SSP2.out would connect to BUF1.1. So in the end what we are left with is just connections between widget names. The driver deals with this already. With multiple topologies, it is going to be hard to put down the requirement that the pipeline ID's hav

[2019-10-16 18:20] tlauda commented on #1958
@ranj063 If the driver can handle your idea, then go for it. I will take care of the first issue.

[2019-10-16 18:56] plbossart commented on #1958
On 10/16/19 1:20 PM, Tomasz Lauda wrote:

I am not hot on the driver mucking with the topology...

[2019-10-16 19:01] ranj063 commented on #1958
@plbossart the solution to require different topologies to have unique pipeline ID's would not scale very well. We might be OK today with a limited number of topologies but this would be very hard to monitor when there different kinds of clients. The "mucking" part that I am proposing is actually not evil at all. Each topology file can have pipeline ID's starting at 1 but in reality they are just

[2019-10-16 19:04] plbossart commented on #1958
well, you need to talk to Cezary here, since the topology does define
the buffer IDs that will be used for the probe. So if the driver starts
reallocating IDs, it'll make the probe usage more complicated.

[2019-10-16 19:10] ranj063 commented on #1958
hmm what do you mean by buffer ID here?
The buffer widget in the conf file only has the information as below. The widget ID is actually allocated in the driver. The "index" part is what bothers me a bit in my solution. Each widget comes associated with a pipeline ID and this information needs to be updated in the driver if I want to modify the pipeline ID's. But like I said, I think it might be po

[2019-10-17 03:35] #1915 closed

[2019-10-17 05:06] #1924 closed

[2019-10-17 07:56] keqiaozhang commented on #1924
@jajanusz
This issue is gone after applying https://github.com/thesofproject/sof/pull/1955 and https://github.com/thesofproject/sof/pull/1956.

[2019-10-17 08:00] tlauda commented on #1937
@plbossart Can we close the issue?

[2019-10-17 11:40] tlauda commented on #1958
@ranj063 Issue fixed on FW side. Let's move this discussion outside of this bug.

[2019-10-17 11:40] #1958 closed

[2019-10-17 13:44] #1853 closed

[2019-10-17 13:44] #1771 closed

[2019-10-18 06:52] jdrzaszcz commented on #1632
Checked on slim driver with master commit (81cc31b4ab34dab1378a18f686214256dfe407e3) and src component works on playback and capture pipeline. With both conversion from lower to higher sampling rates and higher to lower.

[2019-10-18 06:59] #1632 closed

[2019-10-18 07:18] jdrzaszcz opened #1966 "[BUG] - Timeout Error on play stream with audio formats 8kHz 16/16 1ch and 24 kHz 16/16 1ch"
**Describe the bug**
Timeout error i.e. in simple loopback test and parallel internal.
In recorded files we have got some correct wave with 3 period size on the very beginning of the file. After this time playback stream fails and record stream got zeros.

**To Reproduce**
Use formats:
8 kHz 16/16b 1 ch
24 kHz 16/16b 1 ch
Run test_00_ptp_simple_loopback.py or test_01_ptp_parallel_internal.py from

[2019-10-18 11:04] zeroDivider commented on #532
Solved by deleting :'D perfect

[2019-10-18 12:48] singalsu opened #1971 "[BUG] SRC gain varies in different conversions by 1 dB"
**Describe the bug**
To avoid distortion due to saturation of signal overshoots in SRC with some challenging music content the rate conversions filters were added a small attenuation. Now e.g. 8 to 48 kHz conversion and 44.1 to 48 kHz conversion have different gain (-2 dB, -1 dB) while it should be the same -1 dB for all conversions. The pre-determined gains for filter sections got messed up due t

[2019-10-20 13:35] PaulVanSchayck commented on #1885
I'm hitting a similar looking problem on Ubuntu 19.10 (and also on a Lenovo X1 7th gen) using the Ubuntu kernel 5.3.0-18-generic. When checking its config it reports this:
[code]
I'm also getting this error where it loads the nocodec machine driver:
[code]
Would this be an issue with this particular kernel config, and we need to talk to the Ubuntu devs to enable the other options? Or is there some

[2019-10-21 03:08] aiChaoSONG opened #1973 "[BUG] ipc timeout when play via speaker pipeline with demux tplg"
**Describe the bug**
On CML Chrome(hatch), when play via speaker pipeline, first hw params install failed in the  terminal, check dmesg, you can see DSP panic and ipc timeout

**To Reproduce**
run aplay on speaker pipeline: `aplay -Dhw:0,6 -f dat -c 2 -i -vvv ./long.wav`

**Reproduction Rate**
%100

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and l

[2019-10-21 06:53] YvonneYang2 opened #1974 "[BUG][SDW]Paplay playback has repetitive overrun and drained after waking up from s3 during paplay."
**Describe the bug**
Paplay playback stream drained when wake up from s3 during paplay.

**To Reproduce**
1.Paplay speaker/HDMI/DP via command "paplay wav/paplay wav/48California_Dreaming.wav -vvv"
2.Do s3 via "sudo rtcwake -m mem -s 10"

**frequency**
4/5

**Expected result**
Paplay output normally after wake up from s3

**Actual result**
paplay stopped and playback stream drained after wake up f

[2019-10-21 07:47] sinahuang commented on #1974
issue still can be reproduced on CML RVP with codec ALC700 in SDW mode

[2019-10-21 09:54] ClarexZhou opened #1975 "[BUG] [SDW] Headset and DMIC name should update in "aplay -l" and "arecord -l""
**Describe the bug**
Headset and DMIC pipline name should update.

**To Reproduce**
1. aplay -l to check the pipline name
2. arecord -l to check the pipline name

**frequency**
100%

**Actual result**
'SDW0-speakers (*)' is shown for headset.
SDW3-mics (*) is shown for DMIC
[code]
**Expected result**
Headset and DMIC name should be listed. Take below on GLK for example.
[code]

**Environment**
ker

[2019-10-21 11:23] bardliao commented on #1975
@ClarexZhou The name is define on topology. Is there any rule that we can follow?  Actually, I don't know why "SDW0-mics" is acceptable but "SDW3-mics" is not.

[2019-10-21 11:32] plbossart commented on #1885
@PaulVanSchayck can you attach the config? I wonder why nocodec is even selected.

[2019-10-21 11:36] plbossart commented on #1975
yeah, it's not a bug, it's just a naming convention in the topology file

We can follow the convention 'headset', 'speakers', 'mics' as needed.

But even for GLK, a playback stream called 'headset' is not very good if you use a headphone with no mics.

[2019-10-21 11:43] PaulVanSchayck commented on #1885
@plbossart Here you go. Once again, this is the stock Ubuntu kernel for 19.10, built by Canonical.

[config-5.3.0-18-generic.txt](https://github.com/thesofproject/sof/files/3750535/config-5.3.0-18-generic.txt)

[2019-10-21 12:27] plbossart commented on #1885
ok, no idea why Ubuntu enabled 'nocodec'.

[code]

These two options should be removed really:
CONFIG_SND_SOC_SOF_NOCODEC=m
CONFIG_SND_SOC_SOF_NOCODEC_SUPPORT=y

That said, this doesn't explain why an HDaudio card is not detected. I'll try with the Ubuntu kernel from git://git.launchpad.net/~ubuntu-kernel/ubuntu/+source/linux/+git/eoan with this config.
 

[2019-10-21 12:48] plbossart commented on #1885
ok, this is definitively an Ubuntu issue.
They defined NOCODEC support, which is mutually exclusive with HDAudio support! when you remove the NOCODEC support, then a new option shows up for HDAudio support.

The config should be modified with the following diffs

[code]

full file here:
[config-5.3.0-18-fixed.txt](https://github.com/thesofproject/sof/files/3750806/config-5.3.0-18-fixed.txt)

[2019-10-21 16:05] tokyovigilante commented on #1885
It turns out this was the issue for me too sorry, I had the HD audio codec enabled but also the nocodec option, disabling this allows the 1.3 firmware/topology to work with kernel 5.4 and my existing pulseaudio config/ALSA UCM. Sorry about that!

[2019-10-21 20:39] PaulVanSchayck commented on #1885
Thanks for the help and double checks Pierre.

After searching the Ubuntu Kernel tracker, turned out this was already self-reported by the Ubuntu developers a couple of days a go in [this bug report on launchpad](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1848490).

[2019-10-22 00:25] keyonjie opened #1980 "[BUG] SOF FW compiling fail when disable TRACE in menuconfig"
**Describe the bug**
SOF FW compiling fail when disable TRACE in menuconfig

**To Reproduce**
run make menuconfig, de-select the TRACE, save and build.

**Reproduction Rate**
100%
**Expected behavior**
build should success.
**Impact**
It block debugging the FW behavior on removing trace.

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kerne

[2019-10-22 03:15] YvonneYang2 opened #1981 "[BUG][SDW] Xrun error occurred when run aplay(RT711) stress test."
**Describe the bug**
Xrun error occurred when run aplay stress test at 486 times. Terminate it and restart aplay can recover.

**To Reproduce**
Run aplay stress test via "./sof-test-playback.sh" (aplay0,0)

script:
[sof-test-playback.sh.txt](https://github.com/thesofproject/sof/files/3753717/sof-test-playback.sh.txt)

**frequency**
1/486

**Expected result**
Aplay normaly

**Actual result**
Aplay

[2019-10-22 05:00] tlauda commented on #1981
@YvonneYang2 Does it reproduce with linux#1277 included?

[2019-10-22 06:09] YvonneYang2 commented on #1981
Test it with linux#1277, issue not reproduced after running 500 times.  Same with https://github.com/thesofproject/linux/issues/1329

[2019-10-22 08:15] dengyangchao commented on #1981
when use headset start a playback/or repeat playback several times, it will occur I/O error
on ICL RVP, with onboard codec ALC700 in SDW mode

kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest  29debf8
sof: https://github.com/thesofproject/sof/commits/master  1dbd14b
Tplg:  sof-icl-rt700.tplg

<details>
 <summary>Logger-error</summary>

[code]
</details>

[dmesg.log]

[2019-10-22 13:22] paulstelian97 commented on #1980
i.MX is also affected. I'm getting compile error from kpb.c,

[2019-10-22 13:31] paulstelian97 commented on #1980
Tentative fix pushed.

[2019-10-22 15:14] juimonen commented on #1911
ack. will start checking tomorrow...

[2019-10-22 18:27] #1980 closed

[2019-10-22 18:44] paulstelian97 commented on #1980
@keyonjie Can you please check the issue is resolved? (if not please reopen)

[2019-10-22 19:51] fredoh9 opened #1988 "[BUG][BYT] alsabat frequency analysis fails due to waveform distortion"
**Describe the bug**
alsabat frequency analysis fails occasionally due to waveform distortion in BYT_MB_NOCODEC platform. This is not 100% but easy to reproduce, 1-2 failures out of 10 test. NOCODEC mode use SOF firmware SSP loopback.

**To Reproduce**
Run alsabat test and check test result

1. simple test
alsabat -Dhw:0,0 -c 2 -r 48000 -f s16_le

2. save to file and standalone analysis
 alsabat -

[2019-10-22 20:26] tlauda commented on #1988
Could you check whether #1984 improves it?

[2019-10-22 20:39] fredoh9 commented on #1988
@tlauda sure, i can pick up #1984 and update the results here

[2019-10-22 21:30] fredoh9 commented on #1988
@tlauda I updated only sof build. booting fine loading firmware and tplg is fine. But any aplay have hw_param failed with IPC error

[1022_new_pr1984_ipc_error.log](https://github.com/thesofproject/sof/files/3758718/1022_new_pr1984_ipc_error.log)

[2019-10-22 21:34] tlauda commented on #1988
Weird. It passes CI flawlessly.

[2019-10-23 01:41] RanderWang opened #1989 "[BUG] PM status is active for SDW master with non-existence SDW device"
On Comet-lake with 3 SDW codecs, rt715 on link0,  rt1308 on link1,  rt715 on link3 and no device on link2.  After rebooting, SDW2 master on link2 is always active, and this makes SOF always active.

The expect behavior is if there is one link without any devices, their pm_runtime status should be marked as ‘Unsupported’, and that should not prevent the system from going to sleep nor should it have

[2019-10-23 06:17] tlauda commented on #1989
What does it have to do with firmware?

[2019-10-23 06:33] juimonen commented on #1911
using latest kernel & fw, very easy to reproduce this error with pause/release:
aplay: pcm_write:2011: write error: Input/output error

attaching fw log, @tlauda any idea?
[byt_fw_log.txt](https://github.com/thesofproject/sof/files/3760557/byt_fw_log.txt)

is byt affected by the 3 periods change?

[2019-10-23 06:34] juimonen commented on #1911
and the above was with nocodec topology

[2019-10-23 07:11] juimonen commented on #1911
@tlauda yes https://github.com/thesofproject/sof/pull/1984 seems to help and I can't reporoduce it now.

[2019-10-23 07:21] YvonneYang2 commented on #1981
Issue not reproduced with test recipe as below (linux#1277 has been merged)

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 7c85d69
FW: https://github.com/thesofproject/sof/commits/master  commit: 8b059f6
tplg: Same with FW branch, sof-icl-rt711-rt1308-rt715-hdmi.tplg  rename  to  sof-icl-rt711-rt1308-rt715.tplg
platform: ICL RVP, with codec A

[2019-10-23 07:39] juimonen commented on #1911
@Jiangxinx can you also try/verify with #1984? my test's we're very minimal, but could not reproduce the issue..

[2019-10-23 07:54] Jiangxinx commented on #1911
@juimonen @tlauda Very strange, I tried  #1984 , I still can reproduce it on my device.

 ##Environment##
Kernel: 21147939  https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-byt-nocodec.tplg
platform： BYT

##sof-logger##
[code]

[2019-10-23 08:03] tlauda commented on #1911
@Jiangxinx Could you attach full log from sof-logger -t? Also does it reproduce only on one machine or on couple of them. This particular error looks like some kind of HW problem.

[2019-10-23 08:09] Jiangxinx commented on #1911
@tlauda Attached the full fw log:
[logger.log](https://github.com/thesofproject/sof/files/3760975/logger.log)

[2019-10-23 08:12] Jiangxinx commented on #1911
@tlauda Yes, I tried two machines,  another one still can not reproduce it, but my device is very easy to reproduce it.

[2019-10-23 09:43] dengyangchao opened #1992 "[BUG][TGL] Can't change the actual Dmic capture volume through volume controler"
**Describe the bug**
adjust Dmic volume through volume controler but it is no change to fact volume
and the Dmic  volume bar seems a boost, adjust the volume once, it gain 10 dB
![Capture](https://user-images.githubusercontent.com/52945407/67378840-75c3d000-f5ba-11e9-8b80-6470edb6761d.PNG)

**To Reproduce**
1.reboot system via "sudo reboot"
2.wait system to suspend status
3. Arecord via"arecord -D

[2019-10-23 11:04] #1981 closed

[2019-10-23 11:58] tlauda commented on #1911
@Jiangxinx I have no idea what is going on with this particular platform. I can't reproduce the issue on any other BYT. After stopping and restarting DMA there is no interrupt coming and we cannot stop DMA. Hardware is stuck. Could you look for the differences between platforms? Maybe BIOS is different or has different settings? I've tried 3 different platforms and it didn't reproduce.

[2019-10-23 12:01] juimonen commented on #1911
@tlauda @Jiangxinx same here also: I've been hitting the space bar like crazy in my byt-mb-> no error... it just works for me with #1984

[2019-10-23 12:02] tlauda commented on #1988
@fredoh9 Could you retry? Nobody else sees this problem with #1984.

[2019-10-23 16:03] plbossart commented on #1989
yes, it's a pm_runtime bug on the kernel side. @RanderWang please move this to the Dark Side

[2019-10-23 17:45] fredoh9 commented on #1988
Sure, i will plan to build your PR and re-test again. I will update the result here

[2019-10-23 19:09] fredoh9 commented on #1988
I'm able to test with #1984, tlauda:topic/dma-separate-buffers-new.
Got better and less occurrence than before, but still I'm seeing  alsabat frequency analysis failure.

[2019-10-23 19:57] tlauda commented on #1988
@fredoh9 Could you attach recording screenshot? Does it look the same as previous ones?

[2019-10-23 20:06] fredoh9 commented on #1988
@tlauda yes and no. I found a missing samples problem. The others wasn't noticeable waveform like that. I will attach wavefiles and logs.

[2019-10-23 21:22] fredoh9 commented on #1988
I ran 100 loop on two BYT_MB_NOCODEC devices. failures are 6/100 and 8/100. It was much worse before.

1. fred-mb (6/100, attached 3 files)
[fred-mb.zip](https://github.com/thesofproject/sof/files/3764519/fred-mb.zip)
Some of them after zoom in, i could see missing samples. alsarec_140341.wav is not visible.

2. jf-byt-mb3(8/100, attached 2 files)
[jf_mb3.zip](https://github.com/thesofproject/sof/

[2019-10-24 01:34] mengdonglin commented on #1699
@xiulipan @jajanusz Is this issue fixed?

[2019-10-24 05:10] xiulipan commented on #1699
@mengdonglin No if we do not raise issue to Linux.
Do not have time to learn and play with checkpatch scripts.

Maybe we should create a bug report for checkpatch, need to find out where to create an issue.

[2019-10-24 05:32] RanderWang commented on #1989
sorry,  I should created this bug at kernel side. I will move it to kernel side

[2019-10-24 05:34] RanderWang commented on #1989
I made a mistake , it should be reported in kernel side

[2019-10-24 05:34] #1989 closed

[2019-10-24 07:00] akloniex commented on #1860
dma-trace API extended in PR https://github.com/thesofproject/sof/pull/1995

[2019-10-24 10:59] paulstelian97 opened #1999 "When traces are disabled, trace_* calls shouldn't expand to nothing"
@ktrzcinx do you mean that if we have something like this
[code]

and the ``trace_()`` expands to nothing then we are in big trouble?

_Originally posted by @dbaluta in https://github.com/thesofproject/sof/pull/1997_

[2019-10-24 12:56] ktrzcinx commented on #1999
I claim that when trace_* expands to nothing then it will be ok, but when trace_* expand to any code with more than one line of code without { } inside then it won't.
It will be need to spend much more time to debug what happen in such a situation in comparison with usage redundant parenthesis. I know that such a macro function is not a good solution but it is open source project and when using ex

[2019-10-24 13:15] paulstelian97 commented on #1999
@ktrzcinx This one is actually a non-issue as all multiline macros either are uppercase (obvious macros) or are wrapped around a `do { ... } while(0)` block. When I extended the trace function for my own platform (to also call some __dsp_printf() function which you can see in paulstelian97:topic/imx_wip) I wrap it around a `do {...} while(0)`. That's what all macros which don't have uppercase macr

[2019-10-24 13:26] paulstelian97 commented on #1999
A particular example of such is:

[code]

This is a multiline macro from within trace. To make trace_* macros act as functions this has been made into a `do {...} while(0)` macro. So in your case no need for the extra safety as the convention is that any bugs coming from weird flow control from macros with lowercase names are bugs in the macros themselves and need to be adjusted. Hence my issue.

[2019-10-24 13:32] ktrzcinx commented on #1999
Of course it is as you said. The only difference is that extra `{ }` allow to defense from errors in macros written out of convention and lack of then lead to malfunctioning code.

[2019-10-24 13:36] paulstelian97 commented on #1999
Guess you can add it in, my issue still stands though -- the macros themselves are written like functions and should act like functions, thus should be safe even if you don't take care like that.

[2019-10-24 13:38] dbaluta commented on #1999
@ktrzcinx I think the better defensive technique is to have save macros wrapped around ``do {} while(9)`` rather then expecting anyone using curly braces with if constructs.

[2019-10-24 16:37] wenqingfu commented on #1665
@zrombel ping for update...

[2019-10-24 16:42] wenqingfu commented on #1700
@fkaczmar to reassign

[2019-10-24 20:52] keyonjie opened #2000 "[BUG] CNL: tool-chain: LPS doesn't work in S0ix when building with old 2016.4 tool chain."
**Describe the bug**
LPS doesn't work in S0ix when building with old 2016.4 tool chain, the FW will crash after resumed from S0ix.

**To Reproduce**
1. checkout the cml-008-drop-stable branch commit 569c9495
2. build the FW with XTENSA_CORE="X6H3CNL_2016_4_linux", and XTENSA_TOOLS_VERSION="RF-2016.4-linux", which is the default setting for the building script:
https://github.com/thesofproject/sof/

[2019-10-25 05:28] wwittbrx commented on #1719
This is fixed on 89ef0af07612c0bcf1a85fec3871d0c31e60087b, closing

[2019-10-25 05:28] #1719 closed

[2019-10-25 06:28] aiChaoSONG opened #2002 "[BUG][CML][cml-008-drop-stable] ipc error in ipc flood test"
**Describe the bug**
running ipc flood test with cml-008-drop-stable branch(fw provided by Poland team), there will be an errer message: `bash: line 0: echo: write error: Invalid argument`, check dmesg, you will see ipc error.

**To Reproduce**
1. reboot system
2. run command `bash -c "echo 10000 > /sys/kernel/debug/sof/ipc_flood_count"
`

**Reproduction Rate**
10/10

**Environment**
1) Branch nam

[2019-10-25 06:33] Jiangxinx commented on #1911
Close it as it is HW problem.

[2019-10-25 06:33] #1911 closed

[2019-10-25 06:36] tlauda commented on #2002
@aiChaoSONG Test IPC is only available when FW is built with DEBUG option enabled in config. Pleasy verify your config.

[2019-10-25 06:42] tlauda commented on #95
@singalsu @kv2019i What is the idea here? Needed in FW or not?

[2019-10-25 06:46] tlauda commented on #710
It's disabled in FW.

[2019-10-25 06:46] #710 closed

[2019-10-25 06:50] aiChaoSONG commented on #2002
Closed for not valid

[2019-10-25 06:50] #2002 closed

[2019-10-25 06:51] tlauda commented on #1475
@wwittbrx To be closed?

[2019-10-25 07:00] ktrzcinx commented on #1999
I found some bigger trouble with previous code and at the opportunity I removed this `{ }` as you wish but I still think that best options is using 'do { } while(0)` in multiline macro functions and `{ }` in each if statement were content is not just **C/C++** keyword or rather in each if/while statement to be more consistent.

[2019-10-25 07:03] tlauda commented on #1784
@ClarexZhou Do we still have a repro?

[2019-10-25 08:18] tlauda commented on #1843
@singalsu Yes, it's clean also on BYT. Closing this one. Please create new bug.

[2019-10-25 08:18] #1843 closed

[2019-10-25 08:56] mrajwa commented on #1527
@tlauda, no we can close that.

[2019-10-25 08:57] singalsu opened #2004 "[BUG] Glitch and extra buffers output happens in the end of playback with media pipe"
**Describe the bug**
This bug was noticed when playing back 1s and 30s long low frequency sine wave test clip. Just before the heard output end there's an audible glitch. It appears in recorded audio as a discontinuity in the waveform. The glitch is about 100ms before the end independently of clip length.

The same happens if aplay is interrupted with ctrl-c. The glitch is near the end of audio ou

[2019-10-25 10:12] sinahuang commented on #1784
issue not reproduce on CML RVP with codec ALC700 in SDW mode
test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 1c3de3d
FW: https://github.com/thesofproject/sof/commits/master commit: 89ef0af
tplg: Same with FW branch, sof-icl-rt711-rt1308-rt715-hdmi.tplg  rename  to  sof-icl-rt711-rt1308-rt715.tplg
platform: CML RVP with codec ALC700 in SDW mode

[2019-10-25 10:18] ClarexZhou commented on #1784
Close for not reproduced

[2019-10-25 10:18] #1784 closed

[2019-10-25 11:26] zrombel commented on #1665
Bug cannot be reproduce on FW commit 89ef0 of master brach. Closing Issue.

[2019-10-25 11:26] #1665 closed

[2019-10-25 11:52] paulstelian97 commented on #1999
Well unless someone else picks up on this before me I'll get to fixing this one myself once the asserts change is merged.

Not having `{}` on `if` statements unless required by one of the branches is something coming from the Linux kernel coding style, which is also used within SOF. So:

[code]

But:

[code]

[2019-10-25 13:09] keqiaozhang opened #2006 "[BUG][KD] draining data is missing in S0ix"
**Describe the bug**
The draining data will be lost if trigger the WoV in S0ix. When checking the recorded wav file, I found that all the draining data before triggering is missing. Both S16_LE and S24_LE have same issue. But I feel S24_LE is worse, about 1s data after triggering is missing too.
BTW, there's no obvious errors in dmesg or trace log. Related logs are attached.
I also checked this ca

[2019-10-25 13:54] keqiaozhang opened #2007 "[BUG][KD] KD is unable to handle the extreme period_sizes"
**Describe the bug**
Looks like WoV is unable to handle the extreme period_size.
For S16_LE, the range of processing is (48, 4032), if period size is bigger than 4032, then trigger failure. if period size is less than 48, xrun and IPC errors occur. but wov still can be run in next time.
The range for S24_LE is (48 , 2040), if period size is bigger than 2040, DSP firmware oops occurs. If period is

[2019-10-25 14:49] zrombel opened #2008 "[BUG][APL][WHL][ICL] Parallel pipelines XRUN causing -22 ipc response error on trigger_pause or stream stall"
**Describe the bug**
On APL and WHL when running stress test for parallel pipelines one of pipelines is having xrun and is responding with error -22 on trigger_pause ipc.
On ICL when running stress test for parallel pipelines one of pipelines is having xrun and stream stall is detected.

**To Reproduce**
Run test scripts with slim driver
test cases:
tests/sof/fw_10_parallel/test_01_ptp_parallel_in

[2019-10-25 14:59] tlauda commented on #1700
@wenqingfu @aiChaoSONG #2009 should fix this problem. Remember that for whl platform you need to link sof-whl-demux topology. CML and WHL are using different SSPs.

[2019-10-25 15:04] aiChaoSONG commented on #1700
I will check this issue with your PR on Monday, better to be merged, if everything's fine, I will close this issue.

[2019-10-25 15:11] zrombel opened #2010 "[BUG][APL] KD with SSP - IPC timeout on TplgCompFree on DAI component"
**Describe the bug**
When running test Keyword Detection with SSP interface on APL RVP, when whole test is passed, when sending TplgCompFree to DAI, IPC timeouts.

**To Reproduce**
Run test scripts with slim driver
test cases:
tests/sof/fw_07_kd/test_02_kd_with_ssp.py::TestSspKd16000Hz16b16b2ch

**Reproduction Rate**
50%

**Expected behavior**
FW should free DAI component and send response IPC

**

[2019-10-25 15:18] zrombel opened #2011 "[BUG][WHL] KD with SSP - IPC response error -16 on StreamPmcFree"
**Describe the bug**
When running test Keyword Detection with SSP interface on WHL RVP, after stoping all streams, when sending StreamPmcFree to pipeline with KPB component FW responds with IPC error -16

**To Reproduce**
Run test scripts with slim driver
test cases:
tests/sof/fw_07_kd/test_02_kd_with_ssp.py::TestSspKd16000Hz24b32b2ch

**Reproduction Rate**
10%

**Expected behavior**
Stream should

[2019-10-25 15:28] tlauda commented on #2004
@singalsu Could you verify whether it happens with nocodec on loopback with the same pipeline? It looks like codec problem.

[2019-10-25 16:20] plbossart commented on #2006
What do you mean by 'draining data'? it seems your wording suggest that we are missing data buffered prior to the wake-up?

[2019-10-28 06:29] Liviali155 opened #2013 "[BUG][ICL][HDA]Pause aplay then enter s3, after wake up and resume aplay ,it tips"Input/out error""
**Describe the bug**
Pause aplay then enter s3, after wake up and resume aplay ,it  tips"Input/out error", All of headset /HDMI/DP can reproduce it.

**To Reproduce**
1.sudo reboot
2.aplay -Dhw:0,0 -fs16_le -c2 -r 48000 -vv -i wav/48California_Dreaming.wav
3.press space key to pause audio
4.sudo rtcwake -m mem -s 10 to suspend
5.after wake up press space key to resume audio

**Reproduction Rate**

[2019-10-28 06:37] tlauda commented on #2013
@Liviali155 What is this? No description, no logs, nothing...

[2019-10-28 07:53] Liviali155 commented on #2013
I am sorry,I have updated it

[2019-10-28 08:08] #1664 closed

[2019-10-28 08:09] jdrzaszcz commented on #1664
checked with master

[2019-10-28 08:36] tlauda commented on #2013
@plbossart @ranj063 State machine transitions are messed up in this one. Pipeline is in COMP_STATE_PAUSED in firmware, but instead of COMP_TRIGGER_RELEASE the kernel sends COMP_TRIGGER_START. Either you should send COMP_TRIGGER_RELEASE or COMP_TRIGGER_STOP/HW params/COMP_TRIGGER_START.
@Liviali155 Please move this issue to kernel.

[2019-10-28 08:36] #2013 closed

[2019-10-28 08:53] paulstelian97 commented on #2007
`    0      1          MEM         277600598.593750 277600608.000000      src/lib/alloc.c:273    error: 155 blocks needed for allocation but only 154 blocks are remaining`

Is this line relevant?

[2019-10-28 08:54] emilchudzik commented on #1819
Sorry for late reponse.
@lgirdwood sometimes it is only 1 sample, sometimes it is even 45 samples.
About SSP FIFO @akloniex @abonislawski could you help to answer.

[2019-10-28 10:01] macchian opened #2014 "[BUG][CML] Plug in Two TypeC HDMI/DP simultaneously, no audio playback on neither monitors."
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
The current Pin Mux settings we set on Chrome, it works with MST audio hub. The sound can play separately when switching audio between display monitors.

		cset "name='Pin5-Port0 Mux' 1"
		cset "name='Pin5-Port1 Mux' 2"
		cset "name='Pin5-Port2 Mux' 3"
		cset "name='Pi

[2019-10-28 10:20] emilchudzik commented on #1820
@lgirdwood @singalsu this test didn't used the codec. I made loopback on SSP using quirk:
/* ssc1: LBM */
#define SOF_DAI_INTEL_SSP_QUIRK_LBM		(1 << 6)

There is 1 playback pipeline Host-Buffer-Demux, after it there is 2 playback pipelines where demux redirect audio signal like a mirror. It should be the same signal on both Dai's.
Then on SSP there is a internal loopback.
Reproduce is very rare.

[2019-10-28 12:34] paulstelian97 opened #2015 "[BUG] FW Compile error when enabling verbose spinlock debug"
**Describe the bug**
A clear and concise description of what the bug is.

When selecting DEBUG and DEBUG_LOCKS_VERBOSE on the i.MX platform I get the following compile error:

[code]

(two times in my case, within the macro `spinlock_init`; I think dependent on platform this macro may be called a different number of times but I believe the error is actually not platform-specific)

**To Reproduce**

[2019-10-28 12:40] paulstelian97 commented on #2015
This issue was introduced with f7abaf7b; directly previous commit has different compile errors when I try to build it (`'struct comp_dev' has no member named 'lock'`, also within the same macro).

[2019-10-28 12:43] keqiaozhang commented on #2006
@plbossart
Yes, the 2.1s buffer data for wake-up.

[2019-10-28 13:56] plbossart commented on #2014
what does 'SST mode" mean? Is this a typo for MST, or did you mean the SKL driver?

[2019-10-28 14:04] plbossart commented on #1820
you should use a saw-tooth pattern with a fixed increment for each sample, so that we can see what the distorsion really is. From the waveform it's likely a buffer copied from the wrong location or a DMA setup issue.

[2019-10-28 16:47] lgirdwood commented on #1820
@emilchudzik chan0 above looks like R/W pointer sync issues, could be demux to DAI buffer. One other thing to you hear the distorion on the output or just on the capture. This could point to issue on capture DAI buffer.

[2019-10-28 16:51] lgirdwood commented on #2014
@macchian looks like a driver bug and not a FW bug ? (you have logged under FW)

[2019-10-28 17:04] #2008 closed

[2019-10-28 17:27] lgirdwood commented on #1845
@plbossart not too concerned about the pinctrl and codec integration here since we share SSP and DMAC with BYT. This is more about validating the clocking and timing differences, i.e. aplay -d 5 actually plays for 5 seconds and not 6.

[2019-10-28 17:30] lgirdwood commented on #1913
@kv2019i do you have an ETA for fix and also GCC flag updates ?

[2019-10-28 17:32] lgirdwood commented on #1900
@xiulipan it turns out it needs the group permissions to take effect alongside the non root guid. All working now.

[2019-10-28 17:32] #1900 closed

[2019-10-28 17:36] plbossart commented on #1845
@lgirdwood ok, then we can add an Up board now, it'll work just fine in nocodec mode. I am just a bit frustrated that we can't hear sound because of stupid GPIO setups.

[2019-10-28 18:18] wenqingfu commented on #1845
we will add bsw chromebook instead, won't add UP board to make better use of CI capacity.

[2019-10-28 19:14] plbossart opened #2020 "[BUG] logger does not compile with GCC 9.2.1"
**Describe the bug**

[code]

**To Reproduce**
install Ubuntu 19.10

**Reproduction Rate**
100%

**Expected behavior**
no compilation issues

**Environment**
firmware aa7c73c15635eedb53403bee11357b0b856c6537

[2019-10-28 19:18] lgirdwood commented on #2006
@keqiaozhang, @keyonjie do we have a standard script that we use for WoV testing ? It would be good to add this to our testing directory so that we can all align on the correct and supported usage.

[2019-10-28 19:18] plbossart commented on #2020
suggested diff to remove the error

[code]

but was it really intentional to do such unaligned reads?

[2019-10-28 19:21] lgirdwood commented on #2007
@paulstelian97 yep, not enough memory, but we also have a bug with the IPC timeout here.
@keqiaozhang period size limited by available free memory and topology constraints for PCM.

[2019-10-28 19:56] keyonjie commented on #2006
@lgirdwood I have local scripts for that but the are actually 'arecord' only, but need to specify "-M -N" to using mmap mode and non-blocking mode.

[2019-10-29 08:50] macchian commented on #2014
SST here is Single Stream Transport (SST).
By plugging in two TypeC DP/HDMI cable(SST) sequentially, I saw the errors as below:
[  407.066262] sof-audio-pci 0000:00:1f.3: firmware boot complete
[  407.100519] HDMI HDA Codec ehdaudio0D2: No connections found for pin:port 5:0
[  407.113769] HDMI HDA Codec ehdaudio0D2: No connections found for pin:port 5:0
[  407.114286] HDMI HDA Codec ehdaudio0D2: N

[2019-10-29 09:02] macchian commented on #2014
I'm not sure, I assume it's driver issue when enabled more logs in hdac_hdmi.c. and found the errors as below:

2019-10-28T11:03:01.085470+00:00 DEBUG kernel: [  163.215341] HDMI HDA Codec ehdaudio0D2: hdac_hdmi_cvt_output_widget_event: widget: Converter 2 event: 1
2019-10-28T11:03:01.085472+00:00 DEBUG kernel: [  163.216047] HDMI HDA Codec ehdaudio0D2: num_mux_nids 3 for pin:port 5:0
2019-10-28T1

[2019-10-29 09:10] jdrzaszcz commented on #1966
verified with master

[2019-10-29 09:10] #1966 closed

[2019-10-29 13:07] kv2019i commented on #1913
@lgirdwood wrote:

No, nobody has signed up to this task yet. This is not on the priority list (at least yet).

[2019-10-29 13:18] paulstelian97 commented on #1913
On this side of cosmetic fixes, I think I could get to this one. For the moment, I'm waiting for the asserts PR to be merged and am planning on fixing #1999 first. After those I think I could add this one in my backlog.

[2019-10-29 13:32] paulstelian97 commented on #2007
Funny how -16 means -EBUSY, at least according to errno-base.h on my system. Reset returning -EBUSY wasn't special case behavior for kpb reset?

[2019-10-29 13:33] plbossart commented on #2014
@libinyang @kv2019i is this really possible to have the same mixer settings with MST and two connectors (aka SST)?  And is this really an SOF-specific issue or all drivers would have the same issue, right?

[2019-10-29 13:51] slawblauciak commented on #1992
Does this occur specifically with SDW? Have you tried I2S?

[2019-10-29 13:55] #1975 closed

[2019-10-29 14:13] libinyang commented on #2014
@plbossart
It depends on the HW whether it is possible to have the same mixer setting with MST and 2 connectors (aka SST). And there are conflicts in most cases. This is one of the reasons why we want to switch to legacy hdmi audio driver.

The below setting is used for DPMST (This is not a good setting because it easily causes PCM assignment conflict. Let's image one monitor is connected pin5-por

[2019-10-29 15:00] paulstelian97 commented on #1913
On it, added a flag, draft PR coming up today, full PR possibly also today.

[2019-10-29 15:10] kv2019i commented on #2014
Ack on @libinyang's explanation, this is a driver issue. Recommend fix is to move to common HDMI driver (PR1155). @yongzhi1 already tested it on Chrome devices.

[2019-10-29 16:56] fredoh9 commented on #1845
BSW_CYN_MAX98090 ia added and being tested for every PR from yesterday night. BSW has identical audio dsp with CHT.

https://sof-ci.01.org/linuxpr/PR1393/build2260/devicetest/

I will close this issue.

[2019-10-29 16:56] #1845 closed

[2019-10-30 05:24] keyonjie commented on #2006
@mrajwa can you help debug this with larger buffer-size, e.g. '--buffer-size=64000'?

[2019-10-30 06:58] YvonneYang2 commented on #1927
Issue cannot reproduce with test recipe as below, so close the bug.

Test recipe:
kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 9f1bd5b
FW: https://github.com/thesofproject/sof/commits/master  commit: 0e8cf66e
tplg: Same with FW branch, sof-icl-rt711-rt1308-rt715-hdmi.tplg  rename  to  sof-icl-rt711-rt1308-rt715.tplg
platform: ICL RVP, with codec ALC711 -

[2019-10-30 06:58] #1927 closed

[2019-10-30 07:57] aiChaoSONG opened #2027 "[FEATURE][CML] sof_remove.sh should support the removal of snd_soc_rt1011"
As the speaker hardware in ASUS CML Chromebook is `rt1011` rather than `max98357a`, the module removal script `sof_remove.sh` should also remove snd_soc_rt1011 kernel module, or the module unload/reload test on daily will fail.

[2019-10-30 09:08] dengyangchao commented on #1992
tried on GLK Chrome, issue also can reproduce

![Screenshot from 2019-03-06 15-21-15](https://user-images.githubusercontent.com/52945407/67843741-8a164880-fb37-11e9-86cd-bdd565081ad2.png)

**Environment**
platform: GLK Chrome
Firmware: 2ca6a4af https://github.com/thesofproject/sof/commits/master
Kernel: f5e70ce https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topo

[2019-10-30 09:25] dengyangchao commented on #1992
@slawblauciak ICL RVP HDA can adjust the Dmic Volume but it have another issue https://github.com/thesofproject/sof/issues/1756

[2019-10-30 09:53] #1761 closed

[2019-10-30 10:02] #1999 closed

[2019-10-30 11:48] tlauda commented on #1700
@aiChaoSONG Have you confirmed it's working now?

[2019-10-30 12:54] tlauda commented on #2014
@macchian Please move this bug to https://github.com/thesofproject/linux repo. Thanks!

[2019-10-30 12:54] #2014 closed

[2019-10-30 13:11] tlauda commented on #1992
@dengyangchao Please try with #2033.

[2019-10-30 13:21] tlauda commented on #1973
@aiChaoSONG Please verify with #2009.

[2019-10-30 13:24] tlauda commented on #1974
@YvonneYang2 @sinahuang FW just receives STOP command from kernel. There are no xruns or anything wrong from FW perspective. Please move this bug to linux repo.

[2019-10-30 13:25] tlauda commented on #1954
@dbaluta Fixed by #1997 and #2003.

[2019-10-30 13:25] #1954 closed

[2019-10-30 13:28] tlauda commented on #1877
@aiChaoSONG It's false positive error. The original issue is gone.

[2019-10-30 13:28] #1877 closed

[2019-10-30 13:29] tlauda commented on #1860
@keyonjie Does the current API extension is enough for you, so this issue can be closed?

[2019-10-30 13:36] dbaluta commented on #1954
@tlauda thanks!

[2019-10-30 17:35] plbossart commented on #1974
Is this really a SoundWire problem? Have you checked that this sequence works with I2S or HDMI?

[2019-10-31 02:24] dengyangchao commented on #1974
issue also can reproduce on CML Chrome I2S

Environment
platform: CML Chrome I2S
Firmware: 59c93383 https://github.com/thesofproject/sof/commits/master
Kernel: f5e70ce https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-cml-rt5682-max98357a.tplg same as firmware

[dmesg.log](https://github.com/thesofproject/sof/files/3791879/dmesg.log)
[logger.log](https

[2019-10-31 06:12] sinahuang commented on #1992
Verified the issue with master ( commit :59c93383 ) + #2033, original issue can not be reproduced on TGL RVP, with codec ACL711, ALC1308 in SDW mode

Test recipe:
Kernel: https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 9f1bd5b
FW: https://github.com/thesofproject/sof/commits/master commit: 59c93383 + #2033
Tplg: Same with TGL FW branch commit: sof-tgl-rt711-rt1308-

[2019-10-31 06:18] dengyangchao commented on #1973
tried  #2009 on CML Chrome
boot up the device and occur DSP panic, also hw params install failed

<details>
 <summary>Dmesg</summary>

[code]
</details>

<details>
 <summary>logger-error</summary>

[code]
</details>

[amixer.txt](https://github.com/thesofproject/sof/files/3792385/amixer.txt)
[dmesg.log](https://github.com/thesofproject/sof/files/3792386/dmesg.log)
[logger.log](https://github.com/t

[2019-10-31 06:21] dengyangchao commented on #1700
tried  #2009 on CML Chrome
boot up the device and occur DSP panic, also hw params install failed

TPLG: sof-cml-demux-rt5682-max98357a.tplg  rename to sof-cml-rt5682-max98357a.tplg

<details>
 <summary>Dmesg</summary>

[code]
</details>

<details>
 <summary>logger-error</summary>

[code]
</details>

[amixer.txt](https://github.com/thesofproject/sof/files/3792385/amixer.txt)
[dmesg.log](https://git

[2019-10-31 07:10] dengyangchao commented on #1992
@tlauda tried #2034 on GLK Chrome
There is a option PGA4.0 to adjust DMIC capture volume, and it also can adjust the actual capture volume.
 But i observed another thing, when adjust the DMIC capture volume to zero, the arecod terminl volume still shows 48%
![Screenshot from 2019-03-07 13-17-24](https://user-images.githubusercontent.com/52945407/67926011-db820e80-fbef-11e9-97d4-e67e7a6ef463.png)

[2019-10-31 07:37] tlauda commented on #1992
@dengyangchao But doesn't you have different bug for this #1756? If so, then this issue can be closed.

[2019-10-31 07:38] tlauda commented on #1974
@dengyangchao Still the same case - nothing wrong from the FW perspective. Please move to linux repository.

[2019-10-31 07:38] #1974 closed

[2019-10-31 07:40] tlauda commented on #1700
@dengyangchao Original issue have been reported with sof-cml-demux-rt5682.tplg (without max98357a). Please verify with such topology. For this particular problem you have separate issue #1973.

[2019-10-31 07:47] aiChaoSONG commented on #1700
@dengyangchao  The issue you come up with may be causes by the speaker pipeline,  please retry with `sof-cml-demux-rt5682.tplg` rather than `sof-cml-demux-rt5682-max98357a.tplg`.  And please close this issue if it is fixed.

[2019-10-31 08:06] #2015 closed

[2019-10-31 08:16] #1992 closed

[2019-10-31 08:58] dengyangchao commented on #1700
@tlauda tried #2009 and tplg use:```sof-cml-demux-rt5682.tplg ```
and aplay via"aplay -Dhw:0,0 -fs16_le -c2 -r 48000 -vv -i wav/48California_Dreaming.wav "
there is no sound output, also can't detect headset,  and sound setting shows" Dummy Output"

add info:

[code]

[code]

PCM List
[code]

[amixer.txt](https://github.com/thesofproject/sof/files/3792862/amixer.txt)
[dmesg.log](https://github.com

[2019-10-31 10:15] jajanusz commented on #1699
fixed

[2019-10-31 10:15] #1699 closed

[2019-10-31 10:47] Liviali155 opened #2068 "[BUG][APL-nocodec]arecord use 0,6(DMIC) then pause/resume ,it will I/O error(ipc timed out for 0x60060000 )"
**Describe the bug**
arecord use 0,6 then pause/resume ,it will I/O error(ipc timed out 0x60060000 size 12)

**To Reproduce**
1.sudo reboot
2.arecord -Dhw:0,6 -c2 -r48000 -fs32 t1st.wav -vv -i
3.pause/resume

**Reproduction Rate**
tried 4times
1.reproduced at  the 5 time
2.reproduced at the 13 time
3.reproduced at the 36 time
4.reproduced at the 49 time

**Expected behavior**
can pause/resume norm

[2019-10-31 10:54] #2027 closed

[2019-10-31 12:21] zrombel opened #2041 "[BUG][ICL] Sporadic stream stall on multicore timer driven pipelines"
**Description**
When running simultaneous capture and playback on timer driven pipelines, where pipelines are run on same dsp core different than 0, or each on a different core, pipelines stop copping data after trigger_start and stream stalls.
Caught on audio formats:
- 8kHz 16/16b 8ch
- 48kHz 32/32b 4ch
- 48kHz 24/32b 4ch
But bug seems to be audio format agnostic.

**Platforms**
WHL RVP, ICL RVP

[2019-11-01 10:54] paulstelian97 opened #2042 "[BUG] Unit tests build error on i.MX"
**Describe the bug**
A clear and concise description of what the bug is.
Whenever I'm trying to build the unit tests on i.MX on top of #2023 I'm getting errors other than those of void pointer arithmetic. Specifically, unit tests for Mux/Demux allocate PLATFORM_MAX_CHANNELS in certain constant vectors but on this platform PLATFORM_MAX_CHANNELS is 4.

**To Reproduce**
Steps to reproduce the behavio

[2019-11-01 10:58] paulstelian97 commented on #2042
Additionally, if I fix those somehow when I build unit tests on the i.MX config CAVS seems to be compiled in and I'm getting errors from files which shouldn't even be included.

[2019-11-01 11:08] paulstelian97 commented on #2042
@jajanusz It seems like you're the author of at least some of the files (see 21375d45a2c89f10330cdf96adc6fc6aa7c96f29 ) which cause me trouble. I wonder if the best solution would be either to update the unit tests or force PLATFORM_MAX_CHANNELS to be 8 on the i.MX. Still need to discuss.

[2019-11-01 11:18] paulstelian97 commented on #2042
Ah, it appears there is issue after issue with the unit tests. Guess that I'll have to build them for a different platform for now.

[2019-11-04 06:31] dengyangchao opened #2044 "[BUG]DMIC capture pause-release cause ipc timed out 0x60070000 size 12"
**Describe the bug**
DMIC capture pauce-realse quickly cause ipc timed out 0x60070000 size12, when issue occur, wait for a while(maybe5 or 10 mins) sometimes will occur system hang

**To Reproduce**
1.Reboot system via "sudo reboot"
2.Wait audio device to enter runtime PM suspended status
3.Dmic arecord via  ```arecord -Dhw:0,1 -r48000 -c4 -fs32_le test.wav -vv -i```
4.Pause-realse quickly and rep

[2019-11-04 06:54] dengyangchao commented on #2044
issue also can reproduce on ICL RVP HDA, CFL-S RVP HDA,  GLK Chrome i2s

[2019-11-04 07:12] dengyangchao commented on #2044
https://github.com/thesofproject/linux/issues/1415  a related issue for reference

[2019-11-04 07:15] macchian commented on #2014
Hi @yongzhi1 , we are trying to backport the

updated to the existing issue PR1426.

[2019-11-04 07:22] aiChaoSONG commented on #2044
try hundreds times on ASUS CML and Dell CML, didn't catch this issue

[2019-11-04 09:06] #1649 closed

[2019-11-04 09:58] sinahuang commented on #2044
This issue can be reproduced on CML-S RVP HDA mode.

Test recipe:

Kernel: https://github.com/thesofproject/linux/commits/topic/sof-dev commit: c265f25d
FW: https://github.com/thesofproject/sof/commits/master commit: 0e8cf66e5
Tplg:  sof-hda-generic-4ch.tplg
Platform: CML-S RVP HDA mode.

[dmesg1104.txt](https://github.com/thesofproject/sof/files/3803355/dmesg1104.txt)
[logger1104.log](https://git

[2019-11-04 12:43] wwittbrx commented on #2044
The issue can be reproduced on our platforms, @bkokoszx will take a look at it once he finishes other tasks.

Could you specify the priority for this issue? From our tests this only happens when doing pause/release very rapidly, is it a common use case?

Also, please specify if this is a regression or a new test case, if this is a regression we can bisect and try to find a commit that introduced t

[2019-11-04 12:55] paulstelian97 opened #2049 "Platforms without a SSP clock shouldn't be forced to add defines related to it"
The i.MX platform doesn't have a SSP clock, however due to src/lib/clk:159-162 it is forced to add dummy defines for CLK_SSP macro, SSP_DEFAULT_IDX and other SSP related macros in its platform code.

I would ask for this code to be conditionally compiled on whether there _is_ a SSP clock or not.

Hacks like #2047 shouldn't be required in order to compile the code on our platform.

[2019-11-04 14:18] jajanusz commented on #2042
@paulstelian97 Yes, I don't like how they look either, however they are low prio for now and were tested only for APL+ platforms, so I guess you may encounter many problems, maybe I'll revisit/refactor UT stuff when I'll have more time.

[2019-11-04 14:23] jajanusz commented on #2042
@paulstelian97 You may disable UTs that don't work for your platform with something like
[code]
In appropriate cmake lists.

[2019-11-04 14:24] paulstelian97 commented on #2042
Yeah, we'll see if we manage to get Qemu CI by then (I expect a few months for that though).

The thing is, I would have build unit tests precisely to see what builds or fails to build, not actually for running the tests themselves.

[2019-11-04 14:25] jajanusz commented on #2042
@paulstelian97 We don't have support for unit tests in qemu yet, just for xt-run

[2019-11-04 14:26] paulstelian97 commented on #2042
Ah :)) Anyway, we'll see for it. Should I keep this open for now?

[2019-11-04 14:26] #1913 closed

[2019-11-04 14:28] jajanusz commented on #2042
You may keep it open, but only the people that have commercial xt-xcc toolchain for IMX can fix it - so I guess in this repo ATM these people are you and @dbaluta ;)

[2019-11-04 14:33] paulstelian97 commented on #2042
The two of us for now but also the other guys in NXP. But good point.

I think CI in general needs to be done as @dbaluta did mention the idea of actually having the possibility to allow on-device tests to be done internally and to push the results to Github.

[2019-11-04 14:34] dbaluta commented on #2042
True, only people inside NXP have access to the license server for using xt-xcc. This most likely will be solved with the on-device tests done internally. Paging @mihaix to put this on the list.

[2019-11-04 16:10] lgirdwood commented on #1869
@aiChaoSONG can you confirm these WoV params are supported ? Otherwise this result would be expected. @keyonjie care to comment on what rates/formats are supported here.

[2019-11-04 16:13] lgirdwood commented on #1885
@plbossart can we close this now with your latest commits being merged ?

[2019-11-04 16:15] tokyovigilante commented on #1885
Firmware load working well for me now with the kernel configs mentioned in the thread.

[2019-11-04 16:22] plbossart commented on #1885
Closing. Thanks @tokyovigilante and @PaulVanSchayck for your help, we appreciate feedback from the community.

[2019-11-04 16:22] #1885 closed

[2019-11-04 16:39] lgirdwood commented on #2000
@keyonjie is this now fixed with correct toolchain ?

[2019-11-04 16:47] lgirdwood commented on #1475
@wwittbrx ping

[2019-11-04 16:58] lgirdwood commented on #2020
@plbossart I've got latest ubuntu, let me fix.

[2019-11-04 17:00] keyonjie commented on #2000
Yes, using 2017.8 fixes the issue and the script has been changed to use that, let me close the issue since nobody has schedule to work on the root cause why it fails with 2016.4 tool chain.

[2019-11-04 17:00] #2000 closed

[2019-11-04 17:17] keyonjie commented on #1869
@lgirdwood I think the error happens because either 'kpb->sel_sink' or 'kpb->host_sink' is NULL. @mrajwa can you help check what happens here?

[2019-11-05 07:28] #1475 closed

[2019-11-05 07:30] dragosht opened #2052 "[BUG] checkpatch.pl issues ABI warnings even if the ABI was updated"
**Describe the bug**
checkpatch.pl  issues the warning:

    WARNING: Please update ABI in accordance with http://semver.org

on git commit even if the ABI was in fact updated in src/include/kernel/abi.h

**To Reproduce**
- go into the sof root directory
- Apply the changes in [hello-world-tutorial-amp.patch.txt](https://github.com/thesofproject/sof/files/3807668/hello-world-tutorial-amp.patch.txt

[2019-11-05 08:55] singalsu commented on #1391
I've now started working with this feature.

[2019-11-05 09:21] dengyangchao commented on #2044
This is not a blocker issue, but this is a generic issue for all platforms, so we suggest to root cause and fix it.
I tried on ICL  RVP with onboard ALC700 in HDA mode.below is the info i got  at present

 keep kernel at sof-dev  4e76b4a1
1. Move sof to master e755494e(Oct 11th) issue can't reproduce
2. Move sof to master  c7d01494(Oct 12th)，issue occur and dmesg shows "ipc timed out 0x60060000 si

[2019-11-05 11:28] lgirdwood commented on #2007
@keqiaozhang can you confirm
1) period size used by test is permitted in the topology (please also check buffer size is permitted too, based on number of periods * period size).
2) DSP panic still present ?
I suspect here we need to constrain the params in topology for memory size and latency.

[2019-11-05 11:28] lgirdwood commented on #1860
@keyonjie ping

[2019-11-05 12:19] mrajwa commented on #2006
@lgirdwood, @keqiaozhang  I debugged this issue and here is the summary:

With current setup it looks like the time needed for host to wake up after power down is about 2s. During this time firmware performs draining. So when host buffer is capable of keeping only one second of data, by the time its up and running firmware already did overwrite history data with real time stream. That's why this i

[2019-11-05 12:33] mrajwa commented on #2011
@zrombel, KPB returned EBUSY because you attempted to reset it when it was impossible in single step. Such condition can occur when KPB is performing draining or buffering. You should really resend the StreamPmcFree() if previous one returned BUSY. Does it make sense to you?

[2019-11-05 13:45] mrajwa commented on #2010
@zrombel, can I have an error log for that? If I understand correctly test has passed but you see IPC timeout at the very end right?

[2019-11-05 13:49] #2052 closed

[2019-11-05 14:15] lgirdwood commented on #2044
@wwittbrx @bkokoszx This is P1 due to impact across multiple platforms.
@dengyangchao I assume rapid pause/release will cause this on any device i.e. HDA, SSP, DMIC ?

[2019-11-05 18:54] mrajwa commented on #1869
@aiChaoSONG, please paste whole firmware error log. Your bisect candidate is likely wrong too.

[2019-11-05 21:11] lgirdwood commented on #2006
@mrajwa I guess so, but we should specify this constrain in the topology file alongside perhaps similar comments in the code this way it obvious to anyone using the feature.

[2019-11-05 21:19] lgirdwood commented on #2011
@zrombel @mrajwa can we update the script to cater for this situation and have some comment that desribes this are normal behaviour given the circumstances.

[2019-11-05 21:20] mrajwa commented on #2006
@lgirdwood, I agree for the constrain in fact this is what I am going to do next. However I feel like this constrain should end up in the FW namely KPBs function validate_host_params which is run on hw_params(). The reason for that is host buffer is dynamic value, in user space one can specify it as he whish and this value propagates down the line to FW in the form of host_buffer_size.
Does it mak

[2019-11-05 22:34] lgirdwood commented on #2006
@mrajwa host buffer min/max size is set in topology, so can be set dynamically by applications oroviding if falls within min/max.

[2019-11-06 02:07] dengyangchao commented on #2044
@lgirdwood  Can't reproduce only on CML laptop with onboard codec ALC3204 in HDA mode,  and observed this platform use 2ch.
Other issue reproduced platforms use 4ch

[2019-11-06 07:38] aiChaoSONG commented on #2044
this issue reproduced on mantis,too.

[2019-11-06 08:17] zrombel commented on #2011
@mrajwa But how KPB can be buffering or draining when previously we stopped all streams and nothing should be copied through pipelines any more, so can KPB be in draining or buffering state ?

[2019-11-06 08:19] wwittbrx commented on #2044
Sorry, missclick. From my tests this issue does not happen when rapidly pause/releasing SSP capture stream.

[2019-11-06 10:51] mrajwa commented on #2011
@zrombel, because your stream stop does trigger pipeline_reset() and I see in logs:

So as you can see at the time piepline_reset() was requested kpb was constantly changing its state between 5 and 6 - meaning it was draining and buffering back and forth.
Currently I am in a discussion on kernel repo as to whether we should repeat IPC message if DSP was busy or ignore it or maybe return success ev

[2019-11-06 11:32] bkokoszx commented on #1280
@lgirdwood
I have a little concerns about he following topology:
[code]
What about: "Walk from DAI to all other endpoints setting component params to match hard coded DAI params"? In that case we will walk two times with hw_params (from first and second dai) and second walk will overwrite hw_params near the host component. What do you think?

[2019-11-06 11:44] zrombel commented on #2011
@mrajwa I wonder if the root cause is somewhere else. I've checked time stamp of kpb_notification, draining_done and trigger_pause ipc. In correct iterations maximum time between kpb_notification and draining_done is 1285ms, and time between kpb_notification and trigger_pause ipc is ~1460ms so there is a minimum 180ms gap. In failed iteration draining in not completed in 1460ms.
And there are two

[2019-11-06 12:09] mrajwa commented on #2011
1. With your FW version draining last long because at that time we implemented it with assumption of 1 second host buffer. This made us prone to XRUNS so we had to limit the draining speed accordingly.
Newer FW version make use of 4 second host buffer so draining is much faster - aprox < 100 ms.

2. No, you can reset KPB during draining however we also want to avoid data corruption because of that

[2019-11-06 14:44] singalsu commented on #1391
SOF PR #2065 implements this feature for IIR EQ type. I'll do the same for FIR after the solution for IIR is reviewed.

[2019-11-06 15:02] wwittbrx commented on #2044
Looks like https://github.com/thesofproject/sof/commit/8e4d0c95d69c382960616c2f342666b8d43687b9 is the commit that introduced this issue.

[2019-11-06 15:18] lgirdwood commented on #1280
@bkokoszx please study how DAPM works in Linux drivers. We will do likewise.
1) HOST configs it's sink/source params
2) Demux configs its 2 * sink and 1 * source params.
3) Each DAI configs it's source/sink params.

The impartnat point is that components can modify the params based on any processing and in this case demux has 2 sink configs (one for each DAI).

[2019-11-06 21:42] paulstelian97 opened #2067 "Replace macros with functions wherever possible"
There are plenty of hidden issues that we're only starting to uncover because of macros not doing any type checking and the errors showing up on non-default configs.

The suggestion is to replace all macros that can be replaced with functions. We could start with `spinlock_init` which is the situation from where the original comment comes from, but there are many others. Type checking them removes

[2019-11-07 04:13] dengyangchao commented on #2044
Yes, also tried on ICL RVP with onboard codec ALC700 in HDA mode,
issue occur from 8e4d0c9

[2019-11-07 14:27] lgirdwood commented on #2020
PR is https://github.com/thesofproject/sof/pull/2073

[2019-11-07 16:13] plbossart commented on #2044
@tlauda we have a slew of problems that seem related to this commit https://github.com/thesofproject/sof/commit/8e4d0c95d69c382960616c2f342666b8d43687b9, do you mind taking a look?

[2019-11-08 02:31] aiChaoSONG opened #2075 "[Bug][CML] ipc timeout when aplay via speaker pipeline on Chromebook"
**Bug Description**

***sof-dev + cml-008-drop-stable:***
Everytime do playback via speaker pipeline (hw:0,5), there will be io error in terminal, check dmesg, you will see ipc timeout. this seems to be the rt1011 machine driver is not ready to work with sof.
this phenomenon is observed both on ChromeOS and Ubuntu1804.

***keyword_dectect + cml-007-drop-stable:***
Do playback via speaker pipeline

[2019-11-08 09:05] Bin-QA opened #2077 "[BUG][TGL][HDA]Topology:sof-hda-generic-4ch.tplg load failed from master branch"
**Describe the bug**
Update firmware & tplg file kernel report `error: tplg component load failed -22`

**To Reproduce**
copy sof-hda-generic-4ch.tplg file to /lib/firmware/intel/sof-tplg/
copy sof-tgl.ri to /lib/firmware/intel/sof
copy sof-tgl.ldc & sof-tgl.lst to /etc/sof
After setup firmeware & kernel reboot system

**Reproduction Rate**
100%

**Expected behavior**
kernel driver load tplg fiel

[2019-11-08 11:08] wwittbrx commented on #2075
I cannot reproduce this issue on Ubuntu Hatch with https://github.com/thesofproject/sof/commit/f7dfd05b9fa4f92264905a47c0d9b155a9ce6602, https://github.com/thesofproject/linux/commit/872e5e80c67a8805694529918621260bc506e0f5 and sof-cml-rt5682-max98357a (this is the topology we should use for Hatch, sof-cml-rt1011-rt5682 is for Helios).

Also, how did you use sof-dev branch for ChromeOS? It doesn't

[2019-11-08 11:34] bkokoszx commented on #2044
I think that we had deadlock in dmic_work() function. Do you still have a reproduction with PR #2078?

[2019-11-08 12:17] wwittbrx commented on #2044
#2078 fixes the issue for me, @dengyangchao please confirm it on your side and close the issue. #2068 should be fixed by this too.

[2019-11-08 15:25] plbossart commented on #2077
Wondering how a generic topology could fail here:

[    8.483852] sof-audio-pci 0000:00:1f.3: error: invalid kcontrol count 2 for volume
[    8.483853] sof-audio-pci 0000:00:1f.3: error: DSP failed to add widget id 0 type 6 name : Dmic0 stream none reply 0
[    8.483854] sof-audio-pci 0000:00:1f.3: ASoC: failed to load widget Dmic0

[2019-11-11 01:50] dengyangchao commented on #2044
After applied #2078 , issue can't reproduce on my side too.

[2019-11-11 02:59] aiChaoSONG commented on #2075
@wwittbrx  I see this issue **mainly on Helios**, please test with helios:
for 007 release on Ubuntu, please retry with keyword_dectect + cml-007-drop-stable branch, and aplay via speaker(hw:0,5), see if there is sound output.

for 008 release on Chrome , I use chrome-4.19-backport + cml-008-drop-stable, and see ipc timeout if run aplay via speaker pipeline(hw:0,5)

for 008 release on Ubuntu, I us

[2019-11-11 03:16] Liviali155 commented on #2068
error not seen with PR #2078

[2019-11-11 04:28] xiulipan commented on #2077
@plbossart @Bin-QA
check the md5sum of our binary and find the change happen on OCT.24 from https://github.com/thesofproject/sof/pull/1867 and https://github.com/thesofproject/linux/pull/1251

This change https://github.com/thesofproject/linux/pull/1251/commits/40bcfd01d72906c491f52db49ce7512806aa0ddb should have ABI change, but not.

@ClarexZhou Could you check the Linux without https://github.co

[2019-11-11 06:14] dengyangchao commented on #2077
Same issue occurred when use sof-dev:7b7f94cc(Oct 7th) and Master fb068e6a (Nov 8th ) on CFL-S RVP with onboard  codec ALC700 in HDA mode.
TPLG: sof-hda-generic-4ch.tplg

[code]

[dmesg.log](https://github.com/thesofproject/sof/files/3829868/dmesg.log)

[2019-11-11 06:54] aiChaoSONG opened #2081 "[BUG][CML-007] ipc error in pause-release stress test on Chrome OS"
**Describe the bug**
run pause/release stress test on Chrome OS, first you should see i/o error in the terminal, check dmesg, you will see ipc error.

**To Reproduce**
run pause-release script: `bash ./sof-test-pause-release.sh -t pcm2p -r 48000 -f s16_le -c2 -d 5000 -i 0.5 ./llwav.wav`

**Reproduction Rate**
Headset pipeline(hw:0,0):

HDMI pipeline(hw:0,2)

**Expected behavior**
no error in pause

[2019-11-11 07:11] juimonen commented on #2077
so where is the kernel coming from? I can't find those hash and tag ?

[2019-11-11 07:33] juimonen commented on #2077
So this is because dmic topology has 2 controls (volume and mute switch) and we have in kernel before a68c6b6cc77b841dc37c17a5d9a7074e26801af5 test that there can be only 1 control. If this is to be used with older kernel (?) we can create topology with only 1 switch?

[2019-11-11 10:01] aiChaoSONG opened #2082 "[BUG][CML-007] KWD trigger failure on ChromeOS"
**Describe the bug**
1. dmesg shows "failed to trigger DETECT9.0", even KWD is triggered and recording normally.
2. dmesg shows "failed to trigger DETECT9.0", but KWD is surely triggered, and after recording about 0.2s, recording is blocked.

**To Reproduce**
run `arecord -Dhw:0,8 -M -N -f s16_le -r 16000 -c2 -i -d5 -vvv  --period-size=400 wov.wav`

**Reproduction Rate**
can be reporduced with in

[2019-11-11 12:00] #2044 closed

[2019-11-11 12:22] #1306 closed

[2019-11-11 13:26] lgirdwood commented on #2075
@aiChaoSONG what happens if KWD is disabled ? Does this only occur if KWD detect is either in topology or enabled ?

[2019-11-11 13:27] lgirdwood commented on #2068
Clsoing since #2078 now merged.

[2019-11-11 13:27] #2068 closed

[2019-11-11 13:31] lgirdwood commented on #2081
@aiChaoSONG looks like a pause during an xrun.
[code]

[2019-11-11 13:43] lgirdwood commented on #2082
@mrajwa I guess this is related to drain and needs your drain updates ?

[2019-11-11 15:18] plbossart commented on #2077
I don't understand a word of all this.
The kernel was changed 1.5 month ago to support 2 controls for volume,  you must have a configuration issue or a bad environment. Things work fine for me on HDaudio+dmic platforms.

[2019-11-11 16:46] ranj063 commented on #2081
@aiChaoSONG it is likely that this chromeos branch does not have the recent fixes for pause/release fixes we made recently: fcb9d23 and fd274c2. Can you please check?

[2019-11-12 01:25] aiChaoSONG commented on #2081
@ranj063 the Chrome OS kernel repo(v4.19) has these two commits

[2019-11-12 01:36] sathya-nujella opened #2084 "[BUG][TGL] SSP clocks generated are not as per topology configured"
**Describe the bug**
1) SSP clocks generated are not correct and not matching with the values set in topology.
2) In topology Backend setting is,
#SSP 1 (ID: 0)
DAI_CONFIG(SSP, 1, 0, SSP1-Codec,
	SSP_CONFIG(I2S, SSP_CLOCK(mclk, 19200000, codec_mclk_in),
		      SSP_CLOCK(bclk, 2304000, codec_slave),
		      SSP_CLOCK(fsync, 48000, codec_slave),
		      SSP_TDM(2, 24, 3, 3),
		      SSP_CONFIG_DATA

[2019-11-12 03:05] jairaj-arava commented on #2084
Hi,
We have added the MCLK id 0 in both SSP configs as below, but still we see the clock issue.(BCLK=1.5MHz, LRCLK = 48KHz, MCLK = 19.2MHz)

#SSP 1 (ID: 0)
DAI_CONFIG(SSP, 1, 0, SSP1-Codec,
        SSP_CONFIG(I2S, SSP_CLOCK(mclk, 19200000, codec_mclk_in),
                      SSP_CLOCK(bclk, 2304000, codec_slave),
                      SSP_CLOCK(fsync, 48000, codec_slave),
                      S

[2019-11-12 08:48] aiChaoSONG commented on #2075
@lgirdwood I think this has nothing to do with KWD, Even if I disable KWD pipeline, I still got this error. this error also exist on sof-dev + master on Helios.

[2019-11-12 11:26] wwittbrx commented on #2081
Where did the topology come from for this issue? On branch cml-007-drop-stable the sof-cml-rt1011-rt5682.tplg does not exist. I understand that it was installed with ChromeOS image, but we need specific commit for debugging. Since there were many changes to topology since sof-cml-007-drop-stable, we need to check if the provided .tplg is compatible with this older FW.

[2019-11-12 11:37] mrajwa commented on #2082
@lgirdwood, Yes could be, he uses old FW branch + new topology, so arecord hang due to overrun can happen. I will make it uniform soon.

@aiChaoSONG, please PM me with your test machine credentials I will use it as a test unit.

[2019-11-12 12:38] lgirdwood commented on #1847
@cujomalainey I'm guessing thi sis resolved now ?

[2019-11-12 12:39] #1279 closed

[2019-11-12 16:28] cujomalainey commented on #1847
I got sidetracked by some other issues, cht is back on my plate this week, will look into it.

[2019-11-12 16:39] lgirdwood commented on #2084
@sathya-nujella @jairaj-arava anything in the trace logs that would indicate a problem within the SSP driver ?

[2019-11-12 16:50] lgirdwood commented on #1847
@cujomalainey ok, btw @keyonjie has fixed some issues wrt suspend on CHT so these should be merging soon. I am suspcicious that suspend is fixing it, it does sound like HW gettng stuck and needing the old "switch it OFF and ON again" fix.

[2019-11-12 20:19] ranj063 commented on #1279
@lgirdwood yes we're done for the time being. I will add APL support next

[2019-11-12 22:59] jairaj-arava commented on #2084
Attached the logger trace that has no changes in ssp driver:

[logs.txt](https://github.com/thesofproject/sof/files/3838587/logs.txt)

[2019-11-12 23:47] plbossart commented on #2084
@jairaj-arava thanks, but where is the code that adds those traces? it's hard to follow a log without the matching line numbers.

[2019-11-12 23:49] ranj063 commented on #2084
@plbossart please give me 5 mins. we're working on getting the logs with hex values instead of uints. I will post the diff along with it.

[2019-11-12 23:51] ranj063 commented on #2084
[logs_2.txt](https://github.com/thesofproject/sof/files/3838722/logs_2.txt)
diff ```\diff --git a/src/drivers/intel/cavs/ssp.c b/src/drivers/intel/cavs/ssp.c
index 59e47531..a057f71e 100644
--- a/src/drivers/intel/cavs/ssp.c
+++ b/src/drivers/intel/cavs/ssp.c
@@ -389,6 +389,8 @@ static int ssp_set_config(struct dai *dai,
        if (clk_index >= 0) {
                mdivc |= MCDSS(ssp_freq[clk_ind

[2019-11-12 23:55] ranj063 commented on #2084
Here's the specific part in the logs that I feel might be the reason for the issue where the clock indices
chosen are different for MCLK and BCLK.
[code]

[2019-11-13 00:36] plbossart commented on #2084
MDNSS is not an actual register, you'd need to trace mdivc in all cases

[2019-11-13 00:38] ranj063 commented on #2084
@plbossart yes but MNDSS and MCDSS values printed are what are OR'ed into mdivc. Thats why I printed those individually.

[2019-11-13 00:52] plbossart commented on #2084
mdivc is THE shared register so we need to trace its actual value, not nominal ones.

[2019-11-13 01:08] jairaj-arava commented on #2084
@plbossart
Attached are the logs that  has traces of MDIVC.
[logs_3.txt](https://github.com/thesofproject/sof/files/3838944/logs_3.txt)

[2019-11-13 01:28] aiChaoSONG commented on #2081
@wwittbrx for cml-007-drop-stable, the firmware is from chromeos, and the commit of chromeos kernel is `5a6eeaee52fe`, if you are asking the fw commit, I think it may not be possible to find it, because chrome team get fw from us. is that right? @mengdonglin

[2019-11-13 01:31] aiChaoSONG commented on #2082
@mrajwa we are testing google pv release and see if there is any critical issue, and fw, tplg and kernel are all from chromeos

[2019-11-13 06:59] aiChaoSONG opened #2090 "[BUG][CML-007] sound channel crosstalk on ChromeOS"
**Describe the bug**
you can hear very slight sound on one channel when speaker-test via another sound channel.

**To Reproduce**
1. tune volume to max.
2. run `speaker-test -Dhw:0,0 -t wav -c 2  -s 1`, play on left channel, and  hear on right channel.
3. run `speaker-test -Dhw:0,0 -t wav -c 2  -s 2`, play on right channel, and  hear on left channel.

**Expected behavior**
sound should only  on th

[2019-11-13 07:15] aiChaoSONG opened #2091 "[BUG][CML-007] cannot resume playback/capture after stopped"
**Describe the bug**

after playback/capture stopped, when resume, it seems playback/capture blocked.

**To Reproduce**
1. reboot chromeos
2. play via headset or speaker: `aplay -Dhw:0,0 -f dat -i -vvv -c2 ./somewave.wav`
3. press `CTRL + Z`
4. input `fg` in the terminal

**Reproduction Rate**
10/10

**Expected behavior**
playback/capture continues

**Environment**
Kernel: Chrome OS 4.19.79-07473-

[2019-11-13 07:28] aiChaoSONG commented on #2091
this issue not exist on 007 ubnutu: keyword_detect + cml-007-drop-stable

[2019-11-13 07:30] aiChaoSONG commented on #2090
this issue exist on 007 ubuntu: keyword_detect + cml-007-drop-stable

[2019-11-13 08:17] aiChaoSONG opened #2092 "[BUG][CML-007] ipc error in dmic pause-release test"
**Describe the bug**
capture via dmic, then press SPACE to pause-release capture very quickly and rapidly, first you will see io error in the terminal, check dmesg, you'll see ipc error.

**To Reproduce**
1. capture via dmic: `arecord -Dhw:0,1 -f s32_le -r 48000 -c4 -i -vvv ./dmic.wav`
2. press SPACE very quickly

**Reproduction Rate**
reproduced within less than 20 quick press on SPACE

**Environ

[2019-11-13 08:18] aiChaoSONG commented on #2092
this issue is the same as #2044 , we may need cherry-pick the fix from PR2078 to cml-007-drop-stable.

[2019-11-13 15:51] singalsu commented on #2090
I don't remember the audio HW arch for this platform but if the speaker amplifier is connected via analog input some cross-talk is normal. E.g. -40 dB attenuation could be still normal. A near field stereo recording from both speakers would be useful (attach two identical microphones as close to each speaker as possible) and repeat the test.

[2019-11-14 01:47] aiChaoSONG commented on #2090
As Seppo stated, if the speaker amplifier is connected via analog input some cross-talk is normal, and I run test on sof-dev + master, there is slight cross-talk, too. This may not be a Kernel or FW bug, so close it.

[2019-11-14 01:47] #2090 closed

[2019-11-14 03:52] keyonjie commented on #2075
Looks the dw-dma channel enable fails, see this:
"Channel enable = 0."

···
    0      2          DAI 7.38    182357041.875000        13.906250      src/audio/dai.c:494 	dai_comp_trigger(), command = 1
    0      2          DAI 7.38    182357054.791667        12.916667      src/audio/dai.c:505 	dai_comp_trigger(), START
    0      2          SSP         182357252.968750       198.177078 ers/intel/

[2019-11-14 05:29] Liviali155 opened #2094 "[BUG][BYT-nocodec][SOF_v1.4 ]I/O error( ipc error for 0x60060000 )when arecord then do pause/resume"
**Describe the bug**
I/O error( ipc error for 0x60060000 )when arecord then do  pause/resume

**To Reproduce**
1.sudo reboot
2.arecord -D hw:0,0 -r 48000 -c 2 -f s32_le -vv -i  test.wav -q
3.press space key to pause
4. press space key to resume
5.repeat 3~4

**Reproduction Rate**
Test once on CI
1.reproduced at first time(I/O error,ipc error for 0x60060000)

Test 2times manually
1.reoroduced at 40

[2019-11-14 05:35] Liviali155 commented on #2094
Tested on sof_v1.3.1 can reproduce this issue,environmemt as below:
platform: BYT MB with nocodec
Firmware: 6cc8da10 https://sof-ci-storage.sh.intel.com/release/sof/v1.3.1
Kernel: fd302303 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology: file: tools/topology/sof-byt-nocodec.tplg same as firmware

Tested on  daily of 20191114 can not  reproduce this issue,environmemt as below:

[2019-11-14 08:11] xiulipan opened #2096 "[BUG] IPC timeout on BDW"
**Describe the bug**
When try to playback on BDW platform, ipc timeout happen at TRIG_START

**To Reproduce**
aplay on BDW paltform and dmesg shwo ipc timeout

**Reproduction Rate**
4/4

**Expected behavior**
aplay should we with no ipc timeout.

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Environment**
Test with https://github.com/thesofproject/s

[2019-11-14 08:19] xiulipan commented on #2096
With arecord the error log is different

[code]

[2019-11-14 10:15] Liviali155 commented on #2094
Update sof to v1.4  [d1dcdfed](https://sof-ci-storage.sh.intel.com/release/sof/v1.4/d1dcdfed/),can not reproduce this issue  close

[2019-11-14 10:15] #2094 closed

[2019-11-14 10:15] Liviali155 commented on #2094
close

[2019-11-14 12:28] perexg opened #2098 "[FEATURE] Packaging of ready to use binary firmware and topology files (including the signed files)"
It would be nice to provide tar balls with the ready to use firmware files. I am doing this for my purposes at https://www.alsa-project.org/files/pub/misc/sof/ or ftp://ftp.alsa-project.org/pub/misc/sof/ , but it's far from the ideal solution.

BTW: When will be available the signed files for 1.4?

[2019-11-14 20:22] plbossart commented on #2084
@ranj063 and I talked and I think the topology file is wrong.
Since we have access to a 24.576 MHz we need to use it without M/N and use either a 1.536 MHz (16*2*48000) or 3.072 MHz (32*2*48000).

The value SSP_CLOCK(bclk, 2304000, codec_slave) was copy/paste from CML I guess, but that's not what we used on GLK.

In short, let's not use the M/N dividers since we have no reason to use them.

[2019-11-15 02:12] ranj063 commented on #2084
@plbossart Unfortunately we end up with the same problem even when we use 16-bits and BCLK of 1.536MHz. So even in this case, MCLK source will be 38.4MHz xtal and BCLK source will be 24.576MHz cardinal clock if we set the MCLK to be 19.2 MHz.

[2019-11-15 02:46] ranj063 commented on #2084
@plbossart I am wondering if instead of changing the logic in the SSP driver, we could just change the ssp freq table in https://github.com/thesofproject/sof/blob/f004d11f306e2d910e22e06953fc252c301161a9/src/platform/tigerlake/lib/clk.c#L23

to make the xtal the first item as it iscalled out as default anyway?

[2019-11-15 09:36] jajanusz commented on #2098
I'm not sure what do you want in tarball, but if you mean source dist that is in tar instead of git repo (that's what I usually see), then you have `make dist` target implemented here: https://github.com/thesofproject/sof/blob/f004d11f306e2d910e22e06953fc252c301161a9/scripts/cmake/dist.cmake#L1-L21

IRT attaching binaries to releases I'm not sure how it should be handled to be legal and practical

[2019-11-15 09:37] jajanusz commented on #2098
@perexg @lgirdwood @plbossart  What do you suggest?

[2019-11-15 09:49] perexg commented on #2098
I am basically concerned with the useble pre-compiled binary firmware files for the linux kernel. In my opinion, it should be mix of signed and unsigned firmware files usable in a generic way for the most of devices on the marked. My tar balls are just an example. Yes, the correct licence should be provided, too. I just used the SOF license. If Intel has another idea for the signed files, let me k

[2019-11-15 12:38] lgirdwood commented on #2096
@xiulipan let me list some differences to check comapred to BYT.
1) BDW has no external timer based on SSP clock, it uses CCOUNT for the timing. CCOUNT should not be gated during WFI (driver sets bit for this already)
2) BDW SSP has different clock sources than BYT, are these clocks running ?
3) BDW DMACs are unidirectional OR host/link IIRC, i.e. DMAC0 may be for host only OR for playback only. @

[2019-11-15 14:25] plbossart commented on #2084
@ranj063 I don't get how you can have the 'same problem' since you are no longer using M/N.

Again the idea is
for speaker, the MCLK is a don't care, BCLK is sourced from 24.576 and divided by 16
for headset, the MCLK is sourced from 38.4 and divided by 2, and the BCLK is sourced from 38.4 divided by 16

[2019-11-15 14:28] plbossart commented on #2098
We are still planning on pushing the files through linux firmware. There are delays as in all big companies but there is no plan B.
If you want tar files, we can use the linux-firmware files, install them to a local directory with all the links prepared, and then tar the intel/sof parts.

[2019-11-15 14:36] lgirdwood commented on #2098
@perexg PR for FW happening today or Monday, we had a bug to squash that was blocking the PR. It's ready to go shortly after more review. v1.4 next week, again another issue cropped (from production testing) up so it's likely we will just do a v1.4.1

@jajanusz I agree with @perexg, we should provide the unsigned binaries, ldc files and community signed binaries for "make dist". Make dist would ne

[2019-11-15 14:39] perexg commented on #2098
Another option is to create a temporary git tree with the ready to use binary firmware files with appropriate tags (something like an extension to the linux-firmware git tree). The github will create tar balls / zip files for free for you. Thanks.

[2019-11-15 15:18] ranj063 commented on #2084
@plbossart what I meant by the same problem was that the clock sources chosen are exactly the same as before but without M/N this time.

[2019-11-15 15:40] lgirdwood commented on #2098
@perexg All are here atm, https://github.com/thesofproject/linux-firmware

[2019-11-15 16:03] plbossart commented on #2084
what does 'same as before' mean? can you clarity the difference from the goal listed above?

[2019-11-15 16:08] ranj063 commented on #2084
@plbossart it means, playback on the headset is still distorted and measured clocks are same as before:
SSP clocks observed are:
SSP1: BCLK=2.3MHz, LRCLK=48Khz (this is correct)
SSP0: BCLK=1.5Mhz, LRCLK=30KHz, MCLK=19.2Mhz (because of BCLK is wrong, playback sound is bad)

[2019-11-15 16:16] plbossart commented on #2084
why is 2.3 correct? didn't we talk about using 1.536?

[2019-11-15 16:25] ranj063 commented on #2084
@plbossart Sorry I never learn not to copy &paste. Yes, the SSP1 BCLK is 1.536 but so is the BCLK for SSP0 (for the headset).

[2019-11-15 16:55] plbossart commented on #2084
So it looks like you are taking the BCLK from the PLL instead of the oscillator then, so is the ECS bit correct for SSP0?

[2019-11-15 17:07] ranj063 commented on #2084
@plbossart I'm still waiting for the logs from @jairaj-arava. Will confirm soon

[2019-11-15 17:46] perexg commented on #2098
@lgirdwood : It's unusable for the package maintainers. We need to add only SOF files to linux-firmware or alsa-firmware packages. That's the reason why I am doing tar balls with the ready to use SOF firmware files and using this as a source for the alsa-firmware package for Fedora.

But it might be a good start if you can split SOF only files to a branch and add an annotated tag to create a relea

[2019-11-15 19:49] ranj063 commented on #2084
[ssp0_logs3.txt](https://github.com/thesofproject/sof/files/3852958/ssp0_logs3.txt)
@plbossart here're the logs with the changed topology to use 1.536MHz bclk for the speaker

[2019-11-18 02:30] mengdonglin commented on #2092
@aiChaoSONG Please confirm if the fix for SOF #2044 can also fix this issue.

[2019-11-18 02:41] aiChaoSONG opened #2101 "[BUG][CML][HDA] fixed distortion pattern at the beginning of recording on headset pipeline"
**Describe the bug**
run arecord on headset capture pipeline, you will see volume keeps high at the beginning, even there is no sound. check the recorded wave, you can see a fixed distortion pattern, and all headset recorded waves have the same distortion.

if no headset connected when run arecord, no distortion found.

![Screenshot from 2019-11-18 10-24-51](https://user-images.githubusercontent.c

[2019-11-18 05:52] aiChaoSONG commented on #2092
@mengdonglin the fix for #2044 cannot be applied to cml-007-drop-stable,  I think it is because the 007 branch is too old.

[2019-11-18 10:31] perexg opened #2102 "[BUG] DSP panic with Cannon Point-LP"
**Describe the bug**
I get a DSP panic with the current code in sound-next.

**To Reproduce**
Run pulseaudio with ucm2 profiles.

**Firmware**
278528 Jul 23 16:09 sof-cnl-signed-intel.ri

[   15.815177] sof-audio-pci 0000:00:1f.3: Firmware info: version 1:1:0-5dd9a
[   15.815182] sof-audio-pci 0000:00:1f.3: Firmware: ABI 3:7:0 Kernel ABI 3:11:0
[   15.816373] sof-audio-pci 0000:00:1f.3: firmware b

[2019-11-18 10:50] lgirdwood commented on #2098
@perexg ok, I see you now need this as standalone versioned binaries. I've already asked @xiulipan to look at having the CI create signed binaries for every git tag. The logical next step is for CI to push those binaries to a repo here that can tar, compress etc  and be cloned. This repo would have all versions though ? Or would it be better for seperate branch per release ?

[2019-11-18 11:20] perexg commented on #2098
Branches with the annotated tags might be fine. We don't need to do diff on binary files and the git fetch might be more optimized. I would propose to create a separate subdirectories with firmware types with a symlink to the preferred one (signed, unsigned, gcc)?

Example (for firmware/intel/sof):

<pre>
── gcc
│   ├── sof-apl.ri
│   ├── sof-cnl.ri
│   └── sof-icl.ri
── signed
│   ├── sof-apl-sig

[2019-11-18 12:20] mrajwa commented on #2102
@perexg, is there any chance to get firmware log or even exact FW binary you used?

[2019-11-18 13:15] perexg commented on #2102
The used firmware is the signed firmware from the releases page on github (v1.3 - sof-cnl-signed-intel.ri).

My suspect is that the improved PM code added recently to the SOF driver code causes this. I'm compiling the kernel without this code right now.

I will try gather DSP logs, too.

Another issue: I cannot test gcc firmwares on this hw (Lenovo Carbon X1 7th):

<pre>
[   18.738215] sof-audio-p

[2019-11-18 13:18] perexg commented on #2102
The cnl_ipc_send_msg() with cnl_compact_ipc_compress() looks really suspicious in the SOF linux driver update. Is this code really supposed to work with the older fw binaries?

[2019-11-18 16:02] lgirdwood commented on #2102
@perexg running binaries depends on the platform (as some platforms use the Intel private key) and other platforms like Chromebooks use the public signing key. It seems like you have a non Chromebook ?
ABI changes should not crash the FW or hang either, but I would expect an IPC error for unsupported  IPCs (and subsequent IPC should work).
I do agree PM changes in the driver could hang the DSP FW,

[2019-11-18 16:06] lgirdwood commented on #2098
@xiulipan @mengdonglin @wenqingfu fyi - we should be able to pick these binaries from CI (when CI encounters a new git release tag).
@perexg fyi, we can either build with GCC (functionally correct) or with XCC (optimised SIMD, but needs $$$ licence) and either sign with Intel private key or SOF community key. I would expect we would be able to post only XCC binaries, that are unsigned, signed with

[2019-11-18 16:09] lgirdwood commented on #2092
@lbetlej should'n the cml007 branch now all be merged into master ? if so, we can cut another release with this #2044 fix.

[2019-11-18 16:11] lgirdwood commented on #2101
@singalsu @bardliao  what do you think, this could just be the mic powering UP.

[2019-11-18 16:19] perexg commented on #2102
Yes, it's the new Lenovo notebook... The unsigned fw binary also works but not the gcc one.

I am slowly bisecting this. 52 patches left. It seems that it's not PM.

[2019-11-18 17:00] ranj063 commented on #2102
@perexg This change is likely untested with older binaries but the update to add cnl_compact_ipc_compress() should only take effect when you suspend to S0ix. Would you be able to try a newer topology binary instead of the 1.3 tplg?

[2019-11-18 17:48] plbossart commented on #2101
likely something in the HDaudio codec driver and/or bad settings applied?

[2019-11-18 17:53] plbossart commented on #2102
No, we need to use the topology released at the time of 1.3, there is a related bug on this https://github.com/thesofproject/linux/issues/1417

I agree with @perexg we should not have any kernel oops, the code is too flaky and I generated multiple errors when I played with the topology last week.

[2019-11-18 18:02] juimonen commented on #2102
@plbossart @perexg please specify here are you using topology from the same release or has it been changed also. AFAIK we should be able to run newer kernel with older fw and tplg but if you start to mix and match we are in trouble... anyway it should not crash and give some reasonable error message.

[2019-11-18 18:09] perexg commented on #2102
@plbossart : It's not a kernel oops, but the DSP oops.

Anyway, the fw / topology works with the 5.4 kernel but not with the linux-sound kernel (for 5.5). I am just bisecting what patch causes this DSP hung. The topology and fw is 1.3 (signed) for CNL. I don't have any other working firmware files for this hw platform.

[2019-11-18 20:21] perexg commented on #2098
Could you also add ldc files for traces?

[2019-11-18 22:40] perexg commented on #2102
It seems that the commit 5eee2b3f60065a2530d13f28e771be48b989eb4c ("ASoC: SOF: topology: set trigger order for FE DAI link") causes this malfunction.

[2019-11-18 22:45] perexg commented on #2102
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-November/thread.html#158761

[2019-11-19 00:57] plbossart commented on #2102
I just tried with the latest SOF kernel, the signed 1.3 firmware with this patch on a WHL device with HDaudio and dmic. No issues.

The commit above was actually generated at the request of the firmware team, so maybe it exposes a timing issue but it's not fundamentally flawed.

what I also don't get is your note that "The unsigned fw binary also works but not the gcc one."
That's not really possi

[2019-11-19 01:36] aiChaoSONG commented on #2091
After we copying ubuntu's bash to Chrome OS (thanks Xiuli), this issue cannot be reproduced. and I believe it is the Chrome bash to be blame. close for not a valid sof or kernel issue

[2019-11-19 01:36] #2091 closed

[2019-11-19 01:38] ranj063 commented on #2102
@perexg thanks for the bisect. We encountered this DSP panic with the change in the trigger order and the fix has already been merged to SOF master: https://github.com/thesofproject/sof/commit/c623e9246325dbee615a5cad0c8e4b0c29976056

[2019-11-19 03:32] sathyap-chrome commented on #2075
@keyonjie @aiChaoSONG  Please help prioritize the bug. our next drop to Google is blocked due to this issue.

[2019-11-19 03:32] sathyap-chrome commented on #2075
@mengdonglin Can we make this a P1 issue please

[2019-11-19 03:48] xiulipan commented on #2098
@lgirdwood @perexg @plbossart
Few question here:
- Can you give some example about what is an unsigned sof-apl.ri? If we compress the binary into ri format it will always be signed with some key.
- Could you give more detail about what files should be hold in the binary release? (ldc files, ri for what platforms, ri with what key signed, with what compiler)
- What is the frequency of the binary re

[2019-11-19 04:39] aiChaoSONG commented on #2075
didn't reproduce speaker issue on Chrome OS with 007 release, later speaker issue track will continue after 008 integration.

[2019-11-19 04:39] #2075 closed

[2019-11-19 05:40] sathyap-chrome commented on #2075
hi @aiChaoSONG  we need the speaker playback to work before integrating 008.
I think we need to reopen

[2019-11-19 06:14] bardliao commented on #2101
Looks like a power up pop. @aiChaoSONG How long will the max volume continue? Will you see the same issue on DMIC recording?

[2019-11-19 06:18] aiChaoSONG commented on #2101
@bardliao only see this on headset capture pipeline, and the max volume duration is very short, about 0.35s.

[2019-11-19 06:40] aiChaoSONG opened #2107 "[BUG][CML] ipc timeout when playing via speaker pipeline"
**Describe the bug**
aplay via speaker pipeline, first you will see io error in the terminal, check dmesg, you will see ipc timeout error.

**To Reproduce**
1. reboot
2. run `aplay -Dhw:0,5 -f dat -i -vvv -c 2 ./somewave.wav`

**Reproduction Rate**
100%

**Impact**
function abnormal

**Environment**
1) Branch name and commit hash of the 2 repositories: sof (firmware/topology) and linux (kernel dri

[2019-11-19 06:54] bardliao commented on #2101
So I think it is a codec issue (or limitation). I think we can close this issue since there is nothing we can do.

[2019-11-19 07:15] aiChaoSONG commented on #2075
@sathyap-chrome This speaker pipeline timeout issue exist on 008 release and daily but not 007 release, now we observe and try to fix this issue on daily #2107.

[2019-11-19 07:19] sathyap-chrome commented on #2107
@aiChaoSONG  Thanks. We need fix for this at high priority as customer release for 008 is blocked on this.

cc @mengdonglin  @keyonjie

[2019-11-19 07:20] sathyap-chrome commented on #2075
@aiChaoSONG  Thanks. We can track the issue in #2107

[2019-11-19 08:14] perexg commented on #2102
https://github.com/thesofproject/sof/releases/download/v1.3/sof-cnl-signed-intel.ri

I'm using those two files from github which both works on my Lenovo notebook:

https://github.com/thesofproject/sof/releases/download/v1.3/sof-cnl-signed-intel.ri
https://github.com/thesofproject/sof/releases/download/v1.3/sof-cnl-unsigned.ri

So perhaps sof-cnl-unsigned.ri is signed with the  community key and Le

[2019-11-19 08:19] singalsu commented on #2101
This would be fixed by inserting an IIR EQ into capture path. If someone with access to this device and test an enhanced topology can contact me I can make a patch to sof-hda-generic-2ch.tplg to test with.

[2019-11-19 08:23] perexg commented on #2098
It's probably the explanation why both signed/unsigned v1.3 fw binaries work on my Lenovo notebook, but the gcc version does not.

We need a generic support for the generic distributions like Fedora / Ubuntu etc. So please, generate firmware files for *ALL* platforms. We cannot predict, which platform our users have. Please, place ldc files to a separate directory (I suggest ++intel/sof/signed/deb

[2019-11-19 10:56] #1502 closed

[2019-11-19 11:55] lgirdwood commented on #2098
@perexg @xiulipan my understanding of "unsigned" is a plain ELF or flat binary file, but it seems the naming is misleading as the files are really signed (since they boot on the laptop). I will fix naming .
@xiulipan binary release should be *.ri, *.ldc and *.tplg on every git tag (not commit) signed with both keys (jenkins can do OTC key @zrombel @lbetlej QB will need to do Intel key).

[2019-11-19 13:18] singalsu commented on #2101
@bardliao @aiChaoSONG Can you please check if SOF PR #2109 helps for this.

[2019-11-19 15:20] mengdonglin commented on #2081
@wwittbrx @aiChaoSONG
@sathyap-chrome confirmed https://github.com/thesofproject/sof/pull/1948 contains the topology m4 for cml-007-drop-stable.  And https://github.com/thesofproject/sof/pull/1774 is the upstream version for master branch.

[2019-11-19 15:24] plbossart commented on #2102
Well the conclusion is pretty clear. We cannot keep using sof-1.3 firmware, an update needs to be provided!

[2019-11-20 03:18] aiChaoSONG opened #2113 "[BUG][CML][KWD] KWD trigger failure under S16_LE"
**Describe the bug**
Use S16_LE in KWD pipeline, recording cannot be triggered, but with S24_LE, recording can be triggered.

**To Reproduce**
1. reboot
2. run `arecord -Dhw:0,8 -M -N -f S16_LE -r 16000 -c2 -i -vvv -d5 ./wov.wav`

**Reproduction Rate**
10/10

**Expected behavior**
recording should be triggered

**Impact**
function abnormal

**Environment**
1) Branch name and commit hash of the 2 r

[2019-11-20 05:44] keyonjie commented on #2107
Looks the dw-dma channel enable fails, see this:
"Channel enable = 0."
Hi @tlauda can you please help to take a look into thist?

[code]

[2019-11-20 07:34] Liviali155 opened #2114 "[BUG][BYT][RT5682]Can not adjust volume in alsamixer when aplay 44100Hz audio"
**Describe the bug**
Sudo reboot
aplay a 44100Hz audio  via  media playback(0,1),then adjust the volume to maximum/Minimum in alsamixer,continue to adjust the volume ,can not adjust,after that aplay via 0,0 can not adjust volume too

aplay  audio of other frequencies can not reproduce this issue

**To Reproduce**
1.sudo reboot with headset insert
2."aplay -Dhw:0,1 -r 44100 -c2 wav/44California_Dre

[2019-11-20 10:36] lgirdwood commented on #2101
@singalsu good work, btw this is worthy of a technical note on sof-decs i.e. a small howto.

[2019-11-20 11:01] lgirdwood commented on #2114
@Liviali155 which volume control in alsamixer are you adjusting ? Do any other controls change the volume ?

[2019-11-20 11:19] singalsu commented on #2101
I was able to repeat this issue with a device that I have. There's no volume ramp happening in capture, I'll try to  make a fix for this and related problems https://github.com/thesofproject/linux/issues/1463 and https://github.com/thesofproject/linux/issues/1480.

[2019-11-20 15:52] plbossart commented on #2101
thanks @singalsu for looking into this.

[2019-11-20 17:54] sathyap-chrome opened #2117 "[BUG] CML : suspend failures with ipc timed out for 0x40010000 size 76"
**Describe the bug**
During Soix cycling , the suspend failure is seen multiple times resulting in eventual shutdown

**To Reproduce**
WIP. its mostly from customer reports. we are trying to find a way to reproduce the same.

**Reproduction Rate**
Not sure

**Expected behavior**
Suspend failures should not be seen while running soix.

**Impact**
This is blocking FSI of Customer and hence high impa

[2019-11-20 18:00] singalsu commented on #2101
I have a fix under development that is done in firmware to launch a volume ramp in beginning of copy() operations if the driver control sequence has not initiated it. I don't think it can be fixed in driver in simple way because the PM controls cache hides the unmute transition from firmware.

Combination of ramp and DC block works well but I need to eliminate the volume setting dependent ramp len

[2019-11-20 18:19] hsanjuan opened #2118 "Signed binaries for v1.4?"
Should signed binaries be available for v1.4 like they were for v1.3?

[2019-11-21 04:49] Liviali155 commented on #2114
Bi-sect result: Caused by firmwire commit [63a55299](https://github.com/thesofproject/sof/commit/63a552992caa833ef9ac106037ca0106eab75fb8)
@tlauda  please check it

[2019-11-21 12:31] paulstelian97 commented on #2067
I have looked into the headers and I have found the following places have macros which may be worth replacing with inline functions:

* `<sof/spinlock.h>` -- I consider this one needs to be refactored more seriously. `spin_lock_irq` will need an interface change to return flags instead of passing as parameter, although I can accept having a wrapper macro for this purpose (if there is a good reason

[2019-11-21 12:31] paulstelian97 commented on #2067
Will bring a pull request with the changes in `<sof/spinlock.h>` soon.

[2019-11-21 12:50] wwittbrx commented on #2081
I cannot reproduce this issue with the following recipe (cml-008-drop):

PLATFORM: CML HATCH
OS: UBUNTU 19.04
FW: f7dfd05b9fa4 sof-cml-rt5682-max98357a.m4
KERNEL: 5d67c4b + PR1383 + 169c659

Could you check if this is true on your side as well? I would strongly recommend switching to CML 008 as it is much more stable, with multiple fixes.

[2019-11-21 12:51] wwittbrx commented on #2082
I cannot reproduce this issue with the following recipe (cml-008-drop):

PLATFORM: CML HATCH
OS: UBUNTU 19.04
FW: f7dfd05b9fa4 sof-cml-rt5682-max98357a.m4
KERNEL: 5d67c4b + PR1383 + 169c659

Could you check if this is true on your side as well? I would strongly recommend switching to CML 008 as it is much more stable, with multiple fixes.

[2019-11-21 12:51] wwittbrx commented on #2092
I cannot reproduce this issue with the following recipe (cml-008-drop):

PLATFORM: CML HATCH
OS: UBUNTU 19.04
FW: f7dfd05b9fa4 sof-cml-rt5682-max98357a.m4
KERNEL: 5d67c4b + PR1383 + 169c659

Could you check if this is true on your side as well? I would strongly recommend switching to CML 008 as it is much more stable, with multiple fixes.

[2019-11-21 12:52] wwittbrx commented on #2107
I cannot reproduce this issue with the following recipe (cml-008-drop):

PLATFORM: CML HATCH
OS: UBUNTU 19.04
FW: f7dfd05b9fa4 sof-cml-rt5682-max98357a.m4
KERNEL: 5d67c4b + PR1383 + 169c659

Could you check if this is true on your side as well? I would strongly recommend switching to CML 008 as it is much more stable, with multiple fixes.

[2019-11-21 12:52] wwittbrx commented on #2113
I cannot reproduce this issue with the following recipe (cml-008-drop):

PLATFORM: CML HATCH
OS: UBUNTU 19.04
FW: f7dfd05b9fa4 sof-cml-rt5682-max98357a.m4
KERNEL: 5d67c4b + PR1383 + 169c659

Could you check if this is true on your side as well? I would strongly recommend switching to CML 008 as it is much more stable, with multiple fixes.

[2019-11-21 14:39] paulstelian97 commented on #2049
Will close as soon as I merge the changes that confirm this works properly. This shall happen these days.

[2019-11-21 14:50] paulstelian97 commented on #2067
To those interested, see #2122 (it's in draft for now because there are certain things that may need to be redone), for `<sof/spinlock.h>`. For the other one I'm waiting for feedback on whether they should change (it should be a much simple change though)

[2019-11-21 15:37] lgirdwood commented on #2118
@hsanjuan Yes, we are working on this, it's a manual process. We also think we have an issue with v1.4 which we are stress testing and may just go straight to v1.4.1 in next few days. + @fkaczmar @lbetlej @wenqingfu

[2019-11-21 17:51] hsanjuan commented on #2118
Thanks for the info!

[2019-11-21 18:09] sathyap-chrome commented on #2117
we have found a way to reproduce the issue.

please find steps to reproduce the issue on chrome environment.

echo 0 > /var/lib/power_manager/disable_dark_resume
echo 0 >/usr/share/power_manager/disable_idle_suspend
set_power_policy --battery_idle_action=suspend --ac_idle_action=suspend
set_power_policy --battery_idle_delay=10 --ac_idle_delay=10
restart powerd

After doing this, allow the system i

[2019-11-21 18:36] lgirdwood commented on #2117
@tlauda I think we need to improve this as we may have some races here with external IP and D3/S0ix entry. @ranj063 also seeing similar issues on CHT. I think we should be disabling all external timers, DMICs, SSPs, DMAC and waiting for thier completion prior to returing IPC sucess to the driver. DMA trace and external timers are obvious users that could race ?

[code]

[2019-11-21 18:40] lgirdwood commented on #2101
@singalsu can we have topology tuple flags for ramp up/down at stream start, this way we can turn it off/on as needed.

[2019-11-21 18:45] ranj063 opened #2123 "[BUG] WFI Panic when processing CTX_SAVE IPC"
**Describe the bug**
Panic when processing CTX_SAVE IPC while trying to wait_for_interrupt with level 0 from the IPC task.

**To Reproduce**
Boot FW with PM enabled (https://github.com/thesofproject/linux/pull/1523)

**Reproduction Rate**
100%

**Expected behavior**
No panic with WFI

**Impact**
When the panic happens, the FW sends the panic message to the host
and goes into an infinite loop while

[2019-11-21 18:47] ranj063 commented on #2123
@tlauda FYI.

Moving the WFI to the audio task with run level 0 helps fix the panic but then the FW fails to boot randomly upon resuming from D3.

[2019-11-21 22:58] fletcherw opened #2124 "[BUG] GLK Chromebooks with da7219 have 400ms delay waiting for SRM lock"
cc @cujomalainey

**Describe the bug**
There is a 400ms delay when calling snd_pcm_prepare on glk chromebooks using the da7219 since the code to wait for the SRM lock times out after 400ms. I spoke with the author of the codec driver at Dialog, and their response was:

"I'm almost certain this is because the platforms in question are not enabling the WCLK before the codec's PLL is being enabled. [

[2019-11-21 23:16] plbossart commented on #2124
Humm... All machine drivers based on da7219 pretty much do the same thing, so not sure why this would be specific to GLK?
besides, the MCLK is provided, so not sure why the codec would lock on the WCLK? The PLL reference should the be the MCLK, not WCLK.

[2019-11-22 00:38] cujomalainey commented on #1847
just tried ToT and still having issues, but I am getting a full firmware oops now which should help me debug tomorrow

[2019-11-22 01:13] mengdonglin commented on #2117
Progress shared by @sathyap-chrome：
"please find steps to reproduce the issue on chrome environment.

echo 0 > /var/lib/power_manager/disable_dark_resume
echo 0 >/usr/share/power_manager/disable_idle_suspend
set_power_policy --battery_idle_action=suspend --ac_idle_action=suspend
set_power_policy --battery_idle_delay=10 --ac_idle_delay=10
restart powerd

After doing this, allow the system idle for

[2019-11-22 02:22] cujomalainey commented on #2124
This is not specific to GLK, we are just logging this here as a GLK bug since this is the only SOF based board that we have the da7219 on that we are seeing this issue with currently and figured since SOF is under active development we should report it here first.

[2019-11-22 03:09] xiulipan commented on #2096
@lgirdwood Thanks for the hint, I will try to add some log to check if the BDW hits these issues.

IPC is working with TPLG load.
Volume change is always working.
DMA trace is working.
Only playback is not working, seems to be SSP DAI driver issue.

[2019-11-22 05:54] sinahuang commented on #2117
Issue still can be reproduced on TGL-RVP with MSI mode when doing suspeand & resume without playback stress test.

Test for 300 times, failed at 200th time.

**To reproduce:**
Run "sudo  ./stress_s3.sh  300 1 0"

Scripts:
[stress-s3.txt](https://github.com/thesofproject/sof/files/3878101/stress-s3.txt)

Dmesg:
[code]

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/

[2019-11-22 07:34] keyonjie commented on #2117
when you can reproduce the issue, can you try if https://github.com/thesofproject/sof/pull/2125 help?

[2019-11-22 08:39] perexg commented on #2102
I am trying to fix this in the linux driver using the fw ABI version check:

https://mailman.alsa-project.org/pipermail/alsa-devel/2019-November/159055.html

[2019-11-22 08:48] perexg opened #2126 "[BUG] Cannot load firmware on Acer Switch SF314-57G"
**Describe the bug**
The user cannot load signed firmware v1.3 on Acer Swift SF314-57G:

<pre>
Manufacturer:      Acer
Product Name:      Swift SF314-57G
Product Version:   V1.07
Firmware Version:  V1.07
Board Vendor:      IL
Board Name:        Floris_IL
</pre>

https://bugzilla.redhat.com/show_bug.cgi?id=1772498#c16

Discussion:

What is the expected behaviour, if the DSP has own (vendor) authent

[2019-11-22 09:38] mmaka1 opened #2127 "[FEATURE] SW Reg mailbox in cAVS should use uncached area"
platform_trace_point() is defined as mailbox_sw_reg_write() and the latter writes to cached area on cAVS (0xbe...) followed by immediate writeback. It does not work correctly if multiple cores write to "sw regs" allocated on the same cache line (64B - 16 regs). This should be changed to uncached (0x9e...) w/ writeback removed (not sure if this could be a common code or requires cAVS specific imple

[2019-11-22 10:04] lgirdwood commented on #2096
@xiulipan ok, I'll send you some SSP configs that might help.

[2019-11-22 10:18] lgirdwood commented on #2124
@sathyap-chrome fyi

[2019-11-22 10:59] singalsu commented on #2101
We have a single token for ramp length but the same length is used for both start and during streaming. The ramp is turned off by setting length to zero.

[2019-11-22 11:11] paulstelian97 commented on #2049
Sorry, cannot close, there is one more change that needs to be done (and I will push it together with the removal of every trace of SSP from my platform).

[2019-11-22 11:30] sinahuang commented on #2117
Issue still can be reproduced with master(commit: 9b5dc8c+PR #2125) on TGL-RVP when doing suspeand & resume without playback stress test.

Test for 300 times, failed at 130th time.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 68cadd8
FW: https://github.com/thesofproject/sof/commits/master commit: 9b5dc8c+PR #2125
Tplg: Same with TGL FW b

[2019-11-22 13:33] perexg commented on #2102
Another issue: The capture rate is twice than requested for dmic input on this platform. Do prefer to create a new issue?

[2019-11-22 14:54] perexg commented on #2102
Ok, it seems that if I use the sof-hda-generic-2ch.tplg for sof-hda-generic-4ch.tplg then the stereo rate is fine (the signal is really weak). What's the reason to not refuse the stereo for 4ch topology when it does not work? Or the 4ch should be converted to 2ch.

It's really difficult to work with this :-(

[2019-11-22 15:23] #2127 closed

[2019-11-22 16:53] plbossart commented on #2124
ok, thanks for the precision.
I think at some point we discussed turning on the bclock earlier, if it was needed, but if we'd need to turn the fsync/WCLK earlier that's a completely different story, we need need to start dummy transfers.
@lbetlej please correct me if I am saying something silly here.

[2019-11-22 16:55] plbossart commented on #2102
@perexg do you mind starting another issue and add @singalsu in the loop
I wonder if the NHLT reports are incorrect if you have 2 mics but the platform advertises 4.
We did add a volume boost for dmic, so maybe the topology is also old?

[2019-11-22 18:32] #2049 closed

[2019-11-22 18:41] perexg opened #2131 "[BUG] Linux driver - wrong PCM channel constraints for dmic"
The 4ch topology does not work correctly with the ALSA's PCM API. There is no constraint to not accept the 2 channel stream configuration in this case, which results with the wrong captured stream (probably 4 channel stream which looks like 2 channel stream with the doubled rate for apps).

If I use the sof-hda-generic-2ch.tplg as sof-hda-generic-4ch.tplg then the stereo rate is fine.

Also, we sh

[2019-11-22 18:41] cujomalainey commented on #2124
Jimmy pointed out there appears to be something similarly done for rt5664 on kbl. Maybe something similar needs to be done for all da7219 boards? https://chromium-review.googlesource.com/c/chromiumos/third_party/kernel/+/764232/

[2019-11-22 18:41] perexg commented on #2131
@plbossart : As requested, adding @singalsu to this bug...

[2019-11-22 18:42] perexg commented on #2102
The problem is not if the laptop has 2 or 4 mics. The problem is that if the user space application opens the PCM device with 4ch topology and asks for 2 channels, the fw/driver ignores that and sends 4ch stream to it (probably - the rate is doubled in my test environment). The driver is broken (it should not offer/accept the 2 channel PCM configuration in this case).

Also, we should pass 2ch/4ch

[2019-11-22 18:42] perexg commented on #2102
Created https://github.com/thesofproject/sof/issues/2131 .

[2019-11-22 18:46] cujomalainey commented on #1847
Looks like the oops was triggered by the new agent that tracks clock drift.

[code]

which happens on the first playback but after that, all playback/records fail on the trigger IPC call when they try to start

[2019-11-22 18:47] plbossart commented on #2131
@perexg could you trace the value returned by this function

[code]

just to check that the detection is correct.

Also which topology are you using?

[2019-11-22 18:58] plbossart commented on #2124
one of the difference with KBL is that the SOF firmware does not provide (yet) the ability to start BCLK/FSYNC on demand from the machine driver.
It's something we know we'll need but it's not there just yet.

[2019-11-22 18:58] lgirdwood commented on #1847
@cujomalainey default SSP master clock is different on CHT/BSW comapred to BYT.  25MHz vs 19.2MHz IIRC, it seems that we have an incorrect clock setting in CHT which is failing on scheduling/agent calculations etc @ranj063 @keyonjie do you guys have this HW to check all the clock macros.

[2019-11-22 18:59] perexg commented on #2131
It's really straight that dmic_num is 4 here, looking to hda_init_caps() in sound/soc/sof/intel/hda.c , default module parameters (no dmic_num override). I believe that there are 4 mics in hw.

The capture PCM device should not allow 2 channel operation or there should be a possibility to reduce the number of channels in DSP (from 4 to 2) when the app asks for it.

Topology is from the 1.3.1 tag.

[2019-11-22 19:00] plbossart commented on #2102
ah ok, yes, that's looks like a bug but on the driver side then. It's not a firmware bug.

The Chrome folks use a channel mask IIRC, but I can't recall if it's static or not.

[2019-11-22 19:01] plbossart commented on #1847
we only use 19.2 in all cases. 25 MHz is not used for SSP, ever.

[2019-11-22 19:02] ranj063 commented on #1847
@lgirdwood yes we've got the BSW cyan chromebook. It is already part of our CI now

[2019-11-22 19:23] cujomalainey commented on #1847
Do you have a snipit I can apply to correct this shift in the mean time to adjust the clocking so I am unblocked on my debugging?

[2019-11-22 19:38] mmaka1 commented on #2117
Please retest with #2132. Disassembly clearly shows that address of literal block passed to the dcache lock instruction in power_down() routine was computed incorrectly. And it might cause rare issues when trying to load the control bits for IPC ctx_save ipc response. This patch fixes the issue. No guarantee this was the only one, so the issue may be still reproducible.

[2019-11-22 21:18] lgirdwood commented on #1847
@plbossart my understanding was that the ext timer either used 25 or 19.2, but could it be incorrectly set on CHT/BSW ? The only other difference I can see is
[code]
@cujomalainey what happens if you swap the array elems for SSP clock in clk.c (I'm wondering if the clocks are inverted).
[code]

[2019-11-22 22:16] cujomalainey commented on #1847
so get this, that message was only appearing when boot beep was allowed to run. When i flip the `platform_ssp_freq` table then the message appears when boot beep is **NOT** allowed to play.

[2019-11-22 22:28] keyonjie commented on #2107
@wwittbrx we all hope to switch :), but unfortunately we can't, we have to figure out the fixes and back port them to 007.

[2019-11-22 22:29] keyonjie commented on #1847
@lgirdwood @cujomalainey it looks to me that here the error happens on dw dma part, it is somewhat similar to https://github.com/thesofproject/sof/issues/2107

[2019-11-22 22:38] cujomalainey commented on #1847
@keyonjie yes the initial part of this bug does look similar, but we deemed it a hardware issue and bypassed it in #1861. I don't think the issue we are facing now is related.

[2019-11-22 22:52] cujomalainey commented on #1847
@lgirdwood I am wondering if maybe the SSP clock isn't being updated

Looking at the set_freq code between the SSP and CPU, the CPU sets some register bits to the desired clk freq then sends an IPC to trigger the update on the PMC (not sure what the PMC is.) Where as the SSP appears to blindly pass in the SSP frequency index as the IPC parameter. Is this correct?

https://github.com/thesofproject/

[2019-11-22 22:57] cujomalainey commented on #1847
Apologies that was a red herring, I thought it was sending an enum. I incorrectly traced it, I see the commands now in the header.

[2019-11-23 18:07] lgirdwood commented on #1847
@cujomalainey PMC is a companion micro controller than manages some PM domains and clocks. I suspect boot beep is setting the clocking and we are changing it later. I'm pretty sure that PC beep and core boot have a PMC driver so they could be setting clocks via SHIM or PMC.

Can you dump the SHIM contents with and without PC beep enabled ? There is a lot of clock config in there and it's possible

[2019-11-23 18:22] lgirdwood commented on #2107
@keyonjie why cant you work on master ? @wenqingfu fyi.

[2019-11-23 18:25] lgirdwood commented on #2117
@sathyap-chrome @sinahuang #2132 now merged in master. Please test.

[2019-11-23 18:39] lgirdwood commented on #2124
@plbossart thinking aloud here would could have a tuple flag for this in DAI topology (to enable certain clocks immediately after hw_params are known) e.g.

1) hw_params IPC is sent from host to FW. hw_params propagates through pipeline.
2) DAI driver gets hw_params and checks it's topology clock flags.
3) DAI Enables MCKL/BCLK.
4) Back on host, the machine driver prepare() stalls for clock lock t

[2019-11-24 16:58] sathyap-chrome commented on #2117
Thanks liam, will retest.
unfotunately, the issue itself is hard to reproduce, but as soon as we hit, will test with this.

[2019-11-24 19:40] perexg opened #2134 "[BUG] Cannot load firmware on Lenovo Yoga C940 with cpu IceLake i7-1065G7"
The user cannot load signed firmware v1.3:

<pre>
[    4.286091] sof-audio-pci 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[    4.286213] sof-audio-pci 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[    4.286225] sof-audio-pci 0000:00:1f.3: enabling device (0000 -> 0002)
[    4.286412] sof-audio-pci 0000:00:1f.3: warning: No matching ASoC mach

[2019-11-25 01:55] aiChaoSONG commented on #2113
@wwittbrx did you try sof master? please give it a try.

[2019-11-25 04:36] aiChaoSONG commented on #2092
cml-007-drop is ship with google's official image, could you try directly on helios, and see if you can reproduce this issue? since hatch is the old prototype, we are now pay more attention on helios.

[2019-11-25 05:07] aiChaoSONG commented on #2081
yes, 008 is much stable, but google insist on doing release with 007, could you please try to test on Chrome, the 007 version is shipped with google image.

[2019-11-25 05:15] aiChaoSONG commented on #2107
this issue exist both on master and 008, please use helios to test and fix, this issue only exist on helios, not hatch.

[2019-11-25 05:38] sathyap-chrome commented on #2107
This issue was only seen from 008 on Helios. This issue is blocking our upgrade to 008.
On 007 this is not seen

[2019-11-25 06:32] Liviali155 opened #2135 "[BUG][BYT][RT5682]The output frequency is very slow when aplay via media palyback(0,1)"
**Describe the bug**
The output frequency is very slow when aplay via media palyback(0,1)
It is normally when aplay via (0,0)
It seems a firmware regression issue

**To Reproduce**
1.sudo reboot with headset insert
2."aplay -Dhw:0,1 -r 48000 -c2 wav/44California_Dreaming.wav -vv -i" to aplay  audio

[code]
**Reproduction Rate**
5/5

**Expected behavior**
Output normally when aplay via media playba

[2019-11-25 08:18] sinahuang commented on #2117
Issue still can be reproduced when doing suspeand & resume without playback stress test after PR #2132 merged in master .

Test for 300 times, failed at 205th time.

**Test recipe**

Kernel:https://github.com/thesofproject/linux/tree/integration/soundwire-latest commit: 68cadd8
FW: https://github.com/thesofproject/sof/commits/master commit: d6fe2b1
Tplg: Same with TGL FW branch commit: sof-tgl-rt7

[2019-11-25 08:43] sathyap-chrome opened #2136 "[BUG] DSP FW load fails across boots on CML"
**Describe the bug**
The issue is seen on couple of chrome systems.
What tests was run to reach the error state is unknown.
But at current state, DSP FW load fails and its not recovered even after cold reboot.
Only when we reflash Coreboot, the FW load is successful.

**Reproduction Rate**
Quite rare, but when happens its persistent

**Expected behavior**
DSP FW load failure should not occur. Even

[2019-11-25 08:44] sathyap-chrome commented on #2136
@mengdonglin checked and saw the below trace hinting at rom not responding:
[    5.816760] sof-audio-pci 0000:00:1f.3: error: status = 0x00000000 panic = 0x00000000

Request FW team for more analysis and also next steps that might help debug further

[2019-11-25 10:27] sathyap-chrome commented on #2117
Hi liam, fw team,
 since customer PV is on CML 007, we tried to make this change on top of cml_007 branch and the configs failed - error attached.
 Seems there is couple of dependent patches we need to take.
 Kindly help porting back this fix - assuming we are having high confidence to fix the issue.
[cml_007_plus_pr2132_build_fail.txt](https://github.com/thesofproject/sof/files/3886119/cml_007_pl

[2019-11-25 12:34] wwittbrx commented on #2107
@sathyap-chrome
I suspect that the problem here is with topology file you are using.
Please try the following recipe:

Coreboot: ChromeOS-firmware-R79-12607.38.0
ChromeOS: ChromeOS-test-R79-12607.38.0-hatch
Platform: Helios
Topology: Same as the one included in OS image
Kernel: Same as the one included in OS image (Linux localhost 4.19.79-07513-g939160fe46cd #1 SMP PREEMPT Sat Nov 23 23:55:51)
FW:

[2019-11-25 12:39] wwittbrx commented on #2117
I am unable to reproduce the issue with the provided steps on any of CML platforms available to me right now. I will try TGL next and update if there are results.

[2019-11-25 14:30] plbossart commented on #2124
Yes, and I remember discussing this with @lbetlej. We can enable MCLK and BCLK as soon as the config is known, and we can use the existing SSP quirk mask to indicate the desire behavior.
The issue is for the WCLK/FSYNC, you have to enable it with dummy transfers so it's a completely different solution that would be needed.

[2019-11-25 14:32] sathyap-chrome commented on #2107
@wwittbrx Thanks for this triage. But we dont have any changes on 008 specifically.
Actually i made changes for 007 after posting  fix on master.

If the same m4 file is built with 008, are you seeing playback errors ?

[2019-11-25 14:41] singalsu commented on #2131
The topology should should set the the PCM channels min and max to four and attempt to do "arecord -c 2" should be rejected. I'll check here if I can repeat the issue. Thanks for reporting it!

[2019-11-25 15:10] singalsu commented on #2131
I get with topology sof-hda-generic-4ch.tplg this:

[code]
Is the same topology that you used @perexg ?

[2019-11-25 15:14] perexg commented on #2131
I am using the topology files from v1.3.1 tag.

[2019-11-25 15:18] wwittbrx commented on #2107
With topology built with cml-008-drop-stable the speaker playback does not work (aplay seems hanged).

https://github.com/thesofproject/sof/blob/cml-008-drop-stable/tools/topology/sof-cml-rt1011-rt5682.m4

From what I understand the topology included in ChromeOS image is made with cml-007-drop-stable + PR #1948

The difference between these files at a glance is:
in cml-008
PIPELINE_PCM_ADD(sof/pip

[2019-11-25 15:26] perexg commented on #2118
Any update? We are a bit stuck, because v1.3 binaries/topologies are not so much usable. Thanks.

[2019-11-25 15:34] lgirdwood commented on #2118
@perexg starting to trickle through now, I have CNL and ICLonly atm will be posting shortly. Others to follow.

[2019-11-25 15:37] singalsu commented on #2131
I did the check with git master of today. With topology from v1.3.1 I get this error instead:

[code]

With FW build from the same v1.3.1 also the same error.  Illegal channels count is not rejected cleanly. Is a more recent version possible for you?

[2019-11-25 15:56] lgirdwood commented on #2118
@perexg https://github.com/thesofproject/sof/releases/tag/v1.4.1 has APL, CNL and ICL signed bianries attached. Others to follow.

[2019-11-25 16:20] lgirdwood commented on #2124
@plbossart ouch, I can see why codec vendor has done this but from a system integration perspective it's undesirable (pretty much for every serial DAI IP). Gah.

[2019-11-25 16:25] lgirdwood commented on #2136
@sathyap-chrome if reflashing BIOS fixes this then it's possible something is corrupting parts of the coreboot (or other stitched in FWs) responsible for device boot/config (including DSP boot/config needed by DSP ROM).

[2019-11-25 16:29] lgirdwood commented on #2135
@Liviali155 can you play a sine wave of a fixed frequency and attach the capture. How long does a 5 second wave file take to play (aplay -d 5 -f dat /dev/zero) ?

[2019-11-25 16:43] sathyap-chrome commented on #2136
@lgirdwood yes, we are looking at the same too. Wanted to raise issue to get more debug help.
Is there any other debug we can attempt to point to narrow down the issue.

We are currently suspecting ME being in bad state.

Also we are looking at what sequence can bring to this state.

[2019-11-25 16:54] perexg commented on #2131
It seems that @lgirdwood finally release v1.4.1. I will test it ASAP.

[2019-11-25 17:18] pfps commented on #2134
I'm the original user for this bug.  What can be done to diagnose the problem?

[2019-11-25 17:41] perexg commented on #2134
@pfps: We have finally new firmware from Intel. Please, wait few hours (or to tomorrow). I'm updating Fedora packages right now.

[2019-11-25 17:59] plbossart commented on #2124
@lgirdwood see https://github.com/thesofproject/linux/blob/58ed327217ba03698a14191fe17c540551bb956e/sound/soc/intel/boards/kbl_rt5663_rt5514_max98927.c#L102 for examples of what was done in the past to toggle the clocks on/off from the machine driver.

[2019-11-25 18:08] perexg commented on #2118
@lgirdwood : Does not work on CNL, could you check, if those files are really signed with the Intel key?

<pre>
[   15.090406] sof-audio-pci 0000:00:1f.3: error: cl_copy_fw: timeout HDA_DSP_SRAM_REG_ROM_STATUS read
[   15.090865] sof-audio-pci 0000:00:1f.3: error: load fw failed ret: -110
[   15.091408] sof-audio-pci 0000:00:1f.3: error: status = 0x0000002c panic = 0x00000000
[   15.091632] sof-au

[2019-11-25 18:21] plbossart commented on #2118
the 1.4.1 firmware works for me on a WHL device (same as CNL).

[2019-11-25 18:43] perexg commented on #2118
@plbossart : Do you run this with the kernel which is in the linux-sound-next tree (tiwai)?

[2019-11-25 18:52] plbossart commented on #2118
i run our development tree, which follows both Mark and Takashi trees weekly.
https://github.com/thesofproject/linux/commits/topic/sof-dev

can you share the PCI ID, the release for CML is missing but will be available tomorrow

[2019-11-25 18:53] perexg commented on #2118
Lenovo ThinkPad Carbon X1 7th gen:

<pre>
00:1f.3 0403: 8086:9dc8 (rev 11) (prog-if 80)
	Subsystem: 17aa:2292
</pre>

[2019-11-25 18:54] perexg commented on #2118
It seems that the problem is on ICL, too: https://github.com/thesofproject/sof/issues/2126

[2019-11-25 18:58] plbossart commented on #2118
that's the same PCI ID I tried. were you able to use the 1.3 binaries on this one?

[2019-11-25 19:01] perexg commented on #2118
Yes, the signed 1.3 binaries can be loaded to DSP here.

[2019-11-25 20:52] wenqingfu commented on #2117
can you please elaborate what environment you used that you cannot reproduced the issue?

[2019-11-25 20:54] ranj063 commented on #2117
@wenqingfu it looks like the kernel used by @sinahuang is the SDW dev tree. We should be using the sof-dev branch for this test or the cml-007 release branch

[2019-11-25 21:25] hsanjuan commented on #2136
I started having a very similar error using sof-cnl-v1.4.1.ri on Kernel 5.4. It seems I cannot revert either to the previous setup on Kernel 5.3 and SOF v1.3. While there seems to be more progress loading the drivers, I get an unending stream of:

[code]

[2019-11-25 21:28] hsanjuan commented on #2118
I also have this on Kernel 5.4.

[2019-11-25 21:37] hsanjuan commented on #2136
Nevermind, this seems to have been caused by a mismatch in the topology

[2019-11-25 22:55] sathya-nujella commented on #2084
Hi @plbossart , @ranj063 ,
Currently we are using the firmware with the changes proposed in PR related to this.
Please suggest and do the changes so that we can release official firmware image to customer. Thanks!

[2019-11-25 23:34] cujomalainey commented on #1847
Diff of the files below.

[good_shim.txt](https://github.com/thesofproject/sof/files/3889265/good_shim.txt)
[bad_shim.txt](https://github.com/thesofproject/sof/files/3889266/bad_shim.txt)

[code]

[2019-11-25 23:38] plbossart commented on #2117
there's no real difference, the sdw is rebased on topic/sof-dev every time we have a new PR.

[2019-11-25 23:41] plbossart commented on #2084
there's a need for more experiments on this one, the proposal from @ranj063 is far from optimal (uses M/N dividers even when it's not needed). we'll probably need the firmware folks to look into this.

[2019-11-26 01:54] Liviali155 commented on #2135
I aplay sine_48k_stereo_440.wav via (0,0) and (0,1)media playback,the capture file are attachments
as the capture show,aplay sine wave via (0,0) takes about 10s,but aplay sine wav via (0,1)mediaplayback takes about 13s
Aplay via (0,1) media playback
<img width="960" alt="Capturemediaplayback" src="https://user-images.githubusercontent.com/56707932/69592828-301f7a80-1032-11ea-85a9-c868792443d3.PNG"

[2019-11-26 02:08] cujomalainey commented on #1847
So I forced the SHIM values back to the good for SHIM_SSP2_DIVL and SHIM_SSP2_DIVH in the SSP probe but I read back `4b401` rather what I wrote which was `80000001` in `SHIM_SSP2_DIVH` so not sure what the issue is there.

[2019-11-26 02:37] Liviali155 commented on #2135
Bi-sect result: Caused by firmwire commit [ee9283c1](https://github.com/thesofproject/sof/commit/ee9283c159649e4248e4188fe0b47b551e22342c)

[2019-11-26 02:44] wenqingfu commented on #2117
Um... my question is actually to @wwittbrx ...

[2019-11-26 05:51] Liviali155 commented on #2135
On BYT MB nocodec can reproduce this issue
platform: BYT MB with nocodec
Firmware: db7671ac https://github.com/thesofproject/sof/commits/master
Kernel: 58ed3272 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-byt-nocodec.tplg  same as firmware

[2019-11-26 06:06] Liviali155 commented on #2114
On BYT MB nocodec can reproduce this issue
platform: BYT MB with nocodec
Firmware: db7671a https://github.com/thesofproject/sof/commits/master
Kernel: 58ed3272 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-byt-nocodec.tplg same as firmware

[2019-11-26 08:47] wwittbrx commented on #2117
@wenqingfu
I tried reproducing the issue with env provided in ChromeOS-12607.8.0 image (no changes on my part beyond installing the OS; I later upgraded to 12607.38.0 version with same result) on Helios platform - this is the main recipe for this issue for me. I also ran tests on Hatch with Ubuntu on cml-007-drop-stable recipe and on CML RVP with recent sof-dev and master branches. The tests were

[2019-11-26 09:06] aiChaoSONG commented on #2107
with cml-008-drop-stable FW + tplg from google R79 image, speaker can output sound. it seems this issue is because the tplg m4 file not properly configured.
@keyonjie Please compare tplg m4 of 007 and master, and try to fix the issue on master

[2019-11-26 09:43] mengdonglin commented on #2136
Comments from @sathyap-chrome: Found issue to be related to ME region being in bad state.

[2019-11-26 09:49] aiChaoSONG opened #2139 "[BUG][CML-008][ChromeOSR79] ipc timeout in pause/release stress test on speaker pipeline"
**Describe the bug**
play some sound via speaker pipeline, then press SPACE continuously and rapidly,  you will see `aplay: do_pause:1537: pause push error: Connection time out` in the terminal, checkout dmesg, you will see ipc timeout error.

**To Reproduce**
1. run `aplay -Dhw:0,5 -f dat -i -c 2 -vvv ./some.wav`
2. press SPACE continuously and rapidly

**Reproduction Rate**
less than 40 press, y

[2019-11-26 09:52] aiChaoSONG commented on #2139
@wwittbrx @mmaka1 please have a look at this issue, and cml-008 has another issue: #2044, which is already fixed on master, please fix #2044 on cml-008 too.

[2019-11-26 10:33] lgirdwood commented on #2118
Ok, so I've checked and confim the signing key is the same for both v1.3 and v1.4.1, however I can see some differences with some of the signing flags. @lbetlej @fkaczmar can you guys check. Thanks.

[2019-11-26 10:47] keyonjie commented on #2107
this is interesting, we need to look into what is the wrong setting for master.

[2019-11-26 11:13] lgirdwood commented on #1847
@cujomalainey I think the SSP M/N dividers need an atomic 64bit update OR may need to be disabled prior to updates OR may need a write sequence. I do see an update bit (b61) which would also imply that 32bit writes are supported. i.e write bits 0 - 31, then 32 - 63 and set updte bit.

[2019-11-26 12:40] mmaka1 opened #2140 "[FEATURE] Remove int level from arch_wait_for_interrupt()"
Currently, the `arch_wait_for_interrupt()` takes a single `int level` argument to perform a check whether this value is then then current `arch_interrupt_get_level()` and panics otherwise. It does have any impact on the actual level lowered by by the `waiti 0` call that is eventually made.

So right now, a caller is made to either provide the current interrupt level to the function to pass the che

[2019-11-26 12:55] paulstelian97 commented on #2135
@jajanusz Did I do something wrong with my commit? Does BYT not define one of those yet is still expected to use the SSP clock? Or, did it define some other clock as SSP, breaking the assumption I had when I made that change?

[2019-11-26 13:03] paulstelian97 commented on #2135
Further reports: BYT defines CLK_SSP but not NOTIFIER_ID_SSP_FREQ, so it goes for the CPU_FREQ notifier ID. If that seems to be incorrect, the following patch may be attempted:

[code]

If this works I shall send a PR with this fix. I made the condition more complex because I believed that using NOTIFIER_ID_SSP_FREQ without defining it would be an error.

[2019-11-26 13:10] paulstelian97 commented on #2135
The above patch was applied in my pull request #2141. Can you check if it fixes this issue? @Liviali155

[2019-11-26 13:48] lgirdwood commented on #2135
@fredoh9 stange CI did not pick this up ? We should have a test that plays 5 seconds of audio and then checks the result does indeed take 5 seconds to play. @wenqingfu fyi

[2019-11-26 13:57] lgirdwood commented on #2114
@singalsu it looks like volume not working after it's adjusted to max or min value.

[2019-11-26 15:41] mengdonglin commented on #2117
@sathyap-chrome

Maybe we should solve https://github.com/thesofproject/sof/issues/2136 at first?

Because in your attached kernel log https://github.com/thesofproject/sof/files/3870561/power_down.log, there is the same FW loading failure as issue https://github.com/thesofproject/sof/issues/2136, before ipc timeout happens:

[   24.947381] sof-audio-pci 0000:00:1f.3: error: load fw failed ret: -11

[2019-11-26 16:08] cujomalainey commented on #1847
I'll try the ordering. Otherwise there is a bug in `shim_read/write` as that is what I was using to set and check.

[2019-11-26 16:29] lgirdwood commented on #1847
@cujomalainey thanks, I'm not 100% sure as we never used these bits on BYT, they are on the other platforms but IO is 32bit instead of 64bit.

[2019-11-26 18:01] sathyap-chrome commented on #2117
@mengdonglin The logs i attached are indeed from the DSP load fail scenario. But the customer reports suggest they were able to use Audio until a potential suspend / idle suspend resulted in fw errors and eventual shutdown due to continuous suspend entry failures.

Unfortunately we are able to reproduce only the DSP load failure issue and not the the customer reported ones.

[2019-11-26 18:54] cujomalainey commented on #1847
Ah yes, I definitely made that mistake, also I'm remembering there is a 90% chance I forgot to put the 0x to make it hex

[2019-11-27 00:32] cujomalainey commented on #1847
**SUCCESS!!!**
Adding the following writes fixes the bug. Audio playback works and the agent is happy.
[code]
Now the question of where to integrate it in SOF? Also I traced the respective writes in depthcharge which are causing the issue.

https://chromium.googlesource.com/chromiumos/platform/depthcharge/+/refs/heads/master/src/drivers/bus/i2s/braswell/braswell.c#607

[2019-11-27 02:17] Liviali155 commented on #2135
I tried with #2141,error not seen

[2019-11-27 07:37] Liviali155 opened #2143 "[BUG][BYT][RT5682]Dmesg show "error : DSP panic!" when doing volume change without playback/capture"
**Describe the bug**
Run "test-vol.sh" to do  volume change without playback/capture -1000 times
After Done run  "test-vol.sh"  again,Dmesg show "error : DSP panic!"
Then aplay/arecord can not work, Recover after sudo reboot system

**To Reproduce**
1.sudo reboot
2.Run "test-vol.sh" to do  volume change without playback/capture -1000 times
3.After done run "test-vol.sh" again

**Reproduction Rate*

[2019-11-27 07:43] dengyangchao opened #2144 "[BUG][XCC-compiler]HiFi3 PCM conversion causes hang with Pause-release."
**Describe the bug**
Run pause-release stress test, and occur ipc timed out for 0x60060000 size 12, pause-release interval time 0.5s.  Both DMIC HW:0,6 and HW:0,7 can reproduce.
Only reboot can make sof back to work

**To Reproduce**
1.reboot system via"sudo reboot"
2.wait runtime PM status to suspend
3.run stress test via command ```./sof-test-pause-release.sh -t pcm6c```

**Reproduction Rate**
u

[2019-11-27 07:44] keyonjie commented on #2117
Hi @sathyap-chrome from the dmesg you attached in the bug description, you didn't blacklist the snd_soc_skl driver? I think this is why we are seeing the probing fail, the SST driver was loading.

[2019-11-27 07:44] dengyangchao commented on #2144
Seems similar with #2044

[2019-11-27 08:17] singalsu opened #2145 "[BUG] Build fail with RF-2016.4 for CNL"
**Describe the bug**
[code]

**To Reproduce**
Build for CNL with configuration X6H3CNL_2016_4_linux and xt-xcc version RF-2016.4

**Reproduction Rate**
Always

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Environment**
1) Branch name and commit hash of the 2 repo

[2019-11-27 08:22] Liviali155 opened #2146 "[BUG][APL][PCM512x]"ipc timed out for 0x60050000 size 12" when aplay via media playback(0,4)"
**Describe the bug**
"ipc timed out for 0x60050000 size 12" when aplay via media playback(0,4)
After that aplay can not work,Recover after sudo reboot system

It seems like a firmware regression

**To Reproduce**
1.Sudo reboot with headset insert
2.aplay -Dhw:0,4 -fs16_le -c2 -r 48000 -vv -i wav/48California_Dreaming.wav

[code]
**Reproduction Rate**
5/5

**Expected behavior**
Aplay normally via m

[2019-11-27 08:37] Liviali155 commented on #2143
Bi-sect result: Caused by firmwire commit ee9283c1
@paulstelian97 please check it

[2019-11-27 08:50] paulstelian97 commented on #2143
@Liviali155 Same as the other issue I think, can you check with #2141 applied? That should return to the old behaviour on BYT.

[2019-11-27 08:55] sathyap-chrome commented on #2117
@keyonjie  the fix to blacklist SST driver , i'll do. But i feel this is not realted as this is there in Chrome tree for long time. we should have hit more issues if SST driver was interfering with SOF driver.

[2019-11-27 08:56] paulstelian97 commented on #2146
@Liviali155 I think that is also with my problematic commit (all BYT bugs should suspect it's due to that until #2141 is merged -- I really messed up with that one, sorry). Is it because of that/does my PR fix it?

[2019-11-27 09:22] aiChaoSONG commented on #2092
This issue has high impact on user experience.

[2019-11-27 09:35] lgirdwood commented on #1847
@cujomalainey great :) There is no harm in adding these writes to platform.c init() in order to reset the M/N dividers to a sane state expected by FW.
@plbossart I guess this same M/N disable logic would be needed for BDW too ?

[2019-11-27 09:42] lgirdwood commented on #2135
#2141 now merged.

[2019-11-27 09:42] #2135 closed

[2019-11-27 09:46] lgirdwood commented on #2144
@dengyangchao I assume this only happens with DMIC and that SSP/HDA are OK ?

[2019-11-27 09:51] lgirdwood commented on #2143
#2141 applied.

[2019-11-27 09:51] #2143 closed

[2019-11-27 09:53] lgirdwood commented on #2117
@sathyap-chrome can you blacklist it anyway (just to rule it out), there could be recent and unrelated kernel/FS/coreboot changes that could effect the probing order (and any IP programming flow).

[2019-11-27 09:54] lgirdwood commented on #2146
@Liviali155 can you try again with master HEAD now that #2141 is merged.

[2019-11-27 10:08] sathyap-chrome commented on #2117
@lgirdwood yes. i'll be doing the same.

[2019-11-27 10:17] dengyangchao commented on #2144
@lgirdwood At present, the issue only observed on CFL-S RVP's DMIC.

[2019-11-27 10:46] lgirdwood commented on #2144
@dengyangchao ok, thanks. @singalsu @tlauda looks like DMIC driver issue on pause release.

[2019-11-27 11:53] lbetlej commented on #2145
@singalsu Is the issue reproduced with RG-2017.8 compiler ? I recommend you to update toolchain to RG-2017.8.

[2019-11-27 12:00] singalsu commented on #2144
I don't get IPC timeouts with WHL. Is it happening with other platforms than CFL?

[2019-11-27 12:54] singalsu commented on #2145
I just installed RG-2017.8 and it builds OK.

Should I just close this issue?

[2019-11-27 13:31] lgirdwood commented on #2145
@singalsu is xtensa-build.sh updated to use the new CC ?

[2019-11-27 13:41] singalsu commented on #2145
@lgirdwood Yes, it is up to date.

[2019-11-27 14:22] perexg commented on #2118
Ping. We really need the updated signed firmware. v1.3 is not sufficient.

[2019-11-27 15:27] lgirdwood commented on #2118
@perexg apologies, we may have an incorrect validation flag setting in the binary that some CSE firmwares use to verify the binary. @lbetlej is discussing with the CSE folks to make sure we use correct flags per target device.

[2019-11-27 15:33] #2145 closed

[2019-11-27 18:54] cujomalainey commented on #1847
If needed I can run a test on my Samus for BDW

[2019-11-27 19:49] lbetlej commented on #2118
@perexg Could you run https://downloadcenter.intel.com/download/28632/Intel-Converged-Security-and-Management-Engine-Intel-CSME-Detection-Tool and provide info on :
*** Host Computer Information *** and *** Intel(R) ME Information *** on your Lenovo ThinkPad Carbon X1 7th gen ?

[2019-11-27 20:01] perexg commented on #2118
<pre>
*** Host Computer Information ***
Name: localhost.localdomain
Manufacturer: LENOVO
Model: 20QE000VMC
Processor Name: Intel(R) Core(TM) i7-8665U CPU @ 1.90GHz
OS Version: Fedora 31 Thirty One (5.4.0-0.rc8.git0.1.alsa6.fc31.x86_64)

*** Intel(R) ME Information ***
Engine: Intel(R) Converged Security and Management Engine
Version: 12.0.40.1433
</pre>

[2019-11-28 01:14] aiChaoSONG commented on #2081
we upgrade only the  cml-008-drop-stable branch FW on Chrome OS and test, this issue also seen.
Recipe:
Kernel: ChromeOS R79 12607.28.0, commit id: `a5e05a63`
FW: cml-008-drop-stable (from 008 release)
Tplg: 007 version, shipped with ChromeOS

[2019-11-28 02:17] cujomalainey commented on #1847
Scratch that, there appears to be dai_link issues that are confusing me greatly on Samus with SOF

[code]
So I can't test until I wrap my head around why that is happening. I can file another bug if we want to bother fixing samus. I think it would be nice to officially support it for testing purposes.

[2019-11-28 02:20] Liviali155 commented on #2146
Bi-sect result: Caused by firmwire commit e0491ff7[](https://github.com/thesofproject/sof/commit/e0491ff77838ba59d634105620969b33c4cbfed9)
@tlauda  please check it

[2019-11-28 02:30] dengyangchao commented on #2144
At present, only reproduced the issue on CFL. Other platforms can't reproduced

[2019-11-28 03:20] dengyangchao commented on #2144
Caused by commit e0491ff , and only use xcc-compiler generate sof version can reproduce the issue.
@tlauda please help to check

[2019-11-28 07:10] Liviali155 opened #2149 "[BUG][BYT][RT5682]Dmesg show "error: sink SSP0.IN not found" when doing Modules reload"
**Describe the bug**
Doing Modules reload tips"sof_insert failed"
Dmesg show "error: sink SSP0.IN not found" when doing Modules reload

After that aplay/arecord can work normally
It seems a sof regression

**To Reproduce**
1.sudo reboot
2.kill sof-logger process
3."sudo ./sof_bootloop.sh" to do Modules reload

**Reproduction Rate**
5/5

**Expected behavior**
Sof insert successfully

**Impact**
Sof

[2019-11-28 07:26] dengyangchao opened #2150 "[BUG][CML]Multipipeline aplay&arecord pause release cause ipc timed out for 0x60070000 size 12"
**Describe the bug**
Multipipeline aplay(0,0)&arecord(0,0), pause release arecord cause ipc timed out for 0x60070000 size 12

**To Reproduce**
1. Reboot via "sudo reboot"
2. Wait runtime PM to suspend
3. open a terminal to aplay via "aplay -Dhw:0,0 -r48000 -c2 -fs16_le 48California_Dreaming.wav -vv -i"
4. Open another terminal to arecord via "arecord -Dhw:0,0 -r48000 -c2 -fs16_le test.wav -vv -i"

[2019-11-28 07:44] mengdonglin commented on #2107
@tlauda @wwittbrx This issue can also be reproduced on sof-dev kernel and tip of FW master branch, which should be compatible to each other. So please reproduce this issue with sof-dev and FW masterm (recipe in  the bug description), and check why  "Channel enable = 0." and so DMA cannot be started by FW, as https://github.com/thesofproject/sof/issues/2107#issuecomment-555848300 commented.

[2019-11-28 08:35] sathyap-chrome commented on #2136
Chrome team working with coreboot team . Hence closing this issue.

[2019-11-28 08:35] #2136 closed

[2019-11-28 09:42] dengyangchao commented on #2150
Caused by commit e0491ff , and only use xcc-compiler generate sof version can reproduce the issue.
@tlauda please help to check

[2019-11-28 09:42] wwittbrx commented on #2107
@aiChaoSONG @mengdonglin Please check if topology built with #2151 fixes the issue.

[2019-11-28 09:51] keyonjie commented on #2107
Good catch @wwittbrx.

[2019-11-28 10:48] aiChaoSONG commented on #2107
@keyonjie @wwittbrx @mengdonglin after apply #2151, no ipc timeout anymore, but no sound output via speaker. I will close this after #2151 merged, and submit a new one(no sound via speaker), please continue to debug with #2151, thx

[2019-11-28 11:50] lgirdwood commented on #2144
Related to https://github.com/thesofproject/sof/issues/2146 same bisect failure.

[2019-11-28 11:58] #2149 closed

[2019-11-28 12:21] paulstelian97 commented on #2145
@singalsu i.MX8 also is on 2016.4 and I'm not sure I can update. @dbaluta Does NXP have a newer toolchain we can use?

[2019-11-28 12:45] paulstelian97 commented on #2145
@lgirdwood Will send scripts update for i.MX8 when the compiler is readily available in NXP.

@mihaix Be aware that this issue affects us and RG-2017.8 fixes it for us as well.

[2019-11-28 13:28] wwittbrx commented on #2107
#2151 has been merged so I am closing this issue.
@aiChaoSONG I also have issues with no sound on speakers, but from the FW logs and -vvv option on aplay I can see that the stream is playing. Could you please check if there are any alsamixer settings that need to be configured before opening another issue?

[2019-11-28 13:28] #2107 closed

[2019-11-28 13:45] dbaluta commented on #2145
@singalsu why don't you upgrade to a newer version? We seen RI-2019.1 out there.

[2019-11-28 15:33] lgirdwood commented on #2145
@paulstelian97 @dbaluta is it worth adding a compiler.h that will reject building certain platforms if the compiler is a certain version (like Linux does ?)

[2019-11-28 15:45] singalsu commented on #2145
@dbaluta Personally I'd prefer newest compiler too (should have advantage in code speed etc.) but since our CI and official builds use some long time ago decided version I've installed those.

@lgirdwood I've got myself similar build errors too. Build for CNL has been more picky with the types for intrinsics. It should be a simple fix for pcm_converter_hifi3.c to avoid this, possibly just add a ma

[2019-11-28 19:30] lgirdwood commented on #1847
@cujomalainey yeah, can you file bug on that. I've just had a look at bdw-rt5677.c and can see it's mixing DPCM and non DPCM DAI links which is probably rarely tested as all the others are DPCM.

[2019-11-29 02:11] Liviali155 commented on #2114
Not need adjusted the volume to max or min,just adjusted it ,It works at the beginning,but after adjusted sometimes,volume did not work

[2019-11-29 02:20] Liviali155 commented on #2114
When #2135  occurred ,error not seen on BYT RT5682,,but can be reproduced on BYT nocodec,
After #2135  is fixed，isssue  can be reproduced on BYT-RT5682&BYT nocodec

[2019-11-29 03:29] lancedkhou commented on #2117
I tried to disable SST by adding "blacklist snd_soc_skl" on CML 007 device but it can  not fix  DSP load fail scenario.

[2019-11-29 06:09] aiChaoSONG commented on #2107
@mengdonglin @wwittbrx After a double check with Keyon, the speaker no sound issue is a kernel issue, the fix is [PR#1565](https://github.com/thesofproject/linux/pull/1565)

[2019-11-29 09:51] aiChaoSONG commented on #2092
kernel issue,  (Kernel PR #1070) https://github.com/thesofproject/linux/pull/1070 can fix this. close this

[2019-11-29 09:51] #2092 closed

[2019-11-29 11:39] perexg commented on #2118
Ping.

[2019-11-29 16:02] lgirdwood commented on #2118
@perexg unfortunately not yet, I guess we should this be unblocked early next week as some required folks are on ThanksGiving holidays.

[2019-12-02 01:11] mengdonglin commented on #2117
@lancedkhou  DSP load fail scenario has the same root cause as #2136

[2019-12-02 01:23] mengdonglin commented on #2150
Related to #2146 same bisect failure.

[2019-12-02 02:35] Liviali155 opened #2154 "[BUG][APL][PCM512x]"error: ipc error for 0x60010000 size 20" when aplay via(0,0)"
**Describe the bug**
Aplay via (0,0) and Speak-test(0,0) can not work,dmesg show "error: ipc error for 0x60010000 size 20"

**To Reproduce**
1.sudo reboot
2.Run "aplay -Dhw:0,0 -f dat -c 2 wav/48California_Dreaming.wav -vv -i" to aplay via (0,0)   or
  Run "speaker-test -Dhw:0,0 -r48000 -f1000 -c2 -t wav -l 10" to do speaker-test

[code]

**Reproduction Rate**
5/5

**Expected behavior**
Aplay via

[2019-12-02 02:42] Liviali155 commented on #2154
Bi-sect result: Caused by firmwire commit 74e1bcc7[](https://github.com/thesofproject/sof/commit/74e1bcc7866f22e1ec5c060c5448fa6280ca86fc)
@bkokoszx  please check it

[2019-12-02 03:09] Liviali155 commented on #2154
Issue can be reproduced on

platform: BYT MB with RT5682 in I2S mode
Firmware: feb9e2b2 https://github.com/thesofproject/sof/commits/master
Kernel: 0bdbe73a https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-byt-rt5682.tplg same as firmware

[2019-12-02 03:30] #2139 closed

[2019-12-02 04:20] sinahuang commented on #2154
Issue still can be reproduced on APL UP2 with nocodec.
**Test recipe**
platform: APL UP2 with nocodec.
Firmware: feb9e2b https://github.com/thesofproject/sof/commits/master
Kernel: 0bdbe73a https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-apl-nocodec.tplg same as firmware

[2019-12-02 05:46] sinahuang commented on #2144
Issue still can be reproduced on APL UP2 with nocodec.

**Test recipe**
platform: APL UP2 with nocodec.
Firmware: feb9e2b https://github.com/thesofproject/sof/commits/master
Kernel: 0bdbe73a https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-apl-nocodec.tplg same as firmware

<details>
 <summary>dmesg error log</summary>

[code]
</details>

[2019-12-02 09:11] dengyangchao commented on #2144
Issue also can be reproduce on CML Chrome RT5682 when pause-release arecord via HW:0,0

Test recipe
platform: CML Chrome with onboard codec RT5682 in I2S mode
Firmware: feb9e2b https://github.com/thesofproject/sof/commits/master
Kernel: 0bdbe73a https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-cml-rt5682-max98357a.tplg same as firmware

[code]
[code]

[2019-12-02 10:27] Liviali155 commented on #2146
Error not seen on:
platform: APL UP2 with nocodec
Firmware: d740a3e https://github.com/thesofproject/sof/commits/master
Kernel: c6423829 https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/sof-apl-nocodec.tplg same as firmware

[2019-12-02 12:24] bkokoszx commented on #2154
@Liviali155
Do you have reproduction with PR #2156?

[2019-12-02 16:24] plbossart commented on #1847
I don't think those are M/N registers, we don't use them on Baytrail. they look like standard dividers to me?

[2019-12-02 21:20] cujomalainey opened #2157 "[FEATURE] Add support for Samus (2015 Pixelbook)"
**Is your feature request related to a problem? Please describe.**
A common machine for Google to test on is the pixelbooks, it would be excellent to add samus to the mix

**Additional context**
Uses the bdw-rt5677 machine driver

[2019-12-02 22:05] perexg commented on #2118
Ok, another Lenovo X1 Carbon 7th (the first one was a test platform from Lenovo for partners, this one is the final):

<pre>
*** Host Computer Information ***
Name: localhost.localdomain
Manufacturer: LENOVO
Model: 20QES2P407
Processor Name: Intel(R) Core(TM) i7-8665U CPU @ 1.90GHz
OS Version: Fedora 31 Thirty One (5.4.0-2.alsa8.fc31.x86_64)

*** Intel(R) ME Information ***
Engine: Intel(R) Conver

[2019-12-02 22:21] sathya-nujella opened #2158 "[FEATURE] TGL SOF fw build with otc 3k key"
Need SOF fw build with otc 3k key.
Please provide build infra/methodology for TGL.

For TGL, below keys are added.. TGL sof fw build should utilize the keys:
   rimage: keys: add new 3k key
        ./rimage/keys/
                otc_private_key_3k.pem
                otc_public_key_3k.pem

[2019-12-03 01:20] Liviali155 commented on #2154
Tried with PR #2156 on APL UP2 with PCM512x in I2S mode,error not seen

[2019-12-03 02:16] aiChaoSONG commented on #2081
After picking Kernel SOF [PR#1277](https://github.com/thesofproject/linux/pull/1277) to Chrome Kernel, issue cannot reproduced. Close this.

[2019-12-03 02:52] #2081 closed

[2019-12-04 01:00] #2154 closed

[2019-12-04 01:45] keqiaozhang opened #2164 "[BUG] S0ix failure with ipc timed out for 0x40010000 size 76"
**Describe the bug**
This issue only occurs when the device automatically goes to S0ix and unable to reproduce it with command line.

**To Reproduce**
1. Disable rootfs verification:
    /usr/share/vboot/bin/make_dev_ssd.sh --remove_rootfs_verification --partitions 2
2. reboot
3. mv /etc/init/console-ttyS0.conf /usr/local/
4. reboot
5. Use guest mode to log in
6. create several shell to observe s0

[2019-12-04 01:52] keqiaozhang commented on #2117
Since the log attached here are incorrect and the steps to reproduce the issue are not clear, so I filed a new one. Let's track this issue in https://github.com/thesofproject/sof/issues/2164.

[2019-12-04 01:52] #2117 closed

[2019-12-04 04:57] ranj063 commented on #2164
@keqiaozhang the logs and the steps to reproduce dont seem to be consistent. You only mention reboot and idle as the steps to reproduce. But there are 5 instances of pcm open in the dmesg. Where are those coming from?

[2019-12-04 06:09] keqiaozhang commented on #2164
@ranj063
It came form cras, when you type a wrong command and try press ‘’Tab‘’ to complete it, you will hear a "ding" sound, this is the key part to reproduce this issue.  Leave the device idle before you hear the 'ding' sound, you will 100% reproduce this issue. I have updated the steps.

[2019-12-04 06:55] ranj063 commented on #2164
@keqiaozhang what do you mean by "make sure PCM is occupied by CRAS"?

[2019-12-04 07:31] keqiaozhang commented on #2164
@ranj063 The "ding" sound is played by cras on speaker as a warning.  So at this point, speaker is occupying by cras.

[2019-12-04 08:08] aiChaoSONG opened #2165 "[BUG][CML] No data is recorded via DMIC pipeline after it being first muted and then resumed"
**Describe the bug**
run `arecord` via dmic pipeline with -vvv parameter in one terminal, you should see the max peak change, open another terminal, and run `alsamixer`, adjust dmic volume from initial value to zero, wait a moment (>10 second), adjust dmic volume to its initial value. the max peak never changes, and stay zero. check recorded wave file, no data even after volume resumed. check sof-

[2019-12-04 08:10] aiChaoSONG commented on #2165
Note this Machine has two DMICs, one is 2ch 48K, the other is 2ch 16K, only the 2ch 48K DMIC has this issue.

[2019-12-04 08:18] dengyangchao opened #2166 "[BUG][GLK]Playback repetitively via HDMI cause ipc timed out for 0x60040000 size 12"
**Describe the bug**
Playback repetitively  via HDMI cause ipc timed out for 0x60040000 size 12.

Note: Issue also reproduced via "s2idle&resume with HDMI playback" stress test, fail at 142th.

**To Reproduce**
1.Reboot system via"sudo reboot".
2.Wait runtime PM to suspend.
3.playback HDMI via```./sof-test-playback.sh```

**Reproduction Rate**
3/3
1st: fail at 78th
2nd: fail at 1st
3rd: fail at 14

[2019-12-04 15:26] paulstelian97 opened #2170 "[BUG] Trace line number and file name mismatch"
**Describe the bug**
When I have traces enabled (both etrace and DMA trace) and I have the verbose traces enabled,
the WFE/WFX traces have wrong file names. The file name is src/schedule/task.c, but the line number is the one in src/include/sof/lib/wait.h (34, resp. 40). This makes it confusing to users
of the trace subsystem.

**To Reproduce**
Steps to reproduce the behavior: Enable verbose trace

[2019-12-04 15:35] paulstelian97 commented on #2170
@jajanusz It was you who introduced the original changes with RELATIVE_FILE right? Is there any easy way to fix this issue or a more complex solution is required?

I have found an interesting solution [here](https://stackoverflow.com/a/40947954/3897333) but I worry that it may fail to satisfy the
original problem of getting a reproducible build. Could it be used?

[2019-12-04 17:20] plbossart commented on #2123
@ranj063 can you clarify if PR #2137 fully solves this issue or not? It not clear from your write-up if additional changes are needed or not.

[2019-12-04 19:42] moreka commented on #2118
Same for me here on Lenovo X1 Carbon 7th
[code]

[2019-12-04 20:39] perexg commented on #2118
Ping? 9 days....

[2019-12-04 22:03] sathya-nujella commented on #2084
Hi @jajanusz
Can you please update on this?

[2019-12-05 07:39] keyonjie commented on #2164
we have confirmed that the issue is caused by entering runtime S0Ix before audio is runtime suspended, working on solution now.

[2019-12-05 09:07] dengyangchao commented on #2166
Caused by commit e0491ff, and related to #2146 ,same bisect failure @tlauda please help to check

[2019-12-05 09:41] Liviali155 commented on #2150
on APL UP2 nocodec can reproduce this issue  when doing  arecord suspend/resume
arecord show "connection time out" and dmesg show " ipc timed out for 0x60040000 size 12"

***Test recipe***
platform: APL UP2 with nocodec.
Firmware: 65de27d2 https://github.com/thesofproject/sof/commits/master
Kernel: 54c96eae https://github.com/thesofproject/linux/commits/topic/sof-dev
Topology file: tools/topology/

[2019-12-05 11:08] paulstelian97 opened #2172 "Refactor the trace system"
As per the comments from https://github.com/thesofproject/sof/pull/2133#issuecomment-561951637 we need to make some major changes to the trace system.

I want to have that discussion moved into a separate issue where we can follow it instead of polluting other trace related changes.

The main issue pointed out there is that traces should be enabled and disabled at runtime instead of
compile time.

[2019-12-05 13:03] jajanusz commented on #2084
@sathya-nujella I'm debugging this, I have to test it on ICL that has the same clocks to ensure whatever it's just TGL restriction or general requirement that accidentally occurred because of given frequencies.